IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CALCDATEDIFF]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[CALCDATEDIFF]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- function CALCDATEDIFF(prevdate,currentdate)

CREATE FUNCTION CALCDATEDIFF
(
	@PREVDATE DATETIME,
	@CURRENTDATE DATETIME

)
RETURNS INT

AS
	BEGIN
		DECLARE @DAYS INT
		DECLARE @INSTANTPRVDATE DATETIME
		SET @DAYS=0
		DECLARE  @IDENT_COL INT
		SET @IDENT_COL = 1        
		WHILE (1= 1)     
		BEGIN 
				IF(DATEDIFF(DAY,@PREVDATE,@INSTANTPRVDATE)=0)
					BEGIN
						BREAK
					END
				SET @INSTANTPRVDATE=DATEADD(YEAR,-@IDENT_COL,@CURRENTDATE)
				SET @DAYS=DATEDIFF(DAY,@INSTANTPRVDATE,@CURRENTDATE)
			SET @IDENT_COL = @IDENT_COL+1	
		END	
		RETURN 	@DAYS		
	END

GO

