IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[fun_GetTotalTransAmountBANK_RECON]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[fun_GetTotalTransAmountBANK_RECON]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--drop function dbo.fun_GetTotalTransAmountBANK_RECON                             
CREATE FUNCTION dbo.fun_GetTotalTransAmountBANK_RECON                             
(                                        
	@UPDATED_FROM           VARCHAR(2),
	@AC_RECONCILIATION_ID	INT,
	@ACCOUNT_ID 		INT = NULL

)       RETURNS DECIMAL(18,2)    
      
AS              
BEGIN   


	DECLARE @TRANSACTION_AMOUNT DECIMAL(18,2)    
	
	IF (ISNULL(@ACCOUNT_ID,0) = 0)
	BEGIN
		SELECT 
			@TRANSACTION_AMOUNT = SUM(ISNULL(TRANSACTION_AMOUNT,0))
			FROM ACT_BANK_RECONCILIATION_ITEMS_DETAILS REC WITH(NOLOCK)
			INNER JOIN ACT_ACCOUNTS_POSTING_DETAILS PD WITH(NOLOCK)
			ON PD.IDENTITY_ROW_ID = REC.IDENTITY_ROW_ID
			LEFT JOIN ACT_CURRENT_DEPOSITS DEP WITH(NOLOCK)
			ON PD.SOURCE_ROW_ID   =  DEP.DEPOSIT_ID 
			AND PD.UPDATED_FROM = 'D'
			LEFT JOIN ACT_CHECK_INFORMATION CHK WITH(NOLOCK)
			ON PD.SOURCE_ROW_ID   =  CHK.CHECK_ID
			AND PD.UPDATED_FROM = 'C'
			WHERE REC.AC_RECONCILIATION_ID = @AC_RECONCILIATION_ID
			AND PD.UPDATED_FROM  = @UPDATED_FROM
	
	END 
	
	ELSE
	BEGIN
	
	
		SELECT @TRANSACTION_AMOUNT = SUM(ISNULL(TRANSACTION_AMOUNT,0))
			FROM ACT_ACCOUNTS_POSTING_DETAILS WITH(NOLOCK)
			WHERE ACCOUNT_ID = @ACCOUNT_ID
			AND ISNULL(IS_BANK_RECONCILED,'N')='N' 
			AND IDENTITY_ROW_ID NOT IN (
				SELECT IDENTITY_ROW_ID FROM ACT_BANK_RECONCILIATION_ITEMS_DETAILS WITH(NOLOCK)
				WHERE AC_RECONCILIATION_ID=@AC_RECONCILIATION_ID
				
				)
			AND  UPDATED_FROM =@UPDATED_FROM
	
	END
	
	RETURN @TRANSACTION_AMOUNT	


END










GO

