IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[fun_GetTotalIncome_1099]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[fun_GetTotalIncome_1099]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION dbo.fun_GetTotalIncome_1099
(
@FORM_1099_ID INT
)RETURNS DECIMAL(18,2)
AS 
BEGIN
DECLARE @TOTAL_INCOME DECIMAL(18,2)
SELECT @TOTAL_INCOME =  
	ISNULL(RENTS,0) + 
	ISNULL(ROYALATIES,0) + 
	ISNULL(OTHERINCOME,0) +
	ISNULL(FEDERAL_INCOME_TAXWITHHELD,0) +
	ISNULL(FISHING_BOAT_PROCEEDS,0) + 
	ISNULL(MEDICAL_AND_HEALTH_CARE_PRODUCTS,0) +
	ISNULL(NON_EMPLOYEMENT_COMPENSATION,0)+
	ISNULL(SUBSTITUTE_PAYMENTS,0)+
	ISNULL(PAYER_MADE_DIRECT_SALES,0)+
	ISNULL(CROP_INSURANCE_PROCEED,0) +
	ISNULL(EXCESS_GOLDEN_PARACHUTE_PAYMENTS,0)+
	ISNULL(GROSS_PROCEEDS_PAID_TO_AN_ATTORNEY,0) +
	ISNULL(STATE_TAX_WITHHELD ,0) +
	ISNULL(STATE_PAYER_STATE_NO,0)+
	ISNULL(STATE_INCOME,0)
FROM FORM_1099 WITH(NOLOCK) 
WHERE FORM_1099_ID = @FORM_1099_ID

RETURN @TOTAL_INCOME

END

GO

