IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PADSPACES]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[PADSPACES]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION dbo.PADSPACES(@STRING VARCHAR(255), @REQUIRED_LENGTH INTEGER)
RETURNS VARCHAR(255) AS  
BEGIN
 
 RETURN CASE
          WHEN LEN(@STRING) = @REQUIRED_LENGTH THEN @STRING
   WHEN LEN(@STRING) < @REQUIRED_LENGTH THEN @STRING + REPLICATE(' ', @REQUIRED_LENGTH - LEN(@STRING))
          WHEN LEN(@STRING) > @REQUIRED_LENGTH THEN left(@STRING,@REQUIRED_LENGTH) + '...' 
        END
END

GO

