IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[APPENDZERO]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[APPENDZERO]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

Create FUNCTION [dbo].[APPENDZERO](@STRING VARCHAR(255), @REQUIRED_LENGTH INTEGER)        
 RETURNS VARCHAR(255) AS          
 BEGIN        
          
RETURN   
CASE WHEN LEN(@STRING) = @REQUIRED_LENGTH THEN  
 DBO.PADSPACES_NEW(@STRING,@REQUIRED_LENGTH)  
ELSE  
  DBO.PADSPACES_NEW ( (REPLICATE('0',(@REQUIRED_LENGTH - LEN(DBO.PADSPACES_NEW(@STRING,@REQUIRED_LENGTH)))) + @STRING)  , @REQUIRED_LENGTH)    
END   
    
 END 




GO

