IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FnGetIdenType]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[FnGetIdenType]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN
--DROP FUNCTION DBO.FnGetIdenType
--GO
CREATE FUNCTION dbo.FnGetIdenType
(
	@IDEN_LIST AS VARCHAR(8000)
)

RETURNS @TEMP TABLE
	(
		IDENTITY_COL int identity(1,1),
		IDEN_ROW_ID varchar(1000),
		AMOUNT		DECIMAL(18,2)
	)
AS 
BEGIN

	DECLARE @ITEM varchar(8000)
	DECLARE @AMOUNT DECIMAL(18,2)

	--SET @IDEN_LIST = '67064,67065,67066,67067,67068,,91081'
		set @IDEN_LIST =  @IDEN_LIST + ','
		WHILE CHARINDEX(',',@IDEN_LIST,0) <> 0
		BEGIN
			SELECT
			@ITEM=RTRIM(LTRIM(SUBSTRING(@IDEN_LIST,1,CHARINDEX(',',@IDEN_LIST,0)-1))),
						@IDEN_LIST=RTRIM(LTRIM(SUBSTRING(@IDEN_LIST,CHARINDEX(',',@IDEN_LIST,0)+1,LEN(@IDEN_LIST))))

			SELECT @AMOUNT = TOTAL_PAID - TOTAL_DUE FROM ACT_CUSTOMER_OPEN_ITEMS WHERE IDEN_ROW_ID = @ITEM
			IF LEN(@ITEM) > 0
			INSERT INTO @TEMP values (@ITEM, @AMOUNT)
		END	
--	SELECT * from @TEMP
RETURN
END

--GO
--select * from FnGetIdenType ('67064,67065,67066,67067,67068,,91081')
--ROLLBACK TRAN

--SELECT * FROM ACT_CUSTOMER_OPEN_ITEMS WHERE CUSTOMER_ID = 234
GO

