/****** Object:  Table [dbo].[MNT_TableDesc]    Script Date: 07/29/2014 18:12:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MNT_TableDesc](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](100) NOT NULL,
	[TableDesc] [nvarchar](200) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MNT_TableDesc] ON
INSERT [dbo].[MNT_TableDesc] ([Id], [TableName], [TableDesc]) VALUES (1, N'MNT_InsruanceM', N'Insruance Master')
INSERT [dbo].[MNT_TableDesc] ([Id], [TableName], [TableDesc]) VALUES (2, N'MNT_BranchLogin', N'Branch Login')
INSERT [dbo].[MNT_TableDesc] ([Id], [TableName], [TableDesc]) VALUES (3, N'MNT_SYS_PARAMS', N'SYS PARAMS')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[MNT_TableDesc] OFF
