IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 83
  AND MenuId = 130)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'83', 130, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 83
  AND MenuId = 225)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'83', 225, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 83
  AND MenuId = 136)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'83', 136, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 83
  AND MenuId = 230)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'83', 230, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 83
  AND MenuId = 137)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'83', 137, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 83
  AND MenuId = 229)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'83', 229, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 83
  AND MenuId = 135)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'83', 135, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 83
  AND MenuId = 227)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'83', 227, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 83
  AND MenuId = 133)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'83', 133, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 83
  AND MenuId = 131)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'83', 131, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 83
  AND MenuId = 239)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'83', 239, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 83
  AND MenuId = 139)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'83', 139, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 83
  AND MenuId = 226)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'83', 226, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 83
  AND MenuId = 132)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'83', 132, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 83
  AND MenuId = 237)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'83', 237, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 83
  AND MenuId = 138)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'83', 138, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 83
  AND MenuId = 228)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'83', 228, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 83
  AND MenuId = 134)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'83', 134, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 83
  AND MenuId = 140)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'83', 140, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 84
  AND MenuId = 130)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'84', 130, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 84
  AND MenuId = 225)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'84', 225, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 84
  AND MenuId = 136)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'84', 136, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 84
  AND MenuId = 230)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'84', 230, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 84
  AND MenuId = 137)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'84', 137, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 84
  AND MenuId = 229)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'84', 229, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 84
  AND MenuId = 135)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'84', 135, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 84
  AND MenuId = 227)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'84', 227, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 84
  AND MenuId = 133)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'84', 133, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 84
  AND MenuId = 131)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'84', 131, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 84
  AND MenuId = 239)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'84', 239, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 84
  AND MenuId = 139)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'84', 139, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 84
  AND MenuId = 226)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'84', 226, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 84
  AND MenuId = 132)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'84', 132, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 84
  AND MenuId = 237)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'84', 237, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 84
  AND MenuId = 138)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'84', 138, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 84
  AND MenuId = 228)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'84', 228, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 84
  AND MenuId = 134)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'84', 134, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 84
  AND MenuId = 140)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'84', 140, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 85
  AND MenuId = 130)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'85', 130, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 85
  AND MenuId = 225)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'85', 225, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 85
  AND MenuId = 136)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'85', 136, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 85
  AND MenuId = 230)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'85', 230, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 85
  AND MenuId = 137)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'85', 137, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 85
  AND MenuId = 229)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'85', 229, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 85
  AND MenuId = 135)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'85', 135, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 85
  AND MenuId = 227)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'85', 227, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 85
  AND MenuId = 133)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'85', 133, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 85
  AND MenuId = 131)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'85', 131, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 85
  AND MenuId = 239)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'85', 239, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 85
  AND MenuId = 139)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'85', 139, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 85
  AND MenuId = 226)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'85', 226, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 85
  AND MenuId = 132)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'85', 132, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 85
  AND MenuId = 237)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'85', 237, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 85
  AND MenuId = 138)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'85', 138, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 85
  AND MenuId = 228)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'85', 228, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 85
  AND MenuId = 134)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'85', 134, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 85
  AND MenuId = 140)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'85', 140, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 87
  AND MenuId = 130)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'87', 130, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 87
  AND MenuId = 225)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'87', 225, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 87
  AND MenuId = 136)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'87', 136, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 87
  AND MenuId = 230)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'87', 230, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 87
  AND MenuId = 137)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'87', 137, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 87
  AND MenuId = 229)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'87', 229, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 87
  AND MenuId = 135)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'87', 135, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 87
  AND MenuId = 227)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'87', 227, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 87
  AND MenuId = 133)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'87', 133, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 87
  AND MenuId = 131)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'87', 131, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 87
  AND MenuId = 239)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'87', 239, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 87
  AND MenuId = 139)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'87', 139, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 87
  AND MenuId = 226)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'87', 226, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 87
  AND MenuId = 132)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'87', 132, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 87
  AND MenuId = 237)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'87', 237, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 87
  AND MenuId = 138)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'87', 138, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 87
  AND MenuId = 228)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'87', 228, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 87
  AND MenuId = 134)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'87', 134, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 87
  AND MenuId = 140)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'87', 140, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 88
  AND MenuId = 130)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'88', 130, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 88
  AND MenuId = 225)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'88', 225, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 88
  AND MenuId = 136)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'88', 136, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 88
  AND MenuId = 230)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'88', 230, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 88
  AND MenuId = 137)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'88', 137, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 88
  AND MenuId = 229)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'88', 229, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 88
  AND MenuId = 135)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'88', 135, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 88
  AND MenuId = 227)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'88', 227, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 88
  AND MenuId = 133)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'88', 133, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 88
  AND MenuId = 131)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'88', 131, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 88
  AND MenuId = 239)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'88', 239, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 88
  AND MenuId = 139)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'88', 139, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 88
  AND MenuId = 226)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'88', 226, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 88
  AND MenuId = 132)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'88', 132, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 88
  AND MenuId = 237)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'88', 237, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 88
  AND MenuId = 138)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'88', 138, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 88
  AND MenuId = 228)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'88', 228, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 88
  AND MenuId = 134)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'88', 134, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 88
  AND MenuId = 140)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'88', 140, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 89
  AND MenuId = 130)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'89', 130, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 89
  AND MenuId = 225)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'89', 225, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 89
  AND MenuId = 136)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'89', 136, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 89
  AND MenuId = 230)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'89', 230, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 89
  AND MenuId = 137)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'89', 137, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 89
  AND MenuId = 229)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'89', 229, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 89
  AND MenuId = 135)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'89', 135, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 89
  AND MenuId = 227)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'89', 227, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 89
  AND MenuId = 133)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'89', 133, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 89
  AND MenuId = 131)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'89', 131, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 89
  AND MenuId = 239)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'89', 239, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 89
  AND MenuId = 139)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'89', 139, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 89
  AND MenuId = 226)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'89', 226, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 89
  AND MenuId = 132)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'89', 132, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 89
  AND MenuId = 237)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'89', 237, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 89
  AND MenuId = 138)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'89', 138, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 89
  AND MenuId = 228)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'89', 228, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 89
  AND MenuId = 134)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'89', 134, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 89
  AND MenuId = 140)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'89', 140, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 90
  AND MenuId = 130)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'90', 130, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 90
  AND MenuId = 225)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'90', 225, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 90
  AND MenuId = 136)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'90', 136, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 90
  AND MenuId = 230)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'90', 230, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 90
  AND MenuId = 137)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'90', 137, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 90
  AND MenuId = 229)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'90', 229, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 90
  AND MenuId = 135)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'90', 135, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 90
  AND MenuId = 227)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'90', 227, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 90
  AND MenuId = 133)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'90', 133, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 90
  AND MenuId = 131)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'90', 131, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 90
  AND MenuId = 239)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'90', 239, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 90
  AND MenuId = 139)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'90', 139, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 90
  AND MenuId = 226)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'90', 226, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 90
  AND MenuId = 132)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'90', 132, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 90
  AND MenuId = 237)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'90', 237, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 90
  AND MenuId = 138)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'90', 138, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 90
  AND MenuId = 228)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'90', 228, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 90
  AND MenuId = 134)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'90', 134, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 90
  AND MenuId = 140)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'90', 140, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 91
  AND MenuId = 130)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'91', 130, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 91
  AND MenuId = 225)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'91', 225, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 91
  AND MenuId = 136)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'91', 136, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 91
  AND MenuId = 230)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'91', 230, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 91
  AND MenuId = 137)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'91', 137, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 91
  AND MenuId = 229)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'91', 229, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 91
  AND MenuId = 135)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'91', 135, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 91
  AND MenuId = 227)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'91', 227, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 91
  AND MenuId = 133)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'91', 133, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 91
  AND MenuId = 131)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'91', 131, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 91
  AND MenuId = 239)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'91', 239, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 91
  AND MenuId = 139)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'91', 139, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 91
  AND MenuId = 226)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'91', 226, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 91
  AND MenuId = 132)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'91', 132, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 91
  AND MenuId = 237)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'91', 237, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 91
  AND MenuId = 138)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'91', 138, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 91
  AND MenuId = 228)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'91', 228, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 91
  AND MenuId = 134)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'91', 134, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 91
  AND MenuId = 140)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'91', 140, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 95
  AND MenuId = 130)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'95', 130, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 95
  AND MenuId = 225)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'95', 225, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 95
  AND MenuId = 136)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'95', 136, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 95
  AND MenuId = 230)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'95', 230, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 95
  AND MenuId = 137)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'95', 137, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 95
  AND MenuId = 229)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'95', 229, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 95
  AND MenuId = 135)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'95', 135, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 95
  AND MenuId = 227)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'95', 227, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 95
  AND MenuId = 133)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'95', 133, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 95
  AND MenuId = 131)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'95', 131, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 95
  AND MenuId = 239)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'95', 239, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 95
  AND MenuId = 139)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'95', 139, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 95
  AND MenuId = 226)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'95', 226, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 95
  AND MenuId = 132)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'95', 132, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 95
  AND MenuId = 237)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'95', 237, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 95
  AND MenuId = 138)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'95', 138, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 95
  AND MenuId = 228)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'95', 228, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 95
  AND MenuId = 134)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'95', 134, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 95
  AND MenuId = 140)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'95', 140, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 96
  AND MenuId = 130)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'96', 130, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 96
  AND MenuId = 225)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'96', 225, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 96
  AND MenuId = 136)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'96', 136, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 96
  AND MenuId = 230)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'96', 230, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 96
  AND MenuId = 137)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'96', 137, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 96
  AND MenuId = 229)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'96', 229, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 96
  AND MenuId = 135)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'96', 135, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 96
  AND MenuId = 227)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'96', 227, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 96
  AND MenuId = 133)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'96', 133, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 96
  AND MenuId = 131)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'96', 131, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 96
  AND MenuId = 239)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'96', 239, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 96
  AND MenuId = 139)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'96', 139, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 96
  AND MenuId = 226)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'96', 226, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 96
  AND MenuId = 132)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'96', 132, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 96
  AND MenuId = 237)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'96', 237, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 96
  AND MenuId = 138)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'96', 138, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 96
  AND MenuId = 228)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'96', 228, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 96
  AND MenuId = 134)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'96', 134, N'Y', 0, 1, 1, 1, 1)
END
IF NOT EXISTS (SELECT
    1
  FROM [MNT_GroupPermission]
  WHERE [GroupId] = 96
  AND MenuId = 140)
BEGIN
  INSERT [dbo].[MNT_GroupPermission] ([GroupId], [MenuId], [Status], [RowId], [Read], [Write], [Delete], [SplPermission])
    VALUES (N'96', 140, N'Y', 0, 1, 1, 1, 1)
END