--USE [EBIX-ADV-ALBA-UAT-LIVE-12112011]
GO
/****** Object:  Table [dbo].[ALBA_CLUBE_05]    Script Date: 11/18/2011 10:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALBA_CLUBE_05](
	[APPLICATION_NO] [nvarchar](255) NULL,
	[COAPP] [nvarchar](255) NULL,
	[SUBLOB] [float] NULL,
	[COAPP_CNPJ] [nvarchar](255) NULL,
	[INDIVIDUAL_NAME] [nvarchar](255) NULL,
	[CODE] [float] NULL,
	[IS_SPOUSE_OR_CHILD] [nvarchar](255) NULL,
	[GENDER] [float] NULL,
	[CPF_CNPJ] [nvarchar](255) NULL,
	[STATE] [nvarchar](255) NULL,
	[DATE_OF_BIRTH] [datetime] NULL,
	[REGIONAL_IDENTIFICATION] [float] NULL,
	[REGIONAL_ID] [nvarchar](255) NULL,
	[REGIONAL_ID_ISSUES] [datetime] NULL,
	[POSITION] [nvarchar](255) NULL,
	[CITY_OF_BIRTH] [nvarchar](255) NULL,
	[COVERAGE_CODE] [float] NULL,
	[DEDUCTIBLE_TYPE] [float] NULL,
	[MINIMUM_DEDUCTIBLE] [float] NULL,
	[PREMIUM] [float] NULL,
	[SUM_INSURED] [float] NULL,
	[NEW_CODE] [int] NULL
) ON [PRIMARY]
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
