IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACORD_QUOTE_DETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[ACORD_QUOTE_DETAILS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACORD_QUOTE_DETAILS](
	[ACORD_QUOTE_NUMBER] [int] NOT NULL IDENTITY (1,1),
	[AGENCY_ID] [int] NULL,
	[ACORD_XML] [text] NULL,
	[QQ_XML] [text] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[INSURANCE_SVC_RQ] [nvarchar] (100) NULL,
	[CUSTOMER_ID] [int] NULL,
	[APP_ID] [int] NULL,
	[APP_VERSION_ID] [smallint] NULL,
	[STATE_ID] [int] NULL,
	[PREMIUM_XML] [text] NULL,
	[CUSTOMER_INSURANCE_SCORE] [int] NULL,
	[CUSTOMER_INSURANCE_RECEIVED_DATE] [datetime] NULL,
	[CUSTOMER_REASON_CODE] [nvarchar] (10) NULL,
	[CUSTOMER_REASON_CODE2] [nvarchar] (10) NULL,
	[CUSTOMER_REASON_CODE3] [nvarchar] (10) NULL,
	[CUSTOMER_REASON_CODE4] [nvarchar] (10) NULL,
	[INSU_SCO_ACEPT_ID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACORD_QUOTE_DETAILS] ADD CONSTRAINT [PK_ACORD_QUOTE_DETAILS_ACORD_QUOTE_NUMBER] PRIMARY KEY
	NONCLUSTERED
	(
		[ACORD_QUOTE_NUMBER] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
		,FILLFACTOR = 90
	) ON [PRIMARY]
GO

