IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RPT_AGENCY_PRODUCTION_DATA]') AND type in (N'U'))
DROP TABLE [dbo].[RPT_AGENCY_PRODUCTION_DATA]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[RPT_AGENCY_PRODUCTION_DATA](
	[STATE_NAME] [nvarchar] (60) NULL,
	[AGENCY_CODE] [nvarchar] (30) NULL,
	[AGENCY_DISPLAY_NAME] [nvarchar] (100) NULL,
	[LOB_DESC] [nvarchar] (30) NULL,
	[STATE_ID] [int] NOT NULL,
	[AGENCY_ID] [int] NOT NULL,
	[LOB_ID] [int] NOT NULL,
	[YEAR_NUMBER] [int] NOT NULL,
	[MONTH_NUMBER] [int] NOT NULL,
	[WRITTEN_PREMIUM_NBS] [decimal] (38,6) NULL,
	[NBS_EFFECTIVE_CURRENT] [int] NULL,
	[NBS_EFFECTIVE_CANCEL] [int] NULL,
	[WRITTEN_PREMIUM_RENEW] [decimal] (38,6) NULL,
	[RENEWAL_EFFECTIVE] [int] NULL,
	[RENEWAL_EFFECTIVE_CANCEL] [int] NULL,
	[TOTAL_EXPIRED] [int] NULL,
	[NON_RENEWAL_EFFECTIVE] [int] NULL,
	[WRITTEN_PREMIUM_NBS_YTD] [decimal] (38,6) NULL,
	[NBS_EFFECTIVE_YTD] [int] NULL,
	[WRITTEN_PREMIUM_RENEW_YTD] [decimal] (38,6) NULL,
	[RENEWAL_EFFECTIVE_YTD] [int] NULL,
	[TOTAL_CANCEL_YTD] [int] NULL,
	[TOTAL_WRITTEN_PREMIUM_YTD] [decimal] (38,6) NULL,
	[TOTAL_INFORCE] [int] NULL,
	[WRITTEN_PREMIUM_PREVIOUS_YTD] [decimal] (18,2) NULL,
	[INFORCE_TOTAL_PREVIOUS] [int] NULL,
	[EARNED_PREMIUM] [decimal] (38,2) NULL,
	[LOSSES_INCURRED] [decimal] (38,2) NULL,
	[LOSS_PAID] [decimal] (38,2) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[RPT_AGENCY_PRODUCTION_DATA] ADD CONSTRAINT [PK_RPT_AGENCY_PRODUCTION_DATA_STATE_ID_AGENCY_ID_LOB_ID_YEAR_NUMBER_MONTH_NUMBER] PRIMARY KEY
	CLUSTERED
	(
		[STATE_ID] ASC
		,[AGENCY_ID] ASC
		,[LOB_ID] ASC
		,[YEAR_NUMBER] ASC
		,[MONTH_NUMBER] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

