IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_VIOLATIONS]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_VIOLATIONS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_VIOLATIONS](
	[VIOLATION_ID] [int] NOT NULL,
	[VIOLATION_CODE] [nvarchar] (10) NULL,
	[VIOLATION_DES] [nvarchar] (100) NULL,
	[MVR_POINTS] [int] NULL,
	[SD_POINTS] [int] NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[State] [int] NULL,
	[LOB] [int] NULL,
	[VIOLATION_GROUP] [int] NULL,
	[VIOLATION_PARENT] [int] NULL,
	[MVR_POINTS_OLD] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_VIOLATIONS] ADD CONSTRAINT [PK_MNT_VIOLATIONS_VIOLATION_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[VIOLATION_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

