IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_TIME_ZONE_LIST]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_TIME_ZONE_LIST]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_TIME_ZONE_LIST](
	[TIME_ID] [int] NOT NULL IDENTITY (1,1),
	[TIME_CODE] [nvarchar] (6) NULL,
	[TIME_DESC] [nvarchar] (70) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_TIME_ZONE_LIST] ADD CONSTRAINT [PK_MNT_TIME_ZONE_LIST_TIME_ID] PRIMARY KEY
	CLUSTERED
	(
		[TIME_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

