IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TRANSACTIONTYPELIST_MULTILINGUAL]') AND type in (N'U'))
DROP TABLE [dbo].[TRANSACTIONTYPELIST_MULTILINGUAL]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[TRANSACTIONTYPELIST_MULTILINGUAL](
	[TRANS_TYPE_ID] [int] NOT NULL,
	[TRANS_TYPE_NAME] [nvarchar] (200) NULL,
	[LANG_ID] [int] NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TRANSACTIONTYPELIST_MULTILINGUAL] ADD CONSTRAINT [PK_TRANSACTIONTYPELIST_MULTILINGUAL_TRANS_TYPE_ID_LANG_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[TRANS_TYPE_ID] ASC
		,[LANG_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

