IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_SCREEN_LIST]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_SCREEN_LIST]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_SCREEN_LIST](
	[SCREEN_ID] [varchar] (20) NOT NULL,
	[SCREEN_DESC] [varchar] (255) NULL,
	[SCREEN_PATH] [varchar] (512) NULL,
	[SCREEN_READ] [bit] NULL,
	[SCREEN_WRITE] [bit] NULL,
	[SCREEN_DELETE] [bit] NULL,
	[SCREEN_EXECUTE] [bit] NULL,
	[IS_ACTIVE] [nchar] (1) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_SCREEN_LIST] ADD CONSTRAINT [PK_MNT_SCREEN_LIST_SCREEN_ID] PRIMARY KEY
	CLUSTERED
	(
		[SCREEN_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

