IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_REG_COMM_SETUP]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_REG_COMM_SETUP]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_REG_COMM_SETUP](
	[COMM_ID] [int] NOT NULL,
	[COUNTRY_ID] [int] NOT NULL,
	[STATE_ID] [smallint] NULL,
	[LOB_ID] [smallint] NOT NULL,
	[SUB_LOB_ID] [smallint] NULL,
	[CLASS_RISK] [int] NULL,
	[TERM] [char] (1) NULL,
	[EFFECTIVE_FROM_DATE] [datetime] NULL,
	[EFFECTIVE_TO_DATE] [datetime] NULL,
	[COMMISSION_PERCENT] [decimal] (8,2) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[COMMISSION_TYPE] [char] (1) NULL,
	[AGENCY_ID] [int] NULL,
	[REMARKS] [nvarchar] (250) NULL,
	[AMOUNT_TYPE] [char] (1) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_REG_COMM_SETUP] ADD CONSTRAINT [PK_ACT_REG_COMM_SETUP_COMM_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[COMM_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_REG_COMM_SETUP] ADD CONSTRAINT [FK_ACT_REG_COMM_SETUP_COUNTRY_ID] FOREIGN KEY
	(
		[COUNTRY_ID]
	)
	REFERENCES [dbo].[MNT_COUNTRY_LIST]
	(
		[COUNTRY_ID]
	) 
GO

