IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USERQUESTIONS]') AND type in (N'U'))
DROP TABLE [dbo].[USERQUESTIONS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[USERQUESTIONS](
	[QID] [int] NOT NULL,
	[CARRIERID] [int] NOT NULL,
	[QUESTIONLISTID] [int] NULL,
	[PARENTQID] [int] NULL,
	[TABID] [int] NOT NULL,
	[QDESC] [nvarchar] (500) NULL,
	[HASCHILDQ] [int] NULL,
	[QTYPE] [nchar] (1) NULL,
	[SEQNO] [int] NULL,
	[ISREQ] [nchar] (1) NULL,
	[VALIDATIONTYPEID] [int] NULL,
	[SCREENINDENT] [int] NULL,
	[SCREENPOSITION] [nchar] (1) NULL,
	[REQWHENPQ] [int] NULL,
	[REFERRER] [nchar] (1) NULL,
	[SCREENID] [int] NOT NULL,
	[SCREENSECTION] [nvarchar] (50) NULL,
	[PREFIX] [nvarchar] (100) NULL,
	[SUFFIX] [nvarchar] (100) NULL,
	[QNOTES] [nvarchar] (500) NULL,
	[FLGQUESDESC] [nchar] (1) NULL,
	[QUESTIONTYPEID] [numeric] (22,0) NULL,
	[GROUPID] [numeric] (22,0) NULL,
	[ANSWERTYPEID] [numeric] (22,0) NULL,
	[DESCTEXT] [nvarchar] (400) NULL,
	[FLGCOMPVALUE] [nvarchar] (200) NULL,
	[ISACTIVE] [nchar] (2) NULL,
	[LASTMODIFIEDDATE] [datetime] NULL,
	[LASTMODIFIEDBY] [int] NULL,
	[REQTOTAL] [nchar] (1) NULL,
	[STYLE] [nvarchar] (500) NULL,
	[MAXLENGTH] [int] NULL,
	[VALIDATIONTYPE] [nvarchar] (500) NULL,
	[COLSPAN] [int] NULL,
	[DEPQUESTIONTEXT] [nvarchar] (200) NULL,
	[DEPQUESTYPE] [int] NULL,
	[DEPANSTYPE] [int] NULL,
	[DEPQUESTIONLIST] [int] NULL,
	[QUESMAPPING] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[USERQUESTIONS] ADD CONSTRAINT [PK_QUSERQUESTIONS_CARRIERID_SCREENID_TABID_QID] PRIMARY KEY
	CLUSTERED
	(
		[CARRIERID] ASC
		,[SCREENID] ASC
		,[TABID] ASC
		,[QID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

