IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_FINANCE_COMPANY_LIST]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_FINANCE_COMPANY_LIST]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_FINANCE_COMPANY_LIST](
	[COMPANY_ID] [int] NOT NULL IDENTITY (1,1),
	[COMPANY_NAME] [varchar] (70) NULL,
	[COMPANY_CODE] [nvarchar] (6) NULL,
	[COMPANY_ADD1] [nvarchar] (70) NULL,
	[COMPANY_ADD2] [nvarchar] (70) NULL,
	[COMPANY_CITY] [nvarchar] (40) NULL,
	[COMPANY_COUNTRY] [nvarchar] (5) NULL,
	[COMPANY_STATE] [nvarchar] (5) NULL,
	[COMPANY_ZIP] [varchar] (11) NULL,
	[COMPANY_MAIN_PHONE_NO] [nvarchar] (15) NULL,
	[COMPANY_TOLL_FREE_NO] [nvarchar] (15) NULL,
	[COMPANY_EXT] [nvarchar] (5) NULL,
	[COMPANY_FAX] [nvarchar] (15) NULL,
	[COMPANY_EMAIL] [nvarchar] (50) NULL,
	[COMPANY_WEBSITE] [nvarchar] (70) NULL,
	[COMPANY_MOBILE] [nvarchar] (15) NULL,
	[COMPANY_TERMS] [nvarchar] (3) NULL,
	[COMPANY_TERMS_DESC] [nvarchar] (1000) NULL,
	[COMPANY_NOTE] [nvarchar] (1000) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_FINANCE_COMPANY_LIST] ADD CONSTRAINT [PK_MNT_FINANCE_COMPANY_LIST_COMPANY_ID] PRIMARY KEY
	CLUSTERED
	(
		[COMPANY_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

