IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAGNET_EXPORT_RECORD]') AND type in (N'U'))
DROP TABLE [dbo].[PAGNET_EXPORT_RECORD]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[PAGNET_EXPORT_RECORD](
	[ID] [int] NOT NULL IDENTITY (1,1),
	[INTERFACE_CODE] [varchar] (2) NULL,
	[SEQUENCE_OF_RECORD] [bigint] NULL,
	[BENEFICIARY_TYPE] [varchar] (1) NULL,
	[FOREIGN] [varchar] (1) NULL,
	[BENEFICIARY_CLASS] [varchar] (3) NULL,
	[BENEFICIARY_NAME] [nvarchar] (404) NULL,
	[BENEFICIARY_ID] [nvarchar] (40) NULL,
	[BENEFICIARY_FOREIGN_ID] [varchar] (1) NULL,
	[BENEFICIARY_ADDRESS_STREET_NAME] [nvarchar] (300) NULL,
	[BENEFICIARY_ADDRESS_NUMBER] [nvarchar] (40) NULL,
	[BENEFICIARY_ADDRESS_COMPLEMENT] [nvarchar] (200) NULL,
	[BENEFICIARY_ADDRESS_DISTRICT] [nvarchar] (40) NULL,
	[BENEFICIARY_ADDRESS_STATE] [nvarchar] (20) NULL,
	[BENEFICIARY_ADDRESS_CITY] [nvarchar] (140) NULL,
	[BENEFICIARY_ADDRESS_ZIP_CODE] [nvarchar] (10) NULL,
	[BENEFICIARY_EMAIL_ADDRESS] [nvarchar] (100) NULL,
	[BENEFICIARY_BANK_NUMBER] [varchar] (MAX) NULL,
	[BENEFICIARY_BANK_BRANCH] [varchar] (MAX) NULL,
	[BENEFICIARY_BANK_BRANCH_VERIFIER_DIGIT] [varchar] (MAX) NULL,
	[BENEFICIARY_BANK_ACCOUNT_NUMBER] [varchar] (MAX) NULL,
	[BENEFICIARY_BANK_ACCOUNT_VERIFIER_DIGIT] [varchar] (MAX) NULL,
	[BENEFICIARY_BANK_ACCOUNT_TYPE] [varchar] (2) NULL,
	[BENEFICIARY_BANK_ACCOUNT_CURRENCY] [varchar] (1) NULL,
	[CÓD_TRIBUTAÇÃO_IRRF] [varchar] (MAX) NULL,
	[NATUREZA_DO_RENDIMENTO] [varchar] (MAX) NULL,
	[CALCULA_ISS_?] [varchar] (MAX) NULL,
	[CALCULA_INSS_?] [varchar] (MAX) NULL,
	[CÓD_TRIBUTAÇÃO_INSS] [varchar] (MAX) NULL,
	[CÓD_TRIBUTAÇÃO_CSLL] [varchar] (MAX) NULL,
	[CÓD_TRIBUTAÇÃO_COFINS] [varchar] (MAX) NULL,
	[CÓD_TRIBUTAÇÃO_PIS] [varchar] (MAX) NULL,
	[NO_DE_DEPENDENTES] [varchar] (MAX) NULL,
	[NO_PIS] [varchar] (MAX) NULL,
	[INSCRIÇÃO_MUNICIPAL] [varchar] (MAX) NULL,
	[NÚMERO_INTERNO_DO_CORRETOR] [varchar] (MAX) NULL,
	[CBO_CLASSIFIC_BRASILEIRA_OCUPAÇÃO] [varchar] (MAX) NULL,
	[CÓDIGO_SUSEP] [varchar] (MAX) NULL,
	[NO_DO_FUNCIONÁRIO] [varchar] (MAX) NULL,
	[CÓD_DA_FILIAL] [varchar] (MAX) NULL,
	[CÓD_DO_CENTRO_DE_CUSTO] [varchar] (MAX) NULL,
	[DATE_OF_BIRTH] [varchar] (10) NULL,
	[PAYEE_PARTY_TYPE] [varchar] (1) NULL,
	[FOREIGN2] [varchar] (1) NULL,
	[PAYEE_CLASS] [varchar] (3) NULL,
	[PAYEE_NAME] [nvarchar] (404) NULL,
	[PAYEE_ID_CPF_CNPJ] [nvarchar] (40) NULL,
	[PAYEE_FOREIGN_ID] [varchar] (1) NULL,
	[PAYEE_BANK_NUMBER] [varchar] (MAX) NULL,
	[PAYEE_BANK_BRANCH] [varchar] (MAX) NULL,
	[PAYEE_BANK_BRANCH_VERIFIER_DIGIT] [varchar] (MAX) NULL,
	[PAYEE_BANK_ACCOUNT_NO] [varchar] (MAX) NULL,
	[PAYEE_BANK_ACCOUNT_VERIFIER_DIGIT] [varchar] (MAX) NULL,
	[PAYEE_BANK_ACCOUNT_TYPE] [varchar] (MAX) NULL,
	[PAYEE_BANK_ACCOUNT_CURRENCY] [varchar] (MAX) NULL,
	[PAYMENT_ID] [varchar] (MAX) NULL,
	[CARRIER_CODE] [varchar] (MAX) NULL,
	[CARRIER_POLICY_BRANCH_CODE] [varchar] (MAX) NULL,
	[EVENT_CODE] [varchar] (MAX) NULL,
	[OPERATION_TYPE] [varchar] (MAX) NULL,
	[PAYMENT_METHOD] [varchar] (MAX) NULL,
	[DOCUMENT_NUMBER] [varchar] (MAX) NULL,
	[SÉRIE_DA_NOTA_FISCAL] [varchar] (MAX) NULL,
	[INVOICE_ISSUANCE_DATE] [varchar] (MAX) NULL,
	[INVOICE_DUE_DATE] [varchar] (MAX) NULL,
	[POLICY_CURRENCY] [varchar] (MAX) NULL,
	[EXCHANGE_RATE] [varchar] (MAX) NULL,
	[REFUND_AMOUNT_SIGN] [varchar] (MAX) NULL,
	[REFUND_AMOUNT] [decimal] (20,2) NULL,
	[SINAL_DO_VALOR_ISENTO_IR] [varchar] (MAX) NULL,
	[VALOR_ISENTO_IR] [decimal] (18,2) NULL,
	[SINAL_DO_VALOR_TRIBUTÁVEL_IR] [varchar] (MAX) NULL,
	[VALOR_TRIBUTÁVEL_IR] [varchar] (MAX) NULL,
	[SINAL_DO_VALOR_ISENTO_ISS] [varchar] (MAX) NULL,
	[VALOR_ISENTO_ISS] [decimal] (18,2) NULL,
	[SINAL_DO_VALOR_TRIBUTÁVEL_ISS] [varchar] (MAX) NULL,
	[VALOR_TRIBUTÁVEL_ISS] [varchar] (MAX) NULL,
	[SINAL_DO_VALOR_ISENTO_INSS] [varchar] (MAX) NULL,
	[VALOR_ISENTO_INSS] [decimal] (18,2) NULL,
	[SINAL_DO_VALOR_TRIBUTÁVEL_INSS] [varchar] (MAX) NULL,
	[VALOR_TRIBUTÁVEL_INSS] [varchar] (MAX) NULL,
	[SINAL_DO_VALOR_ISENTO_CSLL_COFINS_PIS] [varchar] (MAX) NULL,
	[VALOR_ISENTO_CSLL_COFINS_PIS] [decimal] (18,2) NULL,
	[SINAL_DO_VALOR_TRIBUTÁVEL_CSLL_COFINS_PIS] [varchar] (MAX) NULL,
	[VALOR_TRIBUTÁVEL_CSLL_COFINS_PIS] [varchar] (MAX) NULL,
	[SINAL_DO_VALOR_IR] [varchar] (MAX) NULL,
	[VALOR_IR] [varchar] (MAX) NULL,
	[SINAL_DO_VALOR_ISS] [varchar] (MAX) NULL,
	[VALOR_ISS] [varchar] (MAX) NULL,
	[SINAL_DO_VALOR_DESCONTO] [varchar] (MAX) NULL,
	[VALOR_DESCONTO] [varchar] (MAX) NULL,
	[SINAL_DO_VALOR_MULTA] [varchar] (MAX) NULL,
	[VALOR_MULTA] [varchar] (MAX) NULL,
	[REFUND_PAYMENT_DESCRIPTION] [varchar] (60) NULL,
	[POLICY_BRANCH_CODE] [nvarchar] (MAX) NULL,
	[PROFIT_CENTER_CODE] [varchar] (MAX) NULL,
	[A_DEFINIR1] [varchar] (MAX) NULL,
	[A_DEFINIR2] [varchar] (MAX) NULL,
	[POLICY_ACCOUNTING_LOB] [nvarchar] (MAX) NULL,
	[A_DEFINIR3] [varchar] (MAX) NULL,
	[APÓLICE] [varchar] (MAX) NULL,
	[APÓLICE_CONT] [varchar] (MAX) NULL,
	[ENDORSEMENT_NUMBER] [varchar] (MAX) NULL,
	[PARCELA] [varchar] (MAX) NULL,
	[A_DEFINIR4] [varchar] (MAX) NULL,
	[A_DEFINIR5] [varchar] (MAX) NULL,
	[DATA_DE_QUITAÇÃO_DA_PARCELA] [varchar] (MAX) NULL,
	[TOMADOR_DESCRIÇÃO] [varchar] (MAX) NULL,
	[PRÊMIO] [varchar] (MAX) NULL,
	[%_COMISSÃO] [varchar] (MAX) NULL,
	[A_DEFINIR6] [varchar] (MAX) NULL,
	[A_DEFINIR7] [varchar] (MAX) NULL,
	[A_DEFINIR8] [varchar] (MAX) NULL,
	[TIPO_DE_MOVIMENTO] [varchar] (1) NULL,
	[DATA_DO_PAGAMENTO] [varchar] (MAX) NULL,
	[SINAL_DO_VALOR_PAGO] [varchar] (MAX) NULL,
	[VALOR_PAGO] [varchar] (MAX) NULL,
	[MOEDA_DO_PAGAMENTO] [varchar] (MAX) NULL,
	[CÓDIGO_DO_BANCO] [varchar] (MAX) NULL,
	[NO_DA_AGÊNCIA] [varchar] (MAX) NULL,
	[NO_DA_CONTA_CORRENTE] [varchar] (MAX) NULL,
	[NO_DO_CHEQUE] [varchar] (MAX) NULL,
	[SINAL_DO_VALOR_IR_2] [varchar] (MAX) NULL,
	[VALOR_IR_2] [varchar] (MAX) NULL,
	[SINAL_DO_VALOR_ISS_2] [varchar] (MAX) NULL,
	[VALOR_ISS_2] [varchar] (MAX) NULL,
	[SINAL_DO_VALOR_INSS] [varchar] (MAX) NULL,
	[VALOR_INSS] [varchar] (MAX) NULL,
	[SINAL_DO_VALOR_CSLL] [varchar] (MAX) NULL,
	[VALOR_CSLL] [varchar] (MAX) NULL,
	[SINAL_DO_VALOR_COFINS] [varchar] (MAX) NULL,
	[VALOR_COFINS] [varchar] (MAX) NULL,
	[SINAL_DO_VALOR_PIS] [varchar] (MAX) NULL,
	[VALOR_PIS] [varchar] (MAX) NULL,
	[COD_OCORRENCIA] [varchar] (MAX) NULL,
	[MOTIVO_DO_CANCELAMENTO_DO_CHEQUE] [varchar] (MAX) NULL,
	[FORMA_DE_PAGAMENTO] [varchar] (MAX) NULL,
	[CÓDIGO_DO_BANCO_PAGADOR] [varchar] (MAX) NULL,
	[NO_DA_AGÊNCIA_2] [varchar] (MAX) NULL,
	[NO_DA_CONTA_CORRENTE_2] [varchar] (MAX) NULL,
	[TAXA_CONVERSÃO] [varchar] (MAX) NULL,
	[PROCESSED] [varchar] (5) NULL,
	[CREATE_DATETIME] [datetime] NULL,
	[IS_EXPORT] [varchar] (2) NULL,
	[RETURN_STATUS] [varchar] (100) NULL,
	[FILE_ID] [int] NULL,
	[INCONSISTENCY_1] [varchar] (5) NULL,
	[INCONSISTENCY_2] [varchar] (5) NULL,
	[INCONSISTENCY_3] [varchar] (5) NULL,
	[INCONSISTENCY_4] [varchar] (5) NULL,
	[INCONSISTENCY_5] [varchar] (5) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[PAGNET_EXPORT_RECORD] ADD CONSTRAINT [PK_PAGNET_EXPORT_RECORD_ID] PRIMARY KEY
	CLUSTERED
	(
		[ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

