IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_UMBRELLA_RECREATIONAL_VEHICLES]') AND type in (N'U'))
DROP TABLE [dbo].[POL_UMBRELLA_RECREATIONAL_VEHICLES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_UMBRELLA_RECREATIONAL_VEHICLES](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[REC_VEH_ID] [smallint] NOT NULL,
	[COMPANY_ID_NUMBER] [int] NULL,
	[YEAR] [int] NULL,
	[MAKE] [nvarchar] (75) NULL,
	[MODEL] [nvarchar] (75) NULL,
	[SERIAL] [nvarchar] (75) NULL,
	[STATE_REGISTERED] [nvarchar] (5) NULL,
	[MANUFACTURER_DESC] [nvarchar] (100) NULL,
	[HORSE_POWER] [nvarchar] (10) NULL,
	[DISPLACEMENT] [nvarchar] (10) NULL,
	[REMARKS] [nvarchar] (500) NULL,
	[USED_IN_RACE_SPEED] [nchar] (1) NULL,
	[PRIOR_LOSSES] [nchar] (1) NULL,
	[IS_UNIT_REG_IN_OTHER_STATE] [nchar] (1) NULL,
	[RISK_DECL_BY_OTHER_COMP] [nchar] (1) NULL,
	[DESC_RISK_DECL_BY_OTHER_COMP] [nvarchar] (500) NULL,
	[VEHICLE_MODIFIED] [nchar] (1) NULL,
	[VEHICLE_TYPE] [int] NULL,
	[ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[VEHICLE_MODIFIED_DETAILS] [nvarchar] (100) NULL,
	[VEH_LIC_ROAD] [smallint] NULL,
	[REC_VEH_TYPE] [smallint] NULL,
	[REC_VEH_TYPE_DESC] [nvarchar] (25) NULL,
	[USED_IN_RACE_SPEED_CONTEST] [nvarchar] (250) NULL,
	[OTHER_POLICY] [nvarchar] (150) NULL,
	[C44] [smallint] NULL,
	[IS_BOAT_EXCLUDED] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_UMBRELLA_RECREATIONAL_VEHICLES] ADD CONSTRAINT [PK_POL_UMBRELLA_RECREATIONAL_VEHICLES_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_REC_VEH_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[REC_VEH_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

