IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_PREMIUM_PROCESS_SUB_DETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_PREMIUM_PROCESS_SUB_DETAILS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_PREMIUM_PROCESS_SUB_DETAILS](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[PPD_ROW_ID] [int] NOT NULL,
	[RISK_ID] [int] NOT NULL,
	[RISK_TYPE] [char] (10) NOT NULL,
	[NET_PREMIUM] [decimal] (18,2) NULL,
	[STATS_FEES] [decimal] (18,2) NULL,
	[GROSS_PREMIUM] [decimal] (18,2) NULL,
	[INFORCE_PREMIUM] [decimal] (18,2) NULL,
	[INFORCE_FEES] [decimal] (18,2) NULL,
	[AJUSTED_PREMIUM] [decimal] (18,2) NULL,
	[COMMISSION_RATE] [decimal] (18,2) NULL,
	[COMMISSION_AMOUNT] [decimal] (18,2) NULL,
	[EFFECTIVE_DATE] [datetime] NULL,
	[CURRENT_COMMISSION_RATE] [decimal] (18,2) NULL
) ON [PRIMARY]
GO

