IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_POLICY_NOTICE_MASTER]') AND type in (N'U'))
DROP TABLE [dbo].[POL_POLICY_NOTICE_MASTER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_POLICY_NOTICE_MASTER](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[ROW_ID] [int] NOT NULL,
	[NOTICE_DESCRIPTION] [nvarchar] (500) NULL,
	[NOTICE_TYPE] [nvarchar] (20) NULL,
	[UNIQUE_ROW_ID] [int] NOT NULL IDENTITY (1,1),
	[AGENCY_ID] [smallint] NULL,
	[AGENCY_STATEMENT_MONTH] [smallint] NULL,
	[IS_PRINTED] [smallint] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_POLICY_NOTICE_MASTER] ADD CONSTRAINT [PK_POL_POLICY_NOTICE_MASTER_UNIQUE_ROW_ID] PRIMARY KEY
	CLUSTERED
	(
		[UNIQUE_ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_POLICY_NOTICE_MASTER] ADD CONSTRAINT [FK_POL_POLICY_NOTICE_MASTER_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

