IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_SEND_LETTER]') AND type in (N'U'))
DROP TABLE [dbo].[DOC_SEND_LETTER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[DOC_SEND_LETTER](
	[MERGE_ID] [numeric] (18,0) NOT NULL,
	[TEMPLATE_ID] [nvarchar] (500) NULL,
	[CLIENT_ID] [numeric] (18,0) NULL,
	[APP_ID] [numeric] (18,0) NULL,
	[APP_VERSION_ID] [numeric] (18,0) NULL,
	[POLICY_ID] [numeric] (18,0) NULL,
	[POLICY_VERSION_ID] [numeric] (18,0) NULL,
	[PRINT_LBL_ENVP] [nchar] (1) NOT NULL,
	[LBL_ENVP_ID] [nvarchar] (5) NULL,
	[PRINT_ADDRESS] [nvarchar] (15) NULL,
	[RETURN_ADDRESS] [nvarchar] (2) NULL,
	[USER_ID] [int] NULL,
	[MERGE_STATUS] [nvarchar] (2) NULL,
	[MERGE_DATE] [datetime] NULL,
	[DIARY_ITEM_REQ] [char] (1) NULL,
	[FOLLOW_UP_DATE] [datetime] NULL,
	[CHECK_ID] [int] NULL,
	[HOLDER_ID] [int] NULL,
	[APPLICANT_ID] [int] NULL,
	[DIARY_ITEM_TO] [int] NULL,
	[TEMPLATE_PATH] [nvarchar] (2000) NULL,
	[CLAIM_ID] [int] NULL,
	[PARTY_ID] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[DOC_SEND_LETTER] ADD CONSTRAINT [PK_DOC_SEND_LETTER_MERGE_ID] PRIMARY KEY
	CLUSTERED
	(
		[MERGE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

