IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TEMP]') AND type in (N'U'))
DROP TABLE [dbo].[TEMP]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[TEMP](
	[IDEN_ROW_ID] [int] NULL,
	[GROUP_ID] [int] NULL,
	[CUSTOMER_ID] [int] NULL,
	[POLICY_ID] [int] NULL,
	[REVERSAL_DATE] [datetime] NULL,
	[ORIGIAL_FEES_AMOUNT] [decimal] (18,0) NULL
) ON [PRIMARY]
GO

