IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MIG_ERROR_TYPE_DETAIL]') AND type in (N'U'))
DROP TABLE [dbo].[MIG_ERROR_TYPE_DETAIL]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO

CREATE TABLE [dbo].[MIG_ERROR_TYPE_DETAIL](
	[ERROR_TYPE_ID] [int] NOT NULL,
	[TYPE_ID] [int] NOT NULL,
	[ERROR_DESCRIPTION] [nvarchar] (100) NULL,
	[IS_ACTIVE] [char] (1) NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MIG_ERROR_TYPE_DETAIL] ADD CONSTRAINT [PK_MIG_ERROR_TYPE_DETAIL_ERROR_TYPE_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[ERROR_TYPE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
		,FILLFACTOR = 90
	) ON [PRIMARY]
GO

