IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MONTHS_TABLE]') AND type in (N'U'))
DROP TABLE [dbo].[MONTHS_TABLE]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MONTHS_TABLE](
	[MONTH] [smallint] NULL
) ON [PRIMARY]
GO

