IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NISS_CLASS_CODES]') AND type in (N'U'))
DROP TABLE [dbo].[NISS_CLASS_CODES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[NISS_CLASS_CODES](
	[NISS_CLASS] [nvarchar] (100) NULL,
	[BRICS_CLASS] [int] NULL,
	[NISS_SUBCLASS] [nvarchar] (5) NULL,
	[BRICS_SUBCLASS] [nvarchar] (5) NULL,
	[NISS_MULTICAR] [nvarchar] (5) NULL,
	[BRICS_MULTICAR] [nvarchar] (5) NULL,
	[NISS_CLASS_VALUE] [nvarchar] (5) NULL,
	[BRICS_STATE_ID] [smallint] NULL
) ON [PRIMARY]
GO

