IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_DRIVER_DETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[POL_DRIVER_DETAILS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_DRIVER_DETAILS](
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[DRIVER_ID] [smallint] NOT NULL,
	[DRIVER_FNAME] [nvarchar] (75) NULL,
	[DRIVER_MNAME] [nvarchar] (25) NULL,
	[DRIVER_LNAME] [nvarchar] (75) NULL,
	[DRIVER_CODE] [nvarchar] (20) NULL,
	[DRIVER_SUFFIX] [nvarchar] (10) NULL,
	[DRIVER_ADD1] [nvarchar] (70) NULL,
	[DRIVER_ADD2] [nvarchar] (70) NULL,
	[DRIVER_CITY] [nvarchar] (40) NULL,
	[DRIVER_STATE] [nvarchar] (5) NULL,
	[DRIVER_ZIP] [varchar] (11) NULL,
	[DRIVER_COUNTRY] [nchar] (5) NULL,
	[DRIVER_HOME_PHONE] [nvarchar] (20) NULL,
	[DRIVER_BUSINESS_PHONE] [nvarchar] (20) NULL,
	[DRIVER_EXT] [nvarchar] (5) NULL,
	[DRIVER_MOBILE] [nvarchar] (20) NULL,
	[DRIVER_DOB] [datetime] NULL,
	[DRIVER_SSN] [nvarchar] (44) NULL,
	[DRIVER_MART_STAT] [nchar] (1) NULL,
	[DRIVER_SEX] [nchar] (1) NULL,
	[DRIVER_DRIV_LIC] [nvarchar] (30) NULL,
	[DRIVER_LIC_STATE] [nvarchar] (5) NULL,
	[DRIVER_LIC_CLASS] [nvarchar] (5) NULL,
	[DATE_EXP_START] [datetime] NULL,
	[DATE_LICENSED] [datetime] NULL,
	[DRIVER_REL] [nvarchar] (5) NULL,
	[DRIVER_DRIV_TYPE] [nvarchar] (5) NULL,
	[DRIVER_OCC_CODE] [nvarchar] (6) NULL,
	[DRIVER_OCC_CLASS] [nvarchar] (20) NULL,
	[DRIVER_DRIVERLOYER_NAME] [nvarchar] (75) NULL,
	[DRIVER_DRIVERLOYER_ADD] [nvarchar] (255) NULL,
	[DRIVER_INCOME] [smallint] NULL,
	[DRIVER_BROADEND_NOFAULT] [smallint] NULL,
	[DRIVER_PHYS_MED_IMPAIRE] [nchar] (1) NULL,
	[DRIVER_DRINK_VIOLATION] [nchar] (1) NULL,
	[DRIVER_PREF_RISK] [nchar] (1) NULL,
	[DRIVER_GOOD_STUDENT] [nchar] (1) NULL,
	[DRIVER_STUD_DIST_OVER_HUNDRED] [nchar] (1) NULL,
	[DRIVER_LIC_SUSPENDED] [nchar] (1) NULL,
	[DRIVER_VOLUNTEER_POLICE_FIRE] [nchar] (1) NULL,
	[DRIVER_US_CITIZEN] [nchar] (1) NULL,
	[DRIVER_FAX] [varchar] (15) NULL,
	[RELATIONSHIP] [int] NULL,
	[DRIVER_TITLE] [int] NULL,
	[SAFE_DRIVER] [bit] NULL,
	[GOOD_DRIVER_STUDENT_DISCOUNT] [decimal] (9,2) NULL,
	[PREMIER_DRIVER_DISCOUNT] [decimal] (9,2) NULL,
	[SAFE_DRIVER_RENEWAL_DISCOUNT] [int] NULL,
	[VEHICLE_ID] [smallint] NULL,
	[PERCENT_DRIVEN] [decimal] (9,2) NULL,
	[MATURE_DRIVER] [nchar] (1) NULL,
	[MATURE_DRIVER_DISCOUNT] [decimal] (9,2) NULL,
	[PREFERRED_RISK_DISCOUNT] [decimal] (9,2) NULL,
	[PREFERRED_RISK] [nchar] (1) NULL,
	[TRANSFEREXP_RENEWAL_DISCOUNT] [decimal] (9,2) NULL,
	[TRANSFEREXPERIENCE_RENEWALCREDIT] [nchar] (1) NULL,
	[APP_VEHICLE_PRIN_OCC_ID] [int] NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[NO_DEPENDENTS] [smallint] NULL,
	[Waiver_Work_loss_benefits] [nchar] (1) NULL,
	[NO_CYCLE_ENDMT] [nchar] (2) NULL,
	[FORM_F95] [int] NULL,
	[EXT_NON_OWN_COVG_INDIVI] [int] NULL,
	[FULL_TIME_STUDENT] [int] NULL,
	[SUPPORT_DOCUMENT] [int] NULL,
	[SIGNED_WAIVER_BENEFITS_FORM] [int] NULL,
	[HAVE_CAR] [int] NULL,
	[IN_MILITARY] [int] NULL,
	[STATIONED_IN_US_TERR] [int] NULL,
	[PARENTS_INSURANCE] [int] NULL,
	[COLL_STUD_AWAY_HOME] [smallint] NULL,
	[CYCL_WITH_YOU] [smallint] NULL,
	[DATE_ORDERED] [datetime] NULL,
	[MVR_ORDERED] [int] NULL,
	[VIOLATIONS] [int] NULL,
	[MVR_CLASS] [varchar] (50) NULL,
	[MVR_LIC_CLASS] [varchar] (50) NULL,
	[MVR_LIC_RESTR] [varchar] (50) NULL,
	[MVR_DRIV_LIC_APPL] [varchar] (50) NULL,
	[MVR_REMARKS] [varchar] (250) NULL,
	[MVR_STATUS] [varchar] (10) NULL,
	[LOSSREPORT_ORDER] [int] NULL,
	[LOSSREPORT_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_DRIVER_DETAILS] ADD CONSTRAINT [PK_POL_DRIVER_DETAILS_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID_DRIVER_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[DRIVER_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_DRIVER_DETAILS] ADD CONSTRAINT [FK_POL_DRIVER_DETAILS_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

