IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_REINSURANCE_CONTRACT_TYPE]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_REINSURANCE_CONTRACT_TYPE]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_REINSURANCE_CONTRACT_TYPE](
	[CONTRACTTYPEID] [int] NOT NULL,
	[CONTRACT_TYPE_DESC] [nvarchar] (25) NULL,
	[IS_ACTIVE] [char] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_REINSURANCE_CONTRACT_TYPE] ADD CONSTRAINT [PK_MNT_REINSURANCE_CONTRACT_TYPE_CONTRACTTYPEID] PRIMARY KEY
	CLUSTERED
	(
		[CONTRACTTYPEID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

