IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_CO_INSURANCE]') AND type in (N'U'))
DROP TABLE [dbo].[POL_CO_INSURANCE]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_CO_INSURANCE](
	[COINSURANCE_ID] [int] NOT NULL,
	[COMPANY_ID] [int] NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[CO_INSURER_NAME] [nvarchar] (50) NULL,
	[LEADER_FOLLOWER] [int] NULL,
	[COINSURANCE_PERCENT] [decimal] (18,2) NULL,
	[COINSURANCE_FEE] [decimal] (18,2) NULL,
	[BROKER_COMMISSION] [decimal] (18,2) NULL,
	[TRANSACTION_ID] [nvarchar] (25) NULL,
	[LEADER_POLICY_NUMBER] [nvarchar] (25) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[BRANCH_COINSURANCE_ID] [int] NULL,
	[ENDORSEMENT_POLICY_NUMBER] [nvarchar] (25) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_CO_INSURANCE] ADD CONSTRAINT [PK_POL_CO_INSURANCE_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_COMPANY_ID_COINSURANCE_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[COMPANY_ID] ASC
		,[COINSURANCE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_CO_INSURANCE] WITH NOCHECK ADD CONSTRAINT [FK_POL_CO_INSURANCE_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

