IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EOD_ACTIVITY_MASTER]') AND type in (N'U'))
DROP TABLE [dbo].[EOD_ACTIVITY_MASTER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[EOD_ACTIVITY_MASTER](
	[ACTIVITY_ID] [int] NOT NULL,
	[ACTIVITY_DESCRIPTION] [nvarchar] (1000) NULL,
	[PARENT_ACTIVITY_ID] [nvarchar] (6) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[EOD_ACTIVITY_MASTER] ADD CONSTRAINT [PK_EOD_ACTIVITY_MASTER_ACTIVITY_ID] PRIMARY KEY
	CLUSTERED
	(
		[ACTIVITY_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

