IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_DISCOUNT_SURCHARGE]') AND type in (N'U'))
DROP TABLE [dbo].[POL_DISCOUNT_SURCHARGE]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_DISCOUNT_SURCHARGE](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [int] NOT NULL,
	[RISK_ID] [int] NULL,
	[DISCOUNT_ROW_ID] [int] NOT NULL,
	[DISCOUNT_ID] [int] NULL,
	[PERCENTAGE] [decimal] (12,4) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO
EXEC sp_addextendedproperty @name=N'MS_Description', @value=N'max + 1 against Policy ID, Customer iD' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'POL_DISCOUNT_SURCHARGE', @level2type=N'COLUMN',@level2name=N'RISK_ID'
GO

ALTER TABLE [dbo].[POL_DISCOUNT_SURCHARGE] ADD CONSTRAINT [PK_POL_DISCOUNT_SURCHARGE_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_DISCOUNT_ROW_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[DISCOUNT_ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_DISCOUNT_SURCHARGE] WITH NOCHECK ADD CONSTRAINT [FK_POL_DISCOUNT_SURCHARGE_DISCOUNT_ID] FOREIGN KEY
	(
		[DISCOUNT_ID]
	)
	REFERENCES [dbo].[MNT_DISCOUNT_SURCHARGE]
	(
		[DISCOUNT_ID]
	) 
GO

