IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_HOME_OWNER_SCH_ITEMS_CVGS]') AND type in (N'U'))
DROP TABLE [dbo].[POL_HOME_OWNER_SCH_ITEMS_CVGS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_HOME_OWNER_SCH_ITEMS_CVGS](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [int] NOT NULL,
	[ITEM_ID] [int] NOT NULL,
	[DETAILED_DESC] [nvarchar] (1000) NULL,
	[SN_DETAILS] [nvarchar] (25) NULL,
	[AMOUNT_OF_INSURANCE] [decimal] (18,0) NULL,
	[PREMIUM] [decimal] (18,2) NULL,
	[RATE] [decimal] (18,2) NULL,
	[APPRAISAL] [nchar] (1) NULL,
	[PURCHASE_APPRAISAL_DATE] [datetime] NULL,
	[BREAKAGE_COVERAGE] [nchar] (1) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[CATEGORY] [int] NULL,
	[APPRAISAL_DESC] [nvarchar] (255) NULL,
	[BREAKAGE_DESC] [nvarchar] (255) NULL,
	[DEDUCTIBLE] [decimal] (18,0) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_HOME_OWNER_SCH_ITEMS_CVGS] ADD CONSTRAINT [PK_POL_HOME_OWNER_SCH_ITEMS_CVGS_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_ITEM_ID] PRIMARY KEY
	CLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[ITEM_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

