IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MIG_IMPORT_ERROR_DETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[MIG_IMPORT_ERROR_DETAILS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MIG_IMPORT_ERROR_DETAILS](
	[IMPORT_ERROR_ID] [int] NOT NULL IDENTITY (1,1),
	[IMPORT_REQUEST_ID] [int] NULL,
	[IMPORT_SERIAL_NO] [int] NULL,
	[ERROR_DATETIME] [datetime] NULL,
	[ERROR_SOURCE_FILE] [nvarchar] (512) NULL,
	[ERROR_SOURCE_COLUMN] [nvarchar] (4000) NULL,
	[ERROR_SOURCE_COLUMN_VALUE] [nvarchar] (MAX) NULL,
	[ERROR_ROW_NUMBER] [int] NULL,
	[ERROR_MODE] [char] (4) NULL,
	[ERROR_TYPES] [nvarchar] (512) NULL,
	[ACTUAL_RECORD_DATA] [nvarchar] (4000) NULL,
	[ERROR_SOURCE_TYPE] [char] (4) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MIG_IMPORT_ERROR_DETAILS] ADD CONSTRAINT [PK_MIG_IMPORT_ERROR_DETAILS_IMPORT_ERROR_ID] PRIMARY KEY
	CLUSTERED
	(
		[IMPORT_ERROR_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

