IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_TMP_CUSTOMER_OPEN_ITEMS]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_TMP_CUSTOMER_OPEN_ITEMS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_TMP_CUSTOMER_OPEN_ITEMS](
	[IDEN_ROW_ID] [int] NOT NULL IDENTITY (1,1),
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [int] NOT NULL,
	[CURRENT_TERM] [int] NOT NULL,
	[ITEM_REFRENCE_ID] [int] NOT NULL,
	[TOTAL_PAID] [decimal] (18,2) NULL,
	[TOTAL_DUE] [decimal] (18,2) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_TMP_CUSTOMER_OPEN_ITEMS] ADD CONSTRAINT [PK_ACT_TMP_CUSTOMER_OPEN_ITEMS_IDEN_ROW_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[IDEN_ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
		,FILLFACTOR = 90
	) ON [PRIMARY]
GO

