IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_MARITIME]') AND type in (N'U'))
DROP TABLE [dbo].[POL_MARITIME]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_MARITIME](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[MARITIME_ID] [int] NOT NULL,
	[VESSEL_NUMBER] [numeric] (10,0) NULL,
	[NAME_OF_VESSEL] [nvarchar] (70) NULL,
	[TYPE_OF_VESSEL] [nvarchar] (20) NULL,
	[MANUFACTURE_YEAR] [int] NULL,
	[MANUFACTURER] [nvarchar] (50) NULL,
	[BUILDER] [nvarchar] (50) NULL,
	[CONSTRUCTION] [nvarchar] (100) NULL,
	[PROPULSION] [nvarchar] (20) NULL,
	[CLASSIFICATION] [nvarchar] (50) NULL,
	[LOCAL_OPERATION] [nvarchar] (100) NULL,
	[LIMIT_NAVIGATION] [nvarchar] (100) NULL,
	[PORT_REGISTRATION] [nvarchar] (50) NULL,
	[REGISTRATION_NUMBER] [nvarchar] (50) NULL,
	[TIE_NUMBER] [nvarchar] (50) NULL,
	[VESSEL_ACTION_NAUTICO_CLUB] [int] NULL,
	[NAME_OF_CLUB] [nvarchar] (70) NULL,
	[LOCAL_CLUB] [nvarchar] (100) NULL,
	[NUMBER_OF_CREW] [int] NULL,
	[NUMBER_OF_PASSENGER] [int] NULL,
	[REMARKS] [nvarchar] (4000) NULL,
	[IS_ACTIVE] [nvarchar] (2) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[CO_APPLICANT_ID] [int] NULL CONSTRAINT [DF_POL_MARITIME_CO_APPLICANT_ID] DEFAULT ((0)),
	[ORIGINAL_VERSION_ID] [int] NULL,
	[CO_RISK_ID] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_MARITIME] ADD CONSTRAINT [PK_POL_MARITIME_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_MARITIME_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[MARITIME_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_MARITIME] WITH NOCHECK ADD CONSTRAINT [FK_POL_MARITIME_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

