IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_LOCATIONS]') AND type in (N'U'))
DROP TABLE [dbo].[POL_LOCATIONS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_LOCATIONS](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[LOCATION_ID] [smallint] NOT NULL,
	[LOC_NUM] [int] NULL,
	[IS_PRIMARY] [nchar] (1) NULL,
	[LOC_ADD1] [nvarchar] (75) NULL,
	[LOC_ADD2] [nvarchar] (75) NULL,
	[LOC_CITY] [nvarchar] (75) NULL,
	[LOC_COUNTY] [nvarchar] (75) NULL,
	[LOC_STATE] [nvarchar] (5) NULL,
	[LOC_ZIP] [nvarchar] (11) NULL,
	[LOC_COUNTRY] [nvarchar] (5) NULL,
	[PHONE_NUMBER] [nvarchar] (20) NULL,
	[FAX_NUMBER] [nvarchar] (20) NULL,
	[DEDUCTIBLE] [nvarchar] (20) NULL,
	[NAMED_PERILL] [int] NULL,
	[DESCRIPTION] [nvarchar] (1000) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[LOC_TERRITORY] [nvarchar] (5) NULL,
	[LOCATION_TYPE] [int] NULL,
	[RENTED_WEEKLY] [nvarchar] (10) NULL,
	[WEEKS_RENTED] [nvarchar] (10) NULL,
	[LOSSREPORT_ORDER] [int] NULL,
	[LOSSREPORT_DATETIME] [datetime] NULL,
	[REPORT_STATUS] [char] (1) NULL,
	[CAL_NUM] [nvarchar] (20) NULL,
	[NAME] [nvarchar] (30) NULL,
	[NUMBER] [nvarchar] (50) NULL,
	[DISTRICT] [nvarchar] (50) NULL,
	[OCCUPIED] [int] NULL,
	[EXT] [nvarchar] (10) NULL,
	[CATEGORY] [nvarchar] (20) NULL,
	[ACTIVITY_TYPE] [int] NULL,
	[CONSTRUCTION] [int] NULL,
	[SOURCE_LOCATION_ID] [int] NULL,
	[IS_BILLING] [nchar] (1) NULL,
	[CO_RISK_ID] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_LOCATIONS] ADD CONSTRAINT [PK_POL_LOCATIONS_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID_LOCATION_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[LOCATION_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_LOCATIONS] WITH NOCHECK ADD CONSTRAINT [FK_POL_LOCATIONS_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

