IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_OCCUPIED_MASTER]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_OCCUPIED_MASTER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_OCCUPIED_MASTER](
	[OCCUPIED_ID] [int] NOT NULL,
	[RUBRICA] [nvarchar] (5) NULL,
	[SUB_RUBRICA] [nvarchar] (10) NULL,
	[OCCUPIED_AS] [nvarchar] (400) NULL,
	[IS_ACTIVE] [nchar] (1) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_OCCUPIED_MASTER] ADD CONSTRAINT [MNT_OCCUPIED_MASTER_OCCUPIED_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[OCCUPIED_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

