IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_SUSPENSE_PAYMENT_REPORT]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_SUSPENSE_PAYMENT_REPORT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_SUSPENSE_PAYMENT_REPORT](
	[DAY] [smallint] NOT NULL,
	[MONTH] [smallint] NOT NULL,
	[YEAR] [smallint] NOT NULL,
	[POLICY_NUMBER] [nvarchar] (12) NULL,
	[DATE_PAID] [datetime] NULL,
	[AMOUNT_PAID] [decimal] (18,2) NULL
) ON [PRIMARY]
GO

