IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_QUICKQUOTE_USER_XML]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_QUICKQUOTE_USER_XML]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_QUICKQUOTE_USER_XML](
	[USER_ID] [int] NOT NULL,
	[LOB] [nvarchar] (10) NOT NULL,
	[DEFAULT_XML] [text] NOT NULL,
	[STATE] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_QUICKQUOTE_USER_XML] ADD CONSTRAINT [PK_MNT_QUICKQUOTE_USER_XML_USER_ID_ LOB_STATE] PRIMARY KEY
	CLUSTERED
	(
		[USER_ID] ASC
		,[LOB] ASC
		,[STATE] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_QUICKQUOTE_USER_XML] ADD CONSTRAINT [FK_MNT_QUICKQUOTE_USER_XML_MNT_USER_LIST] FOREIGN KEY
	(
		[USER_ID]
	)
	REFERENCES [dbo].[MNT_USER_LIST]
	(
		[USER_ID]
	) 
GO

