IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_PREMIUM_NOTICE_PROCCESS_LOG]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_PREMIUM_NOTICE_PROCCESS_LOG]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_PREMIUM_NOTICE_PROCCESS_LOG](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [int] NOT NULL,
	[PROCCESS_INFORMATION] [text] NULL,
	[DEC_CUSTOMERXML] [text] NULL,
	[DATE_TIME] [datetime] NULL,
	[CALLED_FOR] [nvarchar] (20) NOT NULL,
	[IS_FILE_GENERATED] [nvarchar] (1) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_PREMIUM_NOTICE_PROCCESS_LOG] ADD CONSTRAINT [PK_ACT_PREMIUM_NOTICE_PROCCESS_LOG_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_CALLED_FOR] PRIMARY KEY
	CLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[CALLED_FOR] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

