IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_GENERAL_UNDERWRITING_INFO]') AND type in (N'U'))
DROP TABLE [dbo].[POL_GENERAL_UNDERWRITING_INFO]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_GENERAL_UNDERWRITING_INFO](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[INSURANCE_DECLINED_FIVE_YEARS] [nchar] (1) NULL,
	[MEDICAL_PROFESSIONAL_EMPLOYEED] [nchar] (1) NULL,
	[EXPOSURE_RATIOACTIVE_NUCLEAR] [nchar] (1) NULL,
	[HAVE_PAST_PRESENT_OPERATIONS] [nchar] (1) NULL,
	[ANY_OPERATIONS_SOLD] [nchar] (1) NULL,
	[MACHINERY_LOANED] [nchar] (1) NULL,
	[ANY_WATERCRAFT_LEASED] [nchar] (1) NULL,
	[ANY_PARKING_OWNED] [nchar] (1) NULL,
	[FEE_CHARGED_PARKING] [nchar] (1) NULL,
	[RECREATION_PROVIDED] [nchar] (1) NULL,
	[SWIMMING_POOL_PREMISES] [nchar] (1) NULL,
	[SPORTING_EVENT_SPONSORED] [nchar] (1) NULL,
	[STRUCTURAL_ALTERATION_CONTEMPATED] [nchar] (1) NULL,
	[DEMOLITION_EXPOSURE_CONTEMPLATED] [nchar] (1) NULL,
	[CUSTOMER_ACTIVE_JOINT_VENTURES] [nchar] (1) NULL,
	[LEASE_EMPLOYEE] [nchar] (1) NULL,
	[LABOR_INTERCHANGE_OTH_BUSINESS] [nchar] (1) NULL,
	[DAY_CARE_FACILITIES] [nchar] (1) NULL,
	[ADDITIONAL_COMMENTS] [nvarchar] (200) NULL,
	[DESC_INSURANCE_DECLINED] [nvarchar] (150) NULL,
	[DESC_MEDICAL_PROFESSIONAL] [nvarchar] (150) NULL,
	[DESC_EXPOSURE_RATIOACTIVE] [nvarchar] (150) NULL,
	[DESC_HAVE_PAST_PRESENT] [nvarchar] (150) NULL,
	[DESC_ANY_OPERATIONS] [nvarchar] (150) NULL,
	[DESC_MACHINERY_LOANED] [nvarchar] (150) NULL,
	[DESC_ANY_WATERCRAFT] [nvarchar] (150) NULL,
	[DESC_ANY_PARKING] [nvarchar] (150) NULL,
	[DESC_FEE_CHARGED] [nvarchar] (150) NULL,
	[DESC_RECREATION_PROVIDED] [nvarchar] (150) NULL,
	[DESC_SWIMMING_POOL] [nvarchar] (150) NULL,
	[DESC_SPORTING_EVENT] [nvarchar] (150) NULL,
	[DESC_STRUCTURAL_ALTERATION] [nvarchar] (150) NULL,
	[DESC_DEMOLITION_EXPOSURE] [nvarchar] (150) NULL,
	[DESC_CUSTOMER_ACTIVE] [nvarchar] (150) NULL,
	[DESC_LEASE_EMPLOYEE] [nvarchar] (150) NULL,
	[DESC_LABOR_INTERCHANGE] [nvarchar] (150) NULL,
	[DESC_DAY_CARE] [nvarchar] (150) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATE_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_GENERAL_UNDERWRITING_INFO] ADD CONSTRAINT [POL_GENERAL_UNDERWRITING_INFO_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] PRIMARY KEY
	CLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_GENERAL_UNDERWRITING_INFO] ADD CONSTRAINT [FK_POL_GENERAL_UNDERWRITING_INFO_POL_CUSTOMER_POLICY_LIST_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

