IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_UMBRELLA_GEN_INFO]') AND type in (N'U'))
DROP TABLE [dbo].[POL_UMBRELLA_GEN_INFO]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_UMBRELLA_GEN_INFO](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[ANY_AIRCRAFT_OWNED_LEASED] [nchar] (1) NULL,
	[ANY_OPERATOR_CON_TRAFFIC] [nchar] (1) NULL,
	[ANY_OPERATOR_IMPIRED] [nchar] (1) NULL,
	[ANY_SWIMMING_POOL] [nchar] (1) NULL,
	[REAL_STATE_VEHICLE_USED] [nchar] (1) NULL,
	[REAL_STATE_VEH_OWNED_HIRED] [nchar] (1) NULL,
	[ENGAGED_IN_FARMING] [nchar] (1) NULL,
	[HOLD_NON_COMP_POSITION] [nchar] (1) NULL,
	[ANY_FULL_TIME_EMPLOYEE] [nchar] (1) NULL,
	[NON_OWNED_PROPERTY_CARE] [nchar] (1) NULL,
	[BUSINESS_PROF_ACTIVITY] [nchar] (1) NULL,
	[REDUCED_LIMIT_OF_LIBLITY] [nchar] (1) NULL,
	[ANIMALS_EXO_PETS_HISTORY] [nchar] (1) NULL,
	[ANY_COVERAGE_DECLINED] [nchar] (1) NULL,
	[ANIMALS_EXOTIC_PETS] [nchar] (1) NULL,
	[INSU_TRANSFERED_IN_AGENCY] [nchar] (1) NULL,
	[PENDING_LITIGATIONS] [nchar] (1) NULL,
	[IS_TEMPOLINE] [nchar] (1) NULL,
	[REMARKS] [nvarchar] (255) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[ANY_AIRCRAFT_OWNED_LEASED_DESC] [nvarchar] (300) NULL,
	[ANY_OPERATOR_CON_TRAFFIC_DESC] [nvarchar] (300) NULL,
	[ANY_OPERATOR_IMPIRED_DESC] [nvarchar] (300) NULL,
	[ANY_SWIMMING_POOL_DESC] [nvarchar] (300) NULL,
	[REAL_STATE_VEHICLE_USED_DESC] [nvarchar] (300) NULL,
	[REAL_STATE_VEH_OWNED_HIRED_DESC] [nvarchar] (300) NULL,
	[ENGAGED_IN_FARMING_DESC] [nvarchar] (300) NULL,
	[HOLD_NON_COMP_POSITION_DESC] [nvarchar] (150) NULL,
	[ANY_FULL_TIME_EMPLOYEE_DESC] [nvarchar] (150) NULL,
	[NON_OWNED_PROPERTY_CARE_DESC] [nvarchar] (150) NULL,
	[BUSINESS_PROF_ACTIVITY_DESC] [nvarchar] (150) NULL,
	[REDUCED_LIMIT_OF_LIBLITY_DESC] [nvarchar] (150) NULL,
	[ANIMALS_EXOTIC_PETS_DESC] [nvarchar] (150) NULL,
	[ANY_COVERAGE_DECLINED_DESC] [nvarchar] (150) NULL,
	[INSU_TRANSFERED_IN_AGENCY_DESC] [nvarchar] (150) NULL,
	[PENDING_LITIGATIONS_DESC] [nvarchar] (150) NULL,
	[IS_TEMPOLINE_DESC] [nvarchar] (150) NULL,
	[HAVE_NON_OWNED_AUTO_POL_DESC] [nvarchar] (150) NULL,
	[INS_DOMICILED_OUTSIDE_DESC] [nvarchar] (150) NULL,
	[HOME_DAY_CARE_DESC] [nvarchar] (150) NULL,
	[HAVE_NON_OWNED_AUTO_POL] [nchar] (1) NULL,
	[INS_DOMICILED_OUTSIDE] [nchar] (1) NULL,
	[HOME_DAY_CARE] [nchar] (1) NULL,
	[CALCULATIONS] [nvarchar] (100) NULL,
	[HOME_RENT_DWELL] [nchar] (1) NULL,
	[HOME_RENT_DWELL_DESC] [nvarchar] (150) NULL,
	[WAT_DWELL] [nchar] (1) NULL,
	[WAT_DWELL_DESC] [nvarchar] (150) NULL,
	[RECR_VEH] [nchar] (1) NULL,
	[RECR_VEH_DESC] [nvarchar] (150) NULL,
	[AUTO_CYCL_TRUCKS] [nchar] (1) NULL,
	[AUTO_CYCL_TRUCKS_DESC] [nvarchar] (150) NULL,
	[APPLI_UNDERSTAND_LIABILITY_EXCLUDED] [nchar] (1) NULL,
	[APPLI_UNDERSTAND_LIABILITY_EXCLUDED_DESC] [nvarchar] (150) NULL,
	[UND_REMARKS] [nvarchar] (300) NULL,
	[OFFICE_PREMISES] [int] NULL,
	[RENTAL_DWELLINGS_UNIT] [int] NULL,
	[FAMILIES] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_UMBRELLA_GEN_INFO] ADD CONSTRAINT [PK_POL_UMBRELLA_GEN_INFO_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

