IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_REIN_CONTRACT_RISKEXPOSURE]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_REIN_CONTRACT_RISKEXPOSURE]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_REIN_CONTRACT_RISKEXPOSURE](
	[CONTRACT_ID] [int] NOT NULL,
	[RISK_EXPOSURE] [nvarchar] (50) NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_REIN_CONTRACT_RISKEXPOSURE] ADD CONSTRAINT [PK_MNT_REIN_CONTRACT_RISKEXPOSURE_CONTRACT_ID_RISK_EXPOSURE] PRIMARY KEY
	CLUSTERED
	(
		[CONTRACT_ID] ASC
		,[RISK_EXPOSURE] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

