IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_GL_ACCOUNTS]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_GL_ACCOUNTS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_GL_ACCOUNTS](
	[GL_ID] [int] NOT NULL,
	[ACCOUNT_ID] [int] NOT NULL,
	[CATEGORY_TYPE] [smallint] NULL,
	[GROUP_TYPE] [smallint] NULL,
	[ACC_TYPE_ID] [int] NULL,
	[ACC_PARENT_ID] [int] NULL,
	[ACC_NUMBER] [decimal] (8,2) NULL,
	[ACC_LEVEL_TYPE] [nchar] (5) NULL,
	[ACC_DESCRIPTION] [nvarchar] (50) NULL,
	[ACC_TOTALS_LEVEL] [nchar] (255) NULL,
	[ACC_JOURNAL_ENTRY] [nchar] (1) NULL,
	[ACC_CASH_ACCOUNT] [nchar] (1) NULL,
	[ACC_CASH_ACC_TYPE] [nchar] (1) NULL,
	[ACC_CASH_DEF_TYPE] [nchar] (1) NULL,
	[ACC_DISP_NUMBER] [nvarchar] (50) NULL,
	[ACC_PRODUCE_CHECK] [char] (1) NULL,
	[ACC_HAS_CHILDREN] [nchar] (1) NULL,
	[ACC_NEST_LEVEL] [smallint] NULL,
	[ACC_CURRENT_BALANCE] [decimal] (18,2) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[FISCAL_ID] [smallint] NULL,
	[ACC_RELATES_TO_TYPE] [int] NULL,
	[BUDGET_CATEGORY_ID] [int] NULL,
	[WOLVERINE_USER_ID] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_GL_ACCOUNTS] ADD CONSTRAINT [PK_ACT_GL_ACCOUNTS_ACCOUNT_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[ACCOUNT_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
		,FILLFACTOR = 93
	) ON [PRIMARY]
GO

