IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_PREMIUM_NOTICE_SPOOL]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_PREMIUM_NOTICE_SPOOL]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_PREMIUM_NOTICE_SPOOL](
	[SPOOL_ID] [int] NOT NULL IDENTITY (1,1),
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[PROCESSED] [bit] NULL,
	[NOTICE_DUE_DATE] [datetime] NULL,
	[MINDAYS_FROM_NOTICE] [int] NULL,
	[INSTALL_PLAN_ID] [int] NULL,
	[SENT_AGAINST] [nvarchar] (500) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_PREMIUM_NOTICE_SPOOL] ADD CONSTRAINT [PK_ACT_PREMIUM_NOTICE_SPOOL_SPOOL_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[SPOOL_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
		,FILLFACTOR = 90
	) ON [PRIMARY]
GO

