IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MIG_CUSTOMER_POLICY_LIST]') AND type in (N'U'))
DROP TABLE [dbo].[MIG_CUSTOMER_POLICY_LIST]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MIG_CUSTOMER_POLICY_LIST](
	[IMPORT_REQUEST_ID] [int] NOT NULL,
	[IMPORT_SERIAL_NO] [int] NOT NULL,
	[POLICY_ID] [int] NULL,
	[POLICY_VERSION_ID] [smallint] NULL,
	[IS_ACTIVE] [nchar] (1) NULL CONSTRAINT [DF_MIG_CUSTOMER_POLICY_LIST_IS_ACTIVE] DEFAULT ('N'),
	[IS_DELETED] [nchar] (1) NULL CONSTRAINT [DF_MIG_CUSTOMER_POLICY_LIST_IS_DELETED] DEFAULT ('N'),
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[HAS_ERRORS] [nchar] (1) NULL CONSTRAINT [DF_MIG_CUSTOMER_POLICY_LIST_HAS_ERRORS] DEFAULT ('N'),
	[POLICY_LOB] [int] NULL,
	[POLICY_SUBLOB] [int] NULL,
	[SUSEP_LEADER_CODE] [int] NULL,
	[APPLICANT_NAME] [nvarchar] (250) NULL,
	[CPF_CNPJ] [nvarchar] (250) NULL,
	[COINSURENCE_TRANSACTION_ID] [nvarchar] (13) NULL,
	[BROKER_CODE] [int] NULL,
	[COINSURENCE_SHARE_PERCENTAGE] [decimal] (28,2) NULL,
	[TOTAL_COMMISSION_PERCENTAGE] [decimal] (28,2) NULL,
	[DISCOUNT_PERCENTAGE] [decimal] (28,2) NULL,
	[SUM_COVERAGE_INSURED] [decimal] (28,2) NULL,
	[TRANSACTION_TYPE] [int] NULL,
	[LEADER_POLICY_NUMBER] [nvarchar] (20) NULL,
	[LEADER_ENDORSEMENT_NUMBER] [int] NULL,
	[ENDORSEMENT_COMMIT_DATE] [datetime] NULL,
	[ENDORSEMENT_EFFECTIVE_DATE] [datetime] NULL,
	[ENDORSEMENT_EXPIRE_DATE] [datetime] NULL,
	[INSTALLMENT_NO] [int] NULL,
	[POLICY_CURRENCY] [int] NULL,
	[POLICY_CURRENCY_EXCHANGE_RATE_DATE] [datetime] NULL,
	[INSTALLMENT_AMOUNT1] [decimal] (28,2) NULL,
	[DISCOUNT_AMOUNT_PER_INSTALLMENT1] [decimal] (28,2) NULL,
	[INTREST_AMOUNT_PER_INSTALLMENT1] [decimal] (28,2) NULL,
	[COMMISSION_AMOUNT_PER_INSTALLMENT1] [decimal] (28,2) NULL,
	[INSTALLMENT_DUE_DATE1] [datetime] NULL,
	[INSTALLMENT_NO1] [int] NULL,
	[INSTALLMENT_AMOUNT2] [decimal] (28,2) NULL,
	[DISCOUNT_AMOUNT_PER_INSTALLMENT2] [decimal] (28,2) NULL,
	[INTREST_AMOUNT_PER_INSTALLMENT2] [decimal] (28,2) NULL,
	[COMMISSION_AMOUNT_PER_INSTALLMENT2] [decimal] (28,2) NULL,
	[INSTALLMENT_DUE_DATE2] [datetime] NULL,
	[INSTALLMENT_NO2] [int] NULL,
	[INSTALLMENT_AMOUNT3] [decimal] (28,2) NULL,
	[DISCOUNT_AMOUNT_PER_INSTALLMENT3] [decimal] (28,2) NULL,
	[INTREST_AMOUNT_PER_INSTALLMENT3] [decimal] (28,2) NULL,
	[COMMISSION_AMOUNT_PER_INSTALLMENT3] [decimal] (28,2) NULL,
	[INSTALLMENT_DUE_DATE3] [datetime] NULL,
	[INSTALLMENT_NO3] [int] NULL,
	[INSTALLMENT_AMOUNT4] [decimal] (28,2) NULL,
	[DISCOUNT_AMOUNT_PER_INSTALLMENT4] [decimal] (28,2) NULL,
	[INTREST_AMOUNT_PER_INSTALLMENT4] [decimal] (28,2) NULL,
	[COMMISSION_AMOUNT_PER_INSTALLMENT4] [decimal] (28,2) NULL,
	[INSTALLMENT_DUE_DATE4] [datetime] NULL,
	[INSTALLMENT_NO4] [int] NULL,
	[INSTALLMENT_AMOUNT5] [decimal] (28,2) NULL,
	[DISCOUNT_AMOUNT_PER_INSTALLMENT5] [decimal] (28,2) NULL,
	[INTREST_AMOUNT_PER_INSTALLMENT5] [decimal] (28,2) NULL,
	[COMMISSION_AMOUNT_PER_INSTALLMENT5] [decimal] (28,2) NULL,
	[INSTALLMENT_DUE_DATE5] [datetime] NULL,
	[INSTALLMENT_NO5] [int] NULL,
	[INSTALLMENT_AMOUNT6] [decimal] (28,2) NULL,
	[DISCOUNT_AMOUNT_PER_INSTALLMENT6] [decimal] (28,2) NULL,
	[INTREST_AMOUNT_PER_INSTALLMENT6] [decimal] (28,2) NULL,
	[COMMISSION_AMOUNT_PER_INSTALLMENT6] [decimal] (28,2) NULL,
	[INSTALLMENT_DUE_DATE6] [datetime] NULL,
	[INSTALLMENT_NO6] [int] NULL,
	[INSTALLMENT_AMOUNT7] [decimal] (28,2) NULL,
	[DISCOUNT_AMOUNT_PER_INSTALLMENT7] [decimal] (28,2) NULL,
	[INTREST_AMOUNT_PER_INSTALLMENT7] [decimal] (28,2) NULL,
	[COMMISSION_AMOUNT_PER_INSTALLMENT7] [decimal] (28,2) NULL,
	[INSTALLMENT_DUE_DATE7] [datetime] NULL,
	[INSTALLMENT_NO7] [int] NULL,
	[INSTALLMENT_AMOUNT8] [decimal] (28,2) NULL,
	[DISCOUNT_AMOUNT_PER_INSTALLMENT8] [decimal] (28,2) NULL,
	[INTREST_AMOUNT_PER_INSTALLMENT8] [decimal] (28,2) NULL,
	[COMMISSION_AMOUNT_PER_INSTALLMENT8] [decimal] (28,2) NULL,
	[INSTALLMENT_DUE_DATE8] [datetime] NULL,
	[INSTALLMENT_NO8] [int] NULL,
	[INSTALLMENT_AMOUNT9] [decimal] (28,2) NULL,
	[DISCOUNT_AMOUNT_PER_INSTALLMENT9] [decimal] (28,2) NULL,
	[INTREST_AMOUNT_PER_INSTALLMENT9] [decimal] (28,2) NULL,
	[COMMISSION_AMOUNT_PER_INSTALLMENT9] [decimal] (28,2) NULL,
	[INSTALLMENT_DUE_DATE9] [datetime] NULL,
	[INSTALLMENT_NO9] [int] NULL,
	[INSTALLMENT_AMOUNT10] [decimal] (28,2) NULL,
	[DISCOUNT_AMOUNT_PER_INSTALLMENT10] [decimal] (28,2) NULL,
	[INTREST_AMOUNT_PER_INSTALLMENT10] [decimal] (28,2) NULL,
	[COMMISSION_AMOUNT_PER_INSTALLMENT10] [decimal] (28,2) NULL,
	[INSTALLMENT_DUE_DATE10] [datetime] NULL,
	[INSTALLMENT_NO10] [int] NULL,
	[INSTALLMENT_AMOUNT11] [decimal] (28,2) NULL,
	[DISCOUNT_AMOUNT_PER_INSTALLMENT11] [decimal] (28,2) NULL,
	[INTREST_AMOUNT_PER_INSTALLMENT11] [decimal] (28,2) NULL,
	[COMMISSION_AMOUNT_PER_INSTALLMENT11] [decimal] (28,2) NULL,
	[INSTALLMENT_DUE_DATE11] [datetime] NULL,
	[INSTALLMENT_NO11] [int] NULL,
	[INSTALLMENT_AMOUNT12] [decimal] (28,2) NULL,
	[DISCOUNT_AMOUNT_PER_INSTALLMENT12] [decimal] (28,2) NULL,
	[INTREST_AMOUNT_PER_INSTALLMENT12] [decimal] (28,2) NULL,
	[COMMISSION_AMOUNT_PER_INSTALLMENT12] [decimal] (28,2) NULL,
	[INSTALLMENT_DUE_DATE12] [datetime] NULL,
	[INSTALLMENT_NO12] [int] NULL,
	[POLICY_SPECIFICATION] [nvarchar] (4000) NULL,
	[PRODUCT_CODE] [int] NULL,
	[COINSURANCE_COMMISSION] [decimal] (28,2) NULL,
	[ALBA_POLICY_NUMBER] [nvarchar] (80) NULL,
	[ALBA_ENDORSEMENT_NO] [int] NULL,
	[CUSTOMER_ID] [int] NULL,
	[POLICY_REMARKS] [nvarchar] (4000) NULL,
	[ERROR_TYPES] [varchar] (MAX) NULL,
	[ERROR_COLUMNS] [nvarchar] (MAX) NULL,
	[ERROR_COLUMN_VALUES] [nvarchar] (MAX) NULL,
	[ERROR_SOURCE_FILE] [nvarchar] (1000) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MIG_CUSTOMER_POLICY_LIST] ADD CONSTRAINT [PK_MIG_CUSTOMER_POLICY_LIST_IMPORT_REQUEST_ID_IMPORT_SERIAL_NO] PRIMARY KEY
	NONCLUSTERED
	(
		[IMPORT_REQUEST_ID] ASC
		,[IMPORT_SERIAL_NO] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

