IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_VENDOR_CHECK_DISTRIBUTION]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_VENDOR_CHECK_DISTRIBUTION]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_VENDOR_CHECK_DISTRIBUTION](
	[IDEN_ROW_ID] [int] NOT NULL IDENTITY (1,1),
	[CHECK_ID] [int] NOT NULL,
	[VENDOR_ID] [int] NULL,
	[OPEN_ITEM_ROW_ID] [int] NULL,
	[AMOUNT_TO_APPLY] [decimal] (18,2) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[IS_CHECK_CREATED] [nchar] (1) NULL,
	[REF_INVOICE_ID] [int] NULL,
	[REF_INVOICE_NO] [nvarchar] (100) NULL,
	[REF_INVOICE_REF_NO] [nvarchar] (100) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_VENDOR_CHECK_DISTRIBUTION] ADD CONSTRAINT [PK_ACT_VENDOR_CHECK_DISTRIBUTION_IDEN_ROW_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[IDEN_ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
		,FILLFACTOR = 90
	) ON [PRIMARY]
GO

