IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_CUSTOMER_NEGATIVE_ITEM_SPOOL]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_CUSTOMER_NEGATIVE_ITEM_SPOOL]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_CUSTOMER_NEGATIVE_ITEM_SPOOL](
	[IDEN_SPOOL_ID] [int] NOT NULL IDENTITY (1,1),
	[CUSTOMER_OPEN_ITEM_ID] [int] NULL,
	[CUSTOMER_ID] [int] NULL,
	[POLICY_ID] [int] NULL,
	[POLICY_VERSION_ID] [int] NULL,
	[TOTAL_PAID] [decimal] (18,2) NULL,
	[TOTAL_DUE] [decimal] (18,2) NULL,
	[ITEM_TRAN_CODE] [nvarchar] (10) NULL,
	[ITEM_TRAN_CODE_TYPE] [nvarchar] (10) NULL,
	[ITEM_STATUS] [nvarchar] (3) NULL,
	[UPDATED_FROM] [char] (1) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_CUSTOMER_NEGATIVE_ITEM_SPOOL] ADD CONSTRAINT [PK_ACT_CUSTOMER_NEGATIVE_ITEM_SPOOL_IDEN_SPOOL_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[IDEN_SPOOL_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
		,FILLFACTOR = 90
	) ON [PRIMARY]
GO

