IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_ACTIVITY_RESERVE]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_ACTIVITY_RESERVE]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_ACTIVITY_RESERVE](
	[CLAIM_ID] [int] NOT NULL,
	[RESERVE_ID] [int] NOT NULL,
	[ACTIVITY_ID] [int] NOT NULL,
	[COVERAGE_ID] [int] NOT NULL,
	[PRIMARY_EXCESS] [nvarchar] (20) NULL,
	[MCCA_ATTACHMENT_POINT] [decimal] (10,2) NULL,
	[MCCA_APPLIES] [decimal] (10,2) NULL,
	[ATTACHMENT_POINT] [decimal] (10,2) NULL,
	[OUTSTANDING] [decimal] (18,2) NULL,
	[REINSURANCE_CARRIER] [int] NULL,
	[RI_RESERVE] [decimal] (18,2) NULL CONSTRAINT [DF_CLM_ACTIVITY_RESERVE_RI_RESERVE] DEFAULT ((0)),
	[IS_ACTIVE] [char] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[VEHICLE_ID] [int] NULL,
	[POLICY_LIMITS] [decimal] (10,0) NULL,
	[RETENTION_LIMITS] [decimal] (10,0) NULL,
	[ACTION_ON_PAYMENT] [int] NULL,
	[CRACCTS] [int] NULL,
	[DRACCTS] [int] NULL,
	[TRANSACTION_ID] [int] NULL,
	[ACTUAL_RISK_ID] [int] NULL,
	[ACTUAL_RISK_TYPE] [nvarchar] (10) NULL,
	[CO_RESERVE] [decimal] (18,2) NULL CONSTRAINT [DF_CLM_ACTIVITY_RESERVE_CO_RESERVE] DEFAULT ((0)),
	[OUTSTANDING_TRAN] [decimal] (18,2) NOT NULL CONSTRAINT [DF_CLM_ACTIVITY_RESERVE_OUTSTANDING_TRAN] DEFAULT ((0)),
	[RI_RESERVE_TRAN] [decimal] (18,2) NOT NULL CONSTRAINT [DF_CLM_ACTIVITY_RESERVE_RI_RESERVE_TRAN] DEFAULT ((0)),
	[CO_RESERVE_TRAN] [decimal] (18,2) NOT NULL CONSTRAINT [DF_CLM_ACTIVITY_RESERVE_CO_RESERVE_TRAN] DEFAULT ((0)),
	[PREV_OUTSTANDING] [decimal] (18,2) NOT NULL CONSTRAINT [DF_CLM_ACTIVITY_RESERVE_PREV_OUTSTANDING] DEFAULT ((0)),
	[PAYMENT_AMOUNT] [decimal] (18,2) NOT NULL CONSTRAINT [DF_CLM_ACTIVITY_RESERVE_PAYMENT_AMOUNT] DEFAULT ((0)),
	[TOTAL_PAYMENT_AMOUNT] [decimal] (18,2) NOT NULL CONSTRAINT [DF_CLM_ACTIVITY_RESERVE_TOTAL_PAYMENT_AMOUNT] DEFAULT ((0)),
	[RECOVERY_AMOUNT] [decimal] (18,2) NOT NULL CONSTRAINT [DF_CLM_ACTIVITY_RESERVE_RECOVERY_AMOUNT] DEFAULT ((0)),
	[TOTAL_RECOVERY_AMOUNT] [decimal] (18,2) NOT NULL CONSTRAINT [DF_CLM_ACTIVITY_RESERVE_TOTAL_RECOVERY_AMOUNT] DEFAULT ((0)),
	[IS_COMMISSION_PROCESS] [nvarchar] (2) NULL,
	[ADJUSTED_AMOUNT] [decimal] (18,2) NOT NULL CONSTRAINT [DF_CLM_ACTIVITY_RESERVE_ADJUSTED_AMOUNT] DEFAULT ((0)),
	[DEDUCTIBLE_1] [decimal] (18,2) NOT NULL CONSTRAINT [DF_CLM_ACTIVITY_RESERVE_DEDUCTIBLE_1] DEFAULT ((0)),
	[VICTIM_ID] [int] NULL,
	[PERSONAL_INJURY] [char] (1) NULL,
	[IS_PAID_TO_PAGNET] [varchar] (2) NULL,
	[PAGNET_DATE] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_ACTIVITY_RESERVE] ADD CONSTRAINT [PK_CLM_ACTIVITY_RESERVE_CLAIM_ID_RESERVE_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CLAIM_ID] ASC
		,[RESERVE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
		,FILLFACTOR = 90
	) ON [PRIMARY]
GO

CREATE CLUSTERED INDEX [IDX_CLM_ACTIVITY_RESERVE_COLS_1_4_3_2_20] ON [dbo].[CLM_ACTIVITY_RESERVE]
(
	[CLAIM_ID] ASC,
	[COVERAGE_ID] ASC,
	[ACTIVITY_ID] ASC,
	[RESERVE_ID] ASC,
	[ACTION_ON_PAYMENT] ASC
)WITH (FILLFACTOR=90)ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IDX_CLM_ACTIVITY_RESERVE_COLS_1_3_20_2_4_17_CC_9_11] ON [dbo].[CLM_ACTIVITY_RESERVE]
(
	[CLAIM_ID] ASC,
	[ACTIVITY_ID] ASC,
	[ACTION_ON_PAYMENT] ASC,
	[RESERVE_ID] ASC,
	[COVERAGE_ID] ASC,
	[VEHICLE_ID] ASC
)
INCLUDE
(
	[OUTSTANDING],
	[RI_RESERVE]
)WITH (FILLFACTOR=90)ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IDX_CLM_ACTIVITY_RESERVE_COLS_1_3_20_4_K2_K17_9_11] ON [dbo].[CLM_ACTIVITY_RESERVE]
(
	[CLAIM_ID] ASC,
	[ACTIVITY_ID] ASC,
	[ACTION_ON_PAYMENT] ASC,
	[COVERAGE_ID] ASC,
	[RESERVE_ID] ASC,
	[VEHICLE_ID] ASC
)
INCLUDE
(
	[OUTSTANDING],
	[RI_RESERVE]
)WITH (FILLFACTOR=90)ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IDX_CLM_ACTIVITY_RESERVE_COLS_1_3_4_20_2_17_CC_9_11] ON [dbo].[CLM_ACTIVITY_RESERVE]
(
	[CLAIM_ID] ASC,
	[ACTIVITY_ID] ASC,
	[COVERAGE_ID] ASC,
	[ACTION_ON_PAYMENT] ASC,
	[RESERVE_ID] ASC,
	[VEHICLE_ID] ASC
)
INCLUDE
(
	[OUTSTANDING],
	[RI_RESERVE]
)WITH (FILLFACTOR=90)ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IDX_CLM_ACTIVITY_RESERVE_COLS_1_4_20_17_2_CC_3_9] ON [dbo].[CLM_ACTIVITY_RESERVE]
(
	[CLAIM_ID] ASC,
	[COVERAGE_ID] ASC,
	[ACTION_ON_PAYMENT] ASC,
	[VEHICLE_ID] ASC,
	[RESERVE_ID] ASC
)
INCLUDE
(
	[ACTIVITY_ID],
	[OUTSTANDING]
)WITH (FILLFACTOR=90)ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IDX_CLM_ACTIVITY_RESERVE_COLS_1_4_3_CC_9] ON [dbo].[CLM_ACTIVITY_RESERVE]
(
	[CLAIM_ID] ASC,
	[COVERAGE_ID] ASC,
	[ACTIVITY_ID] ASC
)
INCLUDE
(
	[OUTSTANDING]
)WITH (FILLFACTOR=90)ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IDX_CLM_ACTIVITY_RESERVE_COLS_4_1_3_2_20_17_CC_9_11] ON [dbo].[CLM_ACTIVITY_RESERVE]
(
	[COVERAGE_ID] ASC,
	[CLAIM_ID] ASC,
	[ACTIVITY_ID] ASC,
	[RESERVE_ID] ASC,
	[ACTION_ON_PAYMENT] ASC,
	[VEHICLE_ID] ASC
)
INCLUDE
(
	[OUTSTANDING],
	[RI_RESERVE]
)WITH (FILLFACTOR=90)ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IDX_CLM_ACTIVITY_RESERVE_COLS_4_1_3_20_2_17_CC_9_11] ON [dbo].[CLM_ACTIVITY_RESERVE]
(
	[COVERAGE_ID] ASC,
	[CLAIM_ID] ASC,
	[ACTIVITY_ID] ASC,
	[ACTION_ON_PAYMENT] ASC,
	[RESERVE_ID] ASC,
	[VEHICLE_ID] ASC
)
INCLUDE
(
	[OUTSTANDING],
	[RI_RESERVE]
)WITH (FILLFACTOR=90)ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IDX_CLM_ACTIVITY_RESERVE_COVERAGE_ID_CLAIM_ID_CC_ACTIVITY_ID_RI_RESERVE] ON [dbo].[CLM_ACTIVITY_RESERVE]
(
	[COVERAGE_ID] ASC,
	[CLAIM_ID] ASC
)
INCLUDE
(
	[ACTIVITY_ID],
	[RI_RESERVE]
)WITH (FILLFACTOR=90)ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_ACTIVITY_RESERVE] ADD CONSTRAINT [FK_CLM_ACTIVITY_RESERVE_CLAIM_COV_ID] FOREIGN KEY
	(
		[COVERAGE_ID]
	)
	REFERENCES [dbo].[CLM_PRODUCT_COVERAGES]
	(
		[CLAIM_COV_ID]
	) 
GO

