IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_POLICY_STATUS_MASTER]') AND type in (N'U'))
DROP TABLE [dbo].[POL_POLICY_STATUS_MASTER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_POLICY_STATUS_MASTER](
	[POLICY_STATUS_CODE] [nvarchar] (20) NOT NULL,
	[POLICY_DESCRIPTION] [nvarchar] (250) NULL,
	[IS_ACTIVE] [char] (1) NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_POLICY_STATUS_MASTER] ADD CONSTRAINT [PK_POL_POLICY_STATUS_MASTER_POLICY_STATUS_CODE] PRIMARY KEY
	NONCLUSTERED
	(
		[POLICY_STATUS_CODE] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

