IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_REINSURANCE_BREAKDOWN_DETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[POL_REINSURANCE_BREAKDOWN_DETAILS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_REINSURANCE_BREAKDOWN_DETAILS](
	[IDEN_ROW_ID] [int] NOT NULL IDENTITY (1,1),
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[LOB_ID] [smallint] NULL,
	[STATE_ID] [smallint] NULL,
	[POLICY_NUMBER] [nvarchar] (30) NULL,
	[INSURED_NAME] [nvarchar] (137) NULL,
	[ADDRESS] [nvarchar] (300) NULL,
	[CITY] [nvarchar] (70) NULL,
	[ZIP_CODE] [nvarchar] (20) NULL,
	[LOB_DESC] [nvarchar] (50) NULL,
	[STATE_DESC] [nvarchar] (50) NULL,
	[APP_EFFECTIVE_DATE] [nvarchar] (30) NULL,
	[APP_EXPIRATION_DATE] [nvarchar] (30) NULL,
	[REINS_SPECIAL_ACPT] [nvarchar] (3) NULL,
	[PROCESS_TRAN_DATE] [nvarchar] (30) NULL,
	[TRAN_EFF_DATE] [nvarchar] (60) NULL,
	[TRAN_DESC] [nvarchar] (50) NULL,
	[MONTH_NUMBER] [int] NULL,
	[YEAR_NUMBER] [int] NULL,
	[SEQUENCE_NUMBER] [nvarchar] (20) NULL,
	[COV_CATEGORY_ID] [int] NULL,
	[COMPLETED] [nvarchar] (10) NULL,
	[STATEMENT_DATE] [nvarchar] (30) NULL,
	[CONTRACT_NUMBER] [nvarchar] (25) NULL,
	[PREMIUM_BASE] [nvarchar] (25) NULL,
	[CONTRACT_YEAR] [nvarchar] (10) NULL,
	[TOTAL_INS_VALUE] [numeric] (20,0) NULL,
	[TIV_GROUP] [nchar] (3) NOT NULL,
	[LAYER] [int] NULL,
	[LAYER_AMOUNT] [numeric] (20,2) NULL,
	[REIN_LIMIT_FAB] [nvarchar] (1) NULL,
	[COV_CATEGORY] [nvarchar] (100) NULL,
	[TRAN_PREMIUM] [numeric] (22,2) NULL,
	[EARNED] [numeric] (22,2) NULL,
	[WRITTEN] [numeric] (22,2) NULL,
	[CONSTRACTION] [nvarchar] (15) NULL,
	[PROTECTION] [nvarchar] (100) NULL,
	[CENTRAL_ALARM] [nvarchar] (10) NULL,
	[NEW_HOME] [nvarchar] (10) NULL,
	[HOME_AGE] [nvarchar] (10) NULL,
	[DEDUCT_LAYER_1] [nvarchar] (15) NULL,
	[DEDUCT_LAYER_2] [nvarchar] (15) NULL,
	[RATE] [numeric] (10,4) NULL,
	[REIN_PREMIUM] [numeric] (12,2) NULL,
	[COMM_PERCENTAGE] [decimal] (10,4) NULL,
	[COMM_AMOUNT] [numeric] (10,2) NULL,
	[NET_DUE] [numeric] (10,2) NULL,
	[MAJOR_PARTICIPANT] [nvarchar] (200) NULL,
	[RETENTION_PER] [decimal] (7,2) NULL,
	[REIN_CEDED] [nvarchar] (15) NULL,
	[RISK_ID] [nvarchar] (50) NULL,
	[PROCESS_ID] [int] NULL,
	[IS_COMMISSION_PROCESS] [nvarchar] (2) NULL,
	[IS_PAID_TO_PAGNET] [varchar] (2) NULL,
	[PAGNET_DATE] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_REINSURANCE_BREAKDOWN_DETAILS] ADD CONSTRAINT [PK_POL_REINSURANCE_BREAKDOWN_DETAILS_IDEN_ROW_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[IDEN_ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_REINSURANCE_BREAKDOWN_DETAILS] WITH NOCHECK ADD CONSTRAINT [FK_POL_REINSURANCE_BREAKDOWN_DETAILS_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

