IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_TRAN_CODE_GROUP_DETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_TRAN_CODE_GROUP_DETAILS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_TRAN_CODE_GROUP_DETAILS](
	[DETAIL_ID] [smallint] NOT NULL,
	[TRAN_GROUP_ID] [smallint] NOT NULL,
	[TRAN_ID] [smallint] NOT NULL,
	[DEF_SEQ] [smallint] NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_TRAN_CODE_GROUP_DETAILS] ADD CONSTRAINT [PK_ACT_TRAN_CODE_GROUP_DETAILS_DETAIL_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[DETAIL_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_TRAN_CODE_GROUP_DETAILS] ADD CONSTRAINT [FK_ACT_TRAN_CODE_GROUP_DETAILS_TRAN_GROUP_ID] FOREIGN KEY
	(
		[TRAN_GROUP_ID]
	)
	REFERENCES [dbo].[ACT_TRAN_CODE_GROUP]
	(
		[TRAN_GROUP_ID]
	) 
GO

ALTER TABLE [dbo].[ACT_TRAN_CODE_GROUP_DETAILS] ADD CONSTRAINT [FK_ACT_TRAN_CODE_GROUP_DETAILS_TRAN_ID] FOREIGN KEY
	(
		[TRAN_ID]
	)
	REFERENCES [dbo].[ACT_TRANSACTION_CODES]
	(
		[TRAN_ID]
	) 
GO

