IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_AGENCY_STATE_LOB_ASSOC]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_AGENCY_STATE_LOB_ASSOC]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_AGENCY_STATE_LOB_ASSOC](
	[MNT_AGENCY_STATE_LOB_ASSOC_ID] [int] NOT NULL,
	[AGENCY_ID] [int] NOT NULL,
	[STATE_ID] [smallint] NOT NULL,
	[LOB_ID] [nvarchar] (5) NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[IS_ACTIVE] [nchar] (1) NULL
) ON [PRIMARY]
GO

