IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MIG_CLAIM_LOSS_TYPE_MAPPING]') AND type in (N'U'))
DROP TABLE [dbo].[MIG_CLAIM_LOSS_TYPE_MAPPING]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MIG_CLAIM_LOSS_TYPE_MAPPING](
	[LOSS_TYPE_ID] [int] NOT NULL,
	[EBIX_LOSS_ID] [int] NULL,
	[LEADER_LOSS_ID] [bigint] NULL,
	[ALBA_LOSS_TYPE] [nvarchar] (MAX) NULL,
	[LEADER_LOSS_DESC1] [nvarchar] (MAX) NULL,
	[LEADER_LOSS_DESC2] [nvarchar] (MAX) NULL,
	[LEADER_LOSS_DESC3] [nvarchar] (MAX) NULL,
	[RI_LOSS_CODE] [nvarchar] (200) NULL,
	[RI_LOSS_DESC] [nvarchar] (MAX) NULL,
	[IS_ACTIVE] [char] (1) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MIG_CLAIM_LOSS_TYPE_MAPPING] ADD CONSTRAINT [PK_MIG_CLAIM_LOSS_TYPE_MAPPING] PRIMARY KEY
	CLUSTERED
	(
		[LOSS_TYPE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

