IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_ACTIVITY_MASTER]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_ACTIVITY_MASTER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_ACTIVITY_MASTER](
	[ACTIVITY_ID] [int] NOT NULL,
	[ACTIVITY_DESC] [nvarchar] (250) NULL,
	[TYPE] [int] NULL,
	[IS_ACTIVE] [nchar] (1) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_ACTIVITY_MASTER] ADD CONSTRAINT [MNT_ACTIVITY_MASTER_ACTIVITY_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[ACTIVITY_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

