IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_TAX_RECON_GROUP_DETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_TAX_RECON_GROUP_DETAILS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_TAX_RECON_GROUP_DETAILS](
	[IDEN_ROW_NO] [int] NOT NULL IDENTITY (1,1),
	[GROUP_ID] [int] NULL,
	[ITEM_TYPE] [nvarchar] (5) NULL,
	[ITEM_REFERENCE_ID] [int] NULL,
	[SUB_LEDGER_TYPE] [nvarchar] (5) NULL,
	[RECON_AMOUNT] [decimal] (18,2) NULL,
	[NOTE] [nvarchar] (255) NULL,
	[DIV_ID] [smallint] NULL,
	[DEPT_ID] [smallint] NULL,
	[PC_ID] [smallint] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_TAX_RECON_GROUP_DETAILS] ADD CONSTRAINT [PK_ACT_TAX_RECON_GROUP_DETAILS_IDEN_ROW_NO] PRIMARY KEY
	NONCLUSTERED
	(
		[IDEN_ROW_NO] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
		,FILLFACTOR = 90
	) ON [PRIMARY]
GO

