IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MIG_POLICY_COVERAGES]') AND type in (N'U'))
DROP TABLE [dbo].[MIG_POLICY_COVERAGES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MIG_POLICY_COVERAGES](
	[IMPORT_REQUEST_ID] [int] NOT NULL,
	[SERIAL_NO] [int] NOT NULL,
	[POLICY_ID] [int] NULL,
	[POLICY_VERSION_ID] [smallint] NULL,
	[IS_ACTIVE] [nchar] (1) NULL CONSTRAINT [DF_MIG_POLICY_COVERAGES_IS_ACTIVE] DEFAULT ('N'),
	[IS_DELETED] [nchar] (1) NULL CONSTRAINT [DF_MIG_POLICY_COVERAGES_IS_DELETED] DEFAULT ('N'),
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[HAS_ERRORS] [nchar] (1) NULL CONSTRAINT [DF_MIG_POLICY_COVERAGES_HAS_ERRORS] DEFAULT ('N'),
	[SEQUENCE_NO] [nvarchar] (6) NULL,
	[ALBA_SUSEP_CODE] [nvarchar] (5) NULL,
	[PRODUCT_LOB] [int] NULL,
	[LEADER_POLICY_NUMBER] [nvarchar] (9) NULL,
	[LEADER_ENDORSEMENT_NUMBER] [int] NULL,
	[LEADER_BRANCH] [nvarchar] (5) NULL,
	[POLICY_RISK_ID] [int] NULL,
	[LEADER_COVERAGE_CODE] [nvarchar] (5) NULL,
	[COVERAGE_DESCRIPTION] [nvarchar] (60) NULL,
	[SUM_INSURED] [decimal] (28,2) NULL,
	[INITIAL_RATE] [decimal] (28,2) NULL,
	[RISK_PREMIUM] [decimal] (28,2) NULL,
	[DISCOUNT_PERCENTAGE] [decimal] (28,2) NULL,
	[FINAL_RATE] [decimal] (28,2) NULL,
	[POLICY_EFFECTIVE_DATE] [datetime] NULL,
	[POLICY_EXPIRY_DATE] [datetime] NULL,
	[ALBA_POLICY_NUMBER] [nvarchar] (80) NULL,
	[ALBA_ENDORSEMENT_NO] [int] NULL,
	[CUSTOMER_ID] [int] NULL,
	[ERROR_TYPES] [varchar] (MAX) NULL,
	[ERROR_COLUMNS] [nvarchar] (MAX) NULL,
	[ERROR_COLUMN_VALUES] [nvarchar] (MAX) NULL,
	[ERROR_SOURCE_FILE] [nvarchar] (1000) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MIG_POLICY_COVERAGES] ADD CONSTRAINT [PK_MIG_POLICY_COVERAGES_IMPORT_REQUEST_ID_SERIAL_NO] PRIMARY KEY
	NONCLUSTERED
	(
		[IMPORT_REQUEST_ID] ASC
		,[SERIAL_NO] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

