IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_UMBRELLA_EMPLOYMENT_INFO]') AND type in (N'U'))
DROP TABLE [dbo].[POL_UMBRELLA_EMPLOYMENT_INFO]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_UMBRELLA_EMPLOYMENT_INFO](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[APP_OCCUPATION] [smallint] NULL,
	[CO_APP_OCCUPATION] [smallint] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_UMBRELLA_EMPLOYMENT_INFO] ADD CONSTRAINT [PK_POL_UMBRELLA_EMPLOYMENT_INFO_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

