IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_LANGUAGE_MASTER_MULTILINGUAL_BACKUP]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_LANGUAGE_MASTER_MULTILINGUAL_BACKUP]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_LANGUAGE_MASTER_MULTILINGUAL_BACKUP](
	[LANG_ID] [smallint] NULL,
	[LANG_NAME] [nvarchar] (30) NULL,
	[PARENT_LANG_ID] [smallint] NULL
) ON [PRIMARY]
GO

