IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_VIN_MOTORCYCLE_MASTER]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_VIN_MOTORCYCLE_MASTER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_VIN_MOTORCYCLE_MASTER](
	[ID] [int] NOT NULL,
	[Manufacturer] [nvarchar] (255) NULL,
	[Model] [nvarchar] (255) NULL,
	[Class] [nvarchar] (255) NULL,
	[Model_Year] [nvarchar] (4) NULL,
	[Model_CC] [int] NULL,
	[EFFECTIVE_FROM_DATE] [datetime] NULL,
	[EFFECTIVE_TO_DATE] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_VIN_MOTORCYCLE_MASTER] ADD CONSTRAINT [PK_MNT_VIN_MOTORCYCLE_MASTER_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
		,FILLFACTOR = 90
	) ON [PRIMARY]
GO

