IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_VIN_MASTER]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_VIN_MASTER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_VIN_MASTER](
	[VIN_ID] [int] NOT NULL IDENTITY (1,1),
	[VIN] [nvarchar] (20) NOT NULL,
	[MAKE_CODE] [nvarchar] (510) NULL,
	[MODEL_YEAR] [nvarchar] (4) NULL,
	[MAKE_NAME] [nvarchar] (510) NULL,
	[SERIES_NAME] [nvarchar] (510) NULL,
	[BODY_TYPE] [nvarchar] (510) NULL,
	[ANTI_LCK_BRAKES] [nvarchar] (510) NULL,
	[AIRBAG] [nvarchar] (2) NULL,
	[SYMBOL] [nvarchar] (2) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_VIN_MASTER] ADD CONSTRAINT [PK_MNT_VIN_MASTER] PRIMARY KEY
	NONCLUSTERED
	(
		[VIN_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

