IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_CURRENCY_RATE_MASTER]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_CURRENCY_RATE_MASTER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_CURRENCY_RATE_MASTER](
	[CRR_RATE_ID] [int] NOT NULL IDENTITY (1,1),
	[CURRENCY_ID] [int] NOT NULL,
	[RATE] [decimal] (6,4) NULL,
	[RATE_EFFETIVE_FROM] [datetime] NOT NULL,
	[RATE_EFFETIVE_TO] [datetime] NULL,
	[IS_ACTIVE] [char] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_CURRENCY_RATE_MASTER] ADD CONSTRAINT [PK_MNT_CURRENCY_RATE_MASTER_CRR_RATE_ID_CURRENCY_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CRR_RATE_ID] ASC
		,[CURRENCY_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

