IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_TAX_ENTITY_LIST]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_TAX_ENTITY_LIST]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_TAX_ENTITY_LIST](
	[TAX_ID] [int] NOT NULL IDENTITY (1,1),
	[TAX_NAME] [nvarchar] (70) NULL,
	[TAX_CODE] [nvarchar] (6) NULL,
	[TAX_ADDRESS1] [nvarchar] (70) NULL,
	[TAX_ADDRESS2] [nvarchar] (70) NULL,
	[TAX_CITY] [nvarchar] (40) NULL,
	[TAX_COUNTRY] [nvarchar] (5) NULL,
	[TAX_STATE] [nvarchar] (5) NULL,
	[TAX_ZIP] [nvarchar] (11) NULL,
	[TAX_PHONE] [nvarchar] (15) NULL,
	[TAX_EXT] [nvarchar] (5) NULL,
	[TAX_FAX] [nvarchar] (15) NULL,
	[TAX_EMAIL] [nvarchar] (50) NULL,
	[TAX_WEBSITE] [nvarchar] (70) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_TAX_ENTITY_LIST] ADD CONSTRAINT [PK_MNT_TAX_ENTITY_LIST_TAX_ID] PRIMARY KEY
	CLUSTERED
	(
		[TAX_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

