IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_WATERCRAFT_EQUIP_DETAILLS]') AND type in (N'U'))
DROP TABLE [dbo].[POL_WATERCRAFT_EQUIP_DETAILLS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_WATERCRAFT_EQUIP_DETAILLS](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[EQUIP_ID] [smallint] NOT NULL,
	[EQUIP_NO] [int] NULL,
	[EQUIP_TYPE] [int] NULL,
	[SHIP_TO_SHORE] [int] NULL,
	[YEAR] [int] NULL,
	[MAKE] [nvarchar] (65) NULL,
	[MODEL] [nvarchar] (65) NULL,
	[SERIAL_NO] [nvarchar] (65) NULL,
	[ASSOCIATED_BOAT] [smallint] NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[INSURED_VALUE] [decimal] (9,2) NULL,
	[EQUIP_AMOUNT] [decimal] (9,0) NULL,
	[OTHER_DESCRIPTION] [nvarchar] (100) NULL,
	[EQUIPMENT_TYPE] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_WATERCRAFT_EQUIP_DETAILLS] ADD CONSTRAINT [PK_POL_WATERCRAFT_EQUIP_DETAILLS_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID_EQUIP_ID] PRIMARY KEY
	CLUSTERED
	(
		[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[CUSTOMER_ID] ASC
		,[EQUIP_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_WATERCRAFT_EQUIP_DETAILLS] WITH NOCHECK ADD CONSTRAINT [FK_POL_WATERCRAFT_EQUIP_DETAILLS_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

