IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_REINSURANCE_CONTRACT]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_REINSURANCE_CONTRACT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_REINSURANCE_CONTRACT](
	[CONTRACT_ID] [int] NOT NULL,
	[CONTRACT_NUMBER] [nvarchar] (25) NULL,
	[CONTRACT_NAME_ID] [int] NULL,
	[CONTRACT_TYPE] [int] NULL,
	[CONTRACT_LOB] [smallint] NULL,
	[CONTRACT_DESC] [nvarchar] (250) NULL,
	[BROKERID] [int] NULL,
	[STATE_ID] [int] NULL,
	[REINSURER_REFERENCE_NUM] [nvarchar] (25) NULL,
	[UW_YEAR] [smallint] NULL,
	[ASLOB] [numeric] (18,0) NULL,
	[SUBLINE_CODE] [nvarchar] (10) NULL,
	[COVERAGE_CODE] [nvarchar] (10) NULL,
	[CESSION] [decimal] (8,0) NULL,
	[CALCULATION_BASE] [int] NULL,
	[EFFECTIVE_DATE] [datetime] NULL,
	[EXPIRATION_DATE] [datetime] NULL,
	[CREATED_BY] [smallint] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [smallint] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[LOSS_ADJUSTMENT_EXPENSE] [nvarchar] (50) NULL,
	[RISK_EXPOSURE] [nvarchar] (50) NULL,
	[ORIGINAL_CONTACT_DATE] [datetime] NULL,
	[CONTACT_YEAR] [nvarchar] (10) NULL,
	[COMMISSION] [decimal] (7,4) NULL,
	[PER_OCCURRENCE_LIMIT] [nvarchar] (50) NULL,
	[ANNUAL_AGGREGATE] [nvarchar] (50) NULL,
	[DEPOSIT_PREMIUMS] [nvarchar] (50) NULL,
	[DEPOSIT_PREMIUM_PAYABLE] [nvarchar] (50) NULL,
	[MINIMUM_PREMIUM] [nvarchar] (50) NULL,
	[SEQUENCE_NUMBER] [nvarchar] (50) NULL,
	[TERMINATION_DATE] [datetime] NULL,
	[TERMINATION_REASON] [nvarchar] (50) NULL,
	[COMMENTS] [nvarchar] (255) NULL,
	[FOLLOW_UP_FIELDS] [nvarchar] (50) NULL,
	[COMMISSION_APPLICABLE] [int] NULL,
	[REINSURANCE_PREMIUM_ACCOUNT] [nvarchar] (50) NULL,
	[REINSURANCE_PAYABLE_ACCOUNT] [nvarchar] (50) NULL,
	[REINSURANCE_COMMISSION_ACCOUNT] [nvarchar] (50) NULL,
	[REINSURANCE_COMMISSION_RECEIVABLE_ACCOUNT] [nvarchar] (50) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[FOLLOW_UP_FOR] [int] NULL,
	[CASH_CALL_LIMIT] [decimal] (18,2) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_REINSURANCE_CONTRACT] ADD CONSTRAINT [PK_MNT_REINSURANCE_CONTRACT_CONTRACT_ID] PRIMARY KEY
	CLUSTERED
	(
		[CONTRACT_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_REINSURANCE_CONTRACT] ADD CONSTRAINT [FK_MNT_REINSURANCE_CONTRACT_MNT_CONTRACT_NAME_CONTRACT_NAME_ID] FOREIGN KEY
	(
		[CONTRACT_NAME_ID]
	)
	REFERENCES [dbo].[MNT_CONTRACT_NAME]
	(
		[CONTRACT_NAME_ID]
	) 
GO

ALTER TABLE [dbo].[MNT_REINSURANCE_CONTRACT] ADD CONSTRAINT [FK_MNT_REINSURANCE_CONTRACT_MNT_LOB_MASTER_CONTRACT_LOB] FOREIGN KEY
	(
		[CONTRACT_LOB]
	)
	REFERENCES [dbo].[MNT_LOB_MASTER]
	(
		[LOB_ID]
	) 
GO

ALTER TABLE [dbo].[MNT_REINSURANCE_CONTRACT] ADD CONSTRAINT [FK_MNT_REINSURANCE_CONTRACT_MNT_REINSURANCE_CONTRACT_TYPE_CONTRACT_TYPE] FOREIGN KEY
	(
		[CONTRACT_TYPE]
	)
	REFERENCES [dbo].[MNT_REINSURANCE_CONTRACT_TYPE]
	(
		[CONTRACTTYPEID]
	) 
GO

