IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_LOB_AGENCY]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_LOB_AGENCY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_LOB_AGENCY](
	[LOB_ID] [int] NOT NULL,
	[AGENCY_ID] [int] NOT NULL,
	[LOB_PREFIX] [char] (5) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_LOB_AGENCY] ADD CONSTRAINT [PK_MNT_LOB_AGENCY_LOB_ID_AGENCY_ID] PRIMARY KEY
	CLUSTERED
	(
		[LOB_ID] ASC
		,[AGENCY_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

