IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_XOL_INFORMATION]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_XOL_INFORMATION]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_XOL_INFORMATION](
	[XOL_ID] [int] NOT NULL,
	[LOB_ID] [int] NULL,
	[CONTRACT_ID] [int] NULL,
	[RECOVERY_BASE] [int] NULL,
	[LOSS_DEDUCTION] [decimal] (18,2) NULL,
	[AGGREGATE_LIMIT] [decimal] (18,2) NULL,
	[MIN_DEPOSIT_PREMIUM] [decimal] (18,2) NULL,
	[FLAT_ADJ_RATE] [decimal] (7,4) NULL,
	[REINSTATE_PREMIUM_RATE] [decimal] (7,4) NULL,
	[REINSTATE_NUMBER] [int] NULL,
	[PREMIUM_DISCOUNT] [decimal] (7,4) NULL,
	[IS_ACTIVE] [char] (1) NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[USED_AGGREGATE_LIMIT] [decimal] (18,2) NULL,
	[MIN_CLAIM_LIMIT] [int] NULL,
	[IS_CLAIM_CAL_DONE] [char] (1) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_XOL_INFORMATION] ADD CONSTRAINT [PK_MNT_XOL_INFORMATION_XOL_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[XOL_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_XOL_INFORMATION] WITH NOCHECK ADD CONSTRAINT [FK_MNT_XOL_INFORMATION_CONTRACT_ID] FOREIGN KEY
	(
		[CONTRACT_ID]
	)
	REFERENCES [dbo].[MNT_REINSURANCE_CONTRACT]
	(
		[CONTRACT_ID]
	) 
GO

