IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_GENERAL_HOLDER_INTEREST]') AND type in (N'U'))
DROP TABLE [dbo].[POL_GENERAL_HOLDER_INTEREST]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_GENERAL_HOLDER_INTEREST](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[ADD_INT_ID] [int] NOT NULL,
	[HOLDER_ID] [int] NULL,
	[DWELLING_ID] [smallint] NULL,
	[MEMO] [nvarchar] (500) NULL,
	[NATURE_OF_INTEREST] [nvarchar] (60) NULL,
	[RANK] [smallint] NULL,
	[LOAN_REF_NUMBER] [nvarchar] (150) NULL,
	[HOLDER_NAME] [nvarchar] (140) NULL,
	[HOLDER_ADD1] [nvarchar] (280) NULL,
	[HOLDER_ADD2] [nvarchar] (280) NULL,
	[HOLDER_CITY] [nvarchar] (160) NULL,
	[HOLDER_COUNTRY] [nvarchar] (20) NULL,
	[HOLDER_STATE] [nvarchar] (20) NULL,
	[HOLDER_ZIP] [nvarchar] (11) NULL,
	[IS_ACTIVE] [nchar] (2) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_GENERAL_HOLDER_INTEREST] ADD CONSTRAINT [PK_POL_GENERAL_HOLDER_INTEREST_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_ADD_INT_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[ADD_INT_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_GENERAL_HOLDER_INTEREST] ADD CONSTRAINT [FK_POL_GENERAL_HOLDER_INTEREST_POL_CUSTOMER_POLICY_LIST_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

