IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_POSTING_ACCOUNT]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_POSTING_ACCOUNT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_POSTING_ACCOUNT](
	[TRANSACTION_CODE] [int] NULL,
	[DETAIL_TYPE_ID] [int] NULL,
	[ACCOUNT_FOR] [nvarchar] (3) NULL,
	[DEBIT_ACCOUNT_ID] [int] NULL,
	[CREDIT_ACCOUNT_ID] [int] NULL
) ON [PRIMARY]
GO

