IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_PRODUCT_COVERAGES]') AND type in (N'U'))
DROP TABLE [dbo].[POL_PRODUCT_COVERAGES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_PRODUCT_COVERAGES](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[RISK_ID] [smallint] NOT NULL,
	[COVERAGE_ID] [int] NOT NULL,
	[COVERAGE_CODE_ID] [int] NOT NULL,
	[RI_APPLIES] [nchar] (1) NULL,
	[LIMIT_OVERRIDE] [nvarchar] (5) NULL,
	[LIMIT_1] [decimal] (18,2) NULL,
	[LIMIT_1_TYPE] [nvarchar] (5) NULL,
	[LIMIT_2] [decimal] (18,2) NULL,
	[LIMIT_2_TYPE] [nvarchar] (5) NULL,
	[LIMIT1_AMOUNT_TEXT] [nvarchar] (100) NULL,
	[LIMIT2_AMOUNT_TEXT] [nvarchar] (100) NULL,
	[DEDUCT_OVERRIDE] [nchar] (1) NULL,
	[DEDUCTIBLE_1] [decimal] (18,2) NULL,
	[DEDUCTIBLE_1_TYPE] [nvarchar] (6) NULL,
	[DEDUCTIBLE_2] [decimal] (18,2) NULL,
	[DEDUCTIBLE_2_TYPE] [nvarchar] (5) NULL,
	[MINIMUM_DEDUCTIBLE] [decimal] (18,2) NULL,
	[DEDUCTIBLE1_AMOUNT_TEXT] [nvarchar] (500) NULL,
	[DEDUCTIBLE2_AMOUNT_TEXT] [nvarchar] (1000) NULL,
	[DEDUCTIBLE_REDUCES] [nvarchar] (1) NULL,
	[INITIAL_RATE] [decimal] (8,4) NULL,
	[FINAL_RATE] [decimal] (8,4) NULL,
	[AVERAGE_RATE] [nchar] (1) NULL,
	[WRITTEN_PREMIUM] [decimal] (18,2) NULL,
	[FULL_TERM_PREMIUM] [decimal] (18,2) NULL,
	[IS_SYSTEM_COVERAGE] [nchar] (1) NULL,
	[LIMIT_ID] [int] NULL,
	[DEDUC_ID] [int] NULL,
	[ADD_INFORMATION] [nvarchar] (20) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[INDEMNITY_PERIOD] [int] NULL CONSTRAINT [DF__POL_PRODU__INDEM__70DD89B0] DEFAULT ((0)),
	[CHANGE_INFORCE_PREM] [decimal] (25,2) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[ACC_CO_DISCOUNT] [decimal] (9,2) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_PRODUCT_COVERAGES] ADD CONSTRAINT [PK_POL_PRODUCT_COVERAGES_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID_VEHICLE_ID_COVERAGE_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[CUSTOMER_ID] ASC
		,[RISK_ID] ASC
		,[COVERAGE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_PRODUCT_COVERAGES] ADD CONSTRAINT [FK_POL_PRODUCT_COVERAGES_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

