IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_CONTACT_TYPES]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_CONTACT_TYPES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_CONTACT_TYPES](
	[CONTACT_TYPE_ID] [smallint] NOT NULL IDENTITY (1,1),
	[CONTACT_TYPE_DESC] [nvarchar] (75) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_CONTACT_TYPES] ADD CONSTRAINT [PK_MNT_CONTACT_TYPES_CONTACT_TYPE_ID] PRIMARY KEY
	CLUSTERED
	(
		[CONTACT_TYPE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

