IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_REINSURANCE_COVERAGE_CATEGORY]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_REINSURANCE_COVERAGE_CATEGORY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_REINSURANCE_COVERAGE_CATEGORY](
	[COVERAGE_CATEGORY_ID] [int] NOT NULL,
	[EFFECTIVE_DATE] [datetime] NULL,
	[LOB_ID] [smallint] NOT NULL,
	[CATEGORY] [nvarchar] (500) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[IS_ACTIVE] [char] (1) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_REINSURANCE_COVERAGE_CATEGORY] ADD CONSTRAINT [PK_AMNT_REINSURANCE_COVERAGE_CATEGORY_COVERAGE_CATEGORY_ID_LOB_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[COVERAGE_CATEGORY_ID] ASC
		,[LOB_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_REINSURANCE_COVERAGE_CATEGORY] ADD CONSTRAINT [FK_MNT_REINSURANCE_COVERAGE_CATEGORY_LOB_ID] FOREIGN KEY
	(
		[LOB_ID]
	)
	REFERENCES [dbo].[MNT_LOB_MASTER]
	(
		[LOB_ID]
	) 
GO

