IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_POLICY_INSTALLMENT_DETAILS_HISTORY]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_POLICY_INSTALLMENT_DETAILS_HISTORY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_POLICY_INSTALLMENT_DETAILS_HISTORY](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [int] NOT NULL,
	[INSTALLMENT_ROW_ID] [int] NOT NULL,
	[HISTORY_ROW_ID] [int] NOT NULL IDENTITY (1,1),
	[RISK_ID] [int] NULL,
	[RISK_TYPE] [nvarchar] (15) NULL,
	[INSTALLMENT_NO] [int] NULL,
	[INSTALLMENT_EFFECTIVE_DATE] [datetime] NULL,
	[PERCENTAG_OF_PREMIUM] [decimal] (8,4) NOT NULL CONSTRAINT [DF_ACT_POLICY_INSTALLMENT_DETAILS_HISTORY_PERCENTAG_OF_PREMIUM] DEFAULT ((0)),
	[INSTALLMENT_AMOUNT] [decimal] (25,2) NULL CONSTRAINT [DF_ACT_POLICY_INSTALLMENT_DETAILS_HISTORY_INSTALLMENT_AMOUNT] DEFAULT ((0)),
	[INTEREST_AMOUNT] [decimal] (25,2) NULL CONSTRAINT [DF_ACT_POLICY_INSTALLMENT_DETAILS_HISTORY_INTEREST_AMOUNT] DEFAULT ((0)),
	[FEE] [decimal] (25,2) NULL CONSTRAINT [DF_ACT_POLICY_INSTALLMENT_DETAILS_HISTORY_FEE] DEFAULT ((0)),
	[TAXES] [decimal] (25,2) NULL CONSTRAINT [DF_ACT_POLICY_INSTALLMENT_DETAILS_HISTORY_TAXES] DEFAULT ((0)),
	[TOTAL] [decimal] (25,2) NULL CONSTRAINT [DF_ACT_POLICY_INSTALLMENT_DETAILS_HISTORY_TOTAL] DEFAULT ((0)),
	[TRAN_PREMIUM_AMOUNT] [decimal] (25,2) NULL CONSTRAINT [DF_ACT_POLICY_INSTALLMENT_DETAILS_HISTORY_TRAN_PREMIUM_AMOUNT] DEFAULT ((0)),
	[TRAN_INTEREST_AMOUNT] [decimal] (25,2) NULL CONSTRAINT [DF_ACT_POLICY_INSTALLMENT_DETAILS_HISTORY_TRAN_INTEREST_AMOUNT] DEFAULT ((0)),
	[TRAN_FEE] [decimal] (25,2) NULL CONSTRAINT [DF_ACT_POLICY_INSTALLMENT_DETAILS_HISTORY_TRAN_FEE] DEFAULT ((0)),
	[TRAN_TAXES] [decimal] (25,2) NULL CONSTRAINT [DF_ACT_POLICY_INSTALLMENT_DETAILS_HISTORY_TRAN_TAXES] DEFAULT ((0)),
	[TRAN_TOTAL] [decimal] (25,2) NULL CONSTRAINT [DF_ACT_POLICY_INSTALLMENT_DETAILS_HISTORY_TRAN_TOTAL] DEFAULT ((0)),
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[CO_APPLICANT_ID] [int] NULL,
	[RELEASED_STATUS] [nchar] (1) NULL,
	[PAYMENT_MODE] [int] NULL,
	[CURRENT_TERM] [smallint] NULL,
	[BOLETO_NO] [nvarchar] (100) NULL,
	[IS_BOLETO_GENRATED] [nchar] (1) NULL,
	[IS_PROCESSED] [bit] NULL CONSTRAINT [DF__ACT_POLIC__IS_PR__14C6AFC2] DEFAULT ((0)),
	[INSTALLMENT_EXPIRE_DATE] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_POLICY_INSTALLMENT_DETAILS_HISTORY] ADD CONSTRAINT [PK_ACT_POLICY_INSTALLMENT_DETAILS_HISTORY_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_INSTALLMENT_ROW_ID_HISTORY_ROW_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[INSTALLMENT_ROW_ID] ASC
		,[HISTORY_ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_POLICY_INSTALLMENT_DETAILS_HISTORY] ADD CONSTRAINT [FK_ACT_POLICY_INSTALLMENT_DETAILS_HISTORY_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_INSTALLMENT_ROW_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[INSTALLMENT_ROW_ID]
	)
	REFERENCES [dbo].[ACT_POLICY_INSTALLMENT_DETAILS]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[ROW_ID]
	) 
GO

