IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_WATERCRAFT_COVERAGE_INFO]') AND type in (N'U'))
DROP TABLE [dbo].[POL_WATERCRAFT_COVERAGE_INFO]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_WATERCRAFT_COVERAGE_INFO](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[BOAT_ID] [smallint] NOT NULL,
	[COVERAGE_ID] [int] NOT NULL,
	[WRITTEN_PREMIUM] [decimal] (18,2) NULL,
	[FULL_TERM_PREMIUM] [decimal] (18,2) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[COVERAGE_CODE_ID] [int] NOT NULL CONSTRAINT [DF_POL_WATERCRAFT_COVERAGE_INFO] DEFAULT (0),
	[LIMIT_1] [decimal] (18,0) NULL,
	[DEDUCTIBLE_1] [decimal] (18,0) NULL,
	[LIMIT_OVERRIDE] [nvarchar] (10) NULL,
	[LIMIT_1_TYPE] [nvarchar] (10) NULL,
	[LIMIT_2] [decimal] (18,0) NULL,
	[LIMIT_2_TYPE] [nvarchar] (10) NULL,
	[DEDUCTIBLE_2] [decimal] (18,0) NULL,
	[DEDUCTIBLE_2_TYPE] [nvarchar] (10) NULL,
	[DEDUCTIBLE_1_TYPE] [nvarchar] (10) NULL,
	[IS_SYSTEM_COVERAGE] [nchar] (2) NULL,
	[DEDUCT_OVERRIDE] [nvarchar] (10) NULL,
	[LIMIT1_AMOUNT_TEXT] [nvarchar] (100) NULL,
	[LIMIT2_AMOUNT_TEXT] [nvarchar] (100) NULL,
	[DEDUCTIBLE1_AMOUNT_TEXT] [nvarchar] (100) NULL,
	[DEDUCTIBLE2_AMOUNT_TEXT] [nvarchar] (100) NULL,
	[SIGNATURE_OBTAINED] [nchar] (1) NULL,
	[LIMIT_ID] [int] NULL,
	[DEDUC_ID] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_WATERCRAFT_COVERAGE_INFO] ADD CONSTRAINT [PK_POL_WATERCRAFT_COVERAGE_INFO_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID_BOATID_COVERAGE_ID_COVERAGE_CODE_ID] PRIMARY KEY
	CLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[BOAT_ID] ASC
		,[COVERAGE_ID] ASC
		,[COVERAGE_CODE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_WATERCRAFT_COVERAGE_INFO] WITH NOCHECK ADD CONSTRAINT [FK_POL_WATERCRAFT_COVERAGE_INFO_MNT_COVERAGE_COVERAGE_CODE_COV_ID] FOREIGN KEY
	(
		[COVERAGE_CODE_ID]
	)
	REFERENCES [dbo].[MNT_COVERAGE]
	(
		[COV_ID]
	) 
GO

