IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_INSURED_LOCATION]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_INSURED_LOCATION]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_INSURED_LOCATION](
	[INSURED_LOCATION_ID] [int] NOT NULL,
	[CLAIM_ID] [int] NOT NULL,
	[LOCATION_DESCRIPTION] [nvarchar] (500) NULL,
	[ADDRESS1] [nvarchar] (50) NULL,
	[ADDRESS2] [nvarchar] (50) NULL,
	[CITY] [nvarchar] (50) NULL,
	[STATE] [int] NOT NULL,
	[ZIP] [nvarchar] (10) NULL,
	[IS_ACTIVE] [char] (1) NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[COUNTRY] [int] NULL,
	[POLICY_LOCATION_ID] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_INSURED_LOCATION] ADD CONSTRAINT [PK_CLM_INSURED_LOCATION_INSURED_LOCATION_ID_CLAIM_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[INSURED_LOCATION_ID] ASC
		,[CLAIM_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_INSURED_LOCATION] ADD CONSTRAINT [FK_CLM_INSURED_LOCATION_CLAIM_ID] FOREIGN KEY
	(
		[CLAIM_ID]
	)
	REFERENCES [dbo].[CLM_CLAIM_INFO]
	(
		[CLAIM_ID]
	) 
GO

