IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_CUSTOMER_OPEN_ITEMS]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_CUSTOMER_OPEN_ITEMS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_CUSTOMER_OPEN_ITEMS](
	[IDEN_ROW_ID] [int] NOT NULL IDENTITY (1,1),
	[UPDATED_FROM] [nchar] (1) NULL,
	[SOURCE_ROW_ID] [int] NULL,
	[SOURCE_NUM] [nvarchar] (50) NULL,
	[SOURCE_TRAN_DATE] [datetime] NULL,
	[SOURCE_EFF_DATE] [datetime] NULL,
	[POSTING_DATE] [datetime] NULL,
	[TOTAL_DUE] [decimal] (18,2) NULL,
	[TOTAL_PAID] [decimal] (18,2) NULL,
	[AGENCY_COMM_APPLIES] [char] (1) NULL,
	[AGENCY_COMM_PERC] [decimal] (8,4) NULL,
	[AGENCY_COMM_AMT] [decimal] (18,2) NULL,
	[AGENCY_ID] [int] NULL,
	[CUSTOMER_ID] [int] NULL,
	[POLICY_ID] [int] NULL,
	[POLICY_VERSION_ID] [smallint] NULL,
	[PAYMENT_DATE] [datetime] NULL,
	[DATE_FULL_PAID] [datetime] NULL,
	[PAYMENT_STATUS] [nchar] (1) NULL,
	[NOT_COUNTED_RECEIVABLE] [nchar] (1) NULL,
	[PAYOR_TYPE] [nvarchar] (5) NULL,
	[DIV_ID] [smallint] NULL,
	[DEPT_ID] [smallint] NULL,
	[PC_ID] [smallint] NULL,
	[IS_TEMP_ENTRY] [nchar] (1) NULL,
	[IN_RECON] [nchar] (1) NULL,
	[IS_PREBILL] [nchar] (1) NULL,
	[BILL_CODE] [nvarchar] (5) NULL,
	[GROSS_AMOUNT] [decimal] (18,2) NULL,
	[ITEM_TRAN_CODE] [nvarchar] (5) NULL,
	[ITEM_TRAN_CODE_TYPE] [nvarchar] (5) NULL,
	[TRAN_ID] [smallint] NULL,
	[CASH_ACCOUNTING] [int] NULL,
	[RECUR_JOURNAL_VERSION] [int] NULL,
	[JE_RECON_COUNTER] [int] NULL,
	[AMT_IN_RECON] [decimal] (18,2) NULL,
	[OPEN_RECON_CTR] [smallint] NULL,
	[LOB_ID] [smallint] NULL,
	[SUB_LOB_ID] [smallint] NULL,
	[COUNTRY_ID] [int] NULL,
	[STATE_ID] [smallint] NULL,
	[COMMISSION_TYPE] [nvarchar] (15) NULL,
	[ITEM_STATUS] [nvarchar] (3) NULL,
	[IS_CHECK_CREATED] [char] (1) NULL,
	[ITEM_ORIGINAL_STATUS] [nvarchar] (3) NULL,
	[TRANS_DESC] [nvarchar] (100) NULL,
	[DUE_DATE] [datetime] NULL,
	[PROCESSED_AMOUNT_FOR_AGENCY] [decimal] (18,2) NULL,
	[INSTALLMENT_ROW_ID] [int] NULL,
	[NET_PREMIUM] [decimal] (18,2) NULL,
	[RISK_ID] [int] NULL,
	[RISK_TYPE] [nvarchar] (15) NULL,
	[PROCESSED_AMOUNT_FOR_ADDITIONAL] [decimal] (18,2) NULL,
	[PRINTED_ON_NOTICE] [char] (1) NULL,
	[SPOOLED_FOR_EFT] [char] (1) NULL,
	[NOTICE_SEND] [char] (1) NULL,
	[SWEEP_DATE] [datetime] NULL,
	[APPLIED_AT_CANCELLATION] [decimal] (18,2) NULL,
	[WRITE_OFF_AMOUNT] [decimal] (18,2) NULL,
	[EXCLUDE_FROM_TRAN_HISTORY] [bit] NULL,
	[BASE_CURRENCY] [nvarchar] (4) NULL,
	[TRAN_CURRENCY] [nvarchar] (4) NULL,
	[RATE_FACTOR] [numeric] (6,4) NULL,
	[PAYOR_ID] [int] NULL,
	[IS_COMMISSION_PROCESS] [nvarchar] (2) NULL,
	[IS_PAID_TO_PAGNET] [varchar] (2) NULL,
	[PAGNET_DATE] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_CUSTOMER_OPEN_ITEMS] ADD CONSTRAINT [PK_ACT_CUSTOMER_OPEN_ITEMS_IDEN_ROW_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[IDEN_ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IND_ACT_CUSTOMER_OPEN_ITEMS] ON [dbo].[ACT_CUSTOMER_OPEN_ITEMS]
(
	[IDEN_ROW_ID] ASC
)
INCLUDE
(
	[CUSTOMER_ID],
	[POLICY_ID],
	[POLICY_VERSION_ID]
)ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_CUSTOMER_OPEN_ITEMS] WITH NOCHECK ADD CONSTRAINT [FK_ACT_CUSTOMER_OPEN_ITEMS_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

