IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QUESTIONTYPE]') AND type in (N'U'))
DROP TABLE [dbo].[QUESTIONTYPE]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[QUESTIONTYPE](
	[QUESTIONTYPEID] [int] NOT NULL,
	[CARRIERID] [numeric] (8,0) NULL,
	[QUESTIONTYPENAME] [nvarchar] (200) NOT NULL,
	[PID] [nvarchar] (100) NULL,
	[LEVELNUMBER] [int] NULL,
	[TYPE] [nvarchar] (10) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[QUESTIONTYPE] ADD CONSTRAINT [PK_QUESTIONTYPE_QUESTIONTYPEID] PRIMARY KEY
	NONCLUSTERED
	(
		[QUESTIONTYPEID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

