IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QUESTIONTABMASTER]') AND type in (N'U'))
DROP TABLE [dbo].[QUESTIONTABMASTER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[QUESTIONTABMASTER](
	[TABID] [int] NOT NULL,
	[CARRIERID] [int] NOT NULL,
	[SCREENID] [int] NOT NULL,
	[TABNAME] [nvarchar] (50) NULL,
	[ISACTIVE] [nchar] (2) NULL,
	[LASTMODIFIEDBY] [int] NULL,
	[LASTMODIFIEDDATE] [datetime] NULL,
	[SEQNO] [int] NULL,
	[REPEATCONTROLS] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[QUESTIONTABMASTER] ADD CONSTRAINT [PK_QUESTIONTABMASTER_CARRIERID_SCREENID_TABID] PRIMARY KEY
	CLUSTERED
	(
		[CARRIERID] ASC
		,[SCREENID] ASC
		,[TABID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

