IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_PRINT_DOCUMENT_TYPE]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_PRINT_DOCUMENT_TYPE]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_PRINT_DOCUMENT_TYPE](
	[DOCUMENT_TYPE] [nvarchar] (50) NOT NULL,
	[DOCUMENT_CODE] [nvarchar] (50) NOT NULL,
	[UPLOAD_URL] [nvarchar] (200) NULL,
	[AUTO_INCREMENT] [int] NULL,
	[DOCUMENT_TYPE_ID] [int] NULL,
	[DOCUMENT_FORMAT] [nvarchar] (10) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[DOCUMENT_MESSAGE] [text] NULL,
	[SEND_MESSAGE] [nvarchar] (5) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_PRINT_DOCUMENT_TYPE] ADD CONSTRAINT [PK_MNT_PRINT_DOCUMENT_TYPE_DOCUMENT_TYPE_DOCUMENT_CODE] PRIMARY KEY
	CLUSTERED
	(
		[DOCUMENT_TYPE] ASC
		,[DOCUMENT_CODE] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

