IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_PROPERTY_DAMAGED]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_PROPERTY_DAMAGED]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_PROPERTY_DAMAGED](
	[PROPERTY_DAMAGED_ID] [int] NOT NULL,
	[CLAIM_ID] [int] NOT NULL,
	[DAMAGED_ANOTHER_VEHICLE] [int] NULL,
	[NON_OWNED_VEHICLE] [char] (1) NOT NULL,
	[VEHICLE_ID] [int] NULL,
	[VEHICLE_YEAR] [nvarchar] (4) NULL,
	[MAKE] [nvarchar] (150) NULL,
	[MODEL] [nvarchar] (150) NULL,
	[VIN] [nvarchar] (150) NULL,
	[BODY_TYPE] [nvarchar] (150) NULL,
	[PLATE_NUMBER] [nvarchar] (10) NULL,
	[DESCRIPTION] [nvarchar] (256) NULL,
	[OTHER_INSURANCE] [int] NULL,
	[AGENCY_NAME] [nvarchar] (50) NULL,
	[POLICY_NUMBER] [nvarchar] (8) NULL,
	[IS_ACTIVE] [char] (1) NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[OWNER_ID] [int] NULL,
	[DRIVER_ID] [int] NULL,
	[ESTIMATE_AMOUNT] [decimal] (12,2) NULL,
	[PROP_DAMAGED_TYPE] [smallint] NULL,
	[ADDRESS1] [nvarchar] (50) NULL,
	[ADDRESS2] [nvarchar] (50) NULL,
	[CITY] [nvarchar] (50) NULL,
	[STATE] [int] NULL,
	[ZIP] [nvarchar] (10) NULL,
	[COUNTRY] [int] NULL,
	[PARTY_TYPE] [smallint] NULL,
	[PARTY_TYPE_DESC] [nvarchar] (300) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_PROPERTY_DAMAGED] ADD CONSTRAINT [PK_CLM_PROPERTY_DAMAGED_PROPERTY_DAMAGED_ID_CLAIM_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[PROPERTY_DAMAGED_ID] ASC
		,[CLAIM_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_PROPERTY_DAMAGED] ADD CONSTRAINT [FK_CLM_PROPERTY_DAMAGED_CLAIM_ID] FOREIGN KEY
	(
		[CLAIM_ID]
	)
	REFERENCES [dbo].[CLM_CLAIM_INFO]
	(
		[CLAIM_ID]
	) 
GO

