IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_JOURNAL_MASTER]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_JOURNAL_MASTER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_JOURNAL_MASTER](
	[JOURNAL_ID] [int] NOT NULL,
	[JOURNAL_GROUP_TYPE] [nchar] (2) NULL,
	[TRANS_DATE] [datetime] NULL,
	[JOURNAL_GROUP_CODE] [nvarchar] (10) NULL,
	[JOURNAL_ENTRY_NO] [nvarchar] (10) NULL,
	[DESCRIPTION] [nvarchar] (100) NULL,
	[DIV_ID] [smallint] NULL,
	[DEPT_ID] [smallint] NULL,
	[PC_ID] [smallint] NULL,
	[GL_ID] [int] NOT NULL,
	[FISCAL_ID] [smallint] NOT NULL,
	[FREQUENCY] [nchar] (1) NULL,
	[START_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL,
	[DAY_OF_THE_WK] [nchar] (1) NULL,
	[LAST_PROCESSED_DATE] [datetime] NULL,
	[IS_COMMITED] [nchar] (1) NULL,
	[DATE_COMMITED] [datetime] NULL,
	[IMPORTSTATUS] [nchar] (2) NULL,
	[LAST_VALID_POSTING_DATE] [datetime] NULL,
	[NO_OF_RUN] [smallint] NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[COMMITTED_BY] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_JOURNAL_MASTER] ADD CONSTRAINT [PK_ACT_JOURNAL_MASTER_JOURNAL_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[JOURNAL_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
		,FILLFACTOR = 90
	) ON [PRIMARY]
GO

