IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[APP_PRIOR_LOSS_INFO]') AND type in (N'U'))
DROP TABLE [dbo].[APP_PRIOR_LOSS_INFO]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[APP_PRIOR_LOSS_INFO](
	[CUSTOMER_ID] [int] NOT NULL,
	[LOSS_ID] [smallint] NOT NULL,
	[OCCURENCE_DATE] [datetime] NULL,
	[CLAIM_DATE] [datetime] NULL,
	[LOB] [nvarchar] (5) NULL,
	[LOSS_TYPE] [int] NULL,
	[AMOUNT_PAID] [decimal] (15,2) NULL,
	[AMOUNT_RESERVED] [decimal] (15,2) NULL,
	[CLAIM_STATUS] [nvarchar] (5) NULL,
	[LOSS_DESC] [text] NULL,
	[MOD] [nvarchar] (25) NULL,
	[LOSS_RUN] [nchar] (1) NULL,
	[CAT_NO] [nvarchar] (10) NULL,
	[CLAIMID] [nvarchar] (20) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[REMARKS] [nvarchar] (50) NULL,
	[APLUS_REPORT_ORDERED] [int] NULL,
	[DRIVER_ID] [smallint] NULL,
	[DRIVER_NAME] [nvarchar] (100) NULL,
	[RELATIONSHIP] [int] NULL,
	[CLAIMS_TYPE] [int] NULL,
	[AT_FAULT] [int] NULL,
	[CHARGEABLE] [int] NULL,
	[LOSS_LOCATION] [nvarchar] (70) NULL,
	[CAUSE_OF_LOSS] [nvarchar] (50) NULL,
	[POLICY_NUM] [nvarchar] (50) NULL,
	[LOSS_CARRIER] [nvarchar] (50) NULL,
	[OTHER_DESC] [nvarchar] (50) NULL,
	[NAME_MATCH] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[APP_PRIOR_LOSS_INFO] ADD CONSTRAINT [PK_APP_PRIOR_LOSS_INFO_CUSTOMER_ID_LOSS_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[LOSS_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[APP_PRIOR_LOSS_INFO] ADD CONSTRAINT [FK_APP_PRIOR_LOSS_INFO_CUSTOMER_LIST_CUSTOMER_ID] FOREIGN KEY
	(
		[CUSTOMER_ID]
	)
	REFERENCES [dbo].[CLT_CUSTOMER_LIST]
	(
		[CUSTOMER_ID]
	) 
GO

