IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_AGENCY]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_AGENCY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_AGENCY](
	[CLAIM_ID] [int] NOT NULL,
	[AGENCY_ID] [int] NOT NULL,
	[AGENCY_CODE] [nvarchar] (10) NULL,
	[AGENCY_SUB_CODE] [nvarchar] (10) NULL,
	[AGENCY_CUSTOMER_ID] [nvarchar] (10) NULL,
	[AGENCY_PHONE] [nvarchar] (20) NULL,
	[AGENCY_FAX] [nvarchar] (20) NULL,
	[IS_ACTIVE] [char] (1) NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_AGENCY] ADD CONSTRAINT [PK_CLM_AGENCY_CLAIM_ID_AGENCY_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CLAIM_ID] ASC
		,[AGENCY_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_AGENCY] ADD CONSTRAINT [FK_CLM_AGENCY_CLAIM_ID] FOREIGN KEY
	(
		[CLAIM_ID]
	)
	REFERENCES [dbo].[CLM_CLAIM_INFO]
	(
		[CLAIM_ID]
	) 
GO

