IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MIG_NEW_BUSINESS_TEMP_TABLE]') AND type in (N'U'))
DROP TABLE [dbo].[MIG_NEW_BUSINESS_TEMP_TABLE]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MIG_NEW_BUSINESS_TEMP_TABLE](
	[POLICY_LOB] [int] NULL,
	[POLICY_SUBLOB] [int] NULL,
	[SUSEP_LEADER_CODE] [int] NULL,
	[APPLICANT_NAME] [nvarchar] (250) NULL,
	[CPF_CNPJ] [nvarchar] (250) NULL,
	[COINSURENCE_TRANSACTION_ID] [nvarchar] (13) NULL,
	[BROKER_CODE] [int] NULL,
	[COINSURENCE_SHARE_PERCENTAGE] [decimal] (5,2) NULL,
	[TOTAL_COMMISSION_PERCENTAGE] [decimal] (5,2) NULL,
	[DISCOUNT_PERCENTAGE] [decimal] (5,2) NULL,
	[SUM_COVERAGE_INSURED] [decimal] (10,2) NULL,
	[TRANSACTION_TYPE] [int] NULL,
	[LEADER_POLICY_NUMBER] [nvarchar] (20) NULL,
	[LEADER_ENDORSEMENT_NUMBER] [nvarchar] (10) NULL,
	[ENDORSEMENT_COMMIT_DATE] [datetime] NULL,
	[ENDORSEMENT_EFFECTIVE_DATE] [datetime] NULL,
	[ENDORSEMENT_EXPIRE_DATE] [datetime] NULL,
	[NO_OF_INSTALLMENTS] [int] NULL,
	[POLICY_CURRENCY] [int] NULL,
	[POLICY_CURRENCY_EXCHANGE_RATE_DATE] [datetime] NULL,
	[INSTALLMENT_AMOUNT1] [decimal] (10,2) NULL,
	[DISCOUNT_AMOUNT_PER_INSTALLMENT1] [decimal] (10,2) NULL,
	[INTREST_AMOUNT_PER_INSTALLMENT1] [decimal] (10,2) NULL,
	[COMMISSION_AMOUNT_PER_INSTALLMENT1] [decimal] (10,2) NULL,
	[INSTALLMENT_DUE_DATE1] [datetime] NULL,
	[INSTALLMENT_NO1] [int] NULL,
	[INSTALLMENT_AMOUNT2] [decimal] (10,2) NULL,
	[DISCOUNT_AMOUNT_PER_INSTALLMENT2] [decimal] (10,2) NULL,
	[INTREST_AMOUNT_PER_INSTALLMENT2] [decimal] (10,2) NULL,
	[COMMISSION_AMOUNT_PER_INSTALLMENT2] [decimal] (10,2) NULL,
	[INSTALLMENT_DUE_DATE2] [datetime] NULL,
	[INSTALLMENT_NO2] [int] NULL,
	[INSTALLMENT_AMOUNT3] [decimal] (10,2) NULL,
	[DISCOUNT_AMOUNT_PER_INSTALLMENT3] [decimal] (10,2) NULL,
	[INTREST_AMOUNT_PER_INSTALLMENT3] [decimal] (10,2) NULL,
	[COMMISSION_AMOUNT_PER_INSTALLMENT3] [decimal] (10,2) NULL,
	[INSTALLMENT_DUE_DATE3] [datetime] NULL,
	[INSTALLMENT_NO3] [int] NULL,
	[INSTALLMENT_AMOUNT4] [decimal] (10,2) NULL,
	[DISCOUNT_AMOUNT_PER_INSTALLMENT4] [decimal] (10,2) NULL,
	[INTREST_AMOUNT_PER_INSTALLMENT4] [decimal] (10,2) NULL,
	[COMMISSION_AMOUNT_PER_INSTALLMENT4] [decimal] (10,2) NULL,
	[INSTALLMENT_DUE_DATE4] [datetime] NULL,
	[INSTALLMENT_NO4] [int] NULL,
	[INSTALLMENT_AMOUNT5] [decimal] (10,2) NULL,
	[DISCOUNT_AMOUNT_PER_INSTALLMENT5] [decimal] (10,2) NULL,
	[INTREST_AMOUNT_PER_INSTALLMENT5] [decimal] (10,2) NULL,
	[COMMISSION_AMOUNT_PER_INSTALLMENT5] [decimal] (10,2) NULL,
	[INSTALLMENT_DUE_DATE5] [datetime] NULL,
	[INSTALLMENT_NO5] [int] NULL,
	[INSTALLMENT_AMOUNT6] [decimal] (10,2) NULL,
	[DISCOUNT_AMOUNT_PER_INSTALLMENT6] [decimal] (10,2) NULL,
	[INTREST_AMOUNT_PER_INSTALLMENT6] [decimal] (10,2) NULL,
	[COMMISSION_AMOUNT_PER_INSTALLMENT6] [decimal] (10,2) NULL,
	[INSTALLMENT_DUE_DATE6] [datetime] NULL,
	[INSTALLMENT_NO6] [int] NULL,
	[INSTALLMENT_AMOUNT7] [decimal] (10,2) NULL,
	[DISCOUNT_AMOUNT_PER_INSTALLMENT7] [decimal] (10,2) NULL,
	[INTREST_AMOUNT_PER_INSTALLMENT7] [decimal] (10,2) NULL,
	[COMMISSION_AMOUNT_PER_INSTALLMENT7] [decimal] (10,2) NULL,
	[INSTALLMENT_DUE_DATE7] [datetime] NULL,
	[INSTALLMENT_NO7] [int] NULL,
	[INSTALLMENT_AMOUNT8] [decimal] (10,2) NULL,
	[DISCOUNT_AMOUNT_PER_INSTALLMENT8] [decimal] (10,2) NULL,
	[INTREST_AMOUNT_PER_INSTALLMENT8] [decimal] (10,2) NULL,
	[COMMISSION_AMOUNT_PER_INSTALLMENT8] [decimal] (10,2) NULL,
	[INSTALLMENT_DUE_DATE8] [datetime] NULL,
	[INSTALLMENT_NO8] [int] NULL,
	[INSTALLMENT_AMOUNT9] [decimal] (10,2) NULL,
	[DISCOUNT_AMOUNT_PER_INSTALLMENT9] [decimal] (10,2) NULL,
	[INTREST_AMOUNT_PER_INSTALLMENT9] [decimal] (10,2) NULL,
	[COMMISSION_AMOUNT_PER_INSTALLMENT9] [decimal] (10,2) NULL,
	[INSTALLMENT_DUE_DATE9] [datetime] NULL,
	[INSTALLMENT_NO9] [int] NULL,
	[INSTALLMENT_AMOUNT10] [decimal] (10,2) NULL,
	[DISCOUNT_AMOUNT_PER_INSTALLMENT10] [decimal] (10,2) NULL,
	[INTREST_AMOUNT_PER_INSTALLMENT10] [decimal] (10,2) NULL,
	[COMMISSION_AMOUNT_PER_INSTALLMENT10] [decimal] (10,2) NULL,
	[INSTALLMENT_DUE_DATE10] [datetime] NULL,
	[INSTALLMENT_NO10] [int] NULL,
	[INSTALLMENT_AMOUNT11] [decimal] (10,2) NULL,
	[DISCOUNT_AMOUNT_PER_INSTALLMENT11] [decimal] (10,2) NULL,
	[INTREST_AMOUNT_PER_INSTALLMENT11] [decimal] (10,2) NULL,
	[COMMISSION_AMOUNT_PER_INSTALLMENT11] [decimal] (10,2) NULL,
	[INSTALLMENT_DUE_DATE11] [datetime] NULL,
	[INSTALLMENT_NO11] [int] NULL,
	[INSTALLMENT_AMOUNT12] [decimal] (10,2) NULL,
	[DISCOUNT_AMOUNT_PER_INSTALLMENT12] [decimal] (10,2) NULL,
	[INTREST_AMOUNT_PER_INSTALLMENT12] [decimal] (10,2) NULL,
	[COMMISSION_AMOUNT_PER_INSTALLMENT12] [decimal] (10,2) NULL,
	[INSTALLMENT_DUE_DATE12] [datetime] NULL,
	[INSTALLMENT_NO12] [int] NULL,
	[POLICY_SPECIFICATION] [nvarchar] (MAX) NULL,
	[PRODUCT_CODE_LEADER] [int] NULL,
	[COINSURANCE_COMMISSION] [int] NULL
) ON [PRIMARY]
GO

