IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_BENEFICIARY]') AND type in (N'U'))
DROP TABLE [dbo].[POL_BENEFICIARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_BENEFICIARY](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[RISK_ID] [int] NOT NULL,
	[BENEFICIARY_ID] [int] NOT NULL,
	[BENEFICIARY_NAME] [nvarchar] (100) NULL,
	[BENEFICIARY_SHARE] [decimal] (12,2) NULL,
	[BENEFICIARY_RELATION] [nvarchar] (100) NULL,
	[IS_ACTIVE] [char] (1) NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_BENEFICIARY] ADD CONSTRAINT [PK_POL_BENEFICIARY_BENEFICIARY_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[RISK_ID] ASC
		,[BENEFICIARY_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_BENEFICIARY] WITH NOCHECK ADD CONSTRAINT [FK_POL_BENEFICIARY_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

ALTER TABLE [dbo].[POL_BENEFICIARY] WITH NOCHECK ADD CONSTRAINT [FK_POL_BENEFICIARY_RISK_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[RISK_ID]
	)
	REFERENCES [dbo].[POL_PERSONAL_ACCIDENT_INFO]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[PERSONAL_INFO_ID]
	) 
GO

