IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_WORKFLOW_GROUP]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_WORKFLOW_GROUP]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_WORKFLOW_GROUP](
	[GROUP_ID] [varchar] (20) NOT NULL,
	[WORKFLOW_SCREENS] [varchar] (255) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_WORKFLOW_GROUP] ADD CONSTRAINT [PK_MNT_WORKFLOW_GROUP_GROUP_ID] PRIMARY KEY
	CLUSTERED
	(
		[GROUP_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

