IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_POL_EFT_CUST_INFO]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_POL_EFT_CUST_INFO]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_POL_EFT_CUST_INFO](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[FEDERAL_ID] [nvarchar] (50) NULL,
	[DFI_ACC_NO] [nvarchar] (100) NULL,
	[TRANSIT_ROUTING_NO] [nvarchar] (100) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[IS_VERIFIED] [int] NULL,
	[VERIFIED_DATE] [datetime] NULL,
	[REASON] [nvarchar] (200) NULL,
	[ACCOUNT_TYPE] [nvarchar] (4) NULL,
	[EFT_TENTATIVE_DATE] [int] NULL,
	[REVERIFIED_AC] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_POL_EFT_CUST_INFO] ADD CONSTRAINT [PK_ACT_POL_EFT_CUST_INFO_CUSTOMER_ID_POLICY_ID_VERSION_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

