IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_EXPERT_SERVICE_PROVIDERS]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_EXPERT_SERVICE_PROVIDERS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_EXPERT_SERVICE_PROVIDERS](
	[EXPERT_SERVICE_ID] [int] NOT NULL,
	[EXPERT_SERVICE_TYPE] [int] NOT NULL,
	[EXPERT_SERVICE_NAME] [nvarchar] (50) NULL,
	[EXPERT_SERVICE_ADDRESS1] [nvarchar] (75) NULL,
	[EXPERT_SERVICE_ADDRESS2] [nvarchar] (75) NULL,
	[EXPERT_SERVICE_CITY] [nvarchar] (25) NULL,
	[EXPERT_SERVICE_STATE] [int] NOT NULL,
	[EXPERT_SERVICE_ZIP] [nvarchar] (11) NULL,
	[EXPERT_SERVICE_VENDOR_CODE] [nvarchar] (50) NULL,
	[EXPERT_SERVICE_CONTACT_NAME] [nvarchar] (50) NULL,
	[EXPERT_SERVICE_CONTACT_PHONE] [nvarchar] (50) NULL,
	[EXPERT_SERVICE_CONTACT_EMAIL] [nvarchar] (50) NULL,
	[EXPERT_SERVICE_FEDRERAL_ID] [nvarchar] (250) NULL,
	[EXPERT_SERVICE_1099_PROCESSING_OPTION] [int] NULL,
	[IS_ACTIVE] [char] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[EXPERT_SERVICE_COUNTRY] [nchar] (1) NULL,
	[EXPERT_SERVICE_MASTER_VENDOR_CODE] [nvarchar] (50) NULL,
	[EXPERT_SERVICE_TYPE_DESC] [nvarchar] (50) NULL,
	[PARTY_DETAIL] [int] NULL,
	[AGE] [smallint] NULL,
	[EXTENT_OF_INJURY] [nvarchar] (200) NULL,
	[OTHER_DETAILS] [nvarchar] (500) NULL,
	[BANK_NAME] [nvarchar] (100) NULL,
	[ACCOUNT_NUMBER] [nvarchar] (20) NULL,
	[ACCOUNT_NAME] [nvarchar] (100) NULL,
	[EXPERT_SERVICE_CONTACT_PHONE_EXT] [nvarchar] (5) NULL,
	[EXPERT_SERVICE_CONTACT_FAX] [nvarchar] (50) NULL,
	[PARENT_ADJUSTER] [int] NULL,
	[MAIL_1099_ADD1] [nvarchar] (140) NULL,
	[MAIL_1099_ADD2] [nvarchar] (140) NULL,
	[MAIL_1099_CITY] [nvarchar] (80) NULL,
	[MAIL_1099_STATE] [nvarchar] (10) NULL,
	[MAIL_1099_COUNTRY] [nvarchar] (10) NULL,
	[MAIL_1099_ZIP] [nvarchar] (11) NULL,
	[MAIL_1099_NAME] [nvarchar] (75) NULL,
	[W9_FORM] [nvarchar] (5) NULL,
	[FED_SSN_1099]  AS (case when [EXPERT_SERVICE_1099_PROCESSING_OPTION]='11735' OR [EXPERT_SERVICE_1099_PROCESSING_OPTION]='11734' OR [EXPERT_SERVICE_1099_PROCESSING_OPTION]='11733' then 'F' else case when [EXPERT_SERVICE_1099_PROCESSING_OPTION]='114246' OR [EXPERT_SERVICE_1099_PROCESSING_OPTION]='114245' OR [EXPERT_SERVICE_1099_PROCESSING_OPTION]='114244' then 'S' else '' end end),
	[REQ_SPECIAL_HANDLING] [int] NULL,
	[DATE_OF_BIRTH] [datetime] NULL,
	[CPF] [nvarchar] (40) NULL,
	[REGIONAL_IDENTIFICATION] [nvarchar] (40) NULL,
	[REG_ID_ISSUE_DATE] [datetime] NULL,
	[ACTIVITY] [int] NULL,
	[REG_ID_ISSUE] [nvarchar] (40) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_EXPERT_SERVICE_PROVIDERS] ADD CONSTRAINT [PK_CLM_EXPERT_SERVICE_PROVIDERS_EXPERT_SERVICE_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[EXPERT_SERVICE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
		,FILLFACTOR = 90
	) ON [PRIMARY]
GO

