IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_CLAIM_FIREEC_PERCENT]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_CLAIM_FIREEC_PERCENT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_CLAIM_FIREEC_PERCENT](
	[ROW_ID] [int] NOT NULL IDENTITY (1,1),
	[STATE_ID] [nvarchar] (10) NULL,
	[LOB_ID] [nvarchar] (10) NULL,
	[LOB_SUB_CATEGORY] [nvarchar] (20) NULL,
	[PERCENTAGE] [decimal] (18,2) NULL,
	[EFF_FROM_DATETIME] [datetime] NULL,
	[EFF_TO_DATETIME] [datetime] NULL,
	[IS_ACTIVE] [char] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_CLAIM_FIREEC_PERCENT] ADD CONSTRAINT [PK_MNT_CLAIM_FIREEC_PERCENT] PRIMARY KEY
	CLUSTERED
	(
		[ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

