IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_MCCA_ATTACHMENT]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_MCCA_ATTACHMENT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_MCCA_ATTACHMENT](
	[MCCA_ATTACHMENT_ID] [int] NOT NULL,
	[POLICY_PERIOD_DATE_FROM] [datetime] NOT NULL,
	[POLICY_PERIOD_DATE_TO] [datetime] NOT NULL,
	[LOSS_PERIOD_DATE_FROM] [datetime] NOT NULL,
	[LOSS_PERIOD_DATE_TO] [datetime] NOT NULL,
	[MCCA_ATTACHMENT_POINT] [int] NOT NULL,
	[IS_ACTIVE] [char] (1) NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_MCCA_ATTACHMENT] ADD CONSTRAINT [PK_CLM_MCCA_ATTACHMENT_MCCA_ATTACHMENT_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[MCCA_ATTACHMENT_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

