IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_USER_TYPES_MULTILINGUAL]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_USER_TYPES_MULTILINGUAL]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_USER_TYPES_MULTILINGUAL](
	[USER_TYPE_ID] [smallint] NOT NULL,
	[USER_TYPE_DESC] [nvarchar] (50) NULL,
	[LANG_ID] [int] NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_USER_TYPES_MULTILINGUAL] ADD CONSTRAINT [PK_MNT_USER_TYPES_MULTILINGUAL_USER_TYPE_ID_LANG_ID] PRIMARY KEY
	CLUSTERED
	(
		[USER_TYPE_ID] ASC
		,[LANG_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

