IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QUESTIONGROUP]') AND type in (N'U'))
DROP TABLE [dbo].[QUESTIONGROUP]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[QUESTIONGROUP](
	[QUESTIONGROUPID] [int] NOT NULL,
	[QUESTIONGROUPNAME] [nvarchar] (200) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[QUESTIONGROUP] ADD CONSTRAINT [PK_QUESTIONGROUP_QUESTIONGROUPID] PRIMARY KEY
	NONCLUSTERED
	(
		[QUESTIONGROUPID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

