IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_VEHICLE_ENDORSEMENTS]') AND type in (N'U'))
DROP TABLE [dbo].[POL_VEHICLE_ENDORSEMENTS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_VEHICLE_ENDORSEMENTS](
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[VEHICLE_ID] [smallint] NOT NULL,
	[ENDORSEMENT_ID] [smallint] NOT NULL,
	[REMARKS] [nvarchar] (500) NULL,
	[VEHICLE_ENDORSEMENT_ID] [int] NULL,
	[EDITION_DATE] [nvarchar] (10) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_VEHICLE_ENDORSEMENTS] ADD CONSTRAINT [PK_POL_VEHICLE_ENDORSEMENTS_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID_VEHICLE_ID_ENDORSEMENT_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[CUSTOMER_ID] ASC
		,[VEHICLE_ID] ASC
		,[ENDORSEMENT_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_VEHICLE_ENDORSEMENTS] ADD CONSTRAINT [FK_POL_VEHICLE_ENDORSEMENTS_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

ALTER TABLE [dbo].[POL_VEHICLE_ENDORSEMENTS] ADD CONSTRAINT [FK_POL_VEHICLE_ENDORSEMENTS_VEHICLE_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[VEHICLE_ID]
	)
	REFERENCES [dbo].[POL_VEHICLES]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[VEHICLE_ID]
	) 
GO

