IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QUESTIONPREPARE]') AND type in (N'U'))
DROP TABLE [dbo].[QUESTIONPREPARE]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[QUESTIONPREPARE](
	[QID] [int] NOT NULL,
	[TABID] [int] NOT NULL,
	[SCREENID] [int] NOT NULL,
	[LISTID] [int] NULL,
	[HQUESGRIDOPTID] [int] NULL,
	[VQUESGRIDOPTID] [int] NULL,
	[OPTIONID] [nvarchar] (500) NULL,
	[OPTIONVALUE] [nvarchar] (500) NULL,
	[DESCANSWER] [nvarchar] (500) NULL,
	[ANSWER] [nvarchar] (500) NULL,
	[CARRIERID] [int] NULL,
	[CLIENTID] [int] NOT NULL,
	[APPVERSIONID] [int] NOT NULL,
	[APPLICATIONID] [int] NOT NULL
) ON [PRIMARY]
GO

