IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_CURRENCY_MASTER]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_CURRENCY_MASTER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_CURRENCY_MASTER](
	[CURRENCY_ID] [int] NOT NULL,
	[CURR_CODE] [nvarchar] (3) NULL,
	[CURR_DESC] [nvarchar] (25) NULL,
	[CURR_SYMBOL] [nvarchar] (2) NULL,
	[CURR_PRECISION] [smallint] NULL,
	[CURR_CALCULATEFORMAT] [nvarchar] (20) NULL,
	[CURR_PRINTFORMAT] [nvarchar] (20) NULL,
	[CURR_CHECKDIGITS] [nvarchar] (10) NULL,
	[CURR_CHECKDECIMAL] [nvarchar] (10) NULL,
	[CURR_DECIMALSEPR] [nvarchar] (1) NULL,
	[CURR_THOUSANDSEPR] [nvarchar] (1) NULL,
	[IS_ACTIVE] [char] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_CURRENCY_MASTER] ADD CONSTRAINT [PK_MNT_CURRENCY_MASTER_CURRENCY_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CURRENCY_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

