IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_SUSEP_LOB_MASTER]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_SUSEP_LOB_MASTER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_SUSEP_LOB_MASTER](
	[SUSEP_LOB_ID] [int] NOT NULL,
	[SUSEP_LOB_CODE] [nvarchar] (10) NULL,
	[SUSEP_LOB_DESC] [nvarchar] (100) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_SUSEP_LOB_MASTER] ADD CONSTRAINT [PK_MNT_SUSEP_LOB_MASTER_SUSEP_LOB_ID] PRIMARY KEY
	CLUSTERED
	(
		[SUSEP_LOB_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

