IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_LIABILITY_TYPE]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_LIABILITY_TYPE]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_LIABILITY_TYPE](
	[LIABILITY_TYPE_ID] [int] NOT NULL,
	[CLAIM_ID] [int] NOT NULL,
	[PREMISES_INSURED] [int] NOT NULL,
	[OTHER_DESCRIPTION] [nvarchar] (25) NULL,
	[TYPE_OF_PREMISES] [nvarchar] (256) NULL,
	[IS_ACTIVE] [char] (1) NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_LIABILITY_TYPE] ADD CONSTRAINT [PK_CLM_LIABILITY_TYPE_LIABILITY_TYPE_ID_CLAIM_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[LIABILITY_TYPE_ID] ASC
		,[CLAIM_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_LIABILITY_TYPE] ADD CONSTRAINT [FK_CLM_LIABILITY_TYPE_CLAIM_ID] FOREIGN KEY
	(
		[CLAIM_ID]
	)
	REFERENCES [dbo].[CLM_CLAIM_INFO]
	(
		[CLAIM_ID]
	) 
GO

