IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_CLAUSES]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_CLAUSES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_CLAUSES](
	[CLAUSE_ID] [int] NOT NULL,
	[LOB_ID] [int] NULL,
	[SUBLOB_ID] [int] NULL,
	[CLAUSE_TITLE] [nvarchar] (MAX) NULL,
	[CLAUSE_DESCRIPTION] [text] NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[CLAUSE_TYPE] [int] NULL CONSTRAINT [DF_MNT_CLAUSES_CLAUSE_TYPE] DEFAULT ((0)),
	[PROCESS_TYPE] [int] NULL CONSTRAINT [DF_MNT_CLAUSES_PROCESS_TYPE] DEFAULT ((0)),
	[ATTACH_FILE_NAME] [nvarchar] (255) NULL,
	[CLAUSE_CODE] [nvarchar] (100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_CLAUSES] ADD CONSTRAINT [PK_MNT_CLAUSES_CLAUSE_ID] PRIMARY KEY
	CLUSTERED
	(
		[CLAUSE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

