IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_HOME_OWNER_RECREATIONAL_VEHICLES_COVERAGES]') AND type in (N'U'))
DROP TABLE [dbo].[POL_HOME_OWNER_RECREATIONAL_VEHICLES_COVERAGES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_HOME_OWNER_RECREATIONAL_VEHICLES_COVERAGES](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[REC_VEH_ID] [smallint] NOT NULL,
	[COVERAGE_ID] [int] NOT NULL,
	[COVERAGE_CODE] [int] NULL,
	[LIMIT] [decimal] (18,2) NULL,
	[DEDUCTIBLE] [decimal] (18,2) NULL,
	[WRITTEN_PREMIUM] [decimal] (18,2) NULL,
	[FULL_TERM_PREMIUM] [decimal] (18,2) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[COVERAGE_UNIQUE_ID] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_HOME_OWNER_RECREATIONAL_VEHICLES_COVERAGES] ADD CONSTRAINT [PK_POL_HOME_OWNER_RECREATIONAL_VEHICLES_COVERAGES_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID_REC_VEH_ID_COVERAGE_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[REC_VEH_ID] ASC
		,[COVERAGE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_HOME_OWNER_RECREATIONAL_VEHICLES_COVERAGES] WITH NOCHECK ADD CONSTRAINT [FK_POL_HOME_OWNER_REC_VEH_COV_MNT_COVERAGE_COVERAGE_CODE_COV_ID] FOREIGN KEY
	(
		[COVERAGE_CODE]
	)
	REFERENCES [dbo].[MNT_COVERAGE]
	(
		[COV_ID]
	) 
GO

ALTER TABLE [dbo].[POL_HOME_OWNER_RECREATIONAL_VEHICLES_COVERAGES] ADD CONSTRAINT [FK_POL_HOME_OWNER_RECREATIONAL_VEHICLES_COVERAGES_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID_REC_VEH_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[REC_VEH_ID]
	)
	REFERENCES [dbo].[POL_HOME_OWNER_RECREATIONAL_VEHICLES]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[REC_VEH_ID]
	) 
GO

