IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MIG_IL_POLICY_DETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[MIG_IL_POLICY_DETAILS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MIG_IL_POLICY_DETAILS](
	[IMPORT_REQUEST_ID] [int] NOT NULL,
	[IMPORT_SERIAL_NO] [bigint] NOT NULL,
	[CUSTOMER_ID] [int] NULL,
	[POLICY_ID] [int] NULL,
	[LOB_ID] [int] NULL,
	[POLICY_VERSION_ID] [smallint] NULL,
	[IS_ACTIVE] [nchar] (1) NULL CONSTRAINT [MIG_IL_POLICY_DETAILS_IS_ACTIVE] DEFAULT ('N'),
	[IS_PROCESSED] [char] (1) NULL CONSTRAINT [MIG_IL_POLICY_DETAILS_IS_DELETED] DEFAULT ('N'),
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[HAS_ERRORS] [bit] NULL CONSTRAINT [MIG_IL_POLICY_DETAILS_HAS_ERRORS] DEFAULT ('N'),
	[ERROR_TYPES] [nvarchar] (4000) NULL,
	[ERROR_COLUMNS] [nvarchar] (4000) NULL,
	[ERRORCOLUMNVALUES] [nvarchar] (4000) NULL,
	[CUSTOMER_CODE] [nvarchar] (50) NULL,
	[POLICY_CODE] [int] NULL,
	[ENDORSMENT_NUMBER] [int] NULL,
	[PRODUCT_LOB] [int] NULL,
	[SUB_LOB] [int] NULL,
	[POLICY_CURRENCY] [int] NULL,
	[TRANSACTION_TYPE] [int] NULL,
	[MODALITY] [int] NULL,
	[ACTIVITY] [int] NULL,
	[POLICY_NUMBER] [nvarchar] (50) NULL,
	[TERM_IN_DAY] [int] NULL,
	[EFFECTIVE_DATE] [nvarchar] (10) NULL,
	[INCEPTION_DATE] [nvarchar] (10) NULL,
	[EXPIRATION_DATE] [nvarchar] (10) NULL,
	[BILL_TYPE] [int] NULL,
	[BILLING_PLAN] [int] NULL,
	[DIV_DEPT_PC] [int] NULL,
	[DOWN_PAYMENT_MODE] [int] NULL,
	[CO_INSURANCE_TYPE] [int] NULL,
	[UNDERWRITER] [int] NULL,
	[CO-APPLICANT] [int] NULL,
	[BILL_TO] [nvarchar] (200) NULL,
	[CSR_NAME] [int] NULL,
	[BROKER] [int] NULL,
	[POLICY_LEVEL_COMMISSION_APPLIES] [nvarchar] (50) NULL,
	[POLICY_LEVEL_COMMISSION] [decimal] (28,5) NULL,
	[PRODUCER] [int] NULL,
	[BROKER_REQUEST] [nvarchar] (200) NULL,
	[REMARKS] [nvarchar] (1000) NULL,
	[ENDORSEMENT_EFFECTIVE] [nvarchar] (10) NULL,
	[ENDORSEMENT_EXPIRY] [nvarchar] (10) NULL,
	[ENDORSEMENT_COMMENTS] [nvarchar] (1000) NULL,
	[ENDORSEMENT_CO_APPLICANT_CODE] [nvarchar] (50) NULL,
	[ENDORSEMENT_TYPE] [int] NULL,
	[ENDORSEMENT_APP_NUMBER ] [nvarchar] (50) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MIG_IL_POLICY_DETAILS] ADD CONSTRAINT [PK_MIG_IL_POLICY_DETAILS_IMPORT_REQUEST_ID_SERIAL_NO] PRIMARY KEY
	NONCLUSTERED
	(
		[IMPORT_REQUEST_ID] ASC
		,[IMPORT_SERIAL_NO] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

