IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_BANK_RECONCILIATION]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_BANK_RECONCILIATION]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_BANK_RECONCILIATION](
	[AC_RECONCILIATION_ID] [int] NOT NULL,
	[ACCOUNT_ID] [int] NULL,
	[DIV_ID] [smallint] NOT NULL,
	[DEPT_ID] [smallint] NOT NULL,
	[PC_ID] [smallint] NOT NULL,
	[START_STATEMENT_DATE] [datetime] NULL,
	[STATEMENT_DATE] [datetime] NULL,
	[STARTING_BALANCE] [decimal] (18,2) NULL,
	[ENDING_BALANCE] [decimal] (18,2) NULL,
	[BANK_CHARGES_CREDITS] [decimal] (18,2) NULL,
	[LAST_RECONCILED] [datetime] NULL,
	[IS_COMMITED] [nchar] (1) NULL,
	[DATE_COMMITED] [datetime] NULL,
	[COMMITTED_BY] [int] NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_BANK_RECONCILIATION] ADD CONSTRAINT [PK_ACT_BANK_RECONCILIATION_AC_RECONCILIATION_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[AC_RECONCILIATION_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

