IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_OTHER_LOCATIONS]') AND type in (N'U'))
DROP TABLE [dbo].[POL_OTHER_LOCATIONS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_OTHER_LOCATIONS](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[DWELLING_ID] [smallint] NOT NULL,
	[LOCATION_ID] [smallint] NOT NULL,
	[LOC_NUM] [int] NULL,
	[LOC_ADD1] [nvarchar] (75) NULL,
	[LOC_CITY] [nvarchar] (75) NULL,
	[LOC_COUNTY] [nvarchar] (75) NULL,
	[LOC_STATE] [nvarchar] (5) NULL,
	[LOC_ZIP] [nvarchar] (11) NULL,
	[PHOTO_ATTACHED] [int] NULL,
	[OCCUPIED_BY_INSURED] [int] NULL,
	[DESCRIPTION] [nvarchar] (1000) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_OTHER_LOCATIONS] ADD CONSTRAINT [PK_POL_OTHER_LOCATIONS_CUSTOMER_ID_POLICY_ID_VERSION_ID_DWELLING_ID_LOCATION_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[DWELLING_ID] ASC
		,[LOCATION_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_OTHER_LOCATIONS] ADD CONSTRAINT [FK_POL_OTHER_LOCATIONS_CUSTOMER_ID_POLICY_ID_VERSION_ID_DWELLING_ID_POLICY_DWELLINGS_INFO] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[DWELLING_ID]
	)
	REFERENCES [dbo].[POL_DWELLINGS_INFO]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[DWELLING_ID]
	) 
GO

