IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_COVERAGE_MULTILINGUAL]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_COVERAGE_MULTILINGUAL]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_COVERAGE_MULTILINGUAL](
	[COV_ID] [int] NOT NULL,
	[COV_DES] [varchar] (1000) NULL,
	[LANG_ID] [int] NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_COVERAGE_MULTILINGUAL] ADD CONSTRAINT [PK_MNT_COVERAGE_MULTILINGUAL_COV_ID_LANG_ID] PRIMARY KEY
	CLUSTERED
	(
		[COV_ID] ASC
		,[LANG_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_COVERAGE_MULTILINGUAL] WITH NOCHECK ADD CONSTRAINT [FK_MNT_COVERAGE_MULTILINGUAL_COV_ID] FOREIGN KEY
	(
		[COV_ID]
	)
	REFERENCES [dbo].[MNT_COVERAGE]
	(
		[COV_ID]
	) 
GO

