IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_CO_INSURANCE]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_CO_INSURANCE]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_CO_INSURANCE](
	[COINSURANCE_ID] [int] NOT NULL,
	[CLAIM_ID] [int] NOT NULL,
	[LEADER_SUSEP_CODE] [nvarchar] (50) NULL,
	[LEADER_POLICY_NUMBER] [nvarchar] (50) NULL,
	[LEADER_ENDORSEMENT_NUMBER] [nvarchar] (50) NULL,
	[LEADER_CLAIM_NUMBER] [nvarchar] (50) NULL,
	[CLAIM_REGISTRATION_DATE] [datetime] NULL,
	[IS_ACTIVE] [char] (1) NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[LITIGATION_FILE] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_CO_INSURANCE] ADD CONSTRAINT [PK_CLM_CO_INSURANCE_COINSURANCE_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[COINSURANCE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_CO_INSURANCE] WITH NOCHECK ADD CONSTRAINT [FK_CLM_CO_INSURANCE_CLAIM_ID] FOREIGN KEY
	(
		[CLAIM_ID]
	)
	REFERENCES [dbo].[CLM_CLAIM_INFO]
	(
		[CLAIM_ID]
	) 
GO

