IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_MINIMUM_PREM_CANCEL]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_MINIMUM_PREM_CANCEL]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_MINIMUM_PREM_CANCEL](
	[ROW_ID] [int] NOT NULL,
	[LOB_ID] [smallint] NOT NULL,
	[SUB_LOB_ID] [smallint] NOT NULL,
	[STATE_ID] [smallint] NOT NULL,
	[COUNTRY_ID] [smallint] NOT NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[EFFECTIVE_FROM_DATE] [datetime] NOT NULL,
	[EFFECTIVE_TO_DATE] [datetime] NOT NULL,
	[PREMIUM_AMT] [decimal] (12,2) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_MINIMUM_PREM_CANCEL] ADD CONSTRAINT [PK_ACT_MINIMUM_PREM_CANCEL_LOB_ID_SUB_LOB_ID_STATE_ID_EFF_DATE_FROM_EFF_DATE_TO] PRIMARY KEY
	NONCLUSTERED
	(
		[LOB_ID] ASC
		,[SUB_LOB_ID] ASC
		,[STATE_ID] ASC
		,[EFFECTIVE_FROM_DATE] ASC
		,[EFFECTIVE_TO_DATE] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_MINIMUM_PREM_CANCEL] ADD CONSTRAINT [FK_ACT_MINIMUM_PREM_CANCEL_LOB_ID] FOREIGN KEY
	(
		[LOB_ID]
	)
	REFERENCES [dbo].[MNT_LOB_MASTER]
	(
		[LOB_ID]
	) 
GO

