IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_HOME_OWNER_FIRE_PROT_CLEAN]') AND type in (N'U'))
DROP TABLE [dbo].[POL_HOME_OWNER_FIRE_PROT_CLEAN]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_HOME_OWNER_FIRE_PROT_CLEAN](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[FUEL_ID] [smallint] NOT NULL,
	[IS_SMOKE_DETECTOR] [nchar] (1) NULL,
	[IS_PROTECTIVE_MAT_FLOOR] [nchar] (1) NULL,
	[IS_PROTECTIVE_MAT_WALLS] [nchar] (1) NULL,
	[PROT_MAT_SPACED] [nvarchar] (265) NULL,
	[STOVE_SMOKE_PIPE_CLEANED] [nvarchar] (20) NULL,
	[STOVE_CLEANER] [nvarchar] (20) NULL,
	[REMARKS] [nvarchar] (2000) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_HOME_OWNER_FIRE_PROT_CLEAN] ADD CONSTRAINT [PK_POL_HOME_OWNER_FIRE_PROT_CLEAN_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID_FUEL_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[FUEL_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_HOME_OWNER_FIRE_PROT_CLEAN] ADD CONSTRAINT [FK_POL_HOME_OWNER_FIRE_PROT_CLEAN_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID_FUEL_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[FUEL_ID]
	)
	REFERENCES [dbo].[POL_HOME_OWNER_SOLID_FUEL]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[FUEL_ID]
	) 
GO

