IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_INSURED_PRODUCT]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_INSURED_PRODUCT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_INSURED_PRODUCT](
	[INSURED_PRODUCT_ID] [int] NOT NULL,
	[CLAIM_ID] [int] NOT NULL,
	[VEHICLE_INSURED_PLEADED_GUILTY] [char] (1) NULL,
	[VEHICLE_MAKER] [nvarchar] (150) NULL,
	[VEHICLE_MODEL] [nvarchar] (150) NULL,
	[VEHICLE_VIN] [nvarchar] (150) NULL,
	[DAMAGE_DESCRIPTION] [nvarchar] (150) NULL,
	[VESSEL_TYPE] [nvarchar] (70) NULL,
	[VESSEL_NAME] [nvarchar] (70) NULL,
	[VESSEL_MANUFACTURER] [nvarchar] (50) NULL,
	[LOCATION_ADDRESS] [nvarchar] (150) NULL,
	[LOCATION_COMPLIMENT] [nvarchar] (75) NULL,
	[LOCATION_DISTRICT] [nvarchar] (75) NULL,
	[LOCATION_ZIPCODE] [nvarchar] (11) NULL,
	[VOYAGE_CONVEYENCE_TYPE] [nvarchar] (150) NULL,
	[VOYAGE_DEPARTURE_DATE] [datetime] NULL,
	[INSURED_NAME] [nvarchar] (150) NULL,
	[EFFECTIVE_DATE] [datetime] NULL,
	[EXPIRE_DATE] [datetime] NULL,
	[IS_ACTIVE] [char] (1) NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[VESSEL_NUMBER] [nvarchar] (50) NULL,
	[PERSON_DISEASE_DATE] [datetime] NULL,
	[VOYAGE_PREFIX] [nvarchar] (50) NULL,
	[VOYAGE_ARRIVAL_DATE] [datetime] NULL,
	[VOYAGE_SURVEY_DATE] [datetime] NULL,
	[DAMAGE_TYPE] [int] NULL,
	[PERSON_DOB] [datetime] NULL,
	[VOYAGE_CERT_NUMBER] [nvarchar] (50) NULL,
	[VOYAGE_TRAN_COMPANY] [nvarchar] (150) NULL,
	[VOYAGE_IO_DESC] [nvarchar] (256) NULL,
	[POL_RISK_ID] [int] NULL,
	[RURAL_INSURED_AREA] [int] NULL,
	[RURAL_PROPERTY] [int] NULL,
	[RURAL_CULTIVATION] [int] NULL,
	[RURAL_FESR_COVERAGE] [int] NULL,
	[RURAL_MODE] [int] NULL,
	[RURAL_SUBSIDY_PREMIUM] [decimal] (18,2) NULL,
	[DP_TICKET_NUMBER] [int] NULL,
	[DP_CATEGORY] [int] NULL,
	[STATE1] [nvarchar] (150) NULL,
	[COUNTRY1] [nvarchar] (150) NULL,
	[COUNTRY2] [nvarchar] (150) NULL,
	[STATE2] [nvarchar] (150) NULL,
	[CITY1] [nvarchar] (300) NULL,
	[CITY2] [nvarchar] (300) NULL,
	[LICENCE_PLATE_NUMBER] [nvarchar] (100) NULL,
	[YEAR] [int] NULL,
	[PA_NUM_OF_PASS] [numeric] (18,0) NULL,
	[ITEM_NUMBER] [int] NULL,
	[ACTUAL_INSURED_OBJECT] [nvarchar] (250) NULL,
	[RISK_CO_APP_ID] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_INSURED_PRODUCT] ADD CONSTRAINT [PK_CLM_INSURED_PRODUCT_INSURED_PRODUCT_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[INSURED_PRODUCT_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_INSURED_PRODUCT] WITH NOCHECK ADD CONSTRAINT [FK_CLM_INSURED_PRODUCT_CLAIM_ID] FOREIGN KEY
	(
		[CLAIM_ID]
	)
	REFERENCES [dbo].[CLM_CLAIM_INFO]
	(
		[CLAIM_ID]
	) 
GO

