IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ATABLE]') AND type in (N'U'))
DROP TABLE [dbo].[ATABLE]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ATABLE](
	[RISK_ID] [int] NULL,
	[CO_APPLICANT_ID] [int] NULL
) ON [PRIMARY]
GO

