IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MIG_COINSURENCE_BUSINESS]') AND type in (N'U'))
DROP TABLE [dbo].[MIG_COINSURENCE_BUSINESS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MIG_COINSURENCE_BUSINESS](
	[Column1] [varchar] (3544) NULL,
	[Column2] [varchar] (852) NULL
) ON [PRIMARY]
GO

