IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_COVERAGE_EXTRA_MULTILINGUAL]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_COVERAGE_EXTRA_MULTILINGUAL]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_COVERAGE_EXTRA_MULTILINGUAL](
	[COV_ID] [int] NOT NULL,
	[COV_DES] [nvarchar] (512) NOT NULL,
	[LANG_ID] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_COVERAGE_EXTRA_MULTILINGUAL] ADD CONSTRAINT [PK_MNT_COVERAGE_EXTRA_MULTILINGUAL_COV_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[COV_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

