IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NSS_DEDUTABLE_CODE]') AND type in (N'U'))
DROP TABLE [dbo].[NSS_DEDUTABLE_CODE]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[NSS_DEDUTABLE_CODE](
	[NSS_VALUE_CODE] [decimal] (18,0) NOT NULL,
	[NSS_DEDUCTABLE_DESC] [nvarchar] (200) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[NSS_DEDUTABLE_CODE] ADD CONSTRAINT [PK_NSS_DEDUTABLE_CODE_NSS_VALUE_CODE] PRIMARY KEY
	CLUSTERED
	(
		[NSS_VALUE_CODE] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

