IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_CURRENT_DEPOSIT_LINE_ITEMS]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_CURRENT_DEPOSIT_LINE_ITEMS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_CURRENT_DEPOSIT_LINE_ITEMS](
	[CD_LINE_ITEM_ID] [int] NOT NULL,
	[DEPOSIT_ID] [int] NULL,
	[LINE_ITEM_INTERNAL_NUMBER] [int] NULL,
	[DIV_ID] [smallint] NULL,
	[PC_ID] [smallint] NULL,
	[ACCOUNT_ID] [int] NULL,
	[DEPOSIT_TYPE] [nvarchar] (5) NULL,
	[BANK_NAME] [nvarchar] (255) NULL,
	[CHECK_NUM] [nvarchar] (25) NULL,
	[RECEIPT_NUM] [nvarchar] (25) NULL,
	[RECEIPT_AMOUNT] [decimal] (25,2) NULL,
	[PAYOR_TYPE] [nvarchar] (5) NULL,
	[RECEIPT_FROM_ID] [int] NULL,
	[RECEIPT_FROM_CODE] [nvarchar] (7) NULL,
	[RECEIPT_FROM_NAME] [nvarchar] (255) NULL,
	[BILL_TYPE] [nchar] (1) NULL,
	[LINE_ITEM_DESCRIPTION] [nvarchar] (255) NULL,
	[CUSTOMER_ID] [int] NULL,
	[POLICY_ID] [smallint] NULL,
	[POLICY_VERSION_ID] [smallint] NULL,
	[IN_RECON] [nchar] (1) NULL,
	[AVAILABLE_BALANCE] [decimal] (18,2) NULL,
	[REF_CUSTOMER_ID] [int] NULL,
	[IS_BNK_RECONCILED] [nchar] (10) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[DEPT_ID] [smallint] NULL,
	[POLICY_NUMBER] [nvarchar] (75) NULL,
	[CLAIM_NUMBER] [nvarchar] (25) NULL,
	[POLICY_MONTH] [smallint] NULL,
	[MONTH_YEAR] [int] NULL,
	[IS_RECONCILED] [nchar] (1) NULL,
	[CREATED_FROM] [nvarchar] (5) NULL,
	[PAGE_ID] [nvarchar] (50) NULL,
	[IS_1099_PROCESSED] [nchar] (1) NULL,
	[RTL_BATCH_NUMBER] [nvarchar] (4) NULL,
	[RTL_GROUP_NUMBER] [nvarchar] (4) NULL,
	[REVERSED] [bit] NULL,
	[REVERSAL_DATE] [datetime] NULL,
	[RISK_PREMIUM] [decimal] (18,2) NULL,
	[FEE] [decimal] (18,2) NULL,
	[TAX] [decimal] (18,2) NULL,
	[INTEREST] [decimal] (18,2) NULL,
	[LATE_FEE] [decimal] (18,2) NULL,
	[BOLETO_NO] [int] NULL,
	[BANK_NUMBER] [nvarchar] (25) NULL,
	[BANK_AGENCY_NUMBER] [nvarchar] (25) NULL,
	[BANK_ACCOUNT_NUMBER] [nvarchar] (25) NULL,
	[IS_EXCEPTION] [nchar] (3) NULL,
	[PAY_MODE] [int] NULL,
	[IS_APPROVE] [char] (1) NULL,
	[RECEIPT_ISSUED_DATE] [datetime] NULL,
	[RECEIPT_BRANCH_CITY] [nvarchar] (20) NULL,
	[PAYMENT_DATE] [datetime] NULL,
	[EXCEPTION_REASON] [int] NULL,
	[COINS_CARRIER_LEADER] [int] NULL,
	[POLICY_HOLDER_NAME] [nvarchar] (50) NULL,
	[SUSEP_CLASS_OF_BUSINESS] [int] NULL,
	[LEADER_POLICY_ID] [nvarchar] (25) NULL,
	[LEADER_DOC_ID] [nvarchar] (10) NULL,
	[BRANCH_COINS_ID] [int] NULL,
	[COINSURANCE_ID] [int] NULL,
	[INSTALLMENT_NO] [int] NULL,
	[NO_OF_INSTALLMENTS] [int] NULL,
	[COMMISSION_AMOUNT] [decimal] (18,2) NOT NULL CONSTRAINT [DF_ACT_CURRENT_DEPOSIT_LINE_ITEMS_COMMISSION_AMOUNT] DEFAULT ((0)),
	[TOTAL_PREMIUM_COLLECTION] [decimal] (25,2) NULL,
	[INCORRECT_OUR_NUMBER] [nvarchar] (25) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_CURRENT_DEPOSIT_LINE_ITEMS] ADD CONSTRAINT [PK_ACT_CURRENT_DEPOSIT_LINE_ITEMS_CD_LINE_ITEM_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CD_LINE_ITEM_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_CURRENT_DEPOSIT_LINE_ITEMS] ADD CONSTRAINT [FK_AACT_CURRENT_DEPOSIT_LINE_ITEMS_DEPOSIT_ID] FOREIGN KEY
	(
		[DEPOSIT_ID]
	)
	REFERENCES [dbo].[ACT_CURRENT_DEPOSITS]
	(
		[DEPOSIT_ID]
	) 
GO

