IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_PROTECTIVE_DEVICES]') AND type in (N'U'))
DROP TABLE [dbo].[POL_PROTECTIVE_DEVICES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_PROTECTIVE_DEVICES](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[RISK_ID] [int] NULL,
	[PROTECTIVE_DEVICE_ID] [int] NOT NULL,
	[FIRE_EXTINGUISHER] [int] NULL,
	[SPL_FIRE_EXTINGUISHER_UNIT] [int] NULL,
	[MANUAL_FOAM_SYSTEM] [int] NULL,
	[FOAM] [int] NULL,
	[INERT_GAS_SYSTEM] [int] NULL,
	[MANUAL_INERT_GAS_SYSTEM] [int] NULL,
	[COMBAT_CARS] [int] NULL,
	[CORRAL_SYSTEM] [int] NULL,
	[ALARM_SYSTEM] [int] NULL,
	[FREE_HYDRANT] [int] NULL,
	[SPRINKLERS] [int] NULL,
	[SPRINKLERS_CLASSIFICATION] [nvarchar] (70) NULL,
	[FIRE_FIGHTER] [nvarchar] (70) NULL,
	[QUESTIION_POINTS] [numeric] (25,4) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[LOCATION_ID] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_PROTECTIVE_DEVICES] ADD CONSTRAINT [PK_POL_PROTECTIVE_DEVICES_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_PROTECTIVE_DEVICE_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[PROTECTIVE_DEVICE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_PROTECTIVE_DEVICES] WITH NOCHECK ADD CONSTRAINT [FK_POL_PROTECTIVE_DEVICES_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

