IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_SCREEN_LIST_MULTILINGUAL]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_SCREEN_LIST_MULTILINGUAL]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_SCREEN_LIST_MULTILINGUAL](
	[SCREEN_ID] [varchar] (20) NOT NULL,
	[SCREEN_DESC] [varchar] (255) NULL,
	[LANG_ID] [int] NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_SCREEN_LIST_MULTILINGUAL] ADD CONSTRAINT [PK_MNT_SCREEN_LIST_MULTILINGUAL_SCREEN_ID_LANG_ID] PRIMARY KEY
	CLUSTERED
	(
		[SCREEN_ID] ASC
		,[LANG_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

