IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_INSURED_BOAT]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_INSURED_BOAT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_INSURED_BOAT](
	[CLAIM_ID] [int] NOT NULL,
	[BOAT_ID] [int] NOT NULL,
	[SERIAL_NUMBER] [nvarchar] (150) NULL,
	[YEAR] [int] NOT NULL,
	[MAKE] [nvarchar] (150) NULL,
	[MODEL] [nvarchar] (150) NULL,
	[BODY_TYPE] [int] NOT NULL,
	[LENGTH] [nvarchar] (20) NOT NULL,
	[WEIGHT] [nvarchar] (10) NOT NULL,
	[HORSE_POWER] [decimal] (10,2) NULL,
	[OTHER_HULL_TYPE] [nvarchar] (50) NULL,
	[PLATE_NUMBER] [nvarchar] (10) NULL,
	[STATE] [int] NOT NULL,
	[IS_ACTIVE] [char] (1) NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[POLICY_BOAT_ID] [int] NULL,
	[WHERE_BOAT_SEEN] [nvarchar] (50) NULL,
	[INCLUDE_TRAILER] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_INSURED_BOAT] ADD CONSTRAINT [PK_CLM_INSURED_BOAT_CLAIM_ID_BOAT_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CLAIM_ID] ASC
		,[BOAT_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_INSURED_BOAT] ADD CONSTRAINT [FK_CLM_INSURED_BOAT_CLAIM_ID] FOREIGN KEY
	(
		[CLAIM_ID]
	)
	REFERENCES [dbo].[CLM_CLAIM_INFO]
	(
		[CLAIM_ID]
	) 
GO

