IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MIG_IL_CONTACT_DETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[MIG_IL_CONTACT_DETAILS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MIG_IL_CONTACT_DETAILS](
	[IMPORT_REQUEST_ID] [int] NOT NULL,
	[IMPORT_SERIAL_NO] [bigint] NOT NULL,
	[CUSTOMER_ID] [int] NULL,
	[POLICY_ID] [int] NULL,
	[LOB_ID] [int] NULL,
	[POLICY_VERSION_ID] [smallint] NULL,
	[IS_ACTIVE] [nchar] (1) NULL CONSTRAINT [MIG_IL_CONTACT_DETAILS_IS_ACTIVE] DEFAULT ('N'),
	[IS_PROCESSED] [char] (1) NULL CONSTRAINT [MIG_IL_CONTACT_DETAILS_IS_DELETED] DEFAULT ('N'),
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[HAS_ERRORS] [bit] NULL CONSTRAINT [MIG_IL_CONTACT_DETAILS_HAS_ERRORS] DEFAULT ('N'),
	[ERROR_TYPES] [nvarchar] (4000) NULL,
	[ERROR_COLUMNS] [nvarchar] (4000) NULL,
	[ERRORCOLUMNVALUES] [nvarchar] (4000) NULL,
	[CUSTOMER_CODE] [nvarchar] (50) NULL,
	[CONTARCT_TYPE] [int] NULL,
	[CONTARCT_POSITION] [nvarchar] (50) NULL,
	[CUSTOMER_NAME] [nvarchar] (200) NULL,
	[FIRST_NAME] [nvarchar] (200) NULL,
	[MIDDLE_NAME] [nvarchar] (200) NULL,
	[LAST_NAME] [nvarchar] (200) NULL,
	[TITLE] [int] NULL,
	[ZIP CODE] [nvarchar] (50) NULL,
	[ADDRESS1] [nvarchar] (300) NULL,
	[ADDRESS2] [nvarchar] (300) NULL,
	[NUMBER] [nvarchar] (50) NULL,
	[DISTRICT] [nvarchar] (50) NULL,
	[CITY] [nvarchar] (150) NULL,
	[COUNTRY] [int] NULL,
	[STATE] [int] NULL,
	[CPF/CNPJ] [nvarchar] (50) NULL,
	[REG_ID_ISSUE_TYPE] [nvarchar] (300) NULL,
	[REG_ID_ISSUE_DATE] [nvarchar] (10) NULL,
	[REG_ID] [nvarchar] (100) NULL,
	[ORIGINAL_ISSUE] [nvarchar] (50) NULL,
	[EMAIL_ADDRESS] [nvarchar] (100) NULL,
	[DATE OF BIRTH] [nvarchar] (10) NULL,
	[BUSINESS_PHONE] [nvarchar] (50) NULL,
	[HOME_PHONE] [nvarchar] (50) NULL,
	[FAX] [nvarchar] (50) NULL,
	[PAGER] [nvarchar] (100) NULL,
	[MOBILE] [nvarchar] (50) NULL,
	[CONTACT_CODE] [nvarchar] (50) NULL,
	[CONTACT_PHONE_EXT] [nvarchar] (50) NULL,
	[TOLL_FREE_NO] [nvarchar] (50) NULL,
	[ACTIVITY] [int] NULL,
	[NOTE] [nvarchar] (1000) NULL,
	[NATIONALITY] [nvarchar] (200) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MIG_IL_CONTACT_DETAILS] ADD CONSTRAINT [PK_MIG_IL_CONTACT_DETAILS_IMPORT_REQUEST_ID_SERIAL_NO] PRIMARY KEY
	NONCLUSTERED
	(
		[IMPORT_REQUEST_ID] ASC
		,[IMPORT_SERIAL_NO] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

