IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_PREMIUM_PROCESS_DETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_PREMIUM_PROCESS_DETAILS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_PREMIUM_PROCESS_DETAILS](
	[PROCESS_ID] [int] NOT NULL,
	[PROCESS_TYPE] [int] NOT NULL,
	[TRANSACTION_TYPE] [varchar] (5) NULL,
	[TERM_TYPE] [varchar] (5) NULL,
	[PROCESS_NUM] [varchar] (50) NULL,
	[PROCESS_DESC] [varchar] (50) NULL,
	[CUSTOMER_ID] [int] NULL,
	[APP_ID] [int] NULL,
	[APP_VERSION_ID] [smallint] NULL,
	[POLICY_ID] [int] NULL,
	[POLICY_VERSION_ID] [smallint] NULL,
	[PREMIUM_AMOUNT] [decimal] (18,2) NULL,
	[PROCESS_STATUS] [varchar] (5) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[PREMIUM_XML] [text] NULL,
	[POSTED_PREMIUM_XML] [text] NULL,
	[PRINTED_ON_NOTICE] [char] (1) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_PREMIUM_PROCESS_DETAILS] ADD CONSTRAINT [PK_ACT_PREMIUM_PROCESS_DETAILS_PROCESS_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[PROCESS_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

