IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_VENDOR_INVOICES]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_VENDOR_INVOICES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_VENDOR_INVOICES](
	[INVOICE_ID] [int] NOT NULL,
	[VENDOR_ID] [int] NULL,
	[INVOICE_NUM] [nvarchar] (40) NULL,
	[REF_PO_NUM] [nvarchar] (25) NULL,
	[TRANSACTION_DATE] [datetime] NULL,
	[DUE_DATE] [datetime] NULL,
	[INVOICE_AMOUNT] [decimal] (18,2) NULL,
	[NOTE] [nvarchar] (70) NULL,
	[IS_COMMITTED] [nvarchar] (1) NULL,
	[DATE_COMMITTED] [datetime] NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[IS_APPROVED] [char] (1) NULL,
	[APPROVED_BY] [int] NULL,
	[APPROVED_DATE_TIME] [datetime] NULL,
	[FISCAL_ID] [smallint] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_VENDOR_INVOICES] ADD CONSTRAINT [PK_ACT_VENDOR_INVOICES_INVOICE_ID] PRIMARY KEY
	CLUSTERED
	(
		[INVOICE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

