IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_REIN_CONSTRUCTION_TRANSLATION]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_REIN_CONSTRUCTION_TRANSLATION]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_REIN_CONSTRUCTION_TRANSLATION](
	[REIN_CONSTRUCTION_CODE_ID] [int] NOT NULL,
	[REIN_EXTERIOR_CONSTRUCTION] [nvarchar] (100) NULL,
	[REIN_DESCRIPTION] [nvarchar] (50) NULL,
	[REIN_REPORT_CODE] [nvarchar] (50) NULL,
	[REIN_NISS] [nchar] (1) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_REIN_CONSTRUCTION_TRANSLATION] ADD CONSTRAINT [PK_MNT_REIN_CONSTRUCTION_TRANSLATION_REIN_CONSTRUCTION_CODE_ID] PRIMARY KEY
	CLUSTERED
	(
		[REIN_CONSTRUCTION_CODE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

