IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DOC_TEMPLATE_LIST]') AND type in (N'U'))
DROP TABLE [dbo].[DOC_TEMPLATE_LIST]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[DOC_TEMPLATE_LIST](
	[TEMPLATE_ID] [int] NOT NULL,
	[FILENAME] [nvarchar] (510) NULL,
	[DISPLAYNAME] [nvarchar] (200) NULL,
	[DESCRIPTION] [nvarchar] (450) NULL,
	[VERSION] [smallint] NULL,
	[QUERYXML] [text] NULL,
	[LOB] [int] NULL,
	[AGENCY_ID] [int] NULL,
	[CREATED_BY] [int] NULL,
	[CREATION_DATE] [datetime] NULL,
	[LAST_MODIFIED_DATE] [datetime] NULL,
	[LETTERTYPE] [int] NULL,
	[IS_SYSTEM_TEMPLATE] [nchar] (2) NULL,
	[IS_ACTIVE] [nchar] (2) NULL,
	[TEMPLATE_PATH] [nvarchar] (2000) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[DOC_TEMPLATE_LIST] ADD CONSTRAINT [PK_DOC_TEMPLATE_LIST_TEMPLATE_ID] PRIMARY KEY
	CLUSTERED
	(
		[TEMPLATE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

