IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_REOPEN_CLAIM]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_REOPEN_CLAIM]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_REOPEN_CLAIM](
	[CLAIM_ID] [int] NOT NULL,
	[REOPEN_ID] [int] NOT NULL,
	[REOPEN_DATE] [datetime] NOT NULL,
	[REOPEN_BY] [int] NOT NULL,
	[REASON] [nvarchar] (500) NULL,
	[IS_ACTIVE] [char] (1) NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_REOPEN_CLAIM] ADD CONSTRAINT [PK_CLM_REOPEN_CLAIM_CLAIM_ID_REOPEN_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CLAIM_ID] ASC
		,[REOPEN_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_REOPEN_CLAIM] ADD CONSTRAINT [FK_CLM_REOPEN_CLAIM_CLAIM_ID] FOREIGN KEY
	(
		[CLAIM_ID]
	)
	REFERENCES [dbo].[CLM_CLAIM_INFO]
	(
		[CLAIM_ID]
	) 
GO

