IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_MODULE_MASTER]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_MODULE_MASTER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_MODULE_MASTER](
	[MM_MODULE_ID] [int] NOT NULL,
	[MM_MODULE_NAME] [nvarchar] (500) NOT NULL,
	[MM_IS_ACTIVE] [nchar] (2) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_MODULE_MASTER] ADD CONSTRAINT [PK_MNT_MODULE_MASTER_MM_MODULE_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[MM_MODULE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

