IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_BANK_RECON_CHECK_FILE]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_BANK_RECON_CHECK_FILE]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_BANK_RECON_CHECK_FILE](
	[IDEN_ROW_ID] [int] NOT NULL IDENTITY (1,1),
	[REF_FILE_ID] [int] NULL,
	[ACCOUNT_ID] [int] NULL,
	[ACCOUNT_NUMBER] [nvarchar] (10) NULL,
	[SERIAL_NUMBER] [nvarchar] (20) NULL,
	[CHECK_DATE] [datetime] NULL,
	[ADDITIONAL_DATA] [nvarchar] (1500) NULL,
	[SEQUENCE_NUMBER] [int] NULL,
	[RECON_GROUP_ID] [int] NULL,
	[MATCHED_RECORD_STATUS] [bit] NULL,
	[ERROR_DESC] [nvarchar] (1000) NULL,
	[AMOUNT] [decimal] (18,2) NOT NULL CONSTRAINT [DF_ACT_BANK_RECON_CHECK_FILE_AMOUNT] DEFAULT ((0)),
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[CHECK_MATCHED_INFO] [nvarchar] (50) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_BANK_RECON_CHECK_FILE] ADD CONSTRAINT [PK_ACT_BANK_RECON_CHECK_FILE_IDEN_ROW_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[IDEN_ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_BANK_RECON_CHECK_FILE] ADD CONSTRAINT [FK_ACT_BANK_RECON_CHECK_FILE_ACT_BANK_RECON_UPLOAD_FILE_FILE_ID] FOREIGN KEY
	(
		[REF_FILE_ID]
	)
	REFERENCES [dbo].[ACT_BANK_RECON_UPLOAD_FILE]
	(
		[FILE_ID]
	) 
GO

