IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COVERAGE_TYPE_TEST]') AND type in (N'U'))
DROP TABLE [dbo].[COVERAGE_TYPE_TEST]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[COVERAGE_TYPE_TEST](
	[PRODUCT_FILTER] [int] NULL,
	[SUSEP_ACCOUNTING_LOB] [int] NULL,
	[SUBLOB] [int] NULL,
	[COVERAGE_ID] [int] NULL,
	[BASIC_COVERAGE_TYPE] [nvarchar] (50) NULL,
	[COVERAGE_DESCRIPTION] [nvarchar] (100) NULL,
	[EFFECTIVE_DATE] [datetime] NULL,
	[MAIN_COVERAGE] [char] (2) NULL,
	[COVERAGE_USED_FOR_RI] [char] (2) NULL
) ON [PRIMARY]
GO

