IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_CHECK_OPEN_ITEMS]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_CHECK_OPEN_ITEMS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_CHECK_OPEN_ITEMS](
	[IDEN_NO] [int] NOT NULL IDENTITY (1,1),
	[CHECK_ID] [int] NULL,
	[IDEN_ROW_ID] [nvarchar] (500) NULL,
	[AMOUNT] [decimal] (18,2) NOT NULL CONSTRAINT [DF_ACT_CHECK_OPEN_ITEMS_AMOUNT] DEFAULT ((0))
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_CHECK_OPEN_ITEMS] ADD CONSTRAINT [PK_ACT_CHECK_OPEN_ITEMS_IDEN_NO] PRIMARY KEY
	NONCLUSTERED
	(
		[IDEN_NO] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
		,FILLFACTOR = 90
	) ON [PRIMARY]
GO

