IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAGNET_INTERFACE_CODES]') AND type in (N'U'))
DROP TABLE [dbo].[PAGNET_INTERFACE_CODES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[PAGNET_INTERFACE_CODES](
	[ROW_ID] [int] NOT NULL IDENTITY (1,1),
	[INTERFACE_CODE] [nvarchar] (5) NULL,
	[PORT_DESCRIPTION] [nvarchar] (510) NULL,
	[ENG_DESCRIPTION] [nvarchar] (510) NULL,
	[PAYMENT_METHOD_CODE] [nvarchar] (3) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[PAGNET_INTERFACE_CODES] ADD CONSTRAINT [PK_PAGNET_INTERFACE_CODES_ROW_ID] PRIMARY KEY
	CLUSTERED
	(
		[ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

