IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_OTHER_STRUCTURE_DWELLING]') AND type in (N'U'))
DROP TABLE [dbo].[POL_OTHER_STRUCTURE_DWELLING]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_OTHER_STRUCTURE_DWELLING](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[DWELLING_ID] [smallint] NOT NULL,
	[OTHER_STRUCTURE_ID] [smallint] NOT NULL,
	[PREMISES_LOCATION] [nvarchar] (5) NULL,
	[PREMISES_DESCRIPTION] [nvarchar] (300) NULL,
	[PREMISES_USE] [nvarchar] (150) NULL,
	[PREMISES_CONDITION] [nvarchar] (5) NULL,
	[PICTURE_ATTACHED] [nvarchar] (5) NULL,
	[COVERAGE_BASIS] [nvarchar] (10) NULL,
	[SATELLITE_EQUIPMENT] [nvarchar] (5) NULL,
	[LOCATION_ADDRESS] [nvarchar] (100) NULL,
	[LOCATION_CITY] [nvarchar] (50) NULL,
	[LOCATION_STATE] [nvarchar] (5) NULL,
	[LOCATION_ZIP] [nvarchar] (20) NULL,
	[ADDITIONAL_AMOUNT_OF_INSURANCE_DESIRED] [int] NULL,
	[INSURING_VALUE] [int] NULL,
	[INSURING_VALUE_OFF_PREMISES] [int] NULL,
	[IS_ACTIVE] [char] (1) NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[LIABILITY_EXTENDED] [smallint] NULL,
	[COVERAGE_AMOUNT] [decimal] (10,2) NULL,
	[SOLID_FUEL_DEVICE] [nvarchar] (5) NULL,
	[APPLY_ENDS] [nvarchar] (10) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_OTHER_STRUCTURE_DWELLING] ADD CONSTRAINT [PK_POL_OTHER_STRUCTURE_DWELLING_CUSTOMER_ID_POLICY_ID_VERSION_ID_DWELLING_ID_OTHER_STRUCTURE_ID] PRIMARY KEY
	CLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[DWELLING_ID] ASC
		,[OTHER_STRUCTURE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_OTHER_STRUCTURE_DWELLING] ADD CONSTRAINT [FK_POL_OTHER_STRUCTURE_DWELLING_POLICY_DWELLINGS_INFO_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_DWELLING_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[DWELLING_ID]
	)
	REFERENCES [dbo].[POL_DWELLINGS_INFO]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[DWELLING_ID]
	) 
GO

