IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_COMMODITY_INFO]') AND type in (N'U'))
DROP TABLE [dbo].[POL_COMMODITY_INFO]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_COMMODITY_INFO](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[COMMODITY_ID] [int] NOT NULL,
	[COMMODITY_NUMBER] [numeric] (10,0) NULL,
	[COMMODITY] [nvarchar] (500) NULL,
	[CONVEYANCE] [nvarchar] (500) NULL,
	[SUM_INSURED] [numeric] (18,2) NULL,
	[DEPARTING_DATE] [datetime] NULL,
	[ARRIVAL_DATE] [datetime] NULL,
	[ORIGIN_COUNTRY] [smallint] NULL,
	[ORIGIN_STATE] [smallint] NULL,
	[ORIGIN_CITY] [nvarchar] (100) NULL,
	[DESTINATION_COUNTRY] [smallint] NULL,
	[DESTINATION_STATE] [smallint] NULL,
	[DESTINATION_CITY] [nvarchar] (100) NULL,
	[REMARKS] [nvarchar] (4000) NULL,
	[IS_ACTIVE] [char] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[CONVEYANCE_TYPE] [int] NULL,
	[CO_APPLICANT_ID] [int] NULL CONSTRAINT [DF_POL_COMMODITY_INFO_CO_APPLICANT_ID] DEFAULT ((0)),
	[ORIGN_COUNTRY] [nvarchar] (150) NULL,
	[DEST_COUNTRY] [nvarchar] (150) NULL,
	[ORIGN_STATE] [nvarchar] (150) NULL,
	[DEST_STATE] [nvarchar] (150) NULL,
	[ORIGINAL_VERSION_ID] [int] NULL,
	[CO_RISK_ID] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_COMMODITY_INFO] ADD CONSTRAINT [PK_POL_COMMODITY_INFO_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_COMMODITY_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[COMMODITY_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_COMMODITY_INFO] WITH NOCHECK ADD CONSTRAINT [FK_POL_COMMODITY_INFO_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

