IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_JOURNAL_LINE_ITEMS]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_JOURNAL_LINE_ITEMS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_JOURNAL_LINE_ITEMS](
	[JE_LINE_ITEM_ID] [int] NOT NULL,
	[JOURNAL_ID] [int] NULL,
	[DIV_ID] [smallint] NULL,
	[DEPT_ID] [smallint] NULL,
	[PC_ID] [smallint] NULL,
	[CUSTOMER_ID] [int] NULL,
	[POLICY_ID] [smallint] NULL,
	[POLICY_VERSION_ID] [smallint] NULL,
	[AMOUNT] [decimal] (18,2) NOT NULL CONSTRAINT [DF_ACT_JOURNAL_LINE_ITEMS_AMOUNT] DEFAULT ((0)),
	[TYPE] [nvarchar] (5) NULL,
	[REGARDING] [nvarchar] (30) NULL,
	[REF_CUSTOMER] [int] NULL,
	[ACCOUNT_ID] [int] NULL,
	[BILL_TYPE] [nchar] (2) NULL,
	[NOTE] [nvarchar] (100) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[POLICY_NUMBER] [nvarchar] (10) NULL,
	[TRAN_CODE] [nvarchar] (20) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_JOURNAL_LINE_ITEMS] ADD CONSTRAINT [PK_ACT_JOURNAL_LINE_ITEMS_JE_LINE_ITEM_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[JE_LINE_ITEM_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
		,FILLFACTOR = 90
	) ON [PRIMARY]
GO

