IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_REIN_MINOR_PARTICIPATION]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_REIN_MINOR_PARTICIPATION]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_REIN_MINOR_PARTICIPATION](
	[MINOR_PARTICIPATION_ID] [int] NOT NULL,
	[MINOR_LAYER] [int] NULL,
	[MINOR_PARTICIPANTS] [int] NULL,
	[MINOR_WHOLE_PERCENT] [decimal] (18,2) NULL,
	[MAJOR_PARTICIPANTS] [nvarchar] (150) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[CONTRACT_ID] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_REIN_MINOR_PARTICIPATION] ADD CONSTRAINT [PK_MNT_REIN_MINOR_PARTICIPATION_MINOR_PARTICIPATION_ID] PRIMARY KEY
	CLUSTERED
	(
		[MINOR_PARTICIPATION_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

