IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_LOOKUP_TABLES_MULTILINGUAL]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_LOOKUP_TABLES_MULTILINGUAL]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_LOOKUP_TABLES_MULTILINGUAL](
	[LOOKUP_ID] [int] NOT NULL,
	[LOOKUP_DESC] [nvarchar] (100) NULL,
	[LANG_ID] [int] NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_LOOKUP_TABLES_MULTILINGUAL] ADD CONSTRAINT [MNT_LOOKUP_TABLES_MULTILINGUAL LOOKUP_ID LANG_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[LOOKUP_ID] ASC
		,[LANG_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

