IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QUESTIONLISTOPTIONMASTER]') AND type in (N'U'))
DROP TABLE [dbo].[QUESTIONLISTOPTIONMASTER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[QUESTIONLISTOPTIONMASTER](
	[OPTIONID] [int] NOT NULL,
	[CARRIERID] [numeric] (8,0) NULL,
	[LISTID] [int] NOT NULL,
	[OPTIONNAME] [nvarchar] (100) NULL,
	[ISACTIVE] [nchar] (2) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[QUESTIONLISTOPTIONMASTER] ADD CONSTRAINT [PK_QUESTIONLISTOPTIONMASTER_OPTIONID_LISTID] PRIMARY KEY
	CLUSTERED
	(
		[OPTIONID] ASC
		,[LISTID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

