IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_LOOKUP_VALUES]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_LOOKUP_VALUES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_LOOKUP_VALUES](
	[LOOKUP_UNIQUE_ID] [int] NOT NULL,
	[LOOKUP_ID] [smallint] NOT NULL,
	[LOOKUP_VALUE_ID] [smallint] NOT NULL,
	[LOOKUP_VALUE_CODE] [nvarchar] (40) NULL,
	[LOOKUP_VALUE_DESC] [nvarchar] (100) NULL,
	[LOOKUP_SYS_DEF] [nvarchar] (2) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[LOOKUP_FRAME_OR_MASONRY] [varchar] (50) NULL,
	[Type] [varchar] (70) NULL,
	[NSS_VALUE_CODE] [nvarchar] (40) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_LOOKUP_VALUES] ADD CONSTRAINT [PK_MNT_LOOKUP_VALUES_LOOKUP_UNIQUE_ID] PRIMARY KEY
	CLUSTERED
	(
		[LOOKUP_UNIQUE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_LOOKUP_VALUES] WITH NOCHECK ADD CONSTRAINT [FK_MNT_LOOKUP_VALUES_MNT_LOOKUP_TABLES] FOREIGN KEY
	(
		[LOOKUP_ID]
	)
	REFERENCES [dbo].[MNT_LOOKUP_TABLES]
	(
		[LOOKUP_ID]
	) 
GO

