IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_ACCOUNTS_POSTING_DETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_ACCOUNTS_POSTING_DETAILS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_ACCOUNTS_POSTING_DETAILS](
	[IDENTITY_ROW_ID] [int] NOT NULL IDENTITY (1,1),
	[ACCOUNT_ID] [int] NULL,
	[UPDATED_FROM] [nchar] (1) NULL,
	[SUBLEDGER_TYPE] [nvarchar] (5) NULL,
	[SOURCE_ROW_ID] [int] NULL,
	[MAPPING_SUBLEDGER_ID] [int] NULL,
	[SOURCE_NUM] [nvarchar] (50) NULL,
	[SOURCE_TRAN_DATE] [datetime] NULL,
	[SOURCE_EFF_DATE] [datetime] NULL,
	[POSTING_DATE] [datetime] NULL,
	[TRANSACTION_AMOUNT] [decimal] (18,2) NULL,
	[AGENCY_COMM_PERC] [decimal] (8,4) NULL,
	[AGENCY_COMM_AMT] [decimal] (18,2) NULL,
	[AGENCY_ID] [int] NULL,
	[CUSTOMER_ID] [int] NULL,
	[POLICY_ID] [int] NULL,
	[POLICY_VERSION_ID] [smallint] NULL,
	[DIV_ID] [smallint] NULL,
	[DEPT_ID] [smallint] NULL,
	[PC_ID] [smallint] NULL,
	[IS_PREBILL] [nchar] (1) NULL,
	[BILL_CODE] [nvarchar] (5) NULL,
	[GROSS_AMOUNT] [decimal] (18,2) NULL,
	[ITEM_TRAN_CODE] [nvarchar] (5) NULL,
	[ITEM_TRAN_CODE_TYPE] [nvarchar] (5) NULL,
	[TRAN_ID] [smallint] NULL,
	[LOB_ID] [smallint] NULL,
	[SUB_LOB_ID] [smallint] NULL,
	[COUNTRY_ID] [int] NULL,
	[STATE_ID] [smallint] NULL,
	[VENDOR_ID] [int] NULL,
	[TAX_ID] [int] NULL,
	[ADNL_INFO] [nvarchar] (100) NULL,
	[IS_BANK_RECONCILED] [nvarchar] (1) NULL,
	[RECUR_JOURNAL_VERSION] [int] NULL,
	[IN_BNK_RECON] [int] NULL,
	[IS_BALANCE_UPDATED] [nchar] (1) NULL,
	[COMMITED_BY] [int] NULL,
	[COMMITED_BY_CODE] [nvarchar] (10) NULL,
	[COMMITED_BY_NAME] [nvarchar] (30) NULL,
	[COMMISSION_TYPE] [char] (1) NULL,
	[RISK_ID] [int] NULL,
	[RISK_TYPE] [nvarchar] (15) NULL,
	[SOURCE_GROUP_ID] [int] NULL,
	[TRAN_ENTITY] [nvarchar] (200) NULL,
	[TRAN_DESC] [nvarchar] (500) NULL,
	[PAYOR_ID] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_ACCOUNTS_POSTING_DETAILS] ADD CONSTRAINT [PK_ACT_ACCOUNTS_POSTING_DETAILS_IDENTITY_ROW_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[IDENTITY_ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
		,FILLFACTOR = 90
	) ON [PRIMARY]
GO

