IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_AVIATION_VEHICLE_COVERAGES]') AND type in (N'U'))
DROP TABLE [dbo].[POL_AVIATION_VEHICLE_COVERAGES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_AVIATION_VEHICLE_COVERAGES](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[VEHICLE_ID] [smallint] NOT NULL,
	[COVERAGE_ID] [int] NOT NULL,
	[COVERAGE_CODE_ID] [int] NOT NULL,
	[LIMIT_OVERRIDE] [nvarchar] (5) NULL,
	[LIMIT_1] [decimal] (18,0) NULL,
	[LIMIT_1_TYPE] [nvarchar] (5) NULL,
	[LIMIT_2] [decimal] (18,0) NULL,
	[LIMIT_2_TYPE] [nvarchar] (5) NULL,
	[DEDUCT_OVERRIDE] [nchar] (1) NULL,
	[DEDUCTIBLE_1] [decimal] (18,0) NULL,
	[DEDUCTIBLE_1_TYPE] [nvarchar] (5) NULL,
	[DEDUCTIBLE_2] [decimal] (18,0) NULL,
	[DEDUCTIBLE_2_TYPE] [nvarchar] (5) NULL,
	[WRITTEN_PREMIUM] [decimal] (18,2) NULL,
	[FULL_TERM_PREMIUM] [decimal] (18,2) NULL,
	[IS_SYSTEM_COVERAGE] [nchar] (1) NULL,
	[LIMIT1_AMOUNT_TEXT] [nvarchar] (100) NULL,
	[LIMIT2_AMOUNT_TEXT] [nvarchar] (100) NULL,
	[DEDUCTIBLE1_AMOUNT_TEXT] [nvarchar] (100) NULL,
	[DEDUCTIBLE2_AMOUNT_TEXT] [nvarchar] (100) NULL,
	[SIGNATURE_OBTAINED] [nchar] (1) NULL CONSTRAINT [DF__POL_AVIAT__SIGNA__6F7DBA75] DEFAULT ('N'),
	[LIMIT_ID] [int] NULL,
	[DEDUC_ID] [int] NULL,
	[ADD_INFORMATION] [nvarchar] (500) NULL,
	[COVERAGE_TYPE_ID] [int] NULL,
	[RATE] [decimal] (12,4) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_AVIATION_VEHICLE_COVERAGES] ADD CONSTRAINT [PK_POL_AVIATION_VEHICLE_COVERAGES_CUSTOMER_ID_POLICY_ID_VERSION_ID_COVERAGE_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[VEHICLE_ID] ASC
		,[COVERAGE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_AVIATION_VEHICLE_COVERAGES] ADD CONSTRAINT [FK_POL_AVIATION_VEHICLE_COVERAGES_CUSTOMER_ID_POLICY_ID_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[VEHICLE_ID]
	)
	REFERENCES [dbo].[POL_AVIATION_VEHICLES]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[VEHICLE_ID]
	) 
GO

ALTER TABLE [dbo].[POL_AVIATION_VEHICLE_COVERAGES] WITH NOCHECK ADD CONSTRAINT [FK_POL_AVIATION_VEHICLE_COVERAGES_MNT_COVERAGE_COVERAGE_CODE_ID_COV_ID] FOREIGN KEY
	(
		[COVERAGE_CODE_ID]
	)
	REFERENCES [dbo].[MNT_COVERAGE]
	(
		[COV_ID]
	) 
GO

