IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ONLINESCREENMASTER]') AND type in (N'U'))
DROP TABLE [dbo].[ONLINESCREENMASTER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ONLINESCREENMASTER](
	[SCREENID] [int] NOT NULL,
	[CLASSID] [int] NULL,
	[SUBCLASSID] [int] NULL,
	[PROFESSIONID] [int] NULL,
	[SCREENNAME] [nvarchar] (500) NULL,
	[ISACTIVE] [nchar] (1) NULL,
	[DISPLAYNAME] [nvarchar] (50) NULL,
	[LASTMODIFIEDDATE] [datetime] NULL,
	[LASTMODIFIEDBY] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ONLINESCREENMASTER] ADD CONSTRAINT [PK_ONLINESCREENMASTER_SCREENID] PRIMARY KEY
	CLUSTERED
	(
		[SCREENID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ONLINESCREENMASTER] ADD CONSTRAINT [FK_PROFESSIONMASTER_ONLINESCRE] FOREIGN KEY
	(
		[PROFESSIONID]
	)
	REFERENCES [dbo].[PROFESSIONMASTER]
	(
		[PROFESSIONID]
	) 
GO

