IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_UMBRELLA_REAL_ESTATE_LOCATION]') AND type in (N'U'))
DROP TABLE [dbo].[POL_UMBRELLA_REAL_ESTATE_LOCATION]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_UMBRELLA_REAL_ESTATE_LOCATION](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[CLIENT_LOCATION_NUMBER] [nvarchar] (20) NULL,
	[LOCATION_ID] [smallint] NOT NULL,
	[ADDRESS_1] [nvarchar] (75) NULL,
	[ADDRESS_2] [nvarchar] (75) NULL,
	[CITY] [nvarchar] (75) NULL,
	[COUNTY] [nvarchar] (75) NULL,
	[STATE] [int] NULL,
	[ZIPCODE] [nvarchar] (10) NULL,
	[PHONE_NUMBER] [nvarchar] (15) NULL,
	[FAX_NUMBER] [nvarchar] (15) NULL,
	[REMARKS] [nvarchar] (100) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[LOCATION_NUMBER] [int] NULL,
	[OCCUPIED_BY] [smallint] NULL,
	[NUM_FAMILIES] [smallint] NULL,
	[BUSS_FARM_PURSUITS] [smallint] NULL,
	[BUSS_FARM_PURSUITS_DESC] [varchar] (50) NULL,
	[LOC_EXCLUDED] [smallint] NULL,
	[PERS_INJ_COV_82] [smallint] NULL,
	[OTHER_POLICY] [nvarchar] (150) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_UMBRELLA_REAL_ESTATE_LOCATION] ADD CONSTRAINT [PK_POL_UMBRELLA_REAL_ESTATE_LOCATION_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[LOCATION_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

