IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_COVERAGE_ACCOUNTING_LOB ]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_COVERAGE_ACCOUNTING_LOB ]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_COVERAGE_ACCOUNTING_LOB ](
	[COV_ID] [int] NOT NULL,
	[ACC_LOB_ID] [smallint] NOT NULL,
	[EFFECTIVE_FROM_DATE] [datetime] NOT NULL,
	[EFFETIVE_TO_DATE] [datetime] NULL,
	[IS_ACTIVE] [char] (1) NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFY_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_COVERAGE_ACCOUNTING_LOB ] ADD CONSTRAINT [PK_MNT_COVERAGE_ACCOUNTING_LOB_COV_ID_ACC_LOB_ID_EFFECTIVE_FROM_DATE] PRIMARY KEY
	NONCLUSTERED
	(
		[COV_ID] ASC
		,[ACC_LOB_ID] ASC
		,[EFFECTIVE_FROM_DATE] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_COVERAGE_ACCOUNTING_LOB ] ADD CONSTRAINT [FK_MNT_COVERAGE_ACCOUNTING_LOB_ACC_LOB_ID] FOREIGN KEY
	(
		[ACC_LOB_ID]
	)
	REFERENCES [dbo].[MNT_LOB_MASTER]
	(
		[LOB_ID]
	) 
GO

ALTER TABLE [dbo].[MNT_COVERAGE_ACCOUNTING_LOB ] ADD CONSTRAINT [FK_MNT_COVERAGE_ACCOUNTING_LOB_COV_ID] FOREIGN KEY
	(
		[COV_ID]
	)
	REFERENCES [dbo].[MNT_COVERAGE]
	(
		[COV_ID]
	) 
GO

