IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_AGENCY_CHECK_DISTRIBUTION_TEMP]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_AGENCY_CHECK_DISTRIBUTION_TEMP]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_AGENCY_CHECK_DISTRIBUTION_TEMP](
	[IDEN_ROW_ID] [int] NOT NULL IDENTITY (1,1),
	[CHECK_ID] [int] NOT NULL,
	[AGENCY_ID] [int] NULL,
	[MONTH_NUMBER] [int] NULL,
	[MONTH_YEAR] [int] NULL,
	[CHECK_AMOUNT] [decimal] (18,2) NULL,
	[AMT_UNCOLLECTED_PREMIUM_AB] [decimal] (18,2) NULL,
	[AMOUNT_TO_APPLY_ABP] [decimal] (18,2) NULL,
	[AMT_COMMISSION_PAYABLE_AB] [decimal] (18,2) NULL,
	[AMOUNT_TO_APPLY_ABC] [decimal] (18,2) NULL,
	[AMT_COMMISSION_PAYABLE_DB] [decimal] (18,2) NULL,
	[AMOUNT_TO_APPLY_DBC] [decimal] (18,2) NULL,
	[AMT_AGAINST_OP] [decimal] (18,2) NULL,
	[AMOUNT_TO_APPLY_OP] [decimal] (18,2) NULL,
	[AMT_AGENCY_BALANCE] [decimal] (18,2) NULL,
	[DIFFERENCE_AMOUNT] [decimal] (18,2) NULL,
	[ACCOUNT_FOR_ADJUSTMENT] [int] NULL,
	[RECON_GROUP_ID] [int] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[DESCRIPTION] [nvarchar] (2000) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_AGENCY_CHECK_DISTRIBUTION_TEMP] ADD CONSTRAINT [PK_ACT_AGENCY_CHECK_DISTRIBUTION_TEMP_IDEN_ROW_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[IDEN_ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
		,FILLFACTOR = 90
	) ON [PRIMARY]
GO

