IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_INSURED_VEHICLE]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_INSURED_VEHICLE]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_INSURED_VEHICLE](
	[INSURED_VEHICLE_ID] [int] NOT NULL,
	[CLAIM_ID] [int] NOT NULL,
	[NON_OWNED_VEHICLE] [char] (1) NOT NULL,
	[VEHICLE_YEAR] [nvarchar] (4) NULL,
	[MAKE] [nvarchar] (150) NULL,
	[MODEL] [nvarchar] (150) NULL,
	[VIN] [nvarchar] (150) NULL,
	[BODY_TYPE] [nvarchar] (150) NULL,
	[PLATE_NUMBER] [nvarchar] (10) NULL,
	[STATE] [int] NULL,
	[IS_ACTIVE] [char] (1) NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[WHERE_VEHICLE_SEEN] [nvarchar] (50) NULL,
	[WHEN_VEHICLE_SEEN] [nvarchar] (25) NULL,
	[OWNER_ID] [int] NULL,
	[DRIVER_ID] [int] NULL,
	[DESCRIBE_DAMAGE] [nvarchar] (100) NULL,
	[USED_WITH_PERMISSION] [int] NULL,
	[PURPOSE_OF_USE] [nvarchar] (50) NULL,
	[ESTIMATE_AMOUNT] [decimal] (12,2) NULL,
	[OTHER_VEHICLE_INSURANCE] [nvarchar] (100) NULL,
	[POLICY_VEHICLE_ID] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_INSURED_VEHICLE] ADD CONSTRAINT [PK_CLM_INSURED_VEHICLE_INSURED_VEHICLE_ID_CLAIM_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[INSURED_VEHICLE_ID] ASC
		,[CLAIM_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_INSURED_VEHICLE] ADD CONSTRAINT [FK_CLM_INSURED_VEHICLE_CLAIM_ID] FOREIGN KEY
	(
		[CLAIM_ID]
	)
	REFERENCES [dbo].[CLM_CLAIM_INFO]
	(
		[CLAIM_ID]
	) 
GO

