IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_REINSURANCE_POSTING]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_REINSURANCE_POSTING]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_REINSURANCE_POSTING](
	[REIN_POSTING_ID] [int] NOT NULL,
	[CONTRACT_ID] [smallint] NULL,
	[COMMISION_APPLICABLE] [char] (1) NULL,
	[REIN_PREMIUM_ACT] [int] NULL,
	[REIN_PAYMENT_ACT] [int] NULL,
	[REIN_COMMISION_ACT] [int] NULL,
	[REIN_COMMISION_RECEVABLE] [int] NULL,
	[GL_ID] [smallint] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_REINSURANCE_POSTING] ADD CONSTRAINT [PK_MNT_REINSURANCE_POSTING_REIN_POSTING_ID] PRIMARY KEY
	CLUSTERED
	(
		[REIN_POSTING_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

