IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_ENDORSMENT_DETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_ENDORSMENT_DETAILS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_ENDORSMENT_DETAILS](
	[ENDORSMENT_ID] [int] NOT NULL,
	[STATE_ID] [smallint] NULL,
	[LOB_ID] [smallint] NULL,
	[PURPOSE] [nchar] (1) NULL,
	[TYPE] [nchar] (1) NULL,
	[DESCRIPTION] [varchar] (500) NULL,
	[TEXT] [varchar] (500) NULL,
	[ENDORS_ASSOC_COVERAGE] [nchar] (1) NULL,
	[SELECT_COVERAGE] [int] NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[ENDORS_PRINT] [nchar] (1) NULL,
	[ENDORS_ATTACHMENT] [varchar] (300) NULL,
	[ENDORSEMENT_CODE] [varchar] (50) NULL,
	[RANK] [float] (53) NULL,
	[EFFECTIVE_FROM_DATE] [datetime] NULL,
	[EFFECTIVE_TO_DATE] [datetime] NULL,
	[DISABLED_DATE] [datetime] NULL,
	[FORM_NUMBER] [varchar] (20) NULL,
	[EDITION_DATE] [datetime] NULL,
	[INCREASED_LIMIT] [int] NULL,
	[PRINT_ORDER] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_ENDORSMENT_DETAILS] ADD CONSTRAINT [PK_MNT_ENDORSMENT_DETAILS_ENDORSMENT_ID] PRIMARY KEY
	CLUSTERED
	(
		[ENDORSMENT_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

