IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_ACTIVITY_RECOVERY_PAYER]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_ACTIVITY_RECOVERY_PAYER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_ACTIVITY_RECOVERY_PAYER](
	[CLAIM_ID] [int] NOT NULL,
	[ACTIVITY_ID] [int] NOT NULL,
	[PAYER_ID] [int] NOT NULL,
	[RECOVERY_TYPE] [int] NULL,
	[RECEIVED_DATE] [datetime] NULL,
	[RECEIVED_FROM] [nvarchar] (50) NULL,
	[CHECK_NUMBER] [nvarchar] (50) NULL,
	[DESCRIPTION] [nvarchar] (300) NULL,
	[IS_ACTIVE] [char] (1) NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_ACTIVITY_RECOVERY_PAYER] ADD CONSTRAINT [PK_CLM_ACTIVITY_RECOVERY_PAYER_CLAIM_ID_ACTIVITY_ID_PAYER_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CLAIM_ID] ASC
		,[ACTIVITY_ID] ASC
		,[PAYER_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_ACTIVITY_RECOVERY_PAYER] ADD CONSTRAINT [FK_CLM_ACTIVITY_RECOVERY_PAYER_CLAIM_ID] FOREIGN KEY
	(
		[CLAIM_ID]
	)
	REFERENCES [dbo].[CLM_CLAIM_INFO]
	(
		[CLAIM_ID]
	) 
GO

ALTER TABLE [dbo].[CLM_ACTIVITY_RECOVERY_PAYER] ADD CONSTRAINT [FK_CLM_ACTIVITY_RECOVERY_PAYER_CLAIM_ID_ACTIVITY_ID] FOREIGN KEY
	(
		[CLAIM_ID],
		[ACTIVITY_ID]
	)
	REFERENCES [dbo].[CLM_ACTIVITY]
	(
		[CLAIM_ID],
		[ACTIVITY_ID]
	) 
GO

