IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_BANK_INFORMATION]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_BANK_INFORMATION]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_BANK_INFORMATION](
	[GL_ID] [int] NOT NULL,
	[ACCOUNT_ID] [int] NOT NULL,
	[BANK_NAME] [nvarchar] (100) NULL,
	[BANK_ADDRESS1] [nvarchar] (150) NULL,
	[BANK_ADDRESS2] [nvarchar] (150) NULL,
	[BANK_CITY] [nvarchar] (40) NULL,
	[BANK_COUNTRY] [nvarchar] (10) NULL,
	[BANK_STATE] [nvarchar] (10) NULL,
	[BANK_ZIP] [nvarchar] (10) NULL,
	[BANK_ACC_TITLE] [nvarchar] (50) NULL,
	[BANK_NUMBER] [nvarchar] (25) NULL,
	[STARTING_DEPOSIT_NUMBER] [int] NULL,
	[IS_CHECK_ISSUED] [nchar] (1) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[CHECK_COUNTER] [int] NULL,
	[END_CHECK_NUMBER] [int] NULL,
	[START_CHECK_NUMBER] [int] NULL,
	[ROUTE_POSITION_CODE1] [nvarchar] (5) NULL,
	[ROUTE_POSITION_CODE2] [nvarchar] (5) NULL,
	[ROUTE_POSITION_CODE3] [nvarchar] (5) NULL,
	[ROUTE_POSITION_CODE4] [nvarchar] (10) NULL,
	[BANK_MICR_CODE] [nvarchar] (19) NULL,
	[SIGN_FILE_1] [nvarchar] (200) NULL,
	[SIGN_FILE_2] [nvarchar] (200) NULL,
	[TRANSIT_ROUTING_NUMBER] [nvarchar] (9) NULL,
	[COMPANY_ID] [nvarchar] (10) NULL,
	[BANK_ID] [smallint] NOT NULL,
	[NUMBER] [nvarchar] (20) NULL,
	[REGISTERED] [int] NULL,
	[STARTING_OUR_NUMBER] [nvarchar] (15) NULL,
	[ENDING_OUR_NUMBER] [nvarchar] (15) NULL,
	[ACCOUNT_TYPE] [int] NULL,
	[AGREEMENT_NUMBER] [nvarchar] (10) NULL,
	[IS_BOLETO_BANK] [nchar] (1) NULL,
	[BRANCH_NUMBER] [nvarchar] (20) NULL,
	[ADD_NUMBER] [nvarchar] (20) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_BANK_INFORMATION] ADD CONSTRAINT [PK_ACT_BANK_INFORMATION_BANK_ID] PRIMARY KEY
	CLUSTERED
	(
		[BANK_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

