IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_WATERCRAFT_PROPERTY_DAMAGED]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_WATERCRAFT_PROPERTY_DAMAGED]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_WATERCRAFT_PROPERTY_DAMAGED](
	[CLAIM_ID] [int] NOT NULL,
	[PROPERTY_DAMAGED_ID] [int] NOT NULL,
	[DESCRIPTION] [nvarchar] (300) NULL,
	[OTHER_VEHICLE] [char] (1) NULL,
	[OTHER_INSURANCE_NAME] [nvarchar] (150) NULL,
	[OTHER_OWNER_NAME] [nvarchar] (150) NULL,
	[ADDRESS1] [nvarchar] (50) NULL,
	[ADDRESS2] [nvarchar] (50) NULL,
	[CITY] [nvarchar] (10) NULL,
	[STATE] [int] NULL,
	[ZIP] [nvarchar] (10) NULL,
	[HOME_PHONE] [nvarchar] (15) NULL,
	[WORK_PHONE] [nvarchar] (15) NULL,
	[IS_ACTIVE] [char] (1) NOT NULL,
	[CREATED_BY] [int] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[CREATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_WATERCRAFT_PROPERTY_DAMAGED] ADD CONSTRAINT [PK_CLM_WATERCRAFT_PROPERTY_DAMAGED_CLAIM_ID_PROPERTY_DAMAGED_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CLAIM_ID] ASC
		,[PROPERTY_DAMAGED_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_WATERCRAFT_PROPERTY_DAMAGED] ADD CONSTRAINT [FK_CLM_WATERCRAFT_PROPERTY_DAMAGED_CLAIM_ID] FOREIGN KEY
	(
		[CLAIM_ID]
	)
	REFERENCES [dbo].[CLM_CLAIM_INFO]
	(
		[CLAIM_ID]
	) 
GO

