IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_TRAN_CODE_GROUP]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_TRAN_CODE_GROUP]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_TRAN_CODE_GROUP](
	[TRAN_GROUP_ID] [smallint] NOT NULL,
	[COUNTRY_ID] [int] NOT NULL,
	[STATE_ID] [smallint] NULL,
	[LOB_ID] [smallint] NOT NULL,
	[SUB_LOB_ID] [smallint] NULL,
	[CLASS_RISK] [int] NULL,
	[TERM] [char] (1) NULL,
	[POLICY_TYPE] [char] (1) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[NEW_BUSINESS] [char] (1) NULL,
	[CHANGE_IN_NEW_BUSINESS] [char] (1) NULL,
	[RENEWAL] [char] (1) NULL,
	[CHANGE_IN_RENEWAL] [char] (1) NULL,
	[REINSTATE_SAME_TERM] [char] (1) NULL,
	[REINSTATE_NEW_TERM] [char] (1) NULL,
	[CANCELLATION] [char] (1) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_TRAN_CODE_GROUP] ADD CONSTRAINT [PK_ACT_TRAN_CODE_GROUP_GROUP_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[TRAN_GROUP_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

