IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_UMBRELLA_RATING_INFO]') AND type in (N'U'))
DROP TABLE [dbo].[POL_UMBRELLA_RATING_INFO]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_UMBRELLA_RATING_INFO](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[DWELLING_ID] [smallint] NOT NULL,
	[HYDRANT_DIST] [real] NULL,
	[FIRE_STATION_DIST] [real] NULL,
	[IS_UNDER_CONSTRUCTION] [char] (1) NULL,
	[EXPERIENCE_CREDIT] [char] (1) NULL,
	[IS_AUTO_POL_WITH_CARRIER] [char] (1) NULL,
	[PERSONAL_LIAB_TER_CODE] [nvarchar] (50) NULL,
	[PROT_CLASS] [nvarchar] (50) NULL,
	[RATING_METHOD] [int] NULL,
	[NO_OF_FAMILIES] [smallint] NULL,
	[EXTERIOR_CONSTRUCTION] [int] NULL,
	[EXTERIOR_OTHER_DESC] [nvarchar] (250) NULL,
	[FOUNDATION] [int] NULL,
	[FOUNDATION_OTHER_DESC] [nvarchar] (250) NULL,
	[ROOF_TYPE] [int] NULL,
	[ROOF_OTHER_DESC] [nvarchar] (250) NULL,
	[PRIMARY_HEAT_TYPE] [int] NULL,
	[SECONDARY_HEAT_TYPE] [int] NULL,
	[MONTH_OCC_EACH_YEAR] [smallint] NULL,
	[ADD_COVERAGE_INFO] [nvarchar] (250) NULL,
	[IS_OUTSIDE_STAIR] [char] (1) NULL,
	[TOT_SQR_FOOTAGE] [real] NULL,
	[GARAGE_SQR_FOOTAGE] [real] NULL,
	[BREEZE_SQR_FOOTAGE] [real] NULL,
	[BASMT_SQR_FOOTAGE] [real] NULL,
	[WIRING_RENOVATION] [int] NULL,
	[WIRING_UPDATE_YEAR] [smallint] NULL,
	[PLUMBING_RENOVATION] [int] NULL,
	[PLUMBING_UPDATE_YEAR] [smallint] NULL,
	[HEATING_RENOVATION] [int] NULL,
	[HEATING_UPDATE_YEAR] [smallint] NULL,
	[ROOFING_RENOVATION] [int] NULL,
	[ROOFING_UPDATE_YEAR] [smallint] NULL,
	[NO_OF_AMPS] [smallint] NULL,
	[CIRCUIT_BREAKERS] [nvarchar] (5) NULL,
	[PROTECTIVE_DEVICES] [nvarchar] (500) NULL,
	[TEMPERATURE] [nvarchar] (100) NULL,
	[SMOKE] [nvarchar] (100) NULL,
	[BURGLAR] [nvarchar] (100) NULL,
	[FIRE_PLACES] [nchar] (1) NULL,
	[NO_OF_WOOD_STOVES] [smallint] NULL,
	[SWIMMING_POOL] [nchar] (1) NULL,
	[SWIMMING_POOL_TYPE] [int] NULL,
	[SECONDARY_HEAT_OTHER_DESC] [nvarchar] (250) NULL,
	[PRIMARY_HEAT_OTHER_DESC] [nvarchar] (250) NULL,
	[DWELLING_CONST_DATE] [datetime] NULL,
	[CENT_ST_BURG_FIRE] [char] (1) NULL,
	[CENT_ST_FIRE] [char] (1) NULL,
	[CENT_ST_BURG] [char] (1) NULL,
	[DIR_FIRE_AND_POLICE] [char] (1) NULL,
	[DIR_FIRE] [char] (1) NULL,
	[DIR_POLICE] [char] (1) NULL,
	[LOC_FIRE_GAS] [char] (1) NULL,
	[TWO_MORE_FIRE] [char] (1) NULL,
	[CONSTRUCTION_CODE] [nvarchar] (250) NULL,
	[NUM_LOC_ALARMS_APPLIES] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_UMBRELLA_RATING_INFO] ADD CONSTRAINT [PK_POL_UMBRELLA_RATING_INFO_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_DWELLING_ID] PRIMARY KEY
	CLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[DWELLING_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_UMBRELLA_RATING_INFO] ADD CONSTRAINT [FK_POL_UMBRELLA_RATING_INFO_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_DWELLING_ID_POL_UMBRELLA_DWELLINGS_INFO] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[DWELLING_ID]
	)
	REFERENCES [dbo].[POL_UMBRELLA_DWELLINGS_INFO]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[DWELLING_ID]
	) 
GO

