IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_LANGUAGE_MASTER]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_LANGUAGE_MASTER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_LANGUAGE_MASTER](
	[LANG_ID] [int] NOT NULL,
	[LANG_CODE] [nvarchar] (10) NOT NULL,
	[LANG_NAME] [nvarchar] (30) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_LANGUAGE_MASTER] ADD CONSTRAINT [PK_MNT_LANGUAGE_MASTER_LANG_ID] PRIMARY KEY
	CLUSTERED
	(
		[LANG_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

