IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_TYPE_MASTER]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_TYPE_MASTER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_TYPE_MASTER](
	[TYPE_ID] [int] NOT NULL,
	[TYPE_DESCRIPTION] [nvarchar] (100) NULL,
	[IS_ACTIVE] [char] (1) NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_TYPE_MASTER] ADD CONSTRAINT [PK_CLM_TYPE_MASTER_TYPE_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[TYPE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
		,FILLFACTOR = 90
	) ON [PRIMARY]
GO

