IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_CONTACT_LIST]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_CONTACT_LIST]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_CONTACT_LIST](
	[CONTACT_ID] [int] NOT NULL IDENTITY (1,1),
	[CONTACT_CODE] [nvarchar] (20) NULL,
	[CONTACT_TYPE_ID] [smallint] NULL,
	[CONTACT_SALUTATION] [nvarchar] (20) NULL,
	[CONTACT_POS] [nvarchar] (500) NULL,
	[INDIVIDUAL_CONTACT_ID] [int] NULL,
	[CONTACT_FNAME] [nvarchar] (75) NULL,
	[CONTACT_MNAME] [nvarchar] (15) NULL,
	[CONTACT_LNAME] [nvarchar] (75) NULL,
	[CONTACT_ADD1] [nvarchar] (70) NULL,
	[CONTACT_ADD2] [nvarchar] (70) NULL,
	[CONTACT_CITY] [nvarchar] (40) NULL,
	[CONTACT_STATE] [nvarchar] (5) NULL,
	[CONTACT_ZIP] [nvarchar] (11) NULL,
	[CONTACT_COUNTRY] [nvarchar] (25) NULL,
	[CONTACT_BUSINESS_PHONE] [nvarchar] (20) NULL,
	[CONTACT_EXT] [nvarchar] (5) NULL,
	[CONTACT_FAX] [nvarchar] (20) NULL,
	[CONTACT_MOBILE] [nvarchar] (20) NULL,
	[CONTACT_EMAIL] [nvarchar] (50) NULL,
	[CONTACT_PAGER] [nvarchar] (20) NULL,
	[CONTACT_HOME_PHONE] [nvarchar] (20) NULL,
	[CONTACT_TOLL_FREE] [nvarchar] (20) NULL,
	[CONTACT_NOTE] [nvarchar] (256) NULL,
	[CONTACT_AGENCY_ID] [int] NULL,
	[CONTACT_EXISTENCE_AS] [nvarchar] (20) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[DATE_OF_BIRTH] [datetime] NULL,
	[REGIONAL_IDENTIFICATION] [nvarchar] (40) NULL,
	[REG_ID_ISSUE_DATE] [datetime] NULL,
	[ACTIVITY] [int] NULL,
	[REG_ID_ISSUE] [nvarchar] (40) NULL,
	[CPF_CNPJ] [nvarchar] (40) NULL,
	[NUMBER] [nvarchar] (40) NULL,
	[DISTRICT] [nvarchar] (40) NULL,
	[REGIONAL_ID_TYPE] [nvarchar] (100) NULL,
	[NATIONALITY] [nvarchar] (100) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_CONTACT_LIST] ADD CONSTRAINT [PK_MNT_CONTACT_LIST_CONTACT_ID] PRIMARY KEY
	CLUSTERED
	(
		[CONTACT_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

