IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MEL_EVENTOS_POLICY_EXCLUSION]') AND type in (N'U'))
DROP TABLE [dbo].[MEL_EVENTOS_POLICY_EXCLUSION]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MEL_EVENTOS_POLICY_EXCLUSION](
	[ROW_ID] [int] NOT NULL IDENTITY (1,1),
	[POLICY_NO] [varchar] (25) NULL,
	[DATE] [datetime] NULL,
	[CUSTOMER_ID] [int] NULL,
	[POLICY_ID] [int] NULL,
	[IS_ACTIVE] [varchar] (2) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MEL_EVENTOS_POLICY_EXCLUSION] ADD CONSTRAINT [PK__MEL_EVEN__68DB447D7A606339] PRIMARY KEY
	CLUSTERED
	(
		[ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

