IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_CIVIL_TRANSPORT_VEHICLES]') AND type in (N'U'))
DROP TABLE [dbo].[POL_CIVIL_TRANSPORT_VEHICLES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_CIVIL_TRANSPORT_VEHICLES](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[VEHICLE_ID] [int] NOT NULL,
	[CLIENT_ORDER] [numeric] (10,0) NULL,
	[VEHICLE_NUMBER] [numeric] (10,0) NULL,
	[MANUFACTURED_YEAR] [numeric] (18,0) NOT NULL,
	[FIPE_CODE] [nvarchar] (20) NULL,
	[CATEGORY] [int] NULL,
	[CAPACITY] [nvarchar] (3) NULL,
	[MAKE_MODEL] [nvarchar] (50) NULL,
	[LICENSE_PLATE] [nvarchar] (7) NULL,
	[CHASSIS] [nvarchar] (25) NULL,
	[MANDATORY_DEDUCTIBLE] [numeric] (18,0) NULL,
	[FACULTATIVE_DEDUCTIBLE] [numeric] (18,0) NULL,
	[SUB_BRANCH] [int] NULL,
	[RISK_EFFECTIVE_DATE] [datetime] NOT NULL,
	[RISK_EXPIRE_DATE] [datetime] NOT NULL,
	[REGION] [int] NULL,
	[COV_GROUP_CODE] [nvarchar] (15) NULL,
	[FINANCE_ADJUSTMENT] [nvarchar] (50) NULL,
	[REFERENCE_PROPOSASL] [nvarchar] (50) NULL,
	[REMARKS] [nvarchar] (4000) NULL,
	[IS_ACTIVE] [nchar] (1) NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[CREATED_DATETIME] [datetime] NOT NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[VEHICLE_PLAN_ID] [int] NULL,
	[VEHICLE_MAKE] [nvarchar] (50) NULL,
	[CO_APPLICANT_ID] [int] NULL CONSTRAINT [DF_POL_CIVIL_TRANSPORT_VEHICLES_CO_APPLICANT_ID] DEFAULT ((0)),
	[TICKET_NUMBER] [int] NULL,
	[STATE_ID] [int] NULL,
	[ZIP_CODE] [nvarchar] (10) NULL,
	[ORIGINAL_VERSION_ID] [int] NULL,
	[CO_RISK_ID] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_CIVIL_TRANSPORT_VEHICLES] ADD CONSTRAINT [PK_POL_CIVIL_TRANSPORT_VEHICLES_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_VEHICLE_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[VEHICLE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_CIVIL_TRANSPORT_VEHICLES] WITH NOCHECK ADD CONSTRAINT [FK_POL_CIVIL_TRANSPORT_VEHICLES_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

