IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EOD_EFT_SPOOL]') AND type in (N'U'))
DROP TABLE [dbo].[EOD_EFT_SPOOL]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[EOD_EFT_SPOOL](
	[IDEN_ROW_ID] [int] NOT NULL IDENTITY (1,1),
	[ENTITY_ID] [int] NOT NULL,
	[ENTITY_TYPE] [nvarchar] (10) NULL,
	[POLICY_NUMBER] [nvarchar] (15) NULL,
	[POLICY_ID] [int] NULL,
	[POLICY_VERSION_ID] [smallint] NULL,
	[REF_CHECK_ID] [int] NULL,
	[REF_DEPOSIT_ID] [int] NULL,
	[REF_DEP_DETAIL_ID] [int] NULL,
	[TRANSACTION_AMOUNT] [decimal] (18,2) NULL,
	[TRANSACTION_CODE] [char] (2) NULL,
	[ACC_TRAN_REQUIRED] [char] (1) NULL,
	[ACCOUNT_TO_USE] [smallint] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[PROCESSED] [char] (1) NULL,
	[ERROR_DESCRIPTION] [nvarchar] (200) NULL,
	[PROCESSED_DATETIME] [datetime] NULL,
	[NACHA_RETURN_STATUS] [nvarchar] (10) NULL,
	[BATCH_NUMBER] [int] NULL,
	[BRICS_TRAN_TYPE] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[EOD_EFT_SPOOL] ADD CONSTRAINT [PK_EOD_EFT_SPOOL_IDEN_ROW_ID] PRIMARY KEY
	CLUSTERED
	(
		[IDEN_ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

