IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_HOME_OWNER_PER_ART_GEN_INFO]') AND type in (N'U'))
DROP TABLE [dbo].[POL_HOME_OWNER_PER_ART_GEN_INFO]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_HOME_OWNER_PER_ART_GEN_INFO](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[PROPERTY_EXHIBITED] [nchar] (1) NULL,
	[DESC_PROPERTY_EXHIBITED] [nvarchar] (255) NULL,
	[DEDUCTIBLE_APPLY] [nchar] (1) NULL,
	[DESC_DEDUCTIBLE_APPLY] [nvarchar] (255) NULL,
	[PROPERTY_USE_PROF_COMM] [nchar] (1) NULL,
	[OTHER_INSU_WITH_COMPANY] [nchar] (1) NULL,
	[DESC_INSU_WITH_COMPANY] [nvarchar] (255) NULL,
	[LOSS_OCCURED_LAST_YEARS] [nchar] (1) NULL,
	[DESC_LOSS_OCCURED_LAST_YEARS] [nvarchar] (255) NULL,
	[DECLINED_CANCELED_COVERAGE] [nchar] (1) NULL,
	[ADD_RATING_COV_INFO] [nvarchar] (255) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[DESC_PROPERTY_USE_PROF_COMM] [nvarchar] (255) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_HOME_OWNER_PER_ART_GEN_INFO] ADD CONSTRAINT [PK_POL_HOME_OWNER_PER_ART_GEN_INFO_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_HOME_OWNER_PER_ART_GEN_INFO] WITH NOCHECK ADD CONSTRAINT [FK_POL_HOME_OWNER_PER_ART_GEN_INFO_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

