IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_ACTIVITY_CO_RI_BREAKDOWN]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_ACTIVITY_CO_RI_BREAKDOWN]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_ACTIVITY_CO_RI_BREAKDOWN](
	[CLAIM_ID] [int] NOT NULL,
	[ACTIVITY_ID] [int] NOT NULL,
	[RESERVE_ID] [int] NOT NULL,
	[BREAKDOWN_ID] [int] NOT NULL,
	[COMP_TYPE] [char] (2) NOT NULL,
	[COMP_ID] [int] NULL,
	[COMP_PERCENTAGE] [decimal] (10,4) NULL,
	[RESERVE_AMT] [decimal] (18,2) NOT NULL,
	[PAYMENT_AMT] [decimal] (18,2) NOT NULL,
	[IS_ACTIVE] [char] (1) NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[TRAN_RESERVE_AMT] [decimal] (18,2) NOT NULL CONSTRAINT [DF_CLM_ACTIVITY_CO_RI_BREAKDOWN_TRAN_RESERVE_AMT] DEFAULT ((0)),
	[RECOVERY_AMT] [decimal] (18,2) NOT NULL CONSTRAINT [DF_CLM_ACTIVITY_CO_RI_BREAKDOWN_RECOVERY_AMT] DEFAULT ((0)),
	[IS_COMMISSION_PROCESS] [nvarchar] (2) NULL,
	[IS_PAID_TO_PAGNET] [varchar] (2) NULL,
	[PAGNET_DATE] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_ACTIVITY_CO_RI_BREAKDOWN] ADD CONSTRAINT [PK_CLM_ACTIVITY_CO_RI_BREAKDOWN_CLAIM_ID_ACTIVITY_ID_RESERVE_BREAKDOWN_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CLAIM_ID] ASC
		,[ACTIVITY_ID] ASC
		,[RESERVE_ID] ASC
		,[BREAKDOWN_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_ACTIVITY_CO_RI_BREAKDOWN] ADD CONSTRAINT [FK_CLM_ACTIVITY_CO_RI_BREAKDOWN_CLAIM_ID_ACTIVITY_ID] FOREIGN KEY
	(
		[CLAIM_ID],
		[ACTIVITY_ID]
	)
	REFERENCES [dbo].[CLM_ACTIVITY]
	(
		[CLAIM_ID],
		[ACTIVITY_ID]
	) 
GO

ALTER TABLE [dbo].[CLM_ACTIVITY_CO_RI_BREAKDOWN] ADD CONSTRAINT [FK_CLM_ACTIVITY_CO_RI_BREAKDOWN_CLAIM_ID_ACTIVITY_ID_RESERVE_ID] FOREIGN KEY
	(
		[CLAIM_ID],
		[RESERVE_ID]
	)
	REFERENCES [dbo].[CLM_ACTIVITY_RESERVE]
	(
		[CLAIM_ID],
		[RESERVE_ID]
	) 
GO

