IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_MENU_LIST]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_MENU_LIST]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_MENU_LIST](
	[MENU_ID] [int] NOT NULL,
	[PARENT_ID] [int] NULL,
	[MENU_NAME] [nvarchar] (75) NULL,
	[MENU_LINK] [nvarchar] (4000) NULL,
	[MENU_TOOLTIP] [nvarchar] (50) NULL,
	[NESTLEVEL] [int] NULL,
	[MENU_ORDER] [int] NULL,
	[HASCHILD] [bit] NULL,
	[SHOWTYPE] [bit] NULL,
	[HIDESTATUS] [nvarchar] (10) NULL,
	[ISSECURITY] [bit] NULL,
	[LANGID] [numeric] (18,0) NULL,
	[MENU_IMAGE] [nvarchar] (225) NULL,
	[DEFAULT_PAGE] [nvarchar] (225) NULL,
	[MODULE_NAME] [nvarchar] (10) NULL,
	[AGENCY_LEVEL] [smallint] NULL,
	[LOB_CODE] [nvarchar] (20) NULL,
	[IS_ACTIVE] [char] (1) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_MENU_LIST] ADD CONSTRAINT [PK_MNT_MENU_LIST_MENU_ID] PRIMARY KEY
	CLUSTERED
	(
		[MENU_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

