IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_LOB_DESC]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_LOB_DESC]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_LOB_DESC](
	[ASLOB_ID] [int] NOT NULL,
	[CATEGORY_DESC] [varchar] (100) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_LOB_DESC] ADD CONSTRAINT [PK_MNT_LOB_DESC_ASLOB_ID] PRIMARY KEY
	CLUSTERED
	(
		[ASLOB_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

