IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_ACTIVITY]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_ACTIVITY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_ACTIVITY](
	[CLAIM_ID] [int] NOT NULL,
	[ACTIVITY_ID] [int] NOT NULL,
	[ACTIVITY_DATE] [datetime] NOT NULL,
	[ACTIVITY_REASON] [int] NOT NULL,
	[REASON_DESCRIPTION] [nvarchar] (500) NULL,
	[IS_ACTIVE] [char] (1) NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[RESERVE_AMOUNT] [decimal] (18,2) NULL CONSTRAINT [DF_CLM_ACTIVITY_RESERVE_AMOUNT] DEFAULT ((0)),
	[PAYMENT_AMOUNT] [decimal] (18,2) NULL CONSTRAINT [DF_CLM_ACTIVITY_PAYMENT_AMOUNT] DEFAULT ((0)),
	[PAYEE_PARTIES_ID] [nvarchar] (200) NULL,
	[ACTIVITY_STATUS] [int] NULL,
	[EXPENSES] [decimal] (18,2) NULL CONSTRAINT [DF_CLM_ACTIVITY_EXPENSES] DEFAULT ((0)),
	[DESCRIPTION] [nvarchar] (255) NULL,
	[RECOVERY] [decimal] (18,2) NULL CONSTRAINT [DF_CLM_ACTIVITY_RECOVERY] DEFAULT ((0)),
	[RESERVE_TRAN_CODE] [int] NULL,
	[CLAIM_RESERVE_AMOUNT] [decimal] (18,2) NULL CONSTRAINT [DF_CLM_ACTIVITY_CLAIM_RESERVE_AMOUNT] DEFAULT ((0)),
	[RI_RESERVE] [decimal] (18,2) NULL CONSTRAINT [DF_CLM_ACTIVITY_RI_RESERVE] DEFAULT ((0)),
	[ACTION_ON_PAYMENT] [int] NULL,
	[CHECK_ID] [int] NULL,
	[CLAIM_PAYMENT_AMOUNT] [decimal] (18,2) NULL CONSTRAINT [DF_CLM_ACTIVITY_CLAIM_PAYMENT_AMOUNT] DEFAULT ((0)),
	[CLAIM_RI_RESERVE] [decimal] (18,2) NULL CONSTRAINT [DF_CLM_ACTIVITY_CLAIM_RI_RESERVE] DEFAULT ((0)),
	[LOSS_REINSURANCE_RECOVERED] [decimal] (18,2) NULL CONSTRAINT [DF_CLM_ACTIVITY_LOSS_REINSURANCE_RECOVERED] DEFAULT ((0)),
	[EXPENSE_REINSURANCE_RECOVERED] [decimal] (18,2) NULL CONSTRAINT [DF_CLM_ACTIVITY_EXPENSE_REINSURANCE_RECOVERED] DEFAULT ((0)),
	[ESTIMATION_RECOVERY] [decimal] (18,2) NULL CONSTRAINT [DF_CLM_ACTIVITY_ESTIMATION_RECOVERY] DEFAULT ((0)),
	[ESTIMATION_EXPENSES] [decimal] (18,2) NULL CONSTRAINT [DF_CLM_ACTIVITY_ESTIMATION_EXPENSES] DEFAULT ((0)),
	[COMPLETED_DATE] [datetime] NULL,
	[VOIDED_DATE] [datetime] NULL,
	[DEACTIVATED_DATE] [datetime] NULL,
	[ACCOUNTING_SUPPRESSED] [bit] NULL,
	[IS_VOIDED_REVERSED_ACTIVITY] [int] NULL,
	[CO_TOTAL_RESERVE_AMT] [decimal] (18,2) NULL CONSTRAINT [DF_CLM_ACTIVITY_CO_TOTAL_RESERVE_AMT] DEFAULT ((0)),
	[CO_TRAN_RESERVE_AMT] [decimal] (18,2) NULL CONSTRAINT [DF_CLM_ACTIVITY_CO_TRAN_RESERVE_AMT] DEFAULT ((0)),
	[TOTAL_EXPENSE] [decimal] (18,2) NOT NULL CONSTRAINT [DF_CLM_ACTIVITY_TOTAL_EXPENSE] DEFAULT ((0)),
	[TOTAL_RECOVERY] [decimal] (18,2) NOT NULL CONSTRAINT [DF_CLM_ACTIVITY_TOTAL_RECOVERY] DEFAULT ((0)),
	[IS_LEGAL] [char] (1) NULL,
	[RI_NET_PAID_RESERVE] [decimal] (18,2) NOT NULL CONSTRAINT [DF_CLM_ACTIVITY_RI_NET_PAID_RESERVE] DEFAULT ((0)),
	[COI_NET_PAID_RESERVE] [decimal] (18,2) NOT NULL CONSTRAINT [DF_CLM_ACTIVITY_COI_NET_PAID_RESERVE] DEFAULT ((0)),
	[COI_TRAN_TYPE] [int] NULL,
	[CLAIM_STATUS] [int] NULL,
	[TEXT_ID] [int] NULL,
	[TEXT_DESCRIPTION] [nvarchar] (2000) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_ACTIVITY] ADD CONSTRAINT [PK_CLM_ACTIVITY_CLAIM_ID_PROPERTY_ACTIVITY_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CLAIM_ID] ASC
		,[ACTIVITY_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
		,FILLFACTOR = 90
	) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IDX_CLM_ACTIVITY_COLS_1_11_2_29_21] ON [dbo].[CLM_ACTIVITY]
(
	[CLAIM_ID] ASC,
	[ACTIVITY_STATUS] ASC,
	[ACTIVITY_ID] ASC,
	[COMPLETED_DATE] ASC,
	[ACTION_ON_PAYMENT] ASC
)WITH (FILLFACTOR=90)ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IDX_CLM_ACTIVITY_COLS_1_21_11_29] ON [dbo].[CLM_ACTIVITY]
(
	[CLAIM_ID] ASC,
	[ACTION_ON_PAYMENT] ASC,
	[ACTIVITY_STATUS] ASC,
	[COMPLETED_DATE] ASC
)WITH (FILLFACTOR=90)ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IDX_CLM_ACTIVITY_COLS_1_21_11_29_2] ON [dbo].[CLM_ACTIVITY]
(
	[CLAIM_ID] ASC,
	[ACTION_ON_PAYMENT] ASC,
	[ACTIVITY_STATUS] ASC,
	[COMPLETED_DATE] ASC,
	[ACTIVITY_ID] ASC
)WITH (FILLFACTOR=90)ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IDX_CLM_ACTIVITY_COLS_11_21_2_1_29] ON [dbo].[CLM_ACTIVITY]
(
	[ACTIVITY_STATUS] ASC,
	[ACTION_ON_PAYMENT] ASC,
	[ACTIVITY_ID] ASC,
	[CLAIM_ID] ASC,
	[COMPLETED_DATE] ASC
)WITH (FILLFACTOR=90)ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [IDX_CLM_ACTIVITY_COLS_29D_21_11_1_2] ON [dbo].[CLM_ACTIVITY]
(
	[COMPLETED_DATE] DESC,
	[ACTION_ON_PAYMENT] ASC,
	[ACTIVITY_STATUS] ASC,
	[CLAIM_ID] ASC,
	[ACTIVITY_ID] ASC
)WITH (FILLFACTOR=90)ON [PRIMARY]
GO

