IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHECK_DETAILS_1099]') AND type in (N'U'))
DROP TABLE [dbo].[CHECK_DETAILS_1099]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CHECK_DETAILS_1099](
	[FORM_1099_ID] [int] NOT NULL,
	[REF_ID] [int] NULL,
	[PROCESSED_DATE] [datetime] NULL,
	[REF_TYPE] [nvarchar] (10) NULL
) ON [PRIMARY]
GO

