IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TODOLIST]') AND type in (N'U'))
DROP TABLE [dbo].[TODOLIST]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[TODOLIST](
	[LISTID] [bigint] NOT NULL IDENTITY (1,1),
	[RECBYSYSTEM] [nchar] (1) NULL,
	[RECDATE] [datetime] NULL,
	[FOLLOWUPDATE] [datetime] NULL,
	[LISTTYPEID] [numeric] (18,0) NULL,
	[POLICYBROKERID] [numeric] (8,0) NULL,
	[SUBJECTLINE] [nvarchar] (512) NULL,
	[LISTOPEN] [nchar] (1) NULL,
	[SYSTEMFOLLOWUPID] [numeric] (18,0) NULL,
	[PRIORITY] [nchar] (1) NULL,
	[TOUSERID] [numeric] (18,0) NULL,
	[FROMUSERID] [numeric] (18,0) NULL,
	[STARTTIME] [datetime] NULL,
	[ENDTIME] [datetime] NULL,
	[NOTE] [nvarchar] (2000) NULL,
	[PROPOSALVERSION] [numeric] (18,0) NULL,
	[QUOTEID] [numeric] (18,0) NULL,
	[CLAIMID] [int] NULL,
	[CLAIMMOVEMENTID] [numeric] (18,0) NULL,
	[TOENTITYID] [numeric] (10,0) NULL,
	[FROMENTITYID] [int] NULL,
	[CUSTOMER_ID] [int] NULL,
	[APP_ID] [int] NULL,
	[APP_VERSION_ID] [smallint] NULL,
	[POLICY_ID] [int] NULL,
	[POLICY_VERSION_ID] [smallint] NULL,
	[RULES_VERIFIED] [smallint] NULL,
	[PROCESS_ROW_ID] [int] NULL,
	[MODULE_ID] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TODOLIST] ADD CONSTRAINT [PK_TODOLIST_LISTID] PRIMARY KEY
	NONCLUSTERED
	(
		[LISTID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TODOLIST] ADD CONSTRAINT [FK_LISTTYPEID_TODOLIST] FOREIGN KEY
	(
		[LISTTYPEID]
	)
	REFERENCES [dbo].[TODOLISTTYPES]
	(
		[TYPEID]
	) 
GO

