IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLT_CUSTOMER_FAX]') AND type in (N'U'))
DROP TABLE [dbo].[CLT_CUSTOMER_FAX]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLT_CUSTOMER_FAX](
	[CUSTOMER_ID] [int] NOT NULL,
	[FAX_NUMBER] [nvarchar] (40) NULL,
	[FAX_FROM_NAME] [nvarchar] (100) NULL,
	[FAX_FROM] [nvarchar] (100) NULL,
	[FAX_TO] [nvarchar] (100) NULL,
	[FAX_RECIPIENTS] [nvarchar] (2000) NULL,
	[FAX_SUBJECT] [nvarchar] (255) NULL,
	[FAX_REFERENCE] [nvarchar] (200) NULL,
	[FAX_BODY] [nvarchar] (4000) NULL,
	[FAX_ATTACH_PATH] [nvarchar] (255) NULL,
	[FAX_SEND_DATE] [datetime] NULL,
	[FAX_RETURN_CODE] [nvarchar] (8) NULL,
	[FAX_Row_Id] [int] NOT NULL IDENTITY (1,1),
	[DIARY_ITEM_REQ] [char] (1) NULL,
	[FOLLOW_UP_DATE] [datetime] NULL,
	[DIARY_ITEM_TO] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLT_CUSTOMER_FAX] ADD CONSTRAINT [PK_CLT_CUSTOMER_FAX_FAX_ROW_ID] PRIMARY KEY
	CLUSTERED
	(
		[FAX_Row_Id] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

