IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_UMBRELLA_UNDERLYING_POLICIES]') AND type in (N'U'))
DROP TABLE [dbo].[POL_UMBRELLA_UNDERLYING_POLICIES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_UMBRELLA_UNDERLYING_POLICIES](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[POLICY_NUMBER] [nvarchar] (75) NULL,
	[POLICY_LOB] [nvarchar] (25) NULL,
	[POLICY_COMPANY] [nvarchar] (150) NULL,
	[POLICY_TERMS] [nvarchar] (5) NULL,
	[POLICY_START_DATE] [datetime] NULL,
	[POLICY_EXPIRATION_DATE] [datetime] NULL,
	[POLICY_PREMIUM] [decimal] (18,0) NULL,
	[QUESTION] [nchar] (1) NULL,
	[QUES_DESC] [nvarchar] (125) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[IS_POLICY] [bit] NULL,
	[STATE_ID] [smallint] NULL,
	[EXCLUDE_UNINSURED_MOTORIST] [int] NULL,
	[HAS_MOTORIST_PROTECTION] [int] NULL,
	[HAS_SIGNED_A9] [int] NULL,
	[LOWER_LIMITS] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_UMBRELLA_UNDERLYING_POLICIES] ADD CONSTRAINT [PK_POL_UMBRELLA_UNDERLYING_POLICIES_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] PRIMARY KEY
	CLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
		,FILLFACTOR = 90
	) ON [PRIMARY]
GO

