IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_COUNTRY_LIST]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_COUNTRY_LIST]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_COUNTRY_LIST](
	[COUNTRY_ID] [int] NOT NULL,
	[COUNTRY_CODE] [nvarchar] (10) NULL,
	[COUNTRY_NAME] [nvarchar] (255) NULL,
	[COUNTRY_DESC] [nvarchar] (255) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[DISPLAY_ALL] [bit] NULL,
	[IS_ACTIVE] [char] (1) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_COUNTRY_LIST] ADD CONSTRAINT [PK_MNT_COUNTRY_LIST_COUNTRY_ID] PRIMARY KEY
	CLUSTERED
	(
		[COUNTRY_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

