IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_POLICY_ENDORSEMENTS_DETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[POL_POLICY_ENDORSEMENTS_DETAILS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_POLICY_ENDORSEMENTS_DETAILS](
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[ENDORSEMENT_NO] [int] NOT NULL,
	[ENDORSEMENT_DETAIL_ID] [int] NOT NULL,
	[ENDORSEMENT_DATE] [datetime] NULL,
	[ENDORSEMENT_TYPE] [int] NULL,
	[ENDORSEMENT_DESC] [nvarchar] (30) NULL,
	[REMARKS] [nvarchar] (150) NULL,
	[IS_ACTIVE] [char] (1) NULL,
	[CREATED_BY] [smallint] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [smallint] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[TRANS_ID] [nvarchar] (100) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_POLICY_ENDORSEMENTS_DETAILS] ADD CONSTRAINT [PK_POL_POLICY_ENDORSEMENTS_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID_ENDORSEMENT_NO_ENDORSEMENT_DETAIL_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[ENDORSEMENT_NO] ASC
		,[ENDORSEMENT_DETAIL_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_POLICY_ENDORSEMENTS_DETAILS] WITH NOCHECK ADD CONSTRAINT [FK_POL_POLICY_ENDORSEMENTS_DETAILS_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

