IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_REIN_AGGREGATE_STOP_LOSS]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_REIN_AGGREGATE_STOP_LOSS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_REIN_AGGREGATE_STOP_LOSS](
	[AGGREGATE_ID] [int] NOT NULL,
	[CONTRACT_ID] [int] NULL,
	[REINSURANCE_COMPANY] [nvarchar] (150) NULL,
	[REINSURANCE_ACC_NUMBER] [nvarchar] (50) NULL,
	[EFFECTIVE_DATE] [datetime] NULL,
	[EXPIRATION_DATE] [datetime] NULL,
	[LINE_OF_BUSINESS] [int] NULL,
	[COVERAGE_CODE] [int] NULL,
	[CLASS_CODE] [int] NULL,
	[PERIL] [int] NULL,
	[STATED_AMOUNT] [decimal] (18,0) NULL,
	[SPECIFIC_LOSS_RATIO] [decimal] (18,0) NULL,
	[IS_ACTIVE] [char] (1) NULL,
	[CREATED_BY] [smallint] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [smallint] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_REIN_AGGREGATE_STOP_LOSS] ADD CONSTRAINT [PK_MNT_REIN_AGGREGATE_STOP_LOSS_AGGREGATE_ID] PRIMARY KEY
	CLUSTERED
	(
		[AGGREGATE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_REIN_AGGREGATE_STOP_LOSS] ADD CONSTRAINT [FK_MNT_REIN_AGGREGATE_STOP_LOSS_MNT_REINSURANCE_CONTRACT_CONTRACT_ID] FOREIGN KEY
	(
		[CONTRACT_ID]
	)
	REFERENCES [dbo].[MNT_REINSURANCE_CONTRACT]
	(
		[CONTRACT_ID]
	) 
GO

