IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OLE DB Destination_test1]') AND type in (N'U'))
DROP TABLE [dbo].[OLE DB Destination_test1]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[OLE DB Destination_test1](
	[Column 0] [varchar] (5000) NULL,
	[POLICY_LOB] [bigint] NULL,
	[POLICY_SUBLOB] [bigint] NULL,
	[SUSEP_LEADER_CODE] [int] NULL,
	[APPLICANT_NAME] [nvarchar] (250) NULL,
	[CPF_CNPJ] [nvarchar] (250) NULL,
	[COINSURENCE_TRANSACTION_ID] [nvarchar] (13) NULL,
	[BROKER_CODE] [bigint] NULL,
	[COINSURENCE_SHARE_PERCENTAGE] [decimal] (28,2) NULL,
	[TOTAL_COMMISSION_PERCENTAGE] [decimal] (28,2) NULL,
	[DISCOUNT_PERCENTAGE] [decimal] (28,2) NULL,
	[SUM_COVERAGE_INSURED] [decimal] (28,2) NULL,
	[TRANSACTION_TYPE] [bigint] NULL,
	[LEADER_POLICY_NUMBER] [nvarchar] (20) NULL,
	[LEADER_ENDORSEMENT_NUMBER] [nvarchar] (10) NULL,
	[ENDORSEMENT_COMMIT_DATE] [datetime] NULL,
	[ENDORSEMENT_EFFECTIVE_DATE] [datetime] NULL,
	[ENDORSEMENT_EXPIRE_DATE] [datetime] NULL,
	[INSTALLMENT_NO] [bigint] NULL,
	[POLICY_CURRENCY] [bigint] NULL,
	[POLICY_CURRENCY_EXCHANGE_RATE_DATE] [datetime] NULL,
	[INSTALLMENT_AMOUNT1] [decimal] (28,2) NULL,
	[DISCOUNT_AMOUNT_PER_INSTALLMENT1] [decimal] (28,2) NULL,
	[INTREST_AMOUNT_PER_INSTALLMENT1] [decimal] (28,2) NULL,
	[COMMISSION_AMOUNT_PER_INSTALLMENT1] [decimal] (28,2) NULL,
	[INSTALLMENT_DUE_DATE1] [datetime] NULL,
	[INSTALLMENT_NO1] [bigint] NULL,
	[INSTALLMENT_AMOUNT2] [decimal] (28,2) NULL,
	[DISCOUNT_AMOUNT_PER_INSTALLMENT2] [decimal] (28,2) NULL,
	[INTREST_AMOUNT_PER_INSTALLMENT2] [int] NULL,
	[COMMISSION_AMOUNT_PER_INSTALLMENT2] [decimal] (28,0) NULL,
	[INSTALLMENT_DUE_DATE2] [datetime] NULL,
	[INSTALLMENT_NO2] [bigint] NULL
) ON [PRIMARY]
GO

