IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLT_QUICKQUOTE_LIST]') AND type in (N'U'))
DROP TABLE [dbo].[CLT_QUICKQUOTE_LIST]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLT_QUICKQUOTE_LIST](
	[CUSTOMER_ID] [int] NOT NULL,
	[QQ_ID] [int] NOT NULL,
	[QQ_NUMBER] [nvarchar] (100) NULL,
	[QQ_TYPE] [nvarchar] (25) NULL,
	[QQ_XML] [text] NULL,
	[QQ_APP_NUMBER] [nvarchar] (100) NULL,
	[IS_ACTIVE] [nchar] (2) NULL,
	[QQ_RATING_REPORT] [text] NULL,
	[QQ_XML_TIME] [datetime] NULL,
	[QQ_RATING_TIME] [datetime] NULL,
	[QQ_STATE] [nvarchar] (20) NULL,
	[APP_ID] [int] NULL,
	[APP_VERSION_ID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLT_QUICKQUOTE_LIST] ADD CONSTRAINT [PK_CLT_QUICKQUOTE_LIST_CUSTOMER_ID_QQ_ID] PRIMARY KEY
	CLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[QQ_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLT_QUICKQUOTE_LIST] ADD CONSTRAINT [FK_CLT_QUICKQUOTE_LIST_CLT_CUSTOMER_LIST] FOREIGN KEY
	(
		[CUSTOMER_ID]
	)
	REFERENCES [dbo].[CLT_CUSTOMER_LIST]
	(
		[CUSTOMER_ID]
	) 
GO

