IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[YAHOO]') AND type in (N'U'))
DROP TABLE [dbo].[YAHOO]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[YAHOO](
	[NAME] [varchar] (10) NULL,
	[OCCUPATION] [varchar] (20) NULL
) ON [PRIMARY]
GO

