IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_SUBLINE_CODE]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_SUBLINE_CODE]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_SUBLINE_CODE](
	[SUBLINE_CODE_ID] [smallint] NOT NULL,
	[SUBLINE_CODE] [nvarchar] (8) NULL,
	[SUBLINE_CODE_DESC] [nvarchar] (75) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_SUBLINE_CODE] ADD CONSTRAINT [PK_MNT_SUBLINE_CODE_SUBLINE_CODE_ID] PRIMARY KEY
	CLUSTERED
	(
		[SUBLINE_CODE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

