IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_PRODUCT_COVERAGES]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_PRODUCT_COVERAGES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_PRODUCT_COVERAGES](
	[CLAIM_ID] [int] NOT NULL,
	[RISK_ID] [int] NOT NULL,
	[COVERAGE_CODE_ID] [int] NOT NULL,
	[RI_APPLIES] [nchar] (1) NULL,
	[LIMIT_OVERRIDE] [nvarchar] (5) NULL,
	[LIMIT_1] [decimal] (18,2) NULL,
	[DEDUCTIBLE_1] [decimal] (18,2) NULL,
	[IS_RISK_COVERAGE] [nchar] (1) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[POLICY_LIMIT] [decimal] (18,2) NULL CONSTRAINT [DF_CLM_PRODUCT_COVERAGES_POLICY_LIMIT] DEFAULT ((0)),
	[DEDUCTIBLE_1_TYPE] [nvarchar] (10) NULL,
	[DEDUCTIBLE1_AMOUNT_TEXT] [nvarchar] (1000) NULL,
	[CLAIM_COV_ID] [int] NOT NULL,
	[IS_USER_CREATED] [char] (1) NULL,
	[MINIMUM_DEDUCTIBLE] [decimal] (18,2) NULL,
	[VICTIM_ID] [int] NULL,
	[COVERAGE_SI_FLAG] [char] (1) NOT NULL CONSTRAINT [DF_CLM_PRODUCT_COVERAGES_COVERAGE_SI_FLAG] DEFAULT ('N')
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_PRODUCT_COVERAGES] ADD CONSTRAINT [PK_CLM_PRODUCT_COVERAGES_CLAIM_COV_ID] PRIMARY KEY
	CLUSTERED
	(
		[CLAIM_COV_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_PRODUCT_COVERAGES] WITH NOCHECK ADD CONSTRAINT [FK_CLM_PRODUCT_COVERAGES_CLAIM_ID] FOREIGN KEY
	(
		[CLAIM_ID]
	)
	REFERENCES [dbo].[CLM_CLAIM_INFO]
	(
		[CLAIM_ID]
	) 
GO

ALTER TABLE [dbo].[CLM_PRODUCT_COVERAGES] WITH NOCHECK ADD CONSTRAINT [FK_CLM_PRODUCT_COVERAGES_RISK_ID] FOREIGN KEY
	(
		[RISK_ID]
	)
	REFERENCES [dbo].[CLM_INSURED_PRODUCT]
	(
		[INSURED_PRODUCT_ID]
	) 
GO

