IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_REIN_PREMIUM_BUILDER]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_REIN_PREMIUM_BUILDER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_REIN_PREMIUM_BUILDER](
	[PREMIUM_BUILDER_ID] [int] NOT NULL,
	[CONTRACT_ID] [int] NULL,
	[CONTRACT] [nvarchar] (25) NULL,
	[EFFECTIVE_DATE] [datetime] NULL,
	[EXPIRY_DATE] [datetime] NULL,
	[LAYER] [int] NULL,
	[COVERAGE_CATEGORY] [nvarchar] (200) NULL,
	[CALCULATION_BASE] [int] NULL,
	[INSURANCE_VALUE] [nvarchar] (15) NULL,
	[TOTAL_INSURANCE_FROM] [nvarchar] (15) NULL,
	[TOTAL_INSURANCE_TO] [nvarchar] (15) NULL,
	[OTHER_INST] [int] NULL,
	[RATE_APPLIED] [numeric] (10,4) NULL,
	[CONSTRUCTION] [int] NULL,
	[PROTECTION] [nvarchar] (200) NULL,
	[ALARM_CREDIT] [int] NULL,
	[ALARM_PERCENTAGE] [numeric] (10,4) NULL,
	[HOME_CREDIT] [int] NULL,
	[HOME_AGE] [int] NULL,
	[COMMENTS] [nvarchar] (300) NULL,
	[IS_ACTIVE] [char] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[HOME_PERCENTAGE] [numeric] (10,4) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_REIN_PREMIUM_BUILDER] ADD CONSTRAINT [PK_MNT_REIN_PREMIUM_BUILDER_PREMIUM_BUILDER_ID] PRIMARY KEY
	CLUSTERED
	(
		[PREMIUM_BUILDER_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_REIN_PREMIUM_BUILDER] ADD CONSTRAINT [FK__MNT_REIN___CONTR__6FF0F349] FOREIGN KEY
	(
		[CONTRACT_ID]
	)
	REFERENCES [dbo].[MNT_REINSURANCE_CONTRACT]
	(
		[CONTRACT_ID]
	) 
GO

