IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_AUTO_GEN_INFO]') AND type in (N'U'))
DROP TABLE [dbo].[POL_AUTO_GEN_INFO]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_AUTO_GEN_INFO](
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[ANY_NON_OWNED_VEH] [nchar] (1) NULL,
	[CAR_MODIFIED] [nchar] (1) NULL,
	[EXISTING_DMG] [nchar] (1) NULL,
	[ANY_CAR_AT_SCH] [nchar] (1) NULL,
	[SCHOOL_CARS_LIST] [nvarchar] (255) NULL,
	[ANY_OTH_AUTO_INSU] [nchar] (1) NULL,
	[ANY_OTH_INSU_COMP] [nchar] (1) NULL,
	[OTHER_POLICY_NUMBER_LIST] [nvarchar] (50) NULL,
	[H_MEM_IN_MILITARY] [nchar] (1) NULL,
	[H_MEM_IN_MILITARY_LIST] [nvarchar] (255) NULL,
	[DRIVER_SUS_REVOKED] [nchar] (1) NULL,
	[PHY_MENTL_CHALLENGED] [nchar] (1) NULL,
	[ANY_FINANCIAL_RESPONSIBILITY] [nchar] (1) NULL,
	[INS_AGENCY_TRANSFER] [nchar] (1) NULL,
	[COVERAGE_DECLINED] [nchar] (1) NULL,
	[AGENCY_VEH_INSPECTED] [nchar] (1) NULL,
	[USE_AS_TRANSPORT_FEE] [nchar] (1) NULL,
	[SALVAGE_TITLE] [nvarchar] (5) NULL,
	[ANY_ANTIQUE_AUTO] [nchar] (1) NULL,
	[ANTIQUE_AUTO_LIST] [nvarchar] (255) NULL,
	[REMARKS] [text] NULL,
	[IS_COMMERCIAL_USE] [char] (1) NULL,
	[IS_USEDFOR_RACING] [char] (1) NULL,
	[IS_COST_OVER_DEFINED_LIMIT] [char] (1) NULL,
	[IS_MORE_WHEELS] [char] (1) NULL,
	[IS_EXTENDED_FORKS] [char] (1) NULL,
	[IS_LICENSED_FOR_ROAD] [char] (1) NULL,
	[IS_MODIFIED_INCREASE_SPEED] [char] (1) NULL,
	[IS_MODIFIED_KIT] [char] (1) NULL,
	[IS_TAKEN_OUT] [char] (1) NULL,
	[IS_CONVICTED_CARELESS_DRIVE] [char] (1) NULL,
	[IS_CONVICTED_ACCIDENT] [char] (1) NULL,
	[MULTI_POLICY_DISC_APPLIED] [nchar] (2) NULL,
	[ANY_NON_OWNED_VEH_PP_DESC] [nvarchar] (50) NULL,
	[CAR_MODIFIED_DESC] [nvarchar] (50) NULL,
	[EXISTING_DMG_PP_DESC] [nvarchar] (50) NULL,
	[ANY_CAR_AT_SCH_DESC] [nvarchar] (50) NULL,
	[ANY_OTH_AUTO_INSU_DESC] [nvarchar] (50) NULL,
	[ANY_OTH_INSU_COMP_PP_DESC] [nvarchar] (50) NULL,
	[H_MEM_IN_MILITARY_DESC] [nvarchar] (50) NULL,
	[DRIVER_SUS_REVOKED_PP_DESC] [nvarchar] (50) NULL,
	[PHY_MENTL_CHALLENGED_PP_DESC] [nvarchar] (50) NULL,
	[ANY_FINANCIAL_RESPONSIBILITY_PP_DESC] [nvarchar] (50) NULL,
	[INS_AGENCY_TRANSFER_PP_DESC] [nvarchar] (50) NULL,
	[COVERAGE_DECLINED_PP_DESC] [nvarchar] (50) NULL,
	[AGENCY_VEH_INSPECTED_PP_DESC] [nvarchar] (50) NULL,
	[USE_AS_TRANSPORT_FEE_DESC] [nvarchar] (50) NULL,
	[SALVAGE_TITLE_PP_DESC] [nvarchar] (50) NULL,
	[ANY_ANTIQUE_AUTO_DESC] [nvarchar] (50) NULL,
	[MULTI_POLICY_DISC_APPLIED_PP_DESC] [nvarchar] (50) NULL,
	[ANY_NON_OWNED_VEH_MC_DESC] [nvarchar] (50) NULL,
	[EXISTING_DMG_MC_DESC] [nvarchar] (50) NULL,
	[ANY_OTH_INSU_COMP_MC_DESC] [nvarchar] (50) NULL,
	[DRIVER_SUS_REVOKED_MC_DESC] [nvarchar] (50) NULL,
	[PHY_MENTL_CHALLENGED_MC_DESC] [nvarchar] (50) NULL,
	[ANY_FINANCIAL_RESPONSIBILITY_MC_DESC] [nvarchar] (50) NULL,
	[INS_AGENCY_TRANSFER_MC_DESC] [nvarchar] (50) NULL,
	[COVERAGE_DECLINED_MC_DESC] [nvarchar] (50) NULL,
	[AGENCY_VEH_INSPECTED_MC_DESC] [nvarchar] (50) NULL,
	[SALVAGE_TITLE_MC_DESC] [nvarchar] (50) NULL,
	[IS_COMMERCIAL_USE_DESC] [nvarchar] (50) NULL,
	[IS_USEDFOR_RACING_DESC] [nvarchar] (50) NULL,
	[IS_COST_OVER_DEFINED_LIMIT_DESC] [nvarchar] (50) NULL,
	[IS_MORE_WHEELS_DESC] [nvarchar] (50) NULL,
	[IS_EXTENDED_FORKS_DESC] [nvarchar] (50) NULL,
	[IS_LICENSED_FOR_ROAD_DESC] [nvarchar] (50) NULL,
	[IS_MODIFIED_INCREASE_SPEED_DESC] [nvarchar] (50) NULL,
	[IS_MODIFIED_KIT_DESC] [nvarchar] (50) NULL,
	[IS_TAKEN_OUT_DESC] [nvarchar] (50) NULL,
	[IS_CONVICTED_CARELESS_DRIVE_DESC] [nvarchar] (50) NULL,
	[IS_CONVICTED_ACCIDENT_DESC] [nvarchar] (50) NULL,
	[MULTI_POLICY_DISC_APPLIED_MC_DESC] [nvarchar] (50) NULL,
	[FullName] [nvarchar] (50) NULL,
	[DATE_OF_BIRTH] [datetime] NULL,
	[DrivingLisence] [nvarchar] (50) NULL,
	[InsuredElseWhere] [nchar] (1) NULL,
	[CompanyName] [nvarchar] (50) NULL,
	[PolicyNumber] [nvarchar] (50) NULL,
	[IS_OTHER_THAN_INSURED] [nchar] (10) NULL,
	[CURR_RES_TYPE] [nvarchar] (10) NULL,
	[WhichCycle] [nvarchar] (10) NULL,
	[COST_EQUIPMENT_DESC] [nvarchar] (50) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[YEARS_INSU_WOL] [smallint] NULL,
	[YEARS_INSU] [smallint] NULL,
	[ANY_PRIOR_LOSSES] [nvarchar] (5) NULL,
	[ANY_PRIOR_LOSSES_DESC] [nvarchar] (50) NULL,
	[APPLY_PERS_UMB_POL] [int] NULL,
	[APPLY_PERS_UMB_POL_DESC] [nvarchar] (50) NULL,
	[SEAT_BELT_CREDIT] [char] (1) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_AUTO_GEN_INFO] ADD CONSTRAINT [PK_POL_AUTO_GEN_INFO_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[CUSTOMER_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_AUTO_GEN_INFO] ADD CONSTRAINT [FK_POL_AUTO_GEN_INFO_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

