IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_MODULE_DIARYTYPE_ASSOCIATION]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_MODULE_DIARYTYPE_ASSOCIATION]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_MODULE_DIARYTYPE_ASSOCIATION](
	[MDA_MODULE_ID] [int] NOT NULL,
	[MDA_DIARYTYPE_ID] [int] NOT NULL,
	[MDA_ASSOCIATE_FLAG] [nchar] (2) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_MODULE_DIARYTYPE_ASSOCIATION] ADD CONSTRAINT [PK_MNT_MODULE_DIARYTYPE_ASSOCIATION_MDA_MODULE_ID_MDA_DIARYTYPE_ID] PRIMARY KEY
	CLUSTERED
	(
		[MDA_MODULE_ID] ASC
		,[MDA_DIARYTYPE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

