IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAGNET_EXPORT_FILES_HISTORY]') AND type in (N'U'))
DROP TABLE [dbo].[PAGNET_EXPORT_FILES_HISTORY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[PAGNET_EXPORT_FILES_HISTORY](
	[ROW_ID] [int] NOT NULL IDENTITY (1,1),
	[FILE_ID] [int] NULL,
	[INTERFACE_CODE] [varchar] (10) NULL,
	[CREATE_DATE] [datetime] NULL,
	[STATUS] [varchar] (100) NULL,
	[USER_NAMES] [varchar] (100) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[PAGNET_EXPORT_FILES_HISTORY] ADD CONSTRAINT [PK_PAGNET_EXPORT_FILES_HISTORY_ROW_ID] PRIMARY KEY
	CLUSTERED
	(
		[ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

