IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_DISTRIBUTION_DETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_DISTRIBUTION_DETAILS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_DISTRIBUTION_DETAILS](
	[IDEN_ROW_ID] [int] NOT NULL IDENTITY (1,1),
	[GROUP_ID] [int] NOT NULL,
	[GROUP_TYPE] [nvarchar] (5) NULL,
	[ACCOUNT_ID] [int] NULL,
	[DISTRIBUTION_PERCT] [decimal] (10,4) NULL,
	[DISTRIBUTION_AMOUNT] [decimal] (18,2) NULL,
	[NOTE] [nvarchar] (255) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_DISTRIBUTION_DETAILS] ADD CONSTRAINT [PK_ACT_DISTRIBUTION_DETAILS_IDEN_ROW_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[IDEN_ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
		,FILLFACTOR = 90
	) ON [PRIMARY]
GO

