IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_CREDIT_CARD_DEPOSIT_SPOOL]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_CREDIT_CARD_DEPOSIT_SPOOL]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_CREDIT_CARD_DEPOSIT_SPOOL](
	[IDEN_ROW_ID] [int] NOT NULL IDENTITY (1,1),
	[ENTITY_ID] [int] NULL,
	[POLICY_ID] [int] NULL,
	[POLICY_VERSION_ID] [smallint] NULL,
	[POLICY_NUMBER] [nvarchar] (12) NULL,
	[TRANSACTION_AMOUNT] [decimal] (18,2) NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[PAY_PAL_REF_ID] [nvarchar] (200) NULL,
	[REF_SPOOL_ID] [int] NULL,
	[PROCESSED_DATETIME] [datetime] NULL,
	[PROCESSED] [char] (1) NULL,
	[ERROR_DESCRIPTION] [nvarchar] (255) NULL,
	[CREATED_BY] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_CREDIT_CARD_DEPOSIT_SPOOL] ADD CONSTRAINT [PK_ACT_CREDIT_CARD_DEPOSIT_SPOOL_IDEN_ROW_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[IDEN_ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
		,FILLFACTOR = 90
	) ON [PRIMARY]
GO

