IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_REINSURANCE_EXCESS]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_REINSURANCE_EXCESS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_REINSURANCE_EXCESS](
	[EXCESS_ID] [int] NOT NULL,
	[CONTRACT_ID] [int] NULL,
	[LAYER_AMOUNT] [decimal] (18,0) NULL,
	[UNDERLYING_AMOUNT] [decimal] (18,0) NULL,
	[LAYER_PREMIUM] [decimal] (18,0) NULL,
	[CEDING_COMMISSION] [decimal] (18,0) NULL,
	[AC_PREMIUM] [decimal] (18,0) NULL,
	[IS_ACTIVE] [char] (1) NULL,
	[CREATED_BY] [smallint] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [smallint] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[PARTICIPATION_AMOUNT] [decimal] (18,0) NULL,
	[PRORATA_AMOUNT] [decimal] (18,0) NULL,
	[LAYER_TYPE] [char] (1) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_REINSURANCE_EXCESS] ADD CONSTRAINT [PK_MNT_REINSURANCE_EXCESS_EXCESS_ID] PRIMARY KEY
	CLUSTERED
	(
		[EXCESS_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_REINSURANCE_EXCESS] ADD CONSTRAINT [FK_MNT_REINSURANCE_EXCESS_MNT_REINSURANCE_CONTRACT_CONTRACT_ID] FOREIGN KEY
	(
		[CONTRACT_ID]
	)
	REFERENCES [dbo].[MNT_REINSURANCE_CONTRACT]
	(
		[CONTRACT_ID]
	) 
GO

