IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MIG_IL_POLICY_LOCATION_DETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[MIG_IL_POLICY_LOCATION_DETAILS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MIG_IL_POLICY_LOCATION_DETAILS](
	[IMPORT_REQUEST_ID] [int] NOT NULL,
	[IMPORT_SERIAL_NO] [bigint] NOT NULL,
	[CUSTOMER_ID] [int] NULL,
	[POLICY_ID] [int] NULL,
	[LOB_ID] [int] NULL,
	[POLICY_VERSION_ID] [smallint] NULL,
	[IS_ACTIVE] [nchar] (1) NULL CONSTRAINT [MIG_IL_POLICY_LOCATION_DETAILS_IS_ACTIVE] DEFAULT ('N'),
	[IS_PROCESSED] [char] (1) NULL CONSTRAINT [MIG_IL_POLICY_LOCATION_DETAILS_IS_DELETED] DEFAULT ('N'),
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[HAS_ERRORS] [bit] NULL CONSTRAINT [MIG_IL_POLICY_LOCATION_DETAILS_HAS_ERRORS] DEFAULT ('N'),
	[ERROR_TYPES] [nvarchar] (4000) NULL,
	[ERROR_COLUMNS] [nvarchar] (4000) NULL,
	[ERRORCOLUMNVALUES] [nvarchar] (4000) NULL,
	[CUSTOMER_CODE] [nvarchar] (50) NULL,
	[POLICY_CODE] [int] NULL,
	[ENDORSMENT_NUMBER] [int] NULL,
	[LOCATION_CODE] [int] NULL,
	[BUILDING_NAME] [nvarchar] (300) NULL,
	[IS_BILLING_ADDRESS] [nvarchar] (10) NULL,
	[ZIP CODE] [nvarchar] (50) NULL,
	[ADDRESS] [nvarchar] (300) NULL,
	[NUMBER] [nvarchar] (150) NULL,
	[COMPLIMENT] [nvarchar] (200) NULL,
	[DISTRICT] [nvarchar] (150) NULL,
	[CITY] [nvarchar] (200) NULL,
	[COUNTRY] [int] NULL,
	[STATE] [int] NULL,
	[CONSTRUCTION] [int] NULL,
	[PHONE] [nvarchar] (50) NULL,
	[FAX] [nvarchar] (50) NULL,
	[EXT] [nvarchar] (50) NULL,
	[RUBRICA] [nvarchar] (50) NULL,
	[ACTIVITY_TYPES] [int] NULL,
	[OCCUPIED_AS] [int] NULL,
	[REMARKS] [nvarchar] (3000) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MIG_IL_POLICY_LOCATION_DETAILS] ADD CONSTRAINT [PK_MIG_IL_POLICY_LOCATION_DETAILS_IMPORT_REQUEST_ID_SERIAL_NO] PRIMARY KEY
	NONCLUSTERED
	(
		[IMPORT_REQUEST_ID] ASC
		,[IMPORT_SERIAL_NO] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

