IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS](
	[CUSTOMER_ID] [int] NOT NULL,
	[POL_ID] [int] NOT NULL,
	[POL_VERSION_ID] [int] NOT NULL,
	[ITEM_ID] [int] NOT NULL,
	[ITEM_DETAIL_ID] [int] NOT NULL,
	[ITEM_NUMBER] [nvarchar] (10) NULL,
	[ITEM_DESCRIPTION] [nvarchar] (1000) NULL,
	[ITEM_SERIAL_NUMBER] [nvarchar] (500) NULL,
	[ITEM_INSURING_VALUE] [money] NULL,
	[ITEM_APPRAISAL_BILL] [nchar] (2) NULL,
	[ITEM_PICTURE_ATTACHED] [nchar] (2) NULL,
	[IS_ACTIVE] [nchar] (2) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS] ADD CONSTRAINT [PK_POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS_CUSTOMER_ID_POL_ID_VERSION_ID_ITEM_ID_DETAIL_ID] PRIMARY KEY
	CLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POL_ID] ASC
		,[POL_VERSION_ID] ASC
		,[ITEM_ID] ASC
		,[ITEM_DETAIL_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS] ADD CONSTRAINT [FK_POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS_CUSTOMER_ID_POL_ID_VERSION_ID_ITEM_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POL_ID],
		[POL_VERSION_ID],
		[ITEM_ID]
	)
	REFERENCES [dbo].[POL_HOME_OWNER_SCH_ITEMS_CVGS]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[ITEM_ID]
	) ON UPDATE CASCADE
GO

