IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_POL_CREDIT_CARD_DETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_POL_CREDIT_CARD_DETAILS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_POL_CREDIT_CARD_DETAILS](
	[IDEN_ROW_ID] [int] NOT NULL IDENTITY (1,1),
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[PAY_PAL_REF_ID] [nvarchar] (200) NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[CREATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_POL_CREDIT_CARD_DETAILS] ADD CONSTRAINT [PK_ACT_POL_CREDIT_CARD_DETAILS_IDEN_ROW_ID] PRIMARY KEY
	CLUSTERED
	(
		[IDEN_ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

