IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_REIN_COMAPANY_LIST]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_REIN_COMAPANY_LIST]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_REIN_COMAPANY_LIST](
	[REIN_COMAPANY_ID] [int] NOT NULL,
	[REIN_COMAPANY_CODE] [nvarchar] (10) NULL,
	[REIN_COMAPANY_NAME] [nvarchar] (65) NULL,
	[REIN_COMPANY_TYPE] [nvarchar] (50) NULL,
	[REIN_COMAPANY_ADD1] [nvarchar] (100) NULL,
	[REIN_COMAPANY_ADD2] [nvarchar] (70) NULL,
	[REIN_COMAPANY_CITY] [nvarchar] (40) NULL,
	[REIN_COMAPANY_COUNTRY] [nvarchar] (50) NULL,
	[REIN_COMAPANY_STATE] [nvarchar] (50) NULL,
	[REIN_COMAPANY_ZIP] [varchar] (15) NULL,
	[REIN_COMAPANY_PHONE] [nvarchar] (20) NULL,
	[REIN_COMAPANY_EXT] [nvarchar] (20) NULL,
	[REIN_COMAPANY_FAX] [nvarchar] (20) NULL,
	[REIN_COMPANY_SPEED_DIAL] [nchar] (4) NULL,
	[REIN_COMAPANY_MOBILE] [nvarchar] (20) NULL,
	[REIN_COMAPANY_EMAIL] [nvarchar] (50) NULL,
	[REIN_COMAPANY_NOTE] [nvarchar] (250) NULL,
	[REIN_COMAPANY_ACC_NUMBER] [nvarchar] (20) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[M_REIN_COMPANY_ADD_1] [nvarchar] (100) NULL,
	[M_RREIN_COMPANY_ADD_2] [nvarchar] (70) NULL,
	[M_REIN_COMPANY_CITY] [nvarchar] (40) NULL,
	[M_REIN_COMPANY_COUNTRY] [nvarchar] (50) NULL,
	[M_REIN_COMPANY_STATE] [nvarchar] (50) NULL,
	[M_REIN_COMPANY_ZIP] [nvarchar] (15) NULL,
	[M_REIN_COMPANY_PHONE] [nvarchar] (20) NULL,
	[M_REIN_COMPANY_FAX] [nvarchar] (20) NULL,
	[M_REIN_COMPANY_EXT] [nvarchar] (20) NULL,
	[REIN_COMPANY_WEBSITE] [nvarchar] (100) NULL,
	[REIN_COMPANY_IS_BROKER] [nchar] (1) NULL,
	[PRINCIPAL_CONTACT] [nvarchar] (50) NULL,
	[OTHER_CONTACT] [nvarchar] (50) NULL,
	[FEDERAL_ID] [nvarchar] (100) NULL,
	[ROUTING_NUMBER] [nvarchar] (20) NULL,
	[TERMINATION_DATE] [datetime] NULL,
	[TERMINATION_REASON] [nvarchar] (30) NULL,
	[DOMICILED_STATE] [nvarchar] (25) NULL,
	[NAIC_CODE] [nvarchar] (50) NULL,
	[AM_BEST_RATING] [nvarchar] (5) NULL,
	[EFFECTIVE_DATE] [datetime] NULL,
	[COMMENTS] [nvarchar] (255) NULL,
	[SUSEP_NUM] [nvarchar] (20) NULL,
	[COM_TYPE] [nvarchar] (20) NULL,
	[DISTRICT] [nvarchar] (25) NULL,
	[BANK_NUMBER] [nvarchar] (10) NULL,
	[BANK_BRANCH_NUMBER] [nvarchar] (20) NULL,
	[BANK_ACCOUNT_TYPE] [int] NULL,
	[CARRIER_CNPJ] [nvarchar] (20) NULL,
	[PAYMENT_METHOD] [int] NULL,
	[AGENCY_CLASSIFICATION] [nvarchar] (25) NULL,
	[RISK_CLASSIFICATION] [nvarchar] (25) NULL,
	[REIN_SEQUENCE_NUMBER] [decimal] (15,0) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_REIN_COMAPANY_LIST] ADD CONSTRAINT [PK_MNT_REIN_COMAPANY_LIST_REIN_COMAPANY_ID] PRIMARY KEY
	CLUSTERED
	(
		[REIN_COMAPANY_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

