IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_UMBRELLA_DWELLINGS_INFO]') AND type in (N'U'))
DROP TABLE [dbo].[POL_UMBRELLA_DWELLINGS_INFO]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_UMBRELLA_DWELLINGS_INFO](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[DWELLING_ID] [smallint] NOT NULL,
	[DWELLING_NUMBER] [int] NULL,
	[LOCATION_ID] [smallint] NULL,
	[SUB_LOC_ID] [smallint] NULL,
	[YEAR_BUILT] [smallint] NULL,
	[PURCHASE_YEAR] [smallint] NULL,
	[PURCHASE_PRICE] [decimal] (18,2) NULL,
	[MARKET_VALUE] [decimal] (18,2) NULL,
	[REPLACEMENT_COST] [decimal] (18,2) NULL,
	[BUILDING_TYPE] [int] NULL,
	[OCCUPANCY] [int] NULL,
	[NEED_OF_UNITS] [smallint] NULL,
	[USAGE] [nvarchar] (50) NULL,
	[NEIGHBOURS_VISIBLE] [nchar] (1) NULL,
	[OCCUPIED_DAILY] [nchar] (1) NULL,
	[NO_WEEKS_RENTED] [smallint] NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[COMMENTDWELLINGOWNED] [nvarchar] (100) NULL,
	[REPAIR_COST] [decimal] (10,0) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_UMBRELLA_DWELLINGS_INFO] ADD CONSTRAINT [PK_POL_UMBRELLA_DWELLINGS_INFO_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_DWELLING_ID] PRIMARY KEY
	CLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[DWELLING_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_UMBRELLA_DWELLINGS_INFO] ADD CONSTRAINT [FK_POL_UMBRELLA_DWELLINGS_INFO_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_LOCATION_ID_POL_UMBRELLA_REAL_ESTATE_LOCATION] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[LOCATION_ID]
	)
	REFERENCES [dbo].[POL_UMBRELLA_REAL_ESTATE_LOCATION]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[LOCATION_ID]
	) 
GO

