IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EOD_PROCESS_LOG]') AND type in (N'U'))
DROP TABLE [dbo].[EOD_PROCESS_LOG]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[EOD_PROCESS_LOG](
	[IDEN_ROW_ID] [int] NOT NULL IDENTITY (1,1),
	[ACTIVITY_DESCRIPTION] [nvarchar] (1000) NULL,
	[START_DATETIME] [datetime] NULL,
	[END_DATETIME] [datetime] NULL,
	[STATUS] [nvarchar] (20) NULL,
	[ACTIVITY] [int] NULL,
	[SUB_ACTIVITY] [int] NULL,
	[CLIENT_ID] [int] NULL,
	[POLICY_ID] [int] NULL,
	[POLICY_VERSOIN_ID] [smallint] NULL,
	[ADDITIONAL_INFO] [nvarchar] (2000) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[EOD_PROCESS_LOG] ADD CONSTRAINT [PK_EOD_PROCESS_LOG_IDEN_ROW_ID] PRIMARY KEY
	CLUSTERED
	(
		[IDEN_ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

