IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_REINSURANCE_COVERAGECODE]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_REINSURANCE_COVERAGECODE]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_REINSURANCE_COVERAGECODE](
	[COVERAGE_ID] [int] NOT NULL,
	[COVERAGE_CODE] [nvarchar] (50) NULL,
	[COVERAGE_DESCRIPTION] [nvarchar] (500) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_REINSURANCE_COVERAGECODE] ADD CONSTRAINT [PK_MNT_REINSURANCE_COVERAGECODE_COVERAGE_ID] PRIMARY KEY
	CLUSTERED
	(
		[COVERAGE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

