IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_YESNO]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_YESNO]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_YESNO](
	[VALUE_ID] [int] NOT NULL,
	[VALUE_DESC] [nvarchar] (10) NULL,
	[VALUE_CODE] [nvarchar] (2) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_YESNO] ADD CONSTRAINT [PK_MNT_YESNO_VALUE_ID] PRIMARY KEY
	CLUSTERED
	(
		[VALUE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

