IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_UNDERWRITING_TIER]') AND type in (N'U'))
DROP TABLE [dbo].[POL_UNDERWRITING_TIER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_UNDERWRITING_TIER](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[UNDERWRITING_TIER] [nvarchar] (3) NULL,
	[UNTIER_ASSIGNED_DATE] [datetime] NULL,
	[CAP_INC] [char] (1) NULL,
	[CAP_DEC] [char] (1) NULL,
	[CAP_RATE_CHANGE_REL] [decimal] (9,4) NULL,
	[CAP_MIN_MAX_ADJUST] [decimal] (9,4) NULL,
	[ACL_PREMIUM] [decimal] (25,2) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_UNDERWRITING_TIER] ADD CONSTRAINT [PK_POL_UNDERWRITING_TIER_CUSTOMER_ID_POLICY_ID_VERSION_ID] PRIMARY KEY
	CLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_UNDERWRITING_TIER] ADD CONSTRAINT [FK_POL_UNDERWRITING_TIER_POL_CUSTOMER_POLICY_LIST_CUSTOMER_ID_POLICY_ID_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

