IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_BUSINESS_TYPES]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_BUSINESS_TYPES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_BUSINESS_TYPES](
	[BUSINESS_TYPE_ID] [int] NOT NULL IDENTITY (1,1),
	[TYPE_DESCRIPTION] [nvarchar] (200) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_BUSINESS_TYPES] ADD CONSTRAINT [PK_MNT_BUSINESS_TYPES] PRIMARY KEY
	CLUSTERED
	(
		[BUSINESS_TYPE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

