IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_TYPE_DETAIL]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_TYPE_DETAIL]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_TYPE_DETAIL](
	[DETAIL_TYPE_ID] [int] NOT NULL,
	[TYPE_ID] [int] NOT NULL,
	[DETAIL_TYPE_DESCRIPTION] [nvarchar] (100) NULL,
	[IS_ACTIVE] [char] (1) NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[TRANSACTION_CODE] [int] NULL,
	[SelectedDebitLedgers] [nvarchar] (500) NULL,
	[SelectedCreditLedgers] [nvarchar] (500) NULL,
	[IS_SYSTEM_GENERATED] [char] (1) NULL,
	[ALLOW_MANUAL] [char] (1) NULL,
	[TRANSACTION_CATEGORY] [nvarchar] (20) NULL,
	[GL_POSTING_REQUIRED] [char] (1) NULL,
	[REF_LOOKUP_UNIQUEID] [int] NULL,
	[ACTIVITY_AT_VOID] [int] NULL,
	[FOLLOWUP_ACTIVITY_AT_VOID] [int] NULL,
	[IS_VOID_ACTIVITY] [bit] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_TYPE_DETAIL] ADD CONSTRAINT [PK_CLM_TYPE_DETAIL_DETAIL_TYPE_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[DETAIL_TYPE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
		,FILLFACTOR = 90
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_TYPE_DETAIL] ADD CONSTRAINT [FK_CLM_TYPE_DETAIL_TYPE_ID] FOREIGN KEY
	(
		[TYPE_ID]
	)
	REFERENCES [dbo].[CLM_TYPE_MASTER]
	(
		[TYPE_ID]
	) 
GO

