IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLT_PREMIUM_SPLIT_EXCEPTIONS]') AND type in (N'U'))
DROP TABLE [dbo].[CLT_PREMIUM_SPLIT_EXCEPTIONS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLT_PREMIUM_SPLIT_EXCEPTIONS](
	[SPLIT_UNIQUE_ID] [numeric] (18,0) NOT NULL,
	[EXCEPTION_ID] [int] NOT NULL,
	[EXCEPTION_DESC] [nvarchar] (2000) NULL,
	[EXCEPTION_XML] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLT_PREMIUM_SPLIT_EXCEPTIONS] ADD CONSTRAINT [PK_CLT_PREMIUM_SPLIT_EXCEPTIONS_SPLIT_UNIQUE_ID_EXCEPTION_ID] PRIMARY KEY
	CLUSTERED
	(
		[SPLIT_UNIQUE_ID] ASC
		,[EXCEPTION_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLT_PREMIUM_SPLIT_EXCEPTIONS] ADD CONSTRAINT [FK_CLT_PREMIUM_SPLIT_EXCEPTIONS_CLT_PREMIUM_SPLIT] FOREIGN KEY
	(
		[SPLIT_UNIQUE_ID]
	)
	REFERENCES [dbo].[CLT_PREMIUM_SPLIT]
	(
		[UNIQUE_ID]
	) 
GO

