IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_LINKED_CLAIMS]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_LINKED_CLAIMS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_LINKED_CLAIMS](
	[CLAIM_ID] [int] NOT NULL,
	[LINKED_CLAIM_ID] [int] NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_LINKED_CLAIMS] ADD CONSTRAINT [PK_CLM_LINKED_CLAIMS_CLAIM_ID_LINKED_CLAIM_ID] PRIMARY KEY
	CLUSTERED
	(
		[CLAIM_ID] ASC
		,[LINKED_CLAIM_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

