IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Q_EXEC_LOG]') AND type in (N'U'))
DROP TABLE [dbo].[Q_EXEC_LOG]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[Q_EXEC_LOG](
	[IDEN_ROW_ID] [int] NOT NULL IDENTITY (1,1),
	[EXECUTED_BY] [int] NULL,
	[EXECUTED_ON] [datetime] NULL,
	[QUERY_SQL] [nvarchar] (3000) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Q_EXEC_LOG] ADD CONSTRAINT [PK_Q_EXEC_LOG_IDEN_ROW_ID] PRIMARY KEY
	CLUSTERED
	(
		[IDEN_ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

