IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_AVIATION_VEHICLES]') AND type in (N'U'))
DROP TABLE [dbo].[POL_AVIATION_VEHICLES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_AVIATION_VEHICLES](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[VEHICLE_ID] [smallint] NOT NULL,
	[INSURED_VEH_NUMBER] [smallint] NULL,
	[USE_VEHICLE] [nvarchar] (5) NULL,
	[COVG_PERIMETER] [int] NULL,
	[REG_NUMBER] [nvarchar] (10) NULL,
	[SERIAL_NUMBER] [nvarchar] (20) NULL,
	[VEHICLE_YEAR] [nvarchar] (4) NULL,
	[MAKE] [nvarchar] (10) NULL,
	[MAKE_OTHER] [nvarchar] (25) NULL,
	[MODEL] [nvarchar] (10) NULL,
	[MODEL_OTHER] [nvarchar] (25) NULL,
	[CERTIFICATION] [nvarchar] (15) NULL,
	[REGISTER] [nvarchar] (15) NULL,
	[ENGINE_TYPE] [nvarchar] (10) NULL,
	[WING_TYPE] [nvarchar] (10) NULL,
	[CREW] [nvarchar] (20) NULL,
	[PAX] [nvarchar] (20) NULL,
	[REMARKS] [nvarchar] (500) NULL,
	[DEACTIVATE_REACTIVATE_DATE] [datetime] NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_AVIATION_VEHICLES] ADD CONSTRAINT [PK_POL_AVIATION_VEHICLES_CUSTOMER_ID_POLICY_ID_VERSION_ID_VEHICLE_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[VEHICLE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_AVIATION_VEHICLES] WITH NOCHECK ADD CONSTRAINT [FK_POL_AVIATION_VEHICLES_CUSTOMER_ID_POLICY_ID_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

