IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_INSTALL_PLAN_DETAIL_MULTILINGUAL]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_INSTALL_PLAN_DETAIL_MULTILINGUAL]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_INSTALL_PLAN_DETAIL_MULTILINGUAL](
	[IDEN_PLAN_ID] [int] NOT NULL,
	[PLAN_DESCRIPTION] [nvarchar] (70) NULL,
	[LANG_ID] [int] NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_INSTALL_PLAN_DETAIL_MULTILINGUAL] ADD CONSTRAINT [PK_ACT_INSTALL_PLAN_DETAIL_MULTILINGUAL_IDEN_PLAN_ID_LANG_ID] PRIMARY KEY
	CLUSTERED
	(
		[IDEN_PLAN_ID] ASC
		,[LANG_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

