IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAGNET_EXPORT_FILES]') AND type in (N'U'))
DROP TABLE [dbo].[PAGNET_EXPORT_FILES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[PAGNET_EXPORT_FILES](
	[ID] [int] NOT NULL IDENTITY (1,1),
	[FILE_NAMES] [varchar] (500) NULL,
	[INTERFACE_CODE] [varchar] (10) NULL,
	[CREATE_DATE] [datetime] NULL,
	[STATUS] [varchar] (100) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[PAGNET_EXPORT_FILES] ADD CONSTRAINT [PK_PAGNET_EXPORT_FILES_ID] PRIMARY KEY
	CLUSTERED
	(
		[ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

