IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_FEE_REVERSAL]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_FEE_REVERSAL]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_FEE_REVERSAL](
	[IDEN_ROW_ID] [int] NOT NULL IDENTITY (1,1),
	[CUSTOMER_OPEN_ITEM_ID] [int] NULL,
	[CUSTOMER_ID] [int] NULL,
	[POLICY_ID] [int] NULL,
	[POLICY_VERSION_ID] [int] NULL,
	[FEE_TYPE] [nvarchar] (30) NULL,
	[FEES_AMOUNT] [decimal] (18,2) NULL,
	[FEES_REVERSE] [decimal] (18,2) NULL,
	[IS_COMMITTED] [bit] NULL,
	[IS_ACTIVE] [char] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_FEE_REVERSAL] ADD CONSTRAINT [PK_ACT_FEE_REVERSAL_IDEN_ROW_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[IDEN_ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
		,FILLFACTOR = 90
	) ON [PRIMARY]
GO

