IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_DWELLING_SECTION_COVERAGES]') AND type in (N'U'))
DROP TABLE [dbo].[POL_DWELLING_SECTION_COVERAGES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_DWELLING_SECTION_COVERAGES](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[DWELLING_ID] [smallint] NOT NULL,
	[COVERAGE_ID] [int] NOT NULL,
	[COVERAGE_CODE_ID] [int] NOT NULL,
	[LIMIT_OVERRIDE] [nvarchar] (5) NULL,
	[LIMIT_1] [decimal] (18,0) NULL,
	[LIMIT_1_TYPE] [nvarchar] (5) NULL,
	[LIMIT_2] [decimal] (18,0) NULL,
	[LIMIT_2_TYPE] [nvarchar] (5) NULL,
	[DEDUCT_OVERRIDE] [nchar] (1) NULL,
	[DEDUCTIBLE_1] [decimal] (18,0) NULL,
	[DEDUCTIBLE_1_TYPE] [nvarchar] (5) NULL,
	[DEDUCTIBLE_2] [decimal] (18,0) NULL,
	[DEDUCTIBLE_2_TYPE] [nvarchar] (5) NULL,
	[WRITTEN_PREMIUM] [decimal] (18,0) NULL,
	[FULL_TERM_PREMIUM] [decimal] (18,0) NULL,
	[IS_SYSTEM_COVERAGE] [nchar] (1) NULL,
	[COVERAGE_TYPE] [nchar] (10) NULL,
	[LIMIT1_AMOUNT_TEXT] [nvarchar] (100) NULL,
	[LIMIT2_AMOUNT_TEXT] [nvarchar] (100) NULL,
	[DEDUCTIBLE1_AMOUNT_TEXT] [nvarchar] (100) NULL,
	[DEDUCTIBLE2_AMOUNT_TEXT] [nvarchar] (100) NULL,
	[LIMIT_ID] [int] NULL,
	[DEDUC_ID] [int] NULL,
	[DEDUCTIBLE] [decimal] (18,0) NULL,
	[DEDUCTIBLE_TEXT] [nvarchar] (100) NULL,
	[ADDDEDUCTIBLE_ID] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_DWELLING_SECTION_COVERAGES] ADD CONSTRAINT [PK_POL_DWELLING_SECTION_COVERAGES_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID_COVERAGE_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[DWELLING_ID] ASC
		,[COVERAGE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_DWELLING_SECTION_COVERAGES] WITH NOCHECK ADD CONSTRAINT [FK_POL_DWELLING_SECTION_COVERAGES_MNT_COVERAGE_COVERAGE_CODE_ID_COV_ID] FOREIGN KEY
	(
		[COVERAGE_CODE_ID]
	)
	REFERENCES [dbo].[MNT_COVERAGE]
	(
		[COV_ID]
	) 
GO

ALTER TABLE [dbo].[POL_DWELLING_SECTION_COVERAGES] ADD CONSTRAINT [FK_POL_DWELLING_SECTION_COVERAGES_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID_DWELLING_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[DWELLING_ID]
	)
	REFERENCES [dbo].[POL_DWELLINGS_INFO]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[DWELLING_ID]
	) 
GO

