IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_PROCESS_PRINT_DOCUMENT_TYPE]') AND type in (N'U'))
DROP TABLE [dbo].[POL_PROCESS_PRINT_DOCUMENT_TYPE]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_PROCESS_PRINT_DOCUMENT_TYPE](
	[PROCESS_PRINT_DOCUMENT_ID] [int] NOT NULL,
	[PROCESS_ID] [int] NOT NULL,
	[DOCUMENT_CODE] [nvarchar] (50) NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[IS_ACTIVE] [nchar] (1) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_PROCESS_PRINT_DOCUMENT_TYPE] ADD CONSTRAINT [PK_POL_PROCESS_PRINT_DOCUMENT_TYPE_PROCESS_PRINT_DOCUMENT_ID_PROCESS_ID_DOCUMENT_CODE] PRIMARY KEY
	NONCLUSTERED
	(
		[PROCESS_PRINT_DOCUMENT_ID] ASC
		,[PROCESS_ID] ASC
		,[DOCUMENT_CODE] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_PROCESS_PRINT_DOCUMENT_TYPE] ADD CONSTRAINT [FK_POL_PROCESS_MASTER_PROCESS_ID] FOREIGN KEY
	(
		[PROCESS_ID]
	)
	REFERENCES [dbo].[POL_PROCESS_MASTER]
	(
		[PROCESS_ID]
	) 
GO

