IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_AGENCY_LOB_PREMIUM]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_AGENCY_LOB_PREMIUM]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_AGENCY_LOB_PREMIUM](
	[AGENCY_ID] [int] NOT NULL,
	[STATE_ID] [smallint] NOT NULL,
	[LOB_ID] [smallint] NOT NULL,
	[POLICY_TYPE] [int] NOT NULL,
	[MONTH_NUMBER] [int] NOT NULL,
	[YEAR_NUMBER] [int] NOT NULL,
	[INFORCE_TOTAL] [int] NULL,
	[NBS_COMMITTED] [int] NULL,
	[NBS_EFFECTIVE] [int] NULL,
	[NBS_CANCEL] [int] NULL,
	[NBS_EFFECTIVE_CANCEL] [int] NULL,
	[NBS_REINSTATE] [int] NULL,
	[NBS_EFFECTIVE_REINSTATE] [int] NULL,
	[RENEWAL_COMMITTED] [int] NULL,
	[RENEWAL_EFFECTIVE] [int] NULL,
	[RENEWAL_CANCEL] [int] NULL,
	[RENEWAL_EFFECTIVE_CANCEL] [int] NULL,
	[RENEWAL_REINSTATE] [int] NULL,
	[RENEWAL_EFFECTIVE_REINSTATE] [int] NULL,
	[TOTAL_EXPIRED] [int] NULL,
	[NON_RENEWAL_EFFECTIVE] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_AGENCY_LOB_PREMIUM] ADD CONSTRAINT [PK_ACT_AGENCY_LOB_PREMIUM_AGENCY_ID_STATE_ID_LOB_ID_POLICY_TYPE_MONTH_NUMBER_YEAR_NUMBER] PRIMARY KEY
	CLUSTERED
	(
		[AGENCY_ID] ASC
		,[STATE_ID] ASC
		,[LOB_ID] ASC
		,[POLICY_TYPE] ASC
		,[MONTH_NUMBER] ASC
		,[YEAR_NUMBER] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [_dta_index_ACT_AGENCY_LOB_PREMIUM_15_765323328__K3_K2_K1_K5_K6_K4_10_12_16_18] ON [dbo].[ACT_AGENCY_LOB_PREMIUM]
(
	[MONTH_NUMBER] ASC,
	[YEAR_NUMBER] ASC,
	[POLICY_TYPE] ASC
)WITH (FILLFACTOR=90)ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [_dta_index_ACT_AGENCY_LOB_PREMIUM_15_765323328__K3_K2_K1_K5_K6_K4_7] ON [dbo].[ACT_AGENCY_LOB_PREMIUM]
(
	[MONTH_NUMBER] ASC,
	[YEAR_NUMBER] ASC,
	[POLICY_TYPE] ASC
)WITH (FILLFACTOR=90)ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [_dta_index_ACT_AGENCY_LOB_PREMIUM_15_765323328__K3_K2_K1_K6_K5_4_9_10_12_15_16_18] ON [dbo].[ACT_AGENCY_LOB_PREMIUM]
(
	[MONTH_NUMBER] ASC,
	[YEAR_NUMBER] ASC,
	[POLICY_TYPE] ASC
)WITH (FILLFACTOR=90)ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_AGENCY_LOB_PREMIUM] ADD CONSTRAINT [FK__ACT_AGENC__LOB_I__30048419] FOREIGN KEY
	(
		[LOB_ID]
	)
	REFERENCES [dbo].[MNT_LOB_MASTER]
	(
		[LOB_ID]
	) 
GO

ALTER TABLE [dbo].[ACT_AGENCY_LOB_PREMIUM] WITH NOCHECK ADD CONSTRAINT [FK_ACT_AGENCY_LOB_PREMIUM_AGENCY_ID] FOREIGN KEY
	(
		[AGENCY_ID]
	)
	REFERENCES [dbo].[MNT_AGENCY_LIST]
	(
		[AGENCY_ID]
	) 
GO

