IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_REINSURANCE_INFO]') AND type in (N'U'))
DROP TABLE [dbo].[POL_REINSURANCE_INFO]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_REINSURANCE_INFO](
	[REINSURANCE_ID] [int] NOT NULL,
	[COMPANY_ID] [int] NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[CONTRACT_FACULTATIVE] [int] NULL,
	[CONTRACT] [int] NULL,
	[REINSURANCE_CEDED] [decimal] (18,2) NULL,
	[REINSURANCE_COMMISSION] [decimal] (18,2) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[REINSURER_NUMBER] [nvarchar] (50) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_REINSURANCE_INFO] ADD CONSTRAINT [PK_POL_REINSURANCE_INFO_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID_COMPANY_ID_REINSURANCE_ID] PRIMARY KEY
	CLUSTERED
	(
		[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[CUSTOMER_ID] ASC
		,[COMPANY_ID] ASC
		,[REINSURANCE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_REINSURANCE_INFO] WITH NOCHECK ADD CONSTRAINT [FK_POL_REINSURANCE_INFO_COMPANY_ID] FOREIGN KEY
	(
		[COMPANY_ID]
	)
	REFERENCES [dbo].[MNT_REIN_COMAPANY_LIST]
	(
		[REIN_COMAPANY_ID]
	) 
GO

ALTER TABLE [dbo].[POL_REINSURANCE_INFO] WITH NOCHECK ADD CONSTRAINT [FK_POL_REINSURANCE_INFO_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

