IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QOT_CUSTOMER_QUOTE_LIST_POL]') AND type in (N'U'))
DROP TABLE [dbo].[QOT_CUSTOMER_QUOTE_LIST_POL]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[QOT_CUSTOMER_QUOTE_LIST_POL](
	[CUSTOMER_ID] [int] NOT NULL,
	[QUOTE_ID] [int] NOT NULL,
	[QUOTE_VERSION_ID] [smallint] NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [int] NOT NULL,
	[QUOTE_TYPE] [nvarchar] (12) NULL,
	[QUOTE_NUMBER] [nvarchar] (75) NULL,
	[QUOTE_DESCRIPTION] [varchar] (255) NULL,
	[IS_ACCEPTED] [nchar] (1) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[QUOTE_XML] [text] NULL,
	[QUOTE_INPUT_XML] [text] NULL,
	[RATE_EFFECTIVE_DATE] [datetime] NULL,
	[BUSINESS_TYPE] [varchar] (15) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[QOT_CUSTOMER_QUOTE_LIST_POL] ADD CONSTRAINT [PK_QOT_CUSTOMER_QUOTE_LIST_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_QUOTE_ID] PRIMARY KEY
	CLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[QUOTE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

