IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_MISCELLANEOUS_EQUIPMENT_VALUES]') AND type in (N'U'))
DROP TABLE [dbo].[POL_MISCELLANEOUS_EQUIPMENT_VALUES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_MISCELLANEOUS_EQUIPMENT_VALUES](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[VEHICLE_ID] [smallint] NOT NULL,
	[ITEM_ID] [int] NOT NULL,
	[ITEM_DESCRIPTION] [nvarchar] (500) NULL,
	[ITEM_VALUE] [decimal] (10,2) NULL,
	[IS_ACTIVE] [char] (1) NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_MISCELLANEOUS_EQUIPMENT_VALUES] ADD CONSTRAINT [PK_POL_MISCELLANEOUS_EQUIPMENT_VALUES_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_VEHICLE_ID_ITEM_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[VEHICLE_ID] ASC
		,[ITEM_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_MISCELLANEOUS_EQUIPMENT_VALUES] ADD CONSTRAINT [FK_POL_MISCELLANEOUS_EQUIPMENT_VALUES_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

ALTER TABLE [dbo].[POL_MISCELLANEOUS_EQUIPMENT_VALUES] ADD CONSTRAINT [FK_POL_MISCELLANEOUS_EQUIPMENT_VALUES_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_VEHICLE_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[VEHICLE_ID]
	)
	REFERENCES [dbo].[POL_VEHICLES]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[VEHICLE_ID]
	) 
GO

