IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_FIPE_CODE_MASTER]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_FIPE_CODE_MASTER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_FIPE_CODE_MASTER](
	[FIPE_CODE_ID] [int] NOT NULL,
	[FIPE_CODE] [nvarchar] (10) NULL,
	[FIPE_NUM] [int] NULL,
	[MODEL] [nvarchar] (100) NULL,
	[MAKE_CODE] [nvarchar] (10) NULL,
	[FIPE_MAKE] [nvarchar] (50) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[CAPACITY] [int] NULL,
	[CATEGORY_AUTO] [nvarchar] (10) NULL,
	[CATEGORY_LIABILITY] [nvarchar] (10) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_FIPE_CODE_MASTER] ADD CONSTRAINT [MNT_FIPE_CODE_MASTER FIPE_CODE_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[FIPE_CODE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

