IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_POLICY_CO_BILLING_DETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_POLICY_CO_BILLING_DETAILS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_POLICY_CO_BILLING_DETAILS](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [int] NOT NULL,
	[ROW_ID] [int] NOT NULL,
	[RISK_ID] [int] NULL,
	[RISK_TYPE] [nvarchar] (15) NULL,
	[CO_COMPANY_ID] [int] NULL,
	[INSTALLMENT_NO] [int] NULL,
	[INSTALLMENT_EFFECTIVE_DATE] [datetime] NULL,
	[PERCENTAG_OF_PREMIUM] [decimal] (8,4) NOT NULL CONSTRAINT [DF_ACT_POLICY_CO_BILLING_DETAILS_PERCENTAG_OF_PREMIUM] DEFAULT ((0)),
	[INSTALLMENT_AMOUNT] [decimal] (12,2) NOT NULL CONSTRAINT [DF_ACT_POLICY_CO_BILLING_DETAILS_INSTALLMENT_AMOUNT] DEFAULT ((0)),
	[INTEREST_AMOUNT] [decimal] (12,2) NOT NULL CONSTRAINT [DF_ACT_POLICY_CO_BILLING_DETAILS_INTEREST_AMOUNT] DEFAULT ((0)),
	[FEE] [decimal] (12,2) NOT NULL CONSTRAINT [DF_ACT_POLICY_CO_BILLING_DETAILS_FEE] DEFAULT ((0)),
	[TAXES] [decimal] (12,2) NOT NULL CONSTRAINT [DF_ACT_POLICY_CO_BILLING_DETAILS_TAXES] DEFAULT ((0)),
	[TOTAL] [decimal] (12,2) NOT NULL CONSTRAINT [DF_ACT_POLICY_CO_BILLING_DETAILS_TOTAL] DEFAULT ((0)),
	[TRAN_PREMIUM_AMOUNT] [decimal] (12,2) NOT NULL CONSTRAINT [DF_ACT_POLICY_CO_BILLING_DETAILS_TRAN_PREMIUM_AMOUNT] DEFAULT ((0)),
	[TRAN_INTEREST_AMOUNT] [decimal] (12,2) NOT NULL CONSTRAINT [DF_ACT_POLICY_CO_BILLING_DETAILS_TRAN_INTEREST_AMOUNT] DEFAULT ((0)),
	[TRAN_FEE] [decimal] (12,2) NOT NULL CONSTRAINT [DF_ACT_POLICY_CO_BILLING_DETAILS_TRAN_FEE] DEFAULT ((0)),
	[TRAN_TAXES] [decimal] (12,2) NOT NULL CONSTRAINT [DF_ACT_POLICY_CO_BILLING_DETAILS_TRAN_TAXES] DEFAULT ((0)),
	[TRAN_TOTAL] [decimal] (12,2) NOT NULL CONSTRAINT [DF_ACT_POLICY_CO_BILLING_DETAILS_TRAN_TOTAL] DEFAULT ((0)),
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[CO_APPLICANT_ID] [int] NULL,
	[RELEASED_STATUS] [nchar] (1) NULL,
	[PAYMENT_MODE] [int] NULL,
	[CURRENT_TERM] [smallint] NULL,
	[CO_SHARE_PER] [decimal] (8,4) NULL,
	[CO_COMM_PER] [decimal] (8,4) NULL,
	[CO_COMM_AMT] [decimal] (12,2) NOT NULL CONSTRAINT [DF_ACT_POLICY_CO_BILLING_DETAILS_CO_COMM_AMT] DEFAULT ((0)),
	[INSTALL_ROW_ID] [int] NOT NULL CONSTRAINT [DF_ACT_POLICY_CO_BILLING_DETAILS_INSTALL_ROW_ID] DEFAULT ((0)),
	[CO_INT_COMM_AMT] [decimal] (25,8) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_POLICY_CO_BILLING_DETAILS] ADD CONSTRAINT [PK_ACT_POLICY_CO_BILLING_DETAILS_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_INSTALL_ROW_ID_ROW_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[INSTALL_ROW_ID] ASC
		,[ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_POLICY_CO_BILLING_DETAILS] ADD CONSTRAINT [FK_ACT_POLICY_CO_BILLING_DETAILS_CO_COMPANY_ID] FOREIGN KEY
	(
		[CO_COMPANY_ID]
	)
	REFERENCES [dbo].[MNT_REIN_COMAPANY_LIST]
	(
		[REIN_COMAPANY_ID]
	) 
GO

ALTER TABLE [dbo].[ACT_POLICY_CO_BILLING_DETAILS] ADD CONSTRAINT [FK_ACT_POLICY_CO_BILLING_DETAILS_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_INSTALL_ROW_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[INSTALL_ROW_ID]
	)
	REFERENCES [dbo].[ACT_POLICY_INSTALLMENT_DETAILS]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[ROW_ID]
	) 
GO

