IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_ENDORSEMENT_ATTACHMENT]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_ENDORSEMENT_ATTACHMENT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_ENDORSEMENT_ATTACHMENT](
	[ENDORSEMENT_ATTACH_ID] [int] NOT NULL,
	[ENDORSEMENT_ID] [int] NOT NULL,
	[ATTACH_FILE] [nvarchar] (500) NULL,
	[VALID_DATE] [datetime] NULL,
	[EFFECTIVE_TO_DATE] [datetime] NULL,
	[DISABLED_DATE] [datetime] NULL,
	[FORM_NUMBER] [nvarchar] (20) NULL,
	[EDITION_DATE] [nvarchar] (20) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_ENDORSEMENT_ATTACHMENT] ADD CONSTRAINT [PK_MNT_ENDORSEMENT_ATTACHMENT_ENDORSEMENT_ATTACH_ID] PRIMARY KEY
	CLUSTERED
	(
		[ENDORSEMENT_ATTACH_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_ENDORSEMENT_ATTACHMENT] ADD CONSTRAINT [FK_MNT_ENDORSEMENT_ATTACHMENT_MNT_ENDORSMENT_DETAILS] FOREIGN KEY
	(
		[ENDORSEMENT_ID]
	)
	REFERENCES [dbo].[MNT_ENDORSMENT_DETAILS]
	(
		[ENDORSMENT_ID]
	) 
GO

