IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TEMP_ACT_CHECK_INFORMATION]') AND type in (N'U'))
DROP TABLE [dbo].[TEMP_ACT_CHECK_INFORMATION]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[TEMP_ACT_CHECK_INFORMATION](
	[CHECK_ID] [int] NOT NULL,
	[CHECK_TYPE] [nvarchar] (5) NULL,
	[ACCOUNT_ID] [int] NULL,
	[CHECK_DATE] [datetime] NULL,
	[CHECK_AMOUNT] [decimal] (18,2) NULL,
	[CHECK_NOTE] [nvarchar] (100) NULL,
	[PAYEE_ENTITY_ID] [int] NULL,
	[PAYEE_ENTITY_TYPE] [nvarchar] (5) NULL,
	[PAYEE_ENTITY_NAME] [nvarchar] (255) NULL,
	[PAYEE_ADD1] [nvarchar] (70) NULL,
	[PAYEE_ADD2] [nvarchar] (70) NULL,
	[PAYEE_CITY] [nvarchar] (40) NULL,
	[PAYEE_STATE] [nvarchar] (30) NULL,
	[PAYEE_ZIP] [nvarchar] (12) NULL,
	[PAYEE_NOTE] [nvarchar] (100) NULL,
	[CUSTOMER_ID] [int] NULL,
	[POLICY_ID] [smallint] NULL,
	[POLICY_VER_TRACKING_ID] [smallint] NULL,
	[OFFSET_ACC_ID] [int] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[MONTH] [int] NULL,
	[YEAR] [int] NULL,
	[IS_RECONCILED] [char] (1) NULL,
	[COMM_TYPE] [nvarchar] (10) NULL,
	[PAYMENT_MODE] [int] NULL,
	[AGENCY_ID] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TEMP_ACT_CHECK_INFORMATION] ADD CONSTRAINT [PK_TEMP_ACT_CHECK_INFORMATION_CHECK_ID] PRIMARY KEY
	CLUSTERED
	(
		[CHECK_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

