IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRIOR_LOSS_HOME]') AND type in (N'U'))
DROP TABLE [dbo].[PRIOR_LOSS_HOME]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[PRIOR_LOSS_HOME](
	[PRIOR_LOSS_ID] [int] NOT NULL,
	[LOSS_ID] [smallint] NULL,
	[CUSTOMER_ID] [int] NULL,
	[LOCATION_ID] [int] NOT NULL,
	[LOSS_ADD1] [nvarchar] (80) NULL,
	[LOSS_ADD2] [nvarchar] (80) NULL,
	[LOSS_CITY] [nvarchar] (75) NULL,
	[LOSS_STATE] [nvarchar] (20) NULL,
	[LOSS_ZIP] [nvarchar] (11) NULL,
	[CURRENT_ADD1] [nvarchar] (80) NULL,
	[CURRENT_ADD2] [nvarchar] (80) NULL,
	[CURRENT_CITY] [nvarchar] (75) NULL,
	[CURRENT_STATE] [nvarchar] (20) NULL,
	[CURRENT_ZIP] [nvarchar] (11) NULL,
	[POLICY_TYPE] [nvarchar] (10) NULL,
	[POLICY_NUMBER] [nvarchar] (30) NULL,
	[WATERBACKUP_SUMPPUMP_LOSS] [int] NULL,
	[WEATHER_RELATED_LOSS] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[PRIOR_LOSS_HOME] ADD CONSTRAINT [PK_PRIOR_LOSS_HOME_PRIOR_LOSS_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[PRIOR_LOSS_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[PRIOR_LOSS_HOME] ADD CONSTRAINT [FK_PRIOR_LOSS_HOME_CUSTOMER_ID_LOSS_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[LOSS_ID]
	)
	REFERENCES [dbo].[APP_PRIOR_LOSS_INFO]
	(
		[CUSTOMER_ID],
		[LOSS_ID]
	) 
GO

