IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_AGENCY_UNDERWRITERS]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_AGENCY_UNDERWRITERS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_AGENCY_UNDERWRITERS](
	[ASSIGN_ID] [int] NOT NULL IDENTITY (1,1),
	[AGENCY_ID] [int] NOT NULL,
	[LOB_ID] [smallint] NULL,
	[UNDERWRITERS] [nvarchar] (4000) NULL,
	[MARKETERS] [nvarchar] (4000) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_AGENCY_UNDERWRITERS] ADD CONSTRAINT [PK_MNT_AGENCY_UNDERWRITERS_ASSIGN_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[ASSIGN_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

