IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_UNDISCLOSED_DRIVER]') AND type in (N'U'))
DROP TABLE [dbo].[POL_UNDISCLOSED_DRIVER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_UNDISCLOSED_DRIVER](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[DRIVER_ID] [smallint] NOT NULL,
	[UNDISCLOSED_DRIVER_ID] [smallint] NOT NULL,
	[DRIVER_NAME] [varchar] (30) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_UNDISCLOSED_DRIVER] ADD CONSTRAINT [PK_POL_UNDISCLOSED_DRIVER_UNDISCLOSED_DRIVER_ID] PRIMARY KEY
	CLUSTERED
	(
		[UNDISCLOSED_DRIVER_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

