IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TRANSACTIONTYPELIST]') AND type in (N'U'))
DROP TABLE [dbo].[TRANSACTIONTYPELIST]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[TRANSACTIONTYPELIST](
	[TRANS_TYPE_ID] [int] NOT NULL,
	[TRANS_TYPE_NAME] [nvarchar] (200) NULL,
	[TRANS_TYPE_DESC] [nvarchar] (500) NULL,
	[TRANS_LEVEL] [nvarchar] (100) NULL,
	[IS_ACTIVE] [char] (1) NULL,
	[ADD_BY] [int] NULL,
	[ADD_DATE] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[IS_DELETED] [char] (1) NULL,
	[DELETED_DATE] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TRANSACTIONTYPELIST] ADD CONSTRAINT [PK_TRANSACTIONTYPELIST_TRANS_TYPE_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[TRANS_TYPE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

