IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MIG_IMPORT_REQUEST_FILES]') AND type in (N'U'))
DROP TABLE [dbo].[MIG_IMPORT_REQUEST_FILES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MIG_IMPORT_REQUEST_FILES](
	[IMPORT_REQUEST_FILE_ID] [int] NOT NULL,
	[IMPORT_REQUEST_ID] [int] NULL,
	[IMPORT_FILE_NAME] [nvarchar] (512) NULL,
	[IMPORT_FILE_PATH] [nvarchar] (512) NULL,
	[IMPORT_FILE_TYPE] [int] NULL,
	[FILE_IMPORTED_DATE] [datetime] NULL,
	[FILE_IMPORTED_BY] [int] NULL,
	[DISPLAY_FILE_NAME] [nvarchar] (512) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MIG_IMPORT_REQUEST_FILES] ADD CONSTRAINT [PK_MIG_IMPORT_REQUEST_FILES_IMPORT_REQUEST_FILE_ID] PRIMARY KEY
	CLUSTERED
	(
		[IMPORT_REQUEST_FILE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MIG_IMPORT_REQUEST_FILES] WITH NOCHECK ADD CONSTRAINT [FK_MIG_IMPORT_REQUEST_FILES_IMPORT_REQUEST_FILE_ID] FOREIGN KEY
	(
		[IMPORT_REQUEST_ID]
	)
	REFERENCES [dbo].[MIG_IMPORT_REQUEST]
	(
		[IMPORT_REQUEST_ID]
	) 
GO

