IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_TMP_CUSTOMER_PAYMENTS_FROM_AGENCY]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_TMP_CUSTOMER_PAYMENTS_FROM_AGENCY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_TMP_CUSTOMER_PAYMENTS_FROM_AGENCY](
	[IDEN_ROW_ID] [int] NOT NULL IDENTITY (1,1),
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_NUMBER] [nvarchar] (15) NULL,
	[AGENCY_ID] [int] NOT NULL,
	[AMOUNT] [decimal] (18,2) NOT NULL CONSTRAINT [DF_ACT_TMP_CUSTOMER_PAYMENTS_FROM_AGENCY_AMOUNT] DEFAULT ((0)),
	[DATE_CREATED] [datetime] NULL,
	[DATE_COMMITTED] [datetime] NULL,
	[REF_DEPOSIT_ID] [int] NULL,
	[REF_DEPOSIT_LINE_ITEM_ID] [int] NULL,
	[REF_EFT_SPOOL_ID] [int] NULL,
	[MIN_DUE] [decimal] (18,2) NULL,
	[TOTAL_DUE] [decimal] (18,2) NULL,
	[MODE] [int] NULL,
	[CREATED_BY_USER] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_TMP_CUSTOMER_PAYMENTS_FROM_AGENCY] ADD CONSTRAINT [PK_ACT_TMP_CUSTOMER_PAYMENTS_FROM_AGENCY_IDEN_ROW_ID] PRIMARY KEY
	CLUSTERED
	(
		[IDEN_ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

