IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_SYSTEM_PARAMS]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_SYSTEM_PARAMS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_SYSTEM_PARAMS](
	[SYS_BAD_LOGON_ATTMPT] [smallint] NULL,
	[SYS_RENEWAL_FOR_ALERT] [smallint] NULL,
	[SYS_PENDING_QUOTE_FOR_ALERT] [smallint] NULL,
	[SYS_QUOTED_QUOTE_FOR_ALERT] [smallint] NULL,
	[SYS_NUM_DAYS_EXPIRE] [smallint] NULL,
	[SYS_NUM_DAYS_PEN_TO_NTU] [smallint] NULL,
	[SYS_NUM_DAYS_EXPIRE_QUOTE] [smallint] NULL,
	[SYS_DEFAULT_POL_TERM] [smallint] NULL,
	[SYS_INDICATE_POL_AS] [nvarchar] (10) NULL,
	[SYS_GRAPH_LOGO_ALLOW] [nchar] (3) NULL,
	[SYS_INSTALLMENT_FEES] [decimal] (18,2) NULL,
	[SYS_NON_SUFFICIENT_FUND_FEES] [decimal] (18,2) NULL,
	[SYS_REINSTATEMENT_FEES] [decimal] (18,2) NULL,
	[SYS_EMPLOYEE_DISCOUNT] [decimal] (18,2) NULL,
	[SYS_PRINT_FOLLOWING] [nvarchar] (50) NULL,
	[SYS_CLAIM_NO] [numeric] (18,0) NULL,
	[SYS_INSURANCE_SCORE_VALIDITY] [nvarchar] (4) NULL,
	[SYS_MIN_INSTALLMENT_AMOUNT] [decimal] (18,2) NULL,
	[SYS_MIN_INSTALL_PLAN] [decimal] (9,2) NULL,
	[SYS_AMTUNDER_PAYMENT] [decimal] (9,2) NULL,
	[SYS_MINDAYS_PREMIUM] [smallint] NULL,
	[SYS_MINDAYS_CANCEL] [smallint] NULL,
	[SYS_POST_PHONE] [smallint] NULL,
	[SYS_POST_CANCEL] [smallint] NULL,
	[SYS_MIN_FLAT_AMOUNT_FEE] [int] NULL,
	[SYS_NON_RENEW_DAYS] [smallint] NULL,
	[SYS_INSURANCE_SCORE_FETCH_INTERVAL] [int] NULL,
	[AGENCY_COMP_COMM] [int] NULL,
	[SYS_COMPLETE_APP_COMM_APPLICABILITY] [smallint] NULL,
	[SYS_PROPERTY_INS_COMM_APPLICABILITY] [smallint] NULL,
	[POSTAGE_FEE] [int] NULL,
	[RESTR_DELIV_FEE] [int] NULL,
	[CERTIFIED_FEE] [int] NULL,
	[RET_RECEIPT_FEE] [int] NULL,
	[CLAIM_PAYMENT_LIMIT] [int] NULL,
	[CLAIM_RESERVE_LIMIT] [int] NULL,
	[SYS_MIN_ENDORSEMENT] [numeric] (8,4) NULL,
	[SYS_1099_AMOUNT] [decimal] (18,2) NULL,
	[SYS_IS_LIVE_SERVER] [char] (1) NULL,
	[SYS_MIN_INSTALLMENT_AMT] [decimal] (18,2) NULL,
	[SYS_PAYMENT_DAYS] [int] NULL,
	[SYS_CARRIER_ID] [int] NOT NULL,
	[NOTIFY_RECVE_INSURED] [int] NULL,
	[BASE_CURRENCY] [int] NULL,
	[BOLETO_TOLERANCE_LIMIT] [decimal] (18,2) NULL,
	[COMM_ON_INTEREST] [bit] NULL CONSTRAINT [DF__MNT_SYSTE__COMM___629035B0] DEFAULT ((0)),
	[CLM_RI_APPLIES_FLG] [int] NULL,
	[DAYS_FOR_BOLETO_EXPIRATION] [smallint] NULL,
	[COACC_TOLERANCE_LIMIT_PERCENTAGE] [decimal] (9,2) NULL,
	[COACC_TOLERANCE_LIMIT_AMOUNT] [decimal] (9,2) NULL,
	[REGENERATE_PAID_BOLETO] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_SYSTEM_PARAMS] ADD CONSTRAINT [FK_MNT_SYSTEM_PARAMS_SYS_CARRIER_ID] FOREIGN KEY
	(
		[SYS_CARRIER_ID]
	)
	REFERENCES [dbo].[MNT_REIN_COMAPANY_LIST]
	(
		[REIN_COMAPANY_ID]
	) 
GO

