IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_SCHEDULED_ITEMS]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_SCHEDULED_ITEMS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_SCHEDULED_ITEMS](
	[CLAIM_ID] [int] NOT NULL,
	[SCHEDULED_ITEM_ID] [int] NOT NULL,
	[ITEM_NUMBER] [nvarchar] (20) NULL,
	[DESCRIPTION] [nvarchar] (300) NULL,
	[INSURABLE_VALUE] [decimal] (9,2) NULL,
	[SERIAL_NUMBER] [nvarchar] (150) NULL,
	[DEDUCTIBLE] [int] NULL,
	[IS_ACTIVE] [char] (1) NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_SCHEDULED_ITEMS] ADD CONSTRAINT [PK_CLM_SCHEDULED_ITEMS_CLAIM_ID_SCHEDULED_ITEM_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CLAIM_ID] ASC
		,[SCHEDULED_ITEM_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_SCHEDULED_ITEMS] ADD CONSTRAINT [FK_CLM_SCHEDULED_ITEMS_CLAIM_ID] FOREIGN KEY
	(
		[CLAIM_ID]
	)
	REFERENCES [dbo].[CLM_CLAIM_INFO]
	(
		[CLAIM_ID]
	) 
GO

