IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_PRODUCT_SUSEP_PROCESS_NUMBER]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_PRODUCT_SUSEP_PROCESS_NUMBER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_PRODUCT_SUSEP_PROCESS_NUMBER](
	[LOB_ID] [smallint] NOT NULL,
	[SUSEP_PROCESS_ID] [int] NOT NULL,
	[SUSEP_PROCESS_NO] [nvarchar] (25) NULL,
	[IS_ACTIVE] [nchar] (1) NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[CREATED_DATETIME] [datetime] NOT NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[SUBLOB_ID] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_PRODUCT_SUSEP_PROCESS_NUMBER] ADD CONSTRAINT [PK_MNT_PRODUCT_SUSEP_PROCESS_NUMBER_LOB_ID_SUSEP_PROCESS_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[LOB_ID] ASC
		,[SUSEP_PROCESS_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_PRODUCT_SUSEP_PROCESS_NUMBER] WITH NOCHECK ADD CONSTRAINT [FK_MNT_PRODUCT_SUSEP_PROCESS_NUMBER_LOB_ID] FOREIGN KEY
	(
		[LOB_ID]
	)
	REFERENCES [dbo].[MNT_LOB_MASTER]
	(
		[LOB_ID]
	) 
GO

