IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_EOD_TRANSACTIONS]') AND type in (N'U'))
DROP TABLE [dbo].[POL_EOD_TRANSACTIONS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_EOD_TRANSACTIONS](
	[TRANSACTION_ID] [int] NOT NULL,
	[DESCRIPTION] [nvarchar] (100) NULL,
	[STATUS] [char] (1) NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_EOD_TRANSACTIONS] ADD CONSTRAINT [POL_EOD_TRANSACTIONS_TRANSACTION_ID] PRIMARY KEY
	CLUSTERED
	(
		[TRANSACTION_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

