IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EOD_CREDIT_CARD_SPOOL]') AND type in (N'U'))
DROP TABLE [dbo].[EOD_CREDIT_CARD_SPOOL]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[EOD_CREDIT_CARD_SPOOL](
	[IDEN_ROW_ID] [int] NOT NULL IDENTITY (1,1),
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[ENTITY_ID] [int] NULL,
	[ENTITY_TYPE] [nvarchar] (10) NULL,
	[POLICY_NUMBER] [nvarchar] (10) NULL,
	[REF_DEPOSIT_ID] [int] NULL,
	[REF_DEP_DETAIL_ID] [int] NULL,
	[TRANSACTION_AMOUNT] [decimal] (18,2) NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[PROCESSED] [char] (1) NULL,
	[PAYPAL_RESULT] [nvarchar] (200) NULL,
	[PAY_PAL_REF_ID] [nvarchar] (50) NULL,
	[ERROR_DESCRIPTION] [nvarchar] (255) NULL,
	[PROCESSED_DATETIME] [datetime] NULL,
	[REF_CHECK_ID] [int] NULL,
	[CREATED_BY] [int] NULL,
	[NOTE] [nvarchar] (1000) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[EOD_CREDIT_CARD_SPOOL] ADD CONSTRAINT [PK_EOD_CREDIT_CARD_SPOOL_IDEN_ROW_ID] PRIMARY KEY
	CLUSTERED
	(
		[IDEN_ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

