IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_LOOKUP_TABLES]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_LOOKUP_TABLES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_LOOKUP_TABLES](
	[LOOKUP_ID] [smallint] NOT NULL,
	[LOOKUP_NAME] [nvarchar] (6) NOT NULL,
	[LOOKUP_DESC] [nvarchar] (40) NULL,
	[LOOKUP_TYPE] [nchar] (1) NULL,
	[LOOKUP_TBL_EDIT] [nchar] (1) NULL,
	[LOOKUP_CODE_WIDTH] [smallint] NULL,
	[LOOKUP_DISPLAY_FORMAT] [nchar] (1) NULL,
	[LOOKUP_DESC_WIDTH] [smallint] NULL,
	[LOOKUP_LEVEL] [nchar] (1) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_LOOKUP_TABLES] ADD CONSTRAINT [PK_MNT_LOOKUP_TABLES_LOOKUP_ID] PRIMARY KEY
	CLUSTERED
	(
		[LOOKUP_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

