IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_GENERAL_LEDGER]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_GENERAL_LEDGER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_GENERAL_LEDGER](
	[GL_ID] [int] NOT NULL,
	[LEDGER_NAME] [nvarchar] (25) NULL,
	[FISCAL_BEGIN_DATE] [datetime] NULL,
	[FISCAL_END_DATE] [datetime] NULL,
	[MONTH_BEGINING] [smallint] NULL,
	[FORBID_POSTING] [nchar] (2) NULL,
	[SMALL_BALANCE] [decimal] (18,2) NULL,
	[IS_SYSTEM_LOCK] [nchar] (1) NULL,
	[IS_SYS_OUT_OF_BAL] [nchar] (1) NULL,
	[LAST_EOD_RUN_DATE_TIME] [datetime] NULL,
	[LAST_EOM_RUN_DATE_TIME] [datetime] NULL,
	[LAST_EOY_RUN_DATE_TIME] [datetime] NULL,
	[ACC_SORT_ORDER] [smallint] NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[AST_UNCOLL_PRM_CUSTOMER] [int] NULL,
	[AST_UNCOLL_PRM_AGENCY] [int] NULL,
	[AST_COMM_RECV_REINS_EXCESS_CONTRACT] [int] NULL,
	[AST_COMM_RECV_REINS_UMBRELLA_CONTRACT] [int] NULL,
	[LIB_COMM_PAYB_AGENCY_BILL] [int] NULL,
	[LIB_COMM_PAYB_DIRECT_BILL] [int] NULL,
	[LIB_REINS_PAYB_EXCESS_CONTRACT] [int] NULL,
	[LIB_REINS_PAYB_CAT_CONTRACT] [int] NULL,
	[LIB_REINS_PAYB_MCCA] [int] NULL,
	[LIB_REINS_PAYB_UMBRELLA] [int] NULL,
	[LIB_REINS_PAYB_FACULTATIVE] [int] NULL,
	[LIB_OUT_DRAFTS] [int] NULL,
	[LIB_ADVCE_PRM_DEPOSIT] [int] NULL,
	[LIB_ADVCE_PRM_DEPOSIT_2M] [int] NULL,
	[LIB_UNEARN_PRM] [int] NULL,
	[LIB_UNEARN_PRM_MCCA] [int] NULL,
	[LIB_UNEARN_PRM_CEDED_UNEARN_MCCA_REINS] [int] NULL,
	[LIB_UNEARN_PRM_CEDED_UNEARN_UMBRELLA_REINS] [int] NULL,
	[LIB_UNEARN_PRM_OTH_STATE_ASSES_FEE] [int] NULL,
	[LIB_TAX_PAYB] [int] NULL,
	[LIB_VENDOR_PAYB] [int] NULL,
	[LIB_COLL_ON_NONISSUED_POLICY] [int] NULL,
	[EQU_TRANSFER] [int] NULL,
	[INC_PRM_WRTN] [int] NULL,
	[INC_PRM_WRTN_MCCA] [int] NULL,
	[INC_PRM_WRTN_OTH_STATE_ASSESS_FEE] [int] NULL,
	[INC_REINS_CEDED_EXCESS_CON] [int] NULL,
	[INC_REINS_CEDED_CAT_CON] [int] NULL,
	[INC_REINS_CEDED_UMBRELLA_CON] [int] NULL,
	[INC_REINS_CEDED_FACUL_CON] [int] NULL,
	[INC_REINS_CEDED_MCCA_CON] [int] NULL,
	[INC_CHG_UNEARN_PRM] [int] NULL,
	[INC_CHG_UNEARN_PRM_MCCA] [int] NULL,
	[INC_CHG_UNEARN_PRM_OTH_STATE_FEE] [int] NULL,
	[INC_CHG_CEDED_UNEARN_MCCA] [int] NULL,
	[INC_CHG_CEDED_UNEARN_UMBRELLA_REINS] [int] NULL,
	[EXP_COMM_INCURRED] [int] NULL,
	[EXP_REINS_COMM_EXCESS_CON] [int] NULL,
	[EXP_REINS_COMM_UMBRELLA_CON] [int] NULL,
	[EXP_ASSIGNED_CLAIMS] [int] NULL,
	[EXP_REINS_PAID_LOSSES] [int] NULL,
	[EXP_REINS_PAID_LOSSES_CAT] [int] NULL,
	[FISCAL_ID] [smallint] NOT NULL,
	[AST_UNCOLL_PRM_SUSPENSE_AGENCY_BILL] [int] NULL,
	[AST_MCCA_FEE_SUSPENSE_DIRECT_BILL] [int] NULL,
	[AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_AGENCY_BILL] [int] NULL,
	[AST_MCCA_FEE_SUSPENSE_AGENCY_BILL] [int] NULL,
	[AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_DIRECT_BILL] [int] NULL,
	[AST_PRM_WRIT_SUSPENSE_DIRECT_BILL] [int] NULL,
	[AST_PRM_WRIT_SUSPENSE_AGENCY_BILL] [int] NULL,
	[AST_UNCOLL_PREM_IN_SUSPENSE_DIRECT_BILL] [int] NULL,
	[AST_COMM_EXPENSE_IN_SUSPENSE_DIRECT_BILL] [int] NULL,
	[AST_COMM_PAYABLE_IN_SUSPENSE_DIRECT_BILL] [int] NULL,
	[AST_COMM_EXPENSE_IN_SUSPENSE_AGENCY_BILL] [int] NULL,
	[AST_COMM_PAYABLE_IN_SUSPENSE_AGENCY_BILL] [int] NULL,
	[POSTING_LOCK_DATE] [datetime] NULL,
	[EXP_SMALL_BALANCE_WRITE_OFF] [int] NULL,
	[INC_INSTALLMENT_FEES] [int] NULL,
	[INC_RE_INSTATEMENT_FEES] [int] NULL,
	[INC_NON_SUFFICIENT_FUND_FEES] [int] NULL,
	[INC_LATE_FEES] [int] NULL,
	[INC_SERVICE_CHARGE] [int] NULL,
	[INC_CONVENIENCE_FEE] [int] NULL,
	[Bnk_Over_Payment] [int] NULL,
	[Bnk_Return_Prm_Payment] [int] NULL,
	[Bnk_Suspense_Amount] [int] NULL,
	[BNK_CLAIMS_DEFAULT_AC] [int] NULL,
	[BNK_REINSURANCE_DEFAULT_AC] [int] NULL,
	[BNK_DEPOSITS_DEFAULT_AC] [int] NULL,
	[BNK_MISC_CHK_DEFAULT_AC] [int] NULL,
	[EQU_UNASSIGNED_SURPLUS] [int] NULL,
	[CLM_CHECK_DEFAULT_AC] [int] NULL,
	[BNK_CUST_DEP_EFT_CARD] [int] NULL,
	[BNK_AGEN_CHK_DEFAULT_AC] [int] NULL,
	[BNK_VEN_CHK_DEFAULT_AC] [int] NULL,
	[EOY_PROCESSED] [bit] NULL,
	[EOY_PROCESSING_DATE] [datetime] NULL,
	[TEN99_PROCESSED] [bit] NULL,
	[TEN99_PROCESSING_DATE] [datetime] NULL,
	[INC_INTEREST_AMOUNT] [int] NULL,
	[INC_POLICY_TAXES] [int] NULL,
	[INC_POLICY_FEES] [int] NULL,
	[LIB_COI_PREMIUM_PAYB] [int] NULL,
	[AST_COI_COMM_RECV] [int] NULL,
	[AST_COI_INT_RECV] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_GENERAL_LEDGER] ADD CONSTRAINT [PK_ACT_GENERAL_LEDGER_GL_ID_FISCAL_ID] PRIMARY KEY
	CLUSTERED
	(
		[GL_ID] ASC
		,[FISCAL_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

