IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_BUDGET_CATEGORY]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_BUDGET_CATEGORY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_BUDGET_CATEGORY](
	[CATEGEORY_ID] [int] NOT NULL,
	[CATEGEORY_CODE] [int] NOT NULL,
	[CATEGORY_DEPARTEMENT_NAME] [nvarchar] (50) NULL,
	[RESPONSIBLE_EMPLOYEE_NAME] [nvarchar] (50) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_BUDGET_CATEGORY] ADD CONSTRAINT [PK_ACT_BUDGET_CATEGORY_CATEGEORY_ID] PRIMARY KEY
	CLUSTERED
	(
		[CATEGEORY_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

