IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[REALTIME_REQUEST_RESPONSE_LOG]') AND type in (N'U'))
DROP TABLE [dbo].[REALTIME_REQUEST_RESPONSE_LOG]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[REALTIME_REQUEST_RESPONSE_LOG](
	[IDEN_ROW_ID] [int] NOT NULL IDENTITY (1,1),
	[INSURANCE_SVC_RQ] [varchar] (100) NULL,
	[REQUEST_DATETIME] [datetime] NULL,
	[REQUEST_DETAILS] [nvarchar] (1000) NULL,
	[RETURN_MESSAGE] [nvarchar] (1000) NULL,
	[ADDITIONAL_INFO] [varchar] (8000) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[REALTIME_REQUEST_RESPONSE_LOG] ADD CONSTRAINT [PK_REALTIME_REQUEST_RESPONSE_LOG_IDEN_ROW_ID] PRIMARY KEY
	CLUSTERED
	(
		[IDEN_ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

