IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_FREQUENCY_MASTER]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_FREQUENCY_MASTER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_FREQUENCY_MASTER](
	[FREQUENCY_CODE] [int] NOT NULL,
	[FREQUENCY_DESCRIPTION] [nvarchar] (50) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_FREQUENCY_MASTER] ADD CONSTRAINT [PK_ACT_FREQUENCY_MASTER_FREQUENCY_CODE] PRIMARY KEY
	CLUSTERED
	(
		[FREQUENCY_CODE] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

