IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TEMP_PAGNET_IMPORT]') AND type in (N'U'))
DROP TABLE [dbo].[TEMP_PAGNET_IMPORT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[TEMP_PAGNET_IMPORT](
	[STRR] [varchar] (3208) NULL,
	[ID] [int] NOT NULL IDENTITY (1,1)
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TEMP_PAGNET_IMPORT] ADD CONSTRAINT [PK_TEMP_PAGNET_IMPORT_ID] PRIMARY KEY
	CLUSTERED
	(
		[ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

