IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_CLAUSES]') AND type in (N'U'))
DROP TABLE [dbo].[POL_CLAUSES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_CLAUSES](
	[POL_CLAUSE_ID] [int] NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[CLAUSE_ID] [int] NULL,
	[CLAUSE_TITLE] [nvarchar] (MAX) NULL,
	[CLAUSE_DESCRIPTION] [text] NULL,
	[IS_ACTIVE] [nchar] (2) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[SUSEP_LOB_ID] [int] NULL,
	[CLAUSE_TYPE] [int] NULL CONSTRAINT [DF_POL_CLAUSES_CLAUSE_TYPE] DEFAULT ((0)),
	[ATTACH_FILE_NAME] [nvarchar] (255) NULL,
	[CLAUSE_CODE] [nvarchar] (100) NULL,
	[PREVIOUS_VERSION_ID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_CLAUSES] ADD CONSTRAINT [PK_POL_CLAUSES_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_POL_CLAUSE_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[POL_CLAUSE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_CLAUSES] WITH NOCHECK ADD CONSTRAINT [FK_POL_CLAUSES_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

