IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Sheet2$]') AND type in (N'U'))
DROP TABLE [dbo].[Sheet2$]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[Sheet2$](
	[INTERFACE_CODE] [nvarchar] (255) NULL,
	[PORT_DESCRIPTION] [nvarchar] (255) NULL,
	[ENG_DESCRIPTION] [nvarchar] (255) NULL,
	[PAYMENT_METHOD_CODE] [nvarchar] (255) NULL,
	[F5] [nvarchar] (255) NULL,
	[F6] [nvarchar] (255) NULL,
	[F7] [nvarchar] (255) NULL,
	[F8] [nvarchar] (255) NULL,
	[F9] [nvarchar] (255) NULL,
	[F10] [nvarchar] (255) NULL,
	[F11] [nvarchar] (255) NULL,
	[F12] [nvarchar] (255) NULL,
	[F13] [nvarchar] (255) NULL,
	[F14] [nvarchar] (255) NULL,
	[F15] [nvarchar] (255) NULL,
	[F16] [nvarchar] (255) NULL,
	[F17] [nvarchar] (255) NULL,
	[F18] [nvarchar] (255) NULL,
	[F19] [nvarchar] (255) NULL,
	[F20] [nvarchar] (255) NULL,
	[F21] [nvarchar] (255) NULL,
	[F22] [nvarchar] (255) NULL,
	[F23] [nvarchar] (255) NULL,
	[F24] [nvarchar] (255) NULL,
	[F25] [nvarchar] (255) NULL,
	[F26] [nvarchar] (255) NULL,
	[F27] [nvarchar] (255) NULL,
	[F28] [nvarchar] (255) NULL,
	[F29] [nvarchar] (255) NULL,
	[F30] [nvarchar] (255) NULL,
	[F31] [nvarchar] (255) NULL,
	[F32] [nvarchar] (255) NULL,
	[F33] [nvarchar] (255) NULL,
	[F34] [nvarchar] (255) NULL,
	[F35] [nvarchar] (255) NULL,
	[F36] [nvarchar] (255) NULL,
	[F37] [nvarchar] (255) NULL,
	[F38] [nvarchar] (255) NULL,
	[F39] [nvarchar] (255) NULL,
	[F40] [nvarchar] (255) NULL,
	[F41] [nvarchar] (255) NULL,
	[F42] [nvarchar] (255) NULL,
	[F43] [nvarchar] (255) NULL,
	[F44] [nvarchar] (255) NULL,
	[F45] [nvarchar] (255) NULL,
	[F46] [nvarchar] (255) NULL,
	[F47] [nvarchar] (255) NULL,
	[F48] [nvarchar] (255) NULL,
	[F49] [nvarchar] (255) NULL,
	[F50] [nvarchar] (255) NULL,
	[F51] [nvarchar] (255) NULL,
	[F52] [nvarchar] (255) NULL,
	[F53] [nvarchar] (255) NULL,
	[F54] [nvarchar] (255) NULL,
	[F55] [nvarchar] (255) NULL,
	[F56] [nvarchar] (255) NULL,
	[F57] [nvarchar] (255) NULL,
	[F58] [nvarchar] (255) NULL,
	[F59] [nvarchar] (255) NULL,
	[F60] [nvarchar] (255) NULL,
	[F61] [nvarchar] (255) NULL,
	[F62] [nvarchar] (255) NULL,
	[F63] [nvarchar] (255) NULL,
	[F64] [nvarchar] (255) NULL,
	[F65] [nvarchar] (255) NULL,
	[F66] [nvarchar] (255) NULL,
	[F67] [nvarchar] (255) NULL,
	[F68] [nvarchar] (255) NULL,
	[F69] [nvarchar] (255) NULL,
	[F70] [nvarchar] (255) NULL,
	[F71] [nvarchar] (255) NULL,
	[F72] [nvarchar] (255) NULL,
	[F73] [nvarchar] (255) NULL,
	[F74] [nvarchar] (255) NULL,
	[F75] [nvarchar] (255) NULL,
	[F76] [nvarchar] (255) NULL,
	[F77] [nvarchar] (255) NULL,
	[F78] [nvarchar] (255) NULL,
	[F79] [nvarchar] (255) NULL,
	[F80] [nvarchar] (255) NULL,
	[F81] [nvarchar] (255) NULL,
	[F82] [nvarchar] (255) NULL,
	[F83] [nvarchar] (255) NULL,
	[F84] [nvarchar] (255) NULL,
	[F85] [nvarchar] (255) NULL,
	[F86] [nvarchar] (255) NULL,
	[F87] [nvarchar] (255) NULL,
	[F88] [nvarchar] (255) NULL,
	[F89] [nvarchar] (255) NULL,
	[F90] [nvarchar] (255) NULL,
	[F91] [nvarchar] (255) NULL,
	[F92] [nvarchar] (255) NULL,
	[F93] [nvarchar] (255) NULL,
	[F94] [nvarchar] (255) NULL,
	[F95] [nvarchar] (255) NULL,
	[F96] [nvarchar] (255) NULL,
	[F97] [nvarchar] (255) NULL,
	[F98] [nvarchar] (255) NULL,
	[F99] [nvarchar] (255) NULL,
	[F100] [nvarchar] (255) NULL,
	[F101] [nvarchar] (255) NULL,
	[F102] [nvarchar] (255) NULL,
	[F103] [nvarchar] (255) NULL,
	[F104] [nvarchar] (255) NULL,
	[F105] [nvarchar] (255) NULL,
	[F106] [nvarchar] (255) NULL,
	[F107] [nvarchar] (255) NULL,
	[F108] [nvarchar] (255) NULL,
	[F109] [nvarchar] (255) NULL,
	[F110] [nvarchar] (255) NULL,
	[F111] [nvarchar] (255) NULL,
	[F112] [nvarchar] (255) NULL,
	[F113] [nvarchar] (255) NULL,
	[F114] [nvarchar] (255) NULL,
	[F115] [nvarchar] (255) NULL,
	[F116] [nvarchar] (255) NULL,
	[F117] [nvarchar] (255) NULL,
	[F118] [nvarchar] (255) NULL,
	[F119] [nvarchar] (255) NULL,
	[F120] [nvarchar] (255) NULL,
	[F121] [nvarchar] (255) NULL,
	[F122] [nvarchar] (255) NULL,
	[F123] [nvarchar] (255) NULL,
	[F124] [nvarchar] (255) NULL,
	[F125] [nvarchar] (255) NULL,
	[F126] [nvarchar] (255) NULL,
	[F127] [nvarchar] (255) NULL,
	[F128] [nvarchar] (255) NULL,
	[F129] [nvarchar] (255) NULL,
	[F130] [nvarchar] (255) NULL,
	[F131] [nvarchar] (255) NULL,
	[F132] [nvarchar] (255) NULL,
	[F133] [nvarchar] (255) NULL,
	[F134] [nvarchar] (255) NULL,
	[F135] [nvarchar] (255) NULL,
	[F136] [nvarchar] (255) NULL,
	[F137] [nvarchar] (255) NULL,
	[F138] [nvarchar] (255) NULL,
	[F139] [nvarchar] (255) NULL,
	[F140] [nvarchar] (255) NULL,
	[F141] [nvarchar] (255) NULL,
	[F142] [nvarchar] (255) NULL,
	[F143] [nvarchar] (255) NULL,
	[F144] [nvarchar] (255) NULL,
	[F145] [nvarchar] (255) NULL,
	[F146] [nvarchar] (255) NULL,
	[F147] [nvarchar] (255) NULL,
	[F148] [nvarchar] (255) NULL,
	[F149] [nvarchar] (255) NULL,
	[F150] [nvarchar] (255) NULL,
	[F151] [nvarchar] (255) NULL,
	[F152] [nvarchar] (255) NULL,
	[F153] [nvarchar] (255) NULL,
	[F154] [nvarchar] (255) NULL,
	[F155] [nvarchar] (255) NULL,
	[F156] [nvarchar] (255) NULL,
	[F157] [nvarchar] (255) NULL,
	[F158] [nvarchar] (255) NULL,
	[F159] [nvarchar] (255) NULL,
	[F160] [nvarchar] (255) NULL,
	[F161] [nvarchar] (255) NULL,
	[F162] [nvarchar] (255) NULL,
	[F163] [nvarchar] (255) NULL,
	[F164] [nvarchar] (255) NULL,
	[F165] [nvarchar] (255) NULL,
	[F166] [nvarchar] (255) NULL,
	[F167] [nvarchar] (255) NULL,
	[F168] [nvarchar] (255) NULL,
	[F169] [nvarchar] (255) NULL,
	[F170] [nvarchar] (255) NULL,
	[F171] [nvarchar] (255) NULL,
	[F172] [nvarchar] (255) NULL,
	[F173] [nvarchar] (255) NULL,
	[F174] [nvarchar] (255) NULL,
	[F175] [nvarchar] (255) NULL,
	[F176] [nvarchar] (255) NULL,
	[F177] [nvarchar] (255) NULL,
	[F178] [nvarchar] (255) NULL,
	[F179] [nvarchar] (255) NULL,
	[F180] [nvarchar] (255) NULL,
	[F181] [nvarchar] (255) NULL,
	[F182] [nvarchar] (255) NULL,
	[F183] [nvarchar] (255) NULL,
	[F184] [nvarchar] (255) NULL,
	[F185] [nvarchar] (255) NULL,
	[F186] [nvarchar] (255) NULL,
	[F187] [nvarchar] (255) NULL,
	[F188] [nvarchar] (255) NULL,
	[F189] [nvarchar] (255) NULL,
	[F190] [nvarchar] (255) NULL,
	[F191] [nvarchar] (255) NULL,
	[F192] [nvarchar] (255) NULL,
	[F193] [nvarchar] (255) NULL,
	[F194] [nvarchar] (255) NULL,
	[F195] [nvarchar] (255) NULL,
	[F196] [nvarchar] (255) NULL,
	[F197] [nvarchar] (255) NULL,
	[F198] [nvarchar] (255) NULL,
	[F199] [nvarchar] (255) NULL,
	[F200] [nvarchar] (255) NULL,
	[F201] [nvarchar] (255) NULL,
	[F202] [nvarchar] (255) NULL,
	[F203] [nvarchar] (255) NULL,
	[F204] [nvarchar] (255) NULL,
	[F205] [nvarchar] (255) NULL,
	[F206] [nvarchar] (255) NULL,
	[F207] [nvarchar] (255) NULL,
	[F208] [nvarchar] (255) NULL,
	[F209] [nvarchar] (255) NULL,
	[F210] [nvarchar] (255) NULL,
	[F211] [nvarchar] (255) NULL,
	[F212] [nvarchar] (255) NULL,
	[F213] [nvarchar] (255) NULL,
	[F214] [nvarchar] (255) NULL,
	[F215] [nvarchar] (255) NULL,
	[F216] [nvarchar] (255) NULL,
	[F217] [nvarchar] (255) NULL,
	[F218] [nvarchar] (255) NULL,
	[F219] [nvarchar] (255) NULL,
	[F220] [nvarchar] (255) NULL,
	[F221] [nvarchar] (255) NULL,
	[F222] [nvarchar] (255) NULL,
	[F223] [nvarchar] (255) NULL,
	[F224] [nvarchar] (255) NULL,
	[F225] [nvarchar] (255) NULL,
	[F226] [nvarchar] (255) NULL,
	[F227] [nvarchar] (255) NULL,
	[F228] [nvarchar] (255) NULL,
	[F229] [nvarchar] (255) NULL,
	[F230] [nvarchar] (255) NULL,
	[F231] [nvarchar] (255) NULL,
	[F232] [nvarchar] (255) NULL,
	[F233] [nvarchar] (255) NULL,
	[F234] [nvarchar] (255) NULL,
	[F235] [nvarchar] (255) NULL,
	[F236] [nvarchar] (255) NULL,
	[F237] [nvarchar] (255) NULL,
	[F238] [nvarchar] (255) NULL,
	[F239] [nvarchar] (255) NULL,
	[F240] [nvarchar] (255) NULL,
	[F241] [nvarchar] (255) NULL,
	[F242] [nvarchar] (255) NULL,
	[F243] [nvarchar] (255) NULL,
	[F244] [nvarchar] (255) NULL,
	[F245] [nvarchar] (255) NULL,
	[F246] [nvarchar] (255) NULL,
	[F247] [nvarchar] (255) NULL,
	[F248] [nvarchar] (255) NULL,
	[F249] [nvarchar] (255) NULL,
	[F250] [nvarchar] (255) NULL,
	[F251] [nvarchar] (255) NULL,
	[F252] [nvarchar] (255) NULL,
	[F253] [nvarchar] (255) NULL,
	[F254] [nvarchar] (255) NULL,
	[F255] [nvarchar] (255) NULL
) ON [PRIMARY]
GO

