IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_REIN_SPLIT]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_REIN_SPLIT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_REIN_SPLIT](
	[REIN_SPLIT_DEDUCTION_ID] [int] NOT NULL,
	[REIN_EFFECTIVE_DATE] [datetime] NULL,
	[REIN_LINE_OF_BUSINESS] [nvarchar] (50) NULL,
	[REIN_STATE] [nvarchar] (50) NULL,
	[REIN_COVERAGE] [nvarchar] (500) NULL,
	[REIN_IST_SPLIT] [nvarchar] (4) NULL,
	[REIN_IST_SPLIT_COVERAGE] [nvarchar] (100) NULL,
	[REIN_2ND_SPLIT] [nvarchar] (4) NULL,
	[REIN_2ND_SPLIT_COVERAGE] [nvarchar] (100) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[POLICY_TYPE] [nvarchar] (100) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_REIN_SPLIT] ADD CONSTRAINT [PK_MNT_REIN_SPLIT_REIN_SPLIT_DEDUCTION_ID] PRIMARY KEY
	CLUSTERED
	(
		[REIN_SPLIT_DEDUCTION_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

