IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_CONTRACT_NAME]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_CONTRACT_NAME]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_CONTRACT_NAME](
	[CONTRACT_NAME_ID] [int] NOT NULL,
	[CONTRACT_NAME] [nvarchar] (100) NULL,
	[CONTRACT_DESCRIPTION] [nvarchar] (500) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_CONTRACT_NAME] ADD CONSTRAINT [PK_MNT_CONTRACT_NAME_CONTRACT_NAME_ID] PRIMARY KEY
	CLUSTERED
	(
		[CONTRACT_NAME_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

