IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLT_PREMIUM_SPLIT]') AND type in (N'U'))
DROP TABLE [dbo].[CLT_PREMIUM_SPLIT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLT_PREMIUM_SPLIT](
	[UNIQUE_ID] [numeric] (18,0) NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[APP_ID] [int] NULL,
	[APP_VERSION_ID] [int] NULL,
	[POLICY_ID] [int] NULL,
	[POLICY_VERSION_ID] [int] NULL,
	[RISK_ID] [int] NULL,
	[RISK_TYPE] [nvarchar] (10) NULL,
	[PROCESS_TYPE] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL CONSTRAINT [DF__CLT_PREMI__CREAT__278E6E52] DEFAULT (getdate()),
	[ACTL_POLICY_VERSION_ID] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLT_PREMIUM_SPLIT] ADD CONSTRAINT [PK_CLT_PREMIUM_SPLIT_UNIQUE_ID] PRIMARY KEY
	CLUSTERED
	(
		[UNIQUE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLT_PREMIUM_SPLIT] ADD CONSTRAINT [FK_CLT_PREMIUM_SPLIT_CLT_CUSTOMER_LIST] FOREIGN KEY
	(
		[CUSTOMER_ID]
	)
	REFERENCES [dbo].[CLT_CUSTOMER_LIST]
	(
		[CUSTOMER_ID]
	) 
GO

