IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_COVERAGE_RANGES]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_COVERAGE_RANGES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_COVERAGE_RANGES](
	[LIMIT_DEDUC_ID] [int] NOT NULL,
	[COV_ID] [int] NOT NULL,
	[LIMIT_DEDUC_TYPE] [nvarchar] (10) NULL,
	[LIMIT_DEDUC_AMOUNT] [decimal] (18,0) NULL,
	[IS_ACTIVE] [bit] NULL,
	[RANK] [int] NULL,
	[LIMIT_DEDUC_AMOUNT1] [decimal] (18,0) NULL,
	[IS_DEFAULT] [nchar] (1) NULL,
	[LIMIT_DEDUC_AMOUNT_TEXT] [nvarchar] (100) NULL,
	[LIMIT_DEDUC_AMOUNT1_TEXT] [nvarchar] (100) NULL,
	[EFFECTIVE_FROM_DATE] [datetime] NULL,
	[EFFECTIVE_TO_DATE] [datetime] NULL,
	[DISABLED_DATE] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_COVERAGE_RANGES] ADD CONSTRAINT [PK_MNT_COVERAGE_RANGES_LIMIT_DEDUC_ID] PRIMARY KEY
	CLUSTERED
	(
		[LIMIT_DEDUC_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

