IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PDF_FILE_LOG]') AND type in (N'U'))
DROP TABLE [dbo].[PDF_FILE_LOG]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[PDF_FILE_LOG](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[DOCUMENT_CODE] [nvarchar] (50) NOT NULL,
	[PRINT_DATETIME] [datetime] NULL,
	[URL_PATH] [nvarchar] (400) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[ENTITY_TYPE] [varchar] (50) NOT NULL,
	[AGENCY_ID] [int] NOT NULL,
	[FILE_NAME] [nvarchar] (400) NULL,
	[PROCESS_ID] [int] NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[PDF_FILE_LOG] ADD CONSTRAINT [PK_PDF_FILE_LOG_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_DOCUMENT_CODE_ENTITY_TYPE_AGENCY_ID_PROCESS_ID] PRIMARY KEY
	CLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[DOCUMENT_CODE] ASC
		,[ENTITY_TYPE] ASC
		,[AGENCY_ID] ASC
		,[PROCESS_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

