IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_AUTHORITY_LIMIT]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_AUTHORITY_LIMIT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_AUTHORITY_LIMIT](
	[LIMIT_ID] [int] NOT NULL,
	[AUTHORITY_LEVEL] [int] NOT NULL,
	[TITLE] [nvarchar] (50) NULL,
	[PAYMENT_LIMIT] [decimal] (18,2) NULL,
	[RESERVE_LIMIT] [decimal] (18,2) NULL,
	[CLAIM_ON_DUMMY_POLICY] [bit] NULL,
	[IS_ACTIVE] [char] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_AUTHORITY_LIMIT] ADD CONSTRAINT [PK_CLM_AUTHORITY_LIMIT_LIMIT_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[LIMIT_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_AUTHORITY_LIMIT] ADD CONSTRAINT [UK_AUTHORITY_LEVEL] UNIQUE
	NONCLUSTERED
	(
		[AUTHORITY_LEVEL] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

