IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_POLICY_PROCESS]') AND type in (N'U'))
DROP TABLE [dbo].[POL_POLICY_PROCESS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_POLICY_PROCESS](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[ROW_ID] [int] NOT NULL,
	[PROCESS_ID] [int] NULL,
	[PROCESS_TYPE] [nvarchar] (20) NULL,
	[NEW_CUSTOMER_ID] [int] NULL,
	[NEW_POLICY_ID] [int] NULL,
	[NEW_POLICY_VERSION_ID] [smallint] NULL,
	[POLICY_PREVIOUS_STATUS] [nvarchar] (20) NULL,
	[POLICY_CURRENT_STATUS] [nvarchar] (20) NULL,
	[PROCESS_STATUS] [nvarchar] (10) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[COMPLETED_BY] [int] NULL,
	[COMPLETED_DATETIME] [datetime] NULL,
	[COMMENTS] [nvarchar] (1000) NULL,
	[PRINT_COMMENTS] [char] (1) NULL,
	[REQUESTED_BY] [smallint] NULL,
	[EFFECTIVE_DATETIME] [datetime] NULL,
	[EXPIRY_DATE] [datetime] NULL,
	[CANCELLATION_OPTION] [int] NULL,
	[CANCELLATION_TYPE] [int] NULL,
	[REASON] [int] NULL,
	[OTHER_REASON] [nvarchar] (250) NULL,
	[RETURN_PREMIUM] [decimal] (20,2) NULL,
	[PAST_DUE_PREMIUM] [decimal] (20,2) NULL,
	[ENDORSEMENT_NO] [int] NULL,
	[PROPERTY_INSPECTION_CREDIT] [nchar] (1) NULL,
	[POLICY_TERMS] [smallint] NULL,
	[NEW_POLICY_TERM_EFFECTIVE_DATE] [datetime] NULL,
	[NEW_POLICY_TERM_EXPIRATION_DATE] [datetime] NULL,
	[DIARY_LIST_ID] [int] NULL,
	[RETURN_PREMIUM_AMOUNT] [int] NULL,
	[RETURN_MCCA_FEE_AMOUNT] [int] NULL,
	[RETURN_OTHER_FEE_AMOUNT] [int] NULL,
	[PRINTING_OPTIONS] [smallint] NULL,
	[INSURED] [smallint] NULL,
	[SEND_INSURED_COPY_TO] [smallint] NULL,
	[AUTO_ID_CARD] [smallint] NULL,
	[NO_COPIES] [int] NULL,
	[STD_LETTER_REQD] [smallint] NULL,
	[CUSTOM_LETTER_REQD] [smallint] NULL,
	[ADD_INT] [smallint] NULL,
	[ADD_INT_ID] [nvarchar] (500) NULL,
	[SEND_ALL] [smallint] NULL,
	[AGENCY_PRINT] [smallint] NULL,
	[OTHER_RES_DATE_CD] [char] (1) NULL,
	[OTHER_RES_DATE] [datetime] NULL,
	[INTERNAL_CHANGE] [char] (1) NULL,
	[APPLY_REINSTATE_FEE] [int] NULL,
	[ANOTHER_AGENCY] [int] NULL,
	[CFD_AMT] [numeric] (18,0) NULL,
	[SAME_AGENCY] [int] NULL,
	[ADVERSE_LETTER_REQD] [smallint] NULL,
	[DUE_DATE] [datetime] NULL,
	[CANCELLATION_NOTICE_SENT] [char] (1) NULL,
	[REVERT_BACK] [char] (1) NULL,
	[LAST_REVERT_BACK] [nvarchar] (20) NULL,
	[INCLUDE_REASON_DESC] [char] (1) NULL,
	[WRITTEN_OFF_PREMIUM] [decimal] (18,2) NULL,
	[COINSURANCE_NUMBER] [nvarchar] (25) NULL,
	[ENDORSEMENT_TYPE] [int] NULL CONSTRAINT [DF_POL_POLICY_PROCESS_ENDORSEMENT_TYPE] DEFAULT ((0)),
	[ENDORSEMENT_OPTION] [int] NULL,
	[SOURCE_VERSION_ID] [int] NULL,
	[CO_APPLICANT_ID] [int] NULL,
	[ENDORSEMENT_RE_ISSUE] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_POLICY_PROCESS] ADD CONSTRAINT [PK_POL_POLICY_PROCESS_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_ROW_ID] PRIMARY KEY
	CLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_POLICY_PROCESS] ADD CONSTRAINT [FK_POL_POLICY_PROCESS_PROCESS_ID_POL_PROCESS_MASTER_PROCESS_ID] FOREIGN KEY
	(
		[PROCESS_ID]
	)
	REFERENCES [dbo].[POL_PROCESS_MASTER]
	(
		[PROCESS_ID]
	) 
GO

