IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_PENHOR_RURAL_INFO]') AND type in (N'U'))
DROP TABLE [dbo].[POL_PENHOR_RURAL_INFO]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_PENHOR_RURAL_INFO](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[PENHOR_RURAL_ID] [int] NOT NULL,
	[ITEM_NUMBER] [int] NULL,
	[FESR_COVERAGE] [int] NULL,
	[MODE] [int] NULL,
	[PROPERTY] [int] NULL,
	[CULTIVATION] [int] NULL,
	[CITY] [nvarchar] (250) NULL,
	[STATE_ID] [int] NULL,
	[INSURED_AREA] [int] NULL,
	[SUBSIDY_PREMIUM] [decimal] (18,2) NULL CONSTRAINT [DF_POL_PENHOR_RURAL_INFO_SUBSIDY_PREMIUM] DEFAULT ((0)),
	[SUBSIDY_STATE] [int] NULL,
	[IS_ACTIVE] [nchar] (1) NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[CREATED_DATETIME] [datetime] NOT NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[REMARKS] [nvarchar] (4000) NULL,
	[ORIGINAL_VERSION_ID] [int] NULL,
	[CO_RISK_ID] [int] NULL,
	[CO_APPLICANT_ID] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_PENHOR_RURAL_INFO] ADD CONSTRAINT [PK_POL_PENHOR_RURAL_INFO_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_PENHOR_RURAL_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[PENHOR_RURAL_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_PENHOR_RURAL_INFO] WITH NOCHECK ADD CONSTRAINT [FK_POL_PENHOR_RURAL_INFO_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

