IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_REIN_TIV_GROUP]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_REIN_TIV_GROUP]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_REIN_TIV_GROUP](
	[REIN_TIV_GROUP_ID] [int] NOT NULL,
	[REIN_TIV_CONTRACT_NUMBER] [nvarchar] (100) NULL,
	[REIN_TIV_EFFECTIVE_DATE] [datetime] NULL,
	[REIN_TIV_FROM] [nvarchar] (15) NULL,
	[REIN_TIV_TO] [nvarchar] (15) NULL,
	[REIN_TIV_GROUP_CODE] [nchar] (2) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_REIN_TIV_GROUP] ADD CONSTRAINT [PK_MNT_REIN_TIV_GROUP_REIN_TIV_GROUP_ID] PRIMARY KEY
	CLUSTERED
	(
		[REIN_TIV_GROUP_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

