IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_BANK_RECON_UPLOAD_FILE]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_BANK_RECON_UPLOAD_FILE]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_BANK_RECON_UPLOAD_FILE](
	[FILE_ID] [int] NOT NULL IDENTITY (1,1),
	[FILE_NAME] [nvarchar] (500) NULL,
	[FILE_DESC] [nvarchar] (1000) NULL,
	[AC_RECONCILIATION_ID] [int] NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[IMPORT_DATE] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_BANK_RECON_UPLOAD_FILE] ADD CONSTRAINT [PK_ACT_BANK_RECON_UPLOAD_FILE_FILE_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[FILE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_BANK_RECON_UPLOAD_FILE] ADD CONSTRAINT [FK_ACT_BANK_RECON_UPLOAD_FILE_ACT_BANK_RECONCILIATION_AC_RECONCILIATION_ID] FOREIGN KEY
	(
		[AC_RECONCILIATION_ID]
	)
	REFERENCES [dbo].[ACT_BANK_RECONCILIATION]
	(
		[AC_RECONCILIATION_ID]
	) 
GO

