IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QUESTIONENTITYMAPPING]') AND type in (N'U'))
DROP TABLE [dbo].[QUESTIONENTITYMAPPING]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[QUESTIONENTITYMAPPING](
	[QUESMAPPINGID] [int] NOT NULL,
	[MAPPINGNAME] [nvarchar] (500) NULL,
	[ISACTIVE] [char] (1) NULL,
	[CARRIERID] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[QUESTIONENTITYMAPPING] ADD CONSTRAINT [PK_QUESTIONENTITYMAPPING_QUESMAPPINGID] PRIMARY KEY
	CLUSTERED
	(
		[QUESMAPPINGID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

