IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MODIFIED_COVERAGE_IMPORT]') AND type in (N'U'))
DROP TABLE [dbo].[MODIFIED_COVERAGE_IMPORT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MODIFIED_COVERAGE_IMPORT](
	[PRODUCT FILTER] [float] (53) NULL,
	[SUSEP ACCOUNTING LOB] [float] (53) NULL,
	[SUBLOB] [float] (53) NULL,
	[COVERAGE ID] [float] (53) NULL,
	[COVERAGE DESCRIPTION] [nvarchar] (255) NULL,
	[Effective Date] [datetime] NULL,
	[EXPIRY DATE] [datetime] NULL,
	[MAIN COVERAGE_S = YES_N = NO] [nvarchar] (255) NULL,
	[COVERAGE USED FOR RI (HAS TO BE SUMMED UP IN CASE OF RI TREATY)_] [nvarchar] (255) NULL
) ON [PRIMARY]
GO

