IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_DUMMY_POLICY]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_DUMMY_POLICY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_DUMMY_POLICY](
	[DUMMY_POLICY_ID] [int] NOT NULL,
	[CLAIM_ID] [int] NOT NULL,
	[INSURED_NAME] [nvarchar] (100) NULL,
	[POLICY_NUMBER] [nvarchar] (10) NULL,
	[EFFECTIVE_DATE] [datetime] NOT NULL,
	[LOB_ID] [smallint] NOT NULL,
	[NOTES] [nvarchar] (500) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[DUMMY_ADD1] [nvarchar] (150) NULL,
	[DUMMY_ADD2] [nvarchar] (150) NULL,
	[DUMMY_CITY] [nvarchar] (70) NULL,
	[DUMMY_ZIP] [nvarchar] (20) NULL,
	[DUMMY_STATE] [nvarchar] (20) NULL,
	[DUMMY_COUNTRY] [nvarchar] (10) NULL,
	[EXPIRATION_DATE] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_DUMMY_POLICY] ADD CONSTRAINT [PK_CLM_DUMMY_POLICY_DUMMY_POLICY_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[DUMMY_POLICY_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

