IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_UMBRELLA_POL_INFO_OTHER]') AND type in (N'U'))
DROP TABLE [dbo].[POL_UMBRELLA_POL_INFO_OTHER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_UMBRELLA_POL_INFO_OTHER](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[COMBINED_SINGLE_LIMIT] [decimal] (18,2) NULL,
	[BODILY_INJURY] [decimal] (18,2) NULL,
	[PROPERTY_DAMAGE] [decimal] (18,2) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_UMBRELLA_POL_INFO_OTHER] ADD CONSTRAINT [PK_POL_UMBRELLA_POL_INFO_OTHER_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

