IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_WORKFLOW_LIST]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_WORKFLOW_LIST]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_WORKFLOW_LIST](
	[WORKFLOW_ID] [int] NOT NULL,
	[GROUP_ID] [varchar] (20) NULL,
	[SCREEN_ID] [varchar] (20) NULL,
	[WORKFLOW_SCREENS] [varchar] (255) NULL,
	[TABLE_NAME] [varchar] (255) NULL,
	[PRIMARY_KEYS] [varchar] (255) NULL,
	[WORKFLOW_ORDER] [int] NULL,
	[WORKFLOW_TEXT] [varchar] (255) NULL,
	[IS_ACTIVE] [bit] NULL,
	[TAB_NUMBER] [smallint] NULL,
	[MENU_ID] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_WORKFLOW_LIST] ADD CONSTRAINT [PK_MNT_WORKFLOW_LIST_WORKFLOW_ID] PRIMARY KEY
	CLUSTERED
	(
		[WORKFLOW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

