IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_OCCURRENCE_DETAIL]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_OCCURRENCE_DETAIL]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_OCCURRENCE_DETAIL](
	[OCCURRENCE_DETAIL_ID] [int] NOT NULL,
	[CLAIM_ID] [int] NOT NULL,
	[LOSS_DESCRIPTION] [text] NULL,
	[AUTHORITY_CONTACTED] [nvarchar] (100) NULL,
	[REPORT_NUMBER] [nvarchar] (20) NULL,
	[VIOLATIONS] [nvarchar] (300) NULL,
	[IS_ACTIVE] [char] (1) NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[LOSS_TYPE] [nvarchar] (150) NULL,
	[LOSS_LOCATION] [nvarchar] (300) NULL,
	[ESTIMATE_AMOUNT] [decimal] (12,2) NULL,
	[OTHER_DESCRIPTION] [nvarchar] (300) NULL,
	[WATERBACKUP_SUMPPUMP_LOSS] [int] NULL,
	[WEATHER_RELATED_LOSS] [int] NULL,
	[LOSS_LOCATION_ZIP] [nvarchar] (11) NULL,
	[LOSS_LOCATION_CITY] [nvarchar] (150) NULL,
	[LOSS_LOCATION_STATE] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_OCCURRENCE_DETAIL] ADD CONSTRAINT [PK_CLM_OCCURRENCE_DETAIL_OCCURRENCE_DETAIL_ID_CLAIM_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[OCCURRENCE_DETAIL_ID] ASC
		,[CLAIM_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_OCCURRENCE_DETAIL] ADD CONSTRAINT [FK_CLM_OCCURRENCE_CLAIM_ID] FOREIGN KEY
	(
		[CLAIM_ID]
	)
	REFERENCES [dbo].[CLM_CLAIM_INFO]
	(
		[CLAIM_ID]
	) 
GO

