IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COVERAGE_STAT_REPORT_GROUPS]') AND type in (N'U'))
DROP TABLE [dbo].[COVERAGE_STAT_REPORT_GROUPS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[COVERAGE_STAT_REPORT_GROUPS](
	[LOB_ID] [int] NOT NULL,
	[COV_ID] [int] NOT NULL,
	[COV_CODE] [nvarchar] (20) NULL,
	[COV_DESC] [nvarchar] (800) NULL,
	[PERCENTAGE] [nvarchar] (20) NULL,
	[INFORCE_COV_CODE] [nvarchar] (50) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[COVERAGE_STAT_REPORT_GROUPS] ADD CONSTRAINT [PK_COVERAGE_STAT_REPORT_GROUPS_LOB_ID_COV_ID] PRIMARY KEY
	CLUSTERED
	(
		[LOB_ID] ASC
		,[COV_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

