IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_APPLICANT_LIST]') AND type in (N'U'))
DROP TABLE [dbo].[POL_APPLICANT_LIST]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_APPLICANT_LIST](
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[APPLICANT_ID] [int] NOT NULL,
	[CREATED_BY] [int] NULL,
	[MODIFIED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[LAST_UPDATED_TIME] [datetime] NULL,
	[IS_PRIMARY_APPLICANT] [int] NULL,
	[COMMISSION_PERCENT] [decimal] (8,4) NULL CONSTRAINT [DF_POL_APPLICANT_LIST_COMMISSION_PERCENT] DEFAULT ((0)),
	[FEES_PERCENT] [decimal] (8,4) NULL CONSTRAINT [DF_POL_APPLICANT_LIST_FEES_PERCENT] DEFAULT ((0)),
	[PRO_LABORE_PERCENT] [decimal] (8,4) NULL CONSTRAINT [DF_POL_APPLICANT_LIST_PRO_LABORE] DEFAULT ((0))
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_APPLICANT_LIST] ADD CONSTRAINT [PK_POL_APPLICANT_LIST_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID_APPLICANT_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[CUSTOMER_ID] ASC
		,[APPLICANT_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_APPLICANT_LIST] ADD CONSTRAINT [FK_POL_APPLICANT_LIST_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

