IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_REINSURANCE_CONTRACT_TYPE_MULTILINGUAL]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_REINSURANCE_CONTRACT_TYPE_MULTILINGUAL]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_REINSURANCE_CONTRACT_TYPE_MULTILINGUAL](
	[CONTRACTTYPEID] [int] NOT NULL,
	[CONTRACT_TYPE_DESC] [nvarchar] (25) NULL,
	[IS_ACTIVE] [char] (1) NULL,
	[LANG_ID] [int] NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_REINSURANCE_CONTRACT_TYPE_MULTILINGUAL] ADD CONSTRAINT [PK_MNT_REINSURANCE_CONTRACT_TYPE_MULTILINGUAL_CONTRACTTYPEID_LANG_ID] PRIMARY KEY
	CLUSTERED
	(
		[CONTRACTTYPEID] ASC
		,[LANG_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

