IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_ADVANCE_PAYMENT_REPORT]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_ADVANCE_PAYMENT_REPORT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_ADVANCE_PAYMENT_REPORT](
	[MONTH] [smallint] NOT NULL,
	[YEAR] [smallint] NOT NULL,
	[AGENCY_ID] [smallint] NULL,
	[CUSTOMER_ID] [smallint] NULL,
	[POLICY_NUMBER] [nvarchar] (12) NULL,
	[POLICY_EFFECTIVE_DATE] [datetime] NULL,
	[POLICY_EXPIRY_DATE] [datetime] NULL,
	[DEPOSIT_AMOUNT] [decimal] (18,2) NULL,
	[ADVANCE_MONTH] [smallint] NULL,
	[IDEN_ROW_ID] [int] NOT NULL IDENTITY (1,1)
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_ADVANCE_PAYMENT_REPORT] ADD CONSTRAINT [PK_ACT_ADVANCE_PAYMENT_REPORT_IDEN_ROW_ID] PRIMARY KEY
	CLUSTERED
	(
		[IDEN_ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

