IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_SUSEP_REPORTS_LIST]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_SUSEP_REPORTS_LIST]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_SUSEP_REPORTS_LIST](
	[REPORT_ID] [int] NOT NULL IDENTITY (1,1),
	[REPORT_NAME] [nvarchar] (200) NULL,
	[PROC_NAME] [nvarchar] (100) NULL,
	[OUTPUT_FORMAT] [nvarchar] (10) NULL,
	[IS_ACTIVE] [nvarchar] (1) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_SUSEP_REPORTS_LIST] ADD CONSTRAINT [PK_MNT_SUSEP_REPORTS_LIST] PRIMARY KEY
	NONCLUSTERED
	(
		[REPORT_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

