IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_ADJUSTER_AUTHORITY]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_ADJUSTER_AUTHORITY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_ADJUSTER_AUTHORITY](
	[ADJUSTER_AUTHORITY_ID] [int] NOT NULL,
	[LOB_ID] [smallint] NOT NULL,
	[LIMIT_ID] [int] NOT NULL,
	[EFFECTIVE_DATE] [datetime] NOT NULL,
	[IS_ACTIVE] [char] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[ADJUSTER_ID] [int] NULL,
	[NOTIFY_AMOUNT] [decimal] (12,2) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_ADJUSTER_AUTHORITY] ADD CONSTRAINT [PK_CLM_ADJUSTER_AUTHORITY_ADJUSTER_AUTHORITY_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[ADJUSTER_AUTHORITY_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_ADJUSTER_AUTHORITY] ADD CONSTRAINT [FK_CLM_ADJUSTER_AUTHORITY_LIMIT_ID] FOREIGN KEY
	(
		[LIMIT_ID]
	)
	REFERENCES [dbo].[CLM_AUTHORITY_LIMIT]
	(
		[LIMIT_ID]
	) 
GO

ALTER TABLE [dbo].[CLM_ADJUSTER_AUTHORITY] ADD CONSTRAINT [FK_CLM_ADJUSTER_AUTHORITY_LOB_ID] FOREIGN KEY
	(
		[LOB_ID]
	)
	REFERENCES [dbo].[MNT_LOB_MASTER]
	(
		[LOB_ID]
	) 
GO

