IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MIG_POLICY_COVERAGE_CODE_MAPPING]') AND type in (N'U'))
DROP TABLE [dbo].[MIG_POLICY_COVERAGE_CODE_MAPPING]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MIG_POLICY_COVERAGE_CODE_MAPPING](
	[LEADER_COVERAGE_CODE] [int] NULL,
	[ALBA_COVERAGE_CODE] [int] NULL,
	[IS_ACTIVE] [char] (1) NULL
) ON [PRIMARY]
GO

