IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_POLICY_NOTICE_TYPE_MASTER]') AND type in (N'U'))
DROP TABLE [dbo].[POL_POLICY_NOTICE_TYPE_MASTER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_POLICY_NOTICE_TYPE_MASTER](
	[NOTICE_TYPE_CODE] [varchar] (10) NOT NULL,
	[NOTICE_TYPE_DESCRIPTION] [varchar] (150) NOT NULL,
	[IS_ACTIVE] [char] (1) NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_POLICY_NOTICE_TYPE_MASTER] ADD CONSTRAINT [PK_POL_POLICY_NOTICE_TYPE_MASTER_NOTICE_TYPE_CODE] PRIMARY KEY
	CLUSTERED
	(
		[NOTICE_TYPE_CODE] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
		,FILLFACTOR = 90
	) ON [PRIMARY]
GO

