IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RTL_PROCESS_LOG]') AND type in (N'U'))
DROP TABLE [dbo].[RTL_PROCESS_LOG]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[RTL_PROCESS_LOG](
	[IDEN_ROW_ID] [int] NOT NULL IDENTITY (1,1),
	[DEPOSIT_ID] [int] NULL,
	[POLICY_NUMBER] [nvarchar] (20) NULL,
	[ACTIVITY_DESCRIPTION] [nvarchar] (1000) NULL,
	[START_DATETIME] [datetime] NULL,
	[STATUS] [nvarchar] (20) NULL,
	[FILE_NAME] [nvarchar] (200) NULL,
	[ADDITIONAL_INFO] [nvarchar] (2000) NULL,
	[AMOUNT] [decimal] (25,2) NULL CONSTRAINT [DF_RTL_PROCESS_LOG_AMOUNT] DEFAULT ((0)),
	[OUR_NUMBER] [nvarchar] (13) NULL,
	[LATE_FEE] [nvarchar] (10) NULL,
	[COINS_CARRIER_LEADER] [nvarchar] (10) NULL,
	[POLICY_HOLDER_NAME] [nvarchar] (50) NULL,
	[SUSEP_CLASS_OF_BUSINESS] [nvarchar] (10) NULL,
	[LEADER_POLICY_ID] [nvarchar] (10) NULL,
	[LEADER_DOC_ID] [nvarchar] (10) NULL,
	[BRANCH_COINS_ID] [nvarchar] (10) NULL,
	[COINSURANCE_ID] [nvarchar] (10) NULL,
	[STATUS_ID] [int] NULL,
	[ADDITIONAL_INFO_ID] [int] NULL,
	[ACTIVITY_DESCRIPTION_ID] [int] NULL,
	[PAYMENT_DATE] [datetime] NULL,
	[RISK_PREMIUM] [decimal] (25,2) NULL,
	[COMMISSION_AMOUNT] [decimal] (25,2) NULL,
	[FEE] [decimal] (25,2) NULL,
	[INTEREST] [decimal] (25,2) NULL,
	[INSTALLMENT_NO] [int] NULL,
	[NO_OF_INSTALLMENTS] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[RTL_PROCESS_LOG] ADD CONSTRAINT [PK_RTL_PROCESS_LOG_IDEN_ROW_ID] PRIMARY KEY
	CLUSTERED
	(
		[IDEN_ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

