IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_UMBRELLA_COVERAGES]') AND type in (N'U'))
DROP TABLE [dbo].[POL_UMBRELLA_COVERAGES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_UMBRELLA_COVERAGES](
	[CUSTOMER_ID] [int] NOT NULL,
	[POL_ID] [int] NOT NULL,
	[POL_VERSION_ID] [smallint] NOT NULL,
	[COVERAGE_ID] [int] NOT NULL,
	[COVERAGE_CODE_ID] [int] NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_UMBRELLA_COVERAGES] ADD CONSTRAINT [PK_POL_UMBRELLA_COVERAGES_CUSTOMER_ID_POL_ID_VERSION_ID_COVERAGE_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POL_ID] ASC
		,[POL_VERSION_ID] ASC
		,[COVERAGE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_UMBRELLA_COVERAGES] WITH NOCHECK ADD CONSTRAINT [FK_POL_UMBRELLA_COVERAGES_MNT_COVERAGE_COVERAGE_CODE_ID_COV_ID] FOREIGN KEY
	(
		[COVERAGE_CODE_ID]
	)
	REFERENCES [dbo].[MNT_COVERAGE]
	(
		[COV_ID]
	) 
GO

ALTER TABLE [dbo].[POL_UMBRELLA_COVERAGES] ADD CONSTRAINT [FK_POL_UMBRELLA_COVERAGES_POL_CUSTOMER_POLICY_LIST_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POL_ID],
		[POL_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

