IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_DEFAULT_VALUE_LIST]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_DEFAULT_VALUE_LIST]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_DEFAULT_VALUE_LIST](
	[DEFV_ID] [int] NOT NULL,
	[IS_ACTIVE] [nchar] (2) NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[CREATED_DATETIME] [datetime] NOT NULL,
	[MODIFIED_BY] [int] NOT NULL,
	[LAST_UPDATED_DATETIME] [datetime] NOT NULL,
	[DEFV_ENTITY_NAME] [nvarchar] (50) NOT NULL,
	[DEFV_VALUE] [nvarchar] (200) NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_DEFAULT_VALUE_LIST] ADD CONSTRAINT [PK_MNT_DEFAULT_VALUE_LIST_DEFV_ID] PRIMARY KEY
	CLUSTERED
	(
		[DEFV_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

