IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TEMP_PAGNET_EXPORT]') AND type in (N'U'))
DROP TABLE [dbo].[TEMP_PAGNET_EXPORT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[TEMP_PAGNET_EXPORT](
	[Interface code] [varchar] (1) NOT NULL,
	[Sequence of record] [bigint] NULL,
	[Beneficiary Type] [varchar] (1) NULL,
	[FOREIGN] [varchar] (1) NOT NULL,
	[Beneficiary Class] [varchar] (3) NOT NULL,
	[Beneficiary name] [nvarchar] (202) NULL,
	[Beneficiary ID] [nvarchar] (20) NULL,
	[Beneficiary foreign ID] [varchar] (1) NOT NULL,
	[Beneficiary Address (street name)] [nvarchar] (150) NULL,
	[Beneficiary Address (number)] [nvarchar] (20) NULL,
	[Beneficiary Address (complement)] [nvarchar] (100) NULL,
	[Beneficiary Address (district)] [nvarchar] (20) NULL,
	[Beneficiary Address (state)] [nvarchar] (10) NULL,
	[Beneficiary Address (city)] [nvarchar] (70) NULL,
	[Beneficiary Address (zip code)] [nvarchar] (4000) NULL,
	[Beneficiary e-mail address] [nvarchar] (50) NULL,
	[Beneficiary Bank Number] [int] NULL,
	[Beneficiary Bank Branch] [int] NULL,
	[Beneficiary Bank Branch Verifier Digit] [int] NULL,
	[Beneficiary Bank Account number] [int] NULL,
	[Beneficiary Bank Account Verifier Digit] [int] NULL,
	[Beneficiary Bank Account type] [varchar] (2) NOT NULL,
	[Beneficiary Bank Account Currency] [varchar] (1) NOT NULL,
	[Cód Tributação IRRF] [int] NULL,
	[Natureza do Rendimento] [int] NULL,
	[Calcula ISS ?] [int] NULL,
	[Calcula INSS ?] [int] NULL,
	[Cód Tributação INSS] [int] NULL,
	[Cód Tributação CSLL] [int] NULL,
	[Cód Tributação COFINS] [int] NULL,
	[Cód Tributação PIS] [int] NULL,
	[No de Dependentes] [int] NULL,
	[No PIS] [int] NULL,
	[Inscrição Municipal] [int] NULL,
	[Número interno do corretor] [int] NULL,
	[CBO (Classific Brasileira Ocupação)] [int] NULL,
	[Código SUSEP] [int] NULL,
	[No do Funcionário] [int] NULL,
	[Cód da Filial] [int] NULL,
	[Cód do Centro de Custo] [int] NULL,
	[DATE OF BIRTH] [varchar] (8000) NULL,
	[Payee Party Type] [varchar] (1) NULL,
	[Foreign2] [varchar] (1) NOT NULL,
	[Payee Class] [varchar] (3) NOT NULL,
	[Payee Name] [nvarchar] (202) NULL,
	[Payee ID (CPF or CNPJ)] [nvarchar] (20) NULL,
	[Payee foreign ID] [varchar] (1) NOT NULL,
	[Payee Bank Number] [int] NULL,
	[Payee Bank Branch] [int] NULL,
	[Payee Bank Branch Verifier Digit] [int] NULL,
	[Payee Bank Account no.] [int] NULL,
	[Payee Bank Account Verifier digit] [int] NULL,
	[Payee Bank Account Type] [varchar] (2) NOT NULL,
	[Payee Bank Account Currency] [varchar] (1) NOT NULL,
	[PAYMENT ID] [int] NOT NULL,
	[Carrier Code] [varchar] (5) NOT NULL,
	[Carrier Policy Branch Code] [varchar] (5) NOT NULL,
	[EVENT CODE] [varchar] (5) NULL,
	[Operation Type] [varchar] (3) NOT NULL,
	[Payment Method] [varchar] (3) NOT NULL,
	[Document number] [int] NULL,
	[Série da Nota Fiscal] [varchar] (1) NOT NULL,
	[Invoice issuance date] [varchar] (8000) NULL,
	[Invoice due date] [varchar] (8000) NULL,
	[Policy Currency] [varchar] (1) NOT NULL,
	[Exchange rate] [int] NULL,
	[Refund amount sign] [int] NULL,
	[Refund amount] [decimal] (20,2) NULL,
	[Sinal do Valor Isento IR] [int] NULL,
	[Valor Isento IR] [decimal] (18,2) NULL,
	[Sinal do Valor Tributável IR] [int] NULL,
	[Valor Tributável IR] [int] NULL,
	[Sinal do Valor Isento ISS] [int] NULL,
	[Valor Isento ISS] [decimal] (18,2) NULL,
	[Sinal do Valor Tributável ISS] [int] NULL,
	[Valor Tributável ISS] [int] NULL,
	[Sinal do Valor Isento INSS] [int] NULL,
	[Valor Isento INSS] [decimal] (18,2) NULL,
	[Sinal do Valor Tributável INSS] [int] NULL,
	[Valor Tributável INSS] [int] NULL,
	[Sinal do Valor Isento CSLL/COFINS/PIS] [int] NULL,
	[Valor Isento CSLL/COFINS/PIS] [decimal] (18,2) NULL,
	[Sinal do Valor Tributável CSLL/COFINS/PIS] [int] NULL,
	[Valor Tributável CSLL/COFINS/PIS] [int] NULL,
	[Sinal do Valor IR] [int] NULL,
	[Valor IR] [int] NULL,
	[Sinal do Valor ISS] [int] NULL,
	[Valor ISS] [int] NULL,
	[Sinal do Valor Desconto] [int] NULL,
	[Valor Desconto] [int] NULL,
	[Sinal do Valor Multa] [int] NULL,
	[Valor Multa] [int] NULL,
	[REFUND PAYMENT DESCRIPTION] [varchar] (25) NOT NULL,
	[Policy Branch Code] [nvarchar] (11) NULL,
	[Profit Center code] [varchar] (1) NOT NULL,
	[A_DEFINIR1] [int] NULL,
	[A_DEFINIR2] [int] NULL,
	[Policy Accounting LOB] [nvarchar] (10) NULL,
	[A_DEFINIR3] [int] NULL,
	[Apólice] [int] NULL,
	[Apólice (cont)] [int] NULL,
	[Endorsement number] [int] NULL,
	[Parcela] [int] NULL,
	[A_DEFINIR4] [int] NULL,
	[A_DEFINIR5] [int] NULL,
	[Data de quitação da parcela] [int] NULL,
	[Tomador/ Descrição] [int] NULL,
	[Prêmio] [int] NULL,
	[% Comissão] [int] NULL,
	[A_DEFINIR6] [int] NULL,
	[A_DEFINIR7] [int] NULL,
	[A_DEFINIR8] [int] NULL,
	[Tipo de Movimento] [varchar] (1) NOT NULL,
	[Data do Pagamento] [int] NULL,
	[Sinal do Valor Pago] [int] NULL,
	[Valor Pago] [int] NULL,
	[Moeda do pagamento] [int] NULL,
	[Código do Banco] [int] NULL,
	[No da Agência] [int] NULL,
	[No da Conta Corrente] [int] NULL,
	[No do Cheque] [int] NULL,
	[Sinal do Valor IR_2] [int] NULL,
	[Valor IR_2] [int] NULL,
	[Sinal do Valor ISS_2] [int] NULL,
	[Valor ISS_2] [int] NULL,
	[Sinal do Valor INSS] [int] NULL,
	[Valor INSS] [int] NULL,
	[Sinal do Valor CSLL] [int] NULL,
	[Valor CSLL] [int] NULL,
	[Sinal do Valor COFINS] [int] NULL,
	[Valor COFINS] [int] NULL,
	[Sinal do Valor PIS] [int] NULL,
	[Valor PIS] [int] NULL,
	[Cod Ocorrencia] [int] NULL,
	[Motivo do Cancelamento do Cheque] [int] NULL,
	[Forma de Pagamento] [int] NULL,
	[Código do Banco Pagador] [int] NULL,
	[No da Agência_2] [int] NULL,
	[No da Conta Corrente_2] [int] NULL,
	[Taxa conversão] [int] NULL
) ON [PRIMARY]
GO

