IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_LITIGATION_INFORMATION]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_LITIGATION_INFORMATION]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_LITIGATION_INFORMATION](
	[CLAIM_ID] [int] NOT NULL,
	[LITIGATION_ID] [int] NOT NULL,
	[JUDICIAL_PROCESS_NO] [nvarchar] (40) NULL,
	[JUDICIAL_COMPLAINT_STATE] [int] NULL,
	[PLAINTIFF_NAME] [nvarchar] (40) NULL,
	[PLAINTIFF_CPF] [nvarchar] (40) NULL,
	[PLAINTIFF_REQUESTED_AMOUNT] [decimal] (14,2) NULL,
	[JUDICIAL_PROCESS_DATE] [datetime] NULL,
	[EXPERT_SERVICE_ID] [int] NULL,
	[DEFEDANT_OFFERED_AMOUNT] [decimal] (14,2) NULL,
	[ESTIMATE_CLASSIFICATION] [int] NULL,
	[OPERATION_REASON] [int] NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_LITIGATION_INFORMATION] ADD CONSTRAINT [PK_CLM_LITIGATION_INFORMATION_CLAIM_ID_LITIGATION_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CLAIM_ID] ASC
		,[LITIGATION_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_LITIGATION_INFORMATION] WITH NOCHECK ADD CONSTRAINT [FK_CLM_LITIGATION_INFORMATION_CLAIM_ID] FOREIGN KEY
	(
		[CLAIM_ID]
	)
	REFERENCES [dbo].[CLM_CLAIM_INFO]
	(
		[CLAIM_ID]
	) 
GO

