IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_GENERAL_COVERAGE_LIMITS]') AND type in (N'U'))
DROP TABLE [dbo].[POL_GENERAL_COVERAGE_LIMITS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_GENERAL_COVERAGE_LIMITS](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[COVERAGE_L_AMOUNT] [decimal] (18,0) NULL,
	[COVERAGE_L_ID] [int] NULL,
	[COVERAGE_L_AGGREGATE] [decimal] (18,0) NULL,
	[COVERAGE_O_AMOUNT] [decimal] (18,0) NULL,
	[COVERAGE_O_ID] [int] NULL,
	[COVERAGE_O_AGGREGATE] [decimal] (18,0) NULL,
	[COVERAGE_M_EACH_PERSON_AMOUNT] [decimal] (18,0) NULL,
	[COVERAGE_M_EACH_PERSON_ID] [int] NULL,
	[COVERAGE_M_EACH_OCC_AMOUNT] [decimal] (18,0) NULL,
	[COVERAGE_M_EACH_OCC_ID] [int] NULL,
	[TOTAL_GENERAL_AGGREGATE] [decimal] (18,0) NULL,
	[IS_ACTIVE] [char] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_GENERAL_COVERAGE_LIMITS] ADD CONSTRAINT [PK_POL_GENERAL_COVERAGE_LIMITS_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] PRIMARY KEY
	CLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_GENERAL_COVERAGE_LIMITS] ADD CONSTRAINT [FK_POL_GENERAL_COVERAGE_LIMITS_POL_CUSTOMER_POLICY_LIST_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

