IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_FEES_REVERSED_AT_DEPOSIT]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_FEES_REVERSED_AT_DEPOSIT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_FEES_REVERSED_AT_DEPOSIT](
	[RECON_GROUP_ID] [int] NOT NULL,
	[CUSTOMER_OPEN_ITEM_ID] [int] NOT NULL,
	[ORIGIAL_FEES_AMOUNT] [decimal] (18,2) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_FEES_REVERSED_AT_DEPOSIT] ADD CONSTRAINT [PK_ACT_FEES_REVERSED_AT_DEPOSIT] PRIMARY KEY
	CLUSTERED
	(
		[RECON_GROUP_ID] ASC
		,[CUSTOMER_OPEN_ITEM_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

