IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_REMUNERATION]') AND type in (N'U'))
DROP TABLE [dbo].[POL_REMUNERATION]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_REMUNERATION](
	[REMUNERATION_ID] [int] NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[BROKER_ID] [int] NULL,
	[COMMISSION_PERCENT] [numeric] (8,4) NULL,
	[COMMISSION_TYPE] [int] NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[BRANCH] [numeric] (8,0) NULL,
	[AMOUNT] [decimal] (18,2) NOT NULL CONSTRAINT [DF_POL_REMUNERATION_AMOUNT] DEFAULT ((0)),
	[LEADER] [int] NULL,
	[NAME] [nvarchar] (100) NULL,
	[RISK_ID] [int] NULL CONSTRAINT [DF__POL_REMUN__RISK___2E9AC507] DEFAULT ((0)),
	[CO_APPLICANT_ID] [int] NULL CONSTRAINT [DF_POL_REMUNERATION_CO_APPLICANT_ID] DEFAULT ((0))
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_REMUNERATION] ADD CONSTRAINT [PK_POL_REMUNERATION_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_REMUNERATION_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[REMUNERATION_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_REMUNERATION] WITH NOCHECK ADD CONSTRAINT [FK_POL_REMUNERATION_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

