IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_VENDOR_OPEN_ITEMS]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_VENDOR_OPEN_ITEMS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_VENDOR_OPEN_ITEMS](
	[IDEN_ROW_ID] [int] NOT NULL IDENTITY (1,1),
	[UPDATED_FROM] [nchar] (1) NULL,
	[SOURCE_ROW_ID] [int] NULL,
	[SOURCE_NUM] [nvarchar] (50) NULL,
	[SOURCE_TRAN_DATE] [datetime] NULL,
	[SOURCE_EFF_DATE] [datetime] NULL,
	[VENDOR_ID] [int] NULL,
	[POSTING_DATE] [datetime] NULL,
	[TOTAL_DUE] [decimal] (18,2) NULL,
	[TOTAL_PAID] [decimal] (18,2) NULL,
	[PAYMENT_DATE] [datetime] NULL,
	[DATE_FULL_PAID] [datetime] NULL,
	[PAYMENT_STATUS] [nchar] (1) NULL,
	[NOT_COUNTED_RECEIVABLE] [nchar] (1) NULL,
	[DIV_ID] [smallint] NULL,
	[DEPT_ID] [smallint] NULL,
	[PC_ID] [smallint] NULL,
	[IS_TEMP_ENTRY] [nchar] (1) NULL,
	[IN_RECON] [nchar] (1) NULL,
	[AMT_IN_RECON] [decimal] (18,2) NULL,
	[OPEN_RECON_CTR] [smallint] NULL,
	[BALANCE] [decimal] (18,2) NULL,
	[ITEM_TRAN_TYPE] [nvarchar] (20) NULL,
	[ITEM_TRAN_CODE] [nvarchar] (20) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_VENDOR_OPEN_ITEMS] ADD CONSTRAINT [PK_ACT_VENDOR_OPEN_ITEMS_IDEN_ROW_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[IDEN_ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
		,FILLFACTOR = 90
	) ON [PRIMARY]
GO

