IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_UMBRELLA_LIMITS]') AND type in (N'U'))
DROP TABLE [dbo].[POL_UMBRELLA_LIMITS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_UMBRELLA_LIMITS](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[POLICY_LIMITS] [decimal] (18,0) NULL,
	[RETENTION_LIMITS] [decimal] (18,0) NULL,
	[UNINSURED_MOTORIST_LIMIT] [decimal] (18,0) NULL,
	[UNDERINSURED_MOTORIST_LIMIT] [decimal] (18,0) NULL,
	[OTHER_LIMIT] [decimal] (18,0) NULL,
	[OTHER_DESCRIPTION] [nvarchar] (65) NULL,
	[BASIC] [decimal] (18,0) NULL,
	[RESIDENCES_OWNER_OCCUPIED] [decimal] (18,0) NULL,
	[NUM_OF_RENTAL_UNITS] [int] NULL,
	[RENTAL_UNITS] [decimal] (18,0) NULL,
	[NUM_OF_AUTO] [int] NULL,
	[AUTOMOBILES] [decimal] (18,0) NULL,
	[NUM_OF_OPERATORS] [int] NULL,
	[OPER_UNDER_AGE] [decimal] (18,0) NULL,
	[NUM_OF_UNLIC_RV] [int] NULL,
	[UNLIC_RV] [decimal] (18,0) NULL,
	[NUM_OF_UNINSU_MOTORIST] [int] NULL,
	[UNISU_MOTORIST] [decimal] (18,0) NULL,
	[UNDER_INSURED_MOTORIST] [decimal] (18,0) NULL,
	[WATERCRAFT] [decimal] (18,0) NULL,
	[NUM_OF_OTHER] [int] NULL,
	[OTHER] [decimal] (18,0) NULL,
	[DEPOSIT] [decimal] (18,0) NULL,
	[ESTIMATED_TOTAL_PRE] [decimal] (18,0) NULL,
	[CALCULATIONS] [nvarchar] (100) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[TERRITORY] [int] NULL,
	[CLIENT_UPDATE_DATE] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_UMBRELLA_LIMITS] ADD CONSTRAINT [PK_POL_UMBRELLA_LIMITS_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

