IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_REINSURANCE_MAJORMINOR_PARTICIPATION]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_REINSURANCE_MAJORMINOR_PARTICIPATION]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_REINSURANCE_MAJORMINOR_PARTICIPATION](
	[PARTICIPATION_ID] [int] NOT NULL,
	[CONTRACT_ID] [int] NULL,
	[PARTICIPATION_TYPE] [char] (5) NULL,
	[NET_RETENTION] [int] NULL,
	[REINSURANCE_COMPANY] [nvarchar] (150) NULL,
	[WHOLE_PERCENT] [decimal] (18,0) NULL,
	[SIGNED_LINE_PERCENT] [decimal] (18,0) NULL,
	[REINSURANCE_ACC_NUMBER] [nvarchar] (50) NULL,
	[SEP_ACC] [nvarchar] (50) NULL,
	[IS_ACTIVE] [char] (1) NULL,
	[CREATED_BY] [smallint] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [smallint] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[LAYER] [int] NULL,
	[MINOR_PARTICIPANTS] [int] NULL,
	[REIN_COMPANY_ID] [int] NULL,
	[MAJOR_PARTICIPANTS] [nvarchar] (150) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_REINSURANCE_MAJORMINOR_PARTICIPATION] ADD CONSTRAINT [PK_MNT_REINSURANCE_MAJORMINOR_PARTICIPATION_PARTICIPATION_ID] PRIMARY KEY
	CLUSTERED
	(
		[PARTICIPATION_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

