IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[table22]') AND type in (N'U'))
DROP TABLE [dbo].[table22]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[table22](
	[id] [int] NOT NULL IDENTITY (1,1),
	[foo] [nvarchar] (20) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[table22] ADD CONSTRAINT [PK__table222__6D31869D] PRIMARY KEY
	CLUSTERED
	(
		[id] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

