IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_DWELLING_COVERAGE]') AND type in (N'U'))
DROP TABLE [dbo].[POL_DWELLING_COVERAGE]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_DWELLING_COVERAGE](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[DWELLING_ID] [smallint] NOT NULL,
	[DWELLING_LIMIT] [decimal] (18,2) NULL,
	[DWELLING_REPLACE_COST] [nchar] (1) NULL,
	[OTHER_STRU_LIMIT] [decimal] (18,2) NULL,
	[OTHER_STRU_DESC] [nvarchar] (100) NULL,
	[PERSONAL_PROP_LIMIT] [decimal] (18,2) NULL,
	[REPLACEMENT_COST_CONTS] [nchar] (1) NULL,
	[LOSS_OF_USE] [nvarchar] (20) NULL,
	[PERSONAL_LIAB_LIMIT] [decimal] (18,2) NULL,
	[MED_PAY_EACH_PERSON] [decimal] (18,0) NULL,
	[ALL_PERILL_DEDUCTIBLE_AMT] [decimal] (18,2) NULL,
	[THEFT_DEDUCTIBLE_AMT] [decimal] (18,2) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_DWELLING_COVERAGE] ADD CONSTRAINT [PK_POL_DWELLING_COVERAGE_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID_DWELLING_ID] PRIMARY KEY
	CLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[DWELLING_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_DWELLING_COVERAGE] ADD CONSTRAINT [FK_POL_DWELLING_COVERAGE_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID_DWELLING_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[DWELLING_ID]
	)
	REFERENCES [dbo].[POL_DWELLINGS_INFO]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[DWELLING_ID]
	) 
GO

