IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_DWELLING_ENDORSEMENTS]') AND type in (N'U'))
DROP TABLE [dbo].[POL_DWELLING_ENDORSEMENTS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_DWELLING_ENDORSEMENTS](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[DWELLING_ID] [smallint] NOT NULL,
	[ENDORSEMENT_ID] [smallint] NOT NULL,
	[REMARKS] [nvarchar] (500) NULL,
	[DWELLING_ENDORSEMENT_ID] [int] NULL,
	[EDITION_DATE] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_DWELLING_ENDORSEMENTS] ADD CONSTRAINT [PK_POL_DWELLING_ENDORSEMENTS_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID_ENDORSEMENT_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[DWELLING_ID] ASC
		,[ENDORSEMENT_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_DWELLING_ENDORSEMENTS] ADD CONSTRAINT [FK_POL_DWELLINGS_ENDORSEMENTS_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID_DWELLING_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[DWELLING_ID]
	)
	REFERENCES [dbo].[POL_DWELLINGS_INFO]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID],
		[DWELLING_ID]
	) 
GO

