IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLT_CUSTOMER_NOTES]') AND type in (N'U'))
DROP TABLE [dbo].[CLT_CUSTOMER_NOTES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLT_CUSTOMER_NOTES](
	[NOTES_ID] [smallint] NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[NOTES_SUBJECT] [nvarchar] (255) NULL,
	[NOTES_TYPE] [int] NULL,
	[POLICY_ID] [smallint] NULL,
	[POLICY_VER_TRACKING_ID] [smallint] NULL,
	[CLAIMS_ID] [int] NULL,
	[NOTES_DESC] [text] NULL,
	[VISIBLE_TO_AGENCY] [nvarchar] (1) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[CUSTOMER_TYPE] [nchar] (3) NULL,
	[QQ_APP_POL] [nvarchar] (10) NULL,
	[DIARY_ITEM_REQ] [char] (1) NULL,
	[FOLLOW_UP_DATE] [datetime] NULL,
	[TO_FOLLOWUP_ID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLT_CUSTOMER_NOTES] ADD CONSTRAINT [PK_CLT_CUSTOMER_NOTES_NOTES_ID] PRIMARY KEY
	CLUSTERED
	(
		[NOTES_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLT_CUSTOMER_NOTES] ADD CONSTRAINT [FK_CLT_CUSTOMER_NOTES_CLT_CUSTOMER_LIST_CUSTOMER_ID] FOREIGN KEY
	(
		[CUSTOMER_ID]
	)
	REFERENCES [dbo].[CLT_CUSTOMER_LIST]
	(
		[CUSTOMER_ID]
	) 
GO

