IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_REQUEST_RESPONSE_LOG]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_REQUEST_RESPONSE_LOG]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_REQUEST_RESPONSE_LOG](
	[ROW_ID] [int] NOT NULL IDENTITY (1,1),
	[CUSTOMER_ID] [int] NULL,
	[POLICY_ID] [int] NULL,
	[POLICY_VERSION_ID] [smallint] NULL,
	[CATEGORY_ID] [int] NULL,
	[SERVICE_VENDOR] [nvarchar] (50) NULL,
	[CREATED_BY] [int] NULL,
	[REQUEST_DATETIME] [datetime] NULL,
	[RESPONSE_DATETIME] [datetime] NULL,
	[IIX_REQUEST] [text] NULL,
	[IIX_RESPONSE] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_REQUEST_RESPONSE_LOG] ADD CONSTRAINT [PK_MNT_REQUEST_RESPONSE_LOG_ROW_ID] PRIMARY KEY
	CLUSTERED
	(
		[ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

