IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MVR_EXCEPTION]') AND type in (N'U'))
DROP TABLE [dbo].[MVR_EXCEPTION]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MVR_EXCEPTION](
	[ID] [int] NOT NULL IDENTITY (25001,1),
	[CUSTOMER_ID] [int] NULL,
	[APP_ID] [int] NULL,
	[APP_VERSION_ID] [smallint] NULL,
	[POL_ID] [int] NULL,
	[POL_VERSION_ID] [smallint] NULL,
	[MVR_CODE] [nvarchar] (500) NULL,
	[MVR_DESCRIPTION] [nvarchar] (500) NULL,
	[MVR_DATE] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MVR_EXCEPTION] ADD CONSTRAINT [PK_MVR_EXCEPTION_ID] PRIMARY KEY
	CLUSTERED
	(
		[ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

