IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MIG_IL_CO_APPLICANT_DETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[MIG_IL_CO_APPLICANT_DETAILS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO

CREATE TABLE [dbo].[MIG_IL_CO_APPLICANT_DETAILS](
	[IMPORT_REQUEST_ID] [int] NOT NULL,
	[IMPORT_SERIAL_NO] [bigint] NOT NULL,
	[CUSTOMER_ID] [int] NULL,
	[POLICY_ID] [int] NULL,
	[LOB_ID] [int] NULL,
	[POLICY_VERSION_ID] [smallint] NULL,
	[IS_ACTIVE] [nchar] (1) NULL CONSTRAINT [MIG_IL_CO_APPLICANT_DETAILS_IS_ACTIVE] DEFAULT ('N'),
	[IS_PROCESSED] [char] (1) NULL CONSTRAINT [MIG_IL_CO_APPLICANT_DETAILS_IS_DELETED] DEFAULT ('N'),
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[HAS_ERRORS] [bit] NULL CONSTRAINT [MIG_IL_CO_APPLICANT_DETAILS_HAS_ERRORS] DEFAULT ('N'),
	[ERROR_TYPES] [nvarchar] (4000) NULL,
	[ERROR_COLUMNS] [nvarchar] (4000) NULL,
	[ERRORCOLUMNVALUES] [nvarchar] (4000) NULL,
	[CUSTOMER_CODE] [nvarchar] (50) NULL,
	[COAPPLICANT_CODE] [nvarchar] (50) NULL,
	[CUST_TYPE] [int] NULL,
	[CUSTOMER_NAME] [nvarchar] (200) NULL,
	[MIDDLE_NAME] [nvarchar] (200) NULL,
	[LAST_NAME] [nvarchar] (200) NULL,
	[TITLE] [int] NULL,
	[ZIP CODE] [nvarchar] (50) NULL,
	[ADDRESS] [nvarchar] (300) NULL,
	[NUMBER] [nvarchar] (50) NULL,
	[COMPLIMENT] [nvarchar] (50) NULL,
	[DISTRICT] [nvarchar] (50) NULL,
	[CITY] [nvarchar] (150) NULL,
	[COUNTRY] [int] NULL,
	[STATE] [int] NULL,
	[CPF/CNPJ] [nvarchar] (50) NULL,
	[REG_ID_ISSUE] [nvarchar] (10) NULL,
	[ORIGINAL_ISSUE] [nvarchar] (50) NULL,
	[REG_IDENTIFICATION] [nvarchar] (50) NULL,
	[EMAIL_ADDRESS] [nvarchar] (100) NULL,
	[MARITAL_STATUS] [int] NULL,
	[CREATION DATE] [nvarchar] (10) NULL,
	[DATE OF BIRTH] [nvarchar] (10) NULL,
	[GENDER] [nvarchar] (2) NULL,
	[HOME_PHONE] [nvarchar] (50) NULL,
	[ACCOUNT_TYPE] [int] NULL,
	[ACCOUNT_NUMBER] [nvarchar] (50) NULL,
	[BANK_NAME] [nvarchar] (100) NULL,
	[BANK_BRANCH] [nvarchar] (50) NULL,
	[BANK_NUMBER] [nvarchar] (50) NULL,
	[MOBILE] [nvarchar] (50) NULL,
	[BUSINESS_PHONE] [nvarchar] (50) NULL,
	[EXT] [nvarchar] (50) NULL,
	[FAX] [nvarchar] (50) NULL,
	[REMARKS] [nvarchar] (500) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MIG_IL_CO_APPLICANT_DETAILS] ADD CONSTRAINT [PK_MIG_IL_CO_APPLICANT_DETAILS_IMPORT_REQUEST_ID_SERIAL_NO] PRIMARY KEY
	NONCLUSTERED
	(
		[IMPORT_REQUEST_ID] ASC
		,[IMPORT_SERIAL_NO] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

