IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_WATERCRAFT_GEN_INFO]') AND type in (N'U'))
DROP TABLE [dbo].[POL_WATERCRAFT_GEN_INFO]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_WATERCRAFT_GEN_INFO](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[HAS_CURR_ADD_THREE_YEARS] [nchar] (1) NULL,
	[PHY_MENTL_CHALLENGED] [nchar] (1) NULL,
	[DRIVER_SUS_REVOKED] [nchar] (1) NULL,
	[IS_CONVICTED_ACCIDENT] [char] (1) NULL,
	[ANY_OTH_INSU_COMP] [nchar] (1) NULL,
	[OTHER_POLICY_NUMBER_LIST] [nvarchar] (50) NULL,
	[ANY_LOSS_THREE_YEARS] [nchar] (1) NULL,
	[COVERAGE_DECLINED] [nchar] (1) NULL,
	[DEGREE_CONVICTION] [nchar] (1) NULL,
	[IS_CREDIT] [nchar] (1) NULL,
	[CREDIT_DETAILS] [nvarchar] (50) NULL,
	[IS_RENTED_OTHERS] [nchar] (1) NULL,
	[IS_REGISTERED_OTHERS] [nchar] (1) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[HAS_CURR_ADD_THREE_YEARS_DESC] [nvarchar] (50) NULL,
	[PHY_MENTL_CHALLENGED_DESC] [nvarchar] (50) NULL,
	[DRIVER_SUS_REVOKED_DESC] [nvarchar] (50) NULL,
	[IS_CONVICTED_ACCIDENT_DESC] [nvarchar] (50) NULL,
	[ANY_LOSS_THREE_YEARS_DESC] [nvarchar] (50) NULL,
	[COVERAGE_DECLINED_DESC] [nvarchar] (50) NULL,
	[DEGREE_CONVICTION_DESC] [nvarchar] (50) NULL,
	[IS_RENTED_OTHERS_DESC] [nvarchar] (50) NULL,
	[IS_REGISTERED_OTHERS_DESC] [nvarchar] (50) NULL,
	[DRINK_DRUG_VOILATION] [nchar] (1) NULL,
	[MINOR_VIOLATION] [nchar] (1) NULL,
	[PARTICIPATE_RACE] [nchar] (2) NULL,
	[CARRY_PASSENGER_FOR_CHARGE] [nchar] (2) NULL,
	[TOT_YRS_OPERATORS_EXP] [int] NULL,
	[PARTICIPATE_RACE_DESC] [nvarchar] (50) NULL,
	[CARRY_PASSENGER_FOR_CHARGE_DESC] [nvarchar] (50) NULL,
	[IS_PRIOR_INSURANCE_CARRIER] [nchar] (2) NULL,
	[PRIOR_INSURANCE_CARRIER_DESC] [nvarchar] (75) NULL,
	[IS_BOAT_COOWNED] [nchar] (1) NULL,
	[IS_BOAT_COOWNED_DESC] [nvarchar] (50) NULL,
	[BOAT_HOME_DISCOUNT] [nchar] (1) NULL,
	[MULTI_POLICY_DISC_APPLIED] [nchar] (2) NULL,
	[MULTI_POLICY_DISC_APPLIED_PP_DESC] [nvarchar] (50) NULL,
	[ANY_BOAT_AMPHIBIOUS] [nchar] (1) NULL,
	[ANY_BOAT_AMPHIBIOUS_DESC] [nvarchar] (50) NULL,
	[ANY_BOAT_RESIDENCE] [nchar] (1) NULL,
	[ANY_BOAT_RESIDENCE_DESC] [nvarchar] (50) NULL,
	[IS_BOAT_USED_IN_ANY_WATER] [nchar] (1) NULL,
	[IS_BOAT_USED_IN_ANY_WATER_DESC] [nvarchar] (50) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_WATERCRAFT_GEN_INFO] ADD CONSTRAINT [PK_POL_WATERCRAFT_GEN_INFO_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_WATERCRAFT_GEN_INFO] WITH NOCHECK ADD CONSTRAINT [FK_POL_WATERCRAFT_GEN_INFO_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

