IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_REIN_LOSSLAYER]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_REIN_LOSSLAYER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_REIN_LOSSLAYER](
	[LOSS_LAYER_ID] [int] NOT NULL,
	[CONTRACT_ID] [int] NULL,
	[LAYER] [int] NULL,
	[COMPANY_RETENTION] [int] NULL,
	[LAYER_AMOUNT] [nvarchar] (15) NULL,
	[RETENTION_AMOUNT] [numeric] (12,2) NULL,
	[RETENTION_PERCENTAGE] [numeric] (7,4) NULL,
	[REIN_CEDED] [numeric] (12,2) NULL,
	[IS_ACTIVE] [char] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[REIN_CEDED_PERCENTAGE] [numeric] (7,4) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_REIN_LOSSLAYER] ADD CONSTRAINT [PK_MNT_REIN_LOSSLAYER_LOSS_LAYER_ID] PRIMARY KEY
	CLUSTERED
	(
		[LOSS_LAYER_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_REIN_LOSSLAYER] ADD CONSTRAINT [FK__MNT_REIN___CONTR__64B44AC7] FOREIGN KEY
	(
		[CONTRACT_ID]
	)
	REFERENCES [dbo].[MNT_REINSURANCE_CONTRACT]
	(
		[CONTRACT_ID]
	) 
GO

