IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_TRANSACTION_TYPE_LIST]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_TRANSACTION_TYPE_LIST]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_TRANSACTION_TYPE_LIST](
	[TRANS_TYPE_ID] [smallint] NOT NULL,
	[TRANS_TYPE_NAME] [nvarchar] (100) NULL,
	[TRANS_TYPE_DESC] [nvarchar] (255) NULL,
	[TRANS_LEVEL] [nvarchar] (50) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_TRANSACTION_TYPE_LIST] ADD CONSTRAINT [PK_MNT_TRANSACTION_TYPE_LIST_TRANS_TYPE_ID] PRIMARY KEY
	CLUSTERED
	(
		[TRANS_TYPE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

