IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LAST_VISITED_ITEMS]') AND type in (N'U'))
DROP TABLE [dbo].[LAST_VISITED_ITEMS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[LAST_VISITED_ITEMS](
	[USER_ID] [int] NOT NULL,
	[USER_SYSTEM_ID] [varchar] (8) NOT NULL,
	[LAST_VISITED_CUSTOMER] [nvarchar] (200) NULL,
	[LAST_VISITED_APPLICATION] [nvarchar] (200) NULL,
	[LAST_VISITED_POLICY] [nvarchar] (200) NULL,
	[LAST_VISITED_CLAIM] [nvarchar] (200) NULL,
	[LAST_VISITED_QUOTE] [nvarchar] (200) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[LAST_VISITED_ITEMS] ADD CONSTRAINT [PK_LAST_VISITED_ITEMS_USER_ID_USER_SYSTEM_ID] PRIMARY KEY
	CLUSTERED
	(
		[USER_ID] ASC
		,[USER_SYSTEM_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

