IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_COUNTRY_STATE_LIST]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_COUNTRY_STATE_LIST]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_COUNTRY_STATE_LIST](
	[COUNTRY_ID] [int] NOT NULL,
	[STATE_ID] [smallint] NOT NULL,
	[STATE_CODE] [nvarchar] (10) NULL,
	[STATE_NAME] [nvarchar] (255) NULL,
	[STATE_DESC] [nvarchar] (255) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[NSS_STATE_ID] [smallint] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_COUNTRY_STATE_LIST] ADD CONSTRAINT [PK_MNT_COUNTRY_STATE_LIST_COUNTRY_ID_STATE_ID] PRIMARY KEY
	CLUSTERED
	(
		[COUNTRY_ID] ASC
		,[STATE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_COUNTRY_STATE_LIST] ADD CONSTRAINT [FK_MNT_COUNTRY_STATE_LIST_COUNTRY_ID] FOREIGN KEY
	(
		[COUNTRY_ID]
	)
	REFERENCES [dbo].[MNT_COUNTRY_LIST]
	(
		[COUNTRY_ID]
	) 
GO

