IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_PAYMENT_TEXT]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_PAYMENT_TEXT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_PAYMENT_TEXT](
	[TEXT_ID] [int] NOT NULL,
	[DESCRIPTION] [nvarchar] (2000) NULL,
	[COUNT] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_PAYMENT_TEXT] ADD CONSTRAINT [PK_CLM_PAYMENT_TEXT_TEXT_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[TEXT_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

