IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TODOLISTTYPES_MULTILINGUAL]') AND type in (N'U'))
DROP TABLE [dbo].[TODOLISTTYPES_MULTILINGUAL]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[TODOLISTTYPES_MULTILINGUAL](
	[TYPEID] [numeric] (18,0) NOT NULL,
	[TYPEDESC] [nvarchar] (255) NULL,
	[LANG_ID] [int] NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TODOLISTTYPES_MULTILINGUAL] ADD CONSTRAINT [PK_TODOLISTTYPES_MULTILINGUAL_TYPEID_LANG_ID] PRIMARY KEY
	CLUSTERED
	(
		[TYPEID] ASC
		,[LANG_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

