IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_PASSENGERS_PERSONAL_ACCIDENT_INFO]') AND type in (N'U'))
DROP TABLE [dbo].[POL_PASSENGERS_PERSONAL_ACCIDENT_INFO]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_PASSENGERS_PERSONAL_ACCIDENT_INFO](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[PERSONAL_ACCIDENT_ID] [int] NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[END_DATE] [datetime] NOT NULL,
	[NUMBER_OF_PASSENGERS] [numeric] (10,0) NULL,
	[IS_ACTIVE] [nchar] (1) NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[CREATED_DATETIME] [datetime] NOT NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[CO_APPLICANT_ID] [int] NULL CONSTRAINT [DF_POL_PASSENGERS_PERSONAL_ACCIDENT_INFO_CO_APPLICANT_ID] DEFAULT ((0)),
	[ORIGINAL_VERSION_ID] [int] NULL,
	[RISK_ORIGINAL_ENDORSEMENT_NO] [int] NULL,
	[CO_RISK_ID] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_PASSENGERS_PERSONAL_ACCIDENT_INFO] ADD CONSTRAINT [PK_POL_PASSENGERS_PERSONAL_ACCIDENT_INFO_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_PERSONAL_ACCIDENT_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[PERSONAL_ACCIDENT_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_PASSENGERS_PERSONAL_ACCIDENT_INFO] WITH NOCHECK ADD CONSTRAINT [FK_POL_PASSENGERS_PERSONAL_ACCIDENT_INFO_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

