IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TODOLISTTYPES]') AND type in (N'U'))
DROP TABLE [dbo].[TODOLISTTYPES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[TODOLISTTYPES](
	[TYPEID] [numeric] (18,0) NOT NULL,
	[TYPEDESC] [nvarchar] (255) NULL,
	[SYSDEFAULT] [numeric] (8,0) NULL,
	[TYPE_FLAG] [nchar] (1) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TODOLISTTYPES] ADD CONSTRAINT [PK_TODOLISTTYPES_TYPEID] PRIMARY KEY
	CLUSTERED
	(
		[TYPEID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

