IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_GL_ACCOUNT_RANGES]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_GL_ACCOUNT_RANGES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_GL_ACCOUNT_RANGES](
	[CATEGORY_ID] [smallint] NOT NULL,
	[PARENT_CATEGORY_ID] [smallint] NULL,
	[CATEGORY_DESC] [varchar] (70) NULL,
	[RANGE_FROM] [decimal] (7,2) NULL,
	[RANGE_TO] [decimal] (7,2) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_GL_ACCOUNT_RANGES] ADD CONSTRAINT [PK_ACT_GL_ACCOUNT_RANGES_CATEGORY_ID] PRIMARY KEY
	CLUSTERED
	(
		[CATEGORY_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

