IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Import_COMISS_201102188]') AND type in (N'U'))
DROP TABLE [dbo].[Import_COMISS_201102188]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[Import_COMISS_201102188](
	[Column 0] [nvarchar] (1602) NULL
) ON [PRIMARY]
GO

