IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QUESTIONLISTMASTER]') AND type in (N'U'))
DROP TABLE [dbo].[QUESTIONLISTMASTER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[QUESTIONLISTMASTER](
	[LISTID] [int] NOT NULL,
	[CARRIERID] [numeric] (8,0) NULL,
	[TYPE] [nchar] (2) NULL,
	[NAME] [nvarchar] (100) NULL,
	[TABLENAME] [nvarchar] (2000) NULL,
	[ISACTIVE] [nchar] (2) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[QUESTIONLISTMASTER] ADD CONSTRAINT [PK_QUESTIONLISTMASTER_LISTID] PRIMARY KEY
	NONCLUSTERED
	(
		[LISTID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

