IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_USER_AGENCY]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_USER_AGENCY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_USER_AGENCY](
	[USER_AGENCY_ID] [smallint] NOT NULL IDENTITY (1,1),
	[USER_ID] [int] NULL,
	[AGENCY_ID] [smallint] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_USER_AGENCY] ADD CONSTRAINT [PK_MNT_USER_AGENCY_USER_AGENCY_ID] PRIMARY KEY
	CLUSTERED
	(
		[USER_AGENCY_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

