IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_AGENCY_STATEMENT_DETAILED]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_AGENCY_STATEMENT_DETAILED]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO

CREATE TABLE [dbo].[ACT_AGENCY_STATEMENT_DETAILED](
	[MONTH_NUMBER] [smallint] NULL,
	[AGENCY_ID] [smallint] NULL,
	[POLICY_ID] [int] NULL,
	[POLICY_VERSION_ID] [int] NULL,
	[CUSTOMER_ID] [smallint] NULL,
	[SOURCE_EFF_DATE] [datetime] NULL,
	[PREMIUM_AMOUNT] [decimal] (20,2) NULL,
	[COMMISSION_RATE] [decimal] (15,4) NULL,
	[TOTAL_PAID] [decimal] (20,2) NULL,
	[SOURCE_ROW_ID] [int] NULL,
	[MONTH_YEAR] [int] NULL,
	[TRAN_TYPE] [nvarchar] (5) NULL,
	[AMOUNT_FOR_CALCULATION] [decimal] (18,2) NULL,
	[COMMISSION_AMOUNT] [decimal] (18,2) NULL,
	[DUE_AMOUNT] [decimal] (18,2) NULL,
	[DATE_FULL_PAID] [datetime] NULL,
	[PAYMENT_DATE] [datetime] NULL,
	[PAYMENT_STATUS] [smallint] NULL,
	[IS_TEMP_ENTRY] [bit] NULL,
	[IN_RECON] [decimal] (18,2) NULL,
	[AMT_IN_RECON] [decimal] (18,2) NULL,
	[AGENCY_OPEN_ITEM_ID] [int] NULL,
	[CUSTOMER_OPEN_ITEM_ID] [int] NULL,
	[ROW_ID] [int] NOT NULL IDENTITY (0,1),
	[GROSS_PREMIUM] [decimal] (20,2) NULL,
	[FEES] [decimal] (20,2) NULL,
	[TRAN_CODE] [nvarchar] (10) NULL,
	[COMM_TYPE] [nvarchar] (10) NULL,
	[BILL_TYPE] [nvarchar] (2) NULL,
	[ITEM_STATUS] [nvarchar] (20) NULL,
	[UPDATED_FROM] [nvarchar] (20) NULL,
	[IS_CHECK_CREATED] [char] (1) NULL,
	[STAT_FEES_FOR_CALCULATION] [decimal] (18,2) NULL,
	[CSR_ID] [int] NULL,
	[NOT_COUNTED_RECEIVABLE] [bit] NULL,
	[ADJUSTED_AMOUNT] [decimal] (18,2) NULL,
	[IS_COMMISSION_PROCESS] [nvarchar] (2) NULL,
	[INSTALLMENT_NO] [int] NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[ACT_AGENCY_STATEMENT_DETAILED] ADD [IS_PAID_TO_PAGNET] [varchar] (2) NULL
ALTER TABLE [dbo].[ACT_AGENCY_STATEMENT_DETAILED] ADD [PAGNET_DATE] [datetime] NULL
GO

ALTER TABLE [dbo].[ACT_AGENCY_STATEMENT_DETAILED] ADD CONSTRAINT [PK_ACT_AGENCY_STATEMENT_DETAILED] PRIMARY KEY
	CLUSTERED
	(
		[ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
		,FILLFACTOR = 90
	) ON [PRIMARY]
GO

