IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_NACHA_UPLOAD_HISTORY]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_NACHA_UPLOAD_HISTORY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_NACHA_UPLOAD_HISTORY](
	[IDEN_ROW_ID] [int] NOT NULL IDENTITY (1,1),
	[ENTITY_TYPE] [nvarchar] (20) NULL,
	[NACHA_FILE_NAME] [nvarchar] (50) NULL,
	[TOTAL_DEBIT] [decimal] (18,2) NULL,
	[TOTAL_CREDIT] [decimal] (18,2) NULL,
	[BATCH_NUMBER] [int] NULL,
	[CREATED_DATE_TIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_NACHA_UPLOAD_HISTORY] ADD CONSTRAINT [PK_ACT_NACHA_UPLOAD_HISTORY_IDEN_ROW_ID] PRIMARY KEY
	CLUSTERED
	(
		[IDEN_ROW_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

