IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_SUSEP_SHORT_TERM_RATE]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_SUSEP_SHORT_TERM_RATE]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_SUSEP_SHORT_TERM_RATE](
	[SHORT_TERM_ID] [smallint] NOT NULL IDENTITY (1,1),
	[NO_OF_DAYS] [int] NULL,
	[FULL_TERM_DAYS] [int] NULL,
	[PERCENTAGE] [decimal] (10,2) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_SUSEP_SHORT_TERM_RATE] ADD CONSTRAINT [PK_MNT_SUSEP_SHORT_TERM_RATE_SHORT_TERM_ID] PRIMARY KEY
	CLUSTERED
	(
		[SHORT_TERM_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

