IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_BANK_RECONCILIATION_ITEMS_DETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_BANK_RECONCILIATION_ITEMS_DETAILS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_BANK_RECONCILIATION_ITEMS_DETAILS](
	[IDENTITY_ROW_ID] [int] NOT NULL,
	[AC_RECONCILIATION_ID] [int] NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_BANK_RECONCILIATION_ITEMS_DETAILS] ADD CONSTRAINT [PK_ACT_BANK_RECONCILATION_ITEMS_DETAILS_AC_RECONCILATION_ID] PRIMARY KEY
	CLUSTERED
	(
		[AC_RECONCILIATION_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_BANK_RECONCILIATION_ITEMS_DETAILS] ADD CONSTRAINT [FK__ACT_BANK___AC_RE__170CF4D4] FOREIGN KEY
	(
		[AC_RECONCILIATION_ID]
	)
	REFERENCES [dbo].[ACT_BANK_RECONCILIATION]
	(
		[AC_RECONCILIATION_ID]
	) 
GO

