IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_GENERAL_LIABILITY_DETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[POL_GENERAL_LIABILITY_DETAILS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_GENERAL_LIABILITY_DETAILS](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[POLICY_GEN_ID] [int] NOT NULL,
	[LOCATION_ID] [smallint] NULL,
	[CLASS_CODE] [nvarchar] (4) NULL,
	[BUSINESS_DESCRIPTION] [nvarchar] (100) NULL,
	[COVERAGE_TYPE] [int] NOT NULL,
	[COVERAGE_FORM] [int] NULL,
	[EXPOSURE_BASE] [int] NULL,
	[EXPOSURE] [int] NULL,
	[RATE] [int] NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_GENERAL_LIABILITY_DETAILS] ADD CONSTRAINT [PK_POL_GENERAL_LIABILITY_DETAILS_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID_POLICY_GEN_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[POLICY_GEN_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_GENERAL_LIABILITY_DETAILS] ADD CONSTRAINT [FK_POL_GENERAL_LIABILITY_DETAILS_POL_CUSTOMER_POLICY_LIST_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

