IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_ZIP_CODES_SUSEP_CITY]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_ZIP_CODES_SUSEP_CITY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_ZIP_CODES_SUSEP_CITY](
	[SUSEP_CITY_CODE] [nvarchar] (255) NULL,
	[CITY] [nvarchar] (255) NULL,
	[STATE] [nvarchar] (255) NULL
) ON [PRIMARY]
GO

