IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_TRANSACTION_CODES]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_TRANSACTION_CODES]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_TRANSACTION_CODES](
	[TRAN_ID] [smallint] NOT NULL,
	[CATEGOTY_CODE] [nvarchar] (5) NULL,
	[TRAN_TYPE] [nvarchar] (5) NOT NULL,
	[TRAN_CODE] [nvarchar] (5) NOT NULL,
	[DISPLAY_DESCRIPTION] [nvarchar] (150) NULL,
	[PRINT_DESCRIPTION] [nvarchar] (150) NULL,
	[DEF_AMT_CALC_TYPE] [char] (1) NULL,
	[DEF_AMT] [decimal] (10,4) NULL,
	[AGENCY_COMM_APPLIES] [nchar] (1) NULL,
	[GL_INCOME_ACC] [int] NULL,
	[IS_DEF_NEGATIVE] [nchar] (1) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_TRANSACTION_CODES] ADD CONSTRAINT [PK_ACT_TRANSACTION_CODES_TRAN_ID] PRIMARY KEY
	CLUSTERED
	(
		[TRAN_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

