IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_VICTIM_INFO]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_VICTIM_INFO]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_VICTIM_INFO](
	[VICTIM_ID] [int] NOT NULL,
	[CLAIM_ID] [int] NOT NULL,
	[NAME] [nvarchar] (256) NULL,
	[STATUS] [int] NULL,
	[INJURY_TYPE] [int] NULL,
	[IS_ACTIVE] [char] (1) NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_VICTIM_INFO] ADD CONSTRAINT [PK_CLM_VICTIM_INFO_VICTIM_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[VICTIM_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_VICTIM_INFO] WITH NOCHECK ADD CONSTRAINT [FK_CLM_VICTIM_INFO_CLAIM_ID] FOREIGN KEY
	(
		[CLAIM_ID]
	)
	REFERENCES [dbo].[CLM_CLAIM_INFO]
	(
		[CLAIM_ID]
	) 
GO

