IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TEMP_TABLE_2]') AND type in (N'U'))
DROP TABLE [dbo].[TEMP_TABLE_2]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[TEMP_TABLE_2](
	[Interface_code] [nvarchar] (3) NULL,
	[Sequential_number] [nvarchar] (10) NULL,
	[Beneficiary_Type] [nvarchar] (1) NULL,
	[Foreign] [nvarchar] (1) NULL,
	[Beneficiary_Class] [nvarchar] (3) NULL,
	[Beneficiary_name] [nvarchar] (60) NULL,
	[Beneficiary_ID] [nvarchar] (14) NULL,
	[Beneficiary_foreign_ID] [nvarchar] (14) NULL,
	[Beneficiary_Address_street_name] [nvarchar] (30) NULL,
	[Beneficiary_Address_number] [nvarchar] (5) NULL,
	[Beneficiary_Address_complement] [nvarchar] (10) NULL,
	[Beneficiary_Address_district] [nvarchar] (30) NULL,
	[Beneficiary_Address_state] [nvarchar] (2) NULL,
	[Beneficiary_Address_city] [nvarchar] (30) NULL,
	[Beneficiary_Address_zip_code] [nvarchar] (10) NULL,
	[Beneficiary_ email_address] [varchar] (60) NULL,
	[Beneficiary_ Bank_Number] [varchar] (5) NULL,
	[Beneficiary_Bank_Branch] [nvarchar] (10) NULL,
	[Beneficiary_Bank_Branch_Verifier_Digit] [nvarchar] (1) NULL,
	[Beneficiary_Bank_Account_number] [nvarchar] (12) NULL,
	[Beneficiary_Bank_Account_Verifier_Digit] [nvarchar] (2) NULL,
	[Beneficiary_Bank_Account_type] [nvarchar] (2) NULL,
	[Beneficiary_Bank_Account_Currency] [nvarchar] (5) NULL,
	[Cód_Tributação_IRRF] [nvarchar] (2) NULL,
	[Natureza_do_Rendimento] [nvarchar] (5) NULL,
	[Calcula_ISS_?] [nvarchar] (1) NULL,
	[Calcula_INSS_?] [nvarchar] (1) NULL,
	[Cód_Tributação_INSS] [nvarchar] (2) NULL,
	[Cód_Tributação_CSLL] [nvarchar] (2) NULL,
	[Cód_Tributação_COFINS] [nvarchar] (2) NULL,
	[Cód_Tributação_PIS] [nvarchar] (2) NULL,
	[No_de_Dependentes] [nvarchar] (2) NULL,
	[No_PIS] [nvarchar] (11) NULL,
	[Inscrição_Municipal] [nvarchar] (11) NULL,
	[Número_interno_do_corretor] [nvarchar] (10) NULL,
	[CBO_Classific_Brasileira_Ocupação] [nvarchar] (10) NULL,
	[Código_SUSEP] [nvarchar] (14) NULL,
	[No_do_Funcionário] [nvarchar] (10) NULL,
	[Cód_da_Filial] [nvarchar] (15) NULL,
	[Cód_do_Centro_de_Custo] [nvarchar] (15) NULL,
	[Data_de_Nascimento] [nvarchar] (8) NULL,
	[Tipo_de_Pessoa] [nvarchar] (1) NULL,
	[Estrangeiro] [nvarchar] (1) NULL,
	[Payee_Class] [nvarchar] (3) NULL,
	[Payee_Name] [nvarchar] (60) NULL,
	[Payee_ID_CPF] [nvarchar] (14) NULL,
	[Payee_foreign_ID] [varchar] (14) NULL,
	[Payee_Bank_Number] [nvarchar] (5) NULL,
	[Payee_Bank_Branch] [nvarchar] (10) NULL,
	[Payee_Bank_Branch_Verifier_Digit] [nvarchar] (1) NULL,
	[Payee_Bank_Account_no] [nvarchar] (12) NULL,
	[Payee_Bank_Account_Verifier_digit] [nvarchar] (2) NULL,
	[Payee_Bank_Account_Type] [nvarchar] (2) NULL,
	[Payee_Bank_Account_Currency] [nvarchar] (5) NULL,
	[Payment_ID] [nvarchar] (25) NULL,
	[Carrier_Code] [nvarchar] (5) NULL,
	[Carrier_Policy_Branch_Code] [nvarchar] (5) NULL,
	[Event_Code] [nvarchar] (5) NULL,
	[Operation_Type] [nvarchar] (3) NULL,
	[Payment_Method] [nvarchar] (3) NULL,
	[Document_number] [nvarchar] (20) NULL,
	[Document_number_serial_number] [nvarchar] (5) NULL,
	[Invoice_issuance_date] [nvarchar] (8) NULL,
	[Invoice_due_date] [nvarchar] (8) NULL,
	[Policy_Currency] [nvarchar] (5) NULL,
	[Exchange_rate] [decimal] (18,2) NULL,
	[Commission_amount_sign] [nvarchar] (1) NULL,
	[Commission_amount] [decimal] (18,2) NULL,
	[Sinal_do_Valor_Isento_IR] [nvarchar] (1) NULL,
	[Valor_Isento_IR] [decimal] (18,2) NULL,
	[Sinal_do_Valor_Tributável_IR] [nvarchar] (1) NULL,
	[Valor_Tributável_IR] [decimal] (18,2) NULL,
	[Sinal_do_Valor_Isento_ISS] [nvarchar] (1) NULL,
	[Valor_Isento_ISS] [decimal] (18,2) NULL,
	[Sinal_do_Valor_Tributável_ISS] [nvarchar] (1) NULL,
	[Valor_Tributável_ISS] [decimal] (18,2) NULL,
	[Sinal_do_Valor_Isento_INSS] [nvarchar] (1) NULL,
	[Valor_Isento_INSS] [decimal] (18,2) NULL,
	[Sinal_do_Valor_Tributável_INSS] [nvarchar] (1) NULL,
	[Valor_Tributável_INSS] [decimal] (18,2) NULL,
	[Sinal_do_Valor_Isento_CSLL/COFINS/PIS] [nvarchar] (1) NULL,
	[Valor_Isento_ CSLL/COFINS/PIS] [decimal] (18,2) NULL,
	[Sinal_do_Valor_Tributável_CSLL/COFINS/PIS] [nvarchar] (1) NULL,
	[Valor_Tributável_CSLL/COFINS/PIS] [decimal] (18,2) NULL,
	[Sinal_do_Valor_IR] [nvarchar] (1) NULL,
	[Valor_IR] [decimal] (18,2) NULL,
	[Sinal_do_Valor_ISS] [nvarchar] (1) NULL,
	[Valor ISS] [decimal] (18,2) NULL,
	[Sinal_do_Valor_Desconto] [nvarchar] (1) NULL,
	[Valor_Desconto] [decimal] (18,2) NULL,
	[Sinal_do_Valor_Multa] [nvarchar] (1) NULL,
	[Valor_Multa] [decimal] (18,2) NULL,
	[Payment_Description] [nvarchar] (60) NULL,
	[Policy_Branch_Code] [nvarchar] (15) NULL,
	[Profit_Center_code] [nvarchar] (15) NULL,
	[A_DEFINIR] [nvarchar] (15) NULL,
	[A_DEFINIR2] [nvarchar] (15) NULL,
	[Policy_Accounting_LOB] [varchar] (15) NULL,
	[A_DEFINIR3] [nvarchar] (15) NULL,
	[Policy_number] [nvarchar] (15) NULL,
	[Policy_Number_remaining_digits] [nvarchar] (10) NULL,
	[Endorsement_number] [nvarchar] (5) NULL,
	[Installment_number ] [nvarchar] (5) NULL,
	[A_DEFINIR4] [nvarchar] (15) NULL,
	[A_DEFINIR5] [nvarchar] (10) NULL,
	[Installment_payment_date] [nvarchar] (15) NULL,
	[Applicant/CoApplicant_name] [nvarchar] (60) NULL,
	[Premium_amount] [decimal] (18,2) NULL,
	[Commission_percentage] [decimal] (18,2) NULL,
	[A_DEFINIR6] [decimal] (18,2) NULL,
	[A_DEFINIR7] [decimal] (18,2) NULL,
	[A_DEFINIR8] [decimal] (18,2) NULL,
	[Movement_type] [nvarchar] (1) NULL,
	[Commission_Payment_date] [datetime] NULL,
	[Commission_Paid_Amount_sign] [nvarchar] (1) NULL,
	[Commission_paid_amount] [decimal] (18,2) NULL,
	[Payment_currency] [nvarchar] (5) NULL,
	[Bank_account_number] [nvarchar] (5) NULL,
	[Bank_branch_code] [nvarchar] (10) NULL,
	[No_da_Conta_Corrente] [nvarchar] (12) NULL,
	[Cheque_number] [nvarchar] (15) NULL,
	[Sinal_do_Valor_IR_2] [nvarchar] (1) NULL,
	[Valor_IR_2] [decimal] (18,2) NULL,
	[Sinal_do_Valor_ISS_2] [varchar] (1) NULL,
	[Valor_ISS] [decimal] (18,2) NULL,
	[Sinal_do_Valor_INSS] [nvarchar] (1) NULL,
	[Valor_INSS] [decimal] (18,2) NULL,
	[Sinal_do_Valor_CSLL] [nvarchar] (1) NULL,
	[Valor_CSLL] [decimal] (18,2) NULL,
	[Sinal_do_Valor_COFINS] [nvarchar] (1) NULL,
	[Valor_COFINS] [decimal] (18,2) NULL,
	[Sinal_do_Valor_PIS] [nvarchar] (1) NULL,
	[Valor_PIS] [decimal] (18,2) NULL,
	[Cod_Ocorrencia] [nvarchar] (3) NULL,
	[Occurrence_code] [nvarchar] (60) NULL,
	[Payment_method_2] [nvarchar] (3) NULL,
	[Carrier_Bank_Number] [nvarchar] (5) NULL,
	[Carrier_Bank_Branch_number] [nvarchar] (10) NULL,
	[Carrier_Bank_Account_number] [nvarchar] (12) NULL,
	[Exchange_rate_2] [decimal] (18,2) NULL,
	[ID] [int] NOT NULL IDENTITY (1,1)
) ON [PRIMARY]
GO

