IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_RECONCILIATION_GROUPS]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_RECONCILIATION_GROUPS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_RECONCILIATION_GROUPS](
	[GROUP_ID] [int] NOT NULL,
	[RECON_ENTITY_ID] [int] NULL,
	[RECON_ENTITY_TYPE] [nvarchar] (5) NULL,
	[IS_COMMITTED] [nchar] (1) NULL,
	[DATE_COMMITTED] [datetime] NULL,
	[COMMITTED_BY] [int] NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[CD_LINE_ITEM_ID] [int] NULL,
	[PRINTED_ON_NOTICE] [char] (1) NULL,
	[UPDATED_FROM] [nchar] (2) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_RECONCILIATION_GROUPS] ADD CONSTRAINT [PK_ACT_RECONCILIATION_GROUPS_GROUP_ID] PRIMARY KEY
	CLUSTERED
	(
		[GROUP_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

