IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ACT_TYPE_MASTER]') AND type in (N'U'))
DROP TABLE [dbo].[ACT_TYPE_MASTER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[ACT_TYPE_MASTER](
	[ACC_TYPE_ID] [smallint] NOT NULL,
	[ACC_TYPE_DESC] [nvarchar] (25) NULL,
	[ACC_SORT_ORDER] [smallint] NULL,
	[NORMAL_BALANCE_D_C] [nchar] (1) NULL,
	[INITIALIZE_AT_YEAR_END] [nchar] (1) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ACT_TYPE_MASTER] ADD CONSTRAINT [PK_ACT_TYPE_MASTER_ACC_TYPE_ID] PRIMARY KEY
	CLUSTERED
	(
		[ACC_TYPE_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

