IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FORM_1099]') AND type in (N'U'))
DROP TABLE [dbo].[FORM_1099]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[FORM_1099](
	[FORM_1099_ID] [int] NOT NULL,
	[ENTITY_ID] [int] NULL,
	[ENTITY_TYPE] [nvarchar] (50) NULL,
	[RENTS] [decimal] (18,2) NULL,
	[ROYALATIES] [decimal] (18,2) NULL,
	[OTHERINCOME] [decimal] (18,2) NULL,
	[FEDERAL_INCOME_TAXWITHHELD] [decimal] (18,2) NULL,
	[FISHING_BOAT_PROCEEDS] [decimal] (18,2) NULL,
	[MEDICAL_AND_HEALTH_CARE_PRODUCTS] [decimal] (18,2) NULL,
	[NON_EMPLOYEMENT_COMPENSATION] [decimal] (18,2) NULL,
	[SUBSTITUTE_PAYMENTS] [decimal] (18,2) NULL,
	[PAYER_MADE_DIRECT_SALES] [decimal] (18,2) NULL,
	[CROP_INSURANCE_PROCEED] [decimal] (18,2) NULL,
	[EXCESS_GOLDEN_PARACHUTE_PAYMENTS] [decimal] (18,2) NULL,
	[GROSS_PROCEEDS_PAID_TO_AN_ATTORNEY] [decimal] (18,2) NULL,
	[STATE_TAX_WITHHELD] [decimal] (18,2) NULL,
	[STATE_PAYER_STATE_NO] [varchar] (50) NULL,
	[STATE_INCOME] [decimal] (18,2) NULL,
	[RECIPIENT_IDENTIFICATION] [nvarchar] (44) NULL,
	[RECIPIENT_NAME] [nvarchar] (70) NULL,
	[RECIPIENT_STREET_ADDRESS1] [nvarchar] (200) NULL,
	[RECIPIENT_STREET_ADDRESS2] [nvarchar] (200) NULL,
	[RECIPIENT_CITY] [nvarchar] (80) NULL,
	[RECIPIENT_STATE] [nvarchar] (10) NULL,
	[RECIPIENT_ZIP] [nvarchar] (11) NULL,
	[ACCOUNT_NO] [nvarchar] (11) NULL,
	[IS_ACTIVE] [nchar] (2) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[POLICY_NUMBER] [varchar] (8) NULL,
	[CLAIM_NUMBER] [varchar] (10) NULL,
	[VENDOR_CODE] [varchar] (5) NULL,
	[TRANSACTION_DATE] [datetime] NULL,
	[NOTE] [nvarchar] (30) NULL,
	[PAYORS_ID] [int] NULL,
	[IS_COMMITED] [nchar] (1) NULL,
	[RECIPIENT_NAME_1] [nvarchar] (70) NULL,
	[FED_SSN_1099] [varchar] (1) NULL,
	[YEAR_1099] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[FORM_1099] ADD CONSTRAINT [PK_FORM_1099_FORM_1099_ID] PRIMARY KEY
	CLUSTERED
	(
		[FORM_1099_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

