IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_REIN_BANKING_DETAIL]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_REIN_BANKING_DETAIL]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_REIN_BANKING_DETAIL](
	[REIN_BANK_DETAIL_ID] [int] NOT NULL,
	[REIN_BANK_DETAIL_ADDRESS_1] [nvarchar] (50) NULL,
	[REIN_BANK_DETAIL_ADDRESS_2] [nvarchar] (50) NULL,
	[REIN_BANK_DETAIL_CITY] [nvarchar] (50) NULL,
	[REIN_BANK_DETAIL_COUNTRY] [nvarchar] (50) NULL,
	[REIN_BANK_DETAIL_STATE] [nvarchar] (50) NULL,
	[REIN_BANK_DETAIL_ZIP] [nvarchar] (50) NULL,
	[M_REIN_BANK_DETAIL_ADDRESS_1] [nvarchar] (50) NULL,
	[M_REIN_BANK_DETAIL_ADDRESS_2] [nvarchar] (50) NULL,
	[M_REIN_BANK_DETAIL_CITY] [nvarchar] (50) NULL,
	[M_REIN_BANK_DETAIL_COUNTRY] [nvarchar] (50) NULL,
	[M_REIN_BANK_DETAIL_STATE] [nvarchar] (50) NULL,
	[M_REIN_BANK_DETAIL_ZIP] [nvarchar] (50) NULL,
	[REIN_PAYMENT_BASIS] [nvarchar] (50) NULL,
	[REIN_BANK_NAME] [nvarchar] (75) NULL,
	[REIN_TRANSIT_ROUTING] [nvarchar] (50) NULL,
	[REIN_BANK_ACCOUNT] [nvarchar] (20) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[MODIFIED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[REIN_COMAPANY_ID] [int] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_REIN_BANKING_DETAIL] ADD CONSTRAINT [PK_MNT_REIN_BANKING_DETAIL_REIN_BANK_DETAIL_ID] PRIMARY KEY
	CLUSTERED
	(
		[REIN_BANK_DETAIL_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_REIN_BANKING_DETAIL] ADD CONSTRAINT [FK_REIN_COMAPANY_ID] FOREIGN KEY
	(
		[REIN_COMAPANY_ID]
	)
	REFERENCES [dbo].[MNT_REIN_COMAPANY_LIST]
	(
		[REIN_COMAPANY_ID]
	) 
GO

