IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_SUB_LOB_MASTER]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_SUB_LOB_MASTER]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_SUB_LOB_MASTER](
	[LOB_ID] [smallint] NOT NULL,
	[SUB_LOB_ID] [smallint] NOT NULL,
	[SUB_LOB_DESC] [nvarchar] (70) NULL,
	[SUB_LOB_CODE] [nvarchar] (20) NULL,
	[SUSEP_CODE] [nvarchar] (10) NULL,
	[INSTALLMENT_LIMIT] [int] NULL,
	[COMMISSION_LIMIT] [int] NULL,
	[ALLOW_OPEN_POLICY] [nchar] (1) NULL,
	[ALLOW_ADJUSTABLE_POLICY] [nchar] (1) NULL,
	[ALLOW_FRONTING_POLICY] [nchar] (1) NULL,
	[ALLOW_SINGLE_POLICY] [nchar] (1) NULL,
	[ALLOW_ACCEPTED_COINSURANCE] [nchar] (1) NULL,
	[ALLOW_DIRECT_ISSUANCE] [nchar] (1) NULL,
	[SUBLOB_PORTFOLIO_CODE] [nvarchar] (5) NULL,
	[SUBLOB_PORTFOLIO_DES] [nvarchar] (25) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[PORTFOLIO_NAME] [nvarchar] (20) NULL,
	[PORTFOLIO_CODE] [nvarchar] (10) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_SUB_LOB_MASTER] ADD CONSTRAINT [PK_MNT_SUB_LOB_MASTER_LOB_ID_SUB_LOB_ID] PRIMARY KEY
	CLUSTERED
	(
		[LOB_ID] ASC
		,[SUB_LOB_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_SUB_LOB_MASTER] ADD CONSTRAINT [FK_MNT_SUB_LOB_MASTER_MNT_LOB_MASTER_LOB_ID] FOREIGN KEY
	(
		[LOB_ID]
	)
	REFERENCES [dbo].[MNT_LOB_MASTER]
	(
		[LOB_ID]
	) 
GO

