IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_WATERCRAFT_TRAILER_INFO]') AND type in (N'U'))
DROP TABLE [dbo].[POL_WATERCRAFT_TRAILER_INFO]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_WATERCRAFT_TRAILER_INFO](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[TRAILER_ID] [smallint] NOT NULL,
	[TRAILER_NO] [int] NULL,
	[YEAR] [int] NULL,
	[MANUFACTURER] [nvarchar] (75) NULL,
	[SERIAL_NO] [nvarchar] (25) NULL,
	[ASSOCIATED_BOAT] [smallint] NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[INSURED_VALUE] [decimal] (18,0) NULL,
	[TRAILER_TYPE] [smallint] NULL,
	[MODEL] [nvarchar] (40) NULL,
	[TRAILER_DED] [decimal] (18,0) NULL,
	[TRAILER_DED_ID] [int] NULL,
	[TRAILER_DED_AMOUNT_TEXT] [nvarchar] (200) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_WATERCRAFT_TRAILER_INFO] ADD CONSTRAINT [PK_POL_WATERCRAFT_TRAILER_INFO_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID_TRAILER_ID] PRIMARY KEY
	CLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[TRAILER_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_WATERCRAFT_TRAILER_INFO] WITH NOCHECK ADD CONSTRAINT [FK_POL_WATERCRAFT_TRAILER_INFO_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

