IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_DIV_DEPT_MAPPING]') AND type in (N'U'))
DROP TABLE [dbo].[MNT_DIV_DEPT_MAPPING]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MNT_DIV_DEPT_MAPPING](
	[DIV_ID] [smallint] NOT NULL,
	[DEPT_ID] [smallint] NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MNT_DIV_DEPT_MAPPING] ADD CONSTRAINT [PK_MNT_DIV_DEPT_MAPPING_DIV_ID_DEPT_ID] PRIMARY KEY
	CLUSTERED
	(
		[DIV_ID] ASC
		,[DEPT_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

