IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[POL_PERSONAL_ACCIDENT_INFO]') AND type in (N'U'))
DROP TABLE [dbo].[POL_PERSONAL_ACCIDENT_INFO]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[POL_PERSONAL_ACCIDENT_INFO](
	[PERSONAL_INFO_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[CUSTOMER_ID] [int] NOT NULL,
	[APPLICANT_ID] [int] NULL,
	[INDIVIDUAL_NAME] [nvarchar] (30) NULL,
	[CODE] [nvarchar] (10) NULL,
	[POSITION_ID] [int] NULL,
	[CPF_NUM] [nvarchar] (20) NULL,
	[STATE_ID] [int] NULL,
	[COUNTRY_ID] [int] NULL,
	[DATE_OF_BIRTH] [date] NULL,
	[GENDER] [int] NULL,
	[REG_IDEN] [nvarchar] (12) NULL,
	[REG_ID_ISSUES] [date] NULL,
	[REG_ID_ORG] [nvarchar] (50) NULL,
	[REMARKS] [nvarchar] (4000) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[IS_SPOUSE_OR_CHILD] [int] NULL,
	[MAIN_INSURED] [int] NULL,
	[CITY_OF_BIRTH] [nvarchar] (100) NULL,
	[ORIGINAL_VERSION_ID] [int] NULL,
	[CO_RISK_ID] [int] NULL,
	[MARITAL_STATUS] [nchar] (1) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_PERSONAL_ACCIDENT_INFO] ADD CONSTRAINT [PK_POL_PERSONAL_ACCIDENT_INFO_POLICY_ID_POLICY_VERSION_ID_CUSTOMER_ID_PERSONAL_INFO_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CUSTOMER_ID] ASC
		,[POLICY_ID] ASC
		,[POLICY_VERSION_ID] ASC
		,[PERSONAL_INFO_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[POL_PERSONAL_ACCIDENT_INFO] WITH NOCHECK ADD CONSTRAINT [FK_POL_PERSONAL_ACCIDENT_INFO_CUSTOMER_ID_POLICY_ID_POLICY_VERSION_ID] FOREIGN KEY
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	)
	REFERENCES [dbo].[POL_CUSTOMER_POLICY_LIST]
	(
		[CUSTOMER_ID],
		[POLICY_ID],
		[POLICY_VERSION_ID]
	) 
GO

