IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MIG_CLAIM_DETAILS]') AND type in (N'U'))
DROP TABLE [dbo].[MIG_CLAIM_DETAILS]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MIG_CLAIM_DETAILS](
	[IMPORT_REQUEST_ID] [int] NOT NULL,
	[IMPORT_SERIAL_NO] [int] NOT NULL,
	[ALBA_CLAIM_ID] [nvarchar] (80) NULL,
	[ALBA_CLAIM_NUMBER] [nvarchar] (80) NULL,
	[CUSTOMER_ID] [int] NULL,
	[POLICY_ID] [int] NULL,
	[LOB_ID] [int] NULL,
	[POLICY_VERSION_ID] [smallint] NULL,
	[IS_ACTIVE] [nchar] (1) NULL CONSTRAINT [DF_MIG_CLAIM_DETAILS_IS_ACTIVE] DEFAULT ('N'),
	[IS_DELETED] [nchar] (1) NULL CONSTRAINT [DF_MIG_CLAIM_DETAILS_IS_DELETED] DEFAULT ('N'),
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[HAS_ERRORS] [nchar] (1) NULL CONSTRAINT [DF_MIG_CLAIM_DETAILS_HAS_ERRORS] DEFAULT ('N'),
	[LEADER_SUSEP_CODE] [nvarchar] (4) NULL,
	[PRODUCT_LOB] [int] NULL,
	[LEADER_POLICY_NUMBER] [nvarchar] (7) NULL,
	[LEADER_ENDORSEMENT_NUMBER] [int] NULL,
	[LEADER_CLAIM_NUMBER] [nvarchar] (7) NULL,
	[INSURED_NAME] [nvarchar] (50) NULL,
	[APPLICANT_NAME] [nvarchar] (50) NULL,
	[ALBA_SHARE] [decimal] (18,4) NULL,
	[SUM_INSURED] [decimal] (25,4) NULL,
	[OUTSTANDING_RESERVE] [decimal] (25,4) NULL,
	[DATE_OF_LOSS] [datetime] NULL,
	[LOSS_LOCATION] [nvarchar] (50) NULL,
	[DAMAGE_DESCRIPTION] [nvarchar] (50) NULL,
	[LOSS_TYPE] [nvarchar] (50) NULL,
	[POLICY_CURRENCY] [int] NULL,
	[MOVEMENT_TYPE] [int] NULL,
	[INSURED_OBJECT_CLAIMED] [int] NULL,
	[COVERAGE_CODE] [int] NULL,
	[RESERVE_TYPE] [int] NULL,
	[LOSS_LOCATION_CITY] [nvarchar] (50) NULL,
	[LOSS_LOCATION_STATE] [nvarchar] (50) NULL,
	[ERROR_TYPES] [varchar] (MAX) NULL,
	[ERROR_COLUMNS] [nvarchar] (MAX) NULL,
	[ERROR_COLUMN_VALUES] [nvarchar] (MAX) NULL,
	[ERROR_SOURCE_FILE] [nvarchar] (1000) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MIG_CLAIM_DETAILS] ADD CONSTRAINT [PK_MIG_CLAIM_DETAILS_IMPORT_REQUEST_ID_SERIAL_NO] PRIMARY KEY
	NONCLUSTERED
	(
		[IMPORT_REQUEST_ID] ASC
		,[IMPORT_SERIAL_NO] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

