IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_CLAIM_INFO]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_CLAIM_INFO]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_CLAIM_INFO](
	[CUSTOMER_ID] [int] NOT NULL,
	[POLICY_ID] [int] NOT NULL,
	[POLICY_VERSION_ID] [smallint] NOT NULL,
	[CLAIM_ID] [int] NOT NULL,
	[CLAIM_NUMBER] [nvarchar] (10) NULL,
	[LOSS_DATE] [datetime] NOT NULL,
	[ADJUSTER_CODE] [nvarchar] (10) NULL,
	[REPORTED_BY] [nvarchar] (50) NULL,
	[CATASTROPHE_EVENT_CODE] [int] NULL,
	[CLAIMANT_INSURED] [bit] NULL,
	[INSURED_RELATIONSHIP] [nvarchar] (50) NULL,
	[CLAIMANT_NAME] [nvarchar] (60) NULL,
	[COUNTRY] [int] NOT NULL,
	[ZIP] [nvarchar] (20) NULL,
	[ADDRESS1] [nvarchar] (150) NULL,
	[ADDRESS2] [nvarchar] (150) NULL,
	[CITY] [nvarchar] (150) NULL,
	[HOME_PHONE] [nvarchar] (15) NULL,
	[WORK_PHONE] [nvarchar] (15) NULL,
	[MOBILE_PHONE] [nvarchar] (15) NULL,
	[WHERE_CONTACT] [nvarchar] (50) NULL,
	[WHEN_CONTACT] [nvarchar] (10) NULL,
	[DIARY_DATE] [datetime] NOT NULL,
	[CLAIM_STATUS] [int] NOT NULL,
	[OUTSTANDING_RESERVE] [decimal] (18,2) NULL,
	[RESINSURANCE_RESERVE] [decimal] (18,2) NULL,
	[PAID_LOSS] [decimal] (18,2) NULL,
	[PAID_EXPENSE] [decimal] (18,2) NULL,
	[RECOVERIES] [decimal] (18,2) NULL,
	[CLAIM_DESCRIPTION] [nvarchar] (1000) NULL,
	[IS_ACTIVE] [char] (1) NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[SUB_ADJUSTER] [nvarchar] (50) NULL,
	[SUB_ADJUSTER_CONTACT] [nvarchar] (50) NULL,
	[EXTENSION] [nvarchar] (5) NULL,
	[DUMMY_POLICY_ID] [int] NULL,
	[LOSS_TIME_AM_PM] [smallint] NULL,
	[LITIGATION_FILE] [int] NULL,
	[HOMEOWNER] [char] (1) NULL,
	[RECR_VEH] [char] (1) NULL,
	[IN_MARINE] [char] (1) NULL,
	[RECOVERY] [decimal] (18,2) NULL,
	[RECOVERY_OUTSTANDING] [decimal] (18,2) NULL,
	[STATE] [int] NULL,
	[CLAIMANT_PARTY] [int] NULL,
	[LINKED_TO_CLAIM] [nvarchar] (500) NULL,
	[ADD_FAULT] [char] (1) NULL,
	[TOTAL_LOSS] [char] (1) NULL,
	[NOTIFY_REINSURER] [int] NULL,
	[REOPEN_COUNT] [int] NULL,
	[LOB_ID] [nvarchar] (5) NULL,
	[REPORTED_TO] [nvarchar] (50) NULL,
	[FIRST_NOTICE_OF_LOSS] [datetime] NULL,
	[RECIEVE_PINK_SLIP_USERS_LIST] [nvarchar] (200) NULL,
	[PINK_SLIP_TYPE_LIST] [nvarchar] (200) NULL,
	[ADJUSTER_ID] [int] NULL,
	[CLAIM_STATUS_UNDER] [int] NULL,
	[CLOSED_DATE] [datetime] NULL,
	[REOPENED_DATE] [datetime] NULL,
	[AT_FAULT_INDICATOR] [int] NULL,
	[CO_TOTAL_RESERVE_AMT] [decimal] (18,2) NULL,
	[OFFCIAL_CLAIM_NUMBER] [nvarchar] (50) NULL,
	[CO_INSURANCE_TYPE] [int] NULL,
	[CLAIM_CURRENCY_ID] [int] NULL,
	[LAST_DOC_RECEIVE_DATE] [datetime] NULL,
	[REINSURANCE_TYPE] [int] NULL,
	[REIN_CLAIM_NUMBER] [nvarchar] (500) NULL,
	[REIN_LOSS_NOTICE_NUM] [nvarchar] (500) NULL,
	[IS_VICTIM_CLAIM] [int] NULL,
	[POSSIBLE_PAYMENT_DATE] [datetime] NULL,
	[LEADER_CLAIM_NUMBER] [nvarchar] (50) NULL,
	[ACC_COI_FLG] [char] (1) NOT NULL CONSTRAINT [DF_CLM_CLAIM_INFO_ACC_COI_FLG] DEFAULT ('N')
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_CLAIM_INFO] ADD CONSTRAINT [PK_CLM_CLAIM_INFO_CLAIM_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[CLAIM_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_CLAIM_INFO] ADD CONSTRAINT [FK_CLM_CLAIM_INFO_CLM_ADJUSTER_ADJUSTER_ID] FOREIGN KEY
	(
		[ADJUSTER_ID]
	)
	REFERENCES [dbo].[CLM_ADJUSTER]
	(
		[ADJUSTER_ID]
	) 
GO

