IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLM_XOL_BREAKDOWN]') AND type in (N'U'))
DROP TABLE [dbo].[CLM_XOL_BREAKDOWN]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[CLM_XOL_BREAKDOWN](
	[CLAIM_ID] [int] NOT NULL,
	[ACTIVITY_ID] [int] NOT NULL,
	[BREAKDOWN_ID] [int] NOT NULL,
	[CONTRACT_ID] [int] NOT NULL,
	[XOL_AGGREGATE_LIMIT] [decimal] (18,2) NULL,
	[XOL_USED_AGGREGATE_LIMIT] [decimal] (18,2) NULL,
	[APPLIED_LOSS_DEDUCTION] [decimal] (18,2) NULL,
	[TOTAL_PAYMENT_AMT] [decimal] (18,2) NULL,
	[APPLIED_PAYMENT_AMT] [decimal] (18,2) NULL,
	[ACTIVITY_PAYMENT_AMT] [decimal] (18,2) NULL,
	[USED_CLAIM_ID] [nvarchar] (1024) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CLM_XOL_BREAKDOWN] ADD CONSTRAINT [PK_CLM_XOL_BREAKDOWN_BREAKDOWN_ID] PRIMARY KEY
	NONCLUSTERED
	(
		[BREAKDOWN_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

