IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MIG_IMPORT_REQUEST]') AND type in (N'U'))
DROP TABLE [dbo].[MIG_IMPORT_REQUEST]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO

CREATE TABLE [dbo].[MIG_IMPORT_REQUEST](
	[IMPORT_REQUEST_ID] [int] NOT NULL,
	[IMPORT_RECORD_COUNT] [int] NULL,
	[REQUEST_STATUS] [varchar] (8) NULL,
	[SUBMITTED_DATE] [datetime] NULL,
	[SUBMITTED_BY] [int] NULL,
	[IS_PROCESSED] [char] (1) NULL,
	[PROCESSED_DATE] [datetime] NULL,
	[HAS_ERRORS] [char] (1) NULL,
	[IS_ACTIVE] [nchar] (1) NULL,
	[IS_DELETED] [nchar] (1) NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_DATETIME] [datetime] NULL,
	[MODIFIED_BY] [int] NULL,
	[LAST_UPDATED_DATETIME] [datetime] NULL,
	[REQUEST_DESC] [nvarchar] (256) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MIG_IMPORT_REQUEST] ADD CONSTRAINT [PK_MIG_IMPORT_REQUEST] PRIMARY KEY
	CLUSTERED
	(
		[IMPORT_REQUEST_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

