IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MIG_ERROR_LOG]') AND type in (N'U'))
DROP TABLE [dbo].[MIG_ERROR_LOG]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[MIG_ERROR_LOG](
	[ERROR_LOG_ID] [bigint] NOT NULL IDENTITY (1,1),
	[IMPORT_REQUEST_ID] [bigint] NULL,
	[IMPORT_SERIAL_NO] [bigint] NULL,
	[ERROR_DATETIME] [datetime] NULL,
	[ERROR_NUMBER] [int] NULL,
	[ERROR_SEVERITY] [int] NULL,
	[ERROR_STATE] [int] NULL,
	[ERROR_PROC_NAME] [varchar] (512) NULL,
	[ERROR_LINE] [int] NULL,
	[ERROR_MESSAGE] [nvarchar] (MAX) NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[MIG_ERROR_LOG] ADD CONSTRAINT [PK_MIG_ERROR_LOG] PRIMARY KEY
	CLUSTERED
	(
		[ERROR_LOG_ID] ASC
	)	WITH
	(
		PAD_INDEX = OFF
		,STATISTICS_NORECOMPUTE = OFF
		,IGNORE_DUP_KEY = OFF
		,ALLOW_ROW_LOCKS = ON
		,ALLOW_PAGE_LOCKS = ON
	) ON [PRIMARY]
GO

