#DHTMLgoodies_formTooltipDiv{
	color:#FFF;
	font-family:arial;
	font-size:11px;
	line-height:120%;
	text-align:left;
}
.DHTMLgoodies_formTooltip_closeMessage{
	color:#FFF;
	font-weight:normal;
	font-size:0.7em;
}