@charset "utf-8";
/* CSS Document */
.mypets{ /*header of 1st demo*/
cursor: hand;
cursor: pointer;
padding: 0px 9px;
height:35px;
/*border: 1px solid gray;*/
background-image:url(../images/manage_top_close.gif);
background-repeat:no-repeat;
}

.mypetsabout{ /*header of 1st demo*/
cursor: hand;
cursor: pointer;
padding: 0px 9px;
height:35px;
/*border: 1px solid gray;*/
background-image:url(../images/about_top_close.gif);
background-repeat:no-repeat;
}

.openpet{ /*class added to contents of 1st demo when they are open*/
background-image:url(../images/manage_top_open.gif);
background-repeat:no-repeat;
}

.openpetabout{ /*class added to contents of 1st demo when they are open*/
background-image:url(../images/about_top_open.gif);
background-repeat:no-repeat;
}

.technology{ /*header of 2nd demo*/
cursor: hand;
cursor: pointer;
font: bold 14px Verdana;
margin: 10px 0;
}


.openlanguage{ /*class added to contents of 2nd demo when they are open*/
color: green;
}

.closedlanguage{ /*class added to contents of 2nd demo when they are closed*/
color: red;
}

.headerlines {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	vertical-align: middle;
	line-height:15px;
}

.thepet
{
background-image:url(../images/manage_bg.gif);
background-repeat:repeat-y;
background-position:bottom left;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#00487d;
padding-left:9px;
padding-right:9px;
}

.thepetabout
{
background-image:url(../images/about_bg.gif);
background-repeat:repeat-y;
background-position:bottom left;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#000000;
padding-left:9px;
padding-right:9px;
}

.managebottom
{
background-image:url(../images/manage_bottom.gif);
background-repeat:no-repeat;
height:10px;
}

.buttblue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #00487d;
	cursor: hand;
cursor: pointer;
}

.buttbluelight {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	background-color: #6f90b8;
	cursor: hand;
cursor: pointer;
margin-top:5px;
}

.feedtxt {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-style:italic;
}