.genblack {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.genpurple {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #716ab2;
}
.genaciblue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #00487d;
}
.genacibluebold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #00487d;
	font-weight:bold;
}
.genblacklarger {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.genblackbold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}
.genblkmorelarge {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #000000;
}
.midbackg {
	background-image: url(../images/dotdivider.gif);
	background-repeat: repeat-x;
	background-position: center;
}
