<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="user id=sa;password=ebix123;initial catalog=EBIX-ADVANTAGE-DEV-NEW;data source=192.168.91.34\sql2008;Connect Timeout=0">
    </add>
    <add key="PDFPath" value="\\192.168.91.81\Upload">
    </add>
    <add key="ClausePath" value=" \ClausesAttachment\">
    </add>
    <!--TemplatePath  key is added to pick the template from CMSWEB folder-->
    <!--For this we   have created a new copy of the logo and template folder in cmsweb-->
    <add key="TemplatePath" value="D:\Projects\EBIX-ADVANTAGE-BRAZIL\Source Code\Cms\CmsWeb\support\">
    </add>
    <add key="IntervalMinutes" value="1">
    </add>
    <add key="EventLogFileName" value="PDFServiceLog.txt">
    </add>
    <add key="RTF_HTML" value="Logo\RTF_DOC_TO_HTM.htm">
    </add>
    <add key="Impersonate" value="1" />
    <!--<add key="IDomain" value="delphi"></add>
    <add key="IUserName" value="ebixadmin"></add>
    <add key="IPassWd" value="k1ll3r"></add>-->
    <add key="IDomain" value="india">
    </add>
	  <add key="IUserName" value="asingh">
	  </add>
    <add key="IPassWd" value="SqlServer321">
    </add>
    <add key="FinalPathpdf" value="final">
    </add>
    <add key="CompanyLogo" value="Logo\Boleto\">
    </add>
    <add key="BoletoPDFCss" value="Logo\BoletoCss.htm">
    </add>
    <add key="BarcodeImagePath" value="Logo\Barcode.jpg">
    </add>
    <add key="LogoPath" value="Logo\Logo.jpg">
    </add>
    <add key="Xsl_Coverage_114_Comprehensive_Dwelling" value="XslTemplate\Coverage_NBS_114_Comprehensive_Dwelling.xsl">
    </add>
    <add key="Xsl_Coverage_114_More_Than_One_Broker_Dwelling" value="XslTemplate\Coverage_114_More_Than_One_Broker_Policy.xsl">
    </add>
    <add key="Xsl_Coverage_114_More_Than_One_Broker__With_Ceded_COI_Dwelling" value="XslTemplate\Coverage_114_More_than_One_Broker_with_CededCOI.xsl">
    </add>
    <add key="Xsl_Coverage_116_Comprehensive_Condominium" value="XslTemplate\Coverage_NBS_116_Comprehensive_Condominium.xsl">
    </add>
    <add key="Xsl_Coverage_116_More_Than_One_Broker_Condominium" value="XslTemplate\Coverage_116_More_Than_One_Broker_Policy.xsl">
    </add>
    <add key="Xsl_Coverage_116_More_Than_One_Broker__With_Ceded_COI_Condominium" value="XslTemplate\Coverage_116_More_Than_One_Broker_With_CededCOI.xsl">
    </add>
    <add key="Xsl_Coverage_118_Comprehensive_Company" value="XslTemplate\Coverage_NBS_118_Comprehensive_Company.xsl">
    </add>
    <add key="Xsl_Coverage_118_More_Than_One_Broker_Company" value="XslTemplate\Coverage_118_More_Than_One_Broker_Policy.xsl">
    </add>
    <add key="Xsl_Coverage_118_More_Than_One_Broker__With_Ceded_COI_Company" value="XslTemplate\Coverage_118_More_Than_One_Broker_With_CededCOI.xsl">
    </add>
    <add key="xsl_Coverage_171_Diversified_Risk" value="XslTemplate\Coverage_NBS_171_Diversified_Risks.xsl">
    </add>
    <add key="xsl_Coverage_171_Diversified_Risk_More_Than_One_Broker" value="XslTemplate\Coverage_NBS_171_More_Than_One_Broker_Policy.xsl">
    </add>
    <add key="xsl_Coverage_171_Diversified_Risk_More_Than_One_Broker_With_Ceded_COI" value="XslTemplate\Coverage_NBS_171_More_Than_One_Broker_With_CededCOI.xsl">
    </add>
    <add key="COI_More_Thn_One_Broker_Policy" value="XslTemplate\COI_More_Thn_One_Broker_Policy.xsl">
    </add>
    <add key="COI_More_Thn_One_Broker_Policy_Endorsement" value="XslTemplate\COI_More_Thn_One_Broker_Policy_Endoso.xsl">
    </add>
    <add key="xslFilepathHeader" value="XslTemplate\HeaderNewBusiness.xsl">
    </add>
    <add key="xslFilepathCover" value="XslTemplate\CoverPageNewBusiness.xsl">
    </add>
    <add key="xslFilepathHeader_Endorsement" value="XslTemplate\Endorsement_Header.xsl">
    </add>
    <add key="xslFilepathCover_Endorsement" value="XslTemplate\Endorsement_CoverPage.xsl">
    </add>
    <add key="Xsl_Cover_Renewal" value="XslTemplate\Renewal_CoverPage.xsl" />
    <add key="Xsl_Header_Renewal" value="XslTemplate\Renewal_Header.xsl" />
    <add key="Xsl_Cover_Cancel_Policy" value="XslTemplate\Cancel_Policy_Cover.xsl" />
    <add key="Xsl__header_Cancel_Policy" value="XslTemplate\Cancel_Policy_Header.xsl" />
    <add key="Xsl_Coverage_523_Liability_Transportation" value="XslTemplate\D-010_Policy_Doc_Insured_Object_Page_523_Civil_Liability_Transportation_v3.xsl">
    </add>
    <add key="Xsl_Coverage_523_Liability_Transportation_withPremium" value="XslTemplate\D-010_Policy_Doc_Insured_Object_Page_523_Civil_Liability_Transportation_v3_WithPremium.xsl">
    </add>
    <add key="Xsl_Coverage_553_Facultive_Liability" value="XslTemplate\D-011_Policy_Doc_Insured_Object_Page_553_Facultative_Liability_v3.xsl">
    </add>
    <add key="Xsl_Coverage_981_Individual_personal_accident" value="XslTemplate\Coverage_NBS_981_More_Than_One_Broker_Policy.xsl">
    </add>
    <add key="Endo_type_21_23_553_Facultative_Liability" value="XslTemplate\D-016_Endo_type_21_23_553_Facultative_Lia.xsl">
    </add>
    <add key="Xsl_Coverage_Endorsement_Type_21_0114_0116_0118_0196_0115_0167" value="XslTemplate\D009_Endorsement_Type_21_0114_0116_0118_0196_0115_0167.xsl">
    </add>
    <add key="xslFilepathCover_Endorsement_Type_21_0114" value="XslTemplate\D009_Endorsement_Type_21_0114.xsl">
    </add>
    <add key="Xsl_Coverage_D_012_Endorsement_type_0993_0982_0520_v2" value="XslTemplate\D_12_Endorsement_type_031_0982_0993_0520_v2.xsl">
    </add>
    <add key="Xsl_Coverage_Endorsement_type_31_553_Facultative_Liability_v2" value="XslTemplate\D-015_Endorsement_type_31_553_Facultative_Liability_v2.xsl">
    </add>
    <add key="Endorsement_type_31_523_Civil_Liability_Transportation" value="XslTemplate\D-013_Endorsement_type_31_523_Civil_Liability_Transportation_v2.xsl">
    </add>
    <add key="Endorsement_type_31_553_D_015_Facultive_Liability" value="XslTemplate\D-015_Endorsement_type_31_553_Facultative_Liability_v2.xsl">
    </add>
    <!--itrack 1298-->
    <add key="D_037_Endorsement_type_31_Product_0520_v1" value="XslTemplate\D_037_Endorsement_type_31_Product_0520_v1.xsl">
    </add>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>