
CREATE TABLE [dbo].[MNT_SYS_PARAMS](
	[FromUserEmailId] [nvarchar](100) NULL,
	[EmailProfile] [nvarchar](100) NULL,
	[EmailText] [nvarchar](200) NULL,
	[EmailSubject] [nvarchar](50) NULL
) ON [PRIMARY]
GO



