IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_WATERCRAFT_INFO]'))
DROP VIEW [dbo].[VW_WATERCRAFT_INFO]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN
--DROP VIEW VW_WATERCRAFT_INFO
--GO
CREATE VIEW VW_WATERCRAFT_INFO
AS
WITH

MNT_HULL_MATERIAL
AS
(
	SELECT DISTINCT PWI.HULL_MATERIAL,MLV.LOOKUP_VALUE_DESC AS 'HULL MATERIAL'
	FROM POL_WATERCRAFT_INFO PWI
	INNER JOIN MNT_LOOKUP_VALUES MLV
	ON MLV.LOOKUP_UNIQUE_ID = PWI.HULL_MATERIAL
),

MNT_TERRITORY
AS
(
	SELECT DISTINCT PWI.TERRITORY,MLV.LOOKUP_VALUE_DESC AS TERR
	FROM POL_WATERCRAFT_INFO PWI
	INNER JOIN MNT_LOOKUP_VALUES MLV
	ON MLV.LOOKUP_UNIQUE_ID = PWI.TERRITORY
),
MNT_WATER_NAV
AS
(
	SELECT DISTINCT PWI.WATERS_NAVIGATED,MLV.LOOKUP_VALUE_DESC AS 'WATERS NAVIGATED'
	FROM POL_WATERCRAFT_INFO PWI
	INNER JOIN MNT_LOOKUP_VALUES MLV
	ON MLV.LOOKUP_UNIQUE_ID = PWI.WATERS_NAVIGATED
),
MNT_COV_BASIS
AS
(
	SELECT DISTINCT PWI.COV_TYPE_BASIS,MLV.LOOKUP_VALUE_DESC AS 'COV TYPE BASIS'
	FROM POL_WATERCRAFT_INFO PWI
	INNER JOIN MNT_LOOKUP_VALUES MLV
	ON MLV.LOOKUP_UNIQUE_ID = PWI.COV_TYPE_BASIS
),
MNT_TRAILER_TYPE
AS
(
	SELECT DISTINCT PWT.TRAILER_TYPE,MLV.LOOKUP_VALUE_DESC AS 'TRAILER TYPE'
	FROM POL_WATERCRAFT_TRAILER_INFO PWT
	INNER JOIN MNT_LOOKUP_VALUES MLV
	ON MLV.LOOKUP_UNIQUE_ID = PWT.TRAILER_TYPE
),

MNT_FUEL_TYPE
AS
(
	SELECT DISTINCT PWI.FUEL_TYPE,MLV.LOOKUP_VALUE_DESC AS 'FUEL TYPE'
	FROM POL_WATERCRAFT_INFO PWI
	INNER JOIN MNT_LOOKUP_VALUES MLV
	ON MLV.LOOKUP_UNIQUE_ID = PWI.FUEL_TYPE
)

SELECT DISTINCT PCL.POLICY_NUMBER,PCL.CUSTOMER_ID, PCL.POLICY_ID, PCL.POLICY_VERSION_ID,PWI.BOAT_NO,
MLV.LOOKUP_VALUE_DESC AS TYPE_OF_WATERCRAFT,PDD.DRIVER_FNAME,MS.STATE_NAME AS STATE_REGISTERED,
--PWI.TYPE_OF_WATERCRAFT, 
PWI.[YEAR], PWI.MAKE,PWI.MODEL,PWI.LENGTH,PWI.WATERCRAFT_HORSE_POWER,PWI.MAX_SPEED,PWI.DATE_PURCHASED,
CASE WHEN PWI.TWIN_SINGLE = 11293 THEN 'TWIN' WHEN PWI.TWIN_SINGLE = 11294 THEN 'SINGLE' ELSE '' END AS 'TWIN/SINGLE', 
MHM.[HULL MATERIAL],--PWI.HULL_MATERIAL,PWI.FUEL_TYPE,
ISNULL(MF.[FUEL TYPE],'')[FUEL TYPE],PWI.INSURING_VALUE,--PWI.TERRITORY,PWI.WATERS_NAVIGATED,PWI.COV_TYPE_BASIS,
MT.TERR AS TERRITORY,MW.[WATERS NAVIGATED],MCB.[COV TYPE BASIS],
PWE.ENGINE_NO,PWE.[YEAR]AS YEAR_OF_ENGINE,PWE.MAKE AS ENGINE_MAKE,PWE.MODEL AS ENGINE_MODEL,PWE.SERIAL_NO AS ENGINE_SERIAL_NO,
PWE.INSURING_VALUE AS ENGINE_INSURING_VALUE,PWT.TRAILER_NO,PWT.[YEAR]AS TRAILER_YEAR,--PWT.TRAILER_TYPE,
MTT.[TRAILER TYPE],PWT.SERIAL_NO AS TRAILER_SERIAL_NO,PWT.INSURED_VALUE,CASE WHEN PWI.SHORE_STATION = 10964 THEN 'NO'
WHEN PWI.SHORE_STATION = 10963 THEN 'YES' ELSE ''END AS 'SHORE STATION',CASE WHEN PWI.DUAL_OWNERSHIP = 10964 THEN 'NO'
WHEN PWI.DUAL_OWNERSHIP = 10963 THEN 'YES'ELSE ''END AS 'DUAL OWNERSHIP',CASE WHEN PWI.LORAN_NAV_SYSTEM = 10964 THEN 'NO'
WHEN PWI.LORAN_NAV_SYSTEM = 10963 THEN 'YES'ELSE ''END AS LORAN_NAV_SYSTEM,
CASE WHEN PWI.HALON_FIRE_EXT_SYSTEM = 10964 THEN 'NO' WHEN PWI.HALON_FIRE_EXT_SYSTEM = 10963 THEN 'YES'ELSE '' END AS
HALON_FIRE_EXT_SYSTEM,CASE WHEN PWI.REMOVE_SAILBOAT = 10964 THEN 'NO' WHEN PWI.REMOVE_SAILBOAT = 10963 THEN 'YES' ELSE ''
END AS REMOVE_SAILBOAT,
CASE WHEN(SELECT BOAT_WITH_HOMEOWNER FROM POL_HOME_OWNER_GEN_INFO P WHERE P.CUSTOMER_ID = PWI.CUSTOMER_ID
AND P.POLICY_ID = PWI.POLICY_ID AND P.POLICY_VERSION_ID = PWI.POLICY_VERSION_ID)= 1 THEN 'YES' 
WHEN (SELECT BOAT_WITH_HOMEOWNER FROM POL_HOME_OWNER_GEN_INFO P WHERE P.CUSTOMER_ID = PWI.CUSTOMER_ID
AND P.POLICY_ID = PWI.POLICY_ID AND P.POLICY_VERSION_ID = PWI.POLICY_VERSION_ID)= 0 THEN 'NO' ELSE ''END 
AS MULTI_POLICY_WITH_HOME,
CASE WHEN (YEAR(PCL.POLICY_EFFECTIVE_DATE)- PDD.DRIVER_COST_GAURAD_AUX)>=5 THEN 'YES' WHEN PDD.WAT_SAFETY_COURSE = 1 THEN
'YES' WHEN PDD.CERT_COAST_GUARD = 1 THEN 'YES' ELSE 'NO' END AS EXPERIENCE,CASE WHEN PWI.FUEL_TYPE = 3725 THEN 'YES'ELSE
'NO'END AS 'DIESEL ENGINE CRAFT',CASE WHEN PGI.BOAT_HOME_DISCOUNT = 1 THEN 'YES' WHEN PGI.BOAT_HOME_DISCOUNT = 0 
THEN 'NO'ELSE ''END AS BOAT_HOME_DISCOUNT,CASE WHEN PGI.MULTI_POLICY_DISC_APPLIED = 1 THEN 'YES'
WHEN PGI.MULTI_POLICY_DISC_APPLIED = 0 THEN 'NO' END AS MULTI_POLICY_DISC_APPLIED,
YEAR(PCL.POLICY_EFFECTIVE_DATE)-PWI.[YEAR]AS AGE_OF_WATERCRAFT,
CASE WHEN PWI.HULL_MATERIAL = 140 AND YEAR(PCL.POLICY_EFFECTIVE_DATE)-PWI.[YEAR] >10 THEN 'YES' ELSE 'NO' END AS 
'WOOODEN BOATS OVER 10 YRS',CASE WHEN PWI.HULL_MATERIAL = 142 AND YEAR(PCL.POLICY_EFFECTIVE_DATE)-PWI.[YEAR] >15
THEN 'YES' ELSE 'NO' END AS 'FIBERGLASS BOATS OVER 10 YRS',
CASE WHEN CAST(PWI.LENGTH AS DECIMAL) > 26.00 AND PWI.MAX_SPEED BETWEEN 55 AND 65 THEN 'YES' 
WHEN CAST(PWI.LENGTH AS DECIMAL) = 26.00 AND CAST(ISNULL(PWI.INCHES,0) AS INT) > 0 AND PWI.MAX_SPEED BETWEEN 55 AND 65 
THEN'YES'ELSE 'NO' END AS 'BOAT OVER 26FT AND SPEED 55-65',ED.DESCRIPTION AS ENDORSEMENT,APSD.GROSS_PREMIUM
FROM POL_WATERCRAFT_INFO PWI
LEFT JOIN POL_WATERCRAFT_ENGINE_INFO PWE
	ON PWI.CUSTOMER_ID = PWE.CUSTOMER_ID
	AND PWI.POLICY_ID = PWE.POLICY_ID
	AND PWI.POLICY_VERSION_ID = PWE.POLICY_VERSION_ID
LEFT JOIN POL_WATERCRAFT_TRAILER_INFO PWT
	ON PWI.CUSTOMER_ID = PWT.CUSTOMER_ID
	AND PWI.POLICY_ID = PWT.POLICY_ID
	AND PWI.POLICY_VERSION_ID = PWT.POLICY_VERSION_ID
LEFT JOIN POL_CUSTOMER_POLICY_LIST PCL
	ON PWI.CUSTOMER_ID = PCL.CUSTOMER_ID
	AND PWI.POLICY_ID = PCL.POLICY_ID
	AND PWI.POLICY_VERSION_ID = PCL.POLICY_VERSION_ID
LEFT JOIN POL_WATERCRAFT_DRIVER_DETAILS PDD
	ON PWI.CUSTOMER_ID = PDD.CUSTOMER_ID
	AND PWI.POLICY_ID = PDD.POLICY_ID
	AND PWI.POLICY_VERSION_ID = PDD.POLICY_VERSION_ID
LEFT JOIN POL_WATERCRAFT_GEN_INFO PGI
	ON PWI.CUSTOMER_ID = PGI.CUSTOMER_ID
	AND PWI.POLICY_ID = PGI.POLICY_ID
	AND PWI.POLICY_VERSION_ID = PGI.POLICY_VERSION_ID
LEFT JOIN ACT_PREMIUM_PROCESS_SUB_DETAILS APSD
	ON PWI.CUSTOMER_ID = APSD.CUSTOMER_ID
	AND PWI.POLICY_ID = APSD.POLICY_ID
	AND PWI.POLICY_VERSION_ID = APSD.POLICY_VERSION_ID
	AND PWI.BOAT_ID = APSD.RISK_ID
LEFT JOIN POL_WATERCRAFT_ENDORSEMENTS WE
	ON PWI.CUSTOMER_ID = WE.CUSTOMER_ID
	AND PWI.POLICY_ID = WE.POLICY_ID
	AND PWI.POLICY_VERSION_ID = WE.POLICY_VERSION_ID
LEFT JOIN MNT_ENDORSMENT_DETAILS ED
	ON WE.ENDORSEMENT_ID = ED.ENDORSMENT_ID
LEFT JOIN MNT_LOOKUP_VALUES MLV
	ON MLV.LOOKUP_UNIQUE_ID = PWI.TYPE_OF_WATERCRAFT
LEFT JOIN MNT_HULL_MATERIAL MHM
	ON PWI.HULL_MATERIAL = MHM.HULL_MATERIAL
LEFT JOIN MNT_TERRITORY MT
	ON PWI.TERRITORY = MT.TERRITORY
LEFT JOIN MNT_WATER_NAV MW
	ON PWI.WATERS_NAVIGATED = MW.WATERS_NAVIGATED
LEFT JOIN MNT_COV_BASIS MCB
	ON PWI.COV_TYPE_BASIS = MCB.COV_TYPE_BASIS
LEFT JOIN MNT_TRAILER_TYPE MTT
	ON PWT.TRAILER_TYPE = MTT.TRAILER_TYPE
LEFT JOIN MNT_FUEL_TYPE MF
	ON PWI.FUEL_TYPE = MF.FUEL_TYPE
LEFT JOIN MNT_COUNTRY_STATE_LIST MS
	ON PWI.STATE_REG = MS.STATE_ID
WHERE PCL.POLICY_STATUS = 'NORMAL' AND 
	PCL.POLICY_VERSION_ID >= 
		( 
			SELECT MIN(PPPIN.NEW_POLICY_VERSION_ID) FROM POL_POLICY_PROCESS PPPIN
			WHERE PPPIN.CUSTOMER_ID = PCL.CUSTOMER_ID 
			AND PPPIN.POLICY_ID		= PCL.POLICY_ID 
			AND PROCESS_ID	IN (25,18)  
			AND PROCESS_STATUS		='COMPLETE'-- MIN OF NBS OR RENEWAL
			AND ISNULL(REVERT_BACK,'N') = 'N'
		) 
	--AND PWI.CUSTOMER_ID = 2843 AND PWI.POLICY_ID = 1 --AND PWI.HULL_MATERIAL IN (140,142)
	--AND (CAST(PWI.LENGTH AS INT)> 26 OR CAST(PWI.LENGTH AS INT)= 26 AND CAST(PWI.INCHES AS INT)>0) AND PWI.MAX_SPEED BETWEEN 55 AND 65

--ORDER BY PCL.POLICY_NUMBER

--GO 
--SELECT * FROM VW_WATERCRAFT_INFO WHERE POLICY_NUMBER LIKE 'W700%'
--ROLLBACK TRAN
GO

