IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VIW_CUSTOMER_APPLICATIONS_LIST]'))
DROP VIEW [dbo].[VIW_CUSTOMER_APPLICATIONS_LIST]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VIW_CUSTOMER_APPLICATIONS_LIST]            
AS    
      
WITH CUSTOMER_SEARCH1             
AS            
(            
SELECT ISNULL(CCL.CUSTOMER_FIRST_NAME, '') + ' ' + ISNULL(CCL.CUSTOMER_MIDDLE_NAME, '') + ' ' + ISNULL(CCL.CUSTOMER_LAST_NAME, '') +' '+ ISNULL(CUSTOMER_SUFFIX,'')            
+ '<br />' + case when MLM.LANG_ID =2 then 'Corretor:' else 'Broker:' end + ISNULL(AGN.AGENCY_DISPLAY_NAME, '') AS CUSTOMER_NAME,            
ISNULL(AL.APP_NUMBER, '')  + ' ' + ISNULL(CASE WHEN AL.APP_NUMBER IS NOT NULL THEN ISNULL(AL.APP_VERSION, '')      
 + ISNULL( MLV.LOOKUP_VALUE_DESC + ': ', '')       
 --+ UPPER(SUBSTRING(ISNULL(AL.APP_STATUS, ''),1,1))+LOWER(SUBSTRING(ISNULL(AL.APP_STATUS, ''),2,24))       
 + ISNULL(' ('+ APP_STATUS_MASTER1.POLICY_DESCRIPTION+')',ISNULL(' ('+ APP_STATUS_MASTER.POLICY_DESCRIPTION+')', ''))      
 END, '')        
 AS APP_NUMBER,
 ISNULL(AL.POLICY_NUMBER,0) AS POLICY_NUMBER,              
ISNULL(CASE WHEN AL.POLICY_NUMBER IS NOT NULL             
THEN ISNULL(case when AL.POLICY_NUMBER='To be generated' and MLM.LANG_ID =2 then 'Para ser gerada' else  AL.POLICY_NUMBER end,'') + ' ' + ISNULL(AL.POLICY_DISP_VERSION, '')             
+ ISNULL( ISNULL(' (' + STATUS_MASTER1.POLICY_DESCRIPTION+ ')',ISNULL(' ('+STATUS_MASTER.POLICY_DESCRIPTION+')', '')) ,'') END, '') AS DISPLAY_POLICY_NUMBER,             
CCL.CUSTOMER_FIRST_NAME, ISNULL(CCL.CUSTOMER_MIDDLE_NAME,'') AS CUSTOMER_MIDDLE_NAME, ISNULL(CCL.CUSTOMER_LAST_NAME,'') AS CUSTOMER_LAST_NAME,       
AL.APP_NUMBER AS AL_APP_NUMBER, AL.APP_VERSION_ID, CCL.CUSTOMER_ID,             
AL.APP_ID, AL.POLICY_ID, ISNULL(AL.POLICY_VERSION_ID, '') AS POLICY_VERSION_ID, MLM.LOB_ID, MLM.LOB_DESC,             
UPPER(ISNULL(SL.STATE_NAME,case when MLM.LANG_ID =2 then 'Todos' else 'ALL' end)) AS STATE_NAME, CCL.IS_ACTIVE, CCL.CUSTOMER_AGENCY_ID, AL.AGENCY_ID as APP_AGENCY_ID, AL.AGENCY_ID,      
 AL.APP_VERSION_ID AS APP_VERSION, 
 ISNULL(SL.STATE_CODE,case when MLM.LANG_ID =2 then 'Todos' else 'ALL' end) AS STATE_CODE, UPPER(ISNULL(MCSL.STATE_NAME,case when MLM.LANG_ID =2 then 'Todos' else 'ALL' end)) AS STATE_NAME1,CQL.QQ_NUMBER AS  QQ_NUMBER,   

   POL_VER_EFFECTIVE_DATE as APP_EFFECTIVE_DATE ,
  POL_VER_EXPIRATION_DATE as APP_EXPIRATION_DATE
 
   
 ,TRANSACTION_ID,LEADER_POLICY_NUMBER/*CASE WHEN AL.APP_STATUS ='QAPP' THEN CQL.QQ_NUMBER ELSE '' END AS QQ_NUMBER*/      
 ,MLM.LANG_ID ,ISNULL(CAL.FIRST_NAME ,'') + ' ' + ISNULL(CAL.MIDDLE_NAME,'')+' '+ISNULL(CAL.LAST_NAME,'') AS
  CO_APPLICANT_NAME  ,ISNULL(STATUS_MASTER1.POLICY_STATUS_CODE,ISNULL(STATUS_MASTER.POLICY_STATUS_CODE, '')) AS POLICY_STATUS  ,
  CASE WHEN ISNULL(IS_UNDER_REVIEW,'0') =  '1' AND APP_STATUS ='APPLICATION' THEN 'REFERRED' ELSE APP_STATUS END   APP_STATUS  ,
  ISNULL(AL.POLICY_DISP_VERSION,'')  POLICY_DISP_VERSION    -- praveer for itrack no 1500
FROM CLT_CUSTOMER_LIST AS CCL with(nolock)             
 INNER JOIN POL_CUSTOMER_POLICY_LIST AS AL with(nolock) ON CCL.CUSTOMER_ID = AL.CUSTOMER_ID                  
 LEFT OUTER JOIN       
 (      
 select LOB_ID,LOB_DESC , 1 as LANG_ID from MNT_LOB_MASTER with(nolock)      
 union      
 select LOB_ID,LOB_DESC , LANG_ID from MNT_LOB_MASTER_MULTILINGUAL with(nolock)      
 )      
 AS MLM  ON       
 AL.POLICY_LOB = MLM.LOB_ID             
 LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST AS SL with(nolock) ON AL.STATE_ID =SL.STATE_ID      
 LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST AS MCSL with(nolock) ON MCSL.STATE_ID = CCL.CUSTOMER_STATE             
 LEFT OUTER JOIN MNT_LOOKUP_VALUES AS MLV with(nolock) ON MLV.LOOKUP_UNIQUE_ID = AL.POLICY_TYPE             
       
 LEFT OUTER JOIN POL_POLICY_STATUS_MASTER AS APP_STATUS_MASTER with(nolock) ON APP_STATUS_MASTER.POLICY_STATUS_CODE = AL.APP_STATUS             
 LEFT OUTER JOIN POL_POLICY_STATUS_MASTER_MULTILINGUAL AS APP_STATUS_MASTER1 with(nolock)       
 ON APP_STATUS_MASTER1.POLICY_STATUS_CODE = APP_STATUS_MASTER.POLICY_STATUS_CODE             
 AND APP_STATUS_MASTER1.LANG_ID=MLM.LANG_ID      
       
 LEFT OUTER JOIN POL_POLICY_STATUS_MASTER AS STATUS_MASTER with(nolock) ON STATUS_MASTER.POLICY_STATUS_CODE = AL.POLICY_STATUS             
 LEFT OUTER JOIN POL_POLICY_STATUS_MASTER_MULTILINGUAL AS STATUS_MASTER1 with(nolock)       
 ON STATUS_MASTER1.POLICY_STATUS_CODE = STATUS_MASTER.POLICY_STATUS_CODE             
 AND STATUS_MASTER1.LANG_ID=MLM.LANG_ID      
 LEFT OUTER JOIN MNT_AGENCY_LIST AS AGN with(nolock) ON AGN.AGENCY_ID = CCL.CUSTOMER_AGENCY_ID      
 LEFT OUTER JOIN CLT_QUICKQUOTE_LIST AS CQL ON AL.CUSTOMER_ID=CQL.CUSTOMER_ID AND AL.APP_NUMBER=CQL.QQ_APP_NUMBER      
 LEFT OUTER JOIN POL_CO_INSURANCE AS CI WITH(NOLOCK) ON CI.CUSTOMER_ID=CCL.CUSTOMER_ID And CI.POLICY_ID= AL.POLICY_ID AND CI.POLICY_VERSION_ID=AL.POLICY_VERSION_ID 
 LEFT OUTER JOIN POL_APPLICANT_LIST PAL WITH(NOLOCK) ON PAL.CUSTOMER_ID=AL.CUSTOMER_ID  AND PAL.POLICY_ID = AL.POLICY_ID AND PAL.POLICY_VERSION_ID = AL.POLICY_VERSION_ID
 LEFT OUTER JOIN CLT_APPLICANT_LIST CAL WITH(NOLOCK) ON CAL.CUSTOMER_ID= PAL.CUSTOMER_ID  AND CAL.APPLICANT_ID= PAL.APPLICANT_ID  
  JOIN POL_POLICY_PROCESS PPP WITH(NOLOCK)  ON  PAL.APPLICANT_ID=case WHEN PPP.CO_APPLICANT_ID=0 THEN PAL.APPLICANT_ID ELSE PPP.CO_APPLICANT_ID END   and  PAL.CUSTOMER_ID= PPP.CUSTOMER_ID 
 and PAL.POLICY_ID=PPP.POLICY_ID and PAL.POLICY_VERSION_ID=PPP.NEW_POLICY_VERSION_ID and  PPP.PROCESS_STATUS <>'ROLLBACK' -- changed by praveer for itrack no 1567
  
 where (AL.CUSTOMER_ID!=-100 AND AL.APP_STATUS!='QAPP' and REPLACE(AL.CUSTOMER_ID,' ','')<>'') --  changed by praveer for TFS# 1958    
),            
CUSTOMER_SEARCH3 AS            
(            
SELECT ISNULL(CCL.CUSTOMER_FIRST_NAME, '') + ' ' + ISNULL(CCL.CUSTOMER_MIDDLE_NAME, '') + ' ' + ISNULL(CCL.CUSTOMER_LAST_NAME, '') +' '+ ISNULL(CUSTOMER_SUFFIX,'')            
+ '<br />' + case when MLM.LANG_ID =2 then 'Corretor:' else 'Broker:' end + ISNULL(AGN.AGENCY_DISPLAY_NAME, '') AS CUSTOMER_NAME,        
ISNULL(AL.APP_NUMBER, '') + ' ' + ISNULL(CASE WHEN AL.APP_NUMBER IS NOT NULL THEN ISNULL(AL.APP_VERSION, '')       
+ISNULL( ' ('       
+UPPER(SUBSTRING(ISNULL(AL.APP_STATUS, ''),1,1))+LOWER(SUBSTRING(ISNULL(AL.APP_STATUS, ''),2,24))+      
 + ')','') END, '') AS APP_NUMBER, 
ISNULL(AL.POLICY_NUMBER,0) AS POLICY_NUMBER,            
ISNULL(CASE WHEN AL.POLICY_NUMBER IS NOT NULL             
THEN ISNULL(AL.POLICY_NUMBER , '')  + ' ' + ISNULL(AL.POLICY_DISP_VERSION,'')             
 + ISNULL(' (' + ISNULL(AL.POLICY_STATUS, '') + ')','') END, '') AS DISPLAY_POLICY_NUMBER,             
CCL.CUSTOMER_FIRST_NAME, CCL.CUSTOMER_MIDDLE_NAME, CCL.CUSTOMER_LAST_NAME, AL.APP_NUMBER AS AL_APP_NUMBER,             
AL.APP_VERSION_ID, CCL.CUSTOMER_ID, AL.APP_ID, AL.POLICY_ID, ISNULL(AL.POLICY_VERSION_ID, '') AS POLICY_VERSION_ID,             
MLM.LOB_ID, MLM.LOB_DESC, UPPER(ISNULL(SL.STATE_NAME,case when MLM.LANG_ID =2 then 'Todos' else 'ALL' end)) AS STATE_NAME, CCL.IS_ACTIVE, CCL.CUSTOMER_AGENCY_ID,             
AL.AGENCY_ID as APP_AGENCY_ID, AL.AGENCY_ID, AL.APP_VERSION_ID AS APP_VERSION, 
ISNULL(SL.STATE_CODE,'') AS STATE_CODE, 
UPPER(ISNULL(MCSL.STATE_NAME,case when MLM.LANG_ID =2 then 'Todos' else 'ALL' end)) AS

 STATE_NAME1,CQL.QQ_NUMBER AS  QQ_NUMBER,    
  POL_VER_EFFECTIVE_DATE as APP_EFFECTIVE_DATE,  
 POL_VER_EXPIRATION_DATE as APP_EXPIRATION_DATE
  
,TRANSACTION_ID,LEADER_POLICY_NUMBER,      
MLM.LANG_ID ,ISNULL(CAL.FIRST_NAME ,'') + ' ' + ISNULL(CAL.MIDDLE_NAME,'')+' '+ISNULL(CAL.LAST_NAME,'') AS
  CO_APPLICANT_NAME ,AL.POLICY_STATUS AS POLICY_STATUS, 
  CASE WHEN ISNULL(IS_UNDER_REVIEW,'0') =  '1' AND APP_STATUS ='APPLICATION' THEN 'REFERRED' ELSE APP_STATUS END   APP_STATUS   ,
   ISNULL(AL.POLICY_DISP_VERSION,'')  POLICY_DISP_VERSION    -- praveer for itrack no 1500       
FROM CLT_CUSTOMER_LIST AS CCL with(nolock)                   
 LEFT OUTER JOIN POL_CUSTOMER_POLICY_LIST AS AL with(nolock) ON CCL.CUSTOMER_ID = AL.CUSTOMER_ID                  
 --LEFT OUTER JOIN MNT_LOB_MASTER AS MLM with(nolock) ON AL.POLICY_LOB = MLM.LOB_ID             
 LEFT OUTER JOIN       
 (      
 select LOB_ID,LOB_DESC , 1 as LANG_ID from MNT_LOB_MASTER with(nolock)      
 union      
 select LOB_ID,LOB_DESC , LANG_ID from MNT_LOB_MASTER_MULTILINGUAL with(nolock)      
 )      
 AS MLM  ON       
 AL.POLICY_LOB = MLM.LOB_ID          
 LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST AS SL with(nolock) ON AL.STATE_ID = SL.STATE_ID             
 LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST AS MCSL with(nolock)  ON MCSL.STATE_ID = CCL.CUSTOMER_STATE             
 LEFT OUTER JOIN MNT_AGENCY_LIST AS AGN with(nolock) ON AGN.AGENCY_ID = CCL.CUSTOMER_AGENCY_ID          
 LEFT OUTER JOIN CLT_QUICKQUOTE_LIST AS CQL ON AL.CUSTOMER_ID=CQL.CUSTOMER_ID AND AL.APP_NUMBER=CQL.QQ_APP_NUMBER      
 LEFT OUTER JOIN POL_CO_INSURANCE AS CI WITH(NOLOCK) ON CI.CUSTOMER_ID=CCL.CUSTOMER_ID And CI.POLICY_ID= AL.POLICY_ID AND CI.POLICY_VERSION_ID=AL.POLICY_VERSION_ID      
  LEFT OUTER JOIN POL_APPLICANT_LIST PAL WITH(NOLOCK) ON PAL.CUSTOMER_ID=AL.CUSTOMER_ID  AND PAL.POLICY_ID = AL.POLICY_ID AND PAL.POLICY_VERSION_ID = AL.POLICY_VERSION_ID
 LEFT OUTER JOIN CLT_APPLICANT_LIST CAL WITH(NOLOCK) ON CAL.CUSTOMER_ID= PAL.CUSTOMER_ID  AND CAL.APPLICANT_ID= PAL.APPLICANT_ID  
 LEFT OUTER JOIN POL_POLICY_PROCESS PPP WITH(NOLOCK)  ON  PAL.APPLICANT_ID=case WHEN PPP.CO_APPLICANT_ID=0 THEN PAL.APPLICANT_ID ELSE PPP.CO_APPLICANT_ID END   and  PAL.CUSTOMER_ID= PPP.CUSTOMER_ID 
 and PAL.POLICY_ID=PPP.POLICY_ID and PAL.POLICY_VERSION_ID=PPP.NEW_POLICY_VERSION_ID -- changed by praveer for itrack no 1567
  
    
   
WHERE AL.APP_ID IS NULL /*AND (AL.CUSTOMER_ID!=-100 AND AL.APP_STATUS!='QAPP')*/      
),      
      
CUSTOMER_SEARCH4 AS        
(      
SELECT ISNULL(CCL.CUSTOMER_FIRST_NAME, '') + ' ' + ISNULL(CCL.CUSTOMER_MIDDLE_NAME, '') + ' ' + ISNULL(CCL.CUSTOMER_LAST_NAME, '') +' '+ ISNULL(CUSTOMER_SUFFIX,'')      
+ '<br />' + case when MLM.LANG_ID =2 then 'Corretor:' else 'Broker:' end + ISNULL(AGN.AGENCY_DISPLAY_NAME, '') AS CUSTOMER_NAME, CASE WHEN AL.APP_STATUS='QAPP' THEN '' ELSE             
ISNULL(AL.APP_NUMBER, '')  + ' ' + ISNULL(CASE WHEN AL.APP_NUMBER IS NOT NULL THEN ISNULL(AL.APP_VERSION, '')       
+ ISNULL(' (' + ISNULL(MLV.LOOKUP_VALUE_DESC + ': ', '')       
 --+ ISNULL(AL.APP_STATUS, '')       
 + ISNULL(APP_STATUS_MASTER1.POLICY_DESCRIPTION,ISNULL(APP_STATUS_MASTER.POLICY_DESCRIPTION, ''))      
 + ')','') END, '') END AS APP_NUMBER,
  ISNULL(AL.POLICY_NUMBER,0) AS POLICY_NUMBER,             
ISNULL(CASE WHEN AL.POLICY_NUMBER IS NOT NULL             
THEN ISNULL(AL.POLICY_NUMBER,'') + ' ' + ISNULL(AL.POLICY_DISP_VERSION, '')             
+ ISNULL(' (' + ISNULL(ISNULL(STATUS_MASTER1.POLICY_DESCRIPTION,STATUS_MASTER.POLICY_DESCRIPTION), '') + ')','') END, '') AS DISPLAY_POLICY_NUMBER,             
CCL.CUSTOMER_FIRST_NAME, ISNULL(CCL.CUSTOMER_MIDDLE_NAME,'') AS CUSTOMER_MIDDLE_NAME, ISNULL(CCL.CUSTOMER_LAST_NAME,'') AS CUSTOMER_LAST_NAME,       
AL.APP_NUMBER AS AL_APP_NUMBER, AL.APP_VERSION_ID, CCL.CUSTOMER_ID,             
AL.APP_ID, AL.POLICY_ID, ISNULL(AL.POLICY_VERSION_ID, '') AS POLICY_VERSION_ID, MLM.LOB_ID, MLM.LOB_DESC,             
UPPER(ISNULL(SL.STATE_NAME,case when MLM.LANG_ID =2 then 'Todos' else 'ALL' end)) AS STATE_NAME, CCL.IS_ACTIVE, CCL.CUSTOMER_AGENCY_ID, AL.AGENCY_ID as APP_AGENCY_ID, AL.AGENCY_ID,      
 AL.APP_VERSION_ID AS APP_VERSION, ISNULL(SL.STATE_CODE,case when MLM.LANG_ID =2 then 'Todos' else 'ALL' end) AS STATE_CODE, UPPER(ISNULL(MCSL.STATE_NAME,case when MLM.LANG_ID =2 then 'Todos' else 'ALL' end)) AS STATE_NAME1,CASE WHEN AL.APP_STATUS='QAPP'



 THEN CQL.QQ_NUMBER ELSE '' END AS  QQ_NUMBER,  
  POL_VER_EFFECTIVE_DATE as APP_EFFECTIVE_DATE,
  POL_VER_EXPIRATION_DATE as APP_EXPIRATION_DATE

 ,TRANSACTION_ID,LEADER_POLICY_NUMBER/*CASE WHEN AL.APP_STATUS ='QAPP' THEN CQL.QQ_NUMBER ELSE '' END AS QQ_NUMBER*/      
 ,MLM.LANG_ID  ,ISNULL(CAL.FIRST_NAME ,'') + ' ' + ISNULL(CAL.MIDDLE_NAME,'')+' '+ISNULL(CAL.LAST_NAME,'') AS
  CO_APPLICANT_NAME ,ISNULL(STATUS_MASTER1.POLICY_STATUS_CODE,ISNULL(STATUS_MASTER.POLICY_STATUS_CODE, '')) AS POLICY_STATUS 
  ,CASE WHEN ISNULL(IS_UNDER_REVIEW,'0') =  '1' AND APP_STATUS ='APPLICATION' THEN 'REFERRED' ELSE APP_STATUS END   APP_STATUS  ,
   ISNULL(AL.POLICY_DISP_VERSION,'')  POLICY_DISP_VERSION    -- praveer for itrack no 1500          
FROM CLT_CUSTOMER_LIST AS CCL with(nolock)             
 INNER JOIN POL_CUSTOMER_POLICY_LIST AS AL with(nolock) ON CCL.CUSTOMER_ID = AL.CUSTOMER_ID                  
 --LEFT OUTER JOIN MNT_LOB_MASTER AS MLM with(nolock) ON AL.POLICY_LOB = MLM.LOB_ID        
 LEFT OUTER JOIN       
 (      
 select LOB_ID,LOB_DESC , 1 as LANG_ID from MNT_LOB_MASTER with(nolock)      
 union      
 select LOB_ID,LOB_DESC , LANG_ID from MNT_LOB_MASTER_MULTILINGUAL with(nolock)      
 )      
 AS MLM  ON       
 AL.POLICY_LOB = MLM.LOB_ID                
 LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST AS SL with(nolock) ON AL.STATE_ID = SL.STATE_ID             
 LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST AS MCSL with(nolock) ON MCSL.STATE_ID = CCL.CUSTOMER_STATE             
 LEFT OUTER JOIN MNT_LOOKUP_VALUES AS MLV with(nolock) ON MLV.LOOKUP_UNIQUE_ID = AL.POLICY_TYPE             
       
 LEFT OUTER JOIN POL_POLICY_STATUS_MASTER AS APP_STATUS_MASTER with(nolock) ON APP_STATUS_MASTER.POLICY_STATUS_CODE = AL.APP_STATUS             
 LEFT OUTER JOIN POL_POLICY_STATUS_MASTER_MULTILINGUAL AS APP_STATUS_MASTER1 with(nolock)       
 ON APP_STATUS_MASTER1.POLICY_STATUS_CODE = APP_STATUS_MASTER.POLICY_STATUS_CODE             
 AND APP_STATUS_MASTER1.LANG_ID=MLM.LANG_ID      
       
 LEFT OUTER JOIN POL_POLICY_STATUS_MASTER AS STATUS_MASTER with(nolock) ON STATUS_MASTER.POLICY_STATUS_CODE = AL.POLICY_STATUS             
 LEFT OUTER JOIN POL_POLICY_STATUS_MASTER_MULTILINGUAL AS STATUS_MASTER1 with(nolock)       
 ON STATUS_MASTER1.POLICY_STATUS_CODE = STATUS_MASTER.POLICY_STATUS_CODE             
 AND STATUS_MASTER1.LANG_ID=MLM.LANG_ID      
 LEFT OUTER JOIN MNT_AGENCY_LIST AS AGN with(nolock) ON AGN.AGENCY_ID = CCL.CUSTOMER_AGENCY_ID      
       
 LEFT OUTER JOIN CLT_QUICKQUOTE_LIST AS CQL ON AL.CUSTOMER_ID=CQL.CUSTOMER_ID AND AL.APP_NUMBER=CQL.QQ_APP_NUMBER       
 LEFT OUTER JOIN POL_CO_INSURANCE AS CI WITH(NOLOCK) ON CI.CUSTOMER_ID=CCL.CUSTOMER_ID  And CI.POLICY_ID= AL.POLICY_ID AND CI.POLICY_VERSION_ID=AL.POLICY_VERSION_ID 
  LEFT OUTER JOIN POL_APPLICANT_LIST PAL WITH(NOLOCK) ON PAL.CUSTOMER_ID=AL.CUSTOMER_ID  AND PAL.POLICY_ID = AL.POLICY_ID AND PAL.POLICY_VERSION_ID = AL.POLICY_VERSION_ID
 LEFT OUTER JOIN CLT_APPLICANT_LIST CAL WITH(NOLOCK) ON CAL.CUSTOMER_ID= PAL.CUSTOMER_ID AND CAL.APPLICANT_ID= PAL.APPLICANT_ID  
  LEFT OUTER JOIN POL_POLICY_PROCESS PPP WITH(NOLOCK)  ON  PAL.APPLICANT_ID=case WHEN PPP.CO_APPLICANT_ID=0 THEN PAL.APPLICANT_ID ELSE PPP.CO_APPLICANT_ID END   and  PAL.CUSTOMER_ID= PPP.CUSTOMER_ID 
 and PAL.POLICY_ID=PPP.POLICY_ID and PAL.POLICY_VERSION_ID=PPP.NEW_POLICY_VERSION_ID -- changed by praveer for itrack no 1567
    
  where (AL.CUSTOMER_ID=-100 or  AL.APP_STATUS='QAPP') and QQ_NUMBER is not null      
 )  , 
 /*  start changes by praveer fot itrack no 1567 */
          
        
CUSTOMER_SEARCH5 AS          
(        
SELECT ISNULL(CCL.CUSTOMER_FIRST_NAME, '') + ' ' + ISNULL(CCL.CUSTOMER_MIDDLE_NAME, '') + ' ' + ISNULL(CCL.CUSTOMER_LAST_NAME, '') +' '+ ISNULL(CUSTOMER_SUFFIX,'')        
+ '<br />' + case when MLM.LANG_ID =2 then 'Corretor:' else 'Broker:' end + ISNULL(AGN.AGENCY_DISPLAY_NAME, '') AS CUSTOMER_NAME, CASE WHEN AL.APP_STATUS='QAPP' THEN '' ELSE               
ISNULL(AL.APP_NUMBER, '')  + ' ' + ISNULL(CASE WHEN AL.APP_NUMBER IS NOT NULL THEN ISNULL(AL.APP_VERSION, '')         
+ ISNULL(' (' + ISNULL(MLV.LOOKUP_VALUE_DESC + ': ', '')         
 --+ ISNULL(AL.APP_STATUS, '')         
 + ISNULL(APP_STATUS_MASTER1.POLICY_DESCRIPTION,ISNULL(APP_STATUS_MASTER.POLICY_DESCRIPTION, ''))        
 + ')','') END, '') END AS APP_NUMBER,  
  ISNULL(AL.POLICY_NUMBER,0) AS POLICY_NUMBER,               
ISNULL(CASE WHEN AL.POLICY_NUMBER IS NOT NULL               
THEN ISNULL(AL.POLICY_NUMBER,'') + ' ' + ISNULL(AL.POLICY_DISP_VERSION, '')               
+ ISNULL(' (' + ISNULL(ISNULL(STATUS_MASTER1.POLICY_DESCRIPTION,STATUS_MASTER.POLICY_DESCRIPTION), '') + ')','') END, '') AS DISPLAY_POLICY_NUMBER,               
CCL.CUSTOMER_FIRST_NAME, ISNULL(CCL.CUSTOMER_MIDDLE_NAME,'') AS CUSTOMER_MIDDLE_NAME, ISNULL(CCL.CUSTOMER_LAST_NAME,'') AS CUSTOMER_LAST_NAME,         
AL.APP_NUMBER AS AL_APP_NUMBER, AL.APP_VERSION_ID, CCL.CUSTOMER_ID,               
AL.APP_ID, AL.POLICY_ID, ISNULL(AL.POLICY_VERSION_ID, '') AS POLICY_VERSION_ID, MLM.LOB_ID, MLM.LOB_DESC,               
UPPER(ISNULL(SL.STATE_NAME,case when MLM.LANG_ID =2 then 'Todos' else 'ALL' end)) AS STATE_NAME, CCL.IS_ACTIVE, CCL.CUSTOMER_AGENCY_ID, AL.AGENCY_ID as APP_AGENCY_ID, AL.AGENCY_ID,        
 AL.APP_VERSION_ID AS APP_VERSION, ISNULL(SL.STATE_CODE,case when MLM.LANG_ID =2 then 'Todos' else 'ALL' end) AS STATE_CODE, UPPER(ISNULL(MCSL.STATE_NAME,case when MLM.LANG_ID =2 then 'Todos' else 'ALL' end)) AS STATE_NAME1,CASE WHEN AL.APP_STATUS='QAPP' 
 
  
  
  
 THEN CQL.QQ_NUMBER ELSE '' END AS  QQ_NUMBER,    
  POL_VER_EFFECTIVE_DATE as APP_EFFECTIVE_DATE,  
  POL_VER_EXPIRATION_DATE as APP_EXPIRATION_DATE  
  
 ,TRANSACTION_ID,LEADER_POLICY_NUMBER/*CASE WHEN AL.APP_STATUS ='QAPP' THEN CQL.QQ_NUMBER ELSE '' END AS QQ_NUMBER*/        
 ,MLM.LANG_ID  ,ISNULL(CAL.FIRST_NAME ,'') + ' ' + ISNULL(CAL.MIDDLE_NAME,'')+' '+ISNULL(CAL.LAST_NAME,'') AS  
  CO_APPLICANT_NAME ,ISNULL(STATUS_MASTER1.POLICY_STATUS_CODE,ISNULL(STATUS_MASTER.POLICY_STATUS_CODE, '')) AS POLICY_STATUS   
  ,CASE WHEN ISNULL(IS_UNDER_REVIEW,'0') =  '1' AND APP_STATUS ='APPLICATION' THEN 'REFERRED' ELSE APP_STATUS END   APP_STATUS  ,  
   ISNULL(AL.POLICY_DISP_VERSION,'')  POLICY_DISP_VERSION    -- praveer for itrack no 1500            
FROM CLT_CUSTOMER_LIST AS CCL with(nolock)               
 JOIN POL_CUSTOMER_POLICY_LIST AS AL with(nolock) ON CCL.CUSTOMER_ID = AL.CUSTOMER_ID                    
 --LEFT OUTER JOIN MNT_LOB_MASTER AS MLM with(nolock) ON AL.POLICY_LOB = MLM.LOB_ID          
 LEFT OUTER JOIN         
 (        
 select LOB_ID,LOB_DESC , 1 as LANG_ID from MNT_LOB_MASTER with(nolock)        
 union        
 select LOB_ID,LOB_DESC , LANG_ID from MNT_LOB_MASTER_MULTILINGUAL with(nolock)        
 )        
 AS MLM  ON         
 AL.POLICY_LOB = MLM.LOB_ID                  
 LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST AS SL with(nolock) ON AL.STATE_ID = SL.STATE_ID               
 LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST AS MCSL with(nolock) ON MCSL.STATE_ID = CCL.CUSTOMER_STATE               
 LEFT OUTER JOIN MNT_LOOKUP_VALUES AS MLV with(nolock) ON MLV.LOOKUP_UNIQUE_ID = AL.POLICY_TYPE               
         
 LEFT OUTER JOIN POL_POLICY_STATUS_MASTER AS APP_STATUS_MASTER with(nolock) ON APP_STATUS_MASTER.POLICY_STATUS_CODE = AL.APP_STATUS               
 LEFT OUTER JOIN POL_POLICY_STATUS_MASTER_MULTILINGUAL AS APP_STATUS_MASTER1 with(nolock)         
 ON APP_STATUS_MASTER1.POLICY_STATUS_CODE = APP_STATUS_MASTER.POLICY_STATUS_CODE               
 AND APP_STATUS_MASTER1.LANG_ID=MLM.LANG_ID        
         
 LEFT OUTER JOIN POL_POLICY_STATUS_MASTER AS STATUS_MASTER with(nolock) ON STATUS_MASTER.POLICY_STATUS_CODE = AL.POLICY_STATUS               
 LEFT OUTER JOIN POL_POLICY_STATUS_MASTER_MULTILINGUAL AS STATUS_MASTER1 with(nolock)         
 ON STATUS_MASTER1.POLICY_STATUS_CODE = STATUS_MASTER.POLICY_STATUS_CODE               
 AND STATUS_MASTER1.LANG_ID=MLM.LANG_ID        
 LEFT OUTER JOIN MNT_AGENCY_LIST AS AGN with(nolock) ON AGN.AGENCY_ID = CCL.CUSTOMER_AGENCY_ID        
         
 LEFT OUTER JOIN CLT_QUICKQUOTE_LIST AS CQL ON AL.CUSTOMER_ID=CQL.CUSTOMER_ID AND AL.APP_NUMBER=CQL.QQ_APP_NUMBER         
 LEFT OUTER JOIN POL_CO_INSURANCE AS CI WITH(NOLOCK) ON CI.CUSTOMER_ID=CCL.CUSTOMER_ID  And CI.POLICY_ID= AL.POLICY_ID AND CI.POLICY_VERSION_ID=AL.POLICY_VERSION_ID   
  LEFT OUTER JOIN POL_APPLICANT_LIST PAL WITH(NOLOCK) ON PAL.CUSTOMER_ID=AL.CUSTOMER_ID  AND PAL.POLICY_ID = AL.POLICY_ID AND PAL.POLICY_VERSION_ID = AL.POLICY_VERSION_ID  
  LEFT OUTER JOIN CLT_APPLICANT_LIST CAL WITH(NOLOCK) ON CAL.CUSTOMER_ID= PAL.CUSTOMER_ID AND CAL.APPLICANT_ID= PAL.APPLICANT_ID   
 LEFT OUTER  JOIN POL_POLICY_PROCESS PPP WITH(NOLOCK)  ON PAL.APPLICANT_ID=case WHEN PPP.CO_APPLICANT_ID=0 THEN PAL.APPLICANT_ID ELSE PPP.CO_APPLICANT_ID END  and PAL.CUSTOMER_ID= PPP.CUSTOMER_ID and PAL.POLICY_ID=PPP.POLICY_ID and
     PAL.POLICY_VERSION_ID=PPP.NEW_POLICY_VERSION_ID   
  
 where AL.POLICY_NUMBER is null   )
  /*  End changes by praveer fot itrack no 1567 */     
---FINAL QUERY       
      
         
SELECT * FROM  CUSTOMER_SEARCH1 WITH(NOLOCK)                
UNION            
SELECT * FROM  CUSTOMER_SEARCH3 WITH(NOLOCK)       
UNION       
SELECT * FROM  CUSTOMER_SEARCH4 WITH(NOLOCK)  
UNION       
SELECT * FROM  CUSTOMER_SEARCH5 WITH(NOLOCK)      

GO

