IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VIW_CUSTOMER_POLICY_LIST]'))
DROP VIEW [dbo].[VIW_CUSTOMER_POLICY_LIST]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW  VIW_CUSTOMER_POLICY_LIST
AS   

/************************************************************************************

Author : Ravindra Kumar Gupta
Date   : 03-02-2006
Purpose: To present Polocies of a particular Customer

**************************************************************************************/


--- Fetching Records For AutoMobile & Cycle line of business          
(
SELECT 
POLICY.CUSTOMER_ID AS CUSTOMER_ID,
MNT_LOB_MASTER.LOB_DESC AS LOB,                 
MNT_AGENCY_LIST.AGENCY_DISPLAY_NAME COMPANY,          
POLICY.POLICY_NUMBER + ' ' + POLICY.POLICY_DISP_VERSION AS POLICY_NUMBER,                 
POLICY.POLICY_ID AS POLICY_ID,      
POLICY.POLICY_VERSION_ID AS POLICY_VERSION_ID,     
CONVERT(VARCHAR(10), POLICY.APP_EFFECTIVE_DATE, 101) AS POL_START_DATE,           
CONVERT(VARCHAR(10), POLICY.APP_EXPIRATION_DATE, 101) AS POL_END_DATE,
MNT_COVERAGE.COV_DES AS COVERAGE_DESC,
PVC.LIMIT_1 AS COVERAGE_AMOUNT,
POLICY.POLICY_STATUS as POLICY_STATUS

FROM            
POL_CUSTOMER_POLICY_LIST POLICY           

INNER JOIN MNT_LOB_MASTER ON  POLICY.POLICY_LOB = MNT_LOB_MASTER.LOB_ID     


INNER JOIN POL_VEHICLE_COVERAGES PVC 
		ON PVC.CUSTOMER_ID = POLICY.CUSTOMER_ID AND PVC.POLICY_ID = 
		POLICY.POLICY_ID AND PVC.POLICY_VERSION_ID =
		POLICY.POLICY_VERSION_ID
		AND PVC.VEHICLE_ID = ( SELECT MIN(VEHICLE_ID) 
					FROM POL_VEHICLE_COVERAGES
					WHERE CUSTOMER_ID = POLICY.CUSTOMER_ID 
					AND POLICY_ID = POLICY.POLICY_ID 
					AND POLICY_VERSION_ID =
					POLICY.POLICY_VERSION_ID)

INNER JOIN MNT_COVERAGE   ON  PVC.COVERAGE_ID = MNT_COVERAGE.COV_ID

LEFT JOIN MNT_AGENCY_LIST ON POLICY.AGENCY_ID = MNT_AGENCY_LIST.AGENCY_ID           
WHERE           

POLICY.POLICY_LOB IN (2,3)

)


UNION
(

 --- Fetching Records For WaterCraft line of business                    
SELECT 
POLICY.CUSTOMER_ID AS CUSTOMER_ID,
MNT_LOB_MASTER.LOB_DESC AS LOB,                 
MNT_AGENCY_LIST.AGENCY_DISPLAY_NAME COMPANY,          
POLICY.POLICY_NUMBER  + ' ' + POLICY.POLICY_DISP_VERSION AS POLICY_NUMBER,                 
POLICY.POLICY_ID AS POLICY_ID,      
POLICY.POLICY_VERSION_ID AS POLICY_VERSION_ID,     
CONVERT(VARCHAR(10), POLICY.APP_EFFECTIVE_DATE, 101) AS POL_START_DATE,           
CONVERT(VARCHAR(10), POLICY.APP_EXPIRATION_DATE, 101) AS POL_END_DATE,
MNT_COVERAGE.COV_DES AS COVERAGE_DESC,
WVC.LIMIT_1 AS COVERAGE_AMOUNT,
POLICY.POLICY_STATUS as POLICY_STATUS

FROM            
POL_CUSTOMER_POLICY_LIST POLICY           

INNER JOIN MNT_LOB_MASTER ON  POLICY.POLICY_LOB = MNT_LOB_MASTER.LOB_ID     


INNER JOIN POL_WATERCRAFT_COVERAGE_INFO WVC 
		ON WVC.CUSTOMER_ID = POLICY.CUSTOMER_ID AND WVC.POLICY_ID = 
		POLICY.POLICY_ID AND WVC.POLICY_VERSION_ID =
		POLICY.POLICY_VERSION_ID
		AND WVC.BOAT_ID = ( SELECT MIN(BOAT_ID) 
					FROM POL_WATERCRAFT_COVERAGE_INFO
					WHERE CUSTOMER_ID = POLICY.CUSTOMER_ID 
					AND POLICY_ID = POLICY.POLICY_ID 
					AND POLICY_VERSION_ID =
					POLICY.POLICY_VERSION_ID)

INNER JOIN MNT_COVERAGE   ON  WVC.COVERAGE_ID = MNT_COVERAGE.COV_ID

LEFT JOIN MNT_AGENCY_LIST ON POLICY.AGENCY_ID = MNT_AGENCY_LIST.AGENCY_ID           
WHERE           

POLICY.POLICY_LOB IN (4)
   
  


)

UNION


(

--- Fetching Records For HomeOner & Rental Dwelling line of business          
SELECT 
POLICY.CUSTOMER_ID AS CUSTOMER_ID,
MNT_LOB_MASTER.LOB_DESC AS LOB,                 
MNT_AGENCY_LIST.AGENCY_DISPLAY_NAME COMPANY,          
POLICY.POLICY_NUMBER + ' ' + POLICY.POLICY_DISP_VERSION AS POLICY_NUMBER,                 
POLICY.POLICY_ID AS POLICY_ID,      
POLICY.POLICY_VERSION_ID AS POLICY_VERSION_ID,             
CONVERT(VARCHAR(10), POLICY.APP_EFFECTIVE_DATE, 101) AS POL_START_DATE,           
CONVERT(VARCHAR(10), POLICY.APP_EXPIRATION_DATE, 101) AS POL_END_DATE,
MNT_COVERAGE.COV_DES AS COVERAGE_DESC,
PVC.LIMIT_1 AS COVERAGE_AMOUNT,
POLICY.POLICY_STATUS as POLICY_STATUS

FROM            
POL_CUSTOMER_POLICY_LIST POLICY           

INNER JOIN MNT_LOB_MASTER ON  POLICY.POLICY_LOB = MNT_LOB_MASTER.LOB_ID     


LEFT OUTER JOIN  POL_DWELLING_SECTION_COVERAGES PVC 
		ON PVC.CUSTOMER_ID = POLICY.CUSTOMER_ID AND PVC.POLICY_ID = 
		POLICY.POLICY_ID AND PVC.POLICY_VERSION_ID =
		POLICY.POLICY_VERSION_ID
		AND PVC.DWELLING_ID = ( SELECT MIN(DWELLING_ID) 
					FROM POL_DWELLINGS_INFO
					WHERE CUSTOMER_ID = POLICY.CUSTOMER_ID 
					AND POLICY_ID = POLICY.POLICY_ID 
					AND POLICY_VERSION_ID =
					POLICY.POLICY_VERSION_ID
					) 

LEFT OUTER JOIN MNT_COVERAGE   ON  PVC.COVERAGE_CODE_ID = MNT_COVERAGE.COV_ID

LEFT JOIN MNT_AGENCY_LIST ON POLICY.AGENCY_ID = MNT_AGENCY_LIST.AGENCY_ID           
WHERE           
	(MNT_COVERAGE.COV_CODE IN 
	(
		'DWELL',
		'OS',
		'EBUSPP',
		'LOSUR',
		'PL',
		'MEDPM'
	) 
	OR PVC.POLICY_ID IS NULL) AND POLICY.POLICY_LOB IN (1,6)
	
		
)

--ORDER BY LOB




GO

