IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_FetchAgencyProductionReport_ASLOB]'))
DROP VIEW [dbo].[VW_FetchAgencyProductionReport_ASLOB]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--drop VIEW VW_FetchAgencyProductionReport_ASLOB 

CREATE VIEW [dbo].[VW_FetchAgencyProductionReport_ASLOB] 
AS

SELECT ST.STATE_NAME,AG.AGENCY_CODE,AG.AGENCY_DISPLAY_NAME,LB.LOB_DESC,ISNULL(LB1.LOB_DESC, LOB_SUB_CATEGORY) LOB_CATEGORY,FINAL.* FROM
(
SELECT EP.STATE_ID,EP.AGENCY_ID,EP.LOB_ID,EP.LOB_ID as LOB_SUB_CATEGORY,EP.YEAR_NUMBER,EP.MONTH_NUMBER as MONTH_NUMBER,
SUM(CASE WHEN EP.MONTH_NUMBER= EP1.MONTH_NUMBER AND EC.YEAR_NUMBER= EP1.YEAR_NUMBER THEN EP.WRITTEN_PREMIUM_NBS_CURRENT ELSE 0 END) AS WRITTEN_PREMIUM_NBS,
SUM(CASE WHEN EP.MONTH_NUMBER=EP1.MONTH_NUMBER  AND EC.YEAR_NUMBER= EP1.YEAR_NUMBER THEN NBS_EFFECTIVE_CURRENT ELSE 0 END) NBS_EFFECTIVE_CURRENT,
SUM(CASE WHEN EP.MONTH_NUMBER=EP1.MONTH_NUMBER  AND EC.YEAR_NUMBER= EP1.YEAR_NUMBER THEN NBS_EFFECTIVE_CANCEL_CURRENT ELSE 0 END ) NBS_EFFECTIVE_CANCEL,

SUM(CASE WHEN EP.MONTH_NUMBER=EP1.MONTH_NUMBER  AND EC.YEAR_NUMBER= EP1.YEAR_NUMBER THEN EP.WRITTEN_PREMIUM_RENEW_CURRENT ELSE 0 END) AS WRITTEN_PREMIUM_RENEW,
SUM(CASE WHEN EP.MONTH_NUMBER=EP1.MONTH_NUMBER  AND EC.YEAR_NUMBER= EP1.YEAR_NUMBER THEN RENEWAL_EFFECTIVE_CURRENT ELSE 0 END) RENEWAL_EFFECTIVE,
SUM(CASE WHEN EP.MONTH_NUMBER=EP1.MONTH_NUMBER  AND EC.YEAR_NUMBER= EP1.YEAR_NUMBER THEN RENEWAL_EFFECTIVE_CANCEL_CURRENT ELSE 0 END) RENEWAL_EFFECTIVE_CANCEL,
SUM(CASE WHEN EP.MONTH_NUMBER=EP1.MONTH_NUMBER AND EC.YEAR_NUMBER= EP1.YEAR_NUMBER THEN TOTAL_EXPIRED_CURRENT ELSE 0 END) TOTAL_EXPIRED,
SUM(CASE WHEN EP.MONTH_NUMBER=EP1.MONTH_NUMBER AND EC.YEAR_NUMBER= EP1.YEAR_NUMBER THEN NON_RENEWAL_EFFECTIVE ELSE 0 END) NON_RENEWAL_EFFECTIVE,

--SUM(EP1.WRITTEN_PREMIUM_NBS_CURRENT) AS WRITTEN_PREMIUM_NBS_YTD,  
SUM(isnull(CASE WHEN EC.YEAR_NUMBER = EP1.YEAR_NUMBER THEN EP1.WRITTEN_PREMIUM_NBS_CURRENT ELSE 0 END,0)) AS WRITTEN_PREMIUM_NBS_YTD,  

(SELECT SUM(NBS_EFFECTIVE_CURRENT) FROM VW_CURRENT_PREVIOUS_ENFORCE_COUNT
	WHERE STATE_ID=EP.STATE_ID AND AGENCY_ID=EP.AGENCY_ID   
	AND LOB_ID=EP.LOB_ID AND MONTH_NUMBER<=EP.MONTH_NUMBER AND YEAR_NUMBER=EP.YEAR_NUMBER  
) AS NBS_EFFECTIVE_YTD,

--SUM(EP1.WRITTEN_PREMIUM_RENEW_CURRENT) AS WRITTEN_PREMIUM_RENEW_YTD,  
SUM(isnull(CASE WHEN EC.YEAR_NUMBER = EP1.YEAR_NUMBER THEN EP1.WRITTEN_PREMIUM_RENEW_CURRENT ELSE 0 END,0)) AS WRITTEN_PREMIUM_RENEW_YTD,  

(SELECT SUM(RENEWAL_EFFECTIVE_CURRENT) FROM VW_CURRENT_PREVIOUS_ENFORCE_COUNT
	WHERE STATE_ID=EP.STATE_ID AND AGENCY_ID=EP.AGENCY_ID   
	AND LOB_ID=EP.LOB_ID AND MONTH_NUMBER<=EP.MONTH_NUMBER AND YEAR_NUMBER=EP.YEAR_NUMBER  
) AS RENEWAL_EFFECTIVE_YTD,
--SUM(isnull(NBS_EFFECTIVE_CANCEL_CURRENT,0)) + SUM(isnull(RENEWAL_EFFECTIVE_CANCEL_CURRENT,0)) as TOTAL_CANCEL_YTD,   
(SELECT SUM(isnull(NBS_EFFECTIVE_CANCEL_CURRENT,0) +isnull(RENEWAL_EFFECTIVE_CANCEL_CURRENT,0))
	 FROM VW_CURRENT_PREVIOUS_ENFORCE_COUNT
	WHERE STATE_ID=EP.STATE_ID AND AGENCY_ID=EP.AGENCY_ID   
	AND LOB_ID=EP.LOB_ID AND MONTH_NUMBER<=EP.MONTH_NUMBER AND YEAR_NUMBER=EP.YEAR_NUMBER  
) TOTAL_CANCEL_YTD,


--SUM(WRITTEN_PREMIUM_NBS_CURRENT) + SUM(WRITTEN_PREMIUM_RENEW_CURRENT) AS TOTAL_WRITTEN_PREMIUM_YTD,
--SUM(EP1.WRITTEN_PREMIUM_NBS_CURRENT) + SUM(EP1.WRITTEN_PREMIUM_RENEW_CURRENT) AS TOTAL_WRITTEN_PREMIUM_YTD,  
SUM(CASE WHEN EC.YEAR_NUMBER = EP1.YEAR_NUMBER THEN  EP1.WRITTEN_PREMIUM_NBS_CURRENT + EP1.WRITTEN_PREMIUM_RENEW_CURRENT ELSE 0 END) AS TOTAL_WRITTEN_PREMIUM_YTD,    

SUM(CASE WHEN EC.MONTH_NUMBER=EP1.MONTH_NUMBER THEN INFORCE_TOTAL ELSE 0 END) AS TOTAL_INFORCE,
SUM(CASE WHEN EP.MONTH_NUMBER<=EP1.MONTH_NUMBER AND EP1.YEAR_NUMBER = EC.YEAR_NUMBER-1  THEN EP.WRITTEN_PREMIUM_NBS_PREVIOUS ELSE 0 END) AS WRITTEN_PREMIUM_PREVIOUS_YTD,
SUM(CASE WHEN EC.MONTH_NUMBER<=EP1.MONTH_NUMBER AND EP1.YEAR_NUMBER = EC.YEAR_NUMBER-1  THEN INFORCE_TOTAL_PREVIOUS ELSE 0 END) INFORCE_TOTAL_PREVIOUS,

--sum(EARNED_PREMIUM) EARNED_PREMIUM,
--sum(EP1.EARNED_PREMIUM) EARNED_PREMIUM,  
SUM(CASE WHEN EC.YEAR_NUMBER = EP1.YEAR_NUMBER THEN  EP1.EARNED_PREMIUM ELSE 0 END) AS EARNED_PREMIUM ,   

0 as LOSSIN,
SUM(CASE WHEN EP.MONTH_NUMBER= EP1.MONTH_NUMBER AND EP.YEAR_NUMBER= EP1.YEAR_NUMBER THEN ISNULL(PLI.LOSSES_INCURRED,0) ELSE 0 END) AS LOSSES_INCURRED,
SUM(CASE WHEN EP.MONTH_NUMBER= EP1.MONTH_NUMBER AND EP.YEAR_NUMBER= EP1.YEAR_NUMBER THEN ISNULL(PLI.LOSS_PAID,0) ELSE 0 END) AS LOSS_PAID 

FROM VW_CURRENT_PREVIOUS_WRITTEN_EARNED_PREMIUM EP
INNER JOIN VW_CURRENT_PREVIOUS_ENFORCE_COUNT EC ON 
EP.STATE_ID=EC.STATE_ID AND EP.AGENCY_ID=EC.AGENCY_ID 
AND EP.LOB_ID=EC.LOB_ID AND EP.MONTH_NUMBER=EC.MONTH_NUMBER AND EP.YEAR_NUMBER=EC.YEAR_NUMBER

LEFT OUTER JOIN VW_CURRENT_PREVIOUS_WRITTEN_EARNED_PREMIUM EP1 ON   
EP1.STATE_ID	=EP.STATE_ID
AND EP1.AGENCY_ID	=EP.AGENCY_ID
AND (EP1.YEAR_NUMBER =EP.YEAR_NUMBER OR EP1.YEAR_NUMBER	=EP.YEAR_NUMBER-1)
AND EP1.MONTH_NUMBER <= EP.MONTH_NUMBER	 
AND EP1.LOB_ID		=EP.LOB_ID

FULL OUTER JOIN VW_PAID_LOSS_INCURRED PLI ON PLI.STATE_ID=EP.STATE_ID AND PLI.AGENCY_ID=EP.AGENCY_ID
AND convert(varchar,PLI.LOB_ID)=EP.LOB_ID AND PLI.YEAR_NUMBER=EP.YEAR_NUMBER AND PLI.MONTH_NUMBER=EP.MONTH_NUMBER
 
WHERE EP.LOB_ID <> 6
GROUP BY EP.STATE_ID,EP.AGENCY_ID,EP.LOB_ID,EP.YEAR_NUMBER,EP.MONTH_NUMBER 

UNION

SELECT EP.STATE_ID,EP.AGENCY_ID,EP.LOB_ID,LOB_SUB_CATEGORY,EP.YEAR_NUMBER,EP.MONTH_NUMBER as MONTH_NUMBER,
SUM(CASE WHEN EP.MONTH_NUMBER=EP1.MONTH_NUMBER AND EC.YEAR_NUMBER= EP1.YEAR_NUMBER THEN EP.WRITTEN_PREMIUM_NBS_CURRENT ELSE 0 END *PERCENTAGE/100 ) AS WRITTEN_PREMIUM_NBS,
SUM(CASE WHEN EP.MONTH_NUMBER=EP1.MONTH_NUMBER AND EC.YEAR_NUMBER= EP1.YEAR_NUMBER THEN NBS_EFFECTIVE_CURRENT ELSE 0 END) NBS_EFFECTIVE_CURRENT,
SUM(CASE WHEN EP.MONTH_NUMBER=EP1.MONTH_NUMBER AND EC.YEAR_NUMBER= EP1.YEAR_NUMBER THEN NBS_EFFECTIVE_CANCEL_CURRENT ELSE 0 END ) NBS_EFFECTIVE_CANCEL,

SUM(CASE WHEN EP.MONTH_NUMBER=EP1.MONTH_NUMBER AND EC.YEAR_NUMBER= EP1.YEAR_NUMBER THEN EP.WRITTEN_PREMIUM_RENEW_CURRENT ELSE 0 END *PERCENTAGE/100) AS WRITTEN_PREMIUM_RENEW,
SUM(CASE WHEN EP.MONTH_NUMBER=EP1.MONTH_NUMBER AND EC.YEAR_NUMBER= EP1.YEAR_NUMBER THEN RENEWAL_EFFECTIVE_CURRENT ELSE 0 END) RENEWAL_EFFECTIVE,
SUM(CASE WHEN EP.MONTH_NUMBER=EP1.MONTH_NUMBER AND EC.YEAR_NUMBER= EP1.YEAR_NUMBER THEN RENEWAL_EFFECTIVE_CANCEL_CURRENT ELSE 0 END) RENEWAL_EFFECTIVE_CANCEL,
SUM(CASE WHEN EP.MONTH_NUMBER=EP1.MONTH_NUMBER AND EC.YEAR_NUMBER= EP1.YEAR_NUMBER THEN TOTAL_EXPIRED_CURRENT ELSE 0 END) TOTAL_EXPIRED,
SUM(CASE WHEN EP.MONTH_NUMBER=EP1.MONTH_NUMBER AND EC.YEAR_NUMBER= EP1.YEAR_NUMBER THEN NON_RENEWAL_EFFECTIVE ELSE 0 END) NON_RENEWAL_EFFECTIVE,

--SUM(EP1.WRITTEN_PREMIUM_NBS_CURRENT*PERCENTAGE/100) AS WRITTEN_PREMIUM_NBS_YTD, 
SUM(isnull(CASE WHEN EC.YEAR_NUMBER = EP1.YEAR_NUMBER THEN EP1.WRITTEN_PREMIUM_NBS_CURRENT*PERCENTAGE/100 ELSE 0 END,0)) AS WRITTEN_PREMIUM_NBS_YTD,    

--SUM(NBS_EFFECTIVE_CURRENT) NBS_EFFECTIVE_YTD,
(SELECT SUM(NBS_EFFECTIVE_CURRENT) FROM VW_CURRENT_PREVIOUS_ENFORCE_COUNT
	WHERE STATE_ID=EP.STATE_ID AND AGENCY_ID=EP.AGENCY_ID   
	AND LOB_ID=EP.LOB_ID AND MONTH_NUMBER<=EP.MONTH_NUMBER AND YEAR_NUMBER=EP.YEAR_NUMBER  
) AS NBS_EFFECTIVE_YTD,

--SUM(EP1.WRITTEN_PREMIUM_RENEW_CURRENT *PERCENTAGE/100) AS WRITTEN_PREMIUM_RENEW_YTD,
SUM(isnull(CASE WHEN EC.YEAR_NUMBER = EP1.YEAR_NUMBER THEN EP1.WRITTEN_PREMIUM_RENEW_CURRENT *PERCENTAGE/100 ELSE 0 END,0)) AS WRITTEN_PREMIUM_RENEW_YTD,    

--SUM(RENEWAL_EFFECTIVE_CURRENT) RENEWAL_EFFECTIVE_YTD,
(SELECT SUM(RENEWAL_EFFECTIVE_CURRENT) FROM VW_CURRENT_PREVIOUS_ENFORCE_COUNT
	WHERE STATE_ID=EP.STATE_ID AND AGENCY_ID=EP.AGENCY_ID   
	AND LOB_ID=EP.LOB_ID AND MONTH_NUMBER<=EP.MONTH_NUMBER AND YEAR_NUMBER=EP.YEAR_NUMBER  
) AS RENEWAL_EFFECTIVE_YTD,

--SUM(isnull(NBS_EFFECTIVE_CANCEL_CURRENT,0)) + SUM(isnull(RENEWAL_EFFECTIVE_CANCEL_CURRENT,0)) as TOTAL_CANCEL_YTD,  
(SELECT SUM(isnull(NBS_EFFECTIVE_CANCEL_CURRENT,0) +isnull(RENEWAL_EFFECTIVE_CANCEL_CURRENT,0))
	 FROM VW_CURRENT_PREVIOUS_ENFORCE_COUNT
	WHERE STATE_ID=EP.STATE_ID AND AGENCY_ID=EP.AGENCY_ID   
	AND LOB_ID=EP.LOB_ID AND MONTH_NUMBER<=EP.MONTH_NUMBER AND YEAR_NUMBER=EP.YEAR_NUMBER  
) TOTAL_CANCEL_YTD,

--SUM(EP1.WRITTEN_PREMIUM_NBS_CURRENT*PERCENTAGE/100) + SUM(EP1.WRITTEN_PREMIUM_RENEW_CURRENT*PERCENTAGE/100) AS TOTAL_WRITTEN_PREMIUM_YTD,
SUM(CASE WHEN EC.YEAR_NUMBER = EP1.YEAR_NUMBER THEN  EP1.WRITTEN_PREMIUM_NBS_CURRENT*PERCENTAGE/100 + EP1.WRITTEN_PREMIUM_RENEW_CURRENT*PERCENTAGE/100 ELSE 0 END) AS TOTAL_WRITTEN_PREMIUM_YTD,    

SUM(CASE WHEN EC.MONTH_NUMBER=EP1.MONTH_NUMBER THEN INFORCE_TOTAL ELSE 0 END) AS TOTAL_INFORCE,
SUM(CASE WHEN EP.MONTH_NUMBER<=EP1.MONTH_NUMBER AND EP1.YEAR_NUMBER = EC.YEAR_NUMBER-1  THEN EP.WRITTEN_PREMIUM_NBS_PREVIOUS ELSE 0 END * PERCENTAGE/100) AS WRITTEN_PREMIUM_PREVIOUS_YTD,
SUM(CASE WHEN EC.MONTH_NUMBER<=EP1.MONTH_NUMBER AND EP1.YEAR_NUMBER = EC.YEAR_NUMBER-1  THEN INFORCE_TOTAL_PREVIOUS ELSE 0 END *PERCENTAGE/100) INFORCE_TOTAL_PREVIOUS,

--sum(EP1.EARNED_PREMIUM*PERCENTAGE/100) EARNED_PREMIUM,
SUM(CASE WHEN EP.YEAR_NUMBER= EP1.YEAR_NUMBER THEN EP1.EARNED_PREMIUM*PERCENTAGE/100 ELSE 0 END) EARNED_PREMIUM,
(
SELECT SUM(isnull(LOSSES_INCURRED,0)) FROM  
VW_PAID_LOSS_INCURRED PIL WITH(NOLOCK) 
INNER JOIN CLM_OCCURRENCE_DETAIL COD WITH(NOLOCK) ON COD.CLAIM_ID=PIL.CLAIM_ID
AND EP.STATE_ID=PIL.STATE_ID AND EP.AGENCY_ID=PIL.AGENCY_ID AND EP.LOB_ID=PIL.LOB_ID AND EP.YEAR_NUMBER=PIL.YEAR_NUMBER
AND  
(CASE WHEN (COD.LOSS_TYPE + ',' LIKE '%32,%') OR (COD.LOSS_TYPE + ',' LIKE '%37,%') THEN 'Fire'         
WHEN (COD.LOSS_TYPE + ',' LIKE '%26,%') OR (COD.LOSS_TYPE + ',' LIKE '%27,%')         
OR (COD.LOSS_TYPE + ',' LIKE '%30,%') OR (COD.LOSS_TYPE + ',' LIKE '%31,%')         
OR (COD.LOSS_TYPE + ',' LIKE '%33,%') OR (COD.LOSS_TYPE + ',' LIKE '%34,%')         
OR (COD.LOSS_TYPE + ',' LIKE '%35,%') OR (COD.LOSS_TYPE + ',' LIKE '%36,%')         
OR (COD.LOSS_TYPE + ',' LIKE '%38,%') OR (COD.LOSS_TYPE + ',' LIKE '%39,%')         
OR (COD.LOSS_TYPE + ',' LIKE '%40,%') OR (COD.LOSS_TYPE + ',' LIKE '%41,%')         
OR (COD.LOSS_TYPE + ',' LIKE '%42,%') OR (COD.LOSS_TYPE + ',' LIKE '%43,%') 
OR (COD.LOSS_TYPE + ',' LIKE '%44,%') OR (COD.LOSS_TYPE + ',' LIKE '%45,%')         
OR (COD.LOSS_TYPE + ',' LIKE '%50,%') OR (COD.LOSS_TYPE + ',' LIKE '%56,%')         
OR (COD.LOSS_TYPE + ',' LIKE '%58,%') OR (COD.LOSS_TYPE + ',' LIKE '%59,%')         
OR (COD.LOSS_TYPE + ',' LIKE '%60,%') OR (COD.LOSS_TYPE + ',' LIKE '%62,%') OR (COD.LOSS_TYPE + ',' LIKE '%230,%')         
THEN 'EC'        
WHEN (COD.LOSS_TYPE + ',' LIKE '%51,%') OR (COD.LOSS_TYPE + ',' LIKE '%52,%')    
OR (COD.LOSS_TYPE + ',' LIKE '%53,%') OR (COD.LOSS_TYPE + ',' LIKE '%55,%')      
THEN 'Liability'       
ELSE 'EC'              
END) = MCFP.LOB_SUB_CATEGORY
) 
LOSSIN,

SUM(CASE WHEN EP.MONTH_NUMBER=EP1.MONTH_NUMBER AND EP.YEAR_NUMBER= EP1.YEAR_NUMBER THEN isnull(PLI.LOSSES_INCURRED,0) else 0 end) AS LOSSES_INCURRED,
SUM(CASE WHEN EP.MONTH_NUMBER=EP1.MONTH_NUMBER AND EP.YEAR_NUMBER= EP1.YEAR_NUMBER THEN isnull(PLI.LOSS_PAID,0) else 0 end) AS LOSS_PAID 

FROM VW_CURRENT_PREVIOUS_WRITTEN_EARNED_PREMIUM EP
INNER JOIN VW_CURRENT_PREVIOUS_ENFORCE_COUNT EC WITH(NOLOCK) ON 
EP.STATE_ID=EC.STATE_ID AND EP.AGENCY_ID=EC.AGENCY_ID 
AND EP.LOB_ID=EC.LOB_ID AND EP.MONTH_NUMBER=EC.MONTH_NUMBER AND EP.YEAR_NUMBER=EC.YEAR_NUMBER

LEFT OUTER JOIN VW_CURRENT_PREVIOUS_WRITTEN_EARNED_PREMIUM EP1 ON   
EP1.STATE_ID	=EP.STATE_ID
AND EP1.AGENCY_ID	=EP.AGENCY_ID
AND (EP1.YEAR_NUMBER =EP.YEAR_NUMBER OR EP1.YEAR_NUMBER	=EP.YEAR_NUMBER-1)
AND EP1.MONTH_NUMBER <= EP.MONTH_NUMBER	 
AND EP1.LOB_ID		=EP.LOB_ID

FULL OUTER JOIN VW_PAID_LOSS_INCURRED PLI ON PLI.STATE_ID=EP.STATE_ID AND PLI.AGENCY_ID=EP.AGENCY_ID
AND convert(varchar,PLI.LOB_ID)=EP.LOB_ID AND PLI.YEAR_NUMBER=EP.YEAR_NUMBER AND PLI.MONTH_NUMBER=EP.MONTH_NUMBER

LEFT OUTER JOIN MNT_CLAIM_FIREEC_PERCENT MCFP ON MCFP.STATE_ID=EP.STATE_ID AND EP.LOB_ID=MCFP.LOB_ID

WHERE  EP.LOB_ID = 6
GROUP BY EP.STATE_ID,EP.AGENCY_ID,EP.LOB_ID,LOB_SUB_CATEGORY,EP.YEAR_NUMBER,EP.MONTH_NUMBER 
) FINAL 

LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST ST ON ST.STATE_ID=FINAL.STATE_ID
LEFT OUTER JOIN MNT_LOB_MASTER LB ON LB.LOB_ID=FINAL.LOB_ID
LEFT OUTER JOIN MNT_LOB_MASTER LB1 ON CONVERT(VARCHAR,LB1.LOB_ID)=FINAL.LOB_SUB_CATEGORY
LEFT OUTER JOIN MNT_AGENCY_LIST AG ON AG.AGENCY_ID=FINAL.AGENCY_ID






GO

