IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_VIOLATION_DETAILS]'))
DROP VIEW [dbo].[VW_VIOLATION_DETAILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--DROP VIEW VW_VIOLATION_DETAILS
CREATE VIEW VW_VIOLATION_DETAILS
AS
WITH
TEMP_MNT_VIOLATION 
AS
(
	SELECT VIOLATION_ID,VIOLATION_CODE,VIOLATION_DES FROM MNT_VIOLATIONS
)

SELECT DISTINCT ISNULL(PCL.POLICY_NUMBER,'')POLICY_NUMBER,
ISNULL(PDD.DRIVER_FNAME,'') + ' ' + ISNULL(PDD.DRIVER_MNAME,'') + ' '	+ ISNULL(PDD.DRIVER_LNAME,'')
AS 'DRIVER NAME',ISNULL(MV.VIOLATION_DES,'') AS VIOLATION_TYPE,ISNULL(TMV.VIOLATION_DES,'') AS VIOLATION,
PMI.DETAILS AS VIOLATION_DETAILS,PMI.OCCURENCE_DATE,PMI.MVR_DATE AS CONVICTION_DATE,PMI.POINTS_ASSIGNED,
PMI.ADJUST_VIOLATION_POINTS,''ENTERED
FROM POL_CUSTOMER_POLICY_LIST PCL
INNER JOIN POL_MVR_INFORMATION PMI
	ON PMI.CUSTOMER_ID = PCL.CUSTOMER_ID
	AND PMI.POLICY_ID = PCL.POLICY_ID
	AND PMI.POLICY_VERSION_ID = PCL.POLICY_VERSION_ID
INNER JOIN POL_DRIVER_DETAILS PDD
	ON PMI.CUSTOMER_ID = PDD.CUSTOMER_ID
	AND PMI.POLICY_ID = PDD.POLICY_ID
	AND PMI.POLICY_VERSION_ID = PDD.POLICY_VERSION_ID
	AND PMI.DRIVER_ID = PDD.DRIVER_ID
INNER JOIN MNT_VIOLATIONS MV
	ON PMI.VIOLATION_TYPE = MV.VIOLATION_ID
INNER JOIN TEMP_MNT_VIOLATION TMV
	ON PMI.VIOLATION_ID = TMV.VIOLATION_ID
WHERE PCL.POLICY_STATUS = 'NORMAL' AND 
PCL.POLICY_VERSION_ID >= 
	( 
		SELECT MIN(PPPIN.NEW_POLICY_VERSION_ID) FROM POL_POLICY_PROCESS PPPIN
		WHERE PPPIN.CUSTOMER_ID = PCL.CUSTOMER_ID 
		AND PPPIN.POLICY_ID		= PCL.POLICY_ID 
		AND PROCESS_ID	IN (25,18)  
		AND PROCESS_STATUS		='COMPLETE'-- MIN OF NBS OR RENEWAL
		AND ISNULL(REVERT_BACK,'N') = 'N'
	) 

--PCL.STATE_ID = 14 --
--PMI.CUSTOMER_ID = 1577 AND PMI.POLICY_ID = 24



GO

