IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VIW_BROKER]'))
DROP VIEW [dbo].[VIW_BROKER]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*  
Object  :View [dbo].[VIW_BROKER]    
Created by :Praveer Panghal  
Date  :12 May 2011  
Purpose  :returns the data of policy like endorsement, broker and share of commission of each broker  
  
SELECT * FROM [dbo].[VIW_BROKER]   
  
DROP VIEW [dbo].[VIW_BROKER]    
*/  
  
  
CREATE VIEW [dbo].[VIW_BROKER]  
  
AS   
SELECT 
ISNULL(DIV_CODE,'')cd_division
,ISNULL(MLM.SUSEP_LOB_CODE,'')cd_susepLOB
,ISNULL(POLICY_NUMBER,'')id_policy
,ISNULL(POLICY_DISP_VERSION,'')cd_endorsement
,ISNULL(AGENCY_CODE,'')cd_broker
,ISNULL(AGENCY_DISPLAY_NAME,'')de_brokerDescription
, ISNULL((SELECT  ISNULL( CASE  WHEN (ISNULL(POLICY_LEVEL_COMISSION,0) >0)  THEN
  	   ISNULL(CONVERT(DECIMAL(25,2),   (POLICY_LEVEL_COMISSION*APID.TOTAL_PREMIUM)/100),0) 
  	    ELSE ISNULL(CONVERT(DECIMAL(25,2), (SUM(isnull(PR.COMMISSION_PERCENT,0))*APID.TOTAL_PREMIUM)/100),0)
  	    END,0) FROM POL_REMUNERATION PR WITH(NOLOCK)  
		LEFT join ACT_POLICY_INSTALL_PLAN_DATA APID WITH(NOLOCK) ON APID.CUSTOMER_ID=PR.CUSTOMER_ID AND APID.POLICY_ID=PR.POLICY_ID AND APID.POLICY_VERSION_ID=PR.POLICY_VERSION_ID
		WHERE PR.CUSTOMER_ID=PCPL.CUSTOMER_ID AND 
  	    PR.POLICY_ID=PCPL.POLICY_ID AND PR.POLICY_VERSION_ID=PCPL.POLICY_VERSION_ID 
  	    GROUP BY PR.CUSTOMER_ID,PR.POLICY_ID,  PR.POLICY_VERSION_ID,APID.CUSTOMER_ID,APID.POLICY_ID,APID.POLICY_VERSION_ID,APID.TOTAL_PREMIUM),0)vl_brokerCommissionInstalments
  
FROM  POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK) 
 JOIN MNT_DIV_LIST MDL WITH(NOLOCK) ON MDL.DIV_ID=PCPL.DIV_ID         
 JOIN  MNT_LOB_MASTER MLM WITH(NOLOCK) ON MLM.LOB_ID=PCPL.POLICY_LOB  
 JOIN   MNT_AGENCY_LIST MAL WITH(NOLOCK) ON PCPL.AGENCY_ID  =MAL.AGENCY_ID  
WHERE PCPL.POLICY_NUMBER NOT IN( 'NULL' ,'') 
AND PCPL.POLICY_STATUS NOT IN('APPLICATION','NULL','UISSUE','UREWRITE' ,'EXPIRED','Suspended','REJECT','URENEW')
      
            
 GO

