IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_SUSEP_FORM_SINPENDAC_SINPAGAC]'))
DROP VIEW [dbo].[VW_SUSEP_FORM_SINPENDAC_SINPAGAC]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--DROP VIEW [VW_SUSEP_FORM_SINPENDAC_SINPAGAC]     
    
CREATE VIEW [dbo].[VW_SUSEP_FORM_SINPENDAC_SINPAGAC] AS        
SELECT       
   MLM.SUSEP_LOB_CODE,      
   CCII.LEADER_SUSEP_CODE,      
   CCII.LEADER_CLAIM_NUMBER,      
   CCII.LEADER_POLICY_NUMBER,      
   CCII.LEADER_ENDORSEMENT_NUMBER,      
   CONVERT(VARCHAR(10),CCII.CLAIM_REGISTRATION_DATE,112) AS CLAIM_REGISTRATION_DATE,--The date when the claim case was registered in system.      
   CONVERT(VARCHAR(10),CCI.CREATED_DATETIME,112) AS CLAIM_REGISTRATION_DATE_1,--ADDED BY SHIKHA CHOURASIYA      
   CONVERT(VARCHAR(10),CCI.FIRST_NOTICE_OF_LOSS,112) AS FIRST_NOTICE_OF_LOSS, --The date when claimant report the claim. Use the irt notice of loss.      
   CONVERT(VARCHAR(10),CCI.LOSS_DATE,112) AS LOSS_DATE, --Accident occurrence date.Date of loss.      
   CCI.CREATED_DATETIME,      
   CCI.CLAIM_NUMBER,      
   --CA.ACTION_ON_PAYMENT,      
   --CA.ACTIVITY_STATUS,      
   --CA.IS_ACTIVE,      
   --CPP.PARTY_TYPE_ID,      
   CCI.OFFCIAL_CLAIM_NUMBER,  --Claim number - official number      
   --CPP1.PARTY_CPF_CNPJ AS BENEFICIARY_PARTY_CPF_CNPJ ,--Beneficiary party's CPF/CNPJ      
   --CPP.PARTY_CPF_CNPJ INSURED_PARTY_CPF_CNPJ, --Insured party's CPF/CNPJ      
         
         
   SUBSTRING(PCPL.POLICY_NUMBER,15,6) AS POLICY_NUMBER,  --Sequence number of policy.      
         
   --Column Added  By Kuldeep to get full policy Number as per TFS 206 16-Aug-2011      
   PCPL.POLICY_NUMBER AS FULL_POLICY_NUMBER,      
         
   PPE.ENDORSEMENT_NO AS ENDORSEMENT_NO,--Number of endorsement.      
   --CPP.PARTY_ID,      
   --CA.ACTIVITY_ID,      
   ----CCI.CLAIM_ID AS CCI_CLAIM_ID,      
   CCI.CLAIM_ID,      
   CCI.OUTSTANDING_RESERVE,      
   CCI.PAID_EXPENSE,      
   CCI.PAID_LOSS,      
   PCPL.CO_INSURANCE,      
   CCI.CLAIM_STATUS,        
   --CA.IS_LEGAL    
   --ADDED BY SHIKHA CHOURASIYA ON 08/18/2011 - ITRACK - 1079       
   PCPL.CUSTOMER_ID,    
   PCPL.POLICY_ID,    
   PCPL.POLICY_VERSION_ID,
   PCPL.POLICY_NUMBER AS F_POLICY_NUMBER  
FROM       
  CLM_CLAIM_INFO CCI WITH(NOLOCK)      
LEFT OUTER JOIN      
  MNT_LOB_MASTER MLM WITH(NOLOCK) ON (MLM.LOB_ID=CCI.LOB_ID)       
LEFT OUTER JOIN      
  CLM_CO_INSURANCE CCII WITH(NOLOCK) ON (CCII.CLAIM_ID = CCI.CLAIM_ID)      
       
LEFT OUTER JOIN       
  POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK) ON (PCPL.CUSTOMER_ID = CCI.CUSTOMER_ID AND       
                PCPL.POLICY_ID =CCI.POLICY_ID AND       
                PCPL.POLICY_VERSION_ID = CCI.POLICY_VERSION_ID)      
 LEFT OUTER JOIN      
  POL_POLICY_ENDORSEMENTS PPE WITH(NOLOCK) ON (PPE.CUSTOMER_ID = CCI.CUSTOMER_ID AND       
              PPE.POLICY_ID = CCI.POLICY_ID AND       
              PPE.POLICY_VERSION_ID = CCI.POLICY_VERSION_ID      
              AND PPE.ENDORSEMENT_STATUS='COM')			

GO

