IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VIEW1]'))
DROP VIEW [dbo].[VIEW1]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW dbo.VIEW1
AS
SELECT     dbo.APP_LIST.APP_NUMBER, dbo.APP_LIST.APP_VERSION, dbo.APP_LIST.APP_EFFECTIVE_DATE, dbo.MNT_LOB_MASTER.LOB_DESC, 
                      dbo.CLT_CUSTOMER_LIST.CUSTOMER_FIRST_NAME, dbo.CLT_CUSTOMER_LIST.CUSTOMER_LAST_NAME, dbo.MNT_USER_LIST.USER_FNAME, 
                      dbo.MNT_USER_LIST.USER_LNAME, dbo.MNT_AGENCY_LIST.AGENCY_DISPLAY_NAME, dbo.APP_LIST.APP_STATUS, 
                      dbo.CLT_CUSTOMER_LIST.CUSTOMER_ZIP, dbo.APP_LIST.CUSTOMER_ID, dbo.APP_LIST.APP_ID, dbo.APP_LIST.APP_VERSION_ID
FROM         dbo.APP_LIST INNER JOIN
                      dbo.MNT_LOB_MASTER ON dbo.APP_LIST.APP_LOB = dbo.MNT_LOB_MASTER.LOB_ID INNER JOIN
                      dbo.CLT_CUSTOMER_LIST ON dbo.APP_LIST.CUSTOMER_ID = dbo.CLT_CUSTOMER_LIST.CUSTOMER_ID INNER JOIN
                      dbo.MNT_AGENCY_LIST ON dbo.APP_LIST.APP_AGENCY_ID = dbo.MNT_AGENCY_LIST.AGENCY_ID LEFT OUTER JOIN
                      dbo.MNT_USER_LIST ON dbo.APP_LIST.CSR = dbo.MNT_USER_LIST.USER_ID

GO

