IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_CLAIM_INFO]'))
DROP VIEW [dbo].[VW_CLAIM_INFO]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

			--IF ( OBJECT_ID('dbo.VW_CLAIM_INFO') IS NOT NULL ) 
			--	 DROP VIEW dbo.VW_CLAIM_INFO 

           
	        CREATE VIEW VW_CLAIM_INFO
	        AS  	        
			SELECT     CLM.CLAIM_ID, CLAIM_NUMBER, OFFCIAL_CLAIM_NUMBER,
					   P.POLICY_NUMBER,LOB_M.LOB_DESC AS LOB, LOSS_DATE, 
					   REPORTED_BY, CATASTROPHE_EVENT_CODE, 
					   CLAIMANT_NAME, CLM.COUNTRY AS  CLAIMANT_COUNTRY, CLM.ZIP AS  CLAIMANT_ZIP,  CLM.ADDRESS1 AS   CLAIMANT_ADDRESS1, CLM.ADDRESS2 AS  CLAIMANT_ADDRESS2, CLM.CITY AS  CLAIMANT_CITY, 
					  CASE WHEN  CLM.CLAIM_STATUS=11740 THEN 'CLOSED' ELSE 'OPEN' END AS CLAIM_STATUS, 
					  CLAIM_DESCRIPTION, 
					  CASE WHEN  LITIGATION_FILE=10963 THEN 'YES' ELSE 'NO' END AS [FILE IN LITIGATION],                       
					  FIRST_NOTICE_OF_LOSS, AD.ADJUSTER_NAME AS ADJUSTER, 
					  CASE WHEN  IS_VICTIM_CLAIM=10963 THEN 'YES' ELSE 'NO' END AS IS_VICTIM_CLAIM,           
					  LKP.LOOKUP_VALUE_DESC AS CLAIM_STATUS_UNDER, CLOSED_DATE, REOPENED_DATE, 
					  LAST_DOC_RECEIVE_DATE, REIN_CLAIM_NUMBER,  
					  POSSIBLE_PAYMENT_DATE, REIN_LOSS_NOTICE_NUM, 
					  CASE WHEN  REINSURANCE_TYPE=14856 THEN 'Cash Call Recovery'
						   WHEN  REINSURANCE_TYPE=14858 THEN 'Operational Movement'
						   WHEN  REINSURANCE_TYPE=14857 THEN 'Recovery on 5 days'
					   ELSE NULL END AS REINSURANCE_TYPE ,
					 
					 --- OCCURANCE FIELDS  
					  CTD.DETAIL_TYPE_DESCRIPTION AS LOSS_TYPE , OCC.LOSS_LOCATION, 
					  OCC.ESTIMATE_AMOUNT, OCC.OTHER_DESCRIPTION, 
					  OCC.LOSS_LOCATION_ZIP, OCC.LOSS_LOCATION_CITY, 
					  OCC.LOSS_LOCATION_STATE, OCC.AUTHORITY_CONTACTED, 
					  OCC.VIOLATIONS, OCC.REPORT_NUMBER , 
					  -- RISK INFORMATION FIELDS
						CIP.INSURED_PRODUCT_ID,CIP.VEHICLE_INSURED_PLEADED_GUILTY, 
						CIP.VEHICLE_MAKER,CIP.VEHICLE_MODEL, 
						CIP.VEHICLE_VIN,CIP.DAMAGE_DESCRIPTION,CIP.VESSEL_TYPE, 
						CIP.VESSEL_NAME,CIP.VESSEL_MANUFACTURER, 
						CIP.LOCATION_ADDRESS,CIP.LOCATION_COMPLIMENT, 
						CIP.LOCATION_ZIPCODE,CIP.LOCATION_DISTRICT, 
						CIP.VOYAGE_CONVEYENCE_TYPE,CIP.INSURED_NAME, 
						CIP.EFFECTIVE_DATE,CIP.EXPIRE_DATE,CIP.VESSEL_NUMBER, 
						CIP.PERSON_DISEASE_DATE,CIP.VOYAGE_PREFIX, 
						CIP.VOYAGE_ARRIVAL_DATE,CIP.VOYAGE_SURVEY_DATE, 
						CIP.DAMAGE_TYPE,CIP.PERSON_DOB, 
						CIP.VOYAGE_CERT_NUMBER,CIP.VOYAGE_TRAN_COMPANY, 
						CIP.VOYAGE_IO_DESC,CIP.POL_RISK_ID, 
						CIP.RURAL_INSURED_AREA,CIP.RURAL_PROPERTY, 
						CIP.RURAL_CULTIVATION,CIP.RURAL_FESR_COVERAGE, 
						CIP.RURAL_MODE,CIP.RURAL_SUBSIDY_PREMIUM, 
						CIP.DP_TICKET_NUMBER,CIP.DP_CATEGORY,CIP.STATE1, 
						CIP.COUNTRY1,CIP.COUNTRY2,CIP.STATE2, 
						CIP.CITY1,CIP.CITY2,CIP.LICENCE_PLATE_NUMBER, 
						CIP.YEAR,CIP.PA_NUM_OF_PASS,CIP.ITEM_NUMBER, 						
						CIP.ACTUAL_INSURED_OBJECT,
						--- Query 3( Co Insurer Details)
			            I.LEADER_SUSEP_CODE, I.LEADER_POLICY_NUMBER, I.LEADER_ENDORSEMENT_NUMBER, 
						I.LEADER_CLAIM_NUMBER, I.CLAIM_REGISTRATION_DATE,
						
						--Party
						  CTD_P.DETAIL_TYPE_DESCRIPTION AS PARTY_TYPE,  PARTY.NAME, PARTY.ADDRESS1, PARTY.CITY, PARTY.ZIP, PARTY.CONTACT_PHONE, PARTY.CONTACT_EMAIL, PARTY.OTHER_DETAILS, 
						  PARTY.COUNTRY, PARTY.PARTY_DETAIL, PARTY.AGE, PARTY.EXTENT_OF_INJURY,  PARTY.BANK_NAME, PARTY.ACCOUNT_NUMBER, 
						  PARTY.ACCOUNT_NAME, PARTY.CONTACT_PHONE_EXT, PARTY.CONTACT_FAX, PARTY.PARTY_TYPE_DESC, PARTY.EXPERT_SERVICE_TYPE, PARTY.AGENCY_BANK, 
						  PARTY.PARTY_CPF_CNPJ, PARTY.NUMBER,PARTY.BANK_NUMBER, PARTY.BANK_BRANCH, PARTY.ACCOUNT_TYPE, PARTY.DATE_OF_BIRTH, 
						  PARTY.PARTY_PERCENTAGE, PARTY.REGIONAL_ID, PARTY.REGIONAL_ID_ISSUE_DATE, PARTY.REGIONAL_ID_ISSUANCE, PARTY.MARITAL_STATUS, PARTY.GENDER,
						  
						 -- ---Litigation Information
						  L.JUDICIAL_PROCESS_NO, L.JUDICIAL_COMPLAINT_STATE, L.PLAINTIFF_NAME, L.PLAINTIFF_CPF, 
					      L.PLAINTIFF_REQUESTED_AMOUNT, L.EXPERT_SERVICE_ID, L.JUDICIAL_PROCESS_DATE, L.DEFEDANT_OFFERED_AMOUNT, 
					      MLV.LOOKUP_VALUE_DESC AS ESTIMATE_CLASSIFICATION, 
					      MLV1.LOOKUP_VALUE_DESC AS OPERATION_REASON,
					      
					      -- PROPERTY DAMAGE					    
						  CASE WHEN E.DAMAGED_ANOTHER_VEHICLE=10963 THEN 'YES' ELSE 'NO' END AS DAMAGED_ANOTHER_VEHICLE,  
						  MLV.LOOKUP_VALUE_DESC AS PROP_DAMAGED_TYPE,E.VEHICLE_YEAR,E.MAKE,E.MODEL,E.VIN,E.BODY_TYPE, 
						  E.PLATE_NUMBER,E.POLICY_NUMBER AS DAMAGE_POLICY_NUMBER,E.AGENCY_NAME, 
						  CASE WHEN  E.OTHER_INSURANCE=10963 THEN 'YES' ELSE 'NO' END AS OTHER_INSURANCE,  
						  E.ESTIMATE_AMOUNT AS DAMAGE_ESTIMATE_AMOUNT, 
						  E.ADDRESS1 AS DAMAGE_ADDRESS1,E.ADDRESS2 AS DAMAGE_ADDRESS2, 
						  E.CITY AS DAMAGE_CITY,E.STATE AS DAMAGE_STATE,E.ZIP AS DAMAGE_ZIP,E.COUNTRY AS  DAMAGE_COUNTRY,
						  
						  --Activity Details and payee details
						  
						  A.ACTIVITY_ID, A.ACTIVITY_DATE,  A.REASON_DESCRIPTION, 
						  CTD.DETAIL_TYPE_DESCRIPTION AS ACTIVITY_TYPE, 
						  A.CLAIM_RESERVE_AMOUNT, A.CLAIM_PAYMENT_AMOUNT AS TOTAL_PAYMENT, A.PAYMENT_AMOUNT AS TRAN_PAYMENT_AMOUNT, A.CLAIM_RI_RESERVE, A.RI_NET_PAID_RESERVE, 
						  A.COI_NET_PAID_RESERVE, A.TOTAL_EXPENSE, A.TEXT_ID, A.TEXT_DESCRIPTION, 
						  CASE WHEN  A.COI_TRAN_TYPE=14849 THEN 'FULL' ELSE 'PARTIAL' END AS Transaction_Type,
						  CASE WHEN  CLM_PAYEE.PAYMENT_METHOD=14707 THEN 'BANK TRANSFER 1' 
							  WHEN  CLM_PAYEE.PAYMENT_METHOD=14711 THEN 'CHEQUE'
							  ELSE NULL END AS PAYMENT_METHOD,
		               
						  PARTY.NAME AS PAYEE_NAME,CLM_PAYEE.INVOICE_DATE,CLM_PAYEE.INVOICE_DUE_DATE,
						  CLM_PAYEE.INVOICE_NUMBER,CLM_PAYEE.INVOICE_SERIAL_NUMBER,CLM_PAYEE.RECOVERY_TYPE,
						  CLM_PAYEE.ADDRESS1 AS PAYEE_ADDRESS1,CLM_PAYEE.ADDRESS2 AS PAYEE_ADDRESS2,CLM_PAYEE.CITY AS PAYEE_CITY,
						  CLM_PAYEE.COUNTRY AS PAYEE_COUNTRY,CLM_PAYEE.STATE AS PAYEE_STATE,CLM_PAYEE.ZIP AS PAYEE_ZIP,
						
						--- ( Activity Reserve Details and Victim Info)						 
						 ACT_R.ACTIVITY_ID AS ACTIVITY, ACT_R.PREV_OUTSTANDING,ACT_R.OUTSTANDING_TRAN,ACT_R.OUTSTANDING, ACT_R.PAYMENT_AMOUNT,ACT_R.TOTAL_PAYMENT_AMOUNT,
						 ACT_R.RI_RESERVE,ACT_R.RI_RESERVE_TRAN, ACT_R.CO_RESERVE,ACT_R.CO_RESERVE_TRAN, 
         				 ACT_R.RECOVERY_AMOUNT, ACT_R.TOTAL_RECOVERY_AMOUNT, ACT_R.ADJUSTED_AMOUNT, ACT_R.DEDUCTIBLE_1, ACT_R.VICTIM_ID, 
         				 ACT_R.PERSONAL_INJURY, COV.LIMIT_OVERRIDE,COV.LIMIT_1, COV.IS_RISK_COVERAGE, COV.DEDUCTIBLE1_AMOUNT_TEXT, COV.COVERAGE_CODE_ID, 
         				 CASE WHEN COV.IS_RISK_COVERAGE='Y' THEN M1.COV_DES ELSE M2.COV_DES END AS Coverage,
         				 V.NAME AS VICTIM_NAME, V.[STATUS] AS VICTIM_STATUS,V.INJURY_TYPE AS VICTIM_INJURY_TYPE
			FROM        dbo.CLM_CLAIM_INFO AS CLM WITH(NOLOCK)  LEFT OUTER JOIN
						MNT_LOB_MASTER AS LOB_M WITH(NOLOCK) ON CLM.LOB_ID=LOB_M.LOB_ID LEFT OUTER JOIN
						CLM_ADJUSTER AS AD WITH(NOLOCK) ON AD.ADJUSTER_ID= CLM.ADJUSTER_ID  LEFT OUTER JOIN
						MNT_LOOKUP_VALUES AS LKP WITH(NOLOCK) ON LKP.LOOKUP_UNIQUE_ID=CLM.CLAIM_STATUS_UNDER   LEFT OUTER JOIN
						POL_CUSTOMER_POLICY_LIST  AS P WITH(NOLOCK) ON CLM.CUSTOMER_ID=P.CUSTOMER_ID AND CLM.POLICY_ID=P.POLICY_ID  AND P.POLICY_VERSION_ID=CLM.POLICY_VERSION_ID  LEFT OUTER JOIN 
						CLM_OCCURRENCE_DETAIL AS OCC WITH(NOLOCK) ON CLM.CLAIM_ID = OCC.CLAIM_ID LEFT OUTER JOIN
					    CLM_TYPE_DETAIL CTD WITH(NOLOCK) ON CTD.DETAIL_TYPE_ID=REPLACE(OCC.LOSS_TYPE,',','') LEFT OUTER JOIN
					    CLM_INSURED_PRODUCT AS  CIP WITH(NOLOCK) ON CLM.CLAIM_ID = CIP.CLAIM_ID LEFT OUTER JOIN
					    CLM_CO_INSURANCE AS I WITH(NOLOCK) ON CLM.CLAIM_ID = I.CLAIM_ID    LEFT OUTER JOIN
					    dbo.CLM_PARTIES AS PARTY WITH(NOLOCK)ON PARTY.CLAIM_ID = CLM.CLAIM_ID LEFT OUTER JOIN
						CLM_TYPE_DETAIL AS CTD_P WITH(NOLOCK)ON CTD_P.DETAIL_TYPE_ID=PARTY.PARTY_TYPE_ID LEFT OUTER JOIN
						dbo.CLM_LITIGATION_INFORMATION AS L WITH(NOLOCK)ON CLM.CLAIM_ID = L.CLAIM_ID LEFT OUTER JOIN 
						MNT_LOOKUP_VALUES MLV WITH(NOLOCK)ON MLV.LOOKUP_UNIQUE_ID=L.ESTIMATE_CLASSIFICATION LEFT OUTER JOIN
					    MNT_LOOKUP_VALUES MLV1 WITH(NOLOCK)ON MLV.LOOKUP_UNIQUE_ID=L.ESTIMATE_CLASSIFICATION LEFT OUTER JOIN
					    dbo.CLM_PROPERTY_DAMAGED AS E WITH(NOLOCK)ON E.CLAIM_ID = CLM.CLAIM_ID   LEFT OUTER JOIN				
						MNT_LOOKUP_VALUES MLV_D WITH(NOLOCK)ON MLV_D.LOOKUP_UNIQUE_ID=E.PROP_DAMAGED_TYPE LEFT OUTER JOIN
						dbo.CLM_ACTIVITY AS A  WITH(NOLOCK)ON CLM.CLAIM_ID = A.CLAIM_ID   LEFT OUTER JOIN              
						CLM_TYPE_DETAIL CTD_ACT WITH(NOLOCK)ON CTD_ACT.DETAIL_TYPE_ID=A.ACTION_ON_PAYMENT    LEFT OUTER JOIN
						CLM_PAYEE  WITH(NOLOCK)ON  CLM_PAYEE.CLAIM_ID=A.CLAIM_ID AND CLM_PAYEE.ACTIVITY_ID=A.ACTIVITY_ID  LEFT OUTER JOIN
						CLM_PARTIES WITH(NOLOCK)ON  CLM_PAYEE.CLAIM_ID=CLM_PARTIES.CLAIM_ID AND CLM_PAYEE.PARTY_ID=CLM_PARTIES.PARTY_ID LEFT OUTER JOIN
						dbo.CLM_ACTIVITY_RESERVE AS ACT_R WITH(NOLOCK)ON CLM.CLAIM_ID = ACT_R.CLAIM_ID LEFT OUTER JOIN
		 				dbo.CLM_PRODUCT_COVERAGES AS COV WITH(NOLOCK)ON COV.CLAIM_ID = ACT_R.CLAIM_ID AND COV.CLAIM_COV_ID=ACT_R.COVERAGE_ID LEFT OUTER JOIN 
		 			    dbo.MNT_COVERAGE AS M1  WITH(NOLOCK)ON M1.COV_ID = COV.COVERAGE_CODE_ID LEFT OUTER JOIN 
		 			    dbo.MNT_COVERAGE_EXTRA AS M2  WITH(NOLOCK)ON M2.COV_ID = COV.COVERAGE_CODE_ID LEFT OUTER JOIN
		 				dbo.CLM_VICTIM_INFO AS V WITH(NOLOCK)ON V.CLAIM_ID=ACT_R.CLAIM_ID AND V.VICTIM_ID=ACT_R.VICTIM_ID
	
	

GO

