IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_POL_PRODUCT_RISK_DETAILS]'))
DROP VIEW [dbo].[VW_POL_PRODUCT_RISK_DETAILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

  
--DROP VIEW VW_POL_PRODUCT_RISK_DETAILS  
CREATE VIEW [dbo].[VW_POL_PRODUCT_RISK_DETAILS]   
AS  
/*  
SELECT PCPL.POLICY_LOB , PL.LOC_STATE AS LOCAL_RISK_STATE FROM POL_CUSTOMER_POLICY_LIST PCPL  
LEFT OUTER JOIN POL_LOCATIONS PL ON PCPL.CUSTOMER_ID = PL.CUSTOMER_ID AND PCPL.POLICY_ID = PL.POLICY_ID AND PCPL.POLICY_VERSION_ID = PL.POLICY_VERSION_ID  
LEFT OUTER JOIN POL_PERILS PP ON PL.CUSTOMER_ID = PP.CUSTOMER_ID AND PL.POLICY_ID = PP.POLICY_ID AND PL.POLICY_VERSION_ID = PP.POLICY_VERSION_ID AND PL.LOCATION_ID = PP.LOCATION   
LEFT OUTER JOIN POL_PRODUCT_LOCATION_INFO PPLI ON  PL.CUSTOMER_ID = PPLI.CUSTOMER_ID AND PL.POLICY_ID = PPLI.POLICY_ID AND PL.POLICY_VERSION_ID = PPLI.POLICY_VERSION_ID AND PL.LOCATION_ID = PPLI.LOCATION   
WHERE PCPL.POLICY_LOB IN (9,10,11,12,14,16,19,25,27,32)   
  
UNION   
  
SELECT PCPL.POLICY_LOB ,PPAI.STATE_ID AS LOCAL_RISK_STATE FROM POL_CUSTOMER_POLICY_LIST PCPL  
LEFT OUTER JOIN POL_PERSONAL_ACCIDENT_INFO PPAI ON PCPL.CUSTOMER_ID = PPAI.CUSTOMER_ID AND PCPL.POLICY_ID = PPAI.POLICY_ID AND PCPL.POLICY_VERSION_ID = PPAI.POLICY_VERSION_ID  
LEFT OUTER JOIN POL_PENHOR_RURAL_INFO PPRI ON PCPL.CUSTOMER_ID = PPRI.CUSTOMER_ID AND PCPL.POLICY_ID = PPRI.POLICY_ID AND PCPL.POLICY_VERSION_ID = PPRI.POLICY_VERSION_ID  
WHERE PCPL.POLICY_LOB IN (15,21,33,34)   
  
UNION  
  
SELECT PCPL.POLICY_LOB ,NULL AS LOCAL_RISK_STATE FROM POL_CUSTOMER_POLICY_LIST PCPL   
LEFT OUTER JOIN POL_CIVIL_TRANSPORT_VEHICLES PCTV ON PCPL.CUSTOMER_ID = PCTV.CUSTOMER_ID AND PCPL.POLICY_ID = PCTV.POLICY_ID AND PCPL.POLICY_VERSION_ID = PCTV.POLICY_VERSION_ID  
LEFT OUTER JOIN POL_MARITIME PM ON PCPL.CUSTOMER_ID = PM.CUSTOMER_ID AND PCPL.POLICY_ID = PM.POLICY_ID AND PCPL.POLICY_VERSION_ID = PM.POLICY_VERSION_ID  
LEFT OUTER JOIN POL_PASSENGERS_PERSONAL_ACCIDENT_INFO PPPAI ON PCPL.CUSTOMER_ID = PPPAI.CUSTOMER_ID AND PCPL.POLICY_ID = PPPAI.POLICY_ID AND PCPL.POLICY_VERSION_ID = PPPAI.POLICY_VERSION_ID  
WHERE PCPL.POLICY_LOB IN (17,18,28,29,30,31,36,13,22)  
  
UNION  
  
SELECT PCPL.POLICY_LOB ,(CONVERT(VARCHAR(6),ORIGIN_STATE) + '-' + CONVERT(VARCHAR(6),DESTINATION_STATE)) AS LOCAL_RISK_STATE FROM POL_CUSTOMER_POLICY_LIST PCPL  
LEFT OUTER JOIN POL_COMMODITY_INFO PCI ON PCPL.CUSTOMER_ID = PCI.CUSTOMER_ID AND PCPL.POLICY_ID = PCI.POLICY_ID AND PCPL.POLICY_VERSION_ID = PCI.POLICY_VERSION_ID  
WHERE PCPL.POLICY_LOB IN (20,23)  
*/  
-- FOR LOB ID IN (9,26)  
SELECT RISK.CUSTOMER_ID,RISK.POLICY_ID,RISK.POLICY_VERSION_ID,RISK.PERIL_ID AS RISK_ID,PL.LOC_STATE AS STATE_ID,PL.LOC_COUNTRY AS COUNTRY_ID,RISK.CO_APPLICANT_ID AS CO_APPLICANT_ID,CAL.CPF_CNPJ AS RISK_CO_APP_CPF_CNPJ,RISK.IS_ACTIVE 
FROM  POL_PERILS RISK WITH(NOLOCK)
LEFT OUTER JOIN POL_LOCATIONS PL WITH(NOLOCK) ON RISK.CUSTOMER_ID = PL.CUSTOMER_ID AND RISK.POLICY_ID = PL.POLICY_ID AND RISK.POLICY_VERSION_ID = PL.POLICY_VERSION_ID  
LEFT OUTER JOIN POL_APPLICANT_LIST PAL ON RISK.CUSTOMER_ID = PAL.CUSTOMER_ID AND RISK.POLICY_ID = PAL.POLICY_ID AND RISK.POLICY_VERSION_ID = PAL.POLICY_VERSION_ID AND RISK.CO_APPLICANT_ID = PAL.APPLICANT_ID       
LEFT OUTER JOIN CLT_APPLICANT_LIST CAL ON CAL.APPLICANT_ID = PAL.APPLICANT_ID AND CAL.CUSTOMER_ID = PAL.CUSTOMER_ID   
UNION
-- FOR LOB ID IN (11,12,14,16,19,25,27,32)  
SELECT RISK.CUSTOMER_ID,RISK.POLICY_ID,RISK.POLICY_VERSION_ID,RISK.PRODUCT_RISK_ID AS RISK_ID,PL.LOC_STATE AS STATE_ID,PL.LOC_COUNTRY AS COUNTRY_ID,RISK.CO_APPLICANT_ID AS CO_APPLICANT_ID,CAL.CPF_CNPJ AS RISK_CO_APP_CPF_CNPJ,RISK.IS_ACTIVE 
FROM  POL_PRODUCT_LOCATION_INFO   RISK WITH(NOLOCK)
LEFT OUTER JOIN POL_LOCATIONS PL WITH(NOLOCK) ON RISK.CUSTOMER_ID = PL.CUSTOMER_ID AND RISK.POLICY_ID = PL.POLICY_ID AND RISK.POLICY_VERSION_ID = PL.POLICY_VERSION_ID  
LEFT OUTER JOIN POL_APPLICANT_LIST PAL ON RISK.CUSTOMER_ID = PAL.CUSTOMER_ID AND RISK.POLICY_ID = PAL.POLICY_ID AND RISK.POLICY_VERSION_ID = PAL.POLICY_VERSION_ID AND RISK.CO_APPLICANT_ID = PAL.APPLICANT_ID       
LEFT OUTER JOIN CLT_APPLICANT_LIST CAL ON CAL.APPLICANT_ID = PAL.APPLICANT_ID AND CAL.CUSTOMER_ID = PAL.CUSTOMER_ID 
UNION  
-- FOR LOB ID IN (15,21,33,34)  
SELECT RISK.CUSTOMER_ID,RISK.POLICY_ID,RISK.POLICY_VERSION_ID,RISK.PERSONAL_INFO_ID AS RISK_ID,RISK.STATE_ID AS STATE_ID,RISK.COUNTRY_ID AS COUNTRY_ID,RISK.APPLICANT_ID AS CO_APPLICANT_ID,RISK.CPF_NUM AS RISK_CO_APP_CPF_CNPJ,RISK.IS_ACTIVE    
FROM  POL_PERSONAL_ACCIDENT_INFO  RISK WITH(NOLOCK)
  
UNION  
-- FOR LOB ID IN (35,37)
SELECT RISK.CUSTOMER_ID,RISK.POLICY_ID,RISK.POLICY_VERSION_ID,RISK.PENHOR_RURAL_ID AS RISK_ID,RISK.STATE_ID AS STATE_ID,PL.LOC_COUNTRY AS COUNTRY_ID,RISK.CO_APPLICANT_ID AS CO_APPLICANT_ID,CAL.CPF_CNPJ AS RISK_CO_APP_CPF_CNPJ,RISK.IS_ACTIVE 
FROM  POL_PENHOR_RURAL_INFO  RISK WITH(NOLOCK)
LEFT OUTER JOIN POL_LOCATIONS PL WITH(NOLOCK) ON RISK.CUSTOMER_ID = PL.CUSTOMER_ID AND RISK.POLICY_ID = PL.POLICY_ID AND RISK.POLICY_VERSION_ID = PL.POLICY_VERSION_ID  
LEFT OUTER JOIN POL_APPLICANT_LIST PAL ON RISK.CUSTOMER_ID = PAL.CUSTOMER_ID AND RISK.POLICY_ID = PAL.POLICY_ID AND RISK.POLICY_VERSION_ID = PAL.POLICY_VERSION_ID AND RISK.CO_APPLICANT_ID = PAL.APPLICANT_ID       
LEFT OUTER JOIN CLT_APPLICANT_LIST CAL ON CAL.APPLICANT_ID = PAL.APPLICANT_ID AND CAL.CUSTOMER_ID = PAL.CUSTOMER_ID
UNION  
-- FOR LOB ID IN (17,18,27,28,29,30)
SELECT RISK.CUSTOMER_ID,RISK.POLICY_ID,RISK.POLICY_VERSION_ID,RISK.VEHICLE_ID AS RISK_ID,RISK.STATE_ID AS STATE_ID,PL.LOC_COUNTRY AS COUNTRY_ID,RISK.CO_APPLICANT_ID AS CO_APPLICANT_ID,CAL.CPF_CNPJ AS RISK_CO_APP_CPF_CNPJ,RISK.IS_ACTIVE 
FROM  POL_CIVIL_TRANSPORT_VEHICLES  RISK WITH(NOLOCK)
LEFT OUTER JOIN POL_LOCATIONS PL WITH(NOLOCK) ON RISK.CUSTOMER_ID = PL.CUSTOMER_ID AND RISK.POLICY_ID = PL.POLICY_ID AND RISK.POLICY_VERSION_ID = PL.POLICY_VERSION_ID  
LEFT OUTER JOIN POL_APPLICANT_LIST PAL ON RISK.CUSTOMER_ID = PAL.CUSTOMER_ID AND RISK.POLICY_ID = PAL.POLICY_ID AND RISK.POLICY_VERSION_ID = PAL.POLICY_VERSION_ID AND RISK.CO_APPLICANT_ID = PAL.APPLICANT_ID       
LEFT OUTER JOIN CLT_APPLICANT_LIST CAL ON CAL.APPLICANT_ID = PAL.APPLICANT_ID AND CAL.CUSTOMER_ID = PAL.CUSTOMER_ID 

UNION  
-- FOR LOB ID IN (13)
SELECT RISK.CUSTOMER_ID,RISK.POLICY_ID,RISK.POLICY_VERSION_ID,RISK.MARITIME_ID AS RISK_ID,NULL AS STATE_ID,PL.LOC_COUNTRY AS COUNTRY_ID,RISK.CO_APPLICANT_ID AS CO_APPLICANT_ID,CAL.CPF_CNPJ AS RISK_CO_APP_CPF_CNPJ,RISK.IS_ACTIVE 
FROM  POL_MARITIME  RISK WITH(NOLOCK)
LEFT OUTER JOIN POL_LOCATIONS PL WITH(NOLOCK) ON RISK.CUSTOMER_ID = PL.CUSTOMER_ID AND RISK.POLICY_ID = PL.POLICY_ID AND RISK.POLICY_VERSION_ID = PL.POLICY_VERSION_ID  
LEFT OUTER JOIN POL_APPLICANT_LIST PAL ON RISK.CUSTOMER_ID = PAL.CUSTOMER_ID AND RISK.POLICY_ID = PAL.POLICY_ID AND RISK.POLICY_VERSION_ID = PAL.POLICY_VERSION_ID AND RISK.CO_APPLICANT_ID = PAL.APPLICANT_ID       
LEFT OUTER JOIN CLT_APPLICANT_LIST CAL ON CAL.APPLICANT_ID = PAL.APPLICANT_ID AND CAL.CUSTOMER_ID = PAL.CUSTOMER_ID    
UNION  
-- FOR LOB ID IN (22)  
SELECT RISK.CUSTOMER_ID,RISK.POLICY_ID,RISK.POLICY_VERSION_ID,RISK.PERSONAL_ACCIDENT_ID AS RISK_ID,NULL AS STATE_ID,PL.LOC_COUNTRY AS COUNTRY_ID,RISK.CO_APPLICANT_ID AS CO_APPLICANT_ID,CAL.CPF_CNPJ AS RISK_CO_APP_CPF_CNPJ,RISK.IS_ACTIVE  
FROM  POL_PASSENGERS_PERSONAL_ACCIDENT_INFO  RISK WITH(NOLOCK) 
LEFT OUTER JOIN POL_LOCATIONS PL WITH(NOLOCK) ON RISK.CUSTOMER_ID = PL.CUSTOMER_ID AND RISK.POLICY_ID = PL.POLICY_ID AND RISK.POLICY_VERSION_ID = PL.POLICY_VERSION_ID  
LEFT OUTER JOIN POL_APPLICANT_LIST PAL ON RISK.CUSTOMER_ID = PAL.CUSTOMER_ID AND RISK.POLICY_ID = PAL.POLICY_ID AND RISK.POLICY_VERSION_ID = PAL.POLICY_VERSION_ID AND RISK.CO_APPLICANT_ID = PAL.APPLICANT_ID       
LEFT OUTER JOIN CLT_APPLICANT_LIST CAL ON CAL.APPLICANT_ID = PAL.APPLICANT_ID AND CAL.CUSTOMER_ID = PAL.CUSTOMER_ID 
UNION  
-- FOR LOB ID IN (20,23)
SELECT RISK.CUSTOMER_ID,RISK.POLICY_ID,RISK.POLICY_VERSION_ID,RISK.COMMODITY_ID AS RISK_ID,RISK.ORIGIN_STATE AS STATE_ID,PL.LOC_COUNTRY AS COUNTRY_ID,RISK.CO_APPLICANT_ID AS CO_APPLICANT_ID,CAL.CPF_CNPJ AS RISK_CO_APP_CPF_CNPJ,RISK.IS_ACTIVE 
FROM  POL_COMMODITY_INFO  RISK WITH(NOLOCK) 
LEFT OUTER JOIN POL_LOCATIONS PL WITH(NOLOCK) ON RISK.CUSTOMER_ID = PL.CUSTOMER_ID AND RISK.POLICY_ID = PL.POLICY_ID AND RISK.POLICY_VERSION_ID = PL.POLICY_VERSION_ID  
LEFT OUTER JOIN POL_APPLICANT_LIST PAL ON RISK.CUSTOMER_ID = PAL.CUSTOMER_ID AND RISK.POLICY_ID = PAL.POLICY_ID AND RISK.POLICY_VERSION_ID = PAL.POLICY_VERSION_ID AND RISK.CO_APPLICANT_ID = PAL.APPLICANT_ID       
LEFT OUTER JOIN CLT_APPLICANT_LIST CAL ON CAL.APPLICANT_ID = PAL.APPLICANT_ID AND CAL.CUSTOMER_ID = PAL.CUSTOMER_ID     



