IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_SUSEP_FORM_51_51R_52]'))
DROP VIEW [dbo].[VW_SUSEP_FORM_51_51R_52]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[VW_SUSEP_FORM_51_51R_52] AS  
SELECT      
  
 MLM.SUSEP_LOB_CODE ,     
 --PRI.CONTRACT_FACULTATIVE,  
 PRBD.CONTRACT_NUMBER,  
 PCPL.POLICY_NUMBER ,    
  ------RE-INSURER NAME--------    
 MRCL.REIN_COMAPANY_NAME AS  REINSURER_NAME,    
     
 ---TYPE OF CONTRACT---    
  MRC.CONTRACT_DESC AS TYPE_OF_CONTRACT,    
  PRBD.TOTAL_INS_VALUE,  
  PRBD.RETENTION_PER,  
  PRBD.COMM_AMOUNT,  
  PPP.COMPLETED_DATETIME ,  
  MRCL.REIN_COMAPANY_NAME,    
  MRC.CONTRACT_DESC,  
  CACRB.PAYMENT_AMT  
    
   ----GROUP_LINE_CODE---        
 --SUBSTRING(ISNULL(MLM.SUSEP_LOB_CODE,''),1,2) AS GROUP_LINE_CODE,    
      
 ------INSUSRANCE_LINE_CODE---         
 --SUBSTRING(ISNULL(MLM.SUSEP_LOB_CODE,''),3,4) AS INSUSRANCE_LINE_CODE,    
      
 -----CONTRACT_NO----     
    
 --CASE WHEN PRI.CONTRACT_FACULTATIVE=14627 THEN  PRBD.CONTRACT_NUMBER   --CONTRACT    
 --     WHEN PRI.CONTRACT_FACULTATIVE=14628 THEN PCPL.POLICY_NUMBER      --FACULATIVE    
 --     END AS   CONTRACT_NO,  
    
   ----REINSURANCE_PREMIUM------    
 --dbo.fun_FormatCurrency(CAST(SUM(ISNULL(PRBD.TOTAL_INS_VALUE,0)*ISNULL(PRBD.RETENTION_PER,0)/100 ) AS  DECIMAL(13,2)),2) AS REINSURANCE_PREMIUM,          
     
 ------REINSURER RECOVERABLE CLAIM ----    
 --'0,00' AS REINSURER_RECOVERABLE_CLAIM,    
     
 ---------REISURANCE_COMMISSION---------    
 --dbo.fun_FormatCurrency(CAST(SUM(ISNULL(MRC.COMMISSION,0)) AS  DECIMAL(13,2)),2) AS REISURANCE_COMMISSION,  
  --dbo.fun_FormatCurrency(CAST(SUM(ISNULL(PRBD.COMM_AMOUNT,0)) AS  DECIMAL(13,2)),2) AS REISURANCE_COMMISSION,    
     
 -------BROKERAGE_COMMISSION----------    
 --dbo.fun_FormatCurrency(CAST(0 AS DECIMAL(13,2)),2)  AS BROKERAGE_COMMISSION,    
     
 ----------PROFIT SHARING AMOUNT-------    
 --dbo.fun_FormatCurrency(CAST(0 AS DECIMAL(13,2)),2) AS PROFIT_SHARING_AMOUNT,    
     
 ----OTHER AMOUNT---    
 --dbo.fun_FormatCurrency(CAST(0 AS DECIMAL(13,2)),2) AS OTHER_AMOUNT ,  
   
   
 FROM POL_CUSTOMER_POLICY_LIST PCPL          
INNER JOIN MNT_LOB_MASTER MLM WITH(NOLOCK)          
   ON PCPL.POLICY_LOB = MLM.LOB_ID          
LEFT JOIN POL_REINSURANCE_BREAKDOWN_DETAILS PRBD WITH(NOLOCK)          
   ON PRBD.CUSTOMER_ID = PCPL.CUSTOMER_ID          
   AND PRBD.POLICY_ID = PCPL.POLICY_ID          
   AND PRBD.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID     
INNER JOIN POL_POLICY_PROCESS PPP WITH(NOLOCK)          
  ON PPP.PROCESS_ID = PRBD.PROCESS_ID          
  AND PPP.CUSTOMER_ID = PRBD.CUSTOMER_ID          
  AND PPP.POLICY_ID = PRBD.POLICY_ID          
  AND PPP.NEW_POLICY_VERSION_ID = PRBD.POLICY_VERSION_ID     
LEFT JOIN MNT_REINSURANCE_CONTRACT MRC WITH(NOLOCK)      
   ON  MRC.CONTRACT_NUMBER = PRBD.CONTRACT_NUMBER     
--INNER JOIN POL_REINSURANCE_INFO PRI WITH(NOLOCK)    
-- ON PRI.CUSTOMER_ID = PCPL.CUSTOMER_ID          
--   AND PRI.POLICY_ID = PCPL.POLICY_ID          
--   AND PRI.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID       
INNER JOIN MNT_REIN_COMAPANY_LIST MRCL WITH(NOLOCK)    
   ON MRCL.REIN_COMAPANY_ID = PRBD.MAJOR_PARTICIPANT   
   INNER JOIN CLM_ACTIVITY_CO_RI_BREAKDOWN CACRB WITH(NOLOCK)  
   ON CACRB.COMP_ID = MRCL.REIN_COMAPANY_ID   
    INNER JOIN CLM_ACTIVITY CA   
    ON CACRB.CLAIM_ID = CA.CLAIM_ID AND CACRB.ACTIVITY_ID = CA.ACTIVITY_ID  
  
  
  
GO

