IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VIEW_INF_173_WITH_POLICY]'))
DROP VIEW [dbo].[VIEW_INF_173_WITH_POLICY]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/****************************************************************************                               
VIEW Name        :    	dbo.VIEW_INF_173_WITH_POLICY                                 

Created BY 		:	Shikha Dixit

PURPOSE  		: 	View for Report INF173

Used In          :      Wolverine 

Date             :      08 July 2009 

******************************************************************************/ 
--DROP VIEW [dbo].[VIEW_INF_173_WITH_POLICY]
CREATE VIEW [dbo].[VIEW_INF_173_WITH_POLICY]  
AS 
WITH
MAX_VER
AS
( 
	  SELECT CUSTOMER_ID , POLICY_ID , CURRENT_TERM , RISK_ID , RISK_TYPE , MONTH_NUMBER , YEAR_NUMBER , MAX(VERSION_FOR_RISK) AS VERSION_FOR_RISK
	  FROM ACT_EARNED_PREMIUM 
	  GROUP BY CUSTOMER_ID , POLICY_ID , CURRENT_TERM , RISK_ID , RISK_TYPE , MONTH_NUMBER , YEAR_NUMBER 
) 
SELECT TMP.POLICY_NUMBER,

TMP.STATE AS STATE, MLV.LOOKUP_VALUE_CODE AS CLASS,PV.APP_VEHICLE_PERCLASS_ID,

SUM(INFORCE_PREMIUM) AS PREMIUM,

COUNT(PV.VEHICLE_ID)  AS 'No. OF VEHICLES',

SUM(INFORCE_PREMIUM) / COUNT(PV.VEHICLE_ID) AS 'AVERAGE PREMIUM',

CASE WHEN SUBSTRING(MLV.LOOKUP_VALUE_CODE,1,1)='P' OR SUBSTRING(MLV.LOOKUP_VALUE_CODE,1,1)='5'
THEN COUNT(PV.VEHICLE_ID) ELSE '0' END AS 'NUMBER OF PREFERRED',

CASE WHEN SUBSTRING(MLV.LOOKUP_VALUE_CODE,1,1)!='P' AND SUBSTRING(MLV.LOOKUP_VALUE_CODE,1,1)!='5' 
THEN COUNT(PV.VEHICLE_ID) ELSE '0' END AS 'VEHICLE STANDARD',

MONTH_NUMBER AS [MONTH NUMBER],

YEAR_NUMBER AS [YEAR NUMBER]

FROM
(
	SELECT AP.POLICY_NUMBER,
       AP.MONTH_NUMBER AS MONTH_NUMBER,AP.YEAR_NUMBER AS YEAR_NUMBER,
       AP.CUSTOMER_ID  AS CUSTOMER_ID,AP.POLICY_ID AS POLICY_ID,
       AP.VERSION_FOR_RISK AS POLICY_VERSION_ID,AP.CURRENT_TERM AS CURRENT_TERM,
       AP.RISK_ID AS RISK_ID, 
	(
		  SELECT SUM(ISNULL(EPR.INFORCE_PREMIUM,0)) 
		  FROM ACT_EARNED_PREMIUM EPR 
		  WHERE AP.CUSTOMER_ID = EPR.CUSTOMER_ID 
				AND AP.POLICY_ID = EPR.POLICY_ID 
				AND AP.RISK_ID = EPR.RISK_ID 
				AND AP.RISK_TYPE = EPR.RISK_TYPE 
				AND AP.MONTH_NUMBER = EPR.MONTH_NUMBER 
				AND AP.YEAR_NUMBER  = EPR.YEAR_NUMBER
	)AS INFORCE_PREMIUM,
	CSL.STATE_NAME STATE 
	FROM ACT_EARNED_PREMIUM AP 
	INNER JOIN MAX_VER
		  ON AP.CUSTOMER_ID = MAX_VER.CUSTOMER_ID AND AP.POLICY_ID = MAX_VER.POLICY_ID 
		  AND AP.VERSION_FOR_RISK = MAX_VER.VERSION_FOR_RISK 
		  AND AP.RISK_ID = MAX_VER.RISK_ID AND AP.RISK_TYPE = MAX_VER.RISK_TYPE 
		  AND AP.MONTH_NUMBER = MAX_VER.MONTH_NUMBER 
		  AND AP.YEAR_NUMBER  = MAX_VER.YEAR_NUMBER
	INNER JOIN POL_CUSTOMER_POLICY_LIST PL 
		  ON PL.CUSTOMER_ID=AP.CUSTOMER_ID AND PL.POLICY_ID=AP.POLICY_ID 
		  AND PL.POLICY_VERSION_ID=AP.VERSION_FOR_RISK 
		  AND PL.POLICY_LOB=2 
--		  AND AP.POLICY_NUMBER = 'A2662900'
--		  AND AP.MONTH_NUMBER = 10 
	INNER JOIN MNT_COUNTRY_STATE_LIST CSL WITH(NOLOCK) ON PL.STATE_ID = CSL.STATE_ID    
	GROUP BY AP.MONTH_NUMBER,AP.YEAR_NUMBER,AP.CUSTOMER_ID,AP.POLICY_ID,AP.VERSION_FOR_RISK,
	AP.CURRENT_TERM,AP.RISK_ID,CSL.STATE_NAME ,AP.POLICY_NUMBER,AP.RISK_TYPE
	HAVING SUM(INFORCE_PREMIUM)<> 0
)TMP 

INNER JOIN POL_VEHICLES PV ON PV.CUSTOMER_ID=TMP.CUSTOMER_ID AND PV.POLICY_ID=TMP.POLICY_ID AND 
PV.POLICY_VERSION_ID=TMP.POLICY_VERSION_ID AND PV.VEHICLE_ID=TMP.RISK_ID
AND PV.APP_VEHICLE_PERTYPE_ID=11334 
LEFT OUTER  JOIN MNT_LOOKUP_VALUES MLV ON MLV.LOOKUP_UNIQUE_ID=PV.APP_VEHICLE_PERCLASS_ID	
--WHERE TMP.POLICY_NUMBER = 'A2662900'
GROUP BY TMP.STATE,MLV.LOOKUP_VALUE_CODE,MONTH_NUMBER,YEAR_NUMBER,TMP.POLICY_NUMBER,PV.VEHICLE_ID,PV.APP_VEHICLE_PERCLASS_ID--,TMP.INFORCE_PREMIUM
--ORDER BY TMP.POLICY_NUMBER


GO

