IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_FetchMineSubsidencePremiumReport]'))
DROP VIEW [dbo].[VW_FetchMineSubsidencePremiumReport]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VW_FetchMineSubsidencePremiumReport] 
AS
	SELECT PL.LOC_COUNTY,PL.LOC_ZIP,PCPL.POLICY_NUMBER,
	CASE VCPSD.PROCESS_TYPE
		WHEN '25' 
			THEN 'New Business'
		WHEN '18'
			THEN 'Renewal'
		WHEN '14'
			THEN 'Endorsement'
		WHEN '12'
			THEN 'Cancellation'
		WHEN '32'
			THEN 'Rewrite'--
		WHEN '9'
			THEN 'Corrective User'
		WHEN '16'
			THEN 'Reinstatement'
		ELSE ''
	END PROCESS_TYPE,
	PCPL.APP_EFFECTIVE_DATE,PCPL.APP_EXPIRATION_DATE,PCPL.APP_TERMS,
	CASE VCPSD.PROCESS_TYPE
		WHEN '12'
			THEN NULL
		WHEN '14'
			THEN NULL
		ELSE
			VCPSD.COMP_ACT_PREMIUM
	END PREMIUM,
	CASE VCPSD.PROCESS_TYPE
		WHEN '12'
			THEN VCPSD.COMP_ACT_PREMIUM
		ELSE NULL
	END CANCEL_PREMIUM,
	CASE VCPSD.PROCESS_TYPE
		WHEN '14'
			THEN VCPSD.COMP_ACT_PREMIUM
		ELSE NULL
	END ADJ_PREMIUM, EPR_YEAR , EPR_MONTH 
			 FROM VIEW_CLT_PREMIUM_SPLIT_DETAILS VCPSD 
		INNER JOIN POL_LOCATIONS PL WITH (NOLOCK)
		ON VCPSD.CUSTOMER_ID=PL.CUSTOMER_ID
			AND VCPSD.POLICY_ID=PL.POLICY_ID
			AND VCPSD.POLICY_VERSION_ID=PL.POLICY_VERSION_ID
			AND PL.IS_ACTIVE='Y'
		INNER JOIN 
			POL_CUSTOMER_POLICY_LIST PCPL  WITH (NOLOCK)
		ON PCPL.CUSTOMER_ID=PL.CUSTOMER_ID
			AND PCPL.POLICY_ID=PL.POLICY_ID
			AND PCPL.POLICY_VERSION_ID=PL.POLICY_VERSION_ID
		WHERE VCPSD.COMPONENT_CODE='MNE_SBS' AND VCPSD.COMP_ACT_PREMIUM <>0  
		GROUP BY PL.LOC_COUNTY,PL.LOC_ZIP,PCPL.POLICY_NUMBER,VCPSD.PROCESS_TYPE,VCPSD.COMP_ACT_PREMIUM,PCPL.APP_EFFECTIVE_DATE,PCPL.APP_EXPIRATION_DATE,PCPL.POLICY_TERMS,PCPL.APP_TERMS,EPR_YEAR, EPR_MONTH 


GO

