IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_COV_DETAILS]'))
DROP VIEW [dbo].[VW_COV_DETAILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN  
--DROP VIEW VW_COV_DETAILS  
--GO  
CREATE VIEW [dbo].[VW_COV_DETAILS]  
AS  
WITH  
COV_DETAILS  
AS  
(  
	SELECT DISTINCT PCL.POLICY_NUMBER,PVC.CUSTOMER_ID, PVC.POLICY_ID,PVC.POLICY_VERSION_ID,  
	PVC.VEHICLE_ID AS 'RISK/DWELLING ID',MC.COV_ID,MC.COV_DES AS DESCRIPTION,PSD.WRITTEN_PREM AS PREMIUM,  
	COM_EXT_AD AS DISCOUNT,  
	CASE MC.LIMIT_TYPE  WHEN 2 THEN    
	SUBSTRING(CONVERT(VARCHAR(30),CONVERT(MONEY,PVC.LIMIT_1),1),0,+ CHARINDEX('.',CONVERT(VARCHAR(30),  
	CONVERT(MONEY,PVC.LIMIT_1),1),0)) + CONVERT(VARCHAR(20),ISNULL(PVC.LIMIT2_AMOUNT_TEXT,''))+ '/' +   
	SUBSTRING(CONVERT(VARCHAR(30),CONVERT(MONEY,PVC.LIMIT_2),1),0,CHARINDEX('.',CONVERT(VARCHAR(30),  
	CONVERT(MONEY,PVC.LIMIT_2),1),0)) + CONVERT(VARCHAR(20),ISNULL(PVC.LIMIT2_AMOUNT_TEXT,''))    
	ELSE ISNULL(SUBSTRING(CONVERT(VARCHAR(30),CONVERT(MONEY,PVC.LIMIT_1),1),0,CHARINDEX('.',CONVERT(VARCHAR(30),  
	CONVERT(MONEY,PVC.LIMIT_1),1),0)),'') + CONVERT(VARCHAR(20),ISNULL(PVC.LIMIT1_AMOUNT_TEXT,''))    
	END AS LIMIT ,   

	CASE MC.DEDUCTIBLE_TYPE  WHEN 2 THEN Substring(convert(varchar(30),  
	convert(money,PVC.Deductible_1),1),0,charindex('.',convert(varchar(30),  
	convert(money,PVC.Deductible_1),1),0)) + ' '+ '/' +  substring(convert(varchar(30),  
	convert(money,PVC.Deductible_2),1),0,charindex('.',convert(varchar(30),convert(money,PVC.Deductible_2),1),0))     
	ELSE substring(convert(varchar(30),convert(money,PVC.Deductible_1),1),0,  
	charindex('.',convert(varchar(30),convert(money,PVC.Deductible_1),1),0))    
	END AS DEDUCTIBLE, 'COV'AS [TYPE] 
	FROM POL_VEHICLE_COVERAGES PVC  
	INNER JOIN CLT_PREMIUM_SPLIT CS  
	ON PVC.CUSTOMER_ID = CS.CUSTOMER_ID  
	AND PVC.POLICY_ID = CS.POLICY_ID  
	AND PVC.POLICY_VERSION_ID = CS.POLICY_VERSION_ID  
	AND PVC.VEHICLE_ID = CS.RISK_ID  
	INNER JOIN CLT_PREMIUM_SPLIT_DETAILS PSD  
	ON CS.UNIQUE_ID = PSD.SPLIT_UNIQUE_ID  
	AND CAST(PVC.COVERAGE_CODE_ID AS VARCHAR)= PSD.COMP_EXT  
	INNER JOIN   
	(SELECT COV_ID, COV_CODE, COV_DES,LIMIT_TYPE,DEDUCTIBLE_TYPE FROM MNT_COVERAGE  
	UNION  
	SELECT COV_ID, COV_CODE,COV_DES,LIMIT_TYPE,DEDUCTIBLE_TYPE FROM MNT_COVERAGE_EXTRA  
	)MC  
	ON PVC.COVERAGE_CODE_ID = MC.COV_ID  
	INNER JOIN POL_CUSTOMER_POLICY_LIST PCL  
	ON PVC.CUSTOMER_ID = PCL.CUSTOMER_ID  
	AND PVC.POLICY_ID = PCL.POLICY_ID  
	AND PVC.POLICY_VERSION_ID = PCL.POLICY_VERSION_ID  
	WHERE PSD.WRITTEN_PREM IS NOT NULL  AND  
	PCL.POLICY_STATUS = 'NORMAL' AND   
	PCL.POLICY_VERSION_ID >=   
	(   
	SELECT MIN(PPPIN.NEW_POLICY_VERSION_ID) FROM POL_POLICY_PROCESS PPPIN  
	WHERE PPPIN.CUSTOMER_ID = PCL.CUSTOMER_ID   
	AND PPPIN.POLICY_ID  = PCL.POLICY_ID   
	AND PROCESS_ID IN (25,18)    
	AND PROCESS_STATUS  ='COMPLETE'-- MIN OF NBS OR RENEWAL  
	AND ISNULL(REVERT_BACK,'N') = 'N'  
	)   
	AND POLICY_LOB IN (2,3)

	UNION

	SELECT DISTINCT PCL.POLICY_NUMBER,CS.CUSTOMER_ID, CS.POLICY_ID,CS.POLICY_VERSION_ID,   
	CS.RISK_ID AS 'RISK/DWELLING ID',ISNULL(PSD.COMP_EXT,'')COV_ID, --PSD.COMPONENT_CODE   
	MDT.DISC_COMP_DESC AS DESCRIPTION,PSD.WRITTEN_PREM AS PREMIUM,COM_EXT_AD AS DISCOUNT,  
	--SUM(CASE WHEN ISNUMERIC(PSD.WRITTEN_PREM) = 0 THEN 0 ELSE CAST(PSD.WRITTEN_PREM AS DECIMAL(18,6))END) AS PREMIUM,  
	PSD.LIMIT,PSD.DEDUCTIBLE,
	'DISC'AS [TYPE] 
	FROM CLT_PREMIUM_SPLIT CS  
	INNER JOIN CLT_PREMIUM_SPLIT_DETAILS PSD  
	ON CS.UNIQUE_ID = PSD.SPLIT_UNIQUE_ID  
	INNER JOIN POL_CUSTOMER_POLICY_LIST PCL  
	ON CS.CUSTOMER_ID = PCL.CUSTOMER_ID  
	AND CS.POLICY_ID = PCL.POLICY_ID  
	AND CS.POLICY_VERSION_ID = PCL.POLICY_VERSION_ID  
	INNER JOIN MNT_DISCOUNT_TABLE MDT  
	ON PSD.COMPONENT_CODE = MDT.DISC_COMP_CODE  
	WHERE PSD.COMPONENT_TYPE = 'D' AND PSD.WRITTEN_PREM IS NOT NULL  AND  
	PCL.POLICY_STATUS = 'NORMAL' AND   
	PCL.POLICY_VERSION_ID >=   
	(   
	SELECT MIN(PPPIN.NEW_POLICY_VERSION_ID) FROM POL_POLICY_PROCESS PPPIN  
	WHERE PPPIN.CUSTOMER_ID = PCL.CUSTOMER_ID   
	AND PPPIN.POLICY_ID  = PCL.POLICY_ID   
	AND PROCESS_ID IN (25,18)    
	AND PROCESS_STATUS  ='COMPLETE'-- MIN OF NBS OR RENEWAL  
	AND ISNULL(REVERT_BACK,'N') = 'N'  
	)   
	AND POLICY_LOB IN (2,3)

	UNION  

	SELECT DISTINCT PCL.POLICY_NUMBER,CS.CUSTOMER_ID, CS.POLICY_ID,CS.POLICY_VERSION_ID,   
	CS.RISK_ID AS 'RISK/DWELLING ID',ISNULL(PSD.COMP_EXT,''),--PSD.COMPONENT_CODE   
	MDT.DISC_COMP_DESC AS DESCRIPTION,PSD.WRITTEN_PREM AS PREMIUM,COM_EXT_AD AS DISCOUNT,  
	--SUM(CASE WHEN ISNUMERIC(PSD.WRITTEN_PREM) = 0 THEN 0 ELSE CAST(PSD.WRITTEN_PREM AS DECIMAL(18,6))END) AS PREMIUM,  
	PSD.LIMIT,PSD.DEDUCTIBLE,--APSD.COMMISSION_AMOUNT,  
	'SRG'AS [TYPE]
	FROM CLT_PREMIUM_SPLIT CS  
	INNER JOIN CLT_PREMIUM_SPLIT_DETAILS PSD  
	ON CS.UNIQUE_ID = PSD.SPLIT_UNIQUE_ID  
	INNER JOIN POL_CUSTOMER_POLICY_LIST PCL  
	ON CS.CUSTOMER_ID = PCL.CUSTOMER_ID  
	AND CS.POLICY_ID = PCL.POLICY_ID  
	AND CS.POLICY_VERSION_ID = PCL.POLICY_VERSION_ID  
	INNER JOIN MNT_DISCOUNT_TABLE MDT  
	ON PSD.COMPONENT_CODE = MDT.DISC_COMP_CODE  
	WHERE PSD.COMPONENT_TYPE = 'S' AND PSD.WRITTEN_PREM IS NOT NULL  AND  
	PCL.POLICY_STATUS = 'NORMAL' AND   
	PCL.POLICY_VERSION_ID >=   
	(   
	SELECT MIN(PPPIN.NEW_POLICY_VERSION_ID) FROM POL_POLICY_PROCESS PPPIN  
	WHERE PPPIN.CUSTOMER_ID = PCL.CUSTOMER_ID   
	AND PPPIN.POLICY_ID  = PCL.POLICY_ID   
	AND PROCESS_ID IN (25,18)    
	AND PROCESS_STATUS  ='COMPLETE'-- MIN OF NBS OR RENEWAL  
	AND ISNULL(REVERT_BACK,'N') = 'N'  
	)   
	AND POLICY_LOB IN (2,3)
)  
  
SELECT * FROM COV_DETAILS  
  
--GO  
----SELECT * FROM VW_COV_DETAILS WHERE POLICY_NUMBER = 'A7001989'  
--ROLLBACK TRAN

GO

