IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_AUTO_MOT_DETAILS]'))
DROP VIEW [dbo].[VW_AUTO_MOT_DETAILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN
--DROP VIEW VW_AUTO_MOT_DETAILS
--GO
CREATE VIEW VW_AUTO_MOT_DETAILS
AS  
WITH
TEMP
AS
(
	SELECT DISTINCT PDV.APP_VEHICLE_PRIN_OCC_ID,MLV.LOOKUP_VALUE_DESC FROM POL_DRIVER_ASSIGNED_VEHICLE PDV
	INNER JOIN MNT_LOOKUP_VALUES MLV
	ON PDV.APP_VEHICLE_PRIN_OCC_ID = MLV.LOOKUP_UNIQUE_ID
),

TEMP_MOT_TYPE
AS
(
	SELECT DISTINCT P.MOTORCYCLE_TYPE, MLV.LOOKUP_VALUE_DESC FROM POL_VEHICLES P
	INNER JOIN MNT_LOOKUP_VALUES MLV
	ON P.MOTORCYCLE_TYPE = MLV.LOOKUP_UNIQUE_ID
),

TEMP_VEH_USE
AS
(
	SELECT DISTINCT P.VEHICLE_USE, MLV.LOOKUP_VALUE_DESC FROM POL_VEHICLES P
	INNER JOIN MNT_LOOKUP_VALUES MLV
	ON P.VEHICLE_USE = MLV.LOOKUP_UNIQUE_ID
),

TEMP_DRV_OCC
AS
(
	SELECT DISTINCT PD.DRIVER_OCC_CLASS, MLV.LOOKUP_VALUE_DESC FROM POL_DRIVER_DETAILS PD
	INNER JOIN MNT_LOOKUP_VALUES MLV
	ON PD.DRIVER_OCC_CLASS = MLV.LOOKUP_UNIQUE_ID
),

VEH_DETAILS
AS
(
	SELECT DISTINCT PV.INSURED_VEH_NUMBER,PV.VEHICLE_ID,PV.VEHICLE_YEAR,PV.VEHICLE_AGE,PV.SYMBOL,PV.MAKE,PV.MODEL,PV.VIN,
	PCL.POLICY_NUMBER,PCL.POLICY_LOB,PCL.CUSTOMER_ID, PCL.POLICY_ID, PCL.POLICY_VERSION_ID,
	PV.GRG_ZIP AS 'ZIP CODE',PV.GRG_CITY AS CITY,/*MCT.COUNTY AS COUNTY,*/ PV.TERRITORY AS TERRITORY,
	--PDD.DRIVER_FNAME + ' ' + PDD.DRIVER_MNAME + ' '+ PDD.DRIVER_LNAME 'DRIVER NAME', 
	CONVERT(VARCHAR,PDD.DRIVER_DOB,101) AS 'DRIVER DOB', DATEDIFF(YY,PDD.DRIVER_DOB,PCL.POLICY_EFFECTIVE_DATE)AS AGE,
	T.LOOKUP_VALUE_DESC AS 'DRIVER TYPE',MLV.LOOKUP_VALUE_DESC AS VEHICLE_CLASS,SL.STATE_NAME AS STATE,
	'' AS RATE_CODE,	
	CASE WHEN PGI.MULTI_POLICY_DISC_APPLIED = 0 THEN 'NO' WHEN PGI.MULTI_POLICY_DISC_APPLIED = 1 THEN 'YES' END 
	AS IS_MULTI_POLICY,CASE WHEN PV.MULTI_CAR = 11918 THEN 'NOT APPLICABLE' ELSE 'APPLICABLE/OTHER CAR ON THIS POLICY' END 
	AS MULTI_VEHICLE,CASE WHEN DATEDIFF(YY,PDD.DRIVER_DOB,PCL.POLICY_EFFECTIVE_DATE) >=45 THEN 'YES' ELSE 'NO' END 
	AS MATURE_DRIVER, ISNULL(TMT.LOOKUP_VALUE_DESC,'') AS TYPE_OF_BIKE,
	CASE WHEN PDD.DRIVER_GOOD_STUDENT = 1 THEN 'YES' WHEN PDD.DRIVER_GOOD_STUDENT = 0 THEN 'NO'
	ELSE '' END AS 'GOOD STUDENT',
	CASE WHEN PGI.ANY_PRIOR_LOSSES = 0 THEN 'NO' WHEN PGI.ANY_PRIOR_LOSSES = 1 THEN 'YES' ELSE''END AS ANY_PRIOR_LOSS,
	CASE WHEN PDD.NO_CYCLE_ENDMT = 1 THEN 'YES' ELSE 'NO' END AS 'NO CYCLE ENDORSEMENT ON LICENSE',
	CASE WHEN PDD.DRIVER_PREF_RISK = 1 THEN 'YES'WHEN PDD.DRIVER_PREF_RISK = 0 THEN 'NO'ELSE ''END AS 'PREMIER/SAFE DRIVER',
	ISNULL(TVU.LOOKUP_VALUE_DESC,'') AS 'VEHICL USE',CASE WHEN PV.PASSIVE_SEAT_BELT = 10963 THEN 'YES' 
	WHEN PV.PASSIVE_SEAT_BELT = 10964 THEN'NO' ELSE '' END AS 'SEAT BELT', 
	CASE WHEN PV.AIR_BAG IS NOT NULL THEN 'YES'WHEN PV.AIR_BAG <> '' THEN 'YES' ELSE 'NO' END AS 'AIR BAG',
	CASE WHEN PV.ANTI_LOCK_BRAKES = 10963 THEN 'YES' WHEN PV.ANTI_LOCK_BRAKES =10964 THEN 'NO' ELSE '' END AS 'ABS' ,
	--MV.VIOLATION_DES AS VIOLATION_TYPE,
	CASE WHEN PGI.ANY_ANTIQUE_AUTO = 1 THEN 'YES' ELSE 'NO'END AS 'CLASSIC/ANTQUE/MOTOR HOME',
	CASE WHEN POLICY_SUBLOB = 1 THEN 'YES' ELSE 'NO' END AS 'TRAILBLAZER',
	ISNULL(PGI.YEARS_INSU,0) AS 'YEARS CONT. INSURED', ISNULL(TD.LOOKUP_VALUE_DESC,'')AS OCCUPATION,
	APSD.GROSS_PREMIUM
	FROM POL_VEHICLES PV
	LEFT JOIN POL_CUSTOMER_POLICY_LIST PCL
		ON PV.CUSTOMER_ID = PCL.CUSTOMER_ID
		AND PV.POLICY_ID = PCL.POLICY_ID
		AND PV.POLICY_VERSION_ID = PCL.POLICY_VERSION_ID
	LEFT JOIN POL_POLICY_PROCESS PPP
		ON PCL.CUSTOMER_ID = PPP.CUSTOMER_ID
		AND PCL.POLICY_ID = PPP.POLICY_ID
		AND PCL.POLICY_VERSION_ID = PPP.NEW_POLICY_VERSION_ID
	LEFT JOIN POL_AUTO_GEN_INFO PGI
		ON PV.CUSTOMER_ID = PGI.CUSTOMER_ID
		AND PV.POLICY_ID = PGI.POLICY_ID
		AND PV.POLICY_VERSION_ID = PGI.POLICY_VERSION_ID
	LEFT JOIN POL_DRIVER_DETAILS PDD
		ON PV.CUSTOMER_ID = PDD.CUSTOMER_ID
		AND PV.POLICY_ID = PDD.POLICY_ID
		AND PV.POLICY_VERSION_ID = PDD.POLICY_VERSION_ID
	LEFT JOIN POL_MVR_INFORMATION PMI
		ON PV.CUSTOMER_ID = PMI.CUSTOMER_ID
		AND PV.POLICY_ID = PMI.POLICY_ID
		AND PV.POLICY_VERSION_ID = PMI.POLICY_VERSION_ID
		AND PMI.DRIVER_ID = PDD.DRIVER_ID 
	LEFT JOIN ACT_PREMIUM_PROCESS_SUB_DETAILS APSD
		ON PV.CUSTOMER_ID = APSD.CUSTOMER_ID
		AND PV.POLICY_ID = APSD.POLICY_ID
		AND PV.POLICY_VERSION_ID = APSD.POLICY_VERSION_ID
		AND PV.VEHICLE_ID = APSD.RISK_ID
	LEFT JOIN POL_DRIVER_ASSIGNED_VEHICLE PDV
		ON PDD.CUSTOMER_ID = PDV.CUSTOMER_ID
		AND PDD.POLICY_ID = PDV.POLICY_ID
		AND PDD.POLICY_VERSION_ID = PDV.POLICY_VERSION_ID
		AND PDD.DRIVER_ID = PDV.DRIVER_ID
		AND PDV.VEHICLE_ID = PV.VEHICLE_ID 
	LEFT JOIN TEMP T
		ON PDV.APP_VEHICLE_PRIN_OCC_ID = T.APP_VEHICLE_PRIN_OCC_ID
	LEFT JOIN APP_PRIOR_LOSS_INFO APL
		ON PV.CUSTOMER_ID = APL.CUSTOMER_ID
	INNER JOIN MNT_COUNTRY_STATE_LIST SL
		ON PCL.STATE_ID = SL.STATE_ID
	INNER JOIN MNT_LOOKUP_VALUES MLV
		ON PV.APP_VEHICLE_PERCLASS_ID = MLV.LOOKUP_UNIQUE_ID
	LEFT JOIN TEMP_MOT_TYPE TMT
		ON PV.MOTORCYCLE_TYPE = TMT.MOTORCYCLE_TYPE
	LEFT JOIN TEMP_VEH_USE TVU
		ON PV.VEHICLE_USE = TVU.VEHICLE_USE
	LEFT JOIN TEMP_DRV_OCC TD
		ON PDD.DRIVER_OCC_CLASS = TD.DRIVER_OCC_CLASS
	WHERE PDV.APP_VEHICLE_PRIN_OCC_ID <> 11931 
	-- AND PCL.STATE_ID = 14 
	AND PCL.POLICY_STATUS = 'NORMAL' AND 
	PCL.POLICY_VERSION_ID >= 
		( 
			SELECT MIN(PPPIN.NEW_POLICY_VERSION_ID) FROM POL_POLICY_PROCESS PPPIN
			WHERE PPPIN.CUSTOMER_ID = PCL.CUSTOMER_ID 
			AND PPPIN.POLICY_ID		= PCL.POLICY_ID 
			AND PROCESS_ID	IN (25,18)  
			AND PROCESS_STATUS		='COMPLETE'-- MIN OF NBS OR RENEWAL
			AND ISNULL(REVERT_BACK,'N') = 'N'
		) 
	--AND PCL.POLICY_NUMBER = 'A7002124'
	--Exclude NOt Rated Driver 
		
)

SELECT * FROM VEH_DETAILS 


--GO
--SELECT * FROM VW_AUTO_MOT_DETAILS 
--WHERE POLICY_NUMBER ='A7001989'--'A7002124'
--ORDER BY POLICY_NUMBER, INSURED_VEH_NUMBER
--ROLLBACK TRAN






GO

