IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_CLM371_REPORT]'))
DROP VIEW [dbo].[VW_CLM371_REPORT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- DROP VIEW VW_CLM371_REPORT
CREATE VIEW VW_CLM371_REPORT
AS
SELECT CCI.CLAIM_ID,CCI.CLAIM_NUMBER,'Rental' AS LOB,ISNULL(SL.STATE_NAME,'') STATE,VW.POLICY_NUMBER,
CONVERT(VARCHAR(30),ISNULL(CCI.LOSS_DATE,''),101) LOSS_DATE,
CONVERT(VARCHAR(30),ISNULL(CCI.CREATED_DATETIME,''),101) AS REPORT_DATE,YEAR(CCI.LOSS_DATE)LOSS_YEAR, YEAR(CCI.CREATED_DATETIME)REPORT_YEAR,
CASE WHEN (LOSS_TYPE + ',' LIKE '%32,%') OR (LOSS_TYPE + ',' LIKE '%37,%')  
	THEN 'Fire'  
	WHEN (LOSS_TYPE + ',' LIKE '%51,%') OR (LOSS_TYPE + ',' LIKE '%52,%')OR (LOSS_TYPE + ',' LIKE '%53,%') OR (LOSS_TYPE + ',' LIKE '%55,%')                          
	THEN 'Liability'  
	ELSE 'EC'  
END AS COVERAGE,
CASE WHEN TMP.ACTION_ON_PAYMENT IN (180,181,188,240) THEN 
			SUM(
					CASE WHEN TMP.FACTOR IS NOT NULL THEN TMP.FACTOR * ISNULL(VW.AMOUNT,0)
					ELSE ISNULL(VW.AMOUNT,0) END
			   )
END AS 'Loss Payments',
CASE WHEN TMP.ACTION_ON_PAYMENT IN (173,174,175,203,204,207,241,254,255)THEN 
			SUM(
					CASE WHEN TMP.FACTOR IS NOT NULL THEN TMP.FACTOR * ISNULL(VW.AMOUNT,0)
					ELSE ISNULL(VW.AMOUNT,0) END
			   )
END AS 'L.A.E',
CASE WHEN TMP.ACTION_ON_PAYMENT IN (176,244,245,189,177,190,242,243) THEN
			SUM(
					CASE WHEN TMP.FACTOR IS NOT NULL THEN TMP.FACTOR * ISNULL(VW.AMOUNT,0)
					ELSE ISNULL(VW.AMOUNT,0) END
			   )
END AS  'Salvage/Subrogation'
FROM CLM_CLAIM_INFO CCI
LEFT JOIN CLM_OCCURRENCE_DETAIL COD
	ON CCI.CLAIM_ID = COD.CLAIM_ID
LEFT JOIN VW_CLAIM_TRANSACTION_DETAIL VW
	ON CCI.CUSTOMER_ID = VW.CUSTOMER_ID
	AND CCI.POLICY_ID = VW.POLICY_ID
	AND CCI.POLICY_VERSION_ID = VW.POLICY_VERSION_ID
	AND CCI.CLAIM_ID = VW.CLAIM_ID
LEFT JOIN CLM_CLAIM_TRANCACTIONS TMP ON TMP.ACTION_ON_PAYMENT = VW.ACTION_ON_PAYMENT 
LEFT JOIN MNT_COUNTRY_STATE_LIST SL
	ON CCI.STATE = SL.STATE_ID
WHERE CCI.LOB_ID = 6
GROUP BY CCI.CLAIM_ID,CCI.CLAIM_ID,CCI.CLAIM_NUMBER,CCI.LOSS_DATE,CCI.CREATED_DATETIME,LOSS_TYPE,SL.STATE_NAME,VW.POLICY_NUMBER,TMP.FACTOR,VW.AMOUNT,
TMP.ACTION_ON_PAYMENT,TMP.ACTIVITY_DESC

UNION ALL

SELECT CCI.CLAIM_ID,CCI.CLAIM_NUMBER,CASE CCI.LOB_ID WHEN 1 THEN 'Home' WHEN 2 THEN 'Automobile' WHEN 3 THEN 'Cycle' WHEN 4 THEN 'Boat' WHEN 5 THEN 'Umbrella' END AS LOB,
ISNULL(SL.STATE_NAME,'') STATE,VW.POLICY_NUMBER,CONVERT(VARCHAR(30),ISNULL(CCI.LOSS_DATE,''),101) LOSS_DATE,
CONVERT(VARCHAR(30),ISNULL(CCI.CREATED_DATETIME,''),101) AS REPORT_DATE,YEAR(CCI.LOSS_DATE)LOSS_YEAR, YEAR(CCI.CREATED_DATETIME)REPORT_YEAR,
MLV.LOOKUP_VALUE_DESC AS COVERAGE,
CASE WHEN  TMP.ACTION_ON_PAYMENT IN (180,181,188,240) THEN 
			SUM(
				  CASE WHEN TMP.FACTOR IS NOT NULL THEN TMP.FACTOR * VW.AMOUNT                
				  ELSE  VW.AMOUNT END
			   ) 
END AS 'Loss Payments',
CASE WHEN  TMP.ACTION_ON_PAYMENT IN (173,174,175,203,204,207,241,254,255) THEN 
			SUM(
				  CASE WHEN TMP.FACTOR IS NOT NULL THEN TMP.FACTOR * VW.AMOUNT                
				  ELSE  VW.AMOUNT END
			   ) 
END AS 'L.A.E',
CASE WHEN TMP.ACTION_ON_PAYMENT IN (176,244,245,189,177,190,242,243) THEN 
			SUM(
				  CASE WHEN TMP.FACTOR IS NOT NULL THEN TMP.FACTOR * VW.AMOUNT                
				  ELSE  VW.AMOUNT END
				)
END AS 'Salvage/Subrogation'
FROM CLM_CLAIM_INFO CCI
LEFT JOIN VW_CLAIM_TRANSACTION_DETAIL VW
	ON CCI.CUSTOMER_ID = VW.CUSTOMER_ID
	AND CCI.POLICY_ID = VW.POLICY_ID
	AND CCI.POLICY_VERSION_ID = VW.POLICY_VERSION_ID
	AND CCI.CLAIM_ID = VW.CLAIM_ID
LEFT JOIN CLM_CLAIM_TRANCACTIONS TMP ON TMP.ACTION_ON_PAYMENT = VW.ACTION_ON_PAYMENT 
LEFT JOIN 
(
	SELECT COV_ID,STATE_ID,LOB_ID,ASLOB FROM MNT_COVERAGE
	UNION
	SELECT COV_ID,STATE_ID,LOB_ID,ASLOB FROM MNT_COVERAGE_EXTRA
) MC
	ON VW.COVERAGE_ID = MC.COV_ID
LEFT JOIN MNT_COUNTRY_STATE_LIST SL
	ON CCI.STATE = SL.STATE_ID
INNER JOIN MNT_LOOKUP_VALUES MLV
	ON MC.ASLOB = MLV.LOOKUP_UNIQUE_ID               
WHERE CCI.LOB_ID <> 6
GROUP BY CCI.CLAIM_ID,CCI.CLAIM_NUMBER,CCI.LOB_ID,CCI.LOSS_DATE,CCI.CREATED_DATETIME,SL.STATE_NAME,VW.POLICY_NUMBER,TMP.ACTION_ON_PAYMENT,TMP.ACTIVITY_DESC,
MLV.LOOKUP_VALUE_DESC



GO

