IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_GenerateReportCLM423]'))
DROP VIEW [dbo].[VW_GenerateReportCLM423]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--DROP VIEW VW_GenerateReportCLM423
CREATE VIEW [dbo].[VW_GenerateReportCLM423]  
AS  
SELECT CAR.CLAIM_ID,CCI.CLAIM_NUMBER,    
ISNULL(CCL.Customer_First_name,' ') +' '+ ISNULL(CCL.Customer_Middle_name,' ') +' '+ ISNULL(CCL.Customer_Last_name,' ') As INSURED,    
VBER.END_RESERVE AS AMOUNT, VBER.END_RESERVE_REINSURANCE AS REINSURANCE,MRC.REIN_COMAPANY_NAME AS CARRIER,    
CASE WHEN ISNULL(MCCA_ATTACHMENT_POINT,0) <> 0 THEN 'YES' ELSE '' END AS MCCA, CAR.REINSURANCE_CARRIER    
FROM VW_BEGINING_ENDING_RESERVE VBER    
INNER JOIN CLM_CLAIM_INFO CCI ON CCI.CLAIM_ID = VBER.CLAIM_ID    
INNER JOIN CLT_CUSTOMER_LIST CCL ON CCL.CUSTOMER_ID = CCI.CUSTOMER_ID    
INNER JOIN     
(    
SELECT CLAIM_ID,MCCA_ATTACHMENT_POINT, REINSURANCE_CARRIER    
FROM CLM_ACTIVITY_RESERVE GROUP BY CLAIM_ID,MCCA_ATTACHMENT_POINT,REINSURANCE_CARRIER     
) CAR     
ON CAR.CLAIM_ID = VBER.CLAIM_ID    
--LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV ON MLV.LOOKUP_UNIQUE_ID = CAR.REINSURANCE_CARRIER    
LEFT OUTER JOIN MNT_REIN_COMAPANY_LIST MRC ON MRC.REIN_COMAPANY_ID = CAR.REINSURANCE_CARRIER 
WHERE MONTH_NUMBER = DATEPART(MONTH,GETDATE()) AND YEAR_NUMBER = DATEPART(YEAR,GETDATE())     
--WHERE MONTH_NUMBER = 2 AND YEAR_NUMBER = 2009    
AND CCI.CLAIM_STATUS = 11739    
--ORDER BY CLAIM_NUMBER

GO

