IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[APP_LIST]'))
DROP VIEW [dbo].[APP_LIST]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*
Object		:View APP_LIST
Created by	:Pravesh K Chandel
Date		:18 May 2010
Purpose		:Droped APP_LIST Table and use View on Policy Table
*/
CREATE VIEW [dbo].[APP_LIST]
as
select 
CUSTOMER_ID,
APP_ID,
APP_VERSION_ID,
PARENT_APP_VERSION_ID,
APP_STATUS,
APP_NUMBER,
APP_VERSION,
APP_TERMS,
APP_INCEPTION_DATE,
APP_EFFECTIVE_DATE,
APP_EXPIRATION_DATE,
POLICY_LOB as APP_LOB,
POLICY_SUBLOB as APP_SUBLOB,
CSR,
UNDERWRITER,
IS_UNDER_REVIEW,
AGENCY_ID as APP_AGENCY_ID,
IS_ACTIVE,
CREATED_BY,
CREATED_DATETIME,
MODIFIED_BY,
LAST_UPDATED_DATETIME,
COUNTRY_ID,
STATE_ID,
DIV_ID,
DEPT_ID,
PC_ID,
BILL_TYPE,
COMPLETE_APP,
INSTALL_PLAN_ID,
CHARGE_OFF_PRMIUM,
RECEIVED_PRMIUM,
PROXY_SIGN_OBTAINED,
POLICY_TYPE,
APP_VERIFICATION_XML,
SHOW_QUOTE,
YEAR_AT_CURR_RESI,
YEARS_AT_PREV_ADD,
RULE_INPUT_XML,
PROPRTY_INSP_CREDIT,
PIC_OF_LOC,
BILL_TYPE_ID,
IS_HOME_EMP,
APPLY_INSURANCE_SCORE,
DWELLING_ID,
ADD_INT_ID,
PRODUCER,
DOWN_PAY_MODE,
null as DELETE_FLAG,
SHOW_QUOTE as RULE_VERIFICATION,
CUSTOMER_REASON_CODE,
CUSTOMER_REASON_CODE2,
CUSTOMER_REASON_CODE3,
CUSTOMER_REASON_CODE4

from POL_CUSTOMER_POLICY_LIST with(nolock)


GO

