IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_DAILY_LOSS_SUMMARY_REPORT]'))
DROP VIEW [dbo].[VW_DAILY_LOSS_SUMMARY_REPORT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

----DROP VIEW VW_DAILY_LOSS_SUMMARY_REPORT
CREATE VIEW VW_DAILY_LOSS_SUMMARY_REPORT
AS
WITH LOSS_SUMMARY AS
(
	select CAR.CLAIM_ID,
	(
		SELECT ISNULL(SUM(OUTSTANDING),0) 
		FROM CLM_ACTIVITY_RESERVE CR    
		INNER JOIN CLM_ACTIVITY C 
		ON C.CLAIM_ID=CR.CLAIM_ID 
		AND CASE CR.ACTIVITY_ID WHEN 0 THEN 1 ELSE CR.ACTIVITY_ID END  = C.ACTIVITY_ID
		AND (C.ACTIVITY_STATUS=11801 OR C.ACTIVITY_STATUS=11986)    
		WHERE CR.CLAIM_ID=CAR.CLAIM_ID
		AND MONTH(COMPLETED_DATE) = CASE WHEN MONTH(GETDATE())=1 THEN 12 ELSE MONTH(GETDATE())-1 END
		AND YEAR(COMPLETED_DATE) = CASE WHEN MONTH(GETDATE())= 1 THEN YEAR(GETDATE())-1 ELSE YEAR(GETDATE())END
		AND C.ACTIVITY_ID=    
			(
				SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY 
				WHERE CLAIM_ID=C.CLAIM_ID AND ACTIVITY_STATUS=C.ACTIVITY_STATUS     
				AND MONTH(COMPLETED_DATE)=MONTH(C.COMPLETED_DATE) AND YEAR(COMPLETED_DATE)=YEAR(C.COMPLETED_DATE)  
				AND ACTION_ON_PAYMENT IN (165,166,167,168,205)      
			)
	) PRIOR_MONTH_END_GROSS,

	(
		SELECT ISNULL(SUM(OUTSTANDING),0) 
		FROM CLM_ACTIVITY_RESERVE CR    
		INNER JOIN CLM_ACTIVITY C 
		ON C.CLAIM_ID=CR.CLAIM_ID 
		AND CASE CR.ACTIVITY_ID WHEN 0 THEN 1 ELSE CR.ACTIVITY_ID END  = C.ACTIVITY_ID
		AND (C.ACTIVITY_STATUS=11801 OR C.ACTIVITY_STATUS=11986)    
		WHERE CR.CLAIM_ID=CAR.CLAIM_ID
		--AND COMPLETED_DATE = (GETDATE() - 1)
		AND MONTH(COMPLETED_DATE) = MONTH(GETDATE())
		AND YEAR(COMPLETED_DATE) =YEAR(GETDATE())
		AND DAY(COMPLETED_DATE) = DAY(DATEADD(D, -1, GETDATE()))
		AND C.ACTIVITY_ID=    
			(
				SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY 
				WHERE CLAIM_ID=C.CLAIM_ID AND ACTIVITY_STATUS=C.ACTIVITY_STATUS     
				AND MONTH(COMPLETED_DATE)=MONTH(C.COMPLETED_DATE) AND YEAR(COMPLETED_DATE)=YEAR(C.COMPLETED_DATE)  
				AND ACTION_ON_PAYMENT IN (165,166,167,168,205)      
			)
	) PREVIOUS_DAY_GROSS,

	(
		SELECT ISNULL(SUM(OUTSTANDING),0) 
		FROM CLM_ACTIVITY_RESERVE CR    
		INNER JOIN CLM_ACTIVITY C 
		ON C.CLAIM_ID=CR.CLAIM_ID 
		AND CASE CR.ACTIVITY_ID WHEN 0 THEN 1 ELSE CR.ACTIVITY_ID END  = C.ACTIVITY_ID
		AND (C.ACTIVITY_STATUS=11801 OR C.ACTIVITY_STATUS=11986)    
		WHERE CR.CLAIM_ID=CAR.CLAIM_ID AND
		MONTH(COMPLETED_DATE) = MONTH(GETDATE())
		AND YEAR(COMPLETED_DATE) =YEAR(GETDATE())
		AND DAY(COMPLETED_DATE) = DAY(GETDATE())
		AND C.ACTIVITY_ID=    
			(
				SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY 
				WHERE CLAIM_ID=C.CLAIM_ID AND ACTIVITY_STATUS=C.ACTIVITY_STATUS     
				AND MONTH(COMPLETED_DATE)=MONTH(C.COMPLETED_DATE) AND YEAR(COMPLETED_DATE)=YEAR(C.COMPLETED_DATE)  
				AND ACTION_ON_PAYMENT IN (165,166,167,168,205)      
			)
	) GROSS_CURRENT_RESERVE,

	

	(
		SELECT ISNULL(SUM(CR.RI_RESERVE),0) FROM CLM_ACTIVITY_RESERVE CR    
		INNER JOIN CLM_ACTIVITY C ON C.CLAIM_ID=CR.CLAIM_ID AND C.ACTIVITY_ID=CR.ACTIVITY_ID AND (C.ACTIVITY_STATUS=11801 OR C.ACTIVITY_STATUS=11986)    
		WHERE CR.CLAIM_ID=CAR.CLAIM_ID AND
--		AND COMPLETED_DATE = GETDATE()
		MONTH(COMPLETED_DATE) = MONTH(GETDATE())
		AND YEAR(COMPLETED_DATE) =YEAR(GETDATE())
		AND DAY(COMPLETED_DATE) = DAY(GETDATE())
		AND C.ACTIVITY_ID=		
		(
			SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY WHERE CLAIM_ID=C.CLAIM_ID AND ACTIVITY_STATUS=C.ACTIVITY_STATUS     
			AND MONTH(COMPLETED_DATE)=MONTH(C.COMPLETED_DATE) AND YEAR(COMPLETED_DATE)=YEAR(C.COMPLETED_DATE)    
			AND ACTION_ON_PAYMENT IN (169,171,170,172)     
		)    
	) REINSURANCE_RECOVERABLE,

	(
		SELECT ISNULL(SUM(CR.RI_RESERVE),0) FROM CLM_ACTIVITY_RESERVE CR    
		INNER JOIN CLM_ACTIVITY C ON C.CLAIM_ID=CR.CLAIM_ID AND C.ACTIVITY_ID=CR.ACTIVITY_ID AND (C.ACTIVITY_STATUS=11801 OR C.ACTIVITY_STATUS=11986)    
		WHERE CR.CLAIM_ID=CAR.CLAIM_ID AND
--		AND COMPLETED_DATE = GETDATE()
		MONTH(COMPLETED_DATE) = CASE WHEN MONTH(GETDATE())=1 THEN 12 ELSE MONTH(GETDATE())-1 END
		AND YEAR(COMPLETED_DATE) = CASE WHEN MONTH(GETDATE())= 1 THEN YEAR(GETDATE())-1 ELSE YEAR(GETDATE())END
		AND C.ACTIVITY_ID=		
		(
			SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY WHERE CLAIM_ID=C.CLAIM_ID AND ACTIVITY_STATUS=C.ACTIVITY_STATUS     
			AND MONTH(COMPLETED_DATE)=MONTH(C.COMPLETED_DATE) AND YEAR(COMPLETED_DATE)=YEAR(C.COMPLETED_DATE)    
			AND ACTION_ON_PAYMENT IN (169,171,170,172)     
		)    
	) PRIOR_MONTH_REINSURANCE_RECOVERABLE

	from CLM_ACTIVITY_RESERVE CAR    
	INNER JOIN CLM_ACTIVITY CA ON CA.CLAIM_ID=CAR.CLAIM_ID 
	AND CASE CAR.ACTIVITY_ID WHEN 0 THEN 1 ELSE CAR.ACTIVITY_ID END  = CA.ACTIVITY_ID
	AND (CA.ACTIVITY_STATUS=11801 OR CA.ACTIVITY_STATUS=11986)    
	WHERE COVERAGE_ID NOT IN (20007,20008,20009,20010,20011)--YEAR(COMPLETED_DATE)=YEAR(GETDATE())    
	group by CAR.claim_id--,YEAR(CA.COMPLETED_DATE),MONTH(CA.COMPLETED_DATE),COMPLETED_DATE  

),
--SELECT * FROM LOSS_SUMMARY

LOSS_SUMMARY_FINAL AS
(
	SELECT CLAIM_ID,SUM(PRIOR_MONTH_END_GROSS)AS PRIOR_MONTH_END_GROSS,SUM(PREVIOUS_DAY_GROSS)AS PREVIOUS_DAY_GROSS
	,SUM(GROSS_CURRENT_RESERVE)AS GROSS_CURRENT_RESERVE,SUM(REINSURANCE_RECOVERABLE)AS REINSURANCE_RECOVERABLE
	,SUM(PREVIOUS_DAY_GROSS - GROSS_CURRENT_RESERVE) AS TODAY_CHANGE
	,SUM(GROSS_CURRENT_RESERVE - REINSURANCE_RECOVERABLE)AS NET_CURRENT_RESERVE
	,SUM(PRIOR_MONTH_END_GROSS - PRIOR_MONTH_REINSURANCE_RECOVERABLE)AS PRIOR_MONTH_END_NET_RESERVE
	,SUM((GROSS_CURRENT_RESERVE - REINSURANCE_RECOVERABLE)-(PRIOR_MONTH_END_GROSS - PRIOR_MONTH_REINSURANCE_RECOVERABLE))AS MONTH_TO_DATE_CHANGE
	FROM LOSS_SUMMARY LS 
	GROUP BY CLAIM_ID
),

LOSS_PAYMENT AS
(
	SELECT CLAIM_ID,SUM(PAID_LOSS)AS PAID_LOSSES,SUM(SALVAGE_LESS)AS SALVAGE_LESS_REINSURANCE
	,SUM(REINS_RECOVERY)AS RECOVERY_LESS_REINSURANCE,SUM(REINS_RECOVERED)AS REINSURANCE_RECOVERED
	,SUM(PAID_LOSS - REINS_RECOVERED - SALVAGE_LESS - REINS_RECOVERY) AS NET_LOSSES
	FROM VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY
	GROUP BY CLAIM_ID
),

DRAFTS_DETAILS AS
(
	SELECT CHECK_TYPE,CUSTOMER_ID,POLICY_ID,POLICY_VER_TRACKING_ID,
	(
		SELECT SUM(ISNULL(AVAILABLE_BALANCE,0))AS OUTSTANDING_AMOUNT FROM ACT_CHECK_INFORMATION
		WHERE CHECK_TYPE = 9937 AND GL_UPDATE <> 2 AND IS_BNK_RECONCILED = 'Y'
	)OUTSTANDING_AMOUNT,


	(
		SELECT ISNULL(SUM(ISNULL(CHECK_AMOUNT,0)),0) AS PAID_TODAY FROM ACT_CHECK_INFORMATION
		WHERE CHECK_TYPE = 9937 AND GL_UPDATE <> 2 AND IS_BNK_RECONCILED = 'Y' AND BANK_RECONCILED_DATE = GETDATE()
	)PAID_TODAY,

	
	(
		SELECT ISNULL(SUM(ISNULL(CHECK_AMOUNT,0)),0)AS ISSUED_TODAY FROM ACT_CHECK_INFORMATION
		WHERE CHECK_TYPE = 9937 AND GL_UPDATE <> 2 AND IS_BNK_RECONCILED = 'Y' AND DATE_COMMITTED = GETDATE()
	) ISSUED_TODAY
	FROM ACT_CHECK_INFORMATION
	WHERE CHECK_TYPE = 9937 AND GL_UPDATE <> 2 AND IS_BNK_RECONCILED = 'Y'
	GROUP BY CHECK_TYPE,CUSTOMER_ID,POLICY_ID,POLICY_VER_TRACKING_ID
)

SELECT SUM(LS.PRIOR_MONTH_END_GROSS)AS PRIOR_MONTH_END_GROSS,SUM(LS.PREVIOUS_DAY_GROSS)AS PREVIOUS_DAY_GROSS
,SUM(LS.GROSS_CURRENT_RESERVE)AS GROSS_CURRENT_RESERVE, SUM(LS.REINSURANCE_RECOVERABLE)AS REINSURANCE_RECOVERABLE
,SUM(LS.TODAY_CHANGE)AS TODAY_CHANGE, SUM(LS.NET_CURRENT_RESERVE)AS NET_CURRENT_RESERVE
,SUM(LS.PRIOR_MONTH_END_NET_RESERVE)AS PRIOR_MONTH_END_NET_RESERVE, SUM(LS.MONTH_TO_DATE_CHANGE)AS MONTH_TO_DATE_CHANGE
,SUM(VP.PAID_LOSSES)AS PAID_LOSSES,SUM(VP.SALVAGE_LESS_REINSURANCE)AS SALVAGE_LESS_REINSURANCE
,SUM(VP.RECOVERY_LESS_REINSURANCE)AS RECOVERY_LESS_REINSURANCE, SUM(VP.REINSURANCE_RECOVERED)AS REINSURANCE_RECOVERED
,SUM(VP.NET_LOSSES)AS NET_LOSSES,DD.OUTSTANDING_AMOUNT,DD.PAID_TODAY,DD.ISSUED_TODAY
,(DD.OUTSTANDING_AMOUNT + DD.PAID_TODAY - DD.ISSUED_TODAY)AS PREVIOUS_DAY_BAL
FROM LOSS_SUMMARY_FINAL LS
INNER JOIN LOSS_PAYMENT VP
ON LS.CLAIM_ID = VP.CLAIM_ID
INNER JOIN CLM_CLAIM_INFO CCI
ON LS.CLAIM_ID = CCI.CLAIM_ID
INNER JOIN DRAFTS_DETAILS DD
ON CCI.CUSTOMER_ID = DD.CUSTOMER_ID
AND CCI.POLICY_ID = DD.POLICY_ID
AND CCI.POLICY_VERSION_ID = DD.POLICY_VER_TRACKING_ID
GROUP BY PAID_TODAY,DD.OUTSTANDING_AMOUNT,DD.ISSUED_TODAY

GO

