IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_CURRENT_PREVIOUS_ENFORCE_COUNT]'))
DROP VIEW [dbo].[VW_CURRENT_PREVIOUS_ENFORCE_COUNT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--drop VIEW VW_CURRENT_PREVIOUS_ENFORCE_COUNT
CREATE VIEW VW_CURRENT_PREVIOUS_ENFORCE_COUNT
AS
SELECT ACTA.STATE_ID,ACTA.AGENCY_ID,ACTA.LOB_ID,ACTA.YEAR_NUMBER,ACTA.MONTH_NUMBER,  
SUM(ACTA.INFORCE_TOTAL)  INFORCE_TOTAL,  
SUM(ACTA.NBS_COMMITTED)  NBS_COMMITTED,  
SUM(ACTA.NBS_CANCEL)  NBS_CANCEL,  
SUM(ACTA.RENEWAL_COMMITTED)  RENEWAL_COMMITTED,  
SUM(ACTA.RENEWAL_CANCEL)  RENEWAL_CANCEL,  
  
SUM(ACTA.INFORCE_TOTAL)  INFORCE_TOTAL_CURRENT,  
SUM(ACTA.NBS_EFFECTIVE)  NBS_EFFECTIVE_CURRENT,  

--SUM(ACTA.NBS_EFFECTIVE_CANCEL)  NBS_EFFECTIVE_CANCEL_CURRENT,  Modified on 29 jan 09 by Pravesh
SUM(ACTA.NBS_CANCEL) - SUM(ACTA.NBS_REINSTATE)  NBS_EFFECTIVE_CANCEL_CURRENT,  
SUM(ACTA.RENEWAL_EFFECTIVE)  RENEWAL_EFFECTIVE_CURRENT,  

--SUM(ACTA.RENEWAL_EFFECTIVE_CANCEL)  RENEWAL_EFFECTIVE_CANCEL_CURRENT,   Modified on 29 jan 09 by Pravesh
SUM(ACTA.RENEWAL_CANCEL) -SUM(ACTA.RENEWAL_REINSTATE) RENEWAL_EFFECTIVE_CANCEL_CURRENT,  

SUM(ACTA.TOTAL_EXPIRED)  TOTAL_EXPIRED_CURRENT,  
SUM(ACTA.NON_RENEWAL_EFFECTIVE)  NON_RENEWAL_EFFECTIVE,  

  
SUM(isnull(ACTB.INFORCE_TOTAL,0))  INFORCE_TOTAL_PREVIOUS,  
SUM(isnull(ACTB.NBS_EFFECTIVE,0))  NBS_EFFECTIVE_PREVIOUS  
  
  
FROM ACT_AGENCY_LOB_PREMIUM   ACTA WITH(NOLOCK)
LEFT OUTER JOIN ACT_AGENCY_LOB_PREMIUM ACTB WITH(NOLOCK) ON
 	ACTB.AGENCY_ID		=ACTA.AGENCY_ID
AND ACTB.STATE_ID		=ACTA.STATE_ID
AND ACTB.LOB_ID			=ACTA.LOB_ID
AND ACTB.POLICY_TYPE	=ACTA.POLICY_TYPE
AND ACTB.MONTH_NUMBER	=ACTA.MONTH_NUMBER
AND ACTB.YEAR_NUMBER	=ACTA.YEAR_NUMBER-1
GROUP BY ACTA.STATE_ID,ACTA.AGENCY_ID,ACTA.LOB_ID,ACTA.YEAR_NUMBER,ACTA.MONTH_NUMBER  










GO

