IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VIW_ENDORSEMENT_LOG_DETAILS]'))
DROP VIEW [dbo].[VIW_ENDORSEMENT_LOG_DETAILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--drop  VIEW  VIW_ENDORSEMENT_LOG_DETAILS                   
CREATE VIEW  [dbo].[VIW_ENDORSEMENT_LOG_DETAILS]                  
AS                     
    
SELECT                   
D.ENDORSEMENT_NO,'<B>'+ dbo.fun_GetMessage(342,U.LANG_ID)+':</B> '             
+ ISNULL(CONVERT(VARCHAR(50),POL.EFFECTIVE_DATETIME, CASE WHEN U.LANG_ID = 2 THEN 103 ELSE 101 END) ,'')             
+ '<BR>' + '<B>'+ dbo.fun_GetMessage(343,U.LANG_ID)+':</B> ' + ISNULL(POL.COMMENTS, '')            
+ '<BR>' +  '<B>'+ dbo.fun_GetMessage(344,U.LANG_ID)+':</B> '             
+ CASE D.ENDORSEMENT_STATUS WHEN 'COM' THEN dbo.fun_GetMessage(345,U.LANG_ID) WHEN 'CAN' THEN dbo.fun_GetMessage(346,U.LANG_ID) ELSE dbo.fun_GetMessage(347,U.LANG_ID) END        
--+ '<BR>' + '<B>POLICY VER:</B> ' + ISNULL(CONVERT(VARCHAR(50),POL.NEW_POLICY_VERSION_ID)+ '.0', '')       
+ '<BR>' + '<B>'+ dbo.fun_GetMessage(348,U.LANG_ID)+':</B> ' + ISNULL(PCPL.POLICY_NUMBER, '')        
+ '<BR>' + '<B>'+ dbo.fun_GetMessage(349,U.LANG_ID)+':</B> ' + ISNULL(PCPL.POLICY_DISP_VERSION, '')        
+ '<BR>' + '<B>'+ dbo.fun_GetMessage(350,U.LANG_ID)+':</B> '             
+ ISNULL(CONVERT(VARCHAR(50),D.LAST_UPDATED_DATETIME, CASE WHEN U.LANG_ID = 2 THEN 103 ELSE 101 END ),'')    
+ '<BR>' + '<B>'+ dbo.fun_GetMessage(351,U.LANG_ID)+':</B> ' + CONVERT(varchar,D.ENDORSEMENT_NO)  DETAILS,         
--+ '<BR>' + '<B>POLICY VER:</B> ' + ISNULL(CONVERT(VARCHAR(50),d.POLICY_VERSION_ID)+ '.0', '')  DETAILS,         

ISNULL(MLV_MULTI.LOOKUP_VALUE_DESC,MLV.LOOKUP_VALUE_DESC) AS ENDORSEMENT_TYPE,
E.ENDORSEMENT_DESC
,E.REMARKS,            
ISNULL(U.USER_TITLE,'') + ' ' + ISNULL(U.USER_FNAME,'') + ' ' + ISNULL(U.USER_LNAME,'') AS CREATED_BY,            
D.CREATED_DATETIME,E.TRANS_ID TRANS_ID,E.ENDORSEMENT_DETAIL_ID,D.CUSTOMER_ID AS CUSTOMER_ID,D.POLICY_ID AS POLICY_ID              
      
      
FROM     POL_POLICY_ENDORSEMENTS D       
LEFT OUTER JOIN  POL_POLICY_ENDORSEMENTS_DETAILS E       
ON   D.CUSTOMER_ID = E.CUSTOMER_ID       
AND  D.POLICY_ID = E.POLICY_ID       
AND   D.POLICY_VERSION_ID = E.POLICY_VERSION_ID       
AND  D.ENDORSEMENT_NO = E.ENDORSEMENT_NO         
LEFT JOIN  POL_CUSTOMER_POLICY_LIST PCPL ON D.CUSTOMER_ID = PCPL.CUSTOMER_ID       
AND  D.POLICY_ID = PCPL.POLICY_ID     
AND D.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID       
LEFT OUTER JOIN MNT_USER_LIST U ON D.CREATED_BY = U.USER_ID       
--LEFT OUTER JOIN  MNT_LOOKUP_VALUES ON MNT_LOOKUP_VALUES.LOOKUP_UNIQUE_ID = E.ENDORSEMENT_TYPE         
INNER JOIN  CLT_CUSTOMER_LIST CCL ON D.CUSTOMER_ID = CCL.CUSTOMER_ID          
INNER JOIN POL_POLICY_PROCESS POL     ON D.CUSTOMER_ID = POL.CUSTOMER_ID           
AND D.POLICY_ID = POL.POLICY_ID             
AND POL.CREATED_DATETIME=          
(SELECT TOP 1 POL1.CREATED_DATETIME FROM POL_POLICY_PROCESS POL1           
 WHERE D.CUSTOMER_ID = POL1.CUSTOMER_ID             
 AND D.POLICY_ID = POL1.POLICY_ID           
 AND POL1.CREATED_DATETIME < D.CREATED_DATETIME           
ORDER BY POL1.CREATED_DATETIME DESC      
)        
LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV 
ON E.ENDORSEMENT_TYPE = MLV.LOOKUP_UNIQUE_ID       
LEFT OUTER JOIN MNT_LOOKUP_VALUES_MULTILINGUAL MLV_MULTI
ON MLV_MULTI.LOOKUP_UNIQUE_ID = E.ENDORSEMENT_TYPE
AND MLV_MULTI.LANG_ID = U.LANG_ID
    
--WHERE E.ENDORSEMENT_NO = D.ENDORSEMENT_NO         
--AND E.POLICY_ID = D.POLICY_ID         
--AND E.POLICY_VERSION_ID = D.POLICY_VERSION_ID         
--AND E.CUSTOMER_ID = D.CUSTOMER_ID         
--AND E.CREATED_BY = U.USER_ID         
--AND E.ENDORSEMENT_DATE IS NOT NULL AND E.IS_ACTIVE = 'Y' 
GO

