IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_PAID_LOSS_INCURRED_BY_COVERAGE]'))
DROP VIEW [dbo].[VW_PAID_LOSS_INCURRED_BY_COVERAGE]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN
--DROP VIEW VW_PAID_LOSS_INCURRED_BY_COVERAGE
--GO                                                          
/*------------------------------------------------------------                                                                            
Date     Review By          Comments         
29/09/09 Shikha Dixit		Added Action_on_Payment for itrack #6428 for calculation of Paid Loss
							189 - Salvage (Check Received)
							190 - Subrogation (Check Received)
------   ------------       -------------------------*/                                                                            
--DROP VIEW VW_PAID_LOSS_INCURRED_BY_COVERAGE


CREATE VIEW [dbo].[VW_PAID_LOSS_INCURRED_BY_COVERAGE]     
AS      
WITH     
PAID_LOSS AS      
(      
	SELECT VWCLM.STATE_ID,VWCLM.AGENCY_ID,VWCLM.CLAIM_ID,VWCLM.COVERAGE_ID,VWCLM.LOB_ID,ACTV_YEAR,
	ACTV_MONTH, DATEPART(YEAR,CCI.LOSS_DATE) AS INCURRED_YEAR,      
	ISNULL(SUM(CASE WHEN ACTION_ON_PAYMENT IN (180,181,176,177) THEN ISNULL(AMOUNT,0) ELSE 0 END),0) -      
	ISNULL(SUM(CASE WHEN ACTION_ON_PAYMENT IN (63,64,70,188,189,190,240,242,243,244,245) THEN ISNULL(AMOUNT,0) ELSE 0 END),0)  AS LOSS_PAID      
	FROM VW_CLAIM_TRANSACTION_DETAIL VWCLM WITH(NOLOCK)     
	INNER JOIN CLM_CLAIM_INFO CCI WITH(NOLOCK) ON VWCLM.CLAIM_ID = CCI.CLAIM_ID       
	GROUP BY VWCLM.STATE_ID,VWCLM.AGENCY_ID,VWCLM.CLAIM_ID,VWCLM.COVERAGE_ID,VWCLM.LOB_ID,ACTV_YEAR,ACTV_MONTH,CCI.LOSS_DATE      
)      
,      
PAID_LOSS_INCURRED AS      
(      
SELECT PL.STATE_ID,PL.AGENCY_ID,PL.LOB_ID,BE.CLAIM_ID,PL.COVERAGE_ID,BE.POLICY_RISK_ID,PL.INCURRED_YEAR,BE.YEAR_NUMBER ,BE.MONTH_NUMBER,
BEGIN_RESERVE, END_RESERVE, BEGIN_RESERVE_REINSURANCE,END_RESERVE_REINSURANCE ,
(ISNULL(END_RESERVE,0) + ISNULL(PL.LOSS_PAID ,0))- ISNULL(BEGIN_RESERVE,0) AS LOSSES_INCURRED,      
 PL.LOSS_PAID      
FROM VW_BEGINING_ENDING_RESERVE_BY_COVERAGE BE  WITH(NOLOCK)      
INNER JOIN PAID_LOSS PL WITH(NOLOCK) ON PL.STATE_ID=BE.STATE_ID AND PL.AGENCY_ID=BE.AGENCY_ID  
AND BE.CLAIM_ID=PL.CLAIM_ID   AND BE.COVERAGE_ID = PL.COVERAGE_ID
AND PL.LOB_ID=BE.LOB_ID AND PL.ACTV_YEAR=BE.YEAR_NUMBER AND PL.ACTV_MONTH=BE.MONTH_NUMBER      
)      
    
SELECT * FROM PAID_LOSS_INCURRED WITH(NOLOCK)
WHERE 
(
ABS(LOSSES_INCURRED) <> 0 or 
abs(ISNULL(LOSS_PAID ,0)) <> 0 or
abs(ISNULL(BEGIN_RESERVE ,0)) <> 0 or
abs(ISNULL(END_RESERVE ,0)) <> 0
)

--ROLLBACK TRAN




GO

