IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vw_print]'))
DROP VIEW [dbo].[vw_print]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--drop view vw_print
CREATE view [vw_print]
  (
    RANK,
    ENT_TYPE,
    URL_PATH,
    CUSTOMER_ID,
    DOCUMENT_CODE,
    PRINT_DATETIME,
    FILE_NAME,
    PRINT_JOBS_ID,
    NUM_AGENCY_CODE,
    ONDEMAND_FLAG,
    AGENCY_PRINT,
    ADD_INT,
	POLICY_NUMBER
  )
AS
  SELECT
    CASE WHEN PPP.PROCESS_ID IS NOT NULL
         THEN CASE WHEN PPP.PROCESS_ID IN ( 12, 13, 2 ) THEN 6
                   WHEN PPP.PROCESS_ID = 25 THEN 1
                   WHEN PPP.PROCESS_ID = 32 THEN 2
                   WHEN PPP.PROCESS_ID = 16 THEN 3
                   WHEN PPP.PROCESS_ID = 18 THEN 4
                   WHEN PPP.PROCESS_ID = 14 THEN 5
                   ELSE 7
              END
         WHEN PPP.PROCESS_ID IS NULL
         THEN CASE WHEN PJ.PROCESS_ID IN ( 12, 13, 2 ) THEN 6
                   WHEN PJ.PROCESS_ID = 25 THEN 1
                   WHEN PJ.PROCESS_ID = 32 THEN 2
                   WHEN PJ.PROCESS_ID = 16 THEN 3
                   WHEN PJ.PROCESS_ID = 18 THEN 4
                   WHEN PJ.PROCESS_ID = 14 THEN 5
                   ELSE 7
              END
    END AS RANK,
    CASE WHEN UPPER(ENTITY_TYPE) = 'CUSTOMER' THEN 1
         WHEN UPPER(ENTITY_TYPE) = 'AUTO_ID_CA' THEN 2
         WHEN UPPER(ENTITY_TYPE) = 'AGENCY' THEN 3
         WHEN UPPER(ENTITY_TYPE) = 'ADDL_INT' THEN 4
         WHEN UPPER(ENTITY_TYPE) = 'PREM_NOTIC' THEN 5
         WHEN UPPER(ENTITY_TYPE) = 'CERT_MAIL' THEN 6
    END AS ENT_TYPE,
    URL_PATH,
    PJ.CUSTOMER_ID,
    DOCUMENT_CODE,
    CONVERT(VARCHAR, PRINT_DATETIME, 101) PRINT_DATETIME,
    FILE_NAME,
    PRINT_JOBS_ID,
    NUM_AGENCY_CODE,
    ONDEMAND_FLAG,
    AGENCY_PRINT,
    ADD_INT, case when upper(ppp.process_status) = 'ROLLBACK'
         then ( SELECT
                  POLICY_NUMBER
                FROM
                  POL_CUSTOMER_POLICY_LIST PCPL
                WHERE
                  PCPL.CUSTOMER_ID = ppp.CUSTOMER_ID
                  AND PCPL.POLICY_ID = ppp.POLICY_ID
                  and pcpl.policy_version_id = ppp.POLICY_VERSION_ID
              )
         else ( SELECT
                  POLICY_NUMBER
                FROM
                  POL_CUSTOMER_POLICY_LIST PCPL
                WHERE
                  PCPL.CUSTOMER_ID = ppp.CUSTOMER_ID
                  AND PCPL.POLICY_ID = ppp.POLICY_ID
                  and pcpl.policy_version_id = ppp.new_POLICY_VERSION_ID
              )
    end as POLICY_NUMBER
  from
    PRINT_JOBS PJ
    LEFT OUTER JOIN POL_POLICY_PROCESS PPP
      ON PJ.CUSTOMER_ID = PPP.CUSTOMER_ID
         AND PJ.POLICY_ID = PPP.POLICY_ID
         AND PJ.POLICY_VERSION_ID = PPP.NEW_POLICY_VERSION_ID
         and PJ.PROCESS_ID = PPP.ROW_ID
    inner join clt_CUSTOMER_LIST PCPL
      ON pj.CUSTOMER_ID = pcpl.CUSTOMER_ID
    INNER JOIN MNT_AGENCY_LIST MAL
      ON MAL.AGENCY_ID = PCPL.CUSTOMER_AGENCY_ID
  WHERE
    ISNULL(PRINT_SUCCESSFUL, 'N') != 'Y'
    AND ( LEN(LTRIM(RTRIM(FILE_NAME))) > 0 )
    AND PJ.PROCESS_ID IS NOT NULL
    AND NUM_AGENCY_CODE IS NOT NULL
    and CAST(CONVERT(VARCHAR, pj.created_datetime, 101) AS DATETIME) > '04/08/2008'
    and document_code not in ( 'PREM' )

--union
--
--select 
--CASE 
--WHEN PJ.PROCESS_ID =25 THEN 1 
--WHEN PJ.PROCESS_ID =32 THEN 2 
--WHEN PJ.PROCESS_ID =16 THEN 3 
--WHEN PJ.PROCESS_ID =18 THEN 4 
--WHEN PJ.PROCESS_ID =14 THEN 5 
--WHEN PJ.PROCESS_ID IN (12,13,2) THEN 6
--ELSE 7 END AS RANK,
--CASE 
--WHEN UPPER(ENTITY_TYPE) = 'CUSTOMER' THEN 1 
--WHEN UPPER(ENTITY_TYPE) = 'AGENCY' THEN 2 
--WHEN UPPER(ENTITY_TYPE) = 'ADDL_INT' THEN 3
--WHEN UPPER(ENTITY_TYPE) = 'AUTO_ID_CA' THEN 4 
--WHEN UPPER(ENTITY_TYPE) = 'PREM_NOTIC' THEN 5 
--WHEN UPPER(ENTITY_TYPE) = 'CERT_MAIL' THEN 6 
--END AS ENT_TYPE,
--URL_PATH,PJ.CUSTOMER_ID,DOCUMENT_CODE,CONVERT(VARCHAR,PRINT_DATETIME,101) PRINT_DATETIME,FILE_NAME,PRINT_JOBS_ID, NUM_AGENCY_CODE,ONDEMAND_FLAG  ,0 AGENCY_PRINT  ,0 ADD_INT
--from PRINT_JOBS PJ 
--inner join clt_CUSTOMER_LIST PCPL ON pj.CUSTOMER_ID=pcpl.CUSTOMER_ID 
--INNER JOIN MNT_AGENCY_LIST MAL ON MAL.AGENCY_ID=PCPL.CUSTOMER_AGENCY_ID  				
--WHERE ISNULL(PRINT_SUCCESSFUL,'N') != 'Y' AND (LEN(LTRIM(RTRIM(FILE_NAME)))>0)	AND PROCESS_ID IS NOT NULL AND NUM_AGENCY_CODE IS NOT NULL
--and CAST(CONVERT(VARCHAR,pj.created_datetime,101) AS DATETIME)<='04/08/2008'
--AND DOCUMENT_CODE NOT  IN ('PREM')
  union
  select
    CASE WHEN PJ.PROCESS_ID = 25 THEN 1
         WHEN PJ.PROCESS_ID = 32 THEN 2
         WHEN PJ.PROCESS_ID = 16 THEN 3
       WHEN PJ.PROCESS_ID = 18 THEN 4
         WHEN PJ.PROCESS_ID = 14 THEN 5
         WHEN PJ.PROCESS_ID IN ( 12, 13, 2 ) THEN 6
         ELSE 7
    END AS RANK,
    CASE WHEN UPPER(ENTITY_TYPE) = 'CUSTOMER' THEN 1
         WHEN UPPER(ENTITY_TYPE) = 'AUTO_ID_CA' THEN 2
         WHEN UPPER(ENTITY_TYPE) = 'AGENCY' THEN 3
         WHEN UPPER(ENTITY_TYPE) = 'ADDL_INT' THEN 4
         WHEN UPPER(ENTITY_TYPE) = 'PREM_NOTIC' THEN 5
         WHEN UPPER(ENTITY_TYPE) = 'CERT_MAIL' THEN 6
    END AS ENT_TYPE,
    URL_PATH,
    PJ.CUSTOMER_ID,
    DOCUMENT_CODE,
    CONVERT(VARCHAR, PRINT_DATETIME, 101) PRINT_DATETIME,
    FILE_NAME,
    PRINT_JOBS_ID,
    NUM_AGENCY_CODE,
    ONDEMAND_FLAG,
    0 AGENCY_PRINT,
    0 ADD_INT,( SELECT
        POLICY_NUMBER
      FROM
        POL_CUSTOMER_POLICY_LIST PCPL
      WHERE
        PCPL.CUSTOMER_ID = pj.CUSTOMER_ID
        AND PCPL.POLICY_ID = pj.POLICY_ID
        and pcpl.policy_version_id = pj.POLICY_VERSION_ID
    ) POLICY_NUMBER
  from
    PRINT_JOBS PJ
    inner join clt_CUSTOMER_LIST PCPL
      ON pj.CUSTOMER_ID = pcpl.CUSTOMER_ID
    INNER JOIN MNT_AGENCY_LIST MAL
      ON MAL.AGENCY_ID = PCPL.CUSTOMER_AGENCY_ID
  WHERE
    ISNULL(PRINT_SUCCESSFUL, 'N') != 'Y'
    AND ( LEN(LTRIM(RTRIM(FILE_NAME))) > 0 )
    AND PROCESS_ID IS NOT NULL
    AND NUM_AGENCY_CODE IS NOT NULL
    AND DOCUMENT_CODE IN ( 'PREM' )
--and CAST(CONVERT(VARCHAR,pj.created_datetime,101) AS DATETIME)<='04/08/2008'



GO

