IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_SUSEP_RCOMP_AND_RRURAL]'))
DROP VIEW [dbo].[VW_SUSEP_RCOMP_AND_RRURAL]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


SELECT           
--PCPL.*        
PCPL.CUSTOMER_ID,          
PCPL.POLICY_ID,          
PCPL.POLICY_VERSION_ID,        
PPP.COMPLETED_DATETIME,          
PL.LOCATION_ID,          
PPC.RISK_ID, -- JOIN WITH RISK ID          
PCPL.POLICY_LOB,
PPP.PROCESS_ID
,PPP.CANCELLATION_TYPE
,PPP.RETURN_PREMIUM ,          
'05045' AS 'SUSEP_INSURER_CODE',          
MPSPN.SUSEP_PROCESS_NO AS 'SUSEP_PROCESS_NUMBER',          
PCPL.POLICY_NUMBER,          
ISNULL(PPE.ENDORSEMENT_NO,'0000000000') AS ENDORSEMENT_NO,          
PPP.ENDORSEMENT_TYPE, -- NEED TO APPLY CASE          
PPC.COVERAGE_CODE_ID, ---- NEED TO APPLY CASE          
MCSL.STATE_CODE,          
--CASE WHEN PPP.PROCESS_ID IN(18,25) THEN PCPL.POLICY_EFFECTIVE_DATE        
--  WHEN PPP.PROCESS_ID IN(14,37,12) THEN PPP.EFFECTIVE_DATETIME        
--  ELSE  PPP.EFFECTIVE_DATETIME        
--  END AS  POLICY_EFFECTIVE_DATE,    
CASE WHEN PPP.PROCESS_ID IN(18,25) THEN PCPL.POLICY_EFFECTIVE_DATE      
  WHEN PPP.PROCESS_ID IN(14,37,12) THEN ISNULL(PPP.EFFECTIVE_DATETIME,ISNULL(PCPL.POL_VER_EFFECTIVE_DATE,PCPL.POLICY_EFFECTIVE_DATE))      
  ELSE  PPP.EFFECTIVE_DATETIME      
  END AS  POLICY_EFFECTIVE_DATE,        
          
--CASE WHEN PPP.PROCESS_ID IN( 18,25) THEN PCPL.POLICY_EXPIRATION_DATE         
-- WHEN PPP.PROCESS_ID IN (14,37,12) THEN PPP.[EXPIRY_DATE]        
-- ELSE PPP.[EXPIRY_DATE]        
-- END AS POLICY_EXPIRATION_DATE,    
CASE WHEN PPP.PROCESS_ID IN( 18,25) THEN PCPL.POLICY_EXPIRATION_DATE         
 WHEN PPP.PROCESS_ID IN (14,37,12) THEN ISNULL(PPP.[EXPIRY_DATE],ISNULL(PCPL.POL_VER_EXPIRATION_DATE,PCPL.POLICY_EXPIRATION_DATE))       
 ELSE PPP.[EXPIRY_DATE]        
 END AS POLICY_EXPIRATION_DATE,        
PPC.DEDUCTIBLE_1_TYPE,          
PPC.DEDUCTIBLE_1,      
PPC.MINIMUM_DEDUCTIBLE, 
PPC.DEDUCTIBLE1_AMOUNT_TEXT,
PPC.DEDUCTIBLE2_AMOUNT_TEXT,          
PPC.LIMIT_1,          
PPC.WRITTEN_PREMIUM          
--ABS((PPC.WRITTEN_PREMIUM*AAOI.AGENCY_COMM_PERC/100)) COMMISSION
,CASE WHEN PCPL.TRANSACTION_TYPE <> 14560 THEN			--NORMAL POLICY
			CASE WHEN ISNULL(PCPL.POLICY_LEVEL_COMISSION,0) > 0 THEN
					--PCPL.POLICY_LEVEL_COMISSION
					ABS((PPC.WRITTEN_PREMIUM*PCPL.POLICY_LEVEL_COMISSION/100))  
				 ELSE  ( SELECT --SUM(PR.COMMISSION_PERCENT)
								ABS(PPC.WRITTEN_PREMIUM *SUM(PR.COMMISSION_PERCENT)/100)   
					FROM POL_REMUNERATION PR WITH (NOLOCK)  
					 WHERE PR.CUSTOMER_ID   = PCPL.CUSTOMER_ID            
					AND PR.POLICY_ID   = PCPL.POLICY_ID            
					AND PR.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID  
					--AND PR.BROKER_ID = PCPL.AGENCY_ID  
					GROUP BY PR.CUSTOMER_ID ,PR.POLICY_ID,PR.POLICY_VERSION_ID)
			END
	  WHEN PCPL.TRANSACTION_TYPE = 14560 THEN        --MASTER POLICY
			(SELECT --SUM(PAL2.COMMISSION_PERCENT)
					ABS((PPC.WRITTEN_PREMIUM*SUM(PAL2.COMMISSION_PERCENT)/100))
				FROM POL_APPLICANT_LIST  PAL2 WITH (NOLOCK)
				
				WHERE PAL2.CUSTOMER_ID = PCPL.CUSTOMER_ID
					  AND PAL2.POLICY_ID   = PCPL.POLICY_ID            
					  AND PAL2.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID
				GROUP BY PAL2.CUSTOMER_ID,PAL2.POLICY_ID,PAL2.POLICY_VERSION_ID)
				
	  END  AS   COMMISSION 
          
,(SELECT CONVERT(DECIMAL(9,2), ISNULL(SUM(PERCENTAGE),0)) FROM POL_DISCOUNT_SURCHARGE PDS2           
 WHERE PDS2.CUSTOMER_ID = PCPL.CUSTOMER_ID          
 AND PDS2.POLICY_ID = PCPL.POLICY_ID          
 AND PDS2.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID          
 AND PDS2.RISK_ID =0) AS PERC_DISCOUNT          
 
 ,CASE WHEN PCPL.TRANSACTION_TYPE <> 14560 THEN   --NORMAL POLICY              
   CASE WHEN ISNULL(PCPL.POLICY_LEVEL_COMISSION,0) > 0 THEN              
     --PCPL.POLICY_LEVEL_COMISSION              
     --ABS((PPC.WRITTEN_PREMIUM*PCPL.POLICY_LEVEL_COMISSION/100))  
		PCPL.POLICY_LEVEL_COMISSION/100              
     ELSE  ( SELECT  --SUM(PR.COMMISSION_PERCENT)              
       --ABS(PPC.WRITTEN_PREMIUM *SUM(PR.COMMISSION_PERCENT)/100)                 
       SUM(PR.COMMISSION_PERCENT)/100
     FROM POL_REMUNERATION PR WITH (NOLOCK)                
      WHERE PR.CUSTOMER_ID   = PCPL.CUSTOMER_ID                          
     AND PR.POLICY_ID   = PCPL.POLICY_ID                          
     AND PR.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID                
     --AND PR.BROKER_ID = PCPL.AGENCY_ID                
     GROUP BY PR.CUSTOMER_ID ,PR.POLICY_ID,PR.POLICY_VERSION_ID)              
   END              
   WHEN PCPL.TRANSACTION_TYPE = 14560 THEN        --MASTER POLICY              
   (SELECT --SUM(PAL2.COMMISSION_PERCENT)              
     --ABS((PPC.WRITTEN_PREMIUM*SUM(PAL2.COMMISSION_PERCENT)/100))              
     SUM(PAL2.COMMISSION_PERCENT)/100
    FROM POL_APPLICANT_LIST  PAL2 WITH (NOLOCK)              
                  
    WHERE PAL2.CUSTOMER_ID = PCPL.CUSTOMER_ID              
       AND PAL2.POLICY_ID   = PCPL.POLICY_ID                          
       AND PAL2.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID              
    GROUP BY PAL2.CUSTOMER_ID,PAL2.POLICY_ID,PAL2.POLICY_VERSION_ID)              
                  
   END  AS   COMMISSION_PERC         
          
          
          
FROM           
--POL_PRODUCT_LOCATION_INFO PPLI WITH (NOLOCK)           
 POL_CUSTOMER_POLICY_LIST PCPL WITH (NOLOCK)           
 --ON PPLI.CUSTOMER_ID = PCPL.CUSTOMER_ID          
 --AND PPLI.POLICY_ID = PCPL.POLICY_ID          
 --AND PPLI.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID          
INNER JOIN  POL_LOCATIONS PL WITH (NOLOCK)          
 ON PL.CUSTOMER_ID   = PCPL.CUSTOMER_ID          
 AND PL.POLICY_ID   = PCPL.POLICY_ID          
 AND PL.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID 
INNER JOIN POL_PRODUCT_LOCATION_INFO  prli WITH (NOLOCK)                    
	ON prli.CUSTOMER_ID   = PCPL.CUSTOMER_ID                      
		AND prli.POLICY_ID   = PCPL.POLICY_ID                      
		AND prli.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID
		and prli.LOCATION = PL.LOCATION_ID           
INNER JOIN POL_PRODUCT_COVERAGES PPC WITH (NOLOCK)           
 ON PPC.CUSTOMER_ID   = PCPL.CUSTOMER_ID          
 AND PPC.POLICY_ID   = PCPL.POLICY_ID          
 AND PPC.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID          
   and prli.PRODUCT_RISK_ID = PPC.RISK_ID        
INNER JOIN POL_POLICY_PROCESS PPP WITH (NOLOCK)          
 ON PPP.CUSTOMER_ID   = PCPL.CUSTOMER_ID          
 AND PPP.POLICY_ID   = PCPL.POLICY_ID          
 AND PPP.NEW_POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID          
--INNER JOIN ACT_AGENCY_OPEN_ITEMS AAOI  WITH (NOLOCK)          
-- ON AAOI.CUSTOMER_ID   = PCPL.CUSTOMER_ID          
-- AND AAOI.POLICY_ID    = PCPL.POLICY_ID          
-- AND AAOI.POLICY_VERSION_ID  = PCPL.POLICY_VERSION_ID          
-- --AND AAOI.AGENCY_ID    =PCPL.AGENCY_ID          
-- AND AAOI.AGENCY_COMM_AMT < 0         
--INNER JOIN MNT_LOB_MASTER MLM  WITH (NOLOCK)        
--  ON MLM.LOB_ID = PCPL.POLICY_LOB        
INNER JOIN MNT_PRODUCT_SUSEP_PROCESS_NUMBER MPSPN  WITH (NOLOCK)        
  ON MPSPN.LOB_ID =  PCPL.POLICY_LOB     
  and MPSPN.SUBLOB_ID = PCPL.POLICY_SUBLOB    
LEFT JOIN MNT_COUNTRY_STATE_LIST MCSL  WITH (NOLOCK)           
  ON CAST(PL.LOC_STATE AS SMALLINT) = MCSL.STATE_ID           
  AND CAST(PL.LOC_COUNTRY AS INT) = MCSL.COUNTRY_ID          
LEFT JOIN POL_DISCOUNT_SURCHARGE PDS WITH (NOLOCK)          
 ON PDS.CUSTOMER_ID   = PCPL.CUSTOMER_ID          
 AND PDS.POLICY_ID    = PCPL.POLICY_ID          
 AND PDS.POLICY_VERSION_ID  = PCPL.POLICY_VERSION_ID          
          
LEFT JOIN POL_POLICY_ENDORSEMENTS PPE WITH (NOLOCK)          
 ON PPE.CUSTOMER_ID   = PCPL.CUSTOMER_ID          
 AND PPE.POLICY_ID   = PCPL.POLICY_ID          
 AND PPE.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID          
 WHERE PPP.PROCESS_ID IN (12,18,14,25,37)
	AND PPP.PROCESS_STATUS = 'COMPLETE' 
AND (PPE.ENDORSEMENT_STATUS IS NULL OR PPE.ENDORSEMENT_STATUS <> 'CAN')        
 --AND PCPL.CUSTOMER_ID=2607 AND PCPL.POLICY_ID=6        
           
    
   
   
   
  
  
  
GO

