IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VIEW_CLT_TRANSACTION_TYPE_DETAILS]'))
DROP VIEW [dbo].[VIEW_CLT_TRANSACTION_TYPE_DETAILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/****************************************************************************                               
VIEW Name        :    	dbo.VIEW_CLT_TRANSACTION_TYPE_DETAILS                                 

Created BY 	 :	Manoj Rathore	

PURPOSE  	 : 	Fetch Transaction type 

Used In          :      Wolverine 

Date             :      29 June 2009 

******************************************************************************/ 

CREATE VIEW [dbo].[VIEW_CLT_TRANSACTION_TYPE_DETAILS]  
AS 

SELECT 	
	--'' AS 'BLANK',
	--'068' AS NISS_COMP_NUM,
	--'' AS 'BLANK',
	CASE 
	WHEN 	PM.PROCESS_ID='25' OR PM.PROCESS_ID='18' THEN '1' --NSB AND Renewal
	WHEN    PM.PROCESS_ID='14' THEN '2' 
	ELSE '0' END AS TRANSACTION_TYPE,

	CSL.NSS_STATE_ID AS STATE,
	--'' AS 'BLANK',
	--'P' AS LINE_CODE,
	SUBSTRING(CONVERT(VARCHAR,YEAR (getdate())),3,2) AS CALL_YEAR,
	SUBSTRING(CONVERT(VARCHAR,YEAR (POLICY_EFFECTIVE_DATE)),3,2) AS 'CAL_ACC_YEAR', 
	--SUB1.LOC_ZIP AS 'ZIP_CODE',             
	--'1' AS 'TEAM_OF_POLICY','0000' AS 'ZIP_CODE','' AS 'BLANK', '1' AS SUB_LINE ,'' AS 'BLANK',
	CASE 
	WHEN (PL.APP_EFFECTIVE_DATE !=PPP.EFFECTIVE_DATETIME AND PPP.EFFECTIVE_DATETIME IS NOT NULL AND PPP.PROCESS_ID=12) 
	THEN datediff(month,PL.APP_EFFECTIVE_DATE,PPP.EFFECTIVE_DATETIME)
	ELSE PL.APP_TERMS END AS WRITTEN_EXPOSURE,

	CASE WHEN CPS.PROCESS_TYPE='37' THEN  
	(
		SELECT SUM(CASE WHEN ISNUMERIC(WRITTEN_PREM) = 0 THEN 0 ELSE cast(WRITTEN_PREM as numeric(14,4)) END)   
		FROM CLT_PREMIUM_SPLIT_DETAILS CLTIN WITH(NOLOCK)   
		WHERE (REPLACE(CLTIN.COMPONENT_CODE,'INCLUDE','PREMIUM')=REPLACE(CPSD.COMPONENT_CODE,'INCLUDE','PREMIUM') 
		AND CLTIN.COMP_EXT=CPSD.COMP_EXT) AND ISNULL(CLTIN.REVERT_ID,-1)=CPSD.SPLIT_UNIQUE_ID AND 
		ISNULL(IS_PART_OF_REVERT,'') ='Y'
	)  
	ELSE  
	CASE WHEN ISNUMERIC(WRITTEN_PREM) = 0 THEN 0 ELSE CAST(WRITTEN_PREM AS NUMERIC(14,4)) END   

	END  
	AS WRITTEN_PREM,
	
	CCI.PAID_LOSS AS PAID_LOSS,
	CCI.OUTSTANDING_RESERVE AS OUTSTANDING_LOSSES 
	--,'090' AS ANNUAL_STATEMENT_LINE_OF_BUSINESS,'' AS 'BLANK'

FROM POL_POLICY_PROCESS PPP              
INNER JOIN POL_CUSTOMER_POLICY_LIST PL ON PPP.CUSTOMER_ID = PL.CUSTOMER_ID AND PPP.POLICY_ID = PL.POLICY_ID 
      AND PPP.POLICY_VERSION_ID = PL.POLICY_VERSION_ID  AND PPP.PROCESS_ID IN (14,18,25 )             

INNER JOIN POL_PROCESS_MASTER PM ON PPP.PROCESS_ID = PM.PROCESS_ID
INNER JOIN MNT_COUNTRY_STATE_LIST CSL ON PL.STATE_ID = CSL.STATE_ID 

LEFT OUTER JOIN CLM_CLAIM_INFO CCI ON PL.CUSTOMER_ID=CCI.CUSTOMER_ID AND PL.POLICY_ID=CCI.POLICY_ID 
      AND PL.POLICY_VERSION_ID = CCI.POLICY_VERSION_ID

LEFT OUTER JOIN CLT_PREMIUM_SPLIT CPS ON PL.CUSTOMER_ID=CPS.CUSTOMER_ID AND PL.POLICY_ID=CPS.POLICY_ID
      AND PL.POLICY_VERSION_ID=CPS.POLICY_VERSION_ID 

LEFT OUTER JOIN CLT_PREMIUM_SPLIT_DETAILS CPSD ON CPS.UNIQUE_ID=CPSD.SPLIT_UNIQUE_ID AND COMPONENT_CODE='SUMTOTAL'
      AND CPS.POLICY_ID <>0 AND CPS.POLICY_VERSION_ID <> 0


---INNER JOIN (SELECT CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,LOC_ZIP,LOC_CITY,LOC_COUNTY,LOC_STATE,LOCATION_TYPE    
---FROM POL_LOCATIONS GROUP BY CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,LOC_ZIP,LOC_CITY,LOC_COUNTY,LOC_STATE,LOCATION_TYPE) SUB1               
---ON  PL.CUSTOMER_ID = SUB1.CUSTOMER_ID AND PL.POLICY_ID = SUB1.POLICY_ID AND PL.POLICY_VERSION_ID = SUB1.POLICY_VERSION_ID              


UNION ALL

SELECT 
	--'' AS 'BLANK','068' AS NISS_COMP_NUM,'' AS 'BLANK',
	CASE 
	WHEN  CA.ACTION_ON_PAYMENT='176'  OR CA.ACTION_ON_PAYMENT='177' OR 
	      CA.ACTION_ON_PAYMENT='186'  OR CA.ACTION_ON_PAYMENT='187' OR
	      CA.ACTION_ON_PAYMENT='180'  OR CA.ACTION_ON_PAYMENT='181' OR
	      CA.ACTION_ON_PAYMENT='189'  OR CA.ACTION_ON_PAYMENT='190' THEN '6' 
	--WHEN  CCI.OUTSTANDING_RESERVE .00 THEN '7'
	ELSE '0' END AS TRANSACTION_TYPE,
	
	CSL.NSS_STATE_ID AS STATE,
	--'' AS 'BLANK','P' AS LINE_CODE,
	SUBSTRING(CONVERT(VARCHAR,YEAR (getdate())),3,2) AS CALL_YEAR,
	SUBSTRING(CONVERT(VARCHAR,YEAR (POLICY_EFFECTIVE_DATE)),3,2) AS 'CAL_ACC_YEAR',
	--SUB1.LOC_ZIP AS 'ZIP_CODE',              
	--'1' AS 'TEAM_OF_POLICY','0000' AS 'ZIP_CODE','' AS 'BLANK', '1' AS SUB_LINE ,'' AS 'BLANK',
	CASE 
	WHEN (PL.APP_EFFECTIVE_DATE !=PPP.EFFECTIVE_DATETIME AND PPP.EFFECTIVE_DATETIME IS NOT NULL AND PPP.PROCESS_ID=12) 
	THEN datediff(month,PL.APP_EFFECTIVE_DATE,PPP.EFFECTIVE_DATETIME)
	ELSE PL.APP_TERMS END AS WRITTEN_EXPOSURE,

	CASE WHEN CPS.PROCESS_TYPE='37' THEN  
	(
		SELECT SUM(CASE WHEN ISNUMERIC(WRITTEN_PREM) = 0 THEN 0 ELSE cast(WRITTEN_PREM as numeric(14,4)) END)   
		FROM CLT_PREMIUM_SPLIT_DETAILS CLTIN WITH(NOLOCK)   
		WHERE (REPLACE(CLTIN.COMPONENT_CODE,'INCLUDE','PREMIUM')=REPLACE(CPSD.COMPONENT_CODE,'INCLUDE','PREMIUM') 
		AND CLTIN.COMP_EXT=CPSD.COMP_EXT) AND ISNULL(CLTIN.REVERT_ID,-1)=CPSD.SPLIT_UNIQUE_ID AND 
		ISNULL(IS_PART_OF_REVERT,'') ='Y'
	)  
	ELSE  
	CASE WHEN ISNUMERIC(WRITTEN_PREM) = 0 THEN 0 ELSE CAST(WRITTEN_PREM AS NUMERIC(14,4)) END   

	END  
	AS WRITTEN_PREM,
	
	CCI.PAID_LOSS AS PAID_LOSS,
	CCI.OUTSTANDING_RESERVE AS OUTSTANDING_LOSSES 
	--,'090' AS ANNUAL_STATEMENT_LINE_OF_BUSINESS,'' AS 'BLANK'

FROM POL_POLICY_PROCESS PPP              
INNER JOIN POL_CUSTOMER_POLICY_LIST PL ON PPP.CUSTOMER_ID = PL.CUSTOMER_ID AND PPP.POLICY_ID = PL.POLICY_ID 
      AND PPP.POLICY_VERSION_ID = PL.POLICY_VERSION_ID             

INNER JOIN POL_PROCESS_MASTER PM ON PPP.PROCESS_ID = PM.PROCESS_ID
INNER JOIN MNT_COUNTRY_STATE_LIST CSL ON PL.STATE_ID = CSL.STATE_ID 

LEFT OUTER JOIN CLM_CLAIM_INFO CCI ON PL.CUSTOMER_ID=CCI.CUSTOMER_ID AND PL.POLICY_ID=CCI.POLICY_ID 
      AND PL.POLICY_VERSION_ID = CCI.POLICY_VERSION_ID

LEFT OUTER JOIN CLM_ACTIVITY CA ON CCI.CLAIM_ID=CA.CLAIM_ID 
LEFT OUTER JOIN CLM_TYPE_DETAIL CTD ON CTD.DETAIL_TYPE_ID=CA.ACTION_ON_PAYMENT 
AND CA.ACTION_ON_PAYMENT IN (176,177,180,181,186,187,189,190)

LEFT OUTER JOIN CLT_PREMIUM_SPLIT CPS ON PL.CUSTOMER_ID=CPS.CUSTOMER_ID AND PL.POLICY_ID=CPS.POLICY_ID
	AND PL.POLICY_VERSION_ID=CPS.POLICY_VERSION_ID
 
LEFT OUTER JOIN CLT_PREMIUM_SPLIT_DETAILS CPSD ON CPS.UNIQUE_ID=CPSD.SPLIT_UNIQUE_ID AND COMPONENT_CODE='SUMTOTAL'
AND CPS.POLICY_ID <>0 AND CPS.POLICY_VERSION_ID <> 0

---INNER JOIN (SELECT CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,LOC_ZIP,LOC_CITY,LOC_COUNTY,LOC_STATE,LOCATION_TYPE    
---  FROM POL_LOCATIONS GROUP BY CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,LOC_ZIP,LOC_CITY,LOC_COUNTY,LOC_STATE,LOCATION_TYPE) SUB1               
--  ON  PL.CUSTOMER_ID = SUB1.CUSTOMER_ID AND PL.POLICY_ID = SUB1.POLICY_ID AND PL.POLICY_VERSION_ID = SUB1.POLICY_VERSION_ID              


GO

