IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_SUSEP_R_DPVAT]'))
DROP VIEW [dbo].[VW_SUSEP_R_DPVAT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


--SELECT * FROM  MNT_LOOKUP_VALUES WHERE LOOKUP_ID =1406


CREATE VIEW [dbo].[VW_SUSEP_R_DPVAT]      
AS       
SELECT       
PPC.CUSTOMER_ID,      
PPC.POLICY_ID,      
PPC.POLICY_VERSION_ID,      
PCPL.POLICY_NUMBER,      
PPC.RISK_ID,      
PCTV.TICKET_NUMBER AS TICKET_CODE,      
PCTV.CREATED_DATETIME AS [COMPETENCE_DATE],      
CASE      
   WHEN PCTV.CATEGORY = 14748 THEN '01'      
   WHEN PCTV.CATEGORY = 14749 THEN '02'      
   WHEN PCTV.CATEGORY = 14750 THEN '03'      
   WHEN PCTV.CATEGORY = 14751 THEN '04'      
   WHEN PCTV.CATEGORY = 14752 THEN '09'      
   WHEN PCTV.CATEGORY = 14753 THEN '10'      
   ELSE NULL       
END AS [CATEGORY],      
SUM(PPC.LIMIT_1)  AS [RISK_PREMIUM],      
MCSL.STATE_CODE AS [STATE],    
PCPL.POLICY_STATUS -- ADDED BY SHUBHANSHU ON 02/08/2011     
      
FROM       
POL_CIVIL_TRANSPORT_VEHICLES PCTV WITH (NOLOCK)       
INNER JOIN POL_CUSTOMER_POLICY_LIST PCPL WITH (NOLOCK)       
 ON PCTV.CUSTOMER_ID = PCPL.CUSTOMER_ID      
 AND PCTV.POLICY_ID = PCPL.POLICY_ID      
 AND PCTV.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID      
INNER JOIN MNT_LOB_MASTER ML WITH (NOLOCK)      
 ON PCPL.POLICY_LOB = ML.LOB_ID      
INNER JOIN POL_PRODUCT_COVERAGES PPC WITH (NOLOCK)       
 ON PPC.CUSTOMER_ID = PCPL.CUSTOMER_ID      
 AND PPC.POLICY_ID = PCPL.POLICY_ID      
 AND PPC.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID      
 AND PCTV.VEHICLE_ID = PPC.RISK_ID --(NEED TO CHECK)      
INNER JOIN MNT_COUNTRY_STATE_LIST MCSL        
  ON CAST(PCTV.STATE_ID AS SMALLINT) = MCSL.STATE_ID       
  AND MCSL.COUNTRY_ID = 5      
WHERE ML.SUSEP_LOB_CODE = 0589 OR ML.SUSEP_LOB_CODE = 0588      
       
GROUP BY PPC.CUSTOMER_ID,PPC.POLICY_ID,PPC.POLICY_VERSION_ID,      
PPC.RISK_ID,PCPL.POLICY_NUMBER,      
PCTV.TICKET_NUMBER,      
PCTV.CREATED_DATETIME,      
PCTV.CATEGORY,      
MCSL.STATE_CODE,    
PCPL.POLICY_STATUS -- ADDED BY SHUBHANSHU ON 02/08/2011  
	






GO

