IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY_BY_ASLOB]'))
DROP VIEW [dbo].[VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY_BY_ASLOB]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--drop VIEW VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY_BY_ASLOB    
CREATE  VIEW VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY_BY_ASLOB    
    
AS    
    
SELECT VPL.CLAIM_ID,VPL.LOB_ID,AGENCY_ID,LOB_DESC,
CASE WHEN VPL.LOB_ID IN (6) THEN 
		CASE WHEN (LOSS_TYPE + ',' LIKE '%32,%') OR (LOSS_TYPE + ',' LIKE '%37,%')  
		THEN 'Fire'  
		WHEN (LOSS_TYPE + ',' LIKE '%51,%') OR (LOSS_TYPE + ',' LIKE '%52,%')OR (LOSS_TYPE + ',' LIKE '%53,%') OR (LOSS_TYPE + ',' LIKE '%55,%')                          
		THEN 'Liability'  
		ELSE 'EC'  
		END 
	ELSE T.CATEGORY_DESC
	END
	CATEGORY_DESC,
MONTH_NUMBER,YEAR_NUMBER,YEAR(CLM.LOSS_DATE) INCURRED_YEAR,
SUM(ISNULL(VPL.PAID_LOSS,0))AS PAID_LOSS ,SUM(ISNULL(SALVAGE_LESS,0)) AS SALVAGE_LESS,    
SUM(ISNULL(LESS_RECOVERY,0)) AS LESS_RECOVERY,SUM(ISNULL(REINS_RECOVERED,0)) AS REINS_RECOVERED,SUM(ISNULL(REINS_SALVAGE,0)) AS REINS_SALVAGE,
SUM(ISNULL(REINS_RECOVERY,0)) AS REINS_RECOVERY,
SUM(END_RESERVE) AS END_RESERVE    ,
SUM(END_RESERVE_REINSURANCE) AS END_RESERVE_REINSURANCE,
SUM(RESERVE_REINSURANCE_ADJUSTMENT) AS RESERVE_REINSURANCE_ADJUSTMENT
    
FROM VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY VPL   
INNER JOIN CLM_CLAIM_INFO CLM WITH(NOLOCK) ON CLM.CLAIM_ID=VPL.CLAIM_ID
LEFT OUTER JOIN 
(
SELECT COV_ID,ASLOB FROM MNT_COVERAGE 
UNION
SELECT COV_ID,ASLOB FROM MNT_COVERAGE_EXTRA 
)
MC    
ON VPL.COVERAGE_ID = MC.COV_ID 
LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV
ON MC.ASLOB = MLV.LOOKUP_UNIQUE_ID 
INNER JOIN MNT_LOB_DESC T
ON MLV.LOOKUP_UNIQUE_ID = T.ASLOB_ID
GROUP BY VPL.CLAIM_ID,LOSS_TYPE,VPL.LOB_ID,VPL.AGENCY_ID,VPL.LOB_DESC,
--T.CATEGORY_DESC, 
CASE WHEN VPL.LOB_ID IN (6) THEN 
		CASE WHEN (LOSS_TYPE + ',' LIKE '%32,%') OR (LOSS_TYPE + ',' LIKE '%37,%')  
		THEN 'Fire'  
		WHEN (LOSS_TYPE + ',' LIKE '%51,%') OR (LOSS_TYPE + ',' LIKE '%52,%')OR (LOSS_TYPE + ',' LIKE '%53,%') OR (LOSS_TYPE + ',' LIKE '%55,%')                          
		THEN 'Liability'  
		ELSE 'EC'  
		END 
	ELSE T.CATEGORY_DESC
	END,
VPL.MONTH_NUMBER,VPL.YEAR_NUMBER ,YEAR(CLM.LOSS_DATE) 







GO

