IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_LOSS_ADJUSTMENT_EXPENSE_SCHEDULE_P_SUMMUARY]'))
DROP VIEW [dbo].[VW_LOSS_ADJUSTMENT_EXPENSE_SCHEDULE_P_SUMMUARY]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--DROP VIEW VW_LOSS_ADJUSTMENT_EXPENSE_SCHEDULE_P_SUMMUARY  
CREATE  VIEW VW_LOSS_ADJUSTMENT_EXPENSE_SCHEDULE_P_SUMMUARY  
AS  

/* 
LOSS_ADJUST_EXPENSE
175		Adjuster Expense +
207		Credit to Adjuster Expense -
254		Void - Adjuster Expense -

LEGAL_EXPENSE
174		Legal Expense  + 
255		Void - Legal expense -
203		Credit To Legal Expense -

LESS_SALVAGE_EXPENSE
176		Salvage Expense +
245		Void - Salvage Expense -
244		Credit to Salvage Expense -
LESS_RECOVERY_EXPENSE
177		Subrogation Expense +
190		Subrogation (Check Received) -
242		Credit to Subrogation Expense -
243		Void - Subrogation Expense -

REIN_LOSS_ADJUST_EXPENSE
185		Adjuster Expense Reinsurance Recovered +
249		Void to Reinsurance Returned - Adjuster Expense -
246		Reinsurance Returned - Adjuster Expense -

REIN_LEGAL_EXPENSE
247		Reinsurance Returned - Legal Expense +
184		Legal Expense Reinsurance Recovered + 
251		Void to Reinsurance Returned - Legal Expense -
REINS_SALVAGE_RECOVERY
178		Reinsurance Returned Salvage /Subrogation +
253		Void to Reinsurance Returned Salvage/Sub Expense -
186		Salvage Expense Reinsurance Recovered +

REIN_LOSS_RECOVERY
Loss Reinsurance Recovered	182	1.00
Loss Reinsurance Recovered	179	-1.00
Loss Reinsurance Recovered	252	1.00

OTHER_EXPENSE
Other Expense	173	1.00
Other Expense	204	-1.00
Other Expense	241	-1.00

REIN_OTHER_EXPENSE
Other Expense Reinsurance Recovered	183	1.00
Other Expense Reinsurance Recovered	248	-1.00
Other Expense Reinsurance Recovered	250	1.00
--BY PRAVESH K CHANDEL ON 10 MARCH 09
*/

SELECT BER.CLAIM_ID,
(
SELECT  COD.LOSS_TYPE 
FROM CLM_OCCURRENCE_DETAIL COD WITH(NOLOCK) WHERE COD.CLAIM_ID   = BER.CLAIM_ID
) AS LOSS_TYPE,
BER.LOB_ID,BER.AGENCY_ID,BER.COVERAGE_ID,MAX(LOB.LOB_DESC) AS LOB_DESC,MONTH_NUMBER,YEAR_NUMBER,  
(  
SELECT SUM(
	CASE WHEN ACTION_ON_PAYMENT IN (175) THEN AMOUNT   
	ELSE CASE   
	WHEN ACTION_ON_PAYMENT IN (207,254) THEN -1*AMOUNT   
    ELSE 0   
   END   
  END  
	)
FROM VW_CLAIM_TRANSACTION_DETAIL where CLAIM_ID=BER.CLAIM_ID AND LOB_ID=BER.LOB_ID AND COVERAGE_ID=BER.COVERAGE_ID
	AND ACTV_MONTH=BER.MONTH_NUMBER AND ACTV_YEAR=BER.YEAR_NUMBER
 
 ) AS LOSS_ADJUST_EXPENSE,  
(  
SELECT SUM(
	CASE WHEN ACTION_ON_PAYMENT IN (174) THEN AMOUNT   
	ELSE CASE   
	WHEN ACTION_ON_PAYMENT IN (255,203) THEN -1*AMOUNT   
    ELSE 0   
   END   
  END  
	)
FROM VW_CLAIM_TRANSACTION_DETAIL where CLAIM_ID=BER.CLAIM_ID AND LOB_ID=BER.LOB_ID AND COVERAGE_ID=BER.COVERAGE_ID
	AND ACTV_MONTH=BER.MONTH_NUMBER AND ACTV_YEAR=BER.YEAR_NUMBER
 
 ) AS LEGAL_EXPENSE,  

( SELECT SUM( 
 CASE WHEN ACTION_ON_PAYMENT IN (176) THEN AMOUNT   
  ELSE CASE   
   WHEN ACTION_ON_PAYMENT IN (244,245) THEN -1*AMOUNT   
    ELSE 0   
   END   
  END 
)
FROM VW_CLAIM_TRANSACTION_DETAIL where CLAIM_ID=BER.CLAIM_ID AND LOB_ID=BER.LOB_ID AND COVERAGE_ID=BER.COVERAGE_ID
	AND ACTV_MONTH=BER.MONTH_NUMBER AND ACTV_YEAR=BER.YEAR_NUMBER 
 ) AS LESS_SALVAGE_EXPENSE,  
(SELECT SUM( 
 CASE WHEN ACTION_ON_PAYMENT IN (177) THEN AMOUNT   
  ELSE CASE   
   WHEN ACTION_ON_PAYMENT IN (190,242,243) THEN -1*AMOUNT   
    ELSE 0   
   END   
  END 
)
FROM VW_CLAIM_TRANSACTION_DETAIL where CLAIM_ID=BER.CLAIM_ID AND LOB_ID=BER.LOB_ID AND COVERAGE_ID=BER.COVERAGE_ID
	AND ACTV_MONTH=BER.MONTH_NUMBER AND ACTV_YEAR=BER.YEAR_NUMBER 
 )  AS LESS_RECOVERY_EXPENSE,  
--REINSURANCE
(SELECT SUM( 
 CASE WHEN ACTION_ON_PAYMENT IN (185) THEN AMOUNT   
  ELSE CASE   
   WHEN ACTION_ON_PAYMENT IN (246,249) THEN -1*AMOUNT   
    ELSE 0   
   END   
  END 
)
FROM VW_CLAIM_TRANSACTION_DETAIL where CLAIM_ID=BER.CLAIM_ID AND LOB_ID=BER.LOB_ID AND COVERAGE_ID=BER.COVERAGE_ID
	AND ACTV_MONTH=BER.MONTH_NUMBER AND ACTV_YEAR=BER.YEAR_NUMBER 
 ) AS REIN_LOSS_ADJUST_EXPENSE,  
(SELECT SUM(
	CASE WHEN ACTION_ON_PAYMENT IN (247,184) THEN AMOUNT   
		ELSE CASE   
		WHEN ACTION_ON_PAYMENT IN (251) THEN -1*AMOUNT   
		ELSE 0   
		END   
	END 
	)
	FROM VW_CLAIM_TRANSACTION_DETAIL where CLAIM_ID=BER.CLAIM_ID AND LOB_ID=BER.LOB_ID AND COVERAGE_ID=BER.COVERAGE_ID
	AND ACTV_MONTH=BER.MONTH_NUMBER AND ACTV_YEAR=BER.YEAR_NUMBER
 ) AS REIN_LEGAL_EXPENSE ,

(SELECT SUM(
	CASE WHEN ACTION_ON_PAYMENT IN (178) THEN  AMOUNT   
		 WHEN ACTION_ON_PAYMENT IN (186,253) THEN -1 * AMOUNT   
    ELSE 0   
	END  
	)
FROM VW_CLAIM_TRANSACTION_DETAIL where CLAIM_ID=BER.CLAIM_ID AND LOB_ID=BER.LOB_ID AND COVERAGE_ID=BER.COVERAGE_ID
	AND ACTV_MONTH=BER.MONTH_NUMBER AND ACTV_YEAR=BER.YEAR_NUMBER
 ) AS REINS_SALVAGE_RECOVERY,  

(SELECT SUM(
	CASE WHEN ACTION_ON_PAYMENT IN (173) THEN  AMOUNT   
		 WHEN ACTION_ON_PAYMENT IN (204,241) THEN -1 * AMOUNT   
    ELSE 0   
	END  
	)
FROM VW_CLAIM_TRANSACTION_DETAIL where CLAIM_ID=BER.CLAIM_ID AND LOB_ID=BER.LOB_ID AND COVERAGE_ID=BER.COVERAGE_ID
	AND ACTV_MONTH=BER.MONTH_NUMBER AND ACTV_YEAR=BER.YEAR_NUMBER
 ) AS OTHER_EXPENSE,  

(SELECT SUM(
	CASE WHEN ACTION_ON_PAYMENT IN (183,250) THEN  AMOUNT   
		 WHEN ACTION_ON_PAYMENT IN (248) THEN -1 * AMOUNT   
    ELSE 0   
	END  
	)
FROM VW_CLAIM_TRANSACTION_DETAIL where CLAIM_ID=BER.CLAIM_ID AND LOB_ID=BER.LOB_ID AND COVERAGE_ID=BER.COVERAGE_ID
	AND ACTV_MONTH=BER.MONTH_NUMBER AND ACTV_YEAR=BER.YEAR_NUMBER
 ) AS REIN_OTHER_EXPENSE,
(SELECT SUM(
	CASE WHEN ACTION_ON_PAYMENT IN (182,252) THEN  AMOUNT   
		 WHEN ACTION_ON_PAYMENT IN (179) THEN -1 * AMOUNT   
    ELSE 0   
	END  
	)
FROM VW_CLAIM_TRANSACTION_DETAIL where CLAIM_ID=BER.CLAIM_ID AND LOB_ID=BER.LOB_ID AND COVERAGE_ID=BER.COVERAGE_ID
	AND ACTV_MONTH=BER.MONTH_NUMBER AND ACTV_YEAR=BER.YEAR_NUMBER
 ) AS REIN_LOSS_RECOVERY ,

 SUM(BER.END_RESERVE) as END_RESERVE ,
 SUM(BER.END_RESERVE_REINSURANCE) as END_RESERVE_REINSURANCE ,
 SUM(CASE WHEN ISNULL(BER.END_RESERVE_REINSURANCE,0) > ISNULL(BER.END_RESERVE,0) 
		 THEN ISNULL(BER.END_RESERVE_REINSURANCE,0) - ISNULL(BER.END_RESERVE,0) 
	ELSE 0 
	END) AS RESERVE_REINSURANCE_ADJUSTMENT


  FROM VW_BEGINING_ENDING_RESERVE_BY_COVERAGE BER   
  LEFT JOIN MNT_LOB_MASTER LOB ON LOB.LOB_ID=BER.LOB_ID  
	GROUP BY BER.CLAIM_ID,BER.LOB_ID,BER.AGENCY_ID,BER.COVERAGE_ID,BER.MONTH_NUMBER,BER.YEAR_NUMBER  







GO

