IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_AGENCYSTATEMENTGROSSAMOUNT]'))
DROP VIEW [dbo].[VW_AGENCYSTATEMENTGROSSAMOUNT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--DROP VIEW [dbo].[VW_AGENCYSTATEMENTGROSSAMOUNT]
CREATE VIEW [dbo].[VW_AGENCYSTATEMENTGROSSAMOUNT]
AS    
/*
SELECT     
ISNULL(AGENCY_ID,0) AS AGENCY_ID,    
SUM(AAS.DUE_AMOUNT) AMOUNT,    
SUM(AAS.TOTAL_PAID) TOTAL_PAID,    
AAS.BILL_TYPE AS BILL_TYPE,    
ISNULL(AAS.TRAN_TYPE,'') AS TRAN_TYPE,    
ISNULL(AAS.COMM_TYPE,'') AS COMM_TYPE,    
AAS.MONTH_YEAR AS [YEAR],    
AAS.MONTH_NUMBER AS [MONTH]    
FROM ACT_AGENCY_STATEMENT AAS WITH(NOLOCK)
GROUP BY AAS.AGENCY_ID,AAS.MONTH_NUMBER , MONTH_YEAR ,BILL_TYPE ,AAS.TRAN_TYPE ,AAS.COMM_TYPE
*/


SELECT     
ISNULL(AGENCY_ID,0) AS AGENCY_ID,   
AAS.COMM_TYPE , 
SUM(ISNULL(AAS.DUE_AMOUNT,0)) AMOUNT,    
SUM(ISNULL(AAS.TOTAL_PAID,0)) TOTAL_PAID,    
AAS.MONTH_YEAR AS [YEAR],    
AAS.MONTH_NUMBER AS [MONTH]    ,
(
	SELECT SUM(ISNULL(DBCOM.DUE_AMOUNT,0)) FROM ACT_AGENCY_STATEMENT DBCOM
	WHERE DBCOM.AGENCY_ID = AAS.AGENCY_ID 
	AND DBCOM.MONTH_NUMBER = AAS.MONTH_NUMBER AND DBCOM.MONTH_YEAR = AAS.MONTH_YEAR 
	AND DBCOM.COMM_TYPE = AAS.COMM_TYPE AND DBCOM.BILL_TYPE = 'DB'
	AND DBCOM.TRAN_TYPE = 'COM'
) AS DB_COMMISSION , 
(
	SELECT SUM(ISNULL(ABCOM.DUE_AMOUNT,0)) FROM ACT_AGENCY_STATEMENT ABCOM
	WHERE ABCOM.AGENCY_ID = AAS.AGENCY_ID 
	AND ABCOM.MONTH_NUMBER = AAS.MONTH_NUMBER AND ABCOM.MONTH_YEAR = AAS.MONTH_YEAR 
	AND ABCOM.COMM_TYPE = AAS.COMM_TYPE AND ABCOM.BILL_TYPE = 'AB'
	AND ABCOM.TRAN_TYPE = 'COM'
) AS AB_COMMISSION , 
(
	SELECT SUM(ISNULL(ABPREM.DUE_AMOUNT,0)) FROM ACT_AGENCY_STATEMENT ABPREM
	WHERE ABPREM.AGENCY_ID = AAS.AGENCY_ID 
	AND ABPREM.MONTH_NUMBER = AAS.MONTH_NUMBER AND ABPREM.MONTH_YEAR = AAS.MONTH_YEAR 
	AND ABPREM.COMM_TYPE = AAS.COMM_TYPE AND ABPREM.BILL_TYPE = 'AB'
	AND ABPREM.TRAN_TYPE = 'PREM'
) AS AB_PREMIUM 
FROM ACT_AGENCY_STATEMENT AAS WITH(NOLOCK)
WHERE ISNULL(COMM_TYPE,'') <> '' 
GROUP BY AAS.AGENCY_ID,AAS.MONTH_NUMBER , MONTH_YEAR ,AAS.COMM_TYPE 

GO

