IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY]'))
DROP VIEW [dbo].[VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--DROP VIEW VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY  
create  VIEW VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY  
AS  

/*
REINS RECOVERY
178		Reinsurance Returned Salvage /Subrogation +
187		Subrogation Expense Reinsurance Recovered -
253		Void to Reinsurance Returned Salvage/Sub Expense -
Less Salvage
176		Salvage Expense +
189		Salvage (Check Received) -
244		Credit to Salvage Expense-
245		Void - Salvage Expense-
LESS_RECOVERY
177		Subrogation Expense +
190		Subrogation (Check Received) -
242		Credit to Subrogation Expense -
243		Void - Subrogation Expense -
REINS_RECOVERED
182		Loss Reinsurance Recovered - Paid Loss -
179		Reinsurance Returned Paid Loss +
252		Void to Reinsurance Returned Paid Loss -
*/
SELECT BER.CLAIM_ID,
(
SELECT  COD.LOSS_TYPE 
FROM CLM_OCCURRENCE_DETAIL COD WITH(NOLOCK) WHERE COD.CLAIM_ID   = BER.CLAIM_ID
) AS LOSS_TYPE,
BER.LOB_ID,BER.AGENCY_ID,BER.COVERAGE_ID,MAX(LOB.LOB_DESC) AS LOB_DESC,MONTH_NUMBER,YEAR_NUMBER,  
(  
SELECT SUM(
	CASE WHEN ACTION_ON_PAYMENT IN (180,181) THEN AMOUNT   
	ELSE CASE   
	WHEN ACTION_ON_PAYMENT IN (188,240) THEN -1*AMOUNT   
    ELSE 0   
   END   
  END  
)
FROM VW_CLAIM_TRANSACTION_DETAIL where CLAIM_ID=BER.CLAIM_ID AND LOB_ID=BER.LOB_ID AND COVERAGE_ID=BER.COVERAGE_ID
	AND ACTV_MONTH=BER.MONTH_NUMBER AND ACTV_YEAR=BER.YEAR_NUMBER
 
 ) AS PAID_LOSS,  

( SELECT SUM( 
 CASE WHEN ACTION_ON_PAYMENT IN (176) THEN AMOUNT   
  ELSE CASE   
   WHEN ACTION_ON_PAYMENT IN (244,245,189) THEN -1*AMOUNT   
    ELSE 0   
   END   
  END 
)
FROM VW_CLAIM_TRANSACTION_DETAIL where CLAIM_ID=BER.CLAIM_ID AND LOB_ID=BER.LOB_ID AND COVERAGE_ID=BER.COVERAGE_ID
	AND ACTV_MONTH=BER.MONTH_NUMBER AND ACTV_YEAR=BER.YEAR_NUMBER 
 ) AS SALVAGE_LESS,  

(SELECT SUM( 
 CASE WHEN ACTION_ON_PAYMENT IN (177) THEN AMOUNT   
  ELSE CASE   
   WHEN ACTION_ON_PAYMENT IN (190,242,243) THEN -1*AMOUNT   
    ELSE 0   
   END   
  END 
)
FROM VW_CLAIM_TRANSACTION_DETAIL where CLAIM_ID=BER.CLAIM_ID AND LOB_ID=BER.LOB_ID AND COVERAGE_ID=BER.COVERAGE_ID
	AND ACTV_MONTH=BER.MONTH_NUMBER AND ACTV_YEAR=BER.YEAR_NUMBER 
 )  AS LESS_RECOVERY,  

(SELECT SUM( 
 CASE WHEN ACTION_ON_PAYMENT IN (179) THEN AMOUNT   
  ELSE CASE   
   WHEN ACTION_ON_PAYMENT IN (182,252) THEN -1*AMOUNT   
    ELSE 0   
   END   
  END 
)
FROM VW_CLAIM_TRANSACTION_DETAIL where CLAIM_ID=BER.CLAIM_ID AND LOB_ID=BER.LOB_ID AND COVERAGE_ID=BER.COVERAGE_ID
	AND ACTV_MONTH=BER.MONTH_NUMBER AND ACTV_YEAR=BER.YEAR_NUMBER 
 ) AS REINS_RECOVERED,  

(SELECT SUM(
	CASE WHEN ACTION_ON_PAYMENT IN (186) THEN -1 * AMOUNT   
    ELSE 0   
	END  
	)
FROM VW_CLAIM_TRANSACTION_DETAIL where CLAIM_ID=BER.CLAIM_ID AND LOB_ID=BER.LOB_ID AND COVERAGE_ID=BER.COVERAGE_ID
	AND ACTV_MONTH=BER.MONTH_NUMBER AND ACTV_YEAR=BER.YEAR_NUMBER
 ) AS REINS_SALVAGE,  

(SELECT SUM(
	CASE WHEN ACTION_ON_PAYMENT IN (178) THEN AMOUNT   
		ELSE CASE   
		WHEN ACTION_ON_PAYMENT IN (187,253) THEN -1*AMOUNT   
		ELSE 0   
		END   
	END 
	)
	FROM VW_CLAIM_TRANSACTION_DETAIL where CLAIM_ID=BER.CLAIM_ID AND LOB_ID=BER.LOB_ID AND COVERAGE_ID=BER.COVERAGE_ID
	AND ACTV_MONTH=BER.MONTH_NUMBER AND ACTV_YEAR=BER.YEAR_NUMBER
 ) AS REINS_RECOVERY  ,

 SUM(BER.END_RESERVE) as END_RESERVE ,
 SUM(BER.END_RESERVE_REINSURANCE) as END_RESERVE_REINSURANCE ,
SUM(CASE WHEN ISNULL(END_RESERVE_REINSURANCE,0) > ISNULL(END_RESERVE,0) 
		 THEN ISNULL(END_RESERVE_REINSURANCE,0) - ISNULL(END_RESERVE,0) 
	ELSE 0 
	END) AS RESERVE_REINSURANCE_ADJUSTMENT

  FROM VW_BEGINING_ENDING_RESERVE_BY_COVERAGE BER   
  LEFT JOIN MNT_LOB_MASTER LOB ON LOB.LOB_ID=BER.LOB_ID  
	GROUP BY BER.CLAIM_ID,BER.LOB_ID,BER.AGENCY_ID,BER.COVERAGE_ID,BER.MONTH_NUMBER,BER.YEAR_NUMBER  








GO

