IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_CLAIM_RESERVE_PAYMENT_TRANSACTION_DETAIL]'))
DROP VIEW [dbo].[VW_CLAIM_RESERVE_PAYMENT_TRANSACTION_DETAIL]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VW_CLAIM_RESERVE_PAYMENT_TRANSACTION_DETAIL]      
AS      
      
with      
CLAIM_ACTIVITY_TABLE      
AS      
(      
 SELECT CLAIM_ID, CASE ACTIVITY_ID WHEN 1 THEN 0 ELSE ACTIVITY_ID END ACTIVITY_ID, ACTION_ON_PAYMENT,
 CONVERT(VARCHAR(40),ACTIVITY_DATE ,101) AS ACTIVITY_DATE,SUM(RESERVE_AMOUNT) AS RESERVE, SUM(RI_RESERVE) AS REINSURANCE_RESERVE, SUM(CLAIM_PAYMENT_AMOUNT) AS PAYMENT
 FROM CLM_ACTIVITY  
 WHERE (ACTIVITY_STATUS=11801 OR ACTIVITY_STATUS=11986)  GROUP BY  CLAIM_ID,ACTIVITY_ID,ACTION_ON_PAYMENT,ACTIVITY_DATE  
  
) ,   

CLAIM_RESERVE_INFO      
AS      
(  
SELECT CPT.CLAIM_ID,CTD.DETAIL_TYPE_DESCRIPTION TRANS ,CCI.CLAIM_NUMBER,CPT.ACTION_ON_PAYMENT, CONVERT(VARCHAR(40),CCI.LOSS_DATE,101) LOSS_DATE,CONVERT(VARCHAR(40),CPT.ACTIVITY_DATE,101) REPORT_DATE,
	MLM.LOB_CODE LINE,CCI.CLAIMANT_NAME INSURED_NAME,
	PCPL.POLICY_NUMBER,	CONVERT(VARCHAR(40),PCPL.APP_EFFECTIVE_DATE ,101) EFE_DATE, CONVERT(VARCHAR(40),PCPL.APP_EXPIRATION_DATE,101) EXP_DATE, 
	CASE 
      WHEN CPT.ACTION_ON_PAYMENT in  (165,166,167,168,205)
		THEN CPT.RESERVE
	ELSE 0
	END RESERVE,
	CASE 
      WHEN CPT.ACTION_ON_PAYMENT in  (169,171,170,172)
		THEN CPT.REINSURANCE_RESERVE
	ELSE 0
	END REINSURANCE_RESERVE,
    CASE
	  WHEN CPT.ACTION_ON_PAYMENT in  (182,179,180,181,188,240,252)
		THEN CPT.PAYMENT
	ELSE 0
	END PAYMENT 
	FROM
CLM_CLAIM_INFO CCI   
INNER JOIN CLAIM_ACTIVITY_TABLE CPT
ON CCI.CLAIM_ID = CPT.CLAIM_ID
LEFT OUTER JOIN POL_CUSTOMER_POLICY_LIST PCPL
ON CCI.CUSTOMER_ID=PCPL.CUSTOMER_ID
AND CCI.POLICY_ID=PCPL.POLICY_ID
AND CCI.POLICY_VERSION_ID=PCPL.POLICY_VERSION_ID
LEFT OUTER JOIN MNT_LOB_MASTER MLM
ON MLM.LOB_ID=PCPL.POLICY_LOB 
INNER JOIN CLM_TYPE_DETAIL CTD
ON CPT.ACTION_ON_PAYMENT=CTD.DETAIL_TYPE_ID

)
SELECT * FROM CLAIM_RESERVE_INFO

GO

