IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_OUTSTANDING_RESERVE]'))
DROP VIEW [dbo].[VW_OUTSTANDING_RESERVE]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--DROP VIEW VW_OUTSTANDING_RESERVE
CREATE VIEW VW_OUTSTANDING_RESERVE
AS
SELECT C.CLAIM_ID,SUM(ISNULL(CR.OUTSTANDING,0)) END_RESERVE,CCI.LOSS_DATE, CCI.CREATED_DATETIME, CCI.LOB_ID,
CASE WHEN (LOSS_TYPE + ',' LIKE '%32,%') OR (LOSS_TYPE + ',' LIKE '%37,%')  
	THEN 14168
	WHEN (LOSS_TYPE + ',' LIKE '%51,%') OR (LOSS_TYPE + ',' LIKE '%52,%')OR (LOSS_TYPE + ',' LIKE '%53,%') OR (LOSS_TYPE + ',' LIKE '%55,%')                          
	THEN 14171
	ELSE 14167 
END AS ASLOB
FROM CLM_ACTIVITY_RESERVE CR
INNER JOIN
(
	SELECT CLAIM_ID, MAX(ACTIVITY_ID)ACTIVITY_ID
	FROM CLM_ACTIVITY
	WHERE (ACTIVITY_STATUS=11801 OR ACTIVITY_STATUS=11986)
	AND ACTION_ON_PAYMENT IN (165,166,167,168,205)
	GROUP BY CLAIM_ID
)C
ON CR.CLAIM_ID = C.CLAIM_ID
AND CASE CR.ACTIVITY_ID WHEN 0 THEN 1 ELSE CR.ACTIVITY_ID END  = C.ACTIVITY_ID
LEFT JOIN CLM_CLAIM_INFO CCI
	ON CR.CLAIM_ID = CCI.CLAIM_ID
LEFT JOIN CLM_OCCURRENCE_DETAIL COD
	ON CR.CLAIM_ID = COD.CLAIM_ID
WHERE CCI.LOB_ID = 6
GROUP BY C.CLAIM_ID,CCI.LOSS_DATE, CCI.CREATED_DATETIME, CCI.LOB_ID,COD.LOSS_TYPE

UNION

SELECT C.CLAIM_ID,SUM(ISNULL(CR.OUTSTANDING,0)) END_RESERVE,CCI.LOSS_DATE, CCI.CREATED_DATETIME, CCI.LOB_ID,MC.ASLOB
FROM CLM_ACTIVITY_RESERVE CR
INNER JOIN
(
	SELECT CLAIM_ID, MAX(ACTIVITY_ID)ACTIVITY_ID
	FROM CLM_ACTIVITY
	WHERE (ACTIVITY_STATUS=11801 OR ACTIVITY_STATUS=11986)
	AND ACTION_ON_PAYMENT IN (165,166,167,168,205)
	GROUP BY CLAIM_ID
)C
ON CR.CLAIM_ID = C.CLAIM_ID
AND CASE CR.ACTIVITY_ID WHEN 0 THEN 1 ELSE CR.ACTIVITY_ID END  = C.ACTIVITY_ID
LEFT JOIN CLM_CLAIM_INFO CCI
ON CR.CLAIM_ID = CCI.CLAIM_ID
LEFT JOIN (
			 SELECT COV_ID, ASLOB FROM MNT_COVERAGE
			 UNION
			 SELECT COV_ID, ASLOB FROM MNT_COVERAGE_EXTRA
		   )MC
ON CR.COVERAGE_ID = MC.COV_ID
WHERE CCI.LOB_ID <> 6
GROUP BY C.CLAIM_ID,CR.COVERAGE_ID,CCI.LOSS_DATE, CCI.CREATED_DATETIME, CCI.LOB_ID,MC.ASLOB
--ORDER BY C.CLAIM_ID

--WHERE --COVERAGE_ID NOT IN (20007,20008,20009,20010,20011)
--YEAR(CLM.LOSS_DATE) < YEAR(GETDATE()) AND YEAR(CLM.CREATED_DATETIME) = YEAR(GETDATE())
--WHERE CAR.CLAIM_ID = 803
--group by CAR.claim_id,COVERAGE_ID,YEAR(CA.COMPLETED_DATE),MONTH(CA.COMPLETED_DATE),MC.ASLOB,CLM.LOSS_DATE, CLM.CREATED_DATETIME, CLM.LOB_ID
--order by car.claim_id

--	SELECT CLAIM_ID,SUM(ISNULL(END_RESERVE,0))END_RESERVE,COVERAGE_ID,LOB_ID,LOSS_DATE,CREATED_DATETIME
--	FROM VW_OUTSTANDING_RESERVE
--	--WHERE YEAR(LOSS_DATE) < @YEAR AND YEAR(CREATED_DATETIME) = @YEAR
--	WHERE CLAIM_ID = 803
--	GROUP BY CLAIM_ID,COVERAGE_ID,LOSS_DATE,CREATED_DATETIME,LOB_ID
--
--
--SELECT ASLOB, * FROM MNT_COVERAGE WHERE COV_ID IN (2,4,1012,1013)








































GO

