IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY_NEW]'))
DROP VIEW [dbo].[VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY_NEW]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--sp_find schedule , v
--SELECT * FROM VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY_NEW
--VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY
--VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY_BY_ASLOB
--DROP VIEW VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY_new      
CREATE  VIEW VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY_NEW      
AS      
    
/*    rr
REINS RECOVERY    
178  Reinsurance Returned Salvage /Subrogation +    
187  Subrogation Expense Reinsurance Recovered -    
253  Void to Reinsurance Returned Salvage/Sub Expense -    
Less Salvage    
176  Salvage Expense +    
189  Salvage (Check Received) -    
244  Credit to Salvage Expense-    
245  Void - Salvage Expense-    
LESS_RECOVERY    
177  Subrogation Expense +    
190  Subrogation (Check Received) -    
242  Credit to Subrogation Expense -    
243  Void - Subrogation Expense -    
REINS_RECOVERED    
182  Loss Reinsurance Recovered - Paid Loss -    
179  Reinsurance Returned Paid Loss +    
252  Void to Reinsurance Returned Paid Loss -    
*/    
SELECT T.ASLOB_ID,MAX(T.CATEGORY_DESC) AS LOB_DESC,DATEPART(YEAR,CTD.DATE_OF_LOSS) AS INCURREDR_YEAR,      
(SELECT SUM(    
		   CASE WHEN ACTION_ON_PAYMENT IN (180,181) THEN AMOUNT       
		   ELSE CASE       
		   WHEN ACTION_ON_PAYMENT IN (188,240) THEN -1*AMOUNT       
		   ELSE 0       
		   END       
		   END      
          )    
FROM VW_CLAIM_TRANSACTION_DETAIL VC
INNER JOIN MNT_COVERAGE M    
ON VC.COVERAGE_ID = M.COV_ID 
INNER JOIN MNT_LOOKUP_VALUES ML
ON M.ASLOB = ML.LOOKUP_UNIQUE_ID 
INNER JOIN MNT_LOB_DESC L
ON ML.LOOKUP_UNIQUE_ID = L.ASLOB_ID 
WHERE DATEPART(YEAR,VC.DATE_OF_LOSS) = DATEPART(YEAR,CTD.DATE_OF_LOSS)
AND L.ASLOB_ID = T.ASLOB_ID 
) AS PAID_LOSS,      
    
( SELECT SUM(     
			 CASE WHEN ACTION_ON_PAYMENT IN (176) THEN AMOUNT       
			 ELSE CASE       
			 WHEN ACTION_ON_PAYMENT IN (244,245,189) THEN -1*AMOUNT       
			 ELSE 0       
			 END       
			 END     
			)    
FROM VW_CLAIM_TRANSACTION_DETAIL V
INNER JOIN MNT_COVERAGE M1    
ON V.COVERAGE_ID = M1.COV_ID 
INNER JOIN MNT_LOOKUP_VALUES MLS
ON M1.ASLOB = MLS.LOOKUP_UNIQUE_ID 
INNER JOIN MNT_LOB_DESC D
ON MLS.LOOKUP_UNIQUE_ID = D.ASLOB_ID 
WHERE DATEPART(YEAR,V.DATE_OF_LOSS) = DATEPART(YEAR,CTD.DATE_OF_LOSS)
AND D.ASLOB_ID = T.ASLOB_ID 
) AS SALVAGE_LESS,      
    
(SELECT SUM(     
			CASE WHEN ACTION_ON_PAYMENT IN (177) THEN AMOUNT       
			ELSE CASE       
			WHEN ACTION_ON_PAYMENT IN (190,242,243) THEN -1*AMOUNT       
			ELSE 0       
			END       
			END     
		   )    
FROM VW_CLAIM_TRANSACTION_DETAIL VCT
INNER JOIN MNT_COVERAGE MT    
ON VCT.COVERAGE_ID = MT.COV_ID 
INNER JOIN MNT_LOOKUP_VALUES MLL
ON MT.ASLOB = MLL.LOOKUP_UNIQUE_ID 
INNER JOIN MNT_LOB_DESC LD
ON MLL.LOOKUP_UNIQUE_ID = LD.ASLOB_ID 
WHERE DATEPART(YEAR,VCT.DATE_OF_LOSS) = DATEPART(YEAR,CTD.DATE_OF_LOSS)
AND LD.ASLOB_ID = T.ASLOB_ID  
)  AS LESS_RECOVERY,      
    
(SELECT SUM(     
			CASE WHEN ACTION_ON_PAYMENT IN (179) THEN AMOUNT       
			ELSE CASE       
			WHEN ACTION_ON_PAYMENT IN (182,252) THEN -1*AMOUNT       
			ELSE 0       
			END       
			END     
		   )    
FROM VW_CLAIM_TRANSACTION_DETAIL VCD
INNER JOIN MNT_COVERAGE MR    
ON VCD.COVERAGE_ID = MR.COV_ID 
INNER JOIN MNT_LOOKUP_VALUES MLS
ON MR.ASLOB = MLS.LOOKUP_UNIQUE_ID 
INNER JOIN MNT_LOB_DESC N
ON MLS.LOOKUP_UNIQUE_ID = N.ASLOB_ID 
WHERE DATEPART(YEAR,VCD.DATE_OF_LOSS) = DATEPART(YEAR,CTD.DATE_OF_LOSS)
AND N.ASLOB_ID = T.ASLOB_ID 
) AS REINS_RECOVERED,      
    
(SELECT SUM(    
			CASE WHEN ACTION_ON_PAYMENT IN (186) THEN -1 * AMOUNT       
			ELSE 0       
			END      
		   )    
FROM VW_CLAIM_TRANSACTION_DETAIL VCL
INNER JOIN MNT_COVERAGE MM    
ON VCL.COVERAGE_ID = MM.COV_ID 
INNER JOIN MNT_LOOKUP_VALUES MLM
ON MM.ASLOB = MLM.LOOKUP_UNIQUE_ID 
INNER JOIN MNT_LOB_DESC LN
ON MLM.LOOKUP_UNIQUE_ID = LN.ASLOB_ID 
WHERE DATEPART(YEAR,VCL.DATE_OF_LOSS) = DATEPART(YEAR,CTD.DATE_OF_LOSS)
AND LN.ASLOB_ID = T.ASLOB_ID  
) AS REINS_SALVAGE,      
    
(SELECT SUM(    
			CASE WHEN ACTION_ON_PAYMENT IN (178) THEN AMOUNT       
			ELSE CASE       
			WHEN ACTION_ON_PAYMENT IN (187,253) THEN -1*AMOUNT       
			ELSE 0       
			END       
			END     
		   )    
FROM VW_CLAIM_TRANSACTION_DETAIL VCA
INNER JOIN MNT_COVERAGE MG    
ON VCA.COVERAGE_ID = MG.COV_ID 
INNER JOIN MNT_LOOKUP_VALUES MLK
ON MG.ASLOB = MLK.LOOKUP_UNIQUE_ID 
INNER JOIN MNT_LOB_DESC LG
ON MLK.LOOKUP_UNIQUE_ID = LG.ASLOB_ID 
WHERE DATEPART(YEAR,VCA.DATE_OF_LOSS) = DATEPART(YEAR,CTD.DATE_OF_LOSS)
AND LG.ASLOB_ID = T.ASLOB_ID  
) AS REINS_RECOVERY   
    
    
FROM VW_CLAIM_TRANSACTION_DETAIL CTD       
INNER JOIN MNT_COVERAGE MC    
ON CTD.COVERAGE_ID = MC.COV_ID 
INNER JOIN MNT_LOOKUP_VALUES MLV
ON MC.ASLOB = MLV.LOOKUP_UNIQUE_ID 
INNER JOIN MNT_LOB_DESC T
ON MLV.LOOKUP_UNIQUE_ID = T.ASLOB_ID
GROUP BY T.ASLOB_ID,T.CATEGORY_DESC,DATEPART(YEAR,CTD.DATE_OF_LOSS)--,DATE_OF_LOSS   
    
    
    

GO

