IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_ACT_PREMIUM_COMMISSION_DETAILS]'))
DROP VIEW [dbo].[VW_ACT_PREMIUM_COMMISSION_DETAILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VW_ACT_PREMIUM_COMMISSION_DETAILS]
AS 
SELECT 
AGENCY_ID,CUSTOMER_ID,POLICY_ID,CURRENT_TERM,POLICY_VERSION_ID,LOB_ID,POLICY_EFFECTIVE_DATE,RISK_ID,
RISK_TYPE,COMMISSION_RATE,
SUM(NET_PREMIUM)  AS NET_PREMIUM ,
SUM(STATS_FEES) AS STATS_FEES ,
SUM(GROSS_PREMIUM) AS GROSS_PREMIUM,
SUM(TOTAL_COMMISSION) AS TOTAL_COMMISSION , 
SUM(TOTAL_PAID) AS TOTAL_PAID,
SUM(PAID_STAT_FEES) AS PAID_STAT_FEES ,
SUM(PROCESSED_AMOUNT) AS PROCESSED_AMOUNT,
SUM(THIS_MONTH_PAID) AS THIS_MONTH_PAID,
SUM(THIS_MONTH_STAT_FFES) AS THIS_MONTH_STAT_FFES,
SUM(THIS_MONTH_COMMISSION) AS THIS_MONTH_COMMISSION 
FROM 
(
	SELECT 
	AGENCY_ID , CUSTOMER_ID, POLICY_ID , CURRENT_TERM, POLICY_VERSION_ID , LOB_ID, POLICY_EFFECTIVE_DATE ,
	RISK_ID,RISK_TYPE,COMMISSION_RATE,SOURCE_ROW_ID,NET_PREMIUM,STATS_FEES,GROSS_PREMIUM,TOTAL_COMMISSION,
	TOTAL_PAID,PAID_STAT_FEES,PROCESSED_AMOUNT,THIS_MONTH_PAID,THIS_MONTH_STAT_FFES,
	(THIS_MONTH_PAID - THIS_MONTH_STAT_FFES) * (TOTAL_COMMISSION /NET_PREMIUM)*-1 AS THIS_MONTH_COMMISSION
	FROM 
	VW_ACT_PREMIUM_COMMISSION_DETAILS_BY_TRANSACTION
) MAIN 
GROUP BY 
AGENCY_ID,CUSTOMER_ID,POLICY_ID,CURRENT_TERM,POLICY_VERSION_ID,LOB_ID,POLICY_EFFECTIVE_DATE,RISK_ID,
RISK_TYPE,COMMISSION_RATE
HAVING ABS(SUM(GROSS_PREMIUM)) = 0 

UNION 

SELECT 
AGENCY_ID , CUSTOMER_ID, POLICY_ID , CURRENT_TERM, POLICY_VERSION_ID , LOB_ID, POLICY_EFFECTIVE_DATE ,
RISK_ID,RISK_TYPE,COMMISSION_RATE,NET_PREMIUM,STATS_FEES,GROSS_PREMIUM,TOTAL_COMMISSION,
TOTAL_PAID,PAID_STAT_FEES,PROCESSED_AMOUNT,THIS_MONTH_PAID,THIS_MONTH_STAT_FFES,
(THIS_MONTH_PAID - THIS_MONTH_STAT_FFES) * (TOTAL_COMMISSION /NET_PREMIUM)*-1 AS THIS_MONTH_COMMISSION
FROM 
VW_ACT_PREMIUM_COMMISSION_DETAILS_NON_ZERO


GO

