IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_SUSEP_PREMIUM_DETAILS]'))
DROP VIEW [dbo].[VW_SUSEP_PREMIUM_DETAILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[VW_SUSEP_PREMIUM_DETAILS]
AS 

	
SELECT 	
	CASE WHEN			PPP.PROCESS_ID			=14	THEN '101'	
		 --ELSE			PPP.PROCESS_ID			=12	THEN '101'	
		 END
		 AS				TYPE_OF_TRANSACTION
	,MLM.SUSEP_LOB_CODE
	,RIGHT(PCPL.POLICY_NUMBER,6) AS NUMBER_OF_POLICY_CERT
	,ISNULL(PPED.ENDORSEMENT_NO ,0) AS NUMBER_OF_END_INVOICE
	,CASE WHEN PPED.ENDORSEMENT_NO IS NULl THEN PAL.APPLICANT_ID 
	 ELSE PPED.ENDORSEMENT_NO END
	 AS NUMBER_OF_PROPOSAL
	,CASE WHEN PPP.PROCESS_ID IN(25,18) THEN PPP.COMPLETED_DATETIME
		  WHEN PPP.PROCESS_ID IN(14)	THEN PPP.COMPLETED_DATETIME
	 END AS ISSUANCE_DATE
	,CASE WHEN PPP.PROCESS_ID IN(25,18) THEN PCPL.POL_VER_EFFECTIVE_DATE
		  WHEN PPP.PROCESS_ID IN(14)	THEN PPP.COMPLETED_DATETIME
	 END AS START_DATE_ISSUANCE
	 ,CASE WHEN PPP.PROCESS_ID IN(25,18) THEN PCPL.POL_VER_EFFECTIVE_DATE
		  WHEN PPP.PROCESS_ID IN(14)	THEN PPP.COMPLETED_DATETIME
	 END AS END_DATE_ISSUANCE	  	
	 ,1	AS INSURED_PREMIUM
	 ,1 AS PREMIUM_OF_REINSURENCE
	 ,1 AS NON_AWARDED_PREMIUM
	 ,CASE WHEN MLM.SUSEP_LOB_CODE like '09%' THEN 1 ELSE 0 END AS COLET
	
	FROM				POL_CUSTOMER_POLICY_LIST	(NOLOCK) PCPL
	JOIN				POL_POLICY_PROCESS			(NOLOCK) PPP
	ON					PCPL.CUSTOMER_ID		=	PPP.CUSTOMER_ID				
	AND					PCPL.POLICY_ID			=	PPP.NEW_POLICY_ID
	AND					PCPL.POLICY_VERSION_ID	=	PPP.NEW_POLICY_VERSION_ID
	LEFT OUTER JOIN		POL_POLICY_ENDORSEMENTS_DETAILS (NOLOCK) PPED
	ON					PPED.CUSTOMER_ID		=	PPP.CUSTOMER_ID				
	AND					PPED.POLICY_ID			=	PPP.POLICY_ID
	AND					PPED.POLICY_VERSION_ID	=	PPP.POLICY_VERSION_ID					
	JOIN				MNT_LOB_MASTER				 (NOLOCK) MLM
	ON					MLM.LOB_ID				=	PCPL.POLICY_LOB
	JOIN				POL_APPLICANT_LIST			  (NOLOCK) PAL
	ON					PAL.CUSTOMER_ID			=	PCPL.CUSTOMER_ID				
	AND					PAL.POLICY_ID			=	PCPL.POLICY_ID
	AND					PAL.POLICY_VERSION_ID	=	PCPL.POLICY_VERSION_ID		
	
	WHERE				MLM.IS_ACTIVE			=	'Y'
	AND					PAL.IS_PRIMARY_APPLICANT=	1
						







GO

