IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_RISK_DETAILS]'))
DROP VIEW [dbo].[VW_RISK_DETAILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN
--DROP VIEW VW_RISK_DETAILS
--GO

CREATE VIEW [dbo].[VW_RISK_DETAILS]
AS

SELECT CLAIM_ID, POLICY_RISK_ID,PURPOSE_OF_USE
FROM
(
	SELECT CLAIM_ID, MIN(POLICY_VEHICLE_ID) AS POLICY_RISK_ID, CASE WHEN RTRIM(LTRIM(PURPOSE_OF_USE)) = '' THEN NULL ELSE PURPOSE_OF_USE END AS PURPOSE_OF_USE
	FROM CLM_INSURED_VEHICLE 
	WHERE ISNULL(IS_ACTIVE, 'N') = 'Y' AND  ISNULL(POLICY_VEHICLE_ID,0) <> 0
	GROUP BY CLAIM_ID,PURPOSE_OF_USE

	UNION

	SELECT B.CLAIM_ID, MIN(B.POLICY_BOAT_ID) AS POLICY_RISK_ID, NULL AS PURPOSE_OF_USE
	FROM CLM_INSURED_BOAT B 
	INNER JOIN CLM_CLAIM_INFO C
		ON B.CLAIM_ID = C.CLAIM_ID 
	WHERE ISNULL(B.IS_ACTIVE, 'N') = 'Y' AND ISNULL(B.POLICY_BOAT_ID,0) <> 0
	AND C.LOB_ID = 4 
	GROUP BY B.CLAIM_ID

	UNION

	SELECT CLAIM_ID, MIN(POLICY_LOCATION_ID) AS POLICY_RISK_ID, NULL AS PURPOSE_OF_USE
	FROM CLM_INSURED_LOCATION	
	WHERE ISNULL(IS_ACTIVE, 'N') = 'Y' AND ISNULL(POLICY_LOCATION_ID,0) <> 0
	GROUP BY CLAIM_ID
)TEMP
--ORDER BY CLAIM_ID

--GO
--SELECT * FROM VW_RISK_DETAILS
--ROLLBACK TRAN

GO

