IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_EXPERIENCE_SUMMARY_REPORT]'))
DROP VIEW [dbo].[VW_EXPERIENCE_SUMMARY_REPORT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*-----------------------
OBJECT		: VIEW VW_EXPERIENCE_SUMMARY_REPORT
CREATED BY	: PRAVESH K CHANDEL
CREATED DATE:28 APRIL 2009
PURPOSE		: TO FETCH FINAL RECORDS FOR EXPERIENCE SUMMARY REPORT
MODIFIED BY	:pRAVESH K cHANDEL
DATE		:3 JULY 09
---------------------------*/
--DROP VIEW VW_EXPERIENCE_SUMMARY_REPORT
CREATE VIEW VW_EXPERIENCE_SUMMARY_REPORT
AS

WITH SUMMARY_TABLE
AS
(
SELECT TMP.COVERAGE_ID,TMP.LOB_ID,
VEHICLE_TYPE,
case when isnull(VEHICLE_TYPE,'0')='11332' then 'Personal'
	 when isnull(VEHICLE_TYPE,'0')='11333' then 'Commercial'
	else ''
	end as VEHICLE_TYPE_DES,
TMP.YEAR_NUMBER,
SUM(TMP.VEHICLE_COUNT) VEHICLE_COUNT,
SUM(TMP.POLICY_COUNT) POLICY_COUNT,
SUM(WRITTEN_PREMIUM) WRITTEN_PREMIUM,
SUM(INFORCE_PREMIUM) INFORCE_PREMIUM,
SUM(BEGINNING_UNEARNED)BEGINNING_UNEARNED,
SUM(ENDING_UNEARNED) ENDING_UNEARNED,
SUM(EARNED_PREMIUM) EARNED_PREMIUM,
SUM(WRITTEN_EXPOSURE) WRITTEN_EXPOSURE,
SUM(EARNED_EXPOSURE)EARNED_EXPOSURE,
SUM(INFORCE_EXPOSURE) INFORCE_EXPOSURE,
SUM(ISNULL(PLI.BEGIN_RESERVE,0))BEGIN_RESERVE,
SUM(ISNULL(PLI.END_RESERVE,0))END_RESERVE,
SUM(ISNULL(PLI.LOSSES_INCURRED,0))LOSSES_INCURRED,
ISNULL(SUM(ISNULL(PLI.LOSS_PAID,0)),0) LOSS_PAID,
(
   (SELECT COUNT(DISTINCT CLAIM_ID)
	FROM VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY 
	WHERE COVERAGE_ID=TMP.COVERAGE_ID
	AND YEAR_NUMBER=TMP.YEAR_NUMBER
	AND (ISNULL(PAID_LOSS,0) + ISNULL(SALVAGE_LESS,0) + ISNULL(LESS_RECOVERY,0)) <>0 
   )
) PAID_CLAIMS,
(
SELECT ISNULL(SUM(ISNULL(LOSS_ADJUST_EXPENSE,0)),0) FROM
	VW_LOSS_ADJUSTMENT_EXPENSE_SCHEDULE_P_SUMMUARY
	WHERE COVERAGE_ID=TMP.COVERAGE_ID
	AND YEAR_NUMBER=TMP.YEAR_NUMBER

)LOSS_ADJUST_EXPENSE
FROM
(
SELECT TMP1.AGENCY_ID,TMP1.STATE_ID,TMP1.COVERAGE_ID,LOB_ID,CLAIM_ID,RISK_ID,APP_USE_VEHICLE_ID as VEHICLE_TYPE,TMP1.YEAR_NUMBER,
SUM(TMP1.VEHICLE_COUNT) VEHICLE_COUNT,
SUM(TMP1.POLICY_COUNT) POLICY_COUNT,
SUM(WRITTEN_PREMIUM) WRITTEN_PREMIUM,
SUM(INFORCE_PREMIUM) INFORCE_PREMIUM,
SUM(BEGINNING_UNEARNED)BEGINNING_UNEARNED,
SUM(ENDING_UNEARNED) ENDING_UNEARNED,
SUM(EARNED_PREMIUM) EARNED_PREMIUM,
SUM(WRITTEN_EXPOSURE) WRITTEN_EXPOSURE,
SUM(EARNED_EXPOSURE)EARNED_EXPOSURE,
SUM(INFORCE_EXPOSURE) INFORCE_EXPOSURE
FROM  VW_EXPERIENCE_SUMMARY_REPORT_DATA TMP1
GROUP BY  AGENCY_ID,STATE_ID,COVERAGE_ID,LOB_ID,CLAIM_ID,RISK_ID,APP_USE_VEHICLE_ID,RISK_TYPE,YEAR_NUMBER
)TMP

LEFT OUTER JOIN VW_PAID_LOSS_INCURRED_BY_COVERAGE PLI
ON PLI.AGENCY_ID=TMP.AGENCY_ID AND PLI.STATE_ID=TMP.STATE_ID 
AND PLI.COVERAGE_ID=TMP.COVERAGE_ID 
AND PLI.YEAR_NUMBER=TMP.YEAR_NUMBER
AND PLI.POLICY_RISK_ID=TMP.RISK_ID
AND PLI.CLAIM_ID=TMP.CLAIM_ID
--WHERE TMP.YEAR_NUMBER=2009
GROUP BY  TMP.COVERAGE_ID,TMP.LOB_ID,VEHICLE_TYPE,TMP.YEAR_NUMBER
)


SELECT ISNULL(M.COV_DES,ME.COV_DES) AS COV_DES,ST.* FROM  SUMMARY_TABLE ST
LEFT OUTER JOIN MNT_COVERAGE M ON ST.COVERAGE_ID=M.COV_ID
LEFT OUTER JOIN MNT_COVERAGE_EXTRA ME ON ST.COVERAGE_ID=ME.COV_ID



GO

