IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_POL_LEVEL_DETAILS]'))
DROP VIEW [dbo].[VW_POL_LEVEL_DETAILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN
--DROP VIEW VW_POL_LEVEL_DETAILS
--GO
CREATE VIEW VW_POL_LEVEL_DETAILS
AS
	SELECT DISTINCT PCL.POLICY_NUMBER,PCL.POLICY_LOB AS LOB_ID,PCL.CUSTOMER_ID, PCL.POLICY_ID,PCL.POLICY_VERSION_ID,PCL.AGENCY_ID,
	AL.AGENCY_DISPLAY_NAME,AL.AGENCY_CITY,
	ISNULL(CLT.CUSTOMER_FIRST_NAME,'') + ' ' + ISNULL(CLT.CUSTOMER_MIDDLE_NAME,'') + ' ' + ISNULL(CLT.CUSTOMER_LAST_NAME,'') AS INSURED_NAME,
	CLT.DATE_OF_BIRTH AS BIRTHDAY,DATEDIFF(YEAR,CLT.DATE_OF_BIRTH,PCL.POLICY_EFFECTIVE_DATE)AS INSURED_AGE,
	ISNULL(CLT.CUSTOMER_ADDRESS1,'')+ISNULL(CLT.CUSTOMER_ADDRESS2,'')AS CUSTOMER_ADDRESS,CLT.CUSTOMER_CITY,
	CLT.CUSTOMER_ZIP,MTC.COUNTY,MTC.TERR AS TERRITORY,SL.STATE_NAME,MCL.COUNTRY_NAME,
	PCL.POLICY_EFFECTIVE_DATE AS EFFECTIVE_DATE,PCL.POLICY_EXPIRATION_DATE AS EXPIRATION_DATE, 
	PCL.APP_INCEPTION_DATE AS INCEPTION_DATE, CAST((PCL.APP_TERMS/12.0)AS DECIMAL(18,1)) AS 'TENURE',
	CASE CAST(PCL.APPLY_INSURANCE_SCORE AS VARCHAR)WHEN '-1' THEN '0' WHEN '-2' THEN 'NO HIT NO SCORE' 
	ELSE CAST(PCL.APPLY_INSURANCE_SCORE AS VARCHAR)END AS CURRENT_INS_SCORE,
	CASE ISNULL(PCL.CUSTOMER_REASON_CODE,'') WHEN '' THEN 'N.A.' ELSE PCL.CUSTOMER_REASON_CODE END
	+ ',' + CASE ISNULL(PCL.CUSTOMER_REASON_CODE2,'')WHEN '' THEN 'N.A.'ELSE PCL.CUSTOMER_REASON_CODE2 END  
	+ ',' + CASE ISNULL(PCL.CUSTOMER_REASON_CODE3,'')WHEN '' THEN 'N.A.'ELSE PCL.CUSTOMER_REASON_CODE3 END  
	+ ',' + CASE ISNULL(PCL.CUSTOMER_REASON_CODE4,'')WHEN '' THEN 'N.A.' ELSE PCL.CUSTOMER_REASON_CODE4 END 
	AS'INSURANCE SCORE REASON CODES',
	PCL.POLICY_STATUS AS STATUS, CASE WHEN PCL.CHARGE_OFF_PRMIUM = 10963 THEN 'YES' ELSE 'NO' END AS IS_ROLLOVER, 
	IPD.PLAN_DESCRIPTION AS 'BILLING PLAN',	ISNULL(CONVERT(VARCHAR,QCP.RATE_EFFECTIVE_DATE,101),'') +' '+ 
	CAST(ISNULL(QCP.BUSINESS_TYPE,'') AS VARCHAR)AS RATE_CODE
	--ISNULL(APL.LOSS_CARRIER,'') AS 'PRIOR CARRIER'

	FROM POL_CUSTOMER_POLICY_LIST PCL
	LEFT JOIN POL_POLICY_PROCESS PPP
		ON PCL.CUSTOMER_ID = PPP.CUSTOMER_ID
		AND PCL.POLICY_ID = PPP.POLICY_ID
		AND PCL.POLICY_VERSION_ID = PPP.POLICY_VERSION_ID
	LEFT JOIN QOT_CUSTOMER_QUOTE_LIST_POL QCP
		ON PCL.CUSTOMER_ID = QCP.CUSTOMER_ID
		AND PCL.POLICY_ID = QCP.POLICY_ID
		AND PCL.POLICY_VERSION_ID = QCP.POLICY_VERSION_ID
--	LEFT JOIN APP_PRIOR_LOSS_INFO APL
--		ON PCL.CUSTOMER_ID = APL.CUSTOMER_ID
	LEFT JOIN CLT_CUSTOMER_LIST CLT
		ON PCL.CUSTOMER_ID = CLT.CUSTOMER_ID
	LEFT JOIN MNT_AGENCY_LIST AL
		ON PCL.AGENCY_ID = AL.AGENCY_ID
	LEFT JOIN ACT_INSTALL_PLAN_DETAIL IPD
		ON PCL.INSTALL_PLAN_ID = IPD.IDEN_PLAN_ID
	LEFT JOIN MNT_COUNTRY_STATE_LIST SL
		ON PCL.STATE_ID = SL.STATE_ID
	LEFT JOIN MNT_COUNTRY_LIST MCL
		ON PCL.COUNTRY_ID = MCL.COUNTRY_ID
	LEFT JOIN MNT_TERRITORY_CODES MTC
		ON CLT.CUSTOMER_ZIP = MTC.ZIP
		AND CLT.CUSTOMER_STATE = MTC.STATE
		AND PCL.POLICY_LOB = MTC.LOBID
		AND PCL.POLICY_EFFECTIVE_DATE BETWEEN MTC.EFFECTIVE_FROM_DATE  AND ISNULL(MTC.EFFECTIVE_TO_DATE,'3000-03-16 16:59:06.630') 
	WHERE PCL.POLICY_STATUS = 'NORMAL' AND 
	PCL.POLICY_VERSION_ID >= 
		( 
			SELECT MIN(PPPIN.NEW_POLICY_VERSION_ID) FROM POL_POLICY_PROCESS PPPIN
			WHERE PPPIN.CUSTOMER_ID = PCL.CUSTOMER_ID 
			AND PPPIN.POLICY_ID		= PCL.POLICY_ID 
			AND PROCESS_ID	IN (25,18)  
			AND PROCESS_STATUS		='COMPLETE'-- MIN OF NBS OR RENEWAL
			AND ISNULL(REVERT_BACK,'N') = 'N'
		) 
	

--GO
--SELECT * FROM VW_POL_LEVEL_DETAILS --WHERE CUSTOMER_ID = 1764 AND POLICY_ID = 1 
--ORDER BY CUSTOMER_ID DESC
--ROLLBACK TRAN



GO

