IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_ACT_PREMIUM_COMMISSION_DETAILS_BY_TRANSACTION]'))
DROP VIEW [dbo].[VW_ACT_PREMIUM_COMMISSION_DETAILS_BY_TRANSACTION]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[VW_ACT_PREMIUM_COMMISSION_DETAILS_BY_TRANSACTION]
AS 
SELECT TEMP.AGENCY_ID , TEMP.CUSTOMER_ID , TEMP.POLICY_ID , TEMP.CURRENT_TERM , 
MAX_VERSION.POLICY_VERSION_ID , MAX_VERSION.LOB_ID ,TEMP.POLICY_EFFECTIVE_DATE , 
TEMP.RISK_ID , TEMP.RISK_TYPE , TEMP.COMMISSION_RATE ,
TEMP.SOURCE_ROW_ID,
SUM(TEMP.NET_PREMIUM) AS NET_PREMIUM, SUM(STATS_FEES) AS STATS_FEES, 
SUM(TEMP.GROSS_PREMIUM) AS GROSS_PREMIUM , 
SUM(TEMP.TOTAL_COMMISSION) AS TOTAL_COMMISSION, 
SUM(TEMP.TOTAL_PAID) AS TOTAL_PAID ,
ROUND(SUM(TEMP.STATS_FEES) * SUM(TEMP.TOTAL_PAID) / SUM(TEMP.GROSS_PREMIUM)  ,2)  AS PAID_STAT_FEES,
SUM(TEMP.PROCESSED_AMOUNT) AS PROCESSED_AMOUNT ,
SUM(TEMP.TOTAL_PAID) - SUM(TEMP.PROCESSED_AMOUNT) AS THIS_MONTH_PAID,
ROUND(SUM(TEMP.STATS_FEES) * (SUM(TEMP.TOTAL_PAID) - SUM(TEMP.PROCESSED_AMOUNT)) 
		/ SUM(TEMP.GROSS_PREMIUM),2)AS THIS_MONTH_STAT_FFES
FROM 
(
	SELECT CPL.AGENCY_ID ,PPD.CUSTOMER_ID, PPD.POLICY_ID , 
	PPD.POLICY_VERSION_ID ,CPL.CURRENT_TERM , 
	CPL.APP_EFFECTIVE_DATE AS POLICY_EFFECTIVE_DATE ,
	PPD.RISK_ID , PPD.RISK_TYPE , 
	PPD.PPD_ROW_ID AS SOURCE_ROW_ID,
	SUM(ISNULL(PPD.NET_PREMIUM,0)) AS NET_PREMIUM , 
	SUM(ISNULL(PPD.STATS_FEES,0)) AS STATS_FEES , 
	SUM(ISNULL(PPD.GROSS_PREMIUM,0)) AS GROSS_PREMIUM, 
	SUM(ISNULL(PPD.COMMISSION_AMOUNT,0)) AS TOTAL_COMMISSION,
	ISNULL(
		(
		SELECT SUM(ISNULL(OI.TOTAL_PAID,0) - ISNULL(OI.WRITE_OFF_AMOUNT,0) ) FROM 
		ACT_CUSTOMER_OPEN_ITEMS OI 
		WHERE OI.CUSTOMER_ID = PPD.CUSTOMER_ID AND OI.POLICY_ID = PPD.POLICY_ID 
		AND OI.POLICY_VERSION_ID = PPD.POLICY_VERSION_ID AND OI.RISK_ID = PPD.RISK_ID 
		AND OI.RISK_TYPE = PPD.RISK_TYPE AND OI.UPDATED_FROM = 'P'
		AND ISNULL(OI.ITEM_TRAN_CODE_TYPE, '') <> 'FEES'
		AND OI.SOURCE_ROW_ID = PPD.PPD_ROW_ID
		),0) AS TOTAL_PAID ,
	ISNULL(
		(
		SELECT SUM(ISNULL(OIP.PROCESSED_AMOUNT_FOR_AGENCY,0) - ISNULL(OIP.WRITE_OFF_AMOUNT,0)) FROM 
		ACT_CUSTOMER_OPEN_ITEMS OIP 
		WHERE OIP.CUSTOMER_ID = PPD.CUSTOMER_ID AND OIP.POLICY_ID = PPD.POLICY_ID 
		AND OIP.POLICY_VERSION_ID = PPD.POLICY_VERSION_ID AND OIP.RISK_ID = PPD.RISK_ID 
		AND OIP.RISK_TYPE = PPD.RISK_TYPE AND OIP.UPDATED_FROM = 'P'
		AND ISNULL(OIP.ITEM_TRAN_CODE_TYPE, '') <> 'FEES'
		AND OIP.SOURCE_ROW_ID = PPD.PPD_ROW_ID
		),0) AS PROCESSED_AMOUNT ,
	(
		SELECT TOP 1 PPDIN.CURRENT_COMMISSION_RATE FROM ACT_PREMIUM_PROCESS_SUB_DETAILS PPDIN
		WHERE PPDIN.CUSTOMER_ID = PPD.CUSTOMER_ID AND PPDIN.POLICY_ID = PPD.POLICY_ID 
		AND PPDIN.POLICY_VERSION_ID = PPD.POLICY_VERSION_ID AND PPD.RISK_ID = PPDIN.RISK_ID 
		AND PPDIN.RISK_TYPE = PPD.RISK_TYPE
		AND PPDIN.PPD_ROW_ID  = PPD.PPD_ROW_ID
	)AS COMMISSION_RATE
	FROM ACT_PREMIUM_PROCESS_SUB_DETAILS PPD 
	INNER JOIN POL_CUSTOMER_POLICY_LIST CPL 
	ON PPD.CUSTOMER_ID = CPL.CUSTOMER_ID 
	AND PPD.POLICY_ID = CPL.POLICY_ID 
	AND PPD.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID
	WHERE ISNULL(CPL.BILL_TYPE, '') = 'DB'  
	AND ISNULL(CPL.IS_HOME_EMP ,0)  <> 1 
	GROUP BY CPL.AGENCY_ID ,PPD.CUSTOMER_ID, PPD.POLICY_ID , PPD.POLICY_VERSION_ID , 
	PPD.RISK_ID,PPD.RISK_TYPE,	CPL.APP_EFFECTIVE_DATE, CPL.CURRENT_TERM ,PPD.PPD_ROW_ID
) TEMP 
INNER JOIN 
(
	SELECT PCPL.CUSTOMER_ID,PCPL.POLICY_ID,PCPL.CURRENT_TERM, 
	MAX(PCPL.POLICY_VERSION_ID) AS POLICY_VERSION_ID,PCPL.POLICY_LOB AS LOB_ID 
	FROM POL_CUSTOMER_POLICY_LIST AS PCPL GROUP BY PCPL.CUSTOMER_ID,PCPL.POLICY_ID, 
	PCPL.CURRENT_TERM	,PCPL.POLICY_LOB 
) MAX_VERSION 
ON TEMP.CUSTOMER_ID = MAX_VERSION.CUSTOMER_ID AND TEMP.POLICY_ID = MAX_VERSION.POLICY_ID 
AND TEMP.CURRENT_TERM = MAX_VERSION.CURRENT_TERM 
GROUP BY TEMP.AGENCY_ID , TEMP.CUSTOMER_ID , TEMP.POLICY_ID , TEMP.CURRENT_TERM , TEMP.POLICY_EFFECTIVE_DATE , 
TEMP.RISK_ID , TEMP.RISK_TYPE , TEMP.COMMISSION_RATE ,MAX_VERSION.POLICY_VERSION_ID ,MAX_VERSION.LOB_ID,
TEMP.SOURCE_ROW_ID 
HAVING ABS(SUM(TEMP.GROSS_PREMIUM)) > 0 


GO

