IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_CLAIM_TRANSACTION_DETAIL]'))
DROP VIEW [dbo].[VW_CLAIM_TRANSACTION_DETAIL]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN      
--DROP VIEW dbo.VW_CLAIM_TRANSACTION_DETAIL      
--GO      
       
CREATE VIEW [dbo].[VW_CLAIM_TRANSACTION_DETAIL]      
AS      
      
with      
CLAIM_ACTIVITY_TABLE      
AS      
(      
 SELECT CLAIM_ID, MONTH(COMPLETED_DATE) AS MONTH_F, YEAR(COMPLETED_DATE) AS YEAR_F,     
 CASE ACTIVITY_ID WHEN 1 THEN 0 ELSE ACTIVITY_ID END ACTIVITY_ID, ACTION_ON_PAYMENT      
 FROM CLM_ACTIVITY     
 WHERE (ACTIVITY_STATUS=11801 OR ACTIVITY_STATUS=11986)      
 --AND MONTH(COMPLETED_DATE)= MONTH(GETDATE()) AND YEAR(COMPLETED_DATE)=YEAR(GETDATE())      
),      
      
CLAIM_RESERVE_TABLE      
AS      
(      
 SELECT CAR.CLAIM_ID, CAR.ACTIVITY_ID, CAR.ACTION_ON_PAYMENT, CAR.RESERVE_ID, CAR.VEHICLE_ID, CAR.COVERAGE_ID,      
 CAT.MONTH_F, CAT.YEAR_F,     
/* (      
  SELECT CARIN.OUTSTANDING      
  FROM CLM_ACTIVITY_RESERVE CARIN      
  WHERE CARIN.CLAIM_ID=CAR.CLAIM_ID      
  AND CARIN.ACTIVITY_ID=CAR.ACTIVITY_ID       
  AND CARIN.ACTION_ON_PAYMENT=CAR.ACTION_ON_PAYMENT      
  AND CARIN.RESERVE_ID=CAR.RESERVE_ID      
 )  */    
 SUM(OUTSTANDING) AS AMOUNT
 FROM CLM_ACTIVITY_RESERVE CAR      
 INNER JOIN CLAIM_ACTIVITY_TABLE CAT      
 ON CAR.CLAIM_ID = CAT.CLAIM_ID AND CAR.ACTIVITY_ID=CAT.ACTIVITY_ID AND CAR.ACTION_ON_PAYMENT=CAT.ACTION_ON_PAYMENT      
 GROUP BY CAR.CLAIM_ID, CAR.ACTIVITY_ID, CAR.ACTION_ON_PAYMENT, CAR.RESERVE_ID, CAR.VEHICLE_ID, CAR.COVERAGE_ID,    
 CAT.MONTH_F, CAT.YEAR_F    
),      
      
CLAIM_EXPENSE_TABLE      
AS      
(      
 SELECT CAE.CLAIM_ID, CAE.ACTIVITY_ID, CAE.ACTION_ON_PAYMENT, CAE.RESERVE_ID, CAE.VEHICLE_ID, CRT.COVERAGE_ID,     
 CAT.MONTH_F, CAT.YEAR_F,     
/* (      
  SELECT CAEIN.PAYMENT_AMOUNT      
  FROM CLM_ACTIVITY_EXPENSE CAEIN      
  WHERE CAEIN.CLAIM_ID=CAE.CLAIM_ID      
  AND CAEIN.ACTIVITY_ID=CAE.ACTIVITY_ID       
  AND CAEIN.ACTION_ON_PAYMENT=CAE.ACTION_ON_PAYMENT      
  AND CAEIN.RESERVE_ID=CAE.RESERVE_ID      
 )*/      
 SUM(PAYMENT_AMOUNT) AS AMOUNT     
      
 FROM CLM_ACTIVITY_EXPENSE CAE      
 INNER JOIN CLAIM_RESERVE_TABLE CRT      
 ON CAE.CLAIM_ID=CRT.CLAIM_ID AND CAE.RESERVE_ID=CRT.RESERVE_ID      
 INNER JOIN CLAIM_ACTIVITY_TABLE CAT      
 ON CAE.CLAIM_ID = CAT.CLAIM_ID AND CAE.ACTIVITY_ID=CAT.ACTIVITY_ID AND CAE.ACTION_ON_PAYMENT=CAT.ACTION_ON_PAYMENT      
 GROUP BY CAE.CLAIM_ID, CAE.ACTIVITY_ID, CAE.ACTION_ON_PAYMENT, CAE.RESERVE_ID, CAE.VEHICLE_ID, CRT.COVERAGE_ID,    
 CAT.MONTH_F, CAT.YEAR_F    
),      
      
CLAIM_RECOVERY_TABLE      
AS      
(      
 SELECT CAR.CLAIM_ID, CAR.ACTIVITY_ID, CAR.ACTION_ON_RECOVERY AS ACTION_ON_PAYMENT, CAR.RESERVE_ID, CAR.VEHICLE_ID,    
 CAT.MONTH_F, CAT.YEAR_F,     
 CRT.COVERAGE_ID,       
 /*(      
  SELECT CARIN.AMOUNT      
  FROM CLM_ACTIVITY_RECOVERY CARIN      
  WHERE CARIN.CLAIM_ID=CAR.CLAIM_ID      
  AND CARIN.ACTIVITY_ID=CAR.ACTIVITY_ID       
  AND CARIN.ACTION_ON_RECOVERY=CAR.ACTION_ON_RECOVERY      
  AND CARIN.RESERVE_ID=CAR.RESERVE_ID      
 ) */     
 SUM(CAR.AMOUNT) AS AMOUNT    
      
 FROM CLM_ACTIVITY_RECOVERY CAR      
 INNER JOIN CLAIM_RESERVE_TABLE CRT      
 ON CAR.CLAIM_ID=CRT.CLAIM_ID AND CAR.RESERVE_ID=CRT.RESERVE_ID      
 INNER JOIN CLAIM_ACTIVITY_TABLE CAT      
 ON CAR.CLAIM_ID = CAT.CLAIM_ID AND CAR.ACTIVITY_ID=CAT.ACTIVITY_ID AND CAR.ACTION_ON_RECOVERY=CAT.ACTION_ON_PAYMENT      
 GROUP BY CAR.CLAIM_ID, CAR.ACTIVITY_ID, CAR.ACTION_ON_RECOVERY, CAR.RESERVE_ID, CAR.VEHICLE_ID, CRT.COVERAGE_ID,    
 CAT.MONTH_F, CAT.YEAR_F    
),      
      
CLAIM_PAYMENT_TABLE      
AS      
(      
 SELECT CAP.CLAIM_ID, CAP.ACTIVITY_ID, CAP.ACTION_ON_PAYMENT, CAP.RESERVE_ID, CAP.VEHICLE_ID, CRT.COVERAGE_ID,    
 CAT.MONTH_F, CAT.YEAR_F,     
 /*(      
  SELECT CAPIN.PAYMENT_AMOUNT      
  FROM CLM_ACTIVITY_PAYMENT CAPIN      
  WHERE CAPIN.CLAIM_ID=CAP.CLAIM_ID      
  AND CAPIN.ACTIVITY_ID=CAP.ACTIVITY_ID       
  AND CAPIN.ACTION_ON_PAYMENT=CAP.ACTION_ON_PAYMENT      
AND CAPIN.RESERVE_ID=CAP.RESERVE_ID      
 )     */
 SUM(PAYMENT_AMOUNT) AS AMOUNT      
      
 FROM CLM_ACTIVITY_PAYMENT CAP      
 INNER JOIN CLAIM_RESERVE_TABLE CRT      
 ON CAP.CLAIM_ID=CRT.CLAIM_ID AND CAP.RESERVE_ID=CRT.RESERVE_ID      
 INNER JOIN CLAIM_ACTIVITY_TABLE CAT      
 ON CAP.CLAIM_ID = CAT.CLAIM_ID AND CAP.ACTIVITY_ID=CAT.ACTIVITY_ID AND CAP.ACTION_ON_PAYMENT=CAT.ACTION_ON_PAYMENT      
 GROUP BY CAP.CLAIM_ID, CAP.ACTIVITY_ID, CAP.ACTION_ON_PAYMENT, CAP.RESERVE_ID, CAP.VEHICLE_ID, CRT.COVERAGE_ID,    
 CAT.MONTH_F, CAT.YEAR_F    
),      
      
CLAIM_TRANSACTION_DETAIL_TABLE      
AS      
(      
 SELECT DISTINCT CLAIM_ID, --ACTIVITY_ID,  
ACTION_ON_PAYMENT, VEHICLE_ID, COVERAGE_ID,     
 SUM(AMOUNT) AS AMOUNT, MONTH_F, YEAR_F    
 FROM CLAIM_RESERVE_TABLE 
 GROUP BY CLAIM_ID, ACTION_ON_PAYMENT,  VEHICLE_ID, COVERAGE_ID,     
  MONTH_F, YEAR_F      
 UNION      
 SELECT DISTINCT  CLAIM_ID, --ACTIVITY_ID, 
 ACTION_ON_PAYMENT, VEHICLE_ID, COVERAGE_ID,     
 SUM(AMOUNT) AS AMOUNT, MONTH_F, YEAR_F        
 FROM CLAIM_EXPENSE_TABLE      
 GROUP BY CLAIM_ID, ACTION_ON_PAYMENT, VEHICLE_ID, COVERAGE_ID,     
  MONTH_F, YEAR_F      
 UNION      
 SELECT DISTINCT  CLAIM_ID, --ACTIVITY_ID, 
 ACTION_ON_PAYMENT, VEHICLE_ID, COVERAGE_ID,     
 SUM(AMOUNT) AS AMOUNT, MONTH_F, YEAR_F      
 FROM CLAIM_RECOVERY_TABLE      
 GROUP BY CLAIM_ID, ACTION_ON_PAYMENT,  VEHICLE_ID, COVERAGE_ID,     
  MONTH_F, YEAR_F      
 UNION      
 SELECT DISTINCT  CLAIM_ID, --ACTIVITY_ID,  
 ACTION_ON_PAYMENT,  VEHICLE_ID, COVERAGE_ID,    
 SUM(AMOUNT) AS AMOUNT, MONTH_F, YEAR_F    
 FROM CLAIM_PAYMENT_TABLE      
 GROUP BY CLAIM_ID, ACTION_ON_PAYMENT, VEHICLE_ID, COVERAGE_ID,     
  MONTH_F, YEAR_F      
),      
      
CLAIM_TRANSACTION_FINAL      
AS      
(      
 SELECT  CCI.CUSTOMER_ID, CCI.POLICY_ID, CCI.POLICY_VERSION_ID, PCPL.POLICY_NUMBER,       
 PCPL.AGENCY_ID, MAL.AGENCY_CODE, MAL.AGENCY_DISPLAY_NAME,       
 CTDT.CLAIM_ID, CCI.CLAIM_NUMBER, --CTDT.ACTIVITY_ID,     
 CTDT.ACTION_ON_PAYMENT, CTD.DETAIL_TYPE_DESCRIPTION,      
 CTDT.VEHICLE_ID AS RISK_ID, CTDT.COVERAGE_ID, CTDT.AMOUNT, MONTH_F AS ACTV_MONTH,       
 YEAR_F AS ACTV_YEAR, LOB_ID, STATE_ID, CONVERT(VARCHAR(100), LOSS_DATE, 101) AS DATE_OF_LOSS,    
 (CASE WHEN LOB_ID = 4 THEN (SELECT TOP 1 BOAT_ID FROM CLM_INSURED_BOAT WHERE CTDT.CLAIM_ID = CLAIM_ID AND POLICY_BOAT_ID = CTDT.VEHICLE_ID)    
      WHEN LOB_ID = 2 OR LOB_ID = 3 THEN (SELECT TOP 1 INSURED_VEHICLE_ID FROM CLM_INSURED_VEHICLE WHERE CTDT.CLAIM_ID = CLAIM_ID AND POLICY_VEHICLE_ID = CTDT.VEHICLE_ID)    
      WHEN LOB_ID = 1 OR LOB_ID = 6 THEN (SELECT TOP 1 INSURED_LOCATION_ID FROM CLM_INSURED_LOCATION WHERE CTDT.CLAIM_ID = CLAIM_ID AND POLICY_LOCATION_ID = CTDT.VEHICLE_ID)    
      ELSE CTDT.VEHICLE_ID END) AS POLICY_RISK_ID       
 FROM CLAIM_TRANSACTION_DETAIL_TABLE CTDT      
 INNER JOIN CLM_CLAIM_INFO CCI       
 ON CTDT.CLAIM_ID=CCI.CLAIM_ID    
 --INNER JOIN CLM_ACTIVITY CA ON CA.CLAIM_ID=CCI.CLAIM_ID AND CA.ACTIVITY_ID = CTDT.ACTIVITY_ID       
 INNER JOIN POL_CUSTOMER_POLICY_LIST PCPL        
 ON PCPL.CUSTOMER_ID=CCI.CUSTOMER_ID AND PCPL.POLICY_ID=CCI.POLICY_ID AND PCPL.POLICY_VERSION_ID=CCI.POLICY_VERSION_ID      
 INNER JOIN MNT_AGENCY_LIST MAL ON MAL.AGENCY_ID=PCPL.AGENCY_ID      
 INNER JOIN CLM_TYPE_DETAIL CTD ON CTDT.ACTION_ON_PAYMENT = CTD.DETAIL_TYPE_ID      
)      
      
SELECT * FROM CLAIM_TRANSACTION_FINAL      
      
--GO      
--SELECT * FROM VW_CLAIM_TRANSACTION_DETAIL      
--ROLLBACK TRAN      
      
    
    
  






GO

