IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_BEGINING_ENDING_RESERVE]'))
DROP VIEW [dbo].[VW_BEGINING_ENDING_RESERVE]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- sp_helptext VW_BEGINING_ENDING_RESERVE
/*    
View Name                : dbo.VW_BEGINING_ENDING_RESERVE                                                                        
Created by               : Pravesh K Chandel                                                                          
Date                     : 20 Aug 2008    
Purpose                  : To get the BEGINING ENDING RESERVE    
Revison History          :      
Used In                  : Wolverine      
drop VIEW dbo.VW_BEGINING_ENDING_RESERVE     
*/    
CREATE VIEW [dbo].[VW_BEGINING_ENDING_RESERVE]    
AS 
    
WITH BEGIN_END_RESERVE AS    
(    
	select CAR.CLAIM_ID,YEAR(COMPLETED_DATE)YEAR_NUMBER,MONTH(COMPLETED_DATE) AS MONTH_NUMBER,    
	(
		SELECT ISNULL(SUM(OUTSTANDING),0) 
		FROM CLM_ACTIVITY_RESERVE CR    
		INNER JOIN CLM_ACTIVITY C 
		ON C.CLAIM_ID=CR.CLAIM_ID 
		AND CASE CR.ACTIVITY_ID WHEN 0 THEN 1 ELSE CR.ACTIVITY_ID END  = C.ACTIVITY_ID
		AND (C.ACTIVITY_STATUS=11801 OR C.ACTIVITY_STATUS=11986)    
		WHERE CR.CLAIM_ID=CAR.CLAIM_ID

 
          /*AND MONTH(C.COMPLETED_DATE) = --CASE WHEN MONTH(CA.COMPLETED_DATE)=1 THEN 12 ELSE MONTH(CA.COMPLETED_DATE)-1 END    
					(
					SELECT top 1 MONTH(COMPLETED_DATE) FROM CLM_ACTIVITY WHERE CLAIM_ID=C.CLAIM_ID 
					AND ACTIVITY_STATUS=C.ACTIVITY_STATUS     
					AND ACTION_ON_PAYMENT IN (165,166,167,168,205)    
					and COMPLETED_DATE < CAST( CONVERT(VARCHAR, MONTH(CA.COMPLETED_DATE) ) + '/01/'  + CONVERT(VARCHAR, YEAR(CA.COMPLETED_DATE)) AS DATETIME) 
						order by MONTH(CA.COMPLETED_DATE) desc
				)
			*/

		 AND datediff(dd, (C.COMPLETED_DATE) ,(  
		 SELECT top 1 (CLM_ACTIVITY.COMPLETED_DATE) FROM CLM_ACTIVITY 
		 WHERE CLM_ACTIVITY.CLAIM_ID = C.CLAIM_ID
		 AND CLM_ACTIVITY.ACTIVITY_STATUS = C.ACTIVITY_STATUS
		 AND CLM_ACTIVITY.ACTION_ON_PAYMENT IN (165,166,167,168,205)      
		 AND CLM_ACTIVITY.COMPLETED_DATE < 
		 CAST( CONVERT(VARCHAR, MONTH(CA.COMPLETED_DATE) ) + '/01/'  + CONVERT(VARCHAR, YEAR(CA.COMPLETED_DATE)) AS DATETIME)    
		  order by (CLM_ACTIVITY.COMPLETED_DATE) desc  
		) ) = 0


		AND YEAR(C.COMPLETED_DATE)=CASE WHEN MONTH(CA.COMPLETED_DATE)=1 THEN YEAR(CA.COMPLETED_DATE)-1 ELSE YEAR(CA.COMPLETED_DATE) END     
		AND C.ACTIVITY_ID=    
				(
					SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY WHERE CLAIM_ID=C.CLAIM_ID 
					AND ACTIVITY_STATUS=C.ACTIVITY_STATUS     
					AND MONTH(COMPLETED_DATE)=MONTH(C.COMPLETED_DATE) 
					AND YEAR(COMPLETED_DATE)=YEAR(C.COMPLETED_DATE)   
					AND ACTION_ON_PAYMENT IN (165,166,167,168,205)    
				)    
	)BEGIN_RESERVE,    
	(
		SELECT ISNULL(SUM(OUTSTANDING),0) 
		FROM CLM_ACTIVITY_RESERVE CR    
		INNER JOIN CLM_ACTIVITY C 
		ON C.CLAIM_ID=CR.CLAIM_ID 
		AND CASE CR.ACTIVITY_ID WHEN 0 THEN 1 ELSE CR.ACTIVITY_ID END  = C.ACTIVITY_ID
		AND (C.ACTIVITY_STATUS=11801 OR C.ACTIVITY_STATUS=11986)    
		WHERE CR.CLAIM_ID=CAR.CLAIM_ID AND MONTH(C.COMPLETED_DATE) = MONTH(CA.COMPLETED_DATE)    
		AND YEAR(C.COMPLETED_DATE)=YEAR(CA.COMPLETED_DATE)    
		AND C.ACTIVITY_ID=    
			(
				SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY 
				WHERE CLAIM_ID=C.CLAIM_ID AND ACTIVITY_STATUS=C.ACTIVITY_STATUS     
				AND MONTH(COMPLETED_DATE)=MONTH(C.COMPLETED_DATE) AND YEAR(COMPLETED_DATE)=YEAR(C.COMPLETED_DATE)  
				AND ACTION_ON_PAYMENT IN (165,166,167,168,205)      
			)    
	)END_RESERVE,    
    (
		SELECT ISNULL(SUM(CR.RI_RESERVE),0) 
		FROM CLM_ACTIVITY_RESERVE CR    
		INNER JOIN CLM_ACTIVITY C ON C.CLAIM_ID=CR.CLAIM_ID 
		AND C.ACTIVITY_ID=CR.ACTIVITY_ID AND (C.ACTIVITY_STATUS=11801 OR C.ACTIVITY_STATUS=11986)    
		WHERE CR.CLAIM_ID=CAR.CLAIM_ID 
		AND MONTH(C.COMPLETED_DATE) = --CASE WHEN MONTH(CA.COMPLETED_DATE)=1 THEN 12 ELSE MONTH(CA.COMPLETED_DATE)-1 END    
					(
					SELECT top 1 MONTH(COMPLETED_DATE) FROM CLM_ACTIVITY WHERE CLAIM_ID=C.CLAIM_ID 
					AND ACTIVITY_STATUS=C.ACTIVITY_STATUS     
					AND ACTION_ON_PAYMENT IN (169,171,170,172)    
					and COMPLETED_DATE < CAST( CONVERT(VARCHAR, MONTH(CA.COMPLETED_DATE) ) + '/01/'  + CONVERT(VARCHAR, YEAR(CA.COMPLETED_DATE)) AS DATETIME) 
						order by MONTH(CA.COMPLETED_DATE) desc
				)
		AND YEAR(C.COMPLETED_DATE)=CASE WHEN MONTH(CA.COMPLETED_DATE)=1 THEN YEAR(CA.COMPLETED_DATE)-1 ELSE YEAR(CA.COMPLETED_DATE) END     
		AND C.ACTIVITY_ID=    
			(
				SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY WHERE CLAIM_ID=C.CLAIM_ID AND ACTIVITY_STATUS=C.ACTIVITY_STATUS     
				AND MONTH(COMPLETED_DATE)=MONTH(C.COMPLETED_DATE) AND YEAR(COMPLETED_DATE)=YEAR(C.COMPLETED_DATE)     
				AND ACTION_ON_PAYMENT IN (169,171,170,172)    
			)    
	)BEGIN_RESERVE_REINSURANCE,    
    
	(
		SELECT ISNULL(SUM(CR.RI_RESERVE),0) FROM CLM_ACTIVITY_RESERVE CR    
		INNER JOIN CLM_ACTIVITY C ON C.CLAIM_ID=CR.CLAIM_ID AND C.ACTIVITY_ID=CR.ACTIVITY_ID AND (C.ACTIVITY_STATUS=11801 OR C.ACTIVITY_STATUS=11986)    
		WHERE CR.CLAIM_ID=CAR.CLAIM_ID AND MONTH(C.COMPLETED_DATE) = MONTH(CA.COMPLETED_DATE)    
		AND YEAR(C.COMPLETED_DATE)=YEAR(CA.COMPLETED_DATE)    
		AND C.ACTIVITY_ID=		
		(
			SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY WHERE CLAIM_ID=C.CLAIM_ID AND ACTIVITY_STATUS=C.ACTIVITY_STATUS     
			AND MONTH(COMPLETED_DATE)=MONTH(C.COMPLETED_DATE) AND YEAR(COMPLETED_DATE)=YEAR(C.COMPLETED_DATE)    
			AND ACTION_ON_PAYMENT IN (169,171,170,172)     
		)    
	)END_RESERVE_REINSURANCE    

	from CLM_ACTIVITY_RESERVE CAR    
	INNER JOIN CLM_ACTIVITY CA ON CA.CLAIM_ID=CAR.CLAIM_ID 
	AND CASE CAR.ACTIVITY_ID WHEN 0 THEN 1 ELSE CAR.ACTIVITY_ID END  = CA.ACTIVITY_ID
	AND (CA.ACTIVITY_STATUS=11801 OR CA.ACTIVITY_STATUS=11986)    
	WHERE COVERAGE_ID NOT IN (20007,20008,20009,20010,20011)--YEAR(COMPLETED_DATE)=YEAR(GETDATE())    
	group by CAR.claim_id,YEAR(CA.COMPLETED_DATE),MONTH(CA.COMPLETED_DATE)    
) ,
-----CHANGED FROM HERE
BEGINING_ENDING_RESERVE  AS
( 
SELECT PCPL.STATE_ID,PCPL.AGENCY_ID,PCPL.POLICY_LOB AS LOB_ID,PCPL.POLICY_ID,PCPL.POLICY_NUMBER,CLM.CREATED_DATETIME ,
case when claim_status ='11739' then null else CLOSED_DATE end as CLOSED_DATE,
VWBE.* FROM     
BEGIN_END_RESERVE VWBE    
INNER JOIN CLM_CLAIM_INFO CLM ON VWBE.CLAIM_ID=CLM.CLAIM_ID    
Left Outer JOIN POL_CUSTOMER_POLICY_LIST PCPL ON PCPL.CUSTOMER_ID=CLM.CUSTOMER_ID    
AND PCPL.POLICY_ID=CLM.POLICY_ID AND PCPL.POLICY_VERSION_ID=CLM.POLICY_VERSION_ID    
 ) ,

YEAR_TABLE1 as
(
SELECT YEAR(GETDATE()) AS CUR_YEAR
),
YEAR_TABLE AS
(
SELECT distinct YEAR_NUMBER AS NEW_YEAR FROM BEGINING_ENDING_RESERVE,year_table1
)

---------FINAL QUERY
SELECT distinct * FROM
(
	SELECT distinct
		STATE_ID,AGENCY_ID,LOB_ID,POLICY_ID,POLICY_NUMBER,
		CLAIM_ID,tt.month as MONTH_NUMBER,YT.NEW_YEAR AS YEAR_NUMBER,

	ISNULL(
		(SELECT BEGIN_RESERVE FROM BEGINING_ENDING_RESERVE WHERE CLAIM_ID=T.CLAIM_ID AND MONTH_NUMBER=TT.MONTH AND YEAR_NUMBER=YT.NEW_YEAR) ,
		(SELECT TOP 1 END_RESERVE FROM BEGINING_ENDING_RESERVE WHERE CLAIM_ID=T.CLAIM_ID 
				AND CAST(CONVERT(VARCHAR,MONTH_NUMBER) + '/' + '01' + '/' + CONVERT(VARCHAR,YEAR_NUMBER) AS DATETIME)
					<= CAST(CONVERT(VARCHAR,TT.MONTH) + '/' + '01' + '/' + CONVERT(VARCHAR,YT.NEW_YEAR ) AS DATETIME)
			ORDER BY YEAR_NUMBER DESC, MONTH_NUMBER DESC) 
	   ) BEGIN_RESERVE,

	ISNULL((SELECT END_RESERVE FROM BEGINING_ENDING_RESERVE WHERE CLAIM_ID=T.CLAIM_ID AND MONTH_NUMBER=TT.MONTH AND YEAR_NUMBER=YT.NEW_YEAR),
			(SELECT TOP 1 END_RESERVE FROM BEGINING_ENDING_RESERVE WHERE CLAIM_ID=T.CLAIM_ID 
				AND CAST(CONVERT(VARCHAR,MONTH_NUMBER) + '/' + '01' + '/' + CONVERT(VARCHAR,YEAR_NUMBER) AS DATETIME)
					<= CAST(CONVERT(VARCHAR,TT.MONTH) + '/' + '01' + '/' + CONVERT(VARCHAR,YT.NEW_YEAR ) AS DATETIME)
				ORDER BY YEAR_NUMBER DESC,MONTH_NUMBER DESC) 
		) END_RESERVE,

	ISNULL(
		(SELECT BEGIN_RESERVE_REINSURANCE FROM BEGINING_ENDING_RESERVE WHERE CLAIM_ID=T.CLAIM_ID AND MONTH_NUMBER=TT.MONTH AND YEAR_NUMBER=YT.NEW_YEAR) ,
		(SELECT TOP 1 END_RESERVE_REINSURANCE FROM BEGINING_ENDING_RESERVE WHERE CLAIM_ID=T.CLAIM_ID 
				AND CAST(CONVERT(VARCHAR,MONTH_NUMBER) + '/' + '01' + '/' + CONVERT(VARCHAR,YEAR_NUMBER) AS DATETIME)
					<= CAST(CONVERT(VARCHAR,TT.MONTH) + '/' + '01' + '/' + CONVERT(VARCHAR,YT.NEW_YEAR ) AS DATETIME)
			ORDER BY YEAR_NUMBER DESC, MONTH_NUMBER DESC) 
	   ) BEGIN_RESERVE_REINSURANCE,

	ISNULL((SELECT END_RESERVE_REINSURANCE FROM BEGINING_ENDING_RESERVE WHERE CLAIM_ID=T.CLAIM_ID AND MONTH_NUMBER=TT.MONTH AND YEAR_NUMBER=YT.NEW_YEAR),
			(SELECT TOP 1 END_RESERVE_REINSURANCE FROM BEGINING_ENDING_RESERVE WHERE CLAIM_ID=T.CLAIM_ID 
				AND CAST(CONVERT(VARCHAR,MONTH_NUMBER) + '/' + '01' + '/' + CONVERT(VARCHAR,YEAR_NUMBER) AS DATETIME)
					<= CAST(CONVERT(VARCHAR,TT.MONTH) + '/' + '01' + '/' + CONVERT(VARCHAR,YT.NEW_YEAR ) AS DATETIME)
				ORDER BY YEAR_NUMBER DESC,MONTH_NUMBER DESC) 
		) END_RESERVE_REINSURANCE,
	 STARTDATE,ENDDATE
	 FROM
		(  SELECT DISTINCT MONTH_NUMBER,CLAIM_ID, 
				STATE_ID,
				AGENCY_ID,
				LOB_ID,
				POLICY_ID,
				POLICY_NUMBER,
				YEAR_NUMBER,
				[YEAR_NUMBER] IYEAR,
				CREATED_DATETIME AS STARTDATE,
				CLOSED_DATE AS ENDDATE 
			FROM BEGINING_ENDING_RESERVE 
		)T, MONTHS_TABLE TT,YEAR_TABLE YT

) FINAL

WHERE BEGIN_RESERVE IS NOT NULL
AND DATEADD(DD,-1,DATEADD(MM,1,CAST(CONVERT(VARCHAR,MONTH_NUMBER) + '/01/' + CONVERT(VARCHAR,YEAR_NUMBER) AS DATETIME))) >=cast(convert(varchar,STARTDATE,101) as datetime)
--AND DATEADD(DD,-1,DATEADD(MM,1,CAST(CONVERT(VARCHAR,MONTH_NUMBER) + '/01/' + CONVERT(VARCHAR,year(isnull(ENDDATE,getdate()))) AS DATETIME))) <=isnull(ENDDATE,getdate())

AND     
(    
	DATEADD(DD,-1,DATEADD(MM,1,CAST( CONVERT(VARCHAR,MONTH( isnull(ENDDATE,dateadd(dd,-1,dateadd(m,1,getdate()))) ) ) + '/01/' + CONVERT(VARCHAR,YEAR(isnull(ENDDATE,dateadd(dd,-1,dateadd(m,1,getdate()))) )) AS DATETIME))) >=     
	DATEADD(DD,-1,DATEADD(MM,1,CAST(CONVERT(VARCHAR,MONTH_NUMBER) + '/01/' + CONVERT(VARCHAR,YEAR_NUMBER) AS DATETIME)))     
)    

--AND 
--(
--isnull(ENDDATE,dateadd(dd,-1,dateadd(m,1,getdate()))) >=  DATEADD(DD,-1,DATEADD(MM,1,CAST(CONVERT(VARCHAR,MONTH_NUMBER) + '/01/' + CONVERT(VARCHAR,YEAR_NUMBER) AS DATETIME))) 
--)
--ORDER BY FINAL.YEAR_NUMBER, FINAL.CLAIM_ID, FINAL.[MONTH_NUMBER]




GO

