IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_SUSEP_BROKER_COMMISSION]'))
DROP VIEW [dbo].[VW_SUSEP_BROKER_COMMISSION]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

---CREATED BY :		ANKIT GOEL
---PURPOSE :		BROKEN COMMISION PAID & USED IN	PROC_SUSEP_CORRETAGEN_COMMISSION_PAID
---MODIFIED HISTORY:

CREATE VIEW [dbo].[VW_SUSEP_BROKER_COMMISSION]
AS 
--BEGIN
--SELECT DISTINCT SUSEP_LOB_CODE FROM MNT_LOB_MASTER

SELECT 
--Numeric sequence in file 
ROW_NUMBER() over (order by C_LST.CUSTOMER_ID,C_LST.POLICY_ID,C_LST.POLICY_VERSION_ID ASC ) AS SEQUENCIA,

C_LST.CUSTOMER_ID,    

C_LST.POLICY_ID,     

C_LST.POLICY_VERSION_ID, 

C_LST.POLICY_NUMBER,

A_smt_det.PAYMENT_DATE,  

--Company Code in SUSEP 
'05045' AS COD_CIA,

--REFERENCE MONTH
--GETDATE() AS DT_BASE,
 
--SUSEP LOL (Line of Business)
RIGHT('0000'+ L_LST.SUSEP_LOB_CODE,4) AS COD_RAMO, 

--Policy Number 
C_LST.POLICY_NUMBER AS NUM_APOL,

-- Endorsement number 
P_ENDOR.ENDORSEMENT_NO AS NUM_EN,

 --Sequence number of installment
APID.INSTALLMENT_NO AS  PARCELA,

--Number of installments,
(SELECT COUNT(*) FROM ACT_POLICY_INSTALLMENT_DETAILS APID2 WHERE 
APID2.CUSTOMER_ID = APID.CUSTOMER_ID 
AND APID2.POLICY_ID = APID.POLICY_ID
	AND APID2.POLICY_VERSION_ID =  APID.POLICY_VERSION_ID) AS  QTDE_PARC,
--NULL AS  QTDE_PARC, 

--BROKER COMMISSION
A_smt_det.COMMISSION_AMOUNT AS  VR_PG_COR,
 
--BROKER NAME
A_LST.AGENCY_DISPLAY_NAME AS NOM_CORAG,

--CPF/CNPG
A_LST.BROKER_CPF_CNPJ AS CPF_CNPJ_C,

--SUSEP code of broker, agents, canvassers or partners
A_LST.AGENCY_CODE AS COD_COR 

--,A_smt_det.*


FROM ACT_AGENCY_STATEMENT_DETAILED A_smt_det  WITH(NOLOCK)  
INNER JOIN  MNT_AGENCY_LIST A_LST  WITH(NOLOCK)   
   ON A_smt_det.AGENCY_ID = A_LST.AGENCY_ID       
INNER JOIN POL_CUSTOMER_POLICY_LIST C_LST  WITH(NOLOCK)   
   ON --C_LST.AGENCY_ID = A_smt_det.AGENCY_ID AND    
    A_smt_det.CUSTOMER_ID = C_LST.CUSTOMER_ID    
   AND A_smt_det.POLICY_ID = C_LST.POLICY_ID     
   AND A_smt_det.POLICY_VERSION_ID = C_LST.POLICY_VERSION_ID 
INNER JOIN POL_REMUNERATION PR WITH(NOLOCK) 
	ON PR.CUSTOMER_ID = C_LST.CUSTOMER_ID 
	AND PR.POLICY_ID = C_LST.POLICY_ID
	AND PR.POLICY_VERSION_ID =  C_LST.POLICY_VERSION_ID  
	AND PR.BROKER_ID = A_smt_det.AGENCY_ID   
INNER JOIN MNT_DIV_LIST D_LST WITH(NOLOCK)    
 ON D_LST.DIV_ID = C_LST.DIV_ID  
INNER JOIN MNT_LOB_MASTER L_LST WITH(NOLOCK)      
 ON CAST(L_LST.LOB_ID AS VARCHAR) = C_LST.POLICY_LOB   
INNER JOIN ACT_POLICY_INSTALLMENT_DETAILS APID 
	ON APID.CUSTOMER_ID = C_LST.CUSTOMER_ID 
	AND APID.POLICY_ID = C_LST.POLICY_ID
	AND APID.POLICY_VERSION_ID =  C_LST.POLICY_VERSION_ID
	AND APID.INSTALLMENT_NO = A_smt_det.INSTALLMENT_NO
INNER JOIN MNT_COUNTRY_STATE_LIST MCSL  
  ON A_LST.AGENCY_STATE  =  CAST(MCSL.STATE_ID  as nvarchar)   
AND A_LST.AGENCY_COUNTRY = MCSL.COUNTRY_ID      
LEFT JOIN POL_POLICY_ENDORSEMENTS P_ENDOR  WITH(NOLOCK)      
 ON P_ENDOR.CUSTOMER_ID = A_smt_det.CUSTOMER_ID      
    AND P_ENDOR.POLICY_ID = A_smt_det.POLICY_ID      
    AND P_ENDOR.POLICY_VERSION_ID = A_smt_det.POLICY_VERSION_ID

   WHERE  --ISNULL(A_smt_det.IS_COMMISSION_PROCESS,'N') <>'Y'  AND      
        A_LST.AGENCY_TYPE_ID IN (14701,14702)  
        AND  A_smt_det.COMMISSION_AMOUNT < 0  
        AND A_smt_det.COMM_TYPE IN ('PRLBR','COMM','ENFEE')  
        AND CONVERT(date,A_LST.TERMINATION_DATE,101) >= convert(date,GETDATE(),101)
        
    --END

GO

