IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_CANCEL_POLICY_LIST]'))
DROP VIEW [dbo].[VW_CANCEL_POLICY_LIST]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--DROP VIEW VW_CANCEL_POLICY_LIST
CREATE VIEW VW_CANCEL_POLICY_LIST
as
SELECT 
PCPL.AGENCY_ID,
AL.AGENCY_DISPLAY_NAME + '(' + ISNULL(RTRIM(LTRIM(AGENCY_CODE)),'') + ')' AGENCY, 
PCPL.CUSTOMER_ID,
PCPL.POLICY_ID,
PCPL.POLICY_VERSION_ID,
PCPL.POLICY_NUMBER,
ISNULL(CAL.FIRST_NAME,'')+ ISNULL(CAL.MIDDLE_NAME + ' ','') + ISNULL(CAL.LAST_NAME + ' ','') AS  INSURED,
PPP.EFFECTIVE_DATETIME AS  CANCEL_EFFECTIVE_DATE,
PPP.COMPLETED_DATETIME AS  CANCEL_COMMITED_DATE,
CAL.CITY CITY,
PCPL.STATE_ID,
MCSL. STATE_CODE AS STATE,
APP_EFFECTIVE_DATE AS EFFECTIVE_DATE,
APP_EXPIRATION_DATE AS EXPIRY_DATE,
PCPL.BILL_TYPE_ID,
CASE PCPL.BILL_TYPE_ID WHEN 11276 THEN 'MORTGAGE'
	ELSE
	 CASE  PCPL.BILL_TYPE WHEN 'AB' THEN 'AGENCY' ELSE 'DIRECT' END 
	END	
AS BILL_TO,
PCPL.POLICY_LOB AS LOB_ID,
LOB.LOB_DESC LOB

FROM POL_CUSTOMER_POLICY_LIST PCPL
INNER JOIN POL_POLICY_PROCESS PPP ON PCPL.CUSTOMER_ID=PPP.CUSTOMER_ID 
	AND PCPL.POLICY_ID=PPP.POLICY_ID 
	AND PCPL.POLICY_VERSION_ID=PPP.NEW_POLICY_VERSION_ID
	AND PPP.PROCESS_ID=12
	AND PPP.PROCESS_STATUS='COMPLETE'
INNER JOIN POL_APPLICANT_LIST PAL ON PAL.CUSTOMER_ID=PCPL.CUSTOMER_ID
	AND PAL.POLICY_ID=PCPL.POLICY_ID
	AND PAL.POLICY_VERSION_ID=PCPL.POLICY_VERSION_ID
	AND IS_PRIMARY_APPLICANT =1
INNER JOIN CLT_APPLICANT_LIST CAL ON CAL.APPLICANT_ID=PAL.APPLICANT_ID
	AND CAL.CUSTOMER_ID=PAL.CUSTOMER_ID

INNER JOIN  MNT_AGENCY_LIST AL ON AL.AGENCY_ID=PCPL.AGENCY_ID

LEFT OUTER JOIN MNT_LOB_MASTER LOB ON LOB.LOB_ID=PCPL.POLICY_LOB
LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST MCSL ON MCSL.STATE_ID=PCPL.STATE_ID




GO

