IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_GetOpenItemsForCheck]'))
DROP VIEW [dbo].[VW_GetOpenItemsForCheck]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


--DROP VIEW dbo.VW_GetOpenItemsForCheck
Create VIEW [dbo].[VW_GetOpenItemsForCheck]
AS 
 
--WITH

	SELECT OPEN_ITEM.IDEN_ROW_ID,CPL.CUSTOMER_ID, CPL.POLICY_ID,CPL.POLICY_NUMBER AS POLICY_NUMBER,
	CONVERT(VARCHAR(30),
	(SELECT MAX(POSTING_DATE) FROM ACT_CUSTOMER_OPEN_ITEMS OIIN WITH(NOLOCK) WHERE     
	OIIN.CUSTOMER_ID = CPL.CUSTOMER_ID AND    
	OIIN.POLICY_ID = CPL.POLICY_ID      
	AND UPDATED_FROM='D'),101)AS PAYMENT_DATE,
	CONVERT(VARCHAR(30),
			(
				SELECT MAX(ISNULL(PPP.EFFECTIVE_DATETIME,'''')) FROM POL_POLICY_PROCESS PPP
				WHERE PPP.CUSTOMER_ID = CPL.CUSTOMER_ID AND PPP.POLICY_ID = CPL.POLICY_ID
				AND PPP.PROCESS_ID IN (29,12,14)
			),101) AS SOURCE_TRAN_DATE,
	SUM(ISNULL(TOTAL_PAID,0) - ISNULL(TOTAL_DUE,0)) AS REFUND_AMOUNT,ITEM_STATUS--,OPEN_ITEM.SOURCE_TRAN_DATE
	,CPL.POLICY_VERSION_ID
	FROM POL_CUSTOMER_POLICY_LIST CPL WITH (NOLOCK)        
	INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OPEN_ITEM WITH (NOLOCK)       
	ON CPL.CUSTOMER_ID = OPEN_ITEM.CUSTOMER_ID          
	AND CPL.POLICY_ID  = OPEN_ITEM.POLICY_ID          
	AND CPL.POLICY_VERSION_ID = OPEN_ITEM.POLICY_VERSION_ID          
	WHERE (ISNULL(OPEN_ITEM.TOTAL_PAID,0) - ISNULL(OPEN_ITEM.TOTAL_DUE,0)) > 0          
	AND          
	( 
		SELECT ISNULL(SUM(ISNULL(OI.TOTAL_DUE,0) - ISNULL(OI.TOTAL_PAID,0)),0)           
		FROM ACT_CUSTOMER_OPEN_ITEMS OI WITH (NOLOCK)
		WHERE OI.CUSTOMER_ID = CPL.CUSTOMER_ID AND OI.POLICY_ID = CPL.POLICY_ID           
	) < 0           
	AND ITEM_STATUS in ('RSP','ROP','OP','RP','SP')          
	AND ISNULL(IS_CHECK_CREATED,'N') = 'N'            
--and policy_number = 'A7002510'    
	GROUP BY OPEN_ITEM.IDEN_ROW_ID,CPL.CUSTOMER_ID, CPL.POLICY_ID,CPL.POLICY_NUMBER,ITEM_STATUS,OPEN_ITEM.SOURCE_TRAN_DATE
	,CPL.POLICY_VERSION_ID

--SELECT * FROM VW_GetOpenItemsForCheck





GO

