IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_EARNED_PREMIUM_LOSS_INCURRED]'))
DROP VIEW [dbo].[VW_EARNED_PREMIUM_LOSS_INCURRED]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN
--DROP VIEW dbo.VW_EARNED_PREMIUM_LOSS_INCURRED
--GO
 
CREATE VIEW dbo.VW_EARNED_PREMIUM_LOSS_INCURRED
AS

WITH
PAID_LOSS_TABLE
AS
(
	SELECT VW1.CLAIM_ID, VW1.ACTIVITY_ID, VW1.ACTION_ON_PAYMENT, VW1.RESERVE_ID, VW1.VEHICLE_ID, VW1.COVERAGE_ID,
	(
		SELECT CASE WHEN VW1.ACTION_ON_PAYMENT IN (180, 181) THEN VWIN.AMOUNT END 
		FROM VW_CLAIM_TRANSACTION_DETAIL VWIN 
		WHERE VWIN.CLAIM_ID=VW1.CLAIM_ID AND VWIN.RESERVE_ID=VW1.RESERVE_ID AND VWIN.VEHICLE_ID=VW1.VEHICLE_ID
		AND VWIN.ACTIVITY_ID=VW1.ACTIVITY_ID AND VWIN.ACTION_ON_PAYMENT=VW1.ACTION_ON_PAYMENT
	)
	PAID_LOSS_PARTIAL_FINAL,
	(
		SELECT CASE WHEN VW1.ACTION_ON_PAYMENT IN (176, 177) THEN VWIN.AMOUNT END
		FROM VW_CLAIM_TRANSACTION_DETAIL VWIN 
		WHERE VWIN.CLAIM_ID=VW1.CLAIM_ID AND VWIN.RESERVE_ID=VW1.RESERVE_ID AND VWIN.VEHICLE_ID=VW1.VEHICLE_ID
		AND VWIN.ACTIVITY_ID=VW1.ACTIVITY_ID AND VWIN.ACTION_ON_PAYMENT=VW1.ACTION_ON_PAYMENT
	)
	SALVAGE_SUBROGATION_EXPENSE,
	(
		SELECT CASE WHEN VW1.ACTION_ON_PAYMENT IN (188) THEN VWIN.AMOUNT END
		FROM VW_CLAIM_TRANSACTION_DETAIL VWIN 
		WHERE VWIN.CLAIM_ID=VW1.CLAIM_ID AND VWIN.RESERVE_ID=VW1.RESERVE_ID AND VWIN.VEHICLE_ID=VW1.VEHICLE_ID
		AND VWIN.ACTIVITY_ID=VW1.ACTIVITY_ID AND VWIN.ACTION_ON_PAYMENT=VW1.ACTION_ON_PAYMENT
	)
	CREDIT_TO_PAID_LOSS,
	(
		SELECT CASE WHEN VW1.ACTION_ON_PAYMENT IN (242, 243, 244, 245) THEN VWIN.AMOUNT END
		FROM VW_CLAIM_TRANSACTION_DETAIL VWIN 
		WHERE VWIN.CLAIM_ID=VW1.CLAIM_ID AND VWIN.RESERVE_ID=VW1.RESERVE_ID AND VWIN.VEHICLE_ID=VW1.VEHICLE_ID
		AND VWIN.ACTIVITY_ID=VW1.ACTIVITY_ID AND VWIN.ACTION_ON_PAYMENT=VW1.ACTION_ON_PAYMENT
	)
	CREDIT_VOID_SALVAGE_SUBROGATION_EXPENSE,
	(
		SELECT CASE WHEN VW1.ACTION_ON_PAYMENT IN (240) THEN VWIN.AMOUNT END
		FROM VW_CLAIM_TRANSACTION_DETAIL VWIN 
		WHERE VWIN.CLAIM_ID=VW1.CLAIM_ID AND VWIN.RESERVE_ID=VW1.RESERVE_ID AND VWIN.VEHICLE_ID=VW1.VEHICLE_ID
		AND VWIN.ACTIVITY_ID=VW1.ACTIVITY_ID AND VWIN.ACTION_ON_PAYMENT=VW1.ACTION_ON_PAYMENT
	)
	VOID_PAID_LOSS
  
	FROM VW_CLAIM_TRANSACTION_DETAIL VW1
	WHERE VW1.ACTION_ON_PAYMENT IN (180, 181, 176, 177, 188, 242, 243, 244, 245, 240)
	GROUP BY VW1.CLAIM_ID, VW1.ACTIVITY_ID, VW1.ACTION_ON_PAYMENT, VW1.RESERVE_ID, VW1.VEHICLE_ID, VW1.COVERAGE_ID
),

PAID_LOSS_FINAL_TABLE
AS
(
SELECT PLT.CLAIM_ID, PLT.VEHICLE_ID, PLT.COVERAGE_ID, 
SUM((ISNULL(PAID_LOSS_PARTIAL_FINAL,0)+ ISNULL(SALVAGE_SUBROGATION_EXPENSE,0)) - 
(ISNULL(CREDIT_TO_PAID_LOSS,0) + ISNULL(CREDIT_VOID_SALVAGE_SUBROGATION_EXPENSE,0) + ISNULL(VOID_PAID_LOSS,0)))
AS GROSS_LOSS_PAID
FROM PAID_LOSS_TABLE PLT
GROUP BY PLT.CLAIM_ID, PLT.VEHICLE_ID, PLT.COVERAGE_ID
),

BEGINING_RESERVE_TABLE
AS
(
	SELECT CLAIM_ID, VEHICLE_ID, COVERAGE_ID, ISNULL(OUTSTANDING,0) BEGINING_RESERVE
	FROM CLM_ACTIVITY_RESERVE CAR
	WHERE TRANSACTION_ID=1 AND CLAIM_ID IN
	(
		SELECT DISTINCT VW1.CLAIM_ID FROM VW_CLAIM_TRANSACTION_DETAIL VW1
		WHERE VW1.ACTIVITY_ID=0
	)
),

ENDING_RESERVE_TABLE
AS
(
	SELECT CAR.CLAIM_ID, CAR.VEHICLE_ID, CAR.COVERAGE_ID, ISNULL(OUTSTANDING,0) ENDING_RESERVE
	FROM CLM_ACTIVITY_RESERVE CAR
	INNER JOIN VW_CLAIM_TRANSACTION_DETAIL VW1
	ON VW1.CLAIM_ID=CAR.CLAIM_ID AND VW1.ACTIVITY_ID= CAR.ACTIVITY_ID AND VW1.ACTION_ON_PAYMENT= CAR.ACTION_ON_PAYMENT
	AND VW1.VEHICLE_ID=CAR.VEHICLE_ID AND VW1.COVERAGE_ID=CAR.COVERAGE_ID
	WHERE TRANSACTION_ID=
	(
		SELECT MAX(TRANSACTION_ID) FROM CLM_ACTIVITY_RESERVE CARIN
		WHERE CARIN.CLAIM_ID= VW1.CLAIM_ID AND VW1.ACTIVITY_ID= CARIN.ACTIVITY_ID 
		AND VW1.VEHICLE_ID=CARIN.VEHICLE_ID AND VW1.COVERAGE_ID=CARIN.COVERAGE_ID
		AND VW1.ACTION_ON_PAYMENT= CARIN.ACTION_ON_PAYMENT
	)
	AND CAR.CLAIM_ID IN
	(
		SELECT DISTINCT VW1.CLAIM_ID FROM VW_CLAIM_TRANSACTION_DETAIL VW1
		WHERE VW1.ACTIVITY_ID=0
	)
),

ENDING_RESERVE_FINAL_TABLE
AS
(
	SELECT CLAIM_ID, VEHICLE_ID, COVERAGE_ID, SUM(ISNULL(ENDING_RESERVE,0)) AS GROSS_ENDING_RESERVE
	FROM ENDING_RESERVE_TABLE
	GROUP BY CLAIM_ID, VEHICLE_ID, COVERAGE_ID
),


LOSS_INCURRED_TABLE
AS
(
	SELECT BRT.CLAIM_ID, BRT.VEHICLE_ID, BRT.COVERAGE_ID , ISNULL(PLFT.GROSS_LOSS_PAID,0) GROSS_LOSS_PAID, 
	(ISNULL(BEGINING_RESERVE,0) + ISNULL(PLFT.GROSS_LOSS_PAID,0) - ISNULL(GROSS_ENDING_RESERVE,0)) GROSS_LOSS_INCURRED
	FROM BEGINING_RESERVE_TABLE BRT
	INNER JOIN ENDING_RESERVE_FINAL_TABLE ERT 
	ON ERT.CLAIM_ID=BRT.CLAIM_ID AND ERT.VEHICLE_ID=BRT.VEHICLE_ID AND ERT.COVERAGE_ID=BRT.COVERAGE_ID
	INNER JOIN PAID_LOSS_FINAL_TABLE PLFT
	ON ERT.CLAIM_ID=PLFT.CLAIM_ID AND ERT.VEHICLE_ID=PLFT.VEHICLE_ID AND ERT.COVERAGE_ID=PLFT.COVERAGE_ID
),

AGENCY_LOSS_INCURRED
AS
(
	SELECT  CCI.CUSTOMER_ID, CCI.POLICY_ID, CCI.POLICY_VERSION_ID, PCPL.POLICY_NUMBER, 
	PCPL.AGENCY_ID, MAL.AGENCY_CODE, MAL.AGENCY_DISPLAY_NAME, 
	PCPL.POLICY_LOB AS LOB_ID, MLM.LOB_DESC, PCPL.STATE_ID,  
	LIT.CLAIM_ID, CCI.CLAIM_NUMBER, LIT.VEHICLE_ID, LIT.COVERAGE_ID, 
	ISNULL(AEP.WRITTEN_PREMIUM,0) WRITTEN_PREMIUM, ISNULL(AEP.EARNED_PREMIUM,0) EARNED_PREMIUM,
	LIT.GROSS_LOSS_PAID, LIT.GROSS_LOSS_INCURRED,
	MONTH(GETDATE()) CURR_MONTH, YEAR(GETDATE()) CURR_YEAR
	FROM LOSS_INCURRED_TABLE LIT
	INNER JOIN CLM_CLAIM_INFO CCI 
	ON LIT.CLAIM_ID=CCI.CLAIM_ID 
	INNER JOIN POL_CUSTOMER_POLICY_LIST PCPL  
	ON PCPL.CUSTOMER_ID=CCI.CUSTOMER_ID AND PCPL.POLICY_ID=CCI.POLICY_ID AND PCPL.POLICY_VERSION_ID=CCI.POLICY_VERSION_ID
	INNER JOIN MNT_LOB_MASTER MLM ON MLM.LOB_ID=PCPL.POLICY_LOB
	INNER JOIN MNT_AGENCY_LIST MAL ON MAL.AGENCY_ID=PCPL.AGENCY_ID
	LEFT JOIN ACT_EARNED_PREMIUM AEP 
	ON PCPL.CUSTOMER_ID=AEP.CUSTOMER_ID AND PCPL.POLICY_ID=AEP.POLICY_ID AND PCPL.POLICY_VERSION_ID=AEP.VERSION_FOR_RISK
)

SELECT * FROM AGENCY_LOSS_INCURRED


--GO
--SELECT * FROM VW_EARNED_PREMIUM_LOSS_INCURRED
--ROLLBACK TRAN

GO

