IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_RENTAL_DETAILS]'))
DROP VIEW [dbo].[VW_RENTAL_DETAILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN
--DROP VIEW VW_RENTAL_DETAILS
--GO
CREATE VIEW VW_RENTAL_DETAILS
AS
WITH
MNT_BUILDING_TYPE
AS
(
	SELECT DISTINCT PDI.BUILDING_TYPE, MLV.LOOKUP_VALUE_DESC
	FROM POL_DWELLINGS_INFO PDI
	INNER JOIN MNT_LOOKUP_VALUES MLV
	ON PDI.BUILDING_TYPE = MLV.LOOKUP_UNIQUE_ID
),

MNT_PROTECTION_CLASS
AS
(
	SELECT DISTINCT PHR.PROT_CLASS, MLV.LOOKUP_VALUE_DESC
	FROM POL_HOME_RATING_INFO PHR
	INNER JOIN MNT_LOOKUP_VALUES MLV
	ON PHR.PROT_CLASS = MLV.LOOKUP_UNIQUE_ID
),

MNT_HYDRANT_DIST
AS
(
	SELECT DISTINCT PHR.HYDRANT_DIST, MLV.LOOKUP_VALUE_DESC
	FROM POL_HOME_RATING_INFO PHR
	INNER JOIN MNT_LOOKUP_VALUES MLV
	ON PHR.HYDRANT_DIST = MLV.LOOKUP_UNIQUE_ID
),

MNT_NO_OF_AMPS
AS
(
	SELECT DISTINCT PHR.NO_OF_AMPS, MLV.LOOKUP_VALUE_DESC
	FROM POL_HOME_RATING_INFO PHR
	INNER JOIN MNT_LOOKUP_VALUES MLV
	ON PHR.NO_OF_AMPS = MLV.LOOKUP_UNIQUE_ID
),

MNT_ROOF_TYPE
AS
(
	SELECT DISTINCT PHR.ROOF_TYPE, MLV.LOOKUP_VALUE_DESC
	FROM POL_HOME_RATING_INFO PHR
	INNER JOIN MNT_LOOKUP_VALUES MLV
	ON PHR.ROOF_TYPE = MLV.LOOKUP_UNIQUE_ID
),

MNT_PRIMARY_HEAT
AS
(
	SELECT DISTINCT PHR.PRIMARY_HEAT_TYPE, MLV.LOOKUP_VALUE_DESC
	FROM POL_HOME_RATING_INFO PHR
	INNER JOIN MNT_LOOKUP_VALUES MLV
	ON PHR.PRIMARY_HEAT_TYPE = MLV.LOOKUP_UNIQUE_ID
),

MNT_SECONDARY_HEAT
AS
(
	SELECT DISTINCT PHR.SECONDARY_HEAT_TYPE, MLV.LOOKUP_VALUE_DESC
	FROM POL_HOME_RATING_INFO PHR
	INNER JOIN MNT_LOOKUP_VALUES MLV
	ON PHR.SECONDARY_HEAT_TYPE = MLV.LOOKUP_UNIQUE_ID
)

SELECT DISTINCT PCL.POLICY_NUMBER,PCL.POLICY_LOB,LOC_NUM AS LOCATION_NO,MLV.LOOKUP_VALUE_DESC AS LOCATION_IS, 
LOC_ADD1 + ' '+ LOC_ADD2 AS ADDRESS,LOC_CITY AS CITY,LOC_STATE, LOC_COUNTY AS COUNTY,
isnull(YEARS_INSU,'') AS 'YEARS CONT. INSURED',
CASE PHR.IS_UNDER_CONSTRUCTION WHEN 0 THEN 'NO' WHEN 1 THEN 'YES'END AS UNDER_CONSTRUCTION,
PDI.MARKET_VALUE AS 'REPAIR COST/MARKET VALUE',MBT.LOOKUP_VALUE_DESC AS BUILDING_TYPE,PDI.YEAR_BUILT AS CONSTRUCTION_YEAR,
CASE WHEN PDI.OCCUPIED_DAILY = 'N' THEN 'YES' WHEN PDI.OCCUPIED_DAILY = 'Y' THEN 'NO' ELSE '' END AS SEASONAL,
MPC.LOOKUP_VALUE_DESC AS PROTECTION_CLASS,MHD.LOOKUP_VALUE_DESC AS DISTANCE_TO_FIRE_HYDRANT, 
PHR.FIRE_STATION_DIST AS MILES_FROM_FIRE_STATION,MNA.LOOKUP_VALUE_DESC AS NUMBER_OF_AMPS, 
CASE CIRCUIT_BREAKERS WHEN 10963 THEN 'YES' WHEN 10964 THEN 'NO' ELSE '' END AS CIRCUIT_BREAKERS, 
MRT.LOOKUP_VALUE_DESC AS ROOF_TYPE,PHR.NO_OF_FAMILIES,MPH.LOOKUP_VALUE_DESC AS PRIMARY_HEAT_TYPE, 
MSH.LOOKUP_VALUE_DESC AS SECONDARY_HEAT_TYPE, APSD.GROSS_PREMIUM
FROM POL_LOCATIONS PL
INNER JOIN POL_HOME_OWNER_GEN_INFO AHG
	ON PL.CUSTOMER_ID = AHG.CUSTOMER_ID
	AND PL.POLICY_ID = AHG.POLICY_ID
INNER JOIN POL_HOME_RATING_INFO PHR
	ON PL.CUSTOMER_ID = PHR.CUSTOMER_ID
	AND PL.POLICY_ID = PHR.POLICY_ID
	AND PL.POLICY_VERSION_ID = PHR.POLICY_VERSION_ID
INNER JOIN POL_DWELLINGS_INFO PDI
	ON PL.CUSTOMER_ID = PDI.CUSTOMER_ID
	AND PL.POLICY_ID = PDI.POLICY_ID
	AND PL.POLICY_VERSION_ID = PDI.POLICY_VERSION_ID
INNER JOIN POL_CUSTOMER_POLICY_LIST PCL
	ON PL.CUSTOMER_ID = PCL.CUSTOMER_ID
	AND PL.POLICY_ID = PCL.POLICY_ID
	AND PL.POLICY_VERSION_ID = PCL.POLICY_VERSION_ID
INNER JOIN ACT_PREMIUM_PROCESS_SUB_DETAILS APSD
	ON PL.CUSTOMER_ID = APSD.CUSTOMER_ID
	AND PL.POLICY_ID = APSD.POLICY_ID
	AND PL.POLICY_VERSION_ID = APSD.POLICY_VERSION_ID
	AND PL.LOCATION_ID = APSD.RISK_ID
INNER JOIN MNT_LOOKUP_VALUES MLV
	ON PL.LOCATION_TYPE = MLV.LOOKUP_UNIQUE_ID
INNER JOIN MNT_BUILDING_TYPE MBT
	ON PDI.BUILDING_TYPE = MBT.BUILDING_TYPE
INNER JOIN MNT_PROTECTION_CLASS MPC
	ON PHR.PROT_CLASS = MPC.PROT_CLASS
INNER JOIN MNT_HYDRANT_DIST MHD
	ON PHR.HYDRANT_DIST = MHD.HYDRANT_DIST
/*INNER JOIN MNT_FIRE_STN_DIST MFS
	ON PHR.FIRE_STATION_DIST = MFS.FIRE_STATION_DIST*/
INNER JOIN MNT_NO_OF_AMPS MNA
	ON PHR.NO_OF_AMPS = MNA.NO_OF_AMPS
INNER JOIN MNT_ROOF_TYPE MRT
	ON PHR.ROOF_TYPE = MRT.ROOF_TYPE
INNER JOIN MNT_PRIMARY_HEAT MPH
	ON PHR.PRIMARY_HEAT_TYPE = MPH.PRIMARY_HEAT_TYPE
INNER JOIN MNT_SECONDARY_HEAT MSH
	ON PHR.SECONDARY_HEAT_TYPE = MSH.SECONDARY_HEAT_TYPE
WHERE PCL.POLICY_STATUS = 'NORMAL' AND 
PCL.POLICY_VERSION_ID >= 
	( 
		SELECT MIN(PPPIN.NEW_POLICY_VERSION_ID) FROM POL_POLICY_PROCESS PPPIN
		WHERE PPPIN.CUSTOMER_ID = PCL.CUSTOMER_ID 
		AND PPPIN.POLICY_ID		= PCL.POLICY_ID 
		AND PROCESS_ID	IN (25,18)  
		AND PROCESS_STATUS		='COMPLETE'-- MIN OF NBS OR RENEWAL
		AND ISNULL(REVERT_BACK,'N') = 'N'
	) 

--GO
--SELECT * FROM VW_RENTAL_DETAILS --WHERE POLICY_NUMBER LIKE 'r100%'
--ROLLBACK TRAN
GO

