
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_SUSEP_FORM_ISSUED_CANCELLED_COINSURANCE_PREMIUMS]'))
DROP VIEW [dbo].[VW_SUSEP_FORM_ISSUED_CANCELLED_COINSURANCE_PREMIUMS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VW_SUSEP_FORM_ISSUED_CANCELLED_COINSURANCE_PREMIUMS] AS  
SELECT
	MPSPN.SUSEP_PROCESS_NO,
	PPP.PROCESS_ID,
	--APIPID.TOTAL_TRAN_PREMIUM,
	PPP.RETURN_PREMIUM,
	MCSL.STATE_CODE,
	TMP.SUSEP_LOB_CODE AS ACOUNT_SUSEP_LOB_CODE,
	MLM.SUSEP_LOB_CODE,
	PCI_LEADER.LEADER_FOLLOWER,
	PPE.ENDORSEMENT_NO ,
	PCPL.POLICY_EFFECTIVE_DATE,
	PPP.EFFECTIVE_DATETIME,
	PPP.COMPLETED_DATETIME,
	PCPL.POLICY_EXPIRATION_DATE,
	PPP.[EXPIRY_DATE],
	MRCL.SUSEP_NUM,
	--ACOI.TOTAL_DUE,
	PCI_LEADER.COINSURANCE_FEE,
	PPP.CREATED_DATETIME,
	PCPL.POLICY_NUMBER,
	PCPL.CO_INSURANCE,
	PCI_LEADER.LEADER_POLICY_NUMBER,
	PPP.CUSTOMER_ID,
	PPP.POLICY_ID,
	PPP.NEW_POLICY_VERSION_ID ,
	PPP.PROCESS_STATUS,
	PCPL.APP_NUMBER,
	PCPL.APP_INCEPTION_DATE,
	PPE.CREATED_DATETIME AS PROPOSAL_DATE_ENDORSE,
	PCI_LEADER.COINSURANCE_PERCENT,
	PCPL.CUSTOMER_ID AS PCPL_CUSTOMER_ID,
	PCPL.POLICY_ID AS PCPL_POLICY_ID,
	PCPL.POLICY_VERSION_ID AS PCPL_POLICY_VERSION_ID,
	MCSL.STATE_ID AS STATE_ID,
	MDL.BRANCH_CODE, -- ADDED BY SHUBHANSHU FOR ITRACK 1075 NOTE(1)
	PCPL.POLICY_VERIFY_DIGIT,
	PPE.END_VERIFY_DIGIT,
	PPP.ENDORSEMENT_TYPE,
	PCPL.POLICY_STATUS,
	PCPL.POLICY_LOB,
	PCI_LEADER.COMPANY_ID,
	PCI_LEADER.ENDORSEMENT_POLICY_NUMBER,
	PPP.LAST_REVERT_BACK

	 
FROM 
	POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK)
	
	INNER JOIN
		 POL_POLICY_PROCESS PPP WITH(NOLOCK) ON (PPP.CUSTOMER_ID = PCPL.CUSTOMER_ID 
												AND PPP.POLICY_ID = PCPL.POLICY_ID
												AND PPP.NEW_POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID
												AND PPP.PROCESS_STATUS <> 'ROLLBACK') 
  
   LEFT OUTER JOIN
		 MNT_PRODUCT_SUSEP_PROCESS_NUMBER MPSPN WITH(NOLOCK) ON (MPSPN.LOB_ID = PCPL.POLICY_LOB AND 
																 MPSPN.SUBLOB_ID = PCPL.POLICY_SUBLOB)

		
   INNER JOIN
		MNT_DIV_LIST MDL WITH(NOLOCK) ON (MDL.DIV_ID = PCPL.DIV_ID)

   LEFT JOIN       
		MNT_COUNTRY_STATE_LIST MCSL WITH(NOLOCK) ON (MCSL.STATE_ID = MDL.DIV_STATE 
													AND MCSL.COUNTRY_ID = MDL.DIV_COUNTRY) 


   LEFT JOIN 
    (
	SELECT DISTINCT PPC.CUSTOMER_ID ,PPC.POLICY_ID,PPC.POLICY_VERSION_ID,MLM1.SUSEP_LOB_CODE  
	FROM	POL_PRODUCT_COVERAGES PPC (NOLOCK) 
    LEFT OUTER JOIN [MNT_COVERAGE_ACCOUNTING_LOB ] MCAL (NOLOCK) ON (PPC.COVERAGE_CODE_ID = MCAL.COV_ID)
    INNER JOIN MNT_LOB_MASTER MLM1 WITH(NOLOCK) ON (MLM1.LOB_ID = MCAL.ACC_LOB_ID )  
    ) TMP ON 
		TMP.CUSTOMER_ID = PCPL.CUSTOMER_ID AND 
		TMP.POLICY_ID = PCPL.POLICY_ID AND 
		TMP.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID

   LEFT OUTER JOIN
		POL_CO_INSURANCE PCI_LEADER WITH(NOLOCK) ON (PCI_LEADER.CUSTOMER_ID = PCPL.CUSTOMER_ID AND 
													 PCI_LEADER.POLICY_ID = PCPL.POLICY_ID AND 
													 PCI_LEADER.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID)
   LEFT OUTER JOIN 
		MNT_REIN_COMAPANY_LIST MRCL WITH(NOLOCK) ON (MRCL.REIN_COMAPANY_ID = PCI_LEADER.COMPANY_ID)

   LEFT OUTER JOIN 
		POL_POLICY_ENDORSEMENTS PPE WITH(NOLOCK) ON (PPE.CUSTOMER_ID = PCPL.CUSTOMER_ID AND 
													 PPE.POLICY_ID = PCPL.POLICY_ID AND 
													 PPE.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID)

    INNER JOIN
		MNT_LOB_MASTER MLM WITH(NOLOCK) ON (MLM.LOB_ID = PCPL.POLICY_LOB)   

													
  
