IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_FetchAgencyProductionReport]'))
DROP VIEW [dbo].[VW_FetchAgencyProductionReport]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--drop VIEW [dbo].[VW_FetchAgencyProductionReport]  
Create VIEW [dbo].[VW_FetchAgencyProductionReport]  
AS  
  
SELECT ST.STATE_NAME,AG.AGENCY_CODE,AG.AGENCY_DISPLAY_NAME,LB.LOB_DESC,FINAL.* FROM    
(   
SELECT EC.STATE_ID,EC.AGENCY_ID,EC.LOB_ID,EC.YEAR_NUMBER,EC.MONTH_NUMBER as MONTH_NUMBER,    
SUM(CASE WHEN EP.MONTH_NUMBER = EP1.MONTH_NUMBER AND EC.YEAR_NUMBER = EP1.YEAR_NUMBER THEN EP.WRITTEN_PREMIUM_NBS_CURRENT ELSE 0 END ) AS WRITTEN_PREMIUM_NBS,    
SUM(CASE WHEN EP.MONTH_NUMBER = EP1.MONTH_NUMBER AND EC.YEAR_NUMBER = EP1.YEAR_NUMBER THEN EC.NBS_EFFECTIVE_CURRENT ELSE 0 END) NBS_EFFECTIVE_CURRENT,    
SUM(CASE WHEN EP.MONTH_NUMBER = EP1.MONTH_NUMBER AND EC.YEAR_NUMBER = EP1.YEAR_NUMBER THEN EC.NBS_EFFECTIVE_CANCEL_CURRENT ELSE 0 END) NBS_EFFECTIVE_CANCEL,    
  
SUM(CASE WHEN EP.MONTH_NUMBER = EP1.MONTH_NUMBER AND EC.YEAR_NUMBER = EP1.YEAR_NUMBER THEN  EP.WRITTEN_PREMIUM_RENEW_CURRENT ELSE 0 END) AS WRITTEN_PREMIUM_RENEW,    
  
SUM(CASE WHEN EP.MONTH_NUMBER = EP1.MONTH_NUMBER AND EC.YEAR_NUMBER = EP1.YEAR_NUMBER THEN EC.RENEWAL_EFFECTIVE_CURRENT ELSE 0 END) RENEWAL_EFFECTIVE,    
SUM(CASE WHEN EP.MONTH_NUMBER = EP1.MONTH_NUMBER AND EC.YEAR_NUMBER = EP1.YEAR_NUMBER THEN EC.RENEWAL_EFFECTIVE_CANCEL_CURRENT ELSE 0 END) RENEWAL_EFFECTIVE_CANCEL,    
SUM(CASE WHEN EP.MONTH_NUMBER = EP1.MONTH_NUMBER AND EC.YEAR_NUMBER = EP1.YEAR_NUMBER THEN EC.TOTAL_EXPIRED_CURRENT ELSE 0 END) TOTAL_EXPIRED,      
SUM(CASE WHEN EP.MONTH_NUMBER = EP1.MONTH_NUMBER AND EC.YEAR_NUMBER = EP1.YEAR_NUMBER THEN EC.NON_RENEWAL_EFFECTIVE ELSE 0 END) NON_RENEWAL_EFFECTIVE,      

SUM(isnull(CASE WHEN EC.YEAR_NUMBER = EP1.YEAR_NUMBER THEN EP1.WRITTEN_PREMIUM_NBS_CURRENT ELSE 0 END,0)) AS WRITTEN_PREMIUM_NBS_YTD,    
  
(SELECT SUM(NBS_EFFECTIVE_CURRENT) FROM VW_CURRENT_PREVIOUS_ENFORCE_COUNT  
 WHERE STATE_ID=EC.STATE_ID AND AGENCY_ID=EC.AGENCY_ID     
 AND LOB_ID=EC.LOB_ID AND MONTH_NUMBER<=EC.MONTH_NUMBER AND YEAR_NUMBER=EC.YEAR_NUMBER    
) AS NBS_EFFECTIVE_YTD,  
    
--SUM(EP1.WRITTEN_PREMIUM_RENEW_CURRENT) AS WRITTEN_PREMIUM_RENEW_YTD,    
SUM(isnull(CASE WHEN EC.YEAR_NUMBER = EP1.YEAR_NUMBER THEN EP1.WRITTEN_PREMIUM_RENEW_CURRENT ELSE 0 END,0)) AS WRITTEN_PREMIUM_RENEW_YTD,    

(SELECT SUM(RENEWAL_EFFECTIVE_CURRENT) FROM VW_CURRENT_PREVIOUS_ENFORCE_COUNT  
 WHERE STATE_ID=EC.STATE_ID AND AGENCY_ID=EC.AGENCY_ID     
 AND LOB_ID=EC.LOB_ID AND MONTH_NUMBER<=EC.MONTH_NUMBER AND YEAR_NUMBER=EC.YEAR_NUMBER    
) AS RENEWAL_EFFECTIVE_YTD,  
   
(SELECT SUM(isnull(NBS_EFFECTIVE_CANCEL_CURRENT,0) +isnull(RENEWAL_EFFECTIVE_CANCEL_CURRENT,0))  
  FROM VW_CURRENT_PREVIOUS_ENFORCE_COUNT  
 WHERE STATE_ID=EC.STATE_ID AND AGENCY_ID=EC.AGENCY_ID     
 AND LOB_ID=EC.LOB_ID AND MONTH_NUMBER<=EC.MONTH_NUMBER AND YEAR_NUMBER=EC.YEAR_NUMBER    
) TOTAL_CANCEL_YTD,  
  
--SUM(EP1.WRITTEN_PREMIUM_NBS_CURRENT) + SUM(EP1.WRITTEN_PREMIUM_RENEW_CURRENT) AS TOTAL_WRITTEN_PREMIUM_YTD,    
SUM(CASE WHEN EC.YEAR_NUMBER = EP1.YEAR_NUMBER THEN  EP1.WRITTEN_PREMIUM_NBS_CURRENT + EP1.WRITTEN_PREMIUM_RENEW_CURRENT ELSE 0 END) AS TOTAL_WRITTEN_PREMIUM_YTD,    

  
--SUM(CASE WHEN EP.MONTH_NUMBER = EP1.MONTH_NUMBER THEN EC.INFORCE_TOTAL ELSE 0 END) AS TOTAL_INFORCE,    
(SELECT SUM(isnull(INFORCE_TOTAL,0) )  
  FROM VW_CURRENT_PREVIOUS_ENFORCE_COUNT  
 WHERE STATE_ID=EC.STATE_ID AND AGENCY_ID=EC.AGENCY_ID     
 AND LOB_ID=EC.LOB_ID AND MONTH_NUMBER=EC.MONTH_NUMBER AND YEAR_NUMBER=EC.YEAR_NUMBER    
) TOTAL_INFORCE,  
  
SUM(CASE WHEN EP1.MONTH_NUMBER<= EP.MONTH_NUMBER AND EP1.YEAR_NUMBER = EC.YEAR_NUMBER-1 THEN EP.WRITTEN_PREMIUM_NBS_PREVIOUS ELSE 0 END) AS WRITTEN_PREMIUM_PREVIOUS_YTD,    
  
SUM(CASE WHEN EP1.MONTH_NUMBER<= EP.MONTH_NUMBER AND EP1.YEAR_NUMBER = EC.YEAR_NUMBER-1 THEN EC.INFORCE_TOTAL_PREVIOUS ELSE 0 END) INFORCE_TOTAL_PREVIOUS,    
    
--sum(EP1.EARNED_PREMIUM) EARNED_PREMIUM,    
SUM(CASE WHEN EC.YEAR_NUMBER = EP1.YEAR_NUMBER THEN  EP1.EARNED_PREMIUM ELSE 0 END) AS EARNED_PREMIUM ,   
/*    
isnull(SUM(isnull(CASE WHEN EP1.MONTH_NUMBER = PLI.MONTH_NUMBER then PLI.LOSSES_INCURRED else 0 end, 0)),0) AS LOSSES_INCURRED,    
isnull(SUM(isnull(CASE WHEN EP1.MONTH_NUMBER = PLI.MONTH_NUMBER then PLI.LOSS_PAID else 0 end, 0)),0) AS LOSS_PAID     
*/

ISNULL(
		( 
			SELECT SUM(ISNULL(PLI.LOSSES_INCURRED,0)) FROM VW_PAID_LOSS_INCURRED PLI 
			WHERE PLI.STATE_ID=EC.STATE_ID AND PLI.AGENCY_ID=EC.AGENCY_ID    
			AND PLI.LOB_ID=EC.LOB_ID AND PLI.YEAR_NUMBER=EC.YEAR_NUMBER AND PLI.MONTH_NUMBER<=EC.MONTH_NUMBER
		), 0 
	)AS LOSSES_INCURRED, 


ISNULL(
	( 
	SELECT SUM(ISNULL(PLI1.LOSS_PAID,0)) FROM VW_PAID_LOSS_INCURRED PLI1 
	WHERE PLI1.STATE_ID=EC.STATE_ID AND PLI1.AGENCY_ID=EC.AGENCY_ID    
	AND PLI1.LOB_ID=EC.LOB_ID AND PLI1.YEAR_NUMBER=EC.YEAR_NUMBER AND PLI1.MONTH_NUMBER<=EC.MONTH_NUMBER
	),0) AS LOSS_PAID

    
--FROM VW_CURRENT_PREVIOUS_WRITTEN_EARNED_PREMIUM EP    
  
--INNER JOIN VW_CURRENT_PREVIOUS_ENFORCE_COUNT EC ON     
--EP.STATE_ID=EC.STATE_ID AND EP.AGENCY_ID=EC.AGENCY_ID     
--AND EP.LOB_ID=EC.LOB_ID AND EP.MONTH_NUMBER=EC.MONTH_NUMBER 
--AND EP.YEAR_NUMBER=EC.YEAR_NUMBER   

FROM VW_CURRENT_PREVIOUS_ENFORCE_COUNT EC     
  
Left JOIN VW_CURRENT_PREVIOUS_WRITTEN_EARNED_PREMIUM EP ON  
EP.STATE_ID=EC.STATE_ID AND EP.AGENCY_ID=EC.AGENCY_ID     
AND EP.LOB_ID=EC.LOB_ID AND EP.MONTH_NUMBER=EC.MONTH_NUMBER 
AND EP.YEAR_NUMBER=EC.YEAR_NUMBER   
  
LEFT OUTER JOIN VW_CURRENT_PREVIOUS_WRITTEN_EARNED_PREMIUM EP1 ON     
EP1.STATE_ID =EC.STATE_ID  
AND EP1.AGENCY_ID =EC.AGENCY_ID  
AND (EP1.YEAR_NUMBER =EC.YEAR_NUMBER OR EP1.YEAR_NUMBER =EC.YEAR_NUMBER-1)  
AND EP1.MONTH_NUMBER <= EC.MONTH_NUMBER    
AND EP1.LOB_ID  =EC.LOB_ID  
    
/*
FULL OUTER JOIN VW_PAID_LOSS_INCURRED PLI ON PLI.STATE_ID=EC.STATE_ID AND PLI.AGENCY_ID=EC.AGENCY_ID    
AND PLI.LOB_ID=EC.LOB_ID AND PLI.YEAR_NUMBER=EC.YEAR_NUMBER AND PLI.MONTH_NUMBER=EC.MONTH_NUMBER    
*/
     
GROUP BY EC.STATE_ID,EC.AGENCY_ID,EC.LOB_ID,EC.YEAR_NUMBER,EC.MONTH_NUMBER    
  
) FINAL     
    
LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST ST ON ST.STATE_ID=FINAL.STATE_ID    
LEFT OUTER JOIN MNT_LOB_MASTER LB ON LB.LOB_ID=FINAL.LOB_ID    
LEFT OUTER JOIN MNT_AGENCY_LIST AG ON AG.AGENCY_ID=FINAL.AGENCY_ID    
  







GO

