IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_CLAIM_DETAILS]'))
DROP VIEW [dbo].[VW_CLAIM_DETAILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--DROP VIEW VW_CLAIM_DETAILS
CREATE VIEW [dbo].[VW_CLAIM_DETAILS]
AS
WITH
CLM_DRIVER_DETAILS
AS
(
	SELECT DISTINCT CLAIM_ID, (SELECT TOP 1 NAME FROM CLM_DRIVER_INFORMATION C_IN WHERE C_IN.CLAIM_ID = C_OUT.CLAIM_ID) AS NAME
	FROM CLM_DRIVER_INFORMATION C_OUT
)


SELECT 'Prior Loss'AS CLAIM_NUMBER,isnull(POLICY_NUM,'') POLICY_NUMBER,APLI.CUSTOMER_ID,0 AS POLICY_ID, 0 AS POLICY_VERSION_ID,
CASE WHEN DRIVER_NAME LIKE '%^%' THEN dbo.fun_getDriverName(DRIVER_NAME) ELSE DRIVER_NAME END AS DRIVER_NAME,
--ISNULL(PDD.DRIVER_FNAME,'') + ' ' + ISNULL(PDD.DRIVER_MNAME,'') + ' '+ ISNULL(PDD.DRIVER_LNAME,'')AS 'DRIVER NAME', 
APLI.OCCURENCE_DATE AS 'DATE OF OCCURRENCE',ISNULL(MLV.LOOKUP_VALUE_DESC,'') AS LOSS_TYPE,
ISNULL(APLI.AMOUNT_PAID,0)AMOUNT_PAID,ISNULL(MCS.LOOKUP_VALUE_DESC,'') AS CLAIM_STATUS,
ISNULL(MCT.LOOKUP_VALUE_DESC,'') AS CLAIM_TYPE,
CASE WHEN APLI.AT_FAULT = 10964 THEN 'NO' WHEN APLI.AT_FAULT = 10963 THEN 'YES' ELSE '' END AS AT_FAULT,
CASE WHEN APLI.CHARGEABLE = 11923 THEN 'NOT CHARGEABLE' WHEN APLI.CHARGEABLE = 11924 THEN 'CHARGEABLE'
ELSE '' END AS CHARGEABLE,ISNULL(APLI.CAUSE_OF_LOSS,'')CAUSE_OF_LOSS,ISNULL(APlI.LOSS_CARRIER,'') AS CARRIER_NAME,
ISNULL(APLI.LOSS_LOCATION,'')LOSS_LOCATION,OTHER_DESC 'REMARKS/DESCRIPTION'--,ISNULL(APCI.CARRIER,'') AS 'PRIOR CARRIER'
FROM APP_PRIOR_LOSS_INFO APLI 
INNER JOIN MNT_LOOKUP_VALUES MLV
	ON APLI.LOSS_TYPE = MLV.LOOKUP_UNIQUE_ID
INNER JOIN MNT_LOOKUP_VALUES MCS --CLAIM_STATUS
	ON APLI.CLAIM_STATUS = MCS.LOOKUP_UNIQUE_ID
INNER JOIN MNT_LOOKUP_VALUES MCT	--CLAIM_TYPE
	ON APLI.CLAIMS_TYPE = MCT.LOOKUP_UNIQUE_ID

WHERE APLI.LOB IN (2,3)
--PCL.POLICY_STATUS = 'NORMAL' AND 
--PCL.POLICY_VERSION_ID >= 
--	( 
--		SELECT MIN(PPPIN.NEW_POLICY_VERSION_ID) FROM POL_POLICY_PROCESS PPPIN
--		WHERE PPPIN.CUSTOMER_ID = PCL.CUSTOMER_ID 
--		AND PPPIN.POLICY_ID		= PCL.POLICY_ID 
--		AND PROCESS_ID	IN (25,18)  
--		AND PROCESS_STATUS		='COMPLETE'-- MIN OF NBS OR RENEWAL
--		AND ISNULL(REVERT_BACK,'N') = 'N'
--	) 
---AND APLI.CUSTOMER_ID = 1577
--ORDER BY POLICY_NUMBER

UNION

SELECT ISNULL(CCI.CLAIM_NUMBER,'')CLAIM_NUMBER,ISNULL(PCL.POLICY_NUMBER,'')POLICY_NUMBER,CCI.CUSTOMER_ID,CCI.POLICY_ID,CCI.POLICY_VERSION_ID,
ISNULL(CDI.[NAME],'')DRIVER_NAME,CCI.LOSS_DATE,
SUBSTRING(DBO.FnGetLossTypeDesc(COD.LOSS_TYPE),2,LEN(DBO.FnGetLossTypeDesc(COD.LOSS_TYPE)))LOSS_TYPE,
--MC.LOOKUP_VALUE_DESC,
CCI.PAID_LOSS AS AMOUNT_PAID,
CASE WHEN CCI.CLAIM_STATUS = 11739 THEN 'OPEN' WHEN CCI.CLAIM_STATUS = 11740 THEN 'CLOSED' END AS CLAIM_STATUS,
SUBSTRING(DBO.FnGetLossTypeDesc(COD.LOSS_TYPE),2,LEN(DBO.FnGetLossTypeDesc(COD.LOSS_TYPE)))CLAIM_TYPE,
CASE WHEN ISNULL(CCI.PINK_SLIP_TYPE_LIST,0)LIKE'%13005%' THEN 'YES' ELSE 'NO' END AS AT_FAULT,
CASE WHEN ISNULL(CCI.PAID_LOSS,0) <> 0 THEN 'CHARGEABLE' ELSE 'NOT CHARGEABLE' END 
AS CHARGEABLE, ''CAUSE_OF_LOSS,'WOLVERINE'CARRIER_NAME,
COD.LOSS_LOCATION, COD.OTHER_DESCRIPTION AS 'REMARKS/DESCRIPTION'--,'WOLVERINE' AS 'PRIOR CARRIER'
FROM CLM_CLAIM_INFO CCI
LEFT JOIN CLM_DRIVER_DETAILS CDI
	ON CCI.CLAIM_ID = CDI.CLAIM_ID
LEFT JOIN CLM_OCCURRENCE_DETAIL COD
	ON CCI.CLAIM_ID = COD.CLAIM_ID
INNER JOIN POL_CUSTOMER_POLICY_LIST PCL
	ON CCI.CUSTOMER_ID = PCL.CUSTOMER_ID
	AND CCI.POLICY_ID = PCL.POLICY_ID
	AND CCI.POLICY_VERSION_ID = PCL.POLICY_VERSION_ID
WHERE PCL.POLICY_LOB IN (2,3)
--PCL.POLICY_STATUS = 'NORMAL' AND 
--PCL.POLICY_VERSION_ID >= 
--	( 
--		SELECT MIN(PPPIN.NEW_POLICY_VERSION_ID) FROM POL_POLICY_PROCESS PPPIN
--		WHERE PPPIN.CUSTOMER_ID = PCL.CUSTOMER_ID 
--		AND PPPIN.POLICY_ID		= PCL.POLICY_ID 
--		AND PROCESS_ID	IN (25,18)  
--		AND PROCESS_STATUS		='COMPLETE'-- MIN OF NBS OR RENEWAL
--		AND ISNULL(REVERT_BACK,'N') = 'N'
--	) 
--COD.LOSS_TYPE IS NOT NULL AND LEN(COD.LOSS_TYPE) > 20 
--CCI.CLAIM_ID= 1941
--SELECT * FROM VW_CLAIM_DETAILS

GO

