IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_CLAIM]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SP_CLAIM]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------                                          
 Proc Name       : [dbo].[SP_CLAIM]                   
 Created by      : praveer panghal 
 Date            : 25 may 2011                         
 Purpose         :  Stored procedure that returns the last data of a specific period, information related 
                   to reserves pending and paid of claim in a specific period.              
 Revison History :                                          
 Used In       : EbixAdvanatge  
 
 DROP PROC [dbo].[SP_CLAIM]  NULL,NULL,NULL,NULL,NULL,null,14948,'SH000003',14948  '08/17/2011','08/17/2011'
------   ------------       -------------------------*/    

CREATE PROC [dbo].[SP_CLAIM]
(
@ACTIVITY_START_DATE DATETIME=NULL,
@ACTIVITY_END_DATE DATETIME=NULL,
@DIV_CODE NVARCHAR(6)=NULL,
@SUSEP_LOB_CODE NVARCHAR(20)=NULL,
@POLICY_NUMBER NVARCHAR(75)=NULL,
@CLAIM_NUMBER NVARCHAR(10)=NULL,
@ORDER_BY INT=NULL 
)
AS


BEGIN

SELECT cd_division
, cd_susepLOB
, id_policy
, id_claim
, cd_endorsement,
 vl_totalReservePending
 
, ISNULL((SELECT ISNULL((CA.CLAIM_PAYMENT_AMOUNT+CA.TOTAL_EXPENSE),0)
    from CLM_ACTIVITY CA WITH(NOLOCK) 
    WHERE  TEMP.CLAIM_ID=CA.CLAIM_ID and CA.ACTIVITY_ID in 
    (select MAX(CA2.ACTIVITY_ID) FROM CLM_ACTIVITY CA2  WITH(NOLOCK) 
     WHERE  CA.CLAIM_ID=CA2.CLAIM_ID)AND (@ACTIVITY_START_DATE IS NULL OR @ACTIVITY_END_DATE IS NULL
        OR(CONVERT(NVARCHAR(20),TEMP.COMPLETED_DATE ,101)  BETWEEN 
         (CONVERT(NVARCHAR(20),@ACTIVITY_START_DATE,101)) AND 
          (CONVERT(NVARCHAR(20),@ACTIVITY_END_DATE,101))) ) ),0)vl_totalReservePaid


, ISNULL((SELECT (vl_totalReservePending-ISNULL(CA.CO_TOTAL_RESERVE_AMT,0)-ISNULL(CA.CLAIM_RI_RESERVE,0))
       FROM CLM_ACTIVITY CA WITH(NOLOCK)
       WHERE TEMP.CLAIM_ID=CA.CLAIM_ID AND CA.ACTIVITY_ID IN 
       (SELECT MAX(CA2.ACTIVITY_ID)
        FROM CLM_ACTIVITY CA2 WITH(NOLOCK)
        WHERE  CA.CLAIM_ID=CA2.CLAIM_ID)),0)vl_reservePendingInsurer
        
, ISNULL((SELECT (ISNULL(CA.CO_TOTAL_RESERVE_AMT,0))
       FROM CLM_ACTIVITY CA WITH(NOLOCK)
       WHERE TEMP.CLAIM_ID=CA.CLAIM_ID AND CA.ACTIVITY_ID IN 
       (SELECT MAX(CA2.ACTIVITY_ID)
        FROM CLM_ACTIVITY CA2 WITH(NOLOCK)
        WHERE  CA.CLAIM_ID=CA2.CLAIM_ID)),0)vl_reservePendingCoInsurer

,  ISNULL((SELECT (ISNULL(CA.CLAIM_RI_RESERVE,0)) 
        FROM CLM_ACTIVITY CA WITH(NOLOCK)
        WHERE TEMP.CLAIM_ID=CA.CLAIM_ID AND CA.ACTIVITY_ID IN 
        (SELECT MAX(CA2.ACTIVITY_ID)
        FROM CLM_ACTIVITY CA2 WITH(NOLOCK)
        WHERE  CA.CLAIM_ID=CA2.CLAIM_ID)),0)vl_reservePendingReisurer

, ISNULL((SELECT (ISNULL((CA.CLAIM_PAYMENT_AMOUNT+CA.TOTAL_EXPENSE),0)-ISNULL(CA.COI_NET_PAID_RESERVE,0)
    -ISNULL(CA.RI_NET_PAID_RESERVE,0))
     from CLM_ACTIVITY CA WITH(NOLOCK)
    WHERE TEMP.CLAIM_ID=CA.CLAIM_ID AND CA.ACTIVITY_ID IN 
   (SELECT MAX(CA2.ACTIVITY_ID)
    FROM CLM_ACTIVITY CA2 WITH(NOLOCK)
   WHERE  CA.CLAIM_ID=CA2.CLAIM_ID AND (@ACTIVITY_START_DATE IS NULL OR @ACTIVITY_END_DATE IS NULL 
   OR(CONVERT    (NVARCHAR(20),TEMP.COMPLETED_DATE ,101) 
   BETWEEN  CONVERT(NVARCHAR(20),@ACTIVITY_START_DATE,101) AND 
    CONVERT(NVARCHAR(20),@ACTIVITY_END_DATE,101))))),0)vl_reservePaidInsurer

, ISNULL((SELECT (ISNULL(CA.COI_NET_PAID_RESERVE,0))
     from CLM_ACTIVITY CA WITH(NOLOCK)
    WHERE TEMP.CLAIM_ID=CA.CLAIM_ID AND CA.ACTIVITY_ID IN 
   (SELECT MAX(CA2.ACTIVITY_ID)
    FROM CLM_ACTIVITY CA2 WITH(NOLOCK)
   WHERE  CA.CLAIM_ID=CA2.CLAIM_ID AND (@ACTIVITY_START_DATE IS NULL OR @ACTIVITY_END_DATE IS NULL 
   OR(CONVERT    (NVARCHAR(20),TEMP.COMPLETED_DATE ,101) 
   BETWEEN  CONVERT(NVARCHAR(20),@ACTIVITY_START_DATE,101) AND 
    CONVERT(NVARCHAR(20),@ACTIVITY_END_DATE,101))))),0)vl_reservePaidCoInsurer

, ISNULL((SELECT (ISNULL(CA.RI_NET_PAID_RESERVE,0))
   from CLM_ACTIVITY CA WITH(NOLOCK)
    WHERE TEMP.CLAIM_ID=CA.CLAIM_ID AND CA.ACTIVITY_ID IN 
   (SELECT MAX(CA2.ACTIVITY_ID)
    FROM CLM_ACTIVITY CA2 WITH(NOLOCK)
   WHERE  CA.CLAIM_ID=CA2.CLAIM_ID AND (@ACTIVITY_START_DATE IS NULL OR @ACTIVITY_END_DATE IS NULL 
   OR( CONVERT (NVARCHAR(20),TEMP.COMPLETED_DATE ,101) 
   BETWEEN  CONVERT(NVARCHAR(20),@ACTIVITY_START_DATE,101) AND 
    CONVERT(NVARCHAR(20),@ACTIVITY_END_DATE,101))))),0)vl_reservePaidReinsurer

, ISNULL((SELECT SUM(ISNULL(OUTSTANDING,0)) 
  FROM  CLM_ACTIVITY_RESERVE CAR  WITH(NOLOCK)
    INNER JOIN CLM_PRODUCT_COVERAGES CPC   WITH(NOLOCK)ON CAR.COVERAGE_ID=CPC.CLAIM_COV_ID 
     AND CPC.CLAIM_ID =CAR.CLAIM_ID 
    WHERE CAR.CLAIM_ID=TEMP.CLAIM_ID AND  CPC.COVERAGE_CODE_ID IN( 50019,50021)    AND CAR.ACTIVITY_ID IN 
    (SELECT MAX(CAR2.ACTIVITY_ID)  FROM  CLM_ACTIVITY_RESERVE CAR2  WITH(NOLOCK)  
     WHERE CAR.CLAIM_ID= CAR2.CLAIM_ID  AND (@ACTIVITY_START_DATE IS NULL OR @ACTIVITY_END_DATE IS NULL
      OR( CONVERT(NVARCHAR(20),TEMP.COMPLETED_DATE ,101) 
    BETWEEN  CONVERT(NVARCHAR(20),@ACTIVITY_START_DATE,101) AND 
    CONVERT(NVARCHAR(20),@ACTIVITY_END_DATE,101)))) ),0)vl_salvageSubrogation 

   FROM  
   ( SELECT  ISNULL(MDL.DIV_CODE,'')cd_division
   ,ISNULL(MLM.SUSEP_LOB_CODE,'')cd_susepLOB 
   , ISNULL(PCPL.POLICY_NUMBER,'')id_policy 
    , ISNULL(CCI.CLAIM_NUMBER,'') AS id_claim
     ,  ISNULL(PCPL.POLICY_DISP_VERSION,'')cd_endorsement ,
     ISNULL(CCI.OUTSTANDING_RESERVE,0)vl_totalReservePending
     ,PCPL.POLICY_STATUS AS POLICY_STATUS
     , CCI.CLAIM_ID AS CLAIM_ID 
      , CCI.CLAIM_NUMBER AS CLAIM_NUMBER, 
     ISNULL( (SELECT COMPLETED_DATE FROM CLM_ACTIVITY CA WITH(NOLOCK) 
      WHERE CA.CLAIM_ID=CCI.CLAIM_ID AND CA.ACTIVITY_ID  IN 
      (SELECT MAX(CA2.ACTIVITY_ID) 
      FROM CLM_ACTIVITY CA2 WITH(NOLOCK)WHERE  CA.CLAIM_ID=CA2.CLAIM_ID)),'')COMPLETED_DATE 
      FROM POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK)  
       JOIN MNT_DIV_LIST MDL WITH(NOLOCK) ON MDL.DIV_ID=PCPL.DIV_ID 
        JOIN MNT_LOB_MASTER MLM WITH(NOLOCK) ON MLM.LOB_ID=PCPL.POLICY_LOB	 
        JOIN CLM_CLAIM_INFO CCI WITH(NOLOCK)  ON CCI.CUSTOMER_ID=PCPL.CUSTOMER_ID 
        and CCI.POLICY_ID=PCPL.POLICY_ID AND CCI.POLICY_VERSION_ID= PCPL.POLICY_VERSION_ID        
      
         ) TEMP  WHERE TEMP.CLAIM_NUMBER is not null 
         AND (@DIV_CODE IS NULL OR TEMP.cd_division=@DIV_CODE)
    AND (@SUSEP_LOB_CODE IS NULL OR TEMP.cd_susepLOB= @SUSEP_LOB_CODE)
    AND (@POLICY_NUMBER IS NULL OR TEMP.id_policy=@POLICY_NUMBER)
     AND (@CLAIM_NUMBER IS NULL OR TEMP.id_claim=@CLAIM_NUMBER)
	   ORDER BY   
   CASE WHEN(@ORDER_BY=14945) THEN cd_division END , 
   CASE WHEN (@ORDER_BY=14947) THEN cd_division +','+ cd_susepLOB END,
   CASE	WHEN (@ORDER_BY=14948) THEN cd_susepLOB END ,
   CASE	WHEN (@ORDER_BY=14950) THEN cd_susepLOB+','+cd_division END      


END


GO

