IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetPDFSolidFuelDetails]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetPDFSolidFuelDetails]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER OFF
GO








--DROP PROCEDURE Proc_GetPDFSolidFuelDetails
CREATE  PROCEDURE Proc_GetPDFSolidFuelDetails
(
	@CUSTOMERID 		int,
	@POLID 	             	int,
	@VERSIONID 		int,
	@CALLEDFROM		VARCHAR(20)
)
AS
BEGIN
	IF @CALLEDFROM='APPLICATION'
	BEGIN
		SELECT 
			MANUFACTURER,BRAND_NAME,MODEL_NUMBER,MV.LOOKUP_VALUE_DESC FUEL,STOVE_TYPE,HAVE_LABORATORY_LABEL,
			IS_UNIT,UNIT_OTHER_DESC,CONSTRUCTION,LOCATION,LOC_OTHER_DESC,YEAR_DEVICE_INSTALLED,
			WAS_PROF_INSTALL_DONE,INSTALL_INSPECTED_BY,INSTALL_OTHER_DESC,HEATING_USE,HEATING_SOURCE, OTHER_DESC,
			IS_STOVE_VENTED,OTHER_DEVICES_ATTACHED,LTRIM(RTRIM(CHIMNEY_CONSTRUCTION)) CHIMNEY_CONSTRUCTION,CONSTRUCT_OTHER_DESC,IS_TILE_FLUE_LINING,IS_CHIMNEY_GROUND_UP,
			CHIMNEY_INST_AFTER_HOUSE_BLT,IS_CHIMNEY_COVERED,DIST_FROM_SMOKE_PIPE,THIMBLE_OR_MATERIAL,
			STOVE_PIPE_IS,DOES_SMOKE_PIPE_FIT,SMOKE_PIPE_WASTE_HEAT,STOVE_CONN_SECURE,SMOKE_PIPE_PASS,SELECT_PASS,PASS_INCHES,
			STOVE_INSTALLATION_CONFORM_SPECIFICATIONS,ISNULL(PROT_MAT_SPACED,'') PROT_MAT_SPACED,ISNULL(IS_SMOKE_DETECTOR,'') IS_SMOKE_DETECTOR,
			ISNULL(STOVE_SMOKE_PIPE_CLEANED,'') STOVE_SMOKE_PIPE_CLEANED, ISNULL(STOVE_CLEANER,'') STOVE_CLEANER,ISNULL(REMARKS,'') REMARKS
		FROM APP_HOME_OWNER_SOLID_FUEL SF
			LEFT OUTER JOIN MNT_LOOKUP_VALUES MV ON MV.LOOKUP_ID=1279 AND MV.LOOKUP_UNIQUE_ID=FUEL
			LEFT OUTER JOIN APP_HOME_OWNER_CHIMNEY_STOVE CS ON SF.CUSTOMER_ID=CS.CUSTOMER_ID AND SF.APP_ID=CS.APP_ID AND SF.APP_VERSION_ID=CS.APP_VERSION_ID AND SF.FUEL_ID=CS.FUEL_ID
			LEFT OUTER JOIN APP_HOME_OWNER_FIRE_PROT_CLEAN FPC ON SF.CUSTOMER_ID=FPC.CUSTOMER_ID AND SF.APP_ID=FPC.APP_ID AND SF.APP_VERSION_ID=FPC.APP_VERSION_ID AND SF.FUEL_ID=FPC.FUEL_ID
		WHERE SF.CUSTOMER_ID = @CUSTOMERID AND SF.APP_ID = @POLID AND SF.APP_VERSION_ID = @VERSIONID
		
	END
	ELSE IF @CALLEDFROM='POLICY'
	BEGIN
		SELECT 
			MANUFACTURER,BRAND_NAME,MODEL_NUMBER,MV.LOOKUP_VALUE_DESC FUEL,STOVE_TYPE,HAVE_LABORATORY_LABEL,
			IS_UNIT,UNIT_OTHER_DESC,CONSTRUCTION,LOCATION,LOC_OTHER_DESC,YEAR_DEVICE_INSTALLED,
			WAS_PROF_INSTALL_DONE,INSTALL_INSPECTED_BY,INSTALL_OTHER_DESC,HEATING_USE,HEATING_SOURCE, OTHER_DESC,
			IS_STOVE_VENTED,OTHER_DEVICES_ATTACHED,CHIMNEY_CONSTRUCTION,CONSTRUCT_OTHER_DESC,IS_TILE_FLUE_LINING,IS_CHIMNEY_GROUND_UP,
			CHIMNEY_INST_AFTER_HOUSE_BLT,IS_CHIMNEY_COVERED,DIST_FROM_SMOKE_PIPE,THIMBLE_OR_MATERIAL,
			STOVE_PIPE_IS,DOES_SMOKE_PIPE_FIT,SMOKE_PIPE_WASTE_HEAT,STOVE_CONN_SECURE,SMOKE_PIPE_PASS,SELECT_PASS,PASS_INCHES,
			STOVE_INSTALLATION_CONFORM_SPECIFICATIONS,ISNULL(PROT_MAT_SPACED,'') PROT_MAT_SPACED,ISNULL(IS_SMOKE_DETECTOR,'') IS_SMOKE_DETECTOR,
			ISNULL(STOVE_SMOKE_PIPE_CLEANED,'') STOVE_SMOKE_PIPE_CLEANED, ISNULL(STOVE_CLEANER,'') STOVE_CLEANER,ISNULL(REMARKS,'') REMARKS
		FROM POL_HOME_OWNER_SOLID_FUEL SF
			LEFT OUTER JOIN MNT_LOOKUP_VALUES MV ON MV.LOOKUP_ID=1279 AND MV.LOOKUP_UNIQUE_ID=FUEL
			LEFT OUTER JOIN POL_HOME_OWNER_CHIMNEY_STOVE CS ON SF.CUSTOMER_ID=CS.CUSTOMER_ID AND SF.POLICY_ID=CS.POLICY_ID AND SF.POLICY_VERSION_ID=CS.POLICY_VERSION_ID AND SF.FUEL_ID=CS.FUEL_ID
			LEFT OUTER JOIN POL_HOME_OWNER_FIRE_PROT_CLEAN FPC ON SF.CUSTOMER_ID=FPC.CUSTOMER_ID AND SF.POLICY_ID=FPC.POLICY_ID AND SF.POLICY_VERSION_ID=FPC.POLICY_VERSION_ID AND SF.FUEL_ID=FPC.FUEL_ID
		WHERE SF.CUSTOMER_ID = @CUSTOMERID AND SF.POLICY_ID = @POLID AND SF.POLICY_VERSION_ID = @VERSIONID
	END	
END









GO

