IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_UpdateAPP_WATERCRAFT_EQUIP_DETAILLS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_UpdateAPP_WATERCRAFT_EQUIP_DETAILLS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



CREATE  PROC Dbo.Proc_UpdateAPP_WATERCRAFT_EQUIP_DETAILLS  
(  
@CUSTOMER_ID     int,  
@APP_ID     int,  
@APP_VERSION_ID     smallint,  
@EQUIP_ID     smallint,  
@EQUIP_NO     int,  
@EQUIP_TYPE     int,  
@SHIP_TO_SHORE     int,  
@YEAR     int,  
@MAKE     nvarchar(130),  
@MODEL     nvarchar(130),  
@SERIAL_NO     nvarchar(130),  
@INSURED_VALUE     decimal(9,2),  
@ASSOCIATED_BOAT     smallint,  
@MODIFIED_BY     int,  
@LAST_UPDATED_DATETIME     datetime  ,
@EQUIP_AMOUNT decimal(10),
@OTHER_DESCRIPTION nvarchar(100),
@EQUIPMENT_TYPE integer 

)  
AS  
BEGIN  
Declare @Count int  
 Set @Count= (SELECT count(EQUIP_NO) FROM APP_WATERCRAFT_EQUIP_DETAILLS  
  WHERE CUSTOMER_ID=@CUSTOMER_ID AND APP_ID=@APP_ID AND APP_VERSION_ID=@APP_VERSION_ID and  EQUIP_NO=@EQUIP_NO and EQUIP_ID<>@EQUIP_ID)  
  
  
if (@Count=0)  
  BEGIN  
  UPDATE  APP_WATERCRAFT_EQUIP_DETAILLS  
  SET  
   EQUIP_NO=@EQUIP_NO,  
   EQUIP_TYPE=@EQUIP_TYPE,  
   SHIP_TO_SHORE=@SHIP_TO_SHORE,  
   YEAR=@YEAR,  
   MAKE=@MAKE,  
   MODEL=@MODEL,  
   SERIAL_NO=@SERIAL_NO,  
   INSURED_VALUE=@INSURED_VALUE,  
   ASSOCIATED_BOAT=@ASSOCIATED_BOAT,  
   MODIFIED_BY=@MODIFIED_BY,  
   LAST_UPDATED_DATETIME=@LAST_UPDATED_DATETIME,
   EQUIP_AMOUNT=@EQUIP_AMOUNT,  
   OTHER_DESCRIPTION = @OTHER_DESCRIPTION,
   EQUIPMENT_TYPE = @EQUIPMENT_TYPE 
  WHERE  
   CUSTOMER_ID=@CUSTOMER_ID AND  
   APP_ID = @APP_ID AND  
   APP_VERSION_ID=@APP_VERSION_ID AND  
   EQUIP_ID=@EQUIP_ID  
 END  
ELSE  
 BEGIN  
  return -1  
 END  
END  





GO

