IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_SCHEDULE_P_CLAIM_COUNT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_SCHEDULE_P_CLAIM_COUNT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--DROP PROCEDURE PROC_SCHEDULE_P_CLAIM_COUNT
CREATE PROCEDURE PROC_SCHEDULE_P_CLAIM_COUNT
(  
 @AS_ON_DATE  DATETIME = NULL  
)  
AS  
BEGIN  
  
 IF(ISNULL(@AS_ON_DATE,'')) = ''  
 BEGIN  
  SET @AS_ON_DATE = GETDATE()  
 END  
DECLARE @CLAIM_OPEN INT  
DECLARE @CLAIM_CLOSED INT  
DECLARE @PARTIAL_PAID_LOSS INT  
DECLARE @FINAL_PAID_LOSS INT  
  
SET @CLAIM_OPEN = 11739  
SET @CLAIM_CLOSED = 11740  
SET @PARTIAL_PAID_LOSS = 180  
SET @FINAL_PAID_LOSS = 181;  

WITH
PAID_LOSS AS      
(      
	SELECT VWCLM.STATE_ID,VWCLM.AGENCY_ID,VWCLM.CLAIM_ID,VWCLM.COVERAGE_ID,VWCLM.LOB_ID,ACTV_YEAR,
	ACTV_MONTH, DATEPART(YEAR,CCI.LOSS_DATE) AS INCURRED_YEAR,      
	ISNULL(SUM(CASE WHEN ACTION_ON_PAYMENT IN (180,181,176,177) THEN ISNULL(AMOUNT,0) ELSE 0 END),0) -      
	ISNULL(SUM(CASE WHEN ACTION_ON_PAYMENT IN (63,64,70,188,240,242,243,244,245) THEN ISNULL(AMOUNT,0) ELSE 0 END),0)  AS LOSS_PAID      
	FROM VW_CLAIM_TRANSACTION_DETAIL VWCLM  WITH(NOLOCK)  
	INNER JOIN CLM_CLAIM_INFO CCI WITH(NOLOCK) ON VWCLM.CLAIM_ID = CCI.CLAIM_ID       
	GROUP BY VWCLM.STATE_ID,VWCLM.AGENCY_ID,VWCLM.CLAIM_ID,VWCLM.COVERAGE_ID,VWCLM.LOB_ID,ACTV_YEAR,ACTV_MONTH,CCI.LOSS_DATE      
) ,     
      
PAID_LOSS_INCURRED AS      
(      
SELECT PL.STATE_ID,PL.AGENCY_ID,PL.LOB_ID,BE.CLAIM_ID,PL.COVERAGE_ID,PL.INCURRED_YEAR,BE.YEAR_NUMBER ,BE.MONTH_NUMBER,
BEGIN_RESERVE, END_RESERVE,    
(ISNULL(END_RESERVE,0) + ISNULL(PL.LOSS_PAID ,0))- ISNULL(BEGIN_RESERVE,0) AS LOSSES_INCURRED,      
PL.LOSS_PAID      
FROM VW_BEGINING_ENDING_RESERVE_BY_COVERAGE BE  WITH(NOLOCK)
INNER JOIN PAID_LOSS PL WITH(NOLOCK)  ON PL.STATE_ID=BE.STATE_ID AND PL.AGENCY_ID=BE.AGENCY_ID  
AND BE.CLAIM_ID=PL.CLAIM_ID   AND BE.COVERAGE_ID = PL.COVERAGE_ID
AND PL.LOB_ID=BE.LOB_ID AND PL.ACTV_YEAR=BE.YEAR_NUMBER AND PL.ACTV_MONTH=BE.MONTH_NUMBER      
) ,

CLAIM_ENDING_RESERVE
AS
(	SELECT COVERAGE_ID,SUM(ENDING_RESERVE) ENDING_RESERVE FROM
  (	SELECT VER.CLAIM_ID,VER.COVERAGE_ID,
	(
	SELECT TOP 1 END_RESERVE FROM VW_BEGINING_ENDING_RESERVE_BY_COVERAGE
	WHERE CLAIM_ID=VER.CLAIM_ID AND COVERAGE_ID=VER.COVERAGE_ID 
	ORDER BY CAST(CONVERT(VARCHAR,MONTH_NUMBER) +'/01/' + CONVERT(VARCHAR,YEAR_NUMBER) AS DATETIME) DESC
	) AS ENDING_RESERVE
	FROM VW_BEGINING_ENDING_RESERVE_BY_COVERAGE VER
	WHERE CAST(CONVERT(VARCHAR,VER.MONTH_NUMBER) +'/01/' + CONVERT(VARCHAR,VER.YEAR_NUMBER) AS DATETIME) <=@AS_ON_DATE
	GROUP BY VER.CLAIM_ID,VER.COVERAGE_ID
 ) CER
  GROUP BY CER.COVERAGE_ID
)	
	

--select * From PAID_LOSS_INCURRED  WHERE YEAR_NUMBER = 2009

SELECT ML.ASLOB_ID, INCURRED_YEAR,SUM(ISNULL(NET_PAID_LOSS,0))AS NET_PAID_LOSS,SUM(ISNULL(NET_ENDING_RESERVE,0))AS NET_ENDING_RESERVE,
SUM(ISNULL(PAID_EXPENSES,0))AS NET_PAID_EXPENSES,OPEN_CLAIMS,COUNT_PAID_LOSSES,COUNT_PAID_EXPENSES,
CLOSED_WITH_PAYMENT,CLOSED_WITHOUT_PAYMENT,(OPEN_CLAIMS + CLOSED_WITH_PAYMENT + CLOSED_WITHOUT_PAYMENT) AS CLAIMS_REPORTED
FROM
(
	SELECT VPL.COVERAGE_ID , INCURRED_YEAR , SUM(LOSS_PAID)AS NET_PAID_LOSS,
    --SUM(END_RESERVE)AS NET_ENDING_RESERVE, 
	(CER.ENDING_RESERVE) NET_ENDING_RESERVE,

	(
		SELECT SUM(ISNULL(AMOUNT,0))
		FROM VW_CLAIM_TRANSACTION_DETAIL VCT WITH(NOLOCK) WHERE ACTION_ON_PAYMENT IN 
		(174,175,176,177,178,185,190,203,207,173,183,184,186,187,189,204,241,242,243,244,245,249,247,248,250,251,253,254,255,246)
		AND DATEPART(YEAR,VCT.DATE_OF_LOSS) = VPL.INCURRED_YEAR AND VCT.COVERAGE_ID = VPL.COVERAGE_ID
		AND VCT.ACTV_YEAR = YEAR(@AS_ON_DATE)
	)AS PAID_EXPENSES,
	 
	(
		SELECT COUNT(CLAIM_ID) FROM PAID_LOSS_INCURRED  CLM_OPEN WITH(NOLOCK)
		WHERE CLM_OPEN.END_RESERVE <> 0
		AND CLM_OPEN.COVERAGE_ID = VPL.COVERAGE_ID AND CLM_OPEN.INCURRED_YEAR = VPL.INCURRED_YEAR
		AND CLM_OPEN.YEAR_NUMBER = YEAR(@AS_ON_DATE) 
	)AS OPEN_CLAIMS,

	(  
		SELECT COUNT(VP.CLAIM_ID)AS PAID_LOSSES   
		FROM PAID_LOSS_INCURRED VP WITH(NOLOCK) 
		WHERE VP.LOSS_PAID <> 0
		AND VP.COVERAGE_ID = VPL.COVERAGE_ID AND VP.INCURRED_YEAR = VPL.INCURRED_YEAR 
		AND VP.YEAR_NUMBER = YEAR(@AS_ON_DATE)
	) AS COUNT_PAID_LOSSES,

	(
		SELECT COUNT(CLM_OPEN.CLAIM_ID) AS PAID_EXPENSES  
		FROM PAID_LOSS_INCURRED CLM_OPEN WITH(NOLOCK)  
		WHERE CLM_OPEN.END_RESERVE <> 0  AND CLM_OPEN.COVERAGE_ID = VPL.COVERAGE_ID
		AND CLM_OPEN.INCURRED_YEAR = VPL.INCURRED_YEAR AND CLM_OPEN.YEAR_NUMBER = YEAR(@AS_ON_DATE) 
		AND EXISTS 
			(
			SELECT COUNT(CLAIM_ID)
			FROM VW_CLAIM_TRANSACTION_DETAIL VCT WITH(NOLOCK)  WHERE ACTION_ON_PAYMENT IN 
			(174,175,176,177,178,185,190,203,207,173,183,184,186,187,189,204,241,242,243,244,245,249,247,248,250,251,253,254,255,246)
			AND DATEPART(YEAR,VCT.DATE_OF_LOSS) = VPL.INCURRED_YEAR AND VCT.COVERAGE_ID = VPL.COVERAGE_ID
			AND VCT.ACTV_YEAR = YEAR(@AS_ON_DATE)
			)
	) AS COUNT_PAID_EXPENSES,

	(
		SELECT COUNT(CLAIM_ID) FROM CLM_CLAIM_INFO CLM WITH(NOLOCK) 
		WHERE CLM.CLAIM_STATUS = @CLAIM_CLOSED AND YEAR(CLM.CLOSED_DATE )  = YEAR(@AS_ON_DATE)
		AND YEAR(CLM.LOSS_DATE) = VPL.INCURRED_YEAR		
		AND EXISTS 
		( 
			SELECT COUNT(CLAIM_ID) 
			FROM VW_CLAIM_TRANSACTION_DETAIL VCT	WITH(NOLOCK) 
			WHERE VCT.ACTION_ON_PAYMENT IN(@PARTIAL_PAID_LOSS,@FINAL_PAID_LOSS)
			AND DATEPART(YEAR,VCT.DATE_OF_LOSS) = YEAR(CLM.LOSS_DATE) 
			AND VCT.COVERAGE_ID = VPL.COVERAGE_ID
			AND VCT.ACTV_YEAR = YEAR(@AS_ON_DATE)
			AND CLM.CLAIM_ID = VCT.CLAIM_ID
		) 
	)AS CLOSED_WITH_PAYMENT,

	(
		SELECT COUNT(CLAIM_ID) FROM CLM_CLAIM_INFO CLM WITH(NOLOCK) 
		WHERE CLM.CLAIM_STATUS = @CLAIM_CLOSED AND YEAR(CLM.CLOSED_DATE )  = YEAR(@AS_ON_DATE)
		AND YEAR(CLM.LOSS_DATE) = VPL.INCURRED_YEAR		
		AND NOT EXISTS 
		( 
			SELECT COUNT(CLAIM_ID) 
			FROM VW_CLAIM_TRANSACTION_DETAIL VCT WITH(NOLOCK) 	
			WHERE VCT.ACTION_ON_PAYMENT IN(@PARTIAL_PAID_LOSS,@FINAL_PAID_LOSS)
			AND DATEPART(YEAR,VCT.DATE_OF_LOSS) = YEAR(CLM.LOSS_DATE) 
			AND VCT.COVERAGE_ID = VPL.COVERAGE_ID
			AND VCT.ACTV_YEAR = YEAR(@AS_ON_DATE)
			AND CLM.CLAIM_ID = VCT.CLAIM_ID
		) 
	)AS CLOSED_WITHOUT_PAYMENT

	FROM PAID_LOSS_INCURRED VPL WITH(NOLOCK) 
	JOIN  CLAIM_ENDING_RESERVE CER WITH(NOLOCK) ON 
	--CER.CLAIM_ID=VPL.CLAIM_ID AND 
	CER.COVERAGE_ID=VPL.COVERAGE_ID
	WHERE VPL.YEAR_NUMBER = year(@AS_ON_DATE) and INCURRED_YEAR = year(@AS_ON_DATE)
	GROUP BY VPL.COVERAGE_ID , INCURRED_YEAR ,CER.ENDING_RESERVE
) CLM_COUNT 

INNER JOIN 
(
SELECT COV_ID,ASLOB FROM MNT_COVERAGE WITH(NOLOCK) 
UNION
SELECT COV_ID,ASLOB FROM MNT_COVERAGE_EXTRA WITH(NOLOCK) 
)
MC  
ON CLM_COUNT.COVERAGE_ID = MC.COV_ID  
INNER JOIN MNT_LOOKUP_VALUES MLV  WITH(NOLOCK) 
ON MC.ASLOB = MLV.LOOKUP_UNIQUE_ID
INNER JOIN MNT_LOB_DESC ML WITH(NOLOCK) 
ON MLV.LOOKUP_UNIQUE_ID = ML.ASLOB_ID

GROUP BY ML.ASLOB_ID,INCURRED_YEAR,OPEN_CLAIMS,COUNT_PAID_LOSSES,COUNT_PAID_EXPENSES,CLOSED_WITH_PAYMENT,
CLOSED_WITHOUT_PAYMENT


END





GO

