IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_FetchPendingVendorInvoices]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_FetchPendingVendorInvoices]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------
Proc Name       : Proc_FetchPendingVendorInvoices
Created by      : Ravindra Gupta
Date            : 2-7-2006
Purpose    	: 
Revison History :
Used In 	: Wolverine
exec Proc_FetchPendingVendorInvoices 62 , null ,null , null,null , null,null
------------------------------------------------------------
Date     Review By          Comments
------   ------------       -------------------------*/

-- drop proc dbo.Proc_FetchPendingVendorInvoices
CREATE PROC [dbo].[Proc_FetchPendingVendorInvoices]
(
	@VENDOR_ID	int = null,
	@FROM_TRAN_DATE	DateTime = null,
	@TO_TRAN_DATE	DateTime = null,
	@FROM_DUE_DATE	DateTime = null,
	@TO_DUE_DATE	DAtetime = null,
	@FROM_AMOUNT	Decimal(18,2) =null,
	@TO_AMOUNT 	Decimal(18,2) = null
)
AS
BEGIN 
DECLARE @QUERY Varchar(8000),
	@WHERE_CLAUSE Varchar(2500)
SET @WHERE_CLAUSE  = ' ' 

SET @QUERY = 
'SELECT 
ISNULL(VEND.COMPANY_NAME,'''')  + '' - '' + ISNULL(VENDOR_ACC_NUMBER,'''') AS COMPANY_NAME,
ISNULL(VENDOR_CODE,'''') AS COMPANY_CODE,
ISNULL(VEND.VENDOR_ADD1,'''')  + ''  '' + ISNULL(VEND.VENDOR_ADD2,'''') + ''  '' + ISNULL(VEND.VENDOR_CITY,'''') AS COMPANY_ADDRESS,
OI.SOURCE_NUM AS INVOICE_NUMBER,
INV.REF_PO_NUM AS REF_NUMBER,
CONVERT(VARCHAR,OI.SOURCE_TRAN_DATE,101) AS TRANSACTION_DATE,  
CONVERT(VARCHAR,OI.SOURCE_EFF_DATE,101) AS DUE_DATE,  
INV.NOTE AS INVOICE_NARRATION,
INV.INVOICE_AMOUNT AS INVOICE_AMOUNT,
ISNULL(OI.TOTAL_PAID,0) AS PAID_AMOUNT,
ISNULL(OI.TOTAL_DUE,0) - ISNULL(OI.TOTAL_PAID,0) AS BALANCE_AMOUNT
FROM ACT_VENDOR_OPEN_ITEMS  OI
INNER JOIN MNT_VENDOR_LIST VEND  
ON OI.VENDOR_ID = VEND.VENDOR_ID  
LEFT OUTER JOIN ACT_VENDOR_INVOICES INV  
ON OI.SOURCE_ROW_ID = INV.INVOICE_ID AND OI.UPDATED_FROM = ''I'' 
WHERE ISNULL(OI.TOTAL_DUE,0) - ISNULL(OI.TOTAL_PAID,0) <> 0
'

IF(@VENDOR_ID IS NOT NULL)
BEGIN 
	SET @WHERE_CLAUSE = '  AND VEND.VENDOR_ID = ' + CONVERT(VARCHAR(50),@VENDOR_ID)
END
IF(@FROM_TRAN_DATE IS NOT NULL)
BEGIN 
	SET @WHERE_CLAUSE = @WHERE_CLAUSE + '  AND CAST(CONVERT(VARCHAR,OI.SOURCE_TRAN_DATE,101) 
	as DATETIME) >= ''' + 
	CONVERT(VARCHAR,(CAST((CONVERT(VARCHAR,@FROM_TRAN_DATE,101)) AS DATETIME)),101)  + ''''
END
IF(@TO_TRAN_DATE IS NOT NULL)
BEGIN 
	SET @WHERE_CLAUSE = @WHERE_CLAUSE + '  AND CAST(CONVERT(VARCHAR,OI.SOURCE_TRAN_DATE,101) 
	as DATETIME) <= ''' + 
	CONVERT(VARCHAR,(CAST((CONVERT(VARCHAR,@TO_TRAN_DATE,101)) AS DATETIME)),101)  + ''''
END

IF(@FROM_DUE_DATE IS NOT NULL)
BEGIN 
	SET @WHERE_CLAUSE = @WHERE_CLAUSE + '  AND CAST(CONVERT(VARCHAR,OI.SOURCE_EFF_DATE,101)as DATETIME) >= ''' + 
	CONVERT(VARCHAR,CAST((CONVERT(VARCHAR,@FROM_DUE_DATE,101)) AS DATETIME),101)   + ''''
END
IF(@TO_DUE_DATE IS NOT NULL)
BEGIN 
	SET @WHERE_CLAUSE = @WHERE_CLAUSE + '  AND CAST(CONVERT(VARCHAR,OI.SOURCE_EFF_DATE,101) as DATETIME ) <= ''' + 
	CONVERT(VARCHAR,CAST((CONVERT(VARCHAR,@TO_DUE_DATE,101)) AS DATETIME),101)  + ''''
END

IF(@FROM_AMOUNT IS NOT NULL)
BEGIN 
	SET @WHERE_CLAUSE = @WHERE_CLAUSE + '  AND ISNULL(OI.TOTAL_DUE,0) - ISNULL(OI.TOTAL_PAID,0) >= ' + 
	CONVERT(VARCHAR,@FROM_AMOUNT)  
END
IF(@TO_AMOUNT IS NOT NULL)
BEGIN 
	SET @WHERE_CLAUSE = @WHERE_CLAUSE + ' AND ISNULL(OI.TOTAL_DUE,0) - ISNULL(OI.TOTAL_PAID,0) <= ' + 
	CONVERT(VARCHAR,@TO_AMOUNT)  
END



SET @QUERY = @QUERY  +  ISNULL(@WHERE_CLAUSE,'') 
SET @QUERY = @QUERY  +  ' ORDER BY VEND.COMPANY_NAME'

-- print @QUERY 
EXECUTE ( @QUERY )
	 
END



GO

