IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetNissData_InlandMarineOLD]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetNissData_InlandMarineOLD]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO







/*----------------------------------------------------------          
Proc Name        : dbo.Proc_GetNissData_InlandMarineOLD         
Created by       : Arun Dhingra    
Date             : 11/12/2006    
Purpose          : Get Detail Information for NISS Report for InlandMarine    
Revison History  :          
Used In          : Wolverine         
--Proc_GetNissData_InlandMarineOLD  '01/14/2003','10/14/2006'     
------------------------------------------------------------ */    
-- drop proc dbo.Proc_GetNissData_InlandMarineOLD          
CREATE PROC dbo.Proc_GetNissData_InlandMarineOLD          
(    
@FROMDATE DATETIME = NULL, -- Valid Format mm/dd/yyyy         
@TODATE DATETIME = NULL    -- Valid Format mm/dd/yyyy    
)    
AS          
BEGIN          
    
SELECT --PL.POLICY_LOB,PL.POLICY_NUMBER,
'068' AS NISS_COMP_NUM,'' AS BLANK,    
SUBSTRING(CONVERT(VARCHAR,YEAR (getdate())),4,1) AS 'CALENDAR_YEAR',    
SUBSTRING(CONVERT(VARCHAR,YEAR (getdate())),4,1) AS 'CALL_YEAR',    
CSL.NSS_STATE_ID AS STATE,'6' AS 'LINE_CODE','' AS BLANK,'1' AS 'ITEM_CODE',    
'' AS BLANK,MTC.NSS_VALUE_CODE AS 'CLASSIFICATION_CODE','' AS BLANK,    
PPD.PREMIUM_AMOUNT AS 'WRITTEN_PREMIUM',    
CM.PAID_LOSS AS 'PAID_LOSSES',NULL AS 'OUTSTANDING_LOSSES','1' AS NUMBER_OF_PAID_CLAIMS,'1' AS NUMBER_OF_OUTSTANDING_CLAIMS,    
'' AS BLANK,'1' AS 'TERRORISM_COVERAGE_CODE','' AS BLANK, 
CAUSEOF_LOSSCODE = CASE
WHEN (CTD.DETAIL_TYPE_ID = 32 or CTD.DETAIL_TYPE_ID = 37 or CTD.DETAIL_TYPE_ID = 31 or CTD.DETAIL_TYPE_ID = 42) THEN 1
WHEN (CTD.DETAIL_TYPE_ID = 49 or CTD.DETAIL_TYPE_ID = 36) THEN 2
WHEN (CTD.DETAIL_TYPE_ID = 41) THEN 3
WHEN (CTD.DETAIL_TYPE_ID = 28) THEN 4
WHEN (CTD.DETAIL_TYPE_ID = 43 or CTD.DETAIL_TYPE_ID = 44 or CTD.DETAIL_TYPE_ID = 45 or CTD.DETAIL_TYPE_ID = 38 or CTD.DETAIL_TYPE_ID = 39) THEN 5
WHEN (CTD.DETAIL_TYPE_ID = 27) THEN 7
Else 9
END,
'90' AS 'ANNUAL_STMT_LOB','' AS BLANK    
FROM POL_POLICY_PROCESS PPP    
INNER JOIN POL_CUSTOMER_POLICY_LIST PL ON PPP.CUSTOMER_ID = PL.CUSTOMER_ID AND PPP.POLICY_ID = PL.POLICY_ID AND PPP.POLICY_VERSION_ID = PL.POLICY_VERSION_ID    
INNER JOIN MNT_COUNTRY_STATE_LIST CSL ON PL.STATE_ID = CSL.STATE_ID     
LEFT OUTER JOIN MNT_COVERAGE MTC on PL.STATE_ID = MTC.STATE_ID AND    
MTC.COVERAGE_TYPE='IM' and MTC.LOB_ID = 1     
LEFT OUTER JOIN ACT_PREMIUM_PROCESS_DETAILS PPD ON PL.CUSTOMER_ID = PPD.CUSTOMER_ID AND PL.POLICY_ID = PPD.POLICY_ID AND PL.POLICY_VERSION_ID = PPD.POLICY_VERSION_ID    
LEFT OUTER JOIN CLM_CLAIM_INFO CM ON PL.CUSTOMER_ID = CM.CUSTOMER_ID AND PL.POLICY_ID = CM.POLICY_ID AND PL.POLICY_VERSION_ID = CM.POLICY_VERSION_ID    
LEFT OUTER JOIN CLM_OCCURRENCE_DETAIL CCD ON CM.CLAIM_ID = CCD.CLAIM_ID
LEFT OUTER JOIN CLM_TYPE_DETAIL CTD ON CCD.LOSS_TYPE = CTD.DETAIL_TYPE_ID
WHERE PPP.PROCESS_ID IN (3,5,12,14,18,24,25) AND PL.POLICY_LOB =1 AND PL.POLICY_EFFECTIVE_DATE >= @FROMDATE AND PL.POLICY_EFFECTIVE_DATE <= @TODATE    
END          






GO

