IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetCLM_CURRENT_ACTIVITY_RESERVE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetCLM_CURRENT_ACTIVITY_RESERVE]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------                                                                                                                                    
Proc Name       : Proc_GetCLM_CURRENT_ACTIVITY_RESERVE                                                                      
Created by      : Asfa Praveen                                                                      
Date            : 12/Oct/2007                                                                                      
Purpose         : Get Reserve info for current activity      
Revison History :                                                                                      
Used In         : Wolverine                                                                                                                              
------------------------------------------------------------                                                                                                                                    
Date     Review By          Comments                                                                                                                                    
------   ------------       -------------------------*/                                                                                                                                    
--  Drop PROC dbo.Proc_GetCLM_CURRENT_ACTIVITY_RESERVE            
--  Proc_GetCLM_CURRENT_ACTIVITY_RESERVE 1015,0,1      
--  select * from CLM_ACTIVITY_RESERVE            
            
CREATE PROC dbo.Proc_GetCLM_CURRENT_ACTIVITY_RESERVE            
 @CLAIM_ID int,                                                            
 @ACTIVITY_ID int,      
 @TRANSACTION_ID INT                                                                
AS                                                                                                                                    
BEGIN                                                         
                                                      
                                                                                                          
/*                                                                                                            
1 HOME Homeowners                                                                                                             
2 AUTOP Automobile                                                                                                             
3 CYCL Motorcycle                                                                                                             
4 BOAT Watercraft                                       
5 UMB Umbrella                                                              
6 REDW Rental                                                            
7 GENL General Liability                                                                                                             
*/                     
                                 
DECLARE @CUSTOMER_ID INT                             
DECLARE @POLICY_ID INT                            
DECLARE @POLICY_VERSION_ID SMALLINT                                  
DECLARE @LOB_ID INT                                                                                        
DECLARE @COVERAGE_TABLE VARCHAR(100)                                                                            
DECLARE @VEHICLE_COLUMN_NAME VARCHAR(100)                                                               
DECLARE @TEMPSTR VARCHAR(5000)                                                                                     
declare @POLICY_COVERAGES varchar(10)                                                                                            
DECLARE @DASH_OPERATOR VARCHAR(5)                                                        
DECLARE @VEHICLE_TEXT VARCHAR(500)                                                       
declare @VEHICLE_TABLE VARCHAR(50)               
DECLARE @POLICY_VEHICLE_COLUMN_NAME VARCHAR(20)                          
declare @STATE_ID smallint                                                                                  
                                                                                 
declare @AUTOMOBILE smallint                                                                  
declare @MOTORCYCLE smallint                                                                                      
DECLARE @WATERCRART smallint                                                                                      
declare @HOMEOWNER smallint                                                                             
declare @RENTAL smallint                                                                                      
declare @GENERAL_LIABILITY smallint                                                                                      
declare @UMBRELLA smallint                                                                               
DECLARE @TEMP varchar(3000)       
                                                                                        
                                                                                      
                                                                     
set @AUTOMOBILE = 2                                                                                      
set @MOTORCYCLE = 3                                                                                      
set @WATERCRART = 4                                                                                      
set @HOMEOWNER = 1                                                                                      
set @RENTAL = 6                                                                                      
set @GENERAL_LIABILITY = 7                                                                                      
set @UMBRELLA = 5                                                                                                
                                                                                                        
SET @POLICY_COVERAGES = 'PL'                                                                                                        
SET @DASH_OPERATOR = '-'                                                                                            
SET @VEHICLE_TEXT = ''                                
                          
SELECT                           
 @CUSTOMER_ID=PCPL.CUSTOMER_ID,@POLICY_ID=PCPL.POLICY_ID,@POLICY_VERSION_ID=PCPL.POLICY_VERSION_ID,                           
 @LOB_ID = ISNULL(POLICY_LOB,0),@STATE_ID=ISNULL(PCPL.STATE_ID,0)                          
FROM                           
 POL_CUSTOMER_POLICY_LIST PCPL JOIN CLM_CLAIM_INFO CCI                           
ON                  
  PCPL.CUSTOMER_ID = CCI.CUSTOMER_ID AND PCPL.POLICY_ID = CCI.POLICY_ID AND                                                       
  PCPL.POLICY_VERSION_ID = CCI.POLICY_VERSION_ID                                                       
WHERE                      
 CCI.CLAIM_ID=@CLAIM_ID                                                      
      
                                                 
IF(@LOB_ID IS NULL OR @LOB_ID=0)                           
 RETURN                                                                                                        
                                                                              
                                                                                            
IF(@LOB_ID=@HOMEOWNER OR @LOB_ID=@RENTAL)                                        
BEGIN                                                                 
 SET @COVERAGE_TABLE = 'POL_DWELLING_SECTION_COVERAGES'                                                                          
 SET @VEHICLE_COLUMN_NAME = 'PVC.DWELLING_ID '                  
 SET @VEHICLE_TABLE = 'CLM_INSURED_LOCATION'                        
 SET @POLICY_VEHICLE_COLUMN_NAME = 'POLICY_LOCATION_ID'                                                                                  
-- SET @VEHICLE_TEXT = 'PVC.DWELLING_ID AS DWELLING, ' //Commented by Asfa (14-Sept-2007)            
 SET @VEHICLE_TEXT = 'PVC.DWELLING_ID AS VEHICLE, '            
            
 SET @POLICY_COVERAGES = 'S1'                                                                                    
 --Select SectionI coverages                                                            
SET @TEMPSTR='SELECT CAST(ISNULL(CAR.PRIMARY_EXCESS,0) AS INT) PRIMARY_EXCESS,CAR.ATTACHMENT_POINT, '  +              
 ' CAR.OUTSTANDING,CAR.RI_RESERVE,CAR.CLAIM_ID,CAR.ACTION_ON_PAYMENT AS CLM_RESERVE_ACTION_ON_PAYMENT, ' +               
  ' CAR.CRACCTS AS CLM_RESERVE_CRACCTS,CAR.DRACCTS AS CLM_RESERVE_DRACCTS,CAR.RESERVE_ID, '+                                                                                                           
--       ' CAR.REINSURANCE_CARRIER,MLV.LOOKUP_VALUE_DESC AS REINSURANCECARRIER,CAR.MCCA_ATTACHMENT_POINT,CAR.MCCA_APPLIES, ' + @VEHICLE_COLUMN_NAME + ' ,' +     //Commented by Asfa (14-Sept-2007)            
       ' CAR.REINSURANCE_CARRIER,MLV.LOOKUP_VALUE_DESC AS REINSURANCECARRIER,CAR.MCCA_ATTACHMENT_POINT,CAR.MCCA_APPLIES, ' + @VEHICLE_COLUMN_NAME + ' VEHICLE_ID,' +                                                                                      
       '  MC.COV_ID, MC.COV_CODE, COV_DES AS COV_DESC ,' +  CAST(@STATE_ID AS VARCHAR) + ' AS STATE_ID, ' +                                                                                            
       CAST(@VEHICLE_TEXT AS VARCHAR(500)) +                                                                          
       ' CASE MC.LIMIT_TYPE ' +                                                                                                           
       ' WHEN 2 THEN ' +                
       ' SUBSTRING(CONVERT(VARCHAR(30),CONVERT(MONEY,PVC.LIMIT_1),1),0, + CHARINDEX(''.'',CONVERT(VARCHAR(30),CONVERT(MONEY,PVC.LIMIT_1),1),0)) + ' +                                                                                                 
       ' CONVERT(VARCHAR(20),ISNULL(PVC.LIMIT2_AMOUNT_TEXT,''''))            + ''/'' + ' +                                                    
       ' SUBSTRING(CONVERT(VARCHAR(30),CONVERT(MONEY,PVC.LIMIT_2),1),0,CHARINDEX(''.'',CONVERT(VARCHAR(30),CONVERT(MONEY,PVC.LIMIT_1),1),0)) +  ' +                                                                         
       ' CONVERT(VARCHAR(20),ISNULL(PVC.LIMIT2_AMOUNT_TEXT,'''')) ' +     
        --Done for Itrack Issue 5720 on 30 April 2009                       
       ' ELSE ISNULL(SUBSTRING(CONVERT(VARCHAR(30),CONVERT(MONEY,PVC.LIMIT_1),1),0,CHARINDEX(''.'',CONVERT(VARCHAR(30),CONVERT(MONEY,PVC.LIMIT_1),1),0)),'''')+ CONVERT(VARCHAR(20),ISNULL(PVC.LIMIT1_AMOUNT_TEXT,'''')) ' +                                   

                  
      
      
      
       ' END AS LIMIT ,' +                                                                                                                                 
 ' CASE MC.DEDUCTIBLE_TYPE ' +                                                                                                           
       ' WHEN 2 THEN SUBSTRING(CONVERT(VARCHAR(30),CONVERT(MONEY,PVC.DEDUCTIBLE_1),1),0,CHARINDEX(''.'',CONVERT(VARCHAR(30),CONVERT(MONEY,PVC.DEDUCTIBLE_1),1),0)) + ''' + ' ' + '''+' +              
--   ' CONVERT(VARCHAR(20),ISNULL(PVC.DEDUCTIBLE1_AMOUNT_TEXT,'''')) + ''/'' + ' +                                                                                              
  ' ''/'' + ' + 
       ' SUBSTRING(CONVERT(VARCHAR(30),CONVERT(MONEY,PVC.DEDUCTIBLE_2),1),0,CHARINDEX(''.'',CONVERT(VARCHAR(30),CONVERT(MONEY,PVC.DEDUCTIBLE_2),1),0))  ' +            
    
      
--    ' CONVERT(VARCHAR(20),ISNULL(PVC.DEDUCTIBLE2_AMOUNT_TEXT,'''')) ' +                                                  
       ' ELSE SUBSTRING(CONVERT(VARCHAR(30),CONVERT(MONEY,PVC.DEDUCTIBLE_1),1),0,CHARINDEX(''.'',CONVERT(VARCHAR(30),CONVERT(MONEY,PVC.DEDUCTIBLE_1),1),0)) ' +      
--       ' CONVERT(VARCHAR(20),ISNULL(PVC.DEDUCTIBLE1_AMOUNT_TEXT,'''')) ' +                                                                                                          
       ' END AS DEDUCTIBLE, '  +                                                                                                      
       ' MC.COVERAGE_TYPE, ISNULL(CAST(PVC.DEDUCTIBLE AS VARCHAR(10)),'''') + ISNULL(PVC.DEDUCTIBLE_TEXT,'''') AS DEDUCTIBLE2'  +                                                                                                            
       ' FROM CLM_CLAIM_INFO CCI JOIN CLM_ACTIVITY_RESERVE CAR  ON CCI.CLAIM_ID = CAR.CLAIM_ID ' +                                                                                                           
       ' JOIN ' + @COVERAGE_TABLE + ' PVC ON CCI.POLICY_ID = PVC.POLICY_ID AND ' +                                                                                                                          
       ' CCI.POLICY_VERSION_ID = PVC.POLICY_VERSION_ID AND ' +                                                       
    ' CCI.CUSTOMER_ID = PVC.CUSTOMER_ID AND CAR.COVERAGE_ID=PVC.COVERAGE_CODE_ID AND ' +                                                                                                           
       ' CAR.VEHICLE_ID = ' + @VEHICLE_COLUMN_NAME +                                                                                                           
       ' JOIN MNT_COVERAGE MC ON MC.COV_ID = CAR.COVERAGE_ID ' +                                                 
      ' LEFT JOIN POL_DWELLINGS_INFO PDI ON PDI.CUSTOMER_ID=CCI.CUSTOMER_ID AND PDI.POLICY_ID=CCI.POLICY_ID AND ' +              
      ' PDI.POLICY_VERSION_ID=CCI.POLICY_VERSION_ID AND PDI.DWELLING_ID = PVC.DWELLING_ID ' +                                           
      ' LEFT JOIN ' + CAST(@VEHICLE_TABLE AS VARCHAR) +  ' CIV ON CCI.CLAIM_ID = CIV.CLAIM_ID AND CIV.' + CAST(@POLICY_VEHICLE_COLUMN_NAME  AS VARCHAR) + '=PDI.LOCATION_ID ' +                                       
--       ' LEFT OUTER JOIN ' + CAST(@VEHICLE_TABLE AS VARCHAR) + ' CIV ON CAR.VEHICLE_ID = CIV.' + CAST(@POLICY_VEHICLE_COLUMN_NAME  AS VARCHAR)   +                                                                                             
   ' LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV ' +                                                            
    ' ON MLV.LOOKUP_UNIQUE_ID = CAR.REINSURANCE_CARRIER ' +                                                                
       ' WHERE ' +                                                                                            
       ' CCI.CLAIM_ID=' + CAST(@CLAIM_ID AS VARCHAR(50))  +       
       ' AND MC.COVERAGE_TYPE=' + '''' + CAST(@POLICY_COVERAGES AS VARCHAR)  + '''' +                          
       ' AND CIV.CLAIM_ID=' + CAST(@CLAIM_ID AS VARCHAR(50))   +                                                                                       
-- Added by Asfa (12-Oct-2007) - To fetch the last reserve info.      
       ' AND CAR.TRANSACTION_ID=' + CAST(@TRANSACTION_ID AS VARCHAR(50))   +      
       ' AND CAR.ACTIVITY_ID=' + CAST(@ACTIVITY_ID AS VARCHAR(50))   +      
     ' ORDER BY CAR.RESERVE_ID '                                                               
                                                
                                        
END                                                                                                          
ELSE IF(@LOB_ID=@AUTOMOBILE OR @LOB_ID=@MOTORCYCLE)                                                                                                           
BEGIN                            
 SET @COVERAGE_TABLE = 'POL_VEHICLE_COVERAGES'                                                                                                            
 SET @VEHICLE_COLUMN_NAME = 'PVC.VEHICLE_ID '                                                                                  
 SET @VEHICLE_TABLE = 'CLM_INSURED_VEHICLE'                                                                                                         
 SET @POLICY_VEHICLE_COLUMN_NAME = 'POLICY_VEHICLE_ID'                                            
 SET @VEHICLE_TEXT = '(CAST(CIV.VIN AS VARCHAR(50))+' + '''' + CAST(@DASH_OPERATOR AS VARCHAR) +   '''' +                                                                            
          '+CAST(CIV.VEHICLE_YEAR AS VARCHAR(20))+' + '''' + CAST(@DASH_OPERATOR AS VARCHAR) +   '''' +                                                                                             
          '+CAST(CIV.MAKE AS VARCHAR(50))+' + '''' + CAST(@DASH_OPERATOR AS VARCHAR) +   '''' +                                                                        
          '+CAST(CIV.MODEL AS VARCHAR(50))) AS VEHICLE, '                                                                                 
                                                                               
 SET @TEMPSTR='SELECT DISTINCT CAST(ISNULL(CAR.PRIMARY_EXCESS,0) AS INT) PRIMARY_EXCESS,CAR.ATTACHMENT_POINT, ' +               
  'CAR.OUTSTANDING,CAR.RI_RESERVE,CAR.CLAIM_ID,CAR.ACTION_ON_PAYMENT AS CLM_RESERVE_ACTION_ON_PAYMENT, ' +               
   'CAR.CRACCTS AS CLM_RESERVE_CRACCTS,CAR.DRACCTS AS CLM_RESERVE_DRACCTS,CAR.RESERVE_ID, '+               
 ' CAR.REINSURANCE_CARRIER,MLV.LOOKUP_VALUE_DESC AS REINSURANCECARRIER,CAR.MCCA_ATTACHMENT_POINT,CAR.MCCA_APPLIES, ' +                                  
      ' CAR.COVERAGE_ID AS COV_ID, MC.COV_CODE, ' +  CAST(@STATE_ID AS VARCHAR) + ' AS STATE_ID, '   --COV_DES as COV_DESC ,'+                                
 if(@LOB_ID=@AUTOMOBILE)                              
 begin                              
  SET @TEMPSTR= @TEMPSTR +                               
        ' CASE CAST(CAR.COVERAGE_ID AS VARCHAR) WHEN ''50001'' THEN ''Medical'' WHEN ''50002'' THEN ''Work Loss''' +                                                                       
        ' WHEN ''50003'' THEN ''Death Benefits'' WHEN ''50004'' THEN ''Survivors Benefits''  ' +                         
    ' WHEN ''50005'' THEN ''BI'' WHEN ''50006'' THEN ''PD'' ' +                         
    ' WHEN ''50007'' THEN ''BI'' WHEN ''50008'' THEN ''PD'' ' +                         
    ' WHEN ''50009'' THEN ''BI'' WHEN ''50010'' THEN ''PD'' ELSE MC.COV_DES ' +                         
    ' END AS COV_DESC, '                               
 end                              
 else                              
 begin                              
  SET @TEMPSTR= @TEMPSTR + ' COV_DES as COV_DESC , '                 
 end                              
                              
 SET @TEMPSTR= @TEMPSTR +                              
      ' CASE MC.LIMIT_TYPE ' +                                                                                                           
      ' WHEN 2 THEN ' +                                                                              
      ' substring(convert(varchar(30),convert(money,PVC.LIMIT_1),1),0, + charindex(''.'',convert(varchar(30),convert(money,PVC.LIMIT_1),1),0)) + ' +                                                            
      ' CONVERT(VARCHAR(20),ISNULL(PVC.LIMIT2_AMOUNT_TEXT,''''))            + ''/'' + ' +                                          
      ' substring(convert(varchar(30),convert(money,PVC.LIMIT_2),1),0,charindex(''.'',convert(varchar(30),convert(money,PVC.LIMIT_1),1),0)) +  ' +                                                                                                           



      ' CONVERT(VARCHAR(20),ISNULL(PVC.LIMIT2_AMOUNT_TEXT,'''')) ' +                                                       --Done for Itrack Issue 5720 on 30 April 2009               
      ' ELSE isnull(substring(convert(varchar(30),convert(money,PVC.LIMIT_1),1),0,charindex(''.'',convert(varchar(30),convert(money,PVC.LIMIT_1),1),0)),'''') + CONVERT(VARCHAR(20),ISNULL(PVC.LIMIT1_AMOUNT_TEXT,'''')) ' +           
     
      
      ' END AS LIMIT ,' +                                                                                                                                 
      ' CASE MC.DEDUCTIBLE_TYPE ' +                                                                                                           
      ' WHEN 2 THEN Substring(convert(varchar(30),convert(money,PVC.Deductible_1),1),0,charindex(''.'',convert(varchar(30),convert(money,PVC.Deductible_1),1),0)) + ''' + ' ' + '''+' +                                                                       



  
     
      
      
--      ' CONVERT(VARCHAR(20),ISNULL(PVC.DEDUCTIBLE1_AMOUNT_TEXT,'''')) + ''/'' + ' +                                                     
      ' ''/'' + ' +                                                     
   ' substring(convert(varchar(30),convert(money,PVC.Deductible_2),1),0,charindex(''.'',convert(varchar(30),convert(money,PVC.Deductible_2),1),0))  ' +                                                                                                        

  
   
--      ' CONVERT(VARCHAR(20),ISNULL(PVC.DEDUCTIBLE2_AMOUNT_TEXT,'''')) ' +                                                                                                                   
      ' ELSE substring(convert(varchar(30),convert(money,PVC.Deductible_1),1),0,charindex(''.'',convert(varchar(30),convert(money,PVC.Deductible_1),1),0)) ' +                     
--    ' CONVERT(VARCHAR(20),ISNULL(PVC.DEDUCTIBLE1_AMOUNT_TEXT,'''')) ' +                                                                                      
      ' END AS DEDUCTIBLE, '  +                                                                                                            
      ' MC.COVERAGE_TYPE '  +                                                                                                            
      /*' FROM CLM_CLAIM_INFO CCI JOIN CLM_ACTIVITY_RESERVE CAR  ON CCI.CLAIM_ID = CAR.CLAIM_ID ' +                                                                                                           
      ' JOIN ' + @COVERAGE_TABLE + ' PVC ON CCI.POLICY_ID = PVC.POLICY_ID AND ' +                                                                                                                          
      ' CCI.POLICY_VERSION_ID = PVC.POLICY_VERSION_ID AND ' +                                                                                                           
      ' CCI.CUSTOMER_ID = PVC.CUSTOMER_ID AND CAR.COVERAGE_ID=PVC.COVERAGE_CODE_ID ' +                                                                               
      ' JOIN MNT_COVERAGE MC ON MC.COV_ID = CAR.COVERAGE_ID WHERE ' +                                                                                                                 
      ' CCI.CLAIM_ID=' + CAST(@CLAIM_ID AS VARCHAR(50)) + ' AND MC.COVERAGE_TYPE=' + '''' + CAST(@POLICY_COVERAGES AS VARCHAR)  + ''''*/                                                                        
   ' FROM CLM_CLAIM_INFO CCI ' +                                                       
   ' LEFT JOIN CLM_ACTIVITY_RESERVE CAR ON CAR.CLAIM_ID = CCI.CLAIM_ID ' +                                                                         
   ' LEFT JOIN POL_VEHICLE_COVERAGES PVC ON PVC.CUSTOMER_ID = CCI.CUSTOMER_ID AND PVC.POLICY_ID = CCI.POLICY_ID AND PVC.POLICY_VERSION_ID=CCI.POLICY_VERSION_ID AND CAR.COVERAGE_ID = PVC.COVERAGE_CODE_ID ' +                                                 

   ' LEFT JOIN MNT_COVERAGE MC ON MC.COV_ID = CAR.COVERAGE_ID  ' +                                                                    
   ' LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV ' +                                 
  ' ON MLV.LOOKUP_UNIQUE_ID = CAR.REINSURANCE_CARRIER ' +                                                                     
' WHERE CAR.CLAIM_ID = ' + CAST(@CLAIM_ID AS VARCHAR(50)) +       
   ' AND ( MC.COVERAGE_TYPE=' + '''' + CAST(@POLICY_COVERAGES AS VARCHAR)  + '''' +       
   ' OR MC.COVERAGE_TYPE IS NULL)' +                       
-- Added by Asfa (12-Oct-2007) - To fetch the last reserve info.      
       ' AND CAR.TRANSACTION_ID=' + CAST(@TRANSACTION_ID AS VARCHAR(50))   +      
       ' AND CAR.ACTIVITY_ID=' + CAST(@ACTIVITY_ID AS VARCHAR(50))   +      
  ' ORDER BY CAR.RESERVE_ID '                                                                   
                                     
                                                                                         
END                                                                         
ELSE IF(@LOB_ID=@WATERCRART)                                                                                        
BEGIN                                                                                                          
 SET @COVERAGE_TABLE = 'POL_WATERCRAFT_COVERAGE_INFO'                                                                                                            
 SET @VEHICLE_COLUMN_NAME = 'PVC.BOAT_ID '                                                      
 SET @VEHICLE_TABLE = 'CLM_INSURED_BOAT'                                                                                  
 SET @POLICY_VEHICLE_COLUMN_NAME = 'POLICY_BOAT_ID'                                                                                  
 SET @VEHICLE_TEXT = '(CAST(CIV.YEAR AS VARCHAR)+' + '''' + CAST(@DASH_OPERATOR AS VARCHAR) +   '''' +                                                            
   '+CAST(CIV.MAKE AS VARCHAR)+' + '''' + CAST(@DASH_OPERATOR AS VARCHAR) +   '''' +                                                                                             
   '+CAST(CIV.MODEL AS VARCHAR)+' + '''' + CAST(@DASH_OPERATOR AS VARCHAR) +   '''' +                                                                                          '+CAST(CIV.SERIAL_NUMBER AS VARCHAR)) AS VEHICLE, '                             

 
    
       
      
      
                              
 --Since we do not have any policy level coverages for watercraft, display a blank table only                                                                              
 SET @TEMPSTR = ' SELECT NULL '                                                                              
END                                                                                                          
ELSE                                                                             
 RETURN                                                                                
                                      
                                
print @TEMPSTR                  
EXEC (@TEMPSTR)                                                                                                 
                                                                                                                                   
 SET @TEMPSTR='SELECT CAST(ISNULL(CAR.PRIMARY_EXCESS,0) AS INT) PRIMARY_EXCESS,CAR.ATTACHMENT_POINT, ' +               
   ' CAR.OUTSTANDING,CAR.RI_RESERVE,CAR.CLAIM_ID,CAR.ACTION_ON_PAYMENT AS CLM_RESERVE_ACTION_ON_PAYMENT, ' +               
    ' CAR.CRACCTS AS CLM_RESERVE_CRACCTS,CAR.DRACCTS AS CLM_RESERVE_DRACCTS,CAR.RESERVE_ID, '+                                                                                                           
--       ' CAR.REINSURANCE_CARRIER,MLV.LOOKUP_VALUE_DESC AS REINSURANCECARRIER,CAR.MCCA_ATTACHMENT_POINT,CAR.MCCA_APPLIES, ' + @VEHICLE_COLUMN_NAME + ' ,' +   //Commented by Asfa (14-Sept-2007)            
       ' CAR.REINSURANCE_CARRIER,MLV.LOOKUP_VALUE_DESC AS REINSURANCECARRIER,CAR.MCCA_ATTACHMENT_POINT,CAR.MCCA_APPLIES, ' + @VEHICLE_COLUMN_NAME + ' VEHICLE_ID,' +                                               
       '  MC.COV_ID, MC.COV_CODE, COV_DES AS COV_DESC ,' +  CAST(@STATE_ID AS VARCHAR) + ' AS STATE_ID, ' +                                                    
       CAST(@VEHICLE_TEXT AS VARCHAR(500)) +                                                                                   
       ' CASE MC.LIMIT_TYPE ' +                                              
       ' WHEN 2 THEN ' +                                                                                                           
       ' SUBSTRING(CONVERT(VARCHAR(30),CONVERT(MONEY,PVC.LIMIT_1),1),0, + CHARINDEX(''.'',CONVERT(VARCHAR(30),CONVERT(MONEY,PVC.LIMIT_1),1),0)) + ' +        
       ' CONVERT(VARCHAR(20),ISNULL(PVC.LIMIT2_AMOUNT_TEXT,''''))            + ''/'' + ' +                                                                      
    ' SUBSTRING(CONVERT(VARCHAR(30),CONVERT(MONEY,PVC.LIMIT_2),1),0,CHARINDEX(''.'',CONVERT(VARCHAR(30),CONVERT(MONEY,PVC.LIMIT_1),1),0)) +  ' +                                                                                                           
       ' CONVERT(VARCHAR(20),ISNULL(PVC.LIMIT2_AMOUNT_TEXT,'''')) ' +                                                     --Done for Itrack Issue 5720 on 30 April 2009                   
 ' ELSE ISNULL(SUBSTRING(CONVERT(VARCHAR(30),CONVERT(MONEY,PVC.LIMIT_1),1),0,CHARINDEX(''.'',CONVERT(VARCHAR(30),CONVERT(MONEY,PVC.LIMIT_1),1),0)),'''') + CONVERT(VARCHAR(20),ISNULL(PVC.LIMIT1_AMOUNT_TEXT,'''')) ' +                                        
 
                  
     
       
        ' END AS LIMIT ,' +                                                        
       ' CASE MC.DEDUCTIBLE_TYPE ' +                                                                                                           
       ' WHEN 2 THEN SUBSTRING(CONVERT(VARCHAR(30),CONVERT(MONEY,PVC.DEDUCTIBLE_1),1),0,CHARINDEX(''.'',CONVERT(VARCHAR(30),CONVERT(MONEY,PVC.DEDUCTIBLE_1),1),0)) + ''' + ' ' + '''+' +                                                                      



   
    
      
      
--       ' CONVERT(VARCHAR(20),ISNULL(PVC.DEDUCTIBLE1_AMOUNT_TEXT,'''')) + ''/'' + ' +                                                                    
       ' ''/'' + ' +                                                                                              
       ' SUBSTRING(CONVERT(VARCHAR(30),CONVERT(MONEY,PVC.DEDUCTIBLE_2),1),0,CHARINDEX(''.'',CONVERT(VARCHAR(30),CONVERT(MONEY,PVC.DEDUCTIBLE_2),1),0)) ' +                                                                                                     

  
    
      
      
      
--       ' CONVERT(VARCHAR(20),ISNULL(PVC.DEDUCTIBLE2_AMOUNT_TEXT,'''')) ' +                                                                                                           
       ' ELSE SUBSTRING(CONVERT(VARCHAR(30),CONVERT(MONEY,PVC.DEDUCTIBLE_1),1),0,CHARINDEX(''.'',CONVERT(VARCHAR(30),CONVERT(MONEY,PVC.DEDUCTIBLE_1),1),0)) ' +         
--       ' CONVERT(VARCHAR(20),ISNULL(PVC.DEDUCTIBLE1_AMOUNT_TEXT,'''')) ' +                                                                                                           
       ' END AS DEDUCTIBLE, '  +                                                                                                           
       ' MC.COVERAGE_TYPE '                                                  
  IF(@LOB_ID=@HOMEOWNER or @LOB_ID=@RENTAL)                    
  SET @TEMPSTR = @TEMPSTR + ', ISNULL(CAST(PVC.DEDUCTIBLE AS VARCHAR(10)),'''') + ISNULL(PVC.DEDUCTIBLE_TEXT,'''') AS DEDUCTIBLE2 '                                 
                                                  
  SET @TEMPSTR = @TEMPSTR +                                                   
       ' FROM CLM_CLAIM_INFO CCI JOIN CLM_ACTIVITY_RESERVE CAR  ON CCI.CLAIM_ID = CAR.CLAIM_ID ' +                                                                                                           
       ' JOIN ' + @COVERAGE_TABLE + ' PVC ON CCI.POLICY_ID = PVC.POLICY_ID AND ' +                                                                                                         
     ' CCI.POLICY_VERSION_ID = PVC.POLICY_VERSION_ID AND ' +                                                                                                    
       ' CCI.CUSTOMER_ID = PVC.CUSTOMER_ID AND CAR.COVERAGE_ID=PVC.COVERAGE_CODE_ID AND ' +                               
       ' CAR.VEHICLE_ID = ' + @VEHICLE_COLUMN_NAME +                                                                                                   
       ' JOIN MNT_COVERAGE MC ON MC.COV_ID = CAR.COVERAGE_ID '                                                    
  IF(@LOB_ID=@HOMEOWNER OR @LOB_ID=@RENTAL)                    
   BEGIN                                              
   SET @TEMPSTR = @TEMPSTR + ' LEFT JOIN POL_DWELLINGS_INFO PDI ON PDI.CUSTOMER_ID=CCI.CUSTOMER_ID AND PDI.POLICY_ID=CCI.POLICY_ID AND ' +                                              
            ' PDI.POLICY_VERSION_ID=CCI.POLICY_VERSION_ID AND PDI.DWELLING_ID = PVC.DWELLING_ID ' +                                           
   ' LEFT JOIN ' + CAST(@VEHICLE_TABLE AS VARCHAR) +  ' CIV ON CCI.CLAIM_ID = CIV.CLAIM_ID AND CIV.POLICY_LOCATION_ID = PDI.LOCATION_ID '                                           
   END                                              
 ELSE                                                                                        
   SET @TEMPSTR = @TEMPSTR + ' LEFT OUTER JOIN ' + CAST(@VEHICLE_TABLE AS VARCHAR) + ' CIV ON CAR.VEHICLE_ID = CIV.' + CAST(@POLICY_VEHICLE_COLUMN_NAME  AS VARCHAR)                                                 
                                              
   SET @TEMPSTR = @TEMPSTR + ' LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV ' +                                                                     
    ' ON MLV.LOOKUP_UNIQUE_ID = CAR.REINSURANCE_CARRIER ' +                                                                     
       ' WHERE ' +                                        
       ' CCI.CLAIM_ID=' + CAST(@CLAIM_ID AS VARCHAR(50))  + ' AND MC.COVERAGE_TYPE<>' + '''' + CAST(@POLICY_COVERAGES AS VARCHAR)  + ''''   +                                                
    ' AND CIV.CLAIM_ID=' + CAST(@CLAIM_ID AS VARCHAR(50))   +                                               
-- Added by Asfa (12-Oct-2007) - To fetch the last reserve info.      
       ' AND CAR.TRANSACTION_ID=' + CAST(@TRANSACTION_ID AS VARCHAR(50))   +      
       ' AND CAR.ACTIVITY_ID=' + CAST(@ACTIVITY_ID AS VARCHAR(50))   +      
   ' ORDER BY CAR.RESERVE_ID '                                                                 
                                                            
                                                                      
                   
--print @TEMPSTR              
EXEC (@TEMPSTR)                                                                                                                                                                                           
END

GO

