IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetCustomerDetailsForCopyPolicy]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetCustomerDetailsForCopyPolicy]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Pradeep Kushwaha>
-- Create date: <05-May-2011>
-- Description:	<Get the Customer Details for copy policy>
-- =============================================
---drop PROCEDURE Proc_GetCustomerDetailsForCopyPolicy 28241,125,2
CREATE PROCEDURE [dbo].[Proc_GetCustomerDetailsForCopyPolicy]
	-- Add the parameters for the stored procedure here
	@CUSTOMER_ID INT,
	@POLICY_ID INT,
	@POLICY_VERSION_ID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
SELECT CCL.CUSTOMER_ID,CUSTOMER_CODE,ISNULL(CUSTOMER_FIRST_NAME,'') + ' ' + ISNULL(CUSTOMER_MIDDLE_NAME,'') + ' ' + ISNULL(CUSTOMER_LAST_NAME,'') CUSTOMER_NAME,	
AG.AGENCY_DISPLAY_NAME,
ST.STATE_CODE,ST.STATE_NAME,ISNULL(CCL.IS_ACTIVE,'Y') IS_ACTIVE,AG.AGENCY_ID,
POLICY_LIST.CSR,
POLICY_LIST.PRODUCER
FROM CLT_CUSTOMER_LIST  CCL WITH(NOLOCK)
INNER JOIN MNT_AGENCY_LIST AG WITH(NOLOCK) ON CCL.CUSTOMER_AGENCY_ID=AG.AGENCY_ID 
INNER JOIN MNT_COUNTRY_STATE_LIST ST WITH(NOLOCK) ON ST.STATE_ID=CCL.CUSTOMER_STATE
LEFT JOIN POL_CUSTOMER_POLICY_LIST POLICY_LIST WITH(NOLOCK) ON
POLICY_LIST.CUSTOMER_ID=CCL.CUSTOMER_ID

WHERE POLICY_LIST.CUSTOMER_ID=@CUSTOMER_ID AND
POLICY_LIST.POLICY_ID=@POLICY_ID AND 
POLICY_LIST.POLICY_VERSION_ID=@POLICY_VERSION_ID 


END

GO

