IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetLeaderPolicyDetails]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetLeaderPolicyDetails]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN         
--drop proc dbo.Proc_GetLeaderPolicyDetails        
--go 
-- =============================================
-- Author:		<Pradeep Kushwah >
-- Create date: <11-May-2011>
-- Description:	<To get the Leader policy details>
-- GetLeaderPolicyDetails '0003872','NBS',1,'COINS_IMPORT'
-- DROP PROC Proc_GetLeaderPolicyDetails
-- =============================================
CREATE PROCEDURE [dbo].[Proc_GetLeaderPolicyDetails]
	-- Add the parameters for the stored procedure here
	 @LEADER_POLICY_NUMBER NVARCHAR(75),
	 @CO_ENDORSEMENT_NO NVARCHAR(25)=NULL,
	 @INSTALLMENT_NO INT=NULL,
	 @CALLED_FROM NVARCHAR(50)=NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	IF(UPPER(@CALLED_FROM)='COINS_IMPORT')
	BEGIN
			SELECT 
			CO_INS.COINSURANCE_ID,
			CO_INS.LEADER_POLICY_NUMBER,
			CO_INS.CUSTOMER_ID,
			CO_INS.POLICY_ID,
			CO_INS.POLICY_VERSION_ID,
			CO_INS.LEADER_FOLLOWER,
			ISNULL(ENDO.CO_ENDORSEMENT_NO,'NBS') AS CO_ENDORSEMENT_NO,
			ISNULL(T1.FIRST_NAME,'') + ' ' + ISNULL(T1.MIDDLE_NAME,'') + ' ' + ISNULL(T1.LAST_NAME,'') AS APPLICANT_NAME,
			INSTALL.CO_APPLICANT_ID,
			INSTALL.INSTALLMENT_AMOUNT,
			INSTALL.INTEREST_AMOUNT,
			INSTALL.FEE,
			INSTALL.TOTAL,
			INSTALL.INSTALLMENT_NO
			
			FROM POL_CO_INSURANCE CO_INS WITH(NOLOCK)
		
			LEFT JOIN POL_POLICY_ENDORSEMENTS ENDO WITH(NOLOCK) ON  
			CO_INS.CUSTOMER_ID=ENDO.CUSTOMER_ID AND 
			CO_INS.POLICY_ID   =ENDO.POLICY_ID AND 
			CO_INS.POLICY_VERSION_ID =ENDO.POLICY_VERSION_ID
	
			INNER JOIN ACT_POLICY_INSTALLMENT_DETAILS INSTALL WITH(NOLOCK) ON 
			CO_INS.CUSTOMER_ID=INSTALL.CUSTOMER_ID AND 
			CO_INS.POLICY_ID=INSTALL.POLICY_ID AND 
			CO_INS.POLICY_VERSION_ID = INSTALL.POLICY_VERSION_ID  
			
			LEFT JOIN CLT_APPLICANT_LIST T1   WITH(NOLOCK)  ON 
			INSTALL.CO_APPLICANT_ID = T1.APPLICANT_ID 
			
			WHERE CO_INS.LEADER_POLICY_NUMBER=@LEADER_POLICY_NUMBER 
			AND ISNULL(ENDO.CO_ENDORSEMENT_NO,'000000')=@CO_ENDORSEMENT_NO AND 
			INSTALL.INSTALLMENT_NO=@INSTALLMENT_NO

	END	

	 
    
END

GO

