IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_EOD_GetRecordsForEFT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_EOD_GetRecordsForEFT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- begin tran
-- drop proc dbo.Proc_EOD_GetRecordsForEFT
-- go 
/*----------------------------------------------------------  
Proc Name        : dbo.Proc_EOD_GetRecordsForEFT
Created by       : Ravinda Gupta 
Date             : 1-18-2007
Purpose      	 : Will fetch records to EFT from EFT Spool Table
Revison History :  
Used In   :Wolverine  
------------------------------------------------------------  
Date     Review By          Comments  
------------------------------------------------------------*/  


CREATE PROC [dbo].[Proc_EOD_GetRecordsForEFT]	
AS
BEGIN 

DECLARE @CHECKINGACCOUNT INT,--=100,
		@SAVINGACCOUNT	INT, --=101,
		@DEBITENTRY		INT,--=11,
		@CREDITENTRY	INT, --	=12 
		@PRENOTE		Int,
		@NO				Int , 
		@YES			Int
		
SET @NO					= 10964
SET @YES				= 10963
SET @CHECKINGACCOUNT 	= 100
SET @SAVINGACCOUNT		= 101
SET @DEBITENTRY			= 11
SET @CREDITENTRY		= 12 
SET @PRENOTE			= 22

-- Dataset 1 :- will have records of customers for EFT
SELECT SPOOL_RECORD_ID,ENTITY_ID, POLICY_NUMBER, POLICY_ID, POLICY_VERSION_ID ,REF_CHECK_ID ,
	REF_DEPOSIT_ID,REF_DEP_DETAIL_ID ,TRANSACTION_AMOUNT, TRANSACTION_CODE, CREATED_DATETIME, 
	PROCESSED_STATUS, PROCESSED_DATETIME, ACC_TRAN_REQUIRED, FEDERAL_ID , DFI_ACC_NO, 
	TRANSIT_ROUTING_NO,ACCOUNT_TYPE ,ENTITY_NAME ,IS_VERIFIED , ISNULL(BRICS_TRAN_TYPE,0) AS BRICS_TRAN_TYPE
FROM 
(
SELECT  SPOOL.IDEN_ROW_ID AS SPOOL_RECORD_ID,
	SPOOL.ENTITY_ID AS ENTITY_ID, SPOOL.POLICY_NUMBER AS POLICY_NUMBER, SPOOL.POLICY_ID AS POLICY_ID, 
	SPOOL.POLICY_VERSION_ID AS POLICY_VERSION_ID ,SPOOL.REF_CHECK_ID AS REF_CHECK_ID ,
	SPOOL.REF_DEPOSIT_ID AS REF_DEPOSIT_ID,SPOOL.REF_DEP_DETAIL_ID AS REF_DEP_DETAIL_ID ,
	SPOOL.TRANSACTION_AMOUNT AS TRANSACTION_AMOUNT, SPOOL.TRANSACTION_CODE AS TRANSACTION_CODE, 
	SPOOL.CREATED_DATETIME AS CREATED_DATETIME, ISNULL(SPOOL.PROCESSED,'N') AS PROCESSED_STATUS, 
	SPOOL.PROCESSED_DATETIME AS PROCESSED_DATETIME, ISNULL(SPOOL.ACC_TRAN_REQUIRED,'Y') AS ACC_TRAN_REQUIRED,
	EFT.FEDERAL_ID AS FEDERAL_ID , EFT.DFI_ACC_NO AS DFI_ACC_NO, 
	EFT.TRANSIT_ROUTING_NO AS TRANSIT_ROUTING_NO,
	EFT.ACCOUNT_TYPE AS ACCOUNT_TYPE ,
	SUBSTRING( 
		(
		RTRIM(LTRIM(ISNULL(CUST.CUSTOMER_CODE,'')))
		+ '-' +
		RTRIM(LTRIM(ISNULL(CUST.CUSTOMER_FIRST_NAME,''))) 
		),
		1,22
		)
	AS ENTITY_NAME ,
	CASE SPOOL.TRANSACTION_CODE WHEN @PRENOTE THEN @YES 
	ELSE ISNULL(EFT.IS_VERIFIED,@NO) END AS IS_VERIFIED , 
	SPOOL.BRICS_TRAN_TYPE AS BRICS_TRAN_TYPE
FROM EOD_EFT_SPOOL SPOOL WITH(NOLOCK)
LEFT JOIN ACT_POL_EFT_CUST_INFO EFT  WITH(NOLOCK)
	ON SPOOL.ENTITY_ID = EFT.CUSTOMER_ID 
	AND SPOOL.POLICY_ID = EFT.POLICY_ID 	
	AND SPOOL.POLICY_VERSION_ID = EFT.POLICY_VERSION_ID
INNER JOIN CLT_CUSTOMER_LIST CUST WITH(NOLOCK)
	ON SPOOL.ENTITY_ID = CUST.CUSTOMER_ID 	
WHERE SPOOL.ENTITY_TYPE = 'CUST'
	AND ISNULL(SPOOL.PROCESSED,'N') IN ('N','F')
)TEMP 
WHERE IS_VERIFIED = @YES 
ORDER BY ENTITY_ID

-- Dataset 2 :- will have records of Agency for EFT
SELECT  SPOOL_RECORD_ID, ENTITY_ID , POLICY_NUMBER , POLICY_ID, 
	POLICY_VERSION_ID,REF_CHECK_ID,REF_DEPOSIT_ID,REF_DEP_DETAIL_ID,
	TRANSACTION_AMOUNT, TRANSACTION_CODE, CREATED_DATETIME, PROCESSED_STATUS,  
	PROCESSED_DATETIME, ACC_TRAN_REQUIRED,FEDERAL_ID , 
	DFI_ACC_NO ,TRANSIT_ROUTING_NO,ACCOUNT_TYPE,
	IS_VERIFIED,ENTITY_NAME , ISNULL(BRICS_TRAN_TYPE ,0)  AS BRICS_TRAN_TYPE
FROM 
(
SELECT  SPOOL.IDEN_ROW_ID AS SPOOL_RECORD_ID,
	SPOOL.ENTITY_ID AS ENTITY_ID , SPOOL.POLICY_NUMBER AS POLICY_NUMBER , SPOOL.POLICY_ID AS POLICY_ID, 
	SPOOL.POLICY_VERSION_ID AS POLICY_VERSION_ID,
	SPOOL.REF_CHECK_ID AS REF_CHECK_ID,SPOOL.REF_DEPOSIT_ID AS REF_DEPOSIT_ID,
	SPOOL.REF_DEP_DETAIL_ID AS REF_DEP_DETAIL_ID,
	SPOOL.TRANSACTION_AMOUNT AS TRANSACTION_AMOUNT, SPOOL.TRANSACTION_CODE As TRANSACTION_CODE, 
	SPOOL.CREATED_DATETIME AS CREATED_DATETIME, ISNULL(SPOOL.PROCESSED,'N') AS PROCESSED_STATUS,  
	SPOOL.PROCESSED_DATETIME AS PROCESSED_DATETIME, 
	ISNULL(SPOOL.ACC_TRAN_REQUIRED,'Y') AS ACC_TRAN_REQUIRED,
	EFT.FEDERAL_ID AS FEDERAL_ID , 
	CASE ISNULL(SPOOL.ACCOUNT_TO_USE,1) WHEN 1 THEN 
		EFT.BANK_ACCOUNT_NUMBER 
		ELSE
		EFT.BANK_ACCOUNT_NUMBER1 
		END AS DFI_ACC_NO ,
	CASE ISNULL(SPOOL.ACCOUNT_TO_USE,1) WHEN 1 THEN 
		EFT.ROUTING_NUMBER 
		ELSE
		EFT.ROUTING_NUMBER1 
		END  AS TRANSIT_ROUTING_NO,
	CASE ISNULL(SPOOL.ACCOUNT_TO_USE,1) WHEN 1 THEN 
		EFT.ACCOUNT_TYPE 
		ELSE
		EFT.ACCOUNT_TYPE_2 
		END  AS ACCOUNT_TYPE,
	CASE SPOOL.TRANSACTION_CODE WHEN @PRENOTE THEN @YES 
	ELSE
		CASE ISNULL(SPOOL.ACCOUNT_TO_USE,1) WHEN 1 THEN 
		ISNULL(EFT.ACCOUNT_ISVERIFIED1,@NO) 
		ELSE
		ISNULL(EFT.ACCOUNT_ISVERIFIED2,@NO) END
	END  AS IS_VERIFIED,
	SUBSTRING( 
		(
		RTRIM(LTRIM(ISNULL(EFT.AGENCY_CODE,'')))
		+ '-' +
		RTRIM(LTRIM(ISNULL(EFT.AGENCY_DISPLAY_NAME,''))) 
		),
		1,22
		)
	AS ENTITY_NAME , 
	SPOOL.BRICS_TRAN_TYPE 
FROM EOD_EFT_SPOOL SPOOL WITH(NOLOCK)
LEFT JOIN MNT_AGENCY_LIST EFT WITH(NOLOCK)
	ON SPOOL.ENTITY_ID = EFT.AGENCY_ID 
WHERE SPOOL.ENTITY_TYPE = 'AGN'
	AND ISNULL(SPOOL.PROCESSED,'N') IN ('N','F')
)TEMP 
WHERE IS_VERIFIED = @YES 
ORDER BY BRICS_TRAN_TYPE,ENTITY_ID

-- Dataset 3 will be for Vendor		

SELECT 
	SPOOL_RECORD_ID,ENTITY_ID, POLICY_NUMBER, POLICY_ID , POLICY_VERSION_ID,
	REF_CHECK_ID,REF_DEPOSIT_ID,REF_DEP_DETAIL_ID,TRANSACTION_AMOUNT, 
	TRANSACTION_CODE, CREATED_DATETIME, PROCESSED_STATUS, PROCESSED_DATETIME, 
	ACC_TRAN_REQUIRED,FEDERAL_ID , DFI_ACC_NO ,TRANSIT_ROUTING_NO,ACCOUNT_TYPE , 
	ENTITY_NAME ,IS_VERIFIED , ISNULL(BRICS_TRAN_TYPE ,0) AS BRICS_TRAN_TYPE
FROM 
(
SELECT  SPOOL.IDEN_ROW_ID AS SPOOL_RECORD_ID,SPOOL.ENTITY_ID AS ENTITY_ID, SPOOL.POLICY_NUMBER AS POLICY_NUMBER, 
	SPOOL.POLICY_ID As POLICY_ID , SPOOL.POLICY_VERSION_ID AS POLICY_VERSION_ID,
	SPOOL.REF_CHECK_ID AS REF_CHECK_ID,SPOOL.REF_DEPOSIT_ID AS REF_DEPOSIT_ID,
	SPOOL.REF_DEP_DETAIL_ID  AS REF_DEP_DETAIL_ID,SPOOL.TRANSACTION_AMOUNT AS TRANSACTION_AMOUNT, 
	SPOOL.TRANSACTION_CODE AS TRANSACTION_CODE, SPOOL.CREATED_DATETIME AS CREATED_DATETIME, 
	ISNULL(SPOOL.PROCESSED,'N') AS PROCESSED_STATUS,  SPOOL.PROCESSED_DATETIME, 
	ISNULL(SPOOL.ACC_TRAN_REQUIRED,'Y') AS ACC_TRAN_REQUIRED,
	EFT.VENDOR_FEDERAL_NUM AS FEDERAL_ID , EFT.DFI_ACCOUNT_NUMBER  DFI_ACC_NO ,
	EFT.ROUTING_NUMBER AS TRANSIT_ROUTING_NO,	ISNULL(EFT.ACCOUNT_TYPE,'100') AS ACCOUNT_TYPE , 
	SUBSTRING( 
		(
		RTRIM(LTRIM(ISNULL(EFT.VENDOR_CODE,'')))
		+ '-' +
		RTRIM(LTRIM(ISNULL(EFT.COMPANY_NAME,''))) 
		),
		1,22
		)
	AS ENTITY_NAME ,
	CASE SPOOL.TRANSACTION_CODE WHEN @PRENOTE THEN @YES 
	ELSE ISNULL(EFT.ACCOUNT_ISVERIFIED,@NO) END AS IS_VERIFIED , 
	SPOOL.BRICS_TRAN_TYPE 
FROM EOD_EFT_SPOOL SPOOL WITH(NOLOCK)
LEFT JOIN MNT_VENDOR_LIST EFT WITH(NOLOCK)
	ON SPOOL.ENTITY_ID = EFT.VENDOR_ID 
WHERE SPOOL.ENTITY_TYPE = 'VEN'
	AND ISNULL(SPOOL.PROCESSED,'N') IN ('N','F')
)TEMP 
WHERE IS_VERIFIED = @YES	
ORDER BY ENTITY_ID


-- Dataset 4 
SELECT COUNT(*) AS CREATE_DEPOSIT FROM EOD_EFT_SPOOL  WITH(NOLOCK)
WHERE TRANSACTION_CODE = @DEBITENTRY
AND ISNULL(ACC_TRAN_REQUIRED,'N') = 'Y'
AND ISNULL(PROCESSED,'N') IN ('N','F')
END


--GO 
----Proc_EOD_GetRecordsForEFT
--
--ROLLBACK TRAN 






GO

