IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetReinsurance_BreakDown_Details]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetReinsurance_BreakDown_Details]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- BEGIN TRAN  
-- drop PROC dbo.Proc_GetReinsurance_BreakDown_Details  
-- GO  
  
/*----------------------------------------------------------                                
Proc Name        :            dbo.Proc_GetReinsurance_BreakDown_Details                                 
Created by       :           Pravesh K Chandel                              
Date             :           12-oct-2007                                
Purpose          :           Get the details for Reinsurance Break Down  
Revison History  :                       
Used In          :           Wolverine             
  
modified by   :        Pravesh K chandel  
Modified date  : 24 Dec 2008  
purpose    : Itrack 5193  
  
drop PROC dbo.Proc_GetReinsurance_BreakDown_Details   
                     
------   ------------       -------------------------*/                                
create PROC [dbo].[Proc_GetReinsurance_BreakDown_Details]                      
(                                       
@CUSTOMER_ID INT,                  
@POLICY_ID INT,                  
@POLICY_VERSION_ID INT ,  
@PROCESS_ID int           
           
)                               
AS                                
BEGIN     
DECLARE    @LOB_ID INT  
DECLARE    @STATE_ID INT  
DECLARE    @YES INT  
DECLARE    @POLICY_EFFECTIVE_DATE DATETIME  
DECLARE    @POLICY_TERM INT  
DECLARE    @POLICY_TYPE nvarchar(10)  
DECLARE    @CURRENT_TERM INT   
set @YES=10963  
  
SELECT @LOB_ID=POLICY_LOB,@POLICY_EFFECTIVE_DATE=APP_EFFECTIVE_DATE,@STATE_ID=STATE_ID, @POLICY_TERM=APP_TERMS,@POLICY_TYPE=POLICY_TYPE,@CURRENT_TERM=CURRENT_TERM   
 FROM POL_CUSTOMER_POLICY_LIST PCPL with(nolock)  
 WHERE PCPL.CUSTOMER_ID = @CUSTOMER_ID AND PCPL.POLICY_ID = @POLICY_ID AND PCPL.POLICY_VERSION_ID=@POLICY_VERSION_ID        
  
--TABLE 0                         
SELECT PCPL.POLICY_NUMBER,    
 --ISNULL(CCL.CUSTOMER_FIRST_NAME,'') + ' ' + CASE WHEN ISNULL(CCL.CUSTOMER_MIDDLE_NAME,'') = '' THEN '' ELSE CCL.CUSTOMER_MIDDLE_NAME + ' ' END  + ISNULL(CCL.CUSTOMER_LAST_NAME,'') AS CUSTOMER_NAME,   
 ISNULL(T2.FIRST_NAME,'') + ' ' + ISNULL(T2.MIDDLE_NAME,'') + ' ' + ISNULL(T2.LAST_NAME,'') INSURED_NAME,  
 ISNULL(T2.ADDRESS1,'')  + ' ' + ISNULL(T2.ADDRESS2,'') ADDRESS,T2.CITY,T2.ZIP_CODE,  
  MLM.LOB_DESC, MCSL.STATE_NAME as STATE_DESC ,  
  CONVERT(VARCHAR,PCPL.APP_EFFECTIVE_DATE,101) APP_EFFECTIVE_DATE, CONVERT(VARCHAR,PCPL.APP_EXPIRATION_DATE,101) APP_EXPIRATION_DATE,  
 case  isnull(PCPL.REINS_SPECIAL_ACPT,10964)  
 when @YES then 'Yes' else 'No' end as REINS_SPECIAL_ACPT,POLICY_LOB as LOB_ID,  
   
 CONVERT(VARCHAR,PR.COMPLETED_DATETIME,101) as TRAN_DATE,   
 CONVERT(VARCHAR,PR.EFFECTIVE_DATETIME,101) +   
  CASE WHEN PR.EXPIRY_DATE IS NOT NULL THEN '-' + ISNULL(CONVERT(VARCHAR,PR.EXPIRY_DATE,101),'')   
   ELSE '' END AS TRAN_EFF_DATE,  
 CASE PR.PROCESS_ID   
   WHEN 25  THEN 'New Business'  
   WHEN 14  THEN 'Endorsement'  
   WHEN 12     THEN 'Cancellation'  
   WHEN 16     THEN 'Reinstatement'  
   WHEN 18     THEN 'Renewal'  
   WHEN 29     THEN 'Rescind'  
   WHEN 32  THEN 'Rewrite'  
   WHEN 37  THEN 'Revert back'  
  END  AS TRAN_DESC  
  
 FROM POL_CUSTOMER_POLICY_LIST PCPL with(nolock)  
    INNER JOIN POL_APPLICANT_LIST CCL  with(nolock)  ON                                                            
     CCL.CUSTOMER_ID=PCPL.CUSTOMER_ID   and    CCL.POLICY_ID=PCPL.POLICY_ID  and  CCL.POLICY_VERSION_ID=PCPL.POLICY_VERSION_ID                                 
  LEFT OUTER JOIN CLT_APPLICANT_LIST T2 on  CCL.CUSTOMER_ID=T2.CUSTOMER_ID and CCL.APPLICANT_ID = T2.APPLICANT_ID  
  LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST MCSL   with(nolock) ON   PCPL.STATE_ID = MCSL.STATE_ID                                                            
   LEFT OUTER JOIN MNT_LOB_MASTER MLM   with(nolock) ON PCPL.POLICY_LOB = MLM.LOB_ID   
  left join  POL_POLICY_PROCESS PR WITH(NOLOCK) on    PR.CUSTOMER_ID=PCPL.CUSTOMER_ID   and    PR.POLICY_ID=PCPL.POLICY_ID    
  and  case PR.NEW_POLICY_VERSION_ID when 0 then PR.POLICY_VERSION_ID else PR.NEW_POLICY_VERSION_ID end =PCPL.POLICY_VERSION_ID                                                                                   
  WHERE PCPL.CUSTOMER_ID = @CUSTOMER_ID AND PCPL.POLICY_ID = @POLICY_ID AND PCPL.POLICY_VERSION_ID=@POLICY_VERSION_ID   
  and CCL.IS_PRIMARY_APPLICANT  =1 and T2.IS_ACTIVE='Y'      
  and PR.process_status='COMPLETE' AND PR.PROCESS_ID=@PROCESS_ID  
  
DECLARE @LIMIT_AMOUNT NUMERIC  
DECLARE @PREMIUM_AMOUNT NUMERIC  
DECLARE @COV_CATEGORY NVARCHAR(20)  
CREATE TABLE #TMP_COV_PREMIUM_DETAILS  
(  
COV_ID INT,  
COV_LIMIT NUMERIC(16,2),  
COV_PREMIUM NUMERIC(16,2),  
COV_CATEGORY INT,  
COMPONENT_CODE NVARCHAR(25),  
REINSURANCE_CALC INT,  
EARNED_PREMIUM NUMERIC(16,2),  
MONTH_NUMBER INT,  
YEAR_NUMBER INT,  
COMPLETED VARCHAR(10)  
)  
  
-------IF LOB IS UMBRELLA   
IF (@LOB_ID=5)  
BEGIN  
INSERT INTO #TMP_COV_PREMIUM_DETAILS  
  
   SELECT M.COV_ID, sum(cast(replace(LMT.POLICY_LIMITS,',','') as numeric)) ,  
       SUM(CASE WHEN ISNUMERIC(C1.WRITTEN_PREM) = 0 THEN 0 ELSE  cast(C1.WRITTEN_PREM as numeric) END) ,  
 ISNULL(MAX(M.REINSURANCE_COV),0),  
  C1.COMPONENT_CODE,  
 ISNULL(max(M.REINSURANCE_COV),0) REINSURANCE_COV ,max(isnull(M.REINSURANCE_CALC,0)) REINSURANCE_CALC,  
 isnull(sum(isnull(EP.EARNED_PREMIUM,0)),0) as EARNED_PREMIUM,  
 isnull(EP.MONTH_NUMBER,0) as MONTH_NUMBER,ISNULL(EP.YEAR_NUMBER,0) YEAR_NUMBER,  
 CONVERT(VARCHAR,EP.MONTH_ELAPSED) + '/' + CONVERT(VARCHAR,@POLICY_TERM +1) AS COMPLETED  
  
  FROM POL_UMBRELLA_COVERAGES C         
 INNER JOIN POL_UMBRELLA_LIMITS LMT ON LMT.CUSTOMER_ID=C.CUSTOMER_ID AND LMT.POLICY_ID=C.POL_ID AND LMT.POLICY_VERSION_ID=C.POL_VERSION_ID  
  LEFT OUTER JOIN CLT_PREMIUM_SPLIT P1  ON C.CUSTOMER_ID = P1.CUSTOMER_ID AND C.POL_ID = P1.POLICY_ID         
  AND C.POL_VERSION_ID = P1.POLICY_VERSION_ID         
  LEFT OUTER JOIN MNT_COVERAGE M ON M.COV_ID = C.COVERAGE_CODE_ID         
  LEFT OUTER JOIN CLT_PREMIUM_SPLIT_DETAILS C1         
  ON --M.COMPONENT_CODE = C1.COMPONENT_CODE AND   
 P1.UNIQUE_ID = C1.SPLIT_UNIQUE_ID                  
 AND C1.COMPONENT_CODE ='PEL'  
  
 LEFT OUTER JOIN ACT_EARNED_PREMIUM EP on EP.CUSTOMER_ID=C.CUSTOMER_ID AND EP.POLICY_ID=C.POL_ID  
 AND EP.POLICY_TERM=@POLICY_TERM AND EP.RISK_ID=P1.RISK_ID AND EP.RISK_TYPE=P1.RISK_TYPE AND CURRENT_TERM=@CURRENT_TERM  
 AND CONVERT(VARCHAR,EP.COVERAGEID)=C1.COMP_EXT   
  
    WHERE C.CUSTOMER_ID=@CUSTOMER_ID AND C.POL_ID=@POLICY_ID   
      AND C.POL_VERSION_ID=@POLICY_VERSION_ID  
  and isnull(M.REINSURANCE_LOB,0)=@YES  
 AND C1.COMPONENT_CODE IS NOT NULL         
 AND m.COv_CODE ='UBPULP'  
 group by C.POL_VERSION_ID,C1.COMPONENT_CODE,m.cov_id,EP.MONTH_NUMBER,EP.YEAR_NUMBER,EP.MONTH_ELAPSED  
  
 --TABLE 1  
 SELECT TMP.*,LK.LOOKUP_VALUE_DESC AS COVERAGE_CATEGORY FROM  #TMP_COV_PREMIUM_DETAILS TMP   
 INNER JOIN MNT_LOOKUP_VALUES LK ON TMP.COV_CATEGORY=LK.LOOKUP_UNIQUE_ID  
 select @LIMIT_AMOUNT=sum(COV_LIMIT),@PREMIUM_AMOUNT=sum(COV_PREMIUM),@COV_CATEGORY=max(LK.LOOKUP_VALUE_DESC) from #TMP_COV_PREMIUM_DETAILS TMP  
 INNER JOIN MNT_LOOKUP_VALUES LK ON TMP.COV_CATEGORY=LK.LOOKUP_UNIQUE_ID  
  
--TABLE 2  
 select CONT.CONTRACT_NUMBER AS CONTRACT_NUMBER ,LK.LOOKUP_VALUE_DESC AS PREMIUM_BASE,CONTACT_YEAR as CONTRACT_YEAR,  
 @LIMIT_AMOUNT TOTAL_INS_VALUE,  
 '' TIV_GROUP,LYR.LAYER LAYER,LYR.LAYER_AMOUNT AS LAYER_AMOUNT,'' REIN_LIMIT_FAB,  
 @COV_CATEGORY COV_CATEGORY,  
 @PREMIUM_AMOUNT TRAN_PREMIUM,'' EARNED,  
 ---14209 ->Reduce Premium by 50%  
 ---14210->If TIV > $1,000,000 Reduce Premium by 50%   
 ---14211->9183A Premium all layers -based on Reinsurance Premium  
 --case ISNULL(BLD.OTHER_INST,0) WHEN 14209 THEN  cast(@PREMIUM_AMOUNT/2 as numeric(10,2)) ELSE END     
 cast(@PREMIUM_AMOUNT/2 as numeric(10,2)) WRITTEN,  
 -- ISNULL(BLD.CONSTRUCTION,0) CONSTRACTION,  
 -- ISNULL(BLD.PROTECTION,0) PROTECTION,  
 -- CASE ISNULL(BLD.ALARM_CREDIT,0) WHEN 10963 THEN ISNULL(BLD.ALARM_PERCENTAGE,0) ELSE 0 END CENTRAL_ALARM,    
 -- CASE ISNULL(BLD.HOME_CREDIT,0) WHEN 10963 THEN 'Yes' ELSE 'No' END NEW_HOME,   
 -- ISNULL(BLD.HOME_AGE,'') HOME_AGE,'' DEDUCT_LAYER_1,'' DEDUCT_LAYER_2,  
 '' CONSTRACTION,  
 '' PROTECTION,  
 '' CENTRAL_ALARM,    
 '' NEW_HOME,   
 '' HOME_AGE,'' DEDUCT_LAYER_1,'' DEDUCT_LAYER_2,  
 ISNULL(BLD.RATE_APPLIED,0) RATE,  
 cast(cast(@PREMIUM_AMOUNT/2 as numeric(10,2)) * ISNULL(BLD.RATE_APPLIED,0) * 0.01 as numeric(10,2)) REIN_PREMIUM,   
 CONT.COMMISSION COMM_PERCENTAGE,   
 cast((cast(@PREMIUM_AMOUNT/2 as numeric(10,2)) * ISNULL(BLD.RATE_APPLIED,0) * 0.01) * CONT.COMMISSION * 0.01 as numeric(10,2)) COMM_AMOUNT,  
 cast((cast(@PREMIUM_AMOUNT/2 as numeric(10,2)) * ISNULL(BLD.RATE_APPLIED,0) * 0.01) - ((cast(@PREMIUM_AMOUNT/2 as numeric(10,2)) * ISNULL(BLD.RATE_APPLIED,0) * 0.01) * CONT.COMMISSION * 0.01) as numeric(10,2))NET_DUE,   
 dbo.fun_GetmajorParticipant(CONT.CONTRACT_ID) MAJOR_PARTICIPANT,  
 LYR.RETENTION_PERCENTAGE RETENTION_PER,  
 LYR.REIN_CEDED REIN_CEDED  
 from MNT_REINSURANCE_CONTRACT CONT  
 inner join MNT_REIN_CONTRACT_LOB LOB on CONT.CONTRACT_ID=LOB.CONTRACT_ID AND LOB.CONTRACT_LOB=@LOB_ID  
 inner join MNT_REIN_CONTRACT_RISKEXPOSURE RSK on CONT.CONTRACT_ID=RSK.CONTRACT_ID  
 inner join MNT_REIN_CONTRACT_STATE ST on CONT.CONTRACT_ID=ST.CONTRACT_ID AND ST.STATE_ID=@STATE_ID  
 INNER JOIN MNT_LOOKUP_VALUES LK ON CONT.CALCULATION_BASE=LK.LOOKUP_UNIQUE_ID  
   
 INNER JOIN MNT_REIN_LOSSLAYER LYR ON LYR.CONTRACT_ID=CONT.CONTRACT_ID  
 LEFT OUTER JOIN  MNT_REIN_PREMIUM_BUILDER BLD ON BLD.CONTRACT_ID=CONT.CONTRACT_ID AND BLD.LAYER=LYR.LAYER  
 where @POLICY_EFFECTIVE_DATE between CONT.EFFECTIVE_DATE and CONT.EXPIRATION_DATE   
 AND @POLICY_EFFECTIVE_DATE between BLD.EFFECTIVE_DATE and BLD.EXPIRY_DATE    
 order by CONT.SEQUENCE_NUMBER  
END   
ELSE IF  (@LOB_ID=4)  
BEGIN  
--TABLE 1  
  
  
INSERT INTO #TMP_COV_PREMIUM_DETAILS  
   select cov_id, POLICY_LIMITS ,COVERAGE_PREMIUM,REINSURANCE_COV,COMPONENT_CODE,REINSURANCE_CALC,EARNED_PREMIUM,MONTH_NUMBER,YEAR_NUMBER, COMPLETED from (  
  
    SELECT m.cov_id,sum( CASE WHEN ISNUMERIC(C.LIMIT)=0 THEN 0 ELSE CAST(replace(C.LIMIT,',','') AS NUMERIC) END )  POLICY_LIMITS,  
 C.POLICY_VERSION_ID as POLICY_VERSION_ID,  
 SUM(CASE WHEN ISNUMERIC(C.WRITTEN_PREM) = 0 THEN 0 ELSE cast(C.WRITTEN_PREM as numeric) END) AS COVERAGE_PREMIUM,  
  C.COMPONENT_CODE,  
 ISNULL(max(M.REINSURANCE_COV),0) REINSURANCE_COV ,max(isnull(M.REINSURANCE_CALC,0)) REINSURANCE_CALC,  
 isnull(sum(isnull(EP.EARNED_PREMIUM,0)),0) as EARNED_PREMIUM,  
 isnull(EP.MONTH_NUMBER,0) as MONTH_NUMBER,ISNULL(EP.YEAR_NUMBER,0) YEAR_NUMBER,  
 CONVERT(VARCHAR,EP.MONTH_ELAPSED) + '/' + CONVERT(VARCHAR,@POLICY_TERM +1) AS COMPLETED  
  
  FROM VIEW_CLT_PREMIUM_SPLIT_DETAILS C    
  
 LEFT OUTER JOIN POL_WATERCRAFT_INFO P         
  ON C.CUSTOMER_ID = P.CUSTOMER_ID AND C.POLICY_ID = P.POLICY_ID         
  AND C.POLICY_VERSION_ID = P.POLICY_VERSION_ID AND C.RISK_ID = P.BOAT_ID         
  AND P.IS_ACTIVE = 'Y'         
               
 inner join MNT_COVERAGE M ON CONVERT(VARCHAR,M.COV_ID) = C.COMP_EXT  
 AND M.COMPONENT_CODE = C.COMPONENT_CODE    
 LEFT OUTER JOIN ACT_EARNED_PREMIUM EP on EP.CUSTOMER_ID=C.CUSTOMER_ID AND EP.POLICY_ID=C.POLICY_ID  
 AND EP.POLICY_TERM=@POLICY_TERM AND EP.RISK_ID=C.RISK_ID AND EP.RISK_TYPE=C.RISK_TYPE AND CURRENT_TERM=@CURRENT_TERM  
 AND CONVERT(VARCHAR,EP.COVERAGEID)=C.COMP_EXT   
  
      WHERE C.CUSTOMER_ID=@CUSTOMER_ID AND C.POLICY_ID=@POLICY_ID  
   AND C.POLICY_VERSION_ID= @POLICY_VERSION_ID  
      AND C.COMPONENT_CODE IS NOT NULL    
 and isnull(M.REINSURANCE_LOB,0)=@YES  
 group by C.POLICY_VERSION_ID,C.COMPONENT_CODE,m.cov_id,EP.MONTH_NUMBER,EP.YEAR_NUMBER,EP.MONTH_ELAPSED  
union  
    SELECT m.cov_id,sum( CASE WHEN ISNUMERIC(C.LIMIT)=0 THEN 0 ELSE CAST(replace(C.LIMIT,',','') AS NUMERIC) END )  POLICY_LIMITS,  
 C.POLICY_VERSION_ID as POLICY_VERSION_ID,  
 SUM(CASE WHEN ISNUMERIC(C.WRITTEN_PREM) = 0 THEN 0 ELSE cast(C.WRITTEN_PREM as numeric) END) AS COVERAGE_PREMIUM,  
  C.COMPONENT_CODE,  
 ISNULL(max(M.REINSURANCE_COV),0) REINSURANCE_COV ,max(isnull(M.REINSURANCE_CALC,0)) REINSURANCE_CALC,  
 isnull(sum(isnull(EP.EARNED_PREMIUM,0)),0) as EARNED_PREMIUM,  
 isnull(EP.MONTH_NUMBER,0) as MONTH_NUMBER,ISNULL(EP.YEAR_NUMBER,0) YEAR_NUMBER,  
 CONVERT(VARCHAR,EP.MONTH_ELAPSED) + '/' + CONVERT(VARCHAR,@POLICY_TERM +1) AS COMPLETED  
  FROM VIEW_CLT_PREMIUM_SPLIT_DETAILS C                 
 inner join MNT_COVERAGE_EXTRA M ON CONVERT(VARCHAR,M.COV_ID) = C.COMP_EXT  
 AND M.COMPONENT_CODE = C.COMPONENT_CODE    
 LEFT OUTER JOIN ACT_EARNED_PREMIUM EP on EP.CUSTOMER_ID=C.CUSTOMER_ID AND EP.POLICY_ID=C.POLICY_ID  
 AND EP.POLICY_TERM=@POLICY_TERM AND EP.RISK_ID=C.RISK_ID AND EP.RISK_TYPE=C.RISK_TYPE AND CURRENT_TERM=@CURRENT_TERM  
 AND CONVERT(VARCHAR,EP.COVERAGEID)=C.COMP_EXT   
  
      WHERE C.CUSTOMER_ID=@CUSTOMER_ID AND C.POLICY_ID=@POLICY_ID  
   AND C.POLICY_VERSION_ID= @POLICY_VERSION_ID  
      AND C.COMPONENT_CODE IS NOT NULL    
 and isnull(M.REINSURANCE_LOB,0)=@YES  
 group by C.POLICY_VERSION_ID,C.COMPONENT_CODE,m.cov_id,EP.MONTH_NUMBER,EP.YEAR_NUMBER,EP.MONTH_ELAPSED  
  
  ) TEMP  
--TABLE1    
 SELECT TMP.*,LK.LOOKUP_VALUE_DESC AS COVERAGE_CATEGORY FROM  #TMP_COV_PREMIUM_DETAILS TMP   
 INNER JOIN MNT_LOOKUP_VALUES LK ON TMP.COV_CATEGORY=LK.LOOKUP_UNIQUE_ID  
  
SELECT MAX(COV_ID) AS COV_ID,  
   SUM(case when REINSURANCE_CALC IN (13048,14243,14242) then COV_LIMIT else 0 end) AS COV_LIMIT,  
   SUM(COV_PREMIUM )  AS COV_PREMIUIM,  
   COV_CATEGORY,  
   MAX(COMPONENT_CODE) AS COMPONENT_CODE,  
   MAX(REINSURANCE_CALC) REINSURANCE_CALC,  
  SUM(EARNED_PREMIUM ) EARNED_PREMIUM,  
 MONTH_NUMBER ,YEAR_NUMBER,COMPLETED  
 INTO #TMP_COV_PREMIUM_DETAILS_WAT FROM  #TMP_COV_PREMIUM_DETAILS  TMP  
 GROUP BY COV_CATEGORY,MONTH_NUMBER,YEAR_NUMBER,COMPLETED   
  
delete from #TMP_COV_PREMIUM_DETAILS  
insert into #TMP_COV_PREMIUM_DETAILS  select * from #TMP_COV_PREMIUM_DETAILS_WAT  
drop table #TMP_COV_PREMIUM_DETAILS_WAT    
--select * from #TMP_COV_PREMIUM_DETAILS  
  
 --TABLE2   
 select TMP.COMPLETED,  
 --CONVERT(VARCHAR,DATEADD(DD,-1,DATEADD(MM,1,CAST(CONVERT(VARCHAR,TMP.MONTH_NUMBER) + '/01/' + CONVERT(VARCHAR,TMP.YEAR_NUMBER) AS DATETIME))),101) AS TRAN_DATE,  
 CONVERT(VARCHAR,DATEADD(DD,-1,DATEADD(MM,1,CAST(CONVERT(VARCHAR,CASE WHEN TMP.MONTH_NUMBER=0 THEN MONTH(GETDATE()) ELSE  TMP.MONTH_NUMBER END)   
 + '/01/' + CONVERT(VARCHAR,CASE WHEN TMP.YEAR_NUMBER=0 THEN YEAR(GETDATE()) ELSE TMP.YEAR_NUMBER END ) AS DATETIME))),101) AS TRAN_DATE,  
 CONT.CONTRACT_NUMBER AS CONTRACT_NUMBER ,LK.LOOKUP_VALUE_DESC AS PREMIUM_BASE,CONTACT_YEAR as CONTRACT_YEAR,  
 TMP.COV_LIMIT TOTAL_INS_VALUE,  
 ISNULL(TIV.REIN_TIV_GROUP_CODE,'') AS  TIV_GROUP, --'' TIV_GROUP,  
    LYR.LAYER LAYER,LYR.LAYER_AMOUNT AS LAYER_AMOUNT,'' REIN_LIMIT_FAB,  
 LK1.LOOKUP_VALUE_DESC COV_CATEGORY,  
 --@PREMIUM_AMOUNT TRAN_PREMIUM,  
 TMP.COV_PREMIUM TRAN_PREMIUM,  
-- cast(TMP.COV_PREMIUM as numeric(10,2)) EARNED,  
CASE WHEN LK.LOOKUP_UNIQUE_ID = 11563 THEN TMP.EARNED_PREMIUM ELSE cast(TMP.COV_PREMIUM as numeric(10,2)) END EARNED,  
 ---14209 ->Reduce Premium by 50%  
 ---14210->If TIV > $1,000,000 Reduce Premium by 50%   
 ---14211->9183A Premium all layers -based on Reinsurance Premium  
 --case ISNULL(BLD.OTHER_INST,0) WHEN 14209 THEN  cast(@PREMIUM_AMOUNT/2 as numeric(10,2)) ELSE END     
 --cast(TMP.COV_PREMIUM as numeric(10,2)) WRITTEN,   
 '' WRITTEN,  
 -- ISNULL(BLD.CONSTRUCTION,0) CONSTRACTION,  
 -- ISNULL(BLD.PROTECTION,0) PROTECTION,  
 -- CASE ISNULL(BLD.ALARM_CREDIT,0) WHEN 10963 THEN ISNULL(BLD.ALARM_PERCENTAGE,0) ELSE 0 END CENTRAL_ALARM,    
 -- CASE ISNULL(BLD.HOME_CREDIT,0) WHEN 10963 THEN 'Yes' ELSE 'No' END NEW_HOME,   
 -- ISNULL(BLD.HOME_AGE,'') HOME_AGE,'' DEDUCT_LAYER_1,'' DEDUCT_LAYER_2,  
 '' CONSTRACTION,  
 '' PROTECTION,  
 '' CENTRAL_ALARM,    
 '' NEW_HOME,   
 '' HOME_AGE,'' DEDUCT_LAYER_1,'' DEDUCT_LAYER_2,  
 ISNULL(BLD.RATE_APPLIED,0) RATE,  
 --cast(@PREMIUM_AMOUNT/2 as numeric(10,2)) * ISNULL(BLD.RATE_APPLIED,0) * 0.01  REIN_PREMIUM,   
 cast(CASE WHEN LK.LOOKUP_UNIQUE_ID = 11563 THEN TMP.EARNED_PREMIUM ELSE cast(TMP.COV_PREMIUM as numeric(10,2)) END * ISNULL(BLD.RATE_APPLIED,0) * 0.01 as numeric(10,2)) REIN_PREMIUM,   
 CONT.COMMISSION COMM_PERCENTAGE,   
 --(cast(@PREMIUM_AMOUNT/2 as numeric(10,2)) * ISNULL(BLD.RATE_APPLIED,0) * 0.01) * CONT.COMMISSION * 0.01 COMM_AMOUNT,  
 --(cast(@PREMIUM_AMOUNT/2 as numeric(10,2)) * ISNULL(BLD.RATE_APPLIED,0) * 0.01) - ((cast(@PREMIUM_AMOUNT/2 as numeric(10,2)) * ISNULL(BLD.RATE_APPLIED,0) * 0.01) * CONT.COMMISSION * 0.01)NET_DUE,   
 cast((CASE WHEN LK.LOOKUP_UNIQUE_ID = 11563 THEN TMP.EARNED_PREMIUM ELSE cast(TMP.COV_PREMIUM as numeric(10,2)) END * ISNULL(BLD.RATE_APPLIED,0) * 0.01) * CONT.COMMISSION * 0.01 as numeric(10,2) )COMM_AMOUNT,  
 cast((CASE WHEN LK.LOOKUP_UNIQUE_ID = 11563 THEN TMP.EARNED_PREMIUM ELSE cast(TMP.COV_PREMIUM as numeric(10,2)) END * ISNULL(BLD.RATE_APPLIED,0) * 0.01) - ((CASE WHEN LK.LOOKUP_UNIQUE_ID = 11563   
 THEN TMP.EARNED_PREMIUM ELSE cast(TMP.COV_PREMIUM as numeric(10,2)) END * ISNULL(BLD.RATE_APPLIED,0) * 0.01) * CONT.COMMISSION * 0.01) as numeric(10,2))NET_DUE,   
 dbo.fun_GetmajorParticipant(CONT.CONTRACT_ID) MAJOR_PARTICIPANT,  
 LYR.RETENTION_PERCENTAGE RETENTION_PER,  
 LYR.REIN_CEDED REIN_CEDED  
 from MNT_REINSURANCE_CONTRACT CONT  
 inner join MNT_REIN_CONTRACT_LOB LOB on CONT.CONTRACT_ID=LOB.CONTRACT_ID AND LOB.CONTRACT_LOB=@LOB_ID  
 inner join MNT_REIN_CONTRACT_RISKEXPOSURE RSK on CONT.CONTRACT_ID=RSK.CONTRACT_ID  
 inner join MNT_REIN_CONTRACT_STATE ST on CONT.CONTRACT_ID=ST.CONTRACT_ID AND ST.STATE_ID=@STATE_ID  
 INNER JOIN MNT_LOOKUP_VALUES LK ON CONT.CALCULATION_BASE=LK.LOOKUP_UNIQUE_ID  
   
 INNER JOIN MNT_REIN_LOSSLAYER LYR ON LYR.CONTRACT_ID=CONT.CONTRACT_ID  
 LEFT OUTER JOIN  MNT_REIN_PREMIUM_BUILDER BLD ON BLD.CONTRACT_ID=CONT.CONTRACT_ID AND BLD.LAYER=LYR.LAYER  
 inner join #TMP_COV_PREMIUM_DETAILS TMP on TMP.COV_CATEGORY=case dbo.instring(replace(BLD.COVERAGE_CATEGORY,',',' '),TMP.COV_CATEGORY) when 0 then 0 else TMP.COV_CATEGORY end  
 --AND ISNULL(TMP.MONTH_NUMBER,0) <>0 AND  ISNULL(TMP.YEAR_NUMBER,0)<>0   
 INNER JOIN MNT_LOOKUP_VALUES LK1 ON TMP.COV_CATEGORY=LK1.LOOKUP_UNIQUE_ID  
  
 LEFT OUTER JOIN MNT_REIN_TIV_GROUP TIV ON TIV.REIN_TIV_CONTRACT_NUMBER=CONT.CONTRACT_NUMBER   
 AND TMP.COV_LIMIT BETWEEN CAST(TIV.REIN_TIV_FROM AS MONEY) AND CAST(TIV.REIN_TIV_TO AS MONEY)  
 AND TIV.REIN_TIV_EFFECTIVE_DATE <=@POLICY_EFFECTIVE_DATE  
  
 where --@POLICY_EFFECTIVE_DATE between CONT.EFFECTIVE_DATE and CONT.EXPIRATION_DATE   
    DATEADD(DD,-1,DATEADD(MM,1,CAST(CONVERT(VARCHAR,CASE WHEN TMP.MONTH_NUMBER=0 THEN MONTH(GETDATE()) ELSE  TMP.MONTH_NUMBER END)   
 + '/01/' + CONVERT(VARCHAR,CASE WHEN TMP.YEAR_NUMBER=0 THEN YEAR(GETDATE()) ELSE TMP.YEAR_NUMBER END ) AS DATETIME)))  
 between CONT.EFFECTIVE_DATE and CONT.EXPIRATION_DATE   
 --AND @POLICY_EFFECTIVE_DATE between BLD.EFFECTIVE_DATE and BLD.EXPIRY_DATE    
 AND  DATEADD(DD,-1,DATEADD(MM,1,CAST(CONVERT(VARCHAR,CASE WHEN TMP.MONTH_NUMBER=0 THEN MONTH(GETDATE()) ELSE  TMP.MONTH_NUMBER END)   
  + '/01/' + CONVERT(VARCHAR,CASE WHEN TMP.YEAR_NUMBER=0 THEN YEAR(GETDATE()) ELSE TMP.YEAR_NUMBER END ) AS DATETIME)))  
 between BLD.EFFECTIVE_DATE and BLD.EXPIRY_DATE    
  
 AND   
              (TMP.COV_LIMIT >= (CASE CAST(REPLACE(BLD.TOTAL_INSURANCE_FROM,',','') AS NUMERIC) WHEN 0 THEN TMP.COV_LIMIT ELSE CAST(REPLACE(BLD.TOTAL_INSURANCE_FROM,',','') AS NUMERIC) END)  
  AND   
  TMP.COV_LIMIT < (CASE CAST(REPLACE(BLD.TOTAL_INSURANCE_TO,',','') AS NUMERIC) WHEN 0 THEN TMP.COV_LIMIT +1  ELSE CAST(REPLACE(BLD.TOTAL_INSURANCE_TO,',','') AS NUMERIC) END)   
       )   
and tmp.COV_PREMIUM<>0  
 --order by TMP.MONTH_NUMBER,CONT.SEQUENCE_NUMBER,LYR.LAYER,LK1.LOOKUP_UNIQUE_ID   
 order by substring(isnull(COMPLETED,''),1,charindex('/',isnull(COMPLETED,'')))desc,TMP.MONTH_NUMBER,CONT.SEQUENCE_NUMBER,LYR.LAYER,LK1.LOOKUP_UNIQUE_ID   
  
END  
ELSE IF (@LOB_ID=1 OR @LOB_ID=6)  
BEGIN  
  
DECLARE @REIN_SPLIT_COVERAGES NVARCHAR(150)  
DECLARE @REIN_IST_SPLIT NUMERIC(10,2)  
DECLARE @REIN_IST_SPLIT_COVERAGE NVARCHAR(50)  
DECLARE @REIN_2ND_SPLIT NUMERIC(10,2)  
DECLARE @REIN_2ND_SPLIT_COVERAGE NVARCHAR(50)  
  
  
SELECT @REIN_SPLIT_COVERAGES=REIN_COVERAGE,  
@REIN_IST_SPLIT_COVERAGE =REIN_IST_SPLIT_COVERAGE,  
@REIN_2ND_SPLIT_COVERAGE =REIN_2ND_SPLIT_COVERAGE,  
@REIN_IST_SPLIT    =REIN_IST_SPLIT,  
@REIN_2ND_SPLIT    =REIN_2ND_SPLIT  
FROM  MNT_REIN_SPLIT SPLIT  WITH (NOLOCK)  
WHERE  SPLIT.REIN_STATE=@STATE_ID AND REIN_LINE_OF_BUSINESS=@LOB_ID   
AND SPLIT.POLICY_TYPE LIKE '%' + @POLICY_TYPE + '%'   
AND ISNULL(IS_ACTIVE,'Y')='Y'  
AND REIN_EFFECTIVE_DATE <= @POLICY_EFFECTIVE_DATE  
  
INSERT INTO #TMP_COV_PREMIUM_DETAILS  
   select cov_id, POLICY_LIMITS ,COVERAGE_PREMIUM,REINSURANCE_COV,COMPONENT_CODE,REINSURANCE_CALC,EARNED_PREMIUM,MONTH_NUMBER,YEAR_NUMBER, COMPLETED from (  
    /*  
   SELECT m.cov_id,max(M.COV_DES) as COV_DES ,sum( CASE WHEN ISNUMERIC(C.LIMIT)=0 THEN 0 ELSE replace(C.LIMIT,',','') END )  POLICY_LIMITS,  
 C.POLICY_VERSION_ID as POLICY_VERSION_ID,  
 SUM(CASE WHEN ISNUMERIC(C.WRITTEN_PREM) = 0 THEN 0 ELSE cast(C.WRITTEN_PREM as numeric) END) AS COVERAGE_PREMIUM,  
  C.COMPONENT_CODE,  
   
 ISNULL(max(M.REINSURANCE_COV),0) REINSURANCE_COV ,max(isnull(M.REINSURANCE_CALC,0)) REINSURANCE_CALC,  
 isnull(sum(isnull(EP.EARNED_PREMIUM,0)),0) as EARNED_PREMIUM,  
 isnull(EP.MONTH_NUMBER,0) as MONTH_NUMBER,ISNULL(EP.YEAR_NUMBER,0) YEAR_NUMBER,  
 CONVERT(VARCHAR,ep.month_elapsed) + '/' + CONVERT(VARCHAR,@POLICY_TERM +1) AS COMPLETED  
  
 FROM VIEW_CLT_PREMIUM_SPLIT_DETAILS C         
 LEFT OUTER JOIN POL_DWELLINGS_INFO P         
 ON C.CUSTOMER_ID = P.CUSTOMER_ID         
 AND C.POLICY_ID = P.POLICY_ID         
 AND C.POLICY_VERSION_ID = P.POLICY_VERSION_ID         
 AND C.RISK_ID = P.DWELLING_ID AND P.IS_ACTIVE = 'Y'         
    LEFT OUTER JOIN MNT_COVERAGE M  -- ON CONVERT(VARCHAR,M.COV_ID) = ISNULL(C.COMP_EXT,'0')         
    on  CASE  WHEN C.COMP_EXT IN ('774','779','794','799') then M.COMPONENT_CODE else convert(varchar,M.COV_ID) end  
 = CASE  WHEN C.COMP_EXT IN ('774','779','794','799') then C.COMPONENT_CODE else C.COMP_EXT end  
 AND M.STATE_ID=@STATE_ID AND LOB_ID=@LOB_ID  
 LEFT OUTER JOIN ACT_EARNED_PREMIUM EP   
 on EP.CUSTOMER_ID=C.CUSTOMER_ID AND EP.POLICY_ID=C.POLICY_ID AND EP.POLICY_TERM=@POLICY_TERM  
 AND EP.RISK_ID=C.RISK_ID AND EP.RISK_TYPE=C.RISK_TYPE AND CURRENT_TERM=@CURRENT_TERM  
 AND CONVERT(VARCHAR,EP.COVERAGEID)=C.COMP_EXT  
   WHERE C.CUSTOMER_ID=@CUSTOMER_ID AND C.POLICY_ID=@POLICY_ID   
  AND C.POLICY_VERSION_ID=@POLICY_VERSION_ID -- AND C.DWELLING_ID=@DWELLINGID    
  and isnull(M.REINSURANCE_LOB,0)=@YES  
 group by C.POLICY_VERSION_ID,C.COMPONENT_CODE,m.cov_id,EP.MONTH_NUMBER,EP.YEAR_NUMBER,EP.MONTH_ELAPSED  
 */  
SELECT TT.cov_id,max(TT.COV_DES) as COV_DES ,sum(TT.POLICY_LIMITS)  POLICY_LIMITS,TT.POLICY_VERSION_ID as POLICY_VERSION_ID,  
 SUM(TT.COVERAGE_PREMIUM) AS COVERAGE_PREMIUM,TT.COMPONENT_CODE,  
 ISNULL(max(TT.REINSURANCE_COV),0) REINSURANCE_COV ,max(isnull(TT.REINSURANCE_CALC,0)) REINSURANCE_CALC,  
 isnull(sum(isnull(EP.EARNED_PREMIUM,0)),0) as EARNED_PREMIUM,  
 isnull(EP.MONTH_NUMBER,0) as MONTH_NUMBER,ISNULL(EP.YEAR_NUMBER,0) YEAR_NUMBER,  
 CONVERT(VARCHAR,EP.MONTH_ELAPSED) + '/' + CONVERT(VARCHAR,@POLICY_TERM +1) AS COMPLETED  
 from   
 (  
  SELECT m.cov_id,C.CUSTOMER_ID,C.POLICY_ID,C.RISK_ID,C.RISK_TYPE,max(M.COV_DES) as COV_DES ,sum( CASE WHEN ISNUMERIC(C.LIMIT)=0 THEN 0 ELSE CAST(REPLACE(C.LIMIT,',','') AS NUMERIC) END )  POLICY_LIMITS, 
--Added NUMERIC CAST to C.LIMIT,Charles,25-Nov-09,Itrack 6768
 C.POLICY_VERSION_ID as POLICY_VERSION_ID,  
 SUM(CASE WHEN ISNUMERIC(C.WRITTEN_PREM) = 0 THEN 0 ELSE cast(C.WRITTEN_PREM as numeric) END) AS COVERAGE_PREMIUM,  
  CASE WHEN C.COMPONENT_CODE='INCR_COV_B' THEN 'COV_B'  
    WHEN C.COMPONENT_CODE='INCR_COV_A' THEN 'COV_A'  
    WHEN C.COMPONENT_CODE='INCR_COV_C' THEN 'COV_C'  
    WHEN C.COMPONENT_CODE='INCR_COV_D' THEN 'COV_D'  
  ELSE C.COMPONENT_CODE END  
  AS COMPONENT_CODE,  
 ISNULL(max(M.REINSURANCE_COV),0) REINSURANCE_COV ,max(isnull(M.REINSURANCE_CALC,0)) REINSURANCE_CALC  
   
 FROM VIEW_CLT_PREMIUM_SPLIT_DETAILS C         
 LEFT OUTER JOIN POL_DWELLINGS_INFO P         
 ON C.CUSTOMER_ID = P.CUSTOMER_ID         
 AND C.POLICY_ID = P.POLICY_ID         
 AND C.POLICY_VERSION_ID = P.POLICY_VERSION_ID         
 AND C.RISK_ID = P.DWELLING_ID AND P.IS_ACTIVE = 'Y'         
    LEFT OUTER JOIN MNT_COVERAGE M    
    on  CASE  WHEN C.COMP_EXT IN ('774','779','794','799') then M.COMPONENT_CODE else convert(varchar,M.COV_ID) end  
 = CASE  WHEN C.COMP_EXT IN ('774','779','794','799') then C.COMPONENT_CODE else C.COMP_EXT end  
 AND M.STATE_ID=@STATE_ID AND LOB_ID=@LOB_ID  
   WHERE C.CUSTOMER_ID=@CUSTOMER_ID AND C.POLICY_ID=@POLICY_ID   
  AND C.POLICY_VERSION_ID=@POLICY_VERSION_ID -- AND C.DWELLING_ID=@DWELLINGID    
  and isnull(M.REINSURANCE_LOB,0)=@YES  
 group by C.CUSTOMER_ID,C.POLICY_ID,C.POLICY_VERSION_ID,C.RISK_ID,C.RISK_TYPE,  
  CASE WHEN C.COMPONENT_CODE='INCR_COV_B' THEN 'COV_B'  
    WHEN C.COMPONENT_CODE='INCR_COV_A' THEN 'COV_A'  
    WHEN C.COMPONENT_CODE='INCR_COV_C' THEN 'COV_C'  
    WHEN C.COMPONENT_CODE='INCR_COV_D' THEN 'COV_D'  
  ELSE C.COMPONENT_CODE END,m.cov_id  
  ) TT  
 LEFT OUTER JOIN ACT_EARNED_PREMIUM EP   
 on EP.CUSTOMER_ID=TT.CUSTOMER_ID AND EP.POLICY_ID=TT.POLICY_ID AND EP.POLICY_TERM=@POLICY_TERM  
 AND EP.RISK_ID=TT.RISK_ID AND EP.RISK_TYPE=TT.RISK_TYPE AND CURRENT_TERM=@CURRENT_TERM  
 AND CONVERT(VARCHAR,EP.COVERAGEID)=CONVERT(VARCHAR,TT.COV_ID)  
 group by TT.POLICY_VERSION_ID,TT.COMPONENT_CODE,TT.cov_id,EP.MONTH_NUMBER,EP.YEAR_NUMBER,EP.MONTH_ELAPSED  
  
 union  
 SELECT m.cov_id,M.COV_DES as COV_DES ,0  POLICY_LIMITS,0 as POLICY_VERSION_ID,  
  0 AS COVERAGE_PREMIUM, 'REINSURANCE' as COMPONENT_CODE,  
  ISNULL((M.REINSURANCE_COV),0) REINSURANCE_COV ,(isnull(M.REINSURANCE_CALC,0)) REINSURANCE_CALC,  
 0  as EARNED_PREMIUM,  
 EP.MONTH_NUMBER as MONTH_NUMBER,  
 EP.YEAR_NUMBER,  
 --'' AS COMPLETED  
 CONVERT(VARCHAR,ep.month_elapsed) + '/' + CONVERT(VARCHAR,@POLICY_TERM +1) AS COMPLETED  
  FROM MNT_REINSURANCE_COVERAGE M     
 LEFT OUTER JOIN ACT_EARNED_PREMIUM EP   
 on EP.CUSTOMER_ID=@CUSTOMER_ID AND EP.POLICY_ID=@POLICY_ID AND EP.POLICY_TERM=@POLICY_TERM      
    WHERE isnull(M.REINSURANCE_LOB,0)=@YES and M.lob_id=@LOB_ID and M.state_id=@STATE_ID  
  
 UNION  
  SELECT  m.cov_id,max(M.COV_DES) COV_DES ,sum( CASE WHEN ISNUMERIC(C1.LIMIT)=0 THEN 0 ELSE CAST(replace(C1.LIMIT,',','') AS NUMERIC) END )  POLICY_LIMITS,C.POLICY_VERSION_ID as POLICY_VERSION_ID, --Added NUMERIC CAST to C1.LIMIT,Charles,25-Nov-09,Itrack 6768 
       SUM(CASE WHEN ISNUMERIC(C1.WRITTEN_PREM) = 0 THEN 0 ELSE  cast(C1.WRITTEN_PREM as numeric)  END) AS COVERAGE_PREMIUM,   
  C1.COMPONENT_CODE,  
 --M.COV_CODE,'WL' as COVERAGE_TYPE ,  
 ISNULL(max(M.REINSURANCE_COV),0) REINSURANCE_COV ,max(isnull(M.REINSURANCE_CALC,0)) REINSURANCE_CALC,  
 0 as EARNED_PREMIUM,  
 0  MONTH_NUMBER,  
 0 YEAR_NUMBER,'' AS COMPLETED  
  FROM POL_WATERCRAFT_COVERAGE_INFO C                 
  LEFT OUTER JOIN CLT_PREMIUM_SPLIT P1                 
  ON C.CUSTOMER_ID = P1.CUSTOMER_ID AND C.POLICY_ID = P1.POLICY_ID                 
  AND C.POLICY_VERSION_ID = P1.POLICY_VERSION_ID                 
  LEFT OUTER JOIN MNT_COVERAGE M ON M.COV_ID = C.COVERAGE_CODE_ID                 
  LEFT OUTER JOIN CLT_PREMIUM_SPLIT_DETAILS C1                 
  ON M.COMPONENT_CODE = C1.COMPONENT_CODE AND P1.UNIQUE_ID = C1.SPLIT_UNIQUE_ID   
    WHERE C.CUSTOMER_ID=@CUSTOMER_ID AND C.POLICY_ID=@POLICY_ID   
 AND C.POLICY_VERSION_ID=@POLICY_VERSION_ID --AND C.BOAT_ID=@BOATID     
 AND P1.RISK_ID = C.BOAT_ID   
          AND C1.COMPONENT_CODE IS NOT NULL    
 --and ISNUMERIC(C1.PREMIUM)=1  
 and isnull(M.REINSURANCE_LOB,0)=@YES  
 group by C.POLICY_VERSION_ID,C1.COMPONENT_CODE,m.cov_id  
  
 union   
 SELECT m.cov_id,M.COV_DES as COV_DES ,0  POLICY_LIMITS,0 as POLICY_VERSION_ID,  
  0 AS COVERAGE_PREMIUM, 'REINSURANCE' as COMPONENT_CODE,  
  ISNULL((M.REINSURANCE_COV),0) REINSURANCE_COV ,(isnull(M.REINSURANCE_CALC,0)) REINSURANCE_CALC,  
 0 as EARNED_PREMIUM,  
 0  MONTH_NUMBER,  
 0 YEAR_NUMBER,'' AS COMPLETED  
  FROM MNT_REINSURANCE_COVERAGE M         
    WHERE isnull(M.REINSURANCE_LOB,0)=@YES and lob_id=4 and state_id=@STATE_ID   
  
 ) tempt  
----TABLE1  
SELECT TMP.*,LK.LOOKUP_VALUE_DESC AS COVERAGE_CATEGORY FROM  #TMP_COV_PREMIUM_DETAILS TMP   
 INNER JOIN MNT_LOOKUP_VALUES LK ON TMP.COV_CATEGORY=LK.LOOKUP_UNIQUE_ID   
ORDER BY MONTH_NUMBER  
  
SELECT T.COV_ID,  
CASE WHEN T.COMPONENT_CODE='REINSURANCE' THEN   
 (  
 SELECT SUM(COV_LIMIT) FROM #TMP_COV_PREMIUM_DETAILS WHERE @REIN_SPLIT_COVERAGES LIKE '%' + CONVERT(VARCHAR,COV_ID) + '%'   
 AND REINSURANCE_CALC IN (13048,14243,14242)   
 AND MONTH_NUMBER=T.MONTH_NUMBER AND YEAR_NUMBER=T.YEAR_NUMBER  
 )  
 ELSE  
 CASE WHEN REINSURANCE_CALC IN (13048,14243,14242) THEN T.COV_LIMIT ELSE 0 END  
 END AS COV_LIMIT,  
  
CASE WHEN T.COMPONENT_CODE='REINSURANCE' THEN   
 (  
 SELECT SUM(COV_PREMIUM) *  CASE WHEN @REIN_IST_SPLIT_COVERAGE LIKE '%' + CONVERT(VARCHAR,T.COV_ID)  + '%' THEN @REIN_IST_SPLIT *.01  
             WHEN @REIN_2ND_SPLIT_COVERAGE LIKE '%' + CONVERT(VARCHAR,T.COV_ID)  + '%' THEN @REIN_2ND_SPLIT *.01  
        ELSE 1 END    
 FROM #TMP_COV_PREMIUM_DETAILS WHERE @REIN_SPLIT_COVERAGES LIKE '%' + CONVERT(VARCHAR,COV_ID) + '%'   
 AND MONTH_NUMBER=T.MONTH_NUMBER AND YEAR_NUMBER=T.YEAR_NUMBER  
 )  
 ELSE  
 T.COV_PREMIUM  
 END AS COV_PREMIUM,  
T.COV_CATEGORY,COMPONENT_CODE,REINSURANCE_CALC,  
CASE WHEN T.COMPONENT_CODE='REINSURANCE'  THEN  
 (SELECT SUM(EARNED_PREMIUM) *  CASE WHEN @REIN_IST_SPLIT_COVERAGE LIKE '%' + CONVERT(VARCHAR,T.COV_ID)  + '%' THEN @REIN_IST_SPLIT *.01  
             WHEN @REIN_2ND_SPLIT_COVERAGE LIKE '%' + CONVERT(VARCHAR,T.COV_ID)  + '%' THEN @REIN_2ND_SPLIT *.01  
        ELSE 1 END   
  FROM #TMP_COV_PREMIUM_DETAILS WHERE @REIN_SPLIT_COVERAGES LIKE '%' + CONVERT(VARCHAR,COV_ID) + '%'   
  AND MONTH_NUMBER=T.MONTH_NUMBER AND YEAR_NUMBER=T.YEAR_NUMBER  
 )  
ELSE  
T.EARNED_PREMIUM  
END  
AS  
EARNED_PREMIUM,  
MONTH_NUMBER,YEAR_NUMBER,COMPLETED   
INTO #TMP_COV_PREMIUM_DETAILS_TEMP  
FROM #TMP_COV_PREMIUM_DETAILS T  
  
--ORDER BY MONTH_NUMBER  
DELETE FROM #TMP_COV_PREMIUM_DETAILS   
INSERT INTO #TMP_COV_PREMIUM_DETAILS SELECT * FROM #TMP_COV_PREMIUM_DETAILS_TEMP  
DROP TABLE #TMP_COV_PREMIUM_DETAILS_TEMP  
  
--SELECT * FROM #TMP_COV_PREMIUM_DETAILS  
  
SELECT MAX(COV_ID) AS COV_ID,  
   SUM(COV_LIMIT) AS COV_LIMIT,  
   SUM(COV_PREMIUM )  AS COV_PREMIUIM,  
   COV_CATEGORY,  
   MAX(COMPONENT_CODE) AS COMPONENT_CODE,  
   REINSURANCE_CALC,  
  SUM(EARNED_PREMIUM ) EARNED_PREMIUM,  
 MONTH_NUMBER ,YEAR_NUMBER,COMPLETED  
 INTO #TMP_COV_PREMIUM_DETAILS1 FROM  #TMP_COV_PREMIUM_DETAILS  TMP  
WHERE @REIN_SPLIT_COVERAGES NOT LIKE   '%' + CONVERT(VARCHAR,COV_ID) + '%'  
 GROUP BY COV_CATEGORY,REINSURANCE_CALC,MONTH_NUMBER,YEAR_NUMBER,COMPLETED   
  
delete from #TMP_COV_PREMIUM_DETAILS  
insert into #TMP_COV_PREMIUM_DETAILS  select * from #TMP_COV_PREMIUM_DETAILS1  
drop table #TMP_COV_PREMIUM_DETAILS1    
--select * from #TMP_COV_PREMIUM_DETAILS  
  
--TABLE2  
select TMP.COMPLETED,  
 --CONVERT(VARCHAR,DATEADD(DD,-1,DATEADD(MM,1,CAST(CONVERT(VARCHAR,TMP.MONTH_NUMBER) + '/01/' + CONVERT(VARCHAR,TMP.YEAR_NUMBER) AS DATETIME))),101) AS TRAN_DATE, 
 CONVERT(VARCHAR,DATEADD(DD,-1,DATEADD(MM,1,CAST(CONVERT(VARCHAR,CASE WHEN TMP.MONTH_NUMBER=0 THEN MONTH(GETDATE()) ELSE  TMP.MONTH_NUMBER END)   
 + '/01/' + CONVERT(VARCHAR,CASE WHEN TMP.YEAR_NUMBER=0 THEN YEAR(GETDATE()) ELSE TMP.YEAR_NUMBER END ) AS DATETIME))),101) AS TRAN_DATE,  
    CONT.CONTRACT_NUMBER AS CONTRACT_NUMBER ,LK.LOOKUP_VALUE_DESC AS PREMIUM_BASE,CONTACT_YEAR as CONTRACT_YEAR,  
 TMP.COV_LIMIT TOTAL_INS_VALUE,  
 ISNULL(TIV.REIN_TIV_GROUP_CODE,'') AS  TIV_GROUP,  
 LYR.LAYER LAYER,LYR.LAYER_AMOUNT AS LAYER_AMOUNT,'' REIN_LIMIT_FAB,  
 LK1.LOOKUP_VALUE_DESC COV_CATEGORY,  
 --@PREMIUM_AMOUNT TRAN_PREMIUM,  
 TMP.COV_PREMIUM TRAN_PREMIUM,  
 --cast(TMP.COV_PREMIUM as numeric(10,2)) EARNED,  
 CASE WHEN LK.LOOKUP_UNIQUE_ID = 11563 THEN TMP.EARNED_PREMIUM ELSE cast(TMP.COV_PREMIUM as numeric(10,2)) END EARNED,  
 ---14209 ->Reduce Premium by 50%  
 ---14210->If TIV > $1,000,000 Reduce Premium by 50%   
 ---14211->9183A Premium all layers -based on Reinsurance Premium  
 --case ISNULL(BLD.OTHER_INST,0) WHEN 14209 THEN  cast(@PREMIUM_AMOUNT/2 as numeric(10,2)) ELSE END     
 --cast(TMP.COV_PREMIUM as numeric(10,2)) WRITTEN,   
 '' WRITTEN,  
 -- ISNULL(BLD.CONSTRUCTION,0) CONSTRACTION,  
 -- ISNULL(BLD.PROTECTION,0) PROTECTION,  
 -- CASE ISNULL(BLD.ALARM_CREDIT,0) WHEN 10963 THEN ISNULL(BLD.ALARM_PERCENTAGE,0) ELSE 0 END CENTRAL_ALARM,    
 -- CASE ISNULL(BLD.HOME_CREDIT,0) WHEN 10963 THEN 'Yes' ELSE 'No' END NEW_HOME,   
 -- ISNULL(BLD.HOME_AGE,'') HOME_AGE,'' DEDUCT_LAYER_1,'' DEDUCT_LAYER_2,  
 '' CONSTRACTION,  
 ISNULL(dbo.func_ReinsuranceProtection(BLD.PREMIUM_BUILDER_ID),0) PROTECTION, --'' PROTECTION,  
 '' CENTRAL_ALARM,    
 '' NEW_HOME,   
 '' HOME_AGE,'' DEDUCT_LAYER_1,'' DEDUCT_LAYER_2,  
 ISNULL(BLD.RATE_APPLIED,0) RATE,  
 --cast(@PREMIUM_AMOUNT/2 as numeric(10,2)) * ISNULL(BLD.RATE_APPLIED,0) * 0.01  REIN_PREMIUM,   
 --cast(cast(TMP.COV_PREMIUM as numeric(10,2)) * ISNULL(BLD.RATE_APPLIED,0) * 0.01 as numeric(10,2)) REIN_PREMIUM,   
       cast(CASE WHEN LK.LOOKUP_UNIQUE_ID = 11563 THEN TMP.EARNED_PREMIUM ELSE cast(TMP.COV_PREMIUM as numeric(10,2)) END * ISNULL(BLD.RATE_APPLIED,0) * 0.01 as numeric(10,2)) REIN_PREMIUM,   
  
 CONT.COMMISSION COMM_PERCENTAGE,   
 cast((CASE WHEN LK.LOOKUP_UNIQUE_ID = 11563 THEN TMP.EARNED_PREMIUM ELSE cast(TMP.COV_PREMIUM as numeric(10,2)) END * ISNULL(BLD.RATE_APPLIED,0) * 0.01) * CONT.COMMISSION * 0.01 as numeric(10,2) )COMM_AMOUNT,  
 cast((CASE WHEN LK.LOOKUP_UNIQUE_ID = 11563 THEN TMP.EARNED_PREMIUM ELSE cast(TMP.COV_PREMIUM as numeric(10,2)) END * ISNULL(BLD.RATE_APPLIED,0) * 0.01) - ((CASE WHEN LK.LOOKUP_UNIQUE_ID = 11563   
 THEN TMP.EARNED_PREMIUM ELSE cast(TMP.COV_PREMIUM as numeric(10,2)) END * ISNULL(BLD.RATE_APPLIED,0) * 0.01) * CONT.COMMISSION * 0.01) as numeric(10,2))NET_DUE,   
 dbo.fun_GetmajorParticipant(CONT.CONTRACT_ID) MAJOR_PARTICIPANT,  
 LYR.RETENTION_PERCENTAGE RETENTION_PER,  
 LYR.REIN_CEDED REIN_CEDED  
  
 from MNT_REINSURANCE_CONTRACT CONT  
 inner join MNT_REIN_CONTRACT_LOB LOB on CONT.CONTRACT_ID=LOB.CONTRACT_ID AND LOB.CONTRACT_LOB=@LOB_ID  
 inner join MNT_REIN_CONTRACT_RISKEXPOSURE RSK on CONT.CONTRACT_ID=RSK.CONTRACT_ID  
 inner join MNT_REIN_CONTRACT_STATE ST on CONT.CONTRACT_ID=ST.CONTRACT_ID AND ST.STATE_ID=@STATE_ID  
 INNER JOIN MNT_LOOKUP_VALUES LK ON CONT.CALCULATION_BASE=LK.LOOKUP_UNIQUE_ID  
  
 INNER JOIN MNT_REIN_LOSSLAYER LYR ON LYR.CONTRACT_ID=CONT.CONTRACT_ID  
  
 LEFT OUTER JOIN  MNT_REIN_PREMIUM_BUILDER BLD ON BLD.CONTRACT_ID=CONT.CONTRACT_ID AND BLD.LAYER=LYR.LAYER  
  
 inner join #TMP_COV_PREMIUM_DETAILS TMP on TMP.COV_CATEGORY=case dbo.instring(replace(BLD.COVERAGE_CATEGORY,',',' '),TMP.COV_CATEGORY) when 0 then 0 else TMP.COV_CATEGORY end  
 --AND ISNULL(TMP.MONTH_NUMBER,0) <>0 AND  ISNULL(TMP.YEAR_NUMBER,0)<>0  
 INNER JOIN MNT_LOOKUP_VALUES LK1 ON TMP.COV_CATEGORY=LK1.LOOKUP_UNIQUE_ID  
  
 LEFT OUTER JOIN MNT_REIN_TIV_GROUP TIV ON TIV.REIN_TIV_CONTRACT_NUMBER=CONT.CONTRACT_NUMBER   
 AND TMP.COV_LIMIT BETWEEN CAST(TIV.REIN_TIV_FROM AS MONEY) AND CAST(TIV.REIN_TIV_TO AS MONEY)  
 AND TIV.REIN_TIV_EFFECTIVE_DATE <=@POLICY_EFFECTIVE_DATE  
  
 where --@POLICY_EFFECTIVE_DATE between CONT.EFFECTIVE_DATE and CONT.EXPIRATION_DATE   
    DATEADD(DD,-1,DATEADD(MM,1,CAST(CONVERT(VARCHAR,CASE WHEN TMP.MONTH_NUMBER=0 THEN MONTH(GETDATE()) ELSE  TMP.MONTH_NUMBER END)   
 + '/01/' + CONVERT(VARCHAR,CASE WHEN TMP.YEAR_NUMBER=0 THEN YEAR(GETDATE()) ELSE TMP.YEAR_NUMBER END ) AS DATETIME)))  
 between CONT.EFFECTIVE_DATE and CONT.EXPIRATION_DATE   
 --AND @POLICY_EFFECTIVE_DATE between BLD.EFFECTIVE_DATE and BLD.EXPIRY_DATE    
 AND  DATEADD(DD,-1,DATEADD(MM,1,CAST(CONVERT(VARCHAR,CASE WHEN TMP.MONTH_NUMBER=0 THEN MONTH(GETDATE()) ELSE  TMP.MONTH_NUMBER END)   
  + '/01/' + CONVERT(VARCHAR,CASE WHEN TMP.YEAR_NUMBER=0 THEN YEAR(GETDATE()) ELSE TMP.YEAR_NUMBER END ) AS DATETIME)))  
 between BLD.EFFECTIVE_DATE and BLD.EXPIRY_DATE    
  
 AND   
              (TMP.COV_LIMIT >= (CASE CAST(REPLACE(BLD.TOTAL_INSURANCE_FROM,',','') AS NUMERIC) WHEN 0 THEN TMP.COV_LIMIT ELSE CAST(REPLACE(BLD.TOTAL_INSURANCE_FROM,',','') AS NUMERIC) END)  
  AND   
  TMP.COV_LIMIT < (CASE CAST(REPLACE(BLD.TOTAL_INSURANCE_TO,',','') AS NUMERIC) WHEN 0 THEN TMP.COV_LIMIT +1  ELSE CAST(REPLACE(BLD.TOTAL_INSURANCE_TO,',','') AS NUMERIC) END)   
   )   
 and tmp.COV_PREMIUM<>0  
 --order by TMP.MONTH_NUMBER,CONT.SEQUENCE_NUMBER,LYR.LAYER,LK1.LOOKUP_UNIQUE_ID   
 order by substring(isnull(COMPLETED,''),1,charindex('/',isnull(COMPLETED,'')))desc,TMP.MONTH_NUMBER,CONT.SEQUENCE_NUMBER,LYR.LAYER,LK1.LOOKUP_UNIQUE_ID   
END  
ELSE if (@LOB_ID=2 or @LOB_ID=3)      
BEGIN  
--TABLE 1  
----------  
INSERT INTO #TMP_COV_PREMIUM_DETAILS  
   select cov_id, POLICY_LIMITS ,COVERAGE_PREMIUM,REINSURANCE_COV,COMPONENT_CODE,REINSURANCE_CALC,EARNED_PREMIUM,MONTH_NUMBER,YEAR_NUMBER, COMPLETED from (  
  
    SELECT m.cov_id,sum( CASE WHEN ISNUMERIC(C.LIMIT)=0 THEN 0 ELSE CAST(replace(C.LIMIT,',','') AS NUMERIC) END )  POLICY_LIMITS,  
 C.POLICY_VERSION_ID as POLICY_VERSION_ID,  
 SUM(CASE WHEN ISNUMERIC(C.WRITTEN_PREM) = 0 THEN 0 ELSE cast(C.WRITTEN_PREM as numeric) END) AS COVERAGE_PREMIUM,  
  C.COMPONENT_CODE,  
 ISNULL(max(M.REINSURANCE_COV),0) REINSURANCE_COV ,max(isnull(M.REINSURANCE_CALC,0)) REINSURANCE_CALC,  
 isnull(sum(isnull(EP.EARNED_PREMIUM,0)),0) as EARNED_PREMIUM,  
 isnull(EP.MONTH_NUMBER,0) as MONTH_NUMBER,ISNULL(EP.YEAR_NUMBER,0) YEAR_NUMBER,  
 CONVERT(VARCHAR,EP.MONTH_ELAPSED) + '/' + CONVERT(VARCHAR,@POLICY_TERM +1) AS COMPLETED  
  
  FROM VIEW_CLT_PREMIUM_SPLIT_DETAILS C    
 LEFT OUTER JOIN POL_VEHICLES P         
  ON C.CUSTOMER_ID = P.CUSTOMER_ID AND C.POLICY_ID = P.POLICY_ID         
  AND C.POLICY_VERSION_ID = P.POLICY_VERSION_ID AND C.RISK_ID = P.VEHICLE_ID         
  AND P.IS_ACTIVE = 'Y'         
  
 inner join MNT_COVERAGE M ON CONVERT(VARCHAR,M.COV_ID) = C.COMP_EXT  
 AND M.COMPONENT_CODE = C.COMPONENT_CODE    
 LEFT OUTER JOIN ACT_EARNED_PREMIUM EP on EP.CUSTOMER_ID=C.CUSTOMER_ID AND EP.POLICY_ID=C.POLICY_ID  
 AND EP.POLICY_TERM=@POLICY_TERM AND EP.RISK_ID=C.RISK_ID AND EP.RISK_TYPE=C.RISK_TYPE AND CURRENT_TERM=@CURRENT_TERM  
 AND CONVERT(VARCHAR,EP.COVERAGEID)=C.COMP_EXT   
  
      WHERE C.CUSTOMER_ID=@CUSTOMER_ID AND C.POLICY_ID=@POLICY_ID  
   AND C.POLICY_VERSION_ID= @POLICY_VERSION_ID  
      AND C.COMPONENT_CODE IS NOT NULL    
 and isnull(M.REINSURANCE_LOB,0)=@YES  
 group by C.POLICY_VERSION_ID,C.COMPONENT_CODE,m.cov_id,EP.MONTH_NUMBER,EP.YEAR_NUMBER,EP.MONTH_ELAPSED  
   ) temp  
---------  
-- INSERT INTO #TMP_COV_PREMIUM_DETAILS  
--       SELECT M.COV_ID,sum(CASE WHEN ISNUMERIC(C1.LIMIT)=0 THEN 0 ELSE replace(C1.LIMIT,',','') END ) ,  
--  SUM(CASE WHEN ISNUMERIC(C1.WRITTEN_PREM) = 0 THEN 0 ELSE Cast(C1.WRITTEN_PREM as numeric) END),  
--  ISNULL(max(M.REINSURANCE_COV),0),  
-- isnull(sum(isnull(EP.EARNED_PREMIUM,0)),0) as EARNED_PREMIUM,  
-- isnull(EP.MONTH_NUMBER,0) as MONTH_NUMBER  
--  FROM POL_VEHICLE_COVERAGES C         
--  INNER JOIN POL_VEHICLES P         
--  ON C.CUSTOMER_ID = P.CUSTOMER_ID AND C.POLICY_ID = P.POLICY_ID         
--  AND C.POLICY_VERSION_ID = P.POLICY_VERSION_ID AND C.VEHICLE_ID = P.VEHICLE_ID         
--  AND P.IS_ACTIVE = 'Y'         
--  LEFT OUTER JOIN CLT_PREMIUM_SPLIT P1         
--  ON C.CUSTOMER_ID = P1.CUSTOMER_ID AND C.POLICY_ID = P1.POLICY_ID         
--  AND C.POLICY_VERSION_ID = P1.POLICY_VERSION_ID         
--  LEFT OUTER JOIN MNT_COVERAGE M ON M.COV_ID = C.COVERAGE_CODE_ID         
--  LEFT OUTER JOIN CLT_PREMIUM_SPLIT_DETAILS C1         
--  ON M.COMPONENT_CODE = C1.COMPONENT_CODE AND P1.UNIQUE_ID = C1.SPLIT_UNIQUE_ID    
-- left outer join ACT_EARNED_PREMIUM EP on EP.CUSTOMER_ID=C.CUSTOMER_ID AND EP.POLICY_ID=C.POLICY_ID      
--    WHERE C.CUSTOMER_ID=@CUSTOMER_ID AND C.POLICY_ID=@POLICY_ID   
--  AND C.POLICY_VERSION_ID=@POLICY_VERSION_ID  
-- AND P1.RISK_ID = C.VEHICLE_ID   
-- AND C1.COMPONENT_CODE IS NOT NULL         
-- --and ISNUMERIC(C1.PREMIUM)=1  
-- and isnull(M.REINSURANCE_LOB,0)=@YES  
-- group by C.POLICY_VERSION_ID,C1.COMPONENT_CODE,m.cov_id,EP.MONTH_NUMBER  
--TABLE1    
 SELECT TMP.*,LK.LOOKUP_VALUE_DESC AS COVERAGE_CATEGORY FROM  #TMP_COV_PREMIUM_DETAILS TMP   
 INNER JOIN MNT_LOOKUP_VALUES LK ON TMP.COV_CATEGORY=LK.LOOKUP_UNIQUE_ID  
--TABLE2  
select TMP.COMPLETED,  
 CONVERT(VARCHAR,DATEADD(DD,-1,DATEADD(MM,1,CAST(CONVERT(VARCHAR,CASE WHEN TMP.MONTH_NUMBER=0 THEN MONTH(GETDATE()) ELSE  TMP.MONTH_NUMBER END)   
 + '/01/' + CONVERT(VARCHAR,CASE WHEN TMP.YEAR_NUMBER=0 THEN YEAR(GETDATE()) ELSE TMP.YEAR_NUMBER END ) AS DATETIME))),101) AS TRAN_DATE,  
    CONT.CONTRACT_NUMBER AS CONTRACT_NUMBER ,LK.LOOKUP_VALUE_DESC AS PREMIUM_BASE,CONTACT_YEAR as CONTRACT_YEAR,  
 TMP.COV_LIMIT TOTAL_INS_VALUE,  
 ISNULL(TIV.REIN_TIV_GROUP_CODE,'') AS  TIV_GROUP, --'' TIV_GROUP,  
 LYR.LAYER LAYER,LYR.LAYER_AMOUNT AS LAYER_AMOUNT,'' REIN_LIMIT_FAB,  
 LK1.LOOKUP_VALUE_DESC COV_CATEGORY,  
 --@PREMIUM_AMOUNT TRAN_PREMIUM,  
 TMP.COV_PREMIUM TRAN_PREMIUM,  
 cast(TMP.COV_PREMIUM as numeric(10,2)) EARNED,  
 ---14209 ->Reduce Premium by 50%  
 ---14210->If TIV > $1,000,000 Reduce Premium by 50%   
 ---14211->9183A Premium all layers -based on Reinsurance Premium  
 --case ISNULL(BLD.OTHER_INST,0) WHEN 14209 THEN  cast(@PREMIUM_AMOUNT/2 as numeric(10,2)) ELSE END     
 --cast(TMP.COV_PREMIUM as numeric(10,2)) WRITTEN,   
 '' WRITTEN,  
 -- ISNULL(BLD.CONSTRUCTION,0) CONSTRACTION,  
 -- ISNULL(BLD.PROTECTION,0) PROTECTION,  
 -- CASE ISNULL(BLD.ALARM_CREDIT,0) WHEN 10963 THEN ISNULL(BLD.ALARM_PERCENTAGE,0) ELSE 0 END CENTRAL_ALARM,    
 -- CASE ISNULL(BLD.HOME_CREDIT,0) WHEN 10963 THEN 'Yes' ELSE 'No' END NEW_HOME,   
 -- ISNULL(BLD.HOME_AGE,'') HOME_AGE,'' DEDUCT_LAYER_1,'' DEDUCT_LAYER_2,  
 '' CONSTRACTION,  
 ISNULL(dbo.func_ReinsuranceProtection(BLD.PREMIUM_BUILDER_ID),0) PROTECTION, --ISNULL(BLD.PROTECTION,0) PROTECTION, --'' PROTECTION,  
 '' CENTRAL_ALARM,    
 '' NEW_HOME,   
 '' HOME_AGE,'' DEDUCT_LAYER_1,'' DEDUCT_LAYER_2,  
 ISNULL(BLD.RATE_APPLIED,0) RATE,  
 --cast(@PREMIUM_AMOUNT/2 as numeric(10,2)) * ISNULL(BLD.RATE_APPLIED,0) * 0.01  REIN_PREMIUM,   
 cast(cast(TMP.COV_PREMIUM as numeric(10,2)) * ISNULL(BLD.RATE_APPLIED,0) * 0.01 as numeric(10,2)) REIN_PREMIUM,   
 CONT.COMMISSION COMM_PERCENTAGE,   
 --(cast(@PREMIUM_AMOUNT/2 as numeric(10,2)) * ISNULL(BLD.RATE_APPLIED,0) * 0.01) * CONT.COMMISSION * 0.01 COMM_AMOUNT,  
 --(cast(@PREMIUM_AMOUNT/2 as numeric(10,2)) * ISNULL(BLD.RATE_APPLIED,0) * 0.01) - ((cast(@PREMIUM_AMOUNT/2 as numeric(10,2)) * ISNULL(BLD.RATE_APPLIED,0) * 0.01) * CONT.COMMISSION * 0.01)NET_DUE,   
 cast((cast(TMP.COV_PREMIUM as numeric(10,2)) * ISNULL(BLD.RATE_APPLIED,0) * 0.01) * CONT.COMMISSION * 0.01 as numeric(10,2) )COMM_AMOUNT,  
 cast((cast(TMP.COV_PREMIUM as numeric(10,2)) * ISNULL(BLD.RATE_APPLIED,0) * 0.01) - ((cast(TMP.COV_PREMIUM as numeric(10,2)) * ISNULL(BLD.RATE_APPLIED,0) * 0.01) * CONT.COMMISSION * 0.01) as numeric(10,2))NET_DUE,   
 dbo.fun_GetmajorParticipant(CONT.CONTRACT_ID) MAJOR_PARTICIPANT,  
 LYR.RETENTION_PERCENTAGE RETENTION_PER,  
 LYR.REIN_CEDED REIN_CEDED  
 from MNT_REINSURANCE_CONTRACT CONT  
 inner join MNT_REIN_CONTRACT_LOB LOB on CONT.CONTRACT_ID=LOB.CONTRACT_ID AND LOB.CONTRACT_LOB=@LOB_ID  
 inner join MNT_REIN_CONTRACT_RISKEXPOSURE RSK on CONT.CONTRACT_ID=RSK.CONTRACT_ID  
 inner join MNT_REIN_CONTRACT_STATE ST on CONT.CONTRACT_ID=ST.CONTRACT_ID AND ST.STATE_ID=@STATE_ID  
 INNER JOIN MNT_LOOKUP_VALUES LK ON CONT.CALCULATION_BASE=LK.LOOKUP_UNIQUE_ID  
   
 INNER JOIN MNT_REIN_LOSSLAYER LYR ON LYR.CONTRACT_ID=CONT.CONTRACT_ID  
 LEFT OUTER JOIN  MNT_REIN_PREMIUM_BUILDER BLD ON BLD.CONTRACT_ID=CONT.CONTRACT_ID AND BLD.LAYER=LYR.LAYER  
 inner join #TMP_COV_PREMIUM_DETAILS TMP on TMP.COV_CATEGORY=case dbo.instring(replace(BLD.COVERAGE_CATEGORY,',',' '),TMP.COV_CATEGORY) when 0 then 0 else TMP.COV_CATEGORY end  
 --AND ISNULL(TMP.MONTH_NUMBER,0) <>0 AND  ISNULL(TMP.YEAR_NUMBER,0)<>0   
 INNER JOIN MNT_LOOKUP_VALUES LK1 ON TMP.COV_CATEGORY=LK1.LOOKUP_UNIQUE_ID  
  
 LEFT OUTER JOIN MNT_REIN_TIV_GROUP TIV ON TIV.REIN_TIV_CONTRACT_NUMBER=CONT.CONTRACT_NUMBER   
 AND TMP.COV_LIMIT BETWEEN CAST(TIV.REIN_TIV_FROM AS MONEY) AND CAST(TIV.REIN_TIV_TO AS MONEY)  
 AND TIV.REIN_TIV_EFFECTIVE_DATE <=@POLICY_EFFECTIVE_DATE  
  
 where --@POLICY_EFFECTIVE_DATE between CONT.EFFECTIVE_DATE and CONT.EXPIRATION_DATE   
    DATEADD(DD,-1,DATEADD(MM,1,CAST(CONVERT(VARCHAR,CASE WHEN TMP.MONTH_NUMBER=0 THEN MONTH(GETDATE()) ELSE  TMP.MONTH_NUMBER END)   
 + '/01/' + CONVERT(VARCHAR,CASE WHEN TMP.YEAR_NUMBER=0 THEN YEAR(GETDATE()) ELSE TMP.YEAR_NUMBER END ) AS DATETIME)))  
 between CONT.EFFECTIVE_DATE and CONT.EXPIRATION_DATE   
 --AND @POLICY_EFFECTIVE_DATE between BLD.EFFECTIVE_DATE and BLD.EXPIRY_DATE    
 AND  DATEADD(DD,-1,DATEADD(MM,1,CAST(CONVERT(VARCHAR,CASE WHEN TMP.MONTH_NUMBER=0 THEN MONTH(GETDATE()) ELSE  TMP.MONTH_NUMBER END)   
  + '/01/' + CONVERT(VARCHAR,CASE WHEN TMP.YEAR_NUMBER=0 THEN YEAR(GETDATE()) ELSE TMP.YEAR_NUMBER END ) AS DATETIME)))  
 between BLD.EFFECTIVE_DATE and BLD.EXPIRY_DATE    
 AND   
              (TMP.COV_LIMIT >= (CASE CAST(REPLACE(BLD.TOTAL_INSURANCE_FROM,',','') AS NUMERIC) WHEN 0 THEN TMP.COV_LIMIT ELSE CAST(REPLACE(BLD.TOTAL_INSURANCE_FROM,',','') AS NUMERIC) END)  
  AND   
  TMP.COV_LIMIT < (CASE CAST(REPLACE(BLD.TOTAL_INSURANCE_TO,',','') AS NUMERIC) WHEN 0 THEN TMP.COV_LIMIT +1  ELSE CAST(REPLACE(BLD.TOTAL_INSURANCE_TO,',','') AS NUMERIC) END)   
       )   
 and tmp.COV_PREMIUM<>0  
 --order by TMP.MONTH_NUMBER,CONT.SEQUENCE_NUMBER,LYR.LAYER,LK1.LOOKUP_UNIQUE_ID   
  order by substring(isnull(COMPLETED,''),1,charindex('/',isnull(COMPLETED,'')))desc,TMP.MONTH_NUMBER,CONT.SEQUENCE_NUMBER,LYR.LAYER,LK1.LOOKUP_UNIQUE_ID   
  
END  
ELSE  
BEGIN   
  
 SELECT *  FROM  #TMP_COV_PREMIUM_DETAILS TMP   
   
 --TABLE 2  
 select '' AS COMPLETED ,'' AS TRAN_DATE, '' AS CONTRACT_NUMBER ,'' AS PREMIUM_BASE,'' as CONTRACT_YEAR,0 TOTAL_INS_VALUE,  
 '' TIV_GROUP,0 LAYER,0 AS LAYER_AMOUNT,'' REIN_LIMIT_FAB,'' COV_CATEGORY,  
 0 TRAN_PREMIUM,'' EARNED,0 WRITTEN,  
 -- ISNULL(BLD.CONSTRUCTION,0) CONSTRACTION,  
 -- ISNULL(BLD.PROTECTION,0) PROTECTION,  
 -- CASE ISNULL(BLD.ALARM_CREDIT,0) WHEN 10963 THEN ISNULL(BLD.ALARM_PERCENTAGE,0) ELSE 0 END CENTRAL_ALARM,    
 -- CASE ISNULL(BLD.HOME_CREDIT,0) WHEN 10963 THEN 'Yes' ELSE 'No' END NEW_HOME,   
 -- ISNULL(BLD.HOME_AGE,'') HOME_AGE,'' DEDUCT_LAYER_1,'' DEDUCT_LAYER_2,  
 '' CONSTRACTION,  
 '' PROTECTION,  
 '' CENTRAL_ALARM,    
 '' NEW_HOME,   
 '' HOME_AGE,'' DEDUCT_LAYER_1,'' DEDUCT_LAYER_2,  
 0 RATE,  
 0  REIN_PREMIUM,   
 0 COMM_PERCENTAGE,   
 0 COMM_AMOUNT,  
 0 NET_DUE,   
 '' MAJOR_PARTICIPANT,   
 0 RETENTION_PER,  
 0 REIN_CEDED  
   
END  
DROP TABLE #TMP_COV_PREMIUM_DETAILS  
--drop table #REINSURANCE_COVERAGE_CATEGORY  
  
END                           
--  
-- GO  
---- EXEC dbo.Proc_GetReinsurance_BreakDown_Details 496,9,1,25    
---- EXEC dbo.Proc_GetReinsurance_BreakDown_Details 186,50,1,25    
-- EXEC dbo.Proc_GetReinsurance_BreakDown_Details 496,9,1,25    
-- ROLLBACK TRAN  
------SELECT * FROM MNT_REIN_PREMIUM_BUILDER WHERE CONTRACT_ID=16 


GO

