IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetAppCycleInformation]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetAppCycleInformation]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


--DROP PROC dbo.Proc_GetAppCycleInformation              
CREATE PROC dbo.Proc_GetAppCycleInformation              
(              
@CUSTOMERID  int,              
@APPID  int,              
@APPVERSIONID int,              
@VEHICLEID  int              
              
)              
AS              
BEGIN              
        
      
--Changed by Pawan as APP_LIST is not required        
              
SELECT     ISNULL(APP_VEHICLES.INSURED_VEH_NUMBER, 0) AS INSURED_VEH_NUMBER,               
                      ISNULL(APP_VEHICLES.VEHICLE_YEAR, 0) AS VEHICLE_YEAR , ISNULL(APP_VEHICLES.MAKE, '') AS MAKE, ISNULL(APP_VEHICLES.MODEL, '')               
                      AS MODEL, ISNULL(APP_VEHICLES.VIN, '') AS VIN, ISNULL(APP_VEHICLES.BODY_TYPE, '') AS BODY_TYPE,               
                      ISNULL(APP_VEHICLES.GRG_ADD1, '') AS GRG_ADD1, ISNULL(APP_VEHICLES.GRG_ADD2, '') AS GRG_ADD2,               
                      ISNULL(APP_VEHICLES.GRG_CITY, '') AS GRG_CITY, ISNULL(APP_VEHICLES.GRG_COUNTRY, '') AS GRG_COUNTRY,               
                      ISNULL(APP_VEHICLES.GRG_STATE, '') AS GRG_STATE, ISNULL(APP_VEHICLES.GRG_ZIP, '') AS GRG_ZIP,               
                      ISNULL(APP_VEHICLES.REGISTERED_STATE, '') AS REGISTERED_STATE, ISNULL(APP_VEHICLES.TERRITORY, '') AS TERRITORY,               
                      ISNULL(APP_VEHICLES.CLASS, '') AS CLASS, ISNULL(APP_VEHICLES.REGN_PLATE_NUMBER, '') AS REGN_PLATE_NUMBER,               
                      APP_VEHICLES.ST_AMT_TYPE, APP_VEHICLES.AMOUNT, APP_VEHICLES.SYMBOL, APP_VEHICLES.VEHICLE_AGE,               
                      ISNULL(APP_VEHICLES.VEHICLE_CC, '') AS VEHICLE_CC, ISNULL(APP_VEHICLES.MOTORCYCLE_TYPE, 0) AS MOTORCYCLE_TYPE,               
                      --APP_LIST.APP_LOB, APP_VEHICLES.APP_VEHICLE_CLASS , APP_VEHICLES.IS_ACTIVE  IS_ACTIVE            
   CASE WHEN APP_VEHICLES.CLASS_PER IS NOT NULL THEN APP_VEHICLES.CLASS_PER ELSE APP_VEHICLES.APP_VEHICLE_CLASS END APP_VEHICLE_CLASS,    
--   APP_VEHICLES.CLASS_PER AS APP_VEHICLE_CLASS,    
 APP_VEHICLES.IS_ACTIVE  IS_ACTIVE,CYCL_REGD_ROAD_USE,COMPRH_ONLY            
FROM         APP_VEHICLES         
  --INNER JOIN APP_LIST ON APP_VEHICLES.CUSTOMER_ID = APP_LIST.CUSTOMER_ID AND APP_VEHICLES.APP_ID = APP_LIST.APP_ID AND       APP_VEHICLES.APP_VERSION_ID = APP_LIST.APP_VERSION_ID              
WHERE     ( APP_VEHICLES.CUSTOMER_ID = @CUSTOMERID)   and ( APP_VEHICLES.APP_ID=@APPID) AND ( APP_VEHICLES.APP_VERSION_ID=@APPVERSIONID) AND ( APP_VEHICLES.VEHICLE_ID= @VEHICLEID);              
END              
      
    
    
    
  




GO

