IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_ACTIVATEDEACTIVATECIVILTRANSPORTVEHICLE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_ACTIVATEDEACTIVATECIVILTRANSPORTVEHICLE]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

  
/*----------------------------------------------------------            
PROC NAME       : DBO.POL_CIVIL_TRANSPORT_VEHICLES            
CREATED BY      : PRADEEP KUSHWAHA   
DATE            : 23/04/2010            
PURPOSE			:TO ACTIVATE AND DEACTIVATE RECORDS IN POL_CIVIL_TRANSPORT_VEHICLES TABLE.            
REVISON HISTORY :            
USED IN			: EBIX ADVANTAGE            
------------------------------------------------------------            
DATE     REVIEW BY          COMMENTS            
------   ------------       -------------------------*/            
--DROP PROC DBO.[PROC_ACTIVATEDEACTIVATECIVILTRANSPORTVEHICLE]   
  
  
CREATE  PROC [DBO].[PROC_ACTIVATEDEACTIVATECIVILTRANSPORTVEHICLE]  
(          
	 @VEHICLE_ID INT,     
	 @CUSTOMER_ID INT,      
	 @POLICY_ID INT,      
	 @POLICY_VERSION_ID SMALLINT,
	 @IS_ACTIVE   NCHAR(1) , 
	 @CalledFrom nvarchar(20)=null        
)          
AS   




declare @EFFECTIVE_DATETIME datetime,
@POLICY_STATUS NVARCHAR(20)
  
   select @EFFECTIVE_DATETIME =EFFECTIVE_DATETIME from POL_POLICY_PROCESS with(nolock)where CUSTOMER_ID= @CUSTOMER_ID   AND POLICY_ID=@POLICY_ID AND NEW_POLICY_VERSION_ID=@POLICY_VERSION_ID 
   SELECT @POLICY_STATUS= POLICY_STATUS FROM POL_CUSTOMER_POLICY_LIST with(nolock) WHERE CUSTOMER_ID= @CUSTOMER_ID   AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID 

if(@IS_ACTIVE='N' AND @POLICY_STATUS='UENDRS' and (@CalledFrom='CLTVEHICLEINFO' or @CalledFrom='FLVEHICLEINFO'))
BEGIN

UPDATE POL_CIVIL_TRANSPORT_VEHICLES SET RISK_EXPIRE_DATE=@EFFECTIVE_DATETIME WHERE CUSTOMER_ID= @CUSTOMER_ID AND
	POLICY_ID=@POLICY_ID AND
	POLICY_VERSION_ID=@POLICY_VERSION_ID AND
	VEHICLE_ID=@VEHICLE_ID   
END       
BEGIN  



UPDATE POL_CIVIL_TRANSPORT_VEHICLES      
 SET           
    IS_ACTIVE  = @IS_ACTIVE  ,
    ORIGINAL_VERSION_ID=CASE WHEN @IS_ACTIVE='Y' THEN 0 ELSE @POLICY_VERSION_ID END       
 WHERE          
	    
	 CUSTOMER_ID =  @CUSTOMER_ID AND      
	 POLICY_ID = @POLICY_ID AND      
	 POLICY_VERSION_ID=@POLICY_VERSION_ID  AND  
	 VEHICLE_ID    = @VEHICLE_ID 
	 
END      
      
GO

