IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_PERFORM_CLAIM_CHECK_OPERATION]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_PERFORM_CLAIM_CHECK_OPERATION]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--Text
--BEGIN TRAN
--DROP PROC PROC_PERFORM_CLAIM_CHECK_OPERATION
--GO 
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*Modified by : Praveen kasana
 Purpose : Act Posting During Voiding of Checks through Claims
*/
--drop proc dbo.PROC_PERFORM_CLAIM_CHECK_OPERATION 

CREATE PROC [dbo].[PROC_PERFORM_CLAIM_CHECK_OPERATION] 
	@CHECK_IDS VARCHAR(2000),
	@OPERATION VARCHAR(50)
AS
BEGIN

	DECLARE @SQLQUERY AS VARCHAR(3000)

	DECLARE @CURRENT_CHECK_ID VARCHAR(10)              
	DECLARE @COUNT INT              
	DECLARE @VOID_ACTIVITY_ID int

	IF (@OPERATION = 'CLEAR')
		BEGIN
			-- PRINT 'CL'
			SELECT @SQLQUERY = 'UPDATE ACT_CHECK_INFORMATION SET IS_BNK_RECONCILED=''Y'' ,BANK_RECONCILED_DATE = GETDATE() WHERE CHECK_ID IN (' + @CHECK_IDS + ')'
		END

	ELSE IF (@OPERATION = 'UN-CLEAR')
		BEGIN
			-- PRINT 'UN_CL'
			SELECT @SQLQUERY = 'UPDATE ACT_CHECK_INFORMATION SET 	IS_BNK_RECONCILED=''N''	WHERE CHECK_ID IN (' + @CHECK_IDS + ')'
		END

	ELSE IF (@OPERATION = 'VOID')
		BEGIN
		DECLARE @ITEM_TRAN_CODE Varchar(10)
		DECLARE @ITEM_TRAN_CODE_TYPE Varchar(10)
		SET @ITEM_TRAN_CODE_TYPE = 'CHK'
		SET @ITEM_TRAN_CODE  = 'VOID'
		--For void operations, we have to reverse accounts posting and set that claim activity to be void

		set @COUNT=2  
		SET @VOID_ACTIVITY_ID = 11986
		
		 set @CURRENT_CHECK_ID = dbo.piece(@CHECK_IDS,',',1)                            
		 --Loop through the string to find applications assigned to each underwriter              
		 WHILE @CURRENT_CHECK_ID is not null                            
		 BEGIN                    
			  --We have the required check id..lets reverse the entries
			 INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS
			(
			ACCOUNT_ID,UPDATED_FROM,SUBLEDGER_TYPE,SOURCE_ROW_ID,MAPPING_SUBLEDGER_ID,SOURCE_NUM,
			SOURCE_TRAN_DATE,SOURCE_EFF_DATE,POSTING_DATE,TRANSACTION_AMOUNT,AGENCY_COMM_PERC,
			AGENCY_COMM_AMT,AGENCY_ID,CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,DIV_ID,DEPT_ID,
			PC_ID,IS_PREBILL,BILL_CODE,GROSS_AMOUNT,ITEM_TRAN_CODE,ITEM_TRAN_CODE_TYPE,TRAN_ID,
			LOB_ID,SUB_LOB_ID,COUNTRY_ID,STATE_ID,VENDOR_ID,TAX_ID,ADNL_INFO,IS_BANK_RECONCILED,
			RECUR_JOURNAL_VERSION,IN_BNK_RECON,IS_BALANCE_UPDATED,COMMITED_BY,COMMITED_BY_CODE,
			COMMITED_BY_NAME,COMMISSION_TYPE,RISK_ID,RISK_TYPE,SOURCE_GROUP_ID,TRAN_ENTITY,
			TRAN_DESC)
			
			SELECT
			ACCOUNT_ID,UPDATED_FROM,SUBLEDGER_TYPE,SOURCE_ROW_ID,MAPPING_SUBLEDGER_ID,SOURCE_NUM,
			GETDATE(),GETDATE(),GETDATE(),-1*TRANSACTION_AMOUNT,AGENCY_COMM_PERC,
			AGENCY_COMM_AMT,AGENCY_ID,CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,DIV_ID,DEPT_ID,
			PC_ID,IS_PREBILL,BILL_CODE,GROSS_AMOUNT,@ITEM_TRAN_CODE,@ITEM_TRAN_CODE_TYPE,TRAN_ID,
			LOB_ID,SUB_LOB_ID,COUNTRY_ID,STATE_ID,VENDOR_ID,TAX_ID,ADNL_INFO,IS_BANK_RECONCILED,
			RECUR_JOURNAL_VERSION,IN_BNK_RECON,IS_BALANCE_UPDATED,COMMITED_BY,COMMITED_BY_CODE,
			COMMITED_BY_NAME,COMMISSION_TYPE,RISK_ID,RISK_TYPE,SOURCE_GROUP_ID,TRAN_ENTITY,
			TRAN_DESC
			FROM ACT_ACCOUNTS_POSTING_DETAILS
			WHERE SOURCE_ROW_ID=@CURRENT_CHECK_ID	
			--Ravindra(03-27-2008)
			AND UPDATED_FROM = 'C' 
					

			-- Modified by Asfa (15-July-2008) - As per mail sent by Rajan sir dated 12-july-2008
		 	UPDATE CLM_ACTIVITY SET ACTIVITY_STATUS=@VOID_ACTIVITY_ID, VOIDED_DATE = GETDATE() 
			WHERE CHECK_ID=@CURRENT_CHECK_ID

		      SET @CURRENT_CHECK_ID=DBO.PIECE(@CHECK_IDS,',',@COUNT)              
		      SET @COUNT=@COUNT+1                            
		                
		 END   


			-- PRINT 'VD'  -- SET GL UPDATE TO 2 FOR VOID
			SELECT @SQLQUERY = 'UPDATE ACT_CHECK_INFORMATION SET GL_UPDATE = 2 WHERE CHECK_ID  IN (' + @CHECK_IDS + ')'
	
		END	
	ELSE 
		RETURN -1


EXEC (@SQLQUERY)
-- PRINT @SQLQUERY 
END
--  go
--exec Proc_RPTPendingAgencyStatements 
----
--rollback tran







GO

