IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetACT_GENERAL_LEDGER_POSTING_INFO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetACT_GENERAL_LEDGER_POSTING_INFO]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------  
Proc Name       : Proc_GetACT_GENERAL_LEDGER_POSTING_INFO  
Created by      : Vijay Joshi  
Date            : 14 june, 2005  
Purpose     : Get values from ACT_GENERAL_LEDGER   
Revison History :  
Used In  : Wolverine  
------------------------------------------------------------  
Date     Review By          Comments  
------   ------------       -------------------------*/  
--drop Procedure Proc_GetACT_GENERAL_LEDGER_POSTING_INFO  
CREATE Procedure Proc_GetACT_GENERAL_LEDGER_POSTING_INFO  
(  
 @GL_ID int,  
 @FISCAL_ID smallint  
)  
As  
BEGIN  
 SELECT ACT_GENERAL_LEDGER.GL_ID GL_ID,   
  ACT_GENERAL_LEDGER.FISCAL_ID FISCAL_ID,   
  IsNull(AGENCY.ACC_DISP_NUMBER, '') + ' - ' + IsNull(AGENCY.ACC_DESCRIPTION, '') AGENCY_ACCOUNT,   
  IsNull(CUSTOMER.ACC_DISP_NUMBER, '') + ' - ' + IsNull(CUSTOMER.ACC_DESCRIPTION, '') CUSTOMER_ACCOUNT,   
  IsNull(TAX.ACC_DISP_NUMBER, '') + ' - ' + IsNull(TAX.ACC_DESCRIPTION, '') TAX_ACCOUNT,   
  IsNull(VENDOR.ACC_DISP_NUMBER, '') + ' - ' + IsNull(VENDOR.ACC_DESCRIPTION, '') VENDOR_ACCOUNT,  
  IsNull(MORTGAGE.ACC_DISP_NUMBER, '') + ' - ' + IsNull(MORTGAGE.ACC_DESCRIPTION, '') MORTGAGE_ACCOUNT,  
  IsNull(AGENCY.ACCOUNT_ID, '') AGENCY_ACCOUNT_ID,   
  IsNull(CUSTOMER.ACCOUNT_ID, '') CUSTOMER_ACCOUNT_ID,   
  IsNull(TAX.ACCOUNT_ID, '') TAX_ACCOUNT_ID,   
  IsNull(VENDOR.ACCOUNT_ID, '') VENDOR_ACCOUNT_ID  ,
  IsNull(MORTGAGE.ACCOUNT_ID, '') MORTGAGE_ACCOUNT_ID
 FROM ACT_GENERAL_LEDGER   
  LEFT JOIN ACT_GL_ACCOUNTS AGENCY ON AGENCY.ACCOUNT_ID = ACT_GENERAL_LEDGER.AST_UNCOLL_PRM_AGENCY  
  LEFT JOIN ACT_GL_ACCOUNTS CUSTOMER ON CUSTOMER.ACCOUNT_ID = ACT_GENERAL_LEDGER.AST_UNCOLL_PRM_CUSTOMER  
  LEFT JOIN ACT_GL_ACCOUNTS TAX ON TAX.ACCOUNT_ID = ACT_GENERAL_LEDGER.LIB_TAX_PAYB  
  LEFT JOIN ACT_GL_ACCOUNTS VENDOR ON VENDOR.ACCOUNT_ID = ACT_GENERAL_LEDGER.LIB_VENDOR_PAYB  
  LEFT JOIN ACT_GL_ACCOUNTS MORTGAGE ON MORTGAGE.ACCOUNT_ID = ACT_GENERAL_LEDGER.LIB_VENDOR_PAYB  
 WHERE ACT_GENERAL_LEDGER.FISCAL_ID = @FISCAL_ID AND ACT_GENERAL_LEDGER.GL_ID = @GL_ID  
END  
  
  



GO

