IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetAgency_Open_Items]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetAgency_Open_Items]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------
Proc Name       : Proc_GetAgency_Open_Items
Created by      : Praveen kasana
Date            : 20/Dec/2006
Purpose    	: Retreives the open items of specified Agency
Revison History :
Used In 	: Wolverine
------------------------------------------------------------
Date     Review By          Comments
-----------------------------------------------------------*/
--
--EXEC Proc_GetAgency_Open_Items 208,1771,NULL,NULL
--SELECT * FROM ACT_AGENCY_STATEMENT
-- drop proc dbo.Proc_GetAgency_Open_Items
CREATE PROCEDURE dbo.Proc_GetAgency_Open_Items 
(
	@ENTITY_ID int,
	@RECON_GROUP_ID int
	--,@PAGE_SIZE int = null,
	--@CURRENT_PAGE_INDEX int = null

)
AS
BEGIN

	--DECLARE @STARTINDEX int, @ENDPAGEINDEX int 
	--SET @STARTINDEX =  ((@CURRENT_PAGE_INDEX - 1 ) * @PAGE_SIZE) + 1
	--SET @ENDPAGEINDEX = @STARTINDEX + @PAGE_SIZE

 	SELECT Count(1)
 	FROM ACT_AGENCY_STATEMENT
 	WHERE IsNull(DUE_AMOUNT,0) > IsNull(TOTAL_PAID,0) AND AGENCY_ID = @ENTITY_ID
 
	
	CREATE TABLE #ACT_AGENCY_STATEMENT_TEMP
	(
		[IDENT_COL] 	Int Identity(1,1),
		UPDATED_FROM  	varchar(50),
		ITEM_REF_ID 	int,
		SOURCE_NUM	varchar(50),
		SOURCE_TRAN_DATE varchar(20),
		SOURCE_EFF_DATE	 varchar(20), 
		PAYMENT_DATE	 varchar(20),
		TOTAL_DUE	 decimal(18,2),
		TOTAL_PAID	 decimal(18,2),
		AGENCY_ID	 int,
		CUSTOMER_ID	 int,
		POLICY_ID	 int,
		POLICY_VERSION_ID int,
		BALANCE 	 decimal(18,2),
		RECON_AMOUNT	 decimal(18,2),
		IDEN_ROW_NO	 int,
		DISPLAY_UPDATED_FROM	varchar(50),
		POLICY_NUMBER  VARCHAR(15),
		TRANSACTION_TYPE  VARCHAR(100) 
	)
	
-- 	IF @RECON_GROUP_ID IS NULL
-- 	BEGIN
-- 		INSERT INTO #ACT_AGENCY_STATEMENT_TEMP
-- 		(
-- 			DISPLAY_UPDATED_FROM, SOURCE_ROW_ID,SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE,
-- 			PAYMENT_DATE, TOTAL_DUE , TOTAL_PAID, AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID,
-- 			BALANCE, RECON_AMOUNT,
-- 			IDEN_ROW_NO, UPDATED_FROM, GROUP_ID, POLICY_NUMBER,
-- 			TRANSACTION_TYPE
-- 			
-- 		)
-- 		SELECT 
-- 		CASE UPDATED_FROM WHEN 'J' THEN 'JOURNAL' WHEN 'D' THEN 'DEPOSIT' ELSE '' END, SOURCE_ROW_ID, null,
-- 	        CONVERT(VARCHAR(20),SOURCE_EFF_DATE,101) , CONVERT(VARCHAR(20),SOURCE_EFF_DATE, 101),
-- 		PAYMENT_DATE, DUE_AMOUNT, TOTAL_PAID, AAS.AGENCY_ID, AAS.CUSTOMER_ID,
-- 		AAS.POLICY_ID, AAS.POLICY_VERSION_ID,
-- 		ISNULL(DUE_AMOUNT,0) - ISNULL(TOTAL_PAID,0) AS BALANCE, RGD.RECON_AMOUNT,
-- 		RGD.IDEN_ROW_NO, UPDATED_FROM, RG.GROUP_ID, PCL.POLICY_NUMBER,
-- 		AAS.TRAN_TYPE
-- -- 		CASE AAS.ITEM_TRAN_CODE_TYPE 
-- -- 			WHEN 'FEES' THEN 'Fees'
-- -- 			WHEN 'Pre' THEN 'Premium'
-- -- 			WHEN 'CHK' THEN 'Check'
-- -- 			WHEN 'DIS' THEN 'Discount'
-- -- 			WHEN 'PREM' THEN 'Premium'
-- -- 		ELSE ''
-- -- 		     	END
-- 		FROM ACT_AGENCY_STATEMENT AAS
-- 		LEFT JOIN ACT_AGENCY_RECON_GROUP_DETAILS RGD ON ITEM_TYPE = AAS.UPDATED_FROM AND 
-- 		ITEM_REFERENCE_ID = AAS.ROW_ID
-- 		LEFT JOIN ACT_RECONCILIATION_GROUPS RG ON RG.GROUP_ID = RGD.GROUP_ID
-- 		LEFT JOIN POL_CUSTOMER_POLICY_LIST PCL ON PCL.AGENCY_ID = AAS.AGENCY_ID
-- 		AND PCL.POLICY_ID = AAS.POLICY_ID
-- 		AND PCL.POLICY_VERSION_ID = AAS.POLICY_VERSION_ID
-- 		WHERE ISNULL(DUE_AMOUNT,0) <> ISNULL(TOTAL_PAID,0) AND AAS.AGENCY_ID = @ENTITY_ID
-- 		ORDER BY RGD.RECON_AMOUNT  DESC
-- 	END
-- 	ELSe
-- 	BEGIN
		INSERT INTO #ACT_AGENCY_STATEMENT_TEMP
		(
			DISPLAY_UPDATED_FROM, ITEM_REF_ID ,SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE,
			PAYMENT_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID,
			BALANCE, RECON_AMOUNT,
			IDEN_ROW_NO, UPDATED_FROM,  POLICY_NUMBER,
			TRANSACTION_TYPE
		)
		SELECT 
		CASE AAS.UPDATED_FROM WHEN 'J' THEN 'JOURNAL' WHEN 'D' THEN 'DEPOSIT' ELSE '' END, 
		AAS.ROW_ID, CONVERT(Varchar,AAS.MONTH_NUMBER) + ' / '  + CONVERT(Varchar,AAS.MONTH_YEAR),
		CONVERT(VARCHAR,AAS.SOURCE_EFF_DATE,101) , CONVERT(VARCHAR(20),AAS.SOURCE_EFF_DATE, 101),
		AAS.PAYMENT_DATE, AAS.DUE_AMOUNT, AAS.TOTAL_PAID, AAS.AGENCY_ID, AAS.CUSTOMER_ID,
		AAS.POLICY_ID, AAS.POLICY_VERSION_ID,
		ISNULL(AAS.DUE_AMOUNT,0) - ISNULL(AAS.TOTAL_PAID,0) AS BALANCE, 
		RGD.RECON_AMOUNT,
		RGD.IDEN_ROW_NO, AAS.UPDATED_FROM, PCL.POLICY_NUMBER,
		AAS.TRAN_TYPE
		FROM ACT_AGENCY_STATEMENT AAS
		LEFT JOIN ACT_AGENCY_RECON_GROUP_DETAILS RGD 
		ON RGD.ITEM_REFERENCE_ID = AAS.ROW_ID
		  AND RGD.GROUP_ID = @RECON_GROUP_ID
		LEFT JOIN POL_CUSTOMER_POLICY_LIST PCL ON 
		PCL.AGENCY_ID = AAS.AGENCY_ID
		AND PCL.POLICY_ID = AAS.POLICY_ID
		AND PCL.POLICY_VERSION_ID = AAS.POLICY_VERSION_ID
		AND PCL.CUSTOMER_ID = AAS.CUSTOMER_ID
		WHERE ISNULL(AAS.DUE_AMOUNT,0) <> ISNULL(AAS.TOTAL_PAID,0) AND 
		AAS.AGENCY_ID = @ENTITY_ID 
		--ORDER BY RGD.IDEN_ROW_NO  DESC
		ORDER BY ISNULL(RGD.IDEN_ROW_NO,2147483647),PCL.POLICY_NUMBER , SOURCE_EFF_DATE 
-- 	END



	SELECT * FROM #ACT_AGENCY_STATEMENT_TEMP
	--WHERE IDENT_COL >= @STARTINDEX AND
       	---IDENT_COL <  @ENDPAGEINDEX	


	DROP TABLE #ACT_AGENCY_STATEMENT_TEMP
END


















GO

