IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_FILLPOLVEHICLEDROPDOWN_BOAT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_FILLPOLVEHICLEDROPDOWN_BOAT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PROC_FILLPOLVEHICLEDROPDOWN_BOAT]             
(            
 @CUSTOMER_ID INT,             
 @POL_ID INT,             
 @POL_VERSION_ID INT,        
 @DRIVER_ID INT = NULL            
)            
AS            
BEGIN            
IF EXISTS(    
     
 SELECT CUSTOMER_ID FROM POL_OPERATOR_ASSIGNED_BOAT        
  WHERE POL_OPERATOR_ASSIGNED_BOAT.CUSTOMER_ID = @CUSTOMER_ID         
  AND POL_OPERATOR_ASSIGNED_BOAT.POLICY_ID = @POL_ID         
  AND POL_OPERATOR_ASSIGNED_BOAT.POLICY_VERSION_ID = @POL_VERSION_ID        
  AND POL_OPERATOR_ASSIGNED_BOAT.DRIVER_ID = @DRIVER_ID        
 )            
  
  SELECT POL_WATERCRAFT_INFO.BOAT_ID,         
  CONVERT(VARCHAR,POL_WATERCRAFT_INFO.BOAT_ID) + ' '  + cast(ISNULL(POL_WATERCRAFT_INFO.[YEAR],'') as varchar)  + ' ' + ISNULL(MAKE,'') AS MODEL_MAKE ,        
  isnull(POL_OPERATOR_ASSIGNED_BOAT.BOAT_ID, 0) AS ASSIGNED_VEH_ID,        
  isnull(POL_OPERATOR_ASSIGNED_BOAT.APP_VEHICLE_PRIN_OCC_ID, 0) as APP_VEHICLE_PRIN_OCC_ID        
  FROM POL_WATERCRAFT_INFO  WITH(NOLOCK)           
  LEFT JOIN POL_OPERATOR_ASSIGNED_BOAT        
  ON POL_WATERCRAFT_INFO.CUSTOMER_ID = POL_OPERATOR_ASSIGNED_BOAT.CUSTOMER_ID        
  AND POL_WATERCRAFT_INFO.POLICY_ID = POL_OPERATOR_ASSIGNED_BOAT.POLICY_ID        
  AND POL_WATERCRAFT_INFO.POLICY_VERSION_ID = POL_OPERATOR_ASSIGNED_BOAT.POLICY_VERSION_ID        
  AND POL_WATERCRAFT_INFO.BOAT_ID = POL_OPERATOR_ASSIGNED_BOAT.BOAT_ID        
  AND POL_OPERATOR_ASSIGNED_BOAT.DRIVER_ID = @DRIVER_ID        
  WHERE POL_WATERCRAFT_INFO.CUSTOMER_ID = @CUSTOMER_ID         
  AND POL_WATERCRAFT_INFO.POLICY_ID = @POL_ID         
  AND POL_WATERCRAFT_INFO.POLICY_VERSION_ID = @POL_VERSION_ID        
  AND UPPER(POL_WATERCRAFT_INFO.IS_ACTIVE)='Y'  ORDER BY 2            
ELSE        
  SELECT POL_WATERCRAFT_INFO.BOAT_ID,         
  CONVERT(VARCHAR,POL_WATERCRAFT_INFO.BOAT_ID) + ' '  + cast(ISNULL(POL_WATERCRAFT_INFO.[YEAR],'') as varchar)   + ' ' + ISNULL(MAKE,'') AS MODEL_MAKE ,        
  '0' AS ASSIGNED_VEH_ID,        
  '0' AS APP_VEHICLE_PRIN_OCC_ID        
  FROM POL_WATERCRAFT_INFO  WITH(NOLOCK)           
  WHERE POL_WATERCRAFT_INFO.CUSTOMER_ID = @CUSTOMER_ID         
  AND POL_WATERCRAFT_INFO.POLICY_ID = @POL_ID         
  AND POL_WATERCRAFT_INFO.POLICY_VERSION_ID = @POL_VERSION_ID        
  AND UPPER(POL_WATERCRAFT_INFO.IS_ACTIVE)='Y'  ORDER BY 2            
END            
        
        
-- PROC_FILLAPPVEHICLEDROPDOWN_BAOT 1426,47,1  
        
--  select year,make,* from APP_WATERCRAFT_INFO where customer_id=1426 and app_id=40 and app_version_id=1        
--  delete from APP_DRIVER_ASSIGNED_VEHICLE        
        
        
        
      
    
  





GO

