IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_UpdateExcessLayer]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_UpdateExcessLayer]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO




/*
CREATED BY 		: Deepak Batra
CREATED DATE		: 06 Jan 2006
Purpose			: To implement the update on the Excess Layer screen
*/
CREATE PROCEDURE Proc_UpdateExcessLayer
(
	@EXCESS_ID		INT,
	@CONTRACT_ID 		INT,
	@LAYER_AMOUNT		DECIMAL,
	@UNDERLYING_AMOUNT	DECIMAL,
	@LAYER_PREMIUM		DECIMAL,
	@CEDING_COMMISSION	DECIMAL,
	@AC_PREMIUM		DECIMAL,
	@MODIFIED_BY		INT,
	@LAST_UPDATED_DATETIME	DATETIME,
	@PARTICIPATION_AMOUNT	DECIMAL,
	@PRORATA_AMOUNT		DECIMAL,
	@LAYER_TYPE		CHAR(1)
)
AS
BEGIN
	UPDATE MNT_REINSURANCE_EXCESS

	SET 	LAYER_AMOUNT = @LAYER_AMOUNT, 	UNDERLYING_AMOUNT = @UNDERLYING_AMOUNT, LAYER_PREMIUM = @LAYER_PREMIUM, 
		CEDING_COMMISSION = @CEDING_COMMISSION, AC_PREMIUM = @AC_PREMIUM, MODIFIED_BY = @MODIFIED_BY, 
		LAST_UPDATED_DATETIME = @LAST_UPDATED_DATETIME, PARTICIPATION_AMOUNT = @PARTICIPATION_AMOUNT,
		PRORATA_AMOUNT = @PRORATA_AMOUNT, LAYER_TYPE = @LAYER_TYPE
	WHERE 	
	EXCESS_ID 	= @EXCESS_ID AND
	CONTRACT_ID 	= @CONTRACT_ID AND
	LAYER_TYPE	= @LAYER_TYPE
END




GO

