IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetDocLetter_Details]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetDocLetter_Details]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_GetDocLetter_Details]    
(    
 @MERGE_ID INT    
)    
AS    
BEGIN    
     
 SELECT     
 ISNULL(CLT.CUSTOMER_FIRST_NAME,'') + ' ' + ISNULL(CLT.CUSTOMER_LAST_NAME,'')   AS CUSTOMER_NAME,    
 ISNULL(APP.APP_NUMBER,'')  AS APP_NUMBER,    
 ISNULL(POL.POLICY_NUMBER,'') AS POLICY_NUMBER,    
 ISNULL(AGN.AGENCY_ID,'') AS AGENCY_ID,    
 ISNULL(LOB.LOB_ID,'') AS LOB_ID,    
 ISNULL(FIRST_NAME,'') + ' ' + ISNULL(LAST_NAME,'') AS CO_APPLICANT_NAME,    
 ISNULL(DOC.TEMPLATE_PATH,'') AS TEMPLATE_PATH,    
 ISNULL(DIARY_ITEM_REQ,'N') AS DIARY_ITEM_REQ,    
 convert(varchar(20),ISNULL(FOLLOW_UP_DATE,''),101) AS FOLLOW_UP_DATE,    
 ISNULL(DOC.CLAIM_ID,'') as CLAIM_ID,    
 ISNULL(DOC.PARTY_ID,'') AS PARTY_ID,    
 ISNULL(CLM.CLAIM_NUMBER,'') AS CLAIM_NUMBER,    
 ISNULL(PART.NAME,'') AS PARTY_NAME,
 ISNULL(DIARY_ITEM_TO,'') AS DIARY_ITEM_TO  --Done for Itrack Issue 4846 on 4 June 2009  
     
 FROM     
 DOC_SEND_LETTER DOC    WITH(NOLOCK)    
 LEFT JOIN DOC_TEMPLATE_LIST TEMPL   WITH(NOLOCK)    
  ON TEMPL.TEMPLATE_ID = DOC.TEMPLATE_ID    
 LEFT JOIN MNT_AGENCY_LIST AGN    WITH(NOLOCK)    
  ON AGN.AGENCY_ID = TEMPL.AGENCY_ID    
 LEFT JOIN MNT_LOB_MASTER LOB    WITH(NOLOCK)    
  ON LOB.LOB_ID = TEMPL.LOB     
 LEFT JOIN  CLT_CUSTOMER_LIST CLT     
  ON DOC.CLIENT_ID = CLT.CUSTOMER_ID     
 LEFT JOIN CLT_APPLICANT_LIST CLT_APP  WITH(NOLOCK)    
  ON CLT_APP.APPLICANT_ID = DOC.APPLICANT_ID    
 LEFT JOIN APP_LIST APP WITH(NOLOCK)    
  ON CLT.CUSTOMER_ID = APP.CUSTOMER_ID    
  AND APP.APP_ID = DOC.APP_ID    
  AND APP.APP_VERSION_ID = APP.APP_VERSION_ID     
 LEFT JOIN POL_CUSTOMER_POLICY_LIST POL   WITH(NOLOCK)    
  ON CLT.CUSTOMER_ID = POL.CUSTOMER_ID    
  AND POL.POLICY_ID = DOC.POLICY_ID    
  AND POL.POLICY_VERSION_ID = DOC.POLICY_VERSION_ID    
 LEFT JOIN CLM_CLAIM_INFO CLM    
  ON CLM.CLAIM_ID = DOC.CLAIM_ID    
 LEFT JOIN CLM_PARTIES PART    
  ON PART.CLAIM_ID = CLM.CLAIM_ID    
  AND PART.PARTY_ID = DOC.PARTY_ID    
 WHERE DOC.MERGE_ID = @MERGE_ID    
    
END
GO

