IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_REP_CORRETAGEN]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_REP_CORRETAGEN]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<ATUL KUMAR SINGH>
-- Create date: <2011-03-22>
-- Description:	<Report file for payments to brokers, agents, canvassers or partners>
-- =============================================

-- ******************** CHANGE HISTORY ***********************************
-- MODIFY BY :
-- MODIFIED DATE :
-- DISCRIPTION :
--************************************************************************


-- ******************   EXECUTION PATH  *********************************** 
-- EXEC [PROC_REP_CORRETAGEN] '2011-02-23 16:36:07.803',null
-- EXEC [PROC_REP_CORRETAGEN] '2011-03-23 16:36:07.803','88998201150114000028'
--**************************************************************************
CREATE PROCEDURE [dbo].[PROC_REP_CORRETAGEN] 

 @DATETIME DATETIME
,@POLICY_NUMBER VARCHAR(21)=NULL

 
AS
BEGIN
	SET NOCOUNT ON;
	
--------------------------- SEPRATE DATE AND TIME
	DECLARE @MONTH VARCHAR(2)
	DECLARE @MONTH1 VARCHAR(2)
	DECLARE @YEAR VARCHAR(4)
	SET @MONTH= DATEPART(MM,@DATETIME)
	SET @MONTH1= RIGHT('00'+convert(varchar,DATEPART(MM,@DATETIME)),2)

	SET @YEAR=(SELECT DATEPART(YY,@DATETIME))
	
--------------------------- CREATE 	TEMPORARY TABLE FOR HOLDING VALUES
CREATE TABLE #TENPTABLE
(
		SEQUENCE_NO INT identity(1,1)
		,COMPANY_SUSEP_CODE VARCHAR(5)
		,BASE_DATE VARCHAR(6)
		,SUSEP_LOB DECIMAL(4)
		,POLICY_NUMBER VARCHAR(21)
		,ENDORSEMENT_NUMBER VARCHAR(21)
		,INSTALLMENT_NUMBER DECIMAL(2)
		,NO_OF_INSTALLMENT  DECIMAL(2)
		,AMOUNT_PAID  DECIMAL(16,2)
		,NAME VARCHAR(30)
		,CPF_CNPJ VARCHAR(18)
		,SUSEP_CODE_BROKER VARCHAR(14)
)

------------------------- INSERT VALUES IN TEMPRORY TABLE
insert into #TENPTABLE
(

		COMPANY_SUSEP_CODE 
		,BASE_DATE
		,SUSEP_LOB 
		,POLICY_NUMBER 
		,ENDORSEMENT_NUMBER 
		,INSTALLMENT_NUMBER 
		,NO_OF_INSTALLMENT 
		,AMOUNT_PAID 
		,NAME 
		,CPF_CNPJ 
		,SUSEP_CODE_BROKER
)

select  -- COUNT(1)
	'05045' AS COMPANY_CODE
	,@YEAR+@MONTH1 AS BASEDATE
	,B.POLICY_LOB 
	,B.POLICY_NUMBER
	,ISNULL(c.ENDORSEMENT_NO,0)
	,A.INSTALLMENT_NO
	,E.NO_OF_PAYMENTS AS NO_OF_INSTALLMENT
	,A.TOTAL_PAID
	,LEFT(D.AGENCY_DISPLAY_NAME,30)
	,D.BROKER_CPF_CNPJ
	,D.SUSEP_NUMBER
   FROM 
   (
   SELECT CUSTOMER_ID,POLICY_ID, POLICY_VERSION_ID,INSTALLMENT_NO,AGENCY_ID,SUM(TOTAL_PAID)as TOTAL_PAID
	,PAYMENT_DATE,IS_COMMISSION_PROCESS  FROM
   ACT_AGENCY_STATEMENT_DETAILED (NOLOCK) 
   GROUP BY POLICY_ID, POLICY_VERSION_ID,INSTALLMENT_NO,AGENCY_ID,CUSTOMER_ID,PAYMENT_DATE,IS_COMMISSION_PROCESS
   
   )A
INNER JOIN

POL_CUSTOMER_POLICY_LIST (NOLOCK) B
ON (A.CUSTOMER_ID=B.CUSTOMER_ID and A.POLICY_ID=B.POLICY_ID and A.POLICY_VERSION_ID=B.POLICY_VERSION_ID)

LEFT OUTER JOIN
POL_POLICY_ENDORSEMENTS (NOLOCK) C
On (A.CUSTOMER_ID=c.CUSTOMER_ID and A.POLICY_ID=c.POLICY_ID and A.POLICY_VERSION_ID=c.POLICY_VERSION_ID)

LEFT OUTER JOIN
MNT_AGENCY_LIST (NOLOCK) D
ON A.AGENCY_ID=D.AGENCY_ID
LEFT OUTER JOIN
ACT_POLICY_INSTALL_PLAN_DATA (NOLOCK) E
ON (A.CUSTOMER_ID=E.CUSTOMER_ID and A.POLICY_ID=E.POLICY_ID and A.POLICY_VERSION_ID=E.POLICY_VERSION_ID)


WHERE
(convert(varchar,(DATEPART(MM,A.PAYMENT_DATE)))=@MONTH AND convert(varchar,DATEPART(YY,A.PAYMENT_DATE))=@YEAR)
AND (@POLICY_NUMBER IS NULL  or B.POLICY_NUMBER=@POLICY_NUMBER )
AND A.IS_COMMISSION_PROCESS='Y'




SELECT 
		RIGHT('0000000000' +CONVERT(VARCHAR,SEQUENCE_NO),10) AS [SEQUENCE NO]
		,COMPANY_SUSEP_CODE  AS [COMPANY SUSEP CODE]
		,BASE_DATE AS [BASE DATE]
		,SUSEP_LOB  AS [SUSEP LOB]
		,POLICY_NUMBER AS [POLICY NUMBER]
		,RIGHT('000000000000000000000' +CONVERT(VARCHAR,ENDORSEMENT_NUMBER),21) AS [ENDORSEMENT NUMBER]
		--,ENDORSEMENT_NUMBER 
		,RIGHT('00'+CONVERT(VARCHAR,INSTALLMENT_NUMBER),2)  AS [INSTALLMENT NO]
		,RIGHT('00'+CONVERT(VARCHAR,NO_OF_INSTALLMENT),2) AS [NO OF INSTALLMENT]
		,CASE WHEN AMOUNT_PAID>0
			THEN
		   REPLACE(RIGHT('0000000000000' +CONVERT(VARCHAR(16),AMOUNT_PAID),16),'.','')
		  ELSE
			REPLACE(RIGHT('0000000000000' +SUBSTRING(CONVERT(VARCHAR,AMOUNT_PAID),2,LEN(AMOUNT_PAID)),16),'.','')
		END AS [AMOUNT PAID]
		
		,UPPER(NAME ) AS [NAME]
		,CPF_CNPJ AS [CPF CNPJ]
		,SUSEP_CODE_BROKER AS [BROKER SUSEP CODE]
		
		 FROM #TENPTABLE (NOLOCK)
DROP TABLE #TENPTABLE

    
END

GO

