IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_InsertContractType]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_InsertContractType]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


-- drop PROC Proc_InsertContractType
/*
CREATED BY 		: Deepak Batra
CREATED DATE		: 16 Jan 2006
Purpose			: To implement the Insert on the Contract Type
*/
CREATE PROCEDURE Proc_InsertContractType
(
	@CONTRACTTYPEID	INT OUTPUT,
	@CONTRACT_TYPE_DESC NVARCHAR(50),	
	@CREATED_BY INT =0,
	@CREATED_DATETIME DATETIME =null,
	@IS_ACTIVE	CHAR(1)=null

)
AS
BEGIN
SELECT @CONTRACTTYPEID = IsNull(Max(CONTRACTTYPEID),0) + 1 FROM MNT_REINSURANCE_CONTRACT_TYPE
INSERT INTO  MNT_REINSURANCE_CONTRACT_TYPE
(
CONTRACTTYPEID,
CONTRACT_TYPE_DESC,
CREATED_BY,
CREATED_DATETIME,
IS_ACTIVE
	
)
VALUES
(
@CONTRACTTYPEID,
@CONTRACT_TYPE_DESC,
@CREATED_BY,
@CREATED_DATETIME,
'Y'
)	

END










GO

