IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetTierForUnderWriter_APP]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetTierForUnderWriter_APP]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran
--drop proc dbo.Proc_GetTierForUnderWriter_APP 
--go
CREATE PROC dbo.Proc_GetTierForUnderWriter_APP
(
 @CUSTOMER_ID INT,
 @APP_ID INT,
 @APP_VERSION_ID INT
)
AS
BEGIN


DECLARE @EFFECTIVE_DATE DATETIME
DECLARE @EXPIRY_DATE DATETIME

--Return varibles
DECLARE @LAPSE_DAYS INT
SET @LAPSE_DAYS = 0
DECLARE @LIMIT_TYPE VARCHAR(10)
DECLARE @PRIOR_LIMIT VARCHAR(30)
DECLARE @TOTAL_NAF INT
SET @TOTAL_NAF = 0


/*
114183	563	70	TOWL	Towing & Labor
114184	563	71	RENT	Rental Reimburse
*/

DECLARE @TOWING_LABOR INT
SET @TOWING_LABOR = 114183

DECLARE @RENTAL_REIMBURSE INT
SET @RENTAL_REIMBURSE = 114184

DECLARE @STATE_ID INT

DECLARE @LOSS_OCCURENCE_DATE DATETIME

DECLARE @THREEYEARDAYS INT
	SET @THREEYEARDAYS=0

DECLARE @THREEYEARLESSDATE DATETIME
--

/*LAPSE DAYS*/
	SELECT @EFFECTIVE_DATE = APP_EFFECTIVE_DATE ,
			@STATE_ID = STATE_ID
		FROM APP_LIST WITH(NOLOCK)
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND APP_ID = @APP_ID AND APP_VERSION_ID = @APP_VERSION_ID

	SELECT TOP 1 @EXPIRY_DATE = EXP_DATE, @PRIOR_LIMIT = PRIOR_BI_CSL_LIMIT 
	FROM 
	APP_PRIOR_CARRIER_INFO WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID
	AND LOB='2' AND ISNULL(IS_ACTIVE,'N') = 'Y' ORDER BY EXP_DATE

	SELECT @LAPSE_DAYS = DATEDIFF(DAY,@EXPIRY_DATE,@EFFECTIVE_DATE)
	if(@LAPSE_DAYS is null)
		set @LAPSE_DAYS = 0


	/*LIMIT TYPE */
	IF( NOT EXISTS(SELECT 1 FROM APP_PRIOR_CARRIER_INFO with(nolock) WHERE CUSTOMER_ID = @CUSTOMER_ID AND LOB='2' AND ISNULL(IS_ACTIVE,'N') = 'Y'))
	BEGIN
		--IF PROIOR POLICY DOES NOT EXISTS THEN SET THE MINIMUM STATE BI LIMIT 25
		SET @PRIOR_LIMIT = '25'
		SET @LIMIT_TYPE = 'BI'
	END
	ELSE
	BEGIN
		IF (EXISTS(SELECT TOP 1 PRIOR_BI_CSL_LIMIT FROM APP_PRIOR_CARRIER_INFO WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID
		AND LOB='2' AND ISNULL(IS_ACTIVE,'N') = 'Y' AND PRIOR_BI_CSL_LIMIT LIKE '%/%' ORDER BY EFF_DATE))
		BEGIN
			SET @PRIOR_LIMIT = LTRIM(RTRIM(UPPER(DBO.PIECE(@PRIOR_LIMIT,'/',1))))
			SET @LIMIT_TYPE = 'BI'		
		END
		ELSE
		BEGIN
			SET @PRIOR_LIMIT = LTRIM(RTRIM(replace(@PRIOR_LIMIT,',','')))
			SET @LIMIT_TYPE = 'CSL'
		END
	END

	/* NAF CLAIMS - PRIOR LOSS
	Look at the Prior Loss Tab 				
	Look at the number of claims based on the same Line of Business within the last 36 months 			
	"Total the number of Claims showing as NO Fault or Blank
	and where the amount paid is >0 (12.08.2009)"			 	
	If the Loss Type is Rental Reimburse or Towing and Labour than the claims is not be included as a Not at Fault Claim				
	Looking for flexibility here so the WM can add/delete loss types as required 				
	*/
	SET @THREEYEARLESSDATE = DATEADD(YEAR,-3,@EFFECTIVE_DATE)
	SET @THREEYEARDAYS = DATEDIFF(DAY,@THREEYEARLESSDATE,@EFFECTIVE_DATE)

	DECLARE @PRIOR_LOSS INT
	DECLARE @CLAIM_LOSS INT
	
	-----PRIOR LOSS INFO 

	SELECT  @TOTAL_NAF = COUNT(ISNULL(AT_FAULT,0)) FROM APP_PRIOR_LOSS_INFO with(nolock) WHERE CUSTOMER_ID = @CUSTOMER_ID
	AND LOB='2' AND ISNULL(IS_ACTIVE,'N') = 'Y' AND ISNULL(AT_FAULT,10964) IN(10964,0)
	AND ISNULL(AMOUNT_PAID,0) > 0
	AND ISNULL(LOSS_TYPE,0) NOT IN (@TOWING_LABOR,@RENTAL_REIMBURSE)
	AND (DATEDIFF(DAY,APP_PRIOR_LOSS_INFO.OCCURENCE_DATE,@EFFECTIVE_DATE) <= @THREEYEARDAYS) 

	
	

END


SELECT 
@LAPSE_DAYS  AS LAPSE_DAYS
,@PRIOR_LIMIT AS PRIOR_BI_LIMIT
,@TOTAL_NAF AS TOTAL_NAF
,@LIMIT_TYPE AS LIMIT_TYPE
,@EFFECTIVE_DATE AS APP_EFFECTIVE_DATE
,@STATE_ID  AS STATE_ID

RETURN 1

--go
--exec Proc_GetTierForUnderWriter_APP 2031,2,1
--
--rollback tran
--







GO

