IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetAgency_CustomerInfo]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetAgency_CustomerInfo]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


--drop proc dbo.Proc_GetAgency_CustomerInfo 
CREATE PROC dbo.Proc_GetAgency_CustomerInfo  
AS  
BEGIN  
  
SELECT AGENCY_ID,(RTRIM(ISNULL (AGENCY_CODE,'')) +'-'+ ISNULL(AGENCY_DISPLAY_NAME,'')) AS AGENCY_DISPLAY_NAME,
	CASE IS_ACTIVE
	WHEN 'Y' THEN RTRIM(ISNULL (AGENCY_CODE,'')) +'-'+ ISNULL(AGENCY_DISPLAY_NAME,'') + '- (Active)'
	WHEN 'N' THEN RTRIM(ISNULL (AGENCY_CODE,'')) +'-'+ ISNULL(AGENCY_DISPLAY_NAME,'') + '- (Inactive)'
	END AS AGENCY_NAME_ACTIVE_STATUS
FROM MNT_AGENCY_LIST 
WHERE 
	ISNULL(DATEDIFF(DAY,TERMINATION_DATE, GETDATE()),0)> 0 OR
	ISNULL(DATEDIFF(DAY,TERMINATION_DATE_RENEW, GETDATE()),0) > 0
ORDER BY  AGENCY_DISPLAY_NAME ASC  
  
END  






GO

