IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_DueCustomerTransactions]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_DueCustomerTransactions]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



/*---------------------------------------------

Create By		: Vijay Joshi
Created Datetime: 27 March,2006
Purpose			: To insert the values in customer balance information

----------------------------------------------*/

CREATE PROCEDURE dbo.Proc_DueCustomerTransactions
(
	@TO_DATE		DATETIME,
	@CUSTOMER_ID	INT = NULL
)
AS
BEGIN

	if @CUSTOMER_ID IS NULL
	BEGIN
		--Customer id is null hence updating for all customers
			
		--Releasing the installments
		UPDATE ACT_POLICY_INSTALLMENT_DETAILS
		SET RELEASED_STATUS = 'Y'
		FROM ACT_CUSTOMER_OPEN_ITEMS
		WHERE 
			ACT_POLICY_INSTALLMENT_DETAILS.ROW_ID = ACT_CUSTOMER_OPEN_ITEMS.INSTALLMENT_ROW_ID AND
			SOURCE_EFF_DATE <= @TO_DATE AND ISNULL(NOT_COUNTED_RECEIVABLE,1) <> 0
		
		
		
		UPDATE ACT_CUSTOMER_OPEN_ITEMS
		SET NOT_COUNTED_RECEIVABLE = 0,
		DUE_DATE = DATEADD(day, MINDAYS_PREMIUM, GETDATE())
		FROM POL_CUSTOMER_POLICY_LIST PCL, ACT_INSTALL_PLAN_DETAIL IPD
		WHERE 
			ACT_CUSTOMER_OPEN_ITEMS.POLICY_ID = PCL.POLICY_ID AND
			ACT_CUSTOMER_OPEN_ITEMS.CUSTOMER_ID = PCL.CUSTOMER_ID AND
			ACT_CUSTOMER_OPEN_ITEMS.POLICY_VERSION_ID = PCL.POLICY_VERSION_ID AND
			PCL.INSTALL_PLAN_ID = IPD.IDEN_PLAN_ID AND
			SOURCE_EFF_DATE <= @TO_DATE AND ISNULL(NOT_COUNTED_RECEIVABLE,1) <> 0
	END
	ELSE
	BEGIN
		--Customer id is not null hence updating for the specific customers

		--Releasing the installments
		UPDATE ACT_POLICY_INSTALLMENT_DETAILS
		SET RELEASED_STATUS = 'Y'
		FROM ACT_CUSTOMER_OPEN_ITEMS
		WHERE 
			ACT_POLICY_INSTALLMENT_DETAILS.ROW_ID = ACT_CUSTOMER_OPEN_ITEMS.INSTALLMENT_ROW_ID AND
			SOURCE_EFF_DATE <= @TO_DATE AND ISNULL(NOT_COUNTED_RECEIVABLE,1) <> 0 AND
			ACT_CUSTOMER_OPEN_ITEMS.CUSTOMER_ID = @CUSTOMER_ID
		
		
		
		UPDATE ACT_CUSTOMER_OPEN_ITEMS
		SET NOT_COUNTED_RECEIVABLE = 0,
		DUE_DATE = DATEADD(day, MINDAYS_PREMIUM, GETDATE())
		FROM POL_CUSTOMER_POLICY_LIST PCL, ACT_INSTALL_PLAN_DETAIL IPD
		WHERE 
			ACT_CUSTOMER_OPEN_ITEMS.POLICY_ID = PCL.POLICY_ID AND
			ACT_CUSTOMER_OPEN_ITEMS.CUSTOMER_ID = PCL.CUSTOMER_ID AND
			ACT_CUSTOMER_OPEN_ITEMS.POLICY_VERSION_ID = PCL.POLICY_VERSION_ID AND
			PCL.INSTALL_PLAN_ID = IPD.IDEN_PLAN_ID AND
			SOURCE_EFF_DATE <= @TO_DATE AND ISNULL(NOT_COUNTED_RECEIVABLE,1) <> 0 AND
			ACT_CUSTOMER_OPEN_ITEMS.CUSTOMER_ID = @CUSTOMER_ID
		
	END
	
END


GO

