IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_MakeAppFromQApp]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_MakeAppFromQApp]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*  
Created By		: Charles Gomes  
Comments		: Convert Quick Application to Application
Created Date	: 23-Jun-10
Modified by:Sonal
Modified date:20 july 2010
*/
 --DROP PROC dbo.Proc_MakeAppFromQApp 
CREATE PROC [dbo].[Proc_MakeAppFromQApp]
(
@CUSTOMER_ID INT,
@POLICY_ID INT, 
@POLICY_VERSION_ID SMALLINT,
@APP_NUMBER NVARCHAR(75)
)
AS
BEGIN
	DECLARE @QQ_ID INT
	DECLARE @QQ_NUMBER VARCHAR(20)
	DECLARE @AGENCY_ID INT
	IF EXISTS(SELECT CUSTOMER_ID FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK) WHERE
	CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID)
	BEGIN
	   
		UPDATE POL_CUSTOMER_POLICY_LIST SET APP_STATUS = 'APPLICATION', APP_NUMBER = @APP_NUMBER WHERE
		CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID
		
		UPDATE CLT_QUICKQUOTE_LIST SET QQ_APP_NUMBER= @APP_NUMBER WHERE
		CUSTOMER_ID = @CUSTOMER_ID AND APP_ID=@POLICY_ID AND APP_VERSION_ID=@POLICY_VERSION_ID
		
		 
    
		
    
			IF EXISTS(SELECT CUSTOMER_ID FROM QOT_CUSTOMER_QUOTE_LIST WHERE CUSTOMER_ID=@CUSTOMER_ID AND APP_ID=@POLICY_ID AND APP_VERSION_ID=@POLICY_VERSION_ID)
			BEGIN
  
				DECLARE @QUOTE_VERSION_ID smallint                       
				DECLARE @QUOTE_NUMBER nvarchar(75) 
				DECLARE @QUOTE_ID int
		
				SELECT @QUOTE_ID = ISNULL(MAX(QUOTE_ID),0) + 1 from QOT_CUSTOMER_QUOTE_LIST_POL    WITH(NOLOCK)        
				WHERE CUSTOMER_ID=@CUSTOMER_ID and  POLICY_ID=@POLICY_ID and POLICY_VERSION_ID=@POLICY_VERSION_ID ;                   
      
			                            
      
			    -- declare @QUOTE_NUMBER nvarchar(75)                          
				SELECT @QUOTE_NUMBER= 'Q-' + APP_NUMBER                     
				FROM POl_CUSTOMER_POLICY_LIST WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID  and POLICY_ID =@POLICY_ID and POLICY_VERSION_ID=@POLICY_VERSION_ID 
		 
				INSERT INTO [dbo].[QOT_CUSTOMER_QUOTE_LIST_POL](CUSTOMER_ID,QUOTE_ID,QUOTE_VERSION_ID,POLICY_ID,POLICY_VERSION_ID,                      
				QUOTE_TYPE,QUOTE_NUMBER,QUOTE_DESCRIPTION,IS_ACCEPTED,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,QUOTE_XML,QUOTE_INPUT_XML,      
				RATE_EFFECTIVE_DATE,BUSINESS_TYPE )
				SELECT @CUSTOMER_ID,@QUOTE_ID,1,@POLICY_ID,@POLICY_VERSION_ID,QUOTE_TYPE,@QUOTE_NUMBER,QUOTE_DESCRIPTION,IS_ACCEPTED,IS_ACTIVE,
				CREATED_BY,CREATED_DATETIME,QUOTE_XML,QUOTE_INPUT_XML,RATE_EFFECTIVE_DATE,BUSINESS_TYPE 
				FROM QOT_CUSTOMER_QUOTE_LIST WHERE CUSTOMER_ID=@CUSTOMER_ID AND APP_ID=@POLICY_ID AND APP_VERSION_ID=@POLICY_VERSION_ID
			END
		
			
		
		/*SELECT @QQ_ID = ISNULL(MAX(QQ_ID),0)+1 FROM CLT_QUICKQUOTE_LIST WITH(NOLOCK)
		
		INSERT INTO [dbo].[CLT_QUICKQUOTE_LIST]
       ([CUSTOMER_ID],[QQ_ID],[QQ_NUMBER],[QQ_TYPE],[QQ_XML],[QQ_APP_NUMBER],[IS_ACTIVE],[QQ_RATING_REPORT],[QQ_XML_TIME]
         ,[QQ_RATING_TIME],[QQ_STATE],[APP_ID],[APP_VERSION_ID])        
        SELECT CUSTOMER_ID, @QQ_ID, @QQ_NUMBER, NULL, NULL, APP_NUMBER, 'Y', NULL, NULL, NULL, NULL, POLICY_ID, POLICY_VERSION_ID
        FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID*/
        
        -- Maintain co-applicant details
        
  --       DECLARE @APPLICANT_ID INT 
		-- DECLARE @IS_PRIMARY_APPLICANT INT
		 
		-- SET @APPLICANT_ID=0              
		-- SET @IS_PRIMARY_APPLICANT=0          
              
		-- SELECT @APPLICANT_ID = APPLICANT_ID               
		-- FROM CLT_APPLICANT_LIST WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND IS_PRIMARY_APPLICANT = 1              
                
              
		--IF (@APPLICANT_ID > 0)              
		--BEGIN              
    
		-- SET @IS_PRIMARY_APPLICANT=1          
		--END         
        
        
  --         INSERT INTO POL_APPLICANT_LIST                                                                                 
		--	(                                                                                                            
		--		POLICY_ID,POLICY_VERSION_ID,CUSTOMER_ID, APPLICANT_ID,CREATED_DATETIME,IS_PRIMARY_APPLICANT                  
		--	)     
		--	VALUES                                                                                                           
		--	(@POLICY_ID,@POLICY_VERSION_ID,@CUSTOMER_ID,@APPLICANT_ID,GETDATE(),@IS_PRIMARY_APPLICANT)                  
      
        
        --Maintain renumeration tab for quick application
         SELECT @AGENCY_ID = CUSTOMER_AGENCY_ID FROM CLT_CUSTOMER_LIST WHERE CUSTOMER_ID=@CUSTOMER_ID
			IF (ISNULL(@AGENCY_ID,0) <> 0 )
				exec Proc_UpdateDefaultBroker @AGENCY_ID,@CUSTOMER_ID,@POLICY_ID,@POLICY_VERSION_ID,-1
        
	END
END
GO

