IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_DAILY_LOSS_SUMMARY_REPORT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_DAILY_LOSS_SUMMARY_REPORT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN
--DROP PROCEDURE [DBO].[PROC_DAILY_LOSS_SUMMARY_REPORT]
--GO
CREATE PROCEDURE [DBO].[PROC_DAILY_LOSS_SUMMARY_REPORT]
(
	@AS_ON_DATE DATETIME
)
AS
BEGIN
IF (@AS_ON_DATE IS NULL OR @AS_ON_DATE = '')
BEGIN SET @AS_ON_DATE = GETDATE() END

DECLARE @FIRST_DAY_OF_MONTH		DATETIME
SET @FIRST_DAY_OF_MONTH = CAST(CONVERT(VARCHAR,MONTH(@AS_ON_DATE)) + '/' + '01' + '/' + CONVERT(VARCHAR,YEAR(@AS_ON_DATE)) AS DATETIME)

DECLARE @OUTSTANDING_AMOUNT		DECIMAL(18,2)
DECLARE @PAID_TODAY				DECIMAL(18,2)
DECLARE @ISSUED_TODAY			DECIMAL(18,2)
DECLARE @PREVIOUS_DAY_BALANCE	DECIMAL(18,2)

SET @OUTSTANDING_AMOUNT = (SELECT ISNULL(SUM(ISNULL(CHECK_AMOUNT,0)),0)AS OUTSTANDING_AMOUNT FROM ACT_CHECK_INFORMATION
WHERE CHECK_TYPE = 9937 AND GL_UPDATE <> 2 AND ISNULL(IS_BNK_RECONCILED,'N') <> 'Y')

SET @PAID_TODAY = (SELECT ISNULL(SUM(ISNULL(CHECK_AMOUNT,0)),0) AS PAID_TODAY FROM ACT_CHECK_INFORMATION
WHERE CHECK_TYPE = 9937 AND GL_UPDATE <> 2 AND IS_BNK_RECONCILED = 'Y' 
AND DATEDIFF(DD,BANK_RECONCILED_DATE,@As_On_Date) = 0)

--SET @ISSUED_TODAY =(SELECT ISNULL(SUM(ISNULL(CHECK_AMOUNT,0)),0)AS ISSUED_TODAY FROM ACT_CHECK_INFORMATION
--WHERE CHECK_TYPE = 9937 AND GL_UPDATE <> 2 AND DATEDIFF(DD,DATE_COMMITTED,@As_On_Date) = 0)

SET @ISSUED_TODAY =(
						SELECT ISNULL(SUM(ISNULL(CHECK_AMOUNT,0)),0)AS ISSUED_TODAY FROM ACT_CHECK_INFORMATION
						WHERE CHECK_TYPE = 9937 AND DATEDIFF(DD,DATE_COMMITTED,@As_On_Date) = 0
				   ) - (
						SELECT SUM(CHK.CHECK_AMOUNT)  FROM ACT_CHECK_INFORMATION CHK 
						INNER JOIN ACT_ACCOUNTS_POSTING_DETAILS P 
						ON CHK.CHECK_ID = P.SOURCE_ROW_ID AND P.UPDATED_FROM = 'C' 
						AND P.ITEM_TRAN_CODE = 'VOID' AND P.ACCOUNT_ID = CHK.OFFSET_ACC_ID 
						WHERE CHK.CHECK_TYPE = 9937 AND DATEDIFF(DD,P.POSTING_DATE,@As_On_Date) = 0
					   )

CREATE TABLE #DRAFTS_DETAILS
(
	OUTSTANDING_AMOUNT		DECIMAL(18,2),
	PAID_TODAY				DECIMAL(18,2),
	ISSUED_TODAY			DECIMAL(18,2),
)

INSERT INTO #DRAFTS_DETAILS VALUES(@OUTSTANDING_AMOUNT,@PAID_TODAY,@ISSUED_TODAY)
SET @PREVIOUS_DAY_BALANCE = (SELECT (OUTSTANDING_AMOUNT+PAID_TODAY-ISSUED_TODAY)AS PREVIOUS_DAY_BALANCE FROM #DRAFTS_DETAILS)
--SELECT @ISSUED_TODAY	
;

WITH LOSS_SUMMARY AS
(
	SELECT CLM.CLAIM_ID, 
	(
		SELECT SUM(ISNULL(CR.OUTSTANDING,0))OUTSTANDING
		FROM CLM_ACTIVITY_RESERVE CR
		INNER JOIN CLM_ACTIVITY C
		ON C.CLAIM_ID = CR.CLAIM_ID AND CASE CR.ACTIVITY_ID WHEN 0 THEN 1 ELSE CR.ACTIVITY_ID END  = C.ACTIVITY_ID

		WHERE C.ACTIVITY_ID = 
					(
						SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY CA
						WHERE CA.CLAIM_ID=C.CLAIM_ID AND (CA.ACTIVITY_STATUS=11801 OR CA.ACTIVITY_STATUS=11986)    
						AND ACTION_ON_PAYMENT IN (165,166,167,168,205) AND CONVERT(VARCHAR,COMPLETED_DATE,101) < @FIRST_DAY_OF_MONTH
					)
		AND CONVERT(VARCHAR,COMPLETED_DATE,101) < @FIRST_DAY_OF_MONTH
	)PRIOR_MONTH_END_GROSS,

	(
		SELECT SUM(ISNULL(CR.OUTSTANDING,0))OUTSTANDING
		FROM CLM_ACTIVITY_RESERVE CR
		INNER JOIN CLM_ACTIVITY C
		ON C.CLAIM_ID = CR.CLAIM_ID AND CASE CR.ACTIVITY_ID WHEN 0 THEN 1 ELSE CR.ACTIVITY_ID END  = C.ACTIVITY_ID

		WHERE C.ACTIVITY_ID = 
					(
						SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY CA
						WHERE CA.CLAIM_ID=C.CLAIM_ID AND (CA.ACTIVITY_STATUS=11801 OR CA.ACTIVITY_STATUS=11986)    
						AND ACTION_ON_PAYMENT IN (165,166,167,168,205) 
						AND CONVERT(VARCHAR,COMPLETED_DATE,101) <= CONVERT(VARCHAR,DATEADD(D, -1, @AS_ON_DATE),101)
					)
	)PREVIOUS_DAY_GROSS,

	(
		SELECT SUM(ISNULL(CR.OUTSTANDING,0))OUTSTANDING
		FROM CLM_ACTIVITY_RESERVE CR
		INNER JOIN CLM_ACTIVITY C
		ON C.CLAIM_ID = CR.CLAIM_ID AND CASE CR.ACTIVITY_ID WHEN 0 THEN 1 ELSE CR.ACTIVITY_ID END  = C.ACTIVITY_ID

		WHERE C.ACTIVITY_ID = 
					(
						SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY CA
						WHERE CA.CLAIM_ID=C.CLAIM_ID AND (CA.ACTIVITY_STATUS=11801 OR CA.ACTIVITY_STATUS=11986)    
						AND ACTION_ON_PAYMENT IN (165,166,167,168,205) 
						
					)
		AND DATEDIFF(DD,COMPLETED_DATE, @AS_ON_DATE) >= 0
	)GROSS_CURRENT_RESERVE,

	(
		SELECT SUM(ISNULL(CR.RI_RESERVE,0))RI_RESERVE
		FROM CLM_ACTIVITY_RESERVE CR
		INNER JOIN CLM_ACTIVITY C
		ON C.CLAIM_ID = CR.CLAIM_ID AND CASE CR.ACTIVITY_ID WHEN 0 THEN 1 ELSE CR.ACTIVITY_ID END  = C.ACTIVITY_ID

		WHERE C.ACTIVITY_ID = 
					(
						SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY CA
						WHERE CA.CLAIM_ID=C.CLAIM_ID AND (CA.ACTIVITY_STATUS=11801 OR CA.ACTIVITY_STATUS=11986)    
						AND ACTION_ON_PAYMENT IN (165,166,167,168,205) 
						AND DATEDIFF(DD,COMPLETED_DATE, @AS_ON_DATE) = 0    
					)
	) REINSURANCE_RECOVERABLE,

	(
		SELECT SUM(ISNULL(CR.RI_RESERVE,0))RI_RESERVE
		FROM CLM_ACTIVITY_RESERVE CR
		INNER JOIN CLM_ACTIVITY C
		ON C.CLAIM_ID = CR.CLAIM_ID AND CASE CR.ACTIVITY_ID WHEN 0 THEN 1 ELSE CR.ACTIVITY_ID END  = C.ACTIVITY_ID

		WHERE C.ACTIVITY_ID = 
					(
						SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY CA
						WHERE CA.CLAIM_ID=C.CLAIM_ID AND (CA.ACTIVITY_STATUS=11801 OR CA.ACTIVITY_STATUS=11986)    
						AND ACTION_ON_PAYMENT IN (165,166,167,168,205) 
						AND CONVERT(VARCHAR,COMPLETED_DATE,101) < CONVERT(VARCHAR,@FIRST_DAY_OF_MONTH,101)
					)
	) PRIOR_MONTH_REINSURANCE_RECOVERABLE

	FROM CLM_ACTIVITY_RESERVE CLM
	WHERE CLM.COVERAGE_ID NOT IN (20007,20008,20009,20010,20011)
	GROUP BY CLM.CLAIM_ID
),

LOSS_PAYMENT AS
(
	SELECT CACT.CLAIM_ID,
	(
		SELECT SUM(CA.PAYMENT_AMOUNT)AS PAID_LOSSES
		FROM CLM_ACTIVITY CA
		WHERE ACTION_ON_PAYMENT IN( 180,181,240) and IS_ACTIVE = 'Y'
		AND DATEDIFF(DD,CA.COMPLETED_DATE,@FIRST_DAY_OF_MONTH)<= 0
		AND DATEDIFF(DD,CA.COMPLETED_DATE,@AS_ON_DATE)>=0
		--GROUP BY CLAIM_ID
	)AS PAID_LOSSES,

	(
		SELECT SUM(CA.PAYMENT_AMOUNT)AS SALVAGE_LESS_REINSURANCE
		FROM CLM_ACTIVITY CA
		WHERE ACTION_ON_PAYMENT IN( 176,244,245,189) and IS_ACTIVE = 'Y'
		AND DATEDIFF(DD,CA.COMPLETED_DATE,@FIRST_DAY_OF_MONTH)<= 0
		AND DATEDIFF(DD,CA.COMPLETED_DATE,@AS_ON_DATE)>=0
		--GROUP BY CLAIM_ID
	)AS SALVAGE_LESS_REINSURANCE,

	(
		SELECT SUM(CA.PAYMENT_AMOUNT)AS RECOVERY_LESS_REINSURANCE
		FROM CLM_ACTIVITY CA
		WHERE ACTION_ON_PAYMENT IN( 178,187,253) and IS_ACTIVE = 'Y'
		AND DATEDIFF(DD,CA.COMPLETED_DATE,@FIRST_DAY_OF_MONTH)<= 0
		AND DATEDIFF(DD,CA.COMPLETED_DATE,@AS_ON_DATE)>=0
		--GROUP BY CLAIM_ID
	)AS RECOVERY_LESS_REINSURANCE,

	(
		SELECT SUM(CA.PAYMENT_AMOUNT)AS REINSURANCE_RECOVERED
		FROM CLM_ACTIVITY CA 
		WHERE ACTION_ON_PAYMENT IN( 179,182,252) and IS_ACTIVE = 'Y'
		AND DATEDIFF(DD,CA.COMPLETED_DATE,@FIRST_DAY_OF_MONTH)<= 0
		AND DATEDIFF(DD,CA.COMPLETED_DATE,@AS_ON_DATE)>=0
		--GROUP BY CLAIM_ID
	)AS REINSURANCE_RECOVERED
	
	FROM CLM_ACTIVITY CACT
)


SELECT 
LS.PRIOR_MONTH_END_GROSS,LS.PREVIOUS_DAY_GROSS,(LS.GROSS_CURRENT_RESERVE - LS.PREVIOUS_DAY_GROSS)AS TODAY_CHANGE,
LS.GROSS_CURRENT_RESERVE,LS.REINSURANCE_RECOVERABLE,
(LS.GROSS_CURRENT_RESERVE- LS.REINSURANCE_RECOVERABLE) AS NET_CURRENT_RESERVE,
(LS.PRIOR_MONTH_END_GROSS - LS.PRIOR_MONTH_REINSURANCE_RECOVERABLE)AS PRIOR_MONTH_END_NET_RESERVE,
((LS.GROSS_CURRENT_RESERVE - LS.REINSURANCE_RECOVERABLE)-(LS.PRIOR_MONTH_END_GROSS - LS.PRIOR_MONTH_REINSURANCE_RECOVERABLE))
AS MONTH_TO_DATE_CHANGE,ISNULL(LP.PAID_LOSSES,0)AS PAID_LOSSES,ISNULL(LP.SALVAGE_LESS_REINSURANCE,0)AS SALVAGE_LESS_REINSURANCE,
ISNULL(LP.RECOVERY_LESS_REINSURANCE,0)AS RECOVERY_LESS_REINSURANCE,ISNULL(LP.REINSURANCE_RECOVERED,0)AS REINSURANCE_RECOVERED,
(ISNULL(LP.PAID_LOSSES,0) - ISNULL(LP.SALVAGE_LESS_REINSURANCE,0) - ISNULL(LP.RECOVERY_LESS_REINSURANCE,0)-ISNULL(LP.REINSURANCE_RECOVERED,0))AS NET_LOSSES,
@OUTSTANDING_AMOUNT AS OUTSTANDING_BALANCE, @PAID_TODAY AS PAID_TODAY,@ISSUED_TODAY AS ISSUED_TODAY,
@PREVIOUS_DAY_BALANCE AS PREVIOUS_DAY_BALANCE
FROM LOSS_SUMMARY LS
INNER JOIN LOSS_PAYMENT LP
ON LP.CLAIM_ID = LS.CLAIM_ID
GROUP BY LS.PRIOR_MONTH_END_GROSS,LS.PREVIOUS_DAY_GROSS,LS.GROSS_CURRENT_RESERVE,LS.REINSURANCE_RECOVERABLE,
LS.PRIOR_MONTH_REINSURANCE_RECOVERABLE,
PAID_LOSSES,SALVAGE_LESS_REINSURANCE,RECOVERY_LESS_REINSURANCE,REINSURANCE_RECOVERED
END

--GO
--EXEC PROC_DAILY_LOSS_SUMMARY_REPORT '11/9/2009'
--ROLLBACK TRAN










GO

