IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetAgencyInfo]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetAgencyInfo]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*    
-- DROP PROC dbo.Proc_GetAgencyInfo     
Modifyed By : Lalit Chauhan    
Modify Date : Nov 12,2010    
*/    
            
CREATE PROC [dbo].[Proc_GetAgencyInfo]           
@LANG_ID INT = 1 --Added by Charles on 24-May-2010 for Multilingual Support            
AS            
BEGIN                
        
--Added by Charles on 24-May-2010 for Multilingual Support        
DECLARE @ACTIVE_STR NVARCHAR(20),@IN_ACTIVE_STR NVARCHAR(20)  ,@CARRIER_CODE NVARCHAR(10)      
        
SELECT @ACTIVE_STR = ISNULL(MLM.LOOKUP_VALUE_DESC,MLV.LOOKUP_VALUE_DESC) FROM MNT_LOOKUP_VALUES MLV WITH(NOLOCK)        
LEFT OUTER JOIN MNT_LOOKUP_VALUES_MULTILINGUAL MLM WITH(NOLOCK) ON MLM.LOOKUP_UNIQUE_ID = MLV.LOOKUP_UNIQUE_ID AND MLM.LANG_ID = @LANG_ID        
WHERE MLV.LOOKUP_UNIQUE_ID = 8441 --ACTIVE        
        
SELECT @IN_ACTIVE_STR = ISNULL(MLM.LOOKUP_VALUE_DESC,MLV.LOOKUP_VALUE_DESC) FROM MNT_LOOKUP_VALUES MLV WITH(NOLOCK)        
LEFT OUTER JOIN MNT_LOOKUP_VALUES_MULTILINGUAL MLM WITH(NOLOCK) ON MLM.LOOKUP_UNIQUE_ID = MLV.LOOKUP_UNIQUE_ID AND MLM.LANG_ID = @LANG_ID        
WHERE MLV.LOOKUP_UNIQUE_ID = 9784 --INACTIVE        
--Added till here        
  
  
--By praveer panghal Itrack 471  
SELECT @CARRIER_CODE=ISNULL(REIN.REIN_COMAPANY_CODE,'') FROM MNT_SYSTEM_PARAMS SYSP WITH(NOLOCK)  
INNER JOIN MNT_REIN_COMAPANY_LIST REIN WITH(NOLOCK) ON REIN.REIN_COMAPANY_ID=SYSP.SYS_CARRIER_ID  
  
                
SELECT AGENCY_ID,ISNULL (AGENCY_CODE,'') AS AGENCY_CODE,  
(RTRIM(ISNULL (AGENCY_CODE,'')) +'-'+ cast(isnull(NUM_AGENCY_CODE,'') as varchar) +'-'+ ISNULL(AGENCY_DISPLAY_NAME,'')) AS AGENCY_DISPLAY_NAME,              
CASE IS_ACTIVE               
-- By Pravesh Itrack 5703              
 WHEN 'Y' THEN   ISNULL(AGENCY_DISPLAY_NAME,'') +'-'+ RTRIM(ISNULL (AGENCY_CODE,'')) +'-'+ cast(isnull(NUM_AGENCY_CODE,'') as varchar) + '- ('+@ACTIVE_STR+')'              
 WHEN 'N' THEN   ISNULL(AGENCY_DISPLAY_NAME,'') +'-'+ RTRIM(ISNULL (AGENCY_CODE,'')) +'-'+ cast(isnull(NUM_AGENCY_CODE,'') as varchar) + '- ('+@IN_ACTIVE_STR+')'              
END AS AGENCY_NAME_ACTIVE_STATUS, ISNULL(IS_ACTIVE,'N') AS IS_ACTIVE ,    
     MNT_AGENCY_LIST.AGENCY_TYPE_ID,AGENCY_TYPE_ID AS AGENCY_TYPE , 
     --itrack no 1373
      RTRIM(ISNULL (AGENCY_CODE,'')) +'-'+ ISNULL(AGENCY_DISPLAY_NAME,'') as DISPLAY_NAME,isnull(TERMINATION_DATE,'') as TERMINATION_DATE  
FROM MNT_AGENCY_LIST WITH(NOLOCK) WHERE AGENCY_CODE !=@CARRIER_CODE         
             
--ORDER BY AGENCY_DISPLAY_NAME ASC -- Commented for Itrack Issue 5703 on 28 April 09             
ORDER BY  AGENCY_NAME_ACTIVE_STATUS ASC                
                
END 

GO

