IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_MichiganExposureReport]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_MichiganExposureReport]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN
--DROP PROCEDURE [DBO].[PROC_MichiganExposureReport]
--GO
/*----------------------------------------------------------                
Proc Name       : Dbo.PROC_MichiganExposureReport
Created by      : Shikha 
Date            : 26-03-2009
Purpose         : Calculates and shows total exposures (in # of months) for each month for Auto and Motorcycle.      
------------------------------------------------------------                
Date     Review By          Comments                
------   ------------       -------------------------*/          
--DROP PROCEDURE [DBO].[PROC_MichiganExposureReport]
CREATE PROCEDURE [dbo].[PROC_MichiganExposureReport]
(
	@AsOnDate	DATETIME = NULL
)
AS
BEGIN

IF(@AsOnDate IS NULL) 
	SET @AsOnDate  = GETDATE()	

DECLARE @YEAR	VARCHAR(20)
DECLARE @MONTH	VARCHAR(20)
SET @YEAR = CAST(YEAR(@AsOnDate)AS VARCHAR(5))
SET @MONTH = CAST(MONTH(@AsOnDate)AS VARCHAR(5))

--*******************************--
--TEMPORARY TABLE CREATED TO GET THE CHANGES IN VEHICLE INFO FOR EVERY POLICY
--*******************************--
CREATE TABLE #TEMP
(
CUSTOMER_ID			INT,
POLICY_ID			INT,
POLICY_VERSION_ID	INT,
VEHICLE_ID			INT,
CHANGE				INT,
VERSION_FOR_RISK	INT
)
DECLARE CURCHANGE CURSOR
LOCAL FORWARD_ONLY STATIC
FOR SELECT PV.POLICY_ID,PV.POLICY_VERSION_ID,PV.CUSTOMER_ID,PV.VEHICLE_ID,PV.APP_USE_VEHICLE_ID,PV.APP_VEHICLE_PERTYPE_ID,
PV.APP_VEHICLE_COMTYPE_ID
FROM POL_VEHICLES PV
INNER JOIN POL_CUSTOMER_POLICY_LIST PCL
	ON PV.CUSTOMER_ID = PCL.CUSTOMER_ID 
	AND PV.POLICY_ID = PCL.POLICY_ID 
	AND PV.POLICY_VERSION_ID = PCL.POLICY_VERSION_ID
WHERE PCL.POLICY_LOB IN (2,3) AND PCL.STATE_ID = 22 --AND PV.customer_id=1710 and PV.policy_id=4
ORDER BY PV.CUSTOMER_ID, PV.POLICY_ID, PV.POLICY_VERSION_ID

DECLARE @POL_ID INT, @VER_ID INT, @CUST_ID INT, @VEH_ID INT,@APP_USE_VEHICLE_ID INT,@APP_VEHICLE_PERTYPE_ID INT,
@APP_VEHICLE_COMTYPE_ID int,@new_APP_USE_VEHICLE_ID INT,@new_APP_VEHICLE_PERTYPE_ID INT,@new_APP_VEHICLE_COMTYPE_ID int
,@VERSION_TO_USE Int, @VERSION_FOR_RISK INT
DECLARE @CHANGE INT		

OPEN CURCHANGE
FETCH NEXT FROM CURCHANGE INTO @POL_ID, @VER_ID, @CUST_ID, @VEH_ID,@APP_USE_VEHICLE_ID,@APP_VEHICLE_PERTYPE_ID,
@APP_VEHICLE_COMTYPE_ID

WHILE @@FETCH_STATUS = 0
BEGIN

	SET @CHANGE =null

	IF EXISTS (
				SELECT POLICY_VERSION_ID FROM POL_VEHICLES WHERE POLICY_VERSION_ID = @VER_ID + 1 
				AND CUSTOMER_ID = @CUST_ID AND POLICY_ID = @POL_ID --AND VEHICLE_ID=@VEH_ID
			  )
	BEGIN
		IF EXISTS (SELECT PV.VEHICLE_ID FROM POL_VEHICLES PV INNER JOIN POL_VEHICLE_COVERAGES CPS
						ON PV.CUSTOMER_ID = CPS.CUSTOMER_ID AND PV.POLICY_ID = CPS.POLICY_ID
						AND PV.POLICY_VERSION_ID = CPS.POLICY_VERSION_ID AND PV.VEHICLE_ID = CPS.VEHICLE_ID
						WHERE PV.CUSTOMER_ID  = @CUST_ID AND PV.POLICY_ID = @POL_ID AND PV.POLICY_VERSION_ID = @VER_ID
						AND PV.VEHICLE_ID = @VEH_ID AND PV.IS_ACTIVE = 'Y' AND CPS.COVERAGE_CODE_ID IN (113,114,208)
				  )
		AND NOT EXISTS (SELECT PV.VEHICLE_ID FROM POL_VEHICLES PV INNER JOIN POL_VEHICLE_COVERAGES CPS
						ON PV.CUSTOMER_ID = CPS.CUSTOMER_ID AND PV.POLICY_ID = CPS.POLICY_ID
						AND PV.POLICY_VERSION_ID = CPS.POLICY_VERSION_ID AND PV.VEHICLE_ID = CPS.VEHICLE_ID
						WHERE PV.CUSTOMER_ID  = @CUST_ID AND PV.POLICY_ID = @POL_ID AND PV.POLICY_VERSION_ID = @VER_ID+1 
						AND PV.VEHICLE_ID = @VEH_ID AND PV.IS_ACTIVE = 'Y' AND CPS.COVERAGE_CODE_ID IN (113,114,208)
						)

		BEGIN
			SET @CHANGE = 2		--FOR RECORD DELETED.
			SET @VERSION_TO_USE  = @VER_ID + 1 
			SET @VERSION_FOR_RISK = @VER_ID
			INSERT INTO #TEMP VALUES(@CUST_ID, @POL_ID, @VERSION_TO_USE , @VEH_ID, @CHANGE, @VERSION_FOR_RISK)
		END
		
	END
	IF EXISTS (
				SELECT POLICY_VERSION_ID FROM POL_VEHICLES WHERE POLICY_VERSION_ID = @VER_ID - 1 
				AND CUSTOMER_ID = @CUST_ID AND POLICY_ID = @POL_ID 
			  )
	BEGIN
		IF EXISTS(SELECT PV.VEHICLE_ID FROM POL_VEHICLES PV INNER JOIN POL_VEHICLE_COVERAGES CPS
						ON PV.CUSTOMER_ID = CPS.CUSTOMER_ID AND PV.POLICY_ID = CPS.POLICY_ID
						AND PV.POLICY_VERSION_ID = CPS.POLICY_VERSION_ID AND PV.VEHICLE_ID = CPS.VEHICLE_ID
						WHERE PV.CUSTOMER_ID  = @CUST_ID AND PV.POLICY_ID = @POL_ID AND PV.POLICY_VERSION_ID = @VER_ID 
						AND PV.VEHICLE_ID = @VEH_ID AND PV.IS_ACTIVE = 'Y' AND CPS.COVERAGE_CODE_ID IN (113,114,208)
					 )
			AND NOT EXISTS (SELECT PV.VEHICLE_ID FROM POL_VEHICLES PV INNER JOIN POL_VEHICLE_COVERAGES CPS
							ON PV.CUSTOMER_ID = CPS.CUSTOMER_ID AND PV.POLICY_ID = CPS.POLICY_ID
							AND PV.POLICY_VERSION_ID = CPS.POLICY_VERSION_ID AND PV.VEHICLE_ID = CPS.VEHICLE_ID
							WHERE PV.CUSTOMER_ID  = @CUST_ID AND PV.POLICY_ID = @POL_ID AND PV.POLICY_VERSION_ID = @VER_ID -1
							AND PV.VEHICLE_ID = @VEH_ID AND PV.IS_ACTIVE = 'Y' AND CPS.COVERAGE_CODE_ID IN (113,114,208)
							)
		BEGIN
			SET @CHANGE = 3		--For vehicle has been added.
			SET @VERSION_TO_USE  = @VER_ID 
			SET @VERSION_FOR_RISK = @VER_ID 
			INSERT INTO #TEMP VALUES(@CUST_ID, @POL_ID, @VERSION_TO_USE , @VEH_ID, @CHANGE, @VERSION_FOR_RISK)
		END
	END
	
	/*IF ( ISNULL(@CHANGE,0) <> 0 ) 
	BEGIN 
		INSERT INTO #TEMP VALUES(@CUST_ID, @POL_ID, @VERSION_TO_USE , @VEH_ID, @CHANGE, @VERSION_FOR_RISK)
	END*/

	FETCH NEXT FROM CURCHANGE INTO @POL_ID, @VER_ID, @CUST_ID, @VEH_ID,@APP_USE_VEHICLE_ID,@APP_VEHICLE_PERTYPE_ID,
	@APP_VEHICLE_COMTYPE_ID

	
END
--*******************************--
CREATE TABLE #VEHICLE_DETAILS
(
	LOOKUP_UNIQUE_ID	INT,
	LOOKUP_VALUE_DESC	VARCHAR(70)
)
-- 'Service Trailer' was asked to change to 'Commercial Auto' as they are commercial vehicles.
INSERT INTO #VEHICLE_DETAILS VALUES (11334,'Private Passenger Auto')
INSERT INTO #VEHICLE_DETAILS VALUES (11335,'Private Passenger Auto')
INSERT INTO #VEHICLE_DETAILS VALUES (11336,'Motor Homes')

--SELECT * FROM #VEHICLE_DETAILS
--*******************************--
CREATE TABLE #FINAL_RECOUD_SET 
(
	CLASS	Varchar(100), 
	EFF_MONTH	Int , 
	EFF_YEAR	Int,
	EXPOSURE	Int,
	JAN_EXPOSURE	AS CASE EFF_MONTH WHEN 1 THEN EXPOSURE ELSE 0 END,
	FEB_EXPOSURE	AS CASE EFF_MONTH WHEN 2 THEN EXPOSURE ELSE 0 END,
	MARCH_EXPOSURE	AS CASE EFF_MONTH WHEN 3 THEN EXPOSURE ELSE 0 END,
	APRIL_EXPOSURE	AS CASE EFF_MONTH WHEN 4 THEN EXPOSURE ELSE 0 END,
	MAY_EXPOSURE	AS CASE EFF_MONTH WHEN 5 THEN EXPOSURE ELSE 0 END,
	JUNE_EXPOSURE	AS CASE EFF_MONTH WHEN 6 THEN EXPOSURE ELSE 0 END,
	JULY_EXPOSURE	AS CASE EFF_MONTH WHEN 7 THEN EXPOSURE ELSE 0 END,
	AUG_EXPOSURE	AS CASE EFF_MONTH WHEN 8 THEN EXPOSURE ELSE 0 END,
	SEP_EXPOSURE	AS CASE EFF_MONTH WHEN 9 THEN EXPOSURE ELSE 0 END,
	OCT_EXPOSURE	AS CASE EFF_MONTH WHEN 10 THEN EXPOSURE ELSE 0 END,
	NOV_EXPOSURE	AS CASE EFF_MONTH WHEN 11 THEN EXPOSURE ELSE 0 END,
	DEC_EXPOSURE	AS CASE EFF_MONTH WHEN 12 THEN EXPOSURE ELSE 0 END
)

INSERT INTO #FINAL_RECOUD_SET  (CLASS ,EFF_MONTH,EFF_YEAR, EXPOSURE ) 

SELECT VEHICLE_TYPE, EFF_MONTH AS EXPOSURE_MONTH, EFF_YEAR AS EXPOSURE_YEAR, 
ISNULL(SUM(TERM_COUNT),0)AS EXPOSURE
FROM
(
	SELECT VD.LOOKUP_VALUE_DESC AS VEHICLE_TYPE,APP_USE_VEHICLE_ID AS VEHICLE_USE,--PCL.POLICY_NUMBER,
	PV.APP_VEHICLE_PERTYPE_ID,
	CASE WHEN PPP.EFFECTIVE_DATETIME < PPP.COMPLETED_DATETIME THEN MONTH(PPP.COMPLETED_DATETIME)
	ELSE MONTH(PPP.EFFECTIVE_DATETIME) END AS EFF_MONTH,
	CASE WHEN PPP.EFFECTIVE_DATETIME < PPP.COMPLETED_DATETIME THEN YEAR(PPP.COMPLETED_DATETIME)
	ELSE YEAR(PPP.EFFECTIVE_DATETIME) END AS EFF_YEAR,
	CASE WHEN PPP.PROCESS_ID IN (18,25,32) THEN PCL.APP_TERMS		--FOR RENEW,NBS AND REWRITE
	WHEN PPP.PROCESS_ID IN(12,29)THEN	-- POLICY CANCELLED.
	DATEDIFF(MONTH,PPP.EFFECTIVE_DATETIME,PCL.APP_EXPIRATION_DATE)*(-1)
	WHEN PPP.PROCESS_ID = 16 THEN		--REINSTATEMENT
	DATEDIFF(MONTH,PPP.EFFECTIVE_DATETIME,PCL.APP_EXPIRATION_DATE)
	END AS TERM_COUNT
	FROM POL_VEHICLES PV
	INNER JOIN POL_POLICY_PROCESS PPP
		ON PPP.POLICY_ID = PV.POLICY_ID
		AND PPP.CUSTOMER_ID = PV.CUSTOMER_ID
		AND PPP.NEW_POLICY_VERSION_ID = PV.POLICY_VERSION_ID
	INNER JOIN POL_CUSTOMER_POLICY_LIST PCL
		ON PCL.CUSTOMER_ID = PPP.CUSTOMER_ID 
		AND PCL.POLICY_ID = PPP.POLICY_ID 
		AND PCL.POLICY_VERSION_ID = PPP.NEW_POLICY_VERSION_ID
	INNER JOIN #VEHICLE_DETAILS VD
		ON VD.LOOKUP_UNIQUE_ID = CASE WHEN PCL.POLICY_LOB = 2 THEN
									CASE WHEN PV.APP_VEHICLE_PERTYPE_ID IS NULL
									THEN CASE WHEN PV.APP_VEHICLE_COMTYPE_ID IS NULL THEN PV.MOTORCYCLE_TYPE ELSE PV.APP_VEHICLE_COMTYPE_ID END
									WHEN PV.APP_VEHICLE_PERTYPE_ID = '0' 
									THEN CASE WHEN PV.APP_VEHICLE_COMTYPE_ID IS NULL THEN PV.MOTORCYCLE_TYPE ELSE PV.APP_VEHICLE_COMTYPE_ID END
									ELSE PV.APP_VEHICLE_PERTYPE_ID
									END
									WHEN PCL.POLICY_LOB = 3 THEN
									CASE WHEN PV.VEHICLE_CC > 50 THEN 114310 
									ELSE 114309
									END
								END
--		ON MLV.LOOKUP_UNIQUE_ID = PV.APP_VEHICLE_PERTYPE_ID
--	INNER JOIN POL_VEHICLE_COVERAGES CPS
--		ON PV.CUSTOMER_ID = CPS.CUSTOMER_ID AND PV.POLICY_ID = CPS.POLICY_ID
--		AND PV.POLICY_VERSION_ID = CPS.POLICY_VERSION_ID AND PV.VEHICLE_ID = CPS.VEHICLE_ID
	WHERE PPP.PROCESS_ID IN (12,16,18,25,32) AND PPP.PROCESS_STATUS = 'COMPLETE' AND PCL.POLICY_LOB IN (2,3)
	AND ISNULL(PPP.REVERT_BACK,'N') <> 'Y' AND PCL.STATE_ID = 22 --AND CPS.COVERAGE_CODE_ID IN (113,114,208)
	AND EXISTS (SELECT CPS.CUSTOMER_ID FROM POL_VEHICLE_COVERAGES CPS 
	WHERE PV.CUSTOMER_ID = CPS.CUSTOMER_ID AND PV.POLICY_ID = CPS.POLICY_ID
	AND PV.POLICY_VERSION_ID = CPS.POLICY_VERSION_ID AND PV.VEHICLE_ID = CPS.VEHICLE_ID
	AND CPS.COVERAGE_CODE_ID IN (113,114,208))
	--AND PPP.EFFECTIVE_DATETIME <= @AsOnDate	--Added by shikha.
	AND DATEDIFF(DD,PPP.EFFECTIVE_DATETIME,@AsOnDate) >= 0	--Changed by Shikha.
	--Shikha (20/8/09) for #6264.
	--AND (PCL.POLICY_LOB = 2 OR PCL.POLICY_LOB = 3)AND PV.VEHICLE_CC > 50) commented for #6264
	AND PCL.POLICY_LOB IN (2,3)
	--and pcl.policy_number = 'A7001541'

	--************--
	UNION ALL
	--************--


	--SELECT * FROM #TEMP where change is not null
	--drop table #temp

	SELECT VD.LOOKUP_VALUE_DESC AS VEHICLE_TYPE,APP_USE_VEHICLE_ID AS VEHICLE_USE,--PCL.POLICY_NUMBER,
	PV.APP_VEHICLE_PERTYPE_ID,
	CASE WHEN PPP.EFFECTIVE_DATETIME < PPP.COMPLETED_DATETIME THEN MONTH(PPP.COMPLETED_DATETIME)
	ELSE MONTH(PPP.EFFECTIVE_DATETIME) END AS EFF_MONTH,
	CASE WHEN PPP.EFFECTIVE_DATETIME < PPP.COMPLETED_DATETIME THEN YEAR(PPP.COMPLETED_DATETIME)
	ELSE YEAR(PPP.EFFECTIVE_DATETIME) END AS EFF_YEAR,

	CASE WHEN PPP.PROCESS_ID = 14 THEN		--ENDORSE
	--				CASE WHEN @TEMP_CHANGE = 2 THEN 
	CASE WHEN T.CHANGE = 3 THEN		-- If the vehicle has been added.
	DATEDIFF(MONTH,PPP.EFFECTIVE_DATETIME,PCL.APP_EXPIRATION_DATE)
	--				WHEN @TEMP_CHANGE = 3 THEN 
	WHEN T.CHANGE = 2 THEN		--If the vehicle has been deleted.
	DATEDIFF(MONTH,PPP.EFFECTIVE_DATETIME,PCL.APP_EXPIRATION_DATE)*(-1)
	ELSE 0
	END
	END AS TERM_COUNT
		FROM #TEMP T  
	INNER JOIN POL_VEHICLES PV
		ON T.CUSTOMER_ID=PV.CUSTOMER_ID AND T.POLICY_ID=PV.POLICY_ID 
		AND T.VERSION_FOR_RISK = PV.POLICY_VERSION_ID AND T.VEHICLE_ID = PV.VEHICLE_ID
	INNER JOIN POL_POLICY_PROCESS PPP
		ON PPP.POLICY_ID = T.POLICY_ID
		AND PPP.CUSTOMER_ID = T.CUSTOMER_ID
		AND PPP.NEW_POLICY_VERSION_ID = T.POLICY_VERSION_ID
	INNER JOIN POL_CUSTOMER_POLICY_LIST PCL
		ON PCL.CUSTOMER_ID = T.CUSTOMER_ID 
		AND PCL.POLICY_ID = T.POLICY_ID 
		AND PCL.POLICY_VERSION_ID = T.POLICY_VERSION_ID
	INNER JOIN #VEHICLE_DETAILS VD
		ON VD.LOOKUP_UNIQUE_ID = CASE WHEN PCL.POLICY_LOB = 2 THEN
									CASE WHEN PV.APP_VEHICLE_PERTYPE_ID IS NULL
									THEN CASE WHEN PV.APP_VEHICLE_COMTYPE_ID IS NULL THEN PV.MOTORCYCLE_TYPE ELSE PV.APP_VEHICLE_COMTYPE_ID END
									WHEN PV.APP_VEHICLE_PERTYPE_ID = '0' 
									THEN CASE WHEN PV.APP_VEHICLE_COMTYPE_ID IS NULL THEN PV.MOTORCYCLE_TYPE ELSE PV.APP_VEHICLE_COMTYPE_ID END
									ELSE PV.APP_VEHICLE_PERTYPE_ID
									END
									WHEN PCL.POLICY_LOB = 3 THEN
									CASE WHEN PV.VEHICLE_CC > 50 THEN 114310 
									ELSE 114309
									END
								END
	WHERE PPP.PROCESS_ID = 14 AND PPP.PROCESS_STATUS = 'COMPLETE'
	AND ISNULL(PPP.REVERT_BACK,'N') <> 'Y'  
	--AND PPP.EFFECTIVE_DATETIME <= @AsOnDate	--Added by shikha.
	AND DATEDIFF(DD,PPP.EFFECTIVE_DATETIME,@AsOnDate) >= 0	--Changed by Shikha.
	--Shikha (20/8/09) for #6264.
	--AND (PCL.POLICY_LOB = 2 OR PCL.POLICY_LOB = 3)AND PV.VEHICLE_CC > 50) commented for #6264
	AND PCL.POLICY_LOB IN (2,3)
	--and pcl.policy_number = 'A7001541'
	) COUNT_TBL
WHERE EFF_YEAR = @YEAR AND EFF_MONTH <= @MONTH		--Added constraint for month.
GROUP BY VEHICLE_TYPE, VEHICLE_USE,EFF_MONTH, EFF_YEAR
ORDER BY EFF_MONTH, EFF_YEAR
drop table #temp


SELECT CLASS , SUM(JAN_EXPOSURE) AS JAN_EXPOSURE ,
SUM(FEB_EXPOSURE)  AS FEB_EXPOSURE ,
SUM(MARCH_EXPOSURE) AS MARCH_EXPOSURE,
SUM(APRIL_EXPOSURE) AS APRIL_EXPOSURE,
SUM(MAY_EXPOSURE)	AS MAY_EXPOSURE,
SUM(JUNE_EXPOSURE) AS JUNE_EXPOSURE,
SUM(JULY_EXPOSURE) AS JULY_EXPOSURE, 
SUM(AUG_EXPOSURE) AS AUG_EXPOSURE,
SUM(SEP_EXPOSURE) AS SEP_EXPOSURE,
SUM(OCT_EXPOSURE) AS OCT_EXPOSURE,
SUM(NOV_EXPOSURE) AS NOV_EXPOSURE,
SUM(DEC_EXPOSURE) AS DEC_EXPOSURE
FROM #FINAL_RECOUD_SET 
GROUP BY  CLASS

--SELECT * FROM POL_VEHICLES 
--SELECT * FROM  POL_CUSTOMER_POLICY_LIST
END
--GO 
--EXEC PROC_MichiganExposureReport '10/11/2009'
--ROLLBACK TRAN

















GO

