IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TESTPARAM]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[TESTPARAM]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROC dbo.TESTPARAM

(
	@ID int,
	@TERMS NVARCHAR(5)
	
)

AS

Select APP_STATUS,APP_NUMBER,APP_TERMS  From APP_LIST WHERE APP_ID = @ID and APP_TERMS=@TERMS


GO

