IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetRollbackPol_UnderNonPayCancelation]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetRollbackPol_UnderNonPayCancelation]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------                  
Proc Name       :  dbo.Proc_GetRollbackPol_UnderNonPayCancelation  
Created by      :  Lalit Kr Chauhan
Date            :  March 23,2011
Purpose         :  Rollback non-pay cancellation through EOD
					when policy get any payment 
Revison History :                  
Used In         :  Ebix-Advantage Web
                  
exec Proc_RollbackPolicy_UnderNonPayCancelation  
------------------------------------------------------------                  
Date     Review By          Comments                  
------   ------------       -------------------------*/                  
-- drop proc dbo.Proc_GetRollbackPol_UnderNonPayCancelation  
CREATE PROC [dbo].[Proc_GetRollbackPol_UnderNonPayCancelation]
AS  
BEGIN   
DECLARE @CANCELLATION_PROCESS_ID  Int,  
 @NON_PAY    Int,  
 @INSURED_REQUEST  Int,  
 @EOD_DATE DateTime  
  
  
SET @EOD_DATE = DATEADD(DD,1,GETDATE())  
SET @CANCELLATION_PROCESS_ID    = 2  
SET @NON_PAY    = 11969  
SET @INSURED_REQUEST =  11989  


CREATE TABLE #TMP_POLICIES_TO_ROLLBACK  
( IDEN_COL  Int Identity(1,1) not null,  
 CUSTOMER_ID   Int,  
 POLICY_ID  Int,  
 POLICY_VERSION_ID Int,  
 CANCELLATION_TYPE Int,
 BILL_TYPE  Char(2),  
 EFFECTIVE_DATE  Datetime,  
 DUE_DATE   DateTime,  
 UNDER_PAYMENT_ALLOWED Decimal(18,2),
 CURRENT_TERM  Int,  
 PROCESS_ROW_ID  Int,  
 CANCELLATION_NOTICE_SENT Char(1), 
 LAUNCH_DATE  Datetime,  
 LOB_ID   Int  
)  

CREATE TABLE #POLICIES_TO_ROLLBACK  
( IDEN_COL  Int Identity(1,1) not null,  
 CUSTOMER_ID   Int,  
 POLICY_ID  Int,  
 POLICY_VERSION_ID Int,  
 CURRENT_TERM  Int,  
 BILL_TYPE  Char(2),  
 CANCELLATION_TYPE Int,  
 PROCESS_ROW_ID  Int,  
 EFFECTIVE_DATE  Datetime,  
 DUE_DATE   DateTime,  
 LAUNCH_DATE  Datetime,  
 CANCELLATION_NOTICE_SENT Char(1),  
 UNDER_PAYMENT_ALLOWED Decimal(18,2),  
 LOB_ID   Int  
)  
  

-- Fetch policies for which cancellation notice has been send   
INSERT INTO #TMP_POLICIES_TO_ROLLBACK ( CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ,CANCELLATION_TYPE ,  
   BILL_TYPE , EFFECTIVE_DATE , DUE_DATE , UNDER_PAYMENT_ALLOWED , CURRENT_TERM ,PROCESS_ROW_ID,  
   CANCELLATION_NOTICE_SENT , LAUNCH_DATE , LOB_ID )  
SELECT PPP.CUSTOMER_ID , PPP.POLICY_ID , PPP.POLICY_VERSION_ID  , PPP.CANCELLATION_TYPE ,  
 CPL.BILL_TYPE , PPP.EFFECTIVE_DATETIME, PPP.DUE_DATE , INS.AMTUNDER_PAYMENT , CPL.CURRENT_TERM ,PPP.ROW_ID,  
 ISNULL(PPP.CANCELLATION_NOTICE_SENT,'N'), PPP.CREATED_DATETIME , CPL.POLICY_LOB   
FROM POL_POLICY_PROCESS PPP WITH(NOLOCK)  
INNER JOIN POL_CUSTOMER_POLICY_LIST CPL WITH(NOLOCK)  
 ON PPP.CUSTOMER_ID = CPL.CUSTOMER_ID   
 AND PPP.POLICY_ID = CPL.POLICY_ID   
 AND PPP.NEW_POLICY_VERSION_ID = CPL.POLICY_VERSION_ID   
INNER JOIN ACT_INSTALL_PLAN_DETAIL INS  WITH(NOLOCK)  
ON INS.IDEN_PLAN_ID = CPL.INSTALL_PLAN_ID   
WHERE PPP.PROCESS_ID  = @CANCELLATION_PROCESS_ID
AND   PPP.PROCESS_STATUS = 'PENDING'  
  AND  PPP.CANCELLATION_TYPE = @NON_PAY
ORDER BY PPP.CUSTOMER_ID , PPP.POLICY_ID , PPP.POLICY_VERSION_ID  



DECLARE @IDEN_COL Int ,  
 @CUSTOMER_ID Int,  
 @POLICY_ID Int,  
 @POLICY_VERSION_ID Int,  
 @BILL_TYPE  Char(2),    
 @CANCELLATION_TYPE Int ,  
 @UNDER_PAYMENT_ALLOWED Decimal(18,2),  
 @ROLLBACK_THIS  Bit,  
 @CURRENT_TERM Int,  
 @PROCESS_ROW_ID  Int,  
 @DUE_DATE Datetime,  
 @LAUNCH_DATE Datetime,  
 @TOTAL_DUE Decimal(18,2),  
 @TOTAL_PAID     Decimal(18,2)  

SET @IDEN_COL = 1  
WHILE 1=1   
BEGIN   
 IF NOT EXISTS (SELECT IDEN_COL FROM #TMP_POLICIES_TO_ROLLBACK WHERE IDEN_COL = @IDEN_COL )  
 BEGIN   
  BREAK  
 END
 SET  @CUSTOMER_ID = 0  
 SET  @POLICY_ID = 0   
 SET  @POLICY_VERSION_ID  = 0   
 SET  @CANCELLATION_TYPE = 0   
 SET  @UNDER_PAYMENT_ALLOWED  = 0   
 SET  @BILL_TYPE =  ''  
 SET  @ROLLBACK_THIS  = 0   
 SET  @CURRENT_TERM  = 0   
 SET  @PROCESS_ROW_ID = 0   
 SET  @TOTAL_DUE  = 0  
 SET  @TOTAL_PAID = 0   
 
 
  SELECT  @CUSTOMER_ID  = CUSTOMER_ID ,  
  @POLICY_ID = POLICY_ID ,  
  @POLICY_VERSION_ID = POLICY_VERSION_ID ,  
  @CURRENT_TERM = CURRENT_TERM,  
  @BILL_TYPE =  BILL_TYPE,  
  @CANCELLATION_TYPE = CANCELLATION_TYPE ,  
  @UNDER_PAYMENT_ALLOWED  = ISNULL(UNDER_PAYMENT_ALLOWED,0) ,  
  @PROCESS_ROW_ID   = PROCESS_ROW_ID ,  
  @DUE_DATE  = DUE_DATE,  
  @LAUNCH_DATE = EFFECTIVE_DATE  
 FROM  #TMP_POLICIES_TO_ROLLBACK   
 WHERE IDEN_COL = @IDEN_COL  

		
	IF EXISTS(SELECT OI.IDEN_ROW_ID FROM ACT_CUSTOMER_OPEN_ITEMS OI  WITH(NOLOCK)
   WHERE OI.CUSTOMER_ID = @CUSTOMER_ID   
   AND   OI.POLICY_ID = @POLICY_ID   
   AND   OI.POLICY_VERSION_ID IN 
   (SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL   WITH(NOLOCK)
      WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID   
      AND  CPL.POLICY_ID = @POLICY_ID   
      AND  CPL.CURRENT_TERM = @CURRENT_TERM)  
    AND UPDATED_FROM = 'D'  
   AND DATEDIFF(ss,@LAUNCH_DATE,POSTING_DATE) > 0  
   )  
  BEGIN   
   SET @ROLLBACK_THIS = 1  
  END  
		
IF ( @ROLLBACK_THIS = 1)  
 BEGIN   
  INSERT INTO #POLICIES_TO_ROLLBACK(CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ,CANCELLATION_TYPE ,  
   BILL_TYPE , EFFECTIVE_DATE , DUE_DATE , UNDER_PAYMENT_ALLOWED , CURRENT_TERM , PROCESS_ROW_ID ,  
   CANCELLATION_NOTICE_SENT , LOB_ID )  
  SELECT CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ,CANCELLATION_TYPE ,  
   BILL_TYPE , EFFECTIVE_DATE , DUE_DATE , UNDER_PAYMENT_ALLOWED , CURRENT_TERM  ,PROCESS_ROW_ID ,  
   CANCELLATION_NOTICE_SENT , LOB_ID   
  FROM  #TMP_POLICIES_TO_ROLLBACK   
  WHERE IDEN_COL = @IDEN_COL  
 END 	
 
 
  SET @IDEN_COL =  @IDEN_COL + 1   
END


SELECT CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ,CANCELLATION_TYPE ,  
 BILL_TYPE , EFFECTIVE_DATE , DUE_DATE , UNDER_PAYMENT_ALLOWED , CURRENT_TERM , PROCESS_ROW_ID  , LOB_ID   
FROM #POLICIES_TO_ROLLBACK  

DROP TABLE #POLICIES_TO_ROLLBACK
DROP TABLE #TMP_POLICIES_TO_ROLLBACK

END





GO

