IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_FETCHCLAIMPRIORLOSSDETAIL]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_FETCHCLAIMPRIORLOSSDETAIL]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*----------------------------------------------------------                                                                                      
Proc Name           : Dbo.PROC_FETCHCLAIMPRIORLOSSDETAIL
Created by          : Neeraj singh                                                                                     
Date                : 09/08/2009                                                                                      
Purpose             : To get the information for creating Report of more than one (prior loss or paid claim)
Revison History     :                                                                                      
Used In             : Wolverine                                                                                      
------------------------------------------------------------                                                                                      
Date     Review By          Comments          
------   ------------       -------------------------*/ 
--drop proc  PROC_FETCHCLAIMPRIORLOSSDETAIL
CREATE PROC [dbo].[PROC_FETCHCLAIMPRIORLOSSDETAIL] 
( 
	@STARTDATE	DATETIME = NULL,
	@ENDDATE	DATETIME = NULL,
	@AGENCYCODE	NVARCHAR(100)= NULL,
	@LOBID NVARCHAR(50)= NULL,
	@CLAIMENTID NVARCHAR(50)= NULL
	--@SORTBY NVARCHAR(50)=NULL
)
AS
BEGIN

DECLARE		@VIOLATION_NUM_YEAR  INT    
DECLARE		@VIOLATION_NUM_YEAR_REFER  INT    
SET			@VIOLATION_NUM_YEAR=2    
SET			@VIOLATION_NUM_YEAR_REFER=3   
DECLARE		@EXPERTSERVICEPROVIDER INT
DECLARE		@ADJUSTER INT
SET			@EXPERTSERVICEPROVIDER=11
SET			@ADJUSTER=12
-- Prior Loss
-- CREATE TEMP TABLE TO COLLECT CUSTOMER ID HAVING MORE THAN 1 LOSSESS 
CREATE TABLE #TEMP_PRIORLOSS
(
 [IDEN_ID] INT IDENTITY(1,1) NOT NULL,                    
 [CLAIMANT] INT,
 --[LOSS_ID] SMALLINT,
 [LOBID] NVARCHAR(5)
)
 IF(@STARTDATE IS NOT NULL AND @ENDDATE IS NOT NULL)
	BEGIN
		INSERT INTO #TEMP_PRIORLOSS 
		SELECT  CUSTOMER_ID,LOB
		FROM APP_PRIOR_LOSS_INFO WHERE  OCCURENCE_DATE BETWEEN @STARTDATE AND @ENDDATE --GROUP BY CUSTOMER_ID,LOB HAVING COUNT(CUSTOMER_ID)>1
	END
 ELSE IF(@AGENCYCODE IS NOT NULL)
	BEGIN
		INSERT INTO #TEMP_PRIORLOSS 
		SELECT  APP_PRIOR_LOSS_INFO.CUSTOMER_ID,APP_PRIOR_LOSS_INFO.LOB
		FROM APP_PRIOR_LOSS_INFO INNER JOIN 
			CLT_CUSTOMER_LIST ON
			APP_PRIOR_LOSS_INFO.CUSTOMER_ID=CLT_CUSTOMER_LIST.CUSTOMER_ID
			INNER JOIN MNT_AGENCY_LIST ON MNT_AGENCY_LIST.AGENCY_ID = CLT_CUSTOMER_LIST.CUSTOMER_AGENCY_ID 
			WHERE AGENCY_CODE=@AGENCYCODE AND OCCURENCE_DATE BETWEEN ISNULL(@STARTDATE,GETDATE()-3*365) AND ISNULL(@ENDDATE,GETDATE()) --GROUP BY APP_PRIOR_LOSS_INFO.CUSTOMER_ID,APP_PRIOR_LOSS_INFO.LOB HAVING COUNT(APP_PRIOR_LOSS_INFO.CUSTOMER_ID)>1
	END
 ELSE IF(@LOBID IS NOT NULL)
	BEGIN
	
		INSERT INTO #TEMP_PRIORLOSS 
		SELECT  APP_PRIOR_LOSS_INFO.CUSTOMER_ID,APP_PRIOR_LOSS_INFO.LOB
		FROM APP_PRIOR_LOSS_INFO WHERE APP_PRIOR_LOSS_INFO.LOB = DBO.PIECE(@LOBID,',',1) --GROUP BY APP_PRIOR_LOSS_INFO.CUSTOMER_ID,APP_PRIOR_LOSS_INFO.LOB HAVING COUNT(APP_PRIOR_LOSS_INFO.CUSTOMER_ID)>1

		INSERT INTO #TEMP_PRIORLOSS 
		SELECT  APP_PRIOR_LOSS_INFO.CUSTOMER_ID,APP_PRIOR_LOSS_INFO.LOB
		FROM APP_PRIOR_LOSS_INFO WHERE APP_PRIOR_LOSS_INFO.LOB = DBO.PIECE(@LOBID,',',2) --GROUP BY APP_PRIOR_LOSS_INFO.CUSTOMER_ID,APP_PRIOR_LOSS_INFO.LOB HAVING COUNT(APP_PRIOR_LOSS_INFO.CUSTOMER_ID)>1
	
		INSERT INTO #TEMP_PRIORLOSS 
		SELECT  APP_PRIOR_LOSS_INFO.CUSTOMER_ID,APP_PRIOR_LOSS_INFO.LOB
		FROM APP_PRIOR_LOSS_INFO WHERE APP_PRIOR_LOSS_INFO.LOB = DBO.PIECE(@LOBID,',',3) --GROUP BY APP_PRIOR_LOSS_INFO.CUSTOMER_ID,APP_PRIOR_LOSS_INFO.LOB HAVING COUNT(APP_PRIOR_LOSS_INFO.CUSTOMER_ID)>1
	
		INSERT INTO #TEMP_PRIORLOSS 
		SELECT  APP_PRIOR_LOSS_INFO.CUSTOMER_ID,APP_PRIOR_LOSS_INFO.LOB
		FROM APP_PRIOR_LOSS_INFO WHERE APP_PRIOR_LOSS_INFO.LOB = DBO.PIECE(@LOBID,',',4) --GROUP BY APP_PRIOR_LOSS_INFO.CUSTOMER_ID,APP_PRIOR_LOSS_INFO.LOB HAVING COUNT(APP_PRIOR_LOSS_INFO.CUSTOMER_ID)>1
	
		INSERT INTO #TEMP_PRIORLOSS 
		SELECT  APP_PRIOR_LOSS_INFO.CUSTOMER_ID,APP_PRIOR_LOSS_INFO.LOB
		FROM APP_PRIOR_LOSS_INFO WHERE APP_PRIOR_LOSS_INFO.LOB = DBO.PIECE(@LOBID,',',5) --GROUP BY APP_PRIOR_LOSS_INFO.CUSTOMER_ID,APP_PRIOR_LOSS_INFO.LOB HAVING COUNT(APP_PRIOR_LOSS_INFO.CUSTOMER_ID)>1
	

		INSERT INTO #TEMP_PRIORLOSS 
		SELECT  APP_PRIOR_LOSS_INFO.CUSTOMER_ID,APP_PRIOR_LOSS_INFO.LOB
		FROM APP_PRIOR_LOSS_INFO WHERE APP_PRIOR_LOSS_INFO.LOB = DBO.PIECE(@LOBID,',',6) --GROUP BY APP_PRIOR_LOSS_INFO.CUSTOMER_ID,APP_PRIOR_LOSS_INFO.LOB HAVING COUNT(APP_PRIOR_LOSS_INFO.CUSTOMER_ID)>1
	
	END
 ELSE IF(@CLAIMENTID IS NOT NULL)
	BEGIN
		INSERT INTO #TEMP_PRIORLOSS 
		SELECT  APP_PRIOR_LOSS_INFO.CUSTOMER_ID,APP_PRIOR_LOSS_INFO.LOB
		FROM APP_PRIOR_LOSS_INFO WHERE APP_PRIOR_LOSS_INFO.CUSTOMER_ID=@CLAIMENTID AND OCCURENCE_DATE BETWEEN ISNULL(@STARTDATE,GETDATE()-3*365) AND ISNULL(@ENDDATE,GETDATE())--GROUP BY APP_PRIOR_LOSS_INFO.CUSTOMER_ID,APP_PRIOR_LOSS_INFO.LOB HAVING COUNT(APP_PRIOR_LOSS_INFO.CUSTOMER_ID)>1
	END
 ELSE 
	BEGIN
		INSERT INTO #TEMP_PRIORLOSS 
		SELECT  APP_PRIOR_LOSS_INFO.CUSTOMER_ID,APP_PRIOR_LOSS_INFO.LOB
		FROM APP_PRIOR_LOSS_INFO INNER JOIN 
			CLT_CUSTOMER_LIST ON
			APP_PRIOR_LOSS_INFO.CUSTOMER_ID=CLT_CUSTOMER_LIST.CUSTOMER_ID
			INNER JOIN MNT_AGENCY_LIST ON MNT_AGENCY_LIST.AGENCY_ID = CLT_CUSTOMER_LIST.CUSTOMER_AGENCY_ID 
			WHERE OCCURENCE_DATE BETWEEN ISNULL(@STARTDATE,GETDATE()-3*365) AND ISNULL(@ENDDATE,GETDATE()) --GROUP BY APP_PRIOR_LOSS_INFO.CUSTOMER_ID,APP_PRIOR_LOSS_INFO.LOB HAVING COUNT(APP_PRIOR_LOSS_INFO.CUSTOMER_ID)>1
	END

CREATE TABLE #TEMP_CLMLOSS
(
 [IDEN_ID] INT IDENTITY(1,1) NOT NULL,                    
 [CLAIMANT] INT,
 --[CLAIM_ID] INT,
 [LOBID] NVARCHAR(5)
)
IF(@STARTDATE IS NOT NULL AND @ENDDATE IS NOT NULL)
	BEGIN
		INSERT INTO #TEMP_CLMLOSS 
		SELECT  CLM_CLAIM_INFO.CUSTOMER_ID,CLM_CLAIM_INFO.LOB_ID
		FROM CLM_CLAIM_INFO --INNER JOIN CLM_ACTIVITY
		--ON CLM_CLAIM_INFO.CLAIM_ID = CLM_ACTIVITY.CLAIM_ID 
		WHERE --CLM_ACTIVITY.ACTION_ON_PAYMENT NOT IN(175)AND 
		LOSS_DATE BETWEEN @STARTDATE AND @ENDDATE --GROUP BY CLM_CLAIM_INFO.CUSTOMER_ID,CLM_CLAIM_INFO.LOB_ID HAVING COUNT(CLM_CLAIM_INFO.CUSTOMER_ID)>1
	END
ELSE IF(@AGENCYCODE IS NOT NULL)
	BEGIN
		INSERT INTO #TEMP_CLMLOSS 
		SELECT CLM_CLAIM_INFO.CUSTOMER_ID,CLM_CLAIM_INFO.LOB_ID
		FROM CLM_CLAIM_INFO INNER JOIN CLT_CUSTOMER_LIST
		ON CLM_CLAIM_INFO.CUSTOMER_ID = CLT_CUSTOMER_LIST.CUSTOMER_ID
		INNER JOIN MNT_AGENCY_LIST 
		ON MNT_AGENCY_LIST.AGENCY_ID = CLT_CUSTOMER_LIST.CUSTOMER_AGENCY_ID 
		WHERE AGENCY_CODE=@AGENCYCODE AND LOSS_DATE BETWEEN ISNULL(@STARTDATE,GETDATE()-3*365) AND ISNULL(@ENDDATE,GETDATE()) --GROUP BY CLM_CLAIM_INFO.CUSTOMER_ID,CLM_CLAIM_INFO.LOB_ID HAVING COUNT(CLM_CLAIM_INFO.CUSTOMER_ID)>1
	END
ELSE IF(@LOBID IS NOT NULL)
	BEGIN
		INSERT INTO #TEMP_CLMLOSS
		SELECT CUSTOMER_ID,CLM_CLAIM_INFO.LOB_ID
		FROM CLM_CLAIM_INFO WHERE CLM_CLAIM_INFO.LOB_ID = DBO.PIECE(@LOBID,',',1) --GROUP BY CLM_CLAIM_INFO.CUSTOMER_ID,CLM_CLAIM_INFO.LOB_ID HAVING COUNT(CLM_CLAIM_INFO.CUSTOMER_ID)>1
	
		INSERT INTO #TEMP_CLMLOSS
		SELECT CUSTOMER_ID,CLM_CLAIM_INFO.LOB_ID
		FROM CLM_CLAIM_INFO WHERE CLM_CLAIM_INFO.LOB_ID = DBO.PIECE(@LOBID,',',2) --GROUP BY CLM_CLAIM_INFO.CUSTOMER_ID,CLM_CLAIM_INFO.LOB_ID HAVING COUNT(CLM_CLAIM_INFO.CUSTOMER_ID)>1
	
		INSERT INTO #TEMP_CLMLOSS
		SELECT CUSTOMER_ID,CLM_CLAIM_INFO.LOB_ID
		FROM CLM_CLAIM_INFO WHERE CLM_CLAIM_INFO.LOB_ID = DBO.PIECE(@LOBID,',',3) --GROUP BY CLM_CLAIM_INFO.CUSTOMER_ID,CLM_CLAIM_INFO.LOB_ID HAVING COUNT(CLM_CLAIM_INFO.CUSTOMER_ID)>1
	
		INSERT INTO #TEMP_CLMLOSS
		SELECT CUSTOMER_ID,CLM_CLAIM_INFO.LOB_ID
		FROM CLM_CLAIM_INFO WHERE CLM_CLAIM_INFO.LOB_ID = DBO.PIECE(@LOBID,',',4) --GROUP BY CLM_CLAIM_INFO.CUSTOMER_ID,CLM_CLAIM_INFO.LOB_ID HAVING COUNT(CLM_CLAIM_INFO.CUSTOMER_ID)>1
	
		INSERT INTO #TEMP_CLMLOSS
		SELECT CUSTOMER_ID,CLM_CLAIM_INFO.LOB_ID
		FROM CLM_CLAIM_INFO WHERE CLM_CLAIM_INFO.LOB_ID = DBO.PIECE(@LOBID,',',5) --GROUP BY CLM_CLAIM_INFO.CUSTOMER_ID,CLM_CLAIM_INFO.LOB_ID HAVING COUNT(CLM_CLAIM_INFO.CUSTOMER_ID)>1
	
		INSERT INTO #TEMP_CLMLOSS
		SELECT CUSTOMER_ID,CLM_CLAIM_INFO.LOB_ID
		FROM CLM_CLAIM_INFO WHERE CLM_CLAIM_INFO.LOB_ID = DBO.PIECE(@LOBID,',',6) --GROUP BY CLM_CLAIM_INFO.CUSTOMER_ID,CLM_CLAIM_INFO.LOB_ID HAVING COUNT(CLM_CLAIM_INFO.CUSTOMER_ID)>1
	
END
ELSE IF(@CLAIMENTID IS NOT NULL)
	BEGIN
		INSERT INTO #TEMP_CLMLOSS
		SELECT CUSTOMER_ID,CLM_CLAIM_INFO.LOB_ID
		FROM CLM_CLAIM_INFO WHERE CLM_CLAIM_INFO.CUSTOMER_ID = @CLAIMENTID  AND LOSS_DATE BETWEEN ISNULL(@STARTDATE,GETDATE()-3*365) AND ISNULL(@ENDDATE,GETDATE()) --GROUP BY CLM_CLAIM_INFO.CUSTOMER_ID,CLM_CLAIM_INFO.LOB_ID HAVING COUNT(CLM_CLAIM_INFO.CUSTOMER_ID)>1
	END
 ELSE
	BEGIN
		INSERT INTO #TEMP_CLMLOSS
		SELECT CUSTOMER_ID,CLM_CLAIM_INFO.LOB_ID
		FROM CLM_CLAIM_INFO WHERE  LOSS_DATE BETWEEN ISNULL(@STARTDATE,GETDATE()-3*365) AND ISNULL(@ENDDATE,GETDATE()) --GROUP BY CLM_CLAIM_INFO.CUSTOMER_ID,CLM_CLAIM_INFO.LOB_ID HAVING COUNT(CLM_CLAIM_INFO.CUSTOMER_ID)>1 
	END;
--SELECT * FROM #TEMP_PRIORLOSS

WITH
CLAIMLOSS_CLIENT_TABLE (CLAIMANT,LOBID)
AS
(
	SELECT CLAIMANT=CLAIMANT,LOBID=LOBID
		FROM #TEMP_PRIORLOSS INNER JOIN 
		CLT_CUSTOMER_LIST ON #TEMP_PRIORLOSS.CLAIMANT=CLT_CUSTOMER_LIST.CUSTOMER_ID
		WHERE CLT_CUSTOMER_LIST.IS_ACTIVE='Y' 
	UNION ALL
	SELECT CLAIMANT=CLAIMANT,LOBID=LOBID 
		FROM #TEMP_CLMLOSS INNER JOIN 
		CLT_CUSTOMER_LIST ON #TEMP_CLMLOSS.CLAIMANT=CLT_CUSTOMER_LIST.CUSTOMER_ID
		WHERE CLT_CUSTOMER_LIST.IS_ACTIVE='Y' 
	--HAVING COUNT(CLM_CLAIM_INFO.CUSTOMER_ID)>1
),
--SELECT * FROM CLAIMLOSS_CLIENT_TABLE

CLAIM_LOSS_CLIENT_TABLE (CLAIMANT)--,LOBID)
AS
(
SELECT CLAIMANT=CLAIMANT FROM CLAIMLOSS_CLIENT_TABLE GROUP BY CLAIMANT HAVING COUNT(CLAIMANT)>1
),
--SELECT * FROM CLAIM_LOSS_CLIENT_TABLE

-- FETCH PRIOR LOSS FROM APP_PRIOR_LOSS

PRIOR_LOSS_TABLE (CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,DRIVER_ID,LOB,LOSS_TYPE,CLAIM_TYPE,LOSS_FROM,OCCURENCE_DATE,AMOUNT_PAID,CHARGEABLE,AT_FAULT,AT_FAULT_NEW,POLICY_NUMBER,CLAIMS_TYPE,DRIVERNAME,lob_id,PRIOR_CARRIERNAME)
AS
(
	--Changes By Raghav
	SELECT 	CUSTOMER_ID=APP_PRIOR_LOSS_INFO.CUSTOMER_ID,POLICY_ID=dbo.piece(ISNULL(APP_PRIOR_LOSS_INFO.DRIVER_NAME,''),'^',2),
	POLICY_VERSION_ID=dbo.piece(ISNULL(APP_PRIOR_LOSS_INFO.DRIVER_NAME,''),'^',3),
	DRIVER_ID=dbo.piece(ISNULL(APP_PRIOR_LOSS_INFO.DRIVER_NAME,''),'^',4),
	LOB=MLM.LOB_DESC,LOSS_TYPE=MLV.LOOKUP_VALUE_DESC,CLAIM_TYPE = MLV1.LOOKUP_VALUE_DESC, LOSS_FROM='Prior',OCCURENCE_DATE=OCCURENCE_DATE,
	AMOUNT_PAID=AMOUNT_PAID,CASE WHEN CHARGEABLE=11923 THEN 'Not Chargeable' ELSE 'Chargeable' END AS CHARGEABLE,
	--AT_FAULT=CASE WHEN AT_FAULT = 10964 THEN 'NO' WHEN AT_FAULT = 10963 THEN 'YES' ELSE '' END 
    AT_FAULT=CASE  WHEN AT_FAULT = 10963 THEN 'Y' ELSE 'N' END
    ,AT_FAULT_NEW='',POLICY_NUMBER=POLICY_NUM,CLAIMS_TYPE=MLV1.LOOKUP_VALUE_DESC,DRIVERNAME=DRIVER_NAME ,APP_PRIOR_LOSS_INFO.LOB ,APCI.CARRIER
	FROM APP_PRIOR_LOSS_INFO 
	LEFT OUTER JOIN APP_PRIOR_CARRIER_INFO APCI ON APP_PRIOR_LOSS_INFO.CUSTOMER_ID=APCI.CUSTOMER_ID
	LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV ON CONVERT(NVARCHAR(50),MLV.LOOKUP_UNIQUE_ID)=CONVERT(NVARCHAR(50),APP_PRIOR_LOSS_INFO.LOSS_TYPE)
	LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV1 ON CONVERT(NVARCHAR(50),MLV1.LOOKUP_UNIQUE_ID)=CONVERT(NVARCHAR(50),APP_PRIOR_LOSS_INFO.CLAIMS_TYPE)
	LEFT OUTER JOIN MNT_LOB_MASTER MLM ON CONVERT(NVARCHAR(20),MLM.LOB_ID)=APP_PRIOR_LOSS_INFO.LOB
	WHERE APP_PRIOR_LOSS_INFO.CUSTOMER_ID IN (SELECT CLAIMANT FROM CLAIM_LOSS_CLIENT_TABLE)  
	--AND LOB IN (SELECT LOBID FROM CLAIM_LOSS_CLIENT_TABLE) 
	AND OCCURENCE_DATE BETWEEN ISNULL(@STARTDATE,GETDATE()-3*365) AND ISNULL(@ENDDATE,GETDATE()) 
),
--SELECT * FROM PRIOR_LOSS_TABLE ORDER BY CUSTOMER_ID

--WITH
CUSTOMER_DETAILS_TABLE (CUSTOMERID,CUSTOMER_TYPE,AGENCY_CODE,CUSTOMER_NAME,CUSTOMER_SUFFIX,CUSTOMER_ADDRESS1,
CUSTOMER_ADDRESS2,CUSTOMER_CITY,CUSTOMER_COUNTRY,CUSTOMER_STATE,CUSTOMER_ZIP,CUSTOMER_INSURANCE_SCORE,AGENCY_DISPLAY_NAME,NUM_AGENCY_CODE)
AS
(
	SELECT CUSTOMERID=CUSTOMER_ID,CUSTOMER_TYPE=MLV.LOOKUP_VALUE_DESC,AGENCY_CODE=AGENCY_CODE,ISNULL(CUSTOMER_FIRST_NAME,'')+' '+ISNULL(CUSTOMER_MIDDLE_NAME,'')+' '+ISNULL(CUSTOMER_LAST_NAME,'') AS CUSTOMER_NAME,CUSTOMER_SUFFIX=CUSTOMER_SUFFIX,
	CUSTOMER_ADDRESS1=CUSTOMER_ADDRESS1,CUSTOMER_ADDRESS2=CUSTOMER_ADDRESS2,CUSTOMER_CITY=CUSTOMER_CITY,CUSTOMER_COUNTRY=MCL.COUNTRY_NAME,CUSTOMER_STATE=STATE_NAME,CUSTOMER_ZIP=CUSTOMER_ZIP,CUSTOMER_INSURANCE_SCORE=CUSTOMER_INSURANCE_SCORE,
	AGENCY_DISPLAY_NAME=AGENCY_DISPLAY_NAME,NUM_AGENCY_CODE=NUM_AGENCY_CODE
	FROM CLT_CUSTOMER_LIST 
	INNER JOIN MNT_AGENCY_LIST 
	ON MNT_AGENCY_LIST.AGENCY_ID = CLT_CUSTOMER_LIST.CUSTOMER_AGENCY_ID 
	LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV ON MLV.LOOKUP_UNIQUE_ID=CLT_CUSTOMER_LIST.CUSTOMER_TYPE
	LEFT OUTER JOIN MNT_COUNTRY_LIST MCL ON MCL.COUNTRY_ID=CLT_CUSTOMER_LIST.CUSTOMER_COUNTRY
    --Changes By raghav For State_name  
    INNER JOIN MNT_COUNTRY_STATE_LIST ON  CLT_CUSTOMER_LIST.CUSTOMER_STATE = MNT_COUNTRY_STATE_LIST.STATE_ID
	WHERE CUSTOMER_ID IN (SELECT CLAIMANT FROM CLAIM_LOSS_CLIENT_TABLE)
),
--SELECT * FROM CUSTOMER_DETAILS_TABLE
DRIVER_DETAILS_TABLE(CUSTOMERIDS,POLICYIDS,POLICY_VERSIONIDS,DRIVERIDS,DRIVER_NAME_F,DRIVER_DOB,DRIVER_VIOLATION_POINT)
AS
(
 SELECT CUSTOMERIDS=APP_PRIOR_LOSS_INFO.CUSTOMER_ID,POLICYIDS=dbo.piece(APP_PRIOR_LOSS_INFO.DRIVER_NAME,'^',2),POLICY_VERSIONIDS=dbo.piece(APP_PRIOR_LOSS_INFO.DRIVER_NAME,'^',3),DRIVERIDS=dbo.piece(APP_PRIOR_LOSS_INFO.DRIVER_NAME,'^',4), CASE WHEN DRIVER_NAME LIKE '%^%' THEN dbo.fun_getDriverName(DRIVER_NAME) ELSE DRIVER_NAME END AS DRIVER_NAME_F,--DRIVER_FNAME,DRIVER_MNAME,DRIVER_LNAME,
 DRIVER_DOB,dbo.fun_GetMVRViolationPointsPol(PDD.CUSTOMER_ID,PDD.POLICY_ID,PDD.POLICY_VERSION_ID,PDD.DRIVER_ID,@VIOLATION_NUM_YEAR,@VIOLATION_NUM_YEAR_REFER)
 FROM APP_PRIOR_LOSS_INFO WITH (NOLOCK)
	LEFT OUTER JOIN POL_DRIVER_DETAILS PDD WITH (NOLOCK)	ON 	convert(nvarchar(50),PDD.CUSTOMER_ID) = dbo.piece(APP_PRIOR_LOSS_INFO.DRIVER_NAME,'^',1)
	AND convert(nvarchar(50),PDD.POLICY_ID) = dbo.piece(APP_PRIOR_LOSS_INFO.DRIVER_NAME,'^',2)
	AND convert(nvarchar(50),PDD.POLICY_VERSION_ID) = dbo.piece(APP_PRIOR_LOSS_INFO.DRIVER_NAME,'^',3)
	AND convert(nvarchar(50),PDD.DRIVER_ID) = dbo.piece(APP_PRIOR_LOSS_INFO.DRIVER_NAME,'^',4)
	WHERE APP_PRIOR_LOSS_INFO.CUSTOMER_ID IN (SELECT CLAIMANT FROM CLAIM_LOSS_CLIENT_TABLE)	 AND APP_PRIOR_LOSS_INFO.LOB IN ('2','3','4') /*(SELECT LOBID FROM CLAIM_LOSS_CLIENT_TABLE)*/ AND APP_PRIOR_LOSS_INFO.OCCURENCE_DATE BETWEEN ISNULL(@STARTDATE,GETDATE
()-3*365) AND ISNULL(@ENDDATE,GETDATE())
),
--SELECT * FROM DRIVER_DETAILS_TABLE

PRIOR_LOSS_DETAIL_TABLE (CUSTOMER_TYPE,CUSTOMER_NAME,CUSOMER_SUFFIX,CUSTOMER_ADDRESS1,CUSTOMER_ADDRESS2,CUSTOMER_CITY,
CUSTOMER_COUNTRY,CUSTOMER_STATE,CUSTOMER_ZIP,CUSTOMER_INSURANCE_SCORE,AGENCY_DISPLAY_NAME,NUM_AGENCY_CODE,
CUSTOMER_ID,LOB,LOSS_TYPE,CLAIM_TYPE,LOSS_FROM,OCCURENCE_DATE,AMOUNT_PAID,DRIVER_NAME,CHARGEABLE,AT_FAULT,AT_FAULT_NEW,
DRIVER_DOB,DRIVER_VIOLATION_POINT,YEAR_BUILT,PROT_CLASS,LIMIT_1_COVA,LIMIT_1_COVC,POLICY_TYPE,RESERVE,POLICY_NUMBER,APP_INCEPTION_DATE,CLAIMS_TYPE,AGENCY_CODE,VEHICLE_YEAR,VEHICLE_MAKE,VEHICLE_MODEL,lob_id,PRIOR_CARRIERNAME)
AS
(
	SELECT CUSTOMER_TYPE=CDT.CUSTOMER_TYPE,CUSTOMER_NAME=CDT.CUSTOMER_NAME,CUSOMER_SUFFIX=CDT.CUSTOMER_SUFFIX,CUSTOMER_ADDRESS1=CDT.CUSTOMER_ADDRESS1, 
	CUSTOMER_ADDRESS2=CDT.CUSTOMER_ADDRESS2,CUSTOMER_CITY=CDT.CUSTOMER_CITY,CUSTOMER_COUNTRY=CDT.CUSTOMER_COUNTRY,
	CUSTOMER_STATE=CDT.CUSTOMER_STATE,CUSTOMER_ZIP=CDT.CUSTOMER_ZIP,CUSTOMER_INSURANCE_SCORE=CUSTOMER_INSURANCE_SCORE,
	AGENCY_DISPLAY_NAME=CDT.AGENCY_DISPLAY_NAME,NUM_AGENCY_CODE=CDT.NUM_AGENCY_CODE,CUSTOMER_ID=CDT.CUSTOMERID,LOB=PLT.LOB,
	LOSS_TYPE=PLT.LOSS_TYPE,CLAIM_TYPE=PLT.CLAIM_TYPE,LOSS_FROM=PLT.LOSS_FROM,OCCURENCE_DATE=PLT.OCCURENCE_DATE,AMOUNT_PAID=PLT.AMOUNT_PAID,
	CASE WHEN DDT.DRIVER_NAME_F IS NULL THEN PLT.DRIVERNAME ELSE DDT.DRIVER_NAME_F END DRIVER_NAME,CHARGEABLE=PLT.CHARGEABLE,AT_FAULT=PLT.AT_FAULT,AT_FAULT_NEW=PLT.AT_FAULT_NEW,DRIVER_DOB=DDT.DRIVER_DOB,DRIVER_VIOLATION_POINT=DDT.DRIVER_VIOLATION_POINT,
	NULL,NULL,NULL,NULL,NULL,NULL,POLICY_NUMBER=PLT.POLICY_NUMBER,NULL,CLAIMS_TYPE=PLT.CLAIMS_TYPE,AGENCY_CODE=CDT.AGENCY_CODE,NULL,NULL,NULL,lob_id = PLT.lob_id,PRIOR_CARRIERNAME = PLT.PRIOR_CARRIERNAME 
	FROM PRIOR_LOSS_TABLE PLT
	INNER JOIN CUSTOMER_DETAILS_TABLE CDT
	ON PLT.CUSTOMER_ID=CDT.CUSTOMERID
	LEFT OUTER JOIN DRIVER_DETAILS_TABLE DDT
	ON PLT.CUSTOMER_ID=DDT.CUSTOMERIDS
	AND PLT.POLICY_ID=DDT.POLICYIDS
	AND PLT.POLICY_VERSION_ID=DDT.POLICY_VERSIONIDS
	AND PLT.DRIVER_ID=DDT.DRIVERIDS
),
--SELECT * FROM PRIOR_LOSS_DETAIL_TABLE

-- Claim Losses

-- CREATE TEMP TABLE TO COLLECT CUSTOMER ID HAVING MORE THAN 1 LOSSESS 
CLM_LOSS_TABLE (CUSTOMER_ID,CLAIM_ID,POLICY_ID,POLICY_VERSION_ID,LOB,LOSS_TYPE,CLAIM_TYPE,LOSS_FROM,OCCURENCE_DATE,PAID_LOSS,RESERVE,CLAIM_STATUS,AT_FAULT,AT_FAULT_NEW,POLICY_NUMBER,APP_INCEPTION_DATE,lob_id)
AS
(
	SELECT DISTINCT CUSTOMER_ID=CLM_CLAIM_INFO.CUSTOMER_ID,CLAIM_ID=CLM_CLAIM_INFO.CLAIM_ID,POLICY_ID=CLM_CLAIM_INFO.POLICY_ID,POLICY_VERSION_ID=CLM_CLAIM_INFO.POLICY_VERSION_ID,
			--Changes By Raghav
			LOB=MLM.LOB_DESC,SUBSTRING(DBO.FnGetLossTypeDesc(LOSS_TYPE),2,LEN(DBO.FnGetLossTypeDesc(LOSS_TYPE))), '' AS CLAIM_TYPE,LOSS_FROM='WMIC',OCCURENCE_DATE=LOSS_DATE,PAID_LOSS=PAID_LOSS,RESERVE=OUTSTANDING_RESERVE,CLAIM_STATUS=MLV1.LOOKUP_VALUE_DESC,
			AT_FAULT=CASE WHEN ISNULL(PINK_SLIP_TYPE_LIST,0)LIKE'%13005%' THEN 'Y' ELSE 'N' END,AT_FAULT_NEW= CASE AT_FAULT_INDICATOR WHEN 2 THEN 'Y' WHEN 1 THEN 'N' ELSE '' END,POLICY_NUMBER,APP_INCEPTION_DATE,CLM_CLAIM_INFO.lob_id
			FROM CLM_CLAIM_INFO INNER JOIN CLM_ACTIVITY
			ON CLM_CLAIM_INFO.CLAIM_ID = CLM_ACTIVITY.CLAIM_ID  
			INNER JOIN CLM_PARTIES PART
			ON PART.CLAIM_ID = CLM_ACTIVITY.CLAIM_ID 
            INNER JOIN CLM_PAYEE CP ON PART.CLAIM_ID  = CP.CLAIM_ID AND PART.PARTY_ID  = CP.PARTY_ID 
			AND PARTY_TYPE_ID NOT IN (@EXPERTSERVICEPROVIDER,@ADJUSTER)  
			LEFT OUTER JOIN CLM_OCCURRENCE_DETAIL
			ON CLM_CLAIM_INFO.CLAIM_ID = CLM_OCCURRENCE_DETAIL.CLAIM_ID
			INNER JOIN POL_CUSTOMER_POLICY_LIST PCPD
			ON PCPD.CUSTOMER_ID=CLM_CLAIM_INFO.CUSTOMER_ID
			AND PCPD.POLICY_ID=CLM_CLAIM_INFO.POLICY_ID
			AND PCPD.POLICY_VERSION_ID=CLM_CLAIM_INFO.POLICY_VERSION_ID
			--LEFT OUTER JOIN CLM_TYPE_DETAIL MLV ON CONVERT(NVARCHAR(50),MLV.DETAIL_TYPE_ID)=CLM_OCCURRENCE_DETAIL.LOSS_TYPE
			LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV1 ON MLV1.LOOKUP_UNIQUE_ID=CLM_CLAIM_INFO.CLAIM_STATUS
			LEFT OUTER JOIN MNT_LOB_MASTER MLM ON MLM.LOB_ID=CLM_CLAIM_INFO.LOB_ID
			WHERE CLM_CLAIM_INFO.CUSTOMER_ID IN (SELECT CLAIMANT FROM CLAIM_LOSS_CLIENT_TABLE) AND  LOSS_DATE BETWEEN ISNULL(@STARTDATE,GETDATE()-3*365) AND ISNULL(@ENDDATE,GETDATE()) 	AND CLM_ACTIVITY.ACTION_ON_PAYMENT not in (175,207,254)	AND ISNULL(PART.EXPERT_SERVICE_TYPE,0)=0		
),
--select * from CLM_LOSS_TABLE ORDER BY CUSTOMER_ID

--SELECT * FROM CLM_LOSS_TABLE
CLM_CUSTOMER_DETAIL_TABLE (CUSTOMERID,CUSTOMER_TYPE,AGENCY_CODE,CUSTOMER_NAME,CUSTOMER_SUFFIX,
							CUSTOMER_ADDRESS1,CUSTOMER_ADDRESS2,CUSTOMER_CITY,CUSTOMER_COUNTRY,CUSTOMER_STATE,CUSTOMER_ZIP,
							CUSTOMER_INSURANCE_SCORE,AGENCY_DISPLAY_NAME,NUM_AGENCY_CODE)
AS
(
	SELECT CUSTOMERID=CUSTOMER_ID,CUSTOMER_TYPE= MLV.LOOKUP_VALUE_DESC,AGENCY_CODE=AGENCY_CODE,ISNULL(CUSTOMER_FIRST_NAME,'')+' '+ISNULL(CUSTOMER_MIDDLE_NAME,'')+' '+ISNULL(CUSTOMER_LAST_NAME,'') AS CUSTOMER_NAME,CUSTOMER_SUFFIX=CUSTOMER_SUFFIX,
	CUSTOMER_ADDRESS1=CUSTOMER_ADDRESS1,CUSTOMER_ADDRESS2=CUSTOMER_ADDRESS2,CUSTOMER_CITY=CUSTOMER_CITY,CUSTOMER_COUNTRY=MCL.COUNTRY_NAME,CUSTOMER_STATE=STATE_NAME,CUSTOMER_ZIP=CUSTOMER_ZIP,CUSTOMER_INSURANCE_SCORE=CUSTOMER_INSURANCE_SCORE,
	AGENCY_DISPLAY_NAME=AGENCY_DISPLAY_NAME,NUM_AGENCY_CODE=NUM_AGENCY_CODE
	FROM CLT_CUSTOMER_LIST 
	INNER JOIN MNT_AGENCY_LIST ON MNT_AGENCY_LIST.AGENCY_ID = CLT_CUSTOMER_LIST.CUSTOMER_AGENCY_ID 
	LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV ON MLV.LOOKUP_UNIQUE_ID=CLT_CUSTOMER_LIST.CUSTOMER_TYPE
    --Changes By Raghav  For State_name
    LEFT JOIN MNT_COUNTRY_STATE_LIST ON  CLT_CUSTOMER_LIST.CUSTOMER_STATE = MNT_COUNTRY_STATE_LIST.STATE_ID
	LEFT OUTER JOIN MNT_COUNTRY_LIST MCL ON MCL.COUNTRY_ID=CLT_CUSTOMER_LIST.CUSTOMER_COUNTRY
	WHERE CUSTOMER_ID IN (SELECT CLAIMANT FROM CLAIM_LOSS_CLIENT_TABLE) 
),
--select * from CLM_CUSTOMER_DETAIL_TABLE

--SELECT * FROM CLM_CUSTOMER_DETAIL_TABLE
CLM_HOME_DWELLING_DETAIL_TABLE (CUSTOMERIDS,POLICYIDS,POLICYVERSIONIDS,YEAR_BUILT,PROT_CLASS,LIMIT_1_COVA,LIMIT_1_COVC,POLICY_TYPE)
AS
(
	SELECT CUSTOMERIDS=CLM.CUSTOMER_ID,POLICYIDS=CLM.POLICY_ID,POLICYVERSIONIDS=CLM.POLICY_VERSION_ID,
	YEAR_BUILT=YEAR_BUILT,PROT_CLASS=MLV1.LOOKUP_VALUE_DESC,LIMIT_1_COVA=PDSC.LIMIT_1,LIMIT_1_COVC=NULL,POLICY_TYPE=MLV.LOOKUP_VALUE_DESC
	FROM 
	CLM_LOSS_TABLE CLT INNER JOIN 
	POL_CUSTOMER_POLICY_LIST CLM ON
	CLT.CUSTOMER_ID=CLM.CUSTOMER_ID
	AND CLT.POLICY_ID=CLM.POLICY_ID
	AND CLT.POLICY_VERSION_ID=CLM.POLICY_VERSION_ID
	INNER JOIN POL_DWELLINGS_INFO PWI ON
	CLM.CUSTOMER_ID=PWI.CUSTOMER_ID
	AND CLM.POLICY_ID=PWI.POLICY_ID
	AND CLM.POLICY_VERSION_ID=PWI.POLICY_VERSION_ID	
	INNER JOIN POL_HOME_RATING_INFO PHRI ON
	CLM.CUSTOMER_ID=PHRI.CUSTOMER_ID
	AND CLM.POLICY_ID=PHRI.POLICY_ID
	AND CLM.POLICY_VERSION_ID=PHRI.POLICY_VERSION_ID	
	INNER JOIN POL_DWELLING_SECTION_COVERAGES PDSC ON
	CLM.CUSTOMER_ID=PDSC.CUSTOMER_ID
	AND CLM.POLICY_ID=PDSC.POLICY_ID
	AND CLM.POLICY_VERSION_ID=PDSC.POLICY_VERSION_ID
	INNER JOIN MNT_COVERAGE M ON M.COV_ID = PDSC.COVERAGE_CODE_ID 
	AND M.COV_CODE ='DWELL' AND CLM.POLICY_TYPE IN 
	('11148','11149','11192','11193','11194','11400','11401','11402','11403','11404','11409','11410','11289','11290','11291','11292','11458','11479','11480','11481','11482')
	INNER JOIN MNT_LOOKUP_VALUES MLV ON CONVERT(NVARCHAR(20),MLV.LOOKUP_UNIQUE_ID) = CLM.POLICY_TYPE
	LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV1 ON MLV1.LOOKUP_UNIQUE_ID = CONVERT(NVARCHAR(20),ISNULL(PHRI.PROT_CLASS,''))
	WHERE CLM.CUSTOMER_ID IN (SELECT CLAIMANT FROM CLAIM_LOSS_CLIENT_TABLE) AND CLM.POLICY_LOB IN ('1','6')
),
--select * from CLM_HOME_DWELLING_DETAIL_TABLE

CLM_RENTAL_DWELLING_DETAIL_TABLE (CUSTOMERDS,POLICYDS,POLICYVERSIONDS,YEAR_BUILT,PROT_CLASS,LIMIT_1_COVA,LIMIT_1_COVC,POLICY_TYPE)
AS
(
	SELECT CUSTOMERDS=CLM.CUSTOMER_ID,POLICYDS=CLM.POLICY_ID,POLICYVERSIONDS=CLM.POLICY_VERSION_ID,
	YEAR_BUILT=YEAR_BUILT,PROT_CLASS=MLV1.LOOKUP_VALUE_DESC,LIMIT_1_COVA=NULL,LIMIT_1_COVC=PDSS.LIMIT_1,POLICY_TYPE=MLV.LOOKUP_VALUE_DESC
	FROM CLM_LOSS_TABLE CLT INNER JOIN 
	POL_CUSTOMER_POLICY_LIST CLM ON
	CLT.CUSTOMER_ID=CLM.CUSTOMER_ID
	AND CLT.POLICY_ID=CLM.POLICY_ID
	AND CLT.POLICY_VERSION_ID=CLM.POLICY_VERSION_ID
	INNER JOIN POL_DWELLINGS_INFO PWI ON
	CLM.CUSTOMER_ID=PWI.CUSTOMER_ID
	AND CLM.POLICY_ID=PWI.POLICY_ID
	AND CLM.POLICY_VERSION_ID=PWI.POLICY_VERSION_ID	
	INNER JOIN POL_HOME_RATING_INFO PHRI ON
	CLM.CUSTOMER_ID=PHRI.CUSTOMER_ID
	AND CLM.POLICY_ID=PHRI.POLICY_ID
	AND CLM.POLICY_VERSION_ID=PHRI.POLICY_VERSION_ID	
	INNER JOIN POL_DWELLING_SECTION_COVERAGES PDSS ON
	CLM.CUSTOMER_ID=PDSS.CUSTOMER_ID
	AND CLM.POLICY_ID=PDSS.POLICY_ID
	AND CLM.POLICY_VERSION_ID=PDSS.POLICY_VERSION_ID
	INNER JOIN MNT_COVERAGE MC ON MC.COV_ID = PDSS.COVERAGE_CODE_ID 
	AND MC.COV_CODE ='EBUSPP' AND CLM.POLICY_TYPE IN 
	('11246','11245','11196','11195','11405','11406','11407','11408')
	INNER JOIN MNT_LOOKUP_VALUES MLV ON CONVERT(NVARCHAR(20),MLV.LOOKUP_UNIQUE_ID) = CLM.POLICY_TYPE
	LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV1 ON CONVERT(NVARCHAR(20),MLV1.LOOKUP_UNIQUE_ID) = CONVERT(NVARCHAR(20),ISNULL(PHRI.PROT_CLASS,''))
	WHERE CLM.CUSTOMER_ID IN (SELECT CLAIMANT FROM CLAIM_LOSS_CLIENT_TABLE) AND CLM.POLICY_LOB IN ('1','6')
),
--select * from CLM_RENTAL_DWELLING_DETAIL_TABLE


CLMHOME_RENTAL_LOSS_DETAIL (CUSTOMERIDS,POLICYIDS, POLICYVERSIONIDS, YEAR_BUILT, PROT_CLASS, LIMIT_1_COVA, LIMIT_1_COVC, POLICY_TYPE)
AS
(
 SELECT DISTINCT CUSTOMERIDS,POLICYIDS,POLICYVERSIONIDS,YEAR_BUILT,PROT_CLASS,LIMIT_1_COVA,LIMIT_1_COVC,POLICY_TYPE FROM CLM_HOME_DWELLING_DETAIL_TABLE
	UNION
 SELECT DISTINCT CUSTOMERDS,POLICYDS,POLICYVERSIONDS,YEAR_BUILT,PROT_CLASS,LIMIT_1_COVA,LIMIT_1_COVC,POLICY_TYPE FROM CLM_RENTAL_DWELLING_DETAIL_TABLE
),
--select * from CLMHOME_RENTAL_LOSS_DETAIL

CLM_DRIVER_DETAIL_TABLE (CUSTOMERD,CLAIM_ID,POLICYD,POLICYVERSIOND,DRIVER_NAME_F,DRIVER_DOB,DRIVER_VIOLATION_POINT,VEHICLE_YEAR,VEHICLE_MAKE,VEHICLE_MODEL)
AS
(
	SELECT CLM.CUSTOMER_ID,CLAIM_ID=CLM.CLAIM_ID,CLM.POLICY_ID,CLM.POLICY_VERSION_ID,CDI.NAME,CDI.DATE_OF_BIRTH,
			dbo.fun_GetMVRViolationPointsPol(CLM.CUSTOMER_ID,CLM.POLICY_ID,CLM.POLICY_VERSION_ID,CDI.DRIVER_ID,@VIOLATION_NUM_YEAR,@VIOLATION_NUM_YEAR_REFER),
			CIV.VEHICLE_YEAR,CIV.MAKE,CIV.MODEL
	FROM CLM_LOSS_TABLE INNER JOIN CLM_CLAIM_INFO CLM
	ON CLM_LOSS_TABLE.CLAIM_ID = CLM.CLAIM_ID
	left outer JOIN CLM_DRIVER_INFORMATION CDI
	ON CLM.CLAIM_ID=CDI.CLAIM_ID
	INNER JOIN CLM_INSURED_VEHICLE CIV ON
	CLM.CLAIM_ID=CIV.CLAIM_ID
	WHERE CLM.CUSTOMER_ID IN (SELECT CLAIMANT FROM CLAIM_LOSS_CLIENT_TABLE)  AND CLM.LOB_ID IN ('2','3','4') AND  LOSS_DATE BETWEEN ISNULL(@STARTDATE,GETDATE()-3*365) AND ISNULL(@ENDDATE,GETDATE())
),
--select * from CLM_DRIVER_DETAIL_TABLE 



CLM_CLAIM_LOSS_DETAIL (CUSTOMER_TYPE,CUSTOMER_NAME,CUSOMER_SUFFIX,CUSTOMER_ADDRESS1,CUSTOMER_ADDRESS2,CUSTOMER_CITY,
CUSTOMER_COUNTRY,CUSTOMER_STATE,CUSTOMER_ZIP,CUSTOMER_INSURANCE_SCORE,AGENCY_DISPLAY_NAME,NUM_AGENCY_CODE,
CUSTOMER_ID,LOB,LOSS_TYPE,CLAIM_TYPE,LOSS_FROM,OCCURENCE_DATE,AMOUNT_PAID,DRIVER_NAME,CHARGEABLE,AT_FAULT,AT_FAULT_NEW,
DRIVER_DOB,DRIVER_VIOLATION_POINT,YEAR_BUILT,PROT_CLASS,LIMIT_1_COVA,LIMIT_1_COVC,POLICY_TYPE,RESERVE,POLICY_NUMBER,APP_INCEPTION_DATE,CLAIMS_TYPE,AGENCY_CODE,VEHICLE_YEAR,VEHICLE_MAKE,VEHICLE_MODEL,lob_id,PRIOR_CARRIERNAME)
AS
(
	SELECT CUSTOMER_TYPE=CCDT.CUSTOMER_TYPE,CUSTOMER_NAME=CCDT.CUSTOMER_NAME,CUSOMER_SUFFIX=CCDT.CUSTOMER_SUFFIX, 
	CUSTOMER_ADDRESS1=CCDT.CUSTOMER_ADDRESS1,CUSTOMER_ADDRESS2=CCDT.CUSTOMER_ADDRESS2,
	CUSTOMER_CITY=CCDT.CUSTOMER_CITY,CUSTOMER_COUNTRY=CCDT.CUSTOMER_COUNTRY,CUSTOMER_STATE=CCDT.CUSTOMER_STATE,
	CUSTOMER_ZIP=CCDT.CUSTOMER_ZIP,CUSTOMER_INSURANCE_SCORE=CCDT.CUSTOMER_INSURANCE_SCORE,AGENCY_DISPLAY_NAME=CCDT.AGENCY_DISPLAY_NAME,
	NUM_AGENCY_CODE=CCDT.NUM_AGENCY_CODE,CUSTOMER_ID=CCDT.CUSTOMERID,LOB=CLT.LOB,LOSS_TYPE=CLT.LOSS_TYPE,CLT.CLAIM_TYPE,
	LOSS_FROM=CLT.LOSS_FROM,OCCURENCE_DATE=CLT.OCCURENCE_DATE,AMOUNT_PAID=CLT.PAID_LOSS,DRIVER_NAME=CDDT.DRIVER_NAME_F,CHARGEABLE=NULL,
	AT_FAULT=CLT.AT_FAULT,AT_FAULT_NEW=CLT.AT_FAULT_NEW,DRIVER_DOB=CDDT.DRIVER_DOB,DRIVER_VIOLATION_POINT=CDDT.DRIVER_VIOLATION_POINT,
	YEAR_BUILT=CHRLD.YEAR_BUILT,PROT_CLASS= ISNULL(CHRLD.PROT_CLASS,''),
	LIMIT_1_COVA=CHRLD.LIMIT_1_COVA,LIMIT_1_COVC=CHRLD.LIMIT_1_COVC,POLICY_TYPE=CHRLD.POLICY_TYPE,RESERVE=CLT.RESERVE,POLICY_NUMBER=CLT.POLICY_NUMBER,APP_INCEPTION_DATE=CLT.APP_INCEPTION_DATE,CLAIMS_TYPE=NULL,
	AGENCY_CODE=CCDT.AGENCY_CODE,VEHICLE_YEAR=CDDT.VEHICLE_YEAR,VEHICLE_MAKE=CDDT.VEHICLE_MAKE,VEHICLE_MODEL=CDDT.VEHICLE_MODEL,lob_id = CLT.lob_id,PRIOR_CARRIERNAME=''
	FROM CLM_LOSS_TABLE CLT
	INNER JOIN CLM_CUSTOMER_DETAIL_TABLE CCDT
	ON CUSTOMER_ID=CUSTOMERID
	LEFT OUTER JOIN
	CLMHOME_RENTAL_LOSS_DETAIL CHRLD
	ON CHRLD.CUSTOMERIDS=CLT.CUSTOMER_ID
	AND CHRLD.POLICYIDS=CLT.POLICY_ID
	AND CHRLD.POLICYVERSIONIDS=CLT.POLICY_VERSION_ID	
	LEFT OUTER JOIN 
	CLM_DRIVER_DETAIL_TABLE CDDT
	ON CDDT.CUSTOMERD=CLT.CUSTOMER_ID
	AND CDDT.CLAIM_ID=CLT.CLAIM_ID
)
--select DISTINCT * from CLM_CLAIM_LOSS_DETAIL

---- Set Sort Order
---------

SELECT distinct * FROM CLM_CLAIM_LOSS_DETAIL
		UNION 
SELECT distinct * FROM PRIOR_LOSS_DETAIL_TABLE 
/**/
--SELECT * FROM #TEMP_CLMLOSS

--SELECT * FROM #TEMP_PRIORLOSS
DROP TABLE #TEMP_CLMLOSS
DROP TABLE #TEMP_PRIORLOSS

END

GO

