IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_SUSEP_ISSUED_CANCELLED_OUTWARDS_COINSURANCE_PREMIUMS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_SUSEP_ISSUED_CANCELLED_OUTWARDS_COINSURANCE_PREMIUMS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

  
--DROP PROC PROC_ISSUED_CANCELLED_OUTWARDS_COINSURANCE_PREMIUMS  
--SELECT ITEM_STATUS,ITEM_TRAN_CODE FROM ACT_CUSTOMER_OPEN_ITEMS where CUSTOMER_ID = 28189 and POLICY_ID = 13  
  
/*----------------------------------------------------------                                                                    
Proc Name       : dbo.PROC_ISSUED_CANCELLED_OUTWARDS_COINSURANCE_PREMIUMS                                                              
Created by      : ANKIT KUMAR GOEL                                                                
Date            : 24/03/2011                                                                    
Purpose         : The purpose is to GENEARATE REPORT ISSUED   
      CANCELLED OUTWARDS COINSURANCE PREMIUMS  
Revison History :                                             
------------------------------------------------------------                                                                    
Modified By  :           
Date   :          
Purpose  :          
------------------------------------------------------------                                                                          
Date     Review By          Comments                                                                    
------   ------------       -------------------------*/   
CREATE PROC [dbo].[PROC_SUSEP_ISSUED_CANCELLED_OUTWARDS_COINSURANCE_PREMIUMS] --'08-18-2011'  
@DATETIME DATETIME=NULL,  
@POLICY_NUMBER VARCHAR(22)=NULL  
  
AS  
BEGIN    
    
    
SELECT     
    
Table_1.SEQUENCE,    
Table_1.COD_CIA,    
TABLE_1.COD_COSS,    
TABLE_1.NUM_PROC,    
TABLE_1.DT_BASE,    
---------TYPE OF TRANSACTION-----------------    
 --DOUBT: NEED TO CLEAR. FROM WHICH COLUMN OF TABLE IT IS MAPPED?    
 --NULL AS TIPO_MOV,    
     
     
     
 ISNULL(  
 CASE WHEN TABLE_1.PROCESS_ID = 25 THEN '101'           
      WHEN TABLE_1.PROCESS_ID = 14 
			 THEN     
				CASE WHEN TABLE_1.ENDORSEMENT_TYPE = 14688 THEN '108'    
					 WHEN TABLE_1.ENDORSEMENT_TYPE = 14684 THEN '103'
					 WHEN TABLE_1.ENDORSEMENT_TYPE = 14690 THEN '102'   
					 WHEN TABLE_1.ENDORSEMENT_TYPE = 14682 
					THEN    
						CASE WHEN EXISTS(SELECT COI.TOTAL_DUE FROM ACT_CUSTOMER_OPEN_ITEMS COI WITH(NOLOCK)    
							--INNER JOIN TABLE_1 ON                    
							WHERE TABLE_1.CUSTOMER_ID = COI.CUSTOMER_ID    
							AND TABLE_1.POLICY_ID= COI.POLICY_ID    
							AND TABLE_1.POLICY_VERSION_ID = COI.POLICY_VERSION_ID    
							AND  COI.TOTAL_DUE > 0     
							AND COI.ITEM_STATUS ='DP'    
							AND COI.UPDATED_FROM ='P') THEN '102'   --POSITIVE ENDORSEMENT                 
						END    
		WHEN TABLE_1.PROCESS_ID = 12
			 THEN     
				CASE WHEN EXISTS(SELECT COI.TOTAL_DUE FROM ACT_CUSTOMER_OPEN_ITEMS COI WITH(NOLOCK)    
							--INNER JOIN TABLE_1 ON    
			                    
					 WHERE TABLE_1.CUSTOMER_ID = COI.CUSTOMER_ID    
					  AND TABLE_1.POLICY_ID= COI.POLICY_ID    
					  AND TABLE_1.POLICY_VERSION_ID = COI.POLICY_VERSION_ID    
					  AND  COI.TOTAL_DUE < 0     
					  AND COI.ITEM_STATUS ='RP'    
					  AND COI.ITEM_TRAN_CODE ='CANP'    
					  AND COI.UPDATED_FROM ='P') THEN '104' --pOLICY CANCELLATION PREM REFUND    
		             
					WHEN NOT EXISTS(SELECT COI.TOTAL_DUE FROM ACT_CUSTOMER_OPEN_ITEMS COI WITH(NOLOCK)    
						--INNER JOIN TABLE_1 ON                     
									 WHERE TABLE_1.CUSTOMER_ID = COI.CUSTOMER_ID    
									 AND TABLE_1.POLICY_ID= COI.POLICY_ID    
									 AND TABLE_1.POLICY_VERSION_ID = COI.POLICY_VERSION_ID    
									 AND COI.TOTAL_DUE < 0 AND    
									 COI.ITEM_STATUS ='RP'    
									 AND COI.ITEM_TRAN_CODE ='CANP'    
									 AND COI.UPDATED_FROM ='P') THEN '106'     
				END    
       
   WHEN TABLE_1.PROCESS_ID = 37 
		   THEN --ENDORSEMENT CANCELLATION     
				CASE WHEN EXISTS(SELECT COI.TOTAL_DUE FROM ACT_CUSTOMER_OPEN_ITEMS COI WITH(NOLOCK)    
							--INNER JOIN TABLE_1 ON    
			                    
					WHERE TABLE_1.CUSTOMER_ID = COI.CUSTOMER_ID    
					AND TABLE_1.POLICY_ID= COI.POLICY_ID    
					AND TABLE_1.POLICY_VERSION_ID = COI.POLICY_VERSION_ID    
					AND COI.TOTAL_DUE < 0     
					AND COI.ITEM_STATUS ='RP'    
					AND COI.UPDATED_FROM ='P') THEN '105' --NEGATIVE ENDORSEMENT  
			         
			          
				  WHEN NOT EXISTS(SELECT COI.TOTAL_DUE FROM ACT_CUSTOMER_OPEN_ITEMS COI WITH(NOLOCK)    
						   --INNER JOIN TABLE_1 ON    
			                  
					WHERE --COI.TOTAL_DUE < 0 AND    
					 TABLE_1.CUSTOMER_ID = COI.CUSTOMER_ID    
					AND TABLE_1.POLICY_ID= COI.POLICY_ID    
					AND TABLE_1.POLICY_VERSION_ID = COI.POLICY_VERSION_ID    
					AND  COI.ITEM_STATUS ='RP'    
					AND COI.ITEM_TRAN_CODE ='CANP'    
					AND COI.UPDATED_FROM ='P') THEN '107' --NEGATIVE ENDORSEMENT    
			          
			       
				 END    
       
        --ELSE   '107' --ENDORSEMENT CANCELLATION WITHOUT REFUND      
  END           
 END,'0') AS TIPO_MOV,    
 TABLE_1 .NUM_APOL,    
 TABLE_1.NUM_END,    
 TABLE_1.NUM_PROP,    
 TABLE_1.PR_COS_CED,    
 TABLE_1.COMIS_COSS_CED    
 --TABLE_1.*    
      
 FROM     
    
    
    
(SELECT       
      
    PPP.PROCESS_ID AS PROCESS_ID,      
    PPP.ENDORSEMENT_TYPE AS ENDORSEMENT_TYPE,      
    PCPL.CUSTOMER_ID AS CUSTOMER_ID,      
    PCPL.POLICY_ID AS POLICY_ID,      
    PCPL.POLICY_VERSION_ID AS POLICY_VERSION_ID,      
          
 -------NUMERIC SEQUENCE IN FILE----------------      
  RIGHT('0000000000'+ CAST((ROW_NUMBER() OVER (ORDER BY ACOI.IDEN_ROW_ID)) AS VARCHAR),10) AS SEQUENCE,      
       
 --------COMPANY CODE IN SUSEP------------------      
 '05045' AS COD_CIA,      
       
 ------------COINSURANCE FOLLOWER SUSEP CODE--------      
 --CAST(MRCL.REIN_COMAPANY_CODE AS VARCHAR(5)) AS COD_COSS,      
 MRCL.SUSEP_NUM   AS COD_COSS,    
 ---------PROCESS NUMBER OF PRODUCT PROVIDED BY SUSEP -------       
 --CAST(MLM.SUSEP_LOB_CODE AS VARCHAR(20)) AS NUM_PROC,      
  RIGHT('00000000000000000000'+CAST(ISNULL(MPSPN.SUSEP_PROCESS_NO,'') AS VARCHAR(20)),20)  AS NUM_PROC,    
 ---------Base month-----------        
 --DOUBT ON BASE MONTH CALCULATION AS PER COMMENT IN EXL SHEET      
     --1. WHEN BOTH DATE WILL EQUAL THEN WHICH DATE WILL BE USED?.       
     --2.'THE ONLY EXCEPTION IS ENDORSEMENT TO EXTEND POI', WHAT WILL BE CONDITION FOR THIS?         
           
 CASE WHEN PCPL.POLICY_EFFECTIVE_DATE >= PPP.COMPLETED_DATETIME       
    THEN CAST(YEAR(PPP.COMPLETED_DATETIME) AS VARCHAR)+ RIGHT('00'+CAST(MONTH(PPP.COMPLETED_DATETIME) AS VARCHAR),2)      
   WHEN PCPL.POLICY_EFFECTIVE_DATE < PPP.COMPLETED_DATETIME       
    THEN CAST(YEAR(PCPL.POLICY_EFFECTIVE_DATE) AS VARCHAR)+ RIGHT('00'+CAST(MONTH(PCPL.POLICY_EFFECTIVE_DATE) AS VARCHAR),2)      
     END AS DT_BASE,             
          
       
   ---------POLICY_NUMBER ----------      
 --DOUBT: AS PER SHEET LEN IS 20 AND POLICY_NUMBER IS LENGTH UP TO 21      
  RIGHT('00000000000000000000'+ PCPL.POLICY_NUMBER,20)  AS NUM_APOL,      
         
   --------ENDORSEMENT_NUMBER-----------      
 RIGHT('00000000000000000000'+ CAST(ISNULL(PPE.ENDORSEMENT_NO,0) AS VARCHAR),20) AS NUM_END,         
          
    ----------PROPOSAL_NUMBER---------      
  --DOUBT: AS PER SHEET LEN IS 20 AND APP NUM CAN BE LENGTH UP TO 21      
    CASE WHEN PPP.PROCESS_ID = 14 THEN RIGHT('00000000000000000000'+       
   CAST(ISNULL(PPE.ENDORSEMENT_NO,0) AS VARCHAR),20)      
         ELSE RIGHT('00000000000000000000'+PCPL.APP_NUMBER,20)  END AS NUM_PROP,           
          
    ----------COINSURANCE_FOLLOWER_PREMIUM-------------------      
     CASE WHEN   RIGHT(ACOI.ITEM_TRAN_CODE,1)='P' THEN      
  RIGHT('0000000000000000'+REPLACE(CAST(ABS(ISNULL(ACOI.TOTAL_DUE,0)) AS VARCHAR),'.',','),16) ELSE '0000000000000,00'      
   END  AS  PR_COS_CED,          
          
 -----LEADER_COINSURANCE_FEE----------------         
  --   CASE WHEN  RIGHT(ACOI.ITEM_TRAN_CODE,1)='C' THEN       
  --RIGHT('0000000000000000'+REPLACE(CAST(ABS(ISNULL(ACOI.TOTAL_DUE,0)) AS VARCHAR),'.',''),16) ELSE '0000000000000000'      
  --  END AS  COMIS_COSS_CED  
    
  (SELECT  RIGHT('0000000000000000'+REPLACE(CAST(ABS(SUM(ISNULL(ACOI2.TOTAL_DUE,0))) AS VARCHAR),'.',','),16)   
    
    FROM ACT_COI_OPEN_ITEMS ACOI2 WITH(NOLOCK)   
      WHERE ACOI.CUSTOMER_ID = ACOI2.CUSTOMER_ID      
      AND ACOI.POLICY_ID = ACOI2.POLICY_ID      
      AND ACOI.POLICY_VERSION_ID = ACOI2.POLICY_VERSION_ID  
      AND  RIGHT(ACOI2.ITEM_TRAN_CODE,1)='C'  
      AND ACOI.CO_COMPANY_ID = ACOI2.CO_COMPANY_ID  
      --AND TOTAL_DUE > 0   
      ) AS  COMIS_COSS_CED    
        
     FROM ACT_COI_OPEN_ITEMS ACOI WITH(NOLOCK)    
INNER JOIN POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK)     
    ON ACOI.CUSTOMER_ID = PCPL.CUSTOMER_ID    
    AND ACOI.POLICY_ID = PCPL.POLICY_ID    
    AND ACOI.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID    
LEFT JOIN POL_POLICY_ENDORSEMENTS PPE WITH(NOLOCK)    
    ON PPE.CUSTOMER_ID = PCPL.CUSTOMER_ID    
    AND PPE.POLICY_ID = PCPL.POLICY_ID    
    AND PPE.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID    
INNER JOIN POL_POLICY_PROCESS PPP WITH(NOLOCK)    
       ON PPP.CUSTOMER_ID = PCPL.CUSTOMER_ID    
    AND PPP.POLICY_ID = PCPL.POLICY_ID    
    AND PPP.NEW_POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID    
    AND PPP.PROCESS_ID IN (14,25,12)--NBS,RENEWAL,END    
INNER JOIN MNT_REIN_COMAPANY_LIST MRCL WITH(NOLOCK)    
    ON MRCL.REIN_COMAPANY_ID = ACOI.CO_COMPANY_ID    
INNER JOIN MNT_LOB_MASTER MLM  WITH(NOLOCK)      
    ON MLM.LOB_ID = PCPL.POLICY_LOB  
LEFT JOIN MNT_PRODUCT_SUSEP_PROCESS_NUMBER MPSPN  WITH (NOLOCK)        
  ON MPSPN.LOB_ID =  PCPL.POLICY_LOB      
  AND MPSPN.SUBLOB_ID = PCPL.POLICY_SUBLOB
    
        
  WHERE CASE WHEN PCPL.POLICY_EFFECTIVE_DATE >= PPP.COMPLETED_DATETIME THEN CAST(YEAR(PPP.COMPLETED_DATETIME) AS VARCHAR) + CAST(MONTH(PPP.COMPLETED_DATETIME) AS VARCHAR)      
     WHEN PCPL.POLICY_EFFECTIVE_DATE < PPP.COMPLETED_DATETIME THEN CAST(YEAR(PCPL.POLICY_EFFECTIVE_DATE) AS VARCHAR) + CAST(MONTH(PCPL.POLICY_EFFECTIVE_DATE) AS VARCHAR)      
         END =  CAST(YEAR(@DATETIME) AS VARCHAR) + CAST(MONTH(@DATETIME) AS VARCHAR)       
      AND (@POLICY_NUMBER IS NULL OR PCPL.POLICY_NUMBER =  @POLICY_NUMBER)      
      AND  PCPL.CO_INSURANCE = 14548  
      AND  RIGHT(ACOI.ITEM_TRAN_CODE,1)='P'   
 )   TABLE_1    
        
             
    
END   
GO

