IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_GETPOLSTATENAMEFORID]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_GETPOLSTATENAMEFORID]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

 /*----------------------------------------------------------  
PROC NAME         : DBO.PROC_GETPOLSTATENAMEFORID  
CREATED BY        : SWASTIKA GAUR  
DATE                  : 11TH AUGUST'06  
PURPOSE             : GET STATE NAME BASED ON THE PARAMETERS PASSED  
REVISON HISTORY  :  
USED IN              :   WOLVERINE    
------------------------------------------------------------  
DATE     REVIEW BY          COMMENTS  
------   ------------       -------------------------*/   
-- DROP PROC DBO.PROC_GETPOLSTATENAMEFORID 2043,100,1 
CREATE PROCEDURE DBO.PROC_GETPOLSTATENAMEFORID  
(  
 @CUSTID  INT,    
 @POLID  INT,    
 @POLVERID  INT   
)  
AS  
BEGIN   
 SELECT A.STATE_ID,M.STATE_NAME 
 FROM POL_CUSTOMER_POLICY_LIST A WITH(NOLOCK)
 LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST M WITH(NOLOCK)  
 ON A.STATE_ID = M.STATE_ID   
 WHERE CUSTOMER_ID=@CUSTID AND POLICY_ID=@POLID AND POLICY_VERSION_ID=@POLVERID  
END  

GO

