IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_Report_Temp]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_Report_Temp]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



-- Proc_Report_Temp '770','03/07/2007'  

CREATE PROC Dbo.Proc_Report_Temp  
(  
	--@CUSTOMER_ID VARCHAR(200),  
	@CUSTOMER_ID VARCHAR(8000),  
	@APP_INCEPTION_DATE VARCHAR(30)
)  
AS  
BEGIN   
  
	--DECLARE @STR VARCHAR(2000)    
	DECLARE @STR VARCHAR(8000)    
	SELECT @STR ='SELECT LTRIM(RTRIM(C.CUSTOMER_FIRST_NAME + '' '' + ISNULL(C.CUSTOMER_MIDDLE_NAME, '''') + '' '' + ISNULL(C.CUSTOMER_LAST_NAME, ''''))) AS CUSTOMER_NAME,  
		ISNULL(POLICY_NUMBER,'''')AS POLICY_NUMBER ,ISNULL(CUSTOMER_ADDRESS1,'''') AS CUSTOMER_ADDRESS1,  
		ISNULL(CUSTOMER_ADDRESS2,'''') AS CUSTOMER_ADDRESS2,  
		ISNULL(CUSTOMER_CITY,'''') AS CUSTOMER_CITY,POLICY_ID,POLICY_VERSION_ID, C.CUSTOMER_ID  
		FROM CLT_CUSTOMER_LIST C   
		INNER JOIN POL_CUSTOMER_POLICY_LIST  P   
		ON P.CUSTOMER_ID = C.CUSTOMER_ID '  
	
	--SELECT @STR = @STR + 'WHERE C.CUSTOMER_ID IN (' + @CUSTOMER_ID + ')   
	--	AND  CONVERT(DATETIME,CONVERT(VARCHAR,APP_INCEPTION_DATE,101)) <= CONVERT(DATETIME,CONVERT(VARCHAR,''' + @APP_INCEPTION_DATE + ''',101))'  
	
	SELECT @STR = @STR + 'WHERE CONVERT(DATETIME,CONVERT(VARCHAR,APP_INCEPTION_DATE,101)) <= CONVERT(DATETIME,CONVERT(VARCHAR,''' + @APP_INCEPTION_DATE + ''',101))' 		
	
	IF (@CUSTOMER_ID <> '0')
	BEGIN
		--SELECT @sql=@sql + ' WHERE ACT_AGENCY_STATEMENT.AGENCY_ID = ' + CAST(@AgencyID AS VARCHAR(10))
		SELECT @STR=@STR + ' AND C.CUSTOMER_ID IN (' + @CUSTOMER_ID + ')' 
	END
	PRINT @STR  
	EXEC (@STR)    
END  
   


GO

