IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetUmbrellaDriverDetails]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetUmbrellaDriverDetails]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


--drop proc Proc_GetUmbrellaDriverDetails
 CREATE PROC dbo.Proc_GetUmbrellaDriverDetails            
(            
 @CUSTOMER_ID int,            
 @APP_ID  int,            
 @APP_VERSION_ID int,            
 @DRIVER_ID    smallint            
)            
AS            
BEGIN            
SELECT  CUSTOMER_ID, DRIVER_ID, DRIVER_FNAME, DRIVER_MNAME, DRIVER_LNAME, DRIVER_CODE, DRIVER_SUFFIX, DRIVER_ADD1,            
 DRIVER_ADD2, DRIVER_CITY, DRIVER_STATE, DRIVER_ZIP, DRIVER_COUNTRY, DRIVER_HOME_PHONE, DRIVER_BUSINESS_PHONE,            
 DRIVER_EXT, DRIVER_MOBILE, Convert(Varchar,DRIVER_DOB,101) As DRIVER_DOB, DRIVER_SSN, DRIVER_MART_STAT, DRIVER_SEX, DRIVER_DRIV_LIC,DRIVER_LIC_STATE,            
 DRIVER_LIC_CLASS,Convert(Varchar, DATE_EXP_START,101) As DATE_EXP_START , Convert(Varchar, DATE_LICENSED, 101) As DATE_LICENSED,            
 DRIVER_REL, DRIVER_DRIV_TYPE, DRIVER_OCC_CODE, DRIVER_OCC_CLASS,            
 DRIVER_DRIVERLOYER_NAME, DRIVER_DRIVERLOYER_ADD, floor(DRIVER_INCOME) DRIVER_INCOME, DRIVER_BROADEND_NOFAULT, DRIVER_PHYS_MED_IMPAIRE,            
 DRIVER_DRINK_VIOLATION, DRIVER_PREF_RISK, DRIVER_GOOD_STUDENT, DRIVER_STUD_DIST_OVER_HUNDRED, DRIVER_LIC_SUSPENDED,            
 DRIVER_VOLUNTEER_POLICE_FIRE, DRIVER_US_CITIZEN, IS_ACTIVE, CREATED_BY, Convert(Varchar, CREATED_DATETIME, 101) as CREATED_DATETIME, MODIFIED_BY,            
 Convert(Varchar, LAST_UPDATED_DATETIME, 101) as LAST_UPDATED_DATETIME,DRIVER_FAX,RELATIONSHIP,SAFE_DRIVER_RENEWAL_DISCOUNT,        
 ISNULL(APP_VEHICLE_PRIN_OCC_ID,0) AS APP_VEHICLE_PRIN_OCC_ID, ISNULL(VEHICLE_ID,0) AS VEHICLE_ID ,  
 ISNULL(OP_VEHICLE_ID,0) AS OP_VEHICLE_ID , ISNULL(OP_APP_VEHICLE_PRIN_OCC_ID,0) AS OP_APP_VEHICLE_PRIN_OCC_ID,   
 ISNULL(OP_DRIVER_COST_GAURAD_AUX,0) AS OP_DRIVER_COST_GAURAD_AUX,MOT_VEHICLE_ID,MOT_APP_VEHICLE_PRIN_OCC_ID  
  
        
FROM  APP_UMBRELLA_DRIVER_DETAILS            
WHERE  CUSTOMER_ID = @CUSTOMER_ID AND            
 APP_ID = @APP_ID AND            
 APP_VERSION_ID = @APP_VERSION_ID AND            
 DRIVER_ID = @DRIVER_ID            
            
END            
          
        
      

    
  



GO

