IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_SUSEP_RURAL_ANIMALS_INSURENCE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_SUSEP_RURAL_ANIMALS_INSURENCE]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- =============================================        
-- Author:  SHIKHA CHOURASIYA        
-- Create date : 07-15-2011        
-- Description: S_RURAL - Data of Rural Insurance and Animals InsuranceITRACK - 1246        
-- Modified date : 23-08-2011      
--EXEC [PROC_SUSEP_RURAL_ANIMALS_INSURENCE] '08-08-2011'        
--DROP PROC [PROC_SUSEP_RURAL_ANIMALS_INSURENCE]         
-- =============================================        
     
CREATE PROCEDURE [dbo].[PROC_SUSEP_RURAL_ANIMALS_INSURENCE]      
 -- Add the parameters for the stored procedure here      
 @DATETIME DATETIME      
AS      
BEGIN      
 -- SET NOCOUNT ON added to prevent extra result sets from      
 -- interfering with SELECT statements.      
 SET NOCOUNT ON;      
 DECLARE @YEAR VARCHAR(4)      
 SET @YEAR=(SELECT DATEPART(YYYY, @DATETIME))       
      
 --SET @YEAR = DATEPART(YYYY,CONVERT(VARCHAR(4),@DATETIME))      
    -- Insert statements for procedure here      
 SELECT '504-5' AS COD_SEG,      
 --------------- PROCESS_NUMBER----------      
 RIGHT('00000000000000000000'+ISNULL(CONVERT(VARCHAR,MPSPN.SUSEP_PROCESS_NO),''),20) AS PROCESSO,         
 -------------POLICY_NUMBER----------------      
 ISNULL(CONVERT(VARCHAR(20),RIGHT(PCPL.POLICY_NUMBER,20)),'') AS APOLICE,      
 -------------ENDORSEMENT_NO----------------    
 RIGHT('00000000000000000000'+ CONVERT(VARCHAR,ISNULL(PPE.ENDORSEMENT_NO,0)),20) AS ENDOSSO,       
 -----------------------------------------------------------------------------------------------------        
   --FILL WITH IDENTIFICATION ITEM OF RISK IN CASE OF COLLECTIVE POLICY,         
   --ELSE FILL WITH THE VALUE "000001". THE NUMBER SHOULD BE ALLIGNED TO RIGHT,         
   --AND COMPLETED WITH ZEROS TO LEFT.        
 -----------------------------------------------------------------------------------------------------        
 RIGHT('000000000000'+ CAST((SELECT CASE WHEN CIP.ITEM_NUMBER > 1 THEN CIP.ITEM_NUMBER  ELSE 0 END AS ITEM_NUMBER            
         FROM VW_POL_PRODUCT_RISK_DETAILS P WITH(NOLOCK)          
            WHERE CIP.POL_RISK_ID= P.RISK_ID AND           
            CCI.CUSTOMER_ID = P.CUSTOMER_ID AND           
            CCI.POLICY_ID = P.POLICY_ID AND           
            CCI.POLICY_VERSION_ID=P.POLICY_VERSION_ID) AS VARCHAR),12) AS ITEM,      
 ----------------FESR_COVERAGE-------------      
 CASE WHEN CIP.RURAL_FESR_COVERAGE = '10963' THEN 'S'      
      WHEN CIP.RURAL_FESR_COVERAGE = '10964' THEN 'N'      
      END AS COB_FUNDO,      
--------------RURAL_MODE-------------------        
 CASE WHEN CIP.RURAL_MODE = MLV.LOOKUP_UNIQUE_ID THEN MLV.LOOKUP_VALUE_CODE       
      END AS COD_MOD,      
---------------RURAL_PROPERTY----------------        
 CASE WHEN CIP.RURAL_MODE IN ('14758','14759','14760') THEN (          
 CASE WHEN CIP.RURAL_PROPERTY = MLV.LOOKUP_UNIQUE_ID THEN MLV.LOOKUP_VALUE_CODE END)      
      ELSE '99'      
      END AS ID_BEM,      
----------------COVRAGE_TYPE-----------------      
 CASE WHEN CPC.COVERAGE_CODE_ID = '4184' THEN '10'      
      WHEN CPC.COVERAGE_CODE_ID = '4185' THEN '20'      
      WHEN CPC.COVERAGE_CODE_ID = '4186' THEN '30'      
      WHEN CPC.COVERAGE_CODE_ID = '4187' THEN '40'      
      WHEN CPC.COVERAGE_CODE_ID = '4188' THEN '50'      
      WHEN CPC.COVERAGE_CODE_ID = '4189' THEN '60'      
      WHEN CPC.COVERAGE_CODE_ID = '4190' THEN '70'      
      WHEN CPC.COVERAGE_CODE_ID = '4191' THEN '80'      
      WHEN CPC.COVERAGE_CODE_ID = '4192' THEN '90'      
      WHEN CPC.COVERAGE_CODE_ID = '4193' THEN '100'      
      WHEN CPC.COVERAGE_CODE_ID = '4194' THEN '110'      
      WHEN CPC.COVERAGE_CODE_ID = '4195' THEN '120'      
      WHEN CPC.COVERAGE_CODE_ID = '4196' THEN '130'      
      WHEN CPC.COVERAGE_CODE_ID = '4197' THEN '140'      
      WHEN CPC.COVERAGE_CODE_ID = '4198' THEN '150'      
      WHEN CPC.COVERAGE_CODE_ID = '4199' THEN '160'      
      WHEN CPC.COVERAGE_CODE_ID = '4200' THEN '170'      
      WHEN CPC.COVERAGE_CODE_ID = '4201' THEN '180'      
      WHEN CPC.COVERAGE_CODE_ID = '4202' THEN '190'      
      WHEN CPC.COVERAGE_CODE_ID = '4203' THEN '200'      
      WHEN CPC.COVERAGE_CODE_ID = '4204' THEN '210'      
      WHEN CPC.COVERAGE_CODE_ID = '4205' THEN '220'      
      WHEN CPC.COVERAGE_CODE_ID = '4206' THEN '230'      
      WHEN CPC.COVERAGE_CODE_ID = '4207' THEN '240'      
      WHEN CPC.COVERAGE_CODE_ID = '4208' THEN '250'      
      WHEN CPC.COVERAGE_CODE_ID = '4209' THEN '260'      
      WHEN CPC.COVERAGE_CODE_ID = '4210' THEN '270'      
      WHEN CPC.COVERAGE_CODE_ID = '4211' THEN '280'      
      WHEN CPC.COVERAGE_CODE_ID = '4212' THEN '290'      
      WHEN CPC.COVERAGE_CODE_ID = '4213' THEN '300'      
      WHEN CPC.COVERAGE_CODE_ID = '4214' THEN '310'      
      WHEN CPC.COVERAGE_CODE_ID = '4215' THEN '320'      
      WHEN CPC.COVERAGE_CODE_ID = '4216' THEN '330'      
      WHEN CPC.COVERAGE_CODE_ID = '4217' THEN '340'      
      WHEN CPC.COVERAGE_CODE_ID = '4218' THEN '999'        
      END AS COBERTURA,      
 ---------------CULTIVATION_TYPE--------------        
 CASE WHEN CIP.RURAL_MODE IN ('14754') THEN RIGHT(''+ISNULL((      
 CASE WHEN CIP.RURAL_CULTIVATION = MLV.LOOKUP_UNIQUE_ID THEN MLV.LOOKUP_VALUE_CODE END),0),8)      
      ELSE '99999999'      
      END AS CULTURA,      
 -----------------DIST_CODE---------------------      
 CASE WHEN CIP.CITY1 NOT IN (MZCS.CITY) THEN RIGHT(''+'07388',6)      
      ELSE --MZCS.SUSEP_CITY_CODE      
      RIGHT(''+ISNULL((SELECT TOP 1 MZCS.SUSEP_CITY_CODE FROM CLM_INSURED_PRODUCT CIP WITH(NOLOCK) 	  
		LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST MCSL1 WITH(NOLOCK) ON CONVERT(VARCHAR,CIP.STATE1) = CONVERT(VARCHAR ,MCSL1.STATE_ID) OR CONVERT(VARCHAR,CIP.STATE1) = CONVERT(VARCHAR ,MCSL1.STATE_CODE)      
		LEFT OUTER JOIN MNT_ZIP_CODES MZC WITH(NOLOCK) ON CONVERT(VARCHAR,CIP.CITY1) = CONVERT(VARCHAR,MZC.CITY) AND CONVERT(VARCHAR,MCSL1.STATE_CODE) = CONVERT(VARCHAR,MZC.STATE)         
		LEFT OUTER JOIN MNT_ZIP_CODES_SUSEP_CITY MZCS WITH(NOLOCK) ON CONVERT(VARCHAR,MZC.CITY) = CONVERT(VARCHAR,MZCS.CITY) AND CONVERT(VARCHAR,MZC.STATE) = CONVERT(VARCHAR,MZCS.STATE)
		WHERE CCI.CLAIM_ID = CIP.CLAIM_ID),0),6)
      END AS MUNIC,      
 ----------------FILL WITH STATE ABBREVIATION CODE OF LOCAL OF RISK.        
 RIGHT('  '+ISNULL(MCSL.STATE_CODE,''),2) AS UF,        
 -------------------------------------------------------------------------------------------------------        
    --FILL WITH TOTAL VALUE OF INDEMINITY PAID IN COVERAGE.         
    --FOR CASE OF WARNING CLAIM AND NOT PAID, THE INSURER SHOULD BE INFORM TH AMONT OF THIS INDEMINITY.        
 -------------------------------------------------------------------------------------------------------        
 RIGHT((SELECT CASE WHEN SUM(ISNULL(CLM_R.PAYMENT_AMOUNT,0)) = 0 THEN  SUM(ISNULL(CLM_R.OUTSTANDING,0)) ELSE SUM(ISNULL(CLM_R.PAYMENT_AMOUNT,0)) END        
 FROM CLM_ACTIVITY CA WITH(NOLOCK)        
 LEFT OUTER JOIN CLM_ACTIVITY_RESERVE CLM_R WITH(NOLOCK) ON CLM_R.CLAIM_ID=CA.CLAIM_ID         
             AND CLM_R.ACTIVITY_ID=CA.ACTIVITY_ID 
			 AND CA.ACTIVITY_STATUS = 11801        
             AND (CASE WHEN CA.ACTION_ON_PAYMENT IN(165,166,168) THEN CLM_R.OUTSTANDING_TRAN -- FOR ACTIVITY CREAION, CHANGE RESERVE, REOPEN RESERVE          
        WHEN CA.ACTION_ON_PAYMENT IN(180,181) THEN CLM_R.PAYMENT_AMOUNT   -- FOR PAYMENT ACTIVITY          
        WHEN CA.ACTION_ON_PAYMENT IN(190,192) THEN CLM_R.RECOVERY_AMOUNT  -- FOR RECOVERY ACTIVITY          
        END)<>0   
        WHERE CA.CLAIM_ID = CCI.CLAIM_ID   
        ),13) AS INDENIZ,      
 RIGHT(CCI.PAID_EXPENSE,13) AS DESP_SIN,           
 00 AS EV_GER,           
 --------------------FILL WITH TOTAL VALUE (IN R$) OF PARTICIPATION OF INSURED IN LOSSES. -----------       
 RIGHT((SELECT SUM(ISNULL(PPC.DEDUCTIBLE_1,0)) FROM POL_PRODUCT_COVERAGES PPC WITH(NOLOCK)        
   WHERE PPC.CUSTOMER_ID = PCPL.CUSTOMER_ID         
   AND PPC.POLICY_ID = PCPL.POLICY_ID         
   AND PPC.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID),11) AS VAL_FRANQ,      
         
 CONVERT(VARCHAR(8),CCI.FIRST_NOTICE_OF_LOSS,112) AS D_AVISO,        
                
                
 -----------------FILL WITH THE DATE OF LIQUIDATION OF THE CLAIMYYYYMMDD.-------------   
  CASE CA.ACTION_ON_PAYMENT   
   WHEN  '167' THEN CONVERT(VARCHAR(8),(SELECT TOP 1 CA.ACTIVITY_DATE FROM CLM_ACTIVITY CA WITH(NOLOCK) WHERE CA.CLAIM_ID = CCI.CLAIM_ID ORDER BY ACTIVITY_ID DESC),112)   
   ELSE CASE WHEN  CA.ACTION_ON_PAYMENT = '181' THEN  CONVERT(VARCHAR(8),(SELECT TOP 1 CA.ACTIVITY_DATE FROM CLM_ACTIVITY CA WITH(NOLOCK) WHERE CA.CLAIM_ID = CCI.CLAIM_ID ORDER BY ACTIVITY_ID DESC),112) END END AS D_LIQ,       
  --(SELECT TOP 1 CA.COMPLETED_DATE FROM CLM_ACTIVITY CA WITH(NOLOCK)         
  -- WHERE ACTION_ON_PAYMENT = 180 AND CA.CLAIM_ID = CCI.CLAIM_ID ORDER BY ACTIVITY_ID DESC) AS D_LIQ,      
   CONVERT(VARCHAR(8),CCI.LOSS_DATE,112) AS D_OCORR_INI,      
   CONVERT(VARCHAR(8),CCI.LOSS_DATE,112) AS D_OCORR_FIM             
                  
 FROM CLM_CLAIM_INFO CCI WITH (NOLOCK)       
 INNER JOIN CLM_ACTIVITY  CA WITH (NOLOCK) ON CA.CLAIM_ID = CCI.CLAIM_ID AND CA.ACTION_ON_PAYMENT IN (167,181)  
 INNER JOIN POL_CUSTOMER_POLICY_LIST PCPL (NOLOCK) ON PCPL.CUSTOMER_ID = CCI.CUSTOMER_ID AND PCPL.POLICY_ID = CCI.POLICY_ID AND PCPL.POLICY_VERSION_ID = CCI.POLICY_VERSION_ID     
    LEFT OUTER JOIN POL_POLICY_PROCESS PPP (NOLOCK) ON PPP.CUSTOMER_ID = PCPL.CUSTOMER_ID AND PPP.POLICY_ID = PCPL.POLICY_ID AND PPP.NEW_POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID         
    LEFT OUTER JOIN MNT_PRODUCT_SUSEP_PROCESS_NUMBER MPSPN (NOLOCK) ON PCPL.POLICY_LOB = MPSPN.LOB_ID AND PCPL.POLICY_SUBLOB = MPSPN.SUBLOB_ID      
    LEFT OUTER JOIN POL_POLICY_ENDORSEMENTS PPE WITH(NOLOCK) ON PPE.CUSTOMER_ID = PCPL.CUSTOMER_ID AND PPE.POLICY_ID = PCPL.POLICY_ID AND PPE.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID      
    INNER JOIN CLM_INSURED_PRODUCT CIP WITH(NOLOCK) ON CCI.CLAIM_ID = CIP.CLAIM_ID      
    INNER JOIN CLM_PRODUCT_COVERAGES CPC WITH(NOLOCK) ON CCI.CLAIM_ID = CPC.CLAIM_ID AND IS_RISK_COVERAGE='Y'      
    LEFT OUTER JOIN MNT_COVERAGE MC WITH(NOLOCK) ON CPC.COVERAGE_CODE_ID = MC.COV_ID       
    LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV WITH(NOLOCK) ON CIP.RURAL_MODE = MLV.LOOKUP_UNIQUE_ID AND MLV.LOOKUP_ID = 1407      
    LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV_1 WITH(NOLOCK) ON CIP.RURAL_PROPERTY = MLV.LOOKUP_UNIQUE_ID AND MLV.LOOKUP_ID = 1408      
    LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV_2 WITH(NOLOCK) ON CIP.RURAL_CULTIVATION = MLV.LOOKUP_UNIQUE_ID AND MLV.LOOKUP_ID = 1409    
    LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST MCSL1 WITH(NOLOCK) ON CIP.COUNTRY1 = MCSL1.COUNTRY_ID AND (CIP.STATE1 = CONVERT(VARCHAR ,MCSL1.STATE_ID) OR CIP.STATE1 = CONVERT(VARCHAR ,MCSL1.STATE_CODE))     
    LEFT OUTER JOIN MNT_ZIP_CODES MZC WITH(NOLOCK) ON CIP.CITY1 = MZC.CITY AND MCSL1.STATE_CODE = MZC.STATE       
    LEFT OUTER JOIN MNT_ZIP_CODES_SUSEP_CITY MZCS WITH(NOLOCK) ON MZC.CITY = MZCS.CITY AND MZC.STATE = MZCS.STATE       
    INNER JOIN MNT_DIV_LIST MDL WITH(NOLOCK) ON (MDL.DIV_ID = PCPL.DIV_ID)        
    INNER JOIN MNT_COUNTRY_STATE_LIST MCSL WITH(NOLOCK) ON (MCSL.STATE_ID = MDL.DIV_STATE AND MCSL.COUNTRY_ID = MDL.DIV_COUNTRY)      
          
    WHERE     
    --PCPL.SUSEP_LOB_CODE = '1163' AND     
     PCPL.POLICY_LOB = '35' AND     
    YEAR(CCI.CREATED_DATETIME) = @YEAR  AND   
    ISNULL(CCI.OFFCIAL_CLAIM_NUMBER,'') <> ''     
END        
GO 

