IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_CopyCustomerTabs]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_CopyCustomerTabs]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--drop PROC dbo.Proc_CopyCustomerTabs        
CREATE PROC [dbo].[Proc_CopyCustomerTabs]                                                             
(                                                                    
@CUSTOMER_ID int,        
@USER_ID int,          
@New_Cust_Id  int   OUTPUT                                                    
)                                                                    
AS                                                                    
BEGIN                                                 
DECLARE @APPLICANT_ID int,          
        @CUST_ID int,          
 @NEW_CUSTOMER_ID int,          
 @NEW_APPLICANT_ID int          
          
DECLARE          
@TITLE varchar(10),          
@SUFFIX varchar(5),           
@FIRST_NAME varchar(25),           
@MIDDLE_NAME varchar(10),          
@LAST_NAME varchar(25),           
@ADDRESS1 varchar(150),           
@ADDRESS2 varchar(150),           
@CITY varchar(70),          
@COUNTRY varchar(10),           
@STATE varchar(10),                                
@ZIP_CODE varchar(20),          
@PHONE varchar(20),          
@EMAIL varchar(50),          
@IS_ACTIVE nchar(1),           
@CREATED_BY int,           
@CREATED_DATETIME DateTime,          
@CO_APPL_MARITAL_STATUS nchar(1),          
@CO_APPL_SSN_NO nvarchar(88),          
@CO_APPL_DOB DateTime,                           
@CO_APPLI_OCCU int,          
@CO_APPLI_EMPL_NAME nvarchar(75),          
@CO_APPLI_EMPL_ADDRESS nvarchar(75),           
@CO_APPLI_EMPL_ADDRESS1 varchar(75),           
@CO_APPLI_YEARS_WITH_CURR_EMPL real,          
@CO_APPL_YEAR_CURR_OCCU real,          
@IS_PRIMARY_APPLICANT int,          
@DESC_CO_APPLI_OCCU varchar(200),                  
@CO_APPLI_EMPL_CITY varchar(70),          
@CO_APPLI_EMPL_COUNTRY varchar(10),          
@CO_APPLI_EMPL_STATE varchar(10),          
@CO_APPLI_EMPL_ZIP_CODE varchar(12),          
@CO_APPLI_EMPL_PHONE varchar(20),          
@CO_APPLI_EMPL_EMAIL varchar(50),          
@PER_CUST_MOBILE nvarchar(15),          
@EMP_EXT nvarchar(6),          
@CO_APPL_GENDER  varchar(20),          
@MOBILE nvarchar(20),           
@BUSINESS_PHONE nvarchar(20),          
@EXT nvarchar(5),          
@CO_APPL_RELATIONSHIP varchar(25),
@BANK_NAME nvarchar(50),
@BANK_NUMBER nvarchar(40),
@BANK_BRANCH  nvarchar(40),
@ACCOUNT_NUMBER  nvarchar(40),
@ACCOUNT_TYPE int      
         
-- Added by Asfa (08-Apr-2008) - iTrack issue #3924          
        
DECLARE @TRANS_TYPE_ID  smallint                          
DECLARE @CLIENT_ID   int                          
DECLARE @POLICY_ID   int                          
DECLARE @POLICY_VER_TRACKING_ID smallint                          
DECLARE @RECORDED_BY    smallint                          
DECLARE @RECORDED_BY_NAME  nvarchar(75)                          
DECLARE @RECORD_DATE_TIME  datetime                          
DECLARE @TRANS_DESC   NVARCHAR(2000)                          
DECLARE @ENTITY_ID   int                          
DECLARE @ENTITY_TYPE   nvarchar(5)                          
DECLARE @IS_COMPLETED    nchar(1)                          
DECLARE @CHANGE_XML    NVARCHAR(2000)                          
DECLARE @APP_ID    int                          
DECLARE @APP_VERSION_ID  smallint                          
DECLARE @QUOTE_ID   int                          
DECLARE @QUOTE_VERSION_ID  smallint                        
DECLARE @CUSTOM_INFO   varchar(2000)        
        
---------------- End by Asfa             
          
DECLARE @sqlStmt Varchar(400)          
          
--ADDED BY PRAVEEN KASANA 15 FEB 2008          
--Generating new Customer Code when Client Being Copied.          
Declare @CUSTOMER_FIRST_NAME VARCHAR(30)          
Declare @CUSTOMER_LAST_NAME VARCHAR(30)          
DECLARE @CUSTOMER_CODE VARCHAR(10)          
DECLARE @OLD_CUSTOMER_CODE VARCHAR(10)    
    
----Start Declare  Added BY LALIT    
DECLARE @POSITION int    
DECLARE @CONTACT_CODE nvarchar(20)     
DECLARE @ID_TYPE int    
DECLARE @ID_TYPE_NUMBER nvarchar(20)    
DECLARE @NUMBER nvarchar(20)    
DECLARE @COMPLIMENT nvarchar(20)    
DECLARE @DISTRICT nvarchar(20)    
DECLARE @NOTE nvarchar(250)    
DECLARE @REGIONAL_IDENTIFICATION nvarchar(20)    
DECLARE @REG_ID_ISSUE datetime    
DECLARE @ORIGINAL_ISSUE nvarchar(20)    
DECLARE @FAX nvarchar(20)    
DECLARE @CPF_CNPJ nvarchar(20)    
DECLARE @APPLICANT_TYPE int    
    
--END ADDED    
    
    
          
          
SELECT            
@CUSTOMER_FIRST_NAME = CUSTOMER_FIRST_NAME,          
@CUSTOMER_LAST_NAME = CUSTOMER_LAST_NAME,        
@RECORDED_BY = CREATED_BY,        
@OLD_CUSTOMER_CODE = CUSTOMER_CODE        
FROM CLT_CUSTOMER_LIST WITH(NOLOCK)          
WHERE CUSTOMER_ID=@CUSTOMER_ID          
          
EXECUTE Proc_GetRandomCustomerCode @CUSTOMER_FIRST_NAME,@CUSTOMER_LAST_NAME,@CUSTOMER_CODE OUT          
          
--END GENERATING CODE          
                               
Select * from  CLT_CUSTOMER_LIST              
INSERT INTO CLT_CUSTOMER_LIST    
(CUSTOMER_CODE,    
CUSTOMER_TYPE,    
CUSTOMER_PARENT,    
CUSTOMER_SUFFIX,    
CUSTOMER_FIRST_NAME,    
CUSTOMER_MIDDLE_NAME,    
CUSTOMER_LAST_NAME,    
CUSTOMER_ADDRESS1,    
CUSTOMER_ADDRESS2,          
CUSTOMER_CITY,    
CUSTOMER_COUNTRY,    
CUSTOMER_STATE,    
CUSTOMER_ZIP,    
CUSTOMER_BUSINESS_TYPE,    
CUSTOMER_BUSINESS_DESC,    
CUSTOMER_CONTACT_NAME,    
CUSTOMER_BUSINESS_PHONE,    
CUSTOMER_EXT,    
CUSTOMER_HOME_PHONE,    
CUSTOMER_MOBILE,          
CUSTOMER_FAX,    
CUSTOMER_PAGER_NO,    
CUSTOMER_Email,    
CUSTOMER_WEBSITE,    
CUSTOMER_INSURANCE_SCORE,    
CUSTOMER_INSURANCE_RECEIVED_DATE,    
CUSTOMER_LATE_CHARGES,    
CUSTOMER_LATE_NOTICES,    
CUSTOMER_SEND_STATEMENT,    
CUSTOMER_RECEIVABLE_DUE_DAYS,          
CUSTOMER_AGENCY_ID,    
IS_ACTIVE,    
CREATED_BY,    
CREATED_DATETIME,    
CUSTOMER_ATTENTION_NOTE,    
PREFIX,    
CUSTOMER_REASON_CODE2,    
CUSTOMER_REASON_CODE3,    
CUSTOMER_REASON_CODE4,    
CUSTOMER_REASON_CODE,    
ATTENTION_NOTE_UPDATED,          
IS_HOME_EMPLOYEE,    
LAST_INSURANCE_SCORE_FETCHED,    
APPLICANT_OCCU,    
DATE_OF_BIRTH,    
EMPLOYER_ADDRESS,    
EMPLOYER_NAME,    
MARITAL_STATUS,    
SSN_NO,    
YEARS_WITH_CURR_EMPL,    
DESC_APPLICANT_OCCU,    
LAST_MVR_SCORE_FETCHED,    
EMPLOYER_ADD1,          
EMPLOYER_ADD2,    
EMPLOYER_CITY,    
EMPLOYER_COUNTRY,    
EMPLOYER_STATE,    
EMPLOYER_ZIPCODE,    
EMPLOYER_HOMEPHONE,    
EMPLOYER_EMAIL,    
YEARS_WITH_CURR_OCCU,    
GENDER,    
PER_CUST_MOBILE,    
EMP_EXT,    
-- Start Added By Lalit For New Field Added In CLT_CUSTOMER_LIST TABLE    
NUMBER,    
DISTRICT,    
CPF_CNPJ,    
MAIN_TITLE,    
MAIN_POSITION,    
MAIN_CPF_CNPJ,    
MAIN_ADDRESS,    
MAIN_NUMBER,    
MAIN_COMPLIMENT,    
MAIN_DISTRICT,    
MAIN_NOTE,    
MAIN_CONTACT_CODE,    
REGIONAL_IDENTIFICATION,    
REG_ID_ISSUE,    
ORIGINAL_ISSUE,    
MAIN_CITY,    
MAIN_STATE,    
MAIN_COUNTRY,    
MAIN_ZIPCODE,    
MAIN_FIRST_NAME,    
MAIN_MIDDLE_NAME,    
MAIN_LAST_NAME, -----END ADDED 
-- Start Added By Aditya For New Field Added In CLT_CUSTOMER_LIST TABLE    
ID_TYPE,
MONTHLY_INCOME,
AMOUNT_TYPE,
CADEMP,
NET_ASSETS_AMOUNT,
REGIONAL_IDENTIFICATION_TYPE,
NATIONALITY,
EMAIL_ADDRESS,
IS_POLITICALLY_EXPOSED  -----END ADDED 
     
)          
     
     
 SELECT @CUSTOMER_CODE,    
 CUSTOMER_TYPE,    
 CUSTOMER_PARENT,    
 CUSTOMER_SUFFIX,    
 CUSTOMER_FIRST_NAME,    
 CUSTOMER_MIDDLE_NAME,    
 CUSTOMER_LAST_NAME,    
 CUSTOMER_ADDRESS1,    
 CUSTOMER_ADDRESS2,          
CUSTOMER_CITY,    
CUSTOMER_COUNTRY,    
CUSTOMER_STATE,    
CUSTOMER_ZIP,    
CUSTOMER_BUSINESS_TYPE,    
CUSTOMER_BUSINESS_DESC,    
CUSTOMER_CONTACT_NAME,    
CUSTOMER_BUSINESS_PHONE,    
CUSTOMER_EXT,    
CUSTOMER_HOME_PHONE,    
CUSTOMER_MOBILE,          
CUSTOMER_FAX,    
CUSTOMER_PAGER_NO,    
CUSTOMER_Email,    
CUSTOMER_WEBSITE,    
CUSTOMER_INSURANCE_SCORE,    
CUSTOMER_INSURANCE_RECEIVED_DATE,    
CUSTOMER_LATE_CHARGES,    
CUSTOMER_LATE_NOTICES,    
CUSTOMER_SEND_STATEMENT,    
CUSTOMER_RECEIVABLE_DUE_DAYS,          
-- Modified by Asfa (08-Apr-2008) - iTrack issue #3924          
--CUSTOMER_AGENCY_ID,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,CUSTOMER_ATTENTION_NOTE,PREFIX,CUSTOMER_REASON_CODE2,CUSTOMER_REASON_CODE3,CUSTOMER_REASON_CODE4,CUSTOMER_REASON_CODE,ATTENTION_NOTE_UPDATED,          
CUSTOMER_AGENCY_ID,    
IS_ACTIVE,    
@USER_ID,    
GETDATE(),    
CUSTOMER_ATTENTION_NOTE,    
PREFIX,    
CUSTOMER_REASON_CODE2,    
CUSTOMER_REASON_CODE3,    
CUSTOMER_REASON_CODE4,    
CUSTOMER_REASON_CODE,    
ATTENTION_NOTE_UPDATED,          
IS_HOME_EMPLOYEE,    
LAST_INSURANCE_SCORE_FETCHED,    
APPLICANT_OCCU,DATE_OF_BIRTH,    
EMPLOYER_ADDRESS,    
EMPLOYER_NAME,    
MARITAL_STATUS,    
SSN_NO,    
YEARS_WITH_CURR_EMPL,    
DESC_APPLICANT_OCCU,    
LAST_MVR_SCORE_FETCHED,    
EMPLOYER_ADD1,          
EMPLOYER_ADD2,    
EMPLOYER_CITY,    
EMPLOYER_COUNTRY,    
EMPLOYER_STATE,    
EMPLOYER_ZIPCODE,    
EMPLOYER_HOMEPHONE,    
EMPLOYER_EMAIL,    
YEARS_WITH_CURR_OCCU,    
GENDER,    
PER_CUST_MOBILE,    
EMP_EXT,        
--stat Added By Lalit     
NUMBER,    
DISTRICT,    
CPF_CNPJ,    
MAIN_TITLE,    
MAIN_POSITION,    
MAIN_CPF_CNPJ,    
MAIN_ADDRESS,    
MAIN_NUMBER,    
MAIN_COMPLIMENT,    
MAIN_DISTRICT,    
MAIN_NOTE,    
MAIN_CONTACT_CODE,    
REGIONAL_IDENTIFICATION,    
REG_ID_ISSUE,    
ORIGINAL_ISSUE,    
MAIN_CITY,    
MAIN_STATE,    
MAIN_COUNTRY,    
MAIN_ZIPCODE,    
MAIN_FIRST_NAME,    
MAIN_MIDDLE_NAME,    
MAIN_LAST_NAME,  --END Added By Lalit
--stat Added By Aditya     
ID_TYPE,
MONTHLY_INCOME,
AMOUNT_TYPE,
CADEMP,
NET_ASSETS_AMOUNT,
REGIONAL_IDENTIFICATION_TYPE,
NATIONALITY,
EMAIL_ADDRESS,
IS_POLITICALLY_EXPOSED --END Added By Aditya      
    
FROM CLT_CUSTOMER_LIST WHERE CUSTOMER_ID=@CUSTOMER_ID          
          
SELECT @NEW_CUSTOMER_ID = Max(CUSTOMER_ID) FROM CLT_CUSTOMER_LIST                   
SELECT @New_Cust_Id = Max(CUSTOMER_ID) FROM CLT_CUSTOMER_LIST          
                
        
-- Added by Asfa (08-Apr-2008) - iTrack issue #3924          
SET @TRANS_TYPE_ID = 1        
SET @CLIENT_ID = @CUSTOMER_ID                          
SET @POLICY_ID = 0                          
SET @POLICY_VER_TRACKING_ID = 0         
SET @RECORD_DATE_TIME =GETDATE()        
SET @TRANS_DESC = 'A customer copy has been created with Customer Code as ' + @CUSTOMER_CODE + '.'        
SET @ENTITY_ID =0        
SET @ENTITY_TYPE = NULL        
SET @IS_COMPLETED = NULL        
SET @CHANGE_XML =NULL        
SET @APP_ID = 0        
SET @APP_VERSION_ID = 0        
SET @QUOTE_ID = 0        
SET @QUOTE_VERSION_ID = 0        
SET @CUSTOM_INFO = ';Customer Name = ' + @CUSTOMER_FIRST_NAME + ' ' + @CUSTOMER_LAST_NAME + ';Customer Code = ' + @OLD_CUSTOMER_CODE        
        
-- Entry on Tran Log of OLD customer        
-- SELECT @RECORDED_BY_NAME = USER_FNAME + ' ' + USER_LNAME  FROM MNT_USER_LIST WHERE USER_ID=@RECORDED_BY        
SELECT @RECORDED_BY_NAME = USER_FNAME + ' ' + USER_LNAME  FROM MNT_USER_LIST WHERE USER_ID=@USER_ID        
EXEC Proc_InsertTransactionLog  @TRANS_TYPE_ID, @CLIENT_ID, @POLICY_ID, @POLICY_VER_TRACKING_ID, @USER_ID,                          
     @RECORDED_BY_NAME, @RECORD_DATE_TIME, @TRANS_DESC, @ENTITY_ID, @ENTITY_TYPE, @IS_COMPLETED, @CHANGE_XML,                          
     @APP_ID, @APP_VERSION_ID, @QUOTE_ID, @QUOTE_VERSION_ID, @CUSTOM_INFO        
        
-- Entry on Tran Log of NEW customer        
-- Added by Asfa (01-May-2008) - iTrack issue #4103        
       
SET @CLIENT_ID = @New_Cust_Id         
SET @TRANS_DESC = 'New customer ' + @CUSTOMER_CODE + ' is copied from customer code ' + @OLD_CUSTOMER_CODE + '.'        
SET @CUSTOM_INFO = ';Customer Name = ' + @CUSTOMER_FIRST_NAME + ' ' + @CUSTOMER_LAST_NAME + ';Customer Code = ' + @OLD_CUSTOMER_CODE        
        
EXEC Proc_InsertTransactionLog  @TRANS_TYPE_ID, @CLIENT_ID, @POLICY_ID, @POLICY_VER_TRACKING_ID, @USER_ID,                          
     @RECORDED_BY_NAME, @RECORD_DATE_TIME, @TRANS_DESC, @ENTITY_ID, @ENTITY_TYPE, @IS_COMPLETED, @CHANGE_XML,                          
     @APP_ID, @APP_VERSION_ID, @QUOTE_ID, @QUOTE_VERSION_ID, @CUSTOM_INFO        
        
        
-- End block by Asfa        
          
          
DECLARE  CURAPPL CURSOR  FOR                          
   SELECT  APPLICANT_ID,  CUSTOMER_ID,TITLE,SUFFIX, FIRST_NAME, MIDDLE_NAME,LAST_NAME, ADDRESS1, ADDRESS2, CITY,COUNTRY, STATE,                                
  ZIP_CODE,PHONE,EMAIL,CO_APPL_MARITAL_STATUS,CO_APPL_SSN_NO,CO_APPL_DOB, IS_ACTIVE, CREATED_BY, CREATED_DATETIME ,                          
  CO_APPLI_OCCU,CO_APPLI_EMPL_NAME,CO_APPLI_EMPL_ADDRESS, CO_APPLI_EMPL_ADDRESS1, CO_APPLI_YEARS_WITH_CURR_EMPL,CO_APPL_YEAR_CURR_OCCU,IS_PRIMARY_APPLICANT,DESC_CO_APPLI_OCCU,                  
  CO_APPLI_EMPL_CITY,CO_APPLI_EMPL_COUNTRY,CO_APPLI_EMPL_STATE,CO_APPLI_EMPL_ZIP_CODE,CO_APPLI_EMPL_PHONE,CO_APPLI_EMPL_EMAIL,PER_CUST_MOBILE,EMP_EXT,CO_APPL_GENDER,          
  MOBILE,BUSINESS_PHONE,EXT,CO_APPL_RELATIONSHIP,POSITION,CONTACT_CODE,    
NUMBER,COMPLIMENT,    
DISTRICT,NOTE,    
REGIONAL_IDENTIFICATION,REG_ID_ISSUE,    
ORIGINAL_ISSUE,FAX,CPF_CNPJ,    
APPLICANT_TYPE 
, BANK_NAME,BANK_NUMBER,BANK_BRANCH,ACCOUNT_NUMBER,ACCOUNT_TYPE         
   FROM  CLT_APPLICANT_LIST WHERE CUSTOMER_ID= @CUSTOMER_ID          
OPEN CURAPPL          
          
FETCH NEXT FROM CURAPPL INTO @APPLICANT_ID,  @CUST_ID,@TITLE,@SUFFIX, @FIRST_NAME, @MIDDLE_NAME,@LAST_NAME, @ADDRESS1, @ADDRESS2, @CITY,@COUNTRY, @STATE,                                
  @ZIP_CODE,@PHONE,@EMAIL,@CO_APPL_MARITAL_STATUS,@CO_APPL_SSN_NO,@CO_APPL_DOB, @IS_ACTIVE, @CREATED_BY, @CREATED_DATETIME ,                          
  @CO_APPLI_OCCU,@CO_APPLI_EMPL_NAME,@CO_APPLI_EMPL_ADDRESS, @CO_APPLI_EMPL_ADDRESS1, @CO_APPLI_YEARS_WITH_CURR_EMPL,@CO_APPL_YEAR_CURR_OCCU,@IS_PRIMARY_APPLICANT,@DESC_CO_APPLI_OCCU,                  
  @CO_APPLI_EMPL_CITY,@CO_APPLI_EMPL_COUNTRY,@CO_APPLI_EMPL_STATE,@CO_APPLI_EMPL_ZIP_CODE,@CO_APPLI_EMPL_PHONE,@CO_APPLI_EMPL_EMAIL,@PER_CUST_MOBILE,@EMP_EXT,@CO_APPL_GENDER              
  ,@MOBILE,@BUSINESS_PHONE,@EXT,@CO_APPL_RELATIONSHIP,@POSITION,    
  @CONTACT_CODE,@NUMBER,@COMPLIMENT,    
  @DISTRICT,@NOTE,@REGIONAL_IDENTIFICATION,    
  @REG_ID_ISSUE,@ORIGINAL_ISSUE,@FAX,@CPF_CNPJ,@APPLICANT_TYPE
  ,@BANK_NAME,@BANK_NUMBER,@BANK_BRANCH,@ACCOUNT_NUMBER,@ACCOUNT_TYPE       
          
WHILE @@FETCH_STATUS = 0                             
BEGIN                         
SELECT @NEW_APPLICANT_ID = Max(APPLICANT_ID)+1 FROM CLT_APPLICANT_LIST                                
INSERT INTO CLT_APPLICANT_LIST     
(     
APPLICANT_ID,    
CUSTOMER_ID,    
TITLE,    
SUFFIX,    
FIRST_NAME,    
MIDDLE_NAME,    
LAST_NAME,    
ADDRESS1,    
ADDRESS2,    
CITY,    
COUNTRY,    
STATE,                                
ZIP_CODE,    
PHONE,    
EMAIL,    
CO_APPL_MARITAL_STATUS,    
CO_APPL_SSN_NO,    
CO_APPL_DOB,    
IS_ACTIVE,    
CREATED_BY,    
CREATED_DATETIME,                          
CO_APPLI_OCCU,    
CO_APPLI_EMPL_NAME,    
CO_APPLI_EMPL_ADDRESS,    
CO_APPLI_EMPL_ADDRESS1,    
CO_APPLI_YEARS_WITH_CURR_EMPL,    
CO_APPL_YEAR_CURR_OCCU,    
IS_PRIMARY_APPLICANT,    
DESC_CO_APPLI_OCCU,                  
CO_APPLI_EMPL_CITY,    
CO_APPLI_EMPL_COUNTRY,    
CO_APPLI_EMPL_STATE,    
CO_APPLI_EMPL_ZIP_CODE,    
CO_APPLI_EMPL_PHONE,    
CO_APPLI_EMPL_EMAIL,    
PER_CUST_MOBILE,    
EMP_EXT,    
CO_APPL_GENDER,    
MOBILE,    
BUSINESS_PHONE,    
EXT,  
CO_APPL_RELATIONSHIP,    
---Start Added By Lalit    
POSITION,CONTACT_CODE,    
NUMBER,COMPLIMENT,    
DISTRICT,NOTE,    
REGIONAL_IDENTIFICATION,REG_ID_ISSUE,    
ORIGINAL_ISSUE,FAX,CPF_CNPJ,    
APPLICANT_TYPE,
BANK_BRANCH,
BANK_NAME,
BANK_NUMBER,
ACCOUNT_NUMBER,
ACCOUNT_TYPE --END ADDED
    
            
              
)          
VALUES( @NEW_APPLICANT_ID,  @NEW_CUSTOMER_ID,@TITLE,@SUFFIX, @FIRST_NAME, @MIDDLE_NAME,@LAST_NAME, @ADDRESS1, @ADDRESS2, @CITY,@COUNTRY, @STATE,                                
-- Modified by Asfa (01-May-2008) - iTrack issue #4103        
--  @ZIP_CODE,@PHONE,@EMAIL,@CO_APPL_MARITAL_STATUS,@CO_APPL_SSN_NO,@CO_APPL_DOB, @IS_ACTIVE, @CREATED_BY, @CREATED_DATETIME ,                          
  @ZIP_CODE,@PHONE,@EMAIL,@CO_APPL_MARITAL_STATUS,@CO_APPL_SSN_NO,@CO_APPL_DOB, @IS_ACTIVE, @USER_ID, GETDATE() ,                          
  @CO_APPLI_OCCU,@CO_APPLI_EMPL_NAME,@CO_APPLI_EMPL_ADDRESS, @CO_APPLI_EMPL_ADDRESS1, @CO_APPLI_YEARS_WITH_CURR_EMPL,@CO_APPL_YEAR_CURR_OCCU,@IS_PRIMARY_APPLICANT,@DESC_CO_APPLI_OCCU,                  
  @CO_APPLI_EMPL_CITY,@CO_APPLI_EMPL_COUNTRY,@CO_APPLI_EMPL_STATE,@CO_APPLI_EMPL_ZIP_CODE,@CO_APPLI_EMPL_PHONE,@CO_APPLI_EMPL_EMAIL,@PER_CUST_MOBILE,@EMP_EXT,@CO_APPL_GENDER,          
  @MOBILE,@BUSINESS_PHONE,@EXT,@CO_APPL_RELATIONSHIP,@POSITION,@CONTACT_CODE,@NUMBER,@COMPLIMENT,@DISTRICT,@NOTE,@REGIONAL_IDENTIFICATION,    
  @REG_ID_ISSUE,@ORIGINAL_ISSUE,@FAX,@CPF_CNPJ,@APPLICANT_TYPE
  ,@BANK_NAME,@BANK_NUMBER,@BANK_BRANCH,@ACCOUNT_NUMBER,@ACCOUNT_TYPE                
)          
FETCH NEXT FROM CURAPPL INTO   @APPLICANT_ID,  @CUST_ID,@TITLE,@SUFFIX, @FIRST_NAME, @MIDDLE_NAME,@LAST_NAME, @ADDRESS1, @ADDRESS2, @CITY,@COUNTRY, @STATE,                                
  @ZIP_CODE,@PHONE,@EMAIL,@CO_APPL_MARITAL_STATUS,@CO_APPL_SSN_NO,@CO_APPL_DOB, @IS_ACTIVE, @CREATED_BY, @CREATED_DATETIME ,                          
  @CO_APPLI_OCCU,@CO_APPLI_EMPL_NAME,@CO_APPLI_EMPL_ADDRESS, @CO_APPLI_EMPL_ADDRESS1, @CO_APPLI_YEARS_WITH_CURR_EMPL,@CO_APPL_YEAR_CURR_OCCU,@IS_PRIMARY_APPLICANT,@DESC_CO_APPLI_OCCU,                  
  @CO_APPLI_EMPL_CITY,@CO_APPLI_EMPL_COUNTRY,@CO_APPLI_EMPL_STATE,@CO_APPLI_EMPL_ZIP_CODE,@CO_APPLI_EMPL_PHONE,@CO_APPLI_EMPL_EMAIL,@PER_CUST_MOBILE,@EMP_EXT,@CO_APPL_GENDER              
  ,@MOBILE,@BUSINESS_PHONE,@EXT,@CO_APPL_RELATIONSHIP,@POSITION,    
  @CONTACT_CODE,@NUMBER,@COMPLIMENT,    
  @DISTRICT,@NOTE,@REGIONAL_IDENTIFICATION,    
  @REG_ID_ISSUE,@ORIGINAL_ISSUE,@FAX,@CPF_CNPJ,@APPLICANT_TYPE,
  @BANK_NAME,@BANK_NUMBER,@BANK_BRANCH,@ACCOUNT_NUMBER,@ACCOUNT_TYPE
          
END                            
          
 CLOSE CURAPPL                            
 DEALLOCATE CURAPPL             
                                         
END                    
               
          
--------------------------------COPY PRIOR CARRIER          
          
--dECLARE VARIBLES FOR PRIOR CARRIER          
DECLARE           
@NEW_APP_PRIOR_CARRIER_INFO_ID INT,          
 @PRIOR_CARRIER_CUSTOMER_ID INT,@APP_PRIOR_CARRIER_INFO_ID SMALLINT,@OLD_POLICY_NUMBER NVARCHAR(150),@CARRIER NVARCHAR(200),          
 @LOB NVARCHAR(10),@SUB_LOB NVARCHAR(10),@EFF_DATE DATETIME,@EXP_DATE DATETIME,@POLICY_CATEGORY NVARCHAR(10),          
 @POLICY_TERM_CODE VARCHAR(25),@POLICY_TYPE NVARCHAR(60),@YEARS_PRIOR_COMP INT,@ACTUAL_PREM decimal(18,2),          
    @ASSIGNEDRISKYN NCHAR(2),@PRIOR_PRODUCER_INFO_ID SMALLINT,@RISK_NEW_AGENCY NCHAR(2),          
 @MOD_FACTOR NCHAR(20),@ANNUAL_PREM NCHAR(34),@PRIOR_CARRIER_IS_ACTIVE NCHAR(2),@PRIOR_CARRIER_CREATED_BY INT,@PRIOR_CARRIER_CREATED_DATETIME DATETIME,          
    @MODIFIED_BY INT,@LAST_UPDATED_DATETIME DATETIME             
          
--END DECLARING VARIBALES          
          
DECLARE  CUR_PRIOR_CARRIER CURSOR  FOR                          
   SELECT           
CUSTOMER_ID,APP_PRIOR_CARRIER_INFO_ID,OLD_POLICY_NUMBER,CARRIER,LOB,SUB_LOB,EFF_DATE,EXP_DATE,POLICY_CATEGORY,          
POLICY_TERM_CODE,POLICY_TYPE,YEARS_PRIOR_COMP,ACTUAL_PREM,ASSIGNEDRISKYN,PRIOR_PRODUCER_INFO_ID,RISK_NEW_AGENCY,          
MOD_FACTOR,ANNUAL_PREM,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME           
 FROM  APP_PRIOR_CARRIER_INFO  WHERE CUSTOMER_ID= @CUSTOMER_ID              
OPEN CUR_PRIOR_CARRIER           
          
FETCH NEXT FROM CUR_PRIOR_CARRIER INTO          
@PRIOR_CARRIER_CUSTOMER_ID,@APP_PRIOR_CARRIER_INFO_ID,@OLD_POLICY_NUMBER,@CARRIER,@LOB,@SUB_LOB,@EFF_DATE,@EXP_DATE,@POLICY_CATEGORY,          
@POLICY_TERM_CODE,@POLICY_TYPE,@YEARS_PRIOR_COMP,@ACTUAL_PREM,@ASSIGNEDRISKYN,@PRIOR_PRODUCER_INFO_ID,@RISK_NEW_AGENCY,          
@MOD_FACTOR,@ANNUAL_PREM,@IS_ACTIVE,@CREATED_BY,@CREATED_DATETIME,@MODIFIED_BY,@LAST_UPDATED_DATETIME           
          
WHILE @@FETCH_STATUS = 0                             
BEGIN                         
 SELECT @NEW_APP_PRIOR_CARRIER_INFO_ID = Max(APP_PRIOR_CARRIER_INFO_ID)+1 FROM APP_PRIOR_CARRIER_INFO                                
 INSERT INTO APP_PRIOR_CARRIER_INFO (CUSTOMER_ID,APP_PRIOR_CARRIER_INFO_ID,OLD_POLICY_NUMBER,CARRIER,LOB,SUB_LOB,EFF_DATE,EXP_DATE,POLICY_CATEGORY,          
 POLICY_TERM_CODE,POLICY_TYPE,YEARS_PRIOR_COMP,ACTUAL_PREM,ASSIGNEDRISKYN,PRIOR_PRODUCER_INFO_ID,RISK_NEW_AGENCY,          
 MOD_FACTOR,ANNUAL_PREM,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME)          
          
 VALUES(@NEW_CUSTOMER_ID,@NEW_APP_PRIOR_CARRIER_INFO_ID,@OLD_POLICY_NUMBER,@CARRIER,@LOB,@SUB_LOB,@EFF_DATE,@EXP_DATE,@POLICY_CATEGORY,          
 @POLICY_TERM_CODE,@POLICY_TYPE,@YEARS_PRIOR_COMP,@ACTUAL_PREM,@ASSIGNEDRISKYN,@PRIOR_PRODUCER_INFO_ID,@RISK_NEW_AGENCY,          
-- Modified by Asfa (01-May-2008) - iTrack issue #4103        
-- @MOD_FACTOR,@ANNUAL_PREM,@IS_ACTIVE,@CREATED_BY,@CREATED_DATETIME,@MODIFIED_BY,@LAST_UPDATED_DATETIME                
 @MOD_FACTOR,@ANNUAL_PREM,@IS_ACTIVE,@USER_ID,GETDATE(),NULL,NULL        
 )          
 FETCH NEXT FROM CUR_PRIOR_CARRIER INTO           
  @PRIOR_CARRIER_CUSTOMER_ID,@APP_PRIOR_CARRIER_INFO_ID,@OLD_POLICY_NUMBER,@CARRIER,@LOB,@SUB_LOB,@EFF_DATE,@EXP_DATE,@POLICY_CATEGORY,          
 @POLICY_TERM_CODE,@POLICY_TYPE,@YEARS_PRIOR_COMP,@ACTUAL_PREM,@ASSIGNEDRISKYN,@PRIOR_PRODUCER_INFO_ID,@RISK_NEW_AGENCY,          
 @MOD_FACTOR,@ANNUAL_PREM,@IS_ACTIVE,@CREATED_BY,@CREATED_DATETIME,@MODIFIED_BY,@LAST_UPDATED_DATETIME              
          
END              
 CLOSE CUR_PRIOR_CARRIER                            
 DEALLOCATE CUR_PRIOR_CARRIER             
          
          
--------------------------------COPY PROIOR LOSS          
--declare variables          
DECLARE           
@PRIOR_LOSS_CUSTOMER_ID INT,@LOSS_ID SMALLINT,@OCCURENCE_DATE DATETIME,@CLAIM_DATE DATETIME,@PRIOIR_LOSS_LOB NVARCHAR(10),@LOSS_TYPE INT,@AMOUNT_PAID DECIMAL(15,2),@AMOUNT_RESERVED DECIMAL(15,2),@CLAIM_STATUS NVARCHAR(10),          
 @LOSS_DESC VARCHAR(1000),@MOD NVARCHAR(50),@LOSS_RUN NCHAR(2),@CAT_NO NVARCHAR(20),@CLAIMID NVARCHAR(40),          
 @REMARKS VARCHAR(50),@APLUS_REPORT_ORDERED INT,@DRIVER_ID SMALLINT,@DRIVER_NAME NVARCHAR(200),@RELATIONSHIP INT,@CLAIMS_TYPE INT,          
   @AT_FAULT INT,@CHARGEABLE INT,          
 @LOSS_LOCATION VARCHAR(70),@CAUSE_OF_LOSS VARCHAR(50),@POLICY_NUM VARCHAR(50),@LOSS_CARRIER VARCHAR(50)          
--end declare          
          
          
DECLARE  CUR_PRIOR_LOSS CURSOR  FOR                          
   SELECT           
CUSTOMER_ID,LOSS_ID,OCCURENCE_DATE,CLAIM_DATE,LOB,LOSS_TYPE,AMOUNT_PAID,AMOUNT_RESERVED,CLAIM_STATUS,          
LOSS_DESC,MOD,LOSS_RUN,CAT_NO,CLAIMID,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,          
REMARKS,APLUS_REPORT_ORDERED,DRIVER_ID,DRIVER_NAME,RELATIONSHIP,CLAIMS_TYPE,AT_FAULT,CHARGEABLE,          
LOSS_LOCATION,CAUSE_OF_LOSS,POLICY_NUM,LOSS_CARRIER          
FROM  APP_PRIOR_LOSS_INFO  WHERE CUSTOMER_ID= @CUSTOMER_ID              
OPEN CUR_PRIOR_LOSS           
          
FETCH NEXT FROM CUR_PRIOR_LOSS INTO          
@PRIOR_LOSS_CUSTOMER_ID,@LOSS_ID,@OCCURENCE_DATE,@CLAIM_DATE,@PRIOIR_LOSS_LOB,@LOSS_TYPE,@AMOUNT_PAID,@AMOUNT_RESERVED,@CLAIM_STATUS,          
@LOSS_DESC,@MOD,@LOSS_RUN,@CAT_NO,@CLAIMID,@IS_ACTIVE,@CREATED_BY,@CREATED_DATETIME,@MODIFIED_BY,@LAST_UPDATED_DATETIME,          
@REMARKS,@APLUS_REPORT_ORDERED,@DRIVER_ID,@DRIVER_NAME,@RELATIONSHIP,@CLAIMS_TYPE,@AT_FAULT,@CHARGEABLE,          
@LOSS_LOCATION,@CAUSE_OF_LOSS,@POLICY_NUM,@LOSS_CARRIER          
          
/*@PRIOR_LOSS_CUSTOMER_ID,@LOSS_ID,@OCCURENCE_DATE,@CLAIM_DATE,@PRIOIR_LOSS_LOB,@LOSS_TYPE,@AMOUNT_PAID,@AMOUNT_RESERVED,@CLAIM_STATUS,          
@LOSS_DESC,@MOD,@LOSS_RUN,@CAT_NO,@CLAIMID,@IS_ACTIVE,@CREATED_BY,@CREATED_DATETIME,@MODIFIED_BY,@LAST_UPDATED_DATETIME,          
@REMARKS,@APLUS_REPORT_ORDERED,@DRIVER_ID,@DRIVER_NAME,@RELATIONSHIP,@CLAIMS_TYPE,@AT_FAULT,@CHARGEABLE,          
@LOSS_LOCATION,@CAUSE_OF_LOSS,@POLICY_NUM,@LOSS_CARRIER*/          
      
      
          
WHILE @@FETCH_STATUS = 0                             
BEGIN         
--ADDED BY PRAVEEN KUMAR(04-03-2009):ITRACK 5456      
SET @DRIVER_ID = ''      
SET @DRIVER_NAME = ''      
--END PRAVEEN KUMAR                          
 --SELECT @NEW_APP_PRIOR_CARRIER_INFO_ID = Max(APP_PRIOR_CARRIER_INFO_ID)+1 FROM APP_PRIOR_CARRIER_INFO                                
 INSERT INTO APP_PRIOR_LOSS_INFO           
   (CUSTOMER_ID,LOSS_ID,OCCURENCE_DATE,CLAIM_DATE,LOB,LOSS_TYPE,AMOUNT_PAID,AMOUNT_RESERVED,CLAIM_STATUS,          
  LOSS_DESC,[MOD],LOSS_RUN,CAT_NO,CLAIMID,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,          
  REMARKS,APLUS_REPORT_ORDERED,DRIVER_ID,DRIVER_NAME,RELATIONSHIP,CLAIMS_TYPE,AT_FAULT,CHARGEABLE,          
  LOSS_LOCATION,CAUSE_OF_LOSS,POLICY_NUM,LOSS_CARRIER)          
          
 VALUES(@NEW_CUSTOMER_ID,@LOSS_ID,@OCCURENCE_DATE,@CLAIM_DATE,@PRIOIR_LOSS_LOB,@LOSS_TYPE,@AMOUNT_PAID,@AMOUNT_RESERVED,@CLAIM_STATUS,          
-- Modified by Asfa (01-May-2008) - iTrack issue #4103        
-- @LOSS_DESC,@MOD,@LOSS_RUN,@CAT_NO,@CLAIMID,@IS_ACTIVE,@CREATED_BY,@CREATED_DATETIME,@MODIFIED_BY,@LAST_UPDATED_DATETIME,          
 @LOSS_DESC,@MOD,@LOSS_RUN,@CAT_NO,@CLAIMID,@IS_ACTIVE,@USER_ID,GETDATE(),NULL,NULL,          
 @REMARKS,@APLUS_REPORT_ORDERED,@DRIVER_ID,@DRIVER_NAME,@RELATIONSHIP,@CLAIMS_TYPE,@AT_FAULT,@CHARGEABLE,          
 @LOSS_LOCATION,@CAUSE_OF_LOSS,@POLICY_NUM,@LOSS_CARRIER                
 )          
 FETCH NEXT FROM CUR_PRIOR_LOSS INTO          
 @PRIOR_LOSS_CUSTOMER_ID,@LOSS_ID,@OCCURENCE_DATE,@CLAIM_DATE,@LOB,@LOSS_TYPE,@AMOUNT_PAID,@AMOUNT_RESERVED,@CLAIM_STATUS,          
 @LOSS_DESC,@MOD,@LOSS_RUN,@CAT_NO,@CLAIMID,@IS_ACTIVE,@CREATED_BY,@CREATED_DATETIME,@MODIFIED_BY,@LAST_UPDATED_DATETIME,          
 @REMARKS,@APLUS_REPORT_ORDERED,@DRIVER_ID,@DRIVER_NAME,@RELATIONSHIP,@CLAIMS_TYPE,@AT_FAULT,@CHARGEABLE,          
 @LOSS_LOCATION,@CAUSE_OF_LOSS,@POLICY_NUM,@LOSS_CARRIER          
          
END              
          
          
 CLOSE CUR_PRIOR_LOSS                            
 DEALLOCATE CUR_PRIOR_LOSS           
          
          
--END COPY PROIOR LOSS          
--select @NEW_CUST_ID          
--SELECT * FROM APP_PRIOR_CARRIER_INFO WHERE CUSTOMER_ID=@NEW_CUSTOMER_ID          
--select * from APP_PRIOR_LOSS_INFO WHERE CUSTOMER_ID=@NEW_CUSTOMER_ID           
          
          
-- GO          
-- EXEC Proc_CopyCustomerTabs 1571,null          
-- SELECT TOP 10 * FROM MNT_TRANSACTION_LOG ORDER BY TRANS_ID DESC         
-- ROLLBACK       TRAN                 
           
        
        
        
        
GO

