IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_Get_CO_INSURERS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_Get_CO_INSURERS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


-- drop procedure Proc_Get_CO_INSURERS 2727,88,1  
  
CREATE PROC [dbo].[Proc_Get_CO_INSURERS]  
(    
 @CUSTOMER_ID INT,        
 @POLICY_ID INT,        
 @POLICY_VERSION_ID INT   
)     
AS      
BEGIN  
      
   DECLARE @FROMEFFECTIVEDATE DATETIME  
   DECLARE  @TOEFFECTIVEDATE DATETIME  
   DECLARE @APP_POLNUMBER VARCHAR(25)  
  SELECT @FROMEFFECTIVEDATE=ISNULL(POLICY_EFFECTIVE_DATE,APP_EFFECTIVE_DATE),  
         @TOEFFECTIVEDATE=ISNULL(POLICY_EXPIRATION_DATE,APP_EXPIRATION_DATE),  
         @APP_POLNUMBER = POLICY_NUMBER
         --CASE WHEN UPPER(APP_STATUS)='APPLICATION' THEN APP_NUMBER ELSE POLICY_NUMBER END  
FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK)  WHERE CUSTOMER_ID = @CUSTOMER_ID  
 AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID =@POLICY_VERSION_ID  
   
  
 SELECT REIN_COMAPANY_ID, REIN_COMAPANY_NAME FROM MNT_REIN_COMAPANY_LIST WITH(NOLOCK) WHERE ISNULL(IS_ACTIVE,'Y')='Y'   
 AND REIN_COMPANY_TYPE = '14550' AND   
 (MNT_REIN_COMAPANY_LIST.EFFECTIVE_DATE <=@FROMEFFECTIVEDATE AND ISNULL(MNT_REIN_COMAPANY_LIST.TERMINATION_DATE,'01-01-3000')>=@TOEFFECTIVEDATE)   
 ORDER BY  REIN_COMAPANY_NAME   
   
 --Added by Charles on 7-Jun-2010  
 SELECT ISNULL(CO_INSURANCE,0) AS CO_INSURANCE FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK)  
 WHERE CUSTOMER_ID = @CUSTOMER_ID  
 AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID =@POLICY_VERSION_ID  
 --Added till here  
   
 --Added by sonal to check any leader in co-insurance section on july 26 2010  
 SELECT COUNT(*) AS TOTLEADER,COINSURANCE_ID FROM POL_CO_INSURANCE WHERE  CUSTOMER_ID = @CUSTOMER_ID  
 AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID =@POLICY_VERSION_ID AND LEADER_FOLLOWER=14548 group by COINSURANCE_ID -- for leader  
   
 SELECT @APP_POLNUMBER AS POL_APPNUMBER  
 -- Added till here  
   
END    

GO

