IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_UpdateEFTSpool]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_UpdateEFTSpool]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------  
Proc Name        : dbo.Proc_UpdateEFTSpool
Created by       : Ravinda Gupta 
Date             : 03-23-227
Purpose      	 : Update status of record in  EFT Spool Table
Revison History :  
Used In   :Wolverine  
------------------------------------------------------------  
Date     Review By          Comments  
------------------------------------------------------------*/  
-- drop proc dbo.Proc_UpdateEFTSpool
CREATE PROC [dbo].[Proc_UpdateEFTSpool]
(
@SPOOL_ID Int,
@REF_CHECK_ID Int = null,
@REF_DEPOSIT_ID Int = null,
@REF_DEP_DETAIL_ID Int = Null,
@PROCESSED	Char(1) = null,
@ERROR_DESCRIPTION Varchar(200) = null ,
@BATCH_NUMBER		Int
)
AS
BEGIN 

DECLARE @NO Int , @YES	Int, @PRENOTE_TRAN Int 
		
SET @NO = 10964
SET @YES = 10963
SET @PRENOTE_TRAN = 22

DECLARE @SQL Varchar(8000)

SET @SQL = 'UPDATE EOD_EFT_SPOOL SET PROCESSED_DATETIME = GETDATE(), BATCH_NUMBER = ' + 
			CONVERT(VARCHAR,@BATCH_NUMBER) 

IF(@REF_CHECK_ID  IS NOT null)
BEGIN 
	SET @SQL = @SQL + ' ,REF_CHECK_ID = ' + CONVERT(VARCHAR,@REF_CHECK_ID )  + ' ' 
END
IF(@REF_DEPOSIT_ID IS NOT  null)
BEGIN 
	SET @SQL = @SQL + ' ,REF_DEPOSIT_ID = ' + CONVERT(VARCHAR, @REF_DEPOSIT_ID )  + ' ' 
END
IF(@REF_DEP_DETAIL_ID IS NOT null)
BEGIN 
	SET @SQL = @SQL + ' ,REF_DEP_DETAIL_ID =' + CONVERT(VARCHAR,@REF_DEP_DETAIL_ID) + ' '
END

IF (@ERROR_DESCRIPTION IS NOT null)
BEGIN 
	SET @SQL = @SQL + ' ,ERROR_DESCRIPTION =''' +  @ERROR_DESCRIPTION + ''','
END
ELSE
BEGIN 
	SET @SQL  = @SQL + ','
END

SET @SQL = @SQL + ' PROCESSED = ''' +  @PROCESSED  + ''' WHERE IDEN_ROW_ID = ' +  CONVERT(VARCHAR,@SPOOL_ID )

EXECUTE(@SQL) 

--If this is a prenote transaction update verified status accordingly 
DECLARE @ENTITY_ID Int, 
		@ENTITY_TYPE VArchar(10), 
		@TRAN_CODE	Int ,
		@POLICY_ID	Int ,
		@POLICY_VERSION_ID Int ,
		@ACCOUNT_TO_USE	Int
SELECT @ENTITY_ID = ENTITY_ID , @ENTITY_TYPE = ENTITY_TYPE , @TRAN_CODE	= TRANSACTION_CODE , 
		@POLICY_ID = POLICY_ID , @POLICY_VERSION_ID = POLICY_VERSION_ID , @ACCOUNT_TO_USE  = ACCOUNT_TO_USE 
FROM EOD_EFT_SPOOL WHERE IDEN_ROW_ID = @SPOOL_ID


IF( @TRAN_CODE = @PRENOTE_TRAN AND @PROCESSED = 'Y') 
BEGIN 
	IF(@ENTITY_TYPE = 'CUST') 
	BEGIN 
		DECLARE @CURRENT_TERM Int	

		SELECT @CURRENT_TERM  = CURRENT_TERM FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK) 
		WHERE CUSTOMER_ID = @ENTITY_ID AND POLICY_ID = @POLICY_ID AND @POLICY_VERSION_ID = POLICY_VERSION_ID 

		UPDATE ACT_POL_EFT_CUST_INFO  SET IS_VERIFIED  = @YES , VERIFIED_DATE = GETDATE() ,REVERIFIED_AC = NULL 
		WHERE CUSTOMER_ID = @ENTITY_ID 
		AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID IN 
			(	SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL 
				WHERE CPL.CUSTOMER_ID  = @ENTITY_ID AND CPL.POLICY_ID = @POLICY_ID AND CPL.CURRENT_TERM = @CURRENT_TERM ) 

	END
	IF(@ENTITY_TYPE = 'AGN' ) 
	BEGIN 
		IF(@ACCOUNT_TO_USE = 1) 
		BEGIN 
			UPDATE MNT_AGENCY_LIST  SET ACCOUNT_ISVERIFIED1 = @YES ,ACCOUNT_VERIFIED_DATE1 = GETDATE() ,
			REVERIFIED_AC1 = NULL
			WHERE AGENCY_ID = @ENTITY_ID 
		END
		ELSE
		BEGIN 	
			UPDATE MNT_AGENCY_LIST  SET ACCOUNT_ISVERIFIED2 = @YES ,ACCOUNT_VERIFIED_DATE2 = GETDATE() ,
			REVERIFIED_AC2 = NULL 
			WHERE AGENCY_ID = @ENTITY_ID 
		END
	END
	IF(@ENTITY_TYPE = 'VEN') 
	BEGIN 
		UPDATE MNT_VENDOR_LIST  SET ACCOUNT_ISVERIFIED = @YES , ACCOUNT_VERIFIED_DATE = GETDATE(),
		REVERIFIED_AC = NULL 
		WHERE VENDOR_ID = @ENTITY_ID 
	END	
END
--  If EFT sweep against Check update Source Number in General Ledger Posting
IF(@REF_CHECK_ID  IS NOT null AND ISNULL(@PROCESSED,'N') = 'Y')
BEGIN 
	UPDATE ACT_ACCOUNTS_POSTING_DETAILS SET 
	SOURCE_NUM = CONVERT(VARCHAR , @BATCH_NUMBER) + ' - ' + CONVERT(VARCHAR, @SPOOL_ID ) 
	WHERE SOURCE_ROW_ID = @REF_CHECK_ID AND UPDATED_FROM = 'C' 
END
IF ( @REF_DEPOSIT_ID IS NOT NULL AND @REF_DEP_DETAIL_ID IS NOT NULL AND ISNULL(@PROCESSED,'N') = 'Y')
BEGIN 
	UPDATE ACT_ACCOUNTS_POSTING_DETAILS SET 
	SOURCE_NUM = CONVERT(VARCHAR , @BATCH_NUMBER) + ' - ' + CONVERT(VARCHAR, @SPOOL_ID ) 
	WHERE SOURCE_ROW_ID = @REF_DEP_DETAIL_ID  AND UPDATED_FROM = 'D' 
END

END



















GO

