IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_GETXMLPOL_HOME_OWNER_SCH_ITEMS_CVGS_DETAIL]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_GETXMLPOL_HOME_OWNER_SCH_ITEMS_CVGS_DETAIL]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


--drop proc dbo.PROC_GETXMLPOL_HOME_OWNER_SCH_ITEMS_CVGS_DETAIL    
CREATE PROC dbo.PROC_GETXMLPOL_HOME_OWNER_SCH_ITEMS_CVGS_DETAIL    
(    
 @CUSTOMER_ID    INTEGER,    
 @POL_ID INTEGER,    
 @POL_VERSION_ID INTEGER,    
 @ITEM_ID INTEGER,    
 @ITEM_DETAIL_ID INTEGER = 0    
)    
AS    
 DECLARE @CATEGORYTOTAL as money    
     
BEGIN    
    
    
 SELECT @CATEGORYTOTAL = SUM(ISNULL(ITEM_INSURING_VALUE,0))    
 FROM  POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS    
 WHERE  CUSTOMER_ID = @CUSTOMER_ID    
 AND POL_ID = @POL_ID    
 AND POL_VERSION_ID = @POL_VERSION_ID    
 AND ITEM_ID = @ITEM_ID    
    
    
 IF @ITEM_DETAIL_ID = 0    
   BEGIN    
  SELECT  CUSTOMER_ID,    
  POL_ID,    
  POL_VERSION_ID,    
  ITEM_ID,    
  ITEM_DETAIL_ID,    
  ITEM_NUMBER,    
  ITEM_DESCRIPTION,    
  ITEM_SERIAL_NUMBER,    
  ITEM_INSURING_VALUE,    
  ITEM_APPRAISAL_BILL,    
  ITEM_PICTURE_ATTACHED,
  IS_ACTIVE,    
  @CATEGORYTOTAL AS ITEM_INSURING_VALUE_TOTAL_CAT    
  FROM  POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS    
  WHERE  CUSTOMER_ID = @CUSTOMER_ID    
  AND POL_ID = @POL_ID    
  AND POL_VERSION_ID = @POL_VERSION_ID    
  AND ITEM_ID = @ITEM_ID    
   END    
 ELSE    
   BEGIN    
      
  SELECT  CUSTOMER_ID,    
  POL_ID,    
  POL_VERSION_ID,    
  ITEM_ID,    
  ITEM_DETAIL_ID,    
  ITEM_NUMBER,    
  ITEM_DESCRIPTION,    
  ITEM_SERIAL_NUMBER,    
  ITEM_INSURING_VALUE,    
  ITEM_APPRAISAL_BILL,    
  ITEM_PICTURE_ATTACHED,
  IS_ACTIVE,    
  @CATEGORYTOTAL AS ITEM_INSURING_VALUE_TOTAL_CAT     
  FROM  POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS    
  WHERE  CUSTOMER_ID = @CUSTOMER_ID    
  AND POL_ID = @POL_ID    
  AND POL_VERSION_ID = @POL_VERSION_ID    
  AND ITEM_ID = @ITEM_ID    
  AND ITEM_DETAIL_ID = @ITEM_DETAIL_ID    
   END    
END    
    
-- PROC_GETXMLPOL_HOME_OWNER_SCH_ITEMS_CVGS_DETAIL 920,405,1,874,1    
-- PROC_GETXMLPOL_HOME_OWNER_SCH_ITEMS_CVGS_DETAIL 920,405,1,874    
-- PROC_GETXMLPOL_HOME_OWNER_SCH_ITEMS_CVGS_DETAIL 935,18,1,846, 1    
    
  
  
  


GO

