IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_ActivateDeactivateDiscountSurcharge]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_ActivateDeactivateDiscountSurcharge]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


 /*----------------------------------------------------------              
Proc Name       : dbo.[Proc_ActivateDeactivateDiscountSurcharge]              
Created by      : Chetna Agarwal     
Date            : 13/04/2010              
Purpose       :To Activate and deactivate records in MNT_DISCOUNT_SURCHARGE table.              
Revison History :              
Used In        : Ebix Advantage              
------------------------------------------------------------              
Date     Review By          Comments              
------   ------------       -------------------------*/              
--DROP PROC dbo.[Proc_ActivateDeactivateDiscountSurcharge]       
    
    
CREATE  PROC [dbo].[Proc_ActivateDeactivateDiscountSurcharge]    
(            
 @DISCOUNT_ID Int,                   
 @IS_ACTIVE   NChar(1)            
)            
AS            
BEGIN   
IF EXISTS (  SELECT DISCOUNT_ID FROM POL_DISCOUNT_SURCHARGE WITH(NOLOCK)   
     WHERE  DISCOUNT_ID = @DISCOUNT_ID  )    
 return -2 
  
UPDATE MNT_DISCOUNT_SURCHARGE        
 SET             
    Is_Active  = @IS_ACTIVE           
 WHERE            
    DISCOUNT_ID=@DISCOUNT_ID 
    return 1          
END        
GO

