IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[proc_GetMNT_USER_PERMISSION]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[proc_GetMNT_USER_PERMISSION]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



CREATE  procedure proc_GetMNT_USER_PERMISSION
(
	@USER_ID	int,
	@USER_TYPE_ID	int,
	@SCREEN_ID	varchar(20)
)
AS
BEGIN
	
	DECLARE @PERMISSION_XML	varchar(100);
	SET 	@PERMISSION_XML = '';

	SELECT 
		@PERMISSION_XML = PERMISSION_XML
		FROM
		MNT_USER_PERMISSION
		WHERE
			[USER_ID] 	= 	@USER_ID AND
			SCREEN_ID	=	@SCREEN_ID

	if(@PERMISSION_XML = '')
	begin
		SELECT
			PERMISSION_XML as PERMISSION_XML
		FROM
			MNT_USER_TYPE_PERMISSION
		WHERE
			USER_TYPE_ID	=	@USER_TYPE_ID AND
			SCREEN_ID	=	@SCREEN_ID
	end
	else
	begin
		SELECT @PERMISSION_XML as PERMISSION_XML
	end
END




GO

