IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetUmbVehicleInfoPolicy]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetUmbVehicleInfoPolicy]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE Proc_GetUmbVehicleInfoPolicy     
(    
@CUSTOMERID  int,    
@POLID        int,    
@POLVERSIONID  int    
)    
AS    
BEGIN    
    
	DECLARE @LOBID int, @STATID int    
	SELECT @LOBID = POLICY_LOB,@STATID = STATE_ID FROM POL_CUSTOMER_POLICY_LIST WHERE CUSTOMER_ID = @CUSTOMERID and POLICY_ID =  @POLID AND POLICY_VERSION_ID =  @POLVERSIONID    
	SELECT    
              
	isnull(PV.CUSTOMER_ID ,0) as CUSTOMER_ID,    
	isnull(PV.VEHICLE_ID,0) as VEHICLE_ID,      
	isnull(PV.POLICY_ID ,0) as POLICY_ID,    
	isnull(PV.POLICY_VERSION_ID ,0) as POLICY_VERSION_ID,    
	isnull(PV.INSURED_VEH_NUMBER,0) as INSURED_VEH_NUMBER,     
	isnull(PV.VEHICLE_YEAR,0) as VEHICLE_YEAR,    
	isnull(PV.MAKE, '') as MAKE,    
	isnull(PV.MODEL, '') as MODEL,    
	isnull(PV.VIN, '') as VIN,
	PL.POLICY_NUMBER,    
	PL.POLICY_DISP_VERSION,    
	isnull(PV.BODY_TYPE, '') as BODY_TYPE,    
	isnull(PV.GRG_ADD1, '') as GRG_ADD1,    
	isnull(PV.GRG_ADD2, '') as GRG_ADD2,    
	isnull(PV.GRG_CITY, '') as GRG_CITY,    
	isnull(PV.GRG_COUNTRY, '') as GRG_COUNTRY,    
	isnull(PV.GRG_STATE, '') as GRG_STATE,    
	isnull(PV.GRG_ZIP, '') as GRG_ZIP,    
	isnull(PV.REGISTERED_STATE, '') as REGISTERED_STATE,    
	isnull(PV.TERRITORY, '') as TERRITORY,    
	isnull(PV.CLASS, '') as CLASS,    
	isnull(PV.REGN_PLATE_NUMBER, '') as REGN_PLATE_NUMBER,    
	isnull(PV.ST_AMT_TYPE, 0) as ST_AMT_TYPE,    
	isnull(PV.AMOUNT, 0) as AMOUNT,     
	isnull(PV.SYMBOL, '') as SYMBOL,    
	isnull(PV.VEHICLE_AGE, 0) as VEHICLE_AGE    
	/*IS_OWN_LEASE,
	PURCHASE_DATE,
	IS_NEW_USED,
	AMOUNT_COST_NEW,              
 	MILES_TO_WORK,
	VEHICLE_USE,
	VEH_PERFORMANCE,
	MULTI_CAR,
	ANNUAL_MILEAGE,
	PASSIVE_SEAT_BELT,              
 	AIR_BAG,
	ANTI_LOCK_BRAKES,
	P_SURCHARGES,
	DEACTIVATE_REACTIVATE_DATE,
	IS_ACTIVE,
	CREATED_BY,              
 	CREATED_DATETIME,
	USE_VEHICLE,
	CLASS_PER,
	CLASS_COM,
	VEHICLE_TYPE_PER,
	VEHICLE_TYPE_COM,
	UNINS_MOTOR_INJURY_COVE,          
 	UNINS_PROPERTY_DAMAGE_COVE,
	UNDERINS_MOTOR_INJURY_COVE,
	MOTORCYCLE_TYPE          */
	FROM  POL_UMBRELLA_VEHICLE_INFO PV
	INNER JOIN POL_CUSTOMER_POLICY_LIST PL    
	ON PV.CUSTOMER_ID = PL.CUSTOMER_ID AND PV.POLICY_ID = PL.POLICY_ID AND PV.POLICY_VERSION_ID = PL.POLICY_VERSION_ID    
	AND (PL.POLICY_LOB = @LOBID AND PL.STATE_ID=@STATID AND isnull(PV.IS_ACTIVE,'Y')='Y')  
	WHERE    PV.CUSTOMER_ID = @CUSTOMERID    
END    





GO

