IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_Get_RateinformationforAviation]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_Get_RateinformationforAviation]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROC Proc_Get_RateinformationforAviation
(
@CUSTOMERID     INT,                                                                                          
@APPID     INT,                                                                                          
@APPVERSIONID   INT,                                                                                          
@AIRCRAFTID     INT  
)
AS                                                                                          
                                                                                          
BEGIN                                                                                          
            
/*
Hull All Risk
Hull Additional Coverage
Third Party Liability
TP Liability Additional Coverage
Extra Expense - TRA
Runway Foaming & Crash Control
Search & Rescue
Replacement Aircraft Rental Expense
Special Equipment
Non-Owned Aircraft – Physical Damage
Cargo Liability
Guess Voluntary Settlement
Personal Injury
Premises Liability
Premises Medical Payments
Trip Interruption
AV-52 (War TP Liability)
Non-Owned Aircraft Liability - TP
Hull War Risks
Spare Parts
Hull War Spare

*/

DECLARE         @LOB_ID                       nvarchar(20)  
DECLARE         @LOBNAME                      nvarchar(50)                                                                                         
DECLARE         @STATENAME                    nvarchar(20)                                                                                        
DECLARE         @STATE_ID                     nvarchar(20)                                                                                          
DECLARE         @QUOTEEFFDATE                 nvarchar(20)                                                                                          
DECLARE         @QUOTEEXPDATE                 nvarchar(20)                                                                                         
DECLARE         @TERMFACTOR                   nvarchar(20)    
DECLARE  @VEHICLE_ID   nvarchar(100)                                                                                  
DECLARE  @INSURED_VEH_NUMBER   nvarchar(300)                                                       
DECLARE  @USE_VEHICLE   nvarchar(300)                      
DECLARE  @COVG_PERIMETER nvarchar(300)                              
DECLARE  @REG_NUMBER nvarchar(100)                                                                                  
DECLARE  @SERIAL_NUMBER   nvarchar(100)                                                                                  
DECLARE  @VEHICLE_YEAR   nvarchar(100)                           
DECLARE  @MAKE   nvarchar(100)                                                                                  
DECLARE  @MAKE_OTHER  nvarchar(100)                                                                                  
DECLARE  @MODEL NVARCHAR(10)              
DECLARE  @MODEL_OTHER   nvarchar(100)                                                                      
DECLARE  @CERTIFICATION   nvarchar(100)                                                                                  
DECLARE  @REGISTER   nvarchar(100)                                                                                  
DECLARE  @ENGINE_TYPE   nvarchar(100)                                                                                  
DECLARE  @WING_TYPE   nvarchar(100)          
DECLARE  @CREW   nvarchar(100)                                                                                  
DECLARE  @PAX   nvarchar(100)                       
DECLARE  @GARAGEDLOCATION nvarchar(100)          
DECLARE  @WEARINGSEATBELT   nvarchar(100)
                                            
DECLARE  @HULL_ALL_RISK_LIMIT NVARCHAR(100)
DECLARE  @HULL_ALL_RISK_DEDUCTIBLE  NVARCHAR(50)
DECLARE  @HULL_ALL_RISK_RATE NVARCHAR(100)
       
DECLARE  @HULL_ADDITIONAL_COVERAGE_LIMIT NVARCHAR(100)
DECLARE  @HULL_ADDITIONAL_COVERAGE_DEDUCTIBLE  NVARCHAR(50)
DECLARE  @HULL_ADDITIONAL_COVERAGE_RATE NVARCHAR(100)
                                           
DECLARE  @THIRD_PARTY_LIABILITY_LIMIT NVARCHAR(100)
DECLARE  @THIRD_PARTY_LIABILITY_DEDUCTIBLE  NVARCHAR(50)
DECLARE  @THIRD_PARTY_LIABILITY_RATE NVARCHAR(100)
                                           
DECLARE  @TP_LIABILITY_ADDITIONAL_COVERAGE_LIMIT NVARCHAR(100)
DECLARE  @TP_LIABILITY_ADDITIONAL_COVERAGE_DEDUCTIBLE  NVARCHAR(50)
DECLARE  @TP_LIABILITY_ADDITIONAL_COVERAGE_RATE NVARCHAR(100)
                                           
DECLARE  @EXTRA_EXPENSE_TRA_LIMIT NVARCHAR(100)
DECLARE  @EXTRA_EXPENSE_TRA_DEDUCTIBLE  NVARCHAR(50)
DECLARE  @EXTRA_EXPENSE_TRA_RATE NVARCHAR(100)
                                           
DECLARE  @RUNWAY_FOAMING_CRASH_CONTROL_LIMIT NVARCHAR(100)
DECLARE  @RUNWAY_FOAMING_CRASH_CONTROL_DEDUCTIBLE  NVARCHAR(50)
DECLARE  @RUNWAY_FOAMING_CRASH_CONTROL_RATE NVARCHAR(100)
                                           
DECLARE  @SEARCH_RESCUE_LIMIT NVARCHAR(100)
DECLARE  @SEARCH_RESCUE_DEDUCTIBLE  NVARCHAR(50)
DECLARE  @SEARCH_RESCUE_RATE NVARCHAR(100)
                                           
DECLARE  @REPLACEMENT_AIRCRAFT_RENTAL_EXPENSE_LIMIT NVARCHAR(100)
DECLARE  @REPLACEMENT_AIRCRAFT_RENTAL_EXPENSE_DEDUCTIBLE  NVARCHAR(50)
DECLARE  @REPLACEMENT_AIRCRAFT_RENTAL_EXPENSE_RATE NVARCHAR(100)

DECLARE  @SPECIAL_EQUIPMENT_LIMIT NVARCHAR(100)
DECLARE  @SPECIAL_EQUIPMENT_DEDUCTIBLE  NVARCHAR(50)
DECLARE  @SPECIAL_EQUIPMENT_RATE NVARCHAR(100)

DECLARE  @NON_OWNED_AIRCRAFT_PHYSICAL_DAMAGE_LIMIT NVARCHAR(100)
DECLARE  @NON_OWNED_AIRCRAFT_PHYSICAL_DAMAGE_DEDUCTIBLE  NVARCHAR(50)
DECLARE  @NON_OWNED_AIRCRAFT_PHYSICAL_DAMAGE_RATE NVARCHAR(100)

DECLARE  @CARGO_LIABILITY_LIMIT NVARCHAR(100)
DECLARE  @CARGO_LIABILITY_DEDUCTIBLE  NVARCHAR(50)
DECLARE  @CARGO_LIABILITY_RATE NVARCHAR(100)

DECLARE  @GUESS_VOLUNTARY_SETTLEMENT_LIMIT NVARCHAR(100)
DECLARE  @GUESS_VOLUNTARY_SETTLEMENT_DEDUCTIBLE  NVARCHAR(50)
DECLARE  @GUESS_VOLUNTARY_SETTLEMENT_RATE NVARCHAR(100)

DECLARE  @PERSONAL_INJURY_LIMIT NVARCHAR(100)
DECLARE  @PERSONAL_INJURY_DEDUCTIBLE  NVARCHAR(50)
DECLARE  @PERSONAL_INJURY_RATE NVARCHAR(100)

DECLARE  @PREMISES_LIABILITY_LIMIT NVARCHAR(100)
DECLARE  @PREMISES_LIABILITY_DEDUCTIBLE  NVARCHAR(50)
DECLARE  @PREMISES_LIABILITY_RATE NVARCHAR(100)

DECLARE  @PREMISES_MEDICAL_PAYMENTS_LIMIT NVARCHAR(100)
DECLARE  @PREMISES_MEDICAL_PAYMENTS_DEDUCTIBLE  NVARCHAR(50)
DECLARE  @PREMISES_MEDICAL_PAYMENTS_RATE NVARCHAR(100)

DECLARE  @TRIP_INTERRUPTION_LIMIT NVARCHAR(100)
DECLARE  @TRIP_INTERRUPTION_DEDUCTIBLE  NVARCHAR(50)
DECLARE  @TRIP_INTERRUPTION_RATE NVARCHAR(100)

DECLARE  @AV_52_LIMIT NVARCHAR(100)
DECLARE  @AV_52_DEDUCTIBLE  NVARCHAR(50)
DECLARE  @AV_52_RATE NVARCHAR(100)

DECLARE  @NON_OWNED_AIRCRAFT_LIABILITY_TP_LIMIT NVARCHAR(100)
DECLARE  @NON_OWNED_AIRCRAFT_LIABILITY_TP_DEDUCTIBLE  NVARCHAR(50)
DECLARE  @NON_OWNED_AIRCRAFT_LIABILITY_TP_RATE NVARCHAR(100)

DECLARE  @HULL_WAR_RISKS_LIMIT NVARCHAR(100)
DECLARE  @HULL_WAR_RISKS_DEDUCTIBLE  NVARCHAR(50)
DECLARE  @HULL_WAR_RISKS_RATE NVARCHAR(100)

DECLARE  @SPARE_PARTS_LIMIT NVARCHAR(100)
DECLARE  @SPARE_PARTS_DEDUCTIBLE  NVARCHAR(50)
DECLARE  @SPARE_PARTS_RATE NVARCHAR(100)


DECLARE  @HULL_WAR_SPARE_LIMIT NVARCHAR(100)
DECLARE  @HULL_WAR_SPARE_DEDUCTIBLE  NVARCHAR(50)
DECLARE  @HULL_WAR_SPARE_RATE NVARCHAR(100)

/*
VEHICLE_ID
INSURED_VEH_NUMBER
USE_VEHICLE
COVG_PERIMETER
REG_NUMBER
SERIAL_NUMBER
VEHICLE_YEAR
MAKE
MAKE_OTHER
MODEL
MODEL_OTHER
CERTIFICATION
REGISTER
ENGINE_TYPE
WING_TYPE
CREW
PAX
REMARKS
DEACTIVATE_REACTIVATE_DATE
IS_ACTIVE
CREATED_BY
CREATED_DATETIME
MODIFIED_BY
sp_find avia
APP_AVIATION_VEHICLE_COVERAGES

POL_AVIATION_VEHICLE_COVERAGES
*/

	SELECT	@LOB_ID = APP_LOB, 
			@LOBNAME = MNT_LOB_MASTER.LOB_DESC,
			@STATENAME = STATE_NAME,
			@STATE_ID = APP_LIST.STATE_ID,
			@QUOTEEFFDATE = APP_EFFECTIVE_DATE,                                                                                                          
			@QUOTEEXPDATE = APP_EXPIRATION_DATE,                                                                                                       
			@TERMFACTOR = APP_TERMS      
	FROM APP_LIST
	LEFT  OUTER JOIN MNT_COUNTRY_STATE_LIST
	ON APP_LIST.STATE_ID=MNT_COUNTRY_STATE_LIST.STATE_ID
	LEFT OUTER JOIN MNT_LOB_MASTER
	ON APP_LIST.APP_LOB=MNT_LOB_MASTER.LOB_ID
	WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID

	SELECT	                                                                                 
			@INSURED_VEH_NUMBER = INSURED_VEH_NUMBER,                                                      
			@USE_VEHICLE = MLV.LOOKUP_VALUE_DESC,                      
			@COVG_PERIMETER = MLV1.LOOKUP_VALUE_DESC,                              
			@REG_NUMBER = REG_NUMBER,                                                                                  
			@SERIAL_NUMBER = SERIAL_NUMBER ,                                                                         
			@VEHICLE_YEAR = VEHICLE_YEAR,                             
			@MAKE = MLV2.LOOKUP_VALUE_DESC ,                                                                                   
			@MAKE_OTHER = MAKE_OTHER,                                                                               
			@MODEL  = MODEL,             
			@MODEL_OTHER = MODEL_OTHER ,                                                                    
			@CERTIFICATION = CERTIFICATION,                                                                                   
			@REGISTER = REGISTER,                                                                               
			@ENGINE_TYPE = MLV3.LOOKUP_VALUE_DESC,                                                                                   
			@WING_TYPE = MLV4.LOOKUP_VALUE_DESC,             
			@CREW = CREW,                                                                                  
			@PAX  = PAX
	FROM  APP_AVIATION_VEHICLES AAV
		LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV
		ON AAV.USE_VEHICLE = MLV.LOOKUP_UNIQUE_ID
		LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV1
		ON AAV.COVG_PERIMETER = MLV1.LOOKUP_UNIQUE_ID
		LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV2
		ON AAV.MODEL = MLV2.LOOKUP_UNIQUE_ID
		LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV3
		ON AAV.ENGINE_TYPE = MLV3.LOOKUP_UNIQUE_ID
		LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV4
		ON AAV.WING_TYPE = MLV4.LOOKUP_UNIQUE_ID
	WHERE  CUSTOMER_ID=@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID AND VEHICLE_ID = @AIRCRAFTID    

	SELECT	@HULL_ALL_RISK_LIMIT = CONVERT(NVARCHAR(100),ISNULL(LIMIT_1,0)),
			@HULL_ALL_RISK_DEDUCTIBLE = CONVERT(NVARCHAR(100),ISNULL(DEDUCTIBLE_1,0)),
			@HULL_ALL_RISK_RATE = CONVERT(NVARCHAR(100),ISNULL(WRITTEN_PREMIUM,0))
	FROM APP_AVIATION_VEHICLE_COVERAGES AAVC INNER JOIN MNT_COVERAGE MC
			ON AAVC.COVERAGE_CODE_ID=MC.COV_ID
	WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID AND VEHICLE_ID = @AIRCRAFTID AND MC.COV_CODE='HULAR'


	SELECT	@HULL_ADDITIONAL_COVERAGE_LIMIT = CONVERT(NVARCHAR(100),ISNULL(LIMIT_1,0)),
			@HULL_ADDITIONAL_COVERAGE_DEDUCTIBLE = CONVERT(NVARCHAR(100),ISNULL(DEDUCTIBLE_1,0)),
			@HULL_ADDITIONAL_COVERAGE_RATE = CONVERT(NVARCHAR(100),ISNULL(WRITTEN_PREMIUM,0))
	FROM APP_AVIATION_VEHICLE_COVERAGES AAVC INNER JOIN MNT_COVERAGE MC
			ON AAVC.COVERAGE_CODE_ID=MC.COV_ID
	WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID AND VEHICLE_ID = @AIRCRAFTID AND MC.COV_CODE='HULAC'

	SELECT	@THIRD_PARTY_LIABILITY_LIMIT = CONVERT(NVARCHAR(100),ISNULL(LIMIT_1,0)),
			@THIRD_PARTY_LIABILITY_DEDUCTIBLE = CONVERT(NVARCHAR(100),ISNULL(DEDUCTIBLE_1,0)),
			@THIRD_PARTY_LIABILITY_RATE = CONVERT(NVARCHAR(100),ISNULL(WRITTEN_PREMIUM,0))
	FROM APP_AVIATION_VEHICLE_COVERAGES AAVC INNER JOIN MNT_COVERAGE MC
			ON AAVC.COVERAGE_CODE_ID=MC.COV_ID
	WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID AND VEHICLE_ID = @AIRCRAFTID AND MC.COV_CODE='TPL'

	SELECT	@TP_LIABILITY_ADDITIONAL_COVERAGE_LIMIT = CONVERT(NVARCHAR(100),ISNULL(LIMIT_1,0)),
			@TP_LIABILITY_ADDITIONAL_COVERAGE_DEDUCTIBLE = CONVERT(NVARCHAR(100),ISNULL(DEDUCTIBLE_1,0)),
			@TP_LIABILITY_ADDITIONAL_COVERAGE_RATE = CONVERT(NVARCHAR(100),ISNULL(WRITTEN_PREMIUM,0))
	FROM APP_AVIATION_VEHICLE_COVERAGES AAVC INNER JOIN MNT_COVERAGE MC
			ON AAVC.COVERAGE_CODE_ID=MC.COV_ID
	WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID AND VEHICLE_ID = @AIRCRAFTID AND MC.COV_CODE='TPLADC'

	SELECT	@EXTRA_EXPENSE_TRA_LIMIT = CONVERT(NVARCHAR(100),ISNULL(LIMIT_1,0)),
			@EXTRA_EXPENSE_TRA_DEDUCTIBLE = CONVERT(NVARCHAR(100),ISNULL(DEDUCTIBLE_1,0)),
			@EXTRA_EXPENSE_TRA_RATE = CONVERT(NVARCHAR(100),ISNULL(WRITTEN_PREMIUM,0))
	FROM APP_AVIATION_VEHICLE_COVERAGES AAVC INNER JOIN MNT_COVERAGE MC
			ON AAVC.COVERAGE_CODE_ID=MC.COV_ID
	WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID AND VEHICLE_ID = @AIRCRAFTID AND MC.COV_CODE='EETRA'

	SELECT	@RUNWAY_FOAMING_CRASH_CONTROL_LIMIT = CONVERT(NVARCHAR(100),ISNULL(LIMIT_1,0)),
			@RUNWAY_FOAMING_CRASH_CONTROL_DEDUCTIBLE = CONVERT(NVARCHAR(100),ISNULL(DEDUCTIBLE_1,0)),
			@RUNWAY_FOAMING_CRASH_CONTROL_RATE = CONVERT(NVARCHAR(100),ISNULL(WRITTEN_PREMIUM,0))
	FROM APP_AVIATION_VEHICLE_COVERAGES AAVC INNER JOIN MNT_COVERAGE MC
			ON AAVC.COVERAGE_CODE_ID=MC.COV_ID
	WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID AND VEHICLE_ID = @AIRCRAFTID AND MC.COV_CODE='RUNFCC'

	SELECT	@SEARCH_RESCUE_LIMIT = CONVERT(NVARCHAR(100),ISNULL(LIMIT_1,0)),
			@SEARCH_RESCUE_DEDUCTIBLE = CONVERT(NVARCHAR(100),ISNULL(DEDUCTIBLE_1,0)),
			@SEARCH_RESCUE_RATE = CONVERT(NVARCHAR(100),ISNULL(WRITTEN_PREMIUM,0))
	FROM APP_AVIATION_VEHICLE_COVERAGES AAVC INNER JOIN MNT_COVERAGE MC
			ON AAVC.COVERAGE_CODE_ID=MC.COV_ID
	WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID AND VEHICLE_ID = @AIRCRAFTID AND MC.COV_CODE='SRHRES'

	SELECT	@REPLACEMENT_AIRCRAFT_RENTAL_EXPENSE_LIMIT = CONVERT(NVARCHAR(100),ISNULL(LIMIT_1,0)),
			@REPLACEMENT_AIRCRAFT_RENTAL_EXPENSE_DEDUCTIBLE = CONVERT(NVARCHAR(100),ISNULL(DEDUCTIBLE_1,0)),
			@REPLACEMENT_AIRCRAFT_RENTAL_EXPENSE_RATE = CONVERT(NVARCHAR(100),ISNULL(WRITTEN_PREMIUM,0))
	FROM APP_AVIATION_VEHICLE_COVERAGES AAVC INNER JOIN MNT_COVERAGE MC
			ON AAVC.COVERAGE_CODE_ID=MC.COV_ID
	WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID AND VEHICLE_ID = @AIRCRAFTID AND MC.COV_CODE='RARE'

	SELECT	@SPECIAL_EQUIPMENT_LIMIT = CONVERT(NVARCHAR(100),ISNULL(LIMIT_1,0)),
			@SPECIAL_EQUIPMENT_DEDUCTIBLE = CONVERT(NVARCHAR(100),ISNULL(DEDUCTIBLE_1,0)),
			@SPECIAL_EQUIPMENT_RATE = CONVERT(NVARCHAR(100),ISNULL(WRITTEN_PREMIUM,0))
	FROM APP_AVIATION_VEHICLE_COVERAGES AAVC INNER JOIN MNT_COVERAGE MC
			ON AAVC.COVERAGE_CODE_ID=MC.COV_ID
	WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID AND VEHICLE_ID = @AIRCRAFTID AND MC.COV_CODE='SPEQP'

	SELECT	@NON_OWNED_AIRCRAFT_PHYSICAL_DAMAGE_LIMIT = CONVERT(NVARCHAR(100),ISNULL(LIMIT_1,0)),
			@NON_OWNED_AIRCRAFT_PHYSICAL_DAMAGE_DEDUCTIBLE = CONVERT(NVARCHAR(100),ISNULL(DEDUCTIBLE_1,0)),
			@NON_OWNED_AIRCRAFT_PHYSICAL_DAMAGE_RATE = CONVERT(NVARCHAR(100),ISNULL(WRITTEN_PREMIUM,0))
	FROM APP_AVIATION_VEHICLE_COVERAGES AAVC INNER JOIN MNT_COVERAGE MC
			ON AAVC.COVERAGE_CODE_ID=MC.COV_ID
	WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID AND VEHICLE_ID = @AIRCRAFTID AND MC.COV_CODE='NOAPD'

	SELECT	@SPECIAL_EQUIPMENT_LIMIT = CONVERT(NVARCHAR(100),ISNULL(LIMIT_1,0)),
			@SPECIAL_EQUIPMENT_DEDUCTIBLE = CONVERT(NVARCHAR(100),ISNULL(DEDUCTIBLE_1,0)),
			@SPECIAL_EQUIPMENT_RATE = CONVERT(NVARCHAR(100),ISNULL(WRITTEN_PREMIUM,0))
	FROM APP_AVIATION_VEHICLE_COVERAGES AAVC INNER JOIN MNT_COVERAGE MC
			ON AAVC.COVERAGE_CODE_ID=MC.COV_ID
	WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID AND VEHICLE_ID = @AIRCRAFTID AND MC.COV_CODE='SPEQP'

	SELECT	@NON_OWNED_AIRCRAFT_PHYSICAL_DAMAGE_LIMIT = CONVERT(NVARCHAR(100),ISNULL(LIMIT_1,0)),
			@NON_OWNED_AIRCRAFT_PHYSICAL_DAMAGE_DEDUCTIBLE = CONVERT(NVARCHAR(100),ISNULL(DEDUCTIBLE_1,0)),
			@NON_OWNED_AIRCRAFT_PHYSICAL_DAMAGE_RATE = CONVERT(NVARCHAR(100),ISNULL(WRITTEN_PREMIUM,0))
	FROM APP_AVIATION_VEHICLE_COVERAGES AAVC INNER JOIN MNT_COVERAGE MC
			ON AAVC.COVERAGE_CODE_ID=MC.COV_ID
	WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID AND VEHICLE_ID = @AIRCRAFTID AND MC.COV_CODE='NOAPD'

	SELECT	@CARGO_LIABILITY_LIMIT = CONVERT(NVARCHAR(100),ISNULL(LIMIT_1,0)),
			@CARGO_LIABILITY_DEDUCTIBLE = CONVERT(NVARCHAR(100),ISNULL(DEDUCTIBLE_1,0)),
			@CARGO_LIABILITY_RATE = CONVERT(NVARCHAR(100),ISNULL(WRITTEN_PREMIUM,0))
	FROM APP_AVIATION_VEHICLE_COVERAGES AAVC INNER JOIN MNT_COVERAGE MC
			ON AAVC.COVERAGE_CODE_ID=MC.COV_ID
	WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID AND VEHICLE_ID = @AIRCRAFTID AND MC.COV_CODE='CARLIB'

	SELECT	@GUESS_VOLUNTARY_SETTLEMENT_LIMIT = CONVERT(NVARCHAR(100),ISNULL(LIMIT_1,0)),
			@GUESS_VOLUNTARY_SETTLEMENT_DEDUCTIBLE = CONVERT(NVARCHAR(100),ISNULL(DEDUCTIBLE_1,0)),
			@GUESS_VOLUNTARY_SETTLEMENT_RATE = CONVERT(NVARCHAR(100),ISNULL(WRITTEN_PREMIUM,0))
	FROM APP_AVIATION_VEHICLE_COVERAGES AAVC INNER JOIN MNT_COVERAGE MC
			ON AAVC.COVERAGE_CODE_ID=MC.COV_ID
	WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID AND VEHICLE_ID = @AIRCRAFTID AND MC.COV_CODE='GUSVS'

	SELECT	@PERSONAL_INJURY_LIMIT = CONVERT(NVARCHAR(100),ISNULL(LIMIT_1,0)),
			@PERSONAL_INJURY_DEDUCTIBLE = CONVERT(NVARCHAR(100),ISNULL(DEDUCTIBLE_1,0)),
			@PERSONAL_INJURY_RATE = CONVERT(NVARCHAR(100),ISNULL(WRITTEN_PREMIUM,0))
	FROM APP_AVIATION_VEHICLE_COVERAGES AAVC INNER JOIN MNT_COVERAGE MC
			ON AAVC.COVERAGE_CODE_ID=MC.COV_ID
	WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID AND VEHICLE_ID = @AIRCRAFTID AND MC.COV_CODE='PRING'

	SELECT	@PREMISES_LIABILITY_LIMIT = CONVERT(NVARCHAR(100),ISNULL(LIMIT_1,0)),
			@PREMISES_LIABILITY_DEDUCTIBLE = CONVERT(NVARCHAR(100),ISNULL(DEDUCTIBLE_1,0)),
			@PREMISES_LIABILITY_RATE = CONVERT(NVARCHAR(100),ISNULL(WRITTEN_PREMIUM,0))
	FROM APP_AVIATION_VEHICLE_COVERAGES AAVC INNER JOIN MNT_COVERAGE MC
			ON AAVC.COVERAGE_CODE_ID=MC.COV_ID
	WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID AND VEHICLE_ID = @AIRCRAFTID AND MC.COV_CODE='PRMLIB'

	SELECT	@PREMISES_MEDICAL_PAYMENTS_LIMIT = CONVERT(NVARCHAR(100),ISNULL(LIMIT_1,0)),
			@PREMISES_MEDICAL_PAYMENTS_DEDUCTIBLE = CONVERT(NVARCHAR(100),ISNULL(DEDUCTIBLE_1,0)),
			@PREMISES_MEDICAL_PAYMENTS_RATE = CONVERT(NVARCHAR(100),ISNULL(WRITTEN_PREMIUM,0))
	FROM APP_AVIATION_VEHICLE_COVERAGES AAVC INNER JOIN MNT_COVERAGE MC
			ON AAVC.COVERAGE_CODE_ID=MC.COV_ID
	WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID AND VEHICLE_ID = @AIRCRAFTID AND MC.COV_CODE='PRMMP'

	SELECT	@TRIP_INTERRUPTION_LIMIT = CONVERT(NVARCHAR(100),ISNULL(LIMIT_1,0)),
			@TRIP_INTERRUPTION_DEDUCTIBLE = CONVERT(NVARCHAR(100),ISNULL(DEDUCTIBLE_1,0)),
			@TRIP_INTERRUPTION_RATE = CONVERT(NVARCHAR(100),ISNULL(WRITTEN_PREMIUM,0))
	FROM APP_AVIATION_VEHICLE_COVERAGES AAVC INNER JOIN MNT_COVERAGE MC
			ON AAVC.COVERAGE_CODE_ID=MC.COV_ID
	WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID AND VEHICLE_ID = @AIRCRAFTID AND MC.COV_CODE='TRPINT'

	SELECT	@AV_52_LIMIT = CONVERT(NVARCHAR(100),ISNULL(LIMIT_1,0)),
			@AV_52_DEDUCTIBLE = CONVERT(NVARCHAR(100),ISNULL(DEDUCTIBLE_1,0)),
			@AV_52_RATE = CONVERT(NVARCHAR(100),ISNULL(WRITTEN_PREMIUM,0))
	FROM APP_AVIATION_VEHICLE_COVERAGES AAVC INNER JOIN MNT_COVERAGE MC
			ON AAVC.COVERAGE_CODE_ID=MC.COV_ID
	WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID AND VEHICLE_ID = @AIRCRAFTID AND MC.COV_CODE='AV52'


	SELECT	@NON_OWNED_AIRCRAFT_LIABILITY_TP_LIMIT = CONVERT(NVARCHAR(100),ISNULL(LIMIT_1,0)),
			@NON_OWNED_AIRCRAFT_LIABILITY_TP_DEDUCTIBLE = CONVERT(NVARCHAR(100),ISNULL(DEDUCTIBLE_1,0)),
			@NON_OWNED_AIRCRAFT_LIABILITY_TP_RATE = CONVERT(NVARCHAR(100),ISNULL(WRITTEN_PREMIUM,0))
	FROM APP_AVIATION_VEHICLE_COVERAGES AAVC INNER JOIN MNT_COVERAGE MC
			ON AAVC.COVERAGE_CODE_ID=MC.COV_ID
	WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID AND VEHICLE_ID = @AIRCRAFTID AND MC.COV_CODE='NOALIB'

	SELECT	@HULL_WAR_RISKS_LIMIT = CONVERT(NVARCHAR(100),ISNULL(LIMIT_1,0)),
			@HULL_WAR_RISKS_DEDUCTIBLE = CONVERT(NVARCHAR(100),ISNULL(DEDUCTIBLE_1,0)),
			@HULL_WAR_RISKS_RATE = CONVERT(NVARCHAR(100),ISNULL(WRITTEN_PREMIUM,0))
	FROM APP_AVIATION_VEHICLE_COVERAGES AAVC INNER JOIN MNT_COVERAGE MC
			ON AAVC.COVERAGE_CODE_ID=MC.COV_ID
	WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID AND VEHICLE_ID = @AIRCRAFTID AND MC.COV_CODE='HLWRR'

	SELECT	@SPARE_PARTS_LIMIT = CONVERT(NVARCHAR(100),ISNULL(LIMIT_1,0)),
			@SPARE_PARTS_DEDUCTIBLE = CONVERT(NVARCHAR(100),ISNULL(DEDUCTIBLE_1,0)),
			@SPARE_PARTS_RATE = CONVERT(NVARCHAR(100),ISNULL(WRITTEN_PREMIUM,0))
	FROM APP_AVIATION_VEHICLE_COVERAGES AAVC INNER JOIN MNT_COVERAGE MC
			ON AAVC.COVERAGE_CODE_ID=MC.COV_ID
	WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID AND VEHICLE_ID = @AIRCRAFTID AND MC.COV_CODE='SPRPRT'

	SELECT	@HULL_WAR_SPARE_LIMIT = CONVERT(NVARCHAR(100),ISNULL(LIMIT_1,0)),
			@HULL_WAR_SPARE_DEDUCTIBLE = CONVERT(NVARCHAR(100),ISNULL(DEDUCTIBLE_1,0)),
			@HULL_WAR_SPARE_RATE = CONVERT(NVARCHAR(100),ISNULL(WRITTEN_PREMIUM,0))
	FROM APP_AVIATION_VEHICLE_COVERAGES AAVC INNER JOIN MNT_COVERAGE MC
			ON AAVC.COVERAGE_CODE_ID=MC.COV_ID
	WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID AND VEHICLE_ID = @AIRCRAFTID AND MC.COV_CODE='HLWSPR'

SELECT 
@LOB_ID AS LOB_ID,
@LOBNAME AS LOBNAME,
@STATENAME AS STATENAME,
@STATE_ID AS STATE_ID,
@QUOTEEFFDATE AS QUOTEEFFDATE,
@QUOTEEXPDATE AS QUOTEEXPDATE,
@TERMFACTOR AS TERMFACTOR,
@INSURED_VEH_NUMBER AS INSURED_VEH_NUMBER,
@USE_VEHICLE AS USE_VEHICLE,
@COVG_PERIMETER AS COVG_PERIMETER,
@REG_NUMBER AS REG_NUMBER,
@SERIAL_NUMBER AS SERIAL_NUMBER,
@VEHICLE_YEAR AS VEHICLE_YEAR,
@MAKE AS MAKE,
@MAKE_OTHER AS MAKE_OTHER,
@MODEL AS MODEL,
@MODEL_OTHER AS MODEL_OTHER,
@CERTIFICATION AS CERTIFICATION,
@REGISTER AS REGISTER,
@ENGINE_TYPE AS ENGINE_TYPE,
@WING_TYPE AS WING_TYPE,
@CREW AS CREW,
@PAX AS PAX,                                            
@HULL_ALL_RISK_LIMIT AS HULL_ALL_RISK_LIMIT,
@HULL_ALL_RISK_DEDUCTIBLE AS HULL_ALL_RISK_DEDUCTIBLE,
@HULL_ALL_RISK_RATE AS HULL_ALL_RISK_RATE,                                           
@HULL_ADDITIONAL_COVERAGE_LIMIT AS HULL_ADDITIONAL_COVERAGE_LIMIT,
@HULL_ADDITIONAL_COVERAGE_DEDUCTIBLE AS HULL_ADDITIONAL_COVERAGE_DEDUCTIBLE,
@HULL_ADDITIONAL_COVERAGE_RATE AS HULL_ADDITIONAL_COVERAGE_RATE,                                           
@THIRD_PARTY_LIABILITY_LIMIT AS THIRD_PARTY_LIABILITY_LIMIT,
@THIRD_PARTY_LIABILITY_DEDUCTIBLE AS THIRD_PARTY_LIABILITY_DEDUCTIBLE,
@THIRD_PARTY_LIABILITY_RATE AS THIRD_PARTY_LIABILITY_RATE,                                           
@TP_LIABILITY_ADDITIONAL_COVERAGE_LIMIT AS TP_LIABILITY_ADDITIONAL_COVERAGE_LIMIT,
@TP_LIABILITY_ADDITIONAL_COVERAGE_DEDUCTIBLE AS TP_LIABILITY_ADDITIONAL_COVERAGE_DEDUCTIBLE,
@TP_LIABILITY_ADDITIONAL_COVERAGE_RATE AS TP_LIABILITY_ADDITIONAL_COVERAGE_RATE,                                           
@EXTRA_EXPENSE_TRA_LIMIT AS EXTRA_EXPENSE_TRA_LIMIT,
@EXTRA_EXPENSE_TRA_DEDUCTIBLE AS EXTRA_EXPENSE_TRA_DEDUCTIBLE,
@EXTRA_EXPENSE_TRA_RATE AS EXTRA_EXPENSE_TRA_RATE,                                           
@RUNWAY_FOAMING_CRASH_CONTROL_LIMIT AS RUNWAY_FOAMING_CRASH_CONTROL_LIMIT,
@RUNWAY_FOAMING_CRASH_CONTROL_DEDUCTIBLE AS RUNWAY_FOAMING_CRASH_CONTROL_DEDUCTIBLE,
@RUNWAY_FOAMING_CRASH_CONTROL_RATE AS RUNWAY_FOAMING_CRASH_CONTROL_RATE,                                           
@SEARCH_RESCUE_LIMIT AS SEARCH_RESCUE_LIMIT,
@SEARCH_RESCUE_DEDUCTIBLE AS SEARCH_RESCUE_DEDUCTIBLE,
@SEARCH_RESCUE_RATE AS SEARCH_RESCUE_RATE,                                           
@REPLACEMENT_AIRCRAFT_RENTAL_EXPENSE_LIMIT AS REPLACEMENT_AIRCRAFT_RENTAL_EXPENSE_LIMIT,
@REPLACEMENT_AIRCRAFT_RENTAL_EXPENSE_DEDUCTIBLE AS REPLACEMENT_AIRCRAFT_RENTAL_EXPENSE_DEDUCTIBLE,
@REPLACEMENT_AIRCRAFT_RENTAL_EXPENSE_RATE AS REPLACEMENT_AIRCRAFT_RENTAL_EXPENSE_RATE,
@SPECIAL_EQUIPMENT_LIMIT AS SPECIAL_EQUIPMENT_LIMIT,
@SPECIAL_EQUIPMENT_DEDUCTIBLE AS SPECIAL_EQUIPMENT_DEDUCTIBLE,
@SPECIAL_EQUIPMENT_RATE AS SPECIAL_EQUIPMENT_RATE,
@NON_OWNED_AIRCRAFT_PHYSICAL_DAMAGE_LIMIT AS NON_OWNED_AIRCRAFT_PHYSICAL_DAMAGE_LIMIT,
@NON_OWNED_AIRCRAFT_PHYSICAL_DAMAGE_DEDUCTIBLE AS NON_OWNED_AIRCRAFT_PHYSICAL_DAMAGE_DEDUCTIBLE,
@NON_OWNED_AIRCRAFT_PHYSICAL_DAMAGE_RATE AS NON_OWNED_AIRCRAFT_PHYSICAL_DAMAGE_RATE,
@CARGO_LIABILITY_LIMIT AS CARGO_LIABILITY_LIMIT,
@CARGO_LIABILITY_DEDUCTIBLE AS CARGO_LIABILITY_DEDUCTIBLE,
@CARGO_LIABILITY_RATE AS CARGO_LIABILITY_RATE,
@GUESS_VOLUNTARY_SETTLEMENT_LIMIT AS GUESS_VOLUNTARY_SETTLEMENT_LIMIT,
@GUESS_VOLUNTARY_SETTLEMENT_DEDUCTIBLE AS GUESS_VOLUNTARY_SETTLEMENT_DEDUCTIBLE,
@GUESS_VOLUNTARY_SETTLEMENT_RATE AS GUESS_VOLUNTARY_SETTLEMENT_RATE,
@PERSONAL_INJURY_LIMIT AS PERSONAL_INJURY_LIMIT,
@PERSONAL_INJURY_DEDUCTIBLE AS PERSONAL_INJURY_DEDUCTIBLE,
@PERSONAL_INJURY_RATE AS PERSONAL_INJURY_RATE,
@PREMISES_LIABILITY_LIMIT AS PREMISES_LIABILITY_LIMIT,
@PREMISES_LIABILITY_DEDUCTIBLE AS PREMISES_LIABILITY_DEDUCTIBLE,
@PREMISES_LIABILITY_RATE AS PREMISES_LIABILITY_RATE,
@PREMISES_MEDICAL_PAYMENTS_LIMIT AS PREMISES_MEDICAL_PAYMENTS_LIMIT,
@PREMISES_MEDICAL_PAYMENTS_DEDUCTIBLE AS PREMISES_MEDICAL_PAYMENTS_DEDUCTIBLE,
@PREMISES_MEDICAL_PAYMENTS_RATE AS REMISES_MEDICAL_PAYMENTS_RATE,
@TRIP_INTERRUPTION_LIMIT AS TRIP_INTERRUPTION_LIMIT,
@TRIP_INTERRUPTION_DEDUCTIBLE AS TRIP_INTERRUPTION_DEDUCTIBLE,
@TRIP_INTERRUPTION_RATE AS TRIP_INTERRUPTION_RATE,
@AV_52_LIMIT AS AV_52_LIMIT,
@AV_52_DEDUCTIBLE AS AV_52_DEDUCTIBLE,
@AV_52_RATE AS AV_52_RATE,
@NON_OWNED_AIRCRAFT_LIABILITY_TP_LIMIT AS NON_OWNED_AIRCRAFT_LIABILITY_TP_LIMIT,
@NON_OWNED_AIRCRAFT_LIABILITY_TP_DEDUCTIBLE AS NON_OWNED_AIRCRAFT_LIABILITY_TP_DEDUCTIBLE,
@NON_OWNED_AIRCRAFT_LIABILITY_TP_RATE AS NON_OWNED_AIRCRAFT_LIABILITY_TP_RATE,
@HULL_WAR_RISKS_LIMIT AS HULL_WAR_RISKS_LIMIT,
@HULL_WAR_RISKS_DEDUCTIBLE AS HULL_WAR_RISKS_DEDUCTIBLE,
@HULL_WAR_RISKS_RATE AS HULL_WAR_RISKS_RATE,
@SPARE_PARTS_LIMIT AS SPARE_PARTS_LIMIT,
@SPARE_PARTS_DEDUCTIBLE AS SPARE_PARTS_DEDUCTIBLE,
@SPARE_PARTS_RATE AS SPARE_PARTS_RATE,
@HULL_WAR_SPARE_LIMIT AS HULL_WAR_SPARE_LIMIT,
@HULL_WAR_SPARE_DEDUCTIBLE AS HULL_WAR_SPARE_DEDUCTIBLE,
@HULL_WAR_SPARE_RATE AS HULL_WAR_SPARE_RATE
END     


GO

