IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetPolNewRankNo]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetPolNewRankNo]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------        
Proc Name           : dbo.Proc_GetPolNewRankNo        
Created by          : Swastika Gaur        
Date                : 7th Jun'06        
Purpose             : To get the new additional rank no.       
Revison History     :        
Used In             :   Wolverine        
------------------------------------------------------------        
Date     Review By          Comments        
------   ------------       -------------------------*/        
--DROP PROC dbo.Proc_GetPolNewRankNo   
CREATE  PROC dbo.Proc_GetPolNewRankNo        
@CUSTOMER_ID INT,        
@POLICY_ID INT,        
@POLICY_VERSION_ID INT,        
@CALLEDFROM varchar(10)         
as        
BEGIN     
DECLARE @RANK AS numeric     
-- WAT        
IF (@CALLEDFROM ='WAT')        
  
    BEGIN   
 IF EXISTS (SELECT CUSTOMER_ID FROM POL_WATERCRAFT_COV_ADD_INT (NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID)     
    BEGIN  
  SELECT (isnull(MAX(RANK),0)) +1 as RANK        
    FROM  POL_WATERCRAFT_COV_ADD_INT (NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID        
    END  
 ELSE  
    BEGIN   
  SELECT 1 AS RANK  
    END   
    END  
-- AUTO  AND  MOT  
ELSE IF (@CALLEDFROM ='MOT' OR @CALLEDFROM ='PPA')        
   BEGIN   
 IF EXISTS (SELECT CUSTOMER_ID FROM POL_ADD_OTHER_INT (NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID)     
    BEGIN  
  SELECT (isnull(MAX(RANK),0)) +1 as RANK        
    FROM  POL_ADD_OTHER_INT (NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID        
    END  
 ELSE  
    SELECT 1 AS RANK  
    END  
  
-- HOME  AND  RENTAL  
ELSE IF (@CALLEDFROM ='HOME')        
   BEGIN   
 IF EXISTS (SELECT CUSTOMER_ID FROM POL_HOME_OWNER_ADD_INT (NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID)     
    BEGIN  
  SELECT (isnull(MAX(RANK),0)) +1 as RANK        
    FROM  POL_HOME_OWNER_ADD_INT (NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID        
    END  
 ELSE  
    BEGIN   
  SELECT 1 AS RANK  
    END   
    END 

-- HOM REC VEH
ELSE IF (@CALLEDFROM ='HREC')      
   BEGIN 
	IF EXISTS (SELECT CUSTOMER_ID FROM POL_HOMEOWNER_REC_VEH_ADD_INT WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID) 	 
	   BEGIN
		SELECT (isnull(MAX(RANK),0)) +1 as RANK      
	  	FROM  POL_HOMEOWNER_REC_VEH_ADD_INT WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID      
	   END
	ELSE
	   SELECT 1 AS RANK
    END 
  
-- WAT TRAILER  
ELSE IF (@CALLEDFROM ='WTR')        
   BEGIN   
 IF EXISTS (SELECT CUSTOMER_ID FROM POL_WATERCRAFT_TRAILER_ADD_INT (NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID)     
    BEGIN  
  SELECT (isnull(MAX(RANK),0)) +1 as RANK        
    FROM  POL_WATERCRAFT_TRAILER_ADD_INT (NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID        
    END  
 ELSE  
    SELECT 1 AS RANK  
    END  
  
-- GEN LIABILITY  
ELSE IF (@CALLEDFROM ='GEN')        
   BEGIN   
 IF EXISTS (SELECT CUSTOMER_ID FROM POL_GENERAL_HOLDER_INTEREST (NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID)     
    BEGIN  
  SELECT (isnull(MAX(RANK),0)) +1 as RANK        
    FROM  POL_GENERAL_HOLDER_INTEREST (NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID        
    END  
 ELSE  
    SELECT 1 AS RANK  
    END  
  
END        
  
  
  
  
  



GO

