IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_FETCHEARNEDPREMIUMREPORTGROUPBYASLOB]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_FETCHEARNEDPREMIUMREPORTGROUPBYASLOB]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran
--drop proc DBO.PROC_FETCHEARNEDPREMIUMREPORTGROUPBYASLOB 
--go 
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*----------------------------------------------------------                
 Proc Name       : Dbo.Proc_FetchEarnedPremiumReportGroupByASLOB
 Created by      : Arun 
 Date            : 01-25-2008
 Modified by     :  
 Date            : 
 Purpose         : Fetch Earned premium report for particular month year 
 Revison History : 
MODIFIED BY		: PRAVESH K CHANDEL
MODIFIED DATE	: 24 APRIL 2008               
 Used In     	 : Wolverine   (Reporting)

MODIFIED BY		: PRAVESH K CHANDEL
MODIFIED DATE	: 5 MARCH 2009               
 Purpose         : MAKE ASLOB AS PER VEHICLE TYPE (COMMERCIAR OR PERSONAL) IN CASE OF AUTO LOB
 Used In     	 : Wolverine   (Reporting)

------------------------------------------------------------                
Date     Review By          Comments                
------   ------------       -------------------------*/                
-- DROP PROC DBO.PROC_FETCHEARNEDPREMIUMREPORTGROUPBYASLOB 
CREATE PROC [dbo].[PROC_FETCHEARNEDPREMIUMREPORTGROUPBYASLOB] 
(                
	@MONTH 			SMALLINT,
	@YEAR  			INT
)                
AS               
BEGIN 

-- RAVINDRA(12-05-2007): EARNED PREMIUM WILL BE PROCESSED AT MONTH END
-- -- IF EARNED PREMIUM REPORT HAS NOT PROCESSED YET FOR CONCERNED MONTH & YEAR PROCESS IT
-- IF NOT EXISTS ( SELECT IDEN_ROW_ID FROM ACT_EARNED_PREMIUM 
-- 		WHERE MONTH_NUMBER = @MONTH 
-- 		AND   YEAR_NUMBER  = @YEAR )
-- BEGIN 
-- 	EXEC PROC_FETCHEARNEDPREMIUMREPORTGROUPBYASLOB @MONTH , @YEAR	
-- END

--SELECT  ISNULL(LOB_DESC,'') AS LOB_DESC,ISNULL(MNTLUP.LOOKUP_VALUE_DESC ,'') AS LOOKUP_VALUE_DESC,
--	--ISNULL(MNTC.COV_DES,'') AS COV_DES,ISNULL(MNTC.COV_CODE,'') AS COV_CODE,
--	TMP.POLICY_NUMBER , 
--	AGN.AGENCY_CODE,
--	STATE.STATE_CODE,
--	TMP.POLICY_EFFECTIVE_DATE ,
--   	TMP.POLICY_EXPIRATION_DATE ,
----	--TMP.TRAN_EFFECTIVE_DATE ,ISNULL(PRC.PROCESS_SHORTNAME ,'') AS TRANSACTION_CODE,
----   	(SELECT SUM(ISNULL(TMP1.INFORCE_PREMIUM,0)) FROM ACT_EARNED_PREMIUM TMP1 LEFT OUTER JOIN MNT_COVERAGE MNTC1 
---- 	ON TMP1.COVERAGEID = MNTC1.COV_ID WHERE TMP1.POLICY_NUMBER = TMP.POLICY_NUMBER AND TMP1.MONTH_NUMBER = @MONTH AND   TMP1.YEAR_NUMBER  = @YEAR AND MNTC1.ASLOB = MNTC.ASLOB) AS INFORCE_PREMIUM,
----   	(SELECT SUM(ISNULL(TMP1.BEGINNING_UNEARNED,0)) FROM ACT_EARNED_PREMIUM TMP1 LEFT OUTER JOIN MNT_COVERAGE MNTC1 
---- 	ON TMP1.COVERAGEID = MNTC1.COV_ID  WHERE TMP1.POLICY_NUMBER = TMP.POLICY_NUMBER AND TMP1.MONTH_NUMBER = @MONTH AND   TMP1.YEAR_NUMBER  = @YEAR AND MNTC1.ASLOB = MNTC.ASLOB) AS BEGINNING_UNEARNED,
----   	(SELECT SUM(ISNULL(TMP1.WRITTEN_PREMIUM,0)) FROM ACT_EARNED_PREMIUM TMP1 LEFT OUTER JOIN MNT_COVERAGE MNTC1 
---- 	ON TMP1.COVERAGEID = MNTC1.COV_ID  WHERE TMP1.POLICY_NUMBER = TMP.POLICY_NUMBER AND TMP1.MONTH_NUMBER = @MONTH AND   TMP1.YEAR_NUMBER  = @YEAR AND MNTC1.ASLOB = MNTC.ASLOB) AS WRITTEN_PREMIUM,
----   	(SELECT SUM(ISNULL(TMP1.ENDING_UNEARNED,0)) FROM ACT_EARNED_PREMIUM TMP1 LEFT OUTER JOIN MNT_COVERAGE MNTC1 
---- 	ON TMP1.COVERAGEID = MNTC1.COV_ID  WHERE TMP1.POLICY_NUMBER = TMP.POLICY_NUMBER AND TMP1.MONTH_NUMBER = @MONTH AND   TMP1.YEAR_NUMBER  = @YEAR AND MNTC1.ASLOB = MNTC.ASLOB) AS ENDING_UNEARNED ,
----   	(SELECT SUM(ISNULL(TMP1.EARNED_PREMIUM,0)) FROM ACT_EARNED_PREMIUM TMP1 LEFT OUTER JOIN MNT_COVERAGE MNTC1 
---- 	ON TMP1.COVERAGEID = MNTC1.COV_ID  WHERE TMP1.POLICY_NUMBER = TMP.POLICY_NUMBER AND TMP1.MONTH_NUMBER = @MONTH AND   TMP1.YEAR_NUMBER  = @YEAR AND MNTC1.ASLOB = MNTC.ASLOB) AS EARNED_PREMIUM	
--  	(SELECT SUM(ISNULL(TMP1.INFORCE_PREMIUM,0)) FROM ACT_EARNED_PREMIUM TMP1 
-- 	 WHERE  TMP1.COVERAGEID = MNTC.COV_ID and TMP1.POLICY_NUMBER = TMP.POLICY_NUMBER AND TMP1.MONTH_NUMBER = @MONTH AND   TMP1.YEAR_NUMBER  = @YEAR ) AS INFORCE_PREMIUM,
--	(SELECT SUM(ISNULL(TMP1.BEGINNING_UNEARNED,0)) FROM ACT_EARNED_PREMIUM TMP1  
-- 	  WHERE  TMP1.COVERAGEID = MNTC.COV_ID  AND TMP1.POLICY_NUMBER = TMP.POLICY_NUMBER AND TMP1.MONTH_NUMBER = @MONTH AND   TMP1.YEAR_NUMBER  = @YEAR ) AS BEGINNING_UNEARNED,
--   	(SELECT SUM(ISNULL(TMP1.WRITTEN_PREMIUM,0)) FROM ACT_EARNED_PREMIUM TMP1 
-- 	 WHERE  TMP1.COVERAGEID = MNTC.COV_ID  AND TMP1.POLICY_NUMBER = TMP.POLICY_NUMBER AND TMP1.MONTH_NUMBER = @MONTH AND TMP1.YEAR_NUMBER  = @YEAR ) AS WRITTEN_PREMIUM,
--   	(SELECT SUM(ISNULL(TMP1.ENDING_UNEARNED,0)) FROM ACT_EARNED_PREMIUM TMP1 
--		WHERE 	TMP1.COVERAGEID = MNTC.COV_ID  AND TMP1.POLICY_NUMBER = TMP.POLICY_NUMBER AND TMP1.MONTH_NUMBER = @MONTH AND   TMP1.YEAR_NUMBER  = @YEAR ) AS ENDING_UNEARNED ,
--   	(SELECT SUM(ISNULL(TMP1.EARNED_PREMIUM,0)) FROM ACT_EARNED_PREMIUM TMP1 
-- 	  WHERE  TMP1.COVERAGEID = MNTC.COV_ID AND TMP1.POLICY_NUMBER = TMP.POLICY_NUMBER AND TMP1.MONTH_NUMBER = @MONTH AND   TMP1.YEAR_NUMBER  = @YEAR ) AS EARNED_PREMIUM	
--
--FROM    ACT_EARNED_PREMIUM TMP 
--INNER JOIN MNT_AGENCY_LIST AGN 
--	ON TMP.AGENCY_ID = AGN.AGENCY_ID
--LEFT OUTER JOIN MNT_COVERAGE MNTC 
-- 	ON TMP.COVERAGEID = MNTC.COV_ID  
--INNER JOIN MNT_COUNTRY_STATE_LIST STATE
--	ON TMP.STATE_ID = STATE.STATE_ID
--LEFT JOIN POL_PROCESS_MASTER PRC
--	ON TMP.PROCESS_ID = PRC.PROCESS_ID 
--INNER JOIN MNT_LOOKUP_VALUES MNTLUP
--	ON MNTC.ASLOB = MNTLUP.LOOKUP_UNIQUE_ID 
--INNER JOIN MNT_LOB_MASTER MLM
--	ON MLM.LOB_ID = MNTC.LOB_ID
--WHERE TMP.MONTH_NUMBER = @MONTH 
--AND   TMP.YEAR_NUMBER  = @YEAR
--AND TMP.INFORCE_PREMIUM <> 0 
--ORDER BY LOB_DESC,LOOKUP_VALUE_DESC,STATE.STATE_CODE,POLICY_NUMBER

SELECT    max(ISNULL(LOB_DESC,'')) AS LOB_DESC,
      ISNULL(MNTLUP.LOOKUP_VALUE_DESC ,'') AS LOOKUP_VALUE_DESC,
	--ISNULL(MNTC.COV_DES,'') AS COV_DES,ISNULL(MNTC.COV_CODE,'') AS COV_CODE,
	TMP.POLICY_NUMBER , 
	AGN.AGENCY_CODE,
	STATE.STATE_CODE,
	max(TMP.POLICY_EFFECTIVE_DATE) as POLICY_EFFECTIVE_DATE,
   	max(TMP.POLICY_EXPIRATION_DATE ) as POLICY_EXPIRATION_DATE,
--
--  	(SELECT SUM(ISNULL(TMP1.INFORCE_PREMIUM,0)) FROM ACT_EARNED_PREMIUM TMP1 
-- 	 WHERE  TMP1.COVERAGEID = MNTC.COV_ID and TMP1.POLICY_NUMBER = TMP.POLICY_NUMBER AND TMP1.MONTH_NUMBER = 2 AND   TMP1.YEAR_NUMBER  = 2008 ) AS INFORCE_PREMIUM,
--	(SELECT SUM(ISNULL(TMP1.BEGINNING_UNEARNED,0)) FROM ACT_EARNED_PREMIUM TMP1  
-- 	  WHERE  TMP1.COVERAGEID = MNTC.COV_ID  AND TMP1.POLICY_NUMBER = TMP.POLICY_NUMBER AND TMP1.MONTH_NUMBER = 2 AND   TMP1.YEAR_NUMBER  = 2008 ) AS BEGINNING_UNEARNED,
--   	(SELECT SUM(ISNULL(TMP1.WRITTEN_PREMIUM,0)) FROM ACT_EARNED_PREMIUM TMP1 
-- 	 WHERE  TMP1.COVERAGEID = MNTC.COV_ID  AND TMP1.POLICY_NUMBER = TMP.POLICY_NUMBER AND TMP1.MONTH_NUMBER = 2 AND   TMP1.YEAR_NUMBER  = 2008 ) AS WRITTEN_PREMIUM,
--   	(SELECT SUM(ISNULL(TMP1.ENDING_UNEARNED,0)) FROM ACT_EARNED_PREMIUM TMP1 
--		WHERE 	TMP1.COVERAGEID = MNTC.COV_ID  AND TMP1.POLICY_NUMBER = TMP.POLICY_NUMBER AND TMP1.MONTH_NUMBER = 2 AND   TMP1.YEAR_NUMBER  = 2008 ) AS ENDING_UNEARNED ,
--   	(SELECT SUM(ISNULL(TMP1.EARNED_PREMIUM,0)) FROM ACT_EARNED_PREMIUM TMP1 
-- 	  WHERE  TMP1.COVERAGEID = MNTC.COV_ID AND TMP1.POLICY_NUMBER = TMP.POLICY_NUMBER AND TMP1.MONTH_NUMBER = 2 AND   TMP1.YEAR_NUMBER  = 2008 ) AS EARNED_PREMIUM	

   sum(TMP.INFORCE_PREMIUM ) as INFORCE_PREMIUM,
   	 sum(TMP.BEGINNING_UNEARNED) as BEGINNING_UNEARNED,
   	 sum(TMP.WRITTEN_PREMIUM) 	as WRITTEN_PREMIUM,
   	 sum(TMP.ENDING_UNEARNED) as ENDING_UNEARNED,
   	 sum(TMP.EARNED_PREMIUM)  as EARNED_PREMIUM ,
     --Policy_term for Added For Itrack Issue #5824 
     TMP.POLICY_TERM    

FROM    ACT_EARNED_PREMIUM TMP 
INNER JOIN MNT_AGENCY_LIST AGN 
	ON TMP.AGENCY_ID = AGN.AGENCY_ID
LEFT OUTER JOIN MNT_COVERAGE MNTC 
 	ON TMP.COVERAGEID = MNTC.COV_ID 

LEFT OUTER JOIN MNT_COVERAGE_EXTRA MNTC2 
 	ON TMP.COVERAGEID = MNTC2.COV_ID 
 
INNER JOIN MNT_COUNTRY_STATE_LIST STATE
	ON TMP.STATE_ID = STATE.STATE_ID
LEFT JOIN POL_PROCESS_MASTER PRC
	ON TMP.PROCESS_ID = PRC.PROCESS_ID 
-- ADDED BY PRAVESH ON 5 MARCH 09
LEFT OUTER JOIN POL_VEHICLES PV with(nolock) 
ON PV.CUSTOMER_ID=TMP.CUSTOMER_ID AND PV.POLICY_ID=TMP.POLICY_ID 
AND PV.POLICY_VERSION_ID=TMP.VERSION_FOR_RISK 
AND PV.VEHICLE_ID=TMP.RISK_ID
AND (MNTC.LOB_ID=2 OR MNTC2.LOB_ID=2 ) --PV=11333

LEFT JOIN MNT_LOOKUP_VALUES MNTLUP
	--ON (MNTC.ASLOB = MNTLUP.LOOKUP_UNIQUE_ID OR MNTC2.ASLOB = MNTLUP.LOOKUP_UNIQUE_ID) CHANGED BY pRAVESH ON 5 MARCH 09 
	ON (MNTLUP.LOOKUP_UNIQUE_ID = CASE WHEN MNTC.LOB_ID=2 AND PV.APP_USE_VEHICLE_ID = 11333 then MNTC.REIN_ASLOB  else MNTC.ASLOB end
			OR 
		MNTLUP.LOOKUP_UNIQUE_ID = case when MNTC2.LOB_ID=2 AND PV.APP_USE_VEHICLE_ID = 11333 then MNTC2.REIN_ASLOB  else MNTC2.ASLOB end
		)

INNER JOIN MNT_LOB_MASTER MLM
	ON (MLM.LOB_ID = MNTC.LOB_ID OR MLM.LOB_ID = MNTC2.LOB_ID)

WHERE TMP.MONTH_NUMBER = @MONTH 
AND   TMP.YEAR_NUMBER  = @YEAR
AND NOT (TMP.INFORCE_PREMIUM =0 AND  TMP.WRITTEN_PREMIUM =0 AND TMP.EARNED_PREMIUM = 0) 
--Policy_term for Added For Itrack Issue #5824 
group by MNTLUP.LOOKUP_VALUE_DESC,TMP.POLICY_NUMBER ,AGN.AGENCY_CODE,STATE.STATE_CODE , TMP.POLICY_TERM   

ORDER BY LOB_DESC,LOOKUP_VALUE_DESC,STATE.STATE_CODE,POLICY_NUMBER 


--SELECT *,ISNULL(TMP1.INFORCE_PREMIUM,0), MNTC1.ASLOB FROM ACT_EARNED_PREMIUM TMP1 LEFT OUTER JOIN MNT_COVERAGE MNTC1 
-- ON TMP1.COVERAGEID = MNTC1.COV_ID WHERE TMP1.POLICY_NUMBER = 'R1001725' AND TMP1.MONTH_NUMBER = 1 AND   TMP1.YEAR_NUMBER  = 2008
END
--go
--exec  [PROC_FETCHEARNEDPREMIUMREPORTGROUPBYASLOB] 1 ,2009
--rollback tran

GO

