IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_SCHEDULE_P_SUMMARY_WITH_CLAIM_COUNTS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_SCHEDULE_P_SUMMARY_WITH_CLAIM_COUNTS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*-------------------------------------------------
Proc name	:dbo.Proc_SCHEDULE_P_SUMMARY_WITH_CLAIM_COUNTS
Date		: 21 April 2009
drop proc dbo.Proc_SCHEDULE_P_SUMMARY_WITH_CLAIM_COUNTS
---------------------------------------------------*/
Create Proc dbo.Proc_SCHEDULE_P_SUMMARY_WITH_CLAIM_COUNTS
(
@MONTH INT,
@YEAR INT
)
as
begin
DECLARE @MONTH_END_DATE DATETIME

SET @MONTH_END_DATE = DATEADD(DD,-1,DATEADD(MM,1,CAST(CONVERT(VARCHAR,@MONTH) + '/01/' + CONVERT(VARCHAR,@YEAR) AS DATETIME)))

SELECT 
--TT.CLAIM_ID,
TT.LOB_ID,
--TT.AGENCY_ID,
LOB_DESC,CATEGORY_DESC,
INCURRED_YEAR,
SUM(TT.PAID_LOSS) PAID_LOSS,
 SUM(SALVAGE_LESS) SALVAGE_LESS,
 SUM(LESS_RECOVERY) LESS_RECOVERY,
 SUM(END_RESERVE) AS NET_ENDING_RESERVE,
SUM(END_RESERVE_REINSURANCE) AS NET_ENDING_REINSURANCE_RESERVE,
SUM(RESERVE_REINSURANCE_ADJUSTMENT) AS RESERVE_REINSURANCE_ADJUSTMENT,
SUM(TT.PAID_LOSS + SALVAGE_LESS + LESS_RECOVERY) AS NET_PAID_LOSS,
 SUM(REINS_RECOVERED)REINS_RECOVERED,
 SUM(REINS_SALVAGE)REINS_SALVAGE,
 SUM(REINS_RECOVERY)REINS_RECOVERY,
SUM(REINS_RECOVERED+ REINS_SALVAGE+ REINS_RECOVERY) AS REIN_NET_PAID_LOSS,
SUM(LOSS_ADJUST_EXPENSE) LOSS_ADJUST_EXPENSE ,
SUM(LEGAL_EXPENSE) LEGAL_EXPENSE,
SUM(LESS_SALVAGE_EXPENSE) LESS_SALVAGE_EXPENSE,
SUM(LESS_RECOVERY_EXPENSE) LESS_RECOVERY_EXPENSE,
SUM(LOSS_ADJUST_EXPENSE+LEGAL_EXPENSE+LESS_SALVAGE_EXPENSE+LESS_RECOVERY_EXPENSE) AS NET_PAID_EXPENSE,
SUM(REIN_LOSS_ADJUST_EXPENSE) REIN_LOSS_ADJUST_EXPENSE,
SUM(REIN_LEGAL_EXPENSE) REIN_LEGAL_EXPENSE,
SUM(REINS_SALVAGE_RECOVERY) REINS_SALVAGE_RECOVERY,

SUM(OTHER_EXPENSE) OTHER_EXPENSE,
SUM(REIN_OTHER_EXPENSE) REIN_OTHER_EXPENSE,
SUM(REIN_LOSS_RECOVERY) REIN_LOSS_RECOVERY,

SUM(REIN_LOSS_ADJUST_EXPENSE+REIN_LEGAL_EXPENSE + REINS_SALVAGE_RECOVERY)  AS REIN_NET_PAID_EXPENSE,
SUM(CASE WHEN CLM.CLAIM_STATUS=11739 THEN 1 ELSE 0 END) AS OPEN_CLAIMS,
SUM(CASE WHEN (TT.PAID_LOSS + TT.SALVAGE_LESS + TT.LESS_RECOVERY) <>0 THEN 1 ELSE 0 END) AS PAID_CLAIMS,
SUM(CASE WHEN CLM.CLAIM_STATUS=11740 AND (LOSS_ADJUST_EXPENSE+LEGAL_EXPENSE+LESS_SALVAGE_EXPENSE+LESS_RECOVERY_EXPENSE + OTHER_EXPENSE + REIN_OTHER_EXPENSE) <> 0 THEN 1 ELSE 0 END) AS PAID_EXPENSE_CLAIMS,
SUM(CASE WHEN CLM.CLAIM_STATUS=11740 AND TT.PAID_LOSS <>0 THEN 1 ELSE 0 END) AS CLOSED_CLAIMS_WITH_PAYMENT,
SUM(CASE WHEN CLM.CLAIM_STATUS=11740 AND TT.PAID_LOSS = 0 THEN 1 ELSE 0 END) AS CLOSED_CLAIMS_WITHOUT_PAYMENT

FROM
(
SELECT VW.CLAIM_ID,VW.LOB_ID,VW.AGENCY_ID,VW.LOB_DESC,VW.CATEGORY_DESC,
--YEAR_NUMBER,
VW.INCURRED_YEAR,
SUM(VW.PAID_LOSS) PAID_LOSS,
SUM(SALVAGE_LESS) SALVAGE_LESS,
SUM(LESS_RECOVERY) LESS_RECOVERY,
SUM(REINS_RECOVERED) REINS_RECOVERED,
SUM(REINS_SALVAGE) REINS_SALVAGE,
SUM(REINS_RECOVERY) REINS_RECOVERY,
--SUM(VW.END_RESERVE) END_RESERVE,
(
   SELECT TOP 1 END_RESERVE FROM VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY_BY_ASLOB
	WHERE CLAIM_ID=VW.CLAIM_ID AND LOB_ID=VW.LOB_ID AND LOB_DESC=VW.LOB_DESC
	AND CATEGORY_DESC=VW.CATEGORY_DESC AND INCURRED_YEAR=VW.INCURRED_YEAR
	AND CAST(CONVERT(VARCHAR,MONTH_NUMBER) + '/01/' +  CONVERT(VARCHAR,YEAR_NUMBER) AS DATETIME) <= @MONTH_END_DATE
	ORDER BY CAST(CONVERT(VARCHAR,MONTH_NUMBER) + '/01/' +  CONVERT(VARCHAR,YEAR_NUMBER) AS DATETIME) DESC
) AS END_RESERVE,
(
   SELECT TOP 1 END_RESERVE_REINSURANCE FROM VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY_BY_ASLOB
	WHERE CLAIM_ID=VW.CLAIM_ID AND LOB_ID=VW.LOB_ID AND LOB_DESC=VW.LOB_DESC
	AND CATEGORY_DESC=VW.CATEGORY_DESC AND INCURRED_YEAR=VW.INCURRED_YEAR
	AND CAST(CONVERT(VARCHAR,MONTH_NUMBER) + '/01/' +  CONVERT(VARCHAR,YEAR_NUMBER) AS DATETIME) <= @MONTH_END_DATE
	ORDER BY CAST(CONVERT(VARCHAR,MONTH_NUMBER) + '/01/' +  CONVERT(VARCHAR,YEAR_NUMBER) AS DATETIME) DESC
) AS END_RESERVE_REINSURANCE,
sum(VW.RESERVE_REINSURANCE_ADJUSTMENT) as RESERVE_REINSURANCE_ADJUSTMENT,
--SUM(VW1.END_RESERVE) END_RESERVE1,
SUM(VW1.LOSS_ADJUST_EXPENSE) LOSS_ADJUST_EXPENSE,
SUM(VW1.LEGAL_EXPENSE) LEGAL_EXPENSE,
SUM(VW1.LESS_SALVAGE_EXPENSE) LESS_SALVAGE_EXPENSE,
SUM(VW1.LESS_RECOVERY_EXPENSE) LESS_RECOVERY_EXPENSE,
SUM(VW1.REIN_LOSS_ADJUST_EXPENSE) REIN_LOSS_ADJUST_EXPENSE,
SUM(VW1.REIN_LEGAL_EXPENSE) REIN_LEGAL_EXPENSE,
SUM(VW1.REINS_SALVAGE_RECOVERY) REINS_SALVAGE_RECOVERY,

SUM(VW1.OTHER_EXPENSE) OTHER_EXPENSE,
SUM(VW1.REIN_OTHER_EXPENSE) REIN_OTHER_EXPENSE,
SUM(VW1.REIN_LOSS_RECOVERY) REIN_LOSS_RECOVERY


FROM VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY_BY_ASLOB VW WITH(NOLOCK)
inner JOIN VW_LOSS_ADJUSTMENT_EXPENSE_SCHEDULE_P_SUMMUARY_BY_ASLOB VW1 WITH(NOLOCK) ON VW1.CLAIM_ID=VW.CLAIM_ID
AND VW1.MONTH_NUMBER=VW.MONTH_NUMBER
AND VW1.YEAR_NUMBER=VW.YEAR_NUMBER
AND VW1.INCURRED_YEAR=VW.INCURRED_YEAR
AND VW1.LOB_ID=VW.LOB_ID
AND VW1.AGENCY_ID=VW.AGENCY_ID
AND VW1.LOB_DESC=VW.LOB_DESC
AND VW1.CATEGORY_DESC=VW.CATEGORY_DESC
WHERE 
--VW.MONTH_NUMBER<=@MONTH
CAST(CONVERT(VARCHAR,VW.MONTH_NUMBER) + '/01/' + CONVERT(VARCHAR,VW.YEAR_NUMBER) AS DATETIME) <=@MONTH_END_DATE
--AND VW.YEAR_NUMBER=@YEAR
GROUP BY VW.CLAIM_ID,VW.LOB_ID,VW.AGENCY_ID,VW.LOB_DESC,VW.CATEGORY_DESC,--YEAR_NUMBER,
VW.INCURRED_YEAR
) TT
INNER JOIN CLM_CLAIM_INFO CLM WITH(NOLOCK) ON CLM.CLAIM_ID=TT.CLAIM_ID
WHERE CAST(CONVERT(VARCHAR,CLM.LOSS_DATE,101) AS DATETIME)<= @MONTH_END_DATE
GROUP BY TT.LOB_ID,
--TT.AGENCY_ID,
TT.LOB_DESC,TT.CATEGORY_DESC,TT.INCURRED_YEAR

 
end











GO

