IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_GET_LEDGER_FOR_CLAIM_TRANSACTION_CODE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_GET_LEDGER_FOR_CLAIM_TRANSACTION_CODE]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-- drop proc PROC_GET_LEDGER_FOR_CLAIM_TRANSACTION_CODE     
CREATE PROC dbo.PROC_GET_LEDGER_FOR_CLAIM_TRANSACTION_CODE    
 @CLAIM_TRAN_CODE INTEGER    
AS    
    
BEGIN    
    
 DECLARE @SELECTEDDEBITLEDGERS VARCHAR (8000)    
 DECLARE @SELECTEDCREDITLEDGERS VARCHAR (8000)    
     
 SELECT @SELECTEDDEBITLEDGERS = SELECTEDDEBITLEDGERS, @SELECTEDCREDITLEDGERS = SELECTEDCREDITLEDGERS     
 FROM  CLM_TYPE_DETAIL WHERE DETAIL_TYPE_ID =@CLAIM_TRAN_CODE    
     
 --PRINT @SELECTEDDEBITLEDGERS    
 --PRINT @SELECTEDCREDITLEDGERS    
     
 --DROP TABLE #TMPLEDGERDR     
 --DROP TABLE #TMPLEDGERCR     
     
 CREATE TABLE #TMPLEDGERDR(LEDGERNUM VARCHAR(100))    
 CREATE TABLE #TMPLEDGERCR(LEDGERNUM VARCHAR(100))    
     
 INSERT INTO #TMPLEDGERDR EXEC PROC_SPLITTEXT @SELECTEDDEBITLEDGERS,','    
 INSERT INTO #TMPLEDGERCR EXEC PROC_SPLITTEXT @SELECTEDCREDITLEDGERS,','    
     
/* Commented by Asfa  - iTrack #2985    
 SELECT 'D' AS LEDGERTYPE , ACCOUNT_ID, LEDGERNUM, ACC_DESCRIPTION, ACC_NUMBER , CAST(ACC_NUMBER AS VARCHAR) + ' - ' + ACC_DESCRIPTION AS DESC_TO_SHOW    
 FROM #TMPLEDGERDR INNER JOIN ACT_GL_ACCOUNTS ON ACC_NUMBER=LEDGERNUM    
*/     
 /* Commented by praveen    
 SELECT 'D' AS LEDGERTYPE , ACCOUNT_ID, LEDGERNUM, ACC_DESCRIPTION, ACC_DISP_NUMBER AS ACC_NUMBER ,     
 CAST(ACC_DISP_NUMBER AS VARCHAR) + ' - ' + ACC_DESCRIPTION AS DESC_TO_SHOW      
 FROM #TMPLEDGERDR INNER JOIN ACT_GL_ACCOUNTS ON ACC_DISP_NUMBER=LEDGERNUM  */    
     SELECT 'D' AS LEDGERTYPE ,t1.ACCOUNT_ID,LEDGERNUM,t1.ACC_DESCRIPTION,t1.ACC_DISP_NUMBER as ACC_NUMBER,      
  case when t1.acc_parent_id is null       
   then  isnull(t1.ACC_DISP_NUMBER,'') + ' : '  + t1.ACC_DESCRIPTION     
   else  isnull(t1.ACC_DISP_NUMBER,'') + ' : '  + isnull(t2.acc_description,'') + ' - ' + t1.ACC_DESCRIPTION    
   end as DESC_TO_SHOW      
  FROM ACT_GL_ACCOUNTS t1       
  LEFT OUTER JOIN  ACT_GL_ACCOUNTS t2 ON t2.account_id = t1.acc_parent_id      
     INNER JOIN #TMPLEDGERDR TEMP ON t1.ACC_DISP_NUMBER=TEMP.LEDGERNUM      
    
    
/* Commented by Asfa  - iTrack #2985    
 SELECT 'C' AS LEDGERTYPE ,  ACCOUNT_ID, LEDGERNUM, ACC_DESCRIPTION, ACC_NUMBER , CAST(ACC_NUMBER AS VARCHAR) + ' - ' + ACC_DESCRIPTION AS DESC_TO_SHOW    
 FROM #TMPLEDGERCR INNER JOIN ACT_GL_ACCOUNTS ON ACC_NUMBER=LEDGERNUM    
*/    
 /* Commented by Praveen     
    SELECT 'C' AS LEDGERTYPE , ACCOUNT_ID, LEDGERNUM, ACC_DESCRIPTION, ACC_DISP_NUMBER AS ACC_NUMBER ,     
 CAST(ACC_DISP_NUMBER AS VARCHAR) + ' - ' + ACC_DESCRIPTION AS DESC_TO_SHOW      
 FROM #TMPLEDGERCR INNER JOIN ACT_GL_ACCOUNTS ON ACC_DISP_NUMBER=LEDGERNUM  */    
    
  SELECT 'C' AS LEDGERTYPE ,t1.ACCOUNT_ID,LEDGERNUM,t1.ACC_DESCRIPTION,t1.ACC_DISP_NUMBER as ACC_NUMBER,      
   case when t1.acc_parent_id is null       
    then  isnull(t1.ACC_DISP_NUMBER,'') + ' : '  + t1.ACC_DESCRIPTION      
     else  isnull(t1.ACC_DISP_NUMBER,'') + ' : '  + isnull(t2.acc_description,'') + ' - ' + t1.ACC_DESCRIPTION       
    end as DESC_TO_SHOW      
   FROM ACT_GL_ACCOUNTS t1       
   LEFT OUTER JOIN  ACT_GL_ACCOUNTS t2 ON t2.account_id = t1.acc_parent_id      
   INNER JOIN #TMPLEDGERCR TEMP ON t1.ACC_DISP_NUMBER=TEMP.LEDGERNUM      
    
END    
    
    
    
    
    
    
    


GO

