IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_Update_UNDERWRITING_TIER]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_Update_UNDERWRITING_TIER]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author	   : Praveen Kasana
-- Create date : 30-Dec-09
-- Description : INSERTING/UPDATING DATA TO UNDERWRITING_TIER FOR AUTO INDIANA
---This proc will be called from APP General Info/ Pol General Info / Prior Loss / Prior Policy
-- =============================================
--drop proc [Proc_Update_UNDERWRITING_TIER]
CREATE PROCEDURE [DBO].[Proc_Update_UNDERWRITING_TIER]

@CUSTOMER_ID INT,   
@ID INT,         
@VERSION_ID SMALLINT,
@UNDERWRITING_TIER NVARCHAR(3),
@LEVEL VARCHAR(10)

AS
BEGIN

DECLARE @UNTIER_ASSIGNED_DATE DATETIME

IF(@LEVEL = 'POLICY')
BEGIN

	IF EXISTS(SELECT 1 FROM 
		POL_CUSTOMER_POLICY_LIST WITH(NOLOCK)
		WHERE CUSTOMER_ID = @CUSTOMER_ID 
		AND  POLICY_ID = @ID 
		AND POLICY_VERSION_ID = @VERSION_ID
		AND POLICY_LOB = '2'
		AND STATE_ID =14)
	BEGIN
			SELECT @UNTIER_ASSIGNED_DATE = APP_EFFECTIVE_DATE FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK)
			WHERE CUSTOMER_ID=@CUSTOMER_ID 
			AND POLICY_ID=@ID AND POLICY_VERSION_ID=@VERSION_ID


			IF NOT EXISTS(SELECT CUSTOMER_ID FROM POL_UNDERWRITING_TIER  WITH(NOLOCK)
			WHERE CUSTOMER_ID=@CUSTOMER_ID 
			AND POLICY_ID=@ID AND POLICY_VERSION_ID=@VERSION_ID)
			BEGIN
				INSERT INTO POL_UNDERWRITING_TIER
				(
					CUSTOMER_ID,
					POLICY_ID,
					POLICY_VERSION_ID,
					UNDERWRITING_TIER,
					UNTIER_ASSIGNED_DATE
				)
				VALUES
				(
					@CUSTOMER_ID,   
					@ID,         
					@VERSION_ID,
					@UNDERWRITING_TIER,
					@UNTIER_ASSIGNED_DATE			
				)
			END
			ELSE --UPDATE
			BEGIN
				UPDATE POL_UNDERWRITING_TIER 
				SET		
					UNDERWRITING_TIER=@UNDERWRITING_TIER,
					UNTIER_ASSIGNED_DATE=@UNTIER_ASSIGNED_DATE			
				WHERE            
				CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @ID AND POLICY_VERSION_ID = @VERSION_ID      
			END    
	END 
END
ELSE IF (@LEVEL = 'APP')
BEGIN
	
	SELECT @UNTIER_ASSIGNED_DATE = APP_EFFECTIVE_DATE FROM APP_LIST WITH(NOLOCK) 
	WHERE CUSTOMER_ID=@CUSTOMER_ID 
	AND APP_ID=@ID AND APP_VERSION_ID=@VERSION_ID

	IF NOT EXISTS(SELECT CUSTOMER_ID FROM APP_UNDERWRITING_TIER WITH(NOLOCK)
	WHERE CUSTOMER_ID=@CUSTOMER_ID 
	AND APP_ID=@ID AND APP_VERSION_ID=@VERSION_ID)
	BEGIN
		INSERT INTO APP_UNDERWRITING_TIER
		(
			CUSTOMER_ID,
			APP_ID,
			APP_VERSION_ID,
			UNDERWRITING_TIER,
			UNTIER_ASSIGNED_DATE		
		)
		VALUES
		(
			@CUSTOMER_ID,   
			@ID,         
			@VERSION_ID,
			@UNDERWRITING_TIER,
			@UNTIER_ASSIGNED_DATE		
		)
	END
	ELSE --UPDATE
	BEGIN
		UPDATE APP_UNDERWRITING_TIER 
		SET		
			UNDERWRITING_TIER=@UNDERWRITING_TIER,
			UNTIER_ASSIGNED_DATE=@UNTIER_ASSIGNED_DATE			
		WHERE            
		CUSTOMER_ID = @CUSTOMER_ID AND APP_ID = @ID AND APP_VERSION_ID = @VERSION_ID      
	END     
	
END
END





GO

