IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_SetPolicyStatus]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_SetPolicyStatus]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------                    
PROC NAME        : DBO.PROC_SETPOLICYSTATUS            
CREATED BY        : VIJAY ARORA            
DATE                : 22-12-2005            
PURPOSE          : SETS THE POLICY STATUS            
REVISON HISTORY  :                    
USED IN          :   WOLVERINE                    
Modified By :Pravesh K chandel  
Modified Date : 8 dec 08  
Purpose   : if Policy rescinded then Inactive all prior versvion  
------------------------------------------------------------                    
DATE     REVIEW BY          COMMENTS                    
-----   ------------       -------------------------*/                    
-- drop PROC dbo.Proc_SetPolicyStatus     
CREATE PROC [dbo].[Proc_SetPolicyStatus]    
(                    
 @CUSTOMER_ID       INT,        
 @POLICY_ID        INT,        
 @POLICY_VERSION_ID  SMALLINT,        
 @PROCESS_ID     INT,      
 @POLICY_STATUS  VARCHAR(50) = NULL,      
 @POLICY_STATUS_DESC VARCHAR(30) = NULL OUTPUT,      
 @NEW_POLICY_STATUS  VARCHAR(30) = NULL OUTPUT,
 @LANG_ID INT   = 1   
)                    
AS                                  
BEGIN                    
      
DECLARE @TO_BE_RENEWED VARCHAR(100)      
SET @TO_BE_RENEWED = 'UNWTRRENEWD'      
    
DECLARE @TMP_POLICY_STATUS VARCHAR(50)     
SET @TMP_POLICY_STATUS = @POLICY_STATUS    
--get Policy Current term policy Update Policy Status.
DECLARE @CURRENT_TERM INT 
SELECT @CURRENT_TERM  =  CURRENT_TERM FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK)  WHERE CUSTOMER_ID = @CUSTOMER_ID AND 
POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID  =   @POLICY_VERSION_ID
IF @POLICY_STATUS IS NULL      
BEGIN      
 --Policy status is not passes, hence fetching the policy status on the      
 --basis of process id        
 SELECT        
 @NEW_POLICY_STATUS = POLICY_STATUS,      
 @POLICY_STATUS = POLICY_STATUS,      
 @POLICY_STATUS_DESC =ISNULL(POL_POLICY_STATUS_MASTER_MULTILINGUAL.POLICY_DESCRIPTION,POL_POLICY_STATUS_MASTER.POLICY_DESCRIPTION) 
 FROM POL_PROCESS_MASTER WITH(NOLOCK)      
 LEFT JOIN POL_POLICY_STATUS_MASTER ON POL_PROCESS_MASTER.POLICY_STATUS = POL_POLICY_STATUS_MASTER.POLICY_STATUS_CODE  
 LEFT JOIN POL_POLICY_STATUS_MASTER_MULTILINGUAL ON POL_PROCESS_MASTER.POLICY_STATUS =POL_POLICY_STATUS_MASTER_MULTILINGUAL.POLICY_STATUS_CODE AND POL_POLICY_STATUS_MASTER_MULTILINGUAL.LANG_ID=@LANG_ID    
 WHERE PROCESS_ID = @PROCESS_ID        
END         
  
IF @POLICY_STATUS_DESC IS NULL and @POLICY_ID IS NOT NULL and @POLICY_STATUS IS NULL   
BEGIN   
 SELECT @POLICY_STATUS = POLICY_PREVIOUS_STATUS FROM POL_POLICY_PROCESS       
 WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID        
END  
     
-- Get previous status if Commiting Corrective User, Mohit Agarwal 2-Feb-07   
-- Process Id passed for New Version of Corr User 9-May Mohit Agarwal     
IF @PROCESS_ID=9     
begin    
 SELECT @POLICY_STATUS = POLICY_PREVIOUS_STATUS,@NEW_POLICY_STATUS=POLICY_PREVIOUS_STATUS FROM POL_POLICY_PROCESS       
 WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND NEW_POLICY_VERSION_ID = @POLICY_VERSION_ID        
 SELECT        
 @POLICY_STATUS_DESC = ISNULL(POL_POLICY_STATUS_MASTER_MULTILINGUAL.POLICY_DESCRIPTION,POL_POLICY_STATUS_MASTER.POLICY_DESCRIPTION)
 FROM POL_POLICY_STATUS_MASTER WITH(NOLOCK) 
 LEFT JOIN POL_POLICY_STATUS_MASTER_MULTILINGUAL ON POL_POLICY_STATUS_MASTER_MULTILINGUAL.POLICY_STATUS_CODE=POL_POLICY_STATUS_MASTER.POLICY_STATUS_CODE  AND POL_POLICY_STATUS_MASTER_MULTILINGUAL.LANG_ID=@LANG_ID 
 Where @POLICY_STATUS = POL_POLICY_STATUS_MASTER.POLICY_STATUS_CODE      
   
 --Ravindra(10-04-2007) After commit of corrective user process update the Conversion flag   
 -- for new version created   
 UPDATE POL_CUSTOMER_POLICY_LIST SET FROM_AS400 = NULL   
 WHERE CUSTOMER_ID = @CUSTOMER_ID   
 AND POLICY_ID = @POLICY_ID   
 AND POLICY_VERSION_ID = @POLICY_VERSION_ID     
end    
  
--Update the status of policy which are to be renewed      
/* UPDATE POL_POLICY_PROCESS SET PROCESS_STATUS='ROLLBACK',POLICY_CURRENT_STATUS=@POLICY_STATUS       
WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_CURRENT_STATUS = @TO_BE_RENEWED      
  
UPDATE POL_CUSTOMER_POLICY_LIST SET POLICY_STATUS = @POLICY_STATUS       
WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_STATUS = @TO_BE_RENEWED      
*/      
 --Updating the policy status      
IF @PROCESS_ID = 12    
 SET  @POLICY_STATUS = @TMP_POLICY_STATUS    
    
SELECT @POLICY_STATUS    
UPDATE POL_CUSTOMER_POLICY_LIST         
SET POLICY_STATUS = @POLICY_STATUS            
WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID        
  
IF @PROCESS_ID IN(29,12)   -- sete all prior version to Inactive   
 UPDATE POL_CUSTOMER_POLICY_LIST         
 SET POLICY_STATUS = 'INACTIVE'  
 WHERE CUSTOMER_ID = @CUSTOMER_ID   
 AND POLICY_ID = @POLICY_ID   
 AND POLICY_VERSION_ID < @POLICY_VERSION_ID        
 AND CURRENT_TERM = @CURRENT_TERM ---Only Same term version Should be Inactive after renewal.itrak # 1392/1546 NonPay cancellation Launch
     
END        
      
    
    
  
  
GO

