IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Fetch_REINSURANCE_BREAKDOWN_REPORT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Fetch_REINSURANCE_BREAKDOWN_REPORT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran
--drop proc [Fetch_REINSURANCE_BREAKDOWN_REPORT]
--go
/*----------------------------------------------------------            
PROC NAME       : dbo.Fetch_REINSURANCE_BREAKDOWN_REPORT
CREATED BY      : PRAVESH K CHANDEL
DATE            : 6 FEB 2009    
PURPOSE			:TO BE USED IN REINSURANCE BREAKDOWN REPORTS
REVISON HISTORY :            
USED IN  : WOLVERINE            
------------------------------------------------------------            
DATE     REVIEW BY          COMMENTS            

DROP PROC Fetch_REINSURANCE_BREAKDOWN_REPORT  '1','4','',2009,2009,'A1000068','2'      
Fetch_REINSURANCE_BREAKDOWN_REPORT        
------   ------------       -------------------------*/  
CREATE PROC [dbo].[Fetch_REINSURANCE_BREAKDOWN_REPORT]
(
 @STARTMONTH NVARCHAR(3)=null,
 @ENDMONTH   NVARCHAR(3)=null,
 @CONTRACTNUMBERS NVARCHAR(100)=null,
 @YEARFROM int=null,
 @YEARTO int=null,
 @POLICYNUMBER NVARCHAR(9)=null,
 @LOB NVARCHAR(15)=null
)

AS

BEGIN   

declare @START_MONTH_NAME NVARCHAR(20)
declare @END_MONTH_NAME NVARCHAR(20)

IF (@STARTMONTH IS NOT NULL AND @STARTMONTH <>'' AND upper(@STARTMONTH) <>'ALL' AND  @STARTMONTH <>'0')
  begin
	Select @START_MONTH_NAME=DateName(month, convert(datetime, '2000-' + cast(@STARTMONTH as varchar(2)) + '-01', 120))
  end	
IF (@ENDMONTH IS NOT NULL AND @ENDMONTH <>'' AND @ENDMONTH <>'0')
  begin
	Select @END_MONTH_NAME=DateName(month, convert( datetime, '2000-' + cast(@ENDMONTH as varchar(2)) + '-01', 120))
  end

DECLARE @MYSQL NVARCHAR(4000)  ;
set @CONTRACTNUMBERS=replace(@CONTRACTNUMBERS,',',''',''')

 SET @MYSQL='SELECT (select top 1 SUM (DISTINCT TRAN_PREMIUM) 
 from POL_REINSURANCE_BREAKDOWN_DETAILS WITH(NOLOCK) WHERE LAYER=1 AND COMPLETED=PRBD.COMPLETED 
AND POLICY_NUMBER=PRBD.POLICY_NUMBER
AND MONTH_NUMBER=PRBD.MONTH_NUMBER AND YEAR_NUMBER=PRBD.YEAR_NUMBER
AND TRAN_DESC=PRBD.TRAN_DESC
) AS TRAN_PREM,
(select top 1 SUM (DISTINCT EARNED) 
 from POL_REINSURANCE_BREAKDOWN_DETAILS WITH(NOLOCK) WHERE LAYER=1 AND COMPLETED=PRBD.COMPLETED 
AND POLICY_NUMBER=PRBD.POLICY_NUMBER
AND MONTH_NUMBER=PRBD.MONTH_NUMBER AND YEAR_NUMBER=PRBD.YEAR_NUMBER
AND TRAN_DESC=PRBD.TRAN_DESC
) AS EARNED_PREM, * FROM POL_REINSURANCE_BREAKDOWN_DETAILS PRBD WITH(NOLOCK) WHERE 1=1'

IF (@STARTMONTH IS NOT NULL AND @STARTMONTH <>'' AND upper(@STARTMONTH) <>'ALL')
	SET @MYSQL=@MYSQL+ ' AND MONTH(STATEMENT_DATE) >=' + @STARTMONTH
--IF (@START_MONTH_NAME IS NOT NULL AND @START_MONTH_NAME <>'' AND upper(@START_MONTH_NAME) <>'ALL')
--	SET @MYSQL=@MYSQL+ ' AND DATENAME(MM,STATEMENT_DATE) >=''' + @START_MONTH_NAME + ''''

IF (@ENDMONTH IS NOT NULL AND @ENDMONTH <>'' AND @ENDMONTH <>'0')
	SET @MYSQL=@MYSQL+ ' AND MONTH(STATEMENT_DATE) <=' +  @ENDMONTH

--IF (@END_MONTH_NAME IS NOT NULL AND @END_MONTH_NAME <>'')
--	SET @MYSQL=@MYSQL+ ' AND DATENAME(MM,STATEMENT_DATE) <=''' +  @END_MONTH_NAME + ''''


IF (@CONTRACTNUMBERS IS NOT NULL AND isnull(@CONTRACTNUMBERS,'') <>'' and upper(isnull(@CONTRACTNUMBERS,''))<>'ALL')
	SET @MYSQL=@MYSQL+ ' AND CONTRACT_NUMBER IN ('''+ @CONTRACTNUMBERS + ''')'

IF (@YEARFROM IS NOT NULL AND @YEARFROM<>0 )
	SET @MYSQL=@MYSQL+ ' AND CONTRACT_YEAR >=' + CONVERT(VARCHAR,@YEARFROM)
IF (@YEARTO IS NOT NULL and @YEARTO <> 0)
	SET @MYSQL=@MYSQL+ ' AND CONTRACT_YEAR <=' + CONVERT(VARCHAR,@YEARTO)

IF (@POLICYNUMBER IS NOT NULL AND @POLICYNUMBER <>'')
	SET @MYSQL=@MYSQL+ ' AND POLICY_NUMBER =''' + @POLICYNUMBER + ''''

IF (@LOB IS NOT NULL AND @LOB <>'' AND @LOB <>'0' and upper(isnull(@LOB,''))<>'ALL' )
	SET @MYSQL=@MYSQL+ ' AND convert(varchar,LOB_ID) IN (' + @LOB + ')'
--SET @MYSQL=@MYSQL+ ' order by substring(isnull(COMPLETED,''''),1,charindex(''/'',isnull(COMPLETED,'''')))desc,MONTH_NUMBER,SEQUENCE_NUMBER,LAYER,COV_CATEGORY_ID' 
SET @MYSQL=@MYSQL+ ' order by cast(STATEMENT_DATE as datetime) desc,SEQUENCE_NUMBER,LAYER,COV_CATEGORY_ID' 
--select @MYSQL
EXECUTE(@MYSQL)
END
--go
--exec  [Fetch_REINSURANCE_BREAKDOWN_REPORT] '1','4','',2008,2008,'','2'
--rollback tran














GO

