IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_ACT_ADVANCED_DEPOSIT_REPORT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_ACT_ADVANCED_DEPOSIT_REPORT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran
--DROP PROC DBO.PROC_ACT_ADVANCED_DEPOSIT_REPORT   
--go
-- DROP PROC DBO.PROC_ACT_ADVANCED_DEPOSIT_REPORT   
--Modified by Shikha on 27-03-2009.(TOTAL_PAID-WRITE_OFF_AMOUNT)
--Modified by Shikha on 08-01-10.(Condition for 'UISSUE', 'SUSPENDED' added for #6909)
CREATE PROC [dbo].[PROC_ACT_ADVANCED_DEPOSIT_REPORT]   
(    
 @CUSTOMER_ID  VARCHAR(5000) = '',    
 @AGENCY_ID  VARCHAR(3000) = '' ,  
 @YEAR INT = NULL,  
 @MONTH INT = NULL  
   
)    
AS    
BEGIN    
   
IF @CUSTOMER_ID IS NULL OR @CUSTOMER_ID=''    
 SET @CUSTOMER_ID=NULL    
IF @AGENCY_ID IS NULL OR @AGENCY_ID=''    
 SET @AGENCY_ID=NULL    
    
DECLARE @SQLSTRING VARCHAR(8000)    
    
DECLARE @REPORT_DATE DATETIME     
    
SET @REPORT_DATE  = GETDATE()   

  --CHANGES BY SHIKHA
IF EXISTS( SELECT * FROM ACT_ADVANCE_PAYMENT_REPORT AAPR WHERE AAPR.[MONTH] = @MONTH AND AAPR.[YEAR] = @YEAR )  
BEGIN 

	SET @SQLSTRING = 
	'SELECT   
	AAPR.AGENCY_ID ,MAL.AGENCY_DISPLAY_NAME AGENCYNAME,  
	ISNULL(CLT.CUSTOMER_FIRST_NAME,'''') + '' '' +  ISNULL(CLT.CUSTOMER_LAST_NAME,'''') AS CUSTOMER_NAME,  
	AAPR.POLICY_NUMBER,  
	AAPR.POLICY_EFFECTIVE_DATE,  
	AAPR.POLICY_EXPIRY_DATE,  
	ISNULL(AAPR.DEPOSIT_AMOUNT,0) AS DEPOSIT_AMOUNT,  
	AAPR.ADVANCE_MONTH   
	FROM ACT_ADVANCE_PAYMENT_REPORT AAPR   
	INNER JOIN CLT_CUSTOMER_LIST CLT  ON  
	CLT.CUSTOMER_ID = AAPR.CUSTOMER_ID  
	INNER JOIN MNT_AGENCY_LIST MAL ON  
	MAL.AGENCY_ID = AAPR.AGENCY_ID  
	WHERE  AAPR.[MONTH] = '+ CONVERT(VARCHAR,@MONTH)+' AND AAPR.[YEAR] = '+CONVERT(VARCHAR,@YEAR)+'' 
	--ORDER BY AGENCYNAME, CUSTOMER_NAME, AAPR.POLICY_NUMBER
	IF ( @CUSTOMER_ID IS NOT NULL AND @AGENCY_ID IS NOT NULL) 
	BEGIN 
		SET @SQLSTRING =  @SQLSTRING + ' AND AAPR.AGENCY_ID IN ( ' + @AGENCY_ID + ' ) ' +  ' AND AAPR.CUSTOMER_ID IN ( ' + @CUSTOMER_ID  + ' )  '
	END

	ELSE IF ( @CUSTOMER_ID IS NOT NULL )
	BEGIN
		SET @SQLSTRING = @SQLSTRING + ' AND AAPR.CUSTOMER_ID IN ( ' + @CUSTOMER_ID  + ' )  ' 
	END

	ELSE IF ( @AGENCY_ID IS NOT NULL  )
	BEGIN
	--		PRINT '23435'
		SET @SQLSTRING = @SQLSTRING + ' AND AAPR.AGENCY_ID IN (' + @AGENCY_ID + ') ' 
	END
	ELSE
	BEGIN
		SET @SQLSTRING = @SQLSTRING + ' ORDER BY AGENCYNAME, CUSTOMER_NAME, AAPR.POLICY_NUMBER'
	END
END  
--END OF CHANGES
ELSE --EXISTING LOGIC  
BEGIN
IF ( @CUSTOMER_ID IS NOT NULL AND @AGENCY_ID IS NOT NULL  )     
BEGIN    
	
	SET @SQLSTRING =     
	'SELECT TEMP.AGENCY_ID, TEMP.AGENCYNAME, ISNULL(CLT.CUSTOMER_FIRST_NAME,'''')' + ' + ' + ''' ''' + ' + ' + 'ISNULL(CLT.CUSTOMER_LAST_NAME,'''')  AS CUSTOMER_NAME ,    
	TEMP.POLICY_NUMBER , TEMP.POLICY_EFFECTIVE_DATE , TEMP.POLICY_EXPIRY_DATE ,   SUM(AMOUNT ) AS DEPOSIT_AMOUNT ,    
	'''' AS DEPOSITNUMBER  , '''' AS DEPOSIT_TRAN_DATE ,     
	CASE WHEN DATEDIFF(MONTH, ''' +  CONVERT(VARCHAR,@REPORT_DATE)  +''' ,POLICY_EFFECTIVE_DATE) >= 2 THEN 2    
	ELSE 1 END AS ADVANCE_MONTH    
	FROM     
	(    
	SELECT MAL.AGENCY_ID, MAL.AGENCY_DISPLAY_NAME AS AGENCYNAME, CPL.CUSTOMER_ID  AS CUSTOMER_ID, CPL.POLICY_NUMBER AS POLICY_NUMBER , CPL.APP_EFFECTIVE_DATE AS POLICY_EFFECTIVE_DATE ,    
	CPL.APP_EXPIRATION_DATE AS POLICY_EXPIRY_DATE, ISNULL(OI.TOTAL_PAID ,0)-ISNULL(OI.WRITE_OFF_AMOUNT,0)  AS AMOUNT    
	FROM ACT_CUSTOMER_OPEN_ITEMS OI    
	INNER JOIN POL_CUSTOMER_POLICY_LIST CPL    
	ON OI.CUSTOMER_ID = CPL.CUSTOMER_ID     
	AND OI.POLICY_ID  = CPL.POLICY_ID     
	AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID     
	INNER JOIN MNT_AGENCY_LIST MAL ON CPL.AGENCY_ID = MAL.AGENCY_ID     
	WHERE OI.ITEM_TRAN_CODE_TYPE IN ( ''PREM'' ) AND ITEM_TRAN_CODE <> ''SBWF''    
	AND DATEDIFF(MM,''' +  CONVERT(VARCHAR,@REPORT_DATE)  +''', CPL.APP_EFFECTIVE_DATE ) > 0     
	AND ISNULL(OI.TOTAL_PAID ,0)  <> 0    
	AND CPL.CUSTOMER_ID IN ( ' + @CUSTOMER_ID + ' )     
	AND CPL.AGENCY_ID  IN ( ' + @AGENCY_ID + ')  
	AND CPL.POLICY_STATUS NOT IN (''UISSUE'',''SUSPENDED'')  
	
	UNION ALL    

	SELECT MAL.AGENCY_ID, MAL.AGENCY_DISPLAY_NAME AS AGENCYNAME, CPL.CUSTOMER_ID  AS CUSTOMER_ID, CPL.POLICY_NUMBER ,CPL.APP_EFFECTIVE_DATE AS POLICY_EFFECTIVE_DATE ,    
	CPL.APP_EXPIRATION_DATE AS POLICY_EXPIRY_DATE, (ISNULL(OI.TOTAL_DUE ,0) - ISNULL(OI.TOTAL_PAID ,0)) * -1 AS AMOUNT    
	FROM ACT_CUSTOMER_OPEN_ITEMS OI    
	INNER JOIN POL_CUSTOMER_POLICY_LIST CPL  
	ON OI.CUSTOMER_ID = CPL.CUSTOMER_ID     
	AND OI.POLICY_ID  = CPL.POLICY_ID     
	AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID     
	INNER JOIN MNT_AGENCY_LIST MAL ON CPL.AGENCY_ID = MAL.AGENCY_ID     
	WHERE OI.ITEM_TRAN_CODE_TYPE = ''DEP''     
	AND ISNULL(OI.TOTAL_DUE ,0) <> ISNULL(OI.TOTAL_PAID ,0)    
	AND DATEDIFF(MM, ''' +  CONVERT(VARCHAR,@REPORT_DATE)  +''' , CPL.APP_EFFECTIVE_DATE ) > 0     
	AND CPL.CUSTOMER_ID IN ( ' + @CUSTOMER_ID + ' )     
	AND CPL.AGENCY_ID  IN ( ' + @AGENCY_ID + ')    
	AND CPL.POLICY_STATUS NOT IN (''UISSUE'',''SUSPENDED'')
	) AS TEMP    
	INNER JOIN CLT_CUSTOMER_LIST CLT    
	ON CLT.CUSTOMER_ID = TEMP.CUSTOMER_ID     
	GROUP BY TEMP.AGENCY_ID, TEMP.AGENCYNAME, POLICY_NUMBER , POLICY_EFFECTIVE_DATE ,POLICY_EXPIRY_DATE ,  
	CLT.CUSTOMER_FIRST_NAME , CLT.CUSTOMER_LAST_NAME     
	HAVING  SUM(AMOUNT ) > 0 '    
    
END    
ELSE    
IF( @CUSTOMER_ID IS NOT NULL AND @AGENCY_ID IS NULL  )    
BEGIN     
	
	SET @SQLSTRING =     
	'SELECT TEMP.AGENCY_ID, TEMP.AGENCYNAME, ISNULL(CLT.CUSTOMER_FIRST_NAME,'''')' + ' + ' + ''' ''' + ' + ' + 'ISNULL(CLT.CUSTOMER_LAST_NAME,'''')  AS CUSTOMER_NAME ,    
	TEMP.POLICY_NUMBER , TEMP.POLICY_EFFECTIVE_DATE , TEMP.POLICY_EXPIRY_DATE ,   SUM(AMOUNT ) AS DEPOSIT_AMOUNT ,    
	'''' AS DEPOSITNUMBER  , '''' AS DEPOSIT_TRAN_DATE ,     
	CASE WHEN DATEDIFF(MONTH, ''' +  CONVERT(VARCHAR,@REPORT_DATE)  +''' ,POLICY_EFFECTIVE_DATE) >= 2 THEN 2    
	ELSE 1 END AS ADVANCE_MONTH    
	FROM     
	(    
	SELECT MAL.AGENCY_ID, MAL.AGENCY_DISPLAY_NAME AS AGENCYNAME, CPL.CUSTOMER_ID  AS CUSTOMER_ID, CPL.POLICY_NUMBER AS POLICY_NUMBER , CPL.APP_EFFECTIVE_DATE AS POLICY_EFFECTIVE_DATE ,    
	CPL.APP_EXPIRATION_DATE AS POLICY_EXPIRY_DATE, ISNULL(OI.TOTAL_PAID ,0)-ISNULL(OI.WRITE_OFF_AMOUNT,0)  AS AMOUNT    
	FROM ACT_CUSTOMER_OPEN_ITEMS OI    
	INNER JOIN POL_CUSTOMER_POLICY_LIST CPL    
	ON OI.CUSTOMER_ID = CPL.CUSTOMER_ID     
	AND OI.POLICY_ID  = CPL.POLICY_ID     
	AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID     
	INNER JOIN MNT_AGENCY_LIST MAL ON CPL.AGENCY_ID = MAL.AGENCY_ID     
	WHERE OI.ITEM_TRAN_CODE_TYPE IN ( ''PREM'' ) AND ITEM_TRAN_CODE <> ''SBWF''    
	AND DATEDIFF(MM,''' +  CONVERT(VARCHAR,@REPORT_DATE)  +''', CPL.APP_EFFECTIVE_DATE ) > 0     
	AND ISNULL(OI.TOTAL_PAID ,0)  <> 0    
	AND CPL.CUSTOMER_ID IN ( ' + @CUSTOMER_ID + ' )     
	AND CPL.POLICY_STATUS NOT IN (''UISSUE'',''SUSPENDED'')

	UNION ALL    

	SELECT MAL.AGENCY_ID, MAL.AGENCY_DISPLAY_NAME AS AGENCYNAME, CPL.CUSTOMER_ID  AS CUSTOMER_ID, CPL.POLICY_NUMBER ,CPL.APP_EFFECTIVE_DATE AS POLICY_EFFECTIVE_DATE ,    
	CPL.APP_EXPIRATION_DATE AS POLICY_EXPIRY_DATE, (ISNULL(OI.TOTAL_DUE ,0) - ISNULL(OI.TOTAL_PAID ,0)) * -1 AS AMOUNT    
	FROM ACT_CUSTOMER_OPEN_ITEMS OI    
	INNER JOIN POL_CUSTOMER_POLICY_LIST CPL    
	ON OI.CUSTOMER_ID = CPL.CUSTOMER_ID     
	AND OI.POLICY_ID  = CPL.POLICY_ID     
	AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID     
	INNER JOIN MNT_AGENCY_LIST MAL ON CPL.AGENCY_ID = MAL.AGENCY_ID     
	WHERE OI.ITEM_TRAN_CODE_TYPE = ''DEP''     
	AND ISNULL(OI.TOTAL_DUE ,0) <> ISNULL(OI.TOTAL_PAID ,0)    
	AND DATEDIFF(MM, ''' +  CONVERT(VARCHAR,@REPORT_DATE)  +''' , CPL.APP_EFFECTIVE_DATE ) > 0     
	AND CPL.CUSTOMER_ID IN ( ' + @CUSTOMER_ID + ' )     
	AND CPL.POLICY_STATUS NOT IN (''UISSUE'',''SUSPENDED'')
	) AS TEMP    
	INNER JOIN CLT_CUSTOMER_LIST CLT    
	ON CLT.CUSTOMER_ID = TEMP.CUSTOMER_ID     
	GROUP BY TEMP.AGENCY_ID, TEMP.AGENCYNAME, POLICY_NUMBER , POLICY_EFFECTIVE_DATE ,POLICY_EXPIRY_DATE ,      
	CLT.CUSTOMER_FIRST_NAME , CLT.CUSTOMER_LAST_NAME     
	HAVING  SUM(AMOUNT ) > 0 '    

END    
ELSE    
IF( @CUSTOMER_ID IS NULL AND @AGENCY_ID IS NOT NULL  )    
BEGIN     
	SET @SQLSTRING =     
	'SELECT TEMP.AGENCY_ID, TEMP.AGENCYNAME, ISNULL(CLT.CUSTOMER_FIRST_NAME,'''')' + ' + ' + ''' ''' + ' + ' + 'ISNULL(CLT.CUSTOMER_LAST_NAME,'''')  AS CUSTOMER_NAME ,    
	TEMP.POLICY_NUMBER , TEMP.POLICY_EFFECTIVE_DATE , TEMP.POLICY_EXPIRY_DATE ,   SUM(AMOUNT ) AS DEPOSIT_AMOUNT ,    
	'''' AS DEPOSITNUMBER  , '''' AS DEPOSIT_TRAN_DATE ,     
	CASE WHEN DATEDIFF(MONTH, ''' +  CONVERT(VARCHAR,@REPORT_DATE)  +''' ,POLICY_EFFECTIVE_DATE) >= 2 THEN 2    
	ELSE 1 END AS ADVANCE_MONTH    
	FROM     
	(    
	SELECT MAL.AGENCY_ID, MAL.AGENCY_DISPLAY_NAME AS AGENCYNAME, CPL.CUSTOMER_ID  AS CUSTOMER_ID, CPL.POLICY_NUMBER AS POLICY_NUMBER , CPL.APP_EFFECTIVE_DATE AS POLICY_EFFECTIVE_DATE ,    
	CPL.APP_EXPIRATION_DATE AS POLICY_EXPIRY_DATE, ISNULL(OI.TOTAL_PAID ,0)-ISNULL(OI.WRITE_OFF_AMOUNT,0)  AS AMOUNT    
	FROM ACT_CUSTOMER_OPEN_ITEMS OI    
	INNER JOIN POL_CUSTOMER_POLICY_LIST CPL    
	ON OI.CUSTOMER_ID = CPL.CUSTOMER_ID     
	AND OI.POLICY_ID  = CPL.POLICY_ID     
	AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID     
	INNER JOIN MNT_AGENCY_LIST MAL ON CPL.AGENCY_ID = MAL.AGENCY_ID     
	WHERE OI.ITEM_TRAN_CODE_TYPE IN ( ''PREM'' ) AND ITEM_TRAN_CODE <> ''SBWF''    
	AND DATEDIFF(MM,''' +  CONVERT(VARCHAR,@REPORT_DATE)  +''', CPL.APP_EFFECTIVE_DATE ) > 0     
	AND ISNULL(OI.TOTAL_PAID ,0)  <> 0    
	AND CPL.AGENCY_ID  IN ( ' + @AGENCY_ID + ')    
	AND CPL.POLICY_STATUS NOT IN (''UISSUE'',''SUSPENDED'')

	UNION ALL    

	SELECT MAL.AGENCY_ID, MAL.AGENCY_DISPLAY_NAME AS AGENCYNAME, CPL.CUSTOMER_ID  AS CUSTOMER_ID, CPL.POLICY_NUMBER ,CPL.APP_EFFECTIVE_DATE AS POLICY_EFFECTIVE_DATE ,    
	CPL.APP_EXPIRATION_DATE AS POLICY_EXPIRY_DATE, (ISNULL(OI.TOTAL_DUE ,0) - ISNULL(OI.TOTAL_PAID ,0)) * -1 AS AMOUNT    
	FROM ACT_CUSTOMER_OPEN_ITEMS OI    
	INNER JOIN POL_CUSTOMER_POLICY_LIST CPL    
	ON OI.CUSTOMER_ID = CPL.CUSTOMER_ID     
	AND OI.POLICY_ID  = CPL.POLICY_ID     
	AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID     
	INNER JOIN MNT_AGENCY_LIST MAL ON CPL.AGENCY_ID = MAL.AGENCY_ID     
	WHERE OI.ITEM_TRAN_CODE_TYPE = ''DEP''     
	AND ISNULL(OI.TOTAL_DUE ,0) <> ISNULL(OI.TOTAL_PAID ,0)    
	AND DATEDIFF(MM, ''' +  CONVERT(VARCHAR,@REPORT_DATE)  +''' , CPL.APP_EFFECTIVE_DATE ) > 0     
	AND CPL.AGENCY_ID  IN ( ' + @AGENCY_ID + ')    
	AND CPL.POLICY_STATUS NOT IN (''UISSUE'',''SUSPENDED'')
	) AS TEMP    
	INNER JOIN CLT_CUSTOMER_LIST CLT    
	ON CLT.CUSTOMER_ID = TEMP.CUSTOMER_ID     
	GROUP BY TEMP.AGENCY_ID, TEMP.AGENCYNAME, POLICY_NUMBER , POLICY_EFFECTIVE_DATE ,POLICY_EXPIRY_DATE ,      
	CLT.CUSTOMER_FIRST_NAME , CLT.CUSTOMER_LAST_NAME     
	HAVING  SUM(AMOUNT ) > 0 '    


END    
ELSE    
IF( @CUSTOMER_ID IS NULL AND @AGENCY_ID IS NULL  )    
BEGIN     	
	SET @SQLSTRING =     
	'SELECT TEMP.AGENCY_ID, TEMP.AGENCYNAME, ISNULL(CLT.CUSTOMER_FIRST_NAME,'''')' + ' + ' + ''' ''' + ' + ' + 'ISNULL(CLT.CUSTOMER_LAST_NAME,'''')  AS CUSTOMER_NAME ,    
	TEMP.POLICY_NUMBER , TEMP.POLICY_EFFECTIVE_DATE , TEMP.POLICY_EXPIRY_DATE ,   SUM(AMOUNT ) AS DEPOSIT_AMOUNT ,    
	'''' AS DEPOSITNUMBER  , '''' AS DEPOSIT_TRAN_DATE ,     
	CASE WHEN DATEDIFF(MONTH, ''' +  CONVERT(VARCHAR,@REPORT_DATE)  +''' ,POLICY_EFFECTIVE_DATE) >= 2 THEN 2    
	ELSE 1 END AS ADVANCE_MONTH    
	FROM     
	(    
	SELECT MAL.AGENCY_ID, MAL.AGENCY_DISPLAY_NAME AS AGENCYNAME, CPL.CUSTOMER_ID  AS CUSTOMER_ID, CPL.POLICY_NUMBER AS POLICY_NUMBER , CPL.APP_EFFECTIVE_DATE AS POLICY_EFFECTIVE_DATE ,    
	CPL.APP_EXPIRATION_DATE AS POLICY_EXPIRY_DATE, ISNULL(OI.TOTAL_PAID ,0)-ISNULL(OI.WRITE_OFF_AMOUNT,0)  AS AMOUNT    
	FROM ACT_CUSTOMER_OPEN_ITEMS OI    
	INNER JOIN POL_CUSTOMER_POLICY_LIST CPL    
	ON OI.CUSTOMER_ID = CPL.CUSTOMER_ID     
	AND OI.POLICY_ID  = CPL.POLICY_ID     
	AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID     
	INNER JOIN MNT_AGENCY_LIST MAL ON CPL.AGENCY_ID = MAL.AGENCY_ID     
	WHERE OI.ITEM_TRAN_CODE_TYPE IN ( ''PREM'' ) AND ITEM_TRAN_CODE <> ''SBWF''    
	AND DATEDIFF(MM,''' +  CONVERT(VARCHAR,@REPORT_DATE)  +''', CPL.APP_EFFECTIVE_DATE ) > 0     
	AND ISNULL(OI.TOTAL_PAID ,0)  <> 0    
	AND CPL.POLICY_STATUS NOT IN (''UISSUE'',''SUSPENDED'')

	UNION ALL    

	SELECT MAL.AGENCY_ID, MAL.AGENCY_DISPLAY_NAME AS AGENCYNAME, CPL.CUSTOMER_ID  AS CUSTOMER_ID, CPL.POLICY_NUMBER ,CPL.APP_EFFECTIVE_DATE AS POLICY_EFFECTIVE_DATE ,    
	CPL.APP_EXPIRATION_DATE AS POLICY_EXPIRY_DATE, (ISNULL(OI.TOTAL_DUE ,0) - ISNULL(OI.TOTAL_PAID ,0)) * -1 AS AMOUNT    
	FROM ACT_CUSTOMER_OPEN_ITEMS OI    
	INNER JOIN POL_CUSTOMER_POLICY_LIST CPL    
	ON OI.CUSTOMER_ID = CPL.CUSTOMER_ID     
	AND OI.POLICY_ID  = CPL.POLICY_ID     
	AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID     
	INNER JOIN MNT_AGENCY_LIST MAL ON CPL.AGENCY_ID = MAL.AGENCY_ID     
	WHERE OI.ITEM_TRAN_CODE_TYPE = ''DEP''     
	AND ISNULL(OI.TOTAL_DUE ,0) <> ISNULL(OI.TOTAL_PAID ,0)    
	AND DATEDIFF(MM, ''' +  CONVERT(VARCHAR,@REPORT_DATE)  +''' , CPL.APP_EFFECTIVE_DATE ) > 0     
	AND CPL.POLICY_STATUS NOT IN (''UISSUE'',''SUSPENDED'')
	) AS TEMP    
	INNER JOIN CLT_CUSTOMER_LIST CLT    
	ON CLT.CUSTOMER_ID = TEMP.CUSTOMER_ID     
	GROUP BY TEMP.AGENCY_ID, TEMP.AGENCYNAME, POLICY_NUMBER , POLICY_EFFECTIVE_DATE ,POLICY_EXPIRY_DATE ,      
	CLT.CUSTOMER_FIRST_NAME , CLT.CUSTOMER_LAST_NAME     
	HAVING  SUM(AMOUNT ) > 0 '     
END    
    
SET @SQLSTRING = @SQLSTRING + 'ORDER BY AGENCYNAME, CUSTOMER_NAME, TEMP.POLICY_NUMBER'    
END
print (@SQLSTRING)  
EXEC (@SQLSTRING)
    
END        
    
--go
--exec PROC_ACT_ADVANCED_DEPOSIT_REPORT '','',2009,12
--rollback tran


    
    
    
    








GO

