IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_SUSEP_SINAVAC_CLAIM_RESERVE_MOVEMENT_OF_INWARD_COI_POLICY]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_SUSEP_SINAVAC_CLAIM_RESERVE_MOVEMENT_OF_INWARD_COI_POLICY]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------                                                            
Proc Name             : Dbo.[PROC_SUSEP_SINAVAC_CLAIM_RESERVE_MOVEMENT_OF_INWARD_COI_POLICY]                                                            
Created by            : SANTOSH KUMAR GAUTAM                                                  
Date                  : 13 JULY 2011                                                          
Purpose               : TO CREATE SUSEP REPORT FOR CLAIM 
ITRACK				  : 1077                                                 
Used In               : CLAIM MODULE           
------------------------------------------------------------                                                            
Date     Review By          Comments                               
                      
drop Proc [PROC_SUSEP_SINAVAC_CLAIM_RESERVE_MOVEMENT_OF_INWARD_COI_POLICY] '2011-08-12'                                     
------   ------------       -------------------------*/                                                            
                          
CREATE PROCEDURE [dbo].[PROC_SUSEP_SINAVAC_CLAIM_RESERVE_MOVEMENT_OF_INWARD_COI_POLICY]    
  
@DATETIME 				DATETIME
                               
AS                                
BEGIN                         
    

 DECLARE @MONTH VARCHAR(2)    
 DECLARE @YEAR VARCHAR(4)  
  
 SET @MONTH= MONTH(@DATETIME)  
 SET @YEAR=YEAR(@DATETIME)
 
 IF(LEN(@MONTH)<2)
  SET @MONTH='0'+@MONTH
 

 DECLARE @TEMPTABLE TABLE           
 (                  
 -- SEQUENCIA INT                  
  COD_CIA VARCHAR(5)                  
  ,DT_BASE VARCHAR(6)                  
  ,TIPO_MOV INT               
  ,COD_RAMO NVARCHAR(4)               
  ,COD_COSS NVARCHAR(5)               
  ,NUM_SIN NVARCHAR(20)               
  ,NUM_APOL NVARCHAR(20)                   
  ,NUM_END NVARCHAR(20)              
  ,DT_REG NVARCHAR(8)                    
  ,DT_AVISO NVARCHAR(8)            
  ,DT_OCOR NVARCHAR(8)                  
  ,VR_MOV DECIMAL(16,2) 
  ,TP_SIN int              
                        
 )                  
 INSERT INTO @TEMPTABLE      


SELECT 

--RIGHT('0000000000'+CAST(ROW_NUMBER() OVER(ORDER BY ACT.CLAIM_ID, ACT.ACTIVITY_ID ASC)AS VARCHAR(10)),10) 
--                                      AS SEQUENCIA,--SEQUANCE_NUMBER,
--(CAST(ROW_NUMBER() OVER(ORDER BY ACT.CLAIM_ID, ACT.ACTIVITY_ID ASC)AS VARCHAR(10)))  
--                                      AS SEQUENCIA, 
--Modified by PRadeep as per the itrack-1077 Note 9- by Monica
'504-5'								  AS COD_CIA,--COMPANY_CODE, --ALIANCA DA BAHIA SUSEP CODE
(@YEAR+@MONTH)  					  AS DT_BASE,--BASE_DATE,
---------------------------------------------------
--- TYPE OF TRANSACTION
---------------------------------------------------
CASE WHEN ACT.ACTION_ON_PAYMENT = 165 THEN '201' -- FOR CREATE RESERVE ACTIVITY =>( NEW CLAIM REGISTERED)    
  WHEN ACT.ACTION_ON_PAYMENT = 168 THEN '214' -- FOR REOPEN RESERVE ACTIVITY =>( CLAIM REOPEN  )    
  WHEN ACT.ACTION_ON_PAYMENT = 167 --AND CLM.CLAIM_STATUS_UNDER=114305 --CODE FOR CLOSED WITHOUR IDEMNITY(Encerrado sem Indenização)    
           THEN '211' -- FOR CANCELLATION RESERVE ACTIVITY =>( CLAIM CLOSE )    
   WHEN ACT.ACTION_ON_PAYMENT = 166 THEN 
    CASE WHEN  SUM(ACT.CLAIM_RESERVE_AMOUNT)=0 THEN '211'  
	ELSE '204'END
  ELSE         ''                         --'04' -- FOR ANY OTHER TYPE ACTIVITY =>( CLAIM REAPPRAISAL)    
END           AS TIPO_MOV,

 TMP.SUSEP_LOB_CODE                       AS COD_RAMO, --SUSEP_LOB_CODE,
--ISNULL(COMP.SUSEP_NUM,'')      AS COD_COSS, --LEADER_COMPANY_CODE,  -- LEADER COMPANY CODE
 RIGHT('     '+(CASE   WHEN LEN(ISNULL(COMP.SUSEP_NUM,'')) > 0
		THEN SUBSTRING (COMP.SUSEP_NUM,1,LEN(COMP.SUSEP_NUM)-1) +'-'+ RIGHT(COMP.SUSEP_NUM,1) 
		ELSE ''
		END),5) AS COD_COSS,
--RIGHT('00000000000000000000' +ISNULL(COI.LEADER_CLAIM_NUMBER,'') ,20)               AS NUM_SIN, --CLAIM_NUMBER,         -- LEADER CLAIM NUMBER    
ISNULL(COI.LEADER_CLAIM_NUMBER,'') AS NUM_SIN,
--RIGHT('00000000000000000000' +ISNULL(COI.LEADER_POLICY_NUMBER,''),20)              AS NUM_APOL, --LEADER_POLICY_NUMBER, -- LEADER_POLICY_NUMBER    
RIGHT('                    ' +ISNULL(COI.LEADER_POLICY_NUMBER,''),20) AS NUM_APOL,
--RIGHT('00000000000000000000' +ISNULL(PPE.CO_ENDORSEMENT_NO,0),20)    AS NUM_END , --LEADER_ENDORSEMENT_NO,-- LEADER_ENDORSEMENT_NO    
ISNULL(PPE.CO_ENDORSEMENT_NO,'') AS NUM_END,--Modified by Pradeep as per the itrack-1077 Note 9- by Monica
---------------------------------------------------
--- CLAIM REGISTRATION DATE ON LEDAER SIDE
---------------------------------------------------									  
ISNULL(CAST(YEAR(COI.CLAIM_REGISTRATION_DATE) AS VARCHAR(4))+						 -- FOR YEAR PART
RIGHT('0'+CAST(MONTH(COI.CLAIM_REGISTRATION_DATE) AS VARCHAR(2)),2)+  		 -- FOR MONTH PART
RIGHT('0'+CAST(DAY(COI.CLAIM_REGISTRATION_DATE)AS VARCHAR(2)),2),'')      		 -- FOR DAY PART
									  AS DT_REG, --LEADER_CLAIM_REGITRATION_DATE,
---------------------------------------------------
--- NOTIFICATION DATE ( FNOL DATE)
---------------------------------------------------	
/*CAST(YEAR(CLM.FIRST_NOTICE_OF_LOSS) AS VARCHAR(4))+				  -- FOR YEAR PART
RIGHT('0'+CAST(MONTH(CLM.FIRST_NOTICE_OF_LOSS) AS VARCHAR(2)),2)+ -- FOR MONTH PART
RIGHT('0'+CAST(DAY(CLM.FIRST_NOTICE_OF_LOSS)AS VARCHAR(2)),2)     -- FOR DAY PART
									  AS DT_AVISO, --NOTIFICATION_DATE,*/
----Modified by Pradeep as per the itrack-1077 Note 9- by Monica -Get the FNOL Date
ISNULL(CAST(YEAR(CLM.FIRST_NOTICE_OF_LOSS) AS VARCHAR(4))+       -- FOR YEAR PART  
RIGHT('0'+CAST(MONTH(CLM.FIRST_NOTICE_OF_LOSS) AS VARCHAR(2)),2)+     -- FOR MONTH PART  
RIGHT('0'+CAST(DAY(CLM.FIRST_NOTICE_OF_LOSS)AS VARCHAR(2)),2),'')         -- FOR DAY PART  
           AS DT_AVISO,
--Modified till here 
---------------------------------------------------
--- LOSS DATE
---------------------------------------------------										  	
CAST(YEAR(CLM.LOSS_DATE) AS VARCHAR(4))+						  -- FOR YEAR PART
RIGHT('0'+CAST(MONTH(CLM.LOSS_DATE) AS VARCHAR(2)),2)+			  -- FOR MONTH PART
RIGHT('0'+CAST(DAY(CLM.LOSS_DATE)AS VARCHAR(2)),2)				  -- FOR DAY PART
									  AS DT_OCOR , --LOSS_DATE,

---------------------------------------------------------------
--- TRANSACTION RESERVE AMOUNT ( LOSS DATE)
--- IF RESERVE DECREASED THEN PUT '-' AS FIRST DIGIT IN AMOUNT 
--- IF RESERVE INCREASED THEN PUT '0' AS FIRST DIGIT IN AMOUNT 
---------------------------------------------------------------
--RIGHT('0000000000000000'+REPLACE(CAST(ABS(CLM_R.OUTSTANDING) AS VARCHAR(30)),'.',''),16)  AS VR_MOV,
--CAST(ABS(SUM(CLM_R.OUTSTANDING)) AS decimal(13,2))  AS VR_MOV, 
CASE     
WHEN ACT.ACTION_ON_PAYMENT =165        THEN ABS(SUM(CLM_R.OUTSTANDING))  -- FOR RESERVE CREATION ACTIVITY    
WHEN ACT.ACTION_ON_PAYMENT =167        THEN ABS(SUM(ACT.RESERVE_AMOUNT)) -- FOR CLOSE RESERVE ACTIVITY    
WHEN ACT.ACTION_ON_PAYMENT IN(166,168) THEN (CASE     
                  WHEN SUM(CLM_R.OUTSTANDING_TRAN) IS NULL THEN 0.00 --FOR CASE WHEN CHANGE RESERVE ACTIVITY COMPLETED WITHOUT ANY CHANGE    
                    --WHEN (CLM_R.PREV_OUTSTANDING-CLM_R.OUTSTANDING) =0    
                  --THEN  ABS(CLM_R.OUTSTANDING_TRAN)
                  --WHEN (CLM_R.PREV_OUTSTANDING-CLM_R.OUTSTANDING) >0                                                             
                  --THEN  ABS(CLM_R.OUTSTANDING_TRAN)  --'-'+RIGHT('000000000000000'+CAST(ABS(CLM_R.OUTSTANDING_TRAN) AS VARCHAR(30)),15)           
                  ELSE  ABS(SUM(CLM_R.OUTSTANDING_TRAN))    
                 END     
                                             )     
ELSE 0.00 END            AS VR_MOV,

--CASE     
--WHEN ACT.ACTION_ON_PAYMENT =165        THEN RIGHT('0000000000000000' + REPLACE(CAST(ABS(CLM_R.OUTSTANDING_TRAN) AS VARCHAR(30)),'.',''),16) -- FOR RESERVE CREATION ACTIVITY    
--WHEN ACT.ACTION_ON_PAYMENT =167        THEN '0'+RIGHT('000000000000000'+REPLACE(CAST(ABS(ACT.RESERVE_AMOUNT) AS VARCHAR(30)),'.',''),15) -- FOR CLOSE RESERVE ACTIVITY    
--WHEN ACT.ACTION_ON_PAYMENT IN(166,168,180,181,190,192) THEN (CASE     
--                  WHEN CLM_R.OUTSTANDING_TRAN IS NULL THEN '00000000000000000' --FOR CASE WHEN CHANGE RESERVE ACTIVITY COMPLETED WITHOUT ANY CHANGE    
--                  WHEN (CLM_R.PREV_OUTSTANDING-CLM_R.OUTSTANDING) =0    
--                  THEN  RIGHT('000000000000000'+REPLACE(CAST(ABS(CLM_R.OUTSTANDING_TRAN) AS VARCHAR(30)),'.',''),16)     
--                              WHEN (CLM_R.PREV_OUTSTANDING-CLM_R.OUTSTANDING) >0                                                             
--                  THEN  '0'+RIGHT('000000000000000'+REPLACE(CAST(ABS(CLM_R.OUTSTANDING_TRAN) AS VARCHAR(30)),'.',''),15) --'-'+RIGHT('000000000000000'+CAST(ABS(CLM_R.OUTSTANDING_TRAN) AS VARCHAR(30)),15)           
--                  ELSE  '0'+RIGHT('000000000000000'+REPLACE(CAST(ABS(CLM_R.OUTSTANDING_TRAN) AS VARCHAR(30)),'.',''),15)    
--                 END     
--                                             )     
--ELSE '0000000000000000' END            AS VR_MOV,




---------------------------------------------------
-- CLAIM TYPE				  
-- 01: ADMINISTRATIVE INDEMINITY
-- 02: ADMINISTRATIVE EXPENSES
-- 03: LEGAL INDEMINITY
-- 04: LEGAL EXPENSES

-- CHECK IF RESERVE/PAYMENT/RECOVERY DONE AGAINST POLICY COVERAGES THEN IDENMINTY ESLE EXPENSES
---------------------------------------------------
CASE WHEN ACT.ACTION_ON_PAYMENT=167  THEN '00'						--- FOR CLOSE RESERVE ACTIVITY
     WHEN (CLM_C.IS_RISK_COVERAGE='Y' OR CLM_C.IS_RISK_COVERAGE IS NULL) AND ACT.IS_LEGAL='N' THEN '01' --- ADMINISTRATIVE INDEMINITY
	 WHEN (CLM_C.IS_RISK_COVERAGE='N' OR CLM_C.IS_RISK_COVERAGE IS NULL) AND ACT.IS_LEGAL='N' THEN '02' --- ADMINISTRATIVE EXPENSES
     WHEN (CLM_C.IS_RISK_COVERAGE='Y' OR CLM_C.IS_RISK_COVERAGE IS NULL) AND ACT.IS_LEGAL='Y' THEN '03' --- LEGAL INDEMINITY
     WHEN (CLM_C.IS_RISK_COVERAGE='N' OR CLM_C.IS_RISK_COVERAGE IS NULL) AND ACT.IS_LEGAL='Y' THEN '04' --- LEGAL EXPENSES
END AS TP_SIN --CLAIM_TYPE

FROM   CLM_CLAIM_INFO 			AS CLM 	 WITH (NOLOCK) INNER JOIN
       CLM_ACTIVITY   			AS ACT 	 WITH (NOLOCK) ON CLM.CLAIM_ID=ACT.CLAIM_ID AND ACTIVITY_STATUS=11801  AND ACT.IS_ACTIVE='Y'  LEFT OUTER JOIN--COMPLETED ACTIVITY 
       POL_CUSTOMER_POLICY_LIST AS POL 	 WITH (NOLOCK) ON CLM.CUSTOMER_ID=POL.CUSTOMER_ID AND CLM.POLICY_ID=POL.POLICY_ID AND CLM.POLICY_VERSION_ID=POL.POLICY_VERSION_ID LEFT OUTER JOIN
       MNT_LOB_MASTER           AS LOB 	 WITH (NOLOCK) ON CAST(POL.POLICY_LOB AS INT)=LOB.LOB_ID  LEFT OUTER JOIN
       POL_POLICY_ENDORSEMENTS  AS PPE 	 WITH (NOLOCK) ON PPE.CUSTOMER_ID=POL.CUSTOMER_ID AND PPE.POLICY_ID=POL.POLICY_ID AND PPE.POLICY_VERSION_ID=POL.POLICY_VERSION_ID AND PPE.ENDORSEMENT_STATUS='COM' LEFT OUTER JOIN
       CLM_CO_INSURANCE  		AS COI   WITH (NOLOCK) ON COI.CLAIM_ID=CLM.CLAIM_ID LEFT OUTER JOIN
       CLM_PARTIES              AS PARTY WITH (NOLOCK) ON PARTY.CLAIM_ID=CLM.CLAIM_ID AND PARTY.SOURCE_PARTY_TYPE_ID=14548 LEFT OUTER JOIN -- PARTY SHOULD BE LEADER ( 14548 :LEADER ,14549 :FOLLOWER) 
       MNT_REIN_COMAPANY_LIST   AS COMP  WITH (NOLOCK) ON COMP.REIN_COMAPANY_ID=PARTY.SOURCE_PARTY_ID LEFT OUTER JOIN
       CLM_ACTIVITY_RESERVE     AS CLM_R WITH (NOLOCK) ON CLM_R.CLAIM_ID=ACT.CLAIM_ID 
	   AND CLM_R.ACTIVITY_ID=ACT.ACTIVITY_ID AND 
	   (
		   CASE WHEN ACT.ACTION_ON_PAYMENT IN(165,166,168,167)   
		   THEN CLM_R.OUTSTANDING_TRAN -- FOR ACTIVITY CREAION, CHANGE RESERVE, REOPEN RESERVE
		   WHEN ACT.ACTION_ON_PAYMENT IN(180,181)       THEN CLM_R.PAYMENT_AMOUNT   -- FOR PAYMENT ACTIVITY
		   WHEN ACT.ACTION_ON_PAYMENT IN(190,192)       THEN CLM_R.RECOVERY_AMOUNT  -- FOR RECOVERY ACTIVITY
		   END
		)<>0 
		LEFT OUTER JOIN
      CLM_PRODUCT_COVERAGES    AS CLM_C WITH (NOLOCK) ON CLM_R.CLAIM_ID=CLM_C.CLAIM_ID AND CLM_R.COVERAGE_ID=CLM_C.CLAIM_COV_ID																				    
	  LEFT OUTER JOIN		
	 (

	SELECT DISTINCT PPC.CUSTOMER_ID ,PPC.POLICY_ID,PPC.POLICY_VERSION_ID,MLM1.SUSEP_LOB_CODE 

	FROM POL_PRODUCT_COVERAGES PPC (NOLOCK) 

	LEFT OUTER JOIN [MNT_COVERAGE_ACCOUNTING_LOB ] MCAL (NOLOCK) ON (PPC.COVERAGE_CODE_ID = MCAL.COV_ID)

	INNER JOIN MNT_LOB_MASTER MLM1 WITH(NOLOCK) ON MLM1.LOB_ID = MCAL.ACC_LOB_ID  

	) TMP ON 

	TMP.CUSTOMER_ID = CLM.CUSTOMER_ID AND 

	TMP.POLICY_ID = CLM.POLICY_ID AND 

	TMP.POLICY_VERSION_ID = CLM.POLICY_VERSION_ID
WHERE CLM.CO_INSURANCE_TYPE=14549 AND  -- ONLY FOR FOLLOER TYPE(14547:DIRECT, 14548 :LEADER ,14549 :FOLLOWER ) 
      CLM.CLAIM_STATUS = 11739 AND -- OPEN CLAIMS 
	    ACT.ACTION_ON_PAYMENT IN (165,166,167,168) AND
      YEAR(ACT.COMPLETED_DATE)=@YEAR AND MONTH(ACT.COMPLETED_DATE)=@MONTH
	   --AND CLM_R.OUTSTANDING <> 0
	   AND ISNULL(CLM.OFFCIAL_CLAIM_NUMBER,'') <> ''
	    AND CLM_R.OUTSTANDING<>CLM_R.PREV_OUTSTANDING
  GROUP BY ACT.CLAIM_ID, ACT.ACTIVITY_ID,
     ACT.ACTION_ON_PAYMENT,
     CLM.CLAIM_STATUS_UNDER,
	 TMP.SUSEP_LOB_CODE,
     --MC.SUSEP_COV_CODE,
     COMP.SUSEP_NUM,
     COI.LEADER_CLAIM_NUMBER,
     COI.LEADER_POLICY_NUMBER,
     PPE.CO_ENDORSEMENT_NO,
     COI.CLAIM_REGISTRATION_DATE,
     CLM.FIRST_NOTICE_OF_LOSS,
     CLM.LOSS_DATE,
     CLM_C.IS_RISK_COVERAGE,
     ACT.IS_LEGAL,
     CLM.CLAIM_NUMBER 
	  
ORDER BY ACT.CLAIM_ID,ACT.ACTIVITY_ID

SELECT 
     (CAST(ROW_NUMBER() OVER(ORDER BY TIPO_MOV ASC)AS VARCHAR(10)))  
                                      AS SEQUENCIA            
  ,COD_CIA               
  ,DT_BASE              
  ,ISNULL(TIPO_MOV,0) TIPO_MOV             
  ,COD_RAMO 
  ,COD_COSS          
  ,NUM_SIN        
  ,NUM_APOL                
  ,NUM_END           
  ,DT_REG               
  ,DT_AVISO     
  ,DT_OCOR             
  ,VR_MOV  
  ,ISNULL(TP_SIN,0)  TP_SIN
 FROM @TEMPTABLE  
  group by 
   COD_CIA               
  ,DT_BASE              
  ,TIPO_MOV             
  ,COD_RAMO 
  ,COD_COSS          
  ,NUM_SIN        
  ,NUM_APOL                
  ,NUM_END           
  ,DT_REG               
  ,DT_AVISO     
  ,DT_OCOR             
  ,VR_MOV  
  ,TP_SIN                    
END   


GO

