IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_SCHEDULE_P_CLAIM_COUNT_1]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_SCHEDULE_P_CLAIM_COUNT_1]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--DROP PROCEDURE PROC_SCHEDULE_P_CLAIM_COUNT_1
CREATE PROCEDURE PROC_SCHEDULE_P_CLAIM_COUNT_1 
(  
 @AS_ON_DATE  DATETIME = NULL  
)  
AS  
BEGIN  
  
 IF(ISNULL(@AS_ON_DATE,'')) = ''  
 BEGIN  
  SET @AS_ON_DATE = GETDATE()  
 END  
DECLARE @CLAIM_OPEN INT  
DECLARE @CLAIM_CLOSED INT  
DECLARE @PARTIAL_PAID_LOSS INT  
DECLARE @FINAL_PAID_LOSS INT  
DECLARE @CREDIT_PAID_LOSS INT  
DECLARE @VOID_PAID_LOSS INT  
  
SET @CLAIM_OPEN = 11739;  
SET @CLAIM_CLOSED = 11740;  
SET @PARTIAL_PAID_LOSS = 180;  
SET @FINAL_PAID_LOSS = 181;  
SET @CREDIT_PAID_LOSS = 188; 
SET @VOID_PAID_LOSS = 240;  

WITH
PAID_LOSS AS      
(      
	SELECT VWCLM.STATE_ID,VWCLM.AGENCY_ID,VWCLM.CLAIM_ID,VWCLM.COVERAGE_ID,VWCLM.LOB_ID,ACTV_YEAR,
	ACTV_MONTH, DATEPART(YEAR,CCI.LOSS_DATE) AS INCURRED_YEAR,      
	ISNULL(SUM(CASE WHEN ACTION_ON_PAYMENT IN (180,181,176,177) THEN ISNULL(AMOUNT,0) ELSE 0 END),0) -      
	ISNULL(SUM(CASE WHEN ACTION_ON_PAYMENT IN (63,64,70,188,240,242,243,244,245) THEN ISNULL(AMOUNT,0) ELSE 0 END),0)  AS LOSS_PAID      
	FROM VW_CLAIM_TRANSACTION_DETAIL VWCLM      
	INNER JOIN CLM_CLAIM_INFO CCI WITH(NOLOCK) ON VWCLM.CLAIM_ID = CCI.CLAIM_ID       
	GROUP BY VWCLM.STATE_ID,VWCLM.AGENCY_ID,VWCLM.CLAIM_ID,VWCLM.COVERAGE_ID,VWCLM.LOB_ID,ACTV_YEAR,ACTV_MONTH,CCI.LOSS_DATE      
) ,     
      
PAID_LOSS_INCURRED AS      
(      
SELECT PL.STATE_ID,PL.AGENCY_ID,PL.LOB_ID,BE.CLAIM_ID,PL.COVERAGE_ID,PL.INCURRED_YEAR,BE.YEAR_NUMBER ,BE.MONTH_NUMBER,
BEGIN_RESERVE, END_RESERVE,    
(ISNULL(END_RESERVE,0) + ISNULL(PL.LOSS_PAID ,0))- ISNULL(BEGIN_RESERVE,0) AS LOSSES_INCURRED,      
PL.LOSS_PAID      
FROM VW_BEGINING_ENDING_RESERVE_BY_COVERAGE BE       
INNER JOIN PAID_LOSS PL ON PL.STATE_ID=BE.STATE_ID AND PL.AGENCY_ID=BE.AGENCY_ID  
AND BE.CLAIM_ID=PL.CLAIM_ID   AND BE.COVERAGE_ID = PL.COVERAGE_ID
AND PL.LOB_ID=BE.LOB_ID AND PL.ACTV_YEAR=BE.YEAR_NUMBER AND PL.ACTV_MONTH=BE.MONTH_NUMBER      
) 
	

SELECT ML.ASLOB_ID, INCURRED_YEAR,SUM(NET_PAID_LOSS)AS NET_PAID_LOSS,SUM(NET_ENDING_RESERVE)AS NET_ENDING_RESERVE,
SUM(PAID_EXPENSES)AS NET_PAID_EXPENSES,OPEN_CLAIMS,COUNT_PAID_LOSSES,COUNT_PAID_EXPENSES,CLOSED_WITH_PAYMENT,
CLOSED_WITHOUT_PAYMENT,(OPEN_CLAIMS + CLOSED_WITH_PAYMENT + CLOSED_WITHOUT_PAYMENT) AS REPORTED_CLAIMS 
FROM
(
	SELECT COVERAGE_ID , INCURRED_YEAR , SUM(LOSS_PAID)AS NET_PAID_LOSS,SUM(END_RESERVE)AS NET_ENDING_RESERVE, 

	(
		SELECT SUM(AMOUNT)
		FROM VW_CLAIM_TRANSACTION_DETAIL VCT WHERE ACTION_ON_PAYMENT IN 
		(174,175,176,177,178,185,190,203,207,173,183,184,186,187,189,204,241,242,243,244,245,249,247,248,250,251,253,254,255,246)
		AND DATEPART(YEAR,VCT.DATE_OF_LOSS) = 2008 AND VCT.COVERAGE_ID = VPL.COVERAGE_ID
		AND VCT.ACTV_YEAR = YEAR(GETDATE())
	)AS PAID_EXPENSES,
	 
	(
		SELECT COUNT(CLAIM_ID) FROM PAID_LOSS_INCURRED CLM_OPEN 
		WHERE CLM_OPEN.END_RESERVE <> 0
		AND CLM_OPEN.COVERAGE_ID = VPL.COVERAGE_ID AND CLM_OPEN.INCURRED_YEAR = VPL.INCURRED_YEAR
		AND CLM_OPEN.YEAR_NUMBER = YEAR(GETDATE()) 
	)AS OPEN_CLAIMS,

	(  
		SELECT COUNT(VP.CLAIM_ID)AS PAID_LOSSES  
		FROM PAID_LOSS_INCURRED VP
		WHERE VP.LOSS_PAID <> 0
		AND VP.COVERAGE_ID = VPL.COVERAGE_ID AND VP.INCURRED_YEAR = VPL.INCURRED_YEAR 
		AND VP.YEAR_NUMBER = YEAR(GETDATE())
	) AS COUNT_PAID_LOSSES,

	(
		SELECT COUNT(CLM_OPEN.CLAIM_ID) AS PAID_EXPENSES  
		FROM PAID_LOSS_INCURRED CLM_OPEN  
		WHERE CLM_OPEN.END_RESERVE <> 0  AND CLM_OPEN.COVERAGE_ID = VPL.COVERAGE_ID
		AND CLM_OPEN.INCURRED_YEAR = VPL.INCURRED_YEAR AND CLM_OPEN.YEAR_NUMBER = YEAR(GETDATE()) 
		AND EXISTS 
			(
			SELECT COUNT(CLAIM_ID)
			FROM VW_CLAIM_TRANSACTION_DETAIL VCT WHERE ACTION_ON_PAYMENT IN 
			(174,175,176,177,178,185,190,203,207,173,183,184,186,187,189,204,241,242,243,244,245,249,247,248,250,251,253,254,255,246)
			AND DATEPART(YEAR,VCT.DATE_OF_LOSS) = VPL.INCURRED_YEAR AND VCT.COVERAGE_ID = VPL.COVERAGE_ID
			AND VCT.ACTV_YEAR = YEAR(GETDATE())
			)
	) AS COUNT_PAID_EXPENSES,


	(
		 SELECT COUNT(CLM_OPEN.CLAIM_ID) AS CLOSED_WITH_PAYMENT  
		 FROM PAID_LOSS_INCURRED CLM_OPEN  
		 WHERE CLM_OPEN.END_RESERVE = 0  AND CLM_OPEN.COVERAGE_ID = VPL.COVERAGE_ID
		 AND CLM_OPEN.INCURRED_YEAR = VPL.INCURRED_YEAR AND CLM_OPEN.YEAR_NUMBER = YEAR(GETDATE()) 
		 AND EXISTS 
			( 
			SELECT COUNT(CLAIM_ID) 
			FROM VW_CLAIM_TRANSACTION_DETAIL VCT	
			WHERE ACTION_ON_PAYMENT IN (180,181)
			AND DATEPART(YEAR,VCT.DATE_OF_LOSS) = VPL.INCURRED_YEAR AND VCT.COVERAGE_ID = VPL.COVERAGE_ID
			AND VCT.ACTV_YEAR = YEAR(GETDATE()) 
			AND CLM_OPEN.CLAIM_ID = VCT.CLAIM_ID
			) 
	)AS CLOSED_WITH_PAYMENT,

	(
		 SELECT COUNT(CLM_OPEN.CLAIM_ID) AS CLOSED_WITHOUT_PAYMENT  
		 FROM PAID_LOSS_INCURRED CLM_OPEN  
		 WHERE CLM_OPEN.END_RESERVE = 0 AND CLM_OPEN.COVERAGE_ID = VPL.COVERAGE_ID
		 AND CLM_OPEN.INCURRED_YEAR = VPL.INCURRED_YEAR AND CLM_OPEN.YEAR_NUMBER = YEAR(GETDATE())  
		 AND NOT EXISTS 
			( 
			SELECT COUNT(CLAIM_ID) 
			FROM VW_CLAIM_TRANSACTION_DETAIL VCT	
			WHERE ACTION_ON_PAYMENT IN(180,181)
			AND DATEPART(YEAR,VCT.DATE_OF_LOSS) = VPL.INCURRED_YEAR AND VCT.COVERAGE_ID = VPL.COVERAGE_ID
			AND VCT.ACTV_YEAR = YEAR(GETDATE())
			AND CLM_OPEN.CLAIM_ID = VCT.CLAIM_ID
			) 
	)AS CLOSED_WITHOUT_PAYMENT

	FROM PAID_LOSS_INCURRED VPL

	WHERE VPL.YEAR_NUMBER = 2009
	GROUP BY COVERAGE_ID , INCURRED_YEAR 
) A

INNER JOIN MNT_COVERAGE MC  
ON A.COVERAGE_ID = MC.COV_ID  
INNER JOIN MNT_LOOKUP_VALUES MLV  
ON MC.ASLOB = MLV.LOOKUP_UNIQUE_ID
INNER JOIN MNT_LOB_DESC ML
ON MLV.LOOKUP_UNIQUE_ID = ML.ASLOB_ID

GROUP BY ML.ASLOB_ID,INCURRED_YEAR,OPEN_CLAIMS,COUNT_PAID_LOSSES,COUNT_PAID_EXPENSES,CLOSED_WITH_PAYMENT,CLOSED_WITHOUT_PAYMENT


END



GO

