IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_INSERTPOLICYGENINFO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_INSERTPOLICYGENINFO]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*  
Created By		: Charles Gomes  
Comments		: Insert Policy Information 
Created Date	: 22-Mar-10
*/  
 --DROP PROC DBO.PROC_INSERTPOLICYGENINFO         
CREATE PROC [dbo].[PROC_INSERTPOLICYGENINFO]            
(            
 @CUSTOMER_ID INT,                   
 @APP_VERSION_ID SMALLINT,            
 @PARENT_APP_VERSION_ID SMALLINT,            
 @APP_STATUS NVARCHAR(10) = NULL,            
 @APP_NUMBER NVARCHAR(150),            
 @APP_VERSION NVARCHAR(6),            
 @APP_TERMS NVARCHAR(10),            
 @APP_INCEPTION_DATE DATETIME = NULL,            
 @APP_EFFECTIVE_DATE DATETIME,            
 @APP_EXPIRATION_DATE DATETIME,            
 @APP_LOB NVARCHAR(10),            
 @APP_SUBLOB NVARCHAR(10),            
 @CSR INT,            
 @UNDERWRITER INT,            
 @IS_UNDER_REVIEW NCHAR(2) = NULL,            
 @APP_AGENCY_ID SMALLINT,            
 @IS_ACTIVE NCHAR(2),            
 @CREATED_BY INT,            
 @CREATED_DATETIME DATETIME,            
 @MODIFIED_BY INT,            
 @LAST_UPDATED_DATETIME DATETIME,            
 @COUNTRY_ID INT,            
 @STATE_ID INT = NULL,            
 @DIV_ID SMALLINT,            
 @DEPT_ID SMALLINT,            
 @PC_ID SMALLINT,            
 @BILL_TYPE_ID INTEGER = NULL,            
 @COMPLETE_APP NCHAR(1) = NULL,            
 @PROPRTY_INSP_CREDIT INT,            
 @INSTALL_PLAN_ID INT,            
 @CHARGE_OFF_PRMIUM NVARCHAR(5) = NULL,            
 @RECEIVED_PRMIUM DECIMAL(18,2) = NULL,            
 @PROXY_SIGN_OBTAINED INT = NULL,            
 @POLICY_TYPE INT = NULL,            
 @YEAR_AT_CURR_RESI INT = NULL,            
 @YEARS_AT_PREV_ADD NVARCHAR(250) = NULL,        
 @PIC_OF_LOC INT = NULL,         
 @IS_HOME_EMP BIT = NULL,        
 @PRODUCER INT,         
 @DOWN_PAY_MODE INT = NULL,
 @POLICY_CURRENCY INT,  
 @PAYOR INT,  
 @CO_INSURANCE INT,  
 @POLICY_LEVEL_COMISSION DECIMAL(18,2) = NULL,  
 @BILLTO NVARCHAR(50),  
 @CONTACT_PERSON INT = NULL,
 @POLICY_LEVEL_COMM_APPLIES NCHAR(1) = NULL,
 @TRANSACTION_TYPE INT = NULL,
 @PREFERENCE_DAY SMALLINT = NULL,
 @BROKER_REQUEST_NO NVARCHAR(100) = NULL,
 @BROKER_COMM_FIRST_INSTM NCHAR(1) = NULL,
 @LANG_ID INT = 1,
 @APP_ID INT OUTPUT,
 @POLICY_ID INT OUTPUT,
 @POLICY_DESCRIPTION NVARCHAR(4000) = NULL     
 --@REMARKS NVARCHAR(4000) = NULL                    
)            
AS            
BEGIN      
    
 DECLARE @TEMP_POLICY_ID INT,                                                                                                     
 @TEMP_POLICY_VERSION_ID INT,   
 @BILL_TYPE VARCHAR(2),        
 @APPLY_INSURANCE_SCORE INT,          
 @CUSTOMER_REASON_CODE NVARCHAR(10),        
 @CUSTOMER_REASON_CODE2 NVARCHAR(10),        
 @CUSTOMER_REASON_CODE3 NVARCHAR(10),        
 @CUSTOMER_REASON_CODE4 NVARCHAR(10),  
 @APPLICANT_ID INT,
 @IS_PRIMARY_APPLICANT INT,
 @APP_STATUS_STR NVARCHAR(50), 
 @POL_STATUS_STR NVARCHAR(50),
 @PRODUCT_SUSEP_NUMBER NVARCHAR(10)
 --DECLARE @APPCOUNT INT                                                                                              
                                                                                 
 SELECT @TEMP_POLICY_ID = ISNULL(MAX(POLICY_ID),0)+1  FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK)                                                            
 WHERE CUSTOMER_ID = @CUSTOMER_ID                                                                                                           
          
 IF @TEMP_POLICY_ID IS NULL OR @TEMP_POLICY_ID = ''                                                                                                    
 BEGIN                                                                                                    
  SET @TEMP_POLICY_ID = 1                                                                               
 END                                                                                                   
  SET @TEMP_POLICY_VERSION_ID = 1       
  /*comment -- Logic shifted to NBS Commit Level

  --Added by Lalit for itrack # 1493.
  --control product LOB data on Effective and Expire dates
  --as per itrack # 1178 lob 22 and 21 susep code consider same.
IF EXISTS(SELECT * FROM MNT_LOB_SUSEPCODE_MASTER WHERE LOB_ID = CASE WHEN @APP_LOB=22 THEN 21 ELSE @APP_LOB END AND EFFECTIVE_FROM <= @APP_EFFECTIVE_DATE AND  EFFECTIVE_TO >= @APP_EFFECTIVE_DATE )
	SELECT  @PRODUCT_SUSEP_NUMBER = SUSEP_LOB_CODE  FROM MNT_LOB_SUSEPCODE_MASTER WHERE LOB_ID = CASE WHEN @APP_LOB=22 THEN 21 ELSE @APP_LOB END  AND EFFECTIVE_FROM <= @APP_EFFECTIVE_DATE AND  EFFECTIVE_TO >= @APP_EFFECTIVE_DATE  ---- added for itrack-1178
ELSE
	SELECT  @PRODUCT_SUSEP_NUMBER = SUSEP_LOB_CODE  FROM MNT_LOB_MASTER WHERE LOB_ID = CASE WHEN @APP_LOB=22 THEN 21 ELSE @APP_LOB END -- added for itrack-1178
	*/
    
SELECT         
@APPLY_INSURANCE_SCORE= CUSTOMER_INSURANCE_SCORE ,      
@CUSTOMER_REASON_CODE = ISNULL(CUSTOMER_REASON_CODE,''),      
@CUSTOMER_REASON_CODE2 = ISNULL(CUSTOMER_REASON_CODE2,''),      
@CUSTOMER_REASON_CODE3 = ISNULL(CUSTOMER_REASON_CODE3,''),      
@CUSTOMER_REASON_CODE4 = ISNULL(CUSTOMER_REASON_CODE4,'')      
FROM CLT_CUSTOMER_LIST WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID        
        
SELECT @BILL_TYPE  = [TYPE] FROM MNT_LOOKUP_VALUES WITH(NOLOCK) WHERE LOOKUP_UNIQUE_ID = @BILL_TYPE_ID        
--SELECT @APP_ID=ISNULL(MAX(APP_ID),0)+1 FROM APP_LIST WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID
SELECT @APP_ID=ISNULL(MAX(APP_ID),0)+1 FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID        
                      
SET @APPLICANT_ID=0            
SET @IS_PRIMARY_APPLICANT=0        
            
SELECT @APPLICANT_ID = APPLICANT_ID             
FROM CLT_APPLICANT_LIST WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND IS_PRIMARY_APPLICANT = 1            
   
--SET @APPCOUNT= 0            
            
IF (@APPLICANT_ID > 0)            
BEGIN            
--SELECT @APPCOUNT =  COUNT(APPLICANT_ID) FROM APP_APPLICANT_LIST WITH(NOLOCK)           
--WHERE CUSTOMER_ID = @CUSTOMER_ID AND APP_ID= @APP_ID AND APP_VERSION_ID = @APP_VERSION_ID AND APPLICANT_ID=@APPLICANT_ID           
        
SET @IS_PRIMARY_APPLICANT=1        
END            
            
SELECT @APP_STATUS_STR = ISNULL(PSMM.POLICY_DESCRIPTION,PPSM.POLICY_DESCRIPTION) FROM POL_POLICY_STATUS_MASTER PPSM WITH(NOLOCK)
LEFT OUTER JOIN POL_POLICY_STATUS_MASTER_MULTILINGUAL PSMM WITH(NOLOCK)
ON PSMM.POLICY_STATUS_CODE = PPSM.POLICY_STATUS_CODE AND PSMM.LANG_ID = @LANG_ID
WHERE UPPER(PPSM.POLICY_STATUS_CODE) = 'INCOMPLETE'

SELECT @POL_STATUS_STR = ISNULL(PSMM.POLICY_DESCRIPTION,PPSM.POLICY_DESCRIPTION) FROM POL_POLICY_STATUS_MASTER PPSM WITH(NOLOCK)
LEFT OUTER JOIN POL_POLICY_STATUS_MASTER_MULTILINGUAL PSMM WITH(NOLOCK)
ON PSMM.POLICY_STATUS_CODE = PPSM.POLICY_STATUS_CODE AND PSMM.LANG_ID = @LANG_ID
WHERE UPPER(PPSM.POLICY_STATUS_CODE) = 'APPLICATION'  
    
  INSERT INTO POL_CUSTOMER_POLICY_LIST                                                                                           
  (                                                                                          
	  CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,APP_ID,APP_VERSION_ID,PARENT_APP_VERSION_ID,APP_STATUS,APP_NUMBER,APP_VERSION,              
	  APP_TERMS,APP_INCEPTION_DATE,APP_EFFECTIVE_DATE,APP_EXPIRATION_DATE,POLICY_LOB,POLICY_SUBLOB,CSR, UNDERWRITER,IS_UNDER_REVIEW,              
	  AGENCY_ID,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,COUNTRY_ID,STATE_ID,DIV_ID,              
	  DEPT_ID,PC_ID,BILL_TYPE,BILL_TYPE_ID,COMPLETE_APP,PROPRTY_INSP_CREDIT,INSTALL_PLAN_ID,CHARGE_OFF_PRMIUM,              
	  RECEIVED_PRMIUM,PROXY_SIGN_OBTAINED,POLICY_TYPE,SHOW_QUOTE,APP_VERIFICATION_XML,YEAR_AT_CURR_RESI,YEARS_AT_PREV_ADD,              
	  POLICY_STATUS,POLICY_NUMBER,POLICY_DISP_VERSION,POLICY_EFFECTIVE_DATE,POLICY_EXPIRATION_DATE, PIC_OF_LOC,IS_HOME_EMP                                                                                          
	  ,POL_VER_EFFECTIVE_DATE,POL_VER_EXPIRATION_DATE,DOWN_PAY_MODE,CURRENT_TERM ,DWELLING_ID,ADD_INT_ID,PRODUCER,APPLY_INSURANCE_SCORE,      
	  CUSTOMER_REASON_CODE,CUSTOMER_REASON_CODE2,CUSTOMER_REASON_CODE3,CUSTOMER_REASON_CODE4,  
	  POLICY_CURRENCY, PAYOR, CO_INSURANCE, POLICY_LEVEL_COMISSION, BILLTO, CONTACT_PERSON,
	  POLICY_LEVEL_COMM_APPLIES, TRANSACTION_TYPE, PREFERENCE_DAY, BROKER_REQUEST_NO, BROKER_COMM_FIRST_INSTM,POLICY_DESCRIPTION             
       ,SUSEP_LOB_CODE
  )                                                             
  VALUES(        
  @CUSTOMER_ID,@TEMP_POLICY_ID,@TEMP_POLICY_VERSION_ID,@APP_ID,@APP_VERSION_ID,@PARENT_APP_VERSION_ID,@POL_STATUS_STR,@APP_NUMBER,@APP_VERSION,              
  @APP_TERMS,@APP_INCEPTION_DATE,@APP_EFFECTIVE_DATE,@APP_EXPIRATION_DATE,@APP_LOB,@APP_SUBLOB,@CSR,@UNDERWRITER,@IS_UNDER_REVIEW,              
  @APP_AGENCY_ID,'Y',@CREATED_BY,GETDATE(),NULL,NULL,@COUNTRY_ID,@STATE_ID,@DIV_ID,              
  @DEPT_ID,@PC_ID,@BILL_TYPE,@BILL_TYPE_ID,@COMPLETE_APP,@PROPRTY_INSP_CREDIT,@INSTALL_PLAN_ID,@CHARGE_OFF_PRMIUM,              
  @RECEIVED_PRMIUM,@PROXY_SIGN_OBTAINED,@POLICY_TYPE,NULL,NULL,@YEAR_AT_CURR_RESI,@YEARS_AT_PREV_ADD,              
  NULL,NULL,--@APP_NUMBER,--SUBSTRING(@APP_NUMBER,1,(LEN(@APP_NUMBER)-3)),
  CONVERT(VARCHAR,@TEMP_POLICY_VERSION_ID) + '.0' ,@APP_EFFECTIVE_DATE,@APP_EXPIRATION_DATE,@PIC_OF_LOC,@IS_HOME_EMP                                                                             
  ,@APP_EFFECTIVE_DATE,@APP_EXPIRATION_DATE,@DOWN_PAY_MODE,1,NULL,NULL,@PRODUCER,@APPLY_INSURANCE_SCORE,      
  @CUSTOMER_REASON_CODE,@CUSTOMER_REASON_CODE2,@CUSTOMER_REASON_CODE3,@CUSTOMER_REASON_CODE4,  
  @POLICY_CURRENCY, @PAYOR, @CO_INSURANCE, @POLICY_LEVEL_COMISSION, @BILLTO, @CONTACT_PERSON,
  @POLICY_LEVEL_COMM_APPLIES, @TRANSACTION_TYPE, @PREFERENCE_DAY, @BROKER_REQUEST_NO, @BROKER_COMM_FIRST_INSTM, @POLICY_DESCRIPTION--,  @REMARKS)                   
   ,@PRODUCT_SUSEP_NUMBER)
   INSERT INTO POL_APPLICANT_LIST                                                                               
   (                                                                                                          
		POLICY_ID,POLICY_VERSION_ID,CUSTOMER_ID, APPLICANT_ID,CREATED_BY,CREATED_DATETIME,IS_PRIMARY_APPLICANT                
   )   
   VALUES                                                                                                         
   (@TEMP_POLICY_ID,@TEMP_POLICY_VERSION_ID,@CUSTOMER_ID,@APPLICANT_ID,@CREATED_BY,GETDATE(),@IS_PRIMARY_APPLICANT)                
      
  SET @POLICY_ID = @TEMP_POLICY_ID         
            
END 
GO

