IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_REIN_UPDATE_SPECIALACCEPTANCEAMOUNT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[MNT_REIN_UPDATE_SPECIALACCEPTANCEAMOUNT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



/*  
CREATED BY   : Deepak Batra  
CREATED DATE  : 16 Jan 2006  
Purpose   : To implement the update on the Contract Name Screen  
*/ 
--drop PROCEDURE [dbo].[MNT_REIN_UPDATE_SPECIALACCEPTANCEAMOUNT] 
CREATE PROCEDURE [dbo].[MNT_REIN_UPDATE_SPECIALACCEPTANCEAMOUNT]  
(  
 @SPECIAL_ACCEPTANCE_LIMIT_ID int ,  
 @SPECIAL_ACCEPTANCE_LIMIT     nvarchar(50),
 @EFFECTIVE_DATE DATETIME,
 @LOB_ID SMALLINT,
 @MODIFIED_BY INT,      
 @LAST_UPDATED_DATETIME DATETIME      
         
)  
AS  
BEGIN  
 UPDATE MNT_REIN_SPECIAL_ACCEPTANCE_AMOUNT  
  
 SET  SPECIAL_ACCEPTANCE_LIMIT = @SPECIAL_ACCEPTANCE_LIMIT ,
	EFFECTIVE_DATE =@EFFECTIVE_DATE,
	LOB_ID = @LOB_ID,
 	MODIFIED_BY=@MODIFIED_BY,      
 	LAST_UPDATED_DATETIME=@LAST_UPDATED_DATETIME   
   
 WHERE    
 SPECIAL_ACCEPTANCE_LIMIT_ID = @SPECIAL_ACCEPTANCE_LIMIT_ID  
END  







GO

