IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_Report_PPNG]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_Report_PPNG]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO




CREATE PROC [dbo].[Proc_Report_PPNG]        
(        
 @SELECTED_DATE DATETIME  
)        
AS        
BEGIN        
 DECLARE @MONTH_START_DATE DATETIME  
 DECLARE @END_DATE   DATETIME  
 DECLARE @DAILY_PPNG DECIMAL(25,8)  
   
 DECLARE @TEMP_DATE TABLE (DATE_COMPARED DATE)   
  
 SET @MONTH_START_DATE = (SELECT CONVERT(VARCHAR(25),DATEADD(dd,-(DAY(@SELECTED_DATE)-1),@SELECTED_DATE),101))  
 SET @END_DATE = @SELECTED_DATE  
  
 WHILE (@END_DATE >= @MONTH_START_DATE)  
 BEGIN  
  INSERT INTO @TEMP_DATE VALUES (@MONTH_START_DATE)  
  SET @MONTH_START_DATE = DATEADD(DD, 1, @MONTH_START_DATE)  
 END  
  
 SELECT   
  TD.DATE_COMPARED, CPL.CUSTOMER_ID, CPL.POLICY_ID, CPL.POLICY_VERSION_ID, CPL.POLICY_NUMBER, CPL.CO_INSURANCE,   
  CPL.POLICY_EFFECTIVE_DATE, CPL.POLICY_EXPIRATION_DATE,  
  DATEDIFF(DD, POLICY_EFFECTIVE_DATE, POLICY_EXPIRATION_DATE) AS TOTAL_TERM,   
  DATEDIFF(DD, POLICY_EFFECTIVE_DATE, TD.DATE_COMPARED) AS ELAPSED_TERM,  
  DATEDIFF(DD, POLICY_EFFECTIVE_DATE, POLICY_EXPIRATION_DATE) - DATEDIFF(DD, POLICY_EFFECTIVE_DATE, TD.DATE_COMPARED) AS TIME_TO_ELAPSE,  
  PIPD.TOTAL_PREMIUM, SUM(ISNULL(PCBP.INSTALLMENT_AMOUNT, 0)) * -1 AS COI_PREMIUM, SUM(ISNULL(RI.REINSURANCE_COMMISSION, 0)) AS RI_PREMIUM,  
  CASE CO_INSURANCE   
   WHEN 14547 THEN PIPD.TOTAL_PREMIUM - SUM(ISNULL(RI.REINSURANCE_COMMISSION, 0))                --DIRECT  
   WHEN 14548 THEN PIPD.TOTAL_PREMIUM - (SUM(ISNULL(PCBP.INSTALLMENT_AMOUNT, 0)) * -1) - SUM(ISNULL(RI.REINSURANCE_COMMISSION, 0))    --LEADER  
   WHEN 14549 THEN SUM(ISNULL(PCBP.INSTALLMENT_AMOUNT, 0)) - SUM(ISNULL(RI.REINSURANCE_COMMISSION, 0))           --FOLLOWER  
  END AS COMMERCIAL_PREMIUM   
 INTO #TEMP_POLICY_PREMIUM  
 FROM   
  POL_CUSTOMER_POLICY_LIST CPL WITH(NOLOCK)  
 INNER JOIN   
  @TEMP_DATE TD ON (TD.DATE_COMPARED >= POLICY_EFFECTIVE_DATE AND TD.DATE_COMPARED <= POLICY_EXPIRATION_DATE)  
  INNER JOIN  
  POL_POLICY_PROCESS PP WITH(NOLOCK) ON (PP.CUSTOMER_ID = CPL.CUSTOMER_ID AND PP.POLICY_ID = CPL.POLICY_ID AND PP.NEW_POLICY_VERSION_ID = CPL.POLICY_VERSION_ID 
  and PP.COMPLETED_DATETIME <= TD.DATE_COMPARED)
	--AND  PP.POLICY_CURRENT_STATUS IN ('NORMAL', 'RENEWED'))  
 INNER JOIN  
  ACT_POLICY_INSTALL_PLAN_DATA PIPD WITH(NOLOCK) ON (PIPD.CUSTOMER_ID = CPL.CUSTOMER_ID AND PIPD.POLICY_ID = CPL.POLICY_ID AND PIPD.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID)   
 LEFT JOIN  
  ACT_POLICY_CO_BILLING_DETAILS PCBP WITH(NOLOCK) ON (PCBP.CUSTOMER_ID = PIPD.CUSTOMER_ID AND PCBP.POLICY_ID = PIPD.POLICY_ID AND PCBP.POLICY_VERSION_ID = PIPD.POLICY_VERSION_ID)  
 LEFT JOIN  
  POL_REINSURANCE_INFO RI WITH(NOLOCK) ON (RI.CUSTOMER_ID = CPL.CUSTOMER_ID AND RI.POLICY_ID = CPL.POLICY_ID AND RI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID)  
 --WHERE   	
 -- CPL.POLICY_STATUS IN ('NORMAL')   and
 --  CPL.CUSTOMER_ID = 2727  
 --  AND CPL.POLICY_ID IN ( 167  , 173)
 GROUP BY  
  TD.DATE_COMPARED, CPL.CUSTOMER_ID, CPL.POLICY_ID, CPL.POLICY_VERSION_ID, CPL.POLICY_NUMBER, CPL.CO_INSURANCE, PIPD.TOTAL_PREMIUM,   
  CPL.POLICY_EFFECTIVE_DATE, CPL.POLICY_EXPIRATION_DATE  
  
	
	 SELECT 
		DATE_COMPARED, CUSTOMER_ID, POLICY_ID, MAX(POLICY_VERSION_ID) AS POLICY_VERSION_ID
	INTO 
		#TEMP_DUPLICATE
	FROM	
		#TEMP_POLICY_PREMIUM	
	GROUP BY
		DATE_COMPARED, CUSTOMER_ID, POLICY_ID
	--HAVING 
	--	COUNT(DATE_COMPARED) > 1
		
  
 --SELECT THE DAILY PPNG VALUE WHICH IS THE SUM OF LAST DAY PPNG  
 SELECT   
  @DAILY_PPNG = SUM((COMMERCIAL_PREMIUM * TIME_TO_ELAPSE) / TOTAL_TERM)   
 FROM   
  #TEMP_POLICY_PREMIUM  
 WHERE  
  DATEDIFF(DD, DATE_COMPARED, @END_DATE) = 0  
    
    --select * from #TEMP_DUPLICATE
    
 SELECT   
  #TEMP_POLICY_PREMIUM.DATE_COMPARED, #TEMP_POLICY_PREMIUM.CUSTOMER_ID, #TEMP_POLICY_PREMIUM.POLICY_ID, #TEMP_POLICY_PREMIUM.POLICY_VERSION_ID, 
  POLICY_NUMBER, POLICY_EFFECTIVE_DATE, POLICY_EXPIRATION_DATE,   
  TOTAL_TERM, TIME_TO_ELAPSE, TOTAL_PREMIUM,  COI_PREMIUM,  RI_PREMIUM, COMMERCIAL_PREMIUM,
  PPNG = (COMMERCIAL_PREMIUM * TIME_TO_ELAPSE) / TOTAL_TERM, @DAILY_PPNG AS DAILY_PPNG  
 FROM   
  #TEMP_POLICY_PREMIUM
  INNER JOIN
  #TEMP_DUPLICATE ON (
			#TEMP_DUPLICATE.DATE_COMPARED =				#TEMP_POLICY_PREMIUM.DATE_COMPARED AND 
			#TEMP_DUPLICATE.CUSTOMER_ID =				#TEMP_POLICY_PREMIUM.CUSTOMER_ID AND 
			#TEMP_DUPLICATE.POLICY_ID =					#TEMP_POLICY_PREMIUM.POLICY_ID AND
			#TEMP_DUPLICATE.POLICY_VERSION_ID =			#TEMP_POLICY_PREMIUM.POLICY_VERSION_ID )
														
 WHERE  
  COMMERCIAL_PREMIUM <> 0 AND  
  POLICY_NUMBER <> ''  
  
  
  
 
  
 DROP TABLE #TEMP_POLICY_PREMIUM  
 DROP TABLE #TEMP_DUPLICATE
  END

 





GO

