IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetAttachmentByID]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetAttachmentByID]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


--drop PROCEDURE Proc_GetAttachmentByID 333 
CREATE  PROCEDURE Proc_GetAttachmentByID  
(  
 @ATTACH_ID Int  
)  
  
As  
  
SELECT   
 ATTACH_ID,  
 ATTACH_LOC,      
 ATTACH_ENT_ID,     
 ATTACH_FILE_NAME,     
 ATTACH_DATE_TIME,     
 ATTACH_USER_ID ,    
 ATTACH_FILE_DESC,     
 ATTACH_POLICY_ID,    
 ATTACH_POLICY_VER_TRACKING_ID,  
 ATTACH_GEN_FILE_NAME,     
 ATTACH_FILE_TYPE,     
 ATTACH_ENTITY_TYPE,  
 ISNULL(ATTACH_TYPE,0) AS ATTACH_TYPE,  
 CONVERT(VARCHAR(10),ATTACH_ID) + '.' + ATTACH_FILE_TYPE as FILE_FULL_NAME    
     
FROM MNT_ATTACHMENT_LIST  
WHERE ATTACH_ID = @ATTACH_ID  
  
  
  
  
  



GO

