IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_InsertPenhorRuralInfo]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_InsertPenhorRuralInfo]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Pradeep Kushwaha>
-- Create date: <20-Dec-2010>
-- Description:	< insert data into POL_PENHOR_RURAL_INFO>
-- drop proc Proc_InsertPenhorRuralInfo
-- ============================================= 
CREATE PROC [dbo].[Proc_InsertPenhorRuralInfo]           
(                
@CUSTOMER_ID INT,
@POLICY_ID INT,
@POLICY_VERSION_ID SMALLINT,
@PENHOR_RURAL_ID INT OUT,
@ITEM_NUMBER INT,
@FESR_COVERAGE INT,
@MODE INT,
@PROPERTY INT,
@CULTIVATION INT,
@CITY NVARCHAR(250),
@STATE_ID INT,
@INSURED_AREA INT,
@SUBSIDY_PREMIUM DECIMAL(18,2), 
@SUBSIDY_STATE INT=NULL,
@IS_ACTIVE NCHAR(1), 
@CREATED_BY INT,
@CREATED_DATETIME DATETIME ,
@REMARKS NVARCHAR(4000)=NULL,
@ORIGINAL_VERSION_ID INT=NULL,
@EXCEEDED_PREMIUM INT = NULL 
)                    
AS                    
BEGIN  

DECLARE  @CO_APPLICANT_ID INT   --- changes by praveer for TFS# 726
SELECT @CO_APPLICANT_ID=APPLICANT_ID FROM POL_APPLICANT_LIST  WITH(NOLOCK)       
  WHERE IS_PRIMARY_APPLICANT=1 AND  CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID =@POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID
     
        
    IF NOT EXISTS(SELECT ITEM_NUMBER FROM POL_PENHOR_RURAL_INFO WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID AND ITEM_NUMBER=@ITEM_NUMBER)
    BEGIN
	   SELECT  @PENHOR_RURAL_ID=ISNULL(MAX(PENHOR_RURAL_ID),0)+1 FROM POL_PENHOR_RURAL_INFO WITH (NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID =@POLICY_ID          
	       
	   INSERT INTO POL_PENHOR_RURAL_INFO                   
		  (                    
			CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,PENHOR_RURAL_ID,
			ITEM_NUMBER,FESR_COVERAGE,
			MODE,PROPERTY,CULTIVATION,
			CITY,STATE_ID,INSURED_AREA,
			SUBSIDY_PREMIUM,SUBSIDY_STATE,
			IS_ACTIVE,CREATED_BY,CREATED_DATETIME ,REMARKS,ORIGINAL_VERSION_ID,CO_APPLICANT_ID, EXCEEDED_PREMIUM  ) --- changes by praveer for TFS# 726
			                  
		  VALUES                    
		  (                    
			@CUSTOMER_ID ,@POLICY_ID ,@POLICY_VERSION_ID ,@PENHOR_RURAL_ID ,
			@ITEM_NUMBER ,@FESR_COVERAGE ,@MODE ,@PROPERTY ,
			@CULTIVATION ,@CITY ,@STATE_ID ,
			@INSURED_AREA ,@SUBSIDY_PREMIUM ,
			@SUBSIDY_STATE ,@IS_ACTIVE , @CREATED_BY ,@CREATED_DATETIME,@REMARKS,@ORIGINAL_VERSION_ID ,@CO_APPLICANT_ID,  @EXCEEDED_PREMIUM     --- changes by praveer for TFS# 726    
		  )      
	      
		  EXEC Proc_SaveProductDefaultCoverages          
		   @CUSTOMER_ID ,    
		   @POLICY_ID  ,    
		   @POLICY_VERSION_ID,    
		   @PENHOR_RURAL_ID ,    
		   @CREATED_BY     
	      
		RETURN 1    
    END
   ELSE
	RETURN -10
END 
GO

