IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_GETDISTRIBUTIONFORTEMPCHECKS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_GETDISTRIBUTIONFORTEMPCHECKS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


--13/9/2005
--Ajit singh Chahal
CREATE PROCEDURE PROC_GETDISTRIBUTIONFORTEMPCHECKS
AS
BEGIN
SELECT GROUP_ID AS CHECK_ID,SUM(DISTRIBUTION_AMOUNT) AS AMOUNT,
(SELECT CHECK_AMOUNT FROM TEMP_ACT_CHECK_INFORMATION WHERE CHECK_ID=TEM.GROUP_ID) as CHECK_AMOUNT
FROM  TEMP_ACT_DISTRIBUTION_DETAILS TEM GROUP BY GROUP_ID
END


GO

