IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_DeleteApplication_ALL]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_DeleteApplication_ALL]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


--DROP PROCEDURE Proc_DeleteApplication_ALL          
CREATE    PROCEDURE Proc_DeleteApplication_ALL          
(          
@deleteTransaction nchar(1) = 'N'          
)          
AS          
BEGIN          
RETURN 0        
  DELETE FROM APP_ADD_OTHER_INT          
 --DELETE FROM APP_EXPIRY_DATES          
 DELETE FROM APP_HOME_OWNER_ADD_INT          
 DELETE FROM APP_PRIOR_CARRIER_INFO          
 DELETE FROM APP_PRIOR_LOSS_INFO          
 DELETE FROM APP_UMBRELLA_EMPLOYMENT_INFO          
 DELETE FROM APP_WATERCRAFT_COV_ADD_INT          
 DELETE FROM APP_WATERCRAFT_ENG_ADD_INT          
 DELETE FROM APP_WATERCRAFT_TRAILER_ADD_INT          
          
 DELETE FROM APP_WATERCRAFT_TRAILER_INFO          
 DELETE FROM APP_HOME_OWNER_FIRE_PROT_CLEAN          
 --DELETE FROM APP_COVERAGES          
          
 DELETE FROM APP_WATERCRAFT_ENGINE_INFO          
 DELETE FROM APP_SUB_LOCATIONS          
 DELETE FROM APP_LOCATIONS          
 DELETE FROM APP_HOME_OWNER_UNIT_CLEARANCE          
 DELETE FROM APP_HOME_OWNER_CHIMNEY_STOVE          
 DELETE FROM APP_HOME_OWNER_SOLID_FUEL          
 DELETE FROM APP_HOME_OWNER_PER_ART_GEN_INFO          
 DELETE FROM APP_AUTO_APPLICANT_DETAILS          
 DELETE FROM APP_UMBRELLA_GEN_INFO          
 DELETE FROM APP_WATERCRAFT_COVERAGE_INFO          
 DELETE FROM APP_WATERCRAFT_INFO          
 DELETE FROM APP_WATERCRAFT_GEN_INFO          
 DELETE FROM APP_UMBRELLA_POL_INFO_OTHER          
 DELETE FROM APP_UMBRELLA_REAL_ESTATE_SUB_LOC          
 DELETE FROM APP_UMBRELLA_REAL_ESTATE_LOCATION          
 DELETE FROM APP_HOME_OWNER_SCH_ITEMS_CVGS          
 DELETE FROM APP_HOME_OWNER_GEN_INFO          
 DELETE FROM APP_DRIVER_DISCOUNTS          
 DELETE FROM APP_DRIVER_DETAILS          
 DELETE FROM APP_WATERCRAFT_EQUIP_DETAILLS          
 DELETE FROM APP_UMBRELLA_VEHICLE_COV_IFNO           
 DELETE FROM APP_UMBRELLA_VEHICLE_INFO          
 DELETE FROM APP_HOME_CONSTRUCTION_INFO          
 DELETE FROM APP_HOME_RATING_INFO          
 DELETE FROM APP_SQR_FOOT_IMPROVEMENTS          
 DELETE FROM APP_PROTECT_DEVICES          
 DELETE FROM APP_DWELLING_COVERAGE          
 DELETE FROM APP_DWELLINGS_INFO          
 DELETE FROM APP_AUTO_ID_CARD_INFO 
 DELETE FROM APP_MISCELLANEOUS_EQUIPMENT_VALUES         
 DELETE FROM APP_VEHICLE_COVERAGES          
 DELETE FROM APP_VEHICLES          
 DELETE FROM APP_WATERCRAFT_ASSIGN_VEHICLE          
 DELETE FROM APP_WATERCRAFT_DRIVER_DISCOUNTS          
 DELETE FROM APP_WATERCRAFT_DRIVER_DETAILS          
          
 DELETE FROM APP_UMBRELLA_LIMITS          
 DELETE FROM APP_UMBRELLA_WATERCRAFT_COVERAGE_INFO          
 DELETE FROM APP_UMBRELLA_WATERCRAFT_INFO          
 DELETE FROM APP_PKG_LOB_DETAILS          
 DELETE FROM APP_HOME_OWNER_SUB_INSU          
 DELETE FROM APP_HOME_OWNER_RECREATIONAL_VEHICLES_COVERAGES          
 DELETE FROM APP_HOME_OWNER_RECREATIONAL_VEHICLES          
 --DELETE FROM APP_HOME_APPLICANT_DETAILS          
 DELETE FROM APP_AUTO_GEN_INFO          
 DELETE FROM APP_ASSIGN_VEHICLE          
 DELETE FROM APP_BILLING_INFO          
 DELETE FROM APP_LIST          
          
 -- delete transaction log data          
 if( @deleteTransaction = 'Y')          
 begin          
  DELETE FROM MNT_TRANSACTION_XML          
  WHERE TRANS_ID IN          
  (          
   SELECT TRANS_ID          
   FROM  MNT_TRANSACTION_LOG          
   WHERE APP_ID IS NOT NULL OR          
    APP_ID <> 0          
  )          
          
  DELETE FROM  MNT_TRANSACTION_LOG          
  WHERE APP_ID IS NOT NULL OR          
   APP_ID <> 0          
 end          
END          
          
          
          
          
        
      
    
  



GO

