IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_PAGNET_GET_RECORD_STATUS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_PAGNET_GET_RECORD_STATUS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [dbo].[PROC_PAGNET_GET_RECORD_STATUS]
AS 
BEGIN

SELECT DISTINCT PORT_DESCRIPTION,ENG_DESCRIPTION FROM PAGNET_INTERFACE_CODES WHERE PAYMENT_METHOD_CODE IS NOT NULL  
UNION   
SELECT 'Re-enviado para Pagnet'PORT_DESCRIPTION,'Re-sent to Pagnet'ENG_DESCRIPTION  --Comment Added by Aditya for TFS Bug # 867
UNION   
SELECT 'Registro Gerado'PORT_DESCRIPTION,'Record Generated'ENG_DESCRIPTION   --Comment Added by Aditya for TFS Bug # 867
END


GO

