IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_SAVE_REINSURANCE_BREAKDOWN_DETAILS_WAT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_SAVE_REINSURANCE_BREAKDOWN_DETAILS_WAT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------------
Object			: Proc_SAVE_REINSURANCE_BREAKDOWN_DETAILS_WAT  
Created By		: Pravesh K Chandel
Created Date	:20 March 2009
Purpose			: For Reinsurance BreakDown Reoprt for Water
Used in			:Wolverine
---------------------------------------------------------*/
--DROP PROC Proc_SAVE_REINSURANCE_BREAKDOWN_DETAILS_WAT
CREATE PROC [dbo].[Proc_SAVE_REINSURANCE_BREAKDOWN_DETAILS_WAT]
(
@MONTH INT,
@YEAR INT
)
AS

DELETE FROM POL_REINSURANCE_BREAKDOWN_DETAILS WHERE MONTH_NUMBER=@MONTH AND YEAR_NUMBER=@YEAR AND LOB_ID=4;

WITH PRIMARY_TABLE
AS
(
SELECT PCPL.CUSTOMER_ID,PCPL.POLICY_ID,PCPL.POLICY_VERSION_ID,PCPL.POLICY_NUMBER,
	ISNULL(T2.FIRST_NAME,'') + ' ' + ISNULL(T2.MIDDLE_NAME,'') + ' ' + ISNULL(T2.LAST_NAME,'') INSURED_NAME,  
	ISNULL(T2.ADDRESS1,'')  + ' ' + ISNULL(T2.ADDRESS2,'') ADDRESS,T2.CITY,T2.ZIP_CODE,  
	CONVERT(VARCHAR,PCPL.APP_EFFECTIVE_DATE,101) APP_EFFECTIVE_DATE, MLM.LOB_DESC,MCSL.STATE_NAME as STATE_DESC ,
	CONVERT(VARCHAR,PCPL.APP_EXPIRATION_DATE,101) APP_EXPIRATION_DATE,
	case  isnull(PCPL.REINS_SPECIAL_ACPT,10964) when 10963 then 'Yes' else 'No' end as REINS_SPECIAL_ACPT,
	POLICY_LOB as LOB_ID,CURRENT_TERM,APP_TERMS,CONVERT(VARCHAR,PR.COMPLETED_DATETIME,101) as TRAN_DATE, 
	ISNULL(CONVERT(VARCHAR,PR.EFFECTIVE_DATETIME,101),'') + CASE WHEN PR.EXPIRY_DATE IS NOT NULL THEN '-' + ISNULL(CONVERT(VARCHAR,PR.EXPIRY_DATE,101),'') 
	ELSE '' END AS TRAN_EFF_DATE,
	PR.PROCESS_ID,  
	 CASE PR.PROCESS_ID   
	   WHEN 25  THEN 'New Business'  
	   WHEN 14  THEN 'Endorsement'  
	   WHEN 12     THEN 'Cancellation'  
	   WHEN 16     THEN 'Reinstatement'  
	   WHEN 18     THEN 'Renewal'  
	   WHEN 29     THEN 'Rescind'  
	   WHEN 32  THEN 'Rewrite'  
	   WHEN 37  THEN 'Revert back'  
	  END  AS TRAN_DESC 
FROM POL_CUSTOMER_POLICY_LIST PCPL with(nolock)  
INNER JOIN POL_APPLICANT_LIST CCL  with(nolock)  
	ON CCL.CUSTOMER_ID=PCPL.CUSTOMER_ID
	AND CCL.POLICY_ID=PCPL.POLICY_ID AND CCL.POLICY_VERSION_ID=PCPL.POLICY_VERSION_ID                               
LEFT OUTER JOIN	CLT_APPLICANT_LIST T2 with(nolock)  on  CCL.CUSTOMER_ID=T2.CUSTOMER_ID and CCL.APPLICANT_ID = T2.APPLICANT_ID
LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST MCSL with(nolock) 
	ON   PCPL.STATE_ID = MCSL.STATE_ID                                                          
LEFT OUTER JOIN MNT_LOB_MASTER MLM with(nolock) 
	ON PCPL.POLICY_LOB = MLM.LOB_ID
LEFT JOIN POL_POLICY_PROCESS PR WITH(NOLOCK) 
	ON PR.CUSTOMER_ID=PCPL.CUSTOMER_ID and PR.POLICY_ID=PCPL.POLICY_ID  
	AND case PR.NEW_POLICY_VERSION_ID when 0 then PR.POLICY_VERSION_ID else PR.NEW_POLICY_VERSION_ID end = PCPL.POLICY_VERSION_ID                                                                                 
WHERE CCL.IS_PRIMARY_APPLICANT  =1 AND T2.IS_ACTIVE='Y'AND PR.process_status='COMPLETE' AND POLICY_LOB = 4 
),

TMP_COV_PREMIUM_DETAILS
AS
(
  SELECT TT.PROCESS_TYPE,TT.cov_id,max(TT.COV_DES) as COV_DES ,sum(TT.POLICY_LIMITS) POLICY_LIMITS,TT.CUSTOMER_ID,
	TT.POLICY_ID,TT.POLICY_VERSION_ID as POLICY_VERSION_ID, TT.POLICY_NUMBER,TT.LOB_ID,TT.STATE_ID,TT.POLICY_EFFECTIVE_DATE,
    TT.POLICY_TERM,TT.CURRENT_TERM,TT.POLICY_TYPE,SUM(TT.COVERAGE_PREMIUM) AS COVERAGE_PREMIUM,TT.COMPONENT_CODE,
	ISNULL(max(TT.REINSURANCE_COV),0) COV_CATEGORY ,max(isnull(TT.REINSURANCE_CALC,0)) REINSURANCE_CALC,
	isnull(sum(isnull(EP.EARNED_PREMIUM,0)),0) as EARNED_PREMIUM,
	isnull(EP.MONTH_NUMBER,0) as MONTH_NUMBER,ISNULL(EP.YEAR_NUMBER,0) YEAR_NUMBER,
	CONVERT(VARCHAR,EP.MONTH_ELAPSED) + '/' + CONVERT(VARCHAR,TT.POLICY_TERM +1) AS COMPLETED
  FROM
	(
		SELECT C.PROCESS_TYPE,m.cov_id,C.CUSTOMER_ID,C.POLICY_ID,C.RISK_ID,C.RISK_TYPE,max(M.COV_DES) as COV_DES,
		sum( CASE WHEN ISNUMERIC(C.LIMIT)=0 THEN 0 ELSE CAST(replace(C.LIMIT,',','') AS NUMERIC) END )  POLICY_LIMITS,
		C.POLICY_VERSION_ID as POLICY_VERSION_ID,PCPL.POLICY_NUMBER,PCPL.POLICY_LOB AS LOB_ID,PCPL.STATE_ID AS STATE_ID,
		PCPL.APP_EFFECTIVE_DATE AS POLICY_EFFECTIVE_DATE,
		SUM(CASE WHEN ISNUMERIC(C.WRITTEN_PREM) = 0 THEN 0 ELSE cast(C.WRITTEN_PREM as numeric(12,2)) END) AS COVERAGE_PREMIUM,
	    C.COMPONENT_CODE AS COMPONENT_CODE,
		ISNULL(max(M.REINSURANCE_COV),0) REINSURANCE_COV ,max(isnull(M.REINSURANCE_CALC,0)) REINSURANCE_CALC,
		PCPL.APP_TERMS AS POLICY_TERM,
		PCPL.CURRENT_TERM AS CURRENT_TERM,
		ISNULL(PCPL.POLICY_TYPE,'0') AS POLICY_TYPE
		FROM VIEW_CLT_PREMIUM_SPLIT_DETAILS C  WITH(NOLOCK)      
		INNER JOIN POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK) 
			ON PCPL.CUSTOMER_ID		=	C.CUSTOMER_ID 
			AND PCPL.POLICY_ID		=	C.POLICY_ID 
			AND PCPL.POLICY_VERSION_ID=	C.POLICY_VERSION_ID

		LEFT OUTER JOIN POL_WATERCRAFT_INFO P with(nolock)        
			ON C.CUSTOMER_ID = P.CUSTOMER_ID       
			AND C.POLICY_ID = P.POLICY_ID       
			AND C.POLICY_VERSION_ID = P.POLICY_VERSION_ID       
			AND C.RISK_ID = P.BOAT_ID AND P.IS_ACTIVE = 'Y'       
		LEFT OUTER JOIN MNT_COVERAGE M  with(nolock)  
			ON CONVERT(VARCHAR,M.COV_ID) = C.COMP_EXT
			AND M.COMPONENT_CODE = C.COMPONENT_CODE
		WHERE isnull(M.REINSURANCE_LOB,'0')='10963' AND PCPL.POLICY_LOB = 4 
		group by C.CUSTOMER_ID,C.POLICY_ID,C.POLICY_VERSION_ID,PCPL.POLICY_NUMBER,C.RISK_ID,C.RISK_TYPE,C.PROCESS_TYPE,PCPL.POLICY_LOB,
		PCPL.STATE_ID, PCPL.APP_EFFECTIVE_DATE,PCPL.APP_TERMS,PCPL.CURRENT_TERM ,ISNULL(PCPL.POLICY_TYPE,'0'),	 
		C.COMPONENT_CODE,M.COV_ID
	) TT
		LEFT OUTER JOIN ACT_EARNED_PREMIUM EP WITH(NOLOCK) 
		on EP.CUSTOMER_ID=TT.CUSTOMER_ID AND EP.POLICY_ID=TT.POLICY_ID 
		AND EP.POLICY_TERM=TT.POLICY_TERM
		AND EP.RISK_ID=TT.RISK_ID 
		AND EP.RISK_TYPE=TT.RISK_TYPE 
		AND EP.CURRENT_TERM=TT.CURRENT_TERM
		AND EP.STATE_ID=TT.STATE_ID
		AND CONVERT(VARCHAR,EP.COVERAGEID)=CONVERT(VARCHAR,TT.COV_ID)
		AND TT.LOB_ID=4
		where  EP.MONTH_NUMBER=@MONTH AND EP.YEAR_NUMBER=@YEAR
		group by TT.CUSTOMER_ID,TT.POLICY_ID,TT.POLICY_VERSION_ID,TT.POLICY_NUMBER,TT.PROCESS_TYPE,TT.LOB_ID,TT.STATE_ID,
		TT.POLICY_EFFECTIVE_DATE,TT.POLICY_TERM,TT.CURRENT_TERM,TT.POLICY_TYPE,TT.COMPONENT_CODE,TT.cov_id,
		EP.MONTH_NUMBER,EP.YEAR_NUMBER,EP.MONTH_ELAPSED

UNION

	SELECT DISTINCT C.PROCESS_TYPE,M.COV_ID,M.COV_DES as COV_DES ,SUM(CASE WHEN ISNUMERIC(C.LIMIT)=0 THEN 0 ELSE CAST(replace(C.LIMIT,',','') AS NUMERIC) END) AS POLICY_LIMITS,
	EP.CUSTOMER_ID AS CUSTOMER_ID,
   	EP.POLICY_ID AS POLICY_ID,PCPL.POLICY_VERSION_ID as POLICY_VERSION_ID,PCPL.POLICY_NUMBER,M.LOB_ID,M.STATE_ID,
	EP.POLICY_EFFECTIVE_DATE AS POLICY_EFFECTIVE_DATE,
    EP.POLICY_TERM AS POLICY_TERM, EP.CURRENT_TERM AS CURRENT_TERM,ISNULL(PCPL.POLICY_TYPE,'0') as POLICY_TYPE,
	SUM(CASE WHEN ISNUMERIC(C.WRITTEN_PREM) = 0 THEN 0 ELSE cast(C.WRITTEN_PREM as numeric(12,2)) END) AS COVERAGE_PREMIUM,
	C.COMPONENT_CODE,ISNULL(MAX(M.REINSURANCE_COV),0) REINSURANCE_COV ,MAX(isnull(M.REINSURANCE_CALC,0)) REINSURANCE_CALC,
	isnull(sum(isnull(EP.EARNED_PREMIUM,0)),0) as EARNED_PREMIUM,
	EP.MONTH_NUMBER as MONTH_NUMBER,
	EP.YEAR_NUMBER  AS YEAR_NUMBER,
	CONVERT(VARCHAR,isnull(EP.MONTH_ELAPSED,0)) + '/' + CONVERT(VARCHAR,isnull(EP.POLICY_TERM,0) +1) AS COMPLETED
	FROM VIEW_CLT_PREMIUM_SPLIT_DETAILS C with(nolock)                
	inner join MNT_COVERAGE_EXTRA M WITH(NOLOCK) 
		ON CONVERT(VARCHAR,M.COV_ID) = C.COMP_EXT
		AND M.COMPONENT_CODE = C.COMPONENT_CODE
	INNER JOIN POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK) 
		ON PCPL.POLICY_LOB		=	M.LOB_ID 
		AND PCPL.STATE_ID		=	M.STATE_ID 
		AND C.CUSTOMER_ID		=	PCPL.CUSTOMER_ID 
		AND C.POLICY_ID			=	PCPL.POLICY_ID 
		AND C.POLICY_VERSION_ID	=	PCPL.POLICY_VERSION_ID
		AND PCPL.POLICY_LOB=4
	LEFT OUTER JOIN ACT_EARNED_PREMIUM EP WITH(NOLOCK) 
		on EP.CUSTOMER_ID	=C.CUSTOMER_ID 
		AND EP.POLICY_ID	=C.POLICY_ID 
		AND EP.POLICY_TERM	=PCPL.APP_TERMS AND EP.CURRENT_TERM=PCPL.CURRENT_TERM
		AND EP.VERSION_FOR_RISK=C.POLICY_VERSION_ID
		AND EP.RISK_ID			=C.RISK_ID 
		AND EP.RISK_TYPE		=C.RISK_TYPE 
		AND CONVERT(VARCHAR,EP.COVERAGEID)=C.COMP_EXT 
		
	WHERE C.COMPONENT_CODE IS NOT NULL --AND ISNULL(M.REINSURANCE_LOB,0)=10963 
		AND EP.MONTH_NUMBER=@MONTH AND EP.YEAR_NUMBER=@YEAR
	group by C.PROCESS_TYPE,PCPL.POLICY_VERSION_ID,PCPL.POLICY_NUMBER,C.COMPONENT_CODE,M.COV_ID,EP.MONTH_NUMBER,EP.YEAR_NUMBER,
	EP.MONTH_ELAPSED,M.COV_DES,EP.CUSTOMER_ID,EP.POLICY_ID,M.LOB_ID,M.STATE_ID,EP.POLICY_EFFECTIVE_DATE,EP.POLICY_TERM,
	EP.CURRENT_TERM,ISNULL(PCPL.POLICY_TYPE,'0')
),

TMP_COV_PREMIUM_DETAILS_FINAL
AS
( 
	SELECT TMP.CUSTOMER_ID,TMP.POLICY_ID,TMP.POLICY_VERSION_ID,TMP.POLICY_NUMBER,TMP.PROCESS_TYPE,TMP.LOB_ID,TMP.STATE_ID,
	TMP.POLICY_EFFECTIVE_DATE,TMP.POLICY_TYPE,MAX(COV_ID) AS COV_ID,
    SUM(case when REINSURANCE_CALC IN (13048,14243,14242) then TMP.POLICY_LIMITS else 0 end) AS COV_LIMIT,
	SUM(TMP.COVERAGE_PREMIUM)  AS COV_PREMIUM,
	COV_CATEGORY,MAX(COMPONENT_CODE) AS COMPONENT_CODE,
	MAX(REINSURANCE_CALC) REINSURANCE_CALC,
	SUM(EARNED_PREMIUM) EARNED_PREMIUM,
	MONTH_NUMBER ,YEAR_NUMBER,COMPLETED
	FROM  TMP_COV_PREMIUM_DETAILS  TMP
    
	GROUP BY TMP.CUSTOMER_ID,TMP.POLICY_ID,TMP.POLICY_VERSION_ID,TMP.POLICY_NUMBER,TMP.PROCESS_TYPE,TMP.LOB_ID,TMP.STATE_ID,
	TMP.POLICY_EFFECTIVE_DATE,TMP.POLICY_TYPE,COV_CATEGORY,
     -- REINSURANCE_CALC,
     MONTH_NUMBER,YEAR_NUMBER,COMPLETED 
)
--INSERTING DATA OF THE MONTH AND YEAR
INSERT INTO POL_REINSURANCE_BREAKDOWN_DETAILS
(
CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,LOB_ID,STATE_ID,POLICY_NUMBER,INSURED_NAME,ADDRESS,CITY,ZIP_CODE,LOB_DESC,STATE_DESC,APP_EFFECTIVE_DATE,APP_EXPIRATION_DATE,REINS_SPECIAL_ACPT,
PROCESS_TRAN_DATE,TRAN_EFF_DATE,TRAN_DESC,MONTH_NUMBER,YEAR_NUMBER,SEQUENCE_NUMBER,COV_CATEGORY_ID,COMPLETED,STATEMENT_DATE,CONTRACT_NUMBER,PREMIUM_BASE,CONTRACT_YEAR,TOTAL_INS_VALUE,
TIV_GROUP,LAYER,LAYER_AMOUNT,REIN_LIMIT_FAB,COV_CATEGORY,TRAN_PREMIUM,EARNED,WRITTEN,CONSTRACTION,PROTECTION,CENTRAL_ALARM,NEW_HOME,HOME_AGE,DEDUCT_LAYER_1,DEDUCT_LAYER_2,RATE,REIN_PREMIUM,
COMM_PERCENTAGE,COMM_AMOUNT,NET_DUE,MAJOR_PARTICIPANT,RETENTION_PER,REIN_CEDED)

SELECT TMP.CUSTOMER_ID,TMP.POLICY_ID,TMP.POLICY_VERSION_ID,TMP.LOB_ID,TMP.STATE_ID,	
    TMP.POLICY_NUMBER,PT.INSURED_NAME,PT.ADDRESS,PT.CITY,PT.ZIP_CODE,PT.LOB_DESC, PT.STATE_DESC ,
	PT.APP_EFFECTIVE_DATE,PT.APP_EXPIRATION_DATE,PT.REINS_SPECIAL_ACPT,PT.TRAN_DATE AS PROCESS_TRAN_DATE,
	PT.TRAN_EFF_DATE,PT.TRAN_DESC,
	TMP.MONTH_NUMBER,TMP.YEAR_NUMBER,CONT.SEQUENCE_NUMBER,TMP.COV_CATEGORY AS COV_CATEGORY_ID,
	TMP.COMPLETED,
	CONVERT(VARCHAR,DATEADD(DD,-1,DATEADD(MM,1,CAST(CONVERT(VARCHAR,CASE WHEN ISNULL(TMP.MONTH_NUMBER, 0)=0 THEN MONTH(TMP.POLICY_EFFECTIVE_DATE)ELSE TMP.MONTH_NUMBER END) 
	+ '/01/' + CONVERT(VARCHAR,CASE WHEN ISNULL(TMP.YEAR_NUMBER, 0)=0 THEN YEAR(TMP.POLICY_EFFECTIVE_DATE)ELSE TMP.YEAR_NUMBER END) AS DATETIME))),101) AS STATEMENT_DATE,
	CONT.CONTRACT_NUMBER AS CONTRACT_NUMBER ,LK.LOOKUP_VALUE_DESC AS PREMIUM_BASE,CONTACT_YEAR as CONTRACT_YEAR,
	cast(TMP.COV_LIMIT as numeric) TOTAL_INS_VALUE,ISNULL(TIV.REIN_TIV_GROUP_CODE,'') AS  TIV_GROUP,LYR.LAYER LAYER,
	cast(replace(LYR.LAYER_AMOUNT,',','') as numeric) AS LAYER_AMOUNT,'' REIN_LIMIT_FAB,LK1.LOOKUP_VALUE_DESC COV_CATEGORY,
	TMP.COV_PREMIUM TRAN_PREMIUM,
	CASE WHEN LK.LOOKUP_UNIQUE_ID = 11563 THEN TMP.EARNED_PREMIUM ELSE cast(TMP.COV_PREMIUM as numeric(10,2)) END EARNED,
	null WRITTEN,
	'' CONSTRACTION,
	'' PROTECTION,
	'' CENTRAL_ALARM,  
	'' NEW_HOME, 
	'' HOME_AGE,'' DEDUCT_LAYER_1,'' DEDUCT_LAYER_2,
	ISNULL(BLD.RATE_APPLIED,0) RATE,
	cast(CASE WHEN LK.LOOKUP_UNIQUE_ID = 11563 THEN TMP.EARNED_PREMIUM ELSE cast(TMP.COV_PREMIUM as numeric(10,2)) END * ISNULL(BLD.RATE_APPLIED,0) * 0.01 as numeric(10,2)) REIN_PREMIUM, 
	CONT.COMMISSION COMM_PERCENTAGE, 
	cast((CASE WHEN LK.LOOKUP_UNIQUE_ID = 11563 THEN TMP.EARNED_PREMIUM ELSE cast(TMP.COV_PREMIUM as numeric(10,2)) END * ISNULL(BLD.RATE_APPLIED,0) * 0.01) * CONT.COMMISSION * 0.01 as numeric(10,2) )COMM_AMOUNT,
	cast((CASE WHEN LK.LOOKUP_UNIQUE_ID = 11563 THEN TMP.EARNED_PREMIUM ELSE cast(TMP.COV_PREMIUM as numeric(10,2)) END * ISNULL(BLD.RATE_APPLIED,0) * 0.01) - ((CASE WHEN LK.LOOKUP_UNIQUE_ID = 11563 
	THEN TMP.EARNED_PREMIUM ELSE cast(TMP.COV_PREMIUM as numeric(10,2)) END * ISNULL(BLD.RATE_APPLIED,0) * 0.01) * CONT.COMMISSION * 0.01) as numeric(10,2))NET_DUE, 
	dbo.fun_GetmajorParticipant(CONT.CONTRACT_ID) MAJOR_PARTICIPANT,
	LYR.RETENTION_PERCENTAGE RETENTION_PER,
	LYR.REIN_CEDED REIN_CEDED
	from MNT_REINSURANCE_CONTRACT CONT
	inner join MNT_REIN_CONTRACT_LOB LOB on CONT.CONTRACT_ID=LOB.CONTRACT_ID --AND LOB.CONTRACT_LOB=TMP.LOB_ID
	inner join MNT_REIN_CONTRACT_RISKEXPOSURE RSK on CONT.CONTRACT_ID=RSK.CONTRACT_ID
	inner join MNT_REIN_CONTRACT_STATE ST on CONT.CONTRACT_ID=ST.CONTRACT_ID --AND ST.STATE_ID=TMP.STATE_ID
	INNER JOIN MNT_LOOKUP_VALUES LK ON CONT.CALCULATION_BASE=LK.LOOKUP_UNIQUE_ID
	
	INNER JOIN MNT_REIN_LOSSLAYER LYR ON LYR.CONTRACT_ID=CONT.CONTRACT_ID
	LEFT OUTER JOIN  MNT_REIN_PREMIUM_BUILDER BLD ON BLD.CONTRACT_ID=CONT.CONTRACT_ID AND BLD.LAYER=LYR.LAYER
	inner join TMP_COV_PREMIUM_DETAILS_FINAL TMP on TMP.COV_CATEGORY=case dbo.instring(replace(BLD.COVERAGE_CATEGORY,',',' '),TMP.COV_CATEGORY) when 0 then 0 else TMP.COV_CATEGORY end
	AND LOB.CONTRACT_LOB=TMP.LOB_ID AND ST.STATE_ID=TMP.STATE_ID
	AND ISNULL(TMP.MONTH_NUMBER,0) <>0  AND ISNULL(TMP.YEAR_NUMBER,0)<>0
	INNER JOIN MNT_LOOKUP_VALUES LK1 ON TMP.COV_CATEGORY=LK1.LOOKUP_UNIQUE_ID
	--AND TMP.POLICY_EFFECTIVE_DATE between BLD.EFFECTIVE_DATE and BLD.EXPIRY_DATE  
	AND  DATEADD(DD,-1,DATEADD(MM,1,CAST(CONVERT(VARCHAR,CASE WHEN TMP.MONTH_NUMBER=0 THEN MONTH(GETDATE()) ELSE  TMP.MONTH_NUMBER END) 
		+ '/01/' + CONVERT(VARCHAR,CASE WHEN TMP.YEAR_NUMBER=0 THEN YEAR(GETDATE()) ELSE TMP.YEAR_NUMBER END ) AS DATETIME)))
	between BLD.EFFECTIVE_DATE and BLD.EXPIRY_DATE  
	
	LEFT OUTER JOIN MNT_REIN_TIV_GROUP TIV ON TIV.REIN_TIV_CONTRACT_NUMBER=CONT.CONTRACT_NUMBER 
	AND TMP.COV_LIMIT BETWEEN CAST(TIV.REIN_TIV_FROM AS MONEY) AND CAST(TIV.REIN_TIV_TO AS MONEY)
	AND TIV.REIN_TIV_EFFECTIVE_DATE <=TMP.POLICY_EFFECTIVE_DATE
	
	LEFT OUTER JOIN PRIMARY_TABLE PT ON
	PT.CUSTOMER_ID=TMP.CUSTOMER_ID AND PT.POLICY_ID=TMP.POLICY_ID AND PT.POLICY_VERSION_ID=TMP.POLICY_VERSION_ID 
	AND PT.LOB_ID=TMP.LOB_ID  

	where --TMP.POLICY_EFFECTIVE_DATE between CONT.EFFECTIVE_DATE and CONT.EXPIRATION_DATE 
	DATEADD(DD,-1,DATEADD(MM,1,CAST(CONVERT(VARCHAR,CASE WHEN TMP.MONTH_NUMBER=0 THEN MONTH(GETDATE()) ELSE  TMP.MONTH_NUMBER END) 
	+ '/01/' + CONVERT(VARCHAR,CASE WHEN TMP.YEAR_NUMBER=0 THEN YEAR(GETDATE()) ELSE TMP.YEAR_NUMBER END ) AS DATETIME)))
	between CONT.EFFECTIVE_DATE and CONT.EXPIRATION_DATE 
	
	AND 
    (TMP.COV_LIMIT >= (CASE CAST(REPLACE(BLD.TOTAL_INSURANCE_FROM,',','') AS NUMERIC) WHEN 0 THEN TMP.COV_LIMIT ELSE CAST(REPLACE(BLD.TOTAL_INSURANCE_FROM,',','') AS NUMERIC) END)
	AND 
	TMP.COV_LIMIT < (CASE CAST(REPLACE(BLD.TOTAL_INSURANCE_TO,',','') AS NUMERIC) WHEN 0 THEN TMP.COV_LIMIT +1  ELSE CAST(REPLACE(BLD.TOTAL_INSURANCE_TO,',','') AS NUMERIC) END) 
	)	
	and TMP.COV_PREMIUM<>0
	--order by TMP.MONTH_NUMBER,CONT.SEQUENCE_NUMBER,LYR.LAYER,LK1.LOOKUP_UNIQUE_ID 
	
 



GO

