IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_InsertExistingUmbrellaDriver]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_InsertExistingUmbrellaDriver]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
         
 /*----------------------------------------------------------        
Proc Name          : Dbo.Proc_InsertExistingUmbrellaDriver        
Created by           : Nidhi        
Date                    : 21/06/2005        
Purpose               :         
Revison History :        
Used In                :   Wolverine          
Modified By : Mohit Gupta        
Modified On : 29/09/2005        
Purpose  : While loop for generating unique driver code.         
Modified By : Sumit Chhabra      
Modified On : 11/30/2005                  
Purpose  : Modified Driver Code Generation Procedure     
  
Modified By : Sumit Chhabra      
Modified On : 22/12/2005                  
Purpose    : Added check to copy drivers's assigned vehicle and operator only when the driver belongs to current application  
  
Modified By : Ravindra
Modified On : 04-17-2006
Purpose     : Added Columns OP_VEHICLE_ID,OP_APP_VEHICLE_PRIN_OCC_ID,OP_DRIVER_COST_GAURAD_AUX  
------------------------------------------------------------        
Date     Review By          Comments        
------   ------------       -------------------------*/        
--drop proc Proc_InsertExistingUmbrellaDriver
CREATE  PROCEDURE Proc_InsertExistingUmbrellaDriver        
(        
 @TO_CUSTOMER_ID int,        
 @TO_APP_ID int,        
 @TO_APP_VERSION_ID int,        
 @FROM_CUSTOMER_ID int,        
 @FROM_APP_ID int,        
 @FROM_APP_VERSION_ID int,        
 @FROM_DRIVER_ID int,        
 @CREATED_BY_USER_ID  int           
)        
AS        
BEGIN        
Declare @To_Driver_Id int            
SELECT  @To_Driver_Id = ISNULL(MAX(DRIVER_ID),0) + 1        
FROM     APP_UMBRELLA_DRIVER_DETAILS         
WHERE  CUSTOMER_ID=@TO_CUSTOMER_ID        
AND         APP_ID=@TO_APP_ID        
AND         APP_VERSION_ID=@TO_APP_VERSION_ID           
        
        
DECLARE @DRIVERCODE VARCHAR(20)        
declare @LASTCHAR  VARCHAR(10)         
declare @FIRSTCHAR  VARCHAR(10)         
        
        
    
/*    
The earlier method to determine unique driver_code has been removed.      
Duplicacy is allowed but prevented using random number generator driver code introducted now      
    
    
SELECT @DRIVERCODE=DRIVER_CODE FROM APP_UMBRELLA_DRIVER_DETAILS WHERE DRIVER_ID=@FROM_DRIVER_ID         
        
WHILE (EXISTS (SELECT DRIVER_CODE FROM APP_UMBRELLA_DRIVER_DETAILS WHERE DRIVER_CODE=@DRIVERCODE))        
BEGIN        
 SET @LASTCHAR=RIGHT(@DRIVERCODE,1)         
 SET @ASCII = ASCII(@LASTCHAR)        
 -- if the last character is int then increment & replace the last char.           
 IF (@ASCII >= 48 AND @ASCII <= 57)--INT        
 BEGIN        
  SET @INCNUM=convert(int,@LASTCHAR) + 1        
  SET @LEN=LEN(@DRIVERCODE)        
  SET @CODE=SUBSTRING(@DRIVERCODE,0,@LEN)        
  SET @DRIVERCODE=@CODE+convert(varchar(2),@INCNUM)         
 END         
 ELSE --if the last char is char then concatenate 1 at the end.        
 BEGIN        
  SET @DRIVERCODE=@DRIVERCODE +'1'        
 END        
END        
 */       
    
SET @DRIVERCODE=CONVERT(INT,RAND()*50)          
          
SELECT @FIRSTCHAR=DRIVER_FNAME, @LASTCHAR=DRIVER_LNAME  FROM APP_UMBRELLA_DRIVER_DETAILS     
   WHERE   CUSTOMER_ID=@FROM_CUSTOMER_ID          
    AND         APP_ID=@FROM_APP_ID          
    AND         APP_VERSION_ID=@FROM_APP_VERSION_ID          
    AND         DRIVER_ID= @FROM_DRIVER_ID         
SET @DRIVERCODE=(SUBSTRING(@FIRSTCHAR,1,3) + SUBSTRING(@LASTCHAR,1,4) + @DRIVERCODE)     
    
if(@TO_CUSTOMER_ID=@FROM_CUSTOMER_ID and @TO_APP_ID=@FROM_APP_ID and @TO_APP_VERSION_ID=@FROM_APP_VERSION_ID)  
begin  
INSERT INTO APP_UMBRELLA_DRIVER_DETAILS        
(        
 CUSTOMER_ID,APP_ID,APP_VERSION_ID,DRIVER_ID,DRIVER_FNAME,DRIVER_MNAME,DRIVER_LNAME,DRIVER_CODE,DRIVER_SUFFIX,DRIVER_ADD1,        
 DRIVER_ADD2,DRIVER_CITY,DRIVER_STATE,DRIVER_ZIP,DRIVER_COUNTRY,DRIVER_HOME_PHONE,DRIVER_BUSINESS_PHONE,DRIVER_EXT,        
 DRIVER_MOBILE,DRIVER_DOB,DRIVER_SSN,DRIVER_MART_STAT,DRIVER_SEX,DRIVER_DRIV_LIC,DRIVER_LIC_STATE,DRIVER_LIC_CLASS,        
 DATE_EXP_START,DATE_LICENSED,DRIVER_REL,DRIVER_DRIV_TYPE,DRIVER_OCC_CODE,DRIVER_OCC_CLASS,DRIVER_DRIVERLOYER_NAME,        
 DRIVER_DRIVERLOYER_ADD,DRIVER_INCOME,DRIVER_BROADEND_NOFAULT,DRIVER_PHYS_MED_IMPAIRE,DRIVER_DRINK_VIOLATION,        
 DRIVER_PREF_RISK,DRIVER_GOOD_STUDENT,DRIVER_STUD_DIST_OVER_HUNDRED,DRIVER_LIC_SUSPENDED,DRIVER_VOLUNTEER_POLICE_FIRE,        
 DRIVER_US_CITIZEN,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,DRIVER_FAX,RELATIONSHIP,DRIVER_TITLE,      
 APP_VEHICLE_PRIN_OCC_ID,VEHICLE_ID ,OP_VEHICLE_ID,OP_APP_VEHICLE_PRIN_OCC_ID,OP_DRIVER_COST_GAURAD_AUX

       
)        
SELECT        
 @TO_CUSTOMER_ID,@TO_APP_ID,@TO_APP_VERSION_ID,@To_Driver_Id,DRIVER_FNAME,DRIVER_MNAME,DRIVER_LNAME,@DRIVERCODE,        
 DRIVER_SUFFIX,DRIVER_ADD1,DRIVER_ADD2,DRIVER_CITY,DRIVER_STATE,DRIVER_ZIP,DRIVER_COUNTRY,DRIVER_HOME_PHONE,        
 DRIVER_BUSINESS_PHONE,DRIVER_EXT,DRIVER_MOBILE,DRIVER_DOB,DRIVER_SSN,DRIVER_MART_STAT,DRIVER_SEX,DRIVER_DRIV_LIC,        
 DRIVER_LIC_STATE,DRIVER_LIC_CLASS,DATE_EXP_START,DATE_LICENSED,DRIVER_REL,DRIVER_DRIV_TYPE,DRIVER_OCC_CODE,        
 DRIVER_OCC_CLASS,DRIVER_DRIVERLOYER_NAME,DRIVER_DRIVERLOYER_ADD,DRIVER_INCOME,DRIVER_BROADEND_NOFAULT,        
 DRIVER_PHYS_MED_IMPAIRE,DRIVER_DRINK_VIOLATION,DRIVER_PREF_RISK,DRIVER_GOOD_STUDENT,DRIVER_STUD_DIST_OVER_HUNDRED,        
 DRIVER_LIC_SUSPENDED,DRIVER_VOLUNTEER_POLICE_FIRE,DRIVER_US_CITIZEN,'Y', @CREATED_BY_USER_ID,GETDATE(),        
 DRIVER_FAX,RELATIONSHIP,DRIVER_TITLE,      
 APP_VEHICLE_PRIN_OCC_ID,VEHICLE_ID,OP_VEHICLE_ID,OP_APP_VEHICLE_PRIN_OCC_ID,OP_DRIVER_COST_GAURAD_AUX         
FROM    APP_UMBRELLA_DRIVER_DETAILS        
WHERE   CUSTOMER_ID=@FROM_CUSTOMER_ID        
AND         APP_ID=@FROM_APP_ID        
AND         APP_VERSION_ID=@FROM_APP_VERSION_ID        
AND         DRIVER_ID= @FROM_DRIVER_ID        
end  
else  
begin   
  
INSERT INTO APP_UMBRELLA_DRIVER_DETAILS        
(        
 CUSTOMER_ID,APP_ID,APP_VERSION_ID,DRIVER_ID,DRIVER_FNAME,DRIVER_MNAME,DRIVER_LNAME,DRIVER_CODE,DRIVER_SUFFIX,DRIVER_ADD1,        
 DRIVER_ADD2,DRIVER_CITY,DRIVER_STATE,DRIVER_ZIP,DRIVER_COUNTRY,DRIVER_HOME_PHONE,DRIVER_BUSINESS_PHONE,DRIVER_EXT,        
 DRIVER_MOBILE,DRIVER_DOB,DRIVER_SSN,DRIVER_MART_STAT,DRIVER_SEX,DRIVER_DRIV_LIC,DRIVER_LIC_STATE,DRIVER_LIC_CLASS,        
 DATE_EXP_START,DATE_LICENSED,DRIVER_REL,DRIVER_DRIV_TYPE,DRIVER_OCC_CODE,DRIVER_OCC_CLASS,DRIVER_DRIVERLOYER_NAME,        
 DRIVER_DRIVERLOYER_ADD,DRIVER_INCOME,DRIVER_BROADEND_NOFAULT,DRIVER_PHYS_MED_IMPAIRE,DRIVER_DRINK_VIOLATION,        
 DRIVER_PREF_RISK,DRIVER_GOOD_STUDENT,DRIVER_STUD_DIST_OVER_HUNDRED,DRIVER_LIC_SUSPENDED,DRIVER_VOLUNTEER_POLICE_FIRE,        
 DRIVER_US_CITIZEN,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,DRIVER_FAX,RELATIONSHIP,DRIVER_TITLE   
)        
SELECT        
 @TO_CUSTOMER_ID,@TO_APP_ID,@TO_APP_VERSION_ID,@To_Driver_Id,DRIVER_FNAME,DRIVER_MNAME,DRIVER_LNAME,@DRIVERCODE,        
 DRIVER_SUFFIX,DRIVER_ADD1,DRIVER_ADD2,DRIVER_CITY,DRIVER_STATE,DRIVER_ZIP,DRIVER_COUNTRY,DRIVER_HOME_PHONE,        
 DRIVER_BUSINESS_PHONE,DRIVER_EXT,DRIVER_MOBILE,DRIVER_DOB,DRIVER_SSN,DRIVER_MART_STAT,DRIVER_SEX,DRIVER_DRIV_LIC,        
 DRIVER_LIC_STATE,DRIVER_LIC_CLASS,DATE_EXP_START,DATE_LICENSED,DRIVER_REL,DRIVER_DRIV_TYPE,DRIVER_OCC_CODE,        
 DRIVER_OCC_CLASS,DRIVER_DRIVERLOYER_NAME,DRIVER_DRIVERLOYER_ADD,DRIVER_INCOME,DRIVER_BROADEND_NOFAULT,        
 DRIVER_PHYS_MED_IMPAIRE,DRIVER_DRINK_VIOLATION,DRIVER_PREF_RISK,DRIVER_GOOD_STUDENT,DRIVER_STUD_DIST_OVER_HUNDRED,        
 DRIVER_LIC_SUSPENDED,DRIVER_VOLUNTEER_POLICE_FIRE,DRIVER_US_CITIZEN,'Y', @CREATED_BY_USER_ID,GETDATE(),        
 DRIVER_FAX,RELATIONSHIP,DRIVER_TITLE  
FROM    APP_UMBRELLA_DRIVER_DETAILS        
WHERE   CUSTOMER_ID=@FROM_CUSTOMER_ID        
AND         APP_ID=@FROM_APP_ID        
AND         APP_VERSION_ID=@FROM_APP_VERSION_ID        
AND         DRIVER_ID= @FROM_DRIVER_ID        
  
  
end  
  
  
  
END              
        
      
    
  



GO

