IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_PostAndReconcileCustomerDeposit]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_PostAndReconcileCustomerDeposit]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN 
--drop proc dbo.Proc_PostAndReconcileCustomerDeposit 
--GO 

/*----------------------------------------------------------  
Proc Name       : Proc_PostAndReconcileCustomerDeposit  
Created by      : Vijay Joshi  
Date            : 7 Mar,2006  
Purpose      	: Reconciles the deposit againt customers open items and post that deposit also  
Revison History :  
Modified By		: Ravindra Gupta
Modified Date 	: 11-17-2006
Purpose			: To handle Posting in case of  NBS after Deposit

Modified By   	: Ravindra   
Modified On  	: 11/13/2007  
Purpose   		:	To resolve overpayment issue.
	     			Bug details: System is llloking for all committed deposits against this policy and 
					reconciling all line items because of this line items for other policies are also getting
					reconciled again. This nees to be done for Deposit Line items of current policies only.

Modified By   	:	Ravindra   
Modified On  	:	12/16/2009
Purpose   		:	To change sequence of accessing tables for insert update to avoid DB Lock issues.

------------------------------------------------------------  
Date     Review By          Comments  
------   ------------       --------------------------------*/  
--drop proc dbo.Proc_PostAndReconcileCustomerDeposit 
CREATE PROCEDURE [dbo].[Proc_PostAndReconcileCustomerDeposit]  
(  
	@DEPOSIT_ID  		INT,  
	@FISCAL_ID  		INT,  
	@COMMITTED_BY 		INT,  
	@COMMITED_BY_CODE 	VARCHAR(10),  
	@COMMITED_BY_NAME 	VARCHAR(30)  ,
	@CALLED_FROM 		SmallInt	,-- 1 for Deposit 2 for Policy Process
	@DEPOSIT_ITEM_ID	Int  = null
)  
AS  
BEGIN  

DECLARE @AST_UNCOLL_PRM_CUSTOMER INT, 
		@INSTALL_FEES_ACCOUNT INT  ,
		@NSF_FEES_ACCOUNT Int,
		@LATE_FEES_ACCOUNT Int,
		@REINS_FEES_ACCOUNT Int

DECLARE @PS_CANCEL int, @PS_CANCEL_NOTICE_SENT int, @PS_DUE_NOTICE_SENT int, @PS_RENEW_NOTICE_SENT int, 
		@PS_SUSPENSE varchar(30), @PS_BLOCKED int ,
		@PS_NBS_IN_PROGRESS varchar(30)
DECLARE @ITEM_TRAN_CODE_INSTALLMENT VARCHAR(5)  

DECLARE  @DEPOSIT_TYPE_CUSTOMER Varchar(5),
		 @ITEM_TRAN_CODE_TYPE Varchar(10),
		 @ITEM_TRAN_CODE Varchar(10)

SET @ITEM_TRAN_CODE_TYPE = 'DEP'
SET @ITEM_TRAN_CODE  = 'DEP'

--Initialising the values  
SELECT  @PS_CANCEL				= 11229,  
		@PS_CANCEL_NOTICE_SENT  = 11230,  
		@PS_DUE_NOTICE_SENT		= 11231,  
		@PS_RENEW_NOTICE_SENT	= 11232,  
		@PS_SUSPENSE			= 'SUSPENDED',  
		@PS_NBS_IN_PROGRESS		= 'UISSUE',
		@PS_BLOCKED				= 11234,  
		@ITEM_TRAN_CODE_INSTALLMENT = 'INSF' 

SET @DEPOSIT_TYPE_CUSTOMER = 'CUST'

DECLARE @TOTAL_AMT_RECONCILED DECIMAL(18,2)  

DECLARE  @RECORDS_TO_RECONCILE TABLE
(  
	IDEN_ROW_ID   INT,  
	TOTAL_DUE   DECIMAL(18,2),  
	RECONCILE_AMOUNT DECIMAL(18,2),
	UPDATED_FROM			Char(1), 
	ITEM_TRAN_CODE		Varchar(5) ,
	ITEM_TRAN_CODE_TYPE	Varchar(5)  
)  

--Fetching the accounts details  
SELECT   
	@AST_UNCOLL_PRM_CUSTOMER = AST_UNCOLL_PRM_CUSTOMER,  
	@INSTALL_FEES_ACCOUNT  = INC_INSTALLMENT_FEES  ,
	@NSF_FEES_ACCOUNT = INC_NON_SUFFICIENT_FUND_FEES,
	@REINS_FEES_ACCOUNT = INC_RE_INSTATEMENT_FEES,
	@LATE_FEES_ACCOUNT = INC_LATE_FEES
FROM ACT_GENERAL_LEDGER  
WHERE FISCAL_ID = @FISCAL_ID  

DECLARE @DEPOSIT_ITEMS TABLE 
(
	IDEN_COL			Int Identity(1,1),
	CD_LINE_ITEM_ID		Int, 
	POLICY_ID			Int, 
	POLICY_VERSION_ID	Int, 
	CUSTOMER_ID			Int,
	DEPOSIT_NUMBER		Int, 
	DEPOSIT_TRAN_DATE	Datetime,
	RECEIPT_AMOUNT		Decimal(18,2) 	
)
INSERT INTO @DEPOSIT_ITEMS ( CD_LINE_ITEM_ID, POLICY_ID, POLICY_VERSION_ID, CUSTOMER_ID ,
				DEPOSIT_NUMBER, DEPOSIT_TRAN_DATE, RECEIPT_AMOUNT )
SELECT CDLI.CD_LINE_ITEM_ID, CDLI.POLICY_ID, CDLI.POLICY_VERSION_ID, CDLI.CUSTOMER_ID  ,
		CD.DEPOSIT_NUMBER, CD.DEPOSIT_TRAN_DATE,CDLI.RECEIPT_AMOUNT
FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS   CDLI
INNER JOIN ACT_CURRENT_DEPOSITS CD 
	ON CD.DEPOSIT_ID = CDLI.DEPOSIT_ID
WHERE CD.DEPOSIT_ID = @DEPOSIT_ID  
AND CDLI.DEPOSIT_TYPE = @DEPOSIT_TYPE_CUSTOMER
ORDER BY CD_LINE_ITEM_ID  

DECLARE @IDEN_COL					Int , 
		@CD_LINE_ITEM_ID			INT, 
		@POLICY_ID					SMALLINT, 
		@POLICY_VERSION_ID			SMALLINT, 
		@CUSTOMER_ID				INT , 
		@STATE_ID					Int,
		@POLICY_LOB					Int,
		@CURRENT_TERM				Int,
		@DEPOSIT_NUMBER				Int, 
		@DEPOSIT_TRAN_DATE			Datetime,
		@RECEIPT_AMOUNT				Decimal(18,2) ,
		@CUSTOMER_OPEN_ITEM_ID		VARCHAR(100), 
		@ORIGINAL_FEE_AMOUNT		VARCHAR(100), 
		@TEMP						VARCHAR(800),
		@INSF_DETAILS				VARCHAR(800),
		@TOTAL_INSTALL_FEES			DECIMAL(18,2),
		@TOTAL_NSF_FEES 			Decimal(18,2),
		@TOTAL_REINS_FEES			Decimal(18,2),
		@TOTAL_LATE_FEES			Decimal(18,2),

		@POLICY_STATUS				VARCHAR(30)  ,
		@@ERROR_NO					INT  ,
		@TRAN_ENTITY				Varchar(200),
		@TRAN_DESC					Varchar(500)



DECLARE @ACT_FEES_REVERSED_AT_DEPOSIT Table 
(
	CUSTOMER_OPEN_ITEM_ID	Int,
	ORIGINAL_FEE_AMOUNT		Decimal(18,2)
)

SET @IDEN_COL = 1 
  
WHILE 1=1  
BEGIN   
	
	IF NOT EXISTS (SELECT IDEN_COL FROM @DEPOSIT_ITEMS WHERE IDEN_COL = @IDEN_COL) 
	BEGIN 
		BREAK
	END
	
	SELECT	@CD_LINE_ITEM_ID				= CD_LINE_ITEM_ID, 
			@POLICY_ID						= POLICY_ID, 
			@POLICY_VERSION_ID				= POLICY_VERSION_ID, 
			@CUSTOMER_ID					= CUSTOMER_ID,
			@DEPOSIT_NUMBER					= DEPOSIT_NUMBER	, 
			@DEPOSIT_TRAN_DATE				= DEPOSIT_TRAN_DATE,
			@RECEIPT_AMOUNT					= RECEIPT_AMOUNT,	
			@CUSTOMER_OPEN_ITEM_ID			= NULL ,
			@ORIGINAL_FEE_AMOUNT			= NULL ,
			@TEMP							= NULL ,
			@INSF_DETAILS					= NULL 

	FROM @DEPOSIT_ITEMS WHERE IDEN_COL = @IDEN_COL

	--Deleting all the previous records if exists  
	DELETE FROM @RECORDS_TO_RECONCILE  
	
	SET @IDEN_COL = @IDEN_COL + 1 

	IF ( @CALLED_FROM = 2 ) 
	BEGIN 
		SET @CD_LINE_ITEM_ID =  @DEPOSIT_ITEM_ID
		SELECT @POLICY_ID = POLICY_ID, @POLICY_VERSION_ID = POLICY_VERSION_ID, @CUSTOMER_ID =  CUSTOMER_ID  
		FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS   WHERE  CD_LINE_ITEM_ID  = @CD_LINE_ITEM_ID
	END 
		
	--Fetching the records to be reconciled 

	INSERT INTO @RECORDS_TO_RECONCILE  
	EXEC Proc_GetCustomerRecordsToReconcile @CD_LINE_ITEM_ID , @CALLED_FROM , @INSF_DETAILS OUTPUT


	SELECT @@ERROR_NO = @@ERROR  
	IF @@ERROR_NO <> 0  
	GOTO ERRHANDLER  

	-- Fetching Tran Entity & Tran Description
	SELECT @TRAN_ENTITY = ISNULL(CUSTOMER_CODE,'') + ' - ' + ISNULL(CUSTOMER_FIRST_NAME,'') 
		+ ' ' + ISNULL(CUSTOMER_MIDDLE_NAME,'') +
		CASE WHEN ISNULL(CUSTOMER_MIDDLE_NAME,'') = '' THEN '' ELSE ' ' END
		+ 
		ISNULL(CUSTOMER_LAST_NAME ,'')
	FROM CLT_CUSTOMER_LIST
	WHERE CUSTOMER_ID = @CUSTOMER_ID 
	
	SELECT	@TRAN_DESC = POLICY_NUMBER + ' ' +  POLICY_DISP_VERSION,  
			@POLICY_LOB = POLICY_LOB , 
			@STATE_ID	= STATE_ID , 
			@POLICY_STATUS = POLICY_STATUS  
	FROM POL_CUSTOMER_POLICY_LIST 
	WHERE CUSTOMER_ID = @CUSTOMER_ID 
	AND POLICY_ID = @POLICY_ID 
	AND POLICY_VERSION_ID = @POLICY_VERSION_ID
	
	--Updating Released status of Installments reconcilled 
	
	UPDATE ACT_POLICY_INSTALLMENT_DETAILS   SET RELEASED_STATUS = 'Y'  
	FROM 
	(
		SELECT INSD.INSTALLMENT_NO, INSD.CURRENT_TERM 
		FROM ACT_POLICY_INSTALLMENT_DETAILS INSD 
		INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OP
		ON OP.INSTALLMENT_ROW_ID = INSD.ROW_ID
		INNER JOIN @RECORDS_TO_RECONCILE RC
		ON OP.IDEN_ROW_ID = RC.IDEN_ROW_ID
	)R 
	WHERE ACT_POLICY_INSTALLMENT_DETAILS.INSTALLMENT_NO = R.INSTALLMENT_NO
	AND ACT_POLICY_INSTALLMENT_DETAILS.CURRENT_TERM = R.CURRENT_TERM   
	AND ACT_POLICY_INSTALLMENT_DETAILS.CUSTOMER_ID = @CUSTOMER_ID 
	AND ACT_POLICY_INSTALLMENT_DETAILS.POLICY_ID = @POLICY_ID

	SELECT @@ERROR_NO = @@ERROR  
	IF @@ERROR_NO <> 0  
	GOTO ERRHANDLER  


	IF(@CALLED_FROM = 1 ) 
	BEGIN			
		INSERT INTO ACT_CUSTOMER_OPEN_ITEMS      
		(      
		UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE,       
		POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_COMM_APPLIES, AGENCY_COMM_PERC, AGENCY_COMM_AMT,       
		AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS,       
		NOT_COUNTED_RECEIVABLE, PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL,       
		BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, CASH_ACCOUNTING,       
		RECUR_JOURNAL_VERSION, JE_RECON_COUNTER, AMT_IN_RECON, OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID,       
		COUNTRY_ID, STATE_ID, COMMISSION_TYPE, ITEM_STATUS, IS_CHECK_CREATED, TRANS_DESC ,DUE_DATE     
		)        
		SELECT  'D', CDLI.CD_LINE_ITEM_ID, CD.DEPOSIT_NUMBER, GETDATE(), GETDATE(),      
		GETDATE(), -CDLI.RECEIPT_AMOUNT, NULL, NULL, NULL, NULL,      
		NULL, POL.CUSTOMER_ID, CDLI.POLICY_ID, CDLI.POLICY_VERSION_ID, NULL, NULL, NULL,      
		0, 'CUS', NULL, NULL, NULL, NULL, NULL, NULL,      
		NULL, -CDLI.RECEIPT_AMOUNT, 'DEP', 'DEP', NULL, NULL,       
		NULL, NULL, NULL, NULL, NULL, NULL,      
		NULL, NULL, NULL, NULL, NULL, 
		CASE RECEIPT_MODE
			WHEN 11974 THEN 'Payment received (Credit Card).'
			WHEN 11976 THEN 'Payment received (EFT).'
		ELSE 'Payment received.'
		END,
		GETDATE()   
		FROM   ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI (NOLOCK)     
		INNER JOIN ACT_CURRENT_DEPOSITS CD (NOLOCK)      
			ON CD.DEPOSIT_ID = CDLI.DEPOSIT_ID      
		INNER JOIN POL_CUSTOMER_POLICY_LIST POL (NOLOCK)     
			ON CDLI.POLICY_ID = POL.POLICY_ID       
		AND CDLI.CUSTOMER_ID = POL.CUSTOMER_ID      
		AND CDLI.POLICY_VERSION_ID = POL.POLICY_VERSION_ID      
		WHERE CD.DEPOSIT_ID = @DEPOSIT_ID      
		AND CDLI.DEPOSIT_TYPE = @DEPOSIT_TYPE_CUSTOMER  
		AND CDLI.CD_LINE_ITEM_ID = @CD_LINE_ITEM_ID	
		ORDER BY CD_LINE_ITEM_ID  
	
	END

	--Udate Paid amount of item reconcilled  
	UPDATE ACT_CUSTOMER_OPEN_ITEMS   
	SET TOTAL_PAID = ISNULL(TOTAL_PAID,0) + ISNULL(RECONCILE_AMOUNT,0),  
	NOT_COUNTED_RECEIVABLE = 0  
	FROM @RECORDS_TO_RECONCILE R 
	WHERE ACT_CUSTOMER_OPEN_ITEMS.IDEN_ROW_ID = R.IDEN_ROW_ID  

	--Getting the total that is reconciled    
	SELECT @TOTAL_AMT_RECONCILED = ISNULL(SUM(RECONCILE_AMOUNT) , 0) FROM @RECORDS_TO_RECONCILE   

	--Reconciling the deposit  
	UPDATE ACT_CUSTOMER_OPEN_ITEMS   
	SET TOTAL_PAID = ISNULL(TOTAL_PAID ,0) + @TOTAL_AMT_RECONCILED * -1  
	WHERE ACT_CUSTOMER_OPEN_ITEMS.UPDATED_FROM = 'D' AND SOURCE_ROW_ID = @CD_LINE_ITEM_ID  
	

	-- Updating  Source Transaction date of Discount Items Reconciled by this Deposit to Commit Date of Deposit
	UPDATE ACT_CUSTOMER_OPEN_ITEMS   
	SET SOURCE_TRAN_DATE = GETDATE()
	WHERE ACT_CUSTOMER_OPEN_ITEMS.IDEN_ROW_ID IN(
				SELECT IDEN_ROW_ID FROM @RECORDS_TO_RECONCILE  )
	AND ITEM_TRAN_CODE = 'DISC'
	
	SELECT @@ERROR_NO = @@ERROR  
	IF @@ERROR_NO <> 0  
	GOTO ERRHANDLER  

	DELETE FROM @ACT_FEES_REVERSED_AT_DEPOSIT 

	WHILE (CHARINDEX(',',ISNULL(@INSF_DETAILS,''))>0)
	BEGIN
		
		SELECT @TEMP = SUBSTRING(@INSF_DETAILS,0,CHARINDEX(',',@INSF_DETAILS))
		SELECT @CUSTOMER_OPEN_ITEM_ID = SUBSTRING(@TEMP,0,CHARINDEX('^',@TEMP))
		SELECT @ORIGINAL_FEE_AMOUNT = SUBSTRING(@TEMP,CHARINDEX('^',@TEMP)+1,LEN(@TEMP))

		INSERT INTO @ACT_FEES_REVERSED_AT_DEPOSIT (CUSTOMER_OPEN_ITEM_ID,ORIGINAL_FEE_AMOUNT)
		VALUES (@CUSTOMER_OPEN_ITEM_ID, @ORIGINAL_FEE_AMOUNT)

		UPDATE ACT_CUSTOMER_OPEN_ITEMS 	SET TOTAL_DUE = ISNULL(TOTAL_PAID,0)	WHERE IDEN_ROW_ID = @CUSTOMER_OPEN_ITEM_ID

		SET @INSF_DETAILS = SUBSTRING(@INSF_DETAILS,CHARINDEX(',',@INSF_DETAILS)+1,LEN(@INSF_DETAILS))
	END


	--Updating Item Status 
	--Checking whether status of policy is normal or not  
	--And seting the status of payment on the basis of policy status  
	if (@POLICY_STATUS = @PS_SUSPENSE   OR @POLICY_STATUS = @PS_NBS_IN_PROGRESS ) AND @CALLED_FROM <> 2
	BEGIN  
		--Item status should be suspense payment for all the above status  
		--Updating the item_status of open item created by deposit  
		UPDATE ACT_CUSTOMER_OPEN_ITEMS   
		SET ITEM_STATUS = 'SP', ITEM_ORIGINAL_STATUS = 'SP'  
		WHERE UPDATED_FROM = 'D' AND SOURCE_ROW_ID = @CD_LINE_ITEM_ID  
		
	END  
	ELSE  
	BEGIN  
		--Updating the payment status as normal or over payment   
		UPDATE ACT_CUSTOMER_OPEN_ITEMS   
		SET ITEM_STATUS =   
		CASE   
		WHEN ISNULL(TOTAL_DUE,0) < ISNULL(TOTAL_PAID,0) THEN 'OP'  
		ELSE 'NP'  
		END,  
		ITEM_ORIGINAL_STATUS =   
		CASE   
		WHEN ISNULL(TOTAL_DUE,0) < ISNULL(TOTAL_PAID,0) THEN 'OP'  
		ELSE 'NP'  
		END  
		WHERE UPDATED_FROM = 'D' AND SOURCE_ROW_ID = @CD_LINE_ITEM_ID   
		
	END  
 
	--Do postings in Main Ledger	
	SET 	@TOTAL_NSF_FEES 	= 0
	SET		@TOTAL_REINS_FEES	= 0
	SET 	@TOTAL_LATE_FEES	= 0

	SELECT @TOTAL_INSTALL_FEES = ISNULL(SUM (RECONCILE_AMOUNT),0)  
	FROM @RECORDS_TO_RECONCILE 	
	WHERE ITEM_TRAN_CODE = @ITEM_TRAN_CODE_INSTALLMENT     AND UPDATED_FROM <> 'F' 

	
	SELECT @TOTAL_NSF_FEES = ISNULL(SUM (RECONCILE_AMOUNT),0)  
	FROM @RECORDS_TO_RECONCILE 
	WHERE ITEM_TRAN_CODE = 'NSFF'    AND UPDATED_FROM <> 'F' 

	SELECT @TOTAL_LATE_FEES = ISNULL(SUM (RECONCILE_AMOUNT),0)  
	FROM @RECORDS_TO_RECONCILE 
	WHERE ITEM_TRAN_CODE = 'LF'     AND UPDATED_FROM <> 'F'

	SELECT @TOTAL_REINS_FEES = ISNULL(SUM (RECONCILE_AMOUNT),0)  
	FROM @RECORDS_TO_RECONCILE 
	WHERE ITEM_TRAN_CODE = 'RENSF'  AND UPDATED_FROM <> 'F'

	-- Posting Fees in General Ledger
	IF(@TOTAL_NSF_FEES <> 0)
	BEGIN 
		--Posting NSF fees into ACT_ACCOUNTS_POSTING_DETAILS  
		INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
		(  
		ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,  
		SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,   
		TRANSACTION_AMOUNT,   
		AGENCY_COMM_PERC,  
		AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,  
		POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,   
		IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,   
		SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,   
		TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
		IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME  ,
		TRAN_ENTITY,TRAN_DESC
		)  
		VALUES
		(
		@NSF_FEES_ACCOUNT, 'D', NULL, @CD_LINE_ITEM_ID, NULL,  
		@DEPOSIT_NUMBER, @DEPOSIT_TRAN_DATE, Getdate(), Getdate(),   
		@TOTAL_NSF_FEES * -1,    
		NULL,  
		NULL, NULL ,   
		@CUSTOMER_ID ,  
		@POLICY_ID, @POLICY_VERSION_ID, NULL, NULL, NULL,  
		NULL, NULL, @RECEIPT_AMOUNT, @ITEM_TRAN_CODE, @ITEM_TRAN_CODE_TYPE , NULL, @POLICY_LOB,  
		NULL, NULL, @STATE_ID , NULL,   
		NULL, NULL, NULL, NULL,   
		NULL, NULL, @COMMITTED_BY, @COMMITED_BY_CODE, @COMMITED_BY_NAME  ,
		@TRAN_ENTITY,@TRAN_DESC
		)
	END
	IF(@TOTAL_LATE_FEES <> 0)
	BEGIN 
		--Posting Late fees into ACT_ACCOUNTS_POSTING_DETAILS  
		INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
		(  
		ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,  
		SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,   
		TRANSACTION_AMOUNT,   
		AGENCY_COMM_PERC,  
		AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,  
		POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,   
		IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,   
		SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,   
		TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
		IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME  ,
		TRAN_ENTITY,TRAN_DESC
		)  
		VALUES
		(
		@LATE_FEES_ACCOUNT, 'D', NULL, @CD_LINE_ITEM_ID, NULL,  
		@DEPOSIT_NUMBER, @DEPOSIT_TRAN_DATE, Getdate(), Getdate(),   
		@TOTAL_LATE_FEES * -1,    
		NULL,  
		NULL, NULL ,   
		@CUSTOMER_ID ,  
		@POLICY_ID, @POLICY_VERSION_ID, NULL, NULL, NULL,  
		NULL, NULL, @RECEIPT_AMOUNT, @ITEM_TRAN_CODE, @ITEM_TRAN_CODE_TYPE , NULL, @POLICY_LOB,  
		NULL, NULL, @STATE_ID , NULL,   
		NULL, NULL, NULL, NULL,   
		NULL, NULL, @COMMITTED_BY, @COMMITED_BY_CODE, @COMMITED_BY_NAME  ,
		@TRAN_ENTITY,@TRAN_DESC
		)    

	END
	IF(@TOTAL_REINS_FEES <> 0)
	BEGIN 
		--Posting Re Instatement fees into ACT_ACCOUNTS_POSTING_DETAILS  
		INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
		(  
		ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,  
		SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,   
		TRANSACTION_AMOUNT,   
		AGENCY_COMM_PERC,  
		AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,  
		POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,   
		IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,   
		SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,   
		TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
		IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME  ,
		TRAN_ENTITY,TRAN_DESC
		)  
		VALUES
		(
		@REINS_FEES_ACCOUNT, 'D', NULL, @CD_LINE_ITEM_ID, NULL,  
		@DEPOSIT_NUMBER, @DEPOSIT_TRAN_DATE, Getdate(), Getdate(),   
		@TOTAL_REINS_FEES * -1,    
		NULL,  
		NULL, NULL ,   
		@CUSTOMER_ID ,  
		@POLICY_ID, @POLICY_VERSION_ID, NULL, NULL, NULL,  
		NULL, NULL, @RECEIPT_AMOUNT, @ITEM_TRAN_CODE, @ITEM_TRAN_CODE_TYPE , NULL, @POLICY_LOB ,  
		NULL, NULL, @STATE_ID , NULL,   
		NULL, NULL, NULL, NULL,   
		NULL, NULL, @COMMITTED_BY, @COMMITED_BY_CODE, @COMMITED_BY_NAME  ,
		@TRAN_ENTITY,@TRAN_DESC	
		)   
	
	END
	
	IF(@TOTAL_INSTALL_FEES <> 0  ) 
	BEGIN 
		--Posting installment fees into ACT_ACCOUNTS_POSTING_DETAILS  
		INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
		(  
		ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,  
		SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,   
		TRANSACTION_AMOUNT,   
		AGENCY_COMM_PERC,  
		AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,  
		POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,   
		IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,   
		SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,   
		TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
		IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME  ,
		TRAN_ENTITY,TRAN_DESC
		)  
		VALUES
		(   
		@INSTALL_FEES_ACCOUNT, 'D', NULL, @CD_LINE_ITEM_ID, NULL,  
		@DEPOSIT_NUMBER, @DEPOSIT_TRAN_DATE, Getdate() , Getdate(),   
		@TOTAL_INSTALL_FEES * -1,    
		NULL,  
		NULL, NULL ,   
		@CUSTOMER_ID ,  
		@POLICY_ID, @POLICY_VERSION_ID, NULL, NULL, NULL,  
		NULL, NULL, @RECEIPT_AMOUNT, @ITEM_TRAN_CODE, @ITEM_TRAN_CODE_TYPE , NULL, @POLICY_LOB ,  
		NULL, NULL, @STATE_ID , NULL,   
		NULL, NULL, NULL, NULL,   
		NULL, NULL, @COMMITTED_BY, @COMMITED_BY_CODE, @COMMITED_BY_NAME  ,
		@TRAN_ENTITY,@TRAN_DESC
		)
	END

	SELECT @@ERROR_NO = @@ERROR  
	IF @@ERROR_NO <> 0  
	GOTO ERRHANDLER  

	-- CALLRD_FROM "2" measns Posting in Uncollected Premium has already been done for this deposit
	-- Debiting Uncollected Premium Account With total Fees  credited 
	IF(@CALLED_FROM  = 2 )
	BEGIN 
		IF( (
				ISNULL(@TOTAL_INSTALL_FEES, 0)  + ISNULL(@TOTAL_NSF_FEES, 0)  + 
				ISNULL(@TOTAL_LATE_FEES ,0)  + 	ISNULL(@TOTAL_REINS_FEES ,0)  
			)    <> 0 )
		BEGIN
			INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
			(  
				ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,  
				SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,   
				TRANSACTION_AMOUNT,   
				AGENCY_COMM_PERC,  
				AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,  
				POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,   
				IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,   
				SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,   
				TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
				IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME ,
				TRAN_ENTITY,TRAN_DESC
			)  
			VALUES
			(   
				@AST_UNCOLL_PRM_CUSTOMER, 'D', NULL, @CD_LINE_ITEM_ID, NULL,  
				@DEPOSIT_NUMBER, @DEPOSIT_TRAN_DATE, Getdate() , Getdate(),   
				ISNULL(@TOTAL_INSTALL_FEES, 0)  	+ ISNULL(@TOTAL_NSF_FEES, 0)  + 
				ISNULL(@TOTAL_LATE_FEES ,0)  + 	ISNULL(@TOTAL_REINS_FEES ,0)  ,    
				NULL,  
				NULL, NULL ,
				@CUSTOMER_ID ,  
				@POLICY_ID, @POLICY_VERSION_ID, NULL, NULL, NULL,  
				NULL, NULL, @RECEIPT_AMOUNT, @ITEM_TRAN_CODE, @ITEM_TRAN_CODE_TYPE , NULL, @POLICY_LOB  ,  
				NULL, NULL, @STATE_ID , NULL,   
				NULL, NULL, NULL, NULL,   
				NULL, NULL, @COMMITTED_BY, @COMMITED_BY_CODE, @COMMITED_BY_NAME  ,
				@TRAN_ENTITY,@TRAN_DESC
			)
		END
	END
	ELSE --Credit Uncollected Premium account with amount reconcilled against premium items
	BEGIN
		IF(
			ISNULL(@RECEIPT_AMOUNT,0) - @TOTAL_INSTALL_FEES - @TOTAL_NSF_FEES - 
				@TOTAL_LATE_FEES   - @TOTAL_REINS_FEES <> 0  
			)
		BEGIN
			INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
			(  
			ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,  
			SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,   
			TRANSACTION_AMOUNT,   
			AGENCY_COMM_PERC,  
			AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,  
			POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,   
			IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,   
			SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,   
			TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
			IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME,
			TRAN_ENTITY,TRAN_DESC  
			)  
			VALUES
			(
			@AST_UNCOLL_PRM_CUSTOMER, 'D', NULL, @CD_LINE_ITEM_ID, NULL,  
			@DEPOSIT_NUMBER, @DEPOSIT_TRAN_DATE, Getdate() , Getdate(),   
			(ISNULL(@RECEIPT_AMOUNT,0) - @TOTAL_INSTALL_FEES - @TOTAL_NSF_FEES - @TOTAL_LATE_FEES 
			- @TOTAL_REINS_FEES ) * -1,   
			NULL,  
			NULL, NULL ,   
			@CUSTOMER_ID ,  
			@POLICY_ID, @POLICY_VERSION_ID, NULL, NULL, NULL,  
			NULL, NULL, @RECEIPT_AMOUNT, @ITEM_TRAN_CODE , @ITEM_TRAN_CODE_TYPE , NULL, @POLICY_LOB ,  
			NULL, NULL, @STATE_ID , NULL,   
			NULL, NULL, NULL, NULL,   
			NULL, NULL, @COMMITTED_BY, @COMMITED_BY_CODE, @COMMITED_BY_NAME  ,
			@TRAN_ENTITY,@TRAN_DESC
			)
		END
  	END
	  
	SELECT @@ERROR_NO = @@ERROR  
	IF @@ERROR_NO <> 0  
	GOTO ERRHANDLER  

	--Updating the reconciliation group and details table  
	DECLARE @GROUP_ID INT  
	SELECT @GROUP_ID = ISNULL(MAX(GROUP_ID),0) + 1 FROM ACT_RECONCILIATION_GROUPS  

	INSERT INTO ACT_RECONCILIATION_GROUPS  
	(  
	GROUP_ID, RECON_ENTITY_ID, RECON_ENTITY_TYPE, IS_COMMITTED,  
	DATE_COMMITTED ,COMMITTED_BY,  
	IS_ACTIVE, CREATED_BY, CREATED_DATETIME, MODIFIED_BY, LAST_UPDATED_DATETIME,  
	CD_LINE_ITEM_ID  
	) 
	VALUES
	(
	@GROUP_ID, @CUSTOMER_ID, 'CUST', 'Y',  
	GETDATE(), NULL,  
	'Y', NULL, GETDATE(), NULL, NULL,  
	@CD_LINE_ITEM_ID  
	) 

	INSERT INTO ACT_CUSTOMER_RECON_GROUP_DETAILS  
	(  
	GROUP_ID, ITEM_TYPE, ITEM_REFERENCE_ID,   
	SUB_LEDGER_TYPE, RECON_AMOUNT, NOTE, DIV_ID, DEPT_ID, PC_ID  
	)  
	SELECT   
	@GROUP_ID, 'CUST', ACOI.IDEN_ROW_ID,  
	NULL, ISNULL(RECONCILE_AMOUNT,0), NULL, ACOI.DIV_ID, ACOI.DEPT_ID, ACOI.PC_ID  
	FROM   
	ACT_CUSTOMER_OPEN_ITEMS ACOI, @RECORDS_TO_RECONCILE R 
	WHERE ACOI.IDEN_ROW_ID = R.IDEN_ROW_ID  
	
	SELECT @@ERROR_NO = @@ERROR  
	IF @@ERROR_NO <> 0  
	GOTO ERRHANDLER  
  
	INSERT INTO ACT_CUSTOMER_RECON_GROUP_DETAILS  
	(  
	GROUP_ID, ITEM_TYPE,  
	ITEM_REFERENCE_ID,   
	SUB_LEDGER_TYPE, RECON_AMOUNT,  
	NOTE, DIV_ID, DEPT_ID, PC_ID  
	)  
	SELECT   
	@GROUP_ID, 'CUST',  
	(SELECT TOP 1 IDEN_ROW_ID   
	FROM ACT_CUSTOMER_OPEN_ITEMS   
	WHERE UPDATED_FROM = 'D' AND SOURCE_ROW_ID = @CD_LINE_ITEM_ID),   
	NULL, ISNULL(RECONCILE_AMOUNT,0) * -1,  
	NULL, ACOI.DIV_ID, ACOI.DEPT_ID, ACOI.PC_ID  
	FROM   
	ACT_CUSTOMER_OPEN_ITEMS ACOI, @RECORDS_TO_RECONCILE  R
	WHERE ACOI.IDEN_ROW_ID = R.IDEN_ROW_ID  

	--Insert Records for Installmnet Fees waived off 
	INSERT INTO ACT_FEES_REVERSED_AT_DEPOSIT (RECON_GROUP_ID , CUSTOMER_OPEN_ITEM_ID,ORIGIAL_FEES_AMOUNT)
	SELECT  @GROUP_ID , CUSTOMER_OPEN_ITEM_ID, ORIGINAL_FEE_AMOUNT
	FROM @ACT_FEES_REVERSED_AT_DEPOSIT 

END   
   
--Completed sucessfully  
RETURN 1  

ERRHANDLER:  
	RETURN 0  
   
END  

--
--GO 
--
--exec Proc_PostAndReconcileCustomerDeposit 2860 , 3 ,3, 'a' , 'aa' , 1
--
--
--ROLLBACK TRAN 
















GO

