IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_DeActivatePolOtherStructureDetails]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_DeActivatePolOtherStructureDetails]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
CREATE PROC Proc_DeActivatePolOtherStructureDetails
(
@CUSTOMER_ID     INT,
@POLICY_ID     INT,
@POLICY_VERSION_ID     SMALLINT,
@DWELLING_ID     SMALLINT,
@OTHER_STRUCTURE_ID     SMALLINT
)
AS
BEGIN

    DECLARE @COVERAGEB INT
DECLARE @IN_VAL INT
DECLARE @DIFF_VAL INT
DECLARE @COVBADD_VAL INT

    --find the sum of insuring value before adding new value (this will give old sum)
SELECT @IN_VAL=ISNULL(SUM(ISNULL(ADDITIONAL_AMOUNT_OF_INSURANCE_DESIRED,0)),0)
	FROM POL_OTHER_STRUCTURE_DWELLING STR4 WITH(NOLOCK)
	WHERE 
	    STR4.PREMISES_LOCATION = 11841 -- Off Primises
	AND STR4.CUSTOMER_ID = @CUSTOMER_ID
	AND STR4.POLICY_ID = @POLICY_ID
	AND STR4.POLICY_VERSION_ID=@POLICY_VERSION_ID
    and STR4.DWELLING_ID=@DWELLING_ID
    AND ISNULL(STR4.SATELLITE_EQUIPMENT,'0')='2'
	and STR4.IS_ACTIVE='Y'



--find value in coverage b..already saved
SELECT @COVERAGEB=ISNULL(DEDUCTIBLE_1,0) FROM POL_DWELLING_SECTION_COVERAGES
 WHERE  CUSTOMER_ID = @CUSTOMER_ID
	AND POLICY_ID = @POLICY_ID
	AND POLICY_VERSION_ID=@POLICY_VERSION_ID
    AND DWELLING_ID=@DWELLING_ID
    AND COVERAGE_CODE_ID IN(774,794)



--change in value of coverage b with 
SET @DIFF_VAL=ISNULL(@COVERAGEB,0) - ISNULL(@IN_VAL,0)


	UPDATE POL_OTHER_STRUCTURE_DWELLING
	SET IS_ACTIVE = 'N'
	WHERE CUSTOMER_ID=@CUSTOMER_ID AND 
	POLICY_ID=@POLICY_ID AND 
	POLICY_VERSION_ID=@POLICY_VERSION_ID AND 
	DWELLING_ID=@DWELLING_ID AND
	OTHER_STRUCTURE_ID=@OTHER_STRUCTURE_ID 

--Get The New Value of all other structure
 SELECT @IN_VAL=ISNULL(SUM(ADDITIONAL_AMOUNT_OF_INSURANCE_DESIRED),0)
	FROM POL_OTHER_STRUCTURE_DWELLING STR4 WITH(NOLOCK)
	WHERE 
	    STR4.PREMISES_LOCATION = 11841 -- Off Primises
	AND STR4.CUSTOMER_ID = @CUSTOMER_ID
	AND STR4.POLICY_ID = @POLICY_ID
	AND STR4.POLICY_VERSION_ID=@POLICY_VERSION_ID
     and STR4.DWELLING_ID=@DWELLING_ID
    AND ISNULL(STR4.SATELLITE_EQUIPMENT,'0')='2'
    and STR4.IS_ACTIVE='Y'


SET @COVBADD_VAL=@IN_VAL+@DIFF_VAL
 if(@COVBADD_VAL > 0)
  begin  
    exec Proc_Update_POL_Additional_CoverageB @CUSTOMER_ID ,@POLICY_ID,@POLICY_VERSION_ID,@DWELLING_ID,@COVBADD_VAL
  end
END









GO

