IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetClaimInfoDocMerge]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetClaimInfoDocMerge]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROC dbo.Proc_GetClaimInfoDocMerge
(              
 @CLAIM_ID     int          
)              
AS              
BEGIN  
        
	SELECT ISNULL(CLT.CUSTOMER_FIRST_NAME,'') + ' ' + isnull(CLT.CUSTOMER_MIDDLE_NAME,'') + ' ' + isnull(CLT.CUSTOMER_LAST_NAME,'') as CUSTOMERNAME,
C.CLAIM_ID,C.CLAIM_NUMBER,P.POLICY_NUMBER,P.CUSTOMER_ID,
	P.POLICY_ID,P.POLICY_VERSION_ID,P.APP_ID,P.APP_VERSION_ID,A.APP_NUMBER 
	 FROM CLM_CLAIM_INFO C (nolock)    
	 LEFT JOIN POL_CUSTOMER_POLICY_LIST P   (nolock)          
	 ON P.CUSTOMER_ID = C.CUSTOMER_ID AND P.POLICY_ID = C.POLICY_ID AND P.POLICY_VERSION_ID = C.POLICY_VERSION_ID  
	 LEFT JOIN app_list A (nolock)   ON A.CUSTOMER_ID = P.CUSTOMER_ID AND P.APP_ID = A.APP_ID AND P.APP_VERSION_ID = A.APP_VERSION_ID          
	 LEFT JOIN CLT_CUSTOMER_LIST CLT (NOLOCK) ON CLT.CUSTOMER_ID = A.CUSTOMER_ID
	 WHERE CLAIM_ID = @CLAIM_ID   

END      
GO

