IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[rpt_ClientHolderListing]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[rpt_ClientHolderListing]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran
--drop proc dbo.rpt_ClientHolderListing 
--go     

CREATE PROCEDURE dbo.rpt_ClientHolderListing  
 @intCustomerId VARCHAR(8000),  
 @intPolicyId VARCHAR(8000)  
  
AS  
  
DECLARE @sql VARCHAR(8000) 
DECLARE @union varchar(8000) 

  
BEGIN  
CREATE TABLE #TEMP (SEQNO INT IDENTITY,  
/*MEMO NVARCHAR(500),  
LOAN_REF_NUMBER NVARCHAR(150),  
HOLDER_NAME NVARCHAR(100),  
HOLDER_ADD1 NVARCHAR(50),  
HOLDER_ADD2 NVARCHAR(50),  
HOLDER_CITY NVARCHAR(50),  
HOLDER_STATE NVARCHAR(5),  
HOLDER_ZIP NVARCHAR(11),  
CUSTOMER_FIRST_NAME NVARCHAR(50),  
CUSTOMER_MIDDLE_NAME NVARCHAR(10),  
CUSTOMER_LAST_NAME NVARCHAR(50),  
CUSTOMER_ADDRESS1 NVARCHAR(150),  
CUSTOMER_ADDRESS2 NVARCHAR(150),  
CUSTOMER_CITY NVARCHAR(50),  
CUSTOMER_STATE NVARCHAR(5),  
CUSTOMER_ZIP NVARCHAR(11),  
RISK_INFO NVARCHAR(500),  
NATURE_OF_INT NVARCHAR(50)*/  
  
--rpt_ClientHolderListing 0,0  
  
MEMO NVARCHAR(500),  
LOAN_REF_NUMBER NVARCHAR(150),  
HOLDER_NAME NVARCHAR(100),  
HOLDER_ADD1 NVARCHAR(500),  
HOLDER_ADD2 NVARCHAR(500),  
HOLDER_CITY NVARCHAR(50),  
HOLDER_STATE NVARCHAR(5),  
HOLDER_ZIP NVARCHAR(11),  
CUSTOMER_FIRST_NAME NVARCHAR(50),  
CUSTOMER_MIDDLE_NAME NVARCHAR(10),  
CUSTOMER_LAST_NAME NVARCHAR(50),  
CUSTOMER_ADDRESS1 NVARCHAR(150),  
CUSTOMER_ADDRESS2 NVARCHAR(150),  
CUSTOMER_CITY NVARCHAR(50),  
CUSTOMER_STATE NVARCHAR(5),  
CUSTOMER_ZIP NVARCHAR(11),  
RISK_INFO NVARCHAR(500),  
NATURE_OF_INT NVARCHAR(50)  
)  
-- For AUTO
--Distinct Keyword Use For Itrack Issue #5662 
--Case added For MotarCycle For Itrack Issue # 6393. 
--Changes has been done for Itrack Issue #6393 
----Replace heading ‘Hull Id’ by ‘Serial No’ 
---Watercraft Trailer Risk Information
--	Replace work ‘Manufacturer’ by ‘Make’
--	Add ‘Model’ name
 
SELECT @sql = 'SELECT DISTINCT
					  POL_ADD_OTHER_INT.MEMO,POL_ADD_OTHER_INT.LOAN_REF_NUMBER,
					CASE ISNULL(POL_ADD_OTHER_INT.HOLDER_ID,0) WHEN 0 THEN POL_ADD_OTHER_INT.HOLDER_NAME  ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_NAME END AS HOLDER_NAME,                                       
					CASE ISNULL(POL_ADD_OTHER_INT.HOLDER_ID,0) WHEN 0 THEN POL_ADD_OTHER_INT.HOLDER_ADD1  ELSE RTRIM(MNT_HOLDER_INTEREST_LIST.HOLDER_ADD1) END AS HOLDER_ADDRESS1, 
					CASE ISNULL(POL_ADD_OTHER_INT.HOLDER_ID,0) WHEN 0 THEN POL_ADD_OTHER_INT.HOLDER_ADD2  ELSE RTRIM(MNT_HOLDER_INTEREST_LIST.HOLDER_ADD2) END AS HOLDER_ADDRESS2,     
					CASE ISNULL(POL_ADD_OTHER_INT.HOLDER_ID,0) WHEN 0 THEN POL_ADD_OTHER_INT.HOLDER_CITY  ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_CITY END AS HOLDER_CITY,   
                    (SELECT STATE_CODE FROM MNT_COUNTRY_STATE_LIST A WHERE A.STATE_ID = CASE ISNULL(MNT_HOLDER_INTEREST_LIST.HOLDER_STATE,0)WHEN 0 THEN POL_ADD_OTHER_INT.HOLDER_STATE ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_STATE END 
					 AND A.COUNTRY_ID  = CASE ISNULL(MNT_HOLDER_INTEREST_LIST.HOLDER_COUNTRY,0) WHEN 0 THEN POL_ADD_OTHER_INT.HOLDER_COUNTRY ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_COUNTRY END ) AS HOLDER_STATE,                     
					CASE ISNULL(POL_ADD_OTHER_INT.HOLDER_ID,0) WHEN 0 THEN POL_ADD_OTHER_INT.HOLDER_ZIP  ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_ZIP END AS HOLDER_ZIP ,				                             				   				
					CLT_CUSTOMER_LIST.CUSTOMER_FIRST_NAME, CLT_CUSTOMER_LIST.CUSTOMER_MIDDLE_NAME,   
					CLT_CUSTOMER_LIST.CUSTOMER_LAST_NAME, CLT_CUSTOMER_LIST.CUSTOMER_ADDRESS1, CLT_CUSTOMER_LIST.CUSTOMER_ADDRESS2,   
					CLT_CUSTOMER_LIST.CUSTOMER_CITY, 
                    CASE ISNULL(POL_ADD_OTHER_INT.HOLDER_ID,0) WHEN 0 THEN MNT_COUNTRY_STATE_LIST.STATE_CODE	  ELSE MNT_COUNTRY_STATE_LIST.STATE_CODE END AS STATE_CODE,
                     CLT_CUSTOMER_LIST.CUSTOMER_ZIP,  
        CASE POL_CUSTOMER_POLICY_LIST.POLICY_LOB WHEN ''3''  THEN 
		''Motorcycle Details,'' + ''Year: '' + POL_VEHICLES.VEHICLE_YEAR + '', '' + ''Make: '' + POL_VEHICLES.MAKE + '', '' + ''Model: '' + POL_VEHICLES.MODEL   
		WHEN ''2'' THEN
		''Automobile Details,'' + ''Year: '' + POL_VEHICLES.VEHICLE_YEAR + '', '' + ''Make: '' + POL_VEHICLES.MAKE + '', '' + ''Model: '' + POL_VEHICLES.MODEL  END AS VEH_INFO,
		MNT_LOOKUP_VALUES.LOOKUP_VALUE_DESC  
        FROM POL_ADD_OTHER_INT INNER JOIN  
      POL_CUSTOMER_POLICY_LIST ON POL_ADD_OTHER_INT.CUSTOMER_ID = POL_CUSTOMER_POLICY_LIST.CUSTOMER_ID AND   
                      POL_ADD_OTHER_INT.POLICY_ID = POL_CUSTOMER_POLICY_LIST.POLICY_ID AND   
                      POL_ADD_OTHER_INT.POLICY_VERSION_ID = POL_CUSTOMER_POLICY_LIST.POLICY_VERSION_ID INNER JOIN  
                      CLT_CUSTOMER_LIST ON POL_CUSTOMER_POLICY_LIST.CUSTOMER_ID = CLT_CUSTOMER_LIST.CUSTOMER_ID INNER JOIN  
                      POL_VEHICLES ON POL_ADD_OTHER_INT.CUSTOMER_ID = POL_VEHICLES.CUSTOMER_ID AND   
                      POL_ADD_OTHER_INT.POLICY_ID = POL_VEHICLES.POLICY_ID AND   
                      POL_ADD_OTHER_INT.POLICY_VERSION_ID = POL_VEHICLES.POLICY_VERSION_ID AND   
                      POL_ADD_OTHER_INT.VEHICLE_ID = POL_VEHICLES.VEHICLE_ID AND   
                      POL_CUSTOMER_POLICY_LIST.CUSTOMER_ID = POL_VEHICLES.CUSTOMER_ID AND   
                      POL_CUSTOMER_POLICY_LIST.POLICY_ID = POL_VEHICLES.POLICY_ID AND   
                      POL_CUSTOMER_POLICY_LIST.POLICY_VERSION_ID = POL_VEHICLES.POLICY_VERSION_ID  INNER JOIN  
                      MNT_COUNTRY_STATE_LIST ON CLT_CUSTOMER_LIST.CUSTOMER_COUNTRY = MNT_COUNTRY_STATE_LIST.COUNTRY_ID AND   
                      CLT_CUSTOMER_LIST.CUSTOMER_STATE = MNT_COUNTRY_STATE_LIST.STATE_ID LEFT JOIN  
                      MNT_HOLDER_INTEREST_LIST ON MNT_HOLDER_INTEREST_LIST.HOLDER_ID = POL_ADD_OTHER_INT.HOLDER_ID INNER JOIN  
                      MNT_LOOKUP_VALUES ON MNT_LOOKUP_VALUES.LOOKUP_UNIQUE_ID = POL_ADD_OTHER_INT.NATURE_OF_INTEREST '  
 --IF (@intCustomerId<>0)  
 IF (@intCustomerId <> '0')  
  BEGIN  
   --SELECT @sql=@sql + ' WHERE POL_ADD_OTHER_INT.CUSTOMER_ID = ' + CAST(@intCustomerId AS VARCHAR(10))  
   SELECT @sql=@sql + ' WHERE POL_ADD_OTHER_INT.CUSTOMER_ID IN (' + @intCustomerId + ')'  
  END  
 --IF (@intPolicyId<>0)  
 IF (@intPolicyId <> '0')  
   BEGIN  
    --SELECT @sql=@sql + ' AND POL_ADD_OTHER_INT.POLICY_ID = ' + CAST(@intPolicyId AS VARCHAR(10))  
    SELECT @sql=@sql + ' AND POL_ADD_OTHER_INT.POLICY_ID IN (' + @intPolicyId + ')'  
   END  
--print(@sql)  
INSERT INTO #TEMP   
exec(@sql)  
SELECT @sql = ''  
  
-- For HOME  
--Distinct Keyword Use For Itrack Issue #5662  
  -- Case Added in State For Itrack Issue #6393.
SELECT @sql = 'SELECT DISTINCT 
                      POL_HOME_OWNER_ADD_INT.MEMO, POL_HOME_OWNER_ADD_INT.LOAN_REF_NUMBER,
                     CASE ISNULL(POL_HOME_OWNER_ADD_INT.HOLDER_ID,0) WHEN 0 THEN POL_HOME_OWNER_ADD_INT.HOLDER_NAME  ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_NAME END AS HOLDER_NAME,                                       
					 CASE ISNULL(POL_HOME_OWNER_ADD_INT.HOLDER_ID,0) WHEN 0 THEN POL_HOME_OWNER_ADD_INT.HOLDER_ADD1  ELSE RTRIM(MNT_HOLDER_INTEREST_LIST.HOLDER_ADD1) END AS HOLDER_ADDRESS1, 
					 CASE ISNULL(POL_HOME_OWNER_ADD_INT.HOLDER_ID,0) WHEN 0 THEN POL_HOME_OWNER_ADD_INT.HOLDER_ADD2  ELSE RTRIM(MNT_HOLDER_INTEREST_LIST.HOLDER_ADD2) END AS HOLDER_ADDRESS2,     
					 CASE ISNULL(POL_HOME_OWNER_ADD_INT.HOLDER_ID,0) WHEN 0 THEN POL_HOME_OWNER_ADD_INT.HOLDER_CITY  ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_CITY END AS HOLDER_CITY,   					
					(SELECT STATE_CODE FROM MNT_COUNTRY_STATE_LIST A WHERE A.STATE_ID = CASE ISNULL(MNT_HOLDER_INTEREST_LIST.HOLDER_STATE,0)WHEN 0 THEN POL_HOME_OWNER_ADD_INT.HOLDER_STATE ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_STATE END 
					AND A.COUNTRY_ID  = CASE ISNULL(MNT_HOLDER_INTEREST_LIST.HOLDER_COUNTRY,0) WHEN 0 THEN POL_HOME_OWNER_ADD_INT.HOLDER_COUNTRY ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_COUNTRY END ) AS HOLDER_STATE,                     
 CASE ISNULL(POL_HOME_OWNER_ADD_INT.HOLDER_ID,0) WHEN 0 THEN POL_HOME_OWNER_ADD_INT.HOLDER_ZIP  ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_ZIP END AS HOLDER_ZIP ,					 
                      CLT_CUSTOMER_LIST.CUSTOMER_FIRST_NAME, CLT_CUSTOMER_LIST.CUSTOMER_MIDDLE_NAME,   
                      CLT_CUSTOMER_LIST.CUSTOMER_LAST_NAME, CLT_CUSTOMER_LIST.CUSTOMER_ADDRESS1, CLT_CUSTOMER_LIST.CUSTOMER_ADDRESS2,   
                      CLT_CUSTOMER_LIST.CUSTOMER_CITY, 
					  CASE ISNULL(POL_HOME_OWNER_ADD_INT.HOLDER_ID,0) WHEN 0 THEN MNT_COUNTRY_STATE_LIST.STATE_CODE	  ELSE MNT_COUNTRY_STATE_LIST.STATE_CODE END AS STATE_CODE,  	
					  CLT_CUSTOMER_LIST.CUSTOMER_ZIP,  
       CASE WHEN ISNULL(POL_LOCATIONS.LOC_ADD2,'''') = '''' THEN ''Location Address,'' + POL_LOCATIONS.LOC_ADD1 + '', '' + POL_LOCATIONS.LOC_CITY + '', '' + (SELECT STATE_CODE FROM MNT_COUNTRY_STATE_LIST A WHERE A.STATE_ID = POL_LOCATIONS.LOC_STATE AND A.COUNTRY_ID = POL_LOCATIONS.LOC_COUNTRY) + '' '' + POL_LOCATIONS.LOC_ZIP
ELSE 
   ''Location Address,'' + POL_LOCATIONS.LOC_ADD1 + '', '' + POL_LOCATIONS.LOC_ADD2 + '', '' + POL_LOCATIONS.LOC_CITY + '', '' + (SELECT STATE_CODE FROM MNT_COUNTRY_STATE_LIST A WHERE A.STATE_ID = POL_LOCATIONS.LOC_STATE AND A.COUNTRY_ID = POL_LOCATIONS.LOC_COUNTRY) + '' '' + POL_LOCATIONS.LOC_ZIP END AS LOC_INFO, MNT_LOOKUP_VALUES.LOOKUP_VALUE_DESC  
FROM          POL_HOME_OWNER_ADD_INT INNER JOIN  
                      POL_DWELLINGS_INFO ON POL_HOME_OWNER_ADD_INT.CUSTOMER_ID = POL_DWELLINGS_INFO.CUSTOMER_ID AND   
                      POL_HOME_OWNER_ADD_INT.POLICY_ID = POL_DWELLINGS_INFO.POLICY_ID AND   
                      POL_HOME_OWNER_ADD_INT.POLICY_VERSION_ID = POL_DWELLINGS_INFO.POLICY_VERSION_ID AND   
                      POL_HOME_OWNER_ADD_INT.DWELLING_ID = POL_DWELLINGS_INFO.DWELLING_ID INNER JOIN  
                      POL_LOCATIONS ON POL_DWELLINGS_INFO.CUSTOMER_ID = POL_LOCATIONS.CUSTOMER_ID AND   
                      POL_DWELLINGS_INFO.POLICY_ID = POL_LOCATIONS.POLICY_ID AND   
                      POL_DWELLINGS_INFO.POLICY_VERSION_ID = POL_LOCATIONS.POLICY_VERSION_ID AND   
                      POL_DWELLINGS_INFO.LOCATION_ID = POL_LOCATIONS.LOCATION_ID INNER JOIN  
                      POL_CUSTOMER_POLICY_LIST ON POL_DWELLINGS_INFO.CUSTOMER_ID = POL_CUSTOMER_POLICY_LIST.CUSTOMER_ID AND   
                      POL_DWELLINGS_INFO.POLICY_ID = POL_CUSTOMER_POLICY_LIST.POLICY_ID AND   
                      POL_DWELLINGS_INFO.POLICY_VERSION_ID = POL_CUSTOMER_POLICY_LIST.POLICY_VERSION_ID AND   
                      POL_LOCATIONS.CUSTOMER_ID = POL_CUSTOMER_POLICY_LIST.CUSTOMER_ID AND   
                      POL_LOCATIONS.POLICY_ID = POL_CUSTOMER_POLICY_LIST.POLICY_ID AND   
                      POL_LOCATIONS.POLICY_VERSION_ID = POL_CUSTOMER_POLICY_LIST.POLICY_VERSION_ID INNER JOIN  
                      CLT_CUSTOMER_LIST ON POL_CUSTOMER_POLICY_LIST.CUSTOMER_ID = CLT_CUSTOMER_LIST.CUSTOMER_ID INNER JOIN  
                      MNT_COUNTRY_STATE_LIST ON CLT_CUSTOMER_LIST.CUSTOMER_COUNTRY = MNT_COUNTRY_STATE_LIST.COUNTRY_ID AND   
                      CLT_CUSTOMER_LIST.CUSTOMER_STATE = MNT_COUNTRY_STATE_LIST.STATE_ID INNER JOIN  
                      MNT_LOOKUP_VALUES ON MNT_LOOKUP_VALUES.LOOKUP_UNIQUE_ID = POL_HOME_OWNER_ADD_INT.NATURE_OF_INTEREST LEFT JOIN  
                      MNT_HOLDER_INTEREST_LIST ON MNT_HOLDER_INTEREST_LIST.HOLDER_ID = POL_HOME_OWNER_ADD_INT.HOLDER_ID   
    '  
 --IF (@intCustomerId<>0)  
 IF (@intCustomerId <> '0')  
  
  BEGIN  
   --SELECT @sql=@sql + ' WHERE POL_HOME_OWNER_ADD_INT.CUSTOMER_ID = ' + CAST(@intCustomerId AS VARCHAR(10))  
   SELECT @sql=@sql + ' WHERE POL_HOME_OWNER_ADD_INT.CUSTOMER_ID IN (' + @intCustomerId + ')'    
  END  
 --IF (@intPolicyId<>0)  
 IF (@intPolicyId <> '0')  
   BEGIN  
    --SELECT @sql=@sql + ' AND POL_HOME_OWNER_ADD_INT.POLICY_ID = ' + CAST(@intPolicyId AS VARCHAR(10))  
    SELECT @sql=@sql + ' AND POL_HOME_OWNER_ADD_INT.POLICY_ID IN (' + @intPolicyId + ')'  
   END  
 --Case Added To show Rv additionl interst in Homeowners Policy For Itrack Issue #6393  
SELECT @union = ' SELECT DISTINCT 
						POL_HOMEOWNER_REC_VEH_ADD_INT.MEMO, POL_HOMEOWNER_REC_VEH_ADD_INT.LOAN_REF_NUMBER,
						CASE ISNULL(POL_HOMEOWNER_REC_VEH_ADD_INT.HOLDER_ID,0) WHEN 0 THEN POL_HOMEOWNER_REC_VEH_ADD_INT.HOLDER_NAME  ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_NAME END AS HOLDER_NAME,                                       
						CASE ISNULL(POL_HOMEOWNER_REC_VEH_ADD_INT.HOLDER_ID,0) WHEN 0 THEN POL_HOMEOWNER_REC_VEH_ADD_INT.HOLDER_ADD1  ELSE RTRIM(MNT_HOLDER_INTEREST_LIST.HOLDER_ADD1) END AS HOLDER_ADDRESS1, 
						CASE ISNULL(POL_HOMEOWNER_REC_VEH_ADD_INT.HOLDER_ID,0) WHEN 0 THEN POL_HOMEOWNER_REC_VEH_ADD_INT.HOLDER_ADD2  ELSE RTRIM(MNT_HOLDER_INTEREST_LIST.HOLDER_ADD2) END AS HOLDER_ADDRESS2,     
						CASE ISNULL(POL_HOMEOWNER_REC_VEH_ADD_INT.HOLDER_ID,0) WHEN 0 THEN POL_HOMEOWNER_REC_VEH_ADD_INT.HOLDER_CITY  ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_CITY END AS HOLDER_CITY,   					
						(SELECT STATE_CODE FROM MNT_COUNTRY_STATE_LIST A WHERE A.STATE_ID = CASE ISNULL(MNT_HOLDER_INTEREST_LIST.HOLDER_STATE,0)WHEN 0 THEN POL_HOMEOWNER_REC_VEH_ADD_INT.HOLDER_STATE ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_STATE END 
						AND A.COUNTRY_ID  = CASE ISNULL(MNT_HOLDER_INTEREST_LIST.HOLDER_COUNTRY,0) WHEN 0 THEN POL_HOMEOWNER_REC_VEH_ADD_INT.HOLDER_COUNTRY ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_COUNTRY END ) AS HOLDER_STATE,                     
						CASE ISNULL(POL_HOMEOWNER_REC_VEH_ADD_INT.HOLDER_ID,0) WHEN 0 THEN POL_HOMEOWNER_REC_VEH_ADD_INT.HOLDER_ZIP  ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_ZIP END AS HOLDER_ZIP ,					 
						CLT_CUSTOMER_LIST.CUSTOMER_FIRST_NAME, CLT_CUSTOMER_LIST.CUSTOMER_MIDDLE_NAME,   
						CLT_CUSTOMER_LIST.CUSTOMER_LAST_NAME, CLT_CUSTOMER_LIST.CUSTOMER_ADDRESS1, CLT_CUSTOMER_LIST.CUSTOMER_ADDRESS2,   
						CLT_CUSTOMER_LIST.CUSTOMER_CITY, 
						CASE ISNULL(POL_HOMEOWNER_REC_VEH_ADD_INT.HOLDER_ID,0) WHEN 0 THEN MNT_COUNTRY_STATE_LIST.STATE_CODE	  ELSE MNT_COUNTRY_STATE_LIST.STATE_CODE END AS STATE_CODE,  	
						CLT_CUSTOMER_LIST.CUSTOMER_ZIP,  
     ''Rv Address,'' +  ''Year: ''+  convert(varchar,POL_HOME_OWNER_RECREATIONAL_VEHICLES.YEAR)  + '','' + ''Make:'' 
						+ POL_HOME_OWNER_RECREATIONAL_VEHICLES.MAKE + '', '' + ''Model: '' + POL_HOME_OWNER_RECREATIONAL_VEHICLES.MODEL + '','' + ''Serial: '' + 
         POL_HOME_OWNER_RECREATIONAL_VEHICLES.SERIAL AS LOC_INFO,MNT_LOOKUP_VALUES.LOOKUP_VALUE_DESC
						FROM  POL_HOME_OWNER_RECREATIONAL_VEHICLES
						inner join POL_HOMEOWNER_REC_VEH_ADD_INT 
						ON POL_HOME_OWNER_RECREATIONAL_VEHICLES.CUSTOMER_ID = POL_HOMEOWNER_REC_VEH_ADD_INT.CUSTOMER_ID AND   
						POL_HOME_OWNER_RECREATIONAL_VEHICLES.POLICY_ID = POL_HOMEOWNER_REC_VEH_ADD_INT.POLICY_ID AND   
						POL_HOME_OWNER_RECREATIONAL_VEHICLES.POLICY_VERSION_ID = POL_HOMEOWNER_REC_VEH_ADD_INT.POLICY_VERSION_ID AND   
						POL_HOME_OWNER_RECREATIONAL_VEHICLES.REC_VEH_ID = POL_HOMEOWNER_REC_VEH_ADD_INT.REC_VEH_ID 
						INNER JOIN CLT_CUSTOMER_LIST ON POL_HOME_OWNER_RECREATIONAL_VEHICLES.CUSTOMER_ID = CLT_CUSTOMER_LIST.CUSTOMER_ID  
						INNER JOIN MNT_COUNTRY_STATE_LIST ON CLT_CUSTOMER_LIST.CUSTOMER_COUNTRY = MNT_COUNTRY_STATE_LIST.COUNTRY_ID AND   
						CLT_CUSTOMER_LIST.CUSTOMER_STATE = MNT_COUNTRY_STATE_LIST.STATE_ID INNER JOIN  
						MNT_LOOKUP_VALUES ON MNT_LOOKUP_VALUES.LOOKUP_UNIQUE_ID = POL_HOMEOWNER_REC_VEH_ADD_INT.NATURE_OF_INTEREST 
						LEFT JOIN MNT_HOLDER_INTEREST_LIST ON MNT_HOLDER_INTEREST_LIST.HOLDER_ID = POL_HOMEOWNER_REC_VEH_ADD_INT.HOLDER_ID' 
--print @union
 IF (@intCustomerId <> '0')  
  
  BEGIN  
   --SELECT @sql=@sql + ' WHERE POL_HOME_OWNER_ADD_INT.CUSTOMER_ID = ' + CAST(@intCustomerId AS VARCHAR(10))  
   SELECT @union=@union + ' WHERE POL_HOMEOWNER_REC_VEH_ADD_INT.CUSTOMER_ID IN (' + @intCustomerId + ')'    
  END  
 --IF (@intPolicyId<>0)  
 IF (@intPolicyId <> '0')  
   BEGIN  
    --SELECT @sql=@sql + ' AND POL_HOME_OWNER_ADD_INT.POLICY_ID = ' + CAST(@intPolicyId AS VARCHAR(10))  
    SELECT @union=@union + ' AND POL_HOMEOWNER_REC_VEH_ADD_INT.POLICY_ID IN (' + @intPolicyId + ')'  
   END  
--end here  

--set @sql1 = @sql + ' union ' + @union 

--print(@sql1)  
INSERT INTO #TEMP   
exec(@sql + ' union ' + @union )  
SELECT @sql = ''  
  
-- FOR WATERCRAFTS  
--Distinct Keyword Use For Itrack Issue #5662  
-- Case Added in State For Itrack Issue #6393.  
--Apply Null check in ISNULL(POL_WATERCRAFT_INFO.BOAT_NAME,'''') For Itrack Issue 6393
SELECT @sql = 'SELECT DISTINCT POL_WATERCRAFT_COV_ADD_INT.MEMO, POL_WATERCRAFT_COV_ADD_INT.LOAN_REF_NUMBER,   
					 CASE ISNULL(POL_WATERCRAFT_COV_ADD_INT.HOLDER_ID,0) WHEN 0 THEN POL_WATERCRAFT_COV_ADD_INT.HOLDER_NAME  ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_NAME END AS HOLDER_NAME,                                       
					 CASE ISNULL(POL_WATERCRAFT_COV_ADD_INT.HOLDER_ID,0) WHEN 0 THEN POL_WATERCRAFT_COV_ADD_INT.HOLDER_ADD1  ELSE RTRIM(MNT_HOLDER_INTEREST_LIST.HOLDER_ADD1) END AS HOLDER_ADDRESS1, 
					 CASE ISNULL(POL_WATERCRAFT_COV_ADD_INT.HOLDER_ID,0) WHEN 0 THEN POL_WATERCRAFT_COV_ADD_INT.HOLDER_ADD2  ELSE RTRIM(MNT_HOLDER_INTEREST_LIST.HOLDER_ADD2) END AS HOLDER_ADDRESS2,     
					 CASE ISNULL(POL_WATERCRAFT_COV_ADD_INT.HOLDER_ID,0) WHEN 0 THEN POL_WATERCRAFT_COV_ADD_INT.HOLDER_CITY  ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_CITY END AS HOLDER_CITY,   
					(SELECT STATE_CODE FROM MNT_COUNTRY_STATE_LIST A WHERE A.STATE_ID = CASE ISNULL(MNT_HOLDER_INTEREST_LIST.HOLDER_STATE,0)WHEN 0 THEN POL_WATERCRAFT_COV_ADD_INT.HOLDER_STATE ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_STATE END 
					 AND A.COUNTRY_ID  = CASE ISNULL(MNT_HOLDER_INTEREST_LIST.HOLDER_COUNTRY,0) WHEN 0 THEN POL_WATERCRAFT_COV_ADD_INT.HOLDER_COUNTRY ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_COUNTRY END ) AS HOLDER_STATE,                     
                     CASE ISNULL(POL_WATERCRAFT_COV_ADD_INT.HOLDER_ID,0) WHEN 0 THEN POL_WATERCRAFT_COV_ADD_INT.HOLDER_ZIP  ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_ZIP END AS HOLDER_ZIP ,
                      CLT_CUSTOMER_LIST.CUSTOMER_FIRST_NAME, CLT_CUSTOMER_LIST.CUSTOMER_MIDDLE_NAME,   
                      CLT_CUSTOMER_LIST.CUSTOMER_LAST_NAME, CLT_CUSTOMER_LIST.CUSTOMER_ADDRESS1, CLT_CUSTOMER_LIST.CUSTOMER_ADDRESS2,   
                      CLT_CUSTOMER_LIST.CUSTOMER_CITY,  
					  CASE ISNULL(POL_WATERCRAFT_COV_ADD_INT.HOLDER_ID,0) WHEN 0 THEN MNT_COUNTRY_STATE_LIST.STATE_CODE	  ELSE MNT_COUNTRY_STATE_LIST.STATE_CODE END AS STATE_CODE,   					   
                      CLT_CUSTOMER_LIST.CUSTOMER_ZIP,  
       ''Watercraft Details,'' + ''Boat Name: '' + ISNULL(POL_WATERCRAFT_INFO.BOAT_NAME,'''') + '', '' + ''Year: '' + CAST(POL_WATERCRAFT_INFO.YEAR AS VARCHAR(4)) + '', '' + ''Make: '' + POL_WATERCRAFT_INFO.MAKE + '', '' + ''Model: '' + POL_WATERCRAFT_INFO.MODEL + '','' + ''Serial No: '' + POL_WATERCRAFT_INFO.HULL_ID_NO AS CRAFT_INFO, MNT_LOOKUP_VALUES.LOOKUP_VALUE_DESC  
FROM         POL_WATERCRAFT_COV_ADD_INT INNER JOIN  
                      POL_WATERCRAFT_INFO ON POL_WATERCRAFT_COV_ADD_INT.CUSTOMER_ID = POL_WATERCRAFT_INFO.CUSTOMER_ID AND   
                      POL_WATERCRAFT_COV_ADD_INT.POLICY_ID = POL_WATERCRAFT_INFO.POLICY_ID AND   
                      POL_WATERCRAFT_COV_ADD_INT.POLICY_VERSION_ID = POL_WATERCRAFT_INFO.POLICY_VERSION_ID AND   
                      POL_WATERCRAFT_COV_ADD_INT.BOAT_ID = POL_WATERCRAFT_INFO.BOAT_ID INNER JOIN  
                      POL_CUSTOMER_POLICY_LIST ON POL_WATERCRAFT_INFO.CUSTOMER_ID = POL_CUSTOMER_POLICY_LIST.CUSTOMER_ID AND   
                      POL_WATERCRAFT_INFO.POLICY_ID = POL_CUSTOMER_POLICY_LIST.POLICY_ID AND   
                      POL_WATERCRAFT_INFO.POLICY_VERSION_ID = POL_CUSTOMER_POLICY_LIST.POLICY_VERSION_ID INNER JOIN  
                      CLT_CUSTOMER_LIST ON POL_CUSTOMER_POLICY_LIST.CUSTOMER_ID = CLT_CUSTOMER_LIST.CUSTOMER_ID INNER JOIN  
                      MNT_COUNTRY_STATE_LIST ON CLT_CUSTOMER_LIST.CUSTOMER_COUNTRY = MNT_COUNTRY_STATE_LIST.COUNTRY_ID AND   
                      CLT_CUSTOMER_LIST.CUSTOMER_STATE = MNT_COUNTRY_STATE_LIST.STATE_ID   INNER JOIN  
                      MNT_LOOKUP_VALUES ON MNT_LOOKUP_VALUES.LOOKUP_UNIQUE_ID = POL_WATERCRAFT_COV_ADD_INT.NATURE_OF_INTEREST LEFT JOIN  
                      MNT_HOLDER_INTEREST_LIST ON MNT_HOLDER_INTEREST_LIST.HOLDER_ID = POL_WATERCRAFT_COV_ADD_INT.HOLDER_ID   
                      '  
 --IF (@intCustomerId<>0)  
 IF (@intCustomerId <> '0')  
  BEGIN  
   --SELECT @sql=@sql + ' WHERE POL_WATERCRAFT_COV_ADD_INT.CUSTOMER_ID = ' + CAST(@intCustomerId AS VARCHAR(10))  
   SELECT @sql=@sql + ' WHERE POL_WATERCRAFT_COV_ADD_INT.CUSTOMER_ID IN (' + @intCustomerId + ')'  
  END  
 --IF (@intPolicyId<>0)  
 IF (@intPolicyId <> '0') 
   BEGIN  
    --SELECT @sql=@sql + ' AND POL_WATERCRAFT_COV_ADD_INT.POLICY_ID = ' + CAST(@intPolicyId AS VARCHAR(10))  
    SELECT @sql=@sql + ' AND POL_WATERCRAFT_COV_ADD_INT.POLICY_ID IN (' + @intPolicyId + ')'  
   END  
--print(@sql)  
INSERT INTO #TEMP   
exec(@sql)  
SELECT @sql = ''  
  
-- FOR WATERCRAFT TRAILERS  
--Distinct Keyword Use For Itrack Issue #5662  
-- Case Added in State For Itrack Issue #6393.  
SELECT @sql = '
				SELECT DISTINCT POL_WATERCRAFT_TRAILER_ADD_INT.MEMO, POL_WATERCRAFT_TRAILER_ADD_INT.LOAN_REF_NUMBER,
						CASE ISNULL(POL_WATERCRAFT_TRAILER_ADD_INT.HOLDER_ID,0) WHEN 0 THEN POL_WATERCRAFT_TRAILER_ADD_INT.HOLDER_NAME  ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_NAME END AS HOLDER_NAME,                                       
						CASE ISNULL(POL_WATERCRAFT_TRAILER_ADD_INT.HOLDER_ID,0) WHEN 0 THEN POL_WATERCRAFT_TRAILER_ADD_INT.HOLDER_ADD1  ELSE RTRIM(MNT_HOLDER_INTEREST_LIST.HOLDER_ADD1) END AS HOLDER_ADDRESS1, 
						CASE ISNULL(POL_WATERCRAFT_TRAILER_ADD_INT.HOLDER_ID,0) WHEN 0 THEN POL_WATERCRAFT_TRAILER_ADD_INT.HOLDER_ADD2  ELSE RTRIM(MNT_HOLDER_INTEREST_LIST.HOLDER_ADD2) END AS HOLDER_ADDRESS2,     
						CASE ISNULL(POL_WATERCRAFT_TRAILER_ADD_INT.HOLDER_ID,0) WHEN 0 THEN POL_WATERCRAFT_TRAILER_ADD_INT.HOLDER_CITY  ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_CITY END AS HOLDER_CITY,   
						(SELECT STATE_CODE FROM MNT_COUNTRY_STATE_LIST A WHERE A.STATE_ID = CASE ISNULL(MNT_HOLDER_INTEREST_LIST.HOLDER_STATE,0)WHEN 0 THEN POL_WATERCRAFT_TRAILER_ADD_INT.HOLDER_STATE ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_STATE END 
						AND A.COUNTRY_ID  = CASE ISNULL(MNT_HOLDER_INTEREST_LIST.HOLDER_COUNTRY,0) WHEN 0 THEN POL_WATERCRAFT_TRAILER_ADD_INT.HOLDER_COUNTRY ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_COUNTRY END ) AS HOLDER_STATE,
						CASE ISNULL(POL_WATERCRAFT_TRAILER_ADD_INT.HOLDER_ID,0) WHEN 0 THEN POL_WATERCRAFT_TRAILER_ADD_INT.HOLDER_ZIP  ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_ZIP END AS HOLDER_ZIP ,                        
                      CLT_CUSTOMER_LIST.CUSTOMER_FIRST_NAME, CLT_CUSTOMER_LIST.CUSTOMER_MIDDLE_NAME,   
                      CLT_CUSTOMER_LIST.CUSTOMER_LAST_NAME, CLT_CUSTOMER_LIST.CUSTOMER_ADDRESS1, CLT_CUSTOMER_LIST.CUSTOMER_ADDRESS2,   
                      CLT_CUSTOMER_LIST.CUSTOMER_CITY, 
					 CASE ISNULL(POL_WATERCRAFT_TRAILER_ADD_INT.HOLDER_ID,0) WHEN 0 THEN MNT_COUNTRY_STATE_LIST.STATE_CODE	  ELSE MNT_COUNTRY_STATE_LIST.STATE_CODE END AS STATE_CODE,   							
					 CLT_CUSTOMER_LIST.CUSTOMER_ZIP,  
        ''Watercraft Trailer Details,'' + ''Year: '' + CAST(POL_WATERCRAFT_TRAILER_INFO.YEAR AS VARCHAR(4)) + '', '' + ''Make: '' + POL_WATERCRAFT_TRAILER_INFO.MANUFACTURER + '', '' + ''Serial No: '' + POL_WATERCRAFT_TRAILER_INFO.SERIAL_NO + '', '' + ''Model: '' + POL_WATERCRAFT_TRAILER_INFO.MODEL  AS TRAILER_INFO, MNT_LOOKUP_VALUES.LOOKUP_VALUE_DESC  
FROM         POL_WATERCRAFT_TRAILER_ADD_INT INNER JOIN  
                      POL_WATERCRAFT_TRAILER_INFO ON   
                      POL_WATERCRAFT_TRAILER_ADD_INT.CUSTOMER_ID = POL_WATERCRAFT_TRAILER_INFO.CUSTOMER_ID AND   
                      POL_WATERCRAFT_TRAILER_ADD_INT.POLICY_ID = POL_WATERCRAFT_TRAILER_INFO.POLICY_ID AND   
                      POL_WATERCRAFT_TRAILER_ADD_INT.POLICY_VERSION_ID = POL_WATERCRAFT_TRAILER_INFO.POLICY_VERSION_ID AND   
                      POL_WATERCRAFT_TRAILER_ADD_INT.TRAILER_ID = POL_WATERCRAFT_TRAILER_INFO.TRAILER_ID INNER JOIN  
                      POL_CUSTOMER_POLICY_LIST ON POL_WATERCRAFT_TRAILER_INFO.CUSTOMER_ID = POL_CUSTOMER_POLICY_LIST.CUSTOMER_ID AND   
                      POL_WATERCRAFT_TRAILER_INFO.POLICY_ID = POL_CUSTOMER_POLICY_LIST.POLICY_ID AND   
                      POL_WATERCRAFT_TRAILER_INFO.POLICY_VERSION_ID = POL_CUSTOMER_POLICY_LIST.POLICY_VERSION_ID INNER JOIN  
                      CLT_CUSTOMER_LIST ON POL_CUSTOMER_POLICY_LIST.CUSTOMER_ID = CLT_CUSTOMER_LIST.CUSTOMER_ID INNER JOIN  
                      MNT_COUNTRY_STATE_LIST ON CLT_CUSTOMER_LIST.CUSTOMER_COUNTRY = MNT_COUNTRY_STATE_LIST.COUNTRY_ID AND   
                      CLT_CUSTOMER_LIST.CUSTOMER_STATE = MNT_COUNTRY_STATE_LIST.STATE_ID INNER JOIN  
                      MNT_LOOKUP_VALUES ON MNT_LOOKUP_VALUES.LOOKUP_UNIQUE_ID = POL_WATERCRAFT_TRAILER_ADD_INT.NATURE_OF_INTEREST LEFT JOIN  
                      MNT_HOLDER_INTEREST_LIST ON MNT_HOLDER_INTEREST_LIST.HOLDER_ID = POL_WATERCRAFT_TRAILER_ADD_INT.HOLDER_ID   
       '  
 --IF (@intCustomerId<>0)  
 IF (@intCustomerId <> '0')  
  BEGIN  
   --SELECT @sql=@sql + ' WHERE POL_WATERCRAFT_TRAILER_ADD_INT.CUSTOMER_ID = ' + CAST(@intCustomerId AS VARCHAR(10))  
   SELECT @sql=@sql + ' WHERE POL_WATERCRAFT_TRAILER_ADD_INT.CUSTOMER_ID IN (' + @intCustomerId + ')'   
  END  
 --IF (@intPolicyId<>0)  
 IF (@intPolicyId <> '0')  
   BEGIN  
    --SELECT @sql=@sql + ' AND POL_WATERCRAFT_TRAILER_ADD_INT.POLICY_ID = ' + CAST(@intPolicyId AS VARCHAR(10))  
    SELECT @sql=@sql + ' AND POL_WATERCRAFT_TRAILER_ADD_INT.POLICY_ID IN (' + @intPolicyId + ')'  
   END  
  
--print(@sql)  
INSERT INTO #TEMP   
exec(@sql)  
SELECT @sql = ''  
  
-- FOR CGL 
--Distinct Keyword Use For Itrack Issue #5662   
-- Case Added in State For Itrack Issue #6393.  
SELECT @sql = 'SELECT DISTINCT POL_GENERAL_HOLDER_INTEREST.MEMO, POL_GENERAL_HOLDER_INTEREST.LOAN_REF_NUMBER,
						CASE ISNULL(POL_GENERAL_HOLDER_INTEREST.HOLDER_ID,0) WHEN 0 THEN POL_GENERAL_HOLDER_INTEREST.HOLDER_NAME  ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_NAME END AS HOLDER_NAME,                                       
						CASE ISNULL(POL_GENERAL_HOLDER_INTEREST.HOLDER_ID,0) WHEN 0 THEN POL_GENERAL_HOLDER_INTEREST.HOLDER_ADD1  ELSE RTRIM(MNT_HOLDER_INTEREST_LIST.HOLDER_ADD1) END AS HOLDER_ADDRESS1, 
						CASE ISNULL(POL_GENERAL_HOLDER_INTEREST.HOLDER_ID,0) WHEN 0 THEN POL_GENERAL_HOLDER_INTEREST.HOLDER_ADD2  ELSE RTRIM(MNT_HOLDER_INTEREST_LIST.HOLDER_ADD2) END AS HOLDER_ADDRESS2,     
						CASE ISNULL(POL_GENERAL_HOLDER_INTEREST.HOLDER_ID,0) WHEN 0 THEN POL_GENERAL_HOLDER_INTEREST.HOLDER_CITY  ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_CITY END AS HOLDER_CITY,   						
(SELECT STATE_CODE FROM MNT_COUNTRY_STATE_LIST A WHERE A.STATE_ID = CASE ISNULL(MNT_HOLDER_INTEREST_LIST.HOLDER_STATE,0)WHEN 0 THEN POL_GENERAL_HOLDER_INTEREST.HOLDER_STATE ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_STATE END 
						AND A.COUNTRY_ID  = CASE ISNULL(MNT_HOLDER_INTEREST_LIST.HOLDER_COUNTRY,0) WHEN 0 THEN POL_GENERAL_HOLDER_INTEREST.HOLDER_COUNTRY ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_COUNTRY END ) AS HOLDER_STATE,
                       CASE ISNULL(POL_GENERAL_HOLDER_INTEREST.HOLDER_ID,0) WHEN 0 THEN POL_GENERAL_HOLDER_INTEREST.HOLDER_ZIP  ELSE MNT_HOLDER_INTEREST_LIST.HOLDER_ZIP END AS HOLDER_ZIP ,                      
                      CLT_CUSTOMER_LIST.CUSTOMER_FIRST_NAME, CLT_CUSTOMER_LIST.CUSTOMER_MIDDLE_NAME,   
                      CLT_CUSTOMER_LIST.CUSTOMER_LAST_NAME, CLT_CUSTOMER_LIST.CUSTOMER_ADDRESS1, CLT_CUSTOMER_LIST.CUSTOMER_ADDRESS2,   
                      CLT_CUSTOMER_LIST.CUSTOMER_CITY, 
					   CASE ISNULL(POL_GENERAL_HOLDER_INTEREST.HOLDER_ID,0) WHEN 0 THEN MNT_COUNTRY_STATE_LIST.STATE_CODE	  ELSE MNT_COUNTRY_STATE_LIST.STATE_CODE END AS STATE_CODE,   						
                      CLT_CUSTOMER_LIST.CUSTOMER_ZIP,  
        ''Location Address,'' + POL_LOCATIONS.LOC_ADD1 + '', '' + POL_LOCATIONS.LOC_ADD2 + '', '' + POL_LOCATIONS.LOC_CITY + '', '' + (SELECT STATE_CODE FROM MNT_COUNTRY_STATE_LIST A WHERE A.STATE_ID = POL_LOCATIONS.LOC_STATE AND A.COUNTRY_ID = POL_LOCATIONS.LOC_COUNTRY) + '' '' + POL_LOCATIONS.LOC_ZIP AS LOC_INFO, MNT_LOOKUP_VALUES.LOOKUP_VALUE_DESC  
FROM          POL_GENERAL_HOLDER_INTEREST INNER JOIN  
                      POL_DWELLINGS_INFO ON POL_GENERAL_HOLDER_INTEREST.CUSTOMER_ID = POL_DWELLINGS_INFO.CUSTOMER_ID AND   
                      POL_GENERAL_HOLDER_INTEREST.POLICY_ID = POL_DWELLINGS_INFO.POLICY_ID AND   
                      POL_GENERAL_HOLDER_INTEREST.POLICY_VERSION_ID = POL_DWELLINGS_INFO.POLICY_VERSION_ID AND   
                      POL_GENERAL_HOLDER_INTEREST.DWELLING_ID = POL_DWELLINGS_INFO.DWELLING_ID INNER JOIN  
                      POL_LOCATIONS ON POL_DWELLINGS_INFO.CUSTOMER_ID = POL_LOCATIONS.CUSTOMER_ID AND   
                      POL_DWELLINGS_INFO.POLICY_ID = POL_LOCATIONS.POLICY_ID AND   
                      POL_DWELLINGS_INFO.POLICY_VERSION_ID = POL_LOCATIONS.POLICY_VERSION_ID AND   
                      POL_DWELLINGS_INFO.LOCATION_ID = POL_LOCATIONS.LOCATION_ID INNER JOIN  
                      POL_CUSTOMER_POLICY_LIST ON POL_DWELLINGS_INFO.CUSTOMER_ID = POL_CUSTOMER_POLICY_LIST.CUSTOMER_ID AND   
                      POL_DWELLINGS_INFO.POLICY_ID = POL_CUSTOMER_POLICY_LIST.POLICY_ID AND   
                      POL_DWELLINGS_INFO.POLICY_VERSION_ID = POL_CUSTOMER_POLICY_LIST.POLICY_VERSION_ID AND   
                      POL_LOCATIONS.CUSTOMER_ID = POL_CUSTOMER_POLICY_LIST.CUSTOMER_ID AND   
                      POL_LOCATIONS.POLICY_ID = POL_CUSTOMER_POLICY_LIST.POLICY_ID AND   
                      POL_LOCATIONS.POLICY_VERSION_ID = POL_CUSTOMER_POLICY_LIST.POLICY_VERSION_ID INNER JOIN  
                      CLT_CUSTOMER_LIST ON POL_CUSTOMER_POLICY_LIST.CUSTOMER_ID = CLT_CUSTOMER_LIST.CUSTOMER_ID INNER JOIN  
                      MNT_COUNTRY_STATE_LIST ON CLT_CUSTOMER_LIST.CUSTOMER_COUNTRY = MNT_COUNTRY_STATE_LIST.COUNTRY_ID AND   
                      CLT_CUSTOMER_LIST.CUSTOMER_STATE = MNT_COUNTRY_STATE_LIST.STATE_ID INNER JOIN  
                      MNT_LOOKUP_VALUES ON MNT_LOOKUP_VALUES.LOOKUP_UNIQUE_ID = POL_GENERAL_HOLDER_INTEREST.NATURE_OF_INTEREST LEFT JOIN  
                      MNT_HOLDER_INTEREST_LIST ON MNT_HOLDER_INTEREST_LIST.HOLDER_ID = POL_GENERAL_HOLDER_INTEREST.HOLDER_ID   

                      '  
 --IF (@intCustomerId<>0)  
 IF (@intCustomerId <> '0')  
  BEGIN  
   --SELECT @sql=@sql + ' WHERE POL_GENERAL_HOLDER_INTEREST.CUSTOMER_ID = ' + CAST(@intCustomerId AS VARCHAR(10))  
   SELECT @sql=@sql + ' WHERE POL_GENERAL_HOLDER_INTEREST.CUSTOMER_ID IN (' + @intCustomerId + ')'   
  END  
 --IF (@intPolicyId<>0)  
 IF (@intPolicyId <> '0')  
   BEGIN  
    --SELECT @sql=@sql + ' AND POL_GENERAL_HOLDER_INTEREST.POLICY_ID = ' + CAST(@intPolicyId AS VARCHAR(10))  
    SELECT @sql=@sql + ' AND POL_GENERAL_HOLDER_INTEREST.POLICY_ID IN (' + @intPolicyId + ')'  
   END  
  
--print(@sql)  
INSERT INTO #TEMP   
exec(@sql)  
SELECT @sql = ''  
  
SELECT * FROM #TEMP  location

  
END  
  
  
--go
----exec dbo.rpt_ClientHolderListing '1754','2'
----exec dbo.rpt_ClientHolderListing '1908','21'
--exec dbo.rpt_ClientHolderListing '1962','5,4,3,2,1'
----exec dbo.rpt_ClientHolderListing '1962','2'
--rollback tran
  
  

  
  






GO

