IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_UPDATE_PAGNET_EXPORT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_UPDATE_PAGNET_EXPORT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


--drop proc PROC_UPDATE_PAGNET_EXPORT  
  
CREATE PROC [dbo].[PROC_UPDATE_PAGNET_EXPORT] --105312,'Y',test  
@PAYMENT_ID VARCHAR(25),  
@IS_EXPORT VARCHAR(1)=null,  
@RETURN_STATUS VARCHAR(1) =null, 
@BENEFICIARY_BANK_ACCOUNT_NUMBER VARCHAR(50)=null,
@PAYEE_BANK_ACCOUNT_NO VARCHAR(50) =NULL,
@OPERATION_TYPE VARCHAR(3) =NULL,
@FILE_NAME VARCHAR(500)=null  
AS  
  
BEGIN  

	DECLARE @TEMP_ID INT, @FILE_ID INT=NULL

	SELECT @FILE_ID = ID FROM PAGNET_EXPORT_FILES WHERE FILE_NAMES = @FILE_NAME


	SELECT @TEMP_ID = MAX(ID) FROM
	 PAGNET_EXPORT_RECORD
	 WHERE CAST(PAYMENT_ID AS VARCHAR(25)) =   @PAYMENT_ID
	 GROUP BY PAYMENT_ID
	IF EXISTS( SELECT * FROM  PAGNET_EXPORT_RECORD WHERE CAST(PAYMENT_ID AS VARCHAR(25)) =   @PAYMENT_ID AND  [FILE_ID] is null )
		BEGIN

		UPDATE PAGNET_EXPORT_RECORD 
		SET --FILE_NAMES = @FILE_NAME,  
		BENEFICIARY_BANK_ACCOUNT_NUMBER = @BENEFICIARY_BANK_ACCOUNT_NUMBER,
		PAYEE_BANK_ACCOUNT_NO=@PAYEE_BANK_ACCOUNT_NO,
		IS_EXPORT =@IS_EXPORT,
		OPERATION_TYPE=@OPERATION_TYPE, 
		PROCESSED =  'Y',
		[FILE_ID]=@FILE_ID
		--,RETURN_STATUS = @RETURN_STATUS  
		WHERE CAST(PAYMENT_ID AS VARCHAR(25)) =   @PAYMENT_ID  
		AND  [FILE_ID] IS NULL
		AND ID=@TEMP_ID
		END
END  
  
  

GO

