IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_MIG_COINSURANCE_NEW_BUSINESS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_MIG_COINSURANCE_NEW_BUSINESS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		SANTOSH KUMAR GAUTAM
-- Create date: 26 APRIL 2011
-- Description:	SCRIPTS CREATES NEW BUSINESS FOR FOLLOWER
-- =============================================
-- DROP PROC [PROC_MIG_COINSURANCE_NEW_BUSINESS]
CREATE PROCEDURE [dbo].[PROC_MIG_COINSURANCE_NEW_BUSINESS]
	
AS
BEGIN
	SET NOCOUNT ON;
	

	TRUNCATE TABLE MIG_NEW_BUSINESSTEMP_TABLE
	
	
	INSERT INTO MIG_NEW_BUSINESS_TEMP_TABLE
	(
	 POLICY_LOB
	,POLICY_SUBLOB 
	,SUSEP_LEADER_CODE 
	,APPLICANT_NAME 
	,CPF_CNPJ 
	,COINSURENCE_TRANSACTION_ID 
	,BROKER_CODE 
	,COINSURENCE_SHARE_PERCENTAGE 
	,TOTAL_COMMISSION_PERCENTAGE 
	,DISCOUNT_PERCENTAGE 
	,SUM_COVERAGE_INSURED  
	,TRANSACTION_TYPE 
	,LEADER_POLICY_NUMBER 
	,LEADER_ENDORSEMENT_NUMBER 
    ,ENDORSEMENT_COMMIT_DATE 
	,ENDORSEMENT_EFFECTIVE_DATE 
	,ENDORSEMENT_EXPIRE_DATE 
	,NO_OF_INSTALLMENTS 
	,POLICY_CURRENCY 
	,POLICY_CURRENCY_EXCHANGE_RATE_DATE
	,INSTALLMENT_AMOUNT1 
	,DISCOUNT_AMOUNT_PER_INSTALLMENT1 
	,INTREST_AMOUNT_PER_INSTALLMENT1 
	,COMMISSION_AMOUNT_PER_INSTALLMENT1 
	,INSTALLMENT_DUE_DATE1 
	,INSTALLMENT_NO1
	,INSTALLMENT_AMOUNT2
	,DISCOUNT_AMOUNT_PER_INSTALLMENT2
	,INTREST_AMOUNT_PER_INSTALLMENT2 
	,COMMISSION_AMOUNT_PER_INSTALLMENT2
	,INSTALLMENT_DUE_DATE2
	,INSTALLMENT_NO2
	,INSTALLMENT_AMOUNT3
	,DISCOUNT_AMOUNT_PER_INSTALLMENT3
	,INTREST_AMOUNT_PER_INSTALLMENT3
	,COMMISSION_AMOUNT_PER_INSTALLMENT3
	,INSTALLMENT_DUE_DATE3
	,INSTALLMENT_NO3
	,INSTALLMENT_AMOUNT4
	,DISCOUNT_AMOUNT_PER_INSTALLMENT4
	,INTREST_AMOUNT_PER_INSTALLMENT4
	,COMMISSION_AMOUNT_PER_INSTALLMENT4
	,INSTALLMENT_DUE_DATE4
	,INSTALLMENT_NO4
	,INSTALLMENT_AMOUNT5
	,DISCOUNT_AMOUNT_PER_INSTALLMENT5
	,INTREST_AMOUNT_PER_INSTALLMENT5
	,COMMISSION_AMOUNT_PER_INSTALLMENT5
	,INSTALLMENT_DUE_DATE5
	,INSTALLMENT_NO5
	,INSTALLMENT_AMOUNT6
	,DISCOUNT_AMOUNT_PER_INSTALLMENT6
	,INTREST_AMOUNT_PER_INSTALLMENT6
	,COMMISSION_AMOUNT_PER_INSTALLMENT6
	,INSTALLMENT_DUE_DATE6
	,INSTALLMENT_NO6
	,INSTALLMENT_AMOUNT7
	,DISCOUNT_AMOUNT_PER_INSTALLMENT7
	,INTREST_AMOUNT_PER_INSTALLMENT7
	,COMMISSION_AMOUNT_PER_INSTALLMENT7
	,INSTALLMENT_DUE_DATE7
	,INSTALLMENT_NO7
	,INSTALLMENT_AMOUNT8
	,DISCOUNT_AMOUNT_PER_INSTALLMENT8
	,INTREST_AMOUNT_PER_INSTALLMENT8

	,COMMISSION_AMOUNT_PER_INSTALLMENT8
	,INSTALLMENT_DUE_DATE8
	,INSTALLMENT_NO8
	,INSTALLMENT_AMOUNT9
	,DISCOUNT_AMOUNT_PER_INSTALLMENT9
	,INTREST_AMOUNT_PER_INSTALLMENT9
	,COMMISSION_AMOUNT_PER_INSTALLMENT9
	,INSTALLMENT_DUE_DATE9
	,INSTALLMENT_NO9
	,INSTALLMENT_AMOUNT10
	,DISCOUNT_AMOUNT_PER_INSTALLMENT10
	,INTREST_AMOUNT_PER_INSTALLMENT10
	,COMMISSION_AMOUNT_PER_INSTALLMENT10
	,INSTALLMENT_DUE_DATE10
	,INSTALLMENT_NO10
	,INSTALLMENT_AMOUNT11
	,DISCOUNT_AMOUNT_PER_INSTALLMENT11
	,INTREST_AMOUNT_PER_INSTALLMENT11
	,COMMISSION_AMOUNT_PER_INSTALLMENT11
	,INSTALLMENT_DUE_DATE11
	,INSTALLMENT_NO11
	,INSTALLMENT_AMOUNT12
	,DISCOUNT_AMOUNT_PER_INSTALLMENT12
	,INTREST_AMOUNT_PER_INSTALLMENT12
	,COMMISSION_AMOUNT_PER_INSTALLMENT12
	,INSTALLMENT_DUE_DATE12
	,INSTALLMENT_NO12
	,POLICY_SPECIFICATION 
	,PRODUCT_CODE_LEADER 
	,COINSURANCE_COMMISSION 
	)
	
	
	
	
		SELECT 
		SUBSTRING(Column1,1,2) as POLICY_LOB,
		SUBSTRING(Column1,3,2) as POLICY_SUBLOB,
		SUBSTRING(Column1,5,3) as SUSEP_LEADER_CODE,
		SUBSTRING(Column1,8,40) as APPLICANT_NAME,
		SUBSTRING(Column1,48,14)as CPF_CNPJ,
		CONVERT(DECIMAL,SUBSTRING(Column1,62,13)) as COINSURENCE_TRANSACTION_ID,
		SUBSTRING(Column1,75,9) as BROKER_CODE,
		SUBSTRING(Column1,84,4)/100 as COINSURENCE_SHARE_PERCENTAGE,
		SUBSTRING(Column1,88,4)/100 as TOTAL_COMMISSION_PERCENTAGE,
		SUBSTRING(Column1,92,4)/100 as DISCOUNT_PERCENTAGE,
		convert(decimal(11,2),(SUBSTRING([Column1],96,13)) + '.'+  
		(SUBSTRING([Column1],109,2))) AS SUM_COVERAGE_INSURED,
		--SUBSTRING(Column1,96,15) as SUM_COVERAGE_INSURED,
		SUBSTRING(Column1,111,2) as TRANSACTION_TYPE,
		CONVERT(DECIMAL,SUBSTRING(Column1,113,7)) as LEADER_POLICY_NUMBER,
		CONVERT(DECIMAL,SUBSTRING(Column1,120,6)) as LEADER_ENDORSEMENT_NUMBER,
		CONVERT(DATETIME,
		RIGHT(SUBSTRING(Column1,126,8),4)+'-'+LEFT(SUBSTRING(Column1,128,2),2)+'-'+LEFT(
		SUBSTRING(Column1,126,8),2)+ ' 00:00:00.000') as ENDORSEMENT_COMMIT_DATE,
		CONVERT(DATETIME,
		RIGHT(SUBSTRING(Column1,134,8),4)+'-'+LEFT(SUBSTRING(Column1,136,2),2)+'-'+LEFT(
		SUBSTRING(Column1,134,8),2)+ ' 00:00:00.000') as ENDORSEMENT_EFFECTIVE_DATE,

		----SUBSTRING(Column1,134,8) as ENDORSEMENT_EFFECTIVE_DATE,
		CONVERT(DATETIME,
		RIGHT(SUBSTRING(Column1,142,8),4)+'-'+LEFT(SUBSTRING(Column1,144,2),2)+'-'+LEFT(
		SUBSTRING(Column1,142,8),2)+ ' 00:00:00.000') as ENDORSEMENT_EXPIRE_DATE,

		--SUBSTRING(Column1,142,8) as ENDORSEMENT_EXPIRE_DATE,
		SUBSTRING(Column1,150,2) as INSTALLMENT_NO,
		SUBSTRING(Column1,152,2) as POLICY_CURRENCY,
		CONVERT(DATETIME,
		RIGHT(SUBSTRING(Column1,154,8),4)+'-'+LEFT(SUBSTRING(Column1,156,2),2)+'-'+LEFT(
		SUBSTRING(Column1,154,8),2)+ ' 00:00:00.000') as POLICY_CURRENCY_EXCHANGE_RATE_DATE,

		--SUBSTRING(Column1,154,8) as POLICY_CURRENCY_EXCHANGE_RATE_DATE,

		  
		-- INSTALLMENT 1
convert(decimal(11,2),(SUBSTRING([Column1],162,11)) + '.'+  
		(SUBSTRING([Column1],173,2))) AS INSTALLMENT_AMOUNT1,

		--SUBSTRING(Column1,162,13) as INSTALLMENT_AMOUNT,
		convert(decimal(11,2),(SUBSTRING([Column1],175,11)) + '.'+  
		(SUBSTRING([Column1],186,2))) AS DISCOUNT_AMOUNT_PER_INSTALLMENT1,

		--SUBSTRING(Column1,175,13) as DISCOUNT_AMOUNT_PER_INSTALLMENT,
		convert(decimal(11,2),(SUBSTRING([Column1],188,11)) + '.'+  
		(SUBSTRING([Column1],199,2))) AS INTREST_AMOUNT_PER_INSTALLMENT1,

		--SUBSTRING(Column1,188,13) as INTREST_AMOUNT_PER_INSTALLMENT,
		convert(decimal(11,2),(SUBSTRING([Column1],201,11)) + '.'+  
		(SUBSTRING([Column1],212,2))) AS COMMISSION_AMOUNT_PER_INSTALLMENT1,

		CASE WHEN LEN(CONVERT(DECIMAL(10,0),SUBSTRING(Column1,214,8)))>2
			THEN
		CONVERT(DATETIME,
		RIGHT(SUBSTRING(Column1,214,8),4)+'-'+LEFT(SUBSTRING(Column1,216,2),2)+'-'+LEFT(
		SUBSTRING(Column1,214,8),2)+ ' 00:00:00.000') 
			ELSE NULL
			END as INSTALLMENT_DUE_DATE1,
			
			SUBSTRING(Column1,222,2) as INSTALLMENT_NO1,
	-- INSTALLMENT 2
	convert(decimal(11,2),(SUBSTRING([Column1],224,11)) + '.'+  
		(SUBSTRING([Column1],235,2))) AS INSTALLMENT_AMOUNT2,

		--SUBSTRING(Column1,162,13) as INSTALLMENT_AMOUNT,
		convert(decimal(11,2),(SUBSTRING([Column1],237,11)) + '.'+  
		(SUBSTRING([Column1],248,2))) AS DISCOUNT_AMOUNT_PER_INSTALLMENT2,

		----SUBSTRING(Column1,175,13) as DISCOUNT_AMOUNT_PER_INSTALLMENT,
		convert(decimal(11,2),(SUBSTRING([Column1],250,11)) + '.'+  
		(SUBSTRING([Column1],261,2))) AS INTREST_AMOUNT_PER_INSTALLMENT2,

		----SUBSTRING(Column1,188,13) as INTREST_AMOUNT_PER_INSTALLMENT,
		convert(decimal(11,2),(SUBSTRING([Column1],263,11)) + '.'+  
		(SUBSTRING([Column1],274,2))) AS COMMISSION_AMOUNT_PER_INSTALLMENT2,

		CASE WHEN LEN(CONVERT(DECIMAL(10,0),SUBSTRING(Column1,276,8)))>2
			THEN
		CONVERT(DATETIME,
		RIGHT(SUBSTRING(Column1,276,8),4)+'-'+LEFT(SUBSTRING(Column1,278,2),2)+'-'+LEFT(
		SUBSTRING(Column1,276,8),2)+ ' 00:00:00.000') 
			ELSE NULL
			END as INSTALLMENT_DUE_DATE2,
			
			SUBSTRING(Column1,284,2) as INSTALLMENT_NO2,
			
			-- INSTALLMENT 3
				convert(decimal(11,2),(SUBSTRING([Column1],286,11)) + '.'+  
		(SUBSTRING([Column1],297,2))) AS INSTALLMENT_AMOUNT3,

		--SUBSTRING(Column1,162,13) as INSTALLMENT_AMOUNT,
		convert(decimal(11,2),(SUBSTRING([Column1],299,11)) + '.'+  
		(SUBSTRING([Column1],310,2))) AS DISCOUNT_AMOUNT_PER_INSTALLMENT3,

		----SUBSTRING(Column1,175,13) as DISCOUNT_AMOUNT_PER_INSTALLMENT,
		convert(decimal(11,2),(SUBSTRING([Column1],312,11)) + '.'+  
		(SUBSTRING([Column1],323,2))) AS INTREST_AMOUNT_PER_INSTALLMENT3,

		----SUBSTRING(Column1,188,13) as INTREST_AMOUNT_PER_INSTALLMENT,
		convert(decimal(11,2),(SUBSTRING([Column1],325,11)) + '.'+  
		(SUBSTRING([Column1],336,2))) AS COMMISSION_AMOUNT_PER_INSTALLMENT3,

		CASE WHEN LEN(CONVERT(DECIMAL(10,0),SUBSTRING(Column1,338,8)))>2
			THEN
		CONVERT(DATETIME,
		RIGHT(SUBSTRING(Column1,338,8),4)+'-'+LEFT(SUBSTRING(Column1,340,2),2)+'-'+LEFT(
		SUBSTRING(Column1,338,8),2)+ ' 00:00:00.000') 
			ELSE NULL
			END as INSTALLMENT_DUE_DATE3,
			
			SUBSTRING(Column1,346,2) as INSTALLMENT_NO3,
			
			
			-- INSTALLMENT 4
			
				convert(decimal(11,2),(SUBSTRING([Column1],348,11)) + '.'+  
		(SUBSTRING([Column1],359,2))) AS INSTALLMENT_AMOUNT4,

		--SUBSTRING(Column1,162,13) as INSTALLMENT_AMOUNT,
		convert(decimal(11,2),(SUBSTRING([Column1],361,11)) + '.'+  
		(SUBSTRING([Column1],372,2))) AS DISCOUNT_AMOUNT_PER_INSTALLMENT4,

		----SUBSTRING(Column1,175,13) as DISCOUNT_AMOUNT_PER_INSTALLMENT,
		convert(decimal(11,2),(SUBSTRING([Column1],374,11)) + '.'+  
		(SUBSTRING([Column1],385,2))) AS INTREST_AMOUNT_PER_INSTALLMENT4,

		----SUBSTRING(Column1,188,13) as INTREST_AMOUNT_PER_INSTALLMENT,
		convert(decimal(11,2),(SUBSTRING([Column1],387,11)) + '.'+  
		(SUBSTRING([Column1],398,2))) AS COMMISSION_AMOUNT_PER_INSTALLMENT4,

		CASE WHEN LEN(CONVERT(DECIMAL(10,0),SUBSTRING(Column1,400,8)))>2
			THEN
		CONVERT(DATETIME,
		RIGHT(SUBSTRING(Column1,400,8),4)+'-'+LEFT(SUBSTRING(Column1,402,2),2)+'-'+LEFT(
		SUBSTRING(Column1,400,8),2)+ ' 00:00:00.000') 
			ELSE NULL
			END as INSTALLMENT_DUE_DATE4,
			
			SUBSTRING(Column1,408,2) as INSTALLMENT_NO4,
			
			
				-- INSTALLMENT 5
			
				convert(decimal(11,2),(SUBSTRING([Column1],410,11)) + '.'+  
		(SUBSTRING([Column1],421,2))) AS INSTALLMENT_AMOUNT5,

		--SUBSTRING(Column1,162,13) as INSTALLMENT_AMOUNT,
		convert(decimal(11,2),(SUBSTRING([Column1],423,11)) + '.'+  
		(SUBSTRING([Column1],434,2))) AS DISCOUNT_AMOUNT_PER_INSTALLMENT5,

		----SUBSTRING(Column1,175,13) as DISCOUNT_AMOUNT_PER_INSTALLMENT,
		convert(decimal(11,2),(SUBSTRING([Column1],436,11)) + '.'+  
		(SUBSTRING([Column1],447,2))) AS INTREST_AMOUNT_PER_INSTALLMENT5,

		----SUBSTRING(Column1,188,13) as INTREST_AMOUNT_PER_INSTALLMENT,
		convert(decimal(11,2),(SUBSTRING([Column1],449,11)) + '.'+  
		(SUBSTRING([Column1],460,2))) AS COMMISSION_AMOUNT_PER_INSTALLMENT5,

		CASE WHEN LEN(CONVERT(DECIMAL(10,0),SUBSTRING(Column1,462,8)))>2
			THEN
		CONVERT(DATETIME,
		RIGHT(SUBSTRING(Column1,462,8),4)+'-'+LEFT(SUBSTRING(Column1,464,2),2)+'-'+LEFT(
		SUBSTRING(Column1,462,8),2)+ ' 00:00:00.000') 
			ELSE NULL
			END as INSTALLMENT_DUE_DATE5,
			
			SUBSTRING(Column1,470,2) as INSTALLMENT_NO5	,
			
		
			-- INSTALLMENT 6
			
				convert(decimal(11,2),(SUBSTRING([Column1],472,11)) + '.'+  
		(SUBSTRING([Column1],483,2))) AS INSTALLMENT_AMOUNT6,

		--SUBSTRING(Column1,162,13) as INSTALLMENT_AMOUNT,
		convert(decimal(11,2),(SUBSTRING([Column1],485,11)) + '.'+  
		(SUBSTRING([Column1],496,2))) AS DISCOUNT_AMOUNT_PER_INSTALLMENT6,

		----SUBSTRING(Column1,175,13) as DISCOUNT_AMOUNT_PER_INSTALLMENT,
		convert(decimal(11,2),(SUBSTRING([Column1],498,11)) + '.'+  
		(SUBSTRING([Column1],509,2))) AS INTREST_AMOUNT_PER_INSTALLMENT6,

		----SUBSTRING(Column1,188,13) as INTREST_AMOUNT_PER_INSTALLMENT,
		convert(decimal(11,2),(SUBSTRING([Column1],511,11)) + '.'+  
		(SUBSTRING([Column1],522,2))) AS COMMISSION_AMOUNT_PER_INSTALLMENT6,

		CASE WHEN LEN(CONVERT(DECIMAL(10,0),SUBSTRING(Column1,524,8)))>2
			THEN
		CONVERT(DATETIME,
		RIGHT(SUBSTRING(Column1,524,8),4)+'-'+LEFT(SUBSTRING(Column1,526,2),2)+'-'+LEFT(
		SUBSTRING(Column1,524,8),2)+ ' 00:00:00.000') 
			ELSE NULL
			END as INSTALLMENT_DUE_DATE6,
			
			SUBSTRING(Column1,532,2) as INSTALLMENT_NO6,
			


-- INSTALLMENT 7
			
				convert(decimal(11,2),(SUBSTRING([Column1],534,11)) + '.'+  
		(SUBSTRING([Column1],545,2))) AS INSTALLMENT_AMOUNT7,

		--SUBSTRING(Column1,162,13) as INSTALLMENT_AMOUNT,
		convert(decimal(11,2),(SUBSTRING([Column1],547,11)) + '.'+  
		(SUBSTRING([Column1],558,2))) AS DISCOUNT_AMOUNT_PER_INSTALLMENT7,

		----SUBSTRING(Column1,175,13) as DISCOUNT_AMOUNT_PER_INSTALLMENT,
		convert(decimal(11,2),(SUBSTRING([Column1],560,11)) + '.'+  
		(SUBSTRING([Column1],571,2))) AS INTREST_AMOUNT_PER_INSTALLMENT7,

		----SUBSTRING(Column1,188,13) as INTREST_AMOUNT_PER_INSTALLMENT,
		convert(decimal(11,2),(SUBSTRING([Column1],573,11)) + '.'+  
		(SUBSTRING([Column1],584,2))) AS COMMISSION_AMOUNT_PER_INSTALLMENT7,

		CASE WHEN LEN(CONVERT(DECIMAL(10,0),SUBSTRING(Column1,586,8)))>2
			THEN
		CONVERT(DATETIME,
		RIGHT(SUBSTRING(Column1,586,8),4)+'-'+LEFT(SUBSTRING(Column1,588,2),2)+'-'+LEFT(
		SUBSTRING(Column1,586,8),2)+ ' 00:00:00.000') 
			ELSE NULL
			END as INSTALLMENT_DUE_DATE7,
			
			SUBSTRING(Column1,594,2) as INSTALLMENT_NO7,
			
		-- INSTALLMENT 8
			
				convert(decimal(11,2),(SUBSTRING([Column1],596,11)) + '.'+  
		(SUBSTRING([Column1],607,2))) AS INSTALLMENT_AMOUNT8,

		--SUBSTRING(Column1,162,13) as INSTALLMENT_AMOUNT,
		convert(decimal(11,2),(SUBSTRING([Column1],609,11)) + '.'+  
		(SUBSTRING([Column1],620,2))) AS DISCOUNT_AMOUNT_PER_INSTALLMENT8,

		----SUBSTRING(Column1,175,13) as DISCOUNT_AMOUNT_PER_INSTALLMENT,
		convert(decimal(11,2),(SUBSTRING([Column1],622,11)) + '.'+  
		(SUBSTRING([Column1],633,2))) AS INTREST_AMOUNT_PER_INSTALLMENT8,

		----SUBSTRING(Column1,188,13) as INTREST_AMOUNT_PER_INSTALLMENT,
		convert(decimal(11,2),(SUBSTRING([Column1],635,11)) + '.'+  
		(SUBSTRING([Column1],646,2))) AS COMMISSION_AMOUNT_PER_INSTALLMENT8,

		CASE WHEN LEN(CONVERT(DECIMAL(10,0),SUBSTRING(Column1,648,8)))>2
			THEN
		CONVERT(DATETIME,
		RIGHT(SUBSTRING(Column1,648,8),4)+'-'+LEFT(SUBSTRING(Column1,650,2),2)+'-'+LEFT(
		SUBSTRING(Column1,648,8),2)+ ' 00:00:00.000') 
			ELSE NULL
			END as INSTALLMENT_DUE_DATE8,
			
			SUBSTRING(Column1,656,2) as INSTALLMENT_NO8,
			
		-- INSTALLMENT 9
			
				convert(decimal(11,2),(SUBSTRING([Column1],658,11)) + '.'+  
		(SUBSTRING([Column1],669,2))) AS INSTALLMENT_AMOUNT9,

		--SUBSTRING(Column1,162,13) as INSTALLMENT_AMOUNT,
		convert(decimal(11,2),(SUBSTRING([Column1],671,11)) + '.'+  
		(SUBSTRING([Column1],682,2))) AS DISCOUNT_AMOUNT_PER_INSTALLMENT9,

		----SUBSTRING(Column1,175,13) as DISCOUNT_AMOUNT_PER_INSTALLMENT,
		convert(decimal(11,2),(SUBSTRING([Column1],684,11)) + '.'+  
		(SUBSTRING([Column1],695,2))) AS INTREST_AMOUNT_PER_INSTALLMENT9,

		----SUBSTRING(Column1,188,13) as INTREST_AMOUNT_PER_INSTALLMENT,
		convert(decimal(11,2),(SUBSTRING([Column1],697,11)) + '.'+  
		(SUBSTRING([Column1],708,2))) AS COMMISSION_AMOUNT_PER_INSTALLMENT9,

		CASE WHEN LEN(CONVERT(DECIMAL(10,0),SUBSTRING(Column1,710,8)))>2
			THEN
		CONVERT(DATETIME,
		RIGHT(SUBSTRING(Column1,710,8),4)+'-'+LEFT(SUBSTRING(Column1,712,2),2)+'-'+LEFT(
		SUBSTRING(Column1,710,8),2)+ ' 00:00:00.000') 
			ELSE NULL
			END as INSTALLMENT_DUE_DATE9,
			
			SUBSTRING(Column1,718,2) as INSTALLMENT_NO9,
		
				-- INSTALLMENT 10
			
				convert(decimal(11,2),(SUBSTRING([Column1],720,11)) + '.'+  
		(SUBSTRING([Column1],731,2))) AS INSTALLMENT_AMOUNT10,

		--SUBSTRING(Column1,162,13) as INSTALLMENT_AMOUNT,
		convert(decimal(11,2),(SUBSTRING([Column1],732,11)) + '.'+  
		(SUBSTRING([Column1],743,2))) AS DISCOUNT_AMOUNT_PER_INSTALLMENT10,

		----SUBSTRING(Column1,175,13) as DISCOUNT_AMOUNT_PER_INSTALLMENT,
		convert(decimal(11,2),(SUBSTRING([Column1],745,11)) + '.'+  
		(SUBSTRING([Column1],756,2))) AS INTREST_AMOUNT_PER_INSTALLMENT10,

		----SUBSTRING(Column1,188,13) as INTREST_AMOUNT_PER_INSTALLMENT,
		convert(decimal(11,2),(SUBSTRING([Column1],758,11)) + '.'+  
		(SUBSTRING([Column1],769,2))) AS COMMISSION_AMOUNT_PER_INSTALLMENT10,

		CASE WHEN LEN(CONVERT(DECIMAL(10,0),SUBSTRING(Column1,771,8)))>2
			THEN
		CONVERT(DATETIME,
		RIGHT(SUBSTRING(Column1,771,8),4)+'-'+LEFT(SUBSTRING(Column1,773,2),2)+'-'+LEFT(
		SUBSTRING(Column1,771,8),2)+ ' 00:00:00.000') 
			ELSE NULL
			END as INSTALLMENT_DUE_DATE10,
			
			SUBSTRING(Column1,779,2) as INSTALLMENT_NO10,
			
				-- INSTALLMENT 11
			
				convert(decimal(11,2),(SUBSTRING([Column1],781,11)) + '.'+  
		(SUBSTRING([Column1],792,2))) AS INSTALLMENT_AMOUNT11,

		--SUBSTRING(Column1,162,13) as INSTALLMENT_AMOUNT,
		convert(decimal(11,2),(SUBSTRING([Column1],794,11)) + '.'+  
		(SUBSTRING([Column1],805,2))) AS DISCOUNT_AMOUNT_PER_INSTALLMENT11,

		----SUBSTRING(Column1,175,13) as DISCOUNT_AMOUNT_PER_INSTALLMENT,
		convert(decimal(11,2),(SUBSTRING([Column1],807,11)) + '.'+  
		(SUBSTRING([Column1],818,2))) AS INTREST_AMOUNT_PER_INSTALLMENT11,

		----SUBSTRING(Column1,188,13) as INTREST_AMOUNT_PER_INSTALLMENT,
		convert(decimal(11,2),(SUBSTRING([Column1],820,11)) + '.'+  
		(SUBSTRING([Column1],831,2))) AS COMMISSION_AMOUNT_PER_INSTALLMENT11,

		CASE WHEN LEN(CONVERT(DECIMAL(10,0),SUBSTRING(Column1,833,8)))>2
			THEN
		CONVERT(DATETIME,
		RIGHT(SUBSTRING(Column1,833,8),4)+'-'+LEFT(SUBSTRING(Column1,835,2),2)+'-'+LEFT(
		SUBSTRING(Column1,833,8),2)+ ' 00:00:00.000') 
			ELSE NULL
			END as INSTALLMENT_DUE_DATE11,
			
			SUBSTRING(Column1,841,2) as INSTALLMENT_NO11,
			
					-- INSTALLMENT 12
			
				convert(decimal(11,2),(SUBSTRING([Column1],843,11)) + '.'+  
		(SUBSTRING([Column1],854,2))) AS INSTALLMENT_AMOUNT12,

		--SUBSTRING(Column1,162,13) as INSTALLMENT_AMOUNT,
		convert(decimal(11,2),(SUBSTRING([Column1],856,11)) + '.'+  
		(SUBSTRING([Column1],867,2))) AS DISCOUNT_AMOUNT_PER_INSTALLMENT12,

		----SUBSTRING(Column1,175,13) as DISCOUNT_AMOUNT_PER_INSTALLMENT,
		convert(decimal(11,2),(SUBSTRING([Column1],869,11)) + '.'+  
		(SUBSTRING([Column1],880,2))) AS INTREST_AMOUNT_PER_INSTALLMENT12,

		----SUBSTRING(Column1,188,13) as INTREST_AMOUNT_PER_INSTALLMENT,
		convert(decimal(11,2),(SUBSTRING([Column1],882,11)) + '.'+  
		(SUBSTRING([Column1],893,2))) AS COMMISSION_AMOUNT_PER_INSTALLMENT12,

		CASE WHEN LEN(CONVERT(DECIMAL(10,0),SUBSTRING(Column1,895,8)))>2
			THEN
		CONVERT(DATETIME,
		RIGHT(SUBSTRING(Column1,895,8),4)+'-'+LEFT(SUBSTRING(Column1,897,2),2)+'-'+LEFT(
		SUBSTRING(Column1,895,8),2)+ ' 00:00:00.000') 
			ELSE NULL
			END as INSTALLMENT_DUE_DATE12,
			
			SUBSTRING(Column1,903,2) as INSTALLMENT_NO12,	

		SUBSTRING(Column1,906,3485) as POLICY_SPECIFICATION,
		SUBSTRING(Column2,842,3) as PRODUCT_CODE_LEADER,
		SUBSTRING(Column2,845,6)/100 as COINSURANCE_COMMISSION

	FROM dbo.MIG_COINSURENCE_BUSINESS (NOLOCK)
	--) A
	--LEFT OUTER JOIN MIG_LEADER_ALBA_MAPPING (NOLOCK)  B
	--ON (A.POLICY_LOB=B.SUSEP_LOB_LEADER
	--AND
	-- A.POLICY_SUBLOB=B.SUSEP_SUBLOB_LEADER)
	--LEFT OUTER JOIN
	--MNT_LOB_MASTER (NOLOCK)D
	--ON D.SUSEP_LOB_CODE=B.SUSEP_LOB_ALBA
	--LEFT OUTER JOIN 
	--MNT_AGENCY_LIST (NOLOCK) E
	--ON E.SUSEP_NUMBER=A.BROKER_CODE
	--WHERE Convert(varchar(8),E.TERMINATION_DATE,112)>=Convert(varchar(8),GETDATE(),112)
	

	SELECT * FROM MIG_NEW_BUSINESSTEMP_TABLE 

end
GO

