IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetPolicyClaimInformation]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetPolicyClaimInformation]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------                                          
PROC NAME     :dbo.Proc_GetPolicyClaimInformation                                       
CREATED BY      : Sumit Chhabra                          
DATE            : 27-10-2005                                    
PURPOSE         : To get Customer,Policy and Claim Information corresponding to a given claim                          
REVISON HISTORY :                                          
USED IN         : WOLVERINE               
drop PROC dbo.Proc_GetPolicyClaimInformation '0','144','0','0'                                    
------------------------------------------------------------                                          
*/                                    
-- drop  PROC dbo.Proc_GetPolicyClaimInformation                                     
CREATE PROC [dbo].[Proc_GetPolicyClaimInformation]--28070,12,1,561                                  
(                                          
                                   
 @CUSTOMER_ID  varchar(10),                                          
 @POLICY_ID  varchar(10),                                        
 @POLICY_VERSION_ID varchar(10),                          
 @CLAIM_ID varchar(10) ,               
 @LANG_ID INT =1 -- Added by santosh kumar gautam on 20 dec 2010          
                                   
)                                          
AS                     
BEGIN                   
  
  
 -- Query is modified by santosh kumar gautam on 17 feb 2011                
 IF(@CLAIM_ID IS NOT NULL AND @CLAIM_ID<>'0' )
  BEGIN
	SELECT ISNULL(POLICY.CUSTOMER_ID,0) AS CUSTOMER_ID,ISNULL(POLICY.POLICY_ID,0) AS POLICY_ID,  ISNULL(POLICY.POLICY_VERSION_ID,0) AS POLICY_VERSION_ID,   LTRIM(RTRIM(ISNULL(CLT_CUSTOMER_LIST.CUSTOMER_FIRST_NAME, '')))+' '+LTRIM(RTRIM(ISNULL(CLT_CUSTOMER_LIST.CUSTOMER_MIDDLE_NAME, '')))+' '+LTRIM(RTRIM(ISNULL(CLT_CUSTOMER_LIST.CUSTOMER_LAST_NAME, ''))) AS CUSTOMERNAME,  
		POLICY.POLICY_NUMBER, POLICY.POLICY_DISP_VERSION,POLICY.POLICY_LOB,POLICY.POLICY_SUBLOB,POLICY.AGENCY_ID,
		ISNULL(LOB_M.LOB_DESC, MNT_LOB_MASTER.LOB_DESC)AS LOB,
		POLICY.STATE_ID,CLT_CUSTOMER_LIST.IS_ACTIVE IS_ACTIVE, case CLT.CUSTOMER_ATTENTION_NOTE   when null then '0' when '' then '0'  else CLT.CUSTOMER_ATTENTION_NOTE   end CUSTOMER_ATTENTION_NOTE, 

		isnull(POLICY.POLICY_NUMBER,'') + '-'+ 
		isnull(ISNULL(STATUS_MASTER_M.POLICY_DESCRIPTION, STATUS_MASTER.POLICY_DESCRIPTION),'')
		+'('+isnull(ISNULL(LOB_M.LOB_DESC, MNT_LOB_MASTER.LOB_DESC),'')+':'+ 
		ISNULL(Convert(varchar,POLICY.APP_EFFECTIVE_DATE,case when @LANG_ID=2 then 103 else 101 end),'')+'-'+ 
		ISNULL(Convert(varchar,POLICY.APP_EXPIRATION_DATE,case when @LANG_ID=2 then 103 else 101 end),'')+')' POLICY,
		ISNULL(POLICY.POLICY_TYPE,-1) POLICY_TYPE, ISNULL(CLT.CUSTOMER_ADDRESS1,'') + ', ' +    
		CASE WHEN ISNULL(CLT.CUSTOMER_ADDRESS2 ,'')='' THEN '' ELSE ISNULL(CLT.CUSTOMER_ADDRESS2 + ', ' ,'')END +    
		IsNull(CLT.CUSTOMER_CITY,'') + ', ' +  IsNull(STATE.STATE_NAME,'') + ', ' +     
		IsNull(COUNTRY.COUNTRY_NAME,'') + ', ' + IsNull(CLT.CUSTOMER_ZIP,'') ADDRESS,  
		IsNull(ISNULL(CUSTOMER_TYPE_LOOKUP_M.LOOKUP_VALUE_DESC, 
		CUSTOMER_TYPE_LOOKUP.LOOKUP_VALUE_DESC),'') AS CUSTOMER_TYPE_DESC,  
		ISNULL(CLT.CUSTOMER_BUSINESS_PHONE,'') CUSTOMER_BUSINESS_PHONE,  
		CLAIM.CLAIM_NUMBER,  ISNULL(STATUS_MASTER_M.POLICY_DESCRIPTION, STATUS_MASTER.POLICY_DESCRIPTION) AS POLICY_STATUS,
		CONVERT(VARCHAR(15),isnull(POLICY.APP_EFFECTIVE_DATE,''),case when @LANG_ID=2 then 103 else 101 end) AS POLICY_EFFECTIVE_DATE, 
		CONVERT(VARCHAR(15),isnull(POLICY.APP_EXPIRATION_DATE,''),case when @LANG_ID=2 then 103 else 101 end) AS POLICY_EXPIRATION_DATE,  
		AG.AGENCY_PHONE,  CLAIM.LITIGATION_FILE,  
		CASE WHEN PCPL.CO_INSURANCE =14549 THEN 1 ELSE 0 END AS CO_INSURANCE_TYPE, 
		POLICY.POLICY_CURRENCY,  CLAIM.IS_VICTIM_CLAIM ,
		CLAIM.ACC_COI_FLG	
  FROM  CLM_CLAIM_INFO  CLAIM WITH(NOLOCK) INNER JOIN 	
		POL_CUSTOMER_POLICY_LIST POLICY WITH(NOLOCK) ON POLICY.CUSTOMER_ID = CLAIM.CUSTOMER_ID AND POLICY.POLICY_ID = CLAIM.POLICY_ID AND POLICY.POLICY_VERSION_ID = CLAIM.POLICY_VERSION_ID LEFT OUTER JOIN 
		CLT_CUSTOMER_LIST CLT WITH(NOLOCK) ON POLICY.CUSTOMER_ID = CLT.CUSTOMER_ID LEFT OUTER JOIN 
		MNT_AGENCY_LIST AG WITH(NOLOCK) ON AG.AGENCY_ID = POLICY.AGENCY_ID 
		LEFT JOIN MNT_LOB_MASTER WITH(NOLOCK) ON  POLICY.POLICY_LOB = MNT_LOB_MASTER.LOB_ID 
		LEFT JOIN MNT_LOB_MASTER_MULTILINGUAL LOB_M WITH(NOLOCK) ON  POLICY.POLICY_LOB = LOB_M.LOB_ID AND LOB_M.LANG_ID=@LANG_ID
		RIGHT OUTER JOIN CLT_CUSTOMER_LIST WITH(NOLOCK) ON POLICY.CUSTOMER_ID = CLT_CUSTOMER_LIST.CUSTOMER_ID 
		LEFT JOIN MNT_COUNTRY_LIST COUNTRY WITH(NOLOCK) ON COUNTRY.COUNTRY_ID = CLT.CUSTOMER_COUNTRY 
		LEFT JOIN MNT_COUNTRY_STATE_LIST STATE WITH(NOLOCK) ON CLT.CUSTOMER_COUNTRY = STATE.COUNTRY_ID AND CLT.CUSTOMER_STATE = STATE.STATE_ID 
		LEFT JOIN MNT_LOOKUP_VALUES CUSTOMER_TYPE_LOOKUP WITH(NOLOCK) ON CUSTOMER_TYPE_LOOKUP.LOOKUP_UNIQUE_ID = CLT.CUSTOMER_TYPE  
		LEFT JOIN MNT_LOOKUP_VALUES_MULTILINGUAL CUSTOMER_TYPE_LOOKUP_M WITH(NOLOCK) ON CUSTOMER_TYPE_LOOKUP_M.LOOKUP_UNIQUE_ID = CLT.CUSTOMER_TYPE  AND CUSTOMER_TYPE_LOOKUP_M.LANG_ID=@LANG_ID      
		LEFT JOIN POL_POLICY_STATUS_MASTER STATUS_MASTER WITH(NOLOCK) ON STATUS_MASTER.POLICY_STATUS_CODE = POLICY.POLICY_STATUS  
		LEFT JOIN POL_POLICY_STATUS_MASTER_MULTILINGUAL STATUS_MASTER_M WITH(NOLOCK) ON STATUS_MASTER_M.POLICY_STATUS_CODE = POLICY.POLICY_STATUS  AND STATUS_MASTER_M.LANG_ID=@LANG_ID
		LEFT JOIN POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK) ON PCPL.POLICY_ID=CLAIM.POLICY_ID AND PCPL.POLICY_VERSION_ID = CLAIM.POLICY_VERSION_ID AND PCPL.CUSTOMER_ID = CLAIM.CUSTOMER_ID                 
  WHERE CLAIM.CLAIM_ID=@CLAIM_ID    
 
  END
 ELSE 
  BEGIN
  
   SELECT ISNULL(POLICY.CUSTOMER_ID,0) AS CUSTOMER_ID,ISNULL(POLICY.POLICY_ID,0) AS POLICY_ID,  ISNULL(POLICY.POLICY_VERSION_ID,0) AS POLICY_VERSION_ID,   LTRIM(RTRIM(ISNULL(CLT_CUSTOMER_LIST.CUSTOMER_FIRST_NAME, '')))+' '+LTRIM(RTRIM(ISNULL(CLT_CUSTOMER_LIST.CUSTOMER_MIDDLE_NAME, '')))+' '+LTRIM(RTRIM(ISNULL(CLT_CUSTOMER_LIST.CUSTOMER_LAST_NAME, ''))) AS CUSTOMERNAME,  POLICY.POLICY_NUMBER, POLICY.POLICY_DISP_VERSION,POLICY.POLICY_LOB,POLICY.POLICY_SUBLOB,POLICY.AGENCY_ID, 
		isnull(LOB_M.LOB_DESC,MNT_LOB_MASTER.LOB_DESC)  AS LOB,POLICY.STATE_ID,CLT_CUSTOMER_LIST.IS_ACTIVE IS_ACTIVE, case CLT.CUSTOMER_ATTENTION_NOTE   when null then '0' when '' then '0'  else CLT.CUSTOMER_ATTENTION_NOTE   end CUSTOMER_ATTENTION_NOTE, 
		isnull(POLICY.POLICY_NUMBER,'') + '-'+ isnull(ISNULL(STATUS_MASTER_M.POLICY_DESCRIPTION, STATUS_MASTER.POLICY_DESCRIPTION),'')
		+'('+isnull(ISNULL(LOB_M.LOB_DESC, MNT_LOB_MASTER.LOB_DESC),'')+':'+ ISNULL(Convert(varchar,POLICY.APP_EFFECTIVE_DATE,case when @LANG_ID=2 then 103 else 101 end),'')+'-'+ ISNULL(Convert(varchar,POLICY.APP_EXPIRATION_DATE,case when @LANG_ID=2 then 103 else 101 end),'')+')' 
		POLICY,
		ISNULL(POLICY.POLICY_TYPE,-1) POLICY_TYPE, ISNULL(CLT.CUSTOMER_ADDRESS1,'') + ', ' +    
		CASE WHEN ISNULL(CLT.CUSTOMER_ADDRESS2 ,'')='' THEN '' ELSE ISNULL(CLT.CUSTOMER_ADDRESS2 + ', ' ,'')END +    
		IsNull(CLT.CUSTOMER_CITY,'') + ', ' +  IsNull(STATE.STATE_NAME,'') + ', ' +     
		IsNull(COUNTRY.COUNTRY_NAME,'') + ', ' + IsNull(CLT.CUSTOMER_ZIP,'') ADDRESS,  
		IsNull(ISNULL(CUSTOMER_TYPE_LOOKUP_M.LOOKUP_VALUE_DESC, CUSTOMER_TYPE_LOOKUP.LOOKUP_VALUE_DESC),'')
		AS CUSTOMER_TYPE_DESC,  ISNULL(CLT.CUSTOMER_BUSINESS_PHONE,'') CUSTOMER_BUSINESS_PHONE,  
		CLAIM.CLAIM_NUMBER,  ISNULL(STATUS_MASTER_M.POLICY_DESCRIPTION,STATUS_MASTER.POLICY_DESCRIPTION) AS POLICY_STATUS, 
		CONVERT(VARCHAR(15),isnull(POLICY.APP_EFFECTIVE_DATE,''),case when @LANG_ID=2 then 103 else 101 end) AS POLICY_EFFECTIVE_DATE,  
		CONVERT(VARCHAR(15),isnull(POLICY.APP_EXPIRATION_DATE,''),case when @LANG_ID=2 then 103 else 101 end) AS POLICY_EXPIRATION_DATE,  
		AG.AGENCY_PHONE,  CLAIM.LITIGATION_FILE, 
		CASE WHEN PCPL.CO_INSURANCE =14549 THEN 1 ELSE 0 END AS CO_INSURANCE_TYPE,  
		POLICY.POLICY_CURRENCY,  CLAIM.IS_VICTIM_CLAIM ,CLAIM.ACC_COI_FLG
		FROM POL_CUSTOMER_POLICY_LIST POLICY 
		LEFT OUTER JOIN CLT_CUSTOMER_LIST CLT WITH(NOLOCK) ON POLICY.CUSTOMER_ID = CLT.CUSTOMER_ID 
		LEFT OUTER JOIN MNT_AGENCY_LIST AG WITH(NOLOCK) ON AG.AGENCY_ID = POLICY.AGENCY_ID 
		LEFT OUTER JOIN MNT_LOB_MASTER WITH(NOLOCK) ON  POLICY.POLICY_LOB = MNT_LOB_MASTER.LOB_ID 
		LEFT OUTER JOIN MNT_LOB_MASTER_MULTILINGUAL LOB_M WITH(NOLOCK) ON  POLICY.POLICY_LOB = LOB_M.LOB_ID AND LOB_M.LANG_ID=@LANG_ID
		RIGHT OUTER JOIN CLT_CUSTOMER_LIST WITH(NOLOCK) ON POLICY.CUSTOMER_ID = CLT_CUSTOMER_LIST.CUSTOMER_ID 
		LEFT JOIN MNT_COUNTRY_LIST COUNTRY WITH(NOLOCK) ON COUNTRY.COUNTRY_ID = CLT.CUSTOMER_COUNTRY 
		LEFT JOIN MNT_COUNTRY_STATE_LIST STATE WITH(NOLOCK) ON CLT.CUSTOMER_COUNTRY = STATE.COUNTRY_ID AND CLT.CUSTOMER_STATE = STATE.STATE_ID 
		LEFT JOIN MNT_LOOKUP_VALUES CUSTOMER_TYPE_LOOKUP WITH(NOLOCK) ON CUSTOMER_TYPE_LOOKUP.LOOKUP_UNIQUE_ID = CLT.CUSTOMER_TYPE    
		LEFT JOIN MNT_LOOKUP_VALUES_MULTILINGUAL CUSTOMER_TYPE_LOOKUP_M WITH(NOLOCK) ON CUSTOMER_TYPE_LOOKUP_M.LOOKUP_UNIQUE_ID = CLT.CUSTOMER_TYPE AND CUSTOMER_TYPE_LOOKUP_M.LANG_ID=@LANG_ID  
		LEFT JOIN POL_POLICY_STATUS_MASTER STATUS_MASTER WITH(NOLOCK) ON STATUS_MASTER.POLICY_STATUS_CODE = POLICY.POLICY_STATUS  
		LEFT JOIN POL_POLICY_STATUS_MASTER_MULTILINGUAL STATUS_MASTER_M WITH(NOLOCK) ON STATUS_MASTER_M.POLICY_STATUS_CODE = POLICY.POLICY_STATUS AND STATUS_MASTER_M.LANG_ID=@LANG_ID  
		FULL OUTER JOIN CLM_CLAIM_INFO CLAIM WITH(NOLOCK) ON POLICY.CUSTOMER_ID = CLAIM.CUSTOMER_ID AND POLICY.POLICY_ID = CLAIM.POLICY_ID AND POLICY.POLICY_VERSION_ID = CLAIM.POLICY_VERSION_ID 
		LEFT JOIN POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK) ON PCPL.POLICY_ID=CLAIM.POLICY_ID AND PCPL.POLICY_VERSION_ID = CLAIM.POLICY_VERSION_ID AND PCPL.CUSTOMER_ID = CLAIM.CUSTOMER_ID   
	WHERE POLICY.CUSTOMER_ID=@CUSTOMER_ID AND  POLICY.POLICY_ID=@POLICY_ID AND POLICY.POLICY_VERSION_ID=@POLICY_VERSION_ID
  END
  
 
                          
END  
GO

