IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_FILLAPPVEHICLEDROPDOWN]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_FILLAPPVEHICLEDROPDOWN]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

  CREATE PROCEDURE [dbo].[PROC_FILLAPPVEHICLEDROPDOWN]           
(          
 @CUSTOMER_ID INT,           
 @APP_ID INT,           
 @APP_VERSION_ID INT,      
 @DRIVER_ID INT = NULL          
)          
AS          
BEGIN          
IF EXISTS(  
   
 SELECT CUSTOMER_ID FROM APP_DRIVER_ASSIGNED_VEHICLE      
  WHERE APP_DRIVER_ASSIGNED_VEHICLE.CUSTOMER_ID = @CUSTOMER_ID       
  AND APP_DRIVER_ASSIGNED_VEHICLE.APP_ID = @APP_ID       
  AND APP_DRIVER_ASSIGNED_VEHICLE.APP_VERSION_ID = @APP_VERSION_ID      
  AND APP_DRIVER_ASSIGNED_VEHICLE.DRIVER_ID = @DRIVER_ID      
 )          
  SELECT APP_VEHICLES.VEHICLE_ID,       
  CONVERT(VARCHAR,APP_VEHICLES.VEHICLE_ID) + ' '  + ISNULL(VEHICLE_YEAR,'')  + ' ' + ISNULL(MAKE,'') AS MODEL_MAKE ,      
  isnull(APP_DRIVER_ASSIGNED_VEHICLE.VEHICLE_ID, 0) AS ASSIGNED_VEH_ID,      
  isnull(APP_DRIVER_ASSIGNED_VEHICLE.APP_VEHICLE_PRIN_OCC_ID, 0) as APP_VEHICLE_PRIN_OCC_ID      
  FROM APP_VEHICLES  WITH(NOLOCK)         
  LEFT JOIN APP_DRIVER_ASSIGNED_VEHICLE      
  ON APP_VEHICLES.CUSTOMER_ID = APP_DRIVER_ASSIGNED_VEHICLE.CUSTOMER_ID      
  AND APP_VEHICLES.APP_ID = APP_DRIVER_ASSIGNED_VEHICLE.APP_ID      
  AND APP_VEHICLES.APP_VERSION_ID = APP_DRIVER_ASSIGNED_VEHICLE.APP_VERSION_ID      
  AND APP_VEHICLES.VEHICLE_ID = APP_DRIVER_ASSIGNED_VEHICLE.VEHICLE_ID      
  AND APP_DRIVER_ASSIGNED_VEHICLE.DRIVER_ID = @DRIVER_ID      
  WHERE APP_VEHICLES.CUSTOMER_ID = @CUSTOMER_ID       
  AND APP_VEHICLES.APP_ID = @APP_ID       
  AND APP_VEHICLES.APP_VERSION_ID = @APP_VERSION_ID      
  AND UPPER(APP_VEHICLES.IS_ACTIVE)='Y'  ORDER BY APP_VEHICLES.VEHICLE_ID  -- ORDER BY 2 -- Commented by Sibin for Itrack Issue 5401 on 10 Feb 09        
ELSE      
  SELECT APP_VEHICLES.VEHICLE_ID,       
  CONVERT(VARCHAR,APP_VEHICLES.VEHICLE_ID) + ' '  + ISNULL(VEHICLE_YEAR,'')  + ' ' + ISNULL(MAKE,'') AS MODEL_MAKE ,      
  '0' AS ASSIGNED_VEH_ID,      
  '0' AS APP_VEHICLE_PRIN_OCC_ID      
  FROM APP_VEHICLES  WITH(NOLOCK)         
  WHERE APP_VEHICLES.CUSTOMER_ID = @CUSTOMER_ID       
  AND APP_VEHICLES.APP_ID = @APP_ID       
  AND APP_VEHICLES.APP_VERSION_ID = @APP_VERSION_ID      
  AND UPPER(APP_VEHICLES.IS_ACTIVE)='Y'  ORDER BY APP_VEHICLES.VEHICLE_ID          
END          
      
      
--drop proc Proc_FillAppVehicleDropDown 936,53,1,19  
      
--  select * from APP_DRIVER_ASSIGNED_VEHICLE      
--  delete from APP_DRIVER_ASSIGNED_VEHICLE      
      
      
      
    
  
  
GO

