IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_INSERTPOL_HOME_OWNER_SCH_ITEMS_CVGS_DETAIL]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_INSERTPOL_HOME_OWNER_SCH_ITEMS_CVGS_DETAIL]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--DROP PROC dbo.PROC_INSERTPOL_HOME_OWNER_SCH_ITEMS_CVGS_DETAIL    
CREATE PROC dbo.PROC_INSERTPOL_HOME_OWNER_SCH_ITEMS_CVGS_DETAIL    
(    
@CUSTOMER_ID     INT,    
@POL_ID     INT,    
@POL_VERSION_ID     INT,    
@ITEM_ID     INT,    
@ITEM_DETAIL_ID     INT OUTPUT,    
@ITEM_NUMBER     NVARCHAR(20),    
@ITEM_DESCRIPTION     NVARCHAR(2000),    
@ITEM_SERIAL_NUMBER     NVARCHAR(1000),    
@ITEM_INSURING_VALUE     MONEY,    
@ITEM_APPRAISAL_BILL     NCHAR(4),    
@ITEM_PICTURE_ATTACHED     NCHAR(4)    
)    
AS    
BEGIN    
    
--CHECK THAT ITEM NUMER IS EXISTING OR NOT IN THIS CATEGORY OR NOT    
if exists (SELECT * FROM POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS (NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND POL_ID = @POL_ID AND POL_VERSION_ID  = @POL_VERSION_ID AND ITEM_ID = @ITEM_ID AND ITEM_NUMBER = @ITEM_NUMBER)    
Begin    
 SET @ITEM_DETAIL_ID=-1  
 return -1    
End     
    
--CHECK THAT PARENT RECORD IS EXISTING OR NOT IN THIS CATEGORY OR NOT    
if not exists (SELECT * FROM POL_HOME_OWNER_SCH_ITEMS_CVGS (NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POL_ID AND POLICY_VERSION_ID  = @POL_VERSION_ID AND ITEM_ID = @ITEM_ID)    
Begin    
 SET @ITEM_DETAIL_ID=-2  
 return -2    
End     
    
    
SELECT @ITEM_DETAIL_ID=ISNULL(MAX(ITEM_DETAIL_ID),0)+1 FROM POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS (NOLOCK)    
WHERE     
CUSTOMER_ID = @CUSTOMER_ID    
AND POL_ID = @POL_ID    
AND POL_VERSION_ID  = @POL_VERSION_ID    
AND ITEM_ID = @ITEM_ID    
    
INSERT INTO POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS    
(    
 CUSTOMER_ID,    
 POL_ID,    
 POL_VERSION_ID,    
 ITEM_ID,    
 ITEM_DETAIL_ID,    
 ITEM_NUMBER,    
 ITEM_DESCRIPTION,    
 ITEM_SERIAL_NUMBER,    
 ITEM_INSURING_VALUE,    
 ITEM_APPRAISAL_BILL,    
 ITEM_PICTURE_ATTACHED,    
 IS_ACTIVE    
)    
VALUES    
(    
 @CUSTOMER_ID,    
 @POL_ID,    
 @POL_VERSION_ID,    
 @ITEM_ID,    
 @ITEM_DETAIL_ID,    
 @ITEM_NUMBER,    
 @ITEM_DESCRIPTION,    
 @ITEM_SERIAL_NUMBER,    
 @ITEM_INSURING_VALUE,    
 @ITEM_APPRAISAL_BILL,    
 @ITEM_PICTURE_ATTACHED,    
 'Y'    
) 
    
END    
  
  


GO

