IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_GET_VENDOR_REPORT_DETAILS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_GET_VENDOR_REPORT_DETAILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


-- DROP PROC dbo.PROC_GET_VENDOR_REPORT_DETAILS   
CREATE PROC dbo.PROC_GET_VENDOR_REPORT_DETAILS  
(    
@VENDOR_ID INT = NULL,    
@FROM_DATE DATETIME = NULL,  
@TO_DATE DATETIME = NULL  
)    
AS    
BEGIN    
	SELECT SOURCE_TRAN_DATE,VENDOR_CODE,UPDATED_FROM,INVOICE_NUM,REF_PO_NUM,CHECK_NUMBER,SOURCE_ROW_ID,
	INV.NOTE,INV.INVOICE_ID,BALANCE,TOTAL_DUE,CHK.ACCOUNT_ID,
	CONVERT(VARCHAR,ACC_DISP_NUMBER)+': '+ACC_DESCRIPTION AS ACC_DESCRIPTION 
	,CHK.CHECK_NOTE
	
	FROM ACT_VENDOR_OPEN_ITEMS VOI
	
	INNER JOIN MNT_VENDOR_LIST MVL ON MVL.VENDOR_ID = VOI.VENDOR_ID
	LEFT JOIN ACT_VENDOR_INVOICES INV ON INV.INVOICE_ID=VOI.SOURCE_ROW_ID
	LEFT JOIN ACT_CHECK_INFORMATION CHK ON CHK.CHECK_ID = VOI.SOURCE_ROW_ID
	LEFT JOIN ACT_GL_ACCOUNTS ON ACT_GL_ACCOUNTS.ACCOUNT_ID = CHK.ACCOUNT_ID
	
	WHERE VOI.VENDOR_ID = @VENDOR_ID 
	AND SOURCE_TRAN_DATE BETWEEN @FROM_DATE AND @TO_DATE
END  



GO

