IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_Commit_Deposit]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_Commit_Deposit]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



--BEGIN TRAN
--DROP PROC Proc_Commit_Deposit
--GO
--- Proc_Commit_Deposit 41, '12/13/2010', 407, NULL, NULL, NULL, NULL
/*----------------------------------------------------------      
Proc Name       : Proc_Commit_Deposit      
Created by      : ANURAG GUPTA   
Date            : 03 DEC 2010
Purpose			: Commits selected Deposit
Revison History :      
Used In  : EbixAdvantage - Brasil
      
RETURN
-1 , if record not exists      
-2 , Record already commited      
-3 , Proof is not equal to zero      
-4 , Line items does not exists      
-5 , date is less then lock day      
-6 , Deposit is not confirmed      
-7 , Not distributed completely      

Reviewed By	:	
Reviewed On	:	

------------------------------------------------------------      
Date     Review By          Comments      
------   ------------       --------------------------------*/      

--/*
CREATE PROC [dbo].[Proc_Commit_Deposit]      
(      
	@DEPOSIT_ID			int,      
	@DATE_COMMITED		Datetime,      
	@COMMITTED_BY		int,      
	@PARAM1				varchar(10),      
	@PARAM2				varchar(10),      
	@PARAM3				varchar(10),      
	@PARAM4				varchar(10)          
)      
AS      
BEGIN      
--*/
--BEGIN TRAN  
/*
	DECLARE @DEPOSIT_ID     int,      
			@DATE_COMMITED	Datetime,      
			@COMMITTED_BY	int
		
	SELECT @DEPOSIT_ID     = 47,
		   @DATE_COMMITED  = GETDATE()	,
		   @COMMITTED_BY   = 1	

*/		
	/*Checking whether specified deposit id is commited or whther exists and any other conditions*/      
	IF Not Exists(SELECT DEPOSIT_ID FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS (NOLOCK) WHERE DEPOSIT_ID = @DEPOSIT_ID)      
	BEGIN      
		--Record not existed, hence exiting       
		--print -1
		RETURN -1      		
	END      

	--Checking whether already commited      
	IF (SELECT Upper(IS_COMMITED) FROM ACT_CURRENT_DEPOSITS (NOLOCK) WHERE DEPOSIT_ID = @DEPOSIT_ID) = 'Y'       
	BEGIN      
		--Record already commited hence exiting      
		--print -2
		RETURN -2      		
	END      
	   
	IF (SELECT Count(DEPOSIT_ID) FROM ACT_CURRENT_DEPOSITS (NOLOCK) WHERE DEPOSIT_ID = @DEPOSIT_ID) = 0      
	BEGIN      
		--Line items does not exists hence can not commit      
		--print -4
		RETURN -4      		
	END   
	
	IF EXISTS (SELECT 1 FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS (NOLOCK) WHERE DEPOSIT_ID = @DEPOSIT_ID AND IS_EXCEPTION = 'Y' AND (IS_APPROVE IS NULL OR IS_APPROVE = '' OR IS_APPROVE = 'N') )   
	BEGIN      
		--One or more receipts have exception which is not approved  
		--print -15
		RETURN -15      		
	END      
	
	----- Check if a particular deposit line item type has a balance of 0 amount 
	IF EXISTS(SELECT CD_LINE_ITEM_ID FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS (NOLOCK) WHERE DEPOSIT_ID = @DEPOSIT_ID AND RECEIPT_AMOUNT = 0)  
	BEGIN  
		--PRINT -10
		RETURN -10  		
	END
	
	IF EXISTS (SELECT COUNT(CD_LINE_ITEM_ID) FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS  WITH(NOLOCK)  WHERE DEPOSIT_ID=@DEPOSIT_ID 
	AND (IS_APPROVE='A' OR ISNULL(IS_APPROVE,'')='') AND DEPOSIT_TYPE='14831' GROUP BY BOLETO_NO HAVING COUNT(CD_LINE_ITEM_ID)>1)--(14831-Normal Deposit) Modified by Pradeep iTrack-1412 
	BEGIN 
			--PRINT 'SAME BOLETO MULTIPLE TIMES'
			RETURN -19      
	END

	DECLARE @DEPOSIT_TYPE NVARCHAR(6)	
	
	/* DEPOSIT TYPES #### Normal - 14831 ## COI - 14832 ## Broker Refund - 14916 ## RE - 14917 Ceded Co - 14918 */
	SELECT @DEPOSIT_TYPE = DEPOSIT_TYPE FROM ACT_CURRENT_DEPOSITS WHERE DEPOSIT_ID = @DEPOSIT_ID
	
	/*	commented by anurag as not required (iTrack 913 Notes By Monica Brito Dated 18th May 2011
	IF @DEPOSIT_TYPE = 14831
	BEGIN
		--ALREADY PAID BOLETO IS AGAIN RECORDED AND APPROVED
		IF EXISTS 
		(
			SELECT 1
			FROM 
				ACT_CURRENT_DEPOSIT_LINE_ITEMS DEPOSIT (NOLOCK) 
			INNER JOIN
				POL_INSTALLMENT_BOLETO BOLETO (NOLOCK) ON (BOLETO.BOLETO_ID = DEPOSIT.BOLETO_NO AND BOLETO.CUSTOMER_ID = DEPOSIT.CUSTOMER_ID AND BOLETO.POLICY_ID = DEPOSIT.POLICY_ID 
					AND BOLETO.POLICY_VERSION_ID = DEPOSIT.POLICY_VERSION_ID)
			INNER JOIN
				ACT_POLICY_INSTALLMENT_DETAILS INSTALLMENT (NOLOCK) ON (INSTALLMENT.BOLETO_NO = BOLETO.OUR_NUMBER)
			WHERE 
				DEPOSIT.DEPOSIT_ID = @DEPOSIT_ID AND DEPOSIT.IS_EXCEPTION = 'Y' AND DEPOSIT.IS_APPROVE = 'A' AND INSTALLMENT.RELEASED_STATUS = 'Y'
		)   
		BEGIN      
			--ALREADY PAID BOLETO IS AGAIN RECORDED AND APPROVED
			--print -16
			RETURN -16      		
		END  
		
		--SAME BOLETO IS RECORDED TWICE IN THE DEPOSIT
		IF EXISTS (SELECT COUNT(CD_LINE_ITEM_ID) FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS (NOLOCK) WHERE DEPOSIT_ID = @DEPOSIT_ID GROUP BY BOLETO_NO HAVING COUNT(CD_LINE_ITEM_ID) > 1)   
		BEGIN      
			--SAME BOLETO IS RECORDED TWICE IN THE DEPOSIT
			--print -17
			RETURN -17
		END            
		
		--BOLETO IN THIS DEPOSIT ALREADY EXISTS IN ANOTHER DEPOSIT
		IF (SELECT COUNT(CD_LINE_ITEM_ID) FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS (NOLOCK) WHERE DEPOSIT_ID <> @DEPOSIT_ID AND BOLETO_NO IN (SELECT BOLETO_NO FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS WHERE DEPOSIT_ID = @DEPOSIT_ID)) > 0
		BEGIN      
			--BOLETO IN THIS DEPOSIT ALREADY EXISTS IN ANOTHER DEPOSIT
			--print -18
			RETURN -18
		END            
	END
		*/
				
	DECLARE @ROW_ID					INT
	DECLARE @GROUP_ID				INT
	DECLARE @ACCOUNT_ID				INT
	DECLARE @COMMITTED_BY_CODE		VARCHAR(10)
	DECLARE	@COMMITTED_BY_NAME		VARCHAR(60)
	DECLARE @CUSTOMER_NAME			VARCHAR(200)
	DECLARE @CUSTOMER_ID			INT
	DECLARE @FISCAL_ID				SMALLINT
	DECLARE @FULLPREMIUM_ACCOUNT	SMALLINT
	DECLARE @WRITEOFF_ACCOUNT		SMALLINT
	DECLARE @LATEFEE_ACCOUNT		SMALLINT
	DECLARE @BILL_CODE		 		CHAR(2)
	DECLARE @LANG_ID				INT
	DECLARE @TRANS_TYPE_DESC		VARCHAR(1000)
	DECLARE @TRANS_ID				INT
	
	
	SELECT @ACCOUNT_ID = ACCOUNT_ID FROM ACT_CURRENT_DEPOSITS (NOLOCK) WHERE DEPOSIT_ID = @DEPOSIT_ID
	SELECT @COMMITTED_BY_CODE = USER_LOGIN_ID, @COMMITTED_BY_NAME = (USER_FNAME + ' ' + USER_LNAME), @LANG_ID = LANG_ID
	FROM MNT_USER_LIST WITH(NOLOCK) WHERE [USER_ID] = @COMMITTED_BY
	
	SELECT @FISCAL_ID = FISCAL_ID FROM ACT_GENERAL_LEDGER (NOLOCK) WHERE DATEDIFF(DD, FISCAL_BEGIN_DATE, GETDATE()) > 0 AND DATEDIFF(DD, GETDATE(), FISCAL_END_DATE) > 0
	IF @FISCAL_ID = 0
	BEGIN
		SET @FISCAL_ID = 1
	END
	
	CREATE TABLE #TEMP_RECEIPT_DETAILS (
	IDEN_ROW_ID INT,	
	CD_LINE_ITEM_ID INT,
	AMOUNT DECIMAL(18,2),				
	DEPOSIT_TRAN_DATE DATETIME, 
	RECEIPT_AMOUNT DECIMAL(18, 2), 
	ORIGINAL_AMOUNT DECIMAL(18, 2), 
	LATE_FEE DECIMAL(18, 2), 
	ITEM_TRAN_CODE NVARCHAR(5),
	AGENCY_ID INT, 
	CUSTOMER_ID INT, 
	POLICY_ID INT, 
	POLICY_VERSION_ID INT, 
	RECEIPT_ISSUED_DATE DATETIME, 
	PAYOR_TYPE NVARCHAR(5), 
	DIV_ID INT, 
	DEPT_ID INT, 
	PC_ID INT,
	IS_PREBILL nchar(1), 
	BILL_CODE NVARCHAR(5), 
	LOB_ID INT, 
	SUB_LOB_ID INT, 
	COUNTRY_ID INT, 
	STATE_ID INT, 
	ITEM_STATUS NVARCHAR(3), 
	TRANS_DESC NVARCHAR(100), 
	RECEIVED_DATE DATETIME,
	DUE_DATE DATETIME, 
	NET_PREMIUM DECIMAL(18,2), 
	RISK_ID INT, 
	RISK_TYPE NVARCHAR(15), 
	SWEEP_DATE DATETIME, 
	BASE_CURRENCY NVARCHAR(4), 
	TRAN_CURRENCY NVARCHAR(4), 
	PAYOR_ID INT, 
	REC_TYPE char(1), 
	ROW_ID INT,
	IS_EXCEPTION NCHAR(3), 
	IS_APPROVE CHAR(1), 
	DEPOSIT_TYPE NVARCHAR(6), 
	INSTALLMENT_NO INT
	
	)
			
	IF @DEPOSIT_TYPE = 14831 --NORMAL DEPOSIT
	BEGIN
		--INSERT/UPDATE CUSTOMER OPEN ITEM TABLE
		--INSERT BOLETO RECORDS IN TEMP TABLE
		INSERT INTO #TEMP_RECEIPT_DETAILS (
	IDEN_ROW_ID,	
	CD_LINE_ITEM_ID,
	AMOUNT ,				
	DEPOSIT_TRAN_DATE , 
	RECEIPT_AMOUNT , 
	ORIGINAL_AMOUNT , 
	LATE_FEE , 
	ITEM_TRAN_CODE ,
	AGENCY_ID, 
	CUSTOMER_ID, 
	POLICY_ID, 
	POLICY_VERSION_ID, 
	RECEIPT_ISSUED_DATE , 
	PAYOR_TYPE , 
	DIV_ID, 
	DEPT_ID, 
	PC_ID,
	IS_PREBILL , 
	BILL_CODE , 
	LOB_ID, 
	SUB_LOB_ID, 
	COUNTRY_ID, 
	STATE_ID, 
	ITEM_STATUS , 
	TRANS_DESC , 
	RECEIVED_DATE ,
	DUE_DATE , 
	NET_PREMIUM , 
	RISK_ID, 
	RISK_TYPE , 
	SWEEP_DATE , 
	BASE_CURRENCY , 
	TRAN_CURRENCY , 
	PAYOR_ID, 
	REC_TYPE, 
	ROW_ID,
	IS_EXCEPTION , 
	IS_APPROVE , 
	DEPOSIT_TYPE , 
	INSTALLMENT_NO
	
	)
		SELECT	
			COI.IDEN_ROW_ID, CDLI.CD_LINE_ITEM_ID,	
			AMOUNT = 
				CASE RIGHT(COI.ITEM_TRAN_CODE, 1)
					WHEN 'P' THEN CDLI.RISK_PREMIUM
					WHEN 'I' THEN CDLI.INTEREST				
					WHEN 'F' THEN CDLI.FEE				
					WHEN 'T' THEN CDLI.TAX				
					ELSE 0
				END,
			CD.DEPOSIT_TRAN_DATE, CDLI.RECEIPT_AMOUNT, ROUND(PID.TOTAL, 2) AS ORIGINAL_AMOUNT, CDLI.LATE_FEE, COI.ITEM_TRAN_CODE,
			COI.AGENCY_ID, CDLI.CUSTOMER_ID, CDLI.POLICY_ID, CDLI.POLICY_VERSION_ID, CDLI.RECEIPT_ISSUED_DATE, COI.PAYOR_TYPE, COI.DIV_ID, COI.DEPT_ID, COI.PC_ID,
			COI.IS_PREBILL, COI.BILL_CODE, COI.LOB_ID, COI.SUB_LOB_ID, COI.COUNTRY_ID, COI.STATE_ID, COI.ITEM_STATUS, COI.TRANS_DESC, CDLI.PAYMENT_DATE AS RECEIVED_DATE,
			COI.DUE_DATE, COI.NET_PREMIUM, COI.RISK_ID, COI.RISK_TYPE, COI.SWEEP_DATE, COI.BASE_CURRENCY, COI.TRAN_CURRENCY, COI.PAYOR_ID, 'B' AS REC_TYPE, PID.ROW_ID,
			ISNULL(CDLI.IS_EXCEPTION, 'N') IS_EXCEPTION, ISNULL(CDLI.IS_APPROVE, '') IS_APPROVE, @DEPOSIT_TYPE AS DEPOSIT_TYPE, PID.INSTALLMENT_NO		
		FROM
			ACT_CURRENT_DEPOSIT_LINE_ITEMS (NOLOCK) CDLI
		INNER JOIN 
			ACT_CURRENT_DEPOSITS (NOLOCK) CD ON (CD.DEPOSIT_ID = CDLI.DEPOSIT_ID)
		INNER JOIN
			POL_INSTALLMENT_BOLETO IB (NOLOCK) ON (IB.BOLETO_ID = CDLI.BOLETO_NO)
		INNER JOIN
			ACT_POLICY_INSTALLMENT_DETAILS PID (NOLOCK) ON (PID.ROW_ID = IB.INSTALLEMT_ID)
		INNER JOIN 
			ACT_CUSTOMER_OPEN_ITEMS COI (NOLOCK) ON (COI.CUSTOMER_ID = PID.CUSTOMER_ID AND COI.POLICY_ID = PID.POLICY_ID AND COI.POLICY_VERSION_ID = PID.POLICY_VERSION_ID AND 
				COI.PAYOR_ID = PID.CO_APPLICANT_ID AND COI.UPDATED_FROM = 'P' AND COI.ITEM_STATUS = 'DP')				
		WHERE 
			CDLI.DEPOSIT_ID = @DEPOSIT_ID AND
			CDLI.IS_ACTIVE = 'Y' 
	    		
			--AND
			--ISNULL(CDLI.IS_EXCEPTION, 'N') = 'N' AND 
			--ISNULL(CDLI.IS_APPROVE, '') <> 'R'

		
		--REMOVE NON-PREMIUM RECORDS IN CASE OF REFUND, AS ONLY ONE OPEN ITEM WOULD BE CREATED FOR THE CUSTOMER
		DELETE FROM #TEMP_RECEIPT_DETAILS WHERE ITEM_TRAN_CODE NOT IN ('NBSP', 'RENP', 'ENDP') AND IS_EXCEPTION = 'Y' AND IS_APPROVE = 'R'

		 
		/*FOLLOWING CODE IS COMMENTED BY ANURAG ON JAN 03, 2011 AS IT IS NOT REQUIRED NOW SINCE THE INTEREST ON REPRINT BOLETO CANNOT BE CHANGED
		--THE BELOW CODE VERIFIES IF THERE IS ANY MODIFIED INTEREST RECORD. IF ANY, THEN IT UPDATES THE AMOUNTS OF ORIGINAL AND MODIFIED INTEREST RECORDS
		IF EXISTS (SELECT 1 FROM #TEMP_RECEIPT_DETAILS WHERE TRANS_DESC = 'Modified Interest Amt.' AND ITEM_TRAN_CODE IN ('NBSI', 'RENI'))
		BEGIN
			DECLARE @CUSTOMER_ID1 		INT,	
					@POLICY_ID1			INT,		
					@POLICY_VERSION_ID1	INT,
					@AMOUNT1			DECIMAL(25,8),
					@IDEN_ROW_ID1		INT,
					@CD_LINE_ITEM_ID1	INT,
					@INTEREST_AMT		DECIMAL(25,8),
					@NEW_AMOUNT			DECIMAL(25,8),
					@PAYOR_ID1			INT
					
			DECLARE CR_UPDATEINTEREST CURSOR FOR
				SELECT 
					IDEN_ROW_ID, CD_LINE_ITEM_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, AMOUNT, PAYOR_ID
				FROM 
					#TEMP_RECEIPT_DETAILS 
				WHERE TRANS_DESC = 'Modified Interest Amt.' AND ITEM_TRAN_CODE IN ('NBSI', 'RENI')
			OPEN CR_UPDATEINTEREST
			FETCH NEXT FROM CR_UPDATEINTEREST INTO @IDEN_ROW_ID1, @CD_LINE_ITEM_ID1, @CUSTOMER_ID1, @POLICY_ID1, @POLICY_VERSION_ID1, @AMOUNT1, @PAYOR_ID1
			WHILE @@FETCH_STATUS = 0
			BEGIN
				SELECT @INTEREST_AMT = (TOTAL_DUE - TOTAL_PAID) FROM ACT_CUSTOMER_OPEN_ITEMS WHERE IDEN_ROW_ID = @IDEN_ROW_ID1
				SELECT @NEW_AMOUNT = CASE 
					WHEN @INTEREST_AMT = @AMOUNT1 THEN 0
					WHEN @INTEREST_AMT > @AMOUNT1 THEN 0
					WHEN @INTEREST_AMT < @AMOUNT1 THEN @AMOUNT1 - @INTEREST_AMT
				END
				
				IF @INTEREST_AMT < @AMOUNT1
				BEGIN
					UPDATE #TEMP_RECEIPT_DETAILS SET AMOUNT = @INTEREST_AMT 
					WHERE 
						CUSTOMER_ID = @CUSTOMER_ID1 AND POLICY_ID = @POLICY_ID1 AND POLICY_VERSION_ID = @POLICY_VERSION_ID1 AND PAYOR_ID = @PAYOR_ID1 AND
						ITEM_TRAN_CODE IN ('NBSI', 'RENI') AND TRANS_DESC = 'Modified Interest Amt.'
				END
					
				UPDATE #TEMP_RECEIPT_DETAILS SET AMOUNT = @NEW_AMOUNT 
				WHERE 
					CUSTOMER_ID = @CUSTOMER_ID1 AND POLICY_ID = @POLICY_ID1 AND POLICY_VERSION_ID = @POLICY_VERSION_ID1 AND PAYOR_ID = @PAYOR_ID1 AND
					ITEM_TRAN_CODE IN ('NBSI', 'RENI') AND TRANS_DESC <> 'Modified Interest Amt.'
					
				FETCH NEXT FROM CR_UPDATEINTEREST INTO @IDEN_ROW_ID1, @CD_LINE_ITEM_ID1, @CUSTOMER_ID1, @POLICY_ID1, @POLICY_VERSION_ID1, @AMOUNT1, @PAYOR_ID1
			END
			CLOSE CR_UPDATEINTEREST
			DEALLOCATE CR_UPDATEINTEREST
		END
		*/
	END
	
	--INSERT NON BOLETO RECORDS IN TEMP TABLE	
	INSERT INTO #TEMP_RECEIPT_DETAILS (
			IDEN_ROW_ID, CD_LINE_ITEM_ID, AMOUNT, 
			DEPOSIT_TRAN_DATE, RECEIPT_AMOUNT, ORIGINAL_AMOUNT, LATE_FEE, ITEM_TRAN_CODE,
			AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, RECEIPT_ISSUED_DATE, PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID,
			IS_PREBILL, BILL_CODE, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, ITEM_STATUS,
			DUE_DATE, NET_PREMIUM, RISK_ID, RISK_TYPE, SWEEP_DATE, BASE_CURRENCY, TRAN_CURRENCY, PAYOR_ID, REC_TYPE, ROW_ID, IS_EXCEPTION, IS_APPROVE, DEPOSIT_TYPE, INSTALLMENT_NO,RECEIVED_DATE
		)
	SELECT 
		CDLI.CD_LINE_ITEM_ID, CDLI.CD_LINE_ITEM_ID, CDLI.RECEIPT_AMOUNT,
		CD.DEPOSIT_TRAN_DATE, CDLI.RECEIPT_AMOUNT, CDLI.RECEIPT_AMOUNT, CDLI.LATE_FEE, 'NBSP',
		NULL, CDLI.CUSTOMER_ID, CDLI.POLICY_ID, CDLI.POLICY_VERSION_ID, CDLI.RECEIPT_ISSUED_DATE, NULL, CDLI.DIV_ID, CDLI.DEPT_ID, CDLI.PC_ID,
		NULL, NULL, NULL, NULL, NULL, NULL, 'DP',
		NULL, CDLI.RECEIPT_AMOUNT, NULL, NULL, NULL, NULL, NULL, NULL, 'O', 0, 'N', '', @DEPOSIT_TYPE, CDLI.INSTALLMENT_NO,CDLI.PAYMENT_DATE
	FROM
		ACT_CURRENT_DEPOSIT_LINE_ITEMS (NOLOCK) CDLI
	INNER JOIN 
		ACT_CURRENT_DEPOSITS (NOLOCK) CD ON (CD.DEPOSIT_ID = CDLI.DEPOSIT_ID)
	WHERE
		CDLI.DEPOSIT_ID = @DEPOSIT_ID AND
		CDLI.IS_ACTIVE = 'Y' AND
		CDLI.BOLETO_NO IS NULL
						
		------UPdate temp table from installment_row_id according in case of deposite
		--SELECT * FROM  ACT_POLICY_INSTALLMENT_DETAILS WHERE INSTALLMENT_NO IN 
		--(SELECT )  			
	
	--FOR EACH CUSTOMER RECEIPT, CREATE AN OPEN ITEM IN CUSTOMER OPEN ITEM TABLE
	INSERT INTO ACT_CUSTOMER_OPEN_ITEMS(
		UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, TOTAL_DUE, TOTAL_PAID, 
		AGENCY_COMM_APPLIES, AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, 
		IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, ITEM_STATUS, 
		TRANS_DESC, DUE_DATE, NET_PREMIUM, RISK_ID, RISK_TYPE, SWEEP_DATE, BASE_CURRENCY, TRAN_CURRENCY, PAYOR_ID,INSTALLMENT_ROW_ID
		)
	SELECT		
		'D', CD_LINE_ITEM_ID, CD_LINE_ITEM_ID, DEPOSIT_TRAN_DATE, DEPOSIT_TRAN_DATE, GETDATE(), -(RECEIPT_AMOUNT), -(RECEIPT_AMOUNT), 
		'Y', AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, RECEIPT_ISSUED_DATE, RECEIPT_ISSUED_DATE, 1, PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID,
		IS_PREBILL, BILL_CODE, RECEIPT_AMOUNT, 'REC', 'REC', LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, 
		CASE WHEN IS_EXCEPTION = 'Y' AND IS_APPROVE = 'R' THEN 'RP' ELSE ITEM_STATUS END,
		'Receipt', DUE_DATE, NET_PREMIUM, RISK_ID, RISK_TYPE, SWEEP_DATE, BASE_CURRENCY, TRAN_CURRENCY, PAYOR_ID,ROW_ID
	FROM
		#TEMP_RECEIPT_DETAILS
	WHERE
		RIGHT(ITEM_TRAN_CODE, 1) = 'P' AND DEPOSIT_TYPE = 14831
		
	UNION ALL	--INSERT LATE FEE RECORD IN CASE THERE IS ANY LATE FEE CHARGED
	
	SELECT		
		'L', CD_LINE_ITEM_ID, CD_LINE_ITEM_ID, DEPOSIT_TRAN_DATE, DEPOSIT_TRAN_DATE, GETDATE(), LATE_FEE, LATE_FEE, 
		'Y', AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, RECEIPT_ISSUED_DATE, RECEIPT_ISSUED_DATE, 1, PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID,
		IS_PREBILL, BILL_CODE, RECEIPT_AMOUNT, 'LF', 'LF', LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, ITEM_STATUS,
		'Late Fees', DUE_DATE, NET_PREMIUM, RISK_ID, RISK_TYPE, SWEEP_DATE, BASE_CURRENCY, TRAN_CURRENCY, PAYOR_ID,ROW_ID
	FROM
		#TEMP_RECEIPT_DETAILS
	WHERE
		RIGHT(ITEM_TRAN_CODE, 1) = 'P' AND
		DEPOSIT_TYPE = 14831 AND
		LATE_FEE <> 0 AND
		REC_TYPE = 'B' AND		
		((
			ISNULL(IS_EXCEPTION, 'N') = 'N' AND 
			ISNULL(IS_APPROVE, '') <> 'R'	
		) OR
		(
			ISNULL(IS_EXCEPTION, 'N') = 'Y' AND 
			ISNULL(IS_APPROVE, '') = 'A'	
		))
		
	--INSERT WRITE OFF RECORD IN CASE THERE IS ANY DIFFERENCE IN RECEIPT AMOUNT
	INSERT INTO ACT_CUSTOMER_OPEN_ITEMS(
		UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, TOTAL_DUE, TOTAL_PAID, 
		AGENCY_COMM_APPLIES, AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, 
		IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, ITEM_STATUS, 
		TRANS_DESC, DUE_DATE, NET_PREMIUM, RISK_ID, RISK_TYPE, SWEEP_DATE, BASE_CURRENCY, TRAN_CURRENCY, PAYOR_ID
		)
	SELECT		
		'W', CD_LINE_ITEM_ID, CD_LINE_ITEM_ID, DEPOSIT_TRAN_DATE, DEPOSIT_TRAN_DATE, GETDATE(), -(ORIGINAL_AMOUNT - RECEIPT_AMOUNT + LATE_FEE), -(ORIGINAL_AMOUNT - RECEIPT_AMOUNT + LATE_FEE), 
		'Y', AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, RECEIPT_ISSUED_DATE, RECEIPT_ISSUED_DATE, 1, PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID,
		IS_PREBILL, BILL_CODE, RECEIPT_AMOUNT, 'WO', 'WO', LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, ITEM_STATUS,
		'Write Off', DUE_DATE, NET_PREMIUM, RISK_ID, RISK_TYPE, SWEEP_DATE, BASE_CURRENCY, TRAN_CURRENCY, PAYOR_ID	
	FROM
		#TEMP_RECEIPT_DETAILS
	WHERE
		RIGHT(ITEM_TRAN_CODE, 1) = 'P' AND
		DEPOSIT_TYPE = 14831 AND
		RECEIPT_AMOUNT <> ORIGINAL_AMOUNT AND
		REC_TYPE = 'B' AND 		
		((
			ISNULL(IS_EXCEPTION, 'N') = 'N' AND 
			ISNULL(IS_APPROVE, '') <> 'R'	
		) OR
		(
			ISNULL(IS_EXCEPTION, 'N') = 'Y' AND 
			ISNULL(IS_APPROVE, '') = 'A'	
		))
		
	--UPDATE CUSTOMER OPEN ITEMS WITH PAID AMOUNT	
	UPDATE 
		ACT_CUSTOMER_OPEN_ITEMS
	SET
		TOTAL_PAID = TOTAL_PAID + 
			(
				SELECT SUM(AMOUNT) FROM #TEMP_RECEIPT_DETAILS 
				WHERE ACT_CUSTOMER_OPEN_ITEMS.IDEN_ROW_ID = #TEMP_RECEIPT_DETAILS.IDEN_ROW_ID AND #TEMP_RECEIPT_DETAILS.REC_TYPE = 'B' AND 
					((
						ISNULL(#TEMP_RECEIPT_DETAILS.IS_EXCEPTION, 'N') = 'N' AND 
						ISNULL(#TEMP_RECEIPT_DETAILS.IS_APPROVE, '') <> 'R'		
					) 
					OR
					(
						ISNULL(#TEMP_RECEIPT_DETAILS.IS_EXCEPTION, 'N') = 'Y' AND 
						ISNULL(#TEMP_RECEIPT_DETAILS.IS_APPROVE, '') = 'A'		
					))			
				GROUP BY #TEMP_RECEIPT_DETAILS.IDEN_ROW_ID
			)
	FROM 
		#TEMP_RECEIPT_DETAILS 
	WHERE 
		ACT_CUSTOMER_OPEN_ITEMS.IDEN_ROW_ID = #TEMP_RECEIPT_DETAILS.IDEN_ROW_ID AND 
		#TEMP_RECEIPT_DETAILS.REC_TYPE = 'B' AND		
		((
			ISNULL(#TEMP_RECEIPT_DETAILS.IS_EXCEPTION, 'N') = 'N' AND 
			ISNULL(#TEMP_RECEIPT_DETAILS.IS_APPROVE, '') <> 'R'		
		) 
		OR
		(
			ISNULL(#TEMP_RECEIPT_DETAILS.IS_EXCEPTION, 'N') = 'Y' AND 
			ISNULL(#TEMP_RECEIPT_DETAILS.IS_APPROVE, '') = 'A'		
		))		
	
	--FOLLOWING CODE CREATES RECONCILIATION GROUPS
	SELECT @GROUP_ID = ISNULL(MAX(GROUP_ID), 0) + 1 FROM ACT_RECONCILIATION_GROUPS

	DECLARE CR_RECEIPTS CURSOR FOR
		SELECT CD_LINE_ITEM_ID, CUSTOMER_ID FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS WHERE DEPOSIT_ID = @DEPOSIT_ID
	OPEN CR_RECEIPTS
	FETCH NEXT FROM CR_RECEIPTS INTO @ROW_ID, @CUSTOMER_ID
	WHILE @@FETCH_STATUS = 0
	BEGIN
		IF EXISTS (SELECT 1 FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS (NOLOCK) WHERE CD_LINE_ITEM_ID = @ROW_ID AND BOLETO_NO IS NOT NULL AND
						 IS_ACTIVE = 'Y'  AND ISNULL(IS_APPROVE, '') <> 'R')--AND ISNULL(IS_EXCEPTION, 'N') = 'N' --commented by Lalit June 08,2011--consider exception approved cases
		BEGIN			
			--CREATE NEW GROUP FOR EACH RECEIPT
			INSERT INTO ACT_RECONCILIATION_GROUPS (
				GROUP_ID, RECON_ENTITY_ID, RECON_ENTITY_TYPE, IS_COMMITTED, DATE_COMMITTED, COMMITTED_BY, IS_ACTIVE, CREATED_BY, CREATED_DATETIME,UPDATED_FROM)
			SELECT 
				@GROUP_ID, CUSTOMER_ID, 'CUST', 'Y', GETDATE(), @COMMITTED_BY, 'Y', @COMMITTED_BY, GETDATE(),'D' --Added By Lalit June 11,2011.find group creation area(D-from deposite,C-from cancellation,E-from endorsement cancellation) 
			FROM
				ACT_CURRENT_DEPOSIT_LINE_ITEMS (NOLOCK) 
			WHERE 
				CD_LINE_ITEM_ID = @ROW_ID AND 
				BOLETO_NO IS NOT NULL AND
				IS_ACTIVE = 'Y' AND
				--ISNULL(IS_EXCEPTION, 'N') = 'N' AND  --commented by Lalit june 08,2011. for exception appoved recipts
				ISNULL(IS_APPROVE, '') <> 'R'
				
			--INSERT RECONCILIATION ITEMS INTO GROUP DETAILS
			--INSERT DEPOSIT, WRITE-OFF AND LATE FEE RECORDS
			INSERT INTO ACT_CUSTOMER_RECON_GROUP_DETAILS (
				GROUP_ID, ITEM_TYPE, ITEM_REFERENCE_ID, SUB_LEDGER_TYPE, RECON_AMOUNT, DIV_ID, DEPT_ID, PC_ID)
			SELECT
				@GROUP_ID, 'CUST', IDEN_ROW_ID, 'CUST', TOTAL_DUE, DIV_ID, DEPT_ID, PC_ID
			FROM 	
				ACT_CUSTOMER_OPEN_ITEMS (NOLOCK) 		
			WHERE 
				UPDATED_FROM IN ('D', 'W', 'L') AND 
				SOURCE_ROW_ID = @ROW_ID
			
			UNION ALL	--INSERT CUSTOMER OPEN ITEM RECORDS WHICH ARE AFFECTED BY RECEIPT
			 
			SELECT
				@GROUP_ID, 'CUST', COI.IDEN_ROW_ID, 'CUST', RD.AMOUNT, COI.DIV_ID, COI.DEPT_ID, COI.PC_ID
			FROM 
				#TEMP_RECEIPT_DETAILS RD
			INNER JOIN
				ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI (NOLOCK) ON (CDLI.CD_LINE_ITEM_ID = RD.CD_LINE_ITEM_ID)
			INNER JOIN
				ACT_CUSTOMER_OPEN_ITEMS COI (NOLOCK) ON (COI.IDEN_ROW_ID = RD.IDEN_ROW_ID)
			WHERE
				CDLI.CD_LINE_ITEM_ID = @ROW_ID AND
				RD.AMOUNT <> 0			
		END
				
		SELECT @CUSTOMER_NAME = ISNULL(CUSTOMER_CODE,'') + ' - ' + ISNULL(CUSTOMER_FIRST_NAME,'') + ' ' + ISNULL(CUSTOMER_MIDDLE_NAME,'') + 
			CASE WHEN ISNULL(CUSTOMER_MIDDLE_NAME,'') = '' THEN '' ELSE ' ' END + ISNULL(CUSTOMER_LAST_NAME ,'') 
		FROM CLT_CUSTOMER_LIST WITH(NOLOCK)
		WHERE CUSTOMER_ID = @CUSTOMER_ID 
		
		SELECT @BILL_CODE = BILL_CODE FROM ACT_CUSTOMER_OPEN_ITEMS WHERE UPDATED_FROM IN ('D') AND SOURCE_ROW_ID = @ROW_ID
		SELECT 
			@FULLPREMIUM_ACCOUNT = CASE @BILL_CODE WHEN 'AB' THEN AST_UNCOLL_PRM_AGENCY ELSE AST_UNCOLL_PRM_CUSTOMER END,
			@WRITEOFF_ACCOUNT = EXP_SMALL_BALANCE_WRITE_OFF, @LATEFEE_ACCOUNT = INC_LATE_FEES
		FROM ACT_GENERAL_LEDGER WITH(NOLOCK)
		WHERE FISCAL_ID = @FISCAL_ID 
			
		--INSERT BANK ACCOUNT POSTING OF THE RECEIPT			
		INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS
		(
			ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
			POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, 
			DIV_ID, DEPT_ID, PC_ID, IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE,
			TRAN_ID, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME, COMMISSION_TYPE, TRAN_ENTITY, TRAN_DESC, PAYOR_ID
		)
		SELECT
			@ACCOUNT_ID, COI.UPDATED_FROM, 'CUS', COI.IDEN_ROW_ID, COI.IDEN_ROW_ID, COI.SOURCE_TRAN_DATE, COI.SOURCE_EFF_DATE,
			COI.POSTING_DATE, -(COI.TOTAL_DUE), COI.AGENCY_ID, COI.CUSTOMER_ID, COI.POLICY_ID, COI.POLICY_VERSION_ID, 
			COI.DIV_ID, COI.DEPT_ID, COI.PC_ID, COI.IS_PREBILL, COI.BILL_CODE, COI.GROSS_AMOUNT, COI.ITEM_TRAN_CODE, COI.ITEM_TRAN_CODE_TYPE,
			COI.TRAN_ID, COI.LOB_ID, COI.SUB_LOB_ID, COI.COUNTRY_ID, COI.STATE_ID, @COMMITTED_BY, @COMMITTED_BY_CODE, @COMMITTED_BY_NAME, 
			COI.COMMISSION_TYPE, @CUSTOMER_NAME, COI.TRANS_DESC, COI.PAYOR_ID
		FROM 	
			ACT_CUSTOMER_OPEN_ITEMS COI WITH(NOLOCK)		
		WHERE 
			UPDATED_FROM IN ('D') AND 
			SOURCE_ROW_ID = @ROW_ID
		
		--INSERT BANK ACCOUNT CONTRA POSTING OF THE RECEIPT
		INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS
		(
			ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
			POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, 
			DIV_ID, DEPT_ID, PC_ID, IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE,
			TRAN_ID, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME, COMMISSION_TYPE, TRAN_ENTITY, TRAN_DESC, PAYOR_ID
		)
		SELECT
			@FULLPREMIUM_ACCOUNT, COI.UPDATED_FROM, 'CUS', COI.IDEN_ROW_ID, COI.IDEN_ROW_ID, COI.SOURCE_TRAN_DATE, COI.SOURCE_EFF_DATE,
			COI.POSTING_DATE, COI.TOTAL_DUE, COI.AGENCY_ID, COI.CUSTOMER_ID, COI.POLICY_ID, COI.POLICY_VERSION_ID, 
			COI.DIV_ID, COI.DEPT_ID, COI.PC_ID, COI.IS_PREBILL, COI.BILL_CODE, COI.GROSS_AMOUNT, COI.ITEM_TRAN_CODE, COI.ITEM_TRAN_CODE_TYPE,
			COI.TRAN_ID, COI.LOB_ID, COI.SUB_LOB_ID, COI.COUNTRY_ID, COI.STATE_ID, @COMMITTED_BY, @COMMITTED_BY_CODE, @COMMITTED_BY_NAME, 
			COI.COMMISSION_TYPE, @CUSTOMER_NAME, COI.TRANS_DESC, COI.PAYOR_ID
		FROM 	
			ACT_CUSTOMER_OPEN_ITEMS COI WITH(NOLOCK)		
		WHERE 
			UPDATED_FROM IN ('D') AND 
			SOURCE_ROW_ID = @ROW_ID
						
		--INSERT POSTING FOR WRITE OFF AMOUNT
		INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS
		(
			ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
			POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, 
			DIV_ID, DEPT_ID, PC_ID, IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE,
			TRAN_ID, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME, COMMISSION_TYPE, TRAN_ENTITY, TRAN_DESC, PAYOR_ID
		)
		SELECT
			@FULLPREMIUM_ACCOUNT, COI.UPDATED_FROM, 'CUS', COI.IDEN_ROW_ID, COI.IDEN_ROW_ID, COI.SOURCE_TRAN_DATE, COI.SOURCE_EFF_DATE,
			COI.POSTING_DATE, COI.TOTAL_DUE, COI.AGENCY_ID, COI.CUSTOMER_ID, COI.POLICY_ID, COI.POLICY_VERSION_ID, 
			COI.DIV_ID, COI.DEPT_ID, COI.PC_ID, COI.IS_PREBILL, COI.BILL_CODE, COI.GROSS_AMOUNT, COI.ITEM_TRAN_CODE, COI.ITEM_TRAN_CODE_TYPE,
			COI.TRAN_ID, COI.LOB_ID, COI.SUB_LOB_ID, COI.COUNTRY_ID, COI.STATE_ID, @COMMITTED_BY, @COMMITTED_BY_CODE, @COMMITTED_BY_NAME, 
			COI.COMMISSION_TYPE, @CUSTOMER_NAME, COI.TRANS_DESC, COI.PAYOR_ID
		FROM 	
			ACT_CUSTOMER_OPEN_ITEMS COI WITH(NOLOCK)		
		WHERE 
			UPDATED_FROM IN ('W') AND 
			SOURCE_ROW_ID = @ROW_ID
			
		--INSERT POSTING FOR WRITE OFF CONTRA AMOUNT
		INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS
		(
			ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
			POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, 
			DIV_ID, DEPT_ID, PC_ID, IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE,
			TRAN_ID, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME, COMMISSION_TYPE, TRAN_ENTITY, TRAN_DESC, PAYOR_ID
		)
		SELECT
			@WRITEOFF_ACCOUNT, COI.UPDATED_FROM, 'CUS', COI.IDEN_ROW_ID, COI.IDEN_ROW_ID, COI.SOURCE_TRAN_DATE, COI.SOURCE_EFF_DATE,
			COI.POSTING_DATE, -(COI.TOTAL_DUE), COI.AGENCY_ID, COI.CUSTOMER_ID, COI.POLICY_ID, COI.POLICY_VERSION_ID, 
			COI.DIV_ID, COI.DEPT_ID, COI.PC_ID, COI.IS_PREBILL, COI.BILL_CODE, COI.GROSS_AMOUNT, COI.ITEM_TRAN_CODE, COI.ITEM_TRAN_CODE_TYPE,
			COI.TRAN_ID, COI.LOB_ID, COI.SUB_LOB_ID, COI.COUNTRY_ID, COI.STATE_ID, @COMMITTED_BY, @COMMITTED_BY_CODE, @COMMITTED_BY_NAME, 
			COI.COMMISSION_TYPE, @CUSTOMER_NAME, COI.TRANS_DESC, COI.PAYOR_ID
		FROM 	
			ACT_CUSTOMER_OPEN_ITEMS COI WITH(NOLOCK)		
		WHERE 
			UPDATED_FROM IN ('W') AND 
			SOURCE_ROW_ID = @ROW_ID
			
		--INSERT POSTING FOR LATE FEE AMOUNT
		INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS
		(
			ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
			POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, 
			DIV_ID, DEPT_ID, PC_ID, IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE,
			TRAN_ID, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME, COMMISSION_TYPE, TRAN_ENTITY, TRAN_DESC, PAYOR_ID
		)
		SELECT
			@FULLPREMIUM_ACCOUNT, COI.UPDATED_FROM, 'CUS', COI.IDEN_ROW_ID, COI.IDEN_ROW_ID, COI.SOURCE_TRAN_DATE, COI.SOURCE_EFF_DATE,
			COI.POSTING_DATE, COI.TOTAL_DUE, COI.AGENCY_ID, COI.CUSTOMER_ID, COI.POLICY_ID, COI.POLICY_VERSION_ID, 
			COI.DIV_ID, COI.DEPT_ID, COI.PC_ID, COI.IS_PREBILL, COI.BILL_CODE, COI.GROSS_AMOUNT, COI.ITEM_TRAN_CODE, COI.ITEM_TRAN_CODE_TYPE,
			COI.TRAN_ID, COI.LOB_ID, COI.SUB_LOB_ID, COI.COUNTRY_ID, COI.STATE_ID, @COMMITTED_BY, @COMMITTED_BY_CODE, @COMMITTED_BY_NAME, 
			COI.COMMISSION_TYPE, @CUSTOMER_NAME, COI.TRANS_DESC, COI.PAYOR_ID
		FROM 	
			ACT_CUSTOMER_OPEN_ITEMS COI WITH(NOLOCK)		
		WHERE 
			UPDATED_FROM IN ('L') AND 
			SOURCE_ROW_ID = @ROW_ID
			
		--INSERT POSTING FOR LATE FEE CONTRA AMOUNT
		INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS
		(
			ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
			POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, 
			DIV_ID, DEPT_ID, PC_ID, IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE,
			TRAN_ID, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME, COMMISSION_TYPE, TRAN_ENTITY, TRAN_DESC, PAYOR_ID
		)
		SELECT
			@LATEFEE_ACCOUNT, COI.UPDATED_FROM, 'CUS', COI.IDEN_ROW_ID, COI.IDEN_ROW_ID, COI.SOURCE_TRAN_DATE, COI.SOURCE_EFF_DATE,
			COI.POSTING_DATE, -(COI.TOTAL_DUE), COI.AGENCY_ID, COI.CUSTOMER_ID, COI.POLICY_ID, COI.POLICY_VERSION_ID, 
			COI.DIV_ID, COI.DEPT_ID, COI.PC_ID, COI.IS_PREBILL, COI.BILL_CODE, COI.GROSS_AMOUNT, COI.ITEM_TRAN_CODE, COI.ITEM_TRAN_CODE_TYPE,
			COI.TRAN_ID, COI.LOB_ID, COI.SUB_LOB_ID, COI.COUNTRY_ID, COI.STATE_ID, @COMMITTED_BY, @COMMITTED_BY_CODE, @COMMITTED_BY_NAME, 
			COI.COMMISSION_TYPE, @CUSTOMER_NAME, COI.TRANS_DESC, COI.PAYOR_ID
		FROM 	
			ACT_CUSTOMER_OPEN_ITEMS COI WITH(NOLOCK)		
		WHERE 
			UPDATED_FROM IN ('L') AND 
			SOURCE_ROW_ID = @ROW_ID
							
		SET @GROUP_ID = @GROUP_ID + 1
		
		FETCH NEXT FROM CR_RECEIPTS INTO @ROW_ID, @CUSTOMER_ID				
	END
	CLOSE CR_RECEIPTS
	DEALLOCATE CR_RECEIPTS
	--END OF RECONCILIATION GROUP ENTRY
	
	IF @DEPOSIT_TYPE = 14831
	BEGIN
		--UPDATE INSTALLMENT DETAILS FOR NORMAL DEPOSITS WITH BOLETO
	
		UPDATE 
			ACT_POLICY_INSTALLMENT_DETAILS 
		SET 
			RELEASED_STATUS = 'Y', 
			RECEIVED_DATE = #TEMP_RECEIPT_DETAILS.RECEIVED_DATE,
			PAID_AMOUNT = (SELECT TOP 1 ORIGINAL_AMOUNT FROM #TEMP_RECEIPT_DETAILS WHERE #TEMP_RECEIPT_DETAILS.ROW_ID = ACT_POLICY_INSTALLMENT_DETAILS.ROW_ID AND REC_TYPE = 'B'),		
			RECEIVED_AMOUNT = (SELECT TOP 1 RECEIPT_AMOUNT FROM #TEMP_RECEIPT_DETAILS WHERE #TEMP_RECEIPT_DETAILS.ROW_ID = ACT_POLICY_INSTALLMENT_DETAILS.ROW_ID AND REC_TYPE = 'B')
		FROM 
			#TEMP_RECEIPT_DETAILS 
		WHERE 
			#TEMP_RECEIPT_DETAILS.ROW_ID = ACT_POLICY_INSTALLMENT_DETAILS.ROW_ID AND REC_TYPE = 'B' AND DEPOSIT_TYPE = 14831 AND ISNULL(#TEMP_RECEIPT_DETAILS.IS_APPROVE, '') <> 'R'	
	END	
	
	IF @DEPOSIT_TYPE = 14832				-- COI
	BEGIN
		--UPDATE INSTALLMENT DETAILS FOR COI DEPOSITS 
		UPDATE 
			ACT_POLICY_INSTALLMENT_DETAILS 
		SET 
			RELEASED_STATUS = 'Y', 
			RECEIVED_DATE = #TEMP_RECEIPT_DETAILS.RECEIVED_DATE,
			PAID_AMOUNT = (SELECT TOP 1 ORIGINAL_AMOUNT FROM #TEMP_RECEIPT_DETAILS WHERE 
								#TEMP_RECEIPT_DETAILS.INSTALLMENT_NO = ACT_POLICY_INSTALLMENT_DETAILS.INSTALLMENT_NO AND 
								#TEMP_RECEIPT_DETAILS.CUSTOMER_ID = ACT_POLICY_INSTALLMENT_DETAILS.CUSTOMER_ID AND
								#TEMP_RECEIPT_DETAILS.POLICY_ID = ACT_POLICY_INSTALLMENT_DETAILS.POLICY_ID AND
								#TEMP_RECEIPT_DETAILS.POLICY_VERSION_ID = ACT_POLICY_INSTALLMENT_DETAILS.POLICY_VERSION_ID AND
								DEPOSIT_TYPE = 14832),		
			RECEIVED_AMOUNT = (SELECT TOP 1 RECEIPT_AMOUNT FROM #TEMP_RECEIPT_DETAILS WHERE 
								#TEMP_RECEIPT_DETAILS.INSTALLMENT_NO = ACT_POLICY_INSTALLMENT_DETAILS.INSTALLMENT_NO AND 
								#TEMP_RECEIPT_DETAILS.CUSTOMER_ID = ACT_POLICY_INSTALLMENT_DETAILS.CUSTOMER_ID AND
								#TEMP_RECEIPT_DETAILS.POLICY_ID = ACT_POLICY_INSTALLMENT_DETAILS.POLICY_ID AND
								#TEMP_RECEIPT_DETAILS.POLICY_VERSION_ID = ACT_POLICY_INSTALLMENT_DETAILS.POLICY_VERSION_ID AND
								DEPOSIT_TYPE = 14832)
		FROM 
			#TEMP_RECEIPT_DETAILS 
		WHERE 
			#TEMP_RECEIPT_DETAILS.INSTALLMENT_NO = ACT_POLICY_INSTALLMENT_DETAILS.INSTALLMENT_NO AND 
			#TEMP_RECEIPT_DETAILS.CUSTOMER_ID = ACT_POLICY_INSTALLMENT_DETAILS.CUSTOMER_ID AND
			#TEMP_RECEIPT_DETAILS.POLICY_ID = ACT_POLICY_INSTALLMENT_DETAILS.POLICY_ID AND
			#TEMP_RECEIPT_DETAILS.POLICY_VERSION_ID = ACT_POLICY_INSTALLMENT_DETAILS.POLICY_VERSION_ID AND
			DEPOSIT_TYPE = 14832
			AND ISNULL(#TEMP_RECEIPT_DETAILS.IS_APPROVE, '') <> 'R'	
		
		 
		
	END	
				
	--INSERT AGENCY STATEMENT DETAILS	
	INSERT INTO ACT_AGENCY_STATEMENT_DETAILED(
		--MONTH_NUMBER, 
		AGENCY_ID, POLICY_ID, POLICY_VERSION_ID, CUSTOMER_ID, SOURCE_EFF_DATE, PREMIUM_AMOUNT, COMMISSION_RATE, 
		TOTAL_PAID, 
		SOURCE_ROW_ID, 
		--MONTH_YEAR, 
		TRAN_TYPE, AMOUNT_FOR_CALCULATION, COMMISSION_AMOUNT, DUE_AMOUNT, DATE_FULL_PAID, PAYMENT_DATE, INSTALLMENT_NO,
		PAYMENT_STATUS, AGENCY_OPEN_ITEM_ID, CUSTOMER_OPEN_ITEM_ID, GROSS_PREMIUM, FEES, TRAN_CODE, COMM_TYPE
		--, BILL_TYPE, ITEM_STATUS, UPDATED_FROM, IS_CHECK_CREATED, STAT_FEES_FOR_CALCULATION, CSR_ID, NOT_COUNTED_RECEIVABLE, ADJUSTED_AMOUNT		
		)
	SELECT
		AOI.AGENCY_ID, COI.POLICY_ID, COI.POLICY_VERSION_ID, COI.CUSTOMER_ID, COI.SOURCE_EFF_DATE, COI.NET_PREMIUM, 
		CASE ISNULL(PCPL.POLICY_LEVEL_COMM_APPLIES, 'N')
			WHEN 'Y' THEN PCPL.POLICY_LEVEL_COMISSION
			ELSE AOI.AGENCY_COMM_PERC
		END COMMISSION_RATE, 
		--(PID.INSTALLMENT_AMOUNT / COI.TOTAL_DUE) * AOI.TOTAL_DUE AS TOTAL_PAID,-- Commented by Pk Chandel on 21 June 11 as Total Paid should be updated on successful Payment via Pagnet
		0 AS TOTAL_PAID, 
		0 AS SOURCE_ROW_ID, 
		'D' AS TRAN_TYPE, PID.INSTALLMENT_AMOUNT AS AMOUNT_FOR_CALCULATION, (PID.INSTALLMENT_AMOUNT / COI.TOTAL_DUE) * AOI.TOTAL_DUE AS COMMISSION_AMOUNT, 
		(PID.INSTALLMENT_AMOUNT / COI.TOTAL_DUE) * AOI.TOTAL_DUE AS DUE_AMOUNT, GETDATE() AS DATE_FULL_PAID, 
		GETDATE() AS PAYMENT_DATE, PID.INSTALLMENT_NO,
		1 AS PAYMENT_STATUS, AOI.IDEN_ROW_ID, COI.IDEN_ROW_ID, COI.GROSS_AMOUNT, 0 AS FEES, AOI.ITEM_TRAN_CODE_TYPE, AOI.COMMISSION_TYPE		
		--CDLI.RECEIPT_AMOUNT, CDLI.BOLETO_NO, PID.INSTALLMENT_AMOUNT, PID.RELEASED_STATUS, PID.CO_APPLICANT_ID
	FROM
		ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI (NOLOCK) 
	INNER JOIN
		POL_INSTALLMENT_BOLETO IB (NOLOCK) ON (IB.BOLETO_ID = CDLI.BOLETO_NO)
	INNER JOIN
		ACT_POLICY_INSTALLMENT_DETAILS PID (NOLOCK) ON (PID.ROW_ID = IB.INSTALLEMT_ID)
	INNER JOIN 
		ACT_CUSTOMER_OPEN_ITEMS COI (NOLOCK) ON (COI.CUSTOMER_ID = PID.CUSTOMER_ID AND COI.POLICY_ID = PID.POLICY_ID AND COI.POLICY_VERSION_ID = PID.POLICY_VERSION_ID AND 
			COI.PAYOR_ID = PID.CO_APPLICANT_ID AND RIGHT(COI.ITEM_TRAN_CODE, 1) = 'P')
	INNER JOIN 
		ACT_AGENCY_OPEN_ITEMS AOI (NOLOCK) ON (AOI.CUSTOMER_ID = PID.CUSTOMER_ID AND AOI.POLICY_ID = PID.POLICY_ID AND AOI.POLICY_VERSION_ID = PID.POLICY_VERSION_ID AND 
			AOI.PAYOR_ID = PID.CO_APPLICANT_ID AND RIGHT(AOI.ITEM_TRAN_CODE, 1) = 'C')	
	INNER JOIN
		POL_CUSTOMER_POLICY_LIST PCPL (NOLOCK) ON (PCPL.CUSTOMER_ID = PID.CUSTOMER_ID AND PCPL.POLICY_ID = PID.POLICY_ID AND PCPL.POLICY_VERSION_ID = PID.POLICY_VERSION_ID)
	WHERE 
		CDLI.DEPOSIT_ID = @DEPOSIT_ID AND
		CDLI.IS_ACTIVE = 'Y' AND
		((
			ISNULL(CDLI.IS_EXCEPTION, 'N') = 'N' AND 
			ISNULL(CDLI.IS_APPROVE, '') <> 'R'
		)OR
		(
			ISNULL(CDLI.IS_EXCEPTION, 'N') = 'Y' AND 
			ISNULL(CDLI.IS_APPROVE, '') = 'A'	
		))
					
	--INSERT COI STATEMENT DETAILS	
	INSERT INTO ACT_COI_STATEMENT_DETAILED(
		--MONTH_NUMBER, 
		COMPANY_ID, POLICY_ID, POLICY_VERSION_ID, CUSTOMER_ID, SOURCE_EFF_DATE, PREMIUM_AMOUNT, COMMISSION_RATE, 
		TOTAL_PAID, 
		SOURCE_ROW_ID, 
		--MONTH_YEAR, 
		TRAN_TYPE, AMOUNT_FOR_CALCULATION, COMMISSION_AMOUNT, DUE_AMOUNT, DATE_FULL_PAID, PAYMENT_DATE, INSTALLMENT_NO,
		PAYMENT_STATUS, COI_OPEN_ITEM_ID, CUSTOMER_OPEN_ITEM_ID, GROSS_PREMIUM, FEES
		--TRAN_CODE, COMM_TYPE, BILL_TYPE, ITEM_STATUS, UPDATED_FROM, IS_CHECK_CREATED, STAT_FEES_FOR_CALCULATION, CSR_ID, NOT_COUNTED_RECEIVABLE, ADJUSTED_AMOUNT		
		)	
	SELECT
		CO.CO_COMPANY_ID, COI.POLICY_ID, COI.POLICY_VERSION_ID, COI.CUSTOMER_ID, COI.SOURCE_EFF_DATE, COI.NET_PREMIUM, CO.AGENCY_COMM_PERC, 
		--(PID.INSTALLMENT_AMOUNT / COI.TOTAL_DUE) * CO.TOTAL_DUE AS TOTAL_PAID, -- Commented by Pk Chandel on 21 June 11 as Total Paid should be updated on successful Payment via Pagnet
		0 AS TOTAL_PAID,
		0 AS SOURCE_ROW_ID, 
		'D' AS TRAN_TYPE, PID.INSTALLMENT_AMOUNT AS AMOUNT_FOR_CALCULATION, (PID.INSTALLMENT_AMOUNT / COI.TOTAL_DUE) * CO.TOTAL_DUE AS COMMISSION_AMOUNT, 
		(PID.INSTALLMENT_AMOUNT / COI.TOTAL_DUE) * CO.TOTAL_DUE AS DUE_AMOUNT, GETDATE() AS DATE_FULL_PAID, 
		GETDATE() AS PAYMENT_DATE, PID.INSTALLMENT_NO,
		1 AS PAYMENT_STATUS, CO.IDEN_ROW_ID, COI.IDEN_ROW_ID, COI.GROSS_AMOUNT, 0 AS FEES
		--CDLI.RECEIPT_AMOUNT, CDLI.BOLETO_NO, PID.INSTALLMENT_AMOUNT, PID.RELEASED_STATUS, PID.CO_APPLICANT_ID
	FROM
		ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI (NOLOCK) 
	INNER JOIN
		POL_INSTALLMENT_BOLETO IB (NOLOCK) ON (IB.BOLETO_ID = CDLI.BOLETO_NO)
	INNER JOIN
		ACT_POLICY_INSTALLMENT_DETAILS PID (NOLOCK) ON (PID.ROW_ID = IB.INSTALLEMT_ID)	
	INNER JOIN 
		ACT_CUSTOMER_OPEN_ITEMS COI (NOLOCK) ON (COI.CUSTOMER_ID = PID.CUSTOMER_ID AND COI.POLICY_ID = PID.POLICY_ID AND COI.POLICY_VERSION_ID = PID.POLICY_VERSION_ID AND 
			COI.PAYOR_ID = PID.CO_APPLICANT_ID AND RIGHT(COI.ITEM_TRAN_CODE, 1) = 'P')
	INNER JOIN
		ACT_POLICY_CO_BILLING_DETAILS PCBD (NOLOCK) ON (PCBD.CUSTOMER_ID = PID.CUSTOMER_ID AND PCBD.POLICY_ID = PID.POLICY_ID AND PCBD.POLICY_VERSION_ID = PID.POLICY_VERSION_ID AND
			PCBD.INSTALLMENT_NO = PID.INSTALLMENT_NO)
	INNER JOIN 
		ACT_COI_OPEN_ITEMS CO (NOLOCK) ON (CO.CUSTOMER_ID = PID.CUSTOMER_ID AND CO.POLICY_ID = PID.POLICY_ID AND CO.POLICY_VERSION_ID = PID.POLICY_VERSION_ID AND 
			CO.CO_COMPANY_ID = PCBD.CO_COMPANY_ID)-- AND CO.ITEM_TRAN_CODE IN ('NBSP', 'RENP'))	
	WHERE 
		CDLI.DEPOSIT_ID = @DEPOSIT_ID AND
		CDLI.IS_ACTIVE = 'Y' AND
		((
			ISNULL(CDLI.IS_EXCEPTION, 'N') = 'N' AND 
			ISNULL(CDLI.IS_APPROVE, '') <> 'R'
		)OR
		(
			ISNULL(CDLI.IS_EXCEPTION, 'N') = 'Y' AND 
			ISNULL(CDLI.IS_APPROVE, '') = 'A'	
		))
	
	
--Modified (19-AUG-2011) by Pradeep as per the itrack - 1049  
 IF (@DEPOSIT_TYPE = 14831)    -- NORMAL    
 BEGIN
	--Added By Pradeep itrack -913 
	UPDATE ACT_CURRENT_DEPOSIT_LINE_ITEMS 
      SET 
      IS_EXCEPTION='Y', 
      EXCEPTION_REASON=408,
      IS_APPROVE= CASE WHEN IS_APPROVE='R' THEN 'R'  ELSE NULL END  --iTrack 913 Notes By Paula Dated 27th July 2011
	FROM 
	ACT_CURRENT_DEPOSIT_LINE_ITEMS LINE_ITEMS  WITH(NOLOCK)
	INNER JOIN  ACT_CURRENT_DEPOSITS ITEMS  WITH(NOLOCK)
	ON LINE_ITEMS.DEPOSIT_ID=ITEMS.DEPOSIT_ID
	AND isnull(ITEMS.IS_COMMITED, 'N')<>'Y'
	AND ITEMS.DEPOSIT_ID <>@DEPOSIT_ID
	
	WHERE LINE_ITEMS.BOLETO_NO 
	IN(
			SELECT BOLETO_NO FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS A WITH(NOLOCK)
			WHERE A.DEPOSIT_ID=@DEPOSIT_ID
			AND (A.IS_APPROVE='A' OR ISNULL(A.IS_APPROVE,'')='')
	)
END
ELSE-- COI, Broker Refund,Reinsurance Refund, Ceded CO Refund  
BEGIN
  --443-Refund related to this installment was already received
  --434-Installment already paid 
	 UPDATE ACT_CURRENT_DEPOSIT_LINE_ITEMS   
			  SET   
			  IS_EXCEPTION='Y',   
			  EXCEPTION_REASON=CASE WHEN DEPOSIT_TYPE=14832  THEN 434  ELSE 443 END ,
			  IS_APPROVE= CASE WHEN IS_APPROVE='R' THEN 'R'  ELSE NULL END  
	 FROM   
	 ACT_CURRENT_DEPOSIT_LINE_ITEMS LINE_ITEMS  WITH(NOLOCK)  
	 WHERE LINE_ITEMS.CD_LINE_ITEM_ID
	 in ( 
		SELECT ACDLI.CD_LINE_ITEM_ID
		FROM 
		(   SELECT ACDLI.CUSTOMER_ID
			,ACDLI.POLICY_ID
			,ACDLI.POLICY_VERSION_ID
			,ACDLI.INSTALLMENT_NO
			 FROM ACT_CURRENT_DEPOSITS ACD WITH(NOLOCK) 
			 JOIN 
			 ACT_CURRENT_DEPOSIT_LINE_ITEMS ACDLI WITH(NOLOCK) 
			 ON ACD.DEPOSIT_ID =ACDLI.DEPOSIT_ID
			 WHERE ACD.DEPOSIT_ID=@DEPOSIT_ID 
			 AND (ACDLI.IS_APPROVE='A' OR ISNULL(ACDLI.IS_APPROVE,'')='') 
		) TT
			LEFT JOIN ACT_CURRENT_DEPOSIT_LINE_ITEMS ACDLI  WITH(NOLOCK)  
			ON TT.CUSTOMER_ID=ACDLI.CUSTOMER_ID AND 
			TT.POLICY_ID=ACDLI.POLICY_ID AND 
			TT.POLICY_VERSION_ID = ACDLI.POLICY_VERSION_ID    
			AND TT.INSTALLMENT_NO =ACDLI.INSTALLMENT_NO
			INNER JOIN  ACT_CURRENT_DEPOSITS ACD  WITH(NOLOCK) ON ACDLI.DEPOSIT_ID=ACD.DEPOSIT_ID 
			WHERE  ISNULL(ACD.IS_COMMITED, 'N')<>'Y'  
			AND ACD.DEPOSIT_ID <>@DEPOSIT_ID 
			
	 )
END


		 
	--Added till here 
	
	--UPDATE THE DEPOSIT STATUS
	UPDATE 
		ACT_CURRENT_DEPOSITS      
	SET 
		IS_COMMITED = 'Y', 
		DATE_COMMITED = @DATE_COMMITED,
		COMMITTED_BY = @COMMITTED_BY
	WHERE 
		DEPOSIT_ID = @DEPOSIT_ID  
	
	
	
	--INSERT INTO TRANSACTION LOG
	IF @LANG_ID = 1
	BEGIN
		SELECT @TRANS_TYPE_DESC = TRANS_TYPE_DESC FROM TRANSACTIONTYPELIST (NOLOCK) WHERE TRANS_TYPE_ID = 316
	END
	ELSE
	BEGIN
		SELECT @TRANS_TYPE_DESC = TRANS_TYPE_NAME FROM TRANSACTIONTYPELIST_MULTILINGUAL (NOLOCK) WHERE TRANS_TYPE_ID = 316 AND LANG_ID = @LANG_ID
	END
	
	SELECT @TRANS_ID = ISNULL(MAX(TRANS_ID), 0) + 1 FROM MNT_TRANSACTION_LOG (NOLOCK) 
	
	INSERT INTO MNT_TRANSACTION_LOG (TRANS_ID, TRANS_TYPE_ID, RECORDED_BY, RECORDED_BY_NAME, RECORD_DATE_TIME, TRANS_DESC, ADDITIONAL_INFO, LANG_ID)
	SELECT @TRANS_ID, 316, @COMMITTED_BY, @COMMITTED_BY_NAME, GETDATE(), @TRANS_TYPE_DESC, NULL, @LANG_ID
			

	RETURN 1      
	--PRINT 1
	
--ROLLBACK TRAN
END      

--GO

--EXEC Proc_Commit_Deposit 356,'06/14/2011',398,null,null,null,null
-- -- SELECT * FROM ACT_CUSTOMER_OPEN_ITEMS WHERE CUSTOMER_ID =  28070 and POLICY_ID= 	431
--  -- SELECT * FROM ACT_AGENCY_OPEN_ITEMS WHERE CUSTOMER_ID =  28070 and POLICY_ID= 	431
-- -- SELECT BOLETO_NO,* FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS LINE_ITEMS WITH(NOLOCK)
--	--INNER JOIN  ACT_CURRENT_DEPOSITS ITEMS WITH(NOLOCK) ON 
--	--LINE_ITEMS.DEPOSIT_ID=ITEMS.DEPOSIT_ID
--	--WHERE LINE_ITEMS.DEPOSIT_ID=352 AND ITEMS.IS_COMMITED<>'Y'
--ROLLBACK TRAN




GO

