IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetStateIdQQ]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetStateIdQQ]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROC dbo.Proc_GetStateIdQQ
(
	@STATE_NAME varchar(20)
)
AS 
BEGIN
	SELECT STATE_ID AS STATE_ID FROM  MNT_COUNTRY_STATE_LIST    
	WHERE STATE_NAME=@STATE_NAME
END
GO

