IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetPolicyEndorsementDiff]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetPolicyEndorsementDiff]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--- =============================================  
-- Author:  <Author,,Name>  
-- Create date: <Create Date,,>  
-- Description: <Description,,>  
-- =============================================  
-- drop proc Proc_GetPolicyEndorsementDiff 2156 ,722,4,'05/08/2011','06/08/2011'
  
CREATE PROCEDURE [dbo].[Proc_GetPolicyEndorsementDiff]  
 @CUSTOMER_ID  INT,  
 @POLICY_ID  INT,  
 @POLICY_VERSION_ID INT,  
 @ENDORSEMENTEFFECTIVE_DATE DATETIME,  
 @ENDORSEMENTEXPIRY_DATE DATETIME,                                                                                
 @LANG_ID INT  = 1  ,
 @CO_APPLICANT INT --= NULL 
AS  
BEGIN  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
 SET NOCOUNT ON;  
 DECLARE @EXPIRY_DATE DATETIME  
 DECLARE @PROCESSID INT  
   
 SET @PROCESSID = 14  

      
 SELECT DATEDIFF(MM,@ENDORSEMENTEFFECTIVE_DATE,@ENDORSEMENTEXPIRY_DATE) AS DATE_DIFF_CURRENT  
   
 
 SELECT @EXPIRY_DATE =  EXPIRY_DATE FROM POL_POLICY_PROCESS WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID 
 AND POLICY_ID = @POLICY_ID AND 
 NEW_POLICY_VERSION_ID  IN(
SELECT MAX(NEW_POLICY_VERSION_ID) 
 FROM POL_POLICY_PROCESS WHERE CUSTOMER_ID = @CUSTOMER_ID AND 
policy_id = @POLICY_ID 
AND  CO_APPLICANT_ID = @CO_APPLICANT  AND NEW_POLICY_VERSION_ID < @POLICY_VERSION_ID
 AND
PROCESS_STATUS = 'COMPLETE' AND PROCESS_ID = @PROCESSID
)

  AND
PROCESS_STATUS = 'COMPLETE' AND PROCESS_ID = @PROCESSID AND CO_APPLICANT_ID = @CO_APPLICANT --)  

 
  -- SELECT  @EXPIRY_DATE,@ENDORSEMENTEFFECTIVE_DATE
 SELECT DATEDIFF(MM,@EXPIRY_DATE,@ENDORSEMENTEFFECTIVE_DATE) AS DATE_DIFF_FROM_PREVIOUS_END  
 --,DATENAME( MONTH , DATEADD( MONTH , DATEDIFF(MM,'01/31/2011','03/01/2011') , 0 ) - 1 ) AS DATE_DIFF_FROM_PREVIOUS_END_MONTH  
END  
--GO
--EXEC Proc_GetPolicyEndorsementDiff 2156 ,724,3,'10/09/2011','11/08/2011',1,163



GO

