IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_InsertMajorMinorParticipation]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_InsertMajorMinorParticipation]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO




/*
CREATED BY 		: Deepak Batra
CREATED DATE		: 16 Jan 2006
Purpose			: To implement the Insert on the Major/Minor Participation Screens
*/
CREATE PROCEDURE Proc_InsertMajorMinorParticipation
(
	@PARTICIPATION_ID INT OUTPUT,
	@CONTRACT_ID INT,
	@PARTICIPATION_TYPE CHAR(5),
	@NET_RETENTION INT,
	@REINSURANCE_COMPANY NVARCHAR(150),
	@WHOLE_PERCENT DECIMAL,
	@SIGNED_LINE_PERCENT DECIMAL,
	@REINSURANCE_ACC_NUMBER NVARCHAR(50),
	@SEP_ACC NVARCHAR(50),
	@IS_ACTIVE CHAR(1),
	@CREATED_BY SMALLINT,
	@CREATED_DATETIME DATETIME 
)
AS
BEGIN
SELECT @PARTICIPATION_ID = IsNull(Max(PARTICIPATION_ID),0) + 1 FROM MNT_REINSURANCE_MAJORMINOR_PARTICIPATION
INSERT INTO  MNT_REINSURANCE_MAJORMINOR_PARTICIPATION
(
	PARTICIPATION_ID,
	CONTRACT_ID,
	PARTICIPATION_TYPE,
	NET_RETENTION,
	REINSURANCE_COMPANY,
	WHOLE_PERCENT,
	SIGNED_LINE_PERCENT,
	REINSURANCE_ACC_NUMBER,
	SEP_ACC,
	IS_ACTIVE,
	CREATED_BY,
	CREATED_DATETIME
)
VALUES
(
	@PARTICIPATION_ID,
	@CONTRACT_ID,
	@PARTICIPATION_TYPE,
	@NET_RETENTION,
	@REINSURANCE_COMPANY,
	@WHOLE_PERCENT,
	@SIGNED_LINE_PERCENT,
	@REINSURANCE_ACC_NUMBER,
	@SEP_ACC,
	@IS_ACTIVE,
	@CREATED_BY,
	@CREATED_DATETIME	
)	

END



GO

