IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_ReconcileOpenItems]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_ReconcileOpenItems]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN 
--DROP PROC PROC_ReconcileOpenItems
--GO

/*----------------------------------------------------------          
Proc Name       : Proc_R          
Created by      : Lalit Chauhan   
Date            : June 10,2011  
Purpose   : Reconsile open item at time of commit(Undo Endorsement and Policy Cancellation)  
Used In   : EbixAdvantage - Brasil    
DROP PROC PROC_ReconcileOpenItems
*/  
CREATE PROC [dbo].[PROC_ReconcileOpenItems]  
(  
@CUSTOMER_ID INT,  
@POLICY_ID INT,  
@POLICY_VERSION_ID INT,  
@COMMITTED_BY INT = NULL,  
@BASE_VERSION_ID INT = NULL,
@PROCESS_ID INT   = NULL,
@PROCESS_TYPE nvarchar(10)   = NULL
)  
  
AS   
BEGIN  
	DECLARE @ROW_ID INT    
 --SET @CUSTOMER_ID  =  28070  
 --SET @POLICY_ID  = 492  
 --SET @POLICY_VERSION_ID = 2  
 --SET @COMMITTED_BY = 398  
 --SET @BASE_VERSION_ID  = 0  
 --SET @CALLED_FROM = 0  
---SELECT ITEM_TRAN_CODE,* FROM ACT_CUSTOMER_OPEN_ITEMS WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID --AND POLICY_VERSION_ID = 2  
  
DECLARE @CANCEL_PREM DECIMAL(25,2)  
DECLARE @AVAILABLE_RECON_AMT DECIMAL (25,2)  
DECLARE @BALANCE_OPEN_ITEMS DECIMAL (25,2)  
DECLARE @BALANCE_INDIVIDUAL_OpenItems DECIMAL (25,2)  
DECLARE @ReconRowId INT  
DECLARE @GROUP_ID INT   
DECLARE @EXTRA1 DECIMAL(25,2)  
DECLARE @EXTRA2 DECIMAL(25,2)  
DECLARE @EXTRA3 DECIMAL(25,2)  
DECLARE @GROUP_UPDATED_FROM NCHAR(2)  
DECLARE @ITEM_TRAN_CODE NCHAR(2)  
DECLARE @TO_BE_RECONSILE_PREMIUM  DECIMAL(25,2)   = 0
DECLARE @MAX_ROWID INT
--SELECT * FROM ACT_CUSTOMER_OPEN_ITEMS WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID --AND POLICY_VERSION_ID = @POLICY_VERSION_ID  
  
 CREATE TABLE #tempRECON_CAN_AMOUNT  
  (  
   IDEN_ID INT IDENTITY(1,1),      
   ITEM_REFF_ROW_ID INT,   
   BALANCE DECIMAL(25,2)    
   )  
           
IF(ISNULL(@BASE_VERSION_ID,0)<> 0) ---FOR ENDORSEMENT CANCELLATION   
 SET @GROUP_UPDATED_FROM = 'E'  
ELSE  
 SET @GROUP_UPDATED_FROM = 'C' ---FOR CANCELLATION   
-- ADDED BY PRAVESH ON 16 June 11
IF (ISNULL(@PROCESS_TYPE,'')='NPAYENDCAN')    
  SET @GROUP_UPDATED_FROM = 'S' ---FOR NON PAY ENDORSEMENT CANCELLATION   
-- end here     
-- <<Create New Reconciliation Group at Cancillation Commit and Endorsment cancellation >> -- -440     
SELECT @GROUP_ID = ISNULL(MAX(GROUP_ID), 0) + 1  FROM  ACT_RECONCILIATION_GROUPS WITH(NOLOCK)  
 INSERT INTO ACT_RECONCILIATION_GROUPS (    
    GROUP_ID, RECON_ENTITY_ID, RECON_ENTITY_TYPE, IS_COMMITTED, DATE_COMMITTED,  
     COMMITTED_BY, IS_ACTIVE, CREATED_BY, CREATED_DATETIME,UPDATED_FROM)    
   SELECT     
    @GROUP_ID, @CUSTOMER_ID, 'CUST', 'Y', GETDATE(),   
    @COMMITTED_BY, 'Y', @COMMITTED_BY, GETDATE(),@GROUP_UPDATED_FROM    
      

--@TO_BE_RECONSILE_PREMIUM

--get current version installment premium 
--cnacellation with charged premium case

      
      
DECLARE CR_RECONCILLATION CURSOR FOR    
   SELECT DISTINCT RIGHT(ITEM_TRAN_CODE, 1)  FROM ACT_CUSTOMER_OPEN_ITEMS  WITH(NOLOCK) WHERE   
  CUSTOMER_ID = @CUSTOMER_ID AND  POLICY_ID = @POLICY_ID AND    
  POLICY_VERSION_ID = @POLICY_VERSION_ID AND UPDATED_FROM = 'P'  
  OPEN CR_RECONCILLATION      
  
BEGIN  
 FETCH NEXT FROM CR_RECONCILLATION INTO @ITEM_TRAN_CODE  
 WHILE @@FETCH_STATUS = 0    
  
 BEGIN  
 DELETE FROM #tempRECON_CAN_AMOUNT  
 --<<collect amount to reconcile>>---  
 SELECT @CANCEL_PREM = Total_Due,   
   @AVAILABLE_RECON_AMT = abs(Total_Due),   
   @ReconRowId  = IDEN_ROW_ID  
   FROM	ACT_CUSTOMER_OPEN_ITEMS   WITH(NOLOCK)
   WHERE CUSTOMER_ID = @CUSTOMER_ID   
   AND POLICY_ID = @POLICY_ID   
   AND POLICY_VERSION_ID = @POLICY_VERSION_ID   
   and RIGHT(ITEM_TRAN_CODE, 1)  = @ITEM_TRAN_CODE --For Premium  

--- Check Type and Pick Correct Column
	SELECT @TO_BE_RECONSILE_PREMIUM = 
				CASE WHEN  @ITEM_TRAN_CODE = 'P' THEN ISNULL(SUM(ISNULL(INSTALLMENT_AMOUNT,0)),0) 
				     WHEN  @ITEM_TRAN_CODE = 'I' THEN ISNULL(SUM(ISNULL(INTEREST_AMOUNT,0)),0) 
				     WHEN  @ITEM_TRAN_CODE = 'F' THEN ISNULL(SUM(ISNULL(FEE,0)),0) 
				     WHEN  @ITEM_TRAN_CODE = 'T' THEN ISNULL(SUM(ISNULL(TAXES,0)),0) 
					 END
				FROM ACT_POLICY_INSTALLMENT_DETAILS 
	WITH(NOLOCK) WHERE CUSTOMER_ID =@CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND 
	POLICY_VERSION_ID = @POLICY_VERSION_ID AND UPPER(RELEASED_STATUS) = 'N'
	AND ISNULL(INSTALLMENT_AMOUNT,0) > 0  

 IF (ISNULL(@TO_BE_RECONSILE_PREMIUM,0)<>0)
 BEGIN 
	SET @CANCEL_PREM = @CANCEL_PREM + (-@TO_BE_RECONSILE_PREMIUM)
	SET @AVAILABLE_RECON_AMT = @AVAILABLE_RECON_AMT + abs(@TO_BE_RECONSILE_PREMIUM)
 END
 
     
 --<<CASE  USED FOR RECONCILIATION  AFTER ENDORSEMENT CANCELLATION>>--  
 --IF (ISNULL(@BASE_VERSION_ID,0)<> 0)  
 If (@GROUP_UPDATED_FROM = 'E')
  BEGIN  
  
    SELECT @BALANCE_OPEN_ITEMS = SUM(TOTAL_DUE - TOTAL_PAID)   
          FROM ACT_CUSTOMER_OPEN_ITEMS  WITH(NOLOCK)  
          WHERE CUSTOMER_ID = @CUSTOMER_ID   
          AND POLICY_ID = @POLICY_ID   
          AND POLICY_VERSION_ID > @BASE_VERSION_ID  
          AND POLICY_VERSION_ID < @POLICY_VERSION_ID  
          AND RIGHT(ITEM_TRAN_CODE, 1)  = @ITEM_TRAN_CODE --'P'  
     
    INSERT INTO #tempRECON_CAN_AMOUNT(ITEM_REFF_ROW_ID,BALANCE)  
    SELECT IDEN_ROW_ID, (TOTAL_DUE - TOTAL_PAID)  FROM ACT_CUSTOMER_OPEN_ITEMS WITH(NOLOCK)
     where CUSTOMER_ID = @CUSTOMER_ID   
     AND POLICY_ID = @POLICY_ID   
     AND POLICY_VERSION_ID > @BASE_VERSION_ID  
     AND POLICY_VERSION_ID < @POLICY_VERSION_ID   
     AND RIGHT(ITEM_TRAN_CODE, 1)  = @ITEM_TRAN_CODE --'P' --For Premium  
     AND (Total_due - total_paid) <> 0  --selected pending items 
     ORDER BY IDEN_ROW_ID   
       
    --SELECT *,@ITEM_TRAN_CODE FROM #tempRECON_CAN_AMOUNT       
  
  END    
  ELSE IF (@GROUP_UPDATED_FROM = 'S')
  BEGIN
	
	SELECT @BALANCE_OPEN_ITEMS = SUM(TOTAL_DUE - TOTAL_PAID)   
          FROM ACT_CUSTOMER_OPEN_ITEMS  WITH(NOLOCK)  
          WHERE CUSTOMER_ID = @CUSTOMER_ID   
          AND POLICY_ID = @POLICY_ID   
          AND POLICY_VERSION_ID = @BASE_VERSION_ID  
          AND RIGHT(ITEM_TRAN_CODE, 1)  = @ITEM_TRAN_CODE --'P'  
     
    INSERT INTO #tempRECON_CAN_AMOUNT(ITEM_REFF_ROW_ID,BALANCE)  
    SELECT IDEN_ROW_ID, (TOTAL_DUE - TOTAL_PAID)  FROM ACT_CUSTOMER_OPEN_ITEMS WITH(NOLOCK)
     where CUSTOMER_ID = @CUSTOMER_ID   
     AND POLICY_ID = @POLICY_ID   
     AND POLICY_VERSION_ID = @BASE_VERSION_ID  
     AND RIGHT(ITEM_TRAN_CODE, 1)  = @ITEM_TRAN_CODE --'P' --For Premium  
     AND (Total_due - total_paid) <> 0  --selected pending items 
     ORDER BY IDEN_ROW_ID   
       
  
  END
        
 ELSE --<<CASE FOR USED FOR RECONCILIATION  AFTER CANCELLATION PROCESS>>--  
  BEGIN  
     SELECT @BALANCE_OPEN_ITEMS = SUM(TOTAL_DUE - TOTAL_PAID)   
          FROM ACT_CUSTOMER_OPEN_ITEMS WITH(NOLOCK)  
          WHERE CUSTOMER_ID = @CUSTOMER_ID   
          AND POLICY_ID = @POLICY_ID   
          AND POLICY_VERSION_ID < @POLICY_VERSION_ID  
          AND RIGHT(ITEM_TRAN_CODE, 1)  = @ITEM_TRAN_CODE --'P'  
            
            
      
    INSERT INTO #tempRECON_CAN_AMOUNT(ITEM_REFF_ROW_ID,BALANCE)  
    SELECT IDEN_ROW_ID, (TOTAL_DUE - TOTAL_PAID)  FROM ACT_CUSTOMER_OPEN_ITEMS   WITH(NOLOCK)
     WHERE CUSTOMER_ID = @CUSTOMER_ID   
     AND POLICY_ID = @POLICY_ID   
     AND POLICY_VERSION_ID < @POLICY_VERSION_ID   
     AND RIGHT(ITEM_TRAN_CODE, 1)  = @ITEM_TRAN_CODE --'P' --For Premium  
     AND (Total_due - total_paid) <> 0  
     ORDER BY IDEN_ROW_ID  
            
      
  END  
  
  IF abs(@AVAILABLE_RECON_AMT) > abs(@BALANCE_OPEN_ITEMS) -- (-770, or -600)  
  BEGIN   
  
   SET @CANCEL_PREM = -@BALANCE_OPEN_ITEMS  
   set @AVAILABLE_RECON_AMT = abs(@BALANCE_OPEN_ITEMS)  
     
  END  
  
  IF EXISTS(SELECT IDEN_ID FROM #tempRECON_CAN_AMOUNT) --if No item to Reconcile  
   BEGIN   
   --SELECT @CANCEL_PREM , @BALANCE_OPEN_ITEMS  
   --IF (@CANCEL_PREM > @BALANCE_OPEN_ITEMS) 
	--SET @CANCEL_PREM = @BALANCE_OPEN_ITEMS
	
   if abs(@AVAILABLE_RECON_AMT) <= abs(@BALANCE_OPEN_ITEMS)   
    BEGIN  
       
     INSERT INTO ACT_CUSTOMER_RECON_GROUP_DETAILS (GROUP_ID,ITEM_REFERENCE_ID,RECON_AMOUNT,DIV_ID,DEPT_ID,PC_ID,SUB_LEDGER_TYPE,ITEM_TYPE)  
     SELECT @GROUP_ID,@ReconRowId, @CANCEL_PREM,DIV_ID, DEPT_ID, PC_ID  ,'CUST','CUST'  
       FROM ACT_CUSTOMER_OPEN_ITEMS ACOI WITH(NOLOCK)  WHERE   
       ACOI.IDEN_ROW_ID= @ReconRowId  
        --SELECT * FROM ACT_CUSTOMER_RECON_GROUP_DETAILS WHERE GROUP_ID = @GROUP_ID 
      select @ROW_ID = MIN(IDEN_ID),@MAX_ROWID = MAX(IDEN_ID) from #tempRECON_CAN_AMOUNT  
        
     While (@AVAILABLE_RECON_AMT <> 0 AND @ROW_ID <= @MAX_ROWID)  
     Begin  
        
      set @BALANCE_INDIVIDUAL_OpenItems = 0  
      --SELECT @AVAILABLE_RECON_AMT  
      Select @BALANCE_INDIVIDUAL_OpenItems = BALANCE from #tempRECON_CAN_AMOUNT where  IDEN_ID = @ROW_ID  
      --SELECT @AVAILABLE_RECON_AMT ,@BALANCE_INDIVIDUAL_OpenItems   
      --if (abs(@AVAILABLE_RECON_AMT) <= abs(@BALANCE_INDIVIDUAL_OpenItems))   
      --begin  
      -- set @BALANCE_INDIVIDUAL_OpenItems = @AVAILABLE_RECON_AMT  
      -- set @AVAILABLE_RECON_AMT = 0  
      --end  
      --else  
      --begin  
	
		--IF(@AVAILABLE_RECON_AMT >0)
  --        set @AVAILABLE_RECON_AMT = -@AVAILABLE_RECON_AMT - @BALANCE_INDIVIDUAL_OpenItems  
       --ELSE 
		  set @AVAILABLE_RECON_AMT = @AVAILABLE_RECON_AMT - @BALANCE_INDIVIDUAL_OpenItems  
		
	   --end  
  
      Insert into ACT_CUSTOMER_RECON_GROUP_DETAILS(GROUP_ID,ITEM_REFERENCE_ID,RECON_AMOUNT,DIV_ID,DEPT_ID,PC_ID,SUB_LEDGER_TYPE,ITEM_TYPE)  
      SELECT @GROUP_ID,ITEM_REFF_ROW_ID, @BALANCE_INDIVIDUAL_OpenItems ,DIV_ID, DEPT_ID, PC_ID  ,'CUST','CUST'  
       FROM  #tempRECON_CAN_AMOUNT  
       INNER JOIN  
       ACT_CUSTOMER_OPEN_ITEMS ACOI WITH(NOLOCK)   ON  
       ACOI.IDEN_ROW_ID= #tempRECON_CAN_AMOUNT.ITEM_REFF_ROW_ID  
       AND IDEN_ID = @ROW_ID  
             
        SET @ROW_ID = @ROW_ID + 1  
  
      End  
       
     End -- if(@CANCEL_PREM <= @BALANCE_OPEN_ITEMS)
     
     
   END  
   FETCH NEXT FROM CR_RECONCILLATION INTO @ITEM_TRAN_CODE--,@CANCEL_PREM,@AVAILABLE_RECON_AMT,@ReconRowId  
   END  
    
END    
CLOSE CR_RECONCILLATION    
DEALLOCATE CR_RECONCILLATION    
  
--<<Update Customer Open item from reconciled items>>  
UPDATE ACT_CUSTOMER_OPEN_ITEMS  
SET TOTAL_PAID = total_paid + (RECON_AMOUNT)  
FROM ACT_CUSTOMER_RECON_GROUP_DETAILS WITH(NOLOCK)  
WHERE ACT_CUSTOMER_OPEN_ITEMS.IDEN_ROW_ID = ACT_CUSTOMER_RECON_GROUP_DETAILS.ITEM_REFERENCE_ID  
AND ACT_CUSTOMER_RECON_GROUP_DETAILS.GROUP_ID = @GROUP_ID  

--SELECT * FROM ACT_CUSTOMER_RECON_GROUP_DETAILS WHERE GROUP_ID = @GROUP_ID 
--SELECT * FROM ACT_CUSTOMER_OPEN_ITEMS WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID --AND POLICY_VERSION_ID = @POLICY_VERSION_ID  
  
DROP TABLE #tempRECON_CAN_AMOUNT  
--ROLLBACK TRAN  
END
--GO
-- EXEC PROC_ReconcileOpenItems 28070 ,492,2 ,398,0
  
  
----SELECT * FROM ACT_CUSTOMER_OPEN_ITEMS WITH(NOLOCK) WHERE CUSTOMER_ID = 28070 AND POLICY_ID = 499 --AND POLICY_VERSION_ID = @POLICY_VERSION_ID  

----SELECT * FROM ACT_RECONCILIATION_GROUPS WHERE GROUP_ID = @GROUP_ID  

--ROLLBACK TRAN 

GO

