IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_FetchPolicyBoletodetails]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_FetchPolicyBoletodetails]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


--BEGIN TRAN       
--drop proc dbo.Proc_FetchPolicyBoletodetails      
--go       
/*----------------------------------------------------------                                      
Proc Name        : dbo.Proc_FetchPolicyBoletodetails                                      
Created by       : Praveen Kumar         
Modified by      : Pradeep Kushwaha                                               
Date             : 28/05/2010                                    
Purpose          : retrieving data from POL_CUSTOMER_POLICY_LIST,ACT_POLICY_INSTALLMENT_DETAILS                                                         
Used In          : Ebix Advantage                                  
------------------------------------------------------------                                      
Date     Review By          Comments                                      
------   ------------       -------------------------*/                                      
 -- DROP PROCEDURE Proc_FetchPolicyBoletodetails 1,87,1,28241,1 ,'001' ,771  
    
 ---  Proc_FetchPolicyBoletodetails 1,139,1,28241,1 ,'001' ,771  
CREATE PROCEDURE [dbo].[Proc_FetchPolicyBoletodetails]         
       
@FLAG INT=NULL,          
@POLICY_ID int=NULL,          
@POLICY_VERSION_ID int=NULL,          
@CUSTOMER_ID int=NULL,          
@INSTALLMENT_NO INT=NULL ,    
@BANK_NUMBER NVARCHAR(10)=NULL ,  
@CO_APPLICANT_ID INT =NULL ,
@CALLED_FROM NVARCHAR(50)=NULL --For boleto reprint   
AS          
          
BEGIN          
    DECLARE @MAX_OUR_NUMBER NVARCHAR(7)  
    DECLARE @STRAT_OURNUMBER NVARCHAR(10)  
    DECLARE @LOBID INT,@DEV_ID INT,@SUB_LOB_ID INT  
    DECLARE @PROCESS_ID INT   
    DECLARE @AGNECY_ID INT   
    DECLARE @LANGID INT   
    DECLARE @TOTAL_INSTALL_NO INT   
    DECLARE @POLICY_NUMBER NVARCHAR(25)  
    DECLARE @ENDORSEMENT_NO NVARCHAR(10)  
    DECLARE @CO_INSURANCE INT  
    DECLARE @POLICY_VERIFY_DIGIT SMALLINT  
    DECLARE @END_VERIFY_DIGIT SMALLINT  
    DECLARE @ENDO_TYPE_DIGIT NVARCHAR(10)  
    DECLARE @END_NO INT
    DECLARE @APP_NUMBER NVARCHAR(20)  
    DECLARE @ADDRESS1 NVARCHAR(150),@DISTRICT NVARCHAR(50),@CITY NVARCHAR(75),@ZIP_CODE NVARCHAR(11),@NUMBER NVARCHAR(20),@ADDRESS2 NVARCHAR(75),@STATE_CODE NVARCHAR(10),@STATE_NAME NVARCHAR(300)  
    DECLARE @INTREST_RATES DECIMAL(7,4)
	DECLARE @LATE_FEES DECIMAL(9,4)
	DECLARE @PENALITY DECIMAL(25,2)
	DECLARE @FINE_AMOUNT DECIMAL(25,2)
    DECLARE @SUSEP_LOB_CODE NVARCHAR(10)  
    SET @LANGID=2  
    SELECT @TOTAL_INSTALL_NO=COUNT(INSTALLMENT_NO)  FROM ACT_POLICY_INSTALLMENT_DETAILS WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID and POLICY_VERSION_ID=@POLICY_VERSION_ID --AND BOLETO_NO  IS NOT NULL  
  IF @FLAG = 1   -- Fetch record for a installment Connecting with CMS start          
 BEGIN          
  select     
  POLICY_ID,POLICY_VERSION_ID,CUSTOMER_ID,APP_ID,APP_VERSION_ID,INSTALLMENT_AMOUNT,    
  INSTALLMENT_EFFECTIVE_DATE,RELEASED_STATUS,ROW_ID,INSTALLMENT_NO,INTEREST_AMOUNT,FEE,TAXES,TOTAL,INSTALLMENT_NO,@TOTAL_INSTALL_NO as TOTAL_INSTALL_NO,INSTALLMENT_EXPIRE_DATE         
  from ACT_POLICY_INSTALLMENT_DETAILS AS ACT  WITH(NOLOCK)           
  WHERE           
  ACT.POLICY_ID=@POLICY_ID AND ACT.POLICY_VERSION_ID=@POLICY_VERSION_ID AND ACT.CUSTOMER_ID=@CUSTOMER_ID           
  AND ACT.INSTALLMENT_NO= @INSTALLMENT_NO  AND ACT.CO_APPLICANT_ID=@CO_APPLICANT_ID AND ACT.TOTAL>0            
     
   END          
ELSE IF @FLAG = 2 -- Fetch allinstallment records          
select     
  POLICY_ID,POLICY_VERSION_ID,CUSTOMER_ID,APP_ID,APP_VERSION_ID,INSTALLMENT_AMOUNT,    
  INSTALLMENT_EFFECTIVE_DATE,RELEASED_STATUS,ROW_ID,INSTALLMENT_NO,INTEREST_AMOUNT,FEE,TAXES,TOTAL,INSTALLMENT_NO,@TOTAL_INSTALL_NO  as TOTAL_INSTALL_NO,INSTALLMENT_EXPIRE_DATE        
  from ACT_POLICY_INSTALLMENT_DETAILS AS ACT  WITH(NOLOCK)           
  WHERE           
  ACT.POLICY_ID=@POLICY_ID AND ACT.POLICY_VERSION_ID=@POLICY_VERSION_ID AND ACT.CUSTOMER_ID=@CUSTOMER_ID           
  --AND ACT.INSTALLMENT_NO= @INSTALLMENT_NO          
    
---TABLE 1 CARRRIER INFORMATION          
SELECT MNTRCL.CARRIER_CNPJ,MNTRCL.REIN_COMAPANY_NAME,DAYS_FOR_BOLETO_EXPIRATION FROM MNT_REIN_COMAPANY_LIST AS MNTRCL WITH(NOLOCK)          
INNER JOIN MNT_SYSTEM_PARAMS  AS MNTSYSPARAM WITH(NOLOCK)ON MNTRCL.REIN_COMAPANY_ID=MNTSYSPARAM.SYS_CARRIER_ID          
          
-- TABLE 2 BANK INFORMATION          
  --SELECT TOP(1) STARTING_OUR_NUMBER,BANK_NAME ,BANK_ID FROM ACT_BANK_INFORMATION WITH(NOLOCK)      
  -- WHERE ISNULL(STARTING_OUR_NUMBER,'')<>''  
 
 --Check print jobs entry against customer ,policy ,polciy version,IS_PROCESSED=0 and doc code =boleto 
 --and going forward to check boleto exists with criteria then get the our number from boleto table with criteria,which has already been generated 
 --else get the max our number form boleto table without criteria-iTrack 1383,1361
 IF EXISTS( SELECT PRINT_JOBS_ID FROM PRINT_JOBS WITH(NOLOCK) 
			WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID
				  AND IS_PROCESSED=0
				  AND DOCUMENT_CODE='BOLETO' AND UPPER(@CALLED_FROM)<>'BOLETO_REPRINT')				
 BEGIN
	 IF EXISTS(SELECT INSTAL.BOLETO_NO FROM POL_INSTALLMENT_BOLETO BOLETO WITH(NOLOCK) INNER JOIN 
											 ACT_POLICY_INSTALLMENT_DETAILS INSTAL WITH(NOLOCK) ON 
											 INSTAL.CUSTOMER_ID = BOLETO.CUSTOMER_ID AND 
											 INSTAL.POLICY_ID=BOLETO.POLICY_ID AND 
											 INSTAL.POLICY_VERSION_ID=BOLETO.POLICY_VERSION_ID AND 
											 INSTAL.ROW_ID=BOLETO.INSTALLEMT_ID 
											 WHERE INSTAL.CUSTOMER_ID=@CUSTOMER_ID AND INSTAL.POLICY_ID=@POLICY_ID
											 AND INSTAL.POLICY_VERSION_ID=@POLICY_VERSION_ID 
											 AND INSTAL.CO_APPLICANT_ID=@CO_APPLICANT_ID
											 AND INSTAL.INSTALLMENT_NO=@INSTALLMENT_NO
											 AND BOLETO.IS_ACTIVE='Y'
											 AND BOLETO.BOLETO_HTML IS NOT NULL)
	BEGIN 
					SELECT @MAX_OUR_NUMBER=SUBSTRING(OUR_NUMBER,5,7) FROM POL_INSTALLMENT_BOLETO BOLETO WITH(NOLOCK) INNER JOIN 
											 ACT_POLICY_INSTALLMENT_DETAILS INSTAL WITH(NOLOCK) ON 
											 INSTAL.CUSTOMER_ID = BOLETO.CUSTOMER_ID AND 
											 INSTAL.POLICY_ID=BOLETO.POLICY_ID AND 
											 INSTAL.POLICY_VERSION_ID=BOLETO.POLICY_VERSION_ID AND 
											 INSTAL.ROW_ID=BOLETO.INSTALLEMT_ID
											 WHERE INSTAL.CUSTOMER_ID=@CUSTOMER_ID AND INSTAL.POLICY_ID=@POLICY_ID
											 AND INSTAL.POLICY_VERSION_ID=@POLICY_VERSION_ID 
											 AND INSTAL.CO_APPLICANT_ID=@CO_APPLICANT_ID
											 AND INSTAL.INSTALLMENT_NO=@INSTALLMENT_NO
											 AND BOLETO.IS_ACTIVE='Y'
											 AND BOLETO.BOLETO_HTML IS NOT NULL 
										 
	END 										 
    ELSE
    BEGIN
        SELECT @MAX_OUR_NUMBER = MAX(SUBSTRING(OUR_NUMBER,5,7) + 1)    
		FROM POL_INSTALLMENT_BOLETO WITH(NOLOCK)    
    END
 END  
 ELSE
 BEGIN
    SELECT @MAX_OUR_NUMBER = MAX(SUBSTRING(OUR_NUMBER,5,7) + 1)    
    FROM POL_INSTALLMENT_BOLETO WITH(NOLOCK)    
 END
 
  if (@MAX_OUR_NUMBER is null)  
  begin  
    SELECT @MAX_OUR_NUMBER=STARTING_OUR_NUMBER FROM ACT_BANK_INFORMATION  WITH(NOLOCK) WHERE  BANK_NUMBER=@BANK_NUMBER  
    -- SET @MAX_OUR_NUMBER=REPLICATE('0',7-LEN(@STRAT_OURNUMBER)) + @MAX_OUR_NUMBER  
      
    SELECT @MAX_OUR_NUMBER=  REPLICATE('0',7-LEN(@MAX_OUR_NUMBER)) + @MAX_OUR_NUMBER  
   end    
    --SELECT @MAX_OUR_NUMBER= RIGHT('0000000' + CAST (MAX(SUBSTRING(ISNULL(OUR_NUMBER,RIGHT ('0000000'+ CAST (@STRAT_OURNUMBER AS VARCHAR), 7)),5,7))+1  AS VARCHAR),7)   
    --FROM POL_INSTALLMENT_BOLETO WITH(NOLOCK)  
    --SUBSTRING(REPLACE(NUMBER,'-',''),2,10)  
    --SUBSTRING(NUMBER,1,8)  
     
    SELECT BANK_NUMBER, NUMBER AS AC_NUMBER,AGREEMENT_NUMBER,BRANCH_NUMBER, STARTING_OUR_NUMBER,@MAX_OUR_NUMBER AS MAX_OUR_NUMBER,BANK_NAME,BANK_ID   
    FROM ACT_BANK_INFORMATION WITH(NOLOCK) WHERE  BANK_NUMBER=@BANK_NUMBER  
    
   
    
         
--- TABLE 3 AGENCY INFORMATION          
--Comment For itrack 1280
--SELECT TOP 1 @AGNECY_ID=BROKER_ID FROM POL_REMUNERATION  WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND LEADER = 10963--Poicy   
--SELECT NUM_AGENCY_CODE, AGENCY_DISPLAY_NAME FROM MNT_AGENCY_LIST AGY WITH(NOLOCK) WHERE AGENCY_ID=@AGNECY_ID  
--Till here 

SELECT AGN_LIST.NUM_AGENCY_CODE,AGN_LIST.AGENCY_DISPLAY_NAME   
FROM POL_REMUNERATION  REMUN WITH(NOLOCK)        
INNER JOIN MNT_AGENCY_LIST AGN_LIST WITH(NOLOCK) ON      
REMUN.BROKER_ID=AGN_LIST.AGENCY_ID    
WHERE REMUN.CUSTOMER_ID=@CUSTOMER_ID       
AND REMUN.POLICY_ID=@POLICY_ID AND REMUN.POLICY_VERSION_ID=@POLICY_VERSION_ID
AND REMUN.LEADER = 10963 --Leader (Yes-10963) 
AND REMUN.CO_APPLICANT_ID=@CO_APPLICANT_ID --itrack 1280 on 12-07-2011
    
--- TABLE 4 CUSTOMER DETAILS          
--SELECT CPF_CNPJ,CUSTOMER_FIRST_NAME,CUSTOMER_MIDDLE_NAME,CUSTOMER_LAST_NAME,CUSTOMER_ADDRESS1      
--,DISTRICT,CUSTOMER_CITY,CUSTOMER_ZIP FROM CLT_CUSTOMER_LIST with(nolock) WHERE CUSTOMER_ID=@CUSTOMER_ID         
IF EXISTS(SELECT LOCATION_ID FROM POL_LOCATIONS WITH(NOLOCK) WHERE CUSTOMER_ID =@CUSTOMER_ID AND   
   POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID =@POLICY_VERSION_ID AND  ISNULL(IS_BILLING,'N')='Y')  
 BEGIN  
  SELECT @ADDRESS1=LOC.LOC_ADD1,@ADDRESS2=LOC.LOC_ADD2,@NUMBER=LOC.NUMBER,@DISTRICT=LOC.DISTRICT,@CITY= LOC.LOC_CITY,@ZIP_CODE =LOC.LOC_ZIP ,@STATE_CODE =STATE_LIST.STATE_CODE,@STATE_NAME=STATE_LIST.STATE_NAME  
  FROM POL_LOCATIONS LOC WITH(NOLOCK)   
   LEFT JOIN MNT_COUNTRY_STATE_LIST STATE_LIST WITH(NOLOCK) ON  
     STATE_LIST.STATE_ID=LOC.LOC_STATE  
       
  WHERE CUSTOMER_ID =@CUSTOMER_ID AND   
  POLICY_ID=@POLICY_ID AND   
  POLICY_VERSION_ID =@POLICY_VERSION_ID AND    
  ISNULL(IS_BILLING,'N')='Y'   
 END  
ELSE  
    BEGIN  
    SELECT TOP 1 @ADDRESS1=T1.ADDRESS1 ,@ADDRESS2=ADDRESS2,@NUMBER=NUMBER,@DISTRICT=T1.DISTRICT ,@CITY=T1.CITY,@ZIP_CODE=T1.ZIP_CODE,@STATE_CODE = STATE_LIST.STATE_CODE ,@STATE_NAME=STATE_LIST.STATE_NAME  
     FROM CLT_APPLICANT_LIST T1   WITH(NOLOCK)                   
     INNER JOIN ACT_POLICY_INSTALLMENT_DETAILS ISTALL WITH(NOLOCK)    
     ON ISTALL.CO_APPLICANT_ID = T1.APPLICANT_ID   
     LEFT JOIN MNT_COUNTRY_STATE_LIST STATE_LIST WITH(NOLOCK) ON  
     STATE_LIST.STATE_ID=T1.STATE  
       
    where ISTALL.CUSTOMER_ID =@CUSTOMER_ID and   
    ISTALL.POLICY_ID=@POLICY_ID and  
    ISTALL.POLICY_VERSION_ID =@POLICY_VERSION_ID and ISTALL.INSTALLMENT_NO=@INSTALLMENT_NO and ISTALL.CO_APPLICANT_ID=@CO_APPLICANT_ID  
   END   
   
    SELECT CPF_CNPJ, ISNULL(T1.FIRST_NAME,'') + ' ' + ISNULL(T1.MIDDLE_NAME,'') + ' ' + ISNULL(T1.LAST_NAME,'') AS NAME ,  
     @ADDRESS1 AS ADDRESS1,@ADDRESS2 AS ADDRESS2,@NUMBER AS NUMBER ,@DISTRICT AS DISTRICT, @CITY AS CITY ,@ZIP_CODE AS ZIP_CODE,@STATE_CODE AS STATE_CODE,@STATE_NAME as STATE_NAME  
    FROM CLT_APPLICANT_LIST T1   WITH(NOLOCK)                   
     INNER JOIN ACT_POLICY_INSTALLMENT_DETAILS ISTALL WITH(NOLOCK)    
    ON ISTALL.CO_APPLICANT_ID = T1.APPLICANT_ID   
    --LEFT JOIN POL_LOCATIONS LOC WITH(NOLOCK)  
    --ON LOC.CUSTOMER_ID=ISTALL.CUSTOMER_ID   
    -- AND LOC.POLICY_ID=ISTALL.POLICY_ID AND   
    -- LOC.POLICY_VERSION_ID = ISTALL.POLICY_VERSION_ID   
    where ISTALL.CUSTOMER_ID =@CUSTOMER_ID and   
    ISTALL.POLICY_ID=@POLICY_ID and  
    ISTALL.POLICY_VERSION_ID =@POLICY_VERSION_ID and ISTALL.INSTALLMENT_NO=@INSTALLMENT_NO and ISTALL.CO_APPLICANT_ID=@CO_APPLICANT_ID   
--TABLE 5    
--Boleto Printing - Pick SUSEP_LOB_CODE from Policy Level -itrack 1493 work item-510     
SELECT @SUSEP_LOB_CODE=SUSEP_LOB_CODE, @LOBID =POL_LIST.POLICY_LOB ,@DEV_ID=POL_LIST.DIV_ID,@SUB_LOB_ID=POLICY_SUBLOB ,@POLICY_NUMBER=SUBSTRING(POL_LIST.POLICY_NUMBER,16,7) ,  
@CO_INSURANCE =CO_INSURANCE ,@POLICY_VERIFY_DIGIT=POLICY_VERIFY_DIGIT ,@APP_NUMBER=APP_NUMBER ,@INTREST_RATES=ISNULL(PLAN_DETAIL.INTREST_RATES,0),@LATE_FEES=ISNULL(PLAN_DETAIL.LATE_FEES,0) 
   FROM  ACT_POLICY_INSTALLMENT_DETAILS INSTALL WITH(NOLOCK)   
    LEFT JOIN POL_CUSTOMER_POLICY_LIST POL_LIST WITH(NOLOCK) ON    
    INSTALL.CUSTOMER_ID =POL_LIST.CUSTOMER_ID AND    
    INSTALL.POLICY_ID =POL_LIST.POLICY_ID AND    
    INSTALL.POLICY_VERSION_ID =POL_LIST.POLICY_VERSION_ID   
    INNER JOIN  ACT_INSTALL_PLAN_DETAIL PLAN_DETAIL WITH(NOLOCK)
	ON POL_LIST.INSTALL_PLAN_ID = PLAN_DETAIL.IDEN_PLAN_ID
     WHERE INSTALL.CUSTOMER_ID =@CUSTOMER_ID AND   
  INSTALL.POLICY_ID=@POLICY_ID AND  
  INSTALL.POLICY_VERSION_ID =@POLICY_VERSION_ID  
  AND INSTALL.INSTALLMENT_NO=@INSTALLMENT_NO  
    
  --itrack-1125	
  --Penalty will be calculated over installment amount based on parameter typed in on field Late Fees under maintenance 
  --Fine amount will be calculated according to the Interest Rate field under BillingPlan Details 
   
  SELECT @FINE_AMOUNT =TOTAL*@INTREST_RATES/100 ,
		 @PENALITY=TOTAL*@LATE_FEES/100 
  FROM ACT_POLICY_INSTALLMENT_DETAILS AS ACT  WITH(NOLOCK)           
  WHERE ACT.POLICY_ID=@POLICY_ID 
  AND ACT.POLICY_VERSION_ID=@POLICY_VERSION_ID 
  AND ACT.CUSTOMER_ID=@CUSTOMER_ID           
  AND ACT.INSTALLMENT_NO= @INSTALLMENT_NO  
  AND ACT.CO_APPLICANT_ID=@CO_APPLICANT_ID    
  --till here
  --Commented to get the  SUSEP_LOB_CODE from Policy Level -itrack 1493 work item-510
  --SELECT @SUSEP_LOB_CODE=SUSEP_LOB_CODE FROM MNT_LOB_MASTER WITH(NOLOCK) WHERE LOB_ID=CASE WHEN @LOBID=22 THEN 21 ELSE @LOBID END -- added for itrack-1178
  
   SELECT @SUSEP_LOB_CODE AS SUSEP_LOB_CODE,SUB_LOB.SUSEP_CODE,LOB.LOB_CODE,SUB_MUL_LOB.SUB_LOB_CODE,  
    CASE WHEN @LANGID = 2 THEN MUL_LOB.LOB_DESC ELSE LOB.LOB_DESC END LOB_DESC, @POLICY_NUMBER AS POLICY_NUMBER,  
    @CO_INSURANCE AS CO_INSURANCE ,@POLICY_VERIFY_DIGIT AS POLICY_VERIFY_DIGIT 
    FROM MNT_LOB_MASTER LOB WITH(NOLOCK)  
    LEFT JOIN MNT_SUB_LOB_MASTER SUB_LOB WITH(NOLOCK) ON   
    SUB_LOB.LOB_ID = LOB.LOB_ID  
    LEFT JOIN MNT_SUSEP_LOB_MASTER SUP_LOB WITH(NOLOCK) ON  
    LOB.SUSEP_LOB_ID=SUP_LOB.SUSEP_LOB_ID  
    inner join  MNT_LOB_MASTER_MULTILINGUAL MUL_LOB WITH(NOLOCK) on   
    LOB.LOB_ID = MUL_LOB.LOB_ID  
    inner join MNT_SUB_LOB_MASTER_MULTILINGUAL SUB_MUL_LOB WITH(NOLOCK) on   
    SUB_LOB.SUB_LOB_ID=SUB_MUL_LOB.SUB_LOB_ID AND   
    LOB.LOB_ID = SUB_MUL_LOB.LOB_ID  
    WHERE LOB.LOB_ID=@LOBID  AND SUB_LOB.SUB_LOB_ID=@SUB_LOB_ID  
    
  SELECT BRANCH_CODE  FROM MNT_DIV_LIST  WITH(NOLOCK) WHERE DIV_ID=@DEV_ID  
   
 IF EXISTS(SELECT ENDORSEMENT_NO  FROM  POL_POLICY_ENDORSEMENTS WITH(NOLOCK)   
   WHERE CUSTOMER_ID= @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID =@POLICY_VERSION_ID)  
 BEGIN  
  SELECT @ENDORSEMENT_NO=RIGHT(REPLICATE('0', 8-LEN(ENDORSEMENT_NO))+ CAST(ENDORSEMENT_NO AS VARCHAR(8)),7) ,  
  @END_VERIFY_DIGIT=END_VERIFY_DIGIT  ,@END_NO=ENDORSEMENT_NO
   FROM  POL_POLICY_ENDORSEMENTS WITH(NOLOCK)   
   WHERE CUSTOMER_ID= @CUSTOMER_ID AND   
   POLICY_ID = @POLICY_ID AND   
   POLICY_VERSION_ID = @POLICY_VERSION_ID    
  END  
  ELSE  
  BEGIN  
  SET @ENDORSEMENT_NO='0000000'   
  END  
   
 SELECT @PROCESS_ID=PROCESS.PROCESS_ID , @ENDO_TYPE_DIGIT=LOOK_UP.Type   
 FROM  POL_POLICY_PROCESS PROCESS WITH(NOLOCK)   
  LEFT JOIN MNT_LOOKUP_VALUES LOOK_UP WITH(NOLOCK)   
  ON PROCESS.ENDORSEMENT_TYPE = LOOK_UP.LOOKUP_UNIQUE_ID   
 WHERE   
  PROCESS.CUSTOMER_ID= @CUSTOMER_ID AND   
  PROCESS.POLICY_ID = @POLICY_ID AND   
  PROCESS.NEW_POLICY_VERSION_ID = @POLICY_VERSION_ID AND   
  PROCESS.PROCESS_STATUS<> 'ROLLBACK'  
   
   
 IF(@PROCESS_ID IN(14))--NOT IN New Business AND Commit New Business  
 BEGIN   
  SELECT EFFECTIVE_DATETIME AS EFFECTIVE_DATE,EXPIRY_DATE AS EXPIRATION_DATE  ,COINSURANCE_NUMBER AS APPICATION_NUMBER,  
  @ENDORSEMENT_NO AS ENDORSEMENT_NO,  
  @END_VERIFY_DIGIT AS ENDORSEMENT_VERIFY_DIGIT,  
  @ENDO_TYPE_DIGIT AS ENDO_TYPE_DIGIT 
  ,@APP_NUMBER as APP_NUMBER 
  ,@END_NO as END_NO
  FROM POL_POLICY_PROCESS WITH(NOLOCK)   
  WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND NEW_POLICY_VERSION_ID = @POLICY_VERSION_ID  
  AND  PROCESS_STATUS<> 'ROLLBACK' 
 END  
 ELSE  
 BEGIN  
  SELECT APP_EFFECTIVE_DATE AS EFFECTIVE_DATE,APP_EXPIRATION_DATE AS EXPIRATION_DATE ,ISNULL(APP_NUMBER,POLICY_NUMBER) AS APPICATION_NUMBER  ,  
  @ENDORSEMENT_NO AS ENDORSEMENT_NO,  
  @END_VERIFY_DIGIT AS ENDORSEMENT_VERIFY_DIGIT,  
  @ENDO_TYPE_DIGIT AS ENDO_TYPE_DIGIT 
  ,@APP_NUMBER as APP_NUMBER 
  ,@END_NO as END_NO
  FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  
 END  
   --select  @INTREST_RATES INTREST_RATES ,@LATE_FEES LATE_FEES
   
  SELECT  @FINE_AMOUNT FINE_AMOUNT ,@PENALITY PENALITY 
      
END  
--go  
--exec Proc_FetchPolicyBoletodetails 1,223,1,28241,1 ,'001' ,773   
--rollback tran      
      
    

GO

