IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[prathyusa]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[prathyusa]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO






