IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetKeysForMotor_POLICY]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetKeysForMotor_POLICY]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*                                
----------------------------------------------------------                                    
Proc Name       : dbo.Proc_GetKeysForMotor_POLICY                                
Created by      : Shafi                                  
Date            : 14 August 2006  
Purpose         :     
Revison History :                                    
Modified by		: Pravesh k chandel
Modified Date	: 21 April
------------------------------------------------------------                                    
Date     Review By          Comments                                    
------   ------------       -------------------------                                   
*/     
    
-- drop proc Proc_GetKeysForMotor_POLICY 998,1,1,1
CREATE proc dbo.Proc_GetKeysForMotor_POLICY    
(    
 @CUSTOMER_ID INT,    
 @POLICY_ID INT,    
 @POLICY_VERSION_ID INT,    
 @BOAT_ID INT    
)    
    
AS    
BEGIN    

-- ADDED BY pRAVESH AS PER ITRACK 5354
DECLARE @APP_EFFECTIVE_DATE DATETIME,@UNDER_25_AGE SMALLINT
SET @UNDER_25_AGE=0
SELECT @APP_EFFECTIVE_DATE=APP_EFFECTIVE_DATE FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID
IF EXISTS
( SELECT DRIVER_DOB FROM POL_DRIVER_DETAILS AD WITH(NOLOCK)
	--INNER JOIN POL_DRIVER_ASSIGNED_VEHICLE ASV WITH(NOLOCK) ON ASV.CUSTOMER_ID=AD.CUSTOMER_ID AND ASV.POLICY_ID=AD.POLICY_ID 
	--AND ASV.POLICY_VERSION_ID=AD.POLICY_VERSION_ID AND ASV.DRIVER_ID=AD.DRIVER_ID 
	--AND ASV.APP_VEHICLE_PRIN_OCC_ID<>'11931' 
	--AND ASV.VEHICLE_ID=@BOAT_ID
	WHERE AD.CUSTOMER_ID=@CUSTOMER_ID AND AD.POLICY_ID=@POLICY_ID AND AD.POLICY_VERSION_ID=@POLICY_VERSION_ID 
	AND DBO.GETAGE(DRIVER_DOB ,@APP_EFFECTIVE_DATE) < 25
)
SET @UNDER_25_AGE=1


SELECT     
APP_INFO.APP_EFFECTIVE_DATE AS APP_EFFECTIVE_DATE,    
APP_INFO.POLICY_LOB AS LOB_ID,    
APP_INFO.STATE_ID as STATE_ID,

YEAR(CONVERT(VARCHAR(20),APP_INFO.APP_EFFECTIVE_DATE,109)) AS APP_YEAR,
ISNULL(APP_GEN.APPLY_PERS_UMB_POL,0) AS UMB_POLICY,
ISNULL(APP_COVINFO1.LIMIT_1,0) AS LIMIT_BISPL,
ISNULL(APP_COVINFO4.LIMIT_1,0) AS LIMIT_PUMSP,
ISNULL(APP_COVINFO5.LIMIT_1,0) AS LIMIT_RLCSL,
ISNULL(APP_COVINFO6.LIMIT_1,0) AS LIMIT_PUNCS,
ISNULL(VEH_INFO.COMPRH_ONLY,0) AS COMP_TAKEN,
YEAR(ISNULL(APP_INFO.APP_EFFECTIVE_DATE,0))-ISNULL(VEH_INFO.VEHICLE_YEAR,0)   AS VEHICLE_YEAR,
ISNULL(VEH_INFO.SYMBOL,0) AS SYMBOL,
ISNULL(APP_COVINFO2.DEDUCTIBLE_1,0) AS DEDUCTIBLE_COMP,
ISNULL(VEH_INFO.MOTORCYCLE_TYPE,0) AS MOTORCYCLE_TYPE,
ISNULL(APP_COVINFO3.DEDUCTIBLE_1,0) AS DEDUCTIBLE_COLL,
ISNULL(VEH_INFO.VEHICLE_CC,0) AS VEHICLE_CC,
(  
SELECT count(CUSTOMER_ID)   
FROM POL_VEHICLE_COVERAGES APP_COV WITH(NOLOCK)  
WHERE   
   APP_COV.CUSTOMER_ID = @CUSTOMER_ID      
AND APP_COV.POLICY_ID=@POLICY_ID      
AND APP_COV.POLICY_VERSION_ID  = @POLICY_VERSION_ID      
AND APP_COV.VEHICLE_ID = @BOAT_ID    
AND COVERAGE_CODE_ID IN(126,206)  
) AS CSL_OPTED  ,
(  
SELECT count(CUSTOMER_ID)   
FROM POL_VEHICLE_COVERAGES APP_COV WITH(NOLOCK)  
WHERE   
   APP_COV.CUSTOMER_ID = @CUSTOMER_ID      
AND APP_COV.POLICY_ID=@POLICY_ID      
AND APP_COV.POLICY_VERSION_ID  = @POLICY_VERSION_ID      
AND APP_COV.VEHICLE_ID = @BOAT_ID    
AND COVERAGE_CODE_ID IN(769)  
AND isnull(SIGNATURE_OBTAINED,'')='Y'
) AS MEDPM1_OPTED  ,
@UNDER_25_AGE AS UNDER_25_AGE,
(  
SELECT count(CUSTOMER_ID)   
FROM POL_VEHICLE_COVERAGES APP_COV WITH(NOLOCK)  
WHERE   
   APP_COV.CUSTOMER_ID = @CUSTOMER_ID      
AND APP_COV.POLICY_ID=@POLICY_ID      
AND APP_COV.POLICY_VERSION_ID  = @POLICY_VERSION_ID      
AND APP_COV.VEHICLE_ID = @BOAT_ID    
AND COVERAGE_CODE_ID IN(200,216)  
) AS COLL_OPTED  

FROM POL_VEHICLES VEH_INFO WITH(NOLOCK)    
   
INNER JOIN POL_CUSTOMER_POLICY_LIST APP_INFO WITH(NOLOCK)    
 ON APP_INFO.CUSTOMER_ID = VEH_INFO.CUSTOMER_ID    
 AND APP_INFO.POLICY_ID  = VEH_INFO.POLICY_ID    
 AND APP_INFO.POLICY_VERSION_ID  = VEH_INFO.POLICY_VERSION_ID 

LEFT OUTER JOIN POL_AUTO_GEN_INFO APP_GEN WITH(NOLOCK)
ON APP_GEN.CUSTOMER_ID = VEH_INFO.CUSTOMER_ID    
AND APP_GEN.POLICY_ID  = VEH_INFO.POLICY_ID    
AND APP_GEN.POLICY_VERSION_ID  = VEH_INFO.POLICY_VERSION_ID 

LEFT OUTER JOIN POL_VEHICLE_COVERAGES APP_COVINFO1 WITH(NOLOCK)
 ON APP_COVINFO1.CUSTOMER_ID = VEH_INFO.CUSTOMER_ID    
 AND APP_COVINFO1.POLICY_ID  = VEH_INFO.POLICY_ID    
 AND APP_COVINFO1.POLICY_VERSION_ID  = VEH_INFO.POLICY_VERSION_ID 
 AND APP_COVINFO1.VEHICLE_ID= VEH_INFO.VEHICLE_ID
 AND APP_COVINFO1.COVERAGE_CODE_ID IN(207)

LEFT OUTER JOIN POL_VEHICLE_COVERAGES APP_COVINFO2 WITH(NOLOCK)
 ON APP_COVINFO2.CUSTOMER_ID = VEH_INFO.CUSTOMER_ID    
 AND APP_COVINFO2.POLICY_ID  = VEH_INFO.POLICY_ID    
 AND APP_COVINFO2.POLICY_VERSION_ID  = VEH_INFO.POLICY_VERSION_ID 
 AND APP_COVINFO2.VEHICLE_ID= VEH_INFO.VEHICLE_ID
 AND APP_COVINFO2.COVERAGE_CODE_ID IN(201,217)

LEFT OUTER JOIN POL_VEHICLE_COVERAGES APP_COVINFO3 WITH(NOLOCK)
 ON APP_COVINFO3.CUSTOMER_ID = VEH_INFO.CUSTOMER_ID    
 AND APP_COVINFO3.POLICY_ID  = VEH_INFO.POLICY_ID    
 AND APP_COVINFO3.POLICY_VERSION_ID  = VEH_INFO.POLICY_VERSION_ID 
 AND APP_COVINFO3.VEHICLE_ID= VEH_INFO.VEHICLE_ID
 AND APP_COVINFO3.COVERAGE_CODE_ID IN(200,216)

LEFT OUTER JOIN POL_VEHICLE_COVERAGES APP_COVINFO4 WITH(NOLOCK)
 ON APP_COVINFO4.CUSTOMER_ID = VEH_INFO.CUSTOMER_ID    
 AND APP_COVINFO4.POLICY_ID  = VEH_INFO.POLICY_ID    
 AND APP_COVINFO4.POLICY_VERSION_ID  = VEH_INFO.POLICY_VERSION_ID 
 AND APP_COVINFO4.VEHICLE_ID= VEH_INFO.VEHICLE_ID
 AND APP_COVINFO4.COVERAGE_CODE_ID =132

LEFT OUTER JOIN POL_VEHICLE_COVERAGES APP_COVINFO5 WITH(NOLOCK)
 ON APP_COVINFO5.CUSTOMER_ID = VEH_INFO.CUSTOMER_ID    
AND APP_COVINFO5.POLICY_ID  = VEH_INFO.POLICY_ID    
 AND APP_COVINFO5.POLICY_VERSION_ID  = VEH_INFO.POLICY_VERSION_ID 
 AND APP_COVINFO5.VEHICLE_ID= VEH_INFO.VEHICLE_ID
 AND APP_COVINFO5.COVERAGE_CODE_ID =126

LEFT OUTER JOIN POL_VEHICLE_COVERAGES APP_COVINFO6 WITH(NOLOCK)
 ON APP_COVINFO6.CUSTOMER_ID = VEH_INFO.CUSTOMER_ID    
 AND APP_COVINFO6.POLICY_ID  = VEH_INFO.POLICY_ID    
 AND APP_COVINFO6.POLICY_VERSION_ID  = VEH_INFO.POLICY_VERSION_ID 
 AND APP_COVINFO6.VEHICLE_ID= VEH_INFO.VEHICLE_ID
 AND APP_COVINFO6.COVERAGE_CODE_ID =131

WHERE    
    VEH_INFO.CUSTOMER_ID = @CUSTOMER_ID    
AND VEH_INFO.POLICY_ID=@POLICY_ID    
AND VEH_INFO.POLICY_VERSION_ID  = @POLICY_VERSION_ID    
AND VEH_INFO.VEHICLE_ID = @BOAT_ID    
END    
    
    






GO

