IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_MakeClaimsReport_PPA_Pers]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_MakeClaimsReport_PPA_Pers]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran
--drop proc dbo.Proc_MakeClaimsReport_PPA_Pers
--go 

/*----------------------------------------------------------                                                                          
Proc Name       : dbo.Proc_MakeClaimsReport_PPA_Pers                                          
Created by      : Shikha Dixit                                                                     
Date            : 20/08/2008                                                                          
Purpose         : Generates sum of Claims amount :- state, lob, month, year wise                      
Revewed by      :                                                                          
Revison History :                                                                          
Used In        : Wolverine                                                                          
------------------------------------------------------------                                                                          
Date     Review By          Comments                                                                          
------   ------------       -------------------------*/                                                                          
--DROP PROC dbo.Proc_MakeClaimsReport_PPA_Pers
CREATE PROC [dbo].[Proc_MakeClaimsReport_PPA_Pers]                                          
(                                        
	@MONTH int,                                         
	@YEAR int,
	@STATE_ID varchar(50) = NULL
)                      
AS                                                                          
BEGIN
--	begin tran
	CREATE TABLE #TEMP_COVERAGE_DETAILS
	(
		COV_ID		INT,
		COV_CODE	VARCHAR(50),
		COV_DES		VARCHAR(100),
		PERCENTAGE	DECIMAL(18,2)
	)
	

	INSERT INTO #TEMP_COVERAGE_DETAILS VALUES (1,'CSL','Single Limit Liability (CSL)',100)
	INSERT INTO #TEMP_COVERAGE_DETAILS VALUES (2,'BI','Bodily Injury Liability (Split Limits)',100)
	INSERT INTO #TEMP_COVERAGE_DETAILS VALUES (4,'PD','Property Damage Liability',100)
/*CREATE TABLE #TEMP
(
	LOB							VARCHAR(200),
	STATE						VARCHAR(50),
	LOSS_TYPE					VARCHAR(50),
	AMOUNT						DECIMAL(18,9),
	DETAIL_TYPE_DESCRIPTION		VARCHAR(100),
	ACTV_MONTH					INT,
	ACTV_YEAR					INT
)
DECLARE @MNTH	INT
DECLARE @YR		INT
SET @MNTH = 1
SET @YR = @YEAR
WHILE @MNTH <= @MONTH
BEGIN
	INSERT INTO #TEMP
		SELECT 'Personal Auto', 22,COV_CODE,'0.00','Other Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Personal Auto', 22,COV_CODE,'0.00','Legal Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Personal Auto', 22,COV_CODE,'0.00','Adjustment Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Personal Auto', 22,COV_CODE,'0.00','Salvage Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Personal Auto', 22,COV_CODE,'0.00','Subrogation Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Personal Auto', 22,COV_CODE,'0.00','Paid Loss',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Personal Auto', 22,COV_CODE,'0.00','Salvage',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS  UNION
		SELECT 'Personal Auto', 22,COV_CODE,'0.00','Subrogation (Check Received)',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
--		SELECT 'Personal Auto', 22,COV_CODE,'0.00','Other',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		--********************--
		SELECT 'Personal Auto', 14,COV_CODE,'0.00','Other Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Personal Auto', 14,COV_CODE,'0.00','Legal Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Personal Auto', 14,COV_CODE,'0.00','Adjustment Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Personal Auto', 14,COV_CODE,'0.00','Salvage Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Personal Auto', 14,COV_CODE,'0.00','Subrogation Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Personal Auto', 14,COV_CODE,'0.00','Paid Loss',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Personal Auto', 14,COV_CODE,'0.00','Salvage',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS  UNION
		SELECT 'Personal Auto', 14,COV_CODE,'0.00','Subrogation (Check Received)',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
--		SELECT 'Personal Auto', 14,COV_CODE,'0.00','Other',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		--*************************--
		SELECT 'Personal Auto', 49,COV_CODE,'0.00','Other Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Personal Auto', 49,COV_CODE,'0.00','Legal Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Personal Auto', 49,COV_CODE,'0.00','Adjustment Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Personal Auto', 49,COV_CODE,'0.00','Salvage Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Personal Auto', 49,COV_CODE,'0.00','Subrogation Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Personal Auto', 49,COV_CODE,'0.00','Paid Loss',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Personal Auto', 49,COV_CODE,'0.00','Salvage',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS  UNION
		SELECT 'Personal Auto', 49,COV_CODE,'0.00','Subrogation (Check Received)',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS
--		SELECT 'Personal Auto', 49,COV_CODE,'0.00','Other',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS
		
SET @MNTH = @MNTH + 1
END*/
--SELECT * FROM #TEMP

IF (@STATE_ID IS NULL OR @STATE_ID = '')
	BEGIN 
		SELECT LOB, MS.STATE_NAME, TEMP.COV_CODE AS LOSS_TYPE, SUM(AMOUNT)*TEMP.PERCENTAGE/100 AS AMOUNT, DETAIL_TYPE_DESCRIPTION, 
		ACTV_MONTH, ACTV_YEAR 
		FROM VW_MAKECLAIMSREPORT_PPA_PERS VPC
		INNER JOIN MNT_COUNTRY_STATE_LIST MS
		ON VPC.STATE_ID = MS.STATE_ID
		INNER JOIN #TEMP_COVERAGE_DETAILS TEMP
		ON VPC.COVERAGE_ID = TEMP.COV_ID
		WHERE VPC.ACTV_MONTH <= @MONTH AND VPC.ACTV_YEAR = @YEAR
		GROUP BY LOB, MS.STATE_NAME, TEMP.COV_CODE, DETAIL_TYPE_DESCRIPTION,ACTV_MONTH, ACTV_YEAR,TEMP.PERCENTAGE 
		ORDER BY ACTV_MONTH, ACTV_YEAR 
		/*UNION
		SELECT LOB, MS.STATE_NAME, LOSS_TYPE, SUM(AMOUNT)AS AMOUNT,DETAIL_TYPE_DESCRIPTION,
		ACTV_MONTH,ACTV_YEAR 
		FROM #TEMP T
		INNER JOIN MNT_COUNTRY_STATE_LIST MS
		ON T.STATE = MS.STATE_ID
		WHERE T.ACTV_MONTH <= @MONTH AND T.ACTV_YEAR = @YEAR
		GROUP BY LOB, MS.STATE_NAME, LOSS_TYPE, DETAIL_TYPE_DESCRIPTION,ACTV_MONTH, ACTV_YEAR
		ORDER BY ACTV_MONTH, ACTV_YEAR 	*/
	END 
	
ELSE
	
	SELECT LOB, MS.STATE_NAME, TEMP.COV_CODE AS LOSS_TYPE, SUM(AMOUNT)*TEMP.PERCENTAGE/100 AS AMOUNT, DETAIL_TYPE_DESCRIPTION, 
	ACTV_MONTH, ACTV_YEAR 
	FROM VW_MAKECLAIMSREPORT_PPA_PERS VPC
	INNER JOIN MNT_COUNTRY_STATE_LIST MS
	ON VPC.STATE_ID = MS.STATE_ID
	INNER JOIN #TEMP_COVERAGE_DETAILS TEMP
	ON VPC.COVERAGE_ID = TEMP.COV_ID
	WHERE VPC.STATE_ID = @STATE_ID AND VPC.ACTV_MONTH <= @MONTH AND VPC.ACTV_YEAR = @YEAR
	GROUP BY LOB, MS.STATE_NAME, TEMP.COV_CODE, DETAIL_TYPE_DESCRIPTION,ACTV_MONTH, ACTV_YEAR,TEMP.PERCENTAGE
	ORDER BY ACTV_MONTH, ACTV_YEAR 
	/*UNION
	SELECT LOB, MS.STATE_NAME, LOSS_TYPE, SUM(AMOUNT)AS AMOUNT,DETAIL_TYPE_DESCRIPTION,
	ACTV_MONTH,ACTV_YEAR 
	FROM #TEMP T
	INNER JOIN MNT_COUNTRY_STATE_LIST MS
	ON T.STATE = MS.STATE_ID
	WHERE T.ACTV_MONTH <= @MONTH AND T.ACTV_YEAR = @YEAR
	GROUP BY LOB, MS.STATE_NAME, LOSS_TYPE, DETAIL_TYPE_DESCRIPTION,ACTV_MONTH, ACTV_YEAR
	ORDER BY ACTV_MONTH, ACTV_YEAR 	*/



DROP TABLE #TEMP_COVERAGE_DETAILS
--DROP TABLE #TEMP
END 

--GO
--EXEC Proc_MakeClaimsReport_PPA_Pers 8,2009,''
--ROLLBACK TRAN



























GO

