IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_SaveAdvancePaymentReport]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_SaveAdvancePaymentReport]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN
--DROP PROC Dbo.Proc_SaveAdvancePaymentReport
--GO
/*----------------------------------------------------------                
Proc Name       : Dbo.Proc_SaveAdvancePaymentReport
Created by      : Ravindra 
Date            : 9-11-2008
Purpose         : Calculates and Post the Return Premium of the Policy.      
Revison History :                

Used In     	 : Wolverine   (Cancellation Process)            
 
------------------------------------------------------------                
Date     Review By          Comments                
------   ------------       -------------------------*/                
-- drop proc Dbo.Proc_SaveAdvancePaymentReport
CREATE PROC [dbo].[Proc_SaveAdvancePaymentReport]         
(     
	@MONTH	Int,
	@YEAR	Int
)
AS 
BEGIN 

	DECLARE  @LAST_DAY_OF_MONTH Datetime 

	IF(@MONTH = 12)
	BEGIN 
		SET @LAST_DAY_OF_MONTH = CAST( CONVERT(VARCHAR, @YEAR+1) +'-' + CONVERT(VARCHAR,1) + '-' + '1' AS DATETIME)
		SET @LAST_DAY_OF_MONTH = DATEADD(dd,-1 , @LAST_DAY_OF_MONTH )
	END
	ELSE
	BEGIN 
		SET @LAST_DAY_OF_MONTH = CAST( CONVERT(VARCHAR, @YEAR) +'-' + CONVERT(VARCHAR,@MONTH + 1) + '-' + '1' AS DATETIME)
		SET @LAST_DAY_OF_MONTH = DATEADD(dd, -1 , @LAST_DAY_OF_MONTH)
	END


--INSERT INTO ACT_ADVANCE_PAYMENT_REPORT (MONTH,YEAR,AGENCY_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFFECTIVE_DATE,POLICY_EXPIRY_DATE,
--								DEPOSIT_AMOUNT,ADVANCE_MONTH ) 

SELECT @MONTH ,	@YEAR , TEMP.AGENCY_ID, TEMP.CUSTOMER_ID , 
	TEMP.POLICY_NUMBER , TEMP.POLICY_EFFECTIVE_DATE , TEMP.POLICY_EXPIRY_DATE ,   SUM(AMOUNT ) AS DEPOSIT_AMOUNT ,
	CASE WHEN DATEDIFF(MONTH, @LAST_DAY_OF_MONTH ,POLICY_EFFECTIVE_DATE) >= 2 THEN 2
		ELSE 1 END 
FROM 
(
	SELECT  CPL.AGENCY_ID , CPL.CUSTOMER_ID  AS CUSTOMER_ID, CPL.POLICY_NUMBER AS POLICY_NUMBER , CPL.APP_EFFECTIVE_DATE AS POLICY_EFFECTIVE_DATE ,
	CPL.APP_EXPIRATION_DATE AS POLICY_EXPIRY_DATE, ISNULL(OI.TOTAL_PAID ,0)-ISNULL(OI.WRITE_OFF_AMOUNT,0)  AS AMOUNT
	FROM ACT_CUSTOMER_OPEN_ITEMS OI
	INNER JOIN POL_CUSTOMER_POLICY_LIST CPL
	ON OI.CUSTOMER_ID = CPL.CUSTOMER_ID 
	AND OI.POLICY_ID  = CPL.POLICY_ID 
	AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID 
	WHERE --OI.ITEM_TRAN_CODE_TYPE IN ( 'JE','PREM' ) 
	OI.ITEM_TRAN_CODE_TYPE IN ('PREM' ) 
	AND ITEM_TRAN_CODE <> 'SBWF'
	AND DATEDIFF(MM,@LAST_DAY_OF_MONTH, CPL.APP_EFFECTIVE_DATE ) > 0 
	AND ISNULL(OI.TOTAL_PAID ,0)  <> 0
	AND CPL.POLICY_STATUS NOT IN ('UISSUE','SUSPENDED')
	
	UNION ALL

	SELECT CPL.AGENCY_ID , CPL.CUSTOMER_ID  AS CUSTOMER_ID, CPL.POLICY_NUMBER ,CPL.APP_EFFECTIVE_DATE AS POLICY_EFFECTIVE_DATE ,
	CPL.APP_EXPIRATION_DATE AS POLICY_EXPIRY_DATE, (ISNULL(OI.TOTAL_DUE ,0) - ISNULL(OI.TOTAL_PAID ,0)) * -1 AS AMOUNT
	FROM ACT_CUSTOMER_OPEN_ITEMS OI
	INNER JOIN POL_CUSTOMER_POLICY_LIST CPL
	ON OI.CUSTOMER_ID = CPL.CUSTOMER_ID 
	AND OI.POLICY_ID  = CPL.POLICY_ID 
	AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID 
	WHERE OI.ITEM_TRAN_CODE_TYPE = 'DEP' 
	AND ISNULL(OI.TOTAL_DUE ,0) <> ISNULL(OI.TOTAL_PAID ,0)
	AND DATEDIFF(MM, @LAST_DAY_OF_MONTH , CPL.APP_EFFECTIVE_DATE ) > 0 
	AND CPL.POLICY_STATUS NOT IN ('UISSUE','SUSPENDED')
) AS TEMP
INNER JOIN CLT_CUSTOMER_LIST CLT
ON CLT.CUSTOMER_ID = TEMP.CUSTOMER_ID 
GROUP BY TEMP.AGENCY_ID, TEMP.CUSTOMER_ID  , POLICY_NUMBER , POLICY_EFFECTIVE_DATE ,POLICY_EXPIRY_DATE  
HAVING  SUM(AMOUNT ) > 0 
ORDER BY POLICY_NUMBER
END

--GO
--EXEC Proc_SaveAdvancePaymentReport 12,2009
--ROLLBACK TRAN


GO

