IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProcInsertFinalAgencyStatement]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ProcInsertFinalAgencyStatement]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran 
--drop proc dbo.ProcInsertFinalAgencyStatement 
--go 
 /*----------------------------------------------------------------------        

Created By		: Ravindra    
Date			: 05-6-2008    
Purpose			: For Creating records in Final Agency Statement table from Intermidiatory table
-----------------------------------------------------------------------*/     
--drop proc dbo.ProcInsertFinalAgencyStatement    
CREATE PROC [dbo].[ProcInsertFinalAgencyStatement]       
(        
 @MONTH  INT,        
 @YEAR   INT,      
 @COMM_TYPE VARCHAR(20)      
)        
AS        
BEGIN         

   
IF(@COMM_TYPE = 'REG' ) 
BEGIN
	exec ProcAdjustAgencyStatement @MONTH , @YEAR 
END

CREATE TABLE #STATEMENT    
(    
	  CUSTOMER_ID   Int,    
	  POLICY_ID   INt,    
	  POLICY_VERSION_ID Int,    
	  MCCA_FEES   Decimal(18,2),    
	  NET_AMOUNT   Decimal(18,2),    
	  GROSS_AMOUNT  As ISNULL(MCCA_FEES , 0) + ISNULL(NET_AMOUNT , 0),    
	  COMMISSION_RATE  Decimal(18,2),    
	  COMMISSION_AMOUNT Decimal(18,2),    
	  BILL_TYPE   CHAR(4),    
	  TRAN_TYPE   Char(10),    
	  TRAN_CODE		Char(10) ,
	  AGENCY_ID   Int ,    
	  MONTH_NUMBER  Int,    
	  MONTH_YEAR   Int  ,
	    
)  


IF(@COMM_TYPE = 'CAC')      
BEGIN
	INSERT INTO ACT_AGENCY_STATEMENT  
	(  
		MONTH_NUMBER ,AGENCY_ID,POLICY_ID,POLICY_VERSION_ID,CUSTOMER_ID,SOURCE_EFF_DATE,PREMIUM_AMOUNT,COMMISSION_RATE,TOTAL_PAID,
		SOURCE_ROW_ID,MONTH_YEAR,TRAN_TYPE,AMOUNT_FOR_CALCULATION,COMMISSION_AMOUNT,DUE_AMOUNT,
		AGENCY_OPEN_ITEM_ID,CUSTOMER_OPEN_ITEM_ID,GROSS_PREMIUM,FEES,TRAN_CODE,COMM_TYPE,
		BILL_TYPE,ITEM_STATUS,UPDATED_FROM,IS_CHECK_CREATED,STAT_FEES_FOR_CALCULATION,CSR_ID 
	)            
	SELECT  	
		MONTH_NUMBER ,AGENCY_ID,POLICY_ID,POLICY_VERSION_ID,CUSTOMER_ID,SOURCE_EFF_DATE,PREMIUM_AMOUNT,COMMISSION_RATE,TOTAL_PAID,
		SOURCE_ROW_ID,MONTH_YEAR,TRAN_TYPE,AMOUNT_FOR_CALCULATION,COMMISSION_AMOUNT,DUE_AMOUNT,
		AGENCY_OPEN_ITEM_ID,CUSTOMER_OPEN_ITEM_ID,GROSS_PREMIUM,FEES,TRAN_CODE,COMM_TYPE,
		BILL_TYPE,ITEM_STATUS,UPDATED_FROM,IS_CHECK_CREATED,STAT_FEES_FOR_CALCULATION,CSR_ID 
	FROM ACT_AGENCY_STATEMENT_DETAILED
	WHERE 	MONTH_NUMBER = @MONTH         
	AND MONTH_YEAR   = @YEAR      
	AND COMM_TYPE = @COMM_TYPE    
	AND ISNULL(NOT_COUNTED_RECEIVABLE,0) <> 1 
END      
ELSE      
BEGIN  --REG CASE

	INSERT INTO #STATEMENT    
	(    
	CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ,    
	MCCA_FEES , NET_AMOUNT , COMMISSION_RATE ,     
	COMMISSION_AMOUNT ,BILL_TYPE ,  
	TRAN_TYPE ,	TRAN_CODE,    
	AGENCY_ID , MONTH_NUMBER ,  MONTH_YEAR     
	)    
	SELECT AAS.CUSTOMER_ID ,AAS.POLICY_ID , 
	(    
		SELECT MAX (NEW_POLICY_VERSION_ID) FROM POL_POLICY_PROCESS   PPP    
		WHERE PPP.CUSTOMER_ID = AAS.CUSTOMER_ID     
		AND   PPP.POLICY_ID =  AAS.POLICY_ID      
		AND   PPP.PROCESS_ID IN (18,25,32)      
		AND   PPP.NEW_POLICY_VERSION_ID <=     
		(    
			SELECT MAX(POLICY_VERSION_ID) FROM ACT_AGENCY_STATEMENT_DETAILED AASIN    
			WHERE AAS.CUSTOMER_ID  = AASIN.CUSTOMER_ID    
			AND AAS.POLICY_ID = AASIN.POLICY_ID    
		)    
	),     
	AAS.STAT_FEES_FOR_CALCULATION ,AAS.AMOUNT_FOR_CALCULATION , AAS.COMMISSION_RATE,    
	AAS.COMMISSION_AMOUNT ,AAS.BILL_TYPE ,   
	TRAN_TYPE  ,
	CASE AAS.TRAN_CODE   WHEN 'NBSP'  Then 'REG' --'NBS'    
	WHEN 'NBSC'  Then 'REG' --'NBS'    
	WHEN 'RENP'  THEN 'REG' --'REN'    
	WHEN 'RENC'  Then 'REG' --'REN'    
	WHEN 'ENDP'  Then 'REG' --'END'    
	WHEN 'ENDC'  THEN 'REG' --'END'      
	WHEN 'CANCP'  Then 'REG' --'CAN'    
	WHEN 'CANC'  THEN 'REG' --'CAN'       
	WHEN 'RINSP'  Then 'REG' --'RIN'    
	WHEN 'RINC' Then  'REG' --'RIN'    
	ELSE TRAN_CODE    
	END ,    
	AAS.AGENCY_ID , AAS.MONTH_NUMBER ,  AAS.MONTH_YEAR     
	FROM ACT_AGENCY_STATEMENT_DETAILED AAS     
	WHERE AAS.MONTH_NUMBER = @MONTH    
	AND AAS.MONTH_YEAR = @YEAR        
	AND AAS.COMM_TYPE = @COMM_TYPE      
	AND ISNULL(NOT_COUNTED_RECEIVABLE,0) <> 1 

	INSERT INTO ACT_AGENCY_STATEMENT  
	(  
		MONTH_NUMBER ,AGENCY_ID,POLICY_ID,POLICY_VERSION_ID,CUSTOMER_ID,SOURCE_EFF_DATE,
		PREMIUM_AMOUNT,COMMISSION_RATE,	MONTH_YEAR , TRAN_TYPE , AMOUNT_FOR_CALCULATION ,
		COMMISSION_AMOUNT, DUE_AMOUNT, GROSS_PREMIUM , FEES, COMM_TYPE,
		BILL_TYPE, UPDATED_FROM,STAT_FEES_FOR_CALCULATION , TRAN_CODE 
	)             
	SELECT TMP.MONTH_NUMBER ,  TMP.AGENCY_ID ,  TMP.POLICY_ID , TMP.POLICY_VERSION_ID , TMP.CUSTOMER_ID , null  , 
	TMP.NET_AMOUNT , TMP.COMMISSION_RATE , TMP.MONTH_YEAR , TMP.TRAN_TYPE  , TMP.NET_AMOUNT  ,
	TMP.COMMISSION_AMOUNT , CASE TRAN_TYPE WHEN 'PREM' THEN  TMP.GROSS_AMOUNT ELSE TMP.COMMISSION_AMOUNT  END, 
	TMP.GROSS_AMOUNT ,  TMP.MCCA_FEES ,@COMM_TYPE ,    
	TMP.BILL_TYPE , 'P' , TMP.MCCA_FEES , TMP.TRAN_CODE 
	FROM     
	(     
--		select  CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ,    
--		GROSS_AMOUNT, MCCA_FEES , NET_AMOUNT , COMMISSION_RATE ,     
--		SUM(ISNULL(COMMISSION_AMOUNT,0)) AS COMMISSION_AMOUNT     
--		,BILL_TYPE ,  TRAN_TYPE ,  TRAN_CODE ,   
--		AGENCY_ID , MONTH_NUMBER ,  MONTH_YEAR     
--		from #STATEMENT     
--		where bill_type = 'AB'    
--		group by CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID  , COMMISSION_RATE ,    
--		GROSS_AMOUNT  , MCCA_FEES ,NET_AMOUNT, BILL_TYPE , TRAN_TYPE , TRAN_CODE ,    
--		AGENCY_ID , MONTH_NUMBER ,  MONTH_YEAR     
--		UNION     

		select     
		CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ,    
		SUM(ISNULL(GROSS_AMOUNT,0)) AS GROSS_AMOUNT,     
		SUM(ISNULL(MCCA_FEES,0)) AS MCCA_FEES,     
		SUM(ISNULL(NET_AMOUNT,0))  AS NET_AMOUNT,     
		COMMISSION_RATE ,     
		SUM(ISNULL(COMMISSION_AMOUNT,0)) AS COMMISSION_AMOUNT     
		,BILL_TYPE ,  TRAN_TYPE,    TRAN_CODE , 
		AGENCY_ID , MONTH_NUMBER ,  MONTH_YEAR     
		from #STATEMENT     
		--where bill_type = 'DB'    
		group by CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID  ,    
		COMMISSION_RATE ,BILL_TYPE ,TRAN_TYPE, TRAN_CODE ,    
		AGENCY_ID , MONTH_NUMBER ,  MONTH_YEAR     
	) TMP     
	WHERE 
	(
		NOT ( ABS(ISNULL(TMP.COMMISSION_AMOUNT  ,0)) < 0.5 AND ABS(ISNULL( TMP.NET_AMOUNT ,0) ) < 0.5 AND TRAN_CODE <> 'PIC' )	
	)
	AND 
	(
		NOT ( ABS(ISNULL(TMP.COMMISSION_AMOUNT  ,0)) = 0 AND TRAN_CODE = 'PIC' )	
	)
END    

DROP TABLE #STATEMENT

END

--go 
--
--exec ProcInsertFinalAgencyStatement 4 , 2008,'REG'
--
----select TRAN_TYPE ,TRAN_CODE,COMM_TYPE,BILL_TYPE,DUE_AMOUNT , * 
----from  ACT_AGENCY_STATEMENT_DETAILED  where comm_type = 'REG' and month_number = 4
----and customer_id = 1432  and policy_id = 13 order by policy_id
----
----select TRAN_TYPE ,TRAN_CODE,COMM_TYPE,BILL_TYPE,DUE_AMOUNT,* 
----from  ACT_AGENCY_STATEMENT where comm_type = 'REG' and month_number = 4 and month_year = 2008 and customer_id = 1432 
----and policy_id = 13 order by policy_id
--
--
--rollback  tran 
--






GO

