IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_InsertACT_GL_ACCOUNTS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_InsertACT_GL_ACCOUNTS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------  
Proc Name       : dbo.Proc_InsertACT_GL_ACCOUNTS  
Created by      : Ajit Singh Chahal  
Date            : 5/18/2005  
Purpose     : to insert records in ACT_GL_ACCOUNTS  
Revison History :  
Used In  : Wolverine  
  
Modified by  : Vijay Arora  
Modified Date : 05-10-2005  
Purpose  : To add the budget category id.  
------------------------------------------------------------  
Date     Review By          Comments  
------   ------------       -------------------------*/  
-- DROP PROC Proc_InsertACT_GL_ACCOUNTS  
CREATE  prOC dbo.Proc_InsertACT_GL_ACCOUNTS  
(  
@GL_ID     int,  
@FISCAL_ID     int = null,  
@ACCOUNT_ID     int output,  
@CATEGORY_TYPE     smallint,  
@GROUP_TYPE     smallint,  
@ACC_TYPE_ID     int,  
@ACC_PARENT_ID     int,  
@ACC_NUMBER     decimal(5),  
@ACC_LEVEL_TYPE     nchar(10),  
@ACC_DESCRIPTION     nvarchar(100),  
@ACC_TOTALS_LEVEL     nchar(510),  
@ACC_JOURNAL_ENTRY     nchar(2),  
@ACC_CASH_ACCOUNT     nchar(2),  
@ACC_CASH_ACC_TYPE     nchar(2),  
@ACC_DISP_NUMBER     nvarchar(100),  
@ACC_PRODUCE_CHECK     char(1),  
@ACC_HAS_CHILDREN     nchar(2),  
@ACC_NEST_LEVEL     smallint,  
@ACC_CURRENT_BALANCE     decimal(9,2),  
@IS_ACTIVE     nchar(2),  
@CREATED_BY     int,  
@CREATED_DATETIME     datetime,  
@ACC_RELATES_TO_TYPE int,  
@BUDGET_CATEGORY_ID int,
@WOLVERINE_USER_ID int  
)  
AS  
BEGIN  
Declare @Count int  
if @ACC_PARENT_ID is null  
 Set @Count= (SELECT count(*) FROM ACT_GL_ACCOUNTS where ACC_NUMBER=@ACC_NUMBER)  
else  
 Set @Count= (SELECT count(*) FROM ACT_GL_ACCOUNTS where ACC_NUMBER=@ACC_NUMBER and ACC_PARENT_ID = @ACC_PARENT_ID)  
  
  
if(@Count=0)  
BEGIN  
select  @ACCOUNT_ID=isnull(Max(ACCOUNT_ID),0)+1 from ACT_GL_ACCOUNTS  
END  
ELSE  
BEGIN  
/*Record already exist*/  
  SELECT @ACCOUNT_ID = -1  
  
END  
  
end  
  

  
  
  
  
  
  
  
  
  
  
  
  
  



GO

