IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InjectSQL]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InjectSQL]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE proc InjectSQL 
(
	@A	Varchar(200)
)
AS
BEGIN 
	--INSERT INTO TEST_SECUTITY VALUES(@A) 
	DELETE FROM TEST_SECUTITY  WHERE TEST = @A
END

GO

