IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_FILLPOLVEHICLEDROPDOWN]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_FILLPOLVEHICLEDROPDOWN]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

 --DROP PROC [dbo].[PROC_FILLPOLVEHICLEDROPDOWN]         
CREATE PROCEDURE [dbo].[PROC_FILLPOLVEHICLEDROPDOWN]               
(              
 @CUSTOMER_ID INT,               
 @POLICY_ID INT,               
 @POLICY_VERSION_ID INT,          
 @DRIVER_ID INT = NULL              
)              
AS              
BEGIN              
IF EXISTS(SELECT CUSTOMER_ID FROM POL_DRIVER_ASSIGNED_VEHICLE          
 WHERE POL_DRIVER_ASSIGNED_VEHICLE.CUSTOMER_ID = @CUSTOMER_ID           
 AND POL_DRIVER_ASSIGNED_VEHICLE.POLICY_ID = @POLICY_ID           
 AND POL_DRIVER_ASSIGNED_VEHICLE.POLICY_VERSION_ID = @POLICY_VERSION_ID          
 AND POL_DRIVER_ASSIGNED_VEHICLE.DRIVER_ID = @DRIVER_ID         
 )              
  SELECT POL_VEHICLES.VEHICLE_ID,           
  CONVERT(VARCHAR,POL_VEHICLES.VEHICLE_ID) + ' '+ ISNULL(VEHICLE_YEAR,'')  + ' ' + ISNULL(MAKE,'') AS MODEL_MAKE , ISNULL(POL_DRIVER_ASSIGNED_VEHICLE.VEHICLE_ID,0) AS ASSIGNED_VEH_ID,          
  ISNULL(POL_DRIVER_ASSIGNED_VEHICLE.APP_VEHICLE_PRIN_OCC_ID,0) AS APP_VEHICLE_PRIN_OCC_ID          
  FROM POL_VEHICLES  WITH(NOLOCK)             
  LEFT JOIN POL_DRIVER_ASSIGNED_VEHICLE          
  ON POL_VEHICLES.CUSTOMER_ID = POL_DRIVER_ASSIGNED_VEHICLE.CUSTOMER_ID          
  AND POL_VEHICLES.POLICY_ID = POL_DRIVER_ASSIGNED_VEHICLE.POLICY_ID          
  AND POL_VEHICLES.POLICY_VERSION_ID = POL_DRIVER_ASSIGNED_VEHICLE.POLICY_VERSION_ID          
  AND POL_VEHICLES.VEHICLE_ID = POL_DRIVER_ASSIGNED_VEHICLE.VEHICLE_ID          
  AND POL_DRIVER_ASSIGNED_VEHICLE.DRIVER_ID = @DRIVER_ID         
  WHERE POL_VEHICLES.CUSTOMER_ID = @CUSTOMER_ID           
  AND POL_VEHICLES.POLICY_ID = @POLICY_ID           
  AND POL_VEHICLES.POLICY_VERSION_ID = @POLICY_VERSION_ID          
  AND UPPER(POL_VEHICLES.IS_ACTIVE)='Y'  ORDER BY POL_VEHICLES.VEHICLE_ID  -- ORDER BY 2 -- Commented by Sibin for Itrack Issue 5401 on 10 Feb 09              
ELSE          
  SELECT POL_VEHICLES.VEHICLE_ID,           
  CONVERT(VARCHAR,POL_VEHICLES.VEHICLE_ID) + ' ' + ISNULL(VEHICLE_YEAR,'') + ' ' + ISNULL(MAKE,'') AS MODEL_MAKE ,          
  '0' AS ASSIGNED_VEH_ID,          
  '0' AS APP_VEHICLE_PRIN_OCC_ID          
  FROM POL_VEHICLES  WITH(NOLOCK)             
  WHERE POL_VEHICLES.CUSTOMER_ID = @CUSTOMER_ID           
  AND POL_VEHICLES.POLICY_ID = @POLICY_ID           
  AND POL_VEHICLES.POLICY_VERSION_ID = @POLICY_VERSION_ID          
  AND UPPER(POL_VEHICLES.IS_ACTIVE)='Y' ORDER BY POL_VEHICLES.VEHICLE_ID  -- ORDER BY 2 -- Commented by Sibin for Itrack Issue 5401 on 10 Feb 09             
END
GO

