IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_PostAndReconcileAgencyDeposit]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_PostAndReconcileAgencyDeposit]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------  
Proc Name       : Proc_PostAndReconcileAgencyDeposit  
Created by      : Vijay Joshi  
Date            : 7 Mar,2006  
Purpose      	: Reconciles the deposit againt agency open items and post that deposit also  
Revison History :  
DROP PROC dbo.Proc_PostAndReconcileAgencyDeposit
------------------------------------------------------------  
Date     Review By          Comments  
------   ------------       --------------------------------*/  
-- DROP PROC dbo.Proc_PostAndReconcileAgencyDeposit  
CREATE PROCEDURE dbo.Proc_PostAndReconcileAgencyDeposit  
(  
 @DEPOSIT_ID  INT,  
 @FISCAL_ID  INT,  
 @COMMITTED_BY INT,  
 @COMMITED_BY_CODE VARCHAR(10),  
 @COMMITED_BY_NAME VARCHAR(30)  
)  
AS  
BEGIN  

DECLARE @AST_UNCOLL_PRM_AGENCY INT  
DECLARE @LIB_COMM_PAYB_AGENCY_BILL INT  
DECLARE @LIB_COMM_PAYB_DIRECT_BILL INT  

DECLARE @TOTAL_INSTALL_FEES DECIMAL(18,2), @@ERROR_NO INT  
DECLARE @ITEM_TRAN_CODE_INSTALLMENT VARCHAR(5)  
DECLARE @TOTAL_AMT_RECONCILED DECIMAL(18,2)  
DECLARE @DEPOSIT_TYPE_AGENCY Varchar(5)
DECLARE @COMMITTED_DATE  Datetime ,
	 @ITEM_TRAN_CODE_TYPE Varchar(10),
	 @ITEM_TRAN_CODE Varchar(10)

 SET @ITEM_TRAN_CODE_TYPE = 'DEP'
 SET @ITEM_TRAN_CODE  = 'DEP'


SET @COMMITTED_DATE = GETDATE()
SET @DEPOSIT_TYPE_AGENCY = 'AGN'
  
SELECT @@ERROR_NO = @@ERROR  
IF @@ERROR_NO <> 0  
GOTO ERRHANDLER  
  

--Fetching the accounts details  
SELECT   
@AST_UNCOLL_PRM_AGENCY = AST_UNCOLL_PRM_AGENCY  ,
@LIB_COMM_PAYB_AGENCY_BILL = LIB_COMM_PAYB_AGENCY_BILL,
@LIB_COMM_PAYB_DIRECT_BILL = LIB_COMM_PAYB_DIRECT_BILL
FROM ACT_GENERAL_LEDGER  
WHERE FISCAL_ID = @FISCAL_ID  
   
SELECT @@ERROR_NO = @@ERROR  
IF @@ERROR_NO <> 0  
	GOTO ERRHANDLER  
  

--Fetching the records to be reconciles for each line items  
--created by current deposit  
--for this we will make a cursor and loops thru each records  
--ans calls stored proc for fetching the reconciliation details  
DECLARE curDEPOSIT_ITEMS CURSOR   
LOCAL FORWARD_ONLY STATIC  
FOR SELECT CD_LINE_ITEM_ID, POLICY_ID, POLICY_VERSION_ID, CUSTOMER_ID, POLICY_MONTH ,
	RECEIPT_FROM_ID,RECEIPT_AMOUNT,POLICY_MONTH,MONTH_YEAR
FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS   
WHERE DEPOSIT_ID = @DEPOSIT_ID  
AND DEPOSIT_TYPE = @DEPOSIT_TYPE_AGENCY
ORDER BY CD_LINE_ITEM_ID  
  
SELECT @@ERROR_NO = @@ERROR  
IF @@ERROR_NO <> 0  
	GOTO ERRHANDLER  
   
--Variables for retreiving the values from cursor   
DECLARE @CD_LINE_ITEM_ID INT, @POLICY_ID SMALLINT, @POLICY_VERSION_ID SMALLINT, @CUSTOMER_ID INT, @MONTH SMALLINT,  
	@AGENCY_ID Int ,@RECEIPT_AMOUNT Decimal(18,2),@POLICY_MONTH Int,@MONTH_YEAR Int

DECLARE @TRAN_ENTITY Varchar(200),
	@TRAN_DESC   Varchar(500)
  
OPEN curDEPOSIT_ITEMS  
  
SELECT @@ERROR_NO = @@ERROR  
IF @@ERROR_NO <> 0  
	GOTO ERRHANDLER  
  
WHILE 1=1  
BEGIN   
	--Fetching the values from cursor  
	FETCH NEXT FROM curDEPOSIT_ITEMS INTO @CD_LINE_ITEM_ID, @POLICY_ID, @POLICY_VERSION_ID, @CUSTOMER_ID, @MONTH ,
		@AGENCY_ID , @RECEIPT_AMOUNT ,@POLICY_MONTH ,@MONTH_YEAR
	
	SELECT @@ERROR_NO = @@ERROR  
	IF @@ERROR_NO <> 0  
		GOTO ERRHANDLER  
	
	IF @@FETCH_STATUS <> 0  
		BREAK;  
  
	-- Fetching Agency Name
	--SELECT @TRAN_ENTITY = ISNULL(AGENCY_CODE,'') + ' - ' + ISNULL(AGENCY_DISPLAY_NAME,'') 
	--FROM MNT_AGENCY_LIST WHERE AGENCY_ID = @AGENCY_ID
 	--5 dec 2007
	SELECT @TRAN_ENTITY =  ISNULL(AGENCY_DISPLAY_NAME,'') 
	FROM MNT_AGENCY_LIST WHERE AGENCY_ID = @AGENCY_ID

	--Setting Transaction Description
	SET @TRAN_DESC = Convert(Varchar,ISNULL(@POLICY_MONTH,0)) 
			+ ' / ' + Convert(Varchar,ISNULL(@MONTH_YEAR,0)) 
	
	--ACT_RECONCILIATION_GROUPS table will have details of records, which will be reconcile by this deposit  
	UPDATE ACT_AGENCY_STATEMENT  
	SET TOTAL_PAID = ISNULL(TOTAL_PAID,0) + ISNULL(RECON_AMOUNT,0)  
	FROM ACT_AGENCY_RECON_GROUP_DETAILS ARGD  
	INNER JOIN ACT_RECONCILIATION_GROUPS RG ON RG.GROUP_ID = ARGD.GROUP_ID  
	WHERE ACT_AGENCY_STATEMENT.ROW_ID = ARGD.ITEM_REFERENCE_ID  
	AND ARGD.GROUP_ID = RG.GROUP_ID 

	AND RG.CD_LINE_ITEM_ID = @CD_LINE_ITEM_ID  
  
	SELECT @@ERROR_NO = @@ERROR  
	IF @@ERROR_NO <> 0  
		GOTO ERRHANDLER  

	--Getting the total that is reconciled    
	SELECT @TOTAL_AMT_RECONCILED = ISNULL(SUM(RECON_AMOUNT) , 0)   
	FROM ACT_AGENCY_RECON_GROUP_DETAILS ARGD  
	INNER JOIN ACT_RECONCILIATION_GROUPS RG ON RG.GROUP_ID = ARGD.GROUP_ID  
	WHERE RG.CD_LINE_ITEM_ID = @CD_LINE_ITEM_ID  
	
	SELECT @@ERROR_NO = @@ERROR  
	IF @@ERROR_NO <> 0  
		GOTO ERRHANDLER   
  
	-------OVER PAYMENT
	
	DECLARE @OVER_PAYMENT VARCHAR(10)
	SET @OVER_PAYMENT = NULL

	IF(@RECEIPT_AMOUNT  > @TOTAL_AMT_RECONCILED)
		SET @OVER_PAYMENT = 'OP'
	ELSE
		SET @OVER_PAYMENT = NULL
	-------OVER PAYMENT
 
	--Inserting the deposit in agency statement  
	INSERT INTO ACT_AGENCY_STATEMENT  
	(  
	MONTH_NUMBER, MONTH_YEAR, AGENCY_ID, POLICY_ID, POLICY_VERSION_ID, CUSTOMER_ID, SOURCE_EFF_DATE,   
	PREMIUM_AMOUNT, COMMISSION_RATE ,  
	TOTAL_PAID, SOURCE_ROW_ID, AMOUNT_FOR_CALCULATION, COMMISSION_AMOUNT,  
	DUE_AMOUNT, PAYMENT_STATUS, IS_TEMP_ENTRY, IN_RECON, AMT_IN_RECON, AGENCY_OPEN_ITEM_ID ,
	ITEM_STATUS , TRAN_TYPE,TRAN_CODE,UPDATED_FROM
	)  
	SELECT   
	@MONTH, YEAR(AAOI.SOURCE_EFF_DATE), AAOI.AGENCY_ID, PCPL.POLICY_ID, PCPL.POLICY_VERSION_ID, AAOI.CUSTOMER_ID, @COMMITTED_DATE,   
	AAOI.TOTAL_DUE, AAOI.AGENCY_COMM_PERC,  
	@TOTAL_AMT_RECONCILED * -1, AAOI.SOURCE_ROW_ID,  AAOI.TOTAL_DUE, 0,  
	AAOI.TOTAL_DUE, @CD_LINE_ITEM_ID, 0, NULL, NULL, AAOI.IDEN_ROW_ID  ,
	@OVER_PAYMENT,@ITEM_TRAN_CODE_TYPE ,@ITEM_TRAN_CODE,'D'
	FROM ACT_AGENCY_OPEN_ITEMS AAOI  
	LEFT JOIN POL_CUSTOMER_POLICY_LIST PCPL ON PCPL.POLICY_ID = AAOI.POLICY_ID   
	AND PCPL.POLICY_VERSION_ID = AAOI.POLICY_VERSION_ID   
	AND PCPL.CUSTOMER_ID = AAOI.CUSTOMER_ID   
	WHERE UPDATED_FROM = 'D' AND SOURCE_ROW_ID = @CD_LINE_ITEM_ID  
	
	SELECT @@ERROR_NO = @@ERROR  
	IF @@ERROR_NO <> 0  
		GOTO ERRHANDLER   
  
	DECLARE @GROUP_ID Int
	SELECT @GROUP_ID = GROUP_ID FROM ACT_RECONCILIATION_GROUPS 
	WHERE CD_LINE_ITEM_ID = @CD_LINE_ITEM_ID
		AND RECON_ENTITY_TYPE = 'AGN'

	--Inserting in recon details    
	INSERT INTO ACT_AGENCY_RECON_GROUP_DETAILS  
	(  
	GROUP_ID,   
	ITEM_TYPE, ITEM_REFERENCE_ID,   
	SUB_LEDGER_TYPE, RECON_AMOUNT, NOTE, DIV_ID, DEPT_ID, PC_ID  
	)  
	SELECT   
	@GROUP_ID,  
	'AGN', AM.ROW_ID,  
	NULL, AM.TOTAL_PAID, NULL, ACOI.DIV_ID, ACOI.DEPT_ID, ACOI.PC_ID  
	FROM ACT_AGENCY_OPEN_ITEMS ACOI  
	INNER JOIN ACT_AGENCY_STATEMENT  AM  ON AM.AGENCY_OPEN_ITEM_ID = ACOI.IDEN_ROW_ID  
	WHERE ACOI.UPDATED_FROM = 'D' AND ACOI.SOURCE_ROW_ID = @CD_LINE_ITEM_ID  
  
	
	UPDATE ACT_RECONCILIATION_GROUPS SET IS_COMMITTED = 'Y' ,
				DATE_COMMITTED	= GETDATE(),
				COMMITTED_BY = @COMMITTED_BY
	WHERE GROUP_ID = @GROUP_ID 
	-- Calculating AB Premium ,AB Commission  and  DB Commission reconcilied by this deposit

	DECLARE @AB_PREMIUM_AMOUNT Decimal(18,2)
	DECLARE @AB_COMMISSION_AMOUNT Decimal(18,2)
	DECLARE @DB_COMMISSION_AMOUNT Decimal(18,2)
	DECLARE @OVER_PAYMENT_AMOUNT Decimal(18,2)
	
	SET @AB_PREMIUM_AMOUNT = 0
	SET @AB_COMMISSION_AMOUNT = 0 
	SET @DB_COMMISSION_AMOUNT = 0
	SET @OVER_PAYMENT_AMOUNT = 0 
	
	SET @OVER_PAYMENT_AMOUNT = @RECEIPT_AMOUNT - @TOTAL_AMT_RECONCILED

	SELECT @AB_PREMIUM_AMOUNT = SUM(ISNULL(RECD.RECON_AMOUNT,0)) 
	FROM ACT_AGENCY_RECON_GROUP_DETAILS  RECD with(nolock)
	INNER JOIN ACT_AGENCY_STATEMENT AC with(nolock)
	ON AC.ROW_ID = RECD.ITEM_REFERENCE_ID
	AND AC.BILL_TYPE = 'AB' 
	AND AC.TRAN_TYPE = 'PREM'
	WHERE AC.AGENCY_ID = @AGENCY_ID
	AND RECD.GROUP_ID = @GROUP_ID 
	
	SELECT @@ERROR_NO = @@ERROR  
	IF @@ERROR_NO <> 0  
		GOTO ERRHANDLER   

	SELECT @AB_COMMISSION_AMOUNT = SUM(ISNULL(RECD.RECON_AMOUNT,0)) 
	FROM ACT_AGENCY_RECON_GROUP_DETAILS  RECD with(nolock)
	INNER JOIN ACT_AGENCY_STATEMENT AC with(nolock)
	ON AC.ROW_ID = RECD.ITEM_REFERENCE_ID
	AND AC.BILL_TYPE = 'AB' 
	AND AC.TRAN_TYPE = 'COM'
	WHERE AC.AGENCY_ID = @AGENCY_ID
	AND RECD.GROUP_ID = @GROUP_ID 

	SELECT @@ERROR_NO = @@ERROR  
	IF @@ERROR_NO <> 0  
		GOTO ERRHANDLER   

	SELECT @DB_COMMISSION_AMOUNT = SUM(ISNULL(RECD.RECON_AMOUNT,0)) 
	FROM ACT_AGENCY_RECON_GROUP_DETAILS  RECD with(nolock)
	INNER JOIN ACT_AGENCY_STATEMENT AC with(nolock)
	ON AC.ROW_ID = RECD.ITEM_REFERENCE_ID
	AND AC.BILL_TYPE = 'DB' 
	AND AC.TRAN_TYPE = 'COM'
	WHERE AC.AGENCY_ID = @AGENCY_ID
	AND RECD.GROUP_ID = @GROUP_ID 

	SELECT @@ERROR_NO = @@ERROR  
	IF @@ERROR_NO <> 0  
		GOTO ERRHANDLER   

	IF(ISNULL(@AB_PREMIUM_AMOUNT,0) <> 0)
	BEGIN
		--Posting AB premium (Crediting Uncollected Premium - Agency Bill Admitted  )
		INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
		(  
		ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,  
		SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,   
		TRANSACTION_AMOUNT,   
		AGENCY_COMM_PERC,  
		AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,  
		POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,   
		IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,   
		SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,   
		TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
		IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME 
		,TRAN_ENTITY,TRAN_DESC 
		)  
		SELECT   
		@AST_UNCOLL_PRM_AGENCY, 'D', NULL, CDLI.CD_LINE_ITEM_ID, NULL,  
		CD.DEPOSIT_NUMBER, @COMMITTED_DATE, @COMMITTED_DATE, Getdate(),   
		@AB_PREMIUM_AMOUNT * -1,   
		NULL,  
		NULL, CASE CDLI.DEPOSIT_TYPE WHEN 'AGN' THEN CDLI.RECEIPT_FROM_ID ELSE NULL END,   
		NULL, NULL, NULL, NULL, NULL, NULL,  
		NULL, NULL, CDLI.RECEIPT_AMOUNT, @ITEM_TRAN_CODE, @ITEM_TRAN_CODE_TYPE , NULL, NULL,  
		NULL, NULL, NULL, NULL,   
		NULL, NULL, NULL, NULL,   
		NULL, NULL, @COMMITTED_BY, @COMMITED_BY_CODE, @COMMITED_BY_NAME  
		,@TRAN_ENTITY,@TRAN_DESC
		FROM   
		ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI  
		INNER JOIN ACT_CURRENT_DEPOSITS CD ON  
		CDLI.DEPOSIT_ID = CD.DEPOSIT_ID  
		WHERE  
		CDLI.DEPOSIT_ID = @DEPOSIT_ID AND CDLI.CD_LINE_ITEM_ID = @CD_LINE_ITEM_ID  
	
		SELECT @@ERROR_NO = @@ERROR  
		IF @@ERROR_NO <> 0  
			GOTO ERRHANDLER   
	END 

	IF (ISNULL(@AB_COMMISSION_AMOUNT,0) <> 0)
	BEGIN 
		--Posting AB Commission (Debiting Commission Payable - Direct Bill)
		INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
		(  
		ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,  
		SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,   
		TRANSACTION_AMOUNT,   
		AGENCY_COMM_PERC,  
		AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,  
		POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,   
		IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,   
		SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,   
		TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
		IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME  
		,TRAN_ENTITY,TRAN_DESC
		)  
		SELECT   
		@LIB_COMM_PAYB_AGENCY_BILL, 'D', NULL, CDLI.CD_LINE_ITEM_ID, NULL,  
		CD.DEPOSIT_NUMBER, @COMMITTED_DATE, @COMMITTED_DATE, @COMMITTED_DATE,   
		@AB_COMMISSION_AMOUNT * -1,   
		NULL,  
		NULL, CASE CDLI.DEPOSIT_TYPE WHEN 'AGN' THEN CDLI.RECEIPT_FROM_ID ELSE NULL END,   
		NULL, NULL, NULL, NULL, NULL, NULL,  
		NULL, NULL, CDLI.RECEIPT_AMOUNT, @ITEM_TRAN_CODE, @ITEM_TRAN_CODE_TYPE , NULL, NULL,  
		NULL, NULL, NULL, NULL,   
		NULL, NULL, NULL, NULL,   
		NULL, NULL, @COMMITTED_BY, @COMMITED_BY_CODE, @COMMITED_BY_NAME  
		,@TRAN_ENTITY,@TRAN_DESC
		FROM   
		ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI  
		INNER JOIN ACT_CURRENT_DEPOSITS CD ON  
		CDLI.DEPOSIT_ID = CD.DEPOSIT_ID  
		WHERE  
		CDLI.DEPOSIT_ID = @DEPOSIT_ID AND CDLI.CD_LINE_ITEM_ID = @CD_LINE_ITEM_ID  
	
		SELECT @@ERROR_NO = @@ERROR  
		IF @@ERROR_NO <> 0  
			GOTO ERRHANDLER   
	END 

	IF(ISNULL(@DB_COMMISSION_AMOUNT,0) <> 0)
	BEGIN
		--Posting DB  Commission (Debiting Commission Payable - Agency Bill) 
		INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
		(  
		ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,  
		SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,   
		TRANSACTION_AMOUNT,   
		AGENCY_COMM_PERC,  
		AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,  
		POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,   
		IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,   
		SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,   
		TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
		IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME  
		,TRAN_ENTITY,TRAN_DESC
		)  
		SELECT   
		@LIB_COMM_PAYB_DIRECT_BILL, 'D', NULL, CDLI.CD_LINE_ITEM_ID, NULL,  
		CD.DEPOSIT_NUMBER, @COMMITTED_DATE,@COMMITTED_DATE,@COMMITTED_DATE,   
		@DB_COMMISSION_AMOUNT * -1,   
		NULL,  
		NULL, CASE CDLI.DEPOSIT_TYPE WHEN 'AGN' THEN CDLI.RECEIPT_FROM_ID ELSE NULL END,   
		NULL, NULL, NULL, NULL, NULL, NULL,  
		NULL, NULL, CDLI.RECEIPT_AMOUNT, @ITEM_TRAN_CODE, @ITEM_TRAN_CODE_TYPE , NULL, NULL,  
		NULL, NULL, NULL, NULL,   
		NULL, NULL, NULL, NULL,   
		NULL, NULL, @COMMITTED_BY, @COMMITED_BY_CODE, @COMMITED_BY_NAME  
		,@TRAN_ENTITY,@TRAN_DESC
		FROM   
		ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI  
		INNER JOIN ACT_CURRENT_DEPOSITS CD ON  
		CDLI.DEPOSIT_ID = CD.DEPOSIT_ID  
		WHERE  
		CDLI.DEPOSIT_ID = @DEPOSIT_ID AND CDLI.CD_LINE_ITEM_ID = @CD_LINE_ITEM_ID  
	
	  
		SELECT @@ERROR_NO = @@ERROR  
		IF @@ERROR_NO <> 0  
			GOTO ERRHANDLER    
	END

	IF (ISNULL(@OVER_PAYMENT_AMOUNT,0) <> 0)
	BEGIN 
		--For Over Payment Crediting Uncollected Premium - Agency Bill Admitted
		INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
		(  
		ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,  
		SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,   
		TRANSACTION_AMOUNT,   
		AGENCY_COMM_PERC,  
		AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,  
		POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,   
		IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,   
		SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,   
		TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
		IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME  
		,TRAN_ENTITY,TRAN_DESC
		)  
		SELECT   
		@AST_UNCOLL_PRM_AGENCY, 'D', NULL, CDLI.CD_LINE_ITEM_ID, NULL,  
		CD.DEPOSIT_NUMBER,@COMMITTED_DATE,@COMMITTED_DATE,@COMMITTED_DATE,   
		@OVER_PAYMENT_AMOUNT * -1,   
		NULL,  
		NULL, CASE CDLI.DEPOSIT_TYPE WHEN 'AGN' THEN CDLI.RECEIPT_FROM_ID ELSE NULL END,   
		NULL, NULL, NULL, NULL, NULL, NULL,  
		NULL, NULL, CDLI.RECEIPT_AMOUNT, @ITEM_TRAN_CODE , @ITEM_TRAN_CODE_TYPE , NULL, NULL,  
		NULL, NULL, NULL, NULL,   
		NULL, NULL, NULL, NULL,   
		NULL, NULL, @COMMITTED_BY, @COMMITED_BY_CODE, @COMMITED_BY_NAME  
		,@TRAN_ENTITY,@TRAN_DESC
		FROM   
		ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI  
		INNER JOIN ACT_CURRENT_DEPOSITS CD ON  
		CDLI.DEPOSIT_ID = CD.DEPOSIT_ID  
		WHERE  
		CDLI.DEPOSIT_ID = @DEPOSIT_ID AND CDLI.CD_LINE_ITEM_ID = @CD_LINE_ITEM_ID  
	
		SELECT @@ERROR_NO = @@ERROR  
		IF @@ERROR_NO <> 0  
			GOTO ERRHANDLER   
	END 
END   
   
--Closing and deallocating the cursor   
CLOSE curDEPOSIT_ITEMS  
DEALLOCATE curDEPOSIT_ITEMS  

SELECT @@ERROR_NO = @@ERROR  
IF @@ERROR_NO <> 0  
	GOTO ERRHANDLER  

-- Commented By ravindra (12-06-2006) Bank Account will be debited at deposit level
--  --Posting total deposit into ACT_ACCOUNTS_POSTING_DETAILS 
-- --------Evaluating sum of RECEIPT AMOUNT against DEPOSIT ID
-- DECLARE @RECSUM INT
-- SELECT   
--  @RECSUM =  SUM(CDLI.RECEIPT_AMOUNT)
-- FROM   
--   ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI  
--  INNER JOIN ACT_CURRENT_DEPOSITS CD ON  
--   CDLI.DEPOSIT_ID = CD.DEPOSIT_ID  
--   AND CDLI.DEPOSIT_TYPE = @DEPOSIT_TYPE_AGENCY
--  WHERE  
--   CDLI.DEPOSIT_ID = @DEPOSIT_ID  
-- ------------------------ 
--  INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
--  (  
--   ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,  
--   SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_COMM_PERC,  
--   AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,  
--   POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,   
--   IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,   
--   SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,   
--   TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
--   IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME ,SOURCE_GROUP_ID 
--  )  
--  SELECT   
--   CD.ACCOUNT_ID, 'D', NULL, NULL, NULL,  
--   CD.DEPOSIT_NUMBER, CD.DEPOSIT_TRAN_DATE, NULL, Getdate(), @RECSUM, NULL,  
--   NULL, CASE CD.DEPOSIT_TYPE WHEN 'AGN' THEN CDLI.RECEIPT_FROM_ID ELSE NULL END,   
--   NULL, NULL, NULL, NULL, NULL, NULL,  
--   NULL, NULL, @RECSUM, NULL, NULL, NULL, NULL,  
--   NULL, NULL, NULL, NULL,   
--   NULL, NULL, NULL, NULL,   
--   NULL, NULL, @COMMITTED_BY, @COMMITED_BY_CODE, @COMMITED_BY_NAME , @DEPOSIT_ID
--  FROM   
--   ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI  
--  INNER JOIN ACT_CURRENT_DEPOSITS CD ON  
--   CDLI.DEPOSIT_ID = CD.DEPOSIT_ID  
--   AND CDLI.DEPOSIT_TYPE = @DEPOSIT_TYPE_AGENCY
--  WHERE  
--   CDLI.DEPOSIT_ID = @DEPOSIT_ID  
--   
--  SELECT @@ERROR_NO = @@ERROR  
--  IF @@ERROR_NO <> 0  
--   GOTO ERRHANDLER  
  
 --Completed sucessfully  
 RETURN 1  
  
 ERRHANDLER:  
 RETURN 0  
   
END  

GO

