IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_REPROCESS_BANK_RECONCILIATION_ITEMS_DETAILS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_REPROCESS_BANK_RECONCILIATION_ITEMS_DETAILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------  
Proc Name       : dbo.Proc_REPROCESS_BANK_RECONCILIATION_ITEMS_DETAILS  
Created by      : Praveen kasana  
Rule			: ReProcess Bank Reconciliation Items (Deposit and Checks)  
Date            : 4 August 2008  
Purpose     : ReProcess Bank Reconciliation Items  
     
  
--drop proc dbo.Proc_REPROCESS_BANK_RECONCILIATION_ITEMS_DETAILS  
------------------------------------------------------------  
Date     Review By          Comments  
------   ------------       -------------------------*/  
  
CREATE PROC [dbo].[Proc_REPROCESS_BANK_RECONCILIATION_ITEMS_DETAILS]  
(  
 @AC_RECONCILIATION_ID INT,  
 @ACCOUNT_ID INT  
)  
  
AS  
  
DECLARE @EFT Int,  
 @ALREADY_PROCESSED Int,
 @CREDIT_CARD Int
 
  
SET  @EFT = 11976  
SET @ALREADY_PROCESSED = 11977  
 SET @CREDIT_CARD = 11974  
  
  
  
   INSERT INTO ACT_BANK_RECONCILIATION_ITEMS_DETAILS  
     
   SELECT  PD.IDENTITY_ROW_ID,@AC_RECONCILIATION_ID   
   FROM ACT_ACCOUNTS_POSTING_DETAILS PD WITH(NOLOCK)  
   LEFT JOIN ACT_CURRENT_DEPOSITS DEP WITH(NOLOCK)  
   ON PD.SOURCE_ROW_ID   =  DEP.DEPOSIT_ID   
   AND PD.UPDATED_FROM = 'D'  
     
     
   WHERE PD.ACCOUNT_ID = @ACCOUNT_ID    
   AND   
    CAST( CONVERT(VARCHAR , PD.SOURCE_TRAN_DATE , 101 ) AS Datetime )   
     <=(  
       SELECT STATEMENT_DATE FROM ACT_BANK_RECONCILIATION WITH(NOLOCK)  
       WHERE AC_RECONCILIATION_ID=@AC_RECONCILIATION_ID  
     )   
   AND ISNULL(IS_BANK_RECONCILED,'N')='N'  
   AND ISNULL(DEP.RECEIPT_MODE,0) IN(@EFT,@ALREADY_PROCESSED,@CREDIT_CARD)  
   AND PD.IDENTITY_ROW_ID NOT IN (  
      SELECT IDENTITY_ROW_ID FROM   
      ACT_BANK_RECONCILIATION_ITEMS_DETAILS WITH(NOLOCK)  
      WHERE AC_RECONCILIATION_ID = @AC_RECONCILIATION_ID  
          )  
  
   UNION   
  
   SELECT PD.IDENTITY_ROW_ID,@AC_RECONCILIATION_ID   
   FROM ACT_ACCOUNTS_POSTING_DETAILS PD WITH(NOLOCK)  
     
   LEFT JOIN ACT_CHECK_INFORMATION CHK WITH(NOLOCK)  
   ON PD.SOURCE_ROW_ID   =  CHK.CHECK_ID  
   AND PD.UPDATED_FROM = 'C'  
     
   WHERE PD.ACCOUNT_ID = @ACCOUNT_ID    
   AND   
    CAST( CONVERT(VARCHAR , PD.SOURCE_TRAN_DATE , 101 ) AS Datetime )   
     <=(  
       SELECT STATEMENT_DATE FROM ACT_BANK_RECONCILIATION WITH(NOLOCK)  
       WHERE AC_RECONCILIATION_ID=@AC_RECONCILIATION_ID  
     )   
   AND ISNULL(IS_BANK_RECONCILED,'N')='N'  
   AND ISNULL(CHK.PAYMENT_MODE,0) IN(@EFT,@ALREADY_PROCESSED,@CREDIT_CARD)   
   AND PD.IDENTITY_ROW_ID NOT IN (  
      SELECT IDENTITY_ROW_ID FROM   
      ACT_BANK_RECONCILIATION_ITEMS_DETAILS WITH(NOLOCK)  
      WHERE AC_RECONCILIATION_ID = @AC_RECONCILIATION_ID  
          )  
  
GO

