IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetPoliciesToCancel]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetPoliciesToCancel]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------                
Proc Name       :  dbo.Proc_GetPoliciesToCancel
Created by      :  Ravindra
Date            :  4-11-2007
Purpose         :  
Revison History :                
Used In         :  Wolverine                
                
exec dbo.Proc_GetPoliciesToCancel

Reviewed By	:	Anurag verma
Reviewed On	:	16-07-2007
------------------------------------------------------------                
Date     Review By          Comments                
------   ------------       -------------------------*/                
-- drop proc dbo.Proc_GetPoliciesToCancel 
CREATE PROC dbo.Proc_GetPoliciesToCancel
AS
BEGIN 
DECLARE @CANCELLATION_PROCESS_ID  Int,
	@NON_PAY		  Int,
	@INSURED_REQUEST	 Int,
	@EOD_DATE DateTime

SET @EOD_DATE = GETDATE() --DATEADD(DD,1,GETDATE())
SET @CANCELLATION_PROCESS_ID   	= 2
SET @NON_PAY 			= 11969
SET @INSURED_REQUEST	= 	11989

CREATE TABLE #POLICIES_TO_CANCEL
(	IDEN_COL		Int Identity(1,1) not null,
	CUSTOMER_ID 		Int,
	POLICY_ID		Int,
	POLICY_VERSION_ID	Int,
	CURRENT_TERM		Int,
	BILL_TYPE		Char(2),
	CANCELLATION_TYPE	Int,
	PROCESS_ROW_ID		Int,
	EFFECTIVE_DATE		Datetime,
	DUE_DATE 		DateTime,
	CANCELLATION_NOTICE_SENT Char(1),
	LAUNCH_DATE		Datetime,
	GRACE_HOLD_DAYS		Int	,-- Grace Period to hold cancellation if money with agency 
	LOB_ID				Int
)

CREATE TABLE #TMP_POLICIES_TO_CANCEL
(	IDEN_COL		Int Identity(1,1) not null,
	CUSTOMER_ID 		Int,
	POLICY_ID		Int,
	POLICY_VERSION_ID	Int,
	CURRENT_TERM		Int,
	BILL_TYPE		Char(2),
	CANCELLATION_TYPE	Int,
	PROCESS_ROW_ID		Int,
	EFFECTIVE_DATE		Datetime,
	DUE_DATE 		DateTime,
	LAUNCH_DATE		Datetime,
	CANCELLATION_NOTICE_SENT Char(1),
	GRACE_HOLD_DAYS		INt	,-- Grace Period to hold cancellation if money with agency 
	LOB_ID				Int
)


INSERT INTO #TMP_POLICIES_TO_CANCEL ( CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ,CANCELLATION_TYPE ,
			BILL_TYPE , EFFECTIVE_DATE , DUE_DATE , GRACE_HOLD_DAYS , CURRENT_TERM ,PROCESS_ROW_ID,
			CANCELLATION_NOTICE_SENT  , LAUNCH_DATE , LOB_ID  )
SELECT PPP.CUSTOMER_ID , PPP.POLICY_ID , PPP.POLICY_VERSION_ID  , PPP.CANCELLATION_TYPE ,
	CPL.BILL_TYPE , PPP.EFFECTIVE_DATETIME, PPP.DUE_DATE , INS.POST_CANCEL , CPL.CURRENT_TERM ,PPP.ROW_ID,
	ISNULL(PPP.CANCELLATION_NOTICE_SENT,'N') , PPP.CREATED_DATETIME , CPL.POLICY_LOB
FROM POL_POLICY_PROCESS PPP WITH(NOLOCK)
INNER JOIN POL_CUSTOMER_POLICY_LIST CPL WITH(NOLOCK)
	ON PPP.CUSTOMER_ID = CPL.CUSTOMER_ID 
	AND PPP.POLICY_ID = CPL.POLICY_ID 
	AND PPP.NEW_POLICY_VERSION_ID = CPL.POLICY_VERSION_ID 
LEFT JOIN ACT_INSTALL_PLAN_DETAIL INS WITH(NOLOCK)
ON INS.IDEN_PLAN_ID = CPL.INSTALL_PLAN_ID 
WHERE PPP.PROCESS_ID  = @CANCELLATION_PROCESS_ID  
AND   PPP.PROCESS_STATUS = 'PENDING'
AND   PPP.CANCELLATION_TYPE = @NON_PAY 
AND   CPL.BILL_TYPE = 'DB'
AND   CAST(CONVERT(VARCHAR,PPP.DUE_DATE , 101)  AS DATETIME ) <=
	CAST(CONVERT(VARCHAR, @EOD_DATE , 101)  AS DATETIME )
ORDER BY PPP.CUSTOMER_ID , PPP.POLICY_ID , PPP.POLICY_VERSION_ID


--SELECT * FROM #TMP_POLICIES_TO_CANCEL 

DECLARE @IDEN_COL Int ,
	@CUSTOMER_ID	Int,
	@POLICY_ID	Int,
	@POLICY_VERSION_ID Int,
	@LAUNCH_DATE	Datetime, 
	@GRACE_HOLD_DAYS Int,
	@CANCLE_THIS 	Bit,
	@CURRENT_TERM	Int,
	@AGENCY_HAS_PAYMENT  Int ,
	@PROCESS_ROW_ID  Int,
	@DUE_DATE	Datetime,
	@NEW_DUE_DATE	Datetime,
	@EOD_ACTIVITY_ID  int, --200 
	@EOD_SUB_ACTIVITY int --202

SET 	@IDEN_COL = 1
SET 	@CUSTOMER_ID	= 0
SET 	@POLICY_ID	= 0 
SET		@POLICY_VERSION_ID  = 0 
SET 	@GRACE_HOLD_DAYS  = 0 
SET 	@CANCLE_THIS    = 1 
SET 	@CURRENT_TERM 	= 0 
SET		@AGENCY_HAS_PAYMENT  = 0 
SET 	@PROCESS_ROW_ID  = 0 
SET		@EOD_ACTIVITY_ID = 200
SET		@EOD_SUB_ACTIVITY = 202


WHILE 1=1 
BEGIN 
	IF NOT EXISTS (SELECT IDEN_COL FROM #TMP_POLICIES_TO_CANCEL WHERE IDEN_COL = @IDEN_COL )
	BEGIN 
		BREAK
	END

	SET 	@CANCLE_THIS		 = 1 
	SET		@AGENCY_HAS_PAYMENT  = 0 

	
	SELECT  @CUSTOMER_ID  = CUSTOMER_ID ,
		@POLICY_ID = POLICY_ID ,
		@POLICY_VERSION_ID	= POLICY_VERSION_ID ,
		@CURRENT_TERM	= CURRENT_TERM,
		@GRACE_HOLD_DAYS 	= ISNULL(GRACE_HOLD_DAYS,0) ,
		@PROCESS_ROW_ID    = PROCESS_ROW_ID	,
		@DUE_DATE 	= DUE_DATE,
		@LAUNCH_DATE	= LAUNCH_DATE
	FROM  #TMP_POLICIES_TO_CANCEL 
	WHERE IDEN_COL = @IDEN_COL

	-- Check if Agency Has money for this policy
	EXEC @AGENCY_HAS_PAYMENT = Proc_CheckForPaymentWithAgency @CUSTOMER_ID,@POLICY_ID,@CURRENT_TERM,
	'CANCEL_COMMIT' ,@EOD_DATE
	--if yes then Adjust Due Date(commit Date) of Cancellation 
	--do not commit cancellation on this policy
	IF(@AGENCY_HAS_PAYMENT  = 1)
	BEGIN 
		DECLARE @PAYMENT_DATE Datetime
		SELECT @PAYMENT_DATE  = DATE_COMMITTED
		FROM ACT_CUSTOMER_PAYMENTS_FROM_AGENCY  WITH(NOLOCK)
		WHERE CUSTOMER_ID = @CUSTOMER_ID 
		AND POLICY_ID = @POLICY_ID 
		AND POLICY_VERSION_ID = @POLICY_VERSION_ID 
		
		SET @NEW_DUE_DATE = DATEADD(DD,@GRACE_HOLD_DAYS,@PAYMENT_DATE)

		IF(@DUE_DATE < @NEW_DUE_DATE)
		BEGIN 
			UPDATE POL_POLICY_PROCESS SET DUE_DATE = @NEW_DUE_DATE 
			WHERE CUSTOMER_ID = @CUSTOMER_ID 
			AND POLICY_ID = @POLICY_ID 
			AND POLICY_VERSION_ID = @POLICY_VERSION_ID --POLICY_VERSION_ID
			AND ROW_ID = @PROCESS_ROW_ID 
		END
		SET @CANCLE_THIS = 0
		
	END

	--- Remove thise policies on which Cancellation Rollback has been Failed itrack 2711 added by pravesh on 18 jan 08
	IF EXISTS(
		SELECT IDEN_ROW_ID FROM EOD_PROCESS_LOG with(nolock) 
		WHERE CLIENT_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID 
		AND POLICY_VERSOIN_ID=@POLICY_VERSION_ID AND STATUS ='FAILED' 
		AND ACTIVITY = @EOD_ACTIVITY_ID AND SUB_ACTIVITY = @EOD_SUB_ACTIVITY
		AND @LAUNCH_DATE  < START_DATETIME
	)
	BEGIN
		SET @CANCLE_THIS = 0
	END

	IF ( @CANCLE_THIS  = 1)
	BEGIN 
		INSERT INTO #POLICIES_TO_CANCEL(CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ,CANCELLATION_TYPE ,
			BILL_TYPE , EFFECTIVE_DATE , DUE_DATE , GRACE_HOLD_DAYS , CURRENT_TERM , PROCESS_ROW_ID ,
			CANCELLATION_NOTICE_SENT , LOB_ID )
		SELECT CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ,CANCELLATION_TYPE ,
			BILL_TYPE , EFFECTIVE_DATE , DUE_DATE , GRACE_HOLD_DAYS , CURRENT_TERM  ,PROCESS_ROW_ID ,
			CANCELLATION_NOTICE_SENT , LOB_ID 
		FROM  #TMP_POLICIES_TO_CANCEL 
		WHERE IDEN_COL = @IDEN_COL
	END 

	SET @IDEN_COL =  @IDEN_COL + 1	
END 

SELECT  CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ,CANCELLATION_TYPE ,
	BILL_TYPE , EFFECTIVE_DATE , DUE_DATE , GRACE_HOLD_DAYS , CURRENT_TERM , PROCESS_ROW_ID  , LOB_ID 
FROM #POLICIES_TO_CANCEL
WHERE CANCELLATION_NOTICE_SENT  = 'Y'
DROP TABLE #TMP_POLICIES_TO_CANCEL
DROP TABLE #POLICIES_TO_CANCEL


END


GO

