IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetGenralLadgerIndropDown]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetGenralLadgerIndropDown]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE Proc Proc_GetGenralLadgerIndropDown
AS
BEGIN
	SELECT CONVERT(VARCHAR,GL_ID) + '-'  + CONVERT(VARCHAR,FISCAL_ID) AS FISCAL,
	LEDGER_NAME +' ('+ CONVERT(VARCHAR,FISCAL_BEGIN_DATE,101) 
	+ ' - '+ CONVERT(VARCHAR,FISCAL_END_DATE,101)+')' AS LEDGER_NAME 
	FROM ACT_GENERAL_LEDGER  
	WHERE LAST_EOY_RUN_DATE_TIME IS NULL
END



GO

