IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_UpdatePostingInterface_Liability]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_UpdatePostingInterface_Liability]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------
Proc Name       : dbo.Proc_UpdatePostingInterface_Liability
Created by      : Ajit Singh Chahal
Date            : 5/26/2005
Purpose    	: To add posting interface - Liability
Revison History :
Used In 	: Wolverine
------------------------------------------------------------
Date     Review By          Comments
------   ------------       -------------------------*/
--drop proc Proc_UpdatePostingInterface_Liability
CREATE  PROC Dbo.Proc_UpdatePostingInterface_Liability
(
@GL_ID     int,
@FISCAL_ID int =null,
@LIB_COMM_PAYB_AGENCY_BILL     int,
@LIB_COMM_PAYB_DIRECT_BILL     int,
@LIB_REINS_PAYB_EXCESS_CONTRACT     int,
@LIB_REINS_PAYB_CAT_CONTRACT     int,
@LIB_REINS_PAYB_MCCA     int,
@LIB_REINS_PAYB_UMBRELLA     int,
@LIB_REINS_PAYB_FACULTATIVE     int,
@LIB_OUT_DRAFTS     int,
@LIB_ADVCE_PRM_DEPOSIT     int,
@LIB_ADVCE_PRM_DEPOSIT_2M     int,
@LIB_UNEARN_PRM     int,
@LIB_UNEARN_PRM_MCCA     int,
@LIB_UNEARN_PRM_CEDED_UNEARN_MCCA_REINS     int,
@LIB_UNEARN_PRM_CEDED_UNEARN_UMBRELLA_REINS     int,
@LIB_UNEARN_PRM_OTH_STATE_ASSES_FEE     int,
--@LIB_TAX_PAYB     int,
@LIB_VENDOR_PAYB     int,
@LIB_COLL_ON_NONISSUED_POLICY     int,
@MODIFIED_BY     int,
@LAST_UPDATED_DATETIME     datetime
)
AS
BEGIN
update ACT_GENERAL_LEDGER
set
	LIB_COMM_PAYB_AGENCY_BILL= @LIB_COMM_PAYB_AGENCY_BILL,
	LIB_COMM_PAYB_DIRECT_BILL= @LIB_COMM_PAYB_DIRECT_BILL,
	LIB_REINS_PAYB_EXCESS_CONTRACT= @LIB_REINS_PAYB_EXCESS_CONTRACT,
	LIB_REINS_PAYB_CAT_CONTRACT= @LIB_REINS_PAYB_CAT_CONTRACT,
	LIB_REINS_PAYB_MCCA= @LIB_REINS_PAYB_MCCA,
	LIB_REINS_PAYB_UMBRELLA= @LIB_REINS_PAYB_UMBRELLA,
	LIB_REINS_PAYB_FACULTATIVE= @LIB_REINS_PAYB_FACULTATIVE,
	LIB_OUT_DRAFTS= @LIB_OUT_DRAFTS,
	LIB_ADVCE_PRM_DEPOSIT= @LIB_ADVCE_PRM_DEPOSIT,
	LIB_ADVCE_PRM_DEPOSIT_2M= @LIB_ADVCE_PRM_DEPOSIT_2M,
	LIB_UNEARN_PRM= @LIB_UNEARN_PRM,
	LIB_UNEARN_PRM_MCCA= @LIB_UNEARN_PRM_MCCA,
	LIB_UNEARN_PRM_CEDED_UNEARN_MCCA_REINS= @LIB_UNEARN_PRM_CEDED_UNEARN_MCCA_REINS,
	LIB_UNEARN_PRM_CEDED_UNEARN_UMBRELLA_REINS= @LIB_UNEARN_PRM_CEDED_UNEARN_UMBRELLA_REINS,
	LIB_UNEARN_PRM_OTH_STATE_ASSES_FEE= @LIB_UNEARN_PRM_OTH_STATE_ASSES_FEE,
	--LIB_TAX_PAYB=@LIB_TAX_PAYB ,
	LIB_VENDOR_PAYB= @LIB_VENDOR_PAYB,
	LIB_COLL_ON_NONISSUED_POLICY = @LIB_COLL_ON_NONISSUED_POLICY,
	MODIFIED_BY = @MODIFIED_BY,
	LAST_UPDATED_DATETIME = @LAST_UPDATED_DATETIME
where GL_ID = @GL_ID
and
FISCAL_ID = @FISCAL_ID
end 








GO

