IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_Save_POL_UNDERWRITING_TIER]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_Save_POL_UNDERWRITING_TIER]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author	  :	Charles Gomes
-- Create date: 23-Dec-09
-- Description:	 INSERTING/UPDATING DATA TO POL_UNDERWRITING_TIER    
-- =============================================
--drop proc [Proc_Save_POL_UNDERWRITING_TIER]
CREATE PROCEDURE [DBO].[Proc_Save_POL_UNDERWRITING_TIER]
@CUSTOMER_ID INT,   
@POLICY_ID INT,         
@POLICY_VERSION_ID SMALLINT,
@UNDERWRITING_TIER NVARCHAR(3) = NULL,
@UNTIER_ASSIGNED_DATE DATETIME = NULL,
@CAP_INC CHAR(1) = NULL,
@CAP_DEC CHAR(1) = NULL,
@CAP_RATE_CHANGE_REL DECIMAL(9,4) = NULL,
@CAP_MIN_MAX_ADJUST DECIMAL(9,4) = NULL,
@ACL_PREMIUM DECIMAL(25,2) = NULL
AS
BEGIN
	IF NOT EXISTS(SELECT CUSTOMER_ID FROM POL_UNDERWRITING_TIER WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID)
	BEGIN
		INSERT INTO POL_UNDERWRITING_TIER
		(
			CUSTOMER_ID,   
			POLICY_ID,         
			POLICY_VERSION_ID,
			UNDERWRITING_TIER,
			UNTIER_ASSIGNED_DATE,
			CAP_INC,
			CAP_DEC,
			CAP_RATE_CHANGE_REL,
			CAP_MIN_MAX_ADJUST,
			ACL_PREMIUM
		)
		VALUES
		(
			@CUSTOMER_ID,   
			@POLICY_ID,         
			@POLICY_VERSION_ID,
			@UNDERWRITING_TIER,
			@UNTIER_ASSIGNED_DATE,
			@CAP_INC,
			@CAP_DEC,
			@CAP_RATE_CHANGE_REL,
			@CAP_MIN_MAX_ADJUST,
			@ACL_PREMIUM
		)
	END
	ELSE --UPDATE
	BEGIN
		UPDATE POL_UNDERWRITING_TIER 
		SET		
			UNDERWRITING_TIER=@UNDERWRITING_TIER,
			UNTIER_ASSIGNED_DATE=@UNTIER_ASSIGNED_DATE,
			CAP_INC=@CAP_INC,
			CAP_DEC=@CAP_DEC,
			CAP_RATE_CHANGE_REL=@CAP_RATE_CHANGE_REL,
			CAP_MIN_MAX_ADJUST=@CAP_MIN_MAX_ADJUST,
			ACL_PREMIUM=@ACL_PREMIUM
		WHERE            
		CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID      
	END     
END

GO

