IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetPAY_PAL_REF_ID]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetPAY_PAL_REF_ID]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROC dbo.Proc_GetPAY_PAL_REF_ID
(
	@CUSTOMER_ID INT,
	@POL_ID INT,
	@POL_VERSION_ID INT
)
AS
BEGIN
	SELECT 
	ISNULL(PAY_PAL_REF_ID,'') AS PAY_PAL_REF_ID 
	FROM ACT_POL_CREDIT_CARD_DETAILS WITH(NOLOCK)
	WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID =@POL_ID AND POLICY_VERSION_ID=@POL_VERSION_ID
END
GO

