IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_UpdateACT_BUDGET_PLAN]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_UpdateACT_BUDGET_PLAN]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------
Proc Name       : dbo.ACT_BUDGET_PLAN
Created by      : Manoj Rathore
Date            : 6/28/2005
Purpose    	:To update records of Budget Plan entity.
Revison History :
Used In 	: Wolverine
------------------------------------------------------------
Date     Review By          Comments
------   ------------       -------------------------*/
-- drop proc dbo.Proc_UpdateACT_BUDGET_PLAN
CREATE PROC dbo.Proc_UpdateACT_BUDGET_PLAN
(
	@IDEN_ROW_ID     int,
	@BUDGET_CATEGORY_ID int,
	@GL_ID     int,
	@FISCAL_ID INT=NULL,	
	@JAN_BUDGET decimal(18,2),
	@FEB_BUDGET decimal(18,2),
	@MARCH_BUDGET decimal(18,2),
	@APRIL_BUDGET decimal(18,2),
	@MAY_BUDGET decimal(18,2),
	@JUNE_BUDGET decimal(18,2),
	@JULY_BUDGET decimal(18,2),
	@AUG_BUDGET decimal(18,2),
	@SEPT_BUDGET decimal(18,2),
	@OCT_BUDGET decimal(18,2),
	@NOV_BUDGET decimal(18,2),
	@DEC_BUDGET decimal(18,2),
	@ACCOUNT_ID int = null

)
AS
BEGIN

DECLARE @OLD_BUDGET_CATEGORY_ID Int,
	@OLD_GL_ID Int,
	@OLD_FISCAL_ID Int

--SELECT 	@OLD_BUDGET_CATEGORY_ID  = BUDGET_CATEGORY_ID ,
SELECT 	@OLD_BUDGET_CATEGORY_ID  = ACCOUNT_ID ,
	@OLD_GL_ID  = GL_ID ,
	@OLD_FISCAL_ID  = FISCAL_ID 
FROM 	ACT_BUDGET_PLAN
WHERE IDEN_ROW_ID = @IDEN_ROW_ID 

--IF ( @OLD_BUDGET_CATEGORY_ID  <> @BUDGET_CATEGORY_ID  
IF ( @OLD_BUDGET_CATEGORY_ID  <> @ACCOUNT_ID  
	OR @OLD_GL_ID  <>  @GL_ID
	OR @OLD_FISCAL_ID <>  @FISCAL_ID )
BEGIN 
	IF EXISTS(SELECT ACCOUNT_ID FROM ACT_BUDGET_PLAN 
		WHERE ACCOUNT_ID=@ACCOUNT_ID and GL_ID=@GL_ID 
		and FISCAL_ID=@FISCAL_ID)
	RETURN -2
ENd

update ACT_BUDGET_PLAN
	SET
        BUDGET_CATEGORY_ID = @BUDGET_CATEGORY_ID ,
	GL_ID =   @GL_ID ,
        FISCAL_ID=@FISCAL_ID,        
	JAN_BUDGET = @JAN_BUDGET ,
	FEB_BUDGET = @FEB_BUDGET ,
	MARCH_BUDGET = @MARCH_BUDGET ,
	APRIL_BUDGET = @APRIL_BUDGET ,
	MAY_BUDGET = @MAY_BUDGET ,
	JUNE_BUDGET = @JUNE_BUDGET ,
	JULY_BUDGET =@JULY_BUDGET ,
	AUG_BUDGET =@AUG_BUDGET ,
	SEPT_BUDGET =@SEPT_BUDGET ,
	OCT_BUDGET =@OCT_BUDGET ,
	NOV_BUDGET =@NOV_BUDGET ,
	DEC_BUDGET =@DEC_BUDGET ,
	ACCOUNT_ID = @ACCOUNT_ID
	WHERE IDEN_ROW_ID = @IDEN_ROW_ID
END

















GO

