IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_UPDATECOMMODITYINFO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_UPDATECOMMODITYINFO]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

  /*----------------------------------------------------------              
PROC NAME       : DBO.POL_COMMODITY_INFO              
CREATED BY      : PRADEEP KUSHWAHA     
DATE            : 15/04/2010              
PURPOSE       :TO UPDATE RECORDS IN POL_COMMODITY_INFO TABLE.              
REVISON HISTORY :              
USED IN        : EBIX ADVANTAGE              
------------------------------------------------------------              
DATE     REVIEW BY          COMMENTS              
------   ------------       -------------------------*/              
--DROP PROC DBO.PROC_UPDATECOMMODITYINFO       
    
CREATE PROC [dbo].[PROC_UPDATECOMMODITYINFO]  
(    
@CUSTOMER_ID INT,  
@POLICY_ID INT,  
@POLICY_VERSION_ID SMALLINT,  
@COMMODITY_ID INT,  
@COMMODITY_NUMBER NUMERIC,  
@COMMODITY NVARCHAR(500),  
@CONVEYANCE_TYPE INT,  
@DEPARTING_DATE DATETIME,  
@ORIGIN_COUNTRY SMALLINT =NULL,  
@ORIGIN_STATE SMALLINT=NULL,  
@ORIGIN_CITY NVARCHAR(100),  
@DESTINATION_COUNTRY SMALLINT=NULL ,  
@DESTINATION_STATE SMALLINT =NULL,  
@DESTINATION_CITY NVARCHAR(100),  
@REMARKS NVARCHAR(4000)=NULL,  
@MODIFIED_BY INT,  
@LAST_UPDATED_DATETIME DATETIME,
@CO_APPLICANT_ID INT,  
--I-TRACK-856
@ORIGN_COUNTRY NVARCHAR(150),
@DEST_COUNTRY NVARCHAR(150),
@ORIGN_STATE NVARCHAR(150),
@DEST_STATE NVARCHAR(150),
--,@ORIGINAL_VERSION_ID INT=NULL
@EXCEEDED_PREMIUM INT=NULL
)    
AS     
  
BEGIN    

	DECLARE @COMMODITYNUMBER NUMERIC
	DECLARE @FLAG BIT
	SET @FLAG=0
	 
	SELECT @COMMODITYNUMBER=COMMODITY_NUMBER  FROM POL_COMMODITY_INFO WITH(NOLOCK)  WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID =@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID AND COMMODITY_ID=@COMMODITY_ID
	
	IF(@COMMODITYNUMBER=@COMMODITY_NUMBER)
		BEGIN
			SELECT @COMMODITYNUMBER=@COMMODITY_NUMBER
			SET @FLAG=1
		END
	ELSE
	 BEGIN      
		IF NOT EXISTS (SELECT COMMODITY_NUMBER  FROM POL_COMMODITY_INFO WITH(NOLOCK)  WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID =@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID AND COMMODITY_NUMBER=@COMMODITY_NUMBER )
		   BEGIN
			  SELECT @COMMODITYNUMBER=@COMMODITY_NUMBER
			   SET @FLAG=1
           END
	 END 
	 IF(@FLAG=1)
	 BEGIN
		UPDATE POL_COMMODITY_INFO                                              
		  SET     
		     
		 COMMODITY_ID=@COMMODITY_ID ,  
		 COMMODITY_NUMBER=@COMMODITYNUMBER,  
		 COMMODITY=@COMMODITY,  
		 CONVEYANCE_TYPE=@CONVEYANCE_TYPE,  
		 DEPARTING_DATE=@DEPARTING_DATE,  
		 ORIGIN_COUNTRY=@ORIGIN_COUNTRY,  
		 ORIGIN_STATE=@ORIGIN_STATE,  
		 ORIGIN_CITY=@ORIGIN_CITY ,  
		 DESTINATION_COUNTRY=@DESTINATION_COUNTRY,  
		 DESTINATION_STATE=@DESTINATION_STATE ,  
		 DESTINATION_CITY=@DESTINATION_CITY ,  
		 REMARKS=@REMARKS,  
		 MODIFIED_BY=@MODIFIED_BY,  
		 LAST_UPDATED_DATETIME=@LAST_UPDATED_DATETIME,
		 CO_APPLICANT_ID=@CO_APPLICANT_ID,  
		 ORIGN_COUNTRY= @ORIGN_COUNTRY,
		 DEST_COUNTRY=	@DEST_COUNTRY,
		 ORIGN_STATE=@ORIGN_STATE ,
		 DEST_STATE=@DEST_STATE,
		 EXCEEDED_PREMIUM = @EXCEEDED_PREMIUM
		-- , ORIGINAL_VERSION_ID=@ORIGINAL_VERSION_ID
		 WHERE   
		 CUSTOMER_ID=@CUSTOMER_ID AND  
		 POLICY_ID =@POLICY_ID AND  
		 POLICY_VERSION_ID= @POLICY_VERSION_ID AND  
		 COMMODITY_ID=@COMMODITY_ID     
	 END
	 ELSE
		RETURN -2
END 
      
 
 
GO

