IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_RefundDataTempInsert]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_RefundDataTempInsert]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_RefundDataTempInsert]  
(@RefundDataCollection AS RefundDataParamters READONLY)  
AS  
BEGIN  
	SET NOCOUNT ON;  
	DECLARE 
		@ROW_ID INT =0,    
		@TABLE_NAME VARCHAR(MAX) = '',    
		@IS_COMMISSION_PROCESS VARCHAR(2) = 'Y',  
		@CLAIM_ID INT =0,    
		@ACTIVITY_ID INT =0,  
		@COV_ID INT = 0,  
		@FLAG_RI_CLAIM INT = 0,    
		@COMP_ID INT =0
		
    
	BEGIN TRAN T1
	--This row performs bulk copy of object DataTable to Table in SQL  
	INSERT INTO RefundDataTemp SELECT * FROM @RefundDataCollection  

	/*Create cursor to update effected table fields*/
	DECLARE REFUNDDATA_CURSOR CURSOR FOR 
		SELECT ROW_ID, TABLE_NAME, IS_COMMISSION_PROCESS, CLAIM_ID, ACTIVITY_ID, COV_ID, FLAG_RI_CLAIM, COMP_ID
			FROM @RefundDataCollection
	
	OPEN REFUNDDATA_CURSOR;
	FETCH NEXT FROM REFUNDDATA_CURSOR 
		INTO @ROW_ID, @TABLE_NAME, @IS_COMMISSION_PROCESS, @CLAIM_ID, @ACTIVITY_ID, @COV_ID, @FLAG_RI_CLAIM, @COMP_ID;

	WHILE @@FETCH_STATUS = 0
	BEGIN

		/*UPDATE STATEMENTS*/
		IF @TABLE_NAME = 'ACT_CUSTOMER_OPEN_ITEMS'     
		BEGIN    
			UPDATE ACT_CUSTOMER_OPEN_ITEMS    
			SET IS_COMMISSION_PROCESS = @IS_COMMISSION_PROCESS    
			WHERE IDEN_ROW_ID = @ROW_ID    
		END   
		  
		ELSE IF @TABLE_NAME = 'ACT_POLICY_INSTALLMENT_DETAILS'     
		BEGIN    
			UPDATE ACT_POLICY_INSTALLMENT_DETAILS    
			SET IS_COMMISSION_PROCESS = @IS_COMMISSION_PROCESS    
			WHERE ROW_ID = @ROW_ID    
		END   
		   
		    
		ELSE IF @TABLE_NAME = 'ACT_AGENCY_STATEMENT_DETAILED'     
		BEGIN    
			UPDATE ACT_AGENCY_STATEMENT_DETAILED    
			SET IS_COMMISSION_PROCESS = @IS_COMMISSION_PROCESS    
			WHERE ROW_ID = @ROW_ID    
		END    
		    
		ELSE IF @TABLE_NAME = 'ACT_COI_STATEMENT_DETAILED'     
		BEGIN    
			UPDATE ACT_COI_STATEMENT_DETAILED    
			SET IS_COMMISSION_PROCESS = @IS_COMMISSION_PROCESS    
			WHERE ROW_ID = @ROW_ID    
		END   
		 
		ELSE IF @TABLE_NAME = 'CLM_ACTIVITY_RESERVE'     
		BEGIN   
			IF  @COV_ID > 0 --CLM_EXPENSE  
			BEGIN  
				UPDATE CLM_ACTIVITY_RESERVE    
				SET IS_COMMISSION_PROCESS = @IS_COMMISSION_PROCESS    
				WHERE CLAIM_ID = @CLAIM_ID    
				AND ACTIVITY_ID = @ACTIVITY_ID  
				AND COVERAGE_ID = @COV_ID   
			END   
			ELSE -- CLM_INDEMNITY  
			BEGIN  
				UPDATE CLM_ACTIVITY_RESERVE    
				SET IS_COMMISSION_PROCESS = @IS_COMMISSION_PROCESS    
				WHERE CLAIM_ID = @CLAIM_ID    
				AND ACTIVITY_ID = @ACTIVITY_ID   
			END  
		END   
		
		ELSE  IF @TABLE_NAME = 'CLM_ACTIVITY_CO_RI_BREAKDOWN'  --RI_CLAIM  
		BEGIN    
			UPDATE CACRB  
			SET CACRB.IS_COMMISSION_PROCESS = @IS_COMMISSION_PROCESS  
			FROM CLM_ACTIVITY_CO_RI_BREAKDOWN CACRB  WITH(NOLOCK)  
			INNER JOIN CLM_ACTIVITY_RESERVE  CAR WITH(NOLOCK)  
			ON CAR.CLAIM_ID= CACRB.CLAIM_ID   
			AND CAR.ACTIVITY_ID = CACRB.ACTIVITY_ID   
			AND CAR.RESERVE_ID = CACRB.RESERVE_ID  
			WHERE CACRB.COMP_ID = @COMP_ID  
			AND CAR.CLAIM_ID= @CLAIM_ID  
			AND CAR.ACTIVITY_ID =  @ACTIVITY_ID  
		END
		       
		ELSE IF @TABLE_NAME = 'POL_REINSURANCE_BREAKDOWN_DETAILS'     
		BEGIN  
		  
			UPDATE POL_REINSURANCE_BREAKDOWN_DETAILS    
			SET IS_COMMISSION_PROCESS = @IS_COMMISSION_PROCESS    
			WHERE IDEN_ROW_ID = @ROW_ID    
		END    
		
		ELSE    
		BEGIN    
			PRINT ''    
		END  
		/*UPDATE STATEMENTS END*/
		FETCH NEXT FROM REFUNDDATA_CURSOR 
		INTO @ROW_ID, @TABLE_NAME, @IS_COMMISSION_PROCESS, @CLAIM_ID, @ACTIVITY_ID, @COV_ID, @FLAG_RI_CLAIM, @COMP_ID;
	END
	CLOSE REFUNDDATA_CURSOR;
	DEALLOCATE REFUNDDATA_CURSOR;	
	/*Create cursor to update effected table fields END*/
	IF @@ERROR <>0
	BEGIN
		ROLLBACK TRAN T1
	END
	ELSE
	BEGIN
		COMMIT TRANSACTION T1 
	END
END  
  

GO

