IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetDriverAssignedAs]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetDriverAssignedAs]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--drop proc [Proc_GetDriverAssignedAs] 25,1  
CREATE PROC [dbo].[Proc_GetDriverAssignedAs]    
(    
 @AGE INT ,  
 @LANG_ID int = 1 --Added by Charles on 15-Mar-10 for Multilingual Implementation         
)    
As    
IF(@AGE <= 24)    
BEGIN    
 SELECT    
 ISNULL(MLVL.LOOKUP_UNIQUE_ID,MLV.LOOKUP_UNIQUE_ID) AS LOOKUP_UNIQUE_ID,  
 ISNULL(MLVL.LOOKUP_VALUE_DESC,MLV.LOOKUP_VALUE_DESC) AS LOOKUP_VALUE_DESC, MLV.LOOKUP_VALUE_CODE AS LOOKUP_VALUE_CODE     
 FROM  MNT_LOOKUP_VALUES MLV  
 LEFT OUTER  JOIN MNT_LOOKUP_VALUES_MULTILINGUAL MLVL ON MLV.LOOKUP_UNIQUE_ID = MLVL.LOOKUP_UNIQUE_ID     
 AND MLVL.LANG_ID = @LANG_ID --AND MLVL.IS_ACTIVE='Y'                
 WHERE MLV.LOOKUP_UNIQUE_ID    
 IN (11927,11928,11929,11930,11931) order by MLV.LOOKUP_VALUE_DESC    
END    
ELSE    
BEGIN    
 SELECT    
 MLV.LOOKUP_UNIQUE_ID,MLV.LOOKUP_VALUE_DESC,MLV.LOOKUP_VALUE_CODE      
 FROM  MNT_LOOKUP_VALUES MLV              
 WHERE MLV.LOOKUP_UNIQUE_ID    
 IN (11398,11399,11925,11926,11931) order by MLV.LOOKUP_VALUE_DESC    
END 
GO

