IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_PostEndOfYear]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_PostEndOfYear]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN 
--DROP PROC dbo.Proc_PostEndOfYear
--GO 

CREATE PROC dbo.Proc_PostEndOfYear
(	
	@OLD_FISCAL_ID				Int,
	@USER_ID				Int
)
AS
BEGIN

DECLARE @OLD_FISCAL_START_DATE		Datetime , 
		@OLD_FISCAL_END_DATE		Datetime , 
		@CURRENT_FISCAL_START_DATE	Datetime , 
		@CURRENT_FISCAL_END_DATE	Datetime , 
		@FISCAL_ID					Int ,
		@POSTING_DATE				DateTime, 
		@CURR_DATE					Datetime,
		@INCOME_ACCOUNTS			Int, 
		@EXPENSE_ACCOUNTS			Int, 
		@TOTAL_EXPENSES				Decimal(18,2), 
		@TOTAL_INCOME				Decimal(18,2), 
		@UNASSIGNED_SURPLUS_ACCOUNT Int  ,
		@ACCOUNT_ID					Int , 
		@CURRENT_YTD_BALANCE		Decimal(18,2),
		@CARRY_FWDED_AMOUNT			Decimal(18,2) 

SET @INCOME_ACCOUNTS		 = 4
SET @EXPENSE_ACCOUNTS		 = 5 

SELECT @OLD_FISCAL_START_DATE = FISCAL_BEGIN_DATE , @OLD_FISCAL_END_DATE = FISCAL_END_DATE
FROM ACT_GENERAL_LEDGER WHERE FISCAL_ID = @OLD_FISCAL_ID

SET @POSTING_DATE	= CAST(CONVERT(VARCHAR, @OLD_FISCAL_END_DATE, 101) AS DATETIME) 
SET @CURR_DATE		= GETDATE()

SELECT 	@FISCAL_ID = FISCAL_ID , @CURRENT_FISCAL_START_DATE	= FISCAL_BEGIN_DATE , 
@CURRENT_FISCAL_END_DATE		= FISCAL_END_DATE , 
@UNASSIGNED_SURPLUS_ACCOUNT = EQU_UNASSIGNED_SURPLUS
FROM  ACT_GENERAL_LEDGER		
WHERE FISCAL_BEGIN_DATE <= CAST(CONVERT(VARCHAR,@CURR_DATE,101) AS DATETIME) 
	AND FISCAL_END_DATE >= CAST(CONVERT(VARCHAR,@CURR_DATE,101) AS DATETIME)

--Move balances to CFD column 

UPDATE ACT_GENERAL_LEDGER_TOTALS SET CARRY_FWDED_AMOUNT = CURRENT_YTD_BALANCE 
WHERE FISCAL_START_DATE = @OLD_FISCAL_START_DATE  AND FISCAL_END_DATE = @OLD_FISCAL_END_DATE 

--Calculate Net Profit or loss
SELECT @TOTAL_EXPENSES = SUM(ISNULL(CURRENT_YTD_BALANCE,0)) 
FROM ACT_GENERAL_LEDGER_TOTALS 
WHERE FISCAL_START_DATE = @OLD_FISCAL_START_DATE  
AND FISCAL_END_DATE = @OLD_FISCAL_END_DATE 
AND ACCOUNT_ID IN 
	(
		SELECT ACCOUNT_ID FROM ACT_GL_ACCOUNTS WHERE ACC_TYPE_ID = @EXPENSE_ACCOUNTS
	)

SELECT @TOTAL_INCOME = SUM(ISNULL(CURRENT_YTD_BALANCE,0)) 
FROM ACT_GENERAL_LEDGER_TOTALS 
WHERE FISCAL_START_DATE = @OLD_FISCAL_START_DATE  
AND FISCAL_END_DATE = @OLD_FISCAL_END_DATE 
AND ACCOUNT_ID IN 
	(
		SELECT ACCOUNT_ID FROM ACT_GL_ACCOUNTS WHERE ACC_TYPE_ID = @INCOME_ACCOUNTS
	)

--Post Net Profit/Loos to Unassigned Surplus account
IF( @TOTAL_INCOME <> @TOTAL_EXPENSES) 
BEGIN 
	INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS 
		(
		ACCOUNT_ID , UPDATED_FROM , SOURCE_ROW_ID,SOURCE_NUM,
		SOURCE_TRAN_DATE,SOURCE_EFF_DATE,POSTING_DATE,TRANSACTION_AMOUNT,
		ITEM_TRAN_CODE,ITEM_TRAN_CODE_TYPE,COMMITED_BY,TRAN_ENTITY,TRAN_DESC
		) 
	VALUES 
		( 
		@UNASSIGNED_SURPLUS_ACCOUNT, 'E', 0,0,
		@POSTING_DATE , @POSTING_DATE  , @POSTING_DATE  , @TOTAL_EXPENSES + @TOTAL_INCOME, 
		'ADJ' , 'ADJ' , @USER_ID , 'END OF YEAR ENTRY' , 'Net Income/Expense'
		) 
	
END


-- Post entries in individual Income and Expense account
DECLARE CurPL_ACCOUNTS CURSOR STATIC FOR 
SELECT ACCOUNT_ID , CURRENT_YTD_BALANCE FROM ACT_GENERAL_LEDGER_TOTALS 
WHERE FISCAL_START_DATE = @OLD_FISCAL_START_DATE  AND FISCAL_END_DATE = @OLD_FISCAL_END_DATE	
AND ISNULL(CURRENT_YTD_BALANCE,0) <> 0 
AND ACCOUNT_ID IN 
	(
		SELECT ACCOUNT_ID FROM ACT_GL_ACCOUNTS WHERE ACC_TYPE_ID IN(@INCOME_ACCOUNTS,@EXPENSE_ACCOUNTS )
	)
ORDER BY ACCOUNT_ID 

OPEN CurPL_ACCOUNTS

WHILE 1=1
BEGIN

	FETCH NEXT FROM CurPL_ACCOUNTS INTO @ACCOUNT_ID, @CURRENT_YTD_BALANCE
	
	IF @@FETCH_STATUS <> 0
		BREAK

	INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS 
	(
	ACCOUNT_ID , UPDATED_FROM , SOURCE_ROW_ID,SOURCE_NUM,
	SOURCE_TRAN_DATE,SOURCE_EFF_DATE,POSTING_DATE,TRANSACTION_AMOUNT,
	ITEM_TRAN_CODE,ITEM_TRAN_CODE_TYPE,COMMITED_BY,TRAN_ENTITY,TRAN_DESC
	) 
	VALUES 
	( 
	@ACCOUNT_ID, 'E', 0,0,
	@POSTING_DATE , @POSTING_DATE  , @POSTING_DATE  , @CURRENT_YTD_BALANCE * -1 , 
	'ADJ' , 'ADJ' , @USER_ID , 'END OF YEAR ENTRY' , 'Net Income/Expense'
	) 
END

CLOSE		CurPL_ACCOUNTS 
DEALLOCATE	CurPL_ACCOUNTS 

SET @ACCOUNT_ID	 = NULL

--Transfer balances to next year 
--balances will be transferred for Asset/Liability and Surplus account only
DECLARE CurGLTotals CURSOR STATIC FOR 
SELECT ACCOUNT_ID , CARRY_FWDED_AMOUNT 
FROM ACT_GENERAL_LEDGER_TOTALS 
WHERE FISCAL_START_DATE = @OLD_FISCAL_START_DATE  
AND FISCAL_END_DATE = @OLD_FISCAL_END_DATE	
AND ISNULL(CARRY_FWDED_AMOUNT,0) <> 0 
ORDER BY ACCOUNT_ID 

OPEN CurGLTotals
WHILE 1=1
BEGIN
	
	FETCH NEXT FROM CurGLTotals INTO @ACCOUNT_ID, @CARRY_FWDED_AMOUNT
	
	IF @@FETCH_STATUS <> 0
		BREAK

	--IF no record for current fiscal year exists create a new record 

	IF NOT EXISTS (
						SELECT ACCOUNT_ID FROM ACT_GENERAL_LEDGER_TOTALS 
						WHERE FISCAL_START_DATE = @CURRENT_FISCAL_START_DATE  
						AND FISCAL_END_DATE = @CURRENT_FISCAL_END_DATE AND ACCOUNT_ID = @ACCOUNT_ID 
					)	
	BEGIN 

		INSERT INTO ACT_GENERAL_LEDGER_TOTALS (
			GL_ID,ACCOUNT_ID,CURRENT_MTD_BALANCE,CURRENT_YTD_BALANCE,
			FISCAL_START_MONTH,FISCAL_START_YEAR,
			FISCAL_END_MONTH,FISCAL_END_YEAR,
			FISCAL_START_DATE,FISCAL_END_DATE
			)
		SELECT GL_ID,@ACCOUNT_ID,0,0,
			MONTH(FISCAL_BEGIN_DATE),YEAR(FISCAL_BEGIN_DATE),
			MONTH(FISCAL_END_DATE),YEAR(FISCAL_END_DATE),
			FISCAL_BEGIN_DATE,FISCAL_END_DATE
		FROM ACT_GENERAL_LEDGER 
		WHERE FISCAL_ID = @FISCAL_ID

	END
	
	UPDATE ACT_GENERAL_LEDGER_TOTALS 
	SET 
	BROUGHT_DOWN_AMOUNT	= @CARRY_FWDED_AMOUNT ,
	CURRENT_YTD_BALANCE =ISNULL(CURRENT_YTD_BALANCE,0)	+ @CARRY_FWDED_AMOUNT ,
	YEAR_JAN_YTD	= ISNULL(YEAR_JAN_YTD,0)	+ @CARRY_FWDED_AMOUNT ,
	YEAR_FEB_YTD	= ISNULL(YEAR_FEB_YTD ,0)	+ @CARRY_FWDED_AMOUNT ,
	YEAR_MAR_YTD	= ISNULL(YEAR_MAR_YTD ,0)	+ @CARRY_FWDED_AMOUNT ,
	YEAR_APR_YTD	= ISNULL(YEAR_APR_YTD ,0)	+ @CARRY_FWDED_AMOUNT ,
	YEAR_MAY_YTD	= ISNULL(YEAR_MAY_YTD  ,0)	+ @CARRY_FWDED_AMOUNT ,
	YEAR_JUN_YTD	= ISNULL(YEAR_JUN_YTD  ,0)	+ @CARRY_FWDED_AMOUNT ,
	YEAR_JUL_YTD	= ISNULL(YEAR_JUL_YTD  ,0)	+ @CARRY_FWDED_AMOUNT ,
	YEAR_AUG_YTD	= ISNULL(YEAR_AUG_YTD  ,0)	+ @CARRY_FWDED_AMOUNT ,
	YEAR_SEP_YTD	= ISNULL(YEAR_SEP_YTD  ,0)	+ @CARRY_FWDED_AMOUNT ,
	YEAR_OCT_YTD	= ISNULL(YEAR_OCT_YTD  ,0)	+ @CARRY_FWDED_AMOUNT ,
	YEAR_NOV_YTD	= ISNULL(YEAR_NOV_YTD  ,0)	+ @CARRY_FWDED_AMOUNT ,
	YEAR_DEC_YTD	= ISNULL(YEAR_DEC_YTD  ,0)	+ @CARRY_FWDED_AMOUNT 
	WHERE ACCOUNT_ID= @ACCOUNT_ID 
	AND FISCAL_START_DATE = @CURRENT_FISCAL_START_DATE
	AND FISCAL_END_DATE = @CURRENT_FISCAL_END_DATE


END

CLOSE CurGLTotals 
DEALLOCATE  CurGLTotals

UPDATE ACT_GENERAL_LEDGER SET EOY_PROCESSED = 1 ,EOY_PROCESSING_DATE = GETDATE() 
WHERE FISCAL_ID = @OLD_FISCAL_ID

END
--
--GO 
--
--SELECT * FROM ACT_GENERAL_LEDGER_TOTALS 
--WHERE ACCOUNT_ID = 28 
--ORDER BY ACT_GENERAL_LEDGER_TOTALS.FISCAL_START_YEAR 
--
--
--exec Proc_PostEndOfYear 2,3
--
--SELECT * FROM ACT_ACCOUNTS_POSTING_DETAILS WHERE UPDATED_FROM = 'E' AND ACCOUNT_ID = 108
--
--
--SELECT * FROM ACT_GENERAL_LEDGER_TOTALS 
--WHERE ACCOUNT_ID = 28 
--ORDER BY ACT_GENERAL_LEDGER_TOTALS.FISCAL_START_YEAR 
--
--
--ROLLBACK TRAN 


GO

