IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetManufacturerQuickQuote]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetManufacturerQuickQuote]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

create proc dbo.Proc_GetManufacturerQuickQuote  
(
  @EFFECTIVE_DATE DATETIME  
)
as  
--SELECT DISTINCT MANUFACTURER FROM MNT_VIN_MOTORCYCLE_MASTER ORDER BY 1  
SELECT DISTINCT MANUFACTURER FROM MNT_VIN_MOTORCYCLE_MASTER  JOIN MNT_LOOKUP_VALUES    
ON LOOKUP_VALUE_CODE=CLASS  
WHERE  LOOKUP_ID=1188  
AND @EFFECTIVE_DATE BETWEEN ISNULL(EFFECTIVE_FROM_DATE,'01/01/1900') AND ISNULL(EFFECTIVE_TO_DATE,'01/01/3000')  
ORDER BY 1  

GO

