IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_InsertClaimReinsuranceCloseReserveDetails]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_InsertClaimReinsuranceCloseReserveDetails]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN        
--DROP PROC  dbo.Proc_InsertClaimReinsuranceCloseReserveDetails         
--GO         
/*----------------------------------------------------------                                                                                              
Proc Name       : dbo.Proc_InsertClaimReinsuranceCloseReserveDetails                                                                                  
Created by      :  Raghav Gupta                                                                                          
Date            :         
Purpose         : Insert data in CLM_ACTIVITY_RESERVE and CLM_ACTIVITY  table for Close Reinsuarnce Reserve Activity                                                                         
Revison History :  Itrack Issue #6144                                                                                            
Used In         : Wolverine     

Modfied By		: Praveen K
Purpose			: SET ACTUAL RISK ID AND TYPE FROM CLAIM RESERVE
----------------------------------------------------------------------                  
Date     Review By          Comments                                                                                              
------   ------------       -------------------------*/                                                                                              
--DROP PROC dbo.Proc_InsertClaimReinsuranceCloseReserveDetails 2135,4                    
CREATE PROC [dbo].[Proc_InsertClaimReinsuranceCloseReserveDetails]                                                                                    
(          
 @CLAIM_ID Int ,          
 @USER_ID Int = NULL     ,
 @ACTIVITY_ID int =null,
 @IS_DR_CR_EXISTS int output
)          
AS                                                                                              
BEGIN          
          
          
BEGIN TRAN          
        
  DECLARE @TEMP_ERROR_CODE INT               
  DECLARE @SYSTEM_USER_ID INT          
  DECLARE @LAST_UPDATED_DATETIME DATETIME          
          
  DECLARE @CLOSE_RESERVE INT          
  DECLARE @TRANSACTION_ID INT          
  DECLARE @CRACCTS INT          
  DECLARE @DRACCTS INT          
  DECLARE @COVERAGE_ID INT    
--Added For Itrack Issue #6274,6372 on 22-sep-2009
  DECLARE @PRIMARY_EXCESS VARCHAR      
  DECLARE @MCCA_ATTACHMENT_POINT DECIMAL      
  DECLARE @MCCA_APPLIES DECIMAL        
  DECLARE @ATTACHMENT_POINT DECIMAL      
  DECLARE @OUTSTANDING DECIMAL(18,2)      
  DECLARE @REINSURANCE_CARRIER INT    
  DECLARE @VEHICLE_ID INT      
  DECLARE @POLICY_LIMITS DECIMAL      
  DECLARE @RETENTION_LIMITS DECIMAL 
  --Added till here       
  DECLARE @RI_RESERVE DECIMAL        
  DECLARE @RESERVE_AMOUNT DECIMAL(18,2)          
  DECLARE @CLAIM_NUMBER VARCHAR(10)          
  DECLARE @DIV_ID INT          
  DECLARE @DEPT_ID INT            
  DECLARE @PC_ID INT         
  --DECLARE @ACTIVITY_ID INT         
  DECLARE @RESERVE_ACTIVITY_ID INT   --Done for Itrack Issue 6372 on 11 Sept 2009 

 --Added For Itrack Issue #6274,6372 on 22-sep-2009
  DECLARE @SYSTEM_ACTIVITY_ID INT    
  DECLARE @RESULT INT  
  
  DECLARE @ACTUAL_RISK_ID INT
  DECLARE @ACTUAL_RISK_TYPE VARCHAR(15)
      
  SET @CLOSE_RESERVE = 171          
  SET @RI_RESERVE = 0           

  IF(@ACTIVITY_ID IS NULL)
  BEGIN 
	SET @IS_DR_CR_EXISTS = 0
  END
  ELSE
  BEGIN 
	SET @IS_DR_CR_EXISTS = 1
  END
            
  SELECT @RESERVE_AMOUNT = -SUM(ISNULL(RI_RESERVE,0))           
  FROM CLM_ACTIVITY_RESERVE WITH (NOLOCK) WHERE CLAIM_ID= @CLAIM_ID         
  AND ACTIVITY_ID=(SELECT TOP 1 ACTIVITY_ID FROM CLM_ACTIVITY_RESERVE WITH (NOLOCK) WHERE CLAIM_ID = @CLAIM_ID         AND IS_ACTIVE = 'Y' ORDER BY ACTIVITY_ID DESC)          
   
  /*SELECT @SYSTEM_USER_ID = USER_ID FROM MNT_USER_LIST  WITH (NOLOCK) WHERE USER_LOGIN_ID = 'SYSTEM'          
  SELECT @LAST_UPDATED_DATETIME = GETDATE()
  
  --DONE FOR ITRACK ISSUE 6372 ON 11 SEPT 2009   
   --COMMENTED  FOR ITRACK ISSUE #6274,6372 ON 22-SEP-2009   
  SELECT @RESERVE_ACTIVITY_ID =  (SELECT TOP 1 ACTIVITY_ID FROM CLM_ACTIVITY_RESERVE WITH (NOLOCK)     
  WHERE CLAIM_ID = @CLAIM_ID AND IS_ACTIVE = 'Y' ORDER BY ACTIVITY_ID DESC)     
        
   IF(@USER_ID IS NULL )           
    SET @USER_ID = @SYSTEM_USER_ID    
      
    UPDATE  CLM_ACTIVITY          
    SET  ACTIVITY_STATUS  = 11801 ,         
    REASON_DESCRIPTION    = 'CLOSE REINSURANCE RESERVE' ,         
    MODIFIED_BY          =   @USER_ID,        
    LAST_UPDATED_DATETIME   =  GETDATE()  ,        
    RESERVE_TRAN_CODE       = 0,        
    ACTION_ON_PAYMENT     = @CLOSE_RESERVE ,            
    COMPLETED_DATE       =   GETDATE()        
    WHERE  CLAIM_ID = @CLAIM_ID AND ACTIVITY_ID  = @ACTIVITY_ID*/  

	
        
 ----ADDED FOR ITRACK ISSUE #6274,6372 ON 22-SEP-2009

 IF (@ACTIVITY_ID IS NOT NULL)
 BEGIN 
	SELECT @ACTIVITY_ID =  (SELECT TOP 1 ACTIVITY_ID FROM CLM_ACTIVITY WITH (NOLOCK)     
	WHERE CLAIM_ID = @CLAIM_ID AND   IS_ACTIVE = 'Y' ORDER BY ACTIVITY_ID DESC)
 END 

 IF( @ACTIVITY_ID IS NULL)
 BEGIN
	 EXEC PROC_INSERTCLM_ACTIVITY @CLAIM_ID,@SYSTEM_ACTIVITY_ID OUTPUT,11773,'CLOSE REINSURANCE RESERVE',
	 @USER_ID,11800,0,@CLOSE_RESERVE

	 
	SELECT @TEMP_ERROR_CODE = @@ERROR                                                                              
	IF (@TEMP_ERROR_CODE <> 0) GOTO PROBLEM 
 END
 ELSE
 BEGIN	
	SET @SYSTEM_ACTIVITY_ID = @ACTIVITY_ID
 END
              
                 
  /*UPDATE CLM_ACTIVITY SET COMPLETED_DATE=GETDATE()           
  WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID= @ACTIVITY_ID           
          
  SELECT @TEMP_ERROR_CODE = @@ERROR                                                                              
  IF (@TEMP_ERROR_CODE <> 0) GOTO PROBLEM */              

 --ADDED FOR ITRACK ISSUE #6274,6372 ON 22-SEP-2009
 SELECT @TRANSACTION_ID = ISNULL(MAX(TRANSACTION_ID),0)+1 FROM CLM_ACTIVITY_RESERVE  WITH (NOLOCK)           
 WHERE CLAIM_ID=@CLAIM_ID 

   --COMMENTED FOR ITRACK ISSUE #6274,6372 ON 22-SEP-2009      
 /*   SELECT @DRACCTS=DRACCTS FROM CLM_ACTIVITY_RESERVE  WITH (NOLOCK)     
 DONE FOR ITRACK ISSUE 6372 ON 11 SEPT 2009     
   WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID=@RESERVE_ACTIVITY_ID   
   WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID=ACTIVITY_ID        
    SELECT @CRACCTS=CRACCTS FROM CLM_ACTIVITY_RESERVE  WITH (NOLOCK)     
   DONE FOR ITRACK ISSUE 6372 ON 11 SEPT 2009     
   WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID=@RESERVE_ACTIVITY_ID   
   WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID=ACTIVITY_ID  */  

  
 --ADDED FOR ITRACK ISSUE #6274,6372 ON 22-SEP-2009

-- SELECT @TRANSACTION_ID = ISNULL(MAX(TRANSACTION_ID),0) FROM CLM_ACTIVITY_RESERVE  WITH (NOLOCK)           
-- WHERE CLAIM_ID=@CLAIM_ID
 SELECT @TRANSACTION_ID = ISNULL(MAX(TRANSACTION_ID),0)+1 FROM CLM_ACTIVITY_RESERVE  WITH (NOLOCK)           
 WHERE CLAIM_ID=@CLAIM_ID

 --ADDED  FOR ITRACK ISSUE #6274,6372 ON 22-SEP-2009

 IF(@IS_DR_CR_EXISTS =0)
 BEGIN
	IF EXISTS(SELECT SELECTEDDEBITLEDGERS FROM CLM_TYPE_DETAIL WHERE TYPE_ID = 8 
			  AND DETAIL_TYPE_ID =@CLOSE_RESERVE AND DBO.PIECE(SELECTEDDEBITLEDGERS,',',2) IS NULL)
	BEGIN
	  SELECT @DRACCTS=ACCOUNT_ID FROM ACT_GL_ACCOUNTS  WITH (NOLOCK)
	  WHERE ACC_DISP_NUMBER=(SELECT SELECTEDDEBITLEDGERS FROM CLM_TYPE_DETAIL  WITH (NOLOCK) 
							  WHERE DETAIL_TYPE_ID = @CLOSE_RESERVE)  
    END
   IF EXISTS(SELECT * FROM CLM_TYPE_DETAIL WHERE TYPE_ID = 8 AND DETAIL_TYPE_ID = @CLOSE_RESERVE 
			AND DBO.PIECE(SELECTEDCREDITLEDGERS,',',2) IS NULL)                            
   BEGIN
	  SELECT @CRACCTS=ACCOUNT_ID FROM ACT_GL_ACCOUNTS  WITH (NOLOCK) 
	  WHERE ACC_DISP_NUMBER=(SELECT SELECTEDCREDITLEDGERS FROM CLM_TYPE_DETAIL  WITH (NOLOCK) 
							 WHERE DETAIL_TYPE_ID = @CLOSE_RESERVE) 
   END
 END
 ELSE
 BEGIN
	SELECT @DRACCTS=DRACCTS FROM CLM_ACTIVITY_RESERVE WITH (NOLOCK)
	WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID=@ACTIVITY_ID 
	SELECT @CRACCTS=CRACCTS FROM CLM_ACTIVITY_RESERVE  WITH (NOLOCK) 
	WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID=@ACTIVITY_ID
	
	SET @IS_DR_CR_EXISTS = 0
 END

  --COMMENTED FOR ITRACK ISSUE #6274,6372 ON 22-SEP-2009
--        
/*CREATE TABLE ##TMPRESERVE        
(        
IDEN_COL INT IDENTITY(1,1),        
COVERAGE_ID INT,        
RESERVE_ID INT        
)        
        
DECLARE @RESERVE_ID INT,@COUNT INT        
 INSERT INTO ##TMPRESERVE SELECT COVERAGE_ID,RESERVE_ID        
      FROM CLM_ACTIVITY_RESERVE           
      WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID=@RESERVE_ACTIVITY_ID        
 SET @COUNT =1     
      
 WHILE 1=1        
 BEGIN          
 IF NOT EXISTS(SELECT * FROM ##TMPRESERVE WHERE IDEN_COL =@COUNT)        
  BEGIN        
   BREAK        
  END         
 SELECT @RESERVE_ID=RESERVE_ID,@COVERAGE_ID =COVERAGE_ID FROM ##TMPRESERVE WHERE IDEN_COL=@COUNT        
      
   UPDATE  CLM_ACTIVITY_RESERVE         
   SET RI_RESERVE   = @RI_RESERVE,        
   MODIFIED_BY   = @USER_ID,        
   LAST_UPDATED_DATETIME= @LAST_UPDATED_DATETIME,        
  --TRANSACTION_ID   = @TRANSACTION_ID,        
  ACTION_ON_PAYMENT  = @CLOSE_RESERVE     
   --DONE FOR ITRACK ISSUE 6372 ON 11 SEPT 2009     
   WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID=@RESERVE_ACTIVITY_ID   
   --WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID=ACTIVITY_ID        
  AND RESERVE_ID = @RESERVE_ID AND COVERAGE_ID =@COVERAGE_ID        
        
  SET @COUNT =@COUNT+1        
 END          
   DROP TABLE ##TMPRESERVE  */

--ADDED  FOR ITRACK ISSUE #6274,6372 ON 22-SEP-2009
IF (@ACTIVITY_ID IS NULL)
BEGIN
  DECLARE CUR CURSOR      
  FOR SELECT COVERAGE_ID,PRIMARY_EXCESS,MCCA_ATTACHMENT_POINT,MCCA_APPLIES,ATTACHMENT_POINT,      
  REINSURANCE_CARRIER,VEHICLE_ID,POLICY_LIMITS,RETENTION_LIMITS,
  ACTUAL_RISK_ID,ACTUAL_RISK_TYPE
  FROM CLM_ACTIVITY_RESERVE 
  WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID=(SELECT TOP 1 ACTIVITY_ID FROM CLM_ACTIVITY_RESERVE WITH (NOLOCK) WHERE CLAIM_ID = @CLAIM_ID AND IS_ACTIVE = 'Y' ORDER BY ACTIVITY_ID DESC)      
  ORDER BY RESERVE_ID
  OPEN CUR      
  FETCH NEXT FROM CUR       
  INTO @COVERAGE_ID,@PRIMARY_EXCESS,@MCCA_ATTACHMENT_POINT,@MCCA_APPLIES,@ATTACHMENT_POINT,      
  @REINSURANCE_CARRIER,@VEHICLE_ID,@POLICY_LIMITS,@RETENTION_LIMITS,
  @ACTUAL_RISK_ID,@ACTUAL_RISK_TYPE
       
       
  WHILE @@FETCH_STATUS = 0      
  BEGIN      
	 EXEC PROC_INSERTCLM_ACTIVITY_RESERVE @CLAIM_ID ,@SYSTEM_ACTIVITY_ID,@COVERAGE_ID,@PRIMARY_EXCESS,
     @MCCA_ATTACHMENT_POINT,@MCCA_APPLIES,@ATTACHMENT_POINT,@OUTSTANDING,@REINSURANCE_CARRIER,
	 @RI_RESERVE,@USER_ID,@LAST_UPDATED_DATETIME,@VEHICLE_ID,@POLICY_LIMITS,@RETENTION_LIMITS,
	 @CLOSE_RESERVE,@CRACCTS,@DRACCTS,@TRANSACTION_ID,@ACTUAL_RISK_ID,@ACTUAL_RISK_TYPE    
	      
	FETCH NEXT FROM CUR       
	 INTO @COVERAGE_ID,@PRIMARY_EXCESS,@MCCA_ATTACHMENT_POINT,@MCCA_APPLIES,@ATTACHMENT_POINT,      
	 @REINSURANCE_CARRIER,@VEHICLE_ID,@POLICY_LIMITS,@RETENTION_LIMITS,@ACTUAL_RISK_ID,@ACTUAL_RISK_TYPE   
       
  END      
 CLOSE CUR      
 DEALLOCATE CUR  

 --ADDED  FOR ITRACK ISSUE #6274,6372 ON 22-SEP-2009-- ACTIVITY_ID REPLACE BY @SYSTEM_ACTIVITY_ID        
 EXEC PROC_UPDATEREINSUARNCEACTIVITYRESERVE @CLAIM_ID,@SYSTEM_ACTIVITY_ID,@RESERVE_AMOUNT,NULL,NULL,0,0,
 NULL,@LAST_UPDATED_DATETIME          
 SELECT @TEMP_ERROR_CODE = @@ERROR                                                                              
 IF (@TEMP_ERROR_CODE <> 0) GOTO PROBLEM            

END
      
  IF (ISNULL(@DRACCTS,0) <>0 AND ISNULL(@CRACCTS,0)<>0)
  BEGIN       
	  
	 UPDATE CLM_ACTIVITY SET ACTIVITY_STATUS=11801,COMPLETED_DATE=GETDATE(),
	 REASON_DESCRIPTION='CLOSE REINSURANCE RESERVE'           
	 WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID= @SYSTEM_ACTIVITY_ID 

	 SELECT @TEMP_ERROR_CODE = @@ERROR                                                                              
	 IF (@TEMP_ERROR_CODE <> 0) GOTO PROBLEM          
  
  	 SELECT @CLAIM_NUMBER = CLAIM_NUMBER FROM CLM_CLAIM_INFO  WITH (NOLOCK) WHERE CLAIM_ID=@CLAIM_ID          
	 SELECT TOP 1 @DIV_ID=DIV_ID,@DEPT_ID=DEPT_ID,@PC_ID=PC_ID FROM ACT_ACCOUNTS_POSTING_DETAILS WITH (NOLOCK) 
     WHERE SOURCE_ROW_ID=@CLAIM_ID AND SOURCE_NUM=@CLAIM_NUMBER    

	 --ADDED  FOR ITRACK ISSUE #6274,6372 ON 22-SEP-2009-- ACTIVITY_ID REPLACE BY @SYSTEM_ACTIVITY_ID       
	 EXEC PROC_INSERT_ACCOUNTS_POSTING_ON_COMMIT_CLAIM_ACTIVITY @CLAIM_ID,@SYSTEM_ACTIVITY_ID,
	 @USER_ID,@DIV_ID,@DEPT_ID,@PC_ID,@DRACCTS,@CRACCTS      


	SELECT @TEMP_ERROR_CODE = @@ERROR	
	IF (@TEMP_ERROR_CODE <> 0) GOTO PROBLEM    

  END
  ELSE
  BEGIN
	SET @IS_DR_CR_EXISTS = 1
  END                  
   
   --COMMENTED FOR ITRACK ISSUE #6274,6372 ON 22-SEP-2009     
  --SELECT @ACTIVITY_ID AS ACTIVITY_ID 
  SELECT @SYSTEM_ACTIVITY_ID AS ACTIVITY_ID  


 COMMIT TRAN       
  RETURN 1         
 PROBLEM: 	                                                    
  ROLLBACK TRAN       
  RETURN 0    


END                                        
         
--GO        
--declare @out int
--EXEC Proc_InsertClaimReinsuranceCloseReserveDetails 2187,334,null, @OUT out  
----select @OUT     
--ROLLBACK TRAN

GO

