IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[rpt_PolicyRenewalList]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[rpt_PolicyRenewalList]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
--select * from mnt_agency_list where agency_display_name like 'br%'
--rpt_PolicyRenewalList '1','','','0','207','0','','-99'
-- drop PROCEDURE dbo.rpt_PolicyRenewalList
CREATE PROCEDURE dbo.rpt_PolicyRenewalList
	@NameAddress CHAR(1) = 1,
	@ExpirationDateStart Datetime = '',
	@ExpirationDateEnd Datetime = '',
	@intCLIENT_ID varchar(8000),
	@intBrokerId varchar(8000),
	@UnderWriter varchar(8000),
	@LOB varchar(8000) = '',
	@BillType varchar(8000) = '-99'
AS

DECLARE @sql VARCHAR(8000),
	@INDEX INTEGER,
	@TEMP VARCHAR(8000),
	@TEMP1 VARCHAR(8000)

	BEGIN
		Select @sql = 'SELECT DISTINCT (SELECT SUM(CONVERT(DECIMAL(18,2),PREMIUM)) FROM CLT_PREMIUM_SPLIT CPS1 
				LEFT  JOIN CLT_PREMIUM_SPLIT_DETAILS CPSD1
				ON CPSD1.SPLIT_UNIQUE_ID = CPS1.UNIQUE_ID WHERE CPSD1.COMPONENT_CODE=''SUMTOTAL'' AND
				CPS1.CUSTOMER_ID = POL_CUSTOMER_POLICY_LIST.CUSTOMER_ID AND
				CPS1.POLICY_ID = POL_CUSTOMER_POLICY_LIST.POLICY_ID AND
				CPS1.POLICY_VERSION_ID = POL_CUSTOMER_POLICY_LIST.POLICY_VERSION_ID
				) AS PREMIUM,POL_CUSTOMER_POLICY_LIST.CUSTOMER_ID, POL_CUSTOMER_POLICY_LIST.POLICY_NUMBER,POL_CUSTOMER_POLICY_LIST.POLICY_DISP_VERSION, MNT_LOB_MASTER.LOB_DESC, (SELECT SUB_LOB_DESC FROM MNT_SUB_LOB_MASTER A WHERE Convert(VARCHAR,A.SUB_LOB_ID) 
				= POL_CUSTOMER_POLICY_LIST.POLICY_SUBLOB AND CONVERT(VARCHAR,A.LOB_ID) = POL_CUSTOMER_POLICY_LIST.POLICY_LOB) AS SUB_LOB_DESC, 
                               CLT_CUSTOMER_LIST.CUSTOMER_FIRST_NAME, CLT_CUSTOMER_LIST.CUSTOMER_MIDDLE_NAME, CLT_CUSTOMER_LIST.CUSTOMER_LAST_NAME, CLT_CUSTOMER_LIST.CUSTOMER_CODE, 
                               CLT_CUSTOMER_LIST.CUSTOMER_ADDRESS1, CLT_CUSTOMER_LIST.CUSTOMER_ADDRESS2, CLT_CUSTOMER_LIST.CUSTOMER_CITY, MNT_COUNTRY_STATE_LIST.STATE_CODE, 
                               CLT_CUSTOMER_LIST.CUSTOMER_ZIP, CLT_CUSTOMER_LIST.CUSTOMER_Email, POL_CUSTOMER_POLICY_LIST.APP_INCEPTION_DATE, POL_CUSTOMER_POLICY_LIST.APP_EFFECTIVE_DATE, 
                               POL_CUSTOMER_POLICY_LIST.APP_EXPIRATION_DATE, POL_CUSTOMER_POLICY_LIST.BILL_TYPE, POL_CUSTOMER_POLICY_LIST.RECEIVED_PRMIUM, POL_CUSTOMER_POLICY_LIST.APP_TERMS, 
                               CLT_CUSTOMER_LIST.CUSTOMER_CONTACT_NAME, (SELECT LOOKUP_VALUE_DESC FROM MNT_LOOKUP_VALUES A WHERE A.LOOKUP_ID = 940 AND A.LOOKUP_VALUE_CODE = POL_CUSTOMER_POLICY_LIST.BILL_TYPE) AS BILL_DESC, ' + @NameAddress + ' AS NAMEADDRESS, POL_POLICY_STATUS_MASTER.POLICY_DESCRIPTION 
                               FROM POL_CUSTOMER_POLICY_LIST INNER JOIN
                               CLT_CUSTOMER_LIST ON POL_CUSTOMER_POLICY_LIST.CUSTOMER_ID = CLT_CUSTOMER_LIST.CUSTOMER_ID INNER JOIN
                               MNT_COUNTRY_STATE_LIST ON CONVERT(VARCHAR,MNT_COUNTRY_STATE_LIST.COUNTRY_ID) = CLT_CUSTOMER_LIST.CUSTOMER_COUNTRY AND 
                               CONVERT(VARCHAR,MNT_COUNTRY_STATE_LIST.STATE_ID) = CLT_CUSTOMER_LIST.CUSTOMER_STATE INNER JOIN 
                               MNT_LOB_MASTER ON POL_CUSTOMER_POLICY_LIST.POLICY_LOB = CONVERT(VARCHAR,MNT_LOB_MASTER.LOB_ID) INNER JOIN
                               POL_POLICY_STATUS_MASTER ON POL_CUSTOMER_POLICY_LIST.POLICY_STATUS = POL_POLICY_STATUS_MASTER.POLICY_STATUS_CODE '
		SELECT @sql = @sql + ' INNER JOIN CLT_PREMIUM_SPLIT CPS ON
				CPS.CUSTOMER_ID = POL_CUSTOMER_POLICY_LIST.CUSTOMER_ID and
				CPS.POLICY_ID = POL_CUSTOMER_POLICY_LIST.POLICY_ID and
				CPS.POLICY_VERSION_ID = POL_CUSTOMER_POLICY_LIST.POLICY_VERSION_ID
				left  JOIN CLT_PREMIUM_SPLIT_DETAILS CPSD
				ON CPSD.SPLIT_UNIQUE_ID = CPS.UNIQUE_ID 
 				WHERE CPSD.component_code=''SUMTOTAL'' AND UPPER(POL_CUSTOMER_POLICY_LIST.POLICY_STATUS) = ''NORMAL'' '

		IF (@ExpirationDateStart<>'' )
		BEGIN
			SELECT @sql=@sql + ' AND POL_CUSTOMER_POLICY_LIST.APP_EXPIRATION_DATE >= ''' + CONVERT(VARCHAR, @ExpirationDateStart,101) + ''''
		END

		IF (@ExpirationDateEnd<>'' )
		BEGIN
			SELECT @sql=@sql + ' AND POL_CUSTOMER_POLICY_LIST.APP_EXPIRATION_DATE <= ''' + CONVERT(VARCHAR, @ExpirationDateEnd,101) + ''''
		END

		IF (@intCLIENT_ID <> '0')
		BEGIN
			--SELECT @sql=@sql + ' AND POL_CUSTOMER_POLICY_LIST.CUSTOMER_ID=' + CAST(@intCLIENT_ID AS VARCHAR(10))
			SELECT @sql=@sql + ' AND POL_CUSTOMER_POLICY_LIST.CUSTOMER_ID IN (' + @intCLIENT_ID + ')'
		END

		IF (@intBrokerId <> '0')
		BEGIN
			--SELECT @sql=@sql + ' AND POL_CUSTOMER_POLICY_LIST.CUSTOMER_AGENCY_ID = ' + CAST(@intBrokerId AS VARCHAR(10))
			SELECT @sql=@sql + ' AND POL_CUSTOMER_POLICY_LIST.AGENCY_ID IN (' + @intBrokerId + ')'
		END

		IF (@UnderWriter <> '0')
		BEGIN
			--SELECT @sql=@sql + ' AND POL_CUSTOMER_POLICY_LIST.UNDERWRITER = ' + CAST(@UnderWriter AS VARCHAR(10))
			SELECT @sql=@sql + ' AND POL_CUSTOMER_POLICY_LIST.UNDERWRITER IN (' + @UnderWriter + ')'
		END

		IF (ISNULL(@LOB,'0') <> '0' AND @LOB<>'' )
		BEGIN
			--SELECT @sql=@sql + ' AND POL_CUSTOMER_POLICY_LIST.POLICY_LOB = ' + CAST(@LOB AS VARCHAR(10))
			SELECT @sql=@sql + ' AND POL_CUSTOMER_POLICY_LIST.POLICY_LOB IN (' + @LOB + ')'
		END

		IF (@BillType <> '-99')
		BEGIN
			SELECT @TEMP = ' '

			SELECT  @TEMP1 = ' '
			SELECT @TEMP=@BillType
			WHILE 1=1
			BEGIN
				SELECT @INDEX=CHARINDEX(',',@TEMP)
			IF @INDEX=0
			BEGIN
				SELECT @TEMP1  = @TEMP1 +  '''' + @TEMP + ''''
				BREAK
			END
			SELECT @TEMP1  = @TEMP1 + '''' +  LEFT(@TEMP,@INDEX-1) + ''','
			SELECT @TEMP=SUBSTRING(@TEMP,@INDEX+1,LEN(@TEMP)-@INDEX)
			END	
	
			SELECT @sql=@sql + ' AND POL_CUSTOMER_POLICY_LIST.BILL_TYPE IN (' + @TEMP1 + ')'
			--SELECT @sql=@sql + ' AND POL_CUSTOMER_POLICY_LIST.BILL_TYPE IN (' + @BillType + ')'
		END
	END	
			SELECT @SQL=@SQL + ' 	ORDER BY POLICY_NUMBER '
--PRINT(@sql) 
EXEC (@sql)













GO

