IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_GET_DISTINCT_POL_REC_VEHICLES_FOR_UMBRELLA]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_GET_DISTINCT_POL_REC_VEHICLES_FOR_UMBRELLA]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------                                
Proc Name   : dbo.PROC_GET_DISTINCT_POL_REC_VEHICLES_FOR_UMBRELLA                      
Created by  : Sumit Chhabra            
Date        : 09 Oc,2006                      
Purpose     : Fetch locations for umbrella sch.             
Revison History  :                                      
 ------------------------------------------------------------                                            
Date     Review By          Comments                                          
                                 
------   ------------       -------------------------*/           
          
-- DROP PROC  dbo.PROC_GET_DISTINCT_POL_REC_VEHICLES_FOR_UMBRELLA                          
CREATE PROC dbo.PROC_GET_DISTINCT_POL_REC_VEHICLES_FOR_UMBRELLA                          
 @CUSTOMER_ID int,     
 @POLICY_ID int,  
 @POLICY_VERSION_ID smallint  
AS                          
BEGIN                          

SELECT 
		CUSTOMER_ID,REC_VEH_ID,COMPANY_ID_NUMBER,[YEAR],MAKE,POLICY_ID,POLICY_VERSION_ID,        
		MODEL,
		SERIAL,        
		STATE_REGISTERED,        
		VEHICLE_TYPE,        
		MANUFACTURER_DESC,        
		HORSE_POWER,        
		DISPLACEMENT,        
		REMARKS,        
		USED_IN_RACE_SPEED,        
		PRIOR_LOSSES,        
		IS_UNIT_REG_IN_OTHER_STATE,        
		RISK_DECL_BY_OTHER_COMP,        
		DESC_RISK_DECL_BY_OTHER_COMP,        
		VEHICLE_MODIFIED,        
		ACTIVE,        		
		VEHICLE_MODIFIED_DETAILS,
		VEH_LIC_ROAD,
		REC_VEH_TYPE,
		REC_VEH_TYPE_DESC,
		USED_IN_RACE_SPEED_CONTEST,
		OTHER_POLICY,
		C44,
		IS_BOAT_EXCLUDED,
		ISNULL(MNT_COUNTRY_STATE_LIST.STATE_NAME,'') AS STATE_NAME
	FROM 
		POL_UMBRELLA_RECREATIONAL_VEHICLES 
	LEFT OUTER JOIN 
		MNT_COUNTRY_STATE_LIST
	ON
		POL_UMBRELLA_RECREATIONAL_VEHICLES.STATE_REGISTERED=MNT_COUNTRY_STATE_LIST.STATE_ID
	WHERE
		CUSTOMER_ID=@CUSTOMER_ID AND
		POLICY_ID=@POLICY_ID AND
		POLICY_VERSION_ID=@POLICY_VERSION_ID

                        
 
/*                           
  SELECT                           
  COMPANY_ID_NUMBER,YEAR,MAKE,MODEL,SERIAL,STATE_REGISTERED,MANUFACTURER_DESC,HORSE_POWER,DISPLACEMENT,REMARKS,    
 USED_IN_RACE_SPEED,PRIOR_LOSSES,IS_UNIT_REG_IN_OTHER_STATE,RISK_DECL_BY_OTHER_COMP,DESC_RISK_DECL_BY_OTHER_COMP,    
 VEHICLE_MODIFIED,VEHICLE_TYPE,STATE_NAME,REC_VEH_ID                     
  INTO #TEMP_RECREATIONAL_VEHICLES                          
  FROM APP_HOME_OWNER_RECREATIONAL_VEHICLES                          
  INNER JOIN APP_LIST ON APP_HOME_OWNER_RECREATIONAL_VEHICLES.CUSTOMER_ID = APP_LIST.CUSTOMER_ID                          
  AND APP_HOME_OWNER_RECREATIONAL_VEHICLES.APP_ID = APP_LIST.APP_ID                           
  AND APP_HOME_OWNER_RECREATIONAL_VEHICLES.APP_VERSION_ID = APP_LIST.APP_VERSION_ID                           
  INNER JOIN POL_UMBRELLA_UNDERLYING_POLICIES ON APP_LIST.CUSTOMER_ID = POL_UMBRELLA_UNDERLYING_POLICIES.CUSTOMER_ID                          
  AND APP_LIST.APP_NUMBER =                         
  LTRIM(SUBSTRING(POL_UMBRELLA_UNDERLYING_POLICIES.POLICY_NUMBER,0,                      
  CHARINDEX('-',POL_UMBRELLA_UNDERLYING_POLICIES.POLICY_NUMBER)))                            
  AND APP_LIST.APP_VERSION_ID=                        
  SUBSTRING(LTRIM(RTRIM(SUBSTRING(POL_UMBRELLA_UNDERLYING_POLICIES.POLICY_NUMBER,                      
  CHARINDEX('-',POL_UMBRELLA_UNDERLYING_POLICIES.POLICY_NUMBER)+@POLICY_VERSION_ID,                        
  LEN(POL_UMBRELLA_UNDERLYING_POLICIES.POLICY_NUMBER)))),0,                      
  CHARINDEX('.',LTRIM(RTRIM(SUBSTRING(POL_UMBRELLA_UNDERLYING_POLICIES.POLICY_NUMBER,                      
  CHARINDEX('-',POL_UMBRELLA_UNDERLYING_POLICIES.POLICY_NUMBER)+@POLICY_VERSION_ID,                      
  LEN(POL_UMBRELLA_UNDERLYING_POLICIES.POLICY_NUMBER))))))       
  LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST S ON      
 APP_HOME_OWNER_RECREATIONAL_VEHICLES.STATE_REGISTERED = S.STATE_ID      
      
  WHERE POL_UMBRELLA_UNDERLYING_POLICIES.CUSTOMER_ID = @CUSTOMER_ID                       
  AND POL_UMBRELLA_UNDERLYING_POLICIES.POLICY_ID = @POLICY_ID                           
  AND POL_UMBRELLA_UNDERLYING_POLICIES.POLICY_VERSION_ID = @POLICY_VERSION_ID                           
  AND UPPER(POLICY_COMPANY)='WOLVERINE' AND ISNULL(IS_POLICY,0)=0                    
  AND APP_HOME_OWNER_RECREATIONAL_VEHICLES.ACTIVE='Y'                        
                      
  UNION                          
                            
  SELECT                           
 COMPANY_ID_NUMBER,YEAR,MAKE,MODEL,SERIAL,STATE_REGISTERED,MANUFACTURER_DESC,HORSE_POWER,DISPLACEMENT,REMARKS,    
 USED_IN_RACE_SPEED,PRIOR_LOSSES,IS_UNIT_REG_IN_OTHER_STATE,RISK_DECL_BY_OTHER_COMP,DESC_RISK_DECL_BY_OTHER_COMP,    
 VEHICLE_MODIFIED,VEHICLE_TYPE,STATE_NAME,REC_VEH_ID                   
  FROM POL_HOME_OWNER_RECREATIONAL_VEHICLES 
  INNER JOIN POL_CUSTOMER_POLICY_LIST ON POL_HOME_OWNER_RECREATIONAL_VEHICLES.CUSTOMER_ID = POL_CUSTOMER_POLICY_LIST.CUSTOMER_ID                       
  AND POL_HOME_OWNER_RECREATIONAL_VEHICLES.POLICY_ID = POL_CUSTOMER_POLICY_LIST.POLICY_ID                           
  AND POL_HOME_OWNER_RECREATIONAL_VEHICLES.POLICY_VERSION_ID = POL_CUSTOMER_POLICY_LIST.POLICY_VERSION_ID                           
  INNER JOIN POL_UMBRELLA_UNDERLYING_POLICIES ON POL_CUSTOMER_POLICY_LIST.CUSTOMER_ID                       
  = POL_UMBRELLA_UNDERLYING_POLICIES.CUSTOMER_ID           
  AND POL_CUSTOMER_POLICY_LIST.POLICY_NUMBER =                       
  LTRIM(SUBSTRING(POL_UMBRELLA_UNDERLYING_POLICIES.POLICY_NUMBER,0,                      
  CHARINDEX('-',POL_UMBRELLA_UNDERLYING_POLICIES.POLICY_NUMBER)))                            
  AND POL_CUSTOMER_POLICY_LIST.POLICY_VERSION_ID=                      
  SUBSTRING(LTRIM(RTRIM(SUBSTRING(POL_UMBRELLA_UNDERLYING_POLICIES.POLICY_NUMBER,                      
  CHARINDEX('-',POL_UMBRELLA_UNDERLYING_POLICIES.POLICY_NUMBER)+@POLICY_VERSION_ID,                      
  LEN(POL_UMBRELLA_UNDERLYING_POLICIES.POLICY_NUMBER)))),0,                      
  CHARINDEX('.',LTRIM(RTRIM(SUBSTRING(POL_UMBRELLA_UNDERLYING_POLICIES.POLICY_NUMBER,                      
  CHARINDEX('-',POL_UMBRELLA_UNDERLYING_POLICIES.POLICY_NUMBER)+@POLICY_VERSION_ID,                      
  LEN(POL_UMBRELLA_UNDERLYING_POLICIES.POLICY_NUMBER))))))         
  LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST S ON      
 POL_HOME_OWNER_RECREATIONAL_VEHICLES.STATE_REGISTERED = S.STATE_ID                         
  WHERE POL_UMBRELLA_UNDERLYING_POLICIES.CUSTOMER_ID = @CUSTOMER_ID AND                       
  POL_UMBRELLA_UNDERLYING_POLICIES.POLICY_ID = @POLICY_ID                           
  AND POL_UMBRELLA_UNDERLYING_POLICIES.POLICY_VERSION_ID = @POLICY_VERSION_ID                           
  AND UPPER(POLICY_COMPANY)='WOLVERINE' AND ISNULL(IS_POLICY,@POLICY_VERSION_ID)=@POLICY_VERSION_ID                  
  AND POL_HOME_OWNER_RECREATIONAL_VEHICLES.ACTIVE='Y'                          
                  
SELECT        
 COMPANY_ID_NUMBER,YEAR,MAKE,MODEL,SERIAL,STATE_REGISTERED,MANUFACTURER_DESC,HORSE_POWER,DISPLACEMENT,REMARKS,    
 USED_IN_RACE_SPEED,PRIOR_LOSSES,IS_UNIT_REG_IN_OTHER_STATE,RISK_DECL_BY_OTHER_COMP,DESC_RISK_DECL_BY_OTHER_COMP,    
 VEHICLE_MODIFIED,VEHICLE_TYPE,STATE_NAME,REC_VEH_ID           
  FROM #TEMP_RECREATIONAL_VEHICLES                          
--  GROUP BY LOC_ADD1, LOC_ADD2   
*/                                              
                  
END          
  





GO

