IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_EOD_WriteOffAmount]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_EOD_WriteOffAmount]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran 
--drop proc Dbo.Proc_EOD_WriteOffAmount   
--GO
/*-----------------------------------------
Modified By  : Praveen Kasana  
Modified On  : 3 Sep 2009  
Purpose		 : Itrack 6350 :  
			Adding fee reversal Items to small balance that needed to be written off.  
-------------------------------------------------*/

CREATE PROC [dbo].[Proc_EOD_WriteOffAmount]      
(        
	 @BALANCE_WRITE_OFF_DATE 	DATETIME = NULL,      
	 @USER_ID           		INTEGER  =  NULL       
)        
AS        
BEGIN        
      
DECLARE @SMALL_BALANCE      DECIMAL(18,2)         
DECLARE @TRAN_ENTITY   		VARCHAR(200)    
DECLARE @TRAN_DESC   		VARCHAR(500)    
DECLARE @FISCAL_ID   		INT  
DECLARE @CURRENT_DATE   	DATETIME  
  
      
IF (@BALANCE_WRITE_OFF_DATE IS NULL)      
BEGIN       
	SET @BALANCE_WRITE_OFF_DATE = CONVERT(VARCHAR,GETDATE(),101)
END      
      
--GET THE SMALL BALANCE       
SELECT @SMALL_BALANCE = SMALL_BALANCE      
FROM  ACT_GENERAL_LEDGER   
WHERE @BALANCE_WRITE_OFF_DATE BETWEEN FISCAL_BEGIN_DATE AND FISCAL_END_DATE      
      

     
--GET THE ACCOUNT ID FROM ACT_GENERAL_LEDGER      
DECLARE @AST_UNCOLL_PRM_CUSTOMER INT       
DECLARE @INC_PRM_WRTN INT  --Removed on 3 April 2008    
DECLARE @EXP_SMALL_BALANCE_WRITE_OFF  INT --Added on 3 April 2008  

DECLARE @POLICY_AGENCY_ID int
DECLARE @AGENCY_INFO varchar(300)
  
-- Fetch this based on Fiscal   for current date   recon
SET @CURRENT_DATE = GETDATE()  
  
EXEC PROC_GETFISCALIDFORCURRENTDATE @CURRENT_DATE, @FISCAL_ID OUT  
  
SELECT   
@AST_UNCOLL_PRM_CUSTOMER = AST_UNCOLL_PRM_CUSTOMER,  
@EXP_SMALL_BALANCE_WRITE_OFF = EXP_SMALL_BALANCE_WRITE_OFF 
FROM ACT_GENERAL_LEDGER WITH(NOLOCK)  
WHERE FISCAL_ID =  @FISCAL_ID     

     
--GET WRITEOFF AMOUNT AGAINST ALL THE CUSTOMERS IN A TEMP TABLE      
  
CREATE TABLE #POLICIES_TO_WRITE_OFF  
(  
	CUSTOMER_ID Int,  
	POLICY_ID Int ,   
	BALANCE  Decimal(18,2)  
)  
   
  
INSERT INTO #POLICIES_TO_WRITE_OFF   
	( CUSTOMER_ID , POLICY_ID  , BALANCE )   
---Without Fee Items
SELECT    CUSTOMER_ID ,   POLICY_ID  ,   
 (SUM(ISNULL(TOTAL_DUE,0)) - SUM(ISNULL(TOTAL_PAID,0)))  
FROM     
ACT_CUSTOMER_OPEN_ITEMS WITH(NOLOCK)   
WHERE 
CUSTOMER_ID IS NOT NULL AND CUSTOMER_ID NOT IN (0)     
AND 
(
	ITEM_TRAN_CODE_TYPE  <> 'FEES'    
	OR 
	UPDATED_FROM = 'F'
)
GROUP BY    
CUSTOMER_ID,POLICY_ID    
HAVING     
ABS((SUM(ISNULL(TOTAL_DUE,0)) - SUM(ISNULL(TOTAL_PAID,0))))      
BETWEEN -@SMALL_BALANCE AND @SMALL_BALANCE    
AND ABS((SUM(ISNULL(TOTAL_DUE,0)) - SUM(ISNULL(TOTAL_PAID,0))))  <> 0    

--Temp Postings

CREATE TABLE #TMP_POST
(	
	IDENT_COL 			[int] IDENTITY(1,1) NOT NULL ,   
	ACCOUNT_ID 			SMALLINT,
	AGENCY_COMM_AMT			DECIMAL(18,2),
	AGENCY_COMM_PERC		Decimal(18,2),
	CUSTOMER_ID			INT,
	AGENCY_ID			INT,
	SOURCE_EFFECTIVE_DATE		DATETIME,
	DUE_DATE			DATETIME,
	POLICY_ID			INT,
	POLICY_VERSION_ID		INT,
	ITEM_TRAN_CODE			VARCHAR(10),
	ITEM_TRAN_CODE_TYPE		VARCHAR(10),
	GROSS_AMOUNT			DECIMAL(18,2),
	TRAN_ENTITY			VARCHAR(300),
	TRAN_DESC			VARCHAR(300),
	STATE_ID			INT,
	LOB_ID				INT
)
	 

CREATE TABLE #TEMP_ITEM
(
	OPEN_ITEM_ID INT,CUSTOMER_ID INT, POLICY_ID INT, POLICY_VERSION_ID INT, WRITE_OFF_AMOUNT DECIMAL(18,2)
)
 
  
----DECLARE CURSOR -----      
DECLARE CURWRITEOFFVALUES CURSOR      
LOCAL FORWARD_ONLY STATIC       
FOR SELECT CUSTOMER_ID , POLICY_ID , BALANCE   
FROM #POLICIES_TO_WRITE_OFF  
      
--VARIBLES FOR RETRIEVING THE VALUES FROM CURSOR      
DECLARE @CUST_ID INT ,@POL_ID SMALLINT, @POLICY_VERSION_ID SMALLINT ,@BALANCE DECIMAL(18,2) ,   
		@FEES_AMOUNT Decimal(18,2)   , @RECON_TILL_DATE Datetime , @HOME_EMP 		CHAR(1)
      
OPEN CURWRITEOFFVALUES      
     
FETCH NEXT FROM CURWRITEOFFVALUES INTO @CUST_ID,@POL_ID,@BALANCE  
      

--Ravindra(10-31-2008) 
--Policy could have all items effective in past in that case nothing will be reconciled 
-- succedding auto recon programm will reconcile it and will not update Processed Amount for agency

SET @RECON_TILL_DATE  = GETDATE() 


WHILE @@FETCH_STATUS = 0   ---THE FETCH STATEMENT WAS SUCCESSFUL.      
BEGIN      
  
	SET @FEES_AMOUNT = 0   
	
	SELECT @POLICY_VERSION_ID = MAX(POLICY_VERSION_ID) FROM POL_CUSTOMER_POLICY_LIST   
	WHERE CUSTOMER_ID = @CUST_ID   
	AND POLICY_ID = @POL_ID   

	SELECT  @HOME_EMP = CASE ISNULL(IS_HOME_EMP, 0) WHEN 1 THEN 'Y' ELSE 'N' END , 
	--Ravindra(02-04-2009): Reconcile all items. If positive writeoff and cancellation effective in future
	--reconcilling till today will not consider cancellation items
	@RECON_TILL_DATE = APP_EXPIRATION_DATE,
	@POLICY_AGENCY_ID = AGENCY_ID 
	FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK)
    WHERE POLICY_ID = @POL_ID 	AND POLICY_VERSION_ID = @POLICY_VERSION_ID AND CUSTOMER_ID = @CUST_ID

	--------Added on 17 Sep 2009 
	SELECT @AGENCY_INFO = LTRIM(RTRIM(ISNULL(MNT.AGENCY_CODE,''))) + ' - ' + ISNULL(AGENCY_DISPLAY_NAME,'')
	FROM MNT_AGENCY_LIST MNT (nolock) 
	WHERE AGENCY_ID = @POLICY_AGENCY_ID

	------Recon Items Added on 17 Sep 2009 
	IF (
		SELECT COUNT(CUSTOMER_ID) FROM ACT_CUSTOMER_OPEN_ITEMS WITH(NOLOCK) 
		WHERE CUSTOMER_ID = @CUST_ID AND POLICY_ID = @POL_ID 
		AND ITEM_TRAN_CODE_TYPE  <> 'FEES'    
		AND UPDATED_FROM = 'P'
		AND ABS(ISNULL(TOTAL_DUE,0) - ISNULL(TOTAL_PAID,0))<>0
		) > 1
		
	BEGIN
		--EXECUTING RECONCILATION PROCESS      
		EXEC Proc_ReconCustomerOpenItem @RECON_TILL_DATE  ,@USER_ID,@CUST_ID,@POL_ID
	END


--	SET @RECON_TILL_DATE  = NULL 
--	SELECT @RECON_TILL_DATE  = MAX(SOURCE_EFF_DATE) 
--	FROM ACT_CUSTOMER_OPEN_ITEMS 
--	WHERE CUSTOMER_ID = @CUST_ID AND POLICY_ID = @POL_ID 

		SELECT @FEES_AMOUNT = ISNULL ( SUM( ISNULL(TOTAL_DUE,0) - ISNULL(TOTAL_PAID , 0) )  , 0)   
		FROM ACT_CUSTOMER_OPEN_ITEMS   
		WHERE CUSTOMER_ID = @CUST_ID   
		AND POLICY_ID = @POL_ID   
		AND ITEM_TRAN_CODE_TYPE = 'FEES' AND UPDATED_FROM <> 'F'
		GROUP BY CUSTOMER_ID  , POLICY_ID , ITEM_TRAN_CODE_TYPE   
	      
		IF ( @FEES_AMOUNT <> 0 )  
		BEGIN   
			UPDATE ACT_CUSTOMER_OPEN_ITEMS SET TOTAL_DUE = TOTAL_PAID    
			WHERE CUSTOMER_ID = @CUST_ID   
			AND POLICY_ID = @POL_ID   
			AND ITEM_TRAN_CODE_TYPE = 'FEES' AND UPDATED_FROM <> 'F'
		END  
	

	------------------------------------------------Commission Posting---(20 may 2008)------------------
	-- Calculating Total Write_Off Amount.
--	DECLARE @WRITE_OFF_AMOUNT DECIMAL (18,2)
--	SET @WRITE_OFF_AMOUNT = 0
--	SELECT @WRITE_OFF_AMOUNT = ISNULL ( SUM( ISNULL(TOTAL_DUE,0) - ISNULL(TOTAL_PAID , 0) )  , 0)   
--	FROM ACT_CUSTOMER_OPEN_ITEMS   
--	WHERE CUSTOMER_ID = @CUST_ID   
--	AND POLICY_ID = @POL_ID   
--	AND ITEM_TRAN_CODE_TYPE <> 'FEES'   
--	GROUP BY CUSTOMER_ID  , POLICY_ID , ITEM_TRAN_CODE_TYPE 

	--Get Accounts
	DECLARE @COMMISSION_TYPE_CODE VARCHAR(10)	
	SET @COMMISSION_TYPE_CODE = 'ENDC'   

	DECLARE @COMM_EXPENSE_ACCOUNT INT
	DECLARE @COMM_PAYABLE_ACCOUNT INT
	DECLARE @BILL_TYPE VARCHAR(10)
	DECLARE @POL_NUMBER VARCHAR(10)

	SELECT 
	@BILL_TYPE = BILL_TYPE ,
	@POL_NUMBER = POLICY_NUMBER
	FROM POL_CUSTOMER_POLICY_LIST with (nolock) 
	WHERE CUSTOMER_ID = @CUST_ID AND POLICY_ID = @POL_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID

	SELECT
	@COMM_EXPENSE_ACCOUNT  		= EXP_COMM_INCURRED ,
	@COMM_PAYABLE_ACCOUNT 		= CASE @BILL_TYPE 
							WHEN 'AB' THEN LIB_COMM_PAYB_AGENCY_BILL 
							ELSE LIB_COMM_PAYB_DIRECT_BILL 
					  		END
	FROM ACT_GENERAL_LEDGER WITH(NOLOCK)  
	WHERE FISCAL_ID =  @FISCAL_ID  

	--PRAVEEN KASANA(17 JULY 2009) 
	--MODIFIED (AGENCY_COMM_AMT) -->@BALANCE * (COMM_PERC/100)
	--Ravindra(12-10-2008): No commission entry required for Home Employee
	IF @HOME_EMP <> 'Y'
	BEGIN 

		-- In tran entity Agency Name , In tran Desc policy number 
		---Entry for COMM_EXPENSE_ACCOUNT Credit
		INSERT INTO #TMP_POST
		(  
			ACCOUNT_ID, AGENCY_COMM_AMT	, AGENCY_COMM_PERC, CUSTOMER_ID, AGENCY_ID,	SOURCE_EFFECTIVE_DATE,
			DUE_DATE, POLICY_ID, POLICY_VERSION_ID, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE,GROSS_AMOUNT	,--gross amount write off amount
			TRAN_ENTITY,TRAN_DESC,STATE_ID,LOB_ID
		)		
		SELECT  
		@EXP_SMALL_BALANCE_WRITE_OFF,--@COMM_EXPENSE_ACCOUNT,
		( ISNULL(TOTAL_DUE,0) - ISNULL(TOTAL_PAID,0))
		* (NET_PREMIUM/GROSS_AMOUNT)
		 * (ISNULL(AGENCY_COMM_PERC,0) / 100) * -1 ,
		--ROUND( ((@BALANCE) * (ISNULL(AGENCY_COMM_PERC,0) / 100) * -1),2),
		ISNULL(AGENCY_COMM_PERC,0),	@CUST_ID,	OI.AGENCY_ID,	SOURCE_EFF_DATE,	DUE_DATE,	@POL_ID,
		@POLICY_VERSION_ID,		@COMMISSION_TYPE_CODE,	'COM',	@BALANCE,
		@AGENCY_INFO,--	ISNULL(MNT.AGENCY_CODE,'') + ' - ' + ISNULL(AGENCY_DISPLAY_NAME,''),
		@POL_NUMBER + ' ' + CAST(@POLICY_VERSION_ID AS VARCHAR) + '.0',
		OI.STATE_ID,	OI.LOB_ID	 
		FROM 
		ACT_CUSTOMER_OPEN_ITEMS OI with(nolock)
		left join MNT_AGENCY_LIST MNT on MNT.AGENCY_ID = OI.Agency_id
		WHERE CUSTOMER_ID = @CUST_ID AND POLICY_ID = @POL_ID
		AND UPDATED_FROM ='P' 
		AND ITEM_TRAN_CODE_TYPE  <> 'FEES'   
		AND ABS(ISNULL(TOTAL_DUE,0) - ISNULL(TOTAL_PAID,0))<>0


		---Entry for COMM_PAYABLE_ACCOUNT Debit

		INSERT INTO #TMP_POST
		(  
		ACCOUNT_ID,AGENCY_COMM_AMT	,AGENCY_COMM_PERC,CUSTOMER_ID,	AGENCY_ID,	SOURCE_EFFECTIVE_DATE,
		DUE_DATE,POLICY_ID,		POLICY_VERSION_ID,ITEM_TRAN_CODE,		ITEM_TRAN_CODE_TYPE,GROSS_AMOUNT	,--gross amount
		TRAN_ENTITY,TRAN_DESC,STATE_ID,LOB_ID
		)		
		SELECT  
		@COMM_PAYABLE_ACCOUNT,
		( ISNULL(TOTAL_DUE,0) - ISNULL(TOTAL_PAID,0))
		* (NET_PREMIUM/GROSS_AMOUNT)
		* (ISNULL(AGENCY_COMM_PERC,0) / 100) ,
		--ROUND( ((@BALANCE) * (ISNULL(AGENCY_COMM_PERC,0) / 100)),2),
		ISNULL(AGENCY_COMM_PERC,0),@CUST_ID,OI.AGENCY_ID,SOURCE_EFF_DATE,DUE_DATE,@POL_ID,@POLICY_VERSION_ID,	
		@COMMISSION_TYPE_CODE,'COM',@BALANCE,
		@AGENCY_INFO,--ISNULL(MNT.AGENCY_CODE,'') + ' - ' + ISNULL(AGENCY_DISPLAY_NAME,''),
		@POL_NUMBER + ' ' + CAST(@POLICY_VERSION_ID AS VARCHAR) + '.0' ,
		OI.STATE_ID,OI.LOB_ID	
		FROM 
		ACT_CUSTOMER_OPEN_ITEMS OI with(nolock)
		LEFT JOIN MNT_AGENCY_LIST MNT ON MNT.AGENCY_ID = OI.AGENCY_ID
		WHERE CUSTOMER_ID = @CUST_ID AND POLICY_ID = @POL_ID
		AND UPDATED_FROM ='P' 
		AND ITEM_TRAN_CODE_TYPE  <> 'FEES'   
		AND ABS(ISNULL(TOTAL_DUE,0) - ISNULL(TOTAL_PAID,0))<>0

		----Agency Commission Detailsed Entry (12 June 2008)
		DECLARE @NOT_COUNTED_RECEIVABLE INT
		SET @NOT_COUNTED_RECEIVABLE = 1

		INSERT INTO ACT_AGENCY_STATEMENT_DETAILED
		(
			MONTH_NUMBER,	AGENCY_ID,	POLICY_ID,	POLICY_VERSION_ID,
			CUSTOMER_ID,	SOURCE_EFF_DATE, PREMIUM_AMOUNT,	COMMISSION_RATE,
			SOURCE_ROW_ID ,	MONTH_YEAR,	TRAN_TYPE,	AMOUNT_FOR_CALCULATION,
			COMMISSION_AMOUNT,
			DUE_AMOUNT,
			CUSTOMER_OPEN_ITEM_ID ,	GROSS_PREMIUM,	TRAN_CODE,	COMM_TYPE,
			BILL_TYPE,	UPDATED_FROM,	NOT_COUNTED_RECEIVABLE
		)
		SELECT  
			MONTH(GETDATE()),OI.AGENCY_ID, @POL_ID, @POLICY_VERSION_ID,     
			@CUST_ID,	GETDATE() ,ISNULL(TOTAL_DUE,0) - ISNULL(TOTAL_PAID,0), ISNULL(AGENCY_COMM_PERC,0),
			OI.SOURCE_ROW_ID , YEAR(GETDATE()), 'COM' , 
			(ISNULL(TOTAL_DUE,0) - ISNULL(TOTAL_PAID,0))* (NET_PREMIUM/GROSS_AMOUNT),
			( ISNULL(TOTAL_DUE,0) - ISNULL(TOTAL_PAID,0)) * (ISNULL(AGENCY_COMM_PERC,0) / 100) * (NET_PREMIUM/GROSS_AMOUNT)* -1 ,
			--ROUND( ((@BALANCE) * (ISNULL(AGENCY_COMM_PERC,0) / 100)* -1),2),
			( ISNULL(TOTAL_DUE,0) - ISNULL(TOTAL_PAID,0)) * (ISNULL(AGENCY_COMM_PERC,0) / 100) * (NET_PREMIUM/GROSS_AMOUNT)* -1 ,
			--ROUND( ((@BALANCE) * (ISNULL(AGENCY_COMM_PERC,0) / 100)* -1),2),		
			OI.IDEN_ROW_ID ,(ISNULL(TOTAL_DUE,0) - ISNULL(TOTAL_PAID,0)) ,@COMMISSION_TYPE_CODE,'REG',
			@BILL_TYPE , 'W' ,@NOT_COUNTED_RECEIVABLE	
			FROM 
			ACT_CUSTOMER_OPEN_ITEMS OI with(nolock)
			LEFT JOIN MNT_AGENCY_LIST MNT ON MNT.AGENCY_ID = OI.AGENCY_ID
			WHERE CUSTOMER_ID = @CUST_ID AND POLICY_ID = @POL_ID
			AND UPDATED_FROM ='P'
			AND ITEM_TRAN_CODE_TYPE  <> 'FEES'   
			AND ABS(ISNULL(TOTAL_DUE,0) - ISNULL(TOTAL_PAID,0))<>0
			
		---Agency Commission Detailsed Entry (12 June 2008)

		--Addition By Shikha for #4988.
		TRUNCATE TABLE #TEMP_ITEM
		
		INSERT INTO #TEMP_ITEM   
			( OPEN_ITEM_ID,CUSTOMER_ID , POLICY_ID  , POLICY_VERSION_ID, WRITE_OFF_AMOUNT )
		SELECT IDEN_ROW_ID,CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, (ISNULL(TOTAL_DUE,0)-ISNULL(TOTAL_PAID,0))AS WRITE_OFF_AMOUNT
		FROM ACT_CUSTOMER_OPEN_ITEMS
		WHERE CUSTOMER_ID = @CUST_ID AND POLICY_ID = @POL_ID
		AND UPDATED_FROM ='P' AND ABS(ISNULL(TOTAL_DUE,0) - ISNULL(TOTAL_PAID,0))<>0

		DECLARE CURWRITEOFFFORPIC CURSOR      
		LOCAL FORWARD_ONLY STATIC       
		FOR SELECT OPEN_ITEM_ID,CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID, WRITE_OFF_AMOUNT   
		FROM #TEMP_ITEM  
		--Variables for fetching values from cursor
		DECLARE @OPEN_ITEM_ID INT,@CUSTOMER_ID INT, @POLICY_ID INT , @POL_VERSION_ID INT, @WRITE_OFFAMOUNT DECIMAL(18,2)

		OPEN CURWRITEOFFFORPIC
		FETCH NEXT FROM CURWRITEOFFFORPIC INTO @OPEN_ITEM_ID,@CUSTOMER_ID,@POLICY_ID,@POL_VERSION_ID,@WRITE_OFFAMOUNT
		WHILE @@FETCH_STATUS = 0 
		BEGIN
		IF EXISTS (SELECT IDEN_ROW_ID FROM ACT_AGENCY_OPEN_ITEMS 
			WHERE ITEM_TRAN_CODE = 'PIC' AND CUSTOMER_ID = @CUSTOMER_ID
			AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POL_VERSION_ID)
		BEGIN
			DECLARE @PIC_COMMISSION_TYPE_CODE Varchar(5)
			SET @PIC_COMMISSION_TYPE_CODE = 'PIC'
	
			DECLARE @AGENCY_PIC_COMM_PERC DECIMAL (18,2)
			DECLARE @AGENCY_PIC_COMM_AMT DECIMAL (18,2)
			DECLARE @AGENCY_ID INT

			SELECT 
			@AGENCY_PIC_COMM_PERC  = ISNULL(AGENCY_COMM_PERC,0),
			@AGENCY_ID = AGENCY_ID
			FROM ACT_AGENCY_OPEN_ITEMS WITH(NOLOCK) 
			WHERE ITEM_TRAN_CODE = 'PIC' AND CUSTOMER_ID = @CUSTOMER_ID
			AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POL_VERSION_ID

			SET @AGENCY_PIC_COMM_AMT =  (@WRITE_OFFAMOUNT * @AGENCY_PIC_COMM_PERC ) / 100

			---Entry for COMM_EXPENSE_ACCOUNT Credit
			INSERT INTO #TMP_POST
			(  
				ACCOUNT_ID, AGENCY_COMM_AMT	, AGENCY_COMM_PERC, CUSTOMER_ID, AGENCY_ID,	SOURCE_EFFECTIVE_DATE,
				DUE_DATE, POLICY_ID, POLICY_VERSION_ID, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE,GROSS_AMOUNT	,--gross amount write off amount
				TRAN_ENTITY,TRAN_DESC,STATE_ID,LOB_ID
			)		
			SELECT  
			@EXP_SMALL_BALANCE_WRITE_OFF,--@COMM_EXPENSE_ACCOUNT,
			( ISNULL(TOTAL_DUE,0) - ISNULL(TOTAL_PAID,0)) * (NET_PREMIUM/GROSS_AMOUNT) * (ISNULL(@AGENCY_PIC_COMM_PERC,0) / 100) * -1 ,
			--ROUND( ((@BALANCE) * (ISNULL(@AGENCY_PIC_COMM_PERC,0) / 100)* -1),2),
			@AGENCY_PIC_COMM_PERC,	@CUST_ID,	OI.AGENCY_ID,	SOURCE_EFF_DATE, DUE_DATE, @POL_ID,
			@POLICY_VERSION_ID,		@PIC_COMMISSION_TYPE_CODE,	'COM',	@BALANCE, ISNULL(MNT.AGENCY_CODE,'') + ' - ' + ISNULL(AGENCY_DISPLAY_NAME,''),
			@POL_NUMBER + ' ' + CAST(@POLICY_VERSION_ID AS VARCHAR) + '.0',
			OI.STATE_ID,	OI.LOB_ID	 
			FROM 
			ACT_CUSTOMER_OPEN_ITEMS OI with(nolock)
			left join MNT_AGENCY_LIST MNT on MNT.AGENCY_ID = OI.Agency_id
			WHERE OI.IDEN_ROW_ID = @OPEN_ITEM_ID


			---Entry for COMM_PAYABLE_ACCOUNT Debit

			INSERT INTO #TMP_POST
			(  
			ACCOUNT_ID,AGENCY_COMM_AMT	,AGENCY_COMM_PERC,CUSTOMER_ID,	AGENCY_ID,	SOURCE_EFFECTIVE_DATE,
			DUE_DATE,POLICY_ID,		POLICY_VERSION_ID,ITEM_TRAN_CODE,ITEM_TRAN_CODE_TYPE,GROSS_AMOUNT	,--gross amount
			TRAN_ENTITY,TRAN_DESC,STATE_ID,LOB_ID
			)		
			SELECT  
			@COMM_PAYABLE_ACCOUNT,
			-- ( ISNULL(TOTAL_DUE,0) - ISNULL(TOTAL_PAID,0))* (NET_PREMIUM/GROSS_AMOUNT) * (ISNULL(@AGENCY_PIC_COMM_PERC,0) / 100) ,
			ROUND( ((@BALANCE) * (ISNULL(@AGENCY_PIC_COMM_PERC,0) / 100)),2),
			ISNULL(@AGENCY_PIC_COMM_PERC,0),@CUST_ID,OI.AGENCY_ID,SOURCE_EFF_DATE,DUE_DATE,@POL_ID,@POLICY_VERSION_ID,	
			@PIC_COMMISSION_TYPE_CODE,'COM',@BALANCE,ISNULL(MNT.AGENCY_CODE,'') + ' - ' + ISNULL(AGENCY_DISPLAY_NAME,''),
			@POL_NUMBER + ' ' + CAST(@POLICY_VERSION_ID AS VARCHAR) + '.0' ,
			OI.STATE_ID,OI.LOB_ID	
			FROM 
			ACT_CUSTOMER_OPEN_ITEMS OI with(nolock)
			LEFT JOIN MNT_AGENCY_LIST MNT ON MNT.AGENCY_ID = OI.AGENCY_ID
			WHERE OI.IDEN_ROW_ID = @OPEN_ITEM_ID

			----Agency Commission Detailed Entry 
			--DECLARE @NOT_COUNTED_RECEIVABLE INT
			SET @NOT_COUNTED_RECEIVABLE = 1

			INSERT INTO ACT_AGENCY_STATEMENT_DETAILED
			(
				MONTH_NUMBER,	AGENCY_ID,	POLICY_ID,	POLICY_VERSION_ID,
				CUSTOMER_ID,	SOURCE_EFF_DATE, PREMIUM_AMOUNT,	COMMISSION_RATE,
				SOURCE_ROW_ID ,	MONTH_YEAR,	TRAN_TYPE,	AMOUNT_FOR_CALCULATION,
				COMMISSION_AMOUNT,
				DUE_AMOUNT,
				CUSTOMER_OPEN_ITEM_ID ,	GROSS_PREMIUM,	TRAN_CODE,	COMM_TYPE,
				BILL_TYPE,	UPDATED_FROM,	NOT_COUNTED_RECEIVABLE
			)
			SELECT  
				MONTH(GETDATE()),OI.AGENCY_ID, @POL_ID, @POLICY_VERSION_ID,     
				@CUST_ID,	GETDATE() ,ISNULL(TOTAL_DUE,0) - ISNULL(TOTAL_PAID,0), ISNULL(@AGENCY_PIC_COMM_PERC,0),
				OI.SOURCE_ROW_ID , YEAR(GETDATE()), 'COM' , (ISNULL(TOTAL_DUE,0) - ISNULL(TOTAL_PAID,0))* (NET_PREMIUM/GROSS_AMOUNT),
				( ISNULL(TOTAL_DUE,0) - ISNULL(TOTAL_PAID,0)) * (ISNULL(@AGENCY_PIC_COMM_PERC,0) / 100)	* (NET_PREMIUM/GROSS_AMOUNT) * -1 ,
				--ROUND( ((@BALANCE) * (ISNULL(@AGENCY_PIC_COMM_PERC,0) / 100)* -1),2),
				(ISNULL(TOTAL_DUE,0) - ISNULL(TOTAL_PAID,0)) * (ISNULL(@AGENCY_PIC_COMM_PERC,0) / 100) * (NET_PREMIUM/GROSS_AMOUNT)* -1 ,
				--ROUND( ((@BALANCE) * (ISNULL(@AGENCY_PIC_COMM_PERC,0) / 100)* -1),2),
				OI.IDEN_ROW_ID ,(ISNULL(TOTAL_DUE,0) - ISNULL(TOTAL_PAID,0)) ,@PIC_COMMISSION_TYPE_CODE,'REG',
				@BILL_TYPE , 'W' ,@NOT_COUNTED_RECEIVABLE	
				FROM 
				ACT_CUSTOMER_OPEN_ITEMS OI with(nolock)
				LEFT JOIN MNT_AGENCY_LIST MNT ON MNT.AGENCY_ID = OI.AGENCY_ID
				WHERE OI.IDEN_ROW_ID = @OPEN_ITEM_ID
			END
		FETCH NEXT FROM CURWRITEOFFFORPIC INTO @OPEN_ITEM_ID,@CUSTOMER_ID,@POLICY_ID,@POL_VERSION_ID,@WRITE_OFFAMOUNT
		END
		CLOSE CURWRITEOFFFORPIC   
		DEALLOCATE CURWRITEOFFFORPIC  
		 
		--End of Addition by Shikha.

		------------------------------------------END--- Commission Posting---(20 may 2008)------------------
	END
  
	 --INSERT THE ITEMS IN ACT_CUSTOMER_OPEN_ITEMS      
	 INSERT INTO ACT_CUSTOMER_OPEN_ITEMS(      
	 UPDATED_FROM,SOURCE_ROW_ID,      
	 SOURCE_NUM,SOURCE_TRAN_DATE,SOURCE_EFF_DATE,POSTING_DATE,TOTAL_DUE,      
	 TOTAL_PAID,AGENCY_COMM_APPLIES,AGENCY_COMM_PERC,AGENCY_COMM_AMT,      
	 AGENCY_ID,CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,PAYMENT_DATE,      
	 DATE_FULL_PAID,PAYMENT_STATUS,NOT_COUNTED_RECEIVABLE,PAYOR_TYPE,DIV_ID,      
	 DEPT_ID,PC_ID,IS_TEMP_ENTRY,IN_RECON,IS_PREBILL,BILL_CODE,      
	 GROSS_AMOUNT,ITEM_TRAN_CODE,ITEM_TRAN_CODE_TYPE,      
	 TRAN_ID,CASH_ACCOUNTING,RECUR_JOURNAL_VERSION,JE_RECON_COUNTER,      
	 AMT_IN_RECON,OPEN_RECON_CTR,LOB_ID,SUB_LOB_ID,COUNTRY_ID,STATE_ID,      
	 COMMISSION_TYPE,ITEM_STATUS,IS_CHECK_CREATED,ITEM_ORIGINAL_STATUS,      
	 TRANS_DESC,DUE_DATE,PROCESSED_AMOUNT_FOR_AGENCY,INSTALLMENT_ROW_ID,      
	 NET_PREMIUM,RISK_ID,RISK_TYPE      
	 )      
	 SELECT      
	 'W',NULL,      
	 NULL,GETDATE(),GETDATE(),GETDATE(),( @BALANCE) * -1, 
	 NULL,NULL,NULL,NULL,      
	 NULL,@CUST_ID,@POL_ID,@POLICY_VERSION_ID,NULL,      
	 NULL,NULL,NULL,NULL,NULL,      
	 NULL,NULL,NULL,NULL,NULL,NULL,      
	 NULL,'SBWF','PREM',      
	 NULL,NULL,NULL,NULL,      
	 NULL,NULL,NULL,NULL,NULL,NULL,      
	 NULL,NULL,NULL,NULL,      
	 'Small Balance write off',GETDATE(),(@BALANCE) * -1,NULL,      
	 NULL,NULL,NULL      
	  
	 --EXECUTING RECONCILATION PROCESS      
	 EXEC Proc_ReconCustomerOpenItem @RECON_TILL_DATE  ,@USER_ID,@CUST_ID,@POL_ID    ,  1   


	  
	  --Fetch Customer Info  
	 SELECT @TRAN_ENTITY =  ISNULL(CUSTOMER_CODE,'') + ' - ' + ISNULL(CUSTOMER_FIRST_NAME,'') + ' ' +
				CASE ISNULL(CUSTOMER_MIDDLE_NAME,'') WHEN '' THEN ISNULL(CUSTOMER_LAST_NAME,'') ELSE 
				ISNULL(CUSTOMER_MIDDLE_NAME,'') + ' ' + ISNULL(CUSTOMER_LAST_NAME,'') END

	 FROM CLT_CUSTOMER_LIST WITH(NOLOCK)     
	 WHERE CUSTOMER_ID = @CUST_ID      
	 --Fetch Policy Number / STATE ID / LOB_ID  
	 DECLARE @STATE_ID INT, @LOB_ID INT

	 SELECT 
	 @TRAN_DESC = POLICY_NUMBER ,
	 @STATE_ID = STATE_ID ,
	 @LOB_ID = POLICY_LOB
	 FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK) WHERE CUSTOMER_ID= @CUST_ID  
	 AND POLICY_ID = @POL_ID  

	 SET @TRAN_DESC = @TRAN_DESC + ' ' + CAST(@POLICY_VERSION_ID AS VARCHAR) + '.0'  
	   
     
	  ---ACCOUNT POSTING PER CUSTOMER(FOR UNCOLLECTED PREMIUM)      
	  INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS          
	  (          
	  ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,          
	  SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_COMM_PERC,          
	  AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,          
	  POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,           
	  IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,           
	  SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,           
	  TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,          
	  IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME ,SOURCE_GROUP_ID,  
	  TRAN_ENTITY,TRAN_DESC  
	       
	  )          
	  SELECT           
	  @AST_UNCOLL_PRM_CUSTOMER, 'W', NULL, NULL, NULL,          
	  NULL, GETDATE(), GETDATE(), GETDATE(), ( @BALANCE) * -1, NULL,      
	  NULL, NULL, @CUST_ID,      
	  @POL_ID, @POLICY_VERSION_ID, NULL, NULL, NULL,      
	  NULL, NULL, ( @BALANCE - @FEES_AMOUNT) * -1, 'SBWF', 'PREM', NULL, @LOB_ID,      
	  NULL, NULL, @STATE_ID, NULL,      
	  NULL, NULL, NULL, NULL,      
	  NULL, NULL, NULL, NULL,NULL,NULL,  
	  @TRAN_ENTITY,@TRAN_DESC      
     
       
      
	  ---ACCOUNT POSTING PER CUSTOMER(FOR WRITTEN PREMIUM)      
	  INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS          
	  (          
	  ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,          
	  SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_COMM_PERC,         
	  AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,          
	  POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,           
	  IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,           
	  SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,           
	  TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,          
	  IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME ,SOURCE_GROUP_ID,  
	  TRAN_ENTITY,TRAN_DESC      
	  )          
	  SELECT           
	  @EXP_SMALL_BALANCE_WRITE_OFF, 'W', NULL, NULL, NULL,          
	  NULL, GETDATE(), GETDATE(), GETDATE(), ( @BALANCE ), NULL,      
	  NULL, NULL, @CUST_ID,      
	  @POL_ID, @POLICY_VERSION_ID, NULL, NULL, NULL,      
	  NULL, NULL, ( @BALANCE - @FEES_AMOUNT), 'SBWF', 'PREM', NULL, @LOB_ID,      
	  NULL, NULL, @STATE_ID, NULL,      
	  NULL, NULL, NULL, NULL,      
	  NULL, NULL, NULL, NULL,NULL,NULL,  
	  @TRAN_ENTITY,@TRAN_DESC  
        
     
	FETCH NEXT FROM CURWRITEOFFVALUES INTO @CUST_ID,@POL_ID, @BALANCE  
	if @@FETCH_STATUS <> 0       
		break      

END      
  
CLOSE CURWRITEOFFVALUES        
DEALLOCATE CURWRITEOFFVALUES        
  
DROP TABLE #POLICIES_TO_WRITE_OFF  
      


--==================Commission Posting (19 May 2008)========================

  INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS          
  (          
  ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,          
  SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_COMM_PERC,          
  AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,          
  POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,           
  IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,    
  SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,           
  TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,          
  IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME ,SOURCE_GROUP_ID,  
  TRAN_ENTITY,TRAN_DESC  
       
  )          
  SELECT           
  ACCOUNT_ID, 'W', NULL, NULL, NULL,          
  NULL, GETDATE(), GETDATE(), GETDATE(),  SUM(ISNULL(AGENCY_COMM_AMT,0)), ISNULL(AGENCY_COMM_PERC,0),      
  SUM(ISNULL(AGENCY_COMM_AMT,0)) , AGENCY_ID, CUSTOMER_ID,      
  POLICY_ID, POLICY_VERSION_ID, NULL, NULL, NULL,      
  NULL, NULL, GROSS_AMOUNT, ITEM_TRAN_CODE , ITEM_TRAN_CODE_TYPE, NULL, LOB_ID,     
  NULL, NULL, STATE_ID, NULL,      
  NULL, NULL, NULL, NULL,      
  NULL, NULL, NULL, NULL,NULL,NULL,  
  TRAN_ENTITY,TRAN_DESC    
  FROM #TMP_POST  with(nolock)
  GROUP BY CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,AGENCY_ID,AGENCY_COMM_PERC,ACCOUNT_ID,GROSS_AMOUNT
	, TRAN_ENTITY,TRAN_DESC , STATE_ID ,LOB_ID,ITEM_TRAN_CODE , ITEM_TRAN_CODE_TYPE
  HAVING ABS(SUM(ISNULL(AGENCY_COMM_AMT,0))) > 0 

DROP TABLE #TMP_POST
DROP TABLE #TEMP_ITEM	
----=======END==============================Commission Posting=====================================


      
END        

--go    
--exec Proc_EOD_WriteOffAmount      


--
--SELECT D.SOURCE_ROW_ID,M.ACC_DESCRIPTION,M.ACC_NUMBER,D.TRANSACTION_AMOUNT ,
--D.ITEM_TRAN_CODE_TYPE,D.ITEM_TRAN_CODE,D.* 
--FROM ACT_ACCOUNTS_POSTING_DETAILS D WITH(NOLOCK)
--INNER JOIN ACT_GL_ACCOUNTS M ON D.ACCOUNT_ID = M.ACCOUNT_ID 
--WHERE --source_row_id = 4683 and updated_from = 'D' 
----AND D.ACCOUNT_ID =73
--CUSTOMER_ID= 3305 AND POLICY_ID= 3
---- AND D.ACCOUNT_ID =73 posting_date > '12-3-2008'
----d.identity_row_id between 133712 and 133812
--ORDER BY D.IDENTITY_ROW_ID 
--
--
--
--SELECT MONTH_NUMBER,ROW_ID,GROSS_PREMIUM,PREMIUM_AMOUNT,AMOUNT_FOR_CALCULATION,STAT_FEES_FOR_CALCULATION,
--COMMISSION_RATE,COMMISSION_AMOUNT,DUE_AMOUNT,TRAN_TYPE,TRAN_CODE,COMM_TYPE,BILL_TYPE,AGENCY_ID,CUSTOMER_ID,
--POLICY_ID,POLICY_VERSION_ID,SOURCE_EFF_DATE,TOTAL_PAID,SOURCE_ROW_ID,IS_TEMP_ENTRY,AGENCY_OPEN_ITEM_ID,
--CUSTOMER_OPEN_ITEM_ID,ITEM_STATUS,UPDATED_FROM,IS_CHECK_CREATED,NOT_COUNTED_RECEIVABLE,ADJUSTED_AMOUNT
--FROM ACT_AGENCY_STATEMENT_DETAILED WHERE CUSTOMER_ID = 3305  AND POLICY_ID = 3 
--rollback tran
GO

