IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetProductsCoveragesPremium]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetProductsCoveragesPremium]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------                                  
Proc Name       : dbo.Proc_UpdateProductsCoveragesPremium                  
Created by      : Pradeep Kushwaha                        
Date            : 16-July-2010                                           
Purpose         : Update the WRITTEN_PREMIUM of the old product coverages from QuoteXml (QOT_CUSTOMER_QUOTE_LIST_POL table)    
Revison History :                                  
modified by  :     
Used In         : Ebix Advantage web                                  
      sp_find Proc_GetProductsCoveragesPremium,p  
------------------------------------------------------------                                  
Date     Review By          Comments                                  
------   ------------       -------------------------*/                                  
--drop proc DBO.Proc_GetProductsCoveragesPremium                      
CREATE PROC [dbo].[Proc_GetProductsCoveragesPremium]                  
(                                  
 @CUSTOMER_ID INT,                  
 @POLICY_ID INT,    
 @POLICY_VERSION_ID SMALLINT,  
 @LOBID INT,  
 @WRITTEN_PREMIUM DECIMAL(18,2) OUT ,
 @STATE_FEE DECIMAL(12,2) OUT  
 )                                 
AS                  
BEGIN         
     IF (@LOBID = 3 or @LOBID = 2)  
    BEGIN    
		
		SELECT @WRITTEN_PREMIUM = SUM(CASE WHEN COVERAGE_CODE_ID IN (20007,20008,20009) THEN 0 ELSE ISNULL(WRITTEN_PREMIUM,0) END) , 
		@STATE_FEE = SUM(CASE WHEN COVERAGE_CODE_ID IN (20007,20008,20009) THEN ISNULL(WRITTEN_PREMIUM,0) ELSE 0 END) 
		FROM POL_VEHICLE_COVERAGES WITH(NOLOCK) INNER JOIN
		POL_VEHICLES RISK_INFO WITH(NOLOCK) ON
		RISK_INFO.CUSTOMER_ID=POL_VEHICLE_COVERAGES.CUSTOMER_ID AND 
		RISK_INFO.POLICY_ID=POL_VEHICLE_COVERAGES.POLICY_ID AND 
		RISK_INFO.POLICY_VERSION_ID=POL_VEHICLE_COVERAGES.POLICY_VERSION_ID AND 
		RISK_INFO.VEHICLE_ID=POL_VEHICLE_COVERAGES.VEHICLE_ID AND
		ISNULL(RISK_INFO.IS_ACTIVE,'Y')='Y' 		
		WHERE POL_VEHICLE_COVERAGES.CUSTOMER_ID=@CUSTOMER_ID AND POL_VEHICLE_COVERAGES.POLICY_ID=@POLICY_ID   
		AND POL_VEHICLE_COVERAGES.POLICY_VERSION_ID = @POLICY_VERSION_ID
		  
	END  
    ELSE IF (@LOBID = 4)  
    BEGIN    
		SELECT @WRITTEN_PREMIUM = SUM(ISNULL(WRITTEN_PREMIUM,0)) ,
	    @STATE_FEE = 0.00 
		FROM POL_WATERCRAFT_COVERAGE_INFO WITH(NOLOCK) INNER JOIN 
		POL_WATERCRAFT_INFO RISK_INFO WITH(NOLOCK) ON
		RISK_INFO.CUSTOMER_ID=POL_WATERCRAFT_COVERAGE_INFO.CUSTOMER_ID AND 
		RISK_INFO.POLICY_ID=POL_WATERCRAFT_COVERAGE_INFO.POLICY_ID AND 
		RISK_INFO.POLICY_VERSION_ID=POL_WATERCRAFT_COVERAGE_INFO.POLICY_VERSION_ID AND 
		RISK_INFO.BOAT_ID=POL_WATERCRAFT_COVERAGE_INFO.BOAT_ID AND
		ISNULL(RISK_INFO.IS_ACTIVE,'Y')='Y' 		
		WHERE POL_WATERCRAFT_COVERAGE_INFO.CUSTOMER_ID=@CUSTOMER_ID AND POL_WATERCRAFT_COVERAGE_INFO.POLICY_ID=@POLICY_ID   
		AND POL_WATERCRAFT_COVERAGE_INFO.POLICY_VERSION_ID = @POLICY_VERSION_ID
		
	END  
	ELSE IF (@LOBID = 1 OR @LOBID = 6)  
    BEGIN    
		SELECT @WRITTEN_PREMIUM = SUM(ISNULL(WRITTEN_PREMIUM,0)) ,
		@STATE_FEE = 0.00 
		FROM POL_DWELLING_SECTION_COVERAGES WITH(NOLOCK) INNER JOIN
		POL_DWELLINGS_INFO RISK_INFO WITH(NOLOCK) ON
		RISK_INFO.CUSTOMER_ID=POL_DWELLING_SECTION_COVERAGES.CUSTOMER_ID AND 
		RISK_INFO.POLICY_ID=POL_DWELLING_SECTION_COVERAGES.POLICY_ID AND 
		RISK_INFO.POLICY_VERSION_ID=POL_DWELLING_SECTION_COVERAGES.POLICY_VERSION_ID AND 
		RISK_INFO.DWELLING_ID=POL_DWELLING_SECTION_COVERAGES.DWELLING_ID AND
		ISNULL(RISK_INFO.IS_ACTIVE,'Y')='Y' 		
	WHERE POL_DWELLING_SECTION_COVERAGES.CUSTOMER_ID=@CUSTOMER_ID AND POL_DWELLING_SECTION_COVERAGES.POLICY_ID=@POLICY_ID   
		AND POL_DWELLING_SECTION_COVERAGES.POLICY_VERSION_ID = @POLICY_VERSION_ID
	END  
	ELSE IF (@LOBID = 8)  
    BEGIN    
		SELECT @WRITTEN_PREMIUM = SUM(ISNULL(WRITTEN_PREMIUM,0)),
		@STATE_FEE =  0.00 
		FROM POL_AVIATION_VEHICLE_COVERAGES WITH(NOLOCK)INNER JOIN
		POL_AVIATION_VEHICLES RISK_INFO WITH(NOLOCK) ON
		RISK_INFO.CUSTOMER_ID=POL_AVIATION_VEHICLE_COVERAGES.CUSTOMER_ID AND 
		RISK_INFO.POLICY_ID=POL_AVIATION_VEHICLE_COVERAGES.POLICY_ID AND 
		RISK_INFO.POLICY_VERSION_ID=POL_AVIATION_VEHICLE_COVERAGES.POLICY_VERSION_ID AND 
		RISK_INFO.VEHICLE_ID=POL_AVIATION_VEHICLE_COVERAGES.VEHICLE_ID AND
		ISNULL(RISK_INFO.IS_ACTIVE,'Y')='Y' 		
	WHERE POL_AVIATION_VEHICLE_COVERAGES.CUSTOMER_ID=@CUSTOMER_ID AND POL_AVIATION_VEHICLE_COVERAGES.POLICY_ID=@POLICY_ID   
		AND POL_AVIATION_VEHICLE_COVERAGES.POLICY_VERSION_ID = @POLICY_VERSION_ID
	END  
    
    
END                          
GO

