IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_AttachQuickAppCustomer]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_AttachQuickAppCustomer]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN     
--DROP PROC dbo.Proc_AttachQuickAppCustomer     
--go    
/*      
Created By  : Charles Gomes      
Comments  : Attach Quick Application to Customer    
Created Date : 22-Jun-10    
Modified by :sonal  
Modified Date:12-july-2010 
Modified by:Pravesh
Modified date:13-july-2010 
*/    
 --DROP PROC dbo.Proc_AttachQuickAppCustomer     
CREATE PROC [dbo].[Proc_AttachQuickAppCustomer]    
(    
@CUSTOMER_ID INT,    
@NEW_CUSTOMER_ID INT,    
@POLICY_ID INT,     
@POLICY_VERSION_ID SMALLINT,    
@NEW_POLICY_ID INT OUT,    
@NEW_APP_ID INT OUT    
)    
AS    
BEGIN    
     
 DECLARE @POLICY_LOB NVARCHAR(5),    
 @NEW_POLICY_VERSION_ID SMALLINT  ,  
 @IS_COVG BIT,  
 @IS_BILL BIT,  
 @IS_BILLDETAILS BIT,  
 @IS_RISK BIT,  
 @IS_APPINFO BIT,  
 @AGENCY_ID smallint  
   
 SET @IS_COVG=0  
 SET @IS_BILL=0  
 SET @IS_BILLDETAILS=0  
 SET @IS_RISK=0  
 SET @IS_APPINFO=0  
   
     
 IF EXISTS(SELECT CUSTOMER_ID FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND    
 POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID)    
 BEGIN    
      
  SELECT @POLICY_LOB = POLICY_LOB FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND    
  POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID    
      
  SELECT @NEW_POLICY_ID = ISNULL(MAX(POLICY_ID),0)+1  FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK) WHERE CUSTOMER_ID = @NEW_CUSTOMER_ID                                                                                                        
  SET @NEW_POLICY_VERSION_ID = 1       
        
  SELECT @NEW_APP_ID = ISNULL(MAX(APP_ID),0)+1 FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK) WHERE CUSTOMER_ID = @NEW_CUSTOMER_ID   
    
  SELECT @AGENCY_ID = ISNULL(CUSTOMER_AGENCY_ID,0) FROM CLT_CUSTOMER_LIST WHERE CUSTOMER_ID = @NEW_CUSTOMER_ID   
    
--Quick Application Info Start     
  
   SELECT * INTO #POL_CUSTOMER_POLICY_LIST FROM POL_CUSTOMER_POLICY_LIST   
   WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID   
  
   UPDATE #POL_CUSTOMER_POLICY_LIST SET CUSTOMER_ID = @NEW_CUSTOMER_ID, POLICY_ID = @NEW_POLICY_ID, POLICY_VERSION_ID = @NEW_POLICY_VERSION_ID,  
   APP_ID=@NEW_APP_ID,APP_VERSION_ID=@NEW_POLICY_VERSION_ID,AGENCY_ID=@AGENCY_ID    
   WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID    
  
   INSERT INTO POL_CUSTOMER_POLICY_LIST SELECT * FROM #POL_CUSTOMER_POLICY_LIST  
     
   --Quick Application Info End  
   
          -- Maintain co-applicant details
        
         DECLARE @APPLICANT_ID INT 
		 DECLARE @IS_PRIMARY_APPLICANT INT
		 
		 SET @APPLICANT_ID=0              
		 SET @IS_PRIMARY_APPLICANT=0          
              
		 SELECT @APPLICANT_ID = APPLICANT_ID               
		 FROM CLT_APPLICANT_LIST WITH(NOLOCK) WHERE CUSTOMER_ID = @NEW_CUSTOMER_ID AND IS_PRIMARY_APPLICANT = 1              
                
              
		IF (@APPLICANT_ID > 0)              
		BEGIN              
    
		 SET @IS_PRIMARY_APPLICANT=1          
		END         
        
        
           INSERT INTO POL_APPLICANT_LIST                                                                                 
			(                                                                                                            
				POLICY_ID,POLICY_VERSION_ID,CUSTOMER_ID, APPLICANT_ID,CREATED_DATETIME,IS_PRIMARY_APPLICANT                  
			)     
			VALUES                                                                                                           
			(@NEW_POLICY_ID,@NEW_POLICY_VERSION_ID,@NEW_CUSTOMER_ID,@APPLICANT_ID,GETDATE(),@IS_PRIMARY_APPLICANT)                  
      
   --   
  --Risk Start    
  IF (@POLICY_LOB='9')      
   BEGIN      
  SELECT * INTO #POL_PERILS FROM POL_PERILS  
  WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID   
  UPDATE #POL_PERILS SET CUSTOMER_ID = @NEW_CUSTOMER_ID, POLICY_ID = @NEW_POLICY_ID, POLICY_VERSION_ID = @NEW_POLICY_VERSION_ID    
  WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID    
  INSERT INTO POL_PERILS SELECT * FROM #POL_PERILS  
  DROP TABLE #POL_PERILS  
  DELETE FROM POL_PERILS WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID    
  
   END      
   ELSE IF (@POLICY_LOB='13')      
   BEGIN      
  SELECT * INTO #POL_MARITIME FROM POL_MARITIME  
  WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID   
  UPDATE #POL_MARITIME SET CUSTOMER_ID = @NEW_CUSTOMER_ID, POLICY_ID = @NEW_POLICY_ID, POLICY_VERSION_ID = @NEW_POLICY_VERSION_ID    
  WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID    
  INSERT INTO POL_MARITIME SELECT * FROM #POL_MARITIME  
  DROP TABLE #POL_MARITIME  
  DELETE FROM POL_MARITIME WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID   
   END      
   ELSE IF (@POLICY_LOB IN('17','18'))      
    BEGIN    
  SELECT * INTO #POL_CIVIL_TRANSPORT_VEHICLES FROM POL_CIVIL_TRANSPORT_VEHICLES  
  WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID   
  UPDATE #POL_CIVIL_TRANSPORT_VEHICLES SET CUSTOMER_ID = @NEW_CUSTOMER_ID, POLICY_ID = @NEW_POLICY_ID, POLICY_VERSION_ID = @NEW_POLICY_VERSION_ID    
  WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID    
  INSERT INTO POL_CIVIL_TRANSPORT_VEHICLES SELECT * FROM #POL_CIVIL_TRANSPORT_VEHICLES  
  DROP TABLE #POL_CIVIL_TRANSPORT_VEHICLES  
  DELETE FROM POL_CIVIL_TRANSPORT_VEHICLES WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID   
    END    
   ELSE IF (@POLICY_LOB IN ('20','23'))      
   BEGIN      
      UPDATE POL_COMMODITY_INFO SET CUSTOMER_ID = @NEW_CUSTOMER_ID, POLICY_ID = @NEW_POLICY_ID, POLICY_VERSION_ID = @NEW_POLICY_VERSION_ID    
   WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID    
   END      
   ELSE IF (@POLICY_LOB IN ('15','21'))      
   BEGIN      
     UPDATE POL_PERSONAL_ACCIDENT_INFO SET CUSTOMER_ID = @NEW_CUSTOMER_ID, POLICY_ID = @NEW_POLICY_ID, POLICY_VERSION_ID = @NEW_POLICY_VERSION_ID    
  WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID    
   END      
   ELSE IF (@POLICY_LOB ='22' )      
   BEGIN      
  UPDATE POL_PASSENGERS_PERSONAL_ACCIDENT_INFO SET CUSTOMER_ID = @NEW_CUSTOMER_ID, POLICY_ID = @NEW_POLICY_ID, POLICY_VERSION_ID = @NEW_POLICY_VERSION_ID    
  WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID    
   END      
   ELSE  --IN(10,11,12,14,16,19)    
   BEGIN  
   
      
        
    UPDATE POL_PRODUCT_LOCATION_INFO SET CUSTOMER_ID = @NEW_CUSTOMER_ID, POLICY_ID = @NEW_POLICY_ID, POLICY_VERSION_ID = @NEW_POLICY_VERSION_ID    
    WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID   
    
      END      
  --Risk End   
     UPDATE POL_PROTECTIVE_DEVICES SET CUSTOMER_ID = @NEW_CUSTOMER_ID, POLICY_ID = @NEW_POLICY_ID, POLICY_VERSION_ID = @NEW_POLICY_VERSION_ID    
    WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID   

--   DISCOUNT SURCHARGES
     UPDATE POL_DISCOUNT_SURCHARGE SET CUSTOMER_ID = @NEW_CUSTOMER_ID, POLICY_ID = @NEW_POLICY_ID, POLICY_VERSION_ID = @NEW_POLICY_VERSION_ID    
     WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID  
 --  END 
 
 -- QUICK QUOTE LIST
 
    UPDATE CLT_QUICKQUOTE_LIST SET CUSTOMER_ID = @NEW_CUSTOMER_ID, APP_ID = @NEW_POLICY_ID, APP_VERSION_ID = @NEW_POLICY_VERSION_ID
    WHERE  CUSTOMER_ID = @CUSTOMER_ID AND APP_ID = @POLICY_ID AND APP_VERSION_ID = @POLICY_VERSION_ID     
   
   
  -- BILLING INFO START  
 SELECT * INTO #ACT_POLICY_INSTALL_PLAN_DATA FROM ACT_POLICY_INSTALL_PLAN_DATA    
 WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID    
  
 UPDATE #ACT_POLICY_INSTALL_PLAN_DATA SET CUSTOMER_ID = @NEW_CUSTOMER_ID, POLICY_ID = @NEW_POLICY_ID, POLICY_VERSION_ID = @NEW_POLICY_VERSION_ID,   
 APP_ID=@NEW_APP_ID,APP_VERSION_ID=@NEW_POLICY_VERSION_ID    
 WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID    
 INSERT INTO ACT_POLICY_INSTALL_PLAN_DATA  SELECT * FROM #ACT_POLICY_INSTALL_PLAN_DATA     
 DROP TABLE #ACT_POLICY_INSTALL_PLAN_DATA  
  
 SELECT * INTO #ACT_POLICY_INSTALLMENT_DETAILS FROM ACT_POLICY_INSTALLMENT_DETAILS  
 WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID    
 UPDATE #ACT_POLICY_INSTALLMENT_DETAILS SET CUSTOMER_ID = @NEW_CUSTOMER_ID, POLICY_ID = @NEW_POLICY_ID, POLICY_VERSION_ID = @NEW_POLICY_VERSION_ID ,  
 APP_ID=@NEW_APP_ID,APP_VERSION_ID=@NEW_POLICY_VERSION_ID   
 WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID    
   
    
 INSERT INTO ACT_POLICY_INSTALLMENT_DETAILS(INSTALLMENT_AMOUNT,INSTALLMENT_EFFECTIVE_DATE,      
 RELEASED_STATUS,INSTALLMENT_NO,RISK_ID,RISK_TYPE,PAYMENT_MODE,CURRENT_TERM,      
 PERCENTAG_OF_PREMIUM,INTEREST_AMOUNT,FEE,TAXES,TOTAL,TRAN_INTEREST_AMOUNT,TRAN_FEE,      
 TRAN_TAXES,TRAN_TOTAL,BOLETO_NO,IS_BOLETO_GENRATED,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,      
 LAST_UPDATED_DATETIME,TRAN_PREMIUM_AMOUNT,POLICY_ID,POLICY_VERSION_ID,CUSTOMER_ID,APP_ID,APP_VERSION_ID)  
  
 SELECT INSTALLMENT_AMOUNT,INSTALLMENT_EFFECTIVE_DATE,      
 RELEASED_STATUS,INSTALLMENT_NO,RISK_ID,RISK_TYPE,PAYMENT_MODE,CURRENT_TERM,      
 PERCENTAG_OF_PREMIUM,INTEREST_AMOUNT,FEE,TAXES,TOTAL,TRAN_INTEREST_AMOUNT,TRAN_FEE,      
 TRAN_TAXES,TRAN_TOTAL,BOLETO_NO,IS_BOLETO_GENRATED,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,      
 LAST_UPDATED_DATETIME,TRAN_PREMIUM_AMOUNT,POLICY_ID,POLICY_VERSION_ID,CUSTOMER_ID,APP_ID,APP_VERSION_ID     
 FROM #ACT_POLICY_INSTALLMENT_DETAILS  
   
 DROP TABLE #ACT_POLICY_INSTALLMENT_DETAILS   
   
 DELETE FROM ACT_POLICY_INSTALLMENT_DETAILS    
 WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID    
 DELETE FROM ACT_POLICY_INSTALL_PLAN_DATA     
 WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID    
  -- BILLING INFO END  
   --Coverage Start    
 SELECT * INTO #POL_PRODUCT_COVERAGES FROM POL_PRODUCT_COVERAGES     
 WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID    
  
 UPDATE #POL_PRODUCT_COVERAGES SET CUSTOMER_ID = @NEW_CUSTOMER_ID, POLICY_ID = @NEW_POLICY_ID, POLICY_VERSION_ID = @NEW_POLICY_VERSION_ID    
 WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID    
 INSERT INTO POL_PRODUCT_COVERAGES SELECT * FROM #POL_PRODUCT_COVERAGES  
  --Coverage end    
      
 DROP TABLE  #POL_PRODUCT_COVERAGES      
 DROP TABLE #POL_CUSTOMER_POLICY_LIST  
  
 DELETE FROM POL_PRODUCT_COVERAGES     
     WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID    
 DELETE FROM POL_CUSTOMER_POLICY_LIST     
     WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID    
      
 END    
END     
--GO    
  
--DECLARE @NEW_POLICY_ID INT,    
--@NEW_APP_ID INT  
--exec Proc_AttachQuickAppCustomer   -100,2127,62,1,@NEW_POLICY_ID ,@NEW_APP_ID   
  
--Select @NEW_POLICY_ID ,@NEW_APP_ID   
--RollBack   
  
  
  
     
  
GO

