IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_INSERTMNT_USER_AGENCY]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_INSERTMNT_USER_AGENCY]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN
--DROP PROC PROC_INSERTMNT_USER_AGENCY
--GO

CREATE PROC PROC_INSERTMNT_USER_AGENCY
(
  @USERID INT,
  @AGENCYID NVARCHAR(800)

)

AS

BEGIN

DECLARE @AGENCY INT
DECLARE @SCOUNT  INT
SET @SCOUNT=2  

IF @AGENCYID <> ''
BEGIN 
 DELETE FROM MNT_USER_AGENCY WHERE USER_ID = @USERID
 SET @AGENCY = convert(int,DBO.Piece(@AGENCYID,',',1))
 select @agency

WHILE @AGENCY IS NOT NULL              
 BEGIN            

--IF(NOT EXISTS (SELECT * FROM MNT_USER_AGENCY WHERE USERID = @USERID AND AGENCYID=@AGENCYID))
--BEGIN
 INSERT INTO MNT_USER_AGENCY (USER_ID,AGENCY_ID) VALUES 
 (
   @USERID,
   @AGENCY 
 ) 
 --END
 SET @AGENCY=convert(int,DBO.Piece(@AGENCYID,',',@SCOUNT) )             
 SET @SCOUNT=@SCOUNT+1              
 
 END
END

ELSE
 BEGIN
  DELETE FROM MNT_USER_AGENCY WHERE USER_ID = @USERID
 END


END


--GO
--
--EXEC PROC_INSERTMNT_USER_AGENCY 11,'12,13'
--
--
--ROLLBACK TRAN






GO

