IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[rpt_IncompleteToDoList]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[rpt_IncompleteToDoList]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE dbo.rpt_IncompleteToDoList
	@NameFormat CHAR(1) = 1,
	@AddressonReport CHAR(1) = 1,
	@UnderWriter Varchar(8000),
	@FromDate Datetime = '',
	@EndDate Datetime = ''
AS

DECLARE @sql VARCHAR(8000)

	BEGIN
		Select @sql = 'SELECT TODOLIST.RECDATE, TODOLIST.FOLLOWUPDATE, TODOLIST.SUBJECTLINE, TODOLIST.LISTOPEN, TODOLIST.PRIORITY, TODOLIST.TOUSERID, 
                      TODOLIST.FROMUSERID, TODOLIST.NOTE, POL_CUSTOMER_POLICY_LIST.POLICY_NUMBER, 
                      POL_CUSTOMER_POLICY_LIST.POLICY_DISP_VERSION, POL_CUSTOMER_POLICY_LIST.CREATED_DATETIME, '
		IF (@NameFormat = '0')  
		BEGIN	--First Name Last Name
			Select @sql = @sql + ' 	LTRIM(CLT_CUSTOMER_LIST.CUSTOMER_FIRST_NAME  + '' '' + CLT_CUSTOMER_LIST.CUSTOMER_MIDDLE_NAME + '' '' + CLT_CUSTOMER_LIST.CUSTOMER_LAST_NAME) AS CUSTOMERNAME '
		END
		ELSE
		BEGIN	--Last Name, First Name
			Select @sql = @sql + ' 	LTRIM(CLT_CUSTOMER_LIST.CUSTOMER_LAST_NAME + '', '' + CLT_CUSTOMER_LIST.CUSTOMER_FIRST_NAME  + '' '' + CLT_CUSTOMER_LIST.CUSTOMER_MIDDLE_NAME) AS CUSTOMERNAME '
		END

	        Select @sql = @sql + ' , CLT_CUSTOMER_LIST.CUSTOMER_ADDRESS1,
                      CLT_CUSTOMER_LIST.CUSTOMER_ADDRESS2, CLT_CUSTOMER_LIST.CUSTOMER_CITY, CLT_CUSTOMER_LIST.CUSTOMER_ZIP, 
                      MNT_COUNTRY_STATE_LIST.STATE_CODE, (SELECT USER_FNAME + '' '' + USER_LNAME FROM MNT_USER_LIST WHERE MNT_USER_LIST.USER_ID = TODOLIST.TOUSERID) AS TOUSERNAME, 
                     (SELECT USER_FNAME + '' '' + USER_LNAME FROM MNT_USER_LIST WHERE MNT_USER_LIST.USER_ID = TODOLIST.FROMUSERID) AS FROMUSERNAME, ' + @AddressonReport + ' AS ADDRESSONREPORT
			FROM    TODOLIST INNER JOIN
                      TODOLISTTYPES ON TODOLIST.LISTTYPEID = TODOLISTTYPES.TYPEID INNER JOIN
                      POL_CUSTOMER_POLICY_LIST ON TODOLIST.CUSTOMER_ID = POL_CUSTOMER_POLICY_LIST.CUSTOMER_ID AND 
                      TODOLIST.POLICY_ID = POL_CUSTOMER_POLICY_LIST.POLICY_ID AND 
                      TODOLIST.POLICY_VERSION_ID = POL_CUSTOMER_POLICY_LIST.POLICY_VERSION_ID INNER JOIN
                      CLT_CUSTOMER_LIST ON POL_CUSTOMER_POLICY_LIST.CUSTOMER_ID = CLT_CUSTOMER_LIST.CUSTOMER_ID INNER JOIN
                      MNT_COUNTRY_STATE_LIST ON CLT_CUSTOMER_LIST.CUSTOMER_COUNTRY = MNT_COUNTRY_STATE_LIST.COUNTRY_ID AND 
                      CLT_CUSTOMER_LIST.CUSTOMER_STATE = MNT_COUNTRY_STATE_LIST.STATE_ID INNER JOIN
                      MNT_USER_LIST ON TODOLIST.TOUSERID = MNT_USER_LIST.USER_ID AND TODOLIST.FROMUSERID = MNT_USER_LIST.USER_ID INNER JOIN
                      MNT_USER_TYPES ON MNT_USER_TYPES.USER_TYPE_ID = MNT_USER_LIST.USER_TYPE_ID
			WHERE     (MNT_USER_TYPES.USER_TYPE_CODE = ''UWT'') AND (TODOLIST.LISTOPEN = ''Y'') '

		--IF (@UnderWriter <> 0)
		IF (@UnderWriter <> '0')
		BEGIN
			--SELECT @sql=@sql + ' AND TODOLIST.FROMUSERID = ' + CAST(@UnderWriter AS VARCHAR(10))
			SELECT @sql=@sql + ' AND TODOLIST.FROMUSERID IN (' +  @UnderWriter + ')'
		END

		IF (@FromDate <> '' )
		BEGIN
			SELECT @sql = @sql + ' AND TODOLIST.RECDATE >= '''  + CONVERT(VARCHAR, @FromDate,101) + ''''
		END

		IF (@EndDate<>'' )
		BEGIN
			SELECT @sql=@sql + ' AND TODOLIST.RECDATE <= ''' + CONVERT(VARCHAR, @EndDate,101) + ''''
		END

	END	

--PRINT(@sql) 
EXEC (@sql)



GO

