IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetAgencyStatementNew]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetAgencyStatementNew]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
-- begin tran
-- drop proc dbo.Proc_GetAgencyStatementNew 
-- go
 /*----------------------------------------------------------------------    
CREATE BY   : Vijay Joshi  Proc_GetAgencyStatementNew  
CREATE DATETIME : 24 Oct'2005 03.08.00 PM    
PURPOSE    : To Fetch the agency statement details of specified agency of specified month    
REVIOSN HISTORY    
Revised By  Date  Reason    

Revised By		: Ravindra
Date			: 09-7-2007
Reason			: For Complete App Bonus and statement all ready processed Csr Details are not fetched


Revised By		: Ravindra
Date			: 09-27-2007
Reason			: To display report as per discussion with Rajan 
					Transactions will be shown Groupped by Policy Number , Commission Percentage ,
					Transaction Type
					In stat fees , gross and net premium actual processed amount will be displayed 
-----------------------------------------------------------------------*/ 
--Proc_GetAgencyStatementNew 207,12,2007,'REG'   
--drop proc dbo.Proc_GetAgencyStatementNew 
CREATE PROC dbo.Proc_GetAgencyStatementNew    
(    
 @AGENCY_ID  INT,    
 @MONTH  INT,    
 @YEAR   INT,  
 @COMM_TYPE VARCHAR(20)  
-- @IS_INTERIM CHAR(2) OUTPUT --IF INTERIM RETURN 'Y' ELSE 'N'  
)    
AS    
  
BEGIN     

	CREATE TABLE #STATEMENT
	(
		CUSTOMER_ID			Int,
		POLICY_ID			INt,
		POLICY_VERSION_ID	Int,
		MCCA_FEES			Decimal(18,2),
		NET_AMOUNT			Decimal(18,2),
		GROSS_AMOUNT		As ISNULL(MCCA_FEES , 0) + ISNULL(NET_AMOUNT , 0),
		COMMISSION_RATE		Decimal(18,2),
		COMMISSION_AMOUNT	Decimal(18,2),
		BILL_TYPE			CHAR(4),
		TRAN_TYPE			Char(10),
		AGENCY_ID			Int ,
		MONTH_NUMBER		Int,
		MONTH_YEAR			Int
	)    
	IF EXISTS(SELECT AGENCY_ID FROM ACT_AGENCY_STATEMENT where AGENCY_ID = @AGENCY_ID     
			AND MONTH_NUMBER = @MONTH  AND MONTH_YEAR = @YEAR AND COMM_TYPE = @COMM_TYPE)  
	BEGIN  
		IF(@COMM_TYPE = 'CAC')  
		BEGIN  
			SELECT ISNULL(CUSTOMER_FIRST_NAME,'') + ' ' + ISNULL(CUSTOMER_MIDDLE_NAME,'') + ' ' + ISNULL(CUSTOMER_LAST_NAME,'') CUSTOMER_NAME,    
			PCPL.POLICY_NUMBER, CONVERT(VARCHAR(20), AAS.SOURCE_EFF_DATE, 101) SOURCE_EFF_DATE,     
			AAS.GROSS_PREMIUM AS GROSS_PREMIUM, AAS.FEES AS MCCA_FEES,
			CASE WHEN TRAN_TYPE != 'PIC' THEN AAS.FEES ELSE 0 END AS MCCA_FEES1,--AA	    
			AAS.PREMIUM_AMOUNT PREMIUM, 
			CASE WHEN TRAN_TYPE != 'PIC' THEN AAS.PREMIUM_AMOUNT ELSE 0 END AS PREMIUM1,--AA
			AAS.COMMISSION_RATE,    
			AMOUNT_FOR_CALCULATION, AAS.BILL_TYPE,    
			AAS.COMMISSION_AMOUNT, AAS.DUE_AMOUNT, LOB.LOB_CODE AS LOB_CODE, ISNULL(TRAN_CODE,'') + '-' + ISNULL(TRAN_TYPE,'') AS TRAN_TYPE,    
			ISNULL(AGNL.AGENCY_DISPLAY_NAME,' ') AS AGENCY_DISPLAY_NAME,  
			ISNULL(AGNL.AGENCY_CODE,' ') AS AGENCY_CODE,   
			ISNULL(AGNL.AGENCY_ADD1,' ') AS AGENCY_ADD1,  
			ISNULL(AGNL.AGENCY_ADD2,' ') AS AGENCY_ADD2,  
			ISNULL(AGNL.AGENCY_CITY,' ') AS AGENCY_CITY,  
			(  
			SELECT STATE_CODE FROM MNT_COUNTRY_STATE_LIST WHERE   
			COUNTRY_ID = AGNL.AGENCY_COUNTRY AND STATE_ID = AGNL.AGENCY_STATE  
			) AS AGENCY_STATE,  
			ISNULL(AGNL.AGENCY_ZIP,' ')  AS AGENCY_ZIP,  
			PCPL.CSR AS CSR_ID,  
			MUL.SUB_CODE AS CSR_CODE,  
			ISNULL(MUL.USER_FNAME,'') + ISNULL(MUL.USER_LNAME,'') AS CSR_NAME ,  
			'N' as IS_INTERIM  
			FROM ACT_AGENCY_STATEMENT AAS    
			LEFT JOIN CLT_CUSTOMER_LIST CCL ON CCL.CUSTOMER_ID = AAS.CUSTOMER_ID    
			LEFT JOIN POL_CUSTOMER_POLICY_LIST PCPL ON PCPL.POLICY_ID = AAS.POLICY_ID     
			AND PCPL.POLICY_VERSION_ID = AAS.POLICY_VERSION_ID     
			AND PCPL.CUSTOMER_ID = AAS.CUSTOMER_ID    
			LEFT JOIN MNT_LOB_MASTER LOB ON LOB.LOB_ID = PCPL.POLICY_LOB    
			LEFT JOIN MNT_AGENCY_LIST AGNL ON AGNL.AGENCY_ID = AAS.AGENCY_ID  
			--LEFT JOIN MNT_USER_LIST UL ON UL.USER_SYSTEM_ID = AGNL.AGENCY_CODE ----ADDED FOR CSR  
			--LEFT JOIN MNT_USER_TYPES UT ON UT.USER_TYPE_ID = UL.USER_TYPE_ID   --ADDED FOR CSR  
			LEFT JOIN MNT_USER_LIST MUL ON PCPL.CSR = MUL.[USER_ID]  
			LEFT JOIN ACT_CUSTOMER_OPEN_ITEMS ACOI ON ACOI.IDEN_ROW_ID = AAS.CUSTOMER_OPEN_ITEM_ID    
			LEFT JOIN ACT_AGENCY_OPEN_ITEMS AGOI ON AGOI.IDEN_ROW_ID = AAS.AGENCY_OPEN_ITEM_ID    
			WHERE (AGOI.UPDATED_FROM = 'P' OR AGOI.UPDATED_FROM IS NULL) AND (ACOI.UPDATED_FROM = 'P' OR ACOI.UPDATED_FROM IS NULL)    
			AND AAS.AGENCY_ID = @AGENCY_ID  
			AND AAS.MONTH_NUMBER = @MONTH     
			AND AAS.MONTH_YEAR   = @YEAR  
			AND AAS.COMM_TYPE = @COMM_TYPE
			ORDER BY PCPL.BILL_TYPE , AAS.ROW_ID    
		END  
		ELSE  
		BEGIN  
			INSERT INTO #STATEMENT
				(
					CUSTOMER_ID	, POLICY_ID	, POLICY_VERSION_ID	,
					MCCA_FEES	, NET_AMOUNT , COMMISSION_RATE	, 
					COMMISSION_AMOUNT	,BILL_TYPE	, 	TRAN_TYPE ,
					AGENCY_ID , MONTH_NUMBER , 	MONTH_YEAR	
				)
			SELECT AAS.CUSTOMER_ID ,AAS.POLICY_ID , 
				(
				SELECT MAX (NEW_POLICY_VERSION_ID) FROM POL_POLICY_PROCESS   PPP
				WHERE PPP.CUSTOMER_ID = AAS.CUSTOMER_ID 
				AND   PPP.POLICY_ID = 	AAS.POLICY_ID 	
				AND   PPP.PROCESS_ID IN (18,25,32)  
				AND   PPP.NEW_POLICY_VERSION_ID <= 
					(
					SELECT MAX(POLICY_VERSION_ID) FROM ACT_AGENCY_STATEMENT AASIN
					WHERE AAS.CUSTOMER_ID  = AASIN.CUSTOMER_ID
					AND AAS.POLICY_ID = AASIN.POLICY_ID
					)
				), 
				AAS.STAT_FEES_FOR_CALCULATION ,AAS.AMOUNT_FOR_CALCULATION , AAS.COMMISSION_RATE,
				AAS.COMMISSION_AMOUNT ,AAS.BILL_TYPE , 
				CASE AAS.TRAN_CODE  	WHEN 'NBSP' 	Then 'REG' --'NBS'
							WHEN 'NBSC' 	Then 'REG' --'NBS'
							WHEN 'RENP' 	THEN 'REG' --'REN'
							WHEN 'RENC' 	Then 'REG' --'REN'
							WHEN 'ENDP' 	Then 'REG' --'END'
							WHEN 'ENDC' 	THEN 'REG' --'END'  
							WHEN 'CANCP' 	Then 'REG' --'CAN'
							WHEN 'CANC' 	THEN 'REG' --'CAN'			
							WHEN 'RINSP' 	Then 'REG' --'RIN'
							WHEN 'RINC'	Then  'REG' --'RIN'
							ELSE TRAN_CODE
				END	,
				AAS.AGENCY_ID , AAS.MONTH_NUMBER , 	AAS.MONTH_YEAR	
			from ACT_AGENCY_STATEMENT AAS 
			LEFT JOIN ACT_AGENCY_OPEN_ITEMS AGOI 
			ON AGOI.IDEN_ROW_ID = AAS.AGENCY_OPEN_ITEM_ID 
			LEFT JOIN ACT_CUSTOMER_OPEN_ITEMS ACOI 
			ON ACOI.IDEN_ROW_ID = AAS.CUSTOMER_OPEN_ITEM_ID    
			WHERE (AGOI.UPDATED_FROM = 'P' OR AGOI.UPDATED_FROM IS NULL) AND (ACOI.UPDATED_FROM = 'P' OR ACOI.UPDATED_FROM IS NULL)    
			AND AAS.AGENCY_ID = @AGENCY_ID     
			AND AAS.MONTH_NUMBER = @MONTH     
			AND AAS.MONTH_YEAR = @YEAR    
			AND AAS.COMM_TYPE = @COMM_TYPE  

			SELECT ISNULL(CUSTOMER_FIRST_NAME,'') + ' ' + ISNULL(CUSTOMER_MIDDLE_NAME,'') + ' ' + ISNULL(CUSTOMER_LAST_NAME,'') CUSTOMER_NAME,    
			PCPL.POLICY_NUMBER AS POLICY_NUMBER,
			CONVERT(VARCHAR,PCPL.POL_VER_EFFECTIVE_DATE ,101) AS SOURCE_EFF_DATE, 
			TMP.GROSS_AMOUNT AS GROSS_PREMIUM, TMP.MCCA_FEES MCCA_FEES	,
			CASE WHEN TMP.TRAN_TYPE != 'PIC' THEN TMP.MCCA_FEES ELSE 0 END AS MCCA_FEES1, --BB	
			TMP.NET_AMOUNT AS PREMIUM, 
			CASE WHEN TMP.TRAN_TYPE != 'PIC' THEN TMP.NET_AMOUNT ELSE 0 END AS PREMIUM1, --BB
			TMP.COMMISSION_RATE	 AS COMMISSION_RATE, TMP.COMMISSION_AMOUNT AS COMMISSION_AMOUNT, 
			LOB.LOB_CODE AS LOB_CODE,TMP.BILL_TYPE AS BILL_TYPE , TMP.TRAN_TYPE,
			ISNULL(AGNL.AGENCY_DISPLAY_NAME,' ') AS AGENCY_DISPLAY_NAME,  
			ISNULL(AGNL.AGENCY_CODE,' ') AS AGENCY_CODE,   
			ISNULL(AGNL.AGENCY_ADD1,' ') AS AGENCY_ADD1,  
			ISNULL(AGNL.AGENCY_ADD2,' ') AS AGENCY_ADD2,  
			ISNULL(AGNL.AGENCY_CITY,' ') AS AGENCY_CITY,  
			(  
			SELECT STATE_CODE FROM MNT_COUNTRY_STATE_LIST WHERE   
			COUNTRY_ID = AGNL.AGENCY_COUNTRY AND STATE_ID = AGNL.AGENCY_STATE  
			) AS AGENCY_STATE,  
			ISNULL(AGNL.AGENCY_ZIP,' ')  AS AGENCY_ZIP,  
			PCPL.PRODUCER AS PRODUCER_ID,  
			MUL.SUB_CODE AS PRODUCER_CODE,  
			ISNULL(MUL.USER_FNAME,'') + ISNULL(MUL.USER_LNAME,'') AS PRODUCER_NAME ,  
			'N' as IS_INTERIM  
			FROM 
			( 
					select  CUSTOMER_ID	, POLICY_ID	, POLICY_VERSION_ID	,
							GROSS_AMOUNT, MCCA_FEES	, NET_AMOUNT , COMMISSION_RATE	, 
							SUM(COMMISSION_AMOUNT) AS COMMISSION_AMOUNT	
							,BILL_TYPE	, 	TRAN_TYPE ,
							AGENCY_ID , MONTH_NUMBER , 	MONTH_YEAR	
					from #STATEMENT 
					where bill_type = 'AB'
					group by CUSTOMER_ID	, POLICY_ID	, POLICY_VERSION_ID	 , COMMISSION_RATE ,
						GROSS_AMOUNT  , MCCA_FEES ,NET_AMOUNT, BILL_TYPE , TRAN_TYPE ,
						AGENCY_ID , MONTH_NUMBER , 	MONTH_YEAR	
					UNION 

					select 
							CUSTOMER_ID	, POLICY_ID	, POLICY_VERSION_ID	,
							SUM(GROSS_AMOUNT) AS GROSS_AMOUNT, 
							SUM(MCCA_FEES)	AS MCCA_FEES, 
							SUM(NET_AMOUNT)  AS NET_AMOUNT, 
							COMMISSION_RATE	, 
							SUM(COMMISSION_AMOUNT) AS COMMISSION_AMOUNT	
							,BILL_TYPE	, 	TRAN_TYPE,
							AGENCY_ID , MONTH_NUMBER , 	MONTH_YEAR	
					from #STATEMENT 
					where bill_type = 'DB'
					group by CUSTOMER_ID	, POLICY_ID	, POLICY_VERSION_ID	 ,
						COMMISSION_RATE ,BILL_TYPE ,TRAN_TYPE,
					AGENCY_ID , MONTH_NUMBER , 	MONTH_YEAR	
			) TMP 
			INNER	JOIN POL_CUSTOMER_POLICY_LIST PCPL 
			ON PCPL.POLICY_ID = TMP.POLICY_ID     
			AND PCPL.POLICY_VERSION_ID = TMP.POLICY_VERSION_ID     
			AND PCPL.CUSTOMER_ID = TMP.CUSTOMER_ID    
			INNER JOIN CLT_CUSTOMER_LIST CCL ON CCL.CUSTOMER_ID = TMP.CUSTOMER_ID    
			INNER JOIN MNT_LOB_MASTER LOB ON LOB.LOB_ID = PCPL.POLICY_LOB    
			LEFT  JOIN MNT_AGENCY_LIST AGNL ON AGNL.AGENCY_ID = TMP.AGENCY_ID    
			LEFT  JOIN MNT_USER_LIST MUL ON PCPL.PRODUCER = MUL.[USER_ID]  
			ORDER BY PCPL.BILL_TYPE ,PCPL.POLICY_NUMBER

		END
	END  
	ELSE  
	BEGIN  
		--SET @IS_INTERIM = 'Y'   
		EXEC Proc_ProcessAgencyStatement @MONTH,@YEAR,@COMM_TYPE  

		--IF COMMISION TYPE IS COMPLETE APP COMMISSION(CAC):  
		--THEN PICK UP THE CSR AND PRODUCER DETAILS(CODE AND NAME)  
		IF(@COMM_TYPE = 'CAC')  
		BEGIN  
			SELECT ISNULL(CUSTOMER_FIRST_NAME,'') + ' ' + ISNULL(CUSTOMER_MIDDLE_NAME,'') + ' ' + ISNULL(CUSTOMER_LAST_NAME,'') CUSTOMER_NAME,    
			PCPL.POLICY_NUMBER, CONVERT(VARCHAR(20), AAS.SOURCE_EFF_DATE, 101) SOURCE_EFF_DATE,     
			AAS.GROSS_PREMIUM AS GROSS_PREMIUM, AAS.FEES AS MCCA_FEES,
			CASE WHEN TRAN_TYPE != 'PIC' THEN AAS.FEES ELSE 0 END AS MCCA_FEES1, --CC    
			AAS.PREMIUM_AMOUNT PREMIUM, 
			CASE WHEN TRAN_TYPE != 'PIC' THEN AAS.PREMIUM_AMOUNT ELSE 0 END AS PREMIUM1, --CC
			AAS.COMMISSION_RATE,    
			AMOUNT_FOR_CALCULATION, AAS.BILL_TYPE,    
			AAS.COMMISSION_AMOUNT, AAS.DUE_AMOUNT, LOB.LOB_CODE AS LOB_CODE, ISNULL(TRAN_CODE,'') + '-' + ISNULL(TRAN_TYPE,'') AS TRAN_TYPE,    
			ISNULL(AGNL.AGENCY_DISPLAY_NAME,' ') AS AGENCY_DISPLAY_NAME,  
			ISNULL(AGNL.AGENCY_CODE,' ') AS AGENCY_CODE,   
			ISNULL(AGNL.AGENCY_ADD1,' ') AS AGENCY_ADD1,  
			ISNULL(AGNL.AGENCY_ADD2,' ') AS AGENCY_ADD2,  
			ISNULL(AGNL.AGENCY_CITY,' ') AS AGENCY_CITY,  
			(  
			SELECT STATE_CODE FROM MNT_COUNTRY_STATE_LIST WHERE   
			COUNTRY_ID = AGNL.AGENCY_COUNTRY AND STATE_ID = AGNL.AGENCY_STATE  
			) AS AGENCY_STATE,  
			ISNULL(AGNL.AGENCY_ZIP,' ')  AS AGENCY_ZIP,  
			PCPL.CSR AS CSR_ID,  
			MUL.SUB_CODE AS CSR_CODE,  
			ISNULL(MUL.USER_FNAME,'') + ISNULL(MUL.USER_LNAME,'') AS CSR_NAME ,  
			'Y' as IS_INTERIM  
			FROM ##TEMP_ACT_AGENCY_STATEMENT AAS    
			LEFT JOIN CLT_CUSTOMER_LIST CCL ON CCL.CUSTOMER_ID = AAS.CUSTOMER_ID    
			LEFT JOIN POL_CUSTOMER_POLICY_LIST PCPL ON PCPL.POLICY_ID = AAS.POLICY_ID     
			AND PCPL.POLICY_VERSION_ID = AAS.POLICY_VERSION_ID     
			AND PCPL.CUSTOMER_ID = AAS.CUSTOMER_ID    
			LEFT JOIN MNT_LOB_MASTER LOB ON LOB.LOB_ID = PCPL.POLICY_LOB    
			LEFT JOIN MNT_AGENCY_LIST AGNL ON AGNL.AGENCY_ID = AAS.AGENCY_ID  
			--LEFT JOIN MNT_USER_LIST UL ON UL.USER_SYSTEM_ID = AGNL.AGENCY_CODE ----ADDED FOR CSR  
			--LEFT JOIN MNT_USER_TYPES UT ON UT.USER_TYPE_ID = UL.USER_TYPE_ID   --ADDED FOR CSR  
			LEFT JOIN MNT_USER_LIST MUL ON PCPL.CSR = MUL.[USER_ID]  
			LEFT JOIN ACT_CUSTOMER_OPEN_ITEMS ACOI ON ACOI.IDEN_ROW_ID = AAS.CUSTOMER_OPEN_ITEM_ID    
			LEFT JOIN ACT_AGENCY_OPEN_ITEMS AGOI ON AGOI.IDEN_ROW_ID = AAS.AGENCY_OPEN_ITEM_ID    
			WHERE (AGOI.UPDATED_FROM = 'P' OR AGOI.UPDATED_FROM IS NULL) AND (ACOI.UPDATED_FROM = 'P' OR ACOI.UPDATED_FROM IS NULL)    
			AND AAS.AGENCY_ID = @AGENCY_ID  
			AND AAS.MONTH_NUMBER = @MONTH     
			AND AAS.MONTH_YEAR   = @YEAR  
			--AND UT.USER_TYPE_CODE = @USER_TYPE_CSR  
			ORDER BY PCPL.BILL_TYPE , AAS.ROW_ID    
		END  
		ELSE  
		BEGIN  
	

			INSERT INTO #STATEMENT
				(
					CUSTOMER_ID	, POLICY_ID	, POLICY_VERSION_ID	,
					MCCA_FEES	, NET_AMOUNT , COMMISSION_RATE	, 
					COMMISSION_AMOUNT	,BILL_TYPE	, 	TRAN_TYPE ,
					AGENCY_ID , MONTH_NUMBER , 	MONTH_YEAR	
				)
			SELECT CUSTOMER_ID ,POLICY_ID , 
				(
					SELECT MAX (NEW_POLICY_VERSION_ID) FROM POL_POLICY_PROCESS   PPP
					WHERE PPP.CUSTOMER_ID = AAS.CUSTOMER_ID 
					AND   PPP.POLICY_ID = 	AAS.POLICY_ID 	
					AND   PPP.PROCESS_ID IN (18,25,32)  
					AND   PPP.NEW_POLICY_VERSION_ID <= 
						(
						SELECT MAX(POLICY_VERSION_ID) FROM ##TEMP_ACT_AGENCY_STATEMENT AASIN
						WHERE AAS.CUSTOMER_ID  = AASIN.CUSTOMER_ID
						AND AAS.POLICY_ID = AASIN.POLICY_ID
						)
				), 
				STAT_FEES_FOR_CALCULATION ,AMOUNT_FOR_CALCULATION , AAS.COMMISSION_RATE,
				COMMISSION_AMOUNT ,BILL_TYPE , 
				CASE TRAN_CODE  	WHEN 'NBSP' Then 'REG' --'NBS'
							WHEN 'NBSC' Then 'REG' --'NBS'
							WHEN 'RENP' THEN 'REG' --'REN'
							WHEN 'RENC' Then 'REG' --'REN'
							WHEN 'ENDP' Then 'REG' --'END'
							WHEN 'ENDC' THEN 'REG' --'END'  
							WHEN 'CANCP' Then 'REG' --'CAN'
							WHEN 'CANC' THEN 'REG' --'CAN'			
							WHEN 'RINSP' Then 'REG' --'RIN'
							WHEN 'RINC'	Then  'REG' --'RIN'
							ELSE TRAN_CODE
				END	,
				AGENCY_ID , MONTH_NUMBER , 	MONTH_YEAR	
			from ##TEMP_ACT_AGENCY_STATEMENT AAS 


			SELECT ISNULL(CUSTOMER_FIRST_NAME,'') + ' ' + ISNULL(CUSTOMER_MIDDLE_NAME,'') + ' ' + ISNULL(CUSTOMER_LAST_NAME,'') CUSTOMER_NAME,    
			PCPL.POLICY_NUMBER AS POLICY_NUMBER,
			CONVERT(VARCHAR,PCPL.POL_VER_EFFECTIVE_DATE ,101) AS SOURCE_EFF_DATE, 
			CASE TMP.TRAN_TYPE WHEN 'PIC' THEN NULL ELSE TMP.GROSS_AMOUNT  END AS GROSS_PREMIUM, 
			CASE TMP.TRAN_TYPE WHEN 'PIC' THEN NULL ELSE TMP.MCCA_FEES END AS MCCA_FEES	, 
			CASE WHEN TMP.TRAN_TYPE != 'PIC' THEN TMP.MCCA_FEES ELSE 0 END AS MCCA_FEES1	, --DD
			CASE TMP.TRAN_TYPE WHEN 'PIC' THEN NULL ELSE TMP.NET_AMOUNT END AS PREMIUM,
			CASE WHEN TMP.TRAN_TYPE != 'PIC' THEN TMP.NET_AMOUNT ELSE 0 END AS PREMIUM1, --dd
			TMP.GROSS_AMOUNT  AS GROSS_PREMIUM, 
			TMP.MCCA_FEES AS MCCA_FEES	, 
			TMP.NET_AMOUNT AS PREMIUM, 
			TMP.COMMISSION_RATE	 AS COMMISSION_RATE, TMP.COMMISSION_AMOUNT AS COMMISSION_AMOUNT, 
			LOB.LOB_CODE AS LOB_CODE,TMP.BILL_TYPE AS BILL_TYPE , 
			TMP.TRAN_TYPE,
			ISNULL(AGNL.AGENCY_DISPLAY_NAME,' ') AS AGENCY_DISPLAY_NAME,  
			ISNULL(AGNL.AGENCY_CODE,' ') AS AGENCY_CODE,   
			ISNULL(AGNL.AGENCY_ADD1,' ') AS AGENCY_ADD1,  
			ISNULL(AGNL.AGENCY_ADD2,' ') AS AGENCY_ADD2,  
			ISNULL(AGNL.AGENCY_CITY,' ') AS AGENCY_CITY,  
			(  
			SELECT STATE_CODE FROM MNT_COUNTRY_STATE_LIST WHERE   
			COUNTRY_ID = AGNL.AGENCY_COUNTRY AND STATE_ID = AGNL.AGENCY_STATE  
			) AS AGENCY_STATE,  
			ISNULL(AGNL.AGENCY_ZIP,' ')  AS AGENCY_ZIP,  
			PCPL.PRODUCER AS PRODUCER_ID,  
			MUL.SUB_CODE AS PRODUCER_CODE,  
			ISNULL(MUL.USER_FNAME,'') + ISNULL(MUL.USER_LNAME,'') AS PRODUCER_NAME ,  
			'Y' as IS_INTERIM  
			FROM 
			( 
					select  CUSTOMER_ID	, POLICY_ID	, POLICY_VERSION_ID	,
							GROSS_AMOUNT, 
							MCCA_FEES, 
							NET_AMOUNT , 
							COMMISSION_RATE	, 
							SUM(COMMISSION_AMOUNT) AS COMMISSION_AMOUNT	
							,BILL_TYPE	, 	
							TRAN_TYPE ,
							AGENCY_ID , MONTH_NUMBER , 	MONTH_YEAR	
					from #STATEMENT 
					where bill_type = 'AB'
					group by CUSTOMER_ID	, POLICY_ID , POLICY_VERSION_ID	 
						, COMMISSION_RATE ,
						GROSS_AMOUNT  , MCCA_FEES ,NET_AMOUNT, BILL_TYPE , 
						TRAN_TYPE ,
						AGENCY_ID , MONTH_NUMBER , 	MONTH_YEAR	
					UNION 

					select 
							CUSTOMER_ID	, POLICY_ID	, POLICY_VERSION_ID	,
							SUM(GROSS_AMOUNT) AS GROSS_AMOUNT, 
							SUM(MCCA_FEES)	AS MCCA_FEES, 
							SUM(NET_AMOUNT)  AS NET_AMOUNT, 
							COMMISSION_RATE	, 
							SUM(COMMISSION_AMOUNT) AS COMMISSION_AMOUNT	
							,BILL_TYPE	, 	
							TRAN_TYPE,
							AGENCY_ID , MONTH_NUMBER , 	MONTH_YEAR	
					from #STATEMENT 
					where bill_type = 'DB'
					group by CUSTOMER_ID	, POLICY_ID	, POLICY_VERSION_ID	
						 ,COMMISSION_RATE ,BILL_TYPE ,
					TRAN_TYPE,
					AGENCY_ID , MONTH_NUMBER , 	MONTH_YEAR	
			) TMP 
			INNER	JOIN POL_CUSTOMER_POLICY_LIST PCPL 
			ON PCPL.POLICY_ID = TMP.POLICY_ID     
			AND PCPL.POLICY_VERSION_ID = TMP.POLICY_VERSION_ID     
			AND PCPL.CUSTOMER_ID = TMP.CUSTOMER_ID    
			INNER JOIN CLT_CUSTOMER_LIST CCL ON CCL.CUSTOMER_ID = TMP.CUSTOMER_ID    
			INNER JOIN MNT_LOB_MASTER LOB ON LOB.LOB_ID = PCPL.POLICY_LOB    
			LEFT  JOIN MNT_AGENCY_LIST AGNL ON AGNL.AGENCY_ID = TMP.AGENCY_ID    
			LEFT  JOIN MNT_USER_LIST MUL ON PCPL.PRODUCER = MUL.[USER_ID]  
			WHERE  TMP.AGENCY_ID = @AGENCY_ID     
			AND TMP.MONTH_NUMBER = @MONTH     
			AND TMP.MONTH_YEAR = @YEAR  
			ORDER BY PCPL.BILL_TYPE ,PCPL.POLICY_NUMBER


		END  
		DROP TABLE ##TEMP_ACT_AGENCY_STATEMENT  
	END  
	drop table #STATEMENT  
END    
  
-- go 
-- 
-- exec Proc_GetAgencyStatementNew 207 , 1 , 2008 , 'REG'
-- 
-- rollback tran 
-- 




GO

