IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_Get_ACT_BANK_RECONCILIATION_ITEMS_DETAILS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_Get_ACT_BANK_RECONCILIATION_ITEMS_DETAILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran  
--drop proc dbo.[Proc_Get_ACT_BANK_RECONCILIATION_ITEMS_DETAILS]  
--go  
/*----------------------------------------------------------    
Proc Name       : dbo.[Proc_Get_ACT_BANK_RECONCILIATION_ITEMS_DETAILS]    
Created by      : Ajit Singh Chahal    
Rule  : a bank recon can be committed only if fully distributed.    
Date            : 6/28/2005    
Purpose     : Returns status of bank reconciliation record    
Revison History :    
Used In  : Wolverine    
Status values : N-Not distributed, D-Distributed, C-Committed    
    
Modified By : Ravindra     
Modified On : Feb - 2 -2007    
Purpose  : Implementation changes    
    
Modified By : Praveen kasana    
Modified On : August - 1 -2008    
Purpose  : Implementation changes EXEC Get_GROUP_BANK_RECONCILIATION_ITEMS_DETAILS:    
------------------------------------------------------------    
Date     Review By          Comments    
------   ------------       -------------------------*/    
-- drop proc Dbo.[Proc_Get_ACT_BANK_RECONCILIATION_ITEMS_DETAILS] 3,17,'y','n'          
CREATE   PROC [dbo].[Proc_Get_ACT_BANK_RECONCILIATION_ITEMS_DETAILS] 
(    
 @ACCOUNT_ID int,    
 @AC_RECONCILIATION_ID int,    
 @COPYRECORDS CHAR(1),    
 @ISADDMODE CHAR(1)    
)    
AS BEGIN    
    
--11975 Check     
--11976 EFT    
--11977 Already Processed     
    
DECLARE @EFT Int,    
  @CHECK Int,    
  @ALREADY_PROCESSED Int,
  @CREDIT_CARD int    
    
SET  @CHECK = 11787--11975    
SET  @EFT = 11976    
SET  @ALREADY_PROCESSED = 11977 
SET	 @CREDIT_CARD  = 11974 
    
CREATE TABLE #TEMP_DATA    
(    
 ACC_DESCRIPTION    Varchar(50) ,     
 STARTING_BALANCE   Decimal(18,2),                          
 ENDING_BALANCE     Decimal(18,2),                         
 BANK_CHARGES       Decimal(18,2),                         
 TOTAL_CHECKS       Decimal(18,2),                         
 TOTAL_DEPOSITS     Decimal(18,2),                               
 TOTAL_JE           Decimal(18,2),                         
 TOTAL_INVOICES     Decimal(18,2),                         
 TOTAL_OTHER        Decimal(18,2),     
 TOTAL_ITEMS  AS ISNULL(TOTAL_CHECKS,0) + ISNULL(TOTAL_DEPOSITS,0) + ISNULL(TOTAL_JE,0)    
     + ISNULL( TOTAL_INVOICES, 0) + ISNULL( TOTAL_OTHER , 0)    ,                     
 CALCULATED_ENDING AS ISNULL(STARTING_BALANCE,0) +      
      (ISNULL(TOTAL_CHECKS,0) + ISNULL(TOTAL_DEPOSITS,0) + ISNULL(TOTAL_JE,0)    
       + ISNULL( TOTAL_INVOICES, 0) + ISNULL( TOTAL_OTHER , 0) )     
      - ISNULL(BANK_CHARGES , 0) ,    
 DIFFERENCE  AS (    
      ISNULL(STARTING_BALANCE,0) +      
      (ISNULL(TOTAL_CHECKS,0) + ISNULL(TOTAL_DEPOSITS,0) + ISNULL(TOTAL_JE,0)    
       + ISNULL( TOTAL_INVOICES, 0) + ISNULL( TOTAL_OTHER , 0) )     
      - ISNULL(BANK_CHARGES , 0)     
     )    
     - ENDING_BALANCE    
)     
    
-- If Not called from Add item button click on item details screen     
IF @ISADDMODE = 'N'    
BEGIN    
 IF @COPYRECORDS='Y'    
 BEGIN    
  -- If not items have been added to this Recon Group , Inserting the record     
  -- which are not reconciled and which are Before Statement Date    
  -- AND ALREADY PROCESSED AND EFT      
  IF NOT EXISTS (SELECT 1 FROM ACT_BANK_RECONCILIATION_ITEMS_DETAILS WHERE AC_RECONCILIATION_ID =     
      @AC_RECONCILIATION_ID)    
  BEGIN    
   INSERT INTO ACT_BANK_RECONCILIATION_ITEMS_DETAILS    
       
   SELECT  PD.IDENTITY_ROW_ID,@AC_RECONCILIATION_ID     
   FROM ACT_ACCOUNTS_POSTING_DETAILS PD WITH(NOLOCK)    
   LEFT JOIN ACT_CURRENT_DEPOSITS DEP WITH(NOLOCK)    
   ON PD.SOURCE_ROW_ID   =  DEP.DEPOSIT_ID     
   AND PD.UPDATED_FROM = 'D'    
       
       
   WHERE PD.ACCOUNT_ID = @ACCOUNT_ID      
   AND     
    CAST( CONVERT(VARCHAR , PD.SOURCE_TRAN_DATE , 101 ) AS Datetime )     
     <=(    
       SELECT STATEMENT_DATE FROM ACT_BANK_RECONCILIATION WITH(NOLOCK)    
       WHERE AC_RECONCILIATION_ID=@AC_RECONCILIATION_ID    
     )     
   AND ISNULL(IS_BANK_RECONCILED,'N')='N'    
   AND ISNULL(DEP.RECEIPT_MODE,0) IN(@EFT,@ALREADY_PROCESSED,@CREDIT_CARD)    
    
   UNION    ------------------Check Information 
    
   SELECT PD.IDENTITY_ROW_ID,@AC_RECONCILIATION_ID     
   FROM ACT_ACCOUNTS_POSTING_DETAILS PD WITH(NOLOCK)    
       
  LEFT JOIN ACT_CHECK_INFORMATION CHK WITH(NOLOCK)    
   ON PD.SOURCE_ROW_ID   =  CHK.CHECK_ID    
   AND PD.UPDATED_FROM = 'C'    
       
   WHERE PD.ACCOUNT_ID = @ACCOUNT_ID      
   AND     
    CAST( CONVERT(VARCHAR , PD.SOURCE_TRAN_DATE , 101 ) AS Datetime )     
     <=(    
       SELECT STATEMENT_DATE FROM ACT_BANK_RECONCILIATION WITH(NOLOCK)    
       WHERE AC_RECONCILIATION_ID=@AC_RECONCILIATION_ID    
     )     
   AND ISNULL(IS_BANK_RECONCILED,'N')='N'    
   AND ISNULL(CHK.PAYMENT_MODE,0) IN(@EFT,@ALREADY_PROCESSED)     
    
    
       
   /*SELECT IDENTITY_ROW_ID,@AC_RECONCILIATION_ID FROM ACT_ACCOUNTS_POSTING_DETAILS     
   WHERE ACCOUNT_ID = @ACCOUNT_ID AND     
   CAST( CONVERT(VARCHAR , SOURCE_TRAN_DATE , 101 ) AS Datetime )     
    <=(    
      SELECT STATEMENT_DATE FROM ACT_BANK_RECONCILIATION     
      WHERE AC_RECONCILIATION_ID=@AC_RECONCILIATION_ID    
     )     
   AND ISNULL(IS_BANK_RECONCILED,'N')='N'*/    
    
  end    
 END    
     
 --fetching details to be displayed in grid of item details popup, will reflect as table[0] in datasetx`    
 /*SELECT     
 CASE PD.UPDATED_FROM     
 WHEN 'D' THEN    
  CASE WHEN ISNULL(DEP.RECEIPT_MODE,0) IN(@EFT,@ALREADY_PROCESSED) THEN 1     
  ELSE 0 END     
 WHEN 'C' THEN    
  CASE WHEN ISNULL(CHK.PAYMENT_MODE,0) IN(@EFT,@ALREADY_PROCESSED) THEN 1     
  ELSE 0 END     
 ELSE 0 END AS IS_ALREADY_CLEARED,    
    
 PD.UPDATED_FROM AS UPDATED_FROM ,    
 CONVERT(VARCHAR,PD.SOURCE_TRAN_DATE,101) AS SOURCE_TRAN_DATE,    
 PD.IDENTITY_ROW_ID AS IDENTITY_ROW_ID,    
 PD.SOURCE_NUM AS SOURCE_NUM ,    
 PD.TRANSACTION_AMOUNT AS TRANSACTION_AMOUNT,    
 CASE PD.UPDATED_FROM     
 WHEN 'C' THEN 'Check'     
 WHEN 'J' THEN 'Journal'     
 WHEN 'I' THEN 'Invoice'     
 WHEN 'D' THEN 'Deposit'     
 END AS "TRANSACTIONTYPE",    
 PD.ADNL_INFO AS "NOTEMEMO"    
 FROM ACT_BANK_RECONCILIATION_ITEMS_DETAILS REC    
 INNER JOIN ACT_ACCOUNTS_POSTING_DETAILS PD    
 ON PD.IDENTITY_ROW_ID = REC.IDENTITY_ROW_ID    
 LEFT JOIN ACT_CURRENT_DEPOSITS DEP    
 ON PD.SOURCE_ROW_ID   =  DEP.DEPOSIT_ID     
 AND PD.UPDATED_FROM = 'D'    
 LEFT JOIN ACT_CHECK_INFORMATION CHK    
 ON PD.SOURCE_ROW_ID   =  CHK.CHECK_ID    
 AND PD.UPDATED_FROM = 'C'    
 WHERE REC.AC_RECONCILIATION_ID = @AC_RECONCILIATION_ID    
 ORDER BY PD.SOURCE_TRAN_DATE DESC*/    
 EXEC dbo.Proc_Get_GROUP_BANK_RECONCILIATION_ITEMS_DETAILS @AC_RECONCILIATION_ID,NULL,@ISADDMODE    
    
 INSERT INTO #TEMP_DATA    
   (     
    ACC_DESCRIPTION  , STARTING_BALANCE , ENDING_BALANCE , BANK_CHARGES  ,    
    TOTAL_CHECKS ,TOTAL_DEPOSITS ,TOTAL_JE   ,TOTAL_INVOICES , TOTAL_OTHER        
   )    
 SELECT     
 (    
  SELECT CONVERT(VARCHAR,ACC_NUMBER) FROM ACT_GL_ACCOUNTS     
  WHERE ACCOUNT_ID=@ACCOUNT_ID    
 ) AS ACC_DESCRIPTION,    
 STARTING_BALANCE,   
 ENDING_BALANCE ,    
 BANK_CHARGES_CREDITS AS BANK_CHARGES,    
 (    
  SELECT ISNULL(SUM(TRANSACTION_AMOUNT),0) FROM ACT_ACCOUNTS_POSTING_DETAILS     
  WHERE IDENTITY_ROW_ID IN     
   (    
    SELECT IDENTITY_ROW_ID FROM ACT_BANK_RECONCILIATION_ITEMS_DETAILS     
    WHERE AC_RECONCILIATION_ID=@AC_RECONCILIATION_ID    
   )    
  AND UPDATED_FROM = 'C'    
 )AS TOTAL_CHECKS ,    
 (    
  SELECT ISNULL(SUM(TRANSACTION_AMOUNT),0) FROM ACT_ACCOUNTS_POSTING_DETAILS     
  WHERE IDENTITY_ROW_ID IN     
   (    
    SELECT IDENTITY_ROW_ID FROM ACT_BANK_RECONCILIATION_ITEMS_DETAILS     
    WHERE AC_RECONCILIATION_ID=@AC_RECONCILIATION_ID    
   )    
  AND UPDATED_FROM = 'D'    
 )AS DEPOSITS ,    
 (    
  SELECT ISNULL(SUM(TRANSACTION_AMOUNT),0) FROM ACT_ACCOUNTS_POSTING_DETAILS     
  WHERE IDENTITY_ROW_ID IN     
   (    
    SELECT IDENTITY_ROW_ID FROM ACT_BANK_RECONCILIATION_ITEMS_DETAILS     
    WHERE AC_RECONCILIATION_ID=@AC_RECONCILIATION_ID    
   )    
  AND UPDATED_FROM = 'J'    
 )AS TOTAL_JE ,    
 (    
  SELECT ISNULL(SUM(TRANSACTION_AMOUNT),0) FROM ACT_ACCOUNTS_POSTING_DETAILS     
  WHERE IDENTITY_ROW_ID IN     
   (    
    SELECT IDENTITY_ROW_ID FROM ACT_BANK_RECONCILIATION_ITEMS_DETAILS     
    WHERE AC_RECONCILIATION_ID=@AC_RECONCILIATION_ID    
   )    
  AND UPDATED_FROM = 'I'    
 )AS TOTAL_INVOICES,    
 (    
  SELECT ISNULL(SUM(TRANSACTION_AMOUNT),0) FROM ACT_ACCOUNTS_POSTING_DETAILS     
  WHERE IDENTITY_ROW_ID IN     
   (    
    SELECT IDENTITY_ROW_ID FROM ACT_BANK_RECONCILIATION_ITEMS_DETAILS     
    WHERE AC_RECONCILIATION_ID=@AC_RECONCILIATION_ID    
   )    
  AND UPDATED_FROM NOT IN ( 'I' , 'C' , 'D' , 'J' )     
 )AS TOTAL_OTHER     
 FROM ACT_BANK_RECONCILIATION    
 WHERE AC_RECONCILIATION_ID = @AC_RECONCILIATION_ID    
   
select   
 ACC_DESCRIPTION    ,     
 CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL(STARTING_BALANCE,0)),1) AS STARTING_BALANCE,                             
 CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL(ENDING_BALANCE,0)),1) AS ENDING_BALANCE,                           
 CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL(BANK_CHARGES,0)),1) AS BANK_CHARGES,    
 CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL(TOTAL_CHECKS,0)),1) AS TOTAL_CHECKS,    
 CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL(TOTAL_DEPOSITS,0)),1) AS TOTAL_DEPOSITS,                        
 CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL(TOTAL_JE,0)),1) AS TOTAL_JE,                                                  
 CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL(TOTAL_INVOICES,0)),1) AS TOTAL_INVOICES,                                                                       
 CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL(TOTAL_OTHER,0)),1) AS TOTAL_OTHER,                                                                                             
 CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL(TOTAL_ITEMS,0)),1) AS TOTAL_ITEMS,                                                                                     
 CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL(CALCULATED_ENDING,0)),1) AS CALCULATED_ENDING,                                                                                               
  CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL(DIFFERENCE,0)),1) AS DIFFERENCE                                                                                          
 from #TEMP_DATA  
   
END    
--When Called from Item To add the display records which are not reconciled till now     
ELSE    
BEGIN     
 /*SELECT CONVERT(VARCHAR,SOURCE_TRAN_DATE,101) AS SOURCE_TRAN_DATE,    
 0 as IS_ALREADY_CLEARED,    
 IDENTITY_ROW_ID,    
 SOURCE_NUM ,    
 TRANSACTION_AMOUNT,    
 CASE UPDATED_FROM     
  WHEN 'C' THEN 'Check'     
  WHEN 'J' THEN 'Journal'     
  WHEN 'I' THEN 'Invoice'     
  WHEN 'D' THEN 'Deposit'     
 END AS "TRANSACTIONTYPE",    
 ADNL_INFO AS "NOTEMEMO"    
 FROM ACT_ACCOUNTS_POSTING_DETAILS     
 WHERE ACCOUNT_ID = @ACCOUNT_ID     
 AND ISNULL(IS_BANK_RECONCILED,'N')='N'     
 AND IDENTITY_ROW_ID NOT IN (    
  SELECT IDENTITY_ROW_ID FROM ACT_BANK_RECONCILIATION_ITEMS_DETAILS     
  WHERE AC_RECONCILIATION_ID=@AC_RECONCILIATION_ID    
  )*/    
 EXEC dbo.Proc_Get_GROUP_BANK_RECONCILIATION_ITEMS_DETAILS @AC_RECONCILIATION_ID,@ACCOUNT_ID,@ISADDMODE    
    
 --fetching details to be displayed on top of grid    
 /*SELECT     
 (    
 --SELECT CONVERT(VARCHAR,ACC_DISP_NUMBER)+': '+ACC_DESCRIPTION  FROM ACT_GL_ACCOUNTS     
 SELECT CONVERT(VARCHAR,ACC_NUMBER) FROM ACT_GL_ACCOUNTS     
 WHERE ACCOUNT_ID=@ACCOUNT_ID    
 ) AS ACC_DESCRIPTION,    
 STARTING_BALANCE,    
 ENDING_BALANCE,    
 BANK_CHARGES_CREDITS AS BANK_CHARGES,    
 (    
 ISNULL(STARTING_BALANCE,0) + (    
   SELECT ISNULL(SUM(TRANSACTION_AMOUNT),0) FROM ACT_ACCOUNTS_POSTING_DETAILS     
   WHERE IDENTITY_ROW_ID IN (    
 SELECT IDENTITY_ROW_ID FROM ACT_BANK_RECONCILIATION_ITEMS_DETAILS     
     WHERE AC_RECONCILIATION_ID=@AC_RECONCILIATION_ID)    
   )    
 -ISNULL(ENDING_BALANCE,0)    
 -ISNULL(BANK_CHARGES_CREDITS,0)    
 )     
 AS "DIFFERENCE"    
 FROM ACT_BANK_RECONCILIATION    
 WHERE AC_RECONCILIATION_ID = @AC_RECONCILIATION_ID*/    
     
 INSERT INTO #TEMP_DATA    
   (     
    ACC_DESCRIPTION  , STARTING_BALANCE , ENDING_BALANCE , BANK_CHARGES  ,    
    TOTAL_CHECKS ,TOTAL_DEPOSITS ,TOTAL_JE   ,TOTAL_INVOICES , TOTAL_OTHER        
   )    
 SELECT     
 (    
  SELECT CONVERT(VARCHAR,ACC_NUMBER) FROM ACT_GL_ACCOUNTS     
  WHERE ACCOUNT_ID=@ACCOUNT_ID    
 ) AS ACC_DESCRIPTION,    
   STARTING_BALANCE,   
  ENDING_BALANCE ,    
BANK_CHARGES_CREDITS AS BANK_CHARGES,    
 (    
  SELECT ISNULL(SUM(TRANSACTION_AMOUNT),0) FROM ACT_ACCOUNTS_POSTING_DETAILS     
  WHERE IDENTITY_ROW_ID IN     
   (    
    SELECT IDENTITY_ROW_ID FROM ACT_BANK_RECONCILIATION_ITEMS_DETAILS     
    WHERE AC_RECONCILIATION_ID=@AC_RECONCILIATION_ID    
   )    
  AND UPDATED_FROM = 'C'    
 )AS TOTAL_CHECKS ,    
 (    
  SELECT ISNULL(SUM(TRANSACTION_AMOUNT),0) FROM ACT_ACCOUNTS_POSTING_DETAILS     
  WHERE IDENTITY_ROW_ID IN     
   (    
    SELECT IDENTITY_ROW_ID FROM ACT_BANK_RECONCILIATION_ITEMS_DETAILS     
    WHERE AC_RECONCILIATION_ID=@AC_RECONCILIATION_ID    
   )    
  AND UPDATED_FROM = 'D'    
 )AS DEPOSITS ,    
 (    
  SELECT ISNULL(SUM(TRANSACTION_AMOUNT),0) FROM ACT_ACCOUNTS_POSTING_DETAILS     
  WHERE IDENTITY_ROW_ID IN     
   (    
    SELECT IDENTITY_ROW_ID FROM ACT_BANK_RECONCILIATION_ITEMS_DETAILS     
    WHERE AC_RECONCILIATION_ID=@AC_RECONCILIATION_ID    
   )    
  AND UPDATED_FROM = 'J'    
 )AS TOTAL_JE ,    
 (    
  SELECT ISNULL(SUM(TRANSACTION_AMOUNT),0) FROM ACT_ACCOUNTS_POSTING_DETAILS     
  WHERE IDENTITY_ROW_ID IN     
   (    
    SELECT IDENTITY_ROW_ID FROM ACT_BANK_RECONCILIATION_ITEMS_DETAILS     
    WHERE AC_RECONCILIATION_ID=@AC_RECONCILIATION_ID    
   )    
  AND UPDATED_FROM = 'I'    
 )AS TOTAL_INVOICES,    
 (    
  SELECT ISNULL(SUM(TRANSACTION_AMOUNT),0) FROM ACT_ACCOUNTS_POSTING_DETAILS     
  WHERE IDENTITY_ROW_ID IN     
   (    
    SELECT IDENTITY_ROW_ID FROM ACT_BANK_RECONCILIATION_ITEMS_DETAILS     
    WHERE AC_RECONCILIATION_ID=@AC_RECONCILIATION_ID    
   )    
  AND UPDATED_FROM NOT IN ( 'I' , 'C' , 'D' , 'J' )     
 )AS TOTAL_OTHER     
 FROM ACT_BANK_RECONCILIATION    
 WHERE AC_RECONCILIATION_ID = @AC_RECONCILIATION_ID    
    
 --SELECT * FROM #TEMP_DATA    
select   
 ACC_DESCRIPTION    ,     
 CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL(STARTING_BALANCE,0)),1) AS STARTING_BALANCE,                             
 CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL(ENDING_BALANCE,0)),1) AS ENDING_BALANCE,                           
 CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL(BANK_CHARGES,0)),1) AS BANK_CHARGES,    
 CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL(TOTAL_CHECKS,0)),1) AS TOTAL_CHECKS,    
 CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL(TOTAL_DEPOSITS,0)),1) AS TOTAL_DEPOSITS,                        
 CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL(TOTAL_JE,0)),1) AS TOTAL_JE,                                                  
 CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL(TOTAL_INVOICES,0)),1) AS TOTAL_INVOICES,                                                                       
 CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL(TOTAL_OTHER,0)),1) AS TOTAL_OTHER,                                                                                             
 CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL(TOTAL_ITEMS,0)),1) AS TOTAL_ITEMS,                                                                                     
 CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL(CALCULATED_ENDING,0)),1) AS CALCULATED_ENDING,                                                                                               
  CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL(DIFFERENCE,0)),1) AS DIFFERENCE                                                                                          
 from #TEMP_DATA  
END    
    
DROP TABLE #TEMP_DATA    
END    
  
--  
--go  
--execute [Proc_Get_ACT_BANK_RECONCILIATION_ITEMS_DETAILS] 3,90,'Y','N'  
----  
--rollback tran 



GO

