IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_GETUSERAGENCY_LIST]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_GETUSERAGENCY_LIST]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran      
--drop proc PROC_GETUSERAGENCY_LIST       
--go      
      
CREATE PROC PROC_GETUSERAGENCY_LIST        
(        
 @USERID INT        
)        
        
AS        
        
BEGIN        
        
(SELECT AGENCY_ID,(CONVERT(VARCHAR(30),ISNULL(AGENCY_DISPLAY_NAME,'')) +'-'+ CONVERT(VARCHAR(30),ISNULL(NUM_AGENCY_CODE,'')) +'-'+ CONVERT(VARCHAR(30),ISNULL(AGENCY_CODE,''))) AS AGENCY_DISPLAY_NAME    
  FROM MNT_AGENCY_LIST WHERE AGENCY_COMBINED_CODE IN        
(SELECT ISNULL(AGENCY_COMBINED_CODE,'') AGENCY_COMBINED_CODE  FROM MNT_AGENCY_LIST WHERE AGENCY_CODE=        
(SELECT USER_SYSTEM_ID FROM MNT_USER_LIST WHERE USER_ID=@USERID )) )      
EXCEPT      
 (SELECT AGENCY_ID,(CONVERT(VARCHAR(30),ISNULL(AGENCY_DISPLAY_NAME,'')) +'-'+ CONVERT(VARCHAR(30),ISNULL(NUM_AGENCY_CODE,'')) +'-'+ CONVERT(VARCHAR(30),ISNULL(AGENCY_CODE,''))) AS AGENCY_DISPLAY_NAME     FROM MNT_AGENCY_LIST WHERE AGENCY_ID IN    
 (SELECT AGENCY_ID FROM MNT_USER_AGENCY WHERE USER_ID = @USERID )  
  UNION  
  (SELECT AGENCY_ID,(CONVERT(VARCHAR(30),ISNULL(AGENCY_DISPLAY_NAME,'')) +'-'+ CONVERT(VARCHAR(30),ISNULL(NUM_AGENCY_CODE,'')) +'-'+ CONVERT(VARCHAR(30),ISNULL(AGENCY_CODE,''))) AS AGENCY_DISPLAY_NAME     FROM MNT_AGENCY_LIST WHERE AGENCY_CODE IN  
   (SELECT USER_SYSTEM_ID FROM MNT_USER_LIST WHERE USER_ID=@USERID )) )  
    
        
END      
--go      
--PROC_GETUSERAGENCY_LIST 349      
--      
--rollback tran    
    
GO

