IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetInstallmentDetails]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetInstallmentDetails]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--select * from MNT_COVERAGE where CARRIER_COV_CODE=113 and LOB_ID=11 and SUB_LOB_ID=4  
  
--BEGIN TRAN             
--drop proc dbo.Proc_GetInstallmentDetails            
--go     
--=============================================    
-- Author:  <Pradeep Kushwah >    
-- Create date: <11-May-2011>    
-- Description: <To get the policy installment details>    
-- DROP PROC Proc_GetInstallmentDetails    
-- =============================================    
CREATE PROCEDURE [dbo].[Proc_GetInstallmentDetails]    
 -- Add the parameters for the stored procedure here    
  @CUSTOMER_ID INT,    
  @POLICY_ID INT=NULL,    
  @POLICY_VERSION_ID INT=NULL,    
  @CALLED_FROM NVARCHAR(50)=NULL,    
  @LANG_ID INT=1,    
  @INSTALLMENT_NO INT=null    
AS    
BEGIN    
 -- SET NOCOUNT ON added to prevent extra result sets from    
 -- interfering with SELECT statements.    
 IF(UPPER(@CALLED_FROM)='COINS_DEPOSIT')    
 BEGIN    
   --to Get the installment #    
 SELECT INSTALL.INSTALLMENT_NO,    
 Convert(Varchar,INSTALL.INSTALLMENT_EFFECTIVE_DATE,CASE WHEN @LANG_ID=2 THEN 103 ELSE 101 END)+ '- ( '+ CONVERT(VARCHAR,INSTALL.INSTALLMENT_NO) +' )' AS INSTALLMENT,    
    INSTALL.INSTALLMENT_AMOUNT,    
    INSTALL.INTEREST_AMOUNT,
    ABS(ISNULL(APCBD.CO_COMM_AMT,0)) CO_COMM_AMT  -- To get the co commission amt with Absolute value - itrack 1148/1363 as discussed with Anurag     
    FROM ACT_POLICY_INSTALLMENT_DETAILS INSTALL WITH(NOLOCK) 
    --added for itrack - 1148/1363 
    LEFT JOIN ACT_POLICY_CO_BILLING_DETAILS APCBD WITH(NOLOCK) ON -- Modified for itrack- 1515
    INSTALL.CUSTOMER_ID =APCBD.CUSTOMER_ID AND 
    INSTALL.POLICY_ID=APCBD.POLICY_ID AND 
    INSTALL.POLICY_VERSION_ID =APCBD.POLICY_VERSION_ID AND 
    INSTALL.INSTALLMENT_NO =APCBD.INSTALLMENT_NO  
    --added till here 
 WHERE 
 INSTALL.CUSTOMER_ID=@CUSTOMER_ID AND 
 INSTALL.POLICY_ID=@POLICY_ID AND 
 INSTALL.POLICY_VERSION_ID=@POLICY_VERSION_ID 
 AND INSTALL.RELEASED_STATUS NOT IN('U','C')
 and (@INSTALLMENT_NO IS NULL OR INSTALL.INSTALLMENT_NO=@INSTALLMENT_NO)    
 
    
 END     
 IF(UPPER(@CALLED_FROM)='REFUND_DEPOSIT')    
 BEGIN    
  --Broker    
  /*   MODIFIED BY ATUL  
    NEW JOIN WITH POL_POLICY_CUSTOMER_LIST BEING APPLIED FOR FETCHING POLICY LEVEL COMMITION PERCENTAGE   
  */  
    
  SELECT REMUN.REMUNERATION_ID   as RECEIPT_FROM_ID ,     
  AGN_LIST.AGENCY_ID  ,AGN_LIST.AGENCY_DISPLAY_NAME as RECEIPT_FROM_NAME ,    
  ISNULL(REMUN.COMMISSION_PERCENT,0) as COMM_PERCENT  ,  
       PCPL.POLICY_LEVEL_COMISSION AS POLICY_LEVEL_COMMISSION     
  FROM POL_REMUNERATION  REMUN WITH(NOLOCK)      
  INNER JOIN MNT_AGENCY_LIST AGN_LIST WITH(NOLOCK) ON    
  REMUN.BROKER_ID=AGN_LIST.AGENCY_ID  
    INNER JOIN POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK)  
  ON  PCPL.CUSTOMER_ID   = REMUN.CUSTOMER_ID  
  AND  PCPL.POLICY_ID    = REMUN.POLICY_ID    
  AND  PCPL.POLICY_VERSION_ID  = REMUN.POLICY_VERSION_ID    
  WHERE REMUN.CUSTOMER_ID=@CUSTOMER_ID     
  AND REMUN.POLICY_ID=@POLICY_ID AND REMUN.POLICY_VERSION_ID=@POLICY_VERSION_ID    
  --RI Name    
  SELECT POL_REN.REINSURANCE_ID  as RECEIPT_FROM_ID , REIN_COM.REIN_COMAPANY_ID,    
  REIN_COM.REIN_COMAPANY_NAME as RECEIPT_FROM_NAME  FROM      
  POL_REINSURANCE_INFO POL_REN WITH(NOLOCK)     
  INNER JOIN MNT_REIN_COMAPANY_LIST REIN_COM WITH(NOLOCK) ON     
  POL_REN.COMPANY_ID=REIN_COM.REIN_COMAPANY_ID    
  WHERE     
  POL_REN.CUSTOMER_ID=@CUSTOMER_ID     
  AND POL_REN.POLICY_ID=@POLICY_ID AND POL_REN.POLICY_VERSION_ID=@POLICY_VERSION_ID    
       
  --Follower Name    
   SELECT COINSURANCE_ID as RECEIPT_FROM_ID,CO_INSURER_NAME,MNT_REIN.REIN_COMAPANY_ID ,    
   MNT_REIN.REIN_COMAPANY_NAME as RECEIPT_FROM_NAME ,LEADER_FOLLOWER,ISNULL(COINSURANCE_PERCENT,0) as COMM_PERCENT,    
   MNT_REIN.REIN_COMAPANY_CODE     
   FROM POL_CO_INSURANCE WITH(NOLOCK)        
   INNER JOIN MNT_REIN_COMAPANY_LIST MNT_REIN WITH(NOLOCK)        
   on POL_CO_INSURANCE.COMPANY_ID=MNT_REIN.REIN_COMAPANY_ID        
   WHERE CUSTOMER_ID = @CUSTOMER_ID     
   AND POLICY_ID = @POLICY_ID     
   AND POLICY_VERSION_ID = @POLICY_VERSION_ID    
   AND LEADER_FOLLOWER=14549--Follower        
   ORDER BY CO_INSURER_NAME    
 END    
      
        
END

GO

