IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_GETPOL_IM_COVG]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_GETPOL_IM_COVG]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE PROC_GETPOL_IM_COVG
(              
  @CUSTOMER_ID INT,              
  @POL_ID INT,              
  @POL_VERSION_ID SMALLINT
)              
              
AS            
BEGIN
	SELECT MAX(CVG.ITEM_ID) AS ITEM_ID, MAX(DEDUCTIBLE) AS DEDUCTIBLE, 
	SUM(ISNULL(ITEM_INSURING_VALUE,0)) AS ITEM_INSURING_VALUE 
	FROM POL_HOME_OWNER_SCH_ITEMS_CVGS CVG WITH (NOLOCK)
	LEFT JOIN POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS CVGD WITH (NOLOCK)
	ON CVG.CUSTOMER_ID = CVGD.CUSTOMER_ID
	AND CVG.POLICY_ID = CVGD.POL_ID
	AND  CVG.POLICY_VERSION_ID = CVGD.POL_VERSION_ID
	AND CVG.ITEM_ID = CVGD.ITEM_ID

	WHERE 	CVG.CUSTOMER_ID = @CUSTOMER_ID AND      
		CVG.POLICY_ID = @POL_ID AND              
		CVG.POLICY_VERSION_ID = @POL_VERSION_ID

	GROUP BY CVG.ITEM_ID, DEDUCTIBLE
END
-- PROC_GETPOL_IM_COVG 920, 489,1
-- SP_HELPTEXT PROC_GETPOL_IM_COVG
-- sp_columns POL_HOME_OWNER_SCH_ITEMS_CVGS_Details
-- select * from POL_HOME_OWNER_SCH_ITEMS_CVGS_Details
-- select * from POL_HOME_OWNER_SCH_ITEMS_CVGS
			        

        

        
          
        
      
    
  
  









GO

