IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetJournalEntry]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetJournalEntry]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[Proc_GetJournalEntry]          
(          
 @JOURNAL_ID int           
)          
AS
BEGIN          
          
SELECT  CASE ACT_JOURNAL_MASTER.JOURNAL_GROUP_TYPE    
WHEN 'RC'  THEN 'Recurring'  
WHEN 'TP'  THEN 'Template'  
WHEN 'ML'  THEN 'Manual'  
WHEN '13'  THEN '13th Period Assignment' END  AS JOURNAL_GROUP_TYPE   
,ACC_DESCRIPTION, CASE ACT_JOURNAL_LINE_ITEMS.TYPE          
  WHEN 'CUS' THEN IsNull(REGARDING_CUSTOMER.CUSTOMER_FIRST_NAME,'') + ' ' + IsNull(REGARDING_CUSTOMER.CUSTOMER_MIDDLE_NAME,'') + ' ' + IsNull(REGARDING_CUSTOMER.CUSTOMER_LAST_NAME,'')          
   WHEN 'MOR' THEN MNT_HOLDER_INTEREST_LIST.HOLDER_NAME          
  WHEN 'VEN' THEN MNT_VENDOR_LIST.COMPANY_NAME          
  WHEN 'OTH' THEN CONVERT(VARCHAR,REGARDING)          
  WHEN 'TAX' THEN CONVERT(VARCHAR,MNT_TAX_ENTITY_LIST.TAX_ID)          
  WHEN 'AGN' THEN MNT_AGENCY_LIST.AGENCY_DISPLAY_NAME          
 END AS REGARDING_NAME,          
CASE ACT_JOURNAL_LINE_ITEMS.TYPE          
  WHEN 'CUS' THEN 'Customer'          
  WHEN 'MOR' THEN 'Mortgage'          
  WHEN 'VEN' THEN 'Vendor'          
  WHEN 'OTH' THEN 'Other'          
  WHEN 'TAX' THEN  'Tax'          
  WHEN 'AGN' THEN 'Agency'          
 END AS TYPE          
  ,JE_LINE_ITEM_ID,  ISNULL(MNT_DIV_LIST.DIV_NAME,'') AS DIV_NAME, ISNULL(MNT_DEPT_LIST.DEPT_NAME,'')AS DEPT_NAME,          
  ISNULL(MNT_PROFIT_CENTER_LIST.PC_NAME,'') AS PC_NAME, ACT_JOURNAL_LINE_ITEMS.CUSTOMER_ID,           
  --POLICY_ID, POLICY_VERSION_ID,          
  ISNULL(POL.POLICY_NUMBER,'') + ' ' + ISNULL(POL.POLICY_DISP_VERSION,'') AS POLICY_NUMBER, CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL(AMOUNT,0)),1) AS AMOUNT, REGARDING,           
  IsNull(REF_CUSTOMER.CUSTOMER_FIRST_NAME,'') + ' ' + IsNull(REF_CUSTOMER.CUSTOMER_MIDDLE_NAME,'') + ' ' + IsNull(REF_CUSTOMER.CUSTOMER_LAST_NAME,'') AS REF_CUSTOMER,          
  ACT_JOURNAL_LINE_ITEMS.BILL_TYPE, NOTE, CONVERT(VARCHAR,TRANS_DATE,101) TRANS_DATE, ACC_DISP_NUMBER as ACC_NUMBER,          
  IsNull(CLT_CUSTOMER_LIST.CUSTOMER_FIRST_NAME,'') + ' ' + IsNull(CLT_CUSTOMER_LIST.CUSTOMER_MIDDLE_NAME,'') + ' ' + IsNull(CLT_CUSTOMER_LIST.CUSTOMER_LAST_NAME,'') as CUSTOMER_NAME,          
  ACT_JOURNAL_LINE_ITEMS.IS_ACTIVE, ACT_JOURNAL_LINE_ITEMS.CREATED_BY, ACT_JOURNAL_LINE_ITEMS.CREATED_DATETIME,
   ACT_JOURNAL_MASTER.JOURNAL_ENTRY_NO +  CASE WHEN ACT_JOURNAL_MASTER.DESCRIPTION <> '' THEN + ' (' + isnull(ACT_JOURNAL_MASTER.DESCRIPTION,'') + ') ' ELSE '' END JOURNAL_ENTRY_NO       
 -- ACT_JOURNAL_MASTER.JOURNAL_ENTRY_NO          
 FROM ACT_JOURNAL_LINE_ITEMS           
 LEFT JOIN CLT_CUSTOMER_LIST ON CLT_CUSTOMER_LIST.CUSTOMER_ID = ACT_JOURNAL_LINE_ITEMS.REF_CUSTOMER AND ACT_JOURNAL_LINE_ITEMS.TYPE='CUS'          
 LEFT JOIN MNT_VENDOR_LIST ON Convert(varchar, MNT_VENDOR_LIST.VENDOR_ID) = ACT_JOURNAL_LINE_ITEMS.REGARDING  AND ACT_JOURNAL_LINE_ITEMS.TYPE = 'VEN'          
 LEFT JOIN MNT_HOLDER_INTEREST_LIST ON Convert(varchar, MNT_HOLDER_INTEREST_LIST.HOLDER_ID) = ACT_JOURNAL_LINE_ITEMS.REGARDING AND ACT_JOURNAL_LINE_ITEMS.TYPE = 'MOR'          
 LEFT JOIN CLT_CUSTOMER_LIST REGARDING_CUSTOMER ON Convert(varchar, REGARDING_CUSTOMER.CUSTOMER_ID) = ACT_JOURNAL_LINE_ITEMS.REGARDING AND ACT_JOURNAL_LINE_ITEMS.TYPE = 'CUS'           
 LEFT JOIN CLT_CUSTOMER_LIST REF_CUSTOMER ON REF_CUSTOMER.CUSTOMER_ID = ACT_JOURNAL_LINE_ITEMS.REF_CUSTOMER           
 LEFT JOIN MNT_TAX_ENTITY_LIST ON Convert(varchar, MNT_TAX_ENTITY_LIST.TAX_ID) = ACT_JOURNAL_LINE_ITEMS.REGARDING AND ACT_JOURNAL_LINE_ITEMS.TYPE = 'TAX'          
 LEFT JOIN MNT_AGENCY_LIST ON Convert(varchar, MNT_AGENCY_LIST.AGENCY_ID) = ACT_JOURNAL_LINE_ITEMS.REGARDING AND ACT_JOURNAL_LINE_ITEMS.TYPE = 'AGN'          
 LEFT JOIN ACT_GL_ACCOUNTS ON  ACT_GL_ACCOUNTS.ACCOUNT_ID = ACT_JOURNAL_LINE_ITEMS.ACCOUNT_ID          
 LEFT JOIN MNT_ACCOUNTING_ENTITY_LIST ON MNT_ACCOUNTING_ENTITY_LIST.REC_ID = ACT_JOURNAL_LINE_ITEMS.ACCOUNT_ID          
 LEFT JOIN MNT_DEPT_LIST ON MNT_DEPT_LIST.DEPT_ID = ACT_JOURNAL_LINE_ITEMS.DEPT_ID          
 LEFT JOIN MNT_DIV_LIST ON MNT_DIV_LIST.DIV_ID = ACT_JOURNAL_LINE_ITEMS.DIV_ID          
 LEFT JOIN ACT_JOURNAL_MASTER ON ACT_JOURNAL_MASTER.JOURNAL_ID=ACT_JOURNAL_LINE_ITEMS.JOURNAL_ID          
 LEFT JOIN MNT_PROFIT_CENTER_LIST ON MNT_PROFIT_CENTER_LIST.PC_ID = ACT_JOURNAL_LINE_ITEMS.PC_ID          
    LEFT JOIN POL_CUSTOMER_POLICY_LIST POL ON POL.CUSTOMER_ID = ACT_JOURNAL_LINE_ITEMS.REF_CUSTOMER AND             
 POL.POLICY_ID = ACT_JOURNAL_LINE_ITEMS.POLICY_ID AND POL.POLICY_VERSION_ID = ACT_JOURNAL_LINE_ITEMS.POLICY_VERSION_ID          
 WHERE           
  ACT_JOURNAL_LINE_ITEMS.JOURNAL_ID = @JOURNAL_ID      
order by TYPE        
          
END          
      
  
/*----------------------------------------------------------  
Proc Name          : dbo.Proc_GetGLAccounts_Reins  
Created by           : Praveen kasana  
Date                 : March 3rd 2008  
Purpose              : At Reinsurance Checks distribution screen,   
      show accounts related to Claims or Reinsurance  
      only in the account dropdowns for distribution account.  
Revison History :  
Used In                :   Wolverine    
------------------------------------------------------------  
Date     Review By          Comments  
------   ------------       -------------------------*/

GO

