IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_DistCancellationPremiumInCoverages]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_DistCancellationPremiumInCoverages]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN 
--DROP PROC PROC_DistCanPremiumInCoverages
--GO

/*    
CREATED BY   : Lalit Kr Chauhan       
CREATED DATETIME : June 08 2011
PURPOSE    : Distribute cancellation premium between selected coverages
Review    :       
Review By  Date  :         
Purpose    :      
DROP PROC PROC_DistCanPremiumInCoverages 
*/ 
CREATE PROC [dbo].[PROC_DistCancellationPremiumInCoverages]
(
	@CUSTOEMR_ID INT,
	@POLICY_ID INT,
	@POLICY_VERSION_ID INT,
	@CANCEL_PREMIUM DECIMAL(25,2) = 0
)
AS
BEGIN
	DECLARE @COVERAGES_COUNT INT,@SUM_COVERAGE DECIMAL(25,2),@DIFF_WRITTEN_PREMIUM DECIMAL(25,2)
	
	
	IF(ISNULL(@CANCEL_PREMIUM,0)=0 )
		SELECT  @CANCEL_PREMIUM = TOTAL_TRAN_PREMIUM FROM ACT_POLICY_INSTALL_PLAN_DATA WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOEMR_ID AND POLICY_ID = @POLICY_ID AND
		POLICY_VERSION_ID = @POLICY_VERSION_ID
	
	
	IF(ISNULL(@CANCEL_PREMIUM,0)<>0)
	BEGIN
	SELECT * INTO #tempPolicyCoverages FROM POL_PRODUCT_COVERAGES WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOEMR_ID AND POLICY_ID =@POLICY_ID
	AND POLICY_VERSION_ID = @POLICY_VERSION_ID
	
	SELECT @COVERAGES_COUNT = COUNT(RISK_ID) FROM POL_PRODUCT_COVERAGES WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOEMR_ID AND POLICY_ID =@POLICY_ID
	AND POLICY_VERSION_ID = @POLICY_VERSION_ID
	
	UPDATE POL_PRODUCT_COVERAGES
	SET WRITTEN_PREMIUM =  ROUND(@CANCEL_PREMIUM /@COVERAGES_COUNT,2)
	WHERE CUSTOMER_ID = @CUSTOEMR_ID AND POLICY_ID =@POLICY_ID
	AND POLICY_VERSION_ID = @POLICY_VERSION_ID
	
	
	SELECT @SUM_COVERAGE = SUM(WRITTEN_PREMIUM)
	FROM POL_PRODUCT_COVERAGES WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOEMR_ID AND POLICY_ID =@POLICY_ID
	AND POLICY_VERSION_ID = @POLICY_VERSION_ID
	
			IF(ABS(@CANCEL_PREMIUM - @SUM_COVERAGE) <>  0 )
			BEGIN

					UPDATE TOP (1)  POL_PRODUCT_COVERAGES
					SET 
					WRITTEN_PREMIUM =  WRITTEN_PREMIUM + (@CANCEL_PREMIUM - @SUM_COVERAGE)
					WHERE CUSTOMER_ID = @CUSTOEMR_ID AND POLICY_ID =@POLICY_ID
					AND POLICY_VERSION_ID = @POLICY_VERSION_ID		

			END
	
	END
		

END
--GO
--EXEC PROC_DistCanPremiumInCoverages 28070 , 468 ,2 ,-1126.21
--ROLLBACK TRAN

GO

