IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetDepositLineItemExceptionDetails]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetDepositLineItemExceptionDetails]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN  
--DROP PROC Proc_GetDepositLineItemExceptionDetails  
--GO  
-- =============================================            
-- Author	  : Pradeep Kushwaha
-- Create date: 12-Nov-2010        
-- Description: Get Deposit line items exception details 
-- DROP PROC Proc_GetDepositLineItemExceptionDetails      
-- Proc_GetDepositLineItemExceptionDetails  427 ,2 
-- =============================================   
         
CREATE Proc [dbo].[Proc_GetDepositLineItemExceptionDetails]
(          
@DEPOSIT_ID INT=NULL,
@LANG_ID INT=1
)          
AS           
BEGIN 
DECLARE @DEPOSIT_TYPE NVARCHAR(10)
SELECT @DEPOSIT_TYPE=DEPOSIT_TYPE FROM ACT_CURRENT_DEPOSITS WITH(NOLOCK) WHERE DEPOSIT_ID=@DEPOSIT_ID
IF(@DEPOSIT_TYPE='14832')--Co-Insurance 1148/1363-to display accepted Co-Insurance intallment exception record
BEGIN
	SELECT  ACD.DEPOSIT_ID,ACD.DEPOSIT_NUMBER
	,POL_COINS.LEADER_POLICY_NUMBER,  ISNULL(ENDO.CO_ENDORSEMENT_NO,'NBS') CO_ENDORSEMENT_NO, ITEMS.INSTALLMENT_NO
	,DBO.FUN_FORMATCURRENCY(ITEMS.RECEIPT_AMOUNT,@LANG_ID) AS RECEIPT_AMOUNT
	,ACD.DEPOSIT_TRAN_DATE
	,CASE WHEN @LANG_ID =1 THEN TRAN_TYPE.TRANS_TYPE_DESC  
	ELSE ISNULL(TRAN_TYPE_MULTI.TRANS_TYPE_NAME,TRAN_TYPE.TRANS_TYPE_DESC) END  AS EXCEPTION_REASON
	FROM 
	ACT_CURRENT_DEPOSITS ACD WITH(NOLOCK) 
	LEFT JOIN ACT_CURRENT_DEPOSIT_LINE_ITEMS ITEMS WITH(NOLOCK) ON ACD.DEPOSIT_ID = ITEMS.DEPOSIT_ID
	INNER JOIN ACT_POLICY_INSTALLMENT_DETAILS INSTALL WITH(NOLOCK) ON ITEMS.CUSTOMER_ID=INSTALL.CUSTOMER_ID AND ITEMS.POLICY_ID=INSTALL.POLICY_ID AND ITEMS.POLICY_VERSION_ID = INSTALL.POLICY_VERSION_ID AND ITEMS.INSTALLMENT_NO=INSTALL.INSTALLMENT_NO 
	LEFT JOIN POL_POLICY_ENDORSEMENTS ENDO WITH(NOLOCK) ON  ITEMS.CUSTOMER_ID=ENDO.CUSTOMER_ID AND ITEMS.POLICY_ID   =ENDO.POLICY_ID AND ITEMS.POLICY_VERSION_ID =ENDO.POLICY_VERSION_ID 
	INNER JOIN POL_CO_INSURANCE POL_COINS WITH(NOLOCK) ON POL_COINS.CUSTOMER_ID = ITEMS.CUSTOMER_ID  AND POL_COINS.POLICY_ID = ITEMS.POLICY_ID  AND POL_COINS.POLICY_VERSION_ID = ITEMS.POLICY_VERSION_ID   AND POL_COINS.COINSURANCE_ID=ITEMS.RECEIPT_FROM_ID 
	LEFT JOIN TRANSACTIONTYPELIST TRAN_TYPE WITH(NOLOCK) ON TRAN_TYPE.TRANS_TYPE_ID = ITEMS.EXCEPTION_REASON
	LEFT OUTER JOIN TRANSACTIONTYPELIST_MULTILINGUAL TRAN_TYPE_MULTI WITH(NOLOCK) ON  TRAN_TYPE.TRANS_TYPE_ID =TRAN_TYPE_MULTI.TRANS_TYPE_ID AND TRAN_TYPE_MULTI.LANG_ID=@LANG_ID
	WHERE ITEMS.DEPOSIT_ID=@DEPOSIT_ID AND UPPER(ITEMS.IS_EXCEPTION)='Y'
END
ELSE
BEGIN
	SELECT ACDLI.DEPOSIT_ID, 
	ACD.DEPOSIT_NUMBER,
	CASE WHEN ACDLI.DEPOSIT_TYPE='14832' THEN '--' ELSE dbo.fun_FormatCurrency(IN_DETL.TOTAL,@LANG_ID) END AS BOLETO_AMOUNT ,
	--IN_DETL.TOTAL AS BOLETO_AMOUNT ,
	CASE WHEN ACDLI.DEPOSIT_TYPE='14832' THEN '--' ELSE CASE WHEN ACDLI.EXCEPTION_REASON=395 AND ACDLI.IS_EXCEPTION='Y' THEN ACDLI.INCORRECT_OUR_NUMBER ELSE BOLETO.OUR_NUMBER END END AS OUR_NUMBER ,
	--CASE WHEN ACDLI.EXCEPTION_REASON=395 AND ACDLI.IS_EXCEPTION='Y' THEN ACDLI.INCORRECT_OUR_NUMBER ELSE BOLETO.OUR_NUMBER END  as OUR_NUMBER,
	dbo.fun_FormatCurrency(ACDLI.RECEIPT_AMOUNT,@LANG_ID) as RECEIPT_AMOUNT,
	ACDLI.IS_EXCEPTION,
	CASE WHEN ACDLI.DEPOSIT_TYPE='14832' THEN '--' ELSE ISNULL(BOLETO.IS_ACTIVE,'N')  END AS BOLETO_STATUS ,
	--ISNULL(BOLETO.IS_ACTIVE,'N') AS  BOLETO_STATUS ,
	ACD.DEPOSIT_TRAN_DATE,-- ,RLOG.ADDITIONAL_INFO
	case when @LANG_ID =1 then TRAN_TYPE.TRANS_TYPE_DESC  
	else isnull(TRAN_TYPE_MULTI.TRANS_TYPE_NAME,TRAN_TYPE.TRANS_TYPE_DESC) end  AS EXCEPTION_REASON
	FROM ACT_CURRENT_DEPOSITS ACD WITH(NOLOCK)
	LEFT JOIN ACT_CURRENT_DEPOSIT_LINE_ITEMS ACDLI WITH(NOLOCK)
	ON ACD.DEPOSIT_ID = ACDLI.DEPOSIT_ID
	LEFT JOIN POL_INSTALLMENT_BOLETO BOLETO WITH(NOLOCK)
	ON ACDLI.BOLETO_NO=BOLETO.BOLETO_ID
	LEFT JOIN ACT_POLICY_INSTALLMENT_DETAILS IN_DETL WITH(NOLOCK)
	ON BOLETO.INSTALLEMT_ID=IN_DETL.ROW_ID
	LEFT JOIN TRANSACTIONTYPELIST TRAN_TYPE WITH(NOLOCK)
	ON TRAN_TYPE.TRANS_TYPE_ID = ACDLI.EXCEPTION_REASON
	LEFT OUTER join TRANSACTIONTYPELIST_MULTILINGUAL TRAN_TYPE_MULTI WITH(NOLOCK) 
	ON  TRAN_TYPE.TRANS_TYPE_ID =TRAN_TYPE_MULTI.TRANS_TYPE_ID 
	AND TRAN_TYPE_MULTI.LANG_ID=@LANG_ID
	--inner JOIN RTL_PROCESS_LOG RLOG WITH(NOLOCK) 
	--ON RLOG.DEPOSIT_ID=ACD.DEPOSIT_ID
	WHERE ACDLI.DEPOSIT_ID=@DEPOSIT_ID and UPPER(ACDLI.IS_EXCEPTION)='Y'
	END
END

GO

