IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_FILLAPP_REACREATIONALVEHICLE_DROPDOWN]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_FILLAPP_REACREATIONALVEHICLE_DROPDOWN]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran
--drop proc PROC_FILLAPP_REACREATIONALVEHICLE_DROPDOWN
--go

CREATE PROCEDURE [dbo].[PROC_FILLAPP_REACREATIONALVEHICLE_DROPDOWN]             
(            
 @CUSTOMER_ID INT,             
 @APP_ID INT,             
 @APP_VERSION_ID INT,        
 @DRIVER_ID INT = NULL            
)            
AS            
BEGIN            
IF EXISTS(    
     
 SELECT CUSTOMER_ID FROM APP_OPERATOR_ASSIGNED_RECREATIONAL_VEHICLE       
  WHERE APP_OPERATOR_ASSIGNED_RECREATIONAL_VEHICLE.CUSTOMER_ID = @CUSTOMER_ID         
  AND APP_OPERATOR_ASSIGNED_RECREATIONAL_VEHICLE.APP_ID = @APP_ID         
  AND APP_OPERATOR_ASSIGNED_RECREATIONAL_VEHICLE.APP_VERSION_ID = @APP_VERSION_ID        
  AND APP_OPERATOR_ASSIGNED_RECREATIONAL_VEHICLE.DRIVER_ID = @DRIVER_ID        
 )    
BEGIN      
  SELECT AHORV.REC_VEH_ID,         
  CONVERT(VARCHAR,AHORV.REC_VEH_ID) + ' '  + cast(ISNULL(AHORV.[YEAR],'') as varchar)  + ' ' + ISNULL(MAKE,'') AS MODEL_MAKE ,        
  isnull(AOARV.RECREATIONAL_VEH_ID, 0) AS RECREATIONAL_VEH_ID,        
  isnull(AOARV.APP_REC_VEHICLE_PRIN_OCC_ID, 0) AS APP_REC_VEHICLE_PRIN_OCC_ID   
     
  FROM APP_HOME_OWNER_RECREATIONAL_VEHICLES AHORV WITH(NOLOCK)           
  LEFT JOIN APP_OPERATOR_ASSIGNED_RECREATIONAL_VEHICLE AOARV       
  ON AHORV.CUSTOMER_ID = AOARV.CUSTOMER_ID        
  AND AHORV.APP_ID = AOARV.APP_ID        
  AND AHORV.APP_VERSION_ID = AOARV.APP_VERSION_ID        
  AND AHORV.REC_VEH_ID = AOARV.RECREATIONAL_VEH_ID        
  AND AOARV.DRIVER_ID = @DRIVER_ID         
  WHERE AHORV.CUSTOMER_ID = @CUSTOMER_ID         
  AND AHORV.APP_ID = @APP_ID         
  AND AHORV.APP_VERSION_ID = @APP_VERSION_ID        
  AND UPPER(AHORV.ACTIVE)='Y'  ORDER BY 2 
END           
ELSE        
 BEGIN
  SELECT AHORV.REC_VEH_ID,         
  CONVERT(VARCHAR,AHORV.REC_VEH_ID) + ' '  + cast(ISNULL(AHORV.[YEAR],'') as varchar)   + ' ' + ISNULL(MAKE,'') AS MODEL_MAKE ,        
  '0' AS RECREATIONAL_VEH_ID,        
  '0' AS OPERATOR_TYPE        
  FROM APP_HOME_OWNER_RECREATIONAL_VEHICLES AHORV WITH(NOLOCK)           
  WHERE AHORV.CUSTOMER_ID = @CUSTOMER_ID         
  AND AHORV.APP_ID = @APP_ID         
  AND AHORV.APP_VERSION_ID = @APP_VERSION_ID        
  AND UPPER(AHORV.ACTIVE)='Y'  ORDER BY 2  
 END          
END            

     
-- go
--exec PROC_FILLAPP_REACREATIONALVEHICLE_DROPDOWN 547,83,2,2
--rollback tran       
      






GO

