IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetPolicyInstallmentPlanInfo]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetPolicyInstallmentPlanInfo]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN     
--drop proc dbo.Proc_GetPolicyInstallmentPlanInfo 1707,49,3     
--go     
/*-----------------    
Modified By  : Praveen Kasana    
Modified On  : 30 Oct 2009    
Purpose   : Itrack 6675    
-----------------------------------*/    
      
CREATE  PROCEDURE [dbo].[Proc_GetPolicyInstallmentPlanInfo]              
(              
 @CUSTOMER_ID int,            
 @POLICY_ID int,            
 @POLICY_VERSION_ID int            
)              
AS              
BEGIN              
       
DECLARE @FULL_PAY_PLAN_ID  Int      
DECLARE @INSTALL_PLAN_ID Int    
DECLARE @BILL_TYPE_ID Int      
DECLARE @POLICY_EFFECTIVE_DATE DateTime      
DECLARE @POLICY_STATUS    Varchar(20)      
DECLARE @CURRENT_TERM SmallInt      
DECLARE @POLICY_TERMS SmallInt,      
  @BILL_TYPE Char(2),      
  @EFT_TENTATIVE_DATE INT       
    
      
DECLARE   @NO_OF_PAYMENTS Int,      
   @PLAN_PAYMENT_MODE Int,      
   @NO_INS_DOWNPAY Int,      
   @MODE_OF_DOWNPAY Int,      
   @MONTHS_BETWEEN SMALLINT,      
   @PERCENT_BREAKDOWN1 DECIMAL(10,4), @PERCENT_BREAKDOWN2 DECIMAL(10,4),       
   @PERCENT_BREAKDOWN3 DECIMAL(10,4), @PERCENT_BREAKDOWN4 DECIMAL(10,4),      
   @PERCENT_BREAKDOWN5 DECIMAL(10,4), @PERCENT_BREAKDOWN6 DECIMAL(10,4),      
   @PERCENT_BREAKDOWN7 DECIMAL(10,4), @PERCENT_BREAKDOWN8 DECIMAL(10,4),      
   @PERCENT_BREAKDOWN9 DECIMAL(10,4), @PERCENT_BREAKDOWN10 DECIMAL(10,4),       
   @PERCENT_BREAKDOWN11 DECIMAL(10,4), @PERCENT_BREAKDOWN12 DECIMAL(10,4)      
      
      
SELECT @FULL_PAY_PLAN_ID = isnull(IDEN_PLAN_ID,0)        
FROM ACT_INSTALL_PLAN_DETAIL WITH(NOLOCK)      
WHERE ISNULL(SYSTEM_GENERATED_FULL_PAY,0) = 1      
      
SELECT @EFT_TENTATIVE_DATE  = ISNULL(EFT_TENTATIVE_DATE,0 )     
FROM ACT_POL_EFT_CUST_INFO  (NOLOCK)          
WHERE   CUSTOMER_ID = @CUSTOMER_ID     
 AND POLICY_ID = @POLICY_ID     
 AND POLICY_VERSION_ID = @POLICY_VERSION_ID               
          
            
SELECT  @BILL_TYPE = isnull(BILL_TYPE,''),      
 @INSTALL_PLAN_ID = isnull(INSTALL_PLAN_ID,0),    
   @BILL_TYPE_ID = isnull(BILL_TYPE_ID,0),    
 @POLICY_EFFECTIVE_DATE=POLICY_EFFECTIVE_DATE   ,         
 @POLICY_STATUS   = isnull(POLICY_STATUS,'') ,      
 @CURRENT_TERM   = isnull(CURRENT_TERM,0) ,      
 @POLICY_TERMS    = isnull(APP_TERMS,0),      
 @MODE_OF_DOWNPAY = isnull(DOWN_PAY_MODE,0)      
FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK)             
WHERE  CUSTOMER_ID = @CUSTOMER_ID AND            
 POLICY_ID = @POLICY_ID AND            
 POLICY_VERSION_ID = @POLICY_VERSION_ID             
      
      
/***************************************************************************      
'UENDRS' 'URENEW' 'UREINST' 'SUSPENDED'  'UISSUE' 'RENEWED'  'NORMAL'      
UCANCL      
UREINST      
URENEW      
UNDERNONRENEW      
UISSUE      
SUSPENDED      
RSUSPENSE      
UREWRITE      
REWRTSUSP      
SCANCEL      
******************************************************************************/      
      
IF (@POLICY_STATUS = 'UCANCL'  OR @POLICY_STATUS = 'UREINST'       
 OR @POLICY_STATUS = 'URENEW'  OR @POLICY_STATUS = 'UNDERNONRENEW'       
 OR @POLICY_STATUS = 'UISSUE'  OR @POLICY_STATUS = 'SUSPENDED'      
 OR @POLICY_STATUS = 'RSUSPENSE' OR @POLICY_STATUS = 'UREWRITE'      
 OR @POLICY_STATUS = 'REWRTSUSP' OR @POLICY_STATUS = 'SCANCEL'      
      
)      
BEGIN       
 -- (Ravindra(08-23-2007) If policy if Under renew or a renewal has already performed on this policy       
 -- Fetch Percentage breakdown applicable for Renewal      
 IF EXISTS (    
  SELECT PROCESS_ID FROM POL_POLICY_PROCESS WITH(NOLOCK) WHERE       
  CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID      
  AND PROCESS_ID = 18 AND PROCESS_STATUS = 'COMPLETE'     
  )      
  OR      
   EXISTS(     
  SELECT PROCESS_ID FROM POL_POLICY_PROCESS WITH(NOLOCK) WHERE       
  CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID      
  AND PROCESS_ID = 5 AND NEW_POLICY_VERSION_ID = @POLICY_VERSION_ID     
  )      
 BEGIN       
  SELECT  @NO_OF_PAYMENTS = NO_OF_PAYMENTS ,      
  @PLAN_PAYMENT_MODE = PLAN_PAYMENT_MODE,      
  @NO_INS_DOWNPAY = NO_INS_DOWNPAY,     
  --@MODE_OF_DOWNPAY = MODE_OF_DOWNPAY,      
  @MONTHS_BETWEEN = MONTHS_BETWEEN,      
  @PERCENT_BREAKDOWN1 = PERCENT_BREAKDOWNRP1, @PERCENT_BREAKDOWN2 = PERCENT_BREAKDOWNRP2,       
  @PERCENT_BREAKDOWN3 = PERCENT_BREAKDOWNRP3, @PERCENT_BREAKDOWN4 = PERCENT_BREAKDOWNRP4,      
  @PERCENT_BREAKDOWN5 = PERCENT_BREAKDOWNRP5, @PERCENT_BREAKDOWN6 = PERCENT_BREAKDOWNRP6,     
  @PERCENT_BREAKDOWN7 = PERCENT_BREAKDOWNRP7, @PERCENT_BREAKDOWN8 = PERCENT_BREAKDOWNRP8,       
  @PERCENT_BREAKDOWN9 = PERCENT_BREAKDOWNRP9, @PERCENT_BREAKDOWN10 = PERCENT_BREAKDOWNRP10,       
  @PERCENT_BREAKDOWN11 = PERCENT_BREAKDOWNRP11, @PERCENT_BREAKDOWN12 = PERCENT_BREAKDOWNRP12      
  FROM ACT_INSTALL_PLAN_DETAIL WITH(NOLOCK)    
  WHERE IDEN_PLAN_ID = @INSTALL_PLAN_ID      
 END      
 ELSE      
 BEGIN      
  SELECT  @NO_OF_PAYMENTS = NO_OF_PAYMENTS ,      
  @PLAN_PAYMENT_MODE = PLAN_PAYMENT_MODE,      
  @NO_INS_DOWNPAY = NO_INS_DOWNPAY,      
  --@MODE_OF_DOWNPAY = MODE_OF_DOWNPAY,      
  @MONTHS_BETWEEN = MONTHS_BETWEEN,      
  @PERCENT_BREAKDOWN1 = PERCENT_BREAKDOWN1, @PERCENT_BREAKDOWN2 = PERCENT_BREAKDOWN2,       
  @PERCENT_BREAKDOWN3 = PERCENT_BREAKDOWN3, @PERCENT_BREAKDOWN4 = PERCENT_BREAKDOWN4,      
  @PERCENT_BREAKDOWN5 = PERCENT_BREAKDOWN5, @PERCENT_BREAKDOWN6 = PERCENT_BREAKDOWN6,      
  @PERCENT_BREAKDOWN7 = PERCENT_BREAKDOWN7, @PERCENT_BREAKDOWN8 = PERCENT_BREAKDOWN8,       
  @PERCENT_BREAKDOWN9 = PERCENT_BREAKDOWN9, @PERCENT_BREAKDOWN10 = PERCENT_BREAKDOWN10,       
  @PERCENT_BREAKDOWN11 = PERCENT_BREAKDOWN11, @PERCENT_BREAKDOWN12 = PERCENT_BREAKDOWN12      
  FROM ACT_INSTALL_PLAN_DETAIL  WITH(NOLOCK)    
  WHERE IDEN_PLAN_ID = @INSTALL_PLAN_ID      
 END      
END      
ELSE      
BEGIN       
 SELECT @PLAN_PAYMENT_MODE = MODE_OF_PAYMENT      
 FROM ACT_POLICY_INSTALL_PLAN_DATA  WITH(NOLOCK)    
 WHERE CUSTOMER_ID = @CUSTOMER_ID       
 AND POLICY_ID = @POLICY_ID       
 AND CURRENT_TERM = @CURRENT_TERM      
 AND ISNULL(IS_ACTIVE_PLAN, 'Y') = 'Y'  -- Ravindra(08-31-2007) Only active plan to be picked      
             -- while readjusting the installment old record get deactivated      
END      
      
    
-- Record Set One      
SELECT  @BILL_TYPE as BILL_TYPE,      
 CASE @INSTALL_PLAN_ID WHEN @FULL_PAY_PLAN_ID THEN 'FULLPAY'      
 ELSE 'INSTALLMENT' END  INSTALLMENT_PLAN ,      
 @POLICY_STATUS AS POLICY_STATUS ,      
 @POLICY_EFFECTIVE_DATE As POLICY_EFFECTIVE_DATE,      
 @POLICY_TERMS AS POLICY_TERMS,      
 @INSTALL_PLAN_ID AS INSTALL_PLAN_ID,    
 @BILL_TYPE_ID AS BILL_TYPE_ID,    
 @MODE_OF_DOWNPAY as MODE_OF_DOWNPAY ,      
 @PLAN_PAYMENT_MODE AS PLAN_PAYMENT_MODE      
      
--Commented by Ravindra(Ravindra(08-23-2007) as Version in Cancellation or Future Effective cancellation       
-- will have same installplan as base version       
-- Create Temporary view of Installment Plan if policy is under Underwritiing      
IF (--@POLICY_STATUS = 'UCANCL'  OR       
 @POLICY_STATUS = 'UREINST'       
 OR @POLICY_STATUS = 'URENEW'  OR @POLICY_STATUS = 'UNDERNONRENEW'       
 OR @POLICY_STATUS = 'UISSUE'  OR @POLICY_STATUS = 'SUSPENDED'      
 OR @POLICY_STATUS = 'RSUSPENSE' OR @POLICY_STATUS = 'UREWRITE'      
 OR @POLICY_STATUS = 'REWRTSUSP' --OR @POLICY_STATUS = 'SCANCEL'      
)      
BEGIN       
      
 CREATE TABLE #TEMP_INSTALLMENT_DETAILS      
 (      
 INSTALL_PLAN_ID Int,     
    BILL_TYPE_ID Int,     
 INSTALLMENT_NO Int,      
 RELEASED_STATUS Char(2),      
 INSTALLMENT_EFFECTIVE_DATE DateTime,      
 PAYMENT_MODE Int ,      
 PERCENTAG_OF_PREMIUM Decimal(9,4)      
 )      
       
 DECLARE @INSTALLMENT_EFFECTIVE_DATE DATETIME,      
  @DUE_DATE Datetime  ,    
  @CTR SMALLINT ,     
  @IS_DOWN_PAYMENT  SmallInt ,    
  @MODE_OF_PAYMENT Int,      
  @PERCENTAG_OF_PREMIUM Decimal(9,4)      
     
 SET @CTR = 1      
 SET @IS_DOWN_PAYMENT   = 1      
 SET @INSTALLMENT_EFFECTIVE_DATE = @POLICY_EFFECTIVE_DATE      
     
 WHILE @CTR <= @NO_OF_PAYMENTS  --Looping as number of times as there are installments      
 BEGIN      
     
  IF @CTR > 1  --Calculating the istallment effective date      
   SELECT @INSTALLMENT_EFFECTIVE_DATE =   DATEADD(MONTH, @MONTHS_BETWEEN, @INSTALLMENT_EFFECTIVE_DATE )      
     
  IF @IS_DOWN_PAYMENT  > @NO_INS_DOWNPAY      
  BEGIN       
   SET @MODE_OF_PAYMENT =   @PLAN_PAYMENT_MODE      
   SET @DUE_DATE = @INSTALLMENT_EFFECTIVE_DATE      
  END      
  ELSE      
  BEGIN       
   SET @MODE_OF_PAYMENT =   @MODE_OF_DOWNPAY      
   SET @DUE_DATE = @POLICY_EFFECTIVE_DATE      
  END       
    
  -----------Added 30 OCt 2009 (Praveen) --Itrack 6675    
  DECLARE @DD Int, @MM Int, @YYYY Int    
  SET @YYYY = DATEPART(YYYY,@DUE_DATE)    
  SET @MM  =  DATEPART(MM,@DUE_DATE)    
  SET @DD = DATEPART(DD,@POLICY_EFFECTIVE_DATE)      
    
  IF(@MM = 2 AND @DD >=29)    
  BEGIN     
   SET @DD = 28    
  END    
  
 -- If month is of 30 days and @DD=31 then date will be updated to 30 if it is 31     
 IF((@MM = 4 or @MM = 6 or @MM = 9 or @MM = 11) and @DD =31)    
 BEGIN     
  SET @DD = 30    
 END    
  
 --If month is 13 or greater than   
 IF(@MM >=13)   
 BEGIN  
  SET @MM = 1  
  SET @YYYY = @YYYY+1   
 END   
        
  SET @DUE_DATE = CAST(    
  (     
  CONVERT(VARCHAR,@YYYY)    
  + '-'    
  + CONVERT(VARCHAR,@MM )     
  + '-'    
  + CONVERT(VARCHAR, @DD)     
  )    
  AS DATETIME)    
  
  
      
  ------------------End Itrack 6675    
      
  SELECT @PERCENTAG_OF_PREMIUM =      
   CASE @CTR      
   WHEN 1 THEN      
   @PERCENT_BREAKDOWN1      
   WHEN 2 THEN      
   @PERCENT_BREAKDOWN2           
   WHEN 3 THEN      
   @PERCENT_BREAKDOWN3      
   WHEN 4 THEN      
   @PERCENT_BREAKDOWN4      
   WHEN 5 THEN      
   @PERCENT_BREAKDOWN5      
   WHEN 6 THEN      
   @PERCENT_BREAKDOWN6      
   WHEN 7 THEN      
   @PERCENT_BREAKDOWN7      
   WHEN 8 THEN      
   @PERCENT_BREAKDOWN8      
   WHEN 9 THEN      
   @PERCENT_BREAKDOWN9      
   WHEN 10 THEN      
   @PERCENT_BREAKDOWN10      
   WHEN 11 THEN      
   @PERCENT_BREAKDOWN11      
   WHEN 12 THEN      
   @PERCENT_BREAKDOWN12      
  END      
         
         
  INSERT INTO #TEMP_INSTALLMENT_DETAILS      
  (      
  INSTALL_PLAN_ID,    
        BILL_TYPE_ID,    
  INSTALLMENT_NO ,      
  RELEASED_STATUS ,      
  INSTALLMENT_EFFECTIVE_DATE ,      
  PAYMENT_MODE ,      
  PERCENTAG_OF_PREMIUM      
  )      
  VALUES      
  (      
  @INSTALL_PLAN_ID,    
                @BILL_TYPE_ID,      
  @CTR,      
  'N',      
  @DUE_DATE,      
  @MODE_OF_PAYMENT,      
  @PERCENTAG_OF_PREMIUM      
  )      
  SET @CTR = @CTR + 1      
  SET @IS_DOWN_PAYMENT = @IS_DOWN_PAYMENT + 1      
       
 END       
      
       
 SELECT  ISNULL(CAST(DATEPART(MM,CONVERT(CHAR,INSTALLMENT_EFFECTIVE_DATE,101)) AS VARCHAR) + '/'     
  + cast(@EFT_TENTATIVE_DATE as varchar) + '/'     
  + CAST(DATEPART(YY,CONVERT(CHAR,INSTALLMENT_EFFECTIVE_DATE,101)) AS VARCHAR),    
  CONVERT(CHAR,INSTALLMENT_EFFECTIVE_DATE,101)) as INSTALLMENT_PROCESSING_DATE,      
  CONVERT(CHAR,INSTALLMENT_EFFECTIVE_DATE,101) AS INSTALLMENT_EFFECTIVE_DATE,    
  CONVERT(CHAR,INSTALLMENT_EFFECTIVE_DATE,101) AS INSTALLMENT_DUE_DATE,    ---Added Itrack #4068    
  DATEPART(D,CONVERT(CHAR,INSTALLMENT_EFFECTIVE_DATE,101)) AS DAY_PART,      
  INSTALLMENT_NO,            
  MLV.LOOKUP_VALUE_DESC AS PAYMENT_MODE,            
  CASE RELEASED_STATUS WHEN 'Y' THEN 'Yes' ELSE 'No' END RELEASED_STATUS,            
  INSTALL_DETAILS.PERCENTAG_OF_PREMIUM AS PERCENTAG_OF_PREMIUM,      
  'Not Calculated' AS INSTALLMENT_AMOUNT,      
  'N.A' AS BALANCE_AMOUNT      
 FROM             
 #TEMP_INSTALLMENT_DETAILS INSTALL_DETAILS             
 LEFT OUTER JOIN      
 MNT_LOOKUP_VALUES MLV       
 ON INSTALL_DETAILS.PAYMENT_MODE = MLV.LOOKUP_UNIQUE_ID      
 ORDER BY             
 INSTALLMENT_NO       
    
 DROP TABLE #TEMP_INSTALLMENT_DETAILS      
END      
ELSE   -- Fetch Actual created plan      
BEGIN      
    
    
 SELECT  TMP.INSTALLMENT_EFFECTIVE_DATE ,    
 CONVERT(VARCHAR,TMP.DUE_DATE , 101) AS INSTALLMENT_DUE_DATE ,   --Added #4068 Itrack    
 CONVERT(VARCHAR,TMP.SWEEP_DATE , 101) AS INSTALLMENT_PROCESSING_DATE ,    
 TMP.INSTALLMENT_NO,      
 TMP.PAYMENT_MODE,      
 TMP.RELEASED_STATUS,      
 TMP.PERCENTAG_OF_PREMIUM,      
 CONVERT(VARCHAR,SUM(TMP.INSTALLMENT_AMOUNT)) AS INSTALLMENT_AMOUNT,      
 CONVERT(VARCHAR,SUM(TMP.BALANCE_AMOUNT)) AS BALANCE_AMOUNT,      
 CONVERT(VARCHAR,SUM(TMP.TOTAL_AMOUNT)) AS TOTAL_AMOUNT,        
 DAY_PART ,    
 @CURRENT_TERM AS CURRENT_TERM,    
 @POLICY_ID AS POLICY_ID    
         
 FROM       
 (      
  SELECT       
  CONVERT(CHAR,INSTALLMENT_EFFECTIVE_DATE,101) AS INSTALLMENT_EFFECTIVE_DATE,      
  DATEPART(D,CONVERT(CHAR,INSTALLMENT_EFFECTIVE_DATE,101)) AS DAY_PART,      
  INSTALL_DETAILS.INSTALLMENT_NO AS INSTALLMENT_NO,            
  MLV.LOOKUP_VALUE_DESC AS PAYMENT_MODE,            
  CASE INSTALL_DETAILS.RELEASED_STATUS WHEN 'Y' THEN 'Yes' ELSE 'No' END RELEASED_STATUS,            
  --RAvindra(04-15-2009): Itrack 5691    
  --INSTALL_DETAILS.PERCENTAG_OF_PREMIUM AS PERCENTAG_OF_PREMIUM,      
  'NA' AS PERCENTAG_OF_PREMIUM ,    
  (      
   SELECT ISNULL(OI.TOTAL_DUE,0)  - ISNULL( APPLIED_AT_CANCELLATION, 0)     
   FROM ACT_CUSTOMER_OPEN_ITEMS OI  WITH(NOLOCK)    
   WHERE OI.INSTALLMENT_ROW_ID = INSTALL_DETAILS.ROW_ID             
   AND OI.ITEM_TRAN_CODE_TYPE = 'PREM'      
   AND OI.UPDATED_FROM = 'P'      
  )AS INSTALLMENT_AMOUNT,      
  (      
   SELECT ISNULL(OI.TOTAL_DUE,0)      
   FROM ACT_CUSTOMER_OPEN_ITEMS OI WITH(NOLOCK)     
   WHERE OI.INSTALLMENT_ROW_ID = INSTALL_DETAILS.ROW_ID             
   AND OI.ITEM_TRAN_CODE_TYPE = 'PREM'      
   AND OI.UPDATED_FROM = 'P'      
  )AS TOTAL_AMOUNT ,    
  (      
   SELECT ISNULL(OI.TOTAL_DUE,0) - ISNULL(OI.TOTAL_PAID,0)      
   FROM ACT_CUSTOMER_OPEN_ITEMS OI  WITH(NOLOCK)    
   WHERE OI.INSTALLMENT_ROW_ID = INSTALL_DETAILS.ROW_ID             
   AND OI.ITEM_TRAN_CODE_TYPE = 'PREM'      
   AND OI.UPDATED_FROM = 'P'      
  )AS BALANCE_AMOUNT  ,    
  (    
   SELECT TOP 1 ISNULL(OI.SWEEP_DATE,OI.DUE_DATE)     
   FROM ACT_CUSTOMER_OPEN_ITEMS OI WITH(NOLOCK)     
   WHERE OI.INSTALLMENT_ROW_ID = INSTALL_DETAILS.ROW_ID             
   AND OI.ITEM_TRAN_CODE_TYPE = 'PREM'      
   AND OI.UPDATED_FROM = 'P'      
  ) AS SWEEP_DATE ,    
  ( --Added Itrack #4068    
   SELECT TOP 1 OI.DUE_DATE     
   FROM ACT_CUSTOMER_OPEN_ITEMS OI  WITH(NOLOCK)    
   WHERE OI.INSTALLMENT_ROW_ID = INSTALL_DETAILS.ROW_ID             
   AND OI.ITEM_TRAN_CODE_TYPE = 'PREM'      
   AND OI.UPDATED_FROM = 'P'      
  ) AS DUE_DATE    
  FROM             
  ACT_POLICY_INSTALLMENT_DETAILS INSTALL_DETAILS             
--  LEFT JOIN        
--  ACT_POLICY_INSTALL_PLAN_DATA  INSTALL_DATA             
--  ON INSTALL_DETAILS.CUSTOMER_ID = INSTALL_DATA.CUSTOMER_ID       
--  AND INSTALL_DETAILS.POLICY_ID = INSTALL_DATA.POLICY_ID       
--  AND INSTALL_DETAILS.CURRENT_TERM = INSTALL_DATA.CURRENT_TERM       
--  AND ISNULL(INSTALL_DATA.IS_ACTIVE_PLAN,'Y') = 'Y'      
  INNER JOIN      
  MNT_LOOKUP_VALUES MLV       
  ON INSTALL_DETAILS.PAYMENT_MODE = MLV.LOOKUP_UNIQUE_ID      
  WHERE             
  INSTALL_DETAILS.CUSTOMER_ID = @CUSTOMER_ID AND            
  INSTALL_DETAILS.POLICY_ID = @POLICY_ID AND            
  INSTALL_DETAILS.CURRENT_TERM = @CURRENT_TERM      
 )AS TMP       
 GROUP BY TMP.INSTALLMENT_EFFECTIVE_DATE ,      
 TMP.INSTALLMENT_NO,      
 TMP.PAYMENT_MODE,      
 TMP.RELEASED_STATUS,      
 TMP.PERCENTAG_OF_PREMIUM,      
 TMP.DAY_PART  ,    
 TMP.SWEEP_DATE ,    
 TMP.DUE_DATE    
 HAVING ABS(SUM(TMP.TOTAL_AMOUNT)) > 0     
 ORDER BY INSTALLMENT_NO           
END      
      
      
END              
        
--go     
--    
--exec Proc_GetPolicyInstallmentPlanInfo   1707,49,3    
--    
--ROLLBACK TRAN    
    
    
    
    
GO

