IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetAPP_RENTAL_DWELLING_ENDORSEMENTS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetAPP_RENTAL_DWELLING_ENDORSEMENTS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*
----------------------------------------------------------          
Proc Name       : dbo.Proc_GetAPP_DWELLING_ENDORSEMENTS      
Created by      : Gaurav        
Date            : Oct 11, 2005       
Purpose         : Selects records from Endorsements          
Revison History :          
Used In         : Wolverine          
------------------------------------------------------------          
Date     Review By          Comments          
------   ------------       -------------------------         
*/      
      
CREATE            PROCEDURE Proc_GetAPP_RENTAL_DWELLING_ENDORSEMENTS      
(      
 @CUSTOMER_ID int,      
 @APP_ID int,      
 @APP_VERSION_ID smallint,      
 @DWELLING_ID smallint,    
 @APP_TYPE Char(1)    
)      
      
As      
      
    
DECLARE @STATE_ID SmallInt      
DECLARE @LOB_ID NVarCHar(5)      
    
--N for New Business, R for renewal    
--DECLARE @APP_TYPE Char(1)    
    
--SET @APP_TYPE = 'N'    
      
SELECT @STATE_ID = STATE_ID,      
 @LOB_ID = APP_LOB      
FROM APP_LIST      
WHERE CUSTOMER_ID = @CUSTOMER_ID AND      
 APP_ID = @APP_ID AND      
 APP_VERSION_ID = @APP_VERSION_ID      
 
 set @LOB_ID =1   
---For renewal    
DECLARE @APP_COVERAGE_COUNT int    
DECLARE @PREV_APP_VERSION_ID smallint    
    
    
IF ( @APP_TYPE = 'R')    
BEGIN 
 
--Get row count in Vehicle endorsements table
 SELECT @APP_COVERAGE_COUNT = COUNT(*)
 FROM APP_VEHICLE_ENDORSEMENTS
 WHERE CUSTOMER_ID = @CUSTOMER_ID AND      
   APP_ID = @APP_ID AND      
   APP_VERSION_ID = @APP_VERSION_ID    
     
 SELECT @PREV_APP_VERSION_ID = MAX(APP_VERSION_ID)    
 FROM APP_LIST    
 WHERE CUSTOMER_ID = @CUSTOMER_ID AND      
   APP_ID = @APP_ID AND      
   APP_VERSION_ID < @APP_VERSION_ID    
     
 IF (@APP_COVERAGE_COUNT = 0)
 BEGIN
  --Get Endorsements from previous APP_VERSION_ID
  SELECT  ED.ENDORSMENT_ID,
   ED.DESCRIPTION as ENDORSEMENT,
   ED.TYPE,
   VE.REMARKS,
   VE.DWELLING_ENDORSEMENT_ID ,
-1  as Selected  
 FROM MNT_ENDORSMENT_DETAILS  ED 
 LEFT OUTER JOIN APP_DWELLING_ENDORSEMENTS VE ON
  ED.ENDORSMENT_ID = VE.ENDORSEMENT_ID  AND
  VE.DWELLING_ID = @DWELLING_ID
 WHERE ED.STATE_ID = @STATE_ID AND
  ED.LOB_ID = @LOB_ID AND
  ED.ENDORS_ASSOC_COVERAGE = 'N'
 UNION
  SELECT  ED.ENDORSMENT_ID,
   ED.DESCRIPTION,
   ED.TYPE,
   VE.REMARKS,
   VE.DWELLING_ENDORSEMENT_ID
,  (    
 SELECT ISNULL(MED.ENDORSMENT_ID,0)      
   FROM MNT_ENDORSMENT_DETAILS MED      
   INNER JOIN APP_DWELLING_SECTION_COVERAGES AVC ON      
    MED.SELECT_COVERAGE =  AVC.COVERAGE_CODE_ID      
   WHERE MED.ENDORSMENT_ID = ED.ENDORSMENT_ID AND    
   AVC.CUSTOMER_ID = @CUSTOMER_ID AND            
       APP_ID = @APP_ID AND            
       APP_VERSION_ID = @PREV_APP_VERSION_ID AND      
   MED.STATE_ID = @STATE_ID AND      
   MED.LOB_ID = @LOB_ID AND      
   AVC.DWELLING_ID = @DWELLING_ID      
   ) as Selected       
 FROM MNT_ENDORSMENT_DETAILS  ED 
 LEFT OUTER JOIN APP_DWELLING_ENDORSEMENTS VE ON
  ED.ENDORSMENT_ID = VE.ENDORSEMENT_ID  AND
  VE.DWELLING_ID = @DWELLING_ID
 WHERE ED.STATE_ID = @STATE_ID AND
  ED.LOB_ID = @LOB_ID AND
  ED.ENDORS_ASSOC_COVERAGE = 'Y' AND
 ED.ENDORSMENT_ID IN
 (
  --Endorsements to be eliminated
  SELECT MED.ENDORSMENT_ID
  FROM MNT_ENDORSMENT_DETAILS MED
  
  INNER JOIN APP_DWELLING_SECTION_COVERAGES AVC ON
   MED.SELECT_COVERAGE =  AVC.COVERAGE_CODE_ID
  WHERE
  AVC.CUSTOMER_ID = @CUSTOMER_ID AND      
      APP_ID = @APP_ID AND      
      APP_VERSION_ID = @PREV_APP_VERSION_ID AND
  MED.STATE_ID = @STATE_ID AND
  MED.LOB_ID = @LOB_ID AND
  AVC.DWELLING_ID = @DWELLING_ID
  
 )
 
 END
 ELSE
 BEGIN
 
  SELECT  ED.ENDORSMENT_ID,
   ED.DESCRIPTION as ENDORSEMENT,
   ED.TYPE,
   VE.REMARKS,
   VE.DWELLING_ENDORSEMENT_ID , -1 as Selected 
 FROM MNT_ENDORSMENT_DETAILS  ED 
 LEFT OUTER JOIN APP_DWELLING_ENDORSEMENTS VE ON
  ED.ENDORSMENT_ID = VE.ENDORSEMENT_ID  AND
  VE.DWELLING_ID = @DWELLING_ID
 WHERE ED.STATE_ID = @STATE_ID AND
  ED.LOB_ID = @LOB_ID AND
  ED.ENDORS_ASSOC_COVERAGE = 'N'
 UNION
  SELECT  ED.ENDORSMENT_ID,
   ED.DESCRIPTION,
   ED.TYPE,
   VE.REMARKS,
   VE.DWELLING_ENDORSEMENT_ID ,
 (    
 SELECT ISNULL(MED.ENDORSMENT_ID,0)      
   FROM MNT_ENDORSMENT_DETAILS MED      
   INNER JOIN APP_DWELLING_SECTION_COVERAGES AVC ON      
    MED.SELECT_COVERAGE =  AVC.COVERAGE_CODE_ID      
   WHERE MED.ENDORSMENT_ID = ED.ENDORSMENT_ID AND    
   AVC.CUSTOMER_ID = @CUSTOMER_ID AND            
       APP_ID = @APP_ID AND            
       APP_VERSION_ID = @APP_VERSION_ID AND      
   MED.STATE_ID = @STATE_ID AND      
   MED.LOB_ID = @LOB_ID AND      
   AVC.DWELLING_ID = @DWELLING_ID      
   )as Selected    
 FROM MNT_ENDORSMENT_DETAILS  ED 
 LEFT OUTER JOIN APP_DWELLING_ENDORSEMENTS VE ON
  ED.ENDORSMENT_ID = VE.ENDORSEMENT_ID  AND
  VE.DWELLING_ID = @DWELLING_ID
 WHERE ED.STATE_ID = @STATE_ID AND
  ED.LOB_ID = @LOB_ID AND
  ED.ENDORS_ASSOC_COVERAGE = 'Y' AND
 ED.ENDORSMENT_ID IN
 (
  --Endorsements to be eliminated
  SELECT MED.ENDORSMENT_ID
  FROM MNT_ENDORSMENT_DETAILS MED
  
  INNER JOIN APP_DWELLING_SECTION_COVERAGES AVC ON
   MED.SELECT_COVERAGE =  AVC.COVERAGE_CODE_ID
  WHERE
  AVC.CUSTOMER_ID = @CUSTOMER_ID AND      
      APP_ID = @APP_ID AND      
      APP_VERSION_ID = @APP_VERSION_ID AND
  MED.STATE_ID = @STATE_ID AND
  MED.LOB_ID = @LOB_ID AND
  AVC.DWELLING_ID = @DWELLING_ID
  
 )
 
 END
 /*    
 IF ( @PREV_APP_VERSION_ID IS NULL )    
 BEGIN    
  --RAISERROR('Previous application not found',16,1)    
 END    
 */    
 
     
END    
    
--For New Business    
IF ( @APP_TYPE = 'N')    
BEGIN    
      
 SELECT  ED.ENDORSMENT_ID,
   ED.DESCRIPTION as ENDORSEMENT,
   ED.TYPE,
   VE.REMARKS,
   VE.DWELLING_ENDORSEMENT_ID , -1 as Selected  
 FROM MNT_ENDORSMENT_DETAILS  ED 
 LEFT OUTER JOIN APP_DWELLING_ENDORSEMENTS VE ON
  ED.ENDORSMENT_ID = VE.ENDORSEMENT_ID 
 WHERE ED.STATE_ID = @STATE_ID AND
  ED.LOB_ID = @LOB_ID AND
  ED.ENDORS_ASSOC_COVERAGE = 'N'AND
  VE.DWELLING_ID = @DWELLING_ID
 UNION
  SELECT  ED.ENDORSMENT_ID,
   ED.DESCRIPTION as ENDORSEMENT,
   ED.TYPE,
   VE.REMARKS,
   VE.DWELLING_ENDORSEMENT_ID ,
 (    
 SELECT ISNULL(MED.ENDORSMENT_ID,0)      
   FROM MNT_ENDORSMENT_DETAILS MED      
   INNER JOIN APP_DWELLING_SECTION_COVERAGES AVC ON      
    MED.SELECT_COVERAGE =  AVC.COVERAGE_CODE_ID      
   WHERE MED.ENDORSMENT_ID = ED.ENDORSMENT_ID AND    
   AVC.CUSTOMER_ID = @CUSTOMER_ID AND            
       APP_ID = @APP_ID AND            
       APP_VERSION_ID = @APP_VERSION_ID AND      
   MED.STATE_ID = @STATE_ID AND      
   MED.LOB_ID = @LOB_ID AND      
   AVC.DWELLING_ID = @DWELLING_ID      
   )as Selected      
 FROM MNT_ENDORSMENT_DETAILS  ED 
 LEFT OUTER JOIN APP_DWELLING_ENDORSEMENTS VE ON
  ED.ENDORSMENT_ID = VE.ENDORSEMENT_ID AND
  VE.DWELLING_ID = @DWELLING_ID

 WHERE ED.STATE_ID = @STATE_ID AND
  ED.LOB_ID = @LOB_ID AND
  ED.ENDORS_ASSOC_COVERAGE = 'Y' AND
 ED.ENDORSMENT_ID IN
 (
  --Endorsements to be eliminated
  SELECT MED.ENDORSMENT_ID
  FROM MNT_ENDORSMENT_DETAILS MED
  
  INNER JOIN APP_DWELLING_SECTION_COVERAGES AVC ON
   MED.SELECT_COVERAGE =  AVC.COVERAGE_CODE_ID
  WHERE
  AVC.CUSTOMER_ID = @CUSTOMER_ID AND      
      APP_ID = @APP_ID AND      
      APP_VERSION_ID = @APP_VERSION_ID AND
  MED.STATE_ID = @STATE_ID AND
  MED.LOB_ID = @LOB_ID AND
  AVC.DWELLING_ID = @DWELLING_ID
  
 )
 
END    
    
--Table 1    
 
      
--Table 3  
--Get the State for the application  
--EXEC Proc_GetApplicationState @CUSTOMER_ID,@APP_ID,@APP_VERSION_ID  
 






GO

