IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_InsertACT_CUSTOMER_RECON_GROUP_DETAILS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_InsertACT_CUSTOMER_RECON_GROUP_DETAILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------
Proc Name       : dbo.Proc_insert
Created by      : Vijay
Date            : 6/29/2005
Purpose    	: Insert value in ACT_CUSTOMER_RECON_GROUP_DETAILS
Revison History :
Used In 	: Wolverine
------------------------------------------------------------
Date     Review By          Comments
------   ------------       -------------------------*/
-- drop proc Dbo.Proc_InsertACT_CUSTOMER_RECON_GROUP_DETAILS
CREATE PROC Dbo.Proc_InsertACT_CUSTOMER_RECON_GROUP_DETAILS
(
	@IDEN_ROW_NO    	int	OUTPUT,
	@GROUP_ID     		int,
	@ITEM_TYPE     		nvarchar(10),
	@ITEM_REFERENCE_ID     	int,
	@SUB_LEDGER_TYPE	nvarchar(10),
	@RECON_AMOUNT  		decimal(18,2),
	@NOTE     		nvarchar(510),
	@DIV_ID     		smallint,
	@DEPT_ID     		smallint,
	@PC_ID     		smallint
)
AS
BEGIN


	IF ( SELECT RECON_ENTITY_TYPE FROM ACT_RECONCILIATION_GROUPS WHERE GROUP_ID = @GROUP_ID ) = 'CUST'
	BEGIN

		INSERT INTO ACT_CUSTOMER_RECON_GROUP_DETAILS
		(
			GROUP_ID, ITEM_TYPE, ITEM_REFERENCE_ID, SUB_LEDGER_TYPE,
			RECON_AMOUNT, NOTE, DIV_ID, DEPT_ID, PC_ID
		)
		VALUES
		(
			@GROUP_ID, @ITEM_TYPE, @ITEM_REFERENCE_ID, @SUB_LEDGER_TYPE,
			@RECON_AMOUNT, @NOTE, @DIV_ID, @DEPT_ID, @PC_ID
		)
	
		SELECT @IDEN_ROW_NO = Max(IDEN_ROW_NO) FROM ACT_CUSTOMER_RECON_GROUP_DETAILS
	END
	ELSE IF ( SELECT RECON_ENTITY_TYPE FROM ACT_RECONCILIATION_GROUPS WHERE GROUP_ID = @GROUP_ID ) = 'AGN'
	BEGIN
		INSERT INTO ACT_AGENCY_RECON_GROUP_DETAILS
		(
			GROUP_ID, ITEM_TYPE, ITEM_REFERENCE_ID, SUB_LEDGER_TYPE,
			RECON_AMOUNT, NOTE, DIV_ID, DEPT_ID, PC_ID
		)
		VALUES
		(
			@GROUP_ID, @ITEM_TYPE, @ITEM_REFERENCE_ID, @SUB_LEDGER_TYPE,
			@RECON_AMOUNT, @NOTE, @DIV_ID, @DEPT_ID, @PC_ID
		)
	
		SELECT @IDEN_ROW_NO = Max(IDEN_ROW_NO) FROM ACT_AGENCY_RECON_GROUP_DETAILS
	END
	ELSE IF ( SELECT RECON_ENTITY_TYPE FROM ACT_RECONCILIATION_GROUPS WHERE GROUP_ID = @GROUP_ID ) = 'VEN'
	BEGIN
		INSERT INTO ACT_VENDOR_RECON_GROUP_DETAILS
		(
			GROUP_ID, ITEM_TYPE, ITEM_REFERENCE_ID, SUB_LEDGER_TYPE,
			RECON_AMOUNT, NOTE, DIV_ID, DEPT_ID, PC_ID
		)
		VALUES
		(
			@GROUP_ID, @ITEM_TYPE, @ITEM_REFERENCE_ID, @SUB_LEDGER_TYPE,
			@RECON_AMOUNT, @NOTE, @DIV_ID, @DEPT_ID, @PC_ID
		)
	
		SELECT @IDEN_ROW_NO = Max(IDEN_ROW_NO) FROM ACT_AGENCY_RECON_GROUP_DETAILS
	END
END














GO

