IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_FetchAgencyDeposit]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_FetchAgencyDeposit]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE  PROC dbo.Proc_FetchAgencyDeposit     
(        
 @MONTH  INT = null,        
 @YEAR  INT = null,      
 @AGENCY_NAME VARCHAR(200) = null,  
 @DEPOSIT_ID INT  
  
)        
AS        
BEGIN        
      
--========== FETCHING THE saved RECORDS according to the Deposit ID==========      
  
SELECT   
'True' as SELECTED_ITEMS,  
CDLI.CD_LINE_ITEM_ID,AGENCY.AGENCY_ID,  
AGENCY.AGENCY_DISPLAY_NAME,AGENCY.AGENCY_CODE,  
CDLI.POLICY_MONTH AS [MONTH],  
CDLI.MONTH_YEAR AS [YEAR],  
convert(varchar(30),CDLI.POLICY_MONTH) + ' ' +    
convert(varchar(20),CDLI.MONTH_YEAR) AS MONTHYEAR,    
(
	SELECT SUM(ISNULL(AGSIN.DUE_AMOUNT,0))  FROM ACT_AGENCY_STATEMENT AGSIN 
	WHERE AGS.MONTH_NUMBER = AGSIN.MONTH_NUMBER AND AGS.MONTH_YEAR = AGSIN.MONTH_YEAR 
	AND AGS.AGENCY_ID = AGSIN.AGENCY_ID
	AND ISNULL(UPDATED_FROM,'') NOT IN ('D','C')
	AND ISNULL(AGSIN.COMM_TYPE,'') = 'REG'
)
AS STMT_AMOUNT,
--SUM(ISNULL(AGS.DUE_AMOUNT,0))AS STMT_AMOUNT,  
SUM(ISNULL(AGS.DUE_AMOUNT,0)) - SUM(ISNULL(AGS.TOTAL_PAID,0)) AS BALANCE_AMOUNT,--CDLI.POLICY_MONTH,  
CDLI.RECEIPT_AMOUNT,  
--'Check' as MODEOFRECEIPTS,  
 'Reconcile' as RECONCILEPOL ,  
CDLI.IS_RECONCILED   
FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI  
LEFT JOIN ACT_AGENCY_STATEMENT AGS ON AGS.AGENCY_ID = CDLI.RECEIPT_FROM_ID AND AGS.MONTH_NUMBER = CDLI.POLICY_MONTH   
AND AGS.MONTH_YEAR = CDLI.MONTH_YEAR  
LEFT JOIN MNT_AGENCY_LIST AGENCY ON AGENCY.AGENCY_ID = CDLI.RECEIPT_FROM_ID   
INNER JOIN ACT_CURRENT_DEPOSITS CD  ON CD.DEPOSIT_ID = CDLI.DEPOSIT_ID   
--INNER JOIN ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI1 ON CDLI1.RECEIPT_FROM_ID = AGS.AGENCY_ID    
WHERE CDLI.DEPOSIT_ID = @DEPOSIT_ID --AND BALANCE_AMOUNT > 0   
AND ISNULL(AGS.COMM_TYPE,'') = 'REG'
GROUP BY AGS.AGENCY_ID,CDLI.IS_RECONCILED,AGENCY.AGENCY_DISPLAY_NAME,AGENCY.AGENCY_CODE,  
CDLI.RECEIPT_AMOUNT,CDLI.POLICY_MONTH,CDLI.MONTH_YEAR,CDLI.CD_LINE_ITEM_ID,AGENCY.AGENCY_ID ,
AGS.MONTH_NUMBER,AGS.MONTH_YEAR  
HAVING (SUM(ISNULL(AGS.DUE_AMOUNT,0)) - SUM(ISNULL(AGS.TOTAL_PAID,0))) > 0
ORDER BY AGENCY.AGENCY_DISPLAY_NAME   
  
  
        
END       

GO

