IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_FETCH_MASTER_CHILD_INFO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_FETCH_MASTER_CHILD_INFO]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Charles Gomes
-- Create date: 8-Apr-10
-- Description:	Get Values from Master & Multilingual Tables

--DROP PROC PROC_FETCH_MASTER_CHILD_INFO
-- =============================================
CREATE PROCEDURE [dbo].[PROC_FETCH_MASTER_CHILD_INFO]	
	@PRIMARY_COLUMN NVARCHAR(50), --Column Name
	@PRIMARY_ID INT,	-- Value
	@MASTER_TABLE_NAME NVARCHAR(50),
	@CHILD_TABLE_NAME NVARCHAR(50),
	@DESCRIPTION_COLUMN NVARCHAR(50)
AS
BEGIN

	SET NOCOUNT ON;
	EXEC('
	SELECT MNT_LANGUAGE_MASTER.LANG_ID,LANG_CODE,LANG_NAME,T.LOOKUP_VALUE_DESC FROM MNT_LANGUAGE_MASTER WITH(NOLOCK) 
	inner join 
	(SELECT '+@DESCRIPTION_COLUMN+',1 AS LANG_ID FROM '+@MASTER_TABLE_NAME+' WHERE '+@PRIMARY_COLUMN+' = '+@PRIMARY_ID+ ' 
	 UNION
	 SELECT '+@DESCRIPTION_COLUMN+',LANG_ID FROM '+@CHILD_TABLE_NAME+' WHERE '+@PRIMARY_COLUMN+' = '+@PRIMARY_ID+') T 
	on T.LANG_ID = MNT_LANGUAGE_MASTER.LANG_ID 
	ORDER BY LANG_ID')
	
	
	--EXEC('
	--SELECT '+@DESCRIPTION_COLUMN+',1 AS LANG_ID FROM '+@MASTER_TABLE_NAME+' WHERE '+@PRIMARY_COLUMN+' = '+@PRIMARY_ID+ 
	--' UNION
	--SELECT '+@DESCRIPTION_COLUMN+',LANG_ID FROM '+@CHILD_TABLE_NAME+' WHERE '+@PRIMARY_COLUMN+' = '+@PRIMARY_ID+' ORDER BY LANG_ID')

END 
GO

