IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[_GetKeysForHome_APP]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[_GetKeysForHome_APP]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER OFF
GO

/*                              
----------------------------------------------------------                                  
Proc Name       : dbo.Proc_GetKeysForHome_APP                              
Created by      : Ravindra                                
Date            : 06-14-2006  
Purpose         :   
Revison History :                                  
------------------------------------------------------------                                  
Date     Review By          Comments                                  
------   ------------       -------------------------                                 
*/   
  
  
--drop proc dbo. _GetKeysForHome_APP  
create proc dbo._GetKeysForHome_APP  
(  
 @CUSTOMER_ID INT,  
 @APP_ID INT,  
 @APP_VERSION_ID INT,  
 @BOAT_ID INT  
)  
  
AS  
BEGIN  
SELECT   
APP_INFO.APP_EFFECTIVE_DATE AS APP_EFFECTIVE_DATE,  
APP_INFO.APP_LOB AS LOB_ID,  
APP_INFO.STATE_ID as STATE_ID,  
YEAR(CONVERT(VARCHAR(20),APP_INFO.APP_EFFECTIVE_DATE,109)) AS APP_YEAR,  
ISNULL(DWL_INFO.REPLACEMENT_COST,0) AS REP_COST,  
ISNULL(DWL_INFO.MARKET_VALUE,0) AS MKT_VALUE,  
APP_INFO.POLICY_TYPE AS PKG_TYPE,  
ISNULL(COV_INFO.COVERAGE_ID,0) AS HO_34,  
ISNULL(COV_INFO2.LIMIT_1,0) AS OLD_COV_A,  
ISNULL(COV_INFO3.LIMIT_1,0) AS OLD_COV_C,  
isnull(COV_INFO2.DEDUCTIBLE_1,0) AS INCLUDED_A,  
ISNULL(COV_INFO4.DEDUCTIBLE_1,0) AS INCLUDED_B,  
ISNULL(COV_INFO4.LIMIT_1,0) AS OLD_COV_B,  
ISNULL(LOC_INFO.LOCATION_TYPE,0) AS LOC_TYPE,  
ISNULL(LOC_INFO.IS_PRIMARY,'U') AS IS_PRIMARY,  
ISNULL(RAT_INFO.IS_UNDER_CONSTRUCTION,0) AS UND_CONS,  
ISNULL(APP_GEN.NO_HORSES,0) AS NO_HORSES,  
ISNULL(APP_GEN.PREMISES,0)  AS PREMISES_DETAIL,  
ISNULL(APP_GEN.NON_SMOKER_CREDIT,0)  AS NON_SMOKER_CREDIT,  
ISNULL(RAT_INFO.IS_SUPERVISED,0) AS IS_SUPER,  
(  
 SELECT COUNT(*) FROM  APP_HOME_OWNER_ADD_INT INT_INFO WITH(NOLOCK)  
 WHERE  
     INT_INFO.CUSTOMER_ID = @CUSTOMER_ID  
 AND INT_INFO.APP_ID=@APP_ID  
 AND INT_INFO.APP_VERSION_ID  = @APP_VERSION_ID  
 AND INT_INFO.DWELLING_ID = @BOAT_ID  
 AND INT_INFO.NATURE_OF_INTEREST  =11816  
    AND  INT_INFO.IS_ACTIVE='Y'  
) AS NAT_INS,  
(  
 SELECT COUNT(LOC_COUNTY) FROM APP_LOCATIONS LOC WITH(NOLOCK)  
 WHERE LOC.LOC_COUNTY IN   
 (  
  'CLAY','CRAWFORD','DAVIESS','DUBOIS','FOUNTAIN','GIBSON','GREENE','KNOX','LAWRENCE','MARTIN','MONROE',  
  'MONTGOMERY','ORANGE','OWEN','PARKE','PERRY','PIKE','POSEY','PUTNAM','SPENCER','SULLIVAN','VANDERBURGH',  
  'VERMILLION','VIGO','WARREN','WARRICK'  
 )  
 AND LOC.CUSTOMER_ID = @CUSTOMER_ID  
 AND LOC.APP_ID = @APP_ID  
 AND LOC.APP_VERSION_ID=@APP_VERSION_ID  
 AND LOC.LOCATION_ID = DWL_INFO.LOCATION_ID   
   
)AS VALID_COUNTY,  
  
(  
 SELECT COUNT(COVERAGE_BASIS)  
 FROM APP_OTHER_STRUCTURE_DWELLING STR1 WITH(NOLOCK)  
 WHERE  STR1.COVERAGE_BASIS=11846  
 AND STR1.CUSTOMER_ID = @CUSTOMER_ID  
 AND STR1.APP_ID = @APP_ID  
 AND STR1.APP_VERSION_ID=@APP_VERSION_ID  
 AND STR1.DWELLING_ID = @BOAT_ID  
) AS COV_BASE,  
(  
 SELECT ISNULL(SUM(INSURING_VALUE),0)  
 FROM APP_OTHER_STRUCTURE_DWELLING STR2 WITH(NOLOCK)  
 WHERE  STR2.COVERAGE_BASIS=11846  
 AND STR2.CUSTOMER_ID = @CUSTOMER_ID  
 AND STR2.APP_ID = @APP_ID  
 AND STR2.APP_VERSION_ID=@APP_VERSION_ID  
 AND STR2.DWELLING_ID = @BOAT_ID  
) AS INS_VAL,  
  
(  
 SELECT COUNT(PREMISES_LOCATION)   
 FROM APP_OTHER_STRUCTURE_DWELLING STR3 WITH(NOLOCK)  
 WHERE   
     STR3.PREMISES_LOCATION = 11840 -- Off Primises  
 AND STR3.CUSTOMER_ID = @CUSTOMER_ID  
 AND STR3.APP_ID = @APP_ID  
 AND STR3.APP_VERSION_ID=@APP_VERSION_ID  
 AND STR3.DWELLING_ID = @BOAT_ID  
) AS PRIM_LOC,  
  
(  
 SELECT ISNULL(SUM(INSURING_VALUE_OFF_PREMISES),0)  
 FROM APP_OTHER_STRUCTURE_DWELLING STR4 WITH(NOLOCK)  
 WHERE   
     STR4.PREMISES_LOCATION = 11840 -- Off Primises  
 AND STR4.CUSTOMER_ID = @CUSTOMER_ID  
 AND STR4.APP_ID = @APP_ID  
 AND STR4.APP_VERSION_ID=@APP_VERSION_ID  
 AND STR4.DWELLING_ID = @BOAT_ID  
) AS INS_VAL_OFF ,  
  
(  
   SELECT COUNT(CUSTOMER_ID) FROM APP_HOME_OWNER_SCH_ITEMS_CVGS APP_SCH WITH(NOLOCK) INNER JOIN MNT_COVERAGE MNT WITH(NOLOCK)  
   ON APP_SCH.ITEM_ID=MNT.COV_ID  
    WHERE   
  APP_SCH.CUSTOMER_ID = @CUSTOMER_ID  
  AND APP_SCH.APP_ID = @APP_ID  
  AND APP_SCH.APP_VERSION_ID=@APP_VERSION_ID  
        AND MNT.COV_REF_CODE IN (928,929)  
        
) AS SCH_ITEM,  
(  
   SELECT COUNT(CUSTOMER_ID) FROM APP_HOME_OWNER_SCH_ITEMS_CVGS APP_SCH WITH(NOLOCK) INNER JOIN MNT_COVERAGE MNT WITH(NOLOCK)  
   ON APP_SCH.ITEM_ID=MNT.COV_ID  
    WHERE   
  APP_SCH.CUSTOMER_ID = @CUSTOMER_ID  
  AND APP_SCH.APP_ID = @APP_ID  
  AND APP_SCH.APP_VERSION_ID=@APP_VERSION_ID  
        AND MNT.COV_REF_CODE IN (981,982)  
        
) AS SCH_ITEM_61,  
(  
   SELECT COUNT(CUSTOMER_ID) FROM APP_HOME_OWNER_SCH_ITEMS_CVGS APP_SCH WITH(NOLOCK) INNER JOIN MNT_COVERAGE MNT WITH(NOLOCK)  
   ON APP_SCH.ITEM_ID=MNT.COV_ID  
    WHERE   
  APP_SCH.CUSTOMER_ID = @CUSTOMER_ID  
  AND APP_SCH.APP_ID = @APP_ID  
  AND APP_SCH.APP_VERSION_ID=@APP_VERSION_ID  
        AND MNT.COV_REF_CODE IN (983,984)  
        
) AS SCH_ITEM_214,  
(  
 SELECT COUNT(CUSTOMER_ID)   
 FROM APP_WATERCRAFT_INFO WITH(NOLOCK)  
 WHERE CUSTOMER_ID = @CUSTOMER_ID AND              
 APP_ID = @APP_ID AND              
 APP_VERSION_ID = @APP_VERSION_ID  and  
    IS_ACTIVE='Y'  
  
) AS COUNT_WATERCRAFTS,  
  
(  
  
SELECT COUNT(CUSTOMER_ID) FROM APP_DWELLING_SECTION_COVERAGES COV_INFO5 WITH(NOLOCK)  
WHERE   
 COV_INFO4.CUSTOMER_ID = @CUSTOMER_ID  
AND COV_INFO4.APP_ID  = @APP_ID  
AND COV_INFO4.APP_VERSION_ID  = @APP_VERSION_ID  
AND COV_INFO4.DWELLING_ID = @BOAT_ID  
AND COV_INFO4.COVERAGE_CODE_ID  in (777,797) -- Coverage CSL  
AND COV_INFO4.LIMIT_ID IN(1329,1331)  
) AS LP124  
  
  
  
  
   
  
FROM APP_DWELLINGS_INFO DWL_INFO WITH(NOLOCK)  
  
INNER JOIN APP_LIST APP_INFO WITH(NOLOCK)  
 ON APP_INFO.CUSTOMER_ID = DWL_INFO.CUSTOMER_ID  
AND APP_INFO.APP_ID  = DWL_INFO.APP_ID  
AND APP_INFO.APP_VERSION_ID  = DWL_INFO.APP_VERSION_ID  
  
LEFT OUTER JOIN APP_DWELLING_SECTION_COVERAGES COV_INFO WITH(NOLOCK)  
 ON COV_INFO.CUSTOMER_ID = DWL_INFO.CUSTOMER_ID  
AND COV_INFO.APP_ID  = DWL_INFO.APP_ID  
AND COV_INFO.APP_VERSION_ID  = DWL_INFO.APP_VERSION_ID  
AND COV_INFO.DWELLING_ID = @BOAT_ID  
AND COV_INFO.COVERAGE_CODE_ID  in (33,140) -- HO-34  
  
LEFT OUTER JOIN APP_DWELLING_SECTION_COVERAGES COV_INFO2 WITH(NOLOCK)  
 ON COV_INFO2.CUSTOMER_ID = DWL_INFO.CUSTOMER_ID  
AND COV_INFO2.APP_ID  = DWL_INFO.APP_ID  
AND COV_INFO2.APP_VERSION_ID  = DWL_INFO.APP_VERSION_ID  
AND COV_INFO2.DWELLING_ID = @BOAT_ID  
AND COV_INFO2.COVERAGE_CODE_ID  in (3,134) -- Coverage A  
  
LEFT OUTER JOIN APP_DWELLING_SECTION_COVERAGES COV_INFO3 WITH(NOLOCK)  
 ON COV_INFO3.CUSTOMER_ID = DWL_INFO.CUSTOMER_ID  
AND COV_INFO3.APP_ID  = DWL_INFO.APP_ID  
AND COV_INFO3.APP_VERSION_ID  = DWL_INFO.APP_VERSION_ID  
AND COV_INFO3.DWELLING_ID = @BOAT_ID  
AND COV_INFO3.COVERAGE_CODE_ID  in (7,136) -- Coverage C  
  
LEFT OUTER JOIN APP_DWELLING_SECTION_COVERAGES COV_INFO4 WITH(NOLOCK)  
 ON COV_INFO4.CUSTOMER_ID = DWL_INFO.CUSTOMER_ID  
AND COV_INFO4.APP_ID  = DWL_INFO.APP_ID  
AND COV_INFO4.APP_VERSION_ID  = DWL_INFO.APP_VERSION_ID  
AND COV_INFO4.DWELLING_ID = @BOAT_ID  
AND COV_INFO4.COVERAGE_CODE_ID  in (5,135) -- Coverage B  
  
  
  
  
  
  
  
LEFT OUTER JOIN APP_LOCATIONS LOC_INFO WITH(NOLOCK)  
 ON LOC_INFO.CUSTOMER_ID = DWL_INFO.CUSTOMER_ID  
AND LOC_INFO.APP_ID  = DWL_INFO.APP_ID  
AND LOC_INFO.APP_VERSION_ID  = DWL_INFO.APP_VERSION_ID  
AND LOC_INFO.LOCATION_ID = DWL_INFO.LOCATION_ID  
  
LEFT OUTER JOIN APP_HOME_RATING_INFO RAT_INFO  WITH(NOLOCK)  
 ON RAT_INFO.CUSTOMER_ID = DWL_INFO.CUSTOMER_ID  
AND RAT_INFO.APP_ID  = DWL_INFO.APP_ID  
AND RAT_INFO.APP_VERSION_ID  = DWL_INFO.APP_VERSION_ID  
AND RAT_INFO.DWELLING_ID = @BOAT_ID  
  
LEFT OUTER JOIN APP_HOME_OWNER_GEN_INFO APP_GEN WITH(NOLOCK)  
  ON APP_GEN.CUSTOMER_ID = DWL_INFO.CUSTOMER_ID  
AND APP_GEN.APP_ID  = DWL_INFO.APP_ID  
AND APP_GEN.APP_VERSION_ID  = DWL_INFO.APP_VERSION_ID  
  
WHERE  
    DWL_INFO.CUSTOMER_ID = @CUSTOMER_ID  
AND DWL_INFO.APP_ID=@APP_ID  
AND DWL_INFO.APP_VERSION_ID  = @APP_VERSION_ID  
AND DWl_INFO.DWELLING_ID = @BOAT_ID  
  
  
END  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  


GO

