IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_TestTran]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_TestTran]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROC PROC_TestTran 
AS 
BEGIN 
	--BEGIN TRAN BALANCE      

	UPDATE POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS SET CUSTOMER_ID = 12345 WHERE CUSTOMER_ID = 197

--	IF @@ERROR   <>0       
--	BEGIN      
--		GOTO PROBLEM       
--	END   
--
--	SELECT * FROM POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS WHERE CUSTOMER_ID = 197
--	 
--
--	PROBLEM:      
--	PRINT 'AAA'
--	ROLLBACK TRAN  BALANCE      
END
GO

