IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_FetchEquipmentInfo]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_FetchEquipmentInfo]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



CREATE   PROC Dbo.Proc_FetchEquipmentInfo  
@CUSTOMER_ID INT,  
@APP_ID INT,  
@APP_VERSION_ID INT,  
@EQUIP_ID INT  
AS  
  
BEGIN  
SELECT  
EQUIP_ID,  
EQUIP_NO,  
EQUIP_TYPE,  
SHIP_TO_SHORE,  
YEAR,  
MAKE,  
MODEL,  
SERIAL_NO,   
floor(INSURED_VALUE) INSURED_VALUE,  
ASSOCIATED_BOAT,  
IS_ACTIVE  ,
EQUIP_AMOUNT,
OTHER_DESCRIPTION ,
EQUIPMENT_TYPE  
FROM APP_WATERCRAFT_EQUIP_DETAILLS  
WHERE APP_ID=@APP_ID AND   
APP_VERSION_ID=@APP_VERSION_ID  
AND CUSTOMER_ID=@CUSTOMER_ID AND  
EQUIP_ID=@EQUIP_ID  
END  






GO

