IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DELETECON]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[DELETECON]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROC DELETECON
AS BEGIN 
DECLARE @CONTRACT_ID INT
SET @CONTRACT_ID=8
WHILE (@CONTRACT_ID<38)
BEGIN
IF EXISTS (SELECT CONTRACT_ID FROM MNT_REINSURANCE_CONTRACT WHERE CONTRACT_ID = @CONTRACT_ID)
BEGIN
	EXEC PROC_MNT_REIN_DELETE_CONTRACT @CONTRACT_ID
	--SELECT * FROM MNT_REINSURANCE_CONTRACT WHERE CONTRACT_ID = @CONTRACT_ID
END
SET @CONTRACT_ID=@CONTRACT_ID+1
END


END

GO

