IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_CommitACT_CURRENT_DEPOSITS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_CommitACT_CURRENT_DEPOSITS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------      
Proc Name       : Proc_CommitACT_CURRENT_DEPOSITS      
Created by      : Vijay Joshi      
Date            : 14/June/2005      
Purpose      : Commits Journal Entry transaction      
Revison History :      
Used In  : Wolverine      
      
return  -1 , if record not exists      
 -2 , Record already commited      
` -3 , Proof is not equal to zero      
 -4 , Line items does not exists      
 -5 , date is less then lock day      
 -6 , Deposit is not confirmed      
 -7 , Not distributed completely      

Reviewed By	:	Anurag Verma
Reviewed On	:	26-06-2007

Modified by	: Praveen kasana
Modified on	: 09 jan 2007
Purpose		: Restrict usert to commit deposit Line Items with -ve amount 

------------------------------------------------------------      
Date     Review By          Comments      
------   ------------       --------------------------------*/      
-- drop proc dbo.Proc_CommitACT_CURRENT_DEPOSITS    
CREATE PROC dbo.Proc_CommitACT_CURRENT_DEPOSITS      
(      
	@DEPOSIT_ID     int,      
	@DATE_COMMITED Datetime,      
	@COMMITTED_BY int,      
	@PARAM1   varchar(10),      
	@PARAM2   varchar(10),      
	@PARAM3   varchar(10),      
	@PARAM4   varchar(10)
          
)      
AS      
BEGIN      
  
/*Variable declaration, to be used in this proc*/        
  
DECLARE @DEPOSIT_TYPE_CUSTOMER Varchar(5),  
		@DEPOSIT_TYPE_AGENCY Varchar(5),  
		@DEPOSIT_TYPE_CLAIM Varchar(5),  
		@DEPOSIT_TYPE_REINSURANCE Varchar(5),  
		@DEPOSIT_TYPE_MISC Varchar(5),  
		@ITEM_TRAN_CODE_TYPE Varchar(10),  
		@ITEM_TRAN_CODE Varchar(10),  
		@EFT_MODE Int,  
		@CREDIT_CARD Int,
		@RECEIPT_AMOUNT decimal(18,2) --Can not Commit if Amount is Neagtive:
		  

SET @EFT_MODE  = 11976  
SET @CREDIT_CARD   = 11974  
SET @ITEM_TRAN_CODE_TYPE = 'DEP'  
SET @ITEM_TRAN_CODE  = 'DEP'  
SET @DEPOSIT_TYPE_CUSTOMER = 'CUST'  
SET @DEPOSIT_TYPE_AGENCY = 'AGN'  
SET @DEPOSIT_TYPE_CLAIM = 'CLAM'  
SET @DEPOSIT_TYPE_REINSURANCE = 'RINS'  
SET @DEPOSIT_TYPE_MISC ='MISC'  
  
      
/*Checking whether specified deposit id is commited or whther exists and any other conditions*/      
IF Not Exists(SELECT DEPOSIT_ID FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS (NOLOCK) WHERE DEPOSIT_ID = @DEPOSIT_ID)      
BEGIN      
	--Record not existed, hence exiting       
	return -1      
END      

--Checking whether already commited      
IF (SELECT Upper(IS_COMMITED) FROM ACT_CURRENT_DEPOSITS (NOLOCK) WHERE DEPOSIT_ID = @DEPOSIT_ID) = 'Y'       
BEGIN      
	--Record already commited hence exiting      
	return -2      
END      
   
IF (SELECT Count(DEPOSIT_ID) FROM ACT_CURRENT_DEPOSITS (NOLOCK) WHERE DEPOSIT_ID = @DEPOSIT_ID) = 0      
BEGIN      
	--Line items does not exists hence can not commit      
	return -4      
END      
       
IF (SELECT IS_CONFIRM FROM ACT_CURRENT_DEPOSITS (NOLOCK) WHERE DEPOSIT_ID = @DEPOSIT_ID) <> 'Y'      
BEGIN      
	--Line items does not exists hence can not commit      
	return -6      
END      
  
----- Check if a particular deposit line item type has a balance of 0 amount  
-- Misc Rec  
IF EXISTS(SELECT CD_LINE_ITEM_ID FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS (NOLOCK)  
		WHERE DEPOSIT_ID = @DEPOSIT_ID AND DEPOSIT_TYPE = @DEPOSIT_TYPE_MISC AND RECEIPT_AMOUNT = 0)  
BEGIN  
	RETURN -10  
END  
  
  
--- Cust  
IF EXISTS (SELECT CD_LINE_ITEM_ID FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS (NOLOCK)  
		WHERE DEPOSIT_ID = @DEPOSIT_ID AND DEPOSIT_TYPE = @DEPOSIT_TYPE_CUSTOMER AND RECEIPT_AMOUNT = 0)  
BEGIN   
	RETURN -11  
END  
  
-- Agency Receipts  
IF EXISTS (SELECT CD_LINE_ITEM_ID FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS (NOLOCK)  
		WHERE DEPOSIT_ID = @DEPOSIT_ID AND DEPOSIT_TYPE = @DEPOSIT_TYPE_AGENCY AND RECEIPT_AMOUNT = 0)  
BEGIN  
	RETURN -12  
END  
  
-- Claim & Reins Receipts  
IF EXISTS (SELECT CD_LINE_ITEM_ID FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS (NOLOCK)  
		WHERE DEPOSIT_ID = @DEPOSIT_ID AND DEPOSIT_TYPE IN(@DEPOSIT_TYPE_CLAIM,@DEPOSIT_TYPE_REINSURANCE)  
AND RECEIPT_AMOUNT = 0)  
BEGIN    
	RETURN -13  
END  
--Restrict usert to commit deposit with -ve amount
IF EXISTS (SELECT RECEIPT_AMOUNT FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS (NOLOCK) WHERE DEPOSIT_ID = @DEPOSIT_ID
	   AND (ISNULL(RECEIPT_AMOUNT,0) <= 0 ))
BEGIN      
	-- amount is -ve hence exiting     
	return -14      
END  

------------------------------------- End of Balance Check  
  
  
Declare @DEPOSIT_TYPE varchar(15)   --Stores the type of journal entry, whether manual, template, recurring..      
Declare @UPDATED_FROM nchar(1)    --Value to be inserted in UPDATED_FROM field in ACT_ACCOUNTS_POSTING_DETAILS      
Declare @LINE_ITEM_TOTAL_AMOUNT decimal --Sum to amount in Line item table of specified journal id      
Declare @COMMITED_BY_CODE nvarchar(20), @COMMITED_BY_NAME nvarchar(60), @FISCAL_ID int, @TRANS_DATE datetime      
Declare @LOCK_DATE datetime, @ITEM_STATUS varchar(2)  
Declare @ACCOUNT_ID varchar(5) -- Stores Account ID in case of Claims/Reinsurance Acc  
/*Initialisation of variables*/      
SET @UPDATED_FROM = 'D'     --Updated from, should be D for Deposit      
  
  
  
SET @DATE_COMMITED = GETDATE()       
  
--Retreiving values from Deposit Master and Deposit Line Items      
SELECT  @DEPOSIT_TYPE = CD.DEPOSIT_TYPE,       
		@FISCAL_ID = CD.FISCAL_ID,       
		@TRANS_DATE = CD.DEPOSIT_TRAN_DATE      
FROM ACT_CURRENT_DEPOSITS CD (NOLOCK)     
INNER JOIN ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI (NOLOCK)     
	ON CD.DEPOSIT_ID = CDLI.DEPOSIT_ID      
WHERE CD.DEPOSIT_ID = @DEPOSIT_ID      
GROUP BY  CD.DEPOSIT_TYPE, CD.FISCAL_ID, CD.DEPOSIT_TRAN_DATE      
  
--Ravindra(09-10-2007) If fiscal id is null or 0 fetch Fiscal ID based on Current Date
IF(@FISCAL_ID IS NULL OR @FISCAL_ID = 0 )
BEGIN 
	SELECT @FISCAL_ID =  FISCAL_ID FROM ACT_GENERAL_LEDGER (NOLOCK)
	WHERE CAST(CONVERT(VARCHAR, GETDATE() ,101) AS DATETIME)   >= 
				CAST(CONVERT(VARCHAR, FISCAL_BEGIN_DATE,101) AS DATETIME)
			AND CAST(CONVERT(VARCHAR, GETDATE() ,101) AS DATETIME) <=
				CAST(CONVERT(VARCHAR, FISCAL_END_DATE,101) AS DATETIME)
END		

SELECT @COMMITED_BY_CODE = USER_LOGIN_ID, @COMMITED_BY_NAME = IsNull(USER_FNAME,'') + ' ' + IsNull(USER_LNAME,'')      
FROM MNT_USER_LIST (NOLOCK)      
WHERE [USER_ID] = @COMMITTED_BY      
  
--Retreiving the lock day      
SELECT @LOCK_DATE = POSTING_LOCK_DATE      
FROM ACT_GENERAL_LEDGER (NOLOCK)     
WHERE FISCAL_ID = @FISCAL_ID      
/*End variables initialisation*/      
      
/*Checking for any type of invalid entry or any mandatory conditions*/      
  
/*Checking the locking dates*/      
IF @TRANS_DATE <= @LOCK_DATE      
BEGIN      
	return -5 --Can not committ any transaction after lock date      
END      
  
---For agency receipt , checking whether deposit amount is fully reconciled or not     
IF EXISTS( SELECT ISNULL(IS_RECONCILED,'N') FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS  CDLI  (NOLOCK)    
			INNER JOIN ACT_CURRENT_DEPOSITS CD (NOLOCK)  
			ON CD.DEPOSIT_ID = CDLI.DEPOSIT_ID      
			AND CDLI.DEPOSIT_TYPE = @DEPOSIT_TYPE_AGENCY  
			AND CDLI.IS_RECONCILED <> 'Y'  
			WHERE CD.DEPOSIT_ID = @DEPOSIT_ID  )  
BEGIN      
	--Some line items are completely reconciled hence can not commit      
	return -7      
END  
  
--Changed By Ravindra(09-12-2007 ) Condition to be checked only if Manual deposit
--in case of Deposit From EFT batch job there will be Customer Line Items and Mode of Payment EFT
IF NOT EXISTS(SELECT DEPOSIT_ID FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS (NOLOCK) WHERE DEPOSIT_ID = @DEPOSIT_ID  
				AND CREATED_FROM = 'EFT' )      
BEGIN     
	-- If Mode Of Reciept is EFT only Agency Deposits can exists  
	IF( (SELECT RECEIPT_MODE FROM ACT_CURRENT_DEPOSITS (NOLOCK) WHERE DEPOSIT_ID = @DEPOSIT_ID) = @EFT_MODE)  
	BEGIN   
		IF EXISTS(SELECT DEPOSIT_ID FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS (NOLOCK)   
					WHERE DEPOSIT_ID = @DEPOSIT_ID  AND DEPOSIT_TYPE <> @DEPOSIT_TYPE_AGENCY   
				)      
		BEGIN   
			RETURN -9  
		END   
		ELSE -- (Insert Records in EFT Spool  
		BEGIN  

		   INSERT INTO EOD_EFT_SPOOL(  
		   ENTITY_ID, ENTITY_TYPE, POLICY_NUMBER, POLICY_ID , POLICY_VERSION_ID, REF_CHECK_ID ,   
		   REF_DEPOSIT_ID , REF_DEP_DETAIL_ID , TRANSACTION_AMOUNT , TRANSACTION_CODE ,   
		   ACC_TRAN_REQUIRED,ACCOUNT_TO_USE , CREATED_DATETIME  ,BRICS_TRAN_TYPE
		   )  
		   SELECT   
		   RECEIPT_FROM_ID , DEPOSIT_TYPE, NULL, NULL, NULL, NULL,   
		   @DEPOSIT_ID, CD_LINE_ITEM_ID, RECEIPT_AMOUNT, 11 ,   
		   'N', 1 ,GETDATE()  ,101
		   FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS (NOLOCK)   
		   WHERE DEPOSIT_ID = @DEPOSIT_ID  
		END  
	END  
END  
  
--- For Misc Deposit  
IF EXISTS ( SELECT CD_LINE_ITEM_ID FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS (NOLOCK)  
			WHERE DEPOSIT_ID = @DEPOSIT_ID AND DEPOSIT_TYPE = @DEPOSIT_TYPE_MISC)  
BEGIN   
--Checking amount is completelydistributed or not      
--  IF NOT EXISTS (select iden_row_id FROM  ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI (NOLOCK)      
--   inner JOIN ACT_DISTRIBUTION_DETAILS AD      
--   ON AD.GROUP_TYPE='DEP' AND AD.GROUP_ID = CDLI.CD_LINE_ITEM_ID      
--   INNER JOIN ACT_CURRENT_DEPOSITS CD ON      
--   CDLI.DEPOSIT_ID = CD.DEPOSIT_ID      
--   AND CDLI.DEPOSIT_TYPE = 'MISC'  
--   WHERE CD.DEPOSIT_ID = @DEPOSIT_ID    )  
--  BEGIN   
--   --Deposit not distributed  
--   return -8        
--  END  
	IF EXISTS( SELECT SUM(AD.DISTRIBUTION_AMOUNT) FROM  ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI (NOLOCK)     
				LEFT JOIN ACT_DISTRIBUTION_DETAILS AD (NOLOCK)     
				ON AD.GROUP_TYPE='DEP' AND AD.GROUP_ID = CDLI.CD_LINE_ITEM_ID      
				INNER JOIN ACT_CURRENT_DEPOSITS CD (NOLOCK) ON      
				CDLI.DEPOSIT_ID = CD.DEPOSIT_ID      
				AND CDLI.DEPOSIT_TYPE = @DEPOSIT_TYPE_MISC   
				WHERE CD.DEPOSIT_ID = @DEPOSIT_ID      
				GROUP BY CDLI.CD_LINE_ITEM_ID, CDLI.RECEIPT_AMOUNT      
				HAVING isnull(RECEIPT_AMOUNT,0) <> SUM(isnull(AD.DISTRIBUTION_AMOUNT,0)))      
	BEGIN      
	  --Deposit not distributed completely  
		return -8        
	END      
END       
  
  
/*End checking for any type of invalid entry*/      
      
  
-- Processing Customer Deposits      
--For customer deposit, entering the records in customer open items      
--Inserting into customer ledger      
  
IF EXISTS (  SELECT CD_LINE_ITEM_ID FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS (NOLOCK)  
		WHERE DEPOSIT_ID = @DEPOSIT_ID AND DEPOSIT_TYPE = @DEPOSIT_TYPE_CUSTOMER)  
BEGIN   
	
	--Ravindra(12-17-09): Moved to Proc_PostAndReconcileCustomerDeposit
	
	/*
	INSERT INTO ACT_CUSTOMER_OPEN_ITEMS      
	(      
	UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE,       
	POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_COMM_APPLIES, AGENCY_COMM_PERC, AGENCY_COMM_AMT,       
	AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS,       
	NOT_COUNTED_RECEIVABLE, PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL,       
	BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, CASH_ACCOUNTING,       
	RECUR_JOURNAL_VERSION, JE_RECON_COUNTER, AMT_IN_RECON, OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID,       
	COUNTRY_ID, STATE_ID, COMMISSION_TYPE, ITEM_STATUS, IS_CHECK_CREATED, TRANS_DESC ,DUE_DATE     
	)        
	SELECT  @UPDATED_FROM, CDLI.CD_LINE_ITEM_ID, CD.DEPOSIT_NUMBER, @DATE_COMMITED, @DATE_COMMITED,      
	@DATE_COMMITED, -CDLI.RECEIPT_AMOUNT, NULL, NULL, NULL, NULL,      
	NULL, POL.CUSTOMER_ID, CDLI.POLICY_ID, CDLI.POLICY_VERSION_ID, NULL, NULL, NULL,      
	0, 'CUS', NULL, NULL, NULL, NULL, NULL, NULL,      
	NULL, -CDLI.RECEIPT_AMOUNT, @ITEM_TRAN_CODE, @ITEM_TRAN_CODE_TYPE , NULL, NULL,       
	NULL, NULL, NULL, NULL, NULL, NULL,      
	NULL, NULL, NULL, @ITEM_STATUS, NULL, 
	CASE RECEIPT_MODE
		WHEN 11974 THEN 'Payment received (Credit Card).'
		WHEN 11976 THEN 'Payment received (EFT).'
	ELSE 'Payment received.'
	END,
	@DATE_COMMITED   
	FROM   ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI (NOLOCK)     
	INNER JOIN ACT_CURRENT_DEPOSITS CD (NOLOCK)      
		ON CD.DEPOSIT_ID = CDLI.DEPOSIT_ID      
	INNER JOIN POL_CUSTOMER_POLICY_LIST POL (NOLOCK)     
		ON CDLI.POLICY_ID = POL.POLICY_ID       
	AND CDLI.CUSTOMER_ID = POL.CUSTOMER_ID      
	AND CDLI.POLICY_VERSION_ID = POL.POLICY_VERSION_ID      
	WHERE CD.DEPOSIT_ID = @DEPOSIT_ID      
	AND CDLI.DEPOSIT_TYPE = @DEPOSIT_TYPE_CUSTOMER  
	ORDER BY CD_LINE_ITEM_ID  
	*/

	--Reconciling and posting the deposit for customer      
	EXEC Proc_PostAndReconcileCustomerDeposit @DEPOSIT_ID, @FISCAL_ID, @COMMITTED_BY,       
	@COMMITED_BY_CODE, @COMMITED_BY_NAME  ,1   -- 1 for Deposit  
  
	--Inserting record in customer balance information table     
	INSERT INTO ACT_CUSTOMER_BALANCE_INFORMATION      
	(      
	CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID,      
	OPEN_ITEM_ROW_ID, AMOUNT, AMOUNT_DUE,      
	TRAN_DESC,      
	UPDATED_FROM, CREATED_DATE,      
	IS_PRINTED, PRINT_DATE, SOURCE_ROW_ID      
	)      
	SELECT       
	ACOI.CUSTOMER_ID, ACOI.POLICY_ID, ACOI.POLICY_VERSION_ID,       
	ACOI.IDEN_ROW_ID, ACOI.TOTAL_DUE, ACOI.TOTAL_DUE,      
	ACOI.TRANS_DESC,      
	'D', GETDATE(),      
	0,NULL, CDLI.CD_LINE_ITEM_ID      
	FROM       
	ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI (NOLOCK)     
	INNER JOIN ACT_CURRENT_DEPOSITS CD       
	ON CD.DEPOSIT_ID = CDLI.DEPOSIT_ID      
	AND CDLI.DEPOSIT_TYPE = @DEPOSIT_TYPE_CUSTOMER    
	INNER JOIN ACT_CUSTOMER_OPEN_ITEMS ACOI      
	ON ACOI.SOURCE_ROW_ID = CDLI.CD_LINE_ITEM_ID      
	AND ACOI.UPDATED_FROM = 'D'      
	WHERE       
	ACOI.NOT_COUNTED_RECEIVABLE = 0 AND ACOI.UPDATED_FROM = 'D'      
	AND CD.DEPOSIT_ID = @DEPOSIT_ID      

END   
  
--- Processing Agency Deopsits  
IF EXISTS ( SELECT CD_LINE_ITEM_ID FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS (NOLOCK)  
		WHERE DEPOSIT_ID = @DEPOSIT_ID AND DEPOSIT_TYPE = @DEPOSIT_TYPE_AGENCY)  
BEGIN      
	--Reconciling and posting the deposit for agency      
	EXEC Proc_PostAndReconcileAgencyDeposit @DEPOSIT_ID, @FISCAL_ID, @COMMITTED_BY,       
	@COMMITED_BY_CODE, @COMMITED_BY_NAME      
END     
  
--- Processing Claim reciepts   
IF EXISTS ( SELECT CD_LINE_ITEM_ID FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS (NOLOCK)  
	WHERE DEPOSIT_ID = @DEPOSIT_ID AND DEPOSIT_TYPE = @DEPOSIT_TYPE_CLAIM)  
BEGIN      
	SELECT TOP 1 @ACCOUNT_ID =BNK_CLAIMS_DEFAULT_AC FROM ACT_GENERAL_LEDGER(NOLOCK)  

	INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS      
	(      
	ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,      
	SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_COMM_PERC,      
	AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,      
	POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,       
	IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,       
	SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,       
	TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,      
	IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME, SOURCE_GROUP_ID  ,  
	TRAN_ENTITY,TRAN_DESC     
	)      
	SELECT       
	@ACCOUNT_ID, 'D', NULL, @DEPOSIT_ID, NULL,      
	CD.DEPOSIT_NUMBER, @DATE_COMMITED , @DATE_COMMITED , @DATE_COMMITED , -CDLI.RECEIPT_AMOUNT ,NULL,   
	NULL, NULL, NULL,      
	NULL, NULL, NULL, NULL, NULL,      
	NULL, NULL, -CDLI.RECEIPT_AMOUNT , @ITEM_TRAN_CODE, @ITEM_TRAN_CODE_TYPE , NULL, NULL,  
	NULL, NULL, NULL, NULL,       
	NULL, NULL, NULL, NULL,       
	NULL, NULL, @COMMITTED_BY, @COMMITED_BY_CODE, @COMMITED_BY_NAME ,@DEPOSIT_ID   ,  
	CDLI.RECEIPT_FROM_NAME, CDLI.CLAIM_NUMBER  
	FROM  ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI (NOLOCK)  
	INNER JOIN ACT_CURRENT_DEPOSITS CD (NOLOCK)  
	ON CDLI.DEPOSIT_ID = CD.DEPOSIT_ID  
	AND CDLI.DEPOSIT_TYPE = @DEPOSIT_TYPE_CLAIM  
	WHERE      
	CD.DEPOSIT_ID = @DEPOSIT_ID      
END   
  
---Processing Reinsurance reciepts  
IF EXISTS (  SELECT CD_LINE_ITEM_ID FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS (NOLOCK)  
		WHERE DEPOSIT_ID = @DEPOSIT_ID AND DEPOSIT_TYPE = @DEPOSIT_TYPE_REINSURANCE)  
BEGIN  
	SELECT TOP 1 @ACCOUNT_ID =BNK_REINSURANCE_DEFAULT_AC FROM ACT_GENERAL_LEDGER (NOLOCK)  

	-- Changed By Ravindra 2-2-2007   
	-- Credit Ebtry will be created for each line item  
	INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS      
	(      
	ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,      
	SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_COMM_PERC,      
	AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,      
	POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,       
	IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,       
	SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,       
	TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,      
	IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME, SOURCE_GROUP_ID  ,  
	TRAN_ENTITY,TRAN_DESC    
	)      
	SELECT       
	@ACCOUNT_ID, 'D', NULL, @DEPOSIT_ID, NULL,      
	CD.DEPOSIT_NUMBER, @DATE_COMMITED , @DATE_COMMITED , @DATE_COMMITED , -CDLI.RECEIPT_AMOUNT ,NULL,   
	NULL, NULL, NULL,      
	NULL, NULL, NULL, NULL, NULL,      
	NULL, NULL, -CDLI.RECEIPT_AMOUNT , @ITEM_TRAN_CODE, @ITEM_TRAN_CODE_TYPE , NULL, NULL,  
	NULL, NULL, NULL, NULL,       
	NULL, NULL, NULL, NULL,       
	NULL, NULL, @COMMITTED_BY, @COMMITED_BY_CODE, @COMMITED_BY_NAME ,@DEPOSIT_ID   ,  
	CDLI.RECEIPT_FROM_NAME, CDLI.CLAIM_NUMBER  
	FROM  ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI (NOLOCK)  
	INNER JOIN ACT_CURRENT_DEPOSITS CD (NOLOCK)  
	ON CDLI.DEPOSIT_ID = CD.DEPOSIT_ID  
	AND CDLI.DEPOSIT_TYPE = @DEPOSIT_TYPE_REINSURANCE      
	WHERE      
	CD.DEPOSIT_ID = @DEPOSIT_ID       
  
--  DECLARE @RECSUM INT    
--    
--  SELECT @RECSUM =  SUM(CDLI.RECEIPT_AMOUNT)    
--  FROM  ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI      
--  INNER JOIN ACT_CURRENT_DEPOSITS CD ON      
--  CDLI.DEPOSIT_ID = CD.DEPOSIT_ID      
--  AND CDLI.DEPOSIT_TYPE = @DEPOSIT_TYPE_REINSURANCE  
--  WHERE      
--  CDLI.DEPOSIT_ID = @DEPOSIT_ID      
--   
--  -- For Reinsurance check Making a consolidated entry  
--  INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS      
--  (      
--  ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,      
--  SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_COMM_PERC,      
--  AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,      
--  POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,       
--  IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,       
--  SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,       
--  TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,      
--  IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME, SOURCE_GROUP_ID    
--    
--  )      
--  SELECT       
--  @ACCOUNT_ID, 'D', NULL, @DEPOSIT_ID, NULL,      
--  CD.DEPOSIT_NUMBER, @DATE_COMMITED , @DATE_COMMITED , @DATE_COMMITED ,-@RECSUM,NULL,   
--  NULL, NULL, NULL,      
--  NULL, NULL, NULL, NULL, NULL,      
--  NULL, NULL,-@RECSUM, @ITEM_TRAN_CODE, @ITEM_TRAN_CODE_TYPE , NULL, NULL,  
--  NULL, NULL, NULL, NULL,       
--  NULL, NULL, NULL, NULL,       
--  NULL, NULL, @COMMITTED_BY, @COMMITED_BY_CODE, @COMMITED_BY_NAME ,@DEPOSIT_ID     
--  FROM     ACT_CURRENT_DEPOSITS CD   
--  WHERE      
--  CD.DEPOSIT_ID = @DEPOSIT_ID      
  
END  
  
-- Processing Misc. Reciepts  
IF EXISTS (   SELECT CD_LINE_ITEM_ID FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS (NOLOCK)  
		WHERE DEPOSIT_ID = @DEPOSIT_ID AND DEPOSIT_TYPE = @DEPOSIT_TYPE_MISC)  
BEGIN  
	--Posting line items of deposits      

	INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS      
	(      
	ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,      
	SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_COMM_PERC,      
	AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,      
	POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,       
	IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,       
	SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,       
	TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,      
	IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME ,  
	TRAN_ENTITY,TRAN_DESC    
	)  
	SELECT       
	ADDET.ACCOUNT_ID, 'D', NULL, @DEPOSIT_ID, NULL,      
	CD.DEPOSIT_NUMBER, @DATE_COMMITED , @DATE_COMMITED , @DATE_COMMITED , ADDET.DISTRIBUTION_AMOUNT * -1 , NULL,      
	NULL, NULL, NULL,      
	NULL, NULL, NULL, NULL, NULL,      
	NULL, NULL, ADDET.DISTRIBUTION_AMOUNT, @ITEM_TRAN_CODE , @ITEM_TRAN_CODE_TYPE , NULL, NULL,      
	NULL, NULL, NULL, NULL,       
	NULL, NULL, NULL, NULL,       
	NULL, NULL, @COMMITTED_BY, @COMMITED_BY_CODE, @COMMITED_BY_NAME   ,  
	-- ADDET.NOTE,CD.DEPOSIT_NOTE  
	-- Changed by Swastika
	CDLI.RECEIPT_FROM_NAME,ADDET.NOTE  
	FROM       
	ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI (NOLOCK)     
	LEFT JOIN ACT_DISTRIBUTION_DETAILS ADDET (NOLOCK)     
	ON ADDET.GROUP_TYPE='DEP' AND ADDET.GROUP_ID = CDLI.CD_LINE_ITEM_ID      
	INNER JOIN ACT_CURRENT_DEPOSITS CD (NOLOCK) ON      
	CDLI.DEPOSIT_ID = CD.DEPOSIT_ID  
	AND CDLI.DEPOSIT_TYPE = @DEPOSIT_TYPE_MISC      
	WHERE      
	CDLI.DEPOSIT_ID = @DEPOSIT_ID      
  
END      

      
--Posting total deposit into ACT_ACCOUNTS_POSTING_DETAILS   
-- Bank Account Debit  
------------------------   
 INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS    
 (    
  ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,    
  SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_COMM_PERC,    
  AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,    
  POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,     
  IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,     
  SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,     
  TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,    
  IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME ,SOURCE_GROUP_ID ,  
  TRAN_ENTITY,TRAN_DESC  
 )    
 SELECT     
  CD.ACCOUNT_ID, 'D', NULL, @DEPOSIT_ID, NULL,    
  CD.DEPOSIT_NUMBER, @DATE_COMMITED , @DATE_COMMITED , @DATE_COMMITED , CD.TOTAL_DEPOSIT_AMOUNT, NULL,    
  NULL,  NULL, NULL,   
  NULL, NULL, NULL, NULL, NULL,    
  NULL, NULL, CD.TOTAL_DEPOSIT_AMOUNT, @ITEM_TRAN_CODE, @ITEM_TRAN_CODE_TYPE , NULL, NULL,    
  NULL, NULL, NULL, NULL,     
  NULL, NULL, NULL, NULL,     
  NULL, NULL, @COMMITTED_BY, @COMMITED_BY_CODE, @COMMITED_BY_NAME , @DEPOSIT_ID,  
  NULL,CD.DEPOSIT_NOTE  
 FROM  ACT_CURRENT_DEPOSITS CD (NOLOCK)  
WHERE CD.DEPOSIT_ID = @DEPOSIT_ID    
    
  --Committing the record      
 UPDATE ACT_CURRENT_DEPOSITS      
 SET IS_COMMITED = 'Y', DATE_COMMITED = @DATE_COMMITED      
 WHERE DEPOSIT_ID = @DEPOSIT_ID      
       
 return 1      
END      













GO

