IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_MakeDBAccountsRegisterReport]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_MakeDBAccountsRegisterReport]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN
--DROP PROC dbo.Proc_MakeDBAccountsRegisterReport
--GO

CREATE PROC dbo.Proc_MakeDBAccountsRegisterReport
(
	@AS_ON_DATE				Datetime   = null
)
AS
BEGIN 

DECLARE @FIRST_DAY_OF_MONTH		Datetime ,
		@FIRST_DAY_OF_YEAR		Datetime,
		@PREMIUM_INCOME_ACCOUNT	Int , 
		@FISCAL_ID				Int	, 
		@UNCOLLECTED_PREMIUM	Int ,
		@LAST_DAY_OF_MONTH		Datetime	,
		@INSTALL_FEES_ACCOUNT	Int ,
		@NSF_FEES_ACCOUNT		Int,
		@LATE_FEES_ACCOUNT		Int,
		@REINS_FEES_ACCOUNT		Int

IF( @AS_ON_DATE IS NULL)
BEGIN 
	SET @AS_ON_DATE = GETDATE() 
END

exec Proc_GetFiscalIDForCurrentDate @AS_ON_DATE , @FISCAL_ID out

IF(MONTH(@AS_ON_DATE) = 12)
BEGIN 
	SET @LAST_DAY_OF_MONTH = CAST( CONVERT(VARCHAR, YEAR(@AS_ON_DATE) +1) +'/' 
			+ CONVERT(VARCHAR,1) + '/' + '1' AS DATETIME)
	SET @LAST_DAY_OF_MONTH = DATEADD(dd,-1 , @LAST_DAY_OF_MONTH )
END
ELSE
BEGIN 
	SET @LAST_DAY_OF_MONTH = CAST( CONVERT(VARCHAR, YEAR(@AS_ON_DATE)) +'/' 
		+ CONVERT(VARCHAR,MONTH(@AS_ON_DATE)+ 1) + '/' + '1' AS DATETIME)
	SET @LAST_DAY_OF_MONTH = DATEADD(dd, -1 , @LAST_DAY_OF_MONTH)
END

SET @FIRST_DAY_OF_MONTH = CAST(CONVERT(VARCHAR , MONTH(@AS_ON_DATE) ) +'/1/' 
						+ CONVERT(VARCHAR , YEAR(@AS_ON_DATE))  AS DATETIME ) 

SET @FIRST_DAY_OF_YEAR = CAST('1/1/' + CONVERT(VARCHAR , YEAR(@AS_ON_DATE))  AS DATETIME ) 

SELECT 
	@PREMIUM_INCOME_ACCOUNT		= INC_PRM_WRTN , 
	@UNCOLLECTED_PREMIUM			= AST_UNCOLL_PRM_CUSTOMER , 
	@INSTALL_FEES_ACCOUNT			= INC_INSTALLMENT_FEES  ,
	@NSF_FEES_ACCOUNT				= INC_NON_SUFFICIENT_FUND_FEES,
	@REINS_FEES_ACCOUNT				= INC_RE_INSTATEMENT_FEES,
	@LATE_FEES_ACCOUNT				= INC_LATE_FEES
FROM ACT_GENERAL_LEDGER   
WHERE FISCAL_ID = @FISCAL_ID   ;
	
WITH
ADVANCE_DEPOSITS  As 
( 
	SELECT SUM(AMOUNT ) AS DEPOSIT_AMOUNT, 
	ADVANCE_MONTH
	FROM 
	(
		SELECT  CASE WHEN DATEDIFF(MONTH, @LAST_DAY_OF_MONTH ,POLICY_EFFECTIVE_DATE) >= 2 THEN 2
			ELSE 1 END AS ADVANCE_MONTH,
		ISNULL(OI.TOTAL_PAID ,0)  AS AMOUNT
		FROM ACT_CUSTOMER_OPEN_ITEMS OI
		INNER JOIN POL_CUSTOMER_POLICY_LIST CPL
		ON OI.CUSTOMER_ID = CPL.CUSTOMER_ID 
		AND OI.POLICY_ID  = CPL.POLICY_ID 
		AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID 
		WHERE OI.ITEM_TRAN_CODE_TYPE IN ( 'JE','PREM' ) AND ITEM_TRAN_CODE <> 'SBWF'
		AND DATEDIFF(MM,@LAST_DAY_OF_MONTH, CPL.APP_EFFECTIVE_DATE ) > 0 
		AND ISNULL(OI.TOTAL_PAID ,0)  <> 0
		
		UNION ALL

		SELECT  CASE WHEN DATEDIFF(MONTH, @LAST_DAY_OF_MONTH ,POLICY_EFFECTIVE_DATE) >= 2 THEN 2
			ELSE 1 END AS ADVANCE_MONTH,
		(ISNULL(OI.TOTAL_DUE ,0) - ISNULL(OI.TOTAL_PAID ,0)) * -1 AS AMOUNT
		FROM ACT_CUSTOMER_OPEN_ITEMS OI
		INNER JOIN POL_CUSTOMER_POLICY_LIST CPL
		ON OI.CUSTOMER_ID = CPL.CUSTOMER_ID 
		AND OI.POLICY_ID  = CPL.POLICY_ID 
		AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID 
		WHERE OI.ITEM_TRAN_CODE_TYPE = 'DEP' 
		AND ISNULL(OI.TOTAL_DUE ,0) <> ISNULL(OI.TOTAL_PAID ,0)
		AND DATEDIFF(MM, @LAST_DAY_OF_MONTH , CPL.APP_EFFECTIVE_DATE ) > 0 
	) AS TEMP
	GROUP BY ADVANCE_MONTH 
	HAVING  SUM(AMOUNT ) > 0 
)  


SELECT 'PREMIUM' AS ITEM_DESCRIPTION ,
(
	SELECT SUM(TRANSACTION_AMOUNT) * - 1 
	FROM ACT_ACCOUNTS_POSTING_DETAILS 
	WHERE DATEDIFF(DD,@FIRST_DAY_OF_MONTH, POSTING_DATE )  >= 0 
	AND  DATEDIFF(DD, POSTING_DATE , @AS_ON_DATE ) >= 0 
	AND ACCOUNT_ID = @PREMIUM_INCOME_ACCOUNT 
) AS AMOUNT 

UNION  

SELECT 'BALANCE DUE' AS ITEM_DESCRIPTION ,
(
	SELECT SUM(TRANSACTION_AMOUNT) * - 1 
	FROM ACT_ACCOUNTS_POSTING_DETAILS 
	WHERE DATEDIFF(DD,@FIRST_DAY_OF_MONTH, POSTING_DATE )  >= 0 
	AND  DATEDIFF(DD, POSTING_DATE , @AS_ON_DATE ) >= 0 
	AND ACCOUNT_ID = @UNCOLLECTED_PREMIUM 
) AS AMOUNT

UNION 

SELECT 'DISCOUNT' AS ITEM_DESCRIPTION , 
(
	SELECT SUM(OI.TOTAL_DUE)  * - 1  
	FROM ACT_CUSTOMER_OPEN_ITEMS OI 
	INNER JOIN POL_CUSTOMER_POLICY_LIST CPL
		ON OI.CUSTOMER_ID = CPL.CUSTOMER_ID 
		AND OI.POLICY_ID = CPL.POLICY_ID 
		AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID 
	INNER JOIN POL_POLICY_PROCESS PPP 
		ON CPL.CUSTOMER_ID = PPP.CUSTOMER_ID 
		AND CPL.POLICY_ID = PPP.POLICY_ID 
		AND CPL.POLICY_VERSION_ID = PPP.NEW_POLICY_VERSION_ID 
	WHERE OI.ITEM_TRAN_CODE = 'DISC' 
	AND PPP.PROCESS_STATUS = 'COMPLETE' 
	AND DATEDIFF(DD,@FIRST_DAY_OF_MONTH, POSTING_DATE )  >= 0 
	AND  DATEDIFF(DD, POSTING_DATE , @AS_ON_DATE ) >= 0 
	AND DATEDIFF(DD, CPL.POL_VER_EFFECTIVE_DATE , @AS_ON_DATE ) >=0 
) AS AMOUNT 

UNION 

SELECT 'PAID TO DATE' AS ITEM_DESCRIPTION ,
(
	SELECT SUM(OI.TOTAL_DUE)  * - 1 
	FROM ACT_CUSTOMER_OPEN_ITEMS OI 
	WHERE OI.ITEM_TRAN_CODE = 'DEP' 
	AND DATEDIFF(DD,@FIRST_DAY_OF_YEAR, POSTING_DATE )  >= 0 
	AND  DATEDIFF(DD, POSTING_DATE , @AS_ON_DATE ) >= 0 
) AS  AMOUNT

UNION 

SELECT 'ADVANCE MONTH PAYMENTS' AS ITEM_DESCRIPTION , SUM(DEPOSIT_AMOUNT )
FROM ADVANCE_DEPOSITS 

UNION

SELECT 'ADVANCE 1 MONTH' AS ITEM_DESCRIPTION , DEPOSIT_AMOUNT 
FROM ADVANCE_DEPOSITS WHERE ADVANCE_MONTH = 1 

UNION 

SELECT 'ADVANCE 2 MONTH' AS ITEM_DESCRIPTION , DEPOSIT_AMOUNT 
FROM ADVANCE_DEPOSITS WHERE ADVANCE_MONTH = 2 

UNION 

SELECT 'TOTAL PAYMENTS' AS ITEM_DESCRIPTION ,
(
	SELECT SUM(OI.TOTAL_DUE)  * - 1 
	FROM ACT_CUSTOMER_OPEN_ITEMS OI 
	WHERE DATEDIFF(DD,@FIRST_DAY_OF_MONTH, POSTING_DATE )  >= 0 
	AND  DATEDIFF(DD, POSTING_DATE , @AS_ON_DATE ) >= 0 
	AND 
	(
		OI.ITEM_TRAN_CODE = 'DEP' 
		OR 
		OI.UPDATED_FROM = 'F' 
		OR 
		(
			OI.UPDATED_FROM = 'J' AND OI.ITEM_TRAN_CODE = 'JE' AND OI.TOTAL_DUE < 0 
		)
	)
) AS  AMOUNT

UNION

SELECT 'CURRENT PAYMENTS' AS ITEM_DESCRIPTION,
(
	(
		SELECT SUM(OI.TOTAL_DUE)  * - 1 FROM ACT_CUSTOMER_OPEN_ITEMS OI 
		WHERE DATEDIFF(DD,@FIRST_DAY_OF_MONTH, POSTING_DATE ) >= 0 AND DATEDIFF(DD, POSTING_DATE , @AS_ON_DATE ) >= 0 
		AND (
				OI.ITEM_TRAN_CODE = 'DEP' OR OI.UPDATED_FROM = 'F' 
				OR (OI.UPDATED_FROM = 'J' AND OI.ITEM_TRAN_CODE = 'JE' AND OI.TOTAL_DUE < 0)
			)
	) -	(SELECT SUM(DEPOSIT_AMOUNT) FROM ADVANCE_DEPOSITS )
) AS AMOUNT
END

--GO
--EXEC Proc_MakeDBAccountsRegisterReport
--ROLLBACK



GO

