IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetKeysForWaterCraft_Policy]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetKeysForWaterCraft_Policy]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*                            
----------------------------------------------------------                                
Proc Name       : Proc_GetKeysForWaterCraft_Policy
Created by      : Ravindra                              
Date            : 06-09-2006
Purpose         : 
Revison History :                                
Modified bY	:Pravesh K Chandel
------------------------------------------------------------                                
Date     Review By          Comments                                
------   ------------       -------------------------                               
*/ 

--drop proc Proc_GetKeysForWaterCraft_Policy
create proc [dbo].[Proc_GetKeysForWaterCraft_Policy]
(
 @CUSTOMER_ID INT,
 @POLICY_ID INT,
 @POLICY_VERSION_ID INT,
 @BOAT_ID INT
)

AS
BEGIN
SELECT 
LKP.TYPE as BOAT_STYLE,
POL_INFO.APP_EFFECTIVE_DATE AS APP_EFFECTIVE_DATE,
POL_INFO.POLICY_LOB AS LOB_ID,
POL_INFO.STATE_ID as STATE_ID,
YEAR(CONVERT(VARCHAR(20),POL_INFO.APP_EFFECTIVE_DATE,109)) AS APP_YEAR,
WAT_INFO.YEAR AS BOAT_YEAR,
YEAR(CONVERT(VARCHAR(20),POL_INFO.APP_EFFECTIVE_DATE,109)) - WAT_INFO.YEAR  as BOAT_AGE,
WAT_INFO.COV_TYPE_BASIS as COV_TYPE,
WAT_INFO.LENGTH AS BOAT_LENGTH,
ISNULL(WAT_INFO.INSURING_VALUE,0) AS INS_VAL,
WAT_INFO.TYPE_OF_WATERCRAFT AS BOAT_TYPE,

--HO_INFO.LIMIT_1 AS HOCOV_E,
CASE HO_INFO.LIMIT1_AMOUNT_TEXT WHEN 'Extended From Primary' THEN  '0 ' + 'Extended from HO' ELSE CONVERT(VARCHAR,isnull(HO_INFO.LIMIT_1,0)) END AS HOCOV_E,  

--Convert(VARCHAR(20),ISNULL(HO_INFO1.LIMIT_1,0)) + ' ' + '/' + '25000'  AS HOCOV_F,
CASE HO_INFO1.LIMIT1_AMOUNT_TEXT WHEN 'Extended From Primary' THEN  '0 ' + 'Extended from HO' ELSE
		Convert(VARCHAR(20),ISNULL(HO_INFO1.LIMIT_1,0)) + ' ' + '/' + '25000'  end AS HOCOV_F,  
  

-- Deductible value of Section-1 Actual Cash 
CONVERT(VARCHAR(20),ISNULL(AVC.DEDUCTIBLE_1,0)) + ' ' + ISNULL(AVC.DEDUCTIBLE1_AMOUNT_TEXT,'')  
 + '/' + CONVERT(VARCHAR(20),ISNULL(AVC.DEDUCTIBLE_2,0)) + ' ' + ISNULL(AVC.DEDUCTIBLE2_AMOUNT_TEXT,'')    
 as SAVED_DED_C,

-- Deductible value of Section-1 Agreed Value
CONVERT(VARCHAR(20),ISNULL(AGV.DEDUCTIBLE_1,0)) + ' ' + ISNULL(AGV.DEDUCTIBLE1_AMOUNT_TEXT,'')  
 + '/' + CONVERT(VARCHAR(20),ISNULL(AGV.DEDUCTIBLE_2,0)) + ' ' + ISNULL(AGV.DEDUCTIBLE2_AMOUNT_TEXT,'')    
 as SAVED_DED_G,

-- Deductible value of Section-1 Jetski
CONVERT(VARCHAR(20),ISNULL(JS.DEDUCTIBLE_1,0)) + ' ' + ISNULL(JS.DEDUCTIBLE1_AMOUNT_TEXT,'')  
 + '/' + CONVERT(VARCHAR(20),ISNULL(JS.DEDUCTIBLE_2,0)) + ' ' + ISNULL(JS.DEDUCTIBLE2_AMOUNT_TEXT,'')    
 as SAVED_DED_J,
--Uninsured Boaters oldvalue of limit
isnull((
	SELECT isnull(LIMIT_1,0) FROM POL_WATERCRAFT_COVERAGE_INFO COV_INFO  WITH(NOLOCK) 
						WHERE COV_INFO.COVERAGE_CODE_ID IN (24,70,822) AND 
						WAT_INFO.CUSTOMER_ID=COV_INFO.CUSTOMER_ID and WAT_INFO.POLICY_ID=COV_INFO.POLICY_ID 
						and WAT_INFO.POLICY_VERSION_ID =COV_INFO.POLICY_VERSION_ID 
						and WAT_INFO.BOAT_ID=COV_INFO.BOAT_ID)
	,0) AS UMBCS_OLDVALUE,
--WaterLiabilty oldvalue of limit added by Pravesh  
isnull((  
 SELECT isnull(LIMIT_ID,0) FROM POL_WATERCRAFT_COVERAGE_INFO COV_INFO  WITH(NOLOCK)  
      WHERE COV_INFO.COVERAGE_CODE_ID IN (19,65,820) AND COV_INFO.LIMIT_ID in(1412,1413,1414)  and   
      WAT_INFO.CUSTOMER_ID=COV_INFO.CUSTOMER_ID and WAT_INFO.POLICY_ID=COV_INFO.POLICY_ID   
      and WAT_INFO.POLICY_VERSION_ID =COV_INFO.POLICY_VERSION_ID   
      and WAT_INFO.BOAT_ID=COV_INFO.BOAT_ID)  
 ,0) AS WATER_SAVED_ID  ,
--medical Payment oldvalue of limit added by Pravesh  
isnull((  
 SELECT isnull(LIMIT_ID,0) FROM POL_WATERCRAFT_COVERAGE_INFO COV_INFO  WITH(NOLOCK)  
      WHERE COV_INFO.COVERAGE_CODE_ID IN (21,68,821) AND    COV_INFO.LIMIT_ID in(1415,1416,1417)AND
      WAT_INFO.CUSTOMER_ID=COV_INFO.CUSTOMER_ID and WAT_INFO.POLICY_ID=COV_INFO.POLICY_ID   
      and WAT_INFO.POLICY_VERSION_ID =COV_INFO.POLICY_VERSION_ID   
      and WAT_INFO.BOAT_ID=COV_INFO.BOAT_ID)  
 ,0) AS MADICAL_SAVED_ID  ,
--WaterLiabilty oldvalue of limit value added by Pravesh  
isnull((  
 SELECT isnull(LIMIT_1,0) FROM POL_WATERCRAFT_COVERAGE_INFO COV_INFO  WITH(NOLOCK)  
      WHERE COV_INFO.COVERAGE_CODE_ID IN (19,65,820) AND 
	--COV_INFO.LIMIT_ID in(1412,1413,1414)  and   
      WAT_INFO.CUSTOMER_ID=COV_INFO.CUSTOMER_ID and WAT_INFO.POLICY_ID=COV_INFO.POLICY_ID   
      and WAT_INFO.POLICY_VERSION_ID =COV_INFO.POLICY_VERSION_ID   
      and WAT_INFO.BOAT_ID=COV_INFO.BOAT_ID)  
 ,0) AS WATER_SAVED_VALUE  ,
--medical Payment oldvalue of limit value added by Pravesh  
isnull((  
 SELECT convert(varchar,isnull(LIMIT_1,0))  + '/' + convert(varchar,isnull(LIMIT_2,0)) 
  FROM POL_WATERCRAFT_COVERAGE_INFO COV_INFO  WITH(NOLOCK)  
      WHERE COV_INFO.COVERAGE_CODE_ID IN (21,68,821) AND    
	--COV_INFO.LIMIT_ID in(1415,1416,1417)AND
      WAT_INFO.CUSTOMER_ID=COV_INFO.CUSTOMER_ID and WAT_INFO.POLICY_ID=COV_INFO.POLICY_ID   
      and WAT_INFO.POLICY_VERSION_ID =COV_INFO.POLICY_VERSION_ID   
      and WAT_INFO.BOAT_ID=COV_INFO.BOAT_ID)  
 ,0) AS MADICAL_SAVED_VALUE  ,
--Unattached Equipment And Personal Effects Coverage limit value added by Pravesh  on 5 Nov Itrack 2880
isnull((  
 SELECT max(convert(varchar,isnull(LIMIT_1,0))) 
  FROM POL_WATERCRAFT_COVERAGE_INFO COV_INFO  WITH(NOLOCK)  
      WHERE COV_INFO.COVERAGE_CODE_ID IN (26,71,823) AND    
      WAT_INFO.CUSTOMER_ID=COV_INFO.CUSTOMER_ID and WAT_INFO.POLICY_ID=COV_INFO.POLICY_ID   
      and WAT_INFO.POLICY_VERSION_ID =COV_INFO.POLICY_VERSION_ID   
      )  
 ,0) AS UNATTACHED_SAVED_VALUE,
(CASE WHEN POL_INFO.APP_EFFECTIVE_DATE  >
	(
	SELECT isnull(EFFECTIVE_TO_DATE,'3000-12-31') FROM MNT_COVERAGE_RANGES 
	WHERE LIMIT_DEDUC_ID = AVC.DEDUC_ID
	)
	OR
       POL_INFO.APP_EFFECTIVE_DATE  <
	(
	SELECT isnull(EFFECTIVE_FROM_DATE,'1950-01-01') FROM MNT_COVERAGE_RANGES 
	WHERE LIMIT_DEDUC_ID = AVC.DEDUC_ID
	)
    THEN 1
    ELSE 0 
 END
) AS IS_GF_DEDUCT

FROM POL_WATERCRAFT_INFO WAT_INFO WITH(NOLOCK)

INNER JOIN POL_CUSTOMER_POLICY_LIST POL_INFO WITH(NOLOCK)
 ON POL_INFO.CUSTOMER_ID=WAT_INFO.CUSTOMER_ID
AND POL_INFO.POLICY_ID=WAT_INFO.POLICY_ID
AND POL_INFO.POLICY_VERSION_ID = WAT_INFO.POLICY_VERSION_ID

INNER JOIN MNT_LOOKUP_VALUES LKP ON            
  WAT_INFO.TYPE_OF_WATERCRAFT = LKP.LOOKUP_UNIQUE_ID      

---For Coverage E - Personal Liability Each Occurrence (10,170)
LEFT OUTER JOIN  POL_DWELLING_SECTION_COVERAGES HO_INFO WITH(NOLOCK)
 ON WAT_INFO.CUSTOMER_ID=HO_INFO.CUSTOMER_ID
AND WAT_INFO.POLICY_ID=HO_INFO.POLICY_ID
AND WAT_INFO.POLICY_VERSION_ID = HO_INFO.POLICY_VERSION_ID
AND HO_INFO.COVERAGE_CODE_ID IN (10,170)
AND  HO_INFO.DWELLING_ID = (
				SELECT MIN(POL_DWELLINGS_INFO.DWELLING_ID) FROM POL_DWELLING_SECTION_COVERAGES HO_INNER WITH(NOLOCK)
				INNER JOIN POL_DWELLINGS_INFO WITH(NOLOCK) ON 
                                HO_INNER.CUSTOMER_ID = POL_DWELLINGS_INFO.CUSTOMER_ID	
				AND HO_INNER.POLICY_ID =POL_DWELLINGS_INFO.POLICY_ID
				AND HO_INNER.POLICY_VERSION_ID  =	POL_DWELLINGS_INFO.POLICY_VERSION_ID
				WHERE 
				WAT_INFO.CUSTOMER_ID=HO_INNER.CUSTOMER_ID
				AND WAT_INFO.POLICY_ID=HO_INNER.POLICY_ID
				AND WAT_INFO.POLICY_VERSION_ID = HO_INNER.POLICY_VERSION_ID
				AND POL_DWELLINGS_INFO.IS_ACTIVE='Y'
				)


-- For Coverage F - Medical Payment Each Person  (13,171)
LEFT OUTER JOIN  POL_DWELLING_SECTION_COVERAGES HO_INFO1 WITH(NOLOCK)
 ON WAT_INFO.CUSTOMER_ID=HO_INFO1.CUSTOMER_ID
AND WAT_INFO.POLICY_ID=HO_INFO1.POLICY_ID
AND WAT_INFO.POLICY_VERSION_ID = HO_INFO1.POLICY_VERSION_ID
AND HO_INFO1.COVERAGE_CODE_ID IN (13,171)
AND HO_INFO1.DWELLING_ID = (
				SELECT MIN(POL_DWELLINGS_INFO.DWELLING_ID) FROM POL_DWELLING_SECTION_COVERAGES HO_INNER1 WITH(NOLOCK)
				INNER JOIN POL_DWELLINGS_INFO WITH(NOLOCK) ON HO_INNER1.CUSTOMER_ID = POL_DWELLINGS_INFO.CUSTOMER_ID	
				AND HO_INNER1.POLICY_ID = POL_DWELLINGS_INFO.POLICY_ID
				AND HO_INNER1.POLICY_VERSION_ID  =	POL_DWELLINGS_INFO.POLICY_VERSION_ID
				WHERE WAT_INFO.POLICY_ID=HO_INNER1.POLICY_ID
				AND WAT_INFO.CUSTOMER_ID=HO_INNER1.CUSTOMER_ID
				AND WAT_INFO.POLICY_VERSION_ID = HO_INNER1.POLICY_VERSION_ID
				AND POL_DWELLINGS_INFO.IS_ACTIVE='Y'
				)


LEFT OUTER JOIN POL_WATERCRAFT_COVERAGE_INFO AVC  WITH(NOLOCK)
 ON WAT_INFO.CUSTOMER_ID=AVC.CUSTOMER_ID
AND WAT_INFO.POLICY_ID=AVC.POLICY_ID
AND WAT_INFO.POLICY_VERSION_ID = AVC.POLICY_VERSION_ID
AND WAT_INFO.BOAT_ID = AVC.BOAT_ID 
--AND AVC.COVERAGE_CODE_ID IN (11,59,817)
AND AVC.COVERAGE_CODE_ID IN (1053,1054,1055)
and AVC.DEDUC_ID not in (1433,1434,1435,1436,1437,1438)  
LEFT OUTER JOIN POL_WATERCRAFT_COVERAGE_INFO AGV  WITH(NOLOCK)
 ON WAT_INFO.CUSTOMER_ID=AGV.CUSTOMER_ID
AND WAT_INFO.POLICY_ID=AGV.POLICY_ID
AND WAT_INFO.POLICY_VERSION_ID = AGV.POLICY_VERSION_ID
AND WAT_INFO.BOAT_ID = AGV.BOAT_ID 
--AND AGV.COVERAGE_CODE_ID IN (15,61,818)
AND AGV.COVERAGE_CODE_ID IN (1053,1054,1055)
and AGV.DEDUC_ID not in (1433,1434,1435,1436,1437,1438)  
LEFT OUTER JOIN POL_WATERCRAFT_COVERAGE_INFO JS  WITH(NOLOCK)
 ON WAT_INFO.CUSTOMER_ID=JS.CUSTOMER_ID
AND WAT_INFO.POLICY_ID=JS.POLICY_ID
AND WAT_INFO.POLICY_VERSION_ID = JS.POLICY_VERSION_ID
AND WAT_INFO.BOAT_ID = JS.BOAT_ID 
--AND JS.COVERAGE_CODE_ID IN (17,63,819)
AND JS.COVERAGE_CODE_ID IN (1053,1054,1055)
and JS.DEDUC_ID in (1433,1434,1435,1436,1437,1438)  
WHERE
WAT_INFO.CUSTOMER_ID=@CUSTOMER_ID
AND WAT_INFO.POLICY_ID=@POLICY_ID
AND WAT_INFO.POLICY_VERSION_ID =@POLICY_VERSION_ID
AND WAT_INFO.BOAT_ID =@BOAT_ID

END






GO

