IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetPDFAutoUnderwritingDetails]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetPDFAutoUnderwritingDetails]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------
Proc Name          : Proc_GetPDFAutoUnderwritingDetails
Created by         : Anurag Verma
Date               : 27-June-2006
Purpose            : 
Revison History    :
Used In            : Wolverine  
------------------------------------------------------------
Date     Review By          Comments
------   ------------       -------------------------*/
--DROP PROCEDURE Proc_GetPDFAutoUnderwritingDetails
CREATE       PROCEDURE dbo.Proc_GetPDFAutoUnderwritingDetails
(
	@CUSTOMERID 		int,
	@POLID 	             	int,
	@VERSIONID 		int,
	@CALLEDFROM		VARCHAR(20)
)
AS
BEGIN
	IF (@CALLEDFROM='APPLICATION')
	BEGIN
		SELECT 
			ANY_NON_OWNED_VEH,ANY_NON_OWNED_VEH_PP_DESC,CAR_MODIFIED,CAR_MODIFIED_DESC,COST_EQUIPMENT_DESC,
			IS_MODIFIED_KIT,IS_MODIFIED_KIT_DESC,IS_COST_OVER_DEFINED_LIMIT,IS_COST_OVER_DEFINED_LIMIT_DESC,IS_USEDFOR_RACING_DESC,IS_USEDFOR_RACING,IS_COMMERCIAL_USE_DESC,IS_COMMERCIAL_USE,EXISTING_DMG,EXISTING_DMG_PP_DESC,ANY_CAR_AT_SCH,ANY_CAR_AT_SCH_DESC,
			COVERAGE_DECLINED_MC_DESC,IS_LICENSED_FOR_ROAD,IS_CONVICTED_ACCIDENT_DESC,ANY_OTH_AUTO_INSU,ANY_OTH_AUTO_INSU_DESC,LTRIM(RTRIM(MULTI_POLICY_DISC_APPLIED)) MULTI_POLICY_DISC_APPLIED,MULTI_POLICY_DISC_APPLIED_PP_DESC,
			SALVAGE_TITLE,SALVAGE_TITLE_MC_DESC,IS_MODIFIED_INCREASE_SPEED_DESC,DRIVER_SUS_REVOKED,DRIVER_SUS_REVOKED_MC_DESC,DRIVER_SUS_REVOKED_PP_DESC,PHY_MENTL_CHALLENGED,PHY_MENTL_CHALLENGED_PP_DESC,
			IS_LICENSED_FOR_ROAD_DESC,IS_CONVICTED_CARELESS_DRIVE,IS_CONVICTED_CARELESS_DRIVE_DESC,ANY_FINANCIAL_RESPONSIBILITY,ANY_FINANCIAL_RESPONSIBILITY_PP_DESC,INS_AGENCY_TRANSFER,INS_AGENCY_TRANSFER_PP_DESC,
			IS_MODIFIED_INCREASE_SPEED,IS_EXTENDED_FORKS,IS_EXTENDED_FORKS_DESC,IS_CONVICTED_ACCIDENT,COVERAGE_DECLINED,COVERAGE_DECLINED_PP_DESC,AGENCY_VEH_INSPECTED,AGENCY_VEH_INSPECTED_PP_DESC,
			COVERAGE_DECLINED,IS_MORE_WHEELS,IS_MORE_WHEELS_DESC,USE_AS_TRANSPORT_FEE_DESC,isnull(USE_AS_TRANSPORT_FEE,0) USE_AS_TRANSPORT_FEE,isnull(SALVAGE_TITLE,0) SALVAGE_TITLE
			,ISNULL(IS_OTHER_THAN_INSURED,0) IS_OTHER_THAN_INSURED,
			isnull(CASE WHEN CURR_RES_TYPE='Owned' then 1 else 0 end,'') CUR_RES_TYPE
		
			FROM APP_AUTO_GEN_INFO GI  with(nolock) 
			WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@POLID AND APP_VERSION_ID=@VERSIONID 

	END
	ELSE IF (@CALLEDFROM='POLICY')
	BEGIN
		select ANY_NON_OWNED_VEH,ANY_NON_OWNED_VEH_PP_DESC,CAR_MODIFIED,CAR_MODIFIED_DESC,COST_EQUIPMENT_DESC,
			IS_MODIFIED_KIT,IS_MODIFIED_KIT_DESC,IS_COST_OVER_DEFINED_LIMIT,IS_COST_OVER_DEFINED_LIMIT_DESC,IS_USEDFOR_RACING_DESC,IS_USEDFOR_RACING,IS_COMMERCIAL_USE_DESC,IS_COMMERCIAL_USE,EXISTING_DMG,EXISTING_DMG_PP_DESC,ANY_CAR_AT_SCH,ANY_CAR_AT_SCH_DESC,
			COVERAGE_DECLINED_MC_DESC,IS_LICENSED_FOR_ROAD,ANY_OTH_AUTO_INSU,ANY_OTH_AUTO_INSU_DESC,LTRIM(RTRIM(MULTI_POLICY_DISC_APPLIED)) MULTI_POLICY_DISC_APPLIED,MULTI_POLICY_DISC_APPLIED_PP_DESC,
			SALVAGE_TITLE,SALVAGE_TITLE_MC_DESC,IS_CONVICTED_ACCIDENT_DESC,IS_MODIFIED_INCREASE_SPEED_DESC,DRIVER_SUS_REVOKED,DRIVER_SUS_REVOKED_MC_DESC, DRIVER_SUS_REVOKED_PP_DESC,PHY_MENTL_CHALLENGED,PHY_MENTL_CHALLENGED_PP_DESC,
			IS_LICENSED_FOR_ROAD_DESC,IS_CONVICTED_CARELESS_DRIVE,IS_EXTENDED_FORKS_DESC,IS_CONVICTED_CARELESS_DRIVE_DESC,ANY_FINANCIAL_RESPONSIBILITY,ANY_FINANCIAL_RESPONSIBILITY_PP_DESC,INS_AGENCY_TRANSFER,INS_AGENCY_TRANSFER_PP_DESC,
			COVERAGE_DECLINED,IS_MODIFIED_INCREASE_SPEED,IS_EXTENDED_FORKS,IS_CONVICTED_ACCIDENT,COVERAGE_DECLINED,COVERAGE_DECLINED_PP_DESC,AGENCY_VEH_INSPECTED,AGENCY_VEH_INSPECTED_PP_DESC,
			IS_MORE_WHEELS,IS_MORE_WHEELS_DESC,USE_AS_TRANSPORT_FEE_DESC,isnull(USE_AS_TRANSPORT_FEE,0) USE_AS_TRANSPORT_FEE,isnull(SALVAGE_TITLE,0) SALVAGE_TITLE
			,ISNULL(IS_OTHER_THAN_INSURED,0) IS_OTHER_THAN_INSURED,
			isnull(CASE WHEN CURR_RES_TYPE='Owned' then 1 else 0 end,'') CUR_RES_TYPE
		
			FROM POL_AUTO_GEN_INFO GI with(nolock)
			WHERE CUSTOMER_ID=@CUSTOMERID AND Policy_ID=@POLID AND Policy_VERSION_ID=@VERSIONID 
	END
END























GO

