IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetPDFHomeOwner_OtherStructures]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetPDFHomeOwner_OtherStructures]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------        
Proc Name          : Dbo.Proc_GetPDFHomeOwner_OtherStructures        
Created by         : Anurag Verma        
Date               : 28-June-2006        
Purpose            :         
Revison History    :        
Used In            : Wolverine          
------------------------------------------------------------        
Date     Review By          Comments        
------   ------------       -------------------------*/        
--DROP PROCEDURE Proc_GetPDFHomeOwner_OtherStructures 
CREATE       PROCEDURE Proc_GetPDFHomeOwner_OtherStructures  
(        
 @CUSTOMERID   int,        
 @POLID                int,        
 @VERSIONID   int,        
 @DWELLINGID   int,        
 @CALLEDFROM  VARCHAR(20)        
)        
AS        
BEGIN        
 IF (@CALLEDFROM='APPLICATION')        
 BEGIN        
  SELECT         
  CASE WHEN AOSD.PREMISES_LOCATION=11841 THEN 'ON-PREMISES'         
  WHEN AOSD.PREMISES_LOCATION=11840         
  THEN         
  CASE WHEN AOSD.LOCATION_ADDRESS = '' THEN 'NONE'        
  ELSE        
  AOSD.LOCATION_ADDRESS + ' ' + LOCATION_CITY + ' ' + SL.STATE_CODE + ' ' + LOCATION_ZIP         
  END
  ELSE 'NONE'
  END PREM_LOC,
CASE WHEN AOSD.PREMISES_LOCATION=11841 THEN 'ON-PREMISES'         
	 WHEN AOSD.PREMISES_LOCATION=11840 THEN 'OFF-PREMISES'
	 WHEN AOSD.PREMISES_LOCATION=11968 THEN 'ON-PREMISES/RENTED-TO-OTHERS'
ELSE 'NONE'
  END PREMISES_LOCATION,
AOSD.PREMISES_DESCRIPTION ,AOSD.PREMISES_USE,MV.LOOKUP_VALUE_DESC,case when PICTURE_ATTACHED=10963 then 'Yes' when PICTURE_ATTACHED=10964 then  'No' end PICTURE_ATTACHED        
  ,  SATELLITE_EQUIPMENT,      
  CASE WHEN (AOSD.PREMISES_LOCATION=11841 AND AOSD.COVERAGE_BASIS=11846) THEN CONVERT(VARCHAR(20),CONVERT(MONEY,INSURING_VALUE),1)
       WHEN (AOSD.PREMISES_LOCATION=11841 AND AOSD.COVERAGE_BASIS=11847) THEN CONVERT(VARCHAR(20),CONVERT(MONEY,ADDITIONAL_AMOUNT_OF_INSURANCE_DESIRED),1) 
       WHEN (AOSD.PREMISES_LOCATION=11840) THEN  CONVERT(VARCHAR(20),CONVERT(MONEY,INSURING_VALUE_OFF_PREMISES),1) 
      END INSURING_VALUE,        
  CASE WHEN (AOSD.COVERAGE_BASIS=114213 and  AOSD.PREMISES_LOCATION=11841) THEN 'Excluded'
		WHEN AOSD.COVERAGE_BASIS=11846 THEN 'Repair'
		WHEN AOSD.COVERAGE_BASIS=11847 THEN 'Replacement'
		WHEN AOSD.COVERAGE_BASIS=114213 THEN 'Excluded'
		ELSE  'NONE' END  COVERAGE_BASIS,
   AOSD.DWELLING_ID  
  FROM CLT_CUSTOMER_LIST CCL with(nolock)        
          
  INNER JOIN APP_LIST AL with(nolock)  ON AL.CUSTOMER_ID=CCL.CUSTOMER_ID        
          
  INNER JOIN APP_OTHER_STRUCTURE_DWELLING AOSD with(nolock)  ON AOSD.CUSTOMER_ID=AL.CUSTOMER_ID        
  AND AL.APP_ID=AOSD.APP_ID AND AL.APP_VERSION_ID=AOSD.APP_VERSION_ID         
  AND AOSD.DWELLING_ID=isnull(@DWELLINGID,AOSD.DWELLING_ID)
  
  LEFT JOIN APP_HOME_OWNER_GEN_INFO AHOGI with(nolock) ON AHOGI.CUSTOMER_ID=AL.CUSTOMER_ID         
  AND AHOGI.APP_ID=AL.APP_ID AND AHOGI.APP_VERSION_ID=AL.APP_VERSION_ID         
          
  LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST SL with(nolock) ON AOSD.LOCATION_STATE=SL.STATE_ID        
  LEFT OUTER JOIN MNT_LOOKUP_VALUES MV ON AOSD.PREMISES_CONDITION=MV.LOOKUP_UNIQUE_ID AND MV.LOOKUP_ID=1282          
  WHERE AL.CUSTOMER_ID=@CUSTOMERID AND AL.APP_ID=@POLID AND AL.APP_VERSION_ID=@VERSIONID  order by SATELLITE_EQUIPMENT desc       
 END        
 ELSE IF (@CALLEDFROM='POLICY')        
 BEGIN        
  SELECT         
  CASE WHEN AOSD.PREMISES_LOCATION=11841 THEN 'ON-PREMISES'         
  WHEN AOSD.PREMISES_LOCATION=11840         
  THEN         
  CASE WHEN AOSD.LOCATION_ADDRESS = '' THEN 'NONE'        
  ELSE        
  AOSD.LOCATION_ADDRESS + ' ' + LOCATION_CITY + ' ' + SL.STATE_CODE + ' ' + LOCATION_ZIP         
  END        
  ELSE 'NONE'        
  END PREM_LOC,
	CASE WHEN AOSD.PREMISES_LOCATION=11841 THEN 'ON-PREMISES'         
	 WHEN AOSD.PREMISES_LOCATION=11840 THEN 'OFF-PREMISES'
	 WHEN AOSD.PREMISES_LOCATION=11968 THEN 'ON-PREMISES/RENTED-TO-OTHERS'
	ELSE 'NONE'
	END PREMISES_LOCATION,
	AOSD.PREMISES_DESCRIPTION ,AOSD.PREMISES_USE,MV.LOOKUP_VALUE_DESC,case when PICTURE_ATTACHED=10963 then 'Yes' when PICTURE_ATTACHED=10964 then  'No' end PICTURE_ATTACHED        
  ,CASE WHEN (AOSD.PREMISES_LOCATION=11841 AND AOSD.COVERAGE_BASIS=11846) THEN CONVERT(VARCHAR(20),CONVERT(MONEY,INSURING_VALUE),1)        
       WHEN (AOSD.PREMISES_LOCATION=11841 AND AOSD.COVERAGE_BASIS=11847) THEN CONVERT(VARCHAR(20),CONVERT(MONEY,ADDITIONAL_AMOUNT_OF_INSURANCE_DESIRED),1)
       WHEN (AOSD.PREMISES_LOCATION=11840) THEN CONVERT(VARCHAR(20),CONVERT(MONEY,INSURING_VALUE_OFF_PREMISES),1) 
      END INSURING_VALUE,SATELLITE_EQUIPMENT ,
	CASE WHEN (AOSD.COVERAGE_BASIS=114213 and  AOSD.PREMISES_LOCATION=11841) THEN 'Excluded'
		WHEN AOSD.COVERAGE_BASIS=11846 THEN 'Repair'
		WHEN AOSD.COVERAGE_BASIS=11847 THEN 'Replacement'
		WHEN AOSD.COVERAGE_BASIS=114213 THEN 'Excluded'
	ELSE  'NONE' END COVERAGE_BASIS,
AOSD.DWELLING_ID
  FROM CLT_CUSTOMER_LIST CCL with(nolock)     
          
  INNER JOIN POL_CUSTOMER_POLICY_LIST AL with(nolock)  ON AL.CUSTOMER_ID=CCL.CUSTOMER_ID        
          
  INNER JOIN POL_OTHER_STRUCTURE_DWELLING AOSD with(nolock)  ON AOSD.CUSTOMER_ID=AL.CUSTOMER_ID        
  AND AL.POLICY_ID=AOSD.POLICY_ID AND AL.POLICY_VERSION_ID=AOSD.POLICY_VERSION_ID         
  AND AOSD.DWELLING_ID=isnull(@DWELLINGID,AOSD.DWELLING_ID )
  
  LEFT JOIN POL_HOME_OWNER_GEN_INFO AHOGI with(nolock)  ON AHOGI.CUSTOMER_ID=AL.CUSTOMER_ID         
  AND AHOGI.POLICY_ID=AL.POLICY_ID AND AHOGI.POLICY_VERSION_ID=AL.POLICY_VERSION_ID         
          
  LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST SL with(nolock)  ON AOSD.LOCATION_STATE=SL.STATE_ID        
  LEFT OUTER JOIN MNT_LOOKUP_VALUES MV with(nolock)  ON AOSD.PREMISES_CONDITION=MV.LOOKUP_UNIQUE_ID AND MV.LOOKUP_ID=1282          
  WHERE AL.CUSTOMER_ID=@CUSTOMERID AND AL.POLICY_ID=@POLID AND AL.POLICY_VERSION_ID=@VERSIONID  order by SATELLITE_EQUIPMENT  desc      
 END        
END        

GO

