IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProcGetAppilcableInstallPlans]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ProcGetAppilcableInstallPlans]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

  
  
  
/*----------------------------------------------------------                
Proc Name       : dbo.ProcGetAppilcableInstallPlans          
Created by      : Ravindra           
Date            : 12-18-2006          
Purpose         : To select  record in act_install_plan_detail                  
Revison History :                  
Used In         :                      
modified by  : Pravesh K chandel          
Modified Date : 6 july 2007          
Purpose  : Apply check for Renewal Policy so down payment mode for renewal will be fetched          
ProcGetAppilcableInstallPlans null,2126,442,1,null       
          
------------------------------------------------------------                  
Date     Review By          Comments                  
------   ------------       -------------------------*/           
               
-- drop PROC dbo.ProcGetAppilcableInstallPlans     null,null,null,null,null,null,2    
          
CREATE PROC [dbo].[ProcGetAppilcableInstallPlans]    
@POLICY_TERM INT = NULL,          
@CUSTOMER_ID INT = null,          
@APP_ID INT = null,          
@APP_VERSION_ID INT = null,          
@CALLED_FROM varchar(5) = null,  
@SELECT_FOR varchar(7)=null   ,       
@LANG_ID INT = 1
        
AS                  
BEGIN    
 DECLARE @INSTALL_PLAN_ID INT           
 DECLARE @IS_RENEWED SMALLINT        
 DECLARE @CURRENT_TERM INT       
 
    
 set @IS_RENEWED=0          
 IF(@CALLED_FROM = 'APP')          
 BEGIN          
  SELECT @INSTALL_PLAN_ID = INSTALL_PLAN_ID          
  FROM APP_LIST with(nolock) WHERE CUSTOMER_ID = @CUSTOMER_ID AND           
  APP_ID = @APP_ID AND           
  APP_VERSION_ID =@APP_VERSION_ID          
 END          
 ELSE          
 BEGIN          
  SELECT @INSTALL_PLAN_ID = INSTALL_PLAN_ID          
  FROM POL_CUSTOMER_POLICY_LIST with(nolock) WHERE CUSTOMER_ID = @CUSTOMER_ID AND           
  POLICY_ID = @APP_ID AND           
  POLICY_VERSION_ID = @APP_VERSION_ID          
         --check if Policy on renewal of renewed          
  --5           Renewal           
  --18          Commit Renewal Process            
          
  --Done for Itrack Issue 5948 on 11 June 09       
        
-- select @IS_RENEWED=COUNT(PROCESS_ID) from pol_policy_process WITH(NOLOCK) WHERE             
--   CUSTOMER_ID = @CUSTOMER_ID  AND   POLICY_ID = @APP_ID             
--   AND NEW_POLICY_VERSION_ID = @APP_VERSION_ID             
--   and PROCESS_ID IN(5,18)       
      
   -- Current term calculated to see if there is any renewal or not in the current term      
   SELECT @CURRENT_TERM = CURRENT_TERM FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK)        
   WHERE  CUSTOMER_ID = @CUSTOMER_ID  AND POLICY_ID = @APP_ID AND POLICY_VERSION_ID=@APP_VERSION_ID           
        
   SELECT @IS_RENEWED=COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS WITH(NOLOCK) WHERE           
   CUSTOMER_ID = @CUSTOMER_ID  AND   POLICY_ID = @APP_ID           
   AND NEW_POLICY_VERSION_ID IN        
        ( --Done for Itrack Issue 5948 on 11 June 09        
   SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK)        
   WHERE CUSTOMER_ID = @CUSTOMER_ID  AND   POLICY_ID = @APP_ID           
   AND  CURRENT_TERM=@CURRENT_TERM        
  )        
   AND PROCESS_ID IN(5,18)          
            
 END          
                
    
 IF (@SELECT_FOR IS NULL )   
   
 BEGIN  
          
  
          
 IF ( @POLICY_TERM IS NULL)          
 BEGIN           
 --GET SAVED DEACTIVATED INSATLLMENT PLANID          
 --   
   
 SELECT                   
  INST_PLAN.IDEN_PLAN_ID AS INSTALL_PLAN_ID,                  
  ISNULL(INST_PLAN.PLAN_DESCRIPTION,' ') + ' (' + ISNULL(INST_PLAN.PLAN_CODE,' ') + ')'           
  + ' - ' + ISNULL(LOOKUP_MLT.LOOKUP_VALUE_DESC,LOOKUP.LOOKUP_VALUE_DESC) AS BILLING_PLAN  , --Ravindra(08-16-2007) Added ISNULL          
  isnull(APPLABLE_POLTERM,'-1') APPLABLE_POLTERM,          
        
  POL.DOWN_PAY_MODE  AS MODE_OF_DOWNPAY,          
   NULL AS MODE_OF_DOWNPAY1,          
   Null AS MODE_OF_DOWNPAY2,   
   ISNULL(LOOKUP_MLT.LOOKUP_VALUE_DESC,mnt.LOOKUP_VALUE_DESC) LOOKUP_VALUE_DESC,          
  null as  LOOKUP_VALUE_DESC1,          
   null as LOOKUP_VALUE_DESC2,          
INST_PLAN.DEFAULT_PLAN,          
  INST_PLAN.IS_ACTIVE  ,  
  INST_PLAN.PLAN_TYPE        
  FROM POL_CUSTOMER_POLICY_LIST POL WITH(NOLOCK)  
  LEFT OUTER JOIN ACT_INSTALL_PLAN_DETAIL  INST_PLAN WITH(NOLOCK)
  ON POL.INSTALL_PLAN_ID=INST_PLAN.IDEN_PLAN_ID        
  LEFT JOIN MNT_LOOKUP_VALUES LOOKUP WITH(NOLOCK)
  ON POL.DOWN_PAY_MODE = LOOKUP.LOOKUP_UNIQUE_ID  
  LEFT JOIN MNT_LOOKUP_VALUES MNT WITH(NOLOCK) ON MNT.LOOKUP_UNIQUE_ID=POL.DOWN_PAY_MODE  
  LEFT OUTER JOIN ACT_INSTALL_PLAN_DETAIL_MULTILINGUAL INS_MULTI WITH(NOLOCK) ON --Added By Lalit For multilingual implimentation
  INS_MULTI.IDEN_PLAN_ID = INST_PLAN.IDEN_PLAN_ID
  AND INS_MULTI.LANG_ID = @LANG_ID --Added By Lalit Dec 28,2010
  LEFT OUTER JOIN
  MNT_LOOKUP_VALUES_MULTILINGUAL LOOKUP_MLT ON
  LOOKUP_MLT.LOOKUP_UNIQUE_ID = MNT.LOOKUP_UNIQUE_ID
  AND INS_MULTI.LANG_ID = @LANG_ID

WHERE   POL.INSTALL_PLAN_ID = @INSTALL_PLAN_ID    AND CUSTOMER_ID=@CUSTOMER_ID and POLICY_ID=@APP_ID AND POLICY_VERSION_ID=@APP_VERSION_ID  
AND POL.INSTALL_PLAN_ID !=0 
 AND POL.DOWN_PAY_MODE NOT IN (SELECT MODE_OF_DOWNPAY FROM ACT_INSTALL_PLAN_DETAIL WITH(NOLOCK) WHERE IDEN_PLAN_ID=@INSTALL_PLAN_ID) AND  POL.DOWN_PAY_MODE NOT IN (SELECT MODE_OF_DOWNPAY1 FROM ACT_INSTALL_PLAN_DETAIL WITH(NOLOCK
) WHERE IDEN_PLAN_ID=@INSTALL_PLAN_ID) AND  POL.DOWN_PAY_MODE NOT IN (SELECT MODE_OF_DOWNPAY2 FROM ACT_INSTALL_PLAN_DETAIL WITH(NOLOCK) WHERE IDEN_PLAN_ID=@INSTALL_PLAN_ID)  
          
  
  UNION ALL -- UNION CHECK MADE BY SONAL TO SHOW DOWN PAYMWNT MODE IF IT IS CHANGED AT MAINTEANANCE LEVEL BUT IT IS AT APP/POL LEVEL  
  
  SELECT                   
  INST_PLAN.IDEN_PLAN_ID AS INSTALL_PLAN_ID,
  ISNULL(INS_MULTI.PLAN_DESCRIPTION,INST_PLAN.PLAN_DESCRIPTION) 
  
  + ' (' + ISNULL(INST_PLAN.PLAN_CODE,' ') + ')'           
  + ' - ' + ISNULL(LOOKUP_MLT.LOOKUP_VALUE_DESC,LOOKUP.LOOKUP_VALUE_DESC) AS BILLING_PLAN  , --Ravindra(08-16-2007) Added ISNULL          
  isnull(APPLABLE_POLTERM,'-1') APPLABLE_POLTERM,          
--   MODE_OF_DOWNPAY,          
--   MODE_OF_DOWNPAY1,          
--   MODE_OF_DOWNPAY2, -- BY pRAVESH ON 6 JULY 2007          
   CASE WHEN @IS_RENEWED=0 THEN MODE_OF_DOWNPAY ELSE MODE_OF_DOWNPAY_RENEW END AS MODE_OF_DOWNPAY,          
   CASE WHEN @IS_RENEWED=0 THEN MODE_OF_DOWNPAY1 ELSE MODE_OF_DOWNPAY_RENEW1 END AS MODE_OF_DOWNPAY1,          
   CASE WHEN @IS_RENEWED=0 THEN MODE_OF_DOWNPAY2 ELSE MODE_OF_DOWNPAY_RENEW2 END AS MODE_OF_DOWNPAY2,          
   ISNULL(LOOKUP_MLT.LOOKUP_VALUE_DESC,mnt.LOOKUP_VALUE_DESC) LOOKUP_VALUE_DESC,          
   mnt1.LOOKUP_VALUE_DESC LOOKUP_VALUE_DESC1,          
   mnt2.LOOKUP_VALUE_DESC LOOKUP_VALUE_DESC2,          
  INST_PLAN.DEFAULT_PLAN,          
  INST_PLAN.IS_ACTIVE,  
  INST_PLAN.PLAN_TYPE          
  FROM ACT_INSTALL_PLAN_DETAIL INST_PLAN   WITH(NOLOCK)       
  LEFT JOIN MNT_LOOKUP_VALUES LOOKUP--Changed by Ravindra(08-16-2007) From Inner To Left          
  ON INST_PLAN.PLAN_PAYMENT_MODE = LOOKUP.LOOKUP_UNIQUE_ID           
  LEFT JOIN MNT_LOOKUP_VALUES MNT ON MNT.LOOKUP_UNIQUE_ID=CASE WHEN @IS_RENEWED=0 THEN INST_PLAN.MODE_OF_DOWNPAY ELSE INST_PLAN.MODE_OF_DOWNPAY_RENEW END           
  LEFT JOIN MNT_LOOKUP_VALUES MNT1 ON MNT1.LOOKUP_UNIQUE_ID=CASE WHEN @IS_RENEWED=0 THEN INST_PLAN.MODE_OF_DOWNPAY1   ELSE INST_PLAN.MODE_OF_DOWNPAY_RENEW1 END                 
  LEFT JOIN MNT_LOOKUP_VALUES MNT2 ON MNT2.LOOKUP_UNIQUE_ID=CASE WHEN @IS_RENEWED=0 THEN INST_PLAN.MODE_OF_DOWNPAY2 ELSE INST_PLAN.MODE_OF_DOWNPAY_RENEW2 END           
  LEFT OUTER JOIN ACT_INSTALL_PLAN_DETAIL_MULTILINGUAL INS_MULTI WITH(NOLOCK) ON --Added By Lalit For multilingual implimentation
  INS_MULTI.IDEN_PLAN_ID = INST_PLAN.IDEN_PLAN_ID AND 
  INS_MULTI.LANG_ID = @LANG_ID
  LEFT OUTER JOIN
  MNT_LOOKUP_VALUES_MULTILINGUAL LOOKUP_MLT ON
  LOOKUP_MLT.LOOKUP_UNIQUE_ID = MNT.LOOKUP_UNIQUE_ID
  AND INS_MULTI.LANG_ID = @LANG_ID
 
  WHERE ISNULL(INST_PLAN.IS_ACTIVE,'N') = 'Y'           
  OR INST_PLAN.IDEN_PLAN_ID = @INSTALL_PLAN_ID 
  ORDER BY BILLING_PLAN             
             
 END          
 ELSE          
 BEGIN     
  SELECT                   
  INST_PLAN.IDEN_PLAN_ID AS INSTALL_PLAN_ID,                  
  ISNULL(INS_MULTI.PLAN_DESCRIPTION,INST_PLAN.PLAN_DESCRIPTION) + ' (' + ISNULL(INST_PLAN.PLAN_CODE,' ') + ')'           
   + ' - ' + ISNULL(LOOKUP_MLT.LOOKUP_VALUE_DESC,LOOKUP.LOOKUP_VALUE_DESC) AS BILLING_PLAN,  --Ravindra(08-16-2007) Added ISNULL          
  isnull(APPLABLE_POLTERM,'-1') APPLABLE_POLTERM,          
--   MODE_OF_DOWNPAY,          
--   MODE_OF_DOWNPAY1,          
--   MODE_OF_DOWNPAY2,          
    POL.DOWN_PAY_MODE  AS MODE_OF_DOWNPAY,         
   null  AS MODE_OF_DOWNPAY1,          
   null AS MODE_OF_DOWNPAY2,          
  ISNULL(LOOKUP_MLT.LOOKUP_VALUE_DESC,mnt.LOOKUP_VALUE_DESC) LOOKUP_VALUE_DESC,          
  null as LOOKUP_VALUE_DESC1,          
  null as LOOKUP_VALUE_DESC2,          
  NULL AS MISSING_COL,INST_PLAN.DEFAULT_PLAN,          
  INST_PLAN.IS_ACTIVE          
            
  FROM POL_CUSTOMER_POLICY_LIST POL WITH(NOLOCK)  
  LEFT OUTER JOIN ACT_INSTALL_PLAN_DETAIL  INST_PLAN     
  ON POL.INSTALL_PLAN_ID=INST_PLAN.IDEN_PLAN_ID      
  LEFT JOIN MNT_LOOKUP_VALUES LOOKUP       
  ON POL.DOWN_PAY_MODE = LOOKUP.LOOKUP_UNIQUE_ID                  
  LEFT JOIN MNT_LOOKUP_VALUES MNT ON MNT.LOOKUP_UNIQUE_ID=POL.DOWN_PAY_MODE  
  LEFT OUTER JOIN ACT_INSTALL_PLAN_DETAIL_MULTILINGUAL INS_MULTI WITH(NOLOCK) ON --Added By Lalit For multilingual implimentation
  INS_MULTI.IDEN_PLAN_ID = INST_PLAN.IDEN_PLAN_ID
  AND INS_MULTI.LANG_ID  =  @LANG_ID
  LEFT OUTER JOIN
  MNT_LOOKUP_VALUES_MULTILINGUAL LOOKUP_MLT ON
  LOOKUP_MLT.LOOKUP_UNIQUE_ID = MNT.LOOKUP_UNIQUE_ID
  AND INS_MULTI.LANG_ID = @LANG_ID
  
  WHERE   POL.INSTALL_PLAN_ID = @INSTALL_PLAN_ID    AND CUSTOMER_ID=@CUSTOMER_ID and POLICY_ID=@APP_ID AND POLICY_VERSION_ID=@APP_VERSION_ID  
AND POL.INSTALL_PLAN_ID !=0 AND POL.DOWN_PAY_MODE NOT IN (SELECT MODE_OF_DOWNPAY FROM ACT_INSTALL_PLAN_DETAIL WITH(NOLOCK) WHERE IDEN_PLAN_ID=@INSTALL_PLAN_ID) AND  POL.DOWN_PAY_MODE NOT IN (SELECT MODE_OF_DOWNPAY1 FROM ACT_INSTALL_PLAN_DETAIL WITH(NOLOCK
) WHERE IDEN_PLAN_ID=@INSTALL_PLAN_ID) AND  POL.DOWN_PAY_MODE NOT IN (SELECT MODE_OF_DOWNPAY2 FROM ACT_INSTALL_PLAN_DETAIL WITH(NOLOCK) WHERE IDEN_PLAN_ID=@INSTALL_PLAN_ID)  
            
  
            
      UNION ALL-- UNION CHECK MADE BY SONAL TO SHOW DOWN PAYMWNT MODE IF IT IS CHANGED AT MAINTEANANCE LEVEL BUT IT IS AT APP/POL LEVEL  
         
  SELECT                   
  INST_PLAN.IDEN_PLAN_ID AS INSTALL_PLAN_ID,                  
  ISNULL(INS_MULTI.PLAN_DESCRIPTION,INST_PLAN.PLAN_DESCRIPTION) + ' (' + ISNULL(INST_PLAN.PLAN_CODE,' ') + ')'           
   + ' - ' + ISNULL(LOOKUP_MLT.LOOKUP_VALUE_DESC,LOOKUP.LOOKUP_VALUE_DESC) AS BILLING_PLAN,  --Ravindra(08-16-2007) Added ISNULL          
  isnull(APPLABLE_POLTERM,'-1') APPLABLE_POLTERM,          
--   MODE_OF_DOWNPAY,          
--   MODE_OF_DOWNPAY1,          
--   MODE_OF_DOWNPAY2,          
   CASE WHEN @IS_RENEWED=0 THEN MODE_OF_DOWNPAY ELSE MODE_OF_DOWNPAY_RENEW END AS MODE_OF_DOWNPAY,          
   CASE WHEN @IS_RENEWED=0 THEN MODE_OF_DOWNPAY1 ELSE MODE_OF_DOWNPAY_RENEW1 END AS MODE_OF_DOWNPAY1,          
   CASE WHEN @IS_RENEWED=0 THEN MODE_OF_DOWNPAY2 ELSE MODE_OF_DOWNPAY_RENEW2 END AS MODE_OF_DOWNPAY2,          
  ISNULL(LOOKUP_MLT.LOOKUP_VALUE_DESC,mnt.LOOKUP_VALUE_DESC) LOOKUP_VALUE_DESC,          
  mnt1.LOOKUP_VALUE_DESC LOOKUP_VALUE_DESC1,          
  mnt2.LOOKUP_VALUE_DESC LOOKUP_VALUE_DESC2,          
  NULL AS MISSING_COL,INST_PLAN.DEFAULT_PLAN,          
  INST_PLAN.IS_ACTIVE          
            
  FROM ACT_INSTALL_PLAN_DETAIL INST_PLAN    WITH(NOLOCK)      
  LEFT JOIN MNT_LOOKUP_VALUES LOOKUP  --Changed by Ravindra(08-16-2007) From Inner To Left          
  ON INST_PLAN.PLAN_PAYMENT_MODE = LOOKUP.LOOKUP_UNIQUE_ID           
--   LEFT JOIN MNT_LOOKUP_VALUES MNT ON MNT.LOOKUP_UNIQUE_ID=INST_PLAN.MODE_OF_DOWNPAY          
--   LEFT JOIN MNT_LOOKUP_VALUES MNT1 ON MNT1.LOOKUP_UNIQUE_ID=INST_PLAN.MODE_OF_DOWNPAY1                   
--   LEFT JOIN MNT_LOOKUP_VALUES MNT2 ON MNT2.LOOKUP_UNIQUE_ID=INST_PLAN.MODE_OF_DOWNPAY2          
  LEFT JOIN MNT_LOOKUP_VALUES MNT ON MNT.LOOKUP_UNIQUE_ID=CASE WHEN @IS_RENEWED=0 THEN INST_PLAN.MODE_OF_DOWNPAY ELSE INST_PLAN.MODE_OF_DOWNPAY_RENEW END           
  LEFT JOIN MNT_LOOKUP_VALUES MNT1 ON MNT1.LOOKUP_UNIQUE_ID=CASE WHEN @IS_RENEWED=0 THEN INST_PLAN.MODE_OF_DOWNPAY1   ELSE INST_PLAN.MODE_OF_DOWNPAY_RENEW1 END                 
  LEFT JOIN MNT_LOOKUP_VALUES MNT2 ON MNT2.LOOKUP_UNIQUE_ID=CASE WHEN @IS_RENEWED=0 THEN INST_PLAN.MODE_OF_DOWNPAY2 ELSE INST_PLAN.MODE_OF_DOWNPAY_RENEW2 END           
  LEFT OUTER JOIN ACT_INSTALL_PLAN_DETAIL_MULTILINGUAL INS_MULTI WITH(NOLOCK) ON --Added By Lalit For multilingual implimentation
  INS_MULTI.IDEN_PLAN_ID = INST_PLAN.IDEN_PLAN_ID AND 
  INS_MULTI.LANG_ID = @LANG_ID
  LEFT OUTER JOIN
  MNT_LOOKUP_VALUES_MULTILINGUAL LOOKUP_MLT ON
  LOOKUP_MLT.LOOKUP_UNIQUE_ID = MNT.LOOKUP_UNIQUE_ID
  AND INS_MULTI.LANG_ID = @LANG_ID
   
  WHERE (INST_PLAN.APPLABLE_POLTERM = @POLICY_TERM OR  INST_PLAN.APPLABLE_POLTERM  = 0)          
  AND ISNULL(INST_PLAN.IS_ACTIVE,'N') = 'Y'          
  OR INS_MULTI.IDEN_PLAN_ID = @INSTALL_PLAN_ID          
  ORDER BY BILLING_PLAN             
            
          
--    UNION          
--            
--    SELECT          
--    INST_PLAN.IDEN_PLAN_ID AS INSTALL_PLAN_ID,                  
--    ISNULL(INST_PLAN.PLAN_DESCRIPTION,' ') + ' (' + ISNULL(INST_PLAN.PLAN_CODE,' ') + ')'           
--     + ' - ' + LOOKUP.LOOKUP_VALUE_DESC AS BILLING_PLAN,            
--    isnull(APPLABLE_POLTERM,'-1') APPLABLE_POLTERM,          
--    MODE_OF_DOWNPAY,          
--    MODE_OF_DOWNPAY1,          
--    MODE_OF_DOWNPAY2,          
--    MNT.LOOKUP_VALUE_DESC LOOKUP_VALUE_DESC,          
--    MNT1.LOOKUP_VALUE_DESC LOOKUP_VALUE_DESC1,          
--    MNT2.LOOKUP_VALUE_DESC LOOKUP_VALUE_DESC2,          
--    APP.INSTALL_PLAN_ID,INST_PLAN.DEFAULT_PLAN          
--              
--    FROM APP_LIST APP          
--    LEFT JOIN ACT_INSTALL_PLAN_DETAIL INST_PLAN ON INST_PLAN.IDEN_PLAN_ID = APP.INSTALL_PLAN_ID          
--    INNER JOIN MNT_LOOKUP_VALUES LOOKUP          
--    ON INST_PLAN.PLAN_PAYMENT_MODE = LOOKUP.LOOKUP_UNIQUE_ID           
--    LEFT JOIN MNT_LOOKUP_VALUES MNT ON MNT.LOOKUP_UNIQUE_ID=INST_PLAN.MODE_OF_DOWNPAY          
--    LEFT JOIN MNT_LOOKUP_VALUES MNT1 ON MNT1.LOOKUP_UNIQUE_ID=INST_PLAN.MODE_OF_DOWNPAY1                   
--    LEFT JOIN MNT_LOOKUP_VALUES MNT2 ON MNT2.LOOKUP_UNIQUE_ID=INST_PLAN.MODE_OF_DOWNPAY2          
--    WHERE (INST_PLAN.APPLABLE_POLTERM = @POLICY_TERM OR  INST_PLAN.APPLABLE_POLTERM  = 0)          
--    AND APP.CUSTOMER_ID = @CUSTOMER_ID AND APP.APP_ID = @APP_ID AND APP.APP_VERSION_ID = @APP_VERSION_ID          
--    AND INST_PLAN.IS_ACTIVE IN ('N','Y')          
--   OR IDEN_PLAN_ID = @INSTALL_PLAN_ID          
--    ORDER BY BILLING_PLAN              
--              
            
            
            
 END          
  END  
    
  ELSE  
    
  BEGIN  
  SELECT POL.DOWN_PAY_MODE FROM POL_CUSTOMER_POLICY_LIST POL WITH (NOLOCK)WHERE   
   POL.DOWN_PAY_MODE NOT IN (SELECT MODE_OF_DOWNPAY FROM ACT_INSTALL_PLAN_DETAIL WITH(NOLOCK) WHERE IDEN_PLAN_ID=@INSTALL_PLAN_ID) AND  
   POL.DOWN_PAY_MODE NOT IN (SELECT MODE_OF_DOWNPAY1 FROM ACT_INSTALL_PLAN_DETAIL WITH(NOLOCK) WHERE IDEN_PLAN_ID=@INSTALL_PLAN_ID) AND 
   POL.DOWN_PAY_MODE NOT IN (SELECT MODE_OF_DOWNPAY2 FROM ACT_INSTALL_PLAN_DETAIL 
   WITH(NOLOCK) WHERE IDEN_PLAN_ID=@INSTALL_PLAN_ID) AND POL.CUSTOMER_ID=@CUSTOMER_ID AND POL.POLICY_ID=@APP_ID AND POL.POLICY_VERSION_ID=@APP_VERSION_ID  
  END        
          
END
GO

