IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_GetScheduleEquip_Premium]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_GetScheduleEquip_Premium]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PROC_GetScheduleEquip_Premium] 
(
@CUSTOMER_ID INT,
@POL_ID INT,
@POL_VERSION_ID INT,
@CALLEDFROM NVARCHAR(20)
)

AS
BEGIN
CREATE TABLE #TEMP_TABLE
(
	EQUIP_NO		NVARCHAR(40),                                            
	MAKE		NVARCHAR(40),                                            
	SERIAL_NO		NVARCHAR(40),            
	EQUIPMENT_TYPE		NVARCHAR(20),
	INSURED_VALUE			NVARCHAR(40) , 
	EQUIP_AMOUNT				NVARCHAR(20),            
	EQUIPDESC	NVARCHAR(100)    
)          
INSERT INTO #TEMP_TABLE EXEC Proc_GetPDFSchEquipmentsDetails @CUSTOMER_ID,@POL_ID,@POL_VERSION_ID,@CALLEDFROM
IF (@CALLEDFROM='APPLICATION')  
BEGIN
SELECT TT.EQUIP_NO, ISNULL(CPSD.COMP_ACT_PREMIUM,'0') AS COVERAGE_PREMIUM,
 CASE WHEN CPS.PROCESS_TYPE = '14'  
	THEN  
		CASE 
			WHEN CPSD.WRITTEN_PREM IS NULL OR CPSD.WRITTEN_PREM=''  
				THEN '0.00'    
		 ELSE 
				CONVERT(NVARCHAR(100),CONVERT(DECIMAL(18,0),ISNULL(CPSD.WRITTEN_PREM,'0'))) 
		END  
	ELSE ''  
		END  AS WRITTEN_PREMIUM        
	
	FROM CLT_PREMIUM_SPLIT_DETAILS CPSD WITH(NOLOCK)        
	INNER JOIN CLT_PREMIUM_SPLIT CPS    WITH(NOLOCK) 
	ON CPS.UNIQUE_ID = CPSD.SPLIT_UNIQUE_ID   
	INNER JOIN #TEMP_TABLE TT   WITH(NOLOCK)
	ON CPS.RISK_ID=TT.EQUIP_NO
WHERE 
CPS.RISK_TYPE='MSE' and CPS.CUSTOMER_ID=@CUSTOMER_ID and CPS.APP_ID=@POL_ID AND CPS.APP_VERSION_ID=@POL_VERSION_ID and CPSD.COMPONENT_CODE='SUMTOTAL_S'
END
ELSE IF (@CALLEDFROM='POLICY')
BEGIN
SELECT TT.EQUIP_NO, ISNULL(CPSD.COMP_ACT_PREMIUM,'0') AS COVERAGE_PREMIUM,
 CASE WHEN CPS.PROCESS_TYPE = '14'  
	THEN  
		CASE 
			WHEN CPSD.WRITTEN_PREM IS NULL OR CPSD.WRITTEN_PREM=''  
				THEN '0.00'    
		 ELSE 
				CONVERT(NVARCHAR(100),CONVERT(DECIMAL(18,0),ISNULL(CPSD.WRITTEN_PREM,'0'))) 
		END  
	ELSE ''  
		END  AS WRITTEN_PREMIUM        
	
	FROM CLT_PREMIUM_SPLIT_DETAILS CPSD WITH(NOLOCK)        
	INNER JOIN CLT_PREMIUM_SPLIT CPS    WITH(NOLOCK) 
	ON CPS.UNIQUE_ID = CPSD.SPLIT_UNIQUE_ID   
	INNER JOIN #TEMP_TABLE TT   WITH(NOLOCK)
	ON CPS.RISK_ID=TT.EQUIP_NO
WHERE 
CPS.RISK_TYPE='MSE' and CPS.CUSTOMER_ID=@CUSTOMER_ID and CPS.POLICY_ID=@POL_ID AND CPS.POLICY_VERSION_ID=@POL_VERSION_ID and CPSD.COMPONENT_CODE='SUMTOTAL_S'
END
DROP TABLE #TEMP_TABLE
END



GO

