IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RPT_ENFORCE_RENTAL_BY_AGENCY_WITH_PAIDLOSS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[RPT_ENFORCE_RENTAL_BY_AGENCY_WITH_PAIDLOSS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************
CREATED BY	:	ANURAG VERMA
CREATED ON	:	10/29/2009
PURPOSE		:	This is a query to fetch details of enforce rental policies 
				by agency which has paid loss in last three years

MODIFIED ON	:	04/11/2009
PURPOSE		:	ADDING AGENCY FIELDS 
**********************************************************************/

CREATE proc [RPT_ENFORCE_RENTAL_BY_AGENCY_WITH_PAIDLOSS] --'27,122,212'
@agency_id nvarchar(2000)
AS

DECLARE @QUERY NVARCHAR(4000)

SET @QUERY=N'SELECT PCPL.POLICY_NUMBER,CONVERT(VARCHAR(12),PCPL.APP_EFFECTIVE_DATE,101) [EFFECTIVE DATE],
CASE WHEN CUSTOMER_INSURANCE_SCORE =-2 THEN ''NO HIT NO SCORE'' 
	 WHEN CUSTOMER_INSURANCE_SCORE =-1 THEN '''' ELSE CAST(CUSTOMER_INSURANCE_SCORE AS VARCHAR(10)) END [INSURANCE SCORE]
, 
(
	SELECT CAST(LIMIT_1 AS MONEY) FROM POL_DWELLING_SECTION_COVERAGES PDSC WHERE PDSC.CUSTOMER_ID=PDI.CUSTOMER_ID AND PDSC.POLICY_ID=PDI.POLICY_ID AND
	PDSC.POLICY_VERSION_ID=PDI.POLICY_VERSION_ID AND PDSC.DWELLING_ID=PDI.DWELLING_ID
	AND PDSC.COVERAGE_CODE_ID IN (773,793)
) [COVERAGE A AMOUNT],
MLU_POLTYP.LOOKUP_VALUE_DESC [FORM],
(
	SELECT DEDUCTIBLE FROM POL_DWELLING_SECTION_COVERAGES PDSC WHERE PDSC.CUSTOMER_ID=PDI.CUSTOMER_ID AND PDSC.POLICY_ID=PDI.POLICY_ID AND
	PDSC.POLICY_VERSION_ID=PDI.POLICY_VERSION_ID AND PDSC.DWELLING_ID=PDI.DWELLING_ID
	AND PDSC.COVERAGE_CODE_ID IN (951,952)
) [DEDUCTIBLE],
MLU_PROTCL.LOOKUP_VALUE_DESC [PROTECTION CLASS],
ISNULL(CASE WHEN MULTI_POLICY_DISC_APPLIED=1 THEN ''YES'' ELSE ''NO'' END,''NO'') [MULTI POLICY DISC]
,ISNULL(CONVERT(VARCHAR(12),LAST_INSPECTED_DATE,101),'''') [INSPECTION DATE]
,ISNULL((
			SELECT 
			CASE WHEN COUNT(CUSTOMER_ID)>0 THEN ''YES''  WHEN COUNT(ISNULL(CUSTOMER_ID,0))IS NULL THEN ''NO'' END 
			FROM APP_PRIOR_LOSS_INFO APLI WITH (NOLOCK) 
			WHERE AMOUNT_PAID IS NOT NULL AND OCCURENCE_DATE BETWEEN DATEADD(YY,-3,GETDATE()) AND GETDATE()  AND APLI.CUSTOMER_ID=PCPL.CUSTOMER_ID
			AND LOB IN (1,6) AND  CLAIM_STATUS IN (8702,8703,14228)
			GROUP BY CUSTOMER_ID		
			HAVING COUNT(CUSTOMER_ID)>0),''NO'') [HAVE PAID LOSS],NUM_AGENCY_CODE,AGENCY_DISPLAY_NAME
FROM
  POL_CUSTOMER_POLICY_LIST PCPL WITH ( NOLOCK )
  INNER JOIN POL_POLICY_PROCESS PPP WITH ( NOLOCK ) ON PPP.CUSTOMER_ID = PCPL.CUSTOMER_ID AND PPP.POLICY_ID = PCPL.POLICY_ID
       AND PCPL.POLICY_VERSION_ID = PPP.NEW_POLICY_VERSION_ID
       AND PCPL.POLICY_VERSION_ID >= (
                                       SELECT MIN(NEW_POLICY_VERSION_ID) FROM POL_POLICY_PROCESS WITH ( NOLOCK )
                                       WHERE CUSTOMER_ID = PPP.CUSTOMER_ID AND POLICY_ID = PPP.POLICY_ID
                                        AND PROCESS_ID IN ( 25, 18 ) AND PROCESS_STATUS = ''COMPLETE''
                                        AND ISNULL(REVERT_BACK, '''') <> ''Y''
                                     )
       AND PPP.PROCESS_STATUS = ''COMPLETE''
	INNER JOIN CLT_CUSTOMER_LIST CCL WITH (NOLOCK) ON CCL.CUSTOMER_ID=PCPL.CUSTOMER_ID	
	INNER JOIN POL_HOME_OWNER_GEN_INFO PHOGI WITH ( NOLOCK ) ON PHOGI.CUSTOMER_ID=PCPL.CUSTOMER_ID AND PHOGI.POLICY_ID=PCPL.POLICY_ID AND 
												PHOGI.POLICY_VERSION_ID=PCPL.POLICY_VERSION_ID	
	INNER JOIN POL_LOCATIONS PL WITH ( NOLOCK ) ON PL.CUSTOMER_ID=PCPL.CUSTOMER_ID AND PL.POLICY_ID=PCPL.POLICY_ID AND 
												PL.POLICY_VERSION_ID=PCPL.POLICY_VERSION_ID
	INNER JOIN POL_DWELLINGS_INFO PDI  WITH ( NOLOCK )ON PDI.CUSTOMER_ID=PL.CUSTOMER_ID AND PDI.POLICY_ID=PL.POLICY_ID AND 
												PDI.POLICY_VERSION_ID=PL.POLICY_VERSION_ID AND PDI.LOCATION_ID=PL.LOCATION_ID
	INNER JOIN POL_HOME_RATING_INFO PHRI WITH (NOLOCK) ON PDI.CUSTOMER_ID=PHRI.CUSTOMER_ID AND PDI.POLICY_ID=PHRI.POLICY_ID AND 
												PDI.POLICY_VERSION_ID=PHRI.POLICY_VERSION_ID AND PDI.DWELLING_ID=PHRI.DWELLING_ID
	INNER JOIN MNT_LOOKUP_VALUES MLU_PROTCL WITH (NOLOCK) ON MLU_PROTCL.LOOKUP_UNIQUE_ID=PHRI.PROT_CLASS
	INNER JOIN MNT_LOOKUP_VALUES MLU_POLTYP WITH (NOLOCK) ON MLU_POLTYP.LOOKUP_UNIQUE_ID=PCPL.POLICY_TYPE
	INNER JOIN MNT_AGENCY_LIST MAL WITH (NOLOCK) ON MAL.AGENCY_ID=PCPL.AGENCY_ID

WHERE
  POLICY_STATUS = ''NORMAL''
  AND APP_EXPIRATION_DATE >= GETDATE()
  AND APP_EFFECTIVE_DATE <= GETDATE()
  AND POLICY_LOB IN (1,6)
  AND MAL.AGENCY_ID IN ('+@agency_id+')  
ORDER BY PCPL.POLICY_NUMBER'

EXECUTE sp_executesql  @QUERY






GO

