IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_DeleteEndProcessInfo]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_DeleteEndProcessInfo]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

 /**************************************************        
CREATED BY			: Lalit Kr Chauhan     
CREATED DATETIME	: Dec 08 2010          
PURPOSE				: 
Review				:     
Review By  Date		:       
Purpose				:    
select EFFECTIVE_DATETIME,EXPIRY_DATE,NEW_POLICY_VERSION_ID,* from 
POL_POLICY_PROCESS WITH(NOLOCK) where CUSTOMER_ID=2727 and POLICY_ID=125
drop proc Proc_DeleteEndProcessInfo 2727 ,125,5,'02/15/2011'
*/
CREATE PROC [dbo].[PROC_DeleteEndProcessInfo]
(
@CUSTOMER_ID INT,
@POLICY_ID INT,
@POLICY_VERSION_ID INT
)
AS
BEGIN 
	DECLARE @END_NO INT
	--IF EXISTS (SELECT * FROM POL_POLICY_ENDORSEMENTS WHERE )
	SELECT @END_NO = ENDORSEMENT_NO FROM POL_POLICY_ENDORSEMENTS WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND 
		POLICY_VERSION_ID = @POLICY_VERSION_ID
		
	DELETE FROM POL_POLICY_PROCESS WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID
		AND NEW_POLICY_VERSION_ID = @POLICY_VERSION_ID	
	
	DELETE FROM POL_POLICY_ENDORSEMENTS WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID
		AND POLICY_VERSION_ID = @POLICY_VERSION_ID AND ENDORSEMENT_NO = 	@END_NO	
	
	DELETE FROM POL_POLICY_ENDORSEMENTS_DETAILS WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID
		AND POLICY_VERSION_ID = @POLICY_VERSION_ID	AND ENDORSEMENT_NO = @END_NO			
END

GO

