

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_SUSEP_DIRECT_PREMIUM]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_SUSEP_DIRECT_PREMIUM]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- =============================================  
-- Author:  <SHIKHA CHOURASIYA>  
-- Create date: <01/08/2011>  
-- Description: <SELF ISSUED PREMIUM RESERVE - RESPREM.DBF>  
-- DROP PROC PROC_SUSEP_DIRECT_PREMIUM '08-15-2011'

--ITRACK 1072 (45)
-- =============================================  
CREATE PROCEDURE [dbo].[PROC_SUSEP_DIRECT_PREMIUM]   
 -- Add the parameters for the stored procedure here    
 @DATETIME DATETIME,    
 @POLICY_NUMBER NVARCHAR(25) = NULL    
AS    
BEGIN    
 -- SET NOCOUNT ON added to prevent extra result sets from    
 -- interfering with SELECT statements.    
 SET NOCOUNT ON;    
 -- SEPERATE DATE AND YEAR    
 DECLARE @MONTH VARCHAR(2)      
 DECLARE @YEAR VARCHAR(4)      
 SET @MONTH = DATEPART(MM,@DATETIME)     
    SET @YEAR = DATEPART(YYYY,@DATETIME)    
    -- CREATE  TEMPORARY TABLE FOR HOLDING VALUES     
    CREATE TABLE #TEMPPREMIT    
    (    
		SEQUENCE_NO INT IDENTITY(1,1),      
		TRANSACTION_TYPE VARCHAR(3),
		SUSEP_LOB VARCHAR(4),    
		POLICY_CONTRACT_NO VARCHAR(20),    
		ENDORSMENT_NO VARCHAR(20),    
		PROPOSAL_NO VARCHAR(20),    
		PROPOSAL_DATE VARCHAR(10),
		ISSUANCE_DATE VARCHAR(10),    
		EFFECTIVE_DATE VARCHAR(10),    
		EXPIRED_DATE VARCHAR(10),    
		ISSUED_PREMIUM DECIMAL(25,2),
		PREMIUM_OF_REINSURENCE DECIMAL(25,2),
		NON_AWARDED_PREMIUM DECIMAL(25,2),
		COLET VARCHAR(1),
		POLICY_NUMBER NVARCHAR(21)
    )
		INSERT INTO #TEMPPREMIT     
		(
			TRANSACTION_TYPE,
			SUSEP_LOB,    
			POLICY_CONTRACT_NO,    
			ENDORSMENT_NO,    
			PROPOSAL_NO,    
			PROPOSAL_DATE,
			ISSUANCE_DATE,    
			EFFECTIVE_DATE,    
			EXPIRED_DATE,    
			ISSUED_PREMIUM,
			PREMIUM_OF_REINSURENCE,
			NON_AWARDED_PREMIUM,
			COLET,
			POLICY_NUMBER 
		)
	 SELECT
			TBL.TRANSACTION_TYPE,
			TBL.SUSEP_LOB,    
			TBL.POLICY_CONTRACT_NO,    
			TBL.ENDORSMENT_NO,    
			TBL.PROPOSAL_NO,    
			TBL.PROPOSAL_DATE,
			TBL.ISSUANCE_DATE,    
			TBL.EFFECTIVE_DATE,    
			TBL.EXPIRED_DATE,    
			TBL.ISSUED_PREMIUM,
			TBL.PREMIUM_OF_REINSURENCE,
			TBL.NON_AWARDED_PREMIUM,
			TBL.COLET,
			TBL.POLICY_NUMBER
   FROM 
    ( SELECT 
		CASE    
		 WHEN (PPP.PROCESS_ID IN (18,25)) THEN '101' -- MODIFIED BY SHUBHANSHU FOR ITRACK 1072 NOTE 10 (POINT 15) ON 08-29-2011
		 WHEN (PPP.PROCESS_ID = 14 AND (SELECT ISNULL(SUM(ISNULL(INSTALLMENT_AMOUNT,0)),0) 
										FROM ACT_POLICY_INSTALLMENT_DETAILS APAID WHERE APAID.CUSTOMER_ID =  PCPL.CUSTOMER_ID 
																						AND APAID.POLICY_ID = PCPL.POLICY_ID  
																						AND APAID.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID 
																						AND RELEASED_STATUS <> 'U')  > 0) THEN  '102'    
		 WHEN (PPP.PROCESS_ID = 14 AND (SELECT ISNULL(SUM(ISNULL(INSTALLMENT_AMOUNT,0)),0)  
										FROM ACT_POLICY_INSTALLMENT_DETAILS APAID WHERE APAID.CUSTOMER_ID =  PCPL.CUSTOMER_ID 
																						AND APAID.POLICY_ID = PCPL.POLICY_ID  
																						AND APAID.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID 
																						AND RELEASED_STATUS <> 'U') < 0) THEN  '103'     
		 WHEN (PPP.PROCESS_ID = 12 AND (SELECT ISNULL(SUM(ISNULL(INSTALLMENT_AMOUNT,0)),0) 
										FROM ACT_POLICY_INSTALLMENT_DETAILS APAID WHERE APAID.CUSTOMER_ID =  PCPL.CUSTOMER_ID 
																						AND APAID.POLICY_ID = PCPL.POLICY_ID  
																						AND APAID.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID 
																						AND RELEASED_STATUS <> 'U') < 0) THEN  '104'    
		 WHEN (PPP.PROCESS_ID = 37 AND (SELECT ISNULL(SUM(ISNULL(INSTALLMENT_AMOUNT,0)),0) 
										FROM ACT_POLICY_INSTALLMENT_DETAILS APAID WHERE APAID.CUSTOMER_ID =  PCPL.CUSTOMER_ID 
																						AND APAID.POLICY_ID = PCPL.POLICY_ID  
																						AND APAID.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID 
																						AND RELEASED_STATUS <> 'U')  < 0) THEN  '105'    
		 WHEN (PPP.PROCESS_ID = 12 AND (SELECT ISNULL(SUM(ISNULL(INSTALLMENT_AMOUNT,0)),0)  
										FROM ACT_POLICY_INSTALLMENT_DETAILS APAID WHERE APAID.CUSTOMER_ID =  PCPL.CUSTOMER_ID 
																						AND APAID.POLICY_ID = PCPL.POLICY_ID  
																						AND APAID.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID 
																						AND RELEASED_STATUS <> 'U'
																						)  >= 0) THEN '106'    
		 WHEN (PPP.PROCESS_ID = 37 AND (SELECT ISNULL(SUM(ISNULL(INSTALLMENT_AMOUNT,0)),0)  
										FROM ACT_POLICY_INSTALLMENT_DETAILS APAID WHERE APAID.CUSTOMER_ID =  PCPL.CUSTOMER_ID 
																						AND APAID.POLICY_ID = PCPL.POLICY_ID  
																						AND APAID.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID 
																						AND RELEASED_STATUS <> 'U')  >= 0) THEN '107'    
		 WHEN (PPP.PROCESS_ID = 14 AND (SELECT ISNULL(SUM(ISNULL(INSTALLMENT_AMOUNT,0)),0) 
										FROM ACT_POLICY_INSTALLMENT_DETAILS APAID WHERE APAID.CUSTOMER_ID =  PCPL.CUSTOMER_ID 
																						AND APAID.POLICY_ID = PCPL.POLICY_ID  
																						AND APAID.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID 
																						AND RELEASED_STATUS <> 'U') = 0) THEN  '108'    
		 END AS TRANSACTION_TYPE,
		
		--CASE    
		-- WHEN (PPP.PROCESS_ID IN (18,25)) THEN '101' -- MODIFIED BY SHUBHANSHU FOR ITRACK 1072 NOTE 10 (POINT 15) ON 08-29-2011
		-- WHEN (PPP.PROCESS_ID = 14 AND SUM(ISNULL(APID.INSTALLMENT_AMOUNT,0)) > 0) THEN  '102'    
		-- WHEN (PPP.PROCESS_ID = 14 AND SUM(ISNULL(APID.INSTALLMENT_AMOUNT,0)) < 0) THEN  '103'     
		-- WHEN (PPP.PROCESS_ID = 12 AND SUM(ISNULL(APID.INSTALLMENT_AMOUNT,0)) < 0) THEN  '104'    
		-- WHEN (PPP.PROCESS_ID = 37 AND SUM(ISNULL(APID.INSTALLMENT_AMOUNT,0)) < 0) THEN  '105'    
		-- WHEN (PPP.PROCESS_ID = 12 AND SUM(ISNULL(APID.INSTALLMENT_AMOUNT,0)) >= 0) THEN '106'    
		-- WHEN (PPP.PROCESS_ID = 37 AND SUM(ISNULL(APID.INSTALLMENT_AMOUNT,0)) >= 0) THEN '107'    
		-- WHEN (PPP.PROCESS_ID = 14 AND SUM(ISNULL(APID.INSTALLMENT_AMOUNT,0)) = 0) THEN  '108'    
		-- END AS TRANSACTION_TYPE,
		 
		
		--CONVERT(VARCHAR(10),TMP.SUSEP_LOB_CODE) AS SUSEP_LOB
		PPC.SUSEP_LOB_CODE AS SUSEP_LOB , 
		 
		RIGHT('00000000000000000000' + ISNULL(CONVERT(VARCHAR(21),PCPL.POLICY_NUMBER),''),20) AS POLICY_CONTRACT_NO,

		PPE.ENDORSEMENT_NO AS ENDORSMENT_NO, ----MODIFIED BY SHUBHANSHU ON 09/08/2011 FOR ITRACK 1072    
		--CASE WHEN PPP.PROCESS_ID = 25 THEN 0 ELSE CONVERT(VARCHAR(10),PPE.ENDORSEMENT_NO,112) END AS ENDORSMENT_NO,    

		CASE WHEN PPP.PROCESS_ID IN (18,25) THEN CONVERT(VARCHAR(10),PCPL.APP_NUMBER)    
		 WHEN PPP.PROCESS_ID IN (14,12,37) THEN CONVERT(VARCHAR(10),PPE.ENDORSEMENT_NO)     
		 END PROPOSAL_NO, ----MODIFIED BY SHUBHANSHU ON 09/08/2011 FOR ITRACK 1072         

		CASE WHEN PPP.PROCESS_ID IN (18,25) THEN CONVERT(VARCHAR(10),PCPL.APP_INCEPTION_DATE,112)     
			 WHEN PPP.PROCESS_ID IN (14) THEN CONVERT(VARCHAR(10),PPP.CREATED_DATETIME,112)
		     WHEN PPP.PROCESS_ID IN (12,37) THEN CONVERT(VARCHAR(10),PPP.COMPLETED_DATETIME,112)
		 END PROPOSAL_DATE,

		CASE WHEN PPP.PROCESS_ID IN (25,14,18) THEN CONVERT(VARCHAR(10),PPP.COMPLETED_DATETIME,112) 
			 WHEN PPP.PROCESS_ID IN (12,37) THEN CONVERT(VARCHAR(10),PPP.COMPLETED_DATETIME,112) 
		END AS ISSUANCE_DATE,
		    
		CASE WHEN PPP.PROCESS_ID IN (18,25) THEN CONVERT(VARCHAR(10),PCPL.POLICY_EFFECTIVE_DATE,112)      
		 WHEN PPP.PROCESS_ID IN (14) THEN CONVERT(VARCHAR(10),PPP.EFFECTIVE_DATETIME,112)       
		 WHEN PPP.PROCESS_ID = 37 THEN CONVERT(VARCHAR(10),PPP.COMPLETED_DATETIME,112)      
		 WHEN PPP.PROCESS_ID IN (12) THEN CONVERT(VARCHAR(10),PPP.COMPLETED_DATETIME,112)       
		 END AS EFFECTIVE_DATE,  ----MODIFIED BY SHUBHANSHU ON 09/08/2011 FOR ITRACK 1072     
		   
		CASE WHEN PPP.PROCESS_ID IN (18,25) THEN CONVERT(VARCHAR(10),PCPL.POLICY_EXPIRATION_DATE,112)     
		 WHEN PPP.PROCESS_ID IN (14) THEN CONVERT(VARCHAR(10),PPP.[EXPIRY_DATE],112)       
		 WHEN PPP.PROCESS_ID = 37 THEN		 
			CONVERT(VARCHAR(10), (SELECT 
									[EXPIRY_DATE] 
								  FROM 
									POL_POLICY_PROCESS SU_PCPL WITH(NOLOCK) 
								  WHERE 
									SU_PCPL.CUSTOMER_ID = PPP.CUSTOMER_ID 
									AND SU_PCPL.POLICY_ID = PPP.POLICY_ID
									AND CONVERT(VARCHAR,SU_PCPL.NEW_POLICY_VERSION_ID) =  CAST(DBO.Piece(PPP.LAST_REVERT_BACK,'^',3) AS VARCHAR)
									AND SU_PCPL.PROCESS_STATUS = 'COMPLETE'
		 ),112)
		  --CONVERT(VARCHAR(10),PPP.[EXPIRY_DATE],112)      
		 WHEN PPP.PROCESS_ID IN (12) THEN CONVERT(VARCHAR(10),PCPL.POLICY_EXPIRATION_DATE,112)       
		 END AS EXPIRED_DATE, ----MODIFIED BY SHUBHANSHU ON 09/08/2011 FOR ITRACK 1072     

		(CASE 
				WHEN PPP.PROCESS_ID = 12 AND PPP.RETURN_PREMIUM <= 0 THEN '0'
				WHEN PPP.PROCESS_ID = 12 AND PPP.RETURN_PREMIUM > 0 THEN ABS(ISNULL(PPP.RETURN_PREMIUM,0)) 
				ELSE ABS(ISNULL(PPC.WRITTEN_PREMIUM,0)) 
		END) AS ISSUED_PREMIUM,
	 --    (SELECT CAST(sum(ABS(ISNULL(PPC.WRITTEN_PREMIUM,0))) AS DECIMAL(16,2)) FROM
		--		POL_PRODUCT_COVERAGES PPC WITH(NOLOCK)

		--LEFT OUTER JOIN 
		--	[MNT_COVERAGE_ACCOUNTING_LOB] MCAL (NOLOCK) ON PPC.COVERAGE_CODE_ID = MCAL.COV_ID 

		--LEFT OUTER JOIN 
		--	MNT_LOB_MASTER MLM (NOLOCK) ON MLM.LOB_ID = MCAL.ACC_LOB_ID
		
		--WHERE 
		--	PCPL.CUSTOMER_ID = PPC.CUSTOMER_ID 
		--	AND PCPL.POLICY_ID = PPC.POLICY_ID 
		--	AND PCPL.POLICY_VERSION_ID = PPC.POLICY_VERSION_ID 
		--GROUP BY MLM.SUSEP_LOB_CODE 
		--) AS ISSUED_PREMIUM,
			

		
		(CASE 
			WHEN PCPL.CO_INSURANCE IN (14547,14549) THEN '0' 
			-- MODIFIED BY SHUBHANSHU FOR ITRACK 1072 NOTE 10 (POINT 12) ON 08-29-2011
			ELSE 
				CASE WHEN PPP.PROCESS_ID = 12 THEN '0'
				ELSE
				(ISNULL(PPC.WRITTEN_PREMIUM,0)* (SELECT    
																SUM(ISNULL(COINSURANCE_PERCENT,0)) 
														  FROM	
																POL_CO_INSURANCE PCI WITH(NOLOCK) 
														  WHERE 
																PCI.CUSTOMER_ID = PCPL.CUSTOMER_ID
																AND PCI.POLICY_ID = PCPL.POLICY_ID 
																AND PCI.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID
																AND PCI.LEADER_FOLLOWER = 14549 
														   )/100)
		END END ) AS PREMIUM_OF_REINSURENCE,

		(CASE 
			WHEN PPP.PROCESS_ID IN (12,37) THEN '0' -- MODIFIED BY SHUBHANSHU FOR ITRACK 1072 NOTE 10 (POINT 10) ON 08-29-2011
													-- FOR POL/END CANCELLATION THERE IS '0' FOR THIS FIELD.
			ELSE ISNULL((SELECT SUM(A.INSTALLMENT_AMOUNT) RISK_PREMIUM FROM ACT_POLICY_INSTALLMENT_DETAILS A WITH(NOLOCK)
			WHERE A.CUSTOMER_ID = PCPL.CUSTOMER_ID 
			  AND A.POLICY_ID = PCPL.POLICY_ID 
			  AND A.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID
			  AND A.RELEASED_STATUS = 'N'),0)
		END) AS NON_AWARDED_PREMIUM,

		--ISNULL((SELECT SUM(A.INSTALLMENT_AMOUNT) RISK_PREMIUM FROM ACT_POLICY_INSTALLMENT_DETAILS A WITH(NOLOCK)
		--WHERE A.CUSTOMER_ID = PCPL.CUSTOMER_ID 
		--	  AND A.POLICY_ID = PCPL.POLICY_ID 
		--	  AND A.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID
		--	  AND A.RELEASED_STATUS = 'N'),0) AS NON_AWARDED_PREMIUM,

		--CASE WHEN MLM.SUSEP_LOB_CODE like '09%' THEN 1 ELSE 0 END AS COLET
	   (SELECT 
			CASE 
				WHEN COUNT(RISK.RISK_ID) > 2 THEN '0'
				ELSE '1'
			END  
		FROM 
			VW_POL_PRODUCT_RISK_DETAILS RISK WITH(NOLOCK) 
			WHERE 
				  PCPL.CUSTOMER_ID = RISK.CUSTOMER_ID 
				  AND PCPL.POLICY_ID = RISK.POLICY_ID 
				  AND PCPL.POLICY_VERSION_ID = RISK.POLICY_VERSION_ID
				  AND RISK.IS_ACTIVE = 'Y'
				  --AND RISK.RISK_ID NOT IN (SELECT RISK_ID FROM VW_POL_PRODUCT_RISK_DETAILS  RISK_PREV WHERE  
				  --RISK_PREV.CUSTOMER_ID = RISK.CUSTOMER_ID
				  --AND RISK_PREV.POLICY_ID = RISK.POLICY_ID
				  --AND RISK_PREV.POLICY_VERSION_ID < RISK.POLICY_VERSION_ID
				  --AND RISK_PREV.IS_ACTIVE = 'Y') --commented as per itrack 1072 (note 10 point 11)
		) AS COLET,
		PCPL.POLICY_NUMBER 
		 
	FROM 
		POL_CUSTOMER_POLICY_LIST  PCPL (NOLOCK)    
		
	LEFT OUTER JOIN 
		POL_POLICY_PROCESS PPP (NOLOCK) ON (PPP.CUSTOMER_ID = PCPL.CUSTOMER_ID 
											AND PPP.POLICY_ID = PCPL.POLICY_ID 
											AND PPP.NEW_POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID
											AND PPP.PROCESS_STATUS = 'COMPLETE'
											)
	--LEFT OUTER JOIN 
	--	ACT_POLICY_INSTALL_PLAN_DATA APIPD (NOLOCK) ON (APIPD.CUSTOMER_ID = PCPL.CUSTOMER_ID 
	--													AND APIPD.POLICY_ID = PCPL.POLICY_ID 
	--													AND APIPD.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID)
	
	--LEFT OUTER JOIN 
	--	ACT_POLICY_INSTALLMENT_DETAILS APID WITH(NOLOCK) ON (APID.CUSTOMER_ID = PCPL.CUSTOMER_ID 
	--														 AND APID.POLICY_ID = PCPL.POLICY_ID 
	--														 AND APID.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID
	--														 AND APID.RELEASED_STATUS NOT IN ('U'))

	LEFT OUTER JOIN 
		POL_POLICY_ENDORSEMENTS PPE (NOLOCK) ON (PCPL.CUSTOMER_ID = PPE.CUSTOMER_ID 
												AND PCPL.POLICY_ID = PPE.POLICY_ID 
												AND PCPL.POLICY_VERSION_ID = PPE.POLICY_VERSION_ID)
												     
   --LEFT OUTER JOIN ------COMMENTED BY SHUBHANSHU ON 09/08/2011 FOR ITRACK 1072    
		--ACT_POLICY_INSTALLMENT_DETAILS APID (NOLOCK) ON (APIPD.CUSTOMER_ID = APID.CUSTOMER_ID 
		--												AND APIPD.POLICY_ID = APID.POLICY_ID 
		--												AND APIPD.POLICY_VERSION_ID = APID.POLICY_VERSION_ID) 
	--INNER JOIN 
	--	POL_PRODUCT_COVERAGES PPC (NOLOCK) ON PCPL.CUSTOMER_ID = PPC.CUSTOMER_ID 
	--										  AND PCPL.POLICY_ID = PPC.POLICY_ID 
	--										  AND PCPL.POLICY_VERSION_ID = PPC.POLICY_VERSION_ID 

	INNER JOIN 
		(SELECT CUSTOMER_ID ,POLICY_ID ,POLICY_VERSION_ID ,SUM(ISNULL(WRITTEN_PREMIUM,0)) AS WRITTEN_PREMIUM,MLM.SUSEP_LOB_CODE 
			FROM POL_PRODUCT_COVERAGES PPC (NOLOCK)  
			LEFT OUTER JOIN 
				[MNT_COVERAGE_ACCOUNTING_LOB] MCAL (NOLOCK) ON PPC.COVERAGE_CODE_ID = MCAL.COV_ID 

			LEFT OUTER JOIN 
				MNT_LOB_MASTER MLM (NOLOCK) ON MLM.LOB_ID = MCAL.ACC_LOB_ID AND MLM.IS_ACTIVE   = 'Y'  
			GROUP BY CUSTOMER_ID ,POLICY_ID ,POLICY_VERSION_ID,MLM.SUSEP_LOB_CODE  
			
		) PPC ON PCPL.CUSTOMER_ID = PPC.CUSTOMER_ID AND PCPL.POLICY_ID = PPC.POLICY_ID AND PCPL.POLICY_VERSION_ID = PPC.POLICY_VERSION_ID   
    
	

		     
	INNER JOIN 
		POL_APPLICANT_LIST (NOLOCK) PAL ON (PAL.CUSTOMER_ID   = PCPL.CUSTOMER_ID 
											AND PAL.POLICY_ID   = PCPL.POLICY_ID 
											AND PAL.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID)
	 LEFT OUTER JOIN    
		POL_CO_INSURANCE PCI_LEADER WITH(NOLOCK) ON (PCI_LEADER.CUSTOMER_ID = PCPL.CUSTOMER_ID AND     
													 PCI_LEADER.POLICY_ID = PCPL.POLICY_ID AND     
													 PCI_LEADER.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID
													 AND PCI_LEADER.LEADER_FOLLOWER  = 14548)   
	 --LEFT JOIN 
		--(
		--SELECT DISTINCT PPC.CUSTOMER_ID ,PPC.POLICY_ID,PPC.POLICY_VERSION_ID,MLM1.SUSEP_LOB_CODE  
		--FROM	POL_PRODUCT_COVERAGES PPC (NOLOCK) 
		--LEFT OUTER JOIN [MNT_COVERAGE_ACCOUNTING_LOB ] MCAL (NOLOCK) ON (PPC.COVERAGE_CODE_ID = MCAL.COV_ID)
		--INNER JOIN MNT_LOB_MASTER MLM1 WITH(NOLOCK) ON (MLM1.LOB_ID = MCAL.ACC_LOB_ID )  
		--) TMP ON 
		--	TMP.CUSTOMER_ID = PCPL.CUSTOMER_ID AND 
		--	TMP.POLICY_ID = PCPL.POLICY_ID AND 
		--	TMP.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID    

	WHERE 
		CONVERT(VARCHAR(6),PPP.CREATED_DATETIME,112) = CONVERT(VARCHAR(6),@DATETIME,112) AND      
		(@POLICY_NUMBER IS NULL OR PCPL.POLICY_NUMBER =  @POLICY_NUMBER)       
		AND PCPL.CO_INSURANCE IN (14547,14548) -- FOR DIRECT 
		--AND MLM.IS_ACTIVE   = 'Y'  
		AND PAL.IS_PRIMARY_APPLICANT= 1
		AND PCPL.POLICY_STATUS NOT IN ('UISSUE','UENDRS') 
		AND PPP.PROCESS_ID NOT IN (2,3,4,5,6,7,8,9,10,13,15,16,17,19,20,21,22,23,24,26,27,28,29,30,31,32,33,35,36)
		
	--GROUP BY 
	--	PPP.PROCESS_ID,
	--	MLM.SUSEP_LOB_CODE,
	--	PCPL.POLICY_NUMBER,
	--	PPE.ENDORSEMENT_NO,
	--	PCPL.APP_NUMBER,
	--	PCPL.APP_INCEPTION_DATE,
	--	PPP.CREATED_DATETIME,
	--	PPP.COMPLETED_DATETIME,
	--	PCPL.POLICY_EFFECTIVE_DATE,
	--	PPP.EFFECTIVE_DATETIME,
	--	PPP.[EXPIRY_DATE],
	--	PCPL.POLICY_EXPIRATION_DATE,
	--	PCPL.CO_INSURANCE,
	--	PCPL.CUSTOMER_ID,PCPL.POLICY_ID,PCPL.POLICY_VERSION_ID,
 --       PCI_LEADER.COINSURANCE_PERCENT,
 --       PPP.CUSTOMER_ID,
 --       PPP.POLICY_ID,
 --       PPP.LAST_REVERT_BACK,
	--	PCPL.POLICY_NUMBER
	--	--PPC.WRITTEN_PREMIUM
	--	--TMP.SUSEP_LOB_CODE 
		) TBL  
    SELECT      
	   -------NUMERIC SEQUENCE IN FILE----------------    
	   LEFT(CONVERT(VARCHAR,SEQUENCE_NO),10) AS SEQUENCIA,    
	   --------COMPANY CODE IN SUSEP------------------        
	   '504-5' AS COD_CIA,    
	 ----------REFERENCE MONTH -----------------    
		CASE      
		 WHEN @MONTH IN (1,2,3,4,5,6,7,8,9) THEN  @YEAR + '0' + @MONTH     
	     WHEN @MONTH IN (10,11,12) THEN  @YEAR + @MONTH    
	     END AS DT_BASE,    
	    ISNULL(TRANSACTION_TYPE,0) AS TIPO_MOV,
	    RIGHT('    ' + ISNULL(SUSEP_LOB,''),4) AS COD_RAMO,
	    --POLICY_CONTRACT_NO,  
		 POLICY_CONTRACT_NO AS NUM_APOL,    
		--ENDORSMENT_NO,  
		RIGHT('                    '+ CAST(ISNULL(ENDORSMENT_NO,'') AS VARCHAR),20) AS NUM_END,
		--PROPOSAL_NO   
		RIGHT('                    '+ CAST(ISNULL(PROPOSAL_NO,'') AS VARCHAR),20) AS NUM_PROP,    
		ISNULL(PROPOSAL_DATE,'') AS DT_PROP, 
		ISNULL(ISSUANCE_DATE,'') AS DT_EMIS,    
		ISNULL(EFFECTIVE_DATE,'') AS DT_INI_VIG,    
		ISNULL(EXPIRED_DATE,'') AS DT_FIM_VIG,    
		RIGHT(CAST(ABS(ISNULL(ISSUED_PREMIUM,0)) AS VARCHAR),18) AS PR_EMIT,
		--CASE 
		--	WHEN NON_AWARDED_PREMIUM >= 0 
		--	THEN RIGHT('000000000000000000'+ REPLACE(CAST(ISNULL(PREMIUM_OF_REINSURENCE,0) AS VARCHAR),'.',''),18)
		--	WHEN NON_AWARDED_PREMIUM < 0 
		--	THEN '-' + RIGHT('000000000000000000'+ REPLACE(CAST(ABS(ISNULL(PREMIUM_OF_REINSURENCE,0)) AS VARCHAR),'.',''),17) 
		--END AS PR_COS_CED,
		RIGHT(CAST(ABS(ISNULL(PREMIUM_OF_REINSURENCE,0)) AS VARCHAR),18) AS PR_COS_CED,
		RIGHT(CAST(ABS(ISNULL(NON_AWARDED_PREMIUM,0)) AS VARCHAR),18) AS PR_N_GANHO,
		ISNULL(COLET,0) AS COLET,
		POLICY_NUMBER
    FROM #TEMPPREMIT 
END


GO

