IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_GETPDF_HOME_SCHEDULE_ARTICLES_DETAILS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_GETPDF_HOME_SCHEDULE_ARTICLES_DETAILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--drop PROCEDURE PROC_GETPDF_HOME_SCHEDULE_ARTICLES_DETAILS
CREATE PROCEDURE PROC_GETPDF_HOME_SCHEDULE_ARTICLES_DETAILS
	@CUSTOMERID 		int,
	@POLID 	             	int,
	@VERSIONID 		int,
	@ITEMID			int,
	@CALLEDFROM		VARCHAR(20)
AS
BEGIN

	IF @CALLEDFROM='APPLICATION'
	BEGIN
		SELECT ITEM_NUMBER, ITEM_DESCRIPTION, ITEM_SERIAL_NUMBER, ISNULL(CAST(ITEM_INSURING_VALUE AS VARCHAR),'') ITEM_INSURING_VALUE,
		ITEM_ID
		FROM APP_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS 
		WHERE CUSTOMER_ID = @CUSTOMERID AND APP_ID = @POLID AND APP_VERSION_ID = @VERSIONID
		AND ITEM_ID = isnull(@ITEMID,ITEM_ID)
	END
	ELSE IF @CALLEDFROM='POLICY'
	BEGIN
		SELECT ITEM_NUMBER, ITEM_DESCRIPTION, ITEM_SERIAL_NUMBER, ISNULL(CAST(ITEM_INSURING_VALUE AS VARCHAR),'') ITEM_INSURING_VALUE,
		ITEM_ID
		FROM POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS with(nolock)
		WHERE CUSTOMER_ID = @CUSTOMERID AND POL_ID = @POLID AND POL_VERSION_ID = @VERSIONID
		AND ITEM_ID = isnull(@ITEMID,ITEM_ID)
	END	
		
END 

GO

