IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_CANCEL_POLICY_BOLETOS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_CANCEL_POLICY_BOLETOS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


--BEGIN TRAN
--DROP PROC  Proc_CANCEL_POLICY_BOLETOS
--GO
/*    
CREATED BY   : Lalit Kr Chauhan       
CREATED DATETIME : 30 Nov 2010            
PURPOSE    : Cancel Policy Un-Paid Boleto on cancelation commit    
Review    :       
Review By  Date  :         
Purpose    :      
DROP PROC Proc_CANCEL_POLICY_BOLETOS  2727,339,3,11990,-32,398,null,null    
========================================================================

Modified By	:	Lalit Kr Chauhan
Modified Date:	March 31 , 2011             
Purpose : cancel policy boletos according to returm premium	

*/     
CREATE PROC [dbo].[Proc_CANCEL_POLICY_BOLETOS]    
(    
@CUSTOMER_ID INT,    
@POLICY_ID INT,    
@POLICY_VERSION_ID INT,    
@CANCEL_TYPE INT = NULL,    
@RETURN_PREMIUM DECIMAL(25,2)=NULL,    
@CREATED_BY INT = NULL,    
@CREATED_DATE DATETIME = NULL,    
@RET_VAL INT = NULL OUT    
)    
AS     
BEGIN    
DECLARE @CANCELLATION_DATE DATETIME,@RETURNVAL INT = 0,@SUM_PAID_AMOUNT DECIMAL(30,2),@SUM_TOTAL_AMOUNT DECIMAL(30,2)    
DECLARE @POLICY_LOB INT,@MIN_CANCEL_DAYS INT,@NO_DUE_INSTALL INT, @TOTAL_UNPAID DECIMAL(30,2),@ROW_ID INT,@INSTALL_SUM DECIMAL(30,2) = 0    
DECLARE @PREV_POL_VER INT,@INSTALLMENT_NO INT,@ROWCOUNT INT = 0,@INSTALL_AMOUNT DECIMAL(30,2),@MAX_INSTALL_NO INT,@TRAN_TYPE INT    
DECLARE @OPEN_POLICY INT = 14560,@CURRENT_TERM INT,@TOTAL_POLICY_PREMIUM DECIMAL(30,2)    
DECLARE @NON_PAY_CANCEL INT = 11969,@INSURED_REQUEST INT = 11989,  
@COMPANY_REQUEST INT= 11990  
,@TEMP_COUNT INT,@AUTO_CANCEL INT  = 1 ---Policy can cancel automatically     
DECLARE @TOTAL_INFO DECIMAL(25,2),@CANCELED_FEE DECIMAL(25,2),@CANCELED_TAX DECIMAL(25,2),@CANCELED_INTEREST DECIMAL(12,2)    
DECLARE @POLICY_INTR DECIMAL(25,2),@POL_FEE DECIMAL(25,2),@POL_TAX DECIMAL(25,2),@CO_APPLICANT INT     
 DECLARE @INTREST_AMOUNT DECIMAL(25,2), 
      @PREMIUM_AMOUNT DECIMAL(25,2), 
      @FEES_AMOUNT DECIMAL(25,2), 
      @TAXES_AMOUNT DECIMAL(25,2), 
      @TOTAL_AMOUNT DECIMAL(25,2),@CANCILLATION_TRAN_PREMIUM DECIMAL(25,2)
 
  --cancellation effective date     
--BEGIN TRAN    
  SELECT @POLICY_LOB = POLICY_LOB,@TRAN_TYPE = TRANSACTION_TYPE,    
   @CURRENT_TERM  =  CURRENT_TERM     
   FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK)    
    WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID  = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID    
       
    SELECT @MIN_CANCEL_DAYS = MIN_CANCELLATION_DAYS FROM MNT_LOB_MASTER WITH(NOLOCK) WHERE LOB_ID = @POLICY_LOB    
    
  --create temptables    
  SELECT * INTO #tempACT_POLICY_INSTALL_PLAN_DATA FROM  ACT_POLICY_INSTALL_PLAN_DATA WHERE 1=2    
  SELECT * INTO #tempACT_POLICY_INSTALLMENT_DETAILS FROM  ACT_POLICY_INSTALLMENT_DETAILS WHERE 1=2    
    
  SELECT @TOTAL_POLICY_PREMIUM = ISNULL(TOTAL_PREMIUM,0) ,    
  @TOTAL_INFO= ISNULL(TOTAL_INFO_PRM,0),
  @POLICY_INTR = ISNULL(DATA.TOTAL_INTEREST_AMOUNT,0) ,     
  @POL_FEE = ISNULL(DATA.TOTAL_FEES,0) , 
  @POL_TAX  = ISNULL(DATA.TOTAL_TAXES,0)    
  FROM ACT_POLICY_INSTALL_PLAN_DATA DATA WITH(NOLOCK)     
  INNER JOIN POL_POLICY_PROCESS PROCESS WITH(NOLOCK) ON     
  DATA.CUSTOMER_ID = PROCESS.CUSTOMER_ID AND    
  DATA.POLICY_ID = PROCESS.POLICY_ID AND    
  DATA.POLICY_VERSION_ID = PROCESS.POLICY_VERSION_ID    
  WHERE PROCESS.CUSTOMER_ID = @CUSTOMER_ID AND PROCESS.POLICY_ID = @POLICY_ID     
  AND PROCESS.NEW_POLICY_VERSION_ID = @POLICY_VERSION_ID --AND PROCESS.PROCESS_STATUS <> 'ROLLBACK'    
      
    
    		IF(@RETURN_PREMIUM IS NOT NULL AND @RETURN_PREMIUM < 0)    --for re
				BEGIN    
	        
		   DECLARE @INDEX INT = 1    
		   CREATE TABLE #tempINSTALL(INSTALL_AMOUNT DECIMAL(25,2),INSTALL_NO INT,ROW_ID INT,CO_APPLICANT_ID INT,CUSTOMER_ID INT,POLICY_ID INT,POLICY_VERSION_ID INT)    
		   CREATE TABLE #tempCANCEL_BOLETO_NO(INSTALL_AMOUNT DECIMAL(25,2),INSTALL_NO INT,ROW_ID INT,CO_APPLICANT_ID INT,CUSTOMER_ID INT,POLICY_ID INT,POLICY_VERSION_ID INT)    
	    
		INSERT INTO #tempINSTALL SELECT INSTALLMENT_AMOUNT,INSTALLMENT_NO,    
		ROW_ID,CO_APPLICANT_ID,INSTALL.CUSTOMER_ID,INSTALL.POLICY_ID,INSTALL.POLICY_VERSION_ID    
		 FROM ACT_POLICY_INSTALLMENT_DETAILS INSTALL WITH(NOLOCK)    
		INNER JOIN     
		POL_CUSTOMER_POLICY_LIST POL WITH(NOLOCK) ON      
		POL.CUSTOMER_ID = INSTALL.CUSTOMER_ID AND     
		POL.POLICY_ID = INSTALL.POLICY_ID AND     
		POL.POLICY_VERSION_ID = INSTALL.POLICY_VERSION_ID    
		WHERE INSTALL.CUSTOMER_ID = @CUSTOMER_ID     
		AND INSTALL.POLICY_ID = @POLICY_ID     
		AND POL.CURRENT_TERM = @CURRENT_TERM    
		  AND ISNULL(RELEASED_STATUS,'N') <> 'Y'  
		ORDER BY ROW_ID DESC    
	   
	   
		 --SELECT * FROM  #tempINSTALL   
		SELECT @TEMP_COUNT = COUNT(*) FROM #tempINSTALL 
					
			SET  @MAX_INSTALL_NO= 1
			--i-track  # 1039
		--get policy boletos not to be cancel
		--in case if cancellation premium to be charged
		--then first chek active boletos  unpaid if charged premium >  unpaid boleto premium sum
					--then be create new boleto  =  Charged Premium -  SUM(Unpaid Boleto)
		--if charged premium  <  unpaid boleto premium sum
		--cancel unpaid boleto > charged premium
		--
		   WHILE(@TEMP_COUNT >= @INDEX)    
		 BEGIN    
		  SELECT TOP 1 @INSTALL_AMOUNT = INSTALL_AMOUNT,@ROW_ID = ROW_ID ,@INSTALLMENT_NO = INSTALL_NO    
			  FROM #tempINSTALL     ORDER BY ROW_ID asc 
	         
			 --if -ve installemnt should be cancel
			 IF (@INSTALL_AMOUNT < 0)
			   BEGIN
	           
				   DELETE FROM #tempINSTALL     
					WHERE INSTALL_NO = @INSTALLMENT_NO AND ROW_ID = @ROW_ID          
				   SELECT @INDEX  = @INDEX + 1    
			  END
			  ELSE
			  BEGIN
					  SELECT @INSTALL_SUM  = @INSTALL_SUM + @INSTALL_AMOUNT    
					  -- SELECT @INSTALL_SUM , ABS(@RETURN_PREMIUM)
					  IF(@INSTALL_SUM > ABS(@RETURN_PREMIUM))    
					   BEGIN    
					   
						BREAK    
					   END    
					  ELSE                                                                
					   BEGIN     
						INSERT INTO #tempCANCEL_BOLETO_NO SELECT INSTALL_AMOUNT,    
						INSTALL_NO,ROW_ID,CO_APPLICANT_ID,    
						CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID    
						FROM #tempINSTALL WITH(NOLOCK)    
						WHERE INSTALL_NO = @INSTALLMENT_NO AND ROW_ID = @ROW_ID    
				            
						DELETE FROM #tempINSTALL     
						WHERE INSTALL_NO = @INSTALLMENT_NO AND ROW_ID = @ROW_ID    
				            
						SELECT @INDEX  = @INDEX + 1    
					   END    
			   END
		 END    
	      
			--SELECT * FROM #tempCANCEL_BOLETO_NO
	        
			--cancel installments
		 UPDATE ACT_POLICY_INSTALLMENT_DETAILS SET RELEASED_STATUS = 'C' WHERE ROW_ID IN(
		 SELECT ROW_ID    
		 FROM ACT_POLICY_INSTALLMENT_DETAILS I WITH(NOLOCK)    
		WHERE I.CUSTOMER_ID = @CUSTOMER_ID     
		AND I.POLICY_ID = @POLICY_ID     
		AND I.POLICY_VERSION_ID  in (SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST C WITH(NOLOCK)
		WHERE C.CUSTOMER_ID = I.CUSTOMER_ID AND c.POLICY_ID = I.POLICY_ID and c.CURRENT_TERM = @CURRENT_TERM
		)
		AND ROW_ID NOT IN (SELECT ROW_ID FROM  #tempCANCEL_BOLETO_NO)
		  AND ISNULL(RELEASED_STATUS,'N') <> 'Y' 
		  )  
			--cancel boletos
	         
			UPDATE POL_INSTALLMENT_BOLETO SET IS_ACTIVE = 'N' WHERE  BOLETO_ID IN (
		  SELECT BL.BOLETO_ID
		 FROM ACT_POLICY_INSTALLMENT_DETAILS I WITH(NOLOCK)    
		JOIN POL_INSTALLMENT_BOLETO BL WITH(NOLOCK)
		ON
		BL.CUSTOMER_ID = I.CUSTOMER_ID AND 
		BL.POLICY_ID = I.POLICY_ID AND
		BL.INSTALLEMT_ID = I.ROW_ID
		WHERE I.CUSTOMER_ID = @CUSTOMER_ID     
		AND I.POLICY_ID = @POLICY_ID     
		AND I.POLICY_VERSION_ID  in (SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST C WITH(NOLOCK)
		WHERE C.CUSTOMER_ID = I.CUSTOMER_ID AND c.POLICY_ID = I.POLICY_ID and c.CURRENT_TERM = @CURRENT_TERM
		)
		AND ROW_ID NOT IN (SELECT ROW_ID FROM  #tempCANCEL_BOLETO_NO)
		  AND ISNULL(RELEASED_STATUS,'N') <> 'Y' 
		  )      
		 SELECT @ROWCOUNT  = @ROWCOUNT  + @@ROWCOUNT    
		 --End Boleto cancellation Logic    
	         
		 --cancel installment as well    
		  --UPDATE ACT_POLICY_INSTALLMENT_DETAILS SET RELEASED_STATUS = 'C' WHERE ROW_ID IN(    
		  --    SELECT TEMP.ROW_ID FROM #tempCANCEL_BOLETO_NO TEMP WITH(NOLOCK))    
	          
		 DECLARE @REMAIN_BOLETO_PREMIUM DECIMAL(25,2),@BOlETO_TO_BE_PREPAIR DECIMAL(25,2)
	         
	       
		   SELECT @REMAIN_BOLETO_PREMIUM =  ISNULL(SUM(INS.INSTALLMENT_AMOUNT),0) FROM POL_INSTALLMENT_BOLETO BL WITH(NOLOCK) 
		   JOIN ACT_POLICY_INSTALLMENT_DETAILS INS WITH(NOLOCK)
		   ON INS.CUSTOMER_ID = BL.CUSTOMER_ID AND 
		   INS.POLICY_ID = BL.POLICY_ID 
		   AND INS.POLICY_VERSION_ID = BL.POLICY_VERSION_ID 
		   AND INS.ROW_ID = BL.INSTALLEMT_ID
		   WHERE INS.CUSTOMER_ID = @CUSTOMER_ID 
		   AND INS.POLICY_ID  = @POLICY_ID AND INS.RELEASED_STATUS = 'N' AND  BL.IS_ACTIVE = 'Y'
			AND  INS.POLICY_VERSION_ID IN (SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST C WITH(NOLOCK)
			WHERE C.CUSTOMER_ID = INS.CUSTOMER_ID AND INS.POLICY_ID = BL.POLICY_ID AND c.CURRENT_TERM = @CURRENT_TERM
			)
	        
			---get difference between premium of cancel boletos and charged premium
			--PRINT 'LALIT'
			SELECT @BOlETO_TO_BE_PREPAIR = (-1)* @RETURN_PREMIUM - ISNULL(@REMAIN_BOLETO_PREMIUM,0)
	      
	       
		   --return premium    */
			SELECT @RETURN_PREMIUM  = @BOlETO_TO_BE_PREPAIR --(-1)* @RETURN_PREMIUM    
		   SELECT @TOTAL_INFO= @TOTAL_POLICY_PREMIUM+@RETURN_PREMIUM
		   SELECT @TOTAL_POLICY_PREMIUM  =   @TOTAL_POLICY_PREMIUM + @RETURN_PREMIUM --(-1)* @RETURN_PREMIUM  
	        
	        
			 SELECT 
			 @CANCELED_FEE =  0,--(-1)*ISNULL(SUM(ISNULL(FEE,0)),0),
			 @CANCELED_TAX =  0,--(-1)*ISNULL(SUM(ISNULL(TAXES,0)),0),    
			 @CANCELED_INTEREST  = 0--(-1)*ISNULL(SUM(ISNULL(INTEREST_AMOUNT,0)),0)    
		   FROM ACT_POLICY_INSTALLMENT_DETAILS INS WITH(NOLOCK)    
		   WHERE INS.CUSTOMER_ID = @CUSTOMER_ID    
		   AND INS.POLICY_ID = @POLICY_ID AND INS.RELEASED_STATUS = 'C' 
		   AND POLICY_VERSION_ID  in (SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST  P WITH(NOLOCK) WHERE 
		   P.CUSTOMER_ID = INS.CUSTOMER_ID AND P.POLICY_ID = INS.POLICY_ID AND  P.CURRENT_TERM = @CURRENT_TERM
			)
	     
		   --SELECT @TOTAL_INFO
		   ---Insert into temp data table return premium record    
			INSERT INTO #tempACT_POLICY_INSTALL_PLAN_DATA     
			SELECT TOP 1 @POLICY_ID,@POLICY_VERSION_ID,@CUSTOMER_ID,PLAN_ID,@POLICY_ID,@POLICY_VERSION_ID,PLAN_DESCRIPTION,PLAN_TYPE,1,    
		 MONTHS_BETWEEN,PERCENT_BREAKDOWN1,PERCENT_BREAKDOWN2,PERCENT_BREAKDOWN3,PERCENT_BREAKDOWN4,PERCENT_BREAKDOWN5,PERCENT_BREAKDOWN6,    
		 PERCENT_BREAKDOWN7,PERCENT_BREAKDOWN8,PERCENT_BREAKDOWN9,PERCENT_BREAKDOWN10,PERCENT_BREAKDOWN11,PERCENT_BREAKDOWN12,MODE_OF_DOWN_PAYMENT,    
		 INSTALLMENTS_IN_DOWN_PAYMENT,MODE_OF_PAYMENT,CURRENT_TERM,IS_ACTIVE_PLAN    
		 ,@TOTAL_POLICY_PREMIUM,    
		 (@POLICY_INTR+@CANCELED_INTEREST),    
		 (@POL_FEE+@CANCELED_FEE),    
		 (@POL_TAX+@CANCELED_TAX),    
		 (@TOTAL_POLICY_PREMIUM+@POLICY_INTR+@CANCELED_INTEREST+@POL_FEE+@CANCELED_FEE+@POL_TAX+@CANCELED_TAX)    ,
		-- @TOTAL_POLICY_PREMIUM ,   
		 'CAN',@RETURN_PREMIUM,
		 @CANCELED_INTEREST,
		 @CANCELED_FEE,
		 @CANCELED_TAX,    
		 @RETURN_PREMIUM+@CANCELED_INTEREST+@CANCELED_FEE+@CANCELED_TAX   
		 ,@CREATED_BY,GETDATE(),null,null,0    
		 ,PRM_DIST_TYPE,@TOTAL_INFO,0,0,CO_APPLICANT_ID FROM ACT_POLICY_INSTALL_PLAN_DATA WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID     
		 AND POLICY_VERSION_ID < @POLICY_VERSION_ID ORDER BY POLICY_VERSION_ID DESC    
	         
		 --SELECT * FROM #tempACT_POLICY_INSTALL_PLAN_DATA 
		 ---Insert into temp details table return premium record    
	     
		   SELECT 
		   @PREMIUM_AMOUNT =  SUM(INS.INSTALLMENT_AMOUNT)*-1,        
		   @INTREST_AMOUNT =  SUM(INS.INTEREST_AMOUNT)*-1,
		   @FEES_AMOUNT =  SUM(INS.FEE)*-1,
		   @TAXES_AMOUNT = SUM(INS.TAXES)*-1,
		   @TOTAL_AMOUNT = SUM(INS.TOTAL)*-1
			FROM ACT_POLICY_INSTALLMENT_DETAILS INS WITH(NOLOCK)
			JOIN 
			POL_CUSTOMER_POLICY_LIST PCPLC WITH(NOLOCK) 
			ON PCPLC.CUSTOMER_ID = INS.CUSTOMER_ID AND 
			PCPLC.POLICY_ID = INS.POLICY_ID AND PCPLC.POLICY_VERSION_ID = INS.POLICY_VERSION_ID
			WHERE INS.CUSTOMER_ID = @CUSTOMER_ID AND INS.POLICY_ID =@POLICY_ID AND PCPLC.CURRENT_TERM =@CURRENT_TERM
			AND UPPER(INS.RELEASED_STATUS) = 'C'
	      
		  UPDATE #tempACT_POLICY_INSTALL_PLAN_DATA SET 
		  TOTAL_PREMIUM = TOTAL_PREMIUM + @PREMIUM_AMOUNT,
		  TOTAL_INTEREST_AMOUNT = @INTREST_AMOUNT + TOTAL_INTEREST_AMOUNT,
		  TOTAL_FEES = @FEES_AMOUNT + TOTAL_FEES,
		  TOTAL_TAXES = @TAXES_AMOUNT + TOTAL_TAXES,
		  TOTAL_AMOUNT = @TOTAL_AMOUNT + TOTAL_AMOUNT,
		  TOTAL_TRAN_PREMIUM = @PREMIUM_AMOUNT + TOTAL_TRAN_PREMIUM,
		  TOTAL_TRAN_INTEREST_AMOUNT = @INTREST_AMOUNT+ TOTAL_TRAN_INTEREST_AMOUNT,
		  TOTAL_TRAN_FEES = @FEES_AMOUNT + TOTAL_TRAN_FEES,
		  TOTAL_TRAN_TAXES = @TAXES_AMOUNT + TOTAL_TRAN_TAXES,
		  TOTAL_TRAN_AMOUNT = @TOTAL_AMOUNT+  TOTAL_TRAN_AMOUNT  
	     
	     
	         
		 INSERT INTO #tempACT_POLICY_INSTALLMENT_DETAILS(    
		 POLICY_ID,POLICY_VERSION_ID,CUSTOMER_ID,APP_ID,APP_VERSION_ID,INSTALLMENT_AMOUNT,INSTALLMENT_EFFECTIVE_DATE,RELEASED_STATUS,    
		 INSTALLMENT_NO,RISK_ID,RISK_TYPE,PAYMENT_MODE,CURRENT_TERM,PERCENTAG_OF_PREMIUM,INTEREST_AMOUNT,FEE,TAXES,TOTAL,TRAN_INTEREST_AMOUNT,    
		 TRAN_FEE,TRAN_TAXES,TRAN_TOTAL,BOLETO_NO,IS_BOLETO_GENRATED,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,    
		 TRAN_PREMIUM_AMOUNT,CO_APPLICANT_ID,PAID_AMOUNT)     
		 SELECT TOP 1 @POLICY_ID,@POLICY_VERSION_ID,@CUSTOMER_ID,@POLICY_ID,
		 @POLICY_VERSION_ID,
		 @RETURN_PREMIUM,
		 GETDATE(),'N',    
		 1
		 ,RISK_ID,RISK_TYPE,PAYMENT_MODE,CURRENT_TERM
		 ,0
		 ,@CANCELED_INTEREST
		 ,@CANCELED_FEE
		 ,@CANCELED_TAX    
		 ,@RETURN_PREMIUM+@CANCELED_INTEREST+@CANCELED_FEE+@CANCELED_TAX
		 ,@CANCELED_INTEREST
		 ,@CANCELED_FEE
		 ,@CANCELED_TAX    
		 ,@RETURN_PREMIUM+@CANCELED_INTEREST+@CANCELED_FEE+@CANCELED_TAX,    
		 null,null,    
		 @CREATED_BY,GETDATE(),null,null,@RETURN_PREMIUM,CO_APPLICANT_ID,0     
		 FROM ACT_POLICY_INSTALLMENT_DETAILS WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID < = POLICY_VERSION_ID ORDER BY INSTALLMENT_NO DESC    
	       
		

	        
		 --DROP TEMp TABLE    
		 DROP TABLE #tempINSTALL     
		 DROP TABLE #tempCANCEL_BOLETO_NO    
	     
		  INSERT INTO #tempACT_POLICY_INSTALLMENT_DETAILS
		  (  
			POLICY_ID,
			POLICY_VERSION_ID,
			CUSTOMER_ID,
			APP_ID,
			APP_VERSION_ID,
			INSTALLMENT_AMOUNT,
			INSTALLMENT_EFFECTIVE_DATE,
			RELEASED_STATUS,    
			INSTALLMENT_NO,
			RISK_ID,
			RISK_TYPE,
			PAYMENT_MODE,
			CURRENT_TERM,
			PERCENTAG_OF_PREMIUM,
			INTEREST_AMOUNT,
			FEE,
			TAXES,
			TOTAL,
			TRAN_INTEREST_AMOUNT,    
			TRAN_FEE,
			TRAN_TAXES,
			TRAN_TOTAL,
			BOLETO_NO,
			IS_BOLETO_GENRATED,
			CREATED_BY,
			CREATED_DATETIME,
			MODIFIED_BY,
			LAST_UPDATED_DATETIME,    
			TRAN_PREMIUM_AMOUNT,
			CO_APPLICANT_ID,
			PAID_AMOUNT,
			RECEIVED_AMOUNT,
			RECEIVED_DATE,
			INSTALLMENT_EXPIRE_DATE  
		  )
		   SELECT  @POLICY_ID,
		   @POLICY_VERSION_ID,
			@CUSTOMER_ID ,
			@POLICY_ID,
			@POLICY_VERSION_ID,
			SUM(INS.INSTALLMENT_AMOUNT)*-1,
			GETDATE(),
			'U',
			2,
			NULL,
			'',
			0,
			@CURRENT_TERM,
			0,
			SUM(INS.INTEREST_AMOUNT)*-1,
			SUM(INS.FEE)*-1,
			 SUM(INS.TAXES)*-1,
			 SUM(INS.TOTAL)*-1,
		   SUM(INS.INTEREST_AMOUNT)*-1,
		   SUM(INS.FEE)*-1, 
		   SUM(INS.TAXES)*-1,
		   SUM(INS.TOTAL)*-1,
		   NULL,
		   NULL,
		   @CREATED_BY,
		   getdate(),
		   null,
		   null,
		   SUM(INS.INSTALLMENT_AMOUNT)*-1,
		   @CO_APPLICANT,
		   0,
		   NULL,null,null
	        
			FROM ACT_POLICY_INSTALLMENT_DETAILS INS WITH(NOLOCK)
			JOIN 
			POL_CUSTOMER_POLICY_LIST PCPLC WITH(NOLOCK) 
			ON PCPLC.CUSTOMER_ID = INS.CUSTOMER_ID AND 
			PCPLC.POLICY_ID = INS.POLICY_ID AND PCPLC.POLICY_VERSION_ID = INS.POLICY_VERSION_ID
			WHERE INS.CUSTOMER_ID = @CUSTOMER_ID AND INS.POLICY_ID =@POLICY_ID AND PCPLC.CURRENT_TERM =@CURRENT_TERM
			AND UPPER(INS.RELEASED_STATUS) = 'C'
	     
	     
	     
	     
	      
	     
		END  
			ELSE IF(@RETURN_PREMIUM > 0)   
				/*if system charge premium on cancellation  
		then it creates a positive entry on billing istallment   
		and mark cancele all unpaid boleto IN_ACTIVE/un RELEASED installment cancele on time of cancellation  
		and genrate a boleto of chanrged premium  
	   */  
				BEGIN  
			
		  --SELECT @RETURN_PREMIUM
	      
		  SELECT @RETURN_PREMIUM = (-1)*ISNULL(@RETURN_PREMIUM,0) ---in case of +ve return premium -ve instalment item wiil create
		  SELECT  @ROW_ID =  MAX(ROW_ID)+1 FROM ACT_POLICY_INSTALLMENT_DETAILS WITH(NOLOCK)  
		  SELECT  TOP 1 @CO_APPLICANT =  CO_APPLICANT_ID   
		  FROM ACT_POLICY_INSTALLMENT_DETAILS WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID and POLICY_ID   
		  =@POLICY_ID AND POLICY_VERSION_ID < @POLICY_VERSION_ID  
	        
	        
	        
		 DECLARE @INSTALL TABLE(INSTALLMENT_ID INT, BOLETO_NO NVARCHAR(50))  
		 INSERT INTO @INSTALL SELECT ROW_ID,BOLETO_NO FROM  ACT_POLICY_INSTALLMENT_DETAILS WITH(NOLOCK)  
	   WHERE CUSTOMER_ID =@CUSTOMER_ID AND POLICY_ID = @POLICY_ID  
	   AND POLICY_VERSION_ID IN (SELECT POL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST POL WITH(NOLOCK)  
	   WHERE POL.CUSTOMER_ID = @CUSTOMER_ID AND POL.POLICY_ID = @POLICY_ID   
	   and POL.CURRENT_TERM= @CURRENT_TERM  
	   ) AND ISNULL(RELEASED_STATUS,'N') = 'N'  
	     
		 SELECT @MAX_INSTALL_NO  = 1

	       
	       
	   UPDATE POL_INSTALLMENT_BOLETO SET IS_ACTIVE = 'N'   
	   WHERE INSTALLEMT_ID IN(SELECT INSTALLMENT_ID FROM @INSTALL)  
	   SELECT @ROWCOUNT  = @ROWCOUNT  + @@ROWCOUNT    
	     
	   UPDATE ACT_POLICY_INSTALLMENT_DETAILS SET RELEASED_STATUS = 'C'   
	   WHERE ROW_ID IN(SELECT INSTALLMENT_ID FROM @INSTALL)   AND ISNULL(RELEASED_STATUS,'N') <> 'Y'
	     
	   SELECT TOP 1 @TOTAL_POLICY_PREMIUM =  TOTAL_PREMIUM  
	   FROM  ACT_POLICY_INSTALL_PLAN_DATA WITH(NOLOCK)   
	   WHERE CUSTOMER_ID =@CUSTOMER_ID AND POLICY_ID = @POLICY_ID  
	   AND POLICY_VERSION_ID <= (SELECT MAX(POL.POLICY_VERSION_ID) FROM POL_CUSTOMER_POLICY_LIST POL WITH(NOLOCK)  
	   WHERE POL.CUSTOMER_ID = @CUSTOMER_ID AND POL.POLICY_ID = @POLICY_ID   
	   and POL.CURRENT_TERM= @CURRENT_TERM  
	   ) ORDER BY ACT_POLICY_INSTALL_PLAN_DATA.POLICY_VERSION_ID DESC  
	     
	   SELECT @TOTAL_POLICY_PREMIUM  = (@TOTAL_POLICY_PREMIUM + @RETURN_PREMIUM ) 
	     
	   SELECT @CANCELED_FEE = 0 ,--(-1)*SUM(ISNULL(FEE,0)) ,  
	   @CANCELED_TAX =  0,--(-1)*SUM(ISNULL(TAXES,0)),    
	   @CANCELED_INTEREST  = 0--(-1)*SUM(ISNULL(INTEREST_AMOUNT,0))    
	   FROM ACT_POLICY_INSTALLMENT_DETAILS INS WITH(NOLOCK)    
	   WHERE INS.CUSTOMER_ID = @CUSTOMER_ID AND INS.POLICY_ID = @POLICY_ID   
	   AND INS.RELEASED_STATUS = 'C'     
	   AND POLICY_VERSION_ID IN (SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST P WITH(NOLOCK)  
	   WHERE P.CUSTOMER_ID = @CUSTOMER_ID and P.POLICY_ID = @POLICY_ID  
	   and P.CURRENT_TERM =@CURRENT_TERM )  
	     
	        
	   INSERT INTO #tempACT_POLICY_INSTALL_PLAN_DATA  
		SELECT TOP 1 @POLICY_ID,@POLICY_VERSION_ID,@CUSTOMER_ID,PLAN_ID,@POLICY_ID,@POLICY_VERSION_ID,PLAN_DESCRIPTION,PLAN_TYPE,1,    
		MONTHS_BETWEEN,PERCENT_BREAKDOWN1,PERCENT_BREAKDOWN2,PERCENT_BREAKDOWN3,PERCENT_BREAKDOWN4,PERCENT_BREAKDOWN5,PERCENT_BREAKDOWN6,    
		PERCENT_BREAKDOWN7,PERCENT_BREAKDOWN8,PERCENT_BREAKDOWN9,PERCENT_BREAKDOWN10,PERCENT_BREAKDOWN11,PERCENT_BREAKDOWN12,MODE_OF_DOWN_PAYMENT,    
		INSTALLMENTS_IN_DOWN_PAYMENT,MODE_OF_PAYMENT,CURRENT_TERM,IS_ACTIVE_PLAN    
		,@TOTAL_POLICY_PREMIUM,    
		ISNULL(TOTAL_INTEREST_AMOUNT,0)+ISNULL(@CANCELED_INTEREST,0),    
		TOTAL_FEES+@CANCELED_FEE,    
		TOTAL_TAXES+@CANCELED_TAX,    
		(@TOTAL_POLICY_PREMIUM+TOTAL_INTEREST_AMOUNT
		+@CANCELED_INTEREST+TOTAL_FEES+@CANCELED_FEE
		+TOTAL_TAXES+@CANCELED_TAX)    
		--@TOTAL_POLICY_PREMIUM    
		,'CAN',@RETURN_PREMIUM,@CANCELED_INTEREST,@CANCELED_FEE,@CANCELED_TAX,    
		@RETURN_PREMIUM+@CANCELED_INTEREST+@CANCELED_FEE+@CANCELED_TAX    
		,@CREATED_BY,GETDATE(),null,null,0    
		,PRM_DIST_TYPE,TOTAL_INFO_PRM,0,0,CO_APPLICANT_ID FROM ACT_POLICY_INSTALL_PLAN_DATA   
		WITH(NOLOCK) WHERE   
		CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID     
		AND POLICY_VERSION_ID <= (SELECT MAX(POL.POLICY_VERSION_ID) FROM POL_CUSTOMER_POLICY_LIST POL WITH(NOLOCK)  
	   WHERE POL.CUSTOMER_ID = @CUSTOMER_ID AND POL.POLICY_ID = @POLICY_ID   
	   and POL.CURRENT_TERM= @CURRENT_TERM  
		)ORDER BY ACT_POLICY_INSTALL_PLAN_DATA.POLICY_VERSION_ID DESC  
	     
	     
		INSERT INTO #tempACT_POLICY_INSTALLMENT_DETAILS  
		(  
		  POLICY_ID,POLICY_VERSION_ID,CUSTOMER_ID,APP_ID,APP_VERSION_ID,INSTALLMENT_AMOUNT,INSTALLMENT_EFFECTIVE_DATE,RELEASED_STATUS,    
	   INSTALLMENT_NO,RISK_ID,RISK_TYPE,PAYMENT_MODE,CURRENT_TERM,PERCENTAG_OF_PREMIUM,INTEREST_AMOUNT,FEE,TAXES,TOTAL,TRAN_INTEREST_AMOUNT,    
	   TRAN_FEE,TRAN_TAXES,TRAN_TOTAL,BOLETO_NO,IS_BOLETO_GENRATED,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,    
	   TRAN_PREMIUM_AMOUNT,CO_APPLICANT_ID,PAID_AMOUNT,RECEIVED_AMOUNT,RECEIVED_DATE,INSTALLMENT_EXPIRE_DATE  
	  
		)  
		 VALUES(@POLICY_ID,@POLICY_VERSION_ID,@CUSTOMER_ID,@POLICY_ID,@POLICY_VERSION_ID,@RETURN_PREMIUM,GETDATE(),'N',    
		 @MAX_INSTALL_NO  
		 ,null,'',0,@CURRENT_TERM,0,@CANCELED_INTEREST,@CANCELED_FEE,@CANCELED_TAX,  
		 (@RETURN_PREMIUM+@CANCELED_INTEREST+@CANCELED_FEE+@CANCELED_TAX),  
		 @CANCELED_INTEREST,@CANCELED_FEE,@CANCELED_TAX,  
		 @RETURN_PREMIUM+@CANCELED_INTEREST+@CANCELED_FEE+@CANCELED_TAX,null,null,    
		 @CREATED_BY,GETDATE(),null,null,@RETURN_PREMIUM,@CO_APPLICANT,0,0,null,null)  
	     
		  --SELECT * FROM #tempACT_POLICY_INSTALLMENT_DETAILS
	     
		 --insert into installment table all cancelled boletos amount with -ve 
		 --transaction amount for system reconcillation
		 --itrack # 1126 lastnote,1180-as discuss with Mr.Rajan
	      
	      
	      
		   SELECT 
		   @PREMIUM_AMOUNT =  SUM(INS.INSTALLMENT_AMOUNT)*-1,        
		   @INTREST_AMOUNT =  SUM(INS.INTEREST_AMOUNT)*-1,
		   @FEES_AMOUNT =  SUM(INS.FEE)*-1,
		   @TAXES_AMOUNT = SUM(INS.TAXES)*-1,
		   @TOTAL_AMOUNT = SUM(INS.TOTAL)*-1
			FROM ACT_POLICY_INSTALLMENT_DETAILS INS WITH(NOLOCK)
			JOIN 
			POL_CUSTOMER_POLICY_LIST PCPLC WITH(NOLOCK) 
			ON PCPLC.CUSTOMER_ID = INS.CUSTOMER_ID AND 
			PCPLC.POLICY_ID = INS.POLICY_ID AND PCPLC.POLICY_VERSION_ID = INS.POLICY_VERSION_ID
			WHERE INS.CUSTOMER_ID = @CUSTOMER_ID AND INS.POLICY_ID =@POLICY_ID AND PCPLC.CURRENT_TERM =@CURRENT_TERM
			AND UPPER(INS.RELEASED_STATUS) = 'C'
	      
		  UPDATE #tempACT_POLICY_INSTALL_PLAN_DATA SET 
		  TOTAL_PREMIUM = TOTAL_PREMIUM + @PREMIUM_AMOUNT,
		  TOTAL_INTEREST_AMOUNT = @INTREST_AMOUNT + TOTAL_INTEREST_AMOUNT,
		  TOTAL_FEES = @FEES_AMOUNT + TOTAL_FEES,
		  TOTAL_TAXES = @TAXES_AMOUNT + TOTAL_TAXES,
		  TOTAL_AMOUNT = @TOTAL_AMOUNT + TOTAL_AMOUNT,
		  TOTAL_TRAN_PREMIUM = @PREMIUM_AMOUNT + TOTAL_TRAN_PREMIUM,
		  TOTAL_TRAN_INTEREST_AMOUNT = @INTREST_AMOUNT + TOTAL_TRAN_INTEREST_AMOUNT,
		  TOTAL_TRAN_FEES = @FEES_AMOUNT + TOTAL_TRAN_FEES,
		  TOTAL_TRAN_TAXES = @TAXES_AMOUNT  + TOTAL_TRAN_TAXES,
		  TOTAL_TRAN_AMOUNT = @TOTAL_AMOUNT+ TOTAL_TRAN_AMOUNT
	      
		  --SELECT  * FROM #tempACT_POLICY_INSTALL_PLAN_DATA
	      
		  INSERT INTO #tempACT_POLICY_INSTALLMENT_DETAILS
		  (  
			POLICY_ID,
			POLICY_VERSION_ID,
			CUSTOMER_ID,
			APP_ID,
			APP_VERSION_ID,
			INSTALLMENT_AMOUNT,
			INSTALLMENT_EFFECTIVE_DATE,
			RELEASED_STATUS,    
			INSTALLMENT_NO,
			RISK_ID,
			RISK_TYPE,
			PAYMENT_MODE,
			CURRENT_TERM,
			PERCENTAG_OF_PREMIUM,
			INTEREST_AMOUNT,
			FEE,
			TAXES,
			TOTAL,
			TRAN_INTEREST_AMOUNT,    
			TRAN_FEE,
			TRAN_TAXES,
			TRAN_TOTAL,
			BOLETO_NO,
			IS_BOLETO_GENRATED,
			CREATED_BY,
			CREATED_DATETIME,
			MODIFIED_BY,
			LAST_UPDATED_DATETIME,    
			TRAN_PREMIUM_AMOUNT,
			CO_APPLICANT_ID,
			PAID_AMOUNT,
			RECEIVED_AMOUNT,
			RECEIVED_DATE,
			INSTALLMENT_EXPIRE_DATE  
		  )
		   SELECT  @POLICY_ID,
		   @POLICY_VERSION_ID,
			@CUSTOMER_ID ,
			@POLICY_ID,
			@POLICY_VERSION_ID,
			SUM(INS.INSTALLMENT_AMOUNT)*-1,
			GETDATE(),
			'U',
			2,
			NULL,
			'',
			0,
			@CURRENT_TERM,
			0,
			SUM(INS.INTEREST_AMOUNT)*-1,
			SUM(INS.FEE)*-1,
			 SUM(INS.TAXES)*-1,
			 SUM(INS.TOTAL)*-1,
		   SUM(INS.INTEREST_AMOUNT)*-1,
		   SUM(INS.FEE)*-1, 
		   SUM(INS.TAXES)*-1,
		   SUM(INS.TOTAL)*-1,
		   NULL,
		   NULL,
		   @CREATED_BY,
		   getdate(),
		   null,
		   null,
		   SUM(INS.INSTALLMENT_AMOUNT)*-1,
		   @CO_APPLICANT,
		   0,
		   NULL,null,null
	        
			FROM ACT_POLICY_INSTALLMENT_DETAILS INS WITH(NOLOCK)
			JOIN 
			POL_CUSTOMER_POLICY_LIST PCPLC WITH(NOLOCK) 
			ON PCPLC.CUSTOMER_ID = INS.CUSTOMER_ID AND 
			PCPLC.POLICY_ID = INS.POLICY_ID AND PCPLC.POLICY_VERSION_ID = INS.POLICY_VERSION_ID
			WHERE INS.CUSTOMER_ID = @CUSTOMER_ID AND INS.POLICY_ID =@POLICY_ID AND PCPLC.CURRENT_TERM =@CURRENT_TERM
			AND UPPER(INS.RELEASED_STATUS) = 'C'
	        
	     
	       
		  --SELECT * FROM #tempACT_POLICY_INSTALLMENT_DETAILS
	     
	    
	     
	    
	      
		END       
			ELSE			 
				BEGIN  
				SELECT @MAX_INSTALL_NO = MAX(ISNULL(INSTALLMENT_NO,0))+ 1 FROM ACT_POLICY_INSTALLMENT_DETAILS wHERE CUSTOMER_ID = @CUSTOMER_ID AND 
				POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID
				
				 UPDATE ACT_POLICY_INSTALLMENT_DETAILS SET RELEASED_STATUS = 'C' WHERE ROW_ID IN (      
				 SELECT INS.ROW_ID FROM ACT_POLICY_INSTALLMENT_DETAILS INS WITH(NOLOCK)      
				 INNER JOIN POL_CUSTOMER_POLICY_LIST POL WITH(NOLOCK) ON               
				 POL.CUSTOMER_ID = INS.CUSTOMER_ID AND       
				 POL.POLICY_ID = INS.POLICY_ID AND       
				 POL.POLICY_VERSION_ID = INS.POLICY_VERSION_ID      
				 WHERE INS.CUSTOMER_ID = @CUSTOMER_ID AND INS.POLICY_ID = @POLICY_ID AND INS.RELEASED_STATUS = 'N'       
				 AND POL.CURRENT_TERM = @CURRENT_TERM      
				 )    
			     
			     
				 UPDATE POL_INSTALLMENT_BOLETO SET IS_ACTIVE = 'N' WHERE INSTALLEMT_ID IN (      
				 SELECT INS.ROW_ID FROM ACT_POLICY_INSTALLMENT_DETAILS INS WITH(NOLOCK)      
				 INNER JOIN POL_CUSTOMER_POLICY_LIST POL WITH(NOLOCK) ON               
				 POL.CUSTOMER_ID = INS.CUSTOMER_ID AND       
				 POL.POLICY_ID = INS.POLICY_ID AND       
				 POL.POLICY_VERSION_ID = INS.POLICY_VERSION_ID      
				 WHERE INS.CUSTOMER_ID = @CUSTOMER_ID AND INS.POLICY_ID = @POLICY_ID AND INS.RELEASED_STATUS = 'C'       
				 AND POL.CURRENT_TERM = @CURRENT_TERM      
				 )       
			     SELECT @ROWCOUNT  = @ROWCOUNT  + @@ROWCOUNT   
			     
			     SELECT 
				   @PREMIUM_AMOUNT =  SUM(INS.INSTALLMENT_AMOUNT)*-1,        
				   @INTREST_AMOUNT =  SUM(INS.INTEREST_AMOUNT)*-1,
				   @FEES_AMOUNT =  SUM(INS.FEE)*-1,
				   @TAXES_AMOUNT = SUM(INS.TAXES)*-1,
				   @TOTAL_AMOUNT = SUM(INS.TOTAL)*-1
				FROM ACT_POLICY_INSTALLMENT_DETAILS INS WITH(NOLOCK)
				JOIN 
				POL_CUSTOMER_POLICY_LIST PCPLC WITH(NOLOCK) 
				ON PCPLC.CUSTOMER_ID = INS.CUSTOMER_ID AND 
				PCPLC.POLICY_ID = INS.POLICY_ID AND PCPLC.POLICY_VERSION_ID = INS.POLICY_VERSION_ID
				WHERE INS.CUSTOMER_ID = @CUSTOMER_ID AND INS.POLICY_ID =@POLICY_ID AND PCPLC.CURRENT_TERM =@CURRENT_TERM
				AND UPPER(INS.RELEASED_STATUS) = 'C'
	         
	        -- SELECT * FROM ACT_POLICY_INSTALLMENT_DETAILS wHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID

	           
		   INSERT INTO #tempACT_POLICY_INSTALL_PLAN_DATA 
		   SELECT TOP 1  * FROM 
			ACT_POLICY_INSTALL_PLAN_DATA WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID     
		   AND POLICY_VERSION_ID < @POLICY_VERSION_ID ORDER BY POLICY_VERSION_ID DESC    
	            
	            
	            
	       UPDATE #tempACT_POLICY_INSTALL_PLAN_DATA SET 
		  POLICY_VERSION_ID = @POLICY_VERSION_ID,
		  APP_VERSION_ID = @POLICY_VERSION_ID,
		  TOTAL_PREMIUM = TOTAL_PREMIUM + @PREMIUM_AMOUNT,
		  TOTAL_INTEREST_AMOUNT = @INTREST_AMOUNT + TOTAL_INTEREST_AMOUNT,
		  TOTAL_FEES = @FEES_AMOUNT + TOTAL_FEES,
		  TOTAL_TAXES = @TAXES_AMOUNT + TOTAL_TAXES,
		  TOTAL_AMOUNT = @TOTAL_AMOUNT + TOTAL_AMOUNT,
		  TOTAL_TRAN_PREMIUM = @PREMIUM_AMOUNT, --+ TOTAL_TRAN_PREMIUM,
		  TOTAL_TRAN_INTEREST_AMOUNT = @INTREST_AMOUNT, --+ TOTAL_TRAN_INTEREST_AMOUNT,
		  TOTAL_TRAN_FEES = @FEES_AMOUNT,--+ TOTAL_TRAN_FEES,
		  TOTAL_TRAN_TAXES = @TAXES_AMOUNT ,--+ TOTAL_TRAN_TAXES,
		  TOTAL_TRAN_AMOUNT = @TOTAL_AMOUNT --+ @TOTAL_AMOUNT
			--WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID --AND POLICY_VERSION_ID  = @POLICY_VERSION_ID
	    
		   INSERT INTO #tempACT_POLICY_INSTALLMENT_DETAILS(    
		   POLICY_ID,POLICY_VERSION_ID,CUSTOMER_ID,APP_ID,APP_VERSION_ID,INSTALLMENT_AMOUNT,INSTALLMENT_EFFECTIVE_DATE,RELEASED_STATUS,    
		   INSTALLMENT_NO,RISK_ID,RISK_TYPE,PAYMENT_MODE,CURRENT_TERM,PERCENTAG_OF_PREMIUM,INTEREST_AMOUNT,FEE,TAXES,TOTAL,TRAN_INTEREST_AMOUNT,    
		   TRAN_FEE,TRAN_TAXES,TRAN_TOTAL,BOLETO_NO,IS_BOLETO_GENRATED,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,    
		   TRAN_PREMIUM_AMOUNT,CO_APPLICANT_ID,PAID_AMOUNT,RECEIVED_AMOUNT,RECEIVED_DATE,INSTALLMENT_EXPIRE_DATE,ACC_CO_DISCOUNT)     
		   SELECT TOP 1 @POLICY_ID,@POLICY_VERSION_ID,@CUSTOMER_ID,@POLICY_ID,@POLICY_VERSION_ID,@PREMIUM_AMOUNT,GETDATE(),'U',    
		   1,RISK_ID,RISK_TYPE,PAYMENT_MODE,CURRENT_TERM,0,@INTREST_AMOUNT,@FEES_AMOUNT,@TAXES_AMOUNT,  
		   (@PREMIUM_AMOUNT+@INTREST_AMOUNT+ @FEES_AMOUNT+ @TAXES_AMOUNT),  
		   @INTREST_AMOUNT,@FEES_AMOUNT,@TAXES_AMOUNT,  
		   @PREMIUM_AMOUNT+@INTREST_AMOUNT+@FEES_AMOUNT+@TAXES_AMOUNT,null,null,    
		   @CREATED_BY,GETDATE(),null,null,@PREMIUM_AMOUNT,CO_APPLICANT_ID,0,0,null,null, null     
		   FROM ACT_POLICY_INSTALLMENT_DETAILS WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID < = POLICY_VERSION_ID ORDER BY INSTALLMENT_NO DESC    
	 		     
		END  
			
			
	     
  --insert return premium record in plan data table    
   INSERT INTO ACT_POLICY_INSTALL_PLAN_DATA      
   (POLICY_ID,POLICY_VERSION_ID,CUSTOMER_ID,PLAN_ID,APP_ID,APP_VERSION_ID,PLAN_DESCRIPTION,PLAN_TYPE,NO_OF_PAYMENTS,      
   MONTHS_BETWEEN,PERCENT_BREAKDOWN1,PERCENT_BREAKDOWN2,PERCENT_BREAKDOWN3,PERCENT_BREAKDOWN4,PERCENT_BREAKDOWN5,PERCENT_BREAKDOWN6,      
   PERCENT_BREAKDOWN7,PERCENT_BREAKDOWN8,PERCENT_BREAKDOWN9,PERCENT_BREAKDOWN10,PERCENT_BREAKDOWN11,PERCENT_BREAKDOWN12,MODE_OF_DOWN_PAYMENT,      
   INSTALLMENTS_IN_DOWN_PAYMENT,MODE_OF_PAYMENT,CURRENT_TERM,IS_ACTIVE_PLAN,TOTAL_PREMIUM,TOTAL_INTEREST_AMOUNT,TOTAL_FEES,TOTAL_TAXES,      
   TOTAL_AMOUNT,TRAN_TYPE,TOTAL_TRAN_PREMIUM,TOTAL_TRAN_INTEREST_AMOUNT,TOTAL_TRAN_FEES,TOTAL_TRAN_TAXES,TOTAL_TRAN_AMOUNT,CREATED_BY,      
   CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,TOTAL_CHANGE_INFORCE_PRM,PRM_DIST_TYPE,TOTAL_INFO_PRM,TOTAL_STATE_FEES,TOTAL_TRAN_STATE_FEES,      
   CO_APPLICANT_ID      
   )      
   SELECT @POLICY_ID,@POLICY_VERSION_ID,@CUSTOMER_ID,PLAN_ID,@POLICY_ID,@POLICY_VERSION_ID,PLAN_DESCRIPTION,PLAN_TYPE,1,      
   MONTHS_BETWEEN,PERCENT_BREAKDOWN1,PERCENT_BREAKDOWN2,PERCENT_BREAKDOWN3,PERCENT_BREAKDOWN4,PERCENT_BREAKDOWN5,PERCENT_BREAKDOWN6,      
   PERCENT_BREAKDOWN7,PERCENT_BREAKDOWN8,PERCENT_BREAKDOWN9,PERCENT_BREAKDOWN10,PERCENT_BREAKDOWN11,PERCENT_BREAKDOWN12,      
   MODE_OF_DOWN_PAYMENT,      
   INSTALLMENTS_IN_DOWN_PAYMENT,MODE_OF_PAYMENT,CURRENT_TERM,IS_ACTIVE_PLAN      
   ,TOTAL_PREMIUM,TOTAL_INTEREST_AMOUNT,TOTAL_FEES,TOTAL_TAXES,TOTAL_AMOUNT      
   ,'CAN',TOTAL_TRAN_PREMIUM,TOTAL_TRAN_INTEREST_AMOUNT,TOTAL_TRAN_FEES,TOTAL_TRAN_TAXES,TOTAL_TRAN_AMOUNT,@CREATED_BY,GETDATE(),null,null,TOTAL_TRAN_PREMIUM      
   ,PRM_DIST_TYPE,TOTAL_INFO_PRM,0,0,CO_APPLICANT_ID FROM #tempACT_POLICY_INSTALL_PLAN_DATA       
   SELECT @ROWCOUNT  = @ROWCOUNT  + @@ROWCOUNT      
         
          
   --insert return premium installment record in details table      
   INSERT INTO ACT_POLICY_INSTALLMENT_DETAILS (      
   POLICY_ID,POLICY_VERSION_ID,CUSTOMER_ID,APP_ID,APP_VERSION_ID,INSTALLMENT_AMOUNT,INSTALLMENT_EFFECTIVE_DATE,RELEASED_STATUS,      
   INSTALLMENT_NO,RISK_ID,RISK_TYPE,PAYMENT_MODE,CURRENT_TERM,PERCENTAG_OF_PREMIUM,INTEREST_AMOUNT,FEE,TAXES,TOTAL,TRAN_INTEREST_AMOUNT,      
   TRAN_FEE,TRAN_TAXES,TRAN_TOTAL,BOLETO_NO,IS_BOLETO_GENRATED,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,      
   TRAN_PREMIUM_AMOUNT,CO_APPLICANT_ID,PAID_AMOUNT,INSTALLMENT_EXPIRE_DATE)       
   SELECT  @POLICY_ID,@POLICY_VERSION_ID,@CUSTOMER_ID,@POLICY_ID,@POLICY_VERSION_ID,INSTALLMENT_AMOUNT,GETDATE(),RELEASED_STATUS,      
   INSTALLMENT_NO,RISK_ID,RISK_TYPE,PAYMENT_MODE,CURRENT_TERM,0,INTEREST_AMOUNT,FEE,TAXES,TOTAL,TRAN_INTEREST_AMOUNT,TRAN_FEE,TRAN_TAXES,TRAN_TOTAL,null,null,      
   @CREATED_BY,GETDATE(),null,null,TRAN_PREMIUM_AMOUNT,CO_APPLICANT_ID ,0,GETDATE()       
   FROM #tempACT_POLICY_INSTALLMENT_DETAILS       
    SELECT @ROWCOUNT  = @ROWCOUNT  + @@ROWCOUNT      
      
     SELECT @CANCILLATION_TRAN_PREMIUM  = TOTAL_TRAN_PREMIUM FROM  ACT_POLICY_INSTALL_PLAN_DATA
     WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID =@POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID
      
    ---Update policy covrages premium from cancellation transaction premium  
    BEGIN TRY
			EXEC PROC_DistCancellationPremiumInCoverages @CUSTOMER_ID,@POLICY_ID,@POLICY_VERSION_ID
     END TRY 
    BEGIN CATCH 
	END CATCH
  
  --drop temp table    
  DROP TABLE #tempACT_POLICY_INSTALLMENT_DETAILS    
  DROP TABLE #tempACT_POLICY_INSTALL_PLAN_DATA    
      
  SELECT @ROWCOUNT [ROW_COUNT] 
  SET @RET_VAL =@ROWCOUNT    
      
      
END
--GO
-- --28070 , 468 ,2 ,-1126.21
--EXEC Proc_CANCEL_POLICY_BOLETOS 28070,601,2,11990,0,398,null,null  
----select * from  ACT_POLICY_INSTALL_PLAN_DATA where CUSTOMER_ID = 28070 and POLICY_ID = 601
----select INSTALLMENT_EFFECTIVE_DATE,INSTALLMENT_EXPIRE_DATE,RELEASED_STATUS,* from  ACT_POLICY_INSTALLMENT_DETAILS WITH(NOLOCK) where CUSTOMER_ID = 28070 and POLICY_ID = 601
--SELECT WRITTEN_PREMIUM,* FROM POL_PRODUCT_COVERAGES where CUSTOMER_ID = 28070 and POLICY_ID = 601 AND POLICY_VERSION_ID = 2
----select IS_ACTIVE,* from  POL_INSTALLMENT_BOLETO where CUSTOMER_ID = 28070 and POLICY_ID = 488
--ROLLBACK TRAN


GO

