IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_Get_ACT_AGENCY_OPEN_ITEMS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_Get_ACT_AGENCY_OPEN_ITEMS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*---------------------------------------------------------------------------
Created By		: Vijay Joshi
Created Date	: 30-Aug-2005
Purpose			: To get the open items of any agency of the specified month, year
-----------------------------------------------------------------------------*/
-- DROP PROC dbo.Proc_Get_ACT_AGENCY_OPEN_ITEMS
CREATE PROC dbo.Proc_Get_ACT_AGENCY_OPEN_ITEMS
(
	@AGENCY_ID 	int,
	@MONTH		int,
	@YEAR		INT,
	@CD_LINE_ITEM_ID INT = NULL
)
AS
BEGIN
	
	SELECT 
		CASE ISNULL(AOI.ROW_ID,0) 
		WHEN 0 THEN 'False'
		else  'True' END as SELECTED_ITEMS ,
		AOI.ROW_ID, AOI.POLICY_ID, AOI.POLICY_VERSION_ID,
		--AOI.DUE_AMOUNT, 
		CONVERT(VARCHAR(30),CONVERT(MONEY,AOI.DUE_AMOUNT),1) DUE_AMOUNT,  
		--AOI.TOTAL_PAID, 
		CONVERT(VARCHAR(30),CONVERT(MONEY,AOI.TOTAL_PAID),1) TOTAL_PAID,  
		--IsNull(AOI.DUE_AMOUNT,0) - IsNull(AOI.TOTAL_PAID,0) as NET_DUE,
		CONVERT(VARCHAR(30),CONVERT(MONEY,IsNull(AOI.DUE_AMOUNT,0) - IsNull(AOI.TOTAL_PAID,0)),1) NET_DUE,  
		CPL.POLICY_NUMBER, SOURCE_ROW_ID,
		ISNULL(CLT.CUSTOMER_FIRST_NAME, '') + ' ' + ISNULL(CLT.CUSTOMER_MIDDLE_NAME, '') + ' ' + ISNULL(CLT.CUSTOMER_LAST_NAME, '') CUSTOMER_NAME,
		AOI.TRAN_TYPE, LOB.LOB_CODE AS LOB_CODE,
		--ARGD.RECON_AMOUNT,
		CONVERT(VARCHAR(30),CONVERT(MONEY,ARGD.RECON_AMOUNT),1) RECON_AMOUNT  
	FROM 
		ACT_AGENCY_STATEMENT AOI
	left JOIN ACT_RECONCILIATION_GROUPS ARG ON arg.RECON_ENTITY_ID = aoi.agency_id AND ARG.CD_LINE_ITEM_ID = @CD_LINE_ITEM_ID
	LEFT JOIN ACT_AGENCY_RECON_GROUP_DETAILS  ARGD ON AOI.ROW_ID = ARGD.ITEM_REFERENCE_ID and ARG.GROUP_ID = ARGD.GROUP_ID 
	INNER JOIN 
		POL_CUSTOMER_POLICY_LIST CPL ON CPL.POLICY_ID = AOI.POLICY_ID AND CPL.POLICY_VERSION_ID = AOI.POLICY_VERSION_ID
			AND CPL.CUSTOMER_ID = AOI.CUSTOMER_ID 
	INNER JOIN CLT_CUSTOMER_LIST CLT ON
		CLT.CUSTOMER_ID = AOI.CUSTOMER_ID
	LEFT JOIN MNT_LOB_MASTER LOB ON LOB.LOB_ID = CPL.POLICY_LOB
	WHERE 
		AOI.AGENCY_ID = @AGENCY_ID AND isNull(DUE_AMOUNT,0) <> IsNull(TOTAL_PAID,0) 
		AND MONTH_NUMBER = @MONTH AND MONTH_YEAR = @YEAR
		AND AOI.COMM_TYPE = 'REG'

	order by cpl.policy_number
END




GO

