IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_ProcessPrebillToNormalPosting]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_ProcessPrebillToNormalPosting]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--drop proc Proc_ProcessPrebillToNormalPosting
CREATE PROC dbo.Proc_ProcessPrebillToNormalPosting
AS                  
BEGIN                  

DECLARE @FISCAL_ID SMALLINT,
	@EOD_DATE DateTime
SET @EOD_DATE  = DATEADD(dd,1, GETDATE())  

SELECT @FISCAL_ID = FISCAL_ID 
FROM ACT_GENERAL_LEDGER 
WHERE FISCAL_BEGIN_DATE <= CAST(CONVERT(VARCHAR,@EOD_DATE,101) AS DATETIME) 
	AND FISCAL_END_DATE >= CAST(CONVERT(VARCHAR,@EOD_DATE,101) AS DATETIME)

DECLARE @UNCOLLECTED_PREMIUM_AB_SUSPENSE SMALLINT, --Contains Suspense Premium account number  
	@UNCOLLECTED_PREMIUM_DB_SUSPENSE SmallInt,
	@OTHER_FEES_ACCOUNT_AB_SUSPENSE  SMALLINT, --Contains Suspense Other fee account number  
	@OTHER_FEES_ACCOUNT_DB_SUSPENSE  SMALLINT,
	@PREMIUM_WRITTTEN_AB_SUSPENSE	 SMALLINT, --Contains Suspense Premium income account number  
	@PREMIUM_WRITTTEN_DB_SUSPENSE	 SMALLINT,
	@COMM_EXPENSE_AB_SUSPENSE	 SMALLINT, --Contains Suspense Comm expense account number  
	@COMM_EXPENSE_DB_SUSPENSE	 SMALLINT,
	@COMM_PAYABLE_AB_SUSPENSE	 SMALLINT, --Contains Suspense Commission payable account number  
	@COMM_PAYABLE_DB_SUSPENSE	 SMALLINT, 
	
	@UNCOLLECTED_PREMIUM_AB		SMALLINT, --Contains Premium account number  
	@UNCOLLECTED_PREMIUM_DB		SmallInt,
	@OTHER_FEES_ACCOUNT		SMALLINT, --Contains Other fee account number  
	@PREMIUM_WRITTTEN		SMALLINT, --Contains Premium income account number  
	@COMM_EXPENSE			SMALLINT, --Contains Comm expense account number  
	@COMM_PAYABLE_AB		SMALLINT, --Contains Commission payable account number  
	@COMM_PAYABLE_DB		SMALLINT 

SELECT 	@UNCOLLECTED_PREMIUM_AB_SUSPENSE = AST_UNCOLL_PRM_SUSPENSE_AGENCY_BILL,
	@UNCOLLECTED_PREMIUM_DB_SUSPENSE = AST_UNCOLL_PREM_IN_SUSPENSE_DIRECT_BILL,
	@OTHER_FEES_ACCOUNT_AB_SUSPENSE  = AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_AGENCY_BILL,
	@OTHER_FEES_ACCOUNT_DB_SUSPENSE  = AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_DIRECT_BILL,
	@PREMIUM_WRITTTEN_AB_SUSPENSE	 = AST_PRM_WRIT_SUSPENSE_AGENCY_BILL,
	@PREMIUM_WRITTTEN_DB_SUSPENSE	 = AST_PRM_WRIT_SUSPENSE_DIRECT_BILL,
	@COMM_EXPENSE_AB_SUSPENSE	 = AST_COMM_EXPENSE_IN_SUSPENSE_AGENCY_BILL,
	@COMM_EXPENSE_DB_SUSPENSE	 = AST_COMM_EXPENSE_IN_SUSPENSE_DIRECT_BILL,
	@COMM_PAYABLE_AB_SUSPENSE	 = AST_COMM_PAYABLE_IN_SUSPENSE_AGENCY_BILL,
	@COMM_PAYABLE_DB_SUSPENSE	 = AST_COMM_PAYABLE_IN_SUSPENSE_DIRECT_BILL,
	@UNCOLLECTED_PREMIUM_AB		 = AST_UNCOLL_PRM_AGENCY,
	@UNCOLLECTED_PREMIUM_DB		 = AST_UNCOLL_PRM_CUSTOMER,
	@OTHER_FEES_ACCOUNT		 = INC_PRM_WRTN_OTH_STATE_ASSESS_FEE,
	@PREMIUM_WRITTTEN		 = INC_PRM_WRTN,
	@COMM_EXPENSE			 = EXP_COMM_INCURRED,
	@COMM_PAYABLE_AB		 = LIB_COMM_PAYB_AGENCY_BILL,
	@COMM_PAYABLE_DB		 = LIB_COMM_PAYB_DIRECT_BILL
FROM ACT_GENERAL_LEDGER  
WHERE FISCAL_ID = @FISCAL_ID   


CREATE TABLE #RECORDS_TO_PROCESS
(
	IDEN_COL 		Int Identity(1,1) not null,
	APD_ROW_ID		Int,
	ACCOUNT_ID		Int
)

INSERT INTO  #RECORDS_TO_PROCESS(
	APD_ROW_ID, ACCOUNT_ID 
	)
SELECT APD.IDENTITY_ROW_ID , APD.ACCOUNT_ID  
FROM  ACT_ACCOUNTS_POSTING_DETAILS APD WITH(NOLOCK)
WHERE CAST(CONVERT(VARCHAR,APD.SOURCE_EFF_DATE,101) AS DATETIME) 
	<= CAST(CONVERT(VARCHAR,@EOD_DATE,101) AS DATETIME)
AND ISNULL(IS_PREBILL,0) = 1

-- Create reverse entries for prebill entries
INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS(
	ACCOUNT_ID,UPDATED_FROM,SUBLEDGER_TYPE,SOURCE_ROW_ID,MAPPING_SUBLEDGER_ID,SOURCE_NUM,SOURCE_TRAN_DATE,
	SOURCE_EFF_DATE,POSTING_DATE,TRANSACTION_AMOUNT,AGENCY_COMM_PERC,AGENCY_COMM_AMT,AGENCY_ID,CUSTOMER_ID,
	POLICY_ID,POLICY_VERSION_ID,DIV_ID,DEPT_ID,PC_ID,IS_PREBILL,BILL_CODE,GROSS_AMOUNT,ITEM_TRAN_CODE,
	ITEM_TRAN_CODE_TYPE,TRAN_ID,LOB_ID,SUB_LOB_ID,COUNTRY_ID,STATE_ID,VENDOR_ID,TAX_ID,ADNL_INFO,IS_BANK_RECONCILED,
	RECUR_JOURNAL_VERSION,IN_BNK_RECON,IS_BALANCE_UPDATED,COMMITED_BY,COMMITED_BY_CODE,COMMITED_BY_NAME,
	COMMISSION_TYPE,RISK_ID,RISK_TYPE,SOURCE_GROUP_ID,TRAN_ENTITY,TRAN_DESC
	) 
SELECT 	ACCOUNT_ID,UPDATED_FROM,SUBLEDGER_TYPE,SOURCE_ROW_ID,MAPPING_SUBLEDGER_ID,SOURCE_NUM, @EOD_DATE ,
	@EOD_DATE , @EOD_DATE , TRANSACTION_AMOUNT * -1 ,AGENCY_COMM_PERC,AGENCY_COMM_AMT,AGENCY_ID,CUSTOMER_ID,
	POLICY_ID,POLICY_VERSION_ID,DIV_ID,DEPT_ID,PC_ID,0,BILL_CODE,GROSS_AMOUNT,ITEM_TRAN_CODE,
	ITEM_TRAN_CODE_TYPE,TRAN_ID,LOB_ID,SUB_LOB_ID,COUNTRY_ID,STATE_ID,VENDOR_ID,TAX_ID,ADNL_INFO,IS_BANK_RECONCILED,
	RECUR_JOURNAL_VERSION,IN_BNK_RECON,IS_BALANCE_UPDATED,COMMITED_BY,COMMITED_BY_CODE,COMMITED_BY_NAME,
	COMMISSION_TYPE,RISK_ID,RISK_TYPE,SOURCE_GROUP_ID,TRAN_ENTITY,TRAN_DESC
FROM 	ACT_ACCOUNTS_POSTING_DETAILS 
WHERE  ACCOUNT_ID IN ( 
			@UNCOLLECTED_PREMIUM_AB_SUSPENSE ,@UNCOLLECTED_PREMIUM_DB_SUSPENSE ,
			@OTHER_FEES_ACCOUNT_AB_SUSPENSE  ,@OTHER_FEES_ACCOUNT_DB_SUSPENSE ,
			@PREMIUM_WRITTTEN_AB_SUSPENSE , @PREMIUM_WRITTTEN_DB_SUSPENSE ,
			@COMM_EXPENSE_AB_SUSPENSE , @COMM_EXPENSE_DB_SUSPENSE	,
			@COMM_PAYABLE_AB_SUSPENSE ,@COMM_PAYABLE_DB_SUSPENSE	
		     )	
AND IDENTITY_ROW_ID IN (SELECT APD_ROW_ID FROM #RECORDS_TO_PROCESS)

-- --- Create New Entry with Normal Account
-- 	@UNCOLLECTED_PREMIUM_AB			@UNCOLLECTED_PREMIUM_DB		
-- 	@OTHER_FEES_ACCOUNT		
-- 	@PREMIUM_WRITTTEN		
-- 	@COMM_EXPENSE			
-- 	@COMM_PAYABLE_AB			@COMM_PAYABLE_DB		

INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS(
	ACCOUNT_ID,UPDATED_FROM,SUBLEDGER_TYPE,SOURCE_ROW_ID,MAPPING_SUBLEDGER_ID,SOURCE_NUM,SOURCE_TRAN_DATE,
	SOURCE_EFF_DATE,POSTING_DATE,TRANSACTION_AMOUNT,AGENCY_COMM_PERC,AGENCY_COMM_AMT,AGENCY_ID,CUSTOMER_ID,
	POLICY_ID,POLICY_VERSION_ID,DIV_ID,DEPT_ID,PC_ID,IS_PREBILL,BILL_CODE,GROSS_AMOUNT,ITEM_TRAN_CODE,
	ITEM_TRAN_CODE_TYPE,TRAN_ID,LOB_ID,SUB_LOB_ID,COUNTRY_ID,STATE_ID,VENDOR_ID,TAX_ID,ADNL_INFO,IS_BANK_RECONCILED,
	RECUR_JOURNAL_VERSION,IN_BNK_RECON,IS_BALANCE_UPDATED,COMMITED_BY,COMMITED_BY_CODE,COMMITED_BY_NAME,
	COMMISSION_TYPE,RISK_ID,RISK_TYPE,SOURCE_GROUP_ID,TRAN_ENTITY,TRAN_DESC
	) 
SELECT 	CASE 
		WHEN	ACCOUNT_ID = @UNCOLLECTED_PREMIUM_AB_SUSPENSE THEN @UNCOLLECTED_PREMIUM_AB
		WHEN	ACCOUNT_ID = @UNCOLLECTED_PREMIUM_DB_SUSPENSE THEN @UNCOLLECTED_PREMIUM_DB
		WHEN	ACCOUNT_ID = @OTHER_FEES_ACCOUNT_AB_SUSPENSE AND ITEM_TRAN_CODE_TYPE = 'FEES' THEN @OTHER_FEES_ACCOUNT
		WHEN	ACCOUNT_ID = @OTHER_FEES_ACCOUNT_DB_SUSPENSE AND ITEM_TRAN_CODE_TYPE = 'FEES' THEN @OTHER_FEES_ACCOUNT
		WHEN	ACCOUNT_ID = @PREMIUM_WRITTTEN_AB_SUSPENSE   AND ITEM_TRAN_CODE_TYPE = 'PREM' THEN @PREMIUM_WRITTTEN 
		WHEN 	ACCOUNT_ID = @PREMIUM_WRITTTEN_DB_SUSPENSE   AND ITEM_TRAN_CODE_TYPE = 'PREM' THEN @PREMIUM_WRITTTEN
		WHEN	ACCOUNT_ID = @COMM_EXPENSE_AB_SUSPENSE 	 THEN @COMM_EXPENSE
		WHEN	ACCOUNT_ID = @COMM_EXPENSE_DB_SUSPENSE	 THEN @COMM_EXPENSE
		WHEN	ACCOUNT_ID = @COMM_PAYABLE_AB_SUSPENSE 	 THEN @COMM_PAYABLE_AB
		WHEN	ACCOUNT_ID = @COMM_PAYABLE_DB_SUSPENSE	 THEN @COMM_PAYABLE_DB
	END,
	UPDATED_FROM,SUBLEDGER_TYPE,SOURCE_ROW_ID,MAPPING_SUBLEDGER_ID,SOURCE_NUM, @EOD_DATE ,
	@EOD_DATE , @EOD_DATE , TRANSACTION_AMOUNT ,AGENCY_COMM_PERC,AGENCY_COMM_AMT,AGENCY_ID,CUSTOMER_ID,
	POLICY_ID,POLICY_VERSION_ID,DIV_ID,DEPT_ID,PC_ID,0,BILL_CODE,GROSS_AMOUNT,ITEM_TRAN_CODE,
	ITEM_TRAN_CODE_TYPE,TRAN_ID,LOB_ID,SUB_LOB_ID,COUNTRY_ID,STATE_ID,VENDOR_ID,TAX_ID,ADNL_INFO,IS_BANK_RECONCILED,
	RECUR_JOURNAL_VERSION,IN_BNK_RECON,IS_BALANCE_UPDATED,COMMITED_BY,COMMITED_BY_CODE,COMMITED_BY_NAME,
	COMMISSION_TYPE,RISK_ID,RISK_TYPE,SOURCE_GROUP_ID,TRAN_ENTITY,TRAN_DESC
FROM 	ACT_ACCOUNTS_POSTING_DETAILS 
WHERE  ACCOUNT_ID IN ( 
			@UNCOLLECTED_PREMIUM_AB_SUSPENSE ,@UNCOLLECTED_PREMIUM_DB_SUSPENSE ,
			@OTHER_FEES_ACCOUNT_AB_SUSPENSE  ,@OTHER_FEES_ACCOUNT_DB_SUSPENSE ,
			@PREMIUM_WRITTTEN_AB_SUSPENSE , @PREMIUM_WRITTTEN_DB_SUSPENSE ,
			@COMM_EXPENSE_AB_SUSPENSE , @COMM_EXPENSE_DB_SUSPENSE	,
			@COMM_PAYABLE_AB_SUSPENSE ,@COMM_PAYABLE_DB_SUSPENSE	
		    )	
AND IDENTITY_ROW_ID IN (SELECT APD_ROW_ID FROM #RECORDS_TO_PROCESS)


-- Mark processed records as not prebill 
UPDATE ACT_ACCOUNTS_POSTING_DETAILS SET IS_PREBILL = 0
WHERE IDENTITY_ROW_ID IN (SELECT APD_ROW_ID FROM #RECORDS_TO_PROCESS)

UPDATE ACT_CUSTOMER_OPEN_ITEMS SET IS_PREBILL = 0 
WHERE CAST(CONVERT(VARCHAR,SOURCE_TRAN_DATE,101) AS  DATETIME) <= 
		CAST(CONVERT(VARCHAR,@EOD_DATE,101) AS DATETIME) 
AND ISNULL(IS_PREBILL,0) = 1

UPDATE ACT_AGENCY_OPEN_ITEMS SET IS_PREBILL = 0 
WHERE CAST(CONVERT(VARCHAR,SOURCE_TRAN_DATE,101) AS DATETIME ) 
	<= CAST(CONVERT(VARCHAR,@EOD_DATE,101) AS DATETIME)
AND ISNULL(IS_PREBILL,0) = 1

DROP TABLE #RECORDS_TO_PROCESS

RETURN 1

END







GO

