IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RPT_PROC_RENTAL_ENF_REPLCOST_NE_COVA]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[RPT_PROC_RENTAL_ENF_REPLCOST_NE_COVA]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*********************************************************************
CREATED BY	:	ANURAG VERMA
CREATED ON	:	10/30/2009
PURPOSE		:	This is a query to fetch details of enforce rental policies 
				for which replacement cost is not equal to COV A
**********************************************************************/

CREATE PROC [RPT_PROC_RENTAL_ENF_REPLCOST_NE_COVA]
AS
SELECT  POLICY_NUMBER,CONVERT(VARCHAR(12),APP_EFFECTIVE_DATE,101) [EFFECTIVE DATE],CONVERT(VARCHAR(12),APP_EXPIRATION_DATE,101) [EXPIRATION DATE],REPLACEMENT_COST,LIMIT_1 [COV A]
FROM
  POL_CUSTOMER_POLICY_LIST PCPL WITH ( NOLOCK )
  INNER JOIN POL_POLICY_PROCESS PPP WITH (NOLOCK) ON PPP.CUSTOMER_ID = PCPL.CUSTOMER_ID AND PPP.POLICY_ID = PCPL.POLICY_ID
       AND PCPL.POLICY_VERSION_ID = PPP.NEW_POLICY_VERSION_ID
       AND PCPL.POLICY_VERSION_ID >= (
                                       SELECT MIN(NEW_POLICY_VERSION_ID) FROM POL_POLICY_PROCESS WITH (NOLOCK)
                                       WHERE CUSTOMER_ID = PPP.CUSTOMER_ID AND POLICY_ID = PPP.POLICY_ID
                                        AND PROCESS_ID IN ( 25, 18 ) AND PROCESS_STATUS = 'COMPLETE'
                                        AND ISNULL(REVERT_BACK, '') <> 'Y'
                                     )
       AND PPP.PROCESS_STATUS = 'COMPLETE'
	INNER JOIN POL_DWELLINGS_INFO PDI WITH (NOLOCK)	ON
	PDI.CUSTOMER_ID=PCPL.CUSTOMER_ID AND PDI.POLICY_ID=PCPL.POLICY_ID AND PDI.POLICY_VERSION_ID=PCPL.POLICY_VERSION_ID	
	INNER JOIN POL_DWELLING_SECTION_COVERAGES PDSC WITH (NOLOCK) ON PDI.CUSTOMER_ID=PDSC.CUSTOMER_ID AND PDI.POLICY_ID=PDSC.POLICY_ID AND 
	PDI.POLICY_VERSION_ID=PDSC.POLICY_VERSION_ID AND PDI.DWELLING_ID=PDSC.DWELLING_ID
WHERE
  POLICY_STATUS = 'NORMAL'
  AND APP_EXPIRATION_DATE >= GETDATE()
  AND APP_EFFECTIVE_DATE <= GETDATE()
  AND POLICY_LOB=6	
  AND COVERAGE_CODE_ID IN (773,793)	
  AND CAST(REPLACEMENT_COST AS INT)<>CAST(LIMIT_1 AS INT)	
ORDER BY POLICY_NUMBER




GO

