 IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_SUSEP_TRACSACTIONS_LEGAL_CLAIM]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_SUSEP_TRACSACTIONS_LEGAL_CLAIM]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


-- =============================================  
-- Author:  <SHIKHA CHOURASIYA>  
-- Create date: <08/10/2011>  
-- Description: <SINJUDAV - Transactions of Legal Claim ITrack - 1078 - TFS Bug # 199>  
-- DROP PROC PROC_SUSEP_TRACSACTIONS_LEGAL_CLAIM  
-- EXEC PROC_SUSEP_TRACSACTIONS_LEGAL_CLAIM '08-07-2011','SK000249'   
-- =============================================  
CREATE PROC [dbo].[PROC_SUSEP_TRACSACTIONS_LEGAL_CLAIM] --SINJUDAV - Transactions of Legal Claim          
@DATETIME DATETIME,            
@CLAIM_NUMBER NVARCHAR(21)=NULL            
AS          
BEGIN            
 SET NOCOUNT ON;           
 DECLARE @MONTH VARCHAR(2)          
 DECLARE @YEAR VARCHAR(4) 
  DECLARE @CLIENT_ID INT
 DECLARE @POLICY_ID INT
 DECLARE @POLICY_VERSION_ID INT              
           
 SET @MONTH = DATEPART(MM,@DATETIME)          
 SET @YEAR = DATEPART(YYYY,@DATETIME)          
 IF(LEN(@MONTH)<2)          
  SET @MONTH='0'+@MONTH     
  SELECT  @CLIENT_ID = CUSTOMER_ID, @POLICY_ID = POLICY_ID, @POLICY_VERSION_ID = POLICY_VERSION_ID FROM CLM_CLAIM_INFO WHERE CLAIM_NUMBER = @CLAIM_NUMBER; 
  with TranLog
as
(
SELECT MTX.TRANS_ID,MTL.TRANS_TYPE_ID,MTL.RECORD_DATE_TIME,
CAST(MTX.TRANS_DETAILS as XML).value('(/LabelFieldMapping/Map/@field)[1]', 'nvarchar(max)') as FieldName,
CAST(MTX.TRANS_DETAILS as XML).value('(/LabelFieldMapping/Map/@NewValue)[1]', 'nvarchar(max)') as NewValue,
CAST(MTX.TRANS_DETAILS as XML).value('(/LabelFieldMapping/Map/@OldValue)[1]', 'nvarchar(max)') as OldValue,
MTL.CLIENT_ID ,MTL.POLICY_ID ,MTL.POLICY_VER_TRACKING_ID 
FROM 
 MNT_TRANSACTION_LOG MTL
LEFT OUTER JOIN MNT_TRANSACTION_XML MTX ON MTL.TRANS_ID = MTX.TRANS_ID 
WHERE --CLIENT_ID = 6157 and POLICY_ID = 154 and POLICY_VER_TRACKING_ID = 2 
 ISnull(CAST(MTX.TRANS_DETAILS AS VARCHAR(MAX)),'') <> ''
AND  CAST(MTX.TRANS_DETAILS as XML).value('(/LabelFieldMapping/Map/@field)[1]', 'nvarchar(max)')='OPERATION_REASON'
),
/*       
 --------------------------- CREATE TEMPORARY TABLE FOR HOLDING VALUES --------------------------           
 CREATE TABLE #TEMPTABLE            
 (            
 SEQUENCE_NO INT IDENTITY(1,1),          
 OFFICIAL_CLAIM_NUM VARCHAR(20),          
 JUDICIAL_PROCESS_NO VARCHAR(20),          
 PLAINTIFF_NAME VARCHAR(40),          
 PLAINTIFF_CPF_CNPG NVARCHAR(40),          
 JUDICIAL_COMPLAINT_STATE VARCHAR(2),          
 OUTSTANDING_RESERVE_AMOUNT DECIMAL(16,2),          
 PLAINTIFF_REQUESTED_AMOUNT DECIMAL(16,2),          
 DEFEDANT_OFFERED_AMOUNT DECIMAL(16,2),          
 TOTAL_AMOUNT DECIMAL(16,2),          
 ESTIMATE_CLASSIFICATION VARCHAR(1),          
 TOTAL_SUM_INSURED_AMOUNT DECIMAL(16,2),          
 JUDICIAL_PROCESS_DATE VARCHAR(10),          
 OPERATION_REASON VARCHAR(2)          
 )          
           
 INSERT INTO #TEMPTABLE (          
 OFFICIAL_CLAIM_NUM,          
 JUDICIAL_PROCESS_NO,          
 PLAINTIFF_NAME,          
 PLAINTIFF_CPF_CNPG,          
 JUDICIAL_COMPLAINT_STATE,          
 OUTSTANDING_RESERVE_AMOUNT,          
 PLAINTIFF_REQUESTED_AMOUNT,          
 DEFEDANT_OFFERED_AMOUNT,          
 TOTAL_AMOUNT,          
 ESTIMATE_CLASSIFICATION,          
 TOTAL_SUM_INSURED_AMOUNT,          
 JUDICIAL_PROCESS_DATE,          
 OPERATION_REASON          
 )        */
   SelectTable as
 (    
  SELECT       
 RIGHT('                    '+CONVERT(VARCHAR(20),CCI.OFFCIAL_CLAIM_NUMBER),20) AS OFFICIAL_CLAIM_NUM,       
 RIGHT('                    '+CLI.JUDICIAL_PROCESS_NO,20) AS JUDICIAL_PROCESS_NO,          
 CLI.PLAINTIFF_NAME AS PLAINTIFF_NAME,          
 RIGHT('               '+REPLACE(REPLACE(REPLACE(CLI.PLAINTIFF_CPF,'-',''),'/',''),'.',''),15) AS PLAINTIFF_CPF_CNPG,          
 MCSL.STATE_CODE AS JUDICIAL_COMPLAINT_STATE,           
 CCI.OUTSTANDING_RESERVE AS OUTSTANDING_RESERVE_AMOUNT,          
 CLI.PLAINTIFF_REQUESTED_AMOUNT ,          
 CLI.DEFEDANT_OFFERED_AMOUNT , 
 CASE     
 WHEN (CA.ACTION_ON_PAYMENT = 165) THEN     
 (    
 SELECT CLAIM_RESERVE_AMOUNT FROM CLM_ACTIVITY CA1  WITH(NOLOCK)  
 WHERE CLAIM_ID=CCI.CLAIM_ID AND ACTION_ON_PAYMENT=165 AND IS_LEGAL='Y' AND CA1.ACTIVITY_ID = CA.ACTIVITY_ID    
  )    
 WHEN (CA.ACTION_ON_PAYMENT = 166) THEN     
 (    
 SELECT SUM(RESERVE_AMOUNT)  FROM CLM_ACTIVITY CA1  WITH(NOLOCK)
 WHERE CLAIM_ID=CCI.CLAIM_ID AND ACTION_ON_PAYMENT=166 AND IS_LEGAL='Y' AND IS_ACTIVE='Y' AND IS_VOIDED_REVERSED_ACTIVITY IS NULL  AND CA1.ACTIVITY_ID = CA.ACTIVITY_ID     
 )    
 WHEN (CA.ACTION_ON_PAYMENT IN (180,181))THEN     
 (    
 SELECT TOP 1 (PAYMENT_AMOUNT + EXPENSES) AS PAYMENT_AMT  FROM CLM_ACTIVITY CA1  WITH(NOLOCK)   
 WHERE CLAIM_ID=CCI.CLAIM_ID AND ACTION_ON_PAYMENT IN(180,181) AND IS_LEGAL='Y' AND IS_ACTIVE='Y' AND IS_VOIDED_REVERSED_ACTIVITY IS NULL AND CA1.ACTIVITY_ID = CA.ACTIVITY_ID       
 ORDER BY ACTIVITY_ID desc    
 )  
 ELSE      
 (    
 SELECT SUM(ISNULL(OUTSTANDING_TRAN,0)) FROM CLM_ACTIVITY_RESERVE CAR     
 INNER JOIN CLM_PRODUCT_COVERAGES TCPC ON CAR.CLAIM_ID=TCPC.CLAIM_ID AND CAR.COVERAGE_ID=TCPC.CLAIM_COV_ID AND CAR.CLAIM_ID=CCI.CLAIM_ID    
 --WHERE TCPC.IS_RISK_COVERAGE='Y'    
 )      
 END AS TOTAL_AMOUNT    
 --CASE     
 --WHEN (CLI.OPERATION_REASON = '14717') THEN     
 --(    
 --SELECT CLAIM_RESERVE_AMOUNT FROM CLM_ACTIVITY    
 --WHERE CLAIM_ID=CCI.CLAIM_ID AND ACTION_ON_PAYMENT=165 AND IS_LEGAL='Y'    
 -- )    
 --WHEN (CLI.OPERATION_REASON = '14726' ) THEN     
 --(    
 --SELECT SUM(RESERVE_AMOUNT)  FROM CLM_ACTIVITY    
 --WHERE CLAIM_ID=CCI.CLAIM_ID AND ACTION_ON_PAYMENT=166 AND IS_LEGAL='Y' AND IS_ACTIVE='Y' AND IS_VOIDED_REVERSED_ACTIVITY IS NULL      
 --)    
 --WHEN (CLI.OPERATION_REASON = '14727')THEN     
 --(    
 --   SELECT TOP 1 CLAIM_PAYMENT_AMOUNT  FROM CLM_ACTIVITY    
 --WHERE CLAIM_ID=CCI.CLAIM_ID AND ACTION_ON_PAYMENT IN(180,181) AND IS_LEGAL='Y' AND IS_ACTIVE='Y' AND IS_VOIDED_REVERSED_ACTIVITY IS NULL      
 --ORDER BY ACTIVITY_ID desc    
 --)      
 --WHEN (CLI.OPERATION_REASON IN ('14718','14719','14720','14721','14722','14723','14724')) THEN     
 --(    
 --SELECT SUM(ISNULL(OUTSTANDING_TRAN,0)) FROM CLM_ACTIVITY_RESERVE CAR     
 --INNER JOIN CLM_PRODUCT_COVERAGES TCPC ON CAR.CLAIM_ID=TCPC.CLAIM_ID AND CAR.COVERAGE_ID=TCPC.CLAIM_COV_ID AND CAR.CLAIM_ID=CCI.CLAIM_ID    
 --WHERE TCPC.IS_RISK_COVERAGE='Y'    
 --)      
 --  END AS TOTAL_AMOUNT
 ,            
 CASE        
 WHEN (CLI.ESTIMATE_CLASSIFICATION > 71) THEN '1'           
 WHEN (CLI.ESTIMATE_CLASSIFICATION BETWEEN 41 AND 70) THEN '2'          
 WHEN (CLI.ESTIMATE_CLASSIFICATION < 40) THEN '3'          
 END AS ESTIMATE_CLASSIFICATION,       
(SELECT SUM(LIMIT_1) FROM CLM_PRODUCT_COVERAGES AS CPC WHERE CPC.CLAIM_ID=CCI.CLAIM_ID) AS TOTAL_SUM_INSURED_AMOUNT,          
  CASE 
	WHEN CA.ACTION_ON_PAYMENT IN (165,166,180,181) THEN CONVERT(VARCHAR(10),CA.ACTIVITY_DATE,112) 
	ELSE CONVERT(VARCHAR(10),CLI.JUDICIAL_PROCESS_DATE,112) END AS JUDICIAL_PROCESS_DATE,          
 CASE           
 --WHEN (CLI.OPERATION_REASON = '14717') THEN '1'          
 --WHEN (CLI.OPERATION_REASON = '14718') THEN '2'          
 --WHEN (CLI.OPERATION_REASON = '14719') THEN '3'          
 --WHEN (CLI.OPERATION_REASON = '14720') THEN '4'          
 --WHEN (CLI.OPERATION_REASON = '14721') THEN '5'          
 --WHEN (CLI.OPERATION_REASON = '14722') THEN '6'          
 --WHEN (CLI.OPERATION_REASON = '14723') THEN '7'          
 --WHEN (CLI.OPERATION_REASON = '14724') THEN '8'          
 --WHEN (CLI.OPERATION_REASON = '14726') THEN '10'          
 --WHEN (CLI.OPERATION_REASON = '14727') THEN '11'     
  WHEN (CA.ACTION_ON_PAYMENT = 165) THEN '1'
  WHEN (CA.ACTION_ON_PAYMENT = 166) THEN '10'          
  WHEN (CA.ACTION_ON_PAYMENT IN (180,181)) THEN '11'    
  ELSE MLV.LOOKUP_VALUE_ID     
 END AS OPERATION_REASON          
         
 FROM CLM_CLAIM_INFO CCI         
 INNER JOIN  CLM_LITIGATION_INFORMATION CLI  ON CLI.CLAIM_ID = CCI.CLAIM_ID      
 LEFT OUTER  JOIN CLM_ACTIVITY CA ON CA.CLAIM_ID=CCI.CLAIM_ID AND CA.ACTIVITY_STATUS=11801 AND CA.IS_ACTIVE='Y' AND CA.IS_VOIDED_REVERSED_ACTIVITY IS NULL    
 LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST MCSL ON CLI.JUDICIAL_COMPLAINT_STATE = MCSL.STATE_ID   
 LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV WITH(NOLOCK) ON MLV.LOOKUP_UNIQUE_ID = CLI.OPERATION_REASON      
           
 WHERE CCI.LITIGATION_FILE = '10963' AND  YEAR(CCI.CREATED_DATETIME)=@YEAR AND MONTH(CCI.CREATED_DATETIME)=@MONTH         
  AND (@CLAIM_NUMBER IS NULL OR CCI.CLAIM_NUMBER=@CLAIM_NUMBER)  AND CCI.OFFCIAL_CLAIM_NUMBER IS NOT NULL 
  AND IS_LEGAL = 'Y' and CA.IS_VOIDED_REVERSED_ACTIVITY IS NULL  
  
  UNION
  
 SELECT         
 RIGHT('                    '+CONVERT(VARCHAR(20),CCI.OFFCIAL_CLAIM_NUMBER),20) AS OFFICIAL_CLAIM_NUM,         
 RIGHT('                    '+CLI.JUDICIAL_PROCESS_NO,20)  AS JUDICIAL_PROCESS_NO ,            
 CLI.PLAINTIFF_NAME AS PLAINTIFF_NAME,            
 RIGHT('               '+REPLACE(REPLACE(REPLACE(CLI.PLAINTIFF_CPF,'-',''),'/',''),'.',''),15) AS PLAINTIFF_CPF_CNPG ,            
 MCSL.STATE_CODE AS JUDICIAL_COMPLAINT_STATE,             
 CCI.OUTSTANDING_RESERVE AS OUTSTANDING_RESERVE_AMOUNT,            
 CLI.PLAINTIFF_REQUESTED_AMOUNT,           
 CLI.DEFEDANT_OFFERED_AMOUNT,   
     
 (      
 SELECT SUM(ISNULL(OUTSTANDING_TRAN,0)) FROM CLM_ACTIVITY_RESERVE CAR       
 INNER JOIN CLM_PRODUCT_COVERAGES TCPC ON CAR.CLAIM_ID=TCPC.CLAIM_ID AND CAR.COVERAGE_ID=TCPC.CLAIM_COV_ID AND CAR.CLAIM_ID=CCI.CLAIM_ID      
 --WHERE TCPC.IS_RISK_COVERAGE='Y'      
 ) AS TOTAL_AMOUNT ,
               
 CASE          
 WHEN (CLI.ESTIMATE_CLASSIFICATION > 71) THEN '1'             
 WHEN (CLI.ESTIMATE_CLASSIFICATION BETWEEN 41 AND 70) THEN '2'            
 WHEN (CLI.ESTIMATE_CLASSIFICATION < 40) THEN '3'            
 END AS ESTIMATE_CLASSIFICATION,         
(SELECT SUM(LIMIT_1) FROM CLM_PRODUCT_COVERAGES AS CPC WHERE CPC.CLAIM_ID=CCI.CLAIM_ID) AS TOTAL_SUM_INSURED_AMOUNT,            

CONVERT(VARCHAR(10),TEMP.RECORD_DATE_TIME,112) AS JUDICIAL_PROCESS_DATE,            

 TEMP.LOOKUP_VALUE_ID  AS OPERATION_REASON 
         
           
 FROM CLM_CLAIM_INFO CCI           
 INNER JOIN  CLM_LITIGATION_INFORMATION CLI  ON CLI.CLAIM_ID = CCI.CLAIM_ID        
 LEFT OUTER  JOIN CLM_ACTIVITY CA ON CA.CLAIM_ID=CCI.CLAIM_ID AND CA.ACTIVITY_STATUS=11801 AND CA.IS_ACTIVE='Y' AND CA.IS_VOIDED_REVERSED_ACTIVITY IS NULL      
 LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST MCSL ON CLI.JUDICIAL_COMPLAINT_STATE = MCSL.STATE_ID     
 LEFT OUTER JOIN (SELECT TP1.RECORD_DATE_TIME AS RECORD_DATE_TIME,MLV.LOOKUP_VALUE_ID,TP1.CLIENT_ID,TP1.POLICY_ID ,TP1.POLICY_VER_TRACKING_ID
   FROM  TranLog TP1 
   LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV WITH(NOLOCK) ON TP1.NewValue = MLV.LOOKUP_UNIQUE_ID
  ) TEMP  ON  CCI.CUSTOMER_ID = TEMP.CLIENT_ID AND CCI.POLICY_ID = TEMP.POLICY_ID AND CCI.POLICY_VERSION_ID = TEMP.POLICY_VER_TRACKING_ID 


 WHERE CCI.LITIGATION_FILE = '10963' AND  YEAR(CCI.CREATED_DATETIME)=@YEAR AND MONTH(CCI.CREATED_DATETIME)=@MONTH           
  AND (@CLAIM_NUMBER IS NULL OR CCI.CLAIM_NUMBER=@CLAIM_NUMBER)  AND CCI.OFFCIAL_CLAIM_NUMBER IS NOT NULL   
  AND IS_LEGAL = 'Y' and CA.IS_VOIDED_REVERSED_ACTIVITY IS NULL
   )
  --select * from SelectTable
   
           
 SELECT --RIGHT('0000000000' +CONVERT(VARCHAR,SEQUENCE_NO),10) AS SEQUENCIA,   
  RIGHT('' +CONVERT(VARCHAR,ROW_NUMBER() OVER( ORDER BY  PLAINTIFF_NAME)),6) AS SEQUENCIA,                         
  '504-5' AS COD_CIA,          
  (@YEAR+@MONTH) AS DT_BASE,          
   OFFICIAL_CLAIM_NUM AS NUM_SIN,          
  JUDICIAL_PROCESS_NO AS NUM_PROC,          
  ISNULL(PLAINTIFF_NAME,'') AS NAME,          
  PLAINTIFF_CPF_CNPG AS CPF_SEG,          
  JUDICIAL_COMPLAINT_STATE AS UF_REC,   
  RIGHT(''+CONVERT(VARCHAR(16),ISNULL(OUTSTANDING_RESERVE_AMOUNT,0)),16) AS VR_SIN,          
  RIGHT(''+CONVERT(VARCHAR(16),ISNULL(PLAINTIFF_REQUESTED_AMOUNT,0)),16) AS VR_MAX,          
  RIGHT(''+CONVERT(VARCHAR(16),ISNULL(DEFEDANT_OFFERED_AMOUNT,0)),16) AS VR_SEG,          
  RIGHT(''+CONVERT(VARCHAR(16),ISNULL(TOTAL_AMOUNT,0)),16) AS VR_EST,          
  REPLACE(CONVERT(VARCHAR(16),ISNULL(ESTIMATE_CLASSIFICATION,0)),'.',',')AS CLAS_EST,          
  RIGHT(''+CONVERT(VARCHAR(16),ISNULL(TOTAL_SUM_INSURED_AMOUNT,0)),16) AS IS_COB_SIN,          
  ISNULL(JUDICIAL_PROCESS_DATE,'') AS DT_OPER,          
   RIGHT('  '+ISNULL(OPERATION_REASON,''),2) AS MOT_OPER         
  FROM SelectTable 
  WHERE OPERATION_REASON <> 0         
   --DROP TABLE #TEMPTABLE            
END       
GO

