IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_Get_GROUP_BANK_RECONCILIATION_ITEMS_DETAILS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_Get_GROUP_BANK_RECONCILIATION_ITEMS_DETAILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran
-- drop proc dbo.[Proc_Get_GROUP_BANK_RECONCILIATION_ITEMS_DETAILS] 
--go
/*----------------------------------------------------------
Proc Name       : dbo.[Proc_Get_GROUP_BANK_RECONCILIATION_ITEMS_DETAILS]
Created by      : Praveen kasana
Rule			: Grouping of Check, Deposit , Invoice , JE
Date            : 30 July 2008
Purpose    		: Returns status of bank reconciliation record (Add and Remove Mode)
				Called From Proc  : Proc_Get_ACT_BANK_RECONCILIATION_ITEMS_DETAILS

--drop proc dbo.Proc_Get_GROUP_BANK_RECONCILIATION_ITEMS_DETAILS 
------------------------------------------------------------
Date     Review By          Comments
------   ------------       -------------------------*/
Create proc [dbo].[Proc_Get_GROUP_BANK_RECONCILIATION_ITEMS_DETAILS] 
(
	@AC_RECONCILIATION_ID int,
	@ACCOUNT_ID int,
	@ISADDMODE nchar(2)
)
AS
CREATE TABLE #TEMP_DETAIL  
(  
	[IDENT_COL] Int IDENTITY(1,1) NOT NULL ,        
	[ROW_LEVEL] Char(1),  
	[UPDATED_FROM] Char(1),  
	[IS_ALREADY_CLEARED] int,
	[SOURCE_TRAN_DATE] Varchar(15),  
	[IDENTITY_ROW_ID] Int,  
	[SOURCE_NUMBER] varchar(50),
	[TRANSACTION_AMOUNT] Decimal(18,2),  
	[TRANSACTION_TYPE] Varchar(50),  
	[NOTEMEMO] Varchar(500),
    [PAYMENT_MODE] Varchar(30)
)  



DECLARE @EFT Int,
	@CHECK Int,
	@ALREADY_PROCESSED Int,
	@CREDIT_CARD int

SET 		@CHECK = 11787--11975
SET 		@EFT = 11976
SET			@ALREADY_PROCESSED = 11977
SET			@CREDIT_CARD  = 11974




--GET HEADERS FOR GROUPING 
DECLARE @TRAN_AMOUNT DECIMAL(18,2)

IF(@ISADDMODE = 'N')

BEGIN
	--CHECK HEADER
	
	IF (SELECT dbo.fun_GetTotalTransAmountBANK_RECON('C',@AC_RECONCILIATION_ID,NULL)) <> 0
	BEGIN
	
		SELECT @TRAN_AMOUNT = DBO.FUN_GETTOTALTRANSAMOUNTBANK_RECON('C',@AC_RECONCILIATION_ID,NULL)
		INSERT INTO #TEMP_DETAIL  
		(  
			ROW_LEVEL,UPDATED_FROM,IS_ALREADY_CLEARED,SOURCE_TRAN_DATE,IDENTITY_ROW_ID,  
			SOURCE_NUMBER,TRANSACTION_AMOUNT,TRANSACTION_TYPE,  
			NOTEMEMO ,[PAYMENT_MODE] 
		)   
		VALUES( 'H' ,'C',null,' ' ,null ,  
			' ' ,@TRAN_AMOUNT ,'Checks' ,  
			' ' ,' ')  
	
	
--Check Detail
		
		INSERT INTO #TEMP_DETAIL --get all
		SELECT 
			'R',
			PD.UPDATED_FROM AS UPDATED_FROM ,
			CASE PD.UPDATED_FROM 
			WHEN 'D' THEN
				CASE WHEN ISNULL(DEP.RECEIPT_MODE,0) IN(@EFT,@ALREADY_PROCESSED) THEN 1 
				ELSE 0 END 
			WHEN 'C' THEN
				CASE WHEN ISNULL(CHK.PAYMENT_MODE,0) IN(@EFT,@ALREADY_PROCESSED) THEN 1 
				ELSE 0 END 
			ELSE 0 END AS IS_ALREADY_CLEARED,
		
			CONVERT(VARCHAR,PD.SOURCE_TRAN_DATE,101) AS SOURCE_TRAN_DATE,
			PD.IDENTITY_ROW_ID AS IDENTITY_ROW_ID,
			PD.SOURCE_NUM AS SOURCE_NUM ,
			PD.TRANSACTION_AMOUNT AS TRANSACTION_AMOUNT,
			CASE PD.UPDATED_FROM 
			WHEN 'C' THEN 'Check' 
			WHEN 'J' THEN 'Journal' 
			WHEN 'I' THEN 'Invoice' 
			WHEN 'D' THEN 'Deposit' 
			END AS "TRANSACTIONTYPE",
			PD.ADNL_INFO AS "NOTEMEMO",
			CASE PD.UPDATED_FROM 
			WHEN 'D' THEN
				CASE CAST(ISNULL(DEP.RECEIPT_MODE,0) AS VARCHAR)
					 WHEN '11974' THEN 'Credit Card'
					 WHEN '11975' THEN 'Check'
					 WHEN '11976' THEN 'EFT-Sweep'
					 WHEN '11977' THEN 'Already Processed'
				ELSE 'Check' END 
			WHEN 'C' THEN
				CASE CAST(ISNULL(CHK.PAYMENT_MODE,0) AS VARCHAR)
					 WHEN '11974' THEN 'Credit Card'
					 WHEN '11975' THEN 'Check'
					 WHEN '11976' THEN 'EFT-Sweep'
					 WHEN '11979' THEN 'Manual Check'
					 when '11787' then 'Check'
					 when '11788' then 'EFT-Sweep'
				ELSE 'Check' END 

			ELSE '' END AS PAYMENT_MODE		
		
			FROM ACT_BANK_RECONCILIATION_ITEMS_DETAILS REC WITH(NOLOCK)
			INNER JOIN ACT_ACCOUNTS_POSTING_DETAILS PD WITH(NOLOCK)
			ON PD.IDENTITY_ROW_ID = REC.IDENTITY_ROW_ID
			LEFT JOIN ACT_CURRENT_DEPOSITS DEP WITH(NOLOCK)
			ON PD.SOURCE_ROW_ID   =  DEP.DEPOSIT_ID 
			AND PD.UPDATED_FROM = 'D'
			LEFT JOIN ACT_CHECK_INFORMATION CHK WITH(NOLOCK)
			ON PD.SOURCE_ROW_ID   =  CHK.CHECK_ID
			AND PD.UPDATED_FROM = 'C'
			WHERE REC.AC_RECONCILIATION_ID = @AC_RECONCILIATION_ID
			AND PD.UPDATED_FROM = 'C'
			ORDER BY SOURCE_TRAN_DATE,SOURCE_NUM
	END
			
	--DEPOSIT HEADER
	IF (SELECT dbo.fun_GetTotalTransAmountBANK_RECON('D',@AC_RECONCILIATION_ID,NULL)) <> 0
	BEGIN
	
		SELECT @TRAN_AMOUNT = DBO.FUN_GETTOTALTRANSAMOUNTBANK_RECON('D',@AC_RECONCILIATION_ID,NULL)
		INSERT INTO #TEMP_DETAIL  
			(  
			ROW_LEVEL,UPDATED_FROM,IS_ALREADY_CLEARED,SOURCE_TRAN_DATE,IDENTITY_ROW_ID,  
			SOURCE_NUMBER,TRANSACTION_AMOUNT,TRANSACTION_TYPE,  
			NOTEMEMO ,[PAYMENT_MODE]  
			)   
			VALUES( 'H' ,'D',null,' ' ,null ,  
			' ' ,@TRAN_AMOUNT ,'Deposits' ,  
			' ' ,' ')  
	
	
	--DEPOSIT DETAIL
	
		INSERT INTO #TEMP_DETAIL --get all
		SELECT 
			'R',
			PD.UPDATED_FROM AS UPDATED_FROM ,
			CASE PD.UPDATED_FROM 
			WHEN 'D' THEN
				CASE WHEN ISNULL(DEP.RECEIPT_MODE,0) IN(@EFT,@ALREADY_PROCESSED,@CREDIT_CARD) THEN 1 
				ELSE 0 END 
			WHEN 'C' THEN
				CASE WHEN ISNULL(CHK.PAYMENT_MODE,0) IN(@EFT,@ALREADY_PROCESSED,@CREDIT_CARD) THEN 1 
				ELSE 0 END 
			ELSE 0 END AS IS_ALREADY_CLEARED,
		
			CONVERT(VARCHAR,PD.SOURCE_TRAN_DATE,101) AS SOURCE_TRAN_DATE,
			PD.IDENTITY_ROW_ID AS IDENTITY_ROW_ID,
			PD.SOURCE_NUM AS SOURCE_NUM ,
			PD.TRANSACTION_AMOUNT AS TRANSACTION_AMOUNT,
			CASE PD.UPDATED_FROM 
			WHEN 'C' THEN 'Check' 
			WHEN 'J' THEN 'Journal' 
			WHEN 'I' THEN 'Invoice' 
			WHEN 'D' THEN 'Deposit' 
			END AS "TRANSACTIONTYPE",
			PD.ADNL_INFO AS "NOTEMEMO",
			CASE PD.UPDATED_FROM 
			WHEN 'D' THEN
				CASE CAST(ISNULL(DEP.RECEIPT_MODE,0) AS VARCHAR)
					 WHEN '11974' THEN 'Credit Card'
					 WHEN '11975' THEN 'Check'
					 WHEN '11976' THEN 'EFT-Sweep'
					 WHEN '11977' THEN 'Already Processed'
				ELSE 'Check' END 
			WHEN 'C' THEN
				CASE CAST(ISNULL(CHK.PAYMENT_MODE,0) AS VARCHAR)
					 WHEN '11974' THEN 'Credit Card'
					 WHEN '11975' THEN 'Check'
					 WHEN '11976' THEN 'EFT-Sweep'
					 WHEN '11979' THEN 'Manual Check'
					 WHEN '11787' THEN 'CHECK'
					 WHEN '11788' THEN 'EFT-SWEEP'
				ELSE 'Check' END 

			ELSE '' END AS PAYMENT_MODE	
		
		
			FROM ACT_BANK_RECONCILIATION_ITEMS_DETAILS REC WITH(NOLOCK)
			INNER JOIN ACT_ACCOUNTS_POSTING_DETAILS PD WITH(NOLOCK)
			ON PD.IDENTITY_ROW_ID = REC.IDENTITY_ROW_ID
			LEFT JOIN ACT_CURRENT_DEPOSITS DEP WITH(NOLOCK)
			ON PD.SOURCE_ROW_ID   =  DEP.DEPOSIT_ID 
			AND PD.UPDATED_FROM = 'D'
			LEFT JOIN ACT_CHECK_INFORMATION CHK WITH(NOLOCK)
			ON PD.SOURCE_ROW_ID   =  CHK.CHECK_ID
			AND PD.UPDATED_FROM = 'C'
			WHERE REC.AC_RECONCILIATION_ID = @AC_RECONCILIATION_ID
			AND PD.UPDATED_FROM = 'D'
			ORDER BY SOURCE_TRAN_DATE,SOURCE_NUM
	END
	
	
	--INVOICE HEADER
	IF (SELECT dbo.fun_GetTotalTransAmountBANK_RECON('I',@AC_RECONCILIATION_ID,NULL)) <> 0
	BEGIN
	
		SELECT @TRAN_AMOUNT = DBO.FUN_GETTOTALTRANSAMOUNTBANK_RECON('I',@AC_RECONCILIATION_ID,NULL)
		INSERT INTO #TEMP_DETAIL  
				(  
				ROW_LEVEL,UPDATED_FROM,IS_ALREADY_CLEARED,SOURCE_TRAN_DATE,IDENTITY_ROW_ID,  
				SOURCE_NUMBER,TRANSACTION_AMOUNT,TRANSACTION_TYPE,  
				NOTEMEMO  ,[PAYMENT_MODE] 
				)   
				VALUES( 'H' ,'I',null,' ' ,null ,  
				' ' ,@TRAN_AMOUNT ,'Invoices' ,  
				' ',' ')  
		
		
		
		--INVOICE DETAIL
		
		INSERT INTO #TEMP_DETAIL --get all
		SELECT 
			'R',
			PD.UPDATED_FROM AS UPDATED_FROM ,
			CASE PD.UPDATED_FROM 
			WHEN 'D' THEN
				CASE WHEN ISNULL(DEP.RECEIPT_MODE,0) IN(@EFT,@ALREADY_PROCESSED) THEN 1 
				ELSE 0 END 
			WHEN 'C' THEN
				CASE WHEN ISNULL(CHK.PAYMENT_MODE,0) IN(@EFT,@ALREADY_PROCESSED) THEN 1 
				ELSE 0 END 
			ELSE 0 END AS IS_ALREADY_CLEARED,
		
			CONVERT(VARCHAR,PD.SOURCE_TRAN_DATE,101) AS SOURCE_TRAN_DATE,
			PD.IDENTITY_ROW_ID AS IDENTITY_ROW_ID,
			PD.SOURCE_NUM AS SOURCE_NUM ,
			PD.TRANSACTION_AMOUNT AS TRANSACTION_AMOUNT,
			CASE PD.UPDATED_FROM 
			WHEN 'C' THEN 'Check' 
			WHEN 'J' THEN 'Journal' 
			WHEN 'I' THEN 'Invoice' 
			WHEN 'D' THEN 'Deposit' 
			END AS "TRANSACTIONTYPE",
			PD.ADNL_INFO AS "NOTEMEMO",
            '' 
		
			FROM ACT_BANK_RECONCILIATION_ITEMS_DETAILS REC WITH(NOLOCK)
			INNER JOIN ACT_ACCOUNTS_POSTING_DETAILS PD WITH(NOLOCK)
			ON PD.IDENTITY_ROW_ID = REC.IDENTITY_ROW_ID
			LEFT JOIN ACT_CURRENT_DEPOSITS DEP WITH(NOLOCK)
			ON PD.SOURCE_ROW_ID   =  DEP.DEPOSIT_ID 
			AND PD.UPDATED_FROM = 'D'
			LEFT JOIN ACT_CHECK_INFORMATION CHK WITH(NOLOCK)
			ON PD.SOURCE_ROW_ID   =  CHK.CHECK_ID
			AND PD.UPDATED_FROM = 'C'
			WHERE REC.AC_RECONCILIATION_ID = @AC_RECONCILIATION_ID
			AND PD.UPDATED_FROM = 'I'
			ORDER BY SOURCE_TRAN_DATE,SOURCE_NUM
	END
		
	
	--JE HEADER
	IF (SELECT dbo.fun_GetTotalTransAmountBANK_RECON('J',@AC_RECONCILIATION_ID,NULL)) <> 0
	BEGIN
	
		SELECT @TRAN_AMOUNT = DBO.FUN_GETTOTALTRANSAMOUNTBANK_RECON('J',@AC_RECONCILIATION_ID,NULL)
		INSERT INTO #TEMP_DETAIL  
				(  
				ROW_LEVEL,UPDATED_FROM,IS_ALREADY_CLEARED,SOURCE_TRAN_DATE,IDENTITY_ROW_ID,  
				SOURCE_NUMBER,TRANSACTION_AMOUNT,TRANSACTION_TYPE,  
				NOTEMEMO  ,[PAYMENT_MODE] 
				)   
				VALUES( 'H' ,'J',null,' ' ,null ,  
				' ' ,@TRAN_AMOUNT ,'Journals' ,  
				' ' ,'')  
		
		
		--JE DETAIL
		INSERT INTO #TEMP_DETAIL 
		SELECT 
			'R',
			PD.UPDATED_FROM AS UPDATED_FROM ,
			CASE PD.UPDATED_FROM 
			WHEN 'D' THEN
				CASE WHEN ISNULL(DEP.RECEIPT_MODE,0) IN(@EFT,@ALREADY_PROCESSED) THEN 1 
				ELSE 0 END 
			WHEN 'C' THEN
				CASE WHEN ISNULL(CHK.PAYMENT_MODE,0) IN(@EFT,@ALREADY_PROCESSED) THEN 1 
				ELSE 0 END 
			ELSE 0 END AS IS_ALREADY_CLEARED,
		
			CONVERT(VARCHAR,PD.SOURCE_TRAN_DATE,101) AS SOURCE_TRAN_DATE,
			PD.IDENTITY_ROW_ID AS IDENTITY_ROW_ID,
			PD.SOURCE_NUM AS SOURCE_NUM ,
			PD.TRANSACTION_AMOUNT AS TRANSACTION_AMOUNT,
			CASE PD.UPDATED_FROM 
			WHEN 'C' THEN 'Check' 
			WHEN 'J' THEN 'Journal' 
			WHEN 'I' THEN 'Invoice' 
			WHEN 'D' THEN 'Deposit' 
			END AS "TRANSACTIONTYPE",
			PD.ADNL_INFO AS "NOTEMEMO",''
		
		
			FROM ACT_BANK_RECONCILIATION_ITEMS_DETAILS REC WITH(NOLOCK)
			INNER JOIN ACT_ACCOUNTS_POSTING_DETAILS PD WITH(NOLOCK)
			ON PD.IDENTITY_ROW_ID = REC.IDENTITY_ROW_ID
			LEFT JOIN ACT_CURRENT_DEPOSITS DEP WITH(NOLOCK)
			ON PD.SOURCE_ROW_ID   =  DEP.DEPOSIT_ID 
			AND PD.UPDATED_FROM = 'D'
			LEFT JOIN ACT_CHECK_INFORMATION CHK WITH(NOLOCK)
			ON PD.SOURCE_ROW_ID   =  CHK.CHECK_ID
			AND PD.UPDATED_FROM = 'C'
			WHERE REC.AC_RECONCILIATION_ID = @AC_RECONCILIATION_ID
			AND PD.UPDATED_FROM = 'J'
			ORDER BY SOURCE_TRAN_DATE,SOURCE_NUM
	END	
	
	

END

ELSE -------------------------------------ADD MODE
BEGIN 

--CHECK HEADER
	IF (SELECT dbo.fun_GetTotalTransAmountBANK_RECON('C',@AC_RECONCILIATION_ID,@ACCOUNT_ID)) <> 0
	BEGIN

		SELECT @TRAN_AMOUNT = DBO.FUN_GETTOTALTRANSAMOUNTBANK_RECON('C',@AC_RECONCILIATION_ID,@ACCOUNT_ID)
		INSERT INTO #TEMP_DETAIL  
				(  
				ROW_LEVEL,UPDATED_FROM,IS_ALREADY_CLEARED,SOURCE_TRAN_DATE,IDENTITY_ROW_ID,  
				SOURCE_NUMBER,TRANSACTION_AMOUNT,TRANSACTION_TYPE,  
				NOTEMEMO  ,[PAYMENT_MODE] 
				)   
				VALUES( 'H' ,'C',null,' ' ,null ,  
				' ' ,@TRAN_AMOUNT ,'Checks' ,  
				' ',' ')

	--CHECK DETAIL
		INSERT INTO #TEMP_DETAIL --get all
			SELECT 
			'R',
			ISNULL(UPDATED_FROM,''),
			0 as IS_ALREADY_CLEARED,
			CONVERT(VARCHAR,SOURCE_TRAN_DATE,101) AS SOURCE_TRAN_DATE,
			IDENTITY_ROW_ID,
			SOURCE_NUM ,
			TRANSACTION_AMOUNT,
			CASE UPDATED_FROM 
				WHEN 'C' THEN 'Check' 
				WHEN 'J' THEN 'Journal' 
				WHEN 'I' THEN 'Invoice' 
				WHEN 'D' THEN 'Deposit' 
			END AS "TRANSACTIONTYPE",
			ADNL_INFO AS "NOTEMEMO",
			CASE PD.UPDATED_FROM 
			WHEN 'C' THEN
				CASE CAST(ISNULL(CHK.PAYMENT_MODE,0) AS VARCHAR)
					 WHEN '11974' THEN 'Credit Card'
					 WHEN '11975' THEN 'Check'
					 WHEN '11976' THEN 'EFT-Sweep'
					 WHEN '11979' THEN 'Manual Check'
					 when '11787' then 'Check'
					 when '11788' then 'EFT-Sweep'
				ELSE 'Check' END 
			ELSE '' END AS PAYMENT_MODE	
			FROM ACT_ACCOUNTS_POSTING_DETAILS PD WITH(NOLOCK)
			LEFT JOIN ACT_CHECK_INFORMATION CHK
			ON PD.SOURCE_ROW_ID   =  CHK.CHECK_ID
			WHERE PD.ACCOUNT_ID = @ACCOUNT_ID
			AND ISNULL(IS_BANK_RECONCILED,'N')='N' 
			AND IDENTITY_ROW_ID NOT IN (
				SELECT IDENTITY_ROW_ID FROM ACT_BANK_RECONCILIATION_ITEMS_DETAILS WITH(NOLOCK)
				WHERE AC_RECONCILIATION_ID=@AC_RECONCILIATION_ID
				
				)
			AND  UPDATED_FROM = 'C'
			ORDER BY SOURCE_TRAN_DATE,SOURCE_NUM
	END

----DEPOSIT HEADER
	IF (SELECT dbo.fun_GetTotalTransAmountBANK_RECON('D',@AC_RECONCILIATION_ID,@ACCOUNT_ID)) <> 0
	BEGIN
	
		SELECT @TRAN_AMOUNT = DBO.FUN_GETTOTALTRANSAMOUNTBANK_RECON('D',@AC_RECONCILIATION_ID,@ACCOUNT_ID)
		INSERT INTO #TEMP_DETAIL  
				(  
				ROW_LEVEL,UPDATED_FROM,IS_ALREADY_CLEARED,SOURCE_TRAN_DATE,IDENTITY_ROW_ID,  
				SOURCE_NUMBER,TRANSACTION_AMOUNT,TRANSACTION_TYPE,  
				NOTEMEMO  ,[PAYMENT_MODE] 
				)   
				VALUES( 'H' ,'D',null,' ' ,null ,  
				' ' ,@TRAN_AMOUNT ,'Deposits' ,  
				' ' ,' ')  
		
	
		--DEPOSIT DETAIL
		INSERT INTO #TEMP_DETAIL --get all
			SELECT 
			'R',
			ISNULL(UPDATED_FROM,''),
			0 as IS_ALREADY_CLEARED,
			CONVERT(VARCHAR,SOURCE_TRAN_DATE,101) AS SOURCE_TRAN_DATE,
			IDENTITY_ROW_ID,
			SOURCE_NUM ,
			TRANSACTION_AMOUNT,
			CASE UPDATED_FROM 
				WHEN 'C' THEN 'Check' 
				WHEN 'J' THEN 'Journal' 
				WHEN 'I' THEN 'Invoice' 
				WHEN 'D' THEN 'Deposit' 
			END AS "TRANSACTIONTYPE",
			ADNL_INFO AS "NOTEMEMO",
			CASE PD.UPDATED_FROM 
			WHEN 'D' THEN
				CASE CAST(ISNULL(DEP.RECEIPT_MODE,0) AS VARCHAR)
					 WHEN '11974' THEN 'Credit Card'
					 WHEN '11975' THEN 'Check'
					 WHEN '11976' THEN 'EFT-Sweep'
					 WHEN '11977' THEN 'Already Processed'
				ELSE 'Check' END 
			ELSE '' END AS PAYMENT_MODE	
			FROM ACT_ACCOUNTS_POSTING_DETAILS PD WITH(NOLOCK)
			LEFT JOIN ACT_CURRENT_DEPOSITS DEP WITH(NOLOCK)
			ON PD.SOURCE_ROW_ID   =  DEP.DEPOSIT_ID 
			WHERE PD.ACCOUNT_ID = @ACCOUNT_ID
			AND ISNULL(IS_BANK_RECONCILED,'N')='N' 
			AND IDENTITY_ROW_ID NOT IN (
				SELECT IDENTITY_ROW_ID FROM ACT_BANK_RECONCILIATION_ITEMS_DETAILS WITH(NOLOCK)
				WHERE AC_RECONCILIATION_ID=@AC_RECONCILIATION_ID
				
				)
			AND UPDATED_FROM = 'D'
			ORDER BY SOURCE_TRAN_DATE,SOURCE_NUM
	END

--INVOICE HEADER
	IF (SELECT dbo.fun_GetTotalTransAmountBANK_RECON('I',@AC_RECONCILIATION_ID,@ACCOUNT_ID)) <> 0
	BEGIN
		SELECT @TRAN_AMOUNT = DBO.FUN_GETTOTALTRANSAMOUNTBANK_RECON('I',@AC_RECONCILIATION_ID,@ACCOUNT_ID)
		INSERT INTO #TEMP_DETAIL  
				(  
				ROW_LEVEL,UPDATED_FROM,IS_ALREADY_CLEARED,SOURCE_TRAN_DATE,IDENTITY_ROW_ID,  
				SOURCE_NUMBER,TRANSACTION_AMOUNT,TRANSACTION_TYPE,  
				NOTEMEMO  ,[PAYMENT_MODE] 
				)   
				VALUES( 'H' ,'I',null,' ' ,null ,  
				' ' ,@TRAN_AMOUNT ,'Invoices' ,  
				' ' ,' ')  
		
	--INVOICE DETAIL
		INSERT INTO #TEMP_DETAIL --get all
			SELECT 
			'R',
			ISNULL(UPDATED_FROM,''),
			0 as IS_ALREADY_CLEARED,
			CONVERT(VARCHAR,SOURCE_TRAN_DATE,101) AS SOURCE_TRAN_DATE,
			IDENTITY_ROW_ID,
			SOURCE_NUM ,
			TRANSACTION_AMOUNT,
			CASE UPDATED_FROM 
				WHEN 'C' THEN 'Check' 
				WHEN 'J' THEN 'Journal' 
				WHEN 'I' THEN 'Invoice' 
				WHEN 'D' THEN 'Deposit' 
			END AS "TRANSACTIONTYPE",
			ADNL_INFO AS "NOTEMEMO",''
			FROM ACT_ACCOUNTS_POSTING_DETAILS WITH(NOLOCK)
			WHERE ACCOUNT_ID = @ACCOUNT_ID
			AND ISNULL(IS_BANK_RECONCILED,'N')='N' 
			AND IDENTITY_ROW_ID NOT IN (
				SELECT IDENTITY_ROW_ID FROM ACT_BANK_RECONCILIATION_ITEMS_DETAILS  WITH(NOLOCK)
				WHERE AC_RECONCILIATION_ID=@AC_RECONCILIATION_ID
				
				)
			AND  UPDATED_FROM = 'I'

	END

--JE HEADER
	IF (SELECT dbo.fun_GetTotalTransAmountBANK_RECON('J',@AC_RECONCILIATION_ID,@ACCOUNT_ID)) <> 0
	BEGIN
	
		SELECT @TRAN_AMOUNT = DBO.FUN_GETTOTALTRANSAMOUNTBANK_RECON('J',@AC_RECONCILIATION_ID,@ACCOUNT_ID)
		INSERT INTO #TEMP_DETAIL  
				(  
				ROW_LEVEL,UPDATED_FROM,IS_ALREADY_CLEARED,SOURCE_TRAN_DATE,IDENTITY_ROW_ID,  
				SOURCE_NUMBER,TRANSACTION_AMOUNT,TRANSACTION_TYPE,  
				NOTEMEMO  ,[PAYMENT_MODE] 
				)   
				VALUES( 'H' ,'J',NULL,' ' ,NULL ,  
				' ' ,@TRAN_AMOUNT ,'Journals' ,  
				' ',' ')  
		--JE DETAIL 
		INSERT INTO #TEMP_DETAIL --get all
				SELECT 
				'R',
				ISNULL(UPDATED_FROM,''),
				0 as IS_ALREADY_CLEARED,
				CONVERT(VARCHAR,SOURCE_TRAN_DATE,101) AS SOURCE_TRAN_DATE,
				IDENTITY_ROW_ID,
				SOURCE_NUM ,
				TRANSACTION_AMOUNT,
				CASE UPDATED_FROM 
					WHEN 'C' THEN 'Check' 
					WHEN 'J' THEN 'Journal' 
					WHEN 'I' THEN 'Invoice' 
					WHEN 'D' THEN 'Deposit' 
				END AS "TRANSACTIONTYPE",
				ADNL_INFO AS "NOTEMEMO",''
				FROM ACT_ACCOUNTS_POSTING_DETAILS WITH(NOLOCK)
				WHERE ACCOUNT_ID = @ACCOUNT_ID
				AND ISNULL(IS_BANK_RECONCILED,'N')='N' 
				AND IDENTITY_ROW_ID NOT IN (
					SELECT IDENTITY_ROW_ID FROM ACT_BANK_RECONCILIATION_ITEMS_DETAILS WITH(NOLOCK)
					WHERE AC_RECONCILIATION_ID=@AC_RECONCILIATION_ID
					
					)
				AND  UPDATED_FROM = 'J'
				ORDER BY SOURCE_TRAN_DATE,SOURCE_NUM
	END
	

END

select  [ROW_LEVEL] ,
		[IS_ALREADY_CLEARED] ,
		[UPDATED_FROM] ,
		[SOURCE_TRAN_DATE] ,
		[IDENTITY_ROW_ID],
		[SOURCE_NUMBER] AS SOURCE_NUM ,
		CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL(TRANSACTION_AMOUNT,0)),1) AS TRANSACTION_AMOUNT,
		[TRANSACTION_TYPE] AS TRANSACTIONTYPE ,
		[NOTEMEMO] ,
		[PAYMENT_MODE] 
		from #TEMP_DETAIL  ORDER BY updated_from,CAST(CONVERT(VARCHAR,SOURCE_TRAN_DATE,101)AS DATETIME),SOURCE_NUM 
	
DROP TABLE #TEMP_DETAIL
















GO

