IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_MelEventos_Collection]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_MelEventos_Collection]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Proc_MelEventos_Collection]
	@INCEPTION_DATE DATETIME
AS
BEGIN
/*----------------------------------------------------------                                                                      
Proc Name       : dbo.Proc_MelEventos_Collection                                                                
Created by      : ANURAG GUPTA                                                                 
Date            : 03 MARCH 2011                                                                      
Purpose         : Mel Eventos - COLLECTION  
Revison History :                                               
------------------------------------------------------------                                                                      
Modified By  :         
Date   :		
Purpose  :      
------------------------------------------------------------                                                                            
Date     Review By          Comments                                                                      
------   ------------       -------------------------*/  
--BEGIN TRAN
---3) RECEBIMENTO DO PRÊMIO: (COLLECTION) 
--DECLARE @INCEPTION_DATE DATETIME
--SELECT @INCEPTION_DATE = '03/03/2011'

-- Proc_MelEventos_Collection '03/03/2011'
DECLARE @DATE CHAR(10)
DECLARE @SEQ_NUM INT


SELECT @SEQ_NUM = 0
SELECT @DATE = REPLACE(CONVERT(VARCHAR(10), @INCEPTION_DATE, 111), '/', '')
--SELECT @DATE
/*
	PROCESS ID VALUES:
	12	Commit Cancellation Process	
	14	Commit Endorsement Process	
	18	Commit Renewal Process	
	25	Commit New Business	
*/	

DECLARE @BATCH01 TABLE
	(
		LAYOUT_ID char(2),
		COMPANY_CODE CHAR(3), 
		YEAR_MONTH CHAR(6), 
		BATCH_CODE CHAR(6), 
		EVENT_CODE CHAR(6), 
		POSTING_DATE CHAR(8), 
		LOB VARCHAR(8), 
		BRANCH CHAR(2), 
		PROFIT_CENTER CHAR(6), 
		TRANSACTION_AMOUNT VARCHAR(15), 
		[DESCRIPTION] VARCHAR(250)
	)

INSERT INTO @BATCH01 (LAYOUT_ID, COMPANY_CODE, YEAR_MONTH, BATCH_CODE, EVENT_CODE, POSTING_DATE, LOB, BRANCH, PROFIT_CENTER, TRANSACTION_AMOUNT, [DESCRIPTION])
---TOTAL PREMIUM RECEIVED 
SELECT
	'02' AS LAYOUT_ID, 'AB1' AS COMPANY_CODE,
	CONVERT(VARCHAR(6), @DATE, 111) AS YEAR_MONTH,
	'EBI003' AS BATCH_CODE,		
	'DI0301' AS EVENT_CODE, 
	CONVERT(VARCHAR(8), @DATE, 111) AS POSTING_DATE, 
	MLM.SUSEP_LOB_CODE AS LOB, RIGHT('00' + MDL.BRANCH_CODE, 2) AS BRANCH, 
	'00000' AS PROFIT_CENTER, 
	RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR(12), SUM(ABS(ACOI.TOTAL_DUE))), '.', ''), 15) AS TRANSACTION_AMOUNT, 
	'DESCRIPTION' AS DESCRIPTION	
FROM
	ACT_CUSTOMER_OPEN_ITEMS ACOI WITH(NOLOCK) 
INNER JOIN
	POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK) ON (PCPL.CUSTOMER_ID = ACOI.CUSTOMER_ID AND PCPL.POLICY_ID = ACOI.POLICY_ID AND PCPL.POLICY_VERSION_ID = ACOI.POLICY_VERSION_ID)
INNER JOIN
	ACT_POLICY_INSTALLMENT_DETAILS APID WITH(NOLOCK) ON (PCPL.CUSTOMER_ID = APID.CUSTOMER_ID AND PCPL.POLICY_ID = APID.POLICY_ID AND PCPL.POLICY_VERSION_ID = APID.POLICY_VERSION_ID)
INNER JOIN
	MNT_LOB_MASTER MLM WITH(NOLOCK) ON (MLM.LOB_ID = PCPL.POLICY_LOB)
INNER JOIN
	MNT_DIV_LIST MDL WITH(NOLOCK) ON (MDL.DIV_ID = PCPL.DIV_ID)
WHERE
	ACOI.UPDATED_FROM = 'D' AND	
	APID.RELEASED_STATUS = 'Y' AND
	CONVERT(VARCHAR(10), APID.RECEIVED_DATE, 101) = @INCEPTION_DATE	
GROUP BY
	MLM.SUSEP_LOB_CODE, MDL.BRANCH_CODE, ACOI.ITEM_TRAN_CODE

UNION ALL
---Risk Premium + Policy Fee + Interest
SELECT
	'02' AS LAYOUT_ID, 'AB1' AS COMPANY_CODE,
	CONVERT(VARCHAR(6), @DATE, 111) AS YEAR_MONTH,
	'EBI003' AS BATCH_CODE,	
	'DI0302' AS EVENT_CODE, 
	CONVERT(VARCHAR(8), @DATE, 111) AS POSTING_DATE, 
	MLM.SUSEP_LOB_CODE AS LOB, RIGHT('00' + MDL.BRANCH_CODE, 2) AS BRANCH, 
	'00000' AS PROFIT_CENTER, 
	RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR(12), SUM(ABS(ACRGD.RECON_AMOUNT))), '.', ''), 15) AS TRANSACTION_AMOUNT, 
	'DESCRIPTION' AS DESCRIPTION	
FROM
	ACT_CUSTOMER_OPEN_ITEMS ACOI WITH(NOLOCK) 
INNER JOIN
	POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK) ON (PCPL.CUSTOMER_ID = ACOI.CUSTOMER_ID AND PCPL.POLICY_ID = ACOI.POLICY_ID AND PCPL.POLICY_VERSION_ID = ACOI.POLICY_VERSION_ID)
INNER JOIN
	ACT_POLICY_INSTALLMENT_DETAILS APID WITH(NOLOCK) ON (PCPL.CUSTOMER_ID = APID.CUSTOMER_ID AND PCPL.POLICY_ID = APID.POLICY_ID AND PCPL.POLICY_VERSION_ID = APID.POLICY_VERSION_ID)
INNER JOIN
	ACT_RECONCILIATION_GROUPS ARG WITH(NOLOCK) ON (ARG.RECON_ENTITY_ID = APID.CUSTOMER_ID AND CONVERT(VARCHAR(10), ARG.DATE_COMMITTED, 101) = CONVERT(VARCHAR(10), APID.RECEIVED_DATE, 101) AND ARG.IS_COMMITTED = 'Y')
INNER JOIN
	ACT_CUSTOMER_RECON_GROUP_DETAILS ACRGD WITH(NOLOCK) ON (ACRGD.GROUP_ID = ARG.GROUP_ID AND ACRGD.ITEM_TYPE = 'CUST' AND ACRGD.ITEM_REFERENCE_ID = ACOI.IDEN_ROW_ID)
INNER JOIN
	MNT_LOB_MASTER MLM WITH(NOLOCK) ON (MLM.LOB_ID = PCPL.POLICY_LOB)
INNER JOIN
	MNT_DIV_LIST MDL WITH(NOLOCK) ON (MDL.DIV_ID = PCPL.DIV_ID)
WHERE
	ACOI.UPDATED_FROM = 'P' AND	
	RIGHT(ACOI.ITEM_TRAN_CODE, 1) <> 'T' AND				--SKIPPING TAX RECORD
	APID.RELEASED_STATUS = 'Y' AND
	CONVERT(VARCHAR(10), APID.RECEIVED_DATE, 101) = @INCEPTION_DATE	
GROUP BY
	MLM.SUSEP_LOB_CODE, MDL.BRANCH_CODE
	
UNION ALL
---INTEREST & TAX
SELECT
	'02' AS LAYOUT_ID, 'AB1' AS COMPANY_CODE,
	CONVERT(VARCHAR(6), @DATE, 111) AS YEAR_MONTH,
	'EBI003' AS BATCH_CODE,	
	CASE ACOI.ITEM_TRAN_CODE		
		WHEN 'NBST' THEN 'DI0314'
		WHEN 'ENDT' THEN 'DI0314'
		WHEN 'RENT' THEN 'DI0314'
		WHEN 'NBSI' THEN 'DI0305'
		WHEN 'ENDI' THEN 'DI0305'
		WHEN 'RENI' THEN 'DI0305'		
	END AS EVENT_CODE,
	CONVERT(VARCHAR(8), @DATE, 111) AS POSTING_DATE, 
	MLM.SUSEP_LOB_CODE AS LOB, RIGHT('00' + MDL.BRANCH_CODE, 2) AS BRANCH, 
	'00000' AS PROFIT_CENTER, 
	RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR(12), SUM(ABS(ACRGD.RECON_AMOUNT))), '.', ''), 15) AS TRANSACTION_AMOUNT, 
	'DESCRIPTION' AS DESCRIPTION	
FROM
	ACT_CUSTOMER_OPEN_ITEMS ACOI WITH(NOLOCK) 
INNER JOIN
	POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK) ON (PCPL.CUSTOMER_ID = ACOI.CUSTOMER_ID AND PCPL.POLICY_ID = ACOI.POLICY_ID AND PCPL.POLICY_VERSION_ID = ACOI.POLICY_VERSION_ID)
INNER JOIN
	ACT_POLICY_INSTALLMENT_DETAILS APID WITH(NOLOCK) ON (PCPL.CUSTOMER_ID = APID.CUSTOMER_ID AND PCPL.POLICY_ID = APID.POLICY_ID AND PCPL.POLICY_VERSION_ID = APID.POLICY_VERSION_ID)
INNER JOIN
	ACT_RECONCILIATION_GROUPS ARG WITH(NOLOCK) ON (ARG.RECON_ENTITY_ID = APID.CUSTOMER_ID AND CONVERT(VARCHAR(10), ARG.DATE_COMMITTED, 101) = CONVERT(VARCHAR(10), APID.RECEIVED_DATE, 101) AND ARG.IS_COMMITTED = 'Y')
INNER JOIN
	ACT_CUSTOMER_RECON_GROUP_DETAILS ACRGD WITH(NOLOCK) ON (ACRGD.GROUP_ID = ARG.GROUP_ID AND ACRGD.ITEM_TYPE = 'CUST' AND ACRGD.ITEM_REFERENCE_ID = ACOI.IDEN_ROW_ID)
INNER JOIN
	MNT_LOB_MASTER MLM WITH(NOLOCK) ON (MLM.LOB_ID = PCPL.POLICY_LOB)
INNER JOIN
	MNT_DIV_LIST MDL WITH(NOLOCK) ON (MDL.DIV_ID = PCPL.DIV_ID)
WHERE
	ACOI.UPDATED_FROM = 'P' AND	
	RIGHT(ACOI.ITEM_TRAN_CODE, 1) IN ('I', 'T') AND				--TAKING ONLY INTEREST & TAX RECORDS
	APID.RELEASED_STATUS = 'Y' AND
	CONVERT(VARCHAR(10), APID.RECEIVED_DATE, 101) = @INCEPTION_DATE	
GROUP BY
	MLM.SUSEP_LOB_CODE, MDL.BRANCH_CODE, ACOI.ITEM_TRAN_CODE

UNION ALL
--BROKER COMMISSION
	
SELECT
	'02' AS LAYOUT_ID, 'AB1' AS COMPANY_CODE,
	CONVERT(VARCHAR(6), @DATE, 111) AS YEAR_MONTH,
	'EBI003' AS BATCH_CODE,	
	CASE ACOI.COMMISSION_TYPE
		WHEN 'COMM' THEN 
			CASE ACOI.IS_COMM_ON_INTEREST
				WHEN 1 THEN 'DI0307'
				ELSE 'DI0306'
			END				
		WHEN 'ENFEE' THEN 'DI0315'
		WHEN 'PRLBR' THEN 'DI0316'				
	END AS EVENT_CODE, 
	CONVERT(VARCHAR(8), @DATE, 111) AS POSTING_DATE, 
	MLM.SUSEP_LOB_CODE AS LOB, RIGHT('00' + MDL.BRANCH_CODE, 2) AS BRANCH, 
	'00000' AS PROFIT_CENTER, 
	RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR(12), SUM(ABS(AASD.TOTAL_PAID))), '.', ''), 15) AS TRANSACTION_AMOUNT, 
	'DESCRIPTION' AS DESCRIPTION	
FROM
	ACT_AGENCY_OPEN_ITEMS ACOI WITH(NOLOCK) 
INNER JOIN
	POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK) ON (PCPL.CUSTOMER_ID = ACOI.CUSTOMER_ID AND PCPL.POLICY_ID = ACOI.POLICY_ID AND PCPL.POLICY_VERSION_ID = ACOI.POLICY_VERSION_ID)
INNER JOIN
	ACT_POLICY_INSTALLMENT_DETAILS APID WITH(NOLOCK) ON (PCPL.CUSTOMER_ID = APID.CUSTOMER_ID AND PCPL.POLICY_ID = APID.POLICY_ID AND PCPL.POLICY_VERSION_ID = APID.POLICY_VERSION_ID)
INNER JOIN
	ACT_AGENCY_STATEMENT_DETAILED AASD WITH(NOLOCK) ON (AASD.CUSTOMER_ID = APID.CUSTOMER_ID AND AASD.POLICY_ID = APID.POLICY_ID AND AASD.POLICY_VERSION_ID = APID.POLICY_VERSION_ID AND
													CONVERT(VARCHAR(10), AASD.PAYMENT_DATE, 101) = CONVERT(VARCHAR(10), APID.RECEIVED_DATE, 101) AND
													AASD.AGENCY_OPEN_ITEM_ID = ACOI.IDEN_ROW_ID)
INNER JOIN
	MNT_LOB_MASTER MLM WITH(NOLOCK) ON (MLM.LOB_ID = PCPL.POLICY_LOB)
INNER JOIN
	MNT_DIV_LIST MDL WITH(NOLOCK) ON (MDL.DIV_ID = PCPL.DIV_ID)
WHERE
	ACOI.UPDATED_FROM = 'P'	AND
	APID.RELEASED_STATUS = 'Y' AND
	CONVERT(VARCHAR(10), APID.RECEIVED_DATE, 101) = @INCEPTION_DATE	
GROUP BY
	MLM.SUSEP_LOB_CODE, MDL.BRANCH_CODE, ACOI.COMMISSION_TYPE, ACOI.IS_COMM_ON_INTEREST
			
UNION ALL
---COINSURANCE PREMIUM CEDED
SELECT
	'02' AS LAYOUT_ID, 'AB1' AS COMPANY_CODE,
	CONVERT(VARCHAR(6), @DATE, 111) AS YEAR_MONTH,
	'EBI003' AS BATCH_CODE,	
	CASE ACOI.ITEM_TRAN_CODE
		WHEN 'NBSP' THEN 'DI0309'
		WHEN 'ENDP' THEN 'DI0309'
		WHEN 'RENP' THEN 'DI0309'
		WHEN 'NBSC' THEN 
			CASE ACOI.IS_COMM_ON_INTEREST
				WHEN 1 THEN 'DI0311'
				ELSE 'DI0310'
			END		
		WHEN 'ENDC' THEN 
			CASE ACOI.IS_COMM_ON_INTEREST
				WHEN 1 THEN 'DI0311'
				ELSE 'DI0310'
			END		
		WHEN 'RENC' THEN 
			CASE ACOI.IS_COMM_ON_INTEREST
				WHEN 1 THEN 'DI0311'
				ELSE 'DI0310'
			END		
		WHEN 'NBSI' THEN 'DI0308'
		WHEN 'ENDI' THEN 'DI0308'
		WHEN 'RENI' THEN 'DI0308'		
	END AS EVENT_CODE, 
	CONVERT(VARCHAR(8), @DATE, 111) AS POSTING_DATE, 
	MLM.SUSEP_LOB_CODE AS LOB, RIGHT('00' + MDL.BRANCH_CODE, 2) AS BRANCH, 
	'00000' AS PROFIT_CENTER, 
	RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR(12), SUM(ABS(ACSD.TOTAL_PAID))), '.', ''), 15) AS TRANSACTION_AMOUNT, 
	'DESCRIPTION' AS DESCRIPTION	
FROM
	ACT_COI_OPEN_ITEMS ACOI WITH(NOLOCK) 
INNER JOIN
	POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK) ON (PCPL.CUSTOMER_ID = ACOI.CUSTOMER_ID AND PCPL.POLICY_ID = ACOI.POLICY_ID AND PCPL.POLICY_VERSION_ID = ACOI.POLICY_VERSION_ID)
INNER JOIN
	ACT_POLICY_INSTALLMENT_DETAILS APID WITH(NOLOCK) ON (PCPL.CUSTOMER_ID = APID.CUSTOMER_ID AND PCPL.POLICY_ID = APID.POLICY_ID AND PCPL.POLICY_VERSION_ID = APID.POLICY_VERSION_ID)
INNER JOIN
	ACT_COI_STATEMENT_DETAILED ACSD WITH(NOLOCK) ON (ACSD.CUSTOMER_ID = APID.CUSTOMER_ID AND ACSD.POLICY_ID = APID.POLICY_ID AND ACSD.POLICY_VERSION_ID = APID.POLICY_VERSION_ID AND
													CONVERT(VARCHAR(10), ACSD.PAYMENT_DATE, 101) = CONVERT(VARCHAR(10), APID.RECEIVED_DATE, 101) AND
													ACSD.COI_OPEN_ITEM_ID = ACOI.IDEN_ROW_ID)
INNER JOIN
	MNT_LOB_MASTER MLM WITH(NOLOCK) ON (MLM.LOB_ID = PCPL.POLICY_LOB)
INNER JOIN
	MNT_DIV_LIST MDL WITH(NOLOCK) ON (MDL.DIV_ID = PCPL.DIV_ID)
WHERE
	ACOI.UPDATED_FROM = 'P' AND	
	PCPL.CO_INSURANCE = 14548 AND
	APID.RELEASED_STATUS = 'Y' AND
	CONVERT(VARCHAR(10), APID.RECEIVED_DATE, 101) = @INCEPTION_DATE
GROUP BY
	MLM.SUSEP_LOB_CODE, MDL.BRANCH_CODE, ACOI.ITEM_TRAN_CODE, ACOI.IS_COMM_ON_INTEREST
			
--ORDER BY SEQUENTIAL, LOB, BRANCH, EVENT_CODE

SELECT
	'02' AS LAYOUT_ID, 'AB1' AS COMPANY_CODE,
	CONVERT(VARCHAR(6), @DATE, 111) AS YEAR_MONTH,
	'EBI003' AS BATCH_CODE,	
	'0000000' AS SEQUENTIAL,
	'CAPAEB' AS EVENT_CODE, 
	CONVERT(VARCHAR(8), @DATE, 111) AS POSTING_DATE,
	'', '', '', '', '', '', '', '', '', '', '', '', '', ''
UNION ALL
SELECT 
	LAYOUT_ID, COMPANY_CODE, YEAR_MONTH, BATCH_CODE, RIGHT('0000000' + CAST((ROW_NUMBER() over (order by @SEQ_NUM)) AS VARCHAR(7)), 7) AS SEQUENTIAL,
	EVENT_CODE, POSTING_DATE, LOB, BRANCH, PROFIT_CENTER, '', '', '', '', '000', '', '', TRANSACTION_AMOUNT, 'BRL' AS CURRENCY, '100000' AS EXCHANGE_RATE, [DESCRIPTION]
FROM 
	@BATCH01
ORDER BY 
	SEQUENTIAL
	
		
--ROLLBACK TRAN
END
GO

