IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_SAVE_POL_INSTALLMENT_BOLETO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_SAVE_POL_INSTALLMENT_BOLETO]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


-- =============================================          
-- Author       :  Praveen Kumar     
-- Create date  : 01/06/2010         
-- Description  : Save Boleto    
-- Modified by  : Pradeep Kushwaha
-- Modified Date: 09-Nov-2010
-- Modified Purpose : Update the IS_ACTIVE as 'N' previous Boleto and insert the newly generated Boleto
-- DROP PROC Proc_SAVE_POL_INSTALLMENT_BOLETO  2127,14,1,397,1,1,'','','','',''  

-- =============================================          
CREATE PROC [dbo].[Proc_SAVE_POL_INSTALLMENT_BOLETO]   
--@BOLETO_ID INT,     
@CUSTOMER_ID INT,          
@POLICY_ID INT,          
@POLICY_VERSION_ID INT,         
@INSTALLEMT_ID INT,    
@INSTALLMENT_NO INT,    
@BANK_ID SMALLINT,    
@BOLETO_HTML Text,    
@CREATED_BY INT,    
@CREATED_DATETIME  DATETIME = NULL,    
@MODIFIED_BY INT,    
@LAST_UPDATED_DATETIME  DATETIME ,
@CALLED_FOR NVARCHAR(25)=NULL,    
@OUR_NUMBER NVARCHAR(20)=NULL,
@BOLETO_BARCODE_NUMBER NVARCHAR(50)=NULL   --barcode column           
AS          
BEGIN     
DECLARE @INSTALLMENT_BOLETO VARCHAR(500);   
--SET @INSTALLMENT_BOLETO='';  
  IF(UPPER(@CALLED_FOR) = 'REGENERATE_BOLETO') ---iTrack 1383,1361
  BEGIN
  --Modified by Pradeep on 20-July-2011
  --Update BOLETO_HTML with newly regenerated Boleto Html to existing Active Boleto in boleto table  for regenerate process of boleto 
  		UPDATE POL_INSTALLMENT_BOLETO  SET  BOLETO_HTML = @BOLETO_HTML,  MODIFIED_BY = @CREATED_BY,  
			LAST_UPDATED_DATETIME=@CREATED_DATETIME  
		WHERE CUSTOMER_ID=@CUSTOMER_ID AND   POLICY_ID=@POLICY_ID AND  
			POLICY_VERSION_ID=@POLICY_VERSION_ID AND  INSTALLEMT_ID=@INSTALLEMT_ID AND  
			INSTALLMENT_NO=@INSTALLMENT_NO  AND  ISNULL(IS_ACTIVE,'N')='Y' 
  END
 
  ELSE IF(UPPER(@CALLED_FOR) = 'BOLETO_REPRINT') 
  BEGIN
		--Mark existing Active Boleto inactive in boleto table   
		--Update(Deactivate) Boleto record in POL_INSTALLMENT_BOLETO if Boleto in Reprint process
		UPDATE POL_INSTALLMENT_BOLETO  SET  IS_ACTIVE= 'N',  MODIFIED_BY = @CREATED_BY,  
			LAST_UPDATED_DATETIME=@CREATED_DATETIME  
		WHERE CUSTOMER_ID=@CUSTOMER_ID AND   POLICY_ID=@POLICY_ID AND  
			POLICY_VERSION_ID=@POLICY_VERSION_ID AND  INSTALLEMT_ID=@INSTALLEMT_ID AND  
			INSTALLMENT_NO=@INSTALLMENT_NO  AND UPPER(ISNULL(IS_ACTIVE,'Y'))!='N' 
		
		--Insert with Active Generated Boleto record in POL_INSTALLMENT_BOLETO if Boleto in Reprint process  
		INSERT INTO POL_INSTALLMENT_BOLETO(CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,INSTALLEMT_ID,INSTALLMENT_NO,    
			BANK_ID,BOLETO_HTML,CREATED_BY,CREATED_DATETIME,IS_ACTIVE,OUR_NUMBER,BOLETO_BARCODE_NUMBER)  --barcode column added            
			VALUES(@CUSTOMER_ID,@POLICY_ID,@POLICY_VERSION_ID,@INSTALLEMT_ID,@INSTALLMENT_NO,     
			@BANK_ID,@BOLETO_HTML,@CREATED_BY, GETDATE(),'Y' ,@OUR_NUMBER,@BOLETO_BARCODE_NUMBER)   	--barcode column added  
		
		--Update BOLETO_NO in  ACT_POLICY_INSTALLMENT_DETAILS table while generating Boleto
		UPDATE ACT_POLICY_INSTALLMENT_DETAILS		
		SET BOLETO_NO=@OUR_NUMBER WHERE CUSTOMER_ID=@CUSTOMER_ID AND   POLICY_ID=@POLICY_ID AND  
				POLICY_VERSION_ID=@POLICY_VERSION_ID AND  ROW_ID=@INSTALLEMT_ID	
  
      
  END
 ELSE
 BEGIN 
	--Insert Boleto record in POL_INSTALLMENT_BOLETO if not generated  
	INSERT INTO POL_INSTALLMENT_BOLETO(CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,INSTALLEMT_ID,INSTALLMENT_NO,    
				BANK_ID,BOLETO_HTML,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,IS_ACTIVE,OUR_NUMBER,BOLETO_BARCODE_NUMBER)   --barcode column added          
				VALUES(@CUSTOMER_ID,@POLICY_ID,@POLICY_VERSION_ID,@INSTALLEMT_ID,@INSTALLMENT_NO,     
				@BANK_ID,@BOLETO_HTML,@CREATED_BY, GETDATE(),@MODIFIED_BY,@LAST_UPDATED_DATETIME,'Y',@OUR_NUMBER,@BOLETO_BARCODE_NUMBER ) -- barcode column added    
	--Update BOLETO_NO in  ACT_POLICY_INSTALLMENT_DETAILS table while generating Boleto
	UPDATE ACT_POLICY_INSTALLMENT_DETAILS		
	SET BOLETO_NO=@OUR_NUMBER WHERE CUSTOMER_ID=@CUSTOMER_ID AND   POLICY_ID=@POLICY_ID AND  
			POLICY_VERSION_ID=@POLICY_VERSION_ID AND  ROW_ID=@INSTALLEMT_ID AND INSTALLMENT_NO=@INSTALLMENT_NO
	
 END 
END

GO

