IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetProductPDFPolicyDisplayVerDetails]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetProductPDFPolicyDisplayVerDetails]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------                                                            
Proc Name       : dbo.Proc_GetProductPDFPolicyDisplayVerDetails                           
Created by      : Shubhanshu Pandey                                                         
Date            : 16/06/2011                                                           
Purpose         :                                                                                               
Revison History :                                                            
Used In        :                                                           
------------------------------------------------------------                                                            
Date     Review By          Comments                                                            
------   ------------       -------------------------*/                                                            
--DROP PROC dbo.Proc_GetProductPDFPolicyDisplayVerDetails

CREATE  PROCEDURE [dbo].[Proc_GetProductPDFPolicyDisplayVerDetails]        
(                                                            
 @POLICY_NUMBER NVARCHAR(150),                                                            
 @CALLEDFROM  VARCHAR(20)=null,          
 @LANG_ID INT=NULL                                                             
)                                                            
AS              
BEGIN  
DECLARE  @CUSTOMER_ID INT, 
		 @POLICY_ID INT,      
		 @POLICY_VERSION_ID INT              
   SELECT 
		@CUSTOMER_ID = PCPL.CUSTOMER_ID,
		@POLICY_ID = PCPL.POLICY_ID,
		@POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID
  FROM 
	POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK)
  WHERE 
	PCPL.POLICY_NUMBER = @POLICY_NUMBER       
	    
  DECLARE @POLICY_LOB NVARCHAR(5)      
  DECLARE @ENDORSEMENT_NO NVARCHAR(20)      
  DECLARE @ENDO_TYPE_DIGIT NVARCHAR(10)        
  DECLARE @END_VERIFY_DIGIT NVARCHAR(10)   ,    
              
   @CO_INSURANCE int ,@COMMISSION_PERCENT DECIMAL(12,2)        
       
    declare @Pol_Status varchar(20)    
        
    select @Pol_Status=POLICY_STATUS from POL_CUSTOMER_POLICY_LIST POLC WITH(NOLOCK) where POLC.CUSTOMER_ID=@CUSTOMER_ID AND POLC.POLICY_ID=@POLICY_ID   AND POLC.POLICY_VERSION_ID=@POLICY_VERSION_ID     
        
  DECLARE @PROCESS_ID INT  
  SELECT @PROCESS_ID = PROCESS_ID FROM POL_POLICY_PROCESS WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID =@POLICY_ID AND NEW_POLICY_VERSION_ID  = @POLICY_VERSION_ID  
  AND UPPER(PROCESS_STATUS) <>'ROLLBACK'     
        
 /* Added By Lalit For New XML*/            
                
  IF EXISTS(SELECT CUSTOMER_ID FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK)                                                               
   WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID)                  
  BEGIN                  
  SELECT  @POLICY_LOB=POLICY_LOB,@CO_INSURANCE=CO_INSURANCE                
  FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK)                                                                                                                               
  WHERE CUSTOMER_ID=@CUSTOMER_ID and POLICY_ID=@POLICY_ID and POLICY_VERSION_ID=@POLICY_VERSION_ID              
            
 IF EXISTS(SELECT * FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID and POLICY_ID=@POLICY_ID and POLICY_VERSION_ID=@POLICY_VERSION_ID AND TRANSACTION_TYPE = 14560 )          
 SELECT @COMMISSION_PERCENT = SUM(ISNULL(COMMISSION_PERCENT,0)) FROM POL_APPLICANT_LIST WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID  = @POLICY_VERSION_ID          
               
                
    --SELECT            
    --ISNULL(CMPL.REIN_COMAPANY_NAME,'')  AS BRANCH_NAME ,            
    --ISNULL(CMPL.REIN_COMAPANY_ADD1,'') AS COMPANY_ADDRESS,          
    --ISNULL(CMPL.M_REIN_COMPANY_ZIP,'')  AS BRANCH_ZIP,          
    --ISNULL(CMPL.M_REIN_COMPANY_STATE,'')  AS BRANCH_STATE,          
    --ISNULL(CMPL.CARRIER_CNPJ,'') AS  BRANCH_CNPJ  ,          
    --ISNULL(CMPL.REIN_COMAPANY_PHONE,'') AS BRANCH_PHONE  ,           
    --ISNULL(CMPL.M_REIN_COMPANY_FAX,'') AS BRANCH_FAX   ,          
    --isnull(CMPL.REIN_COMAPANY_CODE,'') as REIN_COMAPANY_CODE,        
    --ISNULL(CMPL.REIN_COMAPANY_EMAIL,'') AS BRANCH_EMAIL         
    --FROM MNT_REIN_COMAPANY_LIST CMPL WITH(NOLOCK)            
    --INNER JOIN MNT_SYSTEM_PARAMS  SYSP ON SYSP.SYS_CARRIER_ID=CMPL.REIN_COMAPANY_ID          
    -- FOR XML AUTO,ELEMENTS, Root('COMPANY')         
          
     --SELECT ISNULL(MNT_DIS_SUR.DISCOUNT_DESCRIPTION,'DISCOUNT') AS DISCOUNT_DESCRIPTION ,      
     --   cast(dbo.fun_FormatCurrency(ISNULL(POL_DIS_SUR.PERCENTAGE,0),@LANG_ID) as nvarchar(50)) +'%' AS PERCENTAGE     
     --   FROM POL_DISCOUNT_SURCHARGE  POL_DIS_SUR  with(NOLOCK)          
     --   JOIN MNT_DISCOUNT_SURCHARGE  MNT_DIS_SUR  ON POL_DIS_SUR.DISCOUNT_ID=MNT_DIS_SUR.DISCOUNT_ID        
     --   WHERE        
     --   POL_DIS_SUR.CUSTOMER_ID=@CUSTOMER_ID and POL_DIS_SUR.POLICY_ID=@POLICY_ID         
     --   and  POL_DIS_SUR.POLICY_VERSION_ID=@POLICY_VERSION_ID      
     --   FOR XML AUTO,ELEMENTS,ROOT('DISCOUNT')       
    
            
     
 IF EXISTS(SELECT ENDORSEMENT_NO  FROM  POL_POLICY_ENDORSEMENTS WITH(NOLOCK)       
   WHERE CUSTOMER_ID= @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID =@POLICY_VERSION_ID)      
 BEGIN      
   SELECT @ENDORSEMENT_NO=RIGHT(REPLICATE('0', 8-LEN(ENDORSEMENT_NO))+ CAST(ENDORSEMENT_NO AS VARCHAR(8)),7) ,      
   @END_VERIFY_DIGIT=END_VERIFY_DIGIT      
   FROM  POL_POLICY_ENDORSEMENTS WITH(NOLOCK)       
   WHERE CUSTOMER_ID= @CUSTOMER_ID AND       
   POLICY_ID = @POLICY_ID AND       
   POLICY_VERSION_ID = @POLICY_VERSION_ID     
  --BEGIN        
 end    
  --SET @ENDORSEMENT_NO='0000000'         
  --END        
     
     
  SELECT  @ENDO_TYPE_DIGIT=LOOK_UP.TYPE         
  FROM  POL_POLICY_PROCESS PROCESS WITH(NOLOCK)         
  LEFT JOIN MNT_LOOKUP_VALUES LOOK_UP WITH(NOLOCK)         
  ON PROCESS.ENDORSEMENT_TYPE = LOOK_UP.LOOKUP_UNIQUE_ID         
 WHERE         
  PROCESS.CUSTOMER_ID= @CUSTOMER_ID AND         
  PROCESS.POLICY_ID = @POLICY_ID AND         
  PROCESS.NEW_POLICY_VERSION_ID = @POLICY_VERSION_ID AND         
  PROCESS.PROCESS_STATUS<> 'ROLLBACK'       
  --SELECT @ENDORSEMENT_NO    
    
   --SELECT       
   --CAST(ISNULL(SUM(COINSURANCE_PERCENT),0) as nvarchar(50))+'%' AS COINSURANCE_PERCENT,    
   --CAST(ISNULL(COINSURANCE_FEE,0) as nvarchar(50)) AS COINSURANCE_FEE         
   -- FROM POL_CO_INSURANCE POL_CO_INS  WITH(NOLOCK) WHERE       
   -- CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID       
   -- and LEADER_FOLLOWER=14549 and POLICY_VERSION_ID=@POLICY_VERSION_ID       
   -- GROUP BY COINSURANCE_PERCENT,COINSURANCE_FEE    
   -- FOR XML AUTO,ELEMENTS,ROOT('COINSURANCE')   
     
          IF(@PROCESS_ID IN (3,14))  
       BEGIN  
    
      SELECT   
         ISNULL(COMPANY.REIN_COMAPANY_NAME,'') AS REIN_COMAPANY_NAME,  
         ISNULL(COMPANY.SUSEP_NUM,'') AS SUSEP_NUM,  
               ISNULL(CURRENT_COINSURANCE.COINSURANCE_PERCENT,0) AS CURRENT_COINSURANCE_PERCENT,  
               ISNULL(PREV_COINSURANCE.COINSURANCE_PERCENT,0) AS PREVIOUS_COINSURANCE_PERCENT,  
               ISNULL(CURRENT_COINSURANCE.COINSURANCE_FEE,0) AS CURRENT_COINSURANCE_FEE,  
               ISNULL(PREV_COINSURANCE.COINSURANCE_FEE,0) AS  PREVIOUS_COINSURANCE_FEE,  
               CASE   
     WHEN(ISNULL(CURRENT_COINSURANCE.COINSURANCE_PERCENT,0) <> ISNULL(PREV_COINSURANCE.COINSURANCE_PERCENT,0))   
     OR  (ISNULL(CURRENT_COINSURANCE.COINSURANCE_FEE,0) <>  ISNULL(PREV_COINSURANCE.COINSURANCE_FEE,0) )  
     THEN 1 ELSE 0 END IS_PRINT,  
    --OTHER Table column  
         COMPANY.REIN_COMAPANY_NAME, COMPANY.SUSEP_NUM,    
            CAST(dbo.fun_FormatCurrency(CURRENT_COINSURANCE.COINSURANCE_PERCENT,@LANG_ID) as nvarchar(50))+'%' AS COINSURANCE_PERCENT,    
            CAST(dbo.fun_FormatCurrency(CURRENT_COINSURANCE.COINSURANCE_FEE,@LANG_ID) as nvarchar(50)) + '%' AS COINSURANCE_FEE     
               FROM POL_CO_INSURANCE CURRENT_COINSURANCE WITH(NOLOCK)   
      LEFT OUTER JOIN   POL_CO_INSURANCE PREV_COINSURANCE WITH(NOLOCK)  
      ON    
      PREV_COINSURANCE.CUSTOMER_ID  = @CUSTOMER_ID and PREV_COINSURANCE.POLICY_ID = @POLICY_ID and PREV_COINSURANCE.POLICY_VERSION_ID = @POLICY_VERSION_ID-1  
      and  
      PREV_COINSURANCE.CUSTOMER_ID = CURRENT_COINSURANCE.CUSTOMER_ID AND   
      PREV_COINSURANCE.POLICY_ID = CURRENT_COINSURANCE.POLICY_ID   
     and PREV_COINSURANCE.COINSURANCE_ID=CURRENT_COINSURANCE.COINSURANCE_ID  
      --AND   
     -- PREV_COINSURANCE.POLICY_VERSION_ID = CURRENT_COINSURANCE.POLICY_VERSION_ID  
              INNER JOIN    
           MNT_REIN_COMAPANY_LIST COMPANY (NOLOCK) ON (COMPANY.REIN_COMAPANY_ID = CURRENT_COINSURANCE.COMPANY_ID)      
               WHERE   
                CURRENT_COINSURANCE .CUSTOMER_ID = @CUSTOMER_ID and  CURRENT_COINSURANCE.POLICY_ID = @POLICY_ID and CURRENT_COINSURANCE.POLICY_VERSION_ID = @POLICY_VERSION_ID  and CURRENT_COINSURANCE.LEADER_FOLLOWER=14549  
                FOR XML AUTO,ELEMENTS,  ROOT('COINSURANCE')    
         END  
  
    else  
  
    begin  
  
    SELECT       
  
   ISNULL(COMP.REIN_COMAPANY_NAME,'') AS REIN_COMAPANY_NAME,  
   ISNULL(COMP.SUSEP_NUM,'') AS SUSEP_NUM,  
   CAST(dbo.fun_FormatCurrency(COINSURANCE_PERCENT,2) as nvarchar(50))+'%' AS COINSURANCE_PERCENT,    
   CAST(dbo.fun_FormatCurrency(COINSURANCE_FEE,2) as nvarchar(50)) + '%' AS COINSURANCE_FEE         
        
    FROM POL_CO_INSURANCE  COMPANY  WITH(NOLOCK)     
    INNER JOIN    
   MNT_REIN_COMAPANY_LIST COMP (NOLOCK) ON (COMP.REIN_COMAPANY_ID = COMPANY.COMPANY_ID)        
    WHERE       
    CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID  and POLICY_VERSION_ID=@POLICY_VERSION_ID  and LEADER_FOLLOWER=14549    
    FOR XML AUTO,ELEMENTS,ROOT('COINSURANCE')   
    end  
  -- SELECT @ENDORSEMENT_NO=RIGHT(REPLICATE('0', 5-LEN(ENDORSEMENT_NO))+ CAST(ENDORSEMENT_NO AS VARCHAR(5)),4) ,      
  -- @END_VERIFY_DIGIT=END_VERIFY_DIGIT      
  -- FROM  POL_POLICY_ENDORSEMENTS WITH(NOLOCK)       
  -- WHERE CUSTOMER_ID= 28025 AND       
  -- POLICY_ID = 51 AND       
  -- POLICY_VERSION_ID = 2       
       
  -- SELECT @ENDORSEMENT_NO        
  ---- FOR XML AUTO,ELEMENTS,ROOT('ENODRSMENT_TYPE')     
            
   --SELECT ISNULL(CMPL.REIN_COMAPANY_NAME,'')  AS CARRIER_NAME  FROM MNT_REIN_COMAPANY_LIST CMPL WITH(NOLOCK)            
   --INNER JOIN MNT_SYSTEM_PARAMS  SYSP ON SYSP.SYS_CARRIER_ID=CMPL.REIN_COMAPANY_ID          
   --FOR XML AUTO,ELEMENTS, Root('CARRIER')         
            
  SELECT            
  ISNULL(MNTDL.DIV_NAME,'')  AS BRANCH_NAME ,            
  ISNULL(MNTDL.DIV_ADD1,'')+ case when  LEN(MNTDL.DIV_ADD2) > 0 then ' - '+MNTDL.DIV_ADD2  else '' end +      
  case when LEN(MNTDL.DIV_CITY) > 0 then  ' - '+MNTDL.DIV_CITY  else '' end + '/'+ISNULL(MNTCSL.STATE_CODE,'')  AS COMPANY_ADDRESS, ISNULL(MNTDL.DIV_ZIP,'')  AS BRANCH_ZIP,          
  ISNULL(MNTDL.BRANCH_CNPJ,'') AS  BRANCH_CNPJ  ,          
  ISNULL(MNTDL.DIV_PHONE,'') AS BRANCH_PHONE  ,           
  ISNULL(MNTDL.DIV_FAX,'') AS BRANCH_FAX   ,          
   RIGHT(REPLICATE('0', 2-LEN(MNTDL.DIV_CODE))+ CAST(MNTDL.DIV_CODE AS VARCHAR(5)),2) REIN_COMAPANY_CODE  ,      
  ISNULL(MNTDL.DIV_EMAIL,'') AS BRANCH_EMAIL         
  FROM MNT_DIV_LIST MNTDL WITH(NOLOCK)            
  INNER JOIN MNT_COUNTRY_STATE_LIST  MNTCSL ON MNTCSL.STATE_ID=MNTDL.DIV_STATE        
  where   DIV_ID= ( select DIV_ID from POL_CUSTOMER_POLICY_LIST where CUSTOMER_ID=@CUSTOMER_ID and POLICY_ID=@POLICY_ID and POLICY_VERSION_ID=@POLICY_VERSION_ID)      
  FOR XML AUTO,ELEMENTS, Root('COMPANY')         
          
    --LEFT OUTER JOIN  CLT_APPLICANT_LIST APPLICANT ON          
    --table 0 FROM CLT_CUSTOMER_LIST                  
    
   if(@PROCESS_ID in (3,14))  
      begin  
   SELECT  
   ISNULL(UPPER(APPLICANT.FIRST_NAME),'') +' '+ISNULL(UPPER(APPLICANT.MIDDLE_NAME),'')  + ' '+ISNULL( UPPER(APPLICANT.LAST_NAME),'') AS APPLICANT_NAME,            
   ISNULL(UPPER(APPLICANT.ADDRESS1),'')+ISNULL(UPPER(', '+APPLICANT.NUMBER),'') +ISNULL(' '+UPPER(APPLICANT.ADDRESS2),'')  AS ADDRESS,              
   ISNULL(UPPER(APPLICANT.CITY),'') +'/'+ISNULL(UPPER(MNT_CSL.STATE_CODE),'') AS CITY  ,             
   ISNULL(UPPER(APPLICANT.STATE),'') AS STATE,              
   ISNULL(ZIP_CODE ,'') as  ZIP_CODE,         
   ISNULL(UPPER(APPLICANT.CPF_CNPJ),'') AS CPF_CNPJ,              
   ISNULL(UPPER(APPLICANT.CONTACT_CODE),'') AS APPLICANT_CODE              
   FROM POL_POLICY_PROCESS  POL_APPLICANT WITH(NOLOCK)     
   JOIN CLT_APPLICANT_LIST APPLICANT WITH(NOLOCK) ON           
   POL_APPLICANT.CO_APPLICANT_ID = APPLICANT.APPLICANT_ID        
   JOIN MNT_COUNTRY_STATE_LIST MNT_CSL  WITH(NOLOCK)  ON  MNT_CSL.STATE_ID=APPLICANT.STATE          
   WHERE POL_APPLICANT.CUSTOMER_ID = @CUSTOMER_ID AND POL_APPLICANT.POLICY_ID = @POLICY_ID          
   AND POL_APPLICANT.NEW_POLICY_VERSION_ID = @POLICY_VERSION_ID   
    FOR XML AUTO,ELEMENTS  
        end  
        else  
        begin  
        SELECT            
  ISNULL(UPPER(APPLICANT.FIRST_NAME),'') +' '+ISNULL(UPPER(APPLICANT.MIDDLE_NAME),'')  + ' '+ISNULL( UPPER(APPLICANT.LAST_NAME),'') AS APPLICANT_NAME,            
  ISNULL(UPPER(APPLICANT.ADDRESS1),'')+ISNULL(UPPER(', '+APPLICANT.NUMBER),'') +ISNULL(' '+UPPER(APPLICANT.ADDRESS2),'')  AS ADDRESS,              
  ISNULL(UPPER(APPLICANT.CITY),'') +'/'+ISNULL(UPPER(MNT_CSL.STATE_CODE),'') AS CITY  ,             
  ISNULL(UPPER(APPLICANT.STATE),'') AS STATE,              
  ISNULL(ZIP_CODE ,'') as  ZIP_CODE,         
  ISNULL(UPPER(APPLICANT.CPF_CNPJ),'') AS CPF_CNPJ,              
  ISNULL(UPPER(APPLICANT.CONTACT_CODE),'') AS APPLICANT_CODE              
  FROM POL_APPLICANT_LIST  POL_APPLICANT WITH(NOLOCK)     
  JOIN CLT_APPLICANT_LIST APPLICANT WITH(NOLOCK) ON           
  POL_APPLICANT.APPLICANT_ID = APPLICANT.APPLICANT_ID        
  JOIN MNT_COUNTRY_STATE_LIST MNT_CSL  WITH(NOLOCK)  ON  MNT_CSL.STATE_ID=APPLICANT.STATE          
  WHERE POL_APPLICANT.CUSTOMER_ID = @CUSTOMER_ID AND POL_APPLICANT.POLICY_ID = @POLICY_ID          
  AND POL_APPLICANT.POLICY_VERSION_ID = @POLICY_VERSION_ID AND POL_APPLICANT.IS_PRIMARY_APPLICANT = 1  
   FOR XML AUTO,ELEMENTS  
     
        end  
      
          
             
    --, Root('CUSTOMER')                 
         
   SELECT               
       CASE WHEN @PROCESS_ID in (3,14)  
       then   
      (SELECT COINSURANCE_NUMBER FROM POL_POLICY_PROCESS WHERE CUSTOMER_ID=@CUSTOMER_ID and POLICY_ID=@POLICY_ID and POLICY_VERSION_ID=@POLICY_VERSION_ID)  
       --[APPLICATION].APP_NUMBER  
        else  
        [APPLICATION].APP_NUMBER    
                 
       end as APP_NUMBER,  
          
      CASE         
      WHEN MNT_LOOKUP.LOOKUP_UNIQUE_ID=14547 THEN '0.' + SUBSTRING([APPLICATION].POLICY_NUMBER,16,7)         
      WHEN MNT_LOOKUP.LOOKUP_UNIQUE_ID=14548 THEN '0.' + SUBSTRING([APPLICATION].POLICY_NUMBER,16,7)         
      WHEN MNT_LOOKUP.LOOKUP_UNIQUE_ID=14549 THEN  '9.' + SUBSTRING([APPLICATION].POLICY_NUMBER,17,7)            
      END AS POLICY_NUMBER ,      
    
   --[APPLICATION].APP_EFFECTIVE_DATE,              
   --[APPLICATION].APP_EXPIRATION_DATE,              
   --[APPLICATION].POLICY_EFFECTIVE_DATE,              
   --[APPLICATION].POLICY_EXPIRATION_DATE,           
                
      ISNULL(UPPER(MNTDL.DIV_CITY),'')  AS  POLICY_DIV,         
      ISNULL(MNTDL.BRANCH_CODE +' - '+ MNTDL.DIV_NAME,'') AS BRANCH_DESC,        
      ISNULL(CONVERT(VARCHAR(10), [APPLICATION].APP_EFFECTIVE_DATE, 103),'') AS  APP_EFFECTIVE_DATE,           
      ISNULL(CONVERT(VARCHAR(10), [APPLICATION].APP_EXPIRATION_DATE, 103) ,'') AS APP_EXPIRATION_DATE,             
      ISNULL(CONVERT(VARCHAR(10), [APPLICATION].POLICY_EFFECTIVE_DATE, 103) ,'') AS POLICY_EFFECTIVE_DATE ,           
      ISNULL(CONVERT(VARCHAR(10), [APPLICATION].POLICY_EXPIRATION_DATE, 103),'') AS POLICY_EXPIRATION_DATE,    
       
                   
            
     ISNULL([APPLICATION].BROKER_REQUEST_NO,'') AS   BROKER_REQUEST_NO,           
     ISNULL([APPLICATION].POLICY_LOB, '') AS    POLICY_LOB,          
     ISNULL([APPLICATION].PAYOR, '') AS    PAYOR,          
        
   ISNULL(MNT_LOB_MASTER.SUSEP_LOB_CODE,'') AS SUSEP_LOB_CODEP,          
                 
   ISNULL(MNT_SUSEP_LOB_MASTER.SUSEP_LOB_CODE,'') AS SUSEP_LOB_CODE,           
           LOB_DESC=CASE        
     WHEN @LANG_ID=2 THEN        
     ISNULL(UPPER(MNT_LOB_MASTER_MULTI.LOB_DESC),'')         
     ELSE        
     ISNULL(UPPER(MNT_LOB_MASTER.LOB_DESC),'') END,       
   SUSEP_LOB_DESC=MNT_SUSEP_LOB_MASTER.SUSEP_LOB_CODE+' - '+CASE        
     WHEN @LANG_ID=2 THEN        
     ISNULL(UPPER(MNT_LOB_MASTER_MULTI.LOB_DESC),'')         
     ELSE        
     ISNULL(UPPER(MNT_LOB_MASTER.LOB_DESC),'') END,    
   --CASE           
   --WHEN @LANG_ID=2 THEN        
   --ISNULL(UPPER(MNT_SUSEP_LOB_MASTER_MULTI.SUSEP_LOB_DESC),'')         
            
   --ELSE          
   --ISNULL(UPPER(MNT_SUSEP_LOB_MASTER.SUSEP_LOB_DESC),'') END ,          
            
        
             
     ISNULL(MNT_SUB_LOB_MASTER.SUB_LOB_CODE,'') AS SUB_LOB_CODE,          
         
     SUB_LOB_DESC=CASE           
     WHEN @LANG_ID=2 THEN ISNULL(UPPER(RIGHT(REPLICATE('0', 2-LEN(MNT_SUB_LOB_MASTER.SUSEP_CODE))+ CAST(MNT_SUB_LOB_MASTER.SUSEP_CODE AS VARCHAR(5)),2)+' - '+MNT_SUB_LOB_MASTER_MULTI.SUB_LOB_DESC),'')          
     ELSE         
    ISNULL(UPPER(  RIGHT(REPLICATE('0',2-LEN(MNT_SUB_LOB_MASTER.SUSEP_CODE))+ CAST(MNT_SUB_LOB_MASTER.SUSEP_CODE AS VARCHAR(5)),2)+' - '+MNT_SUB_LOB_MASTER.SUB_LOB_DESC),'') END ,              
    ISNULL(UPPER(MNT_AGENCY_LIST.AGENCY_DISPLAY_NAME),'') AS AGENCY_DISPLAY_NAME,              
    ISNULL(MNT_AGENCY_LIST.AGENCY_CODE,'') AS AGENCY_CODE,              
    ISNULL(MNT_AGENCY_LIST.SUSEP_NUMBER,'') AS AGENCY_SUSEP_NUMBER    ,          
    ISNULL([APPLICATION].CO_INSURANCE,'') AS CO_INSURANCE  ,            
    ISNULL([APPLICATION].POL_VER_EFFECTIVE_DATE,'') AS POL_VERSION_EFF_DATE,          
    ISNULL([APPLICATION].POLICY_SUBLOB,'') AS POLICY_SUBLOB,    
    CASE WHEN [APPLICATION].TRANSACTION_TYPE <> 14560--if not master policy          
    THEN  ISNULL(@COMMISSION_PERCENT,0)          
    ELSE           
    [APPLICATION].POLICY_LEVEL_COMISSION  END  AS POLICY_LEVEL_COMISSION,    
    case when  @ENDO_TYPE_DIGIT<>'' then ISNULL(@ENDO_TYPE_DIGIT+'.','') else '' end  +  ISNULL(@ENDORSEMENT_NO,'')+ case when @END_VERIFY_DIGIT<>'' then ISNULL('.'+@END_VERIFY_DIGIT,'')  else ''  end AS ENDORSEMENT_NO    
    
             
   FROM  POL_CUSTOMER_POLICY_LIST [APPLICATION] WITH(NOLOCK)              
   LEFT OUTER JOIN  MNT_LOB_MASTER WITH(NOLOCK) ON              
       [APPLICATION].POLICY_LOB = MNT_LOB_MASTER.LOB_ID              
   LEFT OUTER JOIN MNT_SUSEP_LOB_MASTER WITH(NOLOCK) ON              
     MNT_SUSEP_LOB_MASTER.SUSEP_LOB_ID = MNT_LOB_MASTER.SUSEP_LOB_ID              
                   
   LEFT OUTER JOIN MNT_SUB_LOB_MASTER WITH(NOLOCK) ON              
     MNT_SUB_LOB_MASTER.LOB_ID= [APPLICATION].POLICY_LOB AND              
     MNT_SUB_LOB_MASTER.SUB_LOB_ID= [APPLICATION].POLICY_SUBLOB              
                   
      LEFT OUTER JOIN MNT_AGENCY_LIST WITH(NOLOCK) ON              
      MNT_AGENCY_LIST.AGENCY_ID=[APPLICATION].AGENCY_ID             
             
      LEFT OUTER JOIN                        
    MNT_LOB_MASTER_MULTILINGUAL MNT_LOB_MASTER_MULTI WITH(NOLOCK) ON                  
    MNT_LOB_MASTER.LOB_ID=MNT_LOB_MASTER_MULTI.LOB_ID           
                 
     LEFT OUTER JOIN                        
   MNT_SUSEP_LOB_MASTER_MULTILINGUAL MNT_SUSEP_LOB_MASTER_MULTI WITH(NOLOCK) ON                  
    MNT_SUSEP_LOB_MASTER.SUSEP_LOB_ID=MNT_SUSEP_LOB_MASTER_MULTI.SUSEP_LOB_ID           
                   
     LEFT OUTER JOIN                        
   MNT_SUB_LOB_MASTER_MULTILINGUAL MNT_SUB_LOB_MASTER_MULTI WITH(NOLOCK) ON                  
    MNT_SUB_LOB_MASTER.LOB_ID=MNT_SUB_LOB_MASTER_MULTI.LOB_ID AND           
    MNT_SUB_LOB_MASTER.SUB_LOB_ID=MNT_SUB_LOB_MASTER_MULTI.SUB_LOB_ID          
              
    LEFT OUTER JOIN           
          
   MNT_DIV_LIST MNTDL WITH(NOLOCK) ON [APPLICATION].DIV_ID=MNTDL.DIV_ID          
             
    LEFT OUTER JOIN         
    MNT_LOOKUP_VALUES  MNT_LOOKUP WITH(NOLOCK) ON APPLICATION.CO_INSURANCE=MNT_LOOKUP.LOOKUP_UNIQUE_ID        
        
    WHERE          
     [APPLICATION].CUSTOMER_ID=@CUSTOMER_ID and [APPLICATION].POLICY_ID=@POLICY_ID and [APPLICATION].POLICY_VERSION_ID=@POLICY_VERSION_ID              
     FOR XML AUTO,ELEMENTS--, Root('APPLICATIONS')                 
                  
   --table 2 POL_PRODUCT_COVERAGES              
    --- EXEC Proc_GetPolicyCoveragePremium @CUSTOMER_ID ,@POLICY_ID,@POLICY_VERSION_ID ,@POLICY_LOB              
      DECLARE @Total int     
      DECLARE @TextValue varchar(max)     
     set @Total=(select PLAN_DATA.TOTAL_PREMIUM from ACT_POLICY_INSTALL_PLAN_DATA PLAN_DATA where CUSTOMER_ID=@CUSTOMER_ID and POLICY_ID=@POLICY_ID and POLICY_VERSION_ID=@POLICY_VERSION_ID)      
            
     DECLARE @COUNT INT    
         
     EXEC  Proc_GetPolicyPDF_Risks_Details @CUSTOMER_ID ,@POLICY_ID,@POLICY_VERSION_ID ,@POLICY_LOB ,@LANG_ID , @COUNT OUT    
              IF @COUNT = 0    
     begin    
     set @TextValue ='Os prêmios deste seguro, inclusive os emolumentos legais, serão cobrados do segurado por fatura e/ou endossos, e deverão ser pagos na rede bancaria ate as datas previstas nas fichas de compensação expedidas pela Seguradora.'    
      end     
      else if(@Total<>0)    
      begin    
      set @TextValue= 'O pagamento do prêmio devera ser efetuado ate a data prevista para esse fim no documento de cobrança, o qual será encaminhado pela seguradora diretamente ao segurado, seu representante legal ou, por expressa solicitação de qualquer 
  
um destes, ao corretor de seguros, com antecedência mínima de 05(cinco) dias úteis em relação à data do seu respectivo vencimento.'      
      end    
      else if (@Total=0)    
      begin    
      set @TextValue= 'Os prêmios deste seguro, inclusive os emolumentos legais, serão cobrados do segurado por fatura e/ou endossos, e deverão ser pagos na rede bancaria ate as datas previstas nas fichas de compensação expedidas pela Seguradora.'    
       end    
           
     
  --  DECLARE @COVERAGE TABLE (         
  --RISK_ID NVARCHAR(50),              
  --LOCATION_ID NVARCHAR(50),      
  --LOCATION_NUMBER    NVARCHAR(50),     
  --ITEM_NUMBER    NVARCHAR(50),      
  --RISK_PREMIUM   NVARCHAR(50),     
  --VALUE_AT_RISK  NVARCHAR(50),     
  --MAXIMUM_LIMIT NVARCHAR(50),    
  --ACTIVITY_DESC NVARCHAR(50),    
  --APPLICABLE_LOCATIONS NVARCHAR(50),    
  --LOCATION NVARCHAR(500),     
  --COMPONENT_CODE    NVARCHAR(500),         
  --COV_DES NVARCHAR(500),                    
  --   PsB  NVARCHAR(500),      
  --   LIMIT_1  NVARCHAR(500),     
  --   MINIMUM_DEDUCTIBLE NVARCHAR(500),     
  --   DEDUCTIBLE_1  NVARCHAR(500),     
  --DEDUCTIBLE_1_Text  NVARCHAR(500),     
  --DEDUCTIBLE2_AMOUNT_TEXT NVARCHAR(500),     
  --INDEMNITY_PERIOD NVARCHAR(500),    
  --IS_MAIN  NVARCHAR(500)    
      
  ----LIMIT_1 NVARCHAR(50),              
  ----WRITTEN_PREMIUM DECIMAL(15,2),            
  ----MINIMUM_DEDUCTIBLE NVARCHAR(50),          
  ----DEDUCTIBLE_1 NVARCHAR(50) ,          
  ----INDEMNITY_PERIOD NVARCHAR(50) ,          
  ----IS_MAIN   NVARCHAR(50)           
  --  )            
  --    INSERT INTO @COVERAGE        
  --   DECLARE @VALUE VARCHAR(50)    
  --   SET @VALUE=EXEC Proc_GetPolicyPDF_Risks_Details @CUSTOMER_ID ,@POLICY_ID,@POLICY_VERSION_ID ,@POLICY_LOB ,@LANG_ID              
           
          
      --DECLARE @BASIC_SUM_INSURED DECIMAL(15,2)        
      --DECLARE @ADDITIONAL_SUM_INSURED DECIMAL(15,2)        
      --DECLARE @BASIC_ADDITIONAL_RATIO DECIMAL(15,2)        
      --SELECT        
      --@BASIC_SUM_INSURED=CASE WHEN IS_MAIN=1 THEN SUM(WRITTEN_PREMIUM ) ELSE 0 END ,        
      --@ADDITIONAL_SUM_INSURED=CASE WHEN IS_MAIN=0 THEN SUM(WRITTEN_PREMIUM) ELSE 0 END        
      --FROM @COVERAGE GROUP BY COVERAGE_CODE_ID,IS_MAIN        
      --if(@BASIC_SUM_INSURED=0 or @ADDITIONAL_SUM_INSURED=0 )        
      --begin        
      --SELECT @BASIC_ADDITIONAL_RATIO =0        
  --      SELECT RISK_ID ,              
  --LOCATION_ID ,      
  --LOCATION_NUMBER   ,     
  --ITEM_NUMBER   ,      
  --RISK_PREMIUM   ,     
  --VALUE_AT_RISK  ,     
  --MAXIMUM_LIMIT ,    
  --ACTIVITY_DESC ,    
  --APPLICABLE_LOCATIONS ,    
  --LOCATION ,     
  --COMPONENT_CODE   ,         
  --COV_DES ,                    
  --   PsB  ,      
  --   LIMIT_1  ,     
  --   MINIMUM_DEDUCTIBLE ,     
  --   DEDUCTIBLE_1  ,     
  --DEDUCTIBLE_1_Text ,     
  --DEDUCTIBLE2_AMOUNT_TEXT ,     
  --INDEMNITY_PERIOD ,    
  --IS_MAIN  NVARCHAR(500) FROM  @COVERAGE     
  --      FOR XML AUTO, ELEMENTS,ROOT('RISKINFO')              
      --SELECT COV_DES,LIMIT_1,MINIMUM_DEDUCTIBLE, INDEMNITY_PERIOD, @BASIC_ADDITIONAL_RATIO as PsB FROM  @COVERAGE COVERAGE              
        
      --FOR XML AUTO, ELEMENTS,ROOT('RISKINFO')        
      --end        
      --else        
      --begin        
      --SELECT @BASIC_ADDITIONAL_RATIO=(@ADDITIONAL_SUM_INSURED/@BASIC_SUM_INSURED)*100        
      --SELECT RISK_ID,LOCATION_ID,LOCATION,WRITTEN_PREMIUM,ACTIVITY_DESC, VALUE_AT_RISK,MAXIMUM_LIMIT FROM  @COVERAGE RISKS              
      --SELECT COV_DES,LIMIT_1,MINIMUM_DEDUCTIBLE, INDEMNITY_PERIOD, @BASIC_ADDITIONAL_RATIO as PsB FROM  @COVERAGE COVERAGE         
      --FOR XML AUTO, ELEMENTS,ROOT('RISKINFO')        
      --end              
                    
     --table 3 ACT_POLICY_INSTALL_PLAN_DATA                
   SELECT    ISNULL(@TextValue,'' ) as Premium_Text ,           
   dbo.fun_FormatCurrency(ISNULL(SUM(INSTALLMENT_AMOUNT),0),@LANG_ID) AS TOTAL_NET_PREMIUM, dbo.fun_FormatCurrency(ISNULL(SUM(TAXES),0),@LANG_ID) AS TOTAL_IOF,              
   dbo.fun_FormatCurrency(ISNULL(SUM(INSTALLMENT_AMOUNT),0),@LANG_ID) AS TOTAL_PREMIUM,            
   dbo.fun_FormatCurrency(ISNULL(SUM(INTEREST_AMOUNT),0),@LANG_ID) AS TOTAL_INTEREST_AMOUNT,             
   dbo.fun_FormatCurrency(ISNULL(SUM(FEE),0),@LANG_ID)  AS TOTAL_FEES,            
   dbo.fun_FormatCurrency(ISNULL(SUM(TAXES),0),@LANG_ID) AS TOTAL_TAXES,             
   dbo.fun_FormatCurrency(ISNULL(SUM(TOTAL),0),@LANG_ID)AS TOTAL_AMOUNT            
   FROM ACT_POLICY_INSTALLMENT_DETAILS PLAN_DATA WITH(NOLOCK)                   
   WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID              
   FOR XML AUTO,ELEMENTS, Root('ACT_INSTALLMENT_DATA')                       
                 
   --table 4 ACT_POLICY_INSTALLMENT_DETAILS              
                   
    SELECT               
     
    RIGHT(REPLICATE('0', 2-LEN(INSTALLMENT_NO))+ CAST(INSTALLMENT_NO AS VARCHAR(5)),2) INSTALLMENT_NO,             
        
    dbo.fun_FormatCurrency(INSTALLMENT_AMOUNT,@LANG_ID) AS  INSTALLMENT_AMOUNT,          
    dbo.fun_FormatCurrency(INTEREST_AMOUNT, @LANG_ID)   AS  INTEREST_AMOUNT,        
    dbo.fun_FormatCurrency(FEE, @LANG_ID)   AS    FEE,        
    dbo.fun_FormatCurrency(TAXES, @LANG_ID)   AS   TAXES,            
    dbo.fun_FormatCurrency(TOTAL,@LANG_ID) AS TOTAL,    
       
    CONVERT(VARCHAR(10), INSTALLMENT_EFFECTIVE_DATE, 103) INSTALLMENT_EFFECTIVE_DATE                
    FROM ACT_POLICY_INSTALLMENT_DETAILS PLAN_DATA WITH(NOLOCK)                   
    WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  order by INSTALLMENT_NO             
    FOR XML AUTO,ELEMENTS, Root('ACT_INSTALLMENT_DETAILS')                      
                
    -- table 0 FROM MNT_USER_LIST                  
   SELECT                
  --ISNULL(MNT_USER_LIST.USER_FNAME,'')+ ISNULL(' '+MNT_USER_LIST.USER_LNAME)+              
                       
         ISNULL(upper(MNT_USER_LIST.USER_TYPE_CODE),'') AS PRODUCER_CODE               
                 
   FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK)               
   LEFT OUTER JOIN MNT_USER_LIST ON                 
   POL_CUSTOMER_POLICY_LIST.PRODUCER=MNT_USER_LIST.USER_ID             
             
             
   WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID              
   FOR XML AUTO,ELEMENTS, ROOT('PRODUCER')             
    
  
  IF(@PROCESS_ID IN (3,14))  
  BEGIN  
    
    SELECT   ISNULL(CURRENT_REMU.BROKER_ID,0) AS  CURRENT_BROKER_ID,  
               ISNULL(POLR.BROKER_ID,0) AS  PREV_BROKER_ID,  
               ISNULL(CURRENT_REMU.COMMISSION_PERCENT,0) AS  CURRENT_COMMISSION_PERCENT,  
               ISNULL(POLR.COMMISSION_PERCENT,0) AS  PREV_COMMISSION_PERCENT,  
               ISNULL(CURRENT_REMU.BRANCH ,0)AS  CURRENT_BRANCH,  
               ISNULL(POLR.BRANCH ,0)AS  PREV_BRANCH,  
               ISNULL(CURRENT_REMU.LEADER, 0)AS  CURRENT_LEADER,  
               ISNULL(POLR.LEADER,0) AS  PREV_LEADER,  
               CASE   
     WHEN(ISNULL(CURRENT_REMU.COMMISSION_PERCENT,0) <>  ISNULL(POLR.COMMISSION_PERCENT,0))   
     OR  (ISNULL(CURRENT_REMU.BRANCH,0) <>  ISNULL(POLR.BRANCH,0) )  
     OR  (ISNULL(CURRENT_REMU.LEADER,0) <>  ISNULL(POLR.LEADER,0) )  
     THEN 1 ELSE 0 END IS_PRINT,  
    --OTHER Table column  
    ISNULL(POL.BROKER_REQUEST_NO,'') AS BROKER_REQUEST_NO,  
    ISNULL(MNTS.AGENCY_DISPLAY_NAME,'')+' - '+ ISNULL(LTRIM(SUBSTRING(MNTS.AGENCY_CODE,1,4))+'.'+RTRIM(SUBSTRING(MNTS.AGENCY_CODE,5,6)),'') AS BROKER_FULL_NAME,  
    ISNULL(mnts.SUSEP_NUMBER,'') as SUSEP_BROKER_CODE,     
    ISNULL(MNTS.AGENCY_DISPLAY_NAME,'') AS BROKER_NAME,   
       ISNULL(MNTS.AGENCY_CODE,'') AS BROKER_CODE ,  
       ISNULL(CURRENT_REMU.BRANCH,0) AS  BANK_BRANCH ,   
      case when (POL.POLICY_LEVEL_COMISSION = '0.00' OR POL.POLICY_LEVEL_COMISSION IS null)   
      then cast( dbo.fun_FormatCurrency(CURRENT_REMU.COMMISSION_PERCENT,@LANG_ID) as nvarchar(10))   
      else cast( dbo.fun_FormatCurrency(((POL.POLICY_LEVEL_COMISSION * CURRENT_REMU.COMMISSION_PERCENT)/100),@LANG_ID)   
      as nvarchar(50) )  + '%' end as   COMMISSION_PERCENT ,    
      ISNULL(MNTS.SUSEP_NUMBER,'') AS SUSEP_BROKER_CODE ,      
      CAST(dbo.fun_FormatCurrency(CURRENT_REMU.COMMISSION_PERCENT,@LANG_ID) AS NVARCHAR(50))+'%'  AS  BROKER_COMMISION    
       
               FROM POL_REMUNERATION CURRENT_REMU WITH(NOLOCK)   
      LEFT OUTER JOIN (  
      SELECT * FROM POL_REMUNERATION POLR WITH(NOLOCK) WHERE   
      POLR.CUSTOMER_ID  = @CUSTOMER_ID and POLR.POLICY_ID = @POLICY_ID and POLICY_VERSION_ID =@POLICY_VERSION_ID-1  
      ) POLR  
      ON   
       CURRENT_REMU.CUSTOMER_ID = POLR.CUSTOMER_ID AND  
       CURRENT_REMU.POLICY_ID =  POLR.POLICY_ID  AND   
      CURRENT_REMU.BROKER_ID = POLR.BROKER_ID   
               LEFT OUTER JOIN  POL_CUSTOMER_POLICY_LIST POL WITH(NOLOCK) ON   
               POL.CUSTOMER_ID=CURRENT_REMU.CUSTOMER_ID          
      AND POL.POLICY_ID=CURRENT_REMU.POLICY_ID           
      AND POL.POLICY_VERSION_ID=CURRENT_REMU.POLICY_VERSION_ID   
      LEFT OUTER JOIN MNT_AGENCY_LIST  MNTS WITH(NOLOCK)   ON CURRENT_REMU.BROKER_ID =MNTS.AGENCY_ID           
      LEFT OUTER JOIN MNT_DIV_LIST MNTDIV WITH(NOLOCK) ON POL.DIV_ID=MNTDIV.DIV_ID           
      LEFT OUTER JOIN MNT_PRODUCT_SUSEP_PROCESS_NUMBER MPSPN WITH(NOLOCK) ON POL.POLICY_LOB=MPSPN.LOB_ID      
      AND  POL.POLICY_SUBLOB=MPSPN.SUBLOB_ID           
      LEFT OUTER JOIN POL_POLICY_PROCESS PPP ON PPP.CUSTOMER_ID=POL.CUSTOMER_ID          
      AND PPP.POLICY_ID=POL.POLICY_ID           
      AND PPP.NEW_POLICY_VERSION_ID=POL.POLICY_VERSION_ID and PPP.PROCESS_STATUS<> 'ROLLBACK'     
      LEFT OUTER JOIN MNT_LOOKUP_VALUES  MLV WITH(NOLOCK) ON MLV.LOOKUP_UNIQUE_ID=PPP.ENDORSEMENT_TYPE       
      LEFT OUTER JOIN MNT_LOOKUP_VALUES_MULTILINGUAL  MLV_MULTI WITH(NOLOCK) ON MLV_MULTI.LOOKUP_UNIQUE_ID=PPP.ENDORSEMENT_TYPE      
               WHERE   
                CURRENT_REMU .CUSTOMER_ID = @CUSTOMER_ID and  CURRENT_REMU.POLICY_ID = @POLICY_ID and CURRENT_REMU.POLICY_VERSION_ID = @POLICY_VERSION_ID ORDER BY CURRENT_REMU.LEADER  
                FOR XML AUTO,ELEMENTS,  ROOT('MULTIBROKER')    
  
  END  
       ELSE  
       BEGIN  
    SELECT  POLR.LEADER,ISNULL(POL.BROKER_REQUEST_NO,'') AS BROKER_REQUEST_NO,     
    ISNULL(MNTS.AGENCY_DISPLAY_NAME,'')+' - '+ ISNULL(LTRIM(SUBSTRING(MNTS.AGENCY_CODE,1,4))+'.'+RTRIM(SUBSTRING(MNTS.AGENCY_CODE,5,6)),'') AS BROKER_FULL_NAME,   
    ISNULL(mnts.SUSEP_NUMBER,'') as SUSEP_BROKER_CODE,    
    ISNULL(MNTS.AGENCY_DISPLAY_NAME,'') AS BROKER_NAME,     
    ISNULL(MNTS.AGENCY_CODE,'') AS BROKER_CODE ,ISNULL(POLR.BRANCH,0) AS  BANK_BRANCH , case when (POL.POLICY_LEVEL_COMISSION = '0.00' OR POL.POLICY_LEVEL_COMISSION IS null) then cast( dbo.fun_FormatCurrency(POLR.COMMISSION_PERCENT,@LANG_ID) as nvarchar(10)) else cast( dbo.fun_FormatCurrency(((POL.POLICY_LEVEL_COMISSION * POLR.COMMISSION_PERCENT)/100),@LANG_ID) as nvarchar(50) )  + '%' end as   COMMISSION_PERCENT   ,    
    ISNULL(MNTS.SUSEP_NUMBER,'') AS SUSEP_BROKER_CODE       
    ,CAST(dbo.fun_FormatCurrency(POLR.COMMISSION_PERCENT,@LANG_ID) AS NVARCHAR(50))+'%'  AS  BROKER_COMMISION    
     FROM POL_CUSTOMER_POLICY_LIST  POL  WITH(NOLOCK)                  
    LEFT OUTER JOIN POL_POLICY_PROCESS PPP ON PPP.CUSTOMER_ID=POL.CUSTOMER_ID          
    AND PPP.POLICY_ID=POL.POLICY_ID           
    AND PPP.NEW_POLICY_VERSION_ID=POL.POLICY_VERSION_ID and PPP.PROCESS_STATUS<> 'ROLLBACK'     
    LEFT OUTER JOIN  POL_REMUNERATION POLR ON POLR.CUSTOMER_ID=POL.CUSTOMER_ID          
    AND POLR.POLICY_ID=POL.POLICY_ID           
    AND POLR.POLICY_VERSION_ID=POL.POLICY_VERSION_ID        
    LEFT OUTER JOIN MNT_AGENCY_LIST  MNTS WITH(NOLOCK)   ON POLR.BROKER_ID =MNTS.AGENCY_ID           
    LEFT OUTER JOIN MNT_DIV_LIST MNTDIV WITH(NOLOCK) ON POL.DIV_ID=MNTDIV.DIV_ID           
    LEFT OUTER JOIN MNT_PRODUCT_SUSEP_PROCESS_NUMBER MPSPN WITH(NOLOCK) ON POL.POLICY_LOB=MPSPN.LOB_ID      
    AND  POL.POLICY_SUBLOB=MPSPN.SUBLOB_ID           
    LEFT OUTER JOIN MNT_LOOKUP_VALUES  MLV WITH(NOLOCK) ON MLV.LOOKUP_UNIQUE_ID=PPP.ENDORSEMENT_TYPE       
    LEFT OUTER JOIN MNT_LOOKUP_VALUES_MULTILINGUAL  MLV_MULTI WITH(NOLOCK) ON MLV_MULTI.LOOKUP_UNIQUE_ID=PPP.ENDORSEMENT_TYPE      
    AND MLV_MULTI.LANG_ID = @LANG_ID     
   --LEFT OUTER JOIN POL_CO_INSURANCE POL_COI (NOLOCK) ON   POL_COI.CUSTOMER_ID=POLR.CUSTOMER_ID AND POL_COI.POLICY_ID=POLR.POLICY_ID AND POL_COI.POLICY_VERSION_ID=POLR.POLICY_VERSION_ID     
    WHERE POL.CUSTOMER_ID=@CUSTOMER_ID AND POL.POLICY_ID=@POLICY_ID AND POL.POLICY_VERSION_ID=@POLICY_VERSION_ID    ORDER BY POLR.LEADER  
    FOR XML AUTO,ELEMENTS,  ROOT('MULTIBROKER')    
  END  
  --select * from  POL_CO_INSURANCE where CUSTOMER_ID = 28025 and POLICY_ID = 121  
  --select * from POL_CUSTOMER_POLICY_LIST  where CUSTOMER_ID = 28025 and POLICY_ID = 121  
      
      
      SELECT  ISNULL(POL.BROKER_REQUEST_NO,'') AS BROKER_REQUEST_NO, ISNULL(MNTDIV.DIV_CITY ,'') AS  DIV_CITY,          
    ISNULL(PPP.PROCESS_ID,'') AS PROCESS_ID, ISNULL(MPSPN.SUSEP_PROCESS_NO,'') AS PROCESS_SUSEP_NO ,       
           
    CASE           
    WHEN PPP.PROCESS_ID IN (24,25)          
    THEN  'APÓLICE NOVA'-- MEANS NEW BUSINESS          
    WHEN PPP.PROCESS_ID IN (3,14)          
    THEN  'ENDOSSO'          
    WHEN PPP.PROCESS_ID IN (5,18)          
    THEN  'RENOVAÇÃO'          
    WHEN  PPP.PROCESS_ID IN (2,12)          
    THEN 'CANCELAMENTO'          
    ELSE           
    '' END AS PROCESS,     
         
             
   CASE WHEN  @LANG_ID = 2      
    THEN   MLV_MULTI.LOOKUP_VALUE_DESC      
   ELSE      
     MLV.LOOKUP_VALUE_DESC      
   END      
     ENDORSEMENT_TYPE  ,    
     CASE WHEN  @LANG_ID = 2      
    THEN   MLV_MULTI.LOOKUP_UNIQUE_ID      
   ELSE      
     MLV.LOOKUP_UNIQUE_ID      
   END      
     ENDORSEMENT_TYPE_ID  ,   
     CASE WHEN  2 = 2  AND  ISNULL(MLV.LOOKUP_VALUE_CODE,'0') ='21'    
    THEN    'ENDOSSO DE COBRANÇA DE PRÊMIO'    
     WHEN  2 = 2  AND  ISNULL(MLV.LOOKUP_VALUE_CODE,'0') ='23'    
    THEN   'ENDOSSO DE RESTITUIÇÃO DE PRÊMIO'    
    ELSE ''    
    END AS ENDORSEMENT_TYPE_TEXT_1,    
        
    CASE WHEN  2 = 2  AND  ISNULL(MLV.LOOKUP_VALUE_CODE,'0') ='21'    
    THEN  'Declara-se para os devidos fins e efeitos que, de conformidade com as condições da apólice, procede-se as alterações solicitadas pelo segurado, atraves de seu corretor.     
           Face o exposto, e de acordo com o(s) movimento(s) efetuado(s) na referida apólice, COBRA-SE do segurado, o prêmio correspondente o informado no item 4 abaixo, prêmio líquido deste endosso'    
      WHEN  2 = 2  AND ISNULL(MLV.LOOKUP_VALUE_CODE,'0') ='23'    
    THEN 'Declara-se para os devidos fins e efeitos que, de conformidade com as condições da apólice, procede-se as alterações solicitadas pelo segurado, atraves de seu corretor.     
         Face o exposto, e de acordo com o(s) movimento(s) efetuado(s) na referida apólice, RESTITUI-SE ao segurado, o prêmio correspondente o informado no item 4 abaixo, prêmio líquido deste endosso'    
 else ''    
    END AS ENDORSEMENT_TYPE_TEXT_DESC_P1,    
        
     CASE WHEN  2 = 2  AND  ISNULL(MLV.LOOKUP_VALUE_CODE,'0') ='21'    
     THEN  'Alteração de Coberturas e limites máximos segurados, de veículos, conforme especificado abaixo'    
      WHEN  2 = 2  AND  ISNULL(MLV.LOOKUP_VALUE_CODE,'0') ='23'    
     THEN 'Exclusão de veículos, conforme especificado abaixo'    
     else    
     ''    
     END AS ENDORSEMENT_TYPE_TEXT_DESC_P3,    
        
 ISNULL(PPP.COMMENTS,'') AS COMMENTS ,ISNULL(upper(POL.POLICY_NUMBER),'') AS POLICY_NUMBER,          
  '00000000' AS Preposto, ISNULL(MNTS.AGENCY_CODE,'') AS BROKER_CODE ,ISNULL(MNTS.BANK_BRANCH,0) AS  BANK_BRANCH , ISNULL(MNTS.SUSEP_NUMBER,'') AS SUSEP_BROKER_CODE ,          
  'DAY' AS DAY,'MONTH' AS MONTH,  'YEAR' AS [YEAR] ,    
      
 ISNULL(CONVERT(VARCHAR(10),  PPP.EFFECTIVE_DATETIME, 103) ,'') AS ENDORSMENT_EFFECTIVE_DATE ,     
 ISNULL(CONVERT(VARCHAR(10), PPP.EXPIRY_DATE, 103) ,'') AS ENDORSMENT_EXPIRATION_DATE ,   
    
 ISNULL(UPPER(CONVERT(varchar(4),DAY(COMPLETED_DATETIME),100))+' '+ 'DE'+ +' '+UPPER(dbo.fun_GetMonth_BR(CONVERT(varchar(4),MONTH(UPPER(COMPLETED_DATETIME)),100)))+' '+ 'DE' +' '+ CONVERT(varchar(4),YEAR(UPPER(COMPLETED_DATETIME)),100),'') as COMPLETED_DATETIME_BR  
 --ISNULL(MNTS.AGENCY_DISPLAY_NAME,'')+' - '+ ISNULL(LTRIM(SUBSTRING(MNTS.AGENCY_CODE,1,4))+'.'+RTRIM(SUBSTRING(MNTS.AGENCY_CODE,5,6)),'') AS BROKER_NAME     
      
    FROM POL_CUSTOMER_POLICY_LIST  POL  WITH(NOLOCK)                    
  LEFT OUTER JOIN POL_POLICY_PROCESS PPP ON PPP.CUSTOMER_ID=POL.CUSTOMER_ID            
  AND PPP.POLICY_ID=POL.POLICY_ID             
  AND PPP.NEW_POLICY_VERSION_ID=POL.POLICY_VERSION_ID and PPP.PROCESS_STATUS <> 'ROLLBACK'           
  LEFT OUTER JOIN MNT_AGENCY_LIST  MNTS WITH(NOLOCK)   ON POL.AGENCY_ID=MNTS.AGENCY_ID             
  LEFT OUTER JOIN MNT_DIV_LIST MNTDIV WITH(NOLOCK) ON POL.DIV_ID=MNTDIV.DIV_ID             
  LEFT OUTER JOIN MNT_PRODUCT_SUSEP_PROCESS_NUMBER MPSPN WITH(NOLOCK) ON POL.POLICY_LOB=MPSPN.LOB_ID        
  AND  POL.POLICY_SUBLOB=MPSPN.SUBLOB_ID              
  LEFT OUTER JOIN MNT_LOOKUP_VALUES  MLV WITH(NOLOCK) ON MLV.LOOKUP_UNIQUE_ID=PPP.ENDORSEMENT_TYPE         
  LEFT OUTER JOIN MNT_LOOKUP_VALUES_MULTILINGUAL  MLV_MULTI WITH(NOLOCK) ON MLV_MULTI.LOOKUP_UNIQUE_ID=PPP.ENDORSEMENT_TYPE        
  AND MLV_MULTI.LANG_ID = @LANG_ID      
  -- LEFT OUTER JOIN  POL_REMUNERATION POLR ON POLR.CUSTOMER_ID=POL.CUSTOMER_ID          
  --AND POLR.POLICY_ID=POL.POLICY_ID           
  --AND POLR.POLICY_VERSION_ID=POL.POLICY_VERSION_ID   
  WHERE POL.CUSTOMER_ID=@CUSTOMER_ID AND POL.POLICY_ID=@POLICY_ID AND POL.POLICY_VERSION_ID=@POLICY_VERSION_ID             
  FOR XML AUTO,ELEMENTS, ROOT('BROKER')        
        
      
  -- SELECT ISNULL(POLC.CLAUSE_TITLE,'')  AS CLAUSE_TITLE  ,ISNULL(POLC.CLAUSE_DESCRIPTION,'')  AS CLAUSE_DESCRIPTION,ISNULL(POLC.ATTACH_FILE_NAME,'')AS ATTACH_FILE_NAME     
  --  FROM POL_CLAUSES   POLC WITH(NOLOCK)           
  --  LEFT OUTER JOIN  POL_CUSTOMER_POLICY_LIST POL  WITH(NOLOCK) ON POL.CUSTOMER_ID=POLC.CUSTOMER_ID        
  --  AND POL.POLICY_ID=POLC.POLICY_ID           
  --  AND POL.POLICY_VERSION_ID=POLC.POLICY_VERSION_ID       
  --  LEFT OUTER JOIN MNT_CLAUSES MNT_CLS WITH(NOLOCK) ON POLC.CLAUSE_ID=MNT_CLS.CLAUSE_ID      
  -- WHERE POLC.CUSTOMER_ID=@CUSTOMER_ID          
  --AND POLC.POLICY_ID=@POLICY_ID          
  --AND POLC.POLICY_VERSION_ID=@POLICY_VERSION_ID     
  --AND (MNT_CLS.SUBLOB_ID > 0 or POLC.CLAUSE_ID = 0)      
  --order by POLC.CLAUSE_ID  DESC    
  --FOR XML AUTO,ELEMENTS, ROOT('CLAUSES')      
       
if( @PROCESS_ID IN (3,14))  
    BEGIN  
    SELECT ISNULL(POLC.CLAUSE_TITLE,'')  AS CLAUSE_TITLE  ,ISNULL(POLC.CLAUSE_DESCRIPTION,'')  AS CLAUSE_DESCRIPTION,ISNULL(POLC.ATTACH_FILE_NAME,'')AS ATTACH_FILE_NAME     
    FROM POL_CLAUSES   POLC WITH(NOLOCK)           
    LEFT OUTER JOIN  POL_CUSTOMER_POLICY_LIST POL  WITH(NOLOCK) ON POL.CUSTOMER_ID=POLC.CUSTOMER_ID        
    AND POL.POLICY_ID=POLC.POLICY_ID           
    AND POL.POLICY_VERSION_ID=POLC.POLICY_VERSION_ID       
    LEFT OUTER JOIN MNT_CLAUSES MNT_CLS WITH(NOLOCK) ON POLC.CLAUSE_ID=MNT_CLS.CLAUSE_ID      
   WHERE POLC.CUSTOMER_ID=@CUSTOMER_ID          
  AND POLC.POLICY_ID=@POLICY_ID          
  AND POLC.POLICY_VERSION_ID=@POLICY_VERSION_ID    
 AND( POLC.PREVIOUS_VERSION_ID=@POLICY_VERSION_ID OR POLC.PREVIOUS_VERSION_ID IS  NULL)  
           order by   
   case polc.CLAUSE_ID   
    when 0 then 99999  
    else MNT_CLS.LOB_ID end desc,   
   case polc.CLAUSE_ID   
    when 0 then 99999  
    else MNT_CLS.SUBLOB_ID end ASC,  
   POLC.CLAUSE_ID desc  
  FOR XML AUTO,ELEMENTS, ROOT('CLAUSES')      
      END  
     else        
      
   begin    
    SELECT ISNULL(POLC.CLAUSE_TITLE,'')  AS CLAUSE_TITLE  ,  
   ISNULL(POLC.CLAUSE_DESCRIPTION,'')  AS CLAUSE_DESCRIPTION,  
   ISNULL(POLC.ATTACH_FILE_NAME,'')AS ATTACH_FILE_NAME     
   FROM POL_CLAUSES   POLC WITH(NOLOCK)           
   LEFT OUTER JOIN MNT_CLAUSES MNT_CLS WITH(NOLOCK) ON POLC.CLAUSE_ID=MNT_CLS.CLAUSE_ID      
   WHERE POLC.CUSTOMER_ID=@CUSTOMER_ID          
    AND POLC.POLICY_ID=@POLICY_ID          
    AND POLC.POLICY_VERSION_ID=@POLICY_VERSION_ID  
    --AND (POLC.CLAUSE_ID = 0)      
   order by   
   case polc.CLAUSE_ID   
    when 0 then 99999  
    else MNT_CLS.LOB_ID end desc,   
   case polc.CLAUSE_ID   
    when 0 then 99999  
    else MNT_CLS.SUBLOB_ID end ASC,  
   POLC.CLAUSE_ID desc  
   FOR XML AUTO,ELEMENTS, ROOT('CLAUSES')    
        
   end    
  END                                                                                    
                   
       --SELECT * FROM MNT_REIN_COMAPANY_LIST          
       -- select * from MNT_PRODUCT_SUSEP_PROCESS_NUMBER          
        --SELECT * FROM MNT_CLAUSES          
        --SELECT  * FROM POL_CUSTOMER_POLICY_LIST          
        --SELECT MNTS.AGENCY_DISPLAY_NAME, MNTS.SUSEP_NUMBER,MNTS.BROKER_CPF_CNPJ   FROM MNT_AGENCY_LIST  MNTS          
        --select * from  MNT_AGENCY_LIST           
        --SELECT * FROM POL_CLAUSES where CLAUSE_ID=287          
        --SELECT * FROM POL_CUSTOMER_POLICY_LIST          
        --SELECT * FROM POL_PROCESS_MASTER          
        --SELECT * FROM MNT_DIV_LIST          
        --SELECT * FROM MNT_DIV_DEPT_MAPPING          
        --SELECT * FROM MNT_DEPT_LIST          
          
     -- select * from POL_CLAUSES where CUSTOMER_ID=28025 and POLICY_ID=103 and policy_version_id = 2          
                
       --SELECT MNTDIV.DIV_CITY,MNTDIV.   FROM MNT_DIV_LIST MNTDIV           
      -- SELECT * FROM  CLT_CUSTOMER_LIST CUSTOMER           
                            
  /*Commented By Lalit For genrate Pdf  XML in new Format ,Date : 27 June,2010              
  SELECT                                                             
   CASE APP_TERMS  WHEN 12 THEN 12                                                             
     WHEN 6 THEN 6                                                             
     ELSE 1                                                            
   END APP_TERMS,POLICY_NUMBER,                                                  
  CONVERT(VARCHAR(11),ISNULL(APP_EFFECTIVE_DATE,''),101) APP_EFFECTIVE_DATE,                                                  
  CONVERT(VARCHAR(11),ISNULL(APP_EXPIRATION_DATE,''),101) APP_EXPIRATION_DATE,                                                  
  0 BINDERCVGNOTBOUND,ISNULL(YEAR_AT_CURR_RESI,'') YEAR_AT_CURR_RESI,ISNULL(YEARS_AT_PREV_ADD,'') YEARS_AT_PREV_ADD,                                                            
   CONVERT(VARCHAR(11),ISNULL(APP_EFFECTIVE_DATE,''),101) BINDEREFFDATE,                                      
   CONVERT(VARCHAR(11),ISNULL(APP_EXPIRATION_DATE,''),101) BINDEREXPDATE,RECEIVED_PRMIUM,ISNULL(MLV.LOOKUP_VALUE_DESC,'') POLICY_TYPE,PIC_OF_LOC,                                              
   CASE POLICY_STATUS WHEN 'UISSUE' THEN 'New Business'when 'URENEW' then 'RENEWAL - Replacing Prior Declaration' WHEN 'RENEWED' THEN 'RENEWAL - Replacing Prior Declaration' WHEN 'UREINST' THEN 'Policy Reinstated & Date Reinstated' when 'UENDRS' then     
  
    
      
        
          
            
              
               
'Amended Declaration' END REASON,                                                            
   CASE BILL_TYPE WHEN 'DB' THEN CASE BILL_TYPE_ID WHEN '11276'                
       THEN 'MB'                
      ELSE  'DB'                 
     END                
 WHEN 'DM' THEN 'DB' WHEN 'MB' THEN 'MB' WHEN 'IM' THEN 'DB' ELSE 'AB' END PAYMENTBILLING,                                                             
   CASE MLV_BILL.LOOKUP_VALUE_CODE WHEN 'DB' THEN 'BA' WHEN 'DM' THEN 'BA' WHEN 'AM' THEN 'BA' WHEN 'IM' THEN 'BA' WHEN 'MB' THEN 'BM'  ELSE 'N' END PAYMENTDIRECTBILL,                                              
      CASE WHEN MLV_bill.LOOKUP_UNIQUE_ID IN (8459,11191,11277)  THEN 'FP' ELSE 'OP' END PAYMENTAPPBILL                                              
 ,PLAN_DESCRIPTION,PLAN_CODE,PROPRTY_INSP_CREDIT,                                                            
   AGENCY_CODE,                                        
   CASE AgencyName WHEN 1 THEN AGENCY_DBA WHEN 0 THEN AGENCY_DISPLAY_NAME ELSE AGENCY_DISPLAY_NAME END AGENCY_DISPLAY_NAME,                                                
   isnull(case AGENCY_ADD1 when '' then isnull(AGENCY_ADD1,'')  else ltrim(rtrim(AGENCY_ADD1)) end,'')                                                
   +                         
isnull(   case AGENCY_ADD2 when '' then isnull(AGENCY_ADD2,'')  else  ', ' + ltrim(rtrim(AGENCY_ADD2)) end,'')                                                 
 AGENCY_ADD,                                                  
                                                
 isnull(                               
 case AGENCY_CITY when '' then isnull(AGENCY_CITY,'') else ltrim(rtrim(AGENCY_CITY)) + ',' end,'')                                                
 +' '                                                
 + isnull(case MNT_COUNTRY_STATE_LIST.STATE_CODE  when '' then isnull(MNT_COUNTRY_STATE_LIST.STATE_CODE,'') else ltrim(rtrim(MNT_COUNTRY_STATE_LIST.STATE_CODE))  end,'')                                                
 +' ' +                                                 
 isnull(case AGENCY_ZIP  when '' then isnull(AGENCY_ZIP,'') else ltrim(rtrim(AGENCY_ZIP))    end                                                
 ,'')                                                
            AGENCY_CITYSTZIP,                                                              
AGENCY_PHONE,                                                             
   AGENCY_FAX,  AGENCY_EMAIL,                                                
 ISNULL(case when isnull(MUL1.SUB_CODE,'') ='' then '' else MUL1.SUB_CODE end ,'') SUB_CODE,                                                
policy_SUBLOB Subline,CONVERT(VARCHAR,CONVERT(MONEY,PUL.POLICY_LIMITS),1) AS POLICY_LIMITS,PUL.RETENTION_LIMITS,AGENCY_PHONE,NUM_AGENCY_CODE,                                                      
   CASE WHEN PPP.INSURED = 11980 THEN 'Copy To: Insured' WHEN PPP.ADD_INT = 11980 THEN 'Copy To: Additonal Interest' WHEN PPP.AGENCY_PRINT = 11980 THEN 'Copy To: Agency' ELSE '' END AS COPY_TO                                                      
   ,RECEIVED_PRMIUM, CONVERT(VARCHAR,ISNULL(PPP.EFFECTIVE_DATETIME,POL_CUSTOMER_POLICY_LIST.APP_EFFECTIVE_DATE),101) AS EFFECTIVE_DATETIME, PPP.POLICY_VERSION_ID,                
   ISNULL(CURRENT_TERM,1) CURRENT_TERM, ISNULL(APPLY_INSURANCE_SCORE, 0) AS APPLY_INSURANCE_SCORE ,PPP.PROCESS_ID ,MCSL.STATE_CODE AS STATE_CODE                         
  FROM POL_CUSTOMER_POLICY_LIST  with(nolock)                                                           
   left outer JOIN ACT_INSTALL_PLAN_DETAIL with(nolock) ON IDEN_PLAN_ID=INSTALL_PLAN_ID                                                      
   INNER JOIN MNT_AGENCY_LIST with(nolock) ON POL_CUSTOMER_POLICY_LIST.AGENCY_ID=MNT_AGENCY_LIST.AGENCY_ID                     
 LEFT JOIN MNT_COUNTRY_STATE_LIST with(nolock) ON AGENCY_STATE=MNT_COUNTRY_STATE_LIST.STATE_ID                                                            
   LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV with(nolock) ON  MLV.LOOKUP_UNIQUE_ID=POLICY_TYPE                                                            
  LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV_bill with(nolock) ON  MLV_bill.LOOKUP_UNIQUE_ID=BILL_TYPE_ID                                              
   LEFT OUTER join mnt_user_list mul1 with(nolock) on POL_CUSTOMER_POLICY_LIST.PRODUCER=mul1.user_id  and mul1.is_active='Y'                       
   LEFT OUTER JOIN POL_UMBRELLA_LIMITS PUL with(nolock) ON PUL.CUSTOMER_ID=@CUSTOMER_ID AND PUL.POLICY_ID=@POLICY_ID AND PUL.POLICY_VERSION_ID=@POLICY_VERSION_ID                                                            
   LEFT OUTER JOIN POL_POLICY_PROCESS PPP with(nolock) ON PPP.CUSTOMER_ID=@CUSTOMER_ID AND PPP.POLICY_ID=@POLICY_ID AND PPP.NEW_POLICY_VERSION_ID=@POLICY_VERSION_ID AND PPP.PROCESS_STATUS != 'ROLLBACK'                                        
 left JOIN MNT_COUNTRY_STATE_LIST MCSL ON MCSL.STATE_ID =POL_CUSTOMER_POLICY_LIST.STATE_ID                
  WHERE POL_CUSTOMER_POLICY_LIST.CUSTOMER_ID=@CUSTOMER_ID AND POL_CUSTOMER_POLICY_LIST.POLICY_ID=@POLICY_ID AND POL_CUSTOMER_POLICY_LIST.POLICY_VERSION_ID=@POLICY_VERSION_ID and POL_CUSTOMER_POLICY_LIST.is_active='Y'                                      
  
     
      
                
    */                                     
END       
GO

