
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_SUSEP_SINPAGAC_PAID_CLAIMS_INWARDS_COINSURANCE_POLICIES]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_SUSEP_SINPAGAC_PAID_CLAIMS_INWARDS_COINSURANCE_POLICIES]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO
-----------------------------------------------------------------------------------------------------------------------
--ITRACK 1080 (210)
-----------------------------------------------------------------------------------------------------------------------


CREATE PROCEDURE  [dbo].[PROC_SUSEP_SINPAGAC_PAID_CLAIMS_INWARDS_COINSURANCE_POLICIES]     
(
 @DATETIME DATETIME,  
 @CLAIM_NUMBER NVARCHAR(21)=NULL
)        
AS  

 DECLARE @LANG_ID INT
 SET @LANG_ID = 2
DECLARE @MONTH VARCHAR(2)  
 DECLARE @YEAR VARCHAR(4) 
 SET @MONTH= DATEPART(MM, @DATETIME) 
 SET @YEAR=(SELECT DATEPART(YYYY, @DATETIME))  

BEGIN     
   
 DECLARE @TEMPTABLE TABLE 
 (  
   SEQUENCE_NO INT IDENTITY(1,1),
   COMPANY_CODE VARCHAR(50),
   REFERENCE_MONTH VARCHAR(8),
   SUSEP_LOB_CODE VARCHAR(5),
   LEADER_SUSEP_CODE NVARCHAR(100),
   LEADER_CLAIM_NUMBER NVARCHAR(100),
   LEADER_POLICY_NUMBER NVARCHAR(100),
   LEADER_ENDORSEMENT_NUMBER NVARCHAR(100),
   CLAIM_REGISTRATION_DATE NVARCHAR(10),
   FIRST_NOTICE_OF_LOSS NVARCHAR(10),
   LOSS_DATE NVARCHAR(10),
   CLAIM_TYPE VARCHAR(2),
   TIPO_MOV VARCHAR(20),
   VR_MOV DECIMAL(25,2),
   POLICY_NUMBER NVARCHAR(21),
   CLAIM_NUMBER NVARCHAR(15)
 )
 INSERT INTO @TEMPTABLE  
  
    SELECT 
		 --VW.CLAIM_ID,
		 --CA.ACTIVITY_ID,
		 '05045' AS COMPANY_CODE,
		 --@YEAR +'0'+ @MONTH AS REFERENCE_MONTH,
		 CASE 
			WHEN @MONTH IN (1,2,3,4,5,6,7,8,9) THEN  @YEAR + '0' + @MONTH 
			WHEN @MONTH IN (10,11,12) THEN  @YEAR + @MONTH
		 END AS REFERENCE_MONTH,  --Reference month of the report.
		 VW.SUSEP_LOB_CODE,
		-- SUBSTRING(VW.SUSEP_LOB_CODE,1,3)  + '-' + SUBSTRING(VW.SUSEP_LOB_CODE,4,1) AS SUSEP_LOB_CODE,
		 VW.LEADER_SUSEP_CODE,
		 ISNULL(VW.LEADER_CLAIM_NUMBER,'') AS LEADER_CLAIM_NUMBER,
		 ISNULL(VW.LEADER_POLICY_NUMBER,'')AS LEADER_POLICY_NUMBER,
		 ISNULL(VW.LEADER_ENDORSEMENT_NUMBER,'') AS LEADER_ENDORSEMENT_NUMBER,
		 ISNULL(CONVERT(VARCHAR(10),VW.CLAIM_REGISTRATION_DATE,112),'') AS CLAIM_REGISTRATION_DATE,
		 CONVERT(VARCHAR(10),VW.FIRST_NOTICE_OF_LOSS,112) AS FIRST_NOTICE_OF_LOSS,
		 CONVERT(VARCHAR(10),VW.LOSS_DATE,112) AS LOSS_DATE,
		   ---------------------------------------------------
		-- CLAIM TYPE				  
		-- 01: ADMINISTRATIVE INDEMINITY
		-- 02: ADMINISTRATIVE EXPENSES
		-- 03: LEGAL INDEMINITY
		-- 04: LEGAL EXPENSES

		-- CHECK IF RESERVE/PAYMENT/RECOVERY DONE AGAINST POLICY COVERAGES THEN IDENMINTY ESLE EXPENSES
		---------------------------------------------------
		CASE WHEN (SELECT TOP 1 CPC.COVERAGE_CODE_ID  
			  FROM  CLM_ACTIVITY_RESERVE  CAR WITH(NOLOCK) INNER JOIN 
					CLM_PRODUCT_COVERAGES CPC WITH(NOLOCK) ON CAR.COVERAGE_ID = CPC.CLAIM_COV_ID
					AND CAR.CLAIM_ID = CPC.CLAIM_ID 
			  WHERE CAR.CLAIM_ID =CA.CLAIM_ID AND CAR.ACTIVITY_ID=CA.ACTIVITY_ID
					AND (CAR.PAYMENT_AMOUNT
						 )<>0
			 )IN (50017,50018,50020,50022)
			
		THEN 
			  (CASE WHEN CA.IS_LEGAL='Y' THEN '04' --- LEGAL EXPENSES
				   ELSE '02' END                    --- ADMINISTRATIVE EXPENSES
			  )
		ELSE
	
			  (CASE WHEN CA.IS_LEGAL='N' THEN '01' --- ADMINISTRATIVE INDEMINITY
				   ELSE '03' END                    --- LEGAL INDEMINITY
			  )
		END AS CLAIM_TYPE,
		CASE
			WHEN CA.ACTION_ON_PAYMENT = 180 THEN '207'
			WHEN CA.ACTION_ON_PAYMENT = 181 THEN '208'
		END AS TIPO_MOV,
		--'TIPO MOV' AS TIPO_MOV
		--(SELECT 

		--SUM(ISNULL(CAR.PAYMENT_AMOUNT,0))*ISNULL(CPP.PARTY_PERCENTAGE,0)/100

		--FROM CLM_PARTIES CPP WITH(NOLOCK)

		--INNER JOIN CLM_ACTIVITY_RESERVE CAR WITH(NOLOCK) ON (CAR.CLAIM_ID = CPP.CLAIM_ID) 

		--INNER JOIN CLM_ACTIVITY TCA WITH(NOLOCK) ON (TCA.CLAIM_ID = CAR.CLAIM_ID AND TCA.ACTIVITY_ID = CAR.ACTIVITY_ID 

		--AND TCA.ACTION_ON_PAYMENT IN (180,181)) 

		--WHERE TCA.CLAIM_ID=VW.CLAIM_ID AND TCA.ACTIVITY_ID=CA.ACTIVITY_ID AND

		--CPP.PARTY_TYPE_ID = 618

		--AND CPP.SOURCE_PARTY_ID = (SELECT SYS_CARRIER_ID FROM MNT_SYSTEM_PARAMS WITH(NOLOCK) WHERE SYS_CARRIER_ID = 1) 

		--GROUP BY CAR.CLAIM_ID,CAR.ACTIVITY_ID,CPP.PARTY_PERCENTAGE

		--) AS VR_MOV,
		(SELECT 
				SUM(ISNULL(CAR.PAYMENT_AMOUNT,0)) 
		 FROM 
				CLM_ACTIVITY_RESERVE CAR WITH(NOLOCK)
		 WHERE CAR.CLAIM_ID = CA.CLAIM_ID
			   AND CAR.ACTIVITY_ID = CA.ACTIVITY_ID 
		)AS VR_MOV,
		VW.F_POLICY_NUMBER,
		VW.CLAIM_NUMBER  
 FROM 
			 VW_SUSEP_FORM_SINPENDAC_SINPAGAC VW WITH(NOLOCK) 
		INNER JOIN
			CLM_ACTIVITY CA WITH(NOLOCK) ON (CA.CLAIM_ID = VW.CLAIM_ID  
										AND CA.ACTION_ON_PAYMENT IN (180,181)) --For payment partial = 180, payment full = 181
	
		 	-- CLM_CLAIM_INFO CCI WITH(NOLOCK)
  -- LEFT OUTER JOIN
		--MNT_LOB_MASTER MLM WITH(NOLOCK) ON (MLM.LOB_ID=CCI.LOB_ID)	
  -- LEFT OUTER JOIN
		--CLM_CO_INSURANCE CCII WITH(NOLOCK) ON (CCII.CLAIM_ID = CCI.CLAIM_ID)
 WHERE
		 CONVERT(varchar(6),VW.CREATED_DATETIME,112)=CONVERT(varchar(6),@DATETIME,112) AND
		 (@CLAIM_NUMBER IS NULL OR VW.CLAIM_NUMBER = @CLAIM_NUMBER)
		  AND VW.CO_INSURANCE = 14549
		  AND VW.OFFCIAL_CLAIM_NUMBER IS NOT NULL
		  AND VW.OFFCIAL_CLAIM_NUMBER <> ''
		  AND CA.ACTIVITY_STATUS = 11801

   SELECT 
	   RIGHT('0000000000' +CONVERT(VARCHAR,SEQUENCE_NO),10) AS SEQUENCIA,
	   COMPANY_CODE AS COD_CIA,
	   REFERENCE_MONTH AS DT_BASE ,
	   TIPO_MOV,
	   SUSEP_LOB_CODE AS COD_RAMO,
	   LEADER_SUSEP_CODE AS COD_COSS,
	   RIGHT('                    ' + LEADER_CLAIM_NUMBER,20) AS NUM_SIN, -- COMMENTED FOR ITRACK 1080 NOTE 7 (POINT 13,14,15)
	   --LEADER_CLAIM_NUMBER AS NUM_SIN,
	   RIGHT('                    ' + LEADER_POLICY_NUMBER,20) AS NUM_APOL,
	   --LEADER_POLICY_NUMBER AS NUM_APOL,
	   RIGHT('                    ' + LEADER_ENDORSEMENT_NUMBER,20) AS NUM_END,
	   --LEADER_ENDORSEMENT_NUMBER AS NUM_END,
	   CLAIM_REGISTRATION_DATE AS DT_REG,
	   FIRST_NOTICE_OF_LOSS AS DT_ADVISO,
	   LOSS_DATE AS DT_OCOR,
	  --RIGHT('000000000000000000' + REPLACE(ISNULL(VR_MOV,0),'.',''),16) AS VR_MOV,
	  -- RIGHT('000000000000000000' + DBO.fun_FormatCurrency((ISNULL(VR_MOV,0)),@LANG_ID),16) AS VR_MOV,
	   ISNULL(VR_MOV,0) AS VR_MOV,
	   CLAIM_TYPE AS TP_SIN,
	   POLICY_NUMBER,
	   CLAIM_NUMBER  
	   
   FROM @TEMPTABLE 
END

GO






