IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_UPDATEAPP_SQR_FOOT_IMPROVEMENTS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_UPDATEAPP_SQR_FOOT_IMPROVEMENTS]
GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO



/*----------------------------------------------------------
Proc Name       : dbo.Proc_UPDATEAPP_SQR_FOOT_IMPROVEMENTS
Created by      : Anurag Verma
Date            : 5/13/2005
Purpose    	  :UPDATING record to APP_SQR_FOOT_IMPROVEMENTS
Revison History :
Used In 	      : Wolverine
------------------------------------------------------------
Date     Review By          Comments
------   ------------       -------------------------*/
CREATE PROC Dbo.Proc_UPDATEAPP_SQR_FOOT_IMPROVEMENTS
(
@CUSTOMER_ID     int,
@APP_ID     int,
@APP_VERSION_ID     smallint,
@DWELLING_ID     smallint,
@TOT_SQR_FOOTAGE     real,
@GARAGE_SQR_FOOTAGE     real,
@BREEZE_SQR_FOOTAGE     real,
@BASMT_SQR_FOOTAGE     real,
@WIRING_RENOVATION     int,
@WIRING_UPDATE_YEAR     smallint,
@PLUMBING_RENOVATION     int,
@PLUMBING_UPDATE_YEAR     smallint,
@HEATING_RENOVATION     int,
@HEATING_UPDATE_YEAR     smallint,
@ROOFING_RENOVATION     int,
@ROOFING_UPDATE_YEAR     smallint,
@NO_OF_AMPS     smallint,
@CIRCUIT_BREAKERS     char(1)

)
AS
BEGIN
UPDATE APP_SQR_FOOT_IMPROVEMENTS
SET 
TOT_SQR_FOOTAGE=@TOT_SQR_FOOTAGE,
GARAGE_SQR_FOOTAGE=@GARAGE_SQR_FOOTAGE,
BREEZE_SQR_FOOTAGE=@BREEZE_SQR_FOOTAGE,
BASMT_SQR_FOOTAGE=@BASMT_SQR_FOOTAGE,
WIRING_RENOVATION=@WIRING_RENOVATION,
WIRING_UPDATE_YEAR=@WIRING_UPDATE_YEAR,
PLUMBING_RENOVATION=@PLUMBING_RENOVATION,
PLUMBING_UPDATE_YEAR=@PLUMBING_UPDATE_YEAR,
HEATING_RENOVATION=@HEATING_RENOVATION,
HEATING_UPDATE_YEAR=@HEATING_UPDATE_YEAR,
ROOFING_RENOVATION=@ROOFING_RENOVATION,
ROOFING_UPDATE_YEAR=@ROOFING_UPDATE_YEAR,
NO_OF_AMPS=@NO_OF_AMPS,
CIRCUIT_BREAKERS=@CIRCUIT_BREAKERS

WHERE 
CUSTOMER_ID=@CUSTOMER_ID AND APP_ID=@APP_ID AND
APP_VERSION_ID=@APP_VERSION_ID AND DWELLING_ID=@DWELLING_ID
END

GO

