IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_GET_MELEVENTOS_FOR_INTERFACE_MGMT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_GET_MELEVENTOS_FOR_INTERFACE_MGMT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[PROC_GET_MELEVENTOS_FOR_INTERFACE_MGMT] --'07/01/2011','07/14/2011'
@FROM_DATE DATETIME =NULL,
@TO_DATE DATETIME=NULL
AS 
BEGIN
SELECT 
ROW_NUMBER() OVER ( Order BY IDEN_ROW_ID) AS 'SERIAL_NO',
IDEN_ROW_ID,
PROCESS_TYPE as FILE_TYPE,
ACTIVITY_DESCRIPTION,
START_DATETIME,
--CONVERT(VARCHAR,START_DATETIME,101) as START_DATETIME,
END_DATETIME,
[STATUS],
--substring(ADDITIONAL_INFO,CHARINDEX('\Ebix_',ADDITIONAL_INFO,1)+1, LEN(ADDITIONAL_INFO)) AS FILE_NAMES
ADDITIONAL_INFO AS FILE_NAMES

 FROM PAGNET_PROCESS_LOG WITH (NOLOCK)
 WHERE PROCESS_TYPE = 'MelEventos'
 AND LEN(ISNULL(ADDITIONAL_INFO,''))>0
 AND [STATUS] = 'SUCCESS'
 AND CHARINDEX('.TXT',ADDITIONAL_INFO,1) > 0 
 AND CONVERT(DATE,START_DATETIME,101) BETWEEN CONVERT(DATE,@FROM_DATE,101) AND CONVERT(DATE,@TO_DATE,101)   
 --CONVERT(DATE,DATEADD(DD,1,@FROM_DATE),101)
END


GO

