IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_DELETE_MEL_EVENTOS_POLICY_EXCLUSION]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_DELETE_MEL_EVENTOS_POLICY_EXCLUSION]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[PROC_DELETE_MEL_EVENTOS_POLICY_EXCLUSION]
(
@ROW_ID INT
--,@RETURN_VALUE INT OUT
)
AS
BEGIN
 		IF  EXISTS (SELECT ROW_ID FROM MEL_EVENTOS_POLICY_EXCLUSION WHERE ROW_ID = @ROW_ID)
		BEGIN
		
			DELETE FROM MEL_EVENTOS_POLICY_EXCLUSION 
			WHERE ROW_ID = @ROW_ID
			
			
			 --SET @RETURN_VALUE = 1
			 return 1
		END
		ELSE
			--SET @RETURN_VALUE = -2
			 return -2
		
		
END

GO

