IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_GetPolicyFromConversionInfo]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_GetPolicyFromConversionInfo]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROC PROC_GetPolicyFromConversionInfo
(
  @CUSTOMER_ID  int,        
  @POLICY_ID  int,        
  @POLICY_VERSION_ID  int   
)
AS
BEGIN
	DECLARE @POLICYVERSIONID INT
	SELECT @POLICYVERSIONID=MIN(POLICY_VERSION_ID)
	FROM POL_CUSTOMER_POLICY_LIST WITH (NOLOCK)
	WHERE CUSTOMER_ID=@CUSTOMER_ID  AND POLICY_ID=@POLICY_ID

	SELECT ISNULL(FROM_AS400,'N') AS FROM_AS400
	FROM POL_CUSTOMER_POLICY_LIST WITH (NOLOCK)
	WHERE CUSTOMER_ID=@CUSTOMER_ID  AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICYVERSIONID 
END

GO

