IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_InsertContractName]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_InsertContractName]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO




/*
CREATED BY 		: Deepak Batra
CREATED DATE		: 16 Jan 2006
Purpose			: To implement the Insert on the Contract Name
*/
CREATE PROCEDURE Proc_InsertContractName
(
	@CONTRACT_NAME_ID INT OUTPUT,
	@CONTRACT_NAME NVARCHAR(150),
	@CONTRACT_DESCRIPTION	NVARCHAR(500)

)
AS
BEGIN
SELECT @CONTRACT_NAME_ID = IsNull(Max(CONTRACT_NAME_ID),0) + 1 FROM MNT_CONTRACT_NAME
INSERT INTO  MNT_CONTRACT_NAME
(
CONTRACT_NAME_ID,
CONTRACT_NAME,
CONTRACT_DESCRIPTION
)
VALUES
(
@CONTRACT_NAME_ID,
@CONTRACT_NAME,
@CONTRACT_DESCRIPTION
)	

END



GO

