IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_ChangeInstallPlan]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_ChangeInstallPlan]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN 
--drop PROC dbo.Proc_ChangeInstallPlan
--GO 

/*----------------------------------------------------------        
Proc Name       : dbo.Proc_ChangeInstallPlan
Created by      : Ravindra 
Date            : 12-19-2006
Purpose         : To Re Adjust installment plan for the selected policy
Revison History :        
Used In         :            

Update By		: Ravindra 
Upated On		: 04-22-2008 
Reason			: Installment which are billed sud be considered as released. In a notice has been send against any item 
					of an installment 

Update By		: Ravindra 
Upated On		: 04-2-2009
Reason			: In Customer open item GROSS_PREMIUM should be inserted in GROSS_AMOUNT Column
					System is inserting NET_PREMIUM. Fixed

Modified By 	: Praveen Kasana
Modified On		: 30 Oct 2009
Purpose			: Itrack 6675
         
-----------------------------------------------------------        
Date     Review By          Comments        
------   ------------       -------------------------*/        
--drop PROC dbo.Proc_ChangeInstallPlan
CREATE PROC [dbo].[Proc_ChangeInstallPlan]
(
@CUSTOMER_ID Int,
@POLICY_ID Int,
@POLICY_VERSION_ID Int,
@NEW_PLAN_ID Int
)
AS        
BEGIN        

DECLARE @OLD_PLAN_ID Int
DECLARE @POSTING_DATE Datetime 

SET @POSTING_DATE = GETDATE()

SELECT @OLD_PLAN_ID  = INSTALL_PLAN_ID FROM POL_CUSTOMER_POLICY_LIST 
WHERE CUSTOMER_ID = @CUSTOMER_ID 
AND		POLICY_ID = @POLICY_ID 
AND		POLICY_VERSION_ID	= @POLICY_VERSION_ID 

-- Check if Installplan is same as opted in policy if yes return
IF (@OLD_PLAN_ID = @NEW_PLAN_ID ) 
BEGIN 
	RETURN 1
END

DECLARE @IS_HOME_EMP  Char(1)
DECLARE @POLICY_EFFECTIVE_DATE DateTime
DECLARE @POLICY_STATUS    Varchar(20)
DECLARE @CURRENT_TERM SmallInt
DECLARE @POLICY_TERMS SmallInt
DECLARE	@IS_RENEWED Bit 

SET @IS_RENEWED = 0 

DECLARE @APP_ID Int, @APP_VERSION_ID Int,@SELECTED_DOWN_PAYMENT_MODE Int,
		@IS_PREBILL 	SMALLINT,
		@BILL_TYPE 	CHAR(2),
		@SOURCE_ROW_ID Int,
		@FULL_PAY_PLAN_ID	Int

SELECT @FULL_PAY_PLAN_ID = IDEN_PLAN_ID 
FROM ACT_INSTALL_PLAN_DETAIL WITH(NOLOCK)
WHERE ISNULL(SYSTEM_GENERATED_FULL_PAY,0) = 1 
	      
SELECT  @POLICY_EFFECTIVE_DATE=APP_EFFECTIVE_DATE   ,   
		@POLICY_STATUS   = POLICY_STATUS ,
		@CURRENT_TERM 	 = CURRENT_TERM	,
		@POLICY_TERMS    = APP_TERMS,
		@APP_ID 	 = APP_ID,
		@APP_VERSION_ID  = APP_VERSION_ID,
		@SELECTED_DOWN_PAYMENT_MODE = DOWN_PAY_MODE,
		@IS_HOME_EMP 	 = CASE ISNULL(IS_HOME_EMP, 0) WHEN 1 THEN 'Y' ELSE 'N' END,
		@BILL_TYPE 	 = ISNULL(BILL_TYPE,'')
FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK)
WHERE  CUSTOMER_ID = @CUSTOMER_ID 
	AND POLICY_ID = @POLICY_ID 
	AND POLICY_VERSION_ID = @POLICY_VERSION_ID       

--Added by Shikha for #6906.
IF EXISTS
(
	SELECT CPL.CURRENT_TERM FROM POL_POLICY_PROCESS PP
	INNER JOIN POL_CUSTOMER_POLICY_LIST CPL
		ON CPL.CUSTOMER_ID = PP.CUSTOMER_ID
		AND CPL.POLICY_ID = PP.POLICY_ID
		AND CPL.POLICY_VERSION_ID = PP.NEW_POLICY_VERSION_ID
	WHERE PP.CUSTOMER_ID = @CUSTOMER_ID 
	AND PP.POLICY_ID = @POLICY_ID 
	AND PP.NEW_POLICY_VERSION_ID = @POLICY_VERSION_ID + 1  
	AND PP.PROCESS_STATUS = 'COMPLETE' AND ISNULL(REVERT_BACK,'N') = 'N' 
	AND CPL.CURRENT_TERM > @CURRENT_TERM AND CPL.POLICY_STATUS IN ('RENEWED','MREINSTATE')
)
BEGIN
	RETURN -5
END
ELSE
BEGIN
	SELECT @IS_PREBILL = IS_PREBILL  ,
			@SOURCE_ROW_ID =  SOURCE_ROW_ID
	FROM ACT_CUSTOMER_OPEN_ITEMS WITH(NOLOCK)
	WHERE  CUSTOMER_ID = @CUSTOMER_ID 
		AND POLICY_ID = @POLICY_ID 
		AND POLICY_VERSION_ID = @POLICY_VERSION_ID       


	-- IF NOT EXISTS (
	-- 		SELECT POLICY_ID FROM  ACT_POLICY_INSTALL_PLAN_DATA 
	-- 		WHERE CUSTOMER_ID = @CUSTOMER_ID 
	-- 		AND POLICY_ID = @POLICY_ID 
	-- 		AND CURRENT_TERM = @CURRENT_TERM 
	-- 	)
	-- BEGIN 
	IF (@POLICY_STATUS = 'UISSUE' OR @POLICY_STATUS = 'SUSPENDED' ) 
	BEGIN 
		DECLARE @NEW_DOWN_PAY_MODE Int 

		SELECT   @NEW_DOWN_PAY_MODE = CASE WHEN ISNULL(MODE_OF_DOWNPAY,0) >0 THEN MODE_OF_DOWNPAY     
					ELSE CASE WHEN ISNULL(MODE_OF_DOWNPAY1,0) >0 THEN MODE_OF_DOWNPAY1       
							ELSE MODE_OF_DOWNPAY2 END  
					END
		FROM ACT_INSTALL_PLAN_DETAIL WITH(NOLOCK)
		WHERE IDEN_PLAN_ID = @NEW_PLAN_ID 
		
		UPDATE POL_CUSTOMER_POLICY_LIST  
		SET INSTALL_PLAN_ID = @NEW_PLAN_ID , DOWN_PAY_MODE = @NEW_DOWN_PAY_MODE
		WHERE 	CUSTOMER_ID = @CUSTOMER_ID 
		AND POLICY_ID = @POLICY_ID 
		AND CURRENT_TERM = @CURRENT_TERM
		return 1 -- As there is No Break up data in A/c (Suspended or NBS uncommitted Policy) return
	END
		

	/****************************************
	Conditions to be added in which the new plan can not be assigned
	*************************************************************/

	--Retreiving the details of installments from database
	-- chk here for activte/deactivate of installment plan
	IF EXISTS( SELECT IDEN_PLAN_ID FROM ACT_INSTALL_PLAN_DETAIL
		WHERE IDEN_PLAN_ID = @NEW_PLAN_ID AND isnull(IS_ACTIVE,'N') <> 'Y')
	BEGIN
		return - 1 -- Install plan is deactive
	END


	-- As discussed with Sally on 03-21-2008 no need to check this condition at this point of time
	-- Minimum Premium for Install Plan eligibility is applicable to Policy Processes only

	--DECLARE @TOTAL_PREMIUM_AMOUNT  Decimal(18,2),
	--		@MIN_INSTALLMENT_AMOUNT Decimal(18,2)	
	--
	--SELECT @TOTAL_PREMIUM_AMOUNT  = PREMIUM_AMOUNT
	--FROM ACT_PREMIUM_PROCESS_DETAILS with(nolock)
	--WHERE CUSTOMER_ID  = @CUSTOMER_ID
	--AND POLICY_ID      = @POLICY_ID 
	--AND POLICY_VERSION_ID IN (SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST WHERE CUSTOMER_ID = @CUSTOMER_ID
	--							AND POLICY_ID = @POLICY_ID AND CURRENT_TERM = @CURRENT_TERM ) 
	--
	--
	--SELECT @MIN_INSTALLMENT_AMOUNT 	= ISNULL(MIN_INSTALLMENT_AMOUNT, 0)
	--FROM ACT_INSTALL_PLAN_DETAIL WHERE  IDEN_PLAN_ID = @NEW_PLAN_ID
	--
	--IF @TOTAL_PREMIUM_AMOUNT  < @MIN_INSTALLMENT_AMOUNT	
	--BEGIN
	--	return -2 -- Minium Premium check falis
	--END 


	DECLARE @MIN_INSTALL_AMT Decimal(18,2) 

	SELECT @MIN_INSTALL_AMT = ISNULL(SYS_MIN_INSTALLMENT_AMT,0) FROM MNT_SYSTEM_PARAMS  

	IF EXISTS ( SELECT CUSTOMER_ID FROM POL_POLICY_PROCESS WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID  = @POLICY_ID 
				AND PROCESS_ID = 18 AND ISNULL(REVERT_BACK,'N') <> 'Y') 
	BEGIN 
		SET @IS_RENEWED = 1 
	END	
	ELSE
	BEGIN 
		SET @IS_RENEWED = 0 
	END


	-- Fetch Details of new Plan 
	DECLARE @IDEN_PLAN_ID SMALLINT, @PLAN_DESCRIPTION NVARCHAR(70),
			@PLAN_TYPE NCHAR(2), @NO_OF_PAYMENTS SMALLINT, @MONTHS_BETWEEN SMALLINT, 
			@PERCENT_BREAKDOWN1 DECIMAL(10,4), @PERCENT_BREAKDOWN2 DECIMAL(10,4), 
			@PERCENT_BREAKDOWN3 DECIMAL(10,4), @PERCENT_BREAKDOWN4 DECIMAL(10,4),
			@PERCENT_BREAKDOWN5 DECIMAL(10,4), @PERCENT_BREAKDOWN6 DECIMAL(10,4),
			@PERCENT_BREAKDOWN7 DECIMAL(10,4), @PERCENT_BREAKDOWN8 DECIMAL(10,4),
			@PERCENT_BREAKDOWN9 DECIMAL(10,4), @PERCENT_BREAKDOWN10 DECIMAL(10,4), 
			@PERCENT_BREAKDOWN11 DECIMAL(10,4), @PERCENT_BREAKDOWN12 DECIMAL(10,4),
			@PLAN_PAYMENT_MODE Int	,@NO_INS_DOWNPAY INt,
			@DOWN_PAYMENT_MODE	Int , 
			@INSTALLMENT_FEES  Decimal(18,2)

	IF(@IS_RENEWED = 0)
	BEGIN 
		SELECT 	@IDEN_PLAN_ID = IDEN_PLAN_ID, @PLAN_DESCRIPTION = PLAN_DESCRIPTION,
				@PLAN_TYPE = PLAN_TYPE, @NO_OF_PAYMENTS = NO_OF_PAYMENTS, @MONTHS_BETWEEN = MONTHS_BETWEEN, 
				@PERCENT_BREAKDOWN1 = PERCENT_BREAKDOWN1, @PERCENT_BREAKDOWN2 = PERCENT_BREAKDOWN2, 
				@PERCENT_BREAKDOWN3 = PERCENT_BREAKDOWN3, @PERCENT_BREAKDOWN4 = PERCENT_BREAKDOWN4,
				@PERCENT_BREAKDOWN5 = PERCENT_BREAKDOWN5, @PERCENT_BREAKDOWN6 = PERCENT_BREAKDOWN6,
				@PERCENT_BREAKDOWN7 = PERCENT_BREAKDOWN7, @PERCENT_BREAKDOWN8 = PERCENT_BREAKDOWN8, 
				@PERCENT_BREAKDOWN9 = PERCENT_BREAKDOWN9, @PERCENT_BREAKDOWN10 = PERCENT_BREAKDOWN10, 
				@PERCENT_BREAKDOWN11 = PERCENT_BREAKDOWN11, @PERCENT_BREAKDOWN12 = PERCENT_BREAKDOWN12,
				@PLAN_PAYMENT_MODE  = PLAN_PAYMENT_MODE,
				@NO_INS_DOWNPAY		= NO_INS_DOWNPAY,
				@INSTALLMENT_FEES	= ISNULL(INSTALLMENT_FEES, 0),
				@DOWN_PAYMENT_MODE = CASE WHEN ISNULL(MODE_OF_DOWNPAY,0) >0 THEN MODE_OF_DOWNPAY     
					ELSE CASE WHEN ISNULL(MODE_OF_DOWNPAY1,0) >0 THEN MODE_OF_DOWNPAY1       
							ELSE MODE_OF_DOWNPAY2 END  
					END
		FROM ACT_INSTALL_PLAN_DETAIL WITH(NOLOCK)
		WHERE IDEN_PLAN_ID = @NEW_PLAN_ID 
	END
	ELSE
	BEGIN 
		SELECT 	@IDEN_PLAN_ID = IDEN_PLAN_ID, @PLAN_DESCRIPTION = PLAN_DESCRIPTION,
				@PLAN_TYPE = PLAN_TYPE, @NO_OF_PAYMENTS = NO_OF_PAYMENTS, @MONTHS_BETWEEN = MONTHS_BETWEEN, 
				@PERCENT_BREAKDOWN1 = PERCENT_BREAKDOWNRP1, @PERCENT_BREAKDOWN2 = PERCENT_BREAKDOWNRP2, 
				@PERCENT_BREAKDOWN3 = PERCENT_BREAKDOWNRP3, @PERCENT_BREAKDOWN4 = PERCENT_BREAKDOWNRP4,
				@PERCENT_BREAKDOWN5 = PERCENT_BREAKDOWNRP5, @PERCENT_BREAKDOWN6 = PERCENT_BREAKDOWNRP6,
				@PERCENT_BREAKDOWN7 = PERCENT_BREAKDOWNRP7, @PERCENT_BREAKDOWN8 = PERCENT_BREAKDOWNRP8, 
				@PERCENT_BREAKDOWN9 = PERCENT_BREAKDOWNRP9, @PERCENT_BREAKDOWN10 = PERCENT_BREAKDOWNRP10, 
				@PERCENT_BREAKDOWN11 = PERCENT_BREAKDOWNRP11, @PERCENT_BREAKDOWN12 = PERCENT_BREAKDOWNRP12,
				@PLAN_PAYMENT_MODE  = PLAN_PAYMENT_MODE,
				@NO_INS_DOWNPAY		= NO_INS_DOWNPAY_RENEW,
				@INSTALLMENT_FEES	= ISNULL(INSTALLMENT_FEES, 0),
				@DOWN_PAYMENT_MODE =CASE WHEN ISNULL(MODE_OF_DOWNPAY_RENEW,0) >0 THEN MODE_OF_DOWNPAY_RENEW       
									ELSE CASE WHEN ISNULL(MODE_OF_DOWNPAY_RENEW1,0) >0 THEN MODE_OF_DOWNPAY_RENEW1       
										ELSE MODE_OF_DOWNPAY_RENEW2 END  
									END

		FROM ACT_INSTALL_PLAN_DETAIL WITH(NOLOCK)
		WHERE IDEN_PLAN_ID = @NEW_PLAN_ID
	END	

	UPDATE POL_CUSTOMER_POLICY_LIST  SET INSTALL_PLAN_ID = @NEW_PLAN_ID  ,
			DOWN_PAY_MODE = @DOWN_PAYMENT_MODE
	WHERE 	CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND CURRENT_TERM = @CURRENT_TERM


	-- Make Old Plan IN-ACTIVE
	UPDATE  ACT_POLICY_INSTALL_PLAN_DATA SET IS_ACTIVE_PLAN = 'N' 
	WHERE   CUSTOMER_ID = @CUSTOMER_ID 
		AND POLICY_ID = @POLICY_ID 
		AND CURRENT_TERM = @CURRENT_TERM


	--- Inserting New Plan data in the table 


	CREATE TABLE #POLICY_ACC_DATA
	(
		[IDENT_COL] [int]		IDENTITY(1,1) NOT NULL ,                                                              
		[RISK_ID]				Int,
		[PREMIUM_AMOUNT]		Decimal(18,2),
		[COMMISSION_PERCENTAGE]	Int,
		[UNRELEASED_PREMIUM]	Decimal(18,2),
		[RISK_TYPE]				Varchar(10),
		[AGENCY_REG_COMM]		Decimal(18,2) , 
		[AGENCY_COMM_PERC]		Int , 
		[SOURCE_ROW_ID]			Int

	)

	IF( @OLD_PLAN_ID = @FULL_PAY_PLAN_ID ) 
	BEGIN 
		INSERT INTO #POLICY_ACC_DATA
			(
			RISK_ID,PREMIUM_AMOUNT,
			UNRELEASED_PREMIUM,
			COMMISSION_PERCENTAGE,RISK_TYPE,
			AGENCY_COMM_PERC , 
			SOURCE_ROW_ID 
			)
		SELECT  SUB1.RISK_ID , SUB1.PREMIUM_AMOUNT,
			SUB2.UNREALESED_AMOUNT,
			SUB1.AGENCY_COMM_PERC,SUB1.RISK_TYPE,
			SUB1.AGENCY_COMM_PERC , 
			SUB1.SOURCE_ROW_ID 
		FROM 
		(
			SELECT  SUM(ISNULL(A.TOTAL_DUE,0)) PREMIUM_AMOUNT ,
				A.RISK_ID AS RISK_ID , A.RISK_TYPE AS RISK_TYPE,
				A.AGENCY_COMM_PERC as AGENCY_COMM_PERC ,
				A.SOURCE_ROW_ID 
			FROM ACT_CUSTOMER_OPEN_ITEMS A WITH(NOLOCK)
			WHERE   A.CUSTOMER_ID = @CUSTOMER_ID
				AND A.POLICY_ID= @POLICY_ID
				AND A.ITEM_TRAN_CODE_TYPE = 'PREM'
				AND A.ITEM_TRAN_CODE <> 'DISC'
				AND A.POLICY_VERSION_ID IN 
								(
								SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL WITH(NOLOCK)
								WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID
								AND CPL.CURRENT_TERM = @CURRENT_TERM 
								)
				GROUP BY A.RISK_ID , A.RISK_TYPE,A.AGENCY_COMM_PERC , SOURCE_ROW_ID
		) AS SUB1
		LEFT JOIN 
		(
			SELECT  SUM(ISNULL(L.TOTAL_DUE,0)) AS UNREALESED_AMOUNT,
				L.RISK_ID AS RISK_ID , 
				L.RISK_TYPE ,L.SOURCE_ROW_ID
			FROM ACT_CUSTOMER_OPEN_ITEMS L WITH(NOLOCK)
			WHERE 	L.CUSTOMER_ID = @CUSTOMER_ID
				AND L.POLICY_ID = @POLICY_ID
				AND L.ITEM_TRAN_CODE <> 'DISC'
				AND L.ITEM_TRAN_CODE_TYPE = 'PREM'
				AND L.POLICY_VERSION_ID IN 
								(
								SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL WITH(NOLOCK)
								WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID
								AND CPL.CURRENT_TERM = @CURRENT_TERM 
								)
				AND ISNULL(L.NOTICE_SEND ,'N' ) <> 'Y'
				AND ISNULL(TOTAL_PAID,0) =  0 
			GROUP BY L.RISK_ID , L.RISK_TYPE  ,L.SOURCE_ROW_ID
		) AS SUB2
		ON SUB1.RISK_ID = SUB2.RISK_ID AND SUB1.SOURCE_ROW_ID = SUB2.SOURCE_ROW_ID
	END
	ELSE
	BEGIN 

		INSERT INTO #POLICY_ACC_DATA
			(
			RISK_ID,PREMIUM_AMOUNT,
			UNRELEASED_PREMIUM,
			COMMISSION_PERCENTAGE,RISK_TYPE,
			AGENCY_COMM_PERC , 
			SOURCE_ROW_ID 
			)
		SELECT  SUB1.RISK_ID , SUB1.PREMIUM_AMOUNT,
			SUB2.UNREALESED_AMOUNT,
			--CEILING(ISNULL(SUB6.COMMISSION_PERCENTAGE,0)),
			SUB1.AGENCY_COMM_PERC , 
			SUB1.RISK_TYPE,
			SUB1.AGENCY_COMM_PERC , 
			SUB1.SOURCE_ROW_ID 
		FROM 
		(
			SELECT  SUM(ISNULL(A.TOTAL_DUE,0)) PREMIUM_AMOUNT ,
				A.RISK_ID AS RISK_ID , A.RISK_TYPE AS RISK_TYPE,
				A.AGENCY_COMM_PERC as AGENCY_COMM_PERC ,
				A.SOURCE_ROW_ID AS  SOURCE_ROW_ID 
			FROM ACT_CUSTOMER_OPEN_ITEMS A 
			INNER JOIN ACT_POLICY_INSTALLMENT_DETAILS X WITH(NOLOCK)
			ON A.INSTALLMENT_ROW_ID  = X.ROW_ID
			WHERE   A.CUSTOMER_ID = @CUSTOMER_ID
				AND A.POLICY_ID= @POLICY_ID
				AND A.ITEM_TRAN_CODE_TYPE = 'PREM'
				AND A.ITEM_TRAN_CODE <> 'DISC'
				AND X.CURRENT_TERM = @CURRENT_TERM	GROUP BY A.RISK_ID , A.RISK_TYPE,		
				A.AGENCY_COMM_PERC , SOURCE_ROW_ID
		) AS SUB1

		LEFT JOIN 
		(
			SELECT  SUM(B.INSTALLMENT_AMOUNT) AS UNREALESED_AMOUNT,
				B.RISK_ID AS RISK_ID , B.RISK_TYPE ,L.SOURCE_ROW_ID
			FROM ACT_POLICY_INSTALLMENT_DETAILS B WITH(NOLOCK)
			INNER JOIN ACT_CUSTOMER_OPEN_ITEMS L WITH(NOLOCK)
			ON L.INSTALLMENT_ROW_ID  = B.ROW_ID
			WHERE 	B.CUSTOMER_ID = @CUSTOMER_ID 
				AND B.POLICY_ID = @POLICY_ID 
				AND L.ITEM_TRAN_CODE <> 'DISC'
				AND L.ITEM_TRAN_CODE_TYPE = 'PREM'
				--AND ISNULL(L.TOTAL_PAID , 0 ) = 0 
				--Ravindra(12-24-2008): If Plan change after Reinstatement-Lapse there could be items from 
				--cancellation term reconcilled with cancellation premium .Exclude these items. These items could be 
				--part of unreleased installments
				AND ISNULL(L.APPLIED_AT_CANCELLATION,0) = 0 

				AND B.CURRENT_TERM = @CURRENT_TERM
				AND NOT EXISTS  (	SELECT INSTALLMENT_NO FROM ACT_POLICY_INSTALLMENT_DETAILS INS_IN WITH(NOLOCK)
									WHERE ISNULL(INS_IN.RELEASED_STATUS, 'N') = 'Y'
									AND INS_IN.CUSTOMER_ID = @CUSTOMER_ID AND INS_IN.POLICY_ID = @POLICY_ID 
									AND INS_IN.INSTALLMENT_NO = B.INSTALLMENT_NO AND INS_IN.CURRENT_TERM = @CURRENT_TERM ) 
				AND NOT EXISTS  (	SELECT INSTALLMENT_NO FROM ACT_POLICY_INSTALLMENT_DETAILS INS_IN2 WITH(NOLOCK)
									INNER JOIN  ACT_CUSTOMER_OPEN_ITEMS ON_IN 
									ON ON_IN.INSTALLMENT_ROW_ID  = INS_IN2.ROW_ID
									WHERE ISNULL(ON_IN.NOTICE_SEND, 'N') = 'Y'
									AND INS_IN2.CUSTOMER_ID = @CUSTOMER_ID AND INS_IN2.POLICY_ID = @POLICY_ID 
									AND INS_IN2.INSTALLMENT_NO = B.INSTALLMENT_NO AND INS_IN2.CURRENT_TERM = @CURRENT_TERM) 
				--Ravindra (09-15-209): iTrack 6322 - if negative premium of installment is reconcilled 
				--with other installment consider it as release 
				AND ISNULL(
							(
							SELECT SUM(ISNULL(ON_IN4.TOTAL_PAID ,0 )) 
							FROM ACT_POLICY_INSTALLMENT_DETAILS INS_IN4 WITH(NOLOCK)
							INNER JOIN  ACT_CUSTOMER_OPEN_ITEMS ON_IN4 
							ON ON_IN4.INSTALLMENT_ROW_ID  = INS_IN4.ROW_ID
							WHERE INS_IN4.CUSTOMER_ID = @CUSTOMER_ID AND INS_IN4.POLICY_ID = @POLICY_ID 
							AND INS_IN4.INSTALLMENT_NO = B.INSTALLMENT_NO AND INS_IN4.CURRENT_TERM = @CURRENT_TERM
							AND ON_IN4.ITEM_TRAN_CODE_TYPE = 'PREM'
							),0
						)  = 0 
								
			GROUP BY B.RISK_ID , B.RISK_TYPE ,L.SOURCE_ROW_ID
		) AS SUB2
		ON SUB1.RISK_ID = SUB2.RISK_ID AND SUB1.RISK_TYPE = SUB2.RISK_TYPE
		AND SUB1.SOURCE_ROW_ID = SUB2.SOURCE_ROW_ID
		WHERE ISNULL(SUB2.UNREALESED_AMOUNT,0) <> 0 
		/*LEFT JOIN 
		(
			SELECT (SUB5.DISCOUNT * 100) / SUB4.PREMIUM AS COMMISSION_PERCENTAGE , 
			SUB4.RISK_ID AS RISK_ID , SUB4.RISK_TYPE 
			FROM
			(
				SELECT  SUM(ISNULL(D.TOTAL_DUE,0)) PREMIUM , D.RISK_ID AS RISK_ID , D.RISK_TYPE 
				FROM ACT_CUSTOMER_OPEN_ITEMS D 
				INNER JOIN ACT_POLICY_INSTALLMENT_DETAILS Y 
				ON D.INSTALLMENT_ROW_ID  = Y.ROW_ID
				   AND Y.INSTALLMENT_NO= 1
				WHERE D.CUSTOMER_ID = @CUSTOMER_ID 
					AND D.POLICY_ID = @POLICY_ID
					AND D.ITEM_TRAN_CODE_TYPE = 'PREM'
					AND D.ITEM_TRAN_CODE <> 'DISC'
					AND Y.CURRENT_TERM = @CURRENT_TERM
				GROUP BY D.RISK_ID ,D.RISK_TYPE
			) SUB4 
			INNER JOIN
			(
				SELECT  SUM(ISNULL(E.TOTAL_DUE,0)) * -1 AS DISCOUNT ,E.RISK_ID AS RISK_ID , E.RISK_TYPE
				FROM ACT_CUSTOMER_OPEN_ITEMS E 
				INNER JOIN ACT_POLICY_INSTALLMENT_DETAILS Z 
				ON E.INSTALLMENT_ROW_ID  = Z.ROW_ID
				   AND Z.INSTALLMENT_NO= 1
				WHERE   E.CUSTOMER_ID = @CUSTOMER_ID
					AND E.POLICY_ID = @POLICY_ID
					AND E.ITEM_TRAN_CODE_TYPE = 'PREM'
					AND E.ITEM_TRAN_CODE = 'DISC'
					AND Z.CURRENT_TERM = @CURRENT_TERM
				GROUP BY E.RISK_ID ,E.RISK_TYPE
			)SUB5 
			ON SUB4.RISK_ID = SUB5.RISK_ID  AND SUB4.RISK_TYPE = SUB5.RISK_TYPE
		) SUB6 
		ON SUB1.RISK_ID = SUB6.RISK_ID AND SUB1.RISK_TYPE = SUB6.RISK_TYPE*/
	END


	--Loop through each row of #POLICY_ACC_DATA and readjust Installment Plan for each row


	-- Temporary table to Store final plan
	CREATE TABLE #FINAL_INSTALL_PLAN
	(
		[IDENT_COL] [int] IDENTITY(1,1) NOT NULL ,                                
		[AMOUNT]			DECIMAL(25,2),
		[INSTALLMENT_EFFECTIVE_DATE]	DATETIME,
		[RELEASED_STATUS]		Char(1),
		[INSTALLMENT_NO]		Int,
		[RISK_ID]			Int,
		[TRAN_TYPE]			Varchar(10),
		[RISK_TYPE]			Varchar(15),
		[PAYMENT_MODE]			Int,
		[AGENCY_REG_COMM]		Decimal(18,2) ,
		[AGENCY_COMM_PERC]		Int,
		[PERCENTAG_OF_PREMIUM]		Decimal(9,4) , 

	)

	CREATE TABLE #PLAN_TO_INSERT
	(
		[IDENT_COL] [int] IDENTITY(1,1) NOT NULL ,                                 
		[AMOUNT]			DECIMAL(25,2),
		[INSTALLMENT_EFFECTIVE_DATE]	DATETIME,
		[RELEASED_STATUS]		Char(1),
		[INSTALLMENT_NO]		Int,
		[RISK_ID]			Int,
		[TRAN_TYPE]			Varchar(10),
		[RISK_TYPE]			Varchar(15),
		[PAYMENT_MODE]			Int ,
		[AGENCY_REG_COMM]		Decimal(18,2) ,
		[AGENCY_COMM_PERC]		Int,
		[PERCENTAG_OF_PREMIUM]		Decimal(9,4), 
		[SOURCE_ROW_ID]				Int, 
		[POLICY_VERSION_ID]			Int, 
		[ITEM_TRAN_CODE]			Varchar(15)
	)


	-- Temporary Table to Store new plan
	CREATE TABLE #TMP_INSTALL_PLAN
	(
		[IDENT_COL] [int] IDENTITY(1,1) NOT NULL ,                                                              
		[AMOUNT]			DECIMAL(25,2),
		[INSTALLMENT_EFFECTIVE_DATE]	DATETIME,
		[RELEASED_STATUS]		Char(1),
		[INSTALLMENT_NO]		Int,
		[TRAN_TYPE]			Varchar(10),
		[RISK_TYPE]			Varchar(15),
		[PAYMENT_MODE]			Int,
		[AGENCY_REG_COMM]		Decimal(18,2) ,
		[AGENCY_COMM_PERC]		Int,
		[PERCENTAG_OF_PREMIUM]		Decimal(9,4)
	)


	DECLARE @IDENT_COL INT  ,@IS_SAME_POLICY  Char(1)      
	SET  @IDENT_COL = 1              
	SET @IS_SAME_POLICY = 'N'
	DECLARE @PREMIUM_AMOUNT			Decimal(18,2),
		@UNREALESED_AMOUNT			Decimal(18,2),
		@REMAINING_AMOUNT			Decimal(18,2),
		@NEXT_DUE_INSTALLMENT_NO	Int,
		@NEXT_DUE_INSTALLMENT_EFF_DATE DateTime,
		@RISK_ID					Int,
		@COMMISSION_PERCENTAGE		Int,
		@RISK_TYPE					Varchar(10),
		@AGENCY_REG_COMM			Decimal(18,2) ,
		@AGENCY_COMM_PERC			Int , 
		@TOTAL_INSTALLMENT_AMT		Decimal(18,2) , 
		@TOTAL_DISCOUNT_AMT			Decimal(18,2) ,
		@DIFFERENCE					Decimal(18,2),
		@ADJUST_TILL				Datetime , 
		@LAST_BILLED_INS_DUE_DATE	Datetime , 
		@ACTUAL_POLICY_VERSION_ID	Int ,
		@ITEM_TRAN_TYPE				Varchar(10), 
		@ITEM_TRAN_CODE				Varchar(10) ,
		@GROSS_AMOUNT				Decimal(18,2)


	WHILE 1 = 1              
	BEGIN              
		IF NOT EXISTS (	SELECT IDENT_COL FROM #POLICY_ACC_DATA WHERE IDENT_COL = @IDENT_COL) 
		BEGIN              
			BREAK              
		END          


		SELECT 
		@RISK_ID = RISK_ID ,
		@PREMIUM_AMOUNT  = PREMIUM_AMOUNT ,
		@UNREALESED_AMOUNT  = UNRELEASED_PREMIUM ,
		@REMAINING_AMOUNT = UNRELEASED_PREMIUM ,
		--@COMMISSION_PERCENTAGE = COMMISSION_PERCENTAGE,
		@COMMISSION_PERCENTAGE = AGENCY_COMM_PERC,
		@RISK_TYPE = RISK_TYPE,
		@AGENCY_REG_COMM  = AGENCY_REG_COMM ,
		@AGENCY_COMM_PERC  = AGENCY_COMM_PERC  ,
		@TOTAL_INSTALLMENT_AMT	= 0 , 
		@TOTAL_DISCOUNT_AMT		= 0 , 
		@SOURCE_ROW_ID     = SOURCE_ROW_ID
		FROM #POLICY_ACC_DATA
		WHERE IDENT_COL = @IDENT_COL

		SELECT @ACTUAL_POLICY_VERSION_ID = POLICY_VERSION_ID , 
				@ITEM_TRAN_CODE = ITEM_TRAN_CODE
		FROM ACT_CUSTOMER_OPEN_ITEMS WITH (NOLOCK) 
		WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND SOURCE_ROW_ID = @SOURCE_ROW_ID 
		AND ITEM_TRAN_CODE_TYPE = 'PREM'

		--If no unrealsed amount to apply continue with other risk
		IF(ISNULL(@UNREALESED_AMOUNT,0) = 0 ) 
		BEGIN 
			SET @IDENT_COL = @IDENT_COL + 1 
			CONTINUE
		END
			
		--Inserting the record in to temp table

		TRUNCATE TABLE #TMP_INSTALL_PLAN

		DECLARE @INSTALLMENT_EFFECTIVE_DATE DATETIME, 
				@INSTALLMENT_AMOUNT DECIMAL(20,2),
				@COMMISSION_AMOUNT DECIMAL(20,2),
				@CTR SMALLINT , 
				@PERCENTAG_OF_PREMIUM Decimal (9,4) , 
				@IS_DOWN_PAYMENT SmallINt,
				@MODE_OF_PAYMENT Int,
				@CALCULATED_INS_EFF_DATE	Datetime
		
		SET @INSTALLMENT_EFFECTIVE_DATE = @POLICY_EFFECTIVE_DATE
		SET @CALCULATED_INS_EFF_DATE = @POLICY_EFFECTIVE_DATE

		SET @CTR = 1;
		SET @IS_DOWN_PAYMENT   = 1
		
		WHILE @CTR <= @NO_OF_PAYMENTS		--Looping as number of times as there are installments
		BEGIN
		
		IF @CTR > 1
			SELECT @CALCULATED_INS_EFF_DATE = DATEADD(MONTH, @MONTHS_BETWEEN, @CALCULATED_INS_EFF_DATE )

			IF @IS_DOWN_PAYMENT  > @NO_INS_DOWNPAY
			BEGIN 
				SET @MODE_OF_PAYMENT =   @PLAN_PAYMENT_MODE
			END
			ELSE
			BEGIN 
				SET @MODE_OF_PAYMENT =   @DOWN_PAYMENT_MODE
			END 

			IF @IS_DOWN_PAYMENT  <= @NO_INS_DOWNPAY
			BEGIN 
				SET @INSTALLMENT_EFFECTIVE_DATE = @POLICY_EFFECTIVE_DATE
			END
			ELSE
			BEGIN 
				SET @INSTALLMENT_EFFECTIVE_DATE = @CALCULATED_INS_EFF_DATE
			END
			-----------Added 30 OCt 2009 (Praveen) --Itrack 6675
			DECLARE @DD Int, @MM Int, @YYYY Int
			SET @YYYY = DATEPART(YYYY,@INSTALLMENT_EFFECTIVE_DATE)
			SET @MM  =  DATEPART(MM,@INSTALLMENT_EFFECTIVE_DATE)
			SET @DD = DATEPART(DD,@POLICY_EFFECTIVE_DATE)
			

			IF(@MM = 2 AND @DD >=29)
			BEGIN 
				SET @DD = 28
			END

				 -- by Pravesh on 17 aug 2007 if @MM=0 then  
			 IF (@MM = 0)   
			 BEGIN   
			  SET @MM = 12  
			  SET @YYYY = @YYYY-1  
			 END  
				--end here   
			 -- If month is of 30 days and @DD=31 then date will be updated to 30 if it is 31 --by pravesh on 6 aug 2007  
			 IF((@MM = 4 or @MM = 6 or @MM = 9 or @MM = 11) and @DD =31)  
			 BEGIN   
			  SET @DD = 30  
			 END  
		    
			 --Ravindra(10-14-2009): If Installment FAlling in next year   
			 --If month is 13 or greater than   
			 IF(@MM >=13)   
			 BEGIN  
			  SET @MM = 1  
			  SET @YYYY = @YYYY+1   
			 END   
			  
			SET @INSTALLMENT_EFFECTIVE_DATE = CAST(
			( 
			CONVERT(VARCHAR,@YYYY)
			+ '-'
			+ CONVERT(VARCHAR,@MM ) 
			+ '-'
			+ CONVERT(VARCHAR, @DD) 
			)
			AS DATETIME)
			
			------------------End Itrack 6675

			SELECT @PERCENTAG_OF_PREMIUM =
			CASE @CTR
					WHEN 1 THEN
						@PERCENT_BREAKDOWN1
					WHEN 2 THEN
						@PERCENT_BREAKDOWN2					
					WHEN 3 THEN
						 @PERCENT_BREAKDOWN3
					WHEN 4 THEN
						 @PERCENT_BREAKDOWN4
					WHEN 5 THEN
						 @PERCENT_BREAKDOWN5
					WHEN 6 THEN
						 @PERCENT_BREAKDOWN6
					WHEN 7 THEN
						@PERCENT_BREAKDOWN7
					WHEN 8 THEN
						@PERCENT_BREAKDOWN8
					WHEN 9 THEN
						@PERCENT_BREAKDOWN9
					WHEN 10 THEN
						@PERCENT_BREAKDOWN10
					WHEN 11 THEN
						@PERCENT_BREAKDOWN11
					WHEN 12 THEN
						@PERCENT_BREAKDOWN12
				END
		
			SET @INSTALLMENT_AMOUNT = ROUND((@PERCENTAG_OF_PREMIUM/100) * @PREMIUM_AMOUNT, 2)		
			SET @TOTAL_INSTALLMENT_AMT = @TOTAL_INSTALLMENT_AMT + @INSTALLMENT_AMOUNT
			-- If Home Employee then create discount entry also
			IF(@IS_HOME_EMP = 'Y' AND  @COMMISSION_PERCENTAGE <> 0)
			BEGIN 
				--Calculate Commission To Be given
				--SET @COMMISSION_AMOUNT  = (@INSTALLMENT_AMOUNT * @COMMISSION_PERCENTAGE) /100
				-- Itrack 6033. Commision amount/Discout (in case of hoe employee) shud be calculated on 
				-- net premium of the installment amount.
				DECLARE @NET_PREMIUM_AMOUNT		DECIMAL(18,2)
				SELECT @NET_PREMIUM_AMOUNT =  NET_PREMIUM 
				FROM ACT_CUSTOMER_OPEN_ITEMS WITH(NOLOCK)
				WHERE  SOURCE_ROW_ID = @SOURCE_ROW_ID  AND CUSTOMER_ID = @CUSTOMER_ID 	AND POLICY_ID = @POLICY_ID 
				AND RISK_ID = @RISK_ID AND RISK_TYPE = @RISK_TYPE AND POLICY_VERSION_ID = @ACTUAL_POLICY_VERSION_ID
				AND ITEM_TRAN_CODE NOT IN ('ADC','PIC','CAC') 
				
				SET @COMMISSION_AMOUNT  = (((@INSTALLMENT_AMOUNT * @NET_PREMIUM_AMOUNT)/@PREMIUM_AMOUNT) * @COMMISSION_PERCENTAGE) /100
				SET @TOTAL_DISCOUNT_AMT = @TOTAL_DISCOUNT_AMT + @COMMISSION_AMOUNT

				INSERT INTO #TMP_INSTALL_PLAN
				(
				AMOUNT,
				INSTALLMENT_EFFECTIVE_DATE,
				INSTALLMENT_NO,
				TRAN_TYPE, RISK_TYPE ,PAYMENT_MODE,
				AGENCY_REG_COMM , AGENCY_COMM_PERC , PERCENTAG_OF_PREMIUM
				)
				VALUES
				(	
				@COMMISSION_AMOUNT * -1 ,
				@INSTALLMENT_EFFECTIVE_DATE,
				@CTR,
				'DISC' , @RISK_TYPE , @MODE_OF_PAYMENT,
				@AGENCY_REG_COMM , @AGENCY_COMM_PERC ,  @PERCENTAG_OF_PREMIUM
				)
			END
			
			--Inserting the installment record in temporary table, 
			INSERT INTO #TMP_INSTALL_PLAN
			(
				AMOUNT,
				INSTALLMENT_EFFECTIVE_DATE,
				INSTALLMENT_NO,
				TRAN_TYPE ,RISK_TYPE , PAYMENT_MODE,
				AGENCY_REG_COMM , AGENCY_COMM_PERC , PERCENTAG_OF_PREMIUM
			)
			VALUES
			(	
				@INSTALLMENT_AMOUNT,
				@INSTALLMENT_EFFECTIVE_DATE,
				@CTR,
				'PREM' , @RISK_TYPE , @MODE_OF_PAYMENT ,
				@AGENCY_REG_COMM , @AGENCY_COMM_PERC , @PERCENTAG_OF_PREMIUM
			)
			
			SET @CTR = @CTR + 1
			SET @IS_DOWN_PAYMENT = @IS_DOWN_PAYMENT + 1
		END
		

		IF( @OLD_PLAN_ID = @FULL_PAY_PLAN_ID ) 
		BEGIN 
			SELECT 	@LAST_BILLED_INS_DUE_DATE = MAX(OI.DUE_DATE) 
			FROM ACT_CUSTOMER_OPEN_ITEMS OI WITH(NOLOCK) 
			WHERE 	OI.CUSTOMER_ID = @CUSTOMER_ID
				AND OI.POLICY_ID = @POLICY_ID
				AND OI.ITEM_TRAN_CODE <> 'DISC'
				AND OI.ITEM_TRAN_CODE_TYPE = 'PREM'
				AND OI.POLICY_VERSION_ID IN 
								(
								SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL WITH(NOLOCK)
								WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID
								AND CPL.CURRENT_TERM = @CURRENT_TERM 
								)
				AND 
				(
					ISNULL(OI.NOTICE_SEND ,'N' ) =  'Y' OR ISNULL(TOTAL_PAID,0) <>  0 
				)
		END
		ELSE
		BEGIN
			SELECT 	@LAST_BILLED_INS_DUE_DATE = MAX(OI.DUE_DATE) 
			FROM ACT_POLICY_INSTALLMENT_DETAILS INS WITH(NOLOCK)
			INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OI WITH(NOLOCK)
			ON OI.INSTALLMENT_ROW_ID  = INS.ROW_ID
			WHERE   INS.CUSTOMER_ID = @CUSTOMER_ID
			AND INS.POLICY_ID = @POLICY_ID
			AND INS.CURRENT_TERM = @CURRENT_TERM
			AND OI.ITEM_TRAN_CODE <> 'DISC'
			AND OI.ITEM_TRAN_CODE_TYPE = 'PREM'
			AND 
			(
				EXISTS  (	SELECT INSTALLMENT_NO FROM ACT_POLICY_INSTALLMENT_DETAILS INS_IN1 WITH(NOLOCK)
									WHERE ISNULL(INS_IN1.RELEASED_STATUS, 'N') = 'Y'
									AND INS_IN1.CUSTOMER_ID = @CUSTOMER_ID AND INS_IN1.POLICY_ID = @POLICY_ID 
									AND INS_IN1.INSTALLMENT_NO = INS.INSTALLMENT_NO AND INS_IN1.CURRENT_TERM = @CURRENT_TERM ) 
				OR EXISTS  (	SELECT INSTALLMENT_NO FROM ACT_POLICY_INSTALLMENT_DETAILS INS_IN2 
										INNER JOIN  ACT_CUSTOMER_OPEN_ITEMS ON_IN1  WITH(NOLOCK)
										ON ON_IN1.INSTALLMENT_ROW_ID  = INS_IN2.ROW_ID
										WHERE ISNULL(ON_IN1.NOTICE_SEND, 'N') = 'Y'
										AND INS_IN2.CUSTOMER_ID = @CUSTOMER_ID AND INS_IN2.POLICY_ID = @POLICY_ID  
										AND INS_IN2.INSTALLMENT_NO = INS.INSTALLMENT_NO AND INS_IN2.CURRENT_TERM = @CURRENT_TERM) 
			)
		END


		SET @LAST_BILLED_INS_DUE_DATE = DATEADD(DD , 1, @LAST_BILLED_INS_DUE_DATE ) 

		IF( DATEDIFF (DD , @POSTING_DATE,@LAST_BILLED_INS_DUE_DATE ) > 0)
		BEGIN 
			SET @ADJUST_TILL = @LAST_BILLED_INS_DUE_DATE 
		END
		ELSE
		BEGIN 
			SET @ADJUST_TILL = CAST(CONVERT(VARCHAR,@POSTING_DATE,101) AS DATETIME ) 
		END


		IF EXISTS ( SELECT IDENT_COL FROM #TMP_INSTALL_PLAN WHERE DATEDIFF(DD,@ADJUST_TILL , INSTALLMENT_EFFECTIVE_DATE ) >= 0 )
		BEGIN 
			SELECT @NEXT_DUE_INSTALLMENT_NO =  MIN(INSTALLMENT_NO) ,
				@NEXT_DUE_INSTALLMENT_EFF_DATE  = MIN(INSTALLMENT_EFFECTIVE_DATE)
			FROM #TMP_INSTALL_PLAN WHERE DATEDIFF(DD,@ADJUST_TILL , INSTALLMENT_EFFECTIVE_DATE ) >= 0 
		END
		ELSE
		BEGIN 
			SET  @NEXT_DUE_INSTALLMENT_NO		= 1
			SET  @NEXT_DUE_INSTALLMENT_EFF_DATE	= @ADJUST_TILL 
		END
	 

		IF( @NEW_PLAN_ID = @FULL_PAY_PLAN_ID ) 
		BEGIN 
			--Ravindra(08-18-2008) : iTrack 4341 and as discussed with sally wipe off unpaid installment fees
			UPDATE ACT_CUSTOMER_OPEN_ITEMS SET TOTAL_DUE = ISNULL(TOTAL_PAID,0) 
			WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND ITEM_TRAN_CODE = 'INSF' 
			--AND ITEM_TRAN_CODE = 'FEES'  Ravindra (10-07-2008) Should be ITEM_TRAN_CODE_TYPE
			AND ITEM_TRAN_CODE_TYPE = 'FEES'  -- 
			AND POLICY_VERSION_ID IN ( SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST 
				WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND CURRENT_TERM = @CURRENT_TERM )
				
			SET  @NEXT_DUE_INSTALLMENT_NO		= 1
			SET  @NEXT_DUE_INSTALLMENT_EFF_DATE	= @ADJUST_TILL 	 
		END
		--SELECT @LAST_BILLED_INS_DUE_DATE , @ADJUST_TILL  , @NEXT_DUE_INSTALLMENT_NO , @NEXT_DUE_INSTALLMENT_EFF_DATE 


		--- If there is a difference in Total Premium Amount & Total of Installment Created 
		-- then add this difference to Last Installment
		IF (@TOTAL_INSTALLMENT_AMT  <> @PREMIUM_AMOUNT)
		BEGIN
			SET @DIFFERENCE  = 0
			SET @DIFFERENCE = @PREMIUM_AMOUNT - @TOTAL_INSTALLMENT_AMT

			UPDATE #TMP_INSTALL_PLAN SET AMOUNT = AMOUNT + @DIFFERENCE
			WHERE IDENT_COL = (SELECT MAX(IDENT_COL) FROM #TMP_INSTALL_PLAN WHERE TRAN_TYPE = 'PREM' )
		END


	--	IF(@IS_HOME_EMP = 'Y' AND  @COMMISSION_PERCENTAGE <> 0)
	--	BEGIN 
	--		IF (@TOTAL_DISCOUNT_AMT  <> (@PREMIUM_AMOUNT * @COMMISSION_PERCENTAGE) /100.00)
	--		BEGIN
	--			SET @DIFFERENCE  = 0
	--			SET @DIFFERENCE = @TOTAL_DISCOUNT_AMT  - ((@PREMIUM_AMOUNT * @COMMISSION_PERCENTAGE) /100.00 )
	--			
	--			UPDATE #TMP_INSTALL_PLAN SET AMOUNT = AMOUNT + @DIFFERENCE
	--			WHERE IDENT_COL = (SELECT MAX(IDENT_COL) FROM #TMP_INSTALL_PLAN WHERE TRAN_TYPE = 'DISC' )
	--
	--		END
	--	END


		DECLARE curTEMP_INSTALLMENTS CURSOR   
		LOCAL FORWARD_ONLY STATIC  
		FOR SELECT AMOUNT,INSTALLMENT_EFFECTIVE_DATE,INSTALLMENT_NO,TRAN_TYPE ,	AGENCY_REG_COMM , 
				AGENCY_COMM_PERC , PERCENTAG_OF_PREMIUM , PAYMENT_MODE 
		FROM #TMP_INSTALL_PLAN   
		order by INSTALLMENT_NO DESC
		
		
		DECLARE @AMT Decimal(18,2),
				@INSTAL_EFFECTIVE_DATE DateTime,
				@INSTAL_NO  Int, @TRAN_TYPE Varchar(10),
				@NEXT_INS_ID Int , @NEXT_INS_AMOUNT Decimal (18,2) , @FINAL_AMT Decimal (18,2),
				@INS_PAYMENT_MODE	Int , @UNRELEASED_DISCOUNT Decimal(18,2) 

		SET 	@AGENCY_REG_COMM = 0
		SET 	@AGENCY_COMM_PERC = 0
		SET		@REMAINING_AMOUNT = @UNREALESED_AMOUNT
		SET		@TOTAL_DISCOUNT_AMT = 0 
		SET		@DIFFERENCE			= 0 
		
		TRUNCATE  TABLE #FINAL_INSTALL_PLAN
		OPEN curTEMP_INSTALLMENTS  
		

		WHILE 1=1  
		BEGIN   
			--Fetching the values from cursor  
			FETCH NEXT FROM curTEMP_INSTALLMENTS INTO @AMT , @INSTAL_EFFECTIVE_DATE , @INSTAL_NO  , @TRAN_TYPE ,
					@AGENCY_REG_COMM , @AGENCY_COMM_PERC , @PERCENTAG_OF_PREMIUM , @INS_PAYMENT_MODE
			 
			IF @@FETCH_STATUS <> 0  
				BREAK;  
			DECLARE @PER Decimal (18,2) ,@NEXT_DISC Decimal(18,2) , @FINAL_DISC Decimal(18,2) ,
				@NEXT_DISC_ID Int , @TOT_AMT Decimal(18,2)

			-- If remaining Anount is less than the installment amount 
			-- Create a installment for this whole amount
			IF ABS(@AMT ) > ABS(@REMAINING_AMOUNT)  
			BEGIN
				--If entered discount entry for this installment number delete it 
				DELETE FROM #FINAL_INSTALL_PLAN WHERE TRAN_TYPE = 'DISC' AND INSTALLMENT_NO = @INSTAL_NO

				IF(@INSTAL_EFFECTIVE_DATE >= @NEXT_DUE_INSTALLMENT_EFF_DATE )
				BEGIN 
					SELECT @PER = ROUND( ((@REMAINING_AMOUNT * 100 ) / @PREMIUM_AMOUNT),2) 
			
					IF(@IS_HOME_EMP = 'Y' AND  @COMMISSION_PERCENTAGE <> 0)		
					BEGIN
						SET @FINAL_DISC = ROUND( ((@REMAINING_AMOUNT * @AGENCY_COMM_PERC ) /100),2) * - 1


						INSERT INTO #FINAL_INSTALL_PLAN (AMOUNT ,INSTALLMENT_EFFECTIVE_DATE ,
							INSTALLMENT_NO,RISK_ID,TRAN_TYPE, RISK_TYPE , PAYMENT_MODE, 
							AGENCY_REG_COMM , AGENCY_COMM_PERC , PERCENTAG_OF_PREMIUM)
						VALUES(@FINAL_DISC , @INSTAL_EFFECTIVE_DATE , 
							@INSTAL_NO  , @RISK_ID , 'DISC', @RISK_TYPE , @INS_PAYMENT_MODE ,
							@AGENCY_REG_COMM , @AGENCY_COMM_PERC , @PER )
					END


					INSERT INTO #FINAL_INSTALL_PLAN (AMOUNT ,INSTALLMENT_EFFECTIVE_DATE ,
						INSTALLMENT_NO,RISK_ID,TRAN_TYPE, RISK_TYPE , PAYMENT_MODE, 
						AGENCY_REG_COMM , AGENCY_COMM_PERC , PERCENTAG_OF_PREMIUM)
					VALUES(@REMAINING_AMOUNT , @INSTAL_EFFECTIVE_DATE , 
						@INSTAL_NO  , @RISK_ID , @TRAN_TYPE, @RISK_TYPE , @INS_PAYMENT_MODE ,
						@AGENCY_REG_COMM , @AGENCY_COMM_PERC , @PER )

				END
				ELSE -- Add the remaining Amount to First Next Due Installment
				BEGIN 
					SELECT @NEXT_INS_ID  = MAX(IDENT_COL) FROM #FINAL_INSTALL_PLAN
					WHERE TRAN_TYPE <> 'DISC'

					-- If next installment udpate it else add new installment
					IF ( @NEXT_INS_ID IS NOT NULL)
					BEGIN
						SELECT @NEXT_INS_AMOUNT = AMOUNT FROM #FINAL_INSTALL_PLAN
						WHERE IDENT_COL = @NEXT_INS_ID
				
						SET @FINAL_AMT = @NEXT_INS_AMOUNT + @REMAINING_AMOUNT 
					
						SELECT @PER = ROUND( ((@FINAL_AMT * 100 ) / @PREMIUM_AMOUNT),2) 

						UPDATE #FINAL_INSTALL_PLAN SET AMOUNT = @FINAL_AMT,
								PERCENTAG_OF_PREMIUM =  @PER 
						WHERE IDENT_COL = @NEXT_INS_ID

						-- Readjust Discount Entry Also
						IF(@IS_HOME_EMP = 'Y' AND  @COMMISSION_PERCENTAGE <> 0)		
						BEGIN
							SELECT @NEXT_DISC_ID  = MAX(IDENT_COL) FROM #FINAL_INSTALL_PLAN
							WHERE TRAN_TYPE = 'DISC'

							SET @FINAL_DISC = ROUND( ((@FINAL_AMT * @AGENCY_COMM_PERC ) /100),2)  * - 1

							UPDATE #FINAL_INSTALL_PLAN SET AMOUNT = @FINAL_DISC
							WHERE IDENT_COL = @NEXT_DISC_ID
						END
					END
					ELSE
					BEGIN 

						IF(@IS_HOME_EMP = 'Y' AND  @COMMISSION_PERCENTAGE <> 0)		
						BEGIN
							SET @FINAL_DISC = ROUND( ((@REMAINING_AMOUNT * @AGENCY_COMM_PERC ) /100),2) * - 1


							INSERT INTO #FINAL_INSTALL_PLAN (AMOUNT ,INSTALLMENT_EFFECTIVE_DATE ,
							INSTALLMENT_NO,RISK_ID,TRAN_TYPE, RISK_TYPE , PAYMENT_MODE, 
							AGENCY_REG_COMM , AGENCY_COMM_PERC , PERCENTAG_OF_PREMIUM)
							VALUES(@FINAL_DISC , @INSTAL_EFFECTIVE_DATE , 
							@INSTAL_NO  , @RISK_ID , 'DISC', @RISK_TYPE , @INS_PAYMENT_MODE ,
							@AGENCY_REG_COMM , @AGENCY_COMM_PERC , @PER )
						END

					END
				END
				BREAK;
			END
			
			-- Else create Installment with calculated Installment Amount	
			IF(@INSTAL_EFFECTIVE_DATE >= @NEXT_DUE_INSTALLMENT_EFF_DATE )
			BEGIN
				INSERT INTO #FINAL_INSTALL_PLAN (AMOUNT ,INSTALLMENT_EFFECTIVE_DATE ,INSTALLMENT_NO , RISK_ID, TRAN_TYPE 
				, RISK_TYPE , PAYMENT_MODE , AGENCY_REG_COMM , AGENCY_COMM_PERC , PERCENTAG_OF_PREMIUM )
				VALUES(@AMT , @INSTAL_EFFECTIVE_DATE , @INSTAL_NO  , @RISK_ID, @TRAN_TYPE 
				, @RISK_TYPE , @INS_PAYMENT_MODE , @AGENCY_REG_COMM , @AGENCY_COMM_PERC , @PERCENTAG_OF_PREMIUM)
			END
			ELSE
			BEGIN 
			
				IF(@TRAN_TYPE = 'DISC')
				BEGIN 
					CONTINUE 
				END

				SELECT @NEXT_INS_ID  = MAX(IDENT_COL) FROM #FINAL_INSTALL_PLAN
				WHERE TRAN_TYPE <> 'DISC'

				-- If next installment udpate it else add new installment
				IF ( @NEXT_INS_ID IS NOT NULL)
				BEGIN
					SELECT @NEXT_INS_AMOUNT = AMOUNT FROM #FINAL_INSTALL_PLAN
					WHERE IDENT_COL = @NEXT_INS_ID

					SET @FINAL_AMT = @NEXT_INS_AMOUNT + @REMAINING_AMOUNT 

					SELECT @PER = ROUND( ((@FINAL_AMT * 100 ) / @PREMIUM_AMOUNT),2) 

					UPDATE #FINAL_INSTALL_PLAN SET AMOUNT = @FINAL_AMT,
							PERCENTAG_OF_PREMIUM =  @PER 
					WHERE IDENT_COL = @NEXT_INS_ID

					-- Readjust Discount Entry Also
					IF(@IS_HOME_EMP = 'Y' AND  @COMMISSION_PERCENTAGE <> 0)		
					BEGIN	
						SELECT @NEXT_DISC_ID  = MAX(IDENT_COL) FROM #FINAL_INSTALL_PLAN
						WHERE TRAN_TYPE = 'DISC'

						SET @FINAL_DISC = ROUND( ((@FINAL_AMT * @AGENCY_COMM_PERC ) /100),2)  * - 1

						UPDATE #FINAL_INSTALL_PLAN SET AMOUNT = @FINAL_DISC
						WHERE IDENT_COL = @NEXT_DISC_ID
					END
				END
				ELSE
				BEGIN 

					IF(@IS_HOME_EMP = 'Y' AND  @COMMISSION_PERCENTAGE <> 0)		
					BEGIN
						SET @FINAL_DISC = ROUND( ((@REMAINING_AMOUNT * @AGENCY_COMM_PERC ) /100),2) * - 1

					END

				END
				--Ravindra(09-23-2008): As we are adding whole amount to next installment no more iteration required
				SET @AMT = @REMAINING_AMOUNT 
			END
			IF(@TRAN_TYPE <> 'DISC')
			BEGIN 
				SET @REMAINING_AMOUNT = @REMAINING_AMOUNT - @AMT 
			END
		END

		
		CLOSE curTEMP_INSTALLMENTS  
		DEALLOCATE curTEMP_INSTALLMENTS  

		IF(@IS_HOME_EMP = 'Y' AND  @COMMISSION_PERCENTAGE <> 0)
		BEGIN 
			SELECT @TOTAL_DISCOUNT_AMT = SUM(AMOUNT)  FROM #FINAL_INSTALL_PLAN WHERE TRAN_TYPE = 'DISC'

			SELECT  @UNRELEASED_DISCOUNT = SUM(L.TOTAL_DUE) 
			FROM ACT_POLICY_INSTALLMENT_DETAILS B
			INNER JOIN ACT_CUSTOMER_OPEN_ITEMS L 
			ON L.INSTALLMENT_ROW_ID  = B.ROW_ID
			WHERE 	B.CUSTOMER_ID = @CUSTOMER_ID 
			AND B.POLICY_ID = @POLICY_ID 
			AND L.ITEM_TRAN_CODE = 'DISC'
			AND B.CURRENT_TERM = @CURRENT_TERM
			AND NOT EXISTS  (	SELECT INSTALLMENT_NO FROM ACT_POLICY_INSTALLMENT_DETAILS INS_IN WITH(NOLOCK)
									WHERE ISNULL(INS_IN.RELEASED_STATUS, 'N') = 'Y'
									AND INS_IN.CUSTOMER_ID = @CUSTOMER_ID AND INS_IN.POLICY_ID = @POLICY_ID 
						AND INS_IN.INSTALLMENT_NO = B.INSTALLMENT_NO AND INS_IN.CURRENT_TERM = @CURRENT_TERM ) 
			AND NOT EXISTS  (	SELECT INSTALLMENT_NO FROM ACT_POLICY_INSTALLMENT_DETAILS INS_IN2 WITH(NOLOCK)
						INNER JOIN  ACT_CUSTOMER_OPEN_ITEMS ON_IN 
						ON ON_IN.INSTALLMENT_ROW_ID  = INS_IN2.ROW_ID
						WHERE ISNULL(ON_IN.NOTICE_SEND, 'N') = 'Y'
						AND INS_IN2.CUSTOMER_ID = @CUSTOMER_ID AND INS_IN2.POLICY_ID = @POLICY_ID 
						AND INS_IN2.INSTALLMENT_NO = B.INSTALLMENT_NO AND INS_IN2.CURRENT_TERM = @CURRENT_TERM) 
			AND B.RISK_ID = @RISK_ID
			AND B.RISK_TYPE = @RISK_TYPE 
			AND L.SOURCE_ROW_ID = @SOURCE_ROW_ID 

			IF ( @TOTAL_DISCOUNT_AMT  <> @UNRELEASED_DISCOUNT  )
			BEGIN
				SET @DIFFERENCE  = 0
				SET @DIFFERENCE = @UNRELEASED_DISCOUNT - @TOTAL_DISCOUNT_AMT

				UPDATE #FINAL_INSTALL_PLAN SET AMOUNT = AMOUNT + @DIFFERENCE
				WHERE IDENT_COL = (SELECT MAX(IDENT_COL) FROM #FINAL_INSTALL_PLAN WHERE TRAN_TYPE = 'DISC' )

			END
		END
		INSERT INTO #PLAN_TO_INSERT (AMOUNT ,INSTALLMENT_EFFECTIVE_DATE ,INSTALLMENT_NO,RISK_ID,TRAN_TYPE ,
			 RISK_TYPE , PAYMENT_MODE , AGENCY_REG_COMM , AGENCY_COMM_PERC , PERCENTAG_OF_PREMIUM , 
			SOURCE_ROW_ID, POLICY_VERSION_ID , ITEM_TRAN_CODE )
		SELECT AMOUNT ,INSTALLMENT_EFFECTIVE_DATE ,INSTALLMENT_NO,RISK_ID,TRAN_TYPE , 
			RISK_TYPE , PAYMENT_MODE , AGENCY_REG_COMM , AGENCY_COMM_PERC , PERCENTAG_OF_PREMIUM , 
			@SOURCE_ROW_ID , @ACTUAL_POLICY_VERSION_ID , @ITEM_TRAN_CODE
		FROM #FINAL_INSTALL_PLAN ORDER BY INSTALLMENT_NO 

		SET @IDENT_COL = @IDENT_COL + 1   

	END

	CREATE TABLE #INS_TO_DELETE 
	(
		ROW_ID Int 
	)

	INSERT INTO #INS_TO_DELETE
	SELECT B.ROW_ID
	FROM ACT_POLICY_INSTALLMENT_DETAILS B
	INNER JOIN ACT_CUSTOMER_OPEN_ITEMS L 
	ON L.INSTALLMENT_ROW_ID  = B.ROW_ID
	WHERE 	B.CUSTOMER_ID = @CUSTOMER_ID  
		AND B.POLICY_ID = @POLICY_ID  
		--AND ISNULL(L.TOTAL_PAID , 0 ) = 0 
		AND B.CURRENT_TERM = @CURRENT_TERM 
		AND NOT EXISTS  (	
							SELECT INSTALLMENT_NO FROM ACT_POLICY_INSTALLMENT_DETAILS INS_IN WITH(NOLOCK)
							WHERE ISNULL(INS_IN.RELEASED_STATUS, 'N') = 'Y'
							AND INS_IN.CUSTOMER_ID = @CUSTOMER_ID AND INS_IN.POLICY_ID = @POLICY_ID  
							AND INS_IN.INSTALLMENT_NO = B.INSTALLMENT_NO AND INS_IN.CURRENT_TERM = @CURRENT_TERM  
						) 
		AND NOT EXISTS  (	
							SELECT INSTALLMENT_NO FROM ACT_POLICY_INSTALLMENT_DETAILS INS_IN2 WITH(NOLOCK)
							INNER JOIN  ACT_CUSTOMER_OPEN_ITEMS ON_IN 
							ON ON_IN.INSTALLMENT_ROW_ID  = INS_IN2.ROW_ID
							WHERE ISNULL(ON_IN.NOTICE_SEND, 'N') = 'Y'
							AND INS_IN2.CUSTOMER_ID = @CUSTOMER_ID AND INS_IN2.POLICY_ID = @POLICY_ID  
							AND INS_IN2.INSTALLMENT_NO = B.INSTALLMENT_NO AND INS_IN2.CURRENT_TERM = @CURRENT_TERM 
						) 
		--6322
		AND ISNULL(
							(
							SELECT SUM(ISNULL(ON_IN4.TOTAL_PAID ,0 )) 
							FROM ACT_POLICY_INSTALLMENT_DETAILS INS_IN4 WITH(NOLOCK)
							INNER JOIN  ACT_CUSTOMER_OPEN_ITEMS ON_IN4 
							ON ON_IN4.INSTALLMENT_ROW_ID  = INS_IN4.ROW_ID
							WHERE INS_IN4.CUSTOMER_ID = @CUSTOMER_ID AND INS_IN4.POLICY_ID = @POLICY_ID 
							AND INS_IN4.INSTALLMENT_NO = B.INSTALLMENT_NO AND INS_IN4.CURRENT_TERM = @CURRENT_TERM
							AND ON_IN4.ITEM_TRAN_CODE_TYPE = 'PREM'
							),0
						)  = 0 

		--Ravindra(12-24-2008): If Plan change after Reinstatement-Lapse there could be items from 
		--cancellation term reconcilled with cancellation premium .Exclude these items. These items could be 
		--part of unreleased installments
		AND NOT EXISTS ( 
							SELECT IDEN_ROW_ID FROM ACT_CUSTOMER_OPEN_ITEMS OIIN WITH(NOLOCK)
							WHERE OIIN.INSTALLMENT_ROW_ID = B.ROW_ID 
							AND	ISNULL(OIIN.APPLIED_AT_CANCELLATION,0) <> 0 
						) 

	--Delete from Customer Balance Information 

	DELETE FROM ACT_CUSTOMER_BALANCE_INFORMATION 
	WHERE OPEN_ITEM_ROW_ID IN 
	(
		SELECT A.IDEN_ROW_ID
		FROM ACT_CUSTOMER_OPEN_ITEMS A WITH(NOLOCK)
		INNER JOIN ACT_POLICY_INSTALLMENT_DETAILS B WITH(NOLOCK)
		ON A.INSTALLMENT_ROW_ID  = B.ROW_ID
		WHERE   A.CUSTOMER_ID = @CUSTOMER_ID
		AND A.POLICY_ID= @POLICY_ID
		AND B.CURRENT_TERM = @CURRENT_TERM
		AND NOT EXISTS  (	SELECT INSTALLMENT_NO FROM ACT_POLICY_INSTALLMENT_DETAILS INS_IN WITH(NOLOCK)
								WHERE ISNULL(INS_IN.RELEASED_STATUS, 'N') = 'Y'
							AND INS_IN.CUSTOMER_ID = @CUSTOMER_ID AND INS_IN.POLICY_ID = @POLICY_ID  
							AND INS_IN.INSTALLMENT_NO = B.INSTALLMENT_NO AND INS_IN.CURRENT_TERM = @CURRENT_TERM  
						) 
		AND NOT EXISTS  (	
							SELECT INSTALLMENT_NO FROM ACT_POLICY_INSTALLMENT_DETAILS INS_IN2 WITH(NOLOCK)
							INNER JOIN  ACT_CUSTOMER_OPEN_ITEMS ON_IN 
							ON ON_IN.INSTALLMENT_ROW_ID  = INS_IN2.ROW_ID
							WHERE ISNULL(ON_IN.NOTICE_SEND, 'N') = 'Y'
							AND INS_IN2.CUSTOMER_ID = @CUSTOMER_ID AND INS_IN2.POLICY_ID = @POLICY_ID  
							AND INS_IN2.INSTALLMENT_NO = B.INSTALLMENT_NO AND INS_IN2.CURRENT_TERM = @CURRENT_TERM 
						) 
			--6322
		AND ISNULL(
							(
							SELECT SUM(ISNULL(ON_IN4.TOTAL_PAID ,0 )) 
							FROM ACT_POLICY_INSTALLMENT_DETAILS INS_IN4 WITH(NOLOCK)
							INNER JOIN  ACT_CUSTOMER_OPEN_ITEMS ON_IN4 
							ON ON_IN4.INSTALLMENT_ROW_ID  = INS_IN4.ROW_ID
							WHERE INS_IN4.CUSTOMER_ID = @CUSTOMER_ID AND INS_IN4.POLICY_ID = @POLICY_ID 
							AND INS_IN4.INSTALLMENT_NO = B.INSTALLMENT_NO AND INS_IN4.CURRENT_TERM = @CURRENT_TERM
							AND ON_IN4.ITEM_TRAN_CODE_TYPE = 'PREM'
							),0
						)  = 0 
		--Ravindra(12-24-2008): If Plan change after Reinstatement-Lapse there could be items from 
		--cancellation term reconcilled with cancellation premium .Exclude these items. These items could be 
		--part of unreleased installments
		AND NOT EXISTS ( 
						SELECT IDEN_ROW_ID FROM ACT_CUSTOMER_OPEN_ITEMS OIIN WITH(NOLOCK)
						WHERE OIIN.INSTALLMENT_ROW_ID = B.ROW_ID 
						AND	ISNULL(OIIN.APPLIED_AT_CANCELLATION,0) <> 0 
						) 
	)
	-- Delete Records fom Customer Open Items
	DELETE FROM ACT_CUSTOMER_OPEN_ITEMS 
	WHERE IDEN_ROW_ID IN 
	(
		SELECT A.IDEN_ROW_ID
		FROM ACT_CUSTOMER_OPEN_ITEMS A WITH(NOLOCK)
		INNER JOIN ACT_POLICY_INSTALLMENT_DETAILS B WITH(NOLOCK)
		ON A.INSTALLMENT_ROW_ID  = B.ROW_ID
		WHERE   A.CUSTOMER_ID = @CUSTOMER_ID
		AND A.POLICY_ID= @POLICY_ID
		AND B.CURRENT_TERM = @CURRENT_TERM
		AND NOT EXISTS  (	SELECT INSTALLMENT_NO FROM ACT_POLICY_INSTALLMENT_DETAILS INS_IN WITH(NOLOCK)
								WHERE ISNULL(INS_IN.RELEASED_STATUS, 'N') = 'Y'
							AND INS_IN.CUSTOMER_ID = @CUSTOMER_ID AND INS_IN.POLICY_ID = @POLICY_ID  
							AND INS_IN.INSTALLMENT_NO = B.INSTALLMENT_NO AND INS_IN.CURRENT_TERM = @CURRENT_TERM  ) 
		AND NOT EXISTS  (	SELECT INSTALLMENT_NO FROM ACT_POLICY_INSTALLMENT_DETAILS INS_IN2 
							INNER JOIN  ACT_CUSTOMER_OPEN_ITEMS ON_IN WITH(NOLOCK)
							ON ON_IN.INSTALLMENT_ROW_ID  = INS_IN2.ROW_ID
							WHERE ISNULL(ON_IN.NOTICE_SEND, 'N') = 'Y'
							AND INS_IN2.CUSTOMER_ID = @CUSTOMER_ID AND INS_IN2.POLICY_ID = @POLICY_ID  
							AND INS_IN2.INSTALLMENT_NO = B.INSTALLMENT_NO AND INS_IN2.CURRENT_TERM = @CURRENT_TERM 
						) 
			--6322
		AND ISNULL(
							(
							SELECT SUM(ISNULL(ON_IN4.TOTAL_PAID ,0 )) 
							FROM ACT_POLICY_INSTALLMENT_DETAILS INS_IN4 WITH(NOLOCK)
							INNER JOIN  ACT_CUSTOMER_OPEN_ITEMS ON_IN4 
							ON ON_IN4.INSTALLMENT_ROW_ID  = INS_IN4.ROW_ID
							WHERE INS_IN4.CUSTOMER_ID = @CUSTOMER_ID AND INS_IN4.POLICY_ID = @POLICY_ID 
							AND INS_IN4.INSTALLMENT_NO = B.INSTALLMENT_NO AND INS_IN4.CURRENT_TERM = @CURRENT_TERM
							AND ON_IN4.ITEM_TRAN_CODE_TYPE = 'PREM'
							),0
						)  = 0 

		--Ravindra(12-24-2008): If Plan change after Reinstatement-Lapse there could be items from 
		--cancellation term reconcilled with cancellation premium .Exclude these items. These items could be 
		--part of unreleased installments
		AND NOT EXISTS ( 
						SELECT IDEN_ROW_ID FROM ACT_CUSTOMER_OPEN_ITEMS OIIN WITH(NOLOCK)
						WHERE OIIN.INSTALLMENT_ROW_ID = B.ROW_ID 
						AND	ISNULL(OIIN.APPLIED_AT_CANCELLATION,0) <> 0 
						) 
	)

	IF( @OLD_PLAN_ID = @FULL_PAY_PLAN_ID ) 
	BEGIN
		DELETE FROM ACT_CUSTOMER_OPEN_ITEMS
		WHERE 	CUSTOMER_ID = @CUSTOMER_ID	AND POLICY_ID = @POLICY_ID
		AND ITEM_TRAN_CODE <> 'DISC'	AND ITEM_TRAN_CODE_TYPE = 'PREM'
		AND POLICY_VERSION_ID IN 
						(
						SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL WITH(NOLOCK)
						WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID
						AND CPL.CURRENT_TERM = @CURRENT_TERM 
						)
		AND ISNULL(NOTICE_SEND ,'N' ) <> 'Y'
		AND ISNULL(TOTAL_PAID,0) =  0 
	END

	CREATE TABLE #TMP_CUSTOMER_BALANCE
	(
		IDEN_ROW	Int Identity(1,1), 
		CUSTOMER_ID Int , POLICY_ID Int , POLICY_VERSION_ID Int,
		OPEN_ITEM_ROW_ID Int, AMOUNT Decimal(18,2), AMOUNT_DUE Decimal(18,2),
		TRAN_DESC Varchar(250),
		UPDATED_FROM Varchar(10), 
		CREATED_DATE Datetime,
		IS_PRINTED Bit, PRINT_DATE Datetime, SOURCE_ROW_ID Int,
		RISK_ID Int, INSTALLMENT_NO Int
	)

	-- Delete records from installment plan details

	DELETE FROM ACT_POLICY_INSTALLMENT_DETAILS 
	WHERE ROW_ID IN 
	(
		SELECT ROW_ID
		FROM #INS_TO_DELETE
	)


	DROP TABLE  #INS_TO_DELETE

	DECLARE @FIRST_INS_NO INt,
			@FIRST_INS_AMT	Decimal(18,2)

	SELECT @FIRST_INS_NO = MIN(INSTALLMENT_NO) FROM #PLAN_TO_INSERT
	SELECT @FIRST_INS_AMT = SUM(AMOUNT) FROM #PLAN_TO_INSERT WHERE INSTALLMENT_NO = @FIRST_INS_NO


	--iTrack 4344
	--If installment amount is less than minimum installment amount then add it to next installment
	IF(@FIRST_INS_AMT < @MIN_INSTALL_AMT ) 
	BEGIN 
		DECLARE @ROW_TO_UPDATE Int 
		IF EXISTS (SELECT IDENT_COL FROM #PLAN_TO_INSERT	WHERE #PLAN_TO_INSERT.INSTALLMENT_NO = @FIRST_INS_NO + 1 ) 
		BEGIN 
			SELECT TOP 1 @ROW_TO_UPDATE = IDENT_COL 
			FROM #PLAN_TO_INSERT	WHERE #PLAN_TO_INSERT.INSTALLMENT_NO = @FIRST_INS_NO + 1

			UPDATE #PLAN_TO_INSERT  SET AMOUNT = AMOUNT +  @FIRST_INS_AMT
			WHERE #PLAN_TO_INSERT.IDENT_COL = @ROW_TO_UPDATE
				
			UPDATE #PLAN_TO_INSERT SET AMOUNT = 0 WHERE INSTALLMENT_NO = @FIRST_INS_NO
		END
	END

	--- Inserting the new plan in ACT_POLICY_INSTALLMENT_DETAILS 
	DECLARE @INSTALLMENT_ROW_ID Int , @INS_AMT Decimal(18,2) ,@INSTALLMENT_NO INt , @PAYMENT_MODE Int,
			@TRAN_DESC varchar (100),
			@INSERTED_ROW_ID Int,
			@RISK_ID_FOR_FEES INt, @RISK_TYPE_FOR_FEES Varchar(10) , @SOURCE_ID_FOR_FEES Int ,
			@MAX_EXISTING_INS	Int , 
			@INS_ADJUSTER		Int

	--Ravindra(6-16-2009): Installmnet number should start from max of existing installment + 1 
	SELECT @MAX_EXISTING_INS = MAX(INSTALLMENT_NO)  
	FROM ACT_POLICY_INSTALLMENT_DETAILS WHERE CUSTOMER_ID = @CUSTOMER_ID 
	AND POLICY_ID = @POLICY_ID AND CURRENT_TERM  = @CURRENT_TERM 

	SET @INS_ADJUSTER = 0 

	IF(@FIRST_INS_NO <=@MAX_EXISTING_INS ) 
	BEGIN 
		SET @INS_ADJUSTER = @MAX_EXISTING_INS -@FIRST_INS_NO + 1  
	END


	SELECT TOP 1 @RISK_ID_FOR_FEES = RISK_ID , @RISK_TYPE_FOR_FEES= RISK_TYPE,@SOURCE_ID_FOR_FEES = SOURCE_ROW_ID 
	FROM 
	(
		SELECT DISTINCT RISK_ID , RISK_TYPE,SOURCE_ROW_ID from  #PLAN_TO_INSERT 
	)TEMP
	ORDER BY RISK_ID 

	SET @IDENT_COL = 1
	WHILE 1 = 1              
	BEGIN              
		IF NOT EXISTS (	SELECT IDENT_COL FROM #PLAN_TO_INSERT WHERE IDENT_COL = @IDENT_COL) 
		BEGIN              
			BREAK              
		END        

		SELECT 
		@INS_AMT =  AMOUNT ,
		@INSTALLMENT_EFFECTIVE_DATE = INSTALLMENT_EFFECTIVE_DATE, 
		@INSTALLMENT_NO = INSTALLMENT_NO , 
		@RISK_ID  = RISK_ID ,@RISK_TYPE = RISK_TYPE ,
		@PAYMENT_MODE = PAYMENT_MODE,
		@TRAN_TYPE = TRAN_TYPE , 
		@AGENCY_REG_COMM  = AGENCY_REG_COMM  , 
		@AGENCY_COMM_PERC = AGENCY_COMM_PERC ,
		@PERCENTAG_OF_PREMIUM = PERCENTAG_OF_PREMIUM, 
		@SOURCE_ROW_ID  = SOURCE_ROW_ID ,
		@ACTUAL_POLICY_VERSION_ID = POLICY_VERSION_ID ,	
		@ITEM_TRAN_CODE  = ITEM_TRAN_CODE
		FROM #PLAN_TO_INSERT
		WHERE IDENT_COL = @IDENT_COL      

		IF ( @INS_AMT  = 0) 
		BEGIN 
			SET @IDENT_COL = @IDENT_COL + 1 
			CONTINUE
		END

		--iTrack 6033 : In case of Home Employee use Customer Open Items.
		IF(@IS_HOME_EMP <> 'Y')
		BEGIN
			SELECT @PREMIUM_AMOUNT =  NET_PREMIUM , 
					@GROSS_AMOUNT = GROSS_AMOUNT
			FROM ACT_AGENCY_OPEN_ITEMS WITH(NOLOCK)
			WHERE  SOURCE_ROW_ID = @SOURCE_ROW_ID  AND CUSTOMER_ID = @CUSTOMER_ID 	AND POLICY_ID = @POLICY_ID 
			AND RISK_ID = @RISK_ID AND RISK_TYPE = @RISK_TYPE AND POLICY_VERSION_ID = @ACTUAL_POLICY_VERSION_ID
			AND ITEM_TRAN_CODE NOT IN ('ADC','PIC','CAC') 
		END
		ELSE
		BEGIN
			SELECT @PREMIUM_AMOUNT =  NET_PREMIUM , 
					@GROSS_AMOUNT = GROSS_PREMIUM FROM ACT_PREMIUM_PROCESS_SUB_DETAILS WITH(NOLOCK) 
			WHERE 
			CUSTOMER_ID = @CUSTOMER_ID 	AND POLICY_ID = @POLICY_ID 
			AND RISK_ID = @RISK_ID AND RISK_TYPE = @RISK_TYPE AND POLICY_VERSION_ID = @ACTUAL_POLICY_VERSION_ID
			AND PPD_ROW_ID = @SOURCE_ROW_ID AND ISNULL(AJUSTED_PREMIUM,0) = 0 

		END	

		SET @ITEM_TRAN_TYPE = 'PREM'

		IF(@TRAN_TYPE = 'DISC')
		BEGIN 
			SET @ITEM_TRAN_CODE  = 'DISC'
			SET @TRAN_DESC = 'Discount For ' + Convert(Varchar(2),@INSTALLMENT_NO + @INS_ADJUSTER ) + ' Installment.'
		END
		ELSE
		BEGIN 
	--		IF (@IS_RENEWED = 1) 
	--			SET @ITEM_TRAN_CODE  = 'RENP'		
	--		ELSE
	--			SET @ITEM_TRAN_CODE  = 'NBSP'			

			SET @TRAN_DESC = Convert(Varchar(2),@INSTALLMENT_NO +  @INS_ADJUSTER ) + ' Installment due.'

		END

		IF( @NEW_PLAN_ID <> @FULL_PAY_PLAN_ID ) 
		BEGIN 
			INSERT INTO ACT_POLICY_INSTALLMENT_DETAILS
			(
			APP_ID, APP_VERSION_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, INSTALLMENT_AMOUNT,
			INSTALLMENT_EFFECTIVE_DATE, RELEASED_STATUS,INSTALLMENT_NO,RISK_ID,RISK_TYPE,
			PAYMENT_MODE,CURRENT_TERM , PERCENTAG_OF_PREMIUM
			)
			Values(
			@APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @POLICY_ID, @ACTUAL_POLICY_VERSION_ID, @INS_AMT ,
			@INSTALLMENT_EFFECTIVE_DATE, 'N', @INSTALLMENT_NO + @INS_ADJUSTER  , @RISK_ID , @RISK_TYPE ,
			@PAYMENT_MODE , @CURRENT_TERM , @PERCENTAG_OF_PREMIUM )
			

			SELECT @INSTALLMENT_ROW_ID = @@IDENTITY
		END
		--Inserting the installment fees 
		-- Installment Fees not to be charged from Home Employee
	--	SELECT @OLD_INS_NO  , @INSTALLMENT_NO
		IF( --@RISK_ID = 1 
			@RISK_ID_FOR_FEES = @RISK_ID AND @RISK_TYPE_FOR_FEES= @RISK_TYPE	AND @SOURCE_ID_FOR_FEES = @SOURCE_ROW_ID 
				AND @TRAN_TYPE <> 'DISC' AND @INSTALLMENT_FEES <> 0 )
		BEGIN 
			IF(@IS_HOME_EMP <> 'Y')
			BEGIN
				SET @INSERTED_ROW_ID = 0 
				INSERT INTO ACT_CUSTOMER_OPEN_ITEMS
				(
				UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
				POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_COMM_APPLIES, AGENCY_COMM_PERC, 
				AGENCY_COMM_AMT, AGENCY_ID, 
				CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE, 
				PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL, BILL_CODE, GROSS_AMOUNT, 
				ITEM_TRAN_CODE,	ITEM_TRAN_CODE_TYPE,
				TRAN_ID, CASH_ACCOUNTING, RECUR_JOURNAL_VERSION, JE_RECON_COUNTER, 
				AMT_IN_RECON, OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, TRANS_DESC, ITEM_STATUS,
				INSTALLMENT_ROW_ID, NET_PREMIUM,RISK_ID,RISK_TYPE , DUE_DATE , 
				SWEEP_DATE 
				)	
				SELECT 
				'P', @SOURCE_ROW_ID, @SOURCE_ROW_ID, PCL.APP_EFFECTIVE_DATE, @INSTALLMENT_EFFECTIVE_DATE ,
				@POSTING_DATE,@INSTALLMENT_FEES , 0, CASE @IS_HOME_EMP WHEN 'Y' THEN 'N' ELSE 'Y' END, @AGENCY_COMM_PERC, 
				@AGENCY_REG_COMM, PCL.AGENCY_ID,
				PCL.CUSTOMER_ID, @POLICY_ID , @ACTUAL_POLICY_VERSION_ID , NULL, NULL, 1, NULL,
				'CUS', PCL.DIV_ID, PCL.DEPT_ID, PCL.PC_ID, NULL, NULL, @IS_PREBILL, @BILL_TYPE, @GROSS_AMOUNT,
				'INSF' , 'FEES' ,
				NULL, NULL, NULL, NULL, 
				NULL, NULL, PCL.POLICY_LOB, PCL.POLICY_SUBLOB, PCL.COUNTRY_ID, PCL.STATE_ID, ' Fees due ' , 'DP',
				@INSTALLMENT_ROW_ID , @PREMIUM_AMOUNT,@RISK_ID,@RISK_TYPE , @INSTALLMENT_EFFECTIVE_DATE , 
				@INSTALLMENT_EFFECTIVE_DATE
				FROM 
				POL_CUSTOMER_POLICY_LIST PCL
				WHERE PCL.CUSTOMER_ID = @CUSTOMER_ID 
					AND PCL.POLICY_ID = @POLICY_ID 
					AND PCL.POLICY_VERSION_ID = @POLICY_VERSION_ID	

				SELECT @INSERTED_ROW_ID = @@IDENTITY 
				--Inserting the entry in customer balance informartion
				INSERT INTO #TMP_CUSTOMER_BALANCE
				(
				CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID,
				OPEN_ITEM_ROW_ID, AMOUNT, AMOUNT_DUE,
				TRAN_DESC,
				UPDATED_FROM, CREATED_DATE,
				IS_PRINTED, PRINT_DATE, SOURCE_ROW_ID ,
				RISK_ID , INSTALLMENT_NO 
				)
				SELECT 
				ACOI.CUSTOMER_ID, ACOI.POLICY_ID, ACOI.POLICY_VERSION_ID, 
				IDEN_ROW_ID, ACOI.TOTAL_DUE, 0,
				case ITEM_TRAN_CODE_TYPE
				WHEN 'FEES' THEN 'Fees written.'
				ELSE CASE @NEW_PLAN_ID 
				WHEN @FULL_PAY_PLAN_ID	THEN 'Premium written.'
				ELSE 'Installment created (Risk-' + CONVERT(VARCHAR, ACOI.RISK_ID) + ').'
				END
				END,
				'P', @POSTING_DATE,
				0,NULL, @SOURCE_ROW_ID,
				@RISK_ID , @INSTALLMENT_NO 
				FROM 
				ACT_CUSTOMER_OPEN_ITEMS ACOI
				WHERE ACOI.IDEN_ROW_ID = @INSERTED_ROW_ID 		

			END
		END

		SELECT @INSERTED_ROW_ID = 0
		INSERT INTO ACT_CUSTOMER_OPEN_ITEMS
		(
		UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
		POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_COMM_APPLIES, AGENCY_COMM_PERC, 
		AGENCY_COMM_AMT, AGENCY_ID, 
		CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE, 
		PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL, BILL_CODE, GROSS_AMOUNT, 
		ITEM_TRAN_CODE,	ITEM_TRAN_CODE_TYPE,
		TRAN_ID, CASH_ACCOUNTING, RECUR_JOURNAL_VERSION, JE_RECON_COUNTER, 
		AMT_IN_RECON, OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, TRANS_DESC, ITEM_STATUS,
		INSTALLMENT_ROW_ID, NET_PREMIUM,RISK_ID,RISK_TYPE , DUE_DATE ,
		SWEEP_DATE
		)	
		SELECT 
		'P', @SOURCE_ROW_ID, @SOURCE_ROW_ID, PCL.APP_EFFECTIVE_DATE, @INSTALLMENT_EFFECTIVE_DATE ,
		@POSTING_DATE, @INS_AMT  , 0, CASE @IS_HOME_EMP WHEN 'Y' THEN 'N' ELSE 'Y' END, @AGENCY_COMM_PERC, 
		@AGENCY_REG_COMM, PCL.AGENCY_ID,
		PCL.CUSTOMER_ID, @POLICY_ID , @ACTUAL_POLICY_VERSION_ID , NULL, NULL, 1, NULL,
		'CUS', PCL.DIV_ID, PCL.DEPT_ID, PCL.PC_ID, NULL, NULL, @IS_PREBILL, @BILL_TYPE, @GROSS_AMOUNT,
		@ITEM_TRAN_CODE , @ITEM_TRAN_TYPE  ,
		NULL, NULL, NULL, NULL, 
		NULL, NULL, PCL.POLICY_LOB, PCL.POLICY_SUBLOB, PCL.COUNTRY_ID, PCL.STATE_ID, @TRAN_DESC , 'DP',
		@INSTALLMENT_ROW_ID , @PREMIUM_AMOUNT,@RISK_ID,@RISK_TYPE , @INSTALLMENT_EFFECTIVE_DATE , 
		@INSTALLMENT_EFFECTIVE_DATE
		FROM 
		POL_CUSTOMER_POLICY_LIST PCL
		WHERE PCL.CUSTOMER_ID = @CUSTOMER_ID 
		AND PCL.POLICY_ID = @POLICY_ID 
		AND PCL.POLICY_VERSION_ID = @POLICY_VERSION_ID	

		SELECT @INSERTED_ROW_ID = @@IDENTITY 
		--Inserting the entry in customer balance informartion
		INSERT INTO #TMP_CUSTOMER_BALANCE
		(
		CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID,
		OPEN_ITEM_ROW_ID, AMOUNT, AMOUNT_DUE,
		TRAN_DESC,
		UPDATED_FROM, CREATED_DATE,
		IS_PRINTED, PRINT_DATE, SOURCE_ROW_ID,
		RISK_ID , INSTALLMENT_NO 
		)
		SELECT 
		ACOI.CUSTOMER_ID, ACOI.POLICY_ID, ACOI.POLICY_VERSION_ID, 
		IDEN_ROW_ID, ACOI.TOTAL_DUE, 0,
		case ITEM_TRAN_CODE_TYPE
		WHEN 'FEES' THEN 'Fees written.'
		ELSE CASE @NEW_PLAN_ID 
		WHEN @FULL_PAY_PLAN_ID	THEN 'Premium written.'
		ELSE 'Installment created (Risk-' + CONVERT(VARCHAR, ACOI.RISK_ID) + ').'
		END
		END,
		'P', @POSTING_DATE,
		0,NULL, @SOURCE_ROW_ID ,
		@RISK_ID , @INSTALLMENT_NO 
		FROM 
		ACT_CUSTOMER_OPEN_ITEMS ACOI WITH(NOLOCK)
		WHERE ACOI.IDEN_ROW_ID = @INSERTED_ROW_ID 	

		SET @IDENT_COL = @IDENT_COL + 1 
	END 

	INSERT INTO ACT_CUSTOMER_BALANCE_INFORMATION
		(
		CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID,
		OPEN_ITEM_ROW_ID, AMOUNT, AMOUNT_DUE,
		TRAN_DESC,
		UPDATED_FROM, CREATED_DATE,
		IS_PRINTED, PRINT_DATE, SOURCE_ROW_ID
		)
	SELECT CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID,
		OPEN_ITEM_ROW_ID, AMOUNT, AMOUNT_DUE,
		TRAN_DESC,
		UPDATED_FROM, @POSTING_DATE,
		IS_PRINTED, PRINT_DATE, SOURCE_ROW_ID
	FROM #TMP_CUSTOMER_BALANCE
	ORDER BY  INSTALLMENT_NO ,RISK_ID ,IDEN_ROW


	--Reconcile negative part of installments with postive (negative endorsement case
	-- If home employee reconcile discount items 
	SET @IDENT_COL = 1 
	WHILE 1 = 1              
	BEGIN              
		IF NOT EXISTS (	SELECT IDENT_COL FROM #POLICY_ACC_DATA WHERE IDENT_COL = @IDENT_COL) 
		BEGIN             
			BREAK              
		END   

		SELECT 
		@RISK_ID = RISK_ID ,
		@UNREALESED_AMOUNT  = UNRELEASED_PREMIUM ,
		@RISK_TYPE = RISK_TYPE,
		@RISK_TYPE = RISK_TYPE , 
		@SOURCE_ROW_ID     = SOURCE_ROW_ID , 
		@ACTUAL_POLICY_VERSION_ID = NULL 
		FROM #POLICY_ACC_DATA
		WHERE IDENT_COL = @IDENT_COL


		--If no unrealsed amount to apply continue with other risk
		IF(ISNULL(@UNREALESED_AMOUNT,0) = 0 ) 
		BEGIN 
			SET @IDENT_COL = @IDENT_COL + 1 
			CONTINUE
		END

		SELECT @ACTUAL_POLICY_VERSION_ID = POLICY_VERSION_ID FROM ACT_CUSTOMER_OPEN_ITEMS WITH (NOLOCK) 
		WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND SOURCE_ROW_ID = @SOURCE_ROW_ID 
		AND ITEM_TRAN_CODE_TYPE = 'PREM'

		IF ( @NEW_PLAN_ID = @FULL_PAY_PLAN_ID ) 
		BEGIN
			exec Proc_ReconcileInstallments @CUSTOMER_ID , @POLICY_ID , @CURRENT_TERM , 'Y'
			IF(@IS_HOME_EMP = 'Y' ) 
			BEGIN 
				exec Proc_ReconcileDiscountItems @CUSTOMER_ID , @POLICY_ID , @ACTUAL_POLICY_VERSION_ID , @RISK_ID , @RISK_TYPE , 'Y'
			END
		END
		ELSE
		BEGIN 
			exec Proc_ReconcileInstallments @CUSTOMER_ID , @POLICY_ID , @CURRENT_TERM , 'N'	
			IF(@IS_HOME_EMP = 'Y' ) 
			BEGIN 
				exec Proc_ReconcileDiscountItems @CUSTOMER_ID , @POLICY_ID , @ACTUAL_POLICY_VERSION_ID , @RISK_ID , @RISK_TYPE , 'N'
			END
		END
		SET @IDENT_COL = @IDENT_COL + 1  

		--Changes for itrack #6906 by Shikha.
		IF NOT EXISTS(SELECT IDENT_COL FROM #POLICY_ACC_DATA WHERE PREMIUM_AMOUNT <> UNRELEASED_PREMIUM)
		BEGIN
			EXEC Proc_DoPostRenewalAdjustments @CUSTOMER_ID,@POLICY_ID,@ACTUAL_POLICY_VERSION_ID
		END

	END
DROP TABLE #TMP_CUSTOMER_BALANCE
DROP TABLE #TMP_INSTALL_PLAN
DROP TABLE #FINAL_INSTALL_PLAN

	IF EXISTS (
				SELECT IDEN_ROW_ID FROM ACT_CUSTOMER_OPEN_ITEMS OI WITH (NOLOCK)
				INNER JOIN ACT_POLICY_INSTALLMENT_DETAILS INSTALL_DETAILS WITH (NOLOCK)
					ON OI.INSTALLMENT_ROW_ID = INSTALL_DETAILS.ROW_ID
				WHERE OI.CUSTOMER_ID = @CUSTOMER_ID AND OI.POLICY_ID = @POLICY_ID AND INSTALL_DETAILS.CURRENT_TERM = @CURRENT_TERM - 1
				AND ISNULL(TOTAL_DUE,0)-ISNULL(TOTAL_PAID,0)>0 AND INSTALL_DETAILS.PAYMENT_MODE = 11973
			  )
	BEGIN
		RETURN 3
	END


	ELSE IF EXISTS (
				SELECT IDEN_ROW_ID FROM ACT_CUSTOMER_OPEN_ITEMS OI WITH (NOLOCK)
				INNER JOIN ACT_POLICY_INSTALLMENT_DETAILS INSTALL_DETAILS WITH (NOLOCK)
					ON OI.INSTALLMENT_ROW_ID = INSTALL_DETAILS.ROW_ID
				WHERE OI.CUSTOMER_ID = @CUSTOMER_ID AND OI.POLICY_ID = @POLICY_ID AND INSTALL_DETAILS.CURRENT_TERM = @CURRENT_TERM - 1
				AND ISNULL(TOTAL_DUE,0)-ISNULL(TOTAL_PAID,0)>0 AND INSTALL_DETAILS.PAYMENT_MODE = 11974
			  )
	BEGIN
		RETURN 4
	END
	ELSE
	BEGIN
		RETURN 2
	END
END
END    


--go 

--exec Proc_ChangeInstallPlan 1577 , 69 , 3 ,14
----
----SELECT A.IDEN_ROW_ID,A.POLICY_VERSION_ID AS VER ,A.RISK_ID , A.TRANS_DESC,A.TOTAL_DUE,A.TOTAL_PAID,
----A.NOTICE_SEND,B.RELEASED_STATUS,B.INSTALLMENT_EFFECTIVE_DATE,A.NET_PREMIUM, A.GROSS_AMOUNT,
----A.ITEM_TRAN_CODE_TYPE,A.ITEM_TRAN_CODE, ISNULL(B.INSTALLMENT_NO,50) INS_NO,B.INSTALLMENT_NO	 AS INS_NO,
----A.RISK_ID,A.RISK_TYPE,A.* FROM ACT_CUSTOMER_OPEN_ITEMS A WITH(NOLOCK)
----left JOIN ACT_POLICY_INSTALLMENT_DETAILS B WITH(NOLOCK) ON A.INSTALLMENT_ROW_ID  = B.ROW_ID
----LEFT JOIN MNT_LOOKUP_VALUES MNT ON 
----B.PAYMENT_MODE = MNT.LOOKUP_UNIQUE_ID 
----WHERE A.CUSTOMER_ID= 1068 AND A.POLICY_ID = 39 AND ITEM_TRAN_CODE_TYPE <> 'FEES' --AND A.SOURCE_ROW_ID = 79
----ORDER BY ISNULL(B.CURRENT_TERM,50),ISNULL(B.INSTALLMENT_NO,50) ,
----A.IDEN_ROW_ID ,A.SOURCE_EFF_DATE,A.UPDATED_FROM
----
--rollback tran








GO

