IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_UpdateDefaultClauses]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_UpdateDefaultClauses]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


-- =============================================                    
-- Author:  praveer panghal                   
-- Created date: 15-Nov-2010                    
-- Description: Updates Default Pol Clauses in Clauses Tab                    
-- DROP PROC Proc_UpdateDefaultClauses                 
-- =============================================                    
              --SELECT * FROM MNT_CLAUSES      
--DROP PROC Proc_UpdateDefaultClauses    2156,485,1,22,398,NULL      
CREATE PROCEDURE [dbo].[Proc_UpdateDefaultClauses]          
      
@CUSTOMER_ID INT,            
@POLICY_ID INT,            
@POLICY_VERSION_ID INT,           
@SUSEP_LOB_ID int =null,        
@CREATED_BY INT,            
@POL_CLAUSE_ID INT = NULL OUT      
       
      
AS      
      
BEGIN            
DECLARE @COUNT INT , @INDEX  INT = 1 ,@QUERY NVARCHAR(1000),@QUERY2 NVARCHAR(1000),      
@TABLE_NAME NVARCHAR(50),@TABLE_NAME2 NVARCHAR(50) ,@CLAUSES_TYPE INT = 0,@ATTACH_FILE NVARCHAR(500)= ''    
      
CREATE TABLE #tempMNT_CLAUSES2 (CLAUSE_ID INT,CLAUSE_TITLE NVARCHAR(MAX),CLAUSE_DESCRIPTION NVARCHAR(MAX),LOB_ID INT,SUBLOB_ID INT,CLAUSES_TYPE INT,AFILE_NAME NVARCHAR(500),CLAUSE_CODE NVARCHAR(MAX))             
INSERT INTO  #tempMNT_CLAUSES2 SELECT CLAUSE_ID,CLAUSE_TITLE,CLAUSE_DESCRIPTION,LOB_ID,SUBLOB_ID,CLAUSE_TYPE,ATTACH_FILE_NAME ,  
CLAUSE_CODE FROM   MNT_CLAUSES WITH(NOLOCK) WHERE  LOB_ID=@SUSEP_LOB_ID AND SUBLOB_ID = 0 AND IS_ACTIVE = 'Y'       
      
      
      
SELECT @COUNT  = COUNT(CLAUSE_ID) FROM #tempMNT_CLAUSES2  WITH(NOLOCK)      
      
CREATE TABLE #Temp2 (CLAUSE_ID INT,CLAUSE_TITLE NVARCHAR(MAX),CLAUSE_DESCRIPTION NVARCHAR(MAX),LOB_ID INT,SUBLOB_ID INT,CLAUSES_TYPE INT,AFILE_NAME NVARCHAR(500),CLAUSE_CODE NVARCHAR(MAX))             
CREATE TABLE #temp1 (CLAUSE_ID INT,CLAUSE_TITLE NVARCHAR(MAX),CLAUSE_DESCRIPTION NVARCHAR(MAX),LOB_ID INT,SUBLOB_ID INT,CLAUSES_TYPE INT,AFILE_NAME NVARCHAR(500),CLAUSE_CODE NVARCHAR(MAX))             
       
   SELECT @TABLE_NAME  = '#temp1'      
   SELECT @TABLE_NAME2 = '#Temp2'      
       
   while(@COUNT >= @INDEX)      
   BEGIN             
    SELECT  @QUERY  = 'INSERT INTO '+ CONVERT(nvarchar(50),@TABLE_NAME)+' SELECT TOP '+CONVERT(VARCHAR(50),@INDEX) +' CLAUSE_ID,CLAUSE_TITLE,CLAUSE_DESCRIPTION,LOB_ID,SUBLOB_ID,CLAUSES_TYPE,AFILE_NAME,CLAUSE_CODE  FROM #tempMNT_CLAUSES2 ORDER BY CLAUSE_ID
 ASC'        
        
    EXEC (@QUERY)      
          
   INSERT INTO #Temp2 SELECT top 1 * from #temp1 order by CLAUSE_ID desc       
        
     
      SELECT @POL_CLAUSE_ID = ISNULL(MAX(POL_CLAUSE_ID),0) + 1 FROM POL_CLAUSES WITH(NOLOCK)  WHERE CUSTOMER_ID= @CUSTOMER_ID AND POLICY_ID = @POLICY_ID       
      
      IF NOT EXISTS(SELECT POL_CLAUSE_ID FROM POL_CLAUSES WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID             
      AND POLICY_VERSION_ID = @POLICY_VERSION_ID AND CLAUSE_ID = @POL_CLAUSE_ID)            
      BEGIN             
   INSERT INTO POL_CLAUSES(POL_CLAUSE_ID,CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,CLAUSE_ID,CLAUSE_TITLE,CLAUSE_DESCRIPTION,IS_ACTIVE,CREATED_BY,            
        CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,SUSEP_LOB_ID,CLAUSE_TYPE,ATTACH_FILE_NAME,CLAUSE_CODE)      
        SELECT TOP 1 @POL_CLAUSE_ID, @CUSTOMER_ID, @POLICY_ID, @POLICY_VERSION_ID, CLAUSE_ID,CLAUSE_TITLE, CLAUSE_DESCRIPTION, 'Y', @CREATED_BY, GETDATE(),            
        NULL, NULL,LOB_ID,CLAUSES_TYPE,AFILE_NAME ,CLAUSE_CODE FROM #Temp2 WITH(NOLOCK)       
        WHERE LOB_ID=@SUSEP_LOB_ID AND SUBLOB_ID = 0       
      END           
          
      SELECT  @INDEX = @INDEX + 1      
      DELETE FROM #temp1      
      DELETE FROM #Temp2        
    END         
    DROP TABLE  #Temp2      
    DROP TABLE #temp1      
    DROP TABLE  #tempMNT_CLAUSES2       
         
         
      
END      

GO

