IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_SUSEP_PREMRECEB_PREMIUM_RECEIVED_BY_BANK]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_SUSEP_PREMRECEB_PREMIUM_RECEIVED_BY_BANK]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


---- ITRACK 1075 (193)


CREATE PROCEDURE  [dbo].[PROC_SUSEP_PREMRECEB_PREMIUM_RECEIVED_BY_BANK] 
(
 @DATETIME DATETIME,  
 @POLICY_NUMBER VARCHAR(22) = NULL

)        
AS
DECLARE  @LANG_ID INT
SET  @LANG_ID = 2 
DECLARE @MONTH VARCHAR(2)  
 DECLARE @YEAR VARCHAR(4) 
 DECLARE @TEMP NVARCHAR(500)
 SET @MONTH= DATEPART(MM, @DATETIME) 
 SET @YEAR=(SELECT DATEPART(YYYY, @DATETIME))  
 BEGIN
	DECLARE @TEMPTABLE TABLE 
	(
		SEQUENCE_NO INT IDENTITY(1,1), ---SEQUENCE NUMBER.
		COMPANY_CODE VARCHAR(50),
		REFERENCE_MONTH VARCHAR(8),
		SUSEP_LOB_CODE VARCHAR(5),
		POLICY_NUMBER NVARCHAR(150),
		ENDORSEMENT_NO NVARCHAR(20),
		NO_OF_PROPOSAL NVARCHAR(150),
		PROPOSAL_DATE VARCHAR(10),
		INSTALLMENT_NO INT,
		RECEIPT_ISSUED_DATE VARCHAR(10),
		DUE_DATE_INSTALLMENT VARCHAR(10),
		BANK_NUMBER NVARCHAR(50),
		BANK_CNPJ NVARCHAR(50),
		BOLETO_NUMBER NVARCHAR(200),
		DOCUMENT_NUMBER NVARCHAR(80), 
		BRANCH_NO_ASSIGNOR_CODE NVARCHAR(100),
		OUR_NUMBER NVARCHAR(200),
		DOCUMENT_AMOUNT NVARCHAR(100),
		DELAY_AMOUNT NVARCHAR(100),
		DISCOUNT_AMOUNT NVARCHAR(100),
		AMOUNT_CHARGED NVARCHAR(200),
		TYPE_TRANSACTION VARCHAR(10)
		--DOCUMENT_NUMBER NVARCHAR(80)
	)
INSERT INTO @TEMPTABLE  
  
   SELECT 
		 --VW.PCPL_CUSTOMER_ID,
		 --VW.PCPL_POLICY_ID,
		 --VW.PCPL_POLICY_VERSION_ID,
		  --ALIANÇA DA BAHIA SUSEP CODE.
		  --Modified by Pradeep- as per the itrack-1075 - note-8 (Point-3) 
		 '504-5' AS COMPANY_CODE, 
		 --Modified till here 
		 
		  -----BASE MONTH: YYYYMM.
		  CASE  
			WHEN @MONTH IN (1,2,3,4,5,6,7,8,9) THEN  @YEAR + '0' + @MONTH 
			WHEN @MONTH IN (10,11,12) THEN  @YEAR + @MONTH
		 END AS REFERENCE_MONTH , --REFERENCE MONTH OF THE REPORT.
		 
		 -----SUSEP LOB 
		 VW.ACOUNT_SUSEP_LOB_CODE,
		 
		 ----NUMBER OF POLICY/CERTIFICATE 
		 --Modified by Pradeep-AS per the itrack-1075 - note-8 (Point-1) 
		 VW.POLICY_NUMBER POLICY_NUMBER,

		 
		 -----NUMBER OF ENDORSEMENT/INVOICE 
		 VW.ENDORSEMENT_NO ENDORSEMENT_NO,--Modified by Pradeep-AS per the itrack-1075 - note-9 (Point-12) 
		 
		 ---------------------------------------------------------------------------------------------------------
			--NUMBER OF PROPOSAL – CORRESPONDS TO THE NUMBER OF THE PROPOSAL THAT 
			--GENERATED THE POLICY/ENDORSEMENT.
			--SINCE THERE IS NO PROPOSAL STAGE FOR ENDORSEMENT IN CURRENT SYSTEM,  SUGGEST:
			--1. FOR NEW BUSINESS AND RENEWAL, WE USE THE APPLICATION NUMBER.
			--2. FOR ENDORSEMENT, WE USE ENDORSEMENT NUMBER.
		 ---------------------------------------------------------------------------------------------------------
		 CASE 
			 WHEN VW.PROCESS_ID IN (5,24,25,18) THEN VW.APP_NUMBER
			 WHEN VW.PROCESS_ID IN (3,14) THEN CONVERT(VARCHAR(5),VW.ENDORSEMENT_NO)
		 END NO_OF_PROPOSAL,
		 
		 
		 ---------------------------------------------------------------------------------------------------------
			--PROPOSAL DATE. YYYYMMDD
			--SINCE THERE IS NO PROPOSAL STAGE FOR ENDORSEMENT IN CURRENT SYSTEM, WE SUGGEST:
			--1. FOR NEW BUSINESS AND RENEWAL, WE USE THE PROPOSAL DATE
			--2. FOR ENDORSEMENT, WE USE ENDORSEMENT ENTRY DATE.
		 ---------------------------------------------------------------------------------------------------------
		 CASE 
			 WHEN VW.PROCESS_ID IN (5,24,25,18) THEN  CONVERT(VARCHAR(10),VW.APP_INCEPTION_DATE,112) 
			 WHEN VW.PROCESS_ID IN (3,14) THEN  CONVERT(VARCHAR(10),VW.CREATED_DATETIME,112)
		 END PROPOSAL_DATE,
		 
		 ---------------------------------------------------------------------------------------------------------
			 --INSTALLMENT NUMBER – CORRESPONDS TO THE NUMBER
			 -- OF THE PAID INSTALLMENT
		 ---------------------------------------------------------------------------------------------------------
		 APID.INSTALLMENT_NO,
		
		 -------------------------RECEIPT DATE OF INSTALLMENT. YYYYMMDD
		 CONVERT(VARCHAR(10),APID.RECEIVED_DATE,112) RECEIPT_ISSUED_DATE,
		 
		 --------------------DUE DATE OF THE INSTALLMENT. YYYYMMDD
		 CONVERT(VARCHAR(10),APID.INSTALLMENT_EFFECTIVE_DATE,112) AS DUE_DATE_INSTALLMENT,
		 
		 ---------------------------------------------------------------------------------------------------------
			--BANK NUMBER OF ALIANÇA DA BAHIA.
			--MUST BE THE BANK IDENTIFIED WHERE THE INSTALLMENT WERE SETTLE. 
			--TODAY ALIANÇA DA BAHIA USES THE ""BANCO DO BRASIL"", SO USE THE CODE 0001
		 ---------------------------------------------------------------------------------------------------------
		 ABI.BANK_NUMBER,
		 
		 -----------CNPJ NUMBER OF BRANCH BANK. USE THE NUMBER 000000000505552
		 '505552' AS BANK_CNPJ,--Modified by Pradeep-AS per the itrack-1075 - note-9 (Point-15) 
		 
		 ------------FOR BOLETO, BOLETO BARCODE NUMBER SHOULD BE FILLED IN.
		--Modified by Pradeep- as per the itrack-1075 - note-8 (Point-2) 
		--RIGHT('00000000000000000000000000000000000000000000000000' +CONVERT(VARCHAR,PIB.BOLETO_BARCODE_NUMBER ),50)AS BOLETO_NUMBER,   -----------NOT IN SYSTEM
		--PIB.BOLETO_BARCODE_NUMBER AS BOLETO_NUMBER,
		 APID.BOLETO_NO AS BOLETO_NUMBER,
		--Modified till here
		 
		 ------------DOCUMENT NUMBER
		 --Modified by Pradeep itrack-1075 note - 8 (point- 5)
		 (VW.BRANCH_CODE + VW.SUSEP_LOB_CODE + 
		CASE 
			WHEN VW.CO_INSURANCE IN (14547,14548) THEN '0'
			WHEN VW.CO_INSURANCE = 14549 THEN '9'
		END
		+RIGHT(VW.POLICY_NUMBER,6)
		+ CASE	
			  WHEN VW.POLICY_VERIFY_DIGIT IS NOT NULL THEN CONVERT(VARCHAR(10), VW.POLICY_VERIFY_DIGIT) 
			  ELSE CONVERT(VARCHAR(10),'') 
		  END
		 + CONVERT(VARCHAR(10),ISNULL(LOOK_UP.Type,'')) --ENDO_TYPE_DIGIT 
		 + '000000' + CONVERT(VARCHAR(10),ISNULL(VW.ENDORSEMENT_NO,0)) 
		 + 
			CASE 
				WHEN VW.END_VERIFY_DIGIT IS NOT NULL THEN CONVERT(VARCHAR(10), VW.END_VERIFY_DIGIT)
				ELSE CONVERT(VARCHAR(10),'') 
			END ) AS DOCUMENT_NUMBER,
		 --Modiefied till here
		 --------------------------------------------------------------------------------------------------------
			--NUMBER OF BRANCH/ ASSIGNOR CODE
			--BRANCH NUMBER OF BANK AND ASSIGNOR CODE. 
			--TODAY ALIANÇA DA BAHIA USES THE BRANCH BANK 3429-0 AND THE ASSIGNOR CODE IS 001500791, SO USE THE CODE 34290001500791.
			--E.G.: 000000000000000034290001500791.
		 --------------------------------------------------------------------------------------------------------
		 (ABI.BRANCH_NUMBER+'0' + ABI.NUMBER) AS BRANCH_NO_ASSIGNOR_CODE,--Modified by Pradeep as per the itrack-1075-Note-9 point-9
		 
		 -----------------OUR NUMBER 
		 --PIB.BOLETO_BARCODE_NUMBER AS BOLETO_NUMBER,
		 APID.BOLETO_NO AS OUR_NUMBER,
		 
		 ------------DOCUMENT AMOUNT
		 APID.TOTAL AS DOCUMENT_AMOUNT,   
		 --APID.TOTAL AS DOCUMENT_AMOUNT,
		 
		-------------DELAY/FINE AMOUNT.
		ACDLI.LATE_FEE AS DELAY_AMOUNT,   
		--ACDLI.LATE_FEE AS DELAY_AMOUNT,
		 
		  -----------DISCOUNT/REDUCTION AMOUNT
		 ISNULL(APID.TOTAL,0) * (ISNULL(PDS.PERCENTAGE,0) /100) AS DISCOUNT_AMOUNT,
		 (ISNULL(APID.TOTAL,0) + ISNULL(ACDLI.LATE_FEE,0) + ISNULL(APID.TOTAL,0) * (ISNULL(PDS.PERCENTAGE,0) /100)) AS AMOUNT_CHARGED,
		 
		 
		 	 
	------------------------------------------------------------------------------------------------------------
			--TYPE OF TRANSACTION.
			--101-POLICY ISSUANCE. 
			--102-ADDITIONAL PREMIUM CHARGE ENDORSEMENT. 
			--103-PREMIUM REFUND ENDORSEMENT. 
			--104-POLICY CANCELLATION WITH PREMIUM REFUND. 
			--105-ENDORSEMENT CANCELLATION WITH PREMIUM REFUND. 
			--106-POLICY CANCELLATION WITHOUT PREMIUM REFUND. 
			--107-ENDORSEMENT CANCELLATION WITHOUT PREMIUM REFUND. 
			--108-ENDORSEMENT WITHOUT PREMIUM TRANSACTION	
	-------------------------------------------------------------------------------------------------------------------		 
		 CASE	
			 WHEN VW.PROCESS_ID IN (18,25) THEN '101'--SH
			 WHEN VW.PROCESS_ID IN (14) AND APID.TRAN_PREMIUM_AMOUNT >= 0 THEN '102'--SH
			 WHEN VW.PROCESS_ID IN (14) AND APID.TRAN_PREMIUM_AMOUNT < 0 THEN '103'
			 WHEN VW.PROCESS_ID IN (12) AND VW.RETURN_PREMIUM < 0 THEN '104'--SH
			 WHEN VW.PROCESS_ID IN (37) AND APID.TRAN_PREMIUM_AMOUNT < 0 THEN '105'
			 WHEN VW.PROCESS_ID IN (12) AND ISNULL(APID.TRAN_PREMIUM_AMOUNT,0) >= 0 THEN '106'
			 WHEN VW.PROCESS_ID IN (37) AND ISNULL(APID.TRAN_PREMIUM_AMOUNT,0) >= 0 THEN '107'
			 WHEN VW.PROCESS_ID IN (14) AND ISNULL(APID.TRAN_PREMIUM_AMOUNT,0) = 0 THEN '108'
		 END AS TYPE_TRANSACTION
		
		 
		 
  FROM
		ACT_POLICY_INSTALLMENT_DETAILS APID WITH(NOLOCK)
	
  INNER JOIN
		VW_SUSEP_FORM_ISSUED_CANCELLED_COINSURANCE_PREMIUMS VW WITH(NOLOCK) ON (VW.CUSTOMER_ID = APID.CUSTOMER_ID
																				AND VW.POLICY_ID = APID.POLICY_ID 
																				AND VW.NEW_POLICY_VERSION_ID = APID.POLICY_VERSION_ID
																				AND VW.PROCESS_STATUS <> 'ROLLBACK'
																				)
 
 INNER JOIN
		--Modified by Pradeep as per the itrack-1075 note 9 point - 10
		ACT_CURRENT_DEPOSIT_LINE_ITEMS ACDLI WITH(NOLOCK) ON (ACDLI.CUSTOMER_ID = APID.CUSTOMER_ID 
															  AND ACDLI.POLICY_ID = APID.POLICY_ID 
															  AND ACDLI.POLICY_VERSION_ID = APID.POLICY_VERSION_ID
															  AND ACDLI.INSTALLMENT_NO = APID.INSTALLMENT_NO
															  )
		--Modified till here 
 INNER JOIN
		ACT_CURRENT_DEPOSITS ACD WITH(NOLOCK) ON (ACD.DEPOSIT_ID = ACDLI.DEPOSIT_ID)
 INNER JOIN
		ACT_BANK_INFORMATION ABI WITH(NOLOCK) ON (ABI.BANK_ID = ACD.ACCOUNT_ID)
		
 LEFT OUTER JOIN 
		POL_DISCOUNT_SURCHARGE PDS WITH(NOLOCK) ON (PDS.CUSTOMER_ID = VW.PCPL_CUSTOMER_ID 
													AND PDS.POLICY_ID = VW.PCPL_POLICY_ID 
													AND PDS.POLICY_VERSION_ID = VW.PCPL_POLICY_VERSION_ID
													AND PDS.RISK_ID = 0)
 LEFT OUTER JOIN   
		POL_INSTALLMENT_BOLETO PIB WITH(NOLOCK) ON (PIB.CUSTOMER_ID = APID.CUSTOMER_ID   
													AND PIB.POLICY_ID = APID.POLICY_ID   
													AND PIB.POLICY_VERSION_ID = APID.POLICY_VERSION_ID
													AND PIB.INSTALLEMT_ID = APID.ROW_ID) 	
													
  LEFT JOIN 
		MNT_LOOKUP_VALUES LOOK_UP WITH(NOLOCK) ON (VW.ENDORSEMENT_TYPE = LOOK_UP.LOOKUP_UNIQUE_ID)	

  WHERE
		 --CONVERT(VARCHAR(6),VW.CREATED_DATETIME,112) = CONVERT(VARCHAR(6),@DATETIME,112) AND
		 CONVERT(VARCHAR(6),ACD.DATE_COMMITED ,112) = CONVERT(VARCHAR(6),@DATETIME,112) AND
		 (@POLICY_NUMBER IS NULL OR VW.POLICY_NUMBER =  @POLICY_NUMBER) 
		 AND APID.RELEASED_STATUS = 'Y'
		 AND ACDLI.CREATED_FROM = 'RTL'
		 
SELECT 
		SEQUENCE_NO AS SEQUENCIA,--Modified by Pradeep as per the itrack-1075 note 9 point - 11
		COMPANY_CODE AS COD_CIA,
		REFERENCE_MONTH AS DT_BASE,
		CAST(ISNULL(TYPE_TRANSACTION,0) AS INT) AS TIPO_MOV,
		SUSEP_LOB_CODE AS COD_RAMO,
		RIGHT('                    ' +CONVERT(VARCHAR,POLICY_NUMBER),20) AS NUM_APOL,
		RIGHT('                    ' +CONVERT(VARCHAR,ISNULL(ENDORSEMENT_NO,'')),20) AS NUM_END,--Modified by Pradeep-AS per the itrack-1075 - note-9 (Point-12) 
		RIGHT('                    ' +CONVERT(VARCHAR,ISNULL(NO_OF_PROPOSAL,'')),20) AS NUM_PROP,--Modified by Pradeep-AS per the itrack-1075 - note-8 (Point-4) 
		ISNULL(PROPOSAL_DATE,'') AS DT_PROP,
		--RIGHT('00'+CONVERT(VARCHAR,INSTALLMENT_NO),2) AS PRESTACAO,
		INSTALLMENT_NO AS PRESTACAO,--Modified by Pradeep-AS per the itrack-1075 - note-9 (Point-13) 
		RECEIPT_ISSUED_DATE AS DT_REC_PRE,
		DUE_DATE_INSTALLMENT AS DT_VEN_PRE,
		CAST(BANK_NUMBER AS INT) AS NUM_BAN,--Modified by Pradeep-AS per the itrack-1075 - note-9 (Point-14) 
		CAST(BANK_CNPJ AS INT) AS CNPJ_BAN,
		 --Modified by Pradeep-AS per the itrack-1075 - note-8 (Point-2) 
		--RIGHT('00000000000000000000000000000000000000000000000000' +CONVERT(VARCHAR,ISNULL(BOLETO_NUMBER,'')),50) AS NUM_BOL,
		ISNULL(RIGHT('                              ' +CONVERT(VARCHAR,REPLACE(BOLETO_NUMBER,'-','')),30),'') AS NUM_BOL,
		--ISNULL(BOLETO_NUMBER,'') AS NUM_BOL,
		--Modified till here 
		ISNULL(RIGHT('                              ' +CONVERT(VARCHAR,DOCUMENT_NUMBER),30) ,'') AS NUM_DOC, 
		ISNULL(RIGHT('                              '+(substring(BRANCH_NO_ASSIGNOR_CODE,0,charindex('-',BRANCH_NO_ASSIGNOR_CODE)) + SUBSTRING(BRANCH_NO_ASSIGNOR_CODE,charindex('-',BRANCH_NO_ASSIGNOR_CODE)+1,1)),30),'') AS NUM_AGE, ----Modified by Pradeep-AS per the itrack-1075 - note-8 (Point-6) 
		ISNULL(RIGHT('                              ' +CONVERT(VARCHAR,REPLACE(OUR_NUMBER,'-','')),30),'') AS NUM_NOS,--Modified by Pradeep-AS per the itrack-1075 - note-8 (Point-7) 
		 --Modified by Pradeep-AS per the itrack-1075 - note-8 (Point-8) NOTE-9 - POINT - 17 
		CAST(ISNULL(DOCUMENT_AMOUNT,0.00) AS DECIMAL(16,2)) AS VAL_DOC,
		CAST(ISNULL(DISCOUNT_AMOUNT,0.00) AS DECIMAL(16,2)) AS VAL_DESC,
		CAST(ISNULL(DELAY_AMOUNT,0.00) AS DECIMAL(16,2)) AS VAL_MUL,
		CAST(ISNULL(AMOUNT_CHARGED,0.00) AS DECIMAL(16,2)) AS VAL_COB 
		--Modified till here 
		
FROM @TEMPTABLE

END

GO
 
