IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[rpt_Excluded_Entities_1099]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[rpt_Excluded_Entities_1099]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran  
-- drop proc dbo.rpt_Excluded_Entities_1099 
--go  
    
CREATE PROC [dbo].[rpt_Excluded_Entities_1099]      
(      
  @YEAR INT       
)      
       
 As      
      
Set FMTONLY Off  ---Set to OFF (FOR USE OF TEMPERORY TABLES IN REPORTING SERVICE SQL 2005)      
      
      
DECLARE @SYS_1099_AMOUNT DECIMAL(18,2)      
DECLARE @VOID INT		SET @VOID = 2      
DECLARE @COMM_TYPE		VARCHAR(5)  
SET @COMM_TYPE = 'CAC'      
  
  
DECLARE @EFT INT   SET @EFT = 11788  
DECLARE @EFT_SWEEP INT  SET @EFT_SWEEP= 11976  
  
DECLARE @OTHER_SSN   Int  SET @OTHER_SSN = 114245  
DECLARE @OTHER_FEDRAL_ID Int  SET @OTHER_FEDRAL_ID = 11735  
     
      
      
DECLARE @AGENCY_TYPE_CHECK INT  SET @AGENCY_TYPE_CHECK = 2472      
DECLARE @VENDOR_TYPE_CHECK INT  SET @VENDOR_TYPE_CHECK = 9938      
DECLARE @CREATED_DATETIME DATETIME SET @CREATED_DATETIME = GETDATE()      
      
      
SELECT @SYS_1099_AMOUNT = ISNULL(SYS_1099_AMOUNT,0) FROM MNT_SYSTEM_PARAMS WITH(NOLOCK)   

----------FINAL TABLE TO MEREGE ALL ENETITIES FOR REPORT
CREATE TABLE #EXCLUDED_ENTITIES
(
	 PAYEE_ENTITY_NAME VARCHAR(200),
	 [TYPE] VARCHAR(30),
	 REFERENCE_NUMBER INT,
	 REF_TYPE VARCHAR(10),
	 AMOUNT DECIMAL(18,2),
     DATE_COMMITTED VARCHAR(30)
)
   
       
---------------------############### EXCLUDED AGENCIES #############---------------------  
CREATE TABLE #EXCLUDED_AGENCIES  
(  
 [IDENT_COL] [INT]  IDENTITY(1,1) NOT NULL ,   
 ENTITY_ID    Int, --payee  
 REFERENCE_ID   INT, --check id  
 COMMISSION_PAID   DECIMAL(18,2),  
 ENTITY_CODE    NVARCHAR(20) 
 
)   

  
INSERT INTO #EXCLUDED_AGENCIES  

SELECT MNT.AGENCY_ID AS AGENCY_ID, CHK.CHECK_ID,  
(ISNULL(DIST.AMT_COMMISSION_PAYABLE_AB,0) + ISNULL(DIST.AMT_COMMISSION_PAYABLE_DB,0) ) *- 1 AS COMMISSION_AMOUNT  
,'AGN'  
FROM ACT_CHECK_INFORMATION CHK   
INNER JOIN ACT_AGENCY_CHECK_DISTRIBUTION DIST   
 ON CHK.CHECK_ID = DIST.CHECK_ID   
INNER JOIN MNT_AGENCY_LIST MNT   
 ON MNT.AGENCY_ID = CHK.PAYEE_ENTITY_ID  
WHERE CHK.COMM_TYPE IN ('REG','ADC')  
AND YEAR(CHK.DATE_COMMITTED) = @YEAR   
AND CHK.CHECK_TYPE = 2472  
AND ISNULL(CHK.IS_PRINTED,'N') = 'Y'   
AND ISNULL(CHK.IS_COMMITED,'N') = 'Y'   
AND ISNULL(CHK.PAYMENT_MODE,0) NOT IN (@EFT,@EFT_SWEEP)  
AND ISNULL(CHK.GL_UPDATE,0) <> 2   
AND ISNULL(MNT.PROCESS_1099,0) IN (@OTHER_SSN,@OTHER_FEDRAL_ID)   
  
UNION  
  
SELECT MNT.AGENCY_ID AS AGENCY_ID,   CHK.CHECK_ID,  
(ISNULL(DIST.AMT_COMMISSION_PAYABLE_AB,0) + ISNULL(DIST.AMT_COMMISSION_PAYABLE_DB,0) )*- 1  AS COMMISSION_AMOUNT,  
'AGN'  
FROM ACT_CHECK_INFORMATION CHK   
INNER JOIN ACT_AGENCY_CHECK_DISTRIBUTION DIST   
 ON CHK.CHECK_ID = DIST.CHECK_ID   
INNER JOIN MNT_AGENCY_LIST MNT   
 ON MNT.AGENCY_ID = CHK.PAYEE_ENTITY_ID  
WHERE CHK.COMM_TYPE IN ('REG','ADC')  
AND YEAR(CHK.DATE_COMMITTED) = @YEAR   
AND CHK.CHECK_TYPE = 2472  
AND ISNULL(CHK.IS_COMMITED,'N') = 'Y'   
AND ISNULL(CHK.PAYMENT_MODE,0) IN (@EFT,@EFT_SWEEP)  
AND ISNULL(CHK.GL_UPDATE,0) <> 2   
AND ISNULL(MNT.PROCESS_1099,0) IN (@OTHER_SSN,@OTHER_FEDRAL_ID)   
  
  
--SELECT * FROM #EXCLUDED_AGENCIES  
  
UNION   
  
SELECT MNT.AGENCY_ID AS AGENCY_ID,DEP.DEPOSIT_ID,  
(   
 SELECT SUM(ISNULL(AGN.TOTAL_PAID,0))  
 FROM ACT_AGENCY_STATEMENT AGN   
 INNER JOIN ACT_AGENCY_RECON_GROUP_DETAILS GD   
  ON AGN.ROW_ID = GD.ITEM_REFERENCE_ID   
 INNER JOIN ACT_RECONCILIATION_GROUPS GRP   
  ON GD.GROUP_ID = GRP.GROUP_ID   
 WHERE ISNULL(COMM_TYPE,'') IN ('REG','ADC')  
 AND TRAN_TYPE = 'COM'  
 AND GD.GROUP_ID = GDIN.GROUP_ID  
) * -1  AS COMMISSION_PAID ,'DEP'  
FROM ACT_AGENCY_STATEMENT AGNIN   
INNER JOIN ACT_AGENCY_RECON_GROUP_DETAILS GDIN   
 ON AGNIN.ROW_ID = GDIN.ITEM_REFERENCE_ID   
INNER JOIN ACT_RECONCILIATION_GROUPS GRPIN   
 ON GDIN.GROUP_ID = GRPIN.GROUP_ID   
INNER JOIN ACT_CURRENT_DEPOSIT_LINE_ITEMS DEP_DET   
 ON DEP_DET.CD_LINE_ITEM_ID = AGNIN.SOURCE_ROW_ID   
INNER JOIN ACT_CURRENT_DEPOSITS DEP   
 ON DEP.DEPOSIT_ID = DEP_DET.DEPOSIT_ID  
INNER JOIN MNT_AGENCY_LIST MNT   
 ON MNT.AGENCY_ID = AGNIN.AGENCY_ID  
WHERE AGNIN.UPDATED_FROM = 'D'   
AND AGNIN.TRAN_TYPE='DEP'  
AND YEAR(DEP.DATE_COMMITED) = @YEAR   
AND ISNULL(DEP.IS_COMMITED,'N') = 'Y'   
AND ISNULL(MNT.PROCESS_1099,0) IN (@OTHER_SSN,@OTHER_FEDRAL_ID)   
       
    
 
    
    
CREATE TABLE #DISTINCT_EXCLUDED_AGENCIES  
(  
 ENTITY_ID    INT,  
 COMMISSION_PAID   DECIMAL(18,2)  
)   
  
  
INSERT #DISTINCT_EXCLUDED_AGENCIES  
  
SELECT ENTITY_ID,SUM(ISNULL(EXC.COMMISSION_PAID,0) )  
FROM #EXCLUDED_AGENCIES  EXC  
GROUP BY EXC.ENTITY_ID  
HAVING SUM(ISNULL(EXC.COMMISSION_PAID,0)) < @SYS_1099_AMOUNT  
ORDER BY ENTITY_ID  


INSERT INTO #EXCLUDED_ENTITIES
 SELECT       
 ISNULL(PAYEE_ENTITY_NAME ,'') AS PAYEE_ENTITY_NAME,     
 'Agency' [TYPE],   
 ISNULL(CHECK_NUMBER,'') AS REFERENCE_NUMBER,  
  CASE [ENTITY_CODE]   
 WHEN 'AGN' THEN 'Check'  
 when 'DEP' then 'Deposit'  
 ELSE '' END REF_TYPE,  
 ISNULL(CHECK_AMOUNT,0) AS AMOUNT ,
  CONVERT(varchar,CAST(CONVERT(VARCHAR,DATE_COMMITTED,101)AS DATETIME),101)AS DATE_COMMITTED    
 FROM #EXCLUDED_AGENCIES TEMP  
 INNER JOIN ACT_CHECK_INFORMATION CHK  WITH(NOLOCK)    
 ON TEMP.[ENTITY_ID] = CHK.PAYEE_ENTITY_ID     
 INNER JOIN #DISTINCT_EXCLUDED_AGENCIES EXC  
 ON EXC.ENTITY_ID = TEMP.ENTITY_ID  
 AND TEMP.REFERENCE_ID = CHK.CHECK_ID 
 AND ISNULL(CHECK_TYPE,'') = @AGENCY_TYPE_CHECK 
 
  

drop table #EXCLUDED_AGENCIES  
drop table #DISTINCT_EXCLUDED_AGENCIES


--------------------------------------EXCLUDED VENDOR CHECKS--------------------------
CREATE TABLE #EXCLUDED_VENDORS  
(  
 [IDENT_COL] [INT]  IDENTITY(1,1) NOT NULL ,   
 ENTITY_ID    Int, --payee  ID
 REFERENCE_ID   INT, --check id  
 COMMISSION_PAID   DECIMAL(18,2),  
 ENTITY_CODE    NVARCHAR(20)  
)   


INSERT INTO #EXCLUDED_VENDORS    
     
SELECT PAYEE_ENTITY_ID ,CHECK_ID ,ISNULL(SUM(CHECK_AMOUNT),0),'VEN' AS ENTITY_CODE        
FROM ACT_CHECK_INFORMATION ACT INNER JOIN MNT_VENDOR_LIST MNT        
ON MNT.VENDOR_ID = ACT.PAYEE_ENTITY_ID         
WHERE 
	ISNULL(CHECK_TYPE,'') = @VENDOR_TYPE_CHECK        
	AND YEAR(DATE_COMMITTED) = @YEAR        
	AND ISNULL(MNT.PROCESS_1099_OPT,0) IN (@OTHER_SSN,@OTHER_FEDRAL_ID)  	
	AND ISNULL(ACT.IS_PRINTED,'N')  = 'Y'        
	AND ISNULL(ACT.IS_COMMITED,'N') = 'Y' 
	AND ISNULL(ACT.PAYMENT_MODE,0) NOT IN (@EFT,@EFT_SWEEP)	       
	AND ISNULL(ACT.GL_UPDATE,'0') <> @VOID        
	AND PAYEE_ENTITY_ID IN         
	(        
		  SELECT PAYEE_ENTITY_ID         
		  FROM ACT_CHECK_INFORMATION ACT INNER JOIN MNT_VENDOR_LIST MNT        
		  ON MNT.VENDOR_ID = ACT.PAYEE_ENTITY_ID         
		  WHERE ISNULL(CHECK_TYPE,'') = @VENDOR_TYPE_CHECK        
		  AND YEAR(DATE_COMMITTED) = @YEAR        
		  AND ISNULL(MNT.PROCESS_1099_OPT,0) IN (@OTHER_SSN,@OTHER_FEDRAL_ID)  
		  --AND ISNULL(ACT.IS_1099_PROCESSED,'N') <> 'Y'        
		  AND ISNULL(ACT.IS_PRINTED,'N')  = 'Y'        
		  AND ISNULL(ACT.IS_COMMITED,'N') = 'Y'  
		  AND ISNULL(ACT.PAYMENT_MODE,0) NOT IN (@EFT,@EFT_SWEEP)      
		  AND ISNULL(ACT.GL_UPDATE,'0') <> @VOID        
		  GROUP BY PAYEE_ENTITY_ID        
		  HAVING SUM(CHECK_AMOUNT) < @SYS_1099_AMOUNT        
          
 )        
 GROUP BY PAYEE_ENTITY_ID ,CHECK_ID        
      

UNION --EFT RECORDS IS_PRINTED <> Y  COMMITED = Y

SELECT PAYEE_ENTITY_ID ,CHECK_ID ,ISNULL(SUM(CHECK_AMOUNT),0),'VEN' AS ENTITY_CODE        
FROM ACT_CHECK_INFORMATION ACT INNER JOIN MNT_VENDOR_LIST MNT        
ON MNT.VENDOR_ID = ACT.PAYEE_ENTITY_ID         
WHERE ISNULL(CHECK_TYPE,'') = @VENDOR_TYPE_CHECK        
	AND YEAR(DATE_COMMITTED) = @YEAR        
    AND ISNULL(MNT.PROCESS_1099_OPT,0) IN (@OTHER_SSN,@OTHER_FEDRAL_ID)  	
	AND ISNULL(ACT.IS_COMMITED,'N') = 'Y' 
	AND ISNULL(ACT.PAYMENT_MODE,0) IN (@EFT,@EFT_SWEEP)	       
	AND ISNULL(ACT.GL_UPDATE,'0') <> @VOID        
	AND PAYEE_ENTITY_ID IN         --LESS THAN 600
	( 
		  SELECT PAYEE_ENTITY_ID         
		  FROM ACT_CHECK_INFORMATION ACT INNER JOIN MNT_VENDOR_LIST MNT        
		  ON MNT.VENDOR_ID = ACT.PAYEE_ENTITY_ID         
		  WHERE ISNULL(CHECK_TYPE,'') = @VENDOR_TYPE_CHECK        
		  AND YEAR(DATE_COMMITTED) = @YEAR        
		  AND ISNULL(MNT.PROCESS_1099_OPT,0) IN (@OTHER_SSN,@OTHER_FEDRAL_ID)  
		  AND ISNULL(ACT.IS_COMMITED,'N') = 'Y' 
		  AND ISNULL(ACT.PAYMENT_MODE,0) IN (@EFT,@EFT_SWEEP)	       
		  AND ISNULL(ACT.GL_UPDATE,'0') <> @VOID        
		  GROUP BY PAYEE_ENTITY_ID        
		  HAVING SUM(CHECK_AMOUNT) < @SYS_1099_AMOUNT        
          
 )        
 GROUP BY PAYEE_ENTITY_ID ,CHECK_ID
 ORDER BY PAYEE_ENTITY_ID 



INSERT INTO #EXCLUDED_ENTITIES
 SELECT       
 ISNULL(PAYEE_ENTITY_NAME ,'') AS PAYEE_ENTITY_NAME,     
 'Vendor' [TYPE],   
 ISNULL(CHECK_NUMBER,'') AS REFERENCE_NUMBER,  
 'Check' REF_TYPE,  
 ISNULL(CHECK_AMOUNT,0) AS AMOUNT ,
 CONVERT(varchar,CAST(CONVERT(VARCHAR,DATE_COMMITTED,101)AS DATETIME),101)AS DATE_COMMITTED    
 FROM #EXCLUDED_VENDORS TEMP  
 INNER JOIN ACT_CHECK_INFORMATION CHK  WITH(NOLOCK)    
 ON TEMP.[ENTITY_ID] = CHK.PAYEE_ENTITY_ID     
 AND TEMP.REFERENCE_ID = CHK.CHECK_ID  
 AND ISNULL(CHECK_TYPE,'') = @VENDOR_TYPE_CHECK	


--DROP TABLE #EXCLUDED_VENDORS


-----------------------------END VENDOR------------------------------------

----------------------------------EXCLUDED CSR-----------------------------

CREATE TABLE #EXCLUDED_CSR
(  
	 [IDENT_COL] [INT]  IDENTITY(1,1) NOT NULL ,   
	 ENTITY_ID    Int, --payee  ID
	 REFERENCE_ID   INT, --check id  
	 COMMISSION_PAID   DECIMAL(18,2),  
	 ENTITY_CODE    NVARCHAR(20)  
)   

INSERT INTO #EXCLUDED_CSR

SELECT PAYEE_ENTITY_ID ,CHECK_ID ,ISNULL(SUM(CHECK_AMOUNT),0),@COMM_TYPE AS ENTITY_CODE        
  FROM ACT_CHECK_INFORMATION ACT INNER JOIN MNT_USER_LIST UL        
  ON ACT.PAYEE_ENTITY_ID = UL.USER_ID            
  WHERE ISNULL(CHECK_TYPE,'') = @AGENCY_TYPE_CHECK        
  AND YEAR(DATE_COMMITTED) = @YEAR        
  AND ISNULL(ACT.IS_PRINTED,'N')  = 'Y'        
  AND ISNULL(ACT.IS_COMMITED,'N') = 'Y'  
  AND ISNULL(ACT.PAYMENT_MODE,0) NOT IN (@EFT,@EFT_SWEEP)      
  AND ISNULL(ACT.GL_UPDATE,'0') <> @VOID        
  AND ISNULL(ACT.COMM_TYPE,'') = @COMM_TYPE        
  AND UL.IS_ACTIVE='Y'             
  AND PAYEE_ENTITY_ID IN         
 (        
	  SELECT PAYEE_ENTITY_ID         
	  FROM ACT_CHECK_INFORMATION ACT INNER JOIN MNT_USER_LIST UL        
	  ON ACT.PAYEE_ENTITY_ID = UL.[USER_ID]           
	  WHERE ISNULL(CHECK_TYPE,'') = @AGENCY_TYPE_CHECK        
	  AND YEAR(DATE_COMMITTED) = @YEAR        
	  AND ISNULL(ACT.IS_PRINTED,'N')  = 'Y'        
	  AND ISNULL(ACT.IS_COMMITED,'N') = 'Y' 
	  AND ISNULL(ACT.PAYMENT_MODE,0) NOT IN (@EFT,@EFT_SWEEP)	       
	  AND ISNULL(ACT.GL_UPDATE,'0') <> @VOID        
	  AND ISNULL(ACT.COMM_TYPE,'') = @COMM_TYPE        
	  AND UL.IS_ACTIVE = 'Y'             
	  GROUP BY PAYEE_ENTITY_ID        
	  HAVING SUM(CHECK_AMOUNT) < @SYS_1099_AMOUNT        
          
 )        
 GROUP BY PAYEE_ENTITY_ID ,CHECK_ID        
    

UNION  --EFT RECORDS AND IS_PRINTED = N

SELECT PAYEE_ENTITY_ID ,CHECK_ID ,ISNULL(SUM(CHECK_AMOUNT),0),@COMM_TYPE AS ENTITY_CODE        
 FROM ACT_CHECK_INFORMATION ACT INNER JOIN MNT_USER_LIST UL        
  ON ACT.PAYEE_ENTITY_ID = UL.USER_ID            
  WHERE ISNULL(CHECK_TYPE,'') = @AGENCY_TYPE_CHECK        
  AND YEAR(DATE_COMMITTED) = @YEAR        
  AND ISNULL(ACT.IS_COMMITED,'N') = 'Y'        
  AND ISNULL(ACT.GL_UPDATE,'0') <> @VOID  
  AND ISNULL(ACT.PAYMENT_MODE,0) IN (@EFT,@EFT_SWEEP)      
  AND ISNULL(ACT.COMM_TYPE,'') = @COMM_TYPE        
  AND ISNULL(UL.IS_ACTIVE,'N')='Y'             
 AND PAYEE_ENTITY_ID IN         
 (        
  SELECT PAYEE_ENTITY_ID         
  FROM ACT_CHECK_INFORMATION ACT INNER JOIN MNT_USER_LIST UL        
  ON ACT.PAYEE_ENTITY_ID = UL.[USER_ID]           
  WHERE ISNULL(CHECK_TYPE,'') = @AGENCY_TYPE_CHECK        
  AND YEAR(DATE_COMMITTED) = @YEAR        
  AND ISNULL(ACT.IS_COMMITED,'N') = 'Y'        
  AND ISNULL(ACT.GL_UPDATE,'0') <> @VOID   
  AND ISNULL(ACT.PAYMENT_MODE,0) IN (@EFT,@EFT_SWEEP)       
  AND ISNULL(ACT.COMM_TYPE,'') = @COMM_TYPE        
  AND ISNULL(UL.IS_ACTIVE,'N') = 'Y'             
  GROUP BY PAYEE_ENTITY_ID        
  HAVING SUM(CHECK_AMOUNT) < @SYS_1099_AMOUNT        
          
 )        
 GROUP BY PAYEE_ENTITY_ID ,CHECK_ID  
 ORDER BY PAYEE_ENTITY_ID   




INSERT INTO #EXCLUDED_ENTITIES
SELECT 
 ISNULL(CHK.PAYEE_ENTITY_NAME ,'') AS PAYEE_ENTITY_NAME,     
 'CSR' [TYPE],   
 ISNULL(CHK.CHECK_NUMBER,'') AS REFERENCE_NUMBER,  
 'Check' REF_TYPE,  
 ISNULL(CHK.CHECK_AMOUNT,0) AS AMOUNT ,
 CONVERT(VARCHAR,CAST(CONVERT(VARCHAR,CHK.DATE_COMMITTED,101)AS DATETIME),101)AS DATE_COMMITTED 
 FROM #EXCLUDED_CSR EX_CSR
INNER JOIN ACT_CHECK_INFORMATION CHK
ON CHK.CHECK_ID = EX_CSR.REFERENCE_ID
AND CHK.PAYEE_ENTITY_ID = EX_CSR.ENTITY_ID
WHERE ISNULL(CHK.CHECK_TYPE,'') = @AGENCY_TYPE_CHECK
AND ISNULL(CHK.COMM_TYPE,'') = @COMM_TYPE 

DROP TABLE #EXCLUDED_CSR



---------------------------------END CSR----------------------------

--------------------------------EXCLUDED CLAIMS--------------------------------
DECLARE @CLAIMANT INT		SET @CLAIMANT  = 9          
DECLARE @INSURED INT		SET @INSURED  = 10           
DECLARE @LIEN_HOLDER INT	SET @LIEN_HOLDER  = 157     


DECLARE @PARTY_MEDICAL_PROVIDER INT		SET @PARTY_MEDICAL_PROVIDER  = 150
DECLARE @PARTY_LEGAL_OTHER INT			SET @PARTY_LEGAL_OTHER  = 154

DECLARE @CLAIM_CHECK_TYPE INT
SET @CLAIM_CHECK_TYPE = 9937


        
CREATE TABLE #EXCLUDED_PARTY
(
  [IDENT_COL] [INT] IDENTITY(1,1) NOT NULL , 
  [CHECK_ID]  INT,
  [CHECK_AMOUNT] DECIMAL(18,2),
  [FEDERAL_ID] NVARCHAR(44),
  [SERVICE_TYPE_ID] INT,
  [PARTY_PAYMENT_TYPE]	 INT,
  [PARTY_NAME] VARCHAR(200)
)
      

--UNION OF SINGLE PARTY AND MULTUPLE PARTY

INSERT INTO #EXCLUDED_PARTY

SELECT CHK.CHECK_ID,CHK.CHECK_AMOUNT,PART.FEDRERAL_ID ,
CASE PARTY_TYPE_ID WHEN @PARTY_LEGAL_OTHER THEN @PARTY_LEGAL_OTHER 
				   WHEN @PARTY_MEDICAL_PROVIDER THEN @PARTY_MEDICAL_PROVIDER 
				   ELSE EXPERT_SERVICE_TYPE 
				   END AS [SERVICE_TYPE_ID] ,
ACTIVITY_REASON AS PARTY_PAYMENT_TYPE,
PART.[MAIL_1099_NAME]
FROM 
ACT_CHECK_INFORMATION CHK 
INNER JOIN CLM_ACTIVITY CLM ON
CLM.CHECK_ID = CHK.CHECK_ID

INNER JOIN CLM_PAYEE PAY  
ON PAY.CLAIM_ID = CLM.CLAIM_ID  
AND PAY.ACTIVITY_ID = CLM.ACTIVITY_ID  

INNER JOIN CLM_PARTIES PART
ON PART.PARTY_ID = CHK.PAYEE_ENTITY_ID
AND PART.CLAIM_ID = CLM.CLAIM_ID
AND PART.PARTY_TYPE_ID NOT IN (@CLAIMANT,@INSURED,@LIEN_HOLDER) 
AND ISNULL(PART.PROCESSING_OPTION_1099,0) IN (114245,11735)  
WHERE ISNULL(PART.FEDRERAL_ID,'') <> ''
--AND ISNULL(CHK.IS_1099_PROCESSED,'N') <> 'Y' 
AND ISNULL(CHK.IS_PRINTED,'N')  = 'Y'      
AND ISNULL(CHK.IS_COMMITED,'N') = 'Y'        
AND ISNULL(CHK.GL_UPDATE,'0') <> 2   
AND YEAR(CHK.DATE_COMMITTED) = @YEAR
AND ISNULL(CHK.CHECK_TYPE,'') = @CLAIM_CHECK_TYPE
AND ISNULL(PAY.PAYEE_PARTY_ID,'') NOT LIKE '%^%' --remove MULTIPLE  

UNION --Single parties with Manual Checks

SELECT CHK.CHECK_ID,CHK.CHECK_AMOUNT,PART.FEDRERAL_ID ,
CASE PARTY_TYPE_ID WHEN @PARTY_LEGAL_OTHER THEN @PARTY_LEGAL_OTHER 
				   WHEN @PARTY_MEDICAL_PROVIDER THEN @PARTY_MEDICAL_PROVIDER 
				   ELSE EXPERT_SERVICE_TYPE 
				   END AS [SERVICE_TYPE_ID] ,
ACTIVITY_REASON AS PARTY_PAYMENT_TYPE,
PART.[MAIL_1099_NAME]
 FROM 
ACT_CHECK_INFORMATION CHK 
INNER JOIN CLM_ACTIVITY CLM ON
CLM.CHECK_ID = CHK.CHECK_ID

INNER JOIN CLM_PAYEE PAY  
ON PAY.CLAIM_ID = CLM.CLAIM_ID  
AND PAY.ACTIVITY_ID = CLM.ACTIVITY_ID  

INNER JOIN CLM_PARTIES PART
ON PART.PARTY_ID = CHK.PAYEE_ENTITY_ID
AND PART.CLAIM_ID = CLM.CLAIM_ID
AND PART.PARTY_TYPE_ID NOT IN (@CLAIMANT,@INSURED,@LIEN_HOLDER) 
AND ISNULL(PART.PROCESSING_OPTION_1099,0) IN (114245,11735)  
WHERE ISNULL(PART.FEDRERAL_ID,'') <> ''
--AND ISNULL(CHK.IS_1099_PROCESSED,'N') <> 'Y' 
AND ISNULL(CHK.MANUAL_CHECK,'N')  = 'Y'         
AND ISNULL(CHK.IS_COMMITED,'N') = 'Y'        
AND ISNULL(CHK.GL_UPDATE,'0') <> 2   
AND YEAR(CHK.DATE_COMMITTED) = @YEAR
AND ISNULL(CHK.CHECK_TYPE,'') = @CLAIM_CHECK_TYPE
AND ISNULL(PAY.PAYEE_PARTY_ID,'') NOT LIKE '%^%' --remove MULTIPLE  



--Inserting Multiple parties
INSERT INTO #EXCLUDED_PARTY
EXEC DBO.[Proc_Fetch_Multiple_Party_Details] @YEAR


CREATE TABLE #DISTINCT_EXCLUDED_PARTY
(
	[IDENT_COL] [INT] IDENTITY(1,1) NOT NULL , 
	[FEDERAL_ID] NVARCHAR(44)
)


INSERT INTO #DISTINCT_EXCLUDED_PARTY

SELECT [FEDERAL_ID] FROM 
#EXCLUDED_PARTY GROUP BY [FEDERAL_ID]
HAVING SUM([CHECK_AMOUNT]) < @SYS_1099_AMOUNT

--SELECT [FEDERAL_ID] ,SUM([CHECK_AMOUNT]) FROM 
--#EXCLUDED_PARTY GROUP BY [FEDERAL_ID]
--HAVING SUM([CHECK_AMOUNT]) >= 600



INSERT INTO #EXCLUDED_ENTITIES
 SELECT         
 ISNULL(party_name ,'') AS PARTY_NAME,       
 'Claim' [TYPE],
 ISNULL(CHECK_NUMBER,'') AS REFERENCE_NUMBER,    
 'Check' REF_TYPE,    
 ISNULL(temp.CHECK_AMOUNT,0) AS AMOUNT ,   
 CONVERT(varchar,CAST(CONVERT(VARCHAR,DATE_COMMITTED,101)AS DATETIME),101)AS DATE_COMMITTED      
 FROM #EXCLUDED_PARTY TEMP    
 INNER JOIN ACT_CHECK_INFORMATION CHK  WITH(NOLOCK)      
 ON TEMP.[check_id] = CHK.check_id       
 INNER JOIN #DISTINCT_EXCLUDED_PARTY EXC    
 ON EXC.[FEDERAL_ID] = TEMP.[FEDERAL_ID]   
 AND ISNULL(CHECK_TYPE,'')=@CLAIM_CHECK_TYPE

ORDER BY TEMP.[FEDERAL_ID]

DROP TABLE #EXCLUDED_PARTY


--------FETCH FINAL QUERY----------------
SELECT * FROM #EXCLUDED_ENTITIES


--DROP FINAL TABLE
DROP TABLE #EXCLUDED_ENTITIES

----------------------------END EXLUDED CLAIMS---------------------------------
  
--go  
--exec dbo.rpt_Excluded_Entities_1099  2008  
--rollback  

GO

