IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_DelPOL_POL_CO_INSURANCE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_DelPOL_POL_CO_INSURANCE]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



--DROP PROC Proc_DelPOL_POL_CO_INSURANCE
CREATE PROC [dbo].[Proc_DelPOL_POL_CO_INSURANCE]
@COINSURANCE_ID INT,
@CUSTOMER_ID INT,
@POLICY_ID INT,
@POLICY_VERSION_ID INT,
@COMPANY_ID INT
AS
BEGIN
	DELETE FROM POL_CO_INSURANCE WHERE COINSURANCE_ID = @COINSURANCE_ID AND COMPANY_ID=@COMPANY_ID
	AND CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID
END


GO

