IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_UpdateMajorMinorParticipation]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_UpdateMajorMinorParticipation]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO




/*
CREATED BY 		: Deepak Batra
CREATED DATE		: 16 Jan 2006
Purpose			: To implement the update on the Major/Minor Participation screens
*/
CREATE PROCEDURE Proc_UpdateMajorMinorParticipation
(
	@PARTICIPATION_ID INT,
	@CONTRACT_ID INT,
	@PARTICIPATION_TYPE CHAR(5),
	@NET_RETENTION INT,
	@REINSURANCE_COMPANY NVARCHAR(150),
	@WHOLE_PERCENT DECIMAL,
	@SIGNED_LINE_PERCENT DECIMAL,
	@REINSURANCE_ACC_NUMBER NVARCHAR(50),
	@SEP_ACC NVARCHAR(50),
	@MODIFIED_BY INT,
	@LAST_UPDATED_DATETIME	DATETIME 
)
AS
BEGIN
	UPDATE MNT_REINSURANCE_MAJORMINOR_PARTICIPATION

	SET 	NET_RETENTION = @NET_RETENTION, REINSURANCE_COMPANY = @REINSURANCE_COMPANY, 
		WHOLE_PERCENT = @WHOLE_PERCENT,	SIGNED_LINE_PERCENT = @SIGNED_LINE_PERCENT, 
		REINSURANCE_ACC_NUMBER = @REINSURANCE_ACC_NUMBER, SEP_ACC = @SEP_ACC,
		MODIFIED_BY = @MODIFIED_BY, LAST_UPDATED_DATETIME = @LAST_UPDATED_DATETIME
	
	WHERE 	PARTICIPATION_ID = @PARTICIPATION_ID AND
		PARTICIPATION_TYPE = @PARTICIPATION_TYPE AND
		CONTRACT_ID = @CONTRACT_ID	
END



GO

