IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_UpdateAPP_HOME_OWNER_SCH_ITEMS_CVGS_DETAIL]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_UpdateAPP_HOME_OWNER_SCH_ITEMS_CVGS_DETAIL]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROC dbo.Proc_UpdateAPP_HOME_OWNER_SCH_ITEMS_CVGS_DETAIL
(
	@CUSTOMER_ID     INT,
	@APP_ID     INT,
	@APP_VERSION_ID     INT,
	@ITEM_ID     INT,
	@ITEM_DETAIL_ID     INT,
	@ITEM_NUMBER     NVARCHAR(20),
	@ITEM_DESCRIPTION     NVARCHAR(2000),
	@ITEM_SERIAL_NUMBER     NVARCHAR(1000),
	@ITEM_INSURING_VALUE     MONEY,
	@ITEM_APPRAISAL_BILL     NCHAR(4),
	@ITEM_PICTURE_ATTACHED     NCHAR(4)
)
AS
BEGIN

	--CHECK THAT ITEM NUMER IS EXISTING OR NOT IN THIS CATEGORY OR NOT
	if exists (SELECT * FROM APP_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS WHERE CUSTOMER_ID = @CUSTOMER_ID AND APP_ID = @APP_ID AND APP_VERSION_ID  = @APP_VERSION_ID AND ITEM_ID = @ITEM_ID AND ITEM_NUMBER = @ITEM_NUMBER AND ITEM_DETAIL_ID<>@ITEM_DETAIL_ID)
	Begin
		return -1
	End 

	UPDATE  APP_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS
	SET	ITEM_NUMBER            =  @ITEM_NUMBER,
		ITEM_DESCRIPTION       =  @ITEM_DESCRIPTION,
		ITEM_SERIAL_NUMBER     =  @ITEM_SERIAL_NUMBER,
		ITEM_INSURING_VALUE    =  @ITEM_INSURING_VALUE,
		ITEM_APPRAISAL_BILL    =  @ITEM_APPRAISAL_BILL,
		ITEM_PICTURE_ATTACHED  =  @ITEM_PICTURE_ATTACHED	
	WHERE 	CUSTOMER_ID = @CUSTOMER_ID
		AND APP_ID  =  @APP_ID
		AND APP_VERSION_ID  =  @APP_VERSION_ID
		AND ITEM_ID  =  @ITEM_ID
		AND ITEM_DETAIL_ID  =  @ITEM_DETAIL_ID


END


GO

