IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_CHECKEXISTPOLICYHOME]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_CHECKEXISTPOLICYHOME]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE PROC_CHECKEXISTPOLICYHOME    
(      
 @CUSTOMERID INT      
)      
AS      
BEGIN      
 DECLARE @RETVALUE INT    
 SET @RETVALUE=0    
 SELECT @RETVALUE = COUNT(CUSTOMER_ID) 
 FROM POL_CUSTOMER_POLICY_LIST 
 WHERE  CUSTOMER_ID = @CUSTOMERID AND (POLICY_LOB=1)    
 AND UPPER(POLICY_STATUS) NOT IN ('SUSPENDED','CANCEL','REJECT')

 SELECT @RETVALUE AS RETVALUE    
     
END 


GO

