IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetTabQuestion]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetTabQuestion]
GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO








/*----------------------------------------------------------
Proc Name       : dbo.Proc_GetTabQuestion
Created by      : Nidhi
Date            : 31/05/2005
Purpose         : To get TAB QUESTIONS  name
Revison History :
Modified By	: Manab
Modified Date	: 30 June 2005
Description	: Adding four new columns STYLE,MAXLENGTH,VALIDATIONTYPE,COLSPAN
Used In         :   Wolverine		
------------------------------------------------------------
Date     Review By          Comments
------   ------------       -------------------------*/
CREATE      PROC Dbo.Proc_GetTabQuestion
(
@SCREENID 	int,
@CARRIERID int,
@TABID int,
@QID int=-1
)
AS
BEGIN

if @QID = -1 
begin
	SELECT UQ.QID, UQ.QDESC, UQ.QUESTIONTYPEID, UQ.QDESC, UQ.PREFIX, UQ.SUFFIX, UQ.TABID,
	UQ.ISREQ, UQ.GROUPID, UQ.QNOTES, UQ.QUESTIONLISTID,
	UQ.FLGQUESDESC, UQ.DESCTEXT, UQ.FLGCOMPVALUE, QG.GROUPTYPE
	, QLM.TYPE, QLM.TABLENAME,ISNULL(TB.REPEATCONTROLS,2) REPEATCONTROLS,UQ.STYLE,UQ.MAXLENGTH,UQ.VALIDATIONTYPE,UQ.COLSPAN,
	UQ.DEPQUESTIONTEXT,UQ.DEPQUESTYPE,UQ.DEPANSTYPE,UQ.DEPQUESTIONLIST
	FROM 
	USERQUESTIONS UQ 
	INNER JOIN QUESTIONGROUPMASTER QG ON QG.GROUPID = UQ.GROUPID AND QG.TABID = UQ.TABID AND  QG.SCREENID=UQ.SCREENID
	INNER JOIN QUESTIONTABMASTER TB ON TB.TABID = UQ.TABID AND TB.SCREENID=UQ.SCREENID AND TB.CARRIERID = 1
	LEFT OUTER JOIN QUESTIONLISTMASTER QLM ON UQ.QUESTIONLISTID = QLM.LISTID

	WHERE 
	UQ.TABID=@TABID AND UQ.SCREENID=@SCREENID
	AND ISNULL(UQ.ISACTIVE,'N') = 'Y' AND UQ.CARRIERID=@CARRIERID
	ORDER BY QG.SEQNO,UQ.SEQNO

END
ELSE
BEGIN
	SELECT UQ.QID, UQ.QDESC, UQ.QUESTIONTYPEID, UQ.QDESC, UQ.PREFIX, UQ.SUFFIX, UQ.TABID,
	UQ.ISREQ, UQ.GROUPID, UQ.QNOTES, UQ.QUESTIONLISTID,
	UQ.FLGQUESDESC, UQ.DESCTEXT, UQ.FLGCOMPVALUE, QG.GROUPTYPE
	, QLM.TYPE, QLM.TABLENAME,ISNULL(TB.REPEATCONTROLS,2) REPEATCONTROLS,UQ.STYLE,UQ.MAXLENGTH,UQ.VALIDATIONTYPE,UQ.COLSPAN,
	UQ.DEPQUESTIONTEXT,UQ.DEPQUESTYPE,UQ.DEPANSTYPE,UQ.DEPQUESTIONLIST	
	FROM 
	USERQUESTIONS UQ 
	INNER JOIN QUESTIONGROUPMASTER QG ON QG.GROUPID = UQ.GROUPID AND QG.TABID = UQ.TABID AND  QG.SCREENID=UQ.SCREENID
	INNER JOIN QUESTIONTABMASTER TB ON TB.TABID = UQ.TABID AND TB.SCREENID=UQ.SCREENID AND TB.CARRIERID = 1
	LEFT OUTER JOIN QUESTIONLISTMASTER QLM ON UQ.QUESTIONLISTID = QLM.LISTID
	
	WHERE 
	UQ.TABID=@TABID AND UQ.SCREENID=@SCREENID AND UQ.QID = @QID
	AND ISNULL(UQ.ISACTIVE,'N') = 'Y' AND UQ.CARRIERID=@CARRIERID
	ORDER BY QG.SEQNO,UQ.SEQNO
END

END






GO

