IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_Approve_Deposit_Line_Items]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_Approve_Deposit_Line_Items]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[Proc_Approve_Deposit_Line_Items]  
 (                      
 @DEPOSIT_ID   INT,                                  
 @CD_LINE_ITEM_ID INT, 
 @IS_APPROVE CHAR(1),
 @MODIFIED_BY INT,  
 @LAST_UPDATED_DATETIME DATETIME  
)   
AS                      
BEGIN           
update   ACT_CURRENT_DEPOSIT_LINE_ITEMS  
SET 
IS_APPROVE=@IS_APPROVE,
MODIFIED_BY=@MODIFIED_BY,  
RECEIPT_AMOUNT=TOTAL_PREMIUM_COLLECTION,
LAST_UPDATED_DATETIME=@LAST_UPDATED_DATETIME  
WHERE   
CD_LINE_ITEM_ID=@CD_LINE_ITEM_ID AND   
DEPOSIT_ID= @DEPOSIT_ID  
    
UPDATE ACT_CURRENT_DEPOSITS  
SET TOTAL_DEPOSIT_AMOUNT = (SELECT isnull(SUM(RECEIPT_AMOUNT),0)  
FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS  
WHERE DEPOSIT_ID = @DEPOSIT_ID)  
WHERE DEPOSIT_ID = @DEPOSIT_ID  
     
END    
        
                   
GO

