IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_CHECK_RISK_EFFDATE_AND_RISK_EXPDATE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_CHECK_RISK_EFFDATE_AND_RISK_EXPDATE]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

      
/*----------------------------------------------------------                
PROC NAME       : DBO.POL_CUSTOMER_POLICY_LIST                
CREATED BY      : PRADEEP KUSHWAHA       
DATE            : 12/05/2010                
PURPOSE			: CHECK RISK EFFECTIVE DATE AND RISK EXPIRY DATE MUST BE IN BETWEEN THE APPLCIATION EFFECTIVE DATE AND EXPIRY DATE.
REVISON HISTORY :  
USED IN			: EBIX ADVANTAGE                
------------------------------------------------------------                
DATE     REVIEW BY          COMMENTS                
------   ------------       -------------------------*/                
--DROP PROC DBO.PROC_CHECK_RISK_EFFDATE_AND_RISK_EXPDATE 2100,33,1 '05/04/2010 12:00:00 AM', '05/05/2010 12:00:00 AM'        
/****** SCRIPT FOR POL_CUSTOMER_POLICY_LIST INTO DATABASE  ******/    
             
        
CREATE PROC [dbo].[PROC_CHECK_RISK_EFFDATE_AND_RISK_EXPDATE]  
 
 @CUSTOMER_ID INT,      
 @POLICY_ID INT,      
 @POLICY_VERSION_ID SMALLINT,
 @RISK_EFFECTIVE_DATE DATETIME,      
 @RISK_EXPIRE_DATE DATETIME ,
 @FLAG BIT OUT  
AS                          
                          
BEGIN     

DECLARE @RISK_EFT_DATE DATETIME
DECLARE @RISK_EX_DATE DATETIME


SELECT @RISK_EFT_DATE=APP_EFFECTIVE_DATE,@RISK_EX_DATE=APP_EXPIRATION_DATE FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK)  WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID

IF(@RISK_EFT_DATE!='' AND @RISK_EX_DATE !='')

BEGIN
	IF(@RISK_EXPIRE_DATE<=@RISK_EX_DATE)
		BEGIN
			SELECT @FLAG=1
		END 
	ELSE
		BEGIN
			SELECT @FLAG=0
		END 
END


END    
GO

