IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetTransDetails_1099]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetTransDetails_1099]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_GetTransDetails_1099] 
(
  @FORM_1099_ID INT
)
AS
SELECT 
FORM_1099_ID,
CHK.REF_ID AS TRANS_ID,
ISNULL(TLOG.RECORDED_BY_NAME,'') AS RECORDED_BY_NAME,
TLOG.RECORD_DATE_TIME AS RECORD_DATE_TIME

 FROM CHECK_DETAILS_1099 CHK
INNER JOIN MNT_TRANSACTION_XML TXML 
ON TXML.TRANS_ID = CHK.REF_ID
INNER JOIN MNT_TRANSACTION_LOG TLOG
ON TLOG.TRANS_ID = TXML.TRANS_ID
WHERE FORM_1099_ID = @FORM_1099_ID AND REF_TYPE='T'
ORDER BY TLOG.RECORD_DATE_TIME desc




GO

