IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_DATE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SP_DATE]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE SP_DATE

AS BEGIN
SET NOCOUNT ON

select cpl.APP_SUBMITTED_DATE,cpl.POLICY_NUMBER,ccl.CUSTOMER_FIRST_NAME,ccl.CUSTOMER_LAST_NAME,
DATEDIFF(DD,cpl.APP_SUBMITTED_DATE,GETDATE()) AS  TIME_TO_ELAPSE FROM POL_CUSTOMER_POLICY_LIST cpl
INNER JOIN CLT_CUSTOMER_LIST ccl 
ON cpl.CUSTOMER_ID = ccl.CUSTOMER_ID
WHERE POLICY_STATUS = 'SUSPENDED'
END
GO

