IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_GET_MAX_ITEM_NUMBER_IM_COVG]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_GET_MAX_ITEM_NUMBER_IM_COVG]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROC PROC_GET_MAX_ITEM_NUMBER_IM_COVG
(
	@CUSTOMER_ID    INTEGER,
	@APP_ID INTEGER,
	@APP_VERSION_ID INTEGER,
	@ITEM_ID INTEGER
)
AS
BEGIN
	SELECT ISNULL(MAX(ITEM_NUMBER),0)+1 AS NEW_ITEM_NUMBER
	FROM   APP_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS
	WHERE  CUSTOMER_ID = @CUSTOMER_ID
	AND    APP_ID = @APP_ID
	AND    APP_VERSION_ID = @APP_VERSION_ID
	AND    ITEM_ID = @ITEM_ID
END






GO

