IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetPDFAttachmentsDtls]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetPDFAttachmentsDtls]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE dbo.Proc_GetPDFAttachmentsDtls
(
	@CUSTOMERID 		int,
	@POLID 	             	int,
	@VERSIONID 		int,
	@CALLEDFROM		VARCHAR(20)
)
AS
Declare @AttchPhotograph as Varchar(10)
Declare @AttchSurvey as Varchar(10)
Declare @AttchCostGuardCert as Varchar(10)

BEGIN
	IF (@CALLEDFROM='APPLICATION')
	BEGIN
		SELECT @AttchSurvey=CASE WHEN COUNT(*)>0 THEN 'Y' ELSE 'N' END FROM APP_WATERCRAFT_INFO WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@POLID AND APP_VERSION_ID=@VERSIONID AND MARINE_SURVEY = 10963 and is_active='Y'
		SELECT @AttchPhotograph=CASE WHEN COUNT(*)>0 THEN 'Y' ELSE 'N' END FROM APP_WATERCRAFT_INFO WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@POLID AND APP_VERSION_ID=@VERSIONID AND PHOTO_ATTACHED = 10963 and is_active='Y'
		SELECT @AttchCostGuardCert=CASE WHEN COUNT(*)>0 THEN 'Y' ELSE 'N' END FROM  APP_WATERCRAFT_DRIVER_DETAILS WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@POLID AND APP_VERSION_ID=@VERSIONID AND CERT_COAST_GUARD = 10963 and is_active='Y'
	END
	ELSE IF (@CALLEDFROM='POLICY')
	BEGIN
		SELECT @AttchSurvey=CASE WHEN COUNT(*)>0 THEN 'Y' ELSE 'N' END FROM POL_WATERCRAFT_INFO  WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMERID AND POLICY_ID=@POLID AND POLICY_VERSION_ID=@VERSIONID AND MARINE_SURVEY = 10963 and is_active='Y'
		SELECT @AttchPhotograph=CASE WHEN COUNT(*)>0 THEN 'Y' ELSE 'N' END FROM POL_WATERCRAFT_INFO  WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMERID AND POLICY_ID=@POLID AND POLICY_VERSION_ID=@VERSIONID AND PHOTO_ATTACHED = 10963 and is_active='Y'
		SELECT @AttchCostGuardCert=CASE WHEN COUNT(*)>0 THEN 'Y' ELSE 'N' END FROM  POL_WATERCRAFT_DRIVER_DETAILS  WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMERID AND POLICY_ID=@POLID AND POLICY_VERSION_ID=@VERSIONID AND CERT_COAST_GUARD = 10963 and is_active='Y'
	END
	
	SELECT @AttchSurvey SURVEY,@AttchPhotograph PHOTOGRAPH,@AttchCostGuardCert COSTGUARD
END










GO

