IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetPolicyExistingDriver]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetPolicyExistingDriver]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------      
Proc Name      : dbo.Proc_GetPolicyExistingDriver  
Created by       :SWASTIKA       
Date             : 27th Mar'06  
Purpose       : retrieving data from POL_WATERCRAFT_DRIVER_DETAILS      
Revison History :      
Used In        : Wolverine      
------------------------------------------------------------   
--DROP PROC Proc_GetPolicyExistingDriver    
Date     Review By          Comments      
------   ------------       -------------------------*/      
CREATE PROCEDURE Proc_GetPolicyExistingDriver  
(  
 @CUSTOMERID int,  
 @POLICYID int,  
 @POLICYVERSIONID int  
   
)  
AS  
BEGIN  
  
DECLARE @LOBID int  
select @LOBID = POLICY_LOB from POL_CUSTOMER_POLICY_LIST where  CUSTOMER_ID = @CUSTOMERID and POLICY_ID =  @POLICYID AND POLICY_VERSION_ID =  @POLICYVERSIONID  
  
  
SELECT PD.CUSTOMER_ID AS CUSTOMERID,  
 PD.POLICY_ID,  
 PL.POLICY_VERSION_ID,  
 PL.POLICY_NUMBER,  
 PL.POLICY_DISP_VERSION,  
 PD.DRIVER_ID,  
 PD.DRIVER_CODE,  
 DRIVER_FNAME+' '+DRIVER_MNAME+' '+DRIVER_LNAME AS DRIVERNAME,  
 CUSTOMER_FIRST_NAME+' '+CUSTOMER_MIDDLE_NAME+' '+CUSTOMER_LAST_NAME  AS CUSTOMERNAME  
FROM  POL_DRIVER_DETAILS PD  
INNER JOIN CLT_CUSTOMER_LIST ON  PD.CUSTOMER_ID=CLT_CUSTOMER_LIST.CUSTOMER_ID  
INNER JOIN POL_CUSTOMER_POLICY_LIST PL ON PD.CUSTOMER_ID=PL.CUSTOMER_ID AND  
   PD.POLICY_ID=PL.POLICY_ID AND  
   PD.POLICY_VERSION_ID=PL.POLICY_VERSION_ID 
--AND PL.POLICY_LOB = @LOBID    
WHERE PD.CUSTOMER_ID=@CUSTOMERID  AND  
 ISNULL(PD.IS_ACTIVE,'') <> 'N'  

--Added By Sibin on 13 Nov 08 for Itrack Issue 4905 to Copy drivers & household member of all LOB in Watercraft,Automobile and Homeowner

UNION

 SELECT PD.CUSTOMER_ID AS CUSTOMERID,  
 PD.POLICY_ID,  
 PL.POLICY_VERSION_ID,  
 PL.POLICY_NUMBER,  
 PL.POLICY_DISP_VERSION,  
 PD.DRIVER_ID,  
 PD.DRIVER_CODE,  
 DRIVER_FNAME+' '+DRIVER_MNAME+' '+DRIVER_LNAME AS DRIVERNAME,  
 CUSTOMER_FIRST_NAME+' '+CUSTOMER_MIDDLE_NAME+' '+CUSTOMER_LAST_NAME  AS CUSTOMERNAME  
FROM  POL_WATERCRAFT_DRIVER_DETAILS PD  
INNER JOIN CLT_CUSTOMER_LIST ON  PD.CUSTOMER_ID=CLT_CUSTOMER_LIST.CUSTOMER_ID  
INNER JOIN POL_CUSTOMER_POLICY_LIST PL ON PD.CUSTOMER_ID=PL.CUSTOMER_ID AND  
   PD.POLICY_ID=PL.POLICY_ID AND  
   PD.POLICY_VERSION_ID=PL.POLICY_VERSION_ID 
--AND PL.POLICY_LOB = @LOBID    
WHERE PD.CUSTOMER_ID=@CUSTOMERID  AND  
 ISNULL(PD.IS_ACTIVE,'') <> 'N'  

  
END 
GO

