IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetKeysForAuto_POLICY]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetKeysForAuto_POLICY]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*                                    
----------------------------------------------------------                                        
Proc Name       : dbo.Proc_GetKeysForAuto_POL                                    
Created by      : Shafi                                      
Date            : 17 August 2006      
Purpose         :         
Revison History :    
Modified  by      : Pravesh Chandel    
Date            : 8 Dec  2006      
Purpose         :    Change Fetch Field from APP_VEHICLE_PERCLASS_ID to APP_VEHICLE_PERTYPE_ID    
                                       
------------------------------------------------------------                                        
Date     Review By          Comments                                        
------   ------------       -------------------------                                       
*/         
        
-- drop proc dbo.Proc_GetKeysForAuto_POLICY     
CREATE proc [dbo].[Proc_GetKeysForAuto_POLICY]        
(        
 @CUSTOMER_ID INT,        
 @POLICY_ID INT,        
 @POLICY_VERSION_ID INT,        
 @BOAT_ID INT        
)        
        
AS        
BEGIN        
    
DECLARE @NO_CLAIMS INT,@NO_PRIOR_LOSS INT,@APP_EFFECTIVE_DATE datetime    
    
SELECT @APP_EFFECTIVE_DATE=APP_EFFECTIVE_DATE FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK)     
 WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID    
    
SELECT @NO_PRIOR_LOSS = COUNT(CUSTOMER_ID)  FROM APP_PRIOR_LOSS_INFO    
 WHERE CUSTOMER_ID=@CUSTOMER_ID     
 --AND LOSS_TYPE=9765     
 AND ISNULL(CLAIMS_TYPE,0)=14234    
 AND OCCURENCE_DATE >= DATEADD(DD,-3*365 ,@APP_EFFECTIVE_DATE)       
SELECT @NO_CLAIMS=COUNT(C.CUSTOMER_ID)    
 FROM CLM_CLAIM_INFO C WITH (NOLOCK)                
 WHERE C.CUSTOMER_ID=@CUSTOMER_ID    
 AND ISNULL(C.IS_ACTIVE,'Y')='Y'     
 AND ISNULL(PINK_SLIP_TYPE_LIST,'') like '%13005%'  -- at fault    
 AND LOSS_DATE >=DATEADD(DD,-3*365 ,@APP_EFFECTIVE_DATE)       
    
SELECT         
POL_INFO.APP_EFFECTIVE_DATE AS APP_EFFECTIVE_DATE,        
POL_INFO.POLICY_LOB AS LOB_ID,        
POL_INFO.STATE_ID as STATE_ID,    
YEAR(CONVERT(VARCHAR(20),POL_INFO.APP_EFFECTIVE_DATE,109)) AS APP_YEAR,    
VEH_INFO.APP_USE_VEHICLE_ID AS AUTO_USE,    
--VEH_INFO.APP_VEHICLE_PERCLASS_ID    AS AUTO_TYPE,    
CASE WHEN VEH_INFO.APP_USE_VEHICLE_ID = 11333 THEN VEH_INFO.APP_VEHICLE_COMTYPE_ID ELSE VEH_INFO.APP_VEHICLE_PERTYPE_ID  END  AS AUTO_TYPE,      
VEH_INFO.ST_AMT_TYPE  AS AMOUNT_TYPE,    
VEH_INFO.VEHICLE_USE AS VEHICLE_USE,    
VEH_INFO.AMOUNT AS VEH_AMOUNT,    
ISNULL(POL_VEHCOV.DEDUCTIBLE_1,0) AS OLD_COLL,    
CONVERT(VARCHAR(20),ISNULL(POL_VEHCOV.DEDUCTIBLE_1,0)) + ' ' + ISNULL(POL_VEHCOV.DEDUCTIBLE1_AMOUNT_TEXT,'') AS OLD_COLL_TEXT,    
ISNULL(POL_VEHCOV2.DEDUCTIBLE_1,0) AS OLD_COMP,    
1 AS PIP_COV,    
(    
SELECT count(CUSTOMER_ID)     
FROM POL_VEHICLE_COVERAGES POL_COV WITH(NOLOCK)    
WHERE     
   POL_COV.CUSTOMER_ID = @CUSTOMER_ID        
AND POL_COV.POLICY_ID=@POLICY_ID        
AND POL_COV.POLICY_VERSION_ID  = @POLICY_VERSION_ID        
AND POL_COV.VEHICLE_ID = @BOAT_ID      
AND COVERAGE_CODE_ID=116      
AND LIMIT_ID IN(686,687,688,1372)    
) AS PPIP,    
(      
SELECT count(CUSTOMER_ID)       
FROM POL_VEHICLE_COVERAGES APP_COV WITH(NOLOCK)      
WHERE       
   APP_COV.CUSTOMER_ID = @CUSTOMER_ID          
AND APP_COV.POLICY_ID=@POLICY_ID           
AND APP_COV.POLICY_VERSION_ID  = @POLICY_VERSION_ID        
AND APP_COV.VEHICLE_ID = @BOAT_ID        
AND COVERAGE_CODE_ID=116        
AND LIMIT_ID IN(1372)  --IF PIP limit is Full Medical & Full Wage Loss then revoke a-91    
) AS FULLPIP,      
    
(    
SELECT SUM(ITEM_VALUE) FROM POL_MISCELLANEOUS_EQUIPMENT_VALUES POL_MIS WITH(NOLOCK)     
WHERE POL_MIS.CUSTOMER_ID = @CUSTOMER_ID       
 AND POL_MIS.POLICY_ID  = @POLICY_ID      
 AND POL_MIS.POLICY_VERSION_ID  = @POLICY_VERSION_ID    
 AND POL_MIS.VEHICLE_ID=@BOAT_ID AND ISNULL(IS_ACTIVE,'Y')='Y'    
) AS SUM_MIS,    
(    
SELECT COUNT(@CUSTOMER_ID) FROM POL_MISCELLANEOUS_EQUIPMENT_VALUES POL_MIS WITH(NOLOCK)     
WHERE POL_MIS.CUSTOMER_ID = @CUSTOMER_ID       
 AND POL_MIS.POLICY_ID  = @POLICY_ID      
 AND POL_MIS.POLICY_VERSION_ID  = @POLICY_VERSION_ID    
 AND POL_MIS.VEHICLE_ID=@BOAT_ID AND ITEM_VALUE<>0 AND ISNULL(IS_ACTIVE,'Y')='Y'    
) AS COUNT_MIS,    
(    
SELECT count(CUSTOMER_ID)     
FROM POL_VEHICLE_COVERAGES APP_COV WITH(NOLOCK)    
WHERE     
   APP_COV.CUSTOMER_ID = @CUSTOMER_ID        
AND APP_COV.POLICY_ID=@POLICY_ID        
AND APP_COV.POLICY_VERSION_ID  = @POLICY_VERSION_ID        
AND APP_COV.VEHICLE_ID = @BOAT_ID      
AND COVERAGE_CODE_ID IN(1,113)    
) AS SLL_OPTED,    
(    
SELECT count(CUSTOMER_ID)     
FROM POL_VEHICLE_COVERAGES APP_COV WITH(NOLOCK)    
WHERE     
   APP_COV.CUSTOMER_ID = @CUSTOMER_ID        
AND APP_COV.POLICY_ID=@POLICY_ID        
AND APP_COV.POLICY_VERSION_ID  = @POLICY_VERSION_ID        
AND APP_COV.VEHICLE_ID = @BOAT_ID      
AND COVERAGE_CODE_ID IN(38,122)      
) AS COLL_OPTED,    
(    
SELECT count(CUSTOMER_ID)     
FROM POL_VEHICLE_COVERAGES POL_COV WITH(NOLOCK)    
WHERE     
   POL_COV.CUSTOMER_ID = @CUSTOMER_ID        
AND POL_COV.POLICY_ID=@POLICY_ID        
AND POL_COV.POLICY_VERSION_ID  = @POLICY_VERSION_ID        
AND POL_COV.VEHICLE_ID = @BOAT_ID      
AND COVERAGE_CODE_ID=38    
AND LIMIT_ID =1376    
) AS ICOMP,    
(    
SELECT count(CUSTOMER_ID)     
FROM POL_VEHICLE_COVERAGES POL_COV WITH(NOLOCK)    
WHERE     
   POL_COV.CUSTOMER_ID = @CUSTOMER_ID        
AND POL_COV.POLICY_ID=@POLICY_ID        
AND POL_COV.POLICY_VERSION_ID  = @POLICY_VERSION_ID        
AND POL_COV.VEHICLE_ID = @BOAT_ID      
AND COVERAGE_CODE_ID=42      
AND LIMIT_ID =78    
) AS ICOLL,    
(    
SELECT count(CUSTOMER_ID)     
FROM POL_VEHICLES POL_V_INFO WITH(NOLOCK)    
WHERE     
   POL_V_INFO.CUSTOMER_ID = @CUSTOMER_ID        
AND POL_V_INFO.POLICY_ID=@POLICY_ID        
AND POL_V_INFO.POLICY_VERSION_ID  = @POLICY_VERSION_ID        
AND POL_V_INFO.VEHICLE_ID = @BOAT_ID      
AND APP_VEHICLE_PERCLASS_ID IN(11868,11869,11870)    
    
) AS VEHICLE_TYPE,    
(    
SELECT count(CUSTOMER_ID)     
FROM POL_VEHICLE_COVERAGES POL_COV WITH(NOLOCK)    
WHERE     
   POL_COV.CUSTOMER_ID = @CUSTOMER_ID        
AND POL_COV.POLICY_ID=@POLICY_ID        
AND POL_COV.POLICY_VERSION_ID  = @POLICY_VERSION_ID        
AND POL_COV.VEHICLE_ID = @BOAT_ID      
AND COVERAGE_CODE_ID=116      
AND LIMIT_ID IN(1372,1373,1374,1375)    
) AS CPIP,    
    
(    
SELECT COUNT(CUSTOMER_ID) FROM    
        POL_DRIVER_DETAILS WITH(NOLOCK)    
WHERE    
CUSTOMER_ID = @CUSTOMER_ID        
AND POLICY_ID=@POLICY_ID        
AND POLICY_VERSION_ID  = @POLICY_VERSION_ID        
AND ISNULL(WAIVER_WORK_LOSS_BENEFITS,'')='1' AND ISNULL(IS_ACTIVE,'Y')='Y'  
--Added by Charles on 27-Nov-09 for Itrack 6692  
--AND ISNULL(SIGNED_WAIVER_BENEFITS_FORM,0) = 1  
AND DRIVER_ID IN (SELECT DRIVER_ID FROM POL_DRIVER_ASSIGNED_VEHICLE WITH(NOLOCK)  
WHERE CUSTOMER_ID = @CUSTOMER_ID          
AND POLICY_ID=@POLICY_ID          
AND POLICY_VERSION_ID  = @POLICY_VERSION_ID  
AND VEHICLE_ID=@BOAT_ID  
AND APP_VEHICLE_PRIN_OCC_ID IN (11929,11930,11398,11399))     
--Added till here    
)  AS WAIVER_LOSS,    
(    
SELECT COUNT(CUSTOMER_ID) FROM    
        POL_DRIVER_DETAILS WITH(NOLOCK)    
WHERE    
CUSTOMER_ID = @CUSTOMER_ID        
AND POLICY_ID=@POLICY_ID        
AND POLICY_VERSION_ID  = @POLICY_VERSION_ID        
AND isnull(DRIVER_DRIV_TYPE,'')='3477' AND ISNULL(IS_ACTIVE,'Y')='Y'    
AND ISNULL(FORM_F95,0) = 10963 -- iTRACK 4512    
)  AS DRIVER_TYPE,    
(    
SELECT COUNT(CUSTOMER_ID) FROM    
        POL_VEHICLES WITH(NOLOCK)    
WHERE    
CUSTOMER_ID = @CUSTOMER_ID        
AND POLICY_ID=@POLICY_ID        
AND POLICY_VERSION_ID  = @POLICY_VERSION_ID    
and VEHICLE_ID=@BOAT_ID    
--AND MODEL = 'CORVETTE'    
AND MODEL in ('CORVETTE','CORVETTE Z06')      
) AS VEH_MAKE,    
(    
@NO_PRIOR_LOSS + @NO_CLAIMS    
) AS NO_CLAIMS,    
(      
SELECT COUNT(CUSTOMER_ID) FROM      
       POL_DRIVER_DETAILS WITH(NOLOCK)      
WHERE      
CUSTOMER_ID = @CUSTOMER_ID          
AND POLICY_ID=@POLICY_ID          
AND POLICY_VERSION_ID  = @POLICY_VERSION_ID          
AND isnull(EXT_NON_OWN_COVG_INDIVI,'0')='10963'   AND ISNULL(IS_ACTIVE,'Y')='Y'    
)  AS EXT_NON_OWN   ,    
--Itrack 4948    
     
case when isnull(VEH_INFO.IS_SUSPENDED,0)=10963 then 1 else 0 end as IS_SUSPENDED    
    
FROM POL_VEHICLES VEH_INFO WITH(NOLOCK)        
        
INNER JOIN POL_CUSTOMER_POLICY_LIST POL_INFO WITH(NOLOCK)        
 ON POL_INFO.CUSTOMER_ID = VEH_INFO.CUSTOMER_ID        
 AND POL_INFO.POLICY_ID  = VEH_INFO.POLICY_ID        
 AND POL_INFO.POLICY_VERSION_ID  = VEH_INFO.POLICY_VERSION_ID     
    
    
left  JOIN POL_VEHICLE_COVERAGES POL_VEHCOV WITH(NOLOCK)        
 ON POL_VEHCOV.CUSTOMER_ID = VEH_INFO.CUSTOMER_ID        
 AND POL_VEHCOV.COVERAGE_CODE_ID IN (38,122)    
 AND POL_VEHCOV.POLICY_ID  = VEH_INFO.POLICY_ID        
 AND POL_VEHCOV.POLICY_VERSION_ID  = VEH_INFO.POLICY_VERSION_ID     
 AND POL_VEHCOV.VEHICLE_ID=VEH_INFO.VEHICLE_ID    
     
left  JOIN POL_VEHICLE_COVERAGES POL_VEHCOV2 WITH(NOLOCK)        
 ON POL_VEHCOV2.CUSTOMER_ID = VEH_INFO.CUSTOMER_ID        
 AND POL_VEHCOV2.COVERAGE_CODE_ID IN (42,123)    
 AND POL_VEHCOV2.POLICY_ID  = VEH_INFO.POLICY_ID        
 AND POL_VEHCOV2.POLICY_VERSION_ID  = VEH_INFO.POLICY_VERSION_ID     
 AND POL_VEHCOV2.VEHICLE_ID=VEH_INFO.VEHICLE_ID    
    
    
    
    
WHERE        
    VEH_INFO.CUSTOMER_ID = @CUSTOMER_ID        
AND VEH_INFO.POLICY_ID=@POLICY_ID        
AND VEH_INFO.POLICY_VERSION_ID  = @POLICY_VERSION_ID        
AND VEH_INFO.VEHICLE_ID = @BOAT_ID        
END        
        
        
GO

