IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_SaveAgencyStatement_old]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_SaveAgencyStatement_old]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*---------------------------------------------------------------------------
CREATE BY		: Vijay Joshi
CREATE DATETIME	: 24 Oct'2005 03.08.00 PM
PURPOSE			: To Fetch the agency statement details of specified agency 
				of specified month
REVIOSN HISTORY
Revised By		Date		Reason
----------------------------------------------------------------------------*/
CREATE  PROC dbo.Proc_SaveAgencyStatement_old
(
	@MONTH		INT,
	@YEAR		INT
)
AS
BEGIN 

	Declare @FULL_PAY_PLAN_ID INT	
	
	--Retreiving the full pay plan id
	select @FULL_PAY_PLAN_ID = IDEN_PLAN_ID FROM ACT_INSTALL_PLAN_DETAIL WHERE ISNULL(SYSTEM_GENERATED_FULL_PAY,0) = 1
	
	--Calculating premium to be received from agency
	--For all agency billed policies
	INSERT INTO ACT_AGENCY_STATEMENT
	(
		MONTH_NUMBER, MONTH_YEAR, AGENCY_ID, POLICY_ID, POLICY_VERSION_ID, CUSTOMER_ID, SOURCE_EFF_DATE, 
		PREMIUM_AMOUNT, COMMISSION_RATE	,
		TOTAL_PAID, SOURCE_ROW_ID, TRAN_TYPE, AMOUNT_FOR_CALCULATION, 
		COMMISSION_AMOUNT,
		DUE_AMOUNT, PAYMENT_STATUS, IS_TEMP_ENTRY, IN_RECON, AMT_IN_RECON, AGENCY_OPEN_ITEM_ID

	)
	SELECT 
		@MONTH, YEAR(AAOI.SOURCE_EFF_DATE), AL.APP_AGENCY_ID, PCPL.POLICY_ID, PCPL.POLICY_VERSION_ID, AAOI.CUSTOMER_ID, AAOI.SOURCE_EFF_DATE, 
		AAOI.GROSS_AMOUNT, AAOI.AGENCY_COMM_PERC,
		0, AAOI.SOURCE_ROW_ID, AAOI.ITEM_TRAN_CODE, AAOI.GROSS_AMOUNT, 
		CASE ITEM_TRAN_CODE_TYPE WHEN 'COM' THEN -AAOI.AGENCY_COMM_AMT ELSE 0 END,
		AAOI.TOTAL_DUE, 0, 0, NULL, NULL, AAOI.IDEN_ROW_ID
	FROM ACT_AGENCY_OPEN_ITEMS AAOI
	LEFT JOIN POL_CUSTOMER_POLICY_LIST PCPL ON PCPL.POLICY_ID = AAOI.POLICY_ID 
		AND PCPL.POLICY_VERSION_ID = AAOI.POLICY_VERSION_ID 
		AND PCPL.CUSTOMER_ID = AAOI.CUSTOMER_ID 
	LEFT JOIN APP_LIST AL ON AL.APP_ID = PCPL.APP_ID 
		AND AL.APP_VERSION_ID = PCPL.APP_VERSION_ID 
		AND AL.CUSTOMER_ID = PCPL.CUSTOMER_ID 
	WHERE MONTH(AAOI.SOURCE_EFF_DATE) <= @MONTH 
		AND IDEN_ROW_ID NOT IN ( SELECT ISNULL(AGENCY_OPEN_ITEM_ID,0) FROM ACT_AGENCY_STATEMENT)
		AND YEAR (AAOI.SOURCE_EFF_DATE) = @YEAR
		AND ISNULL(AAOI.BILL_CODE, '') = 'AB'


	--Calculating commission to be given to agency
	--for all direct bill policies
	--Commission will be given for those direct bill agencies
	--Whose payment has been receoved for this month
	--Will execute only for those policies, which are under full pay plan
	INSERT INTO ACT_AGENCY_STATEMENT
	(
		MONTH_NUMBER, MONTH_YEAR, AGENCY_ID, POLICY_ID, POLICY_VERSION_ID, CUSTOMER_ID, SOURCE_EFF_DATE,
		PREMIUM_AMOUNT,	COMMISSION_RATE,
		TOTAL_PAID, SOURCE_ROW_ID, TRAN_TYPE,
		AMOUNT_FOR_CALCULATION, 
		COMMISSION_AMOUNT,
		DUE_AMOUNT, PAYMENT_STATUS, IS_TEMP_ENTRY, IN_RECON, AMT_IN_RECON, CUSTOMER_OPEN_ITEM_ID, AGENCY_OPEN_ITEM_ID
	)
	SELECT  
		@MONTH, @YEAR, AOI.AGENCY_ID, AOI.POLICY_ID, AOI.POLICY_VERSION_ID, AOI.CUSTOMER_ID, AOI.SOURCE_EFF_DATE,
		AOI.GROSS_AMOUNT, AOI.AGENCY_COMM_PERC, 
		0, AOI.SOURCE_ROW_ID, AOI.ITEM_TRAN_CODE, 
		sum(isnull(coi.total_paid, 0)) - sum(isnull(coi.PROCESSED_AMOUNT_FOR_AGENCY, 0)) as Amtforcalc, 
		(
			sum(isnull(Aoi.total_due,0)) * 
				( 
					sum(isnull(coi.total_paid, 0))
						/ 
					sum(isnull(coi.total_due, 0)) 
				) 
		),
				(
			sum(isnull(Aoi.total_due,0)) * 
				( 
					sum(isnull(coi.total_paid, 0))
						/ 
					sum(isnull(coi.total_due, 0)) 
				) 
		) , 0, 0, 0, 0, NULL, AOI.IDEN_ROW_ID
	FROM ACT_AGENCY_OPEN_ITEMS  AOI
	INNER JOIN ACT_CUSTOMER_OPEN_ITEMS COI ON AOI.UPDATED_FROM = COI.UPDATED_FROM
		AND AOI.SOURCE_ROW_ID = COI.SOURCE_ROW_ID
		AND ISNULL(COI.ITEM_TRAN_CODE_TYPE, '') <> 'FEE'	--Taking all open transaction except fees
	INNER JOIN POL_CUSTOMER_POLICY_LIST PCL ON PCL.CUSTOMER_ID = AOI.CUSTOMER_ID 
		AND PCL.POLICY_ID = AOI.POLICY_ID 
		AND PCL.POLICY_VERSION_ID = AOI.POLICY_VERSION_ID 
	WHERE 
		ISNULL(COI.TOTAL_DUE,0) <> ISNULL(COI.PROCESSED_AMOUNT_FOR_AGENCY,0)
		AND ISNULL(COI.TOTAL_PAID,0) <> ISNULL(COI.PROCESSED_AMOUNT_FOR_AGENCY,0)
		AND ISNULL(AOI.ITEM_TRAN_CODE_TYPE, '') = 'COM'
		AND ISNULL(AOI.BILL_CODE, '') = 'DB'
		AND (MONTH(PCL.APP_EFFECTIVE_DATE) <= @MONTH AND YEAR(PCL.APP_EFFECTIVE_DATE) <= @YEAR)
		AND PCL.INSTALL_PLAN_ID = @FULL_PAY_PLAN_ID
	GROUP BY AOI.AGENCY_ID, AOI.POLICY_ID, AOI.POLICY_VERSION_ID, AOI.CUSTOMER_ID, AOI.SOURCE_EFF_DATE,
		AOI.TOTAL_DUE, AOI.AGENCY_COMM_PERC, 
		AOI.SOURCE_ROW_ID, AOI.ITEM_TRAN_CODE_TYPE, AOI.IDEN_ROW_ID, AOI.GROSS_AMOUNT, AOI.ITEM_TRAN_CODE



	--Calculating commission to be given to agency
	--For all direct bill policies
	--Commission will be given for those direct bill agencies
	--Whose payment has been receoved for this month
	--Will execute only for those policies, which are under installment plan(not full pay)
	INSERT INTO ACT_AGENCY_STATEMENT
	(
		MONTH_NUMBER, MONTH_YEAR, AGENCY_ID, POLICY_ID, POLICY_VERSION_ID, CUSTOMER_ID, SOURCE_EFF_DATE,
		PREMIUM_AMOUNT,	COMMISSION_RATE,
		TOTAL_PAID, SOURCE_ROW_ID, TRAN_TYPE,
		AMOUNT_FOR_CALCULATION, 
		COMMISSION_AMOUNT,
		DUE_AMOUNT, PAYMENT_STATUS, IS_TEMP_ENTRY, IN_RECON, AMT_IN_RECON, CUSTOMER_OPEN_ITEM_ID, AGENCY_OPEN_ITEM_ID
	)
	SELECT  
		@MONTH, @YEAR, COI.AGENCY_ID, COI.POLICY_ID, COI.POLICY_VERSION_ID, COI.CUSTOMER_ID, COI.SOURCE_EFF_DATE,
		COI.GROSS_AMOUNT, COI.AGENCY_COMM_PERC, 
		0, COI.SOURCE_ROW_ID, COI.ITEM_TRAN_CODE, 
		(isnull(coi.total_paid, 0)) - (isnull(coi.PROCESSED_AMOUNT_FOR_AGENCY, 0)) as Amtforcalc ,   

		((isnull(coi.total_paid, 0)) - (isnull(coi.PROCESSED_AMOUNT_FOR_AGENCY, 0))) * agency_comm_perc/100.00 * -1,
		((isnull(coi.total_paid, 0)) - (isnull(coi.PROCESSED_AMOUNT_FOR_AGENCY, 0))) * agency_comm_perc/100.00 * -1, 
		 0, 0, 0, 0, COI.IDEN_ROW_ID, NULL
	FROM ACT_CUSTOMER_OPEN_ITEMS COI 
	INNER JOIN POL_CUSTOMER_POLICY_LIST PCL ON PCL.CUSTOMER_ID = COI.CUSTOMER_ID 
		AND PCL.POLICY_ID = COI.POLICY_ID 
		AND PCL.POLICY_VERSION_ID = COI.POLICY_VERSION_ID 
	WHERE 
		ISNULL(COI.ITEM_TRAN_CODE_TYPE, '') <> 'FEE' --Taking all open transaction except fees  
        AND UPDATED_FROM = 'P' and  
		ISNULL(COI.TOTAL_DUE,0) <> ISNULL(COI.PROCESSED_AMOUNT_FOR_AGENCY,0)  
		AND ISNULL(COI.TOTAL_PAID,0) <> ISNULL(COI.PROCESSED_AMOUNT_FOR_AGENCY,0)  
		AND ISNULL(cOI.BILL_CODE, '') = 'DB'  
		AND (MONTH(PCL.APP_EFFECTIVE_DATE) <= @MONTH AND YEAR(PCL.APP_EFFECTIVE_DATE) <= @YEAR)
		AND PCL.INSTALL_PLAN_ID <> @FULL_PAY_PLAN_ID



	--Updating the PROCESSED_AMOUNT_FOR_AGENCY field
	UPDATE ACT_CUSTOMER_OPEN_ITEMS 
	SET ACT_CUSTOMER_OPEN_ITEMS.PROCESSED_AMOUNT_FOR_AGENCY = ACT_CUSTOMER_OPEN_ITEMS.TOTAL_PAID 
	FROM POL_CUSTOMER_POLICY_LIST PCL 
	where 
	PCL.CUSTOMER_ID = ACT_CUSTOMER_OPEN_ITEMS.CUSTOMER_ID 
	AND PCL.POLICY_ID = ACT_CUSTOMER_OPEN_ITEMS.POLICY_ID 
	AND PCL.POLICY_VERSION_ID = ACT_CUSTOMER_OPEN_ITEMS.POLICY_VERSION_ID 
	and ISNULL(ACT_CUSTOMER_OPEN_ITEMS.TOTAL_DUE,0) <> ISNULL(ACT_CUSTOMER_OPEN_ITEMS.PROCESSED_AMOUNT_FOR_AGENCY,0)
	AND ACT_CUSTOMER_OPEN_ITEMS .BILL_CODE = 'DB'
	AND (MONTH(PCL.APP_EFFECTIVE_DATE) <= @MONTH AND YEAR(PCL.APP_EFFECTIVE_DATE) <= @YEAR)

END





















GO

