IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetPDFUmbrella_LocationDetails]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetPDFUmbrella_LocationDetails]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER OFF
GO



CREATE      PROCEDURE dbo.Proc_GetPDFUmbrella_LocationDetails
(
	@CUSTOMERID 		int,
	@POLID 	             	int,
	@VERSIONID 		int,
	@CALLEDFROM		VARCHAR(20)
)
AS
BEGIN
	IF (@CALLEDFROM='APPLICATION')
	BEGIN
		SELECT 
		LOCATION_NUMBER,OCCUPIED_BY,MNTLV.LOOKUP_VALUE_DESC AS LOCDESCRIPTION,
		CASE CAST(ADDRESS_1 AS VARCHAR)
			WHEN '' THEN '' 
			WHEN NULL THEN ''
			ELSE ADDRESS_1+', '
		END +
		CASE ADDRESS_2
			WHEN '' THEN '' 
			WHEN NULL THEN ''
			ELSE ADDRESS_2+', '
		END +
		CASE CITY
			WHEN '' THEN '' 
			WHEN NULL THEN ''
			ELSE CITY +', '
		END +
		CASE CAST(STATE AS VARCHAR)
			WHEN '' THEN '' 
			WHEN NULL THEN ''
			ELSE CAST(STATE AS VARCHAR) +', '
		END +
		CASE CAST(ZIPCODE AS VARCHAR)
			WHEN '' THEN '' 
			WHEN NULL THEN ''
			ELSE CAST(ZIPCODE AS VARCHAR) +', '
		END AS LOCATION,
		NUM_FAMILIES AS OCCUPANCY, MNTLV2.LOOKUP_VALUE_DESC AS USAGE
		
		
		FROM APP_UMBRELLA_REAL_ESTATE_LOCATION
		LEFT OUTER JOIN MNT_LOOKUP_VALUES MNTLV ON MNTLV.LOOKUP_UNIQUE_ID=OCCUPIED_BY
		LEFT OUTER JOIN MNT_LOOKUP_VALUES MNTLV2 ON MNTLV2.LOOKUP_UNIQUE_ID=BUSS_FARM_PURSUITS
		
		WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@POLID AND APP_VERSION_ID=@VERSIONID

	END
	ELSE IF (@CALLEDFROM='POLICY')
	BEGIN
SELECT LOCATION_NUMBER,OCCUPIED_BY,MNTLV.LOOKUP_VALUE_DESC AS LOCDESCRIPTION,
CASE CAST(ADDRESS_1 AS VARCHAR)
	WHEN '' THEN '' 
	WHEN NULL THEN ''
	ELSE ADDRESS_1+', '
END +
CASE ADDRESS_2
	WHEN '' THEN '' 
	WHEN NULL THEN ''
	ELSE ADDRESS_2+', '
END +
CASE CITY
	WHEN '' THEN '' 
	WHEN NULL THEN ''
	ELSE CITY +', '
END +
CASE CAST(STATE AS VARCHAR)
	WHEN '' THEN '' 
	WHEN NULL THEN ''
	ELSE CAST(STATE AS VARCHAR) +', '
END +
CASE CAST(ZIPCODE AS VARCHAR)
	WHEN '' THEN '' 
	WHEN NULL THEN ''
	ELSE CAST(ZIPCODE AS VARCHAR) +', '
END AS LOCATION,
NUM_FAMILIES AS OCCUPANCY, MNTLV2.LOOKUP_VALUE_DESC AS USAGE
FROM POL_UMBRELLA_REAL_ESTATE_LOCATION
LEFT OUTER JOIN MNT_LOOKUP_VALUES MNTLV ON MNTLV.LOOKUP_UNIQUE_ID=OCCUPIED_BY
LEFT OUTER JOIN MNT_LOOKUP_VALUES MNTLV2 ON MNTLV2.LOOKUP_UNIQUE_ID=BUSS_FARM_PURSUITS
WHERE CUSTOMER_ID=@CUSTOMERID AND POLICY_ID=@POLID AND POLICY_VERSION_ID=@VERSIONID


		

	
	END
END



GO

