IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_UpdatePenhorRuralInfo]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_UpdatePenhorRuralInfo]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Pradeep Kushwaha>
-- Create date: <20-Dec-2010>
-- Description:	< Update data of POL_PENHOR_RURAL_INFO>
-- drop proc Proc_UpdatePenhorRuralInfo
-- ============================================= 
CREATE PROC [dbo].[Proc_UpdatePenhorRuralInfo]  
 -- Add the parameters for the stored procedure here  
@CUSTOMER_ID INT,
@POLICY_ID INT,
@POLICY_VERSION_ID SMALLINT,
@PENHOR_RURAL_ID INT ,
@ITEM_NUMBER INT,
@FESR_COVERAGE INT,
@MODE INT,
@PROPERTY INT,
@CULTIVATION INT,
@CITY NVARCHAR(250),
@STATE_ID INT,
@INSURED_AREA INT,
@SUBSIDY_PREMIUM DECIMAL(18,2)= NULL,
@SUBSIDY_STATE INT=NULL,
@MODIFIED_BY INT,            
@LAST_UPDATED_DATETIME DATETIME   ,
@REMARKS NVARCHAR(4000)=NULL  ,
@EXCEEDED_PREMIUM INT=NULL
 --,@ORIGINAL_VERSION_ID INT=NULL
AS  
BEGIN  
DECLARE  @CO_APPLICANT_ID INT   --- changes by praveer for TFS# 726
SELECT @CO_APPLICANT_ID= APPLICANT_ID  FROM POL_APPLICANT_LIST  WITH(NOLOCK)       
  WHERE IS_PRIMARY_APPLICANT=1 AND  CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID =@POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID
 IF EXISTS(SELECT ITEM_NUMBER FROM POL_PENHOR_RURAL_INFO WITH(NOLOCK)
  WHERE  ITEM_NUMBER=@ITEM_NUMBER and  PENHOR_RURAL_ID<>@PENHOR_RURAL_ID and CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID )
 BEGIN 
 RETURN -10
 END
 ELSE
 BEGIN
	 UPDATE POL_PENHOR_RURAL_INFO                                                        
		SET      
			ITEM_NUMBER=@ITEM_NUMBER,
			FESR_COVERAGE=@FESR_COVERAGE,
			MODE=@MODE,
			PROPERTY=@PROPERTY,
			CULTIVATION=@CULTIVATION,
			CITY=@CITY,
			STATE_ID=@STATE_ID,
			INSURED_AREA=@INSURED_AREA,
			SUBSIDY_PREMIUM=@SUBSIDY_PREMIUM,
			SUBSIDY_STATE=@SUBSIDY_STATE,
			MODIFIED_BY=@MODIFIED_BY,
			LAST_UPDATED_DATETIME=@LAST_UPDATED_DATETIME,
			REMARKS=@REMARKS,
			--,ORIGINAL_VERSION_ID=@ORIGINAL_VERSION_ID
			CO_APPLICANT_ID=@CO_APPLICANT_ID,  --- changes by praveer for TFS# 726
			EXCEEDED_PREMIUM = @EXCEEDED_PREMIUM
		WHERE        
			 CUSTOMER_ID=@CUSTOMER_ID AND             
			 POLICY_ID=@POLICY_ID AND                
			 POLICY_VERSION_ID = @POLICY_VERSION_ID AND        
			 PENHOR_RURAL_ID=@PENHOR_RURAL_ID    
	       
	 RETURN 1   
 END
   
END  
   
GO

