IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_UpdateACT_CUSTOMER_RECON_GROUP_DETAILS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_UpdateACT_CUSTOMER_RECON_GROUP_DETAILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------
Proc Name       : Proc_UpdateACT_CUSTOMER_RECON_GROUP_DETAILS
Created by      : Vijay
Date            : 07/05/2005
Purpose    	: Update the values in ACT_CUSTOMER_RECON_GROUP_DETAILS
Revison History :
Used In 	: Wolverine
------------------------------------------------------------
Date     Review By          Comments
------   ------------       -------------------------*/
-- drop proc dbo.Proc_UpdateACT_CUSTOMER_RECON_GROUP_DETAILS
CREATE PROC dbo.Proc_UpdateACT_CUSTOMER_RECON_GROUP_DETAILS
(
	@IDEN_ROW_NO    	int	OUTPUT,
	@GROUP_ID     		int,
	@ITEM_TYPE     		nvarchar(10),
	@ITEM_REFERENCE_ID     	int,
	@SUB_LEDGER_TYPE	nvarchar(10),
	@RECON_AMOUNT  		decimal(18,2),
	@NOTE     		nvarchar(510),
	@DIV_ID     		smallint,
	@DEPT_ID     		smallint,
	@PC_ID     		smallint
)
AS
BEGIN
IF ( SELECT RECON_ENTITY_TYPE FROM ACT_RECONCILIATION_GROUPS WHERE GROUP_ID = @GROUP_ID ) = 'CUST'
BEGIN 
	UPDATE ACT_CUSTOMER_RECON_GROUP_DETAILS
	SET
		GROUP_ID = @GROUP_ID,
		ITEM_TYPE = @ITEM_TYPE,
		ITEM_REFERENCE_ID = @ITEM_REFERENCE_ID,
		SUB_LEDGER_TYPE = @SUB_LEDGER_TYPE,
		RECON_AMOUNT = @RECON_AMOUNT,
		NOTE = @NOTE,
		DIV_ID = @DIV_ID,
		DEPT_ID = @DEPT_ID,
		PC_ID = @PC_ID
	WHERE 
		IDEN_ROW_NO = @IDEN_ROW_NO
END 
ELSE IF ( SELECT RECON_ENTITY_TYPE FROM ACT_RECONCILIATION_GROUPS WHERE GROUP_ID = @GROUP_ID ) = 'AGN'
BEGIN 
	UPDATE ACT_AGENCY_RECON_GROUP_DETAILS
	SET
		GROUP_ID = @GROUP_ID,
		ITEM_TYPE = @ITEM_TYPE,
		ITEM_REFERENCE_ID = @ITEM_REFERENCE_ID,
		SUB_LEDGER_TYPE = @SUB_LEDGER_TYPE,
		RECON_AMOUNT = @RECON_AMOUNT,
		NOTE = @NOTE,
		DIV_ID = @DIV_ID,
		DEPT_ID = @DEPT_ID,
		PC_ID = @PC_ID
	WHERE 
		IDEN_ROW_NO = @IDEN_ROW_NO
END 
ELSE IF ( SELECT RECON_ENTITY_TYPE FROM ACT_RECONCILIATION_GROUPS WHERE GROUP_ID = @GROUP_ID ) = 'VEN'
BEGIN 
	UPDATE ACT_VENDOR_RECON_GROUP_DETAILS
	SET
		GROUP_ID = @GROUP_ID,
		ITEM_TYPE = @ITEM_TYPE,
		ITEM_REFERENCE_ID = @ITEM_REFERENCE_ID,
		SUB_LEDGER_TYPE = @SUB_LEDGER_TYPE,
		RECON_AMOUNT = @RECON_AMOUNT,
		NOTE = @NOTE,
		DIV_ID = @DIV_ID,
		DEPT_ID = @DEPT_ID,
		PC_ID = @PC_ID
	WHERE 
		IDEN_ROW_NO = @IDEN_ROW_NO
END 


END














GO

