IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_RPT_AGENCY_PRODCUTION]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_RPT_AGENCY_PRODCUTION]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN
--DROP PROC dbo.PROC_RPT_AGENCY_PRODCUTION 
--GO
 
CREATE PROC [dbo].[PROC_RPT_AGENCY_PRODCUTION]
( 
	@EPR_MONTH INT,
	@EPR_YEAR INT
)
AS
BEGIN

WITH
PROCESS_TABLE AS
(
	SELECT PCPL.CUSTOMER_ID,PCPL.POLICY_ID,PCPL.AGENCY_ID,PCPL.POLICY_LOB,PCPL.STATE_ID, 
	ISNULL(PCPL.POLICY_TYPE,0) AS POLICY_TYPE,

	(
		SELECT COUNT(PCPLIN.CUSTOMER_ID) FROM POL_CUSTOMER_POLICY_LIST PCPLIN 
		WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND POLICY_STATUS='NORMAL'
	)
	INFORCE_TOTAL,

	(
		SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP 
		WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID=25
		AND NEW_POLICY_VERSION_ID IN
		(
			SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST 
			WHERE CUSTOMER_ID=PP.CUSTOMER_ID AND POLICY_ID=PP.POLICY_ID AND CURRENT_TERM=1
		)
		AND PROCESS_STATUS = 'COMPLETE' AND MONTH(COMPLETED_DATETIME) = @EPR_MONTH 
		AND YEAR(COMPLETED_DATETIME) = @EPR_YEAR 
	)
	NBS_COMMITTED,

	(
		SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP 
		WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID=25
		AND NEW_POLICY_VERSION_ID IN
		(
			SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST 
			WHERE CUSTOMER_ID=PP.CUSTOMER_ID AND POLICY_ID=PP.POLICY_ID AND CURRENT_TERM=1
		)
		AND PROCESS_STATUS = 'COMPLETE' AND MONTH(EFFECTIVE_DATETIME) = @EPR_MONTH 
		AND YEAR(EFFECTIVE_DATETIME) = @EPR_YEAR 
	)
	NBS_EFFECTIVE,

	(
		SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP 
		WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID=12
		AND NEW_POLICY_VERSION_ID IN
		(
			SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST 
			WHERE CUSTOMER_ID=PP.CUSTOMER_ID AND POLICY_ID=PP.POLICY_ID AND CURRENT_TERM=1
		)
		AND PROCESS_STATUS = 'COMPLETE' AND MONTH(COMPLETED_DATETIME) = @EPR_MONTH 
		AND YEAR(COMPLETED_DATETIME) = @EPR_YEAR 
	)
	NBS_CANCEL,

	(
		SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP 
		INNER JOIN 
		(
			SELECT CUSTOMER_ID, POLICY_ID, NEW_POLICY_VERSION_ID AS POLICY_VERSION_ID  FROM POL_POLICY_PROCESS PP 
			WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID=25
			AND NEW_POLICY_VERSION_ID IN
			(
				SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST 
				WHERE CUSTOMER_ID=PP.CUSTOMER_ID AND POLICY_ID=PP.POLICY_ID AND CURRENT_TERM=1
			)
			AND PROCESS_STATUS = 'COMPLETE' AND MONTH(EFFECTIVE_DATETIME) = @EPR_MONTH 
			AND YEAR(EFFECTIVE_DATETIME) = @EPR_YEAR 
		)
		NBS_EFFECTIVE1
		ON NBS_EFFECTIVE1.CUSTOMER_ID = PP.CUSTOMER_ID AND NBS_EFFECTIVE1.POLICY_ID = PP.POLICY_ID 
		AND NBS_EFFECTIVE1.POLICY_VERSION_ID = PP.POLICY_VERSION_ID
		WHERE PROCESS_ID=12 AND PROCESS_STATUS = 'COMPLETE' AND MONTH(COMPLETED_DATETIME) = @EPR_MONTH 
		AND YEAR(COMPLETED_DATETIME) = @EPR_YEAR
	)
	NBS_EFFECTIVE_CANCEL,

/*(
SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID=12
AND NEW_POLICY_VERSION_ID IN
(SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST WHERE CUSTOMER_ID=PP.CUSTOMER_ID AND POLICY_ID=PP.POLICY_ID AND CURRENT_TERM=1
AND MONTH(COMPLETED_DATETIME) = @EPR_MONTH AND YEAR(COMPLETED_DATETIME) = @EPR_YEAR 
AND MONTH(EFFECTIVE_DATETIME) = @EPR_MONTH AND YEAR(EFFECTIVE_DATETIME) = @EPR_YEAR
AND PP.PROCESS_STATUS = 'COMPLETE')
AND PROCESS_STATUS = 'COMPLETE' AND MONTH(COMPLETED_DATETIME) = @EPR_MONTH AND YEAR(COMPLETED_DATETIME) = @EPR_YEAR)
 NBS_EFFECTIVE_CANCEL,
*/

	(
		SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP 
		WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID=16
		AND NEW_POLICY_VERSION_ID IN
		(
			SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST 
			WHERE CUSTOMER_ID=PP.CUSTOMER_ID AND POLICY_ID=PP.POLICY_ID AND CURRENT_TERM=1
		)
		AND PROCESS_STATUS = 'COMPLETE' AND MONTH(COMPLETED_DATETIME) = @EPR_MONTH 
		AND YEAR(COMPLETED_DATETIME) = @EPR_YEAR 
	)
	NBS_REINSTATE,

/*(
SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID=16
AND NEW_POLICY_VERSION_ID IN
(SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST WHERE CUSTOMER_ID=PP.CUSTOMER_ID AND POLICY_ID=PP.POLICY_ID AND CURRENT_TERM=1
AND MONTH(COMPLETED_DATETIME) = @EPR_MONTH AND YEAR(COMPLETED_DATETIME) = @EPR_YEAR 
AND MONTH(EFFECTIVE_DATETIME) = @EPR_MONTH AND YEAR(EFFECTIVE_DATETIME) = @EPR_YEAR
AND PP.PROCESS_STATUS = 'COMPLETE')
AND PROCESS_STATUS = 'COMPLETE' AND MONTH(COMPLETED_DATETIME) = @EPR_MONTH AND YEAR(COMPLETED_DATETIME) = @EPR_YEAR)
 NBS_EFFECTIVE_REINSTATE,
*/

	(
		SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP 
		INNER JOIN 
		(
			SELECT CUSTOMER_ID, POLICY_ID, NEW_POLICY_VERSION_ID AS POLICY_VERSION_ID  FROM POL_POLICY_PROCESS PP 
			WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID=25
			AND NEW_POLICY_VERSION_ID IN
			(
				SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST WHERE CUSTOMER_ID=PP.CUSTOMER_ID 
				AND POLICY_ID=PP.POLICY_ID AND CURRENT_TERM=1
			)
			AND PROCESS_STATUS = 'COMPLETE' AND MONTH(EFFECTIVE_DATETIME) = @EPR_MONTH 
			AND YEAR(EFFECTIVE_DATETIME) = @EPR_YEAR 
		)
		NBS_EFFECTIVE2
		ON NBS_EFFECTIVE2.CUSTOMER_ID = PP.CUSTOMER_ID AND NBS_EFFECTIVE2.POLICY_ID = PP.POLICY_ID 
		AND NBS_EFFECTIVE2.POLICY_VERSION_ID = PP.POLICY_VERSION_ID
		WHERE PROCESS_ID=16 AND PROCESS_STATUS = 'COMPLETE' AND MONTH(COMPLETED_DATETIME) = @EPR_MONTH 
		AND YEAR(COMPLETED_DATETIME) = @EPR_YEAR
	)
	NBS_EFFECTIVE_REINSTATE,

	(
		SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP 
		WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID=18
		AND NEW_POLICY_VERSION_ID IN
		(
			SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST 
			WHERE CUSTOMER_ID=PP.CUSTOMER_ID AND POLICY_ID=PP.POLICY_ID AND CURRENT_TERM>1
		)
		AND ISNULL(REVERT_BACK,'') <>'Y' AND PROCESS_STATUS = 'COMPLETE' AND MONTH(COMPLETED_DATETIME) = @EPR_MONTH 
		AND YEAR(COMPLETED_DATETIME) = @EPR_YEAR 
	)
	RENEWAL_COMMITTED,

	(
		SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP 
		WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID=18
		AND NEW_POLICY_VERSION_ID IN
		(
			SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST 
			WHERE CUSTOMER_ID=PP.CUSTOMER_ID AND POLICY_ID=PP.POLICY_ID AND CURRENT_TERM>1
		)
		AND ISNULL(REVERT_BACK,'') <>'Y' AND PROCESS_STATUS = 'COMPLETE' 
		AND MONTH(EFFECTIVE_DATETIME) = @EPR_MONTH AND YEAR(EFFECTIVE_DATETIME) = @EPR_YEAR 
	)
	RENEWAL_EFFECTIVE,

	(
		SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP 
		WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID=12
		AND NEW_POLICY_VERSION_ID IN
		(
			SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST 
			WHERE CUSTOMER_ID=PP.CUSTOMER_ID AND POLICY_ID=PP.POLICY_ID AND CURRENT_TERM>1
		)
		AND PROCESS_STATUS = 'COMPLETE' AND MONTH(COMPLETED_DATETIME) = @EPR_MONTH 
		AND YEAR(COMPLETED_DATETIME) = @EPR_YEAR 
	)
	RENEWAL_CANCEL,

/*(
SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID=12
AND NEW_POLICY_VERSION_ID IN
(SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST WHERE CUSTOMER_ID=PP.CUSTOMER_ID AND POLICY_ID=PP.POLICY_ID AND CURRENT_TERM>1
AND MONTH(COMPLETED_DATETIME) = @EPR_MONTH AND YEAR(COMPLETED_DATETIME) = @EPR_YEAR 
AND MONTH(EFFECTIVE_DATETIME) = @EPR_MONTH AND YEAR(EFFECTIVE_DATETIME) = @EPR_YEAR
AND PP.PROCESS_STATUS = 'COMPLETE')
AND PROCESS_STATUS = 'COMPLETE' AND MONTH(COMPLETED_DATETIME) = @EPR_MONTH AND YEAR(COMPLETED_DATETIME) = @EPR_YEAR)
 RENEWAL_EFFECTIVE_CANCEL,
*/

	(
		SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP
		INNER JOIN 
		(
			SELECT CUSTOMER_ID, POLICY_ID, NEW_POLICY_VERSION_ID AS POLICY_VERSION_ID  FROM POL_POLICY_PROCESS PP 
			WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID=18
			AND NEW_POLICY_VERSION_ID IN
			(
				SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST WHERE CUSTOMER_ID=PP.CUSTOMER_ID 
				AND POLICY_ID=PP.POLICY_ID AND CURRENT_TERM>1
			)
			AND ISNULL(REVERT_BACK,'') <>'Y' AND PROCESS_STATUS = 'COMPLETE' 
			AND MONTH(EFFECTIVE_DATETIME) = @EPR_MONTH AND YEAR(EFFECTIVE_DATETIME) = @EPR_YEAR 
		)
		RENEWAL_EFFECTIVE1
		ON RENEWAL_EFFECTIVE1.CUSTOMER_ID = PP.CUSTOMER_ID AND RENEWAL_EFFECTIVE1.POLICY_ID = PP.POLICY_ID 
		AND RENEWAL_EFFECTIVE1.POLICY_VERSION_ID = PP.POLICY_VERSION_ID
		WHERE  PROCESS_ID=12 AND PROCESS_STATUS = 'COMPLETE' AND MONTH(COMPLETED_DATETIME) = @EPR_MONTH 
		AND YEAR(COMPLETED_DATETIME) = @EPR_YEAR
	)
	RENEWAL_EFFECTIVE_CANCEL,

	(
		SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP 
		WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID=16
		AND NEW_POLICY_VERSION_ID IN
		(
			SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST 
			WHERE CUSTOMER_ID=PP.CUSTOMER_ID AND POLICY_ID=PP.POLICY_ID AND CURRENT_TERM>1
		)
		AND PROCESS_STATUS = 'COMPLETE' AND MONTH(COMPLETED_DATETIME) = @EPR_MONTH 
		AND YEAR(COMPLETED_DATETIME) = @EPR_YEAR 
	)
	RENEWAL_REINSTATE,
/*
(
SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID=16
AND NEW_POLICY_VERSION_ID IN
(SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST WHERE CUSTOMER_ID=PP.CUSTOMER_ID AND POLICY_ID=PP.POLICY_ID AND CURRENT_TERM>1
AND MONTH(COMPLETED_DATETIME) = @EPR_MONTH AND YEAR(COMPLETED_DATETIME) = @EPR_YEAR 
AND MONTH(EFFECTIVE_DATETIME) = @EPR_MONTH AND YEAR(EFFECTIVE_DATETIME) = @EPR_YEAR
AND PP.PROCESS_STATUS = 'COMPLETE')
AND PROCESS_STATUS = 'COMPLETE' AND MONTH(COMPLETED_DATETIME) = @EPR_MONTH AND YEAR(COMPLETED_DATETIME) = @EPR_YEAR)
 RENEWAL_EFFECTIVE_REINSTATE
*/
	(
		SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP
		INNER JOIN 
		(
			SELECT CUSTOMER_ID, POLICY_ID, NEW_POLICY_VERSION_ID AS POLICY_VERSION_ID  FROM POL_POLICY_PROCESS PP 
			WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID=18
			AND NEW_POLICY_VERSION_ID IN
			(
				SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST WHERE CUSTOMER_ID=PP.CUSTOMER_ID 
				AND POLICY_ID=PP.POLICY_ID AND CURRENT_TERM>1
			)
			AND ISNULL(REVERT_BACK,'') <>'Y' AND PROCESS_STATUS = 'COMPLETE' 
			AND MONTH(EFFECTIVE_DATETIME) = @EPR_MONTH AND YEAR(EFFECTIVE_DATETIME) = @EPR_YEAR 
		)
		RENEWAL_EFFECTIVE1
		ON RENEWAL_EFFECTIVE1.CUSTOMER_ID = PP.CUSTOMER_ID AND RENEWAL_EFFECTIVE1.POLICY_ID = PP.POLICY_ID 
		AND RENEWAL_EFFECTIVE1.POLICY_VERSION_ID = PP.POLICY_VERSION_ID
		WHERE  PROCESS_ID=16 AND PROCESS_STATUS = 'COMPLETE' AND MONTH(COMPLETED_DATETIME) = @EPR_MONTH 
		AND YEAR(COMPLETED_DATETIME) = @EPR_YEAR
	)
	RENEWAL_EFFECTIVE_REINSTATE

	FROM POL_CUSTOMER_POLICY_LIST PCPL
	GROUP BY PCPL.CUSTOMER_ID,PCPL.POLICY_ID,PCPL.AGENCY_ID, PCPL.STATE_ID, PCPL.POLICY_LOB, PCPL.POLICY_TYPE 
)

-- SELECT * FROM PROCESS_TABLE

SELECT PT.AGENCY_ID,AG.AGENCY_CODE, AG.AGENCY_DISPLAY_NAME, PT.STATE_ID, STATE.STATE_NAME,  
PT.POLICY_LOB AS LOB_ID , LOB.LOB_DESC, PT.POLICY_TYPE, MLV.LOOKUP_VALUE_DESC AS PRODUCT_TYPE, 
@EPR_MONTH AS MONTH_NUMBER,	@EPR_YEAR YEAR_NUMBER,
SUM(INFORCE_TOTAL) AS INFORCE_TOTAL,
SUM(NBS_COMMITTED) AS NBS_COMMITTED,
SUM(NBS_EFFECTIVE) AS NBS_EFFECTIVE,
SUM(NBS_CANCEL) AS NBS_CANCEL,
SUM(NBS_EFFECTIVE_CANCEL) AS NBS_EFFECTIVE_CANCEL,
SUM(NBS_REINSTATE) AS NBS_REINSTATE,
SUM(NBS_EFFECTIVE_REINSTATE) AS NBS_EFFECTIVE_REINSTATE,
SUM(RENEWAL_COMMITTED) AS RENEWAL_COMMITTED,
SUM(RENEWAL_EFFECTIVE) AS RENEWAL_EFFECTIVE,
SUM(RENEWAL_CANCEL) AS RENEWAL_CANCEL,
SUM(RENEWAL_EFFECTIVE_CANCEL) AS RENEWAL_EFFECTIVE_CANCEL,
SUM(RENEWAL_REINSTATE) AS RENEWAL_REINSTATE,
SUM(RENEWAL_EFFECTIVE_REINSTATE) AS RENEWAL_EFFECTIVE_REINSTATE
FROM PROCESS_TABLE PT
INNER JOIN MNT_AGENCY_LIST AG ON PT.AGENCY_ID=AG.AGENCY_ID
INNER JOIN MNT_LOB_MASTER LOB ON PT.POLICY_LOB=LOB.LOB_ID
INNER JOIN MNT_COUNTRY_STATE_LIST STATE ON PT.STATE_ID=STATE.STATE_ID
LEFT JOIN MNT_LOOKUP_VALUES MLV ON MLV.LOOKUP_UNIQUE_ID= PT.POLICY_TYPE
GROUP BY PT.AGENCY_ID,AG.AGENCY_CODE, AG.AGENCY_DISPLAY_NAME,
PT.STATE_ID, STATE.STATE_NAME, PT.POLICY_LOB , LOB.LOB_DESC, PT.POLICY_TYPE, MLV.LOOKUP_VALUE_DESC
ORDER BY AG.AGENCY_DISPLAY_NAME

END

--GO
--EXEC PROC_RPT_AGENCY_PRODCUTION 6, 2008
--ROLLBACK TRAN




GO

