IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_InsertPolicyExistingUmbrellaDriver]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_InsertPolicyExistingUmbrellaDriver]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------      
Proc Name          	: Dbo.Proc_InsertPolicyExistingUmbrellaDriver      
Created by          	: SWASTIKA   
Date                    : 27TH MAR'06
Purpose              	:       
Revison History 	:      
Used In              	:   Wolverine        

------------------------------------------------------------      
Date     Review By          Comments      
------   ------------       -------------------------*/      
CREATE  PROCEDURE Proc_InsertPolicyExistingUmbrellaDriver      
(      
 @TO_CUSTOMER_ID int,      
 @TO_POLICY_ID int,      
 @TO_POLICY_VERSION_ID int,      
 @FROM_CUSTOMER_ID int,      
 @FROM_POLICY_ID int,      
 @FROM_POLICY_VERSION_ID int,      
 @FROM_DRIVER_ID int,      
 @CREATED_BY_USER_ID  int         
)      
AS      
BEGIN      
Declare @To_Driver_Id int          
SELECT  @To_Driver_Id = ISNULL(MAX(DRIVER_ID),0) + 1      
FROM     POL_UMBRELLA_DRIVER_DETAILS       
WHERE  CUSTOMER_ID=@TO_CUSTOMER_ID      
AND         POLICY_ID=@TO_POLICY_ID      
AND         POLICY_VERSION_ID=@TO_POLICY_VERSION_ID         
      
      
DECLARE @DRIVERCODE VARCHAR(20)      
declare @LASTCHAR  VARCHAR(10)       
declare @FIRSTCHAR  VARCHAR(10)       
      
SET @DRIVERCODE=CONVERT(INT,RAND()*50)        
        
SELECT @FIRSTCHAR=DRIVER_FNAME, @LASTCHAR=DRIVER_LNAME  FROM POL_UMBRELLA_DRIVER_DETAILS   
   WHERE   CUSTOMER_ID=@FROM_CUSTOMER_ID        
    AND         POLICY_ID=@FROM_POLICY_ID        
    AND         POLICY_VERSION_ID=@FROM_POLICY_VERSION_ID        
    AND         DRIVER_ID= @FROM_DRIVER_ID       
SET @DRIVERCODE=(SUBSTRING(@FIRSTCHAR,1,3) + SUBSTRING(@LASTCHAR,1,4) + @DRIVERCODE)   
  
if(@TO_CUSTOMER_ID=@FROM_CUSTOMER_ID and @TO_POLICY_ID=@FROM_POLICY_ID and @TO_POLICY_VERSION_ID=@FROM_POLICY_VERSION_ID)
begin
INSERT INTO POL_UMBRELLA_DRIVER_DETAILS      
(      
 CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,DRIVER_ID,DRIVER_FNAME,DRIVER_MNAME,DRIVER_LNAME,DRIVER_CODE,DRIVER_SUFFIX,DRIVER_ADD1,      
 DRIVER_ADD2,DRIVER_CITY,DRIVER_STATE,DRIVER_ZIP,DRIVER_COUNTRY,DRIVER_HOME_PHONE,DRIVER_BUSINESS_PHONE,DRIVER_EXT,      
 DRIVER_MOBILE,DRIVER_DOB,DRIVER_SSN,DRIVER_MART_STAT,DRIVER_SEX,DRIVER_DRIV_LIC,DRIVER_LIC_STATE,DRIVER_LIC_CLASS,      
 DATE_EXP_START,DATE_LICENSED,DRIVER_REL,DRIVER_DRIV_TYPE,DRIVER_OCC_CODE,DRIVER_OCC_CLASS,DRIVER_DRIVERLOYER_NAME,      
 DRIVER_DRIVERLOYER_ADD,DRIVER_INCOME,DRIVER_BROADEND_NOFAULT,DRIVER_PHYS_MED_IMPAIRE,DRIVER_DRINK_VIOLATION,      
 DRIVER_PREF_RISK,DRIVER_GOOD_STUDENT,DRIVER_STUD_DIST_OVER_HUNDRED,DRIVER_LIC_SUSPENDED,DRIVER_VOLUNTEER_POLICE_FIRE,      
 DRIVER_US_CITIZEN,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,DRIVER_FAX,RELATIONSHIP,DRIVER_TITLE,    
 APP_VEHICLE_PRIN_OCC_ID,VEHICLE_ID      
)      
SELECT      
 @TO_CUSTOMER_ID,@TO_POLICY_ID,@TO_POLICY_VERSION_ID,@To_Driver_Id,DRIVER_FNAME,DRIVER_MNAME,DRIVER_LNAME,@DRIVERCODE,      
 DRIVER_SUFFIX,DRIVER_ADD1,DRIVER_ADD2,DRIVER_CITY,DRIVER_STATE,DRIVER_ZIP,DRIVER_COUNTRY,DRIVER_HOME_PHONE,      
 DRIVER_BUSINESS_PHONE,DRIVER_EXT,DRIVER_MOBILE,DRIVER_DOB,DRIVER_SSN,DRIVER_MART_STAT,DRIVER_SEX,DRIVER_DRIV_LIC,      
 DRIVER_LIC_STATE,DRIVER_LIC_CLASS,DATE_EXP_START,DATE_LICENSED,DRIVER_REL,DRIVER_DRIV_TYPE,DRIVER_OCC_CODE,      
 DRIVER_OCC_CLASS,DRIVER_DRIVERLOYER_NAME,DRIVER_DRIVERLOYER_ADD,DRIVER_INCOME,DRIVER_BROADEND_NOFAULT,      
 DRIVER_PHYS_MED_IMPAIRE,DRIVER_DRINK_VIOLATION,DRIVER_PREF_RISK,DRIVER_GOOD_STUDENT,DRIVER_STUD_DIST_OVER_HUNDRED,      
 DRIVER_LIC_SUSPENDED,DRIVER_VOLUNTEER_POLICE_FIRE,DRIVER_US_CITIZEN,'Y', @CREATED_BY_USER_ID,GETDATE(),      
 DRIVER_FAX,RELATIONSHIP,DRIVER_TITLE,    
 APP_VEHICLE_PRIN_OCC_ID,VEHICLE_ID       
FROM    POL_UMBRELLA_DRIVER_DETAILS      
WHERE   CUSTOMER_ID=@FROM_CUSTOMER_ID      
AND         POLICY_ID=@FROM_POLICY_ID      
AND         POLICY_VERSION_ID=@FROM_POLICY_VERSION_ID      
AND         DRIVER_ID= @FROM_DRIVER_ID      
end
else
begin 

INSERT INTO POL_UMBRELLA_DRIVER_DETAILS      
(      
 CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,DRIVER_ID,DRIVER_FNAME,DRIVER_MNAME,DRIVER_LNAME,DRIVER_CODE,DRIVER_SUFFIX,DRIVER_ADD1,      
 DRIVER_ADD2,DRIVER_CITY,DRIVER_STATE,DRIVER_ZIP,DRIVER_COUNTRY,DRIVER_HOME_PHONE,DRIVER_BUSINESS_PHONE,DRIVER_EXT,      
 DRIVER_MOBILE,DRIVER_DOB,DRIVER_SSN,DRIVER_MART_STAT,DRIVER_SEX,DRIVER_DRIV_LIC,DRIVER_LIC_STATE,DRIVER_LIC_CLASS,      
 DATE_EXP_START,DATE_LICENSED,DRIVER_REL,DRIVER_DRIV_TYPE,DRIVER_OCC_CODE,DRIVER_OCC_CLASS,DRIVER_DRIVERLOYER_NAME,      
 DRIVER_DRIVERLOYER_ADD,DRIVER_INCOME,DRIVER_BROADEND_NOFAULT,DRIVER_PHYS_MED_IMPAIRE,DRIVER_DRINK_VIOLATION,      
 DRIVER_PREF_RISK,DRIVER_GOOD_STUDENT,DRIVER_STUD_DIST_OVER_HUNDRED,DRIVER_LIC_SUSPENDED,DRIVER_VOLUNTEER_POLICE_FIRE,      
 DRIVER_US_CITIZEN,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,DRIVER_FAX,RELATIONSHIP,DRIVER_TITLE 
)      
SELECT      
 @TO_CUSTOMER_ID,@TO_POLICY_ID,@TO_POLICY_VERSION_ID,@To_Driver_Id,DRIVER_FNAME,DRIVER_MNAME,DRIVER_LNAME,@DRIVERCODE,      
 DRIVER_SUFFIX,DRIVER_ADD1,DRIVER_ADD2,DRIVER_CITY,DRIVER_STATE,DRIVER_ZIP,DRIVER_COUNTRY,DRIVER_HOME_PHONE,      
 DRIVER_BUSINESS_PHONE,DRIVER_EXT,DRIVER_MOBILE,DRIVER_DOB,DRIVER_SSN,DRIVER_MART_STAT,DRIVER_SEX,DRIVER_DRIV_LIC,      
 DRIVER_LIC_STATE,DRIVER_LIC_CLASS,DATE_EXP_START,DATE_LICENSED,DRIVER_REL,DRIVER_DRIV_TYPE,DRIVER_OCC_CODE,      
 DRIVER_OCC_CLASS,DRIVER_DRIVERLOYER_NAME,DRIVER_DRIVERLOYER_ADD,DRIVER_INCOME,DRIVER_BROADEND_NOFAULT,      
 DRIVER_PHYS_MED_IMPAIRE,DRIVER_DRINK_VIOLATION,DRIVER_PREF_RISK,DRIVER_GOOD_STUDENT,DRIVER_STUD_DIST_OVER_HUNDRED,      
 DRIVER_LIC_SUSPENDED,DRIVER_VOLUNTEER_POLICE_FIRE,DRIVER_US_CITIZEN,'Y', @CREATED_BY_USER_ID,GETDATE(),      
 DRIVER_FAX,RELATIONSHIP,DRIVER_TITLE
FROM    POL_UMBRELLA_DRIVER_DETAILS      
WHERE   CUSTOMER_ID=@FROM_CUSTOMER_ID      
AND         POLICY_ID=@FROM_POLICY_ID      
AND         POLICY_VERSION_ID=@FROM_POLICY_VERSION_ID      
AND         DRIVER_ID= @FROM_DRIVER_ID      


end



END  


GO

