IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_AddRealTimeLog]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_AddRealTimeLog]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROC DBO.Proc_AddRealTimeLog
(
	@INSURANCE_SVC_RQ	Varchar(100),
	@REQUEST_DATETIME	Datetime,
	@REQUEST_DETAILS	Varchar(1000),
	@RETURN_MESSAGE		Varchar(1000),
	@ADDITIONAL_INFO	Varchar(8000)
)
AS
BEGIN 
	INSERT INTO REALTIME_REQUEST_RESPONSE_LOG (INSURANCE_SVC_RQ,REQUEST_DATETIME,REQUEST_DETAILS,RETURN_MESSAGE,ADDITIONAL_INFO) 
	VALUES (@INSURANCE_SVC_RQ,@REQUEST_DATETIME,@REQUEST_DETAILS,@RETURN_MESSAGE,@ADDITIONAL_INFO)
END


GO

