IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetForm1099Details]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetForm1099Details]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
CREATE PROC [dbo].[Proc_GetForm1099Details] 
(
	@FORM_1099_ID INT
)
AS                                                        
BEGIN                                                                        
                
SET QUOTED_IDENTIFIER OFF      
SELECT
		ISNULL(AGENCY_DISPLAY_NAME,'')  AS A_1099_1_AGENCY_NAME,
		CASE WHEN ISNULL(AGENCY_ADD1,'') = '' THEN '' ELSE  + ISNULL(AGENCY_ADD1,'') + ' ' END  +
		CASE WHEN ISNULL(AGENCY_ADD2,'') = '' THEN '' ELSE  + ', '+ ISNULL(AGENCY_ADD2,'')  END  AS A_1099_1_AGENCY_ADD1,
		ISNULL(AGENCY_CITY,'') + ', ' +	CASE AGENCY_STATE WHEN 22 THEN 'MI ' WHEN 14 THEN 'IN ' ELSE 'WI ' END +  ISNULL(AGENCY_ZIP,'')   AS A_1099_1_AGENCY_STATE_CITY_ZIP,
		CASE WHEN ISNULL(AGENCY_PHONE,'') = '' 
					THEN '' ELSE 'Phone: ' + ISNULL(AGENCY_PHONE,'') END AS A_1099_1_AGENCY_PHONE, 
		RENTS	AS A_1099_1_RENTS,
		ROYALATIES AS A_1099_1_ROYALTIES,
		OTHERINCOME AS A_1099_1_OTHERINCOME,
		FEDERAL_INCOME_TAXWITHHELD AS A_1099_1_FEDERALINCOMETAXHELD,
		--'' AS A_1099_1_PAYORID, --
		AGN.FEDERAL_ID AS A_1099_1_PAYORID, --
		RECIPIENT_IDENTIFICATION AS A_1099_1_RECIPIENTID,
		MEDICAL_AND_HEALTH_CARE_PRODUCTS AS A_1099_1_MEDICALPAYMENTS,
		FISHING_BOAT_PROCEEDS AS A_1099_1_FISHINGBOAT,
		RECIPIENT_NAME AS A_1099_1_RECIPIENTNAME,
		NON_EMPLOYEMENT_COMPENSATION AS A_1099_1_NONEMPLOYEECOMP,
		RECIPIENT_STREET_ADDRESS1 + 
		CASE RECIPIENT_STREET_ADDRESS2
			WHEN ''
				THEN ''
			ELSE 
				', ' + RECIPIENT_STREET_ADDRESS2 
		END AS A_1099_1_STREETADDRESS,
		ISNULL(RECIPIENT_CITY,'')  + ', ' + 
		CASE ISNULL(RECIPIENT_STATE,'') 
		WHEN 14
			THEN 'IN'
		WHEN 22
			THEN 'MI'
		WHEN 49
			THEN 'WI'
		ELSE ''
		END +' '+ 
		ISNULL(RECIPIENT_ZIP,'')  
		AS A_1099_1_RECEIPINT_CITYSTATEZIP,
		PAYER_MADE_DIRECT_SALES AS A_1099_1_DIRECTSALES,
		CROP_INSURANCE_PROCEED AS A_1099_1_CROPINSURANCE,
		'' AS A_1099_1_11NUMBERONLY,
		ACCOUNT_NO AS A_1099_1_ACCOUNTNUMBER,
		EXCESS_GOLDEN_PARACHUTE_PAYMENTS AS A_1099_1_GOLDENPAYMENTS,
		GROSS_PROCEEDS_PAID_TO_AN_ATTORNEY AS A_1099_1_GROSSPAYTOATTORNEY,
		STATE_TAX_WITHHELD AS A_1099_1_STATETAXES,
		STATE_PAYER_STATE_NO AS A_1099_1_STATEPAYERSTATENO,
		STATE_INCOME AS A_1099_1_STATEINCOME,
		SUBSTITUTE_PAYMENTS AS A_1099_1_SUBSTITUTE_PAYMENTS,
		'' AS AGENCY_CODE,
		'' AS AGENCY_DISPLAY_NAME
		FROM FORM_1099 
		INNER JOIN MNT_AGENCY_LIST AGN 
		ON FORM_1099.PAYORS_ID  = AGN.AGENCY_ID
		WHERE FORM_1099_ID = @FORM_1099_ID


END



GO

