IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GenerateReportCLM423]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GenerateReportCLM423]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--DROP PROCEDURE [dbo].[Proc_GenerateReportCLM423]  
CREATE PROCEDURE [dbo].[Proc_GenerateReportCLM423] 
(   
	@AS_ON_DATE		datetime
)
AS  
BEGIN  
  
SELECT CLAIM_ID, CLAIM_NUMBER, INSURED, RESERVE_BALANCE,REINSURANCE_RESERVE_BALANCE,REINSURANCE_CARRIER,MCCA
FROM VW_GenerateReportCLM423
WHERE MONTH_NUMBER = DATEPART(MONTH,@AS_ON_DATE) AND YEAR_NUMBER = DATEPART(YEAR,@AS_ON_DATE)   
ORDER BY CLAIM_NUMBER 
  
END  
  
  
  
--SP_HELPTEXT PROC_CLAIM_FOR_CURRENT_OPEN_TRANS  

--Proc_GenerateReportCLM423 '01/03/2008'
--
--SELECT * FROM MNT_REIN_COMAPANY_LIST WHERE REIN_COMAPANY_ID = 11781


GO

