IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetXMLMNT_REINSURANCE_AGGREGATE_STOP_LOSS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetXMLMNT_REINSURANCE_AGGREGATE_STOP_LOSS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------
Created by      : Deepak Batra
Purpose    	: Get Data for the Aggregate Stop Loss Screen
Date		: 17 Jan 2006
Revison History :
Used In 	: Wolverine
------------------------------------------------------------
Date     Review By          Comments
------   ------------       -------------------------*/

CREATE PROC Dbo.Proc_GetXMLMNT_REINSURANCE_AGGREGATE_STOP_LOSS
(
	@CONTRACT_ID INT
)
AS
BEGIN

SELECT
	AGGREGATE_ID,
	CONTRACT_ID,	
	REINSURANCE_COMPANY,
	REINSURANCE_ACC_NUMBER,
	EFFECTIVE_DATE,
	EXPIRATION_DATE,
	LINE_OF_BUSINESS,
	MRC.COVERAGE_CODE,
	MRCC.CLASS_CODE,
	PERIL,
	STATED_AMOUNT,
	SPECIFIC_LOSS_RATIO,
	IS_ACTIVE,
	CREATED_BY,
	CREATED_DATETIME,
	MODIFIED_BY,
	LAST_UPDATED_DATETIME

FROM  MNT_REIN_AGGREGATE_STOP_LOSS MRAS

LEFT JOIN MNT_REINSURANCE_COVERAGECODE MRC ON MRAS.COVERAGE_CODE = MRC.COVERAGE_ID
LEFT JOIN MNT_REINSURANCE_CLASS_CODE MRCC ON MRAS.CLASS_CODE = MRCC.CLASS_CODE_ID

WHERE 	CONTRACT_ID = @CONTRACT_ID
	
END


GO

