IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_UpdatePolicyBillingInstallmentHistory]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_UpdatePolicyBillingInstallmentHistory]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Pradeep Kushwaha>
-- Create date: <25-Nov-2010>
-- Description:	<Update ACT_POLICY_INSTALLMENT_DETAILS Table and insert the updated record in ACT_POLICY_INSTALLMENT_DETAILS_HISTORY on basis of installment No. >
-- Used In    :	<Ebix Advantage>
-- Drop proc Proc_UpdatePolicyBillingInstallmentHistory  
-- Proc_UpdatePolicyBillingInstallmentHistory 2126,5,1,1,'05/21/2010 12:00:00 AM',10,1,1,1 
-- =============================================

CREATE PROC [dbo].[Proc_UpdatePolicyBillingInstallmentHistory]
	-- Add the parameters for the stored procedure here
 @CUSTOMER_ID   INT,                     -- ID OF CUSTOMER WHOSE  POLICY PREMIUM BILL INSTALLMENT WILL BE POSTED             
 @POLICY_ID  INT,                        -- POLICY IDENTIFICATION NUMBER            
 @POLICY_VERSION_ID SMALLINT,            -- POLICY VERSION IDENTIFICATION NUMBER    
 @INSTALLMENT_NO     INT,                -- BILLING INSTALLMENT NO    
 @ROW_ID INT  ,
 @INSTALLMENT_EFFECTIVE_DATE DATETIME,    
 @INSTALLMENT_EXPIRE_DATE DATETIME,
 --@INTEREST_AMOUNT     DECIMAL(12,2),      
 --@TOTAL DECIMAL(12,2),   
 @MODIFIED_BY         INT,    
 @LAST_UPDATED_DATETIME DATETIME    
 
AS
BEGIN
		--Insert record in ACT_POLICY_INSTALLMENT_DETAILS_HISTORY table 
		  INSERT INTO ACT_POLICY_INSTALLMENT_DETAILS_HISTORY(CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,INSTALLMENT_ROW_ID,RISK_ID,RISK_TYPE,INSTALLMENT_NO,
		  INSTALLMENT_EFFECTIVE_DATE,PERCENTAG_OF_PREMIUM,INSTALLMENT_AMOUNT,INTEREST_AMOUNT,FEE,TAXES,TOTAL,TRAN_PREMIUM_AMOUNT,TRAN_INTEREST_AMOUNT,
		  TRAN_FEE,TRAN_TAXES,TRAN_TOTAL,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,CO_APPLICANT_ID,RELEASED_STATUS,PAYMENT_MODE,
		CURRENT_TERM,BOLETO_NO,IS_BOLETO_GENRATED,INSTALLMENT_EXPIRE_DATE )
			SELECT CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,ROW_ID,RISK_ID,RISK_TYPE,INSTALLMENT_NO,
		  INSTALLMENT_EFFECTIVE_DATE,PERCENTAG_OF_PREMIUM,INSTALLMENT_AMOUNT,INTEREST_AMOUNT,FEE,TAXES,TOTAL,TRAN_PREMIUM_AMOUNT,TRAN_INTEREST_AMOUNT,
		  TRAN_FEE,TRAN_TAXES,TRAN_TOTAL,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,CO_APPLICANT_ID,RELEASED_STATUS,PAYMENT_MODE,
		CURRENT_TERM,BOLETO_NO,IS_BOLETO_GENRATED,INSTALLMENT_EXPIRE_DATE FROM ACT_POLICY_INSTALLMENT_DETAILS  
		WHERE CUSTOMER_ID=@CUSTOMER_ID     
				   AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID 
				   AND INSTALLMENT_NO=@INSTALLMENT_NO AND ROW_ID = @ROW_ID   
	 
	  
		--Update ACT_POLICY_INSTALLMENT_DETAILS with new updated records
        
		UPDATE ACT_POLICY_INSTALLMENT_DETAILS SET    
			   INSTALLMENT_EFFECTIVE_DATE=@INSTALLMENT_EFFECTIVE_DATE,
			   INSTALLMENT_EXPIRE_DATE=@INSTALLMENT_EXPIRE_DATE,
			   --INTEREST_AMOUNT=@INTEREST_AMOUNT,    
			   --TOTAL=@TOTAL,    
			   MODIFIED_BY=@MODIFIED_BY,    
			   LAST_UPDATED_DATETIME=@LAST_UPDATED_DATETIME    
            
		  WHERE CUSTOMER_ID=@CUSTOMER_ID     
		   AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID 
		   AND INSTALLMENT_NO=@INSTALLMENT_NO AND ROW_ID = @ROW_ID  
		
		  
         
       RETURN  1    
      
       IF(@@ERROR<>0)    
       RETURN  -1  
    
    -- Insert statements for procedure here
 
END

GO

