IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_REIN_INSERT_CONTRACTTYPE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[MNT_REIN_INSERT_CONTRACTTYPE]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO




/*
CREATED BY 		: Harmanjeet Singh
CREATED DATE	: April 19,2007
Purpose			: To implement the Insert on the Contract Type
*/
CREATE PROCEDURE [dbo].[MNT_REIN_INSERT_CONTRACTTYPE]
(
	@CONTRACT_TYPE_ID	INT OUTPUT,
	@CONTRACT_TYPE_DESC NVARCHAR(50),
	@IS_ACTIVE	CHAR(1)

)
AS
BEGIN
SELECT @CONTRACT_TYPE_ID = IsNull(Max(CONTRACT_TYPE_ID),0) + 1 FROM MNT_REIN_CONTRACT_TYPE
INSERT INTO  MNT_REIN_CONTRACT_TYPE
(
CONTRACT_TYPE_ID,
CONTRACT_TYPE_DESC,
IS_ACTIVE
	
)
VALUES
(
@CONTRACT_TYPE_ID,
@CONTRACT_TYPE_DESC,
@IS_ACTIVE
)	

END



GO

