IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetACT_INSTALL_PLAN_DETAIL]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetACT_INSTALL_PLAN_DETAIL]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

 /*
 -- Modified by	:sonal
 -- Date		:-09-06-2010
 -- Fetching few extra which are added in billing plan
 -- Modified by	:Pradeep Kushwaha
 -- Date		:-30-06-2010
 -- Purpose		: Add new Fields @RECVE_NOTIFICATION_DOC int  
 -- drop proc dbo.Proc_GetACT_INSTALL_PLAN_DETAIL        
 */
CREATE PROC [dbo].[Proc_GetACT_INSTALL_PLAN_DETAIL]
(        
 @IDEN_PLAN_ID   int 
       
)        
AS       
      
BEGIN        
 SELECT         
 IDEN_PLAN_ID, PLAN_CODE, PLAN_DESCRIPTION,       
 Case PLAN_TYPE WHEN 'M' Then 'Monthly' Else PLAN_TYPE End As PLAN_TYPE,        
 NO_OF_PAYMENTS, MONTHS_BETWEEN, PERCENT_BREAKDOWN1,        
 PERCENT_BREAKDOWN2, PERCENT_BREAKDOWN3, PERCENT_BREAKDOWN4,        
 PERCENT_BREAKDOWN5, PERCENT_BREAKDOWN6, PERCENT_BREAKDOWN7,        
 PERCENT_BREAKDOWN8, PERCENT_BREAKDOWN9, PERCENT_BREAKDOWN10,        
 PERCENT_BREAKDOWN11, PERCENT_BREAKDOWN12,       
 CREATED_BY, CREATED_DATETIME,      
 convert(decimal(18,0),INSTALLMENT_FEES) INSTALLMENT_FEES,      
 convert(decimal(18,0), NON_SUFFICIENT_FUND_FEES) NON_SUFFICIENT_FUND_FEES,      
 convert(decimal(18,0), REINSTATEMENT_FEES) REINSTATEMENT_FEES,      
        convert(decimal(18,0), SERVICE_CHARGE) SERVICE_CHARGE,      
 convert(decimal(18,0), CONVENIENCE_FEES) CONVENIENCE_FEES,      
 GRACE_PERIOD,      
 convert(decimal(18,0), MIN_INSTALLMENT_AMOUNT) MIN_INSTALLMENT_AMOUNT,      
 convert(decimal(18,0), AMTUNDER_PAYMENT) AMTUNDER_PAYMENT,      
 MINDAYS_PREMIUM, MINDAYS_CANCEL,      
 POST_PHONE, POST_CANCEL,      
 ISNULL(DEFAULT_PLAN, 0) DEFAULT_PLAN, SYSTEM_GENERATED_FULL_PAY,      
 PERCENT_BREAKDOWNRP1 ,PERCENT_BREAKDOWNRP2 ,PERCENT_BREAKDOWNRP3 ,PERCENT_BREAKDOWNRP4 ,      
 PERCENT_BREAKDOWNRP5 ,PERCENT_BREAKDOWNRP6 ,PERCENT_BREAKDOWNRP7 ,PERCENT_BREAKDOWNRP8 ,      
 PERCENT_BREAKDOWNRP9 ,PERCENT_BREAKDOWNRP10,PERCENT_BREAKDOWNRP11,PERCENT_BREAKDOWNRP12,      
 convert(decimal(18,0), LATE_FEES) LATE_FEES,      
 APPLABLE_POLTERM,       
 PLAN_PAYMENT_MODE,      
 NO_INS_DOWNPAY,      
 MODE_OF_DOWNPAY,      
 NO_INS_DOWNPAY_RENEW,      
 MODE_OF_DOWNPAY_RENEW,      
 MODE_OF_DOWNPAY1,      
 MODE_OF_DOWNPAY2,      
 MODE_OF_DOWNPAY_RENEW1,      
 MODE_OF_DOWNPAY_RENEW2,      
 PAST_DUE_RENEW,    
 DAYS_DUE_PREM_NOTICE_PRINTD,
 INTREST_RATES,
 BASE_DATE_DOWNPAYMENT,
 DUE_DAYS_DOWNPYMT,
 BDATE_INSTALL_NXT_DOWNPYMT,
 DAYS_LEFT_DUEPYMT_NXT_DOWNPYMNT,
 DOWN_PAYMENT_PLAN,
 DOWN_PAYMENT_PLAN_RENEWAL,
 APP_LOB,
 RECVE_NOTIFICATION_DOC ,
 DAYS_SUBSEQUENT_INSTALLMENTS,
 ACT_INSTALL_PLAN_DETAIL.IS_ACTIVE,
 SUBSEQUENT_INSTALLMENTS_OPTION 
   
 FROM         
   ACT_INSTALL_PLAN_DETAIL   with(nolock)  
   
 
  
 WHERE         
   IDEN_PLAN_ID = @IDEN_PLAN_ID  
   
   
        
END      
      
    
      
      
      
      
      
    
  
  
  
  
GO

