IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_InsertClaimCheckDetail_1099]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_InsertClaimCheckDetail_1099]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--DROP PROC dbo.Proc_InsertClaimCheckDetail_1099   
CREATE  PROC [dbo].[Proc_InsertClaimCheckDetail_1099]   
(   
 @FORM_1099_ID INT,  
 @PARTY_ID INT,  
 @CLAIM_ID INT  
)  
AS   
  
  
  
INSERT INTO CHECK_DETAILS_1099  
  
SELECT @FORM_1099_ID,CHK.CHECK_ID,GETDATE(),'CLM' FROM CLM_PARTIES PART  
INNER JOIN CLM_ACTIVITY CLM   
ON CLM.CLAIM_ID = PART.CLAIM_ID  
INNER JOIN ACT_CHECK_INFORMATION CHK  
ON CHK.CHECK_ID  =  CLM.CHECK_ID 
AND CHK.PAYEE_ENTITY_ID = PART.PARTY_ID 
WHERE   
CLM.CLAIM_ID = @CLAIM_ID AND  
PARTY_ID =@PARTY_ID  
--AND ISNULL(CHK.IS_1099_PROCESSED,'N') <> 'Y'  
AND ISNULL(CHK.IS_PRINTED,'N')  = 'Y'  
AND ISNULL(CHK.IS_COMMITED,'N') = 'Y'  
AND ISNULL(CHK.GL_UPDATE,'0')  <> 2  
AND CHK.CHECK_TYPE = 9937  
  
UNION  
  
SELECT @FORM_1099_ID,CHK.CHECK_ID,GETDATE(),'CLM' FROM CLM_PARTIES PART  
INNER JOIN CLM_ACTIVITY CLM   
ON CLM.CLAIM_ID = PART.CLAIM_ID  
INNER JOIN ACT_CHECK_INFORMATION CHK  
ON CHK.CHECK_ID  =  CLM.CHECK_ID  
AND CHK.PAYEE_ENTITY_ID = PART.PARTY_ID 
WHERE   
CLM.CLAIM_ID = @CLAIM_ID AND  
PARTY_ID =@PARTY_ID  
--AND ISNULL(CHK.IS_1099_PROCESSED,'N') <> 'Y'  
AND ISNULL(CHK.MANUAL_CHECK,'N') = 'Y'  
AND ISNULL(CHK.IS_COMMITED,'N') = 'Y'  
AND ISNULL(CHK.GL_UPDATE,'0')  <> 2  
AND CHK.CHECK_TYPE = 9937  
  
  
  
  
UPDATE ACT_CHECK_INFORMATION SET IS_1099_PROCESSED = 'Y'  
WHERE CHECK_ID IN (  
 SELECT   
  CHK.CHECK_ID  
 FROM   
 CLM_PARTIES PART  
 INNER JOIN CLM_ACTIVITY CLM   
 ON CLM.CLAIM_ID = PART.CLAIM_ID  
 INNER JOIN ACT_CHECK_INFORMATION CHK  
 ON CHK.CHECK_ID  =  CLM.CHECK_ID  
 AND CHK.PAYEE_ENTITY_ID = PART.PARTY_ID 
 WHERE   
 CLM.CLAIM_ID = @CLAIM_ID AND  
 PARTY_ID =@PARTY_ID  
 --AND ISNULL(CHK.IS_1099_PROCESSED,'N') <> 'Y'  
 AND ISNULL(CHK.IS_PRINTED,'N')  = 'Y'  
 AND ISNULL(CHK.IS_COMMITED,'N') = 'Y'  
 AND ISNULL(CHK.GL_UPDATE,'0')  <> 2  
 AND CHK.CHECK_TYPE = 9937  
)  
  
--MANULA CHECK UPDATES IN CHECK TABLE  
  
UPDATE ACT_CHECK_INFORMATION SET IS_1099_PROCESSED = 'Y'  
WHERE CHECK_ID IN (  
 SELECT   
  CHK.CHECK_ID  
 FROM   
 CLM_PARTIES PART  
 INNER JOIN CLM_ACTIVITY CLM   
 ON CLM.CLAIM_ID = PART.CLAIM_ID  
 INNER JOIN ACT_CHECK_INFORMATION CHK  
 ON CHK.CHECK_ID  =  CLM.CHECK_ID  
 AND CHK.PAYEE_ENTITY_ID = PART.PARTY_ID 
 WHERE   
 CLM.CLAIM_ID = @CLAIM_ID AND  
 PARTY_ID =@PARTY_ID  
 --AND ISNULL(CHK.IS_1099_PROCESSED,'N') <> 'Y'  
 AND ISNULL(CHK.MANUAL_CHECK,'N') = 'Y'  
 AND ISNULL(CHK.IS_COMMITED,'N') = 'Y'  
 AND ISNULL(CHK.GL_UPDATE,'0')  <> 2  
 AND CHK.CHECK_TYPE = 9937  
)  
  
  
  


GO

