IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_AddPoliciesToPremiumNoticeSpool]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_AddPoliciesToPremiumNoticeSpool]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran
--drop PROC dbo.Proc_AddPoliciesToPremiumNoticeSpool
--go 

/*----------------------------------------------------------                
Proc Name       :  dbo.Proc_AddPoliciesToPremiumNoticeSpool
Created by      :  Ravindra
Date            :  3-20-2007
Purpose         :  
Revison History :                
Used In         :  Wolverine                
                
Modified By		: Ravindra
Modified Date	: 08-20-2008
Purpose			: For cancelled policies if there is a balance alwasy send a premium notice even if the installment pending is
					less than than under paid allowed.
exec dbo.Proc_AddPoliciesToPremiumNoticeSpool
------------------------------------------------------------                
Date     Review By          Comments                
------   ------------       -------------------------*/                
-- drop PROC dbo.Proc_AddPoliciesToPremiumNoticeSpool
CREATE PROC [dbo].[Proc_AddPoliciesToPremiumNoticeSpool]
AS
BEGIN 
DECLARE @EOD_DATE DateTime

SET NOCOUNT ON

SET @EOD_DATE = CAST(CONVERT(VARCHAR,GETDATE(),101) AS DATETIME)

-- Delete unprocessed records from Spool 
EXEC Proc_DeletePoliciesFromPremiumNoticeSpool

CREATE TABLE #NOTICE_TO_BE_SEND_FOR
(
	CUSTOMER_ID 		Int,
	POLICY_ID   		Int,
	POLICY_VERSION_ID 	Int,
	OPEN_ITEM_ID 		Int,
	DUE_DATE 		DateTime,
	MINDAYS_FROM_NOTICE 	Int,
	INSTALL_PLAN_ID 	Int
)

-- Select All premium type Records From Open Items where Plan Is full Pay and
-- Notice not send for item of premium type , and either item is not paid or under paid
-- and due date meets the condition 
INSERT INTO #NOTICE_TO_BE_SEND_FOR (CUSTOMER_ID ,POLICY_ID ,POLICY_VERSION_ID ,OPEN_ITEM_ID ,DUE_DATE,
		MINDAYS_FROM_NOTICE , INSTALL_PLAN_ID )
SELECT 	CPL.CUSTOMER_ID ,CPL.POLICY_ID,CPL.POLICY_VERSION_ID,OI.IDEN_ROW_ID,OI.DUE_DATE ,
	INS.MINDAYS_PREMIUM , CPL.INSTALL_PLAN_ID 
FROM POL_CUSTOMER_POLICY_LIST CPL WITH(NOLOCK)
INNER JOIN ACT_INSTALL_PLAN_DETAIL INS WITH(NOLOCK)
	ON CPL.INSTALL_PLAN_ID = INS.IDEN_PLAN_ID 
	AND ISNULL(INS.SYSTEM_GENERATED_FULL_PAY ,0) = 1
INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OI WITH(NOLOCK)
	ON OI.CUSTOMER_ID = CPL.CUSTOMER_ID 
	AND OI.POLICY_ID = CPL.POLICY_ID 
	AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID 
	AND DATEDIFF(DD, @EOD_DATE ,  OI.DUE_DATE )  <=  INS.DAYS_DUE_PREM_NOTICE_PRINTD
	AND OI.ITEM_TRAN_CODE_TYPE IN ('PREM','JE') 
	AND ISNULL(OI.NOTICE_SEND,'') <> 'Y'
	AND NOT EXISTS (
			SELECT CUSTOMER_ID FROM POL_CUSTOMER_POLICY_LIST CPLIN 
			WHERE CPLIN.CUSTOMER_ID = CPL.CUSTOMER_ID 
			AND CPLIN.POLICY_ID = CPL.POLICY_ID 
	--Ravindra(11-26-2008): Exclude Suspended and NBS in progress policies
			AND CPLIN.POLICY_STATUS IN ('RESCIND' , 'UCANCL','SUSPENDED','UISSUE')
			)

	--Ravindra(08-20-2008): Exclude Cancelled Policies
	AND dbo.IsCancelledPolicy (CPL.CUSTOMER_ID  , CPL.POLICY_ID ) <> 1 

	AND ISNULL(OI.TOTAL_DUE,0) <> ISNULL(OI.TOTAL_PAID ,0)
	AND ( (ISNULL(OI.TOTAL_DUE,0) - ISNULL(OI.TOTAL_PAID,0)) / ISNULL(OI.TOTAL_DUE,0) - ISNULL(OI.APPLIED_AT_CANCELLATION,0) )*100 
	> ISNULL(INS.AMTUNDER_PAYMENT,0) 
WHERE 
(
	SELECT SUM( ISNULL(TOTAL_DUE ,0)  - ISNULL(TOTAL_PAID, 0 ) ) 
	FROM ACT_CUSTOMER_OPEN_ITEMS OI_SUB 
	WHERE OI.CUSTOMER_ID = OI_SUB.CUSTOMER_ID 
	AND OI.POLICY_ID = OI_SUB.POLICY_ID 
	AND DATEDIFF(DD, @EOD_DATE ,  OI_SUB.DUE_DATE )  <=  INS.DAYS_DUE_PREM_NOTICE_PRINTD
	AND 
	(
		OI_SUB.ITEM_TRAN_CODE_TYPE IN ('PREM','JE','DEP') 
		OR 
		OI_SUB.UPDATED_FROM = 'F'
	)
) > 0 
AND 
(
	SELECT SUM( ISNULL(TOTAL_DUE ,0)  - ISNULL(TOTAL_PAID, 0 ) ) 
	FROM ACT_CUSTOMER_OPEN_ITEMS OI_SUB2 
	WHERE OI.CUSTOMER_ID = OI_SUB2.CUSTOMER_ID 
	AND OI.POLICY_ID = OI_SUB2.POLICY_ID 
	AND 
	(
		OI_SUB2.ITEM_TRAN_CODE_TYPE IN ('PREM','JE','DEP') 
		OR 
		OI_SUB2.UPDATED_FROM = 'F' 
	) 
) > 0 
ORDER BY CPL.CUSTOMER_ID,CPL.POLICY_ID,CPL.POLICY_VERSION_ID

-- Select All premium type Records From Open Items where Plan Installment Based
-- Notice not send for item of premium type , and either installment is not paid or under paid
-- and due date meets the condition 

INSERT INTO #NOTICE_TO_BE_SEND_FOR (CUSTOMER_ID ,POLICY_ID ,POLICY_VERSION_ID ,OPEN_ITEM_ID ,DUE_DATE,
		MINDAYS_FROM_NOTICE , INSTALL_PLAN_ID )
SELECT 	CPL.CUSTOMER_ID ,CPL.POLICY_ID,CPL.POLICY_VERSION_ID,OI.IDEN_ROW_ID,OI.DUE_DATE ,
	INS.MINDAYS_PREMIUM , CPL.INSTALL_PLAN_ID 
FROM POL_CUSTOMER_POLICY_LIST CPL WITH(NOLOCK)
INNER JOIN ACT_INSTALL_PLAN_DETAIL INS WITH(NOLOCK)
	ON CPL.INSTALL_PLAN_ID = INS.IDEN_PLAN_ID 
	AND ISNULL(INS.SYSTEM_GENERATED_FULL_PAY ,0) <> 1
INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OI WITH(NOLOCK)
	ON OI.CUSTOMER_ID = CPL.CUSTOMER_ID 
	AND OI.POLICY_ID = CPL.POLICY_ID 
	AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID 
	AND DATEDIFF(DD, @EOD_DATE ,  OI.DUE_DATE )  <=  INS.DAYS_DUE_PREM_NOTICE_PRINTD
	AND OI.ITEM_TRAN_CODE_TYPE = 'PREM'
	AND ISNULL(OI.NOTICE_SEND,'') <> 'Y'
	AND NOT EXISTS (
			SELECT CUSTOMER_ID FROM POL_CUSTOMER_POLICY_LIST CPLIN 
			WHERE CPLIN.CUSTOMER_ID = CPL.CUSTOMER_ID 
			AND CPLIN.POLICY_ID = CPL.POLICY_ID 
		--Ravindra(11-26-2008): Exclude Suspended and NBS in progress policies
			AND CPLIN.POLICY_STATUS IN ('RESCIND' , 'UCANCL','SUSPENDED','UISSUE')
			AND CPLIN.POLICY_VERSION_ID  >= OI.POLICY_VERSION_ID
			)

	--Ravindra(08-20-2008): Exclude Cancelled Policies
	AND dbo.IsCancelledPolicy (CPL.CUSTOMER_ID  , CPL.POLICY_ID ) <> 1 

	AND ISNULL(OI.TOTAL_DUE,0) <> ISNULL(OI.TOTAL_PAID,0)
LEFT  JOIN ACT_POLICY_INSTALLMENT_DETAILS INSD WITH(NOLOCK) 
ON 	OI.INSTALLMENT_ROW_ID  = INSD.ROW_ID
WHERE (
		SELECT  ((  SUM(ISNULL(OI1.TOTAL_DUE,0)) - SUM(ISNULL(OI1.TOTAL_PAID,0)) )
			/
			(SUM(ISNULL(OI1.TOTAL_DUE,0) - ISNULL(OI1.APPLIED_AT_CANCELLATION,0) )))	
			* 100
		FROM ACT_CUSTOMER_OPEN_ITEMS OI1 WITH(NOLOCK)
		LEFT  JOIN ACT_POLICY_INSTALLMENT_DETAILS INSD1 WITH(NOLOCK) 
			ON OI1.INSTALLMENT_ROW_ID  = INSD1.ROW_ID
		WHERE 	OI1.CUSTOMER_ID = CPL.CUSTOMER_ID 
			AND OI1.POLICY_ID = CPL.POLICY_ID
			AND INSD1.CURRENT_TERM  = CPL.CURRENT_TERM
			AND INSD1.INSTALLMENT_NO = INSD.INSTALLMENT_NO
			AND OI1.ITEM_TRAN_CODE_TYPE = 'PREM'
			--AND ISNULL(OI1.NOTICE_SEND,'') <> 'Y'
			GROUP BY INSD1.INSTALLMENT_NO
	) > INS.AMTUNDER_PAYMENT 
AND (
	SELECT SUM( ISNULL(TOTAL_DUE ,0)  - ISNULL(TOTAL_PAID, 0 ) ) 
	FROM ACT_CUSTOMER_OPEN_ITEMS OI_SUB 
	WHERE OI.CUSTOMER_ID = OI_SUB.CUSTOMER_ID 
	AND OI.POLICY_ID = OI_SUB.POLICY_ID 
	AND DATEDIFF(DD, @EOD_DATE ,  OI_SUB.DUE_DATE )  <=  INS.DAYS_DUE_PREM_NOTICE_PRINTD
	AND 
	(
		OI_SUB.ITEM_TRAN_CODE_TYPE IN ('PREM','JE','DEP') 
		OR 
		OI_SUB.UPDATED_FROM = 'F' 
	)
) > 0 
AND 
(
	SELECT SUM( ISNULL(TOTAL_DUE ,0)  - ISNULL(TOTAL_PAID, 0 ) ) 
	FROM ACT_CUSTOMER_OPEN_ITEMS OI_SUB2 
	WHERE OI.CUSTOMER_ID = OI_SUB2.CUSTOMER_ID 
	AND OI.POLICY_ID = OI_SUB2.POLICY_ID 
	AND 
	(
		OI_SUB2.ITEM_TRAN_CODE_TYPE IN ('PREM','JE' , 'DEP') 
		OR 
		OI_SUB2.UPDATED_FROM = 'F' 
	)
) > 0 
ORDER BY CPL.CUSTOMER_ID,CPL.POLICY_ID,CPL.POLICY_VERSION_ID


--Ravindra(08-20-2008): Include Cancelled Policies with balance due regardless of under paid condition


--Full Pay 
INSERT INTO #NOTICE_TO_BE_SEND_FOR (CUSTOMER_ID ,POLICY_ID ,POLICY_VERSION_ID ,OPEN_ITEM_ID ,DUE_DATE,
		MINDAYS_FROM_NOTICE , INSTALL_PLAN_ID )
SELECT 	CPL.CUSTOMER_ID ,CPL.POLICY_ID,CPL.POLICY_VERSION_ID,OI.IDEN_ROW_ID,OI.DUE_DATE ,
	INS.MINDAYS_PREMIUM , CPL.INSTALL_PLAN_ID 
FROM POL_CUSTOMER_POLICY_LIST CPL WITH(NOLOCK)
INNER JOIN ACT_INSTALL_PLAN_DETAIL INS WITH(NOLOCK)
	ON CPL.INSTALL_PLAN_ID = INS.IDEN_PLAN_ID 
	AND ISNULL(INS.SYSTEM_GENERATED_FULL_PAY ,0) = 1
INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OI WITH(NOLOCK)
	ON OI.CUSTOMER_ID = CPL.CUSTOMER_ID 
	AND OI.POLICY_ID = CPL.POLICY_ID 
	AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID 
	AND DATEDIFF(DD, @EOD_DATE ,  OI.DUE_DATE )  <=  INS.DAYS_DUE_PREM_NOTICE_PRINTD
	AND OI.ITEM_TRAN_CODE_TYPE IN ('PREM','JE') 
	AND ISNULL(OI.NOTICE_SEND,'') <> 'Y'
	AND NOT EXISTS (
			SELECT CUSTOMER_ID FROM POL_CUSTOMER_POLICY_LIST CPLIN 
			WHERE CPLIN.CUSTOMER_ID = CPL.CUSTOMER_ID 
			AND CPLIN.POLICY_ID = CPL.POLICY_ID 
			AND CPLIN.POLICY_STATUS IN ('RESCIND' , 'UCANCL')
			)
	AND dbo.IsCancelledPolicy (CPL.CUSTOMER_ID  , CPL.POLICY_ID ) = 1 
	AND ISNULL(OI.TOTAL_DUE,0) <> ISNULL(OI.TOTAL_PAID ,0)
WHERE 
(
	SELECT SUM( ISNULL(TOTAL_DUE ,0)  - ISNULL(TOTAL_PAID, 0 ) ) 
	FROM ACT_CUSTOMER_OPEN_ITEMS OI_SUB 
	WHERE OI.CUSTOMER_ID = OI_SUB.CUSTOMER_ID 
	AND OI.POLICY_ID = OI_SUB.POLICY_ID 
	AND DATEDIFF(DD, @EOD_DATE ,  OI_SUB.DUE_DATE )  <=  INS.DAYS_DUE_PREM_NOTICE_PRINTD
	AND 
	(
		OI_SUB.ITEM_TRAN_CODE_TYPE IN ('PREM','JE','DEP') 
		OR 
		OI_SUB.UPDATED_FROM = 'F'
	)
) > 0 
AND 
(
	SELECT SUM( ISNULL(TOTAL_DUE ,0)  - ISNULL(TOTAL_PAID, 0 ) ) 
	FROM ACT_CUSTOMER_OPEN_ITEMS OI_SUB2 
	WHERE OI.CUSTOMER_ID = OI_SUB2.CUSTOMER_ID 
	AND OI.POLICY_ID = OI_SUB2.POLICY_ID 
	AND 
	(
		OI_SUB2.ITEM_TRAN_CODE_TYPE IN ('PREM','JE','DEP') 
		OR 
		OI_SUB2.UPDATED_FROM = 'F' 
	) 
) > 0 
ORDER BY CPL.CUSTOMER_ID,CPL.POLICY_ID,CPL.POLICY_VERSION_ID

-- Policies on Installment Plan 
INSERT INTO #NOTICE_TO_BE_SEND_FOR (CUSTOMER_ID ,POLICY_ID ,POLICY_VERSION_ID ,OPEN_ITEM_ID ,DUE_DATE,
		MINDAYS_FROM_NOTICE , INSTALL_PLAN_ID )
SELECT 	CPL.CUSTOMER_ID ,CPL.POLICY_ID,CPL.POLICY_VERSION_ID,OI.IDEN_ROW_ID,OI.DUE_DATE ,
	INS.MINDAYS_PREMIUM , CPL.INSTALL_PLAN_ID 
FROM POL_CUSTOMER_POLICY_LIST CPL WITH(NOLOCK)
INNER JOIN ACT_INSTALL_PLAN_DETAIL INS WITH(NOLOCK)
	ON CPL.INSTALL_PLAN_ID = INS.IDEN_PLAN_ID 
	AND ISNULL(INS.SYSTEM_GENERATED_FULL_PAY ,0) <> 1
INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OI WITH(NOLOCK)
	ON OI.CUSTOMER_ID = CPL.CUSTOMER_ID 
	AND OI.POLICY_ID = CPL.POLICY_ID 
	AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID 
	AND DATEDIFF(DD, @EOD_DATE ,  OI.DUE_DATE )  <=  INS.DAYS_DUE_PREM_NOTICE_PRINTD
	AND OI.ITEM_TRAN_CODE_TYPE = 'PREM'
	AND ISNULL(OI.NOTICE_SEND,'') <> 'Y'
	AND NOT EXISTS (
			SELECT CUSTOMER_ID FROM POL_CUSTOMER_POLICY_LIST CPLIN 
			WHERE CPLIN.CUSTOMER_ID = CPL.CUSTOMER_ID 
			AND CPLIN.POLICY_ID = CPL.POLICY_ID 
			AND CPLIN.POLICY_STATUS IN ('RESCIND','UCANCL')
			AND CPLIN.POLICY_VERSION_ID  >= OI.POLICY_VERSION_ID
			)
	AND dbo.IsCancelledPolicy (CPL.CUSTOMER_ID  , CPL.POLICY_ID ) = 1 
	AND ISNULL(OI.TOTAL_DUE,0) <> ISNULL(OI.TOTAL_PAID,0)
LEFT  JOIN ACT_POLICY_INSTALLMENT_DETAILS INSD WITH(NOLOCK) 
ON 	OI.INSTALLMENT_ROW_ID  = INSD.ROW_ID
WHERE 
(
	SELECT SUM( ISNULL(TOTAL_DUE ,0)  - ISNULL(TOTAL_PAID, 0 ) ) 
	FROM ACT_CUSTOMER_OPEN_ITEMS OI_SUB 
	WHERE OI.CUSTOMER_ID = OI_SUB.CUSTOMER_ID 
	AND OI.POLICY_ID = OI_SUB.POLICY_ID 
	AND DATEDIFF(DD, @EOD_DATE ,  OI_SUB.DUE_DATE )  <=  INS.DAYS_DUE_PREM_NOTICE_PRINTD
	AND 
	(
		OI_SUB.ITEM_TRAN_CODE_TYPE IN ('PREM','JE','DEP') 
		OR 
		OI_SUB.UPDATED_FROM = 'F' 
	)
) > 0 
AND 
(
	SELECT SUM( ISNULL(TOTAL_DUE ,0)  - ISNULL(TOTAL_PAID, 0 ) ) 
	FROM ACT_CUSTOMER_OPEN_ITEMS OI_SUB2 
	WHERE OI.CUSTOMER_ID = OI_SUB2.CUSTOMER_ID 
	AND OI.POLICY_ID = OI_SUB2.POLICY_ID 
	AND 
	(
		OI_SUB2.ITEM_TRAN_CODE_TYPE IN ('PREM','JE' , 'DEP') 
		OR 
		OI_SUB2.UPDATED_FROM = 'F' 
	)
) > 0 
ORDER BY CPL.CUSTOMER_ID,CPL.POLICY_ID,CPL.POLICY_VERSION_ID



--  End Adding calcelled policied


CREATE TABLE #NOTICE_SPOOL
(
	IDEN_COL		INt Identity(1,1),
	CUSTOMER_ID 		Int,
	POLICY_ID   		Int,
	POLICY_VERSION_ID 	Int,
	OPEN_ITEM_ID 		Int,
	DUE_DATE 		DateTime,
	MINDAYS_FROM_NOTICE 	Int,
	INSTALL_PLAN_ID 	Int
)
INSERT INTO #NOTICE_SPOOL (CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,
			OPEN_ITEM_ID , DUE_DATE , MINDAYS_FROM_NOTICE , INSTALL_PLAN_ID)
SELECT 	CUSTOMER_ID ,POLICY_ID,POLICY_VERSION_ID 
	, OPEN_ITEM_ID ,DUE_DATE  , MINDAYS_FROM_NOTICE , INSTALL_PLAN_ID
FROM #NOTICE_TO_BE_SEND_FOR
ORDER BY CUSTOMER_ID,POLICY_ID,DUE_DATE

DROP TABLE #NOTICE_TO_BE_SEND_FOR

CREATE TABLE #REF_IDS 
( 
	IDEN_COL		Int Identity(1,1),
	REF_OPEN_ITEM_ID 	Int
)


DECLARE @IDEN_COL 		Int,
		@CUSTOMER_ID		Int,
		@POLICY_ID		Int,
		@LAST_DEPOSIT 		Datetime,
		@LAST_RENEWAL 		Datetime , 
		@LAST_PREMIUM		DAtetime,
		@REF_IDS		Varchar(500),
		@MINDAYS_FROM_NOTICE 	Int,
		@DUE_DATE		Datetime ,
		@LAST_REWRITE	Datetime , 
		@LAST_REINSTATEMENT Datetime,
		@FORCE_NOTICE	Bit

DECLARE @RENEWAL Int , 
		@REWRITE Int,
		@REINSTATEMENT Int

SET @RENEWAL  = 18 
SET	@REWRITE  = 32
SET	@REINSTATEMENT = 16 

SET @IDEN_COL = 1

WHILE 1=1 
BEGIN 
	IF NOT EXISTS (SELECT CUSTOMER_ID FROM #NOTICE_SPOOL 
		WHERE IDEN_COL = @IDEN_COL )
	BEGIN 
		BREAK	
	END	

	SELECT	@CUSTOMER_ID = CUSTOMER_ID ,
			@POLICY_ID  = POLICY_ID ,
			@MINDAYS_FROM_NOTICE = MINDAYS_FROM_NOTICE ,
			@LAST_DEPOSIT = NULL , 
			@LAST_RENEWAL = NULL , 
			@LAST_REWRITE =	NULL, 
			@LAST_REINSTATEMENT = NULL ,
			@FORCE_NOTICE = 0
	FROM #NOTICE_SPOOL 
	WHERE IDEN_COL = @IDEN_COL
	

	-- No need to add to Spool if there is already a unprocessed record for policy
	IF EXISTS (SELECT SPOOL_ID FROM  ACT_PREMIUM_NOTICE_SPOOL  
			WHERE CUSTOMER_ID = @CUSTOMER_ID 
			AND POLICY_ID = @POLICY_ID
			AND ISNULL(PROCESSED,0) <> 1
		)
	BEGIN 
		SET @IDEN_COL = @IDEN_COL + 1
		CONTINUE
	END

	-- Fetch Last Deposit Date
	SELECT @LAST_DEPOSIT = MAX(POSTING_DATE) 
	FROM ACT_CUSTOMER_OPEN_ITEMS
	WHERE CUSTOMER_ID = @CUSTOMER_ID 
	AND POLICY_ID = @POLICY_ID
	AND 
		(
			UPDATED_FROM = 'D'
			or
			(
				ITEM_TRAN_CODE = 'JE' AND ISNULL(TOTAL_DUE,0) < 0 
			)	
		)
	
	-- Fetch last Renewal date
	SELECT @LAST_RENEWAL = MAX(COMPLETED_DATETIME) 
	FROM POL_POLICY_PROCESS 
	WHERE CUSTOMER_ID = @CUSTOMER_ID 
	AND POLICY_ID = @POLICY_ID
	AND PROCESS_ID = @RENEWAL
	AND ISNULL(REVERT_BACK,'N') <> 'Y'

	-- Fetch last Rewrite date
	SELECT @LAST_REWRITE = MAX(COMPLETED_DATETIME) 
	FROM POL_POLICY_PROCESS 
	WHERE CUSTOMER_ID = @CUSTOMER_ID 
	AND POLICY_ID = @POLICY_ID
	AND PROCESS_ID = @REWRITE

	-- Fetch last Reinstatement date
	SELECT @LAST_REINSTATEMENT = MAX(COMPLETED_DATETIME) 
	FROM POL_POLICY_PROCESS 
	WHERE CUSTOMER_ID = @CUSTOMER_ID 
	AND POLICY_ID = @POLICY_ID
	AND PROCESS_ID = @REINSTATEMENT

	-- Fetch last premium notice date 
		
	SELECT @LAST_PREMIUM = MAX(CREATED_DATE) 
	FROM ACT_CUSTOMER_BALANCE_INFORMATION 
	WHERE CUSTOMER_ID = @CUSTOMER_ID 
	AND POLICY_ID = @POLICY_ID
	AND NOTICE_TYPE = 'PREM_NOTICE'
	AND UPDATED_FROM = 'T'

	IF(ISNULL(@LAST_REWRITE,'1900-1-1') > 	ISNULL(@LAST_PREMIUM ,'1900-1-1') 
		OR 
		ISNULL(@LAST_REINSTATEMENT,'1900-1-1') > 	ISNULL(@LAST_PREMIUM ,'1900-1-1') 	
	   ) 
	BEGIN 
		SET @FORCE_NOTICE = 1 
	END
	

	--Ravindra(10-24-2008) : If policy is cancelled and a balance is left force PN irespective of other conditions
	
	IF(dbo.IsCancelledPolicy (@CUSTOMER_ID  , @POLICY_ID ) = 1 ) 
	BEGIN 
		SET @FORCE_NOTICE = 1 
	END

	-- If No Rewirte and reinstatement check other conditions else sent notice 
	IF ( @FORCE_NOTICE = 0 ) 
	BEGIN 
		-- If renewal is performed after last Premium notice override payment condition
		-- sened notice even if no payment recieved ( Sally 11-15-07)
		IF(@LAST_RENEWAL IS NULL OR ISNULL(@LAST_RENEWAL,'1900-1-1') < 	ISNULL(@LAST_PREMIUM ,'1900-1-1') )
		BEGIN 
			-- If premium notice sent and no Deposit recieved thereafter no need to send Premium notice again 
			--No deposit at all at policy but a notice is not generated
			IF( @LAST_DEPOSIT IS NULL AND @LAST_PREMIUM IS NOT NULL )
			BEGIN 
				SET @IDEN_COL = @IDEN_COL + 1
				CONTINUE
			END
			--No deposit after a notice is not generated
			IF( @LAST_DEPOSIT IS NOT NULL AND @LAST_PREMIUM IS NOT NULL )
			BEGIN 
				IF( ISNULL(@LAST_DEPOSIT,'1900-1-1') < 	ISNULL(@LAST_PREMIUM ,'1900-1-1') )
				BEGIN 
					SET @IDEN_COL = @IDEN_COL + 1
					CONTINUE
				END
			END
		END
	END

	TRUNCATE TABLE #REF_IDS  
	SET @REF_IDS  = ''
	INSERT INTO #REF_IDS (REF_OPEN_ITEM_ID) 
	SELECT OPEN_ITEM_ID FROM #NOTICE_SPOOL
	WHERE CUSTOMER_ID = @CUSTOMER_ID 
	AND POLICY_ID = @POLICY_ID 

	DECLARE @IDENT_COL Int,
		@OPEN_ITEM_ID Int,
		@FIRST_ITERATION CHAR(1)
	
	SET @IDENT_COL = 1
	SET @FIRST_ITERATION  = 'Y'
	WHILE 1=1 
	BEGIN
		IF NOT EXISTS (SELECT IDEN_COL FROM #REF_IDS WHERE IDEN_COL = @IDENT_COL)
		BEGIN 
			BREAK
		END		
		SELECT @OPEN_ITEM_ID = REF_OPEN_ITEM_ID FROM #REF_IDS WHERE IDEN_COL = @IDENT_COL
		
		IF(@FIRST_ITERATION  = 'Y')
		BEGIN 
			SET @REF_IDS = @REF_IDS +  CONVERT(VARCHAR,@OPEN_ITEM_ID)
		END 
		ELSE
		BEGIN
			SET @REF_IDS = @REF_IDS + ',' + CONVERT(VARCHAR,@OPEN_ITEM_ID)
		END
		
		SET @FIRST_ITERATION   = 'N'
		SET @IDENT_COL = @IDENT_COL + 1
	END	


	SELECT @DUE_DATE = MAX(DUE_DATE) 
	FROM ACT_CUSTOMER_OPEN_ITEMS 
	WHERE IDEN_ROW_ID IN (SELECT REF_OPEN_ITEM_ID FROM #REF_IDS)
	
	
	IF( CAST(CONVERT(VARCHAR,DATEADD(DD,@MINDAYS_FROM_NOTICE, @EOD_DATE ),101) AS DATETIME)
		 > CAST(CONVERT(VARCHAR,@DUE_DATE,101) AS VARCHAR))
	BEGIN 
		SET @DUE_DATE = DATEADD(DD,@MINDAYS_FROM_NOTICE, @EOD_DATE )
	END

	IF(DATENAME(DW,@DUE_DATE) = 'Sunday')
	BEGIN 
		SET @DUE_DATE = DATEADD(DD,1, @DUE_DATE )
	END
	IF(DATENAME(DW,@DUE_DATE) = 'Saturday')
	BEGIN 
		SET @DUE_DATE = DATEADD(DD,2, @DUE_DATE )
	END

	INSERT INTO ACT_PREMIUM_NOTICE_SPOOL (CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,CREATED_DATETIME,	PROCESSED,
			NOTICE_DUE_DATE , MINDAYS_FROM_NOTICE , INSTALL_PLAN_ID, SENT_AGAINST )
	
	SELECT CUSTOMER_ID ,POLICY_ID,POLICY_VERSION_ID , @EOD_DATE , 0 ,
		 @DUE_DATE  ,  MINDAYS_FROM_NOTICE ,
		 INSTALL_PLAN_ID , @REF_IDS
	FROM #NOTICE_SPOOL 
	WHERE IDEN_COL = @IDEN_COL

	DECLARE @QUERY VARCHAR(600)
	SET @QUERY = 'UPDATE ACT_CUSTOMER_OPEN_ITEMS SET NOTICE_SEND = ''Y'' 
	WHERE IDEN_ROW_ID IN (' +  @REF_IDS + ')'
	
	EXEC (@QUERY)	

	SET @IDEN_COL = @IDEN_COL + 1
END

DROP TABLE #NOTICE_SPOOL
DROP TABLE #REF_IDS

END
 
--GO
--
--exec dbo.Proc_AddPoliciesToPremiumNoticeSpool
--
--select * from ACT_PREMIUM_NOTICE_SPOOL where customer_id = 1432 
--order by spool_id desc
--
--rollback tran 



GO

