IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_POLICY_Portfolio]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_POLICY_Portfolio]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[PROC_POLICY_Portfolio]      
 @CUSTOMER_ID int = null,    
 @POLICY_ID INT = null,    
 @POLICY_VERSION_ID INT = null    
AS      
BEGIN      
SELECT     
 TABLE1.CUSTOMER_ID AS CUSTOMER_ID,    
 TABLE1.POLICY_ID AS POLICY_ID ,    
 TABLE1.POLICY_VERSION_ID AS POLICY_VERSION_ID, 	    
	TABLE1.CARRIER AS SEGURADORA,     
	TABLE1.CARRIER_SUSEP_CODE AS [COD SUSEP],    
	TABLE1.PRODUCT_DESCRIPTION AS [PRODUTO],     
	TABLE1.Process AS [PROCESSO],     
	TABLE1.LOB AS  [RAMO CONTÁBIL],    
	TABLE1.ALBA_BRANCH_NAME AS [FILIAL EMISSORA],     
	TABLE1.ALBA_BRANCH_CODE AS [COD FILIAL EMISSORA],    
	TABLE1.POLICY_NUMBER AS [NRO APOLICE],    
	TABLE1.ENDORSEMENT_NUMBER AS [NRO ENDOSSO],         
	TABLE1.POSTING_DATE AS [DATA BASE],    
	Table1.COMMIT_DATE AS [DATA EMISSÃO],    
	TABLE1.EFFECTIVE_DATE AS [INÍCIO VIGÊNCIA],     
	TABLE1.EXPIRE_DATE AS [FINAL VIGÊNCIA],     
	TABLE1.[APPLICANT/COAPPLICANT] AS [ESTIPULANTE/SUB-ESTIPULANTE],     
	TABLE1.[CPF_CNPJ_FROM_APPLICANT_OR_COAPP] AS [CPF/CNPJ],     
	TABLE1.CURRENCY AS MOEDA,               
	TABLE1.[ISSUED_PREMIUM] AS [PREMIO EMITIDO],          
             
         ----------[ACCEPTED CO PREMIUM]-------------------    
          (    
   SELECT ABS(SUM(ISNULL(TOTAL_DUE, 0)))    
   FROM ACT_COI_OPEN_ITEMS COI       
   WHERE COI.CUSTOMER_ID = TABLE1.CUSTOMER_ID AND COI.POLICY_ID = TABLE1.POLICY_ID     
     AND COI.POLICY_VERSION_ID = TABLE1.POLICY_VERSION_ID     
     AND COI.UPDATED_FROM = 'P'  AND   Table1.CO_INSURANCE = 14549     
     AND  COI.ITEM_STATUS = 'DP' AND RIGHT(COI.ITEM_TRAN_CODE, 1) = 'P'    
   )     
   AS [PREMIO COSSEGURO ACEITO],     
              
              
          ---------------CANCELLED_PREMIUM_DIRECT---------    
          CASE WHEN TABLE1.CO_INSURANCE = 14547      
   THEN    
    CASE WHEN  EXISTS(    
         SELECT PPPS.CUSTOMER_ID     
         FROM POL_POLICY_PROCESS PPPS     
         WHERE     
          PPPS.CUSTOMER_ID = Table1.CUSTOMER_ID AND PPPS.POLICY_ID = Table1.POLICY_ID     
          AND PPPS.PROCESS_ID in (12))      
     THEN     
      (SELECT  dbo.fun_FormatCurrency(ABS(SUM(ACOI.TOTAL_DUE))- ABS(SUM(ACOI.TOTAL_PAID)),'2')     
      FROM ACT_CUSTOMER_OPEN_ITEMS ACOI    
      INNER JOIN POL_POLICY_PROCESS PPP ON PPP.CUSTOMER_ID = ACOI.CUSTOMER_ID AND PPP.POLICY_ID = ACOI.POLICY_ID AND PPP.NEW_POLICY_VERSION_ID = ACOI.POLICY_VERSION_ID    
      WHERE  PPP.PROCESS_ID  IN (25, 14, 18) AND  RIGHT(ACOI.ITEM_TRAN_CODE, 1) = 'P' AND     
       ACOI.CUSTOMER_ID = TABLE1.CUSTOMER_ID AND ACOI.POLICY_ID = TABLE1.POLICY_ID AND ACOI.POLICY_VERSION_ID = TABLE1.POLICY_VERSION_ID    
      GROUP BY PPP.PROCESS_ID    
    )         
    ELSE '0,00' END     
     ELSE '0,00' END    
     AS [PREMIO CANCELAMENTO SEGURO],     
          
          ---------CANCELLED_PREMIUM_ACCEPTED_CO---------------    
            CASE WHEN TABLE1.CO_INSURANCE = 14549     
   THEN    
    CASE WHEN  EXISTS(    
         SELECT PPPS.CUSTOMER_ID     
         FROM POL_POLICY_PROCESS PPPS     
         WHERE     
          PPPS.CUSTOMER_ID = Table1.CUSTOMER_ID AND PPPS.POLICY_ID = Table1.POLICY_ID     
          AND PPPS.PROCESS_ID in (12))      
     THEN     
      (SELECT  dbo.fun_FormatCurrency(ABS(SUM(ACOI.TOTAL_DUE))- ABS(SUM(ACOI.TOTAL_PAID)),'2')     
      FROM ACT_COI_OPEN_ITEMS ACOI    
      INNER JOIN POL_POLICY_PROCESS PPP ON PPP.CUSTOMER_ID = ACOI.CUSTOMER_ID AND PPP.POLICY_ID = ACOI.POLICY_ID AND PPP.NEW_POLICY_VERSION_ID = ACOI.POLICY_VERSION_ID    
      WHERE  PPP.PROCESS_ID  IN (25, 14, 18) AND  RIGHT(ACOI.ITEM_TRAN_CODE, 1) = 'P' AND     
       ACOI.CUSTOMER_ID = TABLE1.CUSTOMER_ID AND ACOI.POLICY_ID = TABLE1.POLICY_ID AND ACOI.POLICY_VERSION_ID = TABLE1.POLICY_VERSION_ID    
      GROUP BY PPP.PROCESS_ID    
    )         
    ELSE '0,00' END     
     ELSE '0,00' END    
     AS [PREMIO CANCELAMENTO COSSEGURO],          
              
  ---------REFUND_PREMIUM_DIRECT-------------------     
   CASE WHEN TABLE1.CO_INSURANCE = 14547  THEN    
     CASE WHEN  EXISTS(SELECT PPPS.CUSTOMER_ID FROM POL_POLICY_PROCESS PPPS WHERE     
       PPPS.CUSTOMER_ID = Table1.CUSTOMER_ID AND PPPS.POLICY_ID = Table1.POLICY_ID     
      AND PPPS.PROCESS_ID in (12, 14, 18))    
      THEN      
      (SELECT dbo.fun_FormatCurrency(ABS(SUM(TOTAL_DUE)),2) FROM ACT_CUSTOMER_OPEN_ITEMS CUST_OI WITH (NOLOCK)     
        INNER JOIN  POL_POLICY_PROCESS PPP WITH(NOLOCK)     
        ON CUST_OI.CUSTOMER_ID = PPP.CUSTOMER_ID AND CUST_OI.POLICY_ID = PPP.POLICY_ID     
        AND CUST_OI.POLICY_VERSION_ID = PPP.NEW_POLICY_VERSION_ID         
       WHERE CUST_OI.CUSTOMER_ID = CUST_OI.CUSTOMER_ID     
         AND CUST_OI.POLICY_ID = TABLE1.POLICY_ID --AND CUST_OI.POLICY_VERSION_ID = TABLE1.POLICY_VERSION_ID     
         AND --CUST_OI.TOTAL_DUE < 0 AND     
         CUST_OI.UPDATED_FROM = 'P' AND   PPP.PROCESS_ID IN (12,14)      
         AND RIGHT(CUST_OI.ITEM_TRAN_CODE, 1) = 'P'     
         AND CUST_OI.ITEM_STATUS = 'RP'    
      )     
   ELSE '0,00' END ELSE '0,00'  END    
   AS [RESTITUICAO PREMIO SEGURO DIRETO],     
       
       
    ---------REFUND_PREMIUM_ACCEPTED_CO---------------    
           CASE WHEN TABLE1.CO_INSURANCE = 14549  THEN    
     CASE WHEN  EXISTS(SELECT PPPS.CUSTOMER_ID FROM POL_POLICY_PROCESS PPPS WHERE     
       PPPS.CUSTOMER_ID = Table1.CUSTOMER_ID AND PPPS.POLICY_ID = Table1.POLICY_ID     
      AND PPPS.PROCESS_ID in (12, 14, 18))    
      THEN      
      (SELECT dbo.fun_FormatCurrency(ABS(SUM(TOTAL_DUE)),2) FROM ACT_COI_OPEN_ITEMS COI WITH(NOLOCK) INNER JOIN  POL_POLICY_PROCESS PPP WITH(NOLOCK)     
       ON (COI.CUSTOMER_ID = PPP.CUSTOMER_ID AND COI.POLICY_ID = PPP.POLICY_ID AND COI.POLICY_VERSION_ID = PPP.NEW_POLICY_VERSION_ID)      
      WHERE COI.CUSTOMER_ID = TABLE1.CUSTOMER_ID AND COI.POLICY_ID = TABLE1.POLICY_ID     
      AND COI.POLICY_VERSION_ID = TABLE1.POLICY_VERSION_ID AND     
       COI.UPDATED_FROM = 'P' --AND   PPP.PROCESS_ID IN (12,14) AND   Table1.CO_INSURANCE = 14549     
       AND   COI.ITEM_STATUS = 'RP' --AND COI.TOTAL_DUE < 0     
       AND RIGHT(COI.ITEM_TRAN_CODE, 1) = 'P'    
     )    
      ELSE '0,00' END ELSE '0,00'    
        END    
    AS [RESTITUICAO PREMIO COSSEGURO ACEITO],      
              
          -----------CEDED_CO_PREMIUM---------------------------    
          (    
   SELECT ABS(SUM(TOTAL_DUE))     
   FROM ACT_COI_OPEN_ITEMS COI        
   WHERE COI.CUSTOMER_ID = TABLE1.CUSTOMER_ID AND COI.POLICY_ID = TABLE1.POLICY_ID     
    AND COI.POLICY_VERSION_ID = TABLE1.POLICY_VERSION_ID     
    AND COI.UPDATED_FROM = 'P' AND Table1.CO_INSURANCE = 14548 AND  COI.ITEM_STATUS = 'DP' AND RIGHT(COI.ITEM_TRAN_CODE, 1) = 'P'     
     )    
   AS [PREMIO COSSEGURO CEDIDO],    
      
                        
          ----------[TOTAL PREMIUM]-------------------    
          CASE WHEN TABLE1.CO_INSURANCE = 14547 THEN dbo.fun_FormatCurrency(ABS(TABLE1.[ISSUED_PREMIUM]), '2')     
      WHEN TABLE1.CO_INSURANCE = 14548 THEN     
      ( SELECT  dbo.fun_FormatCurrency(ABS(TABLE1.[ISSUED_PREMIUM])- ABS(SUM(COI.TOTAL_DUE)), '2') FROM ACT_COI_OPEN_ITEMS COI     
       WHERE COI.CUSTOMER_ID = TABLE1.CUSTOMER_ID AND COI.POLICY_ID = TABLE1.POLICY_ID     
      AND COI.POLICY_VERSION_ID = TABLE1.POLICY_VERSION_ID AND RIGHT(COI.ITEM_TRAN_CODE, 1) = 'P' AND COI.ITEM_STATUS='DP')    
       WHEN TABLE1.CO_INSURANCE = 14549 THEN      
      (SELECT   dbo.fun_FormatCurrency(ABS(SUM(COI.TOTAL_DUE)), '2') FROM ACT_COI_OPEN_ITEMS COI     
       WHERE COI.CUSTOMER_ID = TABLE1.CUSTOMER_ID AND COI.POLICY_ID = TABLE1.POLICY_ID     
      AND COI.POLICY_VERSION_ID = TABLE1.POLICY_VERSION_ID AND RIGHT(COI.ITEM_TRAN_CODE, 1) = 'P' AND COI.ITEM_STATUS='DP' )    
          --dbo.fun_FormatCurrency(TABLE1.TOTAL_PREMIUM - ABS(COI_OPEN_ITM.TOTAL_DUE), '2')     
          --WHEN PCPL.CO_INSURANCE = 14549 THEN dbo.fun_FormatCurrency(COI_OPEN_ITM.TOTAL_DUE, '2') ELSE '0,00' END    
          ELSE '0,00' END AS [PREMIO TOTAL],    
     
          ----------FACULTATIVE_RI_PREMIUM-------------------    
          (SELECT SUM(REIN_PREMIUM) FROM    
   (SELECT     
    CASE CONTRACT_NUMBER     
     WHEN 'FACULTATIVE' THEN ABS(SUM(REIN_PREMIUM))    
     ELSE 0    
    END AS REIN_PREMIUM          
   FROM    
    POL_REINSURANCE_BREAKDOWN_DETAILS PRBD WITH(NOLOCK)    
    WHERE PRBD.CUSTOMER_ID = TABLE1.CUSTOMER_ID AND PRBD.POLICY_ID = TABLE1.POLICY_ID AND PRBD.POLICY_VERSION_ID = TABLE1.POLICY_VERSION_ID     
    GROUP BY CONTRACT_NUMBER) REIN)    
          AS [PREMIO RESSEGURO FACULTATIVO],    
              
           ----------CONTRACT_RI_PREMIUM-------------------    
          (SELECT SUM(REIN_PREMIUM) FROM    
			   (SELECT     
				CASE CONTRACT_NUMBER     
				 WHEN 'FACULTATIVE' THEN 0    
				 ELSE ABS(SUM(REIN_PREMIUM))    
				END AS REIN_PREMIUM         
			   FROM    
				POL_REINSURANCE_BREAKDOWN_DETAILS PRBD WITH(NOLOCK)    
				WHERE PRBD.CUSTOMER_ID = TABLE1.CUSTOMER_ID AND PRBD.POLICY_ID = TABLE1.POLICY_ID AND PRBD.POLICY_VERSION_ID = TABLE1.POLICY_VERSION_ID    
				GROUP BY CONTRACT_NUMBER) REIN)    
          AS [PREMIO RESSEGURO CONTRATO],    
              
          ------[TOTAL_RI_PREMIUM]----------    
          CAST(0 AS DECIMAL(20,4)) AS [TOTAL PREMIO RESSEGURO],    
              
          ------RETAINED PREMIUM----------    
          CAST(0 AS DECIMAL(20,2)) AS [PREMIO RETIDO],    
              
          ---------PPNG-------------------    
				(SELECT 
					(COMMERCIAL_PREMIUM * TIME_TO_ELAPSE) / TOTAL_TERM
				FROM		
				(
				SELECT 
						DATEDIFF(DD, POLICY_EFFECTIVE_DATE, POLICY_EXPIRATION_DATE) AS TOTAL_TERM, 						
						DATEDIFF(DD, POLICY_EFFECTIVE_DATE, POLICY_EXPIRATION_DATE) - DATEDIFF(DD, POLICY_EFFECTIVE_DATE, GETDATE()) AS TIME_TO_ELAPSE,						
						CASE CO_INSURANCE 
							WHEN 14547 THEN PIPD.TOTAL_TRAN_PREMIUM - SUM(ISNULL(RI.REIN_PREMIUM, 0))																--DIRECT
							WHEN 14548 THEN PIPD.TOTAL_TRAN_PREMIUM - (SUM(ISNULL(ABS(PCBP.INSTALLMENT_AMOUNT), 0))) - SUM(ISNULL(RI.REIN_PREMIUM, 0))				--LEADER
							WHEN 14549 THEN SUM(ISNULL(PCBP.INSTALLMENT_AMOUNT, 0)) - SUM(ISNULL(RI.REIN_PREMIUM, 0))											--FOLLOWER
						END AS COMMERCIAL_PREMIUM						
					FROM 
						POL_CUSTOMER_POLICY_LIST CPL WITH(NOLOCK)					
					INNER JOIN
						ACT_POLICY_INSTALL_PLAN_DATA PIPD WITH(NOLOCK) ON (PIPD.CUSTOMER_ID = CPL.CUSTOMER_ID AND PIPD.POLICY_ID = CPL.POLICY_ID AND PIPD.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID)	
					LEFT JOIN
						ACT_POLICY_CO_BILLING_DETAILS PCBP WITH(NOLOCK) ON (PCBP.CUSTOMER_ID = PIPD.CUSTOMER_ID AND PCBP.POLICY_ID = PIPD.POLICY_ID AND PCBP.POLICY_VERSION_ID = PIPD.POLICY_VERSION_ID)
					LEFT JOIN
						POL_REINSURANCE_BREAKDOWN_DETAILS RI WITH(NOLOCK) ON (RI.CUSTOMER_ID = CPL.CUSTOMER_ID AND RI.POLICY_ID = CPL.POLICY_ID AND RI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID)
					WHERE 						
						CPL.CUSTOMER_ID = TABLE1.CUSTOMER_ID AND 
						CPL.POLICY_ID = TABLE1.POLICY_ID AND
						CPL.POLICY_VERSION_ID = TABLE1.POLICY_VERSION_ID
					GROUP BY
						CPL.CUSTOMER_ID, CPL.POLICY_ID, CPL.POLICY_VERSION_ID, CPL.POLICY_NUMBER, CPL.CO_INSURANCE, PIPD.TOTAL_TRAN_PREMIUM, 
						CPL.POLICY_EFFECTIVE_DATE, CPL.POLICY_EXPIRATION_DATE
						
						) POLICY_PREMIUM
					) AS PPNG,    
              
          ------EARNED PREMIUM------------    
          CAST(0 AS DECIMAL(20,2)) AS [PREMIO GANHO],    
              
          TABLE1.BROKER_NAME AS [NOME CORRETOR LIDER],    
          TABLE1.BROKER_CODE AS [COD CORRETOR LIDER],    
              
          -----------BROKER_COMMISSION_AMOUNT----------------------------    
           (SELECT ABS(SUM(ISNULL(TOTAL_DUE, 0))) FROM ACT_AGENCY_OPEN_ITEMS AAOI        
   WHERE AAOI.CUSTOMER_ID = TABLE1.CUSTOMER_ID AND AAOI.POLICY_ID = TABLE1.POLICY_ID     
   AND AAOI.POLICY_VERSION_ID = TABLE1.POLICY_VERSION_ID     
   AND AAOI.UPDATED_FROM = 'P'  AND  AAOI.ITEM_STATUS = 'DP' AND RIGHT(AAOI.ITEM_TRAN_CODE, 1) = 'C' AND ISNULL(AAOI.IS_COMM_ON_INTEREST, 0) = 0 )    
   AS  [VALOR COMISSOA CORRETAGEM],    
              
           
          -----------------COINSURANCE_COMMISSION------------------    
          (SELECT ABS(SUM(TOTAL_DUE)) FROM ACT_COI_OPEN_ITEMS ACSD        
   WHERE ACSD.CUSTOMER_ID = TABLE1.CUSTOMER_ID AND ACSD.POLICY_ID = TABLE1.POLICY_ID     
   AND ACSD.POLICY_VERSION_ID = TABLE1.POLICY_VERSION_ID     
   AND ACSD.UPDATED_FROM = 'P'  AND  ACSD.ITEM_STATUS = 'DP' AND RIGHT(ACSD.ITEM_TRAN_CODE, 1) = 'C' AND ISNULL(ACSD.IS_COMM_ON_INTEREST, 0) = 0)    
    AS [VALOR COMISSAO COSSEGURO],    
        
    CAST(0 AS DECIMAL(20,2)) AS [TOTAL COMISSAO PAGA (AG + AH)],    
        
    ----------[ACCEPTED_CO_COMMISSION]-------------------    
          (    
   SELECT dbo.fun_FormatCurrency(ABS(SUM(ISNULL(TOTAL_DUE, 0))), '2')    
   FROM ACT_COI_OPEN_ITEMS COI       
   WHERE COI.CUSTOMER_ID = TABLE1.CUSTOMER_ID AND COI.POLICY_ID = TABLE1.POLICY_ID     
     AND COI.POLICY_VERSION_ID = TABLE1.POLICY_VERSION_ID     
     AND COI.UPDATED_FROM = 'P'  AND   Table1.CO_INSURANCE = 14549     
     AND  COI.ITEM_STATUS = 'DP' AND RIGHT(COI.ITEM_TRAN_CODE, 1) = 'C' AND ISNULL(COI.IS_COMM_ON_INTEREST, 0) = 0    
   )     
   AS [COMISSAO COSSEGURO ACEITO],     
        
    CAST(0 AS DECIMAL(20,2)) [COMISSAO DE RESSEGURO EM COSSEGURO ACEITO],     
        
    -----------CEDED_CO_COMMISSION---------------------------    
          (    
   SELECT ABS(SUM(TOTAL_DUE))
   FROM ACT_COI_OPEN_ITEMS COI        
   WHERE COI.CUSTOMER_ID = TABLE1.CUSTOMER_ID AND COI.POLICY_ID = TABLE1.POLICY_ID     
    AND COI.POLICY_VERSION_ID = TABLE1.POLICY_VERSION_ID     
    AND COI.UPDATED_FROM = 'P' AND Table1.CO_INSURANCE = 14548 AND  COI.ITEM_STATUS = 'DP' AND RIGHT(COI.ITEM_TRAN_CODE, 1) = 'C' AND ISNULL(COI.IS_COMM_ON_INTEREST, 0) = 0    
     )    
   AS [COMISSAO COSSEGURO CEDIDO],    
          
    CAST(0 AS DECIMAL(20,2)) [TOTAL COMISSAO RECEBIDA(AK + AL)],    
    CAST(0 AS DECIMAL(20,2)) [COMISSAO LÍQUIDA(AI - AM)],    
    
    
    ---------DAC-------------------    
		(SELECT 
			(RETAINED_COMM * TIME_TO_ELAPSE) / TOTAL_TERM
		FROM		
		(
		SELECT 
				DATEDIFF(DD, POLICY_EFFECTIVE_DATE, POLICY_EXPIRATION_DATE) AS TOTAL_TERM, 						
				DATEDIFF(DD, POLICY_EFFECTIVE_DATE, POLICY_EXPIRATION_DATE) - DATEDIFF(DD, POLICY_EFFECTIVE_DATE, GETDATE()) AS TIME_TO_ELAPSE,						
				CASE CO_INSURANCE 
					WHEN 14547 THEN SUM(ISNULL(ABS(PIPD.TOTAL_DUE), 0)) - SUM(ISNULL(ABS(RI.COMM_AMOUNT), 0))																--DIRECT
					WHEN 14548 THEN SUM(ISNULL(ABS(PIPD.TOTAL_DUE), 0)) - (SUM(ISNULL(ABS(PCBP.CO_COMM_AMT), 0))) - SUM(ISNULL(RI.COMM_AMOUNT, 0))				--LEADER
					WHEN 14549 THEN SUM(ISNULL(ABS(PCBP.CO_COMM_AMT), 0)) - SUM(ISNULL(ABS(RI.COMM_AMOUNT), 0))											--FOLLOWER
				END AS RETAINED_COMM						
			FROM 
				POL_CUSTOMER_POLICY_LIST CPL WITH(NOLOCK)					
			INNER JOIN
				ACT_AGENCY_OPEN_ITEMS PIPD WITH(NOLOCK) ON (PIPD.CUSTOMER_ID = CPL.CUSTOMER_ID AND PIPD.POLICY_ID = CPL.POLICY_ID AND PIPD.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID)	
			LEFT JOIN
				ACT_POLICY_CO_BILLING_DETAILS PCBP WITH(NOLOCK) ON (PCBP.CUSTOMER_ID = PIPD.CUSTOMER_ID AND PCBP.POLICY_ID = PIPD.POLICY_ID AND PCBP.POLICY_VERSION_ID = PIPD.POLICY_VERSION_ID)
			LEFT JOIN
				POL_REINSURANCE_BREAKDOWN_DETAILS RI WITH(NOLOCK) ON (RI.CUSTOMER_ID = CPL.CUSTOMER_ID AND RI.POLICY_ID = CPL.POLICY_ID AND RI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID)
			WHERE 						
				CPL.CUSTOMER_ID = TABLE1.CUSTOMER_ID AND 
				CPL.POLICY_ID = TABLE1.POLICY_ID AND
				CPL.POLICY_VERSION_ID = TABLE1.POLICY_VERSION_ID
			GROUP BY
				CPL.CUSTOMER_ID, CPL.POLICY_ID, CPL.POLICY_VERSION_ID, CPL.POLICY_NUMBER, CPL.CO_INSURANCE, 
				CPL.POLICY_EFFECTIVE_DATE, CPL.POLICY_EXPIRATION_DATE
				
				) RETAINED_COMMISSION
			) AS [RESERVA DESPESA DE COMERCIALIZACAO DIFERIDA],    
			
			
			
    CAST(0 AS DECIMAL(20,2)) [COMISSAO DIFERIDA],     
        
     ------------POLICY_COST--------------------------    
    (SELECT dbo.fun_FormatCurrency(ABS(SUM(TOTAL_DUE)), '2') FROM ACT_CUSTOMER_OPEN_ITEMS  COI        
      WHERE COI.CUSTOMER_ID = TABLE1.CUSTOMER_ID     
       AND COI.POLICY_ID = TABLE1.POLICY_ID     
       AND COI.POLICY_VERSION_ID = TABLE1.POLICY_VERSION_ID     
       AND COI.UPDATED_FROM = 'P' AND  COI.ITEM_STATUS = 'DP'     
       AND RIGHT(COI.ITEM_TRAN_CODE, 1) = 'F'         ) AS [CUSTO DE APOLICE],    
        
    ---------------INTEREST----------------------------    
     --CASE WHEN TABLE1.CO_INSURANCE = 14547 THEN    
      (SELECT ABS(SUM(TOTAL_DUE)) FROM ACT_CUSTOMER_OPEN_ITEMS  ACOI        
     WHERE ACOI.CUSTOMER_ID = TABLE1.CUSTOMER_ID     
       AND ACOI.POLICY_ID = TABLE1.POLICY_ID     
       AND ACOI.POLICY_VERSION_ID = TABLE1.POLICY_VERSION_ID     
       AND ACOI.UPDATED_FROM = 'P' AND  ACOI.ITEM_STATUS = 'DP'     
       AND RIGHT(ACOI.ITEM_TRAN_CODE, 1) = 'I'    
       )            
           
    --END     
    AS [ADICIONAL FRACIONAMENTO],    
        
    ---------------INTEREST_RECEIVED_FROM_ACCEPTED_CO_INSTALLMENTS    
     CASE WHEN TABLE1.CO_INSURANCE = 14549 THEN    
     (SELECT ABS(SUM(TOTAL_DUE)) FROM ACT_COI_OPEN_ITEMS  COI        
      WHERE COI.CUSTOMER_ID = TABLE1.CUSTOMER_ID     
       AND COI.POLICY_ID = TABLE1.POLICY_ID     
       AND COI.POLICY_VERSION_ID = TABLE1.POLICY_VERSION_ID     
       AND COI.UPDATED_FROM = 'P' AND  COI.ITEM_STATUS = 'DP'     
       AND RIGHT(COI.ITEM_TRAN_CODE, 1) = 'I'    
       )   END    
        AS [ADICIONAL FRACIONAMENTO RECEBIDO DO COSSEGURO ACEITO],    
            
  ------------------INTEREST_PAID_TO_FOLLOWERS_ON_CEDED_CO_INSTALLMENTS          
     CASE WHEN TABLE1.CO_INSURANCE = 14548 THEN    
     (SELECT ABS(SUM(TOTAL_DUE)) FROM ACT_COI_OPEN_ITEMS  COI     
      WHERE COI.CUSTOMER_ID = TABLE1.CUSTOMER_ID     
       AND COI.POLICY_ID = TABLE1.POLICY_ID     
       AND COI.POLICY_VERSION_ID = TABLE1.POLICY_VERSION_ID     
       AND COI.UPDATED_FROM = 'P' AND  COI.ITEM_STATUS = 'DP'     
       AND RIGHT(COI.ITEM_TRAN_CODE, 1) = 'I'    
       )END     
       AS [ADICIONAL FRACIONAMENTO PAGO EM COSSEGURO CEDIDO],    
        
     
    CAST(0 AS DECIMAL(20,2))  [ADICIONAL FRACIONAMENTO PAGO AO RESSEGURADOR],    
    CAST(0 AS DECIMAL(20,2)) [TOTAL ADICIONAL DE FRACIONAMENTO(AR + AS + AT + AU)],    
        
    ------------IOF-----------------------------------------    
    (SELECT dbo.fun_FormatCurrency(ABS(SUM(TOTAL_DUE)), '2') FROM ACT_CUSTOMER_OPEN_ITEMS  COI        
      WHERE COI.CUSTOMER_ID = TABLE1.CUSTOMER_ID     
       AND COI.POLICY_ID = TABLE1.POLICY_ID     
       AND COI.POLICY_VERSION_ID = TABLE1.POLICY_VERSION_ID     
       AND COI.UPDATED_FROM = 'P' AND COI.ITEM_STATUS = 'DP'     
       AND RIGHT(COI.ITEM_TRAN_CODE, 1) = 'T'    
       ) AS  IOF    
INTO #TEMPTABLE              
FROM    
(     
 SELECT         
  PCPL.CUSTOMER_ID,    
  PCPL.POLICY_ID,     
  PCPL.POLICY_VERSION_ID,    
  MRCL.REIN_COMAPANY_NAME AS CARRIER,     
  MRCL.SUSEP_NUM AS CARRIER_SUSEP_CODE,       
  MULTI.LOB_DESC AS PRODUCT_DESCRIPTION,     
  --PCPL.POLICY_STATUS AS [RENEWAL/NBS],     
  MLM.SUSEP_LOB_CODE AS LOB,     
  MDL.DIV_NAME AS ALBA_BRANCH_NAME,     
  RIGHT('00' + CAST(MDL.BRANCH_CODE AS VARCHAR(2)), 2) AS ALBA_BRANCH_CODE,     
  CASE PPP.PROCESS_ID WHEN 25 THEN 'Seguro novo' WHEN 14 THEN 'Endosso' WHEN 18 THEN 'Renovar' END as Process,    
  CAST(PCPL.POLICY_NUMBER AS CHAR(22)) AS POLICY_NUMBER,     
  RIGHT('000000' + CAST(PPE.ENDORSEMENT_NO AS VARCHAR(6)), 6) AS ENDORSEMENT_NUMBER,                         
  CONVERT(VARCHAR, PPP.COMPLETED_DATETIME, 103) AS POSTING_DATE,    
  CONVERT(VARCHAR, PPP.COMPLETED_DATETIME, 103) AS COMMIT_DATE,      
  CONVERT(VARCHAR, PCPL.POLICY_EFFECTIVE_DATE, 103) AS EFFECTIVE_DATE,    
  CONVERT(VARCHAR, PCPL.POLICY_EXPIRATION_DATE, 103) AS EXPIRE_DATE,     
  CAL.FIRST_NAME + ' ' + CAL.LAST_NAME AS [APPLICANT/COAPPLICANT],     
  CAL.CPF_CNPJ AS [CPF_CNPJ_FROM_APPLICANT_OR_COAPP],    
  'BRL' AS CURRENCY,                           
  ABS(APIPD.TOTAL_TRAN_PREMIUM)  AS [ISSUED_PREMIUM],    
  PCPL.CO_INSURANCE AS  CO_INSURANCE,     
  MAL.AGENCY_DISPLAY_NAME AS BROKER_NAME,    
  MAL.AGENCY_CODE AS BROKER_CODE                        
 FROM             
  POL_CUSTOMER_POLICY_LIST AS PCPL WITH (NOLOCK)    
 LEFT OUTER JOIN    
  POL_POLICY_ENDORSEMENTS AS PPE WITH (NOLOCK) ON PCPL.CUSTOMER_ID = PPE.CUSTOMER_ID AND PCPL.POLICY_ID = PPE.POLICY_ID AND PCPL.POLICY_VERSION_ID = PPE.POLICY_VERSION_ID     
 INNER JOIN    
  POL_POLICY_PROCESS AS PPP WITH (NOLOCK) ON PPP.CUSTOMER_ID = PCPL.CUSTOMER_ID AND PPP.POLICY_ID = PCPL.POLICY_ID AND     
     PPP.NEW_POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID AND PPP.PROCESS_STATUS = 'COMPLETE' AND PPP.PROCESS_ID NOT IN (12)    
 INNER JOIN    
  POL_APPLICANT_LIST AS CP_LST WITH (NOLOCK) ON CP_LST.CUSTOMER_ID = PCPL.CUSTOMER_ID AND CP_LST.POLICY_ID = PCPL.POLICY_ID AND    
     CP_LST.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID AND CP_LST.IS_PRIMARY_APPLICANT = 1     
 INNER JOIN    
  CLT_APPLICANT_LIST AS CAL WITH (NOLOCK) ON CAL.APPLICANT_ID = CP_LST.APPLICANT_ID     
 INNER JOIN    
  MNT_AGENCY_LIST AS MAL WITH (NOLOCK) ON MAL.AGENCY_ID = PCPL.AGENCY_ID     
 INNER JOIN    
  MNT_SUSEP_LOB_MASTER AS MSLM WITH (NOLOCK) ON MSLM.SUSEP_LOB_ID = PCPL.POLICY_LOB     
 INNER JOIN    
  MNT_DIV_LIST AS MDL WITH (NOLOCK) ON MDL.DIV_ID = PCPL.DIV_ID     
 LEFT JOIN    
  ACT_POLICY_INSTALL_PLAN_DATA AS APIPD WITH (NOLOCK) ON APIPD.CUSTOMER_ID = PCPL.CUSTOMER_ID AND     
     APIPD.POLICY_ID = PCPL.POLICY_ID AND APIPD.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID    
 INNER JOIN    
  MNT_REIN_COMAPANY_LIST MRCL WITH(NOLOCK) ON (MRCL.REIN_COMAPANY_ID = 1)    
 INNER JOIN    
  MNT_LOB_MASTER_MULTILINGUAL multi with(nolock) on (multi.LOB_ID = PCPL.POLICY_LOB)    
 INNER JOIN     
  MNT_LOB_MASTER MLM WITH(NOLOCK) ON MLM.LOB_ID = PCPL.POLICY_LOB    
                          
  ) TABLE1    
  WHERE    
 (@CUSTOMER_ID IS NULL OR TABLE1.CUSTOMER_ID = @CUSTOMER_ID) AND    
 (@POLICY_ID IS NULL OR TABLE1.POLICY_ID = @POLICY_ID) --AND    
 --(@POLICY_VERSION_ID IS NULL OR TABLE1.POLICY_VERSION_ID = @POLICY_VERSION_ID)    
 ORDER BY TABLE1.CUSTOMER_ID,Table1.POLICY_ID,TABLE1.POLICY_VERSION_ID           
     
 --COMPUTE TOTAL VALUE COLUMNS    
 --TOTAL RI PREMIUM
 UPDATE #TEMPTABLE SET [TOTAL PREMIO RESSEGURO] = ISNULL([PREMIO RESSEGURO FACULTATIVO], 0) + ISNULL([PREMIO RESSEGURO CONTRATO], 0)
 --TOTAL RETAINED PREMIUM
 UPDATE #TEMPTABLE SET [PREMIO RETIDO] = CASE 
						WHEN ISNULL([PREMIO COSSEGURO ACEITO], 0) = 0 THEN ISNULL([PREMIO EMITIDO], 0) - ISNULL([PREMIO COSSEGURO CEDIDO], 0) - ISNULL([TOTAL PREMIO RESSEGURO], 0)
						ELSE ISNULL([PREMIO COSSEGURO ACEITO], 0) - ISNULL([PREMIO COSSEGURO CEDIDO], 0) - ISNULL([TOTAL PREMIO RESSEGURO], 0) END
 --RETAINED PREMIUM
 UPDATE #TEMPTABLE SET [PREMIO GANHO] = [PREMIO RETIDO] - PPNG
     
 --TOTAL COMMISSION
 UPDATE #TEMPTABLE SET [TOTAL COMISSAO PAGA (AG + AH)] = ISNULL([VALOR COMISSOA CORRETAGEM], 0) + ISNULL([VALOR COMISSAO COSSEGURO], 0)
 --TOTAL RECEIVED COMMISSION
 UPDATE #TEMPTABLE SET [TOTAL COMISSAO RECEBIDA(AK + AL)] = ISNULL([COMISSAO DE RESSEGURO EM COSSEGURO ACEITO], 0) + ISNULL([COMISSAO COSSEGURO CEDIDO], 0)
 --NET COMMISSION
 UPDATE #TEMPTABLE SET [COMISSAO LÍQUIDA(AI - AM)] = ISNULL([TOTAL COMISSAO PAGA (AG + AH)], 0) - ISNULL([TOTAL COMISSAO RECEBIDA(AK + AL)], 0)
 --DAC COMMISSION
 UPDATE #TEMPTABLE SET [COMISSAO DIFERIDA] = [COMISSAO LÍQUIDA(AI - AM)] - [RESERVA DESPESA DE COMERCIALIZACAO DIFERIDA]
 
 --TOTAL INTEREST
 UPDATE #TEMPTABLE SET [TOTAL ADICIONAL DE FRACIONAMENTO(AR + AS + AT + AU)] = 
		ISNULL([ADICIONAL FRACIONAMENTO], 0) + ISNULL([ADICIONAL FRACIONAMENTO RECEBIDO DO COSSEGURO ACEITO], 0) + 
		ISNULL([ADICIONAL FRACIONAMENTO PAGO EM COSSEGURO CEDIDO], 0) + ISNULL([ADICIONAL FRACIONAMENTO PAGO AO RESSEGURADOR], 0)
		


 SELECT
	--CUSTOMER_ID,
	--POLICY_ID,
	--POLICY_VERSION_ID,
	SEGURADORA,     
	[COD SUSEP],    
	[PRODUTO],     
	[PROCESSO],     
	[RAMO CONTÁBIL],    
	[FILIAL EMISSORA],     
	[COD FILIAL EMISSORA],    
	[NRO APOLICE],    
	[NRO ENDOSSO],         
	[DATA BASE],    
	[DATA EMISSÃO],    
	[INÍCIO VIGÊNCIA],     
	[FINAL VIGÊNCIA],     
	[ESTIPULANTE/SUB-ESTIPULANTE],     
	[CPF/CNPJ],     
	MOEDA,               
	dbo.fun_FormatCurrency([PREMIO EMITIDO], '2') [PREMIO EMITIDO],
	dbo.fun_FormatCurrency([PREMIO COSSEGURO ACEITO], '2') [PREMIO COSSEGURO ACEITO],
	[PREMIO CANCELAMENTO SEGURO],
	[PREMIO CANCELAMENTO COSSEGURO],
	[RESTITUICAO PREMIO SEGURO DIRETO],    
	[RESTITUICAO PREMIO COSSEGURO ACEITO],   
	dbo.fun_FormatCurrency([PREMIO COSSEGURO CEDIDO], '2') [PREMIO COSSEGURO CEDIDO],
	[PREMIO TOTAL],    
	dbo.fun_FormatCurrency([PREMIO RESSEGURO FACULTATIVO], '2') [PREMIO RESSEGURO FACULTATIVO],  
	dbo.fun_FormatCurrency([PREMIO RESSEGURO CONTRATO], '2') [PREMIO RESSEGURO CONTRATO],  
	dbo.fun_FormatCurrency([TOTAL PREMIO RESSEGURO], '2') [TOTAL PREMIO RESSEGURO], 
	dbo.fun_FormatCurrency([PREMIO RETIDO], '2') [PREMIO RETIDO],
	dbo.fun_FormatCurrency([PPNG], '2') PPNG, 
	dbo.fun_FormatCurrency([PREMIO GANHO], '2') [PREMIO GANHO],
	[NOME CORRETOR LIDER],
	[COD CORRETOR LIDER], 
	dbo.fun_FormatCurrency([VALOR COMISSOA CORRETAGEM], '2') [VALOR COMISSOA CORRETAGEM],
	dbo.fun_FormatCurrency([VALOR COMISSAO COSSEGURO], '2') [VALOR COMISSAO COSSEGURO],  
	dbo.fun_FormatCurrency([TOTAL COMISSAO PAGA (AG + AH)], '2') [TOTAL COMISSAO PAGA (AG + AH)],
	[COMISSAO COSSEGURO ACEITO],    
	dbo.fun_FormatCurrency([COMISSAO DE RESSEGURO EM COSSEGURO ACEITO], '2') [COMISSAO DE RESSEGURO EM COSSEGURO ACEITO],
	dbo.fun_FormatCurrency([COMISSAO COSSEGURO CEDIDO], '2') [COMISSAO COSSEGURO CEDIDO],  
	dbo.fun_FormatCurrency([TOTAL COMISSAO RECEBIDA(AK + AL)], '2') [TOTAL COMISSAO RECEBIDA(AK + AL)],
	dbo.fun_FormatCurrency([COMISSAO LÍQUIDA(AI - AM)], '2') [COMISSAO LÍQUIDA(AI - AM)], 
	dbo.fun_FormatCurrency([RESERVA DESPESA DE COMERCIALIZACAO DIFERIDA], '2') [RESERVA DESPESA DE COMERCIALIZACAO DIFERIDA],    
	dbo.fun_FormatCurrency([COMISSAO DIFERIDA], '2') [COMISSAO DIFERIDA],  
	[CUSTO DE APOLICE],  
	dbo.fun_FormatCurrency([ADICIONAL FRACIONAMENTO], '2') [ADICIONAL FRACIONAMENTO],
	dbo.fun_FormatCurrency([ADICIONAL FRACIONAMENTO RECEBIDO DO COSSEGURO ACEITO], '2') [ADICIONAL FRACIONAMENTO RECEBIDO DO COSSEGURO ACEITO],
	dbo.fun_FormatCurrency([ADICIONAL FRACIONAMENTO PAGO EM COSSEGURO CEDIDO], '2') [ADICIONAL FRACIONAMENTO PAGO EM COSSEGURO CEDIDO],  
	dbo.fun_FormatCurrency([ADICIONAL FRACIONAMENTO PAGO AO RESSEGURADOR], '2') [ADICIONAL FRACIONAMENTO PAGO AO RESSEGURADOR],
	dbo.fun_FormatCurrency([TOTAL ADICIONAL DE FRACIONAMENTO(AR + AS + AT + AU)], '2') [TOTAL ADICIONAL DE FRACIONAMENTO(AR + AS + AT + AU)], 
	IOF
 FROM #TEMPTABLE
     
-- SELECT * FROM #TEMPTABLE     
END 

-- PROC_POLICY_Portfolio  2727, 384, 1

GO

