IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_MoveSuspensePaymentToNormalPayment]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_MoveSuspensePaymentToNormalPayment]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/***********************************************************
CREATE BY		: Vijay Kumar Joshi
CREATE DATE		: 25 Nov 2005, 11:33 AM
PURPOSE			: To move the all the suspense to normal 
				payment which are before EOD_DATE(parameter)

REVISION HISTORY
Review By	Review Date		Purpose

************************************************************/
CREATE PROCEDURE DBO.Proc_MoveSuspensePaymentToNormalPayment
(
	@EOD_DATE	DATETIME
)
AS
BEGIN
	SET NOCOUNT ON

	/*Updating the status of payment to normal payment*/
	UPDATE ACT_CUSTOMER_OPEN_ITEMS 
	SET ITEM_STATUS = 'NP'				--Converting to normal payment
	FROM POL_CUSTOMER_POLICY_LIST PCPL
	WHERE PCPL.POLICY_ID = ACT_CUSTOMER_OPEN_ITEMS.POLICY_ID 
		AND PCPL.POLICY_VERSION_ID = ACT_CUSTOMER_OPEN_ITEMS.POLICY_VERSION_ID 
		AND PCPL.CUSTOMER_ID = ACT_CUSTOMER_OPEN_ITEMS.CUSTOMER_ID 
		AND PCPL.POLICY_EFFECTIVE_DATE <= @EOD_DATE
		AND UPDATED_FROM = 'D'			--Updating the deposits only
	
	
	SELECT * FROM ACT_ACCOUNTS_POSTING_DETAILS
	WHERE UPDATED_FROM = 'P'

	IF ( @@ERROR <> 0 )
		RETURN 0
	
	
	/*	
	SELECT PROCESS.POLICY_ID, * 
	FROM ACT_ACCOUNTS_POSTING_DETAILS POSTING
	LEFT JOIN ACT_PREMIUM_PROCESS_DETAILS PROCESS ON POSTING.SOURCE_ROW_ID = PROCESS.PROCESS_ID 
	LEFT JOIN POL_CUSTOMER_POLICY_LIST PCPL ON PCPL.POLICY_ID = PROCESS.POLICY_ID AND 
		PCPL.POLICY_VERSION_ID = PROCESS.POLICY_VERSION_ID AND PCPL.CUSTOMER_ID = PROCESS.CUSTOMER_ID
	WHERE POSTING.UPDATED_FROM = 'P' AND PCPL.POLICY_EFFECTIVE_DATE <= @EOD_DATE AND 
	*/
	SET NOCOUNT OFF
END



GO

