IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_PostPremiumInGeneralLedger]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_PostPremiumInGeneralLedger]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


-------Proc_GetPolicyProcessReturnPremium

-- drop proc dbo.Proc_PostPremiumInGeneralLedger  
CREATE PROCEDURE dbo.Proc_PostPremiumInGeneralLedger  
(  
	 @CUSTOMER_ID   int,    --Id of customer whose premium policy will be posted  
	 @APP_ID    int,    --Application id   
	 @APP_VERSION_ID  int,    --Application version  id  
	 @POLICY_ID   int,    --Policy identification number  
	 @POLICY_VERSION_ID int,    --Policy version identification number  
	 @PREMIUM_AMOUNT  decimal(20,8),  --Premium amount  
	 @MCCA_FEES   decimal(20,8),  --MCCA fees amount  
	 @OTHER_FEES   decimal(20,8),  --Other fees  
	 @TRANS_DESC   varchar(255) OUTPUT,--Extra parameters  
	 @PARAM2    varchar(10),  -- Will Have Process Code
	 @PARAM3   varchar(10),  --Extra parameters  
	 @PARAM4    varchar(10)   --Extra parameters  
  
)  
AS  
BEGIN  
  
 /*Varibale declaration for retreiving the information from the database*/  
	DECLARE @IS_PREBILL   SMALLINT,  
		@BILL_TYPE     CHAR(2),  
		@INSTALLMENT    SMALLINT,  
		@TRAN_ID     SMALLINT,  
		@HOME_EMP     CHAR(1),  
		@COMPLETE_APP    CHAR(1),  
		@PROPRTY_INSP_CREDIT  CHAR(1),  
		@AGENCY_REG_COMM_PRCT  DECIMAL(20,8),  
		@AGENCY_REG_COMM   DECIMAL(20,8),  
		@AGENCY_COMP_COMM_PRCT  DECIMAL(20,8),  
		@AGENCY_COMP_COMM   DECIMAL(20,8),  
		@AGENCY_ADDI_COMM_PRCT  DECIMAL(20,8),  
		@AGENCY_ADDI_COMM   DECIMAL(20,8),  
		@MODE      CHAR(1),  
		@STATE_ID     SMALLINT,  
		@APP_LOB     VARCHAR(10),  
		@APP_SUBLOB    VARCHAR(10),  
		@APP_AGENCY_ID    SMALLINT,  
		@PREBILL_DATE    DATETIME,  
		@GL_ID      SMALLINT,  
		@POLICY_EFFECTIVE_DATE DATETIME,  
		@INSTALLMENT_FEES  DECIMAL(18,2),  
		@APP_TERMS    NVARCHAR(10),  
		@TOTAL_PREMIUM_AMOUNT DECIMAL(25,4),  
		@APP_EFFECTIVE_DATE  DATETIME,  
		@MIN_INSTALLMENT_AMOUNT DECIMAL(18,2),  
		@FISCAL_ID    SMALLINT  ,
		@TRAN_CODE_INSTALLMENT	VARCHAR(10),
		@TRAN_TYPE_INSTALLMENT	VARCHAR(10),
		@SOURCE_ROW_ID 		INTEGER,
		@USER_ID		SMALLINT,
		@USER_CODE		VARCHAR(10),
		@USER_NAME		VARCHAR(60),
		@FULL_PAY_PLAN_ID	SMALLINT,
		@SOURCE_EFFECTIVE_DATE DateTime,
		@POL_VERSION_EFFECTIVE_DATE DateTime

	--------------
	SET @SOURCE_ROW_ID 	= @PARAM2 
	SET @USER_ID		= @PARAM3	
		
	select @USER_CODE = USER_LOGIN_ID, @USER_NAME =  (USER_FNAME + ' ' + USER_LNAME) from MNT_USER_LIST 
		where user_id = @USER_ID 

	SELECT @FULL_PAY_PLAN_ID = IDEN_PLAN_ID 	FROM ACT_INSTALL_PLAN_DETAIL
		WHERE ISNULL(SYSTEM_GENERATED_FULL_PAY,0) = 1
	---------------	
   
	/*Variables for holding various account numbers, to be used in posting*/   
	DECLARE @FULLPREMIUM_ACCOUNT SMALLINT, --Premium account number  
--		@MCCA_FEES_ACCOUNT    SMALLINT, --MCCA fee account number  
		@OTHER_FEES_ACCOUNT   SMALLINT, --Other fee account number  
		@PREMIUM_INCOME_ACCOUNT  SMALLINT, --Premium income account number  
		@COMM_EXPENSE_ACCOUNT   SMALLINT, --Comm expense account number  
		@COMM_PAYABLE_ACCOUNT   SMALLINT --Commission payable account number  
   
  
	CREATE TABLE #TMP_POST  
	( 
		ACCOUNT_ID     		SMALLINT,  
		AMT      			DECIMAL(20,8),  
		APP_ID          	INT,  
		APP_VERSION_ID  	INT,  
		CUSTOMER_ID    		INT,  
		AGENCY_ID    		INT,  
		SOURCE_EFFECTIVE_DATE DATETIME,  
		TRANS_DESC    		VARCHAR(100),  
		POLICY_ID    		INT,  
		POLICY_VERSION_ID  	INT,
		TRAN_CODE			VARCHAR(10),
		TRAN_TYPE			VARCHAR(10),
		ACCOUNTS			BIT,
		OPEN_ITEMS			BIT
	)  
   
   
	--Fetching the application or policy information
	SELECT 	@BILL_TYPE 			= 	ISNULL(AL.BILL_TYPE, 0), 
		@INSTALLMENT 			= 	ISNULL(AL.INSTALL_PLAN_ID, 0),
		@COMPLETE_APP 			= 	ISNULL(AL.COMPLETE_APP, 'N'), 
		@PROPRTY_INSP_CREDIT 		= 	CASE ISNULL(AL.PROPRTY_INSP_CREDIT, 0) WHEN 10963 THEN 'Y' ELSE 'N' END,  
		@STATE_ID 			= 	AL.STATE_ID, 
		@APP_LOB 			= 	AL.APP_LOB, 
		@APP_SUBLOB 			= 	AL.APP_SUBLOB, 
		@APP_AGENCY_ID 			= 	AL.APP_AGENCY_ID,
		@APP_TERMS 			= 	AL.APP_TERMS,
		@POLICY_EFFECTIVE_DATE 		= 	CPL.APP_EFFECTIVE_DATE,
		@APP_EFFECTIVE_DATE		=	AL.APP_EFFECTIVE_DATE,
		@TRANS_DESC			=	'',
		@MIN_INSTALLMENT_AMOUNT = ISNULL(IPD.MIN_INSTALLMENT_AMOUNT, 0)
	FROM APP_LIST AL
	LEFT JOIN POL_CUSTOMER_POLICY_LIST CPL ON 
		AL.APP_ID = CPL.APP_ID AND AL.APP_VERSION_ID = CPL.APP_VERSION_ID AND AL.CUSTOMER_ID = CPL.CUSTOMER_ID
	LEFT JOIN ACT_INSTALL_PLAN_DETAIL IPD ON IPD.IDEN_PLAN_ID = AL.INSTALL_PLAN_ID
	WHERE AL.CUSTOMER_ID = @CUSTOMER_ID AND AL.APP_ID = @APP_ID AND AL.APP_VERSION_ID = @APP_VERSION_ID
   
 	IF @@ERROR <> 0  
  		GOTO ERRHANDLER  
  
	
	--Calculating the total premium amount  
 	SELECT @TOTAL_PREMIUM_AMOUNT = ISNULL(@PREMIUM_AMOUNT,0) + ISNULL(@MCCA_FEES,0) + ISNULL(@OTHER_FEES,0)  
  
 	IF @@ERROR <> 0  
  		GOTO ERRHANDLER  
  
	
	SET @AGENCY_REG_COMM_PRCT =0

	SELECT  @AGENCY_REG_COMM_PRCT = ISNULL(COMMISSION_PERCENT,0) 
	FROM ACT_REG_COMM_SETUP 
	WHERE (STATE_ID = @STATE_ID OR STATE_ID = 0) AND 
	(LOB_ID = @APP_LOB OR LOB_ID = 0) 
	AND (ISNULL(SUB_LOB_ID,0) = ISNULL(@APP_SUBLOB,0)  OR ISNULL(SUB_LOB_ID,0) = 0) 
	--AND CLASS_RISK = @COMMISSION_CLASS
	AND @POLICY_EFFECTIVE_DATE BETWEEN EFFECTIVE_FROM_DATE AND EFFECTIVE_TO_DATE
	AND COMMISSION_TYPE = 'R'  
	--AND TERM = @POLICY_TERM 
	ORDER BY STATE_ID DESC, LOB_ID DESC, SUB_LOB_ID DESC, CLASS_RISK DESC 

	IF @@ERROR <> 0  
  		GOTO ERRHANDLER  
    
 	SELECT @AGENCY_REG_COMM = ROUND(((@PREMIUM_AMOUNT * @AGENCY_REG_COMM_PRCT)/100), 2)  
  
 	IF @@ERROR <> 0  
  		GOTO ERRHANDLER   
  
 	--Fetching the 	installment fees
	SELECT @INSTALLMENT_FEES = ISNULL(INSTALLMENT_FEES, 0)
	FROM ACT_INSTALL_PLAN_DETAIL
	WHERE IDEN_PLAN_ID = @INSTALLMENT
  
 	IF @@ERROR <> 0  
  		GOTO ERRHANDLER  
   
    
  
 	--Retreiving whether prebill or not  
 	SELECT @PREBILL_DATE = GETDATE(), @GL_ID = 1, @IS_PREBILL = 0, @FISCAL_ID = 1  
   
 	IF @POLICY_EFFECTIVE_DATE > @PREBILL_DATE  
 	BEGIN  
  		SELECT @IS_PREBILL = 1  
 	END  
   
   
 	SELECT  @HOME_EMP = ISNULL(IS_HOME_EMPLOYEE, 'N') FROM CLT_CUSTOMER_LIST WHERE CUSTOMER_ID = @CUSTOMER_ID  
  
 	IF @@ERROR <> 0  
  		GOTO ERRHANDLER  
  
 	IF @IS_PREBILL = 0 	-- No prebill
	BEGIN
		SELECT 
			@FULLPREMIUM_ACCOUNT = CASE @BILL_TYPE 
											WHEN 'AB' THEN AST_UNCOLL_PRM_AGENCY 
			 				  		  		ELSE AST_UNCOLL_PRM_CUSTOMER 
									  END,
--			@MCCA_FEES_ACCOUNT   	= INC_PRM_WRTN_MCCA,
			@OTHER_FEES_ACCOUNT  	= INC_PRM_WRTN_OTH_STATE_ASSESS_FEE,
			@PREMIUM_INCOME_ACCOUNT = INC_PRM_WRTN,
			@COMM_EXPENSE_ACCOUNT  	= EXP_COMM_INCURRED ,
			@COMM_PAYABLE_ACCOUNT 	= CASE @BILL_TYPE 
											WHEN 'AB' THEN LIB_COMM_PAYB_AGENCY_BILL 
							  				ELSE LIB_COMM_PAYB_DIRECT_BILL 
									  END
		FROM ACT_GENERAL_LEDGER 
		WHERE FISCAL_ID = @FISCAL_ID 

		IF @@ERROR <> 0
			GOTO ERRHANDLER		

		--Updating the transaction description
		SET @TRANS_DESC = @TRANS_DESC + CHAR(13) + 'Premium has been posted in relevant accounts.'
		
	END	
	ELSE
	BEGIN 
		SELECT 	
			@FULLPREMIUM_ACCOUNT = CASE @BILL_TYPE 
										WHEN 'AB' THEN AST_UNCOLL_PRM_SUSPENSE_AGENCY_BILL 
						  				ELSE AST_UNCOLL_PREM_IN_SUSPENSE_DIRECT_BILL 
								   END,
-- 			@MCCA_FEES_ACCOUNT = CASE @BILL_TYPE 
-- 			WHEN 'AB' THEN AST_MCCA_FEE_SUSPENSE_AGENCY_BILL 
--   			ELSE AST_MCCA_FEE_SUSPENSE_DIRECT_BILL 
-- 								 END,
			@OTHER_FEES_ACCOUNT = CASE @BILL_TYPE 
										WHEN 'AB' THEN AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_AGENCY_BILL 
										ELSE AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_DIRECT_BILL 
								  END,
			@PREMIUM_INCOME_ACCOUNT = CASE @BILL_TYPE 
											WHEN 'AB' THEN AST_PRM_WRIT_SUSPENSE_AGENCY_BILL 
											ELSE AST_PRM_WRIT_SUSPENSE_DIRECT_BILL 
									  END, 
			@COMM_EXPENSE_ACCOUNT = CASE @BILL_TYPE 
										WHEN 'AB' THEN AST_COMM_EXPENSE_IN_SUSPENSE_AGENCY_BILL 
										ELSE AST_COMM_EXPENSE_IN_SUSPENSE_DIRECT_BILL 
									END,
			@COMM_PAYABLE_ACCOUNT = CASE @BILL_TYPE 
										WHEN 'AB' THEN AST_COMM_PAYABLE_IN_SUSPENSE_AGENCY_BILL 
										ELSE AST_COMM_PAYABLE_IN_SUSPENSE_DIRECT_BILL 
									END
		FROM ACT_GENERAL_LEDGER 
		WHERE FISCAL_ID = @FISCAL_ID 
		
		--Updating the transaction description
		SET @TRANS_DESC = @TRANS_DESC + CHAR(13) + 'Premium has been posted in suspense accounts.'

		IF @@ERROR <> 0
			GOTO ERRHANDLER
		
	END  
  
  
 	IF @HOME_EMP = 'Y'  
 	BEGIN   
  		SELECT @COMM_PAYABLE_ACCOUNT = @FULLPREMIUM_ACCOUNT  
 	END
  
   
  
 	--Finding whether bill type is agency bill or direct bill  
 	IF UPPER(@BILL_TYPE) = 'AB'   --FOR AGENCY BILL  
 	BEGIN  
    
  		--For agency bill, entering the record in act_agency_open_item table
		INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, AGENCY_ID, SOURCE_EFFECTIVE_DATE, TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS)	
		VALUES ( @FULLPREMIUM_ACCOUNT, @TOTAL_PREMIUM_AMOUNT , @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @APP_AGENCY_ID, @APP_EFFECTIVE_DATE, 'Premium has been posted.', @POLICY_ID, @POLICY_VERSION_ID, 1, 1)
    
  		IF @@ERROR <> 0  
   			GOTO ERRHANDLER  
  
 	END  
 	ELSE IF UPPER(@BILL_TYPE) = 'DB'  
 	BEGIN  
    
  		--For direct bill, entering the record 
  
		INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, SOURCE_EFFECTIVE_DATE, TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS)
		VALUES(@FULLPREMIUM_ACCOUNT, @TOTAL_PREMIUM_AMOUNT , @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @APP_EFFECTIVE_DATE, 'Policy installment has been posted.', @POLICY_ID, @POLICY_VERSION_ID, 1, 1)
     	
		IF @@ERROR <> 0  
    		GOTO ERRHANDLER  
    
  		
 	END  

	--Inserting the written premium in written premium account
	INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, SOURCE_EFFECTIVE_DATE, TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS)
	VALUES(@PREMIUM_INCOME_ACCOUNT, @PREMIUM_AMOUNT * -1, @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, GETDATE(), '', @POLICY_ID, @POLICY_VERSION_ID, 1, 0)
	
	IF @@ERROR <> 0
		GOTO ERRHANDLER   

   
  
	IF(@MCCA_FEES <> 0)
	BEGIN 
		--Inserting the MCCA fees in MCCA account
		INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, SOURCE_EFFECTIVE_DATE, TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS)
	--	VALUES(@MCCA_FEES_ACCOUNT, @MCCA_FEES * -1, 
		VALUES(@OTHER_FEES_ACCOUNT, @MCCA_FEES * -1, 
		@APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, GETDATE(), '', @POLICY_ID, @POLICY_VERSION_ID, 1, 0)
	
		IF @@ERROR <> 0
			GOTO ERRHANDLER
	END
	
	IF (@OTHER_FEES <> 0)
	BEGIN
		--Inserting Other state assesment fees in (Other State Assessment Fees/Premiums Written - Other state assessed fees) account
		INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, SOURCE_EFFECTIVE_DATE, TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS)
		VALUES(@OTHER_FEES_ACCOUNT, @OTHER_FEES * -1, @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, GETDATE(), '', @POLICY_ID, @POLICY_VERSION_ID, 1, 0)
	   
	 	IF @@ERROR <> 0  
	  		GOTO ERRHANDLER  
   	END

 	IF ISNULL(@AGENCY_REG_COMM,0) <> 0  
 	BEGIN /*If there is some commission amount, applying the commission as agency commission or employee discount*/  

  		IF @HOME_EMP = 'Y'  
  		BEGIN   
     
   			--Giving discount to customer  
   			--Hence entering an open item in customer  
   			INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, SOURCE_EFFECTIVE_DATE, TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS)
			VALUES(@FULLPREMIUM_ACCOUNT, -@AGENCY_REG_COMM, @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @APP_EFFECTIVE_DATE, 'Discount given.', @POLICY_ID, @POLICY_VERSION_ID, 1, 1)
  
   			IF @@ERROR <> 0  
    			GOTO ERRHANDLER  
  		END  
  		ELSE  
  		BEGIN  
  
   			--Giving agency commission to agency  
   			--Hence entering an open item in agency  
   			INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, AGENCY_ID, SOURCE_EFFECTIVE_DATE, TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS)
			VALUES ( @COMM_PAYABLE_ACCOUNT, -@AGENCY_REG_COMM, @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @APP_AGENCY_ID, @APP_EFFECTIVE_DATE, 'Commission has been posted.', @POLICY_ID, @POLICY_VERSION_ID, 1, 1)
  
   			IF @@ERROR <> 0  
    			GOTO ERRHANDLER     
  
			--Contra entry for agency commission
			INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, AGENCY_ID, SOURCE_EFFECTIVE_DATE, TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS)
			VALUES ( @COMM_EXPENSE_ACCOUNT, @AGENCY_REG_COMM, @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, NULL, GETDATE(), '', @POLICY_ID, @POLICY_VERSION_ID, 1, 0)
  		END  
 	END  
   
 	--If application is complete   
 	IF @COMPLETE_APP = 'Y'  
 	BEGIN  
  		SELECT @AGENCY_COMP_COMM_PRCT = 0  
  		--? Implemntation of class  
     	SELECT @AGENCY_COMP_COMM_PRCT = ISNULL(COMMISSION_PERCENT, 0)   
  		FROM ACT_REG_COMM_SETUP   
  		WHERE (STATE_ID = @STATE_ID OR STATE_ID = 0) AND  
	   		(LOB_ID = @APP_LOB OR LOB_ID = 0) AND  
	   		(SUB_LOB_ID = @APP_SUBLOB  OR SUB_LOB_ID = 0) AND   
	   		TERM = @APP_TERMS AND   
	   		COMMISSION_TYPE = 'C' AND AGENCY_ID = @APP_AGENCY_ID AND  
	   		@POLICY_EFFECTIVE_DATE BETWEEN EFFECTIVE_FROM_DATE AND EFFECTIVE_TO_DATE  
    
  		IF @@ERROR <> 0  
   			GOTO ERRHANDLER   
   
  		SELECT @AGENCY_COMP_COMM = ROUND(((@PREMIUM_AMOUNT * @AGENCY_COMP_COMM_PRCT)/100), 2)  
   
  		IF @@ERROR <> 0  
   			GOTO ERRHANDLER  
   
  		IF @HOME_EMP = 'Y'  
  		BEGIN  
   			
			--Giving discount to employee  
   			INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, SOURCE_EFFECTIVE_DATE, TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS)
			VALUES (@FULLPREMIUM_ACCOUNT, -@AGENCY_COMP_COMM, @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @APP_EFFECTIVE_DATE, 'Discount given for complete application.', @POLICY_ID, @POLICY_VERSION_ID, 1, 1)

     
   			IF @@ERROR <> 0  
    			GOTO ERRHANDLER  
  		END  
  		ELSE  
  		BEGIN  
   			--Giving commission to agency
			INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, AGENCY_ID, SOURCE_EFFECTIVE_DATE, TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS)
			VALUES (@COMM_PAYABLE_ACCOUNT, -@AGENCY_COMP_COMM, @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @APP_AGENCY_ID, @APP_EFFECTIVE_DATE, 'Commission posted for complete application.', @POLICY_ID, @POLICY_VERSION_ID, 1, 1)
			
			IF @@ERROR <> 0
				GOTO ERRHANDLER
  		END  
 	END  
   
 	--Applying the property inspection credit   
 	IF @PROPRTY_INSP_CREDIT = 'Y'  
 	BEGIN  
  		--?Implementating the class criteria also  
  		SELECT @AGENCY_ADDI_COMM_PRCT = 00  
     	SELECT @AGENCY_ADDI_COMM_PRCT = ISNULL(COMMISSION_PERCENT, 0)   
		FROM ACT_REG_COMM_SETUP   
		WHERE (STATE_ID = @STATE_ID OR STATE_ID = 0) AND  
			(LOB_ID = @APP_LOB OR LOB_ID = 0) AND  
		   	(SUB_LOB_ID = @APP_SUBLOB  OR SUB_LOB_ID = 0) AND   
		   	TERM = @APP_TERMS AND   
		   	COMMISSION_TYPE = 'A' AND AGENCY_ID = @APP_AGENCY_ID AND  
		   	@POLICY_EFFECTIVE_DATE  BETWEEN EFFECTIVE_FROM_DATE AND EFFECTIVE_TO_DATE   
  
  		IF @@ERROR <> 0  
   			GOTO ERRHANDLER  
  
  		SELECT @AGENCY_ADDI_COMM = ROUND(((@PREMIUM_AMOUNT * @AGENCY_ADDI_COMM_PRCT)/100), 2)  
  
  		IF @@ERROR <> 0  
   			GOTO ERRHANDLER  
  
  		IF @HOME_EMP = 'Y'  
  		BEGIN  
   			--Giving discount to employee  
			INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, SOURCE_EFFECTIVE_DATE, TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS)
			VALUES (@FULLPREMIUM_ACCOUNT, -@AGENCY_COMP_COMM, @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @APP_EFFECTIVE_DATE, 'Discount given for property inspection credit.', @POLICY_ID, @POLICY_VERSION_ID, 1, 1)

			IF @@ERROR <> 0
				GOTO ERRHANDLER
  		END  
  		ELSE  
  		BEGIN  
   			--Giving commission to agency
			INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, AGENCY_ID, SOURCE_EFFECTIVE_DATE, TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS)
			VALUES (@COMM_PAYABLE_ACCOUNT, -@AGENCY_COMP_COMM, @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @APP_AGENCY_ID, @APP_EFFECTIVE_DATE, 'Commission posted for property inspection credit.', @POLICY_ID, @POLICY_VERSION_ID, 1, 1)

			IF @@ERROR <> 0
				GOTO ERRHANDLER
		END
	END
   
      
  
   
 --Inserting the record into ACT_ACCOUNTS_POSTING_DETAILS
	INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS
	(
		ACCOUNT_ID, UPDATED_FROM, 
			SUBLEDGER_TYPE, 
		SOURCE_ROW_ID,
		MAPPING_SUBLEDGER_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
		POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_COMM_PERC, AGENCY_COMM_AMT,
		AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID,
		PC_ID, IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE,
		TRAN_ID, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID, TAX_ID, ADNL_INFO,
		IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION, IN_BNK_RECON, IS_BALANCE_UPDATED,
		COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME, COMMISSION_TYPE
	)
	SELECT 
		ACCOUNT_ID, 'P', 
			CASE OPEN_ITEMS WHEN '1' THEN
						CASE 
							WHEN ISNULL(TP.AGENCY_ID, 0) = 0  THEN 'CUS'
							WHEN ISNULL(TP.AGENCY_ID, 0) <> 0 THEN 'AGN'
						END 
					ELSE NULL END, 
		@SOURCE_ROW_ID, 
		NULL, @SOURCE_ROW_ID, AL.APP_EFFECTIVE_DATE, AL.APP_EFFECTIVE_DATE,
		GETDATE(), SUM(TP.AMT), NULL, NULL, 
		AL.APP_AGENCY_ID, AL.CUSTOMER_ID, @POLICY_ID, @POLICY_VERSION_ID, AL.DIV_ID, AL.DEPT_ID,
		AL.PC_ID, @IS_PREBILL, @BILL_TYPE, SUM(TP.AMT), NULL, NULL,
		NULL,  AL.APP_LOB, AL.APP_SUBLOB, COUNTRY_ID, STATE_ID, NULL, NULL, NULL,
		NULL, NULL, NULL, NULL,
		@USER_ID, @USER_CODE, @USER_NAME, NULL		
	FROM #TMP_POST  TP WITH(NOLOCK) 
	LEFT JOIN APP_LIST AL WITH(NOLOCK)ON 
		AL.APP_ID = TP.APP_ID AND AL.APP_VERSION_ID = TP.APP_VERSION_ID AND AL.CUSTOMER_ID = @CUSTOMER_ID
	WHERE TP.ACCOUNTS = 1
		AND ISNULL(TP.AMT,0) <> 0
	GROUP BY 
		ACCOUNT_ID, AL.APP_EFFECTIVE_DATE,
		AL.APP_AGENCY_ID, AL.CUSTOMER_ID, AL.DIV_ID, AL.DEPT_ID,
		AL.PC_ID, AL.APP_LOB, AL.APP_SUBLOB, COUNTRY_ID, STATE_ID, TP.AGENCY_ID, TP.OPEN_ITEMS


 
	IF @@ERROR <> 0  
  		GOTO ERRHANDLER   
   
 	--Droping the temp table  
 	DROP TABLE #TMP_POST   
   
 	RETURN 1  
  
ERRHANDLER:  
 	RETURN -1  
  
END  
  


















GO

