IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_INSERT_CLAIMS_CHECK_ON_COMMIT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_INSERT_CLAIMS_CHECK_ON_COMMIT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- drop PROC [dbo].[PROC_INSERT_CLAIMS_CHECK_ON_COMMIT]    
CREATE PROC [dbo].[PROC_INSERT_CLAIMS_CHECK_ON_COMMIT]    
(    
 @CLAIM_ID  INTEGER,     
 @ACTIVITY_ID  INTEGER ,     
 @DIV_ID INTEGER = NULL,    
 @DEPT_ID  INTEGER = NULL,    
 @PC_ID  INTEGER = NULL,    
 @DR_ACCT  INTEGER = NULL,    
 @CR_ACCT  INTEGER = NULL,    
 @USER_ID  INTEGER = NULL    
)    
AS    
BEGIN    

DECLARE @CREDIT_TO_SUBROGATION_EXPENSE INT
DECLARE @VOID_CREDIT_TO_SUBROGATION_EXPENSE INT
DECLARE @CREDIT_TO_SALVAGE_EXPENSE INT
DECLARE @VOID_CREDIT_TO_SALVAGE_EXPENSE INT
DECLARE @VOID_CREDIT_TO_PAID_LOSS INT  
DECLARE @CREDIT_TO_PAID_LOSS INT  
DECLARE @CHECK_NUMBER NVARCHAR(40)
DECLARE @VOID_TO_REINSURANCE_RETURNED_ADJUSTER_EXPENSE INT
DECLARE @VOID_TO_REINSURANCE_RETURNED_OTHER_EXPENSE INT
DECLARE @VOID_TO_REINSURANCE_RETURNED_LEGAL_EXPENSE INT
DECLARE @VOID_TO_REINSURANCE_RETURNED_PAID_LOSS INT
DECLARE @VOID_TO_REINSURANCE_RETURNED_SALVAGE_SUB_EXPENSE INT

SET @CREDIT_TO_SUBROGATION_EXPENSE = 242
SET @VOID_CREDIT_TO_SUBROGATION_EXPENSE = 243
SET @CREDIT_TO_SALVAGE_EXPENSE = 244
SET @VOID_CREDIT_TO_SALVAGE_EXPENSE = 245
SET @VOID_CREDIT_TO_PAID_LOSS = 240
SET @CREDIT_TO_PAID_LOSS = 188
SET @VOID_TO_REINSURANCE_RETURNED_ADJUSTER_EXPENSE = 249
SET @VOID_TO_REINSURANCE_RETURNED_OTHER_EXPENSE = 250
SET @VOID_TO_REINSURANCE_RETURNED_LEGAL_EXPENSE = 251
SET @VOID_TO_REINSURANCE_RETURNED_PAID_LOSS = 252
SET @VOID_TO_REINSURANCE_RETURNED_SALVAGE_SUB_EXPENSE = 253
SET @CHECK_NUMBER=NULL

DECLARE @FISCAL_ID INT
SELECT @FISCAL_ID = FISCAL_ID 
	FROM ACT_GENERAL_LEDGER
	WHERE	CAST(CONVERT(VARCHAR,GETDATE(),101) AS DATETIME) 
					>= CAST(CONVERT(VARCHAR,FISCAL_BEGIN_DATE,101) AS DATETIME)
	AND		CAST(CONVERT(VARCHAR,GETDATE(),101) AS DATETIME) 
					<= CAST(CONVERT(VARCHAR,FISCAL_END_DATE,101) AS DATETIME)

    
 DECLARE @ACTIVITY_REASON  AS INTEGER,@PAYMENT_METHOD AS INTEGER,
 @ACTION_ON_PAYMENT INT    
 SELECT  @ACTIVITY_REASON  = ISNULL(ACTIVITY_REASON,0), @ACTION_ON_PAYMENT=ISNULL(ACTION_ON_PAYMENT,0)  FROM CLM_ACTIVITY WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID=@ACTIVITY_ID    
 --PRINT   @ACTIVITY_REASON      
 
 -- ASFA (29-APR-2008)    
 IF (@ACTIVITY_REASON = '11776' OR @ACTION_ON_PAYMENT=@CREDIT_TO_PAID_LOSS OR 
	@ACTION_ON_PAYMENT=@VOID_CREDIT_TO_PAID_LOSS OR @ACTION_ON_PAYMENT=@CREDIT_TO_SUBROGATION_EXPENSE OR 
	@ACTION_ON_PAYMENT=@VOID_CREDIT_TO_SUBROGATION_EXPENSE OR @ACTION_ON_PAYMENT=@CREDIT_TO_SALVAGE_EXPENSE 
	OR @ACTION_ON_PAYMENT=@VOID_CREDIT_TO_SALVAGE_EXPENSE OR @ACTION_ON_PAYMENT=@VOID_TO_REINSURANCE_RETURNED_ADJUSTER_EXPENSE
	OR @ACTION_ON_PAYMENT=@VOID_TO_REINSURANCE_RETURNED_OTHER_EXPENSE OR @ACTION_ON_PAYMENT=@VOID_TO_REINSURANCE_RETURNED_LEGAL_EXPENSE
	OR @ACTION_ON_PAYMENT=@VOID_TO_REINSURANCE_RETURNED_PAID_LOSS OR @ACTION_ON_PAYMENT=@VOID_TO_REINSURANCE_RETURNED_SALVAGE_SUB_EXPENSE)
  return     
 ELSE IF (@ACTIVITY_REASON = '11773') -- RESERVE UPDATE    
  return    
    
    
 DECLARE @ACTIVITY_AMOUNT decimal(20,2)    
 DECLARE @NAMELIST VARCHAR(100)    
 DECLARE @CLAIM_TO_ORDER_DESC VARCHAR(250)    
 SELECT @NAMELIST =' '    
 SELECT @CLAIM_TO_ORDER_DESC = ''    
     
 /*SELECT @NAMELIST=@NAMELIST + ', ' + [NAME] FROM CLM_PARTIES WHERE CLAIM_ID=@CLAIM_ID AND PARTY_ID IN     
 (SELECT DISTINCT PARTY_ID FROM CLM_PAYEE WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID=@ACTIVITY_ID)    
 SELECT @NAMELIST = SUBSTRING(@NAMELIST,4,LEN(@NAMELIST))*/    
 --print @NAMELIST     
    
 IF(@ACTIVITY_REASON=11775)--Claim Payment    
  SELECT @NAMELIST = REPLACE(ISNULL(SECONDARY_PARTY_ID,'') ,'^', ' And '),@CLAIM_TO_ORDER_DESC=ISNULL(TO_ORDER_DESC,'') FROM CLM_PAYEE WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID=@ACTIVITY_ID    
 else --Expense Payment    
  select @NAMELIST = PARTY.[NAME],@CLAIM_TO_ORDER_DESC=ISNULL(TO_ORDER_DESC,'') FROM  CLM_PAYEE PAYEE JOIN CLM_PARTIES PARTY ON PAYEE.CLAIM_ID=PARTY.CLAIM_ID AND cast(PAYEE.PARTY_ID as varchar)=cast(PARTY.PARTY_ID as varchar)    
     WHERE PAYEE.CLAIM_ID=@CLAIM_ID AND PAYEE.ACTIVITY_ID=@ACTIVITY_ID    
    
 SELECT @ACTIVITY_AMOUNT = ISNULL(SUM(AMOUNT),0) FROM CLM_PAYEE WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID=@ACTIVITY_ID    
     
 DECLARE @CURR_MAX_CHECK_ID AS INTEGER    
 SELECT @CURR_MAX_CHECK_ID = ISNULL(MAX(CHECK_ID),0)+1 FROM ACT_CHECK_INFORMATION    
 --PRINT @CURR_MAX_CHECK_ID    
    
 DECLARE @CLM_CHECK_DEFAULT_AC AS INTEGER    
 select @CLM_CHECK_DEFAULT_AC = CLM_CHECK_DEFAULT_AC from ACT_GENERAL_LEDGER WHERE FISCAL_ID= @FISCAL_ID  
    
 IF(@ACTIVITY_REASON=11774)--EXPENSE PAYMENT    
 BEGIN    
  SELECT @PAYMENT_METHOD=ISNULL(PAYMENT_METHOD,0), @CHECK_NUMBER = CHECK_NUMBER FROM CLM_ACTIVITY_EXPENSE     
    WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID=@ACTIVITY_ID    
 END    
 ELSE IF(@ACTIVITY_REASON=11775)--INDEMNITY PAYMENT    
 BEGIN    
  SELECT @PAYMENT_METHOD=ISNULL(PAYMENT_METHOD,0), @CHECK_NUMBER = CHECK_NUMBER  FROM CLM_ACTIVITY_PAYMENT    
    WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID=@ACTIVITY_ID    
 END    
 ELSE    
  SET @PAYMENT_METHOD = 0    
 

-- For manual check too, the entry should go to this table - Rajan - 28/Mar/2008

/*    
 if(@PAYMENT_METHOD<>11787)  --11787=Check..if payment is other than check, return    
  return     
*/


 INSERT INTO ACT_CHECK_INFORMATION    
 (CHECK_ID, CHECK_TYPE, SELECT_FROM, ACCOUNT_ID, MANUAL_CHECK, CHECK_NUMBER, CHECK_DATE,     
 CHECK_AMOUNT, CHECK_NOTE, PAYEE_ENTITY_ID, PAYEE_ENTITY_TYPE, PAYEE_ENTITY_NAME,     
 PAYEE_ADD1, PAYEE_ADD2, PAYEE_CITY, PAYEE_STATE, PAYEE_ZIP,     
 PAYEE_NOTE, CREATED_IN, DIV_ID, DEPT_ID, PC_ID, IS_COMMITED, DATE_COMMITTED,     
 COMMITED_BY, IN_RECON, AVAILABLE_BALANCE, CUSTOMER_ID, POLICY_ID, POLICY_VER_TRACKING_ID,     
 GL_UPDATE, IS_BNK_RECONCILED, CHECKSIGN_1, CHECKSIGN_2, CHECK_MEMO,     
 IS_BNK_RECONCILED_VOID, IN_BNK_RECON, SPOOL_STATUS, TRAN_TYPE, IS_DISPLAY_ON_STUB,     
 IS_ACTIVE, CREATED_BY, CREATED_DATETIME, MODIFIED_BY, LAST_UPDATED_DATETIME,     
 OFFSET_ACC_ID, IS_AUTO_GENERATED, IS_IN_CURRENT_SEQUENCE, OPEN_ITEM_ROW_ID, MONTH, YEAR,     
 AGENCY_ID, COMM_TYPE, PAYMENT_MODE,     
 CLM_SUSPENCE_ACCT,CLAIM_TO_ORDER_DESC)    
 SELECT TOP 1    
 @CURR_MAX_CHECK_ID,     
 9937, NULL,    
 @CLM_CHECK_DEFAULT_AC,--DR ACCT NAME    
 CASE @PAYMENT_METHOD WHEN 11979 THEN 'Y' ELSE 'N' END AS MANUAL_CHECK,    
 @CHECK_NUMBER, GETDATE(), @ACTIVITY_AMOUNT, NARRATIVE,     
 CLM_PAYEE.PARTY_ID,NULL,    
 @NAMELIST, --PAYEE_ENTITY_NAME    
 CASE WHEN @ACTION_ON_PAYMENT=175 THEN CP.ADDRESS1 ELSE CLM_PAYEE.ADDRESS1 END,
 CASE WHEN @ACTION_ON_PAYMENT=175 THEN CP.ADDRESS2 ELSE CLM_PAYEE.ADDRESS2 END,
 CASE WHEN @ACTION_ON_PAYMENT=175 THEN CP.CITY ELSE CLM_PAYEE.CITY END, 
 CASE WHEN @ACTION_ON_PAYMENT=175 THEN CP.STATE ELSE CLM_PAYEE.STATE END, 
 CASE WHEN @ACTION_ON_PAYMENT=175 THEN CP.ZIP ELSE CLM_PAYEE.ZIP END, NULL, NULL,    
 @DIV_ID, -- DIV_ID  PICK FROM SESSION    
 @DEPT_ID, -- DEPT_ID  PICK FROM SESSION    
 @PC_ID, -- PC_ID  PICK FROM SESSION    
 'Y', /*IS COMMITED*/     
 GETDATE(),     
 @USER_ID, -- COMMITED_BY PICK LOGED USER ID FROM SESSION    
 NULL,  NULL, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID,    
     
-- NULL, -- GL_UPDATE
 '1', -- GL_UPDATE
 NULL, NULL, NULL, NULL, NULL, NULL,     
 0,--SPOOL_STATUS    
  NULL, NULL,    
  'Y',--IS_ACTIVE    
 @USER_ID, -- CREATED_BY PICK LOGED USER ID FROM SESSION    
 GETDATE(), NULL, NULL,     
 @DR_ACCT, -- OFFSET_ACC_ID PUT CR ACCT    
 'N','Y',1,NULL,NULL,NULL,NULL,@PAYMENT_METHOD,    
 @CR_ACCT, --CLM_SUSPENCE_ACCT    
 @CLAIM_TO_ORDER_DESC    
 FROM CLM_PAYEE WITH (NOLOCK)    
 INNER JOIN  CLM_CLAIM_INFO ON CLM_PAYEE.CLAIM_ID= CLM_CLAIM_INFO.CLAIM_ID
 LEFT OUTER JOIN CLM_PARTIES CP ON CP.CLAIM_ID= CLM_CLAIM_INFO.CLAIM_ID AND CLM_PAYEE.PARTY_ID = CP.PARTY_ID   
 WHERE CLM_PAYEE.CLAIM_ID=@CLAIM_ID    AND CLM_PAYEE.ACTIVITY_ID=@ACTIVITY_ID    
    
 --Update the activity table with the check id generated    
    UPDATE CLM_ACTIVITY SET CHECK_ID= @CURR_MAX_CHECK_ID WHERE     
  CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID=@ACTIVITY_ID    

--Update Posting :Modified on 14 Dec 2007
UPDATE 
ACT_ACCOUNTS_POSTING_DETAILS set source_row_id=(SELECT ISNULL(CHECK_ID,0)
FROM CLM_ACTIVITY WITH(NOLOCK) 
	WHERE 
	CLM_ACTIVITY.CLAIM_ID = @CLAIM_ID
	AND CLM_ACTIVITY.ACTIVITY_ID = @ACTIVITY_ID
) WHERE  SOURCE_NUM = 	CAST(@CLAIM_ID as VARCHAR) + ' - ' + CAST(@ACTIVITY_ID AS VARCHAR)
AND UPDATED_FROM='C'
    
END




GO

