IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_DoPostRenewalAdjustments]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_DoPostRenewalAdjustments]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN
--DROP PROC Proc_DoPostRenewalAdjustments
--GO
CREATE PROC Proc_DoPostRenewalAdjustments
(
	@CUSTOMER_ID		INT,
	@POLICY_ID			INT,
	@POLICY_VERSION_ID	INT
)
AS
BEGIN

CREATE TABLE #TEMP
(
	INSTALLMENT_NO INT,
	CUSTOMER_ID INT, 
	POLICY_ID INT,
	--POLICY_VERSION_ID INT,
	TERM INT,
	BALANCE DECIMAL(18,2)
)

DECLARE @CURRENT_TERM INT
DECLARE @FIRST_INSTALL_EFF_DATE DATETIME

SELECT @CURRENT_TERM = CURRENT_TERM FROM POL_CUSTOMER_POLICY_LIST WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID

SELECT @FIRST_INSTALL_EFF_DATE = INSTALLMENT_EFFECTIVE_DATE FROM ACT_POLICY_INSTALLMENT_DETAILS WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID 
AND CURRENT_TERM = @CURRENT_TERM AND POLICY_VERSION_ID = @POLICY_VERSION_ID AND INSTALLMENT_NO = 1 

INSERT INTO #TEMP 
	SELECT DISTINCT INS_DETAILS.INSTALLMENT_NO,OI.CUSTOMER_ID, OI.POLICY_ID, INS_DETAILS.CURRENT_TERM,
	SUM(ISNULL(OI.TOTAL_DUE,0)-ISNULL(OI.TOTAL_PAID,0)) AS BALANCE
	FROM ACT_CUSTOMER_OPEN_ITEMS OI
	INNER JOIN ACT_POLICY_INSTALLMENT_DETAILS INS_DETAILS
		ON OI.INSTALLMENT_ROW_ID = INS_DETAILS.ROW_ID
	WHERE OI.CUSTOMER_ID = @CUSTOMER_ID AND OI.POLICY_ID = @POLICY_ID  --OI.POLICY_VERSION_ID = @POLICY_VERSION_ID AND
	AND INS_DETAILS.CURRENT_TERM = @CURRENT_TERM - 1
	AND NOT EXISTS (
					 SELECT IDEN_ROW_ID FROM ACT_CUSTOMER_OPEN_ITEMS 
					 WHERE ISNULL(OI.NOTICE_SEND,'N') = 'Y' AND CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID
				   )
	GROUP BY INS_DETAILS.INSTALLMENT_NO,OI.CUSTOMER_ID, OI.POLICY_ID,INS_DETAILS.CURRENT_TERM
	HAVING SUM(ISNULL(TOTAL_DUE,0)-ISNULL(TOTAL_PAID,0))> 0

UPDATE ACT_CUSTOMER_OPEN_ITEMS
SET DUE_DATE = @FIRST_INSTALL_EFF_DATE,
SWEEP_DATE = @FIRST_INSTALL_EFF_DATE
WHERE ACT_CUSTOMER_OPEN_ITEMS.IDEN_ROW_ID IN (
												SELECT DISTINCT OI.IDEN_ROW_ID FROM ACT_CUSTOMER_OPEN_ITEMS OI
												INNER JOIN ACT_POLICY_INSTALLMENT_DETAILS INSTALL
													ON OI.INSTALLMENT_ROW_ID = INSTALL.ROW_ID
												WHERE OI.CUSTOMER_ID = @CUSTOMER_ID AND OI.POLICY_ID = @POLICY_ID AND INSTALL.CURRENT_TERM = @CURRENT_TERM - 1 AND
												INSTALL.INSTALLMENT_NO IN (
																			SELECT INSTALLMENT_NO FROM #TEMP
																		  )
											 )
--(SELECT IDEN_ROW_ID FROM #TEMP)

--SELECT * FROM #TEMP
DROP TABLE #TEMP
END

--GO
--EXEC Proc_DoPostRenewalAdjustments 1577,60,2
--select sweep_date, due_date, * from act_customeR_open_items where customer_id = 1577 and policy_id = 60 AND POLICY_VERSION_ID = 1
--AND TOTAL_DUE - TOTAL_PAID > 0 --AND IDEN_ROW_ID IN (100994,100995,100996,100997,100998,100999,101000,101001,101002,101039,101040)
--ORDER BY IDEN_ROW_ID 
--GO
--EXEC Proc_GetPolicyInstallmentPlanInfo 1577,60,1
----
--ROLLBACK TRAN



GO

