IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetHOME_OWNER_REC_VEH_COVERAGES]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetHOME_OWNER_REC_VEH_COVERAGES]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO













/*
----------------------------------------------------------    
Proc Name       : dbo.Proc_GetAPP_UMBRELA_LIMITS1
Created by      : Pradeep  
Date            : 26 May,2005    
Purpose         : Selects a single record from UMBRELLA_LIITS    
Revison History :    
Used In         : Wolverine    
------------------------------------------------------------    
Date     Review By          Comments    
------   ------------       -------------------------   
*/

CREATE          PROCEDURE Proc_GetHOME_OWNER_REC_VEH_COVERAGES
(
	@CUSTOMER_ID int,
	@APP_ID int,
	@APP_VERSION_ID smallint,
	@REC_VEH_ID smallint,
	@PAGE_SIZE int,
	@CURRENT_PAGE_INDEX int
)

As

DECLARE @STARTINDEX int 
DECLARE @ENDPAGEINDEX int 

SET @STARTINDEX =  ((@CURRENT_PAGE_INDEX - 1 ) * @PAGE_SIZE) + 1
SET @ENDPAGEINDEX = @STARTINDEX + @PAGE_SIZE

SELECT COUNT(*) 
FROM APP_HOME_OWNER_RECREATIONAL_VEHICLES_COVERAGES
WHERE CUSTOMER_ID = @CUSTOMER_ID AND
	APP_ID = @APP_ID AND
	APP_VERSION_ID = @APP_VERSION_ID AND
	REC_VEH_ID = @REC_VEH_ID


CREATE TABLE #APP_HOME_OWNER_RECREATIONAL_VEHICLES_COVERAGES 
(
	[IDENT_COL] Int Identity(1,1),
	[COVERAGE_ID] [int] NOT NULL ,
	[COVERAGE_CODE_ID] [Int] ,
	[LIMIT] [decimal](18, 2) NULL ,
	[DEDUCTIBLE] [decimal](18, 2) NULL ,
	[WRITTEN_PREMIUM] [decimal](18, 2) NULL ,
	[FULL_TERM_PREMIUM] [decimal](18, 2) NULL ,
	[IS_ACTIVE] [nchar] (1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CREATED_BY] [int] NULL ,
	[CREATED_DATETIME] [datetime] NULL ,
	[MODIFIED_BY] [int] NULL ,
	[LAST_UPDATED_DATETIME] [datetime] NULL ,
	[COVERAGE_UNIQUE_ID] [int]
)

INSERT INTO #APP_HOME_OWNER_RECREATIONAL_VEHICLES_COVERAGES
(
	COVERAGE_ID,
	COVERAGE_CODE_ID,
	LIMIT,
	DEDUCTIBLE,
	WRITTEN_PREMIUM,
	FULL_TERM_PREMIUM,
	IS_ACTIVE,
	CREATED_BY,
	CREATED_DATETIME,
	MODIFIED_BY,
	LAST_UPDATED_DATETIME,
	COVERAGE_UNIQUE_ID
)
SELECT COVERAGE_ID,
	COVERAGE_CODE,
	LIMIT,
	DEDUCTIBLE,
	WRITTEN_PREMIUM,
	FULL_TERM_PREMIUM,
	IS_ACTIVE,
	CREATED_BY,
	CREATED_DATETIME,
	MODIFIED_BY,
	LAST_UPDATED_DATETIME,
	COVERAGE_UNIQUE_ID
FROM APP_HOME_OWNER_RECREATIONAL_VEHICLES_COVERAGES
WHERE CUSTOMER_ID = @CUSTOMER_ID AND
	APP_ID = @APP_ID AND
	APP_VERSION_ID = @APP_VERSION_ID AND
	REC_VEH_ID = @REC_VEH_ID


SELECT * FROM #APP_HOME_OWNER_RECREATIONAL_VEHICLES_COVERAGES
WHERE IDENT_COL >= @STARTINDEX AND
       IDENT_COL <  @ENDPAGEINDEX	


DROP TABLE #APP_HOME_OWNER_RECREATIONAL_VEHICLES_COVERAGES












GO

