IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_Process_1099]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_Process_1099]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN       
--DROP PROC [DBO].[PROC_PROCESS_1099]       
--GO      
--      
      
CREATE PROC [dbo].[Proc_Process_1099]        
(        
	 @YEAR    INT,        
	 @PROCESSED_BY   INT,        
	 @PAYORS_CARRIER_CODE  VARCHAR(10),
	 @OLD_FISCAL_ID INT
)        
AS        
        
--Delete Existing RECORDS processsed and reprocess it         
--DELETE FROM FORM_1099 --WHERE ENTITY_ID is not null --   (Entity Id will be NULL during Claims Processing)  Entity Type '' From ASPX
--Delete from form_1099 where entity_type <> '' 
--Delete from CHECK_DETAILS_1099 
--UPDATE ACT_CHECK_INFORMATION SET IS_1099_PROCESSED  = NULL        
--UPDATE ACT_CURRENT_DEPOSIT_LINE_ITEMS SET IS_1099_PROCESSED = NULL        
--        
        
DECLARE @SYS_1099_AMOUNT DECIMAL(18,2)        
        
        
DECLARE @VOID INT    
SET @VOID = 2
       
  
DECLARE @VENDOR_TYPE_CHECK INT  
SET @VENDOR_TYPE_CHECK = 9938        

DECLARE @CREATED_DATETIME DATETIME 
SET @CREATED_DATETIME = GETDATE()        
        
        
SELECT @SYS_1099_AMOUNT = ISNULL(SYS_1099_AMOUNT,0) FROM MNT_SYSTEM_PARAMS WITH(NOLOCK)   


DECLARE @EFT INT			SET @EFT = 11788
DECLARE @EFT_SWEEP INT		SET @EFT_SWEEP= 11976     
        
        
  

CREATE TABLE #INCLUDED_VENDORS  
( 
	[IDENT_COL] [INT]		IDENTITY(1,1) NOT NULL , 
	ENTITY_ID				Int, --payee ID
	REFERENCE_ID			INT, --check id
	COMMISSION_PAID			DECIMAL(18,2),
	REF_CODE				NVARCHAR(20)
)     
        
        
---------VENDOR RECORDS        
/*1. All vendors will be classified as either tax-exempt
 (not subject to 1099 reporting), or incorporated 
(not subject to 1099 reporting except for attorneys and medical providers),         
or neither tax-exempt nor incorporated (subject to 1099 reporting).*/    
	--114245	Other - SSN
	--11735		Other - Federal ID    
        
/*        
*/        
DECLARE @OTHER_SSN INT SET @OTHER_SSN = 114245
DECLARE @OTHER_FEDERAL_ID INT SET @OTHER_FEDERAL_ID = 11735
        
INSERT INTO #INCLUDED_VENDORS        
        
SELECT PAYEE_ENTITY_ID ,CHECK_ID ,ISNULL(SUM(CHECK_AMOUNT),0),'VEN' AS ENTITY_CODE        
FROM ACT_CHECK_INFORMATION ACT INNER JOIN MNT_VENDOR_LIST MNT        
ON MNT.VENDOR_ID = ACT.PAYEE_ENTITY_ID         
WHERE 
	ISNULL(CHECK_TYPE,'') = @VENDOR_TYPE_CHECK        
	AND YEAR(DATE_COMMITTED) = @YEAR        
	AND ISNULL(MNT.PROCESS_1099_OPT,0) IN (@OTHER_SSN,@OTHER_FEDERAL_ID)  	
	AND ISNULL(ACT.IS_1099_PROCESSED,'N') <> 'Y'        
	AND ISNULL(ACT.IS_PRINTED,'N')  = 'Y'        
	AND ISNULL(ACT.IS_COMMITED,'N') = 'Y' 
	AND ISNULL(ACT.PAYMENT_MODE,0) NOT IN (@EFT,@EFT_SWEEP)	       
	AND ISNULL(ACT.GL_UPDATE,'0') <> @VOID        
	AND PAYEE_ENTITY_ID NOT IN         
	(        
		  SELECT PAYEE_ENTITY_ID         
		  FROM ACT_CHECK_INFORMATION ACT INNER JOIN MNT_VENDOR_LIST MNT        
		  ON MNT.VENDOR_ID = ACT.PAYEE_ENTITY_ID         
		  WHERE ISNULL(CHECK_TYPE,'') = @VENDOR_TYPE_CHECK        
		  AND YEAR(DATE_COMMITTED) = @YEAR        
		  AND ISNULL(MNT.PROCESS_1099_OPT,0) IN (@OTHER_SSN,@OTHER_FEDERAL_ID)  
		  AND ISNULL(ACT.IS_1099_PROCESSED,'N') <> 'Y'        
		  AND ISNULL(ACT.IS_PRINTED,'N')  = 'Y'        
		  AND ISNULL(ACT.IS_COMMITED,'N') = 'Y'  
		  AND ISNULL(ACT.PAYMENT_MODE,0) NOT IN (@EFT,@EFT_SWEEP)      
		  AND ISNULL(ACT.GL_UPDATE,'0') <> @VOID        
		  GROUP BY PAYEE_ENTITY_ID        
		  HAVING SUM(CHECK_AMOUNT) <= @SYS_1099_AMOUNT        
          
 )        
 GROUP BY PAYEE_ENTITY_ID ,CHECK_ID        
      

UNION --EFT RECORDS IS_PRINTED <> Y  COMMITED = Y

SELECT PAYEE_ENTITY_ID ,CHECK_ID ,ISNULL(SUM(CHECK_AMOUNT),0),'VEN' AS ENTITY_CODE        
FROM ACT_CHECK_INFORMATION ACT INNER JOIN MNT_VENDOR_LIST MNT        
ON MNT.VENDOR_ID = ACT.PAYEE_ENTITY_ID         
WHERE ISNULL(CHECK_TYPE,'') = @VENDOR_TYPE_CHECK        
	AND YEAR(DATE_COMMITTED) = @YEAR        
    AND ISNULL(MNT.PROCESS_1099_OPT,0) IN (@OTHER_SSN,@OTHER_FEDERAL_ID)  	
	AND ISNULL(ACT.IS_1099_PROCESSED,'N') <> 'Y'        
	AND ISNULL(ACT.IS_COMMITED,'N') = 'Y' 
	AND ISNULL(ACT.PAYMENT_MODE,0) IN (@EFT,@EFT_SWEEP)	       
	AND ISNULL(ACT.GL_UPDATE,'0') <> @VOID        
	AND PAYEE_ENTITY_ID NOT IN         
	(        
		  SELECT PAYEE_ENTITY_ID         
		  FROM ACT_CHECK_INFORMATION ACT INNER JOIN MNT_VENDOR_LIST MNT        
		  ON MNT.VENDOR_ID = ACT.PAYEE_ENTITY_ID         
		  WHERE ISNULL(CHECK_TYPE,'') = @VENDOR_TYPE_CHECK        
		  AND YEAR(DATE_COMMITTED) = @YEAR        
		  AND ISNULL(MNT.PROCESS_1099_OPT,0) IN (@OTHER_SSN,@OTHER_FEDERAL_ID)  
		  AND ISNULL(ACT.IS_1099_PROCESSED,'N') <> 'Y'        
		  AND ISNULL(ACT.IS_COMMITED,'N') = 'Y' 
		  AND ISNULL(ACT.PAYMENT_MODE,0) IN (@EFT,@EFT_SWEEP)	       
		  AND ISNULL(ACT.GL_UPDATE,'0') <> @VOID        
		  GROUP BY PAYEE_ENTITY_ID        
		  HAVING SUM(CHECK_AMOUNT) <= @SYS_1099_AMOUNT        
          
 )        
 GROUP BY PAYEE_ENTITY_ID ,CHECK_ID
 ORDER BY PAYEE_ENTITY_ID 



--TRANSFER DATA TO TEMP TO GET DISTINCT RECORDS        
CREATE TABLE #TEMP_1099_ENTITY        
(           
   [IDENT_COL] [INT] IDENTITY(1,1) NOT NULL ,                    
   [1099_ENTITY_ID]  INT        
)        
        
INSERT INTO #TEMP_1099_ENTITY ([1099_ENTITY_ID])        
SELECT DISTINCT [ENTITY_ID]        
FROM #INCLUDED_VENDORS    

        
-----Varibales         
DECLARE @ENTITY_ID INT        
DECLARE @ENTITY_TYPE VARCHAR(10) 
set @ENTITY_TYPE ='VEN'
DECLARE @RECIPIENT_IDENTIFICATION NVARCHAR(200)        
DECLARE @NON_EMPLOYEMENT_COMPENSATION DECIMAL(18,2)     
DECLARE @RECIPIENT_ENTITY_NAME NVARCHAR(70)        
DECLARE @RECIPIENT_ADD1 NVARCHAR(70)        
DECLARE @RECIPIENT_ADD2 NVARCHAR(70)        
DECLARE @RECIPIENT_CITY NVARCHAR(40)        
DECLARE @RECIPIENT_STATE NVARCHAR(30)        
DECLARE @RECIPIENT_ZIP NVARCHAR(120)        
DECLARE @FORM_1099_ID INT        
DECLARE @1099_ENTITY_ID INT 
DECLARE @FED_SSN_1099 VARCHAR(1)
DECLARE @ENTITY_NAME VARCHAR(200) 
DECLARE @FIELD_1 NVARCHAR(70)   
DECLARE @FIELD_2 NVARCHAR(70)
DECLARE @VENDOR_CODE VARCHAR(40)   --ACCOUNT NUMBER
DECLARE @ASSIGN_VENDOR_CODE VARCHAR(40)


        
DECLARE @IDENT_COL Int          
SET @IDENT_COL = 1          
      
WHILE 1 = 1                        
BEGIN                        
	IF NOT EXISTS (SELECT IDENT_COL FROM #TEMP_1099_ENTITY with(NOLOCK) WHERE IDENT_COL = @IDENT_COL)                        
	BEGIN                        
		BREAK                        
	END           

	SELECT @ENTITY_ID = [1099_ENTITY_ID] FROM #TEMP_1099_ENTITY WHERE IDENT_COL = @IDENT_COL     
   
	UPDATE ACT_CHECK_INFORMATION SET IS_1099_PROCESSED = 'Y'         
	WHERE CHECK_ID IN ( SELECT REFERENCE_ID FROM #INCLUDED_VENDORS WHERE [ENTITY_ID] = @ENTITY_ID)         
	AND ISNULL(CHECK_TYPE,0) = @VENDOR_TYPE_CHECK  


	--MOve to Non Employee Compensation
	SELECT @NON_EMPLOYEMENT_COMPENSATION = SUM(COMMISSION_PAID) FROM #INCLUDED_VENDORS WHERE [ENTITY_ID] = @ENTITY_ID	

	SET @RECIPIENT_IDENTIFICATION = ''        
     
	SELECT
		@ENTITY_ID				=  MVL.VENDOR_ID,      
		@RECIPIENT_ENTITY_NAME  =  MVL.MAIL_1099_NAME,  --Bussiness Owner Name    
		@RECIPIENT_ADD1			=  ISNULL(MVL.MAIL_1099_ADD1 ,''),       
		@RECIPIENT_ADD2			=  ISNULL(MVL.MAIL_1099_ADD2 ,''),      
		@RECIPIENT_CITY			=  ISNULL(MVL.MAIL_1099_CITY ,''),       
		@RECIPIENT_STATE		=  ISNULL(MVL.MAIL_1099_STATE,''),              
		@RECIPIENT_ZIP			=  ISNULL(MVL.MAIL_1099_ZIP ,''),
		@FED_SSN_1099			=  ISNULL(FED_SSN_1099,''),
		@ENTITY_NAME			=  ISNULL(COMPANY_NAME,''),
		@VENDOR_CODE			=  ISNULL(VENDOR_CODE,'') ,
		@RECIPIENT_IDENTIFICATION = ISNULL(VENDOR_FEDERAL_NUM,0) 
		FROM MNT_VENDOR_LIST MVL WHERE MVL.VENDOR_ID = @ENTITY_ID  

		SET @ASSIGN_VENDOR_CODE = @VENDOR_CODE + 'V'


		IF (@RECIPIENT_ENTITY_NAME IS NOT NULL)
		BEGIN 
			SET @FIELD_1 = @RECIPIENT_ENTITY_NAME
			SET @FIELD_2 = @ENTITY_NAME
		END
		IF (@RECIPIENT_ENTITY_NAME IS NULL)
		BEGIN 
			SET @FIELD_1 = @ENTITY_NAME
			SET @FIELD_2 = NULL
		END
   
	
	
	EXECUTE Proc_Insert_FORM_1099         
	@FORM_1099_ID OUT, 
	@ENTITY_ID    =  @ENTITY_ID,        
	@ENTITY_TYPE    =  @ENTITY_TYPE,        
	@PAYORS_CARRIER_CODE  = @PAYORS_CARRIER_CODE,        
	@RECIPIENT_NAME   =  @FIELD_1,
	@RECIPIENT_STREET_ADDRESS1  =  @RECIPIENT_ADD1 ,        
	@RECIPIENT_STREET_ADDRESS2  =  @RECIPIENT_ADD2 ,        
	@RECIPIENT_CITY   =  @RECIPIENT_CITY,        
	@RECIPIENT_STATE   = @RECIPIENT_STATE,        
	@RECIPIENT_ZIP    =  @RECIPIENT_ZIP,        
	@RECIPIENT_IDENTIFICATION  =  @RECIPIENT_IDENTIFICATION,        
	@NON_EMPLOYEMENT_COMPENSATION = @NON_EMPLOYEMENT_COMPENSATION,
	@ACCOUNT_NO     =  @ASSIGN_VENDOR_CODE,        
	@CREATED_BY     =  @PROCESSED_BY,        
	@CREATED_DATETIME   =  @CREATED_DATETIME,        
	@MODIFIED_BY     	=  NULL,        
	@LAST_UPDATED_DATETIME   =  NULL,        
	@INSERTUPDATE    =  'I', 
	@FED_SSN_1099    = @FED_SSN_1099,
	@RECIPIENT_NAME_1 = @FIELD_2,
	@YEAR_1099 = @YEAR
	
          
	--INSERT IN TO CHECK 1099 DETAILS        
	INSERT INTO CHECK_DETAILS_1099        
	SELECT @FORM_1099_ID ,[REFERENCE_ID] , GETDATE() ,        
	CASE WHEN [REF_CODE] = 'DEP' THEN 'D' ELSE 'C' END        
	FROM #INCLUDED_VENDORS WHERE [ENTITY_ID] = @ENTITY_ID         

	SET @IDENT_COL = @IDENT_COL + 1        
        
END        
        
 DROP TABLE #INCLUDED_VENDORS        
 DROP TABLE #TEMP_1099_ENTITY        
        
--AGENCY COMMISSION
EXECUTE Proc_AgencyCommission_1099 @YEAR,@SYS_1099_AMOUNT
--CSR
EXECUTE Proc_CSR_Commission_1099 @YEAR,@SYS_1099_AMOUNT
--CLIAMS
EXECUTE Proc_ClaimCheckDetails_1099 @YEAR,@SYS_1099_AMOUNT,@PAYORS_CARRIER_CODE

--------------------------UPDATE ACT GENERAL LEDGER---------------------
UPDATE ACT_GENERAL_LEDGER SET TEN99_PROCESSED = 1 ,TEN99_PROCESSING_DATE = GETDATE() 
WHERE FISCAL_ID = @OLD_FISCAL_ID
--      
--GO      
--
--EXEC [dbo].[Proc_Process_1099] 2009,600,'w001',1    
--
--SELECT * FROM FORM_1099
--SELECT * FROM CHECK_DETAILS_1099
--    
--ROLLBACK TRAN       

---------------------------------------------




















GO

