IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_GET_MEL_EVENTOS_POLICY_EXCLUSION]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_GET_MEL_EVENTOS_POLICY_EXCLUSION]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PROC_GET_MEL_EVENTOS_POLICY_EXCLUSION]
@ROW_ID INT
AS
BEGIN

SELECT 
ROW_ID,
[DATE],
CUSTOMER_ID,
POLICY_ID,
POLICY_NO,
IS_ACTIVE
FROM 
MEL_EVENTOS_POLICY_EXCLUSION WITH(NOLOCK)
WHERE ROW_ID =@ROW_ID
END
GO

