IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_INSERT_POL_PASSENGERS_PERSONAL_ACCIDENT_INFO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_INSERT_POL_PASSENGERS_PERSONAL_ACCIDENT_INFO]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------              
Proc Name       : DBO.PROC_INSERT_POL_PASSENGERS_PERSONAL_ACCIDENT_INFO              
Created by      : Pradeep Kushwaha
Date            : 28/05/2010              
Purpose			:To insert records in POL_PASSENGERS_PERSONAL_ACCIDENT_INFO table.              
Revison History :              
Used In         : Ebix Advantage              
------------------------------------------------------------              
Date     Review By          Comments              
------   ------------       -------------------------*/              
--DROP PROC DBO.PROC_INSERT_POL_PASSENGERS_PERSONAL_ACCIDENT_INFO   
  
CREATE PROC [dbo].[PROC_INSERT_POL_PASSENGERS_PERSONAL_ACCIDENT_INFO]   
(    
	@CUSTOMER_ID INT,
	@POLICY_ID INT, 
	@POLICY_VERSION_ID SMALLINT, 
	@PERSONAL_ACCIDENT_ID INT OUT, 
	@START_DATE DATETIME,
	@END_DATE DATETIME,
	@NUMBER_OF_PASSENGERS NUMERIC,
	@IS_ACTIVE NCHAR(1),
	@CREATED_BY INT,
	@CREATED_DATETIME DATETIME,
	@CO_APPLICANT_ID INT,
	@ORIGINAL_VERSION_ID INT=NULL,
	@RISK_ORIGINAL_ENDORSEMENT_NO INT = NULL,
	@EXCEEDED_PREMIUM INT = NULL  
)
AS  
BEGIN
DECLARE @FLAG BIT   
  EXEC PROC_CHECK_RISK_EFFDATE_AND_RISK_EXPDATE @CUSTOMER_ID,@POLICY_ID,@POLICY_VERSION_ID,@START_DATE,@END_DATE,@FLAG OUT  
  IF(@FLAG=1)
  BEGIN
	SELECT  @PERSONAL_ACCIDENT_ID=ISNULL(MAX(PERSONAL_ACCIDENT_ID),0)+1  FROM POL_PASSENGERS_PERSONAL_ACCIDENT_INFO WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID 
  
	INSERT INTO POL_PASSENGERS_PERSONAL_ACCIDENT_INFO  
	(
		POLICY_ID , 
		POLICY_VERSION_ID , 
		CUSTOMER_ID ,
		PERSONAL_ACCIDENT_ID,
		START_DATE,
		END_DATE,
		NUMBER_OF_PASSENGERS,
		IS_ACTIVE ,
		CREATED_BY ,
		CREATED_DATETIME,
		CO_APPLICANT_ID ,
		ORIGINAL_VERSION_ID,
		RISK_ORIGINAL_ENDORSEMENT_NO,
		EXCEEDED_PREMIUM
	 
	) 
	VALUES
	(
		@POLICY_ID , 
		@POLICY_VERSION_ID , 
		@CUSTOMER_ID ,
		@PERSONAL_ACCIDENT_ID, 
		@START_DATE,
		@END_DATE,
		@NUMBER_OF_PASSENGERS,
		@IS_ACTIVE ,
		@CREATED_BY ,
		@CREATED_DATETIME,
		@CO_APPLICANT_ID,
		@ORIGINAL_VERSION_ID,
		@RISK_ORIGINAL_ENDORSEMENT_NO,
		@EXCEEDED_PREMIUM 
	)
	RETURN 1
	END
	ELSE
	BEGIN
	RETURN -3
	END
END

GO

