IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GenerateQuickQuoteNumber]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GenerateQuickQuoteNumber]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------
Proc Name          : Dbo.Proc_GenerateQuickQuoteNumber
Created by         : Deepak Gupta
Date               : 10/13/2005
Purpose            : Generate the Quick Quote number
Revison History    :

------------------------------------------------------------
Date     Review By          Comments
------   ------------       -------------------------*/
CREATE PROC Dbo.Proc_GenerateQuickQuoteNumber
(
	@APP_LOB	varchar(10),
	@AGENCY_ID 	int = NULL
)
AS

DECLARE @OVERRIDE_LOB_PREFIX CHAR(1),
	@LOB_ID VARCHAR(1),
	@AGENCY_PRESENT CHAR(1)

BEGIN
	-- CHECK IF THE LOB HAS OVERIDABLE PREFIX
	SELECT @OVERRIDE_LOB_PREFIX=OVERRIDE_LOB_PREFIX,@LOB_ID=LOB_ID FROM MNT_LOB_MASTER WHERE LOB_CODE=@APP_LOB

	-- IF LOB IS OVERIDABLE THEN CHECK IF AGENCY SUPPLIED MATCHES ANY RECORD PRESENT IN THE MNT_LOB_AGENCY TABLE AGAINST THE SELECTED LOB AND AGENCY. 
	IF (@OVERRIDE_LOB_PREFIX ='1')
	BEGIN
		IF EXISTS(SELECT * FROM MNT_LOB_AGENCY WHERE LOB_ID=@LOB_ID AND AGENCY_ID=@AGENCY_ID)
			SET @AGENCY_PRESENT='1'
		ELSE
			SET @AGENCY_PRESENT='0'		
	END

	-- CHECK IF ANY APPLICATION EXISTS WITH THE CURRENT LOB
	IF EXISTS (SELECT * FROM CLT_QUICKQUOTE_LIST WHERE QQ_TYPE=@APP_LOB)
	BEGIN
		-- IF THE LOB HAS OVERIDABLE PREFIX AND THE  AGENCY IS PRESENT AGAINST THE LOB IN THE RELATION TABLE ,,  THEN JOIN WITH MNT_LOB_AGENCY  TABLE TO REPLACE WITH OVERRIDDEN PREFIX
		IF (@OVERRIDE_LOB_PREFIX ='1'  AND @AGENCY_PRESENT='1')
		BEGIN
			SELECT UPPER(RTRIM(MLA.LOB_PREFIX))
				+ CAST(ISNULL(MAX(SUBSTRING(CQL.QQ_NUMBER, 2, 7)) + 1, CAST( ISNULL(MLM.LOB_SEED,0) AS VARCHAR(7))) AS VARCHAR(7)) 
				+ 'QQ' AS QQNNUMBER
			FROM CLT_QUICKQUOTE_LIST CQL
			INNER JOIN MNT_LOB_MASTER MLM ON CQL.QQ_TYPE = MLM.LOB_CODE 
			INNER JOIN MNT_LOB_AGENCY MLA ON MLM.LOB_ID = MLA.LOB_ID
			WHERE CQL.QQ_TYPE = @APP_LOB AND SUBSTRING(CQL.QQ_NUMBER, 1, 1) = MLA.LOB_PREFIX AND MLA.AGENCY_ID = @AGENCY_ID
			GROUP BY MLA.LOB_PREFIX ,MLM.LOB_SEED
	        END
		ELSE
		BEGIN	
			SELECT UPPER(LOB_PREFIX)
				+ CAST(ISNULL(MAX(SUBSTRING(QQ_NUMBER,2,7))+1,CAST( ISNULL(MLM.LOB_SEED,0) AS VARCHAR(7))) AS VARCHAR(7)) 
				+ 'QQ' AS QQNNUMBER
			FROM CLT_QUICKQUOTE_LIST CQL
			INNER JOIN MNT_LOB_MASTER MLM ON CQL.QQ_TYPE = MLM.LOB_CODE 
			WHERE CQL.QQ_TYPE = @APP_LOB
			GROUP BY LOB_PREFIX,LOB_SEED
		END	  
	END

	ELSE
	-- CHECK IF NO APPLICATION EXISTS WITH THE CURRENT LOB THEN NUMBER WILL BE GENERATED USING MNT_LOB_MASTER AND MNT_LOB_AGENCY (IF REQUIRED)
	BEGIN
		IF (@OVERRIDE_LOB_PREFIX ='1'  AND @AGENCY_PRESENT='1')
		BEGIN
			SELECT UPPER(RTRIM(MLA.LOB_PREFIX)) 
				+ CAST( ISNULL(MLM.LOB_SEED,0) AS VARCHAR(7)) 
				+ 'QQ' AS QQNNUMBER
			FROM  MNT_LOB_MASTER MLM
			INNER JOIN MNT_LOB_AGENCY MLA ON MLM.LOB_ID = MLA.LOB_ID
			WHERE MLM.LOB_CODE = @APP_LOB AND MLA.AGENCY_ID =@AGENCY_ID
			GROUP BY MLA.LOB_PREFIX,MLM.LOB_SEED
		END
		ELSE
		BEGIN 
			SELECT UPPER(LOB_PREFIX) 
				+ CAST( ISNULL(MNT_LOB_MASTER.LOB_SEED,0) AS VARCHAR(7)) 
				+ 'QQ' AS QQNNUMBER
			FROM MNT_LOB_MASTER 
			WHERE LOB_CODE =@APP_LOB
		END
	END
END




GO

