IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_InsertAggregateStopLoss]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_InsertAggregateStopLoss]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*
CREATED BY 		: Deepak Batra
CREATED DATE		: 17 Jan 2006
Purpose			: To implement the Insert on the Aggregate Stop Loss Screen
*/
CREATE PROCEDURE Proc_InsertAggregateStopLoss
(
	@AGGREGATE_ID INT OUTPUT,			
	@CONTRACT_ID INT,			
	@REINSURANCE_COMPANY NVARCHAR(150),	
	@REINSURANCE_ACC_NUMBER NVARCHAR(50),
	@EFFECTIVE_DATE DATETIME,		
	@EXPIRATION_DATE DATETIME,		
	@LINE_OF_BUSINESS INT,		
	@COVERAGE_CODE INT,	
	@CLASS_CODE INT,			
	@PERIL INT, 				
	@STATED_AMOUNT DECIMAL,		
	@SPECIFIC_LOSS_RATIO DECIMAL,	
	@IS_ACTIVE CHAR(1),
	@CREATED_BY SMALLINT,
	@CREATED_DATETIME DATETIME	
)
AS
BEGIN

SELECT @AGGREGATE_ID=ISNULL(MAX(AGGREGATE_ID),0)+1 FROM MNT_REIN_AGGREGATE_STOP_LOSS

INSERT INTO  MNT_REIN_AGGREGATE_STOP_LOSS
(
	AGGREGATE_ID,
	CONTRACT_ID,	
	REINSURANCE_COMPANY,
	REINSURANCE_ACC_NUMBER,
	EFFECTIVE_DATE,
	EXPIRATION_DATE,
	LINE_OF_BUSINESS,
	COVERAGE_CODE,
	CLASS_CODE,
	PERIL,
	STATED_AMOUNT,
	SPECIFIC_LOSS_RATIO,
	IS_ACTIVE,
	CREATED_BY,
	CREATED_DATETIME
)
VALUES
(
	@AGGREGATE_ID,
	@CONTRACT_ID,	
	@REINSURANCE_COMPANY,
	@REINSURANCE_ACC_NUMBER,
	@EFFECTIVE_DATE,
	@EXPIRATION_DATE,
	@LINE_OF_BUSINESS,
	@COVERAGE_CODE,
	@CLASS_CODE,
	@PERIL,
	@STATED_AMOUNT,
	@SPECIFIC_LOSS_RATIO,
	@IS_ACTIVE,
	@CREATED_BY,
	@CREATED_DATETIME
)	

END


GO

