IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetBrokerList]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetBrokerList]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

       
 /*----------------------------------------------------------                    
Proc Name       : dbo.[Proc_GetBrokerList]            
Created by      : Lalit Chauhan        
Date            : 04/26/2010                    
Purpose         :Fetch records From POL_REMUNERATION Table.                    
Revison History :                    
Used In        : Ebix Advantage                    
------------------------------------------------------------                    
Date     Review By          Comments                    
------   ------------       -------------------------*/                    
--DROP PROC dbo.[Proc_GetBrokerList]           
 --  Proc_GetBrokerList 2156,207,1,'RL'   
/****** Script for POL_REMUNERATION into DATABASE  ******/          
      
CREATE PROC [dbo].[Proc_GetBrokerList]                    
(                    
 @CUSTOMER_ID int ,                    
 @POLICY_ID int,                    
 @POLICY_VERSION_ID int,
 @RENTYPE char(2)=NULL
)                    
AS                    
BEGIN 

DECLARE @LOB_ID VARCHAR(10),
        @COMMISSION_LEVEL VARCHAR(2),
        @RISK_TABLE VARCHAR(500),
        @QUERY VARCHAR(5000),
        @SELECT_RISK VARCHAR(500)
        
SELECT @LOB_ID=  POLICY_LOB  FROM POL_CUSTOMER_POLICY_LIST WHERE CUSTOMER_ID=@CUSTOMER_ID and POLICY_ID=@POLICY_ID and POLICY_VERSION_ID=@POLICY_VERSION_ID

SELECT @COMMISSION_LEVEL =  COMMISSION_LEVEL FROM MNT_LOB_MASTER WHERE LOB_ID=@LOB_ID
	
IF(UPPER(@COMMISSION_LEVEL)='RL')	

BEGIN
	 			 
	
		IF (@LOB_ID = '2')
		
		 BEGIN
		       SET @RISK_TABLE='POL_VEHICLES AS POLL ON  POLREMU.CUSTOMER_ID=POLL.CUSTOMER_ID AND POLREMU.POLICY_ID=POLL.POLICY_ID
			AND POLREMU.POLICY_VERSION_ID =POLL.POLICY_VERSION_ID AND POLREMU.RISK_ID=POLL.VEHICLE_ID AND POLL.IS_ACTIVE=''Y'''   
			   SET @SELECT_RISK = 'CONVERT(varchar(250),ISNULL(POLL.VIN,''''))+ '' '' +ISNULL(POLL.VEHICLE_YEAR,'''')' 
			  
		 END 
		   
	    ELSE IF(@LOB_ID = '9')
	   
	    BEGIN
	         SET @RISK_TABLE='POL_PERILS AS POLL ON  POLREMU.CUSTOMER_ID=POLL.CUSTOMER_ID AND POLREMU.POLICY_ID=POLL.POLICY_ID
			AND POLREMU.POLICY_VERSION_ID =POLL.POLICY_VERSION_ID AND POLREMU.RISK_ID=POLL.PERIL_ID AND POLL.IS_ACTIVE=''Y''  LEFT OUTER JOIN  MNT_LOOKUP_VALUES LKP on   
			CONVERT(varchar(250),LKP.LOOKUP_UNIQUE_ID)=CONVERT(varchar(250),POLL.ACTIVITY_TYPE) ' 
			
			 SET @SELECT_RISK = 'CONVERT(varchar(250),ISNULL(POLL.TYPE,''''))+ '' '' +LKP.LOOKUP_VALUE_DESC' 
	     END
	    
	     ELSE IF(@LOB_ID = '13')
	   
	     BEGIN
	         SET @RISK_TABLE='POL_MARITIME AS POLL ON  POLREMU.CUSTOMER_ID=POLL.CUSTOMER_ID AND POLREMU.POLICY_ID=POLL.POLICY_ID
			AND POLREMU.POLICY_VERSION_ID =POLL.POLICY_VERSION_ID AND POLREMU.RISK_ID=POLL.MARITIME_ID AND POLL.IS_ACTIVE=''Y'''   
			
			 SET @SELECT_RISK = 'POLL.TYPE_OF_VESSEL + '' '' + POLL.NAME_OF_VESSEL' 
	     END
	     
	     ELSE IF(@LOB_ID IN('17','18'))
	   
	     BEGIN
	         SET @RISK_TABLE='POL_CIVIL_TRANSPORT_VEHICLES AS POLL ON  POLREMU.CUSTOMER_ID=POLL.CUSTOMER_ID AND POLREMU.POLICY_ID=POLL.POLICY_ID
			AND POLREMU.POLICY_VERSION_ID =POLL.POLICY_VERSION_ID AND POLREMU.RISK_ID=POLL.VEHICLE_ID AND POLL.IS_ACTIVE=''Y'' ' 
			
			 SET @SELECT_RISK = 'CONVERT(VARCHAR(200),POLL.CLIENT_ORDER)+'' ''+CONVERT(VARCHAR(200),POLL.VEHICLE_NUMBER)' 
	     END
	     
	     ELSE IF(@LOB_ID IN('20','23'))
	   
	     BEGIN
	         SET @RISK_TABLE='POL_COMMODITY_INFO AS POLL ON  POLREMU.CUSTOMER_ID=POLL.CUSTOMER_ID AND POLREMU.POLICY_ID=POLL.POLICY_ID
			AND POLREMU.POLICY_VERSION_ID =POLL.POLICY_VERSION_ID AND POLREMU.RISK_ID=POLL.COMMODITY_ID AND POLL.IS_ACTIVE=''Y'''   
			
			 SET @SELECT_RISK = 'CONVERT(varchar(250),POLL.COMMODITY_ID)+''-''+CONVERT(varchar(250),POLL.COMMODITY_NUMBER)+''-''+POLL.COMMODITY'
	     END
	     
	     ELSE IF(@LOB_ID IN('15','21'))
	   
	     BEGIN
	         SET @RISK_TABLE='POL_PERSONAL_ACCIDENT_INFO AS POLL ON  POLREMU.CUSTOMER_ID=POLL.CUSTOMER_ID AND POLREMU.POLICY_ID=POLL.POLICY_ID
			AND POLREMU.POLICY_VERSION_ID =POLL.POLICY_VERSION_ID AND POLREMU.RISK_ID=POLL.PERSONAL_INFO_ID AND POLL.IS_ACTIVE=''Y'' ' 
			
			 SET @SELECT_RISK = 'ISNULL(POLL.INDIVIDUAL_NAME,'''')+'' ''+ISNULL(POLL.CODE,'''')' 
	     END
	     
	     ELSE IF(@LOB_ID ='22')
	   
	     BEGIN
	         SET @RISK_TABLE='POL_PASSENGERS_PERSONAL_ACCIDENT_INFO AS POLL ON  POLREMU.CUSTOMER_ID=POLL.CUSTOMER_ID AND POLREMU.POLICY_ID=POLL.POLICY_ID
			AND POLREMU.POLICY_VERSION_ID =POLL.POLICY_VERSION_ID AND POLREMU.RISK_ID=POLL.PERSONAL_ACCIDENT_ID AND POLL.IS_ACTIVE=''Y'' '   
			
			 SET @SELECT_RISK = 'NUMBER_OF_PASSENGERS' 
	     END
	      ELSE IF(@LOB_ID IN('10','12','14'))
	   
	     BEGIN
	         SET @RISK_TABLE='POL_PRODUCT_LOCATION_INFO AS POLL ON  POLREMU.CUSTOMER_ID=POLL.CUSTOMER_ID AND POLREMU.POLICY_ID=POLL.POLICY_ID
			AND POLREMU.POLICY_VERSION_ID =POLL.POLICY_VERSION_ID AND POLREMU.RISK_ID=POLL.PRODUCT_RISK_ID AND POLL.IS_ACTIVE=''Y'' ' 
			
			 SET @SELECT_RISK = 'CONVERT(varchar(250),ISNULL(VALUE_AT_RISK,0))+'' ''+CONVERT(varchar(250),ISNULL(MAXIMUM_LIMIT,0)) ' 
	     END
	     
	     ELSE
	     
	     BEGIN
	         SET @RISK_TABLE='POL_PRODUCT_LOCATION_INFO AS POLL ON  POLREMU.CUSTOMER_ID=POLL.CUSTOMER_ID AND POLREMU.POLICY_ID=POLL.POLICY_ID
			 AND POLREMU.POLICY_VERSION_ID =POLL.POLICY_VERSION_ID AND POLREMU.RISK_ID=POLL.PRODUCT_RISK_ID LEFT OUTER JOIN  MNT_LOOKUP_VALUES LKP on 
			LKP.LOOKUP_UNIQUE_ID=POLL.ACTIVITY_TYPE  AND POLL.IS_ACTIVE=''Y'' '   
			
			 SET @SELECT_RISK = 'CONVERT(varchar(250),ISNULL(VALUE_AT_RISK,0))+ '' '' +ISNULL(LKP.LOOKUP_VALUE_DESC,'''')' 
	     END 
		   
		   
		        SET @QUERY ='Select POLREMU.REMUNERATION_ID ,POLREMU.BROKER_ID,POLREMU.IS_ACTIVE as STATUS, POLREMU.AMOUNT,POLREMU.COMMISSION_TYPE,POLREMU.LEADER,  POLREMU.NAME,    
				CASE POLREMU.BRANCH            
				WHEN ''0'' then null            
				ELSE POLREMU.BRANCH            
				END AS BRANCH, 
				CASE Agency.IS_ACTIVE                  
				WHEN ''Y'' THEN   ISNULL(AGENCY_DISPLAY_NAME,'''')+''-''+ RTRIM(ISNULL (AGENCY_CODE,'''')) +''-''+ cast(isnull(NUM_AGENCY_CODE,'''') as varchar) + ''- (Active)''                       
				WHEN ''N'' THEN   ISNULL(AGENCY_DISPLAY_NAME,'''') +''-''+ RTRIM(ISNULL (AGENCY_CODE,'''')) +''-''+ cast(isnull(NUM_AGENCY_CODE,'''') as varchar) + ''- (Inactive)''                      
				END AS                   
                   
			BROKER_NAME,
			POLREMU.COMMISSION_PERCENT, POLREMU.RISK_ID   AS PRODUCT_RISK_ID , POLREMU.CO_APPLICANT_ID	AS CO_APPLICANT_ID ,'+@SELECT_RISK+' as RISK_NAME
				             
				FROM   POL_REMUNERATION as POLREMU  WITH(NOLOCK) left outer join MNT_AGENCY_LIST as Agency  WITH(NOLOCK) on                     
			POLREMU.BROKER_ID=Agency.AGENCY_ID LEFT OUTER JOIN '+@RISK_TABLE+' 
            WHERE POLREMU.CUSTOMER_ID='+CAST(@CUSTOMER_ID AS VARCHAR(200))+' and POLREMU.POLICY_ID='+CAST(@POLICY_ID AS VARCHAR(200))+' and POLREMU.POLICY_VERSION_ID='+CAST(@POLICY_VERSION_ID AS VARCHAR(200))+' and  POLREMU.IS_ACTIVE=''Y''
			ORDER BY PRODUCT_RISK_ID'  
			
		   EXECUTE(@QUERY)

		

END
ELSE
BEGIN

                   
 Select POLREMU.REMUNERATION_ID ,POLREMU.BROKER_ID,POLREMU.IS_ACTIVE as STATUS, POLREMU.AMOUNT,POLREMU.COMMISSION_TYPE,POLREMU.LEADER,  POLREMU.NAME,    
 case POLREMU.BRANCH            
 when 0 then null            
 else POLREMU.BRANCH            
   End as BRANCH            
    ,                
 case Agency.IS_ACTIVE                  
                   
                   
WHEN 'Y' THEN   ISNULL(AGENCY_DISPLAY_NAME,'') +'-'+ RTRIM(ISNULL (AGENCY_CODE,'')) +'-'+ cast(isnull(NUM_AGENCY_CODE,'') as varchar) + '- (Active)'                        
WHEN 'N' THEN   ISNULL(AGENCY_DISPLAY_NAME,'') +'-'+ RTRIM(ISNULL (AGENCY_CODE,'')) +'-'+ cast(isnull(NUM_AGENCY_CODE,'') as varchar) + '- (Inactive)'                        
END As                   
                   
 BROKER_NAME,POLREMU.COMMISSION_PERCENT,RISK_ID AS PRODUCT_RISK_ID, POLREMU.CO_APPLICANT_ID	AS CO_APPLICANT_ID,'' AS RISK_NAME FROM POL_REMUNERATION as POLREMU  WITH(NOLOCK) left outer join MNT_AGENCY_LIST as Agency  WITH(NOLOCK) on                     
 POLREMU.BROKER_ID=Agency.AGENCY_ID                     
 where POLREMU.CUSTOMER_ID=@CUSTOMER_ID and POLREMU.POLICY_ID=@POLICY_ID and POLREMU.POLICY_VERSION_ID=@POLICY_VERSION_ID and  POLREMU.IS_ACTIVE='Y'                     
END 
END
GO

