IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_CommitACT_BANK_RECONCILIATION]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_CommitACT_BANK_RECONCILIATION]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------
Proc Name       : dbo.Proc_CommitACT_BANK_RECONCILIATION
Created by      : Ajit Singh Chahal
Date            : 6/28/2005
Purpose    	 :To commit records of check entity.
Revison History :
Used In  : Wolverine

Modified By	: Ravindra Gupta
Modified On 	: Feb 22 2007
Purpose		: Review

Modified By 	: Praveen kasana	
Modified on	: 1 Agust 2008
Purpose		: --STEP:4 (Remove)
		  --Reconcile items details TRANSACTION_AMOUNT sum  must be equal to zero before commit
------------------------------------------------------------
Date     Review By          Comments
------   ------------       -------------------------*/
-- drop proc dbo.Proc_CommitACT_BANK_RECONCILIATION
CREATE PROC [dbo].[Proc_CommitACT_BANK_RECONCILIATION]
(
@AC_RECONCILIATION_ID     int,
@IS_COMMITED    nvarchar(2),
@DATE_COMMITED  datetime,
@COMMITTED_BY int,
@MODIFIED_BY     int,
@LAST_UPDATED_DATETIME datetime,
@DIV_ID int,
@DEPT_ID int,
@PC_ID int
)
AS
BEGIN


IF Not Exists(SELECT AC_RECONCILIATION_ID FROM ACT_BANK_RECONCILIATION WHERE AC_RECONCILIATION_ID = @AC_RECONCILIATION_ID)
BEGIN
	--Record not existed, hence exiting 
	return -1
END

--Checking whether already commited
IF (SELECT Upper(IS_COMMITED) FROM ACT_BANK_RECONCILIATION WHERE AC_RECONCILIATION_ID = @AC_RECONCILIATION_ID) = 'Y' 
BEGIN
	--Record already commited hence exiting
	return -2
END

/*Checking whether lock date is less then transaction date, if yes then will not commit*/
declare @TRANS_DATE datetime, @LOCK_DATE datetime
SELECT @TRANS_DATE =  STATEMENT_DATE FROM ACT_BANK_RECONCILIATION WHERE AC_RECONCILIATION_ID = @AC_RECONCILIATION_ID
SELECT @LOCK_DATE =  POSTING_LOCK_DATE FROM ACT_GENERAL_LEDGER WHERE FISCAL_ID = 
	(SELECT FISCAL_ID FROM ACT_BANK_RECONCILIATION WHERE AC_RECONCILIATION_ID = @AC_RECONCILIATION_ID)

If @TRANS_DATE <= @LOCK_DATE 
BEGIN
	--Can not commit
	return -5
END

/* Bank Charges TO BE DISTRIBUTED FULLY BEFORE COMMIT*/ 

DECLARE @RemainingAmount decimal(18,2)

select @RemainingAmount=(BR.BANK_CHARGES_CREDITS - 
isnull((SELECT SUM(DISTRIBUTION_AMOUNT) FROM ACT_DISTRIBUTION_DETAILS 
WHERE      GROUP_TYPE = 'BRN' 
AND GROUP_ID = BR.AC_RECONCILIATION_ID),0)) 
from ACT_BANK_RECONCILIATION BR where AC_RECONCILIATION_ID = @AC_RECONCILIATION_ID
IF @RemainingAmount <> 0
BEGIN 
	return -3
END


--STEP:4
--Reconcile items details TRANSACTION_AMOUNT sum  must be equal to zero before commit
/*declare @diffrence decimal(18,2)
select @diffrence=(STARTING_BALANCE+(select isnull(sum(ISNULL(TRANSACTION_AMOUNT,0)),0) 
from ACT_ACCOUNTS_POSTING_DETAILS 
where IDENTITY_ROW_ID in (select IDENTITY_ROW_ID from ACT_BANK_RECONCILIATION_ITEMS_DETAILS 
where AC_RECONCILIATION_ID=@AC_RECONCILIATION_ID))-ENDING_BALANCE - BANK_CHARGES_CREDITS)
from ACT_BANK_RECONCILIATION
where AC_RECONCILIATION_ID = @AC_RECONCILIATION_ID
if @diffrence=null or @diffrence<>0
	return -4*/
--sum of TRANSACTION_AMOUNT is not zero therefore returning

declare @updatedFrom  char(1) 
set 	@updatedFrom = 'B' -- Bank Reconciliation

--STEP:5
--*******************************************************CREDITING Bank ACCOUNT***********************************
/*Inserting the record in ACT_ACCOUNTS_POSTING_DETAILS*/
Declare @BANKAccountId int
	select @BANKAccountId=ACCOUNT_ID  from ACT_BANK_RECONCILIATION where AC_RECONCILIATION_ID = @AC_RECONCILIATION_ID

	INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS
	(
		ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,
		SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_COMM_PERC,
		AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID, 
		IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID, 
		SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID, 
		TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,
		IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME,
		TRAN_ENTITY,TRAN_DESC 
	)
	SELECT 
		@BANKAccountId, @updatedFrom , NULL, @AC_RECONCILIATION_ID, NULL,
		AC_RECONCILIATION_ID, STATEMENT_DATE, Getdate(), Getdate(), -BANK_CHARGES_CREDITS, NULL,
		NULL, NULL, null,null, null, @DIV_ID, @DEPT_ID, @PC_ID,
		NULL, NULL, BANK_CHARGES_CREDITS, NULL, NULL, NULL, NULL,
		NULL, NULL, NULL,NULL , 
		null, NULL, 'Y', NULL,   -- Record will be bank reconciled by default
		NULL, NULL, @MODIFIED_BY, NULL, NULL,
		'Bank Reconcialition','Statement -  ' + CONVERT(VARCHAR,STATEMENT_DATE,101)
	FROM 
  		ACT_BANK_RECONCILIATION
 	WHERE 
  		AC_RECONCILIATION_ID = @AC_RECONCILIATION_ID
	AND ABS(ISNULL( BANK_CHARGES_CREDITS , 0))  > 0 
	/*End Inserting the record in ACT_ACCOUNTS_POSTING_DETAILS*/

--STEP:6
--*******************************************************DEBITING  ACCOUNTS **********************************
/*Inserting the record in ACT_ACCOUNTS_POSTING_DETAILS*/
	INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS
	(
		ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,
		SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_COMM_PERC,
		AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID, 
		IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID, 
		SUB_LOB_ID	, COUNTRY_ID, STATE_ID, VENDOR_ID, 
		TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,
		IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME,
		TRAN_ENTITY,TRAN_DESC 
	)
	SELECT 
		ACT_DISTRIBUTION_DETAILS.ACCOUNT_ID, @updatedFrom, NULL, @AC_RECONCILIATION_ID, IDEN_ROW_ID,
		AC_RECONCILIATION_ID, STATEMENT_DATE, Getdate(), Getdate(), DISTRIBUTION_AMOUNT, NULL,
		NULL, NULL, null,null, null, @DIV_ID, @DEPT_ID, @PC_ID,
		NULL, NULL, DISTRIBUTION_AMOUNT, NULL, NULL, NULL, NULL,
		NULL, NULL, NULL,NULL , 
		null, NULL, NULL, NULL, 
		NULL, NULL, @MODIFIED_BY, NULL, NULL,
		'Bank Reconcialition','Statement -  ' + CONVERT(VARCHAR,STATEMENT_DATE,101)
	FROM 
  		ACT_DISTRIBUTION_DETAILS inner join ACT_BANK_RECONCILIATION on GROUP_ID = AC_RECONCILIATION_ID
 	WHERE 
  		GROUP_TYPE='BRN' AND AC_RECONCILIATION_ID = @AC_RECONCILIATION_ID
	/*End Inserting the record in ACT_ACCOUNTS_POSTING_DETAILS*/


--STEP:8
--Marking Posting entries that are commited as is_committed = yes
update ACT_ACCOUNTS_POSTING_DETAILS
set IS_BANK_RECONCILED = 'Y'
where IDENTITY_ROW_ID in (select IDENTITY_ROW_ID from ACT_BANK_RECONCILIATION_ITEMS_DETAILS 
where AC_RECONCILIATION_ID=@AC_RECONCILIATION_ID)

--Raghav (03-06-09): Mark check included in this reconcilliation as cleared

UPDATE ACT_CHECK_INFORMATION SET IS_BNK_RECONCILED = 'Y' 
WHERE CHECK_ID IN 
( 
	SELECT CHECK_ID FROM ACT_BANK_RECONCILIATION_ITEMS_DETAILS REC
	INNER JOIN ACT_ACCOUNTS_POSTING_DETAILS POST
		ON POST.IDENTITY_ROW_ID = REC.IDENTITY_ROW_ID
	INNER JOIN ACT_CHECK_INFORMATION CHK 
		ON POST.SOURCE_ROW_ID = CHK.CHECK_ID 
		AND POST.UPDATED_FROM   = 'C' 
)

--STEP:8
/*Commiting the record*/
update ACT_BANK_RECONCILIATION
set IS_COMMITED 	=   @IS_COMMITED,
DATE_COMMITED  =   @DATE_COMMITED ,
COMMITTED_BY	=   @COMMITTED_BY,
MODIFIED_BY 	=   @MODIFIED_BY  ,
LAST_UPDATED_DATETIME =@LAST_UPDATED_DATETIME,
DIV_ID =@DIV_ID,
DEPT_ID = @DEPT_ID,
PC_ID = @PC_ID
where AC_RECONCILIATION_ID= @AC_RECONCILIATION_ID
return 1
END
 




GO

