IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_PostPolicyProcessReturnPremium]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_PostPolicyProcessReturnPremium]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran		
--drop proc Dbo.Proc_PostPolicyProcessReturnPremium
--go

/*----------------------------------------------------------                
Proc Name       : Dbo.Proc_PostPolicyProcessReturnPremium
Created by      : Ravindra 
Date            : 12-30-2006
Purpose         : Calculates and Post the Return Premium of the Policy.      
Revison History :                

Modified By		: Ravindra
Modified On		: 08-20-2008
Purpose			: Changed calculation logic as discussed with Sally 


Used In     	 : Wolverine   (Cancellation Process)             
------------------------------------------------------------                
Date     Review By          Comments                
------   ------------       -------------------------*/                
-- drop proc Dbo.Proc_PostPolicyProcessReturnPremium
CREATE PROC [dbo].[Proc_PostPolicyProcessReturnPremium]         
(                
	 @CUSTOMER_ID  INT,          
	 @POLICY_ID  INT,        
	 @POLICY_VERSION_ID INT,
	 @OLD_VERSION_ID Int,      
	 @CANCELLATION_PREMIUM Decimal(25,2),
	 @ACTION_UNPAID_PREMIUM Varchar(10),	
	 @ACTION_RETURN_PREMIUM Varchar(10),
	 @BILL_TYPE  Varchar(10),
	 @CHANGE_EFFECTIVE_DATE Datetime,
	 @SOURCE_ROW_ID	Int,               -- Source Row ID of Process
	 @USER_ID	Int 	   -- UID of Logged IN User	
	 ,@TRANSACTION_DESC VARCHAR(1000) OUTPUT          
 	 ,@CFG_PREMIUM_AMOUNT	Decimal(25,2) OUT,
	 @TOTAL_CANCELLATION_PREMIUM Decimal(25,2)  = null out,
	 @CANCELLATION_MCCA_FEES Decimal(18,2) = null out,
	 @CANCELLATION_OTHER_FEES Decimal(18,2) = null out,
	 @PROCESS_TYPE Int,
	 @CANCELLTION_TYPE    INT=NULL,
	 @CANCELLATION_OPTION  int =null
)                
AS               
BEGIN 

SET @TOTAL_CANCELLATION_PREMIUM = 0
SET @CANCELLATION_MCCA_FEES = 0
SET @CANCELLATION_OTHER_FEES  = 0
SET @CFG_PREMIUM_AMOUNT	= 0


SET @TOTAL_CANCELLATION_PREMIUM = @CANCELLATION_PREMIUM
-- Declaring Constants 
DECLARE @CHARGE_AGENCY			Varchar(10), --CHAG
	@WRITE_OFF					Varchar(10), --WOFF
	@BILL_INSURED				Varchar(10), --BLINS
	@CARRY_FORWARD				Varchar(10), --CFG
	@NOT_APPLICABLE				Varchar(10), --NA
	@REFUND						Varchar(10),  --RFD
	@UPDATED_FROM 				Char(1),
	@ITEM_TRAN_CODE				Varchar(10),
	@ITEM_TRAN_CODE_TYPE		Varchar(10),
	@ITEM_TRAN_CODE_COM			Varchar(10),
	@ITEM_TRAN_CODE_TYPE_COM	Varchar(10)
	
SET	@CHARGE_AGENCY				= 'CHAG'
SET	@WRITE_OFF					= 'WOFF'
SET	@BILL_INSURED				= 'BLINS'
SET	@CARRY_FORWARD				= 'CFG'
SET	@NOT_APPLICABLE				= 'NA'
SET	@REFUND						= 'RFD'
SET @UPDATED_FROM				= 'P'
SET @ITEM_TRAN_CODE				= 'CANCP'
SET @ITEM_TRAN_CODE_TYPE		= 'PREM'
SET	@ITEM_TRAN_CODE_COM			= 'CANC'
SET	@ITEM_TRAN_CODE_TYPE_COM	= 'COM'

-- Fetching Accounts to be Used In Premium processing 

DECLARE 
	@FULLPREMIUM_ACCOUNT_CUST	SMALLINT,	--Premium account number
	@FULLPREMIUM_ACCOUNT_AGN	SMALLINT,	--Premium account number
	@MCCA_FEES_ACCOUNT 			SMALLINT,	--MCCA fee account number
	@OTHER_FEES_ACCOUNT 		SMALLINT,	--Other fee account number
	@PREMIUM_INCOME_ACCOUNT 	SMALLINT,	--Premium income account number
	@COMM_EXPENSE_ACCOUNT 		SMALLINT,	--Comm expense account number
	@COMM_PAYABLE_ACCOUNT 		SMALLINT,	--Commission payable account number,
	@COMM_PAYABLE_ACCOUNT_AGN	SmallInt,	-- Commission Payable Agency Bill

	@FISCAL_ID					Int,
	@POSTING_DATE				Datetime,
	@TRANSACTION_DATE			Datetime,
	@IS_PREBILL					Int

	--RAvindra: Posting will be done as on Cancellation date . 
	--If policy is cancelled on 30 April Effective 1 May, posting is done in normal account as on 30 April 
	--in EPR it is considered in May. Because of this GL and EPR balances do not match
	-- To resolve this system will post transactions as on 1 May 

	SET @POSTING_DATE		= GETDATE()
	SET @TRANSACTION_DATE	= 	GETDATE()

	IF(	
		CAST(CONVERT(VARCHAR,@CHANGE_EFFECTIVE_DATE,101) AS DATETIME ) 
			= CAST(CONVERT(VARCHAR,DATEADD(DD,1,@POSTING_DATE) ,101)AS DATETIME) 
		) 
	BEGIN  
		SET @POSTING_DATE = DATEADD(DD,1,@POSTING_DATE)
	END

	SELECT @FISCAL_ID = FISCAL_ID
	FROM ACT_GENERAL_LEDGER 
	WHERE CAST(CONVERT(VARCHAR,FISCAL_BEGIN_DATE ,101 ) AS DATETIME) <= 
	CAST(CONVERT(VARCHAR,@POSTING_DATE ,101 ) AS DATETIME) 
	AND CAST(CONVERT(VARCHAR,FISCAL_END_DATE ,101 ) AS DATETIME) >=
	CAST(CONVERT(VARCHAR,@POSTING_DATE ,101 ) AS DATETIME) 

	IF(	
		CAST(CONVERT(VARCHAR,@CHANGE_EFFECTIVE_DATE,101) AS DATETIME ) 
			<= CAST(CONVERT(VARCHAR,@POSTING_DATE,101)AS DATETIME) 
		) 
	BEGIN  
		SELECT 
		@FULLPREMIUM_ACCOUNT_AGN	= AST_UNCOLL_PRM_AGENCY ,
		@FULLPREMIUM_ACCOUNT_CUST 	= AST_UNCOLL_PRM_CUSTOMER ,
		@OTHER_FEES_ACCOUNT 		= INC_PRM_WRTN_OTH_STATE_ASSESS_FEE,
		@PREMIUM_INCOME_ACCOUNT 	= INC_PRM_WRTN,
		@COMM_EXPENSE_ACCOUNT  		= EXP_COMM_INCURRED ,
		@COMM_PAYABLE_ACCOUNT 		= CASE @BILL_TYPE 
							WHEN 'AB' THEN LIB_COMM_PAYB_AGENCY_BILL 
							ELSE LIB_COMM_PAYB_DIRECT_BILL 
						END,
		@COMM_PAYABLE_ACCOUNT_AGN = LIB_COMM_PAYB_AGENCY_BILL
		FROM ACT_GENERAL_LEDGER 
		WHERE FISCAL_ID = @FISCAL_ID 
		SET @IS_PREBILL = 0 
	END 
	ELSE
	BEGIN 
		SELECT 
		@FULLPREMIUM_ACCOUNT_AGN	= AST_UNCOLL_PRM_SUSPENSE_AGENCY_BILL ,
		@FULLPREMIUM_ACCOUNT_CUST 	= AST_UNCOLL_PREM_IN_SUSPENSE_DIRECT_BILL,
		@OTHER_FEES_ACCOUNT = CASE @BILL_TYPE 
				WHEN 'AB' THEN AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_AGENCY_BILL 
				ELSE AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_DIRECT_BILL 
				END,
			@PREMIUM_INCOME_ACCOUNT = CASE @BILL_TYPE 
				WHEN 'AB' THEN AST_PRM_WRIT_SUSPENSE_AGENCY_BILL 
				ELSE AST_PRM_WRIT_SUSPENSE_DIRECT_BILL 
				END, 
			@COMM_EXPENSE_ACCOUNT = CASE @BILL_TYPE 
				WHEN 'AB' THEN AST_COMM_EXPENSE_IN_SUSPENSE_AGENCY_BILL 
				ELSE AST_COMM_EXPENSE_IN_SUSPENSE_DIRECT_BILL 
				END,
			@COMM_PAYABLE_ACCOUNT = CASE @BILL_TYPE 
				WHEN 'AB' THEN AST_COMM_PAYABLE_IN_SUSPENSE_AGENCY_BILL 
				ELSE AST_COMM_PAYABLE_IN_SUSPENSE_DIRECT_BILL 
				END,
			@COMM_PAYABLE_ACCOUNT_AGN = AST_COMM_PAYABLE_IN_SUSPENSE_AGENCY_BILL
		FROM ACT_GENERAL_LEDGER 
		WHERE FISCAL_ID = @FISCAL_ID 
		SET @IS_PREBILL = 1
	END

IF( @PROCESS_TYPE = 2 OR @PROCESS_TYPE = 12 )
BEGIN
	SET @TRANSACTION_DESC  = 'Cancellation Premium written off'
END
ELSE
BEGIN 
	SET @TRANSACTION_DESC  = 'Rescind Premium written off'
END 

DECLARE @TOTAL_GROSS_PREMIUM 		Decimal(25,2) ,        
		@TOTAL_MCCA_FEES  	Decimal(18,2) ,    
		@CURRENT_TERM  		Int,
		@POLICY_EFFECTIVE_DATE	Datetime,
		@POLICY_EXPIRATION_DATE Datetime,
		@INSTALL_PLAN_ID 	Int,
		@LOB_ID 		Int,
		@SUB_LOB_ID 		Smallint,
		@STATE_ID 		SmallInt,
		@AGENCY_ID 		Int,
		@IS_HOME_EMPLOYEE 	Char(1),
		@EARNED_PREMIUM 	Decimal(25,2),
		@MINIMUM_PREMIUM 	Decimal(25,2),
		@TRAN_ENTITY 		Varchar(200), 
		@AGENCY_NAME		Varchar(200), 
		@CUSTOMER_NAME 		Varchar(200), 
		@TRAN_DESC 		Varchar(500),
		@USER_CODE		VARCHAR(10),
		@USER_NAME		VARCHAR(60),
		@IS_ROLLOVER		Char(1) ,
		@EXEMPT_ON_CANCEL 	Char(1) , 
		@BILL_TYPE_ID		Int


SET @TOTAL_GROSS_PREMIUM = 0
SET @TOTAL_MCCA_FEES  = 0

SELECT @USER_CODE = USER_LOGIN_ID, 
	@USER_NAME =  (USER_FNAME + ' ' + USER_LNAME) 
FROM MNT_USER_LIST 
WHERE USER_ID = @USER_ID 

DECLARE @YES Int,
		@NO Int , 
		@MORTAGAGEE_BILL_INCEPTION Int
SET @YES = 10963
SET @NO  = 10964
SET @MORTAGAGEE_BILL_INCEPTION = 11276

-- Fetch Policy Level Details
SELECT  @CURRENT_TERM = CURRENT_TERM ,
		@POLICY_EFFECTIVE_DATE  = CPL.APP_EFFECTIVE_DATE,
		@POLICY_EXPIRATION_DATE	= CPL.APP_EXPIRATION_DATE,
		@INSTALL_PLAN_ID = CPL.INSTALL_PLAN_ID,
		@LOB_ID  = CPL.POLICY_LOB , 
		@SUB_LOB_ID = ISNULL(CPL.POLICY_SUBLOB ,0),
		@STATE_ID = CPL.STATE_ID,
		@AGENCY_ID  = CPL.AGENCY_ID ,
		@TRAN_DESC  = CPL.POLICY_NUMBER + ' ' + CPL.POLICY_DISP_VERSION,
		@IS_HOME_EMPLOYEE = CASE ISNULL(CPL.IS_HOME_EMP, 0) WHEN 1 THEN 'Y' ELSE 'N' END,
		@IS_ROLLOVER	= CASE ISNULL(CPL.CHARGE_OFF_PRMIUM, @NO ) WHEN @NO THEN 'N' ELSE 'Y' END ,
		@EXEMPT_ON_CANCEL	= ISNULL(AGN.EXEMPT_ON_CANCEL,'N') , 
		@BILL_TYPE_ID       = BILL_TYPE_ID
FROM POL_CUSTOMER_POLICY_LIST CPL
INNER JOIN MNT_AGENCY_LIST AGN 
	ON CPL.AGENCY_ID = AGN.AGENCY_ID 
WHERE   CUSTOMER_ID = @CUSTOMER_ID 
	AND POLICY_ID = @POLICY_ID 
	AND POLICY_VERSION_ID = @POLICY_VERSION_ID


-- Reconcile exixting items 
EXEC Proc_ReconCustomerOpenItem @POLICY_EXPIRATION_DATE, @USER_ID,@CUSTOMER_ID,@POLICY_ID  


CREATE TABLE #TMP_POST
(	
	IDENT_COL 			[int] IDENTITY(1,1) NOT NULL ,      
	ACCOUNT_ID 			SMALLINT,
	AMT 				DECIMAL(20,8),
	CUSTOMER_ID			INT,
	AGENCY_ID			INT,
	SOURCE_EFFECTIVE_DATE		DATETIME,
	TRANS_DESC			VARCHAR(100),
	POLICY_ID			INT,
	POLICY_VERSION_ID		INT,
	TRAN_CODE			VARCHAR(10),
	TRAN_TYPE			VARCHAR(10),
	ACCOUNTS			BIT,
	AGN_OPEN_ITEMS			BIT,
	CUST_OPEN_ITEMS			BIT,
	TRAN_ENTITY			Varchar(200),
	TRAN_DESC 			Varchar(500),
	CUSTOM_STATUS		Char(1), -- Will be '9' if writing off the amount.
	BILL_CODE			Char(2),
	GROSS_AMOUNT		Decimal(18,2) ,
	NET_AMOUNT			Decimal(18,2) ,
	AGN_COMM_PER		Decimal(18,2) ,
	RISK_ID				Int,
	RISK_TYPE			Varchar(15)
)

SELECT @CUSTOMER_NAME = ISNULL(CUSTOMER_CODE,'') + ' - ' + ISNULL(CUSTOMER_FIRST_NAME,'') 
		+ ' ' + ISNULL(CUSTOMER_MIDDLE_NAME,'') +
		CASE WHEN ISNULL(CUSTOMER_MIDDLE_NAME,'') = '' THEN '' ELSE ' ' END
		+ 
		ISNULL(CUSTOMER_LAST_NAME ,'') 
	FROM CLT_CUSTOMER_LIST
	WHERE CUSTOMER_ID = @CUSTOMER_ID

SELECT @AGENCY_NAME = ISNULL(AGENCY_CODE,'') + ' - ' + ISNULL(AGENCY_DISPLAY_NAME,'') 
FROM MNT_AGENCY_LIST WHERE AGENCY_ID = @AGENCY_ID

SET @MINIMUM_PREMIUM  = 0 

DECLARE @REINSTATMENT_TYPE SMALLINT , @LAST_REINSTATE_VERSION int,@REINS_LAPSE INT , @REINS_EFFECTIVE_DATE DATETIME ,
		@TERM_EFFECTIVE_DATE Datetime 

SET @REINS_LAPSE=14244
		
IF EXISTS(
			SELECT CANCELLATION_TYPE FROM POL_POLICY_PROCESS WITH(NOLOCK) 
			WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID	AND PROCESS_ID=16 
			AND POLICY_VERSION_ID IN 
					(
					SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST WHERE 
					CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND CURRENT_TERM = @CURRENT_TERM 
					)
			AND CANCELLATION_TYPE = @REINS_LAPSE			
		)
BEGIN
			SELECT @LAST_REINSTATE_VERSION = ISNULL(MAX(POLICY_VERSION_ID),0) FROM POL_POLICY_PROCESS WITH(NOLOCK)
			WHERE CUSTOMER_ID=@CUSTOMER_ID	  AND POLICY_ID=@POLICY_ID AND PROCESS_ID=16  

			SELECT @REINS_EFFECTIVE_DATE=EFFECTIVE_DATETIME FROM POL_POLICY_PROCESS WITH(NOLOCK) 
			WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID
			AND PROCESS_ID=16 AND POLICY_VERSION_ID > = @LAST_REINSTATE_VERSION
			AND CANCELLATION_TYPE = @REINS_LAPSE
END


SET @TERM_EFFECTIVE_DATE = ISNULL(@REINS_EFFECTIVE_DATE,@POLICY_EFFECTIVE_DATE)

IF (  
   (ISNULL(@CANCELLTION_TYPE,0)=11989 AND ISNULL(@CANCELLATION_OPTION,0) = 11995 AND  DATEDIFF (DAY,@TERM_EFFECTIVE_DATE, @CHANGE_EFFECTIVE_DATE )=0)  
 OR  
   ((ISNULL(@CANCELLTION_TYPE,0)=11992 OR ISNULL(@CANCELLTION_TYPE,0)=11993) AND  DATEDIFF (DAY,@TERM_EFFECTIVE_DATE, @CHANGE_EFFECTIVE_DATE )=0)  
 OR  
   (ISNULL(@CANCELLTION_TYPE,0)=11970 AND  DATEDIFF (DAY,@TERM_EFFECTIVE_DATE, @CHANGE_EFFECTIVE_DATE )=0) 
 OR 
  (DATEDIFF (DAY,@TERM_EFFECTIVE_DATE, @CHANGE_EFFECTIVE_DATE )=0) -- NO MINI PREM IF CANCELED FLAT(SAME DATE AS EFF DATE)
   )   	
BEGIN
	SET @MINIMUM_PREMIUM=0  
END
ELSE
BEGIN
	-- If cancellation after renewal or current process is resscission Minimum premium will be zero 
	DECLARE @BASE_PROCESS AS VarChar(5)
	DECLARE @CURRENT_PROCESS AS VarChar(5)

	SELECT  @BASE_PROCESS =   CASE PROCESS_ID WHEN 25 THEN 'NBS'  
				WHEN 18 THEN 'REN' 	END  
	FROM POL_POLICY_PROCESS  (NOLOCK) 
	WHERE   
	CUSTOMER_ID= @CUSTOMER_ID   
	AND POLICY_ID=@POLICY_ID   
	AND PROCESS_ID IN (25,18)   -- New Business Commit & Renewal Commit  
	AND PROCESS_STATUS ='COMPLETE'  
	AND ISNULL(REVERT_BACK,'N') <> 'Y'
	AND NEW_POLICY_VERSION_ID IN   
	(  
		SELECT MAX(NEW_POLICY_VERSION_ID) FROM POL_POLICY_PROCESS ( NOLOCK) 
		WHERE  
		CUSTOMER_ID= @CUSTOMER_ID  
		AND POLICY_ID=@POLICY_ID  
		AND PROCESS_ID IN (25,18)  
		AND PROCESS_STATUS ='COMPLETE'
		AND ISNULL(REVERT_BACK,'N') <> 'Y'  
	)  

	SET @CURRENT_PROCESS='';
	SELECT @CURRENT_PROCESS= CASE PROCESS_ID WHEN 28 THEN 'RESC'  
				WHEN 29 THEN 'RESC' 
				else ''	END   
	FROM POL_POLICY_PROCESS ( NOLOCK) 
	WHERE  
	CUSTOMER_ID= @CUSTOMER_ID  
	AND POLICY_ID=@POLICY_ID  
	AND NEW_POLICY_VERSION_ID in
	(
		SELECT MAX(NEW_POLICY_VERSION_ID) FROM POL_POLICY_PROCESS ( NOLOCK) 
		WHERE  
		CUSTOMER_ID= @CUSTOMER_ID  
		AND POLICY_ID=@POLICY_ID  
	)

	--IF (@BASE_PROCESS <> 'REN' AND @CURRENT_PROCESS <> 'RESC')
	IF (@CURRENT_PROCESS <> 'RESC') --Ravindra(10-03-2008): As per Proc_CalculateReturnPremium
	BEGIN 
		SELECT @MINIMUM_PREMIUM = ISNULL(PREMIUM_AMT , 0)
		FROM ACT_MINIMUM_PREM_CANCEL
		WHERE 	LOB_ID = @LOB_ID
			AND ISNULL(SUB_LOB_ID,0) = @SUB_LOB_ID
			AND STATE_ID = @STATE_ID
			AND ISNULL(IS_ACTIVE,'Y') = 'Y'
			AND @CHANGE_EFFECTIVE_DATE BETWEEN EFFECTIVE_FROM_DATE AND EFFECTIVE_TO_DATE
	END
END

DECLARE @TOTAL_DAYS INT  ,
		@PAID_PREMIUM  Decimal(25,2),
		@UNPAID_PREMIUM Decimal(25,2),
		@RETURN_PREMIUM Decimal(25,2),
		@CALCULATIVE_EARNED_PREMIUM Decimal(25,2),
		@AGENCY_COMM_PERCENTAGE Decimal(18,2),
		@CANCELLATION_COMMISSION Decimal(18,2),
		@STAT_NET_RATIO		Decimal(18,6),

		@TOTAL_INFORCE_TILL_DATE Decimal(18,2) , 
		@TOTAL_WRITTEN_TILL_DATE Decimal(18,2) , 
		@UN_COVERED_DAYS Int, 
		@UN_COVERED_DAYS_PREMIUM  Decimal(25,2) , 
		@WRITTEN_OFF_AT_CANCELLATION Decimal(18,2) 

SET 	@PAID_PREMIUM  = 0 
SET 	@UNPAID_PREMIUM = 0
SET 	@RETURN_PREMIUM = 0
SET 	@CALCULATIVE_EARNED_PREMIUM = 0
SET 	@AGENCY_COMM_PERCENTAGE = 0 
SET		@STAT_NET_RATIO		= 0


SELECT  @TOTAL_GROSS_PREMIUM = SUM(PPDD.INFORCE_PREMIUM) ,
		@TOTAL_MCCA_FEES	 = SUM(PPDD.INFORCE_FEES)  
FROM ACT_PREMIUM_PROCESS_SUB_DETAILS PPDD
WHERE 	PPDD.CUSTOMER_ID = @CUSTOMER_ID 
	AND PPDD.POLICY_ID =   @POLICY_ID 
	AND PPDD.POLICY_VERSION_ID IN 
		(SELECT  POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID
					AND CURRENT_TERM = @CURRENT_TERM)


SELECT @TOTAL_INFORCE_TILL_DATE = ISNULL(SUM(ISNULL(PPDD.INFORCE_PREMIUM,0)),0)  ,  
       @TOTAL_WRITTEN_TILL_DATE = ISNULL(SUM(ISNULL(PPDD.GROSS_PREMIUM,0)),0)   
FROM ACT_PREMIUM_PROCESS_SUB_DETAILS PPDD  
WHERE  PPDD.CUSTOMER_ID = @CUSTOMER_ID   
AND PPDD.POLICY_ID = @POLICY_ID   
AND PPDD.POLICY_VERSION_ID IN 
						(
							SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL WHERE   
							CPL.CUSTOMER_ID = @CUSTOMER_ID AND CPL.POLICY_ID = @POLICY_ID AND CPL.CURRENT_TERM = @CURRENT_TERM 
							AND DATEDIFF(DD, CPL.POL_VER_EFFECTIVE_DATE , @CHANGE_EFFECTIVE_DATE )   > 0 
						) 


SET 	@TOTAL_DAYS = DATEDIFF(DAY, @POLICY_EFFECTIVE_DATE, @POLICY_EXPIRATION_DATE)  

--SET @UN_COVERED_DAYS = DATEDIFF(DAY, DATEADD(DD, -1 , @CHANGE_EFFECTIVE_DATE) , @POLICY_EXPIRATION_DATE)  
SET @UN_COVERED_DAYS = DATEDIFF(DAY, @CHANGE_EFFECTIVE_DATE , @POLICY_EXPIRATION_DATE)  

SET @UN_COVERED_DAYS_PREMIUM = ROUND(@TOTAL_INFORCE_TILL_DATE * @UN_COVERED_DAYS / @TOTAL_DAYS , 0) 


--Ravindra(08-25-2008): As discussed with Sally Written Off/Charged from Agency at cancellation are 
-- not part of total written for the purpose of Cancellation Credit cancellation  
SELECT @WRITTEN_OFF_AT_CANCELLATION = SUM(ISNULL(TOTAL_DUE ,0) ) 
FROM ACT_CUSTOMER_OPEN_ITEMS PPDD 
WHERE  PPDD.CUSTOMER_ID = @CUSTOMER_ID   
AND PPDD.POLICY_ID = @POLICY_ID   
AND PPDD.POLICY_VERSION_ID IN 
						(
							SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL WHERE   
							CPL.CUSTOMER_ID = @CUSTOMER_ID AND CPL.POLICY_ID = @POLICY_ID AND CPL.CURRENT_TERM = @CURRENT_TERM 
							AND DATEDIFF(DD, CPL.POL_VER_EFFECTIVE_DATE , @CHANGE_EFFECTIVE_DATE )   > 0 
						) 
AND ISNULL(IS_TEMP_ENTRY,0) = 9 

SET @TOTAL_WRITTEN_TILL_DATE = @TOTAL_WRITTEN_TILL_DATE + ISNULL(@WRITTEN_OFF_AT_CANCELLATION,0) 

SET @EARNED_PREMIUM  = @TOTAL_WRITTEN_TILL_DATE - @UN_COVERED_DAYS_PREMIUM
 
--SELECT @EARNED_PREMIUM  = ROUND((@TOTAL_GROSS_PREMIUM * DATEDIFF ( DAY, @POLICY_EFFECTIVE_DATE, @CHANGE_EFFECTIVE_DATE ) 
--			/@TOTAL_DAYS),0)

IF(@EARNED_PREMIUM > @MINIMUM_PREMIUM)
BEGIN 
	SET @CALCULATIVE_EARNED_PREMIUM = @EARNED_PREMIUM
END 
ELSE
BEGIN 
	SET @CALCULATIVE_EARNED_PREMIUM = @MINIMUM_PREMIUM
END


-- Fetch Paid Premium & Un-Paid/Return Premium
	
SELECT  @PAID_PREMIUM = ISNULL(SUM( ISNULL(ACOI.TOTAL_PAID,0) ) ,0)
FROM  ACT_CUSTOMER_OPEN_ITEMS ACOI
WHERE ACOI.CUSTOMER_ID = @CUSTOMER_ID 
	AND ACOI.POLICY_ID = @POLICY_ID 
	AND ACOI.POLICY_VERSION_ID IN
		(
		SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL 
		WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID AND CPL.POLICY_ID = @POLICY_ID 
		AND CPL.CURRENT_TERM = @CURRENT_TERM 
		)
	AND ACOI.ITEM_TRAN_CODE_TYPE = 'PREM' 

-- Reduce Paid premium with JE for deposit reversal (DB Premium JE)
-- Ravindra(08-21-2008) : Use Total Due - Total Paid , there could be payment applid to JE
SELECT  @PAID_PREMIUM = @PAID_PREMIUM -  ISNULL(SUM( ISNULL(ACOI.TOTAL_DUE,0) - ISNULL(ACOI.TOTAL_PAID,0) ) ,0)
FROM  ACT_CUSTOMER_OPEN_ITEMS ACOI
WHERE ACOI.CUSTOMER_ID = @CUSTOMER_ID 
	AND ACOI.POLICY_ID = @POLICY_ID 
	AND ACOI.POLICY_VERSION_ID IN
		(
		SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL 
		WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID AND CPL.POLICY_ID = @POLICY_ID 
		AND CPL.CURRENT_TERM = @CURRENT_TERM 
		)
	AND ACOI.ITEM_TRAN_CODE_TYPE = 'JE' 
	AND  ISNULL(ACOI.TOTAL_DUE,0) >0

-- add any fes reversed to paid premium 
SELECT  @PAID_PREMIUM = @PAID_PREMIUM  -   ISNULL(SUM( ISNULL(ACOI.TOTAL_DUE,0) - ISNULL(ACOI.TOTAL_PAID,0) ) ,0) 
FROM  ACT_CUSTOMER_OPEN_ITEMS ACOI
WHERE ACOI.CUSTOMER_ID = @CUSTOMER_ID 
	AND ACOI.POLICY_ID = @POLICY_ID 
	AND ACOI.POLICY_VERSION_ID IN
		(
		SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL 
		WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID AND CPL.POLICY_ID = @POLICY_ID 
		AND CPL.CURRENT_TERM = @CURRENT_TERM 
		)
	AND ACOI.UPDATED_FROM  = 'F' 

IF((@CALCULATIVE_EARNED_PREMIUM  - @PAID_PREMIUM) > 0)
BEGIN 
	SET @UNPAID_PREMIUM = ROUND(@CALCULATIVE_EARNED_PREMIUM  - @PAID_PREMIUM , 0)
END 
ELSE IF((@CALCULATIVE_EARNED_PREMIUM  - @PAID_PREMIUM) < 0)
BEGIN 
	SET @RETURN_PREMIUM = @PAID_PREMIUM - @CALCULATIVE_EARNED_PREMIUM  
END

CREATE TABLE #PREMIUM_DETAILS
(
	IDEN_COL				Int Identity(1,1),
	RISK_ID					Int,
	RISK_TYPE				Char(10),
	INFORCE_PREMIUM			Decimal(25,2),
	INFORCE_FEES			Decimal(18,2),
	PRORATED_CANCELLATION 	Decimal(18,2),
	CANC_STAT_FEES			Decimal(18,2),		
--				AS  CASE INFORCE_FEES WHEN 0 THEN  0
--				--Ravindra(04-07-2009)
--					--ELSE ROUND(( INFORCE_FEES / INFORCE_PREMIUM )  * ISNULL(PRORATED_CANCELLATION,0) ,2)
--					ELSE ROUND(( INFORCE_FEES / TOTAL_GROSS_PREMIUM )  * ISNULL(PRORATED_CANCELLATION,0) ,2)
--				END,
	COMMISSION_PERCENTAGE	Decimal(18,2),
	COMMISSION_AMOUNT	Decimal(18,2),
	STAT_NET_RATIO		AS CASE INFORCE_PREMIUM WHEN 0 THEN 0 
				ELSE (INFORCE_PREMIUM - ISNULL(INFORCE_FEES,0)) / INFORCE_PREMIUM    END, 
	UNPAID_PREMIUM		Decimal(25,2) , 
	ADD_COMM_PERCENTAGE	Decimal(18,2) ,
	TOTAL_GROSS_PREMIUM	Decimal(25,2) ,
	TOTAL_GROSS_FEES	Decimal(18,2) ,
	BAL_STAT_FEES		AS TOTAL_GROSS_FEES - CANC_STAT_FEES 
	
)

INSERT INTO #PREMIUM_DETAILS
(
	RISK_ID	, RISK_TYPE	, INFORCE_PREMIUM ,
	INFORCE_FEES , PRORATED_CANCELLATION 	,
	TOTAL_GROSS_PREMIUM ,TOTAL_GROSS_FEES ,
	CANC_STAT_FEES
)
SELECT PPDD.RISK_ID , PPDD.RISK_TYPE , 	SUM(ISNULL(PPDD.INFORCE_PREMIUM , 0)) , 
		SUM(ISNULL(PPDD.INFORCE_FEES,0)),
		ROUND(( @CANCELLATION_PREMIUM * SUM(ISNULL(PPDD.INFORCE_PREMIUM , 0)) ) / @TOTAL_GROSS_PREMIUM ,0) ,
		SUM(ISNULL(PPDD.GROSS_PREMIUM , 0))  ,SUM(ISNULL(PPDD.STATS_FEES , 0)) ,
		ROUND(( @CANCELLATION_PREMIUM * SUM(ISNULL(PPDD.INFORCE_FEES , 0)) ) / @TOTAL_GROSS_PREMIUM ,0) 
FROM ACT_PREMIUM_PROCESS_SUB_DETAILS PPDD
WHERE 	PPDD.CUSTOMER_ID = @CUSTOMER_ID
	AND PPDD.POLICY_ID = @POLICY_ID
	AND PPDD.POLICY_VERSION_ID IN (
		SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID AND CPL.POLICY_ID = @POLICY_ID 
		AND CPL.CURRENT_TERM = @CURRENT_TERM ) 
GROUP BY PPDD.RISK_ID , PPDD.RISK_TYPE 
ORDER BY PPDD.RISK_ID , PPDD.RISK_TYPE


--Ravindra(05-28-2009) : If total of prorated distribution of cancellation premium among risks 
--is not equal to total cancellation premium adjust it with first risk
DECLARE @TOTAL_DISTRIBUTION Decimal(18,2), 
		@DIFFERENCE			Decimal(18,2) 

SELECT @TOTAL_DISTRIBUTION = SUM(ISNULL(PRORATED_CANCELLATION,0)) FROM #PREMIUM_DETAILS

IF(@CANCELLATION_PREMIUM <> @TOTAL_DISTRIBUTION ) 
BEGIN 
	SET @DIFFERENCE		= @CANCELLATION_PREMIUM - @TOTAL_DISTRIBUTION

	UPDATE #PREMIUM_DETAILS SET PRORATED_CANCELLATION = PRORATED_CANCELLATION + @DIFFERENCE 
	WHERE IDEN_COL = 1
END

DECLARE @IDEN_COL Int ,
		@RISK_ID  Int,
		@RISK_TYPE Char(10),
		@COMMISSION_PERCENTAGE Decimal(18,2),
		@COMMISSION_AMOUNT Decimal(18,2),
		@PRORATED_CANCELLATION	Decimal(18,2),
		@CANC_STAT_FEES		Decimal(18,2),
		@PIC_COMM_PRECENTAGE Decimal(18,2) , 
		@ADD_COMM_PERCENTAGE Decimal(18,2) ,
		@INFORCE_FOR_RISK	Decimal(18,2) ,
		@UNPAID_FOR_RISK	Decimal(18,2)  
		--@PAID_RISK          DECIMAL(18,2)	

---@PAID_RISK Added For Itrack Issue #6250.

SET @CANCELLATION_COMMISSION  = 0
SET @IDEN_COL = 1 

WHILE (1 =1)
BEGIN 
	IF NOT EXISTS ( SELECT IDEN_COL FROM #PREMIUM_DETAILS WHERE IDEN_COL = @IDEN_COL)
	BEGIN
		BREAK
	END
	SELECT	@RISK_ID = RISK_ID , @RISK_TYPE = RISK_TYPE ,
			@PRORATED_CANCELLATION = PRORATED_CANCELLATION,
			@CANC_STAT_FEES		= CANC_STAT_FEES , 
			@STAT_NET_RATIO		= STAT_NET_RATIO ,
			@INFORCE_FOR_RISK	= INFORCE_PREMIUM 
	FROM #PREMIUM_DETAILS WHERE IDEN_COL =@IDEN_COL 


	----If Flat cancellation set Cancellation Premium equal to total written on risk
	IF(DATEDIFF (DAY,@TERM_EFFECTIVE_DATE, @CHANGE_EFFECTIVE_DATE )=0 ) 
	BEGIN 
		DECLARE @WRITTEN_ON_RISK	Decimal(18,2) ,	
				@STAT_FEES_ON_RISK	Decimal(18,2)

	
		SET @WRITTEN_ON_RISK  = NULL 
		SET @STAT_FEES_ON_RISK	 = NULL 

		SELECT  @WRITTEN_ON_RISK = SUM(ISNULL(PPDD.GROSS_PREMIUM,0)) , 
				@STAT_FEES_ON_RISK	= SUM(ISNULL(PPDD.STATS_FEES , 0)) 
		FROM ACT_PREMIUM_PROCESS_SUB_DETAILS PPDD
		WHERE 	PPDD.CUSTOMER_ID = @CUSTOMER_ID
		AND PPDD.POLICY_ID = @POLICY_ID
		AND PPDD.POLICY_VERSION_ID IN (
				SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID AND CPL.POLICY_ID = @POLICY_ID 
				AND CPL.CURRENT_TERM = @CURRENT_TERM ) 
		AND PPDD.POLICY_VERSION_ID > ISNULL(@LAST_REINSTATE_VERSION,0)
		AND PPDD.RISK_ID = @RISK_ID AND PPDD.RISK_TYPE  = @RISK_TYPE 

				
		UPDATE #PREMIUM_DETAILS SET PRORATED_CANCELLATION =  @WRITTEN_ON_RISK , 
								CANC_STAT_FEES = @STAT_FEES_ON_RISK
		WHERE RISK_ID = @RISK_ID AND RISK_TYPE  = @RISK_TYPE 

		SELECT	@PRORATED_CANCELLATION = PRORATED_CANCELLATION,
				@CANC_STAT_FEES		= CANC_STAT_FEES , 
				@STAT_NET_RATIO		= STAT_NET_RATIO ,
				@INFORCE_FOR_RISK	= INFORCE_PREMIUM 
		FROM #PREMIUM_DETAILS WHERE IDEN_COL =@IDEN_COL 

	END 

	IF (@LOB_ID  = 2 OR @LOB_ID = 3)	
	BEGIN 
		SELECT 	TOP 1 @COMMISSION_PERCENTAGE = PPD.CURRENT_COMMISSION_RATE
		FROM	ACT_PREMIUM_PROCESS_SUB_DETAILS PPD
		WHERE 	PPD.CUSTOMER_ID = @CUSTOMER_ID
			AND PPD.POLICY_ID = @POLICY_ID 
			AND PPD.POLICY_VERSION_ID IN (SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL
										WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID  AND CPL.POLICY_ID = @POLICY_ID 
										AND CPL.CURRENT_TERM = @CURRENT_TERM ) 
			AND PPD.RISK_ID = @RISK_ID 
			AND PPD.RISK_TYPE = @RISK_TYPE
			AND ISNULL(PPD.CURRENT_COMMISSION_RATE ,0) <> 0 
	END
	ELSE 
	BEGIN
		IF(@BILL_TYPE = 'DB')
		BEGIN 
			SELECT 	TOP 1 @COMMISSION_PERCENTAGE = AGENCY_COMM_PERC
			FROM	ACT_CUSTOMER_OPEN_ITEMS OI
			LEFT JOIN ACT_POLICY_INSTALLMENT_DETAILS INSD
			ON OI.INSTALLMENT_ROW_ID = INSD.ROW_ID
			WHERE 	OI.CUSTOMER_ID = @CUSTOMER_ID
				AND OI.POLICY_ID = @POLICY_ID 
				AND OI.POLICY_VERSION_ID IN (SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL
											WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID  AND CPL.POLICY_ID = @POLICY_ID 
											AND CPL.CURRENT_TERM = @CURRENT_TERM ) 
				AND OI.RISK_ID = @RISK_ID 
				AND OI.RISK_TYPE = @RISK_TYPE
				AND OI.ITEM_TRAN_CODE_TYPE = 'PREM' 
				AND OI.ITEM_TRAN_CODE <> 'DISC'
		END
		ELSE IF (@BILL_TYPE = 'AB')
		BEGIN
			SELECT TOP 1 @COMMISSION_PERCENTAGE = AGENCY_COMM_PERC
			FROM	ACT_AGENCY_OPEN_ITEMS OI
			WHERE 	OI.CUSTOMER_ID = @CUSTOMER_ID
				AND OI.POLICY_ID = @POLICY_ID 
				AND OI.POLICY_VERSION_ID IN (SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL
											WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID  AND CPL.POLICY_ID = @POLICY_ID 
											AND CPL.CURRENT_TERM = @CURRENT_TERM ) 
				AND OI.ITEM_TRAN_CODE_TYPE = 'PREM' 
				AND OI.RISK_ID = @RISK_ID 
				AND OI.RISK_TYPE = @RISK_TYPE
		END
	END

	--Ravindra (08-19-2008) : Add discount while calculating unpaid
	DECLARE @DISCOUNT_GIVEN DECIMAL(18,2)

	SELECT @DISCOUNT_GIVEN = SUM(ISNULL(OI.TOTAL_DUE,0) )
	FROM ACT_CUSTOMER_OPEN_ITEMS OI
	WHERE 	OI.CUSTOMER_ID = @CUSTOMER_ID
	AND OI.POLICY_ID = @POLICY_ID 
	AND OI.POLICY_VERSION_ID IN (SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL
								WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID  AND CPL.POLICY_ID = @POLICY_ID 
								AND CPL.CURRENT_TERM = @CURRENT_TERM ) 
	AND OI.ITEM_TRAN_CODE = 'DISC'
	AND OI.RISK_ID = @RISK_ID 
	AND OI.RISK_TYPE = @RISK_TYPE
	
	SET @DISCOUNT_GIVEN = ISNULL(@DISCOUNT_GIVEN ,0) * -1 

----Added FOr Itrack Issue #6250.
--
--		SELECT  @PAID_RISK = SUM(ISNULL(TOTAL_PAID,0)) * @COMMISSION_PERCENTAGE / 100   FROM ACT_CUSTOMER_OPEN_ITEMS WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID
--		AND POLICY_VERSION_ID IN (SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL
--								WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID  AND CPL.POLICY_ID = @POLICY_ID 
--								AND CPL.CURRENT_TERM = @CURRENT_TERM)
--								AND ITEM_TRAN_CODE_TYPE = 'PREM' 
--								AND RISK_ID = @RISK_ID 
--								AND RISK_TYPE = @RISK_TYPE 

	--Calculate Unpiad for this risk 
	SELECT @UNPAID_FOR_RISK = SUM(ISNULL(OI.TOTAL_DUE,0) - ISNULL(OI.TOTAL_PAID,0)) + @DISCOUNT_GIVEN  - @PRORATED_CANCELLATION 
	FROM ACT_CUSTOMER_OPEN_ITEMS OI
	WHERE 	OI.CUSTOMER_ID = @CUSTOMER_ID
	AND OI.POLICY_ID = @POLICY_ID 
	AND OI.POLICY_VERSION_ID IN (SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL
								WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID  AND CPL.POLICY_ID = @POLICY_ID 
								AND CPL.CURRENT_TERM = @CURRENT_TERM ) 
	AND OI.ITEM_TRAN_CODE_TYPE = 'PREM'
	AND OI.RISK_ID = @RISK_ID 
	AND OI.RISK_TYPE = @RISK_TYPE
	
	SELECT TOP 1 @ADD_COMM_PERCENTAGE = AGENCY_COMM_PERC
	FROM	ACT_AGENCY_OPEN_ITEMS OI
	WHERE 	OI.CUSTOMER_ID = @CUSTOMER_ID
	AND OI.POLICY_ID = @POLICY_ID 
	AND OI.POLICY_VERSION_ID IN (SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL
								WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID  AND CPL.POLICY_ID = @POLICY_ID 
								AND CPL.CURRENT_TERM = @CURRENT_TERM ) 
	AND OI.ITEM_TRAN_CODE = 'ADC'
	AND OI.ITEM_TRAN_CODE_TYPE = 'COM'
	AND OI.RISK_ID = @RISK_ID 
	AND OI.RISK_TYPE = @RISK_TYPE

	UPDATE #PREMIUM_DETAILS SET COMMISSION_PERCENTAGE = @COMMISSION_PERCENTAGE ,
			COMMISSION_AMOUNT = ROUND((( (@PRORATED_CANCELLATION - @CANC_STAT_FEES) * @COMMISSION_PERCENTAGE ) /100),2),
			UNPAID_PREMIUM = @UNPAID_FOR_RISK , ADD_COMM_PERCENTAGE = ISNULL(@ADD_COMM_PERCENTAGE ,0)
			--Subtract @PAID_RISK Added FOr Itrack Issue #6250.
			--UNPAID_PREMIUM = @UNPAID_FOR_RISK - @PAID_RISK , ADD_COMM_PERCENTAGE = ISNULL(@ADD_COMM_PERCENTAGE ,0)
	WHERE IDEN_COL = @IDEN_COL

	SET @CANCELLATION_COMMISSION  = @CANCELLATION_COMMISSION  
			+ ROUND((( (@PRORATED_CANCELLATION - @CANC_STAT_FEES) * @COMMISSION_PERCENTAGE ) /100),2)

	SET @IDEN_COL = @IDEN_COL  + 1

END

-- If there is a difference total unpaid and unpaid for risks udpate first risk with difference.
-- This issue can arise if there is a JE to reverse a deposit.
DECLARE @UNPIAD_DIFF DECIMAL(18,2) 
SELECT @UNPIAD_DIFF  = @UNPAID_PREMIUM - SUM(ISNULL(UNPAID_PREMIUM,0) ) FROM #PREMIUM_DETAILS  


IF( ISNULL(@UNPIAD_DIFF ,0) <> 0) 
BEGIN 
	UPDATE #PREMIUM_DETAILS SET UNPAID_PREMIUM = ISNULL(UNPAID_PREMIUM,0) + @UNPIAD_DIFF 
	WHERE IDEN_COL = 1 
END
	


SELECT TOP 1 @PIC_COMM_PRECENTAGE = AGENCY_COMM_PERC
FROM	ACT_AGENCY_OPEN_ITEMS OI
WHERE 	OI.CUSTOMER_ID = @CUSTOMER_ID
AND OI.POLICY_ID = @POLICY_ID 
AND OI.POLICY_VERSION_ID IN (SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL
							WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID  AND CPL.POLICY_ID = @POLICY_ID 
							AND CPL.CURRENT_TERM = @CURRENT_TERM ) 
AND OI.ITEM_TRAN_CODE = 'PIC' 
AND OI.ITEM_TRAN_CODE_TYPE = 'COM'


--select  @AGENCY_COMM_PERCENTAGE ,@STAT_NET_RATIO , * from #PREMIUM_DETAILS 

-- SET @CANCELLATION_COMMISSION = ROUND(((@CANCELLATION_PREMIUM * @AGENCY_COMM_PERCENTAGE)/100), 2)

IF(@BILL_TYPE = 'DB')
BEGIN 
	INSERT INTO ACT_TMP_CUSTOMER_OPEN_ITEMS 
	(
	CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,CURRENT_TERM,
	ITEM_REFRENCE_ID,TOTAL_PAID,TOTAL_DUE 
	) 
	SELECT  @CUSTOMER_ID,@POLICY_ID,ACOI.POLICY_VERSION_ID,@CURRENT_TERM,
		IDEN_ROW_ID,TOTAL_PAID,TOTAL_DUE
	FROM ACT_CUSTOMER_OPEN_ITEMS ACOI
	INNER JOIN POL_CUSTOMER_POLICY_LIST PCL
	ON 	ACOI.CUSTOMER_ID = PCL.CUSTOMER_ID
		AND ACOI.POLICY_ID = PCL.POLICY_ID 
	WHERE 	PCL.CUSTOMER_ID = @CUSTOMER_ID 
		AND PCL.POLICY_ID = @POLICY_ID 
		AND PCL.POLICY_VERSION_ID = @POLICY_VERSION_ID
		AND PCL.CURRENT_TERM = @CURRENT_TERM
		AND ACOI.ITEM_TRAN_CODE_TYPE = 'FEES'
		--Ravindra(11/19/2009): iTrack 6517
		--AND ACOI.ITEM_TRAN_CODE <> 'NSFF'

	DECLARE @FEES_REVERSE Decimal(18,2)
	SELECT @FEES_REVERSE = ISNULL(SUM(ISNULL(TOTAL_DUE,0) - ISNULL(TOTAL_PAID,0)),0)
	FROM ACT_CUSTOMER_OPEN_ITEMS 
	WHERE	 CUSTOMER_ID = @CUSTOMER_ID 	
		AND POLICY_ID = @POLICY_ID 
		AND ITEM_TRAN_CODE_TYPE = 'FEES'
		--Ravindra(11/19/2009): iTrack 6517
		--AND ITEM_TRAN_CODE <> 'NSFF'
		AND POLICY_VERSION_ID IN(
					SELECT PCL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST PCL
					WHERE 	PCL.CUSTOMER_ID = @CUSTOMER_ID 
					AND PCL.POLICY_ID = @POLICY_ID 
					AND PCL.CURRENT_TERM = @CURRENT_TERM)
	-- Write off unpaid Fees 
	UPDATE ACT_CUSTOMER_OPEN_ITEMS SET TOTAL_DUE = ISNULL(TOTAL_PAID,0) 
	WHERE	 CUSTOMER_ID = @CUSTOMER_ID 	
		AND POLICY_ID = @POLICY_ID 
		AND ITEM_TRAN_CODE_TYPE = 'FEES'
		--Ravindra(11/19/2009): iTrack 6517
		--AND ITEM_TRAN_CODE <> 'NSFF'
		AND UPDATED_FROM <> 'F'
		AND POLICY_VERSION_ID IN(
					SELECT PCL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST PCL
					WHERE 	PCL.CUSTOMER_ID = @CUSTOMER_ID 
					AND PCL.POLICY_ID = @POLICY_ID 
					AND PCL.CURRENT_TERM = @CURRENT_TERM)
	--- Balance Tab entry for Fees Reversal
	
	IF (@FEES_REVERSE  <> 0)
	BEGIN 
		INSERT INTO ACT_CUSTOMER_BALANCE_INFORMATION
		(
		CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,OPEN_ITEM_ROW_ID,AMOUNT,AMOUNT_DUE,TRAN_DESC,
		UPDATED_FROM,CREATED_DATE,IS_PRINTED,PRINT_DATE,SOURCE_ROW_ID,DUE_DATE
		) 		
		VALUES
		(
		@CUSTOMER_ID,@POLICY_ID,@POLICY_VERSION_ID, NULL , @FEES_REVERSE * -1,
		0 ,'Fee Reversed at cancellation (Memo)', -- Added By Ravindra(08-11-2007)
		@UPDATED_FROM,@TRANSACTION_DATE,null, null , @SOURCE_ROW_ID	 ,NULL 
		)
	END

	-- Create a Entry For Cancellation Premium in Customer Open Item & Accoun posting
	INSERT INTO #TMP_POST
	(	
	ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
	TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
	ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS ,TRAN_ENTITY ,  BILL_CODE,
	GROSS_AMOUNT, NET_AMOUNT , AGN_COMM_PER , RISK_ID ,RISK_TYPE
	)
	SELECT 
	@FULLPREMIUM_ACCOUNT_CUST , PRORATED_CANCELLATION * -1, @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
	@TRANSACTION_DESC , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE,@ITEM_TRAN_CODE_TYPE,
	1,0,1 ,@CUSTOMER_NAME , @BILL_TYPE , 
	PRORATED_CANCELLATION  , (PRORATED_CANCELLATION - CANC_STAT_FEES )  , COMMISSION_PERCENTAGE , RISK_ID , RISK_TYPE 
	FROM #PREMIUM_DETAILS
	
	-- Written premium Debit with Cancellation Premium Aamount
	INSERT INTO #TMP_POST
	(	
	ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
	TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
	ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY , BILL_CODE,
	GROSS_AMOUNT, NET_AMOUNT , AGN_COMM_PER , RISK_ID ,RISK_TYPE
	)
	SELECT 
	@PREMIUM_INCOME_ACCOUNT, PRORATED_CANCELLATION  , @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
	@TRANSACTION_DESC , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE,@ITEM_TRAN_CODE_TYPE,
	1,0,0 , @CUSTOMER_NAME , @BILL_TYPE, 
	PRORATED_CANCELLATION  , (PRORATED_CANCELLATION - CANC_STAT_FEES )   , COMMISSION_PERCENTAGE , RISK_ID , RISK_TYPE 
	FROM #PREMIUM_DETAILS 

	-- Commission Incurred (Expense) Credit
	INSERT INTO #TMP_POST
	(	
	ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
	TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
	ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY , BILL_CODE ,
	GROSS_AMOUNT, NET_AMOUNT , AGN_COMM_PER , RISK_ID ,RISK_TYPE
	)
	SELECT 
	@COMM_EXPENSE_ACCOUNT , COMMISSION_AMOUNT * -1 , @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
	'Commission Revoked' , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE_COM ,@ITEM_TRAN_CODE_TYPE_COM ,
	1,0,0 , @AGENCY_NAME , @BILL_TYPE,
	PRORATED_CANCELLATION  , (PRORATED_CANCELLATION - CANC_STAT_FEES )  , COMMISSION_PERCENTAGE , RISK_ID , RISK_TYPE 
	FROM #PREMIUM_DETAILS 

	
	IF(@IS_HOME_EMPLOYEE = 'Y')
	BEGIN 
		-- Create a Revoke For Cancellation Commission in Customer Open Item & Accoun posting
		-- Commission Payable
		INSERT INTO #TMP_POST
		(	
		ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
		TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
		ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY , BILL_CODE,
		GROSS_AMOUNT, NET_AMOUNT , AGN_COMM_PER , RISK_ID ,RISK_TYPE
		)
		SELECT 
		@FULLPREMIUM_ACCOUNT_CUST , COMMISSION_AMOUNT , @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
		'Discount Reversed' , @POLICY_ID , @POLICY_VERSION_ID , 'DISC' ,@ITEM_TRAN_CODE_TYPE,
		1,0,1 , @CUSTOMER_NAME  , @BILL_TYPE,
		PRORATED_CANCELLATION , (PRORATED_CANCELLATION - CANC_STAT_FEES ) , COMMISSION_PERCENTAGE , RISK_ID , RISK_TYPE 
		FROM #PREMIUM_DETAILS 

	END 
	ELSE	
	BEGIN
		-- Create a Revoke For Cancellation Commission in Customer Open Item & Accoun posting
		-- Commission Payable
		INSERT INTO #TMP_POST
		(	
		ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
		TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
		ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS  , TRAN_ENTITY ,  BILL_CODE ,
		GROSS_AMOUNT, NET_AMOUNT , AGN_COMM_PER , RISK_ID ,RISK_TYPE
		)
		SELECT 
		@COMM_PAYABLE_ACCOUNT , COMMISSION_AMOUNT , @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
		'Commission Revoked' , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE_COM ,@ITEM_TRAN_CODE_TYPE_COM ,
		1,1,0 , @AGENCY_NAME , @BILL_TYPE,
		PRORATED_CANCELLATION , (PRORATED_CANCELLATION - CANC_STAT_FEES )  , COMMISSION_PERCENTAGE , RISK_ID , RISK_TYPE 
		FROM #PREMIUM_DETAILS 

	END
	
	IF(@UNPAID_PREMIUM  <> 0)
	BEGIN 

		-- To Be charged from Agency
		IF(@ACTION_UNPAID_PREMIUM  = @CHARGE_AGENCY )
		BEGIN 

			-- Ravindra(09-07-2007) If rollover business the not to be charged from agency
			-- Some specific agency will not be charged Currently this code is(code is 5514, 5516) 
			-- Ravindra(10-13-2007) In case of if the Agency is carrier itself i.e Home Office 
			-- employee policy unpaid premium need to be written off as there is no agency
			-- there
			-- Ravindra(04-22-2008) If mortagagee bill from inception then also do not charge agency
			IF(@IS_ROLLOVER	<> 'Y' AND @EXEMPT_ON_CANCEL <> 'Y' AND @IS_HOME_EMPLOYEE <> 'Y' 
					AND @BILL_TYPE_ID <> @MORTAGAGEE_BILL_INCEPTION ) 
			BEGIN 
				-- Create a record in Customer Open Item to writeoff the amount
				-- Uncollected Bill DB Credit
				INSERT INTO #TMP_POST
				(	
				ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
				TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
				ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY , CUSTOM_STATUS , BILL_CODE ,	
				GROSS_AMOUNT, NET_AMOUNT , AGN_COMM_PER , RISK_ID ,RISK_TYPE 
				)			
				SELECT 
				@FULLPREMIUM_ACCOUNT_CUST , UNPAID_PREMIUM * -1  , @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
				'Premium Charged To Agency' , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE,@ITEM_TRAN_CODE_TYPE,
				1,0,1 , @CUSTOMER_NAME , '9' , @BILL_TYPE , 
				UNPAID_PREMIUM  ,
				--UNPAID_PREMIUM * STAT_NET_RATIO , 
				UNPAID_PREMIUM  - BAL_STAT_FEES, COMMISSION_PERCENTAGE , RISK_ID ,RISK_TYPE
				FROM #PREMIUM_DETAILS
							
				-- Create a record in Agency Open_item to charge Premium 
				-- Uncollected Bill AB Debit
				INSERT INTO #TMP_POST
				(	
				ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
				TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
				ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY , BILL_CODE,
				GROSS_AMOUNT, NET_AMOUNT , AGN_COMM_PER , RISK_ID ,RISK_TYPE 
				)
				SELECT
				@FULLPREMIUM_ACCOUNT_AGN , UNPAID_PREMIUM   , @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
				'Unpaid Premium charged' , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE,@ITEM_TRAN_CODE_TYPE,
				1,1,0 , @CUSTOMER_NAME , 'AB',
				UNPAID_PREMIUM , 
				--UNPAID_PREMIUM * STAT_NET_RATIO  
				UNPAID_PREMIUM  - BAL_STAT_FEES,
				COMMISSION_PERCENTAGE , RISK_ID ,RISK_TYPE
				FROM #PREMIUM_DETAILS		

				-- Give this commission to Agency , Increase AB Commision Liabality account	
				INSERT INTO #TMP_POST
				(	
				ACCOUNT_ID, AMT , 
				CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
				TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
				ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY, BILL_CODE , 
				GROSS_AMOUNT , NET_AMOUNT , AGN_COMM_PER , RISK_ID ,RISK_TYPE 
				)
				SELECT
				@COMM_PAYABLE_ACCOUNT_AGN , 
				--((UNPAID_PREMIUM * STAT_NET_RATIO * COMMISSION_PERCENTAGE)/100) * -1, 
				(( (UNPAID_PREMIUM  - BAL_STAT_FEES )* COMMISSION_PERCENTAGE)/100) * -1, 
				@CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
				'Commission given' , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE_COM ,@ITEM_TRAN_CODE_TYPE_COM ,
				1,1,0 , @AGENCY_NAME ,'AB' , 
				UNPAID_PREMIUM ,  
				--UNPAID_PREMIUM * STAT_NET_RATIO  , 
				UNPAID_PREMIUM  - BAL_STAT_FEES  ,
				COMMISSION_PERCENTAGE , RISK_ID ,RISK_TYPE
				FROM #PREMIUM_DETAILS		

				 ----Decrease DB Commission Liability Account
				INSERT INTO #TMP_POST
				(	
				ACCOUNT_ID, AMT , 
				CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
				TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
				ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY , BILL_CODE,
				GROSS_AMOUNT , NET_AMOUNT , AGN_COMM_PER , RISK_ID ,RISK_TYPE 
				)
				SELECT 
				@COMM_PAYABLE_ACCOUNT , 
				--(UNPAID_PREMIUM * STAT_NET_RATIO * COMMISSION_PERCENTAGE)/100 , 
				( ( UNPAID_PREMIUM -BAL_STAT_FEES) * COMMISSION_PERCENTAGE)/100 , 
				@CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
				'Commission Revoked' , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE_COM ,@ITEM_TRAN_CODE_TYPE_COM,
				1,1,0 , @AGENCY_NAME , @BILL_TYPE ,
				UNPAID_PREMIUM  , 
				-- UNPAID_PREMIUM * STAT_NET_RATIO  , 
				UNPAID_PREMIUM -BAL_STAT_FEES , 
				COMMISSION_PERCENTAGE , RISK_ID ,RISK_TYPE
				FROM #PREMIUM_DETAILS		

				/******************** For PIC  ******************************/
				--If PIC given at New Businss Revoke it 
				IF(ISNULL(@PIC_COMM_PRECENTAGE,0) <> 0)   
				BEGIN 
						-- Give this commission to Agency , Increase AB Commision Liabality account	
						INSERT INTO #TMP_POST
						(	
						ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
						TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
						ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY, BILL_CODE , 
						GROSS_AMOUNT , NET_AMOUNT , AGN_COMM_PER , RISK_ID ,RISK_TYPE
						)
						SELECT
						@COMM_PAYABLE_ACCOUNT_AGN , 
						--((UNPAID_PREMIUM * STAT_NET_RATIO * @PIC_COMM_PRECENTAGE)/100) * -1, 
						(( (UNPAID_PREMIUM -BAL_STAT_FEES) * @PIC_COMM_PRECENTAGE)/100) * -1, 			
						@CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
						'Commission Given' , @POLICY_ID , @POLICY_VERSION_ID , 'PIC' ,@ITEM_TRAN_CODE_TYPE_COM ,
						1,1,0 , @AGENCY_NAME ,'AB' , 
						UNPAID_PREMIUM  ,  
						--UNPAID_PREMIUM * STAT_NET_RATIO  , 
						UNPAID_PREMIUM -BAL_STAT_FEES , 
						@PIC_COMM_PRECENTAGE , RISK_ID ,RISK_TYPE
						FROM #PREMIUM_DETAILS	
	
						 ----Decrease DB Commission Liability Account
						INSERT INTO #TMP_POST
						(	
						ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
						TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
						ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY , BILL_CODE,
						GROSS_AMOUNT , NET_AMOUNT , AGN_COMM_PER , RISK_ID ,RISK_TYPE
						)
						SELECT
						@COMM_PAYABLE_ACCOUNT , 
						--((UNPAID_PREMIUM * STAT_NET_RATIO * @PIC_COMM_PRECENTAGE)/100) , 
						(((UNPAID_PREMIUM -BAL_STAT_FEES) * @PIC_COMM_PRECENTAGE)/100) , 
						@CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
						'Commission Revoked PIC' , @POLICY_ID , @POLICY_VERSION_ID , 'PIC' ,@ITEM_TRAN_CODE_TYPE_COM ,
						1,1,0 , @AGENCY_NAME , @BILL_TYPE , 
						UNPAID_PREMIUM  ,  
						--UNPAID_PREMIUM * STAT_NET_RATIO  , 
						UNPAID_PREMIUM -BAL_STAT_FEES , 
						@PIC_COMM_PRECENTAGE , RISK_ID ,RISK_TYPE
						FROM #PREMIUM_DETAILS	
				END
				/************************************************************/

				/******************** For ADC  ******************************/
				-- Give this commission to Agency , Increase AB Commision Liabality account	
				INSERT INTO #TMP_POST
				(	
				ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
				TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
				ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY, BILL_CODE , 
				GROSS_AMOUNT , NET_AMOUNT , AGN_COMM_PER, RISK_ID ,RISK_TYPE
				)
				SELECT
				@COMM_PAYABLE_ACCOUNT_AGN , 
				--((UNPAID_PREMIUM * STAT_NET_RATIO * ADD_COMM_PERCENTAGE)/100) * -1, 
				(( (UNPAID_PREMIUM -BAL_STAT_FEES) * ADD_COMM_PERCENTAGE)/100) * -1, 
				@CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
				'Commission given ADC' , @POLICY_ID , @POLICY_VERSION_ID , 'ADC' ,@ITEM_TRAN_CODE_TYPE_COM ,
				1,1,0 , @AGENCY_NAME ,'AB' , 
				UNPAID_PREMIUM  , 
				--UNPAID_PREMIUM * STAT_NET_RATIO , 
				UNPAID_PREMIUM -BAL_STAT_FEES , 
				ADD_COMM_PERCENTAGE , RISK_ID ,RISK_TYPE 
				FROM #PREMIUM_DETAILS
				WHERE ISNULL(ADD_COMM_PERCENTAGE ,0) > 0 
				 ----Decrease DB Commission Liability Account
				INSERT INTO #TMP_POST
				(	
				ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
				TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
				ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY , BILL_CODE,
				GROSS_AMOUNT , NET_AMOUNT , AGN_COMM_PER , RISK_ID ,RISK_TYPE
				)
				SELECT
				@COMM_PAYABLE_ACCOUNT , 
				--((UNPAID_PREMIUM * STAT_NET_RATIO * ADD_COMM_PERCENTAGE)/100) , 
				(( (UNPAID_PREMIUM -BAL_STAT_FEES) * ADD_COMM_PERCENTAGE)/100) , 
				@CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
				'Commission Revoked ADC' , @POLICY_ID , @POLICY_VERSION_ID , 'ADC' ,@ITEM_TRAN_CODE_TYPE_COM,
				1,1,0 , @AGENCY_NAME , @BILL_TYPE ,
				UNPAID_PREMIUM  , 
				--UNPAID_PREMIUM * STAT_NET_RATIO ,
				UNPAID_PREMIUM -BAL_STAT_FEES , 
				ADD_COMM_PERCENTAGE, RISK_ID ,RISK_TYPE
				FROM #PREMIUM_DETAILS	
				WHERE ISNULL(ADD_COMM_PERCENTAGE ,0) > 0 

				/************************************************************/ 
			END
			ELSE
			BEGIN
				SET @ACTION_UNPAID_PREMIUM  = @WRITE_OFF
			END
		END
		
		IF(@ACTION_UNPAID_PREMIUM  = @WRITE_OFF )	-- To be written off 
		BEGIN 
			-- Create a record in Customer Open Item to writeoff the amount
			-- Uncollected Bill DB Credit
			INSERT INTO #TMP_POST
			(	
			ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
			TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
			ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY , CUSTOM_STATUS , BILL_CODE ,	
			GROSS_AMOUNT, NET_AMOUNT , AGN_COMM_PER , RISK_ID ,RISK_TYPE 
			)			
			SELECT
			@FULLPREMIUM_ACCOUNT_CUST , UNPAID_PREMIUM * -1  , @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
			'Unpaid Premium written off' , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE,@ITEM_TRAN_CODE_TYPE,
			1,0,1 , @CUSTOMER_NAME , '9' , @BILL_TYPE , 
			UNPAID_PREMIUM  , 
			--UNPAID_PREMIUM * STAT_NET_RATIO   , 
			UNPAID_PREMIUM - BAL_STAT_FEES , 
			COMMISSION_PERCENTAGE , RISK_ID ,RISK_TYPE
			FROM #PREMIUM_DETAILS
			
			-- Update WRITTEN_OFF_PREMIUM 
			UPDATE POL_POLICY_PROCESS SET WRITTEN_OFF_PREMIUM = @UNPAID_PREMIUM 
			WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND NEW_POLICY_VERSION_ID = @POLICY_VERSION_ID 
			AND PROCESS_STATUS = 'PENDING'

			-- Written premium Debit with Cancellation Premium Aamount
			INSERT INTO #TMP_POST
			(	
			ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
			TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
			ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY , BILL_CODE ,
			GROSS_AMOUNT , NET_AMOUNT , AGN_COMM_PER , RISK_ID ,RISK_TYPE 
			)
			SELECT
			@PREMIUM_INCOME_ACCOUNT, 
			--UNPAID_PREMIUM * STAT_NET_RATIO  , 
			UNPAID_PREMIUM - BAL_STAT_FEES , 
			@CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
			@TRANSACTION_DESC , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE,@ITEM_TRAN_CODE_TYPE,
			1,0,0 , @CUSTOMER_NAME , @BILL_TYPE ,
			UNPAID_PREMIUM  , 
			--UNPAID_PREMIUM * STAT_NET_RATIO  , 
			UNPAID_PREMIUM - BAL_STAT_FEES , 
			COMMISSION_PERCENTAGE , RISK_ID ,RISK_TYPE
			FROM #PREMIUM_DETAILS	

		
			--IF Statistical fees applicable Reverse it.
			INSERT INTO #TMP_POST
			(	
			ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
			TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
			ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS  , TRAN_ENTITY , BILL_CODE ,
			GROSS_AMOUNT , NET_AMOUNT , AGN_COMM_PER , RISK_ID ,RISK_TYPE 
			)
			SELECT
			@OTHER_FEES_ACCOUNT , 
			--UNPAID_PREMIUM * (1- STAT_NET_RATIO) , 
			BAL_STAT_FEES , 
			@CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
			'Fees revoked(Cancellation)' , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE,@ITEM_TRAN_CODE_TYPE,
			1,0,0 , @CUSTOMER_NAME , @BILL_TYPE ,
			UNPAID_PREMIUM  ,
			--UNPAID_PREMIUM * STAT_NET_RATIO  , 
			UNPAID_PREMIUM - BAL_STAT_FEES , 
			COMMISSION_PERCENTAGE , RISK_ID ,RISK_TYPE
			FROM #PREMIUM_DETAILS	
			WHERE STAT_NET_RATIO   <> 1 

				
			/**********************************/
			IF(@IS_HOME_EMPLOYEE = 'Y')
			BEGIN 
				-- Create a Revoke For Cancellation Commission in Customer Open Item & Accoun posting
				-- Commission Payable
				INSERT INTO #TMP_POST
				(	
				ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
				TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
				ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY , BILL_CODE ,
				GROSS_AMOUNT , NET_AMOUNT , AGN_COMM_PER , RISK_ID ,RISK_TYPE
				) 
				SELECT
				@FULLPREMIUM_ACCOUNT_CUST , 
				--((UNPAID_PREMIUM * STAT_NET_RATIO * COMMISSION_PERCENTAGE)/100) , 
				( (UNPAID_PREMIUM - BAL_STAT_FEES )  * COMMISSION_PERCENTAGE)/100, 
				@CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
				'Discount Reversed' , @POLICY_ID , @POLICY_VERSION_ID , 'DISC', @ITEM_TRAN_CODE_TYPE , 
				1,0,1 , @CUSTOMER_NAME  ,@BILL_TYPE ,
				UNPAID_PREMIUM  , 
				--UNPAID_PREMIUM * STAT_NET_RATIO  , 
				UNPAID_PREMIUM - BAL_STAT_FEES ,
				COMMISSION_PERCENTAGE, RISK_ID ,RISK_TYPE
				FROM #PREMIUM_DETAILS	
			END 
			ELSE	
			BEGIN
				-- Create a Revoke For Cancellation Commission in Customer Open Item & Accoun posting
				-- Commission Payable
				INSERT INTO #TMP_POST
				(	
				ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
				TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
				ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS  , TRAN_ENTITY , BILL_CODE ,
				GROSS_AMOUNT , NET_AMOUNT , AGN_COMM_PER , RISK_ID ,RISK_TYPE 
				)
				SELECT
				@COMM_PAYABLE_ACCOUNT , 
				--((UNPAID_PREMIUM * STAT_NET_RATIO * COMMISSION_PERCENTAGE)/100) , 
				( (UNPAID_PREMIUM - BAL_STAT_FEES)  * COMMISSION_PERCENTAGE ) / 100 , 
				@CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
				'Commission Revoked' , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE_COM ,@ITEM_TRAN_CODE_TYPE_COM ,
				1,1,0 , @AGENCY_NAME , @BILL_TYPE ,
				UNPAID_PREMIUM , 
				--UNPAID_PREMIUM * STAT_NET_RATIO  , 
				UNPAID_PREMIUM - BAL_STAT_FEES ,
				COMMISSION_PERCENTAGE, RISK_ID ,RISK_TYPE
				FROM #PREMIUM_DETAILS	

				-- Reverse Additional Commission if applicable
				-- Commission Incurred (Expense) Credit
				INSERT INTO #TMP_POST
				(	
				ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
				TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
				ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY , BILL_CODE ,
				GROSS_AMOUNT, NET_AMOUNT , AGN_COMM_PER 
				)
				SELECT 
				@COMM_EXPENSE_ACCOUNT , 
				--((UNPAID_PREMIUM *STAT_NET_RATIO  * ADD_COMM_PERCENTAGE)/100)* -1 , 
				((UNPAID_PREMIUM - BAL_STAT_FEES ) * ADD_COMM_PERCENTAGE * -1) / 100 ,
				@CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
				'Commission Revoked' , @POLICY_ID , @POLICY_VERSION_ID , 'ADC' ,@ITEM_TRAN_CODE_TYPE_COM ,
				1,0,0 , @AGENCY_NAME , @BILL_TYPE,
				UNPAID_PREMIUM , 
				--UNPAID_PREMIUM * STAT_NET_RATIO , 
				UNPAID_PREMIUM - BAL_STAT_FEES ,
				ADD_COMM_PERCENTAGE
				FROM #PREMIUM_DETAILS 
				WHERE ISNULL(ADD_COMM_PERCENTAGE,0) > 0 

				-- Commission Payable
				INSERT INTO #TMP_POST
				(	
				ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
				TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
				ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS  , TRAN_ENTITY ,  BILL_CODE ,
				GROSS_AMOUNT, NET_AMOUNT , AGN_COMM_PER 
				)
				SELECT 
				@COMM_PAYABLE_ACCOUNT , 
				--((UNPAID_PREMIUM *STAT_NET_RATIO  * ADD_COMM_PERCENTAGE)/100)  ,
				((UNPAID_PREMIUM - BAL_STAT_FEES ) * ADD_COMM_PERCENTAGE)/100,
				@CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
				'Commission Revoked' , @POLICY_ID , @POLICY_VERSION_ID , 'ADC' ,@ITEM_TRAN_CODE_TYPE_COM ,
				1,1,0 , @AGENCY_NAME , @BILL_TYPE,
				UNPAID_PREMIUM , 
				--UNPAID_PREMIUM * STAT_NET_RATIO ,
				UNPAID_PREMIUM - BAL_STAT_FEES	,
				ADD_COMM_PERCENTAGE
				FROM #PREMIUM_DETAILS 
				WHERE ISNULL(ADD_COMM_PERCENTAGE,0) > 0 
				-- End reversing additional commission

				-- Reverse PIC
				IF(ISNULL(@PIC_COMM_PRECENTAGE,0) <> 0)   
				BEGIN 
					-- Commission Incurred (Expense) Credit
					INSERT INTO #TMP_POST
					(	
					ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
					TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
					ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY , BILL_CODE ,
					GROSS_AMOUNT, NET_AMOUNT , AGN_COMM_PER  , RISK_ID , RISK_TYPE
					)
					SELECT 
					@COMM_EXPENSE_ACCOUNT , 
					--((UNPAID_PREMIUM *STAT_NET_RATIO  * @PIC_COMM_PRECENTAGE)/100) * -1 , 
					((UNPAID_PREMIUM - BAL_STAT_FEES ) * @PIC_COMM_PRECENTAGE *-1) /100 ,
					@CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
					'Commission Revoked' , @POLICY_ID , @POLICY_VERSION_ID , 'PIC' ,@ITEM_TRAN_CODE_TYPE_COM ,
					1,0,0 , @AGENCY_NAME , @BILL_TYPE,
					UNPAID_PREMIUM , 
					--UNPAID_PREMIUM *STAT_NET_RATIO , 
					UNPAID_PREMIUM - BAL_STAT_FEES  , 
					@PIC_COMM_PRECENTAGE  , RISK_ID , RISK_TYPE
					FROM #PREMIUM_DETAILS 

					-- Commission Payable
					INSERT INTO #TMP_POST
					(	
					ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
					TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
					ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS  , TRAN_ENTITY ,  BILL_CODE ,
					GROSS_AMOUNT, NET_AMOUNT , AGN_COMM_PER , RISK_ID , RISK_TYPE
					)
					SELECT 
					@COMM_PAYABLE_ACCOUNT , 
					--((UNPAID_PREMIUM *STAT_NET_RATIO  * @PIC_COMM_PRECENTAGE)/100) , 
					((UNPAID_PREMIUM - BAL_STAT_FEES  ) * @PIC_COMM_PRECENTAGE )/100 , 
					@CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
					'Commission Revoked' , @POLICY_ID , @POLICY_VERSION_ID , 'PIC' ,@ITEM_TRAN_CODE_TYPE_COM ,
					1,1,0 , @AGENCY_NAME , @BILL_TYPE,
					UNPAID_PREMIUM , 
					--UNPAID_PREMIUM *STAT_NET_RATIO , 
					UNPAID_PREMIUM - BAL_STAT_FEES  , 
					@PIC_COMM_PRECENTAGE  , RISK_ID , RISK_TYPE
					FROM #PREMIUM_DETAILS 

				END
				-- End Reversing PIC
			END
			/**********************************/

			-- Commission Incurred (Expense) Credit
			INSERT INTO #TMP_POST
			(	
			ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
			TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
			ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY , BILL_CODE ,
			GROSS_AMOUNT , NET_AMOUNT , AGN_COMM_PER , RISK_ID ,RISK_TYPE 
			)
			SELECT
			@COMM_EXPENSE_ACCOUNT , 
			--((UNPAID_PREMIUM * STAT_NET_RATIO * COMMISSION_PERCENTAGE)/100) * -1 , 
			((UNPAID_PREMIUM - BAL_STAT_FEES ) * COMMISSION_PERCENTAGE * -1 ) / 100 ,
			@CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
			'Commission Revoked' , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE_COM ,@ITEM_TRAN_CODE_TYPE_COM,
			1,0,0 , @AGENCY_NAME , @BILL_TYPE ,
			UNPAID_PREMIUM , 
			--UNPAID_PREMIUM * STAT_NET_RATIO  , 
			UNPAID_PREMIUM - BAL_STAT_FEES  , 
			COMMISSION_PERCENTAGE, RISK_ID ,RISK_TYPE
			FROM #PREMIUM_DETAILS	
		END  
		-- Carry Forward to new policy
		ELSE IF( @ACTION_UNPAID_PREMIUM  = @CARRY_FORWARD ) 
		BEGIN 
			SET @CFG_PREMIUM_AMOUNT	  =  @UNPAID_PREMIUM
		END  
	END

	IF( @RETURN_PREMIUM <> 0 )
	BEGIN 
		-- Refund Premium to Customer
		IF(@ACTION_RETURN_PREMIUM  = @REFUND )
-- 		BEGIN 
-- 			SELECT 'Return Amount DO We need to mark it RP'			
-- 		END -- Carry Forward to new policy
-- 		ELSE 
		IF( @ACTION_RETURN_PREMIUM  = @CARRY_FORWARD ) 
		BEGIN 
			SET @CFG_PREMIUM_AMOUNT	  =  @RETURN_PREMIUM * -1
		END
	END			
END

IF(@BILL_TYPE = 'AB')
BEGIN 
	-- Create a Entry For Cancellation Premium in Agency Open Item & Accoun posting
	-- Uncollected Premium AB Cr
	INSERT INTO #TMP_POST
	(	
	ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
	TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
	ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS ,TRAN_ENTITY , BILL_CODE ,
	GROSS_AMOUNT, NET_AMOUNT , AGN_COMM_PER , RISK_ID ,RISK_TYPE
	)
	SELECT
	@FULLPREMIUM_ACCOUNT_AGN , PRORATED_CANCELLATION * -1, @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
	@TRANSACTION_DESC , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE,@ITEM_TRAN_CODE_TYPE,
	1,1,0 ,@CUSTOMER_NAME , @BILL_TYPE , 
	PRORATED_CANCELLATION *-1 , (PRORATED_CANCELLATION - CANC_STAT_FEES )  * - 1 , COMMISSION_PERCENTAGE , RISK_ID , RISK_TYPE 
	FROM #PREMIUM_DETAILS

	-- Written premium Debit with Cancellation Premium Aamount
	INSERT INTO #TMP_POST
	(	
	ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
	TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
	ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY , BILL_CODE,
	GROSS_AMOUNT, NET_AMOUNT , AGN_COMM_PER , RISK_ID ,RISK_TYPE
	)
	SELECT
	@PREMIUM_INCOME_ACCOUNT, PRORATED_CANCELLATION   , @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
	@TRANSACTION_DESC , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE,@ITEM_TRAN_CODE_TYPE,
	1,0,0 , @CUSTOMER_NAME , @BILL_TYPE , 
	PRORATED_CANCELLATION , (PRORATED_CANCELLATION - CANC_STAT_FEES ) , COMMISSION_PERCENTAGE , RISK_ID , RISK_TYPE 
	FROM #PREMIUM_DETAILS

	SET @CANCELLATION_COMMISSION = ROUND(((@CANCELLATION_PREMIUM * @AGENCY_COMM_PERCENTAGE)/100), 2)

	-- Commission Incurred (Expense) Credit
	INSERT INTO #TMP_POST
	(	
	ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
	TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
	ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY , BILL_CODE,
	GROSS_AMOUNT, NET_AMOUNT , AGN_COMM_PER , RISK_ID ,RISK_TYPE
	)
	SELECT
	@COMM_EXPENSE_ACCOUNT , COMMISSION_AMOUNT * -1 , @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
	'Commission Revoked' , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE_COM ,@ITEM_TRAN_CODE_TYPE_COM ,
	1,0,0 , @AGENCY_NAME , @BILL_TYPE, 
	PRORATED_CANCELLATION , (PRORATED_CANCELLATION - CANC_STAT_FEES ), COMMISSION_PERCENTAGE , RISK_ID , RISK_TYPE 
	FROM #PREMIUM_DETAILS


	-- Create a Revoke For Cancellation Commission in Agency Open Item & Accoun posting
	-- Commission Payable
	INSERT INTO #TMP_POST
	(	
	ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
	TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
	ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS  , TRAN_ENTITY , BILL_CODE,
	GROSS_AMOUNT, NET_AMOUNT , AGN_COMM_PER , RISK_ID ,RISK_TYPE
	)
	SELECT 
	@COMM_PAYABLE_ACCOUNT , COMMISSION_AMOUNT , @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
	'Commission Revoked' , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE_COM ,@ITEM_TRAN_CODE_TYPE_COM ,
	1,1,0 , @AGENCY_NAME , @BILL_TYPE, 
	PRORATED_CANCELLATION *- 1 , (PRORATED_CANCELLATION - CANC_STAT_FEES ) * - 1 , COMMISSION_PERCENTAGE , RISK_ID , RISK_TYPE 
	FROM #PREMIUM_DETAILS
END

--If PIC given at New Businss Revoke it 
IF(ISNULL(@PIC_COMM_PRECENTAGE,0) <> 0)   
BEGIN 
	-- Commission Incurred (Expense) Credit
	INSERT INTO #TMP_POST
	(	
	ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
	TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
	ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY , BILL_CODE ,
	GROSS_AMOUNT, NET_AMOUNT , AGN_COMM_PER  , RISK_ID , RISK_TYPE
	)
	SELECT 
	@COMM_EXPENSE_ACCOUNT , 
	--((PRORATED_CANCELLATION *STAT_NET_RATIO  * @PIC_COMM_PRECENTAGE)/100) * -1 , 
	((PRORATED_CANCELLATION - CANC_STAT_FEES ) * @PIC_COMM_PRECENTAGE *-1 )/100 , 
	@CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
	'Commission Revoked' , @POLICY_ID , @POLICY_VERSION_ID , 'PIC' ,@ITEM_TRAN_CODE_TYPE_COM ,
	1,0,0 , @AGENCY_NAME , @BILL_TYPE,
	PRORATED_CANCELLATION , 
	--PRORATED_CANCELLATION *STAT_NET_RATIO , 
	PRORATED_CANCELLATION - CANC_STAT_FEES  ,
	@PIC_COMM_PRECENTAGE  , RISK_ID , RISK_TYPE
	FROM #PREMIUM_DETAILS 

	-- Commission Payable
	INSERT INTO #TMP_POST
	(	
	ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
	TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
	ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS  , TRAN_ENTITY ,  BILL_CODE ,
	GROSS_AMOUNT, NET_AMOUNT , AGN_COMM_PER , RISK_ID , RISK_TYPE
	)
	SELECT 
	@COMM_PAYABLE_ACCOUNT , 
	--((PRORATED_CANCELLATION *STAT_NET_RATIO  * @PIC_COMM_PRECENTAGE)/100) , 
	((PRORATED_CANCELLATION - CANC_STAT_FEES ) * @PIC_COMM_PRECENTAGE) /100 , 
	@CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
	'Commission Revoked' , @POLICY_ID , @POLICY_VERSION_ID , 'PIC' ,@ITEM_TRAN_CODE_TYPE_COM ,
	1,1,0 , @AGENCY_NAME , @BILL_TYPE,
	PRORATED_CANCELLATION , 
	--PRORATED_CANCELLATION *STAT_NET_RATIO , 
	PRORATED_CANCELLATION - CANC_STAT_FEES ,
	@PIC_COMM_PRECENTAGE  , RISK_ID , RISK_TYPE
	FROM #PREMIUM_DETAILS 

END
	
---Reverse Additional if applicable.

-- Commission Incurred (Expense) Credit
INSERT INTO #TMP_POST
(	
ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY , BILL_CODE ,
GROSS_AMOUNT, NET_AMOUNT , AGN_COMM_PER 
)
SELECT 
@COMM_EXPENSE_ACCOUNT , 
--((PRORATED_CANCELLATION *STAT_NET_RATIO  * ADD_COMM_PERCENTAGE)/100)* -1 , 
((PRORATED_CANCELLATION - CANC_STAT_FEES ) * ADD_COMM_PERCENTAGE * -1) /100 ,
@CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
'Commission Revoked' , @POLICY_ID , @POLICY_VERSION_ID , 'ADC' ,@ITEM_TRAN_CODE_TYPE_COM ,
1,0,0 , @AGENCY_NAME , @BILL_TYPE,
PRORATED_CANCELLATION , 
--PRORATED_CANCELLATION * STAT_NET_RATIO , 
PRORATED_CANCELLATION - CANC_STAT_FEES ,
ADD_COMM_PERCENTAGE
FROM #PREMIUM_DETAILS 
WHERE ISNULL(ADD_COMM_PERCENTAGE,0) > 0 

-- Commission Payable
INSERT INTO #TMP_POST
(	
ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS  , TRAN_ENTITY ,  BILL_CODE ,
GROSS_AMOUNT, NET_AMOUNT , AGN_COMM_PER 
)
SELECT 
@COMM_PAYABLE_ACCOUNT , 
--((PRORATED_CANCELLATION *STAT_NET_RATIO  * ADD_COMM_PERCENTAGE)/100)  ,
((PRORATED_CANCELLATION - CANC_STAT_FEES ) * ADD_COMM_PERCENTAGE)/100,
@CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
'Commission Revoked' , @POLICY_ID , @POLICY_VERSION_ID , 'ADC' ,@ITEM_TRAN_CODE_TYPE_COM ,
1,1,0 , @AGENCY_NAME , @BILL_TYPE,
PRORATED_CANCELLATION , 
--PRORATED_CANCELLATION * STAT_NET_RATIO ,
PRORATED_CANCELLATION - CANC_STAT_FEES ,
ADD_COMM_PERCENTAGE
FROM #PREMIUM_DETAILS 
WHERE ISNULL(ADD_COMM_PERCENTAGE,0) > 0 

-- Calculate Mcca Fees to reverse

SELECT @CANCELLATION_MCCA_FEES = ISNULL(SUM(CANC_STAT_FEES),0) FROM #PREMIUM_DETAILS

-- Changed By Ravindra(08-03-2007)
-- Need to create record in Premium Process Details , logic moved from BL to SP
-- In BL this was done after premium processing so PPD Row Id will not be available in 
-- Premium Process Logic , which is required to be further used as  Refrence key in 
-- Premium Sub details and Accounts Table
DECLARE @PPD_ROW_ID Int 
SELECT @PPD_ROW_ID = (ISNULL(MAX(PROCESS_ID),0) + 1) FROM ACT_PREMIUM_PROCESS_DETAILS
 	


-- Insert into ACT_PREMIUM_PROCESS_SUB_DETAILS 

INSERT INTO ACT_PREMIUM_PROCESS_SUB_DETAILS 
	( CUSTOMER_ID , POLICY_ID ,  POLICY_VERSION_ID ,  PPD_ROW_ID ,
		RISK_ID , RISK_TYPE , NET_PREMIUM , STATS_FEES , GROSS_PREMIUM ,
		INFORCE_PREMIUM , INFORCE_FEES ,
	COMMISSION_RATE ,COMMISSION_AMOUNT,EFFECTIVE_DATE,CURRENT_COMMISSION_RATE
	)


SELECT @CUSTOMER_ID , @POLICY_ID , @POLICY_VERSION_ID , @PPD_ROW_ID ,
		RISK_ID , RISK_TYPE , (PRORATED_CANCELLATION - CANC_STAT_FEES ) * -1 , CANC_STAT_FEES * -1 , PRORATED_CANCELLATION * -1,
		--PRORATED_CANCELLATION * -1, CANC_STAT_FEES  * -1
		INFORCE_PREMIUM * - 1 , INFORCE_FEES * - 1  ,
	COMMISSION_PERCENTAGE , COMMISSION_AMOUNT *-1	, @CHANGE_EFFECTIVE_DATE,	COMMISSION_PERCENTAGE
FROM #PREMIUM_DETAILS


IF ( (@CANCELLATION_MCCA_FEES + @CANCELLATION_OTHER_FEES) <> 0)
BEGIN
	--- OSta Fees Debit With Cancellation Fees 
	INSERT INTO #TMP_POST
	(	
	ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
	TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
	ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS  , TRAN_ENTITY , BILL_CODE 
	)
	VALUES
	(
	@OTHER_FEES_ACCOUNT , @CANCELLATION_MCCA_FEES + @CANCELLATION_OTHER_FEES , @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
	'Fees revoked(Cancellation)' , @POLICY_ID , @POLICY_VERSION_ID , 'MCCAF','FEES',
	1,0,0 , CASE @BILL_TYPE WHEN 'AB' THEN @AGENCY_NAME ELSE @CUSTOMER_NAME END , @BILL_TYPE
	)

	INSERT INTO #TMP_POST
	(	
	ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
	TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
	ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS  , TRAN_ENTITY ,BILL_CODE 
	)
	VALUES
	(
	@PREMIUM_INCOME_ACCOUNT , (@CANCELLATION_MCCA_FEES + @CANCELLATION_OTHER_FEES) * -1 , @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
	'Fees revoked(Cancellation)' , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE,@ITEM_TRAN_CODE_TYPE,
	1,0,0 , CASE @BILL_TYPE WHEN 'AB' THEN @AGENCY_NAME ELSE @CUSTOMER_NAME END , @BILL_TYPE
	)
END

--Customer Open Item Posting
INSERT INTO ACT_CUSTOMER_OPEN_ITEMS
(
	UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
	POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_COMM_APPLIES, AGENCY_COMM_PERC, 
	AGENCY_COMM_AMT, AGENCY_ID,CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, 
	PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE, 
	PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL, 
	BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE,ITEM_TRAN_CODE_TYPE,TRAN_ID, 
	CASH_ACCOUNTING, RECUR_JOURNAL_VERSION, JE_RECON_COUNTER,AMT_IN_RECON, 
	OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, TRANS_DESC, ITEM_STATUS,
	INSTALLMENT_ROW_ID, NET_PREMIUM,RISK_ID,RISK_TYPE,DUE_DATE 
)	
SELECT 
	@UPDATED_FROM , @PPD_ROW_ID, @PPD_ROW_ID, @CHANGE_EFFECTIVE_DATE , SOURCE_EFFECTIVE_DATE,
	@TRANSACTION_DATE, TP.AMT , 0, CASE @IS_HOME_EMPLOYEE WHEN 'Y' THEN 'N' ELSE 'Y' END, AGN_COMM_PER, 
	NULL, TP.AGENCY_ID,TP.CUSTOMER_ID, TP.POLICY_ID, TP.POLICY_VERSION_ID,
	NULL, NULL, 1, NULL,
	'CUS', PCL.DIV_ID, PCL.DEPT_ID, PCL.PC_ID, TP.CUSTOM_STATUS, NULL, @IS_PREBILL ,
	TP.BILL_CODE, TP.GROSS_AMOUNT  ,TRAN_CODE,TRAN_TYPE,NULL, 
	NULL, NULL, NULL, NULL, 
	NULL, @LOB_ID, @SUB_LOB_ID, PCL.COUNTRY_ID, @STATE_ID, TP.TRANS_DESC, 'DP',
	NULL , NET_AMOUNT ,RISK_ID, RISK_TYPE , @CHANGE_EFFECTIVE_DATE
	FROM 
	#TMP_POST TP WITH (NOLOCK) 
	INNER JOIN POL_CUSTOMER_POLICY_LIST PCL WITH (NOLOCK)ON 
		PCL.POLICY_ID = TP.POLICY_ID AND PCL.POLICY_VERSION_ID = TP.POLICY_VERSION_ID AND PCL.CUSTOMER_ID = TP.CUSTOMER_ID
	WHERE 
		PCL.POLICY_ID = @POLICY_ID  
		AND PCL.POLICY_VERSION_ID = @POLICY_VERSION_ID 
		AND PCL.CUSTOMER_ID = @CUSTOMER_ID 
		AND TP.CUST_OPEN_ITEMS = 1 
	AND ISNULL(TP.AMT,0) <> 0

--Inserting the entry in customer balance informartion
INSERT INTO ACT_CUSTOMER_BALANCE_INFORMATION
(
	CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID,
	OPEN_ITEM_ROW_ID, AMOUNT, AMOUNT_DUE,
	TRAN_DESC,
	UPDATED_FROM, CREATED_DATE,
	IS_PRINTED, PRINT_DATE, SOURCE_ROW_ID
)
SELECT 
	ACOI.CUSTOMER_ID, ACOI.POLICY_ID, ACOI.POLICY_VERSION_ID, 
	IDEN_ROW_ID, ACOI.TOTAL_DUE, 0,
	ACOI.TRANS_DESC,
	@UPDATED_FROM, @TRANSACTION_DATE,
	0,NULL, @PPD_ROW_ID
FROM 	ACT_CUSTOMER_OPEN_ITEMS ACOI
WHERE 	ACOI.UPDATED_FROM = @UPDATED_FROM 
	AND ACOI.SOURCE_ROW_ID = @PPD_ROW_ID
	AND ACOI.ITEM_TRAN_CODE   = @ITEM_TRAN_CODE
	AND ISNULL(ACOI.IS_TEMP_ENTRY,0)  <> 9 

DECLARE @WRITE_OFF_ITEM Int 

SELECT TOP 1 @WRITE_OFF_ITEM = ACOI.IDEN_ROW_ID 
FROM ACT_CUSTOMER_OPEN_ITEMS ACOI
WHERE 	ACOI.UPDATED_FROM = @UPDATED_FROM 
	AND ACOI.SOURCE_ROW_ID = @PPD_ROW_ID
	AND ACOI.ITEM_TRAN_CODE   = @ITEM_TRAN_CODE
	AND ISNULL(ACOI.IS_TEMP_ENTRY,0)  = 9 


INSERT INTO ACT_CUSTOMER_BALANCE_INFORMATION
(
	CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID,
	OPEN_ITEM_ROW_ID, AMOUNT, AMOUNT_DUE,
	TRAN_DESC,
	UPDATED_FROM, CREATED_DATE,
	IS_PRINTED, PRINT_DATE, SOURCE_ROW_ID
)
SELECT 
	ACOI.CUSTOMER_ID, ACOI.POLICY_ID, ACOI.POLICY_VERSION_ID, 
	@WRITE_OFF_ITEM, SUM(ACOI.TOTAL_DUE) , 0,
	ACOI.TRANS_DESC,
	@UPDATED_FROM, @TRANSACTION_DATE,
	0,NULL, @PPD_ROW_ID
FROM 	ACT_CUSTOMER_OPEN_ITEMS ACOI
WHERE 	ACOI.UPDATED_FROM = @UPDATED_FROM 
	AND ACOI.SOURCE_ROW_ID = @PPD_ROW_ID
	AND ACOI.ITEM_TRAN_CODE   = @ITEM_TRAN_CODE
	AND ISNULL(ACOI.IS_TEMP_ENTRY,0)  = 9 
GROUP BY 	ACOI.CUSTOMER_ID, ACOI.POLICY_ID, ACOI.POLICY_VERSION_ID, ACOI.TRANS_DESC

--Agency Open Item Posting
INSERT INTO ACT_AGENCY_OPEN_ITEMS
(
	UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
	POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_COMM_APPLIES, AGENCY_COMM_PERC, 
	AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, 
	PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE, 
	PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL, 
	BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, 
	CASH_ACCOUNTING, RECUR_JOURNAL_VERSION, JE_RECON_COUNTER,AMT_IN_RECON, 
	OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, TRANS_DESC, NET_PREMIUM , 
	RISK_ID , RISK_TYPE 
)	
	SELECT 
	@UPDATED_FROM , @PPD_ROW_ID , @PPD_ROW_ID , @CHANGE_EFFECTIVE_DATE , SOURCE_EFFECTIVE_DATE,
	@TRANSACTION_DATE, TP.AMT, 0, CASE @IS_HOME_EMPLOYEE WHEN 'Y' THEN 'N' ELSE 'Y' END, AGN_COMM_PER, 
	NULL , TP.AGENCY_ID,TP.CUSTOMER_ID, TP.POLICY_ID, TP.POLICY_VERSION_ID, 
	NULL, NULL, 1, NULL,
	'AGN', PCL.DIV_ID, PCL.DEPT_ID, PCL.PC_ID, NULL, NULL, @IS_PREBILL , 
	TP.BILL_CODE, TP.GROSS_AMOUNT ,TP.TRAN_CODE, TP.TRAN_TYPE, NULL,
	NULL, NULL, NULL, NULL, 
	NULL, @LOB_ID , @SUB_LOB_ID, PCL.COUNTRY_ID, PCL.STATE_ID, TP.TRANS_DESC, NET_AMOUNT , 
	TP.RISK_ID , TP.RISK_TYPE 
	FROM #TMP_POST TP WITH(NOLOCK) 
	LEFT JOIN POL_CUSTOMER_POLICY_LIST PCL WITH(NOLOCK)
	ON PCL.POLICY_ID = TP.POLICY_ID 
	AND PCL.POLICY_VERSION_ID = TP.POLICY_VERSION_ID 
	AND PCL.CUSTOMER_ID = TP.CUSTOMER_ID
	WHERE 	PCL.POLICY_ID = @POLICY_ID  
		AND  PCL.POLICY_VERSION_ID = @POLICY_VERSION_ID 
		AND PCL.CUSTOMER_ID = @CUSTOMER_ID
		AND TP.AGN_OPEN_ITEMS = 1 
		AND ISNULL(TP.AMT,0) <> 0


--Inserting the record into ACT_ACCOUNTS_POSTING_DETAILS
INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS
(
	ACCOUNT_ID, UPDATED_FROM,
	SUBLEDGER_TYPE,
	SOURCE_ROW_ID,MAPPING_SUBLEDGER_ID, 
	SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE,POSTING_DATE, 
	TRANSACTION_AMOUNT, AGENCY_COMM_PERC, AGENCY_COMM_AMT,
	AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, 
	DIV_ID, DEPT_ID,PC_ID, IS_PREBILL, BILL_CODE, 
	GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE,TRAN_ID, 
	LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID, TAX_ID, ADNL_INFO,
	IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION, IN_BNK_RECON, IS_BALANCE_UPDATED,
	COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME, COMMISSION_TYPE
	,TRAN_ENTITY,TRAN_DESC
)
SELECT 
	TMP.ACCOUNT_ID, @UPDATED_FROM ,TMP.SUBLEDGER_TYPE, 
	@PPD_ROW_ID , NULL, 
	@PPD_ROW_ID , @CHANGE_EFFECTIVE_DATE , TMP.SOURCE_EFFECTIVE_DATE,@POSTING_DATE, 
	SUM(TMP.AMT), NULL, NULL, 
	@AGENCY_ID, @CUSTOMER_ID, @POLICY_ID, @POLICY_VERSION_ID, 
	TMP.DIV_ID, TMP.DEPT_ID,TMP.PC_ID, @IS_PREBILL , TMP.BILL_CODE, 
	SUM(TMP.AMT), 
	TMP.TRAN_CODE, TMP.TRAN_TYPE, NULL,
	@LOB_ID , @SUB_LOB_ID , TMP.COUNTRY_ID, @STATE_ID, NULL, NULL, NULL,
	NULL, NULL, NULL, NULL,
	@USER_ID, @USER_CODE, @USER_NAME, NULL,
	TMP.TRAN_ENTITY ,@TRAN_DESC			 
FROM 
(	
	SELECT 
	TP.ACCOUNT_ID AS ACCOUNT_ID , 
	CASE TP.TRAN_TYPE WHEN 'PREM' THEN 'CUS' ELSE 'AGN' END AS SUBLEDGER_TYPE, 
	TP.SOURCE_EFFECTIVE_DATE,TP.AMT, PCL.DIV_ID, PCL.DEPT_ID,PCL.PC_ID, TP.BILL_CODE, 
	TP.TRAN_CODE, TP.TRAN_TYPE, PCL.COUNTRY_ID, TP.TRAN_ENTITY 
	FROM #TMP_POST  TP WITH(NOLOCK) 
	LEFT JOIN POL_CUSTOMER_POLICY_LIST PCL WITH(NOLOCK)
		ON PCL.POLICY_ID = TP.POLICY_ID 
		AND PCL.POLICY_VERSION_ID = TP.POLICY_VERSION_ID 
		AND PCL.CUSTOMER_ID = @CUSTOMER_ID
	WHERE TP.ACCOUNTS = 1
		AND ISNULL(TP.AMT,0) <> 0
)TMP
GROUP BY 
TMP.ACCOUNT_ID, TMP.DIV_ID, TMP.DEPT_ID,
TMP.PC_ID, TMP.COUNTRY_ID, TMP.TRAN_ENTITY,
TMP.SUBLEDGER_TYPE,TMP.TRAN_CODE, TMP.TRAN_TYPE,TMP.SOURCE_EFFECTIVE_DATE , TMP.BILL_CODE 


-- select @TOTAL_GROSS_PREMIUM as gross,@TOTAL_MCCA_FEES  as mcca,
-- @MINIMUM_PREMIUM  as min , @EARNED_PREMIUM as earned ,
-- @policy_effective_date,@policy_expiration_date,@CANCELLATION_PREMIUM as cancp,@PAID_PREMIUM  paid,
-- @UNPAID_PREMIUM UnP, @RETURN_PREMIUM RetP ,@CANCELLATION_COMMISSION as canc_comm,
-- @CANCELLATION_MCCA_FEES as rev_mcca, @CANCELLATION_OTHER_FEES as rev_other


DROP TABLE #TMP_POST 

-- Reconcile the Cancellation Premium or Unpaid premium written off 
EXEC Proc_ReconCustomerOpenItem @POLICY_EXPIRATION_DATE, @USER_ID,@CUSTOMER_ID,@POLICY_ID  , 0 , 12 

-- If balance on policy after cancellation send notice againt unpaid items
exec Proc_ReUnmarkUnpiadItemsForNotice @CUSTOMER_ID,@POLICY_ID , @CURRENT_TERM , @CHANGE_EFFECTIVE_DATE

SET @TOTAL_CANCELLATION_PREMIUM = @TOTAL_CANCELLATION_PREMIUM * -1
SET @CANCELLATION_MCCA_FEES  = @CANCELLATION_MCCA_FEES  * -1
SET @CANCELLATION_OTHER_FEES= @CANCELLATION_OTHER_FEES * -1

SET @TRANSACTION_DESC  = 'Cancellation Premium processed'


--Ravindra(04-03-2008): Do commission adjustment if there are multiple commission percentage for a Risk
IF(@LOB_ID = 2 OR @LOB_ID= 3 ) 
BEGIN 
	exec Proc_DoPostCancellationAdjustments @CUSTOMER_ID , @POLICY_ID , @POLICY_VERSION_ID , 
			@CHANGE_EFFECTIVE_DATE, @PPD_ROW_ID , @USER_ID
END

RETURN 1

END 

--
--go
--
--DECLARE @CFG_AMT Decimal(18,2) ,@Rep Decimal(18,2), @MCCA Decimal(18,2), @OSTA Decimal(18,2)
--DECLARE @T_DESC Varchar(1000) 
--
--exec Proc_PostPolicyProcessReturnPremium     1704 ,	2, 2 , 1 , 526 , 'CHAG' , 'NA' , 'DB' ,'2009-8-17' ,1 , 3  
--,@T_DESC out, @CFG_AMT  out , @rep out, @MCCA out, @osta out , 12 , 11989 , 11994
----
------SELECT A.IDEN_ROW_ID,A.TRANS_DESC,A.TOTAL_DUE,A.TOTAL_PAID,A.AGENCY_COMM_PERC,A.SWEEP_DATE,
------A.SOURCE_EFF_DATE,MNT.LOOKUP_VALUE_DESC as PaymentMode, 
------A.ITEM_TRAN_CODE_TYPE,A.ITEM_TRAN_CODE,
------ISNULL(B.INSTALLMENT_NO,50) INS_NO,B.INSTALLMENT_NO	 AS INS_NO,B.RELEASED_STATUS,A.RISK_ID,A.RISK_TYPE,
------A.* FROM ACT_CUSTOMER_OPEN_ITEMS A WITH(NOLOCK)
------left JOIN ACT_POLICY_INSTALLMENT_DETAILS B WITH(NOLOCK) ON A.INSTALLMENT_ROW_ID = B.ROW_ID
------LEFT JOIN MNT_LOOKUP_VALUES MNT ON 
------B.PAYMENT_MODE = MNT.LOOKUP_UNIQUE_ID 
------WHERE A.CUSTOMER_ID= 1432
------AND A.POLICY_ID= 74 
------ORDER BY ISNULL(B.CURRENT_TERM,50),ISNULL(B.INSTALLMENT_NO,50) ,A.IDEN_ROW_ID ,A.SOURCE_EFF_DATE,A.UPDATED_FROM
----
----select * From ACT_PREMIUM_PROCESS_SUB_DETAILS where customer_id = 1432 AND POLICY_ID = 91  order by ppd_row_id 
----
------
------SELECT D.SOURCE_ROW_ID,M.ACC_DESCRIPTION,M.ACC_NUMBER,D.TRANSACTION_AMOUNT ,
------D.ITEM_TRAN_CODE_TYPE,D.ITEM_TRAN_CODE,D.* 
------FROM ACT_ACCOUNTS_POSTING_DETAILS D WITH(NOLOCK)
------INNER JOIN ACT_GL_ACCOUNTS M ON D.ACCOUNT_ID = M.ACCOUNT_ID 
------WHERE CUSTOMER_ID= 1432 AND POLICY_ID= 91 AND D.ACCOUNT_ID  IN (36,218 ) 
------ORDER BY D.IDENTITY_ROW_ID 
----
--Rollback tran



GO

