IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetNissData_Auto]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetNissData_Auto]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------                      
Proc Name        : dbo.Proc_GetNissData_Auto                      
Created by       : Sukhveer Singh                      
Date             : 07/12/2006                
Purpose          : Get Detail Information for NISS Report                
Revison History  :                      
Used In          : Wolverine                      
------------------------------------------------------------                      
Date     Review By          Comments                      
------   ------------       -------------------------*/                      
--DROP PROC DBO.Proc_GetNissData_Auto                
CREATE PROC DBO.Proc_GetNissData_Auto                 
(                
@FROMDATE DATETIME = NULL, -- Valid Format mm/dd/yyyy                     
@TODATE DATETIME = NULL    -- Valid Format mm/dd/yyyy                
)                   
AS                      
                
BEGIN                      
SELECT                
-- PL.POLICY_NUMBER,PL.CUSTOMER_ID,                
'' AS BLANK,'068' AS NISS_COMP_NUM,'' AS BLANK,SUBSTRING(CONVERT(VARCHAR,YEAR (POLICY_EFFECTIVE_DATE)),3,2) AS 'CALENDAR_YEAR',                
SUBSTRING(CONVERT(VARCHAR,YEAR (POLICY_EFFECTIVE_DATE)),3,2) AS 'CALL_YEAR',CSL.NSS_STATE_ID AS 'STATE_CODE',                
'1' AS 'LINE_CODE', '' AS BLANK,ISNULL(SUBSTRING(CONVERT(VARCHAR,YEAR (CM.LOSS_DATE)),3,2),'') AS ACCIDENT_YEAR,'' AS BLANK,                
COVERAGE_CODE = CASE                
WHEN PVC.COVERAGE_CODE_ID = 116 AND PVC.LIMIT_ID = 685 AND PDD.DRIVER_INCOME > 9000 AND PV.GRG_STATE = '22' THEN '611'                
WHEN PVC.COVERAGE_CODE_ID = 116 AND PVC.LIMIT_ID = 685 AND PDD.DRIVER_INCOME <= 9000 AND  PV.GRG_STATE = '22' THEN '081'                
WHEN PVC.COVERAGE_CODE_ID = 116 AND PVC.LIMIT_ID = 686 AND  PV.GRG_STATE = '22' THEN '092'                
WHEN PVC.COVERAGE_CODE_ID = 116 AND PVC.LIMIT_ID = 687 AND PDD.DRIVER_INCOME > 9000 AND PV.GRG_STATE = '22' THEN '612'                
WHEN PVC.COVERAGE_CODE_ID = 116 AND PVC.LIMIT_ID = 687 AND PDD.DRIVER_INCOME <= 9000  AND PV.GRG_STATE = '22' THEN '091'                
WHEN PVC.COVERAGE_CODE_ID = 116 AND PVC.LIMIT_ID = 686  AND PV.GRG_STATE = '22' THEN '093'                
--COMP (LOB 2)                
WHEN PVC.COVERAGE_CODE_ID = 123 AND PVC.DEDUC_ID = 161 THEN '017'                
WHEN PVC.COVERAGE_CODE_ID = 123 AND PVC.DEDUC_ID = 162 THEN '046'                
WHEN PVC.COVERAGE_CODE_ID = 123 AND PVC.DEDUC_ID = 163 THEN '037'                
WHEN PVC.COVERAGE_CODE_ID = 123 AND PVC.DEDUC_ID = 165 THEN '044'                
WHEN PVC.COVERAGE_CODE_ID = 123 AND PVC.DEDUC_ID = 166 THEN '033'                
WHEN PVC.COVERAGE_CODE_ID = 123 AND PVC.DEDUC_ID = 167 THEN '073'                
WHEN PVC.COVERAGE_CODE_ID = 123 AND PVC.DEDUC_ID = 168 THEN '730'                
--COLL (LOB 2, STATE_ID = 14)                
WHEN PVC.COVERAGE_CODE_ID = 38 AND PVC.DEDUC_ID = 1376  THEN '023'                
WHEN PVC.COVERAGE_CODE_ID = 38 AND PVC.DEDUC_ID = 69  THEN '024'                
WHEN PVC.COVERAGE_CODE_ID = 38 AND PVC.DEDUC_ID = 71  THEN '027'                
WHEN PVC.COVERAGE_CODE_ID = 38 AND PVC.DEDUC_ID = 72  THEN '025'                
WHEN PVC.COVERAGE_CODE_ID = 38 AND PVC.DEDUC_ID = 73  THEN '034'                
WHEN PVC.COVERAGE_CODE_ID = 38 AND PVC.DEDUC_ID = 75  THEN '036'                
--COLL (LOB 2, STATE_ID = 22)                
WHEN PVC.COVERAGE_CODE_ID = 122 AND PVC.DEDUC_ID = 603  THEN '023'                
WHEN PVC.COVERAGE_CODE_ID = 122 AND PVC.DEDUC_ID = 604  THEN '027'                
WHEN PVC.COVERAGE_CODE_ID = 122 AND PVC.DEDUC_ID = 605  THEN '027'                
WHEN PVC.COVERAGE_CODE_ID = 122 AND PVC.DEDUC_ID = 606  THEN '027'                
WHEN PVC.COVERAGE_CODE_ID = 122 AND PVC.DEDUC_ID = 607  THEN '025'                
WHEN PVC.COVERAGE_CODE_ID = 122 AND PVC.DEDUC_ID = 608  THEN '034'                
WHEN PVC.COVERAGE_CODE_ID = 122 AND PVC.DEDUC_ID = 610  THEN '036'        
--COLL (LOB 3, STATE_ID = 14)                
WHEN PVC.COVERAGE_CODE_ID = 200 AND PVC.DEDUC_ID = 362  THEN '023'                
WHEN PVC.COVERAGE_CODE_ID = 200 AND PVC.DEDUC_ID = 363  THEN '024'                
WHEN PVC.COVERAGE_CODE_ID = 200 AND PVC.DEDUC_ID = 364  THEN '029'                
WHEN PVC.COVERAGE_CODE_ID = 200 AND PVC.DEDUC_ID = 365  THEN '027'                
WHEN PVC.COVERAGE_CODE_ID = 200 AND PVC.DEDUC_ID = 366  THEN '021'                
WHEN PVC.COVERAGE_CODE_ID = 200 AND PVC.DEDUC_ID = 377  THEN '034'                
WHEN PVC.COVERAGE_CODE_ID = 200 AND PVC.DEDUC_ID = 368  THEN '036'                
WHEN PVC.COVERAGE_CODE_ID = 200 AND PVC.DEDUC_ID = 828  THEN '023'                
ELSE MTC.NSS_VALUE_CODE                
END,                
                
'' AS BLANK,SUB1.TERR AS TERRITORY,                
'' AS 'RATING_ZONE_CODE','' AS 'TERMINAL_ZONE_CODE',PV.GRG_ZIP AS 'ZIP_CODE','' AS BLANK,NCC.NISS_CLASS_VALUE AS CLASSIFICATION_CODE,                
'' AS 'ELIGIBILITY_CODE','' AS 'TERR_COVERAGE_CODE','' AS BLANK,'0' AS 'AGE_GROUP_CODE',                
SUBSTRING(CONVERT(VARCHAR,YEAR (PV.VEHICLE_YEAR)),3,2) AS 'MODEL_YEAR','' AS BLANK,'' AS 'COMMERCIAL_IND_CODE',                
'' AS 'EXCEPTION_CODE','' AS 'FORGIVENESS_CODE','' AS BLANK,'' AS 'PASSIVE_RESTRAINT_CODE','0' AS 'DEF_DRIVER_CCODE',                
'' AS BLANK,'' AS 'ANT_THEFT_DEV_CODE','' AS 'DAYTIME_DIS_CODE','' AS BLANK,'' AS 'POLICY_LMT_CODE',                
'' AS 'DEDUCTIBLE_CODE','' AS BLANK,'' AS 'SUPP_LIABLITY_CODE','' AS BLANK,                
SUBLINE = CASE                
WHEN CSL.NSS_STATE_ID = 13 THEN ''                
WHEN PVC.COVERAGE_CODE_ID = 1 AND SUB2.COVERAGE_ID = 50001 OR SUB2.COVERAGE_ID = 50002 OR SUB2.COVERAGE_ID = 50003 OR SUB2.COVERAGE_ID = 50004 AND PV.GRG_STATE = '22' THEN '6'                
WHEN PVC.COVERAGE_CODE_ID = 1 AND APP_USE_VEHICLE_ID  != 11332 AND PV.GRG_STATE = '22' THEN '2'                
WHEN PV.GRG_STATE = '22' AND (PVC.COVERAGE_CODE_ID = 123 OR PVC.COVERAGE_CODE_ID = 38 OR PVC.COVERAGE_CODE_ID = 122 OR PVC.COVERAGE_CODE_ID = 200 OR PVC.COVERAGE_CODE_ID = 216) THEN '0'                
WHEN (PVC.COVERAGE_CODE_ID = 127 OR PVC.COVERAGE_CODE_ID = 207 )AND SUB2.COVERAGE_ID = 50001 OR SUB2.COVERAGE_ID = 50002 OR SUB2.COVERAGE_ID = 50003 OR SUB2.COVERAGE_ID = 50004 AND PV.GRG_STATE = '22' THEN '5'                
WHEN (PVC.COVERAGE_CODE_ID = 127 OR PVC.COVERAGE_CODE_ID = 207 ) AND APP_USE_VEHICLE_ID  != 11332 AND PV.GRG_STATE = '22' THEN '1'                
ELSE MTC.NSS_SUBLINE_CODE                
END,'' AS BLANK,                
LOSS_CODE = CASE                
WHEN SUB2.COVERAGE_ID = 50001 AND PV.GRG_STATE = '22' THEN '1'                
WHEN SUB2.COVERAGE_ID = 50002 AND PV.GRG_STATE = '22' THEN '2'                
WHEN SUB2.COVERAGE_ID = 50003 OR  SUB2.COVERAGE_ID = 50004 AND PV.GRG_STATE = '22' THEN '3'                
WHEN SUB2.COVERAGE_ID = 50007 THEN '1'                
WHEN SUB2.COVERAGE_ID = 50008 THEN '4'                
WHEN SUB2.COVERAGE_ID = 50009 THEN '2'                
WHEN SUB2.COVERAGE_ID = 50010 THEN '5'        
ELSE ISNULL(LOSSPAID.LOSSTYPE_CODE,'')                
END,                
'' AS 'LIABILITY_CODE','' AS BLANK,                
ASLOB = CASE                
WHEN APP_USE_VEHICLE_ID = 11332 AND PVC.COVERAGE_CODE_ID = 116 THEN '19.1'                
WHEN APP_USE_VEHICLE_ID = 11332 AND (PVC.COVERAGE_CODE_ID = 2 OR PVC.COVERAGE_CODE_ID = 114 OR PVC.COVERAGE_CODE_ID = 127 OR PVC.COVERAGE_CODE_ID =207                
     OR PVC.COVERAGE_CODE_ID = 14 OR PVC.COVERAGE_CODE_ID =133 OR PVC.COVERAGE_CODE_ID = 304                
     OR PVC.COVERAGE_CODE_ID = 9 OR PVC.COVERAGE_CODE_ID = 119 OR PVC.COVERAGE_CODE_ID = 131 OR PVC.COVERAGE_CODE_ID = 211                
     OR PVC.COVERAGE_CODE_ID = 12 OR PVC.COVERAGE_CODE_ID = 132 OR PVC.COVERAGE_CODE_ID = 212                
     OR PVC.COVERAGE_CODE_ID = 34 OR PVC.COVERAGE_CODE_ID = 214) THEN '19.2'                
WHEN APP_USE_VEHICLE_ID = 11333 AND PVC.COVERAGE_CODE_ID = 116 THEN '19.3'          
WHEN APP_USE_VEHICLE_ID = 11333 AND (PVC.COVERAGE_CODE_ID = 2 OR PVC.COVERAGE_CODE_ID = 114 OR PVC.COVERAGE_CODE_ID = 127 OR PVC.COVERAGE_CODE_ID =207                
     OR PVC.COVERAGE_CODE_ID = 14 OR PVC.COVERAGE_CODE_ID =133 OR PVC.COVERAGE_CODE_ID = 304                
     OR PVC.COVERAGE_CODE_ID = 9 OR PVC.COVERAGE_CODE_ID = 119 OR PVC.COVERAGE_CODE_ID = 131 OR PVC.COVERAGE_CODE_ID = 211                
     OR PVC.COVERAGE_CODE_ID = 12 OR PVC.COVERAGE_CODE_ID = 132 OR PVC.COVERAGE_CODE_ID = 212                
     OR PVC.COVERAGE_CODE_ID = 34 OR PVC.COVERAGE_CODE_ID = 214) THEN '19.4'                
WHEN APP_USE_VEHICLE_ID = 11332 AND (PVC.COVERAGE_CODE_ID = 4 OR PVC.COVERAGE_CODE_ID = 115 OR PVC.COVERAGE_CODE_ID = 128             
     OR PVC.COVERAGE_CODE_ID = 208 OR PVC.COVERAGE_CODE_ID = 1023 OR PVC.COVERAGE_CODE_ID = 1024) THEN '21.1'                
WHEN APP_USE_VEHICLE_ID = 11333 AND (PVC.COVERAGE_CODE_ID = 4 OR PVC.COVERAGE_CODE_ID = 115 OR PVC.COVERAGE_CODE_ID = 128             
     OR PVC.COVERAGE_CODE_ID = 208 OR PVC.COVERAGE_CODE_ID = 1023 OR PVC.COVERAGE_CODE_ID = 1024) THEN '21.2'                
END,                
'' AS BLANK, PL.APP_TERMS AS WRITTEN_EXPOSURE,                
--PPD.PREMIUM_AMOUNT AS 'WRITTEN_PREMIUM',          
WRITTEN_PREMIUM = CASE            
WHEN PPD.PREMIUM_AMOUNT > 0 THEN RIGHT(REPLICATE('0',8)+CONVERT(VARCHAR(8),CONVERT(INT,PPD.PREMIUM_AMOUNT)),8)+'+'             
ELSE RIGHT(REPLICATE('0',8)+CONVERT(VARCHAR(8),CONVERT(INT,PPD.PREMIUM_AMOUNT)),8)+'-'             
END,            
--CM.PAID_LOSS AS 'PAID_LOSSES',          
--PAID_LOSSES = CASE            
--WHEN LOSSPAID.TOTAL > 0 THEN CONVERT(VARCHAR, RIGHT(REPLICATE('0',8)+CONVERT(VARCHAR(8),ROUND(LOSSPAID.TOTAL,0)),8)) + '+'            
--ELSE CONVERT(VARCHAR, RIGHT(REPLICATE('0',8)+CONVERT(VARCHAR(8),ROUND(LOSSPAID.TOTAL,0)),8)) + '-'            
--END,                
--ROUND(CM.PAID_EXPENSE,0) AS 'PAID_EXPENSE',        
LOSSPAID.TOTAL as 'PAID_LOSSES',          
RIGHT(REPLICATE('0',8)+CONVERT(VARCHAR(8),ROUND(CM.PAID_EXPENSE,0)),8) AS 'PAID_EXPENSE',          
OUTSTANDING_RESERVE AS 'OUTSTANDING_LOSSES',         
convert(VARCHAR,LOSSPAID.COV_CNT) AS 'NUMBER_OF_PAID_CLAIMS',        
'1' AS NUMBER_OF_OUTSTANDING_CLAIMS,                
'' AS 'RESERVED_NISS', '' AS 'RESERVED_COMPANY','' AS BLANK                
FROM POL_CUSTOMER_POLICY_LIST PL                
INNER JOIN  POL_VEHICLES PV ON PL.POLICY_ID = PV.POLICY_ID AND PL.POLICY_VERSION_ID = PV.POLICY_VERSION_ID AND  PL.CUSTOMER_ID = PV.CUSTOMER_ID                
LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST CSL ON PV.GRG_STATE = CSL.STATE_ID                
LEFT OUTER JOIN POL_VEHICLE_COVERAGES PVC ON PV.POLICY_ID = PVC.POLICY_ID  AND PV.POLICY_VERSION_ID = PVC.POLICY_VERSION_ID AND PV.CUSTOMER_ID = PVC.CUSTOMER_ID  AND PV.VEHICLE_ID = PVC.VEHICLE_ID                
LEFT OUTER JOIN POL_DRIVER_DETAILS PDD ON PDD.POLICY_ID = PVC.POLICY_ID AND PDD.POLICY_VERSION_ID = PVC.POLICY_VERSION_ID AND PDD.CUSTOMER_ID = PVC.CUSTOMER_ID AND PDD.VEHICLE_ID = PVC.VEHICLE_ID                
INNER JOIN MNT_COVERAGE MTC ON MTC.COV_ID = PVC.COVERAGE_CODE_ID               
--LEFT OUTER JOIN MNT_COVERAGE MTC ON MTC.COV_ID = PVC.COVERAGE_CODE_ID               
LEFT OUTER JOIN (SELECT ZIP,TERR,MSL.STATE_ID AS STATE,COUNTY,CITY,VEHICLE_TYPE FROM NSS_TERRITORIES_AUTO NTR                
  LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST MSL ON NTR.STATE = MSL.STATE_CODE) SUB1                
ON SUB1.ZIP = PV.GRG_ZIP  AND SUB1.STATE = PV.GRG_STATE AND  PV.APP_USE_VEHICLE_ID = SUB1.VEHICLE_TYPE AND SUB1.CITY = PV.GRG_CITY                
LEFT OUTER JOIN ACT_PREMIUM_PROCESS_DETAILS PPD ON PL.CUSTOMER_ID = PPD.CUSTOMER_ID AND PL.POLICY_ID = PPD.POLICY_ID AND PL.POLICY_VERSION_ID = PPD.POLICY_VERSION_ID                
LEFT OUTER JOIN CLM_CLAIM_INFO CM ON PL.CUSTOMER_ID = CM.CUSTOMER_ID AND PL.POLICY_ID = CM.POLICY_ID AND PL.POLICY_VERSION_ID = CM.POLICY_VERSION_ID                
--LEFT OUTER JOIN (SELECT * FROM CLM_ACTIVITY_RESERVE WHERE COVERAGE_ID IN(50001,50002,50003,50004,50007,50008,50009,50010)) SUB2 ON SUB2.CLAIM_ID = CM.CLAIM_ID                
LEFT OUTER JOIN NISS_CLASS_CODES NCC ON PV.APP_VEHICLE_PERCLASS_ID = NCC.BRICS_CLASS AND PV.VEHICLE_USE = NCC.BRICS_SUBCLASS AND PV.MULTI_CAR = NCC.BRICS_MULTICAR AND PV.GRG_STATE = NCC.BRICS_STATE_ID         
LEFT OUTER JOIN (SELECT CP.CLAIM_ID AS CLAIM_ID ,SUM(PAYMENT_AMOUNT) AS TOTAL,COUNT(*) COV_CNT,CP.RESERVE_ID,CR.COVERAGE_ID,MNC.NSS_LOSSTYPE_CODE AS LOSSTYPE_CODE              
    FROM clm_activity_payment CP            
    LEFT OUTER JOIN CLM_ACTIVITY_RESERVE CR ON CP.CLAIM_ID = CR.CLAIM_ID AND CP.RESERVE_ID = CR.RESERVE_ID         
  LEFT OUTER JOIN MNT_COVERAGE MNC ON CR.COVERAGE_ID = MNC.COV_ID           
    GROUP BY CP.RESERVE_ID,CR.COVERAGE_ID,CP.CLAIM_ID,MNC.NSS_LOSSTYPE_CODE  ) LOSSPAID ON LOSSPAID.CLAIM_ID = CM.CLAIM_ID  
LEFT OUTER JOIN (SELECT * FROM CLM_ACTIVITY_RESERVE WHERE COVERAGE_ID IN(50001,50002,50003,50004,50007,50008,50009,50010)) SUB2 ON SUB2.CLAIM_ID = LOSSPAID.CLAIM_ID               
WHERE PL.POLICY_LOB IN (2,3) AND PL.POLICY_STATUS IN ('NORMAL','RENEWED','CANCEL','RESCIND')             
AND PL.POLICY_EFFECTIVE_DATE >= @FROMDATE AND PL.POLICY_EFFECTIVE_DATE <= @TODATE            
ORDER BY COVERAGE_CODE_ID            
                   
END                      
                
--Proc_GetNissData_Auto  '10/14/2005','10/14/2006'                 
        
      
  
  


GO

