IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_CheckEqualPayAmountCheckAmount]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_CheckEqualPayAmountCheckAmount]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


-- DROP PROC dbo.Proc_CheckEqualPayAmountCheckAmount    
CREATE PROC dbo.Proc_CheckEqualPayAmountCheckAmount    
(    
@CHECK_ID INT,  
@VENDOR_ID INT,
@RETVAL INT OUT  
)    
AS    
DECLARE @CHECK_AMT DECIMAL(18,2),@TOTPAYAMT DECIMAL(18,2)  
BEGIN    

	SELECT @CHECK_AMT = CHECK_AMOUNT FROM TEMP_ACT_CHECK_INFORMATION WHERE CHECK_ID = @CHECK_ID  
	SELECT @TOTPAYAMT = SUM(AMOUNT_TO_APPLY)    
	FROM ACT_VENDOR_CHECK_DISTRIBUTION WHERE VENDOR_ID = @VENDOR_ID AND CHECK_ID = @CHECK_ID  
	      
	IF(ISNULL(@TOTPAYAMT,0) <> ISNULL(@CHECK_AMT,0))  
	  SET @RETVAL =  -1
	ELSE	
	  SET @RETVAL =  1
END  




GO

