IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetNonPayCanceledPolicy_List]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetNonPayCanceledPolicy_List]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_GetNonPayCanceledPolicy_List]      
(    
@EFFECTIVE_DATE DATETIME = NULL    
)    
AS    
BEGIN     
IF(@EFFECTIVE_DATE IS NULL)    
 SELECT @EFFECTIVE_DATE = getdate()    
     DECLARE @MASTER_POLICY_MIN_CAN_DAY INT= 17
   --ISNULL(POL_L.POLICY_NUMBER,APP_NUMBER) POLICY_NUMBER ,    
   --POL_L.CUSTOMER_ID,POL_L.POLICY_ID,POL_L.POLICY_VERSION_ID,POLICY_LOB AS LOB_ID,    
   --25 AS BASE_PROCESS, 1 AS INSTALLMENT_NO,0 AS PARTIAL_PAID,    
   --POLICY_EFFECTIVE_DATE AS POL_EFFECTIVE_DATE,POLICY_EXPIRATION_DATE AS POL_EXPIRATION_DATE,    
   --0 AS CANCEL_GRACE_PERIOD, 0 AS LATE_FEES,ISNULL(FROM_AS400,'') AS FROM_AS400    
     
   CREATE TABLE #tempPOLICY(CUSTOMER_ID INT,POLICY_ID INT ,POLICY_VERSION_ID INT,INSTALL_NO INT,CURRENT_TERM INT)  
     
     
   --Get Policy List to be canceled  
   --get policys which are comes under cancellation criteria  
   --Cancellation criteria => (if installment effective date + min Cancellation days(tollrance limit) <= To day date)  
   --get max policy version where status should not be in progress
   
     INSERT INTO #tempPOLICY   
    SELECT C.CUSTOMER_ID,C.POLICY_ID,c.POLICY_VERSION_ID,C.INSTALL_NO,C.CURRENT_TERM
     FROM ( 
   
  SELECT  MAX(POLICY_VERSION_ID) POLICY_VERSION_ID,
        INSTALL_NO,a.CUSTOMER_ID,a.POLICY_ID,a.CURRENT_TERM FROM (
		SELECT MIN(INSTALLMENT_NO) INSTALL_NO
       ,POL.CUSTOMER_ID CUSTOMER_ID,
       POL.POLICY_ID    POLICY_ID  
       ,POL.CURRENT_TERM    CURRENT_TERM
    FROM ACT_POLICY_INSTALLMENT_DETAILS INSTALL WITH(NOLOCK)      
   INNER JOIN POL_CUSTOMER_POLICY_LIST POL WITH(NOLOCK) ON        
    POL.CUSTOMER_ID = INSTALL.CUSTOMER_ID AND       
    POL.POLICY_ID = INSTALL.POLICY_ID AND       
    POL.POLICY_VERSION_ID = INSTALL.POLICY_VERSION_ID AND    
    POL.CURRENT_TERM = INSTALL.CURRENT_TERM     
    INNER JOIN MNT_LOB_MASTER LOB  WITH(NOLOCK)  ON  LOB.LOB_ID = POL.POLICY_LOB    
    JOIN POL_POLICY_PROCESS PROCESS WITH(NOLOCK) ON 
    PROCESS.CUSTOMER_ID = POL.CUSTOMER_ID 
    AND PROCESS.POLICY_ID = POL.POLICY_ID 
    AND PROCESS.NEW_POLICY_VERSION_ID = POL.POLICY_VERSION_ID 
    AND UPPER(PROCESS.PROCESS_STATUS) <> 'ROLLBACK'
    AND PROCESS.PROCESS_ID in  (25,18) --only NBS/Renewal overdue installment policies sholud be cancelled.itrack # 1209 note(13)
     
    WHERE  DATEADD(DAY,
    --for open policy 
    CASE WHEN POL.TRANSACTION_TYPE =  14560 THEN @MASTER_POLICY_MIN_CAN_DAY ELSE LOB.MIN_CANCELLATION_DAYS  END ,
    INSTALLMENT_EXPIRE_DATE) <=  GETDATE()  
    AND INSTALL.RELEASED_STATUS = 'N'
    GROUP BY POL.CUSTOMER_ID,POL.POLICY_ID,POL.CURRENT_TERM 
    )a
   JOIN POL_CUSTOMER_POLICY_LIST PL WITH(NOLOCK)
    ON
    a.CUSTOMER_ID = PL.CUSTOMER_ID and 
    a.POLICY_ID = PL.POLICY_ID and
    a.CURRENT_TERM = PL.CURRENT_TERM    
    GROUP BY INSTALL_NO,
       a.CUSTOMER_ID ,
       a.POLICY_ID,
       a.CURRENT_TERM
    )
    C    
   INNER JOIN POL_POLICY_PROCESS PPP WITH(NOLOCK) ON
    C.CUSTOMER_ID = PPP.CUSTOMER_ID AND 
    C.POLICY_ID = PPP.POLICY_ID AND 
    C.POLICY_VERSION_ID = PPP.NEW_POLICY_VERSION_ID
    AND UPPER(PPP.PROCESS_STATUS) = 'COMPLETE' AND PPP.PROCESS_ID NOT IN (2,12)    
  
  
 CREATE TABLE #tempPartialPaid(PAID_AMOUNT DECIMAL(25,2),  
CUSTOMER_ID INT,POLICY_ID INT)--,POLICY_VERSION_ID INT)  
  
  
 ---get partial paid amount on to be canceled policys  
 INSERT INTO #tempPartialPaid   
 SELECT ISNULL(SUM(INSTALLMENT_AMOUNT),0),INS.CUSTOMER_ID,INS.POLICY_ID--,POL.POLICY_VERSION_ID  
 FROM ACT_POLICY_INSTALLMENT_DETAILS INS  WITH(NOlOCK)
 JOIN #tempPOLICY POL ON INS.CUSTOMER_ID=POL.CUSTOMER_ID AND   
 INS.POLICY_ID = POL.POLICY_ID AND   
 INS.POLICY_VERSION_ID in (SELECT PC.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST PC WITH(NOLOCK) 
 WHERE PC.CUSTOMER_ID  = POL.CUSTOMER_ID AND PC.POLICY_ID = POL.POLICY_ID
 AND PC.CURRENT_TERM = POL.CURRENT_TERM
 ) 
 --POL.POLICY_VERSION_ID 
 WHERE ISNULL(INS.RELEASED_STATUS,'N') = 'Y'  
 GROUP BY INS.CUSTOMER_ID,INS.POLICY_ID,
 INS.POLICY_VERSION_ID  
   
   
 --get Required values of canceled policys  
    SELECT   
   ISNULL(POL.POLICY_NUMBER,APP_NUMBER) POLICY_NUMBER ,    
   POL.CUSTOMER_ID,POL.POLICY_ID,POL.POLICY_VERSION_ID,POLICY_LOB AS LOB_ID,    
   PROCESS.PROCESS_ID AS BASE_PROCESS,   
   temp.INSTALL_NO AS INSTALLMENT_NO,ISNULL(temp_paid.PAID_AMOUNT,0) AS PARTIAL_PAID,    
   ISNULL(POLICY_EFFECTIVE_DATE,APP_EFFECTIVE_DATE) AS POL_EFFECTIVE_DATE,ISNULL(POLICY_EXPIRATION_DATE,APP_EXPIRATION_DATE) AS POL_EXPIRATION_DATE,    
   LOB.MIN_CANCELLATION_DAYS AS CANCEL_GRACE_PERIOD, 0 AS LATE_FEES,ISNULL(FROM_AS400,'') AS FROM_AS400    
  FROM  POL_CUSTOMER_POLICY_LIST POL WITH(NOLOCK) JOIN  
  #tempPOLICY  temp ON   
  temp.CUSTOMER_ID = POL.CUSTOMER_ID AND   
  temp.POLICY_ID = POL.POLICY_ID AND   
  temp.POLICY_VERSION_ID = POL.POLICY_VERSION_ID  
  JOIN POL_POLICY_PROCESS PROCESS WITH(NOLOCK) ON   
  PROCESS.CUSTOMER_ID = temp.CUSTOMER_ID AND   
  PROCESS.POLICY_ID = temp.POLICY_ID AND   
  PROCESS.NEW_POLICY_VERSION_ID = temp.POLICY_VERSION_ID  
  and PROCESS.PROCESS_STATUS = 'COMPLETE'
  JOIN MNT_LOB_MASTER LOB WITH(NOLOCK) ON   
  POL.POLICY_LOB = LOB.LOB_ID  
  LEFT OUTER JOIN #tempPartialPaid temp_paid ON temp_paid.CUSTOMER_ID = temp.CUSTOMER_ID   
  AND temp_paid.POLICY_ID = temp.POLICY_ID
  WHERE POLICY_LOB NOT IN ('17','18','21','22','34')  --itrack # 1209
	-- changed by Lalit ,june 25 2011. Reference itrack #  - 1209 -  note(12)
	
        --SELECT * FROM  #tempPOLICY  
        --SELECT * FROM  #tempPartialPaid  
    
    DROP TABLE #tempPartialPaid  	
	DROP TABLE #tempPOLICY  
    
END    

GO

