IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_GETPRINTJOBSXML]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_GETPRINTJOBSXML]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


--DROP PROC PROC_GETPRINTJOBSXML
CREATE PROC PROC_GETPRINTJOBSXML
@FROMDATE VARCHAR(12),
@TODATE VARCHAR(12),
@DOCUMENT_CODE VARCHAR(4000),
@FLAG CHAR(1),
@CALLEDFROM VARCHAR(50)
AS
DECLARE @SQLQUERY NVARCHAR(3000)
IF UPPER(@CALLEDFROM)='ONDEMAND'
BEGIN
	IF @FLAG='Y'
		BEGIN
					--print @DOCUMENT_CODE
					set @SQLQUERY='SELECT 
					CASE 
						WHEN PJ.PROCESS_ID =25 THEN 1 
						WHEN PJ.PROCESS_ID =32 THEN 2 
						WHEN PJ.PROCESS_ID =16 THEN 3 
						WHEN PJ.PROCESS_ID =18 THEN 4 
						WHEN PJ.PROCESS_ID =14 THEN 5 
						WHEN PJ.PROCESS_ID IN (12,13,2) THEN 6
						ELSE 7 END AS RANK,
					CASE 
						WHEN UPPER(ENTITY_TYPE) = ''CUSTOMER'' THEN 1 
						WHEN UPPER(ENTITY_TYPE) = ''AGENCY'' THEN 2 
 						WHEN UPPER(ENTITY_TYPE) = ''ADDL_INT'' THEN 3
						WHEN UPPER(ENTITY_TYPE) = ''AUTO_ID_CA'' THEN 4 
						WHEN UPPER(ENTITY_TYPE) = ''PREM_NOTIC'' THEN 5 
						WHEN UPPER(ENTITY_TYPE) = ''CERT_MAIL'' THEN 6 
						END AS ENT_TYPE,
					URL_PATH,PJ.CUSTOMER_ID,DOCUMENT_CODE,PRINT_DATETIME,FILE_NAME,PRINT_JOBS_ID 
					from PRINT_JOBS PJ INNER JOIN POL_CUSTOMER_POLICY_LIST PCPL ON 
					PJ.CUSTOMER_ID=PCPL.CUSTOMER_ID AND PJ.POLICY_ID=PCPL.POLICY_ID AND PJ.POLICY_VERSION_ID=PCPL.POLICY_VERSION_ID 
					INNER JOIN MNT_AGENCY_LIST MAL ON MAL.AGENCY_ID=PCPL.AGENCY_ID  					
					WHERE ISNULL(PRINT_SUCCESSFUL,''N'') != ''Y'' AND PRINT_DATETIME >=''' + @FROMDATE +''' AND PRINT_DATETIME < '''+ @TODATE + ''' 
					AND DOCUMENT_CODE IN ('+ @DOCUMENT_CODE +') AND (LEN(LTRIM(RTRIM(FILE_NAME)))>0)								
					AND PROCESS_ID IS NOT NULL AND NUM_AGENCY_CODE IS NOT NULL ORDER BY MAL.NUM_AGENCY_CODE,ENT_TYPE,RANK,DOCUMENT_CODE'
				print @SQLQUERY
				execute (@SQLQUERY)
							
		END
		ELSE
		BEGIN
					set @SQLQUERY='SELECT 
					CASE	
						WHEN PJ.PROCESS_ID =25 THEN 1 
						WHEN PJ.PROCESS_ID =32 THEN 2 
						WHEN PJ.PROCESS_ID =16 THEN 3 
						WHEN PJ.PROCESS_ID =18 THEN 4 
						WHEN PJ.PROCESS_ID =14 THEN 5 
						WHEN PJ.PROCESS_ID IN (12,13,2) THEN 6
						ELSE 7 END AS RANK,
					CASE 
						WHEN UPPER(ENTITY_TYPE) = ''CUSTOMER'' THEN 1 
						WHEN UPPER(ENTITY_TYPE) = ''AGENCY'' THEN 2 
 						WHEN UPPER(ENTITY_TYPE) = ''ADDL_INT'' THEN 3
						WHEN UPPER(ENTITY_TYPE) = ''AUTO_ID_CA'' THEN 4 
						WHEN UPPER(ENTITY_TYPE) = ''PREM_NOTIC'' THEN 5 
						WHEN UPPER(ENTITY_TYPE) = ''CERT_MAIL'' THEN 6 
						END AS ENT_TYPE,
					URL_PATH,PJ.CUSTOMER_ID,DOCUMENT_CODE,PRINT_DATETIME,FILE_NAME,PRINT_JOBS_ID 
					from PRINT_JOBS PJ INNER JOIN POL_CUSTOMER_POLICY_LIST PCPL ON 
					PJ.CUSTOMER_ID=PCPL.CUSTOMER_ID AND PJ.POLICY_ID=PCPL.POLICY_ID AND PJ.POLICY_VERSION_ID=PCPL.POLICY_VERSION_ID 
					INNER JOIN MNT_AGENCY_LIST MAL ON MAL.AGENCY_ID=PCPL.AGENCY_ID  
					WHERE ISNULL(PRINT_SUCCESSFUL,''N'') != ''Y'' AND ONDEMAND_FLAG=''N'' AND PRINT_DATETIME >='''+@FROMDATE +'''AND PRINT_DATETIME <'''+@TODATE +''' AND DOCUMENT_CODE IN ('+@DOCUMENT_CODE+') 
					AND PROCESS_ID IS NOT NULL AND NUM_AGENCY_CODE IS NOT NULL AND (LEN(LTRIM(RTRIM(FILE_NAME)))>0)		 ORDER BY MAL.NUM_AGENCY_CODE,ENT_TYPE,RANK,DOCUMENT_CODE'
					execute (@SQLQUERY)
		END	

END
ELSE
	BEGIN
			set @SQLQUERY='SELECT 
					CASE 
						WHEN PJ.PROCESS_ID =25 THEN 1 
						WHEN PJ.PROCESS_ID =32 THEN 2 
						WHEN PJ.PROCESS_ID =16 THEN 3 
						WHEN PJ.PROCESS_ID =18 THEN 4 
						WHEN PJ.PROCESS_ID =14 THEN 5 
						WHEN PJ.PROCESS_ID IN (12,13,2) THEN 6
						ELSE 7 END AS RANK,
					CASE 
						WHEN UPPER(ENTITY_TYPE) = ''CUSTOMER'' THEN 1 
						WHEN UPPER(ENTITY_TYPE) = ''AGENCY'' THEN 2 
 						WHEN UPPER(ENTITY_TYPE) = ''ADDL_INT'' THEN 3
						WHEN UPPER(ENTITY_TYPE) = ''AUTO_ID_CA'' THEN 4 
						WHEN UPPER(ENTITY_TYPE) = ''PREM_NOTIC'' THEN 5 
						WHEN UPPER(ENTITY_TYPE) = ''CERT_MAIL'' THEN 6 
						END AS ENT_TYPE,
					URL_PATH,PJ.CUSTOMER_ID,DOCUMENT_CODE,PRINT_DATETIME,FILE_NAME,PRINT_JOBS_ID 
					from PRINT_JOBS PJ INNER JOIN POL_CUSTOMER_POLICY_LIST PCPL ON 
					PJ.CUSTOMER_ID=PCPL.CUSTOMER_ID AND PJ.POLICY_ID=PCPL.POLICY_ID AND PJ.POLICY_VERSION_ID=PCPL.POLICY_VERSION_ID 
					INNER JOIN MNT_AGENCY_LIST MAL ON MAL.AGENCY_ID=PCPL.AGENCY_ID 
					WHERE ISNULL(PRINT_SUCCESSFUL,''N'') != ''Y'' AND ONDEMAND_FLAG=''Y'' 
					AND PROCESS_ID IS NOT NULL AND NUM_AGENCY_CODE IS NOT NULL AND (LEN(LTRIM(RTRIM(FILE_NAME)))>0)		
					ORDER BY MAL.NUM_AGENCY_CODE,ENT_TYPE,RANK,DOCUMENT_CODE'
					PRINT @SQLQUERY
					execute (@SQLQUERY)				
		
	END










GO

