IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetPDFUnderwritingDetails]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetPDFUnderwritingDetails]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Proc_GetPDFUnderwritingDetails]    
(    
 @CUSTOMERID   int,    
 @POLID                int,    
 @VERSIONID   int,    
 @CALLEDFROM  VARCHAR(20)    
)    
AS    
BEGIN    
 IF (@CALLEDFROM='APPLICATION')    
 BEGIN    
  SELECT     
   PARTICIPATE_RACE,CARRY_PASSENGER_FOR_CHARGE,IS_RENTED_OTHERS,    
   (SELECT TOP 1 STATE_NAME FROM APP_WATERCRAFT_INFO WI WITH(NOLOCK) INNER JOIN MNT_COUNTRY_STATE_LIST WITH(NOLOCK) ON STATE_ID=STATE_REG WHERE WI.CUSTOMER_ID=GI.CUSTOMER_ID AND WI.APP_ID=GI.APP_ID AND WI.APP_VERSION_ID=GI.APP_VERSION_ID) STATE_REG,    
   IS_REGISTERED_OTHERS,DRINK_DRUG_VOILATION,IS_BOAT_COOWNED,PRIOR_INSURANCE_CARRIER_DESC PRIOR_INSURANCE,    
   PARTICIPATE_RACE_DESC,CARRY_PASSENGER_FOR_CHARGE_DESC,IS_RENTED_OTHERS_DESC,IS_REGISTERED_OTHERS_DESC,    
   (SELECT CASE WHEN ISNULL(YEAR_AT_CURR_RESI,0) >= 3 THEN 'N' ELSE 'Y' END FROM APP_LIST AL WITH(NOLOCK) WHERE AL.CUSTOMER_ID=GI.CUSTOMER_ID AND AL.APP_ID=GI.APP_ID AND AL.APP_VERSION_ID=GI.APP_VERSION_ID) LIVED_CURR_ADD_3YR,    
   PHY_MENTL_CHALLENGED,DRIVER_SUS_REVOKED,IS_CONVICTED_ACCIDENT,MULTI_POLICY_DISC_APPLIED,ANY_LOSS_THREE_YEARS,COVERAGE_DECLINED,    
   '#1 '+(SELECT ISNULL(YEARS_AT_PREV_ADD,'') FROM APP_LIST AL WITH(NOLOCK) WHERE AL.CUSTOMER_ID=GI.CUSTOMER_ID AND AL.APP_ID=GI.APP_ID AND AL.APP_VERSION_ID=GI.APP_VERSION_ID) YEARS_AT_PREV_ADD,    
    ISNULL(PHY_MENTL_CHALLENGED_DESC,'') PHY_MENTL_CHALLENGED_DESC ,ISNULL(DRIVER_SUS_REVOKED_DESC,'') DRIVER_SUS_REVOKED_DESC,ISNULL(IS_CONVICTED_ACCIDENT_DESC,'') IS_CONVICTED_ACCIDENT_DESC ,  
ISNULL(MULTI_POLICY_DISC_APPLIED_PP_DESC,'') MULTI_POLICY_DISC_APPLIED_PP_DESC, ISNULL(ANY_LOSS_THREE_YEARS_DESC,'') ANY_LOSS_THREE_YEARS_DESC,ISNULL(COVERAGE_DECLINED_DESC,'') COVERAGE_DECLINED_DESC,
   IS_BOAT_USED_IN_ANY_WATER, ISNULL(IS_BOAT_USED_IN_ANY_WATER_DESC,'') IS_BOAT_USED_IN_ANY_WATER_DESC   
  FROM APP_WATERCRAFT_GEN_INFO GI WITH(NOLOCK)   
  WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@POLID AND APP_VERSION_ID=@VERSIONID and gi.is_active='Y'    
    
 END    
 ELSE IF (@CALLEDFROM='POLICY')    
 BEGIN    
  SELECT     
   PARTICIPATE_RACE,CARRY_PASSENGER_FOR_CHARGE,IS_RENTED_OTHERS,    
   (SELECT TOP 1 STATE_NAME FROM POL_WATERCRAFT_INFO WI WITH(NOLOCK) INNER JOIN MNT_COUNTRY_STATE_LIST WITH(NOLOCK) ON STATE_ID=STATE_REG WHERE WI.CUSTOMER_ID=GI.CUSTOMER_ID AND WI.POLICY_ID=GI.POLICY_ID AND WI.POLICY_VERSION_ID=GI.POLICY_VERSION_ID) 
STATE_REG, IS_REGISTERED_OTHERS,DRINK_DRUG_VOILATION,IS_BOAT_COOWNED,PRIOR_INSURANCE_CARRIER_DESC PRIOR_INSURANCE,    
   PARTICIPATE_RACE_DESC,CARRY_PASSENGER_FOR_CHARGE_DESC,IS_RENTED_OTHERS_DESC,IS_REGISTERED_OTHERS_DESC,    
   (SELECT CASE WHEN ISNULL(YEAR_AT_CURR_RESI,0) >= 3 THEN 'N' ELSE 'Y' END FROM POL_CUSTOMER_POLICY_LIST PL WITH(NOLOCK) WHERE PL.CUSTOMER_ID=GI.CUSTOMER_ID AND PL.POLICY_ID=GI.POLICY_ID AND PL.POLICY_VERSION_ID=GI.POLICY_VERSION_ID) LIVED_CURR_ADD_3YR, 


   
   PHY_MENTL_CHALLENGED,DRIVER_SUS_REVOKED,IS_CONVICTED_ACCIDENT,MULTI_POLICY_DISC_APPLIED,ANY_LOSS_THREE_YEARS,COVERAGE_DECLINED,    
   '#1 '+ (SELECT ISNULL(YEARS_AT_PREV_ADD,'') FROM POL_CUSTOMER_POLICY_LIST PL WITH(NOLOCK) WHERE PL.CUSTOMER_ID=GI.CUSTOMER_ID AND PL.POLICY_ID=GI.POLICY_ID AND PL.POLICY_VERSION_ID=GI.POLICY_VERSION_ID) YEARS_AT_PREV_ADD,    
   ISNULL(PHY_MENTL_CHALLENGED_DESC,'') PHY_MENTL_CHALLENGED_DESC ,    
   ISNULL(DRIVER_SUS_REVOKED_DESC,'') DRIVER_SUS_REVOKED_DESC,    
   ISNULL(IS_CONVICTED_ACCIDENT_DESC,'') IS_CONVICTED_ACCIDENT_DESC ,    
   ISNULL(MULTI_POLICY_DISC_APPLIED_PP_DESC,'') MULTI_POLICY_DISC_APPLIED_PP_DESC,     
   ISNULL(ANY_LOSS_THREE_YEARS_DESC,'') ANY_LOSS_THREE_YEARS_DESC,    
   ISNULL(COVERAGE_DECLINED_DESC,'') COVERAGE_DECLINED_DESC,
   IS_BOAT_USED_IN_ANY_WATER, ISNULL(IS_BOAT_USED_IN_ANY_WATER_DESC,'') IS_BOAT_USED_IN_ANY_WATER_DESC       
  FROM POL_WATERCRAFT_GEN_INFO GI WITH(NOLOCK)   
  WHERE CUSTOMER_ID=@CUSTOMERID AND POLICY_ID=@POLID AND POLICY_VERSION_ID=@VERSIONID and gi.is_active='Y'    
 END    
END    
    



GO

