IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_DeleteReconDetail]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_DeleteReconDetail]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


-- drop proc dbo.Proc_DeleteReconDetail
CREATE PROC dbo.Proc_DeleteReconDetail
(
	@RECON_IDEN_ID INT ,
	@ENTITY_TYPE Varchar(20)
)
as
BEGIN 

	IF(@ENTITY_TYPE = 'CUST')
	BEGIN 
		DELETE FROM ACT_CUSTOMER_RECON_GROUP_DETAILS
		WHERE IDEN_ROW_NO = @RECON_IDEN_ID
	END
	IF(@ENTITY_TYPE = 'AGN')
	BEGIN 
	DELETE FROM ACT_AGENCY_RECON_GROUP_DETAILS
		WHERE IDEN_ROW_NO = @RECON_IDEN_ID
	END
	IF(@ENTITY_TYPE = 'VEN')
	BEGIN 
	DELETE FROM ACT_VENDOR_RECON_GROUP_DETAILS
		WHERE IDEN_ROW_NO = @RECON_IDEN_ID
	END


	return 1
END





GO

