IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetUserForDiaryTransfer]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetUserForDiaryTransfer]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO




/*----------------------------------------------------------  
Proc Name       : dbo.Proc_GetUserForDiaryTransfer
Created by      : Anurag Verma  
Date            : 15/03/2007  
Purpose      		: To fetch all the eligible users for this type of diary type ,module  type and lob type
Revison History :  
Used In  : Wolverine  
------------------------------------------------------------  
Date     Review By          Comments  
------   ------------       -------------------------*/  
CREATE PROC dbo.Proc_GetUserForDiaryTransfer   
(  
 @LISTID int=NULL,
 @MODID int output	
-- @ACTIVITY_ID int,
-- @IS_ACTIVE char(1)
)  
AS  
DECLARE @POLICYID INT
DECLARE @POLVERSIONID INT
DECLARE @APPID	INT
DECLARE @APPVERSIONID INT
DECLARE @CUSTOMERID INT
DECLARE @LOBID INT
DECLARE @DIARYTYPEID INT
DECLARE @LISTTYPEID INT
DECLARE @MODULEID INT
SET @LOBID=-1
BEGIN  

	IF @LISTID IS NOT NULL
	BEGIN
		--FETCHING POLICY DETAILS FROM DIARY TABLE	
		SELECT @POLICYID=POLICY_ID,@POLVERSIONID=POLICY_VERSION_ID,@APPID=APP_ID,@APPVERSIONID=APP_VERSION_ID		
		,@CUSTOMERID=CUSTOMER_ID,@MODULEID=MODULE_ID,@LISTTYPEID=LISTTYPEID FROM TODOLIST WHERE LISTID=@LISTID
		
		SELECT @MODID =@MODULEID
		--FETCHING LOB ID FROM APPLICATION OR POLICY	
		IF @POLICYID IS NOT NULL
			BEGIN
				SELECT @LOBID=POLICY_LOB FROM POL_CUSTOMER_POLICY_LIST WHERE CUSTOMER_ID=@CUSTOMERID AND POLICY_ID=@POLICYID 
				AND POLICY_VERSION_ID=@POLVERSIONID
			END
		ELSE IF @APPID IS NOT NULL
			BEGIN
				SELECT @LOBID=APP_LOB FROM APP_LIST WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@APPID 
				AND APP_VERSION_ID=@APPVERSIONID
			END
		

		-- IF LOB IS AVAILABLE
		IF @LOBID<>-1
			BEGIN
				IF EXISTS (SELECT MDD_DIARYTYPE_ID FROM MNT_DIARY_DETAILS WHERE MDD_MODULE_ID=@MODULEID
						AND MDD_DIARYTYPE_ID=@LISTTYPEID AND MDD_LOB_ID=@LOBID)
					SELECT MDD_USERGROUP_ID,MDD_USERLIST_ID FROM MNT_DIARY_DETAILS WHERE MDD_MODULE_ID=@MODULEID
					AND MDD_DIARYTYPE_ID=@LISTTYPEID AND MDD_LOB_ID=@LOBID
				ELSE
					SELECT MDD_USERGROUP_ID,MDD_USERLIST_ID FROM MNT_DIARY_DETAILS WHERE MDD_MODULE_ID=@MODULEID
					AND MDD_DIARYTYPE_ID=-1 AND MDD_LOB_ID=@LOBID
				
			END
		ELSE
			BEGIN
				IF EXISTS (SELECT MDD_DIARYTYPE_ID FROM MNT_DIARY_DETAILS WHERE MDD_MODULE_ID=@MODULEID
						AND MDD_DIARYTYPE_ID=@LISTTYPEID AND MDD_LOB_ID=@LOBID)	
					SELECT MDD_USERGROUP_ID,MDD_USERLIST_ID FROM MNT_DIARY_DETAILS WHERE MDD_MODULE_ID=@MODULEID
					AND MDD_DIARYTYPE_ID=@LISTTYPEID AND MDD_LOB_ID=@LOBID		
				ELSE
					SELECT MDD_USERGROUP_ID,MDD_USERLIST_ID FROM MNT_DIARY_DETAILS WHERE MDD_MODULE_ID=@MODULEID
					AND MDD_DIARYTYPE_ID=-2 AND MDD_LOB_ID=@LOBID				
			END	

	END
END




GO

