IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_SUSEP_STATISTICS_OF_GROUP_LIFE_CLAIMS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_SUSEP_STATISTICS_OF_GROUP_LIFE_CLAIMS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


    
-- =============================================          
-- Author:  <ATUL KUMAR SINGH>          
-- Create date: <2011-05-05>          
-- Description: < Quadro 322 - Statistic of Group Life - Claims >        
-- ===============================================          
          
--  *********************  MODIFICATION HISTORY   *********************          
-- MODIFIED BY : <Shikha Chourasiya>      
-- MODIFIED DATE : <2011-08-17>         
-- DESCRIPTION : ITrack - 1062         
--   ************************************************************          
--  *********************  EXECUTION PATH   *********************          
-- exec [PROC_SUSEP_STATISTICS_OF_GROUP_LIFE_CLAIMS] '2011-07-31','30000130'--'SK000255'--'SK000254','aa000064'--'SH000004'          
--   ************************************************************          
          
-- DROP PROC [PROC_SUSEP_STATISTICS_OF_GROUP_LIFE_CLAIMS]          
CREATE PROCEDURE [dbo].[PROC_SUSEP_STATISTICS_OF_GROUP_LIFE_CLAIMS]              
 @DATETIME DATETIME,              
 @CLAIM_NUMBER NVARCHAR(21)=NULL              
AS              
BEGIN              
 SET NOCOUNT ON;              
              
 --------------------------- SEPRATE DATE AND TIME              
 DECLARE @MONTH VARCHAR(2)              
 DECLARE @YEAR VARCHAR(4)              
 SET @MONTH= DATEPART(MM,@DATETIME)              
               
 DECLARE @LAST_DAY DATETIME              
 SET @LAST_DAY=(SELECT DATEADD(s,-1,DATEADD(mm, DATEDIFF(m,0,@DATETIME)+1,0)))              
              
 SET @YEAR=(SELECT DATEPART(YY,@DATETIME)) ;             
              
 /*    --------------------------- CREATE  TEMPORARY TABLE FOR HOLDING VALUES              
 CREATE TABLE #TEMPTABLE              
 (              
  SEQUENCE_NO INT identity(1,1)              
                
  ,MOVEMENT_TYPE VARCHAR(5)              
  ,CLAIM_TYPE VARCHAR(5)              
  ,INSURENCE_LINE_CODE VARCHAR(4)              
  ,POLICY_EFFECTIVE_DATE DATETIME              
  ,POLICY_EXPIRY_DATE DATETIME              
  ,DATE_OF_LOSS DATETIME              
  ,NOTICE_OF_LOSS_DATE DATETIME              
  ,CLAIM_AMOUNT decimal(11,2)              
  ,FIRST_NOTICE_OF_LOSS DATETIME              
  ,SUSEP_CODE VARCHAR(5)              
  ,NO_OF_REGISTRIES VARCHAR(5)              
  ,POLICY_NUMBER VARCHAR(21)              
  ,POLICY_ID INT              
  ,POLICY_VERSION_ID INT              
  ,CLAIM_ID INT              
  ,CLAIM_NUMBER VARCHAR(20)              
                
 )              
               
 INSERT INTO #TEMPTABLE              
 (               
  MOVEMENT_TYPE               
  ,CLAIM_TYPE              
  ,INSURENCE_LINE_CODE              
  ,POLICY_EFFECTIVE_DATE               
  ,POLICY_EXPIRY_DATE               
  ,DATE_OF_LOSS               
  ,NOTICE_OF_LOSS_DATE               
  ,CLAIM_AMOUNT               
  ,FIRST_NOTICE_OF_LOSS              
  ,SUSEP_CODE              
  ,NO_OF_REGISTRIES               
  ,CLAIM_ID              
  ,CLAIM_NUMBER              
 )    */          
 
 WITH TEMPTABLE
 AS 
 (               
 SELECT               
   MOVEMENT_TYPE              
   ,CLAIM_TYPE              
   ,INSURENCE_LINE_CODE              
   ,POLICY_EFFECTIVE_DATE              
   ,POLICY_EXPIRY_DATE              
   ,[DATE_OF_LOSS]              
   ,NOTICE_OF_LOSS_DATE              
   ,SUM(AMOUNT) AS  CLAIM_AMOUNT           
   ,FIRST_NOTICE_OF_LOSS              
   ,SUSEP_CODE              
   ,COUNT(1)AS NO_OF_REGISTRIES              
   --,CCI_CLAIM_ID              
   --,CLAIM_NUMBER              
    FROM              
   (              
    SELECT   DISTINCT            
    CASE               
	  WHEN VWS.ACTION_ON_PAYMENT IN (165,192,190) THEN '0001'              
		 --0002-reevaluation              
	  WHEN VWS.ACTION_ON_PAYMENT = 166 
				THEN 
					CASE
						WHEN (SELECT SUM(CAR2.PREV_OUTSTANDING)     
								FROM CLM_ACTIVITY_RESERVE CAR2
								--LEFT OUTER  JOIN CLM_PRODUCT_COVERAGES CPC2 ON CAR2.CLAIM_ID = CPC2.CLAIM_ID AND CAR2.COVERAGE_ID = CPC2.CLAIM_COV_ID     
								WHERE CAR2.CLAIM_ID = VWS.CCI_CLAIM_ID AND CAR2.ACTIVITY_ID = VWS.ACTIVITY_ID --AND CPC2.COVERAGE_CODE_ID = VWS.COV_CODE
								) > 0.00     
								AND 
							 (SELECT SUM(CAR2.OUTSTANDING)     
								FROM CLM_ACTIVITY_RESERVE CAR2
								--LEFT OUTER  JOIN CLM_PRODUCT_COVERAGES CPC2 ON CAR2.CLAIM_ID = CPC2.CLAIM_ID AND CAR2.COVERAGE_ID = CPC2.CLAIM_COV_ID     
								WHERE CAR2.CLAIM_ID = VWS.CCI_CLAIM_ID AND CAR2.ACTIVITY_ID = VWS.ACTIVITY_ID --AND CPC2.COVERAGE_CODE_ID = VWS.COV_CODE
								) = 0.00  THEN '0005'  
						WHEN (SELECT SUM(CAR2.PREV_OUTSTANDING)     
								FROM CLM_ACTIVITY_RESERVE CAR2 
								--LEFT OUTER  JOIN CLM_PRODUCT_COVERAGES CPC2 ON CAR2.CLAIM_ID = CPC2.CLAIM_ID AND CAR2.COVERAGE_ID = CPC2.CLAIM_COV_ID     
								WHERE CAR2.CLAIM_ID = VWS.CCI_CLAIM_ID AND CAR2.ACTIVITY_ID = VWS.ACTIVITY_ID --AND CPC2.COVERAGE_CODE_ID = VWS.COV_CODE
								)  = 0.00     
								AND 
							 (SELECT SUM( CAR2.OUTSTANDING)     
								FROM CLM_ACTIVITY_RESERVE CAR2
								--LEFT OUTER  JOIN CLM_PRODUCT_COVERAGES CPC2 ON CAR2.CLAIM_ID = CPC2.CLAIM_ID AND CAR2.COVERAGE_ID = CPC2.CLAIM_COV_ID     
								WHERE CAR2.CLAIM_ID = VWS.CCI_CLAIM_ID AND CAR2.ACTIVITY_ID = VWS.ACTIVITY_ID --AND CPC2.COVERAGE_CODE_ID = VWS.COV_CODE
								) > 0.00 THEN '0006'         
						 ELSE '0002' 
					END                
		--0003-partial settlement                   
		WHEN VWS.ACTION_ON_PAYMENT = 180 THEN '0003' --CASE WHEN ((VWS.PAYMENT_AMOUNT - VWS.OUTSTANDING) = VWS.PAYMENT_AMOUNT) THEN '0004'    
		--ELSE '0003' END             
		--0004-final settlement                   
		WHEN VWS.ACTION_ON_PAYMENT = 181 THEN 
		CASE WHEN (SELECT SUM( CAR2.OUTSTANDING) 
							FROM CLM_ACTIVITY_RESERVE CAR2 
							WHERE CAR2.CLAIM_ID = VWS.CCI_CLAIM_ID  AND CAR2.ACTIVITY_ID = VWS.ACTIVITY_ID) > 0.00 THEN '0003'
		ELSE '0004' END                  
		--0005--Cancellation--CODE FOR CLOSED WITHOUR IDEMNITY(Encerrado sem Indenização)          
		WHEN VWS.ACTION_ON_PAYMENT = 167 THEN '0005'          
		  --0006-reopen                
		WHEN VWS.ACTION_ON_PAYMENT = 168 THEN '0006'                          
	  END AS MOVEMENT_TYPE,              
	CASE		-- DIRECT 
				--6008-Direct - Juridical Indemnification                    
				WHEN (VWS.CO_INSURANCE_TYPE IN ('14547','14548') AND VWS.IS_RISK_COVERAGE='Y' AND VWS.IS_LEGAL='Y'  AND VWS.PARTY_TYPE_ID = 618  AND VWS.SOURCE_PARTY_ID = 1)                      
				THEN '6008' --LOSSEXP                     
				--6020-Direct - Juridical  Expenses                          
				WHEN (VWS.CO_INSURANCE_TYPE IN ('14547','14548') AND VWS.COV_CODE IN ('50017','50018')  AND VWS.IS_LEGAL='Y'  AND VWS.PARTY_TYPE_ID = 618  AND VWS.SOURCE_PARTY_ID = 1)                      
				THEN '6020'   
				-- 5982-Direct - Administrative Indemnification                     
				WHEN (VWS.CO_INSURANCE_TYPE IN ('14547','14548') AND VWS.IS_RISK_COVERAGE='Y'  AND VWS.PARTY_TYPE_ID = 618  AND VWS.SOURCE_PARTY_ID = 1)                      
				THEN '5982'                    
				--5995-Direct - Administrative  Expenses                      
				WHEN (VWS.CO_INSURANCE_TYPE IN ('14547','14548') AND VWS.COV_CODE IN ('50017','50018') AND VWS.PARTY_TYPE_ID = 618 AND VWS.SOURCE_PARTY_ID = 1)                      
				THEN '5995'                    
          
				-- CEDED(FOLLOWER PERCENTAGE) CO INSURENCE    
				-- 6009-Inward Coinsurance - Juridical Indemnification                      
				WHEN (VWS.CO_INSURANCE_TYPE ='14548' AND VWS.IS_RISK_COVERAGE='Y' AND VWS.IS_LEGAL='Y' AND VWS.PARTY_TYPE_ID = 618  AND VWS.SOURCE_PARTY_TYPE_ID = '14549')                      
				THEN '6010'        
				--6021-Inward Coinsurance - Juridical Expenses                      
				WHEN (VWS.CO_INSURANCE_TYPE='14548' AND VWS.COV_CODE IN ('50017','50018') AND VWS.IS_LEGAL='Y'  AND VWS.PARTY_TYPE_ID = 618 AND VWS.SOURCE_PARTY_TYPE_ID = '14549')                      
				THEN '6022'       
				--5983-Inward Coinsurance - Administrative Indemnification                      
				WHEN (VWS.CO_INSURANCE_TYPE ='14548' AND VWS.IS_RISK_COVERAGE='Y' AND VWS.PARTY_TYPE_ID = 618 AND VWS.SOURCE_PARTY_TYPE_ID = '14549') --AND VWS.ACTION_ON_PAYMENT in (165,166,180,190,181,240,192,167,168))                      
				THEN '5984'                               
				--5996-Inward Coinsurance - Administrative  Expenses                      
				WHEN (VWS.CO_INSURANCE_TYPE ='14548' AND VWS.COV_CODE IN ('50017','50018') AND VWS.PARTY_TYPE_ID = 618 AND VWS.SOURCE_PARTY_TYPE_ID = '14549')                      
				THEN '5997'                           
				                 
				-- ACCEPTED CO INSURENCE
				-- 6010-Cession Coinsurance - Juridical Indemnification                               
				WHEN (VWS.CO_INSURANCE_TYPE ='14549' AND VWS.IS_RISK_COVERAGE='Y' AND VWS.IS_LEGAL='Y'  AND VWS.PARTY_TYPE_ID = 618 AND VWS.SOURCE_PARTY_TYPE_ID = '14549')                      
				THEN '6009'                    
				--6022-Cession Coinsurance - Juridical Expenses                              
				WHEN (VWS.CO_INSURANCE_TYPE='14549' AND VWS.COV_CODE IN ('50017','50018')  AND VWS.IS_LEGAL='Y' AND VWS.PARTY_TYPE_ID = 618 AND VWS.SOURCE_PARTY_TYPE_ID = '14549')                      
				THEN '6021'                        
				--5984-Cession Coinsurance - Administrative Indemnification                      
				WHEN (VWS.CO_INSURANCE_TYPE ='14549' AND VWS.IS_RISK_COVERAGE='Y'  AND VWS.PARTY_TYPE_ID = 618 AND VWS.SOURCE_PARTY_TYPE_ID = '14549')--AND CA.ACTION_ON_PAYMENT in (165,166,180,190,181,240,192,167,168))                      
				THEN '5983'                     
				--5597-Cession Coinsurance - Administrative  Expenses                   
				WHEN (VWS.CO_INSURANCE_TYPE ='14549' AND VWS.COV_CODE IN ('50017','50018')  AND VWS.PARTY_TYPE_ID = 618 AND VWS.SOURCE_PARTY_TYPE_ID = '14549')                      
				THEN '5996'                     
				
				--   REINSURENCE                      
				--Local Reinsurer 
				--6011-Cession Local Reinsurer  - Juridical Indemnification                      
				WHEN (VWS.SOURCE_PARTY_ID IS NOT NULL  AND VWS.PARTY_TYPE_ID = 619 AND  VWS.IS_RISK_COVERAGE='Y' AND VWS.IS_LEGAL='Y')                      
				THEN '6013' 
				WHEN (VWS.SOURCE_PARTY_ID IS NOT NULL  AND VWS.PARTY_TYPE_ID = 619 AND  VWS.COV_CODE IN ('50019','50021') AND VWS.IS_LEGAL='Y')                      
				THEN '6013'                       
				--6023-Cession Local Reinsurer - Juridical Expenses                      
				WHEN (VWS.SOURCE_PARTY_ID IS NOT NULL   AND VWS.PARTY_TYPE_ID = 619 AND VWS.IS_LEGAL='Y' AND VWS.COV_CODE IN ('50017','50018','50020','50022'))                      
				THEN '6025'                      
				--5985-Cession Local Reinsurer  - Administrative Indemnification                       
				WHEN (VWS.SOURCE_PARTY_ID IS NOT NULL  AND VWS.PARTY_TYPE_ID = 619 AND VWS.IS_RISK_COVERAGE='Y')                      
				THEN '5985'   
				WHEN (VWS.SOURCE_PARTY_ID IS NOT NULL  AND VWS.PARTY_TYPE_ID = 619 AND  VWS.COV_CODE IN ('50019','50021'))                      
				THEN '5985'                       
				--5998-Cession Local Reinsurer - Administrative  Expenses                      
				WHEN (VWS.SOURCE_PARTY_ID IS NOT NULL  AND VWS.PARTY_TYPE_ID = 619 AND VWS.COV_CODE IN ('50017','50018','50020','50022'))--AND CPC.IS_RISK_COVERAGE!='Y' AND CA.IS_LEGAL='Y')                      
				THEN '5998'
     
			   --FOR SALVAGE AND SUBROGATION  
			   --Salvage and reimbursed - Juridical Indemnification  
			   WHEN (VWS.COV_CODE IN ('50019','50021') AND IS_LEGAL = 'Y' AND VWS.PARTY_TYPE_ID = 618)   
			   THEN '6014'  
			   --Salvage and reimbursed - Juridical Expenses  
			   WHEN (VWS.COV_CODE IN ('50020','50022') AND IS_LEGAL = 'Y' AND VWS.PARTY_TYPE_ID = 618)   
			   THEN '6026'  
			   ---Salvage and reimbursed - Administrative Indemnification  
			   WHEN (VWS.COV_CODE IN ('50019','50021') AND VWS.PARTY_TYPE_ID = 618)   
			   THEN '5988'  
			   ---Salvage and reimbursed - Administrative Expenses  
			   WHEN (VWS.COV_CODE IN ('50020','50022') AND VWS.PARTY_TYPE_ID = 618)   
			   THEN '6001'			                   
    END  AS CLAIM_TYPE,              
   VWS.SUSEP_LOB_CODE AS INSURENCE_LINE_CODE,              
   VWS.EFFECTIVE_DATETIME AS POLICY_EFFECTIVE_DATE,              
   VWS.POLICY_EXPIRATION_DATE AS POLICY_EXPIRY_DATE,              
   VWS.LOSS_DATE AS [DATE_OF_LOSS],              
   VWS.CREATED_DATETIME AS NOTICE_OF_LOSS_DATE,     
   CASE 
		WHEN VWS.PARTY_TYPE_ID = 618 AND VWS.SOURCE_PARTY_ID = (SELECT SYS_CARRIER_ID FROM MNT_SYSTEM_PARAMS) 
		THEN 
			CASE 
					WHEN VWS.IS_RISK_COVERAGE = 'Y' 
					THEN
						(CASE WHEN VWS.ACTION_ON_PAYMENT = 165 AND VWS.IS_RISK_COVERAGE = 'Y' THEN TEMP.RESERVE_AMT - (TEMP.RI_RESERVE_AMT + TEMP.CO_RESERVE_AMT) --(VWS.OUTSTANDING - (VWS.RI_RESERVE + VWS.CO_RESERVE))       
								WHEN VWS.ACTION_ON_PAYMENT IN (166,167) THEN VWS.OUTSTANDING_TRAN - (VWS.RI_RESERVE_TRAN + VWS.CO_RESERVE_TRAN)      
								WHEN VWS.ACTION_ON_PAYMENT IN (180,181) 
								THEN VWS.PAYMENT_AMOUNT - ISNULL((SELECT SUM(CAR1.PAYMENT_AMT) 
															FROM CLM_ACTIVITY CA1 
															LEFT JOIN CLM_ACTIVITY_CO_RI_BREAKDOWN CAR1  
															ON CA1.CLAIM_ID = CAR1.CLAIM_ID AND CA1.ACTIVITY_ID = CAR1.ACTIVITY_ID AND CA1.ACTION_ON_PAYMENT IN (180,181) 
															WHERE CAR1.CLAIM_ID = VWS.CCI_CLAIM_ID AND CAR1.ACTIVITY_ID = VWS.ACTIVITY_ID ),0)
								WHEN VWS.ACTION_ON_PAYMENT IN (190,192) THEN VWS.RECOVERY_AMOUNT       
								WHEN VWS.ACTION_ON_PAYMENT = 168 THEN (VWS.OUTSTANDING - (VWS.RI_RESERVE + VWS.CO_RESERVE))      
							END) 
					WHEN  VWS.COV_CODE IN ('50017','50018') 
					THEN
						(CASE WHEN VWS.ACTION_ON_PAYMENT = 165 AND VWS.IS_RISK_COVERAGE = 'N' THEN TEMP1.RESERVE_AMT - (TEMP1.RI_RESERVE_AMT + TEMP1.CO_RESERVE_AMT) --(VWS.OUTSTANDING - (VWS.RI_RESERVE + VWS.CO_RESERVE))       
								WHEN VWS.ACTION_ON_PAYMENT IN (166,167) THEN VWS.OUTSTANDING_TRAN - (VWS.RI_RESERVE_TRAN + VWS.CO_RESERVE_TRAN)      
								WHEN VWS.ACTION_ON_PAYMENT IN (180,181) 
								THEN VWS.PAYMENT_AMOUNT - ISNULL((SELECT SUM(CAR1.PAYMENT_AMT) 
															FROM CLM_ACTIVITY CA1 
															LEFT JOIN CLM_ACTIVITY_CO_RI_BREAKDOWN CAR1 
															ON CA1.CLAIM_ID = CAR1.CLAIM_ID AND CA1.ACTIVITY_ID = CAR1.ACTIVITY_ID AND CA1.ACTION_ON_PAYMENT IN (180,181) 
															WHERE CAR1.CLAIM_ID = VWS.CCI_CLAIM_ID AND CAR1.ACTIVITY_ID = VWS.ACTIVITY_ID ),0)
								WHEN VWS.ACTION_ON_PAYMENT IN (190,192) THEN VWS.RECOVERY_AMOUNT       
								WHEN VWS.ACTION_ON_PAYMENT = 168 THEN (VWS.OUTSTANDING - (VWS.RI_RESERVE + VWS.CO_RESERVE))      
							END)	
  					WHEN  VWS.COV_CODE IN ('50019','50021') 
					THEN
						(CASE WHEN VWS.ACTION_ON_PAYMENT = 165 AND VWS.IS_RISK_COVERAGE = 'N' THEN TEMP2.RESERVE_AMT -- (TEMP2.RI_RESERVE_AMT + TEMP2.CO_RESERVE_AMT) --(VWS.OUTSTANDING - (VWS.RI_RESERVE + VWS.CO_RESERVE))       
								WHEN VWS.ACTION_ON_PAYMENT IN (166,167) THEN VWS.OUTSTANDING_TRAN -- (VWS.RI_RESERVE_TRAN + VWS.CO_RESERVE_TRAN)      
								WHEN VWS.ACTION_ON_PAYMENT IN (180,181) 
								THEN VWS.PAYMENT_AMOUNT -- ISNULL((SELECT SUM(CAR1.PAYMENT_AMT) 
															--FROM CLM_ACTIVITY CA1 
															--LEFT JOIN CLM_ACTIVITY_CO_RI_BREAKDOWN CAR1 
															--ON CA1.CLAIM_ID = CAR1.CLAIM_ID AND CA1.ACTIVITY_ID = CAR1.ACTIVITY_ID AND CA1.ACTION_ON_PAYMENT IN (180,181) 
															--WHERE CAR1.CLAIM_ID = VWS.CCI_CLAIM_ID AND CAR1.ACTIVITY_ID = VWS.ACTIVITY_ID ),0)
								WHEN VWS.ACTION_ON_PAYMENT IN (190,192) THEN VWS.RECOVERY_AMOUNT       
								WHEN VWS.ACTION_ON_PAYMENT = 168 THEN (VWS.OUTSTANDING - (VWS.RI_RESERVE + VWS.CO_RESERVE))      
							END)
					WHEN  VWS.COV_CODE IN ('50020','50022') 
					THEN
						(CASE WHEN VWS.ACTION_ON_PAYMENT = 165 AND VWS.IS_RISK_COVERAGE = 'N' THEN TEMP3.RESERVE_AMT -- (TEMP3.RI_RESERVE_AMT + TEMP3.CO_RESERVE_AMT) --(VWS.OUTSTANDING - (VWS.RI_RESERVE + VWS.CO_RESERVE))       
								WHEN VWS.ACTION_ON_PAYMENT IN (166,167) THEN VWS.OUTSTANDING_TRAN -- (VWS.RI_RESERVE_TRAN + VWS.CO_RESERVE_TRAN)      
								WHEN VWS.ACTION_ON_PAYMENT IN (180,181) 
								THEN VWS.PAYMENT_AMOUNT -- ISNULL((SELECT SUM(CAR1.PAYMENT_AMT) 
															--FROM CLM_ACTIVITY CA1 
															--LEFT JOIN CLM_ACTIVITY_CO_RI_BREAKDOWN CAR1 
															--ON CA1.CLAIM_ID = CAR1.CLAIM_ID AND CA1.ACTIVITY_ID = CAR1.ACTIVITY_ID AND CA1.ACTION_ON_PAYMENT IN (180,181) 
															--WHERE CAR1.CLAIM_ID = VWS.CCI_CLAIM_ID AND CAR1.ACTIVITY_ID = VWS.ACTIVITY_ID ),0)
								WHEN VWS.ACTION_ON_PAYMENT IN (190,192) THEN VWS.RECOVERY_AMOUNT       
								WHEN VWS.ACTION_ON_PAYMENT = 168 THEN (VWS.OUTSTANDING - (VWS.RI_RESERVE + VWS.CO_RESERVE))      
							END)	 
				END    
			WHEN VWS.PARTY_TYPE_ID = 619 
			THEN
				CASE 
					WHEN VWS.IS_RISK_COVERAGE = 'Y' 
					THEN    
						(CASE WHEN VWS.ACTION_ON_PAYMENT = 165 THEN TEMP.RI_RESERVE_AMT  --VWS.RI_RESERVE       
								WHEN VWS.ACTION_ON_PAYMENT IN (166,167) THEN VWS.RI_RESERVE_TRAN       
								WHEN VWS.ACTION_ON_PAYMENT IN (180,181) AND VWS.COMP_TYPE = 'RI' 
								THEN (SELECT SUM(PAYMENT_AMT) FROM CLM_ACTIVITY_CO_RI_BREAKDOWN CACRB WHERE CACRB.COMP_TYPE = 'RI' AND CACRB.CLAIM_ID = VWS.CCI_CLAIM_ID AND CACRB.ACTIVITY_ID = VWS.ACTIVITY_ID)--VWS.CO_RI_PEYMENT_AMT       
								WHEN VWS.ACTION_ON_PAYMENT IN (190,192) AND VWS.COMP_TYPE = 'RI'  THEN VWS.CO_RI_RECOVERY_AMT      
								WHEN VWS.ACTION_ON_PAYMENT = 168 THEN VWS.RI_RESERVE      
							END)      
				    WHEN  VWS.COV_CODE IN ('50017','50018') 
					THEN
						(CASE WHEN VWS.ACTION_ON_PAYMENT = 165 THEN TEMP1.RI_RESERVE_AMT  --VWS.RI_RESERVE       
								WHEN VWS.ACTION_ON_PAYMENT IN (166,167) THEN VWS.RI_RESERVE_TRAN       
								WHEN VWS.ACTION_ON_PAYMENT IN (180,181) AND VWS.COMP_TYPE = 'RI' 
								THEN (SELECT SUM(PAYMENT_AMT) FROM CLM_ACTIVITY_CO_RI_BREAKDOWN CACRB WHERE CACRB.COMP_TYPE = 'RI' AND CACRB.CLAIM_ID = VWS.CCI_CLAIM_ID AND CACRB.ACTIVITY_ID = VWS.ACTIVITY_ID)--VWS.CO_RI_PEYMENT_AMT       
								WHEN VWS.ACTION_ON_PAYMENT IN (190,192) AND VWS.COMP_TYPE = 'RI'  THEN VWS.CO_RI_RECOVERY_AMT      
								WHEN VWS.ACTION_ON_PAYMENT = 168 THEN VWS.RI_RESERVE      
							END) 	 
					END		 
			WHEN VWS.PARTY_TYPE_ID = 618 
			THEN 
				CASE 
					WHEN VWS.IS_RISK_COVERAGE = 'Y' 
					THEN    
						(CASE WHEN VWS.ACTION_ON_PAYMENT = 165 THEN TEMP.CO_RESERVE_AMT  --VWS.CO_RESERVE       
								WHEN VWS.ACTION_ON_PAYMENT IN (166,167) THEN VWS.CO_RESERVE_TRAN       
								WHEN VWS.ACTION_ON_PAYMENT IN (180,181) AND VWS.COMP_TYPE = 'CO' 
								THEN (SELECT SUM(PAYMENT_AMT) FROM CLM_ACTIVITY_CO_RI_BREAKDOWN CACRB WHERE CACRB.COMP_TYPE = 'CO' AND CACRB.CLAIM_ID = VWS.CCI_CLAIM_ID AND CACRB.ACTIVITY_ID = VWS.ACTIVITY_ID)        
								WHEN VWS.ACTION_ON_PAYMENT IN (190,192) AND VWS.COMP_TYPE = 'CO' THEN VWS.CO_RI_RECOVERY_AMT       
								WHEN VWS.ACTION_ON_PAYMENT = 168 THEN VWS.CO_RESERVE      
							END) 
					WHEN  VWS.COV_CODE IN ('50017','50018') 
					THEN
					(CASE WHEN VWS.ACTION_ON_PAYMENT = 165 THEN TEMP1.CO_RESERVE_AMT  --VWS.CO_RESERVE       
								WHEN VWS.ACTION_ON_PAYMENT IN (166,167) THEN VWS.CO_RESERVE_TRAN       
								WHEN VWS.ACTION_ON_PAYMENT IN (180,181) AND VWS.COMP_TYPE = 'CO' 
								THEN (SELECT SUM(PAYMENT_AMT) FROM CLM_ACTIVITY_CO_RI_BREAKDOWN CACRB WHERE CACRB.COMP_TYPE = 'CO' AND CACRB.CLAIM_ID = VWS.CCI_CLAIM_ID AND CACRB.ACTIVITY_ID = VWS.ACTIVITY_ID)--VWS.CO_RI_PEYMENT_AMT       
								WHEN VWS.ACTION_ON_PAYMENT IN (190,192) AND VWS.COMP_TYPE = 'CO' THEN VWS.CO_RI_RECOVERY_AMT       
								WHEN VWS.ACTION_ON_PAYMENT = 168 THEN VWS.CO_RESERVE      
							END)	 	 
					END	 	      
		   END AS AMOUNT,         
     VWS.FIRST_NOTICE_OF_LOSS AS FIRST_NOTICE_OF_LOSS,              
     CASE WHEN (VWS.CO_INSURANCE_TYPE = '14547'  AND VWS.PARTY_TYPE_ID = 618) THEN '05045' WHEN (VWS.CO_INSURANCE_TYPE = '14549'     
     AND VWS.SOURCE_PARTY_TYPE_ID = '14549') THEN (SELECT ISNULL(SUSEP_NUM,'') FROM MNT_REIN_COMAPANY_LIST MRCL INNER JOIN CLM_PARTIES CP  ON VWS.CCI_CLAIM_ID = CP.CLAIM_ID AND CP.PARTY_TYPE_ID = 618     
     AND CP.SOURCE_PARTY_TYPE_ID = '14548'  AND MRCL.REIN_COMAPANY_ID=CP.SOURCE_PARTY_ID)         
     ELSE ISNULL(VWS.MRCL_SUSEP_NUM ,'05045')              
     END AS SUSEP_CODE,           
     VWS.CCI_CLAIM_ID,               
     VWS.CLAIM_NUMBER          
 FROM VW_SUSEP_REPORT_270_271_322_323 (NOLOCK) AS VWS 
 LEFT OUTER JOIN (SELECT SUM(CAR.OUTSTANDING) AS RESERVE_AMT,SUM(CAR.RI_RESERVE) AS RI_RESERVE_AMT,SUM(CAR.CO_RESERVE) AS CO_RESERVE_AMT,CA.ACTION_ON_PAYMENT,CA.ACTIVITY_ID,CA.CLAIM_ID FROM CLM_ACTIVITY CA 
					LEFT OUTER JOIN CLM_ACTIVITY_RESERVE CAR ON CA.CLAIM_ID = CAR.CLAIM_ID AND CA.ACTIVITY_ID = CAR.ACTIVITY_ID 
					LEFT OUTER JOIN CLM_PRODUCT_COVERAGES CPC ON CAR.CLAIM_ID = CPC.CLAIM_ID AND CAR.COVERAGE_ID = CPC.CLAIM_COV_ID 
					WHERE CA.ACTIVITY_STATUS = 11801 AND CPC.IS_RISK_COVERAGE = 'Y'
					GROUP BY CA.ACTION_ON_PAYMENT,CA.ACTIVITY_ID,CA.CLAIM_ID) TEMP ON  TEMP.CLAIM_ID = VWS.CCI_CLAIM_ID AND TEMP.ACTIVITY_ID = VWS.ACTIVITY_ID          
 LEFT OUTER JOIN (SELECT SUM(CAR.OUTSTANDING) AS RESERVE_AMT,SUM(CAR.RI_RESERVE) AS RI_RESERVE_AMT,SUM(CAR.CO_RESERVE) AS CO_RESERVE_AMT,CA.ACTION_ON_PAYMENT,CA.ACTIVITY_ID,CA.CLAIM_ID FROM CLM_ACTIVITY CA 
					LEFT OUTER JOIN CLM_ACTIVITY_RESERVE CAR ON CA.CLAIM_ID = CAR.CLAIM_ID AND CA.ACTIVITY_ID = CAR.ACTIVITY_ID 
					LEFT OUTER JOIN CLM_PRODUCT_COVERAGES CPC ON CAR.CLAIM_ID = CPC.CLAIM_ID AND CAR.COVERAGE_ID = CPC.CLAIM_COV_ID 
					WHERE CA.ACTIVITY_STATUS = 11801 AND CPC.IS_RISK_COVERAGE = 'N'
					GROUP BY CA.ACTION_ON_PAYMENT,CA.ACTIVITY_ID,CA.CLAIM_ID) TEMP1 ON  TEMP1.CLAIM_ID = VWS.CCI_CLAIM_ID AND TEMP1.ACTIVITY_ID = VWS.ACTIVITY_ID
 LEFT OUTER JOIN (SELECT SUM(CAR.OUTSTANDING) AS RESERVE_AMT,SUM(CAR.RI_RESERVE) AS RI_RESERVE_AMT,SUM(CAR.CO_RESERVE) AS CO_RESERVE_AMT,CA.ACTION_ON_PAYMENT,CA.ACTIVITY_ID,CA.CLAIM_ID FROM CLM_ACTIVITY CA 
					LEFT OUTER JOIN CLM_ACTIVITY_RESERVE CAR ON CA.CLAIM_ID = CAR.CLAIM_ID AND CA.ACTIVITY_ID = CAR.ACTIVITY_ID 
					LEFT OUTER JOIN CLM_PRODUCT_COVERAGES CPC ON CAR.CLAIM_ID = CPC.CLAIM_ID AND CAR.COVERAGE_ID = CPC.CLAIM_COV_ID 
					WHERE CA.ACTIVITY_STATUS = 11801 AND CPC.COVERAGE_CODE_ID IN ('50019','50021')
					GROUP BY CA.ACTION_ON_PAYMENT,CA.ACTIVITY_ID,CA.CLAIM_ID) TEMP2 ON  TEMP2.CLAIM_ID = VWS.CCI_CLAIM_ID AND TEMP2.ACTIVITY_ID = VWS.ACTIVITY_ID 						
 LEFT OUTER JOIN (SELECT SUM(CAR.OUTSTANDING) AS RESERVE_AMT,SUM(CAR.RI_RESERVE) AS RI_RESERVE_AMT,SUM(CAR.CO_RESERVE) AS CO_RESERVE_AMT,CA.ACTION_ON_PAYMENT,CA.ACTIVITY_ID,CA.CLAIM_ID FROM CLM_ACTIVITY CA 
					LEFT OUTER JOIN CLM_ACTIVITY_RESERVE CAR ON CA.CLAIM_ID = CAR.CLAIM_ID AND CA.ACTIVITY_ID = CAR.ACTIVITY_ID 
					LEFT OUTER JOIN CLM_PRODUCT_COVERAGES CPC ON CAR.CLAIM_ID = CPC.CLAIM_ID AND CAR.COVERAGE_ID = CPC.CLAIM_COV_ID 
					WHERE CA.ACTIVITY_STATUS = 11801 AND CPC.COVERAGE_CODE_ID IN ('50020','50022')
					GROUP BY CA.ACTION_ON_PAYMENT,CA.ACTIVITY_ID,CA.CLAIM_ID) TEMP3 ON  TEMP3.CLAIM_ID = VWS.CCI_CLAIM_ID AND TEMP3.ACTIVITY_ID = VWS.ACTIVITY_ID	            
 WHERE VWS.CA_IS_ACTIVE='Y'
	AND VWS.CLAIM_STATUS = '11739'       
	AND CONVERT(varchar(6),VWS.CREATED_DATETIME,112)=CONVERT(varchar(6),@DATETIME,112)              
    AND (@CLAIM_NUMBER IS NULL OR VWS.CLAIM_NUMBER=@CLAIM_NUMBER)              
    AND VWS.SUSEP_LOB_CODE   LIKE '09%'            
    AND (CASE WHEN VWS.ACTION_ON_PAYMENT IN(165,166,167,168) THEN VWS.OUTSTANDING_TRAN-- FOR ACTIVITY CREAION, CHANGE RESERVE, REOPEN RESERVE        
             WHEN VWS.ACTION_ON_PAYMENT IN(180,181)     THEN VWS.PAYMENT_AMOUNT   -- FOR PAYMENT ACTIVITY        
     WHEN VWS.ACTION_ON_PAYMENT IN(190,192)     THEN VWS.RECOVERY_AMOUNT  -- FOR RECOVERY ACTIVITY        
     END)<>0        
  AND ISNULL(VWS.OFFCIAL_CLAIM_NUMBER,'')<>'' 
  AND CASE WHEN CO_INSURANCE_TYPE='14549' THEN isnull(VWS.SOURCE_PARTY_TYPE_ID,'0') 
	  ELSE 1
	  END
	  <> 
	  CASE WHEN CO_INSURANCE_TYPE='14549' THEN '14548' 
	  ELSE 2
      END   
  --AND isnull(VWS.SOURCE_PARTY_TYPE_ID,'0') <>     
  --case when CO_INSURANCE_TYPE='14549' then '14548'     
  --     when CO_INSURANCE_TYPE<>'14549' then isnull(VWS.SOURCE_PARTY_TYPE_ID,'0')     
  --end    
 ) TBL  
 WHERE AMOUNT IS NOT NULL      
 GROUP BY               
   MOVEMENT_TYPE              
   ,CLAIM_TYPE              
   ,INSURENCE_LINE_CODE              
   ,POLICY_EFFECTIVE_DATE              
   ,POLICY_EXPIRY_DATE              
   ,[DATE_OF_LOSS]              
   ,NOTICE_OF_LOSS_DATE              
   ,FIRST_NOTICE_OF_LOSS              
   ,SUSEP_CODE              
   ,CCI_CLAIM_ID              
   ,CLAIM_NUMBER              
  ),
              
  FINALTABLE AS 
  (             
  SELECT --RIGHT('000000' +CONVERT(VARCHAR,SEQUENCE_NO),6) AS [ESRSEQ]  
  RIGHT('000000' +CONVERT(VARCHAR,ROW_NUMBER() OVER( ORDER BY  CLAIM_TYPE)),6) AS [ESLSEQ]            
  ,'05045' AS [ENTCODIGO]              
  ,CONVERT(VARCHAR(8),@LAST_DAY,112) AS [MRFMESANO]              
  ,322 AS [QUAID]              
  ,MOVEMENT_TYPE AS [TPMOID]              
  ,ISNULL(CLAIM_TYPE,'') AS [CMPID]               
  ,INSURENCE_LINE_CODE  AS [RAMCODIGO]              
  ,CONVERT(VARCHAR,POLICY_EFFECTIVE_DATE,112) AS [ESRDATAINICIO]              
  ,CONVERT(VARCHAR,POLICY_EXPIRY_DATE,112) AS [ESRDATAFIM]              
  ,CONVERT(VARCHAR,DATE_OF_LOSS,112) AS [ESRDATAOCORR]                   
  ,CONVERT(VARCHAR,NOTICE_OF_LOSS_DATE,112) AS [ESRDATAVISO]        
  ,ISNULL(CASE WHEN CLAIM_AMOUNT >=0.00              
   THEN              
     REPLACE(RIGHT('0000000000'+CONVERT(VARCHAR(16),CLAIM_AMOUNT),13),'.',',')              
    ELSE               
     REPLACE('-'+RIGHT('0000000000' +SUBSTRING(CONVERT(VARCHAR,CLAIM_AMOUNT),2,LEN(CLAIM_AMOUNT)),12),'.',',')    
	END,'0000000000.00') AS [ESRVALORMOV]              
  ,CONVERT(VARCHAR,FIRST_NOTICE_OF_LOSS,112) AS [ESRDATAVISO_2]              
  ,RIGHT('00000'+SUSEP_CODE,5) AS ESRCODCESS              
  ,RIGHT('0000'+NO_OF_REGISTRIES,4)AS ESRFREQ              
  FROM TEMPTABLE --(NOLOCK)    
   WHERE  CLAIM_AMOUNT <> 0.00           
  )           
--DROP TABLE #TEMPTABLE  
 SELECT * FROM FINALTABLE     
END          
GO

