IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProcAdjustAgencyStatement]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ProcAdjustAgencyStatement]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran 
--drop proc dbo.ProcAdjustAgencyStatement    
--go 

/*----------------------------------------------------------------------        
Created By		: Ravindra    
Date			: 06-11-2008    
Purpose			: Adjusting commision amount for rounding issue
-----------------------------------------------------------------------*/     
--drop proc dbo.ProcAdjustAgencyStatement    
CREATE PROC [dbo].[ProcAdjustAgencyStatement]          
(        
 @MONTH  INT,        
 @YEAR   INT
)        
AS        
BEGIN   

CREATE TABLE #FULLY_PAID_POLICIES 
(
	IDEN_COL		Int Identity (1,1) ,
	CUSTOMER_ID		Int, 
	POLICY_ID		Int, 
	CURRENT_TERM	Int
)

INSERT INTO  #FULLY_PAID_POLICIES (CUSTOMER_ID , POLICY_ID , CURRENT_TERM )	
SELECT CPL.CUSTOMER_ID , CPL.POLICY_ID , CPL.CURRENT_TERM 
FROM ACT_CUSTOMER_OPEN_ITEMS COI
INNER JOIN POL_CUSTOMER_POLICY_LIST CPL
ON CPL.CUSTOMER_ID = COI.CUSTOMER_ID 
AND CPL.POLICY_ID = COI.POLICY_ID  
AND CPL.POLICY_VERSION_ID = COI.POLICY_VERSION_ID 
WHERE ISNULL(COI.ITEM_TRAN_CODE_TYPE, '') <> 'FEES' 
AND UPDATED_FROM = 'P'           
AND ISNULL(COI.ITEM_TRAN_CODE,'') <> 'DISC'  
AND COI.SOURCE_ROW_ID <> 0 
--AND COI.CUSTOMER_ID IN (
--						SELECT AGN1.CUSTOMER_ID FROM ACT_AGENCY_STATEMENT_DETAILED AGN1
--						WHERE AGN1.MONTH_NUMBER  = @MONTH AND AGN1.MONTH_YEAR = @YEAR AND AGN1.BILL_TYPE = 'DB'
--						)
--AND COI.POLICY_ID IN (
--						SELECT AGN1.POLICY_ID FROM ACT_AGENCY_STATEMENT_DETAILED AGN1
--						WHERE AGN1.MONTH_NUMBER  = @MONTH AND AGN1.MONTH_YEAR = @YEAR AND AGN1.BILL_TYPE = 'DB'
--						)


AND EXISTS ( 
			SELECT AGN.CUSTOMER_ID FROM ACT_AGENCY_STATEMENT_DETAILED AGN
			WHERE AGN.MONTH_NUMBER  = @MONTH AND AGN.MONTH_YEAR = @YEAR AND AGN.BILL_TYPE = 'DB'
			AND AGN.CUSTOMER_ID = COI.CUSTOMER_ID AND AGN.POLICY_ID = COI.POLICY_ID 
			AND AGN.POLICY_VERSION_ID IN 
				(
					SELECT CPLIN.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPLIN
					WHERE CPLIN.CUSTOMER_ID = CPL.CUSTOMER_ID AND CPLIN.POLICY_ID = CPL.POLICY_ID
					AND CPLIN.CURRENT_TERM = CPL.CURRENT_TERM 
				)
			)

GROUP BY CPL.CUSTOMER_ID , CPL.POLICY_ID , CPL.CURRENT_TERM 
HAVING SUM(ISNULL(COI.TOTAL_DUE , 0) - ISNULL(COI.TOTAL_PAID,0) )  =0 

DECLARE @IDEN_COL	Int ,
		@COMMISSION_WRITTEN		Decimal(18,2) , 
		@COMMISSION_WOFF		Decimal(18,2) , 
		@COMMISSION_PROCESSED	Decimal(18,2) ,
		@AMT_TO_ADJUST			Decimal(18,2) ,
		@ROW_ID					Int , 
		@CUSTOMER_ID			Int , 
		@POLICY_ID				Int , 
		@CURRENT_TERM			Int 

SET @IDEN_COL = 1 
WHILE 1=1 
BEGIN 
	IF NOT EXISTS (SELECT IDEN_COL FROM #FULLY_PAID_POLICIES WHERE IDEN_COL = @IDEN_COL ) 
	BEGIN 
		BREAK
	END
	
	SELECT  @COMMISSION_WRITTEN		= 0 ,
			@COMMISSION_WOFF		= 0 ,
			@COMMISSION_PROCESSED	= 0 ,
			@AMT_TO_ADJUST			= 0 ,
			@ROW_ID					= NULL, 
			@CUSTOMER_ID			= CUSTOMER_ID , 
			@POLICY_ID				= POLICY_ID , 
			@CURRENT_TERM			= CURRENT_TERM 
	FROM #FULLY_PAID_POLICIES WHERE IDEN_COL = @IDEN_COL 

	SELECT @COMMISSION_WRITTEN = SUM(ISNULL(AOI.TOTAL_DUE , 0)) 
	FROM ACT_AGENCY_OPEN_ITEMS AOI
	WHERE AOI.UPDATED_FROM IN ('P','J')
	AND AOI.ITEM_TRAN_CODE IN ( 'NBSC' , 'RENC' , 'ENDC' , 'RINC' , 'CANC' ) 
	AND AOI.CUSTOMER_ID = @CUSTOMER_ID 
	AND AOI.POLICY_ID   = @POLICY_ID 
	AND AOI.POLICY_VERSION_ID IN 
			( SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL 
				WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID AND CPL.POLICY_ID = @POLICY_ID 
				AND CPL.CURRENT_TERM = @CURRENT_TERM 
			) 
	AND  BILL_CODE = 'DB'
	
	SELECT @COMMISSION_PROCESSED = SUM( ISNULL(DUE_AMOUNT,0) ) 
	FROM ACT_AGENCY_STATEMENT_DETAILED  AGN 
	WHERE AGN.CUSTOMER_ID = @CUSTOMER_ID 	
	AND AGN.POLICY_ID   = @POLICY_ID 
	AND AGN.POLICY_VERSION_ID IN 
	( 
		SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL 
		WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID AND CPL.POLICY_ID = @POLICY_ID 
		AND CPL.CURRENT_TERM = @CURRENT_TERM 
	) 
	AND ISNULL( NOT_COUNTED_RECEIVABLE, 0 ) = 0 
	AND	COMM_TYPE = 'REG' AND TRAN_CODE <> 'PIC' 
	AND  BILL_TYPE = 'DB'

	SELECT @COMMISSION_WOFF = SUM( ISNULL(DUE_AMOUNT,0) ) 
	FROM ACT_AGENCY_STATEMENT_DETAILED  AGN 
	WHERE AGN.CUSTOMER_ID = @CUSTOMER_ID 	
	AND AGN.POLICY_ID   = @POLICY_ID 
	AND AGN.POLICY_VERSION_ID IN 
	( 
		SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL 
		WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID AND CPL.POLICY_ID = @POLICY_ID 
		AND CPL.CURRENT_TERM = @CURRENT_TERM 
	) 
	AND ISNULL( NOT_COUNTED_RECEIVABLE, 0 ) = 1 

	IF(@COMMISSION_WRITTEN - ISNULL(@COMMISSION_WOFF,0)  -  ISNULL(@COMMISSION_PROCESSED,0)  <> 0 ) 
	BEGIN 
		SET	@AMT_TO_ADJUST = @COMMISSION_WRITTEN - ISNULL(@COMMISSION_WOFF,0)  -  ISNULL(@COMMISSION_PROCESSED,0) 

		-- If some payment is processed in this month then adjust this amount with payable amount
		-- else create a writeoff
		IF EXISTS 
			(
				SELECT ROW_ID FROM ACT_AGENCY_STATEMENT_DETAILED AGN 
				WHERE AGN.CUSTOMER_ID = @CUSTOMER_ID 	
				AND AGN.POLICY_ID   = @POLICY_ID 
				AND AGN.POLICY_VERSION_ID IN 
				( 
					SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL 
					WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID AND CPL.POLICY_ID = @POLICY_ID 
					AND CPL.CURRENT_TERM = @CURRENT_TERM 
				) 
				AND ISNULL( NOT_COUNTED_RECEIVABLE, 0 ) = 0 
				AND MONTH_NUMBER = @MONTH AND MONTH_YEAR = @YEAR 
				AND	COMM_TYPE = 'REG' AND TRAN_CODE <> 'PIC'  AND  BILL_TYPE = 'DB'
			)
		BEGIN 
			SELECT TOP 1 @ROW_ID = ROW_ID FROM ACT_AGENCY_STATEMENT_DETAILED AGN 
			WHERE AGN.CUSTOMER_ID = @CUSTOMER_ID 	
			AND AGN.POLICY_ID   = @POLICY_ID 
			AND AGN.POLICY_VERSION_ID IN 
			( 
				SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL 
				WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID AND CPL.POLICY_ID = @POLICY_ID 
				AND CPL.CURRENT_TERM = @CURRENT_TERM 
			) 
			AND ISNULL( NOT_COUNTED_RECEIVABLE, 0 ) = 0 
			AND MONTH_NUMBER = @MONTH AND MONTH_YEAR = @YEAR 
			AND	COMM_TYPE = 'REG' AND TRAN_CODE <> 'PIC' AND  BILL_TYPE = 'DB'

			UPDATE ACT_AGENCY_STATEMENT_DETAILED SET DUE_AMOUNT = ISNULL(DUE_AMOUNT,0 ) + @AMT_TO_ADJUST , 
			COMMISSION_AMOUNT = ISNULL(COMMISSION_AMOUNT , 0) + @AMT_TO_ADJUST , 
			ADJUSTED_AMOUNT  = @AMT_TO_ADJUST
			WHERE ROW_ID = @ROW_ID 
		END
		ELSE
		BEGIN 
			SELECT TOP 1 @ROW_ID = ROW_ID FROM ACT_AGENCY_STATEMENT_DETAILED AGN 
			WHERE AGN.CUSTOMER_ID = @CUSTOMER_ID 	
			AND AGN.POLICY_ID   = @POLICY_ID 
			AND AGN.POLICY_VERSION_ID IN 
			( 
				SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL 
				WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID AND CPL.POLICY_ID = @POLICY_ID 
				AND CPL.CURRENT_TERM = @CURRENT_TERM 
			) 				
			AND ISNULL( NOT_COUNTED_RECEIVABLE, 0 ) = 1 
			AND MONTH_NUMBER = @MONTH AND MONTH_YEAR = @YEAR 
			AND	COMM_TYPE = 'REG' AND TRAN_CODE <> 'PIC' 
			
			UPDATE ACT_AGENCY_STATEMENT_DETAILED SET DUE_AMOUNT = ISNULL(DUE_AMOUNT,0 ) - @AMT_TO_ADJUST , 
			COMMISSION_AMOUNT = ISNULL(COMMISSION_AMOUNT , 0) - @AMT_TO_ADJUST ,
			ADJUSTED_AMOUNT  = @AMT_TO_ADJUST
			WHERE ROW_ID = @ROW_ID 
		
			-- Post this amount in General Ledger 
			DECLARE @COMM_EXPENSE_ACCOUNT	Int,
					@COMM_PAYABLE_ACCOUNT	Int,
					@CURRENT_DATE			Datetime , 
					@FISCAL_ID				Int ,
					@AGENCY_COMM_PERC		Decimal(18,2) , 
					@POLICY_VERSION_ID		Int, 
					@AGENCY_ID				Int , 
					@POLICY_NUMBER			Varchar(12) , 
					@AGENCY_NAME			Varchar(200)

			SET @CURRENT_DATE = GETDATE()  
	  
			EXEC PROC_GETFISCALIDFORCURRENTDATE @CURRENT_DATE, @FISCAL_ID OUT  

			SELECT   
			@COMM_EXPENSE_ACCOUNT  		= EXP_SMALL_BALANCE_WRITE_OFF, --EXP_COMM_INCURRED ,
			@COMM_PAYABLE_ACCOUNT 		= LIB_COMM_PAYB_DIRECT_BILL 
			FROM ACT_GENERAL_LEDGER WITH(NOLOCK)  
			WHERE FISCAL_ID =  @FISCAL_ID     

			SELECT @AGENCY_COMM_PERC = COMMISSION_RATE, @POLICY_VERSION_ID = POLICY_VERSION_ID , 
			@AGENCY_ID = AGENCY_ID
			FROM ACT_AGENCY_STATEMENT_DETAILED 
			WHERE ROW_ID = @ROW_ID

			SELECT @AGENCY_NAME = ISNULL(AGENCY_DISPLAY_NAME,'')	
			FROM MNT_AGENCY_LIST WHERE AGENCY_ID = @AGENCY_ID 

			SELECT @POLICY_NUMBER = POLICY_NUMBER  + ' ' + CAST(@POLICY_VERSION_ID AS VARCHAR) + '.0' 
			FROM POL_CUSTOMER_POLICY_LIST WHERE CUSTOMER_ID = @CUSTOMER_ID 
			AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID
	
			INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS          
			(          
			ACCOUNT_ID, UPDATED_FROM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, 
			TRANSACTION_AMOUNT, AGENCY_COMM_PERC,          
			AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,          
			POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,           
			BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, LOB_ID,           
			SUB_LOB_ID, COUNTRY_ID, STATE_ID , TRAN_ENTITY ,TRAN_DESC
			)          
			SELECT           
			@COMM_PAYABLE_ACCOUNT, 'W', GETDATE(), GETDATE(), GETDATE(), 
			@AMT_TO_ADJUST , @AGENCY_COMM_PERC,      
			@AMT_TO_ADJUST , AGENCY_ID , @CUSTOMER_ID , 
			@POLICY_ID , @POLICY_VERSION_ID , 	DIV_ID, DEPT_ID, PC_ID,           
			BILL_TYPE , @AMT_TO_ADJUST , 'ENDC' , 'COM' , POLICY_LOB,
			POLICY_SUBLOB , COUNTRY_ID ,STATE_ID ,@AGENCY_NAME , @POLICY_NUMBER							 
			FROM POL_CUSTOMER_POLICY_LIST	
			WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID 
			AND POLICY_VERSION_ID = @POLICY_VERSION_ID 

			INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS          
			(          
			ACCOUNT_ID, UPDATED_FROM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, 
			TRANSACTION_AMOUNT, AGENCY_COMM_PERC,          
			AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,          
			POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,           
			BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, LOB_ID,           
			SUB_LOB_ID, COUNTRY_ID, STATE_ID , TRAN_ENTITY ,TRAN_DESC
			)          
			SELECT           
			@COMM_EXPENSE_ACCOUNT, 'W', GETDATE(), GETDATE(), GETDATE(), 
			@AMT_TO_ADJUST * - 1, @AGENCY_COMM_PERC,   
			@AMT_TO_ADJUST * -1, AGENCY_ID , @CUSTOMER_ID , 
			@POLICY_ID , @POLICY_VERSION_ID , 	DIV_ID, DEPT_ID, PC_ID,           
			BILL_TYPE , @AMT_TO_ADJUST , 'ENDC' , 'COM' , POLICY_LOB,
			POLICY_SUBLOB , COUNTRY_ID ,STATE_ID,@AGENCY_NAME , @POLICY_NUMBER		
			FROM POL_CUSTOMER_POLICY_LIST	
			WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID 
			AND POLICY_VERSION_ID = @POLICY_VERSION_ID 

		END
	END
	SET @IDEN_COL = @IDEN_COL + 1 
END

DROP TABLE #FULLY_PAID_POLICIES

END

--go 
--exec ProcAdjustAgencyStatement 5 , 2009
--rollback tran 
--









GO

