IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_SCHEDULE_P_SUMMARY_LOSS_PAYMENT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_SCHEDULE_P_SUMMARY_LOSS_PAYMENT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROC Proc_SCHEDULE_P_SUMMARY_LOSS_PAYMENT
(
@MONTH int,
@YEAR int
)
as
begin
--SCHEDULE P SUMMARY (LOSS PAYMENTS) proc by P K chandel
SELECT LOB.LOB_DESC AS LOB,T.* FROM
(
    SELECT A.LOB_ID,
	CASE WHEN A.LOB_ID IN (6) THEN 
		CASE WHEN (LOSS_TYPE + ',' LIKE '%32,%') OR (LOSS_TYPE + ',' LIKE '%37,%')  
		THEN 'Fire'  
		WHEN (LOSS_TYPE + ',' LIKE '%51,%') OR (LOSS_TYPE + ',' LIKE '%52,%')OR (LOSS_TYPE + ',' LIKE '%53,%') OR (LOSS_TYPE + ',' LIKE '%55,%')                          
		THEN 'Liability'  
		ELSE 'EC'  
		END 
	ELSE MLD.CATEGORY_DESC
	END
	AS LOB_SUB_CATEGORY,
	YEAR(B.LOSS_DATE) AS YEAR_INCURRED,
      SUM(A.PAID_LOSS) PAID_LOSSES,
      SUM(A.SALVAGE_LESS) SALVAGE_LESS,
      SUM(A.LESS_RECOVERY) LESS_RECOVERY,
      SUM(A.REINS_RECOVERED) REINS_RECOVERED,
      SUM(A.REINS_SALVAGE) REINS_SALVAGE,
      SUM(A.REINS_RECOVERY) REINS_RECOVERY
      FROM 
      VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY A
        INNER JOIN CLM_CLAIM_INFO B WITH(NOLOCK)
        ON A.CLAIM_ID = B.CLAIM_ID

	 LEFT OUTER JOIN MNT_COVERAGE M WITH(NOLOCK) ON  M.COV_ID=A.COVERAGE_ID 	
	 LEFT OUTER JOIN MNT_COVERAGE_EXTRA ME WITH(NOLOCK) ON ME.COV_ID=A.COVERAGE_ID
	 LEFT OUTER JOIN MNT_LOB_DESC MLD ON MLD.ASLOB_ID=ISNULL(M.ASLOB,ME.ASLOB)

      WHERE A.YEAR_NUMBER = @YEAR AND A.MONTH_NUMBER <= @MONTH
        GROUP BY A.LOB_ID,LOSS_TYPE,MLD.CATEGORY_DESC,YEAR(B.LOSS_DATE)
) T
LEFT OUTER JOIN MNT_LOB_MASTER LOB ON LOB.LOB_ID=T.LOB_ID
WHERE 
(
ISNULL(PAID_LOSSES,0) <> 0 OR 
ISNULL(SALVAGE_LESS,0) <> 0 OR 
ISNULL(LESS_RECOVERY,0) <> 0 OR 
ISNULL(REINS_RECOVERED,0) <> 0 OR 
ISNULL(REINS_SALVAGE,0) <> 0 OR 
ISNULL(REINS_RECOVERY,0) <> 0 
) 
ORDER BY T.LOB_ID, T.YEAR_INCURRED

end




GO

