IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_GetNonPayEndMasterPolicy_List]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_GetNonPayEndMasterPolicy_List]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[PROC_GetNonPayEndMasterPolicy_List]  
(  
 @CANCELLATION_DATE DATETIME = NULL  
)  
AS   
BEGIN  
IF (@CANCELLATION_DATE IS NULL)  
  SET  @CANCELLATION_DATE = GETDATE();  
  
 WITH   END_CANCEL_LIST   
  AS  
 (  
  SELECT   
   CANCEL_LIST.CUSTOMER_ID  
  ,CANCEL_LIST.POLICY_ID  
  ,CANCEL_LIST.END_CANCELLED_POLICY_VERSION_ID  
  ,MAX(POL.POLICY_VERSION_ID)POLICY_VERSION_ID  
  ,CANCEL_LIST.INSTALL_NO  
  --,INSTALLMENT_EFFECTIVE_DATE  
  ,POL.POLICY_LOB LOB_ID  
  ,POL.POLICY_NUMBER POLICY_NUMBER  
  ,POL.APP_EFFECTIVE_DATE POL_EFFCTIVE_DATE  
  ,POL.APP_EXPIRATION_DATE POL_EXP_DATE  
  FROM  
  (SELECT MIN(INSTALLMENT_NO) INSTALL_NO  --,INSTALL.INSTALLMENT_EFFECTIVE_DATE INSTALLMENT_EFFECTIVE_DATE  
       ,INSTALL.CUSTOMER_ID CUSTOMER_ID,    
       INSTALL.POLICY_ID    POLICY_ID      
       ,POL.CURRENT_TERM    CURRENT_TERM  ,  
       INSTALL.POLICY_VERSION_ID  END_CANCELLED_POLICY_VERSION_ID  
    FROM ACT_POLICY_INSTALLMENT_DETAILS INSTALL WITH(NOLOCK)          
   INNER JOIN POL_CUSTOMER_POLICY_LIST POL WITH(NOLOCK) ON            
    POL.CUSTOMER_ID = INSTALL.CUSTOMER_ID AND           
    POL.POLICY_ID = INSTALL.POLICY_ID AND           
    POL.POLICY_VERSION_ID = INSTALL.POLICY_VERSION_ID AND        
    POL.CURRENT_TERM = INSTALL.CURRENT_TERM         
    INNER JOIN MNT_LOB_MASTER LOB  WITH(NOLOCK)  ON  LOB.LOB_ID = POL.POLICY_LOB        
    INNER JOIN  ACT_INSTALL_PLAN_DETAIL AIPD WITH(NOLOCK)
		 ON  AIPD.IDEN_PLAN_ID = POL.INSTALL_PLAN_ID
			 AND UPPER(AIPD.PLAN_TYPE) = 'MMANNUAL'
    WHERE  DATEDIFF(DAY,DATEADD(DAY, LOB.MIN_CANCELLATION_DAYS,INSTALLMENT_EFFECTIVE_DATE), @CANCELLATION_DATE ) > =0  
    AND INSTALL.RELEASED_STATUS = 'N'   AND POL.TRANSACTION_TYPE = 14560 --master policy  
 AND LOB_ID IN (17,18) --only for product Facultative Liability/Civil Liability Transportation.i-track # 1209 Note(7)  
   GROUP BY INSTALL.CUSTOMER_ID,INSTALL.POLICY_ID,POL.CURRENT_TERM  ,INSTALL.POLICY_VERSION_ID--,INSTALL.INSTALLMENT_EFFECTIVE_DATE  
   )CANCEL_LIST   
 JOIN   
 POL_CUSTOMER_POLICY_LIST POL WITH(NOLOCK) ON  
 POL.CUSTOMER_ID = CANCEL_LIST.CUSTOMER_ID AND  
 POL.POLICY_ID = CANCEL_LIST.POLICY_ID AND   
 POL.CURRENT_TERM = CANCEL_LIST.CURRENT_TERM   
 GROUP BY   
    CANCEL_LIST.CUSTOMER_ID  
   ,CANCEL_LIST.POLICY_ID  
   ,CANCEL_LIST.END_CANCELLED_POLICY_VERSION_ID  
   ,CANCEL_LIST.INSTALL_NO   
   --,INSTALLMENT_EFFECTIVE_DATE  
   ,POL.POLICY_LOB  
   ,POL.POLICY_NUMBER  
   ,POL.APP_EFFECTIVE_DATE  
   ,POL.APP_EXPIRATION_DATE  
 )  
  
    
  --SELECT * FROM END_CANCEL_LIST  
    
 SELECT   LIST.POLICY_NUMBER  
   ,LIST.CUSTOMER_ID  
   ,LIST.POLICY_ID  
   ,LIST.POLICY_VERSION_ID  
   ,LIST.LOB_ID  
   ,PPP.PROCESS_ID BASE_PROCESS_ID  
   ,LIST.INSTALL_NO  
   ,'0.00' PARTIAL_PAID   
   ,LIST.END_CANCELLED_POLICY_VERSION_ID   
   ,PPP2.EFFECTIVE_DATETIME END_EFFECTIVE_DATE  
   ,ISNULL(PPP2.EXPIRY_DATE,LIST.POL_EXP_DATE) END_EXP_DATE  
   ,PPP2.ENDORSEMENT_NO CANCELLED_ENDORSEMENT_NO  
   ,ISNULL(PPP2.CO_APPLICANT_ID,0) CO_APPLICANT_ID  
   FROM    END_CANCEL_LIST LIST  
   JOIN POL_POLICY_PROCESS PPP WITH(NOLOCK) ON   
     PPP.CUSTOMER_ID = LIST.CUSTOMER_ID   
     AND PPP.POLICY_ID = LIST.POLICY_ID   
     AND PPP.NEW_POLICY_VERSION_ID = LIST.POLICY_VERSION_ID    
     AND UPPER(PPP.PROCESS_STATUS) <> 'ROLLBACK'   
     AND PPP.PROCESS_ID NOT IN (24,2,12,3,4,8) --process can not launch when any process pending  
   LEFT OUTER JOIN POL_POLICY_PROCESS PPP2  WITH(NOLOCK) ON   
     PPP2.CUSTOMER_ID = LIST.CUSTOMER_ID AND   
     PPP2.POLICY_ID = LIST.POLICY_ID AND   
     PPP2.NEW_POLICY_VERSION_ID = LIST.END_CANCELLED_POLICY_VERSION_ID AND   
     UPPER(PPP2.PROCESS_STATUS) <> 'ROLLBACK'   
   
END  
GO

