IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetTransactionHistory]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetTransactionHistory]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran   
--drop proc dbo.Proc_GetTransactionHistory    
--go   
/*----------------------------------------------------------                  
 Proc Name       : Dbo.Proc_GetTransactionHistory  
 Created by      : Ravindra   
 Date            : 3-8-2007  
 Purpose         : Fetch Account Transaction History for customer  
 Revison History :                 
 modified by		:Pravesh K chandel  
 modified date		:11 sep 2007  
 purpose			:Apply nolock on tables in trasaction  

 Modified By		:Praveen Kasana
 Modified Date		:29 April 2008
 Purpose			:Itrack #4096		
 Used In			:Wolverine          
------------------------------------------------------------                  
Date     Review By          Comments                  
------   ------------       -------------------------*/                  
-- drop proc dbo.Proc_GetTransactionHistory    
CREATE PROC [dbo].[Proc_GetTransactionHistory]  
(                  
       @CUSTOMER_ID INT,        
       @POLICY_ID INT,        
       @POLICY_NUMBER VARCHAR(20)=NULL        
)                  
AS                 
BEGIN   
  
IF(ISNULL(@POLICY_NUMBER,'')<>'')        
BEGIN        
	SELECT  @CUSTOMER_ID=CUSTOMER_ID,@POLICY_ID=POLICY_ID    
	FROM POL_CUSTOMER_POLICY_LIST with(nolock)  
	WHERE POLICY_NUMBER=@POLICY_NUMBER        
END        
  
/*DECLARE @CURRENT_VERSION_ID     INT,  
	@BILL_TYPE           	char(2)  
   
SET @CURRENT_VERSION_ID=0        
  
--Get Current Policy Version        
SELECT @CURRENT_VERSION_ID =ISNULL(MAX(NEW_POLICY_VERSION_ID),0) FROM POL_POLICY_PROCESS  with(nolock)       
WHERE CUSTOMER_ID=@CUSTOMER_ID   
       AND POLICY_ID=@POLICY_ID        
       AND PROCESS_ID IN(18,25, 32)

IF(@CURRENT_VERSION_ID=0)        
	SET @CURRENT_VERSION_ID=1        
  
-- Fetch Policy Level Details  
SELECT  @BILL_TYPE  = BILL_TYPE  
FROM POL_CUSTOMER_POLICY_LIST with(nolock)  
WHERE CUSTOMER_ID = @CUSTOMER_ID   
AND POLICY_ID = @POLICY_ID   
AND POLICY_VERSION_ID = @CURRENT_VERSION_ID   */
  
DECLARE @ARREPORT TABLE 
(               
	[IDENT_COL] [int] IDENTITY(1,1) NOT NULL ,        
	[SOURCE_ROW_ID] [int],  
	[SOURCE]    Varchar(50),  
	[PRINTED_ON_NOTICE] Char(1),  
	[SOURCE_TRAN_DATE] DateTime,                                                                      
	[SOURCE_EFF_DATE] DateTime,                                  
	[POSTING_DATE] DateTime,                                         
	[DESCRIPTION] VarChar(100) null, 
	[VERSION_NO]	Varchar(10) null,                                                                       
	[TOTAL_AMOUNT] [decimal] (18,2)  ,                                                                      
	[TEMP_PREMIUM] [decimal](18,2) NULL ,                                                                      
	[INSF_FEE] [decimal] (18,2) NULL,                                                                   
	[LATE_FEE] [decimal](18,2) NULL ,                       
	[REINS_FEE] [decimal](18,2) NULL ,         
	[NSF_FEE] [decimal](18,2) NULL,        
	[ADJUSTED] [decimal](18,2),  
	[TYPE] VARCHAR(2),        
	[NOTICE_URL] Varchar(400),  
	--Ravindra(12-08-2008) : For RTL View Integration
	[RTL_BATCH_NUMBER]	Varchar(8), 
	[RTL_GROUP_NUMBER]	Varchar(8), 

	TOTAL_FEE  AS  ISNULL(INSF_FEE,0) + ISNULL(LATE_FEE,0) + ISNULL(REINS_FEE,0) + ISNULL(NSF_FEE,0) ,  
	TOTAL_PREMIUM AS   
	CASE WHEN TYPE  IN('L','N','R','T') THEN 0  
	WHEN TYPE = 'A' THEN TEMP_PREMIUM -( ISNULL(INSF_FEE,0) + ISNULL(LATE_FEE,0)   
	+ ISNULL(REINS_FEE,0) + ISNULL(NSF_FEE,0))  
	WHEN TYPE <> 'F'    
	THEN ISNULL(TOTAL_AMOUNT,0) -( ISNULL(INSF_FEE,0) + ISNULL(LATE_FEE,0)   
	+ ISNULL(REINS_FEE,0) + ISNULL(NSF_FEE,0) + ISNULL(ADJUSTED,0))  
	ELSE TEMP_PREMIUM END  ,
	TOTAL_PREMIUM_DUE	Decimal(18,2) 
)        
  
-- Fetch Accounting transactions for DB Policies   
--for AB policies only non accounting transactions will appear on AI Screen as there in no entry   
--in customer subledger for AB policies  
  

--IF(@BILL_TYPE = 'DB')  
--BEGIN   
	CREATE TABLE #POSTED_PREMIUM  
	(  
	[IDENT_COL] [int] IDENTITY(1,1) NOT NULL ,  
	[POSTED_PREMIUM_XML] VARCHAR(4000),  
	[CURRENT_TERM] Int ,  
	[CUSTOMER_ID] Int,  
	[POLICY_ID]  Int,  
	[POLICY_VERSION_ID] Int,  
	[TRAN_DATE]   DateTime,  
	[TRAN_EFF_DATE]      DateTime,  
	[DUE_DATE]    DateTime,  
	[PROCESS_ID]  Int,  
	[GROSS_PREMIUM]      Decimal(18,2),  
	[NET_PREMIUM] Decimal(18,2),  
	[PRINTED_ON_NOTICE] Char(1),  
	[PPD_ROW_ID]  Int  
	)  
  
	INSERT INTO #POSTED_PREMIUM  
	(  
	POSTED_PREMIUM_XML , CUSTOMER_ID, POLICY_ID,   
	POLICY_VERSION_ID, PROCESS_ID, TRAN_DATE,  
	PRINTED_ON_NOTICE,PPD_ROW_ID  
	)  
	SELECT  PPD.POSTED_PREMIUM_XML ,PPD.CUSTOMER_ID,PPD.POLICY_ID,  
	PPD.POLICY_VERSION_ID,PPD.PROCESS_TYPE,PPD.CREATED_DATETIME,  
	PPD.PRINTED_ON_NOTICE , PPD.PROCESS_ID  
	FROM ACT_PREMIUM_PROCESS_DETAILS PPD with(nolock)  
	INNER JOIN POL_CUSTOMER_POLICY_LIST PCL with(nolock)  
	ON  PPD.CUSTOMER_ID = PCL.CUSTOMER_ID  
	AND PPD.POLICY_ID = PCL.POLICY_ID   
	AND PPD.POLICY_VERSION_ID = PCL.POLICY_VERSION_ID  
	AND ISNULL(PCL.FROM_AS400,'N') <> 'Y'  
	WHERE PCL.CUSTOMER_ID = @CUSTOMER_ID   
	AND PCL.POLICY_ID = @POLICY_ID   
	AND PCL.BILL_TYPE = 'DB'  
  
	DECLARE @POSTED_PREMIUM_XML VARCHAR(4000)  
	DECLARE @IDENT_COL Int  
	SET @IDENT_COL = 1  
  
	WHILE 1 = 1                
	BEGIN                
		IF NOT EXISTS (SELECT IDENT_COL FROM #POSTED_PREMIUM with(nolock) WHERE IDENT_COL = @IDENT_COL)                
		BEGIN                
			BREAK                
		END                
		SELECT @POSTED_PREMIUM_XML = POSTED_PREMIUM_XML   
		FROM #POSTED_PREMIUM with(nolock) 
		WHERE IDENT_COL = @IDENT_COL                
  
		DECLARE @IDOC INT           
		
		--CREATE AN INTERNAL REPRESENTATION OF THE XML DOCUMENT.          
		
		EXEC SP_XML_PREPAREDOCUMENT @IDOC OUTPUT, @POSTED_PREMIUM_XML  
		-- EXECUTE A SELECT STATEMENT THAT USES THE OPENXML ROWSET PROVIDER.          
		
		DECLARE @NET_PREMIUM VARCHAR(40) ,         
			@GROSS_PREMIUM VARCHAR(40),          
			@MCCA_FEES  VARCHAR(40)  ,      
			@OTHER_FEES VARCHAR(40)        
  
		SELECT  @NET_PREMIUM = NETPREMIUM ,          
			@GROSS_PREMIUM = GROSSPREMIUM,           
			@MCCA_FEES = MCCAFEES ,          
			@OTHER_FEES = OTHERFEES          
		FROM   OPENXML (@IDOC, '/PREMIUM',2 )          
			WITH(          
			NETPREMIUM   VARCHAR(40),           
			GROSSPREMIUM VARCHAR(40),          
			MCCAFEES     VARCHAR(40),          
			OTHERFEES    VARCHAR(40)          
			)  

		SET @GROSS_PREMIUM = REPLACE(@GROSS_PREMIUM,' ','')
		SET @NET_PREMIUM = REPLACE(@NET_PREMIUM,' ','')        
  
		UPDATE #POSTED_PREMIUM SET GROSS_PREMIUM = ISNULL(CONVERT(Decimal , @GROSS_PREMIUM ), 0) ,  
			NET_PREMIUM = ISNULL(CONVERT(Decimal , @NET_PREMIUM ), 0)            
		WHERE IDENT_COL = @IDENT_COL                
		
		EXEC SP_XML_REMOVEDOCUMENT @IDOC  
		SET @IDENT_COL = @IDENT_COL + 1  
	END  
   
	UPDATE #POSTED_PREMIUM    
	SET #POSTED_PREMIUM.TRAN_DATE     = ISNULL(PRC.COMPLETED_DATETIME ,#POSTED_PREMIUM.TRAN_DATE) ,   
	#POSTED_PREMIUM.TRAN_EFF_DATE     = ISNULL(PRC.EFFECTIVE_DATETIME ,CPL.POL_VER_EFFECTIVE_DATE) ,  
	#POSTED_PREMIUM.DUE_DATE   = ISNULL(PRC.EFFECTIVE_DATETIME ,CPL.POL_VER_EFFECTIVE_DATE)  
	FROM POL_POLICY_PROCESS PRC with(nolock)  
	INNER JOIN POL_CUSTOMER_POLICY_LIST CPL with(nolock)  
	ON PRC.CUSTOMER_ID = CPL.CUSTOMER_ID   
	AND PRC.POLICY_ID = CPL.POLICY_ID   
	AND PRC.NEW_POLICY_VERSION_ID = CPL.POLICY_VERSION_ID  
	AND PRC.PROCESS_STATUS='COMPLETE'  --added by pravesh
	WHERE PRC.CUSTOMER_ID = #POSTED_PREMIUM.CUSTOMER_ID  
	AND PRC.POLICY_ID = #POSTED_PREMIUM.POLICY_ID  
	AND PRC.NEW_POLICY_VERSION_ID = #POSTED_PREMIUM.POLICY_VERSION_ID  
	AND PRC.PROCESS_ID = #POSTED_PREMIUM.PROCESS_ID  
  
	UPDATE #POSTED_PREMIUM    
	SET #POSTED_PREMIUM.TRAN_EFF_DATE     = ISNULL(PRC.EFFECTIVE_DATETIME ,CPL.POL_VER_EFFECTIVE_DATE) ,  
	#POSTED_PREMIUM.DUE_DATE		  = ISNULL(PRC.EFFECTIVE_DATETIME ,CPL.POL_VER_EFFECTIVE_DATE)  
	FROM POL_POLICY_PROCESS PRC with(nolock)  
	INNER JOIN POL_CUSTOMER_POLICY_LIST CPL with(nolock)  
	ON PRC.CUSTOMER_ID = CPL.CUSTOMER_ID   
	AND PRC.POLICY_ID = CPL.POLICY_ID   
	AND PRC.NEW_POLICY_VERSION_ID = CPL.POLICY_VERSION_ID 
	AND PRC.PROCESS_STATUS='COMPLETE'   --added by pravesh 
	WHERE PRC.CUSTOMER_ID = #POSTED_PREMIUM.CUSTOMER_ID  
	AND PRC.POLICY_ID = #POSTED_PREMIUM.POLICY_ID  
	AND PRC.NEW_POLICY_VERSION_ID = #POSTED_PREMIUM.POLICY_VERSION_ID  
	AND #POSTED_PREMIUM.TRAN_EFF_DATE IS NULL 

	-- Premium Process Entries  
	INSERT INTO @ARREPORT        
	(        
	SOURCE_TRAN_DATE, SOURCE_EFF_DATE ,POSTING_DATE ,  
	DESCRIPTION,   
	VERSION_NO ,                    
	TOTAL_AMOUNT   
	,INSF_FEE,LATE_FEE  ,REINS_FEE  ,         
	NSF_FEE  ,TYPE , TEMP_PREMIUM,  
	SOURCE_ROW_ID ,      SOURCE ,PRINTED_ON_NOTICE  
	)        
	SELECT   
	TRAN_DATE ,TRAN_EFF_DATE,DUE_DATE ,  
	CASE PROCESS_ID   
	WHEN 25  THEN 'New Business Premium' 
	WHEN 14  THEN 'Endorsement Premium'
	WHEN 12  THEN 'Cancellation Premium'
	WHEN 16  THEN 'Reinstatement Premium'
	WHEN 18  THEN 'Renewal Premium'
	WHEN 29  THEN 'Rescind Premium'
	WHEN 32  THEN 'Rewrite Premium'
	WHEN 37  THEN 'Revert back Premium'
	END,  
	' (V '  + CAST(ISNULL(CPL.POLICY_DISP_VERSION,CAST(#POSTED_PREMIUM.[POLICY_VERSION_ID] AS VARCHAR) + '.0') AS VARCHAR) + ')',
	GROSS_PREMIUM  
	,NULL,NULL,NULL,  
	NULL,'P',GROSS_PREMIUM,  
	PPD_ROW_ID , 'PPD' , PRINTED_ON_NOTICE  
	FROM #POSTED_PREMIUM with(nolock)
	--ITRACK #4096
	LEFT JOIN POL_CUSTOMER_POLICY_LIST CPL with(nolock) 
	ON  #POSTED_PREMIUM.CUSTOMER_ID = CPL.CUSTOMER_ID
	AND #POSTED_PREMIUM.POLICY_ID = CPL.POLICY_ID
	AND #POSTED_PREMIUM.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID
    --END ITRACK #4096


  
	DROP TABLE #POSTED_PREMIUM  
	-- Balance Carried Forward information   
   
	INSERT INTO @ARREPORT        
	(        
	SOURCE_TRAN_DATE, SOURCE_EFF_DATE ,POSTING_DATE ,  
	DESCRIPTION,
	VERSION_NO ,                       
	TOTAL_AMOUNT ,  
	INSF_FEE,LATE_FEE  ,REINS_FEE  ,         
	NSF_FEE  ,TYPE ,  
	TEMP_PREMIUM   ,  
	SOURCE_ROW_ID,SOURCE , PRINTED_ON_NOTICE  
	)   
	SELECT  BAL.CREATED_DATE , BAl.DUE_DATE, BAl.CREATED_DATE,   
	BAL.TRAN_DESC,
	--' (V ' + CAST(BAL.POLICY_VERSION_ID AS VARCHAR)+'.0)',  
	' (V '  + CAST(ISNULL(CPL.POLICY_DISP_VERSION,CAST(BAL.[POLICY_VERSION_ID] AS VARCHAR) + '.0') AS VARCHAR) + ')',
	BAL.AMOUNT,  
	NULL,NULL,NULL,  
	NULL, BAL.UPDATED_FROM,  
	NULL ,  
	BAL.ROW_ID , 'BAL' , BAL.PRINTED_ON_NOTICE  
	FROM  ACT_CUSTOMER_BALANCE_INFORMATION BAL with(nolock) 
	--iTRACK #4096
	LEFT JOIN POL_CUSTOMER_POLICY_LIST CPL with(nolock) 
	ON  BAL.CUSTOMER_ID = CPL.CUSTOMER_ID
	AND BAL.POLICY_ID	= CPL.POLICY_ID
	AND BAL.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID
	-- END iTRACK #4096

	WHERE BAL.CUSTOMER_ID = @CUSTOMER_ID  
	AND BAL.POLICY_ID = @POLICY_ID  
	AND BAL.UPDATED_FROM = 'V'  
  
	-- Discount Entries   
	
	INSERT INTO @ARREPORT        
	(        
	SOURCE_TRAN_DATE, SOURCE_EFF_DATE ,POSTING_DATE ,  
	DESCRIPTION,VERSION_NO ,                      
	TOTAL_AMOUNT ,  
	INSF_FEE,LATE_FEE  ,REINS_FEE  ,         
	NSF_FEE  ,TYPE ,  
	TEMP_PREMIUM ,  
	SOURCE_ROW_ID  ,SOURCE , PRINTED_ON_NOTICE  
	)        
	SELECT POSTING_DATE , SOURCE_EFF_DATE, DUE_DATE,   
	TRANS_DESC , 
	--' (V '  + CAST(POLICY_VERSION_ID AS VARCHAR)+'.0)' ,
	' (V '  + CAST(ISNULL(CPL.POLICY_DISP_VERSION,CAST(ACT_CUSTOMER_OPEN_ITEMS.[POLICY_VERSION_ID] AS VARCHAR) + '.0') AS VARCHAR) + ')',
	TOTAL_PAID,   
	NULL,NULL,NULL,  
	NULL,'P',  
	null,   
	IDEN_ROW_ID ,'COI' , PRINTED_ON_NOTICE  
	FROM ACT_CUSTOMER_OPEN_ITEMS with(nolock)  
	--ITRACK #4096
	LEFT JOIN POL_CUSTOMER_POLICY_LIST CPL with(nolock) 
	ON  ACT_CUSTOMER_OPEN_ITEMS.CUSTOMER_ID = CPL.CUSTOMER_ID
	AND ACT_CUSTOMER_OPEN_ITEMS.POLICY_ID	= CPL.POLICY_ID
	AND ACT_CUSTOMER_OPEN_ITEMS.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID
	-- END ITRACK #4096
	WHERE ACT_CUSTOMER_OPEN_ITEMS.CUSTOMER_ID = @CUSTOMER_ID  
	AND ACT_CUSTOMER_OPEN_ITEMS.POLICY_ID = @POLICY_ID  
	AND ACT_CUSTOMER_OPEN_ITEMS.ITEM_TRAN_CODE = 'DISC'  
	AND ISNULL(TOTAL_PAID,0) <> 0  
	
	-- Cancellation Premium write off entries  
	-- Cancellation process will create Record for writing off premium in case of   
	-- write off balance & charge agency for balance   
	
	INSERT INTO @ARREPORT        
	(     
	SOURCE_TRAN_DATE, SOURCE_EFF_DATE ,POSTING_DATE ,  
	DESCRIPTION,
	TOTAL_AMOUNT ,  
	INSF_FEE,LATE_FEE  ,REINS_FEE  ,         
	NSF_FEE  ,TYPE ,  
	TEMP_PREMIUM ,  
	SOURCE_ROW_ID  ,SOURCE , PRINTED_ON_NOTICE  
	)        
	SELECT OI.POSTING_DATE , OI.SOURCE_EFF_DATE, OI.DUE_DATE,   
	BAL.TRAN_DESC,BAL.AMOUNT,   
	NULL,NULL,NULL,  
	NULL,'P',  
	null,   
	BAL.ROW_ID ,'BAL' , BAL.PRINTED_ON_NOTICE  
	FROM  ACT_CUSTOMER_BALANCE_INFORMATION BAL with(nolock)  
	INNER JOIN  ACT_CUSTOMER_OPEN_ITEMS OI with(nolock)  
		ON OI.IDEN_ROW_ID = BAL.OPEN_ITEM_ROW_ID  
	WHERE BAL.CUSTOMER_ID = @CUSTOMER_ID  
	AND BAL.POLICY_ID = @POLICY_ID  
	AND ISNULL(OI.IS_TEMP_ENTRY,0) = '9'  
  
	-- Fees Entries  
	INSERT INTO @ARREPORT        
	(        
	SOURCE_TRAN_DATE, SOURCE_EFF_DATE ,POSTING_DATE ,  
	DESCRIPTION,VERSION_NO ,                      
	TOTAL_AMOUNT ,  
	INSF_FEE,LATE_FEE  ,REINS_FEE  ,         
	NSF_FEE  ,TYPE ,  
	TEMP_PREMIUM   ,  
	SOURCE_ROW_ID,SOURCE , PRINTED_ON_NOTICE  
	)   
	SELECT  OI.POSTING_DATE , OI.SOURCE_EFF_DATE, OI.POSTING_DATE,   
	OI.TRANS_DESC + ' -Memo',
	--' (V ' + CAST(OI.POLICY_VERSION_ID AS VARCHAR)+'.0)',  
	' (V '  + CAST(ISNULL(CPL.POLICY_DISP_VERSION,CAST(OI.[POLICY_VERSION_ID] AS VARCHAR) + '.0') AS VARCHAR) + ')',	
	BAL.AMOUNT,  
	NULL,NULL,NULL,  
	NULL,CASE OI.ITEM_TRAN_CODE WHEN 'RENSF' THEN 'R' ELSE OI.UPDATED_FROM END,   
	NULL ,  
	BAL.ROW_ID , 'BAL' , BAL.PRINTED_ON_NOTICE  
	FROM  ACT_CUSTOMER_BALANCE_INFORMATION BAL with(nolock)  
	INNER JOIN  ACT_CUSTOMER_OPEN_ITEMS OI with(nolock)  
	ON OI.IDEN_ROW_ID = BAL.OPEN_ITEM_ROW_ID  
	--ITRACK #4096
	LEFT JOIN POL_CUSTOMER_POLICY_LIST CPL with(nolock) 
	ON  OI.CUSTOMER_ID = CPL.CUSTOMER_ID
	AND OI.POLICY_ID	= CPL.POLICY_ID
	AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID
	-- END ITRACK #4096
 	WHERE OI.CUSTOMER_ID = @CUSTOMER_ID  
	AND OI.POLICY_ID = @POLICY_ID  
	AND OI.ITEM_TRAN_CODE_TYPE = 'FEES'   
	AND OI.ITEM_TRAN_CODE <> 'INSF'  
	AND BAL.UPDATED_FROM <> 'F'  
	AND OI.UPDATED_FROM <> 'J'  
  
	--Ravindra(10-12-2007)  
	-- Fees Entries through JE  
	INSERT INTO @ARREPORT        
	(        
	SOURCE_TRAN_DATE, SOURCE_EFF_DATE ,POSTING_DATE ,  
	DESCRIPTION, VERSION_NO ,   
	TOTAL_AMOUNT ,  
	INSF_FEE,LATE_FEE  ,REINS_FEE  ,         
	NSF_FEE  ,TYPE ,  
	TEMP_PREMIUM   ,  
	SOURCE_ROW_ID,SOURCE , PRINTED_ON_NOTICE  
	)   
	SELECT  OI.POSTING_DATE , OI.SOURCE_EFF_DATE, OI.POSTING_DATE,   
	OI.TRANS_DESC , 
    --' (V ' + CAST(OI.POLICY_VERSION_ID AS VARCHAR)+'.0)',  
	' (V '  + CAST(ISNULL(CPL.POLICY_DISP_VERSION,CAST(OI.[POLICY_VERSION_ID] AS VARCHAR) + '.0') AS VARCHAR) + ')',	
	OI.TOTAL_DUE,  
	CASE OI.ITEM_TRAN_CODE WHEN 'INSF' THEN OI.TOTAL_DUE  ELSE  NULL END,  
	CASE OI.ITEM_TRAN_CODE WHEN 'LF' THEN OI.TOTAL_DUE  ELSE  NULL END,  
	CASE OI.ITEM_TRAN_CODE WHEN 'RENSF' THEN OI.TOTAL_DUE  ELSE  NULL END,  
	CASE OI.ITEM_TRAN_CODE WHEN 'NSFF' THEN OI.TOTAL_DUE  ELSE  NULL END,  
	'F',   
	NULL ,  
	BAL.ROW_ID , 'BAL' , BAL.PRINTED_ON_NOTICE  
	FROM  ACT_CUSTOMER_BALANCE_INFORMATION BAL with(nolock)  
	INNER JOIN  ACT_CUSTOMER_OPEN_ITEMS OI with(nolock)  
	ON OI.IDEN_ROW_ID = BAL.OPEN_ITEM_ROW_ID  
	--ITRACK #4096
	LEFT JOIN POL_CUSTOMER_POLICY_LIST CPL with(nolock) 
	ON  OI.CUSTOMER_ID = CPL.CUSTOMER_ID
	AND OI.POLICY_ID	= CPL.POLICY_ID
	AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID
	-- END ITRACK #4096
	WHERE OI.CUSTOMER_ID = @CUSTOMER_ID  
	AND OI.POLICY_ID = @POLICY_ID  
	AND OI.ITEM_TRAN_CODE_TYPE = 'FEES' 
	AND BAL.UPDATED_FROM <> 'F'  
	AND OI.UPDATED_FROM = 'J'  
   
  
	-- Fee Reversal Entries   
	INSERT INTO @ARREPORT        
	(        
	SOURCE_TRAN_DATE, SOURCE_EFF_DATE ,POSTING_DATE ,  
	DESCRIPTION, VERSION_NO ,
	TOTAL_AMOUNT ,  
	INSF_FEE,LATE_FEE  ,REINS_FEE  , 
	NSF_FEE  ,TYPE ,  
	TEMP_PREMIUM   ,  
	SOURCE_ROW_ID ,SOURCE , PRINTED_ON_NOTICE  
	)        
	SELECT BAL.CREATED_DATE,BAL.CREATED_DATE,BAL.CREATED_DATE,  
	BAL.TRAN_DESC , 
	--' (V ' + CAST(BAL.POLICY_VERSION_ID AS VARCHAR)+'.0)',  
	' (V '  + CAST(ISNULL(CPL.POLICY_DISP_VERSION,CAST(BAL.[POLICY_VERSION_ID] AS VARCHAR) + '.0') AS VARCHAR) + ')',
	BAL.AMOUNT * -1 ,  
	CASE OI.ITEM_TRAN_CODE WHEN 'INSF' THEN BAL.AMOUNT_DUE ELSE NULL END ,   
	CASE OI.ITEM_TRAN_CODE WHEN 'LF' THEN BAL.AMOUNT_DUE ELSE NULL END ,   
	CASE OI.ITEM_TRAN_CODE WHEN 'RENSF' THEN BAL.AMOUNT_DUE ELSE NULL END ,   
	CASE OI.ITEM_TRAN_CODE WHEN 'NSFF' THEN BAL.AMOUNT_DUE ELSE NULL END ,   
	BAL.UPDATED_FROM,  
	CASE  BAL.AMOUNT_DUE WHEN 0 THEN NULL ELSE BAL.AMOUNT_DUE ENd,  
	BAL.ROW_ID , 'BAL', BAL.PRINTED_ON_NOTICE  
	FROM ACT_CUSTOMER_BALANCE_INFORMATION BAL with(nolock)  
	INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OI with(nolock)  
	ON OI.IDEN_ROW_ID = BAL.OPEN_ITEM_ROW_ID  
	--ITRACK #4096
	LEFT JOIN POL_CUSTOMER_POLICY_LIST CPL with(nolock) 
	ON  OI.CUSTOMER_ID  = CPL.CUSTOMER_ID
	AND OI.POLICY_ID	= CPL.POLICY_ID
	AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID
	-- END ITRACK #4096
	WHERE  BAL.CUSTOMER_ID = @CUSTOMER_ID  
	AND BAL.POLICY_ID = @POLICY_ID  
	AND BAL.UPDATED_FROM IN ('F')  
	
	-- Notices Entries   
	INSERT INTO @ARREPORT      
	(        
	SOURCE_TRAN_DATE, SOURCE_EFF_DATE ,POSTING_DATE ,  
	DESCRIPTION, VERSION_NO  ,                     
	TOTAL_AMOUNT ,  
	INSF_FEE,LATE_FEE  ,REINS_FEE  ,         
	NSF_FEE  ,TYPE ,  
	TEMP_PREMIUM   ,  
	SOURCE_ROW_ID ,SOURCE , PRINTED_ON_NOTICE ,  
	NOTICE_URL   ,  TOTAL_PREMIUM_DUE 
	)        
	SELECT CREATED_DATE,DUE_DATE,DUE_DATE,  
	TRAN_DESC , 
	--' (V ' + CAST(POLICY_VERSION_ID AS VARCHAR)+'.0)',  
	' (V '  + CAST(ISNULL(CPL.POLICY_DISP_VERSION,CAST(ACT_CUSTOMER_BALANCE_INFORMATION.[POLICY_VERSION_ID] AS VARCHAR) + '.0') AS VARCHAR) + ')',
	AMOUNT  ,  
	NULL , NULL , NULL,  
	NULL, UPDATED_FROM,  
	AMOUNT_DUE ,  
	ROW_ID , 'BAL', PRINTED_ON_NOTICE,  
	NOTICE_URL    , TOTAL_PREMIUM_DUE 
	FROM ACT_CUSTOMER_BALANCE_INFORMATION with(nolock) 
	--ITRACK #4096
	LEFT JOIN POL_CUSTOMER_POLICY_LIST CPL with(nolock) 
	ON  ACT_CUSTOMER_BALANCE_INFORMATION.CUSTOMER_ID  = CPL.CUSTOMER_ID
	AND ACT_CUSTOMER_BALANCE_INFORMATION.POLICY_ID	= CPL.POLICY_ID
	AND ACT_CUSTOMER_BALANCE_INFORMATION.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID
	-- END ITRACK #4096 
	WHERE  ACT_CUSTOMER_BALANCE_INFORMATION.CUSTOMER_ID = @CUSTOMER_ID  
	AND ACT_CUSTOMER_BALANCE_INFORMATION.POLICY_ID = @POLICY_ID  
	AND UPDATED_FROM IN ('T')  
  
	-- Deposits & Other Entries  
	
	INSERT INTO @ARREPORT        
	(        
	SOURCE_TRAN_DATE, SOURCE_EFF_DATE ,POSTING_DATE ,  
	DESCRIPTION,  VERSION_NO  ,                    
	TOTAL_AMOUNT    
	,INSF_FEE,LATE_FEE  ,REINS_FEE  ,         
	NSF_FEE  ,ADJUSTED , TYPE    ,  
	SOURCE_ROW_ID , SOURCE , PRINTED_ON_NOTICE  , 
	RTL_BATCH_NUMBER ,
	RTL_GROUP_NUMBER
	)        
	SELECT OI.POSTING_DATE , OI.SOURCE_EFF_DATE ,OI.DUE_DATE,  
	OI.TRANS_DESC , 
	--' (V ' + CAST(POLICY_VERSION_ID AS VARCHAR)+'.0)',  
	' (V '  + CAST(ISNULL(CPL.POLICY_DISP_VERSION,CAST(OI.[POLICY_VERSION_ID] AS VARCHAR) + '.0') AS VARCHAR) + ')',
	OI.TOTAL_DUE ,  
	(  
		SELECT SUM(ISNULL(REC.RECON_AMOUNT,0)) FROM   
		ACT_CUSTOMER_RECON_GROUP_DETAILS REC with(nolock)  
		INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OIP with(nolock)  
		ON OIP.IDEN_ROW_ID  = REC.ITEM_REFERENCE_ID  
		AND OIP.ITEM_TRAN_CODE_TYPE = 'FEES'  
		AND OIP.ITEM_TRAN_CODE = 'INSF'  
		AND OIP.UPDATED_FROM <> 'F' 
		WHERE REC.GROUP_ID IN 
			(
			SELECT GROUP_ID FROM ACT_RECONCILIATION_GROUPS  with(nolock)  
			WHERE RECON_ENTITY_ID = @CUSTOMER_ID  
			AND CD_LINE_ITEM_ID =  OI.SOURCE_ROW_ID
			AND IS_COMMITTED = 'Y'  
			)  
		AND ITEM_REFERENCE_ID <> OI.IDEN_ROW_ID  
	) * -1 AS INSF_FEE,  
	(  
		SELECT SUM(ISNULL(REC.RECON_AMOUNT,0)) FROM   
		ACT_CUSTOMER_RECON_GROUP_DETAILS REC with(nolock)  
		INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OIP with(nolock)  
		ON OIP.IDEN_ROW_ID  = REC.ITEM_REFERENCE_ID  
		AND OIP.ITEM_TRAN_CODE_TYPE = 'FEES'  
		AND OIP.ITEM_TRAN_CODE = 'LF'  
		AND OIP.UPDATED_FROM <> 'F'  
		WHERE REC.GROUP_ID IN 
			(
			SELECT GROUP_ID FROM ACT_RECONCILIATION_GROUPS with(nolock)   
			WHERE RECON_ENTITY_ID = @CUSTOMER_ID  
			AND CD_LINE_ITEM_ID =  OI.SOURCE_ROW_ID  
			AND IS_COMMITTED = 'Y'  
			)  	
		AND ITEM_REFERENCE_ID <> OI.IDEN_ROW_ID  
	) * -1 AS LATE_FEE,  
	(  
		SELECT SUM(ISNULL(REC.RECON_AMOUNT,0))  FROM   
		ACT_CUSTOMER_RECON_GROUP_DETAILS REC with(nolock)  
		INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OIP with(nolock)  
		ON OIP.IDEN_ROW_ID  = REC.ITEM_REFERENCE_ID  
		AND OIP.ITEM_TRAN_CODE_TYPE = 'FEES'  
		AND OIP.ITEM_TRAN_CODE = 'RENSF'  
		AND OIP.UPDATED_FROM <> 'F'  
		WHERE REC.GROUP_ID IN 
				(
				SELECT GROUP_ID FROM ACT_RECONCILIATION_GROUPS  with(nolock)  
				WHERE RECON_ENTITY_ID = @CUSTOMER_ID  
				AND CD_LINE_ITEM_ID =  OI.SOURCE_ROW_ID  
				AND IS_COMMITTED = 'Y'  
				)  
		AND ITEM_REFERENCE_ID <> OI.IDEN_ROW_ID  
	)* -1  AS REINS_FEE  ,  
	(  
		SELECT SUM(ISNULL(REC.RECON_AMOUNT,0)) FROM   
		ACT_CUSTOMER_RECON_GROUP_DETAILS REC with(nolock)  
		INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OIP with(nolock)  
		ON OIP.IDEN_ROW_ID  = REC.ITEM_REFERENCE_ID  
		AND OIP.ITEM_TRAN_CODE_TYPE = 'FEES'  
		AND OIP.ITEM_TRAN_CODE = 'NSFF'  
		AND OIP.UPDATED_FROM <> 'F'  
		WHERE REC.GROUP_ID IN 
				(
				SELECT GROUP_ID FROM ACT_RECONCILIATION_GROUPS   with(nolock)  
				WHERE RECON_ENTITY_ID = @CUSTOMER_ID  
				AND CD_LINE_ITEM_ID =  OI.SOURCE_ROW_ID  
				AND IS_COMMITTED = 'Y'  
				)  
		AND ITEM_REFERENCE_ID <> OI.IDEN_ROW_ID  
	)* -1  AS NSF_FEE  ,  
	(  
		SELECT SUM(ISNULL(REC.RECON_AMOUNT,0)) * -1 FROM   
		ACT_CUSTOMER_RECON_GROUP_DETAILS REC with(nolock)  
		INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OIP with(nolock)  
		ON OIP.IDEN_ROW_ID  = REC.ITEM_REFERENCE_ID  
		WHERE REC.GROUP_ID IN 
				(
				SELECT GRP.GROUP_ID FROM ACT_RECONCILIATION_GROUPS GRP with(nolock)  
				INNER JOIN ACT_CUSTOMER_RECON_GROUP_DETAILS RECD with(nolock)  
				ON GRP.GROUP_ID = RECD.GROUP_ID   
				INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OI1 with(nolock)  
				ON OI1.IDEN_ROW_ID = RECD.ITEM_REFERENCE_ID  
				WHERE RECON_ENTITY_ID = @CUSTOMER_ID  
				AND OI1.POLICY_ID <> @POLICY_ID  
				AND GRP.IS_COMMITTED = 'Y'  
				)  
		AND ITEM_REFERENCE_ID = OI.IDEN_ROW_ID  
	)* -1  AS ADJUSTED  ,  
	OI.UPDATED_FROM  ,  
	OI.IDEN_ROW_ID , 'COI', OI.PRINTED_ON_NOTICE  , 
	CDLI.RTL_BATCH_NUMBER , CDLI.RTL_GROUP_NUMBER

	FROM ACT_CUSTOMER_OPEN_ITEMS  OI with(nolock)  
	--ITRACK #4096
	LEFT JOIN POL_CUSTOMER_POLICY_LIST CPL with(nolock) 
	ON  OI.CUSTOMER_ID  = CPL.CUSTOMER_ID
	AND OI.POLICY_ID	= CPL.POLICY_ID
	AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID
	-- END ITRACK #4096 
	
	--Ravindra(12-08-2008): For RTL View Integration
	LEFT JOIN ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI 
	ON CDLI.CD_LINE_ITEM_ID = OI.SOURCE_ROW_ID 
	AND OI.UPDATED_FROM = 'D' 

	WHERE OI.CUSTOMER_ID = @CUSTOMER_ID  
	AND OI.POLICY_ID = @POLICY_ID  
	AND OI.UPDATED_FROM NOT IN ('P','F')  
	
	AND ISNULL(OI.EXCLUDE_FROM_TRAN_HISTORY,0) = 0 --Ravindra(11-28-2008)
	
	AND OI.ITEM_TRAN_CODE_TYPE <> 'FEES'  
  
	AND ISNULL(OI.PAYMENT_STATUS,'') <> 'R' 

	--PAyment Reversal Entries
	INSERT INTO @ARREPORT        
	(        
	SOURCE_TRAN_DATE, SOURCE_EFF_DATE ,POSTING_DATE ,  
	DESCRIPTION,  VERSION_NO  ,                    
	TOTAL_AMOUNT    
	,INSF_FEE,LATE_FEE  ,REINS_FEE  ,         
	NSF_FEE  ,ADJUSTED , TYPE    ,  
	SOURCE_ROW_ID , SOURCE , PRINTED_ON_NOTICE  , 
	RTL_BATCH_NUMBER ,
	RTL_GROUP_NUMBER
	)        
	SELECT OI.POSTING_DATE , OI.SOURCE_EFF_DATE ,OI.DUE_DATE,  
	OI.TRANS_DESC , 
	--' (V ' + CAST(POLICY_VERSION_ID AS VARCHAR)+'.0)',  
	' (V '  + CAST(ISNULL(CPL.POLICY_DISP_VERSION,CAST(OI.[POLICY_VERSION_ID] AS VARCHAR) + '.0') AS VARCHAR) + ')',
	OI.TOTAL_DUE ,  
	(  
		SELECT SUM(ISNULL(REC.RECON_AMOUNT,0)) FROM   
		ACT_CUSTOMER_RECON_GROUP_DETAILS REC with(nolock)  
		INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OIP with(nolock)  
		ON OIP.IDEN_ROW_ID  = REC.ITEM_REFERENCE_ID  
		AND OIP.ITEM_TRAN_CODE_TYPE = 'FEES'  
		AND OIP.ITEM_TRAN_CODE = 'INSF'  
		AND OIP.UPDATED_FROM <> 'F'  
		WHERE REC.GROUP_ID IN 
			(
				SELECT DET_INSF.GROUP_ID FROM ACT_CUSTOMER_RECON_GROUP_DETAILS DET_INSF 
				WHERE DET_INSF.ITEM_REFERENCE_ID = OI.IDEN_ROW_ID
			)  
		AND ITEM_REFERENCE_ID <> OI.IDEN_ROW_ID  
	) * -1 AS INSF_FEE,  
	(  
		SELECT SUM(ISNULL(REC.RECON_AMOUNT,0)) FROM   
		ACT_CUSTOMER_RECON_GROUP_DETAILS REC with(nolock)  
		INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OIP with(nolock)  
		ON OIP.IDEN_ROW_ID  = REC.ITEM_REFERENCE_ID  
		AND OIP.ITEM_TRAN_CODE_TYPE = 'FEES'  
		AND OIP.ITEM_TRAN_CODE = 'LF'  
		AND OIP.UPDATED_FROM <> 'F'  
		WHERE REC.GROUP_ID IN 
			(
				SELECT DET_LF.GROUP_ID FROM ACT_CUSTOMER_RECON_GROUP_DETAILS DET_LF 
				WHERE DET_LF.ITEM_REFERENCE_ID = OI.IDEN_ROW_ID
			)  
		AND ITEM_REFERENCE_ID <> OI.IDEN_ROW_ID  
	) * -1 AS LATE_FEE,  
	(  
		SELECT SUM(ISNULL(REC.RECON_AMOUNT,0))  FROM   
		ACT_CUSTOMER_RECON_GROUP_DETAILS REC with(nolock)  
		INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OIP with(nolock)  
		ON OIP.IDEN_ROW_ID  = REC.ITEM_REFERENCE_ID  
		AND OIP.ITEM_TRAN_CODE_TYPE = 'FEES'  
		AND OIP.ITEM_TRAN_CODE = 'RENSF'  
		AND OIP.UPDATED_FROM <> 'F'  
		WHERE REC.GROUP_ID IN 
				(
					SELECT DET_RENS.GROUP_ID FROM ACT_CUSTOMER_RECON_GROUP_DETAILS DET_RENS
					WHERE DET_RENS.ITEM_REFERENCE_ID = OI.IDEN_ROW_ID
				)  
		AND ITEM_REFERENCE_ID <> OI.IDEN_ROW_ID  
	)* -1  AS REINS_FEE  ,  
	(  
		SELECT SUM(ISNULL(REC.RECON_AMOUNT,0)) FROM   
		ACT_CUSTOMER_RECON_GROUP_DETAILS REC with(nolock)  
		INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OIP with(nolock)  
		ON OIP.IDEN_ROW_ID  = REC.ITEM_REFERENCE_ID  
		AND OIP.ITEM_TRAN_CODE_TYPE = 'FEES'  
		AND OIP.ITEM_TRAN_CODE = 'NSFF'  
		AND OIP.UPDATED_FROM <> 'F'  
		WHERE REC.GROUP_ID IN 
				(
					SELECT DET_NSF.GROUP_ID FROM ACT_CUSTOMER_RECON_GROUP_DETAILS DET_NSF
					WHERE DET_NSF.ITEM_REFERENCE_ID = OI.IDEN_ROW_ID
				)  
		AND ITEM_REFERENCE_ID <> OI.IDEN_ROW_ID  
	)* -1  AS NSF_FEE  ,  
	(  
		SELECT SUM(ISNULL(REC.RECON_AMOUNT,0)) * -1 FROM   
		ACT_CUSTOMER_RECON_GROUP_DETAILS REC with(nolock)  
		INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OIP with(nolock)  
		ON OIP.IDEN_ROW_ID  = REC.ITEM_REFERENCE_ID  
		WHERE REC.GROUP_ID IN 
				(
				SELECT GRP.GROUP_ID FROM ACT_RECONCILIATION_GROUPS GRP with(nolock)  
				INNER JOIN ACT_CUSTOMER_RECON_GROUP_DETAILS RECD with(nolock)  
				ON GRP.GROUP_ID = RECD.GROUP_ID   
				INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OI1 with(nolock)  
				ON OI1.IDEN_ROW_ID = RECD.ITEM_REFERENCE_ID  
				WHERE RECON_ENTITY_ID = @CUSTOMER_ID  
				AND OI1.POLICY_ID <> @POLICY_ID  
				AND GRP.IS_COMMITTED = 'Y'  
				)  
		AND ITEM_REFERENCE_ID = OI.IDEN_ROW_ID  
	)* -1  AS ADJUSTED  ,  
	OI.UPDATED_FROM  ,  
	OI.IDEN_ROW_ID , 'COI', OI.PRINTED_ON_NOTICE  , 
	NULL , NULL

	FROM ACT_CUSTOMER_OPEN_ITEMS  OI with(nolock)  
	--ITRACK #4096
	LEFT JOIN POL_CUSTOMER_POLICY_LIST CPL with(nolock) 
	ON  OI.CUSTOMER_ID  = CPL.CUSTOMER_ID
	AND OI.POLICY_ID	= CPL.POLICY_ID
	AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID
	-- END ITRACK #4096 
	
	WHERE OI.CUSTOMER_ID = @CUSTOMER_ID  
	AND OI.POLICY_ID = @POLICY_ID  
	AND OI.UPDATED_FROM NOT IN ('P','F')  
	
	AND ISNULL(OI.EXCLUDE_FROM_TRAN_HISTORY,0) = 0 --Ravindra(11-28-2008)
	
	AND OI.ITEM_TRAN_CODE_TYPE <> 'FEES'  
  
	AND ISNULL(OI.PAYMENT_STATUS,'') = 'R' 


	--Added By Ravindra(08-10-2007) : To fetch Deposits from other policies adjusted against this policy  
	INSERT INTO @ARREPORT        
	(        
	SOURCE_TRAN_DATE, SOURCE_EFF_DATE ,POSTING_DATE ,  
	DESCRIPTION,                      
	TOTAL_AMOUNT 
	,INSF_FEE,LATE_FEE  ,REINS_FEE  ,         
	NSF_FEE  ,ADJUSTED , TYPE    ,  
	SOURCE_ROW_ID , SOURCE , PRINTED_ON_NOTICE ,  
	TEMP_PREMIUM   
	)        
	SELECT --TEMP.GROUP_ID ,   
	GRP_OUTER.DATE_COMMITTED,  
	GRP_OUTER.DATE_COMMITTED ,GRP_OUTER.DATE_COMMITTED,  
	'Manual adjustment (Group No. ' +  CONVERT(VARCHAR,TEMP.GROUP_ID) + ')',  
	(  
		SELECT SUM(ISNULL(REC.RECON_AMOUNT,0)) FROM   
		ACT_CUSTOMER_RECON_GROUP_DETAILS REC with(nolock)  
		WHERE REC.GROUP_ID = TEMP.GROUP_ID   
		AND ISNULL(REC.RECON_AMOUNT,0)  > 0  
	) AS TOTAL_RECON,   
	(  
		SELECT SUM(ISNULL(REC.RECON_AMOUNT,0)) FROM   
		ACT_CUSTOMER_RECON_GROUP_DETAILS REC with(nolock)  
		INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OIP with(nolock)  
		ON OIP.IDEN_ROW_ID  = REC.ITEM_REFERENCE_ID  
		AND OIP.ITEM_TRAN_CODE_TYPE = 'FEES'  
		AND OIP.ITEM_TRAN_CODE = 'INSF'  
		AND OIP.UPDATED_FROM <> 'F'  
		WHERE REC.GROUP_ID = TEMP.GROUP_ID   
		AND ITEM_REFERENCE_ID IN 
				(
				SELECT IDEN_ROW_ID    
				FROM ACT_CUSTOMER_OPEN_ITEMS  with(nolock)  
				WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID 
				)  
	) * -1 AS INSF_FEE,  
	(  
		SELECT SUM(ISNULL(REC.RECON_AMOUNT,0)) FROM   
		ACT_CUSTOMER_RECON_GROUP_DETAILS REC with(nolock)  
		INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OIP with(nolock)  
		ON OIP.IDEN_ROW_ID  = REC.ITEM_REFERENCE_ID  
		AND OIP.ITEM_TRAN_CODE_TYPE = 'FEES'  
		AND OIP.ITEM_TRAN_CODE = 'LF'  
		AND OIP.UPDATED_FROM <> 'F'  
		WHERE REC.GROUP_ID = TEMP.GROUP_ID   
		AND ITEM_REFERENCE_ID IN 
				(
				SELECT IDEN_ROW_ID    
				FROM ACT_CUSTOMER_OPEN_ITEMS  with(nolock)  
				WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID 
				)  
	)* -1  AS LATE_FEE,  
	(  
		SELECT SUM(ISNULL(REC.RECON_AMOUNT,0)) FROM   
		ACT_CUSTOMER_RECON_GROUP_DETAILS REC with(nolock)  
		INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OIP with(nolock)  
		ON OIP.IDEN_ROW_ID  = REC.ITEM_REFERENCE_ID  
		AND OIP.ITEM_TRAN_CODE_TYPE = 'FEES'  
		AND OIP.ITEM_TRAN_CODE = 'RENSF'  
		AND OIP.UPDATED_FROM <> 'F'  
		WHERE REC.GROUP_ID = TEMP.GROUP_ID   
		AND ITEM_REFERENCE_ID IN 
				(
				SELECT IDEN_ROW_ID    
				FROM ACT_CUSTOMER_OPEN_ITEMS with(nolock)  
				WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID 
				)  
	) * -1 AS REINS_FEE,  
	(   
		SELECT SUM(ISNULL(REC.RECON_AMOUNT,0)) FROM   
		ACT_CUSTOMER_RECON_GROUP_DETAILS REC with(nolock)  
		INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OIP with(nolock)  
		ON OIP.IDEN_ROW_ID  = REC.ITEM_REFERENCE_ID  
		AND OIP.ITEM_TRAN_CODE_TYPE = 'FEES'  
		AND OIP.ITEM_TRAN_CODE = 'NSFF'  
		AND OIP.UPDATED_FROM <> 'F'  
		WHERE REC.GROUP_ID = TEMP.GROUP_ID   
		AND ITEM_REFERENCE_ID IN 
				(
				SELECT IDEN_ROW_ID    
				FROM ACT_CUSTOMER_OPEN_ITEMS with(nolock)  
				WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID 
				)  
	) * -1 AS NSF_FEE,  
	(  
		SELECT SUM(ISNULL(REC.RECON_AMOUNT,0)) FROM   
		ACT_CUSTOMER_RECON_GROUP_DETAILS REC with(nolock)  
		INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OIP with(nolock)  
		ON OIP.IDEN_ROW_ID  = REC.ITEM_REFERENCE_ID  
		WHERE REC.GROUP_ID = TEMP.GROUP_ID   
		AND ISNULL(REC.RECON_AMOUNT,0)  > 0  
		AND ITEM_REFERENCE_ID NOT IN 
				(
				SELECT IDEN_ROW_ID    
				FROM ACT_CUSTOMER_OPEN_ITEMS  with(nolock)  
				WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID 
				)  
	) AS ADJUSTED , -- Will fetch Adjusted  
	'A',  
	GRP_OUTER.GROUP_ID , 'REC', GRP_OUTER.PRINTED_ON_NOTICE  , -- How to handel Printed on Notice  
	TEMP.TOTAL_APPLIED  
	FROM  
	(  
		SELECT RD.GROUP_ID AS GROUP_ID, SUM(RD.RECON_AMOUNT) AS TOTAL_APPLIED  
		FROM ACT_CUSTOMER_RECON_GROUP_DETAILS RD with(nolock)  
		INNER JOIN ACT_RECONCILIATION_GROUPS GRP_OUTER with(nolock)  
		ON GRP_OUTER.GROUP_ID = RD.GROUP_ID  
		INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OI with(nolock)  
		ON RD.ITEM_REFERENCE_ID = OI.IDEN_ROW_ID  
		WHERE RD.GROUP_ID IN   
				(  
				SELECT RECD.GROUP_ID  from ACT_CUSTOMER_RECON_GROUP_DETAILS RECD with(nolock)  
				INNER JOIN ACT_RECONCILIATION_GROUPS RECG with(nolock)  
				ON RECD.GROUP_ID = RECG.GROUP_ID  
				WHERE RECD.ITEM_REFERENCE_ID IN 
					(
					SELECT IDEN_ROW_ID    
					FROM ACT_CUSTOMER_OPEN_ITEMS  with(nolock)  
					WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID 
					)  
					AND NOT EXISTS  
					(
					SELECT OI3.IDEN_ROW_ID FROM ACT_CUSTOMER_OPEN_ITEMS OI3  with(nolock)    
					INNER JOIN ACT_CUSTOMER_RECON_GROUP_DETAILS REC3  
					ON REC3.ITEM_REFERENCE_ID = OI3.IDEN_ROW_ID  
					AND REC3.GROUP_ID = RECG.GROUP_ID  
					AND OI3.CUSTOMER_ID = @CUSTOMER_ID  
					AND OI3.POLICY_ID = @POLICY_ID  
					AND ISNULL(OI3.TOTAL_DUE,0) < 0  
					--Ravindra(1-20-09): Only exclude reconcilliations against deposit from this policy
					-- there could be cancellation credit applied against other policy in that case an 
					--entry should be there on either policy
					AND ISNULL(OI3.UPDATED_FROM,0) = 'D' 
					)  
				)  
		AND ITEM_REFERENCE_ID NOT IN   
				( 
				SELECT IDEN_ROW_ID  FROM ACT_CUSTOMER_OPEN_ITEMS  with(nolock)  
				WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID  
				)  
	
		--AND OI.UPDATED_FROM = 'D'  
		GROUP BY RD.GROUP_ID  
	)TEMP   
	INNER JOIN ACT_RECONCILIATION_GROUPS GRP_OUTER with(nolock)  
	ON GRP_OUTER.GROUP_ID = TEMP.GROUP_ID  
--  
-- SELECT GRP_OUTER.DATE_COMMITTED,  
-- GRP_OUTER.DATE_COMMITTED ,GRP_OUTER.DATE_COMMITTED,  
-- 'Manual adjustment',  
-- OI.TOTAL_DUE ,  
-- (  
--  SELECT SUM(ISNULL(REC.RECON_AMOUNT,0)) FROM   
--  ACT_CUSTOMER_RECON_GROUP_DETAILS REC with(nolock)  
--  INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OIP with(nolock)  
--  ON OIP.IDEN_ROW_ID  = REC.ITEM_REFERENCE_ID  
--   AND OIP.ITEM_TRAN_CODE_TYPE = 'FEES'  
--   AND OIP.ITEM_TRAN_CODE = 'INSF'  
--   AND OIP.UPDATED_FROM <> 'F'  
--  WHERE REC.GROUP_ID = RD.GROUP_ID   
--  AND ITEM_REFERENCE_ID IN (SELECT IDEN_ROW_ID    
--          FROM ACT_CUSTOMER_OPEN_ITEMS  with(nolock)  
--          WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID )  
--    ) * -1 AS INSF_FEE,  
-- (  
--  SELECT SUM(ISNULL(REC.RECON_AMOUNT,0)) FROM   
--  ACT_CUSTOMER_RECON_GROUP_DETAILS REC with(nolock)  
--  INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OIP with(nolock)  
--  ON OIP.IDEN_ROW_ID  = REC.ITEM_REFERENCE_ID  
--   AND OIP.ITEM_TRAN_CODE_TYPE = 'FEES'  
--   AND OIP.ITEM_TRAN_CODE = 'LF'  
--   AND OIP.UPDATED_FROM <> 'F'  
--  WHERE REC.GROUP_ID = RD.GROUP_ID   
--  AND ITEM_REFERENCE_ID IN (SELECT IDEN_ROW_ID    
--          FROM ACT_CUSTOMER_OPEN_ITEMS  with(nolock)  
--          WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID )  
--    )* -1  AS LATE_FEE,  
-- (  
--  SELECT SUM(ISNULL(REC.RECON_AMOUNT,0)) FROM   
--  ACT_CUSTOMER_RECON_GROUP_DETAILS REC with(nolock)  
--  INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OIP with(nolock)  
--  ON OIP.IDEN_ROW_ID  = REC.ITEM_REFERENCE_ID  
--   AND OIP.ITEM_TRAN_CODE_TYPE = 'FEES'  
--   AND OIP.ITEM_TRAN_CODE = 'RENSF'  
--   AND OIP.UPDATED_FROM <> 'F'  
--  WHERE REC.GROUP_ID = RD.GROUP_ID   
--  AND ITEM_REFERENCE_ID IN (SELECT IDEN_ROW_ID    
--          FROM ACT_CUSTOMER_OPEN_ITEMS with(nolock)  
--          WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID )  
--    ) * -1 AS REINS_FEE,  
-- (   
--  SELECT SUM(ISNULL(REC.RECON_AMOUNT,0)) FROM   
--  ACT_CUSTOMER_RECON_GROUP_DETAILS REC with(nolock)  
--  INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OIP with(nolock)  
--  ON OIP.IDEN_ROW_ID  = REC.ITEM_REFERENCE_ID  
--   AND OIP.ITEM_TRAN_CODE_TYPE = 'FEES'  
--   AND OIP.ITEM_TRAN_CODE = 'NSFF'  
--   AND OIP.UPDATED_FROM <> 'F'  
--  WHERE REC.GROUP_ID = RD.GROUP_ID   
--  AND ITEM_REFERENCE_ID IN (SELECT IDEN_ROW_ID    
--          FROM ACT_CUSTOMER_OPEN_ITEMS with(nolock)  
--          WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID )  
--    ) * -1 AS NSF_FEE,  
-- NULL,  
-- 'A' ,  
-- OI.IDEN_ROW_ID , 'COI', OI.PRINTED_ON_NOTICE,  
-- RD.RECON_AMOUNT  
-- FROM ACT_CUSTOMER_RECON_GROUP_DETAILS RD with(nolock)  
-- INNER JOIN ACT_RECONCILIATION_GROUPS GRP_OUTER with(nolock)  
-- ON GRP_OUTER.GROUP_ID = RD.GROUP_ID  
-- INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OI with(nolock)  
-- LEFT JOIN POL_CUSTOMER_POLICY_LIST CPL with(nolock)  
-- ON OI.CUSTOMER_ID = CPL.CUSTOMER_ID   
-- AND OI.POLICY_ID  = CPL.POLICY_ID   
-- AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID  
-- ON RD.ITEM_REFERENCE_ID = OI.IDEN_ROW_ID  
-- WHERE RD.GROUP_ID IN   
--  (  
--   SELECT RECD.GROUP_ID  from ACT_CUSTOMER_RECON_GROUP_DETAILS RECD with(nolock)  
--   INNER JOIN ACT_RECONCILIATION_GROUPS RECG with(nolock)  
--   ON RECD.GROUP_ID = RECG.GROUP_ID  
--   WHERE RECD.ITEM_REFERENCE_ID IN (SELECT IDEN_ROW_ID    
--        FROM ACT_CUSTOMER_OPEN_ITEMS  with(nolock)  
--       WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID )  
--  
--  ) 
-- AND ITEM_REFERENCE_ID NOT IN   
--  ( SELECT IDEN_ROW_ID  FROM ACT_CUSTOMER_OPEN_ITEMS  with(nolock)  
--   WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID  
--  )  
--  
-- AND OI.UPDATED_FROM = 'D'  
 --Added By Ravindra(08-10-2007) ends here  
--END  
  
SELECT * FROM @ARREPORT   order by SOURCE_TRAN_DATE  
 
END  
  
--go   
----UPDATE ACT_CUSTOMER_OPEN_ITEMS SET 
------SOURCE_ROW_ID = 71978 , SOURCE_NUM = 71978 , 
----PAYMENT_STATUS = 'R' WHERE IDEN_ROW_ID = 71978 
----UPDATE ACT_RECONCILIATION_GROUPS  SET CD_LINE_ITEM_ID = NULL WHERE GROUP_ID = 14889
--
--exec dbo.Proc_GetTransactionHistory 1577 , 44, 'A7002534'
--
--rollback tran  
--
--





GO

