IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_GET_CLM_DR_CR_ACCT_FOR_ACTIVITY]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_GET_CLM_DR_CR_ACCT_FOR_ACTIVITY]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*
Reviewed By	:	Anurag verma
Reviewed On	:	16-07-2007
 MOdified by : Praveen kasana
 Reviewed On	:	14-03-2008
*/



CREATE PROC dbo.PROC_GET_CLM_DR_CR_ACCT_FOR_ACTIVITY
(
	@CLAIM_ID  AS INTEGER,
	@ACTIVITY_ID  AS INTEGER
)

AS
begin
	DECLARE @ACTIVITY_REASON  AS INTEGER
	SELECT  @ACTIVITY_REASON  = ISNULL(ACTIVITY_REASON,0)  
	FROM CLM_ACTIVITY  with (NoLock) 
	WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID=@ACTIVITY_ID 

	
	if (@ACTIVITY_REASON = '11776') -- Recovery
	Begin 
	 SELECT 'Recovery' , ISNULL(DRACCTS,0) AS DRACCTS, ISNULL(CRACCTS,0) AS CRACCTS from CLM_ACTIVITY_RECOVERY with (NoLock) 
	 WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID=@ACTIVITY_ID and ISNULL(DRACCTS,0) <> 0 and ISNULL(CRACCTS,0) <> 0
	End
	
	ELSE if (@ACTIVITY_REASON = '11774') -- Expense Payment  
	Begin 
	 SELECT 'Expense' , ISNULL(DRACCTS,0) AS DRACCTS, ISNULL(CRACCTS,0) AS CRACCTS from CLM_ACTIVITY_EXPENSE with (NoLock) 
	 WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID=@ACTIVITY_ID and ISNULL(DRACCTS,0) <> 0 and ISNULL(CRACCTS,0) <> 0
	End
	
	ELSE if (@ACTIVITY_REASON = '11775') -- Indemnity Payment
	Begin 
	 SELECT 'Indemnity' , ISNULL(DRACCTS,0) AS DRACCTS, ISNULL(CRACCTS,0) AS CRACCTS from CLM_ACTIVITY_PAYMENT with (NoLock) 
	 WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID=@ACTIVITY_ID and ISNULL(DRACCTS,0) <> 0 and ISNULL(CRACCTS,0) <> 0
	End
	
	
	ELSE if (@ACTIVITY_REASON = '11773' or @ACTIVITY_REASON = '11836') -- Reserve Update or New Reserve
	BEGIN 
	  IF(@ACTIVITY_ID = 1)
	    BEGIN
		SET @ACTIVITY_ID = 0
	    END

	  SELECT TOP 1 'RESERVE' , ISNULL(DRACCTS,0) AS DRACCTS, ISNULL(CRACCTS,0) AS CRACCTS FROM CLM_ACTIVITY_RESERVE WITH (NOLOCK) 
	  WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID=@ACTIVITY_ID and ISNULL(DRACCTS,0) <> 0 and ISNULL(CRACCTS,0) <> 0
	END
END



GO

