IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_ChangePremiumPolicyOpenItems]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_ChangePremiumPolicyOpenItems]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN
--drop PROCEDURE dbo.Proc_ChangePremiumPolicyOpenItems  
--go
/*----------------------------------------------------------------------  
Procedure Name	: dbo.Proc_ChangePremiumPolicyOpenItems  
Created By  	: Vijay Joshi  
Created Date 	: Sep, 12 2005  
Purpose   		: To Change customer open items and agency open items,   
					and do the posting to the account, whenever a policy has been change  
					Revision History  
					Revision Date  Purpose  
					07, Sep 2005  To implement new functionality as per new document  

Modified By 	: Ravindra Gupta 
Modified On		: 09-22-2006
Purpose 		: To facilate risk Specific Commission calculation 
					for change in premium amount in case of policy under Installment plan 
					new entry will be created for changed amount instead of updating the old record
					and this entry will be Risk specific. 
					This SP is called for each risk in the policy

Modified By 	: Pravesh k Chandel
Modified On		: 25 may 2007
Purpose 		: To add new parameter for Return if Commission not found

Modified By 	: Ravindra Gupta 
Modified On		: 03-18-2009
Purpose 		: Commissions to be calculated on net premium, system was calculating it on gross

-----------------------------------------------------------------------*/  
--drop PROCEDURE dbo.Proc_ChangePremiumPolicyOpenItems  
CREATE PROCEDURE [dbo].[Proc_ChangePremiumPolicyOpenItems]  
(  
	@CUSTOMER_ID    		INT,  	--Id of customer whose premium policy will be posted  
	@APP_ID     			INT,  	--Application id   
	@APP_VERSION_ID   		INT,  	--Application version  id  
	@POLICY_ID    			INT,  	--Policy identification number  
	@POLICY_VERSION_ID  	INT,   	--Policy version identification number  
	@CHANGE_PREMIUM_AMOUNT 	DECIMAL(25,8),  --Premium amount,  
	@CHANGE_EFFECTIVE_DATE 	DATETIME,   	--Date from which the change in business comes into effect  
	@PARAM1     			VARCHAR(10),  	--Source Row ID  
	@PARAM2     			VARCHAR(10),  	--User Id  
	@PARAM3     			VARCHAR(10),  	--Extra parameter  -- If Same Policy 'Y' else NULL or 'N'
	@PARAM4     			VARCHAR(10),   	--Extra parameter  
	@COMMISSION_CLASS		int  ,			-- Commission Class in which risk Fall
	@RISK_ID				int  ,			-- RiskID of the risk as in risk info table
	@RISK_TYPE				varchar(15),	-- RiskType of the risk as in Quote XML
	@MCCA_FEES				decimal(20,8),		-- MCCA fees amount
	@OTHER_FEES				decimal(20,8),		-- Other fees
	@FEES_TO_REVERSE		decimal(20,8) ,  -- Fees To be reversed for deleted risks
	@RetVal					int =0 out ,		--return value -2 if commission not found
	@TOTAL_INFORCE_PREMIUM  Decimal(25,2) -- Added By Ravindra(08-24-2007) 
								-- Change premium will be distributed based on Inforce Premium

)  
AS  
BEGIN  

IF @CHANGE_PREMIUM_AMOUNT=0  
begin
	set @RetVal=1
	return 1  
end

/*Varibale declaration for retreiving the information from the database*/  
DECLARE @IS_PREBILL   SMALLINT,  
		@BILL_TYPE     CHAR(2),  
		@INSTALLMENT    SMALLINT,  
		@TRAN_ID     SMALLINT,  
		@HOME_EMP     CHAR(1),  
		@COMPLETE_APP    CHAR(1),  
		@PROPRTY_INSP_CREDIT  CHAR(1),  
		@AGENCY_REG_COMM_PRCT  DECIMAL(20,8),  
		@AGENCY_REG_COMM   DECIMAL(20,8),  
		@AGENCY_COMP_COMM_PRCT  DECIMAL(20,8),  
		@AGENCY_COMP_COMM   DECIMAL(20,8),  
		@AGENCY_ADDI_COMM_PRCT  DECIMAL(20,8),  
		@AGENCY_ADDI_COMM   DECIMAL(20,8),  
		@MODE      CHAR(1),  
		@STATE_ID     SMALLINT,  
		@APP_LOB     VARCHAR(10),  
		@APP_SUBLOB    VARCHAR(10),  
		@APP_AGENCY_ID    SMALLINT,  
		@PREBILL_DATE    DATETIME,  
		@GL_ID      SMALLINT,  
		@PREIMUM_AMT   DECIMAL(25,8),  
		@POLICY_EFFECTIVE_DATE DATETIME,  
		@INSTALLMENT_FEES  DECIMAL(18,2),  
		@APP_TERMS    NVARCHAR(10),  
		@TOTAL_PREMIUM_AMOUNT DECIMAL(25,4),  
		@AGENCY_ID    SMALLINT,  
		@UPDATED_FROM   VARCHAR(2),  
		@POLICY_EXPIRATION_DATE DATETIME,  
		@SOURCE_ROW_ID    INTEGER,  
		@USER_ID    SMALLINT,  
		@USER_CODE    VARCHAR(10),  
		@USER_NAME    VARCHAR(60),  
		@FULL_PAY_PLAN_ID  SMALLINT,  
		@POLICY_TERM Char(1),
		@POL_VER_EFFECTIVE_DATE DateTime,
		@POL_VER_EXPIRATION_DATE DateTime,
		@CURRENT_TERM 	Int ,
		@IS_REWRITE_POLICY	Char(1) ,

		-- Added For Entity Name & Transaction Description 
		@CUSTOMER_NAME Varchar(200),
		@AGENCY_NAME Varchar(200),
		@TRAN_DESCRIPTION Varchar(500)
		    
--------------  
SET @SOURCE_ROW_ID  = @PARAM1  
SET @USER_ID  = @PARAM2  
	
select @USER_CODE = USER_LOGIN_ID, @USER_NAME =  (USER_FNAME + ' ' + USER_LNAME) from MNT_USER_LIST   
where user_id = @USER_ID   

SELECT @FULL_PAY_PLAN_ID = IDEN_PLAN_ID  FROM ACT_INSTALL_PLAN_DETAIL  
WHERE ISNULL(SYSTEM_GENERATED_FULL_PAY,0) = 1  

SELECT @POLICY_TERM = TERM_TYPE FROM ACT_PREMIUM_PROCESS_DETAILS  
WHERE PROCESS_ID = @SOURCE_ROW_ID  
---------------   

SET @TOTAL_PREMIUM_AMOUNT  = @CHANGE_PREMIUM_AMOUNT + @MCCA_FEES + @OTHER_FEES
/*Variables for holding various account numbers, to be used in posting*/   
DECLARE @FULLPREMIUM_ACCOUNT SMALLINT, --Premium account number  
@OTHER_FEES_ACCOUNT   SMALLINT, --Other fee account number  
@PREMIUM_INCOME_ACCOUNT  SMALLINT, --Premium income account number  
@COMM_EXPENSE_ACCOUNT   SMALLINT, --Comm expense account number  
@COMM_PAYABLE_ACCOUNT   SMALLINT --Commission payable account number  


SET @UPDATED_FROM = 'P'   


--Fetching the application or policy information  
SELECT  @BILL_TYPE = ISNULL(CPL.BILL_TYPE, 0),   
		@INSTALLMENT = ISNULL(CPL.INSTALL_PLAN_ID, 0),  
		@COMPLETE_APP = ISNULL(CPL.COMPLETE_APP, 'N'), 
		@PROPRTY_INSP_CREDIT = CASE ISNULL(CPL.PROPRTY_INSP_CREDIT, 0) WHEN 10963 THEN 'Y' ELSE 'N' END,  
		@STATE_ID = CPL.STATE_ID,   
		@CURRENT_TERM = CPL.CURRENT_TERM ,
		@APP_LOB = CPL.POLICY_LOB,   
		@APP_SUBLOB = CPL.POLICY_SUBLOB,   
		@APP_AGENCY_ID = CPL.AGENCY_ID,  
		@APP_TERMS = CPL.APP_TERMS,  
		@POLICY_EFFECTIVE_DATE = CPL.APP_EFFECTIVE_DATE,  
		@POLICY_EXPIRATION_DATE = CPL.APP_EXPIRATION_DATE,  
		@APP_ID = AL.APP_ID,  
		@APP_VERSION_ID = AL.APP_VERSION_ID  ,
		@POL_VER_EFFECTIVE_DATE  = CPL.POL_VER_EFFECTIVE_DATE,
		@POL_VER_EXPIRATION_DATE  = CPL.POL_VER_EXPIRATION_DATE,
		@TRAN_DESCRIPTION 			=	POLICY_NUMBER + ' ' +  POLICY_DISP_VERSION , 
		@IS_REWRITE_POLICY			=  ISNULL(IS_REWRITE_POLICY,'N') 
FROM POL_CUSTOMER_POLICY_LIST CPL  WITH(NOLOCK) 
LEFT JOIN APP_LIST AL ON   
	AL.APP_ID = CPL.APP_ID AND AL.APP_VERSION_ID = CPL.APP_VERSION_ID AND AL.CUSTOMER_ID = CPL.CUSTOMER_ID  
WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID AND CPL.POLICY_ID = @POLICY_ID AND CPL.POLICY_VERSION_ID = @POLICY_VERSION_ID  



--Fetch Insured Name & Agency Name	
SELECT @CUSTOMER_NAME = ISNULL(CUSTOMER_CODE,'') + ' - ' + ISNULL(CUSTOMER_FIRST_NAME,'') 
		+ ' ' + ISNULL(CUSTOMER_MIDDLE_NAME,'') +
		CASE WHEN ISNULL(CUSTOMER_MIDDLE_NAME,'') = '' THEN '' ELSE ' ' END
		+ 
		ISNULL(CUSTOMER_LAST_NAME ,'')
FROM CLT_CUSTOMER_LIST WITH(NOLOCK) 
WHERE CUSTOMER_ID = @CUSTOMER_ID 

SELECT @AGENCY_NAME = ISNULL(AGENCY_CODE,'') + ' - ' + ISNULL(AGENCY_DISPLAY_NAME,'') 
FROM MNT_AGENCY_LIST  WITH(NOLOCK) WHERE AGENCY_ID = @APP_AGENCY_ID

   

-- Commented By Ravindra ( 02-13-2007) 
-- This pro rata change in premium & fees will be calculated prior to calling this SP 
-- /*Calculating the pro-rated change in premium as per change effective date and policy efective date*/  
-- DECLARE @TOTAL_DAYS INT  
-- SET @TOTAL_DAYS = DATEDIFF(DAY, @POLICY_EFFECTIVE_DATE, @POLICY_EXPIRATION_DATE)  
-- SELECT @CHANGE_PREMIUM_AMOUNT =  ROUND(@CHANGE_PREMIUM_AMOUNT - (( @CHANGE_PREMIUM_AMOUNT * DATEDIFF ( DAY, @POLICY_EFFECTIVE_DATE, @CHANGE_EFFECTIVE_DATE ) ) / @TOTAL_DAYS ),0)  
-- 
-- --- Calculating Pro Rata Changes in Fees
-- 
-- SELECT @MCCA_FEES =  ROUND(@MCCA_FEES - (( @MCCA_FEES * DATEDIFF ( DAY, @POL_VER_EFFECTIVE_DATE, @POL_VER_EXPIRATION_DATE ) ) / @TOTAL_DAYS ),0)  
-- 
-- SELECT @OTHER_FEES =  ROUND(@OTHER_FEES - (( @OTHER_FEES * DATEDIFF (  DAY, @POL_VER_EFFECTIVE_DATE, @POL_VER_EXPIRATION_DATE ) ) / @TOTAL_DAYS ),0)  

-- SELECT @FEES_TO_REVERSE =  ROUND(@FEES_TO_REVERSE - (( @FEES_TO_REVERSE * DATEDIFF (  DAY, @POL_VER_EFFECTIVE_DATE, @POL_VER_EXPIRATION_DATE ) ) / @TOTAL_DAYS ),0)  

   
-- If Endorsment is after any Renewal then Commission to be calculated 
-- treating Trem as Other Term Else if it is after New Business treat it as First Term 
--- Added By Ravindra(09-27-2006)
DECLARE @BASE_PROCESS_ID Int,
		@NBS			Int,
		@RENEWAL		Int,
		@REWRITE		Int

SET	@NBS		= 25
SET	@RENEWAL	= 18
SET @REWRITE	= 32	

SET @BASE_PROCESS_ID = @NBS
SET @POLICY_TERM = 'F'

IF EXISTS (SELECT PROCESS_ID FROM POL_POLICY_PROCESS  WITH(NOLOCK) 
		WHERE CUSTOMER_ID= @CUSTOMER_ID 
		AND POLICY_ID= @POLICY_ID 
		AND PROCESS_ID = @RENEWAL   -- Renewal Commit 
		AND ISNULL(REVERT_BACK,'N') <> 'Y'
		)
BEGIN
	SET @POLICY_TERM = 'O'
	SET @BASE_PROCESS_ID = @RENEWAL
END


--Ravindra(06-17-2008): After rewrite other term commissions will be applicable
IF EXISTS (SELECT PROCESS_ID FROM POL_POLICY_PROCESS  WITH(NOLOCK) 
		WHERE CUSTOMER_ID= @CUSTOMER_ID 
		AND POLICY_ID= @POLICY_ID 
		AND PROCESS_ID = @REWRITE   -- Renewal Commit 
		)
BEGIN 
	SET @POLICY_TERM = 'O'
	SET @BASE_PROCESS_ID = @REWRITE
END	

-- If transfer policy Commission will be processed as if Other Term 
IF (@IS_REWRITE_POLICY = 'Y')
BEGIN 
	SET @POLICY_TERM = 'O'
	SET @BASE_PROCESS_ID = @REWRITE
END


--Fetching the agency commission from reguler agency commission setup table
SET @AGENCY_REG_COMM_PRCT =0

SELECT  @AGENCY_REG_COMM_PRCT = ISNULL(COMMISSION_PERCENT,0) 
FROM ACT_REG_COMM_SETUP  WITH(NOLOCK) 
WHERE (STATE_ID = @STATE_ID OR STATE_ID = 0) AND 
(LOB_ID = @APP_LOB OR LOB_ID = 0) 
AND (ISNULL(SUB_LOB_ID,0) = ISNULL(@APP_SUBLOB,0)  OR ISNULL(SUB_LOB_ID,0) = 0) 
AND CLASS_RISK = @COMMISSION_CLASS
AND @POLICY_EFFECTIVE_DATE BETWEEN EFFECTIVE_FROM_DATE AND EFFECTIVE_TO_DATE
AND COMMISSION_TYPE = 'R'  
AND TERM = @POLICY_TERM 
AND ISNULL(IS_ACTIVE,'Y') = 'Y'
ORDER BY STATE_ID DESC, LOB_ID DESC, SUB_LOB_ID DESC, CLASS_RISK DESC 


-- If no commission found terminate process
IF(convert(INT,@AGENCY_REG_COMM_PRCT) =0)
BEGIN
	set @RetVal =-2
	RETURN -2
END

--Ravindra(05-07-2008) : PIC to be given if applicable 
DECLARE @SYS_PROPERTY_INS_COMM_APPLICABILITY Int

SELECT  @SYS_PROPERTY_INS_COMM_APPLICABILITY = ISNULL(SYS_PROPERTY_INS_COMM_APPLICABILITY,0) 
FROM MNT_SYSTEM_PARAMS WITH(NOLOCK)


--Ravindra(04-18-2008): Remove time stamp
SET @CHANGE_EFFECTIVE_DATE = CAST(CONVERT(VARCHAR,@CHANGE_EFFECTIVE_DATE,101) AS DATETIME) 

--SELECT @AGENCY_REG_COMM = ROUND(((@TOTAL_PREMIUM_AMOUNT * @AGENCY_REG_COMM_PRCT)/100), 2)  
SELECT @AGENCY_REG_COMM = ROUND(((@CHANGE_PREMIUM_AMOUNT * @AGENCY_REG_COMM_PRCT)/100), 2)  

-- Fetch Additional Commission Percentage For this Agency If Applicable
SET @AGENCY_ADDI_COMM_PRCT =0
SET @AGENCY_ADDI_COMM = 0 

SELECT @AGENCY_ADDI_COMM_PRCT = ISNULL(COMMISSION_PERCENT,0) 
FROM ACT_REG_COMM_SETUP WITH(NOLOCK)
	WHERE (STATE_ID = @STATE_ID OR STATE_ID = 0) AND 
		(LOB_ID = @APP_LOB OR LOB_ID = 0) 
		AND (ISNULL(SUB_LOB_ID,0) = ISNULL(@APP_SUBLOB,0)  OR ISNULL(SUB_LOB_ID,0) = 0) 
		AND CLASS_RISK = @COMMISSION_CLASS
		AND @POLICY_EFFECTIVE_DATE BETWEEN EFFECTIVE_FROM_DATE AND EFFECTIVE_TO_DATE
		AND COMMISSION_TYPE = 'A'  
		AND TERM = @POLICY_TERM
		AND ISNULL(IS_ACTIVE,'Y') = 'Y'
		AND AGENCY_ID = @APP_AGENCY_ID
ORDER BY STATE_ID DESC, LOB_ID DESC, SUB_LOB_ID DESC, CLASS_RISK DESC 

IF(convert(INT,@AGENCY_ADDI_COMM_PRCT) <> 0)
BEGIN
	--SELECT @AGENCY_ADDI_COMM = ROUND(((@TOTAL_PREMIUM_AMOUNT * @AGENCY_ADDI_COMM_PRCT)/100), 2)
	SELECT @AGENCY_ADDI_COMM = ROUND(((@CHANGE_PREMIUM_AMOUNT * @AGENCY_ADDI_COMM_PRCT)/100), 2)
END	


--Fetching the  installment fees  
SELECT @INSTALLMENT_FEES = ISNULL(INSTALLMENT_FEES, 0)   
FROM ACT_INSTALL_PLAN_DETAIL  
WHERE IDEN_PLAN_ID = @INSTALLMENT  

--Retreiving whether prebill or not  
SELECT @PREBILL_DATE = GETDATE(), @GL_ID = 1, @IS_PREBILL = 0  

IF CAST(CONVERT(VARCHAR,DATEADD(DD,-1,@CHANGE_EFFECTIVE_DATE),101 )  AS DATETIME ) > 
		CAST(CONVERT(VARCHAR,DATEADD(DD,-1,@PREBILL_DATE ) ,101 ) AS DATETIME) 
BEGIN  
	SELECT @IS_PREBILL = 1  
END  

CREATE TABLE #TMP_POST  
( 
	ACCOUNT_ID     		SMALLINT,  
	AMT      		DECIMAL(20,8),  
	APP_ID          	INT,  
	APP_VERSION_ID  	INT,  
	CUSTOMER_ID    		INT,  
	AGENCY_ID    		INT,  
	SOURCE_EFFECTIVE_DATE 	DATETIME,  
	TRANS_DESC    		VARCHAR(100),  
	POLICY_ID    		INT,  
	POLICY_VERSION_ID 	INT,
	TRAN_CODE		VARCHAR(10),
	TRAN_TYPE		VARCHAR(10),
	ACCOUNTS		BIT,
	OPEN_ITEMS		BIT,
	TRAN_ENTITY 		Varchar(200),
	TRAN_DESC		Varchar(500) , 
	COMMISSION_PERCENTAGE	Decimal(18,2) 
)  

SELECT  @HOME_EMP = CASE ISNULL(IS_HOME_EMP, 0) WHEN 1 THEN 'Y' ELSE 'N' END
	FROM POL_CUSTOMER_POLICY_LIST
WHERE POLICY_ID = @POLICY_ID 	AND POLICY_VERSION_ID = @POLICY_VERSION_ID AND CUSTOMER_ID = @CUSTOMER_ID
  

IF @IS_PREBILL = 0  -- No prebill  
BEGIN  
	SELECT   TOP 1
	@FULLPREMIUM_ACCOUNT = 
	CASE @BILL_TYPE   
	WHEN 'AB' THEN AST_UNCOLL_PRM_AGENCY   
	ELSE AST_UNCOLL_PRM_CUSTOMER   
	END,  
	@OTHER_FEES_ACCOUNT   = INC_PRM_WRTN_OTH_STATE_ASSESS_FEE,  
	@PREMIUM_INCOME_ACCOUNT = INC_PRM_WRTN,  
	@COMM_EXPENSE_ACCOUNT   = EXP_COMM_INCURRED,  
	@COMM_PAYABLE_ACCOUNT  = 
	CASE @BILL_TYPE   
	WHEN 'AB' THEN LIB_COMM_PAYB_AGENCY_BILL   
	ELSE LIB_COMM_PAYB_DIRECT_BILL   
	END  
	FROM ACT_GENERAL_LEDGER   
	WHERE GL_ID = @GL_ID   
--	AND GETDATE() between FISCAL_BEGIN_DATE AND FISCAL_END_DATE
END   
ELSE  
BEGIN   
	SELECT    TOP 1
	@FULLPREMIUM_ACCOUNT = CASE @BILL_TYPE   
	WHEN 'AB' THEN AST_UNCOLL_PRM_SUSPENSE_AGENCY_BILL   
	ELSE AST_UNCOLL_PREM_IN_SUSPENSE_DIRECT_BILL   
	END,  
	@OTHER_FEES_ACCOUNT = CASE @BILL_TYPE   
	WHEN 'AB' THEN AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_AGENCY_BILL   
	ELSE AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_DIRECT_BILL   
	END,  
	@PREMIUM_INCOME_ACCOUNT = CASE @BILL_TYPE   
	WHEN 'AB' THEN AST_PRM_WRIT_SUSPENSE_AGENCY_BILL   
	ELSE AST_PRM_WRIT_SUSPENSE_DIRECT_BILL   
	END,   
	@COMM_EXPENSE_ACCOUNT = CASE @BILL_TYPE   
	WHEN 'AB' THEN AST_COMM_EXPENSE_IN_SUSPENSE_AGENCY_BILL   
	ELSE AST_COMM_EXPENSE_IN_SUSPENSE_DIRECT_BILL   
	END,  
	@COMM_PAYABLE_ACCOUNT = CASE @BILL_TYPE   
	WHEN 'AB' THEN AST_COMM_PAYABLE_IN_SUSPENSE_AGENCY_BILL   
	ELSE AST_COMM_PAYABLE_IN_SUSPENSE_DIRECT_BILL   
	END  
	FROM ACT_GENERAL_LEDGER   
	WHERE GL_ID = @GL_ID   
--	AND GETDATE() between FISCAL_BEGIN_DATE AND FISCAL_END_DATE
END  


--Ravindra(03-26-2008): Now Implemented as per "EBX-DV25 - GL Account Summary Report.doc" 
--
--IF(@BILL_TYPE = 'AB')
--BEGIN 
--	SET @TRAN_ENTITY = @AGENCY_NAME
--END
--ELSE
--BEGIN 
--	SET @TRAN_ENTITY = @CUSTOMER_NAME
--END


IF @HOME_EMP = 'Y'  
BEGIN   
	SELECT @COMM_PAYABLE_ACCOUNT = @FULLPREMIUM_ACCOUNT  
END  

DECLARE @ITEM_TRAN_CODE_TYPE Varchar(10),
		@ITEM_TRAN_CODE Varchar(10)
SET	@ITEM_TRAN_CODE_TYPE  = 'PREM'
SET	@ITEM_TRAN_CODE ='ENDP'
  
--Finding whether bill type is agency bill or direct bill  
IF UPPER(@BILL_TYPE) = 'AB'   --FOR AGENCY BILL  
BEGIN  
    
	--For agency bill, entering the record in act_agency_open_item table  
	
	/*Inserting the new entry in open item table*/  
	INSERT INTO ACT_AGENCY_OPEN_ITEMS  
	(  
	UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE,   
	POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_COMM_APPLIES, AGENCY_COMM_PERC,   
	AGENCY_COMM_AMT, AGENCY_ID,   
	CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE,   
	PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL, BILL_CODE, GROSS_AMOUNT,   
	ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, CASH_ACCOUNTING, RECUR_JOURNAL_VERSION, JE_RECON_COUNTER,   
	AMT_IN_RECON, OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, TRANS_DESC, NET_PREMIUM , 
	RISK_ID, RISK_TYPE
	)   
	SELECT   
	'P', @SOURCE_ROW_ID, @SOURCE_ROW_ID, PCPL.POL_VER_EFFECTIVE_DATE , PCPL.POL_VER_EFFECTIVE_DATE,  
	GETDATE(), @TOTAL_PREMIUM_AMOUNT, 0, CASE @HOME_EMP WHEN 'Y' THEN 'N' ELSE 'Y' END, @AGENCY_REG_COMM_PRCT,   
	@AGENCY_REG_COMM, PCPL.AGENCY_ID,  
	PCPL.CUSTOMER_ID, PCPL.POLICY_ID,PCPL.POLICY_VERSION_ID, NULL, NULL, 1, NULL,  
	'AGN',PCPL.DIV_ID, PCPL.DEPT_ID, PCPL.PC_ID, NULL, NULL, @IS_PREBILL, @BILL_TYPE, @TOTAL_PREMIUM_AMOUNT,  
	@ITEM_TRAN_CODE, @ITEM_TRAN_CODE_TYPE, NULL, NULL, NULL, NULL,   
	NULL, NULL, PCPL.POLICY_LOB, PCPL.POLICY_SUBLOB, PCPL.COUNTRY_ID, PCPL.STATE_ID, 'Premium has been posted.', @CHANGE_PREMIUM_AMOUNT,
	@RISK_ID, @RISK_TYPE
	FROM POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK)   
	WHERE   
	PCPL.POLICY_ID = @POLICY_ID  AND  PCPL.POLICY_VERSION_ID = @POLICY_VERSION_ID AND PCPL.CUSTOMER_ID = @CUSTOMER_ID  
	AND @HOME_EMP = 'N'   
	
	IF @@ERROR <> 0  
		GOTO ERRHANDLER   

	--For Posting In to General Ledger (Uncollected Premium AB Debit
	INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, AGENCY_ID, SOURCE_EFFECTIVE_DATE, 
	TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS, TRAN_DESC , TRAN_ENTITY,
	TRAN_CODE,TRAN_TYPE , COMMISSION_PERCENTAGE )	
	VALUES ( @FULLPREMIUM_ACCOUNT, @TOTAL_PREMIUM_AMOUNT , @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @APP_AGENCY_ID, @POL_VER_EFFECTIVE_DATE, 
	'Premium has been posted.', @POLICY_ID, @POLICY_VERSION_ID, 1, 0 , @TRAN_DESCRIPTION , @CUSTOMER_NAME,
	@ITEM_TRAN_CODE, @ITEM_TRAN_CODE_TYPE , @AGENCY_REG_COMM_PRCT )
    
	IF @@ERROR <> 0  
		GOTO ERRHANDLER

END  
ELSE IF UPPER(@BILL_TYPE) = 'DB'  
BEGIN  

	--For direct bill, entering the record in customer open item table  
	--If policy is not under any installment plan(Under full pay plan)  
	--then entering the consolidated entry in customer  
	--open items table  
	IF ISNULL(@INSTALLMENT,0) = @FULL_PAY_PLAN_ID  
	BEGIN  
	
		/*Inserting into customer open item table*/  
		--Inserting the new record into customer open item table  
		INSERT INTO ACT_CUSTOMER_OPEN_ITEMS  
		(  
		UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE,   
		POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_COMM_APPLIES, AGENCY_COMM_PERC,   
		AGENCY_COMM_AMT, AGENCY_ID,   
		CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE,   
		PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL, BILL_CODE, GROSS_AMOUNT,   
		ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, CASH_ACCOUNTING, RECUR_JOURNAL_VERSION, JE_RECON_COUNTER,   
		AMT_IN_RECON, OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, TRANS_DESC, ITEM_STATUS,  
		ITEM_ORIGINAL_STATUS, 
		NET_PREMIUM,
		DUE_DATE, RISK_ID , 
		RISK_TYPE , 
		SWEEP_DATE
		)   
		SELECT   
		'P', @SOURCE_ROW_ID, @SOURCE_ROW_ID, PCPL.POL_VER_EFFECTIVE_DATE , PCPL.POL_VER_EFFECTIVE_DATE,  
		GETDATE(), @TOTAL_PREMIUM_AMOUNT , 0, CASE @HOME_EMP WHEN 'Y' THEN 'N' ELSE 'Y' END, @AGENCY_REG_COMM_PRCT,   
		@AGENCY_REG_COMM, PCPL.AGENCY_ID,  
		PCPL.CUSTOMER_ID, PCPL.POLICY_ID, PCPL.POLICY_VERSION_ID, NULL, NULL, 1, 1,  
		'AGN',PCPL.DIV_ID, PCPL.DEPT_ID, PCPL.PC_ID, NULL, NULL, @IS_PREBILL, @BILL_TYPE, @TOTAL_PREMIUM_AMOUNT,  
		@ITEM_TRAN_CODE, @ITEM_TRAN_CODE_TYPE, NULL, NULL, NULL, NULL,   
		NULL, NULL, PCPL.POLICY_LOB, PCPL.POLICY_SUBLOB, PCPL.COUNTRY_ID, PCPL.STATE_ID, 'Premium due.',  
		CASE WHEN @CHANGE_PREMIUM_AMOUNT < 0 THEN 'RP' ELSE 'DP' END, CASE WHEN @CHANGE_PREMIUM_AMOUNT < 0 THEN 'RP' ELSE 'DP' END,
		@CHANGE_PREMIUM_AMOUNT ,
		--Ravindra(12-22-2008): If endorsement effective in past effective date of item should be today
		--PCPL.POL_VER_EFFECTIVE_DATE ,
		CASE WHEN PCPL.POL_VER_EFFECTIVE_DATE  < CAST(CONVERT(VARCHAR,GETDATE(),101) AS DATETIME) THEN 
			CAST(CONVERT(VARCHAR,GETDATE(),101) AS DATETIME) ELSE PCPL.POL_VER_EFFECTIVE_DATE END ,
		@RISK_ID , @RISK_TYPE , 
		--PCPL.POL_VER_EFFECTIVE_DATE 
		CASE WHEN PCPL.POL_VER_EFFECTIVE_DATE  < CAST(CONVERT(VARCHAR,GETDATE(),101) AS DATETIME) THEN 
			CAST(CONVERT(VARCHAR,GETDATE(),101) AS DATETIME) ELSE PCPL.POL_VER_EFFECTIVE_DATE END 
		FROM POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK)   
		WHERE   
		PCPL.POLICY_ID = @POLICY_ID  AND  PCPL.POLICY_VERSION_ID = @POLICY_VERSION_ID  AND PCPL.CUSTOMER_ID = @CUSTOMER_ID  
		
		IF @@ERROR <> 0  
			GOTO ERRHANDLER 
		
		--Inserting the record into customer balance information table  
		INSERT INTO ACT_CUSTOMER_BALANCE_INFORMATION  
		(  
		CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID,  
		OPEN_ITEM_ROW_ID, AMOUNT, AMOUNT_DUE,  
		TRAN_DESC,  
		UPDATED_FROM, CREATED_DATE,  
		IS_PRINTED, PRINT_DATE, SOURCE_ROW_ID  
		)  
		SELECT 
		ACOI.CUSTOMER_ID, ACOI.POLICY_ID, ACOI.POLICY_VERSION_ID,   
		IDEN_ROW_ID, ACOI.TOTAL_DUE, 0,  
		'Premium written',  
		'P', GETDATE(),  
		0,NULL, @SOURCE_ROW_ID  
		FROM   
		ACT_CUSTOMER_OPEN_ITEMS ACOI  
		WHERE   
		ACOI.UPDATED_FROM = 'P' AND ACOI.SOURCE_ROW_ID = @SOURCE_ROW_ID  
		AND ACOI.RISK_ID  = @RISK_ID 
		AND ACOI.RISK_TYPE  = @RISK_TYPE

		IF @@ERROR <> 0  
			GOTO ERRHANDLER   

		
  	END  
  	ELSE  
  	BEGIN

		CREATE TABLE #TMP_INSTALL_PLAN
		(
			[IDENT_COL] 			[int] Identity(1,1),
			[ROW_NUM]			INt,				                                                              
			[AMOUNT]			DECIMAL(25,2),
			[INSTALLMENT_EFFECTIVE_DATE]	DATETIME,
			[RELEASED_STATUS]		Char(1),
			[INSTALLMENT_NO]		Int,
			[PERCENTAG_OF_PREMIUM]		Decimal(25,4),
			[PAYMENT_MODE]			Int ,
			[ACTUAL_AMOUNT]			Decimal(18,2)
		)	  

  		--Policy is  under any installment plan,   
   		--Modifying the installment plan  
   		INSERT INTO #TMP_INSTALL_PLAN 
		EXEC Proc_DistributeInstallments @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @POLICY_ID,   
    		@POLICY_VERSION_ID, @INSTALLMENT, @POLICY_EFFECTIVE_DATE, 
			@TOTAL_PREMIUM_AMOUNT , @CHANGE_EFFECTIVE_DATE,@RISK_ID,@RISK_TYPE  , @TOTAL_INFORCE_PREMIUM

	
		DECLARE @IDEN_COL  Int,
				@INSTALLMENT_ROW_ID Int,
				@INSTALLMENT_ROW_ID_DIS Int,
				@AMOUNT			Decimal(18,2),
				@INSTALLMENT_NO		Int,
				@PERCENTAG_OF_PREMIUM	Int,
				@PAYMENT_MODE		Int,
				@INSTALLMENT_EFFECTIVE_DATE Datetime,
				@DISCOUNT_AMOUNT	Decimal(18,2) ,
				@TOTAL_DISCOUNT		Decimal(18,2) , 
				@RELEASED_STATUS	Char(1)

		SET @IDEN_COL  = 1 
		SET @TOTAL_DISCOUNT = 0 

		WHILE 1 = 1 
		BEGIN 
			IF NOT EXISTS (SELECT IDENT_COL FROM #TMP_INSTALL_PLAN WHERE IDENT_COL = @IDEN_COL)
			BEGIN 
				BREAK
			END

			SELECT 	@AMOUNT	 = ACTUAL_AMOUNT,
			@INSTALLMENT_NO	 = INSTALLMENT_NO,
			@PERCENTAG_OF_PREMIUM	= PERCENTAG_OF_PREMIUM,
			@PAYMENT_MODE		= PAYMENT_MODE,
			@INSTALLMENT_EFFECTIVE_DATE = INSTALLMENT_EFFECTIVE_DATE,
			@RELEASED_STATUS			= RELEASED_STATUS
			FROM #TMP_INSTALL_PLAN
			WHERE IDENT_COL = @IDEN_COL


			--Ravindra(04-27-2009): If there are released items in this installment create
			-- new item as released
			IF EXISTS (	
				SELECT B.CUSTOMER_ID FROM ACT_POLICY_INSTALLMENT_DETAILS B 
				INNER JOIN ACT_CUSTOMER_OPEN_ITEMS L ON L.INSTALLMENT_ROW_ID  = B.ROW_ID
				WHERE 	B.CUSTOMER_ID = @CUSTOMER_ID  AND B.POLICY_ID = @POLICY_ID  
				AND B.CURRENT_TERM = @CURRENT_TERM 
				AND EXISTS  
						(	
						SELECT INS_IN2.INSTALLMENT_NO FROM ACT_POLICY_INSTALLMENT_DETAILS INS_IN2 
						INNER JOIN  ACT_CUSTOMER_OPEN_ITEMS ON_IN ON ON_IN.INSTALLMENT_ROW_ID  = INS_IN2.ROW_ID
						WHERE ISNULL(INS_IN2.RELEASED_STATUS, 'N') = 'Y'
						AND INS_IN2.CUSTOMER_ID = @CUSTOMER_ID AND INS_IN2.POLICY_ID = @POLICY_ID  
						AND INS_IN2.INSTALLMENT_NO = B.INSTALLMENT_NO AND INS_IN2.CURRENT_TERM = @CURRENT_TERM
						) 
				AND B.INSTALLMENT_NO = @INSTALLMENT_NO
				)
			BEGIN 
				SET @RELEASED_STATUS = 'Y'
			END


			INSERT INTO ACT_POLICY_INSTALLMENT_DETAILS
				(
					POLICY_ID, POLICY_VERSION_ID, CUSTOMER_ID, APP_ID, 
					APP_VERSION_ID, INSTALLMENT_AMOUNT, INSTALLMENT_EFFECTIVE_DATE, RELEASED_STATUS,
					INSTALLMENT_NO,RISK_ID,PERCENTAG_OF_PREMIUM,PAYMENT_MODE,CURRENT_TERM,RISK_TYPE
				)
			SELECT 	@POLICY_ID, @POLICY_VERSION_ID, @CUSTOMER_ID, @APP_ID,
					@APP_VERSION_ID, @AMOUNT, @INSTALLMENT_EFFECTIVE_DATE, @RELEASED_STATUS ,
					@INSTALLMENT_NO,@RISK_ID , 
					(@AMOUNT/@CHANGE_PREMIUM_AMOUNT )* 100 ,
					@PAYMENT_MODE,@CURRENT_TERM,@RISK_TYPE

			SELECT @INSTALLMENT_ROW_ID = @@IDENTITY
			
			IF ISNULL(@AGENCY_REG_COMM,0) <> 0
			BEGIN	/*If there is some commission amount, applying the commission as agency commission or employee discount*/
				IF @HOME_EMP = 'Y'
				BEGIN 
					
					--Ravindra(05-05-5009: iTrack 5749;
					-- Discount will be given on Net Premium 
					--SET @DISCOUNT_AMOUNT = (@AMOUNT * @AGENCY_REG_COMM_PRCT) / 100

					SET @DISCOUNT_AMOUNT = ROUND(( ( (@AMOUNT * @CHANGE_PREMIUM_AMOUNT)/@TOTAL_PREMIUM_AMOUNT ) * @AGENCY_REG_COMM_PRCT) / 100,2)

					SET @TOTAL_DISCOUNT = @TOTAL_DISCOUNT + @DISCOUNT_AMOUNT

					-- Inserting Discount Detail In Installment Detail Table
					INSERT INTO ACT_POLICY_INSTALLMENT_DETAILS
					(
					APP_ID, APP_VERSION_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, 
					INSTALLMENT_AMOUNT,INSTALLMENT_EFFECTIVE_DATE, RELEASED_STATUS,
					INSTALLMENT_NO,RISK_ID,RISK_TYPE,PAYMENT_MODE,CURRENT_TERM , 
					PERCENTAG_OF_PREMIUM
					)
					VALUES
					(	
					@APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @POLICY_ID, @POLICY_VERSION_ID, 
					-@DISCOUNT_AMOUNT, @INSTALLMENT_EFFECTIVE_DATE, 'N',
					@INSTALLMENT_NO,@RISK_ID,@RISK_TYPE,@PAYMENT_MODE,@CURRENT_TERM , 
					(@AMOUNT/@CHANGE_PREMIUM_AMOUNT )* 100 
					)
					SELECT @INSTALLMENT_ROW_ID_DIS = @@IDENTITY
					
					--Inserting Discount In Customer open Item
					INSERT INTO ACT_CUSTOMER_OPEN_ITEMS
					(
					UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
					POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_COMM_APPLIES, AGENCY_COMM_PERC, 
					AGENCY_COMM_AMT, AGENCY_ID, 
 					CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE, 
 					PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL, BILL_CODE, GROSS_AMOUNT ,
 					ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, CASH_ACCOUNTING, RECUR_JOURNAL_VERSION, JE_RECON_COUNTER, 
 					AMT_IN_RECON, OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, 
					TRANS_DESC, 
					ITEM_STATUS,INSTALLMENT_ROW_ID, NET_PREMIUM,RISK_ID,RISK_TYPE,DUE_DATE ,
					SWEEP_DATE
					)
					SELECT 
					'P', @SOURCE_ROW_ID, @SOURCE_ROW_ID, @CHANGE_EFFECTIVE_DATE ,@INSTALLMENT_EFFECTIVE_DATE,
					GETDATE(), -@DISCOUNT_AMOUNT, 0, CASE @HOME_EMP WHEN 'Y' THEN 'N' ELSE 'Y' END, @AGENCY_REG_COMM_PRCT, 
					@AGENCY_REG_COMM, CPL.AGENCY_ID ,
 					CPL.CUSTOMER_ID, CPL.POLICY_ID, CPL.POLICY_VERSION_ID, NULL, NULL, 1, 1,
 					'CUS', CPL.DIV_ID, CPL.DEPT_ID, CPL.PC_ID, NULL, NULL, @IS_PREBILL, @BILL_TYPE, @TOTAL_PREMIUM_AMOUNT ,
 					'DISC', 'PREM', NULL, NULL, NULL, NULL ,
 					NULL, NULL, CPL.POLICY_LOB, CPL.POLICY_SUBLOB, CPL.COUNTRY_ID, CPL.STATE_ID, 
					'Discount For ' + Convert(Varchar(2),@INSTALLMENT_NO) + ' Installment.',
					'DP',@INSTALLMENT_ROW_ID_DIS, @CHANGE_PREMIUM_AMOUNT,@RISK_ID,@RISK_TYPE, 
					CASE WHEN @INSTALLMENT_EFFECTIVE_DATE  < CAST(CONVERT(VARCHAR,GETDATE(),101) AS DATETIME) THEN 
						CAST(CONVERT(VARCHAR,GETDATE(),101) AS DATETIME) ELSE @INSTALLMENT_EFFECTIVE_DATE END , 
					@INSTALLMENT_EFFECTIVE_DATE
					FROM POL_CUSTOMER_POLICY_LIST CPL 
					WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID 
					AND CPL.POLICY_ID = @POLICY_ID 
					AND CPL.POLICY_VERSION_ID = @POLICY_VERSION_ID
				END
			END

			--Inserting Installment In Customer open Item
			INSERT INTO ACT_CUSTOMER_OPEN_ITEMS
			(
			UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
			POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_COMM_APPLIES, AGENCY_COMM_PERC, 
			AGENCY_COMM_AMT, AGENCY_ID, 
			CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE, 
			PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL, BILL_CODE, GROSS_AMOUNT ,
			ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, CASH_ACCOUNTING, RECUR_JOURNAL_VERSION, JE_RECON_COUNTER, 
			AMT_IN_RECON, OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, 
			TRANS_DESC, 
			ITEM_STATUS,INSTALLMENT_ROW_ID, NET_PREMIUM,RISK_ID,RISK_TYPE,DUE_DATE ,
			SWEEP_DATE
			)
			SELECT 
			'P', @SOURCE_ROW_ID, @SOURCE_ROW_ID, @CHANGE_EFFECTIVE_DATE ,@INSTALLMENT_EFFECTIVE_DATE,
			GETDATE(), @AMOUNT, 0, CASE @HOME_EMP WHEN 'Y' THEN 'N' ELSE 'Y' END, @AGENCY_REG_COMM_PRCT, 
			@AGENCY_REG_COMM, CPL.AGENCY_ID ,
			CPL.CUSTOMER_ID, CPL.POLICY_ID, CPL.POLICY_VERSION_ID, NULL, NULL, 1, 1,
			'CUS', CPL.DIV_ID, CPL.DEPT_ID, CPL.PC_ID, NULL, NULL, @IS_PREBILL, @BILL_TYPE, @TOTAL_PREMIUM_AMOUNT ,
			@ITEM_TRAN_CODE, @ITEM_TRAN_CODE_TYPE, NULL, NULL, NULL, NULL ,
			NULL, NULL, CPL.POLICY_LOB, CPL.POLICY_SUBLOB, CPL.COUNTRY_ID, CPL.STATE_ID, 
			Convert(Varchar(2),@INSTALLMENT_NO) + ' Installment due.',
			'DP',@INSTALLMENT_ROW_ID, @CHANGE_PREMIUM_AMOUNT,@RISK_ID,@RISK_TYPE, @INSTALLMENT_EFFECTIVE_DATE,
			@INSTALLMENT_EFFECTIVE_DATE
			FROM POL_CUSTOMER_POLICY_LIST CPL 
			WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID 
			AND CPL.POLICY_ID = @POLICY_ID 
			AND CPL.POLICY_VERSION_ID = @POLICY_VERSION_ID
			SET @IDEN_COL  = @IDEN_COL + 1		
			

		END

   		IF @@ERROR <> 0  
   		BEGIN  
    		/*Some error occured*/  
		set @RetVal=-1
    		RETURN 0  
   		END  

		--Ravindra(03-26-2008)
		-- If there is a difference in Discount distubuted in installments and total commission applicable
		-- add difference to last discount item 
		IF( @HOME_EMP = 'Y' AND @AGENCY_REG_COMM - @TOTAL_DISCOUNT <> 0)  
		BEGIN 
			UPDATE ACT_POLICY_INSTALLMENT_DETAILS SET INSTALLMENT_AMOUNT = INSTALLMENT_AMOUNT - (@AGENCY_REG_COMM - @TOTAL_DISCOUNT ) 
			WHERE ROW_ID = @INSTALLMENT_ROW_ID_DIS

			UPDATE ACT_CUSTOMER_OPEN_ITEMS SET TOTAL_DUE = TOTAL_DUE - (@AGENCY_REG_COMM - @TOTAL_DISCOUNT ) 
			WHERE INSTALLMENT_ROW_ID = @INSTALLMENT_ROW_ID_DIS
		END 	
			

    		/*Changing the customer open item table also*/  
    		UPDATE ACT_CUSTOMER_OPEN_ITEMS  
    		SET TOTAL_DUE = INSTALLMENT_AMOUNT  
    		FROM ACT_POLICY_INSTALLMENT_DETAILS APID  
    		WHERE APID.POLICY_ID = ACT_CUSTOMER_OPEN_ITEMS.POLICY_ID   
 		    AND APID.POLICY_VERSION_ID = ACT_CUSTOMER_OPEN_ITEMS.POLICY_VERSION_ID  
 		    AND APID.CUSTOMER_ID = ACT_CUSTOMER_OPEN_ITEMS.CUSTOMER_ID  
 		    AND APID.ROW_ID = ACT_CUSTOMER_OPEN_ITEMS.INSTALLMENT_ROW_ID  
 		    AND ISNULL(ACT_CUSTOMER_OPEN_ITEMS.ITEM_TRAN_CODE_TYPE,'') <> 'FEES'   
 		  AND ISNULL(ACT_CUSTOMER_OPEN_ITEMS.ITEM_TRAN_CODE,'') <> 'INSF'  
 
 		IF @@ERROR <> 0  
 			GOTO ERRHANDLER   

-- 		--Inserting the newly created installment if any
-- 		INSERT INTO ACT_CUSTOMER_OPEN_ITEMS
-- 		(
-- 			UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
-- 			POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_COMM_APPLIES, AGENCY_COMM_PERC, 
-- 			AGENCY_COMM_AMT, AGENCY_ID, 
-- 			CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE, 
-- 			PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL, BILL_CODE, GROSS_AMOUNT, 
-- 			ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, CASH_ACCOUNTING, RECUR_JOURNAL_VERSION, JE_RECON_COUNTER, 
-- 			AMT_IN_RECON, OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, TRANS_DESC, ITEM_STATUS,
-- 			INSTALLMENT_ROW_ID, NET_PREMIUM,RISK_ID,RISK_TYPE,DUE_DATE ,
-- 			SWEEP_DATE
-- 		)
-- 		SELECT 
-- 			'P', @SOURCE_ROW_ID, @SOURCE_ROW_ID, GETDATE(), APID.INSTALLMENT_EFFECTIVE_DATE,
-- 			GETDATE(), APID.INSTALLMENT_AMOUNT, 0, CASE @HOME_EMP WHEN 'Y' THEN 'N' ELSE 'Y' END, @AGENCY_REG_COMM_PRCT, 
-- 			@AGENCY_REG_COMM, AL.APP_AGENCY_ID,
-- 			AL.CUSTOMER_ID, APID.POLICY_ID, APID.POLICY_VERSION_ID, NULL, NULL, 1, 1,
-- 			'CUS', AL.DIV_ID, AL.DEPT_ID, AL.PC_ID, NULL, NULL, @IS_PREBILL, @BILL_TYPE, @TOTAL_PREMIUM_AMOUNT ,
-- 			@ITEM_TRAN_CODE, @ITEM_TRAN_CODE_TYPE, NULL, NULL, NULL, NULL, 
-- 			NULL, NULL, AL.APP_LOB, AL.APP_SUBLOB, AL.COUNTRY_ID, AL.STATE_ID, 
-- 			Convert(Varchar,APID.INSTALLMENT_NO) +  ' Installment due.', 'DP',
-- 			APID.ROW_ID, @CHANGE_PREMIUM_AMOUNT,@RISK_ID,@RISK_TYPE, APID.INSTALLMENT_EFFECTIVE_DATE,
-- 			APID.INSTALLMENT_EFFECTIVE_DATE
-- 		FROM 
-- 			ACT_POLICY_INSTALLMENT_DETAILS APID WITH (NOLOCK) 
-- 		INNER JOIN APP_LIST AL WITH (NOLOCK)ON 
-- 			AL.APP_ID = APID.APP_ID AND AL.APP_VERSION_ID = APID.APP_VERSION_ID AND AL.CUSTOMER_ID = APID.CUSTOMER_ID
-- 		WHERE 
-- 			APID.CUSTOMER_ID = @CUSTOMER_ID AND APID.POLICY_ID = @POLICY_ID 
-- 			AND APID.POLICY_VERSION_ID = @POLICY_VERSION_ID 
-- 			AND APID.ROW_ID NOT IN  ( SELECT ISNULL(INSTALLMENT_ROW_ID,0) FROM ACT_CUSTOMER_OPEN_ITEMS 
-- 						WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID
-- 						AND POLICY_VERSION_ID = @POLICY_VERSION_ID)
--   

   		--Inserting the record into customer balance information table  
   		INSERT INTO ACT_CUSTOMER_BALANCE_INFORMATION  
   		(  
		    CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID,  
		    OPEN_ITEM_ROW_ID, AMOUNT, AMOUNT_DUE,  
		    TRAN_DESC,  
		    UPDATED_FROM, CREATED_DATE,  
		    IS_PRINTED, PRINT_DATE, SOURCE_ROW_ID  , 
			DUE_DATE
   		)  
   		VALUES  
   		(  
		    @CUSTOMER_ID, @POLICY_ID, @POLICY_VERSION_ID,  
		     NULL, @TOTAL_PREMIUM_AMOUNT, 0,
		    'Installment distributed (Risk - ' + CONVERT(VARCHAR,@RISK_ID) + ').' ,  
		    'P', GETDATE(),  
		    0, NULL, @SOURCE_ROW_ID  ,
			@CHANGE_EFFECTIVE_DATE
   		)  

		IF @@ERROR <> 0  
			GOTO ERRHANDLER   

     
  	END  
	
	
	--For direct bill, entering the record  in General Ledger(Uncollected Premium Debit)

	INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, SOURCE_EFFECTIVE_DATE, 
	TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS , TRAN_DESC , TRAN_ENTITY,
	TRAN_CODE,TRAN_TYPE ,  COMMISSION_PERCENTAGE )
	VALUES(@FULLPREMIUM_ACCOUNT, @TOTAL_PREMIUM_AMOUNT , @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @POL_VER_EFFECTIVE_DATE, 
	'Policy installment has been posted.', @POLICY_ID, @POLICY_VERSION_ID, 1, 0 , @TRAN_DESCRIPTION , @CUSTOMER_NAME,
	@ITEM_TRAN_CODE, @ITEM_TRAN_CODE_TYPE , @AGENCY_REG_COMM_PRCT)
	
	IF @@ERROR <> 0  
		GOTO ERRHANDLER  
END  

--Inserting the written premium in written premium account
INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, SOURCE_EFFECTIVE_DATE, 
TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS, TRAN_DESC , TRAN_ENTITY,TRAN_CODE,TRAN_TYPE,  COMMISSION_PERCENTAGE )
VALUES(@PREMIUM_INCOME_ACCOUNT, @CHANGE_PREMIUM_AMOUNT * -1, @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @POL_VER_EFFECTIVE_DATE, 
'Premium written', @POLICY_ID, @POLICY_VERSION_ID, 1, 0, @TRAN_DESCRIPTION , @CUSTOMER_NAME,@ITEM_TRAN_CODE, @ITEM_TRAN_CODE_TYPE, @AGENCY_REG_COMM_PRCT)


IF @@ERROR <> 0
	GOTO ERRHANDLER   

   
  
IF(@MCCA_FEES <> 0)
BEGIN 
	--Inserting the MCCA fees in MCCA account
	INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, SOURCE_EFFECTIVE_DATE, TRANS_DESC, 
	POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS, TRAN_DESC , TRAN_ENTITY,TRAN_CODE,TRAN_TYPE , COMMISSION_PERCENTAGE)
	VALUES(@OTHER_FEES_ACCOUNT, @MCCA_FEES * -1, 
	@APP_ID, @APP_VERSION_ID, @CUSTOMER_ID,@POL_VER_EFFECTIVE_DATE, '', 
	@POLICY_ID, @POLICY_VERSION_ID, 1, 0 , @TRAN_DESCRIPTION , @CUSTOMER_NAME,'MCCAF', 'FEES' , @AGENCY_REG_COMM_PRCT )
	
	IF @@ERROR <> 0
		GOTO ERRHANDLER
END
	
IF (@OTHER_FEES <> 0)
BEGIN
	--Inserting Other state assesment fees in (Other State Assessment Fees/Premiums Written - Other state assessed fees) account
	INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, SOURCE_EFFECTIVE_DATE, TRANS_DESC, 
	POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS, TRAN_DESC , TRAN_ENTITY,TRAN_CODE,TRAN_TYPE, COMMISSION_PERCENTAGE )
	VALUES(@OTHER_FEES_ACCOUNT, @OTHER_FEES * -1, @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @POL_VER_EFFECTIVE_DATE, '',
	 @POLICY_ID, @POLICY_VERSION_ID, 1, 0, @TRAN_DESCRIPTION , @CUSTOMER_NAME,'OSTAF','FEES', @AGENCY_REG_COMM_PRCT )
	
	IF @@ERROR <> 0  
		GOTO ERRHANDLER  
END
IF ISNULL(@AGENCY_REG_COMM,0) <> 0
BEGIN	/*If there is some commission amount, applying the commission as agency commission or employee discount*/
	IF @HOME_EMP = 'Y'
	BEGIN 
		--Giving discount to customer
		--Hence entering an open item in customer
		IF ISNULL(@INSTALLMENT,0) = @FULL_PAY_PLAN_ID 	
 		BEGIN 
			INSERT INTO ACT_CUSTOMER_OPEN_ITEMS  
			(  
			UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE,   
			POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_COMM_APPLIES, AGENCY_COMM_PERC,   
			AGENCY_COMM_AMT, AGENCY_ID,   
			CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE,   
			PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL, BILL_CODE, GROSS_AMOUNT,   
			ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, CASH_ACCOUNTING, RECUR_JOURNAL_VERSION, JE_RECON_COUNTER,   
			AMT_IN_RECON, OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, TRANS_DESC, ITEM_STATUS,  
			ITEM_ORIGINAL_STATUS, NET_PREMIUM ,DUE_DATE , RISK_ID , RISK_TYPE
			)   
			SELECT   
			'P', @SOURCE_ROW_ID, @SOURCE_ROW_ID, @CHANGE_EFFECTIVE_DATE , PCPL.POL_VER_EFFECTIVE_DATE,  
			GETDATE(), -@AGENCY_REG_COMM, 0, CASE @HOME_EMP WHEN 'Y' THEN 'N' ELSE 'Y' END, @AGENCY_REG_COMM_PRCT,   
			@AGENCY_REG_COMM, PCPL.AGENCY_ID,  
			PCPL.CUSTOMER_ID, PCPL.POLICY_ID, PCPL.POLICY_VERSION_ID, NULL, NULL, 1, 1,  
			'AGN',PCPL.DIV_ID, PCPL.DEPT_ID, PCPL.PC_ID, NULL, NULL, @IS_PREBILL, @BILL_TYPE, @CHANGE_PREMIUM_AMOUNT,  
			'DISC', 'PREM', NULL, NULL, NULL, NULL,   
			NULL, NULL, PCPL.POLICY_LOB, PCPL.POLICY_SUBLOB, PCPL.COUNTRY_ID, PCPL.STATE_ID, 'Home employee discount.',  
			'DP','DP', @CHANGE_PREMIUM_AMOUNT , PCPL.POL_VER_EFFECTIVE_DATE , @RISK_ID , @RISK_TYPE
			FROM POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK)   
			WHERE   
			PCPL.POLICY_ID = @POLICY_ID  AND  PCPL.POLICY_VERSION_ID = @POLICY_VERSION_ID  AND PCPL.CUSTOMER_ID = @CUSTOMER_ID  
	
			IF @@ERROR <> 0  
				GOTO ERRHANDLER   
		END

		--Inserting the record into customer balance information table  
   		INSERT INTO ACT_CUSTOMER_BALANCE_INFORMATION  
   		(  
		    CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID,  
		    OPEN_ITEM_ROW_ID, AMOUNT, AMOUNT_DUE,  
		    TRAN_DESC,  
		    UPDATED_FROM, CREATED_DATE,  
		    IS_PRINTED, PRINT_DATE, SOURCE_ROW_ID  ,
			DUE_DATE
   		)  
   		VALUES  
   		(  
		    @CUSTOMER_ID, @POLICY_ID, @POLICY_VERSION_ID,  
		    null, -@AGENCY_REG_COMM, 0,  
		    'Home employee discount.',  
		    'P', GETDATE(),  
		    0, NULL, @SOURCE_ROW_ID  ,
			@CHANGE_EFFECTIVE_DATE
   		)  

		IF @@ERROR <> 0  
			GOTO ERRHANDLER   

		--Creating Record For General Ledger
		INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, SOURCE_EFFECTIVE_DATE, 
		TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS, TRAN_DESC , TRAN_ENTITY,
		TRAN_CODE ,TRAN_TYPE, COMMISSION_PERCENTAGE )
		VALUES(@FULLPREMIUM_ACCOUNT, -@AGENCY_REG_COMM, @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @POL_VER_EFFECTIVE_DATE , 
		'Discount given.', @POLICY_ID, @POLICY_VERSION_ID, 1, 0 , @TRAN_DESCRIPTION , @CUSTOMER_NAME,
		'DISC','PREM', @AGENCY_REG_COMM_PRCT )
		
		IF @@ERROR <> 0  
		GOTO ERRHANDLER  
		--Contra entry for commission
		INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, AGENCY_ID, 
		SOURCE_EFFECTIVE_DATE, TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS, 
		TRAN_DESC , TRAN_ENTITY,TRAN_CODE,TRAN_TYPE, COMMISSION_PERCENTAGE )
		VALUES ( @COMM_EXPENSE_ACCOUNT, @AGENCY_REG_COMM, @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @APP_AGENCY_ID,
		 @POL_VER_EFFECTIVE_DATE, 'Commission has been posted.', @POLICY_ID, @POLICY_VERSION_ID, 1, 0,
		 @TRAN_DESCRIPTION , @CUSTOMER_NAME,'DISC','PREM', @AGENCY_REG_COMM_PRCT )

		IF @@ERROR <> 0  
			GOTO ERRHANDLER   

		IF ISNULL(@INSTALLMENT,0) = @FULL_PAY_PLAN_ID 	
		BEGIN 
			EXEC Proc_ReconcileDiscountItems @CUSTOMER_ID , @POLICY_ID , @POLICY_VERSION_ID , @RISK_ID , @RISK_TYPE , 'Y'
			IF @@ERROR <> 0
				GOTO ERRHANDLER
		END
		ELSE
		BEGIN 	

			EXEC Proc_ReconcileDiscountItems @CUSTOMER_ID , @POLICY_ID , @POLICY_VERSION_ID , @RISK_ID , @RISK_TYPE , 'N'
			IF @@ERROR <> 0
				GOTO ERRHANDLER
		END

	END
	ELSE
	BEGIN

		--Giving agency commission to agency
		--Hence entering an open item in agency
		INSERT INTO ACT_AGENCY_OPEN_ITEMS  
		(  
		UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE,   
		POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_COMM_APPLIES, AGENCY_COMM_PERC,   
		AGENCY_COMM_AMT, AGENCY_ID,   
		CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE,   
		PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL, BILL_CODE, GROSS_AMOUNT,   
		ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, CASH_ACCOUNTING, RECUR_JOURNAL_VERSION, JE_RECON_COUNTER,   
		AMT_IN_RECON, OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, TRANS_DESC, NET_PREMIUM , 
		RISK_ID, RISK_TYPE
		)   
		SELECT   
		'P', @SOURCE_ROW_ID, @SOURCE_ROW_ID, GETDATE(), PCPL.POL_VER_EFFECTIVE_DATE,  
		GETDATE(), -@AGENCY_REG_COMM, 0, CASE @HOME_EMP WHEN 'Y' THEN 'N' ELSE 'Y' END, @AGENCY_REG_COMM_PRCT,   
		@AGENCY_REG_COMM, PCPL.AGENCY_ID,  
		PCPL.CUSTOMER_ID, PCPL.POLICY_ID,PCPL.POLICY_VERSION_ID, NULL, NULL, 1, NULL,  
		'AGN',PCPL.DIV_ID, PCPL.DEPT_ID, PCPL.PC_ID, NULL, NULL, @IS_PREBILL, @BILL_TYPE, @TOTAL_PREMIUM_AMOUNT,  
		'ENDC', 'COM', NULL, NULL, NULL, NULL,   
		NULL, NULL, PCPL.POLICY_LOB, PCPL.POLICY_SUBLOB, PCPL.COUNTRY_ID, PCPL.STATE_ID, 'Agency commission.', @CHANGE_PREMIUM_AMOUNT,
		@RISK_ID, @RISK_TYPE
		FROM POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK)   
		WHERE   
		PCPL.POLICY_ID = @POLICY_ID  AND  PCPL.POLICY_VERSION_ID = @POLICY_VERSION_ID AND PCPL.CUSTOMER_ID = @CUSTOMER_ID  

		IF @@ERROR <> 0  
			GOTO ERRHANDLER   

		--Giving agency commission to agency  
		--Hence entering an open item in agency  
		INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, AGENCY_ID, SOURCE_EFFECTIVE_DATE, 
		TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS, TRAN_DESC , TRAN_ENTITY,
		TRAN_CODE,TRAN_TYPE, COMMISSION_PERCENTAGE )
		VALUES ( @COMM_PAYABLE_ACCOUNT, -@AGENCY_REG_COMM, @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @APP_AGENCY_ID, @POL_VER_EFFECTIVE_DATE,
		 'Commission has been posted.', @POLICY_ID, @POLICY_VERSION_ID, 1, 0, @TRAN_DESCRIPTION , @AGENCY_NAME,
		'ENDC', 'COM', @AGENCY_REG_COMM_PRCT )

		IF @@ERROR <> 0  
		GOTO ERRHANDLER    
		
		--Contra entry for agency commission
		INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, AGENCY_ID, SOURCE_EFFECTIVE_DATE, 
		TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS, TRAN_DESC , TRAN_ENTITY,
		TRAN_CODE,TRAN_TYPE , COMMISSION_PERCENTAGE )
		VALUES ( @COMM_EXPENSE_ACCOUNT, @AGENCY_REG_COMM, @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @APP_AGENCY_ID, @POL_VER_EFFECTIVE_DATE, 
		'Commission has been posted.', @POLICY_ID, @POLICY_VERSION_ID, 1, 0, @TRAN_DESCRIPTION , @AGENCY_NAME,
		'ENDC', 'COM', @AGENCY_REG_COMM_PRCT )
		
		IF @@ERROR <> 0  
			GOTO ERRHANDLER   

		-- Additional Commission 	 
		IF(@AGENCY_ADDI_COMM <> 0 AND (@BASE_PROCESS_ID =@NBS OR @BASE_PROCESS_ID =@RENEWAL) ) 
		BEGIN 
			INSERT INTO ACT_AGENCY_OPEN_ITEMS  
			(  
			UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE,   
			POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_COMM_APPLIES, AGENCY_COMM_PERC,   
			AGENCY_COMM_AMT, AGENCY_ID,   
			CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE,   
			PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL, BILL_CODE, GROSS_AMOUNT,   
			ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, CASH_ACCOUNTING, RECUR_JOURNAL_VERSION, JE_RECON_COUNTER,   
			AMT_IN_RECON, OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, TRANS_DESC, NET_PREMIUM, 
			RISK_ID, RISK_TYPE
			)   
			SELECT   
			'P', @SOURCE_ROW_ID, @SOURCE_ROW_ID, GETDATE(), PCPL.POL_VER_EFFECTIVE_DATE,  
			GETDATE(), -@AGENCY_ADDI_COMM, 0, CASE @HOME_EMP WHEN 'Y' THEN 'N' ELSE 'Y' END, @AGENCY_ADDI_COMM_PRCT,   
			@AGENCY_ADDI_COMM, PCPL.AGENCY_ID,  
			PCPL.CUSTOMER_ID, PCPL.POLICY_ID,PCPL.POLICY_VERSION_ID, NULL, NULL, 1, NULL,  
			'AGN',PCPL.DIV_ID, PCPL.DEPT_ID, PCPL.PC_ID, NULL, NULL, @IS_PREBILL, @BILL_TYPE, @TOTAL_PREMIUM_AMOUNT,  
			'ADC', 'COM', NULL, NULL, NULL, NULL,   
			NULL, NULL, PCPL.POLICY_LOB, PCPL.POLICY_SUBLOB, PCPL.COUNTRY_ID, PCPL.STATE_ID, 'Commission due.', @CHANGE_PREMIUM_AMOUNT , 
			@RISK_ID, @RISK_TYPE
			FROM POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK)   
			WHERE   
			PCPL.POLICY_ID = @POLICY_ID  AND  PCPL.POLICY_VERSION_ID = @POLICY_VERSION_ID AND PCPL.CUSTOMER_ID = @CUSTOMER_ID  

			IF @@ERROR <> 0  
				GOTO ERRHANDLER   

			--Giving agency commission to agency  
			--Hence entering an open item in agency  
			INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, AGENCY_ID, SOURCE_EFFECTIVE_DATE, 
			TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS, TRAN_DESC , TRAN_ENTITY,
			TRAN_CODE,TRAN_TYPE, COMMISSION_PERCENTAGE)
			VALUES ( @COMM_PAYABLE_ACCOUNT, -@AGENCY_ADDI_COMM, @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @APP_AGENCY_ID, @POL_VER_EFFECTIVE_DATE,
			 'Commission has been posted.', @POLICY_ID, @POLICY_VERSION_ID, 1, 0, @TRAN_DESCRIPTION , @AGENCY_NAME,
			'ADC', 'COM', @AGENCY_ADDI_COMM_PRCT )

			IF @@ERROR <> 0  
			GOTO ERRHANDLER     
			
			--Contra entry for agency commission
			INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, AGENCY_ID, SOURCE_EFFECTIVE_DATE, 
			TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS, TRAN_DESC , TRAN_ENTITY,
			TRAN_CODE,TRAN_TYPE , COMMISSION_PERCENTAGE )
			VALUES ( @COMM_EXPENSE_ACCOUNT, @AGENCY_ADDI_COMM, @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @APP_AGENCY_ID, @POL_VER_EFFECTIVE_DATE, 
			'Commission has been posted.', @POLICY_ID, @POLICY_VERSION_ID, 1, 0, @TRAN_DESCRIPTION , @AGENCY_NAME,
			'ADC', 'COM', @AGENCY_ADDI_COMM_PRCT )
			
			IF @@ERROR <> 0  
				GOTO ERRHANDLER   
		END
	END
END


--Ravindra(03-27-2009): Update Commission percentage in Premium Process sub details 

UPDATE ACT_PREMIUM_PROCESS_SUB_DETAILS SET
COMMISSION_RATE =  @AGENCY_REG_COMM_PRCT  , COMMISSION_AMOUNT = @AGENCY_REG_COMM   ,
EFFECTIVE_DATE  = @CHANGE_EFFECTIVE_DATE  , CURRENT_COMMISSION_RATE = @AGENCY_REG_COMM_PRCT
WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID 
AND POLICY_VERSION_ID = @POLICY_VERSION_ID AND RISK_ID = @RISK_ID 
AND RISK_TYPE = @RISK_TYPE 

-- PIC 
DECLARE @COMMISSION_AMOUNT_TYPE Char(1) ,
		@GRANT_COMMISSION   SmallINt , 
		@PROPERTY_INS_COMM_PRCT		Decimal(18,2) ,
		@PROPERTY_INS_COMM			Decimal(18,2) 

SET @COMMISSION_AMOUNT_TYPE = ''
SET @GRANT_COMMISSION  = 0

--Applying the property inspection credit 
IF (@PROPRTY_INSP_CREDIT = 'Y' AND @BASE_PROCESS_ID = @NBS ) 
BEGIN
	
	SET @PROPERTY_INS_COMM_PRCT = 0
   	SELECT @PROPERTY_INS_COMM_PRCT = ISNULL(COMMISSION_PERCENT, 0),
		@COMMISSION_AMOUNT_TYPE = ISNULL(AMOUNT_TYPE,'P') 
	FROM ACT_REG_COMM_SETUP WITH(NOLOCK)
	WHERE (STATE_ID = @STATE_ID OR STATE_ID = 0) AND
		(LOB_ID = @APP_LOB OR LOB_ID = 0) 
		AND (ISNULL(SUB_LOB_ID,0) = ISNULL(@APP_SUBLOB,0)  OR ISNULL(SUB_LOB_ID,0) = 0) 
		AND TERM = @POLICY_TERM  
		AND COMMISSION_TYPE = 'P' 
		AND @POLICY_EFFECTIVE_DATE  BETWEEN EFFECTIVE_FROM_DATE AND EFFECTIVE_TO_DATE 

	IF @@ERROR <> 0
		GOTO ERRHANDLER

	IF(@COMMISSION_AMOUNT_TYPE = 'P')
	BEGIN
		--SELECT @PROPERTY_INS_COMM = ROUND(((@TOTAL_PREMIUM_AMOUNT * @PROPERTY_INS_COMM_PRCT)/100), 2)
		SELECT @PROPERTY_INS_COMM = ROUND(((@CHANGE_PREMIUM_AMOUNT * @PROPERTY_INS_COMM_PRCT)/100), 2)
		SET @GRANT_COMMISSION  = 1
	END
	ELSE IF(@COMMISSION_AMOUNT_TYPE = 'F')
	BEGIN
		SET @PROPERTY_INS_COMM = @PROPERTY_INS_COMM_PRCT
		IF ISNULL(@PARAM3,'N') <> 'Y'
			SET @GRANT_COMMISSION = 1
	END

	IF @@ERROR <> 0
		GOTO ERRHANDLER
	
	IF @GRANT_COMMISSION = 1 AND @PROPERTY_INS_COMM <> 0 
	BEGIN
		IF @HOME_EMP = 'Y'
		BEGIN
			IF(@SYS_PROPERTY_INS_COMM_APPLICABILITY  = 2)
			BEGIN
				--Giving discount to employee
				INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, SOURCE_EFFECTIVE_DATE, TRANS_DESC, POLICY_ID, 
				POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS, TRAN_CODE ,TRAN_TYPE,TRAN_ENTITY,TRAN_DESC,
				DUE_DATE, COMMISSION_PERCENTAGE)
				VALUES (@FULLPREMIUM_ACCOUNT, -@PROPERTY_INS_COMM, @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @POLICY_EFFECTIVE_DATE, 'Discount given for property inspection credit.', @POLICY_ID,
				 @POLICY_VERSION_ID, 1, 1, 'DISC','PREM',@CUSTOMER_NAME,@TRAN_DESCRIPTION,@POLICY_EFFECTIVE_DATE,
				CASE @COMMISSION_AMOUNT_TYPE WHEN 'P' THEN @PROPERTY_INS_COMM_PRCT ELSE NULL END)
	
				IF @@ERROR <> 0
					GOTO ERRHANDLER
				-- Contra Entry fo Discount 	
				-- Discount Given To Home Employee needs To Be Posted in to  Commission Expense Account
				INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID,SOURCE_EFFECTIVE_DATE,
				 TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS,TRAN_CODE ,TRAN_TYPE,TRAN_ENTITY,TRAN_DESC)
				VALUES ( @COMM_EXPENSE_ACCOUNT, @PROPERTY_INS_COMM, @APP_ID, @APP_VERSION_ID
				, @CUSTOMER_ID, @POLICY_EFFECTIVE_DATE, '', @POLICY_ID, @POLICY_VERSION_ID, 1, 0, 'DISC','PREM',@CUSTOMER_NAME,@TRAN_DESCRIPTION)
	
				IF @@ERROR <> 0
					GOTO ERRHANDLER
	
			END
		END
		ELSE
		BEGIN
			IF(@SYS_PROPERTY_INS_COMM_APPLICABILITY  = 1)
			BEGIN 

				INSERT INTO ACT_AGENCY_OPEN_ITEMS  
				(  
				UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE,   
				POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_COMM_APPLIES, AGENCY_COMM_PERC,   
				AGENCY_COMM_AMT, AGENCY_ID,   
				CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE,   
				PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL, BILL_CODE, GROSS_AMOUNT,   
				ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, CASH_ACCOUNTING, RECUR_JOURNAL_VERSION, JE_RECON_COUNTER,   
				AMT_IN_RECON, OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, TRANS_DESC, NET_PREMIUM,
				RISK_ID, RISK_TYPE
				)   
				SELECT   
				'P', @SOURCE_ROW_ID, @SOURCE_ROW_ID, GETDATE(), PCPL.POL_VER_EFFECTIVE_DATE,  
				GETDATE(), -@PROPERTY_INS_COMM, 0, CASE @HOME_EMP WHEN 'Y' THEN 'N' ELSE 'Y' END, 
				CASE @COMMISSION_AMOUNT_TYPE WHEN 'P' THEN @PROPERTY_INS_COMM_PRCT ELSE NULL END,   
				@PROPERTY_INS_COMM, PCPL.AGENCY_ID,  
				PCPL.CUSTOMER_ID, PCPL.POLICY_ID,PCPL.POLICY_VERSION_ID, NULL, NULL, 1, NULL,  
				'AGN',PCPL.DIV_ID, PCPL.DEPT_ID, PCPL.PC_ID, NULL, NULL, @IS_PREBILL, @BILL_TYPE, @TOTAL_PREMIUM_AMOUNT,  
				'PIC', 'COM', NULL, NULL, NULL, NULL,   
				NULL, NULL, PCPL.POLICY_LOB, PCPL.POLICY_SUBLOB, PCPL.COUNTRY_ID, PCPL.STATE_ID, 'Commission due.', @CHANGE_PREMIUM_AMOUNT,
				@RISK_ID, @RISK_TYPE
				FROM POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK)   
				WHERE   
				PCPL.POLICY_ID = @POLICY_ID  AND  PCPL.POLICY_VERSION_ID = @POLICY_VERSION_ID AND PCPL.CUSTOMER_ID = @CUSTOMER_ID  


				--Giving commission to agency

				IF @@ERROR <> 0
					GOTO ERRHANDLER
				--Contra Entry For Property inspection Commission 
				INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, AGENCY_ID, SOURCE_EFFECTIVE_DATE, TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS, TRAN_CODE, TRAN_TYPE,TRAN_ENTITY,TRAN_DESC)
				VALUES ( @COMM_EXPENSE_ACCOUNT, @PROPERTY_INS_COMM, @APP_ID, @APP_VERSION_ID
				, @CUSTOMER_ID, NULL, @POLICY_EFFECTIVE_DATE, '', @POLICY_ID, @POLICY_VERSION_ID, 1, 0, 'PIC', 'COM',@AGENCY_NAME,@TRAN_DESCRIPTION)
				IF @@ERROR <> 0
					GOTO ERRHANDLER

				
			END
		END
	END
END


IF ISNULL(@INSTALLMENT,0) = @FULL_PAY_PLAN_ID 	
BEGIN 
	EXEC Proc_ReconcileInstallments @CUSTOMER_ID , @POLICY_ID , @CURRENT_TERM , 'Y'
	IF @@ERROR <> 0
		GOTO ERRHANDLER
END
ELSE
BEGIN 	
	EXEC Proc_ReconcileInstallments @CUSTOMER_ID , @POLICY_ID , @CURRENT_TERM , 'N'
	IF @@ERROR <> 0
		GOTO ERRHANDLER
END

--- If Some risks has been deleted reverse fees

IF(@FEES_TO_REVERSE <> 0)
BEGIN 
	INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS
	(
	ACCOUNT_ID, UPDATED_FROM, 
	SUBLEDGER_TYPE, SOURCE_ROW_ID,
	MAPPING_SUBLEDGER_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
	POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_COMM_PERC, AGENCY_COMM_AMT,
	AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID,
	PC_ID, IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE,
	TRAN_ID, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID, TAX_ID, ADNL_INFO,
	IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION, IN_BNK_RECON, IS_BALANCE_UPDATED,
	COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME, COMMISSION_TYPE
	,TRAN_ENTITY,TRAN_DESC
	
	)
	SELECT 
	@OTHER_FEES_ACCOUNT , @UPDATED_FROM   ,
	NULL,@SOURCE_ROW_ID, 
	NULL, @SOURCE_ROW_ID, PCL.POL_VER_EFFECTIVE_DATE, PCL.POL_VER_EFFECTIVE_DATE ,
	GETDATE(), @FEES_TO_REVERSE , NULL, NULL, 
	PCL.AGENCY_ID, PCL.CUSTOMER_ID, @POLICY_ID, @POLICY_VERSION_ID, PCL.DIV_ID, PCL.DEPT_ID,
	PCL.PC_ID, @IS_PREBILL, @BILL_TYPE, @FEES_TO_REVERSE , 'OSTAF', 'FEES',
	NULL,  PCL.POLICY_LOB, PCL.POLICY_SUBLOB, COUNTRY_ID, STATE_ID, NULL, NULL, NULL,
	NULL, NULL, NULL, NULL,
	@USER_ID, @USER_CODE, @USER_NAME, NULL,
	@CUSTOMER_NAME ,@TRAN_DESCRIPTION				
	FROM POL_CUSTOMER_POLICY_LIST PCL WITH(NOLOCK) 
	WHERE	
		PCL.POLICY_ID = @POLICY_ID
		AND PCL.POLICY_VERSION_ID = @POLICY_VERSION_ID 
		AND PCL.CUSTOMER_ID = @CUSTOMER_ID

	INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS
	(
	ACCOUNT_ID, UPDATED_FROM, 
	SUBLEDGER_TYPE, SOURCE_ROW_ID,
	MAPPING_SUBLEDGER_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
	POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_COMM_PERC, AGENCY_COMM_AMT,
	AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID,
	PC_ID, IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE,
	TRAN_ID, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID, TAX_ID, ADNL_INFO,
	IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION, IN_BNK_RECON, IS_BALANCE_UPDATED,
	COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME, COMMISSION_TYPE
	,TRAN_ENTITY,TRAN_DESC
	
	)
	SELECT 
	@FULLPREMIUM_ACCOUNT  , @UPDATED_FROM  ,
	NULL,@SOURCE_ROW_ID, 
	NULL, @SOURCE_ROW_ID, PCL.POL_VER_EFFECTIVE_DATE, PCL.POL_VER_EFFECTIVE_DATE ,
	GETDATE(), @FEES_TO_REVERSE * -1 , NULL, NULL, 
	PCL.AGENCY_ID, PCL.CUSTOMER_ID, @POLICY_ID, @POLICY_VERSION_ID, PCL.DIV_ID, PCL.DEPT_ID,
	PCL.PC_ID, @IS_PREBILL, @BILL_TYPE, @FEES_TO_REVERSE * -1 , 'OSTAF', 'FEES',
	NULL,  PCL.POLICY_LOB, PCL.POLICY_SUBLOB, COUNTRY_ID, STATE_ID, NULL, NULL, NULL,
	NULL, NULL, NULL, NULL,
	@USER_ID, @USER_CODE, @USER_NAME, NULL,
	@CUSTOMER_NAME ,@TRAN_DESCRIPTION				
	FROM POL_CUSTOMER_POLICY_LIST PCL WITH(NOLOCK) 
	WHERE	
		PCL.POLICY_ID = @POLICY_ID
		AND PCL.POLICY_VERSION_ID = @POLICY_VERSION_ID 
		AND PCL.CUSTOMER_ID = @CUSTOMER_ID

IF @@ERROR <> 0  
GOTO ERRHANDLER   

END


-- If balance on policy is negative change the status to OP / RP , call recon customer negative items 
DECLARE @BALANCE_ON_POLICY Decimal(18,2) 

SELECT @BALANCE_ON_POLICY  = SUM(ISNULL(TOTAL_DUE , 0) - ISNULL(TOTAL_PAID , 0 )) 
FROM ACT_CUSTOMER_OPEN_ITEMS 
WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND ITEM_TRAN_CODE_TYPE <> 'FEES'   

IF ( ISNULL(@BALANCE_ON_POLICY,0) < 0) 
BEGIN 
	exec Proc_ReconCustomerOpenItem @POLICY_EXPIRATION_DATE , @USER_ID , @CUSTOMER_ID , @POLICY_ID 
END 
	

--Inserting the record into ACT_ACCOUNTS_POSTING_DETAILS
INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS
(
	ACCOUNT_ID, UPDATED_FROM, 
	SUBLEDGER_TYPE, 
	SOURCE_ROW_ID,
	MAPPING_SUBLEDGER_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
	POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_COMM_PERC, AGENCY_COMM_AMT,
	AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID,
	PC_ID, IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE,
	TRAN_ID, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID, TAX_ID, ADNL_INFO,
	IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION, IN_BNK_RECON, IS_BALANCE_UPDATED,
	COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME, COMMISSION_TYPE
	,TRAN_ENTITY,TRAN_DESC
)
SELECT 
	ACCOUNT_ID, 'P', 
	CASE 
	WHEN ISNULL(TP.AGENCY_ID, 0) = 0  THEN 'CUS'
	WHEN ISNULL(TP.AGENCY_ID, 0) <> 0 THEN 'AGN'
	END ,
	@SOURCE_ROW_ID, 
	NULL, @SOURCE_ROW_ID, PCL.POL_VER_EFFECTIVE_DATE, PCL.POL_VER_EFFECTIVE_DATE,
	GETDATE(), SUM(TP.AMT), NULL, NULL, 
	PCL.AGENCY_ID, PCL.CUSTOMER_ID, @POLICY_ID, @POLICY_VERSION_ID, PCL.DIV_ID, PCL.DEPT_ID,
	PCL.PC_ID, @IS_PREBILL, @BILL_TYPE, SUM(TP.AMT), TP.TRAN_CODE,TP.TRAN_TYPE,
	NULL,  PCL.POLICY_LOB, PCL.POLICY_SUBLOB, PCL.COUNTRY_ID, PCL.STATE_ID, NULL, NULL, NULL,
	NULL, NULL, NULL, NULL,
	@USER_ID, @USER_CODE, @USER_NAME, NULL	,
	TP.TRAN_ENTITY ,TP.TRAN_DESC		
	FROM #TMP_POST  TP WITH(NOLOCK) 
	LEFT JOIN POL_CUSTOMER_POLICY_LIST PCL WITH(NOLOCK)
	ON	TP.POLICY_ID = PCL.POLICY_ID
		AND TP.CUSTOMER_ID = PCL.CUSTOMER_ID
		AND TP.POLICY_VERSION_ID = PCL.POLICY_VERSION_ID
	WHERE TP.ACCOUNTS = 1
	AND ISNULL(TP.AMT,0) <> 0
	GROUP BY 
	ACCOUNT_ID, PCL.POL_VER_EFFECTIVE_DATE,
	PCL.AGENCY_ID, PCL.CUSTOMER_ID, PCL.DIV_ID, PCL.DEPT_ID,
	PCL.PC_ID, PCL.POLICY_LOB, PCL.POLICY_SUBLOB, PCL.COUNTRY_ID, PCL.STATE_ID, TP.AGENCY_ID, TP.OPEN_ITEMS,
	TP.TRAN_ENTITY ,TP.TRAN_DESC	,TP.TRAN_CODE,TP.TRAN_TYPE



IF @@ERROR <> 0  
GOTO ERRHANDLER   

--Droping the temp table  
DROP TABLE #TMP_POST   
   
SET @RetVal=1  
RETURN 1  
ERRHANDLER:  
 	SET @RetVal=-1
	RETURN -1  
  
END  
  

--go
--DECLARE @R Int
--exec Proc_ChangePremiumPolicyOpenItems  1432  ,null,null, 98 , 2 , 750,'2009-5-15','9999','3',null,null,7,1,'PP',0,0,0,@R out , 832
--
--
--SELECT A.IDEN_ROW_ID, A.POLICY_VERSION_ID AS VER , A.TRANS_DESC,A.TOTAL_DUE,A.TOTAL_PAID,B.RELEASED_STATUS,
--A.ITEM_TRAN_CODE_TYPE,A.ITEM_TRAN_CODE,A.AGENCY_COMM_PERC,A.NET_PREMIUM, A.GROSS_AMOUNT, 
--ISNULL(B.INSTALLMENT_NO,50) INS_NO,B.INSTALLMENT_NO	 AS INS_NO,B.RELEASED_STATUS,A.RISK_ID,A.RISK_TYPE,
--A.* FROM ACT_CUSTOMER_OPEN_ITEMS A WITH(NOLOCK)
--left JOIN ACT_POLICY_INSTALLMENT_DETAILS B WITH(NOLOCK) ON A.INSTALLMENT_ROW_ID  = B.ROW_ID
--LEFT JOIN MNT_LOOKUP_VALUES MNT ON 
--B.PAYMENT_MODE = MNT.LOOKUP_UNIQUE_ID 
--WHERE A.CUSTOMER_ID= 1432 AND A.POLICY_ID = 98
--ORDER BY ISNULL(B.CURRENT_TERM,50),ISNULL(B.INSTALLMENT_NO,50) ,
--A.IDEN_ROW_ID ,A.SOURCE_EFF_DATE,A.UPDATED_FROM
----
----SELECT D.SOURCE_ROW_ID,M.ACC_DESCRIPTION,M.ACC_NUMBER,D.TRANSACTION_AMOUNT ,
----D.ITEM_TRAN_CODE_TYPE,D.ITEM_TRAN_CODE,D.* 
----FROM ACT_ACCOUNTS_POSTING_DETAILS D WITH(NOLOCK)
----INNER JOIN ACT_GL_ACCOUNTS M ON D.ACCOUNT_ID = M.ACCOUNT_ID 
----WHERE CUSTOMER_ID= 1432 AND POLICY_ID= 69
----ORDER BY D.IDENTITY_ROW_ID 
--
--
--ROLLBACK TRAN












GO

