IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_GET_COMM_CLASS_DESC]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_GET_COMM_CLASS_DESC]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


-- drop proc dbo.PROC_GET_COMM_CLASS_DESC  
CREATE PROC dbo.PROC_GET_COMM_CLASS_DESC  
AS  
BEGIN  
 SELECT LOOKUP_UNIQUE_ID, LTRIM(RTRIM(LOOKUP_VALUE_DESC)) AS LOOKUP_VALUE_DESC,   
 'CA' + LOOKUP_FRAME_OR_MASONRY AS CODE,  
 CAST(LOOKUP_UNIQUE_ID AS VARCHAR) + '~' + 'CA' + LOOKUP_FRAME_OR_MASONRY AS KEY_COL  
 FROM  MNT_LOOKUP_VALUES WHERE LOOKUP_ID = 1286 AND IS_ACTIVE = 'Y'  
END  
  
  



GO

