IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_UPDATE_POLICY_LEVEL_COVERAGES_APP]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_UPDATE_POLICY_LEVEL_COVERAGES_APP]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/**************************************  
Created By : Pravesh k chandel  
Date    :27 April 2009  
Purpose     :Copy Policy level coverages from other vehicle   if vehicle Changes from Suspended yes to No  
  
------------------------------------------------------------                                  
Date     Review By          Comments                                  
------   ------------       -------------------------  
-- DROP proc dbo.Proc_UPDATE_POLICY_LEVEL_COVERAGES_APP  
*********************************************/                                 
CREATE PROC dbo.Proc_UPDATE_POLICY_LEVEL_COVERAGES_APP                                  
(                                  
 @CUSTOMER_ID     int,                                  
 @APP_ID     int ,                                  
 @APP_VERSION_ID     smallint,                                  
 @VEHICLE_ID     smallint      
)  
as   
BEGIN  
--Copy Policy level vehicles from any other vehicle if it exists--              
declare @VEHICLE_TYPE_PER nvarchar(10),@VEHICLE_TYPE_COM nvarchar(10),@IS_SUSPENDED int,@USE_VEHICLE int,@COMPRH_ONLY int  
  
SELECT @VEHICLE_TYPE_PER=VEHICLE_TYPE_PER,@VEHICLE_TYPE_COM=VEHICLE_TYPE_COM,@IS_SUSPENDED=IS_SUSPENDED ,@COMPRH_ONLY=COMPRH_ONLY,  
 @USE_VEHICLE =USE_VEHICLE   
 FROM    APP_VEHICLES    WITH(NOLOCK)          
    WHERE CUSTOMER_ID = @CUSTOMER_ID AND              
     APP_ID = @APP_ID AND              
     APP_VERSION_ID = @APP_VERSION_ID AND              
     VEHICLE_ID = @VEHICLE_ID  
  
if (ISNULL(@VEHICLE_TYPE_PER,'0') NOT IN ('11870','11337','11618')   
 AND ISNULL(@VEHICLE_TYPE_COM,'0')  NOT IN ('11341')  
 AND isnull(@IS_SUSPENDED,0)!=10963      
 AND ISNULL(@COMPRH_ONLY,0)!=10963    --IF MOTOR LOB  
  )  
BEGIN  
  DECLARE @TEMP_ERROR Int              
  SET @TEMP_ERROR = 0              
             
   SELECT  AVC.* INTO #APP_VEHICLE_COVERAGES               
  FROM APP_VEHICLE_COVERAGES AVC   WITH(NOLOCK)           
  INNER JOIN MNT_COVERAGE C ON              
   AVC.COVERAGE_CODE_ID = C.COV_ID               
  WHERE CUSTOMER_ID = @CUSTOMER_ID AND              
   APP_ID = @APP_ID AND              
   APP_VERSION_ID = @APP_VERSION_ID AND              
   C.COVERAGE_TYPE = 'PL' AND              
   VEHICLE_ID =               
   (              
    SELECT TOP 1 VEHICLE_ID FROM               
    APP_VEHICLES    WITH(NOLOCK)          
    WHERE CUSTOMER_ID = @CUSTOMER_ID AND              
     APP_ID = @APP_ID AND              
     APP_VERSION_ID = @APP_VERSION_ID AND              
     VEHICLE_ID <> @VEHICLE_ID  
 AND ISNULL(VEHICLE_TYPE_PER,'0') NOT IN ('11870','11337','11618')   
 AND ISNULL(VEHICLE_TYPE_COM,'0')  NOT IN ('11341')  
 AND isnull(IS_SUSPENDED,0)!=10963      
 AND isnull(USE_VEHICLE,'0') =ISNULL(@USE_VEHICLE,'0')  -- Itrack 5731  
 AND ISNULL(COMPRH_ONLY,0)!=10963     -- IF mOTOR LOB  --Changed to COMPRH_ONLY from @COMPRH_ONLY by Charles on 26-Aug-09 for Itrack 6151
   )    
    SET @TEMP_ERROR = @@ERROR              
      UPDATE #APP_VEHICLE_COVERAGES               
     SET VEHICLE_ID = @VEHICLE_ID              
        SET @TEMP_ERROR = @@ERROR      
          
DECLARE @COVERAGE_ID INT,@IDEN_ROW_ID INT,@COVERAGE_CODE_ID INT  
  
CREATE TABLE #TEMP_VEHICLE_COVERAGES (IDEN_ROW_ID INT IDENTITY(1,1),COVERAGE_CODE_ID INT)  
  
          
INSERT INTO #TEMP_VEHICLE_COVERAGES(COVERAGE_CODE_ID) SELECT COVERAGE_CODE_ID FROM #APP_VEHICLE_COVERAGES              
  
SELECT @COVERAGE_ID=isnull(MAX(COVERAGE_ID),0)+1 FROM APP_VEHICLE_COVERAGES               
WHERE CUSTOMER_ID = @CUSTOMER_ID AND              
     APP_ID = @APP_ID AND              
     APP_VERSION_ID = @APP_VERSION_ID AND              
     VEHICLE_ID = @VEHICLE_ID  
--deleting exiting PL Covg if existing  
 DELETE FROM APP_VEHICLE_COVERAGES  
   WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
    APP_ID = @APP_ID AND          
    APP_VERSION_ID = @APP_VERSION_ID AND          
  VEHICLE_ID = @VEHICLE_ID     
  AND COVERAGE_CODE_ID IN  
   (SELECT COVERAGE_CODE_ID FROM #APP_VEHICLE_COVERAGES)  
--END DELETING  
  
 SET @IDEN_ROW_ID=1  
 WHILE  1=1  
  BEGIN  
  IF NOT EXISTS(   
     SELECT COVERAGE_CODE_ID FROM #TEMP_VEHICLE_COVERAGES WHERE IDEN_ROW_ID=@IDEN_ROW_ID  
     )  
   BEGIN  
    BREAK    
   END  
  SELECT @COVERAGE_CODE_ID=COVERAGE_CODE_ID FROM #TEMP_VEHICLE_COVERAGES WHERE IDEN_ROW_ID=@IDEN_ROW_ID  
  INSERT INTO APP_VEHICLE_COVERAGES     
  (CUSTOMER_ID,APP_ID,APP_VERSION_ID,VEHICLE_ID,COVERAGE_ID,COVERAGE_CODE_ID,LIMIT_OVERRIDE,LIMIT_1,LIMIT_1_TYPE,LIMIT_2,LIMIT_2_TYPE,DEDUCT_OVERRIDE,DEDUCTIBLE_1,DEDUCTIBLE_1_TYPE,  
  DEDUCTIBLE_2,DEDUCTIBLE_2_TYPE,WRITTEN_PREMIUM,FULL_TERM_PREMIUM,IS_SYSTEM_COVERAGE,LIMIT1_AMOUNT_TEXT,LIMIT2_AMOUNT_TEXT,DEDUCTIBLE1_AMOUNT_TEXT,DEDUCTIBLE2_AMOUNT_TEXT,SIGNATURE_OBTAINED,  
  LIMIT_ID,DEDUC_ID,ADD_INFORMATION  
  )            
  SELECT  CUSTOMER_ID,APP_ID,APP_VERSION_ID,VEHICLE_ID,@COVERAGE_ID,COVERAGE_CODE_ID,LIMIT_OVERRIDE,LIMIT_1,LIMIT_1_TYPE,LIMIT_2,LIMIT_2_TYPE,DEDUCT_OVERRIDE,DEDUCTIBLE_1,DEDUCTIBLE_1_TYPE,  
  DEDUCTIBLE_2,DEDUCTIBLE_2_TYPE,WRITTEN_PREMIUM,FULL_TERM_PREMIUM,IS_SYSTEM_COVERAGE,LIMIT1_AMOUNT_TEXT,LIMIT2_AMOUNT_TEXT,DEDUCTIBLE1_AMOUNT_TEXT,DEDUCTIBLE2_AMOUNT_TEXT,SIGNATURE_OBTAINED,  
  LIMIT_ID,DEDUC_ID,ADD_INFORMATION   
  
  FROM #APP_VEHICLE_COVERAGES   
  WHERE COVERAGE_CODE_ID=@COVERAGE_CODE_ID   
                                  
 SET @TEMP_ERROR = @@ERROR        
 SET @COVERAGE_ID=@COVERAGE_ID+1  
 SET @IDEN_ROW_ID=@IDEN_ROW_ID+1  
  END   
DROP TABLE #TEMP_VEHICLE_COVERAGES   
  
       SET @TEMP_ERROR = @@ERROR        
--INSERT ASSOCIATED ENDORSEMENT   
 SELECT PVE.* INTO  #APP_VEHICLE_ENDORSEMENTS   
  FROM APP_VEHICLE_ENDORSEMENTS  PVE  
  INNER JOIN  MNT_ENDORSMENT_DETAILS MED ON MED.ENDORSMENT_ID=PVE.ENDORSEMENT_ID  
  WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
   APP_ID = @APP_ID AND          
   APP_VERSION_ID = @APP_VERSION_ID AND          
   VEHICLE_ID <> @VEHICLE_ID     
 AND SELECT_COVERAGE IN (SELECT COVERAGE_CODE_ID FROM #APP_VEHICLE_COVERAGES)  
 AND ISNULL(MED.ENDORS_ASSOC_COVERAGE,'')='Y'  
 AND VEHICLE_ID =           
 (          
  SELECT TOP 1 VEHICLE_ID FROM           
  APP_VEHICLES          
  WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
        APP_ID = @APP_ID AND          
     APP_VERSION_ID = @APP_VERSION_ID AND          
  VEHICLE_ID <> @VEHICLE_ID    
  AND ISNULL(VEHICLE_TYPE_PER,'0') NOT IN ('11870','11337','11618')   
  AND ISNULL(VEHICLE_TYPE_COM,'0')  NOT IN ('11341')   
  AND isnull(IS_SUSPENDED,0)!=10963    
  AND isnull(USE_VEHICLE,'0') =ISNULL(@USE_VEHICLE,'0')     -- Itrack 5731  
  AND ISNULL(COMPRH_ONLY,0)!=10963     -- IF mOTOR LOB --Changed to COMPRH_ONLY from @COMPRH_ONLY by Charles on 26-Aug-09 for Itrack 6151 
 )           
 UPDATE #APP_VEHICLE_ENDORSEMENTS SET VEHICLE_ID = @VEHICLE_ID    
--deleting exiting PL Covg/ENDORSEMENT if existing  
 DELETE FROM APP_VEHICLE_ENDORSEMENTS  
   WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
    APP_ID = @APP_ID AND          
    APP_VERSION_ID = @APP_VERSION_ID AND          
  VEHICLE_ID = @VEHICLE_ID     
  AND ENDORSEMENT_ID IN  
  (SELECT ENDORSMENT_ID FROM MNT_ENDORSMENT_DETAILS   
   WHERE SELECT_COVERAGE IN (SELECT COVERAGE_CODE_ID FROM #APP_VEHICLE_COVERAGES)  
  )  
--END DELETING  
DECLARE @VEHICLE_ENDORSEMENT_ID INT,@ENDORSEMENT_ID INT  
  
CREATE TABLE #TEMP_VEHICLE_ENDORSEMENT (IDEN_ROW_ID INT IDENTITY(1,1),ENDORSEMENT_ID INT)  
          
INSERT INTO #TEMP_VEHICLE_ENDORSEMENT(ENDORSEMENT_ID) SELECT ENDORSEMENT_ID FROM #APP_VEHICLE_ENDORSEMENTS              
  
SELECT @VEHICLE_ENDORSEMENT_ID=isnull(MAX(VEHICLE_ENDORSEMENT_ID),0)+1 FROM APP_VEHICLE_ENDORSEMENTS               
WHERE CUSTOMER_ID = @CUSTOMER_ID AND              
     APP_ID = @APP_ID AND              
     APP_VERSION_ID = @APP_VERSION_ID AND              
     VEHICLE_ID = @VEHICLE_ID  
-- INSERT INTO APP_VEHICLE_ENDORSEMENTS  
--  SELECT * FROM #APP_VEHICLE_ENDORSEMENTS   
 SET @IDEN_ROW_ID=1  
 WHILE  1=1  
  BEGIN  
  IF NOT EXISTS(   
     SELECT ENDORSEMENT_ID FROM #TEMP_VEHICLE_ENDORSEMENT WHERE IDEN_ROW_ID=@IDEN_ROW_ID  
     )  
   BEGIN  
    BREAK    
   END  
  SELECT @ENDORSEMENT_ID=ENDORSEMENT_ID FROM #TEMP_VEHICLE_ENDORSEMENT WHERE IDEN_ROW_ID=@IDEN_ROW_ID  
  
  INSERT INTO APP_VEHICLE_ENDORSEMENTS  
   (CUSTOMER_ID,APP_ID,APP_VERSION_ID,VEHICLE_ID,ENDORSEMENT_ID,REMARKS,VEHICLE_ENDORSEMENT_ID,EDITION_DATE)     
  
  SELECT CUSTOMER_ID,APP_ID,APP_VERSION_ID,VEHICLE_ID,ENDORSEMENT_ID,REMARKS,@VEHICLE_ENDORSEMENT_ID,EDITION_DATE  
  FROM   #APP_VEHICLE_ENDORSEMENTS WHERE ENDORSEMENT_ID=@ENDORSEMENT_ID  
   
 SET @VEHICLE_ENDORSEMENT_ID=@VEHICLE_ENDORSEMENT_ID+1  
 SET @IDEN_ROW_ID=@IDEN_ROW_ID+1  
  END   
  
  
DROP TABLE #TEMP_VEHICLE_ENDORSEMENT                               
  SET @TEMP_ERROR = @@ERROR   
 DROP TABLE #APP_VEHICLE_ENDORSEMENTS                               
--END HERE   
     SET @TEMP_ERROR = @@ERROR              
      DROP TABLE #APP_VEHICLE_COVERAGES    
     SET @TEMP_ERROR = @@ERROR              
               
  IF (   @TEMP_ERROR  <> 0 )              
  BEGIN              
    RAISERROR ('Unable to copy Policy Level Coverages', 16, 1)              
    RETURN              
  END              
END  
  
END   

  
GO

