IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_SUSEP_PREMCED_ISSUED_CANCELLED_OUTWARDS_COINSURANCE_PREMIUMS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_SUSEP_PREMCED_ISSUED_CANCELLED_OUTWARDS_COINSURANCE_PREMIUMS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[PROC_SUSEP_PREMCED_ISSUED_CANCELLED_OUTWARDS_COINSURANCE_PREMIUMS]    
(
 @DATETIME DATETIME,  
 @POLICY_NUMBER VARCHAR(22) = NULL  
)        
AS 

 DECLARE @MONTH VARCHAR(2)  
 DECLARE @YEAR VARCHAR(4) 
 DECLARE @TEMP NVARCHAR(500)
 SET @MONTH= DATEPART(MM, @DATETIME) 
 SET @YEAR=(SELECT DATEPART(YYYY, @DATETIME))  
 BEGIN
	DECLARE @TEMPTABLE TABLE 
	(
		SEQUENCE_NO INT IDENTITY(1,1), ---SEQUENCE NUMBER.
		COMPANY_CODE VARCHAR(50),
		REFERENCE_MONTH VARCHAR(8),
		SUSEP_PROCESS_NO NVARCHAR(50)
	)
INSERT INTO @TEMPTABLE  
  
   SELECT 
		  --ALIANÇA DA BAHIA SUSEP CODE.
		 '05045' AS COMPANY_CODE, 
		 
		  -----BASE MONTH: YYYYMM.
		  CASE  
			WHEN @MONTH IN (1,2,3,4,5,6,7,8,9) THEN  @YEAR + '0' + @MONTH 
			WHEN @MONTH IN (10,11,12) THEN  @YEAR + @MONTH
		 END AS REFERENCE_MONTH,  --REFERENCE MONTH OF THE REPORT.
		 
		 ----PROCESS NUMBER OF PRODUCT PROVIDED BY SUSEP.
		 MPSPN.SUSEP_PROCESS_NO
 FROM 
		 POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK) 
LEFT OUTER JOIN
		 MNT_PRODUCT_SUSEP_PROCESS_NUMBER MPSPN WITH(NOLOCK) ON (MPSPN.LOB_ID = PCPL.POLICY_LOB AND 
																 MPSPN.SUBLOB_ID = PCPL.POLICY_SUBLOB)
INNER JOIN
		 POL_POLICY_PROCESS PPP WITH(NOLOCK) ON (PPP.CUSTOMER_ID = PCPL.CUSTOMER_ID  
												AND PPP.POLICY_ID = PCPL.POLICY_ID
												AND PPP.NEW_POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID
												AND PPP.PROCESS_STATUS <> 'ROLLBACK')														 

   WHERE
		 CONVERT(VARCHAR(6),PPP.CREATED_DATETIME,112) = CONVERT(VARCHAR(6),@DATETIME,112) AND
		 (@POLICY_NUMBER IS NULL OR PCPL.POLICY_NUMBER =  @POLICY_NUMBER) AND
		 PCPL.CO_INSURANCE = 14548 -- FOR LEADER
    
SELECT * FROM @TEMPTABLE

END



GO

