IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_ClaimCheckDetails_1099]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_ClaimCheckDetails_1099]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin traN      
-- drop proc dbo.Proc_ClaimCheckDetails_1099          
--GO       
      
CREATE PROC [dbo].[Proc_ClaimCheckDetails_1099]         
(        
  @YEAR INT,          
  @SYS_1099_AMOUNT decimal(18,2),        
  @PAYORS_CARRIER_CODE VARCHAR(10)           
)        
         
AS        
BEGIN  

DECLARE @CLAIMANT INT SET @CLAIMANT  = 9          
DECLARE @INSURED INT SET @INSURED  = 10           
DECLARE @LIEN_HOLDER INT SET @LIEN_HOLDER  = 157     

DECLARE @PARTY_MEDICAL_PROVIDER INT		SET @PARTY_MEDICAL_PROVIDER  = 150
DECLARE @PARTY_LEGAL_OTHER INT			SET @PARTY_LEGAL_OTHER  = 154          

DECLARE @CLAIM_CHECK_TYPE INT
SET @CLAIM_CHECK_TYPE = 9937
        
CREATE TABLE #PARTY_DETAILS
(
  [IDENT_COL] [INT] IDENTITY(1,1) NOT NULL , 
  [CHECK_ID]  INT,
  [CHECK_AMOUNT] DECIMAL(18,2) ,
  [FEDERAL_ID] NVARCHAR(44),
  [SERVICE_TYPE_ID] INT,
  [PARTY_PAYMENT_TYPE]	 INT   ,
  [PARTY_NAME] VARCHAR(200)

)
      

--UNION OF SINGLE PARTY AND MULTUPLE PARTY

INSERT INTO #PARTY_DETAILS

SELECT CHK.CHECK_ID,CHK.CHECK_AMOUNT,PART.FEDRERAL_ID ,
CASE PARTY_TYPE_ID WHEN @PARTY_LEGAL_OTHER THEN @PARTY_LEGAL_OTHER 
				   WHEN @PARTY_MEDICAL_PROVIDER THEN @PARTY_MEDICAL_PROVIDER 
				   ELSE EXPERT_SERVICE_TYPE 
				   END AS [SERVICE_TYPE_ID] ,
ACTIVITY_REASON AS PARTY_PAYMENT_TYPE,
PART.[MAIL_1099_NAME]
 FROM 
ACT_CHECK_INFORMATION CHK 
INNER JOIN CLM_ACTIVITY CLM ON
CLM.CHECK_ID = CHK.CHECK_ID

INNER JOIN CLM_PAYEE PAY  
ON PAY.CLAIM_ID = CLM.CLAIM_ID  
AND PAY.ACTIVITY_ID = CLM.ACTIVITY_ID  
 
INNER JOIN CLM_PARTIES PART
ON PART.PARTY_ID = CHK.PAYEE_ENTITY_ID
AND PART.CLAIM_ID = CLM.CLAIM_ID
AND PART.PARTY_TYPE_ID NOT IN (@CLAIMANT,@INSURED,@LIEN_HOLDER) 
AND ISNULL(PART.PROCESSING_OPTION_1099,0) IN (114245,11735)  
WHERE ISNULL(PART.FEDRERAL_ID,'') <> ''
--AND ISNULL(CHK.IS_1099_PROCESSED,'N') <> 'Y' --(Uncomment after Delete statements removed )
AND ISNULL(CHK.IS_PRINTED,'N')  = 'Y'      
AND ISNULL(CHK.IS_COMMITED,'N') = 'Y'        
AND ISNULL(CHK.GL_UPDATE,'0') <> 2   
AND YEAR(CHK.DATE_COMMITTED) = @YEAR
AND ISNULL(CHK.CHECK_TYPE,'') = @CLAIM_CHECK_TYPE
AND ISNULL(PAY.PAYEE_PARTY_ID,'') NOT LIKE '%^%' --remove MULTIPLE  


UNION --Single parties with Manual Checks

SELECT CHK.CHECK_ID,CHK.CHECK_AMOUNT,PART.FEDRERAL_ID ,
CASE PARTY_TYPE_ID WHEN @PARTY_LEGAL_OTHER THEN @PARTY_LEGAL_OTHER 
				   WHEN @PARTY_MEDICAL_PROVIDER THEN @PARTY_MEDICAL_PROVIDER 
				   ELSE EXPERT_SERVICE_TYPE 
				   END AS [SERVICE_TYPE_ID] ,
ACTIVITY_REASON AS PARTY_PAYMENT_TYPE,
PART.[MAIL_1099_NAME]
 FROM 
ACT_CHECK_INFORMATION CHK 
INNER JOIN CLM_ACTIVITY CLM ON
CLM.CHECK_ID = CHK.CHECK_ID

INNER JOIN CLM_PAYEE PAY  
ON PAY.CLAIM_ID = CLM.CLAIM_ID  
AND PAY.ACTIVITY_ID = CLM.ACTIVITY_ID  
 

INNER JOIN CLM_PARTIES PART
ON PART.PARTY_ID = CHK.PAYEE_ENTITY_ID
AND PART.CLAIM_ID = CLM.CLAIM_ID
AND PART.PARTY_TYPE_ID NOT IN (@CLAIMANT,@INSURED,@LIEN_HOLDER) 
AND ISNULL(PART.PROCESSING_OPTION_1099,0) IN (114245,11735)  
WHERE ISNULL(PART.FEDRERAL_ID,'') <> ''
--AND ISNULL(CHK.IS_1099_PROCESSED,'N') <> 'Y' --(Uncomment after Delete statements removed )
AND ISNULL(CHK.MANUAL_CHECK,'N')  = 'Y'         
AND ISNULL(CHK.IS_COMMITED,'N') = 'Y'        
AND ISNULL(CHK.GL_UPDATE,'0') <> 2   
AND YEAR(CHK.DATE_COMMITTED) = @YEAR
AND ISNULL(CHK.CHECK_TYPE,'') = @CLAIM_CHECK_TYPE
AND ISNULL(PAY.PAYEE_PARTY_ID,'') NOT LIKE '%^%' --remove MULTIPLE  



--Inserting Multiple parties
INSERT INTO #PARTY_DETAILS
EXEC DBO.[Proc_Fetch_Multiple_Party_Details] @YEAR


--testing query
----
--select [FEDERAL_ID] ,sum([CHECK_AMOUNT])
-- from #PARTY_DETAILS group by [FEDERAL_ID]
--having sum([CHECK_AMOUNT]) > 600

--select * from #PARTY_DETAILS order by [FEDERAL_ID]



CREATE TABLE #DISTINCT_FED_ID
(
	[IDENT_COL] [INT] IDENTITY(1,1) NOT NULL , 
	[FEDERAL_ID] NVARCHAR(44)
)


INSERT INTO #DISTINCT_FED_ID

SELECT [FEDERAL_ID]
FROM #PARTY_DETAILS
GROUP BY [FEDERAL_ID]
HAVING SUM([CHECK_AMOUNT]) >= @SYS_1099_AMOUNT


 DECLARE @IDENT_COL Int       
 SET @IDENT_COL = 1     

Declare @FEDERAL_ID nvarchar(44)   
Declare @ENTITY_ID int        
Declare @ENTITY_TYPE varchar(10) --AGN,VEN,CSR,CLMV
Declare @RECIPIENT_IDENTIFICATION nvarchar(44)        
--Declare @ENTITY_OTHER_INCOME decimal(18,2)   
Declare @NON_EMPLOYEMENT_COMPENSATION decimal(18,2)     
Declare @RECIPIENT_ENTITY_NAME nvarchar(70)        
Declare @RECIPIENT_ADD1 nvarchar(70)        
DECLARE @RECIPIENT_ADD2 NVARCHAR(70)        
DECLARE @RECIPIENT_CITY NVARCHAR(40)        
DECLARE @RECIPIENT_STATE NVARCHAR(30)        
DECLARE @RECIPIENT_ZIP NVARCHAR(120)        
DECLARE @FORM_1099_ID INT        
DECLARE @1099_ENTITY_ID INT 
DECLARE @FED_SSN_1099 VARCHAR(1)
DECLARE @ENTITY_NAME VARCHAR(200) 
DECLARE @FIELD_1 NVARCHAR(70)  
DECLARE @FIELD_2 NVARCHAR(70)
DECLARE @ENTITY_CODE VARCHAR(20)   --ACCOUNT NUMBER
DECLARE @PROCESSING_OPTION_1099 INT
DECLARE @CREATED_DATETIME DATETIME
SET @CREATED_DATETIME = GETDATE()
SET @ENTITY_TYPE  = 'CLMV'

---Payment var
DECLARE @GROSS_PROCEEDS_PAID_TO_AN_ATTORNEY DECIMAL(18,2) --14
DECLARE @INDEMNITY_PAYMENT DECIMAL(18,2)
SET @INDEMNITY_PAYMENT = 11775


DECLARE @MEDICAL_AND_HEALTH_CARE_PRODUCTS decimal(18,2)    


--//loop thru  distinct fed ID        
WHILE 1=1        
BEGIN        
	 IF NOT EXISTS (SELECT IDENT_COL FROM #DISTINCT_FED_ID WITH(NOLOCK) WHERE IDENT_COL = @IDENT_COL)                        
		  BEGIN                        
			BREAK                        
		  END       

			SELECT @FEDERAL_ID = [FEDERAL_ID] FROM #DISTINCT_FED_ID WHERE IDENT_COL = @IDENT_COL  

			UPDATE ACT_CHECK_INFORMATION SET IS_1099_PROCESSED = 'Y'         
			WHERE CHECK_ID IN ( SELECT [CHECK_ID] FROM #PARTY_DETAILS WHERE [FEDERAL_ID] = @FEDERAL_ID )
			AND ISNULL(CHECK_TYPE,'') =  @CLAIM_CHECK_TYPE

			--SELECT [CHECK_ID] FROM #PARTY_DETAILS WHERE [FEDERAL_ID] = @FEDERAL_ID  


			SELECT 
			@ENTITY_CODE = ISNULL(VENDOR_CODE,'') ,
			@RECIPIENT_ADD1 = ISNULL(MAIL_1099_ADD1,''),
			@RECIPIENT_ADD2 = ISNULL(MAIL_1099_ADD2,''),
			@RECIPIENT_CITY = ISNULL(MAIL_1099_CITY,''),
			@RECIPIENT_STATE = ISNULL(MAIL_1099_STATE,''),
			@RECIPIENT_ZIP = ISNULL(MAIL_1099_ZIP,''),
			@PROCESSING_OPTION_1099 = isnull(PROCESSING_OPTION_1099,0)

			FROM CLM_PARTIES WHERE FEDRERAL_ID = @FEDERAL_ID

			SELECT @ENTITY_NAME = [PARTY_NAME] FROM #PARTY_DETAILS WHERE [FEDERAL_ID] = @FEDERAL_ID 

			SET @FED_SSN_1099 = null

			IF(@PROCESSING_OPTION_1099 = 114245) -->Incorporated - SSN
				SET @FED_SSN_1099 = 'S'
			ELSE IF (@PROCESSING_OPTION_1099 = 11735) -->Other - Federal ID
				SET @FED_SSN_1099 = 'F'


			SET @GROSS_PROCEEDS_PAID_TO_AN_ATTORNEY = NULL
			SET @NON_EMPLOYEMENT_COMPENSATION = NULL
			set @MEDICAL_AND_HEALTH_CARE_PRODUCTS = null
			
			DECLARE @ATTORNEY INT				SET @ATTORNEY = 227
			DECLARE @CLAIMANT_ATTORNEY	INT		SET @CLAIMANT_ATTORNEY = 161
			DECLARE @INSURED_ATTORNEY INT		SET @INSURED_ATTORNEY = 160
			DECLARE @LEGAL_OTHER INT			SET @LEGAL_OTHER = 119
			DECLARE @LEGAL_OTHER_COURT INT		SET @LEGAL_OTHER_COURT = 120
			DECLARE @LEGAL_PROVIDER INT			SET @LEGAL_PROVIDER = 20
			DECLARE @MEDICAL_PROVIDER INT		SET @MEDICAL_PROVIDER  = 21

	
		

------------#################### CASE 1 - GROSS_PROCEEDS_PAID_TO_AN_ATTORNEY - 14 COLUMN---############################
			--Calculate payments
			/*If Payee types 
				Attorney ,	Claimant Attorney ,	Insured's Attorney,	Legal - Other ,	Legal Provider
				And
				Activity Description is (Indemnity Payment)
				Full Payment 
				Partial Payment  -*/
			--SELECT * FROM #PARTY_DETAILS WHERE [FEDERAL_ID] = @FEDERAL_ID 
			
			IF EXISTS(SELECT 1 FROM #PARTY_DETAILS WHERE [FEDERAL_ID] = @FEDERAL_ID  AND [SERVICE_TYPE_ID]
				IN (@ATTORNEY,@CLAIMANT_ATTORNEY,@INSURED_ATTORNEY,@LEGAL_OTHER,@LEGAL_PROVIDER,@PARTY_LEGAL_OTHER)
				AND PARTY_PAYMENT_TYPE = @INDEMNITY_PAYMENT)
			BEGIN
				SELECT @GROSS_PROCEEDS_PAID_TO_AN_ATTORNEY = SUM([CHECK_AMOUNT]) FROM #PARTY_DETAILS WHERE [FEDERAL_ID] = @FEDERAL_ID 
				 AND [SERVICE_TYPE_ID] IN (@ATTORNEY,@CLAIMANT_ATTORNEY,@INSURED_ATTORNEY,@LEGAL_OTHER,@LEGAL_PROVIDER,@PARTY_LEGAL_OTHER)
				AND PARTY_PAYMENT_TYPE = @INDEMNITY_PAYMENT
			END


------------#################### CASE 2 - NON_EMPLOYEMENT_COMPENSATION - 7 COLUMN-----#######################
		/*	"If Payee is 
			Attorney ,  Claimant Attorney , Insured's Attorney, Legal - Other , Legal - Court Report , Legal Provider
			And Activity Description is Not 
			Full Payment 
			Partial Paymnt */


			IF EXISTS(SELECT 1 FROM #PARTY_DETAILS WHERE [FEDERAL_ID] = @FEDERAL_ID  AND [SERVICE_TYPE_ID]
			 IN (@ATTORNEY,@CLAIMANT_ATTORNEY,@INSURED_ATTORNEY,@LEGAL_OTHER,@LEGAL_OTHER_COURT,@PARTY_LEGAL_OTHER,@LEGAL_PROVIDER)
			 AND PARTY_PAYMENT_TYPE <> @INDEMNITY_PAYMENT)
			BEGIN
				SELECT @NON_EMPLOYEMENT_COMPENSATION = SUM([CHECK_AMOUNT]) FROM #PARTY_DETAILS WHERE [FEDERAL_ID] = @FEDERAL_ID 
				 AND [SERVICE_TYPE_ID] IN (@ATTORNEY,@CLAIMANT_ATTORNEY,@INSURED_ATTORNEY,@LEGAL_OTHER,@LEGAL_OTHER_COURT,@PARTY_LEGAL_OTHER,@LEGAL_PROVIDER)
				AND PARTY_PAYMENT_TYPE <> @INDEMNITY_PAYMENT	
			END



------------#################### CASE 3 - MEDICAL_AND_HEALTH_CARE_PRODUCTS - 6 COLUMN-----#######################

			IF EXISTS(SELECT 1 FROM #PARTY_DETAILS WHERE [FEDERAL_ID] = @FEDERAL_ID  AND [SERVICE_TYPE_ID] IN (@MEDICAL_PROVIDER,@PARTY_MEDICAL_PROVIDER))
			BEGIN
				SELECT @MEDICAL_AND_HEALTH_CARE_PRODUCTS = SUM([CHECK_AMOUNT]) FROM #PARTY_DETAILS WHERE [FEDERAL_ID] = @FEDERAL_ID  AND [SERVICE_TYPE_ID] IN (@MEDICAL_PROVIDER,@PARTY_MEDICAL_PROVIDER)
			END

			--for OTHERS
			IF EXISTS(SELECT 1 FROM #PARTY_DETAILS WHERE [FEDERAL_ID] = @FEDERAL_ID  AND [SERVICE_TYPE_ID]
			 NOT IN  (@ATTORNEY,@CLAIMANT_ATTORNEY,@INSURED_ATTORNEY,@LEGAL_OTHER,@LEGAL_OTHER_COURT,@PARTY_LEGAL_OTHER,@LEGAL_PROVIDER,@MEDICAL_PROVIDER,@PARTY_MEDICAL_PROVIDER)
			 )
			BEGIN
				SELECT @NON_EMPLOYEMENT_COMPENSATION = sum([CHECK_AMOUNT]) FROM #PARTY_DETAILS WHERE [FEDERAL_ID] = @FEDERAL_ID
				AND [SERVICE_TYPE_ID]
				NOT IN  (@ATTORNEY,@CLAIMANT_ATTORNEY,@INSURED_ATTORNEY,@LEGAL_OTHER,@LEGAL_OTHER_COURT,@PARTY_LEGAL_OTHER,@LEGAL_PROVIDER,@MEDICAL_PROVIDER,@PARTY_MEDICAL_PROVIDER)	
			END
			
			------------------here
--			select @GROSS_PROCEEDS_PAID_TO_AN_ATTORNEY AS GROSS_aTTORNEY ,@NON_EMPLOYEMENT_COMPENSATION AS NONCOMPNSTN,
--				@MEDICAL_AND_HEALTH_CARE_PRODUCTS med
			

				
			EXECUTE Proc_Insert_FORM_1099         
					@FORM_1099_ID OUT,        
					@ENTITY_ID    =  @ENTITY_ID,        
					@ENTITY_TYPE  =  @ENTITY_TYPE,        
					@PAYORS_CARRIER_CODE  = @PAYORS_CARRIER_CODE,        
					@RECIPIENT_NAME  =  @ENTITY_NAME,
					@RECIPIENT_STREET_ADDRESS1  =  @RECIPIENT_ADD1 ,        
					@RECIPIENT_STREET_ADDRESS2  =  @RECIPIENT_ADD2 ,        
					@RECIPIENT_CITY   =  @RECIPIENT_CITY,        
					@RECIPIENT_STATE  =  @RECIPIENT_STATE,        
					@RECIPIENT_ZIP    =  @RECIPIENT_ZIP,        
					@RECIPIENT_IDENTIFICATION  =  @FEDERAL_ID,  
					@GROSS_PROCEEDS_PAID_TO_AN_ATTORNEY = @GROSS_PROCEEDS_PAID_TO_AN_ATTORNEY ,--14 Field      
					@NON_EMPLOYEMENT_COMPENSATION = @NON_EMPLOYEMENT_COMPENSATION, --7
					@MEDICAL_AND_HEALTH_CARE_PRODUCTS = @MEDICAL_AND_HEALTH_CARE_PRODUCTS, --6
					@ACCOUNT_NO     =  @ENTITY_CODE,        
					@CREATED_BY     =  3,        
					@CREATED_DATETIME  =  @CREATED_DATETIME,        
					@MODIFIED_BY				=  NULL,        
					@LAST_UPDATED_DATETIME		=  NULL,        
					@INSERTUPDATE    =  'I', 
					@FED_SSN_1099    = @FED_SSN_1099,
					@RECIPIENT_NAME_1 = NULL,
					@YEAR_1099 = @YEAR



	--Line Items claims
	INSERT INTO CHECK_DETAILS_1099        
	SELECT @FORM_1099_ID ,[CHECK_ID] , GETDATE(),'CLMV' 
	FROM #PARTY_DETAILS WHERE FEDERAL_ID = @FEDERAL_ID        

SET @IDENT_COL = @IDENT_COL + 1    

END
drop table #PARTY_DETAILS
drop table #DISTINCT_FED_ID
      
END       
--GO      
----------
--EXECUTE [Proc_ClaimCheckDetails_1099] 2009,6,'w001'     
----select * from form_1099
------select * from CHECK_DETAILS_1099 
--ROLLBACK TRAN      

-------------------------------




GO

