IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_REIN_GETXML_BANKINGDETAIL]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[MNT_REIN_GETXML_BANKINGDETAIL]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------        
Proc Name        : dbo.MNT_REIN_GETXML_CONTACT        
Created by       : Harmanjeet Singh      
Date             : April 20,2007     
Purpose          : retrieving data from MNT_REIN_CONTACT       
Revison History  :        
Used In         : Wolverine        
------------------------------------------------------------        
Date     Review By          Comments        
------   ------------       -------------------------*/    
-- Proc_FetchReisurernfo 18
-- DROP PROC dbo.MNT_REIN_GETXML_BANKINGDETAIL 12

     
CREATE PROC [dbo].[MNT_REIN_GETXML_BANKINGDETAIL]        
@REIN_COMAPANY_ID INT        
AS        
        
BEGIN        
SELECT 

ISNULL(REIN_BANK_DETAIL_ID,0) REIN_BANK_DETAIL_ID,
ISNULL(REIN_COMAPANY_ID,0) REIN_COMAPANY_ID,

ISNULL(REIN_BANK_DETAIL_ADDRESS_1,'') REIN_BANK_DETAIL_ADDRESS_1,
ISNULL(REIN_BANK_DETAIL_ADDRESS_2,'') REIN_BANK_DETAIL_ADDRESS_2,      

ISNULL(REIN_BANK_DETAIL_ADDRESS_1,'')+' '+ISNULL(REIN_BANK_DETAIL_ADDRESS_2,'') AS ADDRESS,

ISNULL(REIN_BANK_DETAIL_CITY,'') REIN_BANK_DETAIL_CITY,
ISNULL(REIN_BANK_DETAIL_COUNTRY,'') REIN_BANK_DETAIL_COUNTRY,
ISNULL(REIN_BANK_DETAIL_STATE,'') REIN_BANK_DETAIL_STATE,
ISNULL(REIN_BANK_DETAIL_ZIP,'') REIN_BANK_DETAIL_ZIP,

ISNULL(M_REIN_BANK_DETAIL_ADDRESS_1,'') M_REIN_BANK_DETAIL_ADDRESS_1,        
ISNULL(M_REIN_BANK_DETAIL_ADDRESS_2,'') M_REIN_BANK_DETAIL_ADDRESS_2,        
ISNULL(M_REIN_BANK_DETAIL_CITY,'') M_REIN_BANK_DETAIL_CITY,        
ISNULL(M_REIN_BANK_DETAIL_COUNTRY,'') M_REIN_BANK_DETAIL_COUNTRY,        
ISNULL(M_REIN_BANK_DETAIL_STATE,'') M_REIN_BANK_DETAIL_STATE,        
ISNULL(M_REIN_BANK_DETAIL_ZIP,'') M_REIN_BANK_DETAIL_ZIP,        


ISNULL(REIN_PAYMENT_BASIS,'') REIN_PAYMENT_BASIS,
ISNULL(REIN_BANK_NAME,'') REIN_BANK_NAME,
ISNULL(REIN_TRANSIT_ROUTING,'') REIN_TRANSIT_ROUTING,
ISNULL(REIN_BANK_ACCOUNT,'') REIN_BANK_ACCOUNT
  
--CONVERT(VARCHAR,TERMINATION_DATE,101) TERMINATION_DATE,    
    
   
FROM MNT_REIN_BANKING_DETAIL       
      
--where REIN_BANK_DETAIL_ID=@REIN_BANK_DETAIL_ID    
where REIN_COMAPANY_ID=@REIN_COMAPANY_ID    
END   








GO

