IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_Fetch_Module_Details]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_Fetch_Module_Details]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_Fetch_Module_Details]  
(  
 @moduleID int,  
 @diaryTypeID int,  
 @LOBID int=null  
  
)  
AS  
DECLARE @LOB INT   
BEGIN  
SET @LOB=NULL  
  
 if @LOBID is null   
  begin  
     
   SELECT MDD_LOB_ID,ISNULL(MDD_USERGROUP_ID,'') MDD_USERGROUP_ID,ISNULL(MDD_USERLIST_ID,'') MDD_USERLIST_ID,ISNULL(MDD_FOLLOWUP,0) MDD_FOLLOWUP,ISNULL(MDD_SUBJECTLINE,'') MDD_SUBJECTLINE,ISNULL(MDD_PRIORITY,'') MDD_PRIORITY,ISNULL(MDD_NOTIFICATION_LIST,0
) MDD_NOTIFICATION_LIST  
   FROM MNT_DIARY_DETAILS with (nolock) WHERE MDD_MODULE_ID=@MODULEID AND MDD_DIARYTYPE_ID=@DIARYTYPEID   
  end  
 else  
  begin  
     
   IF @MODULEID=1 OR  @MODULEID=2 OR @MODULEID=3 OR @MODULEID=5  
     BEGIN  
    IF EXISTS (SELECT * FROM MNT_DIARY_DETAILS with(nolock) WHERE   
        MDD_MODULE_ID=@MODULEID AND MDD_DIARYTYPE_ID=@diaryTypeID AND MDD_LOB_ID=@LOBID)   
     SELECT ISNULL(MDD_USERGROUP_ID,'') MDD_USERGROUP_ID,ISNULL(MDD_USERLIST_ID,'') MDD_USERLIST_ID,ISNULL(MDD_FOLLOWUP,0) MDD_FOLLOWUP,ISNULL(MDD_SUBJECTLINE,'') MDD_SUBJECTLINE,ISNULL(MDD_PRIORITY,'') MDD_PRIORITY   
     FROM MNT_DIARY_DETAILS WITH (NOLOCK)   
     LEFT OUTER JOIN MNT_LOB_MASTER WITH (NOLOCK)  ON MNT_DIARY_DETAILS.MDD_LOB_ID= MNT_LOB_MASTER.LOB_ID  
     WHERE MDD_MODULE_ID=@MODULEID AND MDD_DIARYTYPE_ID=@diaryTypeID AND MDD_LOB_ID=@LOBID   
     ORDER BY MNT_LOB_MASTER.LOB_DESC  
    ELSE  
     SELECT ISNULL(MDD_USERGROUP_ID,'') MDD_USERGROUP_ID,ISNULL(MDD_USERLIST_ID,'') MDD_USERLIST_ID,ISNULL(MDD_FOLLOWUP,0) MDD_FOLLOWUP,ISNULL(MDD_SUBJECTLINE,'') MDD_SUBJECTLINE,ISNULL(MDD_PRIORITY,'') MDD_PRIORITY   
     FROM MNT_DIARY_DETAILS WITH (NOLOCK)   
     LEFT OUTER JOIN MNT_LOB_MASTER WITH (NOLOCK) ON MNT_DIARY_DETAILS.MDD_LOB_ID= MNT_LOB_MASTER.LOB_ID  
     WHERE MDD_MODULE_ID=@MODULEID AND MDD_DIARYTYPE_ID=-1 AND MDD_LOB_ID=@LOBID   
     ORDER BY MNT_LOB_MASTER.LOB_DESC  
     END  
   ELSE IF @MODULEID=4 OR  @MODULEID=6   
     BEGIN  
    IF EXISTS (SELECT * FROM MNT_DIARY_DETAILS WITH (NOLOCK) WHERE MDD_MODULE_ID=@MODULEID AND MDD_DIARYTYPE_ID=@DIARYTYPEID AND MDD_LOB_ID=-1)  
     SELECT ISNULL(MDD_USERGROUP_ID,'') MDD_USERGROUP_ID,ISNULL(MDD_USERLIST_ID,'') MDD_USERLIST_ID,ISNULL(MDD_FOLLOWUP,0) MDD_FOLLOWUP,ISNULL(MDD_SUBJECTLINE,'') MDD_SUBJECTLINE,ISNULL(MDD_PRIORITY,'') MDD_PRIORITY   
     FROM MNT_DIARY_DETAILS WITH (NOLOCK)  WHERE MDD_MODULE_ID=@MODULEID AND MDD_DIARYTYPE_ID=@DIARYTYPEID AND MDD_LOB_ID=-1  
    ELSE  
     SELECT ISNULL(MDD_USERGROUP_ID,'') MDD_USERGROUP_ID,ISNULL(MDD_USERLIST_ID,'') MDD_USERLIST_ID,ISNULL(MDD_FOLLOWUP,0) MDD_FOLLOWUP,ISNULL(MDD_SUBJECTLINE,'') MDD_SUBJECTLINE,ISNULL(MDD_PRIORITY,'') MDD_PRIORITY    
     FROM MNT_DIARY_DETAILS WITH (NOLOCK) WHERE MDD_MODULE_ID=@MODULEID AND MDD_DIARYTYPE_ID=-2 AND MDD_LOB_ID=-1  
     END   
  END  
 END  
  
  
GO

