IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cancel_Policy_Boletos]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Cancel_Policy_Boletos]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*
CREATED BY			: Lalit Kr Chauhan   
CREATED DATETIME	: 30 Nov 2010        
PURPOSE				: Cancel Policy Un-Paid Boleto on cancelation commit
Review				:   
Review By  Date		:     
Purpose				:  
DROP PROC Cancel_Policy_Boletos
*/
CREATE PROC [dbo].[Cancel_Policy_Boletos]
(
@CUSTOMER_ID INT,
@POLICY_ID INT,
@POLICY_VERSION_ID INT
)
AS 
BEGIN
DECLARE  @CANCELLATION_DATE DATETIME
		
		--cancellation effective date 
	SELECT  @CANCELLATION_DATE =  EFFECTIVE_DATETIME FROM POL_POLICY_PROCESS WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND PROCESS_ID = 2			
			
	--CANCEL only installment effective date >= cancellation effective date and released status ='N'
	IF EXISTS(SELECT BOLETO.BOLETO_ID FROM POL_INSTALLMENT_BOLETO BOLETO WITH(NOLOCK) INNER JOIN ACT_POLICY_INSTALLMENT_DETAILS INSTALL WITH(NOLOCK) ON INSTALL.CUSTOMER_ID =  BOLETO.CUSTOMER_ID AND
						INSTALL.POLICY_ID =  BOLETO.POLICY_ID AND
						INSTALL.POLICY_VERSION_ID =  BOLETO.POLICY_VERSION_ID AND 
						INSTALL.ROW_ID =  BOLETO.INSTALLEMT_ID			
				        WHERE INSTALL.CUSTOMER_ID = @CUSTOMER_ID AND INSTALL.POLICY_ID = @POLICY_ID AND 
						INSTALL.RELEASED_STATUS = 'N' AND INSTALL.INSTALLMENT_EFFECTIVE_DATE >= @CANCELLATION_DATE)		
		BEGIN	
				UPDATE POL_INSTALLMENT_BOLETO SET IS_ACTIVE = 'N' WHERE  BOLETO_ID IN(SELECT BOLETO.BOLETO_ID FROM POL_INSTALLMENT_BOLETO BOLETO WITH(NOLOCK)
				INNER JOIN ACT_POLICY_INSTALLMENT_DETAILS INSTALL WITH(NOLOCK) ON INSTALL.CUSTOMER_ID =  BOLETO.CUSTOMER_ID AND
				INSTALL.POLICY_ID =  BOLETO.POLICY_ID AND
				INSTALL.POLICY_VERSION_ID =  BOLETO.POLICY_VERSION_ID AND 
				INSTALL.ROW_ID =  BOLETO.INSTALLEMT_ID			
				WHERE INSTALL.CUSTOMER_ID = @CUSTOMER_ID AND INSTALL.POLICY_ID = @POLICY_ID AND 
				INSTALL.RELEASED_STATUS = 'N' AND INSTALL.INSTALLMENT_EFFECTIVE_DATE >= @CANCELLATION_DATE)
					
		END

END
GO

