IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetAgencyFromCombinedCode]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetAgencyFromCombinedCode]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


--BEGIN TRAN
--DROP PROC  Proc_GetAgencyFromCombinedCode 
--  
--  GO
  
CREATE PROC [dbo].[Proc_GetAgencyFromCombinedCode]  
(    
 @AGENCY_CODE VARCHAR(20),  
 @USER_ID INT  
)    
AS    
 
BEGIN 



DECLARE @LOGIN_AGENCY_CODE VARCHAR(20)
SELECT @LOGIN_AGENCY_CODE = USER_SYSTEM_ID FROM MNT_USER_LIST WHERE USER_ID = @USER_ID



--LOGIN IN AGENCY  
SELECT     
AGN.AGENCY_ID ,   
ISNULL(RTRIM(LTRIM(AGN.AGENCY_CODE)),'') AS AGENCY_CODE,    
ISNULL(AGN.AGENCY_DISPLAY_NAME,'') + ' (AGENCY CODE: '+ISNULL(RTRIM(LTRIM(AGN.AGENCY_CODE)),'')+')' AS AGENCY_DISPLAY_NAME    
FROM MNT_AGENCY_LIST AGN  
WHERE AGENCY_CODE = @LOGIN_AGENCY_CODE  
  
UNION  
    
--ASSIGNED AGENCIES   
SELECT     
AGN.AGENCY_ID ,   
ISNULL(RTRIM(LTRIM(AGN.AGENCY_CODE)),'') AS AGENCY_CODE,    
ISNULL(AGN.AGENCY_DISPLAY_NAME,'') + ' (AGENCY CODE: '+ISNULL(RTRIM(LTRIM(AGN.AGENCY_CODE)),'')+')' AS AGENCY_DISPLAY_NAME    
FROM MNT_AGENCY_LIST AGN INNER JOIN   
MNT_USER_AGENCY USR ON USR.AGENCY_ID = AGN.AGENCY_ID  
WHERE [USER_ID] = @USER_ID 

END

--GO
--
--PROC_GETAGENCYFROMCOMBINEDCODE 126,349
--
--ROLLBACK TRAN





GO

