IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetIntallmentDetailsforDepositItem]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetIntallmentDetailsforDepositItem]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN         
--drop proc dbo.Proc_GetIntallmentDetailsforDepositItem        
--go
/*               
----------------------------------------------------------                                    
Proc Name       : dbo.Proc_GetIntallmentDetailsforDepositItem                          
Created by      : Pradeep Kushwaha                     
Date            : 25/Oct/2010                                    
Purpose         : To get the installment details deposit items based on the our number                               
Revison History :                                    
Used In        : Ebix Advantage                                    
------------------------------------------------------------                                    
Date     Review By          Comments                                    
------   ------------       -------------------------                    
drop proc Proc_GetIntallmentDetailsforDepositItem    
exec Proc_GetIntallmentDetailsforDepositItem '52850000604-2',null,'OUR_N'    
*/                  
                       
CREATE PROC  [dbo].[Proc_GetIntallmentDetailsforDepositItem]  
 (                    
  @OUR_NUMBER   NVARCHAR (20)=NULL,
  @POLICY_NUMBER NVARCHAR (21)=NULL, 
  @CALLED_FOR NVARCHAR (25),
  @LANG_ID INT =1
 )                    
AS                    
BEGIN     
IF(UPPER(@CALLED_FOR)='OUR_N')
BEGIN    

	--When user enters Boleto Number, check if this exists in Boleto table, 
	--if it exists as an ACTIVE record, fetch amounts from Installment Details table 
	--IF EXISTS(SELECT TOP 1 OUR_NUMBER FROM POL_INSTALLMENT_BOLETO WITH(NOLOCK) WHERE REPLACE(OUR_NUMBER,'-','')=REPLACE(@OUR_NUMBER,'-',''))-- AND IS_ACTIVE='Y')
	IF EXISTS(
	SELECT TOP 1 PIB.OUR_NUMBER FROM POL_INSTALLMENT_BOLETO PIB with(nolock)  
	INNER JOIN ACT_POLICY_INSTALLMENT_DETAILS APID with(nolock) ON
	APID.CUSTOMER_ID=PIB.CUSTOMER_ID 
	and APID.POLICY_ID = PIB.POLICY_ID 
	and APID.POLICY_VERSION_ID = PIB.POLICY_VERSION_ID 
	and APID.ROW_ID = PIB.INSTALLEMT_ID
		WHERE REPLACE(PIB.OUR_NUMBER,'-','')=REPLACE(@OUR_NUMBER,'-','') AND  (PIB.IS_ACTIVE='Y' or UPPER(ISNULL(APID.RELEASED_STATUS,'N'))='C')
	)
		BEGIN
			SELECT APID.CUSTOMER_ID, APID.POLICY_ID, APID.POLICY_VERSION_ID,
				APID.INSTALLMENT_AMOUNT,APID.FEE,APID.TAXES,APID.INTEREST_AMOUNT,APID.TOTAL,
				APID.BOLETO_NO,PIB.BOLETO_ID ,PIB.IS_ACTIVE,APID.INSTALLMENT_NO,POLICY.POLICY_NUMBER
							   
				FROM ACT_POLICY_INSTALLMENT_DETAILS APID with(nolock) 
				left join POL_INSTALLMENT_BOLETO PIB with(nolock) ON 
				APID.CUSTOMER_ID=PIB.CUSTOMER_ID and 
				APID.POLICY_ID = PIB.POLICY_ID and 
				APID.POLICY_VERSION_ID = PIB.POLICY_VERSION_ID and 
				APID.ROW_ID = PIB.INSTALLEMT_ID 
				LEFT JOIN POL_CUSTOMER_POLICY_LIST POLICY WITH(NOLOCK) ON
				POLICY.CUSTOMER_ID=APID.CUSTOMER_ID and 
				POLICY.POLICY_ID = APID.POLICY_ID and 
				POLICY.POLICY_VERSION_ID = APID.POLICY_VERSION_ID
				
				WHERE REPLACE(PIB.OUR_NUMBER,'-','')=REPLACE(@OUR_NUMBER,'-','') --AND PIB.IS_ACTIVE='Y'  
				 
		END
	--2.	When user enters Boleto Number, check if this exists in Boleto table, 
	--if it exists as an INACTIVE record, fetch amounts from Installment Details History table 
	--This deposit item would go in exception
	ELSE IF EXISTS(SELECT TOP 1 OUR_NUMBER FROM POL_INSTALLMENT_BOLETO WITH(NOLOCK) WHERE REPLACE(OUR_NUMBER,'-','')=REPLACE(@OUR_NUMBER,'-','') AND IS_ACTIVE='N')
		BEGIN
			SELECT INST_HST.CUSTOMER_ID, INST_HST.POLICY_ID, INST_HST.POLICY_VERSION_ID,
					INST_HST.INSTALLMENT_AMOUNT,INST_HST.FEE,INST_HST.TAXES,INST_HST.INTEREST_AMOUNT,INST_HST.TOTAL,
					BOLETO.OUR_NUMBER,BOLETO.BOLETO_ID ,BOLETO.IS_ACTIVE,INST_HST.INSTALLMENT_NO,POLICY.POLICY_NUMBER
								   
					FROM ACT_POLICY_INSTALLMENT_DETAILS_HISTORY INST_HST WITH(NOLOCK) 
					LEFT JOIN POL_INSTALLMENT_BOLETO BOLETO WITH(NOLOCK) ON 
					INST_HST.CUSTOMER_ID=BOLETO.CUSTOMER_ID AND 
					INST_HST.POLICY_ID = BOLETO.POLICY_ID AND 
					INST_HST.POLICY_VERSION_ID = BOLETO.POLICY_VERSION_ID AND 
					INST_HST.INSTALLMENT_ROW_ID = BOLETO.INSTALLEMT_ID
					
					LEFT JOIN POL_CUSTOMER_POLICY_LIST POLICY WITH(NOLOCK) ON
					POLICY.CUSTOMER_ID=INST_HST.CUSTOMER_ID and 
					POLICY.POLICY_ID = INST_HST.POLICY_ID and 
					POLICY.POLICY_VERSION_ID = INST_HST.POLICY_VERSION_ID
					
					WHERE REPLACE(BOLETO.OUR_NUMBER,'-','')=REPLACE(@OUR_NUMBER,'-','') AND BOLETO.IS_ACTIVE='N' 
					ORDER BY CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,INST_HST.HISTORY_ROW_ID DESC		
		END 
END
ELSE IF(UPPER(@CALLED_FOR)='POL_N')
BEGIN
  SELECT TOP 1 POLICY.CUSTOMER_ID,POLICY.POLICY_ID,POLICY.POLICY_VERSION_ID ,
  POLICY.POLICY_NUMBER,STATUS_MASTER.POLICY_DESCRIPTION  
  FROM POL_CUSTOMER_POLICY_LIST POLICY WITH(NOLOCK)   
  LEFT JOIN POL_POLICY_STATUS_MASTER STATUS_MASTER WITH(NOLOCK)     
  ON STATUS_MASTER.POLICY_STATUS_CODE = ISNULL(POLICY.POLICY_STATUS,POLICY.APP_STATUS)
  WHERE POLICY_NUMBER=@POLICY_NUMBER  ORDER BY POLICY_VERSION_ID DESC
 END
ELSE IF(UPPER(@CALLED_FOR)='COINS_DEPOSIT') -- For Co-Insurance Deposit
BEGIN    
 	 
   
	SELECT
	
	ISNULL(ENDO.POLICY_VERSION_ID,1) POLICY_VERSION_ID,
	ISNULL(ENDO.CO_ENDORSEMENT_NO, CASE WHEN @LANG_ID = 2 THEN 'EMI' ELSE 'NBS' END) AS CO_ENDORSEMENT_NO 
	
	FROM POL_CO_INSURANCE CO_INS WITH(NOLOCK)
	LEFT JOIN POL_POLICY_ENDORSEMENTS ENDO WITH(NOLOCK) ON  
	CO_INS.CUSTOMER_ID=ENDO.CUSTOMER_ID AND 
	CO_INS.POLICY_ID   =ENDO.POLICY_ID AND 
	CO_INS.POLICY_VERSION_ID =ENDO.POLICY_VERSION_ID
	INNER JOIN POL_POLICY_PROCESS PROCESS WITH(NOLOCK) ON --itrack 1148/1363 to get the co endorsement no only if the policy is committed 
	PROCESS.CUSTOMER_ID = CO_INS.CUSTOMER_ID  AND 
	PROCESS.POLICY_ID =CO_INS.POLICY_ID AND 
	PROCESS.NEW_POLICY_VERSION_ID =CO_INS.POLICY_VERSION_ID AND 
	PROCESS.PROCESS_STATUS='COMPLETE'
	
	WHERE CO_INS.LEADER_POLICY_NUMBER=@POLICY_NUMBER 
	 
	SELECT CO_INS.COINSURANCE_ID,CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID FROM POL_CO_INSURANCE CO_INS WITH(NOLOCK) WHERE CO_INS.LEADER_POLICY_NUMBER=@POLICY_NUMBER  
	
END
ELSE IF(UPPER(@CALLED_FOR)='REFUND_DEPOSIT') -- For REFUND Deposit
BEGIN    
 	 
   
	SELECT 
	POLICY_STATUS,
	POLICY_LIST.POLICY_VERSION_ID, 
	ISNULL(ML_STATUS_MASTER.POLICY_DESCRIPTION,STATUS_MASTER.POLICY_DESCRIPTION) +ISNULL(+ ' ( ' +POLICY_LIST.POLICY_DISP_VERSION +' ) ','')  AS POLICY_DESCRIPTION
 
	FROM POL_CUSTOMER_POLICY_LIST POLICY_LIST WITH(NOLOCK)
	LEFT JOIN POL_POLICY_STATUS_MASTER STATUS_MASTER WITH(NOLOCK) ON
	STATUS_MASTER.POLICY_STATUS_CODE =POLICY_LIST.POLICY_STATUS
	LEFT JOIN POL_POLICY_STATUS_MASTER_MULTILINGUAL ML_STATUS_MASTER WITH(NOLOCK) ON 
	ML_STATUS_MASTER.POLICY_STATUS_CODE=STATUS_MASTER.POLICY_STATUS_CODE
	AND ML_STATUS_MASTER.LANG_ID=@LANG_ID
	WHERE POLICY_NUMBER=@POLICY_NUMBER
	SELECT TOP 1 CUSTOMER_ID,POLICY_ID FROM POL_CUSTOMER_POLICY_LIST POLICY_LIST WITH(NOLOCK) WHERE POLICY_NUMBER=@POLICY_NUMBER
END   
END  

GO

