--ITRACK 1070 (179)
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_SUSEP_PREMRECAC_INWARD_COINSURANCE_PREMIUMS_RECEIVED]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_SUSEP_PREMRECAC_INWARD_COINSURANCE_PREMIUMS_RECEIVED]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[PROC_SUSEP_PREMRECAC_INWARD_COINSURANCE_PREMIUMS_RECEIVED] --'08/08/2011'  
(
 @DATETIME DATETIME,  
 @POLICY_NUMBER VARCHAR(22) = NULL  
)        
AS 

 DECLARE @MONTH VARCHAR(2)  
 DECLARE @YEAR VARCHAR(4) 
 DECLARE @TEMP NVARCHAR(500)
 SET @MONTH= DATEPART(MM, @DATETIME) 
 SET @YEAR=(SELECT DATEPART(YYYY, @DATETIME))  
 BEGIN

	DECLARE @TEMPTABLE TABLE 
	(
		SEQUENCE_NO INT IDENTITY(1,1), ---SEQUENCE NUMBER.
		COMPANY_CODE VARCHAR(50),
		REFERENCE_MONTH VARCHAR(8),
		TYPE_TRANSACTION VARCHAR(10),
		SUSEP_LOB_CODE VARCHAR(5),
		LEADER_POLICY_NUMBER NVARCHAR(50),
		ENDORSEMENT_NO NVARCHAR(50),
		LEADER_CO_SUSEP_CODE NVARCHAR(50),
		INSTALLMENT_NO INT,
		INSTALLMENT_QUANTITY INT,
		DATE_OF_PLOT_POLICY VARCHAR(10),
		INSTALLMENT_DUE_DATE VARCHAR(10),
		EFFECTIVE_DATE VARCHAR(10),
		EXPIRED_DATE VARCHAR(10),
		TOTAL_INSTALLMENT_AMOUNT NVARCHAR(100)
		
    )
INSERT INTO @TEMPTABLE  
  
  SELECT 
		  --ALIANÇA DA BAHIA SUSEP CODE.
		 '504-5' AS COMPANY_CODE, --Modified by praveer 5-sep-2011 - itrack - 1070 (Point-23)
		 
		  -----BASE MONTH: YYYYMM.
		  CASE  
			WHEN @MONTH IN (1,2,3,4,5,6,7,8,9) THEN  @YEAR + '0' + @MONTH 
			WHEN @MONTH IN (10,11,12) THEN  @YEAR + @MONTH
		 END AS REFERENCE_MONTH,  --REFERENCE MONTH OF THE REPORT.
		 
		 
		 ------------------------------------------------------------------------------------------------------------
			--TYPE OF TRANSACTION.
			--101-POLICY ISSUANCE. 
			--102-ADDITIONAL PREMIUM CHARGE ENDORSEMENT. 
		 ------------------------------------------------------------------------------------------------------------
		 CASE	
			 WHEN VW.PROCESS_ID IN (18,25) THEN '101'--SH
			 WHEN VW.PROCESS_ID IN (14) AND APID.INSTALLMENT_AMOUNT >= 0 THEN '102'
		 END AS TYPE_TRANSACTION,
		 
		 
		-----------SUSEP LOB CODE  
		 VW.SUSEP_LOB_CODE,


		------------NUMBER OF LEADER COINSURER'S POLICY/CERTIFICATE.
		CASE
				WHEN VW.LEADER_FOLLOWER = 14549 THEN ISNULL(VW.LEADER_POLICY_NUMBER ,'')
		END AS LEADER_POLICY_NUMBER,
		


		--------------------------------------------------------------------------------------------
			--NUMBER OF LEADER COINSURER'S ENDORSEMENT. 
			--IF THE TYPE OF TRANSACTION IS POLICY ISSUANCE,(POLICY ISSUANCE : 25)
			--FILL OUT THIS FIELD WITH ZEROS IN ITS TOTALITY. 

		 --------------------------------------------------------------------------------------------
		 --Modified by pradeep for itrack on 30-08-2011- point-2
		 CASE
			WHEN VW.PROCESS_ID IN (18,25) THEN ''
			WHEN VW.CO_INSURANCE = 14549 THEN VW.ENDORSEMENT_POLICY_NUMBER
			ELSE CONVERT(VARCHAR(10),ISNULL(CAST(VW.ENDORSEMENT_NO AS VARCHAR(50)),''))--Modified by praveer 5-sep-2011 - itrack - 1070 (Point-18)
		 END AS ENDORSEMENT_NO,
		 --Modified till here 
		 
		 ----------------LEADER COINSURER SUSEP CODE.
		 --Modified by Pradeep 25-Aug-2011 - itrack - 1070 -- (Point- 4)
		 --ISNULL(VW.SUSEP_NUM,''),
		 (SELECT 
			M.SUSEP_NUM 
			FROM MNT_REIN_COMAPANY_LIST M WITH(NOLOCK)
			INNER JOIN
			[VW_SUSEP_FORM_ISSUED_CANCELLED_COINSURANCE_PREMIUMS] VW2 WITH(NOLOCK) ON 
			M.REIN_COMAPANY_ID = VW2.COMPANY_ID
			AND VW2.LEADER_FOLLOWER = 14548
			WHERE 
			VW2.PCPL_CUSTOMER_ID = VW.PCPL_CUSTOMER_ID 
			AND VW2.PCPL_POLICY_ID = VW.PCPL_POLICY_ID 
			AND VW2.PCPL_POLICY_VERSION_ID = VW.PCPL_POLICY_VERSION_ID 
			) AS SUSEP_NUM
		,
		--Modified till here 
		 -----------------INSTALLMENT NUMBER
		  APID.INSTALLMENT_NO, 


		---------------------------------------------------------------------------------------------------------
		  --TOTAL NUMBER OF INSTALLMENTS. INSTALLMENTS OF POLICY 
		  --AND ENDORSEMENT SHOULD BE SEPARATELY COUNTED.
		  ---------------------------------------------------------------------------------------------------------
		  --COUNT(APID.INSTALLMENT_NO) AS INSTALLMENT_QUANTITY--SHUBHANSHU
		    (SELECT COUNT(*) FROM ACT_POLICY_INSTALLMENT_DETAILS APID2 WITH(NOLOCK) 
		   WHERE APID2.CUSTOMER_ID=VW.PCPL_CUSTOMER_ID AND APID2.POLICY_ID=VW.PCPL_POLICY_ID  
		  AND APID2.POLICY_VERSION_ID=VW.PCPL_POLICY_VERSION_ID   
		   GROUP BY APID2.CUSTOMER_ID,APID2.POLICY_ID,APID2.POLICY_VERSION_ID) AS INSTALMENT_QUANTITY ,


		     -----INSTALLMENT DATE OF POLICY/ENDORSEMENT(DATE OF PLOT OF POLICY OR ENDORSEMENT)
		  --CASE
				--WHEN INSTALLMENT_NO = 1 THEN CONVERT(VARCHAR(10),APID.INSTALLMENT_EFFECTIVE_DATE,112)
		  --END AS DATE_OF_PLOT_POLICY,
		  --Commented for itrack 1070 by Pradeep 
		  --ISNULL((SELECT TOP 1
		   --		CONVERT(VARCHAR(10),ISNULL(APID.INSTALLMENT_EFFECTIVE_DATE,''),112)
		  -- FROM 
			--	ACT_POLICY_CO_BILLING_DETAILS A WITH(NOLOCK)
		  -- WHERE A.CUSTOMER_ID = VW.PCPL_CUSTOMER_ID
			--	 AND A.POLICY_ID = VW.PCPL_POLICY_ID
				-- AND A.POLICY_VERSION_ID = VW.PCPL_POLICY_VERSION_ID
			--ORDER BY INSTALLMENT_NO ASC),'') AS DATE_OF_PLOT_POLICY,
			--Commented till here 
			CONVERT(VARCHAR(10),ISNULL(VW.COMPLETED_DATETIME,''),112)AS DATE_OF_PLOT_POLICY , ----Modified by Pradeep 25-Aug-2011 - itrack - 1070 (Point-6)


		   ------INSTALLMENT DUE DATE
		  CONVERT(VARCHAR(10),ISNULL(APID.INSTALLMENT_EFFECTIVE_DATE,''),112) AS INSTALLMENT_DUE_DATE,


		    --------------------------------------------------------------------------------------------
			--IT IS THE EFFECTIVE DATE OF POLICY OR ENDORSEMENT.
			--1.FOR NEW BUSINESS OR RENEWAL, POLICY EFFECTIVE DATE.(NEW BUSINESS:24,25 ; RENEWAL:5)
			--2.FOR ENDORSEMENT, ENDORSEMENT EFFECTIVE DATE.(ENDORSEMENT:3,14)
		  --------------------------------------------------------------------------------------------
		  CASE	
			WHEN VW.PROCESS_ID IN (25,18) THEN CONVERT(VARCHAR(10),ISNULL(VW.POLICY_EFFECTIVE_DATE,''),112)
			WHEN VW.PROCESS_ID IN (14) THEN CONVERT(VARCHAR(10),ISNULL(VW.EFFECTIVE_DATETIME,''),112) 
		  END AS EFFECTIVE_DATE,
		  
		  
		   ----------------------------------------------------------------------------------------------------
			--EXPIRED DATE.
			--1.FOR NEW BUSINESS OR RENEWAL, POLICY EXPIRY DATE.
			--2.FOR ENDORSEMENT, ENDORSEMENT EXPIRY DATE. 
		   ---------------------------------------------------------------------------------------------------
		  CASE	
			WHEN VW.PROCESS_ID IN (25,18) THEN CONVERT(VARCHAR(10),ISNULL(VW.POLICY_EXPIRATION_DATE,''),112)
			WHEN VW.PROCESS_ID IN (14) THEN CONVERT(VARCHAR(10),ISNULL(VW.[EXPIRY_DATE],''),112) 
		  END AS EXPIRED_DATE,
		  



		  		  
		  -----------------------------------------------------------------------------------------------------------
		   --IT REFERS TO THE COINSURANCE INWARDS PREMIUM TO BE RECEIVED.
		   --TOTAL PREMIUM OF EACH INSTALLMENT, WITHOUT INTERESTS, ISSUANCE COST AND IOF, 
		   --BUT COMMISSION IS INCLUDED.
		  -----------------------------------------------------------------------------------------------------------
		  ISNULL(APID.INSTALLMENT_AMOUNT,0.00)AS TOTAL_INSTALLMENT_AMOUNT --Modified by praveer 5-sep-2011 - itrack - 1070 (Point-21)
			  
		 
  FROM
		ACT_POLICY_CO_BILLING_DETAILS APID WITH(NOLOCK)
	INNER JOIN 
		VW_SUSEP_FORM_ISSUED_CANCELLED_COINSURANCE_PREMIUMS AS VW WITH(NOLOCK) ON (VW.CUSTOMER_ID = APID.CUSTOMER_ID 
																				AND VW.POLICY_ID = APID.POLICY_ID 
																				AND VW.NEW_POLICY_VERSION_ID = APID.POLICY_VERSION_ID
																				AND VW.PROCESS_STATUS <> 'ROLLBACK'
																				AND VW.LEADER_FOLLOWER = 14549) 
	WHERE
		 CONVERT(VARCHAR(6),VW.CREATED_DATETIME,112) = CONVERT(VARCHAR(6),@DATETIME,112) AND ----Modified by Pradeep 25-Aug-2011 - itrack - 1070 (Point-14)
		 (@POLICY_NUMBER IS NULL OR VW.POLICY_NUMBER =  @POLICY_NUMBER) 
		 AND VW.CO_INSURANCE = 14549 -- FOR FOLLOWER
		 AND APID.RELEASED_STATUS = 'N'
		 AND APID.INSTALLMENT_AMOUNT > 0 --This report must be filled only with data of installments to be received. 
		 AND VW.PROCESS_ID IN (18,25,14)-- --Modified by Pradeep 30-Aug-2011 - itrack - 1070 (Point-14)								--Information of refund or cancelation should not be filled.
SELECT 
		RIGHT('0000000000' +CONVERT(VARCHAR,SEQUENCE_NO),10) AS SEQUENCIA,--Modified by Pradeep 25-Aug-2011 - itrack - 1070 (Point-16)
		COMPANY_CODE AS COD_CIA,
		REFERENCE_MONTH AS DT_BASE,
		ISNULL(TYPE_TRANSACTION,'') AS TIPO_MOV,
		SUSEP_LOB_CODE AS COD_RAMO,
		right('                    ' +CONVERT(VARCHAR,LEADER_POLICY_NUMBER),20) AS NUM_APOL,--Modified by Pradeep 30-Aug-2011 - itrack - 1070 (Point-17)
		RIGHT('                    ' +CONVERT(VARCHAR,ENDORSEMENT_NO),20) AS NUM_END,--Modified by Pradeep 30-Aug-2011 - itrack - 1070 (Point-18)
		SUBSTRING(RIGHT(LEADER_CO_SUSEP_CODE,4),1,3)+'-'+SUBSTRING(RIGHT(LEADER_CO_SUSEP_CODE,4),4,1)AS COD_COSS,--Modified by praveer 5-sep-2011 - itrack - 1070 (Point-23)
	
		RIGHT('00' +CONVERT(VARCHAR,INSTALLMENT_NO),2) AS PRESTACAO,
		RIGHT('00' +CONVERT(VARCHAR,INSTALLMENT_QUANTITY),2) AS QTDE_PREST,
		ISNULL(DATE_OF_PLOT_POLICY,'') AS DT_EMIS_PRE,
		INSTALLMENT_DUE_DATE AS DT_VEN_PRE,
		ISNULL(EFFECTIVE_DATE,'') AS DT_INI_VIG,
		ISNULL(EXPIRED_DATE,'') AS DT_FIM_VIG,
		RIGHT(CONVERT(VARCHAR,TOTAL_INSTALLMENT_AMOUNT),16) AS PR_COSS_AC --Modified by praveer 5-sep-2011 - itrack - 1070 (Point-21) --Modified by Pradeep 25-Aug-2011 - itrack - 1070 (Point-13)
	
FROM @TEMPTABLE

END

GO 
