IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_DistributeAgencyCheck]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_DistributeAgencyCheck]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------  
Proc Name       : Proc_DistributeAgencyCheck  
Created by      :   
Date            :   
Purpose     :   
Revison History :  
Used In  : Wolverine  
  
Modified By  : Ravindra    
Modified On  : 09-06-2007   
Purpose   : Statement Month and Year condition is missing in Fetching AB/DB Commission   
     AB Premium .   
------------------------------------------------------------  
Date     Review By          Comments  
-----------------------------------------------------------  
*/  
-- drop proc dbo.Proc_DistributeAgencyCheck   
-- exec Proc_DistributeAgencyCheck 10,null,null,null  
CREATE PROCEDURE [dbo].[Proc_DistributeAgencyCheck]  
(  
 @CHECK_ID  int,  
 @ACCOUNT_ID  int = null,  
 @PARAM2   int = null,  
 @PARAM3   int = null,
 @DESCRIPTION VARCHAR(2000) = NULL
)  
AS  
BEGIN  
   
   
	DECLARE @CHECK_AMOUNT decimal(18,2),@MONTH_NUMBER Int,@MONTH_YEAR Int, @AGENCY_ID int,  
			@COMM_TYPE Varchar(10),  
			@AB_PREMIUM_AMOUNT  decimal(18,2),   
			@AB_COMMISSION_AMOUNT decimal(18,2),   
			@DB_COMMISSION_AMOUNT decimal(18,2),  
			@OP_AMOUNT decimal(18,2),  
			@DIFFERENCE_AMOUNT decimal(18,2),  
			@AGENCY_BALANCE_AMOUNT decimal(18,2),  
			@DISTRIBUTED_CHECK_AMOUNT decimal(18,2) ,
			@CSR_ID			Int 
  

	--Retreiving the information of this Check   
	SELECT   @CHECK_AMOUNT = CHECK_AMOUNT,   @AGENCY_ID  =  PAYEE_ENTITY_ID, 
			 @MONTH_NUMBER  = [MONTH],  @MONTH_YEAR  = [YEAR],  @COMM_TYPE  = COMM_TYPE  
	FROM TEMP_ACT_CHECK_INFORMATION   
	WHERE CHECK_ID   = @CHECK_ID  
	AND CHECK_TYPE = 2472  

	IF(@COMM_TYPE = 'CAC')
	BEGIN 
		SELECT   
		@CSR_ID  =  PAYEE_ENTITY_ID,  @AGENCY_ID = AGENCY_ID 
		FROM TEMP_ACT_CHECK_INFORMATION   
		WHERE CHECK_ID   = @CHECK_ID  
		AND CHECK_TYPE = 2472  
		
		SELECT @AB_COMMISSION_AMOUNT = SUM(ISNULL(AC.DUE_AMOUNT,0) - ISNULL(AC.TOTAL_PAID,0) )  
		FROM  ACT_AGENCY_STATEMENT AC with(nolock)  
		INNER JOIN POL_CUSTOMER_POLICY_LIST CPL with(nolock)
			ON AC.AGENCY_ID = CPL.AGENCY_ID 
			AND AC.CUSTOMER_ID = CPL.CUSTOMER_ID 
			AND AC.POLICY_ID   = CPL.POLICY_ID 
			AND AC.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID 
		WHERE AC.AGENCY_ID = @AGENCY_ID  
			AND ISNULL(AC.BILL_TYPE,'AB') = 'AB'   
			AND AC.TRAN_TYPE = 'COM'  
			AND AC.COMM_TYPE = @COMM_TYPE  
			AND AC.MONTH_NUMBER = @MONTH_NUMBER    
			AND AC.MONTH_YEAR = @MONTH_YEAR   
			AND CPL.CSR  = @CSR_ID

		SELECT @DB_COMMISSION_AMOUNT = SUM(ISNULL(AC.DUE_AMOUNT,0) - ISNULL(AC.TOTAL_PAID,0))  
		FROM  ACT_AGENCY_STATEMENT AC with(nolock) 
		INNER JOIN POL_CUSTOMER_POLICY_LIST CPL with(nolock)
			ON AC.AGENCY_ID = CPL.AGENCY_ID 
			AND AC.CUSTOMER_ID = CPL.CUSTOMER_ID 
			AND AC.POLICY_ID   = CPL.POLICY_ID 
			AND AC.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID  
		WHERE AC.AGENCY_ID = @AGENCY_ID  
		AND AC.BILL_TYPE = 'DB'   
		AND AC.TRAN_TYPE = 'COM'  
		AND AC.COMM_TYPE = @COMM_TYPE  
		AND AC.MONTH_NUMBER = @MONTH_NUMBER    
		AND AC.MONTH_YEAR = @MONTH_YEAR  
		AND CPL.CSR  = @CSR_ID

		IF EXISTS (SELECT IDEN_ROW_ID FROM ACT_AGENCY_CHECK_DISTRIBUTION_TEMP   
		WHERE CHECK_ID = @CHECK_ID)  
		BEGIN 
			UPDATE ACT_AGENCY_CHECK_DISTRIBUTION_TEMP  
			SET    
			AMT_COMMISSION_PAYABLE_AB  = @AB_COMMISSION_AMOUNT,  
			AMT_COMMISSION_PAYABLE_DB  = @DB_COMMISSION_AMOUNT
			WHERE CHECK_ID = @CHECK_ID  
		END
		ELSE
		BEGIN 
				INSERT INTO ACT_AGENCY_CHECK_DISTRIBUTION_TEMP(   
				CHECK_ID,AGENCY_ID,MONTH_NUMBER,MONTH_YEAR,CHECK_AMOUNT,  
				AMT_UNCOLLECTED_PREMIUM_AB,AMOUNT_TO_APPLY_ABP,  
				AMT_COMMISSION_PAYABLE_AB,AMOUNT_TO_APPLY_ABC,  
				AMT_COMMISSION_PAYABLE_DB,AMOUNT_TO_APPLY_DBC,  
				AMT_AGAINST_OP,AMOUNT_TO_APPLY_OP,  
				AMT_AGENCY_BALANCE,  
				DIFFERENCE_AMOUNT,ACCOUNT_FOR_ADJUSTMENT,[DESCRIPTION]  

				--,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME  
				)  
				VALUES(  
				@CHECK_ID,@AGENCY_ID,@MONTH_NUMBER,@MONTH_YEAR,@CHECK_AMOUNT,  
				@AB_PREMIUM_AMOUNT,  null,  
				@AB_COMMISSION_AMOUNT ,null,  
				@DB_COMMISSION_AMOUNT ,null,  
				@OP_AMOUNT ,null,  
				@AGENCY_BALANCE_AMOUNT,  
				@DIFFERENCE_AMOUNT, @ACCOUNT_ID,@DESCRIPTION   
				)  
		END
		
		UPDATE TEMP_ACT_CHECK_INFORMATION SET IS_RECONCILED = 'Y'  
		WHERE CHECK_ID = @CHECK_ID   
		return 1 -- For Complete app bonus checks, check amount will always be equal to statment amount

	 
	END

	SELECT @AGENCY_BALANCE_AMOUNT  = SUM(ISNULL(AAS.DUE_AMOUNT,0)) - SUM(ISNULL(AAS.TOTAL_PAID,0))   
	FROM ACT_AGENCY_STATEMENT AAS   
	WHERE   
	AGENCY_ID = @AGENCY_ID  
	AND AAS.MONTH_NUMBER = @MONTH_NUMBER    
	AND AAS.MONTH_YEAR = @MONTH_YEAR   
	AND AAS.COMM_TYPE=@COMM_TYPE  
	HAVING (SUM(ISNULL(AAS.DUE_AMOUNT,0)) - SUM(ISNULL(AAS.TOTAL_PAID,0)))< 0  
  
  
	SELECT @AB_PREMIUM_AMOUNT = SUM(ISNULL(AC.DUE_AMOUNT,0) - ISNULL(AC.TOTAL_PAID,0) )  
	FROM  ACT_AGENCY_STATEMENT AC with(nolock)  
	WHERE AC.AGENCY_ID = @AGENCY_ID  
	AND ISNULL(AC.BILL_TYPE,'AB') = 'AB'   
	AND AC.TRAN_TYPE = 'PREM'  
	AND AC.COMM_TYPE = @COMM_TYPE  
	AND AC.MONTH_NUMBER = @MONTH_NUMBER    
	AND AC.MONTH_YEAR = @MONTH_YEAR   

	SELECT @AB_COMMISSION_AMOUNT = SUM(ISNULL(AC.DUE_AMOUNT,0) - ISNULL(AC.TOTAL_PAID,0) )  
	FROM  ACT_AGENCY_STATEMENT AC with(nolock)  
	WHERE AC.AGENCY_ID = @AGENCY_ID  
	AND ISNULL(AC.BILL_TYPE,'AB') = 'AB'   
	AND AC.TRAN_TYPE = 'COM'  
	AND AC.COMM_TYPE = @COMM_TYPE  
	AND AC.MONTH_NUMBER = @MONTH_NUMBER    
	AND AC.MONTH_YEAR = @MONTH_YEAR   

	SELECT @DB_COMMISSION_AMOUNT = SUM(ISNULL(AC.DUE_AMOUNT,0) - ISNULL(AC.TOTAL_PAID,0))  
	FROM  ACT_AGENCY_STATEMENT AC with(nolock)  
	WHERE AC.AGENCY_ID = @AGENCY_ID  
	AND AC.BILL_TYPE = 'DB'   
	AND AC.TRAN_TYPE = 'COM'  
	AND AC.COMM_TYPE = @COMM_TYPE  
	AND AC.MONTH_NUMBER = @MONTH_NUMBER    
	AND AC.MONTH_YEAR = @MONTH_YEAR   

	SELECT @OP_AMOUNT = SUM(ISNULL(AC.DUE_AMOUNT,0) - ISNULL(AC.TOTAL_PAID,0) )  
	FROM  ACT_AGENCY_STATEMENT AC with(nolock)  
	WHERE AC.AGENCY_ID = @AGENCY_ID  
	AND AC.UPDATED_FROM = 'D'  
	AND ITEM_STATUS  = 'OP'  
	AND AC.MONTH_NUMBER = @MONTH_NUMBER    
	AND AC.MONTH_YEAR = @MONTH_YEAR   
  
	IF(@COMM_TYPE = 'OP')  
	BEGIN   
		SELECT @DIFFERENCE_AMOUNT = @OP_AMOUNT  - (@CHECK_AMOUNT * -1) 
	END  
	ELSE  
	BEGIN  
		SELECT @DIFFERENCE_AMOUNT = @AGENCY_BALANCE_AMOUNT  + @CHECK_AMOUNT  
	END  
  
	DECLARE @FLAG SmallInt  
	SET @FLAG = 1  


	IF EXISTS (SELECT IDEN_ROW_ID FROM ACT_AGENCY_CHECK_DISTRIBUTION_TEMP   
	WHERE CHECK_ID = @CHECK_ID)  
	BEGIN  
		DECLARE @OLD_ACCOUNT_FOR_ADJUSTMENT INt  
		SELECT @DISTRIBUTED_CHECK_AMOUNT = ISNULL(CHECK_AMOUNT,0) ,  
		@OLD_ACCOUNT_FOR_ADJUSTMENT = ISNULL(ACCOUNT_FOR_ADJUSTMENT,0)  
		FROM ACT_AGENCY_CHECK_DISTRIBUTION_TEMP  
		WHERE CHECK_ID = @CHECK_ID  

		IF(@ACCOUNT_ID IS NOT NULL)  
		BEGIN   
			UPDATE ACT_AGENCY_CHECK_DISTRIBUTION_TEMP  
			SET    
			AMT_UNCOLLECTED_PREMIUM_AB = @AB_PREMIUM_AMOUNT,    
			AMT_COMMISSION_PAYABLE_AB  = @AB_COMMISSION_AMOUNT,  
			AMT_COMMISSION_PAYABLE_DB  = @DB_COMMISSION_AMOUNT,  
			AMT_AGAINST_OP     = @OP_AMOUNT,  
			AMT_AGENCY_BALANCE    = @AGENCY_BALANCE_AMOUNT,  
			DIFFERENCE_AMOUNT    = @DIFFERENCE_AMOUNT,  
			ACCOUNT_FOR_ADJUSTMENT    = @ACCOUNT_ID,
			[DESCRIPTION] = @DESCRIPTION  
			WHERE CHECK_ID = @CHECK_ID  
		END  
		ELSE IF(@CHECK_AMOUNT <> @DISTRIBUTED_CHECK_AMOUNT )  
		BEGIN   
			UPDATE ACT_AGENCY_CHECK_DISTRIBUTION_TEMP  
			SET    
			CHECK_AMOUNT      = @CHECK_AMOUNT,  
			AMT_UNCOLLECTED_PREMIUM_AB = @AB_PREMIUM_AMOUNT,    
			AMT_COMMISSION_PAYABLE_AB  = @AB_COMMISSION_AMOUNT,  
			AMT_COMMISSION_PAYABLE_DB  = @DB_COMMISSION_AMOUNT,  
			AMT_AGAINST_OP    = @OP_AMOUNT,  
			AMT_AGENCY_BALANCE    = @AGENCY_BALANCE_AMOUNT,  
			DIFFERENCE_AMOUNT    = @DIFFERENCE_AMOUNT,  
			ACCOUNT_FOR_ADJUSTMENT    = @ACCOUNT_ID,
			[DESCRIPTION] = @DESCRIPTION     
			WHERE CHECK_ID = @CHECK_ID  
			SET @FLAG = 0  
		END  
		ELSE IF (@OLD_ACCOUNT_FOR_ADJUSTMENT = 0)  
		BEGIN   
			UPDATE ACT_AGENCY_CHECK_DISTRIBUTION_TEMP  
			SET    
			CHECK_AMOUNT      = @CHECK_AMOUNT,  
			AMT_UNCOLLECTED_PREMIUM_AB = @AB_PREMIUM_AMOUNT,    
			AMT_COMMISSION_PAYABLE_AB  = @AB_COMMISSION_AMOUNT,  
			AMT_COMMISSION_PAYABLE_DB  = @DB_COMMISSION_AMOUNT,  
			AMT_AGAINST_OP     = @OP_AMOUNT,  
			AMT_AGENCY_BALANCE    = @AGENCY_BALANCE_AMOUNT,  
			DIFFERENCE_AMOUNT    = @DIFFERENCE_AMOUNT,  
			ACCOUNT_FOR_ADJUSTMENT    = @ACCOUNT_ID,
			[DESCRIPTION] = @DESCRIPTION     
			WHERE CHECK_ID = @CHECK_ID  
			SET @FLAG = 0    
		END   
		END  
		ELSE  
		BEGIN   
			INSERT INTO ACT_AGENCY_CHECK_DISTRIBUTION_TEMP(   
			CHECK_ID,AGENCY_ID,MONTH_NUMBER,MONTH_YEAR,CHECK_AMOUNT,  
			AMT_UNCOLLECTED_PREMIUM_AB,AMOUNT_TO_APPLY_ABP,  
			AMT_COMMISSION_PAYABLE_AB,AMOUNT_TO_APPLY_ABC,  
			AMT_COMMISSION_PAYABLE_DB,AMOUNT_TO_APPLY_DBC,  
			AMT_AGAINST_OP,AMOUNT_TO_APPLY_OP,  
			AMT_AGENCY_BALANCE,  
			DIFFERENCE_AMOUNT,ACCOUNT_FOR_ADJUSTMENT,[DESCRIPTION]  

			--,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME  
			)  
			VALUES(  
			@CHECK_ID,@AGENCY_ID,@MONTH_NUMBER,@MONTH_YEAR,@CHECK_AMOUNT,  
			@AB_PREMIUM_AMOUNT,  null,  
			@AB_COMMISSION_AMOUNT ,null,  
			@DB_COMMISSION_AMOUNT ,null,  
			@OP_AMOUNT ,null,  
			@AGENCY_BALANCE_AMOUNT,  
			@DIFFERENCE_AMOUNT, @ACCOUNT_ID,@DESCRIPTION   
			)  
			SET @FLAG = 0  
		END  

		IF(@ACCOUNT_ID  IS NULL)  
		BEGIN  
			IF(@DIFFERENCE_AMOUNT  <> 0)  
			BEGIN   
				IF(@FLAG = 0)  
					return 2 -- Amount not distributes  
				ELSE  
				return 1  
			END  
			ELSE  
			BEGIN   
				UPDATE TEMP_ACT_CHECK_INFORMATION SET IS_RECONCILED = 'Y'  
				WHERE CHECK_ID = @CHECK_ID   
				return 1  -- Amount Distributed Succesfully  
			END  
		END  
	ELSE  
	BEGIN  
		UPDATE TEMP_ACT_CHECK_INFORMATION SET IS_RECONCILED = 'Y'  
		WHERE CHECK_ID = @CHECK_ID   
		return 1  -- Balance Amount will be reconciled against this account  
	END   
  
  
END  
  
  
  








GO

