IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetPDFOperatorExpDtls]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetPDFOperatorExpDtls]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--DROP PROCEDURE [Proc_GetPDFOperatorExpDtls] 909,106,1,'POLICY',1      
CREATE  PROCEDURE [dbo].[Proc_GetPDFOperatorExpDtls]        
(        
 @CUSTOMERID   int,        
 @POLID                int,        
 @VERSIONID   int,        
 @CALLEDFROM  VARCHAR(20), 
 @DRIVERID VARCHAR(2) =null      
)        
AS
BEGIN 
DECLARE @TOTAL VARCHAR(100)       
 IF (@CALLEDFROM='APPLICATION')        
 BEGIN 

	--SELECT * FROM APP_LIST WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@POLID AND APP_VERSION_ID=@VERSIONID
	SELECT
  LTRIM(RTRIM(STR(DD.DRIVER_ID))) OPERATORNO,  CONVERT(VARCHAR,ISNULL(DD.DRIVER_COST_GAURAD_AUX,''))+ 
  CASE DD.CERT_COAST_GUARD WHEN '10963' THEN ' / Coast Guard or Power Squadron Certificate' ELSE '' END EXPDESCRIPTION        
  FROM APP_WATERCRAFT_DRIVER_DETAILS DD WITH (NOLOCK)
  WHERE DD.CUSTOMER_ID=@CUSTOMERID AND DD.APP_ID=@POLID AND DD.APP_VERSION_ID=@VERSIONID and DD.IS_ACTIVE='Y' AND DD.DRIVER_ID= @DRIVERID     
-- and DD.CERT_COAST_GUARD <>0
SELECT @TOTAL=SUM(ISNULL(POINTS_ASSIGNED,0)) + SUM(ISNULL(ADJUST_VIOLATION_POINTS,0))  FROM APP_WATER_MVR_INFORMATION MI  WITH (NOLOCK)      
   WHERE MI.CUSTOMER_ID=@CUSTOMERID AND MI.APP_ID=@POLID AND MI.APP_VERSION_ID=@VERSIONID and MI.IS_ACTIVE='Y'  AND MI.DRIVER_ID= @DRIVERID            
 SELECT         
   MI.DRIVER_ID,MI.VIOLATION_ID,--LTRIM(RTRIM(STR(BOAT_NO))) + '/' +       
   LTRIM(RTRIM(STR(MI.DRIVER_ID))) OPERATORNO,        
   ' / POINTS -' +' '+ 'MVR: '+ @TOTAL+' '+'Violation: '+ @TOTAL+' '+'Accident: 0 ' VIODESCRIPTION        
  FROM APP_WATER_MVR_INFORMATION MI   WITH (NOLOCK)     
   WHERE MI.CUSTOMER_ID=@CUSTOMERID AND MI.APP_ID=@POLID AND MI.APP_VERSION_ID=@VERSIONID and MI.IS_ACTIVE='Y'  AND MI.DRIVER_ID= @DRIVERID          
AND DATEDIFF(YEAR,OCCURENCE_DATE,GETDATE()) <= 3    
 -- ORDER BY OPERATORNO -- DD.DRIVER_ID,BOAT_NO,DRIVER_FNAME,DRIVER_MNAME,DRIVER_LNAME        
 END        
 ELSE IF (@CALLEDFROM='POLICY')        
 BEGIN       
-- EXPERIENCE INFOMATION 
	SELECT         
   LTRIM(RTRIM(STR(DD.DRIVER_ID))) OPERATORNO,    CONVERT(VARCHAR,ISNULL(DD.DRIVER_COST_GAURAD_AUX,''))+    
   CASE DD.CERT_COAST_GUARD WHEN '10963' THEN ' / Coast Guard or Power Squadron Certificate' ELSE '' END EXPDESCRIPTION        
  FROM POL_WATERCRAFT_DRIVER_DETAILS DD WITH (NOLOCK)
  WHERE DD.CUSTOMER_ID=@CUSTOMERID AND DD.POLICY_ID=@POLID AND DD.POLICY_VERSION_ID=@VERSIONID and DD.is_active='Y'    AND DD.DRIVER_ID= @DRIVERID  
--and DD.CERT_COAST_GUARD <>0        
SELECT @TOTAL=SUM(ISNULL(POINTS_ASSIGNED,0)) + SUM(ISNULL(ADJUST_VIOLATION_POINTS,0)) FROM POL_WATERCRAFT_MVR_INFORMATION MI  WITH (NOLOCK)      
   WHERE MI.CUSTOMER_ID=@CUSTOMERID AND MI.POLICY_ID=@POLID AND MI.POLICY_VERSION_ID=@VERSIONID and mi.is_active='Y'   AND MI.DRIVER_ID= @DRIVERID            
SELECT         
   LTRIM(RTRIM(STR(MI.DRIVER_ID))) OPERATORNO,        
   ' / POINTS -' + 'MVR:'+' '+ @TOTAL +' '+'Violation:'+' '+ @TOTAL +' '+'Accident: 0 ' --+ CASE DD.CERT_COAST_GUARD WHEN '10963' THEN 'Coast Guard or Power Squadron Certificate' ELSE '' END
  VIODESCRIPTION        
  FROM POL_WATERCRAFT_MVR_INFORMATION MI      WITH (NOLOCK)  
   WHERE MI.CUSTOMER_ID=@CUSTOMERID AND MI.POLICY_ID=@POLID AND MI.POLICY_VERSION_ID=@VERSIONID and mi.is_active='Y'   AND MI.DRIVER_ID= @DRIVERID           
  AND DATEDIFF(YEAR,OCCURENCE_DATE,GETDATE())<= 3    
 -- ORDER BY OPERATORNO -- DD.DRIVER_ID,BOAT_NO,DRIVER_FNAME,DRIVER_MNAME,DRIVER_LNAME        
 END        
END



GO

