IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_INSERT_temp_table]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_INSERT_temp_table]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROC PROC_INSERT_temp_table
@NAME VARCHAR(50) =NULL,
@AGE INT = NULL,
@SALARY INT=NULL
AS
BEGIN
INSERT INTO temp_table
(NAME,AGE,SALARY)
VALUES
(@NAME,@AGE,@SALARY)


END
GO

