IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_GETAGENCYPRODUCTIONREPORT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_GETAGENCYPRODUCTIONREPORT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran
--drop proc PROC_GETAGENCYPRODUCTIONREPORT
--go

CREATE PROC [DBO].[PROC_GETAGENCYPRODUCTIONREPORT] 
(  
@MONTH int,  
@YEAR int,  
@AGENCY_ID varchar(100) = NULL ,
@LOGIN VARCHAR(10)
 
) 
AS
BEGIN
DECLARE @SQL VARCHAR(8000)
DECLARE @WHERE VARCHAR(2000)



SET @WHERE =  '  WHERE MONTH_NUMBER = ' + CAST(@MONTH AS VARCHAR) + ' AND YEAR_NUMBER = ' + CAST(@YEAR AS VARCHAR) 

set @SQL = 'select ''' + @LOGIN +  ''' as login , * from  RPT_AGENCY_PRODUCTION_DATA RAP with(nolock)
           inner join MNT_AGENCY_LIST AS MAL with(nolock)
		   ON RAP.AGENCY_CODE = MAL.AGENCY_CODE '



IF (@AGENCY_ID IS NOT NULL)
		BEGIN
			SET @WHERE = @WHERE + ' AND  RAP.AGENCY_ID IN (' + @AGENCY_ID  + ') '
		END

SET @SQL = @SQL + @WHERE


			
print @SQL

EXEC (@SQL)
END
--go
--exec [PROC_GETAGENCYPRODUCTIONREPORT] 10 , 2009 , null
--rollback tran


GO

