
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_SUSEP_COINSURENCE_PREMIUM]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_SUSEP_COINSURENCE_PREMIUM]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO
----------------------------------------------------------------------------------------------------------------------------------
	------ITRACK 1073 (192)
----------------------------------------------------------------------------------------------------------------------------------
CREATE PROCEDURE  [dbo].[PROC_SUSEP_COINSURENCE_PREMIUM]    --FIXED
(
 @DATETIME DATETIME  
 --@POLICY_NUMBER VARCHAR(22) = NULL  
)        
AS 

 DECLARE @MONTH VARCHAR(2)  
 DECLARE @YEAR VARCHAR(4) 
 DECLARE @TEMP NVARCHAR(500)
 SET @MONTH= DATEPART(MM, @DATETIME) 
 SET @YEAR=(SELECT DATEPART(YYYY, @DATETIME))  
 BEGIN
	DECLARE @TEMPTABLE TABLE 
	(
		SEQUENCE_NO INT IDENTITY(1,1), ---SEQUENCE NUMBER.
		COMPANY_CODE VARCHAR(80),
		REFERENCE_MONTH VARCHAR(10),
		TYPE_TRANSACTION VARCHAR(20),
		COINSURACE_PREMIUM NVARCHAR(200),
		SUSEP_LOB_CODE VARCHAR(20),
		LEADER_POLICY_NUMBER NVARCHAR(40),
		ENDORSEMENT_NO NVARCHAR(40),
		LEADER_CO_SUSEP_CODE NVARCHAR(80),
		ISSUANCE_DATE VARCHAR(10),
		EFFECTIVE_DATE VARCHAR(10),
		EXPIRED_DATE varchar(10),
		NON_AWARDED_PREMIUM DECIMAL(25,2)
	)
INSERT INTO @TEMPTABLE  
  
  
SELECT 
		 --PCPL.POLICY_NUMBER,
		 --PCPL.CUSTOMER_ID,
		 --PCPL.POLICY_VERSION_ID,
		 --PPP.PROCESS_ID ,
		  --ALIANÇA DA BAHIA SUSEP CODE.
		 '504-5' AS COMPANY_CODE, 
		 
		  -----BASE MONTH: YYYYMM.
		  CASE  
			WHEN @MONTH IN (1,2,3,4,5,6,7,8,9) THEN  @YEAR + '0' + @MONTH 
			WHEN @MONTH IN (10,11,12) THEN  @YEAR + @MONTH
		 END AS REFERENCE_MONTH,  --REFERENCE MONTH OF THE REPORT.
		 ------------------------------------------------------------------------------------------------------------
			--TYPE OF TRANSACTION.
			--101-POLICY ISSUANCE. 
			--102-ADDITIONAL PREMIUM CHARGE ENDORSEMENT. 
			--103-PREMIUM REFUND ENDORSEMENT. 
			--104-POLICY CANCELLATION WITH PREMIUM REFUND. 
			--105-ENDORSEMENT CANCELLATION WITH PREMIUM REFUND. 
			--106-POLICY CANCELLATION WITHOUT PREMIUM REFUND. 
			--107-ENDORSEMENT CANCELLATION WITHOUT PREMIUM REFUND. 
			--108-ENDORSEMENT WITHOUT PREMIUM TRANSACTION	
	-------------------------------------------------------------------------------------------------------------------		 
		ISNULL( CASE	
			 WHEN PPP.PROCESS_ID IN (25,18) THEN '101'
			 WHEN PPP.PROCESS_ID IN (14) AND SUM(ISNULL(APIPD.TOTAL,0)) > 0 THEN '102'
			 WHEN PPP.PROCESS_ID IN (14) AND SUM(ISNULL(APIPD.TOTAL,0)) < 0 THEN '103'
			 WHEN PPP.PROCESS_ID IN (12) AND ISNULL(PPP.RETURN_PREMIUM,0) < 0 THEN '104'
			 WHEN PPP.PROCESS_ID IN (37) AND SUM(ISNULL(APIPD.TOTAL,0)) < 0 THEN '105'
			 WHEN PPP.PROCESS_ID IN (12) AND SUM(ISNULL(APIPD.TOTAL,0)) >= 0 THEN '106'
			 WHEN PPP.PROCESS_ID IN (37) AND SUM(ISNULL(APIPD.TOTAL,0)) >= 0 THEN '107'
			 WHEN PPP.PROCESS_ID IN (14) AND SUM(ISNULL(APIPD.TOTAL,0)) = 0 THEN '108'
		 END,0) AS TYPE_TRANSACTION,
		 
		 ----------COINSURANCE PREMIUM ACCEPTED – CORRESPONDS TO THE VALUE OF THE ACCEPTED PREMIUM OF THE CONGENER IN COINSURANCE. 
				--CASE WHEN ((PPP.PROCESS_ID IN (12) AND ISNULL(ACOI.TOTAL_DUE,0) >= 0) OR
				--			(PPP.PROCESS_ID IN (37) AND ISNULL(ACOI.TOTAL_DUE,0) >= 0) OR
				--			(PPP.PROCESS_ID IN (14) AND ISNULL(ACOI.TOTAL_DUE,0) = 0))
				--	 THEN '0'
				--	 ELSE
							CAST(SUM(ISNULL(APIPD.INSTALLMENT_AMOUNT, 0)) AS DECIMAL(16,2))
				--END 
				AS COINSURACE_PREMIUM,
		 
		 ------------SUSEP LOB 
		 --MLM.SUSEP_LOB_CODE,
		 CASE 
			WHEN  PCPL.POLICY_LOB IN (21,22) THEN '0982'
			WHEN  PCPL.POLICY_LOB IN (17,18) THEN '0520'
			ELSE ISNULL(MLM.SUSEP_LOB_CODE,'')
         END AS SUSEP_LOB_CODE,
		 
		 -----------NUMBER OF COINSURANCE LEADER'S POLICY/CERTIFICATE/MASTER POLICY.
		-- PCI_LEADER.LEADER_POLICY_NUMBER,
		CASE
				WHEN PCI_LEADER.LEADER_FOLLOWER = 14549 THEN ISNULL(PCI_LEADER.LEADER_POLICY_NUMBER,'') 
		END AS LEADER_POLICY_NUMBER,

		 
		 ----------ENDORSEMENT NUMBER ISSUED BY THE LEADER
		 CASE
				WHEN PCPL.CO_INSURANCE = 14549 THEN PCI_LEADER.ENDORSEMENT_POLICY_NUMBER
				ELSE CONVERT(VARCHAR(10),PPE.ENDORSEMENT_NO)
		  END 
		 AS ENDORSEMENT_NO,
		 
		 ---------COINSURANCE LEADER'S SUSEP CODE.
		-- MRCL.SUSEP_NUM AS LEADER_CO_SUSEP_CODE,
		 (SELECT TOP 1
			M.SUSEP_NUM 
			FROM MNT_REIN_COMAPANY_LIST M WITH(NOLOCK)
			INNER JOIN
			POL_CO_INSURANCE PCI WITH(NOLOCK) ON 
			M.REIN_COMAPANY_ID = PCI.COMPANY_ID
			AND PCI.LEADER_FOLLOWER = 14548
			WHERE 
			PCI.CUSTOMER_ID = PCPL.CUSTOMER_ID 
			AND PCI.POLICY_ID = PCPL.POLICY_ID 
			AND PCI.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID 
			) AS SUSEP_NUM,
		 
		 --------ISSUANCE DATE OF POLICY/ENDORSEMENT.
		ISNULL( CASE 
			WHEN PPP.PROCESS_ID IN (14,25,18,12) THEN CONVERT(VARCHAR(10),ISNULL(PPP.COMPLETED_DATETIME,PPP.CREATED_DATETIME),112) 
		END,'') AS ISSUANCE_DATE,
		
		
		-----------------------------------------------------------------------------------------------------------
			--START DATE FOR INSURANCE TERM – THIS IS THE DATE THAT CORRESPONDS TO THE BEGINNING OF 
			--THE CONSTANT TERM OF THE POLICY/ENDORSEMENT. YYYYMMDD
			--1. FOR NEW AND RENEWAL POLICY, THE START DATE IS POLICY EFFECTIVE DATE.
			--2. FOR POI EXTENSION ENDORSEMENT, THE START DATE IS ORIGINAL POLICY EXPIRY DATE.
			--3. FOR POI SHORTEN ENDORSEMENT, THE START DATE IS LATEST POLICY EXPIRY DATE.
			--4. FOR OTHER ENDORSEMENTS, THE START DATE IS ENDORSEMENT EFFECTIVE DATE.
			--5. FOR POLICY CANCELLATION TRANSACTION, THE START DATE IS LATEST POLICY EXPIRY DATE.
			--6. FOR ENDORSEMENT CANCELLATION TRANSACTION, THE START DATE IS CANCELLED ENDORSEMENT START DATE.
		-----------------------------------------------------------------------------------------------------------
		 CASE	
			WHEN PPP.PROCESS_ID IN (18,25) THEN CONVERT(VARCHAR(10),PCPL.POLICY_EFFECTIVE_DATE,112)
			WHEN PPP.PROCESS_ID IN (14) THEN CONVERT(VARCHAR(10),PPP.EFFECTIVE_DATETIME,112) 
			WHEN PPP.PROCESS_ID = 37 THEN CONVERT(VARCHAR(10),PPP.COMPLETED_DATETIME,112) 
			WHEN PPP.PROCESS_ID IN (12) THEN CONVERT(VARCHAR(10),PPP.COMPLETED_DATETIME,112) 
	     END AS EFFECTIVE_DATE,
	     
	     
	     ----------------------------------------------------------------------------------------------------------
			--END DATE FOR INSURANCE TERM – THIS IS THE DATE THAT CORRESPONDS TO THE END OF 
			--THE CONSTANT TERM OF THE POLICY/ENDORSEMENT. YYYYMMDD
			--1. FOR NEW AND RENEWAL POLICY, THE END DATE IS POLICY EXPIRY DATE.
			--2. FOR POI EXTENSION ENDORSEMENT, THE END DATE IS LATEST POLICY EXPIRY DATE.
			--3. FOR POI SHORTEN ENDORSEMENT, THE END DATE IS ORIGINAL POLICY EXPIRY DATE.
			--4. FOR OTHER ENDORSEMENTS, THE END DATE IS LATEST POLICY EXPIRY DATE.
			--5. FOR POLICY CANCELLATION TRANSACTION, THE END DATE IS ORIGINAL POLICY EXPIRY DATE.
			--6. FOR ENDORSEMENT CANCELLATION TRANSACTION, THE END DATE IS CANCELLED ENDORSEMENT END DATE.
	     ----------------------------------------------------------------------------------------------------------
	     CASE	
			WHEN PPP.PROCESS_ID IN (18,25) THEN CONVERT(VARCHAR(10),PCPL.POLICY_EXPIRATION_DATE,112)--SH
			WHEN PPP.PROCESS_ID IN (14) THEN CONVERT(VARCHAR(10),PPP.[EXPIRY_DATE],112) 
			--WHEN PPP.PROCESS_ID = 37 THEN CONVERT(VARCHAR(10),PPP.[EXPIRY_DATE],112)  --SH
			WHEN PPP.PROCESS_ID = 37 THEN		 
			CONVERT(VARCHAR(10), (SELECT 
									[EXPIRY_DATE] 
								  FROM 
									POL_POLICY_PROCESS SU_PCPL WITH(NOLOCK) 
								  WHERE 
									SU_PCPL.CUSTOMER_ID = PPP.CUSTOMER_ID 
									AND SU_PCPL.POLICY_ID = PPP.POLICY_ID
									AND CONVERT(VARCHAR,SU_PCPL.NEW_POLICY_VERSION_ID) =  CAST(DBO.Piece(PPP.LAST_REVERT_BACK,'^',3) AS VARCHAR)
									AND SU_PCPL.PROCESS_STATUS = 'COMPLETE'
		 ),112)
			WHEN PPP.PROCESS_ID IN (12) THEN CONVERT(VARCHAR(10),PCPL.POLICY_EXPIRATION_DATE,112) 
	    END AS EXPIRED_DATE,


		CAST(ISNULL((SELECT SUM(A.INSTALLMENT_AMOUNT) RISK_PREMIUM FROM ACT_POLICY_INSTALLMENT_DETAILS A WITH(NOLOCK)
		WHERE A.CUSTOMER_ID = PCPL.CUSTOMER_ID 
			  AND A.POLICY_ID = PCPL.POLICY_ID 
			  AND A.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID
			  AND A.RELEASED_STATUS = 'N'),0) AS DECIMAL(16,2)) AS NON_AWARDED_PREMIUM
	FROM
		POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK) 
											
LEFT OUTER JOIN
		 ACT_POLICY_INSTALLMENT_DETAILS APIPD  WITH(NOLOCK) ON  (APIPD.CUSTOMER_ID = PCPL.CUSTOMER_ID AND 
																APIPD.POLICY_ID = PCPL.POLICY_ID  AND
																APIPD.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID 
																AND APIPD.RELEASED_STATUS NOT IN ('U') 
																)

INNER JOIN 
		POL_POLICY_PROCESS PPP WITH(NOLOCK) ON (PPP.CUSTOMER_ID = PCPL.CUSTOMER_ID 
												AND PPP.POLICY_ID = PCPL.POLICY_ID 
												AND PPP.NEW_POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID
												AND PPP.PROCESS_STATUS <> 'ROLLBACK')
												
LEFT OUTER JOIN
		POL_CO_INSURANCE PCI_LEADER WITH(NOLOCK) ON (PCI_LEADER.CUSTOMER_ID = PCPL.CUSTOMER_ID AND 
													 PCI_LEADER.POLICY_ID = PCPL.POLICY_ID AND 
													 PCI_LEADER.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID AND 
													 PCI_LEADER.LEADER_FOLLOWER = 14549)
													
LEFT OUTER JOIN 
		POL_POLICY_ENDORSEMENTS PPE WITH(NOLOCK) ON (PPE.CUSTOMER_ID = PCPL.CUSTOMER_ID AND 
													 PPE.POLICY_ID = PCPL.POLICY_ID AND 
													 PPE.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID)
										
INNER JOIN
		MNT_LOB_MASTER MLM WITH(NOLOCK) ON (MLM.LOB_ID = PCPL.POLICY_LOB)   
	
LEFT OUTER JOIN 
		MNT_REIN_COMAPANY_LIST MRCL WITH(NOLOCK) ON (MRCL.REIN_COMAPANY_ID = PCI_LEADER.COMPANY_ID)
		
WHERE
		--CONVERT(VARCHAR(6),PPP.CREATED_DATETIME,112) = CONVERT(VARCHAR(6),@DATETIME,112)
		YEAR(PPP.CREATED_DATETIME)=YEAR(@DATETIME) AND MONTH(PPP.CREATED_DATETIME)=MONTH(@DATETIME)
		AND PCPL.CO_INSURANCE = 14549 -- FOR FOLLOWER
		AND MRCL.REIN_COMAPANY_ID = 1 --- ALIANÇA DA BAHIA
		AND PPP.PROCESS_ID NOT IN (2,3,4,5,6,7,8,9,10,13,16,17,22,23,24,26,27,28,29,30,31,32,33)  
		--AND APIPD.RELEASED_STATUS NOT IN ('U') 
		--AND PPP.ENDORSEMENT_TYPE <> 14688 -- FOR ENDORSEMENT WITH PREMIUM.
		--AND PCPL.POLICY_NUMBER = @POLICY_NUMBER
		
GROUP BY 
	     PCPL.POLICY_NUMBER,
		 PCPL.CUSTOMER_ID,
		 PCPL.POLICY_VERSION_ID,
		 PCPL.POLICY_VERSION_ID,
		 PPP.PROCESS_ID, 
		 PPP.RETURN_PREMIUM,	 
		 PCPL.POLICY_LOB,
		 MLM.SUSEP_LOB_CODE,
		 PCI_LEADER.LEADER_FOLLOWER,
		 PPE.ENDORSEMENT_NO,
		 PCPL.CO_INSURANCE,
		 PPP.COMPLETED_DATETIME,
		 MRCL.SUSEP_NUM,
		 PCPL.POLICY_EFFECTIVE_DATE,
		 PPP.EFFECTIVE_DATETIME,
		 PPP.COMPLETED_DATETIME,
		 PCPL.POLICY_EXPIRATION_DATE,
		 PPP.[EXPIRY_DATE],
		 PCI_LEADER.LEADER_POLICY_NUMBER,
		 PCI_LEADER.ENDORSEMENT_POLICY_NUMBER,
		 PCPL.POLICY_ID,
		 PPP.CUSTOMER_ID,
		 PPP.POLICY_ID,
		 PPP.LAST_REVERT_BACK,
		 PPP.CREATED_DATETIME
		 


 /*SELECT 
		
		  --ALIANÇA DA BAHIA SUSEP CODE.
		 '05045' AS COMPANY_CODE, 
		 
		  -----BASE MONTH: YYYYMM.
		  CASE  
			WHEN @MONTH IN (1,2,3,4,5,6,7,8,9) THEN  @YEAR + '0' + @MONTH 
			WHEN @MONTH IN (10,11,12) THEN  @YEAR + @MONTH
		 END AS REFERENCE_MONTH,  --REFERENCE MONTH OF THE REPORT.
		 ------------------------------------------------------------------------------------------------------------
			--TYPE OF TRANSACTION.
			--101-POLICY ISSUANCE. 
			--102-ADDITIONAL PREMIUM CHARGE ENDORSEMENT. 
			--103-PREMIUM REFUND ENDORSEMENT. 
			--104-POLICY CANCELLATION WITH PREMIUM REFUND. 
			--105-ENDORSEMENT CANCELLATION WITH PREMIUM REFUND. 
			--106-POLICY CANCELLATION WITHOUT PREMIUM REFUND. 
			--107-ENDORSEMENT CANCELLATION WITHOUT PREMIUM REFUND. 
			--108-ENDORSEMENT WITHOUT PREMIUM TRANSACTION	
	-------------------------------------------------------------------------------------------------------------------		 
		ISNULL( CASE	
			 WHEN PPP.PROCESS_ID = 25 THEN '101'
			 WHEN PPP.PROCESS_ID IN (14) AND ACOI.TOTAL_DUE >= 0 THEN '102'
			 WHEN PPP.PROCESS_ID IN (14) AND ACOI.TOTAL_DUE < 0 THEN '103'
			 WHEN PPP.PROCESS_ID IN (12) AND PPP.RETURN_PREMIUM < 0 THEN '104'
			 WHEN PPP.PROCESS_ID IN (37) AND ACOI.TOTAL_DUE < 0 THEN '105'
			 WHEN PPP.PROCESS_ID IN (12) AND ISNULL(ACOI.TOTAL_DUE,0) >= 0 THEN '106'
			 WHEN PPP.PROCESS_ID IN (37) AND ISNULL(ACOI.TOTAL_DUE,0) >= 0 THEN '107'
			 WHEN PPP.PROCESS_ID IN (14) AND ISNULL(ACOI.TOTAL_DUE,0) = 0 THEN '108'
		 END,'') AS TYPE_TRANSACTION,
		 
		 ----------COINSURANCE PREMIUM ACCEPTED – CORRESPONDS TO THE VALUE OF THE ACCEPTED PREMIUM OF THE CONGENER IN COINSURANCE. 
		 APIPD.TOTAL_PREMIUM AS COINSURACE_PREMIUM,
		 
		 ------------SUSEP LOB 
		 MLM.SUSEP_LOB_CODE,
		 
		 -----------NUMBER OF COINSURANCE LEADER'S POLICY/CERTIFICATE/MASTER POLICY.
		-- PCI_LEADER.LEADER_POLICY_NUMBER,
		CASE
				WHEN PCI_LEADER.LEADER_FOLLOWER = 14549 THEN PCI_LEADER.LEADER_POLICY_NUMBER 
		END AS LEADER_POLICY_NUMBER,

		 
		 ----------ENDORSEMENT NUMBER ISSUED BY THE LEADER
		 CASE
				WHEN PCPL.CO_INSURANCE = 14549 THEN PCI_LEADER.ENDORSEMENT_POLICY_NUMBER
				ELSE CONVERT(VARCHAR(10),ISNULL(PPE.ENDORSEMENT_NO,0))
		  END 
		 AS ENDORSEMENT_NO,
		 
		 ---------COINSURANCE LEADER'S SUSEP CODE.
		 MRCL.SUSEP_NUM AS LEADER_CO_SUSEP_CODE,
		 
		 --------ISSUANCE DATE OF POLICY/ENDORSEMENT.
		ISNULL( CASE 
			WHEN PPP.PROCESS_ID IN (14,25) THEN CONVERT(VARCHAR(10),PPP.COMPLETED_DATETIME,112) 
		END,'') AS ISSUANCE_DATE,
		
		
		-----------------------------------------------------------------------------------------------------------
			--START DATE FOR INSURANCE TERM – THIS IS THE DATE THAT CORRESPONDS TO THE BEGINNING OF 
			--THE CONSTANT TERM OF THE POLICY/ENDORSEMENT. YYYYMMDD
			--1. FOR NEW AND RENEWAL POLICY, THE START DATE IS POLICY EFFECTIVE DATE.
			--2. FOR POI EXTENSION ENDORSEMENT, THE START DATE IS ORIGINAL POLICY EXPIRY DATE.
			--3. FOR POI SHORTEN ENDORSEMENT, THE START DATE IS LATEST POLICY EXPIRY DATE.
			--4. FOR OTHER ENDORSEMENTS, THE START DATE IS ENDORSEMENT EFFECTIVE DATE.
			--5. FOR POLICY CANCELLATION TRANSACTION, THE START DATE IS LATEST POLICY EXPIRY DATE.
			--6. FOR ENDORSEMENT CANCELLATION TRANSACTION, THE START DATE IS CANCELLED ENDORSEMENT START DATE.
		-----------------------------------------------------------------------------------------------------------
		 CASE	
			WHEN PPP.PROCESS_ID IN (5,24,25) THEN CONVERT(VARCHAR(10),PCPL.POLICY_EFFECTIVE_DATE,112)
			WHEN PPP.PROCESS_ID IN (3,14) THEN CONVERT(VARCHAR(10),PPP.EFFECTIVE_DATETIME,112) 
			WHEN PPP.PROCESS_ID = 37 THEN CONVERT(VARCHAR(10),PPP.COMPLETED_DATETIME,112) 
			WHEN PPP.PROCESS_ID IN (12) THEN CONVERT(VARCHAR(10),PPP.COMPLETED_DATETIME,112) 
	     END AS EFFECTIVE_DATE,
	     
	     
	     ----------------------------------------------------------------------------------------------------------
			--END DATE FOR INSURANCE TERM – THIS IS THE DATE THAT CORRESPONDS TO THE END OF 
			--THE CONSTANT TERM OF THE POLICY/ENDORSEMENT. YYYYMMDD
			--1. FOR NEW AND RENEWAL POLICY, THE END DATE IS POLICY EXPIRY DATE.
			--2. FOR POI EXTENSION ENDORSEMENT, THE END DATE IS LATEST POLICY EXPIRY DATE.
			--3. FOR POI SHORTEN ENDORSEMENT, THE END DATE IS ORIGINAL POLICY EXPIRY DATE.
			--4. FOR OTHER ENDORSEMENTS, THE END DATE IS LATEST POLICY EXPIRY DATE.
			--5. FOR POLICY CANCELLATION TRANSACTION, THE END DATE IS ORIGINAL POLICY EXPIRY DATE.
			--6. FOR ENDORSEMENT CANCELLATION TRANSACTION, THE END DATE IS CANCELLED ENDORSEMENT END DATE.
	     ----------------------------------------------------------------------------------------------------------
	     CASE	
			WHEN PPP.PROCESS_ID IN (5,24,25) THEN CONVERT(VARCHAR(10),PCPL.POLICY_EXPIRATION_DATE,112)--SH
			WHEN PPP.PROCESS_ID IN (14) THEN CONVERT(VARCHAR(10),PPP.[EXPIRY_DATE],112) 
			WHEN PPP.PROCESS_ID = 37 THEN CONVERT(VARCHAR(10),PPP.[EXPIRY_DATE],112)  --SH
			WHEN PPP.PROCESS_ID IN (12) THEN CONVERT(VARCHAR(10),PPP.[EXPIRY_DATE],112) 
	    END AS EXPIRED_DATE,


		ISNULL((SELECT SUM(A.INSTALLMENT_AMOUNT) RISK_PREMIUM FROM ACT_POLICY_INSTALLMENT_DETAILS A WITH(NOLOCK)
		WHERE A.CUSTOMER_ID = APIPD.CUSTOMER_ID 
			  AND A.POLICY_ID = APIPD.POLICY_ID 
			  AND A.POLICY_VERSION_ID = APIPD.POLICY_VERSION_ID
			  AND A.RELEASED_STATUS = 'N'),0) AS NON_AWARDED_PREMIUM
		
		 
FROM
		ACT_POLICY_INSTALL_PLAN_DATA APIPD WITH(NOLOCK) 
		
INNER JOIN 
		POL_POLICY_PROCESS PPP WITH(NOLOCK) ON (PPP.CUSTOMER_ID = APIPD.CUSTOMER_ID 
												AND PPP.POLICY_ID = APIPD.POLICY_ID 
												AND PPP.POLICY_VERSION_ID = APIPD.POLICY_VERSION_ID
												AND PPP.PROCESS_STATUS <> 'ROLLBACK')
INNER JOIN
		ACT_COI_OPEN_ITEMS ACOI WITH(NOLOCK) ON (ACOI.CUSTOMER_ID = PPP.CUSTOMER_ID 
												 AND ACOI.POLICY_ID = PPP.POLICY_ID
												 AND ACOI.POLICY_VERSION_ID = PPP.POLICY_VERSION_ID)
											
INNER JOIN
		 POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK) ON (PCPL.CUSTOMER_ID = PPP.CUSTOMER_ID AND 
														PCPL.POLICY_ID = PPP.POLICY_ID AND
														PCPL.POLICY_VERSION_ID = PPP.NEW_POLICY_VERSION_ID
														AND PPP.PROCESS_STATUS <> 'ROLLBACK')
														
LEFT OUTER JOIN
		POL_CO_INSURANCE PCI_LEADER WITH(NOLOCK) ON (PCI_LEADER.CUSTOMER_ID = PCPL.CUSTOMER_ID AND 
													 PCI_LEADER.POLICY_ID = PCPL.POLICY_ID AND 
													 PCI_LEADER.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID AND 
													 PCI_LEADER.LEADER_FOLLOWER = 14549)
													
LEFT OUTER JOIN 
		POL_POLICY_ENDORSEMENTS PPE WITH(NOLOCK) ON (PPE.CUSTOMER_ID = PCPL.CUSTOMER_ID AND 
													 PPE.POLICY_ID = PCPL.POLICY_ID AND 
													 PPE.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID)
										
INNER JOIN
		MNT_LOB_MASTER MLM WITH(NOLOCK) ON (MLM.LOB_ID = PCPL.POLICY_LOB)   
	
LEFT OUTER JOIN 
		MNT_REIN_COMAPANY_LIST MRCL WITH(NOLOCK) ON (MRCL.REIN_COMAPANY_ID = PCI_LEADER.COMPANY_ID)
		
WHERE
		CONVERT(VARCHAR(6),PPP.CREATED_DATETIME,112) = CONVERT(VARCHAR(6),@DATETIME,112)
		AND PCPL.CO_INSURANCE = 14549 -- FOR FOLLOWER
		AND MRCL.REIN_COMAPANY_ID = 1 --- ALIANÇA DA BAHIA
		AND PPP.PROCESS_ID NOT IN (2,3,4,5,6,7,8,9,10,13,16,17,22,23,24,26,27,28,29,30,31,32,33) */  
		 
SELECT	
		LEFT(CONVERT(VARCHAR,SEQUENCE_NO),10) AS SEQUENCIA, ---SEQUENCE NUMBER.
		COMPANY_CODE AS COD_CIA,
		REFERENCE_MONTH AS DT_BASE,
		ISNULL(TYPE_TRANSACTION,0) AS TIPO_MOV,
		LEFT(SUSEP_LOB_CODE,4) AS COD_RAMO ,
		RIGHT('                    '+ CAST(ISNULL(LEADER_POLICY_NUMBER,'') AS VARCHAR),20) AS NUM_APOL,
		--LEADER_POLICY_NUMBER AS NUM_APOL ,
		RIGHT('                    '+ CAST(ISNULL(ENDORSEMENT_NO,'') AS VARCHAR),20) AS NUM_END,
		--ENDORSEMENT_NO AS NUM_END ,
		--ISNULL(LEADER_CO_SUSEP_CODE,'') AS COD_COSS ,
		LEFT(ISNULL(LEADER_CO_SUSEP_CODE,''),5)  AS COD_COSS,
		--SUBSTRING(ISNULL(LEADER_CO_SUSEP_CODE,''),1,3) + '-' + SUBSTRING(ISNULL(LEADER_CO_SUSEP_CODE,''),4,1) AS COD_COSS,
		ISNULL(ISSUANCE_DATE,'') AS DT_EMIS,
		ISNULL(EFFECTIVE_DATE,'') AS DT_INL_VIG ,
		ISNULL(EXPIRED_DATE,'')  AS DT_FIM_VIG,
		--REPLACE(DBO.fun_FormatCurrency(ABS(ISSUENCE_PREMIUM),2), '.', '')AS PR_COSS_AC,
		CONVERT(VARCHAR,ISNULL(COINSURACE_PREMIUM,0)) AS PR_COSS_AC,
		CAST(ISNULL(NON_AWARDED_PREMIUM,0) AS VARCHAR) AS PR_N_GANHO
		--NON_AWARDED_PREMIUM AS PR_N_GANHO
FROM @TEMPTABLE

END



GO
