IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_UpdatePolicyGeneralUnderWriting]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_UpdatePolicyGeneralUnderWriting]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------  
Proc Name       : dbo.Proc_UpdatePolicyGeneralUnderWriting  
Created by      : Sumit Chhabra
Date            : 03/05/2006  
Purpose       	: Update data in POL_GENERAL_UNDERWRITING_INFO
Revison History :  
------------------------------------------------------------  
Date     Review By          Comments  
------   ------------       -------------------------*/  
CREATE PROC Dbo.Proc_UpdatePolicyGeneralUnderWriting  
(  
@CUSTOMER_ID     int,  
@POLICY_ID     int,  
@POLICY_VERSION_ID     smallint,  
@INSURANCE_DECLINED_FIVE_YEARS     nchar(2),  
@MEDICAL_PROFESSIONAL_EMPLOYEED     nchar(2),  
@EXPOSURE_RATIOACTIVE_NUCLEAR     nchar(2),  
@HAVE_PAST_PRESENT_OPERATIONS     nchar(2),  
@ANY_OPERATIONS_SOLD     nchar(2),  
@MACHINERY_LOANED     nchar(2),  
@ANY_WATERCRAFT_LEASED     nchar(2),  
@ANY_PARKING_OWNED     nchar(2),  
@FEE_CHARGED_PARKING     nchar(2),  
@RECREATION_PROVIDED     nchar(2),  
@SWIMMING_POOL_PREMISES     nchar(2),  
@SPORTING_EVENT_SPONSORED     nchar(2),  
@STRUCTURAL_ALTERATION_CONTEMPATED     nchar(2),  
@DEMOLITION_EXPOSURE_CONTEMPLATED     nchar(2),  
@CUSTOMER_ACTIVE_JOINT_VENTURES     nchar(2),  
@LEASE_EMPLOYEE     nchar(2),  
@LABOR_INTERCHANGE_OTH_BUSINESS     nchar(2),  
@DAY_CARE_FACILITIES     nchar(2),  
@IS_ACTIVE     nchar(2),  
@MODIFIED_BY     int,  
@LAST_UPDATED_DATETIME     datetime,  
@ADDITIONAL_COMMENTS varchar(200),  
@DESC_INSURANCE_DECLINED nvarchar(150),  
@DESC_MEDICAL_PROFESSIONAL nvarchar(150),  
@DESC_EXPOSURE_RATIOACTIVE nvarchar(150),  
@DESC_HAVE_PAST_PRESENT nvarchar(150),  
@DESC_ANY_OPERATIONS nvarchar(150),  
@DESC_MACHINERY_LOANED nvarchar(150),  
@DESC_ANY_WATERCRAFT nvarchar(150),  
@DESC_ANY_PARKING nvarchar(150),  
@DESC_FEE_CHARGED nvarchar(150),  
@DESC_RECREATION_PROVIDED nvarchar(150),  
@DESC_SWIMMING_POOL nvarchar(150),  
@DESC_SPORTING_EVENT nvarchar(150),  
@DESC_STRUCTURAL_ALTERATION nvarchar(150),  
@DESC_DEMOLITION_EXPOSURE nvarchar(150),  
@DESC_CUSTOMER_ACTIVE nvarchar(150),  
@DESC_LEASE_EMPLOYEE nvarchar(150),  
@DESC_LABOR_INTERCHANGE nvarchar(150),  
@DESC_DAY_CARE nvarchar(150)  
)  
AS  
BEGIN  
UPDATE  POL_GENERAL_UNDERWRITING_INFO  
SET  
CUSTOMER_ID   =@CUSTOMER_ID,  
POLICY_ID   =@POLICY_ID,  
POLICY_VERSION_ID =@POLICY_VERSION_ID,  
INSURANCE_DECLINED_FIVE_YEARS =@INSURANCE_DECLINED_FIVE_YEARS,  
MEDICAL_PROFESSIONAL_EMPLOYEED=@MEDICAL_PROFESSIONAL_EMPLOYEED,  
EXPOSURE_RATIOACTIVE_NUCLEAR=@EXPOSURE_RATIOACTIVE_NUCLEAR,  
HAVE_PAST_PRESENT_OPERATIONS=@HAVE_PAST_PRESENT_OPERATIONS,  
ANY_OPERATIONS_SOLD=@ANY_OPERATIONS_SOLD,  
MACHINERY_LOANED=@MACHINERY_LOANED,  
ANY_WATERCRAFT_LEASED=@ANY_WATERCRAFT_LEASED,  
ANY_PARKING_OWNED=@ANY_PARKING_OWNED,  
FEE_CHARGED_PARKING=@FEE_CHARGED_PARKING,  
RECREATION_PROVIDED=@RECREATION_PROVIDED,  
SWIMMING_POOL_PREMISES=@SWIMMING_POOL_PREMISES,  
SPORTING_EVENT_SPONSORED=@SPORTING_EVENT_SPONSORED,  
STRUCTURAL_ALTERATION_CONTEMPATED=@STRUCTURAL_ALTERATION_CONTEMPATED,  
DEMOLITION_EXPOSURE_CONTEMPLATED=@DEMOLITION_EXPOSURE_CONTEMPLATED,  
CUSTOMER_ACTIVE_JOINT_VENTURES=@CUSTOMER_ACTIVE_JOINT_VENTURES,  
LEASE_EMPLOYEE=@LEASE_EMPLOYEE,  
LABOR_INTERCHANGE_OTH_BUSINESS=@LABOR_INTERCHANGE_OTH_BUSINESS,  
DAY_CARE_FACILITIES=@DAY_CARE_FACILITIES,  
IS_ACTIVE=@IS_ACTIVE,  
MODIFIED_BY=@MODIFIED_BY,  
LAST_UPDATED_DATETIME=@LAST_UPDATED_DATETIME,  
ADDITIONAL_COMMENTS=@ADDITIONAL_COMMENTS,  
DESC_INSURANCE_DECLINED=@DESC_INSURANCE_DECLINED,  
DESC_MEDICAL_PROFESSIONAL=@DESC_MEDICAL_PROFESSIONAL,  
DESC_EXPOSURE_RATIOACTIVE=@DESC_EXPOSURE_RATIOACTIVE,  
DESC_HAVE_PAST_PRESENT=@DESC_HAVE_PAST_PRESENT,  
DESC_ANY_OPERATIONS=@DESC_ANY_OPERATIONS,  
DESC_MACHINERY_LOANED=@DESC_MACHINERY_LOANED,  
DESC_ANY_WATERCRAFT=@DESC_ANY_WATERCRAFT,  
DESC_ANY_PARKING=@DESC_ANY_PARKING,  
DESC_FEE_CHARGED=@DESC_FEE_CHARGED,  
DESC_RECREATION_PROVIDED=@DESC_RECREATION_PROVIDED,  
DESC_SWIMMING_POOL=@DESC_SWIMMING_POOL,  
DESC_SPORTING_EVENT=@DESC_SPORTING_EVENT,  
DESC_STRUCTURAL_ALTERATION=@DESC_STRUCTURAL_ALTERATION,  
DESC_DEMOLITION_EXPOSURE=@DESC_DEMOLITION_EXPOSURE,  
DESC_CUSTOMER_ACTIVE=@DESC_CUSTOMER_ACTIVE,  
DESC_LEASE_EMPLOYEE=@DESC_LEASE_EMPLOYEE,  
DESC_LABOR_INTERCHANGE=@DESC_LABOR_INTERCHANGE,  
DESC_DAY_CARE=@DESC_DAY_CARE  
  
WHERE CUSTOMER_ID=@CUSTOMER_ID AND  
POLICY_ID   =@POLICY_ID AND  
POLICY_VERSION_ID =@POLICY_VERSION_ID  
  
END  
  
  



GO

