IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_UpdateCLM_MCCA_ATTACHMENT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_UpdateCLM_MCCA_ATTACHMENT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------    
Proc Name       : dbo.Proc_UpdateCLM_MCCA_ATTACHMENT    
Created by      : Vijay Arora    
Date            : 8/8/2006    
Purpose     : To update a record in table named CLM_MCCA_ATTACHMENT    
Revison History :    
Used In  : Wolverine    
------------------------------------------------------------    
Date     Review By          Comments    
------   ------------       -------------------------*/    
--DROP PROC Dbo.Proc_UpdateCLM_MCCA_ATTACHMENT    
CREATE PROC Dbo.Proc_UpdateCLM_MCCA_ATTACHMENT    
(    
@MCCA_ATTACHMENT_ID     int,    
@POLICY_PERIOD_DATE_FROM     datetime,    
@POLICY_PERIOD_DATE_TO     datetime,    
@LOSS_PERIOD_DATE_FROM     datetime,    
@LOSS_PERIOD_DATE_TO     datetime,    
@MCCA_ATTACHMENT_POINT     int,    
@MODIFIED_BY     int    
)    
AS    
BEGIN    
  UPDATE  CLM_MCCA_ATTACHMENT    
  SET    
  MCCA_ATTACHMENT_POINT  =  @MCCA_ATTACHMENT_POINT,    
  MODIFIED_BY  =  @MODIFIED_BY,    
  LAST_UPDATED_DATETIME  =  GETDATE()    
  WHERE MCCA_ATTACHMENT_ID = @MCCA_ATTACHMENT_ID    
END    
    
  



GO

