IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetProductClaimRecipt]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetProductClaimRecipt]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


  
      
/*----------------------------------------------------------         
        
Proc Name : dbo.Proc_GetProductClaimRecipt         
        
Created by : Shubhanshu Pandey         
       
Date : 1/3/2011         
        
Purpose : Generation of Calim receipt        
        
Revison History :         
        
Used In : Ebix Advantage        
      
------ ------------ -------------------------*/         
--   Proc_GetProductClaimRecipt  992,10,1 -- 162,2,1   ---747,4,1 --637,2,1 --774,2,1  
 --Proc_GetProductClaimRecipt 868,2,1   ---LEADER
 --Proc_GetProductClaimRecipt 871,2,1   ---FOLLOWER
 --Proc_GetProductClaimRecipt 872,2,1   ---DIRECT  
 -- Proc_GetProductClaimRecipt  1298,1,1  --- IN CASE OF MORE THAN ONE FOLLOWER
        
-- DROP PROC Proc_GetProductClaimRecipt 129,2,1 
--go
        
CREATE PROCEDURE  [dbo].[Proc_GetProductClaimRecipt]        
(        
	 @CLAIM_ID INT,        
	 @ACTIVITY_ID INT,      
	 @PAYEE_ID INT,
	 @LANG_ID INT=2                
)        
AS        
BEGIN     
 -- GET ACTIVITY TYPE  
  DECLARE @ACTIVITY_TYPE INT  
  SELECT   
   @ACTIVITY_TYPE= ACTION_ON_PAYMENT   
  FROM   
   CLM_ACTIVITY WITH(NOLOCK)   
     WHERE   
   CLAIM_ID=@CLAIM_ID AND   
   ACTIVITY_ID=@ACTIVITY_ID  
   --------------------------------------------------------------------------------------------------------------     
   DECLARE @BENF_NAME NVARCHAR(500)  
  SELECT    
   @BENF_NAME =  SECONDARY_PARTY_ID  
  FROM    
   CLM_PAYEE WITH(NOLOCK)   
  WHERE   
   CLAIM_ID = @CLAIM_ID  AND   
   ACTIVITY_ID = @ACTIVITY_ID   
     
  DECLARE @POSITION INT  
  SELECT  @POSITION = CHARINDEX('^',@BENF_NAME,0)  
   
 --==============================================================  
 -- MODIFIED BY SANTOSH KR GAUTAM FOR ITRACK 1263 (22 JUL NOTES)  
 --==============================================================  
  IF(@POSITION>0)  
    SET @BENF_NAME = SUBSTRING(@BENF_NAME,0,@POSITION)  
  ELSE   
    SET @BENF_NAME = @BENF_NAME      
  
     
 ------START-------------------------------------------------------------------------------------------------------  
 --MODIFIED BY SHUBHANSHU PANDEY FOR ITRACK 1263 (27 JUL NOTES)  
 ------------------------------------------------------------------------------------------------------------------  
  DECLARE @PARTY_CPF_CNPJ NVARCHAR(50)    
  DECLARE @REGIONAL_IDENTIFICATION NVARCHAR(80)   
  DECLARE @REGIONAL_ID_ISSUANCE NVARCHAR(80)    
  DECLARE @REGIONAL_ID_ISSUE_DATE DATETIME   
  DECLARE @ADDRESS1 VARCHAR(200)    
  DECLARE @ADDRESS2 VARCHAR(200)   
  DECLARE @CITY NVARCHAR(150)  
  DECLARE @STATE_CODE NVARCHAR(20)   
  DECLARE @ZIP NVARCHAR(40)    
  DECLARE @COUNTRY_NAME NVARCHAR(550)   
  DECLARE @CONTACT_PHONE NVARCHAR(50)  
  DECLARE @DISTRICT NVARCHAR(50)  
    
  IF(@ACTIVITY_TYPE IN(190,192) AND EXISTS(SELECT * FROM CLM_PARTIES  WITH(NOLOCK) WHERE CLAIM_ID=@CLAIM_ID AND PARTY_TYPE_ID=618 AND SOURCE_PARTY_ID=1))  
   BEGIN  
     SELECT  
     @BENF_NAME     = CPP.NAME,   
     @PARTY_CPF_CNPJ    = CPP.PARTY_CPF_CNPJ,  
     @REGIONAL_IDENTIFICATION = CPP.REGIONAL_ID,  
     @REGIONAL_ID_ISSUANCE  = CPP.REGIONAL_ID_ISSUANCE,  
     @REGIONAL_ID_ISSUE_DATE  = CPP.REGIONAL_ID_ISSUE_DATE,  
     @ADDRESS1     = CPP.ADDRESS1,   
     @ADDRESS2     = CPP.ADDRESS2,  
     @DISTRICT     = CPP.DISTRICT,  
     @CITY      = CPP.CITY,  
     @STATE_CODE     = MCSL.STATE_CODE,  
     @COUNTRY_NAME    = MCL.COUNTRY_NAME,  
     @ZIP      = CPP.ZIP,  
     @CONTACT_PHONE    = CPP.CONTACT_PHONE      
     FROM    
     CLM_PARTIES CPP WITH(NOLOCK)  
      
     LEFT OUTER JOIN     
     MNT_COUNTRY_LIST MCL WITH(NOLOCK) ON (MCL.COUNTRY_ID =    
                  CASE   
                 WHEN CPP.COUNTRY = 0 OR CPP.COUNTRY IS NULL THEN 5  
                 ELSE CPP.COUNTRY  
                 END)  
    LEFT OUTER JOIN        
     MNT_COUNTRY_STATE_LIST MCSL WITH(NOLOCK) ON ( MCSL.STATE_ID = CPP.STATE   
                 AND MCSL.COUNTRY_ID = MCL.COUNTRY_ID  
                )  
     WHERE CPP.CLAIM_ID = @CLAIM_ID AND CPP.SOURCE_PARTY_ID = 1  
   END  
     
    
  ELSE   
   IF(@ACTIVITY_TYPE IN(190,192))  
   BEGIN  
     SELECT   
     @BENF_NAME     = M.REIN_COMAPANY_NAME,  
     @PARTY_CPF_CNPJ    = M.CARRIER_CNPJ,  
     @REGIONAL_IDENTIFICATION = '',  
     @REGIONAL_ID_ISSUANCE  = '',  
     @REGIONAL_ID_ISSUE_DATE  = null,  
     @ADDRESS1     = M.REIN_COMAPANY_ADD1,  
     @ADDRESS2     = M.REIN_COMAPANY_ADD2,  
     @DISTRICT     = M.DISTRICT,  
     @CITY      = M.REIN_COMAPANY_CITY ,  
     @STATE_CODE     = M.REIN_COMAPANY_STATE,  
     @COUNTRY_NAME    = M.REIN_COMAPANY_COUNTRY,  
     @ZIP      = M.REIN_COMAPANY_ZIP,  
     @CONTACT_PHONE    = M.REIN_COMAPANY_PHONE  
     FROM    
     MNT_REIN_COMAPANY_LIST M WITH(NOLOCK)  
     WHERE   REIN_COMAPANY_ID =1  
   END  
     
  
  
------------------------------------------------------------------------------------------------------------END  
  
  
    
      
  DECLARE @LOSS_EXPENCE VARCHAR(50)     
  DECLARE @PROFESSIONAL_SERVICES_LOSS_EXPENSE VARCHAR(50)   
    
    
  ----------------------------------------------------------------------------------------------------------  
    
  --FOR RETRIEVING ADJUSTER_ID AND BRANCH_CODE   
    
  -----------------------------------------------------------------------------------------------------------  
DECLARE @BRANCH_CODE NVARCHAR(10) 


SELECT @BRANCH_CODE = D.BRANCH_CODE 
FROM   
  CLM_CLAIM_INFO CCI WITH(NOLOCK)   
INNER JOIN   
  CLM_ACTIVITY A WITH(NOLOCK) ON CCI.CLAIM_ID = A.CLAIM_ID    
INNER JOIN   
  MNT_USER_LIST B WITH(NOLOCK) ON B.[USER_ID] = A.CREATED_BY   
INNER JOIN   
  MNT_DIV_LIST D WITH(NOLOCK) ON D.DIV_ID = B.USER_DEF_DIV_ID   
WHERE CCI.CLAIM_ID = @CLAIM_ID AND A.ACTIVITY_ID = @ACTIVITY_ID 


  --DECLARE @BRANCH_CODE NVARCHAR(10)     
  --SET @BRANCH_CODE=(SELECT BRANCH_CODE FROM CLM_PROCESS_LOG WITH(NOLOCK) WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID=@ACTIVITY_ID AND PROCESS_TYPE = 'CLM_RECEIPT') 

 -------------------------------------------------------------------------------------------------------------    
     ----------FOR GENERATING CLAIM RECEIPT NUMBER    
  -------------------------------------------------------------------------------------------------------------    
  DECLARE @RECEIPT_SEQUENCE_NUMBER VARCHAR(10)     
   IF NOT EXISTS (SELECT * FROM CLM_PROCESS_LOG WITH(NOLOCK) WHERE CLAIM_ID = @CLAIM_ID AND ACTIVITY_ID = @ACTIVITY_ID AND PROCESS_TYPE = 'CLM_RECEIPT') 

BEGIN 


SELECT @RECEIPT_SEQUENCE_NUMBER=ISNULL(MAX(LETTER_SEQUENCE_NO),0) +1 

FROM CLM_PROCESS_LOG WITH(NOLOCK)

WHERE PROCESS_TYPE='CLM_RECEIPT' AND BRANCH_CODE = @BRANCH_CODE 


END 


ELSE 

BEGIN 

SELECT @RECEIPT_SEQUENCE_NUMBER = (SELECT LETTER_SEQUENCE_NO FROM CLM_PROCESS_LOG WITH(NOLOCK) WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID=@ACTIVITY_ID AND PROCESS_TYPE = 'CLM_RECEIPT') 

END 
      
          
    
 -------------------------------------------------------------------------------------  
 --------------------DECLARE TEMPORARY TABLE   
 DECLARE @FINAL_TABLE TABLE   
 (          
   CLAIM_RECEIPT_NUMBER VARCHAR(10),          
   CLAIM_PAYMENT_TYPE NVARCHAR(50),          
   COVERAGE_CLAIMED_CODE NVARCHAR(1000),          
   PAYMENT_DATE VARCHAR(20),    
   NAME NVARCHAR(200),    
   PARTY_CPF_CNPJ NVARCHAR(50),    
   REGIONAL_IDENTIFICATION NVARCHAR(80),    
   REGIONAL_ID_ISSUANCE NVARCHAR(80),    
   REGIONAL_ID_ISSUE_DATE NVARCHAR(10),    
   ADDRESS1 VARCHAR(200),    
   ADDRESS2 VARCHAR(200),    
   CITY NVARCHAR(150),    
   STATE_CODE NVARCHAR(20),    
   ZIP NVARCHAR(40),    
   COUNTRY_NAME NVARCHAR(550),    
   CONTACT_PHONE NVARCHAR(50),    
   BRANCH_CODE NVARCHAR(20),    
   DIV_NAME NVARCHAR(150),    
   DIV_ADDRESS1 NVARCHAR(600),   
   DIV_ADDRESS2 NVARCHAR(600),  
   SUSEP_LOB_CODE NVARCHAR(50),    
   LOB_DESC NVARCHAR(150),        
   POLICY_NUMBER NVARCHAR(100),          
   ENDORSEMENT_NO INT,          
   AGENCY_CODE NVARCHAR(30),          
   OFFCIAL_CLAIM_NUMBER VARCHAR(100),  
   CLAIM_NUMBER VARCHAR(100),    
   INVOICE_DATE DATE,    
   INVOICE_NUMBER VARCHAR(100),    
   CREATED_DATETIME VARCHAR(20),          
   FIRST_NAME NVARCHAR(200),          
   MIDDLE_NAME NVARCHAR(100),          
   LAST_NAME NVARCHAR(50),    
   PAYMENT_AMT varchar(50),    
   DISTRICT NVARCHAR(50),    
   PAYMENT_DATETIME NVARCHAR(10),      
   COINSURANCE_PERCENT_LEADER varchar(50),    
   COINSURANCE_PERCENT varchar(50),  
   PAYMENT_METHOD INT,    
   BANK_NUMBER NVARCHAR(230),    
   BANK_BRANCH NVARCHAR(60),    
   ACCOUNT_NUMBER NVARCHAR(230),    
   TEXT_DESCRIPTION NVARCHAR(4000),  
   ITEM VARCHAR(50),  
   RECOVERY_AMOUNT VARCHAR(100)  
         
  )        
---------------------------------------------------------------------------------------------------------          
 INSERT INTO @FINAL_TABLE              
 SELECT TOP 1  
   ----------FOR GENERATING CLAIM RECEIPT NUMBER    
   (@BRANCH_CODE + RIGHT('000000'+ CAST(@RECEIPT_SEQUENCE_NUMBER AS VARCHAR(6)),6)) AS CLAIM_RECEIPT_NUMBER,         
  CASE CPC.IS_RISK_COVERAGE          
   WHEN 'Y' THEN 'INDENIZAÇÃO'          
   ELSE     
    CASE CPC.COVERAGE_CODE_ID    
     WHEN 50019 THEN 'SALVADOS'           -- SALVAGE   
     WHEN 50021 THEN 'RESSARCIMENTO'      -- SUBROGATION   
     WHEN 50017 THEN 'DESPESA'       -- LOSS EXPENSE   
     WHEN 50020 THEN 'DESPESA SALVADO'    -- SALVAGE EXPENSE    
     WHEN 50022 THEN 'DESPESA RESSARCIMENTO'  -- SUBROGATION EXPENSE  
     WHEN 50018 THEN 'HONORÁRIO'     -- LOSS EXPENSE FOR PROF. SERVICES    
    END          
  END AS CLAIM_PAYMENT_TYPE,  
            
   CASE CPC.IS_RISK_COVERAGE           
   WHEN 'Y' THEN MCM.COV_DES          
   ELSE MCEM.COV_DES          
   END AS COVERAGE_CLAIMED_CODE,   
               
   CASE           
   WHEN CPC.LAST_UPDATED_DATETIME IS NULL   
     THEN CAST(DAY(CPC.CREATED_DATETIME ) AS VARCHAR(2))+'-'+CAST(MONTH(CPC.CREATED_DATETIME ) AS VARCHAR(2))+'-'+CAST(YEAR(CPC.CREATED_DATETIME ) AS VARCHAR(4))    
   ELSE CAST(DAY(CPC.LAST_UPDATED_DATETIME ) AS VARCHAR(2))+'-'+CAST(MONTH(CPC.LAST_UPDATED_DATETIME ) AS VARCHAR(2))+'-'+CAST(YEAR(CPC.LAST_UPDATED_DATETIME ) AS VARCHAR(4))    
         
   END AS PAYMENT_DATE,  
     
   -----------------RETREIVING BENIFICIARY INFORMATION(WHEN WE HAVE MORE THAN ONE BENIFICIARY NAME)  
   -----START-----------------MODIFIED BY SHUBHANSHU PANDEY FOR ITRACK 1263 (27 JUL NOTES)  
   @BENF_NAME AS NAME,   
   CASE   
  WHEN @ACTIVITY_TYPE IN(190,192) THEN @PARTY_CPF_CNPJ     
     ELSE CPP.PARTY_CPF_CNPJ  
   END AS PARTY_CPF_CNPJ,  
     
   CASE   
  WHEN @ACTIVITY_TYPE IN(190,192) THEN @REGIONAL_IDENTIFICATION  
  ELSE CPP.REGIONAL_ID   
   END AS REGIONAL_IDENTIFICATION,   
     
   CASE   
  WHEN @ACTIVITY_TYPE IN(190,192) THEN @REGIONAL_ID_ISSUANCE  
  ELSE CPP.REGIONAL_ID_ISSUANCE  
   END AS REGIONAL_ID_ISSUANCE,   
     
   CASE   
  WHEN @ACTIVITY_TYPE IN(190,192) THEN CAST(DAY(@REGIONAL_ID_ISSUE_DATE) AS VARCHAR(2))+'-'+CAST(MONTH(@REGIONAL_ID_ISSUE_DATE) AS VARCHAR(2))+'-'+CAST(YEAR(@REGIONAL_ID_ISSUE_DATE) AS VARCHAR(4))   
  ELSE CAST(DAY(CPP.REGIONAL_ID_ISSUE_DATE) AS VARCHAR(2))+'-'+CAST(MONTH(CPP.REGIONAL_ID_ISSUE_DATE) AS VARCHAR(2))+'-'+CAST(YEAR(CPP.REGIONAL_ID_ISSUE_DATE) AS VARCHAR(4))  
   END AS REGIONAL_ID_ISSUE_DATE,   
        
   CASE   
  WHEN @ACTIVITY_TYPE IN(190,192) THEN @ADDRESS1   
  ELSE CP.ADDRESS1--CPP.ADDRESS1 ---COMMENTED BY SHUBHANSHU ON 2/8/2011    
   END AS ADDRESS1,  
     
   CASE   
  WHEN @ACTIVITY_TYPE IN(190,192) THEN @ADDRESS2   
  ELSE CP.ADDRESS2  --CPP.ADDRESS2 ----COMMENTED BY SHUBHANSHU ON 2/8/2011    
   END AS ADDRESS2,   
     
   CASE   
  WHEN @ACTIVITY_TYPE IN(190,192) THEN @CITY   
  ELSE CP.CITY --CPP.CITY  ----COMMENTED BY SHUBHANSHU ON 2/8/2011    
   END AS CITY,   
   
   CASE   
  WHEN @ACTIVITY_TYPE IN(190,192) THEN @STATE_CODE  
  ELSE  MCSL.STATE_CODE  
   END AS STATE_CODE,   
      
   CASE   
  WHEN @ACTIVITY_TYPE IN(190,192) THEN @ZIP  
  ELSE  CP.ZIP  
   END AS ZIP,    
      
    CASE   
  WHEN @ACTIVITY_TYPE IN(190,192) THEN @COUNTRY_NAME  
  ELSE  MCL.COUNTRY_NAME  
   END AS COUNTRY_NAME,  
     
   CASE   
  WHEN @ACTIVITY_TYPE IN(190,192) THEN @CONTACT_PHONE   
  ELSE  CPP.CONTACT_PHONE  
   END AS CONTACT_PHONE,   
 -----------------------------------------------------------------------------------------------------------END    
   MDL.BRANCH_CODE,    
   MDL.DIV_NAME,    
   MDL.DIV_ADD1 AS DIV_ADDRESS1,     MDL.DIV_ADD2+', '+MDL.DIV_CITY+', '+MCSL1.STATE_CODE+', '+MDL.DIV_ZIP AS DIV_ADDRESS2,       
   MLM.SUSEP_LOB_CODE,    
   MLMM.LOB_DESC,         
   PCPL.POLICY_NUMBER,          
   PPE.ENDORSEMENT_NO,         
   MAL.AGENCY_CODE,         
   CCI.OFFCIAL_CLAIM_NUMBER,   
   CCI.CLAIM_NUMBER,   
   CP.INVOICE_DATE,    
   CP.INVOICE_NUMBER,    
   CAST(DAY(CP.CREATED_DATETIME ) AS VARCHAR(2))+'-'+CAST(MONTH(CP.CREATED_DATETIME ) AS VARCHAR(2))+'-'+CAST(YEAR(CP.CREATED_DATETIME ) AS VARCHAR(4)) AS CREATED_DATETIME,        
   CAL.FIRST_NAME,          
   CAL.MIDDLE_NAME,          
   CAL.LAST_NAME,   
   dbo.fun_FormatCurrency(ISNULL(CA.PAYMENT_AMOUNT+CA.EXPENSES,0),@LANG_ID) AS PAYMENT_AMOUNT,  
  -- dbo.fun_FormatCurrency(ISNULL(CA.PAYMENT_AMOUNT,0),@LANG_ID) AS PAYMENT_AMOUNT ,  
    
    
  -----START-----------------MODIFIED BY SHUBHANSHU PANDEY FOR ITRACK 1263 (27 JUL NOTES)  
  CASE   
  WHEN @ACTIVITY_TYPE IN(190,192) THEN @DISTRICT    
  ELSE  CPP.DISTRICT  
   END AS DISTRICT,   
  ----END-------------------------------------------------------------------------------  
      
   --dbo.fun_FormatCurrency(ISNULL(CPP.PARTY_PERCENTAGE,100),@LANG_ID) AS COINSURANCE_PERCENT_LEADER ,   
   CAST(MONTH(CA.COMPLETED_DATE ) AS VARCHAR(2))+'-'+CAST(YEAR(CA.COMPLETED_DATE) AS VARCHAR(4)) AS PAYMENT_DATETIME,   
   CASE   
   WHEN CCI.CO_INSURANCE_TYPE = 14549 OR CCI.CO_INSURANCE_TYPE = 14547  THEN '100,00'  
   ELSE dbo.fun_FormatCurrency(PCI_LEADER.COINSURANCE_PERCENT,@LANG_ID)   
   END   
   AS COINSURANCE_PERCENT_LEADER,  
     
   CASE   
   WHEN CCI.CO_INSURANCE_TYPE = 14549 OR CCI.CO_INSURANCE_TYPE = 14547 THEN '0,00'  
   --- BELOW QUERY IS USED TO FETCH FOLLOWER SHARE PERCENTAGE WHEN POLICY IS FOLLOWER TYPE  
   ELSE (SELECT dbo.fun_FormatCurrency(SUM(ISNULL(PCI_FOLLOWER.COINSURANCE_PERCENT,0)),@LANG_ID) COINSURANCE_PERCENT    
      FROM POL_CO_INSURANCE PCI_FOLLOWER WITH(NOLOCK) WHERE (PCPL.CUSTOMER_ID = PCI_FOLLOWER.CUSTOMER_ID AND   
                PCPL.POLICY_ID = PCI_FOLLOWER.POLICY_ID AND           
                PCPL.POLICY_VERSION_ID = PCI_FOLLOWER.POLICY_VERSION_ID AND   
                PCI_FOLLOWER.LEADER_FOLLOWER = 14549) )  
   END   
   AS COINSURANCE_PERCENT,  
     
   --ISNULL((SELECT   
   --dbo.fun_FormatCurrency(SUM(ISNULL (CPP.PARTY_PERCENTAGE ,0)),@LANG_ID) COINSURANCE_PERCENT  
   -- FROM   
   -- CLM_PARTIES CPP1 WITH(NOLOCK)    
   -- INNER JOIN  CLM_CLAIM_INFO CCI WITH(NOLOCK) ON  CPP1.CLAIM_ID = CCI.CLAIM_ID AND   
   --                                                 CCI.CO_INSURANCE_TYPE = 14549                                                      
   -- WHERE CCI.CLAIM_ID = @CLAIM_ID),'0,00'),  
     
    CP.PAYMENT_METHOD,  
     
   CASE   
  WHEN CP.PAYMENT_METHOD =14707 THEN CPP.BANK_NUMBER   
  ELSE NULL END AS BANK_NUMBER,   -- IN CASE OF BANK TRANSFER   
   CASE   
  WHEN CP.PAYMENT_METHOD =14707 THEN CPP.BANK_BRANCH   
  ELSE NULL END AS BANK_BRANCH,    
   CASE   
  WHEN CP.PAYMENT_METHOD =14707 THEN CPP.ACCOUNT_NUMBER   
  ELSE NULL END AS ACCOUNT_NUMBER,    
   CA.TEXT_DESCRIPTION,  
  ------------------------------------------------------------------------------------------------------------------  
    
   CASE   
  WHEN CCI.CO_INSURANCE_TYPE =14549 THEN   
                  CAST(ISNULL(CCI.LEADER_CLAIM_NUMBER,CO.LEADER_CLAIM_NUMBER) AS VARCHAR(50))  
  WHEN MLM.SUSEP_LOB_CODE IN ('0435', '0523', '0553', '0531', '0654') THEN   
            (SELECT CAST(VEHICLE_NUMBER AS VARCHAR(50))   
             FROM   
            POL_CIVIL_TRANSPORT_VEHICLES P WITH(NOLOCK)  
             WHERE  CCI.CUSTOMER_ID = P.CUSTOMER_ID AND   
              CCI.POLICY_ID = P.POLICY_ID AND   
              CCI.POLICY_VERSION_ID=P.POLICY_VERSION_ID AND   
              CIP.POL_RISK_ID = P.VEHICLE_ID)       
  WHEN MLM.SUSEP_LOB_CODE IN ('0116', '0118', '0351', '0171', '0115', '0111', '0173', '0750', '0114') THEN   
           (SELECT CAST(LOCATION_NUMBER AS VARCHAR(50))   
            FROM   
            POL_PRODUCT_LOCATION_INFO P WITH(NOLOCK)  
            WHERE CIP.POL_RISK_ID= P.PRODUCT_RISK_ID AND   
            CCI.CUSTOMER_ID = P.CUSTOMER_ID AND   
            CCI.POLICY_ID = P.POLICY_ID AND   
            CCI.POLICY_VERSION_ID=P.POLICY_VERSION_ID)+'/'+CAST(CIP.ITEM_NUMBER AS VARCHAR(50))  
  WHEN MLM.SUSEP_LOB_CODE IN ('0167', '0196') THEN   
          (SELECT CAST(LOCATION_NUMBER  AS VARCHAR(50))   
           FROM POL_PERILS P WITH(NOLOCK)  
           WHERE CIP.POL_RISK_ID= P.PERIL_ID AND   
            CCI.CUSTOMER_ID = P.CUSTOMER_ID AND   
            CCI.POLICY_ID = P.POLICY_ID AND   
            CCI.POLICY_VERSION_ID=P.POLICY_VERSION_ID)+'/'+CAST (CIP.ITEM_NUMBER AS VARCHAR(50))  
  WHEN MLM.SUSEP_LOB_CODE IN ('0621', '0622') THEN CAST(CIP.VOYAGE_CERT_NUMBER AS VARCHAR(50))         
  WHEN MLM.SUSEP_LOB_CODE IN ('0433', '0982', '0977', '0981', '0520', '0588', '0589', '0746', '0993', '1163') THEN ''        
            
  END AS ITEM ,     
    
  ------------------------------------------------------------------------------------------------------------------   
   dbo.fun_FormatCurrency(ISNULL(CAR.RECOVERY_AMOUNT,0),@LANG_ID) AS RECOVERY_AMOUNT  
  
 FROM          
   CLM_PRODUCT_COVERAGES CPC WITH(NOLOCK)          
  INNER JOIN           
   CLM_ACTIVITY_RESERVE CAR WITH(NOLOCK) ON (CPC.CLAIM_ID=CAR.CLAIM_ID AND CPC.CLAIM_COV_ID = CAR.COVERAGE_ID )--AND CAR.PAYMENT_AMOUNT <> 0)              
        
  INNER JOIN          
   CLM_CLAIM_INFO CCI WITH(NOLOCK) ON (CCI.CLAIM_ID = CAR.CLAIM_ID)   
     
  INNER JOIN            
   CLM_INSURED_PRODUCT CIP WITH(NOLOCK) ON (CCI.CLAIM_ID = CIP.CLAIM_ID)             
             
  INNER JOIN          
   MNT_LOB_MASTER MLM WITH(NOLOCK) ON (MLM.LOB_ID = CCI.LOB_ID)     
       
  INNER JOIN             
  MNT_LOB_MASTER_MULTILINGUAL MLMM WITH(NOLOCK) ON (MLMM.LOB_ID = MLM.LOB_ID AND LANG_ID = 2)    
         
  INNER JOIN          
   POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK) ON (PCPL.CUSTOMER_ID = CCI.CUSTOMER_ID AND   
              PCPL.POLICY_ID = CCI.POLICY_ID AND           
              PCPL.POLICY_VERSION_ID = CCI.POLICY_VERSION_ID)  
       
  LEFT OUTER JOIN    
  POL_CO_INSURANCE PCI_LEADER WITH(NOLOCK) ON (PCPL.CUSTOMER_ID = PCI_LEADER.CUSTOMER_ID AND   
              PCPL.POLICY_ID = PCI_LEADER.POLICY_ID AND           
              PCPL.POLICY_VERSION_ID = PCI_LEADER.POLICY_VERSION_ID AND   
              PCI_LEADER.LEADER_FOLLOWER = 14548)      
        
  LEFT OUTER JOIN    
  POL_CO_INSURANCE PCI_FOLLOWER WITH(NOLOCK) ON (PCPL.CUSTOMER_ID = PCI_FOLLOWER.CUSTOMER_ID AND   
                PCPL.POLICY_ID = PCI_FOLLOWER.POLICY_ID AND           
                PCPL.POLICY_VERSION_ID = PCI_FOLLOWER.POLICY_VERSION_ID AND   
                PCI_FOLLOWER.LEADER_FOLLOWER = 14549)        
              
  LEFT OUTER JOIN     
  MNT_DIV_LIST MDL WITH(NOLOCK) ON (PCPL.DIV_ID = MDL.DIV_ID)       
      
   LEFT OUTER JOIN      
  MNT_COUNTRY_STATE_LIST MCSL1 WITH(NOLOCK) ON (MCSL1.STATE_ID = MDL.DIV_STATE AND MCSL1.COUNTRY_ID = 5)      
       
         
   LEFT OUTER JOIN         
   POL_APPLICANT_LIST PAL WITH(NOLOCK) ON (PAL.CUSTOMER_ID = CCI.CUSTOMER_ID AND   
             PAL.POLICY_ID = CCI.POLICY_ID AND           
             PAL.POLICY_VERSION_ID = CCI.POLICY_VERSION_ID AND   
             IS_PRIMARY_APPLICANT = 1)       
             
   LEFT OUTER JOIN          
   CLT_APPLICANT_LIST CAL WITH(NOLOCK) ON (CAL.CUSTOMER_ID = PAL.CUSTOMER_ID AND CAL.APPLICANT_ID = PAL.APPLICANT_ID)          
                   
  LEFT OUTER JOIN           
   POL_POLICY_ENDORSEMENTS PPE WITH(NOLOCK) ON (PPE.CUSTOMER_ID = CCI.CUSTOMER_ID  AND   
               PPE.POLICY_ID = CCI.POLICY_ID AND   
               PPE.POLICY_VERSION_ID = CCI.POLICY_VERSION_ID)                        
  LEFT OUTER JOIN           
   MNT_AGENCY_LIST MAL WITH(NOLOCK) ON (MAL.AGENCY_ID = PCPL.AGENCY_ID)          
      
  LEFT OUTER JOIN          
   MNT_COVERAGE_EXTRA MCE WITH(NOLOCK) ON (MCE.COV_ID = CPC.COVERAGE_CODE_ID)    
      
  LEFT OUTER JOIN          
   MNT_COVERAGE_EXTRA_MULTILINGUAL MCEM WITH(NOLOCK) ON (MCE.COV_ID = MCEM.COV_ID AND MCEM.LANG_ID = 2)            
            
  LEFT OUTER JOIN          
   MNT_COVERAGE MC WITH(NOLOCK) ON (MC.LOB_ID = MLM.LOB_ID AND MC.COV_ID = CPC.COVERAGE_CODE_ID)     
       
  LEFT OUTER JOIN     
  MNT_COVERAGE_MULTILINGUAL MCM WITH(NOLOCK) ON (MCM.COV_ID = MC.COV_ID AND MCM.LANG_ID = 2)           
         
  LEFT OUTER JOIN      
  CLM_PAYEE CP WITH(NOLOCK) ON (CP.ACTIVITY_ID = CAR.ACTIVITY_ID AND CP.CLAIM_ID = CAR.CLAIM_ID)    
      
  LEFT OUTER JOIN      
  CLM_PARTIES CPP WITH(NOLOCK) ON (CP.CLAIM_ID = CPP.CLAIM_ID AND CP.PARTY_ID = CPP.PARTY_ID)    
    
  LEFT OUTER JOIN     
  MNT_COUNTRY_LIST MCL WITH(NOLOCK) ON (MCL.COUNTRY_ID = CP.COUNTRY)--CPP.COUNTRY) ----COMMENTED BY SHUBHANSHU ON 2/8/2011      
      
  LEFT OUTER JOIN         
  CLM_ACTIVITY CA WITH(NOLOCK) ON (CA.CLAIM_ID =CP.CLAIM_ID AND CA.ACTIVITY_ID =CP.ACTIVITY_ID)  
     
      
  LEFT OUTER JOIN        
  MNT_COUNTRY_STATE_LIST MCSL WITH(NOLOCK) ON (MCSL.STATE_ID = CP.STATE AND MCSL.COUNTRY_ID = CP.COUNTRY)--CPP.STATE AND MCSL.COUNTRY_ID = CPP.COUNTRY) ------COMMENTED BY SHUBHANSHU ON 2/8/2011                 
     
  LEFT JOIN   
  CLM_CO_INSURANCE CO  WITH(NOLOCK) ON (CO.CLAIM_ID = CCI.CLAIM_ID)                   
 WHERE          
 CAR.CLAIM_ID = @CLAIM_ID AND          
 CAR.ACTIVITY_ID = @ACTIVITY_ID   AND  
 (CASE WHEN @ACTIVITY_TYPE IN (180,181) THEN CAR.PAYMENT_AMOUNT ELSE CAR.RECOVERY_AMOUNT END)>0  
 ORDER BY (CASE WHEN @ACTIVITY_TYPE IN (180,181) THEN CAR.PAYMENT_AMOUNT ELSE CAR.RECOVERY_AMOUNT END) DESC  
      
 SELECT * FROM @FINAL_TABLE       
           
END          
          
   
   
 ------------------------------------------------------------------------------------------------------------------  
-- IN CASE OF POLICY WITH CEDED COINSURANCE, WHEN TRANSACTION TYPE = FULL (MEANS ALBA PAID ITS OWN SHARE AND FOLLOWER SHAR TO BE RECOVERED), WE SHOULD RETRIEVE FOLLOWING COLUMNS WITH PROPER INFORMATION:  
  
--- CODIGO: MEANS CARRIER SUSEP CODE. IT HAS TO RETRIEVE ALBA RECORD AND FOLLOWER RECORDS;  
--- NOME: MEANS CARRIERS NAMES. FOR EACH RECORD.  
--- %: MEANS CO SHARE %AGE OF EACH RECORD.  
--- VALOR: MEANS CO SHARE AMOUNT CALCULATED OVER THIS PAYMENT FOR EACH RECORD.  
--- TOTAL: IT IS NOT A COLUMN. IT IS A LAST ROW TO SUM UP THE COLUMNS '%' AND 'VALOR'.  
 ------------------------------------------------------------------------------------------------------------------  
 --------------START   
SELECT   
 REIN_COMAPANY_ID ,   
 SUSEP_NUM,   
 REIN_COMAPANY_NAME,   
 ISNULL(COINSURANCE_PERCENT, 0) AS COINSURANCE_PERCENT,  
 A.PAYMENT_AMT AS PAYMENT_AMT   
FROM     
     (    
    ---FOR RETRIEVING THE INFORMATION OF LEADER TYPE  
  SELECT   
   M.REIN_COMAPANY_ID ,  
   M.SUSEP_NUM,  
   M.REIN_COMAPANY_NAME,    
   ISNULL(P.COINSURANCE_PERCENT,0) AS COINSURANCE_PERCENT,  
     (((ACTIVITY.PAYMENT_AMOUNT+ACTIVITY.EXPENSES))*(ISNULL(P.COINSURANCE_PERCENT,0))) /100 AS PAYMENT_AMT   
    FROM [MNT_REIN_COMAPANY_LIST] M WITH(NOLOCK)  
  INNER JOIN        
    POL_CO_INSURANCE P ON P.COMPANY_ID = M.REIN_COMAPANY_ID    
  LEFT OUTER JOIN    
    CLM_CLAIM_INFO CLM ON P.CUSTOMER_ID = CLM.CUSTOMER_ID AND P.POLICY_ID=CLM.POLICY_ID AND P.POLICY_VERSION_ID=CLM.POLICY_VERSION_ID   
  LEFT OUTER JOIN    
    CLM_ACTIVITY ACTIVITY ON ACTIVITY.CLAIM_ID = CLM.CLAIM_ID     
        WHERE   
    CLM.CO_INSURANCE_TYPE = 14548  AND  -- ONLY FOR LEADER TYPE(14547:DIRECT, 14548 :LEADER ,14549 :FOLLOWER )    
    CLM.CLAIM_ID = @CLAIM_ID AND    
    ACTIVITY.ACTIVITY_ID = @ACTIVITY_ID AND    
    ACTIVITY.COI_TRAN_TYPE = 14849 )AS A-- FOR FULL TRASCATION TYPE  )   
      
         
      
  --SELECT   
  -- M.REIN_COMAPANY_ID ,  
  -- M.SUSEP_NUM,  
  -- M.REIN_COMAPANY_NAME,    
  -- ISNULL(P.COINSURANCE_PERCENT,0) AS COINSURANCE_PERCENT,  
  -- ((PAYMENT_AMOUNT+EXPENSES)*(ISNULL(P.COINSURANCE_PERCENT,0))) /100 AS PAYMENT_AMT  
  -- --dbo.fun_FormatCurrency(ISNULL(P.COINSURANCE_PERCENT,0),@LANG_ID) AS COINSURANCE_PERCENT  
  --FROM [MNT_REIN_COMAPANY_LIST] M   
  --INNER JOIN        
  --  POL_CO_INSURANCE P ON P.COMPANY_ID = M.REIN_COMAPANY_ID    
  --LEFT OUTER JOIN    
  --  CLM_CLAIM_INFO CLM ON P.CUSTOMER_ID = CLM.CUSTOMER_ID AND P.POLICY_ID=CLM.POLICY_ID AND P.POLICY_VERSION_ID=CLM.POLICY_VERSION_ID   
  --LEFT OUTER JOIN    
  --  CLM_ACTIVITY ACTIVITY ON ACTIVITY.CLAIM_ID = CLM.CLAIM_ID     
  --      WHERE   
  --  CLM.CO_INSURANCE_TYPE = 14548  AND  -- ONLY FOR LEADER TYPE(14547:DIRECT, 14548 :LEADER ,14549 :FOLLOWER )    
  --  CLM.CLAIM_ID = @CLAIM_ID AND    
  --  ACTIVITY.ACTIVITY_ID = @ACTIVITY_ID AND    
  --  ACTIVITY.COI_TRAN_TYPE = 14849 -- FOR FULL TRASCATION TYPE    
  --   ) AS A    
            
LEFT OUTER JOIN     
             
      (    
      -- FOR COINSURANCE  
       SELECT   
   COMP_ID,   
   dbo.fun_FormatCurrency(ISNULL(COMP_PERCENTAGE,0),@LANG_ID) AS COMP_PERCENTAGE,  
   SUM(ISNULL(PAYMENT_AMT,0)) AS PAYMENT_AMT  
       FROM CLM_ACTIVITY_CO_RI_BREAKDOWN  WITH(NOLOCK)  
       WHERE   
   COMP_TYPE='CO' AND   
   CLAIM_ID = @CLAIM_ID AND   
   ACTIVITY_ID = @ACTIVITY_ID    
       GROUP BY COMP_ID,COMP_PERCENTAGE    
      )AS B    
          
ON A.REIN_COMAPANY_ID = B.COMP_ID       
  ---------END     
    
    
    
    
    
  ----------------------------------------------------------------------------------------------------------------  
 --SYSTEM SHOULD RETRIEVE HERE THE   
 --PERCENTAGE CEDED TO REINSURER  
  ----------------------------------------------------------------------------------------------------------------    
   SELECT dbo.fun_FormatCurrency(SUM(ISNULL(PARTY_PERCENTAGE,0)),@LANG_ID)AS REIN_COMPANY_PERCENTAGE  
    FROM   
    (  
  SELECT PARTY_PERCENTAGE   
  FROM   CLM_PARTIES WITH(NOLOCK)   
  WHERE  PARTY_TYPE_ID = 619 AND CLAIM_ID = @CLAIM_ID  AND IS_ACTIVE = 'Y'   
    --SELECT DISTINCT(COMP_ID),COMP_PERCENTAGE  
    --FROM   CLM_ACTIVITY_CO_RI_BREAKDOWN  
    --WHERE  COMP_TYPE='RI' AND CLAIM_ID = @CLAIM_ID  AND ACTIVITY_ID = @ACTIVITY_ID       
    )AS REIN_COMPANY_PERCENTAGE  
  
  
    --------------------------------------------------PAYMENT AMOUNT For “DESPESA(50017)” and “HONORÁRIOS(50018)”   
 SELECT @LOSS_EXPENCE = (SELECT   
  dbo.fun_FormatCurrency(SUM(ISNULL(CAR.PAYMENT_AMOUNT,0)),@LANG_ID) AS PAYMENT_AMOUNT  
  --CAR.PAYMENT_AMOUNT  
 FROM   
  MNT_COVERAGE_EXTRA MCE WITH(NOLOCK)  
 INNER JOIN   
  CLM_PRODUCT_COVERAGES CPC ON (CPC.COVERAGE_CODE_ID  = MCE.COV_ID)  
 INNER JOIN   
  CLM_ACTIVITY_RESERVE CAR ON (CAR.COVERAGE_ID = CPC.CLAIM_COV_ID)  
 WHERE CPC.COVERAGE_CODE_ID=50017 AND CPC.CLAIM_ID = @CLAIM_ID  AND CAR.ACTIVITY_ID = @ACTIVITY_ID)   
      
      
      
      
    SELECT @PROFESSIONAL_SERVICES_LOSS_EXPENSE = (SELECT   
  dbo.fun_FormatCurrency(SUM(ISNULL(CAR.PAYMENT_AMOUNT,0)),@LANG_ID) AS PAYMENT_AMOUNT  
  --CAR.PAYMENT_AMOUNT  
 FROM   
  MNT_COVERAGE_EXTRA MCE WITH(NOLOCK)  
 INNER JOIN   
  CLM_PRODUCT_COVERAGES CPC ON (CPC.COVERAGE_CODE_ID  = MCE.COV_ID)  
 INNER JOIN   
  CLM_ACTIVITY_RESERVE CAR ON (CAR.COVERAGE_ID = CPC.CLAIM_COV_ID)  
 WHERE CPC.COVERAGE_CODE_ID=50018 AND CPC.CLAIM_ID = @CLAIM_ID  AND CAR.ACTIVITY_ID = @ACTIVITY_ID)  
   
   
 SELECT @LOSS_EXPENCE AS LOSS_EXPENCE, @PROFESSIONAL_SERVICES_LOSS_EXPENSE AS PROFESSIONAL_SERVICES_LOSS_EXPENSE 
	
    

GO

