IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_SUSEP_SINPEND_PENDING_CLAIMS_DIRECT_POLICIES]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_SUSEP_SINPEND_PENDING_CLAIMS_DIRECT_POLICIES]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

        
--------------------------------------------------------------------------------
---------<Modified By : Shikha Chourasiya>----------
--------------<Date : 08/11/2011>-------------------
---------<pending payment claims, relative to own issuance -SINPEND.DBF> ---------
---------<ITRACK - 1081(344)>----------
----------------------------------------------------------------------------------

--DROP PROC [PROC_SUSEP_SINPEND_PENDING_CLAIMS_DIRECT_POLICIES]

--EXEC [PROC_SUSEP_SINPEND_PENDING_CLAIMS_DIRECT_POLICIES] '2011-08-05 10:59:25.403','aa000064'
         
CREATE PROCEDURE  [dbo].[PROC_SUSEP_SINPEND_PENDING_CLAIMS_DIRECT_POLICIES]       
(  
 @DATETIME DATETIME,    
 @CLAIM_NUMBER NVARCHAR(21)=NULL  
)          
AS 
BEGIN   
 DECLARE @MONTH VARCHAR(2)    
 DECLARE @YEAR VARCHAR(4)   
 SET @MONTH= DATEPART(MM, @DATETIME)   
 SET @YEAR=(SELECT DATEPART(YYYY, @DATETIME));   
    
  
 /*DECLARE @TEMPTABLE TABLE   
 (    
    SEQUENCE_NO INT IDENTITY(1,1),  
    COMPANY_CODE VARCHAR(50),  
    REFERENCE_MONTH VARCHAR(8), 
    TIPO_MOV VARCHAR(30), 
    SUSEP_LOB_CODE VARCHAR(5),  
    OFFCIAL_CLAIM_NUMBER NVARCHAR(100),
    POLICY_NUMBER NVARCHAR(150),
    ENDORSEMENT_NO INT,
    INSURED_CPF NVARCHAR(40), 
    NUMBER_OF_INSURED INT,
    BENEFICIARY_CPF NVARCHAR(40), 
    NUMBER_OF_BENEFICIARY INT,    
    CLAIM_REGISTRATION_DATE NVARCHAR(10),  
    FIRST_NOTICE_OF_LOSS NVARCHAR(10),  
    LOSS_DATE NVARCHAR(10),  
    COINSURENCE_AMT NVARCHAR(100),
    OUTSTANDING_AMT_SETTELEMENT VARCHAR(100),  
    TOTAL_CLAIM_AMOUNT NVARCHAR(200),   
    CLAIM_TYPE VARCHAR(2)  
  )  
INSERT INTO @TEMPTABLE   */ 

WITH TEMPTABLE
AS
(
    
    SELECT COMPANY_CODE,
		REFERENCE_MONTH,
		TIPO_MOV,
		SUSEP_LOB_CODE,
		OFFCIAL_CLAIM_NUMBER,
		POLICY_NUMBER,
		ENDORSEMENT_NO,
		INSURED_CPF,
		NUMBER_OF_INSURED,
		BENEFICIARY_CPF,
		NUMBER_OF_BENEFICIARY,
		CLAIM_REGISTRATION_DATE,
		FIRST_NOTICE_OF_LOSS,
		LOSS_DATE,
		COINSURENCE_AMT,
		OUTSTANDING_AMT_SETTELEMENT,
		SUM(TOTAL_CLAIM_AMOUNT) AS TOTAL_CLAIM_AMOUNT,
		CLAIM_TYPE
		 FROM ( 
   SELECT  DISTINCT 
   '504-5' AS COMPANY_CODE,  
     
   -------REFERENCE MONTH OF THE REPORT.   
   CASE   
   WHEN @MONTH IN (1,2,3,4,5,6,7,8,9) THEN  @YEAR + '0' + @MONTH   
   WHEN @MONTH IN (10,11,12) THEN  @YEAR + @MONTH  
   END AS REFERENCE_MONTH,  
   
     ------------------------------------------------------------------------------------------------------------  
   --LAST MOVEMENT TYPE RECORDED IN THE CLAIM, ACCORDING TO THE MOVEMENT TYPE TABLE.  
   --201-FNOL  
   --204-CLAIM RE-EVALUATION  
   --207-PARTIAL INDEMNITY  
   --208-TOTAL INDEMNITY  
   --211-CLAIM CLOSURE/ CANCELLATION  
   --214-CLAIM REOPENING  
  ------------------------------------------------------------------------------------------------------------  

 CASE(SELECT TOP 1 ACTION_ON_PAYMENT  FROM CLM_ACTIVITY WITH(NOLOCK)   
   WHERE CLAIM_ID=VW.CLAIM_ID AND IS_ACTIVE='Y' AND IS_VOIDED_REVERSED_ACTIVITY IS NULL AND ACTIVITY_STATUS = '11801' AND ACTION_ON_PAYMENT IN (165,166,180,181,167,168)     
    ORDER BY ACTIVITY_ID desc )
  
  	   WHEN  '165' THEN '201'
	   WHEN  '166' THEN CASE --WHEN CAR1.PREV_OUTSTANDING = 0.00 AND CAR1.OUTSTANDING > 0.00 THEN '201'
							 WHEN (SELECT SUM(CAR2.PREV_OUTSTANDING) 
									FROM CLM_ACTIVITY_RESERVE CAR2 WITH(NOLOCK) 
									WHERE CAR2.CLAIM_ID = CA.CLAIM_ID AND CAR2.ACTIVITY_ID = (SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY WITH(NOLOCK)  WHERE CLAIM_ID=VW.CLAIM_ID AND IS_ACTIVE='Y' AND ACTIVITY_STATUS = '11801' AND IS_VOIDED_REVERSED_ACTIVITY IS NULL AND YEAR(ACTIVITY_DATE)=@YEAR AND MONTH(ACTIVITY_DATE)=@MONTH)) > 0.00 
							 AND (SELECT SUM(CAR2.OUTSTANDING) 
									FROM CLM_ACTIVITY_RESERVE CAR2 WITH(NOLOCK) 
									WHERE CAR2.CLAIM_ID = CA.CLAIM_ID AND CAR2.ACTIVITY_ID = (SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY WITH(NOLOCK)  WHERE CLAIM_ID=VW.CLAIM_ID AND IS_ACTIVE='Y' AND ACTIVITY_STATUS = '11801' AND IS_VOIDED_REVERSED_ACTIVITY IS NULL AND YEAR(ACTIVITY_DATE)=@YEAR AND MONTH(ACTIVITY_DATE)=@MONTH)) = 0.00   THEN '211'
							 WHEN (SELECT SUM(CAR2.PREV_OUTSTANDING) 
									FROM CLM_ACTIVITY_RESERVE CAR2 WITH(NOLOCK) 
									WHERE CAR2.CLAIM_ID = CA.CLAIM_ID AND CAR2.ACTIVITY_ID = (SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY WITH(NOLOCK)  WHERE CLAIM_ID=VW.CLAIM_ID AND IS_ACTIVE='Y' AND ACTIVITY_STATUS = '11801' AND IS_VOIDED_REVERSED_ACTIVITY IS NULL AND YEAR(ACTIVITY_DATE)=@YEAR AND MONTH(ACTIVITY_DATE)=@MONTH))  = 0.00 
							 AND (SELECT SUM( CAR2.OUTSTANDING) 
									FROM CLM_ACTIVITY_RESERVE CAR2 WITH(NOLOCK) 
									WHERE CAR2.CLAIM_ID = CA.CLAIM_ID AND CAR2.ACTIVITY_ID = (SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY WITH(NOLOCK)  WHERE CLAIM_ID=VW.CLAIM_ID AND IS_ACTIVE='Y' AND ACTIVITY_STATUS = '11801' AND IS_VOIDED_REVERSED_ACTIVITY IS NULL AND YEAR(ACTIVITY_DATE)=@YEAR AND MONTH(ACTIVITY_DATE)=@MONTH)) > 0.00 THEN '214'
							 ELSE '204' 
						END
	   WHEN  '180' THEN '207'
	   WHEN  '181' THEN 
						CASE WHEN
						(SELECT SUM( CAR2.OUTSTANDING) 
									FROM CLM_ACTIVITY_RESERVE CAR2 WITH(NOLOCK) 
									WHERE CAR2.CLAIM_ID = CA.CLAIM_ID AND CAR2.ACTIVITY_ID = (SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY WITH(NOLOCK)  WHERE CLAIM_ID=VW.CLAIM_ID AND IS_ACTIVE='Y' AND IS_VOIDED_REVERSED_ACTIVITY IS NULL AND ACTIVITY_STATUS = '11801' AND YEAR(ACTIVITY_DATE)=@YEAR AND MONTH(ACTIVITY_DATE)=@MONTH)) > 0.00 
						THEN '207'
						ELSE 
						'208'
						END
	   WHEN  '167' THEN '211'
	   WHEN  '168' THEN '214'	
       END AS TIPO_MOV,


   ---------SUSEP LOB CODE  
   VW.SUSEP_LOB_CODE AS SUSEP_LOB_CODE,   
     
   -----------CLAIM NUMBER - OFFICIAL NUMBER  
   VW.OFFCIAL_CLAIM_NUMBER AS OFFCIAL_CLAIM_NUMBER,   
   
    ----------------SEQUENCE NUMBER OF POLICY.  
   --VW.POLICY_NUMBER,    
    VW.FULL_POLICY_NUMBER AS POLICY_NUMBER, --BY KULDEEP TO GET FIRST 20 DIGITS AS PER ITRACK 1081 NOTE
   -----------NUMBER OF ENDORSEMENT.  
   ISNULL(VW.ENDORSEMENT_NO, 0) AS ENDORSEMENT_NO,
   
   --------------INSURED PARTY'S CPF/CNPJ 
    CASE WHEN ISNULL(VWS.RISK_CO_APP_CPF_CNPJ,'') = '' THEN '00000000000'          
		ELSE VWS.RISK_CO_APP_CPF_CNPJ END AS INSURED_CPF,  
   --CPP.PARTY_CPF_CNPJ,   
     
    --------------NUMBER OF INSURED PARTIES.  
   (SELECT   
    COUNT(CP.PARTY_TYPE_ID)   
    FROM   
    CLM_PARTIES CP WITH(NOLOCK)  
    WHERE   
    CP.PARTY_TYPE_ID IN (10,114) AND   
    CP.CLAIM_ID  = VW.CLAIM_ID    
  ) AS NUMBER_OF_INSURED,
  
  -----------BENEFICIARY PARTY'S CPF/CNPJ  
  (SELECT TOP 1
	PARTY_CPF_CNPJ 
   FROM 
	CLM_ACTIVITY CA1 WITH(NOLOCK)   
   LEFT OUTER JOIN 
	CLM_PAYEE PAYEE WITH(NOLOCK) ON (CA1.CLAIM_ID = PAYEE.CLAIM_ID 
									 AND PAYEE.ACTIVITY_ID=CA1.ACTIVITY_ID)  
   LEFT OUTER JOIN 
	CLM_PARTIES CPP1 WITH(NOLOCK) ON (CPP1.PARTY_ID = PAYEE.PARTY_ID 
									  AND CPP1.CLAIM_ID = CA1.CLAIM_ID)
   WHERE CA1.CLAIM_ID = CA.CLAIM_ID AND CA1.ACTION_ON_PAYMENT IN (180,181) AND CA1.ACTIVITY_STATUS = 11801
   AND CA.IS_ACTIVE ='Y' AND IS_VOIDED_REVERSED_ACTIVITY IS NULL  --CA.CLAIM_ID   
   ORDER BY CA1.ACTIVITY_ID 
	) AS BENEFICIARY_CPF,
   
  -------------NUMBER OF BENEFICIARY.  
 --  CASE 
	--	WHEN CPP1.PARTY_TYPE_ID = 157 
	--	THEN (SELECT COUNT(DISTINCT(PARTY_ID))  
	--		  FROM CLM_ACTIVITY CA WITH(NOLOCK)  
	--		  LEFT OUTER JOIN CLM_PARTIES CP WITH(NOLOCK) ON (CP.CLAIM_ID = CA.CLAIM_ID)  
	--		  WHERE CA.CLAIM_ID = VW.CLAIM_ID AND CA.ACTION_ON_PAYMENT IN (180,181)  
	--		 ) 
	--ELSE 0 END AS NUMBER_OF_BENEFICIARY, 
  --Added by Pradeep As per itrack-1081  note - 9 by Monica	
    (SELECT COUNT((PAYEE.PARTY_ID)) FROM CLM_ACTIVITY CA WITH(NOLOCK)  
			 LEFT OUTER JOIN 
				CLM_PAYEE PAYEE WITH(NOLOCK) ON (CA.CLAIM_ID = PAYEE.CLAIM_ID AND PAYEE.ACTIVITY_ID=CA.ACTIVITY_ID)  
			 LEFT OUTER JOIN CLM_PARTIES CPP1 WITH(NOLOCK) ON (CPP1.PARTY_ID = PAYEE.PARTY_ID AND CPP1.CLAIM_ID = CA.CLAIM_ID) 
			  WHERE CA.CLAIM_ID = VW.CLAIM_ID AND CA.ACTION_ON_PAYMENT IN (180,181) AND CA.ACTIVITY_STATUS = 11801 
			  AND CA.IS_ACTIVE = 'Y' AND IS_VOIDED_REVERSED_ACTIVITY IS NULL
			 ) 
   AS NUMBER_OF_BENEFICIARY,
     
   -----------THE DATE WHEN THE CLAIM CASE WAS REGISTERED IN SYSTEM.  
   CONVERT(VARCHAR(10),VW.CLAIM_REGISTRATION_DATE_1,112) AS CLAIM_REGISTRATION_DATE,  
     
   -----------THE DATE WHEN CLAIMANT REPORT THE CLAIM. USE THE IRT NOTICE OF LOSS.  
   CONVERT(VARCHAR(10),VW.FIRST_NOTICE_OF_LOSS,112) AS FIRST_NOTICE_OF_LOSS,   
     
   -------------ACCIDENT OCCURRENCE DATE.DATE OF LOSS.  
   CONVERT(VARCHAR(10),VW.LOSS_DATE,112) AS LOSS_DATE,  
   
     -----------CEDED COINSURANCE AMOUNT - REGARDING TO THE SHARE OF COINSURANCE COMPANY OF TOTAL AMOUNT. 
	(CASE 
		  WHEN CPC.COVERAGE_CODE_ID IN (50017, 50018, 50020, 50022) 
		  THEN (SELECT SUM(CAR.CO_RESERVE) 
				FROM CLM_ACTIVITY_RESERVE CAR WITH(NOLOCK)
				LEFT OUTER JOIN CLM_PRODUCT_COVERAGES CPC1 WITH(NOLOCK) ON CAR.CLAIM_ID = CPC1.CLAIM_ID AND CAR.COVERAGE_ID = CPC1.CLAIM_COV_ID 
				WHERE CPC1.COVERAGE_CODE_ID IN (50017, 50018, 50020, 50022) AND CAR.CLAIM_ID = VW.CLAIM_ID
				AND CAR.ACTIVITY_ID = CA.ACTIVITY_ID)

		  WHEN CPC.COVERAGE_CODE_ID NOT IN (50017, 50018, 50019, 50020, 50021, 50022) 
		  THEN (SELECT SUM(CAR.CO_RESERVE) 
				FROM CLM_ACTIVITY_RESERVE CAR WITH(NOLOCK)
				LEFT OUTER JOIN CLM_PRODUCT_COVERAGES CPC1 WITH(NOLOCK)  ON CAR.CLAIM_ID = CPC1.CLAIM_ID AND CAR.COVERAGE_ID = CPC1.CLAIM_COV_ID 
				WHERE CPC1.COVERAGE_CODE_ID NOT IN (50017, 50018, 50019, 50020, 50021, 50022) AND  CAR.CLAIM_ID = VW.CLAIM_ID
				AND CAR.ACTIVITY_ID = CA.ACTIVITY_ID)--(SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY WHERE CLAIM_ID=VW.CLAIM_ID AND IS_ACTIVE='Y' AND ACTIVITY_STATUS = '11801' AND YEAR(ACTIVITY_DATE)=@YEAR AND MONTH(ACTIVITY_DATE)=@MONTH))

	 END) AS COINSURENCE_AMT, 
     
   -----------IT REFERS TO THE TOTAL OUTSTANDING RESERVE AMOUNT AT THE END OF REFERENCE MONTH.
 --  CASE 
	--	WHEN  CPC.COVERAGE_CODE_ID IN ('50017','50018','50019','50020','50021','50022') 
	--	THEN (SELECT SUM(CAR.OUTSTANDING_TRAN) FROM CLM_ACTIVITY_RESERVE CAR WITH(NOLOCK)
	--		  LEFT OUTER JOIN CLM_ACTIVITY CA_TEMP WITH(NOLOCK) ON (CAR.CLAIM_ID = CA_TEMP.CLAIM_ID AND CAR.ACTIVITY_ID = CA_TEMP.ACTIVITY_ID)
	--		  LEFT OUTER JOIN CLM_PRODUCT_COVERAGES CPC1 ON CAR.CLAIM_ID = CPC1.CLAIM_ID AND CAR.COVERAGE_ID = CPC1.CLAIM_COV_ID 
	--		  WHERE CPC1.COVERAGE_CODE_ID IN ('50017','50018','50019','50020','50021','50022') AND CAR.CLAIM_ID = VW.CLAIM_ID AND CA_TEMP.ACTIVITY_STATUS = 11801)

	--	WHEN CPC.COVERAGE_CODE_ID NOT IN ('50017','50018','50019','50020','50021','50022') 
	--	THEN (			  SELECT SUM(CAR.OUTSTANDING_TRAN) FROM CLM_ACTIVITY_RESERVE CAR WITH(NOLOCK)
	--		  LEFT OUTER JOIN CLM_ACTIVITY CA_TEMP WITH(NOLOCK) ON (CAR.CLAIM_ID = CA_TEMP.CLAIM_ID AND CAR.ACTIVITY_ID = CA_TEMP.ACTIVITY_ID)
	--		  LEFT OUTER JOIN CLM_PRODUCT_COVERAGES CPC1 ON CAR.CLAIM_ID = CPC1.CLAIM_ID AND CAR.COVERAGE_ID = CPC1.CLAIM_COV_ID 
	--		  WHERE CPC1.COVERAGE_CODE_ID NOT IN (50017,50018,50019,50020,50021,50022) AND  CAR.CLAIM_ID = 409 AND CA_TEMP .ACTIVITY_STATUS = 11801)
	--END AS OUTSTANDING_AMT_SETTELEMENT ,
	
		
		CAST(
		CASE WHEN CPC.COVERAGE_CODE_ID IN (50017, 50018, 50020, 50022)  
			 THEN (SELECT SUM(ISNULL(CAR.OUTSTANDING,0)) FROM CLM_ACTIVITY_RESERVE CAR WITH(NOLOCK)
					LEFT OUTER JOIN CLM_PRODUCT_COVERAGES CPC1 WITH(NOLOCK) ON CAR.CLAIM_ID = CPC1.CLAIM_ID AND CAR.COVERAGE_ID = CPC1.CLAIM_COV_ID 
				--LEFT OUTER JOIN CLM_ACTIVITY CA_TEMP WITH(NOLOCK) ON (CAR.CLAIM_ID = CA_TEMP.CLAIM_ID AND CAR.ACTIVITY_ID = CA_TEMP.ACTIVITY_ID)
				 WHERE CPC1.COVERAGE_CODE_ID IN (50017, 50018, 50020, 50022) 
				 AND CAR.CLAIM_ID = VW.CLAIM_ID 
				 AND CAR.ACTIVITY_ID = CA.ACTIVITY_ID
				 AND CA.IS_VOIDED_REVERSED_ACTIVITY IS NULL
				 ) --AND CA_TEMP.ACTIVITY_STATUS = 11801)
			 
            WHEN CPC.COVERAGE_CODE_ID NOT IN (50017, 50018, 50019, 50020, 50021, 50022) 
			THEN (SELECT SUM(ISNULL(CAR.OUTSTANDING,0)) FROM CLM_ACTIVITY_RESERVE CAR WITH(NOLOCK)
			LEFT OUTER JOIN CLM_PRODUCT_COVERAGES CPC1 WITH(NOLOCK) ON CAR.CLAIM_ID = CPC1.CLAIM_ID AND CAR.COVERAGE_ID = CPC1.CLAIM_COV_ID 
			--LEFT OUTER JOIN CLM_ACTIVITY CA_TEMP WITH(NOLOCK) ON (CAR.CLAIM_ID = CA_TEMP.CLAIM_ID AND CAR.ACTIVITY_ID = CA_TEMP.ACTIVITY_ID)
			 WHERE CPC1.COVERAGE_CODE_ID NOT IN (50017, 50018, 50019, 50020, 50021, 50022) 
			 AND CAR.CLAIM_ID = VW.CLAIM_ID 
			 AND CAR.ACTIVITY_ID = CA.ACTIVITY_ID
			 AND CA.IS_VOIDED_REVERSED_ACTIVITY IS NULL
			 ) --AND CA_TEMP.ACTIVITY_STATUS = 11801)
			 END AS DECIMAL(16,2)) AS OUTSTANDING_AMT_SETTELEMENT,

	
	CASE WHEN  CPC.COVERAGE_CODE_ID IN (50017, 50018, 50020, 50022) THEN
			(SELECT SUM(CAR.OUTSTANDING) FROM CLM_ACTIVITY_RESERVE CAR WITH(NOLOCK)
			 LEFT OUTER JOIN CLM_PRODUCT_COVERAGES CPC1 WITH(NOLOCK) ON CAR.CLAIM_ID = CPC1.CLAIM_ID AND CAR.COVERAGE_ID = CPC1.CLAIM_COV_ID 
			 WHERE CPC1.COVERAGE_CODE_ID IN (50017, 50018, 50020, 50022) AND CPC1.COVERAGE_CODE_ID = CPC.COVERAGE_CODE_ID
			 AND CAR.CLAIM_ID = VW.CLAIM_ID  
			 AND CAR.ACTIVITY_ID = CA.ACTIVITY_ID 
			 AND CA.IS_VOIDED_REVERSED_ACTIVITY IS NULL
			 GROUP BY IS_RISK_COVERAGE
			 --(SELECT MAX(CA1.ACTIVITY_ID) FROM CLM_ACTIVITY CA1 WITH(NOLOCK)
			 --WHERE CA1.ACTION_ON_PAYMENT IN (165,166) AND CA1.CLAIM_ID = CA.CLAIM_ID AND CA1.ACTIVITY_ID = CA.ACTIVITY_ID)
			 ) + CAR1.TOTAL_PAYMENT_AMOUNT 
			   
			 WHEN CPC.COVERAGE_CODE_ID NOT IN (50017, 50018, 50019, 50020, 50021, 50022) THEN
			(SELECT SUM((CAR.OUTSTANDING)) FROM CLM_ACTIVITY_RESERVE CAR WITH(NOLOCK) 
			 LEFT OUTER JOIN CLM_PRODUCT_COVERAGES CPC1 WITH(NOLOCK) ON CAR.CLAIM_ID = CPC1.CLAIM_ID AND CAR.COVERAGE_ID = CPC1.CLAIM_COV_ID 
			 WHERE CPC.COVERAGE_CODE_ID NOT IN (50017, 50018, 50019, 50020, 50021, 50022) AND CPC1.COVERAGE_CODE_ID = CPC.COVERAGE_CODE_ID
			 AND  CAR.CLAIM_ID = VW.CLAIM_ID 
			 AND CAR.ACTIVITY_ID = CA.ACTIVITY_ID
			 AND CA.IS_VOIDED_REVERSED_ACTIVITY IS NULL
			 GROUP BY IS_RISK_COVERAGE
			 --(SELECT MAX(CA1.ACTIVITY_ID)  FROM CLM_ACTIVITY CA1 WITH(NOLOCK)WHERE CA1.ACTION_ON_PAYMENT IN (165,166) AND CA1.CLAIM_ID = CA.CLAIM_ID AND CA1.ACTIVITY_ID = CA.ACTIVITY_ID)
			 ) + CAR1.TOTAL_PAYMENT_AMOUNT 
	   END AS TOTAL_CLAIM_AMOUNT,
   ---------------------------------------------------  
  -- CLAIM TYPE        
  -- 01: ADMINISTRATIVE INDEMINITY  
  -- 02: ADMINISTRATIVE EXPENSES  
  -- 03: LEGAL INDEMINITY  
  -- 04: LEGAL EXPENSES  
  
  -- CHECK IF RESERVE/PAYMENT/RECOVERY DONE AGAINST POLICY COVERAGES THEN IDENMINTY ESLE EXPENSES  
  ---------------------------------------------------  
	 CASE WHEN CPC.COVERAGE_CODE_ID NOT IN (50017, 50018, 50019, 50020, 50021, 50022) 
			   THEN 
			  (CASE WHEN CA.IS_LEGAL='Y' THEN '03' --- LEGAL INDEMINITY
				   ELSE '01' END                    --- ADMINISTRATIVE INDEMINITY
			  )
		 ELSE
			  (CASE WHEN CA.IS_LEGAL='Y' THEN '04' --- LEGAL EXPENSES
				   ELSE '02' END                    --- ADMINISTRATIVE EXPENSES
			  )
		 END AS CLAIM_TYPE
  
FROM 
	VW_SUSEP_FORM_SINPENDAC_SINPAGAC AS VW
	  
LEFT JOIN 
	CLM_ACTIVITY CA WITH(NOLOCK) ON (CA.CLAIM_ID = VW.CLAIM_ID 
									AND CA.ACTION_ON_PAYMENT IN (180,181,165,166,167,168)
									AND CA.ACTIVITY_ID = 
									(SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY WITH(NOLOCK)
									 WHERE CLAIM_ID=CA.CLAIM_ID AND ACTIVITY_STATUS='11801' AND IS_ACTIVE='Y'
									 AND ACTION_ON_PAYMENT IN (180,181,165,166,167,168)
									 AND IS_VOIDED_REVERSED_ACTIVITY IS NULL
									 --AND YEAR(ACTIVITY_DATE)=@YEAR AND MONTH(ACTIVITY_DATE)=@MONTH
									 )
									 AND IS_VOIDED_REVERSED_ACTIVITY IS NULL
									 )
LEFT OUTER JOIN 
	CLM_INSURED_PRODUCT  CIP WITH(NOLOCK) ON CIP.CLAIM_ID = VW.CLAIM_ID 
	        
LEFT OUTER JOIN  
	[VW_POL_PRODUCT_RISK_DETAILS] VWS  WITH(NOLOCK) ON VW.CUSTOMER_ID = VWS.CUSTOMER_ID 
													   AND VW.POLICY_ID = VWS.POLICY_ID 
													   AND VW.POLICY_VERSION_ID = VWS.POLICY_VERSION_ID 
													   AND CIP.POL_RISK_ID = VWS.RISK_ID  
													   

									  
LEFT OUTER JOIN 
	CLM_ACTIVITY_RESERVE CAR1 WITH(NOLOCK) ON CA.CLAIM_ID = CAR1.CLAIM_ID 
											  AND CA.ACTIVITY_ID = CAR1.ACTIVITY_ID
											  AND (CAR1.OUTSTANDING <> 0 OR CAR1.PREV_OUTSTANDING <> 0)
											  
											   --AND (CAR1.OUTSTANDING_TRAN<>0) 
											  -- AND (SELECT SUM(OUTSTANDING) FROM CLM_ACTIVITY_RESERVE TCAR WITH(NOLOCK)
													--WHERE TCAR.CLAIM_ID = CAR1.CLAIM_ID AND TCAR.ACTIVITY_ID 
													--= (SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY WHERE CLAIM_ID=VW.CLAIM_ID AND IS_ACTIVE='Y' AND ACTIVITY_STATUS = '11801' AND CA.IS_VOIDED_REVERSED_ACTIVITY IS NULL)) <> 0
											  
LEFT OUTER JOIN 
	CLM_PRODUCT_COVERAGES CPC WITH(NOLOCK) ON CA.CLAIM_ID = CPC.CLAIM_ID 
											  AND CAR1.COVERAGE_ID = CPC.CLAIM_COV_ID
											  AND (SELECT SUM(OUTSTANDING) FROM CLM_ACTIVITY_RESERVE TCAR WITH(NOLOCK)
													 INNER JOIN 
													CLM_PRODUCT_COVERAGES B WITH(NOLOCK)  ON (TCAR.CLAIM_ID = B.CLAIM_ID AND TCAR.COVERAGE_ID = B.CLAIM_COV_ID)
													WHERE TCAR.CLAIM_ID = CAR1.CLAIM_ID  AND TCAR.ACTIVITY_ID 
													= (SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY WITH(NOLOCK) 
														WHERE CLAIM_ID=VW.CLAIM_ID AND IS_ACTIVE='Y' 
														AND ACTIVITY_STATUS = '11801'
														AND IS_VOIDED_REVERSED_ACTIVITY IS NULL
														--AND 
														--AND YEAR(ACTIVITY_DATE)=@YEAR AND MONTH(ACTIVITY_DATE)=@MONTH
												  )
											  AND B.COVERAGE_CODE_ID = CPC.COVERAGE_CODE_ID) <> 0 
											  
WHERE  
   ((YEAR(CA.ACTIVITY_DATE)=@YEAR AND MONTH(CA.ACTIVITY_DATE)=@MONTH) OR
    (SELECT SUM(OUTSTANDING) FROM CLM_ACTIVITY_RESERVE TCAR WITH(NOLOCK)
													 INNER JOIN 
													CLM_PRODUCT_COVERAGES B WITH(NOLOCK)  ON (TCAR.CLAIM_ID = B.CLAIM_ID AND TCAR.COVERAGE_ID = B.CLAIM_COV_ID)
													WHERE TCAR.CLAIM_ID = CAR1.CLAIM_ID  AND TCAR.ACTIVITY_ID 
													= (SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY WITH(NOLOCK) 
														WHERE CLAIM_ID=VW.CLAIM_ID AND IS_ACTIVE='Y' 
														AND ACTIVITY_STATUS = '11801'
														AND ACTIVITY_DATE >= VW.FIRST_NOTICE_OF_LOSS 
														AND IS_VOIDED_REVERSED_ACTIVITY IS NULL
														--AND YEAR(ACTIVITY_DATE)>= YEAR(CA.ACTIVITY_DATE) AND MONTH(ACTIVITY_DATE) >= MONTH(CA.ACTIVITY_DATE)
													)
											  AND B.COVERAGE_CODE_ID = CPC.COVERAGE_CODE_ID) <> 0 ) AND
   (@CLAIM_NUMBER IS NULL OR VW.CLAIM_NUMBER = @CLAIM_NUMBER)  
   AND VW.CO_INSURANCE IN (14547,14548) 
   AND VW.CLAIM_STATUS = 11739 --PENDING CLAIMS
   AND CA.ACTIVITY_STATUS = 11801 
   AND VW.OFFCIAL_CLAIM_NUMBER IS NOT NULL
   AND VW.OFFCIAL_CLAIM_NUMBER <> ''
   AND VW.FIRST_NOTICE_OF_LOSS IS NOT NULL 
   AND VW.FIRST_NOTICE_OF_LOSS <> ''
   AND  VW.FIRST_NOTICE_OF_LOSS <= @DATETIME  ) AS TEMP
   
  GROUP BY COMPANY_CODE,
		REFERENCE_MONTH,
		TIPO_MOV,
		SUSEP_LOB_CODE,
		OFFCIAL_CLAIM_NUMBER,
		POLICY_NUMBER,
		ENDORSEMENT_NO,
		INSURED_CPF,
		NUMBER_OF_INSURED,
		BENEFICIARY_CPF,
		NUMBER_OF_BENEFICIARY,
		CLAIM_REGISTRATION_DATE,
		FIRST_NOTICE_OF_LOSS,
		LOSS_DATE,
		COINSURENCE_AMT,
		OUTSTANDING_AMT_SETTELEMENT,
		CLAIM_TYPE
),
 FINAL_TEMPTABLE AS
(
   SELECT  
    --SEQUENCE_NO AS [SEQUENCIA],  
    CONVERT(VARCHAR,ROW_NUMBER() OVER( ORDER BY  TIPO_MOV)) AS [SEQUENCIA], 
    COMPANY_CODE AS [COD_CIA],  
    REFERENCE_MONTH AS [DT_BASE],
    ISNULL(CAST(TIPO_MOV AS INT),0) AS [TIPO_MOV],    
    CONVERT(VARCHAR(4),ISNULL(SUSEP_LOB_CODE,'')) AS [COD_RAMO],  
    ISNULL(RIGHT('                    ' +REPLACE(CONVERT(VARCHAR,OFFCIAL_CLAIM_NUMBER),'-',''),20),'')  AS [NUM_SIN],
    RIGHT('                    '+ CAST(POLICY_NUMBER AS VARCHAR),20) AS [NUM_APOL],--CHANGED BY KULDEEP AS PER ITRACK 1081 NOTE TO GET FIRST 20 DIGITS OF POLICY NUMBER  
    RIGHT('                    ' +CONVERT(VARCHAR,ISNULL(ENDORSEMENT_NO,'')),20) AS [NUM_END],
    RIGHT('              ' +REPLACE(REPLACE(REPLACE(CAST(ISNULL(INSURED_CPF,'')AS VARCHAR),'.',''),'-',''),'/',''),14) AS [CPF_SEG],  
    ISNULL(NUMBER_OF_INSURED,0) AS [QTD_SEG],
    RIGHT('              ' +REPLACE(REPLACE(REPLACE(CAST(ISNULL(BENEFICIARY_CPF,'')AS VARCHAR),'.',''),'-',''),'/',''),15) AS [CPF_BEN],
    ISNULL(NUMBER_OF_BENEFICIARY,0) AS [QTD_BEN],   
    ISNULL(CLAIM_REGISTRATION_DATE,'') AS [DT_REG],  
    ISNULL(FIRST_NOTICE_OF_LOSS,'') AS [DT_AVISO],  
    ISNULL(LOSS_DATE,'') AS [DT_OCOR],
    ISNULL(CAST(COINSURENCE_AMT AS DECIMAL(16,2)),0.00) AS [VR_COS_CED],    
    ISNULL(CAST(OUTSTANDING_AMT_SETTELEMENT AS DECIMAL(16,2)),0.00) AS [VR_PENDENTE],    
    ISNULL(CAST(TOTAL_CLAIM_AMOUNT AS DECIMAL(16,2)),0.00) AS [VR_TOT], 
    ISNULL(CLAIM_TYPE,0) AS TP_SIN
    FROM TEMPTABLE 
    WHERE (OUTSTANDING_AMT_SETTELEMENT IS NOT NULL)
    )
 
 SELECT * FROM FINAL_TEMPTABLE  

END

GO
