IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_RPTReinsuranceUmbrellaReport]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_RPTReinsuranceUmbrellaReport]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*---------------------------------------------------------------------------      
CREATE BY   	:    Swarup Pal	
CREATE DATETIME :   15 Oct,2007
PURPOSE    	: 
REVIOSN HISTORY      
Revised By  Date  Reason      


----------------------------------------------------------------------------*/      
--drop proc dbo.Proc_RPTReinsuranceUmbrellaReport 
CREATE PROC dbo.Proc_RPTReinsuranceUmbrellaReport
(
 @CONTRACT_NUMBER VARCHAR(80)='',
 @TRAN_TYPE VARCHAR(80)=''
)
AS
BEGIN 

DECLARE @TRAN VARCHAR(500)
DECLARE @TRAN_TEMP VARCHAR(50)

SET @TRAN = '' 
IF @TRAN_TYPE <> 'A'
BEGIN
	DECLARE  CURTRAN CURSOR  FOR      
	SELECT RTRIM(PROCESS_DESC) FROM POL_PROCESS_MASTER where PROCESS_ID IN ( select * from dbo.func_Split(@TRAN_TYPE, ',') )
	
	OPEN CURTRAN        
	FETCH NEXT FROM CURTRAN INTO @TRAN_TEMP    
	    
	SET @TRAN = @TRAN + @TRAN_TEMP     
	         
	WHILE @@FETCH_STATUS = 0         
	BEGIN     
	    
		FETCH NEXT FROM CURTRAN INTO @TRAN_TEMP 
		print @@FETCH_STATUS   
		IF @@FETCH_STATUS =0   
		SET @TRAN = @TRAN +  ', ' + @TRAN_TEMP         
	END        
	         
	CLOSE CURTRAN        
	DEALLOCATE CURTRAN        
END

SELECT POL.POLICY_NUMBER AS POL_NUM,
ISNULL(CCL.CUSTOMER_FIRST_NAME,'')+' ' +ISNULL(CCL.CUSTOMER_MIDDLE_NAME,'')+' ' +ISNULL(CCL.CUSTOMER_LAST_NAME,'')+' ' + 
ISNULL(CCL.CUSTOMER_ADDRESS1,'')+' ' +ISNULL(CCL.CUSTOMER_ADDRESS2,'')+' ' +
ISNULL(CCL.CUSTOMER_CITY,'')+' ' +ISNULL(CCL.CUSTOMER_COUNTRY,'')+' ' +ISNULL(MCSL.STATE_NAME,'')
AS NAME_ADD,ISNULL(MCSL.STATE_NAME,'') AS STATE,
POL.POLICY_EFFECTIVE_DATE AS EFF_DATE,
POL.POLICY_EXPIRATION_DATE AS EXP_DATE,
CASE ISNULL(@TRAN_TYPE,'') WHEN 'A' THEN 'ALL' ELSE  @TRAN END AS TRANS_TYPE,
'' AS CHANGE_DATE,
'' AS REIN_GROSS,
'' AS RETAIN,
'' AS REINS_CEDED,
'' AS POL_PREM,
'' AS REIN_PREM
FROM POL_CUSTOMER_POLICY_LIST POL 
--INNER JOIN MNT_REINSURANCE_CONTRACT MRC ON POL.CONTRACT_NUMBER=MRC.CONTRACT_NUMBER
INNER JOIN CLT_CUSTOMER_LIST CCL ON POL.CUSTOMER_ID=CCL.CUSTOMER_ID 
INNER JOIN MNT_COUNTRY_STATE_LIST MCSL ON CCL.CUSTOMER_STATE = MCSL.STATE_ID 
WHERE POL.POLICY_LOB= 5
--WHERE POL.CONTRACT_NUMBER=@CONTRACT_NUMBER 

END


GO

