IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_PROCESS_ACT_FEE_REVERSAL]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_PROCESS_ACT_FEE_REVERSAL]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*-------------------------------------------------------------------------------------------        
Proc Name       : dbo.PROC_PROCESS_ACT_FEE_REVERSAL         
Created by      : Ashwani         
Date            : 19 June,2006        
Purpose         : TO commit records in ACT_FEE_REVERSAL          
Revison History :          
Used In         : Wolverine        

Modified by			: Praveen kasana
Modified date		: 27 OCT 2009
Purpose				: Fee Charge (Added parameter) (ITRACK 6630)
Used In				: Wolverine      
----------------------------------------------------------------------------------------------         
Date     Review By          Comments          
------   ------------       ------------------------- ------------------------------------------- */          
-- drop proc dbo.PROC_PROCESS_ACT_FEE_REVERSAL            
CREATE Procedure [dbo].[PROC_PROCESS_ACT_FEE_REVERSAL]        
(    
 @IDEN_ROW_ID INT,    
 @RESULT INT OUT,
 @CALLED_FROM VARCHAR(20) = NULL	     
)        
AS          
BEGIN     

DECLARE @TRANS_FEE_DESC VARCHAR(100)
DECLARE @TRANS_FEE_DESC_MEMO VARCHAR(100)

IF(@CALLED_FROM = 'REVERT_BACK')     
BEGIN
	SET @TRANS_FEE_DESC = 'Fees Reversed (Revert Back)'
	SET @TRANS_FEE_DESC_MEMO = 'Fees Reversed (Memo) (Revert Back)'		
END
ELSE
BEGIN
	SET @TRANS_FEE_DESC = 'Fees Reversed'
	SET @TRANS_FEE_DESC_MEMO = 'Fees Reversed (Memo)'		
END
  
BEGIN TRAN    
  
IF EXISTS(  
 SELECT IDEN_ROW_ID FROM ACT_FEE_REVERSAL (NOLOCK) WHERE IDEN_ROW_ID=@IDEN_ROW_ID AND ISNULL(IS_COMMITTED,0)=0     
 AND  ISNULL(FEES_REVERSE,0)<>0 AND (ISNULL(FEES_AMOUNT,0) >= ISNULL(FEES_REVERSE,0))  
 )    
BEGIN     
 UPDATE   ACT_FEE_REVERSAL         
 SET  IS_COMMITTED =1      
 WHERE IDEN_ROW_ID=@IDEN_ROW_ID      
 set @RESULT=1    
END     
ELSE    
BEGIN    
 SET @RESULT = -1      
END      
  
-- AFTER COMMITTING     
  
IF(@RESULT=1)          
BEGIN     
     
 DECLARE  @TOTAL_PAID DECIMAL(18,2)    
 DECLARE  @TOTAL_DUE  DECIMAL(18,2)    
 --DECLARE  @IDEN_ROW_ID INT    
 DECLARE  @FEES_REVERSE DECIMAL(18,2)    
 DECLARE  @CUSTOMER_OPEN_ITEM_ID INT    
 DECLARE  @TEMP_ERROR_CODE INT           
   
 DECLARE @AST_UNCOLL_PRM_CUSTOMER INT,   
  @INSTALL_FEES_ACCOUNT INT ,  
  @LATE_FEES_ACCOUNT Int,  
  @RE_INSTATEMENT_FEES_ACCOUNT Int,  
  @NON_SUFFICIENT_FUND_FEES_ACCOUNT Int,  
  @COMMIT_DATE Datetime,  
  @POSTED_REVERSE_AMOUNT Decimal(18,2),  
  @ACCOUNT_ID Int ,  
  @ITEM_TRAN_CODE Varchar(10),  
  @TRAN_ENTITY Varchar(200),  
  @TRAN_DESC Varchar(500)  
  
  
 SET @COMMIT_DATE  = GETDATE()  
 SET @POSTED_REVERSE_AMOUNT = 0  
  
 SELECT     
 @AST_UNCOLL_PRM_CUSTOMER = AST_UNCOLL_PRM_CUSTOMER,    
 @INSTALL_FEES_ACCOUNT  = INC_INSTALLMENT_FEES  ,  
 @LATE_FEES_ACCOUNT = INC_LATE_FEES ,   
 @RE_INSTATEMENT_FEES_ACCOUNT  = INC_RE_INSTATEMENT_FEES ,  
 @NON_SUFFICIENT_FUND_FEES_ACCOUNT = INC_NON_SUFFICIENT_FUND_FEES  
 FROM ACT_GENERAL_LEDGER  (NOLOCK)   
 WHERE @COMMIT_DATE BETWEEN FISCAL_BEGIN_DATE AND FISCAL_END_DATE  
  
   
 DECLARE @CUSTOMER_ID Int,  
   @POLICY_ID Int,  
   @POLICY_VERSION_ID Int,  
   @IS_PRINTED Char(1),  
   @PRINT_DATE DateTime,  
   @DUE_DATE DateTime,  
   @OPEN_ITEM_ROW_ID Int  
  
 SELECT  @TOTAL_PAID = ISNULL(TOTAL_PAID,0),  
  @FEES_REVERSE = ISNULL(FEES_REVERSE,0),   
  @ITEM_TRAN_CODE = DET.ITEM_TRAN_CODE,  
  @CUSTOMER_OPEN_ITEM_ID = MAIN.CUSTOMER_OPEN_ITEM_ID,    
  @TOTAL_DUE=TOTAL_DUE    
 FROM ACT_FEE_REVERSAL MAIN   (NOLOCK)  
 LEFT JOIN ACT_CUSTOMER_OPEN_ITEMS DET   
 ON MAIN.CUSTOMER_OPEN_ITEM_ID = DET.IDEN_ROW_ID    
 WHERE MAIN.IDEN_ROW_ID= @IDEN_ROW_ID     
  
 SELECT @TRAN_ENTITY = ISNULL(CUST.CUSTOMER_CODE,'') + ' - ' + ISNULL(CUST.CUSTOMER_FIRST_NAME,'')   
  + ' ' + ISNULL(CUST.CUSTOMER_MIDDLE_NAME,'') +  
  CASE WHEN ISNULL(CUST.CUSTOMER_MIDDLE_NAME,'') = '' THEN '' ELSE ' ' END  
  +   
  ISNULL(CUST.CUSTOMER_LAST_NAME ,'') ,
 @TRAN_DESC = ISNULL(PCL.POLICY_NUMBER,'') + ' ' + ISNULL(PCL.POLICY_DISP_VERSION,'')  
 FROM ACT_CUSTOMER_OPEN_ITEMS OI  (NOLOCK)  
 INNER JOIN POL_CUSTOMER_POLICY_LIST PCL  
  ON  OI.CUSTOMER_ID = PCL.CUSTOMER_ID  
  AND OI.POLICY_ID = PCL.POLICY_ID  
  AND OI.POLICY_VERSION_ID = PCL.POLICY_VERSION_ID  
 INNER JOIN CLT_CUSTOMER_LIST CUST  (NOLOCK)  
  ON  OI.CUSTOMER_ID = CUST.CUSTOMER_ID   
 WHERE OI.IDEN_ROW_ID = @CUSTOMER_OPEN_ITEM_ID  
   
 SET @ACCOUNT_ID = CASE @ITEM_TRAN_CODE   
  WHEN 'INSF'  THEN @INSTALL_FEES_ACCOUNT  
  WHEN 'LF'    THEN @LATE_FEES_ACCOUNT  
  WHEN 'NSFF'  THEN @NON_SUFFICIENT_FUND_FEES_ACCOUNT  
  WHEN 'RENSF' THEN @RE_INSTATEMENT_FEES_ACCOUNT   
  END  
       
     
 IF(@TOTAL_PAID =0)    
 BEGIN     
    
  -- 1. Update ACT_CUSTOMER_OPEN_ITEMS  TOTAL_DUE= TOTAL_DUE - FEE_REVE  
  IF EXISTS (SELECT IDEN_ROW_ID FROM  ACT_CUSTOMER_OPEN_ITEMS (NOLOCK) WHERE IDEN_ROW_ID=@CUSTOMER_OPEN_ITEM_ID)    
  BEGIN     
   UPDATE  ACT_CUSTOMER_OPEN_ITEMS     
   SET TOTAL_DUE = TOTAL_DUE -@FEES_REVERSE    
   WHERE IDEN_ROW_ID=@CUSTOMER_OPEN_ITEM_ID     
  END     
  ELSE     
  BEGIN     
   SET @RESULT=-1    
   RETURN    
  END     
       
  -- 2.  insert into  ACT_CUSTOMER_BALANCE_INFORMATION    AMOUNT= FEE_REVERS * -1 , AMOUNT_DUE=0           
   
  
  SELECT  @CUSTOMER_ID = CUSTOMER_ID ,  
   @POLICY_ID = POLICY_ID,  
   @POLICY_VERSION_ID = POLICY_VERSION_ID,  
   @IS_PRINTED = IS_PRINTED ,  
   @PRINT_DATE = PRINT_DATE ,  
   @DUE_DATE = DUE_DATE   
  FROM ACT_CUSTOMER_BALANCE_INFORMATION   (NOLOCK)    
  WHERE  OPEN_ITEM_ROW_ID= @CUSTOMER_OPEN_ITEM_ID    
    
    
  SELECT @TEMP_ERROR_CODE = @@ERROR                                                               
  IF (@TEMP_ERROR_CODE <> 0) GOTO PROBLEM                                                                                       
    
    
  INSERT INTO ACT_CUSTOMER_BALANCE_INFORMATION  
  (  
  CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,OPEN_ITEM_ROW_ID,AMOUNT,AMOUNT_DUE,TRAN_DESC,  
  UPDATED_FROM,CREATED_DATE,IS_PRINTED,PRINT_DATE,SOURCE_ROW_ID,DUE_DATE  
  )     
  VALUES(  
  @CUSTOMER_ID,@POLICY_ID,@POLICY_VERSION_ID,@CUSTOMER_OPEN_ITEM_ID, @FEES_REVERSE * -1,  
  0 ,@TRANS_FEE_DESC_MEMO , --'Fees Reversed(Memo)',  
  'F',GETDATE(),@IS_PRINTED,@PRINT_DATE,@IDEN_ROW_ID,GETDATE())  
    
    
  SELECT @TEMP_ERROR_CODE = @@ERROR                                                                    
  IF (@TEMP_ERROR_CODE <> 0) GOTO PROBLEM    
    
  SELECT @TEMP_ERROR_CODE = @@ERROR                                                                    
  IF (@TEMP_ERROR_CODE <> 0) GOTO PROBLEM      
    
 END     
    ELSE if(@TOTAL_PAID <> 0)    
    BEGIN     
    
  DECLARE @FEES_TO_ADJUST Decimal(18,2),  
   @BALANCE_FEES Decimal(18,2)  
  
  SET @BALANCE_FEES = @TOTAL_DUE - @TOTAL_PAID  
  
  IF(@BALANCE_FEES = 0)  
  BEGIN   
   SET @POSTED_REVERSE_AMOUNT = @FEES_REVERSE  
  END  
  ELSE IF(@BALANCE_FEES  >= @FEES_REVERSE)  
  BEGIN   
   SET @FEES_TO_ADJUST = @FEES_REVERSE  
  END  
  ELSE  
  BEGIN   
   SET @FEES_TO_ADJUST = @BALANCE_FEES  
   SET @POSTED_REVERSE_AMOUNT = @FEES_REVERSE - @BALANCE_FEES  
  END  
    
    
  IF(@FEES_TO_ADJUST > 0)  
  BEGIN   
   UPDATE  ACT_CUSTOMER_OPEN_ITEMS     
   SET TOTAL_DUE = TOTAL_DUE - @FEES_TO_ADJUST    
   WHERE IDEN_ROW_ID=@CUSTOMER_OPEN_ITEM_ID  
  END  
  
    
  IF(@POSTED_REVERSE_AMOUNT <> 0)  
  BEGIN   
   -- 1. insert into ACT_CUSTOMER_OPEN_ITEMS   TOTAL_DUE =  - FEE_REVERS                                                 
   SELECT * INTO #ACT_CUSTOMER_OPEN_ITEMS FROM ACT_CUSTOMER_OPEN_ITEMS  (NOLOCK)     
   WHERE  IDEN_ROW_ID= @CUSTOMER_OPEN_ITEM_ID    
   
         
       UPDATE #ACT_CUSTOMER_OPEN_ITEMS     
        SET TOTAL_DUE= - @POSTED_REVERSE_AMOUNT  
         
       SELECT @TEMP_ERROR_CODE = @@ERROR                                                          
        IF (@TEMP_ERROR_CODE <> 0) GOTO PROBLEM                                             
                                     
   INSERT INTO ACT_CUSTOMER_OPEN_ITEMS  
   (  
    UPDATED_FROM,SOURCE_ROW_ID,SOURCE_NUM,SOURCE_TRAN_DATE,SOURCE_EFF_DATE,POSTING_DATE,TOTAL_DUE,  
    TOTAL_PAID,AGENCY_COMM_APPLIES,AGENCY_COMM_PERC,AGENCY_COMM_AMT,AGENCY_ID,CUSTOMER_ID,POLICY_ID,  
    POLICY_VERSION_ID,PAYMENT_DATE,DATE_FULL_PAID,PAYMENT_STATUS,NOT_COUNTED_RECEIVABLE,PAYOR_TYPE,  
    DIV_ID,DEPT_ID,PC_ID,IS_TEMP_ENTRY,IN_RECON,IS_PREBILL,BILL_CODE,GROSS_AMOUNT,ITEM_TRAN_CODE,ITEM_TRAN_CODE_TYPE,  
    TRAN_ID,CASH_ACCOUNTING,RECUR_JOURNAL_VERSION,JE_RECON_COUNTER,AMT_IN_RECON,OPEN_RECON_CTR,LOB_ID,SUB_LOB_ID,  
    COUNTRY_ID,STATE_ID,COMMISSION_TYPE,ITEM_STATUS,IS_CHECK_CREATED,ITEM_ORIGINAL_STATUS,TRANS_DESC,DUE_DATE,  
    PROCESSED_AMOUNT_FOR_AGENCY,INSTALLMENT_ROW_ID  
   )  
   SELECT  
     
    'F',@IDEN_ROW_ID,NULL,GETDATE(),GETDATE(),GETDATE(),TOTAL_DUE,  
    0,0,0,0,AGENCY_ID,CUSTOMER_ID,POLICY_ID,  
    POLICY_VERSION_ID,NULL,NULL,NULL,1,PAYOR_TYPE,  
    DIV_ID,DEPT_ID,PC_ID,IS_TEMP_ENTRY,IN_RECON,IS_PREBILL,BILL_CODE,TOTAL_DUE,ITEM_TRAN_CODE,ITEM_TRAN_CODE_TYPE,  
    TRAN_ID,CASH_ACCOUNTING,RECUR_JOURNAL_VERSION,JE_RECON_COUNTER,AMT_IN_RECON,OPEN_RECON_CTR,LOB_ID,SUB_LOB_ID,  
    COUNTRY_ID,STATE_ID,COMMISSION_TYPE,'OP','N',ITEM_ORIGINAL_STATUS,@TRANS_FEE_DESC,DUE_DATE,  
    PROCESSED_AMOUNT_FOR_AGENCY,NULL  
      
   FROM #ACT_CUSTOMER_OPEN_ITEMS     
          
   SELECT @TEMP_ERROR_CODE = @@ERROR                                                                    
   IF (@TEMP_ERROR_CODE <> 0) GOTO PROBLEM     
     
   SELECT @OPEN_ITEM_ROW_ID  = @@IDENTITY  
    
   DROP TABLE #ACT_CUSTOMER_OPEN_ITEMS       
     
   -- If there is no Amount Due against this policy set Status of reversed amount as   
   -- Over Payment  
   SELECT @CUSTOMER_ID = CUSTOMER_ID ,@POLICY_ID = POLICY_ID  
   FROM ACT_CUSTOMER_OPEN_ITEMS  (NOLOCK)  
   WHERE IDEN_ROW_ID = @OPEN_ITEM_ROW_ID  
  
   DECLARE @BALANCE_DUE Decimal(18,2)  
   SELECT @BALANCE_DUE = ISNULL(SUM(ISNULL(TOTAL_DUE,0)),0) - ISNULL(SUM(ISNULL(TOTAL_PAID,0)),0)  
    FROM ACT_CUSTOMER_OPEN_ITEMS  (NOLOCK)  
    WHERE CUSTOMER_ID = @CUSTOMER_ID   
    AND POLICY_ID = @POLICY_ID   
  
   IF( @BALANCE_DUE  < 0)  
   BEGIN   
    UPDATE ACT_CUSTOMER_OPEN_ITEMS SET ITEM_STATUS = 'OP'   
    WHERE IDEN_ROW_ID = @OPEN_ITEM_ROW_ID  
   END  
  
  END     
  -- 2. insert into ACT_CUSTOMER_BALANCE_INFORMATION  AMOUNT = -FEE_REVERS, TOTAL_DUE = 0     
    
  SELECT  @CUSTOMER_ID = CUSTOMER_ID ,  
    @POLICY_ID = POLICY_ID,  
    @POLICY_VERSION_ID = POLICY_VERSION_ID  
   FROM ACT_CUSTOMER_OPEN_ITEMS  (NOLOCK)     
   WHERE  IDEN_ROW_ID= @CUSTOMER_OPEN_ITEM_ID    
  SELECT @TEMP_ERROR_CODE = @@ERROR                                                          
  IF (@TEMP_ERROR_CODE <> 0) GOTO PROBLEM                                               
                                    
  INSERT INTO ACT_CUSTOMER_BALANCE_INFORMATION  
  (  
   CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,OPEN_ITEM_ROW_ID,AMOUNT,AMOUNT_DUE,TRAN_DESC,  
   UPDATED_FROM,CREATED_DATE,IS_PRINTED,PRINT_DATE,SOURCE_ROW_ID,DUE_DATE  
  )  
  VALUES(  
  @CUSTOMER_ID,@POLICY_ID,@POLICY_VERSION_ID,@CUSTOMER_OPEN_ITEM_ID, -@FEES_REVERSE  ,@POSTED_REVERSE_AMOUNT ,@TRANS_FEE_DESC,--'Fees Reversed',  
  'F',GETDATE() ,null ,null ,@IDEN_ROW_ID, GETDATE())  
    
  SELECT @TEMP_ERROR_CODE = @@ERROR                                                                    
  IF (@TEMP_ERROR_CODE <> 0) GOTO PROBLEM      
  
    
    END     
  
 IF (@POSTED_REVERSE_AMOUNT <> 0)  
 BEGIN   
  
   --Debting Fees Account  
  INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS    
  (    
  ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,    
  SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,     
  TRANSACTION_AMOUNT, AGENCY_COMM_PERC, AGENCY_COMM_AMT, AGENCY_ID,   
  CUSTOMER_ID,POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,     
  IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,     
  SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,     
  TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,    
  IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME  ,  
  TRAN_ENTITY,TRAN_DESC  
  )    
  SELECT     
  @ACCOUNT_ID , 'F', NULL,  @IDEN_ROW_ID ,  null,  
  @IDEN_ROW_ID , @COMMIT_DATE , @COMMIT_DATE , @COMMIT_DATE ,     
  @POSTED_REVERSE_AMOUNT , NULL,  NULL, NULL ,     
  CUSTOMER_ID ,POLICY_ID, POLICY_VERSION_ID, NULL, NULL, NULL,    
  NULL, NULL, @POSTED_REVERSE_AMOUNT , ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, NULL, LOB_ID,    
  NULL, NULL, STATE_ID , NULL,     
  NULL, NULL, NULL, NULL,     
  NULL, NULL, null , null , null  ,  
  @TRAN_ENTITY,@TRAN_DESC  
  FROM     
  ACT_CUSTOMER_OPEN_ITEMS  (NOLOCK)  
  WHERE IDEN_ROW_ID = @OPEN_ITEM_ROW_ID  
  
  --Crediting Sundry Debtors (Customers)   
  INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS    
  (    
  ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,    
  SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,     
  TRANSACTION_AMOUNT, AGENCY_COMM_PERC, AGENCY_COMM_AMT, AGENCY_ID,   
  CUSTOMER_ID,POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,     
  IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,     
  SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,     
  TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,    
  IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME  ,  
  TRAN_ENTITY,TRAN_DESC  
  )    
  SELECT     
  @AST_UNCOLL_PRM_CUSTOMER  , 'F', NULL,  @IDEN_ROW_ID ,  null,  
  @IDEN_ROW_ID , @COMMIT_DATE , @COMMIT_DATE , @COMMIT_DATE ,     
  @POSTED_REVERSE_AMOUNT * -1, NULL,  NULL, NULL ,     
  CUSTOMER_ID ,POLICY_ID, POLICY_VERSION_ID, NULL, NULL, NULL,    
  NULL, NULL, @POSTED_REVERSE_AMOUNT * -1 , NULL, NULL, NULL, LOB_ID,    
  NULL, NULL, STATE_ID , NULL,     
  NULL, NULL, NULL, NULL,     
  NULL, NULL, null , null , null  ,  
  @TRAN_ENTITY,@TRAN_DESC  
  FROM     
  ACT_CUSTOMER_OPEN_ITEMS  (NOLOCK)  
  WHERE IDEN_ROW_ID = @OPEN_ITEM_ROW_ID  
  
  
 END  
END    
  
COMMIT TRAN  
RETURN 1  
  
PROBLEM:                                                                                                            
    ROLLBACK TRAN                
    SET @RESULT = -1      
    RETURN                                                    
END



GO

