IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_SUSEP_FORM_14A_REGIONAL_DISTRIBUTION]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_SUSEP_FORM_14A_REGIONAL_DISTRIBUTION]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[PROC_SUSEP_FORM_14A_REGIONAL_DISTRIBUTION]  --'07/30/2011'          
 @FROM_DATETIME DATETIME = null,
 @TO_DATETIME DATETIME = null                  
 --@POLICY_NUMBER VARCHAR(22)= NULL          
AS          
BEGIN        
          
DECLARE @MONTH INT,          
@DATE_TEMP DATETIME          
          
           
SET @MONTH= MONTH(DATEADD(MONTH,-1,@FROM_DATETIME))          
SET @DATE_TEMP = DATEADD(MONTH, -1, @FROM_DATETIME)          
          
SELECT  Table_1.*,CAL.[STATE] into #TEMP_TABLE          
FROM            
 (          
           
 -----'7287'- direct premium          
  SELECT           
   PCPL.CUSTOMER_ID,          
   PCPL.POLICY_ID,          
   PCPL.POLICY_VERSION_ID,          
   ACOI.POSTING_DATE AS [REF_DATE],           
   MLM.SUSEP_LOB_CODE AS SUSEP_LOB_CODE ,            
   CAST(MCSL.STATE_CODE AS VARCHAR(2)) AS STATE_CODE,               
   ------TO FILL IN THE AMOUNT OF EACH CMPID CODE---          
   --SUM(ACOI.TOTAL_DUE) AS 'DIRECT_PREMIUM', 
   CASE WHEN PCPL.CO_INSURANCE = 14548 THEN SUM(ACOI.TOTAL_DUE)* PCI.COINSURANCE_PERCENT * .01  --LEADER
		ELSE SUM(ACOI.TOTAL_DUE)
		END	AS 'DIRECT_PREMIUM',         
   CAST(0 AS DECIMAL(20,2)) AS 'COINSURANCE_PREMIUM_ACCEPTED',          
   CAST(0 AS DECIMAL(20,2)) AS 'COINSURANCE_PREMIUM_GRANTED',          
   CAST(0 AS DECIMAL(20,2)) AS 'REINSURANCE_PREMIUM_GRANTED',          
   CAST(0 AS DECIMAL(20,2)) AS 'RETAINED_PREMIUM',          
   CAST(0 AS DECIMAL(20,2)) AS 'RETAINED_PREMIUM_PRCC',            
   CAST(0 AS DECIMAL(20,2)) AS 'DIRECT_CLAIM',          
   CAST(0 AS DECIMAL(20,2)) AS 'CLAIM_RECOVERY',          
   CAST(0 AS DECIMAL(20,2)) AS 'SALVAGE_AND_REIMBURSED',          
   CAST(0 AS DECIMAL(20,2)) AS 'NET_RETENTION',          
   CAST(0 AS DECIMAL(20,2)) AS 'EXPENSES_WITH_BENEFITS'          
             
             
          
   FROM  POL_CUSTOMER_POLICY_LIST PCPL          
   INNER JOIN ACT_CUSTOMER_OPEN_ITEMS ACOI (NOLOCK)               
   ON ACOI.CUSTOMER_ID = PCPL.CUSTOMER_ID          
   AND ACOI.POLICY_ID = PCPL.POLICY_ID          
   AND ACOI.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID           
   AND ACOI.UPDATED_FROM ='P' AND RIGHT(ACOI.ITEM_TRAN_CODE,1)='P'  
  --AND PCPL.CO_INSURANCE =  14547         
    AND PCPL.CO_INSURANCE IN (14547,14548)          
  INNER JOIN MNT_LOB_MASTER MLM WITH(NOLOCK)                
   ON PCPL.POLICY_LOB = MLM.LOB_ID          
  /*INNER JOIN POL_LOCATIONS PL WITH(NOLOCK)           
   ON PL.CUSTOMER_ID = PCPL.CUSTOMER_ID          
   AND PL.POLICY_ID = PCPL.POLICY_ID          
   AND PL.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID          
  INNER JOIN  POL_PRODUCT_LOCATION_INFO PPLI WITH(NOLOCK)          
      ON PPLI.CUSTOMER_ID = PCPL.CUSTOMER_ID          
   AND PPLI.POLICY_ID = PCPL.POLICY_ID          
   AND PPLI.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID 
   AND  ACOI.RISK_ID =  PPLI.PRODUCT_RISK_ID */ 
     
   LEFT OUTER JOIN [VW_POL_PRODUCT_RISK_DETAILS] VW
		ON   VW.CUSTOMER_ID = PCPL.CUSTOMER_ID            
   AND VW.POLICY_ID = PCPL.POLICY_ID            
   AND VW.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID 
   AND VW.RISK_ID = ACOI.RISK_ID 
            
  LEFT OUTER  JOIN MNT_COUNTRY_STATE_LIST MCSL WITH(NOLOCK)          
    --ON CAST(PL.LOC_STATE AS SMALLINT) = MCSL.STATE_ID
	 ON CAST(VW.STATE_ID AS SMALLINT) = MCSL.STATE_ID            
      AND  MCSL.COUNTRY_ID =5        
  WHERE /*MONTH(ACOI.POSTING_DATE) = MONTH(@DATE_TEMP) AND          
     YEAR(ACOI.POSTING_DATE) = YEAR(@DATE_TEMP)*/
	 ACOI.POSTING_DATE BETWEEN   @FROM_DATETIME AND  @TO_DATETIME                
   GROUP BY MLM.SUSEP_LOB_CODE,STATE_CODE,PCPL.CUSTOMER_ID,PCPL.POLICY_ID,          
     PCPL.POLICY_VERSION_ID,ACOI.POSTING_DATE,PCPL.CO_INSURANCE,PCI.COINSURANCE_PERCENT           
 UNION ALL          
 ---7288 COINSURANCE PREMIUM ACCEPTED            
   SELECT           
   PCPL.CUSTOMER_ID,          
   PCPL.POLICY_ID,          
   PCPL.POLICY_VERSION_ID,          
   ACOI.POSTING_DATE AS [REF_DATE],            
   MLM.SUSEP_LOB_CODE ,          
   CAST(MCSL.STATE_CODE AS VARCHAR(2)) AS STATE_CODE,               
   ------TO FILL IN THE AMOUNT OF EACH CMPID CODE---              
   CAST(0 AS DECIMAL(20,2)) AS 'DIRECT_PREMIUM',          
   SUM(ACOI.TOTAL_DUE) AS 'COINSURANCE_PREMIUM_ACCEPTED',          
   CAST(0 AS DECIMAL(20,2)) AS 'COINSURANCE_PREMIUM_GRANTED',          
   CAST(0 AS DECIMAL(20,2)) AS 'REINSURANCE_PREMIUM_GRANTED',          
   CAST(0 AS DECIMAL(20,2)) AS 'RETAINED_PREMIUM',          
   CAST(0 AS DECIMAL(20,2)) AS 'RETAINED_PREMIUM_PRCC',            
   CAST(0 AS DECIMAL(20,2)) AS 'DIRECT_CLAIM',          
   CAST(0 AS DECIMAL(20,2)) AS 'CLAIM_RECOVERY',          
   CAST(0 AS DECIMAL(20,2)) AS 'SALVAGE_AND_REIMBURSED',          
   CAST(0 AS DECIMAL(20,2)) AS 'NET_RETENTION',          
   CAST(0 AS DECIMAL(20,2)) AS 'EXPENSES_WITH_BENEFITS'          
          
   FROM  POL_CUSTOMER_POLICY_LIST PCPL          
   INNER JOIN ACT_COI_OPEN_ITEMS ACOI (NOLOCK)               
  ON ACOI.CUSTOMER_ID = PCPL.CUSTOMER_ID          
   AND ACOI.POLICY_ID = PCPL.POLICY_ID          
   AND ACOI.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID           
   AND ACOI.UPDATED_FROM ='P' AND RIGHT(ACOI.ITEM_TRAN_CODE,1)='P'          
   AND PCPL.CO_INSURANCE = 14549          
   INNER JOIN MNT_LOB_MASTER MLM WITH(NOLOCK)                
   ON PCPL.POLICY_LOB = MLM.LOB_ID           
   INNER JOIN POL_LOCATIONS PL WITH(NOLOCK)           
   ON PL.CUSTOMER_ID = PCPL.CUSTOMER_ID          
   AND PL.POLICY_ID = PCPL.POLICY_ID          
   AND PL.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID          
  INNER JOIN  POL_PRODUCT_LOCATION_INFO PPLI WITH(NOLOCK)          
       ON PPLI.CUSTOMER_ID = PCPL.CUSTOMER_ID          
   AND PPLI.POLICY_ID = PCPL.POLICY_ID          
   AND PPLI.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID 
   AND  ACOI.RISK_ID =  PPLI.PRODUCT_RISK_ID            
  LEFT OUTER  JOIN MNT_COUNTRY_STATE_LIST MCSL WITH(NOLOCK)          
    ON CAST(PL.LOC_STATE AS SMALLINT) = MCSL.STATE_ID           
         AND  MCSL.COUNTRY_ID =5     
   WHERE /*MONTH(ACOI.POSTING_DATE) = MONTH(@DATE_TEMP) AND          
     YEAR(ACOI.POSTING_DATE) = YEAR(@DATE_TEMP)*/
	 ACOI.POSTING_DATE BETWEEN   @FROM_DATETIME AND  @TO_DATETIME            
   GROUP BY MLM.SUSEP_LOB_CODE,STATE_CODE,PCPL.CUSTOMER_ID,PCPL.POLICY_ID,          
   PCPL.POLICY_VERSION_ID,ACOI.POSTING_DATE          
UNION ALL             
---7289 COINSURANCE PREMIUM GRANTED            
   SELECT           
   PCPL.CUSTOMER_ID,          
   PCPL.POLICY_ID,          
   PCPL.POLICY_VERSION_ID,          
   ACOI.POSTING_DATE AS [REF_DATE],            
   MLM.SUSEP_LOB_CODE,          
   CAST(MCSL.STATE_CODE AS VARCHAR(2)) AS STATE_CODE,          
                
   ------TO FILL IN THE AMOUNT OF EACH CMPID CODE---             
   CAST(0 AS DECIMAL(20,2)) AS 'DIRECT_PREMIUM',          
   CAST(0 AS DECIMAL(20,2)) AS 'COINSURANCE_PREMIUM_ACCEPTED',          
   SUM(ABS(ACOI.TOTAL_DUE)) AS 'COINSURANCE_PREMIUM_GRANTED',          
   CAST(0 AS DECIMAL(20,2)) AS 'REINSURANCE_PREMIUM_GRANTED',          
   CAST(0 AS DECIMAL(20,2)) AS 'RETAINED_PREMIUM',          
   CAST(0 AS DECIMAL(20,2)) AS 'RETAINED_PREMIUM_PRCC',            
   CAST(0 AS DECIMAL(20,2)) AS 'DIRECT_CLAIM',          
   CAST(0 AS DECIMAL(20,2)) AS 'CLAIM_RECOVERY',          
   CAST(0 AS DECIMAL(20,2)) AS 'SALVAGE_AND_REIMBURSED',          
   CAST(0 AS DECIMAL(20,2)) AS 'NET_RETENTION',          
   CAST(0 AS DECIMAL(20,2)) AS 'EXPENSES_WITH_BENEFITS'          
             
          
   FROM  POL_CUSTOMER_POLICY_LIST PCPL          
   INNER JOIN ACT_COI_OPEN_ITEMS ACOI (NOLOCK)               
   ON ACOI.CUSTOMER_ID = PCPL.CUSTOMER_ID          
   AND ACOI.POLICY_ID = PCPL.POLICY_ID          
   AND ACOI.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID           
   AND ACOI.UPDATED_FROM ='P' AND RIGHT(ACOI.ITEM_TRAN_CODE,1)='P'          
   AND PCPL.CO_INSURANCE = 14548          
  INNER JOIN MNT_LOB_MASTER MLM WITH(NOLOCK)                
   ON PCPL.POLICY_LOB = MLM.LOB_ID           
  INNER JOIN POL_LOCATIONS PL WITH(NOLOCK)           
   ON PL.CUSTOMER_ID = PCPL.CUSTOMER_ID          
   AND PL.POLICY_ID = PCPL.POLICY_ID          
   AND PL.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID          
  INNER JOIN  POL_PRODUCT_LOCATION_INFO PPLI WITH(NOLOCK)          
      ON PPLI.CUSTOMER_ID = PCPL.CUSTOMER_ID          
   AND PPLI.POLICY_ID = PCPL.POLICY_ID          
   AND PPLI.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID
    AND  ACOI.RISK_ID =  PPLI.PRODUCT_RISK_ID             
  LEFT OUTER  JOIN MNT_COUNTRY_STATE_LIST MCSL WITH(NOLOCK)          
    ON CAST(PL.LOC_STATE AS SMALLINT) = MCSL.STATE_ID          
        AND  MCSL.COUNTRY_ID =5       
   WHERE /* MONTH(ACOI.POSTING_DATE) = MONTH(@DATE_TEMP) AND          
     YEAR(ACOI.POSTING_DATE) = YEAR(@DATE_TEMP)*/
	 ACOI.POSTING_DATE BETWEEN   @FROM_DATETIME AND  @TO_DATETIME             
   GROUP BY MLM.SUSEP_LOB_CODE,STATE_CODE,PCPL.CUSTOMER_ID,PCPL.POLICY_ID,PCPL.POLICY_VERSION_ID,ACOI.POSTING_DATE          
             
UNION ALL               
---7290 REINSURANCE PREMIUM GRANTED              
   SELECT             
   PCPL.CUSTOMER_ID,            
   PCPL.POLICY_ID,            
   PCPL.POLICY_VERSION_ID,            
   ACOI.PROCESS_TRAN_DATE AS [REF_DATE],            
   MLM.SUSEP_LOB_CODE,            
   CAST(MCSL.STATE_CODE AS VARCHAR(2)) AS STATE_CODE,                 
   ------TO FILL IN THE AMOUNT OF EACH CMPID CODE---               
   CAST(0 AS DECIMAL(20,2)) AS 'DIRECT_PREMIUM',         
   CAST(0 AS DECIMAL(20,2)) AS 'COINSURANCE_PREMIUM_ACCEPTED',            
   CAST(0 AS DECIMAL(20,2)) AS 'COINSURANCE_PREMIUM_GRANTED',            
   SUM(ACOI.REIN_PREMIUM) AS 'REINSURANCE_PREMIUM_GRANTED',            
   CAST(0 AS DECIMAL(20,2)) AS 'RETAINED_PREMIUM',            
   CAST(0 AS DECIMAL(20,2)) AS 'RETAINED_PREMIUM_PRCC',              
   CAST(0 AS DECIMAL(20,2)) AS 'DIRECT_CLAIM',            
   CAST(0 AS DECIMAL(20,2)) AS 'CLAIM_RECOVERY',            
   CAST(0 AS DECIMAL(20,2)) AS 'SALVAGE_AND_REIMBURSED',            
   CAST(0 AS DECIMAL(20,2)) AS 'NET_RETENTION',            
   CAST(0 AS DECIMAL(20,2)) AS 'EXPENSES_WITH_BENEFITS'            
               
            
   FROM  POL_CUSTOMER_POLICY_LIST PCPL            
INNER JOIN POL_REINSURANCE_BREAKDOWN_DETAILS ACOI (NOLOCK)                 
   ON ACOI.CUSTOMER_ID					= PCPL.CUSTOMER_ID  
   AND ACOI.POLICY_ID					= PCPL.POLICY_ID            
   AND ACOI.POLICY_VERSION_ID			= PCPL.POLICY_VERSION_ID          
INNER JOIN MNT_LOB_MASTER MLM WITH(NOLOCK)                  
  ON PCPL.POLICY_LOB = MLM.LOB_ID 
   --AND ACOI.UPDATED_FROM ='P' AND RIGHT(ACOI.ITEM_TRAN_CODE,1)='P'            
   --AND PCPL.CO_INSURANCE = 14549            
  /*INNER JOIN POL_LOCATIONS PL WITH(NOLOCK)             
   ON PL.CUSTOMER_ID = PCPL.CUSTOMER_ID            
   AND PL.POLICY_ID = PCPL.POLICY_ID            
   AND PL.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID            
  INNER JOIN  POL_PRODUCT_LOCATION_INFO PPLI WITH(NOLOCK)            
       ON PPLI.CUSTOMER_ID = PCPL.CUSTOMER_ID            
   AND PPLI.POLICY_ID = PCPL.POLICY_ID            
   AND PPLI.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID
  AND  dbo.Instring(ACOI.RISK_ID, (cast(PPLI.PRODUCT_RISK_ID as varchar)) ) >0 */
  LEFT OUTER JOIN [VW_POL_PRODUCT_RISK_DETAILS] VW
		ON   VW.CUSTOMER_ID = PCPL.CUSTOMER_ID            
   AND VW.POLICY_ID = PCPL.POLICY_ID            
   AND VW.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID 
   AND  dbo.Instring(ACOI.RISK_ID, (cast(VW.RISK_ID as varchar)) ) >0                 
  LEFT OUTER  JOIN MNT_COUNTRY_STATE_LIST MCSL WITH(NOLOCK)            
    ON CAST(PL.LOC_STATE AS SMALLINT) = MCSL.STATE_ID            
          AND  MCSL.COUNTRY_ID =5   
              
  WHERE /*MONTH(ACOI.PROCESS_TRAN_DATE) = MONTH(@DATE_TEMP) AND            
     YEAR(ACOI.PROCESS_TRAN_DATE) = YEAR(@DATE_TEMP) */ 
     /*ACOI.MONTH_NUMBER = MONTH(@DATE_TEMP) AND            
     ACOI.YEAR_NUMBER = YEAR(@DATE_TEMP)*/
	 (
		  (ACOI.YEAR_NUMBER BETWEEN YEAR(@FROM_DATETIME) AND    YEAR(@TO_DATETIME)) AND         
		  (ACOI.MONTH_NUMBER BETWEEN MONTH(@FROM_DATETIME) AND MONTH(@TO_DATETIME))
      )          
   GROUP BY MLM.SUSEP_LOB_CODE,STATE_CODE,PCPL.CUSTOMER_ID,            
   PCPL.POLICY_ID,PCPL.POLICY_VERSION_ID,ACOI.PROCESS_TRAN_DATE          
                  
 UNION ALL             
---7293 DIRECT CLAIM        
--BELOW ARE PENDING CONDITION FOR 7293        
  --NOTIFICATION OF LOSS;REAPPRAISAL;CANCELATION AND REOPEN BUT NOT INCLUDE SETTLEMENT.        
  --ADMINISTRATIVE INDEMNITY; ADMINISTRATIVE EXPENSE           
   SELECT           
   PCPL.CUSTOMER_ID,          
   PCPL.POLICY_ID,          
   PCPL.POLICY_VERSION_ID,          
   CCI.LOSS_DATE AS [REF_DATE],          
   MLM.SUSEP_LOB_CODE,          
   CAST(MCSL.STATE_CODE AS VARCHAR(2)) AS STATE_CODE,               
   ------TO FILL IN THE AMOUNT OF EACH CMPID CODE---             
   CAST(0 AS DECIMAL(20,2)) AS 'DIRECT_PREMIUM',          
   CAST(0 AS DECIMAL(20,2)) AS 'COINSURANCE_PREMIUM_ACCEPTED',          
   CAST(0 AS DECIMAL(20,2)) AS 'COINSURANCE_PREMIUM_GRANTED',          
   CAST(0 AS DECIMAL(20,2)) AS 'REINSURANCE_PREMIUM_GRANTED',          
   CAST(0 AS DECIMAL(20,2)) AS 'RETAINED_PREMIUM',          
   CAST(0 AS DECIMAL(20,2)) AS 'RETAINED_PREMIUM_PRCC',            
   --SUM(CAR.PAYMENT_AMOUNT) AS 'DIRECT_CLAIM',
   SUM(CA.RESERVE_AMOUNT) AS 'DIRECT_CLAIM',          
   CAST(0 AS DECIMAL(20,2)) AS 'CLAIM_RECOVERY',          
   CAST(0 AS DECIMAL(20,2)) AS 'SALVAGE_AND_REIMBURSED',          
   CAST(0 AS DECIMAL(20,2)) AS 'NET_RETENTION',          
   CAST(0 AS DECIMAL(20,2)) AS 'EXPENSES_WITH_BENEFITS'          
             
  FROM POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK)         
  INNER JOIN CLM_CLAIM_INFO CCI WITH(NOLOCK)         
	 ON PCPL.CUSTOMER_ID				= CCI.CUSTOMER_ID        
	 AND PCPL.POLICY_VERSION_ID			= CCI.POLICY_VERSION_ID        
	 AND PCPL.POLICY_ID					= CCI.POLICY_ID 
	 AND PCPL.CO_INSURANCE				= 14547   --FOR ONLY DIRECT POLIYC CLAIM       
  INNER JOIN  CLM_ACTIVITY_RESERVE CAR WITH(NOLOCK)         
	 ON CAR.CLAIM_ID					= CCI.CLAIM_ID        
  INNER JOIN CLM_ACTIVITY CA WITH(NOLOCK)         
	 ON CA.CLAIM_ID						= CAR.CLAIM_ID        
	 AND CA.ACTIVITY_ID					= CAR.ACTIVITY_ID
	 AND CA.IS_ACTIVE ='Y'        
  INNER JOIN MNT_LOB_MASTER MLM WITH(NOLOCK)          
	 ON MLM.LOB_ID						= PCPL.POLICY_LOB        
  LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST MCSL WITH(NOLOCK)          
	   ON CAST(CCI.[STATE]  AS SMALLINT) = MCSL.STATE_ID  
	   AND  MCSL.COUNTRY_ID =5        
 -- WHERE MONTH(CCI.LOSS_DATE) = MONTH(@DATE_TEMP) 
	--AND   YEAR(CCI.LOSS_DATE) = YEAR(@DATE_TEMP)         
 --   --AND	  CA.IS_LEGAL ='Y' 
 --   AND   CAR.PAYMENT_AMOUNT > 0  
 --   AND	  CAR.OUTSTANDING > 0
 WHERE 
   CAR.CLAIM_ID IN ( SELECT CLAIM_ID FROM CLM_ACTIVITY CA2 WITH(NOLOCK)
								WHERE --CAR.CLAIM_ID = CA2.CLAIM_ID AND
								 CA2.ACTION_ON_PAYMENT = 165 
								 AND CA2.CREATED_DATETIME BETWEEN @FROM_DATETIME AND @TO_DATETIME
								)    
  GROUP BY MLM.SUSEP_LOB_CODE,MCSL.STATE_CODE,PCPL.CUSTOMER_ID,          
  PCPL.POLICY_ID,PCPL.POLICY_VERSION_ID,CCI.LOSS_DATE -- DOUBT IN GROUPING        
          
  UNION ALL             
--7294 CLAIM RECOVERY        
--BELOW ARE PENDING CONDITION FOR 7294        
  --NOTIFICATION OF LOSS;REAPPRAISAL;CANCELATION AND REOPEN BUT NOT INCLUDE SETTLEMENT.        
  --ADMINISTRATIVE INDEMNITY; ADMINISTRATIVE EXPENSE           
   SELECT           
   PCPL.CUSTOMER_ID,          
   PCPL.POLICY_ID,          
   PCPL.POLICY_VERSION_ID,          
   CCI.LOSS_DATE AS [REF_DATE],          
   MLM.SUSEP_LOB_CODE,          
   CAST(MCSL.STATE_CODE AS VARCHAR(2)) AS STATE_CODE,               
   ------TO FILL IN THE AMOUNT OF EACH CMPID CODE---             
   CAST(0 AS DECIMAL(20,2)) AS 'DIRECT_PREMIUM',          
   CAST(0 AS DECIMAL(20,2)) AS 'COINSURANCE_PREMIUM_ACCEPTED',          
   CAST(0 AS DECIMAL(20,2)) AS 'COINSURANCE_PREMIUM_GRANTED',          
   CAST(0 AS DECIMAL(20,2)) AS 'REINSURANCE_PREMIUM_GRANTED',          
   CAST(0 AS DECIMAL(20,2)) AS 'RETAINED_PREMIUM',         
   CAST(0 AS DECIMAL(20,2)) AS 'RETAINED_PREMIUM_PRCC',            
   CAST(0 AS DECIMAL(20,2)) AS 'DIRECT_CLAIM',          
   ABS(SUM(CACRB.RECOVERY_AMT)) AS 'CLAIM_RECOVERY',          
   CAST(0 AS DECIMAL(20,2)) AS 'SALVAGE_AND_REIMBURSED',          
   CAST(0 AS DECIMAL(20,2)) AS 'NET_RETENTION',          
   CAST(0 AS DECIMAL(20,2)) AS 'EXPENSES_WITH_BENEFITS'          
             
  FROM POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK)         
  INNER JOIN CLM_CLAIM_INFO CCI WITH(NOLOCK)         
	 ON PCPL.CUSTOMER_ID			= CCI.CUSTOMER_ID        
	 AND PCPL.POLICY_VERSION_ID		= CCI.POLICY_VERSION_ID        
	 AND PCPL.POLICY_ID				= CCI.POLICY_ID        
  INNER JOIN  CLM_ACTIVITY_RESERVE CAR WITH(NOLOCK)           
		ON CAR.CLAIM_ID				= CCI.CLAIM_ID 
 INNER JOIN CLM_ACTIVITY_CO_RI_BREAKDOWN CACRB  WITH(NOLOCK) 
     ON CACRB.CLAIM_ID				= CCI.CLAIM_ID
     AND CAR.ACTIVITY_ID			= CACRB.ACTIVITY_ID
     AND CAR.RESERVE_ID				= CACRB.RESERVE_ID
 INNER JOIN CLM_PRODUCT_COVERAGES CPC WITH(NOLOCK)
	ON CPC.CLAIM_ID					= CCI.CLAIM_ID
	AND CPC.IS_ACTIVE				='Y'
	AND CPC.IS_RISK_COVERAGE		='N'
	AND CAR.COVERAGE_ID				= CPC.CLAIM_COV_ID
INNER JOIN CLM_ACTIVITY CA WITH(NOLOCK)         
	ON CA.CLAIM_ID					= CAR.CLAIM_ID        
	AND CA.ACTIVITY_ID				= CAR.ACTIVITY_ID        
INNER JOIN MNT_LOB_MASTER MLM WITH(NOLOCK)          
	ON MLM.LOB_ID					= PCPL.POLICY_LOB        
	LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST MCSL WITH(NOLOCK)          
   ON CAST(CCI.[STATE]  AS SMALLINT) = MCSL.STATE_ID  
   AND  MCSL.COUNTRY_ID =5        
 WHERE /*MONTH(CCI.LOSS_DATE)			 = MONTH(@DATE_TEMP) AND          
     YEAR(CCI.LOSS_DATE)			= YEAR(@DATE_TEMP)*/
	 CCI.LOSS_DATE BETWEEN @FROM_DATETIME AND @TO_DATETIME 
     AND CACRB.RECOVERY_AMT < 0        
    --AND CA.IS_LEGAL ='Y'        
  GROUP BY MLM.SUSEP_LOB_CODE,MCSL.STATE_CODE,PCPL.CUSTOMER_ID,          
  PCPL.POLICY_ID,PCPL.POLICY_VERSION_ID,CCI.LOSS_DATE           
          
  UNION ALL             
--7295 SALVAGE_AND_REIMBURSED        
  --BELOW ARE PENDING CONDITION FOR 7294        
  --NOTIFICATION OF LOSS;REAPPRAISAL;CANCELATION AND REOPEN BUT NOT INCLUDE SETTLEMENT.        
  --ADMINISTRATIVE INDEMNITY; ADMINISTRATIVE EXPENSE         
   SELECT           
   PCPL.CUSTOMER_ID,          
   PCPL.POLICY_ID,          
   PCPL.POLICY_VERSION_ID,          
   CCI.LOSS_DATE AS [REF_DATE],          
   MLM.SUSEP_LOB_CODE,          
   CAST(MCSL.STATE_CODE AS VARCHAR(2)) AS STATE_CODE,               
   ------TO FILL IN THE AMOUNT OF EACH CMPID CODE---             
   CAST(0 AS DECIMAL(20,2)) AS 'DIRECT_PREMIUM',          
   CAST(0 AS DECIMAL(20,2)) AS 'COINSURANCE_PREMIUM_ACCEPTED',          
   CAST(0 AS DECIMAL(20,2)) AS 'COINSURANCE_PREMIUM_GRANTED',          
   CAST(0 AS DECIMAL(20,2)) AS 'REINSURANCE_PREMIUM_GRANTED',          
   CAST(0 AS DECIMAL(20,2)) AS 'RETAINED_PREMIUM',          
   CAST(0 AS DECIMAL(20,2)) AS 'RETAINED_PREMIUM_PRCC',            
   CAST(0 AS DECIMAL(20,2)) AS 'DIRECT_CLAIM',          
   CAST(0 AS DECIMAL(20,2)) AS 'CLAIM_RECOVERY',          
   SUM(CAR.PAYMENT_AMOUNT) AS 'SALVAGE_AND_REIMBURSED',          
   CAST(0 AS DECIMAL(20,2)) AS 'NET_RETENTION',          
   CAST(0 AS DECIMAL(20,2)) AS 'EXPENSES_WITH_BENEFITS'          
             
  FROM POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK)         
  INNER JOIN CLM_CLAIM_INFO CCI WITH(NOLOCK)         
		ON PCPL.CUSTOMER_ID = CCI.CUSTOMER_ID        
		AND PCPL.POLICY_VERSION_ID = CCI.POLICY_VERSION_ID        
		AND PCPL.POLICY_ID = CCI.POLICY_ID        
  INNER JOIN  CLM_ACTIVITY_RESERVE CAR WITH(NOLOCK)         
		ON CAR.CLAIM_ID = CCI.CLAIM_ID 
  INNER JOIN CLM_PRODUCT_COVERAGES CPC       
	  ON  CPC.CLAIM_ID = CAR.CLAIM_ID      
	  AND CPC.CLAIM_COV_ID = CAR.COVERAGE_ID      
	  AND CPC.IS_RISK_COVERAGE ='N'
	  AND CPC.IS_ACTIVE ='Y' 
	  AND CPC.COVERAGE_CODE_ID IN (50019,50021)  --ONLY FOR SALVAGE AND SUBROGATION    
         
  INNER JOIN CLM_ACTIVITY CA WITH(NOLOCK)         
 ON CA.CLAIM_ID = CAR.CLAIM_ID        
 AND CA.ACTIVITY_ID = CAR.ACTIVITY_ID        
  INNER JOIN MNT_LOB_MASTER MLM WITH(NOLOCK)          
 ON MLM.LOB_ID = PCPL.POLICY_LOB        
  LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST MCSL WITH(NOLOCK)          
   ON CAST(CCI.[STATE]  AS SMALLINT) = MCSL.STATE_ID  
   AND  MCSL.COUNTRY_ID =5        
  WHERE /*MONTH(CCI.LOSS_DATE) = MONTH(@DATE_TEMP) AND          
     YEAR(CCI.LOSS_DATE) = YEAR(@DATE_TEMP)*/
	 CCI.LOSS_DATE BETWEEN @FROM_DATETIME AND @TO_DATETIME         
    --AND CA.IS_LEGAL ='Y'
     AND CAR.PAYMENT_AMOUNT > 0         
  GROUP BY MLM.SUSEP_LOB_CODE,MCSL.STATE_CODE,PCPL.CUSTOMER_ID,          
  PCPL.POLICY_ID,PCPL.POLICY_VERSION_ID,CCI.LOSS_DATE -- DOUBT IN GROUPING                
                 
             
 ) AS TABLE_1          
            
  INNER JOIN POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK)                
   ON PCPL.CUSTOMER_ID = TABLE_1.CUSTOMER_ID          
   AND PCPL.POLICY_ID = TABLE_1.POLICY_ID          
   AND PCPL.POLICY_VERSION_ID = TABLE_1.POLICY_VERSION_ID          
  INNER JOIN MNT_LOB_MASTER MLM WITH(NOLOCK)                
   ON PCPL.POLICY_LOB = MLM.LOB_ID            
  INNER JOIN POL_POLICY_PROCESS PPP WITH(NOLOCK)                
   ON --PPP.PROCESS_ID = PCPL.PPROCESS_ID    AND            
   PPP.CUSTOMER_ID = PCPL.CUSTOMER_ID                
   AND PPP.POLICY_ID = PCPL.POLICY_ID                
   AND PPP.NEW_POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID    
   --AND PPP.PROCESS_ID IN (25,18,12,14,37)  
   AND PPP.PROCESS_STATUS = 'COMPLETE'
   LEFT OUTER JOIN   POL_APPLICANT_LIST PAL WITH (NOLOCK)
   ON --CAL.APPLICANT_ID =PAL.APPLICANT_ID AND
	  PCPL.CUSTOMER_ID = PAL.CUSTOMER_ID
		AND PCPL.POLICY_ID = PAL.POLICY_ID
		AND PCPL.POLICY_VERSION_ID = PAL.POLICY_VERSION_ID
		AND PAL.IS_PRIMARY_APPLICANT =1 
   LEFT OUTER JOIN CLT_APPLICANT_LIST CAL WITH (NOLOCK)	
	 ON CAL.APPLICANT_ID =PAL.APPLICANT_ID  
	 AND CAL.CUSTOMER_ID =PAL.CUSTOMER_ID                
   ORDER BY MLM.SUSEP_LOB_CODE,TABLE_1.REF_DATE, TABLE_1.STATE_CODE --TABLE_1.CMPID          
           
   --UPDATE FOR RETAINED_PREMIUM          
   UPDATE #TEMP_TABLE             
   SET RETAINED_PREMIUM  = (ISNULL(DIRECT_PREMIUM,0) + ISNULL(COINSURANCE_PREMIUM_ACCEPTED,0)-          
       ISNULL(COINSURANCE_PREMIUM_GRANTED,0)- ISNULL(REINSURANCE_PREMIUM_GRANTED,0))   
         
   --UPDATE FOR  RETAINED_PREMIUM_PRCC  
   UPDATE #TEMP_TABLE             
   SET RETAINED_PREMIUM_PRCC  = (ISNULL(DIRECT_PREMIUM,0) + ISNULL(COINSURANCE_PREMIUM_ACCEPTED,0)-          
       ISNULL(COINSURANCE_PREMIUM_GRANTED,0)- ISNULL(REINSURANCE_PREMIUM_GRANTED,0))          
   --UPDATE FOR NET_RETENTION           
   UPDATE #TEMP_TABLE             
   SET NET_RETENTION  = (ISNULL(DIRECT_CLAIM,0) - ISNULL(CLAIM_RECOVERY,0)- ISNULL(SALVAGE_AND_REIMBURSED,0))         
    
	UPDATE A
   SET A.STATE_CODE =  B.STATE_CODE
   FROM #TEMP_TABLE A WITH(NOLOCK)
	LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST B WITH(NOLOCK)                
   ON CAST(A.[STATE]  AS VARCHAR) =  CAST(B.STATE_ID  AS VARCHAR)       
   AND B.COUNTRY_ID =5 
   WHERE A.STATE_CODE IS NULL
            
     --select * from #TEMP_TABLE       
             
   /*SELECT SUSEP_LOB_CODE,STATE_CODE,          
   --REF_DATE,--CMPID,          
   SUM(DIRECT_PREMIUM) AS DIRECT_PREMIUM ,          
 SUM(COINSURANCE_PREMIUM_ACCEPTED) AS COINSURANCE_PREMIUM_ACCEPTED,          
 SUM(COINSURANCE_PREMIUM_GRANTED) AS COINSURANCE_PREMIUM_GRANTED,          
 SUM(REINSURANCE_PREMIUM_GRANTED) AS REINSURANCE_PREMIUM_GRANTED,           
    SUM(RETAINED_PREMIUM) AS RETAINED_PREMIUM          
    FROM #TEMP_TABLE GROUP BY SUSEP_LOB_CODE,STATE_CODE--,REF_DATE--,CMPID*/          
              
             
    SELECT ENTCODIGO,CONVERT(VARCHAR,MRFMESANO,103) AS MRFMESANO,RAMCODIGO,          
    ISNULL(UFSIGLA,'') AS UFSIGLA,      
   CASE WHEN  CMPID ='7287' THEN 'Prêmio Direto'      
  WHEN CMPID ='7288' THEN 'Prêmio Cosseguro Aceito'      
  WHEN CMPID ='7289' THEN 'Prêmio Cosseguro Cedido'      
  WHEN CMPID ='7290' THEN 'Prêmio Resseguro Cedido'      
  WHEN CMPID ='7291' THEN 'Prêmio Retido'      
  WHEN CMPID ='7292' THEN 'Prêmio Retido para Cálculo de Capital (PRCC)'      
  WHEN CMPID ='7293' THEN 'Sinistro Direto'      
  WHEN CMPID ='7294' THEN 'Recuperação de Sinistro'      
  WHEN CMPID ='7295' THEN 'Salvados Ressarcidos'      
  WHEN CMPID ='7296' THEN 'Retenção Líquida'      
  WHEN CMPID ='7309' THEN 'Despesas com Benefícios' END AS CMPID, 
       
    --dbo.fun_FormatCurrency(SUM(VDRVALOR),2) AS VDRVALOR,
    CASE WHEN SUM(ISNULL(VDRVALOR,0)) < 0 THEN 
		 '-'+ RIGHT('000000000000'+REPLACE(REPLACE(ISNULL(CONVERT(VARCHAR,SUM(ISNULL(VDRVALOR,0.00))),''),'-','')
													,'.',','),12)
    ELSE RIGHT('0000000000000'+REPLACE(ISNULL(CONVERT(VARCHAR,SUM(ISNULL(VDRVALOR,0.00))),''),'.',','),13) 
    END AS VDRVALOR,
    GRACODIGO           
 FROM              
    (    
  SELECT   --7287                    
   '05045' AS 'ENTCODIGO', --1          
                
   ------REFERENCE_MONTH---            
    @DATE_TEMP AS 'MRFMESANO',          
              
    --GROUP LINE--          
   SUBSTRING(ISNULL(SUSEP_LOB_CODE,''),3,4) AS 'RAMCODIGO',                         
   STATE_CODE AS UFSIGLA,          
                     
   '7287' AS 'CMPID',          
   ---Amount---              
   DIRECT_PREMIUM AS VDRVALOR,          
                
   ----LOB----             
   SUBSTRING(ISNULL(SUSEP_LOB_CODE,''),1,2) AS 'GRACODIGO'           
   FROM #TEMP_TABLE          
                
               
                
   UNION            
               
   SELECT --7288          
                
   '05045' AS 'ENTCODIGO', --1             
   ------REFERENCE_MONTH---            
    @DATE_TEMP AS 'MRFMESANO',          
   SUBSTRING(ISNULL(SUSEP_LOB_CODE,''),3,4) AS 'RAMCODIGO',                         
   STATE_CODE AS UFSIGLA,          
                
   '7288' AS 'CMPID',          
   ---Amount------          
   COINSURANCE_PREMIUM_ACCEPTED AS VDRVALOR,          
                
   SUBSTRING(ISNULL(SUSEP_LOB_CODE,''),1,2) AS 'GRACODIGO'          
   FROM #TEMP_TABLE          
                
   UNION           
                
   SELECT   --7289          
   '05045' AS 'ENTCODIGO', --1             
   ------REFERENCE_MONTH---            
    @DATE_TEMP AS 'MRFMESANO',          
   SUBSTRING(ISNULL(SUSEP_LOB_CODE,''),3,4) AS 'RAMCODIGO',                         
   STATE_CODE AS UFSIGLA,          
                
   '7289' AS 'CMPID',          
   ---Amount---          
   COINSURANCE_PREMIUM_GRANTED AS VDRVALOR,          
   SUBSTRING(ISNULL(SUSEP_LOB_CODE,''),1,2) AS 'GRACODIGO'          
                
   FROM #TEMP_TABLE          
                
   UNION           
                
   SELECT  --7290          
   '05045' AS 'ENTCODIGO', --1             
   ------REFERENCE_MONTH---            
    @DATE_TEMP AS 'MRFMESANO',          
   SUBSTRING(ISNULL(SUSEP_LOB_CODE,''),3,4) AS 'RAMCODIGO',          
   STATE_CODE AS UFSIGLA,          
             
   '7290' AS 'CMPID',          
   ---Amount---          
   REINSURANCE_PREMIUM_GRANTED AS VDRVALOR,          
   SUBSTRING(ISNULL(SUSEP_LOB_CODE,''),1,2) AS 'GRACODIGO'          
   FROM #TEMP_TABLE          
             
   UNION          
             
   SELECT  --7291          
   '05045' AS 'ENTCODIGO', --1             
   ------REFERENCE_MONTH---            
    @DATE_TEMP AS 'MRFMESANO',          
   SUBSTRING(ISNULL(SUSEP_LOB_CODE,''),3,4) AS 'RAMCODIGO',          
   STATE_CODE AS UFSIGLA,          
             
   '7291' AS 'CMPID',          
   ---Amount---          
   RETAINED_PREMIUM AS VDRVALOR,          
   SUBSTRING(ISNULL(SUSEP_LOB_CODE,''),1,2) AS 'GRACODIGO'          
   FROM #TEMP_TABLE          
             
   UNION          
             
   SELECT  --7292(RETAINED PREMIUM FOR CAPITAL)          
   '05045' AS 'ENTCODIGO', --1             
   ------REFERENCE_MONTH---            
    @DATE_TEMP AS 'MRFMESANO',          
   SUBSTRING(ISNULL(SUSEP_LOB_CODE,''),3,4) AS 'RAMCODIGO',          
   STATE_CODE AS UFSIGLA,          
             
   '7292' AS 'CMPID',          
   ---Amount---          
   RETAINED_PREMIUM_PRCC AS VDRVALOR,          
   SUBSTRING(ISNULL(SUSEP_LOB_CODE,''),1,2) AS 'GRACODIGO'          
   FROM #TEMP_TABLE         
           
           
   UNION          
             
   SELECT  --7293 DIRECT CLAIM          
   '05045' AS 'ENTCODIGO', --1             
   ------REFERENCE_MONTH---            
    @DATE_TEMP AS 'MRFMESANO',          
   SUBSTRING(ISNULL(SUSEP_LOB_CODE,''),3,4) AS 'RAMCODIGO',          
   STATE_CODE AS UFSIGLA,          
             
   '7293' AS 'CMPID',          
   ---Amount---          
   DIRECT_CLAIM AS VDRVALOR,          
   SUBSTRING(ISNULL(SUSEP_LOB_CODE,''),1,2) AS 'GRACODIGO'          
   FROM #TEMP_TABLE         
           
   UNION          
             
   SELECT  --7294 CLAIM_RECOVERY          
   '05045' AS 'ENTCODIGO', --1             
   ------REFERENCE_MONTH---            
    @DATE_TEMP AS 'MRFMESANO',          
   SUBSTRING(ISNULL(SUSEP_LOB_CODE,''),3,4) AS 'RAMCODIGO',          
   STATE_CODE AS UFSIGLA,         
             
   '7294' AS 'CMPID',          
   ---Amount---          
   CLAIM_RECOVERY AS VDRVALOR,          
   SUBSTRING(ISNULL(SUSEP_LOB_CODE,''),1,2) AS 'GRACODIGO'          
   FROM #TEMP_TABLE         
   UNION          
             
   SELECT  --7295(SALVAGE_AND_REIMBURSED)            
   '05045' AS 'ENTCODIGO', --1             
   ------REFERENCE_MONTH---            
    @DATE_TEMP AS 'MRFMESANO',          
   SUBSTRING(ISNULL(SUSEP_LOB_CODE,''),3,4) AS 'RAMCODIGO',          
   STATE_CODE AS UFSIGLA,               
             
   '7295' AS 'SALVAGE_AND_REIMBURSED',          
   ---Amount---          
   SALVAGE_AND_REIMBURSED AS VDRVALOR,          
   SUBSTRING(ISNULL(SUSEP_LOB_CODE,''),1,2) AS 'GRACODIGO'          
   FROM #TEMP_TABLE         
  UNION          
             
   SELECT  --7296 NET_RETENTION          
   '05045' AS 'ENTCODIGO', --1             
   ------REFERENCE_MONTH---            
    @DATE_TEMP AS 'MRFMESANO',          
   SUBSTRING(ISNULL(SUSEP_LOB_CODE,''),3,4) AS 'RAMCODIGO',          
   STATE_CODE AS UFSIGLA,          
             
   '7296' AS 'CMPID',          
   ---Amount---          
   NET_RETENTION AS VDRVALOR,          
   SUBSTRING(ISNULL(SUSEP_LOB_CODE,''),1,2) AS 'GRACODIGO'          
   FROM #TEMP_TABLE         
            
   UNION          
             
   SELECT  --7309 EXPENSES_WITH_BENEFITS          
   '05045' AS 'ENTCODIGO', --1             
   ------REFERENCE_MONTH---            
    @DATE_TEMP AS 'MRFMESANO',          
   SUBSTRING(ISNULL(SUSEP_LOB_CODE,''),3,4) AS 'RAMCODIGO',          
   STATE_CODE AS UFSIGLA,          
             
   '7309' AS 'CMPID',          
   ---Amount---          
   EXPENSES_WITH_BENEFITS AS VDRVALOR,          
   SUBSTRING(ISNULL(SUSEP_LOB_CODE,''),1,2) AS 'GRACODIGO'          
   FROM #TEMP_TABLE            
                       
              
     ) #TABLE2          
               
     WHERE #TABLE2.VDRVALOR <> 0          
               
   GROUP BY UFSIGLA,RAMCODIGO,GRACODIGO,ENTCODIGO,MRFMESANO,CMPID          
     ORDER BY UFSIGLA,RAMCODIGO,GRACODIGO          
               
   END       
          
         
         
         
         
GO

