IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetPDFUmbrella_AutoRecVehicleDetails]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetPDFUmbrella_AutoRecVehicleDetails]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER OFF
GO





CREATE   PROCEDURE dbo.Proc_GetPDFUmbrella_AutoRecVehicleDetails
(
	@CUSTOMERID 		int,
	@POLID 	             	int,
	@VERSIONID 		int,
	@CALLEDFROM		VARCHAR(20)
)
AS
BEGIN
	IF (@CALLEDFROM='APPLICATION')
	BEGIN
		SELECT INSURED_VEH_NUMBER, VEHICLE_YEAR, 
		CASE MAKE
			WHEN '' THEN ''
			ELSE MAKE +'/'
		END + MODEL AS MAKE_MODEL
		
		FROM APP_UMBRELLA_VEHICLE_INFO
		WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@POLID AND APP_VERSION_ID=@VERSIONID

	
		SELECT COMPANY_ID_NUMBER,YEAR,
		CASE MLV.LOOKUP_VALUE_DESC 
			WHEN '' THEN ''
			ELSE MLV.LOOKUP_VALUE_DESC +'/'
		END +
		CASE MAKE 
			WHEN '' THEN ''
			ELSE MAKE +'/'
		END + MODEL AS TYPEMAKEMODEL
		
		FROM 
		APP_UMBRELLA_RECREATIONAL_VEHICLES
		LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV ON MLV.LOOKUP_UNIQUE_ID = VEHICLE_TYPE
		WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@POLID AND APP_VERSION_ID=@VERSIONID

		SELECT BOAT_NO,YEAR,
		CASE MLV.LOOKUP_VALUE_DESC
			WHEN '' THEN ''
			WHEN NULL THEN '' 
			ELSE MLV.LOOKUP_VALUE_DESC+'/'
		END + 
		CASE MAKE
			WHEN '' THEN ''
			WHEN NULL THEN ''
			ELSE MAKE+'/'
		END +
		CASE MODEL
			WHEN '' THEN ''
			WHEN NULL THEN ''
			ELSE MODEL
		END AS TYPEMAKEMODEL,LENGTH, WATERCRAFT_HORSE_POWER,MAX_SPEED,INSURING_VALUE, MLV1.LOOKUP_VALUE_DESC WATERS_NAVIGATED
		FROM APP_UMBRELLA_WATERCRAFT_INFO
		LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV ON MLV.LOOKUP_UNIQUE_ID = TYPE_OF_WATERCRAFT
		LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV1 ON MLV1.LOOKUP_UNIQUE_ID = WATERS_NAVIGATED AND MLV1.LOOKUP_ID=972
		WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@POLID AND APP_VERSION_ID=@VERSIONID

		
		
		SELECT DRIVER_ID,
		CASE DRIVER_FNAME
			WHEN '' THEN ''
			WHEN NULL THEN ''
			ELSE DRIVER_FNAME+', '
		END +
		CASE DRIVER_MNAME
			WHEN '' THEN ''
			WHEN NULL THEN ''
			ELSE DRIVER_MNAME+', '
		END +
		CASE DRIVER_LNAME
			WHEN '' THEN ''
			WHEN NULL THEN ''
			ELSE DRIVER_LNAME
		END AS OPERATOR_NAME, DRIVER_SEX, DRIVER_MART_STAT, convert(varchar(10),DATE_LICENSED,101) as DATE_LICENSED, 
		CASE DRIVER_DRIV_LIC
			WHEN '' THEN ''
			WHEN NULL THEN ''
			ELSE DRIVER_DRIV_LIC+'/'+DRIVER_LIC_STATE
		END LIC_STATE, DRIVER_SSN, VEHICLE_ID ASSIGNED_VEHICLE, LOOKUP_VALUE_DESC DRIVER_TYPE,convert(varchar(10),DRIVER_DOB,101) DRIVER_DOB
		FROM APP_UMBRELLA_DRIVER_DETAILS 
		LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV ON MLV.LOOKUP_UNIQUE_ID = DRIVER_DRIV_TYPE AND LOOKUP_ID=606
		
		WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@POLID AND APP_VERSION_ID=@VERSIONID

	

	END
	ELSE IF (@CALLEDFROM='POLICY')
	BEGIN
		SELECT INSURED_VEH_NUMBER, VEHICLE_YEAR, 
		CASE MAKE
			WHEN '' THEN ''
			ELSE MAKE +'/'
		END + MODEL AS MAKE_MODEL
		
		FROM POL_UMBRELLA_VEHICLE_INFO
		WHERE CUSTOMER_ID=@CUSTOMERID AND POLICY_ID=@POLID AND POLICY_VERSION_ID=@VERSIONID
	
		SELECT COMPANY_ID_NUMBER,YEAR,
		CASE MLV.LOOKUP_VALUE_DESC 
			WHEN '' THEN ''
			ELSE MLV.LOOKUP_VALUE_DESC +'/'
		END +
		CASE MAKE 
			WHEN '' THEN ''
			ELSE MAKE +'/'
		END + MODEL AS TYPEMAKEMODEL
		
		FROM 
		POL_UMBRELLA_RECREATIONAL_VEHICLES
		LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV ON MLV.LOOKUP_UNIQUE_ID = VEHICLE_TYPE
		WHERE CUSTOMER_ID=@CUSTOMERID AND POLICY_ID=@POLID AND POLICY_VERSION_ID=@VERSIONID


		SELECT BOAT_NO,YEAR,
		CASE MLV.LOOKUP_VALUE_DESC
			WHEN '' THEN ''
			WHEN NULL THEN '' 
			ELSE MLV.LOOKUP_VALUE_DESC+'/'
		END + 
		CASE MAKE
			WHEN '' THEN ''
			WHEN NULL THEN ''
			ELSE MAKE+'/'
		END +
		CASE MODEL
			WHEN '' THEN ''
			WHEN NULL THEN ''
			ELSE MODEL
		END AS TYPEMAKEMODEL,LENGTH, WATERCRAFT_HORSE_POWER,MAX_SPEED,INSURING_VALUE, MLV1.LOOKUP_VALUE_DESC WATERS_NAVIGATED
		FROM POL_UMBRELLA_WATERCRAFT_INFO
		LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV ON MLV.LOOKUP_UNIQUE_ID = TYPE_OF_WATERCRAFT
		LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV1 ON MLV1.LOOKUP_UNIQUE_ID = WATERS_NAVIGATED AND MLV1.LOOKUP_ID=972
		WHERE CUSTOMER_ID=@CUSTOMERID AND POLICY_ID=@POLID AND POLICY_VERSION_ID=@VERSIONID

		

		SELECT DRIVER_ID,
		CASE DRIVER_FNAME
			WHEN '' THEN ''

			WHEN NULL THEN ''
			ELSE DRIVER_FNAME+', '
		END +
		CASE DRIVER_MNAME
			WHEN '' THEN ''
			WHEN NULL THEN ''
			ELSE DRIVER_MNAME+', '
		END +
		CASE DRIVER_LNAME
			WHEN '' THEN ''
			WHEN NULL THEN ''
			ELSE DRIVER_LNAME
		END AS OPERATOR_NAME, DRIVER_SEX, DRIVER_MART_STAT, convert(varchar(10),DATE_LICENSED,101) as DATE_LICENSED, 
		CASE DRIVER_DRIV_LIC
			WHEN '' THEN ''
			WHEN NULL THEN ''
			ELSE DRIVER_DRIV_LIC+'/'+DRIVER_LIC_STATE
		END LIC_STATE, DRIVER_SSN, VEHICLE_ID ASSIGNED_VEHICLE, LOOKUP_VALUE_DESC DRIVER_TYPE,convert(varchar(20),DRIVER_DOB,101) DRIVER_DOB
		FROM POL_UMBRELLA_DRIVER_DETAILS 
		LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV ON MLV.LOOKUP_UNIQUE_ID = DRIVER_DRIV_TYPE AND LOOKUP_ID=606
		
		WHERE CUSTOMER_ID=@CUSTOMERID AND POLICY_ID=@POLID AND POLICY_VERSION_ID=@VERSIONID
	
	END
END





GO

