IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_UpdateWrittenEnforcePremiumSplit]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_UpdateWrittenEnforcePremiumSplit]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

 --begin tran  
 --drop proc dbo.Proc_UpdateWrittenEnforcePremiumSplit                  
 --go  
/*----------------------------------------------------------                              
Proc Name       : dbo.Proc_UpdateWrittenEnforcePremiumSplit              
Created by      :  pravesh K. Cahndel                
Date            : 7 dec 2007                                      
Purpose         : To Update Enforce and Written Premium in Premium Split Details  table            
Revison History :                              
Used In         : Wolverine                              
------------------------------------------------------------                              
Date     Review By          Comments                              
------   ------------       -------------------------*/                              
--drop proc dbo.Proc_UpdateWrittenEnforcePremiumSplit 2156,330,3,2,14                 
create PROC [dbo].[Proc_UpdateWrittenEnforcePremiumSplit]              
(                              
 @CUSTOMER_ID int,              
 @POLICY_ID int,             
 @POLICY_VERSION_ID smallint,  
 @POLICY_BASE_VERSION_ID    smallint=null,  
 @PROCESS_TYPE  nvarchar(10)            
)                             
  
as  
BEGIN  
declare @TOTAL_RISK_PREMIUM numeric  
declare @TOTAL_PREMIUM numeric  
declare @CANCELATION_RETURN_PREM numeric  
declare @RISK_ID int  
declare @SPLIT_UNIQUE_ID int  
declare @UNIQUE_ID int  
declare @POL_EFFECTIVE_DATETIME datetime  
declare @POL_EXPIRY_DATETIME datetime  
declare @POL_TOTAL_PERIOD INT  
DECLARE @UNIQUE_SPLIT_ID_NEW INT  
declare @COMPONENT_CODE varchar(50)  
declare @COV_ID varchar(5)  
DECLARE @TOTAL_ENDOS NUMERIC(25,4)  
DECLARE @SYS_MIN_ENDOS NUMERIC(25,4)  
  
  
declare @TOTAL numeric(25,4),  
 @DEFFERENCE numeric(25,4),  
 @SPLIT_UNIQUE_ID_MAX_TOTAL int,  
 @MAX_PREM_SPLIT_ID int,  
   @TOTAL_COMP NUMERIC(25,4),  
 @EPR_MONTH  VARCHAR(2),  
 @EPR_YEAR VARCHAR(4)  
  
SET @CANCELATION_RETURN_PREM = 0  
  
DECLARE @APP_ID INT,@APP_VERSION_ID SMALLINT,@RISK_TYPE NVARCHAR(10)  
--CANCELLATION COMMIT   
--29  Commit Rescind Process  
IF (@PROCESS_TYPE='12' or @PROCESS_TYPE='29' )  
BEGIN  
DECLARE @CANC_EFF_DATE DATETIME  
SELECT @CANCELATION_RETURN_PREM=isnull(RETURN_PREMIUM,0) + isnull(WRITTEN_OFF_PREMIUM,0),  
  @CANC_EFF_DATE=EFFECTIVE_DATETIME  
  FROM POL_POLICY_PROCESS with(nolock) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND NEW_POLICY_VERSION_ID=@POLICY_VERSION_ID   
  AND (PROCESS_ID = @PROCESS_TYPE OR (PROCESS_ID IN (2,28) AND PROCESS_STATUS='PENDING') )  
IF (DATEDIFF(DD,@CANC_EFF_DATE,GETDATE())<0)  
 BEGIN  
  SET @EPR_MONTH=MONTH(@CANC_EFF_DATE)  
  SET @EPR_YEAR=YEAR(@CANC_EFF_DATE)  
 END  
ELSE  
 BEGIN  
  SET @EPR_MONTH=MONTH(GETDATE())  
  SET @EPR_YEAR=YEAR(GETDATE())  
 END  
  
--inserting new Entry in CLT_PREMIUM_SPLIT for new pol version  
SELECT * INTO #CLT_PREMIUM_SPLIT FROM CLT_PREMIUM_SPLIT  
 WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_BASE_VERSION_ID  
  UPDATE #CLT_PREMIUM_SPLIT SET POLICY_VERSION_ID=@POLICY_VERSION_ID  
  
DECLARE CR_SPLIT CURSOR FOR  
 SELECT UNIQUE_ID,APP_ID,APP_VERSION_ID,RISK_ID,RISK_TYPE FROM #CLT_PREMIUM_SPLIT  
OPEN CR_SPLIT  
FETCH NEXT  FROM CR_SPLIT into @SPLIT_UNIQUE_ID,@APP_ID,@APP_VERSION_ID,@RISK_ID,@RISK_TYPE   
 WHILE @@FETCH_STATUS = 0  
 BEGIN  
  SELECT @UNIQUE_ID = MAX(UNIQUE_ID)+1  FROM CLT_PREMIUM_SPLIT  
  INSERT INTO CLT_PREMIUM_SPLIT ( UNIQUE_ID,CUSTOMER_ID,APP_ID,APP_VERSION_ID,POLICY_ID,POLICY_VERSION_ID,RISK_ID,RISK_TYPE,PROCESS_TYPE,ACTL_POLICY_VERSION_ID)   
   VALUES(@UNIQUE_ID,@CUSTOMER_ID, @APP_ID,@APP_VERSION_ID,@POLICY_ID,@POLICY_VERSION_ID,@RISK_ID,@RISK_TYPE,@PROCESS_TYPE,@POLICY_VERSION_ID)   
    
  --inserting new Entry in CLT_PREMIUM_SPLIT_DETAILS for new pol version and for this Risk  
  select * into #CLT_PREMIUM_SPLIT_DETAILS from CLT_PREMIUM_SPLIT_DETAILS where SPLIT_UNIQUE_ID=@SPLIT_UNIQUE_ID  
   update #CLT_PREMIUM_SPLIT_DETAILS set SPLIT_UNIQUE_ID =@UNIQUE_ID,  
        EPR_MONTH =@EPR_MONTH,  
        EPR_YEAR =@EPR_YEAR  
  insert into CLT_PREMIUM_SPLIT_DETAILS select * from #CLT_PREMIUM_SPLIT_DETAILS  
  drop table #CLT_PREMIUM_SPLIT_DETAILS    
  
 FETCH NEXT  FROM CR_SPLIT into @SPLIT_UNIQUE_ID,@APP_ID,@APP_VERSION_ID,@RISK_ID,@RISK_TYPE   
 END  
CLOSE CR_SPLIT  
DEALLOCATE CR_SPLIT  
/* Commented on 22 June as Pro-rate on Risk Lavel- discussed with Rajan  */  
/* UNCommented on 22 JuLY MOVE TO OLD LOGIC AS DISCUSSDED WITH RAJAN  */  
--SELECT @CANCELATION_RETURN_PREM  
DECLARE CR_SPLIT_DETAILS CURSOR FOR  
 select RISK_ID,UNIQUE_ID  from CLT_PREMIUM_SPLIT with(nolock) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  
OPEN CR_SPLIT_DETAILS  
 FETCH NEXT  FROM CR_SPLIT_DETAILS into @RISK_ID , @SPLIT_UNIQUE_ID  
 WHILE @@FETCH_STATUS = 0  
 BEGIN  
   
  set @TOTAL_RISK_PREMIUM =0  
  set @TOTAL_PREMIUM =0   
  SELECT @TOTAL_PREMIUM = sum(case when isnumeric(COMP_ACT_PREMIUM)=0 then 0 else isnull(cast(COMP_ACT_PREMIUM as numeric(25,4)),0) end)  
    FROM CLT_PREMIUM_SPLIT_DETAILS   
     WHERE  SPLIT_UNIQUE_ID   --=@SPLIT_UNIQUE_ID   
     in (select UNIQUE_ID from CLT_PREMIUM_SPLIT WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_BASE_VERSION_ID)  
     AND COMPONENT_CODE in ('SUMTOTAL','SUMTOTAL_S','BOAT_UNATTACH_PREMIUM','BOAT_UNATTACH_INCLUDE')  
  SELECT @TOTAL_RISK_PREMIUM = sum(case when isnumeric(COMP_ACT_PREMIUM)=0 then 0 else isnull(cast(COMP_ACT_PREMIUM as numeric(25,4)),0) end)  
    FROM CLT_PREMIUM_SPLIT_DETAILS   
     WHERE  SPLIT_UNIQUE_ID=@SPLIT_UNIQUE_ID   
   AND COMPONENT_CODE in ('SUMTOTAL','SUMTOTAL_S','BOAT_UNATTACH_PREMIUM','BOAT_UNATTACH_INCLUDE')  
  if (@TOTAL_PREMIUM!=0)  
  UPDATE CLT_PREMIUM_SPLIT_DETAILS   
   SET COMP_ACT_PREMIUM= convert(varchar,case when isnumeric(COMP_ACT_PREMIUM)=0 then 0 ELSE isnull(cast(COMP_ACT_PREMIUM as numeric(25,4)),0)*-1 end),  
    WRITTEN_PREM =convert(varchar,cast(-(@CANCELATION_RETURN_PREM * ISNULL(CAST( case when isnumeric(COMP_ACT_PREMIUM)=0 then 0 else convert(numeric,COMP_ACT_PREMIUM) end AS NUMERIC(25,4)),0))/@TOTAL_PREMIUM as numeric(25,2))) ,  
       CHANGE_INFORCE_PREM=convert(varchar,cast(-(@CANCELATION_RETURN_PREM * ISNULL(CAST( case when isnumeric(COMP_ACT_PREMIUM)=0 then 0 else convert(numeric,COMP_ACT_PREMIUM) end AS NUMERIC(25,4)),0))/@TOTAL_PREMIUM as numeric(25,2)))  
     --CHANGE_INFORCE_PREM=convert(varchar,cast((@CANCELATION_RETURN_PREM * @TOTAL_RISK_PREMIUM)/@TOTAL_PREMIUM as numeric(14,2)))  
      WHERE SPLIT_UNIQUE_ID=@SPLIT_UNIQUE_ID   
    
    FETCH NEXT  FROM CR_SPLIT_DETAILS into @RISK_ID , @SPLIT_UNIQUE_ID  
 END  
 CLOSE CR_SPLIT_DETAILS  
 DEALLOCATE CR_SPLIT_DETAILS  
drop table #CLT_PREMIUM_SPLIT  
--making Rounding adjustment   
select @TOTAL=SUM(case when isnumeric(WRITTEN_PREM)=0 then 0 else cast(WRITTEN_PREM as numeric(25,4)) END)  
  from CLT_PREMIUM_SPLIT_DETAILS   
  where  SPLIT_UNIQUE_ID in (  
   select UNIQUE_ID from CLT_PREMIUM_SPLIT    
   WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  
   )  
 --and component_code = 'SUMTOTAL'  
 and component_code in('SUMTOTAL','SUMTOTAL_S','BOAT_UNATTACH_PREMIUM')  
  
set @DEFFERENCE=@TOTAL-round(@TOTAL,0)  
select TOP 1  @SPLIT_UNIQUE_ID_MAX_TOTAL =  SPLIT_UNIQUE_ID ,@MAX_PREM_SPLIT_ID = SPLIT_ID  
  from CLT_PREMIUM_SPLIT_DETAILS   
  where  SPLIT_UNIQUE_ID in (  
   select UNIQUE_ID from CLT_PREMIUM_SPLIT    
   WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  
   )  
 and component_code='SUMTOTAL'  
 ORDER BY abs(CASE WHEN ISNUMERIC(WRITTEN_PREM)=0 THEN 0 ELSE CAST(WRITTEN_PREM AS NUMERIC(25,4)) END) DESC  
  
--ADJUSTING SUMTOTAL component  
UPDATE CLT_PREMIUM_SPLIT_DETAILS   
 SET  WRITTEN_PREM =CONVERT(VARCHAR, CASE WHEN ISNUMERIC(WRITTEN_PREM)=0 THEN 0  ELSE CAST(WRITTEN_PREM AS NUMERIC(25,4)) END - @DEFFERENCE)  
 WHERE SPLIT_UNIQUE_ID=@SPLIT_UNIQUE_ID_MAX_TOTAL  
 AND SPLIT_ID=@MAX_PREM_SPLIT_ID  
 AND  component_code='SUMTOTAL'  
  
--TOTAL OF INDIVIDUAL COMPONENT  
select @TOTAL_COMP=SUM(case when isnumeric(WRITTEN_PREM)=0 then 0 else cast(WRITTEN_PREM as numeric(25,4)) END)  
  from CLT_PREMIUM_SPLIT_DETAILS   
  where  SPLIT_UNIQUE_ID in (  
   select UNIQUE_ID from CLT_PREMIUM_SPLIT    
   WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  
   )  
and component_code NOT in('SUMTOTAL')--,'SUMTOTAL_S','BOAT_UNATTACH_PREMIUM') commented as SUMTOTAL_S','BOAT_UNATTACH_PREMIUM also has component premium  
  
SET @DEFFERENCE = @TOTAL_COMP- round(@TOTAL,0)   
  
SET @MAX_PREM_SPLIT_ID=0  
SELECT TOP 1 @MAX_PREM_SPLIT_ID = SPLIT_ID FROM  CLT_PREMIUM_SPLIT_DETAILS   
 WHERE SPLIT_UNIQUE_ID=@SPLIT_UNIQUE_ID_MAX_TOTAL  
 --AND  component_code<>'SUMTOTAL'  
and component_code NOT in('SUMTOTAL','SUMTOTAL_S','BOAT_UNATTACH_PREMIUM')  
 ORDER BY abs(CASE WHEN ISNUMERIC(WRITTEN_PREM)=0 THEN 0 ELSE CAST(WRITTEN_PREM AS NUMERIC(25,4)) END) DESC  
--select @MAX_PREM_SPLIT_ID  
--ADJUSTING MAX COMPONENT OF THE SAME RISK   
UPDATE CLT_PREMIUM_SPLIT_DETAILS   
 SET  WRITTEN_PREM = CONVERT(VARCHAR,CASE WHEN ISNUMERIC(WRITTEN_PREM)=0 THEN 0  ELSE CAST(WRITTEN_PREM AS NUMERIC(25,4)) END - @DEFFERENCE)  
 WHERE SPLIT_UNIQUE_ID=@SPLIT_UNIQUE_ID_MAX_TOTAL  
 AND  SPLIT_ID=@MAX_PREM_SPLIT_ID  
/*  
-- new Logic on 22 June  
Declare @WRITE_OFF_PREMIUM numeric(12,4)  
Declare @STAT_FEES numeric(12,4)  
Declare @RISK_CANCELATION_RETURN_PREM numeric(12,4)  
Declare @CUSTOMER_TOTAL_DUE numeric(12,4)  
Declare @AGENCY_TOTAL_DUE numeric(12,4)  
Declare @CUST_GROSS_AMOUNT numeric(12,4)  
Declare @CUST_NET_PREMIUM numeric(12,4)  
  
DECLARE CR_SPLIT_DETAILS CURSOR FOR  
 select RISK_ID,RISK_TYPE,UNIQUE_ID  from CLT_PREMIUM_SPLIT with(nolock) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  
   
OPEN CR_SPLIT_DETAILS  
 FETCH NEXT  FROM CR_SPLIT_DETAILS into @RISK_ID ,@RISK_TYPE, @SPLIT_UNIQUE_ID  
 WHILE @@FETCH_STATUS = 0  
 BEGIN  
-- picking stat fee and cancellation premium of risk  
  SELECT @RISK_CANCELATION_RETURN_PREM =ABS(NET_PREMIUM),@STAT_FEES=STATS_FEES ,  
  @TOTAL_RISK_PREMIUM =ABS(INFORCE_PREMIUM)-ABS(INFORCE_FEES)  
  FROM ACT_PREMIUM_PROCESS_SUB_DETAILS  WITH(NOLOCK)   
   WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID   
   AND RISK_ID=@RISK_ID and RISK_TYPE=@RISK_TYPE  
  
  SELECT @CUSTOMER_TOTAL_DUE = ABS(TOTAL_DUE),@CUST_GROSS_AMOUNT=GROSS_AMOUNT ,@CUST_NET_PREMIUM=NET_PREMIUM FROM ACT_CUSTOMER_OPEN_ITEMS WITH(NOLOCK)   
   WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID   
   AND IS_TEMP_ENTRY=9 AND RISK_ID=@RISK_ID and RISK_TYPE=@RISK_TYPE  
   
     SELECT  @AGENCY_TOTAL_DUE= ABS(TOTAL_DUE)  FROM ACT_agency_OPEN_ITEMS WITH(NOLOCK)   
    WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID   
    AND RISK_ID=@RISK_ID and RISK_TYPE=@RISK_TYPE  
    AND ITEM_TRAN_CODE='CANCP' AND ITEM_TRAN_CODE_TYPE='PREM' AND BILL_CODE='AB'  
  -- GETTING WRITE-OFF PREMIUM  
     IF(@CUSTOMER_TOTAL_DUE-@AGENCY_TOTAL_DUE>0)  
    BEGIN  
     SET @STAT_FEES=ISNULL(@STAT_FEES,0) + ISNULL(@CUST_GROSS_AMOUNT,0)-ISNULL(@CUST_NET_PREMIUM,0)  
     SET @RISK_CANCELATION_RETURN_PREM=ISNULL(@RISK_CANCELATION_RETURN_PREM,0)+ISNULL(@CUST_NET_PREMIUM,0)  
    END  
 -- SET @RISK_CANCELATION_RETURN_PREM=ISNULL(@TOTAL_RISK_PREMIUM,0) + ISNULL(@WRITE_OFF_PREMIUM,0)  
 -- SELECT @RISK_CANCELATION_RETURN_PREM,@SPLIT_UNIQUE_ID  
  
--  set @TOTAL_RISK_PREMIUM =0  
--  SELECT @TOTAL_RISK_PREMIUM = sum(case when isnumeric(COMP_ACT_PREMIUM)=0 then 0 else isnull(cast(COMP_ACT_PREMIUM as numeric(14,4)),0) end)  
--    FROM CLT_PREMIUM_SPLIT_DETAILS   
--     WHERE  SPLIT_UNIQUE_ID=@SPLIT_UNIQUE_ID   
--   AND COMPONENT_CODE in ('SUMTOTAL','SUMTOTAL_S','BOAT_UNATTACH_PREMIUM','BOAT_UNATTACH_INCLUDE')  
     
  --SELECT @TOTAL_RISK_PREMIUM,@RISK_CANCELATION_RETURN_PREM  
  
  if (@TOTAL_RISK_PREMIUM!=0)  
  UPDATE CLT_PREMIUM_SPLIT_DETAILS   
   SET COMP_ACT_PREMIUM= convert(varchar,case when isnumeric(COMP_ACT_PREMIUM)=0 then 0 ELSE isnull(cast(COMP_ACT_PREMIUM as numeric(14,4)),0)*-1 end),  
    WRITTEN_PREM = case when component_code in ('MCCAFEE','PRP_EXPNS_FEE') then @STAT_FEES else  
        convert(varchar,cast(-(@RISK_CANCELATION_RETURN_PREM * ISNULL(CAST( case when isnumeric(COMP_ACT_PREMIUM)=0 then 0 else convert(numeric,COMP_ACT_PREMIUM) end AS NUMERIC(14,4)),0))/@TOTAL_RISK_PREMIUM as numeric(14,2)))   
        end ,  
       CHANGE_INFORCE_PREM= case when component_code in ('MCCAFEE','PRP_EXPNS_FEE') then @STAT_FEES else  
         convert(varchar,cast(-(@RISK_CANCELATION_RETURN_PREM * ISNULL(CAST( case when isnumeric(COMP_ACT_PREMIUM)=0 then 0 else convert(numeric,COMP_ACT_PREMIUM) end AS NUMERIC(14,4)),0))/@TOTAL_RISK_PREMIUM as numeric(14,2)))  
         end  
      WHERE SPLIT_UNIQUE_ID=@SPLIT_UNIQUE_ID   
--CODE MOVED IN LOOP FOR EACH RISK  
--making Rounding adjustment   
 select @TOTAL=SUM(case when isnumeric(WRITTEN_PREM)=0 then 0 else cast(WRITTEN_PREM as numeric(14,4)) END)  
   from CLT_PREMIUM_SPLIT_DETAILS   
   where  SPLIT_UNIQUE_ID in (  
    select UNIQUE_ID from CLT_PREMIUM_SPLIT    
    WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  
    AND RISK_ID=@RISK_ID and RISK_TYPE=@RISK_TYPE  
    )  
  --and component_code = 'SUMTOTAL'  
  and component_code in('SUMTOTAL','SUMTOTAL_S','BOAT_UNATTACH_PREMIUM')  
  
 set @DEFFERENCE=@TOTAL-round(@TOTAL,0)  
 select TOP 1  @SPLIT_UNIQUE_ID_MAX_TOTAL =  SPLIT_UNIQUE_ID ,@MAX_PREM_SPLIT_ID = SPLIT_ID  
   from CLT_PREMIUM_SPLIT_DETAILS   
   where  SPLIT_UNIQUE_ID in (  
    select UNIQUE_ID from CLT_PREMIUM_SPLIT    
    WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  
    AND RISK_ID=@RISK_ID and RISK_TYPE=@RISK_TYPE  
    )  
  and component_code='SUMTOTAL'  
  ORDER BY abs(CASE WHEN ISNUMERIC(WRITTEN_PREM)=0 THEN 0 ELSE CAST(WRITTEN_PREM AS NUMERIC(14,4)) END) DESC  
  
 --ADJUSTING SUMTOTAL component  
 UPDATE CLT_PREMIUM_SPLIT_DETAILS   
  SET  WRITTEN_PREM =CONVERT(VARCHAR, CASE WHEN ISNUMERIC(WRITTEN_PREM)=0 THEN 0  ELSE CAST(WRITTEN_PREM AS NUMERIC(14,4)) END - @DEFFERENCE)  
  WHERE SPLIT_UNIQUE_ID=@SPLIT_UNIQUE_ID_MAX_TOTAL  
  AND SPLIT_ID=@MAX_PREM_SPLIT_ID  
  AND  component_code='SUMTOTAL'  
  
 --TOTAL OF INDIVIDUAL COMPONENT  
 select @TOTAL_COMP=SUM(case when isnumeric(WRITTEN_PREM)=0 then 0 else cast(WRITTEN_PREM as numeric(14,4)) END)  
   from CLT_PREMIUM_SPLIT_DETAILS   
   where  SPLIT_UNIQUE_ID in (  
    select UNIQUE_ID from CLT_PREMIUM_SPLIT    
    WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  
    AND RISK_ID=@RISK_ID and RISK_TYPE=@RISK_TYPE  
    )  
 and component_code NOT in('SUMTOTAL')--,'SUMTOTAL_S','BOAT_UNATTACH_PREMIUM') commented as SUMTOTAL_S','BOAT_UNATTACH_PREMIUM also has component premium  
  
 SET @DEFFERENCE = @TOTAL_COMP- round(@TOTAL,0)   
  
 SET @MAX_PREM_SPLIT_ID=0  
 SELECT TOP 1 @MAX_PREM_SPLIT_ID = SPLIT_ID FROM  CLT_PREMIUM_SPLIT_DETAILS   
  WHERE SPLIT_UNIQUE_ID=@SPLIT_UNIQUE_ID_MAX_TOTAL  
  --AND  component_code<>'SUMTOTAL'  
 and component_code NOT in('SUMTOTAL','SUMTOTAL_S','BOAT_UNATTACH_PREMIUM')  
 and component_code not in ('MCCAFEE','PRP_EXPNS_FEE')  
  ORDER BY abs(CASE WHEN ISNUMERIC(WRITTEN_PREM)=0 THEN 0 ELSE CAST(WRITTEN_PREM AS NUMERIC(14,4)) END) DESC  
 --select @MAX_PREM_SPLIT_ID  
 --ADJUSTING MAX COMPONENT OF THE SAME RISK   
 UPDATE CLT_PREMIUM_SPLIT_DETAILS   
  SET  WRITTEN_PREM = CONVERT(VARCHAR,CASE WHEN ISNUMERIC(WRITTEN_PREM)=0 THEN 0  ELSE CAST(WRITTEN_PREM AS NUMERIC(14,4)) END - @DEFFERENCE)  
  WHERE SPLIT_UNIQUE_ID=@SPLIT_UNIQUE_ID_MAX_TOTAL  
  AND  SPLIT_ID=@MAX_PREM_SPLIT_ID  
-- END HERE  
    
    FETCH NEXT  FROM CR_SPLIT_DETAILS into @RISK_ID ,@RISK_TYPE, @SPLIT_UNIQUE_ID  
 END  
 CLOSE CR_SPLIT_DETAILS  
 DEALLOCATE CR_SPLIT_DETAILS  
drop table #CLT_PREMIUM_SPLIT  
-- NEW LOGIN END HERE  
*/  
  
END  
  
IF (@PROCESS_TYPE='14') --ENDORSEMENT  
BEGIN  
   
  
declare @END_EFFECTIVE_DATETIME datetime  
declare @END_EFFECTIVE_PERIOD numeric(25,4)  
declare @END_FACTOR NUMERIC(25,6)  
DECLARE @POLICYTRAN_TYPE INT  
DECLARE @OPEN_POLICY INT = 14560  
  
SELECT  @POLICYTRAN_TYPE = TRANSACTION_TYPE FROM  POL_CUSTOMER_POLICY_LIST WHERE CUSTOMER_ID = @CUSTOMER_ID and POLICY_ID  =@POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID  
--MODIFIED By lalit for master policy written premium = actual _premium   
IF (@POLICYTRAN_TYPE <> @OPEN_POLICY)   
  BEGIN  
    SELECT * INTO #CLT_PREMIUM_SPLIT_E FROM CLT_PREMIUM_SPLIT  
     WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID   
     AND POLICY_VERSION_ID=@POLICY_BASE_VERSION_ID  
     AND ACTL_POLICY_VERSION_ID=@POLICY_BASE_VERSION_ID  
    SELECT * INTO #CLT_PREMIUM_SPLIT_DETAILS_E FROM CLT_PREMIUM_SPLIT_DETAILS  
     WHERE  SPLIT_UNIQUE_ID  
     in (select UNIQUE_ID from CLT_PREMIUM_SPLIT WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID   
      AND POLICY_VERSION_ID=@POLICY_BASE_VERSION_ID  
      AND ACTL_POLICY_VERSION_ID=@POLICY_BASE_VERSION_ID  
      )  
  
    SELECT @END_EFFECTIVE_DATETIME=EFFECTIVE_DATETIME  
      FROM POL_POLICY_PROCESS with(nolock) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND NEW_POLICY_VERSION_ID=@POLICY_VERSION_ID  
    SELECT @POL_EFFECTIVE_DATETIME=APP_EFFECTIVE_DATE,@POL_EXPIRY_DATETIME=APP_EXPIRATION_DATE   
     FROM POL_CUSTOMER_POLICY_LIST  with(nolock) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  
    SET @END_EFFECTIVE_PERIOD=DATEDIFF(DAY,@END_EFFECTIVE_DATETIME,@POL_EXPIRY_DATETIME)  
    SET @POL_TOTAL_PERIOD=DATEDIFF(DAY,@POL_EFFECTIVE_DATETIME,@POL_EXPIRY_DATETIME)  
    SET @END_FACTOR=cast(@END_EFFECTIVE_PERIOD/@POL_TOTAL_PERIOD as numeric(25,6))  
  
    IF (DATEDIFF(DD,@END_EFFECTIVE_DATETIME,GETDATE())<0)  
     BEGIN  
      SET @EPR_MONTH=MONTH(@END_EFFECTIVE_DATETIME)  
      SET @EPR_YEAR=YEAR(@END_EFFECTIVE_DATETIME)  
     END  
    ELSE  
     BEGIN  
      SET @EPR_MONTH=MONTH(GETDATE())  
      SET @EPR_YEAR=YEAR(GETDATE())  
     END  
  
    DECLARE CR_SPLIT_DETAILS CURSOR FOR  
     select RISK_ID,UNIQUE_ID,RISK_TYPE  from CLT_PREMIUM_SPLIT with(nolock) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  
    OPEN CR_SPLIT_DETAILS  
     FETCH NEXT  FROM CR_SPLIT_DETAILS into @RISK_ID , @SPLIT_UNIQUE_ID,@RISK_TYPE  
      WHILE @@FETCH_STATUS = 0  
     BEGIN  
  
     UPDATE  CLT_PREMIUM_SPLIT_DETAILS set CHANGE_INFORCE_PREM = COMP_ACT_PREMIUM,  
     WRITTEN_PREM= CONVERT(VARCHAR,cast((case when isnumeric(COMP_ACT_PREMIUM)=0 then 0 else cast(COMP_ACT_PREMIUM as numeric(25,4)) end ) * @END_FACTOR as numeric(25,2)))  
         where SPLIT_UNIQUE_ID =@SPLIT_UNIQUE_ID  
     update NEWT  set NEWT.CHANGE_INFORCE_PREM=   
      case when isnumeric(NEWT.COMP_ACT_PREMIUM)=0 then 0 else cast(NEWT.COMP_ACT_PREMIUM as numeric(25,4)) end -  case when isnumeric(OLDT.COMP_ACT_PREMIUM )=0 then 0 else  cast(OLDT.COMP_ACT_PREMIUM as numeric(25,2)) end    
     ,WRITTEN_PREM=    
     CONVERT(VARCHAR,cast((case when isnumeric(NEWT.COMP_ACT_PREMIUM)=0 then 0   
            else cast(NEWT.COMP_ACT_PREMIUM as numeric(25,4)) end -  case when isnumeric(OLDT.COMP_ACT_PREMIUM )=0 then 0 else  cast(OLDT.COMP_ACT_PREMIUM as numeric(25,4)) end ) * @END_FACTOR as numeric(25,2)))  
       
     from CLT_PREMIUM_SPLIT_DETAILS NEWT inner join #CLT_PREMIUM_SPLIT_DETAILS_E OLDT on NEWT.COMPONENT_CODE=OLDT.COMPONENT_CODE AND  ISNULL(NEWT.COMP_EXT,'')=ISNULL(OLDT.COMP_EXT,'')    
      inner join #CLT_PREMIUM_SPLIT_E OLD_SPLT on  OLDT.SPLIT_UNIQUE_ID=OLD_SPLT.UNIQUE_ID and OLD_SPLT.RISK_ID=@RISK_ID and OLD_SPLT.RISK_TYPE = @RISK_TYPE  
     and NEWT.SPLIT_UNIQUE_ID =@SPLIT_UNIQUE_ID  
  
        FETCH NEXT  FROM CR_SPLIT_DETAILS into @RISK_ID , @SPLIT_UNIQUE_ID,@RISK_TYPE  
     END  
       CLOSE CR_SPLIT_DETAILS  
     DEALLOCATE CR_SPLIT_DETAILS  
    --inserting deleted risk premium with 0 premium but negative written prem and enforce prem  
    declare CR_SPLIT_DETAILS1 cursor for  select RISK_ID,UNIQUE_ID,RISK_TYPE from #CLT_PREMIUM_SPLIT_E  
    OPEN CR_SPLIT_DETAILS1  
     FETCH NEXT  FROM CR_SPLIT_DETAILS1 into @RISK_ID , @SPLIT_UNIQUE_ID,@RISK_TYPE  
     WHILE @@FETCH_STATUS = 0  
     BEGIN  
     if not exists(  
      select RISK_ID,UNIQUE_ID,RISK_TYPE  from CLT_PREMIUM_SPLIT with(nolock) where risk_id=@RISK_ID and RISK_TYPE=@RISK_TYPE   
       and CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  
      )   
      BEGIN  
       SELECT MAX(UNIQUE_ID)+1  FROM CLT_PREMIUM_SPLIT with(nolock)  
       SELECT @UNIQUE_ID = MAX(UNIQUE_ID)+1  FROM CLT_PREMIUM_SPLIT with(nolock)  
       INSERT INTO CLT_PREMIUM_SPLIT (UNIQUE_ID,CUSTOMER_ID,APP_ID,APP_VERSION_ID,POLICY_ID,POLICY_VERSION_ID,RISK_ID,RISK_TYPE,PROCESS_TYPE,ACTL_POLICY_VERSION_ID)   
       select  @UNIQUE_ID ,@CUSTOMER_ID,APP_ID,APP_VERSION_ID,POLICY_ID,@POLICY_VERSION_ID,@RISK_ID,@RISK_TYPE,@PROCESS_TYPE,@POLICY_BASE_VERSION_ID  
        from #CLT_PREMIUM_SPLIT_E where RISK_ID=@RISK_ID and RISK_TYPE=@RISK_TYPE  
       --inserting new Entry in CLT_PREMIUM_SPLIT_DETAILS for new pol version and for this Risk  
       select * into #CLT_PREMIUM_SPLIT_DETAILS_1 from CLT_PREMIUM_SPLIT_DETAILS with(nolock) where SPLIT_UNIQUE_ID=@SPLIT_UNIQUE_ID  
        update #CLT_PREMIUM_SPLIT_DETAILS_1 set SPLIT_UNIQUE_ID =@UNIQUE_ID,COMP_ACT_PREMIUM=0,PREMIUM=0,LIMIT=0,DEDUCTIBLE=0,  
        CHANGE_INFORCE_PREM= case when isnumeric(COMP_ACT_PREMIUM)=0 then 0 else cast(COMP_ACT_PREMIUM as numeric(25,4))*-1 end     
        ,WRITTEN_PREM=  CONVERT(VARCHAR,cast((case when isnumeric(COMP_ACT_PREMIUM)=0 then 0 else cast(COMP_ACT_PREMIUM as numeric(25,4))*-1 end ) * @END_FACTOR as numeric(25,2)))  
        ,EPR_MONTH=@EPR_MONTH,EPR_YEAR=@EPR_YEAR  
       insert into CLT_PREMIUM_SPLIT_DETAILS select * from #CLT_PREMIUM_SPLIT_DETAILS_1  
       drop table #CLT_PREMIUM_SPLIT_DETAILS_1    
      END  
      ELSE  
      BEGIN  
      --for deleted Coverage/component  
      --SELECT 'IN ELSE'  
       select @UNIQUE_SPLIT_ID_NEW= UNIQUE_ID from CLT_PREMIUM_SPLIT with(nolock) where risk_id=@RISK_ID and RISK_TYPE=@RISK_TYPE   
       and CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  
       --declare @COMPONENT_CODE varchar(20)  
       select * into #CLT_PREMIUM_SPLIT_DETAILS_COMP from CLT_PREMIUM_SPLIT_DETAILS with(nolock) where SPLIT_UNIQUE_ID=@SPLIT_UNIQUE_ID  
         declare CR_SPLIT_DETAILS_COMP cursor for  select COMPONENT_CODE,isnull(COMP_EXT,'') from #CLT_PREMIUM_SPLIT_DETAILS_COMP    
       OPEN CR_SPLIT_DETAILS_COMP  
       FETCH NEXT  FROM CR_SPLIT_DETAILS_COMP into @COMPONENT_CODE,@COV_ID  
       WHILE @@FETCH_STATUS = 0  
          BEGIN  
        --SELECT * FROM CLT_PREMIUM_SPLIT_DETAILS with(nolock)  WHERE COMPONENT_CODE=@COMPONENT_CODE AND SPLIT_UNIQUE_ID=@UNIQUE_SPLIT_ID_NEW  
              
        IF NOT EXISTS(SELECT * FROM CLT_PREMIUM_SPLIT_DETAILS with(nolock)  WHERE COMPONENT_CODE=@COMPONENT_CODE AND isnull(COMP_EXT,'')=@COV_ID AND SPLIT_UNIQUE_ID=@UNIQUE_SPLIT_ID_NEW)  
        BEGIN  
        select * into #CLT_PREMIUM_SPLIT_DETAILS_11 from CLT_PREMIUM_SPLIT_DETAILS with(nolock) where SPLIT_UNIQUE_ID=@SPLIT_UNIQUE_ID AND COMPONENT_CODE=@COMPONENT_CODE AND isnull(COMP_EXT,'')=@COV_ID  
        --select count(*) as countr from  #CLT_PREMIUM_SPLIT_DETAILS_11  
        if exists(select * from  #CLT_PREMIUM_SPLIT_DETAILS_11)  
        begin  
         update #CLT_PREMIUM_SPLIT_DETAILS_11 set SPLIT_ID=(select isnull(max(SPLIT_ID),0) +1 from CLT_PREMIUM_SPLIT_DETAILS where split_unique_id=@UNIQUE_SPLIT_ID_NEW)  
         ,SPLIT_UNIQUE_ID =@UNIQUE_SPLIT_ID_NEW,COMP_ACT_PREMIUM=0,PREMIUM=0,LIMIT=0,DEDUCTIBLE=0,  
         CHANGE_INFORCE_PREM= case when isnumeric(COMP_ACT_PREMIUM)=0 then 0 else cast(COMP_ACT_PREMIUM as numeric(25,4))*-1 end     
         ,WRITTEN_PREM= CONVERT(VARCHAR,cast((case when isnumeric(COMP_ACT_PREMIUM)=0 then 0 else cast(COMP_ACT_PREMIUM as numeric(25,4))*-1 end ) * @END_FACTOR as numeric(25,2)))  
         ,EPR_MONTH=@EPR_MONTH,EPR_YEAR=@EPR_YEAR  
         --select * from #CLT_PREMIUM_SPLIT_DETAILS_11  
         insert into CLT_PREMIUM_SPLIT_DETAILS select * from #CLT_PREMIUM_SPLIT_DETAILS_11  
           
        end  
        drop table #CLT_PREMIUM_SPLIT_DETAILS_11  
        END  
         FETCH NEXT  FROM CR_SPLIT_DETAILS_COMP into @COMPONENT_CODE,@COV_ID  
         END  
         CLOSE CR_SPLIT_DETAILS_COMP  
            DEALLOCATE CR_SPLIT_DETAILS_COMP  
       DROP TABLE #CLT_PREMIUM_SPLIT_DETAILS_COMP  
      --  
      END  
     FETCH NEXT  FROM CR_SPLIT_DETAILS1 into @RISK_ID , @SPLIT_UNIQUE_ID,@RISK_TYPE  
     END  
     CLOSE CR_SPLIT_DETAILS1  
     DEALLOCATE CR_SPLIT_DETAILS1  
    --making Rounding adjustment   
    select @TOTAL=SUM(case when isnumeric(WRITTEN_PREM)=0 then 0 else cast(WRITTEN_PREM as numeric(25,4)) END)  
      from CLT_PREMIUM_SPLIT_DETAILS   
      where  SPLIT_UNIQUE_ID in (  
       select UNIQUE_ID from CLT_PREMIUM_SPLIT    
       WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  
       )  
     --and component_code = 'SUMTOTAL'  
     and component_code in('SUMTOTAL','SUMTOTAL_S','BOAT_UNATTACH_PREMIUM','BOAT_UNATTACH_INCLUDE')  
  
    set @DEFFERENCE=@TOTAL-round(@TOTAL,0)  
    select TOP 1  @SPLIT_UNIQUE_ID_MAX_TOTAL =  SPLIT_UNIQUE_ID ,@MAX_PREM_SPLIT_ID = SPLIT_ID  
      from CLT_PREMIUM_SPLIT_DETAILS   
      where  SPLIT_UNIQUE_ID in (  
       select UNIQUE_ID from CLT_PREMIUM_SPLIT    
       WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  
       )  
     and component_code='SUMTOTAL'  
     ORDER BY abs(CASE WHEN ISNUMERIC(WRITTEN_PREM)=0 THEN 0 ELSE CAST(WRITTEN_PREM AS NUMERIC(25,4)) END) DESC  
    --ADJUSTING SUMTOTAL component  
    UPDATE CLT_PREMIUM_SPLIT_DETAILS SET  WRITTEN_PREM =CONVERT(VARCHAR, CASE WHEN ISNUMERIC(WRITTEN_PREM)=0 THEN 0 ELSE CAST(WRITTEN_PREM AS NUMERIC(25,4)) END - @DEFFERENCE)  
     WHERE SPLIT_UNIQUE_ID=@SPLIT_UNIQUE_ID_MAX_TOTAL  
     AND SPLIT_ID=@MAX_PREM_SPLIT_ID  
     AND  component_code='SUMTOTAL'  
  
    --TOTAL OF INDIVIDUAL COMPONENT  
    select @TOTAL_COMP=SUM(case when isnumeric(WRITTEN_PREM)=0 then 0 else cast(WRITTEN_PREM as numeric(25,4)) END)  
      from CLT_PREMIUM_SPLIT_DETAILS   
      where  SPLIT_UNIQUE_ID in (  
       select UNIQUE_ID from CLT_PREMIUM_SPLIT    
       WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  
       )  
    and component_code NOT in('SUMTOTAL')--,'SUMTOTAL_S','BOAT_UNATTACH_PREMIUM','BOAT_UNATTACH_INCLUDE')  
  
    SET @DEFFERENCE = @TOTAL_COMP- round(@TOTAL,0)   
    ---  
    SET @MAX_PREM_SPLIT_ID=0  
    SELECT TOP 1 @MAX_PREM_SPLIT_ID = SPLIT_ID FROM  CLT_PREMIUM_SPLIT_DETAILS   
     WHERE SPLIT_UNIQUE_ID=@SPLIT_UNIQUE_ID_MAX_TOTAL  
     --AND  component_code<>'SUMTOTAL'  
     and component_code NOT in('SUMTOTAL','SUMTOTAL_S','BOAT_UNATTACH_PREMIUM','BOAT_UNATTACH_INCLUDE')  
     ORDER BY abs(CASE WHEN ISNUMERIC(WRITTEN_PREM)=0 THEN 0 ELSE CAST(WRITTEN_PREM AS NUMERIC(25,4)) END) DESC  
    --select @MAX_PREM_SPLIT_ID  
    --ADJUSTING MAX COMPONENT OF THE SAME RISK   
    UPDATE CLT_PREMIUM_SPLIT_DETAILS   
     SET  WRITTEN_PREM = CONVERT(VARCHAR,CASE WHEN ISNUMERIC(WRITTEN_PREM)=0 THEN 0 ELSE CAST(WRITTEN_PREM AS NUMERIC(25,4)) END - @DEFFERENCE)  
     WHERE SPLIT_UNIQUE_ID=@SPLIT_UNIQUE_ID_MAX_TOTAL  
     AND  SPLIT_ID=@MAX_PREM_SPLIT_ID  
    -------  
    ------- if endosement is less then $5 ( from system params )then make written premium 0 as per Rajan Sir IN ITRACK 3457  
    SET @TOTAL_ENDOS=0  
    select @SYS_MIN_ENDOS=isnull(SYS_MIN_ENDORSEMENT,0) from MNT_SYSTEM_PARAMS   
    select @TOTAL_ENDOS=SUM(case when isnumeric(WRITTEN_PREM)=0 then 0 else cast(WRITTEN_PREM as numeric(25,4)) END)  
     from CLT_PREMIUM_SPLIT_DETAILS CLT   
     inner join CLT_PREMIUM_SPLIT SP on  CLT.SPLIT_UNIQUE_ID=SP.UNIQUE_ID  
     WHERE SP.CUSTOMER_ID=@CUSTOMER_ID AND SP.POLICY_ID=@POLICY_ID AND SP.POLICY_VERSION_ID=@POLICY_VERSION_ID  
     AND COMPONENT_CODE <> 'SUMTOTAL'  
    --Ravindra(01/04/2010)  
    --IF (abs(@TOTAL_ENDOS)<@SYS_MIN_ENDOS)  
    IF (abs(@TOTAL_ENDOS)<=@SYS_MIN_ENDOS)  
    UPDATE CLT SET CLT.WRITTEN_PREM=0 from CLT_PREMIUM_SPLIT_DETAILS CLT   
     inner join CLT_PREMIUM_SPLIT SP on  CLT.SPLIT_UNIQUE_ID=SP.UNIQUE_ID  
     WHERE SP.CUSTOMER_ID=@CUSTOMER_ID AND SP.POLICY_ID=@POLICY_ID AND SP.POLICY_VERSION_ID=@POLICY_VERSION_ID  
     --AND COMPONENT_CODE<>'SUMTOTAL'  
    ---------------  
    drop table #CLT_PREMIUM_SPLIT_DETAILS_E  
    drop table #CLT_PREMIUM_SPLIT_E  
  END  
  ELSE  
   BEGIN ---implimented by lalit nov 24,2010  
     UPDATE CLT_PREMIUM_SPLIT_DETAILS SET WRITTEN_PREM = COMP_ACT_PREMIUM WHERE SPLIT_UNIQUE_ID IN (SELECT UNIQUE_ID FROM CLT_PREMIUM_SPLIT  
           WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID   
           AND POLICY_VERSION_ID = @POLICY_VERSION_ID)  
   END  
END  
  
IF (@PROCESS_TYPE='16') --REINSTATE  
BEGIN  
  
DECLARE @REIN_EFFECTIVE_DATETIME DATETIME  
DECLARE @REIN_LAPSE INT  
DECLARE @REIN_NOLAPSE INT  
DECLARE @REIN_TYPE INT  
declare @REIN_EFFECTIVE_PERIOD NUMERIC(25,4)  
declare @REIN_FACTOR NUMERIC(25,6)  
  
SET @REIN_NOLAPSE =14245  
SET @REIN_LAPSE =14244  
  
SELECT @REIN_EFFECTIVE_DATETIME=EFFECTIVE_DATETIME,@REIN_TYPE=ISNULL(CANCELLATION_TYPE,0)  
  FROM POL_POLICY_PROCESS with(nolock) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND NEW_POLICY_VERSION_ID=@POLICY_VERSION_ID  
SELECT @POL_EFFECTIVE_DATETIME=APP_EFFECTIVE_DATE,@POL_EXPIRY_DATETIME=APP_EXPIRATION_DATE   
  FROM POL_CUSTOMER_POLICY_LIST  with(nolock) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  
IF (DATEDIFF(DD,@REIN_EFFECTIVE_DATETIME,GETDATE())<0)  
 BEGIN  
  SET @EPR_MONTH=MONTH(@REIN_EFFECTIVE_DATETIME)  
  SET @EPR_YEAR=YEAR(@REIN_EFFECTIVE_DATETIME)  
 END  
ELSE  
 BEGIN  
  SET @EPR_MONTH=MONTH(GETDATE())  
  SET @EPR_YEAR=YEAR(GETDATE())  
 END  
  
SET @END_EFFECTIVE_PERIOD=DATEDIFF(DAY,@REIN_EFFECTIVE_DATETIME,@POL_EXPIRY_DATETIME)  
SET @POL_TOTAL_PERIOD=DATEDIFF(DAY,@POL_EFFECTIVE_DATETIME,@POL_EXPIRY_DATETIME)  
SET @REIN_FACTOR=cast(@END_EFFECTIVE_PERIOD/@POL_TOTAL_PERIOD as numeric(25,6))  
  IF (@REIN_TYPE=@REIN_LAPSE) --REINSTATED LAPSE  SAME AS ENDORSEMENT  
   BEGIN  
  --PICK PREVIOUS VERSION INFORMATION  
  SELECT * INTO #CLT_PREMIUM_SPLIT_R FROM CLT_PREMIUM_SPLIT  
   WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_BASE_VERSION_ID  
    
  SELECT * INTO #CLT_PREMIUM_SPLIT_DETAILS_R FROM CLT_PREMIUM_SPLIT_DETAILS  
   WHERE  SPLIT_UNIQUE_ID  
   in (select UNIQUE_ID from CLT_PREMIUM_SPLIT WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_BASE_VERSION_ID)  
  ---  
  DECLARE CR_SPLIT_DETAILS CURSOR FOR  
   select RISK_ID,UNIQUE_ID,RISK_TYPE  from CLT_PREMIUM_SPLIT with(nolock) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  
  OPEN CR_SPLIT_DETAILS  
   FETCH NEXT  FROM CR_SPLIT_DETAILS into @RISK_ID , @SPLIT_UNIQUE_ID,@RISK_TYPE  
    WHILE @@FETCH_STATUS = 0  
   BEGIN  
  
   UPDATE  CLT_PREMIUM_SPLIT_DETAILS   
     set CHANGE_INFORCE_PREM = COMP_ACT_PREMIUM,WRITTEN_PREM= CONVERT(VARCHAR,cast((case when isnumeric(COMP_ACT_PREMIUM)=0 then 0 else cast(COMP_ACT_PREMIUM as numeric(25,4)) end ) * @REIN_FACTOR as numeric(25,2)))  
     ,EPR_MONTH=@EPR_MONTH,EPR_YEAR=@EPR_YEAR  
     where SPLIT_UNIQUE_ID =@SPLIT_UNIQUE_ID  
   /* commented as just prorate new version not defference which is in endorsement  
   update NEWT  set NEWT.CHANGE_INFORCE_PREM= case when isnumeric(NEWT.COMP_ACT_PREMIUM)=0 then 0 else cast(NEWT.COMP_ACT_PREMIUM as numeric) end -  case when isnumeric(OLDT.COMP_ACT_PREMIUM )=0 then 0 else  cast(OLDT.COMP_ACT_PREMIUM as numeric) end    
   ,WRITTEN_PREM=  CONVERT(VARCHAR,(case when isnumeric(NEWT.COMP_ACT_PREMIUM)=0 then 0 else cast(NEWT.COMP_ACT_PREMIUM as numeric) end -  case when isnumeric(OLDT.COMP_ACT_PREMIUM )=0   
    then 0 else  cast(OLDT.COMP_ACT_PREMIUM as numeric) end ) * @REIN_FACTOR)  
   from CLT_PREMIUM_SPLIT_DETAILS NEWT inner join #CLT_PREMIUM_SPLIT_DETAILS_R OLDT on NEWT.COMPONENT_CODE=OLDT.COMPONENT_CODE    
    inner join #CLT_PREMIUM_SPLIT_R OLD_SPLT on  OLDT.SPLIT_UNIQUE_ID=OLD_SPLT.UNIQUE_ID and OLD_SPLT.RISK_ID=@RISK_ID and OLD_SPLT.RISK_TYPE = @RISK_TYPE  
   and NEWT.SPLIT_UNIQUE_ID =@SPLIT_UNIQUE_ID  
   */   
      FETCH NEXT  FROM CR_SPLIT_DETAILS into @RISK_ID , @SPLIT_UNIQUE_ID,@RISK_TYPE  
   END  
     CLOSE CR_SPLIT_DETAILS  
      DEALLOCATE CR_SPLIT_DETAILS  
 -----------------  
 --inserting deleted risk premium with 0 premium but negative written prem and enforce prem  
 declare CR_SPLIT_DETAILS2 cursor for  select RISK_ID,UNIQUE_ID,RISK_TYPE from #CLT_PREMIUM_SPLIT_R  
 OPEN CR_SPLIT_DETAILS2  
  FETCH NEXT  FROM CR_SPLIT_DETAILS2 into @RISK_ID , @SPLIT_UNIQUE_ID,@RISK_TYPE  
  WHILE @@FETCH_STATUS = 0  
  BEGIN  
  if not exists(  
   select RISK_ID,UNIQUE_ID,RISK_TYPE  from CLT_PREMIUM_SPLIT where risk_id=@RISK_ID and RISK_TYPE=@RISK_TYPE   
    and CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  
   )   
   BEGIN  
    --SELECT MAX(UNIQUE_ID)+1  FROM CLT_PREMIUM_SPLIT with(nolock)  
    SELECT @UNIQUE_ID = MAX(UNIQUE_ID)+1  FROM CLT_PREMIUM_SPLIT with(nolock)  
    INSERT INTO CLT_PREMIUM_SPLIT (UNIQUE_ID,CUSTOMER_ID,APP_ID,APP_VERSION_ID,POLICY_ID,POLICY_VERSION_ID,RISK_ID,RISK_TYPE,PROCESS_TYPE,ACTL_POLICY_VERSION_ID)   
    select  @UNIQUE_ID ,@CUSTOMER_ID,APP_ID,APP_VERSION_ID,POLICY_ID,@POLICY_VERSION_ID,@RISK_ID,@RISK_TYPE,@PROCESS_TYPE,@POLICY_BASE_VERSION_ID  
     from #CLT_PREMIUM_SPLIT_R where RISK_ID=@RISK_ID and RISK_TYPE=@RISK_TYPE  
    --inserting new Entry in CLT_PREMIUM_SPLIT_DETAILS for new pol version and for this Risk  
    select * into #CLT_PREMIUM_SPLIT_DETAILS_2 from CLT_PREMIUM_SPLIT_DETAILS where SPLIT_UNIQUE_ID=@SPLIT_UNIQUE_ID  
     update #CLT_PREMIUM_SPLIT_DETAILS_2 set SPLIT_UNIQUE_ID =@UNIQUE_ID,COMP_ACT_PREMIUM=0,PREMIUM=0,LIMIT=0,DEDUCTIBLE=0,  
     CHANGE_INFORCE_PREM= case when isnumeric(COMP_ACT_PREMIUM)=0 then 0 else cast(COMP_ACT_PREMIUM as numeric(25,4))*-1 end     
     ,WRITTEN_PREM=  CONVERT(VARCHAR,cast((case when isnumeric(COMP_ACT_PREMIUM)=0 then 0 else cast(COMP_ACT_PREMIUM as numeric(25,4))*-1 end ) * @REIN_FACTOR as numeric(25,2)))  
     ,EPR_MONTH=@EPR_MONTH,EPR_YEAR=@EPR_YEAR  
    insert into CLT_PREMIUM_SPLIT_DETAILS select * from #CLT_PREMIUM_SPLIT_DETAILS_2  
    drop table #CLT_PREMIUM_SPLIT_DETAILS_2    
   END  
   ELSE  
   BEGIN  
   --for deleted Coverage/component  
    select @UNIQUE_SPLIT_ID_NEW= UNIQUE_ID from CLT_PREMIUM_SPLIT with(nolock) where risk_id=@RISK_ID and RISK_TYPE=@RISK_TYPE   
    and CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  
      
    select * into #CLT_PREMIUM_SPLIT_DETAILS_COMPR from CLT_PREMIUM_SPLIT_DETAILS with(nolock) where SPLIT_UNIQUE_ID=@SPLIT_UNIQUE_ID  
   
   declare CR_SPLIT_DETAILS_COMPR cursor for  select COMPONENT_CODE,isnull(COMP_EXT,'') as COV_ID  from #CLT_PREMIUM_SPLIT_DETAILS_COMPR    
    OPEN CR_SPLIT_DETAILS_COMPR  
    FETCH NEXT  FROM CR_SPLIT_DETAILS_COMPR into @COMPONENT_CODE,@COV_ID  
    WHILE @@FETCH_STATUS = 0  
       BEGIN  
     --SELECT * FROM CLT_PREMIUM_SPLIT_DETAILS with(nolock)  WHERE COMPONENT_CODE=@COMPONENT_CODE AND SPLIT_UNIQUE_ID=@UNIQUE_SPLIT_ID_NEW  
           
     IF NOT EXISTS(SELECT * FROM CLT_PREMIUM_SPLIT_DETAILS with(nolock)  WHERE COMPONENT_CODE=@COMPONENT_CODE AND isnull(COMP_EXT,'')=@COV_ID AND SPLIT_UNIQUE_ID=@UNIQUE_SPLIT_ID_NEW)  
     BEGIN  
     select * into #CLT_PREMIUM_SPLIT_DETAILS_11R from CLT_PREMIUM_SPLIT_DETAILS with(nolock) where SPLIT_UNIQUE_ID=@SPLIT_UNIQUE_ID AND COMPONENT_CODE=@COMPONENT_CODE AND isnull(COMP_EXT,'')=@COV_ID  
     --select count(*) as countr from  #CLT_PREMIUM_SPLIT_DETAILS_11  
     if exists(select * from  #CLT_PREMIUM_SPLIT_DETAILS_11R)  
     begin  
      update #CLT_PREMIUM_SPLIT_DETAILS_11R set SPLIT_ID=(select isnull(max(SPLIT_ID),0) +1 from CLT_PREMIUM_SPLIT_DETAILS where split_unique_id=@UNIQUE_SPLIT_ID_NEW)  
      ,SPLIT_UNIQUE_ID =@UNIQUE_SPLIT_ID_NEW,COMP_ACT_PREMIUM=0,PREMIUM=0,LIMIT=0,DEDUCTIBLE=0,  
      CHANGE_INFORCE_PREM= case when isnumeric(COMP_ACT_PREMIUM)=0 then 0 else cast(COMP_ACT_PREMIUM as numeric(25,4))*-1 end     
      ,WRITTEN_PREM=  CONVERT(VARCHAR,cast((case when isnumeric(COMP_ACT_PREMIUM)=0 then 0 else cast(COMP_ACT_PREMIUM as numeric(25,4))*-1 end ) * @REIN_FACTOR as numeric(25,2)))  
      ,EPR_MONTH=@EPR_MONTH,EPR_YEAR=@EPR_YEAR  
      --select * from #CLT_PREMIUM_SPLIT_DETAILS_11  
      insert into CLT_PREMIUM_SPLIT_DETAILS select * from #CLT_PREMIUM_SPLIT_DETAILS_11R  
        
     end  
     drop table #CLT_PREMIUM_SPLIT_DETAILS_11R  
     END  
      FETCH NEXT  FROM CR_SPLIT_DETAILS_COMPR into @COMPONENT_CODE,@COV_ID  
      END  
      CLOSE CR_SPLIT_DETAILS_COMPR  
         DEALLOCATE CR_SPLIT_DETAILS_COMPR  
    DROP TABLE #CLT_PREMIUM_SPLIT_DETAILS_COMPR  
  --  
  END  
  
  FETCH NEXT  FROM CR_SPLIT_DETAILS2 into @RISK_ID , @SPLIT_UNIQUE_ID,@RISK_TYPE  
  end  
     CLOSE CR_SPLIT_DETAILS2  
     DEALLOCATE CR_SPLIT_DETAILS2  
 ----------------  
  --making Rounding adjustment   
  select @TOTAL=SUM(case when isnumeric(WRITTEN_PREM)=0 then 0 else cast(WRITTEN_PREM as numeric(25,4)) END)  
    from CLT_PREMIUM_SPLIT_DETAILS   
    where  SPLIT_UNIQUE_ID in (  
     select UNIQUE_ID from CLT_PREMIUM_SPLIT    
     WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  
     )  
   --and component_code='SUMTOTAL'  
   and component_code in ('SUMTOTAL','SUMTOTAL_S','BOAT_UNATTACH_PREMIUM','BOAT_UNATTACH_INCLUDE')  
    
  set @DEFFERENCE=@TOTAL-round(@TOTAL,0)  
  select TOP 1  @SPLIT_UNIQUE_ID_MAX_TOTAL =  SPLIT_UNIQUE_ID ,@MAX_PREM_SPLIT_ID = SPLIT_ID  
    from CLT_PREMIUM_SPLIT_DETAILS   
    where  SPLIT_UNIQUE_ID in (  
     select UNIQUE_ID from CLT_PREMIUM_SPLIT    
     WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  
     )  
   and component_code='SUMTOTAL'  
   ORDER BY abs(CASE WHEN ISNUMERIC(WRITTEN_PREM)=0 THEN 0 ELSE CAST(WRITTEN_PREM AS NUMERIC(25,4)) END) DESC  
  --ADJUSTING SUMTOTAL component  
  UPDATE CLT_PREMIUM_SPLIT_DETAILS   
   SET  WRITTEN_PREM =CONVERT(VARCHAR, CASE WHEN ISNUMERIC(WRITTEN_PREM)=0 THEN 0 ELSE CAST(WRITTEN_PREM AS NUMERIC(25,4)) END - @DEFFERENCE)  
   WHERE SPLIT_UNIQUE_ID=@SPLIT_UNIQUE_ID_MAX_TOTAL  
   AND SPLIT_ID=@MAX_PREM_SPLIT_ID  
   AND  component_code='SUMTOTAL'  
  
 --TOTAL OF INDIVIDUAL COMPONENT  
 select @TOTAL_COMP=SUM(case when isnumeric(WRITTEN_PREM)=0 then 0 else cast(WRITTEN_PREM as numeric(25,4)) END)  
   from CLT_PREMIUM_SPLIT_DETAILS   
   where  SPLIT_UNIQUE_ID in (  
    select UNIQUE_ID from CLT_PREMIUM_SPLIT    
    WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  
    )  
 and component_code NOT in('SUMTOTAL')--,'SUMTOTAL_S','BOAT_UNATTACH_PREMIUM','BOAT_UNATTACH_INCLUDE')  
  
 SET @DEFFERENCE = @TOTAL_COMP- round(@TOTAL,0)   
  
  SET @MAX_PREM_SPLIT_ID=0  
  SELECT TOP 1 @MAX_PREM_SPLIT_ID = SPLIT_ID FROM  CLT_PREMIUM_SPLIT_DETAILS   
   WHERE SPLIT_UNIQUE_ID=@SPLIT_UNIQUE_ID_MAX_TOTAL  
--   AND  component_code<>'SUMTOTAL'  
   and component_code NOT in('SUMTOTAL','SUMTOTAL_S','BOAT_UNATTACH_PREMIUM','BOAT_UNATTACH_INCLUDE')  
   ORDER BY abs(CASE WHEN ISNUMERIC(WRITTEN_PREM)=0 THEN 0 ELSE CAST(WRITTEN_PREM AS NUMERIC(25,4)) END) DESC  
  --select @MAX_PREM_SPLIT_ID  
  --ADJUSTING MAX COMPONENT OF THE SAME RISK   
  UPDATE CLT_PREMIUM_SPLIT_DETAILS   
   SET  WRITTEN_PREM = CONVERT(VARCHAR,CASE WHEN ISNUMERIC(WRITTEN_PREM)=0 THEN 0 ELSE CAST(WRITTEN_PREM AS NUMERIC(25,4)) END - @DEFFERENCE)  
   WHERE SPLIT_UNIQUE_ID=@SPLIT_UNIQUE_ID_MAX_TOTAL  
   AND  SPLIT_ID=@MAX_PREM_SPLIT_ID   
  -------##########  
  ------- if endosement is less then $5 ( from system params )then make written premium 0 as per Rajan Sir IN ITRACK 3457  
  SET @TOTAL_ENDOS=0  
  select @SYS_MIN_ENDOS=isnull(SYS_MIN_ENDORSEMENT,0) from MNT_SYSTEM_PARAMS   
  select @TOTAL_ENDOS=SUM(case when isnumeric(WRITTEN_PREM)=0 then 0 else cast(WRITTEN_PREM as numeric(25,4)) END)  
   from CLT_PREMIUM_SPLIT_DETAILS CLT   
   inner join CLT_PREMIUM_SPLIT SP on  CLT.SPLIT_UNIQUE_ID=SP.UNIQUE_ID  
   WHERE SP.CUSTOMER_ID=@CUSTOMER_ID AND SP.POLICY_ID=@POLICY_ID AND SP.POLICY_VERSION_ID=@POLICY_VERSION_ID  
   AND COMPONENT_CODE<>'SUMTOTAL'  
  
  IF (ABS(@TOTAL_ENDOS)<@SYS_MIN_ENDOS)  
  UPDATE CLT SET CLT.WRITTEN_PREM=0 from CLT_PREMIUM_SPLIT_DETAILS CLT   
   inner join CLT_PREMIUM_SPLIT SP on  CLT.SPLIT_UNIQUE_ID=SP.UNIQUE_ID  
   WHERE SP.CUSTOMER_ID=@CUSTOMER_ID AND SP.POLICY_ID=@POLICY_ID AND SP.POLICY_VERSION_ID=@POLICY_VERSION_ID  
   --AND COMPONENT_CODE<>'SUMTOTAL'  
  -------  
  
  DROP TABLE #CLT_PREMIUM_SPLIT_R  
  DROP TABLE #CLT_PREMIUM_SPLIT_DETAILS_R  
   END  
  ELSE ---REINSTATED NO LAPSE  SAME AS REVERSE CANCELLATION  
     BEGIN  
  
 --inserting new Entry in CLT_PREMIUM_SPLIT for new pol version  
  SELECT * INTO #CLT_PREMIUM_SPLIT_T FROM CLT_PREMIUM_SPLIT  
   WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_BASE_VERSION_ID  
     UPDATE #CLT_PREMIUM_SPLIT_T SET POLICY_VERSION_ID=@POLICY_VERSION_ID  
  
  DECLARE CR_SPLIT CURSOR FOR  
   SELECT UNIQUE_ID,APP_ID,APP_VERSION_ID,RISK_ID,RISK_TYPE FROM #CLT_PREMIUM_SPLIT_T  
  OPEN CR_SPLIT  
     FETCH NEXT  FROM CR_SPLIT into @SPLIT_UNIQUE_ID,@APP_ID,@APP_VERSION_ID,@RISK_ID,@RISK_TYPE   
  WHILE @@FETCH_STATUS = 0  
   BEGIN  
    SELECT @UNIQUE_ID = MAX(UNIQUE_ID)+1  FROM CLT_PREMIUM_SPLIT  
    INSERT INTO CLT_PREMIUM_SPLIT ( UNIQUE_ID,CUSTOMER_ID,APP_ID,APP_VERSION_ID,POLICY_ID,POLICY_VERSION_ID,RISK_ID,RISK_TYPE,PROCESS_TYPE,ACTL_POLICY_VERSION_ID)   
     VALUES(@UNIQUE_ID,@CUSTOMER_ID, @APP_ID,@APP_VERSION_ID,@POLICY_ID,@POLICY_VERSION_ID,@RISK_ID,@RISK_TYPE,@PROCESS_TYPE,@POLICY_VERSION_ID)   
      
    --inserting new Entry in CLT_PREMIUM_SPLIT_DETAILS for new pol version and for this Risk  
    select * into #CLT_PREMIUM_SPLIT_DETAILS_T from CLT_PREMIUM_SPLIT_DETAILS where SPLIT_UNIQUE_ID=@SPLIT_UNIQUE_ID  
     update #CLT_PREMIUM_SPLIT_DETAILS_T set SPLIT_UNIQUE_ID =@UNIQUE_ID,  
      COMP_ACT_PREMIUM=CONVERT(VARCHAR,CASE WHEN ISNUMERIC(COMP_ACT_PREMIUM)=0 THEN 0 ELSE CAST(COMP_ACT_PREMIUM AS NUMERIC(25,4))*-1 END),  
      WRITTEN_PREM=CONVERT(VARCHAR,CASE WHEN ISNUMERIC(WRITTEN_PREM)=0 THEN 0 ELSE CAST(WRITTEN_PREM AS NUMERIC(25,4))*-1 END),  
      CHANGE_INFORCE_PREM=CONVERT(VARCHAR,CASE WHEN ISNUMERIC(CHANGE_INFORCE_PREM)=0 THEN 0 ELSE CAST(CHANGE_INFORCE_PREM AS NUMERIC(25,4))*-1 END)  
      ,EPR_MONTH=@EPR_MONTH,EPR_YEAR=@EPR_YEAR  
    insert into CLT_PREMIUM_SPLIT_DETAILS select * from #CLT_PREMIUM_SPLIT_DETAILS_T  
    drop table #CLT_PREMIUM_SPLIT_DETAILS_T    
   FETCH NEXT  FROM CR_SPLIT into @SPLIT_UNIQUE_ID,@APP_ID,@APP_VERSION_ID,@RISK_ID,@RISK_TYPE   
   END  
  CLOSE CR_SPLIT  
  DEALLOCATE CR_SPLIT  
  
   END  
  
END  
--- revert back process  
IF (@PROCESS_TYPE='37')  
BEGIN  
----inserting new Entry in CLT_PREMIUM_SPLIT for new pol version  
DECLARE @REVERT_VERSION_ID SMALLINT,  
   @NEW_SPLIT_ID INT,  
   @OLD_UNIQUE_ID INT,  
   @EFF_DATE DATETIME  
  
SELECT @EFF_DATE = EFFECTIVE_DATETIME FROM POL_POLICY_PROCESS WITH(NOLOCK)   
   WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND NEW_POLICY_VERSION_ID=@POLICY_VERSION_ID  
     AND PROCESS_ID IN (35,37)  
IF (DATEDIFF(DD,@EFF_DATE,GETDATE())<0)  
 BEGIN  
  SET @EPR_MONTH=MONTH(@EFF_DATE)  
  SET @EPR_YEAR=YEAR(@EFF_DATE)  
 END  
ELSE  
 BEGIN  
  SET @EPR_MONTH=MONTH(GETDATE())  
  SET @EPR_YEAR=YEAR(GETDATE())  
 END  
DECLARE @EPR_DATE DATETIME  
SET @EPR_DATE= CAST(@EPR_MONTH + '/1/' + @EPR_YEAR AS DATETIME)  
--A. insert negative entry of reverted versions in split_details table with same split_unique_id but with IS_PART_OF_REVERT =Y  
SELECT UNIQUE_ID,CUSTOMER_ID,APP_ID,APP_VERSION_ID,POLICY_ID,POLICY_VERSION_ID,RISK_ID,RISK_TYPE    
 INTO #CLT_PREMIUM_SPLIT_RV   
 FROM CLT_PREMIUM_SPLIT SPT  
 WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID>@POLICY_BASE_VERSION_ID   
 AND PROCESS_TYPE<>'37' -- DO NOT INCLUDE REVERT BACK ENTRY  
 AND POLICY_VERSION_ID NOT IN  
 (  
 SELECT POLICY_VERSION_ID FROM CLT_PREMIUM_SPLIT WHERE CUSTOMER_ID=SPT.CUSTOMER_ID AND POLICY_ID=SPT.POLICY_ID  
 AND UNIQUE_ID IN (SELECT SPLIT_UNIQUE_ID FROM  CLT_PREMIUM_SPLIT_DETAILS WHERE SPLIT_UNIQUE_ID=SPT.UNIQUE_ID  
   AND ISNULL(IS_PART_OF_REVERT,'N')='Y')  
 )  
 group by UNIQUE_ID,CUSTOMER_ID,APP_ID,APP_VERSION_ID,POLICY_ID,POLICY_VERSION_ID,RISK_ID,RISK_TYPE  
 --1.loop for all versions and risk  
  DECLARE CR_SPLIT_RV CURSOR FOR  
 SELECT UNIQUE_ID,APP_ID,APP_VERSION_ID,POLICY_VERSION_ID,RISK_ID,RISK_TYPE FROM #CLT_PREMIUM_SPLIT_RV  
 OPEN CR_SPLIT_RV  
 FETCH NEXT  FROM CR_SPLIT_RV into @OLD_UNIQUE_ID,@APP_ID,@APP_VERSION_ID,@REVERT_VERSION_ID,@RISK_ID,@RISK_TYPE   
  WHILE @@FETCH_STATUS = 0  
  BEGIN  
  
   SELECT @NEW_SPLIT_ID = MAX(SPLIT_ID) FROM CLT_PREMIUM_SPLIT_DETAILS WHERE SPLIT_UNIQUE_ID=@OLD_UNIQUE_ID  
   --2.inserting new NEGATIVE Entry in CLT_PREMIUM_SPLIT_DETAILS for reverted pol version and for this Risk  
   INSERT INTO CLT_PREMIUM_SPLIT_DETAILS (SPLIT_UNIQUE_ID,SPLIT_ID,COMPONENT_TYPE,COMPONENT_CODE,LIMIT,DEDUCTIBLE,PREMIUM,REMARKS,COMP_ACT_PREMIUM,  
             COMP_REMARKS,COMP_EXT,COM_EXT_AD,WRITTEN_PREM,CHANGE_INFORCE_PREM,EPR_MONTH,EPR_YEAR,IS_PART_OF_REVERT,REVERT_ID)  
   SELECT @OLD_UNIQUE_ID AS SPLIT_UNIQUE_ID,   
    --SPLIT_ID = IDENTITY(int,1,1) ,  
    ROW_NUMBER() OVER (ORDER BY SPLIT_UNIQUE_ID,SPLIT_ID ASC) + @NEW_SPLIT_ID AS SPLIT_ID,  
    COMPONENT_TYPE,COMPONENT_CODE,LIMIT,DEDUCTIBLE,PREMIUM,REMARKS,COMP_ACT_PREMIUM,COMP_REMARKS,COMP_EXT,COM_EXT_AD,  
    (CASE WHEN ISNUMERIC(WRITTEN_PREM)=0 THEN 0 ELSE CAST(WRITTEN_PREM AS NUMERIC(25,4)) END ) * -1 as WRITTEN_PREM,  
    (CASE WHEN ISNUMERIC(CHANGE_INFORCE_PREM)=0 THEN 0 ELSE CAST(CHANGE_INFORCE_PREM AS NUMERIC(25,4)) END ) * -1 as CHANGE_INFORCE_PREM,  
    -- CASE WHEN CAST(EPR_MONTH AS INT) < CAST(@EPR_MONTH AS INT) THEN @EPR_MONTH ELSE EPR_MONTH END,  
    -- CASE WHEN CAST(EPR_YEAR  AS INT) < CAST(@EPR_YEAR AS INT) THEN @EPR_YEAR ELSE EPR_YEAR END,  
    CASE WHEN CAST (convert(varchar,EPR_MONTH) + '/1/' + convert(varchar,EPR_YEAR) AS DATETIME) < @EPR_DATE THEN @EPR_MONTH ELSE EPR_MONTH END,  
    CASE WHEN CAST (convert(varchar,EPR_MONTH) + '/1/' + convert(varchar,EPR_YEAR) AS DATETIME) < @EPR_DATE THEN @EPR_YEAR ELSE EPR_YEAR END,  
    'Y' AS IS_PART_OF_REVERT,-1 AS REVERT_ID  
    FROM CLT_PREMIUM_SPLIT_DETAILS   
     WHERE SPLIT_UNIQUE_ID=@OLD_UNIQUE_ID  
     AND ISNULL(IS_PART_OF_REVERT,'N')<>'Y'  
-- SELECT * FROM CLT_PREMIUM_SPLIT_DETAILS WHERE SPLIT_UNIQUE_ID=@OLD_UNIQUE_ID  
  FETCH NEXT  FROM CR_SPLIT_RV into @OLD_UNIQUE_ID,@APP_ID,@APP_VERSION_ID,@REVERT_VERSION_ID,@RISK_ID,@RISK_TYPE   
  END  
CLOSE CR_SPLIT_RV  
DEALLOCATE CR_SPLIT_RV  
  
--B. insert new entry in premium split table for new version(rollback version)  
 --1. fetch premium split data for base version  
 SELECT CUSTOMER_ID,APP_ID,APP_VERSION_ID,POLICY_ID,POLICY_VERSION_ID AS POLICY_VERSION_ID,RISK_ID,RISK_TYPE,ACTL_POLICY_VERSION_ID    
  INTO #CLT_PREMIUM_SPLIT_RV1   
  FROM CLT_PREMIUM_SPLIT SPT  
  WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_BASE_VERSION_ID   
  --AND PROCESS_TYPE<>'37' -- DO NOT INCLUDE REVERT BACK ENTRY  
  group by CUSTOMER_ID,APP_ID,APP_VERSION_ID,POLICY_ID,POLICY_VERSION_ID,RISK_ID,RISK_TYPE,ACTL_POLICY_VERSION_ID  
  
 --UPDATE #CLT_PREMIUM_SPLIT_RV1 SET POLICY_VERSION_ID=@POLICY_VERSION_ID  
 SELECT TOP 1 * INTO #TMP_CLT_PREMIUM_SPLIT_DETAILS_RV FROM  CLT_PREMIUM_SPLIT_DETAILS (NOLOCK)  
 DELETE FROM #TMP_CLT_PREMIUM_SPLIT_DETAILS_RV  
  
declare @ACTL_POLICY_VERSION_ID int  
 --2.loop for each risk   
 DECLARE CR_SPLIT_RV1 CURSOR FOR  
  SELECT APP_ID,APP_VERSION_ID,POLICY_VERSION_ID,RISK_ID,RISK_TYPE,ACTL_POLICY_VERSION_ID FROM #CLT_PREMIUM_SPLIT_RV1  
 OPEN CR_SPLIT_RV1  
 FETCH NEXT  FROM CR_SPLIT_RV1 into @APP_ID,@APP_VERSION_ID,@REVERT_VERSION_ID,@RISK_ID,@RISK_TYPE,@ACTL_POLICY_VERSION_ID  
  WHILE @@FETCH_STATUS = 0  
  BEGIN  
   SELECT @UNIQUE_ID = MAX(UNIQUE_ID)+1  FROM CLT_PREMIUM_SPLIT with(nolock)  
   --3. insert new entry into split table for risk  
   INSERT INTO CLT_PREMIUM_SPLIT (UNIQUE_ID,CUSTOMER_ID,APP_ID,APP_VERSION_ID,POLICY_ID,POLICY_VERSION_ID,RISK_ID,RISK_TYPE,PROCESS_TYPE,ACTL_POLICY_VERSION_ID)   
    VALUES(@UNIQUE_ID,@CUSTOMER_ID, @APP_ID,@APP_VERSION_ID,@POLICY_ID,@POLICY_VERSION_ID,@RISK_ID,@RISK_TYPE,@PROCESS_TYPE,CASE WHEN @REVERT_VERSION_ID = @ACTL_POLICY_VERSION_ID THEN @POLICY_VERSION_ID ELSE @ACTL_POLICY_VERSION_ID END)   
   --4.inserting new Entry in temp CLT_PREMIUM_SPLIT_DETAILS for new pol version and for this Risk  
   SELECT SPD.*  
   INTO #CLT_PREMIUM_SPLIT_DETAILS_RV   
   FROM CLT_PREMIUM_SPLIT SPT  
   INNER JOIN CLT_PREMIUM_SPLIT_DETAILS SPD ON SPD.SPLIT_UNIQUE_ID=SPT.UNIQUE_ID  
    WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_BASE_VERSION_ID   
    and RISK_ID=@RISK_ID and RISK_TYPE=@RISK_TYPE  
  
      insert into #TMP_CLT_PREMIUM_SPLIT_DETAILS_RV(SPLIT_UNIQUE_ID,SPLIT_ID,COMPONENT_TYPE, COMPONENT_CODE,LIMIT,DEDUCTIBLE,PREMIUM,REMARKS,COMP_ACT_PREMIUM,  
      COMP_REMARKS,COMP_EXT,COM_EXT_AD,WRITTEN_PREM,CHANGE_INFORCE_PREM,EPR_MONTH,EPR_YEAR,IS_PART_OF_REVERT)   
   select @UNIQUE_ID,SPLIT_ID,COMPONENT_TYPE, COMPONENT_CODE,LIMIT,DEDUCTIBLE,PREMIUM,REMARKS,COMP_ACT_PREMIUM,COMP_REMARKS,COMP_EXT,COM_EXT_AD,0 AS WRITTEN_PREM,0 AS CHANGE_INFORCE_PREM,@EPR_MONTH,@EPR_YEAR,NULL AS IS_PART_OF_REVERT  
    from #CLT_PREMIUM_SPLIT_DETAILS_RV   
----- UPDATE REVERT ID TO REVERTED ROWS OF THIS RISK  
  UPDATE A SET REVERT_ID=@UNIQUE_ID  
   FROM CLT_PREMIUM_SPLIT_DETAILS A  
   INNER JOIN CLT_PREMIUM_SPLIT B ON A.SPLIT_UNIQUE_ID=B.UNIQUE_ID  
   WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID>@POLICY_BASE_VERSION_ID   
   AND  ISNULL(IS_PART_OF_REVERT,'')='Y' AND RISK_ID=@RISK_ID AND RISK_TYPE=@RISK_TYPE AND REVERT_ID=-1  
--------  
  drop table #CLT_PREMIUM_SPLIT_DETAILS_RV  
  FETCH NEXT  FROM CR_SPLIT_RV1 into @APP_ID,@APP_VERSION_ID,@REVERT_VERSION_ID,@RISK_ID,@RISK_TYPE,@ACTL_POLICY_VERSION_ID  
  END  
 CLOSE CR_SPLIT_RV1  
 DEALLOCATE CR_SPLIT_RV1  
-----UPDATE REVERT ID OF THOSE RISK WHICH WAS NOT ON BASE VERSION  
  UPDATE A SET REVERT_ID=@UNIQUE_ID  
   FROM CLT_PREMIUM_SPLIT_DETAILS A  
   INNER JOIN CLT_PREMIUM_SPLIT B ON A.SPLIT_UNIQUE_ID=B.UNIQUE_ID  
   WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID>@POLICY_BASE_VERSION_ID   
   AND  ISNULL(IS_PART_OF_REVERT,'')='Y' AND REVERT_ID=-1  
----  
 --5. Finaly insert records into split details table for new version  
 INSERT INTO CLT_PREMIUM_SPLIT_DETAILS SELECT * FROM #TMP_CLT_PREMIUM_SPLIT_DETAILS_RV  
  
--C. Drop all temp tables  
drop table #CLT_PREMIUM_SPLIT_RV  
DROP TABLE #CLT_PREMIUM_SPLIT_RV1  
DROP TABLE   #TMP_CLT_PREMIUM_SPLIT_DETAILS_RV  
END  
  
  
END  
  
 --go  
   
--exec Proc_UpdateWrittenEnforcePremiumSplit  2156,615,5,2,'37'--    2727,108,5,3,'37'  
   
  
-- --select IS_PART_OF_REVERT,REVERT_ID,B.POLICY_VERSION_ID,SPLIT_UNIQUE_ID ,SPLIT_ID ,COMPONENT_TYPE ,COMPONENT_CODE ,LIMIT, DEDUCTIBLE ,PREMIUM, REMARKS, COMP_ACT_PREMIUM ,COMP_REMARKS, COMP_EXT ,COM_EXT_AD ,WRITTEN_PREM ,CHANGE_INFORCE_PREM  
----select B.POLICY_VERSION_ID,A.*   
----from CLT_PREMIUM_SPLIT_DETAILS A  
-- --inner join CLT_PREMIUM_SPLIT B on A.SPLIT_UNIQUE_ID=B.UNIQUE_ID  
-- --WHERE CUSTOMER_ID=2727 AND POLICY_ID=108  
-- --AND POLICY_VERSION_ID=9   
-- --and b.process_type in ('14','12','25','29','16','37')   
  
--rollback tran   
  
GO

