IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_DELETE_CHECK_TEMP_ACT_CHECK_INFORMATION]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_DELETE_CHECK_TEMP_ACT_CHECK_INFORMATION]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--drop proc dbo.PROC_DELETE_CHECK_TEMP_ACT_CHECK_INFORMATION  
CREATE PROCEDURE [dbo].[PROC_DELETE_CHECK_TEMP_ACT_CHECK_INFORMATION]  
(  
@LOGGED_IN_USER_ID INT,  
@CHECK_ID int  
)  
AS  
BEGIN  
DELETE FROM TEMP_ACT_DISTRIBUTION_DETAILS WHERE  GROUP_ID = @CHECK_ID  
DELETE FROM ACT_VENDOR_CHECK_DISTRIBUTION WHERE  CHECK_ID = @CHECK_ID  
DELETE FROM TEMP_ACT_CHECK_INFORMATION WHERE CHECK_ID = @CHECK_ID  
DELETE FROM ACT_AGENCY_CHECK_DISTRIBUTION_TEMP WHERE CHECK_ID = @CHECK_ID  
RETURN 1  
  
END  






GO

