IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_UPDATE_MASTER_CHILD_INFO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_UPDATE_MASTER_CHILD_INFO]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Charles Gomes
-- Create date: 8-Apr-10
-- Description:	Updates Data to Master and associated Multilingual Tables

--DROP PROC PROC_UPDATE_MASTER_CHILD_INFO
-- =============================================
CREATE PROCEDURE [dbo].[PROC_UPDATE_MASTER_CHILD_INFO]	
	@PRIMARY_COLUMN NVARCHAR(50), --Column Name
	@PRIMARY_ID INT,	-- Value
	@TABLE_NAME NVARCHAR(50),
	@LANG_ID INT,
	@DESCRIPTION_COLUMN NVARCHAR(50),
	@DESCRIPTION NVARCHAR(50)
AS
BEGIN

	SET NOCOUNT ON;
	
	DECLARE @QUERY VARCHAR(8000)
	
	IF @LANG_ID = 1
	BEGIN
		SET @QUERY = '
		IF EXISTS(SELECT '+@PRIMARY_COLUMN+' FROM '+@TABLE_NAME+' WHERE '+@PRIMARY_COLUMN+' = '+CAST(@PRIMARY_ID AS VARCHAR)+')
		BEGIN
			UPDATE '+@TABLE_NAME+' SET '+@DESCRIPTION_COLUMN+' = '''+@DESCRIPTION+''' WHERE '+@PRIMARY_COLUMN+' = '+CAST(@PRIMARY_ID AS VARCHAR)+
		' END '
	END
	ELSE
	BEGIN		
		SET @QUERY = '
		IF EXISTS(SELECT '+@PRIMARY_COLUMN+' FROM '+@TABLE_NAME+' WHERE '+@PRIMARY_COLUMN+' = '+CAST(@PRIMARY_ID AS VARCHAR)+' AND LANG_ID = '+CAST(@LANG_ID AS VARCHAR)+')
		BEGIN
			UPDATE '+@TABLE_NAME+' SET '+@DESCRIPTION_COLUMN+' = '''+@DESCRIPTION+''' WHERE '+@PRIMARY_COLUMN+' = '+CAST(@PRIMARY_ID AS VARCHAR)+' AND LANG_ID ='+CAST(@LANG_ID AS VARCHAR)+
		 ' END '
	END

	--SELECT @QUERY
	EXECUTE(@QUERY)
	    
END
GO

