IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_GET_PRINT_JOB]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_GET_PRINT_JOB]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--DROP PROC PROC_GET_PRINT_JOB
--SELECT url_path+'/'+[FILE_NAME], * FROM TEMP_PRINT_JOBS
--select url_path+'/'+[FILE_NAME],* from  TEMP_PRINT_JOBS where [FILE_NAME] like '%BROKER_2764_377_1_28_634413998036279200%' 
--SELECT * INTO [EBIX-ADVANTAGE-DEV-NEW].DBO.TEMP_PRINT_JOBS   FROM [EBIX-ADV-ALBA-UAT].DBO.TEMP_PRINT_JOBS





CREATE PROC PROC_GET_PRINT_JOB --2764
@CLIENT_ID INT = NULL
AS
BEGIN
select 
CUSTOMER_ID,
POLICY_ID,
POLICY_VERSION_ID,
DOCUMENT_CODE,
PRINT_DATETIME,
URL_PATH,
ONDEMAND_FLAG,
PRINT_SUCCESSFUL,
PRINTED_DATETIME,
DUPLEX,
CREATED_BY,
CREATED_DATETIME,
MODIFIED_BY,
LAST_UPDATED_DATETIME,
IS_ACTIVE,
ENTITY_TYPE,
AGENCY_ID,
PRINT_JOBS_ID,
PICKFROM,
[FILE_NAME],
PROCESS_ID,
IS_PROCESSED,
ENTITY_ID,
ATTEMPTS,
CLAIM_ID,
ACTIVITY_ID,
IS_Downloaded,
IS_printed


from TEMP_PRINT_JOBS 
--where DOCUMENT_CODE ='BOLETO'  
--AGENCY_ID =@CLIENT_ID
--and customer_id =@CLIENT_ID
order by AGENCY_ID
--[FILE_NAME] like '%BOLETO_2764_488_1_365_634424492914891574%' 
END

 


GO

