IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_SCHEDULE_P_SUMMARY_CLAIMS_LIST]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_SCHEDULE_P_SUMMARY_CLAIMS_LIST]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN
--DROP PROC Proc_SCHEDULE_P_SUMMARY_CLAIMS_LIST
--GO
CREATE PROC [dbo].[Proc_SCHEDULE_P_SUMMARY_CLAIMS_LIST]
(
	@MONTH INT,
	@YEAR INT
)
AS
BEGIN
DECLARE @MONTH_END_DATE DATETIME
SET @MONTH_END_DATE = DATEADD(DD,-1,DATEADD(MM,1,CAST(CONVERT(VARCHAR,@MONTH) + '/01/' + CONVERT(VARCHAR,@YEAR) AS DATETIME)))
;
SELECT CLAIM_NUMBER, CATEGORY_DESC, LOB_DESC,LOSS_YEAR,
CASE WHEN CLM.STATUS = 'OPEN_CLAIM' THEN 1 ELSE 0 END AS OPEN_CLAIMS,
CASE WHEN CLM.STATUS = 'PAID_CLAIM' THEN 1 ELSE 0 END AS PAID_CLAIMS,
CASE WHEN CLM.STATUS = 'PAID_EXPENSE_CLAIM' THEN 1 ELSE 0 END AS PAID_EXPENSE_CLAIMS,
CASE WHEN CLM.STATUS = 'CLOSED_CLAIMS_WITH_PAYMENT' THEN 1 ELSE 0 END AS CLOSED_CLAIMS_WITH_PAYMENT,
CASE WHEN CLM.STATUS = 'CLOSED_CLAIMS_WITHOUT_PAYMENT' THEN 1 ELSE 0 END AS CLOSED_CLAIMS_WITHOUT_PAYMENT 
FROM
(
	SELECT DISTINCT isnull(C.CLAIM_NUMBER,'') CLAIM_NUMBER, VW.CATEGORY_DESC, VW.LOB_DESC,YEAR(C.LOSS_DATE) AS LOSS_YEAR,
	'OPEN_CLAIM' AS STATUS
	FROM CLM_CLAIM_INFO C 
	INNER JOIN VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY_BY_ASLOB VW
		ON C.CLAIM_ID = VW.CLAIM_ID
	WHERE C.CLAIM_STATUS=11739 --and  C.CLAIM_ID = T.CLAIM_ID
	and CAST(CONVERT(VARCHAR,C.LOSS_DATE,101) AS DATETIME)<= @MONTH_END_DATE
	and CAST(CONVERT(VARCHAR,C.CREATED_DATETIME,101) AS DATETIME) <= @MONTH_END_DATE
	and CAST(CONVERT(VARCHAR,VW.MONTH_NUMBER) + '/01/' + CONVERT(VARCHAR,VW.YEAR_NUMBER) AS DATETIME)  <= @MONTH_END_DATE
--	ORDER BY VW.CATEGORY_DESC, VW.LOB_DESC
	
	UNION

	SELECT DISTINCT isnull(C.CLAIM_NUMBER,'') CLAIM_NUMBER, VW.CATEGORY_DESC, VW.LOB_DESC,YEAR(C.LOSS_DATE) AS LOSS_YEAR,
	'PAID_CLAIM' AS STATUS
	FROM CLM_CLAIM_INFO C 
	INNER JOIN VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY_BY_ASLOB VW
		ON C.CLAIM_ID = VW.CLAIM_ID 
	WHERE CAST(CONVERT(VARCHAR,C.LOSS_DATE,101) AS DATETIME)<= @MONTH_END_DATE
	and CAST(CONVERT(VARCHAR,C.CREATED_DATETIME,101) AS DATETIME) <= @MONTH_END_DATE
	and CAST(CONVERT(VARCHAR,VW.MONTH_NUMBER) + '/01/' + CONVERT(VARCHAR,VW.YEAR_NUMBER) AS DATETIME)  <= @MONTH_END_DATE
	GROUP BY C.CLAIM_NUMBER,VW.CATEGORY_DESC, VW.LOB_DESC,C.LOSS_DATE
	HAVING SUM(VW.PAID_LOSS + VW.SALVAGE_LESS + VW.LESS_RECOVERY) <> 0 
--	ORDER BY VW.CATEGORY_DESC, VW.LOB_DESC
		
	UNION

	SELECT DISTINCT isnull(C.CLAIM_NUMBER,'') CLAIM_NUMBER, VW1.CATEGORY_DESC, VW1.LOB_DESC,YEAR(C.LOSS_DATE) AS LOSS_YEAR,
	'PAID_EXPENSE_CLAIM' AS STATUS
	FROM CLM_CLAIM_INFO C
	INNER JOIN VW_LOSS_ADJUSTMENT_EXPENSE_SCHEDULE_P_SUMMUARY_BY_ASLOB VW1
		ON C.CLAIM_ID = VW1.CLAIM_ID
	WHERE C.CLAIM_STATUS=11740 
	--AND SUM(VW1.LOSS_ADJUST_EXPENSE + VW1.LEGAL_EXPENSE + VW1.LESS_SALVAGE_EXPENSE + VW1.LESS_RECOVERY_EXPENSE + VW1.OTHER_EXPENSE + VW1.REIN_OTHER_EXPENSE) <> 0
	AND CAST(CONVERT(VARCHAR,C.LOSS_DATE,101) AS DATETIME)<= @MONTH_END_DATE
	and CAST(CONVERT(VARCHAR,C.CREATED_DATETIME,101) AS DATETIME) <= @MONTH_END_DATE
	and CAST(CONVERT(VARCHAR,VW1.MONTH_NUMBER) + '/01/' + CONVERT(VARCHAR,VW1.YEAR_NUMBER) AS DATETIME)  <= @MONTH_END_DATE
	GROUP BY C.CLAIM_NUMBER,VW1.CATEGORY_DESC,VW1.LOB_DESC,C.LOSS_DATE
	HAVING SUM(VW1.LOSS_ADJUST_EXPENSE + VW1.LEGAL_EXPENSE + VW1.LESS_SALVAGE_EXPENSE + VW1.LESS_RECOVERY_EXPENSE + VW1.OTHER_EXPENSE + VW1.REIN_OTHER_EXPENSE) <> 0
--	ORDER BY VW1.CATEGORY_DESC, VW1.LOB_DESC
	
	UNION

	SELECT DISTINCT isnull(C.CLAIM_NUMBER,'') CLAIM_NUMBER, VW.CATEGORY_DESC, VW.LOB_DESC,YEAR(C.LOSS_DATE) AS LOSS_YEAR,
	'CLOSED_CLAIMS_WITH_PAYMENT' AS STATUS
	FROM CLM_CLAIM_INFO C  
	INNER JOIN VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY_BY_ASLOB VW
		ON C.CLAIM_ID = VW.CLAIM_ID
	WHERE C.CLAIM_STATUS=11740 --AND 
	AND CAST(CONVERT(VARCHAR,C.LOSS_DATE,101) AS DATETIME)<= @MONTH_END_DATE
	and CAST(CONVERT(VARCHAR,C.CREATED_DATETIME,101) AS DATETIME) <= @MONTH_END_DATE
	and CAST(CONVERT(VARCHAR,VW.MONTH_NUMBER) + '/01/' + CONVERT(VARCHAR,VW.YEAR_NUMBER) AS DATETIME)  <= @MONTH_END_DATE
	GROUP BY C.CLAIM_NUMBER, VW.CATEGORY_DESC, VW.LOB_DESC,C.LOSS_DATE
	HAVING SUM(VW.PAID_LOSS) <>0 
--	ORDER BY VW.CATEGORY_DESC, VW.LOB_DESC
		
	UNION

	SELECT DISTINCT isnull(C.CLAIM_NUMBER,'') CLAIM_NUMBER, VW.CATEGORY_DESC, VW.LOB_DESC,YEAR(C.LOSS_DATE) AS LOSS_YEAR,
	'CLOSED_CLAIMS_WITHOUT_PAYMENT' AS STATUS
	FROM CLM_CLAIM_INFO C 
	INNER JOIN VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY_BY_ASLOB VW
		ON C.CLAIM_ID = VW.CLAIM_ID
	WHERE C.CLAIM_STATUS=11740 --AND VW.PAID_LOSS = 0 
	AND CAST(CONVERT(VARCHAR,C.LOSS_DATE,101) AS DATETIME)<= @MONTH_END_DATE
	and CAST(CONVERT(VARCHAR,C.CREATED_DATETIME,101) AS DATETIME) <= @MONTH_END_DATE
	and CAST(CONVERT(VARCHAR,VW.MONTH_NUMBER) + '/01/' + CONVERT(VARCHAR,VW.YEAR_NUMBER) AS DATETIME)  <= @MONTH_END_DATE
	GROUP BY C.CLAIM_NUMBER, VW.CATEGORY_DESC, VW.LOB_DESC,C.LOSS_DATE
	HAVING SUM(VW.PAID_LOSS) = 0
--	ORDER BY VW.CATEGORY_DESC, VW.LOB_DESC
)CLM
END
--go
--exec Proc_SCHEDULE_P_SUMMARY_CLAIMS_LIST 8,2009
--rollback tran




GO

