IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_SUSEP_R_RURAL]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_SUSEP_R_RURAL]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[PROC_SUSEP_R_RURAL]   --'06/30/2011', '08/31/2011','88998201181163000010'    
@FROM_DATETIME DATETIME =NULL,        
@TO_DATETIME DATETIME =NULL
--@POLICY_NUMBER VARCHAR(30) = NULL        
AS         
BEGIN                
SELECT               
--PPRI.STATE_ID,            
--PPRI.*              
-- VW.CUSTOMER_ID                
--,VW.POLICY_ID                
--,VW.POLICY_VERSION_ID,                
-------REPORT FIELDS--------                
 VW.SUSEP_INSURER_CODE AS COD_SEG                
                 
,RIGHT('00000000000000000000'+ISNULL(CONVERT(VARCHAR,VW.SUSEP_PROCESS_NUMBER),''),20) AS PROCESSO                
,ISNULL(CONVERT(VARCHAR(20),RIGHT(VW.POLICY_NUMBER,20)),'') AS APOLICE               
--,VW.POLICY_NUMBER AS APOLICE                
,RIGHT('00000000000000000000'+ CONVERT(VARCHAR, VW.ENDORSEMENT_NO),20) AS ENDOSSO             
,CASE WHEN VW.ENDORSEMENT_TYPE =14684 --REFUND ENDORSEMENT                
   AND  EXISTS(SELECT COUNT(*)                 
        FROM POL_PRODUCT_COVERAGES PRC2                
        WHERE PRC2.CUSTOMER_ID   = PPRI.CUSTOMER_ID                
        AND PRC2.POLICY_ID   = PPRI.POLICY_ID                
        AND PRC2.POLICY_VERSION_ID = PPRI.POLICY_VERSION_ID                
        AND PRC2.IS_ACTIVE ='N')THEN '2'                 
   WHEN VW.ENDORSEMENT_TYPE =14682 THEN '1'                
   WHEN VW.ENDORSEMENT_TYPE =14685 THEN '4'                  
   ---CANCELLATION OF POLICY/COVERAGE OR ITEM EXCLUSION NEED TO IMPLEMENT                
   ELSE 0          
   END AS COD_END            
                
   ,RIGHT('000000000000'+ cast(PPRI.ITEM_NUMBER as varchar),12) AS ITEM             
               
 ,CASE WHEN PPRI.FESR_COVERAGE =10963 THEN 'S'                 
    WHEN PPRI.FESR_COVERAGE =10964 THEN 'N'                
    ELSE ''                
    END AS COB_FUNDO                
 ,CASE WHEN PPRI.MODE =14754 THEN '10'                 
    WHEN PPRI.MODE =14755 THEN '20'                
    WHEN PPRI.MODE =14756 THEN '30'                
    WHEN PPRI.MODE =14757 THEN '40'                
    WHEN PPRI.MODE =14758 THEN '50'                
    WHEN PPRI.MODE =14759 THEN '60'                
    WHEN PPRI.MODE =14760 THEN '70'                
    WHEN PPRI.MODE =14761 THEN '80'                
    WHEN PPRI.MODE =14762 THEN '90'                
    WHEN PPRI.MODE =14763 THEN '64'                
    ELSE ''                
    END AS COD_MOD --COB_MOD                   
 ,CASE WHEN PPRI.PROPERTY =14765 THEN '50'                 
    WHEN PPRI.MODE =14769 THEN '60'                
    WHEN PPRI.MODE =14770 THEN '70'                    
    ELSE '99'                
    END AS  ID_BEM           
              
          
   ,CASE WHEN  VW.COVERAGE_CODE_ID  ='4184' THEN '10'          
   WHEN  VW.COVERAGE_CODE_ID  ='4185' THEN '20'          
   WHEN  VW.COVERAGE_CODE_ID  ='4186' THEN '30'          
   WHEN  VW.COVERAGE_CODE_ID  ='4187' THEN '40'          
   WHEN  VW.COVERAGE_CODE_ID  ='4188' THEN '50'          
   WHEN  VW.COVERAGE_CODE_ID  = '4189' THEN '60'          
   WHEN  VW.COVERAGE_CODE_ID  ='4190' THEN '70'          
   WHEN  VW.COVERAGE_CODE_ID  ='4191' THEN '80'          
   WHEN  VW.COVERAGE_CODE_ID  ='4192' THEN '90'          
   WHEN  VW.COVERAGE_CODE_ID  ='4193' THEN '100'          
   WHEN  VW.COVERAGE_CODE_ID  ='4194' THEN '110'          
   WHEN  VW.COVERAGE_CODE_ID  ='4195' THEN '120'          
   WHEN  VW.COVERAGE_CODE_ID  ='4196' THEN '130'          
   WHEN  VW.COVERAGE_CODE_ID  ='4197' THEN '140'             WHEN  VW.COVERAGE_CODE_ID  ='4198' THEN '150'          
   WHEN  VW.COVERAGE_CODE_ID  ='4199' THEN '160'          
   WHEN  VW.COVERAGE_CODE_ID  ='4200' THEN '170'          
   WHEN  VW.COVERAGE_CODE_ID  ='4201' THEN '180'          
   WHEN  VW.COVERAGE_CODE_ID  ='4202' THEN '190'          
   WHEN  VW.COVERAGE_CODE_ID  ='4203' THEN '200'          
   WHEN  VW.COVERAGE_CODE_ID  ='4204' THEN '210'          
   WHEN  VW.COVERAGE_CODE_ID  ='4205' THEN '220'          
   WHEN  VW.COVERAGE_CODE_ID  ='4206' THEN '230'          
   WHEN  VW.COVERAGE_CODE_ID  ='4207' THEN '240'          
   WHEN  VW.COVERAGE_CODE_ID  ='4208' THEN '250'          
   WHEN  VW.COVERAGE_CODE_ID  ='4209' THEN '260'          
   WHEN  VW.COVERAGE_CODE_ID  ='4210' THEN '270'          
   WHEN  VW.COVERAGE_CODE_ID  ='4211' THEN '280'          
   WHEN  VW.COVERAGE_CODE_ID  ='4212' THEN '290'          
   WHEN  VW.COVERAGE_CODE_ID  ='4213' THEN '300'          
   WHEN  VW.COVERAGE_CODE_ID  ='4214' THEN '310'          
   WHEN  VW.COVERAGE_CODE_ID  ='4215' THEN '320'          
   WHEN  VW.COVERAGE_CODE_ID  ='4216' THEN '330'          
   WHEN  VW.COVERAGE_CODE_ID  ='4217' THEN '340'          
   WHEN  VW.COVERAGE_CODE_ID  ='4218' THEN '999'          
   ELSE ''             
  END AS COBERTURA --CASE                
 --NULL AS COBERTURA --AS PER DISCUSSION         
                 
                
 ,CASE WHEN PPRI.MODE =14754 THEN --'10'                
  CASE WHEN  PPRI.CULTIVATION = 14774 THEN '11005001'                
    WHEN  PPRI.CULTIVATION = 14775 THEN '11005544'                
    WHEN  PPRI.CULTIVATION = 14776 THEN '11028552'                
    WHEN  PPRI.CULTIVATION = 14777 THEN '11030227'                
    WHEN  PPRI.CULTIVATION = 14778 THEN '11035569'                
    WHEN  PPRI.CULTIVATION = 14779 THEN '11038009'                
    WHEN  PPRI.CULTIVATION = 14780 THEN '11040004'                
    WHEN  PPRI.CULTIVATION = 14781 THEN '11045559'                
    WHEN  PPRI.CULTIVATION = 14782 THEN '11070562'                
    WHEN  PPRI.CULTIVATION = 14783 THEN '11070548'                
    WHEN  PPRI.CULTIVATION = 14784 THEN '11070555'                
    WHEN  PPRI.CULTIVATION = 14785 THEN '11065003'                
    WHEN  PPRI.CULTIVATION = 14786 THEN '11072553'                
    WHEN  PPRI.CULTIVATION = 14787 THEN '11073552'                
    WHEN  PPRI.CULTIVATION = 14788 THEN '11085007'                
    WHEN  PPRI.CULTIVATION = 14789 THEN '11095482'                
    WHEN  PPRI.CULTIVATION = 14790 THEN '11097002'                
    WHEN  PPRI.CULTIVATION = 14791 THEN '11136578'                
    WHEN  PPRI.CULTIVATION = 14792 THEN '11155023'                
    WHEN  PPRI.CULTIVATION = 14793 THEN '11155009'                
    WHEN  PPRI.CULTIVATION = 14794 THEN '11155573'                
    WHEN  PPRI.CULTIVATION = 14795 THEN '11189006'                
    WHEN  PPRI.CULTIVATION = 14796 THEN '11215004'                
    WHEN  PPRI.CULTIVATION = 14797 THEN '11231002'                
    WHEN  PPRI.CULTIVATION = 14798 THEN '11250007'                
    WHEN  PPRI.CULTIVATION = 14799 THEN '11251006'                
    WHEN  PPRI.CULTIVATION = 14800 THEN '11253004'                
    WHEN  PPRI.CULTIVATION = 14801 THEN '11270001'                
    WHEN  PPRI.CULTIVATION = 14802 THEN '11270805'                
    WHEN  PPRI.CULTIVATION = 14803 THEN '11270568'                
    WHEN  PPRI.CULTIVATION = 14804 THEN '11275556'                
    WHEN  PPRI.CULTIVATION = 14805 THEN '11276005'                
    WHEN  PPRI.CULTIVATION = 14806 THEN '11285003'                
    WHEN  PPRI.CULTIVATION = 14807 THEN '11296559'                
    WHEN  PPRI.CULTIVATION = 14808 THEN '11303552'                
    WHEN  PPRI.CULTIVATION = 14809 THEN '11310002'                
    WHEN  PPRI.CULTIVATION = 14810 THEN '11315007'                
    WHEN  PPRI.CULTIVATION = 14811 THEN '11320559'                
    WHEN  PPRI.CULTIVATION = 14812 THEN '11320566'                
  WHEN  PPRI.CULTIVATION = 14813 THEN '13325002'                
    WHEN  PPRI.CULTIVATION = 14814 THEN '11340003'                
    WHEN  PPRI.CULTIVATION = 14815 THEN '11343550'                
    WHEN  PPRI.CULTIVATION = 14816 THEN '99999999'                    
    ELSE '' END                
    ELSE '99999999'                 
     END AS CULTURA                
 ,CASE WHEN EXISTS(SELECT SUSEP_CITY_CODE FROM MNT_ZIP_CODES_SUSEP_CITY  MZ WITH(NOLOCK)                    
     WHERE CITY+[STATE] =PPRI.CITY+MCSL.STATE_CODE )                
    THEN                 
   (SELECT SUSEP_CITY_CODE FROM MNT_ZIP_CODES_SUSEP_CITY  MZ WITH(NOLOCK)                 
   WHERE CITY+[STATE] =PPRI.CITY+MCSL.STATE_CODE)                
  ELSE '07388'                
  END AS MUNIC           
  ,MCSL.STATE_CODE   AS UF            
 --,PPRISTATE_CODE  AS UF                 
 --,(SELECT STATE_CODE FROM MNT_COUNTRY_STATE_LIST MCSL2 WHERE           
 --MCSL2.STATE_ID = PPRI.STATE_ID and MCSL.COUNTRY_ID =5 )AS UF          
 --,VW.POLICY_EFFECTIVE_DATE AS INICIO_VIG             
 ,REPLACE(CONVERT(varchar,VW.POLICY_EFFECTIVE_DATE,111),'/','')   AS INICIO_VIG             
 --,VW.POLICY_EXPIRATION_DATE AS FIM_VIG                
 ,REPLACE(CONVERT(varchar,VW.POLICY_EXPIRATION_DATE,111),'/','') AS FIM_VIG            
 ,CASE WHEN VW.DEDUCTIBLE_1_TYPE ='14573' THEN '1'                
   WHEN VW.DEDUCTIBLE_1_TYPE ='14574' THEN '2'                
   WHEN VW.DEDUCTIBLE_1_TYPE ='14575' THEN '3'                
   WHEN VW.DEDUCTIBLE_1_TYPE ='14576' THEN '5'                
   ELSE '9'                         
   END AS TIPO_FRANQ  --CASE              
   --,RIGHT('00000000000'+REPLACE(ISNULL(CONVERT(VARCHAR,VW.DEDUCTIBLE_1),''),'.',''),11) AS VAL_FRANQ               
   ,CASE WHEN ISNULL(VW.DEDUCTIBLE_1_TYPE,0) = 14575 THEN 		--FOR 3	
				CASE WHEN ISNULL(VW.MINIMUM_DEDUCTIBLE,0)=0 THEN '0,00' 
				ELSE 
				RIGHT('00000000000'+REPLACE(CONVERT(VARCHAR,ISNULL(VW.MINIMUM_DEDUCTIBLE,'0,00')),'.',','),11)
				END
		 WHEN ISNULL(VW.DEDUCTIBLE_1_TYPE,'') NOT IN ('14573','14574','14575','14576') THEN '' --9 FOR 		    
	ELSE	
			CASE WHEN ISNULL(VW.DEDUCTIBLE_1,0) = 0 THEN '0,00' 
				ELSE
				RIGHT('00000000000'+REPLACE(ISNULL(CONVERT(VARCHAR,VW.DEDUCTIBLE_1 ),'0,00'),'.',','),11)  
			END
	 END AS VAL_FRANQ 	 
	

	  
--,VW.DEDUCTIBLE_1 AS VAL_FRANQ                
,CASE WHEN PPRI.MODE IN (14754,14754) THEN RIGHT('00000000000'+ REPLACE(CONVERT(VARCHAR, CAST(ISNULL(PPRI.INSURED_AREA,0) AS DECIMAL(18,2))),'.',',') ,11)           
   ELSE '00000000,00'                
   END AS AREA_SEG                   
--,VW.LIMIT_1 AS IMP_SEG            
,RIGHT('00000000000'+REPLACE(ISNULL(CONVERT(VARCHAR,CAST(VW.LIMIT_1 AS DECIMAL(18,2))),'0,00'),'.',','),11) AS IMP_SEG               
--,VW.WRITTEN_PREMIUM AS PREMIO              
,RIGHT('00000000000'+REPLACE(ISNULL(CONVERT(VARCHAR,CAST(VW.WRITTEN_PREMIUM AS DECIMAL(18,2))),'0,00'),'.',','),11)  AS PREMIO            
--,PPRI.SUBSIDY_PREMIUM AS PREMIO_SUB                
,RIGHT('00000000000'+REPLACE(ISNULL(CONVERT(VARCHAR,CAST(PPRI.SUBSIDY_PREMIUM AS DECIMAL(18,2))),'0,00'),'.',','),11) AS PREMIO_SUB                
--,PPRI.SUBSIDY_STATE AS ORIGEM_SUB                
,(SELECT MCSL2.STATE_CODE FROM MNT_COUNTRY_STATE_LIST MCSL2 WITH(NOLOCK) WHERE              
    MCSL2.STATE_ID = PPRI.SUBSIDY_STATE  AND MCSL2.COUNTRY_ID = 5) AS ORIGEM_SUB            
            
--,VW.COMMISSION  AS CORRETAGEM             
,RIGHT('0000000000'+REPLACE(ISNULL(CONVERT(VARCHAR,CAST(VW.COMMISSION AS DECIMAL(18,2))),'0,00'),'.',','),9)  AS CORRETAGEM             
,RIGHT('00000'+REPLACE(ISNULL(CONVERT(VARCHAR,CAST((ISNULL(VW.WRITTEN_PREMIUM,0)  * ISNULL(MLM.ADMINISTRATIVE_EXPENSE,0)/100)AS DECIMAL(18,2))),0),'.',','),5) AS PERC_CARR             
--,(VW.WRITTEN_PREMIUM  * MLM.ADMINISTRATIVE_EXPENSE/100)  AS PERC_CARR                
--,VW.PERC_DISCOUNT AS PERC_DESC             
--,RIGHT('00000'+REPLACE(ISNULL(CONVERT(VARCHAR,VW.PERC_DISCOUNT),''),'.',''),5)   AS PERC_DESC            
,CASE WHEN ISNULL(VW.PERC_DISCOUNT,0) <= 0 THEN ''   
  ELSE RIGHT('00000'+REPLACE(ISNULL(CONVERT(VARCHAR,VW.PERC_DISCOUNT),'0,00'),'.',','),5)   
    END AS PERC_DESC   
FROM POL_PENHOR_RURAL_INFO PPRI WITH(NOLOCK)                 
INNER JOIN VW_SUSEP_RCOMP_AND_RRURAL VW ON PPRI.CUSTOMER_ID = VW.CUSTOMER_ID AND PPRI.POLICY_ID = VW.POLICY_ID AND PPRI.POLICY_VERSION_ID = VW.POLICY_VERSION_ID                
AND PPRI.PENHOR_RURAL_ID  = VW.RISK_ID                
INNER JOIN MNT_LOB_MASTER MLM WITH(NOLOCK) ON MLM.LOB_ID = VW.POLICY_LOB                
LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST MCSL WITH(NOLOCK) ON CAST(PPRI.STATE_ID AS SMALLINT) = MCSL.STATE_ID AND MCSL.COUNTRY_ID =5            
WHERE --CASE WHEN ((@FROM_DATETIME IS NOT NULL) AND (@TO_DATETIME  IN NOT NULL))  
--  THEN   
  VW.COMPLETED_DATETIME BETWEEN @FROM_DATETIME AND @TO_DATETIME    
  --ELSE  VW.COMPLETED_DATETIME => @FROM_DATETIME  
  --END      
   --AND (@POLICY_NUMBER IS NULL OR VW.POLICY_NUMBER =@POLICY_NUMBER)        
   AND MLM.SUSEP_LOB_CODE = '1163' --RURAL PRODUCT             
ORDER BY VW.CUSTOMER_ID,VW.POLICY_ID,VW.POLICY_VERSION_ID                
END
GO

