IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_PostReinstatementPremium]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_PostReinstatementPremium]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------                
 Proc Name       : Dbo.Proc_PostReinstatementPremium
 Created by      : Ravindra 
 Date            : 1-8-2007
 Purpose         : Calculates and Post the Reinstatement Premium

 Revison History :                
 Used In     	 : Wolverine   (Cancellation Process)             
------------------------------------------------------------                
Date     Review By          Comments                
------   ------------       -------------------------*/                
-- drop proc Dbo.Proc_PostReinstatementPremium
create PROC [dbo].[Proc_PostReinstatementPremium]
(                
	 @CUSTOMER_ID  INT,          
	 @POLICY_ID  INT,        
	 @POLICY_VERSION_ID INT,      
	 @NEW_POLICY_VERSION_ID Int,
	 @REINS_TYPE Varchar(10)= null ,
	 @CHANGE_EFFECTIVE_DATE Datetime = null ,
	 @CFG_AMOUNT Decimal(18,2),
	 @SOURCE_ROW_ID	Int = null ,               -- Source Row ID of Process
	 @USER_ID	Int 	= null   ,-- UID of Logged IN User	,
	 @TRANSACTION_DESC VARCHAR(1000) OUTPUT   ,
	 @APPLY_RINS_FEES	Char(1) = 'Y' 
)                
AS               
BEGIN 

DECLARE @REINS_TYPE_SameTerm Varchar(10),
		@REINS_TYPE_OtherTerm Varchar(10),
		@UPDATED_FROM Char(1),
		@ITEM_TRAN_CODE_TYPE Varchar(10),
		@ITEM_TRAN_CODE Varchar(10),
		@ITEM_TRAN_CODE_TYPE_COM Varchar(10),
		@ITEM_TRAN_CODE_COM Varchar(10),
		@CUR_DATE		Datetime,
		@USER_CODE		VARCHAR(10),
		@USER_NAME		VARCHAR(60),
		@PLAN_PAYMENT_MODE	Int,
		@TRAN_DESC		Varchar(100),
		@AGENCY_ID		Int,
		@BILL_TYPE		Char(2),
		@POLICY_EXPIRATION_DATE	Datetime, 
		@POLICY_EFFECTIVE_DATE	Datetime
	
	SELECT @TRAN_DESC  = POLICY_NUMBER + ' ' + POLICY_DISP_VERSION
	FROM POL_CUSTOMER_POLICY_LIST WHERE CUSTOMER_ID = @CUSTOMER_ID 
	AND POLICY_ID  =@POLICY_ID 
	AND POLICY_VERSION_ID  = @NEW_POLICY_VERSION_ID

SET  @REINS_TYPE_SameTerm = 'SAME_TERM'
SET  @REINS_TYPE_OtherTerm = 'OTHER_TERM'

SET  @UPDATED_FROM = 'P'
SET  @ITEM_TRAN_CODE_TYPE ='PREM'
SET  @ITEM_TRAN_CODE ='RINSP'
SET  @ITEM_TRAN_CODE_TYPE_COM ='COM'
SET  @ITEM_TRAN_CODE_COM ='RINC'
SET  @CUR_DATE = GETDATE()

SELECT @USER_CODE = USER_LOGIN_ID, 
		@USER_NAME =  (USER_FNAME + ' ' + USER_LNAME) 
FROM MNT_USER_LIST 
WHERE USER_ID = @USER_ID 

SET @TRANSACTION_DESC = 'Reinstatement Premium'

DECLARE @INS_FEE Decimal(18,2),
		@CURRENT_TERM Int,
		@INSTALL_PLAN_ID Int ,
		@REINST_FEES Decimal(18,2)

SELECT  @CURRENT_TERM = CURRENT_TERM ,
		@INSTALL_PLAN_ID = ISNULL(INSTALL_PLAN_ID,0),
		@AGENCY_ID		 = AGENCY_ID , 
		@BILL_TYPE		 = BILL_TYPE ,
		@POLICY_EXPIRATION_DATE	= APP_EXPIRATION_DATE , 
		@POLICY_EFFECTIVE_DATE	= APP_EFFECTIVE_DATE 
		FROM POL_CUSTOMER_POLICY_LIST 
		WHERE	CUSTOMER_ID  = @CUSTOMER_ID 	
		AND POLICY_ID = @POLICY_ID 
		AND POLICY_VERSION_ID = @POLICY_VERSION_ID


SELECT 	@INS_FEE  = ISNULL(INST.INSTALLMENT_FEES,0) ,
		@REINST_FEES = ISNULL(INST.REINSTATEMENT_FEES,0) ,
		@PLAN_PAYMENT_MODE  = PLAN_PAYMENT_MODE
FROM    ACT_INSTALL_PLAN_DETAIL INST
WHERE	IDEN_PLAN_ID = @INSTALL_PLAN_ID



IF(@REINS_TYPE = @REINS_TYPE_SameTerm)
BEGIN 
	
	-- Create Record in ACT_PREMIUM_PROCESS_DETAILS AND 
	-- ACT_PREMIUM_PROCESS_SUB_DETAILS
	CREATE TABLE #POSTED_PREMIUM
	(	
		[IDENT_COL] [int] IDENTITY(1,1) NOT NULL ,
		[PREMIUM_XML] Varchar(500),
		[POSTED_PREMIUM_XML] VARCHAR(500),
		[PPD_ROW_ID]		Int
		
	)
	
	INSERT INTO #POSTED_PREMIUM (PREMIUM_XML , POSTED_PREMIUM_XML , PPD_ROW_ID) 
	SELECT PREMIUM_XML , POSTED_PREMIUM_XML , PROCESS_ID FROM ACT_PREMIUM_PROCESS_DETAILS 
	WHERE CUSTOMER_ID = @CUSTOMER_ID 
		AND POLICY_ID = @POLICY_ID 
		AND POLICY_VERSION_ID = @POLICY_VERSION_ID

	DECLARE @POSTED_PREMIUM_XML VARCHAR(500),
			@PREMIUM_XML	Varchar(500),
			@IDEN_COL Int

	SET @IDEN_COL = 1

	WHILE 1 = 1              
	BEGIN              
		IF NOT EXISTS              
		(           
		SELECT IDENT_COL FROM #POSTED_PREMIUM             
		WHERE IDENT_COL = @IDEN_COL              
		)              
		BEGIN              
			BREAK              
		END              

		SELECT @POSTED_PREMIUM_XML = POSTED_PREMIUM_XML ,
				@PREMIUM_XML = PREMIUM_XML
		FROM #POSTED_PREMIUM
		WHERE IDENT_COL = @IDEN_COL              

		DECLARE @NET_PREMIUM VARCHAR(40) ,       
				@GROSS_PREMIUM VARCHAR(40),        
				@MCCA_FEES  VARCHAR(40)  ,    
				@OTHER_FEES VARCHAR(40)      

		DECLARE @IDOC INT 
		--CREATE AN INTERNAL REPRESENTATION OF THE XML DOCUMENT.        
		EXEC SP_XML_PREPAREDOCUMENT @IDOC OUTPUT, @POSTED_PREMIUM_XML

		-- EXECUTE A SELECT STATEMENT THAT USES THE OPENXML ROWSET PROVIDER.        

		SELECT  @NET_PREMIUM = NETPREMIUM ,	@GROSS_PREMIUM = GROSSPREMIUM,         
				@MCCA_FEES = MCCAFEES ,   @OTHER_FEES = OTHERFEES        
		FROM   OPENXML (@IDOC, '/PREMIUM',2 )        
		WITH(        
				NETPREMIUM   VARCHAR(40),         
				GROSSPREMIUM VARCHAR(40),        
				MCCAFEES     VARCHAR(40),        
				OTHERFEES    VARCHAR(40)   			)        

		EXEC SP_XML_REMOVEDOCUMENT @IDOC

		SET  @NET_PREMIUM		=	CONVERT(VARCHAR,ISNULL(CONVERT(Decimal , @NET_PREMIUM ), 0) * -1  )
		SET  @GROSS_PREMIUM =	CONVERT(VARCHAR,ISNULL(CONVERT(Decimal , @GROSS_PREMIUM ), 0) * -1  )
		SET	 @MCCA_FEES		=	CONVERT(VARCHAR,ISNULL(CONVERT(Decimal, @MCCA_FEES),0) * -1 ) 
		SET  @OTHER_FEES	=	CONVERT(VARCHAR,ISNULL(CONVERT (Decimal , @OTHER_FEES ),0) * -1 )

		SET @POSTED_PREMIUM_XML = '<PREMIUM><GROSSPREMIUM>'	+  @GROSS_PREMIUM  
								+ '</GROSSPREMIUM><NETPREMIUM>' +   @NET_PREMIUM 
								+ '</NETPREMIUM><MCCAFEES>' + @MCCA_FEES  
								+ '</MCCAFEES><OTHERFEES>'+ @OTHER_FEES  
								+ '</OTHERFEES></PREMIUM>'
		
		SET  @NET_PREMIUM	=	NULL
		SET  @GROSS_PREMIUM =	NULL
		SET	 @MCCA_FEES		=	NULL
		SET  @OTHER_FEES	=	NULL

		EXEC SP_XML_PREPAREDOCUMENT @IDOC OUTPUT, @PREMIUM_XML

		-- EXECUTE A SELECT STATEMENT THAT USES THE OPENXML ROWSET PROVIDER.        

		SELECT  @NET_PREMIUM = NETPREMIUM ,	@GROSS_PREMIUM = GROSSPREMIUM,         
				@MCCA_FEES = MCCAFEES ,   @OTHER_FEES = OTHERFEES        
		FROM   OPENXML (@IDOC, '/PREMIUM',2 )        
		WITH(        
				NETPREMIUM   VARCHAR(40),         
				GROSSPREMIUM VARCHAR(40),        
				MCCAFEES     VARCHAR(40),        
				OTHERFEES    VARCHAR(40)        
			)        

		EXEC SP_XML_REMOVEDOCUMENT @IDOC

		SET  @NET_PREMIUM		=	CONVERT(VARCHAR,ISNULL(CONVERT(Decimal , @NET_PREMIUM ), 0) * -1  )
		SET  @GROSS_PREMIUM =	CONVERT(VARCHAR,ISNULL(CONVERT(Decimal , @GROSS_PREMIUM ), 0) * -1  )
		SET	 @MCCA_FEES		=	CONVERT(VARCHAR,ISNULL(CONVERT(Decimal, @MCCA_FEES),0) * -1 ) 
		SET  @OTHER_FEES	=	CONVERT(VARCHAR,ISNULL(CONVERT (Decimal , @OTHER_FEES ),0) * -1 )

		SET @PREMIUM_XML = '<PREMIUM><GROSSPREMIUM>'	+  @GROSS_PREMIUM  
								+ '</GROSSPREMIUM><NETPREMIUM>' +   @NET_PREMIUM 
								+ '</NETPREMIUM><MCCAFEES>' + @MCCA_FEES  
								+ '</MCCAFEES><OTHERFEES>'+ @OTHER_FEES  
								+ '</OTHERFEES></PREMIUM>'
		
		UPDATE #POSTED_PREMIUM SET PREMIUM_XML = @PREMIUM_XML , POSTED_PREMIUM_XML = @POSTED_PREMIUM_XML
		WHERE IDENT_COL = @IDEN_COL
		
		SET @IDEN_COL = @IDEN_COL + 1

	END
	
	DECLARE @PPD_ROW_ID Int 
	SELECT @PPD_ROW_ID = (ISNULL(MAX(PROCESS_ID),0) + 1) FROM ACT_PREMIUM_PROCESS_DETAILS
 	
	INSERT INTO ACT_PREMIUM_PROCESS_DETAILS
		(	PROCESS_ID , CUSTOMER_ID ,  POLICY_ID , POLICY_VERSION_ID , PREMIUM_AMOUNT , 
			IS_ACTIVE , CREATED_BY , CREATED_DATETIME , PROCESS_TYPE , 
			PREMIUM_XML, POSTED_PREMIUM_XML
		) 
	SELECT @PPD_ROW_ID ,PPD.CUSTOMER_ID ,  PPD.POLICY_ID ,@NEW_POLICY_VERSION_ID , PPD.PREMIUM_AMOUNT * -1 ,
			'Y', @USER_ID , @CUR_DATE , 16,
			TMP.PREMIUM_XML, TMP.POSTED_PREMIUM_XML
	FROM ACT_PREMIUM_PROCESS_DETAILS PPD
	INNER JOIN #POSTED_PREMIUM TMP
	ON PPD.PROCESS_ID = TMP.PPD_ROW_ID
	WHERE CUSTOMER_ID = @CUSTOMER_ID 
		AND POLICY_ID = @POLICY_ID 
		AND POLICY_VERSION_ID = @POLICY_VERSION_ID
	
	INSERT INTO ACT_PREMIUM_PROCESS_SUB_DETAILS 
		(	CUSTOMER_ID ,POLICY_ID,POLICY_VERSION_ID,PPD_ROW_ID,RISK_ID,RISK_TYPE,
			NET_PREMIUM,STATS_FEES,GROSS_PREMIUM,INFORCE_PREMIUM,INFORCE_FEES ,
			COMMISSION_RATE ,COMMISSION_AMOUNT ,EFFECTIVE_DATE ,CURRENT_COMMISSION_RATE
		)
	SELECT SUB.CUSTOMER_ID ,SUB.POLICY_ID,@NEW_POLICY_VERSION_ID,@PPD_ROW_ID,SUB.RISK_ID,SUB.RISK_TYPE,
			SUB.NET_PREMIUM * -1 ,SUB.STATS_FEES * -1 ,SUB.GROSS_PREMIUM * -1  ,SUB.INFORCE_PREMIUM * -1 ,
		 SUB.INFORCE_FEES * -1 ,
		 COMMISSION_RATE ,COMMISSION_AMOUNT * - 1 ,@CHANGE_EFFECTIVE_DATE  ,CURRENT_COMMISSION_RATE
	FROM ACT_PREMIUM_PROCESS_SUB_DETAILS SUB
	INNER JOIN ACT_PREMIUM_PROCESS_DETAILS PPD
	ON PPD.CUSTOMER_ID = SUB.CUSTOMER_ID 
	AND PPD.POLICY_ID = SUB.POLICY_ID 
	AND PPD.POLICY_VERSION_ID = SUB.POLICY_VERSION_ID
	AND PPD.PROCESS_ID = SUB.PPD_ROW_ID
	WHERE PPD.CUSTOMER_ID = @CUSTOMER_ID 
		AND PPD.POLICY_ID = @POLICY_ID 
		AND PPD.POLICY_VERSION_ID = @POLICY_VERSION_ID
	
	DROP TABLE #POSTED_PREMIUM

	CREATE TABLE #OLD_RECON_DETAILS
	(
		[IDEN_COL] [int] IDENTITY (1, 1) NOT NULL ,
		[GROUP_ID] [int] NULL ,
		[ITEM_TYPE] [nvarchar] (5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
		[ITEM_REFERENCE_ID] [int] NULL ,
		[SUB_LEDGER_TYPE] [nvarchar] (5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
		[RECON_AMOUNT] [decimal](18, 2) NULL ,
		[NOTE]	[nvarchar] (510), 
		[DIV_ID] [Smallint], 
		[DEPT_ID] [Smallint], 
		[PC_ID] [Smallint],
		[ITEM_TRAN_CODE] Varchar(15),
		[ITEM_TRAN_CODE_TYPE] Varchar(15)
	)


	CREATE TABLE #ACT_TMP_CUSTOMER_OPEN_ITEMS 
	(
		 [IDEN_COL] [int] IDENTITY (1, 1) NOT NULL ,
		 [ITEM_REFRENCE_ID] Int NOT NULL ,
		 [TOTAL_PAID] Decimal(18,2) NULL ,
		 [TOTAL_DUE]  Decimal(18,2) NULL 
	)

	-- Fetch recon details from Cancellation and revert it
	INSERT INTO #OLD_RECON_DETAILS(	
			GROUP_ID,ITEM_TYPE,ITEM_REFERENCE_ID,SUB_LEDGER_TYPE,RECON_AMOUNT ,
			NOTE, DIV_ID, DEPT_ID, PC_ID , 
			ITEM_TRAN_CODE , ITEM_TRAN_CODE_TYPE  )
	SELECT GROUP_ID,ITEM_TYPE,ITEM_REFERENCE_ID,SUB_LEDGER_TYPE,RECON_AMOUNT ,
		MAIN.NOTE, MAIN.DIV_ID, MAIN.DEPT_ID, MAIN.PC_ID  ,
		ACOI.ITEM_TRAN_CODE , ACOI.ITEM_TRAN_CODE_TYPE 	
	FROM ACT_CUSTOMER_RECON_GROUP_DETAILS MAIN 
	INNER JOIN ACT_CUSTOMER_OPEN_ITEMS ACOI
	ON ACOI.IDEN_ROW_ID = MAIN.ITEM_REFERENCE_ID 
	AND ACOI.ITEM_TRAN_CODE <> 'CANCP'
	AND ACOI.ITEM_TRAN_CODE_TYPE <> 'CHK'
	WHERE MAIN.GROUP_ID IN 
	(
		SELECT GROUP_ID FROM  ACT_CUSTOMER_RECON_GROUP_DETAILS RD
		INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OP 
		ON OP.IDEN_ROW_ID = RD.ITEM_REFERENCE_ID 
		AND OP.ITEM_TRAN_CODE_TYPE = 'PREM'
		AND OP.ITEM_TRAN_CODE = 'CANCP'
		AND OP.POLICY_ID = @POLICY_ID 
		AND OP.POLICY_VERSION_ID = @POLICY_VERSION_ID
		WHERE GROUP_ID IN 
				(
				SELECT GROUP_ID FROM ACT_RECONCILIATION_GROUPS WHERE RECON_ENTITY_ID = @CUSTOMER_ID
				)
	)
	ORDER BY MAIN.GROUP_ID 

	--Ravindra(11-03-2008) If check created for cancellation premium increase balance by check amount.
	DECLARE @CHECK_AMOUNT Decimal(18,2)

	SELECT @CHECK_AMOUNT = SUM(ISNULL(RECON_AMOUNT,0))
	FROM ACT_CUSTOMER_RECON_GROUP_DETAILS MAIN 
	INNER JOIN ACT_CUSTOMER_OPEN_ITEMS ACOI
	ON ACOI.IDEN_ROW_ID = MAIN.ITEM_REFERENCE_ID 
	AND ACOI.ITEM_TRAN_CODE <> 'CANCP'
	AND ACOI.ITEM_TRAN_CODE_TYPE = 'CHK'
	WHERE MAIN.GROUP_ID IN 
	(
		SELECT GROUP_ID FROM  ACT_CUSTOMER_RECON_GROUP_DETAILS RD
		INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OP 
		ON OP.IDEN_ROW_ID = RD.ITEM_REFERENCE_ID 
		AND OP.ITEM_TRAN_CODE_TYPE = 'PREM'
		AND OP.ITEM_TRAN_CODE = 'CANCP'
		AND OP.POLICY_ID = @POLICY_ID 
		AND OP.POLICY_VERSION_ID = @POLICY_VERSION_ID
		WHERE GROUP_ID IN 
				(
				SELECT GROUP_ID FROM ACT_RECONCILIATION_GROUPS WHERE RECON_ENTITY_ID = @CUSTOMER_ID
				)
	)


	IF( ISNULL(@CHECK_AMOUNT,0 ) <> 0) 
	BEGIN 
		INSERT INTO ACT_CUSTOMER_OPEN_ITEMS		(
			UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
			POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_COMM_APPLIES, AGENCY_COMM_PERC, 
			AGENCY_COMM_AMT, AGENCY_ID,CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, 
			PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE, 
			PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL, 
			BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE,ITEM_TRAN_CODE_TYPE,TRAN_ID, 
			CASH_ACCOUNTING, RECUR_JOURNAL_VERSION, JE_RECON_COUNTER,AMT_IN_RECON, 
			OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, TRANS_DESC, ITEM_STATUS ,
			DUE_DATE , NET_PREMIUM , PROCESSED_AMOUNT_FOR_AGENCY , RISK_ID , RISK_TYPE , 
			EXCLUDE_FROM_TRAN_HISTORY 
		)	
		SELECT 
		'J' , @PPD_ROW_ID, @PPD_ROW_ID, @CUR_DATE , @CUR_DATE ,
		@CUR_DATE ,@CHECK_AMOUNT , 0 , null ,null, 
		NULL , @AGENCY_ID , @CUSTOMER_ID, @POLICY_ID, @NEW_POLICY_VERSION_ID,
		NULL, NULL, 1, NULL,
		'CUS', PCL.DIV_ID, PCL.DEPT_ID, PCL.PC_ID, NULL , NULL, NULL ,
		PCL.BILL_TYPE,  @CHECK_AMOUNT ,'JE','JE' ,NULL, 
		NULL, NULL, NULL, NULL, 
		NULL, PCL.POLICY_LOB , PCL.POLICY_SUBLOB, PCL.COUNTRY_ID, PCL.STATE_ID, 
		'Entry for Check reversal', 'DP' ,
		@CUR_DATE ,  @CHECK_AMOUNT ,  NULL , NULL , NULL , 
		1
		FROM POL_CUSTOMER_POLICY_LIST PCL WITH (NOLOCK)
		WHERE PCL.CUSTOMER_ID = @CUSTOMER_ID
		AND	PCL.POLICY_ID  = @POLICY_ID
		AND PCL.POLICY_VERSION_ID = @NEW_POLICY_VERSION_ID
	
	END

	-- Ravindra (06-03-2008) :If items processed in Agency Statement update PROCESSED_AMOUNT_FOR_AGENCY
	DECLARE @STATEMENT_PROCESSED Bit, 
			@CANCELLED_AT		Datetime, 
			@STATEMENT_DATE		Datetime,
			@FIRST_DAY_OF_MONTH Datetime

	SELECT @CANCELLED_AT = COMPLETED_DATETIME FROM POL_POLICY_PROCESS 
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID 
	AND NEW_POLICY_VERSION_ID = @POLICY_VERSION_ID AND PROCESS_ID = 12 AND PROCESS_STATUS = 'COMPLETE'

	SELECT @STATEMENT_DATE = MAX(START_DATETIME)  FROM EOD_PROCESS_LOG WHERE 
	ACTIVITY = 100 AND SUB_ACTIVITY = 106 AND STATUS = 'SUCCEEDED'

	--Ravindra Update processed only if Policy is effective from last month or prior
	
	SET @FIRST_DAY_OF_MONTH  = CONVERT(VARCHAR,MONTH(@CUR_DATE)) + '/1/' 
								+ CONVERT(VARCHAR,YEAR(@CUR_DATE))
		
	IF ( @STATEMENT_DATE > @CANCELLED_AT AND 
			DATEDIFF(DD, @POLICY_EFFECTIVE_DATE,@FIRST_DAY_OF_MONTH ) > 0 )  
	BEGIN 
		SET @STATEMENT_PROCESSED  = 1
	END
	ELSE
	BEGIN 
		SET @STATEMENT_PROCESSED  = 0
	END	

	--Ravindra(10-02-2008): IF There is a small balance write off after cancellation reverse it 
	DECLARE @WRITE_OFF_AMOUNT Decimal(18,2) 

	SELECT @WRITE_OFF_AMOUNT  = SUM(ISNULL(RECON_AMOUNT,0)) FROM #OLD_RECON_DETAILS WHERE ITEM_TRAN_CODE ='SBWF'

	IF(ISNULL(@WRITE_OFF_AMOUNT ,0) <> 0 ) 
	BEGIN 
		DECLARE @AGN_COMM_PER Decimal(18,2) ,				@RECON_GROUP_ID Int , @WRITE_OFF_ROW_ID Int					SELECT @RECON_GROUP_ID = GROUP_ID FROM #OLD_RECON_DETAILS WHERE ITEM_TRAN_CODE = 'SBWF'		SELECT @AGN_COMM_PER = OI.AGENCY_COMM_PERC 		FROM 
		ACT_CUSTOMER_RECON_GROUP_DETAILS REC 		INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OI 			ON OI.IDEN_ROW_ID = REC.ITEM_REFERENCE_ID		WHERE GROUP_ID = @RECON_GROUP_ID			AND ITEM_TRAN_CODE <> 'SBWF'		SELECT @WRITE_OFF_ROW_ID = @@IDENTITY 				
		INSERT INTO ACT_CUSTOMER_OPEN_ITEMS		(
		UPDATED_FROM,  SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_ID,
		CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID,  DIV_ID, DEPT_ID, PC_ID, BILL_CODE, 
		ITEM_TRAN_CODE,ITEM_TRAN_CODE_TYPE, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, 
		TRANS_DESC, DUE_DATE , PROCESSED_AMOUNT_FOR_AGENCY ,WRITE_OFF_AMOUNT
		)	
		SELECT 
		'W' , @CUR_DATE, @CUR_DATE ,@CUR_DATE ,@WRITE_OFF_AMOUNT *- 1 , @WRITE_OFF_AMOUNT *- 1, @AGENCY_ID , 
		@CUSTOMER_ID, @POLICY_ID, @NEW_POLICY_VERSION_ID,PCL.DIV_ID, PCL.DEPT_ID, PCL.PC_ID, PCL.BILL_TYPE,  
		'SBWF',@ITEM_TRAN_CODE_TYPE,PCL.POLICY_LOB , PCL.POLICY_SUBLOB, PCL.COUNTRY_ID, PCL.STATE_ID, 
		'Write off Reversed',	@CUR_DATE ,  @WRITE_OFF_AMOUNT *- 1 ,  @WRITE_OFF_AMOUNT *- 1
		FROM POL_CUSTOMER_POLICY_LIST PCL WITH (NOLOCK)
		WHERE PCL.CUSTOMER_ID = @CUSTOMER_ID AND  PCL.POLICY_ID = @POLICY_ID AND PCL.POLICY_VERSION_ID  = @POLICY_VERSION_ID


		--Ravindra(10-15-2008): Reverse entry created in agency statement too .
		INSERT INTO ACT_AGENCY_STATEMENT_DETAILED
		(
			MONTH_NUMBER,	AGENCY_ID,	POLICY_ID,	POLICY_VERSION_ID,
			CUSTOMER_ID,	SOURCE_EFF_DATE, PREMIUM_AMOUNT,	COMMISSION_RATE,
			MONTH_YEAR,	TRAN_TYPE,	AMOUNT_FOR_CALCULATION,
			COMMISSION_AMOUNT, DUE_AMOUNT,
			CUSTOMER_OPEN_ITEM_ID ,	GROSS_PREMIUM,	TRAN_CODE,	COMM_TYPE,
			BILL_TYPE,	UPDATED_FROM,	NOT_COUNTED_RECEIVABLE
		)
		SELECT  
		MONTH(@CUR_DATE),AGENCY_ID, POLICY_ID,	POLICY_VERSION_ID,     
		CUSTOMER_ID,	@CUR_DATE ,@WRITE_OFF_AMOUNT , @AGN_COMM_PER ,
		YEAR(@CUR_DATE), 'COM' , @WRITE_OFF_AMOUNT ,
		@WRITE_OFF_AMOUNT * (@AGN_COMM_PER / 100) ,@WRITE_OFF_AMOUNT * (@AGN_COMM_PER / 100) * - 1 ,
		@WRITE_OFF_ROW_ID ,@WRITE_OFF_AMOUNT   ,'ENDC' ,'REG',
		'DB' , 'W' ,1	
		FROM POL_CUSTOMER_POLICY_LIST 
		WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID
	END
	

	-- Reverting recon done at cancellation
	DECLARE @IDENT_COL Int
	SET @IDENT_COL  = 1
	WHILE(1 = 1)
	BEGIN 
		IF NOT EXISTS( SELECT IDEN_COL FROM #OLD_RECON_DETAILS WHERE IDEN_COL = @IDENT_COL)
		BEGIN 
			BREAK
		END
		
		IF ( @STATEMENT_PROCESSED  = 1) 
		BEGIN 
			UPDATE ACT_CUSTOMER_OPEN_ITEMS SET TOTAL_PAID = ISNULL(TOTAL_PAID,0) - ISNULL(RECON_AMOUNT,0)	
						,	APPLIED_AT_CANCELLATION = ISNULL(APPLIED_AT_CANCELLATION,0) - ISNULL(RECON_AMOUNT,0)
						, PROCESSED_AMOUNT_FOR_AGENCY = ISNULL(PROCESSED_AMOUNT_FOR_AGENCY,0) - ISNULL(RECON_AMOUNT,0)
			FROM #OLD_RECON_DETAILS 
			WHERE ACT_CUSTOMER_OPEN_ITEMS.IDEN_ROW_ID =  #OLD_RECON_DETAILS.ITEM_REFERENCE_ID
			AND #OLD_RECON_DETAILS.IDEN_COL = @IDENT_COL
			AND #OLD_RECON_DETAILS.ITEM_TRAN_CODE NOT IN ('DISC','SBWF')
		END
		ELSE
		BEGIN
			UPDATE ACT_CUSTOMER_OPEN_ITEMS SET TOTAL_PAID = ISNULL(TOTAL_PAID,0) - ISNULL(RECON_AMOUNT,0)	
					,	APPLIED_AT_CANCELLATION = ISNULL(APPLIED_AT_CANCELLATION,0) - ISNULL(RECON_AMOUNT,0)
			FROM #OLD_RECON_DETAILS 
			WHERE ACT_CUSTOMER_OPEN_ITEMS.IDEN_ROW_ID =  #OLD_RECON_DETAILS.ITEM_REFERENCE_ID
			AND #OLD_RECON_DETAILS.IDEN_COL = @IDENT_COL
			AND #OLD_RECON_DETAILS.ITEM_TRAN_CODE NOT IN ('DISC','SBWF')
			
			--Ravindra(10-22-2009): iTrack 6565 :- Move released status updation logic below
			--Released status should be updated based total paid in both case - Statement Processed/ Not Processed
		END
	
		-- Update Released Status 
		IF (
				(	
				SELECT SUM(ISNULL(TOTAL_PAID,0)) FROM ACT_CUSTOMER_OPEN_ITEMS OI
				INNER JOIN ACT_POLICY_INSTALLMENT_DETAILS INS
				ON OI.INSTALLMENT_ROW_ID = INS.ROW_ID 
				INNER JOIN 
				(
					SELECT INSD.INSTALLMENT_NO  AS INSTALLMENT_NO
					FROM ACT_POLICY_INSTALLMENT_DETAILS INSD 
					INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OP
					ON OP.INSTALLMENT_ROW_ID = INSD.ROW_ID
					INNER JOIN #OLD_RECON_DETAILS RC
					ON OP.IDEN_ROW_ID = RC.ITEM_REFERENCE_ID
					WHERE RC.IDEN_COL = @IDENT_COL
				) TEMP 
				ON INS.INSTALLMENT_NO = TEMP.INSTALLMENT_NO
				WHERE  OI.CUSTOMER_ID = @CUSTOMER_ID 
				AND OI.POLICY_ID = @POLICY_ID 
				AND OI.POLICY_VERSION_ID IN
					( SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL WHERE 
						CPL.CUSTOMER_ID = @CUSTOMER_ID AND CPL.POLICY_ID = @POLICY_ID 
						AND CPL.CURRENT_TERM = @CURRENT_TERM 
					) 
				AND OI.ITEM_TRAN_CODE_TYPE = 'PREM'
				) = 0
			)
		BEGIN 
			UPDATE ACT_POLICY_INSTALLMENT_DETAILS  SET RELEASED_STATUS = 'N'  
			WHERE CUSTOMER_ID = @CUSTOMER_ID 
			AND POLICY_ID = @POLICY_ID
			AND INSTALLMENT_NO IN 
				(
					SELECT INSD.INSTALLMENT_NO  AS INSTALLMENT_NO
					FROM ACT_POLICY_INSTALLMENT_DETAILS INSD 
					INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OP
					ON OP.INSTALLMENT_ROW_ID = INSD.ROW_ID
					INNER JOIN #OLD_RECON_DETAILS RC
					ON OP.IDEN_ROW_ID = RC.ITEM_REFERENCE_ID
					WHERE RC.IDEN_COL = @IDENT_COL
				)
			AND POLICY_VERSION_ID IN
				( 
					SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL WHERE 
					CPL.CUSTOMER_ID = @CUSTOMER_ID AND CPL.POLICY_ID = @POLICY_ID 
					AND CPL.CURRENT_TERM = @CURRENT_TERM 
				) 
		END
		SET @IDENT_COL = @IDENT_COL + 1
	END




	--Fetch Premium Items created at cancellation 
	CREATE TABLE #CANCELLATION_ITEMS 
	( 
		IDENT_COL		Int Identity(1,1),
		OPEN_ITEM_ID	Int,
		RISK_ID			Int,
		RISK_TYPE		Varchar(15),
		AMOUNT			Decimal(18,2),
		IS_TEMP_ENTRY		Char(1)
	)	
	
	INSERT INTO #CANCELLATION_ITEMS 
		( OPEN_ITEM_ID , RISK_ID , RISK_TYPE ,	AMOUNT , IS_TEMP_ENTRY )
	SELECT IDEN_ROW_ID ,  RISK_ID , RISK_TYPE ,	TOTAL_DUE , IS_TEMP_ENTRY
	FROM ACT_CUSTOMER_OPEN_ITEMS 
	WHERE CUSTOMER_ID = @CUSTOMER_ID 
	AND POLICY_ID =		@POLICY_ID 
	AND POLICY_VERSION_ID = @POLICY_VERSION_ID
	AND ITEM_TRAN_CODE = 'CANCP'

	--Ravindra (07-18-2008): Mark Cancellation items as Processed for agency satatement 
	UPDATE ACT_CUSTOMER_OPEN_ITEMS SET TOTAL_PAID = AMOUNT,
			PROCESSED_AMOUNT_FOR_AGENCY = AMOUNT 
	FROM #CANCELLATION_ITEMS 
	WHERE ACT_CUSTOMER_OPEN_ITEMS.IDEN_ROW_ID =  #CANCELLATION_ITEMS.OPEN_ITEM_ID


	--Reverse Cancellation and Unpaid postings 
	/************************/
	INSERT INTO ACT_CUSTOMER_OPEN_ITEMS
			(
				UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
				POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_COMM_APPLIES, AGENCY_COMM_PERC, 
				AGENCY_COMM_AMT, AGENCY_ID,CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, 
				PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE, 
				PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL, 
				BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE,ITEM_TRAN_CODE_TYPE,TRAN_ID, 
				CASH_ACCOUNTING, RECUR_JOURNAL_VERSION, JE_RECON_COUNTER,AMT_IN_RECON, 
				OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, TRANS_DESC, ITEM_STATUS ,
				DUE_DATE , NET_PREMIUM , PROCESSED_AMOUNT_FOR_AGENCY , RISK_ID , RISK_TYPE 
			)	
	SELECT 
	@UPDATED_FROM , @PPD_ROW_ID, @PPD_ROW_ID, @CHANGE_EFFECTIVE_DATE , @CHANGE_EFFECTIVE_DATE ,
	@CUR_DATE ,CAN.AMOUNT *- 1 , CAN.AMOUNT *- 1, 'Y' , OI.AGENCY_COMM_PERC , 
	NULL , @AGENCY_ID , @CUSTOMER_ID, @POLICY_ID, @NEW_POLICY_VERSION_ID,
	NULL, NULL, 1, NULL,
	'CUS', PCL.DIV_ID, PCL.DEPT_ID, PCL.PC_ID, OI.IS_TEMP_ENTRY, NULL, OI.IS_PREBILL ,
	PCL.BILL_TYPE,  OI.GROSS_AMOUNT ,@ITEM_TRAN_CODE,@ITEM_TRAN_CODE_TYPE,NULL, 
	NULL, NULL, NULL, NULL, 
	NULL, PCL.POLICY_LOB , PCL.POLICY_SUBLOB, PCL.COUNTRY_ID, PCL.STATE_ID, 
	CASE ISNULL(OI.IS_TEMP_ENTRY,'')  
		WHEN '9' THEN 
			CASE WHEN OI.TRANS_DESC LIKE '%Charged To Agency%' THEN 'Reverse Premium Charged To Agency' 
			ELSE 'Unpaid from cancellation'  END
		ELSE @TRANSACTION_DESC END, 'DP' ,
	@CHANGE_EFFECTIVE_DATE ,  OI.NET_PREMIUM ,  CAN.AMOUNT *- 1 , OI.RISK_ID , OI.RISK_TYPE 
	FROM ACT_CUSTOMER_OPEN_ITEMS OI WITH (NOLOCK)
	INNER JOIN #CANCELLATION_ITEMS CAN
		ON OI.IDEN_ROW_ID = CAN.OPEN_ITEM_ID 
	INNER JOIN POL_CUSTOMER_POLICY_LIST PCL WITH (NOLOCK)
	ON OI.CUSTOMER_ID = PCL.CUSTOMER_ID 
	AND OI.POLICY_ID = PCL.POLICY_ID 
	AND OI.POLICY_VERSION_ID = PCL.POLICY_VERSION_ID 
	WHERE ISNULL(CAN.AMOUNT,0) <> 0
	/************************/


	
	
	-- Create Discount entries if Reversed at cancellation 
	IF EXISTS ( SELECT IDEN_COL FROM #OLD_RECON_DETAILS WHERE ITEM_TRAN_CODE = 'DISC')
	BEGIN 
		INSERT INTO ACT_CUSTOMER_OPEN_ITEMS
		(
		UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
		POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_COMM_APPLIES, AGENCY_COMM_PERC, 
		AGENCY_COMM_AMT, AGENCY_ID,CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, 
		PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE, 
		PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL, 
		BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE,ITEM_TRAN_CODE_TYPE,TRAN_ID, 
		CASH_ACCOUNTING, RECUR_JOURNAL_VERSION, JE_RECON_COUNTER,AMT_IN_RECON, 
		OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, TRANS_DESC, ITEM_STATUS ,
		DUE_DATE, RISK_ID , RISK_TYPE
		)	
		SELECT 
		@UPDATED_FROM , @PPD_ROW_ID, @PPD_ROW_ID, @CHANGE_EFFECTIVE_DATE , @CHANGE_EFFECTIVE_DATE ,
		@CUR_DATE ,SUM(REC.RECON_AMOUNT ) * - 1 , SUM(REC.RECON_AMOUNT ) * - 1 , NULL , OI.AGENCY_COMM_PERC, 
		NULL , @AGENCY_ID, @CUSTOMER_ID, @POLICY_ID, @NEW_POLICY_VERSION_ID,
		NULL, NULL, 1, NULL,
		'CUS', OI.DIV_ID, OI.DEPT_ID, OI.PC_ID, NULL, NULL, OI.IS_PREBILL ,
		OI.BILL_CODE, NULL  ,'DISC' ,  'PREM' ,NULL, 
		NULL, NULL, NULL, NULL, 
		NULL, OI.LOB_ID , OI.SUB_LOB_ID, OI.COUNTRY_ID, OI.STATE_ID, 'Discount given.'  , 'DP' ,
		@CHANGE_EFFECTIVE_DATE, OI.RISK_ID , OI.RISK_TYPE
		FROM #OLD_RECON_DETAILS REC
		INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OI WITH (NOLOCK)
		ON OI.IDEN_ROW_ID = REC.ITEM_REFERENCE_ID 
		WHERE REC.ITEM_TRAN_CODE = 'DISC'
		GROUP BY OI.AGENCY_COMM_PERC ,
		OI.DIV_ID, OI.DEPT_ID, OI.PC_ID, OI.IS_PREBILL ,
		OI.BILL_CODE, OI.LOB_ID , OI.SUB_LOB_ID, OI.COUNTRY_ID, OI.STATE_ID, 
		OI.RISK_ID , OI.RISK_TYPE
	END	

	--Creating the reconciliation group  
	DECLARE @GROUP_ID INT
	EXEC Proc_InsertACT_RECONCILIATION_GROUPS   
	@GROUP_ID OUTPUT, @CUSTOMER_ID, '1', 'Y', @CUR_DATE, @USER_ID, @USER_ID, @CUR_DATE, NULL  
	
	
	--Creating customer reconciliation group detail (Reverse Premium Entry)  
	INSERT INTO ACT_CUSTOMER_RECON_GROUP_DETAILS  
	(  
	GROUP_ID, ITEM_TYPE, ITEM_REFERENCE_ID, SUB_LEDGER_TYPE,   
	RECON_AMOUNT, NOTE, DIV_ID, DEPT_ID, PC_ID  
	)  
	SELECT   
	@GROUP_ID, 'CUST' , IDEN_ROW_ID , 'CUST',  
	TOTAL_DUE , '', DIV_ID, DEPT_ID, PC_ID  
	FROM ACT_CUSTOMER_OPEN_ITEMS
	WHERE SOURCE_ROW_ID = @PPD_ROW_ID AND UPDATED_FROM = 'P'
	
	-- Creating recon detail against open item reopened at reinstatement
	INSERT INTO ACT_CUSTOMER_RECON_GROUP_DETAILS  
	(  
	GROUP_ID, ITEM_TYPE, ITEM_REFERENCE_ID, SUB_LEDGER_TYPE,   
	RECON_AMOUNT, NOTE, DIV_ID, DEPT_ID, PC_ID  
	)
	SELECT @GROUP_ID, ITEM_TYPE , ITEM_REFERENCE_ID ,SUB_LEDGER_TYPE ,
	RECON_AMOUNT * -1 ,NOTE, DIV_ID, DEPT_ID, PC_ID  
	FROM #OLD_RECON_DETAILS
	
	
	-- Ravindra(08-19-2008): If there is a Resinstatement Lapse in current term only re-charge fees created in or after that version
	DECLARE @LAST_REINSTATE_VERSION Int , @REINS_LAPSE SMALLINT 
	SET @REINS_LAPSE=14244
	
	SET @LAST_REINSTATE_VERSION = 0 

	IF EXISTS(
				SELECT CANCELLATION_TYPE FROM POL_POLICY_PROCESS WITH(NOLOCK) 
					WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID	AND PROCESS_ID=16 
					AND POLICY_VERSION_ID IN 
							(
							SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST WHERE 
							CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND CURRENT_TERM = @CURRENT_TERM 
							)
					AND CANCELLATION_TYPE = @REINS_LAPSE	AND PROCESS_STATUS = 'COMPLETE'
				)
	BEGIN
		SELECT @LAST_REINSTATE_VERSION = ISNULL(MAX(NEW_POLICY_VERSION_ID),0) FROM POL_POLICY_PROCESS WITH(NOLOCK)
		WHERE CUSTOMER_ID=@CUSTOMER_ID	  AND POLICY_ID=@POLICY_ID AND PROCESS_ID=16  AND PROCESS_STATUS = 'COMPLETE'
		AND CANCELLATION_TYPE = @REINS_LAPSE
	END

	-- Rollback Fees wavior done at Cancellation
	-- ACT_TMP_CUSTOMER_OPEN_ITEMS will have 
	INSERT INTO #ACT_TMP_CUSTOMER_OPEN_ITEMS (
		ITEM_REFRENCE_ID,TOTAL_PAID,TOTAL_DUE)
	SELECT TMP.ITEM_REFRENCE_ID,TMP.TOTAL_PAID,TMP.TOTAL_DUE 
	FROM ACT_TMP_CUSTOMER_OPEN_ITEMS TMP
	INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OI 
	ON OI.IDEN_ROW_ID = TMP.ITEM_REFRENCE_ID
	WHERE TMP.CUSTOMER_ID = @CUSTOMER_ID 
	AND TMP.POLICY_ID = @POLICY_ID
	AND TMP.CURRENT_TERM = @CURRENT_TERM
	AND OI.ITEM_TRAN_CODE <> 'LF'
	AND OI.POLICY_VERSION_ID >= @LAST_REINSTATE_VERSION

	SET @IDENT_COL  = 1
	WHILE(1 = 1)
	BEGIN 
		IF NOT EXISTS( SELECT IDEN_COL FROM #ACT_TMP_CUSTOMER_OPEN_ITEMS WHERE IDEN_COL = @IDENT_COL)
		BEGIN 
			BREAK
		END
	
		UPDATE ACT_CUSTOMER_OPEN_ITEMS SET TOTAL_DUE = ISNULL(#ACT_TMP_CUSTOMER_OPEN_ITEMS.TOTAL_DUE,0) ,
					TOTAL_PAID = ISNULL(#ACT_TMP_CUSTOMER_OPEN_ITEMS.TOTAL_PAID,0)
		FROM #ACT_TMP_CUSTOMER_OPEN_ITEMS 
		WHERE ACT_CUSTOMER_OPEN_ITEMS.IDEN_ROW_ID =  #ACT_TMP_CUSTOMER_OPEN_ITEMS.ITEM_REFRENCE_ID
			AND #ACT_TMP_CUSTOMER_OPEN_ITEMS.IDEN_COL = @IDENT_COL
			
		SET @IDENT_COL = @IDENT_COL + 1
	END

	-- Rollback Any Transaction with Agency related to the Cancellation 
	--Agency Open Item Posting
	INSERT INTO ACT_AGENCY_OPEN_ITEMS
	(
		UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
		POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_COMM_APPLIES, AGENCY_COMM_PERC, 
		AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, 
		PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE, 
		PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL, 
		BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, 
		CASH_ACCOUNTING, RECUR_JOURNAL_VERSION, JE_RECON_COUNTER,AMT_IN_RECON, 
		OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, TRANS_DESC, NET_PREMIUM , 
		RISK_ID , RISK_TYPE 
	)	
	SELECT 	@UPDATED_FROM , @PPD_ROW_ID, @PPD_ROW_ID, @CHANGE_EFFECTIVE_DATE , @CHANGE_EFFECTIVE_DATE ,
	@CUR_DATE, TOTAL_DUE  * - 1, 0, AGENCY_COMM_APPLIES , AGENCY_COMM_PERC, 
	NULL , @AGENCY_ID ,@CUSTOMER_ID, @POLICY_ID, @NEW_POLICY_VERSION_ID, 
	NULL, NULL, 1, NULL,
	PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, NULL, NULL, IS_PREBILL , 
	BILL_CODE, CASE BILL_CODE WHEN 'AB' THEN GROSS_AMOUNT * - 1 ELSE GROSS_AMOUNT  END, 
	CASE ITEM_TRAN_CODE WHEN 'CANC' THEN 'RINC' WHEN 'CANCP' THEN 'RINSP' ELSE ITEM_TRAN_CODE END, 
	ITEM_TRAN_CODE_TYPE , NULL,
	NULL, NULL, NULL, NULL, 
	NULL, LOB_ID , SUB_LOB_ID, COUNTRY_ID, STATE_ID, 
	CASE ITEM_TRAN_CODE_TYPE WHEN 'PREM' THEN 'Reinstatement Premium' ELSE 'Reinstatement Commission' END , 
	CASE BILL_CODE WHEN 'AB' THEN NET_PREMIUM  * - 1 ELSE NET_PREMIUM  END, 
	RISK_ID , RISK_TYPE 
	FROM ACT_AGENCY_OPEN_ITEMS 
	WHERE CUSTOMER_ID = @CUSTOMER_ID 
		AND POLICY_ID = @POLICY_ID 
		AND POLICY_VERSION_ID = @POLICY_VERSION_ID


	

	-- Reverse the GL posting Done at Cancellation 
	INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS
	(
	ACCOUNT_ID, UPDATED_FROM,SUBLEDGER_TYPE,
	SOURCE_ROW_ID,MAPPING_SUBLEDGER_ID, 
	SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE,POSTING_DATE, 
	TRANSACTION_AMOUNT, AGENCY_COMM_PERC, AGENCY_COMM_AMT,
	AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, 
	DIV_ID, DEPT_ID,PC_ID, IS_PREBILL, BILL_CODE, 
	GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE,TRAN_ID, 
	LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID, TAX_ID, ADNL_INFO,
	IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION, IN_BNK_RECON, IS_BALANCE_UPDATED,
	COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME, COMMISSION_TYPE
	,TRAN_ENTITY,TRAN_DESC
	)
	SELECT 
	ACCOUNT_ID, UPDATED_FROM ,  SUBLEDGER_TYPE,
	@PPD_ROW_ID, MAPPING_SUBLEDGER_ID , 
	@PPD_ROW_ID, @CHANGE_EFFECTIVE_DATE , @CHANGE_EFFECTIVE_DATE , @CUR_DATE, 
	TRANSACTION_AMOUNT * -1 , NULL, NULL, 
	AGENCY_ID, CUSTOMER_ID, POLICY_ID, @NEW_POLICY_VERSION_ID, 
	DIV_ID, DEPT_ID,PC_ID, IS_PREBILL, BILL_CODE , 
	GROSS_AMOUNT * - 1  , 
	CASE UPDATED_FROM  WHEN 'W' THEN ITEM_TRAN_CODE
	ELSE
		CASE ITEM_TRAN_CODE_TYPE WHEN 'PREM' THEN @ITEM_TRAN_CODE 
			WHEN 'COM' THEN  
				CASE ITEM_TRAN_CODE	WHEN 'PIC' THEN 'PIC' 
					WHEN 'ADC' THEN 'ADC' 
					WHEN 'CAC' THEN 'CAC'
				ELSE 	@ITEM_TRAN_CODE_COM END 	
			ELSE ITEM_TRAN_CODE END
	END, 
	ITEM_TRAN_CODE_TYPE , NULL,
	LOB_ID , SUB_LOB_ID , COUNTRY_ID, STATE_ID, NULL, NULL, NULL,
	NULL, NULL, NULL, NULL,
	@USER_ID, @USER_CODE, @USER_NAME, NULL,
	TRAN_ENTITY ,@TRAN_DESC				
	FROM ACT_ACCOUNTS_POSTING_DETAILS WITH(NOLOCK) 
	WHERE CUSTOMER_ID = @CUSTOMER_ID 
		AND POLICY_ID = @POLICY_ID 
		AND POLICY_VERSION_ID = @POLICY_VERSION_ID
		AND 
		(
			ITEM_TRAN_CODE_TYPE IN( 'PREM' , 'COM' )
			OR 
			ITEM_TRAN_CODE IN ('MCCAF' , 'OTSAF'  )
		)
	--Ravindra(09-21-2009): iTrack 5961
	--Only post to GL if posted to customer subledger
	--AND ITEM_TRAN_CODE NOT IN ('SBWF' )  
	AND UPDATED_FROM <> 'W' 

	IF(ISNULL(@WRITE_OFF_AMOUNT ,0) <> 0 ) 
	BEGIN 
		INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS
		(
		ACCOUNT_ID, UPDATED_FROM,SUBLEDGER_TYPE,
		SOURCE_ROW_ID,MAPPING_SUBLEDGER_ID, 
		SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE,POSTING_DATE, 
		TRANSACTION_AMOUNT, AGENCY_COMM_PERC, AGENCY_COMM_AMT,
		AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, 
		DIV_ID, DEPT_ID,PC_ID, IS_PREBILL, BILL_CODE, 
		GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE,TRAN_ID, 
		LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID, TAX_ID, ADNL_INFO,
		IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION, IN_BNK_RECON, IS_BALANCE_UPDATED,
		COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME, COMMISSION_TYPE
		,TRAN_ENTITY,TRAN_DESC
		)
		SELECT 
		ACCOUNT_ID, UPDATED_FROM ,  SUBLEDGER_TYPE,
		@PPD_ROW_ID, MAPPING_SUBLEDGER_ID , 
		@PPD_ROW_ID, @CHANGE_EFFECTIVE_DATE , @CHANGE_EFFECTIVE_DATE , @CUR_DATE, 
		TRANSACTION_AMOUNT * -1 , NULL, NULL, 
		AGENCY_ID, CUSTOMER_ID, POLICY_ID, @NEW_POLICY_VERSION_ID, 
		DIV_ID, DEPT_ID,PC_ID, IS_PREBILL, BILL_CODE , 
		GROSS_AMOUNT * - 1  , 
		CASE UPDATED_FROM  WHEN 'W' THEN ITEM_TRAN_CODE
		ELSE
			CASE ITEM_TRAN_CODE_TYPE WHEN 'PREM' THEN @ITEM_TRAN_CODE 
				WHEN 'COM' THEN  
					CASE ITEM_TRAN_CODE	WHEN 'PIC' THEN 'PIC' 
						WHEN 'ADC' THEN 'ADC' 
						WHEN 'CAC' THEN 'CAC'
					ELSE 	@ITEM_TRAN_CODE_COM END 	
				ELSE ITEM_TRAN_CODE END
		END, 
		ITEM_TRAN_CODE_TYPE , NULL,
		LOB_ID , SUB_LOB_ID , COUNTRY_ID, STATE_ID, NULL, NULL, NULL,
		NULL, NULL, NULL, NULL,
		@USER_ID, @USER_CODE, @USER_NAME, NULL,
		TRAN_ENTITY ,@TRAN_DESC				
		FROM ACT_ACCOUNTS_POSTING_DETAILS WITH(NOLOCK) 
		WHERE CUSTOMER_ID = @CUSTOMER_ID 
			AND POLICY_ID = @POLICY_ID 
			AND POLICY_VERSION_ID = @POLICY_VERSION_ID
			AND UPDATED_FROM = 'W' 
	END
	
	DROP TABLE #OLD_RECON_DETAILS
	DROP TABLE #ACT_TMP_CUSTOMER_OPEN_ITEMS

END
--RAvindra(10-08-09): Apply reinstatement fees based on flag even if Reinstate No Lapse iTrack 6262

ELSE IF(@REINS_TYPE = @REINS_TYPE_OtherTerm )
BEGIN 
	
	SET @PPD_ROW_ID = @SOURCE_ROW_ID
END

-- Create An Entry for Reinstatement fees 
-- For rest BL bill call the same code as for NBS Process
IF ( @REINST_FEES  <> 0 AND @APPLY_RINS_FEES = 'Y')
BEGIN
	INSERT INTO ACT_CUSTOMER_OPEN_ITEMS
	(
	UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
	POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_COMM_APPLIES, AGENCY_COMM_PERC, 
	AGENCY_COMM_AMT, AGENCY_ID,CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, 
	PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE, 
	PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL, 
	BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE,ITEM_TRAN_CODE_TYPE,TRAN_ID, 
	CASH_ACCOUNTING, RECUR_JOURNAL_VERSION, JE_RECON_COUNTER,AMT_IN_RECON, 
	OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, TRANS_DESC, 
	ITEM_STATUS  , DUE_DATE 
	)	
	SELECT 
	@UPDATED_FROM , @PPD_ROW_ID, @PPD_ROW_ID, @CHANGE_EFFECTIVE_DATE , @CHANGE_EFFECTIVE_DATE ,
	@CUR_DATE ,@REINST_FEES , 0 , NULL , NULL , 
	null, NULL, @CUSTOMER_ID, @POLICY_ID, @NEW_POLICY_VERSION_ID,
	NULL, NULL, 1, NULL,
	'CUS', PCL.DIV_ID, PCL.DEPT_ID, PCL.PC_ID, NULL, NULL, 0 ,
	PCL.BILL_TYPE, NULL  , 'RENSF' , 'FEES',NULL, 
	NULL, NULL, NULL, NULL, 
	NULL, PCL.POLICY_LOB , PCL.POLICY_SUBLOB, PCL.COUNTRY_ID, PCL.STATE_ID, 'Reinstatement Fees written'  ,
	'DP' , @CHANGE_EFFECTIVE_DATE
	FROM POL_CUSTOMER_POLICY_LIST PCL WITH (NOLOCK)
	WHERE 
		PCL.POLICY_ID = @POLICY_ID  
		AND PCL.POLICY_VERSION_ID = @POLICY_VERSION_ID 
		AND PCL.CUSTOMER_ID = @CUSTOMER_ID 
END

		--Commented By Ravindra(09-06-2007)
		--No need to create entry C/F entry and contra entry, balance will be same
		--Can be a problem for Agency Statement processing because gross & net premium 
		--will not be available for new record
		-- Entry for Carry Forward amount @CFG_AMOUNT 
		/*IF ( @CFG_AMOUNT  <> 0)
		BEGIN 
			INSERT INTO ACT_CUSTOMER_OPEN_ITEMS
			(
			UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
			POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_COMM_APPLIES, AGENCY_COMM_PERC, 
			AGENCY_COMM_AMT, AGENCY_ID,CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, 
			PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE, 
			PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL, 
			BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE,ITEM_TRAN_CODE_TYPE,TRAN_ID, 
			CASH_ACCOUNTING, RECUR_JOURNAL_VERSION, JE_RECON_COUNTER,AMT_IN_RECON, 
			OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, TRANS_DESC, ITEM_STATUS,
			DUE_DATE
			)	
			SELECT 
			@UPDATED_FROM , @PPD_ROW_ID, @PPD_ROW_ID, @CHANGE_EFFECTIVE_DATE , @CHANGE_EFFECTIVE_DATE ,
			@CUR_DATE ,@CFG_AMOUNT * -1 , 0 , NULL , NULL , 
			null, NULL, @CUSTOMER_ID, @POLICY_ID, @POLICY_VERSION_ID,
			NULL, NULL, 1, NULL,
			'CUS', PCL.DIV_ID, PCL.DEPT_ID, PCL.PC_ID, NULL, NULL, 0 ,
			PCL.BILL_TYPE, NULL  , @ITEM_TRAN_CODE , @ITEM_TRAN_CODE_TYPE ,NULL, 
			NULL, NULL, NULL, NULL, 
			NULL, PCL.POLICY_LOB , PCL.POLICY_SUBLOB, PCL.COUNTRY_ID, PCL.STATE_ID, 
			'Balance C/F to new version'  , 'DP',
			@CHANGE_EFFECTIVE_DATE
			FROM POL_CUSTOMER_POLICY_LIST PCL WITH (NOLOCK)
			WHERE 
				PCL.POLICY_ID = @POLICY_ID 
				AND PCL.POLICY_VERSION_ID = @POLICY_VERSION_ID 
				AND PCL.CUSTOMER_ID = @CUSTOMER_ID 
			INSERT INTO ACT_CUSTOMER_OPEN_ITEMS
			(
			UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
			POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_COMM_APPLIES, AGENCY_COMM_PERC, 
			AGENCY_COMM_AMT, AGENCY_ID,CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, 
			PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE, 
			PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL, 
			BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE,ITEM_TRAN_CODE_TYPE,TRAN_ID, 
			CASH_ACCOUNTING, RECUR_JOURNAL_VERSION, JE_RECON_COUNTER,AMT_IN_RECON, 
			OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, TRANS_DESC, ITEM_STATUS,
			DUE_DATE
			)	
			SELECT 
			@UPDATED_FROM , @PPD_ROW_ID, @PPD_ROW_ID, @CHANGE_EFFECTIVE_DATE , @CHANGE_EFFECTIVE_DATE ,
			@CUR_DATE ,@CFG_AMOUNT , 0 , NULL , NULL , 
			null, NULL, @CUSTOMER_ID, @POLICY_ID, @NEW_POLICY_VERSION_ID,
			NULL, NULL, 1, NULL,
			'CUS', PCL.DIV_ID, PCL.DEPT_ID, PCL.PC_ID, NULL, NULL, 0 ,
			PCL.BILL_TYPE, NULL  , @ITEM_TRAN_CODE , @ITEM_TRAN_CODE_TYPE ,NULL, 
			NULL, NULL, NULL, NULL, 
			NULL, PCL.POLICY_LOB , PCL.POLICY_SUBLOB, PCL.COUNTRY_ID, PCL.STATE_ID, 
			'Balance C/F from last version'  , 'DP',
			@CHANGE_EFFECTIVE_DATE
			FROM POL_CUSTOMER_POLICY_LIST PCL WITH (NOLOCK)
			WHERE 
				PCL.POLICY_ID = @POLICY_ID  
				AND PCL.POLICY_VERSION_ID = @POLICY_VERSION_ID 
				AND PCL.CUSTOMER_ID = @CUSTOMER_ID 
		END
		exec Proc_ReconCustomerOpenItem null , @USER_ID , @CUSTOMER_ID , @policy_Id
		*/
--END

-- Customer Balance Info ENtry 

INSERT INTO ACT_CUSTOMER_BALANCE_INFORMATION
(
	CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID,
	OPEN_ITEM_ROW_ID, AMOUNT, AMOUNT_DUE,
	TRAN_DESC,
	UPDATED_FROM, CREATED_DATE,
	IS_PRINTED, PRINT_DATE, SOURCE_ROW_ID
)
SELECT 
	ACOI.CUSTOMER_ID, ACOI.POLICY_ID, ACOI.POLICY_VERSION_ID, 
	ACOI.IDEN_ROW_ID, ACOI.TOTAL_DUE, 0,
	ACOI.TRANS_DESC ,
	'P', @CUR_DATE,
	0,NULL, @SOURCE_ROW_ID
FROM 
	ACT_CUSTOMER_OPEN_ITEMS ACOI
	LEFT JOIN ACT_POLICY_INSTALLMENT_DETAILS INSD 
	ON ACOI.INSTALLMENT_ROW_ID  = INSD.ROW_ID
WHERE ACOI.UPDATED_FROM = 'P' 
	AND ACOI.SOURCE_ROW_ID = @PPD_ROW_ID
	AND ACOI.CUSTOMER_ID = @CUSTOMER_ID 
	AND ACOI.POLICY_ID = @POLICY_ID 
	AND ACOI.POLICY_VERSION_ID = @NEW_POLICY_VERSION_ID
	AND ISNULL(ACOI.IS_TEMP_ENTRY,0)  <> 9 
ORDER BY INSD.INSTALLMENT_NO, ACOI.IDEN_ROW_ID ,ACOI.SOURCE_EFF_DATE 

DECLARE @WRITE_OFF_ITEM Int 
SELECT TOP 1 @WRITE_OFF_ITEM = ACOI.IDEN_ROW_ID 
FROM ACT_CUSTOMER_OPEN_ITEMS ACOI
WHERE 	ACOI.UPDATED_FROM = @UPDATED_FROM 
	AND ACOI.SOURCE_ROW_ID = @PPD_ROW_ID
	AND ACOI.ITEM_TRAN_CODE   = @ITEM_TRAN_CODE
	AND ACOI.CUSTOMER_ID = @CUSTOMER_ID 
	AND ACOI.POLICY_ID = @POLICY_ID 
	AND ACOI.POLICY_VERSION_ID = @NEW_POLICY_VERSION_ID
	AND ISNULL(ACOI.IS_TEMP_ENTRY,0)  = 9 


INSERT INTO ACT_CUSTOMER_BALANCE_INFORMATION
(
	CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID,
	OPEN_ITEM_ROW_ID, AMOUNT, AMOUNT_DUE,
	TRAN_DESC,
	UPDATED_FROM, CREATED_DATE,
	IS_PRINTED, PRINT_DATE, SOURCE_ROW_ID
)
SELECT 
	ACOI.CUSTOMER_ID, ACOI.POLICY_ID, ACOI.POLICY_VERSION_ID, 
	@WRITE_OFF_ITEM, SUM(ACOI.TOTAL_DUE) , 0,
	ACOI.TRANS_DESC,
	@UPDATED_FROM, @CUR_DATE,
	0,NULL, @PPD_ROW_ID
FROM 	ACT_CUSTOMER_OPEN_ITEMS ACOI
WHERE 	ACOI.UPDATED_FROM = @UPDATED_FROM 
	AND ACOI.SOURCE_ROW_ID = @PPD_ROW_ID
	AND ACOI.ITEM_TRAN_CODE   = @ITEM_TRAN_CODE
	AND ACOI.CUSTOMER_ID = @CUSTOMER_ID 
	AND ACOI.POLICY_ID = @POLICY_ID 
	AND ACOI.POLICY_VERSION_ID = @NEW_POLICY_VERSION_ID
	AND ISNULL(ACOI.IS_TEMP_ENTRY,0)  = 9 
GROUP BY 	ACOI.CUSTOMER_ID, ACOI.POLICY_ID, ACOI.POLICY_VERSION_ID, ACOI.TRANS_DESC





IF(@REINS_TYPE = @REINS_TYPE_SameTerm)
BEGIN 
	-- Reconcile any negative item pending from previous version even if it is due in future
	EXEC Proc_ReconCustomerOpenItem @POLICY_EXPIRATION_DATE, @USER_ID,@CUSTOMER_ID,@POLICY_ID  , 0 , 12 


	DECLARE @CANCPREV_POLICY_VERSION_ID INT 

	SELECT @CANCPREV_POLICY_VERSION_ID = MAX(NEW_POLICY_VERSION_ID) 
	FROM POL_POLICY_PROCESS  with(nolock) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID  
	AND NEW_POLICY_VERSION_ID < @POLICY_VERSION_ID 

	SELECT * INTO #QOT_CUSTOMER_QUOTE_LIST_POL FROM 
	QOT_CUSTOMER_QUOTE_LIST_POL with(nolock) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@CANCPREV_POLICY_VERSION_ID
	 UPDATE #QOT_CUSTOMER_QUOTE_LIST_POL
		SET POLICY_VERSION_ID=@NEW_POLICY_VERSION_ID,CREATED_DATETIME=GETDATE()
	INSERT INTO QOT_CUSTOMER_QUOTE_LIST_POL SELECT * FROM #QOT_CUSTOMER_QUOTE_LIST_POL
	DROP TABLE #QOT_CUSTOMER_QUOTE_LIST_POL
END

END







GO

