IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_CSR_Commission_1099]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_CSR_Commission_1099]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran       
--DROP PROC [dbo].[Proc_CSR_Commission_1099]       
--go      
      
CREATE PROC [dbo].[Proc_CSR_Commission_1099]        
(        
 @YEAR						INT,        
 @SYS_1099_AMOUNT			DECIMAL(18,2)        
)        

AS        
        

DECLARE @PAYORS_CARRIER_CODE VARCHAR(20)
SET @PAYORS_CARRIER_CODE = 'W001'       
DECLARE @AGENCY_TYPE_CHECK INT
SET @AGENCY_TYPE_CHECK = 2472
 
DECLARE @VOID INT    SET @VOID = 2        
DECLARE @COMM_TYPE VARCHAR(5)   
SET @COMM_TYPE = 'CAC'        
     
        
        
   
DECLARE @CREATED_DATETIME DATETIME 
SET @CREATED_DATETIME = GETDATE()        

DECLARE @OTHER_SSN INT SET @OTHER_SSN = 114245
DECLARE @OTHER_FEDERAL_ID INT SET @OTHER_FEDERAL_ID = 11735
        
        
SELECT @SYS_1099_AMOUNT = ISNULL(SYS_1099_AMOUNT,0) FROM MNT_SYSTEM_PARAMS WITH(NOLOCK)  


DECLARE @EFT INT			
SET @EFT = 11788
DECLARE @EFT_SWEEP INT		
SET @EFT_SWEEP= 11976     


CREATE TABLE #INCLUDED_CSR    
( 
	[IDENT_COL] [INT]		IDENTITY(1,1) NOT NULL , 
	ENTITY_ID				Int, --payee
	REFERENCE_ID			INT, --check id
	COMMISSION_PAID			DECIMAL(18,2),
	REF_CODE				NVARCHAR(20)
)        
       
  
-------------------------------AGENCY COMMISSION (CSR)  -----------------      
INSERT INTO #INCLUDED_CSR        
        
SELECT PAYEE_ENTITY_ID ,CHECK_ID ,ISNULL(SUM(CHECK_AMOUNT),0),@COMM_TYPE AS ENTITY_CODE        
 FROM ACT_CHECK_INFORMATION ACT INNER JOIN MNT_USER_LIST UL        
  ON ACT.PAYEE_ENTITY_ID = UL.USER_ID            
  WHERE ISNULL(CHECK_TYPE,'') = @AGENCY_TYPE_CHECK        
  AND YEAR(DATE_COMMITTED) = @YEAR        
  AND ISNULL(ACT.IS_1099_PROCESSED,'N') <> 'Y'        
  AND ISNULL(ACT.IS_PRINTED,'N')  = 'Y'        
  AND ISNULL(ACT.IS_COMMITED,'N') = 'Y'  
  AND ISNULL(ACT.PAYMENT_MODE,0) NOT IN (@EFT,@EFT_SWEEP)      
  AND ISNULL(ACT.GL_UPDATE,'0') <> @VOID        
  AND ISNULL(ACT.COMM_TYPE,'') = @COMM_TYPE        
  --AND UL.IS_ACTIVE='Y'             
  AND PAYEE_ENTITY_ID NOT IN         
 (        
	  SELECT PAYEE_ENTITY_ID         
	  FROM ACT_CHECK_INFORMATION ACT INNER JOIN MNT_USER_LIST UL        
	  ON ACT.PAYEE_ENTITY_ID = UL.[USER_ID]           
	  WHERE ISNULL(CHECK_TYPE,'') = @AGENCY_TYPE_CHECK        
	  AND YEAR(DATE_COMMITTED) = @YEAR        
	  AND ISNULL(ACT.IS_1099_PROCESSED,'N') <> 'Y'        
	  AND ISNULL(ACT.IS_PRINTED,'N')  = 'Y'        
	  AND ISNULL(ACT.IS_COMMITED,'N') = 'Y' 
	  AND ISNULL(ACT.PAYMENT_MODE,0) NOT IN (@EFT,@EFT_SWEEP)	       
	  AND ISNULL(ACT.GL_UPDATE,'0') <> @VOID        
	  AND ISNULL(ACT.COMM_TYPE,'') = @COMM_TYPE        
	  --AND UL.IS_ACTIVE = 'Y'             
	  GROUP BY PAYEE_ENTITY_ID        
	  HAVING SUM(CHECK_AMOUNT) <= @SYS_1099_AMOUNT        
          
 )        
 GROUP BY PAYEE_ENTITY_ID ,CHECK_ID        
    

UNION  --EFT RECORDS AND IS_PRINTED = N

SELECT PAYEE_ENTITY_ID ,CHECK_ID ,ISNULL(SUM(CHECK_AMOUNT),0),@COMM_TYPE AS ENTITY_CODE        
 FROM ACT_CHECK_INFORMATION ACT INNER JOIN MNT_USER_LIST UL        
  ON ACT.PAYEE_ENTITY_ID = UL.USER_ID            
  WHERE ISNULL(CHECK_TYPE,'') = @AGENCY_TYPE_CHECK        
  AND YEAR(DATE_COMMITTED) = @YEAR        
  AND ISNULL(ACT.IS_1099_PROCESSED,'N') <> 'Y'        
  AND ISNULL(ACT.IS_COMMITED,'N') = 'Y'        
  AND ISNULL(ACT.GL_UPDATE,'0') <> @VOID  
  AND ISNULL(ACT.PAYMENT_MODE,0) IN (@EFT,@EFT_SWEEP)      
  AND ISNULL(ACT.COMM_TYPE,'') = @COMM_TYPE        
  --AND ISNULL(UL.IS_ACTIVE,'N')='Y'             
 AND PAYEE_ENTITY_ID NOT IN         
 (        
  SELECT PAYEE_ENTITY_ID         
  FROM ACT_CHECK_INFORMATION ACT INNER JOIN MNT_USER_LIST UL        
  ON ACT.PAYEE_ENTITY_ID = UL.[USER_ID]           
  WHERE ISNULL(CHECK_TYPE,'') = @AGENCY_TYPE_CHECK        
  AND YEAR(DATE_COMMITTED) = @YEAR        
  AND ISNULL(ACT.IS_1099_PROCESSED,'N') <> 'Y'        
  AND ISNULL(ACT.IS_COMMITED,'N') = 'Y'        
  AND ISNULL(ACT.GL_UPDATE,'0') <> @VOID   
  AND ISNULL(ACT.PAYMENT_MODE,0) IN (@EFT,@EFT_SWEEP)       
  AND ISNULL(ACT.COMM_TYPE,'') = @COMM_TYPE        
  --AND ISNULL(UL.IS_ACTIVE,'N') = 'Y'             
  GROUP BY PAYEE_ENTITY_ID        
  HAVING SUM(CHECK_AMOUNT) <= @SYS_1099_AMOUNT        
          
 )        
 GROUP BY PAYEE_ENTITY_ID ,CHECK_ID  
 ORDER BY PAYEE_ENTITY_ID   

------------------------------------------------------------------------------------- 
   
--TRANSFER DATA TO TEMP TO GET DISTINCT RECORDS
--DISTINCT VENDORS
  
        
CREATE TABLE #TEMP_1099_ENTITY        
(           
   [IDENT_COL] [INT] IDENTITY(1,1) NOT NULL ,                    
   [1099_ENTITY_ID]  INT        
)        
        
INSERT INTO #TEMP_1099_ENTITY ([1099_ENTITY_ID])        
SELECT DISTINCT [ENTITY_ID]        
FROM #INCLUDED_CSR        
        
-----Varibales         
Declare @ENTITY_ID int        
Declare @ENTITY_TYPE varchar(10) 
SET @ENTITY_TYPE = 'CSR'
Declare @RECIPIENT_IDENTIFICATION nvarchar(200)        
Declare @NON_EMPLOYEMENT_COMPENSATION decimal(18,2)     
Declare @RECIPIENT_ENTITY_NAME nvarchar(70)        
Declare @RECIPIENT_ADD1 nvarchar(70)        
Declare @RECIPIENT_ADD2 nvarchar(70)        
Declare @RECIPIENT_CITY nvarchar(40)        
Declare @RECIPIENT_STATE nvarchar(30)        
Declare @RECIPIENT_ZIP nvarchar(120)        
DECLARE @FORM_1099_ID INT        
DECLARE @1099_ENTITY_ID INT 
DECLARE @FED_SSN_1099 VARCHAR(1)
DECLARE @ENTITY_NAME varchar(200) 
DECLARE @FIELD_1 nvarchar(70)   
DECLARE @FIELD_2 nvarchar(70)
SET @FED_SSN_1099 = 'S'	
DECLARE @AGENCY_CODE VARCHAR(40)
DECLARE @ASSIGN_CSR_CODE VARCHAR(40)
DECLARE @USER_SYSTEM_ID VARCHAR(10)
         
        
        
DECLARE @IDENT_COL Int          
SET @IDENT_COL = 1          
      
WHILE 1 = 1                        
BEGIN                        
	IF NOT EXISTS (SELECT IDENT_COL FROM #TEMP_1099_ENTITY WITH(NOLOCK) WHERE IDENT_COL = @IDENT_COL)                        
	BEGIN                        
		BREAK                        
	END           

	SELECT @ENTITY_ID = [1099_ENTITY_ID] FROM #TEMP_1099_ENTITY WHERE IDENT_COL = @IDENT_COL     

	UPDATE ACT_CHECK_INFORMATION SET IS_1099_PROCESSED = 'Y'         
	WHERE CHECK_ID IN ( SELECT [REFERENCE_ID] FROM #INCLUDED_CSR WHERE [ENTITY_ID] = @ENTITY_ID ) 
	AND CHECK_TYPE  = @AGENCY_TYPE_CHECK  AND ISNULL(COMM_TYPE,'') = @COMM_TYPE        

	--MOVE TO NON EMPLOYEE COMPENSATION
	SELECT @NON_EMPLOYEMENT_COMPENSATION = SUM([COMMISSION_PAID]) FROM #INCLUDED_CSR WHERE [ENTITY_ID] = @ENTITY_ID
	
	SET @RECIPIENT_IDENTIFICATION = '' 

	
	SELECT       
		@ENTITY_ID   = [USER_ID],         
		@FIELD_1		 = ISNULL(USER_FNAME,'') + ' ' +  ISNULL(USER_LNAME,'') ,     	
		@RECIPIENT_ADD1  = ISNULL(USER_ADD1,''),        
		@RECIPIENT_ADD2  = ISNULL(USER_ADD2,''),        
		@RECIPIENT_CITY  = ISNULL(USER_CITY,''),        
		@RECIPIENT_STATE = ISNULL(USER_STATE,''),
		@RECIPIENT_ZIP   = ISNULL(USER_ZIP,'') ,
		@AGENCY_CODE     = RTRIM(LTRIM(ISNULL(SUB_CODE,''))),
		@RECIPIENT_IDENTIFICATION = ISNULL(SSN_NO,''),
		@USER_SYSTEM_ID = USER_SYSTEM_ID
		FROM MNT_USER_LIST WITH(NOLOCK) WHERE user_ID = @ENTITY_ID   

		declare @NUM_AGENCY_CODE varchar(20)
		SELECT @NUM_AGENCY_CODE = isnull(NUM_AGENCY_CODE,0) FROM MNT_AGENCY_LIST WHERE AGENCY_CODE = @USER_SYSTEM_ID

		SET @ASSIGN_CSR_CODE = @NUM_AGENCY_CODE + '-' + @AGENCY_CODE + 'C'
		
		
	EXECUTE Proc_Insert_FORM_1099         
	@FORM_1099_ID OUT, 
	@ENTITY_ID    =  @ENTITY_ID,        
	@ENTITY_TYPE    =  @ENTITY_TYPE,        
	@PAYORS_CARRIER_CODE  = @PAYORS_CARRIER_CODE,        
	@RECIPIENT_NAME   =  @FIELD_1,
	@RECIPIENT_STREET_ADDRESS1  =  @RECIPIENT_ADD1 ,        
	@RECIPIENT_STREET_ADDRESS2  =  @RECIPIENT_ADD2 ,        
	@RECIPIENT_CITY   =  @RECIPIENT_CITY,        
	@RECIPIENT_STATE   = @RECIPIENT_STATE,        
	@RECIPIENT_ZIP    =  @RECIPIENT_ZIP,        
	@RECIPIENT_IDENTIFICATION  =  @RECIPIENT_IDENTIFICATION,        
	@NON_EMPLOYEMENT_COMPENSATION = @NON_EMPLOYEMENT_COMPENSATION,
	@ACCOUNT_NO     =  @ASSIGN_CSR_CODE ,
	@CREATED_BY     =  NULL,        
	@CREATED_DATETIME   =  @CREATED_DATETIME,        
	@MODIFIED_BY     =  NULL,        
	@LAST_UPDATED_DATETIME   =  NULL,  
	@INSERTUPDATE    =  'I', 
	@FED_SSN_1099    = @FED_SSN_1099,
	@RECIPIENT_NAME_1 = @FIELD_2,
	@YEAR_1099 = @YEAR

          
	--INSERT INTO CHECK 1099 DETAILS        
	INSERT INTO CHECK_DETAILS_1099        
	SELECT @FORM_1099_ID ,REFERENCE_ID , GETDATE() ,        
	CASE WHEN [REF_CODE] = 'DEP' THEN 'D' ELSE 'C' END        
	FROM #INCLUDED_CSR WHERE [ENTITY_ID] = @ENTITY_ID         

	SET @IDENT_COL = @IDENT_COL + 1        
        
END        
        
 DROP TABLE #INCLUDED_CSR   
 DROP TABLE #TEMP_1099_ENTITY        



--GO      
--
--EXEC [dbo].[Proc_CSR_Commission_1099] 2009,0
--
--SELECT account_no, * FROM FORM_1099
--
----SELECT * FROM CHECK_DETAILS_1099
--
--   
--ROLLBACK TRAN       
-------------------------------------------




GO

