IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GETCUSTOMERLOSS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GETCUSTOMERLOSS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE GETCUSTOMERLOSS    
 @CUSTOMER_ID INTEGER,  
 @LOB INTEGER = NULL,  
 @STARTLOSSDATE DATETIME =NULL,   
 @ENDLOSSDATE DATETIME =NULL  
AS  
BEGIN  
    
 DECLARE @STRQUERY VARCHAR(4000)   
   
 SELECT @STRQUERY  = 'SELECT * FROM APP_PRIOR_LOSS_INFO WITH (NOLOCK) WHERE CUSTOMER_ID = ' + CAST(@CUSTOMER_ID AS VARCHAR)  
   
 IF (@LOB IS NOT NULL)     
  SELECT @STRQUERY  = @STRQUERY  + ' AND LOB = ' + CAST(@LOB AS VARCHAR)  
  
-- IF (@STARTLOSSDATE IS NOT NULL AND @ENDLOSSDATE IS NOT NULL)     
 IF ( (@STARTLOSSDATE IS NOT NULL AND @STARTLOSSDATE !='') AND (@ENDLOSSDATE IS NOT NULL AND @ENDLOSSDATE !=''))     
 BEGIN  
  SELECT @STRQUERY  = @STRQUERY  + ' AND OCCURENCE_DATE  BETWEEN '''  
  + convert(varchar(20),@STARTLOSSDATE,101)   
  + ''' AND ''' + convert(varchar(20),@ENDLOSSDATE, 101) + ''''  
 END  
    
 --PRINT 'QUERY IS : ' + @STRQUERY  
 EXEC (@STRQUERY)  
   
END  
  


GO

