IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_INF172_WATERCRAFT_WITH_POLICY]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_INF172_WATERCRAFT_WITH_POLICY]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN
--DROP PROCEDURE PROC_INF172_WATERCRAFT_WITH_POLICY
--GO
CREATE PROCEDURE [dbo].[PROC_INF172_WATERCRAFT_WITH_POLICY]
(
	@MONTH	INT,
	@YEAR	INT
)
AS
BEGIN
-- SET @MONTH = 8
-- SET @YEAR = 2009
	WITH 
	PREMIUM_DETAILS
	AS
	(
		SELECT EP.POLICY_NUMBER,EP.RISK_TYPE ,PWI.TYPE_OF_WATERCRAFT AS TYPE_OF_WATERCRAFT,
		PWI.LENGTH, PWI.INCHES,EP.CUSTOMER_ID, EP.POLICY_ID,EP.CURRENT_TERM,PWI.BOAT_ID AS RISK_ID,
		SUM(ISNULL(EP.INFORCE_PREMIUM,0)) AS INFORCE_PREMIUM,T.VERSION_FOR_RISK,PWI.LOCATION_STATE
		FROM ACT_EARNED_PREMIUM EP 
		LEFT JOIN 
		(
			SELECT EP.CUSTOMER_ID, EP.POLICY_ID, EP.VERSION_FOR_RISK
			FROM ACT_EARNED_PREMIUM EP
			LEFT JOIN POL_CUSTOMER_POLICY_LIST PCL
			ON EP.CUSTOMER_ID = PCL.CUSTOMER_ID
			AND EP.POLICY_ID = PCL.POLICY_ID
			AND EP.VERSION_FOR_RISK = PCL.POLICY_VERSION_ID
			WHERE PCL.POLICY_LOB = 4 --and PCL.CUSTOMER_ID = 1687
			GROUP BY EP.POLICY_NUMBER, EP.CUSTOMER_ID, EP.POLICY_ID,EP.VERSION_FOR_RISK
		) T
			ON EP.CUSTOMER_ID = T.CUSTOMER_ID
			AND EP.POLICY_ID = T.POLICY_ID
			AND EP.VERSION_FOR_RISK = T.VERSION_FOR_RISK
		INNER JOIN POL_WATERCRAFT_INFO PWI
			ON PWI.CUSTOMER_ID = T.CUSTOMER_ID
			AND PWI.POLICY_ID = T.POLICY_ID
			AND PWI.POLICY_VERSION_ID = T.VERSION_FOR_RISK 
			AND EP.RISK_ID  =  PWI.BOAT_ID
			
		WHERE MONTH_NUMBER = @MONTH AND YEAR_NUMBER = @YEAR
--		AND EP.POLICY_NUMBER = 'SL210400'
		AND EP.RISK_TYPE = 'B'
		GROUP BY EP.POLICY_NUMBER,PWI.TYPE_OF_WATERCRAFT,EP.CUSTOMER_ID, EP.POLICY_ID,EP.CURRENT_TERM,EP.MONTH_NUMBER,EP.YEAR_NUMBER,
		T.VERSION_FOR_RISK,EP.RISK_ID,PWI.LENGTH, PWI.INCHES,PWI.LOCATION_STATE,EP.RISK_TYPE,PWI.BOAT_ID
		HAVING SUM(ISNULL(INFORCE_PREMIUM,0)) <> 0

		UNION

		SELECT EP.POLICY_NUMBER,EP.RISK_TYPE ,PWT.TRAILER_TYPE AS TYPE_OF_WATERCRAFT,
		'' LENGTH, '' INCHES,EP.CUSTOMER_ID, EP.POLICY_ID,EP.CURRENT_TERM,PWT.TRAILER_ID AS RISK_ID,
		SUM(ISNULL(EP.INFORCE_PREMIUM,0)) AS INFORCE_PREMIUM,T.VERSION_FOR_RISK,'' AS LOCATION_STATE
		FROM ACT_EARNED_PREMIUM EP 
		LEFT JOIN 
		(
			SELECT EP.CUSTOMER_ID, EP.POLICY_ID, EP.VERSION_FOR_RISK
			FROM ACT_EARNED_PREMIUM EP
			LEFT JOIN POL_CUSTOMER_POLICY_LIST PCL
			ON EP.CUSTOMER_ID = PCL.CUSTOMER_ID
			AND EP.POLICY_ID = PCL.POLICY_ID
			AND EP.VERSION_FOR_RISK = PCL.POLICY_VERSION_ID
			WHERE PCL.POLICY_LOB = 4 --and PCL.CUSTOMER_ID = 1687
			GROUP BY EP.POLICY_NUMBER, EP.CUSTOMER_ID, EP.POLICY_ID,EP.VERSION_FOR_RISK
		) T
			ON EP.CUSTOMER_ID = T.CUSTOMER_ID
			AND EP.POLICY_ID = T.POLICY_ID
			AND EP.VERSION_FOR_RISK = T.VERSION_FOR_RISK
		INNER JOIN POL_WATERCRAFT_TRAILER_INFO PWT
			ON PWT.CUSTOMER_ID = T.CUSTOMER_ID
			AND PWT.POLICY_ID = T.POLICY_ID
			AND PWT.POLICY_VERSION_ID = T.VERSION_FOR_RISK 
			AND EP.RISK_ID  =  PWT.TRAILER_ID
			
		WHERE MONTH_NUMBER = @MONTH AND YEAR_NUMBER = @YEAR
		--AND EP.POLICY_NUMBER = 'SL210400'
		AND EP.RISK_TYPE = 'T'
		GROUP BY EP.POLICY_NUMBER,PWT.TRAILER_TYPE,EP.CUSTOMER_ID, EP.POLICY_ID,EP.CURRENT_TERM,EP.MONTH_NUMBER,EP.YEAR_NUMBER,
		T.VERSION_FOR_RISK,EP.RISK_ID,EP.RISK_TYPE,PWT.TRAILER_ID
		HAVING SUM(ISNULL(INFORCE_PREMIUM,0)) <> 0

		UNION
		
		SELECT EP.POLICY_NUMBER,EP.RISK_TYPE ,PWE.EQUIPMENT_TYPE AS TYPE_OF_WATERCRAFT,
		'' LENGTH, '' INCHES,EP.CUSTOMER_ID, EP.POLICY_ID,EP.CURRENT_TERM,PWE.EQUIP_ID AS RISK_ID,
		SUM(ISNULL(EP.INFORCE_PREMIUM,0)) AS INFORCE_PREMIUM,T.VERSION_FOR_RISK,'' AS LOCATION_STATE
		FROM ACT_EARNED_PREMIUM EP 
		LEFT JOIN 
		(
			SELECT EP.CUSTOMER_ID, EP.POLICY_ID, EP.VERSION_FOR_RISK
			FROM ACT_EARNED_PREMIUM EP
			LEFT JOIN POL_CUSTOMER_POLICY_LIST PCL
			ON EP.CUSTOMER_ID = PCL.CUSTOMER_ID
			AND EP.POLICY_ID = PCL.POLICY_ID
			AND EP.VERSION_FOR_RISK = PCL.POLICY_VERSION_ID
			WHERE PCL.POLICY_LOB = 4 --and PCL.CUSTOMER_ID = 1687
			GROUP BY EP.POLICY_NUMBER, EP.CUSTOMER_ID, EP.POLICY_ID,EP.VERSION_FOR_RISK
		) T
			ON EP.CUSTOMER_ID = T.CUSTOMER_ID
			AND EP.POLICY_ID = T.POLICY_ID
			AND EP.VERSION_FOR_RISK = T.VERSION_FOR_RISK
		INNER JOIN POL_WATERCRAFT_EQUIP_DETAILLS PWE
			ON PWE.CUSTOMER_ID = T.CUSTOMER_ID
			AND PWE.POLICY_ID = T.POLICY_ID
			AND PWE.POLICY_VERSION_ID = T.VERSION_FOR_RISK 
			AND EP.RISK_ID  =  PWE.EQUIP_ID
			
		WHERE MONTH_NUMBER = @MONTH AND YEAR_NUMBER = @YEAR
		--AND EP.POLICY_NUMBER = 'W6487600'
		AND EP.RISK_TYPE = 'MSE'
		GROUP BY EP.POLICY_NUMBER,PWE.EQUIPMENT_TYPE,EP.CUSTOMER_ID, EP.POLICY_ID,EP.CURRENT_TERM,EP.MONTH_NUMBER,EP.YEAR_NUMBER,
		T.VERSION_FOR_RISK,EP.RISK_ID,EP.RISK_TYPE,PWE.EQUIP_ID
		HAVING SUM(ISNULL(INFORCE_PREMIUM,0)) <> 0

		UNION

		SELECT EP.POLICY_NUMBER,EP.RISK_TYPE ,12345 AS TYPE_OF_WATERCRAFT,
		'' LENGTH, '' INCHES,EP.CUSTOMER_ID, EP.POLICY_ID,EP.CURRENT_TERM,EP.RISK_ID AS RISK_ID,
		SUM(ISNULL(EP.INFORCE_PREMIUM,0)) AS INFORCE_PREMIUM,T.VERSION_FOR_RISK,'' AS LOCATION_STATE
		FROM ACT_EARNED_PREMIUM EP 
		LEFT JOIN 
		(
			SELECT EP.CUSTOMER_ID, EP.POLICY_ID, EP.VERSION_FOR_RISK
			FROM ACT_EARNED_PREMIUM EP
			LEFT JOIN POL_CUSTOMER_POLICY_LIST PCL
			ON EP.CUSTOMER_ID = PCL.CUSTOMER_ID
			AND EP.POLICY_ID = PCL.POLICY_ID
			AND EP.VERSION_FOR_RISK = PCL.POLICY_VERSION_ID
			WHERE PCL.POLICY_LOB = 4 --and PCL.CUSTOMER_ID = 1687
			GROUP BY EP.POLICY_NUMBER, EP.CUSTOMER_ID, EP.POLICY_ID,EP.VERSION_FOR_RISK
		) T
			ON EP.CUSTOMER_ID = T.CUSTOMER_ID
			AND EP.POLICY_ID = T.POLICY_ID
			AND EP.VERSION_FOR_RISK = T.VERSION_FOR_RISK
		WHERE MONTH_NUMBER = @MONTH AND YEAR_NUMBER = @YEAR
		AND EP.RISK_TYPE = 'UAE'
		GROUP BY EP.POLICY_NUMBER,EP.CUSTOMER_ID, EP.POLICY_ID,EP.CURRENT_TERM,EP.MONTH_NUMBER,EP.YEAR_NUMBER,
		T.VERSION_FOR_RISK,EP.RISK_ID,EP.RISK_TYPE,EP.RISK_ID
		HAVING SUM(ISNULL(INFORCE_PREMIUM,0)) <> 0

	),



	INLAND_MARINE_PREM
	AS
	(
		SELECT PD.CUSTOMER_ID, PD.POLICY_ID, PD.VERSION_FOR_RISK,SUM(ISNULL(AEP.INFORCE_PREMIUM,0)) AS INFORCE_PREMIUM,
		PD.RISK_ID,PD.RISK_TYPE
		FROM PREMIUM_DETAILS PD
		LEFT JOIN  ACT_EARNED_PREMIUM AEP
		ON AEP.CUSTOMER_ID = PD.CUSTOMER_ID
		AND AEP.POLICY_ID = PD.POLICY_ID
		AND AEP.VERSION_FOR_RISK = PD.VERSION_FOR_RISK
		AND AEP.RISK_ID = PD.RISK_ID
		AND AEP.RISK_TYPE = PD.RISK_TYPE
		INNER JOIN 
		(
			SELECT COV_ID,COV_DES,STATE_ID,LOB_ID,ASLOB FROM MNT_COVERAGE
			UNION
			SELECT COV_ID,COV_DES,STATE_ID,LOB_ID,ASLOB FROM MNT_COVERAGE_EXTRA
		)MC
			ON AEP.COVERAGEID = MC.COV_ID
		INNER JOIN MNT_LOOKUP_VALUES MLV
			ON MC.ASLOB = MLV.LOOKUP_UNIQUE_ID 
		WHERE ASLOB = 14170 --AND COV_ID NOT IN (21,68,821,24,70,822,19,65,820)
		AND MONTH_NUMBER = @MONTH AND YEAR_NUMBER = @YEAR
		GROUP BY PD.CUSTOMER_ID, PD.POLICY_ID, PD.VERSION_FOR_RISK,PD.RISK_ID,PD.RISK_TYPE
	),

	BI_PREMIUM
	AS
	(
		SELECT PD.CUSTOMER_ID, PD.POLICY_ID,PD.VERSION_FOR_RISK,SUM(ISNULL(AEP.INFORCE_PREMIUM,0))AS INFORCE_PREMIUM,
		PD.RISK_ID,PD.RISK_TYPE
		FROM PREMIUM_DETAILS PD 
		LEFT JOIN ACT_EARNED_PREMIUM AEP
		ON AEP.CUSTOMER_ID = PD.CUSTOMER_ID
		AND AEP.POLICY_ID = PD.POLICY_ID
		AND AEP.VERSION_FOR_RISK = PD.VERSION_FOR_RISK
		AND AEP.RISK_ID = PD.RISK_ID
		AND AEP.RISK_TYPE = PD.RISK_TYPE
		INNER JOIN 
		(
			SELECT COV_ID,COV_DES,STATE_ID,LOB_ID,ASLOB FROM MNT_COVERAGE
			UNION
			SELECT COV_ID,COV_DES,STATE_ID,LOB_ID,ASLOB FROM MNT_COVERAGE_EXTRA
		)MC
			ON AEP.COVERAGEID = MC.COV_ID
		INNER JOIN MNT_LOOKUP_VALUES MLV
			ON MC.ASLOB = MLV.LOOKUP_UNIQUE_ID 
		WHERE ASLOB = 14171 AND COV_ID IN(19,65,820,40,41,82,83,828,829,10013)	--83 To be added.
		AND MONTH_NUMBER = @MONTH AND YEAR_NUMBER = @YEAR
		GROUP BY PD.CUSTOMER_ID, PD.POLICY_ID, PD.VERSION_FOR_RISK,PD.RISK_ID,PD.RISK_TYPE
	),

	MP_PREMIUM
	AS
	(
		SELECT PD.CUSTOMER_ID, PD.POLICY_ID, PD.VERSION_FOR_RISK,SUM(ISNULL(AEP.INFORCE_PREMIUM,0))AS INFORCE_PREMIUM,
		PD.RISK_ID,PD.RISK_TYPE
		FROM PREMIUM_DETAILS PD
		LEFT JOIN ACT_EARNED_PREMIUM AEP
		ON AEP.CUSTOMER_ID = PD.CUSTOMER_ID
		AND AEP.POLICY_ID = PD.POLICY_ID
		AND AEP.VERSION_FOR_RISK = PD.VERSION_FOR_RISK
		AND AEP.RISK_ID = PD.RISK_ID
		AND AEP.RISK_TYPE = PD.RISK_TYPE
		INNER JOIN 
		(
			SELECT COV_ID,COV_DES,STATE_ID,LOB_ID,ASLOB FROM MNT_COVERAGE
			UNION
			SELECT COV_ID,COV_DES,STATE_ID,LOB_ID,ASLOB FROM MNT_COVERAGE_EXTRA
		)MC
			ON AEP.COVERAGEID = MC.COV_ID
		INNER JOIN MNT_LOOKUP_VALUES MLV
			ON MC.ASLOB = MLV.LOOKUP_UNIQUE_ID 
		WHERE ASLOB = 14171 AND COV_ID IN(21,68,821)
		AND MONTH_NUMBER = @MONTH AND YEAR_NUMBER = @YEAR
		GROUP BY PD.CUSTOMER_ID, PD.POLICY_ID, PD.VERSION_FOR_RISK,PD.RISK_ID,PD.RISK_TYPE
	),


	UB_PREMIUM
	AS
	(
		SELECT PD.CUSTOMER_ID, PD.POLICY_ID, PD.VERSION_FOR_RISK,SUM(ISNULL(AEP.INFORCE_PREMIUM,0))AS INFORCE_PREMIUM,
		PD.RISK_ID,PD.RISK_TYPE
		FROM PREMIUM_DETAILS PD
		LEFT JOIN ACT_EARNED_PREMIUM AEP
		ON AEP.CUSTOMER_ID = PD.CUSTOMER_ID
		AND AEP.POLICY_ID = PD.POLICY_ID
		AND AEP.VERSION_FOR_RISK = PD.VERSION_FOR_RISK
		AND AEP.RISK_ID = PD.RISK_ID
		AND AEP.RISK_TYPE = PD.RISK_TYPE
		INNER JOIN 
		(
			SELECT COV_ID,COV_DES,STATE_ID,LOB_ID,ASLOB FROM MNT_COVERAGE
			UNION
			SELECT COV_ID,COV_DES,STATE_ID,LOB_ID,ASLOB FROM MNT_COVERAGE_EXTRA
		)MC
			ON AEP.COVERAGEID = MC.COV_ID
		INNER JOIN MNT_LOOKUP_VALUES MLV
			ON MC.ASLOB = MLV.LOOKUP_UNIQUE_ID 
		WHERE ASLOB = 14171 AND COV_ID IN(24,70,822)
		AND MONTH_NUMBER = @MONTH AND YEAR_NUMBER = @YEAR
		GROUP BY PD.CUSTOMER_ID, PD.POLICY_ID, PD.VERSION_FOR_RISK, PD.RISK_ID,PD.RISK_TYPE
	)

SELECT PD.POLICY_NUMBER,--ML.LOOKUP_VALUE_DESC,
	CASE PD.TYPE_OF_WATERCRAFT 
		WHEN 11370 THEN 
			CASE WHEN CAST(PD.LENGTH AS DECIMAL) < 36.00 --AND CAST(ISNULL(PD.INCHES,0) AS INT) = 0 
			THEN 'I/O Boat, under 36'--WHEN CAST(PD.LENGTH AS DECIMAL) < 36.00 AND CAST(ISNULL(PD.INCHES,0) AS INT) <> 0 THEN 'I/O Boat, under 36'
			ELSE 'I/O Boat over 36'END
		WHEN 11371 THEN 
			CASE WHEN CAST(PD.LENGTH AS DECIMAL) < 36.00 --AND CAST(ISNULL(PD.INCHES,0) AS INT) = 0 
			THEN 'Inboard Boat, under 36' --WHEN CAST(PD.LENGTH AS DECIMAL) < 36.00 AND CAST(ISNULL(PD.INCHES,0) AS INT) <> 0 THEN 'Inboard Boat, under 36'
			ELSE 'Inboard Boat over 36'END
		WHEN 11372 THEN
			CASE WHEN CAST(PD.LENGTH AS DECIMAL) < 26.00 THEN 'Sailboat, under 26'
				WHEN CAST(PD.LENGTH AS DECIMAL)>=26.00 AND CAST(PD.LENGTH AS DECIMAL)< 36.00 THEN 'Sailboat 26 – 36'
				--WHEN CAST(PD.LENGTH AS DECIMAL)= 36.00 AND CAST(ISNULL(PD.INCHES,0) AS INT)=0 THEN 'Sailboat 26 – 36'
				ELSE 'Sailboats over 36' END
		WHEN 12345 THEN 'Unattached Equipment And Personal Effects'
		             
	ELSE ML.LOOKUP_VALUE_DESC END AS LOOKUP_VALUE_DESC,MS.STATE_NAME,
	COUNT(PD.RISK_ID) RISK,
			SUM(ISNULL(IMP.INFORCE_PREMIUM,0)) AS INLAND_MARINE_PREM, 
			SUM(ISNULL(BP.INFORCE_PREMIUM,0)) AS BI_PREMIUM,
			SUM(ISNULL(MP.INFORCE_PREMIUM,0)) AS MP_PREMIUM, SUM(ISNULL(UB.INFORCE_PREMIUM,0)) AS UB_PREMIUM
	FROM PREMIUM_DETAILS PD
	LEFT JOIN INLAND_MARINE_PREM IMP
	ON PD.CUSTOMER_ID = IMP.CUSTOMER_ID
	AND PD.POLICY_ID = IMP.POLICY_ID
	AND PD.VERSION_FOR_RISK = IMP.VERSION_FOR_RISK
	AND PD.RISK_ID = IMP.RISK_ID
	AND PD.RISK_TYPE = IMP.RISK_TYPE 
	LEFT JOIN BI_PREMIUM BP
	ON PD.CUSTOMER_ID = BP.CUSTOMER_ID
	AND PD.POLICY_ID = BP.POLICY_ID
	AND PD.VERSION_FOR_RISK = BP.VERSION_FOR_RISK
	AND PD.RISK_ID = BP.RISK_ID
	AND PD.RISK_TYPE = BP.RISK_TYPE 
	LEFT JOIN MP_PREMIUM MP
	ON PD.CUSTOMER_ID = MP.CUSTOMER_ID
	AND PD.POLICY_ID = MP.POLICY_ID
	AND PD.VERSION_FOR_RISK = MP.VERSION_FOR_RISK
	AND PD.RISK_ID = MP.RISK_ID
	AND PD.RISK_TYPE = MP.RISK_TYPE 
	LEFT JOIN UB_PREMIUM UB
	ON PD.CUSTOMER_ID = UB.CUSTOMER_ID
	AND PD.POLICY_ID = UB.POLICY_ID
	AND PD.VERSION_FOR_RISK = UB.VERSION_FOR_RISK
	AND PD.RISK_ID = UB.RISK_ID
	AND PD.RISK_TYPE = UB.RISK_TYPE 
	LEFT JOIN MNT_LOOKUP_VALUES ML
	ON PD.TYPE_OF_WATERCRAFT = ML.LOOKUP_UNIQUE_ID
	INNER JOIN POL_CUSTOMER_POLICY_LIST PL
	ON PD.CUSTOMER_ID = PL.CUSTOMER_ID
	AND PD.POLICY_ID = PL.POLICY_ID
	AND PD.VERSION_FOR_RISK = PL.POLICY_VERSION_ID
	INNER JOIN MNT_COUNTRY_STATE_LIST MS
	ON PL.STATE_ID = MS.STATE_ID
--  WHERE POLICY_NUMBER = 'W6693100'--'SL210400'
	GROUP BY PD.POLICY_NUMBER,PD.TYPE_OF_WATERCRAFT,ML.LOOKUP_VALUE_DESC,PD.LENGTH,PD.INCHES,MS.STATE_NAME
	ORDER BY PD.POLICY_NUMBER,ML.LOOKUP_VALUE_DESC

END
--SELECT * FROM POL_WATERCRAFT_INFO WHERE CUSTOMER_ID = 911 AND POLICY_ID = 1
--SL436500
--SELECT * FROM ACT_EARNED_PREMIUM WHERE POLICY_NUMBER ='SL436500' AND MONTH_NUMBER = 5 AND YEAR_NUMBER = 2009
--GO
--EXEC PROC_INF172_WATERCRAFT_WITH_POLICY 8,2009
--ROLLBACK TRAN






GO

