IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_INSERTPROTECTIVEDEVICE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_INSERTPROTECTIVEDEVICE]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

  
  /*----------------------------------------------------------            
PROC NAME       : DBO.POL_PROTECTIVE_DEVICES            
CREATED BY      : PRADEEP KUSHWAHA   
DATE            : 19/04/2010            
PURPOSE   :TO INSERT RECORDS IN POL_PROTECTIVE_DEVICES TABLE.            
REVISON HISTORY :            
USED IN   : EBIX ADVANTAGE            
------------------------------------------------------------            
DATE     REVIEW BY          COMMENTS            
------   ------------       -------------------------*/            
--DROP PROC DBO.PROC_INSERTPROTECTIVEDEVICE     
/****** SCRIPT FOR PROC_INSERTPROTECTIVEDEVICE INTO DATABASE  ******/  
   
--DBO.PROC_INSERTPROTECTIVEDEVICE   2101, 1,1,12,21,null,null,null,null,null,null,null,null,null,null,null,null,null,null,'Y',296,null,null   

CREATE PROC [dbo].[PROC_INSERTPROTECTIVEDEVICE]  
(        
	@CUSTOMER_ID INT,  
	@POLICY_ID INT ,  
	@POLICY_VERSION_ID SMALLINT,  
	@RISK_ID INT =NULL,  
	@PROTECTIVE_DEVICE_ID INT OUT,  
	@FIRE_EXTINGUISHER INT ,  
	@SPL_FIRE_EXTINGUISHER_UNIT INT ,  
	@MANUAL_FOAM_SYSTEM INT ,  
	@FOAM INT ,  
	@INERT_GAS_SYSTEM INT ,  
	@MANUAL_INERT_GAS_SYSTEM INT ,  
	@COMBAT_CARS INT ,  
	@CORRAL_SYSTEM INT ,  
	@ALARM_SYSTEM INT ,  
	@FREE_HYDRANT INT ,  
	@SPRINKLERS INT ,  
	@SPRINKLERS_CLASSIFICATION NVARCHAR(140)=NULL,  
	@FIRE_FIGHTER NVARCHAR(140)=NULL,  
	@QUESTIION_POINTS NUMERIC(25,4)=NULL,  
	@IS_ACTIVE NCHAR(1),  
	@CREATED_BY INT,  
	@CREATED_DATETIME DATETIME  ,
	@LOCATION_ID INT =NULL
)            
AS            
BEGIN  
  
SELECT  @PROTECTIVE_DEVICE_ID=ISNULL(MAX(PROTECTIVE_DEVICE_ID),0)+1 FROM POL_PROTECTIVE_DEVICES WITH (NOLOCK)-- WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID =@POLICY_ID  

INSERT INTO POL_PROTECTIVE_DEVICES            
(            
   
	CUSTOMER_ID ,  
	POLICY_ID ,  
	POLICY_VERSION_ID,  
	RISK_ID ,  
	PROTECTIVE_DEVICE_ID,  
	FIRE_EXTINGUISHER,  
	SPL_FIRE_EXTINGUISHER_UNIT,  
	MANUAL_FOAM_SYSTEM,  
	FOAM,  
	INERT_GAS_SYSTEM,  
	MANUAL_INERT_GAS_SYSTEM,  
	COMBAT_CARS,  
	CORRAL_SYSTEM ,  
	ALARM_SYSTEM ,  
	FREE_HYDRANT ,  
	SPRINKLERS ,  
	SPRINKLERS_CLASSIFICATION,  
	FIRE_FIGHTER,  
	QUESTIION_POINTS,  
	IS_ACTIVE,  
	CREATED_BY ,  
	CREATED_DATETIME  ,
	LOCATION_ID
   
)            
VALUES            
(            
	@CUSTOMER_ID ,  
	@POLICY_ID ,  
	@POLICY_VERSION_ID,  
	@RISK_ID ,  
	@PROTECTIVE_DEVICE_ID,  
	@FIRE_EXTINGUISHER,  
	@SPL_FIRE_EXTINGUISHER_UNIT,  
	@MANUAL_FOAM_SYSTEM,  
	@FOAM,  
	@INERT_GAS_SYSTEM,  
	@MANUAL_INERT_GAS_SYSTEM,  
	@COMBAT_CARS,  
	@CORRAL_SYSTEM ,  
	@ALARM_SYSTEM ,  
	@FREE_HYDRANT ,  
	@SPRINKLERS ,  
	@SPRINKLERS_CLASSIFICATION,  
	@FIRE_FIGHTER,  
	@QUESTIION_POINTS,  
	@IS_ACTIVE,  
	@CREATED_BY ,  
	@CREATED_DATETIME ,
	@LOCATION_ID 
)           
  
END            
          
  
            
          
        
      
    
    
    
    
GO

