IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_UpdatePOL_POLICY_ENDORSEMENTS_DETAILS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_UpdatePOL_POLICY_ENDORSEMENTS_DETAILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

 /*----------------------------------------------------------  
Proc Name       : dbo.Proc_UpdatePOL_POLICY_ENDORSEMENTS_DETAILS  
Created by      : Vijay Joshi  
Date            : 12/22/2005  
Purpose        : To update record into POL_POLICY_ENDORSEMENTS_DETAILS  
Revison History :  
Modified by  : Pravesh K Chandel  
Modified Date :22 April 2009  
Purpose   : Change Data type of @ENDORSEMENT_TYPE from smallint to int  
Used In        : Wolverine  
------------------------------------------------------------  
Date     Review By          Comments  
-----------------------------------------------------------*/  
-- drop proc dbo.Proc_UpdatePOL_POLICY_ENDORSEMENTS_DETAILS  
CREATE PROC [dbo].[Proc_UpdatePOL_POLICY_ENDORSEMENTS_DETAILS]  
(  
 @POLICY_ID        INT,  
 @POLICY_VERSION_ID      INT,  
 @CUSTOMER_ID       INT,  
 @ENDORSEMENT_NO      INT,  
 @ENDORSEMENT_DETAIL_ID  INT  OUTPUT,  
 @ENDORSEMENT_DATE      DATETIME,  
 @ENDORSEMENT_TYPE      int,  
 @ENDORSEMENT_DESC      VARCHAR(30),  
 @REMARKS        VARCHAR(150)  ,
 @CALLED_FROM  NVARCHAR(50) = NULL,
 @SOURCE_VERSION_ID INT = NULL,
 @ADDITION_INFO NVARCHAR(500) = NULL 
)  
AS  
BEGIN  
  IF(@CALLED_FROM = 'REISSUE')
  BEGIN
		 DECLARE @strTRANS_ID NVARCHAR(MAX),@MAX_TRNS_ID INT,@DISPLAY_VERSION NVARCHAR(5)
		
		SELECT @DISPLAY_VERSION = 
		POLICY_DISP_VERSION FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK) WHERE 
		CUSTOMER_ID = @CUSTOMER_ID 
		AND POLICY_VERSION_ID = @POLICY_VERSION_ID
		AND POLICY_ID = @POLICY_ID 
		
		 SELECT 
		 @STRTRANS_ID = 
		 TRANS_ID  FROM POL_POLICY_ENDORSEMENTS_DETAILS WITH(NOLOCK)
		 WHERE CUSTOMER_ID = @CUSTOMER_ID  AND 
		 POLICY_ID = @POLICY_ID AND 
		 POLICY_VERSION_ID = @SOURCE_VERSION_ID
		
         SELECT  @MAX_TRNS_ID =  
         MAX(ITEM)  FROM DBO.FUNC_SPLIT(@STRTRANS_ID,'^')
         
       
         SET @ADDITION_INFO = @ADDITION_INFO+' = ' +@DISPLAY_VERSION+';'
         --SELECT   FROM 
         UPDATE MNT_TRANSACTION_LOG SET  ADDITIONAL_INFO = 
          ADDITIONAL_INFO +''+ @ADDITION_INFO 
         WHERE TRANS_ID = @MAX_TRNS_ID
		 
		 
  END
  ELSE
  BEGIN
	 UPDATE POL_POLICY_ENDORSEMENTS_DETAILS  
	 SET ENDORSEMENT_DATE = @ENDORSEMENT_DATE,  
	  ENDORSEMENT_TYPE = @ENDORSEMENT_TYPE,  
	  ENDORSEMENT_DESC = @ENDORSEMENT_DESC,  
	  REMARKS = @REMARKS  
	 WHERE POLICY_ID = @POLICY_ID   
	  AND POLICY_VERSION_ID = @POLICY_VERSION_ID  
	  AND CUSTOMER_ID = @CUSTOMER_ID  
	  AND ENDORSEMENT_NO = @ENDORSEMENT_NO  
	  AND ENDORSEMENT_DETAIL_ID = @ENDORSEMENT_DETAIL_ID  
  END
END  
  
  
  
  
GO

