IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_CommitACT_CUSTOMER_OPEN_ITEMS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_CommitACT_CUSTOMER_OPEN_ITEMS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------
Proc Name       : dbo.Proc_CommitACT_CUSTOMER_OPEN_ITEMS
Created by      : Praveen kasana
Date            : 12/22/2006
Purpose    		: Insert value in CUSTOMER_OPEN_ITEMS AND DETAIL POSTING TABLE FOR FEE ITEM CODE
Revison History :
Used In 		: Wolverine
------------------------------------------------------------
Date     Review By          Comments
------   ------------       -------------------------*/
-- drop proc dbo.Proc_CommitACT_CUSTOMER_OPEN_ITEMS
CREATE PROC dbo.Proc_CommitACT_CUSTOMER_OPEN_ITEMS
(
	@ENTITY_ID  	 INT, --Customer_ID
	@GROUP_ID  	 INT,
	@COMMITTED_BY 	  Int = null
	
)
AS
BEGIN

IF NOT EXISTS (SELECT IDEN_ROW_NO FROM  ACT_CUSTOMER_RECON_GROUP_DETAILS WHERE GROUP_ID = @GROUP_ID)
BEGIN 
	-- No records exists against this group
	return -1 
		
END



-- Tran_ENTITY - > Customer Name
-- Tran_DESC -->  Policy No.


--ACCT ID
DECLARE  
@AST_UNCOLL_PRM_CUSTOMER int,		--Sundry Debtors Account For Customers
@INC_INSTALLMENT_FEES int,			--Income Account For Installment Fees(service charge)
@INC_RE_INSTATEMENT_FEES int,  	--Income Account For Reinstatement Fees
@INC_NON_SUFFICIENT_FUND_FEES int, --Income Account For Late Fees
@INC_LATE_FEES int	,	   			--Income Account For Late Fees
@UPDATED_FROM 	Char(1)

SET @UPDATED_FROM 	= 'R'

SELECT   
@AST_UNCOLL_PRM_CUSTOMER 		= AST_UNCOLL_PRM_CUSTOMER,  
@INC_INSTALLMENT_FEES 			= INC_INSTALLMENT_FEES,
@INC_RE_INSTATEMENT_FEES 		= INC_RE_INSTATEMENT_FEES,
@INC_NON_SUFFICIENT_FUND_FEES 	= INC_NON_SUFFICIENT_FUND_FEES,
@INC_LATE_FEES 				= INC_LATE_FEES
FROM ACT_GENERAL_LEDGER  
WHERE GETDATE() BETWEEN FISCAL_BEGIN_DATE AND FISCAL_END_DATE


DECLARE @TRAN_ENTITY Varchar(200)
DECLARE @TRAN_DESC Varchar(200)
--Fetch Insured Name & Agency Name	
SELECT @TRAN_ENTITY  = ISNULL(CUSTOMER_CODE,'') + ' - ' + ISNULL(CUSTOMER_FIRST_NAME,'') + 
ISNULL(CUSTOMER_MIDDLE_NAME,'') +
CUSTOMER_LAST_NAME FROM CLT_CUSTOMER_LIST
WHERE CUSTOMER_ID = @ENTITY_ID
	
	
DECLARE @TOTAL_LATE_FEE_AMT DECIMAL(18,2)
SET @TOTAL_LATE_FEE_AMT = 0.0
DECLARE @TOTAL_INST_FEE_AMT DECIMAL(18,2)
SET @TOTAL_INST_FEE_AMT = 0.0
DECLARE @TOTAL_NSF_FEE_AMT DECIMAL(18,2)
SET @TOTAL_NSF_FEE_AMT = 0.0

DECLARE @TOTAL_REINST_FEE_AMT DECIMAL(18,2)
SET @TOTAL_REINST_FEE_AMT = 0.0

--CURSOR
DECLARE curCUSTOMER_ITEMS CURSOR   
LOCAL FORWARD_ONLY STATIC  
FOR
SELECT ITEM_REFERENCE_ID, RECON_AMOUNT
FROM ACT_CUSTOMER_RECON_GROUP_DETAILS   
WHERE GROUP_ID = @GROUP_ID  
	
		
--Variables for retreiving the values from cursor   
DECLARE @ITEM_REFERENCE_ID INT, @RECON_AMOUNT DECIMAL(18,2)

OPEN curCUSTOMER_ITEMS  

FETCH NEXT FROM curCUSTOMER_ITEMS INTO @ITEM_REFERENCE_ID,@RECON_AMOUNT
----ITEM_REFERENCE_ID = ACT_CUSTOMER_OPEN_ITEMS.IDEN_ROW_ID  
WHILE @@FETCH_STATUS = 0
BEGIN
	--LATE_FEE
	IF EXISTS(SELECT CUSTOMER_ID FROM ACT_CUSTOMER_OPEN_ITEMS  
		WHERE IDEN_ROW_ID = @ITEM_REFERENCE_ID AND CUSTOMER_ID = @ENTITY_ID 
		AND ITEM_TRAN_CODE_TYPE = 'FEES' AND ITEM_TRAN_CODE='LF')
	BEGIN	
		SET @TOTAL_LATE_FEE_AMT = @TOTAL_LATE_FEE_AMT + @RECON_AMOUNT
	END
	--INST_FEE
	IF EXISTS(SELECT CUSTOMER_ID FROM ACT_CUSTOMER_OPEN_ITEMS  
		WHERE IDEN_ROW_ID = @ITEM_REFERENCE_ID AND CUSTOMER_ID = @ENTITY_ID 
		AND ITEM_TRAN_CODE_TYPE = 'FEES' AND ITEM_TRAN_CODE='INSF')
	BEGIN	
		SET @TOTAL_INST_FEE_AMT = @TOTAL_INST_FEE_AMT + @RECON_AMOUNT
	END
	--NNSF_FEE
	IF EXISTS(SELECT CUSTOMER_ID FROM ACT_CUSTOMER_OPEN_ITEMS  
		WHERE IDEN_ROW_ID = @ITEM_REFERENCE_ID AND CUSTOMER_ID = @ENTITY_ID 
		AND ITEM_TRAN_CODE_TYPE = 'FEES' AND ITEM_TRAN_CODE='NSFF')
	BEGIN	
		SET @TOTAL_NSF_FEE_AMT = @TOTAL_NSF_FEE_AMT + @RECON_AMOUNT
	END
	
	-- Total Up Reinstatement fees items reconciled in this group
	IF EXISTS(SELECT CUSTOMER_ID FROM ACT_CUSTOMER_OPEN_ITEMS  
		WHERE IDEN_ROW_ID = @ITEM_REFERENCE_ID AND CUSTOMER_ID = @ENTITY_ID 
		AND ITEM_TRAN_CODE_TYPE = 'FEES' AND ITEM_TRAN_CODE='RENSF')
	BEGIN	
		SET @TOTAL_REINST_FEE_AMT = @TOTAL_REINST_FEE_AMT + @RECON_AMOUNT
	END	

	UPDATE ACT_CUSTOMER_OPEN_ITEMS SET TOTAL_PAID = ISNULL(TOTAL_PAID,0) + @RECON_AMOUNT
	WHERE IDEN_ROW_ID = @ITEM_REFERENCE_ID AND CUSTOMER_ID = @ENTITY_ID
	


	--Ravindra(12-3-2008 )Mark installment as released
	DECLARE @POLICY_ID Int , @CURRENT_TERM Int 
		
	SELECT @POLICY_ID = CPL.POLICY_ID , @CURRENT_TERM = CPL.CURRENT_TERM 
	FROM ACT_CUSTOMER_OPEN_ITEMS OI 
	INNER JOIN POL_CUSTOMER_POLICY_LIST CPL 
	ON OI.CUSTOMER_ID = CPL.CUSTOMER_ID 
	AND OI.POLICY_ID = CPL.POLICY_ID 
	AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID 
	WHERE OI.IDEN_ROW_ID = @ITEM_REFERENCE_ID


	UPDATE ACT_POLICY_INSTALLMENT_DETAILS SET   RELEASED_STATUS = 'Y'
	WHERE INSTALLMENT_NO IN 
	(
		SELECT INS.INSTALLMENT_NO FROM ACT_CUSTOMER_OPEN_ITEMS OI
		INNER JOIN ACT_POLICY_INSTALLMENT_DETAILS INS
		ON OI.INSTALLMENT_ROW_ID = INS.ROW_ID 
		WHERE OI.IDEN_ROW_ID = @ITEM_REFERENCE_ID
	)
	AND CUSTOMER_ID = @ENTITY_ID 
	AND POLICY_ID = @POLICY_ID 
	AND POLICY_VERSION_ID IN (
					SELECT CPLIN.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPLIN 
					WHERE CPLIN.CUSTOMER_ID = @ENTITY_ID	AND CPLIN.POLICY_ID = @POLICY_ID 
					AND CPLIN.CURRENT_TERM  = @CURRENT_TERM 
					) 



	FETCH NEXT FROM curCUSTOMER_ITEMS INTO @ITEM_REFERENCE_ID,@RECON_AMOUNT
	IF @@FETCH_STATUS <> 0 
	BREAK
		
END
		
---------------------DETAIL POSTING TABLE --------LATE FEE : LF
IF(@TOTAL_LATE_FEE_AMT<>0.0)
BEGIN
	--Inserting in to Late Fee income account (debit)
	INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
	(  
	ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,  
	SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,   
	TRANSACTION_AMOUNT,   
	AGENCY_COMM_PERC,  
	AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,              
	POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,   
	IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,   
	SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,   
	TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
	IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME,
	TRAN_ENTITY, TRAN_DESC

	)  
	SELECT
	@INC_LATE_FEES, @UPDATED_FROM, NULL, @GROUP_ID  , NULL,
	@GROUP_ID , GETDATE() , GETDATE()  , GETDATE()  ,
	@TOTAL_LATE_FEE_AMT, 
	NULL, 
	NULL,ACOI.AGENCY_ID,ACOI.CUSTOMER_ID,
	ACOI.POLICY_ID, ACOI.POLICY_VERSION_ID, ACOI.DIV_ID, ACOI.DEPT_ID, ACOI.PC_ID,
	IS_PREBILL, BILL_CODE, @TOTAL_LATE_FEE_AMT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,
	SUB_LOB_ID, ACOI.COUNTRY_ID, ACOI.STATE_ID ,NULL , 
	NULL, NULL, NULL, RECUR_JOURNAL_VERSION,
	NULL, NULL, NULL , NULL, NULL,
	@TRAN_ENTITY, ISNULL(PCL.POLICY_NUMBER,'')  + ' ' +  ISNULL(POLICY_DISP_VERSION,'')
	FROM ACT_CUSTOMER_OPEN_ITEMS ACOI
	LEFT JOIN POL_CUSTOMER_POLICY_LIST  PCL 
	ON ACOI.POLICY_ID = PCL.POLICY_ID
	AND ACOI.CUSTOMER_ID = PCL.CUSTOMER_ID
	AND ACOI.POLICY_VERSION_ID = PCL.POLICY_VERSION_ID		
	WHERE ACOI.CUSTOMER_ID = @ENTITY_ID AND IDEN_ROW_ID = @ITEM_REFERENCE_ID

	--Crediting UNCOLLECTED PREMIUM account
	INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
	(  
	ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,  
	SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,   
	TRANSACTION_AMOUNT,   
	AGENCY_COMM_PERC,  
	AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,                                      
	POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,   
	IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,   
	SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,   
	TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
	IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME,
	TRAN_ENTITY, TRAN_DESC  
	)  
	SELECT
	@AST_UNCOLL_PRM_CUSTOMER, @UPDATED_FROM, NULL, @GROUP_ID, NULL,
	@GROUP_ID, getdate(), getdate(), getdate(),
	@TOTAL_LATE_FEE_AMT * -1, --TRANS AMOUNT
	NULL, --AGNC COMM PERC
	NULL,ACOI.AGENCY_ID,ACOI.CUSTOMER_ID,
	ACOI.POLICY_ID, ACOI.POLICY_VERSION_ID, ACOI.DIV_ID, ACOI.DEPT_ID, ACOI.PC_ID,
	IS_PREBILL, BILL_CODE, @TOTAL_LATE_FEE_AMT * -1 , ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,
	SUB_LOB_ID, ACOI.COUNTRY_ID, ACOI.STATE_ID ,NULL , 
	NULL, NULL, NULL, RECUR_JOURNAL_VERSION,
	NULL, NULL, NULL , NULL, NULL,
	@TRAN_ENTITY, ISNULL(PCL.POLICY_NUMBER,'')  + ' ' +  ISNULL(POLICY_DISP_VERSION,'')
	FROM ACT_CUSTOMER_OPEN_ITEMS ACOI
	LEFT JOIN POL_CUSTOMER_POLICY_LIST  PCL 
	ON ACOI.POLICY_ID = PCL.POLICY_ID
	AND ACOI.CUSTOMER_ID = PCL.CUSTOMER_ID
	AND ACOI.POLICY_VERSION_ID = PCL.POLICY_VERSION_ID		
	WHERE ACOI.CUSTOMER_ID = @ENTITY_ID AND ACOI.IDEN_ROW_ID = @ITEM_REFERENCE_ID
END

-----------------------INSF
IF(@TOTAL_INST_FEE_AMT<>0.0)
BEGIN
	--DETAIL POSTING TABLE --------LATE FEE CODE : INSF
 	INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
	(  
	ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,  
	SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,   
	TRANSACTION_AMOUNT,   
	AGENCY_COMM_PERC,  
	AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,                                      
	POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,   
	IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,   
	SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,   
	TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
	IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME ,
	TRAN_ENTITY, TRAN_DESC 
	)  
	SELECT
	@INC_INSTALLMENT_FEES, @UPDATED_FROM, NULL, @GROUP_ID, NULL,
	@GROUP_ID, getdate(), getdate(), getdate(),
	@TOTAL_INST_FEE_AMT, --TRANS AMOUNT
	NULL, --AGNC COMM PERC
	NULL,ACOI.AGENCY_ID, ACOI.CUSTOMER_ID,
	ACOI.POLICY_ID, ACOI.POLICY_VERSION_ID, ACOI.DIV_ID, ACOI.DEPT_ID, ACOI.PC_ID,
	IS_PREBILL, BILL_CODE, @TOTAL_INST_FEE_AMT , ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,
	SUB_LOB_ID, ACOI.COUNTRY_ID, ACOI.STATE_ID ,NULL , 
	NULL, NULL, NULL, RECUR_JOURNAL_VERSION,
	NULL, NULL, NULL , NULL, NULL,
	@TRAN_ENTITY, ISNULL(PCL.POLICY_NUMBER,'')  + ' ' +  ISNULL(POLICY_DISP_VERSION,'')
	FROM ACT_CUSTOMER_OPEN_ITEMS ACOI
	LEFT JOIN POL_CUSTOMER_POLICY_LIST  PCL 
	ON ACOI.POLICY_ID = PCL.POLICY_ID
	AND ACOI.CUSTOMER_ID = PCL.CUSTOMER_ID
	AND ACOI.POLICY_VERSION_ID = PCL.POLICY_VERSION_ID		
	WHERE ACOI.CUSTOMER_ID = @ENTITY_ID AND IDEN_ROW_ID = @ITEM_REFERENCE_ID

	--UNCOLLECTED PREMIUM INSF
 	INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
	(  
	ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,  
	SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,   
	TRANSACTION_AMOUNT,   
	AGENCY_COMM_PERC,  
	AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,                                      
	POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,   
	IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,   
	SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,   
	TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
	IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME,
	TRAN_ENTITY, TRAN_DESC  
	)  
	SELECT
	@AST_UNCOLL_PRM_CUSTOMER, UPDATED_FROM, NULL, @GROUP_ID, NULL,
	@GROUP_ID, getdate(), getdate(), getdate(),
	@TOTAL_INST_FEE_AMT * -1, --TRANS AMOUNT
	NULL, --AGNC COMM PERC
	NULL,ACOI.AGENCY_ID,ACOI.CUSTOMER_ID,
	ACOI.POLICY_ID, ACOI.POLICY_VERSION_ID, ACOI.DIV_ID, ACOI.DEPT_ID, ACOI.PC_ID,
	IS_PREBILL, BILL_CODE, @TOTAL_INST_FEE_AMT * -1 , ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,
	SUB_LOB_ID, ACOI.COUNTRY_ID, ACOI.STATE_ID ,NULL , 
	NULL, NULL, NULL, RECUR_JOURNAL_VERSION,
	NULL, NULL, NULL , NULL, NULL,
	@TRAN_ENTITY, ISNULL(PCL.POLICY_NUMBER,'')  + ' ' + ISNULL(POLICY_DISP_VERSION,'')
	FROM ACT_CUSTOMER_OPEN_ITEMS ACOI
	LEFT JOIN POL_CUSTOMER_POLICY_LIST  PCL 
	ON ACOI.POLICY_ID = PCL.POLICY_ID
	AND ACOI.CUSTOMER_ID = PCL.CUSTOMER_ID
	AND ACOI.POLICY_VERSION_ID = PCL.POLICY_VERSION_ID		
	WHERE ACOI.CUSTOMER_ID = @ENTITY_ID AND IDEN_ROW_ID = @ITEM_REFERENCE_ID
END
	---------------------------NSFF
IF(@TOTAL_NSF_FEE_AMT<>0.0)
BEGIN
	--DETAIL POSTING TABLE --------NSFF
	INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
	(  
	ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,  
	SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,   
	TRANSACTION_AMOUNT,   
	AGENCY_COMM_PERC,  
	AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,                                      
	POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,   
	IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,   
	SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,   
	TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
	IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME ,
	TRAN_ENTITY, TRAN_DESC 
	)  
	SELECT
	@INC_NON_SUFFICIENT_FUND_FEES, UPDATED_FROM, NULL, @GROUP_ID, NULL,
	@GROUP_ID, getdate(), getdate(), getdate(),
	@TOTAL_NSF_FEE_AMT, --TRANS AMOUNT
	NULL, --AGNC COMM PERC
	NULL,ACOI.AGENCY_ID,ACOI.CUSTOMER_ID,
	ACOI.POLICY_ID, ACOI.POLICY_VERSION_ID, ACOI.DIV_ID, ACOI.DEPT_ID, ACOI.PC_ID,
	IS_PREBILL, BILL_CODE, @TOTAL_NSF_FEE_AMT , ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,
	SUB_LOB_ID, ACOI.COUNTRY_ID, ACOI.STATE_ID ,NULL , 
	NULL, NULL, NULL, RECUR_JOURNAL_VERSION,
	NULL, NULL, NULL , NULL, NULL,
	@TRAN_ENTITY, ISNULL(PCL.POLICY_NUMBER,'')  + ' ' +  ISNULL(POLICY_DISP_VERSION,'')
	FROM ACT_CUSTOMER_OPEN_ITEMS ACOI
	LEFT JOIN POL_CUSTOMER_POLICY_LIST  PCL 
	ON ACOI.POLICY_ID = PCL.POLICY_ID
	AND ACOI.CUSTOMER_ID = PCL.CUSTOMER_ID
	AND ACOI.POLICY_VERSION_ID = PCL.POLICY_VERSION_ID		
	WHERE ACOI.CUSTOMER_ID = @ENTITY_ID AND IDEN_ROW_ID = @ITEM_REFERENCE_ID

	--UNCOLLECTED PREMIUM --NSFF
	INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
	(  
	ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,  
	SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,   
	TRANSACTION_AMOUNT,   
	AGENCY_COMM_PERC,  
	AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,                                      
	POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,   
	IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,   
	SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,   
	TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
	IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME,
	TRAN_ENTITY, TRAN_DESC 
	)  
	SELECT
	@AST_UNCOLL_PRM_CUSTOMER, UPDATED_FROM, NULL, @GROUP_ID, NULL,
	@GROUP_ID, getdate(), getdate(), getdate(),
	@TOTAL_NSF_FEE_AMT * -1, --TRANS AMOUNT
	NULL, --AGNC COMM PERC
	NULL,ACOI.AGENCY_ID,ACOI.CUSTOMER_ID,
	ACOI.POLICY_ID, ACOI.POLICY_VERSION_ID, ACOI.DIV_ID, ACOI.DEPT_ID, ACOI.PC_ID,
	IS_PREBILL, BILL_CODE, @TOTAL_NSF_FEE_AMT *-1, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,
	SUB_LOB_ID, ACOI.COUNTRY_ID, ACOI.STATE_ID ,NULL , 
	NULL, NULL, NULL, RECUR_JOURNAL_VERSION,
	NULL, NULL, NULL , NULL, NULL,
	@TRAN_ENTITY, ISNULL(PCL.POLICY_NUMBER,'')  + ' ' + ISNULL(POLICY_DISP_VERSION,'')
	FROM ACT_CUSTOMER_OPEN_ITEMS ACOI
	LEFT JOIN POL_CUSTOMER_POLICY_LIST  PCL 
	ON ACOI.POLICY_ID = PCL.POLICY_ID
	AND ACOI.CUSTOMER_ID = PCL.CUSTOMER_ID
	AND ACOI.POLICY_VERSION_ID = PCL.POLICY_VERSION_ID		
	WHERE ACOI.CUSTOMER_ID = @ENTITY_ID AND IDEN_ROW_ID = @ITEM_REFERENCE_ID
END

-- Posting in General ledger for Reinstatement fees
IF(@TOTAL_REINST_FEE_AMT<>0.0)
BEGIN
	--Inserting in to Late Fee income account (debit)
	INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
	(  
	ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,  
	SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,   
	TRANSACTION_AMOUNT,   
	AGENCY_COMM_PERC,  
	AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,              
	POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,   
	IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,   
	SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,   
	TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
	IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME,
	TRAN_ENTITY, TRAN_DESC

	)  
	SELECT
	@INC_RE_INSTATEMENT_FEES, @UPDATED_FROM, NULL, @GROUP_ID  , NULL,
	@GROUP_ID , GETDATE() , GETDATE()  , GETDATE()  ,
	@TOTAL_REINST_FEE_AMT, 
	NULL, 
	NULL,ACOI.AGENCY_ID,ACOI.CUSTOMER_ID,
	ACOI.POLICY_ID, ACOI.POLICY_VERSION_ID, ACOI.DIV_ID, ACOI.DEPT_ID, ACOI.PC_ID,
	IS_PREBILL, BILL_CODE, @TOTAL_LATE_FEE_AMT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,
	SUB_LOB_ID, ACOI.COUNTRY_ID, ACOI.STATE_ID ,NULL , 
	NULL, NULL, NULL, RECUR_JOURNAL_VERSION,
	NULL, NULL, NULL , NULL, NULL,
	@TRAN_ENTITY, ISNULL(PCL.POLICY_NUMBER,'')  + ' ' +  ISNULL(POLICY_DISP_VERSION,'')
	FROM ACT_CUSTOMER_OPEN_ITEMS ACOI
	LEFT JOIN POL_CUSTOMER_POLICY_LIST  PCL 
	ON ACOI.POLICY_ID = PCL.POLICY_ID
	AND ACOI.CUSTOMER_ID = PCL.CUSTOMER_ID
	AND ACOI.POLICY_VERSION_ID = PCL.POLICY_VERSION_ID		
	WHERE ACOI.CUSTOMER_ID = @ENTITY_ID AND IDEN_ROW_ID = @ITEM_REFERENCE_ID

	--Crediting UNCOLLECTED PREMIUM account
	INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
	(  
	ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,  
	SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,   
	TRANSACTION_AMOUNT,   
	AGENCY_COMM_PERC,  
	AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,                                      
	POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,   
	IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,   
	SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,   
	TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
	IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME,
	TRAN_ENTITY, TRAN_DESC  
	)  
	SELECT
	@AST_UNCOLL_PRM_CUSTOMER, @UPDATED_FROM, NULL, @GROUP_ID, NULL,
	@GROUP_ID, getdate(), getdate(), getdate(),
	@TOTAL_REINST_FEE_AMT * -1, --TRANS AMOUNT
	NULL, --AGNC COMM PERC
	NULL,ACOI.AGENCY_ID,ACOI.CUSTOMER_ID,
	ACOI.POLICY_ID, ACOI.POLICY_VERSION_ID, ACOI.DIV_ID, ACOI.DEPT_ID, ACOI.PC_ID,
	IS_PREBILL, BILL_CODE, @TOTAL_LATE_FEE_AMT * -1 , ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,
	SUB_LOB_ID, ACOI.COUNTRY_ID, ACOI.STATE_ID ,NULL , 
	NULL, NULL, NULL, RECUR_JOURNAL_VERSION,
	NULL, NULL, NULL , NULL, NULL,
	@TRAN_ENTITY, ISNULL(PCL.POLICY_NUMBER,'')  + ' ' +  ISNULL(POLICY_DISP_VERSION,'')
	FROM ACT_CUSTOMER_OPEN_ITEMS ACOI
	LEFT JOIN POL_CUSTOMER_POLICY_LIST  PCL 
	ON ACOI.POLICY_ID = PCL.POLICY_ID
	AND ACOI.CUSTOMER_ID = PCL.CUSTOMER_ID
	AND ACOI.POLICY_VERSION_ID = PCL.POLICY_VERSION_ID		
	WHERE ACOI.CUSTOMER_ID = @ENTITY_ID AND ACOI.IDEN_ROW_ID = @ITEM_REFERENCE_ID
END

UPDATE ACT_RECONCILIATION_GROUPS SET IS_COMMITTED = 'Y' ,
	DATE_COMMITTED = GETDATE(),
	COMMITTED_BY  = @COMMITTED_BY
WHERE GROUP_ID = @GROUP_ID

CLOSE curCUSTOMER_ITEMS
DEALLOCATE curCUSTOMER_ITEMS
return 1

END

GO

