IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetPOL_HOME_OWNER_GEN_INFO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetPOL_HOME_OWNER_GEN_INFO]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--drop PROC dbo.Proc_GetPOL_HOME_OWNER_GEN_INFO  
CREATE PROC dbo.Proc_GetPOL_HOME_OWNER_GEN_INFO                
(                
 @CUSTOMER_ID  int,                
 @POL_ID   int,                
 @POL_VERSION_ID  smallint                
)                
AS                
BEGIN                
 SELECT                
  CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, ANY_FARMING_BUSINESS_COND, --DESC_BUSINESS,        
  ANY_RESIDENCE_EMPLOYEE, DESC_RESIDENCE_EMPLOYEE,                
  ANY_OTHER_RESI_OWNED, DESC_OTHER_RESIDENCE, ANY_OTH_INSU_COMP,                
  DESC_OTHER_INSURANCE, HAS_INSU_TRANSFERED_AGENCY, DESC_INSU_TRANSFERED_AGENCY,                
  ANY_COV_DECLINED_CANCELED, DESC_COV_DECLINED_CANCELED, ANIMALS_EXO_PETS_HISTORY,                 
  BREED, OTHER_DESCRIPTION, CONVICTION_DEGREE_IN_PAST,                
  DESC_CONVICTION_DEGREE_IN_PAST,ANY_RENOVATION,DESC_RENOVATION,                
  TRAMPOLINE,DESC_TRAMPOLINE,LEAD_PAINT_HAZARD,DESC_LEAD_PAINT_HAZARD,                
  RENTERS,DESC_RENTERS,BUILD_UNDER_CON_GEN_CONT,                
  REMARKS,IS_ACTIVE, CREATED_BY, CREATED_DATETIME, MODIFIED_BY, LAST_UPDATED_DATETIME,MULTI_POLICY_DISC_APPLIED,NO_OF_PETS,IS_SWIMPOLL_HOTTUB,Convert(varchar,LAST_INSPECTED_DATE,101) as LAST_INSPECTED_DATE,                
  IS_RENTED_IN_PART , IS_VACENT_OCCUPY, IS_DWELLING_OWNED_BY_OTHER, IS_PROP_NEXT_COMMERICAL , DESC_PROPERTY ,ARE_STAIRWAYS_PRESENT ,                 
  DESC_STAIRWAYS ,IS_OWNERS_DWELLING_CHANGED , DESC_OWNER,                
  DESC_VACENT_OCCUPY,DESC_RENTED_IN_PART,DESC_DWELLING_OWNED_BY_OTHER,                 
  ANY_HEATING_SOURCE,DESC_ANY_HEATING_SOURCE,NON_SMOKER_CREDIT,SWIMMING_POOL,SWIMMING_POOL_TYPE,ANY_FORMING,              
 PREMISES,OF_ACRES,OF_ACRES_P,ISANY_HORSE,NO_HORSES,LOCATION,DESC_LOCATION,    
 DESC_IS_SWIMPOLL_HOTTUB,DESC_MULTI_POLICY_DISC_APPLIED,DESC_BUILD_UNDER_CON_GEN_CONT,      
 APPROVED_FENCE,SLIDE, DIVING_BOARD,YEARS_INSU_WOL,YEARS_INSU,  
  PROVIDE_HOME_DAY_CARE,  
  MODULAR_MANUFACTURED_HOME,  
  BUILT_ON_CONTINUOUS_FOUNDATION,DESC_FARMING_BUSINESS_COND, VALUED_CUSTOMER_DISCOUNT_OVERRIDE, VALUED_CUSTOMER_DISCOUNT_OVERRIDE, VALUED_CUSTOMER_DISCOUNT_OVERRIDE_DESC,  
  
PROPERTY_ON_MORE_THAN,  
PROPERTY_ON_MORE_THAN_DESC,  
DWELLING_MOBILE_HOME,  
DWELLING_MOBILE_HOME_DESC,  
PROPERTY_USED_WHOLE_PART,  
PROPERTY_USED_WHOLE_PART_DESC,
ANY_PRIOR_LOSSES,
ANY_PRIOR_LOSSES_DESC,
BOAT_WITH_HOMEOWNER,
NON_WEATHER_CLAIMS,    
WEATHER_CLAIMS     
                
 FROM                
  POL_HOME_OWNER_GEN_INFO                
 WHERE                
  CUSTOMER_ID   = @CUSTOMER_ID AND                
  POLICY_ID    = @POL_ID AND                
  POLICY_VERSION_ID   = @POL_VERSION_ID                
END                
      
    
  
  
  
  
  
  
  
  
  
  
  
  
  






GO

