IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_DistributeInstallments]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_DistributeInstallments]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran
--drop proc dbo.Proc_DistributeInstallments
--go
/**************************************************************
CREATED BY 		: 	Vijay Joshi
CREATED DATE	:	Sep 13, 2005
PURPOSE			: 	To distribute the details of installments,
					after some chage in policy.
REVISION HISTORY:
Revised By		Revised Date		Purpose

Modified By 	: Ravindra Gupta 
Modified On		: 09-22-2006
Purpose 		: For change in premium amount in case of policy under Installment plan 
				new entry will be created for changed amount instead of updating the old record
				and this entry will be Risk specific. 
				This SP is called for each risk in the policy

Modified By 	: Praveen Kasana
Modified On		: 2 Sep 2009
Purpose			: Itrack 6320 :
				When due date of EFT installment is different than effective date of the policy, the 1st EFT installment
				should be set based on the 15 day rule, the next EFT installment should be due on the same date in the following month,
				and the next EFT installment should be due on the same date in the next month, and so forth.  

Modified By 	: Praveen Kasana
Modified On		: 30 Oct 2009
Purpose			: Itrack 6675
         

***************************************************************/
--drop proc dbo.Proc_DistributeInstallments
CREATE PROCEDURE [dbo].[Proc_DistributeInstallments]
(
	@APP_ID 			INT, 		-- Application identification number
	@APP_VERSION_ID 		SMALLINT, 		-- Application version identification number
	@CUSTOMER_ID 			INT, 		-- Customer identification number
	@POLICY_ID 			INT, 		-- Policy identification number
	@POLICY_VERSION_ID 		SMALLINT,		-- Policy version identification number
	@INSTALLMENT 			SMALLINT, 		-- Inatallment plan id
	@POLICY_EFFECTIVE_DATE 		DATETIME,		-- Policy effective date
	@CHANGE_PREMIUM_AMOUNT 		DECIMAl(20,2),		-- Change premium amount
	@CHANGE_EFFECTIVE_DATE 		DATETIME ,		-- Date from which the change in business comes into effect  
	@RISK_ID			int ,			-- RiskID of the risk as in risk info table
	@RISK_TYPE			varchar(15),		-- RiskType of the risk as in Quote XML ,
	@TOTAL_INFORCE_PREMIUM		Decimal(18,2) -- Added By Ravindra(08-24-2007) 
								-- Change premium will be distributed based on Inforce Premium
		
) 
AS
BEGIN

DECLARE	@EFT_TENTATIVE_DATE Int,
		@EFT   INt
SET @EFT   = 11973

SELECT 	@EFT_TENTATIVE_DATE 	=	ISNULL(EFT_TENTATIVE_DATE,0)
FROM ACT_POL_EFT_CUST_INFO 
WHERE CUSTOMER_ID = @CUSTOMER_ID 
AND   POLICY_ID = @POLICY_ID 
AND   POLICY_VERSION_ID = @POLICY_VERSION_ID


CREATE TABLE #TMP_INSTALL_PLAN
(
	[IDENT_COL] [int] IDENTITY(1,1) NOT NULL ,                                                              
	[AMOUNT]			DECIMAL(25,2),
	[INSTALLMENT_EFFECTIVE_DATE]	DATETIME,
	[RELEASED_STATUS]		Char(1),
	[INSTALLMENT_NO]		Int,
	[PERCENTAG_OF_PREMIUM]		Decimal(18,4),
	[PAYMENT_MODE]			Int ,
	[ACTUAL_AMOUNT]			Decimal(18,2)
)

--Inserting the new plan in temp table

--Getting the details of installments
DECLARE @IDEN_PLAN_ID SMALLINT, @PLAN_DESCRIPTION NVARCHAR(70),
		@PLAN_TYPE NCHAR(2), @NO_OF_PAYMENTS SMALLINT, @MONTHS_BETWEEN SMALLINT, 
		@PERCENT_BREAKDOWN1 DECIMAL(10,4), @PERCENT_BREAKDOWN2 DECIMAL(10,4), 
		@PERCENT_BREAKDOWN3 DECIMAL(10,4), @PERCENT_BREAKDOWN4 DECIMAL(10,4),
		@PERCENT_BREAKDOWN5 DECIMAL(10,4), @PERCENT_BREAKDOWN6 DECIMAL(10,4),
		@PERCENT_BREAKDOWN7 DECIMAL(10,4), @PERCENT_BREAKDOWN8 DECIMAL(10,4),
		@PERCENT_BREAKDOWN9 DECIMAL(10,4), @PERCENT_BREAKDOWN10 DECIMAL(10,4), 
		@PERCENT_BREAKDOWN11 DECIMAL(10,4), @PERCENT_BREAKDOWN12 DECIMAL(10,4),
		@PLAN_PAYMENT_MODE Int,@NO_INS_DOWNPAY INt,
		@SELECTED_DOWN_PAYMENT_MODE Int,
		@CURRENT_TERM SmallInt

--Fetching the application or policy information
SELECT 	@SELECTED_DOWN_PAYMENT_MODE	=	DOWN_PAY_MODE,
	@CURRENT_TERM 			= 	CURRENT_TERM	
FROM POL_CUSTOMER_POLICY_LIST 
WHERE 	CUSTOMER_ID = @CUSTOMER_ID 
AND 	POLICY_ID = @POLICY_ID 
AND 	POLICY_VERSION_ID = @POLICY_VERSION_ID

--Retreiving the details of installments from policy installment plan data
SELECT 
	@IDEN_PLAN_ID = PLAN_ID, @PLAN_DESCRIPTION = PLAN_DESCRIPTION,
	@PLAN_TYPE = PLAN_TYPE, @NO_OF_PAYMENTS = NO_OF_PAYMENTS, @MONTHS_BETWEEN = MONTHS_BETWEEN, 
	@PERCENT_BREAKDOWN1 = PERCENT_BREAKDOWN1, @PERCENT_BREAKDOWN2 = PERCENT_BREAKDOWN2, 
	@PERCENT_BREAKDOWN3 = PERCENT_BREAKDOWN3, @PERCENT_BREAKDOWN4 = PERCENT_BREAKDOWN4,
	@PERCENT_BREAKDOWN5 = PERCENT_BREAKDOWN5, @PERCENT_BREAKDOWN6 = PERCENT_BREAKDOWN6,
	@PERCENT_BREAKDOWN7 = PERCENT_BREAKDOWN7, @PERCENT_BREAKDOWN8 = PERCENT_BREAKDOWN8, 
	@PERCENT_BREAKDOWN9 = PERCENT_BREAKDOWN9, @PERCENT_BREAKDOWN10 = PERCENT_BREAKDOWN10, 
	@PERCENT_BREAKDOWN11 = PERCENT_BREAKDOWN11, @PERCENT_BREAKDOWN12 = PERCENT_BREAKDOWN12,
	@PLAN_PAYMENT_MODE  = MODE_OF_PAYMENT,
	@NO_INS_DOWNPAY   = INSTALLMENTS_IN_DOWN_PAYMENT
FROM ACT_POLICY_INSTALL_PLAN_DATA
-- Commented By Ravindra(08-24-2007) 
WHERE --APP_ID = @APP_ID AND APP_VERSION_ID = @APP_VERSION_ID 
	POLICY_ID = @POLICY_ID AND CURRENT_TERM = @CURRENT_TERM 
	AND CUSTOMER_ID = @CUSTOMER_ID AND PLAN_ID = @INSTALLMENT


--Inserting the record in to temp table
DECLARE @INSTALLMENT_EFFECTIVE_DATE DATETIME, @INSTALLMENT_AMOUNT DECIMAL(20,2),
		@CTR SMALLINT,
		@PERCENTAG_OF_PREMIUM Decimal(18,4),
		@IS_DOWN_PAYMENT SmallINt,
		@MODE_OF_PAYMENT Int,
		@TOTAL_INSTALLMENT_AMT Decimal(18,2),
		@DIFFERENCE Decimal(18,2),
		@DUE_DATE  DateTime,
		@DAY_LIMIT int, --Itrack 6320,
		@EFT_COUNT int --Itrack 6320,

SET @CTR = 1;
SET @IS_DOWN_PAYMENT   = 1
SET @INSTALLMENT_EFFECTIVE_DATE = @POLICY_EFFECTIVE_DATE
SET @MODE_OF_PAYMENT =   @PLAN_PAYMENT_MODE
SET @TOTAL_INSTALLMENT_AMT = 0
SET @EFT_COUNT = 1

WHILE @CTR <= @NO_OF_PAYMENTS		--Looping as number of times as there are installments
BEGIN
	
	IF @CTR > 1
		SELECT @INSTALLMENT_EFFECTIVE_DATE = DATEADD(MONTH, @MONTHS_BETWEEN, @INSTALLMENT_EFFECTIVE_DATE )
	
	
	IF @IS_DOWN_PAYMENT  > @NO_INS_DOWNPAY
	BEGIN 
		SET @MODE_OF_PAYMENT =   @PLAN_PAYMENT_MODE
	END
	ELSE
	BEGIN 
		SET @MODE_OF_PAYMENT =   @SELECTED_DOWN_PAYMENT_MODE
	END 


	IF(@MODE_OF_PAYMENT = @EFT AND @EFT_TENTATIVE_DATE <> 0)
	BEGIN 
		DECLARE @DD Int, @MM Int, @YYYY Int
	

		--Praveen Kasana(2 Sep 2009) Itrack 6320 ,
		IF(@EFT_COUNT = 1)
			SET @DAY_LIMIT = @EFT_TENTATIVE_DATE - DATEPART(DD,@INSTALLMENT_EFFECTIVE_DATE)
		
		--RAvindra(07-07-09): iTrack 6061, Change the 5 day limit to 15 days
		--IF(@EFT_TENTATIVE_DATE - DATEPART(DD,@INSTALLMENT_EFFECTIVE_DATE)  > 15) --5 ) --Commented for 6320
		IF(@DAY_LIMIT > 15) ----Praveen Kasana(2 Sep 2009) Itrack 6320 ,
		--AND DATEPART(DD,@INSTALLMENT_EFFECTIVE_DATE)  - @EFT_TENTATIVE_DATE < 0
		BEGIN 
			
			SET @YYYY = DATEPART(YYYY,@INSTALLMENT_EFFECTIVE_DATE)
			SET @MM  =  DATEPART(MM,@INSTALLMENT_EFFECTIVE_DATE)-1 
			SET @DD = @EFT_TENTATIVE_DATE 

		END
		ELSE
		BEGIN 
			SET @YYYY = DATEPART(YYYY,@INSTALLMENT_EFFECTIVE_DATE)
			SET @MM  =  DATEPART(MM,@INSTALLMENT_EFFECTIVE_DATE) 
			SET @DD = @EFT_TENTATIVE_DATE 
		END

		IF(@MM = 2 AND @DD >=29)
		BEGIN 
			SET @DD = 28
		END
		IF (@MM = 0) 
		BEGIN 
			SET @MM = 12
			SET @YYYY = @YYYY-1
		END
		-- If month is of 30 days and @DD=31 then date will be updated to 30 if it is 31 --by pravesh on 6 aug 2007
		IF((@MM = 4 or @MM = 6 or @MM = 9 or @MM = 11) and @DD =31)
		BEGIN 
			SET @DD = 30
		END
	
		--If month is 13 or greater than 
		IF(@MM >=13)	
		BEGIN
			SET @MM = 1
			SET @YYYY = @YYYY+1	
		END	
  
	
  
		SET @DUE_DATE = CAST(
		( 
		CONVERT(VARCHAR,@YYYY)
		+ '-'
		+ CONVERT(VARCHAR,@MM ) 
		+ '-'
		+ CONVERT(VARCHAR, @DD) 
		)
		AS DATETIME)

		--Praveen Kasana(9 Sep 2009) Itrack 6320
		SET @EFT_COUNT = @EFT_COUNT + 1
	
	END
	ELSE
	BEGIN
		SET @DUE_DATE = @INSTALLMENT_EFFECTIVE_DATE
		-----------Added 30 OCt 2009 (Praveen) --Itrack 6675
		SET @YYYY = DATEPART(YYYY,@INSTALLMENT_EFFECTIVE_DATE)
		SET @MM  =  DATEPART(MM,@INSTALLMENT_EFFECTIVE_DATE)
		SET @DD = DATEPART(DD,@POLICY_EFFECTIVE_DATE)
		

		IF(@MM = 2 AND @DD >=29)
		BEGIN 
			SET @DD = 28
		END

		IF (@MM = 0) 
		BEGIN 
			SET @MM = 12
			SET @YYYY = @YYYY-1
		END
		-- If month is of 30 days and @DD=31 then date will be updated to 30 if it is 31 --by pravesh on 6 aug 2007
		IF((@MM = 4 or @MM = 6 or @MM = 9 or @MM = 11) and @DD =31)
		BEGIN 
			SET @DD = 30
		END
	
		--If month is 13 or greater than 
		IF(@MM >=13)	
		BEGIN
			SET @MM = 1
			SET @YYYY = @YYYY+1	
		END	
		  
		SET @DUE_DATE = CAST(
		( 
		CONVERT(VARCHAR,@YYYY)
		+ '-'
		+ CONVERT(VARCHAR,@MM ) 
		+ '-'
		+ CONVERT(VARCHAR, @DD) 
		)
		AS DATETIME)
		
		----------End Itrack 6675
	END 
	
	-- Ravindra(06-11-2007): If Installment is Part of DownPayment will be billed with 
	-- first installment i.e. due date will be same as policy effective date
	IF @IS_DOWN_PAYMENT  <= @NO_INS_DOWNPAY
	BEGIN 
		SET @DUE_DATE = @POLICY_EFFECTIVE_DATE
	END
	
	SELECT @PERCENTAG_OF_PREMIUM = 
		CASE @CTR
			WHEN 1 THEN
				@PERCENT_BREAKDOWN1
			WHEN 2 THEN
				@PERCENT_BREAKDOWN2
			WHEN 3 THEN
				@PERCENT_BREAKDOWN3
			WHEN 4 THEN
				@PERCENT_BREAKDOWN4
			WHEN 5 THEN
				@PERCENT_BREAKDOWN5
			WHEN 6 THEN
				@PERCENT_BREAKDOWN6
			WHEN 7 THEN
				@PERCENT_BREAKDOWN7
			WHEN 8 THEN
				@PERCENT_BREAKDOWN8
			WHEN 9 THEN
				@PERCENT_BREAKDOWN9
			WHEN 10 THEN
				@PERCENT_BREAKDOWN10
			WHEN 11 THEN
				@PERCENT_BREAKDOWN11
			WHEN 12 THEN
				@PERCENT_BREAKDOWN12
		END
	SELECT @INSTALLMENT_AMOUNT = ROUND((@PERCENTAG_OF_PREMIUM * @TOTAL_INFORCE_PREMIUM)/100, 2)

	SET @TOTAL_INSTALLMENT_AMT = @TOTAL_INSTALLMENT_AMT + @INSTALLMENT_AMOUNT

	--Inserting the installment record in temporary table, 
	INSERT INTO #TMP_INSTALL_PLAN
	(
		AMOUNT,
		INSTALLMENT_EFFECTIVE_DATE,
		PERCENTAG_OF_PREMIUM,
		PAYMENT_MODE,
		INSTALLMENT_NO
	)
	VALUES
	(	
		@INSTALLMENT_AMOUNT,
		@DUE_DATE,
		@PERCENTAG_OF_PREMIUM,
		@MODE_OF_PAYMENT,
		@CTR 
	)
	
	SELECT @CTR = @CTR + 1
	SET @IS_DOWN_PAYMENT = @IS_DOWN_PAYMENT + 1
END



-- Adding / Substrating difference amount in Total Premium & Installment Created to first Installment
IF (@TOTAL_INSTALLMENT_AMT  <> @TOTAL_INFORCE_PREMIUM)
BEGIN
	SET @DIFFERENCE  = 0
	SET @DIFFERENCE = @TOTAL_INFORCE_PREMIUM - @TOTAL_INSTALLMENT_AMT
	UPDATE #TMP_INSTALL_PLAN SET AMOUNT = AMOUNT + @DIFFERENCE
	WHERE IDENT_COL = 1
END



DECLARE @RISK_ID_FOR_CALCULATION Int

-- Ravindra(06-28-2007) if this is a new Risk added to policy for installment distribution use 
-- First Risk  (For checking release status)
IF NOT EXISTS(SELECT POLICY_ID FROM ACT_POLICY_INSTALLMENT_DETAILS 
		WHERE POLICY_ID = @POLICY_ID 
		AND CUSTOMER_ID = @CUSTOMER_ID 
		AND RISK_ID 	= @RISK_ID)
BEGIN 
	SELECT @RISK_ID_FOR_CALCULATION = MIN(RISK_ID)
	FROM ACT_POLICY_INSTALLMENT_DETAILS 
	WHERE   POLICY_ID = @POLICY_ID 
		AND CUSTOMER_ID = @CUSTOMER_ID 
END
ELSE
BEGIN 
	SET @RISK_ID_FOR_CALCULATION = @RISK_ID 
END


-- Ravindra(11-03-09): As per discussion with Sally if all installments are billed and an endorsement 
-- is processed create a new installment with New Installment Number. Due date for this installment would be 
-- Greater of 
-- Current Date + 17 Days
-- Last Bill Date + 1 
-- Change Effective Date 

DECLARE @LAST_BILL_DUE_DATE		Datetime , 
		@POSTING_DATE			Datetime , 
		@MINDAYS_FROM_NOTICE	Int , 
		@DATE_TO_USE			Datetime	

SET @POSTING_DATE = Getdate()
		
SELECT @LAST_BILL_DUE_DATE  = MAX(OI.DUE_DATE) FROM ACT_CUSTOMER_OPEN_ITEMS OI WITH(NOLOCK)
WHERE OI.CUSTOMER_ID =@CUSTOMER_ID AND OI.POLICY_ID = @POLICY_ID  
AND OI.POLICY_VERSION_ID IN 
	( 
		SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL WITH(NOLOCK)
		WHERE OI.CUSTOMER_ID = CPL.CUSTOMER_ID AND CPL.POLICY_ID = OI.POLICY_ID AND CPL.CURRENT_TERM = @CURRENT_TERM 
		AND CPL.POLICY_VERSION_ID <> @POLICY_VERSION_ID
	)
AND OI.UPDATED_FROM = 'P' 


SELECT @MINDAYS_FROM_NOTICE = MINDAYS_PREMIUM 
FROM ACT_INSTALL_PLAN_DETAIL WHERE IDEN_PLAN_ID = @INSTALLMENT


SELECT @DATE_TO_USE = MAX(DATE_TO_USE) FROM 
(
	SELECT DATEADD(DD, @MINDAYS_FROM_NOTICE , @POSTING_DATE ) AS DATE_TO_USE
	UNION 
	SELECT  DATEADD(DD, 1, @LAST_BILL_DUE_DATE ) AS DATE_TO_USE
	UNION 
	SELECT @CHANGE_EFFECTIVE_DATE  AS DATE_TO_USE

) AS T 

--All installment has been released, hence adding a new installment
--
--IF NOT EXISTS(SELECT POLICY_ID FROM ACT_POLICY_INSTALLMENT_DETAILS 
--		WHERE POLICY_ID = @POLICY_ID 
--		AND CUSTOMER_ID = @CUSTOMER_ID 
--		AND RISK_ID 	= @RISK_ID_FOR_CALCULATION
--		AND ISNULL(RELEASED_STATUS, 'N') = 'N')

-- Ravindra( 05-07-2008) : As discussed with sally , if Positive Endorssement distribute in installment 
-- which are not billed 
-- If negative installment distribute in installments which are not paid and not billed

IF( @CHANGE_PREMIUM_AMOUNT < 0) 
BEGIN 

		--Ravindra(05-26-2009): Installment to distributed even if release status is 'Y', 
		--installment should not be billed in order to apply endorsement premiu 
		--Fix for iTrack 5886
--		IF NOT EXISTS ( SELECT B.CUSTOMER_ID FROM ACT_POLICY_INSTALLMENT_DETAILS B
--						INNER JOIN ACT_CUSTOMER_OPEN_ITEMS L 
--						ON L.INSTALLMENT_ROW_ID  = B.ROW_ID
--						WHERE 	B.CUSTOMER_ID = @CUSTOMER_ID  
--						AND B.POLICY_ID = @POLICY_ID  AND B.CURRENT_TERM = @CURRENT_TERM 
--						AND NOT EXISTS  (	SELECT INSTALLMENT_NO FROM ACT_POLICY_INSTALLMENT_DETAILS INS_IN
--											WHERE ISNULL(INS_IN.RELEASED_STATUS, 'N') = 'Y'
--											AND INS_IN.CUSTOMER_ID = @CUSTOMER_ID AND INS_IN.POLICY_ID = @POLICY_ID  
--											AND INS_IN.INSTALLMENT_NO = B.INSTALLMENT_NO AND INS_IN.CURRENT_TERM = @CURRENT_TERM ) 
--						AND NOT EXISTS  (	SELECT INSTALLMENT_NO FROM ACT_POLICY_INSTALLMENT_DETAILS INS_IN2 
--											INNER JOIN  ACT_CUSTOMER_OPEN_ITEMS ON_IN 
--											ON ON_IN.INSTALLMENT_ROW_ID  = INS_IN2.ROW_ID
--											WHERE ISNULL(ON_IN.NOTICE_SEND, 'N') = 'Y'
--											AND INS_IN2.CUSTOMER_ID = @CUSTOMER_ID AND INS_IN2.POLICY_ID = @POLICY_ID  
--											AND INS_IN2.INSTALLMENT_NO = B.INSTALLMENT_NO AND INS_IN2.CURRENT_TERM = @CURRENT_TERM )
--					) 
--		BEGIN

		IF NOT EXISTS ( SELECT B.CUSTOMER_ID FROM ACT_POLICY_INSTALLMENT_DETAILS B
						INNER JOIN ACT_CUSTOMER_OPEN_ITEMS L 
						ON L.INSTALLMENT_ROW_ID  = B.ROW_ID
						WHERE 	B.CUSTOMER_ID = @CUSTOMER_ID  
						AND B.POLICY_ID = @POLICY_ID  AND B.CURRENT_TERM = @CURRENT_TERM 
						AND NOT EXISTS  (	SELECT INSTALLMENT_NO FROM ACT_POLICY_INSTALLMENT_DETAILS INS_IN2 
											INNER JOIN  ACT_CUSTOMER_OPEN_ITEMS ON_IN 
											ON ON_IN.INSTALLMENT_ROW_ID  = INS_IN2.ROW_ID
											WHERE ISNULL(ON_IN.NOTICE_SEND, 'N') = 'Y'
											AND INS_IN2.CUSTOMER_ID = @CUSTOMER_ID AND INS_IN2.POLICY_ID = @POLICY_ID  
											AND INS_IN2.INSTALLMENT_NO = B.INSTALLMENT_NO AND INS_IN2.CURRENT_TERM = @CURRENT_TERM )
					) 
		BEGIN
			UPDATE #TMP_INSTALL_PLAN SET RELEASED_STATUS = 'Y'

			INSERT INTO #TMP_INSTALL_PLAN
			(
			ACTUAL_AMOUNT,
			INSTALLMENT_EFFECTIVE_DATE,
			PERCENTAG_OF_PREMIUM,
			PAYMENT_MODE,
			INSTALLMENT_NO,
			RELEASED_STATUS
			)
			SELECT 	@CHANGE_PREMIUM_AMOUNT,
			--Ravindra(10-21-09):iTrack 6512
			--@INSTALLMENT_EFFECTIVE_DATE,
			--@DUE_DATE,
			@DATE_TO_USE,
			NULL,
			@PLAN_PAYMENT_MODE,
			--@CTR - 1  , 
			@CTR, 
			'N' 

			SELECT * FROM #TMP_INSTALL_PLAN TMP
			WHERE  TMP.RELEASED_STATUS <> 'Y'
			AND	   ISNULL(TMP.ACTUAL_AMOUNT,0) <> 0

			RETURN 1
		END
END 
ELSE 
BEGIN 
		IF NOT EXISTS ( SELECT B.CUSTOMER_ID FROM ACT_POLICY_INSTALLMENT_DETAILS B
						INNER JOIN ACT_CUSTOMER_OPEN_ITEMS L 
						ON L.INSTALLMENT_ROW_ID  = B.ROW_ID
						WHERE 	B.CUSTOMER_ID = @CUSTOMER_ID  
						AND B.POLICY_ID = @POLICY_ID  AND B.CURRENT_TERM = @CURRENT_TERM 
						AND NOT EXISTS  (	SELECT INSTALLMENT_NO FROM ACT_POLICY_INSTALLMENT_DETAILS INS_IN2 
											INNER JOIN  ACT_CUSTOMER_OPEN_ITEMS ON_IN 
											ON ON_IN.INSTALLMENT_ROW_ID  = INS_IN2.ROW_ID
											WHERE ISNULL(ON_IN.NOTICE_SEND, 'N') = 'Y'
											AND INS_IN2.CUSTOMER_ID = @CUSTOMER_ID AND INS_IN2.POLICY_ID = @POLICY_ID  
											AND INS_IN2.INSTALLMENT_NO = B.INSTALLMENT_NO AND INS_IN2.CURRENT_TERM = @CURRENT_TERM )
					) 
		BEGIN
			UPDATE #TMP_INSTALL_PLAN SET RELEASED_STATUS = 'Y'

			INSERT INTO #TMP_INSTALL_PLAN
			(
			ACTUAL_AMOUNT,
			INSTALLMENT_EFFECTIVE_DATE,
			PERCENTAG_OF_PREMIUM,
			PAYMENT_MODE,
			INSTALLMENT_NO,
			RELEASED_STATUS
			)
			SELECT 	@CHANGE_PREMIUM_AMOUNT,
			--Ravindra(10-21-09):iTrack 6512
			--@INSTALLMENT_EFFECTIVE_DATE,
			--@DUE_DATE,
			@DATE_TO_USE , 
			NULL,
			@PLAN_PAYMENT_MODE,
			--@CTR - 1  , 
			@CTR-1 ,
			'N' 

			SELECT * FROM #TMP_INSTALL_PLAN TMP
			WHERE  TMP.RELEASED_STATUS <> 'Y'
			AND	   ISNULL(TMP.ACTUAL_AMOUNT,0) <> 0

			RETURN 1
		END
END

--Commented By Ravindra (09-22-2006)
/*Adding the new amount to all unrealesed installment*/
-- UPDATE ACT_POLICY_INSTALLMENT_DETAILS
-- SET INSTALLMENT_AMOUNT = ISNULL(INSTALLMENT_AMOUNT,0) + ISNULL(AMOUNT,0)
-- FROM #TMP_INSTALL_PLAN TMP
-- WHERE TMP.INSTALLMENT_EFFECTIVE_DATE = ACT_POLICY_INSTALLMENT_DETAILS.INSTALLMENT_EFFECTIVE_DATE 
-- 	AND CUSTOMER_ID = @CUSTOMER_ID 
-- 	AND POLICY_ID = @POLICY_ID  
-- 	AND ISNULL(RELEASED_STATUS, '') <> 'Y' 
-- --AND ACT_POLICY_INSTALLMENT_DETAILS.INSTALLMENT_EFFECTIVE_DATE >= @CHANGE_EFFECTIVE_DATE

-- Added By Ravindra


DECLARE @IDENT_COL INT              
SET  @IDENT_COL = 1  
DECLARE @RELEASED Char(1)
DECLARE @INS_EFF_DATE DateTime
DECLARE @INSTALLMENT_NO int
DECLARE @INS_AMOUNT DECIMAL(25,2)

WHILE 1 = 1              
BEGIN              
	IF NOT EXISTS              
  	(           
	   	SELECT IDENT_COL FROM #TMP_INSTALL_PLAN             
	   	WHERE IDENT_COL = @IDENT_COL              
        )              
  	BEGIN              
   		BREAK              
  	END            
	
	SET @RELEASED = 'N'
	SET @INSTALLMENT_NO = 0
	
	SELECT @INS_EFF_DATE =INSTALLMENT_EFFECTIVE_DATE ,
	@INSTALLMENT_NO = INSTALLMENT_NO
	FROM #TMP_INSTALL_PLAN
	WHERE IDENT_COL = @IDENT_COL    
	
	--RAvindra(08-17-2009): Use due date of already created installment. 

	SELECT @INS_EFF_DATE = MAX(INSTALLMENT_EFFECTIVE_DATE) 
	FROM ACT_POLICY_INSTALLMENT_DETAILS  
	WHERE CUSTOMER_ID = @CUSTOMER_ID 
	AND POLICY_ID = @POLICY_ID 
	AND RISK_ID = @RISK_ID_FOR_CALCULATION 
	AND INSTALLMENT_NO = @INSTALLMENT_NO
	AND CURRENT_TERM = @CURRENT_TERM

	UPDATE 	#TMP_INSTALL_PLAN SET INSTALLMENT_EFFECTIVE_DATE = @INS_EFF_DATE 
	WHERE IDENT_COL = @IDENT_COL 

	-- For converted polcies from AS400 record for released installments will not be there in system
	-- so consider these installments as Released (09-1-2007)
	IF NOT EXISTS (SELECT CUSTOMER_ID
			FROM ACT_POLICY_INSTALLMENT_DETAILS  
			WHERE 	INSTALLMENT_EFFECTIVE_DATE = @INS_EFF_DATE
			AND CUSTOMER_ID = @CUSTOMER_ID 
			AND POLICY_ID = @POLICY_ID 
			AND RISK_ID = @RISK_ID_FOR_CALCULATION 
			AND INSTALLMENT_NO = @INSTALLMENT_NO	
			)
	BEGIN 
		SET 	@RELEASED = 'Y'
	END
	ELSE
	BEGIN 
		IF( @CHANGE_PREMIUM_AMOUNT < 0) 
		BEGIN 
		
		--Ravindra(05-26-2009): Installment to distributed even if release status is 'Y', 
		--installment should not be billed in order to apply endorsement premiu 
		--Fix for iTrack 5886
--			IF EXISTS (		SELECT B.CUSTOMER_ID FROM ACT_POLICY_INSTALLMENT_DETAILS B 
--						INNER JOIN ACT_CUSTOMER_OPEN_ITEMS L 
--						ON L.INSTALLMENT_ROW_ID  = B.ROW_ID
--						WHERE 	B.CUSTOMER_ID = @CUSTOMER_ID  
--							AND B.POLICY_ID = @POLICY_ID  
--							AND B.CURRENT_TERM = @CURRENT_TERM 
--							AND NOT EXISTS  (	SELECT INSTALLMENT_NO FROM ACT_POLICY_INSTALLMENT_DETAILS INS_IN
--												WHERE ISNULL(INS_IN.RELEASED_STATUS, 'N') = 'Y'
--												AND INS_IN.CUSTOMER_ID = @CUSTOMER_ID AND INS_IN.POLICY_ID = @POLICY_ID  
--												AND INS_IN.INSTALLMENT_NO = B.INSTALLMENT_NO AND INS_IN.CURRENT_TERM = @CURRENT_TERM  ) 
--							AND NOT EXISTS  (	SELECT INSTALLMENT_NO FROM ACT_POLICY_INSTALLMENT_DETAILS INS_IN2 
--												INNER JOIN  ACT_CUSTOMER_OPEN_ITEMS ON_IN 
--												ON ON_IN.INSTALLMENT_ROW_ID  = INS_IN2.ROW_ID
--												WHERE ISNULL(ON_IN.NOTICE_SEND, 'N') = 'Y'
--												AND INS_IN2.CUSTOMER_ID = @CUSTOMER_ID AND INS_IN2.POLICY_ID = @POLICY_ID  
--												AND INS_IN2.INSTALLMENT_NO = B.INSTALLMENT_NO AND INS_IN2.CURRENT_TERM = @CURRENT_TERM ) 
--							AND B.INSTALLMENT_NO = @INSTALLMENT_NO
--					)
--			BEGIN

			IF EXISTS (		SELECT B.CUSTOMER_ID FROM ACT_POLICY_INSTALLMENT_DETAILS B 
						INNER JOIN ACT_CUSTOMER_OPEN_ITEMS L 
						ON L.INSTALLMENT_ROW_ID  = B.ROW_ID
						WHERE 	B.CUSTOMER_ID = @CUSTOMER_ID  
							AND B.POLICY_ID = @POLICY_ID  
							AND B.CURRENT_TERM = @CURRENT_TERM 
							AND NOT EXISTS  (	SELECT INSTALLMENT_NO FROM ACT_POLICY_INSTALLMENT_DETAILS INS_IN2 
												INNER JOIN  ACT_CUSTOMER_OPEN_ITEMS ON_IN 
												ON ON_IN.INSTALLMENT_ROW_ID  = INS_IN2.ROW_ID
												WHERE ISNULL(ON_IN.NOTICE_SEND, 'N') = 'Y'
												AND INS_IN2.CUSTOMER_ID = @CUSTOMER_ID AND INS_IN2.POLICY_ID = @POLICY_ID  
												AND INS_IN2.INSTALLMENT_NO = B.INSTALLMENT_NO AND INS_IN2.CURRENT_TERM = @CURRENT_TERM ) 
							AND B.INSTALLMENT_NO = @INSTALLMENT_NO
					)
			BEGIN
				SET @RELEASED = 'N'
			END
			ELSE
			BEGIN
				SET @RELEASED = 'Y'
			END
		END
		ELSE
		BEGIN 
			IF EXISTS (		SELECT B.CUSTOMER_ID FROM ACT_POLICY_INSTALLMENT_DETAILS B 
						INNER JOIN ACT_CUSTOMER_OPEN_ITEMS L 
						ON L.INSTALLMENT_ROW_ID  = B.ROW_ID
						WHERE 	B.CUSTOMER_ID = @CUSTOMER_ID  
							AND B.POLICY_ID = @POLICY_ID  
							AND B.CURRENT_TERM = @CURRENT_TERM 
							AND NOT EXISTS  (	SELECT INSTALLMENT_NO FROM ACT_POLICY_INSTALLMENT_DETAILS INS_IN2 
												INNER JOIN  ACT_CUSTOMER_OPEN_ITEMS ON_IN 
												ON ON_IN.INSTALLMENT_ROW_ID  = INS_IN2.ROW_ID
												WHERE ISNULL(ON_IN.NOTICE_SEND, 'N') = 'Y'
												AND INS_IN2.CUSTOMER_ID = @CUSTOMER_ID AND INS_IN2.POLICY_ID = @POLICY_ID  
												AND INS_IN2.INSTALLMENT_NO = B.INSTALLMENT_NO AND INS_IN2.CURRENT_TERM = @CURRENT_TERM ) 
							AND B.INSTALLMENT_NO = @INSTALLMENT_NO
					)
			BEGIN
				SET @RELEASED = 'N'
			END
			ELSE
			BEGIN
				SET @RELEASED = 'Y'
			END
		END
--			SELECT @RELEASED = ISNULL(RELEASED_STATUS, 'N')
--				--,@INSTALLMENT_NO=  INSTALLMENT_NO
--			FROM ACT_POLICY_INSTALLMENT_DETAILS  
--			WHERE 	INSTALLMENT_EFFECTIVE_DATE = @INS_EFF_DATE
--			AND CUSTOMER_ID = @CUSTOMER_ID 
--			AND POLICY_ID = @POLICY_ID 
--			AND RISK_ID = @RISK_ID_FOR_CALCULATION 
--			AND INSTALLMENT_NO = @INSTALLMENT_NO
	END

	--If installment effective date is less than change effective date 
	--consider it as released because change amount will be distributed in installments 
	-- effective on or after Change Effective Date
	IF( @INS_EFF_DATE < @CHANGE_EFFECTIVE_DATE )
	BEGIN 
		SET @RELEASED = 'Y'
	END 
	IF( @INS_EFF_DATE < CAST(CONVERT(VARCHAR,GETDATE(),101) AS DATETIME) )
	BEGIN 
		SET @RELEASED = 'Y'
	END 

	UPDATE #TMP_INSTALL_PLAN  SET RELEASED_STATUS = @RELEASED
		--,INSTALLMENT_NO = @INSTALLMENT_NO
	WHERE IDENT_COL = @IDENT_COL    	

	SET @IDENT_COL = @IDENT_COL + 1              
END  --- End While Loop       

--Apply Change in reverse order 
DECLARE	@REMAINING_AMOUNT Decimal(18,2) ,
		@INSTALL_AMOUNT		Decimal(18,2),
		@AMOUNT_TO_APPLY	Decimal(18,2)
SET @REMAINING_AMOUNT  =  @CHANGE_PREMIUM_AMOUNT

SELECT @IDENT_COL = MAX(IDENT_COL) FROM #TMP_INSTALL_PLAN

--Ravindra(10-08-2007) If there are unrealesed installment after this installment
-- add amount to that installment
IF EXISTS(SELECT IDENT_COL FROM #TMP_INSTALL_PLAN WHERE RELEASED_STATUS = 'N'  
		AND IDENT_COL  = @IDENT_COL  -- Ravindra(10-14-2009): There are cases where Last installment is unbilled 
							-- and previous installmet is billed
		)
BEGIN 
	WHILE 1=1 
	BEGIN 
		IF NOT EXISTS              
  		(              
	   		SELECT IDENT_COL FROM #TMP_INSTALL_PLAN             
	   		WHERE IDENT_COL = @IDENT_COL              
			)              
  		BEGIN              
   			BREAK              
  		END     

		SET @RELEASED = 'N'

		SELECT  @RELEASED = RELEASED_STATUS ,
				@INSTALL_AMOUNT = AMOUNT
		FROM #TMP_INSTALL_PLAN
		WHERE IDENT_COL = @IDENT_COL

		IF(@INSTALL_AMOUNT < 0 )
		BEGIN 
			IF(@INSTALL_AMOUNT > @REMAINING_AMOUNT)
			BEGIN 
				SET @AMOUNT_TO_APPLY = @INSTALL_AMOUNT	
			END
			ELSE
			BEGIN 
				SET @AMOUNT_TO_APPLY = @REMAINING_AMOUNT
			END

		END
		ELSE
		BEGIN 
			IF(@INSTALL_AMOUNT < @REMAINING_AMOUNT)
			BEGIN 
				SET @AMOUNT_TO_APPLY = @INSTALL_AMOUNT	
			END
			ELSE
			BEGIN 
				SET @AMOUNT_TO_APPLY = @REMAINING_AMOUNT
			END
		END

		SET @REMAINING_AMOUNT = @REMAINING_AMOUNT - @AMOUNT_TO_APPLY

		-- If un released Apply amount 
		IF(@RELEASED = 'N')
		BEGIN 
			UPDATE #TMP_INSTALL_PLAN SET ACTUAL_AMOUNT = @AMOUNT_TO_APPLY 	WHERE IDENT_COL = @IDENT_COL   
		END
		ELSE
		BEGIN 
			UPDATE #TMP_INSTALL_PLAN SET ACTUAL_AMOUNT =  ISNULL(ACTUAL_AMOUNT ,0)
					 + @AMOUNT_TO_APPLY 	+ @REMAINING_AMOUNT
			WHERE IDENT_COL = @IDENT_COL + 1   
			BREAK
		END	
		SET @IDENT_COL = @IDENT_COL - 1    
		IF(@REMAINING_AMOUNT = 0 )
		BEGIN 
			BREAK
		END
		
	END
END
ELSE
BEGIN 
	INSERT INTO #TMP_INSTALL_PLAN
	(
	ACTUAL_AMOUNT,	INSTALLMENT_EFFECTIVE_DATE,	PERCENTAG_OF_PREMIUM,	PAYMENT_MODE,	
	INSTALLMENT_NO,	RELEASED_STATUS
	)
	VALUES
	( 
	@CHANGE_PREMIUM_AMOUNT, @DATE_TO_USE , 100 , 	@PLAN_PAYMENT_MODE , 
	@CTR , 'N' 
	)
	
	/*SELECT 	@CHANGE_PREMIUM_AMOUNT,
	@CHANGE_EFFECTIVE_DATE,
	PERCENTAG_OF_PREMIUM,
	PAYMENT_MODE,
	INSTALLMENT_NO  , 'N' 
	FROM #TMP_INSTALL_PLAN  WHERE IDENT_COL = @IDENT_COL*/

END

-- Changed 
IF EXISTS(
--		SELECT POLICY_ID FROM ACT_POLICY_INSTALLMENT_DETAILS 
--		WHERE POLICY_ID = @POLICY_ID 
--		AND CUSTOMER_ID = @CUSTOMER_ID AND ISNULL(RELEASED_STATUS, 'N') = 'Y'
--		AND RISK_ID = @RISK_ID_FOR_CALCULATION 
		SELECT IDENT_COL FROM #TMP_INSTALL_PLAN WHERE ISNULL(RELEASED_STATUS, 'N') = 'Y'
	)
BEGIN 
-- If there are realesed installments create record in next unrealesed installment for this Risk

	SET @INS_AMOUNT = 0
	SET @INSTALLMENT_NO = 0
	
	-- Fetching Installment No & Effective Date of next due installment 
	SELECT @INS_EFF_DATE = INSTALLMENT_EFFECTIVE_DATE,
		@INSTALLMENT_NO = INSTALLMENT_NO,
		@MODE_OF_PAYMENT = PAYMENT_MODE
	FROM ACT_POLICY_INSTALLMENT_DETAILS 
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID 
	AND ISNULL(RELEASED_STATUS,'') <> 'Y' 
	AND RISK_ID= @RISK_ID_FOR_CALCULATION
	AND INSTALLMENT_EFFECTIVE_DATE = 
		(
		SELECT MIN(INSTALLMENT_EFFECTIVE_DATE) 
		FROM ACT_POLICY_INSTALLMENT_DETAILS 
		WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID 
		AND ISNULL(RELEASED_STATUS,'') <> 'Y' 
		AND RISK_ID= @RISK_ID_FOR_CALCULATION
		AND INSTALLMENT_EFFECTIVE_DATE >= @CHANGE_EFFECTIVE_DATE
		) 

	-- Fetching the total of new installments for which the respective installment has been realesed
	SELECT  @INS_AMOUNT = 
		(	
		SELECT ISNULL(SUM(ACTUAL_AMOUNT),0) FROM #TMP_INSTALL_PLAN
		WHERE RELEASED_STATUS = 'Y'	
		)

	IF(@INS_AMOUNT > 0)
	BEGIN 
		-- Creating a record 
		INSERT INTO ACT_POLICY_INSTALLMENT_DETAILS
		(
			POLICY_ID, POLICY_VERSION_ID, CUSTOMER_ID, APP_ID, 
			APP_VERSION_ID, INSTALLMENT_AMOUNT, INSTALLMENT_EFFECTIVE_DATE, RELEASED_STATUS,
			INSTALLMENT_NO,RISK_ID,PAYMENT_MODE,CURRENT_TERM,RISK_TYPE ,PERCENTAG_OF_PREMIUM
		)
		SELECT 	@POLICY_ID, @POLICY_VERSION_ID, @CUSTOMER_ID, @APP_ID,
			@APP_VERSION_ID, @INS_AMOUNT,@INS_EFF_DATE, 'N',
			@INSTALLMENT_NO,@RISK_ID,@MODE_OF_PAYMENT,@CURRENT_TERM,@RISK_TYPE , (@INS_AMOUNT/@CHANGE_PREMIUM_AMOUNT )* 100	END
END 	

SELECT * FROM #TMP_INSTALL_PLAN TMP
WHERE  TMP.RELEASED_STATUS <> 'Y'
AND	   ISNULL(TMP.ACTUAL_AMOUNT,0) <> 0

 --For Unrealesed Installments Creating New record for each installment / risk

-- INSERT INTO ACT_POLICY_INSTALLMENT_DETAILS
-- 	(
-- 		POLICY_ID, POLICY_VERSION_ID, CUSTOMER_ID, APP_ID, 
-- 		APP_VERSION_ID, INSTALLMENT_AMOUNT, INSTALLMENT_EFFECTIVE_DATE, RELEASED_STATUS,
-- 		INSTALLMENT_NO,RISK_ID,PERCENTAG_OF_PREMIUM,PAYMENT_MODE,CURRENT_TERM,RISK_TYPE
-- 	)
-- SELECT 	@POLICY_ID, @POLICY_VERSION_ID, @CUSTOMER_ID, @APP_ID,
-- 		@APP_VERSION_ID, TMP.ACTUAL_AMOUNT, TMP.INSTALLMENT_EFFECTIVE_DATE, 'N',
-- 		TMP.INSTALLMENT_NO,@RISK_ID , 
-- 		--TMP.PERCENTAG_OF_PREMIUM,
-- 		(TMP.ACTUAL_AMOUNT/@CHANGE_PREMIUM_AMOUNT )* 100 ,
-- 		TMP.PAYMENT_MODE,@CURRENT_TERM,@RISK_TYPE
-- FROM   #TMP_INSTALL_PLAN TMP 
-- WHERE  TMP.RELEASED_STATUS <> 'Y'
-- AND	   ISNULL(TMP.ACTUAL_AMOUNT,0) <> 0



END

----
--go 
--
--exec Proc_DistributeInstallments 1	,1	,5464,1,6,3,'2009-06-16',246,'2009-07-30',6	,'PP',	324.00
--
--
--rollback tran











GO

