 ---- ITRACK 1071(318)

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_SUSEP_PREMRECEC_PREMIUM_RECEIVED_CHECKOUT_INSURER]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_SUSEP_PREMRECEC_PREMIUM_RECEIVED_CHECKOUT_INSURER]
GO

SET ANSI_NULLS ON   
GO

SET QUOTED_IDENTIFIER ON
GO

----------------------------------------------------------------------------------------------------------------------------------
	------ITRACK 1071 (318)
----------------------------------------------------------------------------------------------------------------------------------
CREATE PROCEDURE  [dbo].[PROC_SUSEP_PREMRECEC_PREMIUM_RECEIVED_CHECKOUT_INSURER]  --  '08/08/2011'
(
 @DATETIME DATETIME,  
 @POLICY_NUMBER VARCHAR(22) = NULL  
)        
AS 
DECLARE @MONTH VARCHAR(2)  
 DECLARE @YEAR VARCHAR(4) 
 DECLARE @TEMP NVARCHAR(500)
 SET @MONTH= DATEPART(MM, @DATETIME) 
 SET @YEAR=(SELECT DATEPART(YYYY, @DATETIME))  
 BEGIN
	DECLARE @TEMPTABLE TABLE 
	(
		SEQUENCE_NO INT IDENTITY(1,1), ---SEQUENCE NUMBER.
		COMPANY_CODE VARCHAR(50),
		REFERENCE_MONTH VARCHAR(8),
		TYPE_TRANSACTION VARCHAR(10),
		SUSEP_LOB_CODE VARCHAR(5),
		POLICY_NUMBER NVARCHAR(150),
		ENDORSEMENT_NO INT,
		NO_OF_PROPOSAL NVARCHAR(150),
		PROPOSAL_DATE VARCHAR(10),
		INSTALLMENT_NO INT,
		RECEIPT_ISSUED_DATE VARCHAR(10),
		MODE_OF_RECEIPT VARCHAR(2),
		BANK_NUMBER NVARCHAR(50),
		BRANCH_NO_ASSIGNOR_CODE NVARCHAR(100),
		BANK_NUMBER_INSURED NVARCHAR(40),
		BANK_BRANCH_INSURED NVARCHAR(40),
		ACCOUNT_NUMBER_INSURED NVARCHAR(40),
		AMOUNT_CHARGED NVARCHAR(200),
		ACCOUNT_NUMBER  NVARCHAR(40),
		DUE_DATE_INSTALLMENT VARCHAR(10)
	)
INSERT INTO @TEMPTABLE  
  
  SELECT 
		 --PCPL.POLICY_NUMBER,
		 --PCPL.CUSTOMER_ID,
		 --PCPL.POLICY_ID,
		 --PCPL.POLICY_VERSION_ID,
		  --ALIANÇA DA BAHIA SUSEP CODE.
		 '5045' AS COMPANY_CODE, 
		 
		  -----BASE MONTH: YYYYMM.
		  CASE  
			WHEN @MONTH IN (1,2,3,4,5,6,7,8,9) THEN  @YEAR + '0' + @MONTH 
			WHEN @MONTH IN (10,11,12) THEN  @YEAR + @MONTH
		 END AS REFERENCE_MONTH , --REFERENCE MONTH OF THE REPORT.
		 
		  	 
	-------------------------------------------------------------------------------------------------------------------
			--TYPE OF TRANSACTION.
			--101-POLICY ISSUANCE. 
			--102-ADDITIONAL PREMIUM CHARGE ENDORSEMENT. 
			--103-PREMIUM REFUND ENDORSEMENT. 
			--104-POLICY CANCELLATION WITH PREMIUM REFUND. 
			--105-ENDORSEMENT CANCELLATION WITH PREMIUM REFUND. 
			--106-POLICY CANCELLATION WITHOUT PREMIUM REFUND. 
			--107-ENDORSEMENT CANCELLATION WITHOUT PREMIUM REFUND. 
			--108-ENDORSEMENT WITHOUT PREMIUM TRANSACTION	
	-------------------------------------------------------------------------------------------------------------------		 
		 CASE	
			 WHEN PPP.PROCESS_ID IN (25,18) THEN '101'--SH
			 WHEN PPP.PROCESS_ID IN (14) AND APID.TRAN_PREMIUM_AMOUNT >= 0 THEN '102'--SH
			 WHEN PPP.PROCESS_ID IN (14) AND APID.TRAN_PREMIUM_AMOUNT < 0 THEN '103'
			 WHEN PPP.PROCESS_ID IN (12) AND PPP.RETURN_PREMIUM < 0 THEN '104'--SH
			 WHEN PPP.PROCESS_ID IN (37) AND APID.TRAN_PREMIUM_AMOUNT < 0 THEN '105'
			 WHEN PPP.PROCESS_ID IN (12) AND ISNULL(APID.TRAN_PREMIUM_AMOUNT,0) >= 0 THEN '106'
			 WHEN PPP.PROCESS_ID IN (37) AND ISNULL(APID.TRAN_PREMIUM_AMOUNT,0) >= 0 THEN '107'
			 WHEN PPP.PROCESS_ID IN (14) AND ISNULL(APID.TRAN_PREMIUM_AMOUNT,0) = 0 THEN '108'
		 END AS TYPE_TRANSACTION,
		 
		 --------SUSEP LOB 
		 CASE 
			WHEN  PCPL.POLICY_LOB IN (21,22) THEN '0982'
			WHEN  PCPL.POLICY_LOB IN (17,18) THEN '0520'
			ELSE ISNULL(MLM.SUSEP_LOB_CODE,'')
         END AS SUSEP_LOB_CODE,
		 ------NUMBER OF POLICY/CERTIFICATE
		 PCPL.POLICY_NUMBER,
		 
		 -----NUMBER OF ENDORSEMENT
		 PPE.ENDORSEMENT_NO,
		 
		 
		 -------------------------------------------------------------------------------------------------------
			--NUMBER OF PROPOSAL 
			--SINCE THERE IS NO PROPOSAL STAGE FOR ENDORSEMENT IN CURRENT SYSTEM,  SUGGEST:
			--1. FOR NEW BUSINESS AND RENEWAL, WE USE THE APPLICATION NUMBER.
			--2. FOR ENDORSEMENT, WE USE ENDORSEMENT NUMBER.
		 -------------------------------------------------------------------------------------------------------
		 CASE 
			 WHEN PPP.PROCESS_ID IN (5,24,25,18) THEN PCPL.APP_NUMBER
			 WHEN PPP.PROCESS_ID IN (3,14) THEN CONVERT(VARCHAR(5),PPE.ENDORSEMENT_NO)
		 END NO_OF_PROPOSAL,
		 
		 
		 -------------------------------------------------------------------------------------------------------
			--PROPOSAL DATE. 
			--SINCE THERE IS NO PROPOSAL STAGE FOR ENDORSEMENT IN CURRENT SYSTEM, WE SUGGEST:
			--1. FOR NEW BUSINESS AND RENEWAL, WE USE THE PROPOSAL DATE
			--2. FOR ENDORSEMENT, WE USE ENDORSEMENT ENTRY DATE.
		 -------------------------------------------------------------------------------------------------------
		 CASE 
			 WHEN PPP.PROCESS_ID IN (5,24,25,18) THEN  CONVERT(VARCHAR(10),PCPL.APP_INCEPTION_DATE,112) 
			 WHEN PPP.PROCESS_ID IN (3,14) THEN  CONVERT(VARCHAR(10),PPP.COMPLETED_DATETIME,112)
		 END PROPOSAL_DATE,
		 
		 
		 -----------INSTALLMENT NUMBER – CORRESPONDS TO THE NUMBER OF THE PAID INSTALLMENT.
		 APID.INSTALLMENT_NO,
		 
		 ----------RECEIPT DATE OF INSTALLMENT. YYYYMMDD
		 CONVERT(VARCHAR(10),ACDLI.PAYMENT_DATE,112) AS RECEIPT_ISSUED_DATE,
		 
		 --------------------------------------------------------------------------------------------------------
			--MODE OF RECEIPT
			--1 - CASH
			--2 - CHECK
		 --------------------------------------------------------------------------------------------------------
		 CASE 
			WHEN ACD.RECEIPT_MODE = '11975' THEN '2'
		 END AS MODE_OF_RECEIPT,
		 
		 
		--------BANK NUMBER OF ALIANÇA DA BAHIA.
		 ABI.BANK_NUMBER,
		 
		 ------NUMBER OF ASSIGNOR BRANCH/CODE
		 ABI.BRANCH_NUMBER AS BRANCH_NO_ASSIGNOR_CODE,
		 
		 -------------------------------------------------------------------------------------------------------
			--BANK NUMBER OF THE INSURED
			--IN CASE OF PAYMENT WITH CHECK, OTHERWISE, FILL IN WITH ZEROS.
		 -------------------------------------------------------------------------------------------------------
		 CASE 
			WHEN ACD.RECEIPT_MODE = '11975' --THEN CAL.BANK_NUMBER 
			THEN CASE WHEN LEN(CAL.BANK_NUMBER) = 0 THEN '0' 
											ELSE CAL.BANK_NUMBER
											END
		 END AS BANK_NUMBER_INSURED,
		 
	     -------------------------------------------------------------------------------------------------------
			--BANK BRANCH NUMBER OF THE INSURED
			--IN CASE OF PAYMENT WITH CHECK, OTHERWISE, FILL IN WITH ZEROs.
		 -------------------------------------------------------------------------------------------------------

		 CASE 
			WHEN ACD.RECEIPT_MODE = '11975' THEN CAL.BANK_BRANCH
		 END AS BANK_BRANCH_INSURED,
		 
		--------------------------------------------------------------------------------------------------------
			--FILL WITH BANK ACCOUNT NUMBER OF THE INSURED
			--IN CASE OF PAIMENT WITH CHECK, OTHERWISE, FILL IN WITH ZEROs.
		-------------------------------------------------------------------------------------------------------- 
		 CASE 
			WHEN ACD.RECEIPT_MODE = '11975' THEN CAL.ACCOUNT_NUMBER
		 END AS ACCOUNT_NUMBER_INSURED,
		 
		 -------------------AMOUNT CHARGED
		 CAST(ACDLI.RECEIPT_AMOUNT AS DECIMAL(16,2)) AS AMOUNT_CHARGED,
		 
		 ------------NUMBER OF BANK ACCOUNT
		 ABI.NUMBER AS ACCOUNT_NUMBER,
		 
		 -------------DUE DATE OF INSTALLMENT.
	     CONVERT(VARCHAR(10),APID.INSTALLMENT_EFFECTIVE_DATE,112) AS DUE_DATE_INSTALLMENT
 FROM	
		ACT_POLICY_INSTALLMENT_DETAILS APID WITH(NOLOCK)
			
	LEFT OUTER JOIN
		POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK)  ON (PCPL.CUSTOMER_ID = APID.CUSTOMER_ID
												AND PCPL.POLICY_ID = APID.POLICY_ID 
												AND PCPL.POLICY_VERSION_ID = APID.POLICY_VERSION_ID)
		
	INNER JOIN  
		POL_POLICY_PROCESS PPP WITH(NOLOCK) ON (PPP.CUSTOMER_ID = PCPL.CUSTOMER_ID   
            AND PPP.POLICY_ID = PCPL.POLICY_ID  
            AND PPP.NEW_POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID  
            AND PPP.PROCESS_STATUS <> 'ROLLBACK')   
	
   INNER JOIN  
		MNT_LOB_MASTER MLM WITH(NOLOCK) ON (MLM.LOB_ID = PCPL.POLICY_LOB)

  
   LEFT OUTER JOIN   
		POL_POLICY_ENDORSEMENTS PPE WITH(NOLOCK) ON (PPE.CUSTOMER_ID = PCPL.CUSTOMER_ID AND   
													 PPE.POLICY_ID = PCPL.POLICY_ID AND   
													 PPE.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID)  
										         
 		 
 INNER JOIN
		ACT_CURRENT_DEPOSIT_LINE_ITEMS ACDLI WITH(NOLOCK) ON (ACDLI.CUSTOMER_ID = APID.CUSTOMER_ID 
															  AND ACDLI.POLICY_ID = APID.POLICY_ID
															  AND ACDLI.POLICY_VERSION_ID = APID.POLICY_VERSION_ID
															  AND ACDLI.INSTALLMENT_NO = APID.INSTALLMENT_NO)															 
 INNER JOIN
		ACT_CURRENT_DEPOSITS ACD WITH(NOLOCK) ON (ACD.DEPOSIT_ID = ACDLI.DEPOSIT_ID
												  AND ACD.DEPOSIT_TYPE = 14831
												  AND ACD.IS_COMMITED = 'Y')--FOR NORMAL DEPOSIT TYPE
		
 INNER JOIN
		ACT_BANK_INFORMATION ABI WITH(NOLOCK) ON (ABI.BANK_ID = ACD.ACCOUNT_ID)
		
 INNER JOIN
		POL_APPLICANT_LIST PAL WITH(NOLOCK) ON (PAL.CUSTOMER_ID = PCPL.CUSTOMER_ID 
												AND PAL.POLICY_ID = PCPL.POLICY_ID  
												AND PAL.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID)
 INNER JOIN
		CLT_APPLICANT_LIST CAL WITH(NOLOCK) ON (CAL.APPLICANT_ID = PAL.APPLICANT_ID 
												AND CAL.CUSTOMER_ID = PAL.CUSTOMER_ID
												AND PAL.IS_PRIMARY_APPLICANT = 1)
  WHERE
		 CONVERT(VARCHAR(6),PPP.CREATED_DATETIME,112) = CONVERT(VARCHAR(6),@DATETIME,112) AND
		 (@POLICY_NUMBER IS NULL OR PCPL.POLICY_NUMBER =  @POLICY_NUMBER) 
		 AND APID.RELEASED_STATUS = 'Y'
		 AND ACDLI.CREATED_FROM IS NULL
		 AND ACDLI.IS_ACTIVE = 'Y' AND 

			(( 

			ISNULL(ACDLI.IS_EXCEPTION, 'N') = 'N' AND 

			ISNULL(ACDLI.IS_APPROVE, '') <> 'R' 

			)OR 

			( 

			ISNULL(ACDLI.IS_EXCEPTION, 'N') = 'Y' AND 

			ISNULL(ACDLI.IS_APPROVE, '') = 'A' 

			)) 
			AND  ACD.RECEIPT_MODE = '11975'

 
  SELECT 
		LEFT(CONVERT(VARCHAR,SEQUENCE_NO),10) AS SEQUENCIA,
		SUBSTRING(ISNULL(COMPANY_CODE,''),1,3) + '-' + SUBSTRING(ISNULL(COMPANY_CODE,''),4,1) AS COD_CIA,
		--COMPANY_CODE AS COD_CIA,
		REFERENCE_MONTH AS DT_BASE,
		ISNULL(TYPE_TRANSACTION,0) AS TIPO_MOV,
		LEFT(SUSEP_LOB_CODE,4) AS COD_RAMO,
		RIGHT(ISNULL(POLICY_NUMBER,''),20) AS NUM_APOL,
		RIGHT(CONVERT(VARCHAR,ISNULL(CAST(ENDORSEMENT_NO AS VARCHAR(30)),'')),20) AS NUM_END,--modified by praveer 6 sept 2011 for itrack 1071 ,point no 19
		RIGHT('                    ' +CONVERT(VARCHAR,ISNULL(NO_OF_PROPOSAL,'')),20) AS NUM_PROP,
		ISNULL(PROPOSAL_DATE,'') AS DT_PROP,
		LEFT(CONVERT(VARCHAR,ISNULL(INSTALLMENT_NO,0)),2) AS PRESTACAO,
		ISNULL(RECEIPT_ISSUED_DATE,'') AS DT_REC_PRE,
		ISNULL(DUE_DATE_INSTALLMENT,'') AS DT_VEN_PRE,
		CONVERT(VARCHAR,ISNULL(MODE_OF_RECEIPT,0)) AS TIPO_REC,--modified by praveer 6 sept 2011 for itrack 1071 ,point no 22
		LEFT(CONVERT(VARCHAR,ISNULL(BANK_NUMBER,0)),4) AS NUM_BAN_SEG,
		ISNULL(RIGHT('     ' + BRANCH_NO_ASSIGNOR_CODE,5),'') AS NUM_AGE_SEG,
		--RIGHT('00000' + ISNULL(BRANCH_NO_ASSIGNOR_CODE,''),5) AS NUM_AGE_SEG,
		--RIGHT('000000000000000000000000000000'+(substring(BRANCH_NO_ASSIGNOR_CODE,0,charindex('-',BRANCH_NO_ASSIGNOR_CODE)) + SUBSTRING(BRANCH_NO_ASSIGNOR_CODE,charindex('-',BRANCH_NO_ASSIGNOR_CODE)+1,1)),30) AS NUM_AGE_SEG,
		ISNULL(RIGHT('                    ' +REPLACE(CONVERT(VARCHAR,RTRIM(ACCOUNT_NUMBER)),'-',''),20),'') AS NUM_CON_SEG,
		LEFT(ISNULL(BANK_NUMBER_INSURED,0),4) AS NUM_BAN,
		RIGHT('     ' +ISNULL(BANK_BRANCH_INSURED,''),5) AS NUM_AGE,--modified by praveer 6 sept 2011 for itrack 1071 ,point no 27
		ISNULL(RIGHT('                    ' +CONVERT(VARCHAR,ACCOUNT_NUMBER_INSURED),20),'') AS NUM_CON,
		--LEFT(REPLACE(CONVERT(VARCHAR,DBO.fun_FormatCurrency(ISNULL(AMOUNT_CHARGED,''),2)),'.',''),17) AS VAL_COB
		ISNULL(AMOUNT_CHARGED,0.00) AS VAL_COB --modified by praveer 6 sept 2011 for itrack 1071 ,point no 29
		
		
  FROM @TEMPTABLE
  
END



GO

