IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_GetTrailer_Premium]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_GetTrailer_Premium]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[PROC_GetTrailer_Premium] 
(
@CUSTOMER_ID INT,
@POL_ID INT,
@POL_VERSION_ID INT,
@BOAT_ID INT,
@CALLEDFROM NVARCHAR(20)
)

AS
BEGIN
CREATE TABLE #TEMP_TABLE
(
	YEARS		INT,                                            
	MANUFACTURER		NVARCHAR(40),                                            
	MODEL		NVARCHAR(40),            
	SERIAL_NUMBER		NVARCHAR(20),
	INSURED_VALUE			NVARCHAR(40) , 
	TRAILER_NUMBER				NVARCHAR(20),            
	TRAILER_TYPE	NVARCHAR(40),
	TRAILER_LIMIT NVARCHAR(40),
	TRAILER_DEDUC NVARCHAR(40),
	TRAILER_DEDUCTIBLE_AMOUNT_TEXT NVARCHAR(40)
)          
INSERT INTO #TEMP_TABLE EXEC PROC_GETPDF_BOAT_TRAILER_DETAILS @CUSTOMER_ID,@POL_ID,@POL_VERSION_ID,@BOAT_ID,@CALLEDFROM
IF (@CALLEDFROM='APPLICATION')           
 BEGIN 
SELECT TT.TRAILER_NUMBER, CPSD.COMP_ACT_PREMIUM AS COVERAGE_PREMIUM,
 CASE WHEN CPS.PROCESS_TYPE = '14'  
	THEN  
		CASE 
			WHEN CPSD.WRITTEN_PREM IS NULL OR CPSD.WRITTEN_PREM=''  
				THEN '0.00'    
		 ELSE 
				CONVERT(NVARCHAR(100),CONVERT(DECIMAL(18,0),CPSD.WRITTEN_PREM)) 
		END  
	ELSE ''  
		END  AS WRITTEN_PREMIUM        
	
	FROM CLT_PREMIUM_SPLIT_DETAILS CPSD WITH(NOLOCK)        
	INNER JOIN CLT_PREMIUM_SPLIT CPS    WITH(NOLOCK) 
	ON CPS.UNIQUE_ID = CPSD.SPLIT_UNIQUE_ID   
	INNER JOIN #TEMP_TABLE TT 
	ON CPS.RISK_ID=TT.TRAILER_NUMBER
WHERE 
CPS.RISK_TYPE='T' and CPS.CUSTOMER_ID=@CUSTOMER_ID and CPS.APP_ID=@POL_ID AND CPS.APP_VERSION_ID=@POL_VERSION_ID and CPSD.COMPONENT_CODE='SUMTOTAL'
END
ELSE IF(@CALLEDFROM='POLICY')
BEGIN
SELECT TT.TRAILER_NUMBER, CPSD.COMP_ACT_PREMIUM AS COVERAGE_PREMIUM,
 CASE WHEN CPS.PROCESS_TYPE = '14'  
	THEN  
		CASE 
			WHEN CPSD.WRITTEN_PREM IS NULL OR CPSD.WRITTEN_PREM=''  
				THEN '0.00'    
		 ELSE 
				CONVERT(NVARCHAR(100),CONVERT(DECIMAL(18,0),CPSD.WRITTEN_PREM)) 
		END  
	ELSE ''  
		END  AS WRITTEN_PREMIUM        
	
	FROM CLT_PREMIUM_SPLIT_DETAILS CPSD WITH(NOLOCK)        
	INNER JOIN CLT_PREMIUM_SPLIT CPS    WITH(NOLOCK) 
	ON CPS.UNIQUE_ID = CPSD.SPLIT_UNIQUE_ID   
	INNER JOIN #TEMP_TABLE TT 
	ON CPS.RISK_ID=TT.TRAILER_NUMBER
WHERE 
CPS.RISK_TYPE='T' and CPS.CUSTOMER_ID=@CUSTOMER_ID and CPS.POLICY_ID=@POL_ID AND CPS.POLICY_VERSION_ID=@POL_VERSION_ID and CPSD.COMPONENT_CODE='SUMTOTAL'
END
DROP TABLE #TEMP_TABLE
END


GO

