IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetReinsurance_Inquiry_Details]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetReinsurance_Inquiry_Details]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- BEGIN TRAN
-- drop PROC dbo.Proc_GetReinsurance_Inquiry_Details
-- GO
/*----------------------------------------------------------                              
Proc Name        :            dbo.Proc_GetReinsurance_Inquiry_Details                               
mODIFIED BY 	:PRAVESH  K CHANDEL
MODIFIED DATE	:24 SEP 2007
PURPOSE		: FETCH MORE INFO FOR REINSURANCE INQUIRY SCREEN       
Used In             :           Wolverine                              
------------------------------------------------------------                              
Date     Review By          Comments   
drop PROC dbo.Proc_GetReinsurance_Inquiry_Details                          
Proc_GetReinsurance_Inquiry_Details 912,65,3                         
------   ------------       -------------------------*/                              
create PROC [dbo].[Proc_GetReinsurance_Inquiry_Details]                    
(                                     
@CUSTOMER_ID INT,                
@POLICY_ID INT,                
@POLICY_VERSION_ID INT          
        
)                             
AS                              
BEGIN   
DECLARE    @LOB_ID INT
DECLARE    @STATE_ID INT
DECLARE    @YES INT
DECLARE    @POLICY_EFFECTIVE_DATE DATETIME
declare    @POLICY_TYPE varchar(10)
set @YES=10963

SELECT @LOB_ID=POLICY_LOB,@POLICY_EFFECTIVE_DATE=APP_EFFECTIVE_DATE,@STATE_ID=STATE_ID,@POLICY_TYPE=isnull(POLICY_TYPE,0) FROM POL_CUSTOMER_POLICY_LIST PCPL with(nolock)
 WHERE PCPL.CUSTOMER_ID = @CUSTOMER_ID AND PCPL.POLICY_ID = @POLICY_ID AND PCPL.POLICY_VERSION_ID=@POLICY_VERSION_ID      

--TABLE 0                       
SELECT PCPL.POLICY_NUMBER,  ISNULL(CCL.CUSTOMER_FIRST_NAME,'') + ' ' + CASE WHEN ISNULL(CCL.CUSTOMER_MIDDLE_NAME,'') = '' THEN '' ELSE CCL.CUSTOMER_MIDDLE_NAME + ' ' END                                
 + ISNULL(CCL.CUSTOMER_LAST_NAME,'') AS CUSTOMER_NAME, MLM.LOB_DESC, MCSL.STATE_NAME as STATE_DESC ,
 CONVERT(VARCHAR,PCPL.APP_EFFECTIVE_DATE,101) APP_EFFECTIVE_DATE, CONVERT(VARCHAR,PCPL.APP_EXPIRATION_DATE,101) APP_EXPIRATION_DATE,
case  isnull(PCPL.REINS_SPECIAL_ACPT,10964)
when 10963 then 'Yes' else 'No' end as REINS_SPECIAL_ACPT,
POLICY_LOB as LOB_ID
FROM POL_CUSTOMER_POLICY_LIST PCPL with(nolock)
 
  INNER JOIN CLT_CUSTOMER_LIST CCL  with(nolock)  ON                                                          
    CCL.CUSTOMER_ID=PCPL.CUSTOMER_ID                                  

   LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST MCSL   with(nolock) ON                                                          
   PCPL.STATE_ID = MCSL.STATE_ID                                                          
 
   LEFT OUTER JOIN MNT_LOB_MASTER MLM   with(nolock) ON                                           
   PCPL.POLICY_LOB = MLM.LOB_ID                                                          
 
WHERE PCPL.CUSTOMER_ID = @CUSTOMER_ID AND PCPL.POLICY_ID = @POLICY_ID AND PCPL.POLICY_VERSION_ID=@POLICY_VERSION_ID      

--TABLE 1
SELECT 	CONVERT(VARCHAR,COMPLETED_DATETIME,101) as TRAN_DATE, CONVERT(VARCHAR,EFFECTIVE_DATETIME,101) + 
	CASE WHEN EXPIRY_DATE IS NOT NULL THEN '-' + ISNULL(CONVERT(VARCHAR,EXPIRY_DATE,101),'') 
		ELSE '' END
		AS TRAN_EFF_DATE,
	CASE PROCESS_ID 
		WHEN 25		THEN 'New Business (V '  + cast(NEW_POLICY_VERSION_ID as varchar) + '.0)'
		WHEN 14		THEN 'Endorsement (V '    + cast(NEW_POLICY_VERSION_ID as varchar) + '.0)'
		WHEN 12     THEN 'Cancellation (V ' + cast(NEW_POLICY_VERSION_ID as varchar) + '.0)'
		WHEN 16     THEN 'Reinstatement (V ' + cast(NEW_POLICY_VERSION_ID as varchar) + '.0)'
		WHEN 18     THEN 'Renewal (V ' + cast(NEW_POLICY_VERSION_ID as varchar) + '.0)'
		WHEN 29     THEN 'Rescind (V ' + cast(NEW_POLICY_VERSION_ID as varchar) + '.0)'
		WHEN 32		THEN 'Rewrite (V ' + cast(NEW_POLICY_VERSION_ID as varchar) + '.0)'
		WHEN 37		THEN 'Revert back (V '  + cast(NEW_POLICY_VERSION_ID as varchar)+ '.0)'
		WHEN 9		THEN 'Corrective User Process (V '  + cast(NEW_POLICY_VERSION_ID as varchar)+ '.0)'
	END  AS TRAN_DESC,
	POLICY_VERSION_ID,case NEW_POLICY_VERSION_ID when 0 then POLICY_VERSION_ID else NEW_POLICY_VERSION_ID end as NEW_POLICY_VERSION_ID ,PROCESS_ID
	FROM POL_POLICY_PROCESS WITH(NOLOCK)
		WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID 
		and process_status='COMPLETE'
		order by NEW_POLICY_VERSION_ID desc
create table #REINSURANCE_COVERAGE_CATEGORY
(
CATEGORY_CODE INT,
COV_CATEGORY VARCHAR(100)
)
declare @CATEGORYID int            
declare @scount  int                      
DECLARE @CATEGORY VARCHAR(100)
set @scount=2 
	select @CATEGORY=CATEGORY from MNT_REINSURANCE_COVERAGE_CATEGORY where lob_id=@LOB_ID and EFFECTIVE_DATE<=@POLICY_EFFECTIVE_DATE
      
if @CATEGORY <>''  
BEGIN  
 set @CATEGORYID = dbo.piece(@CATEGORY,',',1)            
 WHILE @CATEGORYID is not null            
 BEGIN          
     INSERT INTO #REINSURANCE_COVERAGE_CATEGORY(CATEGORY_CODE,COV_CATEGORY)
      SELECT  @CATEGORYID, LOOKUP_VALUE_DESC FROM MNT_LOOKUP_VALUES WHERE LOOKUP_UNIQUE_ID= @CATEGORYID      

      SET @CATEGORYID=DBO.PIECE(@CATEGORY,',',@SCOUNT)            
      SET @SCOUNT=@SCOUNT+1            
 END    
END  

---cOVERAGE SPLIT
create table #REINSURANCE_COVERAGE_SPLIT
(
COV_ID varchar(100),
COV_ID_1ST_SPLIT varchar(100),
COV_ID_2ST_SPLIT varchar(100),
COV_1ST_SPLIT	INT,
COV_2ND_SPLIT	INT
)
declare @splitID int            
--declare @scount  int                      
DECLARE @SPLIT_COVERAGE VARCHAR(100)
insert into #REINSURANCE_COVERAGE_SPLIT
select REIN_COVERAGE, replace(REIN_IST_SPLIT_COVERAGE,',',''),replace(REIN_2ND_SPLIT_COVERAGE,',',''),replace(REIN_IST_SPLIT,'%',''),replace(REIN_2ND_SPLIT,'%','')
	from MNT_REIN_SPLIT where REIN_STATE=@STATE_ID AND REIN_LINE_OF_BUSINESS=@LOB_ID 
	and dbo.Instring(replace(isnull(POLICY_TYPE,'0'),',',' '), case when @LOB_ID=1 or @LOB_ID=6 then @POLICY_TYPE else isnull(POLICY_TYPE,'0') end)>0
	AND ISNULL(REIN_EFFECTIVE_DATE,'1950-01-01')<=@POLICY_EFFECTIVE_DATE and isnull(IS_ACTIVE,'Y')='Y'
--DROP TABLE #REINSURANCE_COVERAGE_SPLIT
-------###############
create table #REINSURANCE_COVERAGE_SPLIT_PREMIUM
(
COV_ID varchar(100),
POLICY_VERSION_ID int,
COV_ID_1ST_SPLIT varchar(100),
COV_ID_2ND_SPLIT varchar(100),
COVERAGE_PREMIUM NUMERIC(12,4),
COVERAGE_PREMIUM_1ST_SPLIT NUMERIC(12,4),
COVERAGE_PREMIUM_2ND_SPLIT NUMERIC(12,4) 
)
INSERT INTO #REINSURANCE_COVERAGE_SPLIT_PREMIUM
  select max(REIN.COV_ID) as COV_ID,P1.POLICY_VERSION_ID,COV_ID_1ST_SPLIT,COV_ID_2ST_SPLIT,
 	SUM(CASE WHEN ISNUMERIC(C1.WRITTEN_PREM) = 0 THEN 0 ELSE cast(C1.WRITTEN_PREM as numeric(12,4)) END) AS COVERAGE_PREMIUM,
	      SUM(((CASE WHEN ISNUMERIC(C1.WRITTEN_PREM) = 0 THEN 0 ELSE cast(C1.WRITTEN_PREM as numeric(12,4)) END) * replace(REIN.COV_1ST_SPLIT,'%','') * 0.01)) AS COVERAGE_PREMIUM_1ST_SPLIT,
	      SUM(((CASE WHEN ISNUMERIC(C1.WRITTEN_PREM) = 0 THEN 0 ELSE cast(C1.WRITTEN_PREM as numeric(12,4)) END) * replace(REIN.COV_2ND_SPLIT,'%','') * 0.01)) AS COVERAGE_PREMIUM_2ND_SPLIT
		from #REINSURANCE_COVERAGE_SPLIT REIN
		inner join mnt_coverage MC on dbo.Instring(replace(REIN.COV_ID,',',' '),convert(varchar,MC.COV_ID))>0
		inner JOIN CLT_PREMIUM_SPLIT P1 
		ON  P1.CUSTOMER_ID = @CUSTOMER_ID AND P1.POLICY_ID = @POLICY_ID 
		left outer JOIN VIEW_CLT_PREMIUM_SPLIT_DETAILS C1  
		--ON MC.COMPONENT_CODE = C1.COMPONENT_CODE 
--	on   CASE  WHEN COMP_EXT IN ('774','779','794','799','776','796','775','795') then MC.COMPONENT_CODE else convert(varchar,MC.COV_ID) end
--		= CASE  WHEN COMP_EXT IN ('774','779','794','799','776','796','775','795') then C1.COMPONENT_CODE else C1.COMP_EXT end
	on   CASE  WHEN COMP_EXT IN ('774','779','794','799') then MC.COMPONENT_CODE else convert(varchar,MC.COV_ID) end
		= CASE  WHEN COMP_EXT IN ('774','779','794','799') then C1.COMPONENT_CODE else C1.COMP_EXT end
	AND P1.UNIQUE_ID = C1.SPLIT_UNIQUE_ID  
		--group by P1.POLICY_VERSION_ID,C1.COMPONENT_CODE,MC.cov_id,COV_ID_1ST_SPLIT,COV_ID_2ST_SPLIT
		where isnull(C1.IS_PART_OF_REVERT,'')<>'Y'
		group by P1.POLICY_VERSION_ID,COV_ID_1ST_SPLIT,COV_ID_2ST_SPLIT

---------###########
--TABLE 2
--for umbrellla
IF (@LOB_ID=5)    
    BEGIN
	 SELECT m.cov_id,max(M.COV_DES) as COV_DES,sum(cast(replace(CASE WHEN ISNULL(C1.IS_PART_OF_REVERT,'') ='Y' THEN 0 ELSE LMT.POLICY_LIMITS END,',','') as numeric)) as POLICY_LIMITS,C.POL_VERSION_ID as POLICY_VERSION_ID,
	    SUM(CASE WHEN ISNUMERIC(C1.WRITTEN_PREM) = 0 THEN 0 ELSE  cast(C1.WRITTEN_PREM as numeric(12,4)) END) AS COVERAGE_PREMIUM, 
	   M.COMPONENT_CODE ,
	  ISNULL(max(M.REINSURANCE_COV),0) REINSURANCE_COV, max(isnull(M.REINSURANCE_CALC,0)) REINSURANCE_CALC
	 FROM POL_UMBRELLA_COVERAGES C       
	INNER JOIN POL_UMBRELLA_LIMITS LMT ON LMT.CUSTOMER_ID=C.CUSTOMER_ID AND LMT.POLICY_ID=C.POL_ID AND LMT.POLICY_VERSION_ID=C.POL_VERSION_ID
	 LEFT OUTER JOIN CLT_PREMIUM_SPLIT P1  ON C.CUSTOMER_ID = P1.CUSTOMER_ID AND C.POL_ID = P1.POLICY_ID       
	 AND C.POL_VERSION_ID = P1.POLICY_VERSION_ID       
	 LEFT OUTER JOIN MNT_COVERAGE M ON M.COV_ID = C.COVERAGE_CODE_ID       
	 LEFT OUTER JOIN VIEW_CLT_PREMIUM_SPLIT_DETAILS C1       
	 ON --M.COMPONENT_CODE = C1.COMPONENT_CODE AND 
	P1.UNIQUE_ID = C1.SPLIT_UNIQUE_ID                
	AND C1.COMPONENT_CODE ='PEL'
	   WHERE C.CUSTOMER_ID=@CUSTOMER_ID AND C.POL_ID=@POLICY_ID 
	  --     AND C.POL_VERSION_ID=@POLICY_VERSION_ID
	  --  AND P1.RISK_ID = 1 
	and isnull(M.REINSURANCE_LOB,0)=@YES
	AND C1.COMPONENT_CODE IS NOT NULL       
	and isnull(C1.IS_PART_OF_REVERT,'')<>'Y'
	AND m.COv_CODE ='UBPULP'
	group by C.POL_VERSION_ID,M.COMPONENT_CODE,m.cov_id
	--order by M.REINSURANCE_COV
   END
---watercraft
ELSE IF (@LOB_ID=4)   
  BEGIN   
     
	SELECT m.cov_id,max(M.COV_DES) as COV_DES,sum( CASE WHEN ISNUMERIC(C1.LIMIT)=0 OR ISNULL(C1.IS_PART_OF_REVERT,'') ='Y' THEN 0 ELSE convert(numeric,replace(C1.LIMIT,',','')) END ) POLICY_LIMITS,C1.POLICY_VERSION_ID as POLICY_VERSION_ID,
	      SUM(CASE WHEN ISNUMERIC(C1.WRITTEN_PREM) = 0 THEN 0 ELSE cast(C1.WRITTEN_PREM as numeric(12,4))   END ) AS COVERAGE_PREMIUM, 
		M.COMPONENT_CODE 
	--M.COV_CODE,M.COVERAGE_TYPE 
	 ,ISNULL(max(M.REINSURANCE_COV),0) REINSURANCE_COV ,max(isnull(M.REINSURANCE_CALC,0)) REINSURANCE_CALC
	--,ISNULL(max(LKP.LOOKUP_VALUE_DESC),'') AS COV_CATEGORY
/*	 FROM POL_WATERCRAFT_COVERAGE_INFO C               
	 inner JOIN CLT_PREMIUM_SPLIT P1               
	 ON C.CUSTOMER_ID = P1.CUSTOMER_ID AND C.POLICY_ID = P1.POLICY_ID               
	 AND C.POLICY_VERSION_ID = P1.POLICY_VERSION_ID               
	 inner join MNT_COVERAGE M ON M.COV_ID = C.COVERAGE_CODE_ID               
	inner JOIN VIEW_CLT_PREMIUM_SPLIT_DETAILS C1     
	-- ON M.COMPONENT_CODE = C1.COMPONENT_CODE AND 
	 ON M.COV_ID = convert(int,isnull(C1.COMP_EXT,'0')) AND 
	P1.UNIQUE_ID = C1.SPLIT_UNIQUE_ID                        
	--LEFT OUTER JOIN MNT_LOOKUP_VALUES  LKP  ON   LKP.LOOKUP_UNIQUE_ID=M.REINSURANCE_COV          
	   WHERE C.CUSTOMER_ID=@CUSTOMER_ID AND C.POLICY_ID=@POLICY_ID
		--AND C.POLICY_VERSION_ID= AND C.BOAT_ID=   
		  AND P1.RISK_ID =  C.BOAT_ID 
	          AND C1.COMPONENT_CODE IS NOT NULL  
*/
--
 FROM VIEW_CLT_PREMIUM_SPLIT_DETAILS C1
	INNER join MNT_COVERAGE M ON  (M.COV_ID = convert(int,isnull(C1.COMP_EXT,'0')) )
	WHERE C1.CUSTOMER_ID=@CUSTOMER_ID AND C1.POLICY_ID=@POLICY_ID
          AND C1.COMPONENT_CODE IS NOT NULL  
--
		and isnull(M.REINSURANCE_LOB,0)=@YES and isnull(M.IS_ACTIVE,'Y')='Y'
		and isnull(C1.IS_PART_OF_REVERT,'')<>'Y'
		group by C1.POLICY_VERSION_ID,M.COMPONENT_CODE,m.cov_id
       union
	SELECT m.cov_id,M.COV_DES as COV_DES ,0  POLICY_LIMITS,0 as POLICY_VERSION_ID,
		0 AS COVERAGE_PREMIUM, 'REINSURANCE' as COMPONENT_CODE,
		ISNULL((M.REINSURANCE_COV),0) REINSURANCE_COV ,(isnull(M.REINSURANCE_CALC,0)) REINSURANCE_CALC
		FROM MNT_REINSURANCE_COVERAGE M       
	  	WHERE isnull(M.REINSURANCE_LOB,0)=@YES and lob_id=@LOB_ID and state_id=@STATE_ID	
	union
	SELECT m.cov_id,max(M.COV_DES) as COV_DES,sum( CASE WHEN ISNUMERIC(C1.LIMIT)=0  OR ISNULL(C1.IS_PART_OF_REVERT,'') ='Y' THEN 0 ELSE convert(numeric,replace(C1.LIMIT,',','')) END ) POLICY_LIMITS,P1.POLICY_VERSION_ID as POLICY_VERSION_ID,
	      SUM(CASE WHEN ISNUMERIC(C1.WRITTEN_PREM) = 0 THEN 0 ELSE cast(C1.WRITTEN_PREM as numeric(12,4))   END ) AS COVERAGE_PREMIUM, 
		M.COMPONENT_CODE 
	 ,ISNULL(max(M.REINSURANCE_COV),0) REINSURANCE_COV ,max(isnull(M.REINSURANCE_CALC,0)) REINSURANCE_CALC
	 FROM CLT_PREMIUM_SPLIT P1               
	inner JOIN VIEW_CLT_PREMIUM_SPLIT_DETAILS C1     
	on P1.UNIQUE_ID = C1.SPLIT_UNIQUE_ID          
	 inner join MNT_COVERAGE_EXTRA M 
	 ON M.COMPONENT_CODE = C1.COMPONENT_CODE  and lob_id=@LOB_ID and state_id=@STATE_ID	
	   WHERE P1.CUSTOMER_ID=@CUSTOMER_ID AND P1.POLICY_ID=@POLICY_ID
	          AND C1.COMPONENT_CODE IS NOT NULL  
		and isnull(M.REINSURANCE_LOB,0)=@YES and isnull(M.IS_ACTIVE,'Y')='Y'
		and isnull(C1.IS_PART_OF_REVERT,'')<>'Y'
		group by P1.POLICY_VERSION_ID,M.COMPONENT_CODE,m.cov_id
  END	
ELSE if (@LOB_ID=1 or @LOB_ID=6)
	     
  begin
	select * from (
	(SELECT m.cov_id,max(M.COV_DES) as COV_DES ,sum( CASE WHEN ISNUMERIC(C1.LIMIT)=0  OR ISNULL(C1.IS_PART_OF_REVERT,'') ='Y' THEN 0 ELSE replace(C1.LIMIT,',','') END )  POLICY_LIMITS,C.POLICY_VERSION_ID as POLICY_VERSION_ID,
	SUM(CASE WHEN ISNUMERIC(C1.WRITTEN_PREM) = 0 THEN 0 ELSE cast(C1.WRITTEN_PREM as numeric(12,4)) END) AS COVERAGE_PREMIUM,
	      M.COMPONENT_CODE,
	--M.COV_CODE , M.COVERAGE_TYPE ,
	ISNULL(max(M.REINSURANCE_COV),0) REINSURANCE_COV ,max(isnull(M.REINSURANCE_CALC,0)) REINSURANCE_CALC
	--,ISNULL(LKP.LOOKUP_VALUE_DESC,'') AS COV_CATEGORY
	FROM POL_DWELLING_SECTION_COVERAGES C       
	INNER JOIN POL_DWELLINGS_INFO P       
	ON C.CUSTOMER_ID = P.CUSTOMER_ID       
	AND C.POLICY_ID = P.POLICY_ID       
	AND C.POLICY_VERSION_ID = P.POLICY_VERSION_ID       
	AND C.DWELLING_ID = P.DWELLING_ID AND P.IS_ACTIVE = 'Y'       
	LEFT OUTER JOIN CLT_PREMIUM_SPLIT P1       
	ON C.CUSTOMER_ID = P1.CUSTOMER_ID AND C.POLICY_ID = P1.POLICY_ID       
	AND C.POLICY_VERSION_ID = P1.POLICY_VERSION_ID 
   LEFT  OUTER JOIN MNT_COVERAGE M ON M.COV_ID = C.COVERAGE_CODE_ID    
	LEFT OUTER JOIN VIEW_CLT_PREMIUM_SPLIT_DETAILS C1       
--on   CASE  WHEN COMP_EXT IN ('774','779','794','799','776','796','775','795') then M.COMPONENT_CODE else convert(varchar,M.COV_ID) end
--	= CASE  WHEN COMP_EXT IN ('774','779','794','799','776','796','775','795') then C1.COMPONENT_CODE else C1.COMP_EXT end
  on   CASE  WHEN COMP_EXT IN ('774','779','794','799') then M.COMPONENT_CODE else convert(varchar,M.COV_ID) end
	= CASE  WHEN COMP_EXT IN ('774','779','794','799') then C1.COMPONENT_CODE else C1.COMP_EXT end

		AND P1.UNIQUE_ID = C1.SPLIT_UNIQUE_ID                       
	  WHERE C.CUSTOMER_ID=@CUSTOMER_ID AND C.POLICY_ID=@POLICY_ID 
		--AND C.POLICY_VERSION_ID=@VERSIONID AND C.DWELLING_ID=@DWELLINGID  
		AND P1.RISK_ID = C.DWELLING_ID 
		AND C1.COMPONENT_CODE IS NOT NULL  
		and isnull(C1.IS_PART_OF_REVERT,'')<>'Y'
		and isnull(M.REINSURANCE_LOB,0)=@YES and isnull(M.IS_ACTIVE,'Y')='Y'
		group by C.POLICY_VERSION_ID,M.COMPONENT_CODE,m.cov_id
	union
	SELECT m.cov_id,M.COV_DES as COV_DES ,0  POLICY_LIMITS,0 as POLICY_VERSION_ID,
		0 AS COVERAGE_PREMIUM, 'REINSURANCE' as COMPONENT_CODE,
		ISNULL((M.REINSURANCE_COV),0) REINSURANCE_COV ,(isnull(M.REINSURANCE_CALC,0)) REINSURANCE_CALC
		FROM MNT_REINSURANCE_COVERAGE M       
	  	WHERE isnull(M.REINSURANCE_LOB,0)=@YES and lob_id=@LOB_ID and state_id=@STATE_ID

		
	)
	UNION
	(
	 SELECT  m.cov_id,max(M.COV_DES) COV_DES ,sum( CASE WHEN ISNUMERIC(C1.LIMIT)=0  OR ISNULL(C1.IS_PART_OF_REVERT,'') ='Y' THEN 0 ELSE replace(C1.LIMIT,',','') END )  POLICY_LIMITS,C.POLICY_VERSION_ID as POLICY_VERSION_ID,
	      SUM(CASE WHEN ISNUMERIC(C1.WRITTEN_PREM) = 0 THEN 0 ELSE  cast(C1.WRITTEN_PREM as numeric(12,4))  END) AS COVERAGE_PREMIUM, 
		M.COMPONENT_CODE,
	--M.COV_CODE,'WL' as COVERAGE_TYPE ,
	ISNULL(max(M.REINSURANCE_COV),0) REINSURANCE_COV ,max(isnull(M.REINSURANCE_CALC,0)) REINSURANCE_CALC
	 FROM POL_WATERCRAFT_COVERAGE_INFO C               
	 LEFT OUTER JOIN CLT_PREMIUM_SPLIT P1               
	 ON C.CUSTOMER_ID = P1.CUSTOMER_ID AND C.POLICY_ID = P1.POLICY_ID               
	 AND C.POLICY_VERSION_ID = P1.POLICY_VERSION_ID        
	 LEFT OUTER JOIN MNT_COVERAGE M ON M.COV_ID = C.COVERAGE_CODE_ID               
	 LEFT OUTER JOIN VIEW_CLT_PREMIUM_SPLIT_DETAILS C1               
--	 ON M.COMPONENT_CODE = C1.COMPONENT_CODE 
	 ON M.COV_ID = convert(int,isnull(C1.COMP_EXT,'0'))  
	AND P1.UNIQUE_ID = C1.SPLIT_UNIQUE_ID 
	   WHERE C.CUSTOMER_ID=@CUSTOMER_ID AND C.POLICY_ID=@POLICY_ID 
		  --AND C.POLICY_VERSION_ID=@POLICY_VERSION_ID AND C.BOAT_ID=@BOATID   
		AND P1.RISK_ID = C.BOAT_ID 
        	AND C1.COMPONENT_CODE IS NOT NULL  
		and isnull(C1.IS_PART_OF_REVERT,'')<>'Y'
		and isnull(M.REINSURANCE_LOB,0)=@YES and isnull(M.IS_ACTIVE,'Y')='Y'
		group by C.POLICY_VERSION_ID,M.COMPONENT_CODE,m.cov_id
	union
	SELECT m.cov_id,M.COV_DES as COV_DES ,0  POLICY_LIMITS,0 as POLICY_VERSION_ID,
		0 AS COVERAGE_PREMIUM, 'REINSURANCE' as COMPONENT_CODE,
		ISNULL((M.REINSURANCE_COV),0) REINSURANCE_COV ,(isnull(M.REINSURANCE_CALC,0)) REINSURANCE_CALC
		FROM MNT_REINSURANCE_COVERAGE M       
	  	WHERE isnull(M.REINSURANCE_LOB,0)=@YES and lob_id=4 and state_id=@STATE_ID	
		
	 )
	) tempt


   end	         
 ELSE if (@LOB_ID=2 or @LOB_ID=3)    
	 SELECT m.cov_id,max(M.COV_DES)COV_DES,sum( CASE WHEN ISNUMERIC(C1.LIMIT)=0  OR ISNULL(C1.IS_PART_OF_REVERT,'') ='Y' THEN 0 ELSE replace(C1.LIMIT,',','') END )  POLICY_LIMITS,C.POLICY_VERSION_ID as POLICY_VERSION_ID,
		SUM(CASE WHEN ISNUMERIC(C1.WRITTEN_PREM) = 0 THEN 0 ELSE Cast(C1.WRITTEN_PREM as numeric(12,4)) END) AS COVERAGE_PREMIUM,
		 M.COMPONENT_CODE, 
		--M.COV_CODE, M.COVERAGE_TYPE  ,
		ISNULL(max(M.REINSURANCE_COV),0) REINSURANCE_COV ,max(isnull(M.REINSURANCE_CALC,0)) REINSURANCE_CALC
	 FROM POL_VEHICLE_COVERAGES C       
	 INNER JOIN POL_VEHICLES P       
	 ON C.CUSTOMER_ID = P.CUSTOMER_ID AND C.POLICY_ID = P.POLICY_ID       
	 AND C.POLICY_VERSION_ID = P.POLICY_VERSION_ID AND C.VEHICLE_ID = P.VEHICLE_ID       
	 AND P.IS_ACTIVE = 'Y'       
	 LEFT OUTER JOIN CLT_PREMIUM_SPLIT P1       
	 ON C.CUSTOMER_ID = P1.CUSTOMER_ID AND C.POLICY_ID = P1.POLICY_ID       
	 AND C.POLICY_VERSION_ID = P1.POLICY_VERSION_ID       
	 LEFT OUTER JOIN MNT_COVERAGE M ON M.COV_ID = C.COVERAGE_CODE_ID       
	 LEFT OUTER JOIN VIEW_CLT_PREMIUM_SPLIT_DETAILS C1       
--	 ON M.COMPONENT_CODE = C1.COMPONENT_CODE AND 
	 ON M.COV_ID = convert(int,isnull(C1.COMP_EXT,'0')) AND 
	P1.UNIQUE_ID = C1.SPLIT_UNIQUE_ID  
	   WHERE C.CUSTOMER_ID=@CUSTOMER_ID AND C.POLICY_ID=@POLICY_ID 
			--AND C.POLICY_VERSION_ID=@VERSIONID AND C.VEHICLE_ID=@VEHICLEID  
		AND P1.RISK_ID = C.VEHICLE_ID 
		AND C1.COMPONENT_CODE IS NOT NULL       
		and isnull(C1.IS_PART_OF_REVERT,'')<>'Y'
		and isnull(M.REINSURANCE_LOB,0)=@YES and isnull(M.IS_ACTIVE,'Y')='Y'
		group by C.POLICY_VERSION_ID,M.COMPONENT_CODE,m.cov_id
	union	
	SELECT m.cov_id,M.COV_DES as COV_DES ,0  POLICY_LIMITS,0 as POLICY_VERSION_ID,
		0 AS COVERAGE_PREMIUM, 'REINSURANCE' as COMPONENT_CODE,
		ISNULL((M.REINSURANCE_COV),0) REINSURANCE_COV ,(isnull(M.REINSURANCE_CALC,0)) REINSURANCE_CALC
		FROM MNT_REINSURANCE_COVERAGE M       
	  	WHERE isnull(M.REINSURANCE_LOB,0)=@YES and lob_id=@LOB_ID and state_id=@STATE_ID	
ELSE
-- temporary code to be removed later when all lob will be covered
 SELECT '' as COV_DES,'' as  POLICY_LIMITS, 0 as POLICY_VERSION_ID, 0 as COVERAGE_PREMIUM, '' COMPONENT_CODE, '' COV_CODE

--TABLE 3
SELECT * FROM #REINSURANCE_COVERAGE_CATEGORY
DROP TABLE #REINSURANCE_COVERAGE_CATEGORY
DROP TABLE #REINSURANCE_COVERAGE_SPLIT

--if (@LOB_ID=2 or @LOB_ID=3)    
--TABLE 4 fetching asssesment fee
SELECT P.POLICY_VERSION_ID as POLICY_VERSION_ID,D.COMPONENT_CODE,D.PREMIUM as FEES FROM CLT_PREMIUM_SPLIT P
	INNER JOIN CLT_PREMIUM_SPLIT_DETAILS D ON P.UNIQUE_ID=D.SPLIT_UNIQUE_ID
  	 WHERE P.CUSTOMER_ID=@CUSTOMER_ID AND P.POLICY_ID=@POLICY_ID 
	--AND P.POLICY_VERSION_ID=@POLICY_VERSION_ID 
	AND D.COMPONENT_CODE in ('MCCAFEE','PRP_EXPNS_FEE')
--TABLE 5
SELECT * FROM #REINSURANCE_COVERAGE_SPLIT_PREMIUM

DROP TABLE #REINSURANCE_COVERAGE_SPLIT_PREMIUM

END  
-- GO
-- 
-- EXEC dbo.Proc_GetReinsurance_Inquiry_Details 1132, 2,2
-- 
-- ROLLBACK TRAN
 





GO

