IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetInformationForLetter]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetInformationForLetter]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



/*----------------------------------------------------------                              
PROC NAME  : DBO.Proc_GetInformationForLetter                              
CREATED BY      : SHAILJA RAMPAL
DATE            : 03-06-2007                        
PURPOSE         : TO GET THE INFORMATION ON COMMUNICATION/LETTER IN CASE OF CUSTOMER/POLICY/APPLICATION
REVISON HISTORY :                              
USED IN         : WOLVERINE                              
------------------------------------------------------------                              
EXEC Proc_GetInformationForLetter 1151,0,0,0,0,'CUSTOMER'
EXEC Proc_GetInformationForLetter 1151,23,1,0,0,'APPLICATION'
EXEC Proc_GetInformationForLetter 1151,0,0,0,0,'APPLICATION'
EXEC Proc_GetInformationForLetter 1151,0,0,12,1,'POLICY'
*/                        
                     
CREATE PROC dbo.Proc_GetInformationForLetter                        
(                              
                        
 @CUSTOMER_ID  INT,                              
 @APP_ID INT = 0,
 @APP_VERSION_ID INT=0,
 @POLICY_ID  INT=0,                              
 @POLICY_VERSION_ID INT=0,
 @CalledFor NVARCHAR(50)=''                           
                        
)                              
AS                              
BEGIN   
PRINT @CalledFor            
 IF LTRIM(RTRIM(@CalledFor))='CUSTOMER'
 BEGIN	
	SELECT LTRIM(RTRIM(ISNULL(CLT_CUSTOMER_LIST.CUSTOMER_FIRST_NAME, ''))) + ' ' + LTRIM(RTRIM(ISNULL(CLT_CUSTOMER_LIST.CUSTOMER_MIDDLE_NAME, '')))
	+ ' ' + LTRIM(RTRIM(ISNULL(CLT_CUSTOMER_LIST.CUSTOMER_LAST_NAME, ''))) AS CUSTOMERNAME, CUSTOMER_AGENCY_ID AS AGENCY_ID, '' AS APP_NUMBER, 0 AS LOB, '' AS POLICY_NUMBER FROM CLT_CUSTOMER_LIST WITH (NOLOCK) 
	WHERE 
		CUSTOMER_ID = @CUSTOMER_ID
	RETURN
 END

 IF LTRIM(RTRIM(@CalledFor))='APPLICATION'
 BEGIN	
	PRINT 111111111
	SELECT LTRIM(RTRIM(ISNULL(CCL.CUSTOMER_FIRST_NAME, ''))) + ' ' + LTRIM(RTRIM(ISNULL(CCL.CUSTOMER_MIDDLE_NAME, '')))
	+ ' ' + LTRIM(RTRIM(ISNULL(CCL.CUSTOMER_LAST_NAME, ''))) AS CUSTOMERNAME, APP_AGENCY_ID AS AGENCY_ID, AL.APP_NUMBER, AL.APP_LOB AS LOB, '' AS POLICY_NUMBER FROM CLT_CUSTOMER_LIST CCL WITH(NOLOCK) 
	INNER JOIN APP_LIST AL WITH(NOLOCK) ON AL.CUSTOMER_ID = CCL.CUSTOMER_iD AND CCL.CUSTOMER_ID = @CUSTOMER_ID AND AL.APP_ID = @APP_ID AND AL.APP_VERSION_ID = @APP_VERSION_ID
	WHERE 
		CCL.CUSTOMER_ID = @CUSTOMER_ID AND AL.APP_ID = @APP_ID AND AL.APP_VERSION_ID = @APP_VERSION_ID
	RETURN
 END

 IF LTRIM(RTRIM(@CalledFor))='POLICY'
 BEGIN	
	SELECT LTRIM(RTRIM(ISNULL(CCL.CUSTOMER_FIRST_NAME, ''))) + ' ' + LTRIM(RTRIM(ISNULL(CCL.CUSTOMER_MIDDLE_NAME, '')))
	+ ' ' + LTRIM(RTRIM(ISNULL(CCL.CUSTOMER_LAST_NAME, ''))) AS CUSTOMERNAME, AGENCY_ID, AL.APP_NUMBER, PCPL.POLICY_LOB AS LOB, POLICY_NUMBER FROM CLT_CUSTOMER_LIST CCL WITH(NOLOCK) 
	INNER JOIN POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK) ON CCL.CUSTOMER_ID = PCPL.CUSTOMER_ID AND CCL.CUSTOMER_ID = @CUSTOMER_ID AND PCPL.POLICY_ID = @POLICY_ID AND PCPL.POLICY_VERSION_ID = @POLICY_VERSION_ID
	INNER JOIN APP_LIST AL WITH(NOLOCK) ON AL.CUSTOMER_ID = PCPL.CUSTOMER_iD AND AL.APP_ID = PCPL.APP_ID AND AL.APP_VERSION_ID = PCPL.APP_VERSION_ID
	WHERE 
		CCL.CUSTOMER_ID = @CUSTOMER_ID AND PCPL.POLICY_ID = @POLICY_ID AND PCPL.POLICY_VERSION_ID = @POLICY_VERSION_ID
	RETURN
 END 

END


GO

