IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[getSchItemCovgForClaims]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[getSchItemCovgForClaims]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].getSchItemCovgForClaims  
 @paramClaimID INTEGER  
AS  
  
BEGIN  
 SELECT   
 POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS.ITEM_ID AS ITEM_DETAIL_ID_TOTAL,   
 SUM (ISNULL(ITEM_INSURING_VALUE,0)) AS CATEGORY_TOTAL  
 INTO #TMPSCHITEMSCATEGORYTOTAL  
 FROM POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS  
 INNER JOIN POL_HOME_OWNER_SCH_ITEMS_CVGS  
 ON   
     POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS.CUSTOMER_ID = POL_HOME_OWNER_SCH_ITEMS_CVGS.CUSTOMER_ID  
     AND POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS.POL_ID = POL_HOME_OWNER_SCH_ITEMS_CVGS.POLICY_ID   
     AND POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS.POL_VERSION_ID = POL_HOME_OWNER_SCH_ITEMS_CVGS.POLICY_VERSION_ID   
     AND POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS.ITEM_ID = POL_HOME_OWNER_SCH_ITEMS_CVGS.ITEM_ID   
 INNER JOIN CLM_CLAIM_INFO   
 ON   
     CLM_CLAIM_INFO.CUSTOMER_ID = POL_HOME_OWNER_SCH_ITEMS_CVGS.CUSTOMER_ID AND               
     CLM_CLAIM_INFO.POLICY_ID = POL_HOME_OWNER_SCH_ITEMS_CVGS.POLICY_ID AND               
     CLM_CLAIM_INFO.POLICY_VERSION_ID=POL_HOME_OWNER_SCH_ITEMS_CVGS.POLICY_VERSION_ID   
 WHERE CLM_CLAIM_INFO.CLAIM_ID=@PARAMCLAIMID   
 GROUP BY POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS.ITEM_ID   
  
   
 SELECT POL_HOME_OWNER_SCH_ITEMS_CVGS.ITEM_ID, COV_DES AS CATEGORY_DESC,   
 --POL_HOME_OWNER_SCH_ITEMS_CVGS.DEDUCTIBLE, MNT_COVERAGE_RANGES.LIMIT_DEDUC_ID,  
 MNT_COVERAGE_RANGES.LIMIT_DEDUC_AMOUNT, CATEGORY_TOTAL  
 INTO #XXXXXXXXXXXXXXXXXXXXXX  
 FROM POL_HOME_OWNER_SCH_ITEMS_CVGS  
 INNER JOIN MNT_COVERAGE_RANGES  
 ON POL_HOME_OWNER_SCH_ITEMS_CVGS.DEDUCTIBLE=MNT_COVERAGE_RANGES.LIMIT_DEDUC_ID  
 INNER JOIN MNT_COVERAGE   
 ON POL_HOME_OWNER_SCH_ITEMS_CVGS.ITEM_ID=MNT_COVERAGE.COV_ID  
 INNER JOIN #TMPSCHITEMSCATEGORYTOTAL  
 ON #TMPSCHITEMSCATEGORYTOTAL.ITEM_DETAIL_ID_TOTAL=POL_HOME_OWNER_SCH_ITEMS_CVGS.ITEM_ID  
 INNER JOIN CLM_CLAIM_INFO   
 ON  CLM_CLAIM_INFO.CUSTOMER_ID = POL_HOME_OWNER_SCH_ITEMS_CVGS.CUSTOMER_ID AND               
     CLM_CLAIM_INFO.POLICY_ID = POL_HOME_OWNER_SCH_ITEMS_CVGS.POLICY_ID AND               
     CLM_CLAIM_INFO.POLICY_VERSION_ID=POL_HOME_OWNER_SCH_ITEMS_CVGS.POLICY_VERSION_ID   
 WHERE CLM_CLAIM_INFO.CLAIM_ID=@PARAMCLAIMID   
   
 SELECT POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS.ITEM_ID, CATEGORY_DESC   ,                                                                                                                                                                                       
  
    
 LIMIT_DEDUC_AMOUNT,     
 CATEGORY_TOTAL,          
 ITEM_DETAIL_ID ,  
 ITEM_DESCRIPTION,  
 ITEM_INSURING_VALUE  
  FROM #XXXXXXXXXXXXXXXXXXXXXX  
 INNER JOIN POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS  
 ON POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS.ITEM_ID =#XXXXXXXXXXXXXXXXXXXXXX.ITEM_ID  
 INNER JOIN POL_HOME_OWNER_SCH_ITEMS_CVGS  
 ON   
     POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS.CUSTOMER_ID = POL_HOME_OWNER_SCH_ITEMS_CVGS.CUSTOMER_ID  
     AND POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS.POL_ID = POL_HOME_OWNER_SCH_ITEMS_CVGS.POLICY_ID   
     AND POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS.POL_VERSION_ID = POL_HOME_OWNER_SCH_ITEMS_CVGS.POLICY_VERSION_ID   
     AND POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS.ITEM_ID = POL_HOME_OWNER_SCH_ITEMS_CVGS.ITEM_ID   
 INNER JOIN CLM_CLAIM_INFO   
 ON  CLM_CLAIM_INFO.CUSTOMER_ID = POL_HOME_OWNER_SCH_ITEMS_CVGS.CUSTOMER_ID AND               
     CLM_CLAIM_INFO.POLICY_ID = POL_HOME_OWNER_SCH_ITEMS_CVGS.POLICY_ID AND               
     CLM_CLAIM_INFO.POLICY_VERSION_ID=POL_HOME_OWNER_SCH_ITEMS_CVGS.POLICY_VERSION_ID   
 WHERE CLM_CLAIM_INFO.CLAIM_ID=@PARAMCLAIMID   
 ORDER BY POL_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS.ITEM_ID   
END  
  
  
  



GO

