IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_FetchReisurernfo]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_FetchReisurernfo]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



/*----------------------------------------------------------        
Proc Name        : dbo.Proc_FetchReinsurerInfo        
Created by       : Priya Arora       
Date             : Jan 06,2006     
Purpose          : retrieving data from MNT_REIN_COMAPANY_LIST        
Revison History  :        
Used In         : Wolverine        
------------------------------------------------------------        
Date     Review By          Comments        
------   ------------       -------------------------*/    
-- Proc_FetchReisurernfo 18
-- DROP PROC dbo.Proc_FetchReisurernfo            
CREATE PROC dbo.Proc_FetchReisurernfo        
@REIN_COMAPANY_ID INT        
AS        
        
BEGIN        
SELECT ISNULL(REIN_COMAPANY_ID,0) REIN_COMAPANY_ID,ISNULL(REIN_COMAPANY_CODE,'') REIN_COMAPANY_CODE,
ISNULL(REIN_COMAPANY_ADD1,'') REIN_COMAPANY_ADD1,ISNULL(REIN_COMAPANY_ADD2,'') REIN_COMAPANY_ADD2,      
ISNULL(REIN_COMAPANY_NAME,'') REIN_COMAPANY_NAME,ISNULL(REIN_COMAPANY_ADD1,'')+' '+ISNULL(REIN_COMAPANY_ADD2,'')        
 AS ADDRESS,ISNULL(REIN_COMAPANY_CITY,'') REIN_COMAPANY_CITY,ISNULL(REIN_COMAPANY_STATE,0) REIN_COMAPANY_STATE,        
ISNULL(REIN_COMAPANY_ZIP,0) REIN_COMAPANY_ZIP,ISNULL(REIN_COMAPANY_COUNTRY,0) REIN_COMAPANY_COUNTRY,        
ISNULL(REIN_COMAPANY_PHONE,'') REIN_COMAPANY_PHONE,ISNULL(REIN_COMAPANY_EXT,0) REIN_COMAPANY_EXT,        
ISNULL(REIN_COMAPANY_FAX,0) REIN_COMAPANY_FAX,ISNULL(REIN_COMAPANY_MOBILE,'') REIN_COMAPANY_MOBILE,ISNULL(REIN_COMAPANY_EMAIL,'') REIN_COMAPANY_EMAIL,        
ISNULL(REIN_COMAPANY_NOTE,'') REIN_COMAPANY_NOTE,ISNULL(REIN_COMAPANY_ACC_NUMBER,0) REIN_COMAPANY_ACC_NUMBER,        
IS_ACTIVE,LAST_UPDATED_DATETIME,        
ISNULL(M_REIN_COMPANY_ADD_1,'') M_REIN_COMPANY_ADD_1,        
ISNULL(M_RREIN_COMPANY_ADD_2,'') M_RREIN_COMPANY_ADD_2,        
ISNULL(M_REIN_COMPANY_CITY,'') M_REIN_COMPANY_CITY,        
ISNULL(M_REIN_COMPANY_COUNTRY,'') M_REIN_COMPANY_COUNTRY,        
ISNULL(M_REIN_COMPANY_STATE,'') M_REIN_COMPANY_STATE,        
ISNULL(M_REIN_COMPANY_ZIP,'') M_REIN_COMPANY_ZIP,        
ISNULL(M_REIN_COMPANY_PHONE,'') M_REIN_COMPANY_PHONE,        
ISNULL(M_REIN_COMPANY_EXT,'') M_REIN_COMPANY_EXT,        
ISNULL(M_REIN_COMPANY_FAX,'') M_REIN_COMPANY_FAX,        
ISNULL(REIN_COMPANY_WEBSITE,'') REIN_COMPANY_WEBSITE,    
ISNULL(REIN_COMPANY_IS_BROKER,'') REIN_COMPANY_IS_BROKER,    
ISNULL(PRINCIPAL_CONTACT,'') PRINCIPAL_CONTACT,    
ISNULL(OTHER_CONTACT,'') OTHER_CONTACT,    
ISNULL(FEDERAL_ID,'') FEDERAL_ID,    
ISNULL(ROUTING_NUMBER,'') ROUTING_NUMBER,    
--'AGENCY_ID='+cast(AGENCY_ID as varchar(8000)) as UniqueGrdId,      
  
CONVERT(VARCHAR,TERMINATION_DATE,101) TERMINATION_DATE,    
    
isnull(TERMINATION_REASON,'')TERMINATION_REASON      
FROM MNT_REIN_COMAPANY_LIST         
--WHERE agency_code not in ('W001')         
where REIN_COMAPANY_ID=@REIN_COMAPANY_ID        
END        
        
        
    


GO

