IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetOpenItemsForCheck_without_status]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetOpenItemsForCheck_without_status]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran           
--drop proc dbo.Proc_GetOpenItemsForCheck_without_status
--go           
/*----------------------------------------------------------                    
Proc Name       : Proc_GetOpenItemsForCheck_without_status                    
Created by      : Shikha dixit                   
Date            : 9 Oct, 2009                 
Purpose   : To get open items for current check type: Automation of checks process                    
Revison History :                    
Used In   : Wolverine                    
-----------------------------------------------------------                  
Date     Review By          Comments                    
------------------------------------------------------------*/                    
-- drop proc dbo.Proc_GetOpenItemsForCheck                
Create PROC dbo.Proc_GetOpenItemsForCheck_without_status                   
(                    
 @fromDate DateTime,                    
 @toDate DateTime,                    
 --@ITEM_STATUS varchar(3),          
 @POLICY_NUMBER varchar(24)= null                
)                    
AS                    
BEGIN   

                  
IF @FROMDATE  IS NULL AND @TODATE IS NULL                     
BEGIN                
        
 SELECT  ISNULL(LKP.LOOKUP_VALUE_DESC,' ') AS CANCELLATION_TYPE,
 CASE WHEN sum(ISNULL(OPEN_ITEM.TOTAL_DUE,0)) < sum(ISNULL(OPEN_ITEM.TOTAL_PAID,0))THEN 'YES' ELSE 'NO'END AS OVERPAYMENT,
 --OPEN_ITEM.IDEN_ROW_ID As IDEN_ROW_ID,          
 ISNULL(CL.CUSTOMER_FIRST_NAME,'') + ' ' + ISNULL(CL.CUSTOMER_MIDDLE_NAME,'') + ' '           
 +  ISNULL(CUSTOMER_LAST_NAME,'') AS CUSTOMER_NAME ,          
 CPL.POLICY_NUMBER AS POLICY_NUMBER ,          
 CPL.POLICY_DISP_VERSION AS POLICY_DISP_VERSION,          
 CPL.POLICY_ID AS POLICY_ID,          
 CPL.POLICY_VERSION_ID AS POLICY_VERSION_ID,          
 CPL.CUSTOMER_ID AS CUSTOMER_ID,          
  --OPEN_ITEM.SOURCE_TRAN_DATE AS SOURCE_TRAN_DATE,          
-- OPEN_ITEM.POSTING_DATE AS SOURCE_TRAN_DATE,
(
	select max(EFFECTIVE_DATETIME) from POL_POLICY_PROCESS OIIN where     
	 OIIN.customer_id = OPEN_ITEM.CUSTOMER_ID and    
	 OIIN.policy_id = OPEN_ITEM.POLICY_ID AND
	 OIIN.POLICY_VERSION_ID = OPEN_ITEM.POLICY_VERSION_ID     
     AND PROCESS_ID IN(12,14)
)AS SOURCE_TRAN_DATE,
/*convert(varchar(30),OPEN_ITEM.DUE_DATE,101)       
 ELSE convert(varchar(30),OPEN_ITEM.POSTING_DATE,101) end AS SOURCE_TRAN_DATE,   */    
 CONVERT(VARCHAR(20),CONVERT(MONEY,(SUM(ISNULL(OPEN_ITEM.TOTAL_PAID,0)) - SUM(ISNULL(OPEN_ITEM.TOTAL_DUE,0)))),1) AS OP_AMOUNT,
 convert(varchar(30),
(
	select max(posting_date) from ACT_CUSTOMER_OPEN_ITEMS OIIN where     
	 OIIN.customer_id = OPEN_ITEM.CUSTOMER_ID and    
	 OIIN.policy_id = OPEN_ITEM.POLICY_ID      
     and updated_from='D'),101
)AS PAYMENT_DATE   
 FROM POL_CUSTOMER_POLICY_LIST CPL          
 INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OPEN_ITEM          
 ON CPL.CUSTOMER_ID = OPEN_ITEM.CUSTOMER_ID          
 AND CPL.POLICY_ID  = OPEN_ITEM.POLICY_ID          
 AND CPL.POLICY_VERSION_ID = OPEN_ITEM.POLICY_VERSION_ID          
 INNER JOIN CLT_CUSTOMER_LIST CL          
 ON CL.CUSTOMER_ID = CPL.CUSTOMER_ID           
 LEFT JOIN POL_POLICY_PROCESS PRO           
 ON PRO.CUSTOMER_ID = CPL.CUSTOMER_ID          

 AND PRO.POLICY_ID = CPL.POLICY_ID          
 AND PRO.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID          
 AND PRO.PROCESS_ID IN (29,12)          
        LEFT JOIN MNT_LOOKUP_VALUES LKP           
 ON LKP.LOOKUP_UNIQUE_ID = PRO.CANCELLATION_TYPE          
 WHERE (ISNULL(OPEN_ITEM.TOTAL_PAID,0) - ISNULL(OPEN_ITEM.TOTAL_DUE,0)) > 0          
 AND          
 ( SELECT ISNULL(SUM(ISNULL(OI.TOTAL_DUE,0) - ISNULL(OI.TOTAL_PAID,0)),0)           
   FROM ACT_CUSTOMER_OPEN_ITEMS OI           
   WHERE OI.CUSTOMER_ID = CPL.CUSTOMER_ID AND OI.POLICY_ID = CPL.POLICY_ID           
 ) < 0           
 --AND ITEM_STATUS in (@ITEM_STATUS , case when @ITEM_STATUS = 'RSP' then 'ROP' end)          
 AND ISNULL(IS_CHECK_CREATED,'N') = 'N'            
 AND CPL.POLICY_NUMBER =  CASE @POLICY_NUMBER WHEN '' THEN CPL.POLICY_NUMBER ELSE  @POLICY_NUMBER END    
GROUP BY LKP.LOOKUP_VALUE_DESC, --OPEN_ITEM.IDEN_ROW_ID,
CL.CUSTOMER_FIRST_NAME,CL.CUSTOMER_MIDDLE_NAME,CUSTOMER_LAST_NAME,
CPL.POLICY_NUMBER,CPL.POLICY_DISP_VERSION,CPL.POLICY_ID,CPL.POLICY_VERSION_ID,CPL.CUSTOMER_ID,OPEN_ITEM.POSTING_DATE,
OPEN_ITEM.CUSTOMER_ID,OPEN_ITEM.POLICY_ID ,OPEN_ITEM.POLICY_VERSION_ID--,OPEN_ITEM.TOTAL_DUE,OPEN_ITEM.TOTAL_PAID       
 ORDER BY CUSTOMER_NAME , POLICY_NUMBER --OPEN_ITEM.IDEN_ROW_ID          
END                
ELSE                    
BEGIN                    
 IF @FROMDATE IS NULL                    
 BEGIN           
  SELECT  ISNULL(LKP.LOOKUP_VALUE_DESC,' ') AS CANCELLATION_TYPE , 
  CASE WHEN sum(ISNULL(OPEN_ITEM.TOTAL_DUE,0)) < sum(ISNULL(OPEN_ITEM.TOTAL_PAID,0))THEN 'YES' ELSE 'NO' END AS OVERPAYMENT,         
  --OPEN_ITEM.IDEN_ROW_ID As IDEN_ROW_ID,          
  ISNULL(CL.CUSTOMER_FIRST_NAME,'') + ' ' + ISNULL(CL.CUSTOMER_MIDDLE_NAME,'') + ' '           
  +  ISNULL(CUSTOMER_LAST_NAME,'') AS CUSTOMER_NAME ,          
  CPL.POLICY_NUMBER AS POLICY_NUMBER ,          
  CPL.POLICY_DISP_VERSION AS POLICY_DISP_VERSION,          
  CPL.POLICY_ID AS POLICY_ID,          
  CPL.POLICY_VERSION_ID AS POLICY_VERSION_ID,          
  CPL.CUSTOMER_ID AS CUSTOMER_ID,          
--  OPEN_ITEM.POSTING_DATE AS SOURCE_TRAN_DATE,      
(
	select max(EFFECTIVE_DATETIME) from POL_POLICY_PROCESS OIIN where     
	 OIIN.customer_id = OPEN_ITEM.CUSTOMER_ID and    
	 OIIN.policy_id = OPEN_ITEM.POLICY_ID AND
	 OIIN.POLICY_VERSION_ID = OPEN_ITEM.POLICY_VERSION_ID    
     AND PROCESS_ID IN(12,14)
)AS SOURCE_TRAN_DATE,
  --ISNULL(OPEN_ITEM.TOTAL_PAID,0) - ISNULL(OPEN_ITEM.TOTAL_DUE,0) AS OP_AMOUNT          
  CONVERT(VARCHAR(20),CONVERT(MONEY,(SUM(ISNULL(OPEN_ITEM.TOTAL_PAID,0)) - SUM(ISNULL(OPEN_ITEM.TOTAL_DUE,0)))),1) AS OP_AMOUNT,   
--convert(varchar(30),PAYMENT_DATE,101)    
   /*case  @ITEM_STATUS when 'RP' THEN */    
   convert(varchar(30),(select max(posting_date) from ACT_CUSTOMER_OPEN_ITEMS OIIN where     
    OIIN.customer_id = OPEN_ITEM.CUSTOMER_ID and    
 OIIN.policy_id = OPEN_ITEM.POLICY_ID  
 and updated_from='D') ,101)        
 as PAYMENT_DATE
  FROM POL_CUSTOMER_POLICY_LIST CPL          
  INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OPEN_ITEM          
  ON CPL.CUSTOMER_ID = OPEN_ITEM.CUSTOMER_ID          
  AND CPL.POLICY_ID  = OPEN_ITEM.POLICY_ID          
  AND CPL.POLICY_VERSION_ID = OPEN_ITEM.POLICY_VERSION_ID          
  INNER JOIN CLT_CUSTOMER_LIST CL          
  ON CL.CUSTOMER_ID = CPL.CUSTOMER_ID           
  LEFT JOIN POL_POLICY_PROCESS PRO           
  ON PRO.CUSTOMER_ID = CPL.CUSTOMER_ID          
  AND PRO.POLICY_ID = CPL.POLICY_ID          
  AND PRO.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID          
  AND PRO.PROCESS_ID IN (29,12)          
  LEFT JOIN MNT_LOOKUP_VALUES LKP           
  ON LKP.LOOKUP_UNIQUE_ID = PRO.CANCELLATION_TYPE          
  WHERE (ISNULL(OPEN_ITEM.TOTAL_PAID,0) - ISNULL(OPEN_ITEM.TOTAL_DUE,0)) > 0          
  AND          
  ( SELECT ISNULL(SUM(ISNULL(OI.TOTAL_DUE,0) - ISNULL(OI.TOTAL_PAID,0)),0)           
    FROM ACT_CUSTOMER_OPEN_ITEMS OI           
    WHERE OI.CUSTOMER_ID = CPL.CUSTOMER_ID AND OI.POLICY_ID = CPL.POLICY_ID           
  ) < 0           
  --AND  ITEM_STATUS in (@ITEM_STATUS , case when @ITEM_STATUS = 'RSP' then 'ROP' end)          
  AND ISNULL(IS_CHECK_CREATED,'N') = 'N'            
  --AND SOURCE_TRAN_DATE <= @TODATE          
  AND CAST(CONVERT(VARCHAR,SOURCE_TRAN_DATE,101) AS DATETIME) <= @TODATE          
  AND CPL.POLICY_NUMBER =  CASE @POLICY_NUMBER WHEN '' THEN CPL.POLICY_NUMBER ELSE  @POLICY_NUMBER END  
GROUP BY LKP.LOOKUP_VALUE_DESC, --OPEN_ITEM.IDEN_ROW_ID,
CL.CUSTOMER_FIRST_NAME,CL.CUSTOMER_MIDDLE_NAME,CUSTOMER_LAST_NAME,
CPL.POLICY_NUMBER,CPL.POLICY_DISP_VERSION,CPL.POLICY_ID,CPL.POLICY_VERSION_ID,CPL.CUSTOMER_ID,OPEN_ITEM.POSTING_DATE,
OPEN_ITEM.CUSTOMER_ID,OPEN_ITEM.POLICY_ID,OPEN_ITEM.POLICY_VERSION_ID--,OPEN_ITEM.TOTAL_DUE,OPEN_ITEM.TOTAL_PAID 
  --ORDER BY OPEN_ITEM.IDEN_ROW_ID          
          
 END          
 IF @TODATE  IS NULL           
 BEGIN           
  SELECT  ISNULL(LKP.LOOKUP_VALUE_DESC,' ') AS CANCELLATION_TYPE ,
  CASE WHEN sum(ISNULL(OPEN_ITEM.TOTAL_DUE,0)) < sum(ISNULL(OPEN_ITEM.TOTAL_PAID,0))THEN 'YES' ELSE 'NO' END AS OVERPAYMENT,          
  --OPEN_ITEM.IDEN_ROW_ID As IDEN_ROW_ID,          
  ISNULL(CL.CUSTOMER_FIRST_NAME,'') + ' ' + ISNULL(CL.CUSTOMER_MIDDLE_NAME,'') + ' '           
  +  ISNULL(CUSTOMER_LAST_NAME,'') AS CUSTOMER_NAME ,          
  CPL.POLICY_NUMBER AS POLICY_NUMBER ,          
  CPL.POLICY_DISP_VERSION AS POLICY_DISP_VERSION,          
  CPL.POLICY_ID AS POLICY_ID,          
  CPL.POLICY_VERSION_ID AS POLICY_VERSION_ID,          
  CPL.CUSTOMER_ID AS CUSTOMER_ID,          
--  OPEN_ITEM.POSTING_DATE AS SOURCE_TRAN_DATE,      
(
	select max(EFFECTIVE_DATETIME) from POL_POLICY_PROCESS OIIN where     
	 OIIN.customer_id = OPEN_ITEM.CUSTOMER_ID and    
	 OIIN.policy_id = OPEN_ITEM.POLICY_ID AND
	 OIIN.POLICY_VERSION_ID = OPEN_ITEM.POLICY_VERSION_ID
     AND PROCESS_ID IN(12,14)
)AS SOURCE_TRAN_DATE,
  --ISNULL(OPEN_ITEM.TOTAL_PAID,0) - ISNULL(OPEN_ITEM.TOTAL_DUE,0) AS OP_AMOUNT          
  CONVERT(VARCHAR(20),CONVERT(MONEY,(SUM(ISNULL(OPEN_ITEM.TOTAL_PAID,0)) - SUM(ISNULL(OPEN_ITEM.TOTAL_DUE,0)))),1) AS OP_AMOUNT,    
  /*case  @ITEM_STATUS when 'RP' THEN  */   
  convert(varchar(30),(select max(posting_date) from ACT_CUSTOMER_OPEN_ITEMS OIIN where     
  OIIN.customer_id = OPEN_ITEM.CUSTOMER_ID and    
  OIIN.policy_id = OPEN_ITEM.POLICY_ID and    
  updated_from='D'),101)         
  AS PAYMENT_DATE
  FROM POL_CUSTOMER_POLICY_LIST CPL          
  INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OPEN_ITEM          
  ON CPL.CUSTOMER_ID = OPEN_ITEM.CUSTOMER_ID          
  AND CPL.POLICY_ID  = OPEN_ITEM.POLICY_ID          
  AND CPL.POLICY_VERSION_ID = OPEN_ITEM.POLICY_VERSION_ID          
  INNER JOIN CLT_CUSTOMER_LIST CL          
  ON CL.CUSTOMER_ID = CPL.CUSTOMER_ID           
  LEFT JOIN POL_POLICY_PROCESS PRO           
  ON PRO.CUSTOMER_ID = CPL.CUSTOMER_ID          
  AND PRO.POLICY_ID = CPL.POLICY_ID          
  AND PRO.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID          
  AND PRO.PROCESS_ID IN (29,12)          
  LEFT JOIN MNT_LOOKUP_VALUES LKP           
  ON LKP.LOOKUP_UNIQUE_ID = PRO.CANCELLATION_TYPE          
  WHERE (ISNULL(OPEN_ITEM.TOTAL_PAID,0) - ISNULL(OPEN_ITEM.TOTAL_DUE,0)) > 0          
  AND          
  ( SELECT ISNULL(SUM(ISNULL(OI.TOTAL_DUE,0) - ISNULL(OI.TOTAL_PAID,0)),0)           
    FROM ACT_CUSTOMER_OPEN_ITEMS OI           
    WHERE OI.CUSTOMER_ID = CPL.CUSTOMER_ID AND OI.POLICY_ID = CPL.POLICY_ID           
  ) < 0           
  --AND  ITEM_STATUS in (@ITEM_STATUS , case when @ITEM_STATUS = 'RSP' then 'ROP' end)          
  AND ISNULL(IS_CHECK_CREATED,'N') = 'N'            
  --AND SOURCE_TRAN_DATE >= @TODATE          
  AND CAST(CONVERT(VARCHAR,SOURCE_TRAN_DATE,101) AS DATETIME) >= @FROMDATE          
  AND CPL.POLICY_NUMBER =  CASE @POLICY_NUMBER WHEN '' THEN CPL.POLICY_NUMBER ELSE  @POLICY_NUMBER END  
GROUP BY LKP.LOOKUP_VALUE_DESC, --OPEN_ITEM.IDEN_ROW_ID,
CL.CUSTOMER_FIRST_NAME,CL.CUSTOMER_MIDDLE_NAME,CUSTOMER_LAST_NAME,
CPL.POLICY_NUMBER,CPL.POLICY_DISP_VERSION,CPL.POLICY_ID,CPL.POLICY_VERSION_ID,CPL.CUSTOMER_ID,OPEN_ITEM.POSTING_DATE,
OPEN_ITEM.CUSTOMER_ID,OPEN_ITEM.POLICY_ID,OPEN_ITEM.POLICY_VERSION_ID--,OPEN_ITEM.TOTAL_DUE,OPEN_ITEM.TOTAL_PAID 
  --ORDER BY OPEN_ITEM.IDEN_ROW_ID          
 END          
END                    
IF @FROMDATE  IS NOT NULL AND @TODATE IS NOT NULL           
BEGIN           
 SELECT  ISNULL(LKP.LOOKUP_VALUE_DESC,' ') AS CANCELLATION_TYPE , 
 CASE WHEN sum(ISNULL(OPEN_ITEM.TOTAL_DUE,0)) < sum(ISNULL(OPEN_ITEM.TOTAL_PAID,0))THEN 'YES' ELSE 'NO' END AS OVERPAYMENT,         
 --OPEN_ITEM.IDEN_ROW_ID As IDEN_ROW_ID,          
 ISNULL(CL.CUSTOMER_FIRST_NAME,'') + ' ' + ISNULL(CL.CUSTOMER_MIDDLE_NAME,'') + ' '           
 +  ISNULL(CUSTOMER_LAST_NAME,'') AS CUSTOMER_NAME ,          
 CPL.POLICY_NUMBER AS POLICY_NUMBER ,          
 CPL.POLICY_DISP_VERSION AS POLICY_DISP_VERSION,          
 CPL.POLICY_ID AS POLICY_ID,          
 CPL.POLICY_VERSION_ID AS POLICY_VERSION_ID,          
 CPL.CUSTOMER_ID AS CUSTOMER_ID,          
--OPEN_ITEM.POSTING_DATE AS SOURCE_TRAN_DATE,           
(
	select max(EFFECTIVE_DATETIME) from POL_POLICY_PROCESS OIIN where     
	 OIIN.customer_id = OPEN_ITEM.CUSTOMER_ID and    
	 OIIN.policy_id = OPEN_ITEM.POLICY_ID AND
	 OIIN.POLICY_VERSION_ID = OPEN_ITEM.POLICY_VERSION_ID   
     AND PROCESS_ID IN(12,14)
)AS SOURCE_TRAN_DATE,
 CONVERT(VARCHAR(20),CONVERT(MONEY,(sum(ISNULL(OPEN_ITEM.TOTAL_PAID,0)) - sum(ISNULL(OPEN_ITEM.TOTAL_DUE,0)))),1) AS OP_AMOUNT,     
  /*case  @ITEM_STATUS when 'RP' THEN     */
  convert(varchar(30),(select max(posting_date) from ACT_CUSTOMER_OPEN_ITEMS OIIN where     
 OIIN.customer_id = OPEN_ITEM.CUSTOMER_ID and    
 OIIN.policy_id = OPEN_ITEM.POLICY_ID and    
 updated_from='D'),101)    
 AS PAYMENT_DATE
 FROM POL_CUSTOMER_POLICY_LIST CPL          
 INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OPEN_ITEM          
 ON CPL.CUSTOMER_ID = OPEN_ITEM.CUSTOMER_ID          
 AND CPL.POLICY_ID  = OPEN_ITEM.POLICY_ID          
 AND CPL.POLICY_VERSION_ID = OPEN_ITEM.POLICY_VERSION_ID          
 INNER JOIN CLT_CUSTOMER_LIST CL          
 ON CL.CUSTOMER_ID = CPL.CUSTOMER_ID           
 LEFT JOIN POL_POLICY_PROCESS PRO           
 ON PRO.CUSTOMER_ID = CPL.CUSTOMER_ID          
 AND PRO.POLICY_ID = CPL.POLICY_ID          
 AND PRO.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID          
 AND PRO.PROCESS_ID IN (29,12)          
 LEFT JOIN MNT_LOOKUP_VALUES LKP           
 ON LKP.LOOKUP_UNIQUE_ID = PRO.CANCELLATION_TYPE          
 WHERE (ISNULL(OPEN_ITEM.TOTAL_PAID,0) - ISNULL(OPEN_ITEM.TOTAL_DUE,0)) > 0          
 AND          
  ( SELECT ISNULL(SUM(ISNULL(OI.TOTAL_DUE,0) - ISNULL(OI.TOTAL_PAID,0)),0)           
    FROM ACT_CUSTOMER_OPEN_ITEMS OI           
    WHERE OI.CUSTOMER_ID = CPL.CUSTOMER_ID AND OI.POLICY_ID = CPL.POLICY_ID           
  ) < 0  
 --AND  ITEM_STATUS in (@ITEM_STATUS , case when @ITEM_STATUS = 'RSP' then 'ROP' end)          
 AND ISNULL(IS_CHECK_CREATED,'N') = 'N'            
 --AND SOURCE_TRAN_DATE >= @FROMDATE AND SOURCE_TRAN_DATE <= @TODATE          
 AND CAST(CONVERT(VARCHAR,SOURCE_TRAN_DATE,101) AS DATETIME) >= @FROMDATE AND CAST(CONVERT(VARCHAR,SOURCE_TRAN_DATE,101) AS DATETIME) <= @TODATE          
 AND CPL.POLICY_NUMBER =  CASE @POLICY_NUMBER WHEN '' THEN CPL.POLICY_NUMBER ELSE  @POLICY_NUMBER END  
GROUP BY LKP.LOOKUP_VALUE_DESC, --OPEN_ITEM.IDEN_ROW_ID,
CL.CUSTOMER_FIRST_NAME,CL.CUSTOMER_MIDDLE_NAME,CUSTOMER_LAST_NAME,
CPL.POLICY_NUMBER,CPL.POLICY_DISP_VERSION,CPL.POLICY_ID,CPL.POLICY_VERSION_ID,CPL.CUSTOMER_ID,OPEN_ITEM.POSTING_DATE,
OPEN_ITEM.CUSTOMER_ID,OPEN_ITEM.POLICY_ID ,OPEN_ITEM.POLICY_VERSION_ID--,OPEN_ITEM.TOTAL_DUE,OPEN_ITEM.TOTAL_PAID
-- ORDER BY OPEN_ITEM.IDEN_ROW_ID          
END          


SELECT SYS_PAYMENT_DAYS FROM MNT_SYSTEM_PARAMS     
END                  
            
          
          
          
--go           
--exec dbo.Proc_GetOpenItemsForCheck_without_status '','01/13/2009',''             
----exec dbo.Proc_GetOpenItemsForCheck '','09/13/2009','RP',''             
--rollback tran           
--         
    
    
--select max(posting_date) from ACT_CUSTOMER_OPEN_ITEMS where     
--customer_id = and    
--policy_id = and    
--policy_version_id updated_from='D'

--select CUSTOMER_NAME, POLICY_NUMBER, POLICY_VERSION, PAYMENT_DATE, SOURCE_TRAN_DATE,SUM(ISNULL(OP_AMOUNT,0),
--CANCELLATION_TYPE
--FROM
GO

