IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetDiscountSurchargeList]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetDiscountSurchargeList]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--Drop Proc Proc_GetDiscountSurchargeList        
CREATE PROC [dbo].[Proc_GetDiscountSurchargeList]          
@CUSTOMER_ID INT,        
@POLICY_ID INT,        
@POLICY_VERSION_ID INT ,
@Level nvarchar(25)=''         
AS          
BEGIN          
declare @LOB_ID int,@SUB_LOB_ID int      
Declare @FROMEFFECTIVEDATE datetime    
Declare  @TOEFFECTIVEDATE datetime 

    
            
select @LOB_ID=policy_lob ,@SUB_LOB_ID=POLICY_SUBLOB,    
@FROMEFFECTIVEDATE=isnull(POLICY_EFFECTIVE_DATE,APP_EFFECTIVE_DATE),    
 @TOEFFECTIVEDATE=isnull(POLICY_EXPIRATION_DATE,APP_EXPIRATION_DATE)     
from POL_CUSTOMER_POLICY_LIST with(nolock)      
WHERE CUSTOMER_ID=@CUSTOMER_ID       
AND POLICY_ID=@POLICY_ID       
AND POLICY_VERSION_ID=@POLICY_VERSION_ID         
      
if(UPPER(@Level) = 'POL' )   (
SELECT DISTINCT T1.DISCOUNT_ID,T1.DISCOUNT_DESCRIPTION,T1.PERCENTAGE,T1.IS_ACTIVE AS STATUS       
  FROM  MNT_DISCOUNT_SURCHARGE T1      
  WHERE T1.LOB_ID=@LOB_ID   
  --AND (T1.SUBLOB_ID=@SUB_LOB_ID or T1.SUBLOB_ID=0 )        
  AND T1.DISCOUNT_DESCRIPTION IS NOT NULL AND T1.DISCOUNT_DESCRIPTION <> '' AND    
  (T1.EFFECTIVE_DATE<=@FROMEFFECTIVEDATE AND T1.FINAL_DATE>=@FROMEFFECTIVEDATE)AND LEVEL=14706          
       )
       ELSE  IF(UPPER(@Level) = 'RSK' ) 
      ( SELECT DISTINCT T1.DISCOUNT_ID,T1.DISCOUNT_DESCRIPTION,T1.PERCENTAGE,T1.IS_ACTIVE AS STATUS       
  FROM  MNT_DISCOUNT_SURCHARGE T1      
  WHERE T1.LOB_ID=@LOB_ID   
  --AND (T1.SUBLOB_ID=@SUB_LOB_ID or T1.SUBLOB_ID=0 )        
  AND T1.DISCOUNT_DESCRIPTION IS NOT NULL AND T1.DISCOUNT_DESCRIPTION <> '' AND    
  (T1.EFFECTIVE_DATE<=@FROMEFFECTIVEDATE AND T1.FINAL_DATE>=@FROMEFFECTIVEDATE) AND LEVEL=14705         
       )
       
 
END 

GO

