IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_SUSEP_RESPREMC_INWARD_COINSURANCE_PREMIUM_RESERVE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_SUSEP_RESPREMC_INWARD_COINSURANCE_PREMIUM_RESERVE]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[PROC_SUSEP_RESPREMC_INWARD_COINSURANCE_PREMIUM_RESERVE]    
(
 @DATETIME DATETIME,  
 @CLAIM_NUMBER NVARCHAR(21)=NULL
)        
AS 

 DECLARE @MONTH VARCHAR(2)  
 DECLARE @YEAR VARCHAR(4) 
 DECLARE @TEMP NVARCHAR(500)
 SET @MONTH= DATEPART(MM, @DATETIME) 
 SET @YEAR=(SELECT DATEPART(YYYY, @DATETIME))  
 BEGIN
	DECLARE @TEMPTABLE TABLE 
	(
		SEQUENCE_NO INT IDENTITY(1,1),
		COMPANY_CODE VARCHAR(50),
		REFERENCE_MONTH VARCHAR(8),
		SUSEP_LOB_CODE VARCHAR(5)
	)
INSERT INTO @TEMPTABLE  
  
   SELECT 
		 '05045' AS COMPANY_CODE, --Aliança da Bahia SUSEP code
		 --@YEAR + '0' + @MONTH AS REFERENCE_MONTH,
		 CASE 
			WHEN @MONTH IN (1,2,3,4,5,6,7,8,9) THEN  @YEAR + '0' + @MONTH 
			WHEN @MONTH IN (10,11,12) THEN  @YEAR + @MONTH
		 END AS REFERENCE_MONTH, --Reference month of the report.
		 MLM.SUSEP_LOB_CODE  --SUSEP LOB code
   FROM 
		CLM_CLAIM_INFO CCI WITH(NOLOCK)	 			
   LEFT OUTER JOIN
		MNT_LOB_MASTER MLM WITH(NOLOCK) ON (MLM.LOB_ID=CCI.LOB_ID)
   WHERE
		 CONVERT(varchar(6),CCI.CREATED_DATETIME,112) = CONVERT(varchar(6),@DATETIME,112) AND
		 (@CLAIM_NUMBER IS NULL OR CCI.CLAIM_NUMBER = @CLAIM_NUMBER)

   SELECT 
		RIGHT('0000000000' +CONVERT(VARCHAR,SEQUENCE_NO),10) AS SEQUENCE_NO,
		COMPANY_CODE,
		REFERENCE_MONTH,
		SUSEP_LOB_CODE
   FROM @TEMPTABLE 
   
END



GO

