IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MNT_REIN_GETXML_CONTACT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[MNT_REIN_GETXML_CONTACT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



/*----------------------------------------------------------        
Proc Name        : dbo.MNT_REIN_GETXML_CONTACT        
Created by       : Harmanjeet Singh      
Date             : April 20,2007     
Purpose          : retrieving data from MNT_REIN_CONTACT       
Revison History  :        
Used In         : Wolverine        
------------------------------------------------------------        
Date     Review By          Comments        
------   ------------       -------------------------*/    
-- Proc_FetchReisurernfo 18
-- DROP PROC dbo.Proc_FetchReisurernfo 

     
CREATE PROC [dbo].[MNT_REIN_GETXML_CONTACT]        
@REIN_CONTACT_ID INT        
AS        
        
BEGIN        
SELECT 

ISNULL(REIN_CONTACT_ID,0) REIN_CONTACT_ID,
ISNULL(REIN_CONTACT_NAME,'') REIN_CONTACT_NAME,
ISNULL(REIN_CONTACT_CODE,'') REIN_CONTACT_CODE,
ISNULL(REIN_CONTACT_POSITION,'') REIN_CONTACT_POSITION,
ISNULL(REIN_CONTACT_SALUTATION,'') REIN_CONTACT_SALUTATION,

ISNULL(REIN_CONTACT_ADDRESS_1,'') REIN_CONTACT_ADDRESS_1,
ISNULL(REIN_CONTACT_ADDRESS_2,'') REIN_CONTACT_ADDRESS_2,      

ISNULL(REIN_CONTACT_ADDRESS_1,'')+' '+ISNULL(REIN_CONTACT_ADDRESS_2,'') AS ADDRESS,

ISNULL(REIN_CONTACT_CITY,'') REIN_CONTACT_CITY,
ISNULL(REIN_CONTACT_COUNTRY,'') REIN_CONTACT_COUNTRY,
ISNULL(REIN_CONTACT_STATE,'') REIN_CONTACT_STATE,
ISNULL(REIN_CONTACT_ZIP,'') REIN_CONTACT_ZIP,
ISNULL(REIN_CONTACT_PHONE_1,'') REIN_CONTACT_PHONE_1,
ISNULL(REIN_CONTACT_PHONE_2,'') REIN_CONTACT_PHONE_2,
ISNULL(REIN_CONTACT_EXT_1,0) REIN_CONTACT_EXT_1,     
ISNULL(REIN_CONTACT_EXT_2,0) REIN_CONTACT_EXT_2,     

ISNULL(M_REIN_CONTACT_ADDRESS_1,'') M_REIN_CONTACT_ADDRESS_1,        
ISNULL(M_REIN_CONTACT_ADDRESS_2,'') M_REIN_CONTACT_ADDRESS_2,        
ISNULL(M_REIN_CONTACT_CITY,'') M_REIN_CONTACT_CITY,        
ISNULL(M_REIN_CONTACT_COUNTRY,'') M_REIN_CONTACT_COUNTRY,        
ISNULL(M_REIN_CONTACT_STATE,'') M_REIN_CONTACT_STATE,        
ISNULL(M_REIN_CONTACT_ZIP,'') M_REIN_CONTACT_ZIP,        
ISNULL(M_REIN_CONTACT_PHONE_1,'') M_REIN_CONTACT_PHONE_1,  
ISNULL(M_REIN_CONTACT_PHONE_2,'') M_REIN_CONTACT_PHONE_2,  
ISNULL(M_REIN_CONTACT_EXT_1,'') M_REIN_CONTACT_EXT_1, 
ISNULL(M_REIN_CONTACT_EXT_2,'') M_REIN_CONTACT_EXT_2, 

ISNULL(REIN_CONTACT_MOBILE,'') REIN_CONTACT_MOBILE,
ISNULL(REIN_CONTACT_FAX,0) REIN_CONTACT_FAX,
ISNULL(REIN_CONTACT_SPEED_DIAL,0) REIN_CONTACT_SPEED_DIAL,
ISNULL(REIN_CONTACT_EMAIL_ADDRESS,'') REIN_CONTACT_EMAIL_ADDRESS,        
ISNULL(REIN_CONTACT_CONTRACT_DESC,'') REIN_CONTACT_CONTRACT_DESC,
ISNULL(REIN_CONTACT_COMMENTS,'') REIN_CONTACT_COMMENTS,
IS_ACTIVE        
  
--CONVERT(VARCHAR,TERMINATION_DATE,101) TERMINATION_DATE,    
    
   
FROM MNT_REIN_CONTACT        
      
where REIN_CONTACT_ID=@REIN_CONTACT_ID        
END   

GO

