IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetAcord_XML]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetAcord_XML]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROC dbo.Proc_GetAcord_XML      
(       
	@INSURANCE_SVC_RQ varchar(100) ,
	@APP_NUMBER			Varchar(20) Out     
)              
AS              
BEGIN              
    
	SELECT @APP_NUMBER = ISNULL(APP.APP_NUMBER,'') FROM ACORD_QUOTE_DETAILS QQ
	LEFT JOIN APP_LIST APP ON APP.CUSTOMER_ID = QQ.CUSTOMER_ID AND APP.APP_ID = QQ.APP_ID 
	AND QQ.APP_VERSION_ID = APP.APP_VERSION_ID
	WHERE INSURANCE_SVC_RQ = @INSURANCE_SVC_RQ     
	
	SELECT  ACORD_XML,AGENCY_ID FROM ACORD_QUOTE_DETAILS 
	WHERE INSURANCE_SVC_RQ = @INSURANCE_SVC_RQ     

 --CONVERT(uniqueidentifier,@INSURANCE_SVC_RQ)    
           
END    









GO

