IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_Check_Endorsement_Log]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_Check_Endorsement_Log]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--drop proc Proc_Check_Endorsement_Log
/*  
CREATED BY	: Praveen kasana  
DATE		: 16 April 2008  
PURPOSE		; TO CHECK ENDORSEMENTS_DETAILS BEFORE  COMMITING ENDORSEMENT PROCESS.
USED IN		: WOLVERINE  
MODIFIED BY	:PRAVESH K CHANDEL
DATE		:31 JULY 2008
PURPOSE		: ADD CONDITION IF  ENDORSEMENT ROLLED BACK

*/  

CREATE PROC [dbo].[Proc_Check_Endorsement_Log]  
(  
 @CUSTOMER_ID INT,
 @POLICY_ID  INT,
 @POLICY_VERSION_ID INT
 
)  
  
AS   
SELECT PLED.ENDORSEMENT_NO FROM POL_POLICY_ENDORSEMENTS_DETAILS PLED WITH(NOLOCK) 
LEFT JOIN POL_POLICY_ENDORSEMENTS PLE ON PLE.ENDORSEMENT_NO = PLED.ENDORSEMENT_NO AND PLE.POLICY_ID = PLED.POLICY_ID AND PLE.POLICY_VERSION_ID = PLED.POLICY_VERSION_ID AND  PLE.CUSTOMER_ID = PLED.CUSTOMER_ID
WHERE 
 PLED.POLICY_ID =@POLICY_ID 
AND PLED.CUSTOMER_ID = @CUSTOMER_ID  
AND  PLED.POLICY_VERSION_ID = @POLICY_VERSION_ID
AND ISNULL(PLE.ENDORSEMENT_STATUS,'')<>'CAN'



GO

