IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_UPDATE_MEL_EVENTOS_POLICY_EXCLUSION]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_UPDATE_MEL_EVENTOS_POLICY_EXCLUSION]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[PROC_UPDATE_MEL_EVENTOS_POLICY_EXCLUSION]
(
@ROW_ID INT,
@DATE DATETIME = NULL,
@CUSTOMER_ID INT,
@POLICY_ID INT,
@POLICY_NO VARCHAR(25)
--,@RETURN_VALUE INT OUT
)
AS
BEGIN
 		IF  EXISTS (SELECT ROW_ID FROM MEL_EVENTOS_POLICY_EXCLUSION WHERE ROW_ID = @ROW_ID)
		BEGIN
		
			UPDATE MEL_EVENTOS_POLICY_EXCLUSION
			SET CUSTOMER_ID = @CUSTOMER_ID,
			POLICY_ID = @POLICY_ID,
			POLICY_NO = @POLICY_NO
			WHERE ROW_ID = @ROW_ID
			
			
			 --SET @RETURN_VALUE = 1
			 return 1
		END
		ELSE
			--SET @RETURN_VALUE = -2
			 return -2
		
		
END

GO

