IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_GETPDF_BOATDETAILS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_GETPDF_BOATDETAILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE    PROCEDURE dbo.PROC_GETPDF_BOATDETAILS                            
 @CUSTOMERID   int,                              
 @POLID                int,                              
 @VERSIONID   int,                              
 @CALLEDFROM  VARCHAR(20)                              
AS                              
BEGIN                              
 IF @CALLEDFROM='APPLICATION'                              
 BEGIN                              
 SELECT DISTINCT MLV.LOOKUP_VALUE_DESC as BOAT_TERRITORY,ML6.LOOKUP_VALUE_DESC AS WATERS_NAVIGATED_USE,ISNULL(ML5.LOOKUP_VALUE_DESC,'') AS BOATTYPE, WI.BOAT_ID,wi.BOAT_NO, CASE TYPE_OF_WATERCRAFT WHEN 11371 THEN 'I' WHEN 11487 THEN 'O' WHEN 11370 THEN    



  
   
'IO'                  
   WHEN 11372 THEN 'S' ELSE 'OTH' END AS BOAT_POWER,ML4.LOOKUP_VALUE_DESC AS HULL_MATERIAL,                              
  CASE PHOTO_ATTACHED WHEN 10964 THEN 'Y'WHEN 10963 THEN 'N' END AS PHOTO_ATTACHED,                              
  CASE MARINE_SURVEY WHEN 10964 THEN 'Y'WHEN 10963 THEN 'N' END AS MARINE_SURVEY,                              
  CASE HULL_MATERIAL WHEN 142 THEN 'F' WHEN 140 THEN 'W' ELSE 'O' END AS HULLMATERIAL,                              
  CASE HULL_MATERIAL WHEN 141 THEN 'Steel' WHEN 11441 THEN 'Rubber' WHEN 11440 THEN 'Aluminium' ELSE '' END AS HULLMATERIAL_DESCRIPTION,                              
  wi.YEAR AS BOAT_YEAR, 
 CASE WHEN ISNULL(wi.MODEL,'') != '' THEN wi.MAKE +' / ' + ISNULL(wi.MODEL,'') ELSE wi.MAKE END  AS BOAT_MAKE_MODEL,         
  ISNULL(wi.MAKE,'') AS BOAT_MAKE, ISNULL(wi.MODEL,'') AS BOAT_MODEL,                             
  ISNULL(LENGTH,0) AS BOAT_LENGTH, ISNULL(INCHES,0) AS BOAT_INCHES,ISNULL(MAX_SPEED,0) AS BOAT_SPEED,ISNULL(CONVERT(VARCHAR(11),DATE_PURCHASED,101),'') DATE_PURCHASED,              
  REPLACE(CONVERT(VARCHAR,convert(money,WI.INSURING_VALUE),1),'.00','')                
  AS PRESENT_VALUE,ISNULL(HULL_ID_NO,'') AS HULL_ID_NO, ISNULL(ML1.LOOKUP_VALUE_DESC,'') AS BOAT_WATERS_NAV,                              
   ISNULL(ML2.LOOKUP_VALUE_DESC,'') AS BOAT_TERRITORY,RTRIM(ISNULL(LOCATION_ADDRESS,'')) AS LOCADD,                               
  RTRIM(ISNULL(LOCATION_CITY,'')) + ', '+ ISNULL(CL.STATE_CODE,'') + ' ' + ISNULL(LOCATION_ZIP,'')                              
  AS LOCCITY,ISNULL(LAY_UP_PERIOD_FROM_DAY,0) AS LAY_UP_PERIOD_FROM_DAY,ISNULL(LAY_UP_PERIOD_FROM_MONTH,0)AS LAY_UP_PERIOD_FROM_MONTH,                              
  ISNULL(LAY_UP_PERIOD_TO_DAY,0) AS LAY_UP_PERIOD_TO_DAY,ISNULL(LAY_UP_PERIOD_TO_MONTH,0) AS LAY_UP_PERIOD_TO_MONTH,                              
  ISNULL(ML3.LOOKUP_VALUE_DESC,'') AS BOAT_TYPE, ISNULL(WATERCRAFT_HORSE_POWER,0) AS HORSE_POWER,                              
  ISNULL(HULL_MATERIAL,'') AS HULL_MATERIAL,                              
  AWCI.DEDUCTIBLE_1 DEDUCTIBLE,ML_TWINSINGLE.LOOKUP_VALUE_DESC TWIN_SINGLE,                          
                          
/*  ISNULL(AWEI.ENGINE_NO,'') ENGINE_NUMBER,                          
  CASE ISNULL(AWEI.ENGINE_NO,'')                           
 WHEN '' THEN ''                          
 ELSE 'Engine'                          
  END ENGINETYPE,                           
 ISNULL(CONVERT(VARCHAR(20),AWEI.YEAR),'') ENGINE_YEAR, ISNULL(AWEI.MAKE,'')+                           
 CASE ISNULL(AWEI.MODEL,'')                           
 WHEN '' THEN ''                          
 ELSE '/'                          
 END+ISNULL(AWEI.MODEL,'') ENGINE_DESCRIPTION, ISNULL(AWEI.SERIAL_NO,'') ENGINE_SERIAL_NO,                          
 AWEI.INSURING_VALUE ENGINE_LIMIT,                          
                           
 ISNULL(CONVERT(VARCHAR(20),AWTI.TRAILER_NO),'') TRAILER_NUMBER,                          
  CASE ISNULL(AWTI.TRAILER_NO,'')                           
 WHEN '' THEN ''                          
 ELSE 'Trailer'                      
  END TRAILERTYPE,                 
 ISNULL(CONVERT(VARCHAR(20),AWTI.YEAR),'') TRAILER_YEAR, ISNULL(AWTI.MANUFACTURER,'') TRAILER_DESCRIPTION, ISNULL(AWTI.SERIAL_NO,'') TRAILER_SERIAL_NO,                          
 AWTI.INSURED_VALUE TRAILER_LIMIT,      */                
 AL.APPLY_INSURANCE_SCORE                          
                        FROM APP_WATERCRAFT_INFO WI                              
  LEFT OUTER JOIN MNT_LOOKUP_VALUES ML1 WITH(NOLOCK) ON ML1.LOOKUP_ID = WI.WATERS_NAVIGATED                              
  LEFT OUTER JOIN MNT_LOOKUP_VALUES ML2 WITH(NOLOCK) ON ML2.LOOKUP_ID = WI.TERRITORY                              
  LEFT OUTER JOIN MNT_LOOKUP_VALUES ML3 WITH(NOLOCK) ON ML3.LOOKUP_ID = WI.TYPE_OF_WATERCRAFT                           
  LEFT OUTER JOIN MNT_LOOKUP_VALUES ML4 WITH(NOLOCK) ON ML4.LOOKUP_UNIQUE_ID = WI.HULL_MATERIAL                              
LEFT JOIN MNT_COUNTRY_STATE_LIST CL ON CL.STATE_ID=WI.LOCATION_STATE                              
  LEFT OUTER JOIN MNT_LOOKUP_VALUES ML5 WITH(NOLOCK) ON ML5.LOOKUP_UNIQUE_ID = WI.TYPE_OF_WATERCRAFT                              
  LEFT OUTER join MNT_LOOKUP_VALUES mlv WITH(NOLOCK) ON mlv.LOOKUP_UNIQUE_ID=territory and mlv.lookup_id = '876'                              
  LEFT OUTER join MNT_LOOKUP_VALUES ml6 WITH(NOLOCK) ON ml6.LOOKUP_UNIQUE_ID=WATERS_NAVIGATED and ml6.lookup_id = '972'                              
  LEFT OUTER join MNT_LOOKUP_VALUES ML_TWINSINGLE WITH(NOLOCK) ON ML_TWINSINGLE.LOOKUP_UNIQUE_ID=TWIN_SINGLE and ML_TWINSINGLE.lookup_id = '1204'                              
  LEFT OUTER JOIN APP_WATERCRAFT_COVERAGE_INFO AWCI WITH(NOLOCK) ON WI.customer_id = AWCI.customer_id AND WI.APP_ID=AWCI.APP_ID AND WI.APP_VERSION_ID=AWCI.APP_VERSION_ID AND COVERAGE_CODE_ID =11                           
--  LEFT OUTER JOIN APP_WATERCRAFT_ENGINE_INFO AWEI WITH(NOLOCK) ON WI.CUSTOMER_ID = AWEI.CUSTOMER_ID AND WI.APP_ID=AWEI.APP_ID AND WI.APP_VERSION_ID=AWEI.APP_VERSION_ID AND WI.BOAT_NO=AWEI.ASSOCIATED_BOAT                               
--  LEFT OUTER JOIN APP_WATERCRAFT_TRAILER_INFO AWTI WITH(NOLOCK) ON WI.CUSTOMER_ID = AWTI.CUSTOMER_ID AND WI.APP_ID=AWTI.APP_ID AND WI.APP_VERSION_ID=AWTI.APP_VERSION_ID AND WI.BOAT_NO=AWTI.ASSOCIATED_BOAT                               
  LEFT OUTER JOIN APP_LIST AL WITH(NOLOCK) ON WI.CUSTOMER_ID = AL.CUSTOMER_ID AND WI.APP_ID=AL.APP_ID AND WI.APP_VERSION_ID=AL.APP_VERSION_ID                      
  WHERE WI.CUSTOMER_ID = @CUSTOMERID AND WI.APP_ID = @POLID AND WI.APP_VERSION_ID = @VERSIONID                               
  and wi.is_active='Y'                               
  ORDER BY wi.BOAT_NO                              
                            
 END                              
 ELSE IF @CALLEDFROM='POLICY'                              
 BEGIN                              
  SELECT DISTINCT mlv.lookup_value_desc as BOAT_TERRITORY,ML6.LOOKUP_VALUE_DESC AS WATERS_NAVIGATED_USE,ISNULL(ML5.LOOKUP_VALUE_DESC,'') AS BOATTYPE,WI.BOAT_ID ,BOAT_NO, CASE TYPE_OF_WATERCRAFT WHEN 11371 THEN 'I' WHEN 11487 THEN 'O' WHEN 11370 THEN 'IO'



 
  
    
      
                     
  WHEN 11372 THEN 'S' ELSE 'OTH' END AS BOAT_POWER,ML4.LOOKUP_VALUE_DESC AS HULL_MATERIAL,                              
  CASE PHOTO_ATTACHED WHEN 10964 THEN 'Y'WHEN 10963 THEN 'N' END AS PHOTO_ATTACHED,                              
  CASE MARINE_SURVEY WHEN 10964 THEN 'Y'WHEN 10963 THEN 'N' END AS MARINE_SURVEY,                              
  CASE HULL_MATERIAL WHEN 142 THEN 'F' WHEN 140 THEN 'W' ELSE 'O' END AS HULLMATERIAL,                              
  CASE HULL_MATERIAL WHEN 141 THEN 'Steel' WHEN 11441 THEN 'Rubber' WHEN 11440 THEN 'Aluminium' ELSE '' END AS HULLMATERIAL_DESCRIPTION,                              
  wi.YEAR AS BOAT_YEAR, 
--ISNULL(wi.MAKE,'') +' / ' + ISNULL(wi.MODEL,'') AS BOAT_MAKE_MODEL, 
  CASE WHEN ISNULL(wi.MODEL,'') != '' THEN wi.MAKE +' / ' + ISNULL(wi.MODEL,'') ELSE wi.MAKE END  AS BOAT_MAKE_MODEL,
  ISNULL(wi.MAKE,'') AS BOAT_MAKE, ISNULL(wi.MODEL,'') AS BOAT_MODEL,     
  ISNULL(LENGTH,0) AS BOAT_LENGTH, ISNULL(INCHES,0) AS BOAT_INCHES,ISNULL(MAX_SPEED,0) AS BOAT_SPEED,              
ISNULL(CONVERT(VARCHAR(11),DATE_PURCHASED,101),'') DATE_PURCHASED,            
REPLACE(CONVERT(VARCHAR,convert(money,WI.INSURING_VALUE),1),'.00','') AS PRESENT_VALUE,ISNULL(HULL_ID_NO,'') AS HULL_ID_NO, ISNULL(ML1.LOOKUP_VALUE_DESC,'') AS BOAT_WATERS_NAV,                              
   ISNULL(ML2.LOOKUP_VALUE_DESC,'') AS BOAT_TERRITORY,RTRIM(ISNULL(LOCATION_ADDRESS,''))   AS LOCADD,                               
  RTRIM(ISNULL(LOCATION_CITY,'')) + ', '+ ISNULL(CL.STATE_CODE,'') + ' ' + ISNULL(LOCATION_ZIP,'')                         
  AS LOCCITY,ISNULL(LAY_UP_PERIOD_FROM_DAY,0) AS LAY_UP_PERIOD_FROM_DAY,ISNULL(LAY_UP_PERIOD_FROM_MONTH,0)AS LAY_UP_PERIOD_FROM_MONTH,                              
  ISNULL(LAY_UP_PERIOD_TO_DAY,0) AS LAY_UP_PERIOD_TO_DAY,ISNULL(LAY_UP_PERIOD_TO_MONTH,0) AS LAY_UP_PERIOD_TO_MONTH,                              
  ISNULL(ML3.LOOKUP_VALUE_DESC,'') AS BOAT_TYPE, ISNULL(WATERCRAFT_HORSE_POWER,0) AS HORSE_POWER,                              
  ISNULL(HULL_MATERIAL,'') AS HULL_MATERIAL,                              
  AWCI.DEDUCTIBLE_1                             
  DEDUCTIBLE,ML_TWINSINGLE.LOOKUP_VALUE_DESC TWIN_SINGLE,                          
                          
/*ISNULL(AWEI.ENGINE_NO,'') ENGINE_NUMBER,                          
  CASE ISNULL(AWEI.ENGINE_NO,'')                           
 WHEN '' THEN ''                          
 ELSE 'Engine'                     
  END ENGINETYPE,                           
 ISNULL(CONVERT(VARCHAR(20),AWEI.YEAR),'') ENGINE_YEAR, ISNULL(AWEI.MAKE,'')+                           
 CASE ISNULL(AWEI.MODEL,'')              WHEN '' THEN ''                          
 ELSE '/'                          
 END+ISNULL(AWEI.MODEL,'') ENGINE_DESCRIPTION, ISNULL(AWEI.SERIAL_NO,'') ENGINE_SERIAL_NO,                          
 AWEI.INSURING_VALUE ENGINE_LIMIT,                          
                           
 ISNULL(CONVERT(VARCHAR(20),AWTI.TRAILER_NO),'') TRAILER_NUMBER,                          
  CASE ISNULL(AWTI.TRAILER_NO,'')                           
 WHEN '' THEN ''                          
 ELSE 'Trailer'                          
  END TRAILERTYPE,                           
 ISNULL(CONVERT(VARCHAR(20),AWTI.YEAR),'') TRAILER_YEAR, ISNULL(AWTI.MANUFACTURER,'') TRAILER_DESCRIPTION, ISNULL(AWTI.SERIAL_NO,'') TRAILER_SERIAL_NO,                          
 AWTI.INSURED_VALUE TRAILER_LIMIT, */ PL.APPLY_INSURANCE_SCORE                           
                              
  FROM POL_WATERCRAFT_INFO WI  WITH(NOLOCK)                             
  LEFT OUTER JOIN MNT_LOOKUP_VALUES ML1 WITH(NOLOCK) ON ML1.LOOKUP_ID = WI.WATERS_NAVIGATED                              
  LEFT OUTER JOIN MNT_LOOKUP_VALUES ML2 WITH(NOLOCK) ON ML2.LOOKUP_ID = WI.TERRITORY                              
  LEFT OUTER JOIN MNT_LOOKUP_VALUES ML3 WITH(NOLOCK) ON ML3.LOOKUP_ID = WI.TYPE_OF_WATERCRAFT                              
  LEFT OUTER JOIN MNT_LOOKUP_VALUES ML4 WITH(NOLOCK) ON ML4.LOOKUP_UNIQUE_ID = WI.HULL_MATERIAL                              
  LEFT JOIN MNT_COUNTRY_STATE_LIST CL  WITH(NOLOCK) ON CL.STATE_ID=WI.LOCATION_STATE                              
  LEFT OUTER JOIN MNT_LOOKUP_VALUES ML5 WITH(NOLOCK) ON ML5.LOOKUP_UNIQUE_ID = WI.TYPE_OF_WATERCRAFT                              
  LEFT OUTER join MNT_LOOKUP_VALUES mlv WITH(NOLOCK) ON mlv.LOOKUP_UNIQUE_ID=territory and mlv.lookup_id = '876'                              
  LEFT OUTER join MNT_LOOKUP_VALUES ml6 WITH(NOLOCK) ON ml6.LOOKUP_UNIQUE_ID=WATERS_NAVIGATED and ml6.lookup_id = '972'                              
  LEFT OUTER join MNT_LOOKUP_VALUES ML_TWINSINGLE WITH(NOLOCK) ON ML_TWINSINGLE.LOOKUP_UNIQUE_ID=TWIN_SINGLE and ML_TWINSINGLE.lookup_id = '1204'            
  LEFT OUTER JOIN POL_WATERCRAFT_COVERAGE_INFO AWCI WITH(NOLOCK) ON WI.customer_id = AWCI.customer_id AND WI.POLICY_ID=AWCI.POLICY_ID AND WI.POLICY_VERSION_ID=AWCI.POLICY_VERSION_ID AND COVERAGE_CODE_ID =11                            
--  LEFT OUTER JOIN pol_WATERCRAFT_ENGINE_INFO AWEI WITH(NOLOCK) ON WI.CUSTOMER_ID = AWEI.CUSTOMER_ID AND WI.policy_ID=AWEI.POLICY_ID AND WI.policy_VERSION_ID=AWEI.POLICY_VERSION_ID AND WI.BOAT_NO=AWEI.ASSOCIATED_BOAT                               
--  LEFT OUTER JOIN pol_WATERCRAFT_TRAILER_INFO AWTI WITH(NOLOCK) ON WI.CUSTOMER_ID = AWTI.CUSTOMER_ID AND WI.policy_ID=AWTI.POLICY_ID AND WI.policy_VERSION_ID=AWTI.POLICY_VERSION_ID AND WI.BOAT_NO=AWTI.ASSOCIATED_BOAT                               
  LEFT OUTER JOIN POL_CUSTOMER_POLICY_LIST PL WITH(NOLOCK) ON WI.CUSTOMER_ID = PL.CUSTOMER_ID AND WI.policy_ID=PL.POLICY_ID AND WI.policy_VERSION_ID=PL.POLICY_VERSION_ID           
  WHERE WI.CUSTOMER_ID = @CUSTOMERID AND WI.POLICY_ID = @POLID AND WI.POLICY_VERSION_ID = @VERSIONID                            
  and wi.is_active='Y'                           
  ORDER BY wi.BOAT_NO                              
                                
 END                               
                              
                                
END                               




GO

