IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_PULL_CONVERSION_CUSTOMER_DETAILS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_PULL_CONVERSION_CUSTOMER_DETAILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*****************************************************************************************************************************
*	PROCEDURE NAME	:	PROC_PULL_CONVERSION_CUSTOMER_DETAILS
*	CREATED BY		:	ANURAG VERMA
*	CREATED ON		:	MAY 5, 2009
*	PURPOSE			:	THIS PROCEDURE WILL FETCH CONVERSION POLICIES WITHIN DATE RANGE SELECTED.
*	
******************************************************************************************************************************/

--PROC_PULL_CONVERSION_CUSTOMER_DETAILS  '4/1/2009','4/15/2009'  
  
CREATE PROC [PROC_PULL_CONVERSION_CUSTOMER_DETAILS]  
@dtFromDate datetime,  
@dtToDate datetime ,
@POL_NUM NVARCHAR(12) 
AS  
  
IF LEN(@POL_NUM)>0
BEGIN
	SELECT CCL.CUSTOMER_ID,ISNULL(CCL.CUSTOMER_FIRST_NAME,'')+ ' '+ISNULL(CCL.CUSTOMER_MIDDLE_NAME,'')+' '+ISNULL(CCL.CUSTOMER_LAST_NAME,'') AS NAME,  
	ISNULL(CCL.CUSTOMER_ADDRESS1,'')+ ', '+CASE WHEN ISNULL(CUSTOMER_ADDRESS2,'')<>'' THEN ', ' ELSE ' ' END +ISNULL(CCL.CUSTOMER_CITY,'')+', '+ISNULL(STATE_NAME,'')+', '+  
	ISNULL(CCL.CUSTOMER_ZIP,'') AS 'ADDRESS',PCPL1.POLICY_NUMBER ,CCL.CUSTOMER_FIRST_NAME,CCL.CUSTOMER_LAST_NAME,
	POLICY_ID,POLICY_VERSION_ID,POLICY_LOB,'' EXST_CUSTID	,IS_HOME_EMPLOYEE
	FROM POL_CUSTOMER_POLICY_LIST PCPL1   WITH (NOLOCK)
	INNER JOIN CLT_CUSTOMER_LIST CCL WITH (NOLOCK) ON PCPL1.CUSTOMER_ID=CCL.CUSTOMER_ID   
	INNER JOIN MNT_COUNTRY_STATE_LIST MCSL WITH (NOLOCK) ON MCSL.STATE_ID=CCL.CUSTOMER_STATE		
	WHERE POLICY_NUMBER NOT IN (  
	SELECT POLICY_NUMBER FROM POL_CUSTOMER_POLICY_LIST PCPL WITH (NOLOCK) INNER JOIN POL_POLICY_PROCESS PPP WITH (NOLOCK)ON   
	PCPL.CUSTOMER_ID=PPP.CUSTOMER_ID AND PCPL.POLICY_ID=PPP.POLICY_ID AND PCPL.POLICY_VERSION_ID=PPP.POLICY_VERSION_ID 
	WHERE POLICY_NUMBER=@POL_NUM
	)   
	AND FROM_AS400='Y' 
	AND CCL.IS_ACTIVE='Y'   
	AND POLICY_NUMBER=@POL_NUM
	ORDER BY NAME,ADDRESS,  POLICY_NUMBER
END
ELSE
BEGIN
	SELECT CCL.CUSTOMER_ID,ISNULL(CCL.CUSTOMER_FIRST_NAME,'')+ ' '+ISNULL(CCL.CUSTOMER_MIDDLE_NAME,'')+' '+ISNULL(CCL.CUSTOMER_LAST_NAME,'') AS NAME,  
	ISNULL(CCL.CUSTOMER_ADDRESS1,'')+ ', '+CASE WHEN ISNULL(CUSTOMER_ADDRESS2,'')<>'' THEN ', ' ELSE ' ' END +ISNULL(CCL.CUSTOMER_CITY,'')+', '+ISNULL(STATE_NAME,'')+', '+  
	ISNULL(CCL.CUSTOMER_ZIP,'') AS 'ADDRESS',PCPL1.POLICY_NUMBER ,CCL.CUSTOMER_FIRST_NAME,CCL.CUSTOMER_LAST_NAME,
	POLICY_ID,POLICY_VERSION_ID,POLICY_LOB,'' EXST_CUSTID	,IS_HOME_EMPLOYEE
	FROM POL_CUSTOMER_POLICY_LIST PCPL1   WITH (NOLOCK)
	INNER JOIN CLT_CUSTOMER_LIST CCL WITH (NOLOCK) ON PCPL1.CUSTOMER_ID=CCL.CUSTOMER_ID   
	INNER JOIN MNT_COUNTRY_STATE_LIST MCSL WITH (NOLOCK) ON MCSL.STATE_ID=CCL.CUSTOMER_STATE		
	WHERE POLICY_NUMBER NOT IN (  
	SELECT POLICY_NUMBER FROM POL_CUSTOMER_POLICY_LIST PCPL WITH (NOLOCK) INNER JOIN POL_POLICY_PROCESS PPP WITH (NOLOCK)ON   
	PCPL.CUSTOMER_ID=PPP.CUSTOMER_ID AND PCPL.POLICY_ID=PPP.POLICY_ID AND PCPL.POLICY_VERSION_ID=PPP.POLICY_VERSION_ID )   
	AND FROM_AS400='Y' 
	AND CCL.IS_ACTIVE='Y'   
	AND CAST(CONVERT(VARCHAR,PCPL1.CREATED_DATETIME,101) AS DATETIME) >=@dtFromDate  
	AND CAST(CONVERT(VARCHAR,PCPL1.CREATED_DATETIME,101) AS DATETIME)<=@dtToDate  
	ORDER BY NAME,ADDRESS,  POLICY_NUMBER
END


GO

