IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetVehicleAutoIdDetailsPolicy]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetVehicleAutoIdDetailsPolicy]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------                
Proc Name    : Proc_GetVehicleIDs_Policy  
Created by   : Praveen Singh   
Date         : 10/01/2006      
Purpose      : Get the Vehicle IDs for policy   
Revison History  :       
------------------------------------------------------------                            
Date     Review By          Comments                          
                 
------   ------------       -------------------------*/   
--DROP PROCEDURE dbo.Proc_GetVehicleIDs_Policy                
CREATE PROCEDURE dbo.Proc_GetVehicleAutoIdDetailsPolicy   
(      
 @CUSTOMER_ID int,      
 @POL_ID int,      
 @POL_VERSION_ID int      
)          
AS               
BEGIN           
     
DECLARE @PROCESSID NVARCHAR(50)
DECLARE @LOBID INT
	SELECT @PROCESSID = CONVERT(NVARCHAR(50),PROCESS_ID) FROM POL_POLICY_PROCESS  WITH (NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POL_ID AND NEW_POLICY_VERSION_ID=@POL_VERSION_ID AND PROCESS_STATUS != 'ROLLBACK'
    SELECT @LOBID = POLICY_LOB FROM POL_CUSTOMER_POLICY_LIST   WITH (NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POL_ID AND POLICY_VERSION_ID=@POL_VERSION_ID
IF(@PROCESSID='14' OR @PROCESSID='3')
	BEGIN
		--	FETCH OLD VERSIONS VEHICLE
		--COMMENTED AS PER ITRACK 6369
	/*	IF(@LOBID ='2')
			BEGIN
				CREATE TABLE #ENDORSE_PREV_VEHICLE
				(
					[IDEN_COL] int IDENTITY(1,1) not null,
					[VEHICLEID]		INT,                                            
					[VEHICLETYPE]	NVARCHAR(40),
					[VEHICLEVEHICLE_YEAR]	NVARCHAR(40),                                            
					[VEHICLEVIN]	NVARCHAR(40),
					[VEHICLESYMBOL]	INT,
					--[VEHICLEISACTIVE]	NVARCHAR(20),
				) 
			END
		ELSE IF(@LOBID ='3')
			BEGIN
				CREATE TABLE #ENDORSE_PREV_VEHICLE_MOTOR
				(
					[IDEN_COL] int IDENTITY(1,1) not null,
					[VEHICLEID]		INT,                                            
					[MAKE]	NVARCHAR(100),
					[MODEL]	NVARCHAR(100),
					[VEHICLEVEHICLE_YEAR]	NVARCHAR(40),                                            
					[MOTORCYCLE_TYPE]	NVARCHAR(100),
					[MOTORCYCLE_VIN]	NVARCHAR(100),
					[VEHICLESYMBOL]	INT,
					[VEHICLE_CC]	INT,
					--[VEHICLEISACTIVE]	NVARCHAR(20),
				)
			END 
		IF(@LOBID ='2')
				BEGIN
					INSERT INTO #ENDORSE_PREV_VEHICLE
						SELECT VEHICLE_ID,
						CASE WHEN APP_USE_VEHICLE_ID=11332 THEN                       
						   CASE                       
								when PV.APP_VEHICLE_PERTYPE_ID=11334 then 'PP'                      
								when PV.APP_VEHICLE_PERTYPE_ID=11335 then 'CV'                      
								when PV.APP_VEHICLE_PERTYPE_ID=11336 then 'MV'           
								when PV.APP_VEHICLE_PERTYPE_ID=11868 then 'CLC'
								when PV.APP_VEHICLE_PERTYPE_ID=11869 then 'AC'                     
								when PV.APP_VEHICLE_PERTYPE_ID=11870 then 'TT'                      
								when PV.APP_VEHICLE_PERTYPE_ID=11337 then 'UT'                
								when PV.APP_VEHICLE_PERTYPE_ID=11618 then 'SC'                      
						   END                      
						  ELSE                       
						   CASE            
								when PV.APP_VEHICLE_COMTYPE_ID=11339 then 'LH'                      
								when PV.APP_VEHICLE_COMTYPE_ID=11338 then 'LHI'                      
								when PV.APP_VEHICLE_COMTYPE_ID=11341 then 'TR'                      
						   END                          
						   END, VEHICLE_YEAR , VIN , SYMBOL --, IS_ACTIVE 
						 FROM  POL_VEHICLES PV WITH (NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POL_ID AND POLICY_VERSION_ID=(@POL_VERSION_ID - 1) AND ISNULL(IS_ACTIVE,'N')='Y'
				END
		ELSE IF(@LOBID ='3')
		BEGIN

			INSERT INTO #ENDORSE_PREV_VEHICLE_MOTOR
				SELECT VEHICLE_ID,MAKE,MODEL,VEHICLE_YEAR,
				   CASE                       
						when PV.MOTORCYCLE_TYPE=11421 then 'A'                      
						when PV.MOTORCYCLE_TYPE=11422 then 'E'                      
						when PV.MOTORCYCLE_TYPE=11423 then 'G'           
						when PV.MOTORCYCLE_TYPE=11424 then 'H'                     
						when PV.MOTORCYCLE_TYPE=11425 then 'T'       
						when PV.MOTORCYCLE_TYPE=11426 then 'X'                
				   END,  VIN , SYMBOL,VEHICLE_CC  --, IS_ACTIVE                     
				FROM  POL_VEHICLES PV WITH (NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POL_ID AND POLICY_VERSION_ID=(@POL_VERSION_ID - 1) AND ISNULL(IS_ACTIVE,'N')='Y'
		END
		--	FETCH CURRENT VERSIONS VEHICLE
		IF(@LOBID ='2')
			BEGIN
				CREATE TABLE #ENDORSE_CURRENT_VEHICLE
						(
							[IDEN_COL] int IDENTITY(1,1) not null,
							[VEHICLEID]		INT,                                            
							[VEHICLETYPE]	NVARCHAR(40),
							[VEHICLEVEHICLE_YEAR]	NVARCHAR(40),                                            
							[VEHICLEVIN]	NVARCHAR(40),
							[VEHICLESYMBOL]	INT,
							--[VEHICLEISACTIVE]	NVARCHAR(20),                                            
						)
			END
		ELSE IF(@LOBID ='3')
			BEGIN
				CREATE TABLE #ENDORSE_CURRENT_VEHICLE_MOTOR
						(
							[IDEN_COL] int IDENTITY(1,1) not null,
							[VEHICLEID]		INT,                                            
							[MAKE]	NVARCHAR(100),
							[MODEL]	NVARCHAR(100),
							[VEHICLEVEHICLE_YEAR]	NVARCHAR(40),                                            
							[MOTORCYCLE_TYPE]	NVARCHAR(100),
							[MOTORCYCLE_VIN]	NVARCHAR(100),
							[VEHICLESYMBOL]	INT,
							[VEHICLE_CC]	INT,
							--[VEHICLEISACTIVE]	NVARCHAR(20),                                           
						)
			END
		IF(@LOBID ='2')
		 BEGIN 
			INSERT INTO #ENDORSE_CURRENT_VEHICLE
				SELECT VEHICLE_ID,
				CASE WHEN APP_USE_VEHICLE_ID=11332 THEN                       
				   CASE                       
						when PV.APP_VEHICLE_PERTYPE_ID=11334 then 'PP'                      
						when PV.APP_VEHICLE_PERTYPE_ID=11335 then 'CV'                      
						when PV.APP_VEHICLE_PERTYPE_ID=11336 then 'MV' 
						when PV.APP_VEHICLE_PERTYPE_ID=11868 then 'CLC'   
						when PV.APP_VEHICLE_PERTYPE_ID=11869 then 'AC'                     
						when PV.APP_VEHICLE_PERTYPE_ID=11870 then 'TT'                      
						when PV.APP_VEHICLE_PERTYPE_ID=11337 then 'UT'                
						when PV.APP_VEHICLE_PERTYPE_ID=11618 then 'SC'                      
				   END                      
				  ELSE                       
				   CASE            
						when PV.APP_VEHICLE_COMTYPE_ID=11339 then 'LH'                      
						when PV.APP_VEHICLE_COMTYPE_ID=11338 then 'LHI'                      
						when PV.APP_VEHICLE_COMTYPE_ID=11341 then 'TR'                      
				   END                          
				   END , VEHICLE_YEAR , VIN , SYMBOL --, IS_ACTIVE 
				 FROM POL_VEHICLES PV WITH (NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POL_ID AND POLICY_VERSION_ID=@POL_VERSION_ID AND ISNULL(IS_ACTIVE,'N')='Y'
		 END
		ELSE IF(@LOBID ='3')
		BEGIN
		INSERT INTO #ENDORSE_CURRENT_VEHICLE_MOTOR
				SELECT VEHICLE_ID,MAKE,MODEL,VEHICLE_YEAR,
				  CASE                       
						when PV.MOTORCYCLE_TYPE=11421 then 'A'                      
						when PV.MOTORCYCLE_TYPE=11422 then 'E'                      
						when PV.MOTORCYCLE_TYPE=11423 then 'G'           
						when PV.MOTORCYCLE_TYPE=11424 then 'H'                     
						when PV.MOTORCYCLE_TYPE=11425 then 'T'                      
						when PV.MOTORCYCLE_TYPE=11426 then 'X'                        
				   END , VIN , SYMBOL,VEHICLE_CC --, IS_ACTIVE                       
				FROM POL_VEHICLES PV WITH (NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POL_ID AND POLICY_VERSION_ID=@POL_VERSION_ID AND ISNULL(IS_ACTIVE,'N')='Y'
		END
		-- CREATE TEMP TABLE TO STORE UNMATCHED VEHICLE
		CREATE TABLE #ENDORSE_UNMATCHED_VEHICLE
						(
							[VEHICLEID]		INT,                 
							[VEHICLETYPE]	NVARCHAR(40),                                            
						) 
		--  COMPARE BOTH TEMP TABLE VEHICLE IDS AND VEHICLE TYPE IF NOT MATCHED THEN ADD IT TO NEXT TEMP TABLE (START)

		DECLARE @IDENT_COL INT
		DECLARE @VEHICLEID INT
		DECLARE @VEHICLETYPE NVARCHAR(40)
		DECLARE @VEHICLE_YEAR NVARCHAR(40)
		DECLARE @VIN NVARCHAR(40)
		DECLARE @SYMBOL INT
		DECLARE @VEHICLE_CC INT
		DECLARE @MAKE NVARCHAR(100)
		DECLARE @MODEL NVARCHAR(100)
		DECLARE @IS_ACTIVE NVARCHAR(20)
		SET @IDENT_COL = 1    
		WHILE (1= 1) 
		BEGIN 
			IF(@LOBID ='2')
				BEGIN 
					IF NOT EXISTS(SELECT * FROM #ENDORSE_CURRENT_VEHICLE WHERE IDEN_COL=@IDENT_COL)
						BEGIN
							BREAK
						END
						SELECT @VEHICLEID=VEHICLEID, @VEHICLETYPE=VEHICLETYPE, @VEHICLE_YEAR=VEHICLEVEHICLE_YEAR, @VIN=VEHICLEVIN, @SYMBOL=VEHICLESYMBOL  FROM #ENDORSE_CURRENT_VEHICLE WHERE IDEN_COL=@IDENT_COL

					IF NOT EXISTS(SELECT * FROM #ENDORSE_PREV_VEHICLE WHERE	VEHICLEID=@VEHICLEID AND VEHICLETYPE=@VEHICLETYPE AND VEHICLEVEHICLE_YEAR=@VEHICLE_YEAR AND VEHICLEVIN=@VIN AND VEHICLESYMBOL=@SYMBOL )
						BEGIN
						 INSERT INTO #ENDORSE_UNMATCHED_VEHICLE VALUES (@VEHICLEID,@VEHICLETYPE)
						END	
				END
			ELSE IF(@LOBID ='3')
				BEGIN
					IF NOT EXISTS(SELECT * FROM #ENDORSE_CURRENT_VEHICLE_MOTOR WHERE IDEN_COL=@IDENT_COL)
						BEGIN
							BREAK
						END
						SELECT @VEHICLEID=VEHICLEID, @VEHICLETYPE=MOTORCYCLE_TYPE, @VEHICLE_YEAR=VEHICLEVEHICLE_YEAR, @VIN=MOTORCYCLE_VIN, @SYMBOL=VEHICLESYMBOL, @VEHICLE_CC=VEHICLE_CC,  @MODEL=MODEL, @MAKE=MAKE FROM #ENDORSE_CURRENT_VEHICLE_MOTOR WHERE IDEN_COL=@IDENT_COL
					
					IF NOT EXISTS(SELECT * FROM #ENDORSE_PREV_VEHICLE_MOTOR WHERE	VEHICLEID=@VEHICLEID AND MOTORCYCLE_TYPE=@VEHICLETYPE AND VEHICLEVEHICLE_YEAR=@VEHICLE_YEAR AND MOTORCYCLE_VIN=@VIN AND VEHICLESYMBOL=@SYMBOL AND VEHICLE_CC=@VEHICLE_CC AND MODEL=@MODEL AND MAKE=@MAKE )
						BEGIN
						 INSERT INTO #ENDORSE_UNMATCHED_VEHICLE VALUES (@VEHICLEID,@VEHICLETYPE)
						END	
				END
			SET @IDENT_COL = @IDENT_COL + 1
		END
		--  COMPARE BOTH TEMP TABLE VEHICLE IDS AND VEHICLE TYPE IF NOT MATCHED THEN ADD IT TO NEXT TEMP TABLE (END)
			SELECT     
				 VEHICLE_ID,ISNULL(MAKE,'') AS MAKE,ISNULL(MODEL,'') AS MODEL,ISNULL(VIN,'') AS VIN, ISNULL(VEHICLE_YEAR,'') AS VEHICLE_YEAR, GRG_ADD1 AS GARAGE_ADDRESS1, GRG_ADD2 AS GARAGE_ADDRESS2, GRG_CITY AS GARAGE_CITY, MNT_COUNTRY_STATE_LIST.STATE_CODE AS GARAGE_STATE, GRG_ZIP AS GARAGE_ZIP   
				FROM      
				 POL_VEHICLES with(nolock)  INNER JOIN  #ENDORSE_UNMATCHED_VEHICLE  
				ON  VEHICLE_ID =  VEHICLEID
				INNER JOIN MNT_COUNTRY_STATE_LIST
				ON POL_VEHICLES.GRG_STATE=MNT_COUNTRY_STATE_LIST.STATE_ID
				
				WHERE   
				 CUSTOMER_ID = @CUSTOMER_ID AND   
				 POLICY_ID=@POL_ID AND  
				 POLICY_VERSION_ID=@POL_VERSION_ID AND   
				 POL_VEHICLES.IS_ACTIVE='Y'    
				ORDER BY     
				 VEHICLE_ID    

		 DROP TABLE  #ENDORSE_UNMATCHED_VEHICLE
			IF(@LOBID ='2')
				BEGIN 
					 DROP TABLE  #ENDORSE_PREV_VEHICLE
					 DROP TABLE  #ENDORSE_CURRENT_VEHICLE
				END
			ELSE IF(@LOBID='3')
				BEGIN
					DROP TABLE  #ENDORSE_PREV_VEHICLE_MOTOR
					DROP TABLE  #ENDORSE_CURRENT_VEHICLE_MOTOR
				END */

	IF ((SELECT COUNT(VEHICLE_ID) FROM POL_VEHICLES WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POL_ID AND POLICY_VERSION_ID=@POL_VERSION_ID AND IS_ACTIVE='Y'  AND IS_UPDATED = 10963) > 0)
		BEGIN 
			SELECT     
					VEHICLE_ID,ISNULL(MAKE,'') AS MAKE,ISNULL(MODEL,'') AS MODEL,ISNULL(VIN,'') AS VIN, ISNULL(VEHICLE_YEAR,'') AS VEHICLE_YEAR,  GRG_ADD1 AS GARAGE_ADDRESS1, GRG_ADD2 AS GARAGE_ADDRESS2, GRG_CITY AS GARAGE_CITY, MNT_COUNTRY_STATE_LIST.STATE_CODE AS GARAGE_STATE, GRG_ZIP AS GARAGE_ZIP   
					FROM      
					POL_VEHICLES  with(nolock)   
					INNER JOIN MNT_COUNTRY_STATE_LIST
					ON POL_VEHICLES.GRG_STATE=MNT_COUNTRY_STATE_LIST.STATE_ID  
					WHERE   
					 CUSTOMER_ID = @CUSTOMER_ID AND   
					 POLICY_ID=@POL_ID AND  
					 POLICY_VERSION_ID=@POL_VERSION_ID AND   
					 POL_VEHICLES.IS_ACTIVE='Y'    
					ORDER BY     
					 VEHICLE_ID       
		END
	ELSE
		BEGIN  
				SELECT     
					VEHICLE_ID,ISNULL(MAKE,'') AS MAKE,ISNULL(MODEL,'') AS MODEL,ISNULL(VIN,'') AS VIN, ISNULL(VEHICLE_YEAR,'') AS VEHICLE_YEAR,  GRG_ADD1 AS GARAGE_ADDRESS1, GRG_ADD2 AS GARAGE_ADDRESS2, GRG_CITY AS GARAGE_CITY, MNT_COUNTRY_STATE_LIST.STATE_CODE AS GARAGE_STATE, GRG_ZIP AS GARAGE_ZIP   
					FROM      
					POL_VEHICLES  with(nolock)   
					INNER JOIN MNT_COUNTRY_STATE_LIST
					ON POL_VEHICLES.GRG_STATE=MNT_COUNTRY_STATE_LIST.STATE_ID  
					WHERE   
					 CUSTOMER_ID = @CUSTOMER_ID AND   
					 POLICY_ID=@POL_ID AND  
					 POLICY_VERSION_ID=@POL_VERSION_ID AND   
					 POL_VEHICLES.IS_ACTIVE='Y'  
					AND IS_UPDATED = 10963
					ORDER BY     
					 VEHICLE_ID       
		END
	END
ELSE
	BEGIN
		SELECT     
		 VEHICLE_ID,ISNULL(MAKE,'') AS MAKE,ISNULL(MODEL,'') AS MODEL,ISNULL(VIN,'') AS VIN, ISNULL(VEHICLE_YEAR,'') AS VEHICLE_YEAR,  GRG_ADD1 AS GARAGE_ADDRESS1, GRG_ADD2 AS GARAGE_ADDRESS2, GRG_CITY AS GARAGE_CITY, MNT_COUNTRY_STATE_LIST.STATE_CODE AS GARAGE_STATE, GRG_ZIP AS GARAGE_ZIP   
		FROM      
		POL_VEHICLES  with(nolock)   
		INNER JOIN MNT_COUNTRY_STATE_LIST
		ON POL_VEHICLES.GRG_STATE=MNT_COUNTRY_STATE_LIST.STATE_ID  
		WHERE   
		 CUSTOMER_ID = @CUSTOMER_ID AND   
		 POLICY_ID=@POL_ID AND  
		 POLICY_VERSION_ID=@POL_VERSION_ID AND   
		 POL_VEHICLES.IS_ACTIVE='Y'    
		ORDER BY     
		 VEHICLE_ID                  
		End  
	END  
DECLARE @EXCLUDED_DRIVER NVARCHAR(50)
SET @EXCLUDED_DRIVER='FALSE'
IF EXISTS(SELECT DRIVER_ID FROM POL_DRIVER_DETAILS  WITH (NOLOCK)
 WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POL_ID AND POLICY_VERSION_ID=@POL_VERSION_ID AND DRIVER_DRIV_TYPE=3477 and FORM_F95=10963)
BEGIN  
	SET @EXCLUDED_DRIVER='TRUE'
END  
DECLARE @GARRAGEZIPSTATE NVARCHAR(100)
BEGIN 
SELECT @GARRAGEZIPSTATE =CONVERT(NVARCHAR(100),STATE)  FROM POL_VEHICLES WITH (NOLOCK)  INNER JOIN MNT_TERRITORY_CODES WITH (NOLOCK)  ON 
	SUBSTRING(LTRIM(RTRIM(GRG_ZIP)),1,5) = ZIP WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID=@POL_ID AND POLICY_VERSION_ID=@POL_VERSION_ID
END    
 IF(@GARRAGEZIPSTATE = '22')
	BEGIN 
		SELECT 'WARNING - When a named excluded person operates a vehicle all liability coverage is void - no one is insured. Owners of the vehicle and others legally responsible for the acts of the named excluded person remain fully personally liable.' AS EXCLUDED_DRIVER_MESSAGE, @EXCLUDED_DRIVER AS EXCLUDED_DRIVER
	END 
ELSE IF(@GARRAGEZIPSTATE = '14')
	BEGIN                 
		SELECT 'WARNING - The excluded person(s), owner and/or registrant will not be covered for the insurance afforded by the policy when your covered auto is being used or operated by or at the direction of the excluded driver.' AS EXCLUDED_DRIVER_MESSAGE, @EXCLUDED_DRIVER AS EXCLUDED_DRIVER
	END

GO

