IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetNonPayPoliciesToCancel]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetNonPayPoliciesToCancel]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------                  
Proc Name       :  dbo.Proc_GetNonPayPoliciesToCancel  
Created by      :  Lalit Kr Chauhan  
Date            :  March-23-2011  
Purpose         :  Commit cancellation  launch by EOD
Revison History :                  
Used In         :  Ebix-Advantage                  
            
-- drop proc dbo.Proc_GetNonPayPoliciesToCancel   
*/
CREATE PROC [dbo].[Proc_GetNonPayPoliciesToCancel]  
AS
BEGIN
DECLARE @CANCELLATION_PROCESS_ID  Int,  
 @NON_PAY    Int,  
 @INSURED_REQUEST  Int,  
 @EOD_DATE DateTime  ,
 @GRACE_HOLD_DAYS   INT ,
 @IDEN_COL INT,
 @LAUNCH_DATE DATETIME ,
 @DUE_DATE DATETIME ,
 @LOB_ID INT,
 @EFFECTIVE_DATETIME DATETIME
SET @EOD_DATE = GETDATE() --DATEADD(DD,1,GETDATE())  
SET @CANCELLATION_PROCESS_ID    = 2  
SET @NON_PAY    = 11969  
SET @INSURED_REQUEST =  11989  
SET @GRACE_HOLD_DAYS = 0

  
CREATE TABLE #TMP_POLICIES_TO_CANCEL  
( IDEN_COL  Int Identity(1,1) not null,  
 CUSTOMER_ID   Int,  
 POLICY_ID  Int,  
 POLICY_VERSION_ID Int,  
 CURRENT_TERM  Int,  
 BILL_TYPE  Char(2),  
 CANCELLATION_TYPE Int,  
 PROCESS_ROW_ID  Int,  
 EFFECTIVE_DATE  Datetime,  
 DUE_DATE   DateTime,  
 LAUNCH_DATE  Datetime,  
 CANCELLATION_NOTICE_SENT Char(1),  
 GRACE_HOLD_DAYS  INt ,
 LOB_ID    Int  
)  


  
CREATE TABLE #POLICIES_TOBE_CANCEL  
( IDEN_COL  Int Identity(1,1) not null,  
 CUSTOMER_ID   Int,  
 POLICY_ID  Int,  
 POLICY_VERSION_ID Int,  
 CURRENT_TERM  Int,  
 BILL_TYPE  Char(2),  
 CANCELLATION_TYPE Int,  
 PROCESS_ROW_ID  Int,  
 EFFECTIVE_DATE  Datetime,  
 DUE_DATE   DateTime,  
 LAUNCH_DATE  Datetime,  
 CANCELLATION_NOTICE_SENT Char(1),  
 GRACE_HOLD_DAYS  INt ,
 LOB_ID    Int  
)  

SELECT  CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ,CANCELLATION_TYPE ,  
 BILL_TYPE , EFFECTIVE_DATE , DUE_DATE , GRACE_HOLD_DAYS , CURRENT_TERM , PROCESS_ROW_ID  , LOB_ID   
FROM #POLICIES_TOBE_CANCEL

DROP TABLE #POLICIES_TOBE_CANCEL
DROP TABLE #TMP_POLICIES_TO_CANCEL
RETURN  --Modified By Lalit August 08 2011.itrack # 1392

 DECLARE  @CUSTOMER_ID INT,
 @POLICY_ID INT,
 @POLICY_VERSION_ID INT,
 @UNDER_PAYMENT_ALLOWED INT,
 @BILL_TYPE NVARCHAR(50),
 @ROLLBACK_THIS INT,
 @CURRENT_TERM INT,
 @PROCESS_ROW_ID INT ,
 @TOTAL_DUE INT,
 @TOTAL_PAID INT


SELECT * INTO #tempMNT_LOB FROM MNT_LOB_MASTER WITH(NOLOCK)



INSERT INTO #TMP_POLICIES_TO_CANCEL ( CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ,CANCELLATION_TYPE ,  
   BILL_TYPE , EFFECTIVE_DATE , DUE_DATE , GRACE_HOLD_DAYS , CURRENT_TERM ,PROCESS_ROW_ID,  
   CANCELLATION_NOTICE_SENT  , LAUNCH_DATE , LOB_ID  )  
SELECT PPP.CUSTOMER_ID , PPP.POLICY_ID , PPP.POLICY_VERSION_ID  , PPP.CANCELLATION_TYPE ,  
 CPL.BILL_TYPE , PPP.EFFECTIVE_DATETIME, PPP.DUE_DATE , @GRACE_HOLD_DAYS , CPL.CURRENT_TERM ,PPP.ROW_ID,  
 ISNULL(PPP.CANCELLATION_NOTICE_SENT,'N') , PPP.CREATED_DATETIME , CPL.POLICY_LOB  
FROM POL_POLICY_PROCESS PPP WITH(NOLOCK)  
INNER JOIN POL_CUSTOMER_POLICY_LIST CPL WITH(NOLOCK)  
 ON PPP.CUSTOMER_ID = CPL.CUSTOMER_ID   
 AND PPP.POLICY_ID = CPL.POLICY_ID   
 AND PPP.NEW_POLICY_VERSION_ID = CPL.POLICY_VERSION_ID   
WHERE PPP.PROCESS_ID  = @CANCELLATION_PROCESS_ID    
AND   PPP.PROCESS_STATUS = 'PENDING'  
AND   PPP.CANCELLATION_TYPE = @NON_PAY
AND   CAST(CONVERT(VARCHAR,PPP.EFFECTIVE_DATETIME , 101)  AS DATETIME ) < 
 CAST(CONVERT(VARCHAR, @EOD_DATE , 101)  AS DATETIME )  
ORDER BY PPP.CUSTOMER_ID , PPP.POLICY_ID , PPP.POLICY_VERSION_ID  
  
  
    
SET @IDEN_COL = 1    
WHILE 1=1     
BEGIN     
 IF NOT EXISTS (SELECT IDEN_COL FROM #TMP_POLICIES_TO_CANCEL WHERE IDEN_COL = @IDEN_COL  )    
 BEGIN     
  BREAK    
  END
 SET  @CUSTOMER_ID = 0    
 SET  @POLICY_ID = 0     
 SET  @POLICY_VERSION_ID  = 0     
 SET  @UNDER_PAYMENT_ALLOWED  = 0     
 SET  @BILL_TYPE =  ''    
 SET  @ROLLBACK_THIS  = 0     
 SET  @CURRENT_TERM  = 0     
 SET  @PROCESS_ROW_ID = 0     
 SET  @TOTAL_DUE  = 0    
 SET  @TOTAL_PAID = 0     
   

  
  
     SELECT  @CUSTOMER_ID  = CUSTOMER_ID ,    
  @POLICY_ID = POLICY_ID ,    
  @POLICY_VERSION_ID = POLICY_VERSION_ID ,    
  @CURRENT_TERM = CURRENT_TERM,    
  @BILL_TYPE =  BILL_TYPE,    
  --@CANCELLATION_TYPE = CANCELLATION_TYPE ,    
  --@UNDER_PAYMENT_ALLOWED  = ISNULL(UNDER_PAYMENT_ALLOWED,0) ,    
  @PROCESS_ROW_ID   = PROCESS_ROW_ID ,    
  @DUE_DATE  = DUE_DATE,    
  @LAUNCH_DATE = EFFECTIVE_DATE    ,
  @LOB_ID =  LOB_ID,
  @EFFECTIVE_DATETIME = EFFECTIVE_DATE
 FROM  #TMP_POLICIES_TO_CANCEL     
 WHERE IDEN_COL = @IDEN_COL    
  
	
  select @GRACE_HOLD_DAYS =	MIN_CANCELLATION_DAYS from #tempMNT_LOB WHERE LOB_ID = @LOB_ID
   
   UPDATE #TMP_POLICIES_TO_CANCEL SET GRACE_HOLD_DAYS = @GRACE_HOLD_DAYS WHERE IDEN_COL = @IDEN_COL
   
   INSERT INTO #POLICIES_TOBE_CANCEL 
   (
    CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,CURRENT_TERM ,  
	BILL_TYPE,CANCELLATION_TYPE,PROCESS_ROW_ID,EFFECTIVE_DATE,  
	DUE_DATE,LAUNCH_DATE,CANCELLATION_NOTICE_SENT,GRACE_HOLD_DAYS,LOB_ID 
	)
   SELECT 
    CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,CURRENT_TERM ,  
	BILL_TYPE,CANCELLATION_TYPE,PROCESS_ROW_ID,EFFECTIVE_DATE,  
	DUE_DATE,LAUNCH_DATE,CANCELLATION_NOTICE_SENT,GRACE_HOLD_DAYS,LOB_ID 
	FROM
	 #TMP_POLICIES_TO_CANCEL 
	WHERE DATEADD(DAY,@GRACE_HOLD_DAYS,EFFECTIVE_DATE) >= @EOD_DATE 
	AND IDEN_COL = @IDEN_COL
  
  
  SET @IDEN_COL = @IDEN_COL + 1
END
  
  
  
SELECT  CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ,CANCELLATION_TYPE ,  
 BILL_TYPE , EFFECTIVE_DATE , DUE_DATE , GRACE_HOLD_DAYS , CURRENT_TERM , PROCESS_ROW_ID  , LOB_ID   
FROM #POLICIES_TOBE_CANCEL
  
  
DROP TABLE #POLICIES_TOBE_CANCEL
DROP TABLE #TMP_POLICIES_TO_CANCEL
DROP TABLE #tempMNT_LOB

END


GO

