IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_PostPolicyProcessReturnPremium_BAck]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_PostPolicyProcessReturnPremium_BAck]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran	
--drop proc Dbo.Proc_PostPolicyProcessReturnPremium_BAck
--go

/*----------------------------------------------------------                
 Proc Name       : Dbo.Proc_PostPolicyProcessReturnPremium
 Created by      : Ravindra 
 Date            : 12-30-2006
 Purpose         : Calculates and Post the Return Premium of the Policy.      
 Revison History :                
 Used In     	 : Wolverine   (Cancellation Process)             
------------------------------------------------------------                
Date     Review By          Comments                
------   ------------       -------------------------*/                
-- drop proc Dbo.Proc_PostPolicyProcessReturnPremium_BAck
CREATE PROC Dbo.Proc_PostPolicyProcessReturnPremium_BAck                
(                
	 @CUSTOMER_ID  INT,          
	 @POLICY_ID  INT,        
	 @POLICY_VERSION_ID INT,
	 @OLD_VERSION_ID Int,      
	 @CANCELLATION_PREMIUM Decimal(25,2),
	 @ACTION_UNPAID_PREMIUM Varchar(10),	
	 @ACTION_RETURN_PREMIUM Varchar(10),
	 @BILL_TYPE  Varchar(10),
	 @CHANGE_EFFECTIVE_DATE Datetime,
	 @SOURCE_ROW_ID	Int,               -- Source Row ID of Process
	 @USER_ID	Int 	   -- UID of Logged IN User	
	 ,@TRANSACTION_DESC VARCHAR(1000) OUTPUT          
 	 ,@CFG_PREMIUM_AMOUNT	Decimal(25,2) OUT,
	 @TOTAL_CANCELLATION_PREMIUM Decimal(25,2)  = null out,
	 @CANCELLATION_MCCA_FEES Decimal(18,2) = null out,
	 @CANCELLATION_OTHER_FEES Decimal(18,2) = null out,
	 @PROCESS_TYPE Int,
	 @CANCELLTION_TYPE    INT=NULL,
	 @CANCELLATION_OPTION  int =null
)                
AS               
BEGIN 

SET @TOTAL_CANCELLATION_PREMIUM = 0
SET @CANCELLATION_MCCA_FEES = 0
SET @CANCELLATION_OTHER_FEES  = 0
SET @CFG_PREMIUM_AMOUNT	= 0


SET @TOTAL_CANCELLATION_PREMIUM = @CANCELLATION_PREMIUM
-- Declaring Constants 
DECLARE @CHARGE_AGENCY			Varchar(10), --CHAG
	@WRITE_OFF					Varchar(10), --WOFF
	@BILL_INSURED				Varchar(10), --BLINS
	@CARRY_FORWARD				Varchar(10), --CFG
	@NOT_APPLICABLE				Varchar(10), --NA
	@REFUND						Varchar(10),  --RFD
	@UPDATED_FROM 				Char(1),
	@ITEM_TRAN_CODE				Varchar(10),
	@ITEM_TRAN_CODE_TYPE		Varchar(10),
	@ITEM_TRAN_CODE_COM			Varchar(10),
	@ITEM_TRAN_CODE_TYPE_COM	Varchar(10)
	
SET	@CHARGE_AGENCY				= 'CHAG'
SET	@WRITE_OFF					= 'WOFF'
SET	@BILL_INSURED				= 'BLINS'
SET	@CARRY_FORWARD				= 'CFG'
SET	@NOT_APPLICABLE				= 'NA'
SET	@REFUND						= 'RFD'
SET @UPDATED_FROM				= 'P'
SET @ITEM_TRAN_CODE				= 'CANCP'
SET @ITEM_TRAN_CODE_TYPE		= 'PREM'
SET	@ITEM_TRAN_CODE_COM			= 'CANC'
SET	@ITEM_TRAN_CODE_TYPE_COM	= 'COM'

-- Fetching Accounts to be Used In Premium processing 

DECLARE 
	@FULLPREMIUM_ACCOUNT_CUST	SMALLINT,	--Premium account number
	@FULLPREMIUM_ACCOUNT_AGN	SMALLINT,	--Premium account number
	@MCCA_FEES_ACCOUNT 			SMALLINT,	--MCCA fee account number
	@OTHER_FEES_ACCOUNT 		SMALLINT,	--Other fee account number
	@PREMIUM_INCOME_ACCOUNT 	SMALLINT,	--Premium income account number
	@COMM_EXPENSE_ACCOUNT 		SMALLINT,	--Comm expense account number
	@COMM_PAYABLE_ACCOUNT 		SMALLINT,	--Commission payable account number,
	@COMM_PAYABLE_ACCOUNT_AGN	SmallInt,	-- Commission Payable Agency Bill

	@FISCAL_ID					Int,
	@POSTING_DATE				Datetime,
	@IS_PREBILL					Int

	SET @POSTING_DATE		= GETDATE()

	SELECT @FISCAL_ID = FISCAL_ID
	FROM ACT_GENERAL_LEDGER 
	WHERE CAST(CONVERT(VARCHAR,FISCAL_BEGIN_DATE ,101 ) AS DATETIME) <= 
	CAST(CONVERT(VARCHAR,@POSTING_DATE ,101 ) AS DATETIME) 
	AND CAST(CONVERT(VARCHAR,FISCAL_END_DATE ,101 ) AS DATETIME) >=
	CAST(CONVERT(VARCHAR,@POSTING_DATE ,101 ) AS DATETIME) 

	IF(CONVERT(VARCHAR,DATEADD(DD,-1,@CHANGE_EFFECTIVE_DATE),101) <= CONVERT(VARCHAR,@POSTING_DATE,101) ) 
	BEGIN  
		SELECT 
		@FULLPREMIUM_ACCOUNT_AGN	= AST_UNCOLL_PRM_AGENCY ,
		@FULLPREMIUM_ACCOUNT_CUST 	= AST_UNCOLL_PRM_CUSTOMER ,
		@OTHER_FEES_ACCOUNT 		= INC_PRM_WRTN_OTH_STATE_ASSESS_FEE,
		@PREMIUM_INCOME_ACCOUNT 	= INC_PRM_WRTN,
		@COMM_EXPENSE_ACCOUNT  		= EXP_COMM_INCURRED ,
		@COMM_PAYABLE_ACCOUNT 		= CASE @BILL_TYPE 
							WHEN 'AB' THEN LIB_COMM_PAYB_AGENCY_BILL 
							ELSE LIB_COMM_PAYB_DIRECT_BILL 
						END,
		@COMM_PAYABLE_ACCOUNT_AGN = LIB_COMM_PAYB_AGENCY_BILL
		FROM ACT_GENERAL_LEDGER 
		WHERE FISCAL_ID = @FISCAL_ID 
		SET @IS_PREBILL = 0 
	END 
	ELSE
	BEGIN 
		SELECT 
		@FULLPREMIUM_ACCOUNT_AGN	= AST_UNCOLL_PRM_SUSPENSE_AGENCY_BILL ,
		@FULLPREMIUM_ACCOUNT_CUST 	= AST_UNCOLL_PREM_IN_SUSPENSE_DIRECT_BILL,
		@OTHER_FEES_ACCOUNT = CASE @BILL_TYPE 
				WHEN 'AB' THEN AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_AGENCY_BILL 
				ELSE AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_DIRECT_BILL 
				END,
			@PREMIUM_INCOME_ACCOUNT = CASE @BILL_TYPE 
				WHEN 'AB' THEN AST_PRM_WRIT_SUSPENSE_AGENCY_BILL 
				ELSE AST_PRM_WRIT_SUSPENSE_DIRECT_BILL 
				END, 
			@COMM_EXPENSE_ACCOUNT = CASE @BILL_TYPE 
				WHEN 'AB' THEN AST_COMM_EXPENSE_IN_SUSPENSE_AGENCY_BILL 
				ELSE AST_COMM_EXPENSE_IN_SUSPENSE_DIRECT_BILL 
				END,
			@COMM_PAYABLE_ACCOUNT = CASE @BILL_TYPE 
				WHEN 'AB' THEN AST_COMM_PAYABLE_IN_SUSPENSE_AGENCY_BILL 
				ELSE AST_COMM_PAYABLE_IN_SUSPENSE_DIRECT_BILL 
				END,
			@COMM_PAYABLE_ACCOUNT_AGN = AST_COMM_PAYABLE_IN_SUSPENSE_AGENCY_BILL
		FROM ACT_GENERAL_LEDGER 
		WHERE FISCAL_ID = @FISCAL_ID 
		SET @IS_PREBILL = 1
	END

IF( @PROCESS_TYPE = 2 OR @PROCESS_TYPE = 12 )
BEGIN
	SET @TRANSACTION_DESC  = 'Cancellation Premium written off'
END
ELSE
BEGIN 
	SET @TRANSACTION_DESC  = 'Rescind Premium written off'
END 

DECLARE @TOTAL_GROSS_PREMIUM 		Decimal(25,2) ,        
		@TOTAL_MCCA_FEES  	Decimal(18,2) ,    
		@CURRENT_TERM  		Int,
		@POLICY_EFFECTIVE_DATE	Datetime,
		@POLICY_EXPIRATION_DATE Datetime,
		@INSTALL_PLAN_ID 	Int,
		@LOB_ID 		Int,
		@SUB_LOB_ID 		Smallint,
		@STATE_ID 		SmallInt,
		@AGENCY_ID 		Int,
		@IS_HOME_EMPLOYEE 	Char(1),
		@EARNED_PREMIUM 	Decimal(25,2),
		@MINIMUM_PREMIUM 	Decimal(25,2),
		@TRAN_ENTITY 		Varchar(200), 
		@AGENCY_NAME		Varchar(200), 
		@CUSTOMER_NAME 		Varchar(200), 
		@TRAN_DESC 		Varchar(500),
		@USER_CODE		VARCHAR(10),
		@USER_NAME		VARCHAR(60),
		@IS_ROLLOVER		Char(1) ,
		@EXEMPT_ON_CANCEL 	Char(1)


SET @TOTAL_GROSS_PREMIUM = 0
SET @TOTAL_MCCA_FEES  = 0

SELECT @USER_CODE = USER_LOGIN_ID, 
	@USER_NAME =  (USER_FNAME + ' ' + USER_LNAME) 
FROM MNT_USER_LIST 
WHERE USER_ID = @USER_ID 

DECLARE @YES Int,
		@NO Int 
SET @YES = 10963
SET @NO  = 10964

-- Fetch Policy Level Details
SELECT  @CURRENT_TERM = CURRENT_TERM ,
	@POLICY_EFFECTIVE_DATE  = CPL.APP_EFFECTIVE_DATE,
	@POLICY_EXPIRATION_DATE	= CPL.APP_EXPIRATION_DATE,
	@INSTALL_PLAN_ID = CPL.INSTALL_PLAN_ID,
	@LOB_ID  = CPL.POLICY_LOB , 
	@SUB_LOB_ID = ISNULL(CPL.POLICY_SUBLOB ,0),
	@STATE_ID = CPL.STATE_ID,
	@AGENCY_ID  = CPL.AGENCY_ID ,
	@TRAN_DESC  = CPL.POLICY_NUMBER + ' ' + CPL.POLICY_DISP_VERSION,
	@IS_HOME_EMPLOYEE = CASE ISNULL(CPL.IS_HOME_EMP, 0) WHEN 1 THEN 'Y' ELSE 'N' END,
	@IS_ROLLOVER	= CASE ISNULL(CPL.CHARGE_OFF_PRMIUM, @NO ) WHEN @NO THEN 'N' ELSE 'Y' END ,
	@EXEMPT_ON_CANCEL	= ISNULL(AGN.EXEMPT_ON_CANCEL,'N') 
FROM POL_CUSTOMER_POLICY_LIST CPL
INNER JOIN MNT_AGENCY_LIST AGN 
	ON CPL.AGENCY_ID = AGN.AGENCY_ID 
WHERE   CUSTOMER_ID = @CUSTOMER_ID 
	AND POLICY_ID = @POLICY_ID 
	AND POLICY_VERSION_ID = @POLICY_VERSION_ID


SET @MINIMUM_PREMIUM  = 0 

IF (
   (ISNULL(@CANCELLTION_TYPE,0)=11989 AND ISNULL(@CANCELLATION_OPTION,0) = 11995 AND  DATEDIFF (DAY,@POLICY_EFFECTIVE_DATE, @CHANGE_EFFECTIVE_DATE )=0)
    OR
   ((ISNULL(@CANCELLTION_TYPE,0)=11992 OR ISNULL(@CANCELLTION_TYPE,0)=11993) AND  DATEDIFF (DAY,@POLICY_EFFECTIVE_DATE, @CHANGE_EFFECTIVE_DATE )=0)
   )		
BEGIN
	SET @MINIMUM_PREMIUM=0  
END
ELSE
BEGIN
	
	-- If cancellation after renewal or current process is resscission Minimum premium will be zero 
	DECLARE @BASE_PROCESS AS VarChar(5)
	DECLARE @CURRENT_PROCESS AS VarChar(5)

	SELECT  @BASE_PROCESS =   CASE PROCESS_ID WHEN 25 THEN 'NBS'  
				WHEN 18 THEN 'REN' 	END  
	FROM POL_POLICY_PROCESS  (NOLOCK) 
	WHERE   
	CUSTOMER_ID= @CUSTOMER_ID   
	AND POLICY_ID=@POLICY_ID   
	AND PROCESS_ID IN (25,18)   -- New Business Commit & Renewal Commit  
	AND PROCESS_STATUS ='COMPLETE'  
	AND NEW_POLICY_VERSION_ID IN   
	(  
		SELECT MAX(NEW_POLICY_VERSION_ID) FROM POL_POLICY_PROCESS ( NOLOCK) 
		WHERE  
		CUSTOMER_ID= @CUSTOMER_ID  
		AND POLICY_ID=@POLICY_ID  
		AND PROCESS_ID IN (25,18)  
		AND PROCESS_STATUS ='COMPLETE'  
	)  

	SET @CURRENT_PROCESS='';
	SELECT @CURRENT_PROCESS= CASE PROCESS_ID WHEN 28 THEN 'RESC'  
				WHEN 29 THEN 'RESC' 
				else ''	END   
	FROM POL_POLICY_PROCESS ( NOLOCK) 
	WHERE  
	CUSTOMER_ID= @CUSTOMER_ID  
	AND POLICY_ID=@POLICY_ID  
	AND NEW_POLICY_VERSION_ID in
	(
		SELECT MAX(NEW_POLICY_VERSION_ID) FROM POL_POLICY_PROCESS ( NOLOCK) 
		WHERE  
		CUSTOMER_ID= @CUSTOMER_ID  
		AND POLICY_ID=@POLICY_ID  
	)

	IF (@BASE_PROCESS <> 'REN' AND @CURRENT_PROCESS <> 'RESC')
	BEGIN 
		SELECT @MINIMUM_PREMIUM = ISNULL(PREMIUM_AMT , 0)
		FROM ACT_MINIMUM_PREM_CANCEL
		WHERE 	LOB_ID = @LOB_ID
			AND ISNULL(SUB_LOB_ID,0) = @SUB_LOB_ID
			AND STATE_ID = @STATE_ID
			AND ISNULL(IS_ACTIVE,'Y') = 'Y'
			AND @CHANGE_EFFECTIVE_DATE BETWEEN EFFECTIVE_FROM_DATE AND EFFECTIVE_TO_DATE
	END
END

SELECT @TOTAL_GROSS_PREMIUM = SUM(PPDD.INFORCE_PREMIUM) ,
		@TOTAL_MCCA_FEES	 = SUM(PPDD.INFORCE_FEES)  
FROM ACT_PREMIUM_PROCESS_SUB_DETAILS PPDD
WHERE 	PPDD.CUSTOMER_ID = @CUSTOMER_ID 
	AND PPDD.POLICY_ID =   @POLICY_ID 
	AND PPDD.POLICY_VERSION_ID IN 
		(SELECT  POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID
					AND CURRENT_TERM = @CURRENT_TERM)


-- Temp code required for backward compatibility
DECLARE @OLD_IMPLEMENTATION Char(1)
SET	@OLD_IMPLEMENTATION = 'N'

IF ISNULL(@TOTAL_GROSS_PREMIUM,0) = 0
BEGIN 

	SET @OLD_IMPLEMENTATION = 'Y'
	SET @TOTAL_GROSS_PREMIUM = 0
	SET @TOTAL_MCCA_FEES  = 0
	CREATE TABLE #POSTED_PREMIUM
	(	
		[IDENT_COL] [int] IDENTITY(1,1) NOT NULL ,
		[POSTED_PREMIUM_XML] VARCHAR(4000),
		[CURRENT_TERM] Int ,
		POLICY_VERSION_ID Int
	)

	INSERT INTO #POSTED_PREMIUM
	(
		POSTED_PREMIUM_XML ,
		CURRENT_TERM ,
		POLICY_VERSION_ID
	)
	SELECT  PPD.POSTED_PREMIUM_XML , PCL.CURRENT_TERM ,PPD.POLICY_VERSION_ID
	FROM ACT_PREMIUM_PROCESS_DETAILS PPD
	INNER JOIN POL_CUSTOMER_POLICY_LIST PCL
	ON 	PPD.CUSTOMER_ID = PCL.CUSTOMER_ID
		AND PPD.POLICY_ID = PCL.POLICY_ID 
	WHERE 	PCL.CUSTOMER_ID = @CUSTOMER_ID 
		AND PCL.POLICY_ID = @POLICY_ID 
		AND PCL.POLICY_VERSION_ID = @POLICY_VERSION_ID
		AND PCL.CURRENT_TERM = @CURRENT_TERM

	DECLARE @POSTED_PREMIUM_XML VARCHAR(4000)
	DECLARE @IDENT_COL Int

	SET @IDENT_COL = 1

	WHILE 1 = 1              
	BEGIN              
		IF NOT EXISTS              
		(              
		SELECT IDENT_COL FROM #POSTED_PREMIUM             
		WHERE IDENT_COL = @IDENT_COL              
		)              
		BEGIN              
			BREAK              
		END              

		SELECT @POSTED_PREMIUM_XML = POSTED_PREMIUM_XML 
		FROM #POSTED_PREMIUM
		WHERE IDENT_COL = @IDENT_COL              

		DECLARE @IDOC INT         
		--CREATE AN INTERNAL REPRESENTATION OF THE XML DOCUMENT.        
		EXEC SP_XML_PREPAREDOCUMENT @IDOC OUTPUT, @POSTED_PREMIUM_XML
	        
		-- EXECUTE A SELECT STATEMENT THAT USES THE OPENXML ROWSET PROVIDER.        
		
		DECLARE @NET_PREMIUM VARCHAR(40) ,       
			@GROSS_PREMIUM VARCHAR(40),        
			@MCCA_FEES  VARCHAR(40)  ,    
			@OTHER_FEES VARCHAR(40)      
	        

		SELECT  @NET_PREMIUM = NETPREMIUM ,        
				@GROSS_PREMIUM = GROSSPREMIUM,         
				@MCCA_FEES = MCCAFEES ,        
				@OTHER_FEES = OTHERFEES        
		FROM   OPENXML (@IDOC, '/PREMIUM',2 )        
			   WITH(        
			  NETPREMIUM   VARCHAR(40),         
			  GROSSPREMIUM VARCHAR(40),        
			  MCCAFEES     VARCHAR(40),        
			  OTHERFEES    VARCHAR(40)        
			 )  
		
		EXEC SP_XML_REMOVEDOCUMENT @IDOC
		
		SET @TOTAL_GROSS_PREMIUM = @TOTAL_GROSS_PREMIUM  + ISNULL(CONVERT(Decimal , @GROSS_PREMIUM ), 0)     
		SET @TOTAL_MCCA_FEES  = @TOTAL_MCCA_FEES   + ISNULL(CONVERT(Decimal, @MCCA_FEES),0)
								+ ISNULL(CONVERT (Decimal , @OTHER_FEES ),0)
			
		SET @IDENT_COL = @IDENT_COL + 1

	END


	DROP TABLE #POSTED_PREMIUM

END
--End of temp code

DECLARE @TOTAL_DAYS INT  ,
	@PAID_PREMIUM  Decimal(25,2),
	@UNPAID_PREMIUM Decimal(25,2),
	@RETURN_PREMIUM Decimal(25,2),
	@CALCULATIVE_EARNED_PREMIUM Decimal(25,2),
	@AGENCY_COMM_PERCENTAGE Decimal(18,2),
	@CANCELLATION_COMMISSION Decimal(18,2),
	@STAT_NET_RATIO		Decimal(18,6)

SET 	@PAID_PREMIUM  = 0 
SET 	@UNPAID_PREMIUM = 0
SET 	@RETURN_PREMIUM = 0
SET 	@CALCULATIVE_EARNED_PREMIUM = 0
SET 	@AGENCY_COMM_PERCENTAGE = 0 
SET	@STAT_NET_RATIO		= 0

SET 	@TOTAL_DAYS = DATEDIFF(DAY, @POLICY_EFFECTIVE_DATE, @POLICY_EXPIRATION_DATE)  


SELECT @EARNED_PREMIUM  = ROUND((@TOTAL_GROSS_PREMIUM * DATEDIFF ( DAY, @POLICY_EFFECTIVE_DATE, @CHANGE_EFFECTIVE_DATE ) 
			/@TOTAL_DAYS),0)


IF(@EARNED_PREMIUM > @MINIMUM_PREMIUM)
BEGIN 
	SET @CALCULATIVE_EARNED_PREMIUM = @EARNED_PREMIUM
END 
ELSE
BEGIN 
	SET @CALCULATIVE_EARNED_PREMIUM = @MINIMUM_PREMIUM
END


CREATE TABLE #TMP_POST
(	
	IDENT_COL 			[int] IDENTITY(1,1) NOT NULL ,      
	ACCOUNT_ID 			SMALLINT,
	AMT 				DECIMAL(20,8),
	CUSTOMER_ID			INT,
	AGENCY_ID			INT,
	SOURCE_EFFECTIVE_DATE		DATETIME,
	TRANS_DESC			VARCHAR(100),
	POLICY_ID			INT,
	POLICY_VERSION_ID		INT,
	TRAN_CODE			VARCHAR(10),
	TRAN_TYPE			VARCHAR(10),
	ACCOUNTS			BIT,
	AGN_OPEN_ITEMS			BIT,
	CUST_OPEN_ITEMS			BIT,
	TRAN_ENTITY			Varchar(200),
	TRAN_DESC 			Varchar(500),
	CUSTOM_STATUS		Char(1), -- Will be '9' if writing off the amount.
	BILL_CODE			Char(2),
	GROSS_AMOUNT		Decimal(18,2)  
)

SELECT @CUSTOMER_NAME = ISNULL(CUSTOMER_CODE,'') + ' - ' + ISNULL(CUSTOMER_FIRST_NAME,'') 
		+ ' ' + ISNULL(CUSTOMER_MIDDLE_NAME,'') +
		CASE WHEN ISNULL(CUSTOMER_MIDDLE_NAME,'') = '' THEN '' ELSE ' ' END
		+ 
		ISNULL(CUSTOMER_LAST_NAME ,'') 
	FROM CLT_CUSTOMER_LIST
	WHERE CUSTOMER_ID = @CUSTOMER_ID

SELECT @AGENCY_NAME = ISNULL(AGENCY_CODE,'') + ' - ' + ISNULL(AGENCY_DISPLAY_NAME,'') 
FROM MNT_AGENCY_LIST WHERE AGENCY_ID = @AGENCY_ID


CREATE TABLE #PREMIUM_DETAILS
(
	IDEN_COL		Int Identity(1,1),
	RISK_ID			Int,
	RISK_TYPE		Char(10),
	INFORCE_PREMIUM		Decimal(25,2),
	INFORCE_FEES		Decimal(18,2),
	PRORATED_CANCELLATION 	Decimal(18,2),
	CANC_STAT_FEES		AS  CASE INFORCE_FEES WHEN 0 THEN  0
					ELSE ROUND(( INFORCE_FEES / INFORCE_PREMIUM )  * ISNULL(PRORATED_CANCELLATION,0) ,2)
				END,
	COMMISSION_PERCENTAGE	Decimal(18,2),
	COMMISSION_AMOUNT	Decimal(18,2),
	STAT_NET_RATIO		AS CASE INFORCE_PREMIUM WHEN 0 THEN 0 
				ELSE (INFORCE_PREMIUM - ISNULL(INFORCE_FEES,0)) / INFORCE_PREMIUM    END
)

INSERT INTO #PREMIUM_DETAILS
(
	RISK_ID	, RISK_TYPE	, INFORCE_PREMIUM ,
	INFORCE_FEES , PRORATED_CANCELLATION 	
)
SELECT PPDD.RISK_ID , PPDD.RISK_TYPE , 	SUM(ISNULL(PPDD.INFORCE_PREMIUM , 0)) , 
		SUM(ISNULL(PPDD.INFORCE_FEES,0)),
		ROUND(( @CANCELLATION_PREMIUM * SUM(ISNULL(PPDD.INFORCE_PREMIUM , 0)) ) / @TOTAL_GROSS_PREMIUM ,0) 
FROM ACT_PREMIUM_PROCESS_SUB_DETAILS PPDD
WHERE 	PPDD.CUSTOMER_ID = @CUSTOMER_ID
	AND PPDD.POLICY_ID = @POLICY_ID
	AND PPDD.POLICY_VERSION_ID IN (
		SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID AND CPL.POLICY_ID = @POLICY_ID 
		AND CPL.CURRENT_TERM = @CURRENT_TERM ) 
GROUP BY PPDD.RISK_ID , PPDD.RISK_TYPE 
ORDER BY PPDD.RISK_ID , PPDD.RISK_TYPE

--SELECT PPDD.RISK_ID , PPDD.RISK_TYPE , 	SUM(ISNULL(PPDD.INFORCE_PREMIUM , 0)) , 
--		SUM(ISNULL(PPDD.INFORCE_FEES,0)),
--		ROUND(( @CANCELLATION_PREMIUM * SUM(ISNULL(PPDD.INFORCE_PREMIUM , 0)) ) / @TOTAL_GROSS_PREMIUM ,0) 
--FROM ACT_PREMIUM_PROCESS_SUB_DETAILS PPDD
--INNER JOIN ACT_PREMIUM_PROCESS_DETAILS PPD
--	ON  PPD.PROCESS_ID  = PPDD.PPD_ROW_ID 
--	AND PPD.CUSTOMER_ID = PPDD.CUSTOMER_ID
--	AND PPD.POLICY_ID	= PPDD.POLICY_ID 
--INNER JOIN POL_CUSTOMER_POLICY_LIST PCL
--ON 	PPD.CUSTOMER_ID = PCL.CUSTOMER_ID
--	AND PPD.POLICY_ID = PCL.POLICY_ID 
--WHERE 	PCL.CUSTOMER_ID = @CUSTOMER_ID
--	AND PCL.POLICY_ID = @POLICY_ID
--	AND PCL.POLICY_VERSION_ID = @OLD_VERSION_ID
--	AND PCL.CURRENT_TERM = @CURRENT_TERM
--GROUP BY PPDD.RISK_ID , PPDD.RISK_TYPE 
--ORDER BY PPDD.RISK_ID , PPDD.RISK_TYPE



DECLARE @IDEN_COL Int ,
		@RISK_ID  Int,
		@RISK_TYPE Char(10),
		@COMMISSION_PERCENTAGE Decimal(18,2),
		@COMMISSION_AMOUNT Decimal(18,2),
		@PRORATED_CANCELLATION	Decimal(18,2),
		@CANC_STAT_FEES		Decimal(18,2)

SET @CANCELLATION_COMMISSION  = 0
SET @IDEN_COL = 1 


WHILE (1 =1)
BEGIN 
	IF NOT EXISTS ( SELECT IDEN_COL FROM #PREMIUM_DETAILS WHERE IDEN_COL = @IDEN_COL)
	BEGIN
		BREAK
	END
	SELECT	@RISK_ID = RISK_ID , @RISK_TYPE = RISK_TYPE ,
			@PRORATED_CANCELLATION = PRORATED_CANCELLATION,
			@CANC_STAT_FEES		= CANC_STAT_FEES , 
			@STAT_NET_RATIO		= @STAT_NET_RATIO + STAT_NET_RATIO
	FROM #PREMIUM_DETAILS WHERE IDEN_COL =@IDEN_COL 

	IF(@BILL_TYPE = 'DB')
	BEGIN 
		SELECT 	TOP 1 @COMMISSION_PERCENTAGE = AGENCY_COMM_PERC
		FROM	ACT_CUSTOMER_OPEN_ITEMS OI
		LEFT JOIN ACT_POLICY_INSTALLMENT_DETAILS INSD
		ON OI.INSTALLMENT_ROW_ID = INSD.ROW_ID
		WHERE 	OI.CUSTOMER_ID = @CUSTOMER_ID
			AND OI.POLICY_ID = @POLICY_ID 
			AND OI.POLICY_VERSION_ID IN (SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL
										WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID  AND CPL.POLICY_ID = @POLICY_ID 
										AND CPL.CURRENT_TERM = @CURRENT_TERM ) 
			AND OI.RISK_ID = @RISK_ID 
			AND OI.RISK_TYPE = @RISK_TYPE
			AND OI.ITEM_TRAN_CODE_TYPE = 'PREM' 
			AND OI.ITEM_TRAN_CODE <> 'DISC'
	END
	ELSE IF (@BILL_TYPE = 'AB')
	BEGIN
		SELECT TOP 1 @COMMISSION_PERCENTAGE = AGENCY_COMM_PERC
		FROM	ACT_AGENCY_OPEN_ITEMS OI
		WHERE 	OI.CUSTOMER_ID = @CUSTOMER_ID
			AND OI.POLICY_ID = @POLICY_ID 
			AND OI.POLICY_VERSION_ID IN (SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL
										WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID  AND CPL.POLICY_ID = @POLICY_ID 
										AND CPL.CURRENT_TERM = @CURRENT_TERM ) 
			AND OI.ITEM_TRAN_CODE_TYPE = 'PREM' 
	END

	UPDATE #PREMIUM_DETAILS SET COMMISSION_PERCENTAGE = @COMMISSION_PERCENTAGE ,
			COMMISSION_AMOUNT = ROUND((( (@PRORATED_CANCELLATION - @CANC_STAT_FEES) * @COMMISSION_PERCENTAGE ) /100),2)
	WHERE IDEN_COL = @IDEN_COL

	SET @CANCELLATION_COMMISSION  = @CANCELLATION_COMMISSION  
			+ ROUND((( (@PRORATED_CANCELLATION - @CANC_STAT_FEES) * @COMMISSION_PERCENTAGE ) /100),2)


	SET @IDEN_COL = @IDEN_COL  + 1

END

select * from #PREMIUM_DETAILS

SELECT @AGENCY_COMM_PERCENTAGE = 
	   SUM (COMMISSION_PERCENTAGE) /  COUNT(RISK_ID),
	@STAT_NET_RATIO = @STAT_NET_RATIO / COUNT(RISK_ID)
FROM #PREMIUM_DETAILS

-- SET @CANCELLATION_COMMISSION = ROUND(((@CANCELLATION_PREMIUM * @AGENCY_COMM_PERCENTAGE)/100), 2)

IF(@BILL_TYPE = 'DB')
BEGIN 

	INSERT INTO ACT_TMP_CUSTOMER_OPEN_ITEMS 
	(
	CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,CURRENT_TERM,
	ITEM_REFRENCE_ID,TOTAL_PAID,TOTAL_DUE 
	) 
	SELECT  @CUSTOMER_ID,@POLICY_ID,ACOI.POLICY_VERSION_ID,@CURRENT_TERM,
		IDEN_ROW_ID,TOTAL_PAID,TOTAL_DUE
	FROM ACT_CUSTOMER_OPEN_ITEMS ACOI
	INNER JOIN POL_CUSTOMER_POLICY_LIST PCL
	ON 	ACOI.CUSTOMER_ID = PCL.CUSTOMER_ID
		AND ACOI.POLICY_ID = PCL.POLICY_ID 
	WHERE 	PCL.CUSTOMER_ID = @CUSTOMER_ID 
		AND PCL.POLICY_ID = @POLICY_ID 
		AND PCL.POLICY_VERSION_ID = @POLICY_VERSION_ID
		AND PCL.CURRENT_TERM = @CURRENT_TERM
		AND ACOI.ITEM_TRAN_CODE_TYPE = 'FEES'
		AND ACOI.ITEM_TRAN_CODE <> 'NSFF'

	DECLARE @FEES_REVERSE Decimal(18,2)
	SELECT @FEES_REVERSE = ISNULL(SUM(ISNULL(TOTAL_DUE,0) - ISNULL(TOTAL_PAID,0)),0)
	FROM ACT_CUSTOMER_OPEN_ITEMS 
	WHERE	 CUSTOMER_ID = @CUSTOMER_ID 	
		AND POLICY_ID = @POLICY_ID 
		AND ITEM_TRAN_CODE_TYPE = 'FEES'
		AND ITEM_TRAN_CODE <> 'NSFF'
		AND POLICY_VERSION_ID IN(
					SELECT PCL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST PCL
					WHERE 	PCL.CUSTOMER_ID = @CUSTOMER_ID 
					AND PCL.POLICY_ID = @POLICY_ID 
					AND PCL.CURRENT_TERM = @CURRENT_TERM)
	-- Write off unpaid Fees 
	UPDATE ACT_CUSTOMER_OPEN_ITEMS SET TOTAL_DUE = ISNULL(TOTAL_PAID,0) 
	WHERE	 CUSTOMER_ID = @CUSTOMER_ID 	
		AND POLICY_ID = @POLICY_ID 
		AND ITEM_TRAN_CODE_TYPE = 'FEES'
		AND ITEM_TRAN_CODE <> 'NSFF'
		AND UPDATED_FROM <> 'F'
		AND POLICY_VERSION_ID IN(
					SELECT PCL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST PCL
					WHERE 	PCL.CUSTOMER_ID = @CUSTOMER_ID 
					AND PCL.POLICY_ID = @POLICY_ID 
					AND PCL.CURRENT_TERM = @CURRENT_TERM)
	--- Balance Tab entry for Fees Reversal
	
	IF (@FEES_REVERSE  <> 0)
	BEGIN 
		INSERT INTO ACT_CUSTOMER_BALANCE_INFORMATION
		(
		CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,OPEN_ITEM_ROW_ID,AMOUNT,AMOUNT_DUE,TRAN_DESC,
		UPDATED_FROM,CREATED_DATE,IS_PRINTED,PRINT_DATE,SOURCE_ROW_ID,DUE_DATE
		) 		
		VALUES
		(
		@CUSTOMER_ID,@POLICY_ID,@POLICY_VERSION_ID, NULL , @FEES_REVERSE * -1,
		0 ,'Fee Reversed at cancellation (Memo)', -- Added By Ravindra(08-11-2007)
		@UPDATED_FROM,GETDATE(),null, null , @SOURCE_ROW_ID	 ,NULL 
		)
	END
select @CANCELLATION_PREMIUM	
	-- Create a Entry For Cancellation Premium in Customer Open Item & Accoun posting
	INSERT INTO #TMP_POST
	(	
	ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
	TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
	ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS ,TRAN_ENTITY ,  BILL_CODE
	)
	VALUES
	(
	@FULLPREMIUM_ACCOUNT_CUST , @CANCELLATION_PREMIUM * -1, @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
	@TRANSACTION_DESC , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE,@ITEM_TRAN_CODE_TYPE,
	1,0,1 ,@CUSTOMER_NAME , @BILL_TYPE
	)
	
	-- Written premium Debit with Cancellation Premium Aamount
	INSERT INTO #TMP_POST
	(	
	ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
	TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
	ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY , BILL_CODE
	)
	VALUES
	(
	@PREMIUM_INCOME_ACCOUNT, @CANCELLATION_PREMIUM   , @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
	@TRANSACTION_DESC , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE,@ITEM_TRAN_CODE_TYPE,
	1,0,0 , @CUSTOMER_NAME , @BILL_TYPE
	)

	-- Commission Incurred (Expense) Credit
	INSERT INTO #TMP_POST
	(	
	ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
	TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
	ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY , BILL_CODE 
	)
	VALUES
	(
	@COMM_EXPENSE_ACCOUNT , @CANCELLATION_COMMISSION * -1 , @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
	'Commission Revoked' , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE_COM ,@ITEM_TRAN_CODE_TYPE_COM ,
	1,0,0 , @AGENCY_NAME , @BILL_TYPE
	)	

	IF(@IS_HOME_EMPLOYEE = 'Y')
	BEGIN 
		-- Create a Revoke For Cancellation Commission in Customer Open Item & Accoun posting
		-- Commission Payable
		INSERT INTO #TMP_POST
		(	
		ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
		TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
		ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY , BILL_CODE
		)
		VALUES
		(
		@FULLPREMIUM_ACCOUNT_CUST , @CANCELLATION_COMMISSION , @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
		'Discount Reversed' , @POLICY_ID , @POLICY_VERSION_ID , 'DISC' ,@ITEM_TRAN_CODE_TYPE,
		1,0,1 , @CUSTOMER_NAME  , @BILL_TYPE
		)		
	END 
	ELSE	
	BEGIN
		-- Create a Revoke For Cancellation Commission in Customer Open Item & Accoun posting
		-- Commission Payable
		INSERT INTO #TMP_POST
		(	
		ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
		TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
		ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS  , TRAN_ENTITY ,  BILL_CODE 
		)
		VALUES
		(
		@COMM_PAYABLE_ACCOUNT , @CANCELLATION_COMMISSION , @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
		'Commission Revoked' , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE_COM ,@ITEM_TRAN_CODE_TYPE_COM ,
		1,1,0 , @AGENCY_NAME , @BILL_TYPE
		)

	END
	-- Fetch Paid Premium & Un-Paid/Return Premium
	
	SELECT  @PAID_PREMIUM = ISNULL(SUM( ISNULL(ACOI.TOTAL_PAID,0) ) ,0)
	FROM  ACT_CUSTOMER_OPEN_ITEMS ACOI
	INNER JOIN POL_CUSTOMER_POLICY_LIST PCL
	ON 	ACOI.CUSTOMER_ID = PCL.CUSTOMER_ID
		AND ACOI.POLICY_ID = PCL.POLICY_ID 
	WHERE 	PCL.CUSTOMER_ID = @CUSTOMER_ID 
		AND PCL.POLICY_ID = @POLICY_ID 
		AND PCL.POLICY_VERSION_ID = @POLICY_VERSION_ID
		AND PCL.CURRENT_TERM = @CURRENT_TERM
		AND ACOI.ITEM_TRAN_CODE_TYPE = 'PREM' 

	-- Reduce Paid premium with JE for deposit reversal (DB Premium JE)
	SELECT  @PAID_PREMIUM = @PAID_PREMIUM -  ISNULL(SUM( ISNULL(ACOI.TOTAL_DUE,0) ) ,0)
	FROM  ACT_CUSTOMER_OPEN_ITEMS ACOI
	INNER JOIN POL_CUSTOMER_POLICY_LIST PCL
	ON 	ACOI.CUSTOMER_ID = PCL.CUSTOMER_ID
		AND ACOI.POLICY_ID = PCL.POLICY_ID 
	WHERE 	PCL.CUSTOMER_ID = @CUSTOMER_ID 
		AND PCL.POLICY_ID = @POLICY_ID 
		AND PCL.POLICY_VERSION_ID = @POLICY_VERSION_ID
		AND PCL.CURRENT_TERM = @CURRENT_TERM
		AND ACOI.ITEM_TRAN_CODE_TYPE = 'JE' 
	
	-- add any fes reversed to paid premium 
	SELECT  @PAID_PREMIUM = @PAID_PREMIUM  -   ISNULL(SUM( ISNULL(ACOI.TOTAL_DUE,0) ) ,0) 
	FROM  ACT_CUSTOMER_OPEN_ITEMS ACOI
	INNER JOIN POL_CUSTOMER_POLICY_LIST PCL
	ON 	ACOI.CUSTOMER_ID = PCL.CUSTOMER_ID
		AND ACOI.POLICY_ID = PCL.POLICY_ID 
	WHERE 	PCL.CUSTOMER_ID = @CUSTOMER_ID 
		AND PCL.POLICY_ID = @POLICY_ID 
		AND PCL.POLICY_VERSION_ID = @POLICY_VERSION_ID
		AND PCL.CURRENT_TERM = @CURRENT_TERM
		AND ACOI.UPDATED_FROM  = 'F' 
	
	DECLARE @COMMISSION_ON_BALANCE Decimal(18,2)
	SET @COMMISSION_ON_BALANCE = 0 
	
	IF((@CALCULATIVE_EARNED_PREMIUM  - @PAID_PREMIUM) > 0)
	BEGIN 
		SET @UNPAID_PREMIUM = ROUND(@CALCULATIVE_EARNED_PREMIUM  - @PAID_PREMIUM , 0)
		SET @COMMISSION_ON_BALANCE = ROUND(((@UNPAID_PREMIUM * @STAT_NET_RATIO * @AGENCY_COMM_PERCENTAGE)/100), 2)
	END 
	ELSE IF((@CALCULATIVE_EARNED_PREMIUM  - @PAID_PREMIUM) < 0)
	BEGIN 
		SET @RETURN_PREMIUM = @PAID_PREMIUM - @CALCULATIVE_EARNED_PREMIUM  
		SET @COMMISSION_ON_BALANCE = ROUND(((@RETURN_PREMIUM * @STAT_NET_RATIO * @AGENCY_COMM_PERCENTAGE)/100), 2)
	END

	IF(@UNPAID_PREMIUM  <> 0)
	BEGIN 

		-- To Be charged from Agency
		IF(@ACTION_UNPAID_PREMIUM  = @CHARGE_AGENCY )
		BEGIN 
		
			-- Create a record in Customer Open Item to writeoff the amount
			-- Uncollected Bill DB Credit
			INSERT INTO #TMP_POST
			(	
			ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
			TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
			ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY , CUSTOM_STATUS , BILL_CODE 
			)
			VALUES
			(
			@FULLPREMIUM_ACCOUNT_CUST , @UNPAID_PREMIUM * -1  , @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
			'Unpaid Premium written off' , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE,@ITEM_TRAN_CODE_TYPE,
			1,0,1 , @CUSTOMER_NAME , '9' , @BILL_TYPE
			)			

			-- Ravindra(09-07-2007) If rollover business the not to be charged from agency
			-- Some specific agency will not be charged Currently this code is(code is 5514, 5516) 
			-- Ravindra(10-13-2007) In case of if the Agency is carrier itself i.e Home Office 
			-- employee policy unpaid premium need to be written off as there is no agency
			-- there
			IF(@IS_ROLLOVER	<> 'Y' AND @EXEMPT_ON_CANCEL <> 'Y' AND @IS_HOME_EMPLOYEE <> 'Y') 
			BEGIN 
				-- Create a record in Agency Open_item to charge Premium 
				-- Uncollected Bill AB Debit
				INSERT INTO #TMP_POST
				(	
				ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
				TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
				ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY , BILL_CODE
				)
				VALUES
				(
				@FULLPREMIUM_ACCOUNT_AGN , @UNPAID_PREMIUM   , @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
				'Unpaid Premium charged' , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE,@ITEM_TRAN_CODE_TYPE,
				1,1,0 , @CUSTOMER_NAME , 'AB'
				)			

				-- Give this commission to Agency , Increase AB Commision Liabality account	

				 ----Decrease DB Commission Liability Account
			END
			ELSE
			BEGIN
				-- Written premium Debit with Cancellation Premium Aamount
				INSERT INTO #TMP_POST
				(	
				ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
				TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
				ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY , BILL_CODE 
				)
				VALUES
				(
				@PREMIUM_INCOME_ACCOUNT, @UNPAID_PREMIUM * @STAT_NET_RATIO  , @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
				@TRANSACTION_DESC , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE,@ITEM_TRAN_CODE_TYPE,
				1,0,0 , @CUSTOMER_NAME , @BILL_TYPE
				)	
	
				if(@STAT_NET_RATIO <> 1) 
				BEGIN 
					INSERT INTO #TMP_POST
					(	
					ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
					TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
					ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS  , TRAN_ENTITY , BILL_CODE 
					)
					VALUES
					(
					@OTHER_FEES_ACCOUNT , @UNPAID_PREMIUM * (1- @STAT_NET_RATIO) , @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
					'Fees revoked(Cancellation)' , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE,@ITEM_TRAN_CODE_TYPE,
					1,0,0 , @CUSTOMER_NAME , @BILL_TYPE
					)
				END
				-- Create a Revoke For Cancellation Commission in Customer Open Item & Accoun posting
				-- Commission Payable
		
				-- Commission Incurred (Expense) Credit
			END
		END  -- To be written off 
		ELSE IF(@ACTION_UNPAID_PREMIUM  = @WRITE_OFF )
		BEGIN 

			SET @TOTAL_CANCELLATION_PREMIUM = @TOTAL_CANCELLATION_PREMIUM + @UNPAID_PREMIUM 						
			-- Create a record in Customer Open Item to writeoff the amount
			-- Uncollected Bill DB Credit
		
			-- Written premium Debit with Cancellation Premium Aamount

			if(@STAT_NET_RATIO <> 1) 
			BEGIN 
				INSERT INTO #TMP_POST
				(	
				ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
				TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
				ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS  , TRAN_ENTITY , BILL_CODE 
				)
				VALUES
				(
				@OTHER_FEES_ACCOUNT , @UNPAID_PREMIUM * (1- @STAT_NET_RATIO) , @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
				'Fees revoked(Cancellation)' , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE,@ITEM_TRAN_CODE_TYPE,
				1,0,0 , @CUSTOMER_NAME , @BILL_TYPE
				) 
			END
			-- Commission Incurred (Expense) Credit
		
			IF(@IS_HOME_EMPLOYEE = 'Y')
			BEGIN 
				-- Create a Revoke For Cancellation Commission in Customer Open Item & Accoun posting
				-- Commission Payable
				INSERT INTO #TMP_POST
				(	
				ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
				TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
				ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY , BILL_CODE
				)
				VALUES
				(
				@FULLPREMIUM_ACCOUNT_CUST , @COMMISSION_ON_BALANCE , @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
				'Discount Reversed' , @POLICY_ID , @POLICY_VERSION_ID , 'DISC', @ITEM_TRAN_CODE_TYPE , 
				1,0,1 , @CUSTOMER_NAME  ,@BILL_TYPE
				)		
			END 
			ELSE	
			BEGIN
				-- Create a Revoke For Cancellation Commission in Customer Open Item & Accoun posting
				-- Commission Payable
				INSERT INTO #TMP_POST
				(	
				ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
				TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
				ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS  , TRAN_ENTITY , BILL_CODE
				)
				VALUES
				(
				@COMM_PAYABLE_ACCOUNT , @COMMISSION_ON_BALANCE , @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
				'Commission Revoked' , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE_COM ,@ITEM_TRAN_CODE_TYPE_COM ,
				1,1,0 , @AGENCY_NAME , @BILL_TYPE
				)
			END
		END -- Carry Forward to new policy
		ELSE IF( @ACTION_UNPAID_PREMIUM  = @CARRY_FORWARD ) 
		BEGIN 
			SET @CFG_PREMIUM_AMOUNT	  =  @UNPAID_PREMIUM
		END  
	END

	IF( @RETURN_PREMIUM <> 0 )
	BEGIN 
		-- Refund Premium to Customer
		IF(@ACTION_RETURN_PREMIUM  = @REFUND )
-- 		BEGIN 
-- 			SELECT 'Return Amount DO We need to mark it RP'			
-- 		END -- Carry Forward to new policy
-- 		ELSE 
		IF( @ACTION_RETURN_PREMIUM  = @CARRY_FORWARD ) 
		BEGIN 
			SET @CFG_PREMIUM_AMOUNT	  =  @RETURN_PREMIUM * -1
		END
	END			
END

IF(@BILL_TYPE = 'AB')
BEGIN 

	-- Create a Entry For Cancellation Premium in Agency Open Item & Accoun posting
	-- Uncollected Premium AB Cr
	INSERT INTO #TMP_POST
	(	
	ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
	TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
	ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS ,TRAN_ENTITY , BILL_CODE
	)
	VALUES
	(
	@FULLPREMIUM_ACCOUNT_AGN , @CANCELLATION_PREMIUM * -1, @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
	@TRANSACTION_DESC , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE,@ITEM_TRAN_CODE_TYPE,
	1,1,0 ,@CUSTOMER_NAME , @BILL_TYPE
	)
	
	-- Written premium Debit with Cancellation Premium Aamount

	SET @CANCELLATION_COMMISSION = ROUND(((@CANCELLATION_PREMIUM * @AGENCY_COMM_PERCENTAGE)/100), 2)

	-- Commission Incurred (Expense) Credit

	-- Create a Revoke For Cancellation Commission in Agency Open Item & Accoun posting
	-- Commission Payable
END

/*
---Reverse Additional if applicable.
-- Commission Incurred (Expense) Credit
INSERT INTO #TMP_POST
(	
ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY , BILL_CODE
)
SELECT 
@COMM_EXPENSE_ACCOUNT , TOTAL_DUE  , @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
'Additional Commission Revoked' , @POLICY_ID , @POLICY_VERSION_ID , ITEM_TRAN_CODE ,ITEM_TRAN_CODE_TYPE,
1,0,0 , @AGENCY_NAME , @BILL_TYPE
FROM ACT_AGENCY_OPEN_ITEMS 
WHERE CUSTOMER_ID = @CUSTOMER_ID 
AND POLICY_ID = @POLICY_ID 
AND ITEM_TRAN_CODE = 'ADC'
AND POLICY_VERSION_ID IN (SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID 
							AND CPL.POLICY_ID = @POLICY_ID AND CPL.CURRENT_TERM = @CURRENT_TERM ) 
	
-- Commission Payable debit / Add agency open item
INSERT INTO #TMP_POST
(	
ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS  , TRAN_ENTITY , BILL_CODE
)
SELECT 
@COMM_PAYABLE_ACCOUNT , TOTAL_DUE *-1 , @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
'Additional Commission Revoked' , @POLICY_ID , @POLICY_VERSION_ID , ITEM_TRAN_CODE ,ITEM_TRAN_CODE_TYPE,
1,1,0 , @AGENCY_NAME , @BILL_TYPE
FROM ACT_AGENCY_OPEN_ITEMS 
WHERE CUSTOMER_ID = @CUSTOMER_ID 
AND POLICY_ID = @POLICY_ID 
AND ITEM_TRAN_CODE = 'ADC'
AND POLICY_VERSION_ID IN (SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID 
							AND CPL.POLICY_ID = @POLICY_ID AND CPL.CURRENT_TERM = @CURRENT_TERM ) 




---Reverse PIC if applicable.
-- Commission Incurred (Expense) Credit
INSERT INTO #TMP_POST
(	
ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS , TRAN_ENTITY , BILL_CODE
)
SELECT 
@COMM_EXPENSE_ACCOUNT , TOTAL_DUE  , @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
'PIC Revoked' , @POLICY_ID , @POLICY_VERSION_ID , ITEM_TRAN_CODE ,ITEM_TRAN_CODE_TYPE,
1,0,0 , @AGENCY_NAME , @BILL_TYPE
FROM ACT_AGENCY_OPEN_ITEMS 
WHERE CUSTOMER_ID = @CUSTOMER_ID 
AND POLICY_ID = @POLICY_ID 
AND ITEM_TRAN_CODE = 'PIC'
AND POLICY_VERSION_ID IN (SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID 
							AND CPL.POLICY_ID = @POLICY_ID AND CPL.CURRENT_TERM = @CURRENT_TERM ) 
	
-- Commission Payable debit // Add agency open item
INSERT INTO #TMP_POST
(	
ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS  , TRAN_ENTITY , BILL_CODE
)
SELECT 
@COMM_PAYABLE_ACCOUNT , TOTAL_DUE *-1 , @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
'PIC Revoked' , @POLICY_ID , @POLICY_VERSION_ID , ITEM_TRAN_CODE ,ITEM_TRAN_CODE_TYPE,
1,1,0 , @AGENCY_NAME , @BILL_TYPE
FROM ACT_AGENCY_OPEN_ITEMS 
WHERE CUSTOMER_ID = @CUSTOMER_ID 
AND POLICY_ID = @POLICY_ID 
AND ITEM_TRAN_CODE = 'PIC'
AND POLICY_VERSION_ID IN (SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID 
							AND CPL.POLICY_ID = @POLICY_ID AND CPL.CURRENT_TERM = @CURRENT_TERM ) 

*/


-- Calculate Mcca Fees to reverse
IF(@OLD_IMPLEMENTATION = 'Y')
BEGIN 
	SET @CANCELLATION_MCCA_FEES = ISNULL(ROUND(((@TOTAL_MCCA_FEES / @TOTAL_GROSS_PREMIUM )* @CANCELLATION_PREMIUM ), 2),0)
END 
ELSE
BEGIN
	SELECT @CANCELLATION_MCCA_FEES = ISNULL(SUM(CANC_STAT_FEES),0) FROM #PREMIUM_DETAILS
END
-- Changed By Ravindra(08-03-2007)
-- Need to create record in Premium Process Details , logic moved from BL to SP
-- In BL this was done after premium processing so PPD Row Id will not be available in 
-- Premium Process Logic , which is required to be further used as  Refrence key in 
-- Premium Sub details and Accounts Table
DECLARE @PPD_ROW_ID Int 
SELECT @PPD_ROW_ID = (ISNULL(MAX(PROCESS_ID),0) + 1) FROM ACT_PREMIUM_PROCESS_DETAILS
 	


-- Insert into ACT_PREMIUM_PROCESS_SUB_DETAILS 

INSERT INTO ACT_PREMIUM_PROCESS_SUB_DETAILS 
	( CUSTOMER_ID , POLICY_ID ,  POLICY_VERSION_ID ,  PPD_ROW_ID ,
		RISK_ID , RISK_TYPE , NET_PREMIUM , STATS_FEES , GROSS_PREMIUM ,
		INFORCE_PREMIUM , INFORCE_FEES 
	)

SELECT @CUSTOMER_ID , @POLICY_ID , @POLICY_VERSION_ID , @PPD_ROW_ID ,
		RISK_ID , RISK_TYPE , (PRORATED_CANCELLATION - CANC_STAT_FEES ) * -1 , 0 , PRORATED_CANCELLATION * -1,
		PRORATED_CANCELLATION * -1, CANC_STAT_FEES  * -1
FROM #PREMIUM_DETAILS

IF ( (@CANCELLATION_MCCA_FEES + @CANCELLATION_OTHER_FEES) <> 0)
BEGIN
	--- OSta Fees Debit With Cancellation Fees 

	INSERT INTO #TMP_POST
	(	
	ACCOUNT_ID, AMT , CUSTOMER_ID ,	AGENCY_ID ,SOURCE_EFFECTIVE_DATE ,
	TRANS_DESC, POLICY_ID, POLICY_VERSION_ID , TRAN_CODE  , TRAN_TYPE ,
	ACCOUNTS , AGN_OPEN_ITEMS ,CUST_OPEN_ITEMS  , TRAN_ENTITY , BILL_CODE 
	)
	VALUES
	(
	@OTHER_FEES_ACCOUNT , @CANCELLATION_MCCA_FEES + @CANCELLATION_OTHER_FEES , @CUSTOMER_ID, @AGENCY_ID , @CHANGE_EFFECTIVE_DATE,
	'Fees revoked(Cancellation)' , @POLICY_ID , @POLICY_VERSION_ID , @ITEM_TRAN_CODE,@ITEM_TRAN_CODE_TYPE,
	1,0,0 , CASE @BILL_TYPE WHEN 'AB' THEN @AGENCY_NAME ELSE @CUSTOMER_NAME END , @BILL_TYPE
	)

END

--Customer Open Item Posting
INSERT INTO ACT_CUSTOMER_OPEN_ITEMS
(
	UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
	POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_COMM_APPLIES, AGENCY_COMM_PERC, 
	AGENCY_COMM_AMT, AGENCY_ID,CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, 
	PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE, 
	PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL, 
	BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE,ITEM_TRAN_CODE_TYPE,TRAN_ID, 
	CASH_ACCOUNTING, RECUR_JOURNAL_VERSION, JE_RECON_COUNTER,AMT_IN_RECON, 
	OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, TRANS_DESC, ITEM_STATUS,
	INSTALLMENT_ROW_ID, NET_PREMIUM,RISK_ID,RISK_TYPE,DUE_DATE 
)	
SELECT 
	@UPDATED_FROM , @PPD_ROW_ID, @PPD_ROW_ID, @CHANGE_EFFECTIVE_DATE , SOURCE_EFFECTIVE_DATE,
	GETDATE(), TP.AMT , 0, CASE @IS_HOME_EMPLOYEE WHEN 'Y' THEN 'N' ELSE 'Y' END, @AGENCY_COMM_PERCENTAGE, 
	null, TP.AGENCY_ID,TP.CUSTOMER_ID, TP.POLICY_ID, TP.POLICY_VERSION_ID,
	NULL, NULL, 1, NULL,
	'CUS', PCL.DIV_ID, PCL.DEPT_ID, PCL.PC_ID, TP.CUSTOM_STATUS, NULL, @IS_PREBILL ,
	TP.BILL_CODE, TP.AMT  ,TRAN_CODE,TRAN_TYPE,NULL, 
	NULL, NULL, NULL, NULL, 
	NULL, @LOB_ID, @SUB_LOB_ID, PCL.COUNTRY_ID, @STATE_ID, TP.TRANS_DESC, 'DP',
	NULL , TP.AMT -  (@CANCELLATION_MCCA_FEES + @CANCELLATION_OTHER_FEES) ,null, null , @CHANGE_EFFECTIVE_DATE
	FROM 
	#TMP_POST TP WITH (NOLOCK) 
	INNER JOIN POL_CUSTOMER_POLICY_LIST PCL WITH (NOLOCK)ON 
		PCL.POLICY_ID = TP.POLICY_ID AND PCL.POLICY_VERSION_ID = TP.POLICY_VERSION_ID AND PCL.CUSTOMER_ID = TP.CUSTOMER_ID
	WHERE 
		PCL.POLICY_ID = @POLICY_ID  
		AND PCL.POLICY_VERSION_ID = @POLICY_VERSION_ID 
		AND PCL.CUSTOMER_ID = @CUSTOMER_ID 
		AND TP.CUST_OPEN_ITEMS = 1 
	AND ISNULL(TP.AMT,0) <> 0

--Inserting the entry in customer balance informartion
INSERT INTO ACT_CUSTOMER_BALANCE_INFORMATION
(
	CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID,
	OPEN_ITEM_ROW_ID, AMOUNT, AMOUNT_DUE,
	TRAN_DESC,
	UPDATED_FROM, CREATED_DATE,
	IS_PRINTED, PRINT_DATE, SOURCE_ROW_ID
)
SELECT 
	ACOI.CUSTOMER_ID, ACOI.POLICY_ID, ACOI.POLICY_VERSION_ID, 
	IDEN_ROW_ID, ACOI.TOTAL_DUE, 0,
	ACOI.TRANS_DESC,
	@UPDATED_FROM, GETDATE(),
	0,NULL, @PPD_ROW_ID
FROM 	ACT_CUSTOMER_OPEN_ITEMS ACOI
WHERE 	ACOI.UPDATED_FROM = @UPDATED_FROM 
	AND ACOI.SOURCE_ROW_ID = @PPD_ROW_ID
	AND ACOI.ITEM_TRAN_CODE   = @ITEM_TRAN_CODE
	

--Agency Open Item Posting
INSERT INTO ACT_AGENCY_OPEN_ITEMS
(
	UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
	POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_COMM_APPLIES, AGENCY_COMM_PERC, 
	AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, 
	PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE, 
	PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL, 
	BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, 
	CASH_ACCOUNTING, RECUR_JOURNAL_VERSION, JE_RECON_COUNTER,AMT_IN_RECON, 
	OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, TRANS_DESC, NET_PREMIUM
)	
	SELECT 
	@UPDATED_FROM , @PPD_ROW_ID , @PPD_ROW_ID , @CHANGE_EFFECTIVE_DATE , SOURCE_EFFECTIVE_DATE,
	GETDATE(), TP.AMT, 0, CASE @IS_HOME_EMPLOYEE WHEN 'Y' THEN 'N' ELSE 'Y' END, @AGENCY_COMM_PERCENTAGE, 
	NULL , TP.AGENCY_ID,TP.CUSTOMER_ID, TP.POLICY_ID, TP.POLICY_VERSION_ID, 
	NULL, NULL, 1, NULL,
	'AGN', PCL.DIV_ID, PCL.DEPT_ID, PCL.PC_ID, NULL, NULL, @IS_PREBILL , 
	TP.BILL_CODE, CASE ISNULL(TP.GROSS_AMOUNT,0)  WHEN  0 THEN  TP.AMT  ELSE TP.GROSS_AMOUNT END,TP.TRAN_CODE, TP.TRAN_TYPE, NULL,
	NULL, NULL, NULL, NULL, 
	NULL, @LOB_ID , @SUB_LOB_ID, PCL.COUNTRY_ID, PCL.STATE_ID, TP.TRANS_DESC, 
	CASE ISNULL(TP.GROSS_AMOUNT,0)  WHEN  0 THEN  TP.AMT - ( @CANCELLATION_MCCA_FEES + @CANCELLATION_OTHER_FEES )   
		ELSE TP.GROSS_AMOUNT - ( @CANCELLATION_MCCA_FEES + @CANCELLATION_OTHER_FEES )  END
	FROM #TMP_POST TP WITH(NOLOCK) 
	LEFT JOIN POL_CUSTOMER_POLICY_LIST PCL WITH(NOLOCK)
	ON PCL.POLICY_ID = TP.POLICY_ID 
	AND PCL.POLICY_VERSION_ID = TP.POLICY_VERSION_ID 
	AND PCL.CUSTOMER_ID = TP.CUSTOMER_ID
	WHERE 	PCL.POLICY_ID = @POLICY_ID  
		AND  PCL.POLICY_VERSION_ID = @POLICY_VERSION_ID 
		AND PCL.CUSTOMER_ID = @CUSTOMER_ID
		AND TP.AGN_OPEN_ITEMS = 1 
		AND ISNULL(TP.AMT,0) <> 0


--Inserting the record into ACT_ACCOUNTS_POSTING_DETAILS
INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS
(
	ACCOUNT_ID, UPDATED_FROM,
	SUBLEDGER_TYPE,
	SOURCE_ROW_ID,MAPPING_SUBLEDGER_ID, 
	SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE,POSTING_DATE, 
	TRANSACTION_AMOUNT, AGENCY_COMM_PERC, AGENCY_COMM_AMT,
	AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, 
	DIV_ID, DEPT_ID,PC_ID, IS_PREBILL, BILL_CODE, 
	GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE,TRAN_ID, 
	LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID, TAX_ID, ADNL_INFO,
	IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION, IN_BNK_RECON, IS_BALANCE_UPDATED,
	COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME, COMMISSION_TYPE
	,TRAN_ENTITY,TRAN_DESC
)
SELECT 
	TP.ACCOUNT_ID, @UPDATED_FROM , 
	CASE TP.CUST_OPEN_ITEMS WHEN '0' THEN
		CASE WHEN TP.AGN_OPEN_ITEMS = 1  THEN 'AGN' END 
		ELSE 'CUS' END, 
	@PPD_ROW_ID , NULL, 
	@PPD_ROW_ID , @CHANGE_EFFECTIVE_DATE , TP.SOURCE_EFFECTIVE_DATE,GETDATE(), 
	SUM(TP.AMT), 
	--TP.AMT, 
	NULL, NULL, 
	@AGENCY_ID, @CUSTOMER_ID, @POLICY_ID, @POLICY_VERSION_ID, 
	PCL.DIV_ID, PCL.DEPT_ID,PCL.PC_ID, @IS_PREBILL , TP.BILL_CODE, 
	SUM(TP.AMT), 
	--TP.AMT, 
	TP.TRAN_CODE, TP.TRAN_TYPE, NULL,
	@LOB_ID , @SUB_LOB_ID , PCL.COUNTRY_ID, @STATE_ID, NULL, NULL, NULL,
	NULL, NULL, NULL, NULL,
	@USER_ID, @USER_CODE, @USER_NAME, NULL,
	TP.TRAN_ENTITY ,@TRAN_DESC				
	FROM #TMP_POST  TP WITH(NOLOCK) 
	LEFT JOIN POL_CUSTOMER_POLICY_LIST PCL WITH(NOLOCK)
		ON PCL.POLICY_ID = TP.POLICY_ID 
		AND PCL.POLICY_VERSION_ID = TP.POLICY_VERSION_ID 
		AND PCL.CUSTOMER_ID = @CUSTOMER_ID
	WHERE TP.ACCOUNTS = 1
		AND ISNULL(TP.AMT,0) <> 0
	GROUP BY 
		TP.ACCOUNT_ID, PCL.DIV_ID, PCL.DEPT_ID,
		PCL.PC_ID, PCL.COUNTRY_ID, TP.TRAN_ENTITY,
		TP.CUST_OPEN_ITEMS ,TP.AGN_OPEN_ITEMS,TP.TRAN_CODE, TP.TRAN_TYPE,TP.SOURCE_EFFECTIVE_DATE , TP.BILL_CODE 


-- select @TOTAL_GROSS_PREMIUM as gross,@TOTAL_MCCA_FEES  as mcca,
-- @MINIMUM_PREMIUM  as min , @EARNED_PREMIUM as earned ,
-- @policy_effective_date,@policy_expiration_date,@CANCELLATION_PREMIUM as cancp,@PAID_PREMIUM  paid,
-- @UNPAID_PREMIUM UnP, @RETURN_PREMIUM RetP ,@CANCELLATION_COMMISSION as canc_comm,
-- @CANCELLATION_MCCA_FEES as rev_mcca, @CANCELLATION_OTHER_FEES as rev_other


DROP TABLE #TMP_POST 

-- Reconcile the Cancellation Premium or Unpaid premium written off 
EXEC Proc_ReconCustomerOpenItem @POLICY_EXPIRATION_DATE, @USER_ID,@CUSTOMER_ID,@POLICY_ID 

SET @TOTAL_CANCELLATION_PREMIUM = @TOTAL_CANCELLATION_PREMIUM * -1
SET @CANCELLATION_MCCA_FEES  = @CANCELLATION_MCCA_FEES  * -1
SET @CANCELLATION_OTHER_FEES= @CANCELLATION_OTHER_FEES * -1

SET @TRANSACTION_DESC  = 'Cancellation Premium processed'

RETURN 1

END 

--
--go
--
--DECLARE @CFG_AMT Decimal(18,2) ,@Rep Decimal(18,2), @MCCA Decimal(18,2), @OSTA Decimal(18,2)
--DECLARE @T_DESC Varchar(1000) 
--
--exec Proc_PostPolicyProcessReturnPremium     1432 ,  23 , 1 , 2 , 794  , 'CHAG' , 'NA' , 'DB' ,'2008-3-29' ,1 , 3  
--,@T_DESC out, @CFG_AMT  out , @rep out, @MCCA out, @osta out , 12 , 11969 , 11994
--
---- select * from act_premium_process_sub_details with(nolock)
---- where customer_id = 135 and policy_id = 1
------ 
----SELECT top 100 M.ACC_DISP_NUMBER,M.ACC_DESCRIPTION,D.TRANSACTION_AMOUNT ,D.TRAN_ENTITY,D.TRAN_DESC,
----D.ITEM_TRAN_CODE_TYPE,D.ITEM_TRAN_CODE,D.* 
----FROM ACT_ACCOUNTS_POSTING_DETAILS D WITH(NOLOCK)
----INNER JOIN ACT_GL_ACCOUNTS M ON D.ACCOUNT_ID = M.ACCOUNT_ID 
----WHERE D.CUSTOMER_ID = 1432 
----AND D.POLICY_ID = 23
----ORDER BY IDENTITY_ROW_ID 		
----	
--
--select bill_code , TRANS_DESC , ITEM_TRAN_CODE , ITEM_TRAN_CODE_TYPE , TOTAL_DUE , TOTAL_PAID
--,* from act_agency_open_items where customer_id = 1432 and policy_id = 23 order by iden_row_id 
--
----
----SELECT A.IDEN_ROW_ID,A.TRANS_DESC,A.TOTAL_DUE,A.TOTAL_PAID,A.DUE_DATE,A.SWEEP_DATE,
----A.SOURCE_EFF_DATE,MNT.LOOKUP_VALUE_DESC as PaymentMode, 
----A.ITEM_TRAN_CODE_TYPE,A.ITEM_TRAN_CODE,
----ISNULL(B.INSTALLMENT_NO,50) INS_NO,B.INSTALLMENT_NO	 AS INS_NO,B.RELEASED_STATUS,A.RISK_ID,A.RISK_TYPE,
----A.* FROM ACT_CUSTOMER_OPEN_ITEMS A WITH(NOLOCK)
----left JOIN ACT_POLICY_INSTALLMENT_DETAILS B WITH(NOLOCK) ON A.INSTALLMENT_ROW_ID  = B.ROW_ID
----LEFT JOIN MNT_LOOKUP_VALUES MNT ON 
----B.PAYMENT_MODE = MNT.LOOKUP_UNIQUE_ID 
----WHERE A.CUSTOMER_ID= 1432
----AND A.POLICY_ID= 10
----ORDER BY ISNULL(B.CURRENT_TERM,50),ISNULL(B.INSTALLMENT_NO,50) ,A.IDEN_ROW_ID ,A.SOURCE_EFF_DATE,A.UPDATED_FROM
--
---- 
---- SELECT * FROM ACT_CUSTOMER_RECON_GROUP_DETAILS MAIN 
---- INNER JOIN ACT_CUSTOMER_OPEN_ITEMS ACOI
---- ON ACOI.IDEN_ROW_ID = MAIN.ITEM_REFERENCE_ID 
---- AND ACOI.ITEM_TRAN_CODE <> 'CANCP'
---- WHERE MAIN.GROUP_ID IN 
---- (
---- 	SELECT GROUP_ID FROM  ACT_CUSTOMER_RECON_GROUP_DETAILS RD
---- 	INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OP 
---- 	ON OP.IDEN_ROW_ID = RD.ITEM_REFERENCE_ID 
---- 	AND OP.ITEM_TRAN_CODE_TYPE = 'PREM'
---- 	AND OP.ITEM_TRAN_CODE = 'CANCP'
---- 	AND OP.POLICY_ID = 11
---- 	AND OP.POLICY_VERSION_ID = 1
---- 	WHERE GROUP_ID IN (
---- 			SELECT GROUP_ID FROM ACT_RECONCILIATION_GROUPS WHERE RECON_ENTITY_ID = 569 
---- 			)
---- )
---- ORDER BY MAIN.GROUP_ID 
--
--Rollback tran
--
--




GO

