IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_Insert_Agency_Commission_Check]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_Insert_Agency_Commission_Check]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO




/*-----------------------------------------------------------------------------------    
Proc Name   	: dbo.Proc_Insert_Agency_Commission_Check    
Created by  	: Ashwani    
Date        	: 04 July,2006
Purpose    	: Insert the record into ACT_CHECK_INFORMATION
Revison History :
Used In 	:   Wolverine       
 -------------------------------------------------------------------------------------                    
Date     Review By          Comments              
     
-------------------------    ----------   ------------       -------------------------*/   

CREATE PROC dbo.Proc_Insert_Agency_Commission_Check
(
	@AGENCY_ID int,
	@MONTH int ,
	@YEAR int ,
	@AMOUNT decimal(18,2),
	@CHECK_TYPE nvarchar(10),
	@CREATED_DATETIME datetime,
--	@RETURN_VALUE int ,
	@CHECK_ID int out

)
AS
BEGIN

 	DECLARE @AGENCY_DISPLAY_NAME VARCHAR(200)
	DECLARE @AGENCY_ADD1 VARCHAR(200)
	DECLARE @AGENCY_ADD2 VARCHAR(200)
	DECLARE @AGENCY_CITY VARCHAR(200)
	DECLARE @AGENCY_STATE VARCHAR(10)
	DECLARE @AGENCY_ZIP VARCHAR(12)

	SELECT @AGENCY_DISPLAY_NAME=isnull(AGENCY_DISPLAY_NAME,''),@AGENCY_ADD1=isnull(AGENCY_ADD1,''),
		@AGENCY_ADD2 = isnull(AGENCY_ADD2,''),@AGENCY_CITY = isnull(AGENCY_CITY,''),@AGENCY_STATE=isnull(AGENCY_STATE,''),
		@AGENCY_ZIP=isnull(AGENCY_ZIP,'')
	FROM MNT_AGENCY_LIST 
	WHERE AGENCY_ID=@AGENCY_ID
	
	DECLARE @MAX_CHECK_ID INT 
	DECLARE @ACCOUNT_ID INT 
	SET  @ACCOUNT_ID =3 -- THIS VALUE HAS TO BE CHANGED 
	
	SELECT @MAX_CHECK_ID = (ISNULL(MAX(CHECK_ID),0) + 1 ) FROM ACT_CHECK_INFORMATION
	SET @CHECK_ID =@MAX_CHECK_ID
	
	INSERT INTO ACT_CHECK_INFORMATION
	(
		CHECK_ID,CHECK_TYPE, CHECK_AMOUNT,[MONTH],[YEAR],AGENCY_ID,CREATED_DATETIME,ACCOUNT_ID,
		PAYEE_ENTITY_NAME,PAYEE_ADD1,PAYEE_ADD2,PAYEE_CITY,PAYEE_STATE,PAYEE_ZIP,CHECK_DATE
	)
	VALUES
	(
		@MAX_CHECK_ID,@CHECK_TYPE, @AMOUNT, @MONTH , @YEAR, @AGENCY_ID,@CREATED_DATETIME,@ACCOUNT_ID,
		@AGENCY_DISPLAY_NAME,@AGENCY_ADD1,@AGENCY_ADD2,@AGENCY_CITY,@AGENCY_STATE,@AGENCY_ZIP,@CREATED_DATETIME
	)

	-- RECONCILATION
	DECLARE @TOTAL_DIFF  DECIMAL(18,2)

	SELECT @TOTAL_DIFF = ISNULL(SUM(DUE_AMOUNT-TOTAL_PAID),0)
	FROM ACT_AGENCY_STATEMENT AA
	LEFT JOIN POL_CUSTOMER_POLICY_LIST PCL ON PCL.CUSTOMER_ID = AA.CUSTOMER_ID
	AND PCL.POLICY_ID = AA.POLICY_ID AND PCL.POLICY_VERSION_ID = AA.POLICY_VERSION_ID
	WHERE  MONTH_NUMBER = @MONTH AND MONTH_YEAR = @YEAR 
	AND AA.AGENCY_ID = @AGENCY_ID AND ISNULL(IS_TEMP_ENTRY,'') <> 1 AND ISNULL(PCL.BILL_TYPE,'DB') = 'DB' 
 

	--TEMPORRY ENTRY
	--TOTAL_PAID = - CHECK_AMOUNT, DUE_AMOUNT = - CHECK_AMOUNT	
	INSERT INTO ACT_AGENCY_OPEN_ITEMS
	(
		UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
		POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_COMM_APPLIES, AGENCY_COMM_PERC, 
		AGENCY_COMM_AMT, AGENCY_ID, 
		CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE, 
		PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL, BILL_CODE, GROSS_AMOUNT, 
		ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, CASH_ACCOUNTING, RECUR_JOURNAL_VERSION, JE_RECON_COUNTER, 
		AMT_IN_RECON, OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, TRANS_DESC
	)
	VALUES
	(
		'C', @MAX_CHECK_ID, @MAX_CHECK_ID, @CREATED_DATETIME, @CREATED_DATETIME,
		GETDATE(), @AMOUNT, 0, 'N', NULL, 
		NULL, @AGENCY_ID,
		NULL, NULL, NULL, NULL, NULL, 1, NULL,
		'AGN', NULL, NULL, NULL, 1, NULL, NULL, NULL, @AMOUNT,
		NULL, NULL, NULL, NULL, NULL, NULL, 
		NULL, NULL, NULL, NULL, NULL, NULL, 'Check issued.'
	)	
	
	DECLARE @AGENCY_OPEN_ITEM_ID INT
	SELECT @AGENCY_OPEN_ITEM_ID = @@IDENTITY


		print @AMOUNT 
		print @TOTAL_DIFF
	--UPDATE 
	IF(@AMOUNT = @TOTAL_DIFF * -1)
	BEGIN 
		INSERT INTO ACT_AGENCY_STATEMENT
		(
			MONTH_NUMBER, AGENCY_ID, POLICY_ID, POLICY_VERSION_ID, CUSTOMER_ID,
			SOURCE_EFF_DATE, PREMIUM_AMOUNT, COMMISSION_RATE, TOTAL_PAID, SOURCE_ROW_ID,
			MONTH_YEAR, TRAN_TYPE, AMOUNT_FOR_CALCULATION, COMMISSION_AMOUNT, DUE_AMOUNT,
			DATE_FULL_PAID, PAYMENT_DATE, PAYMENT_STATUS, IS_TEMP_ENTRY ,IN_RECON,
			AMT_IN_RECON, AGENCY_OPEN_ITEM_ID, CUSTOMER_OPEN_ITEM_ID
		)
		VALUES 
		(
			@MONTH, @AGENCY_ID,NULL, NULL, NULL,
			@CREATED_DATETIME, @AMOUNT , NULL, @AMOUNT, @MAX_CHECK_ID,
			@YEAR , NULL, NULL, NULL, @AMOUNT,
			NULL, NULL, NULL, 1, NULL,
			NULL, @AGENCY_OPEN_ITEM_ID, NULL 
			
		)

		UPDATE ACT_AGENCY_STATEMENT
		SET TOTAL_PAID=DUE_AMOUNT
		FROM POL_CUSTOMER_POLICY_LIST PCL 
		WHERE  PCL.CUSTOMER_ID = ACT_AGENCY_STATEMENT.CUSTOMER_ID 
		AND PCL.POLICY_ID = ACT_AGENCY_STATEMENT.POLICY_ID 
		AND PCL.POLICY_VERSION_ID = ACT_AGENCY_STATEMENT.POLICY_VERSION_ID 
		AND ACT_AGENCY_STATEMENT.MONTH_NUMBER = @MONTH AND ACT_AGENCY_STATEMENT.MONTH_YEAR = @YEAR 
		AND ACT_AGENCY_STATEMENT.AGENCY_ID = @AGENCY_ID 
		AND ISNULL(ACT_AGENCY_STATEMENT.IS_TEMP_ENTRY,'') <> 1  
		AND ISNULL(PCL.BILL_TYPE,'DB') = 'DB' 
		
		return 1
	END 
	ELSE
	BEGIN 
		INSERT INTO ACT_AGENCY_STATEMENT
		(
			MONTH_NUMBER, AGENCY_ID, POLICY_ID, POLICY_VERSION_ID, CUSTOMER_ID,
			SOURCE_EFF_DATE, PREMIUM_AMOUNT, COMMISSION_RATE, TOTAL_PAID, SOURCE_ROW_ID,
			MONTH_YEAR, TRAN_TYPE, AMOUNT_FOR_CALCULATION, COMMISSION_AMOUNT, DUE_AMOUNT,
			DATE_FULL_PAID, PAYMENT_DATE, PAYMENT_STATUS, IS_TEMP_ENTRY ,IN_RECON,
			AMT_IN_RECON, AGENCY_OPEN_ITEM_ID, CUSTOMER_OPEN_ITEM_ID
		)
		VALUES 
		(
			@MONTH, @AGENCY_ID,NULL, NULL, NULL,
			@CREATED_DATETIME, @AMOUNT , NULL, 0, @MAX_CHECK_ID,
			@YEAR , NULL, NULL, NULL, @AMOUNT,
			NULL, NULL, NULL, 1, NULL,
			NULL, @AGENCY_OPEN_ITEM_ID, NULL 
			
		)
		return 2
	END


END















GO

