IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_GET_PAGNET_EXPORT_FILES]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_GET_PAGNET_EXPORT_FILES]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



--drop PROC PROC_GET_PAGNET_EXPORT_FILES
CREATE PROC [dbo].[PROC_GET_PAGNET_EXPORT_FILES]
--@FILE_NAME VARCHAR(500)=NULL,
@STATUS VARCHAR(100)=NULL
AS
BEGIN

IF(LEN(ISNULL(@STATUS,''))>0)
BEGIN
SELECT ID,
FILE_NAMES,
INTERFACE_CODE,
CREATE_DATE
,[STATUS] FROM  PAGNET_EXPORT_FILES with(nolock)
WHERE [STATUS]=@STATUS   --'Generated'
END
ELSE
SELECT ID,
FILE_NAMES,
INTERFACE_CODE,
CREATE_DATE
,[STATUS] FROM  PAGNET_EXPORT_FILES with(nolock)

end


GO

