IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GenerateReceiptDepositLineItems]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GenerateReceiptDepositLineItems]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- =============================================              
-- Author   : Pradeep Kushwaha  
-- Create date: 12-Nov-2010          
-- Description: Generate Receipt of Deposit line items 
-- DROP PROC Proc_GenerateReceiptDepositLineItems        
-- Proc_GenerateReceiptDepositLineItems     
-- =============================================                        
                           
CREATE PROC [dbo].[Proc_GenerateReceiptDepositLineItems]    
 (                        
 @DEPOSIT_ID   INT,                                    
 @CD_LINE_ITEM_ID INT,  
 @MODIFIED_BY INT,    
 @RECEIPT_ISSUED_DATE DATETIME    
)     
AS                        
BEGIN             
DECLARE @BRANCH_CODE NVARCHAR(10),
		@RECEIPT_BRANCH_CITY  NVARCHAR(20),
		@MAX_RECEIPT_NUM  NVARCHAR(10),
		@RECEIPT_NUMBER NVARCHAR(25) 

SELECT @BRANCH_CODE=DIV_LIST.BRANCH_CODE,
@RECEIPT_BRANCH_CITY=DIV_LIST.DIV_CITY 
FROM MNT_DIV_LIST DIV_LIST WITH(NOLOCK) 
--LEFT JOIN MNT_USER_LIST USER_LIST WITH (NOLOCK) Commented for itrack 913
--ON DIV_LIST.DIV_ID =USER_LIST.USER_DEF_DIV_ID
--WHERE USER_LIST.USER_ID=@MODIFIED_BY
LEFT JOIN POL_CUSTOMER_POLICY_LIST POLICY WITH(NOLOCK) ON
POLICY.DIV_ID=DIV_LIST.DIV_ID
LEFT JOIN ACT_CURRENT_DEPOSIT_LINE_ITEMS ITEM WITH(NOLOCK) ON 
POLICY.CUSTOMER_ID= ITEM.CUSTOMER_ID AND
POLICY.POLICY_ID= ITEM.POLICY_ID AND
POLICY.POLICY_VERSION_ID= ITEM.POLICY_VERSION_ID 
WHERE ITEM.DEPOSIT_ID=@DEPOSIT_ID AND ITEM.CD_LINE_ITEM_ID=@CD_LINE_ITEM_ID


SELECT   @MAX_RECEIPT_NUM = MAX(SUBSTRING(CAST( ISNULL(RECEIPT_NUM,'100000') AS VARCHAR(25) ),
CHARINDEX(' ',ISNULL(RECEIPT_NUM,'100000'))+1,6))+1    
 FROM  ACT_CURRENT_DEPOSIT_LINE_ITEMS WITH(NOLOCK) -- WHERE CD_LINE_ITEM_ID=@CD_LINE_ITEM_ID and DEPOSIT_ID=@DEPOSIT_ID
 
 SET @RECEIPT_NUMBER=  @BRANCH_CODE+' '+ @MAX_RECEIPT_NUM
 
 IF NOT EXISTS (SELECT RECEIPT_NUM FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS WITH(NOLOCK) WHERE RECEIPT_NUM=@RECEIPT_NUMBER)
	BEGIN
	 UPDATE ACT_CURRENT_DEPOSIT_LINE_ITEMS 
		 SET RECEIPT_NUM=@RECEIPT_NUMBER,
		 RECEIPT_ISSUED_DATE=@RECEIPT_ISSUED_DATE,
		 RECEIPT_BRANCH_CITY=@RECEIPT_BRANCH_CITY
		 WHERE 
		 CD_LINE_ITEM_ID=@CD_LINE_ITEM_ID 
		 and DEPOSIT_ID=@DEPOSIT_ID
	END
ELSE
	RETURN -10
END      

           
	
 
 
GO

