IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetPolNewRankNoAuto]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetPolNewRankNoAuto]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

  
--DROP PROC dbo.Proc_GetPolNewRankNo   
CREATE  PROC dbo.Proc_GetPolNewRankNoAuto        
@CUSTOMER_ID INT,        
@POLICY_ID INT,        
@POLICY_VERSION_ID INT,
@VEHICLE_ID INT,        
@CALLEDFROM varchar(10)         
as        
BEGIN     
DECLARE @RANK AS numeric     
      
-- AUTO  AND  MOT  
 IF (@CALLEDFROM ='MOT' OR @CALLEDFROM ='PPA')        
   BEGIN   
 IF EXISTS (SELECT CUSTOMER_ID FROM POL_ADD_OTHER_INT (NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID AND VEHICLE_ID=@VEHICLE_ID)     
    BEGIN  
  SELECT (isnull(MAX(RANK),0)) +1 as RANK        
    FROM  POL_ADD_OTHER_INT (NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID AND VEHICLE_ID=@VEHICLE_ID        
    END  
 ELSE  
    SELECT 1 AS RANK  
    END  

END        
  
  
  
  
  




GO

