IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetMVRFetchDetail]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetMVRFetchDetail]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE Proc_GetMVRFetchDetail    
(      
	@CUSTOMER_ID int      
)      
AS      
BEGIN

	DECLARE @LASTDATE DATETIME 
	DECLARE @YEAR INT
	DECLARE @CURRENTDATE DATETIME  
	SELECT @CURRENTDATE = GETDATE()
	SELECT @LASTDATE= LAST_MVR_SCORE_FETCHED FROM CLT_CUSTOMER_LIST  WHERE CUSTOMER_ID= @CUSTOMER_ID
	/*SELECT DATEDIFF(YY,@LASTDATE,@CURRENTDATE)*/

	IF (DATEDIFF(YY,@LASTDATE,@CURRENTDATE)IS NULL)
		BEGIN 
			SELECT NULL AS LAST_MVR_SCORE_FETCHED
		END 
	ELSE
		BEGIN 
					SELECT @YEAR= DATEDIFF(YY,@LASTDATE,@CURRENTDATE)
					IF (@YEAR >0 )
					BEGIN
						SELECT  @YEAR= @YEAR-1 
					END 
					ELSE
					BEGIN
						SELECT @YEAR= 0 
					END
					SELECT @YEAR LAST_MVR_SCORE_FETCHED 
				
		end 

END    
  




GO

