IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_InsertTEMP_ACT_CHECK_INFORMATION]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_InsertTEMP_ACT_CHECK_INFORMATION]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

 

-- drop proc dbo.Proc_InsertTEMP_ACT_CHECK_INFORMATION     
CREATE PROC dbo.Proc_InsertTEMP_ACT_CHECK_INFORMATION    
(    
@CHECK_ID     	int out,    
@CHECK_TYPE     nvarchar(10),    
@ACCOUNT_ID     int,    
@CHECK_DATE     datetime,    
@CHECK_AMOUNT   decimal(18,2),    
@CHECK_NOTE     nvarchar(200),    
@PAYEE_ENTITY_ID     	int,    
@PAYEE_ENTITY_TYPE     	nvarchar(10),    
@PAYEE_ENTITY_NAME     	nvarchar(510),    
@PAYEE_ADD1     nvarchar(140),    
@PAYEE_ADD2     nvarchar(140),    
@PAYEE_CITY     nvarchar(80),    
@PAYEE_STATE    nvarchar(60),    
@PAYEE_ZIP     	nvarchar(24),    
@PAYEE_NOTE     nvarchar(200),    
@CUSTOMER_ID    int,    
@POLICY_ID     	smallint,    
@POLICY_VER_TRACKING_ID     	smallint,    
@CREATED_BY     		int,    
@CREATED_DATETIME     		datetime,    
@MODIFIED_BY     		int,    
@LAST_UPDATED_DATETIME     	datetime    ,
@MONTH INT = NULL,
@YEAR INT = NULL,
@COMM_TYPE varchar(10) = NULL,
@PAYMENT_MODE INT = NULL , 
@AGENCY_ID	INt  =  Null
)    
AS    
BEGIN  

--Declare constants for Check Type

DECLARE	@ACC_Check	Int
DECLARE	@RPC_Check	Int
DECLARE	@ROP_Check	Int
DECLARE	@RSC_Check	Int
DECLARE	@CC_Check	Int
DECLARE	@VC_Check	Int
DECLARE	@MOC_Check	Int
DECLARE	@REC_Check	Int

SET	@ACC_Check	=	2472
SET	@RPC_Check	=	2474
SET	@ROP_Check	=	9935
SET	@RSC_Check	=	9936
SET	@CC_Check	=	9937
SET	@VC_Check	=	9938
SET	@MOC_Check	=	9940
SET	@REC_Check	=	9945

  
select @CHECK_ID= isnull(max(CHECK_ID)+1,1) from TEMP_ACT_CHECK_INFORMATION with (nolock)  
declare @ReturnCode int

-- Vendor Checks

IF @CHECK_TYPE= @VC_Check
BEGIN
	SELECT DISTINCT     
	@PAYEE_ENTITY_NAME=VENDOR_FNAME+' '+VENDOR_LNAME ,
	@PAYEE_ENTITY_ID=VL.VENDOR_ID,
	@PAYEE_ADD1=VENDOR_ADD1,          
	@PAYEE_ADD2=VENDOR_ADD2,          
	@PAYEE_CITY=VENDOR_CITY,          
	@PAYEE_STATE=VENDOR_STATE,          
	@PAYEE_ZIP=VENDOR_ZIP      
	FROM           
	MNT_VENDOR_LIST  VL WITH (NOLOCK)           
	INNER JOIN TEMP_ACT_CHECK_INFORMATION  CI WITH (NOLOCK) ON CI.PAYEE_ENTITY_ID=VL.VENDOR_ID          
	WHERE CI.PAYEE_ENTITY_ID = @PAYEE_ENTITY_ID  
END 
-- Agency Commission : 
IF @CHECK_TYPE= @ACC_Check 
BEGIN
	IF(@COMM_TYPE = 'CAC') 
	BEGIN 
		SELECT DISTINCT     
		@PAYEE_ENTITY_NAME= ISNULL(USER_FNAME,'') + ' ' + ISNULL(USER_LNAME ,'') ,
		@PAYEE_ENTITY_ID=USER_ID,
		@PAYEE_ADD1=USER_ADD1,          
		@PAYEE_ADD2=USER_ADD2,          
		@PAYEE_CITY=USER_CITY,
		@PAYEE_STATE=USER_STATE,
		@PAYEE_ZIP=USER_ZIP      
		FROM           
		MNT_USER_LIST WITH (NOLOCK)           
		WHERE USER_ID = @PAYEE_ENTITY_ID
	END
	ELSE
	BEGIN 
		SELECT DISTINCT     
		@PAYEE_ENTITY_NAME=AGENCY_DISPLAY_NAME ,
		@PAYEE_ENTITY_ID=AL.AGENCY_ID,
		@PAYEE_ADD1=AGENCY_ADD1,          
		@PAYEE_ADD2=AGENCY_ADD2,          
		@PAYEE_CITY=AGENCY_CITY,
		@PAYEE_STATE=AGENCY_STATE,
		@PAYEE_ZIP=AGENCY_ZIP      
		FROM           
		MNT_AGENCY_LIST  AL WITH (NOLOCK)           
		WHERE AL.AGENCY_ID  = @PAYEE_ENTITY_ID
	END
END 


INSERT INTO TEMP_ACT_CHECK_INFORMATION    
(    
CHECK_ID,CHECK_TYPE,ACCOUNT_ID,CHECK_DATE,CHECK_AMOUNT,CHECK_NOTE,PAYEE_ENTITY_ID,PAYEE_ENTITY_TYPE,    
PAYEE_ENTITY_NAME,PAYEE_ADD1,PAYEE_ADD2,    PAYEE_CITY,    PAYEE_STATE,    PAYEE_ZIP,    PAYEE_NOTE,    
CUSTOMER_ID,    POLICY_ID,    POLICY_VER_TRACKING_ID,    CREATED_BY,    CREATED_DATETIME,    MODIFIED_BY,    
LAST_UPDATED_DATETIME ,[MONTH],[YEAR],COMM_TYPE ,PAYMENT_MODE  , AGENCY_ID 
)    
VALUES    
(    
@CHECK_ID,    @CHECK_TYPE,    @ACCOUNT_ID,    @CHECK_DATE,    @CHECK_AMOUNT,    @CHECK_NOTE,    @PAYEE_ENTITY_ID,    
@PAYEE_ENTITY_TYPE,    @PAYEE_ENTITY_NAME,    @PAYEE_ADD1,    @PAYEE_ADD2,    @PAYEE_CITY,    @PAYEE_STATE,    
@PAYEE_ZIP,    @PAYEE_NOTE,    @CUSTOMER_ID,    @POLICY_ID,    @POLICY_VER_TRACKING_ID,    @CREATED_BY,    
@CREATED_DATETIME,    @MODIFIED_BY,    @LAST_UPDATED_DATETIME ,@MONTH,@YEAR   ,@COMM_TYPE , @PAYMENT_MODE , @AGENCY_ID
)   

-- Agency Commission :Auto Reconciling 
IF @CHECK_TYPE= @ACC_Check  
BEGIN


	DECLARE @RetVal int
	execute @RetVal= Proc_DistributeAgencyCheck @CHECK_ID,null,null,null
	
	IF(@RetVal = 1)
	BEGIN 
		UPDATE TEMP_ACT_CHECK_INFORMATION SET IS_RECONCILED = 'Y'
		WHERE CHECK_ID = @CHECK_ID  
	END
	ELSE
	BEGIN 
		UPDATE TEMP_ACT_CHECK_INFORMATION SET IS_RECONCILED = 'N'
		WHERE CHECK_ID = @CHECK_ID  
	END
END

END    



GO

