 
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_APPLICANT_INSURED_BENEFICIARY_INFORMATION]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_APPLICANT_INSURED_BENEFICIARY_INFORMATION]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO  
/*----------------------------------------------------------                                                                                    
Proc Name       : PROC_APPLICANT_INSURED_BENEFICIARY_INFORMATION                                                                          
Created by      : Abhinav Agarwal                                                                                
Date            : 20/07/2011                                                                                    
Purpose         : The purpose is to genearate REPORT of Applicant, insured and beneficiary information.            
Revison History :                                                             
------------------------------------------------------------                                                                                    
Modified By  :                     
Date   :                 
Purpose  :                    
------------------------------------------------------------                                                                                          
Date     Review By          Comments                                                                                    
------   ------------       -------------------------*/           

CREATE PROC [dbo].[PROC_APPLICANT_INSURED_BENEFICIARY_INFORMATION]    --RESOLVED          
@DATETIME DATETIME                           
AS                    
BEGIN                    
            
DECLARE @ID INT = 1     
              
 DECLARE @MONTH VARCHAR(2)  
 DECLARE @YEAR VARCHAR(4) 
 DECLARE @TEMP NVARCHAR(500)
 SET @MONTH= DATEPART(MM, @DATETIME) 
 SET @YEAR=(SELECT DATEPART(YYYY, @DATETIME)) 
 DECLARE @CUST_ID INT
            
SELECT                     
 --REFERENCE_MONTH--
	RIGHT('0000000000' +CONVERT(VARCHAR,ROW_NUMBER() OVER(ORDER BY @ID)),10) AS SEQUENCE,
	'05045' AS COD_CIA,
	--------------REFERENCE MONTH OF THE REPORT.     
	CASE  
			WHEN @MONTH IN (1,2,3,4,5,6,7,8,9) THEN  CONVERT(VARCHAR(4),@YEAR) + '0' + CONVERT(VARCHAR(2),@MONTH) 
			WHEN @MONTH IN (10,11,12) THEN  CONVERT(VARCHAR(4),@YEAR) + CONVERT(VARCHAR(4),@MONTH)
	END AS DT_BASE ,
	TABLE_TEMP.TIPO_PES AS TIPO_PES,
	LEFT(TABLE_TEMP.NAME,30) AS NOME_SUBSC,
	LEFT(ISNULL(TABLE_TEMP.[CPF_CNPJ],''),14) AS [CPF/CNPJ],
	LEFT(ISNULL(TABLE_TEMP.[ADDRESS],''),30) AS ENDERECO,
	LEFT(ISNULL(TABLE_TEMP.DISTRICT,''),30) AS BAIRRO,
	LEFT (ISNULL(TABLE_TEMP.CITY,''),30) AS CIDADE,
	LEFT(ISNULL(TABLE_TEMP.STATE_CODE,''),2) AS UF,  
	--REPLACE(LEFT(REPLACE(TABLE_TEMP.ZIP,'-',''),8),'',0) AS CEP,
    CASE WHEN LEN(ISNULL(TABLE_TEMP.ZIP,'')) = 0 THEN '0'
	ELSE LEFT(REPLACE(REPLACE(ISNULL(TABLE_TEMP.ZIP,''),'-',''),'_',''),8)
	END  AS CEP,
	LEFT(ISNULL(TABLE_TEMP.COUNTRY_NAME,''),20) as PAIS 
FROM
	(SELECT 
			'1' AS TIPO_PES,
			ISNULL(CAL.FIRST_NAME,'') + ISNULL(' ' + CAL.MIDDLE_NAME, '') + ISNULL(' ' + CAL.LAST_NAME, '') AS NAME,
			CAL.CPF_CNPJ AS [CPF_CNPJ],
			CAL.ADDRESS1 + ISNULL(' '+ CAL.ADDRESS2, '') AS [ADDRESS],
			CAL.DISTRICT,
			CAL.CITY,
			MCSL.STATE_CODE,
			CAL.ZIP_CODE AS ZIP,
			MCL.COUNTRY_NAME,
			CAL.CREATED_DATETIME  
	FROM 
			CLT_APPLICANT_LIST CAL WITH(NOLOCK)
	INNER JOIN 
			CLT_CUSTOMER_LIST CCL WITH(NOLOCK) ON (CCL.CUSTOMER_ID = CAL.CUSTOMER_ID)
	LEFT OUTER JOIN 
			MNT_COUNTRY_LIST MCL WITH(NOLOCK)ON (MCL.COUNTRY_ID=CAL.COUNTRY)
	LEFT OUTER JOIN 
			MNT_COUNTRY_STATE_LIST MCSL WITH(NOLOCK)ON (MCSL.STATE_ID = CAL.[STATE])
			
	UNION

	SELECT 
			'2' AS TIPO_PES,
			ISNULL(CCL.CUSTOMER_FIRST_NAME,'') + ISNULL(' ' + CCL.CUSTOMER_LAST_NAME, '') AS NAME,
			CCL.CPF_CNPJ AS [CPF_CNPJ],
			CCL.CUSTOMER_ADDRESS1+ISNULL(' ' + CCL.CUSTOMER_ADDRESS2,'')AS [ADDRESS],        
			CCL.DISTRICT,
			CCL.CUSTOMER_CITY AS CITY,
			MCSL.STATE_CODE,
			CCL.CUSTOMER_ZIP AS ZIP,
			MCL.COUNTRY_NAME,
			CCL.CREATED_DATETIME  
	FROM 
			POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK) 
	INNER JOIN
			CLT_CUSTOMER_LIST CCL WITH(NOLOCK) ON (CCL.CUSTOMER_ID = PCPL.CUSTOMER_ID)
	LEFT OUTER JOIN 
			MNT_COUNTRY_LIST MCL WITH(NOLOCK)ON (MCL.COUNTRY_ID=CCL.CUSTOMER_COUNTRY)
	LEFT OUTER JOIN 
			MNT_COUNTRY_STATE_LIST MCSL WITH(NOLOCK)ON (MCSL.STATE_ID = CCL.CUSTOMER_STATE)
			

	UNION 

	SELECT 
			'3' AS TIPO_PES,
			ISNULL(CESP.EXPERT_SERVICE_CONTACT_NAME,'') AS NAME,
			CESP.CPF AS [CPF_CNPJ],
			CESP.EXPERT_SERVICE_ADDRESS1 + ISNULL(' '+ CESP.EXPERT_SERVICE_ADDRESS2, '') AS [ADDRESS],
			'' AS DISTRICT,
			CESP.EXPERT_SERVICE_CITY AS CITY,
			MCSL.STATE_CODE,
			CESP.EXPERT_SERVICE_ZIP AS ZIP,
			MCL.COUNTRY_NAME,
			CESP.CREATED_DATETIME 
	FROM 
			CLM_EXPERT_SERVICE_PROVIDERS CESP WITH(NOLOCK)

	LEFT OUTER JOIN 
			MNT_COUNTRY_LIST MCL WITH(NOLOCK)ON (MCL.COUNTRY_ID=CESP.EXPERT_SERVICE_COUNTRY)
			
	LEFT OUTER JOIN 
			MNT_COUNTRY_STATE_LIST MCSL WITH(NOLOCK) ON (MCSL.STATE_ID=CESP.EXPERT_SERVICE_STATE)

	UNION

	SELECT 
			'4' AS TIPO_PES,
			ISNULL(CRT.NAME,''),
			CRT.PARTY_CPF_CNPJ AS [CPF_CNPJ],
			CRT.ADDRESS1 + ISNULL(' '+ CRT.ADDRESS2, '') AS [ADDRESS],
			CRT.DISTRICT,
			CRT.CITY,
			MCSL.STATE_CODE,
			CRT.ZIP,
			MCL.COUNTRY_NAME,
			CRT.CREATED_DATETIME  
	FROM 
			CLM_ACTIVITY CA WITH(NOLOCK)

	INNER JOIN 
			CLM_PAYEE CP WITH(NOLOCK) ON (CA.CLAIM_ID=CP.CLAIM_ID AND CA.ACTIVITY_ID = CP.ACTIVITY_ID)

	INNER JOIN 
			CLM_PARTIES CRT WITH(NOLOCK) ON (CP.CLAIM_ID=CRT.CLAIM_ID AND CP.PARTY_ID=CRT.PARTY_ID)

	LEFT OUTER JOIN 
			MNT_COUNTRY_LIST MCL WITH(NOLOCK)ON (MCL.COUNTRY_ID=CRT.COUNTRY)
			
	LEFT OUTER JOIN 
			MNT_COUNTRY_STATE_LIST MCSL WITH(NOLOCK) ON (MCSL.STATE_ID=CRT.[STATE])

	WHERE 
			CA.ACTION_ON_PAYMENT IN (180,181) 
			AND CA.IS_ACTIVE='Y'
		) AS TABLE_TEMP
            
WHERE       
 --YEAR(PPP.COMPLETED_DATETIME) = YEAR(@Year)  AND            
 --MONTH(Convert(VARCHAR(4),PPP.COMPLETED_DATETIME,112)) = MONTH(@MONTH)                   
    MONTH(TABLE_TEMP.CREATED_DATETIME) = MONTH(@DATETIME) --=   CONVERT(VARCHAR(6),PPP.COMPLETED_DATETIME,112)       
	AND YEAR(TABLE_TEMP.CREATED_DATETIME) = YEAR(@DATETIME)    
  
  

 
                     
END  


GO

