IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_InsertAPP_OTHER_STRUCTURE_DWELLING_ACORD]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_InsertAPP_OTHER_STRUCTURE_DWELLING_ACORD]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------
Proc Name       : dbo.Proc_InsertAPP_OTHER_STRUCTURE_DWELLING_ACORD
Created by      : Ravindra
Date            : 8/30/2006
Purpose    	: 
Revison History :
Used In 	: Wolverine
------------------------------------------------------------
Date     Review By          Comments
------   ------------       -------------------------*/
-- drop proc Proc_InsertAPP_OTHER_STRUCTURE_DWELLING_ACORD
CREATE PROC dbo.Proc_InsertAPP_OTHER_STRUCTURE_DWELLING_ACORD
(
@CUSTOMER_ID     int,
@APP_ID     int,
@APP_VERSION_ID     smallint,
@DWELLING_ID     smallint,
@OTHER_STRUCTURE_ID int output,
@PREMISES_LOCATION     nvarchar(10),
@PREMISES_DESCRIPTION     nvarchar(600),
@PREMISES_USE     nvarchar(300),
@PREMISES_CONDITION     nvarchar(10),
@PICTURE_ATTACHED     nvarchar(10),
@COVERAGE_BASIS     nvarchar(10),
@SATELLITE_EQUIPMENT     nvarchar(10),
@LOCATION_ADDRESS     nvarchar(200),
@LOCATION_CITY     nvarchar(100),
@LOCATION_STATE     nvarchar(10),
@LOCATION_ZIP     nvarchar(40),
@ADDITIONAL_AMOUNT_OF_INSURANCE_DESIRED     int,
@INSURING_VALUE     int,
@INSURING_VALUE_OFF_PREMISES     decimal(18,2),
@COVERAGE_AMOUNT	decimal(10,2),
@IS_ACTIVE     char(1),
@CREATED_BY     int,
@CREATED_DATETIME     datetime,
@MODIFIED_BY     int,
@LAST_UPDATED_DATETIME     datetime


)
AS
BEGIN

DECLARE @COVERAGEB INT
DECLARE @IN_VAL INT
DECLARE @DIFF_VAL INT
DECLARE @COVBADD_VAL INT

-- Getting Lookup Unique Ids for Premises Type & Coverage Basis

DECLARE @PREMISES_LOC Int  
DECLARE @COV_BASIS Int  

SELECT @PREMISES_LOC = MLV.LOOKUP_UNIQUE_ID  
FROM MNT_LOOKUP_VALUES MLV  
INNER JOIN MNT_LOOKUP_TABLES MLT ON   
	MLV.LOOKUP_ID = MLT.LOOKUP_ID  
WHERE MLT.LOOKUP_NAME = 'OSTPL' AND  
	MLV.LOOKUP_VALUE_CODE = @PREMISES_LOCATION   

SELECT @COV_BASIS = MLV.LOOKUP_UNIQUE_ID  
FROM MNT_LOOKUP_VALUES MLV  
INNER JOIN MNT_LOOKUP_TABLES MLT ON   
	MLV.LOOKUP_ID = MLT.LOOKUP_ID  
WHERE MLT.LOOKUP_NAME = 'COVB' AND  
	MLV.LOOKUP_VALUE_CODE = @COVERAGE_BASIS   

--find the sum of insuring value before adding new value (this will give old sum)
SELECT @IN_VAL=ISNULL(SUM(ISNULL(ADDITIONAL_AMOUNT_OF_INSURANCE_DESIRED,0)),0)
	FROM APP_OTHER_STRUCTURE_DWELLING STR4 WITH(NOLOCK)
	WHERE 
	    STR4.PREMISES_LOCATION = 11841 -- Off Primises
	AND STR4.CUSTOMER_ID = @CUSTOMER_ID
	AND STR4.APP_ID = @APP_ID
	AND STR4.APP_VERSION_ID=@APP_VERSION_ID
    and STR4.DWELLING_ID=1
    AND ISNULL(STR4.SATELLITE_EQUIPMENT,'0')='2'
	and STR4.IS_ACTIVE='Y'



--find value in coverage b..already saved
SELECT @COVERAGEB=ISNULL(DEDUCTIBLE_1,0) FROM APP_DWELLING_SECTION_COVERAGES
 WHERE  CUSTOMER_ID = @CUSTOMER_ID
	AND APP_ID = @APP_ID
	AND APP_VERSION_ID=@APP_VERSION_ID
    AND DWELLING_ID=1
    AND COVERAGE_CODE_ID IN(774,794)



--change in value of coverage b with 
SET @DIFF_VAL=ISNULL(@COVERAGEB,0) - ISNULL(@IN_VAL,0)


IF EXISTS(SELECT OTHER_STRUCTURE_ID FROM APP_OTHER_STRUCTURE_DWELLING
  WHERE CUSTOMER_ID=@CUSTOMER_ID AND APP_ID=@APP_ID AND APP_VERSION_ID=@APP_VERSION_ID AND DWELLING_ID=1)
BEGIN
	SELECT @OTHER_STRUCTURE_ID=MAX(OTHER_STRUCTURE_ID) FROM APP_OTHER_STRUCTURE_DWELLING
	WHERE CUSTOMER_ID=@CUSTOMER_ID AND APP_ID=@APP_ID AND APP_VERSION_ID=@APP_VERSION_ID AND DWELLING_ID=1
    SET @OTHER_STRUCTURE_ID=@OTHER_STRUCTURE_ID+1
END
ELSE
BEGIN
SET @OTHER_STRUCTURE_ID=1
END



INSERT INTO APP_OTHER_STRUCTURE_DWELLING
(
CUSTOMER_ID,
APP_ID,
APP_VERSION_ID,
DWELLING_ID,
OTHER_STRUCTURE_ID,
PREMISES_LOCATION,
PREMISES_DESCRIPTION,
PREMISES_USE,
PREMISES_CONDITION,
PICTURE_ATTACHED,
COVERAGE_BASIS,
SATELLITE_EQUIPMENT,
LOCATION_ADDRESS,
LOCATION_CITY,
LOCATION_STATE,
LOCATION_ZIP,
ADDITIONAL_AMOUNT_OF_INSURANCE_DESIRED,
INSURING_VALUE,
INSURING_VALUE_OFF_PREMISES,
COVERAGE_AMOUNT,
IS_ACTIVE,
CREATED_BY,
CREATED_DATETIME,
MODIFIED_BY,
LAST_UPDATED_DATETIME
)
VALUES
(
@CUSTOMER_ID,
@APP_ID,
@APP_VERSION_ID,
1,
@OTHER_STRUCTURE_ID,
@PREMISES_LOC,
@PREMISES_DESCRIPTION,
@PREMISES_USE,
@PREMISES_CONDITION,
@PICTURE_ATTACHED,
@COV_BASIS,
@SATELLITE_EQUIPMENT,
@LOCATION_ADDRESS,
@LOCATION_CITY,
@LOCATION_STATE,
@LOCATION_ZIP,
@ADDITIONAL_AMOUNT_OF_INSURANCE_DESIRED,
@INSURING_VALUE,
@INSURING_VALUE_OFF_PREMISES,
@COVERAGE_AMOUNT,
@IS_ACTIVE,
@CREATED_BY,
@CREATED_DATETIME,
@MODIFIED_BY,
@LAST_UPDATED_DATETIME
)


SELECT @IN_VAL=ISNULL(SUM(ADDITIONAL_AMOUNT_OF_INSURANCE_DESIRED),0)
	FROM APP_OTHER_STRUCTURE_DWELLING STR4 WITH(NOLOCK)
	WHERE 
	    STR4.PREMISES_LOCATION = 11841 -- Off Primises
	AND STR4.CUSTOMER_ID = @CUSTOMER_ID
	AND STR4.APP_ID = @APP_ID
	AND STR4.APP_VERSION_ID=@APP_VERSION_ID
     and STR4.DWELLING_ID=1
    AND ISNULL(STR4.SATELLITE_EQUIPMENT,'0')='2'
    and STR4.IS_ACTIVE='Y'


SET @COVBADD_VAL=@IN_VAL+@DIFF_VAL


 if(@COVBADD_VAL > 0)
  begin  
    exec Proc_Update_Additional_CoverageB @CUSTOMER_ID ,@APP_ID,@APP_VERSION_ID,1,@COVBADD_VAL
  end
RETURN @OTHER_STRUCTURE_ID
END




















GO

