IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_PULL_REVERT_CUSTOMER_DETAILS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_PULL_REVERT_CUSTOMER_DETAILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*****************************************************************************************************************************
*	PROCEDURE NAME	:	PROC_PULL_REVERT_CUSTOMER_DETAILS
*	CREATED BY		:	ANURAG VERMA
*	CREATED ON		:	MAY 5, 2009
*	PURPOSE			:	THIS PROCEDURE WILL FETCH CUSTOMER DETAILS FOR THE REVERTED CONVERSION POLICY.
*	
******************************************************************************************************************************/

/* DECLARE @RETURNRESULT INT
EXEC PROC_PULL_REVERT_CUSTOMER_DETAILS 'A2648540',@RETURNRESULT OUTPUT
SELECT @RETURNRESULT */


CREATE PROC [PROC_PULL_REVERT_CUSTOMER_DETAILS] --'R8973200',ret output
@NVPOLICY_NUM NVARCHAR(10),
@RETURNRESULT INT OUT
AS  
--,R9228900=2103R8836400=1982,
DECLARE @ISHOMEEMP NVARCHAR(2000)
DECLARE @ACTCUSTID INT
DECLARE @POLID INT
DECLARE @POLVERSID INT
DECLARE @POLLOB INT
SET @ISHOMEEMP=''


SET @RETURNRESULT=1000

IF NOT EXISTS (SELECT 1 FROM POL_CUSTOMER_POLICY_LIST WITH (NOLOCK) WHERE POLICY_NUMBER=@NVPOLICY_NUM)
BEGIN
	SET @RETURNRESULT=-700
	RETURN @RETURNRESULT
END

IF EXISTS (SELECT 1 FROM POL_CUSTOMER_POLICY_LIST PCPL WITH (NOLOCK) INNER JOIN POL_POLICY_PROCESS PPP WITH (NOLOCK) ON   
PCPL.CUSTOMER_ID=PPP.CUSTOMER_ID AND PCPL.POLICY_ID=PPP.POLICY_ID AND PCPL.POLICY_VERSION_ID=PPP.NEW_POLICY_VERSION_ID
WHERE POLICY_NUMBER=@NVPOLICY_NUM)
BEGIN
	SET @RETURNRESULT=-600
	RETURN @RETURNRESULT
END

IF @NVPOLICY_NUM<>''
BEGIN 
	SELECT TOP 1 @ISHOMEEMP=ISNULL(IS_HOME_EMPLOYEE,''),@ACTCUSTID=CCL.CUSTOMER_ID,@POLID=POLICY_ID,@POLVERSID=POLICY_VERSION_ID,@POLLOB=POLICY_LOB FROM 
	CLT_CUSTOMER_LIST CCL WITH (NOLOCK) INNER JOIN POL_CUSTOMER_POLICY_LIST PCPL WITH (NOLOCK) ON	CCL.CUSTOMER_ID=PCPL.CUSTOMER_ID
	WHERE POLICY_NUMBER=@NVPOLICY_NUM
	
	--select @ISHOMEEMP
	IF LEN(LTRIM(RTRIM(@ISHOMEEMP)))=0
	BEGIN
		SET @RETURNRESULT=-400
		RETURN @RETURNRESULT
	END

	IF @ISHOMEEMP<>'' 
	BEGIN
		DECLARE @STARTPOLPOS INT
		DECLARE @ENDPOLPOS INT

		DECLARE @INACTCUSTID VARCHAR(10)
		SET @STARTPOLPOS=CHARINDEX(@NVPOLICY_NUM,@ISHOMEEMP,0)
		
		--select @STARTPOLPOS
		
		IF @STARTPOLPOS<>-1 AND @STARTPOLPOS<>0
		BEGIN
			SET @ENDPOLPOS=CHARINDEX(',',@ISHOMEEMP,@STARTPOLPOS)
			SET @INACTCUSTID=SUBSTRING(@ISHOMEEMP,@STARTPOLPOS+9,@ENDPOLPOS-(@STARTPOLPOS+9))
		END
	END

	IF @ACTCUSTID IS NULL OR @INACTCUSTID IS NULL
	BEGIN 
		SET @RETURNRESULT=-500
		RETURN @RETURNRESULT
	END

--select @ACTCUSTID
--select @INACTCUSTID

	SELECT isnull(CUSTOMER_FIRST_NAME,'') + ' ' + ISNULL(CUSTOMER_MIDDLE_NAME,'') + ' ' + isnull(CUSTOMER_LAST_NAME,'') AS NAME,
	CUSTOMER_ADDRESS1 + ', ' + ISNULL(CUSTOMER_ADDRESS2,'') + 
	CASE WHEN ISNULL(CUSTOMER_ADDRESS2,'')<>'' THEN ', ' ELSE ' ' END
	+ CUSTOMER_CITY+ ', ' + STATE_NAME  + ', ' + CUSTOMER_ZIP + ', ' + COUNTRY_NAME AS ADDRESS,CUSTOMER_ID,
	@POLID POLICY_ID,@POLVERSID POLICY_VERSION_ID,@POLLOB POLICY_LOB, 1 as FORORDER
	  FROM CLT_CUSTOMER_LIST CCL WITH (NOLOCK) 
	INNER JOIN MNT_COUNTRY_STATE_LIST MCSL WITH (NOLOCK) ON CCL.CUSTOMER_STATE=MCSL.STATE_ID
	INNER JOIN MNT_COUNTRY_LIST MCL WITH (NOLOCK) ON CCL.CUSTOMER_COUNTRY=MCL.COUNTRY_ID	
	WHERE  CUSTOMER_ID IN (@ACTCUSTID) 
	

	union 

	SELECT isnull(CUSTOMER_FIRST_NAME,'') + ' ' + ISNULL(CUSTOMER_MIDDLE_NAME,'') + ' ' + isnull(CUSTOMER_LAST_NAME,'') AS NAME,
	CUSTOMER_ADDRESS1 + ', ' + ISNULL(CUSTOMER_ADDRESS2,'') + 
	CASE WHEN ISNULL(CUSTOMER_ADDRESS2,'')<>'' THEN ', ' ELSE ' ' END
	+ CUSTOMER_CITY+ ', ' + STATE_NAME  + ', ' + CUSTOMER_ZIP + ', ' + COUNTRY_NAME AS ADDRESS,CUSTOMER_ID,
	'' POLICY_ID,'' POLICY_VERSION_ID,'' POLICY_LOB, 2 as FORORDER
	  FROM CLT_CUSTOMER_LIST CCL WITH (NOLOCK) 
	INNER JOIN MNT_COUNTRY_STATE_LIST MCSL WITH (NOLOCK) ON CCL.CUSTOMER_STATE=MCSL.STATE_ID
	INNER JOIN MNT_COUNTRY_LIST MCL WITH (NOLOCK) ON CCL.CUSTOMER_COUNTRY=MCL.COUNTRY_ID	
	WHERE  CUSTOMER_ID IN (@INACTCUSTID)
	
	ORDER BY FORORDER

END


GO

