IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetLookupValues]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetLookupValues]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--drop proc Proc_GetLookupValues '%occ',null,null  ,1
CREATE PROC [dbo].[Proc_GetLookupValues]  --
(              
 @LookupCode  NVarChar(6),          
 @LookupParam NVarChar(20) = null,        
 --Added by Pawan        
 @OrderBy Char(2) = null,    
 @LANG_ID int = 1 --Added by Charles on 15-Mar-10 for Multilingual Implementation    
)              
          
AS              
          
BEGIN          
  IF(@LookupParam is null)          
  begin          
  If @OrderBy is null          
     SELECT ISNULL(MLVL.LOOKUP_UNIQUE_ID,MLV.LOOKUP_UNIQUE_ID) AS LOOKUP_UNIQUE_ID,    
     ISNULL(MLVL.LOOKUP_VALUE_DESC,MLV.LOOKUP_VALUE_DESC) AS LOOKUP_VALUE_DESC, 
      ISNull(MLV.LOOKUP_FRAME_OR_MASONRY,'') As LOOKUP_VALUE_DESC1,   
     MLV.LOOKUP_VALUE_CODE AS LOOKUP_VALUE_CODE,    
     MLV.[TYPE] AS [TYPE]    
     FROM MNT_LOOKUP_VALUES MLV          
     INNER JOIN MNT_LOOKUP_TABLES MLT ON MLV.LOOKUP_ID = MLT.LOOKUP_ID        
     LEFT OUTER  JOIN MNT_LOOKUP_VALUES_MULTILINGUAL MLVL ON MLV.LOOKUP_UNIQUE_ID = MLVL.LOOKUP_UNIQUE_ID       
  AND MLVL.LANG_ID=   @LANG_ID --AND MLVL.IS_ACTIVE='Y'           
     WHERE MLT.LOOKUP_NAME = @LookupCode AND MLV.IS_ACTIVE='Y'         
       ORDER BY CONVERT(VARCHAR(500),MLV.LOOKUP_VALUE_DESC) ASC          
    else         
   SELECT ISNULL(MLVL.LOOKUP_UNIQUE_ID,MLV.LOOKUP_UNIQUE_ID) AS LOOKUP_UNIQUE_ID,    
   ISNULL(MLVL.LOOKUP_VALUE_DESC,MLV.LOOKUP_VALUE_DESC) AS LOOKUP_VALUE_DESC, 
   ISNull(MLV.LOOKUP_FRAME_OR_MASONRY,'') As LOOKUP_VALUE_DESC1,  
   MLV.LOOKUP_VALUE_CODE AS LOOKUP_VALUE_CODE,  
   MLV.[TYPE] AS [TYPE]   
   FROM MNT_LOOKUP_VALUES MLV          
   INNER JOIN MNT_LOOKUP_TABLES MLT ON   MLV.LOOKUP_ID = MLT.LOOKUP_ID          
   LEFT OUTER  JOIN MNT_LOOKUP_VALUES_MULTILINGUAL MLVL ON MLV.LOOKUP_UNIQUE_ID = MLVL.LOOKUP_UNIQUE_ID       
   AND MLVL.LANG_ID=   @LANG_ID --AND MLVL.IS_ACTIVE='Y'          
   WHERE MLT.LOOKUP_NAME = @LookupCode AND MLV.IS_ACTIVE='Y'            
   ORDER BY MLV.LOOKUP_SYS_DEF ASC           
   end           
  ELSE          
  begin          
    if(@LookupCode = 'LOBCD')          
    begin          
      if(@LookupParam = '')          
      begin          
    If @OrderBy is null        
        SELECT ISNULL(MLVL.LOOKUP_UNIQUE_ID,MLV.LOOKUP_UNIQUE_ID) AS LOOKUP_UNIQUE_ID,    
  ISNULL(MLVL.LOOKUP_VALUE_DESC,MLV.LOOKUP_VALUE_DESC) AS LOOKUP_VALUE_DESC, 
  ISNull(MLV.LOOKUP_FRAME_OR_MASONRY,'') As LOOKUP_VALUE_DESC1,  
  MLV.LOOKUP_VALUE_CODE AS LOOKUP_VALUE_CODE ,  
   MLV.[TYPE] AS [TYPE]   
        FROM MNT_LOOKUP_VALUES MLV          
        INNER JOIN MNT_LOOKUP_TABLES MLT ON   MLV.LOOKUP_ID = MLT.LOOKUP_ID      
        LEFT OUTER  JOIN MNT_LOOKUP_VALUES_MULTILINGUAL MLVL ON MLV.LOOKUP_UNIQUE_ID = MLVL.LOOKUP_UNIQUE_ID       
  AND MLVL.LANG_ID=   @LANG_ID --AND MLVL.IS_ACTIVE='Y'            
        WHERE MLT.LOOKUP_NAME = @LookupCode AND MLV.IS_ACTIVE='Y' ORDER BY CONVERT(VARCHAR(500),MLV.LOOKUP_VALUE_DESC) ASC          
        else         
        SELECT ISNULL(MLVL.LOOKUP_UNIQUE_ID,MLV.LOOKUP_UNIQUE_ID) AS LOOKUP_UNIQUE_ID,    
  ISNULL(MLVL.LOOKUP_VALUE_DESC,MLV.LOOKUP_VALUE_DESC) AS LOOKUP_VALUE_DESC,
  ISNull(MLV.LOOKUP_FRAME_OR_MASONRY,'') As LOOKUP_VALUE_DESC1,   
  MLV.LOOKUP_VALUE_CODE AS LOOKUP_VALUE_CODE,  
   MLV.[TYPE] AS [TYPE]   
  FROM MNT_LOOKUP_VALUES MLV          
        INNER JOIN MNT_LOOKUP_TABLES MLT ON    MLV.LOOKUP_ID = MLT.LOOKUP_ID          
        LEFT OUTER  JOIN MNT_LOOKUP_VALUES_MULTILINGUAL MLVL ON MLV.LOOKUP_UNIQUE_ID = MLVL.LOOKUP_UNIQUE_ID       
  AND MLVL.LANG_ID=   @LANG_ID --AND MLVL.IS_ACTIVE='Y'    
        WHERE MLT.LOOKUP_NAME = @LookupCode AND MLV.IS_ACTIVE='Y' ORDER BY MLV.LOOKUP_SYS_DEF ASC          
     end          
     else          
     begin          
   If @OrderBy is null        
       SELECT  ISNULL(MLVL.LOOKUP_UNIQUE_ID,MLV.LOOKUP_UNIQUE_ID) AS LOOKUP_UNIQUE_ID,    
    ISNULL(MLVL.LOOKUP_VALUE_DESC,MLV.LOOKUP_VALUE_DESC) AS LOOKUP_VALUE_DESC,
    ISNull(MLV.LOOKUP_FRAME_OR_MASONRY,'') As LOOKUP_VALUE_DESC1,   
    MLV.LOOKUP_VALUE_CODE AS LOOKUP_VALUE_CODE,  
    MLV.[TYPE] AS [TYPE]   
    FROM  MNT_LOOKUP_VALUES MLV          
       INNER JOIN MNT_LOOKUP_TABLES MLT ON MLV.LOOKUP_ID = MLT.LOOKUP_ID       
       LEFT OUTER  JOIN MNT_LOOKUP_VALUES_MULTILINGUAL MLVL ON MLV.LOOKUP_UNIQUE_ID = MLVL.LOOKUP_UNIQUE_ID       
    AND MLVL.LANG_ID=   @LANG_ID --AND MLVL.IS_ACTIVE='Y'       
       WHERE  MLT.LOOKUP_NAME = @LookupCode AND MLV.IS_ACTIVE='Y' AND          
        (          
         MLV.TYPE = @LookupParam OR           
         MLV.TYPE = 'B'          
        ) ORDER BY CONVERT(VARCHAR(500),MLV.LOOKUP_VALUE_DESC) ASC          
   else         
    SELECT  ISNULL(MLVL.LOOKUP_UNIQUE_ID,MLV.LOOKUP_UNIQUE_ID) AS LOOKUP_UNIQUE_ID,    
    ISNULL(MLVL.LOOKUP_VALUE_DESC,MLV.LOOKUP_VALUE_DESC) AS LOOKUP_VALUE_DESC,
    ISNull(MLV.LOOKUP_FRAME_OR_MASONRY,'') As LOOKUP_VALUE_DESC1,   
    MLV.LOOKUP_VALUE_CODE AS LOOKUP_VALUE_CODE ,  
    MLV.[TYPE] AS [TYPE]   
    FROM  MNT_LOOKUP_VALUES MLV          
       INNER JOIN MNT_LOOKUP_TABLES MLT ON MLV.LOOKUP_ID = MLT.LOOKUP_ID         
       LEFT OUTER  JOIN MNT_LOOKUP_VALUES_MULTILINGUAL MLVL ON MLV.LOOKUP_UNIQUE_ID = MLVL.LOOKUP_UNIQUE_ID       
    AND MLVL.LANG_ID=   @LANG_ID --AND MLVL.IS_ACTIVE='Y'       
       WHERE  MLT.LOOKUP_NAME = @LookupCode AND MLV.IS_ACTIVE='Y' AND          
        (          
         MLV.TYPE = @LookupParam OR           
         MLV.TYPE = 'B'          
        )  ORDER BY MLV.LOOKUP_SYS_DEF ASC          
     end          
   end          
 end          
END 
GO

