IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetRatingInformationFor_CYCLE_VEHICLE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetRatingInformationFor_CYCLE_VEHICLE]
GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Proc Name           : Dbo.Proc_GetRatingInformationFor_CYCLE_VEHICLE
Created by            : Shrikant Bhatt
Date                     : 15/12/2005
Purpose                : To get the information for creating the input xml for Motorcycle
Revison History 	  :
Used In                 :   Wolverine
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Date     Review By          Comments
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
CREATE PROC Dbo.Proc_GetRatingInformationFor_CYCLE_VEHICLE
(
@CUSTOMERID 			int,
@APPID				int,
@APPVERSIONID			int,
@VEHICLEID				int
)
AS

BEGIN
	set quoted_identifier off

DECLARE         @VEHICLEROWID					nvarchar(20)
DECLARE         @VEHICLETYPE					nvarchar(20)
DECLARE         @YEAR1						nvarchar(20)
DECLARE         @MAKE							nvarchar(20)
DECLARE         @MODEL						nvarchar(20)
DECLARE         @VIN							nvarchar(20)
DECLARE         @SYMBOL						nvarchar(20)
DECLARE         @CC							nvarchar(20)
DECLARE         @CLASS						nvarchar(20)
DECLARE         @COMPREHENSIVEDEDUCTIBLE			nvarchar(20)
DECLARE         @COLLISIONDEDUCTIBLE				nvarchar(20)
DECLARE         @ROADSERVICE					nvarchar(20)
DECLARE         @HELMET						nvarchar(20)
DECLARE         @MCYCLETRAILER					nvarchar(20)
DECLARE         @ADDLPD						nvarchar(20)
DECLARE         @MULTICYCLE						nvarchar(20)
DECLARE         @ZIPCODEGARAGEDLOCATION			nvarchar(20)
DECLARE         @TERRCODEGARAGEDLOCATION			nvarchar(20)
DECLARE         @MVR							nvarchar(20)
DECLARE         @SUMOFVIOLATIONPOINTS				nvarchar(20)
DECLARE         @SUMOFACCIDENTPOINTS				nvarchar(20)
DECLARE         @SUMOFMISCPOINTS					nvarchar(20)
DECLARE         @PDDEDUCTIBLE					nvarchar(20)

DECLARE         @BI							nvarchar(20)
DECLARE         @BILIMIT1						nvarchar(20)
DECLARE         @BILIMIT2						nvarchar(20)
DECLARE         @PD							nvarchar(20)
DECLARE         @CSL							nvarchar(20)
DECLARE         @MEDPMTYPE						nvarchar(20)
DECLARE         @MEDPM						nvarchar(20)
DECLARE         @TYPE							nvarchar(20)
DECLARE         @ISUNDERINSUREDMOTORISTS			nvarchar(20)
DECLARE         @UMSPLIT						nvarchar(20)
DECLARE         @UMSPLITLIMIT1					nvarchar(20)
DECLARE         @UMSPLITLIMIT2					nvarchar(20)
DECLARE         @UMCSL						nvarchar(20)
DECLARE         @PDLIMIT						nvarchar(20)
DECLARE         @MEDPMLIMIT						nvarchar(20)
DECLARE         @GARAGEDLOCATION					nvarchar(20)
DECLARE         @NOCYCLENDMT					nvarchar(20)
DECLARE         @MATUREOPERATORCREDIT				nvarchar(20)
DECLARE         @AGE							nvarchar(20)



DECLARE         @STATE_ID						nvarchar(10)
DECLARE         @LOBID						nvarchar(10)



-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--VEHICLETYPE
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

SELECT
	@VEHICLETYPE =  LOOKUP_VALUE_CODE 
FROM
	APP_VEHICLES INNER JOIN MNT_LOOKUP_VALUES ON MOTORCYCLE_TYPE =LOOKUP_UNIQUE_ID
WHERE 
	CUSTOMER_ID =@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--YEAR , MAKE , MODEL , VIN , SYMBOL , CC , CLASS ,   
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------



SELECT
	@YEAR1 = ISNULL(VEHICLE_YEAR,''),@MAKE = ISNULL(MAKE,''),@MODEL = ISNULL(MODEL,''),@VIN = ISNULL(VIN,''),@SYMBOL = ISNULL(SYMBOL,''),@CC = ISNULL(VEHICLE_CC,'') ,@CLASS = ISNULL(CLASS,'')
	
FROM
	APP_VEHICLES
WHERE 
	CUSTOMER_ID =@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID AND @VEHICLEID = VEHICLE_ID

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--207         BISPL      Part A - Bodily Injury Liability (Split Limit) 	[STATE		=	MICHIGAN]
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
SELECT 
	@BILIMIT1 = ISNULL(LIMIT_1,0), @BILIMIT2 = ISNULL(LIMIT_2,0), @BI	= cast(@BILIMIT2  + '/' +  @BILIMIT2  as varchar(10))
FROM 
	APP_VEHICLE_COVERAGES INNER JOIN MNT_COVERAGE ON  COV_ID = COVERAGE_CODE_ID 
WHERE 
	CUSTOMER_ID =@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID
	AND MNT_COVERAGE.STATE_ID 	= @STATE_ID
	AND MNT_COVERAGE.LOB_ID 		= @LOBID
	AND MNT_COVERAGE.COV_CODE	= 'RLCSL'

IF (@BILIMIT1 IS NULL)
	BEGIN
		SET @BILIMIT1= ''
	END

IF (@BILIMIT2 IS NULL)
	BEGIN
		SET @BILIMIT2= ''
	END
IF (@BI IS NULL)
	BEGIN
		SET @BI= ''
	END
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--208         PD         Part A - Property Damage Liability  	[STATE		=	MICHIGAN]
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
SELECT 
	@PD	= CAST(LIMIT_1 as varchar(10)) + '/' + CAST( LIMIT_2  as varchar(10))
FROM 
	APP_VEHICLE_COVERAGES INNER JOIN MNT_COVERAGE ON  COV_ID = COVERAGE_CODE_ID 
WHERE 
	CUSTOMER_ID =@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID
	AND MNT_COVERAGE.STATE_ID 	= @STATE_ID
	AND MNT_COVERAGE.LOB_ID 		= @LOBID
	AND MNT_COVERAGE.COV_CODE	= 'PD'

IF (@PD IS NULL)
	BEGIN
		SET @PD= ''
	END
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--206         RLCSL      Part A - Single Limits Liability (CSL) 	[STATE		=	MICHIGAN]
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
SELECT 
	@CSL	= CAST(LIMIT_1 as varchar(10))  + '/' + CAST(LIMIT_2 as varchar(10))
FROM 
	APP_VEHICLE_COVERAGES INNER JOIN MNT_COVERAGE ON  COV_ID = COVERAGE_CODE_ID 
WHERE 
	CUSTOMER_ID =@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID
	AND MNT_COVERAGE.STATE_ID 	= @STATE_ID
	AND MNT_COVERAGE.LOB_ID 		= @LOBID
	AND MNT_COVERAGE.COV_CODE	= 'RLCSL'


IF (@CSL IS NULL)
	BEGIN
		SET @CSL= ''
	END
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--YET TO BE DISCUSSED 	[STATE		=	MICHIGAN]
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
SET @MEDPMTYPE	 			=	''
SET @MEDPM					=	''
--SET @MEDICALDEDUCTIBLE			=	''
SET @TYPE					=	''
SET @ISUNDERINSUREDMOTORISTS		=	''
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--212         UMISG      Part C - Uninsured Motorists (BI Single Limit)
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
IF EXISTS(
	SELECT 
		 LIMIT_1
	FROM 
		APP_VEHICLE_COVERAGES INNER JOIN MNT_COVERAGE ON  COV_ID = COVERAGE_CODE_ID 
	WHERE 
		CUSTOMER_ID =@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID
		AND MNT_COVERAGE.STATE_ID 	= @STATE_ID
		AND MNT_COVERAGE.LOB_ID 		= @LOBID
		AND MNT_COVERAGE.COV_CODE	= 'UMISG')
	BEGIN
		SET @ISUNDERINSUREDMOTORISTS ='Y'
	END
ELSE
	BEGIN
		SET @ISUNDERINSUREDMOTORISTS ='N'
	END	
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--214         UNDSP      Part C - Underinsured Motorists (BI Split Limit) (M-16)
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

SELECT 
	@UMSPLITLIMIT1 = ISNULL(LIMIT_1,0), @UMSPLITLIMIT2 = ISNULL(LIMIT_2,0), @UMSPLIT	= cast(@UMSPLITLIMIT1  + '/' +  @UMSPLITLIMIT2  as varchar(10))
FROM 
	APP_VEHICLE_COVERAGES INNER JOIN MNT_COVERAGE ON  COV_ID = COVERAGE_CODE_ID 
WHERE 
	CUSTOMER_ID =@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID
	AND MNT_COVERAGE.STATE_ID 	= @STATE_ID
	AND MNT_COVERAGE.LOB_ID 		= @LOBID
	AND MNT_COVERAGE.COV_CODE	= 'UNDSP'

IF (@UMSPLITLIMIT1 IS NULL)
	BEGIN
		SET @UMSPLITLIMIT1= ''
	END

IF (@UMSPLITLIMIT2 IS NULL)
	BEGIN
		SET @UMSPLITLIMIT2= ''
	END
IF (@UMSPLIT IS NULL)
	BEGIN
		SET @UMSPLIT= ''
	END
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--211         PUNCS      Part C - Uninsured Motorists (CSL)
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

SELECT 
	@UMCSL	= CAST(LIMIT_1 as varchar(10))  + '/' + CAST(LIMIT_2 as varchar(10))
FROM 
	APP_VEHICLE_COVERAGES INNER JOIN MNT_COVERAGE ON  COV_ID = COVERAGE_CODE_ID 
WHERE 
	CUSTOMER_ID =@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID
	AND MNT_COVERAGE.STATE_ID 	= @STATE_ID
	AND MNT_COVERAGE.LOB_ID 		= @LOBID
	AND MNT_COVERAGE.COV_CODE	= 'UNDSP'

IF (@UMCSL IS NULL)
	BEGIN
		SET @UMCSL= ''
	END

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--WORK TO BE DONE
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*IF (@STATENAME = 'MICHIGAN')
	BEGIN
		SET 	@PDLIMIT	=	""
	END

IF (@STATENAME = 'STATENAME')
	BEGIN
		SET 	@PDLIMIT	=	""
	END


SET 	@MEDPMLIMIT					=	""
*/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
SET @COMPREHENSIVEDEDUCTIBLE		=	''
SET @COLLISIONDEDUCTIBLE			=	''
SET @ROADSERVICE				=	''
SET @HELMET					=	''
SET @MCYCLETRAILER			=	''
SET @ADDLPD					=	''


--MNT_COVERAGE

-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
/*DECLARE VEHICLECOUNT	
SELECT
	 COUNT(*) 
FROM 
	APP_VEHICLES 
WHERE
	 CUSTOMER_ID = 650 AND APP_ID=4 AND APP_VERSION_ID =1 AND VEHICLE_ID = 1

*/
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


SELECT
			@YEAR1 								AS	YEAR1,
			@MAKE 								AS	MAKE, 
			@MODEL 								AS	MODEL, 
			@VIN									AS	VIN,  
			@SYMBOL								AS	SYMBOL,
			@CC									AS	CC,
			@CLASS								AS	CLASS,
			@BI									AS	BI ,
			@BILIMIT1								AS	BILIMIT1,
			@BILIMIT2								AS	BILIMIT2,
			@PD									AS	PD,
			@CSL									AS	CSL,
			-----------------------------------------------------------------------------------------------------------------------------------------------------------------
			@MEDPMTYPE								AS	MEDPMTYPE,
			@MEDPM								AS	MEDPM,
			--@MEDICALDEDUCTIBLE						AS	MEDICALDEDUCTIBLE,
			@TYPE									AS	TYPE,
			-----------------------------------------------------------------------------------------------------------------------------------------------------------------
			@ISUNDERINSUREDMOTORISTS					AS	ISUNDERINSUREDMOTORISTS,
			@UMSPLIT								AS	UMSPLIT,	
			@UMSPLITLIMIT1							AS	UMSPLITLIMIT1,
			@UMSPLITLIMIT2							AS	UMSPLITLIMIT2,
			@UMCSL								AS	UMCSL,
			--@MULTIPOLICYAUTOHOMEDISCOUNT				AS	MULTIPOLICYAUTOHOMEDISCOUNT,
			--@INSURANCESCORE							AS	INSURANCESCORE
			@COMPREHENSIVEDEDUCTIBLE					AS	COMPREHENSIVEDEDUCTIBLE,
			@COLLISIONDEDUCTIBLE						AS	COLLISIONDEDUCTIBLE,	
			@ROADSERVICE							AS	ROADSERVICE,
			@HELMET								AS	HELMET,
			@MCYCLETRAILER							AS	MCYCLETRAILER,
			@ADDLPD								AS	ADDLPD
END

GO

