IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_UPDATECIVILTRANSPORTVEHICLE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_UPDATECIVILTRANSPORTVEHICLE]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

  /*----------------------------------------------------------                    
PROC NAME       : DBO.POL_CIVIL_TRANSPORT_VEHICLES                    
CREATED BY      : PRADEEP KUSHWAHA           
DATE            : 23/04/2010                    
PURPOSE       :TO UPDATE RECORDS IN POL_CIVIL_TRANSPORT_VEHICLES TABLE.                    
REVISON HISTORY :                    
USED IN        : EBIX ADVANTAGE                    
------------------------------------------------------------                    
DATE     REVIEW BY          COMMENTS                    
------   ------------       -------------------------*/                    
--DROP PROC DBO.PROC_UPDATECIVILTRANSPORTVEHICLE             
          
CREATE PROC [dbo].[PROC_UPDATECIVILTRANSPORTVEHICLE]        
(          
         
 @CUSTOMER_ID INT,        
 @POLICY_ID INT,        
 @POLICY_VERSION_ID SMALLINT,        
 @VEHICLE_ID INT,        
 @CLIENT_ORDER NUMERIC,        
 @VEHICLE_NUMBER NUMERIC,        
 @MANUFACTURED_YEAR NUMERIC,        
 @FIPE_CODE NVARCHAR(20),        
 @CATEGORY INT =NULL,        
 @CAPACITY NVARCHAR(6)=NULL,        
 @MAKE_MODEL NVARCHAR(100)=NULL,        
 @LICENSE_PLATE NVARCHAR(14)=NULL,        
 @CHASSIS NVARCHAR(50)=NULL,        
 @MANDATORY_DEDUCTIBLE NUMERIC=NULL,        
 @FACULTATIVE_DEDUCTIBLE NUMERIC=NULL,        
 @SUB_BRANCH INT =NULL,        
 @RISK_EFFECTIVE_DATE DATETIME,        
 @RISK_EXPIRE_DATE DATETIME,        
 @REGION INT =NULL,        
 @COV_GROUP_CODE NVARCHAR(30)=NULL,        
 @FINANCE_ADJUSTMENT NVARCHAR(100)=NULL,        
 @REFERENCE_PROPOSASL NVARCHAR(100)=NULL,        
 @REMARKS NVARCHAR(4000)=NULL,        
 @MODIFIED_BY INT,        
 @LAST_UPDATED_DATETIME DATETIME , 
 @CO_APPLICANT_ID INT ,
 @ZIP_CODE NVARCHAR(10)=NULL,        
 @CALLED_FROM NVARCHAR(50)=NULL,
  @EXCEEDED_PREMIUM INT = NULL 
 -- , @ORIGINAL_VERSION_ID INT=NULL      
)          
AS           
        
BEGIN          
  
DECLARE @MAKEMODEL NVARCHAR(100)      
DECLARE @FLAG BIT   
DECLARE @LOOUP_UNIQUE_ID INT

   
EXEC PROC_CHECK_RISK_EFFDATE_AND_RISK_EXPDATE @CUSTOMER_ID,@POLICY_ID,@POLICY_VERSION_ID,@RISK_EFFECTIVE_DATE,@RISK_EXPIRE_DATE,@FLAG OUT  

    

IF(@FLAG=1)  
 BEGIN  
  IF (@MAKE_MODEL='' AND @CALLED_FROM<>'AERO')   
   BEGIN  
    EXEC Proc_GetMakeModelData @FIPE_CODE, @MAKEMODEL OUT ,@LOOUP_UNIQUE_ID OUT,@CAPACITY OUT --Get the MakeModel using Fipe Code    
     IF (@MAKEMODEL<>'')  
      BEGIN   
       SELECT @MAKE_MODEL=@MAKEMODEL 
       SELECT @CATEGORY =@LOOUP_UNIQUE_ID   
       SELECT @CAPACITY =@CAPACITY   
  --     IF(@LOOUP_UNIQUE_ID<>'')     
		--SELECT @CATEGORY =@LOOUP_UNIQUE_ID     
		--ELSE
		--SELECT @CATEGORY =NULL
      END  
     --ELSE
     --BEGIN
     --  SELECT @CATEGORY =NULL
     --END 
   END  
  IF (@MAKE_MODEL<>'' or @CALLED_FROM = 'AERO')      
  BEGIN     
      CREATE TABLE  #tempPolicyVersion(POLICY_VERSION INT)
      DECLARE @END_OPTION INT
      SELECT @END_OPTION = ENDORSEMENT_OPTION FROM POL_POLICY_PROCESS WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND NEW_POLICY_VERSION_ID = @POLICY_VERSION_ID
      
      IF(@END_OPTION IN (1,3))
		   BEGIN
				IF EXISTS(SELECT REVERT_BACK FROM POL_POLICY_PROCESS WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND NEW_POLICY_VERSION_ID = @POLICY_VERSION_ID)
				BEGIN	
					INSERT INTO #tempPolicyVersion SELECT NEW_POLICY_VERSION_ID FROM POL_POLICY_PROCESS WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND REVERT_BACK = CAST(@POLICY_VERSION_ID AS NCHAR(1))
				END
				ELSE
					INSERT INTO #tempPolicyVersion VALUES(@POLICY_VERSION_ID)
					
				
				UPDATE POL_CIVIL_TRANSPORT_VEHICLES SET				
					MANUFACTURED_YEAR = @MANUFACTURED_YEAR,
					--CO_APPLICANT_ID = @CO_APPLICANT_ID,
					LICENSE_PLATE = @LICENSE_PLATE
					WHERE CUSTOMER_ID = @CUSTOMER_ID AND 
					POLICY_ID = @POLICY_ID AND 
					POLICY_VERSION_ID IN  (SELECT POLICY_VERSION FROM  #tempPolicyVersion)
			END	
	ELSE
		BEGIN	
		   UPDATE POL_CIVIL_TRANSPORT_VEHICLES                                                    
			 SET       
			 CLIENT_ORDER=@CLIENT_ORDER,        
			 VEHICLE_NUMBER=@VEHICLE_NUMBER,        
			 MANUFACTURED_YEAR=@MANUFACTURED_YEAR,        
			 FIPE_CODE=@FIPE_CODE,        
			 CATEGORY=@CATEGORY ,        
			 CAPACITY=@CAPACITY,        
			 MAKE_MODEL=@MAKE_MODEL ,        
			 LICENSE_PLATE=@LICENSE_PLATE ,        
			 CHASSIS=@CHASSIS,        
			 MANDATORY_DEDUCTIBLE=@MANDATORY_DEDUCTIBLE ,        
			 FACULTATIVE_DEDUCTIBLE=@FACULTATIVE_DEDUCTIBLE,        
			 SUB_BRANCH=@SUB_BRANCH,        
			 RISK_EFFECTIVE_DATE=@RISK_EFFECTIVE_DATE,        
			 RISK_EXPIRE_DATE =@RISK_EXPIRE_DATE ,        
			 REGION =@REGION ,        
			 COV_GROUP_CODE=@COV_GROUP_CODE ,        
			 FINANCE_ADJUSTMENT=@FINANCE_ADJUSTMENT ,        
			 REFERENCE_PROPOSASL=@REFERENCE_PROPOSASL ,        
			 REMARKS=@REMARKS,        
			 MODIFIED_BY=@MODIFIED_BY,        
			 LAST_UPDATED_DATETIME=@LAST_UPDATED_DATETIME ,
			 CO_APPLICANT_ID=@CO_APPLICANT_ID ,
			 ZIP_CODE = @ZIP_CODE,
			 EXCEEDED_PREMIUM = @EXCEEDED_PREMIUM
			-- , ORIGINAL_VERSION_ID=@ORIGINAL_VERSION_ID        
		            
			WHERE    
		   CUSTOMER_ID=@CUSTOMER_ID AND         
		   POLICY_ID=@POLICY_ID AND            
		   VEHICLE_ID=@VEHICLE_ID  AND 
		   POLICY_VERSION_ID = @POLICY_VERSION_ID     
   END   
   RETURN 1    
  END    
 ELSE    
   BEGIN  
  RETURN -2  
   END  
 END    
ELSE  
 BEGIN  
  RETURN -3  --If the Risk Effective date and risk expiry date is not match with Applciation Effective date and expiry date.  
 END  
END  
  
   
    
GO

