IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_DELETE_DWELLING_COVERAGES_BY_PRODUCT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_DELETE_DWELLING_COVERAGES_BY_PRODUCT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


--drop proc Proc_DELETE_DWELLING_COVERAGES_BY_PRODUCT          
          
/*----------------------------------------------------------                                      
Proc Name       : dbo.Proc_DELETE_DWELLING_COVERAGES_BY_PRODUCT                                      
Created by      : Pradeep                                      
Date            : 02/03/2006                                 
Purpose      :  Called when policy type is changed from       
  Policy page      
Revison History :                                      
Used In  : Wolverine                                      
------------------------------------------------------------                                      
Date     Review By          Comments                                      
------   ------------       -------------------------*/                                      
CREATE           PROC Dbo.Proc_DELETE_DWELLING_COVERAGES_BY_PRODUCT                                      
(                                      
 @CUSTOMER_ID     int,                                      
 @POLICY_ID     int,                                      
 @POLICY_VERSION_ID     smallint,
 @DWELLING_ID Int                                     
                
)                                      
AS                                      
                                      
BEGIN      
            
 
 DECLARE @PRODUCT_ID Int    
 DECLARE @STATE_ID Int    
 DECLARE @LOB_ID Int     
    
SELECT @PRODUCT_ID = POLICY_TYPE,    
 @STATE_ID = STATE_ID,    
       @LOB_ID = POLICY_LOB    
FROM POL_CUSTOMER_POLICY_LIST    
 WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
    POLICY_ID = @POLICY_ID AND          
    POLICY_VERSION_ID = @POLICY_VERSION_ID     
    
---Set Default values -----------------------------------------    
  
 IF ( @STATE_ID = 22 )    
 BEGIN    
   --Ho-2    
   IF ( @PRODUCT_ID = 11402)    
   BEGIN
	--Endorsements    
   	DELETE  FROM POL_DWELLING_ENDORSEMENTS
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND
		ENDORSEMENT_ID IN (163,158,164,165,167,169,174,177,179,191,200,187,186) 		

	
	DELETE  POL_DWELLING_SECTION_COVERAGES
	FROM POL_DWELLING_SECTION_COVERAGES D
	INNER JOIN MNT_COVERAGE M ON
		D.COVERAGE_CODE_ID = M.COV_ID
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND	
		M.COV_CODE IN ('EBNBPL','Woods','EBP23','EBEP11','EBOS48' ,'EBPPC','EBALEXP'  ,'EBCASP','EBUNIT','LAC' ,'EBAIRP','EBBAA','EBRDC','EBCDC','EBMC','RECST'  ,'EBP25' ,'MIN##','EBRDC','EBCDC','EBUNIT')
	
   END    
       
   --Ho-2 Repair Cost    
   IF ( @PRODUCT_ID = 11403)    
   BEGIN    
    --Endorsements    
   	 DELETE  FROM POL_DWELLING_ENDORSEMENTS
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND
		ENDORSEMENT_ID IN (163,158,164,165,174,200,187,177,167,179,186)

	
	DELETE  POL_DWELLING_SECTION_COVERAGES
	FROM POL_DWELLING_SECTION_COVERAGES D
	INNER JOIN MNT_COVERAGE M ON
		D.COVERAGE_CODE_ID = M.COV_ID
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND	
		M.COV_CODE IN ('EBP23' ,'EBEP11' ,'EBCASP' ,'EBUNIT' ,'EBBAA' ,'EBP25' ,'LAC','EBRDC','EBCDC')  
   
   END    
       
   --Ho-3     
   IF ( @PRODUCT_ID = 11400)    
   BEGIN    
    --Endorsements    
   	DELETE  FROM POL_DWELLING_ENDORSEMENTS
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND
		ENDORSEMENT_ID IN (163,164,165,167,169,174,177,179,191,200,187,186)

	
	DELETE  POL_DWELLING_SECTION_COVERAGES
	FROM POL_DWELLING_SECTION_COVERAGES D
	INNER JOIN MNT_COVERAGE M ON
		D.COVERAGE_CODE_ID = M.COV_ID
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND	
		M.COV_CODE IN ('EBNBPL','Woods','EBP23' ,'EBP25' ,'EBOS48' ,'EBPPC','EBALEXP' ,'EBCASP','EBUNIT','LAC','EBAIRP','EBBAA','EBMC','RECST' ,'EBP25' ,'MIN##','EBRDC','EBCDC')  
   END    
       
   --Ho-3 Premier    
   IF ( @PRODUCT_ID = 11409)    
   BEGIN    
    DELETE  FROM POL_DWELLING_ENDORSEMENTS
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND
		ENDORSEMENT_ID IN (162,163,164,165,167,174,177,179,186,187,191)

	
	DELETE  POL_DWELLING_SECTION_COVERAGES
	FROM POL_DWELLING_SECTION_COVERAGES D
	INNER JOIN MNT_COVERAGE M ON
		D.COVERAGE_CODE_ID = M.COV_ID
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND	
		M.COV_CODE IN ('LAC','MIN##','EBMC','EBNBPL','RECST','EBUNIT','woods','EBP21','EBP23' ,'EBCASP' ,'EBBAA' ,'LAC','EBRDC','EBCDC')  
   END    
       
   --HO-3 Repair Cost    
   IF ( @PRODUCT_ID = 11404)    
   BEGIN    
    	 DELETE  FROM POL_DWELLING_ENDORSEMENTS
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND
		ENDORSEMENT_ID IN (163,158,164,165,174,200,187,177,167,179,186)

	
	DELETE  POL_DWELLING_SECTION_COVERAGES
	FROM POL_DWELLING_SECTION_COVERAGES D
	INNER JOIN MNT_COVERAGE M ON
		D.COVERAGE_CODE_ID = M.COV_ID
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND	
		M.COV_CODE IN ('EBP23' ,'EBEP11' ,'EBCASP' ,'EBUNIT' ,'EBBAA' ,'EBP25' ,'LAC','EBRDC','EBCDC')  
   END    
       
   --HO-4    
   IF ( @PRODUCT_ID = 11405)    
   BEGIN    
    	DELETE  FROM POL_DWELLING_ENDORSEMENTS
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND
		ENDORSEMENT_ID IN (158,200,190,163,164,165,159,187,172,191,167,179,177)

	
	DELETE  POL_DWELLING_SECTION_COVERAGES
	FROM POL_DWELLING_SECTION_COVERAGES D
	INNER JOIN MNT_COVERAGE M ON
		D.COVERAGE_CODE_ID = M.COV_ID
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND	
		M.COV_CODE IN ('EBEP11' ,'EBP25' ,'SEWER' ,'MIN##' ,'EBP23' ,'DWELL' ,'OS' ,'EBCASP','EBUNIT' ,'LAC' ,'EBDUC','EBCDC','EBRDC','REDUC','RECST')  
   END    
       
   --HO-4 Deluxe    
   IF ( @PRODUCT_ID = 11407)    
   BEGIN    
   	DELETE  FROM POL_DWELLING_ENDORSEMENTS
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND
		ENDORSEMENT_ID IN (158,200,190,163,164,165,159,187,172,191,167,179)

	
	DELETE  POL_DWELLING_SECTION_COVERAGES
	FROM POL_DWELLING_SECTION_COVERAGES D
	INNER JOIN MNT_COVERAGE M ON
		D.COVERAGE_CODE_ID = M.COV_ID
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND	
		M.COV_CODE IN ('EBP25' ,'EBEP11' ,'SEWER' ,'MIN##' ,'EBCASP','EBUNIT' ,'DWELL' ,'OS' ,'EBP23' ,'LAC' ,'EBDUC','EBCDC','REDUC','RECST')   
   END    
       
   --HO-5    
   IF ( @PRODUCT_ID = 11401)    
   BEGIN    
    	DELETE  FROM POL_DWELLING_ENDORSEMENTS
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND
		ENDORSEMENT_ID IN (161,162,164,165,174,178,177,191,167,179,186,200)

	
	DELETE  POL_DWELLING_SECTION_COVERAGES
	FROM POL_DWELLING_SECTION_COVERAGES D
	INNER JOIN MNT_COVERAGE M ON
		D.COVERAGE_CODE_ID = M.COV_ID
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND	
		M.COV_CODE IN ('EBP20','EBP21' ,'MIN##' ,'EBCASP','EBUNIT' ,'EBBAA' ,'LAC' ,'EBP25','EBRDC','EBCDC','REDUC','RECST')   
   END    
            
   --HO-5 Premier    
   IF ( @PRODUCT_ID = 11410)    
   BEGIN    
    	DELETE  FROM POL_DWELLING_ENDORSEMENTS
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND
		ENDORSEMENT_ID IN (161,162,163,164,165,167,174,177,179,186,187,191)

	
	DELETE  POL_DWELLING_SECTION_COVERAGES
	FROM POL_DWELLING_SECTION_COVERAGES D
	INNER JOIN MNT_COVERAGE M ON
		D.COVERAGE_CODE_ID = M.COV_ID
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND	
		M.COV_CODE IN ('EBP20','EBP21','EBP23','EBOS48' ,'EBPPC','EBALEXP' ,'EBCASP','EBUNIT' ,'LAC','EBAIRP','EBBAA','EBMC','RECST' ,'MIN##' ,'EBRDC','EBCDC','REDUC')   
   END    
       
   --HO-6    
   IF ( @PRODUCT_ID = 11406)    
   BEGIN    
    	DELETE  FROM POL_DWELLING_ENDORSEMENTS
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND
		ENDORSEMENT_ID IN (200,158,190,163,174,159,187,172,177,191,179)

	
	DELETE  POL_DWELLING_SECTION_COVERAGES
	FROM POL_DWELLING_SECTION_COVERAGES D
	INNER JOIN MNT_COVERAGE M ON
		D.COVERAGE_CODE_ID = M.COV_ID
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND	
		M.COV_CODE IN ('EBP25' ,'EBEP11' ,'SEWER' ,'MIN##' ,'OS' ,'EBP23' ,'EBBAA' ,'EBDUC','EBCDC','EBRDC','REDUC','RECST')   
   END    
       
   --HO-6 Deluxe    
   IF ( @PRODUCT_ID = 11408)    
   BEGIN    
    	DELETE  FROM POL_DWELLING_ENDORSEMENTS
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND
		ENDORSEMENT_ID IN (200,158,190,174,163,159,187,172,177,191)

	
	DELETE  POL_DWELLING_SECTION_COVERAGES
	FROM POL_DWELLING_SECTION_COVERAGES D
	INNER JOIN MNT_COVERAGE M ON
		D.COVERAGE_CODE_ID = M.COV_ID
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND	
		M.COV_CODE IN ('EBP25' ,'EBEP11' ,'SEWER' ,'MIN##' ,'EBBAA' ,'EBP23' ,'OS' ,'EBDUC','EBRDC','REDUC','RECST')   
   END    
     
   --Rental--------------------    
   --DP-2    
   IF ( @PRODUCT_ID = 11289)    
   BEGIN    
   	RETURN
   END    
       
   --DP-2 Repair Cost     
   IF ( @PRODUCT_ID = 11290)    
   BEGIN    
    	RETURN
   END    
       
   --DP-3    
   IF ( @PRODUCT_ID = 11291)    
   BEGIN    
    RETURN
   END    
        
   --DP-3 Premier    
   IF ( @PRODUCT_ID = 11458)    
   BEGIN    
    RETURN
   END    
       
   --DP-3 Repair Cost    
   IF ( @PRODUCT_ID = 11292)    
   BEGIN    
    RETURN
   END      
  -----------------------------    
    
 END    
       
 IF ( @STATE_ID = 14 )    
 BEGIN    
  --Ho-2    
  IF ( @PRODUCT_ID = 11192)    
  BEGIN    
   DELETE  FROM POL_DWELLING_ENDORSEMENTS
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND
		ENDORSEMENT_ID IN (209,215,216,224,227,229,237,243,214,236,277)

	
	DELETE  POL_DWELLING_SECTION_COVERAGES
	FROM POL_DWELLING_SECTION_COVERAGES D
	INNER JOIN MNT_COVERAGE M ON
		D.COVERAGE_CODE_ID = M.COV_ID
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND	
		M.COV_CODE IN ('EBNBPL','Woods','EBP23','EBEP11','EBOS48' ,'EBPPC','EBALEXP'  ,'EBCASP','EBUNIT','LAC','EBAIRP','EBBAA','EBMC','RECST'  ,'EBP25' ,'EBP24' ,'LAC','EBRDC','EBCDC')   
  END    
      
  --Ho-2 Repair Cost    
  IF ( @PRODUCT_ID = 11193)    
  BEGIN    
	DELETE  FROM POL_DWELLING_ENDORSEMENTS
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND
		ENDORSEMENT_ID IN (237,214,227,236,277,209,215,216,229,224)

	
	DELETE  POL_DWELLING_SECTION_COVERAGES
	FROM POL_DWELLING_SECTION_COVERAGES D
	INNER JOIN MNT_COVERAGE M ON
		D.COVERAGE_CODE_ID = M.COV_ID
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND	
		M.COV_CODE IN ('EBP23','EBP24' ,'EBEP11' ,'EBCASP' ,'EBUNIT' ,'EBBAA' ,'EBP25' ,'LAC','EBRDC','EBCDC')   
   
  END    
      
  --Ho-3     
  IF ( @PRODUCT_ID = 11148)    
  BEGIN    
	DELETE  FROM POL_DWELLING_ENDORSEMENTS
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND
		ENDORSEMENT_ID IN (215,216,224,227,229,237,243,236,277)

	
	DELETE  POL_DWELLING_SECTION_COVERAGES
	FROM POL_DWELLING_SECTION_COVERAGES D
	INNER JOIN MNT_COVERAGE M ON
		D.COVERAGE_CODE_ID = M.COV_ID
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND	
		M.COV_CODE IN ('EBNBPL','Woods','EBP23','EBOS48' ,'EBPPC','EBALEXP' ,'EBCASP','EBUNIT','LAC','EBAIRP','EBBAA','EBMC','RECST' ,'EBP25','EBRDC','EBCDC')   
   
  END    
       
  --HO-3 Repair Cost    
  IF ( @PRODUCT_ID = 11194)    
  BEGIN    
	DELETE  FROM POL_DWELLING_ENDORSEMENTS
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND
		ENDORSEMENT_ID IN (237,214,227,236,277,209,215,216,229,224)

	
	DELETE  POL_DWELLING_SECTION_COVERAGES
	FROM POL_DWELLING_SECTION_COVERAGES D
	INNER JOIN MNT_COVERAGE M ON
		D.COVERAGE_CODE_ID = M.COV_ID
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND	
		M.COV_CODE IN ('EBP23','EBP24' ,'EBEP11' ,'EBCASP' ,'EBUNIT' ,'EBBAA' ,'EBP25' ,'LAC','EBRDC','EBCDC')   
  
  END    
      
  --HO-4    
  IF ( @PRODUCT_ID = 11195)    
  BEGIN    
  	DELETE  FROM POL_DWELLING_ENDORSEMENTS
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND
		ENDORSEMENT_ID IN (210,237,222,241,208,243,277,214,209,216,229,215,227)

	
	DELETE  POL_DWELLING_SECTION_COVERAGES
	FROM POL_DWELLING_SECTION_COVERAGES D
	INNER JOIN MNT_COVERAGE M ON
		D.COVERAGE_CODE_ID = M.COV_ID
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND	
		M.COV_CODE IN ('EBEP11' ,'EBP25' ,'SEWER' ,'EBP23' ,'DWELL' ,'OS' ,'EBCASP' ,'EBUNIT' ,'EBP24' ,'HO9' ,'LAC' ,'EBDUC' ,'EBCDC','EBRDC','REDUC','RECST')    
  END    
      
  --HO-4 Deluxe    
  IF ( @PRODUCT_ID = 11245)    
  BEGIN    
   	DELETE  FROM POL_DWELLING_ENDORSEMENTS
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND
		ENDORSEMENT_ID IN (210,237,222,241,208,243,277,214,209,216,229,215)

	
	DELETE  POL_DWELLING_SECTION_COVERAGES
	FROM POL_DWELLING_SECTION_COVERAGES D
	INNER JOIN MNT_COVERAGE M ON
		D.COVERAGE_CODE_ID = M.COV_ID
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND	
		M.COV_CODE IN ('EBP25','EBP24' ,'EBEP11' ,'SEWER' ,'EBCASP','EBUNIT' ,'DWELL' ,'OS' ,'EBP23' ,'HO9' ,'LAC' ,'EBDUC','EBCDC','REDUC','RECST')    
  END    
      
  --HO-5    
  IF ( @PRODUCT_ID = 11149)    
  BEGIN    
   	DELETE  FROM POL_DWELLING_ENDORSEMENTS
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND
		ENDORSEMENT_ID IN (228,212,213,224,227,243,236,277,215,229)

	
	DELETE  POL_DWELLING_SECTION_COVERAGES
	FROM POL_DWELLING_SECTION_COVERAGES D
	INNER JOIN MNT_COVERAGE M ON
		D.COVERAGE_CODE_ID = M.COV_ID
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND	
		M.COV_CODE IN ('EBP20','EBP21' ,'EBCASP','EBUNIT' ,'EBBAA' ,'LAC','EBRDC','EBCDC','REDUC','RECST')    
  END    
      
  --HO-6    
  IF ( @PRODUCT_ID = 11196)    
  BEGIN    
   	DELETE  FROM POL_DWELLING_ENDORSEMENTS
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND
		ENDORSEMENT_ID IN (210,237,222,224,227,241,208,243,214,209,229)

	
	DELETE  POL_DWELLING_SECTION_COVERAGES
	FROM POL_DWELLING_SECTION_COVERAGES D
	INNER JOIN MNT_COVERAGE M ON
		D.COVERAGE_CODE_ID = M.COV_ID
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND	
		M.COV_CODE IN ('EBP25','EBP24' ,'EBEP11' ,'SEWER' ,'OS' ,'EBP23' ,'EBBAA' ,'HO9' ,'EBDUC','EBRDC','EBCDC','REDUC','RECST')    
  END    
      
  --HO-6 Deluxe    
  IF ( @PRODUCT_ID = 11246)    
  BEGIN    
   DELETE  FROM POL_DWELLING_ENDORSEMENTS
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND
		ENDORSEMENT_ID IN (210,237,222,224,227,241,208,243,214,209)

	
	DELETE  POL_DWELLING_SECTION_COVERAGES
	FROM POL_DWELLING_SECTION_COVERAGES D
	INNER JOIN MNT_COVERAGE M ON
		D.COVERAGE_CODE_ID = M.COV_ID
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
	    POLICY_ID = @POLICY_ID AND          
	    POLICY_VERSION_ID = @POLICY_VERSION_ID  AND
		DWELLING_ID = @DWELLING_ID AND	
		M.COV_CODE IN ('EBP25','EBP24' ,'EBEP11' ,'SEWER' ,'OS' ,'EBP23' ,'EBBAA' ,'HO9' ,'EBDUC','EBRDC','EBCDC','REDUC','RECST')    
  END    
      
  --Rental--------------------    
  --DP-2    
  IF ( @PRODUCT_ID = 11479)    
  BEGIN    
   RETURN
  END    
      
  --DP-2 Repair Cost     
  IF ( @PRODUCT_ID = 11480)    
  BEGIN    
   RETURN
  END    
      
  --DP-3    
  IF ( @PRODUCT_ID = 11481)    
  BEGIN    
   RETURN
  END    
       
  --DP-3 Premier    
  IF ( @PRODUCT_ID = 11458)    
  BEGIN    
   RETURN
  END    
      
  --DP-3 Repair Cost    
  IF ( @PRODUCT_ID = 11482)    
  BEGIN    
   RETURN
  END      
  -----------------------------    
 END    
    
--End of default values----------------------    
    
    
     
      

                    
END                   
                   
                     
                      
                  
                                 
                                      
                                      
                                    
                                    
                                    
                                  
                                
                              
                            
                          
                        
                      
                    
                  
                
              
            
          
        
      
    
  



GO

