IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_SaveAgencyProductionData]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_SaveAgencyProductionData]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--drop PROC [dbo].[Proc_SaveAgencyProductionData]  
CREATE PROC [dbo].[Proc_SaveAgencyProductionData]  
(   
 @MONTH INT,  
 @YEAR INT  
)  
AS  
BEGIN   
DECLARE @MONTH_END_DATE DATETIME, @MONTH_START_DATE DATETIME
SET @MONTH_END_DATE=DATEADD(DD,-1,DATEADD(M,1,CAST(CONVERT(VARCHAR,@MONTH) + '/01/' + CONVERT(VARCHAR,@YEAR)   + ' 23:59:59:998' AS DATETIME)));
SET @MONTH_START_DATE =  CAST(CONVERT(VARCHAR,@MONTH) + '/01/' + CONVERT(VARCHAR,@YEAR)   AS DATETIME) ;


UPDATE A   SET A.POLICY_STATUS = 'EXPIRED' FROM POL_CUSTOMER_POLICY_LIST A
	WHERE 	CAST(CONVERT(VARCHAR,APP_EXPIRATION_DATE,101) AS DATETIME)< CAST(CONVERT(VARCHAR,DATEADD(DD,1,@MONTH_END_DATE),101) AS DATETIME) 
			AND (POLICY_STATUS = 'NORMAL' OR POLICY_STATUS='INACTIVE' )AND 
			POLICY_VERSION_ID<=
			(SELECT MAX(POLICY_VERSION_ID) FROM POL_CUSTOMER_POLICY_LIST B
				WHERE A.CUSTOMER_ID = B.CUSTOMER_ID 
				AND A.POLICY_ID = B.POLICY_ID
				AND POLICY_STATUS NOT in('MNONRENEWED','NONRENEWED')
				 );


WITH  
PROCESS_TABLE AS  
(  
 SELECT PCPL.CUSTOMER_ID,PCPL.POLICY_ID,PCPL.AGENCY_ID,PCPL.POLICY_LOB,PCPL.STATE_ID,   
 ISNULL(PCPL.POLICY_TYPE,0) AS POLICY_TYPE,  
 (  
  SELECT COUNT(PCPLIN.CUSTOMER_ID) FROM POL_CUSTOMER_POLICY_LIST PCPLIN  with(nolock) 
  WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID 
	AND PCPLIN.POLICY_NUMBER=PCPL.POLICY_NUMBER 
    AND PCPLIN.STATE_ID=PCPL.STATE_ID AND PCPLIN.AGENCY_ID=PCPL.AGENCY_ID AND PCPLIN.POLICY_LOB=PCPL.POLICY_LOB 
	AND ISNULL(PCPLIN.POLICY_TYPE,0) =ISNULL(PCPL.POLICY_TYPE,0) 
	AND POLICY_STATUS='NORMAL' 
	AND  PCPLIN.POLICY_VERSION_ID>=
		(SELECT MIN(NEW_POLICY_VERSION_ID) FROM POL_POLICY_PROCESS WITH(NOLOCK) 
			WHERE CUSTOMER_ID=PCPLIN.CUSTOMER_ID 
			AND POLICY_ID=PCPLIN.POLICY_ID 
			AND PROCESS_ID IN (25,18)  and process_status='COMPLETE'-- min of NBS or RENEWAL
			AND EFFECTIVE_DATETIME <= @MONTH_END_DATE--DATEADD(DD,-1,DATEADD(M,1,CAST(CONVERT(VARCHAR,@MONTH) + '/01/' + CONVERT(VARCHAR,@YEAR)   AS DATETIME)))
			AND ISNULL(REVERT_BACK,'')<>'Y'
		)
	AND PCPLIN.APP_EFFECTIVE_DATE <= @MONTH_END_DATE
 )  
 INFORCE_TOTAL,  
 (  
  SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP with(nolock)  
  WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID
 AND POLICY_NUMBER=PCPL.POLICY_NUMBER 
  AND PROCESS_ID=25  
  AND NEW_POLICY_VERSION_ID IN  
  (  
   SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST   with(nolock)
   WHERE CUSTOMER_ID=PP.CUSTOMER_ID AND POLICY_ID=PP.POLICY_ID --AND CURRENT_TERM=1  
  and dbo.IsRenewedPolicy (CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ) <> 1  
  )  
  AND PROCESS_STATUS = 'COMPLETE' AND MONTH(COMPLETED_DATETIME) = @MONTH   
  AND YEAR(COMPLETED_DATETIME) = @YEAR   
 )  
 NBS_COMMITTED,  
 (  
  SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP  with(nolock) 
  WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID=25  
  AND NEW_POLICY_VERSION_ID IN  
  (  
   SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST   with(nolock)
   WHERE CUSTOMER_ID=PP.CUSTOMER_ID AND POLICY_ID=PP.POLICY_ID --AND CURRENT_TERM=1  
	and dbo.IsRenewedPolicy (CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ) <> 1  
	AND POLICY_NUMBER=PCPL.POLICY_NUMBER
  )  
  AND PROCESS_STATUS = 'COMPLETE' AND 
  (
   --(MONTH(EFFECTIVE_DATETIME) <= @MONTH  AND YEAR(EFFECTIVE_DATETIME) = @YEAR) or YEAR(EFFECTIVE_DATETIME) < @YEAR
	 --EFFECTIVE_DATETIME<=@MONTH_END_DATE
		EFFECTIVE_DATETIME between @MONTH_START_DATE AND @MONTH_END_DATE AND  COMPLETED_DATETIME < @MONTH_START_DATE
		or	
		EFFECTIVE_DATETIME <= @MONTH_END_DATE AND  COMPLETED_DATETIME BETWEEN @MONTH_START_DATE AND @MONTH_END_DATE
	)
 --  AND (MONTH(COMPLETED_DATETIME) = @MONTH AND YEAR(COMPLETED_DATETIME) = @YEAR)
 )  
 NBS_EFFECTIVE,  
 (  
  SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP with(nolock)  
  WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID in (12 ,29) 
  AND NEW_POLICY_VERSION_ID IN  
  (  
   SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST with(nolock)  
   WHERE CUSTOMER_ID=PP.CUSTOMER_ID AND POLICY_ID=PP.POLICY_ID --AND CURRENT_TERM=1  
	and dbo.IsRenewedPolicy (CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ) <> 1  
	AND POLICY_NUMBER=PCPL.POLICY_NUMBER
  )  
    AND PROCESS_STATUS = 'COMPLETE' 
-- Condition added on 29 jan 09 by Pravesh
	AND (
     --(MONTH(EFFECTIVE_DATETIME) <= @MONTH  AND YEAR(EFFECTIVE_DATETIME) = @YEAR) or YEAR(EFFECTIVE_DATETIME) < @YEAR
	--	EFFECTIVE_DATETIME<=@MONTH_END_DATE
		EFFECTIVE_DATETIME between @MONTH_START_DATE AND @MONTH_END_DATE AND  COMPLETED_DATETIME < @MONTH_START_DATE
		or	
		EFFECTIVE_DATETIME <= @MONTH_END_DATE AND  COMPLETED_DATETIME BETWEEN @MONTH_START_DATE AND @MONTH_END_DATE
		)
--	AND MONTH(COMPLETED_DATETIME) = @MONTH   
--  AND YEAR(COMPLETED_DATETIME) = @YEAR   
 )  
 NBS_CANCEL,  
 (  
  SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP  with(nolock) 
  INNER JOIN   
  (  
   SELECT CUSTOMER_ID, POLICY_ID, NEW_POLICY_VERSION_ID AS POLICY_VERSION_ID  FROM POL_POLICY_PROCESS PP  with(nolock) 
   WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID=25  
   AND NEW_POLICY_VERSION_ID IN  
   (  
    SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST   with(nolock)
    WHERE CUSTOMER_ID=PP.CUSTOMER_ID AND POLICY_ID=PP.POLICY_ID --AND CURRENT_TERM=1  
	and dbo.IsRenewedPolicy (CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ) <> 1  
	AND POLICY_NUMBER=PCPL.POLICY_NUMBER
   )  
   AND PROCESS_STATUS = 'COMPLETE' 
	AND
	 (
		EFFECTIVE_DATETIME between @MONTH_START_DATE AND @MONTH_END_DATE AND  COMPLETED_DATETIME < @MONTH_START_DATE
		or	
		EFFECTIVE_DATETIME <= @MONTH_END_DATE AND  COMPLETED_DATETIME BETWEEN @MONTH_START_DATE AND @MONTH_END_DATE
	 )
--	AND MONTH(EFFECTIVE_DATETIME) = @MONTH   
--  AND YEAR(EFFECTIVE_DATETIME) = @YEAR   
  )  
  NBS_EFFECTIVE1  
  ON NBS_EFFECTIVE1.CUSTOMER_ID = PP.CUSTOMER_ID AND NBS_EFFECTIVE1.POLICY_ID = PP.POLICY_ID   
  AND NBS_EFFECTIVE1.POLICY_VERSION_ID = PP.POLICY_VERSION_ID  
  WHERE PROCESS_ID in (12,29) AND PROCESS_STATUS = 'COMPLETE' 
	--AND MONTH(COMPLETED_DATETIME) = @MONTH   
   AND (
     --(MONTH(EFFECTIVE_DATETIME) <= @MONTH  AND YEAR(EFFECTIVE_DATETIME) = @YEAR)	OR YEAR(EFFECTIVE_DATETIME) < @YEAR
---		EFFECTIVE_DATETIME<=@MONTH_END_DATE
		EFFECTIVE_DATETIME between @MONTH_START_DATE AND @MONTH_END_DATE AND  COMPLETED_DATETIME < @MONTH_START_DATE
		or	
		EFFECTIVE_DATETIME <= @MONTH_END_DATE AND  COMPLETED_DATETIME BETWEEN @MONTH_START_DATE AND @MONTH_END_DATE
	   )
--   AND YEAR(COMPLETED_DATETIME) = @YEAR  
--   AND MONTH(COMPLETED_DATETIME) = @MONTH
 ) 
 NBS_EFFECTIVE_CANCEL,  

/*(  
SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID=12  
AND NEW_POLICY_VERSION_ID IN  
(SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST WHERE CUSTOMER_ID=PP.CUSTOMER_ID AND POLICY_ID=PP.POLICY_ID AND CURRENT_TERM=1  
AND MONTH(COMPLETED_DATETIME) = @MONTH AND YEAR(COMPLETED_DATETIME) = @YEAR   
AND MONTH(EFFECTIVE_DATETIME) = @MONTH AND YEAR(EFFECTIVE_DATETIME) = @YEAR  
AND PP.PROCESS_STATUS = 'COMPLETE')  
AND PROCESS_STATUS = 'COMPLETE' AND MONTH(COMPLETED_DATETIME) = @MONTH AND YEAR(COMPLETED_DATETIME) = @YEAR)  
 NBS_EFFECTIVE_CANCEL,  
*/  
 (  
  SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP   with(nolock)
  WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID in (16,32)  
  AND NEW_POLICY_VERSION_ID IN  
  (  
   SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST   with(nolock)
   WHERE CUSTOMER_ID=PP.CUSTOMER_ID AND POLICY_ID=PP.POLICY_ID --AND CURRENT_TERM=1  
	and dbo.IsRenewedPolicy (CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ) <> 1  
	AND POLICY_NUMBER=PCPL.POLICY_NUMBER
  )  
  AND PROCESS_STATUS = 'COMPLETE'  
-- Condition added on 29 jan 09 by Pravesh
  AND (
       --(MONTH(EFFECTIVE_DATETIME) <= @MONTH  AND YEAR(EFFECTIVE_DATETIME) = @YEAR)	or YEAR(EFFECTIVE_DATETIME) < @YEAR
--		EFFECTIVE_DATETIME<=@MONTH_END_DATE
		EFFECTIVE_DATETIME between @MONTH_START_DATE AND @MONTH_END_DATE AND  COMPLETED_DATETIME < @MONTH_START_DATE
		or	
		EFFECTIVE_DATETIME <= @MONTH_END_DATE AND  COMPLETED_DATETIME BETWEEN @MONTH_START_DATE AND @MONTH_END_DATE
		)
--  AND MONTH(COMPLETED_DATETIME) = @MONTH   
--  AND YEAR(COMPLETED_DATETIME) = @YEAR   
 )  
 NBS_REINSTATE,  
  
/*(  
SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID=16  
AND NEW_POLICY_VERSION_ID IN  
(SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST WHERE CUSTOMER_ID=PP.CUSTOMER_ID AND POLICY_ID=PP.POLICY_ID AND CURRENT_TERM=1  
AND MONTH(COMPLETED_DATETIME) = @MONTH AND YEAR(COMPLETED_DATETIME) = @YEAR   
AND MONTH(EFFECTIVE_DATETIME) = @MONTH AND YEAR(EFFECTIVE_DATETIME) = @YEAR  
AND PP.PROCESS_STATUS = 'COMPLETE')  
AND PROCESS_STATUS = 'COMPLETE' AND MONTH(COMPLETED_DATETIME) = @MONTH AND YEAR(COMPLETED_DATETIME) = @YEAR)  
 NBS_EFFECTIVE_REINSTATE,  
*/  
  
 (  
  SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP   with(nolock)
  INNER JOIN   
  (  
   SELECT CUSTOMER_ID, POLICY_ID, NEW_POLICY_VERSION_ID AS POLICY_VERSION_ID  FROM POL_POLICY_PROCESS PP  with(nolock) 
   WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID=25  
   AND NEW_POLICY_VERSION_ID IN  
   (  
    SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST with(nolock) WHERE CUSTOMER_ID=PP.CUSTOMER_ID   
    AND POLICY_ID=PP.POLICY_ID --AND CURRENT_TERM=1  
	and dbo.IsRenewedPolicy (CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ) <> 1  
	AND POLICY_NUMBER=PCPL.POLICY_NUMBER
   )  
   AND PROCESS_STATUS = 'COMPLETE' 
--	AND MONTH(EFFECTIVE_DATETIME) = @MONTH   
   AND (
    --(MONTH(EFFECTIVE_DATETIME) <= @MONTH  AND YEAR(EFFECTIVE_DATETIME) = @YEAR) OR YEAR(EFFECTIVE_DATETIME) < @YEAR
--	  EFFECTIVE_DATETIME<=@MONTH_END_DATE
		EFFECTIVE_DATETIME between @MONTH_START_DATE AND @MONTH_END_DATE AND  COMPLETED_DATETIME < @MONTH_START_DATE
		or	
		EFFECTIVE_DATETIME <= @MONTH_END_DATE AND  COMPLETED_DATETIME BETWEEN @MONTH_START_DATE AND @MONTH_END_DATE
	  )
--   AND YEAR(EFFECTIVE_DATETIME) = @YEAR   
  )  
  NBS_EFFECTIVE2  
  ON NBS_EFFECTIVE2.CUSTOMER_ID = PP.CUSTOMER_ID AND NBS_EFFECTIVE2.POLICY_ID = PP.POLICY_ID   
  AND NBS_EFFECTIVE2.POLICY_VERSION_ID = PP.POLICY_VERSION_ID  
  WHERE PROCESS_ID in (16,32) AND PROCESS_STATUS = 'COMPLETE' 
  AND
	(
		EFFECTIVE_DATETIME between @MONTH_START_DATE AND @MONTH_END_DATE AND  COMPLETED_DATETIME < @MONTH_START_DATE
		or	
		EFFECTIVE_DATETIME <= @MONTH_END_DATE AND  COMPLETED_DATETIME BETWEEN @MONTH_START_DATE AND @MONTH_END_DATE
	) 
 -- AND MONTH(COMPLETED_DATETIME) = @MONTH   
 -- AND YEAR(COMPLETED_DATETIME) = @YEAR  
)  
 NBS_EFFECTIVE_REINSTATE,  
  
 (  
  SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP  with(nolock) 
  WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID=18  
  AND NEW_POLICY_VERSION_ID IN  
  (  
   SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST  with(nolock) 
   WHERE CUSTOMER_ID=PP.CUSTOMER_ID AND POLICY_ID=PP.POLICY_ID --AND CURRENT_TERM>1  
	and dbo.IsRenewedPolicy (CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ) = 1  
	AND POLICY_NUMBER=PCPL.POLICY_NUMBER
  )  
  AND ISNULL(REVERT_BACK,'') <>'Y' AND PROCESS_STATUS = 'COMPLETE' 
  AND MONTH(COMPLETED_DATETIME) = @MONTH   
  AND YEAR(COMPLETED_DATETIME) = @YEAR   
 )  
 RENEWAL_COMMITTED,  
  
 (  
  SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP  with(nolock) 
  WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID=18  
  AND NEW_POLICY_VERSION_ID IN  
  (  
   SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST  with(nolock) 
   WHERE CUSTOMER_ID=PP.CUSTOMER_ID AND POLICY_ID=PP.POLICY_ID --AND CURRENT_TERM>1  
	AND dbo.IsRenewedPolicy (CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID )= 1  
	AND POLICY_NUMBER=PCPL.POLICY_NUMBER
  )  
  AND ISNULL(REVERT_BACK,'') <>'Y' AND PROCESS_STATUS = 'COMPLETE'   
  --AND MONTH(EFFECTIVE_DATETIME) = @MONTH 
   AND (
      --(MONTH(EFFECTIVE_DATETIME) <= @MONTH  AND YEAR(EFFECTIVE_DATETIME) = @YEAR)	OR YEAR(EFFECTIVE_DATETIME) < @YEAR
		--EFFECTIVE_DATETIME<=@MONTH_END_DATE
		EFFECTIVE_DATETIME between @MONTH_START_DATE AND @MONTH_END_DATE AND  COMPLETED_DATETIME < @MONTH_START_DATE
		or	
		EFFECTIVE_DATETIME <= @MONTH_END_DATE AND  COMPLETED_DATETIME BETWEEN @MONTH_START_DATE AND @MONTH_END_DATE
	)
--	AND YEAR(EFFECTIVE_DATETIME) = @YEAR   
 )  
 RENEWAL_EFFECTIVE,  
  
 (  
  SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP   with(nolock)
  WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID in (12 ,29)
  AND NEW_POLICY_VERSION_ID IN  
  (  
   SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST with(nolock)  
   WHERE CUSTOMER_ID=PP.CUSTOMER_ID AND POLICY_ID=PP.POLICY_ID --AND CURRENT_TERM>1  
   AND dbo.IsRenewedPolicy (CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ) = 1  
	AND POLICY_NUMBER=PCPL.POLICY_NUMBER
  )  
  AND PROCESS_STATUS = 'COMPLETE' 
  -- Condition added on 29 jan 09 by Pravesh
  AND (
      --(MONTH(EFFECTIVE_DATETIME) <= @MONTH  AND YEAR(EFFECTIVE_DATETIME) = @YEAR) or YEAR(EFFECTIVE_DATETIME) < @YEAR
	  --EFFECTIVE_DATETIME<=@MONTH_END_DATE
		EFFECTIVE_DATETIME between @MONTH_START_DATE AND @MONTH_END_DATE AND  COMPLETED_DATETIME < @MONTH_START_DATE
		or	
		EFFECTIVE_DATETIME <= @MONTH_END_DATE AND  COMPLETED_DATETIME BETWEEN @MONTH_START_DATE AND @MONTH_END_DATE
		)
--  AND MONTH(COMPLETED_DATETIME) = @MONTH   
--  AND YEAR(COMPLETED_DATETIME) = @YEAR   
 )  
 RENEWAL_CANCEL,  
  
/*(  
SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID=12  
AND NEW_POLICY_VERSION_ID IN  
(SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST WHERE CUSTOMER_ID=PP.CUSTOMER_ID AND POLICY_ID=PP.POLICY_ID AND CURRENT_TERM>1  
AND MONTH(COMPLETED_DATETIME) = @MONTH AND YEAR(COMPLETED_DATETIME) = @YEAR   
AND MONTH(EFFECTIVE_DATETIME) = @MONTH AND YEAR(EFFECTIVE_DATETIME) = @YEAR  
AND PP.PROCESS_STATUS = 'COMPLETE')  
AND PROCESS_STATUS = 'COMPLETE' AND MONTH(COMPLETED_DATETIME) = @MONTH AND YEAR(COMPLETED_DATETIME) = @YEAR)  
 RENEWAL_EFFECTIVE_CANCEL,  
*/  
  
 (  
  SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP  with(nolock)
  INNER JOIN   
  (  
   SELECT CUSTOMER_ID, POLICY_ID, NEW_POLICY_VERSION_ID AS POLICY_VERSION_ID  FROM POL_POLICY_PROCESS PP   
   WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID=18  
   AND NEW_POLICY_VERSION_ID IN  
   (  
    SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST with(nolock) WHERE CUSTOMER_ID=PP.CUSTOMER_ID   
    AND POLICY_ID=PP.POLICY_ID --AND CURRENT_TERM>1  
	AND dbo.IsRenewedPolicy (CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ) = 1  
	AND POLICY_NUMBER=PCPL.POLICY_NUMBER
   )  
   AND ISNULL(REVERT_BACK,'') <>'Y' AND PROCESS_STATUS = 'COMPLETE'   
   --AND MONTH(EFFECTIVE_DATETIME) = @MONTH 
   AND (
    --(MONTH(EFFECTIVE_DATETIME) <= @MONTH AND YEAR(EFFECTIVE_DATETIME) = @YEAR)	OR YEAR(EFFECTIVE_DATETIME) < @YEAR
	--	EFFECTIVE_DATETIME<=@MONTH_END_DATE
		EFFECTIVE_DATETIME between @MONTH_START_DATE AND @MONTH_END_DATE AND  COMPLETED_DATETIME < @MONTH_START_DATE
		or	
		EFFECTIVE_DATETIME <= @MONTH_END_DATE AND  COMPLETED_DATETIME BETWEEN @MONTH_START_DATE AND @MONTH_END_DATE
	)
--	AND YEAR(EFFECTIVE_DATETIME) = @YEAR   
  )  
  RENEWAL_EFFECTIVE1  
  ON RENEWAL_EFFECTIVE1.CUSTOMER_ID = PP.CUSTOMER_ID AND RENEWAL_EFFECTIVE1.POLICY_ID = PP.POLICY_ID   
  AND RENEWAL_EFFECTIVE1.POLICY_VERSION_ID = PP.POLICY_VERSION_ID  
  WHERE  PROCESS_ID in (12,29) AND PROCESS_STATUS = 'COMPLETE' 
 --AND MONTH(COMPLETED_DATETIME) = @MONTH   
   AND (
    --(MONTH(EFFECTIVE_DATETIME) <= @MONTH  AND YEAR(EFFECTIVE_DATETIME) = @YEAR) OR YEAR(EFFECTIVE_DATETIME) < @YEAR
--		EFFECTIVE_DATETIME<=@MONTH_END_DATE
		EFFECTIVE_DATETIME between @MONTH_START_DATE AND @MONTH_END_DATE AND  COMPLETED_DATETIME < @MONTH_START_DATE
		or	
		EFFECTIVE_DATETIME <= @MONTH_END_DATE AND  COMPLETED_DATETIME BETWEEN @MONTH_START_DATE AND @MONTH_END_DATE
	)
--  AND YEAR(COMPLETED_DATETIME) = @YEAR  
 )  
 RENEWAL_EFFECTIVE_CANCEL,  
  
 (  
  SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP  with(nolock) 
WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID in (16,32)
  AND NEW_POLICY_VERSION_ID IN  
  (  
   SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST with(nolock)  
   WHERE CUSTOMER_ID=PP.CUSTOMER_ID AND POLICY_ID=PP.POLICY_ID --AND CURRENT_TERM>1 
	AND POLICY_NUMBER=PCPL.POLICY_NUMBER 
	AND dbo.IsRenewedPolicy (CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ) = 1  
  )  
  AND PROCESS_STATUS = 'COMPLETE' 
  -- Condition added on 29 jan 09 by Pravesh
  AND (
     --(MONTH(EFFECTIVE_DATETIME) <= @MONTH  AND YEAR(EFFECTIVE_DATETIME) = @YEAR)	or YEAR(EFFECTIVE_DATETIME) < @YEAR
	--	EFFECTIVE_DATETIME<=@MONTH_END_DATE
		EFFECTIVE_DATETIME between @MONTH_START_DATE AND @MONTH_END_DATE AND  COMPLETED_DATETIME < @MONTH_START_DATE
		or	
		EFFECTIVE_DATETIME <= @MONTH_END_DATE AND  COMPLETED_DATETIME BETWEEN @MONTH_START_DATE AND @MONTH_END_DATE
		)  
--  AND MONTH(COMPLETED_DATETIME) = @MONTH   
 -- AND YEAR(COMPLETED_DATETIME) = @YEAR   
 )  
 RENEWAL_REINSTATE,  
/*  
(  
SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID=16  
AND NEW_POLICY_VERSION_ID IN  
(SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST WHERE CUSTOMER_ID=PP.CUSTOMER_ID AND POLICY_ID=PP.POLICY_ID AND CURRENT_TERM>1  
AND MONTH(COMPLETED_DATETIME) = @MONTH AND YEAR(COMPLETED_DATETIME) = @YEAR   
AND MONTH(EFFECTIVE_DATETIME) = @MONTH AND YEAR(EFFECTIVE_DATETIME) = @YEAR  
AND PP.PROCESS_STATUS = 'COMPLETE')  
AND PROCESS_STATUS = 'COMPLETE' AND MONTH(COMPLETED_DATETIME) = @MONTH AND YEAR(COMPLETED_DATETIME) = @YEAR)  
 RENEWAL_EFFECTIVE_REINSTATE  
*/  
 (  
  SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP  with(nolock)
  INNER JOIN   
  (  
   SELECT CUSTOMER_ID, POLICY_ID, NEW_POLICY_VERSION_ID AS POLICY_VERSION_ID  FROM POL_POLICY_PROCESS PP  with(nolock) 
   WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID AND PROCESS_ID=18  
   AND NEW_POLICY_VERSION_ID IN  
   (  
    SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST with(nolock) WHERE CUSTOMER_ID=PP.CUSTOMER_ID   
    AND POLICY_ID=PP.POLICY_ID --AND CURRENT_TERM>1  
	AND POLICY_NUMBER=PCPL.POLICY_NUMBER
	AND dbo.IsRenewedPolicy (CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ) = 1  
   )  
   AND ISNULL(REVERT_BACK,'') <>'Y' AND PROCESS_STATUS = 'COMPLETE'   
   --AND MONTH(EFFECTIVE_DATETIME) = @MONTH 
   AND (
    --(MONTH(EFFECTIVE_DATETIME) <= @MONTH  AND YEAR(EFFECTIVE_DATETIME) = @YEAR)	OR YEAR(EFFECTIVE_DATETIME) < @YEAR
	--	EFFECTIVE_DATETIME<=@MONTH_END_DATE
		EFFECTIVE_DATETIME between @MONTH_START_DATE AND @MONTH_END_DATE AND  COMPLETED_DATETIME < @MONTH_START_DATE
		or	
		EFFECTIVE_DATETIME <= @MONTH_END_DATE AND  COMPLETED_DATETIME BETWEEN @MONTH_START_DATE AND @MONTH_END_DATE
	)
--  AND YEAR(EFFECTIVE_DATETIME) = @YEAR   
  )  
  RENEWAL_EFFECTIVE1  
  ON RENEWAL_EFFECTIVE1.CUSTOMER_ID = PP.CUSTOMER_ID AND RENEWAL_EFFECTIVE1.POLICY_ID = PP.POLICY_ID   
  AND RENEWAL_EFFECTIVE1.POLICY_VERSION_ID = PP.POLICY_VERSION_ID  
  WHERE  PROCESS_ID in (16,32) AND PROCESS_STATUS = 'COMPLETE' 
	AND
	(
		EFFECTIVE_DATETIME between @MONTH_START_DATE AND @MONTH_END_DATE AND  COMPLETED_DATETIME < @MONTH_START_DATE
		or	
		EFFECTIVE_DATETIME <= @MONTH_END_DATE AND  COMPLETED_DATETIME BETWEEN @MONTH_START_DATE AND @MONTH_END_DATE
	)
--  AND MONTH(COMPLETED_DATETIME) = @MONTH   
--  AND YEAR(COMPLETED_DATETIME) = @YEAR  
 )  
 RENEWAL_EFFECTIVE_REINSTATE ,
(
 SELECT COUNT(PROCESS_ID) 
	FROM POL_POLICY_PROCESS PP  with(nolock) 
	inner join POL_CUSTOMER_POLICY_LIST pl on pl.customer_id=pp.customer_id and pl.policy_id=pp.policy_id and pl.policy_version_id=pp.new_policy_version_id
  WHERE PP.CUSTOMER_ID=PCPL.CUSTOMER_ID AND PP.POLICY_ID=PCPL.POLICY_ID AND 
  PP.PROCESS_ID=18  
  AND NEW_POLICY_VERSION_ID IN  
  (  
 SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST  with(nolock) 
   WHERE CUSTOMER_ID=PP.CUSTOMER_ID AND POLICY_ID=PP.POLICY_ID --AND CURRENT_TERM>1  
	AND dbo.IsRenewedPolicy (CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID )=1  
	AND POLICY_NUMBER=PCPL.POLICY_NUMBER
  )  
  AND ISNULL(REVERT_BACK,'') <>'Y' AND pp.PROCESS_STATUS = 'COMPLETE'   
  AND (
 		EFFECTIVE_DATETIME between @MONTH_START_DATE AND @MONTH_END_DATE AND  COMPLETED_DATETIME < @MONTH_START_DATE
		or	
		EFFECTIVE_DATETIME <= @MONTH_END_DATE AND  COMPLETED_DATETIME BETWEEN @MONTH_START_DATE AND @MONTH_END_DATE
	  )
 AND (
 		PL.APP_EXPIRATION_DATE NOT between @MONTH_START_DATE AND @MONTH_END_DATE 
	 )
AND EXISTS
 (
  SELECT PPP.PROCESS_ID FROM POL_POLICY_PROCESS PPP with(nolock) 
	WHERE PPP.CUSTOMER_ID=PP.CUSTOMER_ID AND PPP.POLICY_ID=PP.POLICY_ID
	AND PPP.NEW_POLICY_VERSION_ID<PP.NEW_POLICY_VERSION_ID
	AND PPP.PROCESS_ID IN (18 ,25) 
	AND ISNULL(PPP.REVERT_BACK,'') <>'Y' 
	AND PPP.PROCESS_STATUS = 'COMPLETE'  
 )
--AND NOT EXISTS
-- (  
--  SELECT PROCESS_ID FROM POL_POLICY_PROCESS PPP   with(nolock)
--  WHERE PPP.CUSTOMER_ID=PP.CUSTOMER_ID AND PPP.POLICY_ID=PP.POLICY_ID 
--	AND PPP.PROCESS_ID in (12 ,29)
--  AND PPP.NEW_POLICY_VERSION_ID  in -- >= PP.NEW_POLICY_VERSION_ID--IN  
--  (  
--   SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST with(nolock)  
--   WHERE CUSTOMER_ID=PPP.CUSTOMER_ID AND POLICY_ID=PPP.POLICY_ID --AND CURRENT_TERM>1  
--   AND dbo.IsRenewedPolicy (CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ) = 1  
--	AND POLICY_NUMBER=PCPL.POLICY_NUMBER
--  )  
--  AND PPP.PROCESS_STATUS = 'COMPLETE' 
--  AND (
--		PPP.EFFECTIVE_DATETIME between @MONTH_START_DATE AND @MONTH_END_DATE AND  COMPLETED_DATETIME < @MONTH_START_DATE
--		or	
--		PPP.EFFECTIVE_DATETIME <= @MONTH_END_DATE AND  COMPLETED_DATETIME BETWEEN @MONTH_START_DATE AND @MONTH_END_DATE
--		)
-- )  
) as TOTAL_EXPIRED,
(  
  SELECT COUNT(PROCESS_ID) FROM POL_POLICY_PROCESS PP  with(nolock) 
  WHERE CUSTOMER_ID=PCPL.CUSTOMER_ID AND POLICY_ID=PCPL.POLICY_ID 
AND PROCESS_ID=20  
  AND NEW_POLICY_VERSION_ID IN  
  (  
   SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST  with(nolock) 
   WHERE CUSTOMER_ID=PP.CUSTOMER_ID AND POLICY_ID=PP.POLICY_ID --AND CURRENT_TERM>1  
--	AND dbo.IsRenewedPolicy (CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID )= 1  
	AND POLICY_NUMBER=PCPL.POLICY_NUMBER
  )  
  AND ISNULL(REVERT_BACK,'') <>'Y' AND PROCESS_STATUS = 'COMPLETE'   
   AND (
		EFFECTIVE_DATETIME between @MONTH_START_DATE AND @MONTH_END_DATE AND  COMPLETED_DATETIME < @MONTH_START_DATE
		or	
		EFFECTIVE_DATETIME <= @MONTH_END_DATE AND  COMPLETED_DATETIME BETWEEN @MONTH_START_DATE AND @MONTH_END_DATE
	)
AND EXISTS
 (
  SELECT PPP.PROCESS_ID FROM POL_POLICY_PROCESS PPP with(nolock) 
	WHERE PPP.CUSTOMER_ID=PP.CUSTOMER_ID AND PPP.POLICY_ID=PP.POLICY_ID
--	AND PPP.NEW_POLICY_VERSION_ID>PP.NEW_POLICY_VERSION_ID
	AND PPP.PROCESS_ID IN (18 ,25) 
	AND ISNULL(PPP.REVERT_BACK,'') <>'Y' 
	AND PPP.PROCESS_STATUS = 'COMPLETE'  
 )
 )  
 NON_RENEWAL_EFFECTIVE   
  
 FROM POL_CUSTOMER_POLICY_LIST PCPL with(nolock) 
 GROUP BY PCPL.CUSTOMER_ID,PCPL.POLICY_ID,PCPL.POLICY_NUMBER,PCPL.AGENCY_ID, PCPL.STATE_ID, PCPL.POLICY_LOB, ISNULL(PCPL.POLICY_TYPE,0)
)  
  
INSERT INTO  ACT_AGENCY_LOB_PREMIUM ( AGENCY_ID ,STATE_ID,LOB_ID,POLICY_TYPE,MONTH_NUMBER,YEAR_NUMBER,INFORCE_TOTAL,NBS_COMMITTED,NBS_EFFECTIVE,  
      NBS_CANCEL,NBS_EFFECTIVE_CANCEL,NBS_REINSTATE,NBS_EFFECTIVE_REINSTATE,RENEWAL_COMMITTED,RENEWAL_EFFECTIVE,RENEWAL_CANCEL,  
      RENEWAL_EFFECTIVE_CANCEL,RENEWAL_REINSTATE,RENEWAL_EFFECTIVE_REINSTATE,TOTAL_EXPIRED,NON_RENEWAL_EFFECTIVE)  
SELECT AGENCY_ID , STATE_ID , POLICY_LOB , POLICY_TYPE , @MONTH , @YEAR  ,  
SUM (INFORCE_TOTAL),SUM (NBS_COMMITTED) ,SUM (NBS_EFFECTIVE), SUM (NBS_CANCEL),SUM (NBS_EFFECTIVE_CANCEL),  
SUM (NBS_REINSTATE),SUM (NBS_EFFECTIVE_REINSTATE),SUM (RENEWAL_COMMITTED),SUM (RENEWAL_EFFECTIVE),  
SUM (RENEWAL_CANCEL),SUM (RENEWAL_EFFECTIVE_CANCEL),SUM (RENEWAL_REINSTATE),SUM (RENEWAL_EFFECTIVE_REINSTATE)
,SUM (TOTAL_EXPIRED),SUM (NON_RENEWAL_EFFECTIVE)
FROM PROCESS_TABLE  
GROUP BY AGENCY_ID , STATE_ID , POLICY_LOB , POLICY_TYPE   

EXEC Proc_EOD_UpdatePoliciesStatus 1
  
END  

GO

