IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_PULL_MATCHING_CUSTOMER_DETAILS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_PULL_MATCHING_CUSTOMER_DETAILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*****************************************************************************************************************************
*	PROCEDURE NAME	:	PROC_PULL_MATCHING_CUSTOMER_DETAILS
*	CREATED BY		:	ANURAG VERMA
*	CREATED ON		:	MAY 5, 2009
*	PURPOSE			:	THIS PROCEDURE FETCHES MATCHING CUSTOMER DETAILS BASED ON CUSTOMER'S FIRST AND LAST NAME. THIS PROC	
*						WILL ALSO SEARCH CUSTOMER DETAILS BASED ON POLICY NUMBER.
******************************************************************************************************************************/


--PROC_PULL_MATCHING_CUSTOMER_DETAILS '','','R8984000','3672'

CREATE PROC [PROC_PULL_MATCHING_CUSTOMER_DETAILS]
@NVFIRST_NAME NVARCHAR(200)=NULL,  
@NVLAST_NAME NVARCHAR(50),
@NVPOLICY_NUM NVARCHAR(10),
@NVCON_CUSTOMERID INT
AS  

DECLARE @TEMP_CUST TABLE  (NAME NVARCHAR(2000),ADDRESS NVARCHAR(4000),CUSTOMER_ID INT,POLICY_NUMBER NVARCHAR(12))	

IF @NVPOLICY_NUM=''
BEGIN 
	IF @NVFIRST_NAME=''
	BEGIN
		SET @NVFIRST_NAME=NULL
	END

	IF @NVLAST_NAME=''
	BEGIN
		SET @NVLAST_NAME=NULL
	END


	INSERT  @TEMP_CUST 
	SELECT LTRIM(RTRIM(isnull(CUSTOMER_FIRST_NAME,''))) + ' ' + LTRIM(RTRIM(ISNULL(CUSTOMER_MIDDLE_NAME,''))) + ' ' + 
	LTRIM(RTRIM(isnull(CUSTOMER_LAST_NAME,''))) AS NAME,
	LTRIM(RTRIM(CUSTOMER_ADDRESS1)) + ', ' + LTRIM(RTRIM(ISNULL(CUSTOMER_ADDRESS2,''))) + 
	CASE WHEN LTRIM(RTRIM(ISNULL(CUSTOMER_ADDRESS2,'')))<>'' THEN ', ' ELSE ' ' END
	+ LTRIM(RTRIM(CUSTOMER_CITY))+ ', ' + STATE_NAME  + ', ' + CUSTOMER_ZIP + ', ' + COUNTRY_NAME AS ADDRESS,CCL.CUSTOMER_ID,
	POLICY_NUMBER
	FROM CLT_CUSTOMER_LIST CCL WITH (NOLOCK)
	INNER JOIN MNT_COUNTRY_STATE_LIST MCSL WITH (NOLOCK) ON CCL.CUSTOMER_STATE=MCSL.STATE_ID
	INNER JOIN MNT_COUNTRY_LIST MCL WITH (NOLOCK) ON CCL.CUSTOMER_COUNTRY=MCL.COUNTRY_ID	
	INNER JOIN POL_CUSTOMER_POLICY_LIST PCPL WITH (NOLOCK) ON PCPL.CUSTOMER_ID=CCL.CUSTOMER_ID
	WHERE (UPPER(CUSTOMER_FIRST_NAME) LIKE UPPER(@NVFIRST_NAME) + '%'   OR  UPPER(CUSTOMER_LAST_NAME) LIKE UPPER(@NVLAST_NAME)  + '%')
	AND CCL.CUSTOMER_ID<>@NVCON_CUSTOMERID 
	ORDER BY CCL.CUSTOMER_ID



END 
ELSE IF @NVPOLICY_NUM<>''
BEGIN 
	INSERT  @TEMP_CUST 
	SELECT isnull(CUSTOMER_FIRST_NAME,'') + ' ' + ISNULL(CUSTOMER_MIDDLE_NAME,'') + ' ' + isnull(CUSTOMER_LAST_NAME,'') AS NAME,
	CUSTOMER_ADDRESS1 + ', ' + ISNULL(CUSTOMER_ADDRESS2,'') + 
	CASE WHEN ISNULL(CUSTOMER_ADDRESS2,'')<>'' THEN ', ' ELSE ' ' END
	+ CUSTOMER_CITY+ ', ' + STATE_NAME  + ', ' + CUSTOMER_ZIP + ', ' + COUNTRY_NAME AS ADDRESS,CCL.CUSTOMER_ID,@NVPOLICY_NUM
	  FROM CLT_CUSTOMER_LIST CCL 	WITH (NOLOCK)
	INNER JOIN MNT_COUNTRY_STATE_LIST MCSL WITH (NOLOCK) ON CCL.CUSTOMER_STATE=MCSL.STATE_ID
	INNER JOIN MNT_COUNTRY_LIST MCL WITH (NOLOCK) ON CCL.CUSTOMER_COUNTRY=MCL.COUNTRY_ID	
	WHERE CUSTOMER_ID IN (SELECT TOP 1 CUSTOMER_ID FROM POL_CUSTOMER_POLICY_LIST WITH (NOLOCK) WHERE POLICY_NUMBER =@NVPOLICY_NUM)
	AND CCL.CUSTOMER_ID<>@NVCON_CUSTOMERID
	ORDER BY NAME,ADDRESS
END

	SELECT POLICY_NUMBER,CUSTOMER_ID,NAME,ADDRESS FROM @TEMP_CUST GROUP BY POLICY_NUMBER,CUSTOMER_ID,NAME,ADDRESS	ORDER BY CUSTOMER_ID


GO

