IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_FetchOldRuleInputXml]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_FetchOldRuleInputXml]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROC dbo.PROC_FetchOldRuleInputXml   
(  
 @CUSTOMER_ID INT,  
 @POLICY_ID INT,  
 @POLICY_VERSION_ID INT,  
 @CALLED_FROM NVARCHAR(20)  
)  
AS  
BEGIN  
 DECLARE @POLICY_LOB NVARCHAR(20)  
 DECLARE @PRIORTERMMAXPOLICY_VERSIONID  SMALLINT  
 DECLARE @POLICY_VERSION_DATE DATETIME  
 DECLARE @PRIORLOSS NVARCHAR(50)  
 DECLARE @IS_NEW_BUSINESS INT  
 SET @PRIORLOSS='N'  
 DECLARE @CURRENT_TERM SMALLINT  
 SET @CURRENT_TERM=0  
 DECLARE @FROMAS400 NVARCHAR(10)  
 SET @FROMAS400 = 'N'  
 DECLARE @AS400RENEWALVERSION INT  
    SET @AS400RENEWALVERSION = 0  
 IF(@CALLED_FROM='APPLICATION')  
  BEGIN  
   SELECT RULE_INPUT_XML,LOB_DESC as POLICY_LOB,@PRIORLOSS as PRIORLOSS FROM APP_LIST   
   left outer join   
   MNT_LOB_MASTER  
   ON APP_LIST.APP_LOB=MNT_LOB_MASTER.LOB_ID  
   WHERE CUSTOMER_ID=@CUSTOMER_ID AND APP_ID=@POLICY_ID AND APP_VERSION_ID<@POLICY_VERSION_ID  
  END   
 ELSE  
  BEGIN  
     
   SELECT @FROMAS400=ISNULL(FROM_AS400,'N') FROM  POL_CUSTOMER_POLICY_LIST WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID  
     AND POLICY_VERSION_ID=(SELECT MIN(POLICY_VERSION_ID) FROM POL_CUSTOMER_POLICY_LIST WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID)  
   SELECT @CURRENT_TERM = CURRENT_TERM FROM POL_CUSTOMER_POLICY_LIST WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID  
     AND POLICY_VERSION_ID=@POLICY_VERSION_ID  
     
   IF(@FROMAS400='Y')  
    BEGIN  
     SELECT  @AS400RENEWALVERSION=MIN(NEW_POLICY_VERSION_ID)   FROM   
     POL_POLICY_PROCESS PPPS  WITH (NOLOCK) INNER JOIN POL_CUSTOMER_POLICY_LIST PCPLS  WITH (NOLOCK)  
     ON PPPS.CUSTOMER_ID=PCPLS.CUSTOMER_ID AND   
     PPPS.POLICY_ID=PCPLS.POLICY_ID --AND PPPS.NEW_POLICY_VERSION_ID=PCPLS.POLICY_VERSION_ID   
     AND PPPS.PROCESS_STATUS!='ROLLBACK'  
     WHERE PPPS.PROCESS_ID IN (18) AND  
      CURRENT_TERM < @CURRENT_TERM  
       and PPPS.PROCESS_STATUS='COMPLETE'-- MIN OF RENEWAL  
     AND ISNULL(REVERT_BACK,'N') = 'N' AND PPPS.CUSTOMER_ID=@CUSTOMER_ID AND PPPS.POLICY_ID=@POLICY_ID   
    END  
     
     SELECT  @PRIORTERMMAXPOLICY_VERSIONID=MAX(NEW_POLICY_VERSION_ID)   FROM   
     POL_POLICY_PROCESS PPPS  WITH (NOLOCK) INNER JOIN POL_CUSTOMER_POLICY_LIST PCPLS  WITH (NOLOCK)  
     ON PPPS.CUSTOMER_ID=PCPLS.CUSTOMER_ID AND   
     PPPS.POLICY_ID=PCPLS.POLICY_ID --AND PPPS.NEW_POLICY_VERSION_ID=PCPLS.POLICY_VERSION_ID   
     AND PPPS.PROCESS_STATUS!='ROLLBACK'  
     WHERE --PPPS.PROCESS_ID IN (25,18,32)  
      CURRENT_TERM < @CURRENT_TERM  
       and PPPS.PROCESS_STATUS='COMPLETE'-- MIN OF NBS OR RENEWAL  
     AND ISNULL(REVERT_BACK,'N') = 'N' AND PPPS.CUSTOMER_ID=@CUSTOMER_ID AND PPPS.POLICY_ID=@POLICY_ID   
     and PPPS.NEW_POLICY_VERSION_ID <@POLICY_VERSION_ID  
     
  if (isnull(@PRIORTERMMAXPOLICY_VERSIONID,0)=0) 
	set @PRIORTERMMAXPOLICY_VERSIONID = @POLICY_VERSION_ID
   SELECT @IS_NEW_BUSINESS=COUNT(PPPS.PROCESS_ID)   FROM   
    POL_POLICY_PROCESS PPPS  WITH (NOLOCK) INNER JOIN POL_CUSTOMER_POLICY_LIST PCPLS  WITH (NOLOCK)  
    ON PPPS.CUSTOMER_ID=PCPLS.CUSTOMER_ID AND   
    PPPS.POLICY_ID=PCPLS.POLICY_ID AND PPPS.NEW_POLICY_VERSION_ID=PCPLS.POLICY_VERSION_ID   
    AND PPPS.PROCESS_STATUS!='ROLLBACK'  
    WHERE PPPS.PROCESS_ID IN (24,25,5,18,31,32) --and PPPS.PROCESS_STATUS='COMPLETE'-- MIN OF NBS OR RENEWAL  
    AND ISNULL(REVERT_BACK,'N') = 'N' AND PPPS.CUSTOMER_ID=@CUSTOMER_ID AND PPPS.POLICY_ID=@POLICY_ID   
    --and PPPS.NEW_POLICY_VERSION_ID <@POLICY_VERSION_ID  
  
   SELECT @POLICY_VERSION_DATE=APP_EFFECTIVE_DATE, @POLICY_LOB=POLICY_LOB FROM POL_CUSTOMER_POLICY_LIST WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID  
    AND POLICY_VERSION_ID=@PRIORTERMMAXPOLICY_VERSIONID  
   IF EXISTS(SELECT CUSTOMER_ID FROM APP_PRIOR_LOSS_INFO WHERE CUSTOMER_ID=@CUSTOMER_ID AND LOB=@POLICY_LOB)  
    BEGIN  
     SET @PRIORLOSS='Y'  
    END  
   IF EXISTS(SELECT CLAIM_ID FROM CLM_CLAIM_INFO WHERE CUSTOMER_ID=@CUSTOMER_ID AND LOB_ID=@POLICY_LOB AND LOSS_DATE<=@POLICY_VERSION_DATE)  
    BEGIN  
     SET @PRIORLOSS='Y'  
    END  
   
   IF(@IS_NEW_BUSINESS=1)  
    BEGIN  
     SELECT  '' AS RULE_INPUT_XML, '' POLICY_LOB, '' PRIORLOSS  
    END  
   ELSE  
    BEGIN  
     IF(@FROMAS400='Y')  
      BEGIN  
       SELECT RULE_INPUT_XML,LOB_DESC as POLICY_LOB,@PRIORLOSS as PRIORLOSS FROM POL_CUSTOMER_POLICY_LIST   
       left outer join   
       MNT_LOB_MASTER  
       ON POL_CUSTOMER_POLICY_LIST.POLICY_LOB=MNT_LOB_MASTER.LOB_ID  
       WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID>=@AS400RENEWALVERSION AND POLICY_VERSION_ID<=@PRIORTERMMAXPOLICY_VERSIONID  
      END  
     ELSE  
      BEGIN  
       SELECT RULE_INPUT_XML,LOB_DESC as POLICY_LOB,@PRIORLOSS as PRIORLOSS FROM POL_CUSTOMER_POLICY_LIST   
       left outer join   
       MNT_LOB_MASTER  
       ON POL_CUSTOMER_POLICY_LIST.POLICY_LOB=MNT_LOB_MASTER.LOB_ID  
       WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID<=@PRIORTERMMAXPOLICY_VERSIONID  
      END  
    END  
  
  END  
END  


GO

