IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_REPLICATE_MASTER]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_REPLICATE_MASTER]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Charles Gomes
-- Create date: 23-Mar-10
-- Description:	Copy Data from Master to associated Multilingual Tables

--DROP PROC PROC_REPLICATE_MASTER
-- EXEC PROC_REPLICATE_MASTER 'LOOKUP_UNIQUE_ID','114277','MNT_LOOKUP_VALUES','MNT_LOOKUP_VALUES_MULTILINGUAL'
-- =============================================
CREATE PROCEDURE [dbo].[PROC_REPLICATE_MASTER]	
	@PRIMARY_COLUMN NVARCHAR(50), --Column Name
	@PRIMARY_ID INT,	-- Value
	@MASTER_TABLE_NAME NVARCHAR(50),
	@CHILD_TABLE_NAME NVARCHAR(50),
	@DESCRIPTION_COLUMN NVARCHAR(250) = NULL
AS
BEGIN

	
	DECLARE @MASTER_LANG_ID INT
	--, @LANG_COUNT INT	
	
	SET @MASTER_LANG_ID  = 1 --ENGLISH
	
	--SELECT @LANG_COUNT = COUNT(LANG_ID) FROM MNT_LANGUAGE_MASTER WITH(NOLOCK)
	
	--IF NOT EXISTS(SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME=@MASTER_TABLE_NAME)
	--BEGIN
	--	RETURN -4; --MASTER TABLE DOES NOT EXIST
	--END
	--ELSE
	--BEGIN
	--	IF NOT EXISTS(SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME=@CHILD_TABLE_NAME)
	--	BEGIN
	--		RETURN -5; --CHILD TABLE DOES NOT EXIST
	--	END
	--END
	
	DECLARE @QUERY VARCHAR(8000)
	
	SET @QUERY = '	
	DECLARE @CURRENT_CURSOR_LANG_ID INT
	DECLARE @COL_COUNT INT
	
	SELECT @COL_COUNT = COUNT(COL.NAME) FROM SYSCOLUMNS COL INNER JOIN SYSOBJECTS OBJ ON COL.ID = OBJ.ID
	WHERE OBJ.XTYPE = ''U'' AND OBJ.NAME = '''+@CHILD_TABLE_NAME+'''
	
	DECLARE ML_CURSOR CURSOR FOR
	SELECT LANG_ID FROM MNT_LANGUAGE_MASTER WHERE LANG_ID!='+CAST(@MASTER_LANG_ID AS VARCHAR)+
	
	' OPEN ML_CURSOR	
	FETCH NEXT FROM ML_CURSOR INTO @CURRENT_CURSOR_LANG_ID	
	WHILE @@FETCH_STATUS = 0
	BEGIN
	
	IF(@COL_COUNT = 3)
	BEGIN
		SELECT '+@PRIMARY_COLUMN
		
		IF @DESCRIPTION_COLUMN IS NOT NULL
		BEGIN
			SET @QUERY = @QUERY +' , '+@DESCRIPTION_COLUMN
		END
		
		SET @QUERY = @QUERY +		
		
		' INTO #TEMP_MASTER_3 FROM '+@MASTER_TABLE_NAME+' WHERE '+@PRIMARY_COLUMN+' = '+CAST(@PRIMARY_ID AS VARCHAR)+
		
		' ALTER TABLE #TEMP_MASTER_3 ADD LANG_ID INT		
		UPDATE #TEMP_MASTER_3 SET LANG_ID = @CURRENT_CURSOR_LANG_ID WHERE '+@PRIMARY_COLUMN+' = '+CAST(@PRIMARY_ID AS VARCHAR)+
	
		' IF NOT EXISTS(SELECT LANG_ID FROM '+@CHILD_TABLE_NAME+' WHERE '+@PRIMARY_COLUMN+' = '+CAST(@PRIMARY_ID AS VARCHAR)+' AND LANG_ID = @CURRENT_CURSOR_LANG_ID)
		BEGIN
		 INSERT INTO '+@CHILD_TABLE_NAME+' SELECT * FROM #TEMP_MASTER_3 
		END
		 DROP TABLE #TEMP_MASTER_3
		 
	END
	ELSE
	BEGIN	
		SELECT * INTO #TEMP_MASTER FROM '+@MASTER_TABLE_NAME+' WHERE '+@PRIMARY_COLUMN+' = '+CAST(@PRIMARY_ID AS VARCHAR)+
		
		' ALTER TABLE #TEMP_MASTER ADD LANG_ID INT		
		UPDATE #TEMP_MASTER SET LANG_ID = @CURRENT_CURSOR_LANG_ID WHERE '+@PRIMARY_COLUMN+' = '+CAST(@PRIMARY_ID AS VARCHAR)+
	
		' IF NOT EXISTS(SELECT LANG_ID FROM '+@CHILD_TABLE_NAME+' WHERE '+@PRIMARY_COLUMN+' = '+CAST(@PRIMARY_ID AS VARCHAR)+' AND LANG_ID = @CURRENT_CURSOR_LANG_ID)
		BEGIN
		 INSERT INTO '+@CHILD_TABLE_NAME+' SELECT * FROM #TEMP_MASTER 
		END
		 DROP TABLE #TEMP_MASTER
	 END	     
	
	FETCH NEXT FROM ML_CURSOR INTO @CURRENT_CURSOR_LANG_ID	
	END
	
	CLOSE ML_CURSOR
	DEALLOCATE ML_CURSOR '
	
	--SELECT @QUERY
	EXECUTE(@QUERY)
	    
END


GO

