IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_MelEventos_Claim]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_MelEventos_Claim]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Proc_MelEventos_Claim]
	@INCEPTION_DATE DATETIME
AS
BEGIN
/*----------------------------------------------------------                                                                      
Proc Name       : dbo.Proc_MelEventos_Claim                                                                
Created by      : ANURAG GUPTA                                                                 
Date            : 03 MARCH 2011                                                                      
Purpose         : Mel Eventos - Claim - Normal & Legal  
Revison History :                                               
------------------------------------------------------------                                                                      
Modified By  :         
Date   :		
Purpose  :      
------------------------------------------------------------                                                                            
Date     Review By          Comments                                                                      
------   ------------       -------------------------*/  
---6) AVISO E PAGAMENTO DE SINISTRO: (Claim - Normal & Legal) 
--DECLARE @INCEPTION_DATE DATETIME
--SELECT @INCEPTION_DATE = '03/10/2011'

-- Proc_MelEventos_Claim '02/01/2011'
DECLARE @DATE CHAR(10)
DECLARE @SEQ_NUM INT


SELECT @SEQ_NUM = 0
SELECT @DATE = REPLACE(CONVERT(VARCHAR(10), @INCEPTION_DATE, 111), '/', '')

DECLARE @BATCH01 TABLE
	(
		LAYOUT_ID char(2),
		COMPANY_CODE CHAR(3), 
		YEAR_MONTH CHAR(6), 
		BATCH_CODE CHAR(6), 
		EVENT_CODE CHAR(6), 
		POSTING_DATE CHAR(8), 
		LOB VARCHAR(8), 
		BRANCH CHAR(2), 
		PROFIT_CENTER CHAR(6), 
		TRANSACTION_AMOUNT VARCHAR(15), 
		[DESCRIPTION] VARCHAR(250)
	)

INSERT INTO @BATCH01 (LAYOUT_ID, COMPANY_CODE, YEAR_MONTH, BATCH_CODE, EVENT_CODE, POSTING_DATE, LOB, BRANCH, PROFIT_CENTER, TRANSACTION_AMOUNT, [DESCRIPTION])
---CLAIM RESERVE AND PAYMENT
SELECT
	'02' AS LAYOUT_ID, 'AB1' AS COMPANY_CODE,
	CONVERT(VARCHAR(6), @DATE, 111) AS YEAR_MONTH,
	'EBI006' AS BATCH_CODE,
	CASE ISNULL(ACTIVITY.IS_LEGAL, 'N')
		WHEN 'Y' THEN 
			CASE ACCOUNTS.ACCOUNT_FOR
				WHEN 'RES' THEN 'DC0607'
				WHEN 'PAY' THEN 'DC0610'				
			END 
		ELSE
			CASE ACCOUNTS.ACCOUNT_FOR
				WHEN 'RES' THEN 'DC0601'
				WHEN 'PAY' THEN 'DC0604'				
			END 
	END AS EVENT_CODE, 
	CONVERT(VARCHAR(8), @DATE, 111) AS POSTING_DATE, 
	MLM.SUSEP_LOB_CODE AS LOB, RIGHT('00' + MDL.BRANCH_CODE, 2) AS BRANCH, 
	'00000' AS PROFIT_CENTER, 
	CASE ACCOUNTS.ACCOUNT_FOR 
		WHEN 'RES' THEN RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR(150), SUM(ABS(RESERVE.OUTSTANDING_TRAN))), '.', ''), 15) 
		WHEN 'PAY' THEN RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR(150), SUM(ABS(RESERVE.PAYMENT_AMOUNT))), '.', ''), 15)
		WHEN 'REC' THEN RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR(150), SUM(ABS(RESERVE.RECOVERY_AMOUNT))), '.', ''), 15)
	END AS TRANSACTION_AMOUNT, 	
	'DESCRIPTION' AS DESCRIPTION
FROM 
	CLM_ACTIVITY_RESERVE RESERVE WITH(NOLOCK)
INNER JOIN
	CLM_ACTIVITY ACTIVITY WITH(NOLOCK) ON (ACTIVITY.CLAIM_ID = RESERVE.CLAIM_ID AND ACTIVITY.ACTIVITY_ID = RESERVE.ACTIVITY_ID)
INNER JOIN
	CLM_CLAIM_INFO CLAIM WITH(NOLOCK) ON (CLAIM.CLAIM_ID = ACTIVITY.CLAIM_ID)
INNER JOIN
	POL_CUSTOMER_POLICY_LIST POLICY WITH(NOLOCK) ON (POLICY.CUSTOMER_ID = CLAIM.CUSTOMER_ID AND 
		POLICY.POLICY_ID = CLAIM.POLICY_ID AND POLICY.POLICY_VERSION_ID = CLAIM.POLICY_VERSION_ID)
INNER JOIN
	CLM_POSTING_ACCOUNT ACCOUNTS WITH(NOLOCK) ON (ACCOUNTS.TRANSACTION_CODE = ACTIVITY.ACTIVITY_REASON AND ACCOUNTS.DETAIL_TYPE_ID = ACTIVITY.ACTION_ON_PAYMENT)
INNER JOIN
	MNT_LOB_MASTER MLM WITH(NOLOCK) ON (MLM.LOB_ID = CLAIM.LOB_ID)
INNER JOIN
	MNT_DIV_LIST MDL WITH(NOLOCK) ON (MDL.DIV_ID = POLICY.DIV_ID)
WHERE 
	POLICY.CO_INSURANCE <> 14549 AND
	ACTIVITY.ACTIVITY_STATUS = 11801 AND
	CONVERT(VARCHAR(10), ACTIVITY.LAST_UPDATED_DATETIME, 101) = @INCEPTION_DATE
GROUP BY		
	MLM.SUSEP_LOB_CODE, MDL.BRANCH_CODE, ISNULL(ACTIVITY.IS_LEGAL, 'N'), ACCOUNTS.ACCOUNT_FOR
		
UNION ALL		
--RECOVERY FROM CO INSURER
SELECT
	'02' AS LAYOUT_ID, 'AB1' AS COMPANY_CODE,
	CONVERT(VARCHAR(6), @DATE, 111) AS YEAR_MONTH,
	'EBI006' AS BATCH_CODE,	
	CASE ISNULL(ACTIVITY.IS_LEGAL, 'N')
		WHEN 'Y' THEN 
			CASE ACCOUNTS.ACCOUNT_FOR
				WHEN 'RES' THEN 'DC0608'
				WHEN 'PAY' THEN 'DC0611'				
			END 
		ELSE
			CASE ACCOUNTS.ACCOUNT_FOR
				WHEN 'RES' THEN 'DC0602'
				WHEN 'PAY' THEN 'DC0605'				
			END 
	END AS EVENT_CODE, 	
	CONVERT(VARCHAR(8), @DATE, 111) AS POSTING_DATE, 
	MLM.SUSEP_LOB_CODE AS LOB, RIGHT('00' + MDL.BRANCH_CODE, 2) AS BRANCH, 
	'00000' AS PROFIT_CENTER, 
	RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR(150), SUM(ABS(RESERVE.CO_RESERVE_TRAN))), '.', ''), 15) AS TRANSACTION_AMOUNT,
	'DESCRIPTION' AS DESCRIPTION
FROM 
	CLM_ACTIVITY_RESERVE RESERVE WITH(NOLOCK)
INNER JOIN
	CLM_ACTIVITY ACTIVITY WITH(NOLOCK) ON (ACTIVITY.CLAIM_ID = RESERVE.CLAIM_ID AND ACTIVITY.ACTIVITY_ID = RESERVE.ACTIVITY_ID)
INNER JOIN
	CLM_CLAIM_INFO CLAIM WITH(NOLOCK) ON (CLAIM.CLAIM_ID = ACTIVITY.CLAIM_ID)
INNER JOIN
	POL_CUSTOMER_POLICY_LIST POLICY WITH(NOLOCK) ON (POLICY.CUSTOMER_ID = CLAIM.CUSTOMER_ID AND 
		POLICY.POLICY_ID = CLAIM.POLICY_ID AND POLICY.POLICY_VERSION_ID = CLAIM.POLICY_VERSION_ID)
INNER JOIN
	CLM_POSTING_ACCOUNT ACCOUNTS WITH(NOLOCK) ON (ACCOUNTS.TRANSACTION_CODE = ACTIVITY.ACTIVITY_REASON AND ACCOUNTS.DETAIL_TYPE_ID = ACTIVITY.ACTION_ON_PAYMENT)
INNER JOIN
	MNT_LOB_MASTER MLM WITH(NOLOCK) ON (MLM.LOB_ID = CLAIM.LOB_ID)
INNER JOIN
	MNT_DIV_LIST MDL WITH(NOLOCK) ON (MDL.DIV_ID = POLICY.DIV_ID)
WHERE 
	POLICY.CO_INSURANCE <> 14549 AND
	ACTIVITY.ACTIVITY_STATUS = 11801 AND
	RESERVE.CO_RESERVE_TRAN <> 0 AND
	CONVERT(VARCHAR(10), ACTIVITY.LAST_UPDATED_DATETIME, 101) = @INCEPTION_DATE
GROUP BY		
	MLM.SUSEP_LOB_CODE, MDL.BRANCH_CODE, ISNULL(ACTIVITY.IS_LEGAL, 'N'), ACCOUNTS.ACCOUNT_FOR
	
UNION ALL
--RECOVERY FROM RI INSURER
SELECT
	'02' AS LAYOUT_ID, 'AB1' AS COMPANY_CODE,
	CONVERT(VARCHAR(6), @DATE, 111) AS YEAR_MONTH,
	'EBI006' AS BATCH_CODE,	
	CASE ISNULL(ACTIVITY.IS_LEGAL, 'N')
		WHEN 'Y' THEN 
			CASE ACCOUNTS.ACCOUNT_FOR
				WHEN 'RES' THEN 'DC0609'
				WHEN 'PAY' THEN 'DC0612'				
			END 
		ELSE
			CASE ACCOUNTS.ACCOUNT_FOR
				WHEN 'RES' THEN 'DC0603'
				WHEN 'PAY' THEN 'DC0606'				
			END 
	END AS EVENT_CODE, 	
	CONVERT(VARCHAR(8), @DATE, 111) AS POSTING_DATE, 
	MLM.SUSEP_LOB_CODE AS LOB, RIGHT('00' + MDL.BRANCH_CODE, 2) AS BRANCH, 
	'00000' AS PROFIT_CENTER, 
	RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR(150), SUM(ABS(RESERVE.RI_RESERVE_TRAN))), '.', ''), 15) AS TRANSACTION_AMOUNT,
	'DESCRIPTION' AS DESCRIPTION
FROM 
	CLM_ACTIVITY_RESERVE RESERVE WITH(NOLOCK)
INNER JOIN
	CLM_ACTIVITY ACTIVITY WITH(NOLOCK) ON (ACTIVITY.CLAIM_ID = RESERVE.CLAIM_ID AND ACTIVITY.ACTIVITY_ID = RESERVE.ACTIVITY_ID)
INNER JOIN
	CLM_CLAIM_INFO CLAIM WITH(NOLOCK) ON (CLAIM.CLAIM_ID = ACTIVITY.CLAIM_ID)
INNER JOIN
	POL_CUSTOMER_POLICY_LIST POLICY WITH(NOLOCK) ON (POLICY.CUSTOMER_ID = CLAIM.CUSTOMER_ID AND 
		POLICY.POLICY_ID = CLAIM.POLICY_ID AND POLICY.POLICY_VERSION_ID = CLAIM.POLICY_VERSION_ID)
INNER JOIN
	CLM_POSTING_ACCOUNT ACCOUNTS WITH(NOLOCK) ON (ACCOUNTS.TRANSACTION_CODE = ACTIVITY.ACTIVITY_REASON AND ACCOUNTS.DETAIL_TYPE_ID = ACTIVITY.ACTION_ON_PAYMENT)
INNER JOIN
	MNT_LOB_MASTER MLM WITH(NOLOCK) ON (MLM.LOB_ID = CLAIM.LOB_ID)
INNER JOIN
	MNT_DIV_LIST MDL WITH(NOLOCK) ON (MDL.DIV_ID = POLICY.DIV_ID)
WHERE 
	POLICY.CO_INSURANCE <> 14549 AND
	ACTIVITY.ACTIVITY_STATUS = 11801 AND
	RESERVE.RI_RESERVE_TRAN <> 0 AND
	CONVERT(VARCHAR(10), ACTIVITY.LAST_UPDATED_DATETIME, 101) = @INCEPTION_DATE
GROUP BY		
	MLM.SUSEP_LOB_CODE, MDL.BRANCH_CODE, ISNULL(ACTIVITY.IS_LEGAL, 'N'), ACCOUNTS.ACCOUNT_FOR
		

SELECT
	'02' AS LAYOUT_ID, 'AB1' AS COMPANY_CODE,
	CONVERT(VARCHAR(6), @DATE, 111) AS YEAR_MONTH,
	'EBI006' AS BATCH_CODE,	
	'0000000' AS SEQUENTIAL,
	'CAPAEB' AS EVENT_CODE, 
	CONVERT(VARCHAR(8), @DATE, 111) AS POSTING_DATE,
	'', '', '', '', '', '', '', '', '', '', '', '', '', ''
UNION ALL
SELECT 
	LAYOUT_ID, COMPANY_CODE, YEAR_MONTH, BATCH_CODE, RIGHT('0000000' + CAST((ROW_NUMBER() over (order by @SEQ_NUM)) AS VARCHAR(7)), 7) AS SEQUENTIAL,
	EVENT_CODE, POSTING_DATE, LOB, BRANCH, PROFIT_CENTER, '', '', '', '', '000', '', '', TRANSACTION_AMOUNT, 'BRL' AS CURRENCY, '100000' AS EXCHANGE_RATE, [DESCRIPTION]
FROM 
	@BATCH01
ORDER BY 
	SEQUENTIAL
	
---------------NEW BATCH (12 - AVISO E PAGAMENTO DE SINISTRO DE CO-SEGURO ACEITO:)
DELETE FROM @BATCH01

INSERT INTO @BATCH01 (LAYOUT_ID, COMPANY_CODE, YEAR_MONTH, BATCH_CODE, EVENT_CODE, POSTING_DATE, LOB, BRANCH, PROFIT_CENTER, TRANSACTION_AMOUNT, [DESCRIPTION])
---CLAIM RESERVE AND PAYMENT
SELECT
	'02' AS LAYOUT_ID, 'AB1' AS COMPANY_CODE,
	CONVERT(VARCHAR(6), @DATE, 111) AS YEAR_MONTH,
	'EBI012' AS BATCH_CODE,
	CASE ISNULL(ACTIVITY.IS_LEGAL, 'N')
		WHEN 'Y' THEN 
			CASE ACCOUNTS.ACCOUNT_FOR
				WHEN 'RES' THEN 'AC1205'
				WHEN 'PAY' THEN 'AC1207'				
			END 
		ELSE
			CASE ACCOUNTS.ACCOUNT_FOR
				WHEN 'RES' THEN 'AC1201'
				WHEN 'PAY' THEN 'AC1203'				
			END 
	END AS EVENT_CODE, 
	CONVERT(VARCHAR(8), @DATE, 111) AS POSTING_DATE, 
	MLM.SUSEP_LOB_CODE AS LOB, RIGHT('00' + MDL.BRANCH_CODE, 2) AS BRANCH, 
	'00000' AS PROFIT_CENTER, 
	CASE ACCOUNTS.ACCOUNT_FOR 
		WHEN 'RES' THEN RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR(150), SUM(ABS(RESERVE.OUTSTANDING_TRAN))), '.', ''), 15) 
		WHEN 'PAY' THEN RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR(150), SUM(ABS(RESERVE.PAYMENT_AMOUNT))), '.', ''), 15)
		WHEN 'REC' THEN RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR(150), SUM(ABS(RESERVE.RECOVERY_AMOUNT))), '.', ''), 15)
	END AS TRANSACTION_AMOUNT, 	
	'DESCRIPTION' AS DESCRIPTION
FROM 
	CLM_ACTIVITY_RESERVE RESERVE WITH(NOLOCK)
INNER JOIN
	CLM_ACTIVITY ACTIVITY WITH(NOLOCK) ON (ACTIVITY.CLAIM_ID = RESERVE.CLAIM_ID AND ACTIVITY.ACTIVITY_ID = RESERVE.ACTIVITY_ID)
INNER JOIN
	CLM_CLAIM_INFO CLAIM WITH(NOLOCK) ON (CLAIM.CLAIM_ID = ACTIVITY.CLAIM_ID)
INNER JOIN
	POL_CUSTOMER_POLICY_LIST POLICY WITH(NOLOCK) ON (POLICY.CUSTOMER_ID = CLAIM.CUSTOMER_ID AND 
		POLICY.POLICY_ID = CLAIM.POLICY_ID AND POLICY.POLICY_VERSION_ID = CLAIM.POLICY_VERSION_ID)
INNER JOIN
	CLM_POSTING_ACCOUNT ACCOUNTS WITH(NOLOCK) ON (ACCOUNTS.TRANSACTION_CODE = ACTIVITY.ACTIVITY_REASON AND ACCOUNTS.DETAIL_TYPE_ID = ACTIVITY.ACTION_ON_PAYMENT)
INNER JOIN
	MNT_LOB_MASTER MLM WITH(NOLOCK) ON (MLM.LOB_ID = CLAIM.LOB_ID)
INNER JOIN
	MNT_DIV_LIST MDL WITH(NOLOCK) ON (MDL.DIV_ID = POLICY.DIV_ID)
WHERE
	POLICY.CO_INSURANCE = 14549 AND 
	ACTIVITY.ACTIVITY_STATUS = 11801 AND
	CONVERT(VARCHAR(10), ACTIVITY.LAST_UPDATED_DATETIME, 101) = @INCEPTION_DATE
GROUP BY		
	MLM.SUSEP_LOB_CODE, MDL.BRANCH_CODE, ISNULL(ACTIVITY.IS_LEGAL, 'N'), ACCOUNTS.ACCOUNT_FOR
		
UNION ALL
--RECOVERY FROM RI INSURER
SELECT
	'02' AS LAYOUT_ID, 'AB1' AS COMPANY_CODE,
	CONVERT(VARCHAR(6), @DATE, 111) AS YEAR_MONTH,
	'EBI012' AS BATCH_CODE,	
	CASE ISNULL(ACTIVITY.IS_LEGAL, 'N')
		WHEN 'Y' THEN 
			CASE ACCOUNTS.ACCOUNT_FOR
				WHEN 'RES' THEN 'AC1206'
				WHEN 'PAY' THEN 'AC1208'				
			END 
		ELSE
			CASE ACCOUNTS.ACCOUNT_FOR
				WHEN 'RES' THEN 'AC1202'
				WHEN 'PAY' THEN 'AC1204'				
			END 
	END AS EVENT_CODE, 	
	CONVERT(VARCHAR(8), @DATE, 111) AS POSTING_DATE, 
	MLM.SUSEP_LOB_CODE AS LOB, RIGHT('00' + MDL.BRANCH_CODE, 2) AS BRANCH, 
	'00000' AS PROFIT_CENTER, 
	RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR(150), SUM(ABS(RESERVE.RI_RESERVE_TRAN))), '.', ''), 15) AS TRANSACTION_AMOUNT,
	'DESCRIPTION' AS DESCRIPTION
FROM 
	CLM_ACTIVITY_RESERVE RESERVE WITH(NOLOCK)
INNER JOIN
	CLM_ACTIVITY ACTIVITY WITH(NOLOCK) ON (ACTIVITY.CLAIM_ID = RESERVE.CLAIM_ID AND ACTIVITY.ACTIVITY_ID = RESERVE.ACTIVITY_ID)
INNER JOIN
	CLM_CLAIM_INFO CLAIM WITH(NOLOCK) ON (CLAIM.CLAIM_ID = ACTIVITY.CLAIM_ID)
INNER JOIN
	POL_CUSTOMER_POLICY_LIST POLICY WITH(NOLOCK) ON (POLICY.CUSTOMER_ID = CLAIM.CUSTOMER_ID AND 
		POLICY.POLICY_ID = CLAIM.POLICY_ID AND POLICY.POLICY_VERSION_ID = CLAIM.POLICY_VERSION_ID)
INNER JOIN
	CLM_POSTING_ACCOUNT ACCOUNTS WITH(NOLOCK) ON (ACCOUNTS.TRANSACTION_CODE = ACTIVITY.ACTIVITY_REASON AND ACCOUNTS.DETAIL_TYPE_ID = ACTIVITY.ACTION_ON_PAYMENT)
INNER JOIN
	MNT_LOB_MASTER MLM WITH(NOLOCK) ON (MLM.LOB_ID = CLAIM.LOB_ID)
INNER JOIN
	MNT_DIV_LIST MDL WITH(NOLOCK) ON (MDL.DIV_ID = POLICY.DIV_ID)
WHERE 
	POLICY.CO_INSURANCE = 14549 AND
	ACTIVITY.ACTIVITY_STATUS = 11801 AND
	RESERVE.RI_RESERVE_TRAN <> 0 AND
	CONVERT(VARCHAR(10), ACTIVITY.LAST_UPDATED_DATETIME, 101) = @INCEPTION_DATE
GROUP BY		
	MLM.SUSEP_LOB_CODE, MDL.BRANCH_CODE, ISNULL(ACTIVITY.IS_LEGAL, 'N'), ACCOUNTS.ACCOUNT_FOR


SELECT
	'02' AS LAYOUT_ID, 'AB1' AS COMPANY_CODE,
	CONVERT(VARCHAR(6), @DATE, 111) AS YEAR_MONTH,
	'EBI012' AS BATCH_CODE,	
	'0000000' AS SEQUENTIAL,
	'CAPAEB' AS EVENT_CODE, 
	CONVERT(VARCHAR(8), @DATE, 111) AS POSTING_DATE,
	'', '', '', '', '', '', '', '', '', '', '', '', '', ''
UNION ALL
SELECT 
	LAYOUT_ID, COMPANY_CODE, YEAR_MONTH, BATCH_CODE, RIGHT('0000000' + CAST((ROW_NUMBER() over (order by @SEQ_NUM)) AS VARCHAR(7)), 7) AS SEQUENTIAL,
	EVENT_CODE, POSTING_DATE, LOB, BRANCH, PROFIT_CENTER, '', '', '', '', '000', '', '', TRANSACTION_AMOUNT, 'BRL' AS CURRENCY, '100000' AS EXCHANGE_RATE, [DESCRIPTION]
FROM 
	@BATCH01
ORDER BY 
	SEQUENTIAL
			
--ROLLBACK TRAN
END
GO

