IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_SUSEP_SA_INV_OUTPUT_INSURED_PARTY_WITH_COVER_INVALIDITY]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_SUSEP_SA_INV_OUTPUT_INSURED_PARTY_WITH_COVER_INVALIDITY]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


-- =============================================  
-- Author:  <SHIKHA CHOURASIYA>  
-- Create date: <27-07-2011>  
-- Description: <OUTPUT OF INSURED OR PARTYWITH COVER OF INVALIDITY>  ITRACK - 1242
-- =============================================  
--DROP  PROCEDURE PROC_SUSEP_SA_INV_OUTPUT_INSURED_PARTY_WITH_COVER_INVALIDITY   
--GO
CREATE PROCEDURE [dbo].[PROC_SUSEP_SA_INV_OUTPUT_INSURED_PARTY_WITH_COVER_INVALIDITY]   
 -- Add the parameters for the stored procedure here  
 @DATETIME DATETIME  
AS  
BEGIN  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
 SET NOCOUNT ON;  
 DECLARE @YEAR VARCHAR(4)  
 SET @YEAR = DATEPART(YYYY,@DATETIME)  
    -- Insert statements for procedure here  
 SELECT  TBL.SUSEP_INSURER_CODE COD_EMP,    
   TBL.REFERENCE_YEAR AS REF_INFO,    
   RIGHT('   '+ISNULL(TBL.PRODUCT_CODE,''),3) AS PRODUTO,    
   RIGHT(' '+ISNULL(TBL.COVER_CODE,''),1) AS COVER,      
   RIGHT('   '+ISNULL(TBL.CLAIM_COVER_CODE,''),3) AS MOT_SAIDA,      
   CONVERT(VARCHAR(6),ISNULL(TBL.DATE_OF_BIRTH,''),112) AS DATA_NASC,      
   CONVERT(VARCHAR(6),ISNULL(TBL.EFFECTIVE_DATETIME,''),112) AS DATA_EVENTO, 
   CONVERT(VARCHAR(6),ISNULL(TBL.FIRST_NOTICE_OF_LOSS,''),112) AS DATA_AVISO,  
   RIGHT('           '+ISNULL(TBL.CPF_NUM,''),11)  AS CPF,    
   RIGHT(' '+ISNULL(TBL.GENDER,''),1) AS SEXO      
   --ISNULL(TBL.SUM_INSURED,'') AS VALOR    
 FROM (    
       SELECT     
   '504-5' AS SUSEP_INSURER_CODE,    
   CONVERT(VARCHAR(4),@YEAR,112) AS REFERENCE_YEAR,    
   'VGA' AS PRODUCT_CODE,    
   CASE WHEN MC.COV_TYPE_ABBR IN ('IPA','IEA') THEN 1    
     WHEN MC.COV_TYPE_ABBR IN ('IPD','IPD-F') THEN 2    
     END AS COVER_CODE,    
   CASE WHEN MC.COV_TYPE_ABBR = 'IPA' THEN '400'    
     WHEN MC.COV_TYPE_ABBR = 'IPA-F' THEN '500'    
     WHEN MC.COV_TYPE_ABBR = 'IPD' THEN '600'    
     WHEN MC.COV_TYPE_ABBR = 'IPD-F' THEN '700'     
     WHEN PPP.PROCESS_ID = 12 THEN '900'     
     END AS CLAIM_COVER_CODE,     
   PPAI.DATE_OF_BIRTH,      
   PPP.EFFECTIVE_DATETIME, 
   CLM.FIRST_NOTICE_OF_LOSS,   
   PPAI.CPF_NUM,    
   CASE WHEN PPAI.GENDER = 6615 THEN 'M'    
     WHEN PPAI.GENDER = 6614 THEN 'F'    
     END GENDER,       
   SUM(PPC.LIMIT_1) AS SUM_INSURED       
     FROM POL_CUSTOMER_POLICY_LIST PCPL 
     LEFT OUTER JOIN CLM_CLAIM_INFO CLM ON  PCPL.CUSTOMER_ID = CLM.CUSTOMER_ID AND PCPL.POLICY_ID = CLM.POLICY_ID AND PCPL.POLICY_VERSION_ID = CLM.POLICY_VERSION_ID        
     LEFT OUTER JOIN POL_PERSONAL_ACCIDENT_INFO PPAI ON PCPL.CUSTOMER_ID = PPAI.CUSTOMER_ID AND PCPL.POLICY_ID = PPAI.POLICY_ID AND PCPL.POLICY_VERSION_ID = PPAI.POLICY_VERSION_ID     
     LEFT OUTER JOIN POL_PRODUCT_COVERAGES PPC ON PPAI.CUSTOMER_ID = PPC.CUSTOMER_ID  AND PPAI.POLICY_ID = PPC.POLICY_ID  AND PPAI.POLICY_VERSION_ID = PPC.POLICY_VERSION_ID AND PPAI.PERSONAL_INFO_ID = PPC.RISK_ID     
     LEFT OUTER JOIN MNT_COVERAGE MC ON PPC.COVERAGE_CODE_ID = MC.COV_ID AND MC.COV_TYPE_ABBR IN ('IPA','IEA','IPD','IPD-F')    
     LEFT OUTER JOIN POL_POLICY_PROCESS PPP ON PCPL.CUSTOMER_ID = PPP.CUSTOMER_ID AND PCPL.POLICY_ID = PPP.NEW_POLICY_ID  AND PCPL.POLICY_VERSION_ID = PPP.NEW_POLICY_VERSION_ID  AND PPAI.APPLICANT_ID = PPP.CO_APPLICANT_ID     
     WHERE CONVERT(VARCHAR(4),DATEPART(YYYY,PPP.CREATED_DATETIME)) = CONVERT(VARCHAR(4),2011)    
     AND PCPL.POLICY_LOB = 34     
     GROUP BY MC.COV_TYPE_ABBR,    
     DATE_OF_BIRTH,      
     EFFECTIVE_DATETIME, 
     FIRST_NOTICE_OF_LOSS,   
     CPF_NUM,     
     GENDER,    
     PPP.PROCESS_ID        
 ) TBL  
      
END  

GO

