IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetRatingInformationFormMotorcycle_PolicyComponent]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetRatingInformationFormMotorcycle_PolicyComponent]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO




/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ 
  
    
      
        
         
-            
            
              
----------------------------------                          
Proc Name           : Proc_GetRatingInformationFormMotorcycle_PolicyComponent                          
Created by            : Shrikant Bhatt                          
Date                     : 15/12/2005                          
Purpose                : To get the information for creating the input xml for Motorcycle                          
Revison History    :                          
Used In                 :   Wolverine                 
                
                       
Date      Review By          Comments                          
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  
    
      
        
          
            
            
Feb 13,2006     Nidhi                          
                        
--------------------------------*/                      
--                  
CREATE PROC Proc_GetRatingInformationFormMotorcycle_PolicyComponent                   
(                          
@CUSTOMERID    int,                          
@APPID    int,                          
@APPVERSIONID   int                          
)                          
AS                          
                          
BEGIN                          
 set quoted_identifier off                          
                          
--Basic Policy Page                        
/* PL NOTE: This proc only returns the basic nodes that are requried for rating. It does NOT map exactly to the                        
   quick quote xml generated by QQ interface */                        
DECLARE         @STATENAME                nvarchar(20)                          
DECLARE         @NEWBUSINESSFACTOR        nvarchar(20)                          
DECLARE         @QUOTEEFFDATE             nvarchar(20)                          
DECLARE         @QUOTEEXPDATE                 nvarchar(20)                          
DECLARE         @TERMFACTOR                  nvarchar(20)                          
DECLARE         @TERRITORY                  nvarchar(20)                          
DECLARE         @ZIPCODE       nvarchar(10)                          
DECLARE         @YEARSCONTINSURED     nvarchar(5)                          
DECLARE         @YEARSCONTINSUREDWITHWOLVERINE   nvarchar(5)                          
DECLARE         @STATE_ID       nvarchar(10)                          
DECLARE         @LOBID       nvarchar(10)                          
DECLARE         @MULTIPOLICYAUTOHOMEDISCOUNT    nvarchar(10)                          
DECLARE         @INSURANCESCORE      nvarchar(20)                  
                
--Get The Some Filds From Driver table                    
DECLARE    @DRIVERINCOME       nvarchar(100)                                    
DECLARE    @NODEPENDENT       nvarchar(100)                                    
DECLARE    @WAIVEWORKLOSS     nvarchar(100)                           
DECLARE    @INSURANCESCOREDIS   nvarchar(100)                
            
DECLARE   @MEDICALDEDUCTIBLE    nvarchar(100)                
DECLARE   @MEDICALTYPE    nvarchar(100)                
DECLARE   @MEDPMLIMIT     nvarchar(100)                
                   
                         
                          
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  
    
      
        
          
            
            
--Fetch APPNUMBER/VERSION            
declare @APP_NUMBER varchar(20)            
declare @APP_VERSION varchar(20)            
SELECT           
  @APP_NUMBER= APP_NUMBER,            
  @APP_VERSION = APP_VERSION            
            
                        
FROM                           
 APP_LIST  WITH (NOLOCK)             
WHERE                           
 CUSTOMER_ID =@CUSTOMERID    and APP_ID = @APPID and APP_VERSION_ID=@APPVERSIONID                        
              
                
                  
                    
                      
                        
--------------------------------            
--STATENAME                   
--------------------------------                    
SELECT                          
  @STATENAME= UPPER(isnull(MNT_COUNTRY_STATE_LIST.STATE_NAME,''))  ,@STATE_ID = APP_LIST.STATE_ID      , @LOBID=APP_LOB                    
                        
FROM                           
 APP_LIST  WITH (NOLOCK) INNER JOIN MNT_COUNTRY_STATE_LIST WITH (NOLOCK) ON  APP_LIST.STATE_ID=MNT_COUNTRY_STATE_LIST.STATE_ID                           
WHERE                           
 CUSTOMER_ID =@CUSTOMERID    and APP_ID = @APPID and APP_VERSION_ID=@APPVERSIONID                      
                          
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
 
 --------------------------------                          
--TERMFACTOR                          
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  
    
      
        
          
            
            
              
              
                
                  
                    
                      
                         
SELECT                          
  @TERMFACTOR = APP_TERMS,                        
  @QUOTEEFFDATE = convert(char(10),APP_EFFECTIVE_DATE,101), @QUOTEEXPDATE= convert(char(10),APP_EXPIRATION_DATE,101)                        
FROM                           
 APP_LIST WITH (NOLOCK)                          
WHERE                           
 CUSTOMER_ID =@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID                          
                          
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

                        
--------------------------------                          
--ZIPCODE, TERRITORY                      
--------------------------------                          
                       
SELECT @ZIPCODE =CUSTOMER_ZIP --,@INSURANCESCORE= ISNULL( CUSTOMER_INSURANCE_SCORE,100)                           
FROM CLT_CUSTOMER_LIST WITH (NOLOCK)  WHERE CUSTOMER_ID = @CUSTOMERID                 
SELECT @INSURANCESCORE=case (convert(varchar(20),(ISNULL(APPLY_INSURANCE_SCORE,-1)))) 
when -1 then '100'      
when  -2 then 'NOHITNOSCORE'
 else convert(varchar(20),APPLY_INSURANCE_SCORE) end                        
FROM APP_LIST WITH (NOLOCK)  WHERE CUSTOMER_ID = @CUSTOMERID         
AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID                
    
  
         
--@INSURANCESCOREDIS for discounts and surchages              
               
SELECT  @INSURANCESCOREDIS= ISNULL(APPLY_INSURANCE_SCORE,-1)       --by default value for score is 'N'                               
 FROM   APP_LIST  WITH (NOLOCK)                                     
 WHERE  CUSTOMER_ID =@CUSTOMERID         
AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID                         
              
 IF @INSURANCESCOREDIS=-1 or isnull(@INSURANCESCOREDIS,'')='' or @INSURANCESCOREDIS=-1             
  SET @INSURANCESCOREDIS='N'              
              
                    
SET @TERRITORY=''                              
IF ( @ZIPCODE !='')                          
  BEGIN                          
   SELECT  @TERRITORY = ISNULL(TERR ,'')   FROM  MNT_TERRITORY_CODES WITH (NOLOCK)                           
 WHERE  ZIP = (SUBSTRING(LTRIM(RTRIM(ISNULL(@ZIPCODE,''))),1,5)) and LOBID=@LOBID  
AND @QUOTEEFFDATE BETWEEN EFFECTIVE_FROM_DATE  AND ISNULL(EFFECTIVE_TO_DATE,'3000-03-16 16:59:06.630')                        
                             
  END                          
              
              
                         
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
 
                        
                    
                        
--------------------------------                          
--MULTI-POLICY-AUTO_HOME DISCOUNT, Years Cont. Insured                          
---------------------------------                       
                          
SELECT                          
 @MULTIPOLICYAUTOHOMEDISCOUNT = case ISNULL(MULTI_POLICY_DISC_APPLIED,0)                      
 when '1' then 'Y'                    
 else 'N'                    
 end,                        
 @YEARSCONTINSURED= cast(ISNULL(YEARS_INSU,0) as nvarchar(5)  ) ,                        
 @YEARSCONTINSUREDWITHWOLVERINE= cast(ISNULL(YEARS_INSU_WOL,0) as nvarchar(5)  )                         
FROM                           
 APP_AUTO_GEN_INFO  WITH (NOLOCK)                        
WHERE                           
 CUSTOMER_ID =@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID                          
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------            
              
              
--- Medical Deductible             
               
                  
select            
 @MEDICALTYPE = case (LIMIT1_AMOUNT_TEXT)            
 WHEN '1st Party Medical-$300' THEN 'FULL'            
 WHEN '1st Party Medical-Full' THEN 'FULL'            
 WHEN '$1000 Medical' THEN 'EXCESS'            
 WHEN '1st Party Medical-Excess' THEN 'EXCESS'            
 ELSE            
  'FULL'            
 END,            
            
 @MEDICALDEDUCTIBLE = ISNULL(DEDUCTIBLE_1,'0'),              
 @MEDPMLIMIT = ISNULL(LIMIT_1,'0')             
FROM             
 APP_VEHICLE_COVERAGES               
WHERE             
 CUSTOMER_ID =@CUSTOMERID AND APP_ID=@APPID AND APP_VERSION_ID=@APPVERSIONID                   
            
                      
             
                        
--------------------------------                          
                          
                          
SELECT                          
   @STATENAME    AS STATENAME,                          
   @TERRITORY        AS TERRITORY,            
   @APP_NUMBER AS   APP_NUMBER,             
   @APP_VERSION AS   APP_VERSION,               
   @INSURANCESCOREDIS AS INSURANCESCOREDIS,                        
   @ZIPCODE       AS ZIPCODE,                        
   'Y'         AS NEWBUSINESS, --new business from app always                         
   'N'         AS RENEWAL,                          
   @QUOTEEFFDATE        AS QUOTEEFFDATE,                            
   @QUOTEEXPDATE         AS QUOTEEXPDATE,                          
   @TERMFACTOR       AS POLICYTERMS,                          
   @YEARSCONTINSURED         AS YEARSCONTINSURED,                               
   @YEARSCONTINSUREDWITHWOLVERINE         AS YEARSCONTINSUREDWITHWOLVERINE,                          
   @MULTIPOLICYAUTOHOMEDISCOUNT    AS MULTIPOLICYAUTOHOMEDISCOUNT,                          
   @INSURANCESCORE       AS INSURANCESCORE,              
               
            
 @MEDICALDEDUCTIBLE  AS  MEDICALDEDUCTIBLE,                 
 @MEDICALTYPE    AS MEDICALTYPE,              
 @MEDPMLIMIT    AS  MEDPMLIMIT              
            
              
                  
END                        
                        
                      
                    
                  
                
              
              
              
            
            
            
          
        
      
    
  





GO

