IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetProcessHeaderDetails]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetProcessHeaderDetails]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------                  
Proc Name           :  dbo.Proc_GetProcessHeaderDetails 
Created by            :  Pravesh K. Chandel
Date                    :  27 feb-2007      
Purpose                :  To get the Process Header Details      
------------------------------------------------------------                  
Date     Review By          Comments                  
drop proc dbo.Proc_GetProcessHeaderDetails 
------   ------------       -------------------------*/                  
CREATE PROC dbo.Proc_GetProcessHeaderDetails           
(                  
 @CUSTOMER_ID  INT,      
 @POLICY_ID INT,      
 @POLICY_VERSION_ID INT      
)                  
AS                  
BEGIN           

--Call to SP to fetch policy status
--exec Proc_GetPolicyDisplayStatus @CUSTOMER_ID,@POLICY_ID,@POLICY_VERSION_ID,@POLICY_STATUS out

SELECT       
POL.PROCESS_DESC PROCESS_FULLNAME,
PR.POLICY_ID,
PR.POLICY_VERSION_ID,
PR.ROW_ID,
(SELECT POLICY_DISP_VERSION FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID
 AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID = PR.POLICY_VERSION_ID) PREVIOUS_DISP_VERSION,
(SELECT POLICY_DISP_VERSION FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID
 AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID = PR.NEW_POLICY_VERSION_ID) CURRENT_DISP_VERSION,
PR.PROCESS_ID,
PR.NEW_CUSTOMER_ID,
PR.NEW_POLICY_ID,
PR.NEW_POLICY_VERSION_ID,
PR.POLICY_PREVIOUS_STATUS,
st1.POLICY_DESCRIPTION PREVIOUS_POLICY_DESCRIPTION,
PR.POLICY_CURRENT_STATUS,
st2.POLICY_DESCRIPTION CURRENT_POLICY_DESCRIPTION,
PR.PROCESS_STATUS,
CASE ISNULL(PR.CREATED_BY,0) WHEN 0 THEN '' ELSE USR1.USER_FNAME + ' ' + ISNULL(USR1.USER_LNAME,'') END CREATED_BY,
--PR.CREATED_BY,
CONVERT(VARCHAR,PR.CREATED_DATETIME,101) CREATED_DATETIME,
CASE ISNULL(PR.COMPLETED_BY,0) WHEN 0 THEN '' ELSE USR2.USER_FNAME + ' ' + ISNULL(USR2.USER_LNAME,'') END COMPLETED_BY,
CONVERT(VARCHAR,PR.COMPLETED_DATETIME,101) COMPLETED_DATETIME,
PR.COMMENTS,
isnull(PR.PRINT_COMMENTS,'') PRINT_COMMENTS,
--CASE ISNULL(PR.REQUESTED_BY,0) WHEN 0 THEN '' ELSE USR1.USER_FNAME + ISNULL(USR1.USER_LNAME,'') END REQUESTED_BY,
PR.REQUESTED_BY,
PR.EFFECTIVE_DATETIME,
CONVERT(VARCHAR,PR.EXPIRY_DATE,101) EXPIRY_DATE,
PR.CANCELLATION_OPTION,
LOOK1.LOOKUP_VALUE_DESC CANCELLATION_OPTION_DESC,
PR.CANCELLATION_TYPE,
LOOK2.LOOKUP_VALUE_DESC CANCELLATION_TYPE_DESC,
PR.REASON,
PR.OTHER_REASON,
PR.RETURN_PREMIUM,
PR.PAST_DUE_PREMIUM,
PR.POLICY_TERMS,
PR.NEW_POLICY_TERM_EFFECTIVE_DATE,
PR.NEW_POLICY_TERM_EXPIRATION_DATE,

PR.RETURN_PREMIUM_AMOUNT ,
PR.RETURN_MCCA_FEE_AMOUNT,
PR.RETURN_OTHER_FEE_AMOUNT,
PR.PRINTING_OPTIONS,
PR.INSURED,
PR.SEND_INSURED_COPY_TO,
PR.AUTO_ID_CARD,
PR.NO_COPIES,
PR.STD_LETTER_REQD,
PR.CUSTOM_LETTER_REQD,
PR.ADD_INT,
PR.ADD_INT_ID,
PR.SEND_ALL,
PR.AGENCY_PRINT,
PR.OTHER_RES_DATE_CD,
PR.OTHER_RES_DATE,
PR.INTERNAL_CHANGE,
PR.APPLY_REINSTATE_FEE,
PR.ADVERSE_LETTER_REQD,
PR.SAME_AGENCY,
PR.ANOTHER_AGENCY,
PR.CFD_AMT
      
FROM        
 POL_POLICY_PROCESS PR with(nolock)    
 inner JOIN  POL_PROCESS_MASTER POL with(nolock)  ON PR.process_ID = POL.process_id
left join MNT_USER_LIST USR1 on USR1.[USER_ID]=PR.CREATED_BY
left join MNT_USER_LIST USR2 on USR2.[USER_ID]=PR.COMPLETED_BY
left join POL_POLICY_STATUS_MASTER st1 on st1.POLICY_STATUS_CODE=PR.POLICY_PREVIOUS_STATUS
left join POL_POLICY_STATUS_MASTER st2 on st2.POLICY_STATUS_CODE=PR.POLICY_CURRENT_STATUS
left join MNT_LOOKUP_VALUES LOOK1 ON LOOK1.LOOKUP_UNIQUE_ID=PR.CANCELLATION_OPTION
left join MNT_LOOKUP_VALUES LOOK2 ON LOOK2.LOOKUP_UNIQUE_ID=PR.CANCELLATION_TYPE


WHERE       
        PR.CUSTOMER_ID =  @CUSTOMER_ID AND      
        PR.POLICY_ID = @POLICY_ID 
      -- AND PR.NEW_POLICY_VERSION_ID = @POLICY_VERSION_ID       
       and upper(pol.PROCESS_DESC) like '%COMMIT%' 	
	and COMPLETED_DATETIME = (select max(COMPLETED_DATETIME) from pol_policy_process a
				 inner JOIN  POL_PROCESS_MASTER b with(nolock)  ON a.process_ID = b.process_id					
					WHERE  CUSTOMER_ID =  @CUSTOMER_ID AND      
			        	POLICY_ID = @POLICY_ID 
					and upper(b.PROCESS_DESC) like '%COMMIT%' 
					and a.process_id not in (35,36,37)
					and a.process_id  in (14,18,20) 		
			        --    AND NEW_POLICY_VERSION_ID = @POLICY_VERSION_ID       
				)	
	and PR.process_id not in (35,36,37)  ---Commit Revert back Commit
	and  PR.process_id  in (14,18,20)  -- in case of commit renewal and Commit endorsement 	

END





GO

