IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetRTLImportHistory]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetRTLImportHistory]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Pradeep Kushwaha>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
-- drop proc dbo.Proc_GetRTLImportHistory   '75',null,'',null,14831,2
  --- dbo.Proc_GetRTLImportHistory  '75',null,null,'','14831',1 


CREATE PROC [dbo].[Proc_GetRTLImportHistory]   
(                    
 @DEPOSIT_NUMBER   VARCHAR(80) = NULL,              
 @FROM_DATE Datetime = null,        
 @TO_DATE   DateTime = null,  
 @PROCESS_STATUS  varchar(20) = NULL,               
 @DEPOSITE_TYPE NVARCHAR(20) = NULL,
 @LANG_ID INT=1  
)                    
AS   
DECLARE @sql VARCHAR(8000)   
BEGIN     
  
 Select @sql = 'SELECT RPL.POLICY_NUMBER AS POLICY_NUMBER, RPL.OUR_NUMBER, 
 ACD.DEPOSIT_NUMBER AS DEPOSIT_NUMBER,  
 RPL.START_DATETIME AS DATE,  
 --ACD.TOTAL_DEPOSIT_AMOUNT AS AMOUNT,  
 --CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL(RPL.AMOUNT,0)),1) AS AMOUNT,  
 dbo.fun_FormatCurrency(RPL.AMOUNT,'''+ CAST(@LANG_ID AS NVARCHAR)  + ''')AS AMOUNT,  
 --RPL.STATUS AS STATUS,  
 --RPL.ACTIVITY_DESCRIPTION AS ADDITIONAL_INFO 
 ISNULL(TRAN_TYPE_MULTI.TRANS_TYPE_NAME,TRAN_TYPE.TRANS_TYPE_DESC) as STATUS,
 ISNULL(TRAN_TYPE_MULTI1.TRANS_TYPE_NAME,TRAN_TYPE1.TRANS_TYPE_DESC) as ADDITIONAL_INFO,
 RPL.START_DATETIME,
 RPL.LEADER_POLICY_ID AS LAEDER_POLICY_NO, 
	RPL.LEADER_DOC_ID AS ENDORSMENT_NO,
	ISNULL(RPL.PAYMENT_DATE, '''') AS PAYMENT_DATE,
	--RPL.RISK_PREMIUM,
	dbo.fun_FormatCurrency(RPL.RISK_PREMIUM,'''+ CAST(@LANG_ID AS NVARCHAR)  + ''')AS RISK_PREMIUM,  
	RPL.STATUS AS STATUS_CO,  
	RPL.ACTIVITY_DESCRIPTION AS ADDITIONAL_INFO_CO   
  
 FROM  RTL_PROCESS_LOG RPL WITH(NOLOCK)    
 LEFT OUTER JOIN ACT_CURRENT_DEPOSITS ACD WITH(NOLOCK)   
 ON RPL.DEPOSIT_ID = ACD.DEPOSIT_ID    
 LEFT JOIN TRANSACTIONTYPELIST TRAN_TYPE WITH(NOLOCK)
ON TRAN_TYPE.TRANS_TYPE_ID = RPL.STATUS_ID 
LEFT JOIN TRANSACTIONTYPELIST TRAN_TYPE1 WITH(NOLOCK)
on TRAN_TYPE1.TRANS_TYPE_ID = RPL.ACTIVITY_DESCRIPTION_ID  
LEFT OUTER join TRANSACTIONTYPELIST_MULTILINGUAL TRAN_TYPE_MULTI WITH(NOLOCK) 
ON  TRAN_TYPE.TRANS_TYPE_ID =TRAN_TYPE_MULTI.TRANS_TYPE_ID 
AND TRAN_TYPE_MULTI.LANG_ID='''+ CAST(@LANG_ID AS NVARCHAR)  + '''
LEFT OUTER join TRANSACTIONTYPELIST_MULTILINGUAL TRAN_TYPE_MULTI1 WITH(NOLOCK) 
ON  TRAN_TYPE1.TRANS_TYPE_ID =TRAN_TYPE_MULTI1.TRANS_TYPE_ID 
AND TRAN_TYPE_MULTI1.LANG_ID='''+ CAST(@LANG_ID AS NVARCHAR)  + '''

 WHERE 1=1 '  
  
 IF (@DEPOSIT_NUMBER IS NOT NULL)        
  BEGIN        
   SELECT @sql=@sql + ' AND ACD.DEPOSIT_NUMBER = (''' + @DEPOSIT_NUMBER +''')'        
  END  
  
  
  IF (@DEPOSITE_TYPE IS NOT NULL)        
  BEGIN        
   SELECT @sql=@sql + ' AND ACD.DEPOSIT_TYPE = (''' + @DEPOSITE_TYPE +''')'        
  END 
  
  
        
 IF (@FROM_DATE IS NOT NULL)        
  BEGIN    
   --SELECT @sql=@sql + ' AND CAST(CONVERT(VARCHAR,RPL.START_DATETIME ,case when '''+ CAST(@LANG_ID AS NVARCHAR)  + '''=2 then 103 else 101 end) AS DATETIME) >= ''' + CONVERT(VARCHAR, @FROM_DATE,case when @LANG_ID=2 then 103 else 101 end) + ''''       
   SELECT @sql=@sql + ' AND RPL.START_DATETIME >= ''' + CAST(@FROM_DATE as nvarchar(50)) + ''''       
  END        
 IF (@TO_DATE IS NOT NULL)        
  BEGIN   
   --SELECT @sql=@sql + ' AND CAST(CONVERT(VARCHAR,RPL.START_DATETIME,case when '''+ CAST(@LANG_ID AS NVARCHAR)  + '''=2 then 103 else 101 end) AS DATETIME) <= ''' + CONVERT(VARCHAR, @TO_DATE,case when @LANG_ID=2 then 103 else 101 end) + ''''    
      SELECT @sql=@sql + ' AND RPL.START_DATETIME <= ''' + CAST(@TO_DATE+' 23:59:59.220' as nvarchar(50)) + ''''
     --SELECT @sql=@sql + 'AND CAST(CONVERT(VARCHAR,RPL.START_DATETIME,101) AS DATETIME) <= ''' + CONVERT(VARCHAR, @TO_DATE,101) + '''' 
  END     
 
 -- IF(@FROM_DATE IS NOT NULL and  @TO_DATE IS NOT NULL)
 --BEGIN

	--	SELECT @sql = @sql + 'AND RPL.START_DATETIME BETWEEN '''+ CAST(@FROM_DATE AS NVARCHAR(50)) + ''' AND'''+ CAST(DATEADD(DD, 1, CAST(@TO_DATE AS NVARCHAR(50))) AS NVARCHAR(100)) +''''     
 --END    
 
 

 IF (@PROCESS_STATUS IS NOT NULL)  
  BEGIN   
   IF(RTRIM(LTRIM(@PROCESS_STATUS)) = '0')  
   BEGIN  
    SELECT @sql=@sql + 'AND RPL.STATUS_ID = ''397''' --'AND RPL.STATUS = ''SUCCEEDED'''   
   END  
   ELSE  
   BEGIN  
    SELECT @sql=@sql + 'AND RPL.STATUS_ID = ''396'''   --'AND RPL.STATUS = ''FAILED''' 
   END  
  END  
 
  PRINT @sql
   
  
 SELECT @sql = @sql + ' ORDER BY DEPOSIT_NUMBER'   
  
--PRINT @sql       
  
EXEC (@sql)        
    

END  


  
  
  
  
  
 
GO

