IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_InsertPolPersonalAccidentInfo]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_InsertPolPersonalAccidentInfo]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------              
Proc Name       : dbo.POL_PERILS              
Created by      : Chetna Agarwal    
Date            : 15/04/2010              
Purpose       :To insert records in POL_PERSONAL_ACCIDENT_INFO table.              
Revison History :              
Used In        : Ebix Advantage              
------------------------------------------------------------              
Date     Review By          Comments              
------   ------------       -------------------------*/              
--DROP PROC dbo.Proc_InsertPolPersonalAccidentInfo   
  
CREATE PROC [dbo].[Proc_InsertPolPersonalAccidentInfo]     
(      
@PERSONAL_INFO_ID INT OUT,  
@POLICY_ID INT,   
@POLICY_VERSION_ID INT,   
@CUSTOMER_ID INT,  
@INDIVIDUAL_NAME NVARCHAR(30)=NULL,  
@CODE NVARCHAR(10)=NULL,  
@POSITION_ID INT =NULL,  
@CPF_NUM NVARCHAR(20)=NULL,  
@STATE_ID INT=NULL,  
@DATE_OF_BIRTH DATE=NULL,  
@GENDER INT=NULL,  
@REG_IDEN NVARCHAR(12)=NULL,  
@REG_ID_ISSUES DATE,  
@REMARKS NVARCHAR(4000),  
@IS_ACTIVE NCHAR(1)=NULL,  
@CREATED_BY INT=NULL,  
@CREATED_DATETIME DATETIME=NULL,  
@MODIFIED_BY INT=NULL,  
@LAST_UPDATED_DATETIME DATETIME=NULL,  
@COUNTRY_ID INT=NULL,  
@REG_ID_ORG NVARCHAR(50)=NULL,  
@APPLICANT_ID INT=NULL  ,
@IS_SPOUSE_OR_CHILD INT=NULL,
@MAIN_INSURED INT=NULL,
@CITY_OF_BIRTH  NVARCHAR(100)=NULL,
@ORIGINAL_VERSION_ID  INT=NULL,
@MARITAL_STATUS NCHAR(2)=NULL,
@EXCEEDED_PREMIUM INT = NULL 
)  
AS    
BEGIN    
  
DECLARE @POLICY_EXPIRATION_DATE DATE  
--Modified by Pradeep Kushwaha on 26-Aug-2011 - Itrack- 1566
SELECT @POLICY_EXPIRATION_DATE=POLICY_EXPIRATION_DATE FROM POL_CUSTOMER_POLICY_LIST (NOLOCK) WHERE CUSTOMER_ID =@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  
IF((@CPF_NUM in (SELECT CPF_NUM FROM POL_PERSONAL_ACCIDENT_INFO WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND IS_ACTIVE='Y'))
	AND (@REG_IDEN in (SELECT REG_IDEN FROM POL_PERSONAL_ACCIDENT_INFO WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND IS_ACTIVE='Y'))
	AND (@CODE in(SELECT CODE FROM POL_PERSONAL_ACCIDENT_INFO WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND IS_ACTIVE='Y' ) 
	AND @IS_SPOUSE_OR_CHILD=10964)
	)
	RETURN -16	--CPF , RG and code are duplicated - "CPF, RG e Código já cadastrados."
ELSE IF((@CODE in (SELECT CODE FROM POL_PERSONAL_ACCIDENT_INFO WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID and POLICY_ID=@POLICY_ID AND IS_ACTIVE='Y' ) 
		AND @IS_SPOUSE_OR_CHILD=10964)
		AND (@REG_IDEN in (SELECT REG_IDEN FROM POL_PERSONAL_ACCIDENT_INFO WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND IS_ACTIVE='Y' ))
		)
	RETURN -15	--CODE and RG are duplicated - "CODE e RG já cadastrados."
ELSE IF((@CPF_NUM in (SELECT CPF_NUM FROM POL_PERSONAL_ACCIDENT_INFO WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND IS_ACTIVE='Y')) 
		AND (@CODE in (SELECT CODE FROM POL_PERSONAL_ACCIDENT_INFO WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID and POLICY_ID=@POLICY_ID AND IS_ACTIVE='Y') 
		AND @IS_SPOUSE_OR_CHILD=10964)
		)
	RETURN -14--CPF and CODE are duplicated - "CPF e CODE já cadastrados."
ELSE IF((@CPF_NUM in (SELECT CPF_NUM FROM POL_PERSONAL_ACCIDENT_INFO WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND IS_ACTIVE='Y'))
		AND (@REG_IDEN in (SELECT REG_IDEN FROM POL_PERSONAL_ACCIDENT_INFO WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND IS_ACTIVE='Y'))
		)
	RETURN -13--CPF and RG are duplicated - "CPF e RG já cadastrados."
ELSE IF((@CODE in (SELECT CODE FROM POL_PERSONAL_ACCIDENT_INFO WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND IS_ACTIVE='Y')) 
		AND (@IS_SPOUSE_OR_CHILD=10964) 
		)
	RETURN -12--ONLY CODE is duplicated - "CODE já cadastrado."
ELSE IF(@REG_IDEN in (SELECT REG_IDEN FROM POL_PERSONAL_ACCIDENT_INFO WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND IS_ACTIVE='Y'))
	RETURN -11--ONLY RG is duplicated - "RG já cadastrado."
ELSE IF(@CPF_NUM in (SELECT CPF_NUM FROM POL_PERSONAL_ACCIDENT_INFO WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND IS_ACTIVE='Y'))
	RETURN -10--ONLY CPF is duplicated - "CPF já cadastrado."
ELSE IF(@DATE_OF_BIRTH>@POLICY_EXPIRATION_DATE)  		
	return -5
ELSE
--Modified till here  
BEGIN  
SELECT  @PERSONAL_INFO_ID=isnull(Max(PERSONAL_INFO_ID),0)+1 from POL_PERSONAL_ACCIDENT_INFO  where CUSTOMER_ID=@CUSTOMER_ID and POLICY_ID=@POLICY_ID   
    
INSERT INTO POL_PERSONAL_ACCIDENT_INFO    
(    
PERSONAL_INFO_ID,  
POLICY_ID ,   
POLICY_VERSION_ID ,   
CUSTOMER_ID ,  
INDIVIDUAL_NAME,   
CODE,  
POSITION_ID,  
CPF_NUM ,  
STATE_ID ,  
DATE_OF_BIRTH ,  
GENDER ,  
REG_IDEN ,  
REG_ID_ISSUES,  
REMARKS ,  
IS_ACTIVE ,  
CREATED_BY ,  
CREATED_DATETIME,  
MODIFIED_BY ,  
LAST_UPDATED_DATETIME,  
COUNTRY_ID ,  
REG_ID_ORG,  
APPLICANT_ID ,
IS_SPOUSE_OR_CHILD,
MAIN_INSURED ,
CITY_OF_BIRTH,
ORIGINAL_VERSION_ID,
MARITAL_STATUS,
EXCEEDED_PREMIUM
)   
VALUES  
(  
@PERSONAL_INFO_ID,  
@POLICY_ID ,   
@POLICY_VERSION_ID ,   
@CUSTOMER_ID ,  
@INDIVIDUAL_NAME,   
@CODE,  
@POSITION_ID,  
@CPF_NUM ,  
@STATE_ID ,  
@DATE_OF_BIRTH ,  
@GENDER ,  
@REG_IDEN ,  
@REG_ID_ISSUES,  
@REMARKS ,  
@IS_ACTIVE ,  
@CREATED_BY ,  
@CREATED_DATETIME,  
@MODIFIED_BY ,  
@LAST_UPDATED_DATETIME,  
@COUNTRY_ID ,  
@REG_ID_ORG,  
@APPLICANT_ID   ,
@IS_SPOUSE_OR_CHILD,
@MAIN_INSURED ,
@CITY_OF_BIRTH,
@ORIGINAL_VERSION_ID,
@MARITAL_STATUS,
@EXCEEDED_PREMIUM
)  
  
  
---ADDED BY pRAVESH ON  10 MAY- SAVE DEFAULT cOVERAGS  
EXEC Proc_SaveProductDefaultCoverages        
 @CUSTOMER_ID ,  
 @POLICY_ID  ,  
 @POLICY_VERSION_ID ,  
 @PERSONAL_INFO_ID ,  
 @CREATED_BY   
    return 1 
 END 

END
GO

