IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[rpt_AgentList]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[rpt_AgentList]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- DROP PROCEDURE dbo.rpt_AgentList
CREATE PROCEDURE [dbo].[rpt_AgentList]
	@AgentID VARCHAR(8000)='0',
	@Hierarchy CHAR(1) = 1
AS
	BEGIN
IF @AgentID='' OR @AgentID IS NULL
	SET @AgentID='0'
 --Inner Join Change In To Left Join For Itrack Issue #6614. 
		DECLARE @sql VARCHAR(8000)
		Select @sql = 'SELECT   MNT_AGENCY_LIST.AGENCY_CODE, MNT_AGENCY_LIST.AGENCY_DISPLAY_NAME AGENCYNAME, MNT_AGENCY_LIST.AGENCY_ADD1, 
                		MNT_AGENCY_LIST.AGENCY_ADD2, MNT_AGENCY_LIST.AGENCY_CITY, MNT_COUNTRY_STATE_LIST.STATE_CODE, 
	                      	MNT_AGENCY_LIST.AGENCY_ZIP, MNT_AGENCY_LIST.AGENCY_PHONE, MNT_AGENCY_LIST.AGENCY_EXT, MNT_AGENCY_LIST.AGENCY_FAX, 
        	              	MNT_AGENCY_LIST.AGENCY_EMAIL, MNT_AGENCY_LIST.AGENCY_COMMISSION, LTRIM(RTRIM(MNT_DIV_LIST.DIV_NAME)) + ''/'' + LTRIM(RTRIM(MNT_DEPT_LIST.DEPT_NAME )) + ''/'' +
                	      	LTRIM(RTRIM(MNT_PROFIT_CENTER_LIST.PC_NAME)) AS HIERARCHY, ' + @Hierarchy + ' AS INCHIERARCHY
				FROM	MNT_AGENCY_LIST LEFT JOIN
                      		MNT_DEFAULT_HIERARCHY ON MNT_AGENCY_LIST.AGENCY_ID = MNT_DEFAULT_HIERARCHY.AGENCY_ID LEFT JOIN
                      		MNT_DIV_LIST ON MNT_DEFAULT_HIERARCHY.DIV_ID = MNT_DIV_LIST.DIV_ID LEFT JOIN
                 		MNT_DEPT_LIST ON MNT_DEFAULT_HIERARCHY.DEPT_ID = MNT_DEPT_LIST.DEPT_ID LEFT JOIN
	                	MNT_PROFIT_CENTER_LIST ON MNT_DEFAULT_HIERARCHY.PC_ID = MNT_PROFIT_CENTER_LIST.PC_ID LEFT JOIN
        	        	MNT_COUNTRY_STATE_LIST ON MNT_COUNTRY_STATE_LIST.COUNTRY_ID = MNT_AGENCY_LIST.AGENCY_COUNTRY AND 
                		MNT_COUNTRY_STATE_LIST.STATE_ID = MNT_AGENCY_LIST.AGENCY_STATE '
			--IF (@AgentID <> 0)
			IF (@AgentID <> '0')
			BEGIN
				--SELECT @sql=@sql + ' AND MNT_AGENCY_LIST.AGENCY_ID = ' + CAST(@AgentID AS VARCHAR(10))
				SELECT @sql=@sql + ' WHERE MNT_AGENCY_LIST.AGENCY_ID IN (' +  @AgentID + ')'
			END
			SELECT @sql=@sql + ' ORDER BY AGENCY_CODE, AGENCYNAME, AGENCY_ADD1'
		END	


--PRINT(@sql) 
EXEC (@sql)







GO

