IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_DoPostEndorsementAdjustments]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_DoPostEndorsementAdjustments]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN 
--drop PROCEDURE dbo.Proc_DoPostEndorsementAdjustments
--GO 

/*----------------------------------------------------------------------  
Procedure Name	: dbo.Proc_DoPostEndorsementAdjustments
Created By  	: Ravindra gupta	
Created Date 	: 03-27-09
Purpose   		: To adjust commissions if Commission Class of risk has been changed inendorsement
Revision History  

-----------------------------------------------------------------------*/  
-- drop PROCEDURE dbo.Proc_DoPostEndorsementAdjustments
CREATE PROCEDURE [dbo].[Proc_DoPostEndorsementAdjustments]  
(  
	@CUSTOMER_ID    		Int,  	
	@POLICY_ID    			Int,  	
	@POLICY_VERSION_ID  	Int,   	
	@RISK_ID				Int,
	@RISK_TYPE				Varchar(10),
	@NEW_COMMISSION_CLASS	Int,
	@CHANGE_EFFECTIVE_DATE	Datetime ,
	@PPD_ROW_ID				Int ,
	@USER_ID				Int
)  
AS  
BEGIN  
	
	DECLARE @CURRENT_TERM			Int ,  
			@BILL_TYPE				Varchar(10),
			@IS_HOME_EMPLOYEE		Char(1),
			@POLICY_EFFECTIVE_DATE	Datetime,
			@POLICY_EXPIRATION_DATE	Datetime,
			@NEW_COMMISSION_RATE	Decimal(18,2) ,
			@APP_LOB				Int,
			@APP_SUBLOB				Int,
			@STATE_ID				Int,
			@IS_PREBILL				SmallInt,
			@FISCAL_ID				Int,
			@POSTING_DATE			Datetime,	
			@USER_CODE				Varchar(30),
			@USER_NAME				VArchar(60),
			@AGENCY_NAME			Varchar(100),
			@POLICY_TERM			Char(1),
			@RENEWAL				Int


	SET	@RENEWAL	= 18

	SELECT @USER_CODE = USER_LOGIN_ID, @USER_NAME =  (USER_FNAME + ' ' + USER_LNAME) FROM MNT_USER_LIST   
	WHERE USER_ID = @USER_ID   

	SET @IS_PREBILL = 0 
	SET @POSTING_DATE = GETDATE() 
	
	IF CAST(CONVERT(VARCHAR,DATEADD(DD,-1,@CHANGE_EFFECTIVE_DATE),101 )  AS DATETIME ) > 
		CAST(CONVERT(VARCHAR,DATEADD(DD,-1,@POSTING_DATE ) ,101 ) AS DATETIME) 
	BEGIN  
		SELECT @IS_PREBILL = 1  
	END  


	exec Proc_GetFiscalIDForCurrentDate  @POSTING_DATE , @FISCAL_ID OUT

	SELECT  @CURRENT_TERM		= CURRENT_TERM,
	 		@IS_HOME_EMPLOYEE	= CASE ISNULL(CPL.IS_HOME_EMP, 0) WHEN 1 THEN 'Y' ELSE 'N' END ,
			@BILL_TYPE			= BILL_TYPE ,
			@POLICY_EFFECTIVE_DATE  = CPL.APP_EFFECTIVE_DATE,
			@POLICY_EXPIRATION_DATE	= CPL.APP_EXPIRATION_DATE, 
			@STATE_ID 			= 	CPL.STATE_ID, 
			@APP_LOB 			= 	CPL.POLICY_LOB, 
			@APP_SUBLOB         = 	CPL.POLICY_SUBLOB,
			@AGENCY_NAME		=	ISNULL(AGN.AGENCY_CODE,'') + ' - ' + ISNULL(AGN.AGENCY_DISPLAY_NAME,'') 
	FROM POL_CUSTOMER_POLICY_LIST CPL
	INNER JOIN MNT_AGENCY_LIST AGN 
		ON CPL.AGENCY_ID = AGN.AGENCY_ID 
	WHERE   CUSTOMER_ID = @CUSTOMER_ID 
		AND POLICY_ID = @POLICY_ID 
		AND POLICY_VERSION_ID = @POLICY_VERSION_ID


	SET @POLICY_TERM = 'F'

	IF EXISTS (SELECT PROCESS_ID FROM POL_POLICY_PROCESS 
			WHERE CUSTOMER_ID= @CUSTOMER_ID 
			AND POLICY_ID= @POLICY_ID 
			AND PROCESS_ID = @RENEWAL   -- Renewal Commit 
			AND ISNULL(REVERT_BACK,'N') <> 'Y'
			)
	BEGIN
		SET @POLICY_TERM = 'O'
	END


	SELECT  @NEW_COMMISSION_RATE = ISNULL(COMMISSION_PERCENT,0) 
	FROM ACT_REG_COMM_SETUP WITH(NOLOCK)
		WHERE (STATE_ID = @STATE_ID OR STATE_ID = 0) AND 
			(LOB_ID = @APP_LOB OR LOB_ID = 0) 
			AND (ISNULL(SUB_LOB_ID,0) = ISNULL(@APP_SUBLOB,0)  OR ISNULL(SUB_LOB_ID,0) = 0) 
			AND CLASS_RISK = @NEW_COMMISSION_CLASS
			AND @POLICY_EFFECTIVE_DATE BETWEEN EFFECTIVE_FROM_DATE AND EFFECTIVE_TO_DATE
			AND COMMISSION_TYPE = 'R'  
			AND TERM = @POLICY_TERM
			AND ISNULL(IS_ACTIVE,'Y') = 'Y'
	ORDER BY STATE_ID DESC, LOB_ID DESC, SUB_LOB_ID DESC, CLASS_RISK DESC 


	DECLARE	@COMM_EXPENSE_ACCOUNT   SMALLINT, 
			@COMM_PAYABLE_ACCOUNT   SMALLINT


	IF @IS_PREBILL = 0  -- No prebill  
	BEGIN  
		SELECT  @COMM_EXPENSE_ACCOUNT   = EXP_COMM_INCURRED,  
				@COMM_PAYABLE_ACCOUNT	= CASE @BILL_TYPE   
							WHEN 'AB' THEN LIB_COMM_PAYB_AGENCY_BILL   
							ELSE LIB_COMM_PAYB_DIRECT_BILL   END  
		FROM ACT_GENERAL_LEDGER   
		WHERE GL_ID = 1 AND FISCAL_ID = @FISCAL_ID
	END   
	ELSE  
	BEGIN  
		SELECT    @COMM_EXPENSE_ACCOUNT = CASE @BILL_TYPE   
				WHEN 'AB' THEN AST_COMM_EXPENSE_IN_SUSPENSE_AGENCY_BILL 
				ELSE AST_COMM_EXPENSE_IN_SUSPENSE_DIRECT_BILL   END,  
			@COMM_PAYABLE_ACCOUNT = CASE @BILL_TYPE   
				WHEN 'AB' THEN AST_COMM_PAYABLE_IN_SUSPENSE_AGENCY_BILL   
				ELSE AST_COMM_PAYABLE_IN_SUSPENSE_DIRECT_BILL   END  
		FROM ACT_GENERAL_LEDGER   
		WHERE GL_ID = 1 AND FISCAL_ID = @FISCAL_ID  
	END  

	
	

	--Find Premium to be adjusted for old versions
	
	CREATE TABLE #POSTED_PREMIUM
	(
		IDEN_COL			Int Identity(1,1) ,
		VERSION_ID			Int,
		PPD_ROW_ID			Int,
		NET_POSTED			Decimal(18,2),
		COMMISSION_RATE		Decimal(18,2),
		EFFECTIVE_DATE		Datetime,
		PREMIUM_TO_ADJUST	Decimal(18,2) 
	)



	INSERT INTO #POSTED_PREMIUM
	(
		VERSION_ID , PPD_ROW_ID , NET_POSTED , COMMISSION_RATE , 
		EFFECTIVE_DATE ,PREMIUM_TO_ADJUST
	)
	SELECT PPDD.POLICY_VERSION_ID , PPDD.PPD_ROW_ID ,  PPDD.NET_PREMIUM , PPDD.CURRENT_COMMISSION_RATE , 
			PPDD.EFFECTIVE_DATE , 
			ROUND(
			( PPDD.NET_PREMIUM  * DATEDIFF(DD,@CHANGE_EFFECTIVE_DATE , @POLICY_EXPIRATION_DATE) )
			/
			DATEDIFF(DD,PPDD.EFFECTIVE_DATE , @POLICY_EXPIRATION_DATE)
			,2)
	FROM ACT_PREMIUM_PROCESS_SUB_DETAILS PPDD
	WHERE 	PPDD.CUSTOMER_ID = @CUSTOMER_ID
		AND PPDD.POLICY_ID = @POLICY_ID
		AND PPDD.POLICY_VERSION_ID IN (
			SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID AND CPL.POLICY_ID = @POLICY_ID 
			AND CPL.CURRENT_TERM = @CURRENT_TERM ) 
		AND PPDD.POLICY_VERSION_ID <> @POLICY_VERSION_ID
		AND PPDD.RISK_ID = @RISK_ID 
		AND PPDD.RISK_TYPE = @RISK_TYPE 
		AND ISNULL(PPDD.NET_PREMIUM ,0) <> 0 

	Declare @PREMIUM_ITERATOR			Int , 
			@PREMIUM_TO_ADJUST  Decimal(18,2), 
			@OLD_RATE			Decimal(18,2), 
			@VERSION_ID			Int		

	SET @PREMIUM_ITERATOR = 1
	
	WHILE 1=1 
	BEGIN 
		IF NOT EXISTS (SELECT IDEN_COL FROM #POSTED_PREMIUM WHERE IDEN_COL = @PREMIUM_ITERATOR )	
		BEGIN 
			BREAK
		END

		SELECT @PREMIUM_TO_ADJUST = PREMIUM_TO_ADJUST , @OLD_RATE = COMMISSION_RATE ,
				@VERSION_ID = VERSION_ID
		FROM #POSTED_PREMIUM WHERE IDEN_COL = @PREMIUM_ITERATOR 
		
		IF(ISNULL(@PREMIUM_TO_ADJUST,0) <> 0 AND ISNULL(@NEW_COMMISSION_RATE,0)  - ISNULL(@OLD_RATE,0)  <> 0) 
		BEGIN 
			INSERT INTO ACT_PREMIUM_PROCESS_SUB_DETAILS 	
			(	
				CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID , PPD_ROW_ID , RISK_ID , RISK_TYPE ,
				AJUSTED_PREMIUM ,COMMISSION_RATE ,COMMISSION_AMOUNT ,EFFECTIVE_DATE ,CURRENT_COMMISSION_RATE
			)
			VALUES
			(
				@CUSTOMER_ID , @POLICY_ID , @POLICY_VERSION_ID , @PPD_ROW_ID , @RISK_ID , @RISK_TYPE , 
				@PREMIUM_TO_ADJUST , @NEW_COMMISSION_RATE - @OLD_RATE , 
				ROUND(((@NEW_COMMISSION_RATE - @OLD_RATE )* @PREMIUM_TO_ADJUST )/100,2) , 
				@CHANGE_EFFECTIVE_DATE , @NEW_COMMISSION_RATE
			)

			UPDATE 	ACT_PREMIUM_PROCESS_SUB_DETAILS SET CURRENT_COMMISSION_RATE = @NEW_COMMISSION_RATE
			WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @VERSION_ID
			AND RISK_ID = @RISK_ID AND RISK_TYPE = @RISK_TYPE 


			--Inserting commission record in Agency Sub Ledger
			INSERT INTO ACT_AGENCY_OPEN_ITEMS  
			(  
				UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE,  POSTING_DATE, 
				TOTAL_DUE, 
				AGENCY_COMM_APPLIES, 
				AGENCY_COMM_PERC,   
				AGENCY_COMM_AMT, 
				AGENCY_ID,   
				CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE,   
				PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL, BILL_CODE, GROSS_AMOUNT,   
				ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, CASH_ACCOUNTING, RECUR_JOURNAL_VERSION, JE_RECON_COUNTER,   
				AMT_IN_RECON, OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, TRANS_DESC, NET_PREMIUM , 
				RISK_ID, RISK_TYPE
			)   
			SELECT   
			'P', @PPD_ROW_ID, @PPD_ROW_ID, @POSTING_DATE, @CHANGE_EFFECTIVE_DATE,  @POSTING_DATE, 
			ROUND(((@NEW_COMMISSION_RATE - @OLD_RATE )* @PREMIUM_TO_ADJUST )/100,2) *-1 ,
			CASE @IS_HOME_EMPLOYEE WHEN 'Y' THEN 'N' ELSE 'Y' END, 
			@NEW_COMMISSION_RATE - @OLD_RATE,   
			ROUND(((@NEW_COMMISSION_RATE - @OLD_RATE )* @PREMIUM_TO_ADJUST )/100,2)*-1  , 
			PCPL.AGENCY_ID,  
			PCPL.CUSTOMER_ID, PCPL.POLICY_ID,PCPL.POLICY_VERSION_ID, NULL, NULL, 1, NULL,  
			'AGN',PCPL.DIV_ID, PCPL.DEPT_ID, PCPL.PC_ID, NULL, NULL, @IS_PREBILL, @BILL_TYPE, @PREMIUM_TO_ADJUST,  
			'ENDC', 'COM', NULL, NULL, NULL, NULL,   
			NULL, NULL, PCPL.POLICY_LOB, PCPL.POLICY_SUBLOB, PCPL.COUNTRY_ID, PCPL.STATE_ID, 'Agency commission.', 
			@PREMIUM_TO_ADJUST,
			@RISK_ID, @RISK_TYPE
			FROM POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK)   
			WHERE   PCPL.POLICY_ID = @POLICY_ID  AND  PCPL.POLICY_VERSION_ID = @POLICY_VERSION_ID 
			AND PCPL.CUSTOMER_ID = @CUSTOMER_ID  


			--Post commission to general ledger
				
			--Credit Commission Payable 
			INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS
			(
				ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID,
				SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, 
				TRANSACTION_AMOUNT, 
				AGENCY_COMM_PERC, 
				AGENCY_COMM_AMT,
				AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID,
				IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE,
				LOB_ID, SUB_LOB_ID, STATE_ID, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME, 
				TRAN_ENTITY,TRAN_DESC
			)
			SELECT 
				@COMM_PAYABLE_ACCOUNT , 'P' , 'AGN', @PPD_ROW_ID , 
				@PPD_ROW_ID , @CHANGE_EFFECTIVE_DATE , @CHANGE_EFFECTIVE_DATE , @POSTING_DATE, 
				ROUND(((@NEW_COMMISSION_RATE - @OLD_RATE )* @PREMIUM_TO_ADJUST )/100,2) * -1 , 
				@NEW_COMMISSION_RATE - @OLD_RATE , 
				ROUND(((@NEW_COMMISSION_RATE - @OLD_RATE )* @PREMIUM_TO_ADJUST )/100,2) * -1 , 
				CPL.AGENCY_ID, CPL.CUSTOMER_ID ,CPL.POLICY_ID, CPL.POLICY_VERSION_ID , CPL.DIV_ID , CPL.DEPT_ID , 
				@IS_PREBILL , @BILL_TYPE , @PREMIUM_TO_ADJUST , 'ENDC', 'COM',
				CPL.POLICY_LOB , NULL , CPL.STATE_ID , @USER_ID , @USER_CODE , @USER_NAME, 
				@AGENCY_NAME,CPL.POLICY_NUMBER + ' ' +  CPL.POLICY_DISP_VERSION
			FROM POL_CUSTOMER_POLICY_LIST CPL 
			WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID AND CPL.POLICY_ID = @POLICY_ID 
			AND CPL.POLICY_VERSION_ID = @POLICY_VERSION_ID 

			--Debit Commission Expense
			INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS
			(
				ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID,
				SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, 
				TRANSACTION_AMOUNT, 
				AGENCY_COMM_PERC, 
				AGENCY_COMM_AMT,
				AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID,
				IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE,
				LOB_ID, SUB_LOB_ID, STATE_ID, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME, 
				TRAN_ENTITY,TRAN_DESC
			)
			SELECT 
				@COMM_EXPENSE_ACCOUNT , 'P' , 'AGN', @PPD_ROW_ID , 
				@PPD_ROW_ID , @CHANGE_EFFECTIVE_DATE , @CHANGE_EFFECTIVE_DATE , @POSTING_DATE, 
				ROUND(((@NEW_COMMISSION_RATE - @OLD_RATE )* @PREMIUM_TO_ADJUST )/100,2) , 
				@NEW_COMMISSION_RATE - @OLD_RATE , 
				ROUND(((@NEW_COMMISSION_RATE - @OLD_RATE )* @PREMIUM_TO_ADJUST )/100,2) , 
				CPL.AGENCY_ID, CPL.CUSTOMER_ID ,CPL.POLICY_ID, CPL.POLICY_VERSION_ID , CPL.DIV_ID , CPL.DEPT_ID , 
				@IS_PREBILL , @BILL_TYPE , @PREMIUM_TO_ADJUST , 'ENDC', 'COM',
				CPL.POLICY_LOB , NULL , CPL.STATE_ID , @USER_ID , @USER_CODE , @USER_NAME, 
				@AGENCY_NAME,CPL.POLICY_NUMBER + ' ' +  CPL.POLICY_DISP_VERSION
			FROM POL_CUSTOMER_POLICY_LIST CPL 
			WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID AND CPL.POLICY_ID = @POLICY_ID 
			AND CPL.POLICY_VERSION_ID = @POLICY_VERSION_ID 
		
		END

		SET @PREMIUM_ITERATOR = @PREMIUM_ITERATOR + 1 	
	END

	DROP TABLE #POSTED_PREMIUM
END

--GO 
--
--exec Proc_DoPostEndorsementAdjustments  1432 , 76 , 2 , 1, 'PP' , 8 , '5-2-2009' ,8841 , 3
--
--SELECT * FROM ACT_PREMIUM_PROCESS_SUB_DETAILS with(nolock)
--WHERE CUSTOMER_ID = 1432 AND POLICY_ID = 76
--ORDER BY PPD_ROW_ID 
--
----SELECT D.SOURCE_ROW_ID,M.ACC_DESCRIPTION,M.ACC_NUMBER,D.TRANSACTION_AMOUNT ,
----D.ITEM_TRAN_CODE_TYPE,D.ITEM_TRAN_CODE,D.* 
----FROM ACT_ACCOUNTS_POSTING_DETAILS D WITH(NOLOCK)
----INNER JOIN ACT_GL_ACCOUNTS M ON D.ACCOUNT_ID = M.ACCOUNT_ID 
----WHERE CUSTOMER_ID= 1432 AND POLICY_ID= 76
----ORDER BY D.IDENTITY_ROW_ID 
--
--ROLLBACK TRAN 
--





GO

