IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_db_Non_Nay_Cancel_Report]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_db_Non_Nay_Cancel_Report]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran
--drop proc Proc_db_Non_Nay_Cancel_Report policy_number
--go
CREATE PROC [Proc_db_Non_Nay_Cancel_Report] 
(
	 @ORDER_BY		VARCHAR(100),
	 @AGENCY_ID		VARCHAR(2000)	= NULL
)
AS
BEGIN

DECLARE		 @TO_DATE		DATETIME
SET  @TO_DATE	=GETDATE()

DECLARE @QUERY	VARCHAR(8000)
SET @QUERY = 'SELECT AL.AGENCY_CODE,AL.AGENCY_DISPLAY_NAME,AL.AGENCY_ADD1,AL.AGENCY_ADD2,AL.AGENCY_CITY,ST.STATE_NAME,AL.AGENCY_ZIP,
			PL.POLICY_NUMBER,
			ISNULL(CL.CUSTOMER_FIRST_NAME,'''')+'' ''+ISNULL(CL.CUSTOMER_MIDDLE_NAME,'''')+'' ''+ISNULL(CL.CUSTOMER_LAST_NAME,'''') AS CUSTOMER_NAME,
			CBI.DUE_DATE AS CANCEL_DUE_DATE,CBI.MIN_DUE AS MIN_AMOUNT_DUE,CBI.AMOUNT AS TOTAL_AMOUNT_DUE

			FROM ACT_CUSTOMER_BALANCE_INFORMATION CBI
			INNER JOIN POL_CUSTOMER_POLICY_LIST PL
			ON CBI.CUSTOMER_ID = PL.CUSTOMER_ID
			AND CBI.POLICY_ID = PL.POLICY_ID
			AND CBI.POLICY_VERSION_ID = PL.POLICY_VERSION_ID
			INNER JOIN POL_POLICY_PROCESS PPP
			ON PL.CUSTOMER_ID = PPP.CUSTOMER_ID
			AND PL.POLICY_ID = PPP.POLICY_ID
			AND PL.POLICY_VERSION_ID = PPP.new_POLICY_VERSION_ID
			INNER JOIN CLT_CUSTOMER_LIST CL
			ON CBI.CUSTOMER_ID = CL.CUSTOMER_ID
			INNER JOIN MNT_AGENCY_LIST AL
						ON PL.AGENCY_ID = AL.AGENCY_ID
			INNER JOIN MNT_COUNTRY_STATE_LIST ST
						ON AL.AGENCY_STATE = ST.STATE_ID

			WHERE UPDATED_FROM = ''T'' AND PPP.CANCELLATION_TYPE = 11969 AND  PPP.POLICY_CURRENT_STATUS = ''UCANCL'' AND PPP.PROCESS_STATUS = ''PENDING'''
DECLARE @WHERE VARCHAR(2000)
SET @WHERE = ''
DECLARE @GROUP_BY VARCHAR (2000)
	SET @GROUP_BY = ' PL.POLICY_NUMBER , ST.STATE_NAME,AL.AGENCY_CODE,AL.AGENCY_DISPLAY_NAME,AL.AGENCY_ADD1,AL.AGENCY_ADD2,AL.AGENCY_CITY,
					AL.AGENCY_ZIP,CL.CUSTOMER_FIRST_NAME, CL.CUSTOMER_MIDDLE_NAME ,CL.CUSTOMER_LAST_NAME
					,	CBI.DUE_DATE,CBI.MIN_DUE,CBI.AMOUNT,CBI.CUSTOMER_ID,CBI.POLICY_ID'
	
/* commented for revised document to make report real time
--,
--			(
--				SELECT (A.GROSS_AMOUNT * -1) FROM ACT_CUSTOMER_OPEN_ITEMS A WHERE A.POLICY_ID = CBI.POLICY_ID 
--				AND A.CUSTOMER_ID = CBI.CUSTOMER_ID AND UPDATED_FROM = ''D''
--				GROUP BY A.POLICY_ID,A.CUSTOMER_ID,POSTING_DATE,A.GROSS_AMOUNT
--				HAVING A.POSTING_DATE = (SELECT MAX(POSTING_DATE)FROM ACT_CUSTOMER_OPEN_ITEMS OT WHERE OT.POLICY_ID = A.POLICY_ID
--				AND OT.CUSTOMEr_ID = A.CUSTOMER_ID AND UPDATED_FROM = ''D'')
--				AND CONVERT(DATETIME,CONVERT(VARCHAR,A.POSTING_DATE ,101),101)>= ''' + CONVERT(VARCHAR,@FROM_DATE,101) + '''
--				 AND CONVERT(DATETIME,CONVERT(VARCHAR,A.POSTING_DATE ,101),101)<='''+ CONVERT(VARCHAR,@TO_DATE,101) + '''
--			)PAYMENT_RECVD,
--			(
--				SELECT MAX(A.POSTING_DATE) FROM ACT_CUSTOMER_OPEN_ITEMS A WHERE A.POLICY_ID = CBI.POLICY_ID 
--				AND A.CUSTOMER_ID = CBI.CUSTOMER_ID AND UPDATED_FROM = ''D'' AND CONVERT(DATETIME,CONVERT(VARCHAR,A.POSTING_DATE ,101),101)>= ''' + CONVERT(VARCHAR,@FROM_DATE,101) + '''
--				 AND CONVERT(DATETIME,CONVERT(VARCHAR,A.POSTING_DATE ,101),101)<='''+ CONVERT(VARCHAR,@TO_DATE,101) + '''
--				
--			)DATE_RECVD
*************************************************************/

--IF(@FROM_DATE IS NOT NULL)
--			BEGIN
--				SET @WHERE = @WHERE + ' AND  CONVERT(DATETIME,CONVERT(VARCHAR,CBI.CREATED_DATE,101),101) >=''' + CONVERT(VARCHAR,@FROM_DATE,101) + ''''
--			END
IF(ISNULL(@WHERE,'') = '')
BEGIN
	IF(@TO_DATE IS NOT NULL) 
		BEGIN
			SET @WHERE = @WHERE + ' AND CONVERT(DATETIME,CONVERT(VARCHAR,CBI.CREATED_DATE,101),101) <=''' + CONVERT(VARCHAR,@TO_DATE,101) + ''''
		END
END
ELSE
BEGIN
	IF(@TO_DATE IS NOT NULL)
		BEGIN
			SET @WHERE = @WHERE + ' AND ' + ' CONVERT(DATETIME,CONVERT(VARCHAR,CBI.CREATED_DATE,101),101) <=''' + CONVERT(VARCHAR,@TO_DATE,101) + ''''
		END
END	

IF(ISNULL(@WHERE,'') = '')
BEGIN
IF (@AGENCY_ID IS NOT NULL)
		BEGIN
			SET @WHERE = ' AND  PL.AGENCY_ID IN (' + @AGENCY_ID  + ') '
		END
END
ELSE
BEGIN
IF (@AGENCY_ID IS NOT NULL)
		BEGIN
			SET @WHERE = @WHERE + ' AND PL.AGENCY_ID IN (' + + @AGENCY_ID  + ') '
		END
END	

--IF (@WHERE <> '')
--BEGIN
--	SET @QUERY = @QUERY + ' and ' + @WHERE 
--END
--ELSE
--BEGIN
--	SET @QUERY = @QUERY 
--END	

IF (@WHERE <> '')
	BEGIN
		SET @QUERY = @QUERY  + @WHERE + ' GROUP BY ' + @GROUP_BY
	END
	ELSE
	BEGIN
		SET @QUERY = @QUERY + ' GROUP BY ' + @GROUP_BY
	END	

SET @QUERY = @QUERY + ' ORDER BY ' +  @ORDER_BY + ',al.AGENCY_DISPLAY_NAME'

--PRINT @QUERY
	EXECUTE (@QUERY)
END	
--go
--exec Proc_db_Non_Nay_Cancel_Report '8/1/2009','03/31/2009','agency_code','113'
--SELECT * FROM MNT_AGENCY_LIST WHERE AGENCY_CODE='2260'
--rollback tran










GO

