IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_DeactivePolicyClauses]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_DeactivePolicyClauses]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


-- =============================================    
-- Author:  praveer panghal  
-- Create date: 03 mar 2010 
-- Description: Deactivate User Defined Policy Clauses     
-- DROP PROC Proc_DeactivePolicyClauses  15,1888,28033,128,248,1 
-- =============================================    
CREATE PROC Proc_DeactivePolicyClauses  
@POL_CLAUSE_ID INT= NULL,   
@CLAUSE_ID INT,    
@CUSTOMER_ID INT,      
@POLICY_ID INT, 
@MODIFIED_BY INT  ,     
@POLICY_VERSION_ID INT  
   
AS    
BEGIN     
   IF(@POL_CLAUSE_ID IS NULL)-- changes by praveer (itrack no 1410 ) for System Defined Clauses
   BEGIN
 IF EXISTS(SELECT POL_CLAUSE_ID FROM POL_CLAUSES WITH(NOLOCK) WHERE CLAUSE_ID =CLAUSE_ID
 AND CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID 
  )    
 BEGIN    
 
   UPDATE POL_CLAUSES SET IS_ACTIVE='N' ,   
     MODIFIED_BY = @MODIFIED_BY,
  LAST_UPDATED_DATETIME = GETDATE()     
   WHERE CLAUSE_ID = @CLAUSE_ID  AND CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID
    AND POLICY_VERSION_ID=@POLICY_VERSION_ID 
 END    
END  

ELSE -- changes by praveer (itrack no 1410 ) for User Defined Clauses
BEGIN

IF EXISTS(SELECT POL_CLAUSE_ID FROM POL_CLAUSES WITH(NOLOCK) WHERE CLAUSE_ID =CLAUSE_ID
 AND CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID 
 AND POL_CLAUSE_ID=@POL_CLAUSE_ID
  )    
 BEGIN    
 
   UPDATE POL_CLAUSES SET IS_ACTIVE='N' ,   
     MODIFIED_BY = @MODIFIED_BY,
  LAST_UPDATED_DATETIME = GETDATE()     
   WHERE CLAUSE_ID = @CLAUSE_ID  AND CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID 
   AND POLICY_VERSION_ID=@POLICY_VERSION_ID AND POL_CLAUSE_ID=@POL_CLAUSE_ID
 END  
END
END
  

GO

