IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_InsertAPP_HOME_OWNER_UNIT_CLEARANCE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_InsertAPP_HOME_OWNER_UNIT_CLEARANCE]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



/*----------------------------------------------------------    
Proc Name          : Dbo.Proc_InsertAPP_HOME_OWNER_UNIT_CLEARANCE    
Created by           : Mohit Gupta    
Date                    : 19/05/2005    
Purpose               :     
Revison History :    
Used In                :   Wolverine   
  
------------------------------------------------------------    
Date         Update By          Comments    
12Aug,05  Ashwini  Createdby & Created Date Time are added  
  
------   ------------       -------------------------*/    
CREATE   PROCEDURE Proc_InsertAPP_HOME_OWNER_UNIT_CLEARANCE    
(    
@CUSTOMER_ID int,    
@APP_ID int,    
@APP_VERSION_ID int,    
@FUEL_ID int,    
@STOVE_INSTALL_SPEC  nchar,    
@DIST_REAR_WALL_FEET int,    
@DIST_REAR_WALL_INCHES int,    
@DIST_LEFT_WALL_FEET int,    
@DIST_LEFT_WALL_INCHES int,    
@DIST_RIGHT_WALL_FEET int,    
@DIST_RIGHT_WALL_INCHES int,    
@DIST_BOTTOM_FLOOR_FEET int,    
@DIST_BOTTOM_FLOOR_INCHES int,    
@DIA_PIPE_FEET int,    
@DIA_PIPE_INCHES int,    
@FRONT_PROTECTION_FEET int,    
@FRONT_PROTECTION_INCHES int,    
@STOVE_WALL_FEET int,    
@STOVE_WALL_INCHES int,    
@TOP_CEILING_FEET int,    
@TOP_CEILING_INCHES int,    
@SHORT_DIST_WALL_FEET int,    
@SHORT_DIST_WALL_INCHES int,    
@SHORT_DIST_CEILING_FEET int,    
@SHORT_DIST_CEILING_INCHES int,    
@DIST_COMBUSTIBLE_FEET int,    
@DIST_COMBUSTIBLE_INCHES int  ,  
@CREATED_BY int ,  
@CREATED_DATETIME datetime  
  
)    
AS    
BEGIN    
INSERT INTO  APP_HOME_OWNER_UNIT_CLEARANCE    
( CUSTOMER_ID,APP_ID,APP_VERSION_ID,FUEL_ID,STOVE_INSTALL_SPEC,DIST_REAR_WALL_FEET,DIST_REAR_WALL_INCHES,DIST_LEFT_WALL_FEET,    
DIST_LEFT_WALL_INCHES,DIST_RIGHT_WALL_FEET,DIST_RIGHT_WALL_INCHES,DIST_BOTTOM_FLOOR_FEET,DIST_BOTTOM_FLOOR_INCHES,    
DIA_PIPE_FEET,DIA_PIPE_INCHES,FRONT_PROTECTION_FEET,FRONT_PROTECTION_INCHES,STOVE_WALL_FEET,STOVE_WALL_INCHES,    
TOP_CEILING_FEET,TOP_CEILING_INCHES,SHORT_DIST_WALL_FEET,SHORT_DIST_WALL_INCHES,SHORT_DIST_CEILING_FEET,    
SHORT_DIST_CEILING_INCHES,DIST_COMBUSTIBLE_FEET,DIST_COMBUSTIBLE_INCHES,CREATED_BY,CREATED_DATETIME)    
VALUES    
(@CUSTOMER_ID,@APP_ID,@APP_VERSION_ID,@FUEL_ID,@STOVE_INSTALL_SPEC,@DIST_REAR_WALL_FEET,    
@DIST_REAR_WALL_INCHES,@DIST_LEFT_WALL_FEET,@DIST_LEFT_WALL_INCHES,@DIST_RIGHT_WALL_FEET,@DIST_RIGHT_WALL_INCHES,    
@DIST_BOTTOM_FLOOR_FEET,@DIST_BOTTOM_FLOOR_INCHES,@DIA_PIPE_FEET,@DIA_PIPE_INCHES,@FRONT_PROTECTION_FEET,    
@FRONT_PROTECTION_INCHES,@STOVE_WALL_FEET,@STOVE_WALL_INCHES,@TOP_CEILING_FEET,@TOP_CEILING_INCHES,@SHORT_DIST_WALL_FEET,    
@SHORT_DIST_WALL_INCHES,@SHORT_DIST_CEILING_FEET,@SHORT_DIST_CEILING_INCHES,@DIST_COMBUSTIBLE_FEET,@DIST_COMBUSTIBLE_INCHES ,  
@CREATED_BY,@CREATED_DATETIME  
)    
END  
  



GO

