IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetValuesCLM_TYPE_DETAIL]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetValuesCLM_TYPE_DETAIL]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- DROP PROC dbo.Proc_GetValuesCLM_TYPE_DETAIL  166    
CREATE PROC dbo.Proc_GetValuesCLM_TYPE_DETAIL       
(            
 @DETAIL_TYPE_ID  int            
)            
AS            
BEGIN            
 SELECT TYPE_ID,DETAIL_TYPE_DESCRIPTION,TRANSACTION_CODE, isnull(IS_SYSTEM_GENERATED,'') as IS_SYSTEM_GENERATED,CTD.IS_ACTIVE,    
  DETAIL_TYPE_ID,isnull(SelectedCreditLedgers,0) as SelectedCreditLedgers, isnull(SelectedDebitLedgers,0) as SelectedDebitLedgers,      
  isnull(TRANSACTION_CATEGORY,'') as TRANSACTION_CATEGORY,ACTIVITY_AT_VOID,FOLLOWUP_ACTIVITY_AT_VOID,IS_VOID_ACTIVITY,  
  isnull(LOSS_TYPE_CODE,'')as LOSS_TYPE_CODE,isnull(CTD.LOSS_DEPARTMENT,0)as LOSS_DEPARTMENT,    
  isnull(LOSS_EXTRA_COVER,0)as LOSS_EXTRA_COVER    
 FROM CLM_TYPE_DETAIL CTD 
 Left join MNT_LOB_MASTER MLM on CTD.LOSS_DEPARTMENT=MLM.LOB_ID
 LEFT JOIN MNT_COVERAGE MC on MC.COV_ID = CTD.LOSS_EXTRA_COVER 
 WHERE DETAIL_TYPE_ID = @DETAIL_TYPE_ID    
END

GO

