IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_Fetch_DocumentCode_Navin]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_Fetch_DocumentCode_Navin]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


	
CREATE PROCEDURE   [dbo].[Proc_Fetch_DocumentCode_Navin] 
   

   

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	
 SET NOCOUNT ON;
     SET NOCOUNT ON;  
    
      SELECT   P_JOBS.CUSTOMER_ID ,
      CASE WHEN (LEN(P_JOBS.ClAIM_ID) <1 or LEN(P_JOBS.ClAIM_ID)  is null) THEN 0 ELSE P_JOBS.ClAIM_ID END AS ClAIM_ID
			
      ,CASE WHEN (LEN(P_JOBS.ACTIVITY_ID) <1 or LEN(P_JOBS.ACTIVITY_ID)  is null) THEN 0 ELSE P_JOBS.ACTIVITY_ID END AS ACTIVITY_ID,
       CASE WHEN (LEN(P_JOBS.ENTITY_ID) <1 or LEN(P_JOBS.ENTITY_ID)  is null) THEN 0 ELSE P_JOBS.ENTITY_ID END AS ENTITY_ID
      ,P_JOBS.POLICY_ID,P_JOBS.POLICY_VERSION_ID,  P_JOBS.PRINT_JOBS_ID,  
      P_JOBS.DOCUMENT_CODE, P_JOBS.ENTITY_TYPE  ,P_JOBS.URL_PATH,P_JOBS.FILE_NAME,P_JOBS.ATTEMPTS    
      from   PRINT_JOBS P_JOBS  WITH(NOLOCK)   WHERE IS_PROCESSED=0 AND isnull(ATTEMPTS,0)<2  and P_JOBS.CUSTOMER_ID=28025 and P_JOBS.POLICY_ID=204 and P_JOBS.POLICY_VERSION_ID=2
      
END 


GO

