IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_ReversePayment]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_ReversePayment]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN
--drop proc dbo.Proc_ReversePayment 
--GO
/* -----------------------------------------------------------------------------------------------                              
Proc Name             : Dbo.Proc_ReversePayment                               
Created by            : Sibin                               
Date                  :                                 
Purpose               : 05 Feb 2009                              
Revison History       :                                
CREATED BY     : Sibin Thomas Philip    
purpose        : To Fetch Payment Records     
      
                                 
exec Proc_ReversePayment      
---------------------------------------------------------------------------------------------------                              
Date     Review By          Comments                                
------   ------------       ------------------------- ---------------------------------------------*/              
-- drop proc dbo.Proc_ReversePayment    
    
CREATE PROCEDURE [dbo].[Proc_ReversePayment]                           
(     
	@POLICYNO VARCHAR(15),                             
	@CUSTOMER_ID INT,      
	@CD_LINE_ITEM_ID INT, 
	@POLICY_ID INT,
	@POLICY_VERSION_ID	INT,  
	@USER_ID	Int,
	@RESULT INT OUT,
	@REFERENCE_ID VARCHAR(50) OUT,
	@PAYMENT_MODE INT OUT,
	@ENTITY_ID	INT OUT,
	@ENTITY_TYPE	VARCHAR(20) OUT,
--	--@PAYMENT_DATE	DATETIME	OUT
	@DATE_FLAG	INT	OUT
)                              
AS          

DECLARE @FISCAL_ID	INT
DECLARE @FOR_DATE	DATETIME
SET @FOR_DATE = GETDATE()
EXEC Proc_GetFiscalIDForCurrentDate @FOR_DATE,@FISCAL_ID OUTPUT

DECLARE @AST_UNCOLL_PRM_CUSTOMER INT,
		@INSTALL_FEES_ACCOUNT INT  ,
		@NSF_FEES_ACCOUNT INT,
		@LATE_FEES_ACCOUNT INT,
		@REINS_FEES_ACCOUNT INT
SELECT  @AST_UNCOLL_PRM_CUSTOMER = AST_UNCOLL_PRM_CUSTOMER,
		@INSTALL_FEES_ACCOUNT  = INC_INSTALLMENT_FEES  ,
		@NSF_FEES_ACCOUNT = INC_NON_SUFFICIENT_FUND_FEES,
		@REINS_FEES_ACCOUNT = INC_RE_INSTATEMENT_FEES,
		@LATE_FEES_ACCOUNT = INC_LATE_FEES
FROM ACT_GENERAL_LEDGER 
WHERE FISCAL_ID = @FISCAL_ID

DECLARE @DEPOSIT_TYPE_CUSTOMER	Varchar(5),
		@COMMITTED_BY			INT, 
		@COMMITED_BY_CODE		VARCHAR(20), 
		@COMMITED_BY_NAME		VARCHAR(50)

SELECT @COMMITTED_BY = USER_ID,@COMMITED_BY_CODE = USER_FNAME,@COMMITED_BY_NAME = USER_FNAME + ' ' + USER_LNAME
FROM MNT_USER_LIST WHERE USER_ID = @USER_ID 
SET @DEPOSIT_TYPE_CUSTOMER = 'CUST'

DECLARE @TRAN_ENTITY Varchar(200),
		@TRAN_DESC Varchar(500),
		@LOB_ID		INT,
		@STATE_ID	INT

-- Fetching Tran Entity & Tran Description
	SELECT @TRAN_ENTITY = ISNULL(CUSTOMER_CODE,'') + ' - ' + ISNULL(CUSTOMER_FIRST_NAME,'') 
		+ ' ' + ISNULL(CUSTOMER_MIDDLE_NAME,'') +
		CASE WHEN ISNULL(CUSTOMER_MIDDLE_NAME,'') = '' THEN '' ELSE ' ' END
		+ 
		ISNULL(CUSTOMER_LAST_NAME ,'')
	FROM CLT_CUSTOMER_LIST
	WHERE CUSTOMER_ID = @CUSTOMER_ID 
	
	SELECT @TRAN_DESC = POLICY_NUMBER + ' ' +  POLICY_DISP_VERSION,
			@LOB_ID = POLICY_LOB, @STATE_ID = STATE_ID
	FROM POL_CUSTOMER_POLICY_LIST 
	WHERE CUSTOMER_ID = @CUSTOMER_ID 
	AND POLICY_ID = @POLICY_ID 
	AND POLICY_VERSION_ID = @POLICY_VERSION_ID
	
CREATE TABLE #TEMP
(
	GROUP_ID			INT,
	ITEM_REFERENCE_ID	INT,
	COMMITTED_DATE		DATETIME,
	RECON_AMOUNT		DECIMAL(18,2),
	ITEM_TRAN_CODE		NVARCHAR(10),
	UPDATED_FROM		NCHAR(2)
)

                      
BEGIN 
	DECLARE @IDEN_ROW_ID	INT
	DECLARE @STATEMENT_DATE	DATETIME
	DECLARE @DEPOSIT_NUMBER	INT
	DECLARE @DEPOSIT_ID		INT
	DECLARE @PAYMENT_DATE	DATETIME
	
	SELECT @STATEMENT_DATE = MAX(START_DATETIME)  FROM EOD_PROCESS_LOG WHERE 
	ACTIVITY = 100 AND SUB_ACTIVITY = 106 AND STATUS = 'SUCCEEDED'

	UPDATE ACT_CURRENT_DEPOSIT_LINE_ITEMS SET REVERSED = 1 , REVERSAL_DATE = GetDate()    
	WHERE POLICY_NUMBER  = @POLICYNO AND CUSTOMER_ID = @CUSTOMER_ID     
	AND CD_LINE_ITEM_ID= @CD_LINE_ITEM_ID    

	SET  @RESULT = 1
    
	--Added by Shikha for #4914.
	SELECT @IDEN_ROW_ID = IDEN_ROW_ID, @DEPOSIT_NUMBER = SOURCE_NUM
	FROM ACT_CUSTOMER_OPEN_ITEMS WHERE SOURCE_ROW_ID = @CD_LINE_ITEM_ID AND UPDATED_FROM = 'D'

	SELECT @PAYMENT_MODE = ACR.RECEIPT_MODE, @DEPOSIT_ID = ACLI.DEPOSIT_ID, 
	@PAYMENT_DATE = CAST(CONVERT(VARCHAR,ACLI.CREATED_DATETIME,101)AS DATETIME)
	FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS ACLI
	INNER JOIN ACT_CURRENT_DEPOSITS ACR  
	ON ACLI.DEPOSIT_ID = ACR.DEPOSIT_ID 
	WHERE ACLI.CD_LINE_ITEM_ID = @CD_LINE_ITEM_ID

	IF (DATEDIFF(DD,@PAYMENT_DATE,GETDATE()) = 0)
		SET @DATE_FLAG = 1		--WHEN PAYMENT DATE IS SAME AS TODAY.
	ELSE
		SET @DATE_FLAG = 0		

	IF (@PAYMENT_MODE = 11974)
	BEGIN
			SELECT @REFERENCE_ID = PAY_PAL_REF_ID
			FROM EOD_CREDIT_CARD_SPOOL ECS
			WHERE REF_DEP_DETAIL_ID = @CD_LINE_ITEM_ID
	END
	IF (@PAYMENT_MODE = 11976)
	BEGIN
		SELECT @ENTITY_ID = ENTITY_ID, @ENTITY_TYPE = ENTITY_TYPE
		FROM EOD_EFT_SPOOL WHERE REF_DEP_DETAIL_ID = @CD_LINE_ITEM_ID
	END
	
--	SELECT @REFERENCE_ID = PAY_PAL_REF_ID,@PAYMENT_MODE = ACR.RECEIPT_MODE
--	FROM EOD_CREDIT_CARD_SPOOL ECS
--	INNER JOIN ACT_CURRENT_DEPOSIT_LINE_ITEMS ACLI
--		ON ECS.REF_DEPOSIT_ID = ACLI.DEPOSIT_ID
--		AND REF_DEP_DETAIL_ID = ACLI.CD_LINE_ITEM_ID
--	INNER JOIN ACT_CURRENT_DEPOSITS ACR  
--		ON ACLI.DEPOSIT_ID = ACR.DEPOSIT_ID 
--	WHERE ACLI.CD_LINE_ITEM_ID = @CD_LINE_ITEM_ID --AND ACR.RECEIPT_MODE = 11974

	INSERT INTO #TEMP	
		SELECT ARG.GROUP_ID, ARG.ITEM_REFERENCE_ID, AR.DATE_COMMITTED, ARG.RECON_AMOUNT,OI.ITEM_TRAN_CODE,
		OI.UPDATED_FROM 
		FROM ACT_CUSTOMER_RECON_GROUP_DETAILS ARG
		INNER JOIN ACT_RECONCILIATION_GROUPS AR
			ON ARG.GROUP_ID = AR.GROUP_ID
		INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OI
			ON OI.IDEN_ROW_ID = ARG.ITEM_REFERENCE_ID
		WHERE ARG.GROUP_ID IN (
							SELECT GROUP_ID FROM ACT_RECONCILIATION_GROUPS WHERE RECON_ENTITY_ID = @CUSTOMER_ID
							AND CD_LINE_ITEM_ID = (SELECT SOURCE_ROW_ID FROM ACT_CUSTOMER_OPEN_ITEMS 
							WHERE IDEN_ROW_ID = @IDEN_ROW_ID)
						 )
		AND ITEM_REFERENCE_ID <> @IDEN_ROW_ID
	

	DECLARE 
	@TOTAL_INSTALL_FEES	Decimal(18,2),
	@TOTAL_NSF_FEES 	Decimal(18,2),
	@TOTAL_REINS_FEES	Decimal(18,2),
	@TOTAL_LATE_FEES	Decimal(18,2)

	--Calculating the total installment fees reconciled  
	SELECT @TOTAL_INSTALL_FEES = ISNULL(SUM (T.RECON_AMOUNT),0)  
	FROM #TEMP T  
	INNER JOIN ACT_CUSTOMER_OPEN_ITEMS ACOI ON ACOI.IDEN_ROW_ID = T.ITEM_REFERENCE_ID  
	WHERE ACOI.ITEM_TRAN_CODE = 'INSF' AND ACOI.UPDATED_FROM <> 'F' 

	-- Calculating Total NSF Fees reconciled
	SELECT @TOTAL_NSF_FEES = ISNULL(SUM (T.RECON_AMOUNT),0)  
	FROM #TEMP T
	INNER JOIN ACT_CUSTOMER_OPEN_ITEMS ACOI ON ACOI.IDEN_ROW_ID = T.ITEM_REFERENCE_ID  
	WHERE ACOI.ITEM_TRAN_CODE = 'NSFF' AND ACOI.UPDATED_FROM <> 'F' 

	-- Calculating Total Late Fees reconciled
	SELECT @TOTAL_LATE_FEES = ISNULL(SUM (T.RECON_AMOUNT),0)  
	FROM #TEMP T   
	INNER JOIN ACT_CUSTOMER_OPEN_ITEMS ACOI ON ACOI.IDEN_ROW_ID = T.ITEM_REFERENCE_ID  
	WHERE ACOI.ITEM_TRAN_CODE = 'LF' AND ACOI.UPDATED_FROM <> 'F'

	-- Calculating Total Re Installment Fees Reconciled
	SELECT @TOTAL_REINS_FEES = ISNULL(SUM (T.RECON_AMOUNT),0)  
	FROM #TEMP T  
	INNER JOIN ACT_CUSTOMER_OPEN_ITEMS ACOI ON ACOI.IDEN_ROW_ID = T.ITEM_REFERENCE_ID  
	WHERE ACOI.ITEM_TRAN_CODE = 'RENSF'  AND ACOI.UPDATED_FROM <> 'F'


	--Credit BAnk account with reversal amount 

	INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS    
	(    
	ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,    
	SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_COMM_PERC,    
	AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,     
	IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,     
	SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,    
	IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME ,SOURCE_GROUP_ID ,  
	TRAN_ENTITY,TRAN_DESC  
	)    
	SELECT     
	CD.ACCOUNT_ID, 'D', NULL, @DEPOSIT_NUMBER, NULL,    
	CD.DEPOSIT_NUMBER, GETDATE() , GETDATE() , GETDATE() , ISNULL(CDLI.RECEIPT_AMOUNT,0) * -1,    
	NULL,NULL,NULL, @CUSTOMER_ID,@POLICY_ID,@POLICY_VERSION_ID, NULL, NULL, NULL,NULL, NULL, 
	ISNULL(CDLI.RECEIPT_AMOUNT,0) * -1, 'DEP', 'DEP' , NULL, NULL,NULL, NULL, NULL, NULL,NULL, NULL, NULL, NULL,     
	NULL, NULL, @COMMITTED_BY, @COMMITED_BY_CODE, @COMMITED_BY_NAME , @DEPOSIT_NUMBER,NULL,'Payment Reversal' 
	FROM  ACT_CURRENT_DEPOSITS CD (NOLOCK)
	INNER JOIN ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI
	ON CDLI.DEPOSIT_ID = CD.DEPOSIT_ID   
	WHERE CD.DEPOSIT_NUMBER = @DEPOSIT_NUMBER
	AND CDLI.CD_LINE_ITEM_ID = @CD_LINE_ITEM_ID

	--Debit Uncollected Premium Account
	INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
	(  
	ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,  
	SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,   
	TRANSACTION_AMOUNT,   
	AGENCY_COMM_PERC,  
	AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,  
	POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,   
	IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,   
	SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,   
	TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
	IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME,
	TRAN_ENTITY,TRAN_DESC  
	)  
	SELECT   
	@AST_UNCOLL_PRM_CUSTOMER, 'D', NULL, CDLI.CD_LINE_ITEM_ID, NULL,  
	CD.DEPOSIT_NUMBER, NULL, Getdate() , Getdate(),   
	(ISNULL(CDLI.RECEIPT_AMOUNT,0) - ISNULL(@TOTAL_INSTALL_FEES,0) - ISNULL(@TOTAL_NSF_FEES,0) 
	- ISNULL(@TOTAL_LATE_FEES ,0) - ISNULL(@TOTAL_REINS_FEES,0)),   
	NULL,NULL, CASE CDLI.DEPOSIT_TYPE WHEN 'AGN' THEN CDLI.RECEIPT_FROM_ID ELSE NULL END,   
	CASE CDLI.DEPOSIT_TYPE WHEN 'CUST' THEN @CUSTOMER_ID ELSE NULL END,  
	CDLI.POLICY_ID, CDLI.POLICY_VERSION_ID, NULL, NULL, NULL,  
	NULL, NULL, CDLI.RECEIPT_AMOUNT, 'DEP' , 'DEP' , NULL, @LOB_ID ,  
	NULL, NULL, @STATE_ID , NULL,NULL, NULL, NULL, NULL,   
	NULL, NULL, @COMMITTED_BY, @COMMITED_BY_CODE, @COMMITED_BY_NAME,
	@TRAN_ENTITY,@TRAN_DESC
	FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI  
	INNER JOIN ACT_CURRENT_DEPOSITS CD 
		ON CDLI.DEPOSIT_ID = CD.DEPOSIT_ID  
		AND CDLI.DEPOSIT_TYPE = @DEPOSIT_TYPE_CUSTOMER 
--	INNER JOIN POL_CUSTOMER_POLICY_LIST POL  
--		ON POL.CUSTOMER_ID = CDLI.CUSTOMER_ID 
--		AND POL.POLICY_ID = CDLI.POLICY_ID 
--		AND POL.POLICY_VERSION_ID = CDLI.POLICY_VERSION_ID  
	WHERE CD.DEPOSIT_NUMBER = @DEPOSIT_NUMBER AND CDLI.CD_LINE_ITEM_ID = @CD_LINE_ITEM_ID  
		
	--Posting installment fees into ACT_ACCOUNTS_POSTING_DETAILS 
	IF (ISNULL(@TOTAL_INSTALL_FEES,0) <> 0 )
	BEGIN
		INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
		(  
		ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,  
		SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,   
		TRANSACTION_AMOUNT,   
		AGENCY_COMM_PERC,  
		AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,  
		POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,   
		IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,   
		SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,   
		TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
		IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME ,
		TRAN_ENTITY,TRAN_DESC
		) 
		SELECT 
		@INSTALL_FEES_ACCOUNT, 'D', NULL, CDLI.CD_LINE_ITEM_ID, NULL,  
		CD.DEPOSIT_NUMBER, NULL, Getdate() , Getdate(),   
		@TOTAL_INSTALL_FEES,NULL,NULL, 
		CASE CDLI.DEPOSIT_TYPE WHEN 'AGN' THEN CDLI.RECEIPT_FROM_ID ELSE NULL END,   
		CASE CDLI.DEPOSIT_TYPE WHEN 'CUST' THEN @CUSTOMER_ID ELSE NULL END,  
		CDLI.POLICY_ID, CDLI.POLICY_VERSION_ID, NULL, NULL, NULL,  
		NULL, NULL, CDLI.RECEIPT_AMOUNT, 'INSF', 'FEES', NULL, @LOB_ID ,  
		NULL, NULL, @STATE_ID , NULL,NULL, NULL, NULL, NULL,NULL, NULL, 
		@COMMITTED_BY, @COMMITED_BY_CODE, @COMMITED_BY_NAME,@TRAN_ENTITY,@TRAN_DESC
		FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI  
		INNER JOIN ACT_CURRENT_DEPOSITS CD 
		ON CDLI.DEPOSIT_ID = CD.DEPOSIT_ID 
		AND CDLI.DEPOSIT_TYPE = @DEPOSIT_TYPE_CUSTOMER 
--		INNER JOIN POL_CUSTOMER_POLICY_LIST POL
--		ON POL.CUSTOMER_ID = CDLI.CUSTOMER_ID 
--		AND POL.POLICY_ID = CDLI.POLICY_ID 
--		AND POL.POLICY_VERSION_ID = CDLI.POLICY_VERSION_ID  
		WHERE CD.DEPOSIT_NUMBER = @DEPOSIT_NUMBER AND CDLI.CD_LINE_ITEM_ID = @CD_LINE_ITEM_ID  
	END
	--SELECT * FROM ACT_ACCOUNTS_POSTING_DETAILS where CUSTOMER_ID = 1030 AND POLICY_ID = 1 ORDER BY POSTING_DATE DESC

	--Posting NSF fees into ACT_ACCOUNTS_POSTING_DETAILS
	IF ( ISNULL(@TOTAL_NSF_FEES,0) <> 0 ) 
	BEGIN
	INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
		  (  
		   ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,  
		   SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,   
		   TRANSACTION_AMOUNT,   
		   AGENCY_COMM_PERC,  
		   AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,  
		 POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,   
		   IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,   
		   SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,   
		   TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
		   IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME ,
		   TRAN_ENTITY,TRAN_DESC
		  )  
	SELECT   
		@NSF_FEES_ACCOUNT, 'D', NULL, CDLI.CD_LINE_ITEM_ID, NULL,  
		CD.DEPOSIT_NUMBER, NULL, Getdate(), Getdate(),   
		@TOTAL_NSF_FEES,NULL,NULL, 
		CASE CDLI.DEPOSIT_TYPE WHEN 'AGN' THEN CDLI.RECEIPT_FROM_ID ELSE NULL END,   
		CASE CDLI.DEPOSIT_TYPE WHEN 'CUST' THEN @CUSTOMER_ID ELSE NULL END,  
		CDLI.POLICY_ID, CDLI.POLICY_VERSION_ID, NULL, NULL, NULL,  
		NULL, NULL, CDLI.RECEIPT_AMOUNT, 'NSFF', 'FEES' , NULL, @LOB_ID,  
		NULL, NULL, @STATE_ID , NULL,NULL, NULL, NULL, NULL,NULL, NULL, 
		@COMMITTED_BY, @COMMITED_BY_CODE, @COMMITED_BY_NAME,@TRAN_ENTITY,@TRAN_DESC
		FROM  ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI  
		INNER JOIN ACT_CURRENT_DEPOSITS CD  
			ON CDLI.DEPOSIT_ID = CD.DEPOSIT_ID  
			AND CDLI.DEPOSIT_TYPE = @DEPOSIT_TYPE_CUSTOMER 
--		INNER JOIN POL_CUSTOMER_POLICY_LIST POL   
--			ON POL.CUSTOMER_ID = CDLI.CUSTOMER_ID 
--			AND POL.POLICY_ID = CDLI.POLICY_ID 
--			AND POL.POLICY_VERSION_ID = CDLI.POLICY_VERSION_ID  
		WHERE CD.DEPOSIT_NUMBER = @DEPOSIT_NUMBER AND CDLI.CD_LINE_ITEM_ID = @CD_LINE_ITEM_ID  
 
	END

	--Posting Late fees into ACT_ACCOUNTS_POSTING_DETAILS
	IF ( ISNULL(@TOTAL_LATE_FEES,0) <> 0 )
	BEGIN
		INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
			  (  
			   ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,  
			   SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,   
			   TRANSACTION_AMOUNT,AGENCY_COMM_PERC,AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,  
			   POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,   
			   IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,   
			   SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,   
			   TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
			   IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME ,
			   TRAN_ENTITY,TRAN_DESC
 			  ) 
		SELECT   
			@LATE_FEES_ACCOUNT, 'D', NULL, CDLI.CD_LINE_ITEM_ID, NULL,  
			CD.DEPOSIT_NUMBER, NULL, Getdate(), Getdate(),   
			@TOTAL_LATE_FEES, NULL,NULL, 
			CASE CDLI.DEPOSIT_TYPE WHEN 'AGN' THEN CDLI.RECEIPT_FROM_ID ELSE NULL END,   
			CASE CDLI.DEPOSIT_TYPE WHEN 'CUST' THEN @CUSTOMER_ID ELSE NULL END,  
			CDLI.POLICY_ID, CDLI.POLICY_VERSION_ID, NULL, NULL, NULL,  
			NULL, NULL, CDLI.RECEIPT_AMOUNT, 'LF', 'FEES' , NULL, @LOB_ID,  
			NULL, NULL, @STATE_ID , NULL,NULL, NULL, NULL, NULL,NULL, NULL, 
			@COMMITTED_BY, @COMMITED_BY_CODE, @COMMITED_BY_NAME,@TRAN_ENTITY,@TRAN_DESC
			FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI  
			INNER JOIN ACT_CURRENT_DEPOSITS CD  
				ON CDLI.DEPOSIT_ID = CD.DEPOSIT_ID  
				AND CDLI.DEPOSIT_TYPE = @DEPOSIT_TYPE_CUSTOMER 
--			INNER JOIN POL_CUSTOMER_POLICY_LIST POL   
--				ON POL.CUSTOMER_ID = CDLI.CUSTOMER_ID 
--				AND POL.POLICY_ID = CDLI.POLICY_ID 
--				AND POL.POLICY_VERSION_ID = CDLI.POLICY_VERSION_ID  
			WHERE CD.DEPOSIT_NUMBER = @DEPOSIT_NUMBER AND CDLI.CD_LINE_ITEM_ID = @CD_LINE_ITEM_ID   
		END
		
		--Posting Re Instatement fees into ACT_ACCOUNTS_POSTING_DETAILS
		IF ( ISNULL(@TOTAL_REINS_FEES,0) <> 0 )
		BEGIN
		INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
			  (  
			   ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,  
			   SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,   
			   TRANSACTION_AMOUNT,AGENCY_COMM_PERC,AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,  
			   POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,   
			   IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,   
			   SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,   
			   TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
			   IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME ,
			   TRAN_ENTITY,TRAN_DESC
 			  ) 
		SELECT   
			@REINS_FEES_ACCOUNT, 'D', NULL, CDLI.CD_LINE_ITEM_ID, NULL,  
			CD.DEPOSIT_NUMBER, NULL, Getdate(), Getdate(),   
			@TOTAL_REINS_FEES, NULL,NULL, 
			CASE CDLI.DEPOSIT_TYPE WHEN 'AGN' THEN CDLI.RECEIPT_FROM_ID ELSE NULL END,   
			CASE CDLI.DEPOSIT_TYPE WHEN 'CUST' THEN @CUSTOMER_ID ELSE NULL END,  
			CDLI.POLICY_ID, CDLI.POLICY_VERSION_ID, NULL, NULL, NULL,  
			NULL, NULL, CDLI.RECEIPT_AMOUNT, 'RENSF', 'FEES' , NULL, @LOB_ID ,  
			NULL, NULL, @STATE_ID , NULL,NULL, NULL, NULL, NULL,NULL, NULL, 
			@COMMITTED_BY, @COMMITED_BY_CODE, @COMMITED_BY_NAME,@TRAN_ENTITY,@TRAN_DESC
			FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI  
			INNER JOIN ACT_CURRENT_DEPOSITS CD 
				ON CDLI.DEPOSIT_ID = CD.DEPOSIT_ID  
				AND CDLI.DEPOSIT_TYPE = @DEPOSIT_TYPE_CUSTOMER 
--			INNER JOIN POL_CUSTOMER_POLICY_LIST POL
--				ON POL.CUSTOMER_ID = CDLI.CUSTOMER_ID 
--				AND POL.POLICY_ID = CDLI.POLICY_ID 
--				AND POL.POLICY_VERSION_ID = CDLI.POLICY_VERSION_ID  
			WHERE CD.DEPOSIT_NUMBER = @DEPOSIT_NUMBER AND CDLI.CD_LINE_ITEM_ID = @CD_LINE_ITEM_ID   
		END


	DECLARE CUR_PROCESS_AMT CURSOR
	LOCAL FORWARD_ONLY STATIC
	FOR SELECT GROUP_ID, ITEM_REFERENCE_ID, COMMITTED_DATE, RECON_AMOUNT,ITEM_TRAN_CODE, UPDATED_FROM 
	FROM #TEMP
	DECLARE @TEMP_GROUP_ID	INT, @ITEM_REFERENCE_ID	INT, @COMMITTED_DATE	DATETIME, @RECON_AMOUNT	 DECIMAL(18,2),
			@TRAN_CODE NVARCHAR(10), @UPDATED_FROM NCHAR(2)


	-- Reverse installmet fees wavior. 
	UPDATE ACT_CUSTOMER_OPEN_ITEMS
	SET TOTAL_DUE = ISNULL(ORIGIAL_FEES_AMOUNT,0) 
	FROM ACT_CUSTOMER_OPEN_ITEMS ACT
	INNER JOIN ACT_FEES_REVERSED_AT_DEPOSIT AFR
	ON ACT.IDEN_ROW_ID = AFR.CUSTOMER_OPEN_ITEM_ID
	WHERE IDEN_ROW_ID = AFR.CUSTOMER_OPEN_ITEM_ID
	AND AFR.RECON_GROUP_ID IN (
								SELECT GROUP_ID FROM ACT_RECONCILIATION_GROUPS WHERE RECON_ENTITY_ID = @CUSTOMER_ID
								AND CD_LINE_ITEM_ID = (SELECT SOURCE_ROW_ID FROM ACT_CUSTOMER_OPEN_ITEMS 
								WHERE IDEN_ROW_ID = @IDEN_ROW_ID)
							  )
	

	--Reverse Premium.
/*	UPDATE ACT_CUSTOMER_OPEN_ITEMS  
	SET TOTAL_PAID = ISNULL(TOTAL_PAID,0) - ISNULL(RECON_AMOUNT,0) ,
	PROCESSED_AMOUNT_FOR_AGENCY = ISNULL(PROCESSED_AMOUNT_FOR_AGENCY,0) - ISNULL(RECON_AMOUNT,0) 
	FROM ACT_CUSTOMER_OPEN_ITEMS ACT
	INNER JOIN ACT_CUSTOMER_RECON_GROUP_DETAILS ACRG
	ON ACT.IDEN_ROW_ID = ACRG.ITEM_REFERENCE_ID
	WHERE IDEN_ROW_ID IN (
							SELECT ITEM_REFERENCE_ID FROM ACT_CUSTOMER_RECON_GROUP_DETAILS 
							WHERE GROUP_ID = (
												SELECT GROUP_ID FROM ACT_RECONCILIATION_GROUPS WHERE RECON_ENTITY_ID = @CUSTOMER_ID
												AND CD_LINE_ITEM_ID = (SELECT SOURCE_ROW_ID FROM ACT_CUSTOMER_OPEN_ITEMS 
												WHERE IDEN_ROW_ID = @IDEN_ROW_ID)
											 )
							AND ITEM_REFERENCE_ID <> @IDEN_ROW_ID 
						  )
*/
	OPEN CUR_PROCESS_AMT
	FETCH NEXT FROM CUR_PROCESS_AMT INTO @TEMP_GROUP_ID, @ITEM_REFERENCE_ID, @COMMITTED_DATE, @RECON_AMOUNT,
	@TRAN_CODE, @UPDATED_FROM
	WHILE @@FETCH_STATUS = 0
	BEGIN
		UPDATE ACT_CUSTOMER_OPEN_ITEMS  
		SET TOTAL_PAID = ISNULL(TOTAL_PAID,0) - @RECON_AMOUNT 
		FROM ACT_CUSTOMER_OPEN_ITEMS ACT
		WHERE IDEN_ROW_ID = @ITEM_REFERENCE_ID

		FETCH NEXT FROM CUR_PROCESS_AMT INTO @TEMP_GROUP_ID, @ITEM_REFERENCE_ID, @COMMITTED_DATE, @RECON_AMOUNT,
		@TRAN_CODE, @UPDATED_FROM
	END
	

	DECLARE @REVERSAL_ITEM Int 


	--Entry of Processing Premium reversal.
	INSERT INTO ACT_CUSTOMER_OPEN_ITEMS  
	(  
	UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE,       
	POSTING_DATE, TOTAL_DUE, TOTAL_PAID, 
	CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, PAYMENT_STATUS,       
	PAYOR_TYPE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE,  
	TRANS_DESC ,DUE_DATE     
	) 
	SELECT A.* FROM 
	( 
		SELECT  'J' AS UDPATED_FROM , OI.SOURCE_ROW_ID , OI.SOURCE_NUM , GETDATE() AS SOURCE_TRAN_DATE , GETDATE() AS SOURCE_EFF_DATE,      
		GETDATE() AS POSTING_DATE, OI.TOTAL_DUE * - 1  AS TOTAL_DUE , OI.TOTAL_DUE * - 1  AS TOTAL_PAID , 
		OI.CUSTOMER_ID, OI.POLICY_ID, OI.POLICY_VERSION_ID, 'R' AS PAYMENT_STATUS,      
		'CUS' AS PAYOR_TYPE, OI.TOTAL_DUE * - 1 AS GROSS_AMOUNT, 'JE' AS ITEM_TRAN_CODE, 'JE'  AS ITEM_TRAN_CODE_TYPE, 
		'Payment Reversed' AS TRANS_DESC ,GETDATE() AS DUE_DATE 
		FROM ACT_CUSTOMER_OPEN_ITEMS OI
		WHERE OI.IDEN_ROW_ID = @IDEN_ROW_ID 
	) A 

	SET @REVERSAL_ITEM  = @@IDENTITY 

	-- Entry for Reversing fee and Premium Reconcillation.
	
	DECLARE @GROUP_ID INT  
	SELECT @GROUP_ID = ISNULL(MAX(GROUP_ID),0) + 1 FROM ACT_RECONCILIATION_GROUPS

	INSERT INTO ACT_RECONCILIATION_GROUPS  
	(  
	GROUP_ID, RECON_ENTITY_ID, RECON_ENTITY_TYPE, IS_COMMITTED,  
	DATE_COMMITTED ,COMMITTED_BY,  
	IS_ACTIVE, CREATED_BY, CREATED_DATETIME, MODIFIED_BY, LAST_UPDATED_DATETIME,  
	CD_LINE_ITEM_ID  
	)  
	SELECT   
	@GROUP_ID, CDLI.CUSTOMER_ID, 'CUST', 'Y',  
	null, NULL,  
	'Y', NULL, NULL, NULL, NULL,  
	NULL  
	FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI  
	LEFT JOIN POL_CUSTOMER_POLICY_LIST PCPL ON CDLI.POLICY_ID = PCPL.POLICY_ID   
	AND CDLI.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID   
	AND CDLI.CUSTOMER_ID = PCPL.CUSTOMER_ID  
	WHERE CDLI.CD_LINE_ITEM_ID = @CD_LINE_ITEM_ID 

	INSERT INTO ACT_CUSTOMER_RECON_GROUP_DETAILS  
	(  
	GROUP_ID, ITEM_TYPE, ITEM_REFERENCE_ID,   
	SUB_LEDGER_TYPE, RECON_AMOUNT, NOTE, DIV_ID, DEPT_ID, PC_ID  
	)  
	SELECT   
	@GROUP_ID, 'CUST', ACOI.IDEN_ROW_ID,  
	NULL, ISNULL(RECON_AMOUNT,0)*-1, NULL, ACOI.DIV_ID, ACOI.DEPT_ID, ACOI.PC_ID  
	FROM ACT_CUSTOMER_OPEN_ITEMS ACOI 
	INNER JOIN ACT_CUSTOMER_RECON_GROUP_DETAILS ACR
	ON ACOI.IDEN_ROW_ID = ACR.ITEM_REFERENCE_ID
	WHERE ACR.GROUP_ID IN(
							SELECT GROUP_ID FROM ACT_RECONCILIATION_GROUPS WHERE RECON_ENTITY_ID = @CUSTOMER_ID
							AND CD_LINE_ITEM_ID = (SELECT SOURCE_ROW_ID FROM ACT_CUSTOMER_OPEN_ITEMS 
							WHERE IDEN_ROW_ID = @IDEN_ROW_ID)
						 )
	AND ACR.ITEM_REFERENCE_ID <> @IDEN_ROW_ID 

	INSERT INTO ACT_CUSTOMER_RECON_GROUP_DETAILS  
	(  
		GROUP_ID, ITEM_TYPE, ITEM_REFERENCE_ID,   
		RECON_AMOUNT, DIV_ID, DEPT_ID, PC_ID  
	)  
	SELECT @GROUP_ID, 'CUST', IDEN_ROW_ID , 
	TOTAL_DUE , DIV_ID, DEPT_ID, PC_ID   
	FROM ACT_CUSTOMER_OPEN_ITEMS 
	WHERE IDEN_ROW_ID = @REVERSAL_ITEM  

	-- Calculate Total Recon / Total Deposit 
	DECLARE @TOTAL_RECON_AMOUNT DECIMAL(18,2)
	DECLARE @OP_AMOUNT DECIMAL(18,2)
	SELECT @TOTAL_RECON_AMOUNT = SUM(RECON_AMOUNT) FROM #TEMP
	--select @total_recon_amount
	
	-- If Total Recon <> Deposit Amt  
	IF ISNULL(@TOTAL_RECON_AMOUNT,0) <> (SELECT ISNULL(TOTAL_DUE,0) FROM ACT_CUSTOMER_OPEN_ITEMS WHERE IDEN_ROW_ID = @IDEN_ROW_ID)* -1
	BEGIN
		SET @OP_AMOUNT = ((SELECT ISNULL(TOTAL_DUE,0) FROM ACT_CUSTOMER_OPEN_ITEMS WHERE IDEN_ROW_ID = @IDEN_ROW_ID)* -1)- ISNULL(@TOTAL_RECON_AMOUNT,0)
	--	SELECT @OP_AMOUNT
	-- Add DIff to total paid of Deposit item
		UPDATE ACT_CUSTOMER_OPEN_ITEMS 
		SET TOTAL_PAID = ISNULL(TOTAL_PAID,0) + (ISNULL(@OP_AMOUNT,0) * -1)
		WHERE IDEN_ROW_ID = @IDEN_ROW_ID
	
	-- Create a Recon Item for this amount ITEM_REF_ID will be original deposit item 
		INSERT INTO ACT_CUSTOMER_RECON_GROUP_DETAILS  
		(  
			GROUP_ID, ITEM_TYPE, ITEM_REFERENCE_ID,   
			RECON_AMOUNT, DIV_ID, DEPT_ID, PC_ID  
		)  
		SELECT @GROUP_ID, 'CUST', IDEN_ROW_ID , 
		ISNULL(@OP_AMOUNT,0) * -1 , DIV_ID, DEPT_ID, PC_ID   
		FROM ACT_CUSTOMER_OPEN_ITEMS 
		WHERE IDEN_ROW_ID = @IDEN_ROW_ID 
	END	
	--	SELECT * FROM ACT_CUSTOMER_RECON_GROUP_DETAILS WHERE GROUP_ID = @GROUP_ID 
	
	-- UPDATING STATUS TO 'NP' AS NO OVER PAYMENT.
	UPDATE ACT_CUSTOMER_OPEN_ITEMS SET ITEM_ORIGINAL_STATUS = ITEM_STATUS , 
	ITEM_STATUS = 'NP' WHERE IDEN_ROW_ID = @IDEN_ROW_ID

	--To change the reverse status back to 'NO'.
	--BEGIN TRAN               
	CREATE TABLE #INSTALLMENT_DETAILS
	(
		INSTALLMENT_NO		INT,
		POLICY_ID			INT,
		CURRENT_TERM	INT,
		CUSTOMER_ID			INT,
--		ROW_ID				INT,
--		TOTAL_DUE			DECIMAL(18,2),
		TOTAL_PAID			DECIMAL(18,2)
	)
	
	INSERT INTO #INSTALLMENT_DETAILS (INSTALLMENT_NO,POLICY_ID,CURRENT_TERM,CUSTOMER_ID,TOTAL_PAID)
	
	SELECT PID.INSTALLMENT_NO,OI.POLICY_ID,PID.CURRENT_TERM,OI.CUSTOMER_ID,SUM(OI.TOTAL_PAID) AS TOTAL_PAID
	FROM ACT_POLICY_INSTALLMENT_DETAILS PID
	INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OI
		ON PID.ROW_ID = OI.INSTALLMENT_ROW_ID
	WHERE OI.ITEM_TRAN_CODE_TYPE <> 'FEES'
	AND PID.INSTALLMENT_NO IN 
	(
		SELECT PID.INSTALLMENT_NO
		FROM ACT_POLICY_INSTALLMENT_DETAILS PID
		INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OI
		ON PID.ROW_ID = OI.INSTALLMENT_ROW_ID
		WHERE OI.IDEN_ROW_ID  IN (
									SELECT ITEM_REFERENCE_ID FROM ACT_CUSTOMER_RECON_GROUP_DETAILS 
									WHERE GROUP_ID IN (
														SELECT GROUP_ID FROM ACT_RECONCILIATION_GROUPS WHERE RECON_ENTITY_ID = @CUSTOMER_ID
														AND CD_LINE_ITEM_ID = (SELECT SOURCE_ROW_ID FROM ACT_CUSTOMER_OPEN_ITEMS 
														WHERE IDEN_ROW_ID = @IDEN_ROW_ID)
													 )
									AND ITEM_REFERENCE_ID <> @IDEN_ROW_ID 
								  )
	)
	AND OI.CUSTOMER_ID = @CUSTOMER_ID --1432
	AND OI.POLICY_ID = @POLICY_ID --97
	GROUP BY PID.INSTALLMENT_NO,OI.POLICY_ID,PID.CURRENT_TERM,OI.CUSTOMER_ID

--    SELECT * FROM  #INSTALLMENT_DETAILS
-- ROLLBACK TRAN


	UPDATE ACT_POLICY_INSTALLMENT_DETAILS
	SET RELEASED_STATUS = 'N'
	FROM ACT_POLICY_INSTALLMENT_DETAILS APID
	INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OI
	ON APID.ROW_ID = OI.INSTALLMENT_ROW_ID
	INNER JOIN #INSTALLMENT_DETAILS ID
	ON APID.INSTALLMENT_NO = ID.INSTALLMENT_NO
	AND APID.POLICY_ID = ID.POLICY_ID
	AND APID.CURRENT_TERM = ID.CURRENT_TERM
	AND APID.CUSTOMER_ID = ID.CUSTOMER_ID
	--WHERE ID.TOTAL_PAID = 0
	WHERE ISNULL(OI.TOTAL_PAID,0) - ISNULL(OI.APPLIED_AT_CANCELLATION,0) = 0

--	select * from #INSTALLMENT_DETAILS
--	DROP TABLE #INSTALLMENT_DETAILS	



END

--GO
--SELECT * FROM ACT_POLICY_INSTALLMENT_DETAILS WHERE CUSTOMER_ID = 1577 AND POLICY_ID = 39
--declare @Re int, @Id nvarchar(20), @mode int, @EN_ID INT, @EN_TYPE VARCHAR(20), @FLAG INT
--EXEC Proc_ReversePayment 'A7002492',1577,5845,39,5,340,@Re out,@Id out,@mode out,@EN_ID OUT,@EN_TYPE OUT,@FLAG OUT
--select @Re,@Id,@mode,@EN_ID ,@EN_TYPE ,@FLAG

--SELECT A.IDEN_ROW_ID, A.POLICY_VERSION_ID AS VER ,A.RISK_ID , A.TRANS_DESC,A.TOTAL_DUE,A.TOTAL_PAID,
--A.PROCESSED_AMOUNT_FOR_AGENCY,A.SWEEP_DATE,A.ITEM_TRAN_CODE_TYPE,A.ITEM_TRAN_CODE,A.PROCESSED_AMOUNT_FOR_AGENCY, A.NET_PREMIUM, A.GROSS_AMOUNT,
--ISNULL(B.INSTALLMENT_NO,50) INS_NO,B.INSTALLMENT_NO	 AS INS_NO,B.RELEASED_STATUS,A.RISK_ID,A.RISK_TYPE,
--A.* FROM ACT_CUSTOMER_OPEN_ITEMS A WITH(NOLOCK)
--left JOIN ACT_POLICY_INSTALLMENT_DETAILS B WITH(NOLOCK) ON A.INSTALLMENT_ROW_ID  = B.ROW_ID
--LEFT JOIN MNT_LOOKUP_VALUES MNT ON 
--B.PAYMENT_MODE = MNT.LOOKUP_UNIQUE_ID 
--WHERE A.CUSTOMER_ID= 1646 AND A.POLICY_ID = 17 --AND ITEM_TRAN_CODE_TYPE = 'PREM' --AND A.SOURCE_ROW_ID = 79
--ORDER BY ISNULL(B.CURRENT_TERM,50),ISNULL(B.INSTALLMENT_NO,50) ,
--A.IDEN_ROW_ID ,A.SOURCE_EFF_DATE,A.UPDATED_FROM
--SELECT * FROM ACT_POLICY_INSTALLMENT_DETAILS WHERE CUSTOMER_ID = 1577 AND POLICY_ID = 39
--SELECT * FROM ACT_CUSTOMER_OPEN_ITEMS WHERE CUSTOMER_ID = 1577 AND POLICY_ID = 39
--EXEC Proc_GetGLAccDetails 'SOURCE_TRAN_DATE1'
--ROLLBACK TRAN




GO

