IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_FetchAgencyDepositLineItems]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_FetchAgencyDepositLineItems]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*---------------------------------------------------------------------------          
CREATE BY       : Praveen Kasana          
CREATE DATETIME : 23 Nov 2006 12.54.00 PM          
PURPOSE         : To Fetch the agency statement details of specified agency of specified month and year :         
REVIOSN HISTORY          
Revised By  Date  Reason    
Revised By  	: Praveen kasana      
Modified Date   : 26 Dec 2007
Purpose		: Modifed StateMent Amount (Exluding Amount for Deposits and Checks)
Modified Date   : 3 Jan 2008
Purpose		: Fetch only REGULAR COMMISSION RECORDS 

exec Proc_FetchAgencyDepositLineItems 1,2008,null,888
---------------------------------------------------------------------------- */          


CREATE PROC Proc_FetchAgencyDepositLineItems       
(          
 @MONTH  INT ,          
 @YEAR  INT  ,        
 @AGENCY_NAME VARCHAR(100) = null,    
 @DEPOSIT_ID INT   
        
)          
AS         
BEGIN          
  
  
DECLARE @YES Int,  
 @No Int  
SET @YES = 10963  
SET @NO  = 10964  
  
CREATE TABLE #TEMP_AGENCY_DEPOSIT          
(      
 SELECTED_ITEMS   VARCHAR(10),          
 CD_LINE_ITEM_ID    INT,          
 AGENCY_ID     SMALLINT,          
 AGENCY_DISPLAY_NAME    NVARCHAR(75),           
 AGENCY_CODE   NVARCHAR(8),        
 [MONTH]    INT,     
 [YEAR]     INT,     
 MONTHYEAR  VARCHAR(50),  
 STMT_AMOUNT  VARCHAR(50),  
 BALANCE_AMOUNT  DECIMAL(18,2),  
 RECEIPT_AMOUNT  DECIMAL(18,2),  
 RECONCILEPOL  VARCHAR(20),  
 IS_RECONCILED  CHAR(1)  
)        


--========== FETCHING THE saved RECORDS according to the Deposit ID==========        
INSERT INTO #TEMP_AGENCY_DEPOSIT  
(
SELECTED_ITEMS,CD_LINE_ITEM_ID,AGENCY_ID,AGENCY_DISPLAY_NAME,  
AGENCY_CODE,[MONTH],[YEAR],MONTHYEAR,STMT_AMOUNT,BALANCE_AMOUNT,RECEIPT_AMOUNT,  
RECONCILEPOL,IS_RECONCILED
)  
SELECT     
'True' as SELECTED_ITEMS,    
CDLI.CD_LINE_ITEM_ID,AGENCY.AGENCY_ID,    
LTRIM(RTRIM(AGENCY.AGENCY_DISPLAY_NAME)),AGENCY.AGENCY_CODE,    
CDLI.POLICY_MONTH AS [MONTH],    
CDLI.MONTH_YEAR AS [YEAR],    
convert(varchar(30),CDLI.POLICY_MONTH) + ' ' +      
convert(varchar(20),CDLI.MONTH_YEAR) AS MONTHYEAR,  
convert(varchar(20),convert(money,(
	SELECT SUM(ISNULL(AGSIN.DUE_AMOUNT,0))  FROM ACT_AGENCY_STATEMENT AGSIN 
	WHERE AGS.MONTH_NUMBER = AGSIN.MONTH_NUMBER AND AGS.MONTH_YEAR = AGSIN.MONTH_YEAR 
	AND AGS.AGENCY_ID = AGSIN.AGENCY_ID
	AND ISNULL(UPDATED_FROM,'') NOT IN ('D','C')
	AND ISNULL(AGSIN.COMM_TYPE,'') = 'REG'
)),1)
AS STMT_AMOUNT,    
    
--SUM(ISNULL(AGS.DUE_AMOUNT,0))AS STMT_AMOUNT,    
SUM(ISNULL(AGS.DUE_AMOUNT,0)) - SUM(ISNULL(AGS.TOTAL_PAID,0)) AS BALANCE_AMOUNT,--CDLI.POLICY_MONTH,    
CDLI.RECEIPT_AMOUNT,    
--'Check' as MODEOFRECEIPTS,    
'Reconcile' as RECONCILEPOL ,    
CDLI.IS_RECONCILED     
FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI    
LEFT JOIN ACT_AGENCY_STATEMENT AGS 
ON AGS.AGENCY_ID = CDLI.RECEIPT_FROM_ID AND AGS.MONTH_NUMBER = CDLI.POLICY_MONTH     
AND AGS.MONTH_YEAR = CDLI.MONTH_YEAR    
LEFT JOIN MNT_AGENCY_LIST AGENCY 
ON AGENCY.AGENCY_ID = CDLI.RECEIPT_FROM_ID     
INNER JOIN ACT_CURRENT_DEPOSITS CD  
ON CD.DEPOSIT_ID = CDLI.DEPOSIT_ID     
--INNER JOIN ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI1 ON CDLI1.RECEIPT_FROM_ID = AGS.AGENCY_ID      
WHERE CDLI.DEPOSIT_ID = @DEPOSIT_ID     
AND ISNULL(AGS.COMM_TYPE,'') = 'REG'
GROUP BY AGS.AGENCY_ID,CDLI.IS_RECONCILED ,AGENCY.AGENCY_DISPLAY_NAME ,AGENCY.AGENCY_CODE,    
CDLI.RECEIPT_AMOUNT,CDLI.POLICY_MONTH,CDLI.MONTH_YEAR,CDLI.CD_LINE_ITEM_ID,AGENCY.AGENCY_ID ,
AGS.MONTH_NUMBER,AGS.MONTH_YEAR     
HAVING (SUM(ISNULL(AGS.DUE_AMOUNT,0)) - SUM(ISNULL(AGS.TOTAL_PAID,0))) > 0    
  
  
    
----------START EFT CHECK code : 11976 (EFT)    
IF ((SELECT RECEIPT_MODE FROM ACT_CURRENT_DEPOSITS WHERE DEPOSIT_ID = @DEPOSIT_ID) = 11976)  
BEGIN  
	SELECT   
	--'False' as SELECTED_ITEMS,    
	--NULL  AS CD_LINE_ITEM_ID,  
	CASE ISNULL(CDLI.CD_LINE_ITEM_ID,0) WHEN 0  
	THEN 'False'  
	else  'True' END as SELECTED_ITEMS ,  
	
	CDLI.CD_LINE_ITEM_ID as CD_LINE_ITEM_ID,  
	AGS.AGENCY_ID,    
	LTRIM(RTRIM(AGENCY.AGENCY_DISPLAY_NAME)) AS AGENCY_DISPLAY_NAME ,AGENCY.AGENCY_CODE,    
	AGS.MONTH_NUMBER AS [MONTH],    
	AGS.MONTH_YEAR AS [YEAR],    
	convert(varchar(30),AGS.MONTH_NUMBER) + ' ' +    
	convert(varchar(20),AGS.MONTH_YEAR) AS MONTHYEAR ,    
	convert(varchar(20),convert(money,(
	SELECT SUM(ISNULL(AGSIN.DUE_AMOUNT,0))  FROM ACT_AGENCY_STATEMENT AGSIN 
	WHERE AGS.MONTH_NUMBER = AGSIN.MONTH_NUMBER AND AGS.MONTH_YEAR = AGSIN.MONTH_YEAR 
	AND AGS.AGENCY_ID = AGSIN.AGENCY_ID
	AND ISNULL(UPDATED_FROM,'') NOT IN ('D','C')
	AND ISNULL(AGSIN.COMM_TYPE,'') = 'REG'	
	)),1)
	AS STMT_AMOUNT,
	--sum(ISNULL(AGS.DUE_AMOUNT,0)) AS STMT_AMOUNT,    
	sum(ISNULL(AGS.DUE_AMOUNT,0)) - sum(ISNULL(AGS.TOTAL_PAID,0)) as BALANCE_AMOUNT,    
	CDLI.RECEIPT_AMOUNT AS RECEIPT_AMOUNT,  
	--null as RECEIPT_AMOUNT,  
	--'Check' as MODEOFRECEIPTS,  
	'Reconcile' as RECONCILEPOL,  
	CDLI.IS_RECONCILED as IS_RECONCILED  
	from ACT_AGENCY_STATEMENT AGS     
	LEFT JOIN MNT_AGENCY_LIST AGENCY ON AGENCY.AGENCY_ID = AGS.AGENCY_ID    
	LEFT JOIN ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI   
	ON CDLI.RECEIPT_FROM_ID = AGS.AGENCY_ID   
	AND CDLI.POLICY_MONTH = AGS.MONTH_NUMBER  
	AND CDLI.MONTH_YEAR = AGS.MONTH_YEAR  
	AND CDLI.DEPOSIT_TYPE= 'AGN'   
	AND CDLI.DEPOSIT_ID = @DEPOSIT_ID  
	WHERE AGS.MONTH_NUMBER = @MONTH AND AGS.MONTH_YEAR = @YEAR   
	AND ISNULL(AGENCY.ALLOWS_EFT,@NO) = @YES 
   	AND AGENCY.AGENCY_DISPLAY_NAME LIKE '%'+ @AGENCY_NAME + '%' 
	AND ISNULL(AGS.COMM_TYPE,'') = 'REG'
	GROUP BY AGS.AGENCY_ID,AGENCY.AGENCY_DISPLAY_NAME ,AGENCY.AGENCY_CODE,AGS.MONTH_NUMBER,AGS.MONTH_YEAR   
	,CDLI.RECEIPT_AMOUNT  ,CDLI.CD_LINE_ITEM_ID,CDLI.IS_RECONCILED  
	HAVING (SUM(ISNULL(AGS.DUE_AMOUNT,0)) - SUM(ISNULL(AGS.TOTAL_PAID,0))) > 0  
	
	UNION  
	SELECT * FROM #TEMP_AGENCY_DEPOSIT
	order by AGENCY_DISPLAY_NAME
	
END  
ELSE  
BEGIN     
	SELECT   
	--'False' as SELECTED_ITEMS,    
	--NULL  AS CD_LINE_ITEM_ID,  
	CASE ISNULL(CDLI.CD_LINE_ITEM_ID,0) WHEN 0  
	THEN 'False'  
	else  'True' END as SELECTED_ITEMS ,  
	
	CDLI.CD_LINE_ITEM_ID as CD_LINE_ITEM_ID,  
	AGS.AGENCY_ID,    
	LTRIM(RTRIM(AGENCY.AGENCY_DISPLAY_NAME)) as AGENCY_DISPLAY_NAME ,AGENCY.AGENCY_CODE,    
	AGS.MONTH_NUMBER AS [MONTH],    
	AGS.MONTH_YEAR AS [YEAR],    
	convert(varchar(30),AGS.MONTH_NUMBER) + ' ' +    
	convert(varchar(20),AGS.MONTH_YEAR) AS MONTHYEAR ,    
	convert(varchar(20),convert(money,(
		SELECT SUM(ISNULL(AGSIN.DUE_AMOUNT,0))  FROM ACT_AGENCY_STATEMENT AGSIN 
		WHERE AGS.MONTH_NUMBER = AGSIN.MONTH_NUMBER AND AGS.MONTH_YEAR = AGSIN.MONTH_YEAR 
		AND AGS.AGENCY_ID = AGSIN.AGENCY_ID
		AND ISNULL(UPDATED_FROM,'') NOT IN ('D','C')
		AND ISNULL(AGSIN.COMM_TYPE,'') = 'REG'	
	)),1)
	AS STMT_AMOUNT,
	--sum(ISNULL(AGS.DUE_AMOUNT,0)) AS STMT_AMOUNT,    
	sum(ISNULL(AGS.DUE_AMOUNT,0)) - sum(ISNULL(AGS.TOTAL_PAID,0)) as BALANCE_AMOUNT,    
	CDLI.RECEIPT_AMOUNT AS RECEIPT_AMOUNT,  
	--null as RECEIPT_AMOUNT,  
	--'Check' as MODEOFRECEIPTS,  
	'Reconcile' as RECONCILEPOL,  
	CDLI.IS_RECONCILED as IS_RECONCILED  
	from ACT_AGENCY_STATEMENT AGS     
	LEFT JOIN MNT_AGENCY_LIST AGENCY ON AGENCY.AGENCY_ID = AGS.AGENCY_ID    
	LEFT JOIN ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI   
	ON CDLI.RECEIPT_FROM_ID = AGS.AGENCY_ID   
	AND CDLI.POLICY_MONTH = AGS.MONTH_NUMBER  
	AND CDLI.MONTH_YEAR = AGS.MONTH_YEAR  
	AND CDLI.DEPOSIT_TYPE= 'AGN'   
	AND CDLI.DEPOSIT_ID = @DEPOSIT_ID  
	WHERE AGS.MONTH_NUMBER = @MONTH AND AGS.MONTH_YEAR = @YEAR   
	AND AGENCY.AGENCY_DISPLAY_NAME LIKE '%'+ @AGENCY_NAME + '%'
	AND ISNULL(AGS.COMM_TYPE,'') = 'REG'
	GROUP BY AGS.AGENCY_ID,AGENCY.AGENCY_DISPLAY_NAME ,AGENCY.AGENCY_CODE,AGS.MONTH_NUMBER,AGS.MONTH_YEAR   
	,CDLI.RECEIPT_AMOUNT  ,CDLI.CD_LINE_ITEM_ID,CDLI.IS_RECONCILED
	HAVING (SUM(ISNULL(AGS.DUE_AMOUNT,0)) - SUM(ISNULL(AGS.TOTAL_PAID,0))) > 0  
	
	UNION  
	
	SELECT * FROM #TEMP_AGENCY_DEPOSIT
	order by AGENCY_DISPLAY_NAME 
	
  
END  
    
DROP TABLE #TEMP_AGENCY_DEPOSIT          
END 

GO

