IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_Fetch_Multiple_Party_Details]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_Fetch_Multiple_Party_Details]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--DROP PROC dbo.Proc_Fetch_Multiple_Party_Details
CREATE PROC dbo.Proc_Fetch_Multiple_Party_Details
(
  @YEAR INT
)
AS

CREATE TABLE #PARTY_INFO
(
  [IDENT_COL] [INT] IDENTITY(1,1) NOT NULL , 
  [PAYEE_PARTY_ID] VARCHAR(4000), 
  [CHECK_ID]  INT,  
  [CHECK_AMOUNT]	DECIMAL(18,2),
  [CLAIM_ID]  INT
 )


DECLARE @PARTY_MEDICAL_PROVIDER INT		SET @PARTY_MEDICAL_PROVIDER  = 150
DECLARE @PARTY_LEGAL_OTHER INT			SET @PARTY_LEGAL_OTHER  = 154  

DECLARE @CLAIM_CHECK_TYPE INT
SET @CLAIM_CHECK_TYPE = 9937

      
INSERT INTO #PARTY_INFO
SELECT PAY.PAYEE_PARTY_ID,CHK.CHECK_ID,CHK.CHECK_AMOUNT,CLM.CLAIM_ID FROM 
	ACT_CHECK_INFORMATION CHK 
	INNER JOIN CLM_ACTIVITY CLM ON
	CLM.CHECK_ID = CHK.CHECK_ID
	INNER JOIN CLM_PAYEE PAY
	ON PAY.CLAIM_ID = CLM.CLAIM_ID
	AND PAY.ACTIVITY_ID = CLM.ACTIVITY_ID
	WHERE
	ISNULL(PAY.PAYEE_PARTY_ID,'') LIKE '%^%' --MULTIPLE
	AND ISNULL(CHK.CHECK_TYPE,'') = @CLAIM_CHECK_TYPE


--select * from #PARTY_DETAILS

DECLARE @DELIMITER_NAME VARCHAR(2000)
DECLARE @CHECK_ID INT
DECLARE @CHECK_AMOUNT DECIMAL(18,2)
DECLARE @CLAIM_ID INT

CREATE TABLE #MULTILE_PARTY_DETAILS
(
	[IDENT_COL] [INT] IDENTITY(1,1) NOT NULL , 
	[PARTY_ID] INT,
	[CHECK_ID]	INT,
	[CHECK_AMOUNT]	DECIMAL(18,2),
	[CLAIM_ID] INT		
)



DECLARE @IDENT_COL INT
SET @IDENT_COL =1

WHILE (1=1)
BEGIN
		IF NOT EXISTS (SELECT IDENT_COL FROM #PARTY_INFO WITH(NOLOCK) WHERE IDENT_COL = @IDENT_COL)                        
		BEGIN                        
			BREAK                        
		END    
			
		SELECT 
		@DELIMITER_NAME  = [PAYEE_PARTY_ID],
		@CHECK_ID = [CHECK_ID],
		@CHECK_AMOUNT  = [CHECK_AMOUNT],
		@CLAIM_ID = [CLAIM_ID]
		FROM #PARTY_INFO WHERE IDENT_COL = @IDENT_COL 

		INSERT INTO #MULTILE_PARTY_DETAILS
		SELECT * FROM DBO.FNSPLITMULTIPLEPAYEES(@DELIMITER_NAME,'^',@CHECK_ID,@CHECK_AMOUNT,@CLAIM_ID)

		

SET @IDENT_COL = @IDENT_COL + 1 
END


SELECT CHK.CHECK_ID,CHK.CHECK_AMOUNT,PART.FEDRERAL_ID ,
CASE PARTY_TYPE_ID WHEN @PARTY_LEGAL_OTHER THEN @PARTY_LEGAL_OTHER 
				   WHEN @PARTY_MEDICAL_PROVIDER THEN @PARTY_MEDICAL_PROVIDER 
				   ELSE EXPERT_SERVICE_TYPE 
				   END AS [SERVICE_TYPE_ID] ,
ACTIVITY_REASON AS PARTY_PAYMENT_TYPE,
PART.[MAIL_1099_NAME]
 FROM #MULTILE_PARTY_DETAILS MUL INNER JOIN 
ACT_CHECK_INFORMATION CHK 
ON MUL.CHECK_ID = CHK.CHECK_ID
INNER JOIN CLM_ACTIVITY CLM ON
CLM.CHECK_ID = CHK.CHECK_ID
INNER JOIN CLM_PARTIES PART
ON PART.PARTY_ID = MUL.PARTY_ID
AND PART.CLAIM_ID = MUL.CLAIM_ID
WHERE PART.PARTY_TYPE_ID NOT IN (9,10,157) 
AND ISNULL(PART.PROCESSING_OPTION_1099,0) IN (114245,11735)  
AND ISNULL(PART.FEDRERAL_ID,'') <> ''
--AND ISNULL(CHK.IS_1099_PROCESSED,'N') <> 'Y'  (put in place when delete statements will be uncommented)
AND ISNULL(CHK.IS_PRINTED,'N')  = 'Y'      
AND ISNULL(CHK.IS_COMMITED,'N') = 'Y'        
AND ISNULL(CHK.GL_UPDATE,'0') <> 2   
AND YEAR(CHK.DATE_COMMITTED) = @YEAR
AND ISNULL(CHK.CHECK_TYPE,'') = @CLAIM_CHECK_TYPE



UNION --MANUAL CLAIM CHECK

SELECT CHK.CHECK_ID,CHK.CHECK_AMOUNT,PART.FEDRERAL_ID ,
CASE PARTY_TYPE_ID WHEN @PARTY_LEGAL_OTHER THEN @PARTY_LEGAL_OTHER 
				   WHEN @PARTY_MEDICAL_PROVIDER THEN @PARTY_MEDICAL_PROVIDER 
				   ELSE EXPERT_SERVICE_TYPE 
				   END AS [SERVICE_TYPE_ID] ,
ACTIVITY_REASON AS PARTY_PAYMENT_TYPE,
PART.[MAIL_1099_NAME]
 FROM #MULTILE_PARTY_DETAILS MUL INNER JOIN 
ACT_CHECK_INFORMATION CHK 
ON MUL.CHECK_ID = CHK.CHECK_ID
INNER JOIN CLM_ACTIVITY CLM ON
CLM.CHECK_ID = CHK.CHECK_ID
INNER JOIN CLM_PARTIES PART
ON PART.PARTY_ID = MUL.PARTY_ID
AND PART.CLAIM_ID = MUL.CLAIM_ID
WHERE PART.PARTY_TYPE_ID NOT IN (9,10,157) 
AND ISNULL(PART.PROCESSING_OPTION_1099,0) IN (114245,11735)  
--AND ISNULL(CHK.IS_1099_PROCESSED,'N') <> 'Y'  (put in place when delete statements will be uncommented)
AND ISNULL(PART.FEDRERAL_ID,'') <> ''
AND ISNULL(CHK.MANUAL_CHECK,'N')  = 'Y'        
AND ISNULL(CHK.IS_COMMITED,'N') = 'Y'        
AND ISNULL(CHK.GL_UPDATE,'0') <> 2  
AND YEAR(CHK.DATE_COMMITTED) = @YEAR 
AND ISNULL(CHK.CHECK_TYPE,'') = @CLAIM_CHECK_TYPE

DROP TABLE #PARTY_INFO
DROP TABLE #MULTILE_PARTY_DETAILS



GO

