IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_InsertACT_BANK_RECON_CHECK_FILE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_InsertACT_BANK_RECON_CHECK_FILE]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------    
Proc Name       : dbo.Proc_InsertACT_BANK_RECON_CHECK_FILE
Created by      : Swastika    
Date            : 18 Apr,2007    
Purpose         : To Insert uploaded file details into the respective table    
Revison History :    
Used In         : Wolverine    
------------------------------------------------------------    
Date     Review By          Comments    
------   ------------       -------------------------*/  
-- drop proc dbo.Proc_InsertACT_BANK_RECON_CHECK_FILE      
CREATE  PROC [dbo].[Proc_InsertACT_BANK_RECON_CHECK_FILE]    
(    
@REF_FILE_ID int = null,
@ACCOUNT_ID int,
@ACCOUNT_NUMBER nvarchar(10),
@SERIAL_NUMBER nvarchar(20),
@CHECK_DATE datetime,
@ADDITIONAL_DATA nvarchar(1500),
@SEQUENCE_NUMBER int,
@RECON_GROUP_ID int,
@MATCHED_RECORD_STATUS bit,
@ERROR_DESC nvarchar(1000),
@AMOUNT decimal(18,2),
@CREATED_BY int,
@CREATED_DATETIME datetime
)    
AS    
BEGIN

DECLARE @CHECK_ID INT


	-- Insert uploaded file details.
	INSERT INTO ACT_BANK_RECON_CHECK_FILE
	(
	REF_FILE_ID,ACCOUNT_ID,ACCOUNT_NUMBER,SERIAL_NUMBER,CHECK_DATE,ADDITIONAL_DATA,
	SEQUENCE_NUMBER,RECON_GROUP_ID,MATCHED_RECORD_STATUS,ERROR_DESC,
	AMOUNT,CREATED_BY,CREATED_DATETIME
	)
	VALUES
	(
	@REF_FILE_ID,@ACCOUNT_ID,@ACCOUNT_NUMBER,@SERIAL_NUMBER,@CHECK_DATE,@ADDITIONAL_DATA,
	@SEQUENCE_NUMBER,@RECON_GROUP_ID,@MATCHED_RECORD_STATUS,@ERROR_DESC,
	@AMOUNT,@CREATED_BY,@CREATED_DATETIME
	)

	-- Update IMPORT_DATE field in ACT_BANK_RECON_UPLOAD_FILE table

	IF EXISTS (SELECT [FILE_ID] FROM ACT_BANK_RECON_UPLOAD_FILE (NOLOCK) WHERE [FILE_ID] = @REF_FILE_ID)
	BEGIN
		UPDATE ACT_BANK_RECON_UPLOAD_FILE
		SET IMPORT_DATE = GETDATE()
		WHERE [FILE_ID] = @REF_FILE_ID
	END
	
	-- Match the check in file with that in ACT_CHECK_INFORMATION_TABLE
	 IF EXISTS 
		(
		SELECT CHECK_ID,CHECK_AMOUNT,CHECK_NUMBER,CHECK_DATE,ACCOUNT_ID FROM ACT_CHECK_INFORMATION (NOLOCK) 
	  	WHERE dbo.APPENDZERO(ISNULL(CHECK_NUMBER,''),10) = @SERIAL_NUMBER AND ACCOUNT_ID = @ACCOUNT_ID AND CHECK_AMOUNT = @AMOUNT
 		)
		 BEGIN
		 	-- If a check matches in ACT_CHECK_INFORMATION
		 	-- Fetch records from ACT_ACCOUNTS_POSTING_DETAILS table 
			-- and insert into Recon details table
			SELECT @CHECK_ID = CHECK_ID FROM ACT_CHECK_INFORMATION (NOLOCK) 
		  	WHERE dbo.APPENDZERO(ISNULL(CHECK_NUMBER,''),10) = @SERIAL_NUMBER AND ACCOUNT_ID = @ACCOUNT_ID AND CHECK_AMOUNT = @AMOUNT

		    INSERT INTO ACT_BANK_RECONCILIATION_ITEMS_DETAILS
			(IDENTITY_ROW_ID,AC_RECONCILIATION_ID)
			SELECT IDENTITY_ROW_ID,@RECON_GROUP_ID FROM  ACT_ACCOUNTS_POSTING_DETAILS (NOLOCK) 
			WHERE UPDATED_FROM = 'C' AND ACCOUNT_ID = @ACCOUNT_ID AND SOURCE_ROW_ID = @CHECK_ID

			-- Set Matched Record Status 
			UPDATE ACT_BANK_RECON_CHECK_FILE
			SET MATCHED_RECORD_STATUS = 1,
			ERROR_DESC = 'Check Number and Check Amount Matched.'
			WHERE ISNULL(SERIAL_NUMBER,'') = @SERIAL_NUMBER AND ACCOUNT_ID = @ACCOUNT_ID AND AMOUNT = @AMOUNT
			
		 END

	ELSE IF EXISTS 
		(
		SELECT CHECK_ID,CHECK_AMOUNT,CHECK_NUMBER,CHECK_DATE,ACCOUNT_ID FROM ACT_CHECK_INFORMATION (NOLOCK) 
	  	WHERE dbo.APPENDZERO(ISNULL(CHECK_NUMBER,''),10) <> @SERIAL_NUMBER AND ACCOUNT_ID = @ACCOUNT_ID AND CHECK_AMOUNT = @AMOUNT
 		)
		 BEGIN

			-- Set UNMatched Record Status 
			UPDATE ACT_BANK_RECON_CHECK_FILE
			SET MATCHED_RECORD_STATUS = 0,
			ERROR_DESC = 'Check Number does not Matched.'
			WHERE ACCOUNT_ID = @ACCOUNT_ID AND AMOUNT = @AMOUNT
			AND ISNULL(SERIAL_NUMBER,'') = @SERIAL_NUMBER --Added 2 March 2009

		END

	ELSE IF EXISTS 
		(
		SELECT CHECK_ID,CHECK_AMOUNT,CHECK_NUMBER,CHECK_DATE,ACCOUNT_ID FROM ACT_CHECK_INFORMATION (NOLOCK) 
	  	WHERE dbo.APPENDZERO(ISNULL(CHECK_NUMBER,''),10) = @SERIAL_NUMBER AND ACCOUNT_ID = @ACCOUNT_ID AND CHECK_AMOUNT <> @AMOUNT
 		)
		 BEGIN

			-- Set UNMatched Record Status 
			UPDATE ACT_BANK_RECON_CHECK_FILE
			SET MATCHED_RECORD_STATUS = 0,
			ERROR_DESC = 'Check Amount does not Matched.'
			WHERE  ACCOUNT_ID = @ACCOUNT_ID AND ISNULL(SERIAL_NUMBER,'') = @SERIAL_NUMBER

		END	
	ELSE 
		 BEGIN

			-- Set UNMatched Record Status 
			UPDATE ACT_BANK_RECON_CHECK_FILE
			SET MATCHED_RECORD_STATUS = 0,
			ERROR_DESC = 'Check Amount and Check Number does not Matched.'
			WHERE  ACCOUNT_ID = @ACCOUNT_ID AND ISNULL(SERIAL_NUMBER,'') = @SERIAL_NUMBER

		END	
END






GO

