IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_MelEventos_EndorseRefund]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_MelEventos_EndorseRefund]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Proc_MelEventos_EndorseRefund]
	@INCEPTION_DATE DATETIME
AS
BEGIN
/*----------------------------------------------------------                                                                      
Proc Name       : dbo.Proc_MelEventos_EndorseRefund                                                                
Created by      : ANURAG GUPTA                                                                 
Date            : 03 MARCH 2011                                                                      
Purpose         : Mel Eventos - Endorsement Refund  
Revison History :                                               
------------------------------------------------------------                                                                      
Modified By  :         
Date   :		
Purpose  :      
------------------------------------------------------------                                                                            
Date     Review By          Comments                                                                      
------   ------------       -------------------------*/  
---1. EMISSÃO DE APÓLICE OU FATURA: (Endorsement Refund ) 
--DECLARE @INCEPTION_DATE DATETIME
--SELECT @INCEPTION_DATE = '03/10/2011'

-- Proc_MelEventos_EndorseRefund '03/02/2011'
DECLARE @DATE CHAR(10)
DECLARE @SEQ_NUM INT


SELECT @SEQ_NUM = 0
SELECT @DATE = REPLACE(CONVERT(VARCHAR(10), @INCEPTION_DATE, 111), '/', '')
--SELECT @DATE
/*
	PROCESS ID VALUES:
	12	Commit Cancellation Process	
	14	Commit Endorsement Process	
	18	Commit Renewal Process	
	25	Commit New Business	
*/	

DECLARE @BATCH01 TABLE
	(
		LAYOUT_ID char(2),
		COMPANY_CODE CHAR(3), 
		YEAR_MONTH CHAR(6), 
		BATCH_CODE CHAR(6), 
		EVENT_CODE CHAR(6), 
		POSTING_DATE CHAR(8), 
		LOB VARCHAR(8), 
		BRANCH CHAR(2), 
		PROFIT_CENTER CHAR(6), 
		TRANSACTION_AMOUNT VARCHAR(15), 
		[DESCRIPTION] VARCHAR(250)
	)

INSERT INTO @BATCH01 (LAYOUT_ID, COMPANY_CODE, YEAR_MONTH, BATCH_CODE, EVENT_CODE, POSTING_DATE, LOB, BRANCH, PROFIT_CENTER, TRANSACTION_AMOUNT, [DESCRIPTION])
---NEW BUSINESS, RENEWAL, ENDORSEMENT(POSITIVE)
SELECT
	'02' AS LAYOUT_ID, 'AB1' AS COMPANY_CODE,
	CONVERT(VARCHAR(6), @DATE, 111) AS YEAR_MONTH,
	'EBI004' AS BATCH_CODE,	
	'DI0401' AS EVENT_CODE, 
	CONVERT(VARCHAR(8), @DATE, 111) AS POSTING_DATE, 
	MLM.SUSEP_LOB_CODE AS LOB, RIGHT('00' + MDL.BRANCH_CODE, 2) AS BRANCH, 
	'00000' AS PROFIT_CENTER, 
	RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR(12), SUM(ABS(ACOI.TOTAL_DUE))), '.', ''), 15) AS TRANSACTION_AMOUNT, 
	'DESCRIPTION' AS DESCRIPTION	
FROM
	ACT_CUSTOMER_OPEN_ITEMS ACOI WITH(NOLOCK) 
INNER JOIN
	POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK) ON (PCPL.CUSTOMER_ID = ACOI.CUSTOMER_ID AND PCPL.POLICY_ID = ACOI.POLICY_ID AND PCPL.POLICY_VERSION_ID = ACOI.POLICY_VERSION_ID)
INNER JOIN
	POL_POLICY_PROCESS PPP WITH(NOLOCK) ON (PCPL.CUSTOMER_ID = PPP.CUSTOMER_ID AND PCPL.POLICY_ID = PPP.POLICY_ID AND PCPL.POLICY_VERSION_ID = PPP.NEW_POLICY_VERSION_ID)
INNER JOIN
	MNT_LOB_MASTER MLM WITH(NOLOCK) ON (MLM.LOB_ID = PCPL.POLICY_LOB)
INNER JOIN
	MNT_DIV_LIST MDL WITH(NOLOCK) ON (MDL.DIV_ID = PCPL.DIV_ID)
WHERE
	ACOI.UPDATED_FROM = 'P' AND
	PPP.PROCESS_ID IN (14) AND 
	ACOI.ITEM_STATUS = 'RP' AND
	CONVERT(VARCHAR(10), PPP.COMPLETED_DATETIME, 101) = @INCEPTION_DATE	
GROUP BY
	MLM.SUSEP_LOB_CODE, MDL.BRANCH_CODE, ACOI.ITEM_TRAN_CODE

UNION ALL
---BROKER COMMISSION
SELECT
	'02' AS LAYOUT_ID, 'AB1' AS COMPANY_CODE,
	CONVERT(VARCHAR(6), @DATE, 111) AS YEAR_MONTH,
	'EBI004' AS BATCH_CODE,	
	'DI0402' AS EVENT_CODE, 
	CONVERT(VARCHAR(8), @DATE, 111) AS POSTING_DATE, 
	MLM.SUSEP_LOB_CODE AS LOB, RIGHT('00' + MDL.BRANCH_CODE, 2) AS BRANCH, 
	'00000' AS PROFIT_CENTER, 
	RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR(12), SUM(ABS(ACOI.TOTAL_DUE))), '.', ''), 15) AS TRANSACTION_AMOUNT, 
	'DESCRIPTION' AS DESCRIPTION	
FROM
	ACT_AGENCY_OPEN_ITEMS ACOI WITH(NOLOCK) 
INNER JOIN
	POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK) ON (PCPL.CUSTOMER_ID = ACOI.CUSTOMER_ID AND PCPL.POLICY_ID = ACOI.POLICY_ID AND PCPL.POLICY_VERSION_ID = ACOI.POLICY_VERSION_ID)
INNER JOIN
	POL_POLICY_PROCESS PPP WITH(NOLOCK) ON (PCPL.CUSTOMER_ID = PPP.CUSTOMER_ID AND PCPL.POLICY_ID = PPP.POLICY_ID AND PCPL.POLICY_VERSION_ID = PPP.NEW_POLICY_VERSION_ID)
INNER JOIN
	MNT_LOB_MASTER MLM WITH(NOLOCK) ON (MLM.LOB_ID = PCPL.POLICY_LOB)
INNER JOIN
	MNT_DIV_LIST MDL WITH(NOLOCK) ON (MDL.DIV_ID = PCPL.DIV_ID)
WHERE
	ACOI.UPDATED_FROM = 'P' AND
	PPP.PROCESS_ID IN (14) AND
	ACOI.ITEM_STATUS = 'RP'	AND 
	CONVERT(VARCHAR(10), PPP.COMPLETED_DATETIME, 101) = @INCEPTION_DATE
GROUP BY
	MLM.SUSEP_LOB_CODE, MDL.BRANCH_CODE, ACOI.COMMISSION_TYPE, ACOI.IS_COMM_ON_INTEREST
	
UNION ALL
---COINSURANCE PREMIUM CEDED
SELECT
	'02' AS LAYOUT_ID, 'AB1' AS COMPANY_CODE,
	CONVERT(VARCHAR(6), @DATE, 111) AS YEAR_MONTH,
	'EBI004' AS BATCH_CODE,	
	CASE ACOI.ITEM_TRAN_CODE
		WHEN 'NBSP' THEN 'DI0403'
		WHEN 'ENDP' THEN 'DI0403'
		WHEN 'RENP' THEN 'DI0403'
		WHEN 'NBSC' THEN 'DI0404'
		WHEN 'ENDC' THEN 'DI0404'
		WHEN 'RENC' THEN 'DI0404'			
	END AS EVENT_CODE, 
	CONVERT(VARCHAR(8), @DATE, 111) AS POSTING_DATE, 
	MLM.SUSEP_LOB_CODE AS LOB, RIGHT('00' + MDL.BRANCH_CODE, 2) AS BRANCH, 
	'00000' AS PROFIT_CENTER, 
	RIGHT('000000000000000' + REPLACE(CONVERT(VARCHAR(12), SUM(ABS(ACOI.TOTAL_DUE))), '.', ''), 15) AS TRANSACTION_AMOUNT, 
	'DESCRIPTION' AS DESCRIPTION	
FROM
	ACT_COI_OPEN_ITEMS ACOI WITH(NOLOCK) 
INNER JOIN
	POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK) ON (PCPL.CUSTOMER_ID = ACOI.CUSTOMER_ID AND PCPL.POLICY_ID = ACOI.POLICY_ID AND PCPL.POLICY_VERSION_ID = ACOI.POLICY_VERSION_ID)
INNER JOIN
	POL_POLICY_PROCESS PPP WITH(NOLOCK) ON (PCPL.CUSTOMER_ID = PPP.CUSTOMER_ID AND PCPL.POLICY_ID = PPP.POLICY_ID AND PCPL.POLICY_VERSION_ID = PPP.NEW_POLICY_VERSION_ID)
INNER JOIN
	MNT_LOB_MASTER MLM WITH(NOLOCK) ON (MLM.LOB_ID = PCPL.POLICY_LOB)
INNER JOIN
	MNT_DIV_LIST MDL WITH(NOLOCK) ON (MDL.DIV_ID = PCPL.DIV_ID)
WHERE
	ACOI.UPDATED_FROM = 'P' AND	
	PPP.PROCESS_ID IN (14) AND
	PCPL.CO_INSURANCE = 14548 AND
	ACOI.ITEM_STATUS = 'RP'	AND 		
	CONVERT(VARCHAR(10), PPP.COMPLETED_DATETIME, 101) = @INCEPTION_DATE
GROUP BY
	MLM.SUSEP_LOB_CODE, MDL.BRANCH_CODE, ACOI.ITEM_TRAN_CODE, ACOI.IS_COMM_ON_INTEREST
			
--ORDER BY SEQUENTIAL, LOB, BRANCH, EVENT_CODE

SELECT
	'02' AS LAYOUT_ID, 'AB1' AS COMPANY_CODE,
	CONVERT(VARCHAR(6), @DATE, 111) AS YEAR_MONTH,
	'EBI004' AS BATCH_CODE,	
	'0000000' AS SEQUENTIAL,
	'CAPAEB' AS EVENT_CODE, 
	CONVERT(VARCHAR(8), @DATE, 111) AS POSTING_DATE,
	'', '', '', '', '', '', '', '', '', '', '', '', '', ''
UNION ALL
SELECT 
	LAYOUT_ID, COMPANY_CODE, YEAR_MONTH, BATCH_CODE, RIGHT('0000000' + CAST((ROW_NUMBER() over (order by @SEQ_NUM)) AS VARCHAR(7)), 7) AS SEQUENTIAL,
	EVENT_CODE, POSTING_DATE, LOB, BRANCH, PROFIT_CENTER, '', '', '', '', '000', '', '', TRANSACTION_AMOUNT, 'BRL' AS CURRENCY, '100000' AS EXCHANGE_RATE, [DESCRIPTION]
FROM 
	@BATCH01
ORDER BY 
	SEQUENTIAL
	
		
--ROLLBACK TRAN
END
GO

