IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_SUSEP_SINPENDAC_PENDING_CLAIMS_INWARDS_COINSURANCE_POLICIES]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_SUSEP_SINPENDAC_PENDING_CLAIMS_INWARDS_COINSURANCE_POLICIES]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-------------------------------------------------------------------------------------------------------------------------
	----ITRACK 1082(211)
-------------------------------------------------------------------------------------------------------------------------
        
CREATE PROCEDURE  [dbo].[PROC_SUSEP_SINPENDAC_PENDING_CLAIMS_INWARDS_COINSURANCE_POLICIES]     
(
 @DATETIME DATETIME,  
 @CLAIM_NUMBER NVARCHAR(21)=NULL
)        
AS  
BEGIN
 DECLARE @MONTH VARCHAR(2)  
 DECLARE @YEAR VARCHAR(4) 
 SET @MONTH= DATEPART(MM, @DATETIME) 
 SET @YEAR=(SELECT DATEPART(YYYY, @DATETIME)) ;    
   
 /*DECLARE @TEMPTABLE TABLE 
 (  
   SEQUENCE_NO INT IDENTITY(1,1),
   COMPANY_CODE VARCHAR(50),
   REFERENCE_MONTH VARCHAR(8),
   SUSEP_LOB_CODE VARCHAR(5),
   LEADER_SUSEP_CODE NVARCHAR(100),
   LEADER_CLAIM_NUMBER NVARCHAR(100),
   LEADER_POLICY_NUMBER NVARCHAR(100),
   LEADER_ENDORSEMENT_NUMBER NVARCHAR(100),
   CLAIM_REGISTRATION_DATE NVARCHAR(10),
   FIRST_NOTICE_OF_LOSS NVARCHAR(10),
   LOSS_DATE NVARCHAR(10),
   PENDING_PAYMENT_VALUE VARCHAR(100),
   CLAIM_TYPE VARCHAR(2),
   TOTAL_CLAIM_AMOUNT NVARCHAR(200),
   TIPO_MOVE VARCHAR(30),
   POLICY_NUMBER NVARCHAR(21),
   CLAIM_NUMBER NVARCHAR(15)
 )
 INSERT INTO @TEMPTABLE  */
  
WITH TEMPTABLE
AS
(
SELECT DISTINCT
		---------------COMPANY CODE IN SUSEP 
		--VW.CLAIM_ID,
		
		--CA.ACTION_ON_PAYMENT ,
		 '504-5' AS COMPANY_CODE,
		 
		 
		 --@YEAR +'0'+ @MONTH AS REFERENCE_MONTH,
		 CASE 
			WHEN @MONTH IN (1,2,3,4,5,6,7,8,9) THEN  @YEAR + '0' + @MONTH 
			WHEN @MONTH IN (10,11,12) THEN  @YEAR + @MONTH
		 END AS REFERENCE_MONTH,  --Reference month of the report.
		 
		 -------------LINE CODE IN SUSEP
		 VW.SUSEP_LOB_CODE AS SUSEP_LOB_CODE,
		 
		 --------------COINSURANCE LEADER'S SUSEP CODE.
		 VW.LEADER_SUSEP_CODE AS LEADER_SUSEP_CODE,
		 
		 ----------CLAIM NUMBER NOTIFIED BY THE LEADER.
		 VW.LEADER_CLAIM_NUMBER AS LEADER_CLAIM_NUMBER,
		 
		 ---------NUMBER OF THE LEADER'S POLICY.
		 VW.LEADER_POLICY_NUMBER AS LEADER_POLICY_NUMBER,
		 
		 --------NUMBER OF LEADER'S ENDORSEMENT.
		 VW.LEADER_ENDORSEMENT_NUMBER AS LEADER_ENDORSEMENT_NUMBER,
		 
		 ---------------REGISTRATION DATE – DATE ON WHICH THE LEADING COMPANY REGISTERED THE CLAIM NOTIFICATION.
		 ISNULL(CONVERT(VARCHAR(10),VW.CLAIM_REGISTRATION_DATE,112),'') AS CLAIM_REGISTRATION_DATE,
		 
		 ---------------THE DATE ON WHICH THE CLAIMANT REPORTED THE CLAIM. USE THE FIRST NOTICE OF LOSS.
		 CONVERT(VARCHAR(10),VW.FIRST_NOTICE_OF_LOSS,112)AS FIRST_NOTICE_OF_LOSS,
		 
		 ---------------ACCIDENT OCCURRENCE DATE.  USE THE DATE OF LOSS.
		 CONVERT(VARCHAR(10),VW.LOSS_DATE,112) AS LOSS_DATE,
		 
		 --------------PENDING PAYMENT VALUE – CORRESPONDS TO THE PENDING PAYMENT AMOUNT FOR THE CLAIM. 

		CAST(
		CASE WHEN CPC.COVERAGE_CODE_ID IN (50017, 50018,50020, 50022)  
			 THEN (SELECT SUM(ISNULL(CAR.OUTSTANDING,0)) FROM CLM_ACTIVITY_RESERVE CAR WITH(NOLOCK)
					LEFT OUTER JOIN CLM_PRODUCT_COVERAGES CPC1 WITH(NOLOCK) ON CAR.CLAIM_ID = CPC1.CLAIM_ID AND CAR.COVERAGE_ID = CPC1.CLAIM_COV_ID 
				--LEFT OUTER JOIN CLM_ACTIVITY CA_TEMP WITH(NOLOCK) ON (CAR.CLAIM_ID = CA_TEMP.CLAIM_ID AND CAR.ACTIVITY_ID = CA_TEMP.ACTIVITY_ID)
				 WHERE CPC1.COVERAGE_CODE_ID IN (50017, 50018,50020, 50022) 
				 AND CAR.CLAIM_ID = VW.CLAIM_ID 
				 AND CAR.ACTIVITY_ID = CA.ACTIVITY_ID
				 AND CA.IS_VOIDED_REVERSED_ACTIVITY IS NULL
				 ) --AND CA_TEMP.ACTIVITY_STATUS = 11801)
			 
            WHEN CPC.COVERAGE_CODE_ID NOT IN (50017, 50018, 50019, 50020, 50021, 50022) 
			THEN (SELECT SUM(ISNULL(CAR.OUTSTANDING,0)) FROM CLM_ACTIVITY_RESERVE CAR WITH(NOLOCK)
			LEFT OUTER JOIN CLM_PRODUCT_COVERAGES CPC1 WITH(NOLOCK) ON CAR.CLAIM_ID = CPC1.CLAIM_ID AND CAR.COVERAGE_ID = CPC1.CLAIM_COV_ID 
			--LEFT OUTER JOIN CLM_ACTIVITY CA_TEMP WITH(NOLOCK) ON (CAR.CLAIM_ID = CA_TEMP.CLAIM_ID AND CAR.ACTIVITY_ID = CA_TEMP.ACTIVITY_ID)
			 WHERE CPC1.COVERAGE_CODE_ID NOT IN (50017, 50018, 50019, 50020, 50021, 50022) 
			 AND CAR.CLAIM_ID = VW.CLAIM_ID 
			 AND CAR.ACTIVITY_ID = CA.ACTIVITY_ID
			 AND CA.IS_VOIDED_REVERSED_ACTIVITY IS NULL
			 ) --AND CA_TEMP.ACTIVITY_STATUS = 11801)
			 END AS DECIMAL(16,2)) AS PENDING_PAYMENT_VALUE ,

			--CA.CLAIM_RESERVE_AMOUNT  AS PENDING_PAYMENT_VALUE, 
			  
		 ---------------------------------------------------
		-- CLAIM TYPE				  
		-- 01: ADMINISTRATIVE INDEMINITY
		-- 02: ADMINISTRATIVE EXPENSES
		-- 03: LEGAL INDEMINITY
		-- 04: LEGAL EXPENSES

		-- CHECK IF RESERVE/PAYMENT/RECOVERY DONE AGAINST POLICY COVERAGES THEN IDENMINTY ESLE EXPENSES
		---------------------------------------------------
		--CASE WHEN CPC.IS_RISK_COVERAGE = 'Y' AND CA.IS_LEGAL = 'N' THEN '01'
		--	 WHEN CPC.IS_RISK_COVERAGE = 'N' AND CA.IS_LEGAL = 'N' THEN '02'
		--	 WHEN CPC.IS_RISK_COVERAGE = 'Y' AND CA.IS_LEGAL = 'Y' THEN '03'
		--	 WHEN CPC.IS_RISK_COVERAGE = 'N' AND CA.IS_LEGAL = 'Y' THEN '04'
	 --   END,
		 CASE WHEN CPC.COVERAGE_CODE_ID NOT IN (50017, 50018, 50019, 50020, 50021, 50022) 
			   THEN 
			  (CASE WHEN CA.IS_LEGAL='Y' THEN '03' --- LEGAL INDEMINITY
				   ELSE '01' END                    --- ADMINISTRATIVE INDEMINITY
			  )
		 ELSE
			  (CASE WHEN CA.IS_LEGAL='Y' THEN '04' --- LEGAL EXPENSES
				   ELSE '02' END                    --- ADMINISTRATIVE EXPENSES
			  )
		 END AS CLAIM_TYPE,
		
		---------THE SUM OF TOTAL OUTSTANDING RESERVE AND ALREADY PAID CLAIM AMOUNT.
	CASE WHEN  CPC.COVERAGE_CODE_ID IN (50017, 50018,50020, 50022) THEN
			(SELECT SUM(CAR.OUTSTANDING) FROM CLM_ACTIVITY_RESERVE CAR WITH(NOLOCK)
			 LEFT OUTER JOIN CLM_PRODUCT_COVERAGES CPC ON CAR.CLAIM_ID = CPC.CLAIM_ID AND CAR.COVERAGE_ID = CPC.CLAIM_COV_ID 
			 WHERE CPC.COVERAGE_CODE_ID IN (50017, 50018,50020, 50022) 
			 AND CAR.CLAIM_ID = VW.CLAIM_ID  
			 AND CAR.ACTIVITY_ID = CA.ACTIVITY_ID 
			 AND CA.IS_VOIDED_REVERSED_ACTIVITY IS NULL
			 --(SELECT MAX(CA1.ACTIVITY_ID) FROM CLM_ACTIVITY CA1 WITH(NOLOCK)
			 --WHERE CA1.ACTION_ON_PAYMENT IN (165,166) AND CA1.CLAIM_ID = CA.CLAIM_ID AND CA1.ACTIVITY_ID = CA.ACTIVITY_ID)
			 ) + CAR1.TOTAL_PAYMENT_AMOUNT 
			   
			 WHEN CPC.COVERAGE_CODE_ID NOT IN (50017, 50018, 50019, 50020, 50021, 50022) THEN
			(SELECT SUM((CAR.OUTSTANDING)) FROM CLM_ACTIVITY_RESERVE CAR WITH(NOLOCK) 
			 LEFT OUTER JOIN CLM_PRODUCT_COVERAGES CPC ON CAR.CLAIM_ID = CPC.CLAIM_ID AND CAR.COVERAGE_ID = CPC.CLAIM_COV_ID 
			 WHERE CPC.COVERAGE_CODE_ID NOT IN (50017, 50018, 50019, 50020, 50021, 50022) 
			 AND  CAR.CLAIM_ID = VW.CLAIM_ID 
			 AND ACTIVITY_ID = CA.ACTIVITY_ID
			 AND CA.IS_VOIDED_REVERSED_ACTIVITY IS NULL
			 --(SELECT MAX(CA1.ACTIVITY_ID)  FROM CLM_ACTIVITY CA1 WITH(NOLOCK)WHERE CA1.ACTION_ON_PAYMENT IN (165,166) AND CA1.CLAIM_ID = CA.CLAIM_ID AND CA1.ACTIVITY_ID = CA.ACTIVITY_ID)
			 ) + CAR1.TOTAL_PAYMENT_AMOUNT 
	   END AS TOTAL_CLAIM_AMOUNT,
		--CAST((ISNULL(VW.OUTSTANDING_RESERVE,0) + ISNULL(VW.PAID_EXPENSE,0) + ISNULL(VW.PAID_LOSS,0)) AS DECIMAL(16,2))  AS TOTAL_CLAIM_AMOUNT,
		
		
		
------------------------------------------------------------------------------------------------------------
			--LAST MOVEMENT TYPE RECORDED IN THE CLAIM, ACCORDING TO THE MOVEMENT TYPE TABLE.
			--201-FNOL(RESERVE CREATION)
			--204-CLAIM RE-EVALUATION(CHANGE RESERVE)
			--207-PARTIAL INDEMNITY (PAYMENT PARTIAL)
			--208-TOTAL INDEMNITY (PAYMENT FULL)
			--211-CLAIM CLOSURE/ CANCELLATION (CLOSE RESERVE)
			--214-CLAIM REOPENING (REOPEN RESERVE)
		------------------------------------------------------------------------------------------------------------
		--'TIPO MOVE' AS TIPO_MOVE

 CASE(SELECT TOP 1 ACTION_ON_PAYMENT  FROM CLM_ACTIVITY WITH(NOLOCK)   
   WHERE CLAIM_ID=VW.CLAIM_ID AND IS_ACTIVE='Y' AND IS_VOIDED_REVERSED_ACTIVITY IS NULL AND ACTIVITY_STATUS = '11801' AND ACTION_ON_PAYMENT IN (165,166,180,181,167,168)     
    ORDER BY ACTIVITY_ID desc )
  
  	   WHEN  '165' THEN '201'
	   WHEN  '166' THEN CASE --WHEN CAR1.PREV_OUTSTANDING = 0.00 AND CAR1.OUTSTANDING > 0.00 THEN '201'
							 WHEN (SELECT SUM(CAR2.PREV_OUTSTANDING) 
									FROM CLM_ACTIVITY_RESERVE CAR2 
									WHERE CAR2.CLAIM_ID = CA.CLAIM_ID AND CAR2.ACTIVITY_ID = (SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY WHERE CLAIM_ID=VW.CLAIM_ID AND IS_ACTIVE='Y' AND ACTIVITY_STATUS = '11801')) > 0.00 
							 AND (SELECT SUM(CAR2.OUTSTANDING) 
									FROM CLM_ACTIVITY_RESERVE CAR2 
									WHERE CAR2.CLAIM_ID = CA.CLAIM_ID AND CAR2.ACTIVITY_ID = (SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY WHERE CLAIM_ID=VW.CLAIM_ID AND IS_ACTIVE='Y' AND ACTIVITY_STATUS = '11801')) = 0.00   THEN '211'
							 WHEN (SELECT SUM(CAR2.PREV_OUTSTANDING) 
									FROM CLM_ACTIVITY_RESERVE CAR2 
									WHERE CAR2.CLAIM_ID = CA.CLAIM_ID AND CAR2.ACTIVITY_ID = (SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY WHERE CLAIM_ID=VW.CLAIM_ID AND IS_ACTIVE='Y' AND ACTIVITY_STATUS = '11801'))  = 0.00 
							 AND (SELECT SUM( CAR2.OUTSTANDING) 
									FROM CLM_ACTIVITY_RESERVE CAR2 
									WHERE CAR2.CLAIM_ID = CA.CLAIM_ID AND CAR2.ACTIVITY_ID = (SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY WHERE CLAIM_ID=VW.CLAIM_ID AND IS_ACTIVE='Y' AND ACTIVITY_STATUS = '11801')) > 0.00 THEN '214'
							 ELSE '204' 
						END
	   WHEN  '180' THEN '207'
	   WHEN  '181' THEN 
						CASE WHEN
						(SELECT SUM( CAR2.OUTSTANDING) 
									FROM CLM_ACTIVITY_RESERVE CAR2 
									WHERE CAR2.CLAIM_ID = CA.CLAIM_ID AND CAR2.ACTIVITY_ID = (SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY WHERE CLAIM_ID=VW.CLAIM_ID AND IS_ACTIVE='Y' AND ACTIVITY_STATUS = '11801')) > 0.00 
						THEN '207'
						ELSE '208'
						END
	   WHEN  '167' THEN '211'
	   WHEN  '168' THEN '214'
       END AS TIPO_MOV,
 
		VW.POLICY_NUMBER AS POLICY_NUMBER,
		VW.CLAIM_NUMBER AS CLAIM_NUMBER
   FROM 
		VW_SUSEP_FORM_SINPENDAC_SINPAGAC VW WITH(NOLOCK) 
	INNER JOIN
		CLM_ACTIVITY CA WITH(NOLOCK) ON (CA.CLAIM_ID = VW.CLAIM_ID)
				AND CA.ACTION_ON_PAYMENT IN (180,181,165,166,167,168)
				AND CA.IS_VOIDED_REVERSED_ACTIVITY IS NULL
				AND CA.ACTIVITY_ID = 
				(SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY WITH(NOLOCK)
									 WHERE CLAIM_ID=CA.CLAIM_ID AND ACTIVITY_STATUS='11801' AND IS_ACTIVE='Y'
									 AND YEAR(COMPLETED_DATE)=@YEAR AND MONTH(COMPLETED_DATE)=@MONTH
									 AND IS_VOIDED_REVERSED_ACTIVITY IS NULL)

	LEFT OUTER JOIN 
		CLM_ACTIVITY_RESERVE CAR1 WITH(NOLOCK) ON CA.CLAIM_ID = CAR1.CLAIM_ID 
												  AND CA.ACTIVITY_ID = CAR1.ACTIVITY_ID 
												  AND(CAR1.OUTSTANDING <> 0  OR CAR1.PREV_OUTSTANDING <> 0)
												 -- AND (CAR1.OUTSTANDING_TRAN<>0) 
												 -- AND (SELECT SUM(OUTSTANDING) FROM CLM_ACTIVITY_RESERVE TCAR WITH(NOLOCK)
													--WHERE TCAR.CLAIM_ID = CAR1.CLAIM_ID AND TCAR.ACTIVITY_ID 
													--= (SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY WHERE CLAIM_ID=VW.CLAIM_ID AND IS_ACTIVE='Y' AND ACTIVITY_STATUS = '11801' AND CA.IS_VOIDED_REVERSED_ACTIVITY IS NULL)) <> 0
												 
    LEFT OUTER JOIN 
		CLM_PRODUCT_COVERAGES CPC WITH(NOLOCK) ON CA.CLAIM_ID = CPC.CLAIM_ID 
												  AND CAR1.COVERAGE_ID = CPC.CLAIM_COV_ID 			
												  AND (SELECT SUM(OUTSTANDING) FROM CLM_ACTIVITY_RESERVE TCAR WITH(NOLOCK)
													 INNER JOIN 
													CLM_PRODUCT_COVERAGES B ON (TCAR.CLAIM_ID = B.CLAIM_ID AND TCAR.COVERAGE_ID = B.CLAIM_COV_ID)
													WHERE TCAR.CLAIM_ID = CAR1.CLAIM_ID  AND TCAR.ACTIVITY_ID 
													= (SELECT MAX(ACTIVITY_ID) FROM CLM_ACTIVITY 
														WHERE CLAIM_ID=VW.CLAIM_ID AND IS_ACTIVE='Y' AND ACTIVITY_STATUS = '11801')
													AND B.COVERAGE_CODE_ID = CPC.COVERAGE_CODE_ID) <> 0
												
   WHERE
		 --CONVERT(varchar(6),CA.CREATED_DATETIME,112)=CONVERT(varchar(6),@DATETIME,112) AND
		 YEAR(CA.COMPLETED_DATE)=@YEAR AND MONTH(CA.COMPLETED_DATE)=@MONTH AND
		 (@CLAIM_NUMBER IS NULL OR VW.CLAIM_NUMBER = @CLAIM_NUMBER)
		 AND VW.CO_INSURANCE = 14549 -- FOR FOLLOWER
		 AND VW.CLAIM_STATUS = 11739 --PENDING CLAIMS
		 AND VW.OFFCIAL_CLAIM_NUMBER IS NOT NULL
		 AND VW.OFFCIAL_CLAIM_NUMBER <> ''
		 AND CA.ACTIVITY_STATUS = 11801 -- COMPL
		 AND CA.ACTION_ON_PAYMENT IN (180,181,165,166,167,168) ----IF NONE RESERVE CREATED,THE CLAIM SHOULD NOTCOME ON REPORT.

),

 FINAL_TEMPTABLE AS
(

   SELECT 
		  -- LEFT(CONVERT(VARCHAR,SEQUENCE_NO),10) AS SEQUENCIA,
		   CONVERT(VARCHAR,ROW_NUMBER() OVER( ORDER BY  TIPO_MOV)) AS [SEQUENCIA], 
		   COMPANY_CODE AS COD_CIA,
		   REFERENCE_MONTH AS DT_BASE,
		   ISNULL(TIPO_MOV,0) AS TIPO_MOV,
		   ISNULL(SUSEP_LOB_CODE,'') AS COD_RAMO,
		   CASE WHEN LEADER_SUSEP_CODE IS NULL THEN ''
				ELSE SUBSTRING(RIGHT(ISNULL(LEADER_SUSEP_CODE,''),4),1,3) + '-' +  SUBSTRING(RIGHT(ISNULL(LEADER_SUSEP_CODE,''),4),4,1) 
		   END AS  COD_COSS,
		  --SUBSTRING(LEADER_SUSEP_CODE,2,3) + '-' + SUBSTRING(LEADER_SUSEP_CODE,5,1),
		   -- + '-' AS  COD_COSS,
		   ISNULL(RIGHT('                    ' +CONVERT(VARCHAR,LEADER_CLAIM_NUMBER),20),'') AS NUM_SIN,
		   ISNULL(RIGHT('                    ' +CONVERT(VARCHAR,LEADER_POLICY_NUMBER),20),'')  AS NUM_APOL,
		   ISNULL(RIGHT('                    ' +CONVERT(VARCHAR,LEADER_ENDORSEMENT_NUMBER),20),'')  AS NUM_END,
		   ISNULL(CLAIM_REGISTRATION_DATE,'') AS DT_REG,
		   ISNULL(FIRST_NOTICE_OF_LOSS,'') AS DT_AVISO,
		   ISNULL(LOSS_DATE,'') AS DT_OCOR,
		   CONVERT(VARCHAR,ISNULL(PENDING_PAYMENT_VALUE,0)) AS VR_PENDENTE,
		   CONVERT(VARCHAR,ISNULL(TOTAL_CLAIM_AMOUNT,0)) AS VR_TOT,
		   ISNULL(CLAIM_TYPE,0) AS TP_SIN,
		   POLICY_NUMBER,
		   CLAIM_NUMBER
		   FROM TEMPTABLE 
		   WHERE (PENDING_PAYMENT_VALUE IS NOT NULL)
    )
 
 SELECT * FROM FINAL_TEMPTABLE 

END

GO
