IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetPDFUmbrella_GeneralInfoDetails]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetPDFUmbrella_GeneralInfoDetails]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


-- drop PROCEDURE dbo.Proc_GetPDFUmbrella_GeneralInfoDetails     
CREATE   PROCEDURE dbo.Proc_GetPDFUmbrella_GeneralInfoDetails    
(    
 @CUSTOMERID   int,    
 @POLID                int,    
 @VERSIONID   int,    
 @CALLEDFROM  VARCHAR(20)    
)    
AS    
BEGIN    
 IF (@CALLEDFROM='APPLICATION')    
 BEGIN    
  SELECT UND_REMARKS AS REMARKS,CALCULATIONS, ANY_AIRCRAFT_OWNED_LEASED,ANY_AIRCRAFT_OWNED_LEASED_DESC,    
   ANY_OPERATOR_CON_TRAFFIC, ANY_OPERATOR_CON_TRAFFIC_DESC    
   ,ANY_OPERATOR_IMPIRED, ANY_OPERATOR_IMPIRED_DESC,    
    ANY_SWIMMING_POOL, ANY_SWIMMING_POOL_DESC,     
   REAL_STATE_VEHICLE_USED, REAL_STATE_VEHICLE_USED_DESC,    
    REAL_STATE_VEH_OWNED_HIRED, REAL_STATE_VEH_OWNED_HIRED_DESC,    
    ENGAGED_IN_FARMING, ENGAGED_IN_FARMING_DESC    
   ,HOLD_NON_COMP_POSITION, HOLD_NON_COMP_POSITION_DESC,     
   ANY_FULL_TIME_EMPLOYEE, ANY_FULL_TIME_EMPLOYEE_DESC     
   ,NON_OWNED_PROPERTY_CARE, NON_OWNED_PROPERTY_CARE_DESC,     
   BUSINESS_PROF_ACTIVITY, BUSINESS_PROF_ACTIVITY_DESC    
   ,REDUCED_LIMIT_OF_LIBLITY, REDUCED_LIMIT_OF_LIBLITY_DESC,     
   ANY_COVERAGE_DECLINED, ANY_COVERAGE_DECLINED_DESC    
   ,ANIMALS_EXOTIC_PETS, ANIMALS_EXOTIC_PETS_DESC,     
   INSU_TRANSFERED_IN_AGENCY, INSU_TRANSFERED_IN_AGENCY_DESC    
   ,PENDING_LITIGATIONS, PENDING_LITIGATIONS_DESC,     
   IS_TEMPOLINE, IS_TEMPOLINE_DESC,AUTO_CYCL_TRUCKS,AUTO_CYCL_TRUCKS_DESC,    
   HOME_RENT_DWELL,HOME_RENT_DWELL_DESC, RECR_VEH, RECR_VEH_DESC, WAT_DWELL,    
   WAT_DWELL_DESC, APPLI_UNDERSTAND_LIABILITY_EXCLUDED, APPLI_UNDERSTAND_LIABILITY_EXCLUDED_DESC    
   ,HAVE_NON_OWNED_AUTO_POL,HAVE_NON_OWNED_AUTO_POL_DESC,     
   INS_DOMICILED_OUTSIDE,INS_DOMICILED_OUTSIDE_DESC,HOME_DAY_CARE,HOME_DAY_CARE_DESC    
  FROM APP_UMBRELLA_GEN_INFO      
  WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@POLID AND APP_VERSION_ID=@VERSIONID    
    
     
    
 END    
 ELSE IF (@CALLEDFROM='POLICY')    
 BEGIN    
    
  SELECT UND_REMARKS AS REMARKS,CALCULATIONS, ANY_AIRCRAFT_OWNED_LEASED,ANY_AIRCRAFT_OWNED_LEASED_DESC,    
   ANY_OPERATOR_CON_TRAFFIC, ANY_OPERATOR_CON_TRAFFIC_DESC    
   ,ANY_OPERATOR_IMPIRED, ANY_OPERATOR_IMPIRED_DESC,    
    ANY_SWIMMING_POOL, ANY_SWIMMING_POOL_DESC,     
   REAL_STATE_VEHICLE_USED, REAL_STATE_VEHICLE_USED_DESC,    
    REAL_STATE_VEH_OWNED_HIRED, REAL_STATE_VEH_OWNED_HIRED_DESC,    
    ENGAGED_IN_FARMING, ENGAGED_IN_FARMING_DESC    
   ,HOLD_NON_COMP_POSITION, HOLD_NON_COMP_POSITION_DESC,     
   ANY_FULL_TIME_EMPLOYEE, ANY_FULL_TIME_EMPLOYEE_DESC     
   ,NON_OWNED_PROPERTY_CARE, NON_OWNED_PROPERTY_CARE_DESC,     
   BUSINESS_PROF_ACTIVITY, BUSINESS_PROF_ACTIVITY_DESC    
   ,REDUCED_LIMIT_OF_LIBLITY, REDUCED_LIMIT_OF_LIBLITY_DESC,     
   ANY_COVERAGE_DECLINED, ANY_COVERAGE_DECLINED_DESC    
   ,ANIMALS_EXOTIC_PETS, ANIMALS_EXOTIC_PETS_DESC,     
   INSU_TRANSFERED_IN_AGENCY, INSU_TRANSFERED_IN_AGENCY_DESC    
   ,PENDING_LITIGATIONS, PENDING_LITIGATIONS_DESC,     
   IS_TEMPOLINE, IS_TEMPOLINE_DESC,AUTO_CYCL_TRUCKS,AUTO_CYCL_TRUCKS_DESC,    
   HOME_RENT_DWELL,HOME_RENT_DWELL_DESC, RECR_VEH, RECR_VEH_DESC, WAT_DWELL,    
   WAT_DWELL_DESC, APPLI_UNDERSTAND_LIABILITY_EXCLUDED, APPLI_UNDERSTAND_LIABILITY_EXCLUDED_DESC    
   ,HAVE_NON_OWNED_AUTO_POL,HAVE_NON_OWNED_AUTO_POL_DESC,     
   INS_DOMICILED_OUTSIDE,INS_DOMICILED_OUTSIDE_DESC,HOME_DAY_CARE,HOME_DAY_CARE_DESC     
  FROM POL_UMBRELLA_GEN_INFO      
      
  WHERE CUSTOMER_ID=@CUSTOMERID AND POLICY_ID=@POLID AND POLICY_VERSION_ID=@VERSIONID    
     
 END    
END    
    
    
    
  



GO

