IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_SUSEP_PREMREC_DIRECT_PREMIUMS_RECEIVED]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_SUSEP_PREMREC_DIRECT_PREMIUMS_RECEIVED]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[PROC_SUSEP_PREMREC_DIRECT_PREMIUMS_RECEIVED]    
(
 @DATETIME DATETIME,  
 @POLICY_NUMBER VARCHAR(22) = NULL  
 
)        
AS 
DECLARE @LANG_ID INT = 2
DECLARE @MONTH VARCHAR(2)  
 DECLARE @YEAR VARCHAR(4) 
 DECLARE @TEMP NVARCHAR(500)
 SET @MONTH= DATEPART(MM, @DATETIME) 
 SET @YEAR=(SELECT DATEPART(YYYY, @DATETIME))  
 BEGIN
	DECLARE @TEMPTABLE TABLE 
	(
		SEQUENCE_NO INT IDENTITY(1,1), ---SEQUENCE NUMBER.
		COMPANY_CODE VARCHAR(50),
		REFERENCE_MONTH VARCHAR(8),
		TYPE_TRANSACTION VARCHAR(30),
		SUSEP_LOB_CODE VARCHAR(5),
		POLICY_NUMBER NVARCHAR(150),
		ENDORSEMENT_NO VARCHAR(20),
		NO_OF_PROPOSAL NVARCHAR(150),
		PROPOSAL_DATE VARCHAR(10),
		INSTALLMENT_NO INT,
		INSTALLMENT_QUANTITY INT,--SH
		DATE_INSTALLMENT_GENERATION VARCHAR(10),--SH
		INSTALLMENT_DUE_DATE VARCHAR(10),
		EFFECTIVE_DATE VARCHAR(10),
		EXPIRED_DATE VARCHAR(10),
		INSTALLMENT_AMOUNT NVARCHAR(100),
		LEADER_COINSURANCE_FEE NVARCHAR(100),--SH
		INTEREST_AMOUNT NVARCHAR(100),
		FEE NVARCHAR(100),
		TAXES NVARCHAR(100),
		OFER CHAR(1)
		
		
		
	 )
INSERT INTO @TEMPTABLE  
  
   SELECT   
   --VW.PCPL_CUSTOMER_ID,
   --VW.PCPL_POLICY_ID,
   --VW.PCPL_POLICY_VERSION_ID,
    --ALIANÇA DA BAHIA SUSEP CODE.  
   '504-5' AS COMPANY_CODE,   
     
    -----BASE MONTH: YYYYMM.  
    CASE    
   WHEN @MONTH IN (1,2,3,4,5,6,7,8,9) THEN  @YEAR + '0' + @MONTH   
   WHEN @MONTH IN (10,11,12) THEN  @YEAR + @MONTH  
   END AS REFERENCE_MONTH,  --REFERENCE MONTH OF THE REPORT.  
     
     
   ------------------------------------------------------------------------------------------------------------  
   --TYPE OF TRANSACTION.  
   --101-POLICY ISSUANCE.   
   --102-ADDITIONAL PREMIUM CHARGE ENDORSEMENT.   
   ------------------------------------------------------------------------------------------------------------  
   CASE                 
    WHEN PPP.PROCESS_ID IN (18,25) THEN '101'--SH                
    WHEN PPP.PROCESS_ID IN (14) AND (PPP.ENDORSEMENT_TYPE = 14682 or APID.INSTALLMENT_AMOUNT >= 0 )THEN '102'                
   END AS TYPE_TRANSACTION,   
     
     
   -----------SUSEP LOB CODE    
  MLM2.SUSEP_LOB_CODE,  
     
   --------NUMBER OF POLICY/CERTIFICATE  
   --RIGHT(PCPL.POLICY_NUMBER,6) AS POLICY_NUMBER,  
     PCPL.POLICY_NUMBER AS POLICY_NUMBER,  --BY KULDEEP FOR ITRACK 1247 TO GET 20 DIGIT POLICY NUMBER
     
   --------NUMBER OF ENDORSEMENT  
   PPE.ENDORSEMENT_NO,  
     
     
   -----------------------------------------------------------------------------------------------------------  
   --NUMBER OF PROPOSAL   
   --SINCE THERE IS NO PROPOSAL STAGE FOR ENDORSEMENT IN THE SYSTEM, WE SUGGEST:    --1. FOR NEW BUSINESS AND RENEWAL, WE USE THE APPLICATION NUMBER    --2. FOR ENDORSEMENT, WE USE ENDORSEMENT NUMBER  
  
   -----------------------------------------------------------------------------------------------------------  
   CAST( CASE                 
    WHEN PPP.PROCESS_ID IN (18,25)            
    THEN '         ' + PCPL.APP_NUMBER  
     --THEN  ISNULL(PCPL.APP_NUMBER,'')                
    WHEN PPP.PROCESS_ID IN (14) THEN '                   ' + CONVERT(VARCHAR(5),PPE.ENDORSEMENT_NO)                
  --THEN ISNULL(CONVERT(VARCHAR(5),PPE.ENDORSEMENT_NO),'')  
   END AS VARCHAR(20)) NO_OF_PROPOSAL,  
     
     
   -----------------------------------------------------------------------------------------------------------  
   --PROPOSAL DATE.  
   --SINCE THERE IS NO PROPOSAL STAGE FOR ENDORSEMENT IN THE SYSTEM, WE SUGGEST:    --1. FOR NEW BUSINESS AND RENEWAL, WE USE THE PROPOSAL DATE    --2. FOR ENDORSEMENT, WE USE ENDORSEMENT ENTRY DATE.  
   -----------------------------------------------------------------------------------------------------------  
   CASE   
    WHEN PPP.PROCESS_ID IN (18,25) THEN  CONVERT(VARCHAR(10),PCPL.APP_INCEPTION_DATE,112)   
    WHEN PPP.PROCESS_ID IN (14) THEN  CONVERT(VARCHAR(10),PPE.CREATED_DATETIME,112)  
   END PROPOSAL_DATE,  
     
     
   --------INSTALLMENT NUMBER.  
   APID.INSTALLMENT_NO,  
  
  
      -----INSTALLMENTS QUANTITY.  
   -- COUNT(APID.INSTALLMENT_NO) AS INSTALLMENT_QUANTITY,  
    (SELECT COUNT(*) FROM ACT_POLICY_INSTALLMENT_DETAILS APID2 WITH(NOLOCK)   
     WHERE APID2.CUSTOMER_ID=PCPL.CUSTOMER_ID AND APID2.POLICY_ID=PCPL.POLICY_ID    
    AND APID2.POLICY_VERSION_ID=PCPL.POLICY_VERSION_ID     
     GROUP BY APID2.CUSTOMER_ID,APID2.POLICY_ID,APID2.POLICY_VERSION_ID) AS INSTALMENT_QUANTITY ,  
  
  
     -----DATE OF INSTALLMENT GENERATION  
    CONVERT(VARCHAR(10),ISNULL(APID.CREATED_DATETIME,PPP.COMPLETED_DATETIME),112) AS DATE_INSTALLMENT_GENERATION,  
     
  
     
   ------INSTALLMENT DUE DATE  
    CONVERT(VARCHAR(10),APID.INSTALLMENT_EFFECTIVE_DATE,112) AS INSTALLMENT_DUE_DATE,  
      
      
     --------------------------------------------------------------------------------------------  
  --IT IS THE EFFECTIVE DATE OF POLICY OR ENDORSEMENT.   --1.FOR NEW BUSINESS OR RENEWAL, POLICY EFFECTIVE DATE.(NEW BUSINESS:24,25 ; RENEWAL:5)   --2.FOR ENDORSEMENT, ENDORSEMENT EFFECTIVE DATE.(ENDORSEMENT:3,14)  
   --------------------------------------------------------------------------------------------  
   CASE   
  WHEN PPP.PROCESS_ID IN (18,25) THEN CONVERT(VARCHAR(10),PCPL.POLICY_EFFECTIVE_DATE,112)  
  WHEN PPP.PROCESS_ID IN (14) THEN CONVERT(VARCHAR(10),PPP.EFFECTIVE_DATETIME,112)   
   END AS EFFECTIVE_DATE,  
     
     
    ----------------------------------------------------------------------------------------------------  
  --EXPIRED DATE.   --1.FOR NEW BUSINESS OR RENEWAL, POLICY EXPIRY DATE.   --2.FOR ENDORSEMENT, ENDORSEMENT EXPIRY DATE.   
    ---------------------------------------------------------------------------------------------------  
   CASE   
  WHEN PPP.PROCESS_ID IN (18,25) THEN CONVERT(VARCHAR(10),PCPL.POLICY_EXPIRATION_DATE,112)  
  WHEN PPP.PROCESS_ID IN (14) THEN CONVERT(VARCHAR(10),PPP.[EXPIRY_DATE],112)   
   END AS EXPIRED_DATE,  
     
   -------------INSTALLMENT AMOUNT 

   --dbo.fun_FormatCurrency(ISNULL(APID.INSTALLMENT_AMOUNT,0),@LANG_ID) AS INSTALLMENT_AMOUNT,   
      CAST((SUM(PPC.WRITTEN_PREMIUM)     
     / (SELECT COUNT(*) FROM ACT_POLICY_INSTALLMENT_DETAILS APID2 WITH(NOLOCK)                   
     WHERE APID2.CUSTOMER_ID=PCPL.CUSTOMER_ID AND APID2.POLICY_ID=PCPL.POLICY_ID                    
    AND APID2.POLICY_VERSION_ID=PCPL.POLICY_VERSION_ID                     
     GROUP BY APID2.CUSTOMER_ID,APID2.POLICY_ID,APID2.POLICY_VERSION_ID))    
     AS DECIMAL(25,2))  AS INSTALLMENT_AMOUNT, 
  
     ------TOTAL OF % OF OUTWARDS COINSURANCE  
  
  /*dbo.fun_FormatCurrency(ISNULL(ISNULL(APID.INSTALLMENT_AMOUNT ,0) *((SELECT SUM(COINSURANCE_PERCENT) FROM POL_CO_INSURANCE PCI WITH(NOLOCK)  
  WHERE PCI.LEADER_FOLLOWER = 14549 AND PCI.CUSTOMER_ID = PCPL.CUSTOMER_ID   
          AND PCI.POLICY_ID = PCPL.POLICY_ID   
          AND PCI.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID) /100),0),@LANG_ID) AS LEADER_COINSURANCE_FEE,  

   --ISNULL(APID.INSTALLMENT_AMOUNT ,0) * (VW.COINSURANCE_PERCENT /100) AS LEADER_COINSURANCE_FEE,*/
   
  /* ((SELECT ABS(SUM(ISNULL(TOTAL_DUE,0))) AS TOTAL_DUE FROM ACT_COI_OPEN_ITEMS ACOI2 WITH (NOLOCK)
			WHERE	ACOI2.CUSTOMER_ID = PCPL.CUSTOMER_ID     
				AND ACOI2.POLICY_ID = PCPL.POLICY_ID     
				AND ACOI2.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID
			AND RIGHT(ACOI2.ITEM_TRAN_CODE,1) = 'P'
			AND PCPL.CO_INSURANCE = 14548)
			/(SELECT COUNT(*) FROM ACT_POLICY_INSTALLMENT_DETAILS APID2 WITH(NOLOCK)     
     WHERE APID2.CUSTOMER_ID=PCPL.CUSTOMER_ID AND APID2.POLICY_ID=PCPL.POLICY_ID      
    AND APID2.POLICY_VERSION_ID=PCPL.POLICY_VERSION_ID       
     GROUP BY APID2.CUSTOMER_ID,APID2.POLICY_ID,APID2.POLICY_VERSION_ID))
			 AS LEADER_COINSURANCE_FEE,*/
	
	CAST(
   (SELECT ISNULL(SUM(COINSURANCE_PERCENT),0) FROM POL_CO_INSURANCE PCI WITH(NOLOCK)                  
		WHERE PCI.LEADER_FOLLOWER = 14549 AND PCI.CUSTOMER_ID = PCPL.CUSTOMER_ID                   
        AND PCI.POLICY_ID = PCPL.POLICY_ID                   
        AND PCI.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID) AS DECIMAL(25,2) )  
      AS LEADER_COINSURANCE_FEE,   
  
  
   ------------INSTALLMENT INTEREST AMOUNT(INTERESTS OF INSTALLMENT TO BE RECEIVED (OUTSTANDING)   
   --AT THE END OF MONTH)  
   -- dbo.fun_FormatCurrency(ISNULL(APID.INTEREST_AMOUNT,0),@LANG_ID) AS INTEREST_AMOUNT,
   CASE WHEN (SELECT COUNT(DISTINCT A.ACC_LOB_ID) FROM MNT_COVERAGE_ACCOUNTING_LOB A WITH (NOLOCK)
						INNER JOIN  POL_PRODUCT_COVERAGES PC WITH (NOLOCK) 
						ON A.COV_ID = PC.COVERAGE_ID
				 WHERE   PC.CUSTOMER_ID = PCPL.CUSTOMER_ID
				 AND PC.POLICY_ID = PCPL.POLICY_ID
				 AND PC.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID
				 GROUP BY PC.CUSTOMER_ID,PC.POLICY_ID,PC.POLICY_VERSION_ID) > 1 
				THEN      
    
					CASE WHEN  MCAL.ACC_LOB_ID = PCPL.POLICY_LOB THEN   CAST(ISNULL(APID.INTEREST_AMOUNT,0) AS DECIMAL(25,2))           
					 ELSE 0.00 END
				 
		 ELSE CAST(ISNULL(APID.INTEREST_AMOUNT,0) AS DECIMAL(25,2))
		 END  AS INTEREST_AMOUNT,
     
   --------POLICY COST = POLICY FEE  
   --dbo.fun_FormatCurrency(ISNULL(APID.FEE,0),@LANG_ID) AS FEE,
   CASE WHEN (SELECT COUNT(DISTINCT A.ACC_LOB_ID) FROM MNT_COVERAGE_ACCOUNTING_LOB A WITH (NOLOCK)
						INNER JOIN  POL_PRODUCT_COVERAGES PC WITH (NOLOCK) 
						ON A.COV_ID = PC.COVERAGE_ID
				 WHERE   PC.CUSTOMER_ID = PCPL.CUSTOMER_ID
				 AND PC.POLICY_ID = PCPL.POLICY_ID
				 AND PC.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID
				 GROUP BY PC.CUSTOMER_ID,PC.POLICY_ID,PC.POLICY_VERSION_ID) > 1 
				THEN 
   
				CASE WHEN MCAL.ACC_LOB_ID = PCPL.POLICY_LOB THEN CAST(ISNULL(APID.FEE,0) AS DECIMAL(25,2))           
				ELSE 0.00 END   
		 ELSE CAST(ISNULL(APID.FEE,0) AS DECIMAL(25,2))
		 END AS FEE, 
     
   -----FINANCIAL OPERATION TAX (IOF) VALUE  
   --dbo.fun_FormatCurrency(ISNULL(APID.TAXES,0),@LANG_ID) AS TAXES, 
   CASE WHEN (SELECT COUNT(DISTINCT A.ACC_LOB_ID) FROM MNT_COVERAGE_ACCOUNTING_LOB A WITH (NOLOCK)
						INNER JOIN  POL_PRODUCT_COVERAGES PC WITH (NOLOCK) 
						ON A.COV_ID = PC.COVERAGE_ID
				 WHERE   PC.CUSTOMER_ID = PCPL.CUSTOMER_ID
				 AND PC.POLICY_ID = PCPL.POLICY_ID
				 AND PC.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID
				 GROUP BY PC.CUSTOMER_ID,PC.POLICY_ID,PC.POLICY_VERSION_ID) > 1 
				THEN                         
			 CASE WHEN MCAL.ACC_LOB_ID = PCPL.POLICY_LOB THEN   CAST(ISNULL(APID.TAXES,0)AS DECIMAL(25,2))          
			  ELSE 0.00 END   
		 ELSE  CAST(ISNULL(APID.TAXES,0)AS DECIMAL(25,2))
		 END    AS TAXES,  
     
   ------ALIANÇA DA BAHIA AGREE TO FILL IN WITH 1 FOR NOW.  
   '1' AS OFER  
 
FROM  
  ACT_POLICY_INSTALLMENT_DETAILS  APID WITH(NOLOCK)  
 INNER JOIN  
   POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK) ON (PCPL.CUSTOMER_ID = APID.CUSTOMER_ID 
												  AND PCPL.POLICY_ID = APID.POLICY_ID 
												  AND PCPL.POLICY_VERSION_ID = APID.POLICY_VERSION_ID)   
    
 INNER JOIN    
   POL_POLICY_PROCESS PPP WITH(NOLOCK) ON (PPP.CUSTOMER_ID = PCPL.CUSTOMER_ID     
            AND PPP.POLICY_ID = PCPL.POLICY_ID    
            AND PPP.NEW_POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID    
            AND PPP.PROCESS_STATUS <> 'ROLLBACK')     
              
LEFT OUTER JOIN    
   MNT_PRODUCT_SUSEP_PROCESS_NUMBER MPSPN WITH(NOLOCK) ON (MPSPN.LOB_ID = PCPL.POLICY_LOB AND     
                 MPSPN.SUBLOB_ID = PCPL.POLICY_SUBLOB)    
    
      
INNER JOIN    
  MNT_DIV_LIST MDL WITH(NOLOCK) ON (MDL.DIV_ID = PCPL.DIV_ID)    
    
INNER JOIN          
  MNT_COUNTRY_STATE_LIST MCSL WITH(NOLOCK) ON (MCSL.STATE_ID = MDL.DIV_STATE     
              AND MCSL.COUNTRY_ID = MDL.DIV_COUNTRY)     
--INNER JOIN    
--  MNT_LOB_MASTER MLM WITH(NOLOCK) ON (MLM.LOB_ID = PCPL.POLICY_LOB)   
        
--LEFT OUTER JOIN--SH    
--  POL_CO_INSURANCE PCI_LEADER WITH(NOLOCK) ON (PCI_LEADER.CUSTOMER_ID = PCPL.CUSTOMER_ID AND     
--            PCI_LEADER.POLICY_ID = PCPL.POLICY_ID AND     
--            PCI_LEADER.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID)    
--LEFT OUTER JOIN     
--  MNT_REIN_COMAPANY_LIST MRCL WITH(NOLOCK) ON (MRCL.REIN_COMAPANY_ID = PCI_LEADER.COMPANY_ID)    
    
LEFT OUTER JOIN     
  POL_POLICY_ENDORSEMENTS PPE WITH(NOLOCK) ON (PPE.CUSTOMER_ID = PCPL.CUSTOMER_ID AND     
             PPE.POLICY_ID = PCPL.POLICY_ID AND     
             PPE.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID)    
               
 --LEFT JOIN   
 -- VW_POL_PRODUCT_RISK_DETAILS AS VW_RISK WITH(NOLOCK) ON (VW_RISK.CUSTOMER_ID = VW.PCPL_CUSTOMER_ID   
 --               AND VW_RISK.POLICY_ID = VW.PCPL_POLICY_ID   
 --               AND VW_RISK.POLICY_VERSION_ID = VW.PCPL_POLICY_VERSION_ID  
 --               AND VW_RISK.STATE_ID = VW.STATE_ID  
 --               )
 INNER JOIN POL_PRODUCT_COVERAGES PPC (NOLOCK) ON PCPL.CUSTOMER_ID = PPC.CUSTOMER_ID   
AND PCPL.POLICY_ID = PPC.POLICY_ID   
AND PCPL.POLICY_VERSION_ID = PPC.POLICY_VERSION_ID  
--AND PPC.RISK_ID =   
  
LEFT OUTER JOIN  
[MNT_COVERAGE_ACCOUNTING_LOB] MCAL (NOLOCK) ON PPC.COVERAGE_CODE_ID = MCAL.COV_ID  
LEFT OUTER JOIN   
MNT_LOB_MASTER MLM2 (NOLOCK) ON MLM2.LOB_ID = MCAL.ACC_LOB_ID          
  
 WHERE  
   --CONVERT(VARCHAR(6),PPP.CREATED_DATETIME,112) = CONVERT(VARCHAR(6),@DATETIME,112) AND  
    CONVERT(VARCHAR(6),APID.INSTALLMENT_EFFECTIVE_DATE,112) = CONVERT(VARCHAR(6),@DATETIME,112) AND  
   (@POLICY_NUMBER IS NULL OR   
   PCPL.POLICY_NUMBER =  @POLICY_NUMBER )  
   AND   
   APID.RELEASED_STATUS = 'N'  
   AND PCPL.POLICY_STATUS NOT IN ('UISSUE','UCANCL') ----CHANGED BY SHUBHANSHU FOR ITRACK 1247     
  AND PPP.PROCESS_ID IN (14,18,25)  
   AND APID.INSTALLMENT_AMOUNT > 0  
   --AND VW.CO_INSURANCE IN (14547,14548) 
  AND( PPE.ENDORSEMENT_STATUS IS null or PPE.ENDORSEMENT_STATUS <>'CAN' )
 GROUP BY PCPL.CUSTOMER_ID,  
   PCPL.POLICY_ID,  
   PCPL.POLICY_VERSION_ID,  
   PPP.PROCESS_ID,  
            PPP.ENDORSEMENT_TYPE,  
            MCAL.ACC_LOB_ID,  
            APID.INSTALLMENT_AMOUNT,  
            MLM2.SUSEP_LOB_CODE,  
            PCPL.POLICY_NUMBER,  
            PPE.ENDORSEMENT_NO,  
            PCPL.APP_NUMBER,  
            PCPL.APP_INCEPTION_DATE,  
            PPE.CREATED_DATETIME,  
            APID.INSTALLMENT_NO,  
            APID.CREATED_DATETIME,  
            APID.INSTALLMENT_EFFECTIVE_DATE,  
            PCPL.POLICY_EFFECTIVE_DATE,  
            PPP.EFFECTIVE_DATETIME,  
            PCPL.POLICY_EXPIRATION_DATE,  
            PPP.[EXPIRY_DATE],  
            PCPL.CO_INSURANCE,  
            APID.INTEREST_AMOUNT,  
            PCPL.POLICY_LOB,  
            APID.FEE,  
            APID.TAXES   
ORDER BY    PCPL.CUSTOMER_ID,  
   PCPL.POLICY_ID,  
   PCPL.POLICY_VERSION_ID,MLM2.SUSEP_LOB_CODE,APID.INSTALLMENT_NO 

	  	 
SELECT               
  RIGHT('0000000000' +CONVERT(VARCHAR,SEQUENCE_NO),10) AS SEQUENCE,              
  COMPANY_CODE AS COD_CIA,              
  REFERENCE_MONTH AS DT_BASE,              
  ISNULL(TYPE_TRANSACTION,'') AS TIPO_MOV,              
  ISNULL(RIGHT('0000'+ CONVERT(VARCHAR,SUSEP_LOB_CODE),4),'') AS COD_RAMO,              
  RIGHT('00000000000000000000' +CONVERT(VARCHAR,ISNULL(POLICY_NUMBER,'0')),20)  AS NUM_APOL,              
  RIGHT(CONVERT(VARCHAR,ISNULL(ENDORSEMENT_NO,'')),20) AS NUM_END,              
  --RIGHT('00000000000000000000' +CONVERT(VARCHAR,ISNULL(LTRIM(NO_OF_PROPOSAL),'')),20) AS NUM_PROP,              
  --ITRACK COMMENT   
  CONVERT(VARCHAR,ISNULL(NO_OF_PROPOSAL,'')) AS NUM_PROP,              
  ISNULL(PROPOSAL_DATE,'') AS DT_PROP,              
  RIGHT(CONVERT(VARCHAR,INSTALLMENT_NO),2) AS PRESTACAO,              
  RIGHT(CONVERT(VARCHAR,INSTALLMENT_QUANTITY),2) AS QTDE_PREST,              
  ISNULL(DATE_INSTALLMENT_GENERATION,'') AS DT_EMIS_PRE,              
  ISNULL(INSTALLMENT_DUE_DATE,'') AS DT_VEN_PRE,              
  ISNULL(EFFECTIVE_DATE,'') AS DT_INI_VIG,              
  ISNULL(EXPIRED_DATE,'') AS DT_FIM_VIG,              
  --RIGHT('0000000000000000' +REPLACE(CONVERT(VARCHAR,ISNULL( INSTALLMENT_AMOUNT,'0')),',',''),16)  AS PR_EMIT,              
  RIGHT(ISNULL(INSTALLMENT_AMOUNT,'0.00'),16) AS PR_EMIT,   
  --RIGHT('0000000000000000' +REPLACE(CONVERT(VARCHAR,ISNULL( LEADER_COINSURANCE_FEE,'0')),',',''),16)  AS PER_COSS,              
  RIGHT(ISNULL( LEADER_COINSURANCE_FEE,'0.00'),16) AS PER_COSS,  
  --RIGHT('0000000000000000' +REPLACE(CONVERT(VARCHAR,ISNULL( INTEREST_AMOUNT,'0')),',',''),16)  AS AD_FRAC,              
  RIGHT(ISNULL( INTEREST_AMOUNT,'0.00'),16) AS AD_FRAC,   
  --RIGHT('0000000000000000' +REPLACE(CONVERT(VARCHAR,ISNULL(  FEE ,'0')),',',''),16)AS CUST_APOL,    
  RIGHT(ISNULL(  FEE ,'0.00'),16)   AS CUST_APOL,          
  --RIGHT('0000000000000000' +REPLACE(CONVERT(VARCHAR,ISNULL(  TAXES ,'0')),',',''),16) AS IOF,              
  RIGHT(ISNULL(  TAXES ,'0.00'),16) AS IOF,   
  OFER              
                 
FROM @TEMPTABLE

END



