IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetNissData_home]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetNissData_home]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------                    
Proc Name        : dbo.Proc_GetNissData_home                    
Created by       : Sukhveer Singh                    
Date             : 27/10/2006              
Purpose          : Get Detail Information for NISS Report              
Revison History  :                    
Used In          : Wolverine                    
------------------------------------------------------------                    
Date     Review By          Comments                    
------   ------------       -------------------------*/                    
--DROP PROC dbo.Proc_GetNissData_home              
CREATE PROC dbo.Proc_GetNissData_home                    
(              
@FROMDATE DATETIME = NULL, -- Valid Format mm/dd/yyyy                   
@TODATE DATETIME = NULL    -- Valid Format mm/dd/yyyy              
)              
AS                    
BEGIN                    
                    
SELECT               
--PL.POLICY_NUMBER,              
'' AS BLANK,'068' AS NISS_COMP_NUM,'' AS BLANK,PM.NSS_VALUE_CODE AS TRANSACTION_TYPE,              
CSL.NSS_STATE_ID AS STATE,'P' AS 'LINE_CODE',SUBSTRING(CONVERT(VARCHAR,YEAR (getdate())),3,2) AS 'CALL_YEAR',              
SUBSTRING(CONVERT(VARCHAR,YEAR (POLICY_EFFECTIVE_DATE)),3,2) AS 'CAL_ACC_YEAR',              
'1' AS 'TEAM_OF_POLICY',SUB1.LOC_ZIP AS 'ZIP_CODE',NSZ.TERR AS TERRITORY,'' AS BLANK,'02' AS SUBLINE,'' AS BLANK, MLV.NSS_VALUE_CODE AS 'POLICY_FORM', '' AS BLANK,              
MLV1.NSS_VALUE_CODE AS 'CONSTRUCTION_CODE',MLV2.NSS_VALUE_CODE AS 'PROTECTION',              
DEDUCTIBLE = CASE              
WHEN PDSC.DEDUCTIBLE >= 100 AND PDSC.DEDUCTIBLE <= 999 THEN '0'+CONVERT(VARCHAR,PDSC.DEDUCTIBLE)              
WHEN (PDSC.DEDUCTIBLE >= 1000 AND PDSC.DEDUCTIBLE <= 5000) THEN CONVERT(VARCHAR,PDSC.DEDUCTIBLE)              
ELSE  '9999'               
END,               
SUB2.YEAR_BUILT AS YEAR_OF_CONSTRUCTION,              
'' AS BLANK,              
AMT_OF_INSURANCE = CASE              
WHEN PDSC.LIMIT_1 < 1500 THEN '001'              
ELSE Round(CAST(PDSC.LIMIT_1 AS FLOAT)/CAST(1000 AS FLOAT),0)              
END,              
'05' as 'CAUSE_OF_LOSS', '0' AS 'EXCEPTION_CODE','' AS BLANK,'' AS 'TYPE_OF_DEDUCTIBLE','' AS BLANK,              
'' AS 'LIABILITY_EXPOSURE_CODE','' AS 'CLASSIFICATION_CODE', '' as BLANK,              
WRITTEN_EXPOSURE = CASE              
WHEN PM.NSS_VALUE_CODE = 2 THEN '0'               
WHEN PM.NSS_VALUE_CODE = 1 THEN PL.App_Terms              
END,              
WRITTEN_PREMIUM = CASE    
WHEN PPD.PREMIUM_AMOUNT > 0 THEN RIGHT(REPLICATE('0',8)+CONVERT(VARCHAR(8),CONVERT(INT,PPD.PREMIUM_AMOUNT)),8)+'+'     
ELSE RIGHT(REPLICATE('0',8)+CONVERT(VARCHAR(8),CONVERT(INT,PPD.PREMIUM_AMOUNT)),8)+'-'     
END,    
'040' AS 'ANNUAL_STMT_LOB','' AS BLANK,  
'' AS 'PAID_LOSSES','' AS 'PAID_CLAIMS','' AS 'OUTSTANDING_LOSSES',              
'' AS NUMBER_OF_OUTSTANDING_CLAIMS              
FROM Pol_Policy_Process PPP              
INNER JOIN Pol_Customer_Policy_List PL ON PPP.CUSTOMER_ID = PL.CUSTOMER_ID AND PPP.POLICY_ID = PL.POLICY_ID AND PPP.POLICY_VERSION_ID = PL.POLICY_VERSION_ID              
INNER JOIN Pol_Process_Master PM ON PPP.PROCESS_ID = PM.PROCESS_ID              
INNER JOIN Mnt_Country_State_List CSL ON PL.STATE_ID = CSL.STATE_ID               
LEFT OUTER JOIN (SELECT CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,LOC_ZIP,LOC_CITY,LOC_COUNTY,LOC_STATE  FROM POL_LOCATIONS GROUP BY CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,LOC_ZIP,LOC_CITY,LOC_COUNTY,LOC_STATE) SUB1               
  ON  PL.CUSTOMER_ID = SUB1.CUSTOMER_ID AND PL.POLICY_ID = SUB1.POLICY_ID AND PL.POLICY_VERSION_ID = SUB1.POLICY_VERSION_ID              
LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV ON PL.Policy_Type = MLV.Lookup_Unique_Id              
LEFT OUTER JOIN (SELECT PDI.CUSTOMER_ID,PDI.POLICY_ID,PDI.POLICY_VERSION_ID,PDI.DWELLING_ID,PDI.IS_ACTIVE,PRI.CONSTRUCTION_CODE,PRI.PROT_CLASS,PDI.YEAR_BUILT FROM POL_DWELLINGS_INFO PDI              
  INNER JOIN POL_HOME_RATING_INFO PRI ON PDI.CUSTOMER_ID = PRI.CUSTOMER_ID AND PDI.POLICY_ID = PRI.POLICY_ID AND PDI.POLICY_VERSION_ID = PRI.POLICY_VERSION_ID               
  AND PDI.IS_ACTIVE = 'Y') SUB2 ON  PL.CUSTOMER_ID = SUB2.CUSTOMER_ID AND PL.POLICY_ID = SUB2.POLICY_ID AND PL.POLICY_VERSION_ID = SUB2.POLICY_VERSION_ID              
LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV1 ON SUB2.CONSTRUCTION_CODE = MLV1.Lookup_Unique_Id              
LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV2 ON SUB2.PROT_CLASS = MLV2.Lookup_Unique_Id              
LEFT OUTER JOIN (SELECT * FROM MNT_COVERAGE WHERE COV_CODE = 'DWELL' AND  LOB_ID = 1) MTC on PL.STATE_ID = MTC.STATE_ID               
LEFT OUTER JOIN ACT_PREMIUM_PROCESS_DETAILS PPD ON PL.CUSTOMER_ID = PPD.CUSTOMER_ID AND PL.POLICY_ID = PPD.POLICY_ID AND PL.POLICY_VERSION_ID = PPD.POLICY_VERSION_ID              
LEFT OUTER JOIN POL_DWELLING_SECTION_COVERAGES PDSC ON PL.CUSTOMER_ID = PDSC.CUSTOMER_ID AND PL.POLICY_ID = PDSC.POLICY_ID AND PL.POLICY_VERSION_ID = PDSC.POLICY_VERSION_ID AND MTC.COV_ID =PDSC.COVERAGE_CODE_ID              
--LEFT OUTER JOIN NSS_DEDUTABLE_CODE NDC ON PDSC.DEDUCTIBLE_1 = NDC.NSS_VALUE_CODE              
LEFT OUTER JOIN NSS_TERRITORIES_LIST NSZ ON  SUB1.LOC_ZIP = NSZ.ZIP AND SUB1.LOC_COUNTY = NSZ.COUNTY AND SUB1.LOC_CITY = NSZ.CITY              
LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST MSL ON MSL.STATE_ID = SUB1.LOC_STATE              
WHERE PPP.PROCESS_ID IN (3,5,12,14,18,24,25) AND PL.POLICY_STATUS IN ('NORMAL','RENEWED','CANCEL','RESCIND')     
AND PL.POLICY_LOB = 1 AND PL.POLICY_EFFECTIVE_DATE >= @FROMDATE AND PL.POLICY_EFFECTIVE_DATE <= @TODATE  
  
UNION ALL            
SELECT               
--PL.POLICY_NUMBER,              
'' AS BLANK,'068' AS NISS_COMP_NUM,'' AS BLANK,'6' AS TRANSACTION_TYPE,  
CSL.NSS_STATE_ID AS STATE,'P' AS 'LINE_CODE',SUBSTRING(CONVERT(VARCHAR,YEAR (getdate())),3,2) AS 'CALL_YEAR',              
SUBSTRING(CONVERT(VARCHAR,YEAR (CM.LOSS_DATE)),3,2) AS 'CAL_ACC_YEAR',              
'1' AS 'TEAM_OF_POLICY',SUB1.LOC_ZIP AS 'ZIP_CODE',NSZ.TERR AS TERRITORY,'' AS BLANK,'02' AS SUBLINE,'' AS BLANK, MLV.NSS_VALUE_CODE AS 'POLICY_FORM', '' AS BLANK,              
MLV1.NSS_VALUE_CODE AS 'CONSTRUCTION_CODE',MLV2.NSS_VALUE_CODE AS 'PROTECTION',              
DEDUCTIBLE = CASE              
WHEN PDSC.DEDUCTIBLE >= 100 AND PDSC.DEDUCTIBLE <= 999 THEN '0'+CONVERT(VARCHAR,PDSC.DEDUCTIBLE)              
WHEN (PDSC.DEDUCTIBLE >= 1000 AND PDSC.DEDUCTIBLE <= 5000) THEN CONVERT(VARCHAR,PDSC.DEDUCTIBLE)              
ELSE  '9999'               
END,              
SUB2.YEAR_BUILT AS YEAR_OF_CONSTRUCTION,              
'' AS BLANK,              
AMT_OF_INSURANCE = CASE              
WHEN PDSC.LIMIT_1 < 1500 THEN '001'              
ELSE Round(CAST(PDSC.LIMIT_1 AS FLOAT)/CAST(1000 AS FLOAT),0)              
END,              
'05' as 'CAUSE_OF_LOSS', '0' AS 'EXCEPTION_CODE','' AS BLANK,'' AS 'TYPE_OF_DEDUCTIBLE','' AS BLANK,              
'' AS 'LIABILITY_EXPOSURE_CODE','' AS 'CLASSIFICATION_CODE', '' as BLANK,NULL AS WRITTEN_EXPOSURE,NULL AS WRITTEN_PREMIUM,              
'040' AS 'ANNUAL_STMT_LOB','' AS BLANK,      
PAID_LOSSES = CASE  
WHEN LOSSPAID.TOTAL > 0 THEN CONVERT(VARCHAR(15), RIGHT(REPLICATE('0',8)+CONVERT(VARCHAR(15),ROUND(LOSSPAID.TOTAL,0)),8)) + '+'  
ELSE CONVERT(VARCHAR(15), RIGHT(REPLICATE('0',8)+CONVERT(VARCHAR(15),ROUND(LOSSPAID.TOTAL,0)),8)) + '-'  
END,      
convert(VARCHAR,LOSSPAID.COV_CNT) AS 'PAID_CLAIMS',  
'' AS 'OUTSTANDING_LOSSES',              
'' AS NUMBER_OF_OUTSTANDING_CLAIMS              
FROM POL_CUSTOMER_POLICY_LIST PL               
INNER JOIN CLM_CLAIM_INFO CM ON PL.CUSTOMER_ID = CM.CUSTOMER_ID AND PL.POLICY_ID = CM.POLICY_ID AND PL.POLICY_VERSION_ID = CM.POLICY_VERSION_ID              
INNER JOIN MNT_COUNTRY_STATE_LIST CSL ON PL.STATE_ID = CSL.STATE_ID               
LEFT OUTER JOIN (SELECT CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,LOC_ZIP,LOC_CITY,LOC_COUNTY,LOC_STATE FROM POL_LOCATIONS GROUP BY CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,LOC_ZIP,LOC_CITY,LOC_COUNTY,LOC_STATE) SUB1               
  ON  PL.CUSTOMER_ID = SUB1.CUSTOMER_ID AND PL.POLICY_ID = SUB1.POLICY_ID AND PL.POLICY_VERSION_ID = SUB1.POLICY_VERSION_ID              
LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV ON PL.Policy_Type = MLV.LOOKUP_UNIQUE_ID              
LEFT OUTER JOIN (SELECT PDI.CUSTOMER_ID,PDI.POLICY_ID,PDI.POLICY_VERSION_ID,PDI.DWELLING_ID,PDI.IS_ACTIVE,PRI.CONSTRUCTION_CODE,PRI.PROT_CLASS,PDI.YEAR_BUILT FROM POL_DWELLINGS_INFO PDI              
  INNER JOIN POL_HOME_RATING_INFO PRI ON PDI.CUSTOMER_ID = PRI.CUSTOMER_ID AND PDI.POLICY_ID = PRI.POLICY_ID AND PDI.POLICY_VERSION_ID = PRI.POLICY_VERSION_ID               
  AND PDI.IS_ACTIVE = 'Y') SUB2 ON  PL.CUSTOMER_ID = SUB2.CUSTOMER_ID AND PL.POLICY_ID = SUB2.POLICY_ID AND PL.POLICY_VERSION_ID = SUB2.POLICY_VERSION_ID              
LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV1 ON SUB2.CONSTRUCTION_CODE = MLV1.Lookup_Unique_Id              
LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV2 ON SUB2.PROT_CLASS = MLV2.Lookup_Unique_Id              
LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV3 ON CM.CLAIM_STATUS = MLV3.LOOKUP_UNIQUE_ID              
LEFT OUTER JOIN (SELECT * FROM MNT_COVERAGE WHERE COV_CODE = 'DWELL' AND  LOB_ID = 1) MTC on PL.STATE_ID = MTC.STATE_ID               
LEFT OUTER JOIN POL_DWELLING_SECTION_COVERAGES PDSC ON PL.CUSTOMER_ID = PDSC.CUSTOMER_ID AND PL.POLICY_ID = PDSC.POLICY_ID AND PL.POLICY_VERSION_ID = PDSC.POLICY_VERSION_ID AND MTC.COV_ID =PDSC.COVERAGE_CODE_ID              
--LEFT OUTER JOIN NSS_DEDUTABLE_CODE NDC ON PDSC.DEDUCTIBLE_1 = NDC.NSS_VALUE_CODE              
LEFT OUTER JOIN NSS_TERRITORIES_LIST NSZ ON  SUB1.LOC_ZIP = NSZ.ZIP AND SUB1.LOC_COUNTY = NSZ.COUNTY AND SUB1.LOC_CITY = NSZ.CITY              
LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST MSL ON MSL.STATE_ID = SUB1.LOC_STATE  
LEFT OUTER JOIN (SELECT CP.CLAIM_ID AS CLAIM_ID ,SUM(PAYMENT_AMOUNT) AS TOTAL,COUNT(*) COV_CNT,CP.RESERVE_ID,CR.COVERAGE_ID    
  FROM clm_activity_payment CP  
  LEFT OUTER JOIN CLM_ACTIVITY_RESERVE CR ON CP.CLAIM_ID = CR.CLAIM_ID AND CP.RESERVE_ID = CR.RESERVE_ID  
  GROUP BY CP.RESERVE_ID,CR.COVERAGE_ID,CP.CLAIM_ID  ) LOSSPAID ON LOSSPAID.CLAIM_ID = CM.CLAIM_ID              
WHERE PL.POLICY_LOB = 1 AND PL.POLICY_STATUS IN ('NORMAL','RENEWED','CANCEL','RESCIND')     
AND (MLV3.LOOKUP_VALUE_DESC = 'Open' OR MLV3.LOOKUP_VALUE_DESC = 'Closed')  
AND CM.PAID_LOSS != 0  
AND PL.POLICY_EFFECTIVE_DATE >= @FROMDATE AND PL.POLICY_EFFECTIVE_DATE <= @TODATE  
  
UNION ALL            
SELECT               
--PL.POLICY_NUMBER,              
'' AS BLANK,'068' AS NISS_COMP_NUM,'' AS BLANK,'7' AS TRANSACTION_TYPE,  
CSL.NSS_STATE_ID AS STATE,'P' AS 'LINE_CODE',SUBSTRING(CONVERT(VARCHAR,YEAR (getdate())),3,2) AS 'CALL_YEAR',              
SUBSTRING(CONVERT(VARCHAR,YEAR (CM.LOSS_DATE)),3,2) AS 'CAL_ACC_YEAR',              
'1' AS 'TEAM_OF_POLICY',SUB1.LOC_ZIP AS 'ZIP_CODE',NSZ.TERR AS TERRITORY,'' AS BLANK,'02' AS SUBLINE,'' AS BLANK, MLV.NSS_VALUE_CODE AS 'POLICY_FORM', '' AS BLANK,              
MLV1.NSS_VALUE_CODE AS 'CONSTRUCTION_CODE',MLV2.NSS_VALUE_CODE AS 'PROTECTION',              
DEDUCTIBLE = CASE              
WHEN PDSC.DEDUCTIBLE >= 100 AND PDSC.DEDUCTIBLE <= 999 THEN '0'+CONVERT(VARCHAR,PDSC.DEDUCTIBLE)              
WHEN (PDSC.DEDUCTIBLE >= 1000 AND PDSC.DEDUCTIBLE <= 5000) THEN CONVERT(VARCHAR,PDSC.DEDUCTIBLE)              
ELSE  '9999'               
END,              
SUB2.YEAR_BUILT AS YEAR_OF_CONSTRUCTION,              
'' AS BLANK,              
AMT_OF_INSURANCE = CASE              
WHEN PDSC.LIMIT_1 < 1500 THEN '001'              
ELSE Round(CAST(PDSC.LIMIT_1 AS FLOAT)/CAST(1000 AS FLOAT),0)              
END,              
'05' as 'CAUSE_OF_LOSS', '0' AS 'EXCEPTION_CODE','' AS BLANK,'' AS 'TYPE_OF_DEDUCTIBLE','' AS BLANK,              
'' AS 'LIABILITY_EXPOSURE_CODE','' AS 'CLASSIFICATION_CODE', '' as BLANK,NULL AS WRITTEN_EXPOSURE,NULL AS WRITTEN_PREMIUM,              
'040' AS 'ANNUAL_STMT_LOB','' AS BLANK,      
'' AS PAID_LOSSES,  
'' AS 'PAID_CLAIMS',  
convert(VARCHAR,CM.OUTSTANDING_RESERVE) AS 'OUTSTANDING_LOSSES',              
convert(VARCHAR,'1') AS NUMBER_OF_OUTSTANDING_CLAIMS           
FROM POL_CUSTOMER_POLICY_LIST PL               
INNER JOIN CLM_CLAIM_INFO CM ON PL.CUSTOMER_ID = CM.CUSTOMER_ID AND PL.POLICY_ID = CM.POLICY_ID AND PL.POLICY_VERSION_ID = CM.POLICY_VERSION_ID              
INNER JOIN MNT_COUNTRY_STATE_LIST CSL ON PL.STATE_ID = CSL.STATE_ID               
LEFT OUTER JOIN (SELECT CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,LOC_ZIP,LOC_CITY,LOC_COUNTY,LOC_STATE FROM POL_LOCATIONS GROUP BY CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,LOC_ZIP,LOC_CITY,LOC_COUNTY,LOC_STATE) SUB1               
  ON  PL.CUSTOMER_ID = SUB1.CUSTOMER_ID AND PL.POLICY_ID = SUB1.POLICY_ID AND PL.POLICY_VERSION_ID = SUB1.POLICY_VERSION_ID              
LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV ON PL.Policy_Type = MLV.LOOKUP_UNIQUE_ID              
LEFT OUTER JOIN (SELECT PDI.CUSTOMER_ID,PDI.POLICY_ID,PDI.POLICY_VERSION_ID,PDI.DWELLING_ID,PDI.IS_ACTIVE,PRI.CONSTRUCTION_CODE,PRI.PROT_CLASS,PDI.YEAR_BUILT FROM POL_DWELLINGS_INFO PDI              
  INNER JOIN POL_HOME_RATING_INFO PRI ON PDI.CUSTOMER_ID = PRI.CUSTOMER_ID AND PDI.POLICY_ID = PRI.POLICY_ID AND PDI.POLICY_VERSION_ID = PRI.POLICY_VERSION_ID               
  AND PDI.IS_ACTIVE = 'Y') SUB2 ON  PL.CUSTOMER_ID = SUB2.CUSTOMER_ID AND PL.POLICY_ID = SUB2.POLICY_ID AND PL.POLICY_VERSION_ID = SUB2.POLICY_VERSION_ID              
LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV1 ON SUB2.CONSTRUCTION_CODE = MLV1.Lookup_Unique_Id              
LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV2 ON SUB2.PROT_CLASS = MLV2.Lookup_Unique_Id              
LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV3 ON CM.CLAIM_STATUS = MLV3.LOOKUP_UNIQUE_ID              
LEFT OUTER JOIN (SELECT * FROM MNT_COVERAGE WHERE COV_CODE = 'DWELL' AND  LOB_ID = 1) MTC on PL.STATE_ID = MTC.STATE_ID               
LEFT OUTER JOIN POL_DWELLING_SECTION_COVERAGES PDSC ON PL.CUSTOMER_ID = PDSC.CUSTOMER_ID AND PL.POLICY_ID = PDSC.POLICY_ID AND PL.POLICY_VERSION_ID = PDSC.POLICY_VERSION_ID AND MTC.COV_ID =PDSC.COVERAGE_CODE_ID              
--LEFT OUTER JOIN NSS_DEDUTABLE_CODE NDC ON PDSC.DEDUCTIBLE_1 = NDC.NSS_VALUE_CODE              
LEFT OUTER JOIN NSS_TERRITORIES_LIST NSZ ON  SUB1.LOC_ZIP = NSZ.ZIP AND SUB1.LOC_COUNTY = NSZ.COUNTY AND SUB1.LOC_CITY = NSZ.CITY              
LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST MSL ON MSL.STATE_ID = SUB1.LOC_STATE  
LEFT OUTER JOIN (SELECT CP.CLAIM_ID AS CLAIM_ID ,SUM(PAYMENT_AMOUNT) AS TOTAL,COUNT(*) COV_CNT,CP.RESERVE_ID,CR.COVERAGE_ID    
  FROM clm_activity_payment CP  
  LEFT OUTER JOIN CLM_ACTIVITY_RESERVE CR ON CP.CLAIM_ID = CR.CLAIM_ID AND CP.RESERVE_ID = CR.RESERVE_ID  
  GROUP BY CP.RESERVE_ID,CR.COVERAGE_ID,CP.CLAIM_ID  ) LOSSPAID ON LOSSPAID.CLAIM_ID = CM.CLAIM_ID              
WHERE PL.POLICY_LOB = 1 AND PL.POLICY_STATUS IN ('NORMAL','RENEWED','CANCEL','RESCIND')     
AND (MLV3.LOOKUP_VALUE_DESC = 'Open' OR MLV3.LOOKUP_VALUE_DESC = 'Closed')  
AND CM.OUTSTANDING_RESERVE != 0  
AND PL.POLICY_EFFECTIVE_DATE >= @FROMDATE AND PL.POLICY_EFFECTIVE_DATE <= @TODATE  
           
END 


GO

