IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_Get_Deposit_Line_Items]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_Get_Deposit_Line_Items]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*                 
----------------------------------------------------------                                      
Proc Name       : dbo.Proc_Get_Deposit_Line_Items                            
Created by      : Pradeep Kushwaha                       
Date            : 25/Oct/2010                                      
Purpose         : Get Depost Line items                                
Revison History :                                      
Used In        : Ebix Advantage                                      
------------------------------------------------------------                                      
Date     Review By          Comments                                      
------   ------------       -------------------------                      
drop proc Proc_Get_Deposit_Line_Items      
exec Proc_Get_Deposit_Line_Items   308,889
*/                    
                         
CREATE PROC  [dbo].[Proc_Get_Deposit_Line_Items]  
(  
 @DEPOSIT_ID   INT,                                  
 @CD_LINE_ITEM_ID INT 

)  
AS  
BEGIN  
DECLARE @POLICY_NUMBER NVARCHAR(25)  
DECLARE @POLICY_STATUS NVARCHAR(200)   
DECLARE @CALLED_FROM NVARCHAR(50)   
  
SELECT @POLICY_NUMBER=POLICY_NUMBER FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS ITEMS with(nolock) WHERE  ITEMS.CD_LINE_ITEM_ID=@CD_LINE_ITEM_ID and ITEMS.DEPOSIT_ID=@DEPOSIT_ID  
  
SELECT TOP 1 @POLICY_STATUS=STATUS_MASTER.POLICY_DESCRIPTION      
  FROM POL_CUSTOMER_POLICY_LIST POLICY  WITH(NOLOCK)  
  LEFT JOIN POL_POLICY_STATUS_MASTER STATUS_MASTER WITH(NOLOCK)         
  ON STATUS_MASTER.POLICY_STATUS_CODE = ISNULL(POLICY.POLICY_STATUS,POLICY.APP_STATUS)    
  WHERE POLICY_NUMBER=@POLICY_NUMBER  ORDER BY POLICY_VERSION_ID DESC    

--------------------------------------ADDED BY ATUL
	-------------- FIND DEPOSIT ID FOR SAME BOLETO NUMBER IF EXISTS
	
	 DECLARE @INCORRECT_OUR_NUMBER NVARCHAR(20)   -- ADDED BY ATUL I-TRACK 913 10-06-2011
	 
	 SELECT @INCORRECT_OUR_NUMBER=INCORRECT_OUR_NUMBER FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS LINE_ITEMS  WITH (NOLOCK) 
	 WHERE CD_LINE_ITEM_ID=@CD_LINE_ITEM_ID and DEPOSIT_ID=@DEPOSIT_ID  
	DECLARE @IS_COMMITED CHAR(1)='N'
	IF EXISTS (SELECT IS_COMMITED FROM ACT_CURRENT_DEPOSIT_LINE_ITEMS LINE_ITEMS WITH (NOLOCK) 
	JOIN 
	ACT_CURRENT_DEPOSITS DEPOSIT WITH (NOLOCK) 
	ON LINE_ITEMS.DEPOSIT_ID=DEPOSIT.DEPOSIT_ID
		WHERE INCORRECT_OUR_NUMBER=@INCORRECT_OUR_NUMBER
		AND DEPOSIT.IS_COMMITED='Y')
		BEGIN 
			SET @IS_COMMITED='Y'
		END
		
--------------------------------------END
    
SELECT ITEMS.CUSTOMER_ID,ITEMS.POLICY_ID,ITEMS.POLICY_VERSION_ID,  
ITEMS.CD_LINE_ITEM_ID,ITEMS.DEPOSIT_ID,ITEMS.RISK_PREMIUM,ITEMS.FEE,ITEMS.TAX,ITEMS.INTEREST,ITEMS.LATE_FEE,ITEMS.RECEIPT_AMOUNT ,  
ITEMS.IS_ACTIVE,ITEMS.CREATED_BY,ITEMS.CREATED_DATETIME,ITEMS.MODIFIED_BY,ITEMS.LAST_UPDATED_DATETIME,ITEMS.BOLETO_NO,ITEMS.POLICY_NUMBER,  
ITEMS.BANK_NUMBER,ITEMS.BANK_AGENCY_NUMBER,ITEMS.BANK_ACCOUNT_NUMBER,  
   
CASE WHEN ITEMS.EXCEPTION_REASON=395 AND ITEMS.IS_EXCEPTION='Y' THEN ITEMS.INCORRECT_OUR_NUMBER ELSE BOLETO.OUR_NUMBER END  as OUR_NUMBER,  
  
ITEMS.PAY_MODE,  
ITEMS.IS_EXCEPTION,ITEMS.PAGE_ID,ITEMS.CREATED_FROM ,ITEMS.IS_APPROVE ,  
ITEMS.RECEIPT_ISSUED_DATE,ITEMS.RECEIPT_BRANCH_CITY,ITEMS.RECEIPT_NUM,ITEMS.PAYMENT_DATE,@POLICY_STATUS AS POLICY_STATUS,  
ITEMS.DEPOSIT_TYPE,ITEMS.COINS_CARRIER_LEADER,ITEMS.POLICY_HOLDER_NAME,ITEMS.SUSEP_CLASS_OF_BUSINESS,ITEMS.LEADER_POLICY_ID,ITEMS.LEADER_DOC_ID,  
ITEMS.BRANCH_COINS_ID,ITEMS.COINSURANCE_ID,ITEMS.INSTALLMENT_NO,ITEMS.NO_OF_INSTALLMENTS,ITEMS.COMMISSION_AMOUNT,INSTALL.INSTALLMENT_NO,ITEMS.EXCEPTION_REASON,  
ITEMS.TOTAL_PREMIUM_COLLECTION,  
ITEMS.RECEIPT_FROM_ID,@CALLED_FROM as CALLED_FROM,  
ITEMS.INCORRECT_OUR_NUMBER,
@IS_COMMITED AS IS_COMMITED

from  
ACT_CURRENT_DEPOSIT_LINE_ITEMS ITEMS with(nolock)  
left join POL_INSTALLMENT_BOLETO BOLETO with(nolock) ON   
 ITEMS.CUSTOMER_ID=BOLETO.CUSTOMER_ID and   
 ITEMS.POLICY_ID = BOLETO.POLICY_ID and   
 ITEMS.POLICY_VERSION_ID = BOLETO.POLICY_VERSION_ID and  
 ITEMS.BOLETO_NO = BOLETO.BOLETO_ID  
 left join ACT_POLICY_INSTALLMENT_DETAILS INSTALL with(nolock) on   
 BOLETO.INSTALLEMT_ID=INSTALL.ROW_ID  


where ITEMS.CD_LINE_ITEM_ID=@CD_LINE_ITEM_ID and ITEMS.DEPOSIT_ID=@DEPOSIT_ID  
END  

GO

