IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetCustomerBalances]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetCustomerBalances]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*********************************************************      
CREATE BY   : Vijay Joshi      
CREATED DATETIME : 27 Oct'2005      
PURPOSE    : To show the customer balances       
REVIEW HISTORY      
Review By   Date  Purpose      
modified by :Pravesh K Chandel    
Modified date :9 oct 2007    
purpose  : to show all info for customer and a perticular Policy ID ( in case of rewrite both policy no. details will be shown)    
    
exec Proc_GetCustomerBalances   @CUSTOMER_ID=569,@FROM=null,@TO=null,@POLICY_NUMBER= null  
    
exec Proc_GetCustomerBalances   1358, null,null,1, 1000 ,null  
**********************************************************/      
-- drop proc dbo.Proc_GetCustomerBalances 2126,null,null,1,19,null    
CREATE PROCEDURE [dbo].[Proc_GetCustomerBalances]      
(      
 @CUSTOMER_ID INT,      
 @DATE_FROM  DATETIME = NULL,      
 @DATE_TO  DATETIME = NULL,      
 @FROM   INT =1,      
 @TO    INT,    
 @POLICY_NUMBER Varchar(20) = null        
)      
AS      
BEGIN      
    
DECLARE @POLICY_ID  Int    
    
IF(ISNULL(@POLICY_NUMBER,' ') <> ' ')    
BEGIN     
 SELECT @POLICY_ID = POLICY_ID     
 FROM POL_CUSTOMER_POLICY_LIST     
 WHERE CUSTOMER_ID = CUSTOMER_ID     
 AND POLICY_NUMBER = @POLICY_NUMBER      
END    
    
CREATE TABLE #CUSTOMER_BALANCE_INFO      
(      
 ID     INT IDENTITY(1,1),      
 CUSTOMER_NAME  VARCHAR(500),      
 SOURCE_TRAN_DATE VARCHAR(35),       
 SOURCE_NUM   INT,      
 SOURCE_EFF_DATE  VARCHAR(35),      
 AMOUNT    DECIMAL(18,2),      
 AMOUNT_DUE   DECIMAL(18,2),      
 TRANS_DESC   VARCHAR(500),      
 APP_NUMBER   VARCHAR(21),      
 POLICY_NUMBER  VARCHAR(21),      
 SOURCE_TYPE   VARCHAR(20),      
 DUE_DATE   VARCHAR(35),      
 POLICY_BALANCE  DECIMAL(18,2)      
)      
    
IF(ISNULL(@POLICY_NUMBER,' ') <> ' ')    
BEGIN       
 INSERT INTO #CUSTOMER_BALANCE_INFO      
 (    
 CUSTOMER_NAME  ,  SOURCE_TRAN_DATE ,  SOURCE_NUM   ,  SOURCE_EFF_DATE  ,      
 AMOUNT    ,  AMOUNT_DUE   ,  TRANS_DESC   ,  APP_NUMBER   ,  POLICY_NUMBER  ,      
 SOURCE_TYPE   ,  DUE_DATE   ,  POLICY_BALANCE        
 )      
 SELECT     
 ISNULL(CUSTOMER_FIRST_NAME,'') + ' ' + ISNULL(CUSTOMER_MIDDLE_NAME,'') + ' ' + ISNULL(CUSTOMER_LAST_NAME,'') ,      
 CONVERT(VARCHAR, ISNULL(ACOI.SOURCE_TRAN_DATE, ACBI.CREATED_DATE) ,101) ,     
 --ISNULL(ACOI.SOURCE_NUM,ACBI.SOURCE_ROW_ID) AS SOURCE_NUM,     
 ACOI.SOURCE_NUM AS SOURCE_NUM,     
 CONVERT(VARCHAR, ISNULL(ACOI.SOURCE_EFF_DATE,ACBI.DUE_DATE), 101) SOURCE_EFF_DATE      
 , ISNULL(ACBI.AMOUNT,0), ACBI.AMOUNT_DUE, ACBI.TRAN_DESC TRANS_DESC, AL.APP_NUMBER,      
 PCPL.POLICY_NUMBER,      
 CASE ACOI.UPDATED_FROM      
 WHEN 'D' THEN 'Deposit'      
 WHEN 'P' THEN       
 CASE ITEM_TRAN_CODE      
 WHEN 'INSF' THEN 'Fees'      
 WHEN 'DISC' THEN 'Discount'      
 ELSE 'Premium'      
 END      
 WHEN 'N' THEN 'NSF Fee'      
 WHEN 'L' THEN 'Late Fee'      
 WHEN 'C' THEN 'Check'      
 WHEN 'J' THEN 'Journal Entry'      
 ELSE 'Premium'      
 END  AS SOURCE_TYPE,      
 CONVERT(VARCHAR(20), ACBI.DUE_DATE, 101) DUE_DATE,      
 (       
 select sum(AMOUNT_DUE)      
 FROM ACT_CUSTOMER_BALANCE_INFORMATION SUB_TAB      
 where  SUB_TAB.CUSTOMER_ID = ACBI.CUSTOMER_ID AND      
 SUB_TAB.POLICY_ID = ACBI.POLICY_ID    
 ) POLICY_BALANCE      
 FROM ACT_CUSTOMER_BALANCE_INFORMATION ACBI      
 LEFT JOIN ACT_CUSTOMER_OPEN_ITEMS ACOI ON ACOI.IDEN_ROW_ID = ACBI.OPEN_ITEM_ROW_ID      
 LEFT JOIN CLT_CUSTOMER_LIST CLT ON CLT.CUSTOMER_ID = ACBI.CUSTOMER_ID      
 LEFT JOIN POL_CUSTOMER_POLICY_LIST PCPL ON PCPL.POLICY_ID = ACBI.POLICY_ID AND PCPL.POLICY_VERSION_ID = ACBI.POLICY_VERSION_ID AND PCPL.CUSTOMER_ID = ACBI.CUSTOMER_ID      
 LEFT JOIN APP_LIST AL ON AL.APP_ID = PCPL.APP_ID AND AL.APP_VERSION_ID = PCPL.APP_VERSION_ID AND AL.CUSTOMER_ID = PCPL.CUSTOMER_ID      
 WHERE ACBI.CUSTOMER_ID = @CUSTOMER_ID       
 AND ACBI.POLICY_ID = @POLICY_ID     
 --  WHERE PCPL.POLICY_NUMBER LIKE '%' + @POLICY_NUMBER + '%' and ACBI.CUSTOMER_ID = @CUSTOMER_ID     
 AND ISNULL(ACBI.UPDATED_FROM,'') <> 'V'    
 ORDER BY ISNULL(PCPL.POLICY_NUMBER,'Z9999999'), CREATED_DATE, ROW_ID      
END    
ELSE    
BEGIN     
 INSERT INTO #CUSTOMER_BALANCE_INFO      
 (    
 CUSTOMER_NAME  ,  SOURCE_TRAN_DATE ,  SOURCE_NUM   ,  SOURCE_EFF_DATE  ,      
 AMOUNT    ,  AMOUNT_DUE   ,  TRANS_DESC   ,  APP_NUMBER   ,  POLICY_NUMBER  ,      
 SOURCE_TYPE   ,  DUE_DATE   ,  POLICY_BALANCE        
 )      
   
 SELECT     
 ISNULL(CUSTOMER_FIRST_NAME,'') + ' ' + ISNULL(CUSTOMER_MIDDLE_NAME,'') + ' ' + ISNULL(CUSTOMER_LAST_NAME,'') ,      
 CONVERT(VARCHAR, ISNULL(ACOI.SOURCE_TRAN_DATE, ACBI.CREATED_DATE) ,101) ,    
 --ISNULL(ACOI.SOURCE_NUM,ACBI.SOURCE_ROW_ID) AS SOURCE_NUM,     
 ACOI.SOURCE_NUM AS SOURCE_NUM,  
 CONVERT(VARCHAR, ISNULL(ACOI.SOURCE_EFF_DATE,ACBI.DUE_DATE), 101) SOURCE_EFF_DATE      
 , ISNULL(ACBI.AMOUNT,0), ACBI.AMOUNT_DUE, ACBI.TRAN_DESC TRANS_DESC,ISNULL( AL.APP_NUMBER,'') APP_NUMBER,      
 ISNULL(PCPL.POLICY_NUMBER,'') POLICY_NUMBER,      
 CASE ACOI.UPDATED_FROM      
 WHEN 'D' THEN 'Deposit'      
 WHEN 'P' THEN       
 CASE ITEM_TRAN_CODE      
 WHEN 'INSF' THEN 'Fees'      
 WHEN 'DISC' THEN 'Discount'      
 ELSE 'Premium'      
 END      
 WHEN 'N' THEN 'NSF Fee'      
 WHEN 'L' THEN 'Late Fee'      
 WHEN 'C' THEN 'Check'      
 WHEN 'J' THEN 'Journal Entry'      
 ELSE 'Premium'      
 END  AS SOURCE_TYPE,      
 CONVERT(VARCHAR(20), ACBI.DUE_DATE, 101) DUE_DATE,      
 (       
 select sum(AMOUNT_DUE)      
 FROM ACT_CUSTOMER_BALANCE_INFORMATION SUB_TAB      
 where  SUB_TAB.CUSTOMER_ID = ACBI.CUSTOMER_ID AND      
 SUB_TAB.POLICY_ID = ACBI.POLICY_ID    
 ) POLICY_BALANCE      
 FROM ACT_CUSTOMER_BALANCE_INFORMATION ACBI      
 LEFT JOIN ACT_CUSTOMER_OPEN_ITEMS ACOI ON ACOI.IDEN_ROW_ID = ACBI.OPEN_ITEM_ROW_ID      
 LEFT JOIN CLT_CUSTOMER_LIST CLT ON CLT.CUSTOMER_ID = ACBI.CUSTOMER_ID      
 LEFT JOIN POL_CUSTOMER_POLICY_LIST PCPL ON PCPL.POLICY_ID = ACBI.POLICY_ID AND PCPL.POLICY_VERSION_ID = ACBI.POLICY_VERSION_ID AND PCPL.CUSTOMER_ID = ACBI.CUSTOMER_ID      
 LEFT JOIN APP_LIST AL ON AL.APP_ID = PCPL.APP_ID AND AL.APP_VERSION_ID = PCPL.APP_VERSION_ID AND AL.CUSTOMER_ID = PCPL.CUSTOMER_ID      
 WHERE ACBI.CUSTOMER_ID = @CUSTOMER_ID     
 AND ISNULL(ACBI.UPDATED_FROM,'') <> 'V'      
 ORDER BY ISNULL(PCPL.POLICY_NUMBER,'Z9999999'), CREATED_DATE, ROW_ID      
END    
IF(ISNULL (@POLICY_NUMBER,'') = '')  
BEGIN   
 IF(@FROM  =1)    
 BEGIN     
  SELECT * FROM #CUSTOMER_BALANCE_INFO      
 WHERE ID >= @FROM AND ID < @TO      
 END      
 ELSE    
 BEGIN    
 SELECT * FROM #CUSTOMER_BALANCE_INFO      
  WHERE ID >= @FROM AND ID < @TO      
 END    
END  
ELSE  
BEGIN  
  SELECT * FROM #CUSTOMER_BALANCE_INFO     
END  
  
 SELECT SUM(ACBI.AMOUNT_DUE)      
 FROM ACT_CUSTOMER_BALANCE_INFORMATION ACBI      
 WHERE ACBI.CUSTOMER_ID = @CUSTOMER_ID       
    
 SELECT COUNT(*) FROM #CUSTOMER_BALANCE_INFO  AS REC    
      
 DROP TABLE #CUSTOMER_BALANCE_INFO      
  
  
END      
  
GO

