IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_InsertPolicyGeneralUnderWriting]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_InsertPolicyGeneralUnderWriting]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------  
Proc Name       : dbo.Proc_InsertPolicyGeneralUnderWriting  
Created by      : Sumit Chhabra
Date            : 03/05/2006  
Purpose       	: Insert data in POL_GENERAL_UNDERWRITING_INFO
Revison History :  

------------------------------------------------------------  
Date     Review By          Comments  
------   ------------       -------------------------*/  
CREATE PROC Dbo.Proc_InsertPolicyGeneralUnderWriting  
(  
@CUSTOMER_ID     int,  
@POLICY_ID     int,  
@POLICY_VERSION_ID     smallint,  
@INSURANCE_DECLINED_FIVE_YEARS     nchar(2),  
@MEDICAL_PROFESSIONAL_EMPLOYEED     nchar(2),  
@EXPOSURE_RATIOACTIVE_NUCLEAR     nchar(2),  
@HAVE_PAST_PRESENT_OPERATIONS     nchar(2),  
@ANY_OPERATIONS_SOLD     nchar(2),  
@MACHINERY_LOANED     nchar(2),  
@ANY_WATERCRAFT_LEASED     nchar(2),  
@ANY_PARKING_OWNED     nchar(2),  
@FEE_CHARGED_PARKING     nchar(2),  
@RECREATION_PROVIDED     nchar(2),  
@SWIMMING_POOL_PREMISES     nchar(2),  
@SPORTING_EVENT_SPONSORED     nchar(2),  
@STRUCTURAL_ALTERATION_CONTEMPATED     nchar(2),  
@DEMOLITION_EXPOSURE_CONTEMPLATED     nchar(2),  
@CUSTOMER_ACTIVE_JOINT_VENTURES     nchar(2),  
@LEASE_EMPLOYEE     nchar(2),  
@LABOR_INTERCHANGE_OTH_BUSINESS     nchar(2),  
@DAY_CARE_FACILITIES     nchar(2),  
@IS_ACTIVE     nchar(2),  
@CREATED_BY INT,  
@CREATE_DATETIME     datetime,  
@ADDITIONAL_COMMENTS varchar(200),  
@DESC_INSURANCE_DECLINED nvarchar(150),  
@DESC_MEDICAL_PROFESSIONAL nvarchar(150),  
@DESC_EXPOSURE_RATIOACTIVE nvarchar(150),  
@DESC_HAVE_PAST_PRESENT nvarchar(150),  
@DESC_ANY_OPERATIONS nvarchar(150),  
@DESC_MACHINERY_LOANED nvarchar(150),  
@DESC_ANY_WATERCRAFT nvarchar(150),  
@DESC_ANY_PARKING nvarchar(150),  
@DESC_FEE_CHARGED nvarchar(150),  
@DESC_RECREATION_PROVIDED nvarchar(150),  
@DESC_SWIMMING_POOL nvarchar(150),  
@DESC_SPORTING_EVENT nvarchar(150),  
@DESC_STRUCTURAL_ALTERATION nvarchar(150),  
@DESC_DEMOLITION_EXPOSURE nvarchar(150),  
@DESC_CUSTOMER_ACTIVE nvarchar(150),  
@DESC_LEASE_EMPLOYEE nvarchar(150),  
@DESC_LABOR_INTERCHANGE nvarchar(150),  
@DESC_DAY_CARE nvarchar(150)  
  
)  
AS  
BEGIN  
INSERT INTO POL_GENERAL_UNDERWRITING_INFO  
(  
CUSTOMER_ID,  
POLICY_ID,  
POLICY_VERSION_ID,  
INSURANCE_DECLINED_FIVE_YEARS,  
MEDICAL_PROFESSIONAL_EMPLOYEED,  
EXPOSURE_RATIOACTIVE_NUCLEAR,  
HAVE_PAST_PRESENT_OPERATIONS,  
ANY_OPERATIONS_SOLD,  
MACHINERY_LOANED,  
ANY_WATERCRAFT_LEASED,  
ANY_PARKING_OWNED,  
FEE_CHARGED_PARKING,  
RECREATION_PROVIDED,  
SWIMMING_POOL_PREMISES,  
SPORTING_EVENT_SPONSORED,  
STRUCTURAL_ALTERATION_CONTEMPATED,  
DEMOLITION_EXPOSURE_CONTEMPLATED,  
CUSTOMER_ACTIVE_JOINT_VENTURES,  
LEASE_EMPLOYEE,  
LABOR_INTERCHANGE_OTH_BUSINESS,  
DAY_CARE_FACILITIES,  
IS_ACTIVE,  
CREATED_BY,  
CREATE_DATETIME,  
ADDITIONAL_COMMENTS,  
DESC_INSURANCE_DECLINED,  
DESC_MEDICAL_PROFESSIONAL,  
DESC_EXPOSURE_RATIOACTIVE,  
DESC_HAVE_PAST_PRESENT,  
DESC_ANY_OPERATIONS,  
DESC_MACHINERY_LOANED,  
DESC_ANY_WATERCRAFT,  
DESC_ANY_PARKING,  
DESC_FEE_CHARGED,  
DESC_RECREATION_PROVIDED,  
DESC_SWIMMING_POOL,  
DESC_SPORTING_EVENT,  
DESC_STRUCTURAL_ALTERATION,  
DESC_DEMOLITION_EXPOSURE,  
DESC_CUSTOMER_ACTIVE,  
DESC_LEASE_EMPLOYEE,  
DESC_LABOR_INTERCHANGE,  
DESC_DAY_CARE  
)  
VALUES  
(  
@CUSTOMER_ID,  
@POLICY_ID,  
@POLICY_VERSION_ID,  
@INSURANCE_DECLINED_FIVE_YEARS,  
@MEDICAL_PROFESSIONAL_EMPLOYEED,  
@EXPOSURE_RATIOACTIVE_NUCLEAR,  
@HAVE_PAST_PRESENT_OPERATIONS,  
@ANY_OPERATIONS_SOLD,  
@MACHINERY_LOANED,  
@ANY_WATERCRAFT_LEASED,  
@ANY_PARKING_OWNED,  
@FEE_CHARGED_PARKING,  
@RECREATION_PROVIDED,  
@SWIMMING_POOL_PREMISES,  
@SPORTING_EVENT_SPONSORED,  
@STRUCTURAL_ALTERATION_CONTEMPATED,  
@DEMOLITION_EXPOSURE_CONTEMPLATED,  @CUSTOMER_ACTIVE_JOINT_VENTURES,  
@LEASE_EMPLOYEE,  
@LABOR_INTERCHANGE_OTH_BUSINESS,  
@DAY_CARE_FACILITIES,  
@IS_ACTIVE,  
@CREATED_BY,  
@CREATE_DATETIME,  
@ADDITIONAL_COMMENTS,  
@DESC_INSURANCE_DECLINED,  
@DESC_MEDICAL_PROFESSIONAL,  
@DESC_EXPOSURE_RATIOACTIVE,  
@DESC_HAVE_PAST_PRESENT,  
@DESC_ANY_OPERATIONS,  
@DESC_MACHINERY_LOANED,  
@DESC_ANY_WATERCRAFT,  
@DESC_ANY_PARKING,  
@DESC_FEE_CHARGED,  
@DESC_RECREATION_PROVIDED,  
@DESC_SWIMMING_POOL,  
@DESC_SPORTING_EVENT,  
@DESC_STRUCTURAL_ALTERATION,  
@DESC_DEMOLITION_EXPOSURE,  
@DESC_CUSTOMER_ACTIVE,  
@DESC_LEASE_EMPLOYEE,  
@DESC_LABOR_INTERCHANGE,  
@DESC_DAY_CARE  
)  
END  
  
  



GO

