IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_USEP_BROKER_COMMISSION]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SP_USEP_BROKER_COMMISSION]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROC SP_USEP_BROKER_COMMISSION
@REF_DATE DATETIME=NULL,
@POLICY_NUMBER VARCHAR(30)=NULL
AS
BEGIN
SELECT * FROM VW_SUSEP_BROKER_COMMISSION VW
WHERE VW.POLICY_NUMBER = @POLICY_NUMBER

END



GO

