IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_GETPDFUMBRELLA_COV_FORMS_ENDO_DETAILS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_GETPDFUMBRELLA_COV_FORMS_ENDO_DETAILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


--drop PROCEDURE DBO.PROC_GETPDFUMBRELLA_COV_FORMS_ENDO_DETAILS 1275,198,1,'application'     
CREATE     PROCEDURE DBO.PROC_GETPDFUMBRELLA_COV_FORMS_ENDO_DETAILS          
(          
  @CUSTOMERID   INT,          
  @POLID                INT,          
  @VERSIONID   INT,          
  @CALLEDFROM  VARCHAR(20)          
)          
AS          
 BEGIN          
  IF (@CALLEDFROM='APPLICATION')          
   BEGIN          
     SELECT  MLM.LOB_CODE POLICY_LOB,AUUP.POLICY_NUMBER,          
       AUUPC.COVERAGE_DESC,AUUPC.COV_CODE,AUUPC.COVERAGE_AMOUNT LIMIT,         
       CONVERT( VARCHAR(10),POLICY_START_DATE,101) EFFECTIVE_DATE,AUUP.POLICY_COMPANY,           
       CONVERT( VARCHAR(10),POLICY_EXPIRATION_DATE,101) EXPIRATION_DATE          
     FROM APP_UMBRELLA_UNDERLYING_POLICIES AUUP          
      LEFT OUTER JOIN APP_UMBRELLA_UNDERLYING_POLICIES_COVERAGES AUUPC ON AUUP.POLICY_NUMBER = AUUPC.POLICY_NUMBER          
      LEFT OUTER JOIN MNT_LOB_MASTER MLM ON MLM.LOB_ID=AUUP.POLICY_LOB          
     WHERE AUUP.CUSTOMER_ID=@CUSTOMERID AND AUUP.APP_ID=@POLID AND AUUP.APP_VERSION_ID=@VERSIONID ORDER BY AUUPC.POLICY_NUMBER          
            
   SELECT MC.COV_CODE,MC.COV_DES,MC.FORM_NUMBER,MC.EDITION_DATE, MC.RANK           
   FROM APP_UMBRELLA_COVERAGES AUC        
   LEFT OUTER JOIN MNT_COVERAGE MC ON MC.COV_ID = AUC.COVERAGE_CODE_ID         
       WHERE AUC.CUSTOMER_ID=@CUSTOMERID AND AUC.APP_ID=@POLID AND AUC.APP_VERSION_ID=@VERSIONID    
   ORDER BY MC.RANK   
  
   SELECT * FROM CLT_PREMIUM_SPLIT_DETAILS CPSD  
   INNER JOIN CLT_PREMIUM_SPLIT CPS ON CPSD.SPLIT_UNIQUE_ID = CPS.UNIQUE_ID  
      WHERE CPS.CUSTOMER_ID=@CUSTOMERID AND CPS.APP_ID=@POLID AND CPS.APP_VERSION_ID=@VERSIONID  
    
   END          
  ELSE IF (@CALLEDFROM='POLICY')          
   BEGIN          
     SELECT  MLM.LOB_CODE POLICY_LOB,AUUP.POLICY_NUMBER,          
       AUUPC.COVERAGE_DESC,AUUPC.COV_CODE,AUUPC.COVERAGE_AMOUNT LIMIT,          
       CONVERT( VARCHAR(10),POLICY_START_DATE,101) EFFECTIVE_DATE,AUUP.POLICY_COMPANY,           
       CONVERT( VARCHAR(10),POLICY_EXPIRATION_DATE,101) EXPIRATION_DATE          
     FROM POL_UMBRELLA_UNDERLYING_POLICIES AUUP          
      LEFT OUTER JOIN POL_UMBRELLA_UNDERLYING_POLICIES_COVERAGES AUUPC ON AUUP.POLICY_NUMBER = AUUPC.POLICY_NUMBER          
       LEFT OUTER JOIN MNT_LOB_MASTER MLM ON MLM.LOB_ID=AUUP.POLICY_LOB          
    WHERE AUUP.CUSTOMER_ID=@CUSTOMERID AND AUUP.POLICY_ID=@POLID AND AUUP.POLICY_VERSION_ID=@VERSIONID ORDER BY AUUPC.POLICY_NUMBER          
          
     SELECT MC.COV_CODE,MC.COV_DES,MC.FORM_NUMBER,MC.EDITION_DATE, MC.RANK            
   FROM POL_UMBRELLA_COVERAGES AUC        
   LEFT OUTER JOIN MNT_COVERAGE MC ON MC.COV_ID = AUC.COVERAGE_CODE_ID         
       WHERE AUC.CUSTOMER_ID=@CUSTOMERID AND AUC.POL_ID=@POLID AND AUC.POL_VERSION_ID=@VERSIONID        
       ORDER BY MC.RANK     
  
   SELECT * FROM CLT_PREMIUM_SPLIT_DETAILS CPSD  
   INNER JOIN CLT_PREMIUM_SPLIT CPS ON CPSD.SPLIT_UNIQUE_ID = CPS.UNIQUE_ID  
      WHERE CPS.CUSTOMER_ID=@CUSTOMERID AND CPS.POLICY_ID=@POLID AND CPS.POLICY_VERSION_ID=@VERSIONID  
    
  
   END          
 END          
          
          
        
        
      
    
  



GO

