IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_SUSEP_ISSUED_AND_CANCELLED_DIRECT_PREMIUMS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_SUSEP_ISSUED_AND_CANCELLED_DIRECT_PREMIUMS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

  
 
 
-- =============================================    
-- Author:  SHIKHA CHOURASIYA    
-- Create date: 07-15-2011    
-- Description: SUSEP REPORT FOR ISSUED AND CANCELLED DIRECT PREMIUMS ITRACK - 1069    
--PROC_SUSEP_PREMAC_ISSUED_CANCELLED_INWARD_COINSURANCE_PREMIUMS '07-15-2011'    
--EXEC PROC_SUSEP_ISSUED_AND_CANCELLED_DIRECT_PREMIUMS '09-15-2011','88998201180196000791'    
--DROP PROC PROC_SUSEP_ISSUED_AND_CANCELLED_DIRECT_PREMIUMS     
-- =============================================    
CREATE PROCEDURE [dbo].[PROC_SUSEP_ISSUED_AND_CANCELLED_DIRECT_PREMIUMS]       
-- Add the parameters for the stored procedure here      
 @DATETIME DATETIME,      
 @POLICYNUMBER NVARCHAR(25) = NULL      
AS      
BEGIN      
 -- SET NOCOUNT ON added to prevent extra result sets from      
 -- interfering with SELECT statements.      
 SET NOCOUNT ON;      
 -- SEPERATE DATE AND YEAR      
 DECLARE @MONTH VARCHAR(2)        
 DECLARE @YEAR VARCHAR(4)        
 SET @MONTH = DATEPART(MM,@DATETIME)       
    SET @YEAR = DATEPART(YYYY,@DATETIME)      
    -- CREATE  TEMPORARY TABLE FOR HOLDING VALUES       
    CREATE TABLE #TEMPPREMIT      
    (      
    SEQUENCE_NO INT IDENTITY(1,1),      
    PROCESS_NUMBER VARCHAR(20),      
    TRANSACTION_TYPE VARCHAR(3),      
    BRZ_STATE_ABBR VARCHAR(2),      
    LOCAL_RISK_STATE_ABBR VARCHAR(200),      
    SUSEP_LOB VARCHAR(4),      
    POLICY_CONTRACT_NO VARCHAR(20),      
    ENDORSMENT_NO VARCHAR(20),      
    PROPOSAL_NO VARCHAR(20),      
    PROPOSAL_DATE VARCHAR(10),      
    APP_INCOME_TAX_NO VARCHAR(20),      
    INSURED_NO VARCHAR(4),      
    CONTRACTOR_INCOME_TAX_NO VARCHAR(20),      
    CONTRACTOR_NO VARCHAR(4),      
    ISSUANCE_DATE VARCHAR(10),      
    EFFECTIVE_DATE VARCHAR(10),      
    EXPIRED_DATE VARCHAR(10),      
    ISSUANCE_PREMIUM DECIMAL(18,2),      
    COINSURANCE_CESSION_PREMIUM DECIMAL(18,2),      
    INSTALLMENT_INTEREST_AMOUNT DECIMAL(18,2),      
    POLICY_COST DECIMAL(18,2),      
    FINANCIAL_OPR_TAX DECIMAL(18,2),      
    COMMISSION_VALUE DECIMAL(18,2),      
    COINSURANCE_FEE_AMOUNT DECIMAL(18,2),      
    PRO_LABORE_PAYABLE DECIMAL(18,2),      
    MASTER_POL_APP_INCOME_TAX VARCHAR(20),      
    MAX_COV_SUM_INSURED DECIMAL(18,2)      
    )      
    INSERT INTO #TEMPPREMIT       
    (      
    PROCESS_NUMBER,      
    TRANSACTION_TYPE,      
    BRZ_STATE_ABBR,      
    LOCAL_RISK_STATE_ABBR,      
    SUSEP_LOB,      
    POLICY_CONTRACT_NO,      
    ENDORSMENT_NO,      
    PROPOSAL_NO,      
    PROPOSAL_DATE,      
    APP_INCOME_TAX_NO,      
    INSURED_NO,      
    CONTRACTOR_INCOME_TAX_NO,      
    CONTRACTOR_NO,      
    ISSUANCE_DATE,      
    EFFECTIVE_DATE,      
    EXPIRED_DATE,      
    ISSUANCE_PREMIUM,       
    COINSURANCE_CESSION_PREMIUM,      
    INSTALLMENT_INTEREST_AMOUNT,      
    POLICY_COST,      
    FINANCIAL_OPR_TAX,      
    COMMISSION_VALUE,      
    COINSURANCE_FEE_AMOUNT,      
    PRO_LABORE_PAYABLE,      
    MASTER_POL_APP_INCOME_TAX,      
    MAX_COV_SUM_INSURED       
    )      
    SELECT  TBL.PROCESS_NUMBER,      
      TBL.TRANSACTION_TYPE,      
      TBL.BRZ_STATE_ABBR,      
      TBL.LOCAL_RISK_STATE_ABBR,      
      TBL.SUSEP_LOB,      
      TBL.POLICY_CONTRACT_NO,      
      TBL.ENDORSMENT_NO,      
      TBL.PROPOSAL_NO,      
      TBL.PROPOSAL_DATE,      
      TBL.APP_INCOME_TAX_NO,      
      TBL.INSURED_NO,      
      TBL.CONTRACTOR_INCOME_TAX_NO,      
      TBL.CONTRACTOR_NO,      
      TBL.ISSUANCE_DATE,      
      TBL.EFFECTIVE_DATE,      
      TBL.EXPIRED_DATE,      
      SUM(TBL.ISSUANCE_PREMIUM),      
      TBL.COINSURANCE_CESSION_PREMIUM,      
      TBL.INSTALLMENT_INTEREST_AMOUNT,      
      TBL.POLICY_COST,      
      TBL.FINANCIAL_OPR_TAX,      
      TBL.COMMISSION_VALUE,      
      TBL.COINSURANCE_FEE_AMOUNT,      
      TBL.PRO_LABORE_PAYABLE,      
      TBL.MASTER_POL_APP_INCOME_TAX,      
      ISNULL(TBL.MAX_SUM_INSURED,0)       
    FROM (      
     SELECT MPSPN.SUSEP_PROCESS_NO AS PROCESS_NUMBER,      
     CASE      
     WHEN (PPP.PROCESS_ID = 25) THEN '101'      
     WHEN (PPP.PROCESS_ID = 14 AND  (SELECT ISNULL(SUM(INSTALLMENT_AMOUNT),0)  FROM ACT_POLICY_INSTALLMENT_DETAILS APAID WHERE APAID.CUSTOMER_ID =  PCPL.CUSTOMER_ID AND APAID.POLICY_ID = PCPL.POLICY_ID
     AND APAID.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID AND RELEASED_STATUS <> 'U'     
     )  > 0) THEN '102'      
     WHEN (PPP.PROCESS_ID = 14 AND (SELECT ISNULL(SUM(INSTALLMENT_AMOUNT),0)  FROM ACT_POLICY_INSTALLMENT_DETAILS APAID WHERE APAID.CUSTOMER_ID =  PCPL.CUSTOMER_ID AND APAID.POLICY_ID = PCPL.POLICY_ID
     AND APAID.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID AND RELEASED_STATUS <> 'U'     
     ) < 0) THEN '103'       
     WHEN (PPP.PROCESS_ID = 12 AND (SELECT ISNULL(SUM(INSTALLMENT_AMOUNT),0)  FROM ACT_POLICY_INSTALLMENT_DETAILS APAID WHERE APAID.CUSTOMER_ID =  PCPL.CUSTOMER_ID AND APAID.POLICY_ID = PCPL.POLICY_ID
     AND APAID.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID AND RELEASED_STATUS <> 'U'     
     ) < 0) THEN '104'      
     WHEN (PPP.PROCESS_ID = 37 AND (SELECT ISNULL(SUM(INSTALLMENT_AMOUNT),0)  FROM ACT_POLICY_INSTALLMENT_DETAILS APAID WHERE APAID.CUSTOMER_ID =  PCPL.CUSTOMER_ID AND APAID.POLICY_ID = PCPL.POLICY_ID
     AND APAID.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID AND RELEASED_STATUS <> 'U'     
     ) < 0) THEN '105'      
     WHEN (PPP.PROCESS_ID = 12 AND (SELECT ISNULL(SUM(INSTALLMENT_AMOUNT),0)  FROM ACT_POLICY_INSTALLMENT_DETAILS APAID WHERE APAID.CUSTOMER_ID =  PCPL.CUSTOMER_ID AND APAID.POLICY_ID = PCPL.POLICY_ID
     AND APAID.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID AND RELEASED_STATUS <> 'U'     
     ) >= 0) THEN '106'      
     WHEN (PPP.PROCESS_ID = 37 AND (SELECT ISNULL(SUM(INSTALLMENT_AMOUNT),0)  FROM ACT_POLICY_INSTALLMENT_DETAILS APAID WHERE APAID.CUSTOMER_ID =  PCPL.CUSTOMER_ID AND APAID.POLICY_ID = PCPL.POLICY_ID
     AND APAID.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID AND RELEASED_STATUS <> 'U'     
     ) >= 0) THEN '107'      
     WHEN (PPP.PROCESS_ID = 14 AND (SELECT ISNULL(SUM(INSTALLMENT_AMOUNT),0)  FROM ACT_POLICY_INSTALLMENT_DETAILS APAID WHERE APAID.CUSTOMER_ID =  PCPL.CUSTOMER_ID AND APAID.POLICY_ID = PCPL.POLICY_ID
     AND APAID.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID AND RELEASED_STATUS <> 'U'     
     ) = 0) THEN '108'      
     END AS TRANSACTION_TYPE,      
     MCSL.STATE_CODE AS BRZ_STATE_ABBR,
     (SELECT DISTINCT '' + ISNULL(MCSL_1.STATE_CODE,MCSL_2.STATE_CODE)
     FROM VW_POL_PRODUCT_RISK_DETAILS VW (NOLOCK)
     LEFT JOIN POL_APPLICANT_LIST PAL ON PAL.CUSTOMER_ID = VW.CUSTOMER_ID AND PAL.POLICY_ID = VW.POLICY_ID AND PAL.POLICY_VERSION_ID = VW.POLICY_VERSION_ID
     AND PAL.APPLICANT_ID=VW.CO_APPLICANT_ID
     LEFT JOIN CLT_APPLICANT_LIST CAL ON PAL.CUSTOMER_ID = CAL.CUSTOMER_ID AND PAL.APPLICANT_ID = CAL.APPLICANT_ID
     LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST MCSL_2 (NOLOCK) ON CONVERT(VARCHAR,MCSL_2.STATE_ID) = CAL.STATE 
     LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST MCSL_1 (NOLOCK) ON MCSL_1.STATE_ID = VW.STATE_ID 
     WHERE PCPL.CUSTOMER_ID = VW.CUSTOMER_ID AND PCPL.POLICY_ID = VW.POLICY_ID AND PCPL.POLICY_VERSION_ID = VW.POLICY_VERSION_ID
     FOR XML PATH('')) AS LOCAL_RISK_STATE_ABBR,        
     --MCSL_1.STATE_CODE AS LOCAL_RISK_STATE_ABBR,      
     CONVERT(VARCHAR(10),PCPL.SUSEP_LOB_CODE) AS SUSEP_LOB,      
     ISNULL(CONVERT(VARCHAR(20),RIGHT(PCPL.POLICY_NUMBER,20)),'') AS POLICY_CONTRACT_NO,      
     CASE WHEN PPP.PROCESS_ID = 25 THEN '' ELSE CONVERT(VARCHAR(10),PPE.ENDORSEMENT_NO,112) END AS ENDORSMENT_NO,      
     CASE WHEN PPP.PROCESS_ID IN (5,24,25) THEN CONVERT(VARCHAR(10),PCPL.APP_NUMBER,112)      
		  WHEN PPP.PROCESS_ID IN (3,14,12,37) THEN CONVERT(VARCHAR(10),PPE.ENDORSEMENT_NO,112)     
		 END PROPOSAL_NO,      
     CASE WHEN PPP.PROCESS_ID IN (5,24,25) THEN CONVERT(VARCHAR(10),PCPL.APP_INCEPTION_DATE,112)       
    WHEN PPP.PROCESS_ID IN (3,14,12,37) THEN CONVERT(VARCHAR(10),PPP.CREATED_DATETIME,112)      
    END PROPOSAL_DATE,      
	--Added by Pradeep- 26-Sep-2011
   CONVERT(NVARCHAR(20), 
   (SELECT CAL.CPF_CNPJ FROM  POL_APPLICANT_LIST PAL (NOLOCK) 
		   LEFT OUTER JOIN CLT_APPLICANT_LIST CAL (NOLOCK) ON PAL.APPLICANT_ID = CAL.APPLICANT_ID AND PAL.CUSTOMER_ID = CAL.CUSTOMER_ID     
   WHERE 
    PCPL.CUSTOMER_ID = PAL.CUSTOMER_ID AND PCPL.POLICY_ID = PAL.POLICY_ID AND PCPL.POLICY_VERSION_ID = PAL.POLICY_VERSION_ID       
    AND PAL.IS_PRIMARY_APPLICANT =1)) AS APP_INCOME_TAX_NO, 
	--Till here 

    (SELECT COUNT(PAL1.APPLICANT_ID) 
     FROM POL_APPLICANT_LIST PAL1 
     WHERE PAL1.CUSTOMER_ID = PCPL.CUSTOMER_ID AND PAL1.POLICY_ID = PCPL.POLICY_ID AND PAL1.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID) AS INSURED_NO,        
     CONVERT(VARCHAR(10),'') AS CONTRACTOR_INCOME_TAX_NO,      
     0 AS CONTRACTOR_NO,      
     CASE WHEN PPP.PROCESS_ID IN (25,14,12,37) THEN CONVERT(VARCHAR(10),PPP.COMPLETED_DATETIME,112) END AS ISSUANCE_DATE,      
     CASE WHEN PPP.PROCESS_ID IN (5,24,25) THEN CONVERT(VARCHAR(10),PCPL.POLICY_EFFECTIVE_DATE,112)        
    WHEN PPP.PROCESS_ID IN (3,14) THEN CONVERT(VARCHAR(10),PPP.EFFECTIVE_DATETIME,112)         
    WHEN PPP.PROCESS_ID = 37  THEN     
							   CONVERT(VARCHAR(10), (SELECT   
									 isnull(SU_PPP.EFFECTIVE_DATETIME,'')  
									  FROM   
									 POL_POLICY_PROCESS SU_PPP WITH(NOLOCK)   
									  WHERE   
									 SU_PPP.CUSTOMER_ID = PPP.CUSTOMER_ID   
									 AND SU_PPP.POLICY_ID = PPP.POLICY_ID  
									 AND CONVERT(VARCHAR,SU_PPP.NEW_POLICY_VERSION_ID) =  CAST(DBO.Piece(PPP.LAST_REVERT_BACK,'^',3) AS VARCHAR)  
									 AND SU_PPP.PROCESS_STATUS = 'COMPLETE'  
							   ),112) 
    WHEN PPP.PROCESS_ID IN (2,12) THEN CONVERT(VARCHAR(10),PCPL.POLICY_EFFECTIVE_DATE,112)         
    END AS EFFECTIVE_DATE,      
     CASE WHEN PPP.PROCESS_ID IN (5,24,25) THEN CONVERT(VARCHAR(10),PCPL.POLICY_EXPIRATION_DATE,112)       
    WHEN PPP.PROCESS_ID IN (3,14) THEN CONVERT(VARCHAR(10),PPP.[EXPIRY_DATE],112)         
    WHEN PPP.PROCESS_ID = 37 THEN     
							CONVERT(VARCHAR(10), (SELECT   
								 isnull(SU_PPP.EXPIRY_DATE,'')  
								  FROM   
								 POL_POLICY_PROCESS SU_PPP WITH(NOLOCK)   
								  WHERE   
								 SU_PPP.CUSTOMER_ID = PPP.CUSTOMER_ID   
								 AND SU_PPP.POLICY_ID = PPP.POLICY_ID  
								 AND CONVERT(VARCHAR,SU_PPP.NEW_POLICY_VERSION_ID) =  CAST(DBO.Piece(PPP.LAST_REVERT_BACK,'^',3) AS VARCHAR)  
								 AND SU_PPP.PROCESS_STATUS = 'COMPLETE'  
						   ),112)         
    WHEN PPP.PROCESS_ID IN (2,12) THEN CONVERT(VARCHAR(10),PCPL.POLICY_EXPIRATION_DATE,112)         
    END AS EXPIRED_DATE,  
    CASE WHEN PPP.PROCESS_ID = 12 AND PPP.RETURN_PREMIUM = 0 THEN '0'  
    ELSE ABS(PPC.WRITTEN_PREMIUM) END AS ISSUANCE_PREMIUM,   
     --ABS(APIPD.TOTAL_TRAN_PREMIUM) AS ISSUANCE_PREMIUM,   
     CASE 
		WHEN PPP.PROCESS_ID = 12 AND PPP.RETURN_PREMIUM = 0 THEN '0'  
		WHEN PCPL.CO_INSURANCE IN ('14547') THEN '0' 
		ELSE (SELECT ISNULL(PPC.WRITTEN_PREMIUM,0)* (SELECT SUM(ISNULL(COINSURANCE_PERCENT,0)) FROM POL_CO_INSURANCE PCI WITH(NOLOCK) 
				WHERE PCI.CUSTOMER_ID =  PCPL.CUSTOMER_ID AND PCI.POLICY_ID = PCPL.POLICY_ID AND PCI.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID 
				AND PCI.LEADER_FOLLOWER = 14549)/100)
				END AS COINSURANCE_CESSION_PREMIUM,  
    -- 0.00 AS COINSURANCE_CESSION_PREMIUM, 
     CASE
		 WHEN PPP.PROCESS_ID = 12 AND PPP.RETURN_PREMIUM = 0 THEN '0' 
		 --WHEN (PCPL.POLICY_LOB = PPC.ACC_LOB_ID) THEN APIPD.TOTAL_INTEREST_AMOUNT
		  ELSE APIPD.TOTAL_INTEREST_AMOUNT 
		  END
      AS INSTALLMENT_INTEREST_AMOUNT,       
     --APID.TRAN_INTEREST_AMOUNT AS INSTALLMENT_INTEREST_AMOUNT, 
     CASE 
	 WHEN PPP.PROCESS_ID = 12 AND PPP.RETURN_PREMIUM = 0 THEN '0'
	 --WHEN (PCPL.POLICY_LOB = PPC.ACC_LOB_ID) THEN APIPD.TOTAL_FEES
		  ELSE APIPD.TOTAL_FEES 
		  END AS POLICY_COST,  
     --APIPD.TOTAL_FEES AS POLICY_COST,
      CASE 
	  WHEN PPP.PROCESS_ID = 12 AND PPP.RETURN_PREMIUM = 0 THEN '0'
	  --WHEN (PCPL.POLICY_LOB = PPC.ACC_LOB_ID) THEN APIPD.TOTAL_TAXES
		  ELSE APIPD.TOTAL_TAXES 
		  END AS FINANCIAL_OPR_TAX,      
     --APIPD.TOTAL_TAXES AS FINANCIAL_OPR_TAX, 
     CASE 
		--WHEN (PCPL.POLICY_LOB = MCAL.ACC_LOB_ID) 
		--THEN     
			--CASE 
				WHEN PPP.PROCESS_ID = 12 AND PPP.RETURN_PREMIUM = 0 THEN '0'
				WHEN (PCPL.POLICY_LEVEL_COMISSION <> 0.00) 
				THEN (ISNULL(PPC.WRITTEN_PREMIUM,0) * PCPL.POLICY_LEVEL_COMISSION * .01)
				--((APIPD.TOTAL_TRAN_PREMIUM * PCPL.POLICY_LEVEL_COMISSION )/100)      
				WHEN (PCPL.POLICY_LEVEL_COMISSION = 0.00) 
				THEN (ISNULL(PPC.WRITTEN_PREMIUM,0) * PR1.PER_COMM)
				--(APIPD.TOTAL_TRAN_PREMIUM * PR1.PER_COMM) 
			--END 
		--ELSE
			--0
		END AS COMMISSION_VALUE,
	--Commented by Pradeep
  --   CASE 
		----WHEN (PCPL.POLICY_LOB = MCAL.ACC_LOB_ID) 
		----THEN
		--	--CASE 
		--		WHEN PPP.PROCESS_ID = 12 AND PPP.RETURN_PREMIUM = 0 THEN '0'
		--		WHEN (PCPL.POLICY_LEVEL_COMISSION <> 0.00 AND PCPL.CO_INSURANCE = '14548')
		--	    THEN ((ISNULL(PPC.WRITTEN_PREMIUM,0) * PCI.COINSURANCE_PERCENT * .01 * PCPL.POLICY_LEVEL_COMISSION )/100)
		--	    --((APIPD.TOTAL_TRAN_PREMIUM * PCI.COINSURANCE_PERCENT * .01 * PCPL.POLICY_LEVEL_COMISSION )/100)      
		--		WHEN (PCPL.POLICY_LEVEL_COMISSION = 0.00 AND PCPL.CO_INSURANCE = '14548') 
		--		THEN (ISNULL(PPC.WRITTEN_PREMIUM,0) * PCI.COINSURANCE_PERCENT * .01 * PR1.PER_FEE) 
		--	--END 
		----ELSE
		--	--0
		--END AS COINSURANCE_FEE_AMOUNT,  
	--Till here 
	 	 CASE 
	    WHEN PPP.PROCESS_ID = 12 AND PPP.RETURN_PREMIUM = 0 
			THEN '0'
		WHEN (PCPL.CO_INSURANCE = '14548')
			THEN ((ISNULL(PPC.WRITTEN_PREMIUM,0) * 
			(SELECT SUM(ISNULL(COINSURANCE_PERCENT,0)) FROM POL_CO_INSURANCE PCI WITH(NOLOCK) 
			 WHERE PCI.CUSTOMER_ID =  PCPL.CUSTOMER_ID AND PCI.POLICY_ID = PCPL.POLICY_ID AND PCI.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID AND PCI.LEADER_FOLLOWER = 14549
			 )
			 * .01 * 
			 (SELECT SUM(ISNULL(COINSURANCE_FEE,0)) FROM POL_CO_INSURANCE PCI WITH(NOLOCK) 
			 WHERE PCI.CUSTOMER_ID =  PCPL.CUSTOMER_ID AND PCI.POLICY_ID = PCPL.POLICY_ID AND PCI.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID AND PCI.LEADER_FOLLOWER = 14549
			 )
			 )/100)
		END  AS COINSURANCE_FEE_AMOUNT,
	 
	 CASE 
		WHEN (PCPL.POLICY_LOB = PPC.ACC_LOB_ID) 
		THEN     
			CASE 
				WHEN (PCPL.TRANSACTION_TYPE = 14560) 
				THEN  (ISNULL(PPC.WRITTEN_PREMIUM,0) * PR1.PRO_LABORE_COMM) 
				END
		ELSE
			0
		END AS PRO_LABORE_PAYABLE,      
     
     CASE 
		WHEN (PCPL.TRANSACTION_TYPE = 14560) 
		THEN CONVERT(NVARCHAR(14),CAL.CPF_CNPJ)       
		ELSE CONVERT(NVARCHAR(14),'') 
	 END AS MASTER_POL_APP_INCOME_TAX,   
    PPC.LIMIT_1 AS MAX_SUM_INSURED            
    FROM POL_CUSTOMER_POLICY_LIST  PCPL (NOLOCK)      
    LEFT OUTER JOIN POL_POLICY_PROCESS PPP (NOLOCK) ON PPP.CUSTOMER_ID = PCPL.CUSTOMER_ID AND PPP.POLICY_ID = PCPL.POLICY_ID AND PPP.NEW_POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID       
    LEFT JOIN MNT_PRODUCT_SUSEP_PROCESS_NUMBER MPSPN (NOLOCK) ON PCPL.POLICY_LOB = MPSPN.LOB_ID AND PCPL.POLICY_SUBLOB = MPSPN.SUBLOB_ID       
    LEFT OUTER JOIN ACT_POLICY_INSTALL_PLAN_DATA APIPD (NOLOCK) ON APIPD.CUSTOMER_ID = PCPL.CUSTOMER_ID AND APIPD.POLICY_ID = PCPL.POLICY_ID AND APIPD.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID       
    LEFT OUTER JOIN MNT_DIV_LIST MDV (NOLOCK) ON MDV.DIV_ID = PCPL.DIV_ID       
    LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST MCSL (NOLOCK) ON MCSL.STATE_ID = MDV.DIV_STATE AND MCSL.COUNTRY_ID = MDV.DIV_COUNTRY      
    LEFT OUTER JOIN POL_POLICY_ENDORSEMENTS PPE (NOLOCK) ON PCPL.CUSTOMER_ID = PPE.CUSTOMER_ID AND PCPL.POLICY_ID = PPE.POLICY_ID AND PCPL.POLICY_VERSION_ID = PPE.POLICY_VERSION_ID       
    LEFT OUTER JOIN POL_APPLICANT_LIST PAL (NOLOCK) ON PCPL.CUSTOMER_ID = PAL.CUSTOMER_ID AND PCPL.POLICY_ID = PAL.POLICY_ID AND PCPL.POLICY_VERSION_ID = PAL.POLICY_VERSION_ID       
    AND PAL.IS_PRIMARY_APPLICANT = CASE WHEN PPP.PROCESS_ID = 25 THEN 1 ELSE ISNULL(PAL.IS_PRIMARY_APPLICANT,0) END 
    LEFT OUTER JOIN CLT_APPLICANT_LIST CAL (NOLOCK) ON PAL.APPLICANT_ID = CAL.APPLICANT_ID AND PAL.CUSTOMER_ID = CAL.CUSTOMER_ID     
    JOIN (SELECT PR.CUSTOMER_ID,PR.POLICY_ID,PR.POLICY_VERSION_ID,PR.CO_APPLICANT_ID ,      
     SUM(ISNULL(CASE WHEN PR.COMMISSION_TYPE IN (43) THEN CASE 
															 WHEN PAL.COMMISSION_PERCENT = 0.00 
															 THEN PR.COMMISSION_PERCENT * .01
															ELSE PR.COMMISSION_PERCENT * .01 * PAL.COMMISSION_PERCENT * .01 END END,0)) AS PER_COMM, 
     SUM(ISNULL(CASE WHEN PR.COMMISSION_TYPE IN (44) THEN CASE 
															 WHEN PAL.FEES_PERCENT = 0.00 
															 THEN PR.COMMISSION_PERCENT * .01 
															 ELSE PR.COMMISSION_PERCENT * .01 *  PAL.FEES_PERCENT * .01 END END,0)) AS PER_FEE,      
     SUM(ISNULL(CASE WHEN PR.COMMISSION_TYPE IN (45) THEN CASE 
															  WHEN PAL.PRO_LABORE_PERCENT = 0.00 
															  THEN PR.COMMISSION_PERCENT * .01
															  ELSE PR.COMMISSION_PERCENT * .01 * PAL.PRO_LABORE_PERCENT * .01 END END ,0)) AS PRO_LABORE_COMM      
     FROM POL_REMUNERATION PR (NOLOCK)      
     LEFT OUTER JOIN POL_APPLICANT_LIST PAL (NOLOCK) ON PR.CUSTOMER_ID = PAL.CUSTOMER_ID AND PR.POLICY_ID = PAL.POLICY_ID AND PR.POLICY_VERSION_ID = PAL.POLICY_VERSION_ID AND PAL.APPLICANT_ID = PR.CO_APPLICANT_ID      
     GROUP BY PR.CUSTOMER_ID,PR.POLICY_ID,PR.POLICY_VERSION_ID,PR.CO_APPLICANT_ID      
      ) PR1 ON PCPL.CUSTOMER_ID = PR1.CUSTOMER_ID AND PCPL.POLICY_ID = PR1.POLICY_ID AND PCPL.POLICY_VERSION_ID = PR1.POLICY_VERSION_ID  AND PAL.APPLICANT_ID = PR1.CO_APPLICANT_ID      
    --INNER JOIN POL_PRODUCT_COVERAGES PPC (NOLOCK) ON PCPL.CUSTOMER_ID = PPC.CUSTOMER_ID AND PCPL.POLICY_ID = PPC.POLICY_ID AND PCPL.POLICY_VERSION_ID = PPC.POLICY_VERSION_ID        
	left JOIN 
	 (/*SELECT CUSTOMER_ID ,POLICY_ID ,POLICY_VERSION_ID ,MCAL.ACC_LOB_ID,SUM(WRITTEN_PREMIUM) AS WRITTEN_PREMIUM,SUM(LIMIT_1) AS LIMIT_1
	  FROM POL_PRODUCT_COVERAGES PPC (NOLOCK) 
	  LEFT OUTER JOIN [MNT_COVERAGE_ACCOUNTING_LOB] MCAL (NOLOCK) ON PPC.COVERAGE_CODE_ID = MCAL.COV_ID
	  
	  GROUP BY CUSTOMER_ID ,POLICY_ID ,POLICY_VERSION_ID ,MCAL.ACC_LOB_ID*/
	   SELECT PPC.CUSTOMER_ID ,PPC.POLICY_ID ,PPC.POLICY_VERSION_ID ,MCAL.ACC_LOB_ID,SUM(WRITTEN_PREMIUM) AS WRITTEN_PREMIUM,SUM(LIMIT_1) AS LIMIT_1
        FROM POL_PRODUCT_COVERAGES PPC (NOLOCK) 
        LEFT OUTER JOIN [MNT_COVERAGE_ACCOUNTING_LOB] MCAL (NOLOCK) ON PPC.COVERAGE_CODE_ID = MCAL.COV_ID
        left JOIN POL_CUSTOMER_POLICY_LIST PCPL12 (NOLOCK) ON PCPL12.CUSTOMER_ID = PPC.CUSTOMER_ID
        
        AND PCPL12.POLICY_ID = PPC.POLICY_ID and PCPL12.POLICY_VERSION_ID = PPC.POLICY_VERSION_ID
        LEFT OUTER JOIN POL_POLICY_PROCESS PPP (NOLOCK) ON PPP.CUSTOMER_ID = PCPL12.CUSTOMER_ID AND PPP.POLICY_ID = PCPL12.POLICY_ID AND PPP.NEW_POLICY_VERSION_ID = PCPL12.POLICY_VERSION_ID       
       
        WHERE PPC.RISK_ID IN ( 
        
        SELECT v1.RISK_ID FROM [VW_POL_PRODUCT_RISK_DETAILS] v1 (NOLOCK) WHERE  v1.CUSTOMER_ID = PCPL12.CUSTOMER_ID AND 
        v1.POLICY_ID = PCPL12.POLICY_ID AND v1.POLICY_VERSION_ID = PCPL12.POLICY_VERSION_ID
        AND v1.RISK_ID NOT  IN 
        (
         SELECT 
        CASE when PCPL12.POLICY_LOB in(17,18,21,22,34) and (SELECT 
					PLAN_TYPE  FROM ACT_INSTALL_PLAN_DETAIL AIPD WITH(NOLOCK) 
					WHERE AIPD.IDEN_PLAN_ID=PCPL12.INSTALL_PLAN_ID)='MAUTO' 
		THEN v2.RISK_ID ELSE 0 end FROM [VW_POL_PRODUCT_RISK_DETAILS] v2 (NOLOCK) WHERE v2.CUSTOMER_ID = v1.CUSTOMER_ID AND v2.POLICY_ID = v1.POLICY_ID
        AND v2.POLICY_VERSION_ID < v1.POLICY_VERSION_ID
        )
        )
        GROUP BY PPC.CUSTOMER_ID ,PPC.POLICY_ID ,PPC.POLICY_VERSION_ID ,MCAL.ACC_LOB_ID
	) PPC 
	ON PCPL.CUSTOMER_ID = PPC.CUSTOMER_ID AND PCPL.POLICY_ID = PPC.POLICY_ID AND PCPL.POLICY_VERSION_ID = PPC.POLICY_VERSION_ID 

    --LEFT OUTER JOIN [MNT_COVERAGE_ACCOUNTING_LOB] MCAL (NOLOCK) ON PPC.COVERAGE_CODE_ID = MCAL.COV_ID
 --   LEFT OUTER JOIN MNT_LOB_MASTER MLM (NOLOCK) ON MLM.LOB_ID = PPC.ACC_LOB_ID
	--LEFT OUTER JOIN POL_CO_INSURANCE PCI (NOLOCK) ON PCPL.CUSTOMER_ID = PCI.CUSTOMER_ID AND PCPL.POLICY_ID = PCI.POLICY_ID AND PCPL.POLICY_VERSION_ID = PCI.POLICY_VERSION_ID  AND LEADER_FOLLOWER = '14549'
          
   WHERE CONVERT(VARCHAR(6),PPP.CREATED_DATETIME,112) = CONVERT(VARCHAR(6),@DATETIME,112) 
   AND (@POLICYNUMBER IS NULL OR PCPL.POLICY_NUMBER =  @POLICYNUMBER)         
   AND PCPL.CO_INSURANCE IN (14547,14548) -- FOR DIRECT  AND CEDED CO     
   AND PPP.PROCESS_ID IN (25,12,14,37)      
   AND PCPL.IS_ACTIVE = 'Y'  
  AND PAL.APPLICANT_ID=CASE 
					   WHEN PPP.PROCESS_ID=25 THEN PAL.APPLICANT_ID
					   WHEN PPP.PROCESS_ID=12 THEN PAL.APPLICANT_ID
					   WHEN PPP.PROCESS_ID=37 THEN
					   (
								 SELECT SU_PPP.CO_APPLICANT_ID  
								 FROM   
								 POL_POLICY_PROCESS SU_PPP WITH(NOLOCK)   
								 WHERE   
								 SU_PPP.CUSTOMER_ID = PPP.CUSTOMER_ID   
								 AND SU_PPP.POLICY_ID = PPP.POLICY_ID  
								 AND CONVERT(VARCHAR,SU_PPP.NEW_POLICY_VERSION_ID) =  CAST(DBO.PIECE(PPP.LAST_REVERT_BACK,'^',3) AS VARCHAR)  
								 AND SU_PPP.PROCESS_STATUS = 'COMPLETE'      
					   )
					   ELSE
					   PPP.CO_APPLICANT_ID END  
   ) TBL      
   GROUP BY PROCESS_NUMBER,TRANSACTION_TYPE,BRZ_STATE_ABBR,LOCAL_RISK_STATE_ABBR,SUSEP_LOB,POLICY_CONTRACT_NO,ENDORSMENT_NO,PROPOSAL_NO,      
      PROPOSAL_DATE, APP_INCOME_TAX_NO,INSURED_NO,CONTRACTOR_INCOME_TAX_NO,CONTRACTOR_NO,ISSUANCE_DATE,EFFECTIVE_DATE,EXPIRED_DATE,      
      COINSURANCE_CESSION_PREMIUM,INSTALLMENT_INTEREST_AMOUNT,POLICY_COST,FINANCIAL_OPR_TAX,COMMISSION_VALUE,      
      COINSURANCE_FEE_AMOUNT,PRO_LABORE_PAYABLE,MASTER_POL_APP_INCOME_TAX,MAX_SUM_INSURED      
         
         
   SELECT          
   -------NUMERIC SEQUENCE IN FILE----------------        
   RIGHT('0000000000' +CONVERT(VARCHAR,SEQUENCE_NO),10) AS SEQUENCIA,        
   --------COMPANY CODE IN SUSEP------------------            
   '504-5' AS COD_CIA,    
   REPLACE(REPLACE(REPLACE(ISNULL(PROCESS_NUMBER,''),'.',''),'/',''),'-','') AS NUM_PROC,        
  ----------REFERENCE MONTH -----------------        
   CASE          
   WHEN @MONTH IN (1,2,3,4,5,6,7,8,9) THEN  @YEAR + '0' + @MONTH         
   WHEN @MONTH IN (10,11,12) THEN  @YEAR + @MONTH        
   END AS DT_BASE,          
            
    TRANSACTION_TYPE AS TIPO_MOV,        
    ISNULL(BRZ_STATE_ABBR,'') AS UF_DEP,        
    ISNULL(LOCAL_RISK_STATE_ABBR,'') AS UF_RISCO,        
    RIGHT('0000' + ISNULL(SUSEP_LOB,0),4) AS COD_RAMO,      
    --POLICY_CONTRACT_NO,      
    CAST(ISNULL(POLICY_CONTRACT_NO,'') AS VARCHAR(21)) AS NUM_APOL,        
    --ENDORSMENT_NO,      
    RIGHT('                    '+ CAST(ISNULL(ENDORSMENT_NO,'') AS VARCHAR),20) AS NUM_END,        
    --PROPOSAL_NO       
    RIGHT('                    '+ CAST(ISNULL(PROPOSAL_NO,'') AS VARCHAR),20) AS NUM_PROP,        
    ISNULL(PROPOSAL_DATE,0) AS DT_PROP,        
    RIGHT('              '+REPLACE(REPLACE(REPLACE(APP_INCOME_TAX_NO,'.',''),'/',''),'-',''),14) AS CPF_SEG,      
    --THIS FIELD IS NOT CLEAR IMAGINE 0 AS DEFAULT        
    ISNULL(INSURED_NO,0) AS QTD_SEG,        
    RIGHT('              '+ISNULL(CONTRACTOR_INCOME_TAX_NO,''),14) AS CPF_TOM,   
    ISNULL(CONTRACTOR_NO,0) AS QTD_TOM,      
    --RIGHT('0000'+ISNULL(CONTRACTOR_NO,0),4) AS QTD_TOM,        
    ISNULL(ISSUANCE_DATE,'') AS DT_EMIS,        
    ISNULL(EFFECTIVE_DATE,'') AS DT_INI_VIG,        
    ISNULL(EXPIRED_DATE,'') AS DT_FIM_VIG,  
    RIGHT(''+ CAST(ISNULL(ISSUANCE_PREMIUM,0) AS VARCHAR),16) AS PR_EMIT,        
    --ISNULL(ISSUANCE_PREMIUM,0) AS PR_EMIT,  
    RIGHT(''+CAST(ABS(ISNULL(COINSURANCE_CESSION_PREMIUM,0)) AS VARCHAR),16) AS PR_COS_CED,         
    --ISNULL(COINSURANCE_CESSION_PREMIUM,0) AS PR_COS_CED,  
    RIGHT(''+CAST(ABS(ISNULL(INSTALLMENT_INTEREST_AMOUNT,0)) AS VARCHAR),16) AS AD_FRAC,        
    --ISNULL(INSTALLMENT_INTEREST_AMOUNT,0) AS AD_FRAC,  
    RIGHT(''+CAST(ABS(ISNULL(POLICY_COST,0)) AS VARCHAR),16) AS CUST_APOL,        
    --ISNULL(POLICY_COST,0) AS CUST_APOL,  
    RIGHT(''+CAST(ABS(ISNULL(FINANCIAL_OPR_TAX,0)) AS VARCHAR),16) AS IOF,        
    --ISNULL(FINANCIAL_OPR_TAX,0) AS IOF,   
    RIGHT(''+CAST(ABS(ISNULL(COMMISSION_VALUE,0)) AS VARCHAR),16) AS COMIS,       
   --ISNULL(COMMISSION_VALUE,0) AS COMIS,   
    RIGHT(''+CAST(ABS(ISNULL(COINSURANCE_FEE_AMOUNT,0)) AS VARCHAR),16) AS COMIS_COSS,       
    --ISNULL(COINSURANCE_FEE_AMOUNT,0) AS COMIS_COSS,  
    RIGHT(''+CAST(ABS(ISNULL(PRO_LABORE_PAYABLE,0)) AS VARCHAR),16) AS PRO_LAB,         
    --ISNULL(PRO_LABORE_PAYABLE,0) AS PRO_LAB,        
    RIGHT('              '+REPLACE(REPLACE(REPLACE(ISNULL(MASTER_POL_APP_INCOME_TAX,''),'.',''),'/',''),'-',''),14) AS CPF_ESTIP,  
    RIGHT(''+CAST(ISNULL(MAX_COV_SUM_INSURED,0) AS VARCHAR),16) AS [IS]          
    --MAX_COV_SUM_INSURED AS [IS]        
 FROM #TEMPPREMIT       
         
   DROP TABLE #TEMPPREMIT      
END   
GO