IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_SUSEP_AT_INV_INSURER_PARTICIPANT_INVALIDITY]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_SUSEP_AT_INV_INSURER_PARTICIPANT_INVALIDITY]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- *********************  MODIFICATION HISTORY   *********************                  
-- MODIFIED BY : <SHIKHA CHOURASIYA>                 
-- MODIFIED DATE : <2011-06-09>              
-- DESCRIPTION :  ITrack - 1241                 
-- ************************************************************                  
-- *********************  EXECUTION PATH   *********************                  
-- EXEC [PROC_SUSEP_AT_INV_INSURER_PARTICIPANT_INVALIDITY] '08-08-2011'           
-- ************************************************************  

CREATE PROCEDURE [dbo].[PROC_SUSEP_AT_INV_INSURER_PARTICIPANT_INVALIDITY]   
 -- Add the parameters for the stored procedure here  
 @DATETIME DATETIME  
AS  
BEGIN  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
 SET NOCOUNT ON;  
 DECLARE @YEAR VARCHAR(4)  
 SET @YEAR = DATEPART(YYYY,@DATETIME)  
    -- Insert statements for procedure here  
 SELECT  TBL.SUSEP_INSURER_CODE COD_EMP,  
   TBL.REFERENCE_YEAR AS REF_INFO,  
   TBL.PRODUCT_CODE AS PRODUTO,  
   TBL.COVER_CODE AS COBERTURA,  
   CONVERT(VARCHAR(6),TBL.DATE_OF_BIRTH,112) AS DATA_NASC,  
   CONVERT(VARCHAR(6),TBL.EFFECTIVE_DATETIME,112) AS DATA_INGR,  
   RIGHT('           '+REPLACE(REPLACE(REPLACE(ISNULL(TBL.CPF_NUM,''),'.',''),'/',''),'-',''),11) AS CPF,  
   ISNULL(TBL.GENDER,'') AS SEXO,  
   RIGHT(ISNULL(TBL.SUM_INSURED,0),11) AS VALOR  
 FROM (  
       SELECT   
   '504-5' AS SUSEP_INSURER_CODE,  
   CONVERT(VARCHAR(4),@YEAR,112) AS REFERENCE_YEAR,  
   'VGA' AS PRODUCT_CODE,  
   CASE WHEN MC.COV_TYPE_ABBR IN ('IPA','IEA') THEN '1'  
     WHEN MC.COV_TYPE_ABBR IN ('IPD','IPD-F') THEN '2'  
     END AS COVER_CODE,  
   PPAI.DATE_OF_BIRTH,    
   PPP.EFFECTIVE_DATETIME,  
   PPAI.CPF_NUM,  
   CASE WHEN PPAI.GENDER = 6615 THEN 'M'  
     WHEN PPAI.GENDER = 6614 THEN 'F'  
     END GENDER,     
   SUM(PPC.LIMIT_1) AS SUM_INSURED     
     FROM POL_CUSTOMER_POLICY_LIST PCPL   
     LEFT OUTER JOIN POL_PERSONAL_ACCIDENT_INFO PPAI ON PCPL.CUSTOMER_ID = PPAI.CUSTOMER_ID AND PCPL.POLICY_ID = PPAI.POLICY_ID AND PCPL.POLICY_VERSION_ID = PPAI.POLICY_VERSION_ID   
     LEFT OUTER JOIN POL_PRODUCT_COVERAGES PPC ON PPAI.CUSTOMER_ID = PPC.CUSTOMER_ID  AND PPAI.POLICY_ID = PPC.POLICY_ID  AND PPAI.POLICY_VERSION_ID = PPC.POLICY_VERSION_ID AND PPAI.PERSONAL_INFO_ID = PPC.RISK_ID   
     LEFT OUTER JOIN MNT_COVERAGE MC ON PPC.COVERAGE_CODE_ID = MC.COV_ID   
     LEFT OUTER JOIN POL_POLICY_PROCESS PPP ON PCPL.CUSTOMER_ID = PPP.CUSTOMER_ID AND PCPL.POLICY_ID = PPP.NEW_POLICY_ID  AND PCPL.POLICY_VERSION_ID = PPP.NEW_POLICY_VERSION_ID  AND PPAI.APPLICANT_ID = PPP.CO_APPLICANT_ID   
     WHERE CONVERT(VARCHAR(4),DATEPART(YYYY,PPP.CREATED_DATETIME)) = CONVERT(VARCHAR(4),2011)  
     AND PCPL.POLICY_LOB = 34  
     AND MC.COV_TYPE_ABBR IN ('IPA','IEA','IPD','IPD-F')  
     GROUP BY MC.COV_TYPE_ABBR,  
     DATE_OF_BIRTH,    
     EFFECTIVE_DATETIME,  
     CPF_NUM,   
     GENDER       
 ) TBL  
END  

GO

