IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_FetchAgencyProductionReport_ASLOB]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_FetchAgencyProductionReport_ASLOB]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*
Proc Name                : dbo.Proc_FetchAgencyProductionReport_ASLOB 
Create by				 : Asfa Praveen                                                                   
Date                     : 20 Aug 2008
Purpose                  : To get the Agency Written Premium Report by ASLOB
Revison History          :  
Used In                  : Wolverine  
drop proc dbo.Proc_FetchAgencyProductionReport_ASLOB 
*/
CREATE PROC [dbo].[Proc_FetchAgencyProductionReport_ASLOB]
(
@MONTH INT,
@YEAR INT,
@AGENCY_ID INT =NULL
)
AS
BEGIN

WITH 
EARNED_PREM AS
(
SELECT AEP.STATE_ID,AEP.AGENCY_ID,AEP.YEAR_NUMBER,AEP.MONTH_NUMBER,
POLICY_LOB AS LOB_ID,
--SUM(CASE WHEN AEP.CURRENT_TERM=1 THEN WRITTEN_PREMIUM ELSE 0 END) WRITTEN_PREMIUM_NBS,
--SUM(CASE WHEN AEP.CURRENT_TERM<>1 THEN WRITTEN_PREMIUM ELSE 0 END) WRITTEN_PREMIUM_RENEW,

SUM(CASE WHEN AEP.YEAR_NUMBER = @YEAR THEN CASE WHEN dbo.IsRenewedPolicy (PCPL.CUSTOMER_ID , PCPL.POLICY_ID , PCPL.POLICY_VERSION_ID ) <> 1  THEN WRITTEN_PREMIUM ELSE 0 END ELSE 0 END) WRITTEN_PREMIUM_NBS_CURRENT,
SUM(CASE WHEN AEP.YEAR_NUMBER = @YEAR THEN CASE WHEN 
--AEP.CURRENT_TERM<>1 
dbo.IsRenewedPolicy (PCPL.CUSTOMER_ID , PCPL.POLICY_ID , PCPL.POLICY_VERSION_ID ) = 1 
THEN WRITTEN_PREMIUM ELSE 0 END ELSE 0 END) WRITTEN_PREMIUM_RENEW_CURRENT,

SUM(CASE WHEN AEP.YEAR_NUMBER = @YEAR-1 THEN CASE WHEN dbo.IsRenewedPolicy (PCPL.CUSTOMER_ID , PCPL.POLICY_ID , PCPL.POLICY_VERSION_ID ) <> 1  THEN WRITTEN_PREMIUM ELSE 0 END ELSE 0 END) WRITTEN_PREMIUM_NBS_PREVIOUS,
SUM(CASE WHEN AEP.YEAR_NUMBER = @YEAR-1 THEN CASE WHEN 
--AEP.CURRENT_TERM<>1 
dbo.IsRenewedPolicy (PCPL.CUSTOMER_ID , PCPL.POLICY_ID , PCPL.POLICY_VERSION_ID ) = 1 
THEN WRITTEN_PREMIUM ELSE 0 END ELSE 0 END) WRITTEN_PREMIUM_RENEW_PREVIOUS,

SUM(CASE WHEN AEP.YEAR_NUMBER = @YEAR THEN EARNED_PREMIUM ELSE 0 END) EARNED_PREMIUM


FROM ACT_EARNED_PREMIUM AEP 
INNER JOIN POL_CUSTOMER_POLICY_LIST PCPL 
ON PCPL.CUSTOMER_ID=AEP.CUSTOMER_ID 
AND PCPL.POLICY_ID=AEP.POLICY_ID 
AND PCPL.POLICY_NUMBER=AEP.POLICY_NUMBER 
AND PCPL.CURRENT_TERM=AEP.CURRENT_TERM
and PCPL.policy_version_id = 
(SELECT MAX(PCPL1.Policy_version_id) FROM POL_CUSTOMER_POLICY_LIST PCPL1                   
WHERE AEP.CUSTOMER_ID = PCPL1.CUSTOMER_ID AND AEP.POLICY_ID = PCPL1.POLICY_ID
	AND PCPL1.POLICY_NUMBER	= AEP.POLICY_NUMBER 
	AND PCPL1.CURRENT_TERM	= AEP.CURRENT_TERM
	)
where COVERAGEID NOT IN (20007,20008,20009,20010,20011) --MCCAF AND MCCACYF
AND (AEP.YEAR_NUMBER =@YEAR or AEP.YEAR_NUMBER = @YEAR-1)

GROUP BY AEP.STATE_ID,AEP.AGENCY_ID,POLICY_LOB,YEAR_NUMBER,MONTH_NUMBER

),
ENFORCE_COUNT AS
(
SELECT STATE_ID,AGENCY_ID,LOB_ID,YEAR_NUMBER,MONTH_NUMBER,
SUM(INFORCE_TOTAL)  INFORCE_TOTAL,
SUM(NBS_COMMITTED)  NBS_COMMITTED,
SUM(NBS_CANCEL)  NBS_CANCEL,
SUM(RENEWAL_COMMITTED)  RENEWAL_COMMITTED,
SUM(RENEWAL_CANCEL)  RENEWAL_CANCEL,

SUM(case when YEAR_NUMBER =@YEAR then INFORCE_TOTAL else 0 end)  INFORCE_TOTAL_CURRENT,
SUM(case when YEAR_NUMBER =@YEAR then NBS_EFFECTIVE else 0 end)  NBS_EFFECTIVE_CURRENT,
--SUM(case when YEAR_NUMBER =@YEAR then NBS_EFFECTIVE_CANCEL else 0 end)  NBS_EFFECTIVE_CANCEL_CURRENT,   Modified on 29 jan 09 by Pravesh
SUM(case when YEAR_NUMBER =@YEAR then NBS_CANCEL else 0 end) - SUM(case when YEAR_NUMBER =@YEAR then NBS_REINSTATE else 0 end)  NBS_EFFECTIVE_CANCEL_CURRENT,  

SUM(case when YEAR_NUMBER =@YEAR then RENEWAL_EFFECTIVE else 0 end)  RENEWAL_EFFECTIVE_CURRENT,
--SUM(case when YEAR_NUMBER =@YEAR then RENEWAL_EFFECTIVE_CANCEL else 0 end)  RENEWAL_EFFECTIVE_CANCEL_CURRENT, Modified on 29 jan 09 by Pravesh
SUM(case when YEAR_NUMBER =@YEAR then RENEWAL_CANCEL else 0 end) - SUM(case when YEAR_NUMBER =@YEAR then  RENEWAL_REINSTATE else 0 end) RENEWAL_EFFECTIVE_CANCEL_CURRENT,  

SUM(case when YEAR_NUMBER =@YEAR-1  then INFORCE_TOTAL else 0 end)  INFORCE_TOTAL_PREVIOUS,
SUM(case when YEAR_NUMBER =@YEAR-1  then NBS_EFFECTIVE else 0 end)  NBS_EFFECTIVE_PREVIOUS


FROM ACT_AGENCY_LOB_PREMIUM 
where (YEAR_NUMBER =@YEAR or YEAR_NUMBER = @YEAR-1)
GROUP BY STATE_ID,AGENCY_ID,LOB_ID,YEAR_NUMBER,MONTH_NUMBER
),

PAID_LOSS AS
(
SELECT VWCLM.STATE_ID,VWCLM.AGENCY_ID,VWCLM.CLAIM_ID,VWCLM.LOB_ID AS LOB_ID,ACTV_YEAR,ACTV_MONTH,
ISNULL(SUM(CASE WHEN ACTION_ON_PAYMENT IN (180,181,176,177) THEN ISNULL(AMOUNT,0) ELSE 0 END),0) -
ISNULL(SUM(CASE WHEN ACTION_ON_PAYMENT IN (63,64,70,188,240,242,243,244,245) THEN ISNULL(AMOUNT,0) ELSE 0 END),0)  AS LOSS_PAID
FROM VW_CLAIM_TRANSACTION_DETAIL VWCLM
--INNER JOIN POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK) ON PCPL.CUSTOMER_ID=VWCLM.CUSTOMER_ID AND PCPL.POLICY_ID=VWCLM.POLICY_ID 
--AND PCPL.POLICY_NUMBER=VWCLM.POLICY_NUMBER
WHERE (ACTV_YEAR = @YEAR OR ACTV_YEAR =@YEAR-1 )
GROUP BY VWCLM.STATE_ID,VWCLM.AGENCY_ID,VWCLM.CLAIM_ID,VWCLM.LOB_ID,ACTV_YEAR,ACTV_MONTH
)
,
PAID_LOSS_INCURRED AS
(
SELECT PL.STATE_ID,PL.AGENCY_ID,BE.CLAIM_ID,PL.LOB_ID,BE.YEAR_NUMBER ,BE.MONTH_NUMBER,
(ISNULL(END_RESERVE,0) + ISNULL(PL.LOSS_PAID ,0))- ISNULL(BEGIN_RESERVE,0) AS LOSSES_INCURRED,
 PL.LOSS_PAID
FROM VW_BEGINING_ENDING_RESERVE BE 
INNER JOIN PAID_LOSS PL ON PL.STATE_ID=BE.STATE_ID AND PL.AGENCY_ID=BE.AGENCY_ID
AND PL.LOB_ID=BE.LOB_ID AND PL.ACTV_YEAR=BE.YEAR_NUMBER AND PL.ACTV_MONTH=BE.MONTH_NUMBER
WHERE (BE.YEAR_NUMBER =@YEAR OR BE.YEAR_NUMBER=@YEAR-1)
)
------final result query
SELECT ST.STATE_NAME,AG.AGENCY_CODE,AG.AGENCY_DISPLAY_NAME,LB.LOB_DESC,ISNULL(LB1.LOB_DESC, LOB_SUB_CATEGORY) LOB_SUB_CATEGORY,FINAL.* FROM
--SELECT ST.STATE_NAME,AG.AGENCY_DISPLAY_NAME,LB.LOB_DESC,FINAL.* FROM
(

SELECT EP.STATE_ID,EP.AGENCY_ID,EP.LOB_ID,EP.LOB_ID as LOB_SUB_CATEGORY,EP.YEAR_NUMBER,@MONTH as MONTH_NUMBER,
SUM(CASE WHEN EP.MONTH_NUMBER=@MONTH THEN WRITTEN_PREMIUM_NBS_CURRENT ELSE 0 END) AS WRITTEN_PREMIUM_NBS,
SUM(CASE WHEN EP.MONTH_NUMBER=@MONTH THEN NBS_EFFECTIVE_CURRENT ELSE 0 END) NBS_EFFECTIVE_CURRENT,
SUM(CASE WHEN EP.MONTH_NUMBER=@MONTH THEN NBS_EFFECTIVE_CANCEL_CURRENT ELSE 0 END ) NBS_EFFECTIVE_CANCEL,

SUM(CASE WHEN EP.MONTH_NUMBER=@MONTH THEN WRITTEN_PREMIUM_RENEW_CURRENT ELSE 0 END) AS WRITTEN_PREMIUM_RENEW,
SUM(CASE WHEN EP.MONTH_NUMBER=@MONTH THEN RENEWAL_EFFECTIVE_CURRENT ELSE 0 END) RENEWAL_EFFECTIVE,
SUM(CASE WHEN EP.MONTH_NUMBER=@MONTH THEN RENEWAL_EFFECTIVE_CANCEL_CURRENT ELSE 0 END) RENEWAL_EFFECTIVE_CANCEL,

SUM(WRITTEN_PREMIUM_NBS_CURRENT) AS WRITTEN_PREMIUM_NBS_YTD, 
SUM(NBS_EFFECTIVE_CURRENT) NBS_EFFECTIVE_YTD,
--SUM(NBS_EFFECTIVE_CANCEL_CURRENT) NBS_CANCEL_YTD,

SUM(WRITTEN_PREMIUM_RENEW_CURRENT) AS WRITTEN_PREMIUM_RENEW_YTD,
SUM(RENEWAL_EFFECTIVE_CURRENT) RENEWAL_EFFECTIVE_YTD,

--SUM(isnull(NBS_EFFECTIVE_CURRENT,0)) + SUM(isnull(RENEWAL_EFFECTIVE_CURRENT,0)) as TOTAL_CANCEL_YTD,
SUM(isnull(NBS_EFFECTIVE_CANCEL_CURRENT,0)) + SUM(isnull(RENEWAL_EFFECTIVE_CANCEL_CURRENT,0)) as TOTAL_CANCEL_YTD,  
SUM(WRITTEN_PREMIUM_NBS_CURRENT) + SUM(WRITTEN_PREMIUM_RENEW_CURRENT) AS TOTAL_WRITTEN_PREMIUM_YTD,
--SUM(INFORCE_TOTAL) AS TOTAL_INFORCE,
SUM(CASE WHEN EC.MONTH_NUMBER=@MONTH THEN INFORCE_TOTAL ELSE 0 END) AS TOTAL_INFORCE,
SUM(CASE WHEN EP.MONTH_NUMBER<=@MONTH THEN WRITTEN_PREMIUM_NBS_PREVIOUS ELSE 0 END) AS WRITTEN_PREMIUM_PREVIOUS_YTD,
--SUM(CASE WHEN EP.MONTH_NUMBER<=@MONTH THEN NBS_EFFECTIVE_PREVIOUS ELSE 0 END) NBS_EFFECTIVE_PREVIOUS,
SUM(CASE WHEN EC.MONTH_NUMBER<=@MONTH THEN INFORCE_TOTAL_PREVIOUS ELSE 0 END) INFORCE_TOTAL_PREVIOUS,

sum(EARNED_PREMIUM) EARNED_PREMIUM,
0 as LOSSIN,
SUM(PLI.LOSSES_INCURRED) AS LOSSES_INCURRED,
SUM(PLI.LOSS_PAID) AS LOSS_PAID 

FROM EARNED_PREM EP
INNER JOIN ENFORCE_COUNT EC ON 
EP.STATE_ID=EC.STATE_ID AND EP.AGENCY_ID=EC.AGENCY_ID 
AND EP.LOB_ID=EC.LOB_ID AND EP.MONTH_NUMBER=EC.MONTH_NUMBER AND EP.YEAR_NUMBER=EC.YEAR_NUMBER

FULL OUTER JOIN PAID_LOSS_INCURRED PLI ON PLI.STATE_ID=EP.STATE_ID AND PLI.AGENCY_ID=EP.AGENCY_ID
AND convert(varchar,PLI.LOB_ID)=EP.LOB_ID AND PLI.YEAR_NUMBER=EP.YEAR_NUMBER AND PLI.MONTH_NUMBER=EP.MONTH_NUMBER
 
WHERE (EP.YEAR_NUMBER=@YEAR or EP.YEAR_NUMBER=@YEAR-1)
AND EP.MONTH_NUMBER <= @MONTH
AND EP.AGENCY_ID=ISNULL(@AGENCY_ID,EP.AGENCY_ID) AND EP.LOB_ID <> 6
GROUP BY EP.STATE_ID,EP.AGENCY_ID,EP.LOB_ID,EP.YEAR_NUMBER
--) FINAL 
--
--LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST ST ON ST.STATE_ID=FINAL.STATE_ID
--LEFT OUTER JOIN MNT_LOB_MASTER LB ON LB.LOB_ID=FINAL.LOB_ID
--LEFT OUTER JOIN MNT_AGENCY_LIST AG ON AG.AGENCY_ID=FINAL.AGENCY_ID


UNION

SELECT EP.STATE_ID,EP.AGENCY_ID,EP.LOB_ID,LOB_SUB_CATEGORY,EP.YEAR_NUMBER,@MONTH as MONTH_NUMBER,
SUM(CASE WHEN EP.MONTH_NUMBER=@MONTH THEN WRITTEN_PREMIUM_NBS_CURRENT ELSE 0 END *PERCENTAGE/100 ) AS WRITTEN_PREMIUM_NBS,
SUM(CASE WHEN EP.MONTH_NUMBER=@MONTH THEN NBS_EFFECTIVE_CURRENT ELSE 0 END) NBS_EFFECTIVE_CURRENT,
SUM(CASE WHEN EP.MONTH_NUMBER=@MONTH THEN NBS_EFFECTIVE_CANCEL_CURRENT ELSE 0 END ) NBS_EFFECTIVE_CANCEL,

SUM(CASE WHEN EP.MONTH_NUMBER=@MONTH THEN WRITTEN_PREMIUM_RENEW_CURRENT ELSE 0 END *PERCENTAGE/100) AS WRITTEN_PREMIUM_RENEW,
SUM(CASE WHEN EP.MONTH_NUMBER=@MONTH THEN RENEWAL_EFFECTIVE_CURRENT ELSE 0 END) RENEWAL_EFFECTIVE,
SUM(CASE WHEN EP.MONTH_NUMBER=@MONTH THEN RENEWAL_EFFECTIVE_CANCEL_CURRENT ELSE 0 END) RENEWAL_EFFECTIVE_CANCEL,

SUM(WRITTEN_PREMIUM_NBS_CURRENT*PERCENTAGE/100) AS WRITTEN_PREMIUM_NBS_YTD, 
SUM(NBS_EFFECTIVE_CURRENT) NBS_EFFECTIVE_YTD,
--SUM(NBS_EFFECTIVE_CANCEL_CURRENT) NBS_CANCEL_YTD,

SUM(WRITTEN_PREMIUM_RENEW_CURRENT *PERCENTAGE/100) AS WRITTEN_PREMIUM_RENEW_YTD,
SUM(RENEWAL_EFFECTIVE_CURRENT) RENEWAL_EFFECTIVE_YTD,

SUM(isnull(NBS_EFFECTIVE_CANCEL_CURRENT,0)) + SUM(isnull(RENEWAL_EFFECTIVE_CANCEL_CURRENT,0)) as TOTAL_CANCEL_YTD,  
--SUM(isnull(NBS_EFFECTIVE_CURRENT,0)) + SUM(isnull(RENEWAL_EFFECTIVE_CURRENT,0)) as TOTAL_CANCEL_YTD,

SUM(WRITTEN_PREMIUM_NBS_CURRENT*PERCENTAGE/100) + SUM(WRITTEN_PREMIUM_RENEW_CURRENT*PERCENTAGE/100) AS TOTAL_WRITTEN_PREMIUM_YTD,
--SUM(INFORCE_TOTAL) AS TOTAL_INFORCE,
SUM(CASE WHEN EC.MONTH_NUMBER=@MONTH THEN INFORCE_TOTAL ELSE 0 END) AS TOTAL_INFORCE,

SUM(CASE WHEN EP.MONTH_NUMBER<=@MONTH THEN WRITTEN_PREMIUM_NBS_PREVIOUS ELSE 0 END *PERCENTAGE/100) AS WRITTEN_PREMIUM_PREVIOUS_YTD,
--SUM(CASE WHEN EP.MONTH_NUMBER<=7 THEN NBS_EFFECTIVE_PREVIOUS ELSE 0 END) NBS_EFFECTIVE_PREVIOUS,
SUM(CASE WHEN EC.MONTH_NUMBER<=@MONTH THEN INFORCE_TOTAL_PREVIOUS ELSE 0 END *PERCENTAGE/100) INFORCE_TOTAL_PREVIOUS,

--sum(EARNED_PREMIUM) EARNED_PREMIUM,
sum(EARNED_PREMIUM*PERCENTAGE/100) EARNED_PREMIUM,

(
SELECT SUM(isnull(LOSSES_INCURRED,0)) FROM  
PAID_LOSS_INCURRED PIL WITH(NOLOCK) 
INNER JOIN CLM_OCCURRENCE_DETAIL COD WITH(NOLOCK) ON COD.CLAIM_ID=PIL.CLAIM_ID
--AND PIL.CLAIM_ID=PLI.CLAIM_ID
AND EP.STATE_ID=PIL.STATE_ID AND EP.AGENCY_ID=PIL.AGENCY_ID AND EP.LOB_ID=PIL.LOB_ID AND EP.YEAR_NUMBER=PIL.YEAR_NUMBER
AND  
(CASE WHEN (COD.LOSS_TYPE + ',' LIKE '%32,%') OR (COD.LOSS_TYPE + ',' LIKE '%37,%') THEN 'Fire'         
WHEN (COD.LOSS_TYPE + ',' LIKE '%26,%') OR (COD.LOSS_TYPE + ',' LIKE '%27,%')         
OR (COD.LOSS_TYPE + ',' LIKE '%30,%') OR (COD.LOSS_TYPE + ',' LIKE '%31,%')         
OR (COD.LOSS_TYPE + ',' LIKE '%33,%') OR (COD.LOSS_TYPE + ',' LIKE '%34,%')         
OR (COD.LOSS_TYPE + ',' LIKE '%35,%') OR (COD.LOSS_TYPE + ',' LIKE '%36,%')         
OR (COD.LOSS_TYPE + ',' LIKE '%38,%') OR (COD.LOSS_TYPE + ',' LIKE '%39,%')         
OR (COD.LOSS_TYPE + ',' LIKE '%40,%') OR (COD.LOSS_TYPE + ',' LIKE '%41,%')         
OR (COD.LOSS_TYPE + ',' LIKE '%42,%') OR (COD.LOSS_TYPE + ',' LIKE '%43,%')         
OR (COD.LOSS_TYPE + ',' LIKE '%44,%') OR (COD.LOSS_TYPE + ',' LIKE '%45,%')         
OR (COD.LOSS_TYPE + ',' LIKE '%50,%') OR (COD.LOSS_TYPE + ',' LIKE '%56,%')         
OR (COD.LOSS_TYPE + ',' LIKE '%58,%') OR (COD.LOSS_TYPE + ',' LIKE '%59,%')         
OR (COD.LOSS_TYPE + ',' LIKE '%60,%') OR (COD.LOSS_TYPE + ',' LIKE '%62,%') OR (COD.LOSS_TYPE + ',' LIKE '%230,%')         
THEN 'EC'        
WHEN (COD.LOSS_TYPE + ',' LIKE '%51,%') OR (COD.LOSS_TYPE + ',' LIKE '%52,%')         
OR (COD.LOSS_TYPE + ',' LIKE '%53,%') OR (COD.LOSS_TYPE + ',' LIKE '%55,%')      
THEN 'Liability'       
ELSE 'EC'              
END) = MCFP.LOB_SUB_CATEGORY
) 
LOSSIN,

SUM(PLI.LOSSES_INCURRED) AS LOSSES_INCURRED,
SUM(PLI.LOSS_PAID) AS LOSS_PAID 

FROM EARNED_PREM EP
INNER JOIN ENFORCE_COUNT EC WITH(NOLOCK) ON 
EP.STATE_ID=EC.STATE_ID AND EP.AGENCY_ID=EC.AGENCY_ID 
AND EP.LOB_ID=EC.LOB_ID AND EP.MONTH_NUMBER=EC.MONTH_NUMBER AND EP.YEAR_NUMBER=EC.YEAR_NUMBER

FULL OUTER JOIN PAID_LOSS_INCURRED PLI ON PLI.STATE_ID=EP.STATE_ID AND PLI.AGENCY_ID=EP.AGENCY_ID
AND convert(varchar,PLI.LOB_ID)=EP.LOB_ID AND PLI.YEAR_NUMBER=EP.YEAR_NUMBER AND PLI.MONTH_NUMBER=EP.MONTH_NUMBER

LEFT OUTER JOIN MNT_CLAIM_FIREEC_PERCENT MCFP ON MCFP.STATE_ID=EP.STATE_ID AND EP.LOB_ID=MCFP.LOB_ID

WHERE (EP.YEAR_NUMBER=@YEAR or EP.YEAR_NUMBER=@YEAR-1)
AND EP.MONTH_NUMBER <= @MONTH
AND EP.AGENCY_ID=ISNULL(@AGENCY_ID,EP.AGENCY_ID)  AND EP.LOB_ID = 6
GROUP BY EP.STATE_ID,EP.AGENCY_ID,EP.LOB_ID,LOB_SUB_CATEGORY,EP.YEAR_NUMBER
) FINAL 

LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST ST ON ST.STATE_ID=FINAL.STATE_ID
LEFT OUTER JOIN MNT_LOB_MASTER LB ON LB.LOB_ID=FINAL.LOB_ID
LEFT OUTER JOIN MNT_LOB_MASTER LB1 ON CONVERT(VARCHAR,LB1.LOB_ID)=FINAL.LOB_SUB_CATEGORY
LEFT OUTER JOIN MNT_AGENCY_LIST AG ON AG.AGENCY_ID=FINAL.AGENCY_ID


END





GO

