IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetPDFAcord81GeneralInfo]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetPDFAcord81GeneralInfo]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER OFF
GO







--DROP PROCEDURE Proc_GetPDFAcord81GeneralInfo
CREATE PROCEDURE Proc_GetPDFAcord81GeneralInfo
(
	@CUSTOMERID 		int,
	@POLID 	             	int,
	@VERSIONID 		int,
	@CALLEDFROM		VARCHAR(20)
)
AS
DECLARE @PROTDEVICE INT
DECLARE @ISDEDUCTIBLE INT
DECLARE @OTHERINSURANCEWITHWOLVERINE INT
DECLARE @COVDECLINEDCANCELLED INT
DECLARE @PRIORLOSS INT
DECLARE @PRIORCARRIERPOLICYNUMBER VARCHAR(1000)
BEGIN
	IF @CALLEDFROM='APPLICATION'
	BEGIN
		SELECT 
			@PROTDEVICE=CASE COUNT(*) WHEN 0 THEN 0 ELSE 1 END  
		FROM APP_HOME_RATING_INFO 
		WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@POLID AND APP_VERSION_ID=@VERSIONID 
			AND (CENT_ST_BURG_FIRE='Y' OR CENT_ST_BURG='Y' OR DIR_FIRE_AND_POLICE='Y' OR DIR_FIRE='Y')
	
		SELECT 
			@ISDEDUCTIBLE= CASE COUNT(*) WHEN 0 THEN 0 ELSE 1 END 
		FROM APP_HOME_OWNER_SCH_ITEMS_CVGS 
			INNER JOIN MNT_COVERAGE_RANGES ON COV_ID=ITEM_ID AND LIMIT_DEDUC_ID=DEDUCTIBLE
		WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@POLID AND APP_VERSION_ID=@VERSIONID AND LIMIT_DEDUC_AMOUNT>0

		SELECT 
			@OTHERINSURANCEWITHWOLVERINE=ANY_OTH_INSU_COMP,@COVDECLINEDCANCELLED=ANY_COV_DECLINED_CANCELED 
		FROM APP_HOME_OWNER_GEN_INFO 	
		WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@POLID AND APP_VERSION_ID=@VERSIONID
		
	END
	ELSE IF @CALLEDFROM='POLICY'
	BEGIN
		SELECT 
			@PROTDEVICE=CASE COUNT(*) WHEN 0 THEN 0 ELSE 1 END  
		FROM POL_HOME_RATING_INFO 
		WHERE CUSTOMER_ID=@CUSTOMERID AND POLICY_ID=@POLID AND POLICY_VERSION_ID=@VERSIONID
			AND (CENT_ST_BURG_FIRE='Y' OR CENT_ST_BURG='Y' OR DIR_FIRE_AND_POLICE='Y' OR DIR_FIRE='Y')

		SELECT 
			@ISDEDUCTIBLE= CASE COUNT(*) WHEN 0 THEN 0 ELSE 1 END 
		FROM POL_HOME_OWNER_SCH_ITEMS_CVGS 
			INNER JOIN MNT_COVERAGE_RANGES ON MNT_COVERAGE_RANGES.COV_ID=ITEM_ID AND LIMIT_DEDUC_ID=DEDUCTIBLE
		WHERE CUSTOMER_ID=@CUSTOMERID AND POLICY_ID=@POLID AND POLICY_VERSION_ID=@VERSIONID AND LIMIT_DEDUC_AMOUNT>0

		SELECT 
			@OTHERINSURANCEWITHWOLVERINE=ANY_OTH_INSU_COMP,@COVDECLINEDCANCELLED=ANY_COV_DECLINED_CANCELED 
		FROM POL_HOME_OWNER_GEN_INFO 	
		WHERE CUSTOMER_ID=@CUSTOMERID AND POLICY_ID=@POLID AND POLICY_VERSION_ID=@VERSIONID 
	END

	SELECT 
		@PRIORLOSS = CASE COUNT(*) WHEN 0 THEN 0 ELSE 1 END
	FROM APP_PRIOR_LOSS_INFO  CI
		INNER JOIN MNT_LOB_MASTER LM ON CI.LOB=LM.LOB_ID
	WHERE CUSTOMER_ID=@CUSTOMERID and LOB_CODE = 'HOME'

	SELECT TOP 1
		@PRIORCARRIERPOLICYNUMBER = ISNULL(CARRIER,'') + '/ ' + ISNULL(OLD_POLICY_NUMBER,'')
	FROM APP_PRIOR_CARRIER_INFO  CI
		INNER JOIN MNT_LOB_MASTER LM ON CI.LOB=LM.LOB_ID
	WHERE CUSTOMER_ID=@CUSTOMERID AND LOB_CODE = 'HOME'

	SELECT 	@PROTDEVICE PROTDEVICE,@ISDEDUCTIBLE ISDEDUCTIBLE,@OTHERINSURANCEWITHWOLVERINE OTHERINSURANCEWITHWOLVERINE,
		@COVDECLINEDCANCELLED COVDECLINEDCANCELLED,@PRIORLOSS PRIORLOSS,@PRIORCARRIERPOLICYNUMBER OLD_POLICY_NUMBER_AND_CARRIER

END








GO

