IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_findcolumn]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[sp_findcolumn]
GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[sp_findcolumn] 
(
@COLUMN_NAME VARCHAR(100)=NULL
)
AS
BEGIN
SELECT TABLE_NAME,COLUMN_NAME,DATA_TYPE,
CHARACTER_MAXIMUM_LENGTH,NUMERIC_PRECISION  FROM INFORMATION_SCHEMA.COLUMNS WHERE COLUMN_NAME LIKE '%' +  @COLUMN_NAME + '%'
END 


GO

