IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_chkActivityCommit]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_chkActivityCommit]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


--BEGIN TRAN     
--DROP PROC Proc_chkActivityCommit     
--GO     
/* ----------------------------------------------------------                                                                                                                                            
                                           
Proc Name                : Dbo.Proc_chkActivityCommit       
                                                                                                                                                                 
Created by               : Sibin                                                                                                                                                                                   
Date                     : 16 June 2010             
    
                                                                        
Purpose                  : To check whether there is prior activity has been reversed                                                                                                         
    
                              
Used In                  : Wolverine                                                                                                                                                                                   
    
--------------------------------------------        
                                                                                                                                                                               
Date     Review By          Comments         
                                                                                                                                                                              
------   ------------       -------------------------*/     
    
CREATE PROC [dbo].[Proc_chkActivityCommit]     
    
(     
 @CLAIM_ID INT,     
 @ACTIVITY_ID INT =NULL     
      
)     
AS     
BEGIN     
 DECLARE @DETAIL_TYPE_ID INT     
 DECLARE @VOID_ACTIVITY INT     
 DECLARE @ACCOUNTING_SUPPRRESSED INT     
     
 DECLARE @VOIDED_PAYMENT_AMOUNT DECIMAL(18,2)     
 DECLARE @CURRENT_PAYMENT_AMOUNT DECIMAL(18,2)     
     
 DECLARE @ACTIVITY_REASON INT     
 DECLARE @LAST_REVERSAL_ACTIVITY_REASON INT     
 DECLARE @LAST_REVERSAL_ACTIVITY_ID INT     
 DECLARE @ACTION_ON_PAYMENT INT     
     
 DECLARE @CURRENT_ACTIVITY_ACTION_ON_PAYMENT INT     
     
 DECLARE @CURRENT_ACTIVITY_ACTIVITY_REASON INT     
     
 DECLARE @CLAIM_RESERVE_AMOUNT DECIMAL(18,2)    
 DECLARE @OUTSTANDING DECIMAL(18,2)    
 DECLARE @COMMIT_REOPEN_RESERVE INT    
      
      
 IF(@ACTIVITY_ID IS NULL)     
 BEGIN     
    
  SELECT @LAST_REVERSAL_ACTIVITY_ID = MAX(ACTIVITY_ID)     
  FROM CLM_ACTIVITY WITH(NOLOCK)    
  WHERE CLAIM_ID=@CLAIM_ID AND  ACTION_ON_PAYMENT <> 205 AND ACTION_ON_PAYMENT <> 168 AND (ACTIVITY_STATUS=11801 OR ACTIVITY_STATUS =11986)    
  AND ISNULL(ACCOUNTING_SUPPRESSED,0) = 1     
      
  SELECT @DETAIL_TYPE_ID = ACTION_ON_PAYMENT FROM CLM_ACTIVITY WITH(NOLOCK)     
  WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID = @LAST_REVERSAL_ACTIVITY_ID     
      
      
      
    SELECT @VOID_ACTIVITY = IS_VOID_ACTIVITY FROM CLM_TYPE_DETAIL WITH(NOLOCK) WHERE DETAIL_TYPE_ID=@DETAIL_TYPE_ID     
      
  SELECT TOP 1 @ACTIVITY_REASON = TRANSACTION_CODE FROM CLM_TYPE_DETAIL WITH(NOLOCK)WHERE ACTIVITY_AT_VOID = @DETAIL_TYPE_ID     
      
      
  SELECT @ACTION_ON_PAYMENT = ACTION_ON_PAYMENT FROM CLM_ACTIVITY WITH(NOLOCK)WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID = @ACTIVITY_ID AND IS_ACTIVE = 'Y'     
     
  --Checking whether is there is any reversed activity.If yes show msg.     
  IF( @VOID_ACTIVITY = 1)     
      
  BEGIN     
    
   SELECT -1 AS RESULT     
  END     
  ELSE     
  BEGIN     
   SELECT 1 AS RESULT     
  END     
 END     
 ELSE -- When Activity ID is not null     
 BEGIN     
    
  SELECT @LAST_REVERSAL_ACTIVITY_ID = MAX(ACTIVITY_ID) 
  FROM CLM_ACTIVITY WITH(NOLOCK)
  WHERE CLAIM_ID=@CLAIM_ID AND     
   ACTIVITY_ID < @ACTIVITY_ID AND  
   ACTION_ON_PAYMENT <> 205 AND 
   ACTION_ON_PAYMENT <> 168 AND 
   (ACTIVITY_STATUS=11801 OR ACTIVITY_STATUS =11986) AND 
   ISNULL(ACCOUNTING_SUPPRESSED,0)=1 AND IS_ACTIVE = 'Y'     
        
  SELECT @DETAIL_TYPE_ID = ACTION_ON_PAYMENT FROM CLM_ACTIVITY WITH(NOLOCK)    
  WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID = @LAST_REVERSAL_ACTIVITY_ID     
      
   SELECT @VOID_ACTIVITY = IS_VOID_ACTIVITY
   FROM CLM_TYPE_DETAIL WITH(NOLOCK)
   WHERE DETAIL_TYPE_ID=@DETAIL_TYPE_ID     
      
  SELECT @ACCOUNTING_SUPPRRESSED = ACCOUNTING_SUPPRESSED, @ACTION_ON_PAYMENT = ACTION_ON_PAYMENT 
  FROM CLM_ACTIVITY WITH(NOLOCK)    
  WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID = @ACTIVITY_ID AND IS_ACTIVE = 'Y'     
    
  SELECT TOP 1 @ACTIVITY_REASON = ACTIVITY_REASON 
  FROM CLM_ACTIVITY WITH(NOLOCK)
  WHERE CLAIM_ID=@CLAIM_ID      
  AND ACTIVITY_ID = @ACTIVITY_ID AND IS_ACTIVE = 'Y'     
      
  SELECT @LAST_REVERSAL_ACTIVITY_REASON = ACTIVITY_REASON 
  FROM CLM_ACTIVITY WITH(NOLOCK)    
  WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID = @LAST_REVERSAL_ACTIVITY_ID     
      
  --Done for Ravindra Mail - 6 Oct 2010    
  IF(@ACTION_ON_PAYMENT = 168)-- AND @ACCOUNTING_SUPPRRESSED =1)--Done for Itrack Issue 7911 on 29 Nov 2010    
  BEGIN    
   SELECT @CLAIM_RESERVE_AMOUNT = CLAIM_RESERVE_AMOUNT FROM CLM_ACTIVITY WITH(NOLOCK) WHERE CLAIM_ID = @CLAIM_ID AND ACTIVITY_ID = @ACTIVITY_ID    
   SELECT @OUTSTANDING = SUM(OUTSTANDING) FROM CLM_ACTIVITY_RESERVE WITH(NOLOCK) WHERE CLAIM_ID = @CLAIM_ID AND ACTIVITY_ID = @ACTIVITY_ID    
       
   --IF(@CLAIM_RESERVE_AMOUNT - @OUTSTANDING <> '0.00')    
   --BEGIN    
   -- SET @COMMIT_REOPEN_RESERVE = -1    
   --END    
   --ELSE     
   --BEGIN    
   -- SET @COMMIT_REOPEN_RESERVE = 1    
   --END    
  END    
  ELSE     
  BEGIN    
   SET @COMMIT_REOPEN_RESERVE = 1    
  END    
     
  IF(@LAST_REVERSAL_ACTIVITY_REASON = 11774 OR @LAST_REVERSAL_ACTIVITY_REASON =11776)     
  BEGIN     
   IF(    
    (SELECT EXPENSES FROM CLM_ACTIVITY WITH(NOLOCK)WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID = @LAST_REVERSAL_ACTIVITY_ID) IS NOT NULL    
      )     
    SELECT @VOIDED_PAYMENT_AMOUNT = ABS(EXPENSES) FROM CLM_ACTIVITY WITH(NOLOCK)WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID = @LAST_REVERSAL_ACTIVITY_ID     
   ELSE IF(    
     (SELECT EXPENSE_REINSURANCE_RECOVERED FROM CLM_ACTIVITY WITH(NOLOCK)WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID = @LAST_REVERSAL_ACTIVITY_ID) IS NOT NULL    
        )     
    SELECT @VOIDED_PAYMENT_AMOUNT = ABS(EXPENSE_REINSURANCE_RECOVERED)    
    FROM CLM_ACTIVITY WITH(NOLOCK)WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID = @LAST_REVERSAL_ACTIVITY_ID     
   ELSE IF(    
     (SELECT LOSS_REINSURANCE_RECOVERED FROM CLM_ACTIVITY WITH(NOLOCK)WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID = @LAST_REVERSAL_ACTIVITY_ID) IS NOT NULL    
       )     
    SELECT @VOIDED_PAYMENT_AMOUNT = ABS(LOSS_REINSURANCE_RECOVERED) FROM CLM_ACTIVITY WITH(NOLOCK)WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID = @LAST_REVERSAL_ACTIVITY_ID     
   ELSE IF((SELECT RECOVERY FROM CLM_ACTIVITY WITH(NOLOCK)WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID = @LAST_REVERSAL_ACTIVITY_ID) IS NOT NULL)     
    SELECT @VOIDED_PAYMENT_AMOUNT = ABS(RECOVERY) FROM CLM_ACTIVITY WITH(NOLOCK)WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID = @LAST_REVERSAL_ACTIVITY_ID     
   END     
   ELSE IF( @LAST_REVERSAL_ACTIVITY_REASON = 11775)     
    SELECT @VOIDED_PAYMENT_AMOUNT = ABS(PAYMENT_AMOUNT) FROM CLM_ACTIVITY WITH(NOLOCK)WHERE CLAIM_ID=@CLAIM_ID      
    AND ACTIVITY_ID = @LAST_REVERSAL_ACTIVITY_ID     
      
  IF(@ACTIVITY_REASON = 11774)      
  BEGIN     
    IF(    
    (SELECT EXPENSES FROM CLM_ACTIVITY WITH(NOLOCK)WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID = @ACTIVITY_ID) IS NOT NULL    
      )     
    SELECT @CURRENT_PAYMENT_AMOUNT = ABS(EXPENSES) FROM CLM_ACTIVITY WITH(NOLOCK)WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID = @ACTIVITY_ID     
   ELSE IF(    
     (SELECT EXPENSE_REINSURANCE_RECOVERED FROM CLM_ACTIVITY WITH(NOLOCK)WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID = @ACTIVITY_ID) IS NOT NULL    
       )     
    SELECT @CURRENT_PAYMENT_AMOUNT = ABS(EXPENSE_REINSURANCE_RECOVERED) FROM CLM_ACTIVITY WITH(NOLOCK)WHERE  CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID = @ACTIVITY_ID     
   ELSE IF((SELECT LOSS_REINSURANCE_RECOVERED FROM CLM_ACTIVITY WITH(NOLOCK)WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID = @ACTIVITY_ID) IS NOT NULL)     
    SELECT @CURRENT_PAYMENT_AMOUNT = ABS(LOSS_REINSURANCE_RECOVERED) FROM CLM_ACTIVITY WITH(NOLOCK)WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID = @ACTIVITY_ID     
   ELSE IF((SELECT RECOVERY FROM CLM_ACTIVITY WITH(NOLOCK)WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID = @ACTIVITY_ID) IS NOT NULL)     
    SELECT @CURRENT_PAYMENT_AMOUNT = ABS(RECOVERY) FROM CLM_ACTIVITY WITH(NOLOCK)WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID = @ACTIVITY_ID     
  END     
  ELSE IF(@ACTIVITY_REASON = 11775)     
   SELECT @CURRENT_PAYMENT_AMOUNT = ABS(PAYMENT_AMOUNT) FROM CLM_ACTIVITY     
   WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID =@ACTIVITY_ID     
     
  IF(@VOID_ACTIVITY = 1)--Checking whether is there is any reversed activity.If yes show msg.     
  BEGIN     
   IF(@ACTIVITY_REASON = 11774 OR @ACTIVITY_REASON = 11775)     
   BEGIN     
    IF(@CURRENT_PAYMENT_AMOUNT = @VOIDED_PAYMENT_AMOUNT)     
    BEGIN    
     SELECT 1 AS RESULT     
    END     
    ELSE     
    BEGIN     
     SELECT -1 AS RESULT     
    END     
   END     
   ELSE     
   BEGIN     
    IF(@ACTIVITY_REASON = 11773)     
    BEGIN    
     --Done for Ravindra Mail - 6 Oct 2010    
     IF(@COMMIT_REOPEN_RESERVE = 1)    
      SELECT 1 AS RESULT     
     ELSE    
      SELECT -5 AS RESULT    
    END    
    ELSE     
     SELECT -1 AS RESULT     
   END     
  END     
  ELSE     
  BEGIN     
   --Added for Itrack Issue 7911 on 29 Nov 2010 -- For Void Activities    
   IF(@ACTIVITY_REASON = 11773 AND @COMMIT_REOPEN_RESERVE = -1)    
    SELECT -5 AS RESULT    
   ELSE     
    SELECT 2 AS RESULT     
  END     
   SELECT @ACTIVITY_REASON AS TRANSACTION_CODE     
 END     
    
     
 SELECT @LAST_REVERSAL_ACTIVITY_ID = MAX(ACTIVITY_ID)     
 FROM CLM_ACTIVITY WITH(NOLOCK)    
 WHERE CLAIM_ID=@CLAIM_ID     
 AND (ACTIVITY_STATUS=11801 OR ACTIVITY_STATUS =11986)     
     
 AND ISNULL(ACCOUNTING_SUPPRESSED,0)=1     
 AND IS_ACTIVE = 'Y'     
 AND ACTION_ON_PAYMENT <> 205     
 AND ACTION_ON_PAYMENT <> 168-- AND ACTIVITY_ID < @ACTIVITY_ID     
    
 SELECT @DETAIL_TYPE_ID = ACTION_ON_PAYMENT     
 FROM CLM_ACTIVITY WITH(NOLOCK) WHERE CLAIM_ID=@CLAIM_ID      
 AND ACTIVITY_ID = @LAST_REVERSAL_ACTIVITY_ID     
     
 SELECT @VOID_ACTIVITY = IS_VOID_ACTIVITY FROM CLM_TYPE_DETAIL WITH(NOLOCK) WHERE DETAIL_TYPE_ID=@DETAIL_TYPE_ID     
     
 IF(@VOID_ACTIVITY =1)     
 BEGIN     
  SELECT @LAST_REVERSAL_ACTIVITY_ID = MAX(ACTIVITY_ID)    
  FROM CLM_ACTIVITY WITH(NOLOCK)WHERE CLAIM_ID=@CLAIM_ID AND     
  (ACTIVITY_STATUS=11801 OR ACTIVITY_STATUS =11986) AND ISNULL(ACCOUNTING_SUPPRESSED,0)=1 AND IS_ACTIVE = 'Y' AND ACTION_ON_PAYMENT <> 205-- AND ACTIVITY_ID < @ACTIVITY_ID     
     
  SELECT @ACTION_ON_PAYMENT = ACTION_ON_PAYMENT FROM CLM_ACTIVITY WITH(NOLOCK)    
  WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID = @LAST_REVERSAL_ACTIVITY_ID AND IS_ACTIVE = 'Y' AND ACTION_ON_PAYMENT <> 205     
     
  SELECT @CURRENT_ACTIVITY_ACTIVITY_REASON= ACTIVITY_REASON,@CURRENT_ACTIVITY_ACTION_ON_PAYMENT = ACTION_ON_PAYMENT FROM CLM_ACTIVITY WITH(NOLOCK)    
  WHERE CLAIM_ID=@CLAIM_ID AND ACTIVITY_ID = @ACTIVITY_ID AND IS_ACTIVE = 'Y'     
       
  IF(@ACTION_ON_PAYMENT = 168 or @ACTION_ON_PAYMENT = 181)     
  BEGIN     
   IF( @CURRENT_ACTIVITY_ACTION_ON_PAYMENT = 181 OR (@CURRENT_ACTIVITY_ACTIVITY_REASON = 11773))     
   BEGIN     
    SELECT 1 AS RESULT     
   END     
   ELSE     
   BEGIN     
    SELECT -3 AS RESULT     
   END     
  END     
  ELSE     
  BEGIN     
   IF((@CURRENT_ACTIVITY_ACTION_ON_PAYMENT <> 181 AND     
    (@CURRENT_ACTIVITY_ACTIVITY_REASON = 11774 OR @CURRENT_ACTIVITY_ACTIVITY_REASON = 11775)) OR     
    (@CURRENT_ACTIVITY_ACTIVITY_REASON = 11773)    
     )     
   BEGIN      
    SELECT 1 AS RESULT     
   END     
   ELSE     
   BEGIN     
    SELECT -4 AS RESULT     
   END     
  END     
 END     
 ELSE     
 BEGIN     
  SELECT 1 AS RESULT     
 END     
      
END     
     
--GO     
--EXEC Proc_chkActivityCommit 3618,7    
--ROLLBACK TRAN     
    

GO

