IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_CLM371_REPORT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_CLM371_REPORT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN
--DROP PROC PROC_CLM371_REPORT
--GO
CREATE PROC PROC_CLM371_REPORT
(
	@YEAR INT
)
AS
BEGIN
CREATE TABLE #ENDING_RESERVE_DETAILS
(
	CLAIM_ID INT,
	END_RESERVE DECIMAL(18,2),
	ASLOB	INT,
	LOB_ID	INT,
	LOSS_DATE	DATETIME,
	REPORT_DATE	DATETIME
)
INSERT INTO #ENDING_RESERVE_DETAILS 
	SELECT CLAIM_ID,SUM(ISNULL(END_RESERVE,0))END_RESERVE,ASLOB,LOB_ID,LOSS_DATE,CREATED_DATETIME
	FROM VW_OUTSTANDING_RESERVE
	WHERE YEAR(LOSS_DATE) < @YEAR AND YEAR(CREATED_DATETIME) = @YEAR
	GROUP BY CLAIM_ID,ASLOB,LOSS_DATE,CREATED_DATETIME,LOB_ID

SELECT A.CLAIM_NUMBER, A.LOB, A.STATE, A.POLICY_NUMBER, A.LOSS_DATE, A.REPORT_DATE, A.LOSS_YEAR, A.REPORT_YEAR, A.ASLOB_ID,
CASE WHEN A.ASLOB_ID = 0 THEN 'Invalid ASLOB' ELSE LOB.LOOKUP_VALUE_DESC END AS COVERAGE, SUM(ISNULL([LOSS PAYMENTS],0))AS LOSS_PAYMENTS,
SUM(ISNULL([L.A.E],0))AS 'L.A.E', SUM(ISNULL([Salvage/Subrogation],0))AS 'Salvage/Subrogation', ISNULL(END_RESERVE,0)AS END_RESERVE
,SUM(ISNULL([LOSS PAYMENTS],0)) + SUM(ISNULL([Salvage/Subrogation],0)) + ISNULL(END_RESERVE,0) AS Reserve_Adequacy
FROM #ENDING_RESERVE_DETAILS ERD with (nolock)
LEFT JOIN
(
	SELECT CCI.CLAIM_ID,CCI.CLAIM_NUMBER,'Rental' AS LOB,ISNULL(SL.STATE_NAME,'') STATE,VW.POLICY_NUMBER,
	CONVERT(VARCHAR(30),ISNULL(CCI.LOSS_DATE,''),101) LOSS_DATE,
	CONVERT(VARCHAR(30),ISNULL(CCI.CREATED_DATETIME,''),101) AS REPORT_DATE,YEAR(CCI.LOSS_DATE)LOSS_YEAR, YEAR(CCI.CREATED_DATETIME)REPORT_YEAR,
	CASE WHEN (LOSS_TYPE + ',' LIKE '%32,%') OR (LOSS_TYPE + ',' LIKE '%37,%')  
		THEN 14168  
		WHEN (LOSS_TYPE + ',' LIKE '%51,%') OR (LOSS_TYPE + ',' LIKE '%52,%')OR (LOSS_TYPE + ',' LIKE '%53,%') OR (LOSS_TYPE + ',' LIKE '%55,%')                          
		THEN 14171  
		ELSE 14167 
	END AS ASLOB_ID,
	CASE WHEN TMP.ACTION_ON_PAYMENT IN (180,181,188,240) THEN 
				SUM(
						CASE WHEN TMP.FACTOR IS NOT NULL THEN TMP.FACTOR * ISNULL(VW.AMOUNT,0)
						ELSE ISNULL(VW.AMOUNT,0) END
				   )
	END AS 'Loss Payments',
	CASE WHEN TMP.ACTION_ON_PAYMENT IN (173,174,175,203,204,207,241,254,255)THEN 
				SUM(
						CASE WHEN TMP.FACTOR IS NOT NULL THEN TMP.FACTOR * ISNULL(VW.AMOUNT,0)
						ELSE ISNULL(VW.AMOUNT,0) END
				   )
	END AS 'L.A.E',
	CASE WHEN TMP.ACTION_ON_PAYMENT IN (176,244,245,189,177,190,242,243) THEN
				SUM(
						CASE WHEN TMP.FACTOR IS NOT NULL THEN TMP.FACTOR * ISNULL(VW.AMOUNT,0)
						ELSE ISNULL(VW.AMOUNT,0) END
				   )
	END AS  'Salvage/Subrogation'
	FROM CLM_CLAIM_INFO CCI
	LEFT JOIN CLM_OCCURRENCE_DETAIL COD
		ON CCI.CLAIM_ID = COD.CLAIM_ID
	LEFT JOIN VW_CLAIM_TRANSACTION_DETAIL VW
		ON CCI.CUSTOMER_ID = VW.CUSTOMER_ID
		AND CCI.POLICY_ID = VW.POLICY_ID
		AND CCI.POLICY_VERSION_ID = VW.POLICY_VERSION_ID
		AND CCI.CLAIM_ID = VW.CLAIM_ID
	LEFT JOIN CLM_CLAIM_TRANCACTIONS TMP ON TMP.ACTION_ON_PAYMENT = VW.ACTION_ON_PAYMENT 
	LEFT JOIN MNT_COUNTRY_STATE_LIST SL
		ON vw.STATE_id = SL.STATE_ID
	WHERE VW.LOB_ID = 6 AND YEAR(CCI.LOSS_DATE) < @YEAR AND YEAR(CCI.CREATED_DATETIME) = @YEAR --AND CCI.CLAIM_ID = 592
	GROUP BY CCI.CLAIM_ID,CCI.CLAIM_ID,CCI.CLAIM_NUMBER,CCI.LOSS_DATE,CCI.CREATED_DATETIME,LOSS_TYPE,SL.STATE_NAME,VW.POLICY_NUMBER,TMP.FACTOR,VW.AMOUNT,
	TMP.ACTION_ON_PAYMENT,TMP.ACTIVITY_DESC

	UNION

	SELECT CCI.CLAIM_ID,CCI.CLAIM_NUMBER,CASE CCI.LOB_ID WHEN 1 THEN 'Home' WHEN 2 THEN 'Automobile' WHEN 3 THEN 'Cycle' WHEN 4 THEN 'Boat' WHEN 5 THEN 'Umbrella' 
	WHEN 6 THEN 'Rental'END AS LOB,
	ISNULL(SL.STATE_NAME,'') STATE,VW.POLICY_NUMBER,CONVERT(VARCHAR(30),ISNULL(CCI.LOSS_DATE,''),101) LOSS_DATE,
	CONVERT(VARCHAR(30),ISNULL(CCI.CREATED_DATETIME,''),101) AS REPORT_DATE,YEAR(CCI.LOSS_DATE)LOSS_YEAR, YEAR(CCI.CREATED_DATETIME)REPORT_YEAR,
	MC.ASLOB AS ASLOB_ID,
	CASE WHEN  TMP.ACTION_ON_PAYMENT IN (180,181,188,240) THEN 
				SUM(
					  CASE WHEN TMP.FACTOR IS NOT NULL THEN TMP.FACTOR * VW.AMOUNT                
					  ELSE  VW.AMOUNT END
				   ) 
	END AS 'Loss Payments',
	CASE WHEN  TMP.ACTION_ON_PAYMENT IN (173,174,175,203,204,207,241,254,255) THEN 
				SUM(
					  CASE WHEN TMP.FACTOR IS NOT NULL THEN TMP.FACTOR * VW.AMOUNT                
					  ELSE  VW.AMOUNT END
				   ) 
	END AS 'L.A.E',
	CASE WHEN TMP.ACTION_ON_PAYMENT IN (176,244,245,189,177,190,242,243) THEN 
				SUM(
					  CASE WHEN TMP.FACTOR IS NOT NULL THEN TMP.FACTOR * VW.AMOUNT                
					  ELSE  VW.AMOUNT END
					)
	END AS 'Salvage/Subrogation'
	FROM CLM_CLAIM_INFO CCI
	LEFT JOIN VW_CLAIM_TRANSACTION_DETAIL VW with (nolock)
		ON CCI.CUSTOMER_ID = VW.CUSTOMER_ID
		AND CCI.POLICY_ID = VW.POLICY_ID
		AND CCI.POLICY_VERSION_ID = VW.POLICY_VERSION_ID
		AND CCI.CLAIM_ID = VW.CLAIM_ID
	LEFT JOIN CLM_CLAIM_TRANCACTIONS TMP with (nolock) ON TMP.ACTION_ON_PAYMENT = VW.ACTION_ON_PAYMENT 
	LEFT JOIN 
	(
		SELECT COV_ID,STATE_ID,LOB_ID,ASLOB FROM MNT_COVERAGE
		UNION
		SELECT COV_ID,STATE_ID,LOB_ID,ASLOB FROM MNT_COVERAGE_EXTRA
	) MC
		ON VW.COVERAGE_ID = MC.COV_ID
	LEFT JOIN MNT_COUNTRY_STATE_LIST SL with (nolock)
		ON vw.STATE_id = SL.STATE_ID
	WHERE CCI.LOB_ID <> 6 AND YEAR(CCI.LOSS_DATE) < @YEAR AND YEAR(CCI.CREATED_DATETIME) = @YEAR --AND CCI.CLAIM_ID = 592
	GROUP BY CCI.CLAIM_ID,CCI.CLAIM_NUMBER,CCI.LOB_ID,CCI.LOSS_DATE,CCI.CREATED_DATETIME,SL.STATE_NAME,VW.POLICY_NUMBER,TMP.ACTION_ON_PAYMENT,TMP.ACTIVITY_DESC,MC.ASLOB
)A
	ON ERD.CLAIM_ID = A.CLAIM_ID
	AND ERD.ASLOB = A.ASLOB_ID
	--and cci.lob_id = erd.lob_id
	AND DATEDIFF(DD,ERD.REPORT_DATE,A.REPORT_DATE) = 0
	AND DATEDIFF(DD,ERD.LOSS_DATE,A.LOSS_DATE) = 0
LEFT JOIN MNT_LOOKUP_VALUES LOB
	ON A.ASLOB_ID = LOB.LOOKUP_UNIQUE_ID
--WHERE ERD.CLAIM_ID = 592
GROUP BY A.CLAIM_NUMBER, A.LOB, A.STATE, A.POLICY_NUMBER, A.LOSS_DATE, A.REPORT_DATE, A.LOSS_YEAR,A.REPORT_YEAR,LOB.LOOKUP_VALUE_DESC,ERD.END_RESERVE,A.ASLOB_ID
ORDER BY A.CLAIM_NUMBER
END
--GO
--EXEC PROC_CLM371_REPORT 2009
--ROLLBACK TRAN


--SELECT* FROM CLM_CLAIM_INFO WHERE CLAIM_ID = 975
--
--SELECT * FROM CLM_ACTIVITY WHERE CLAIM_ID = 975


GO

