IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_UpdatePolicyNumber]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_UpdatePolicyNumber]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

 /*----------------------------------------------------------                      
Proc Name       : Proc_UpdatePolicyNumber  
Created by      : LALIT CHAUHAN          
Date            : 04/26/2010                      
Purpose         : Update policy Number on policy Commit  
Revison History :                      
Used In        : Ebix Advantage                      
------------------------------------------------------------                      
Date     Review By          Comments                      
------   ------------       -------------------------      
DROP PROC Proc_UpdatePolicyNumber  
*/
CREATE PROC [dbo].[Proc_UpdatePolicyNumber]    
(    
@CUSTOMER_ID INT,    
@POLICY_ID INT   ,    
@POLICY_VERSION_ID SMALLINT,    
@POLICY_NUMBER  NVARCHAR(75),    
@PROCESS_ID INT   ,
@SUSEP_LOB_CODE NVARCHAR(5) = NULL
    
)    
    
AS     
BEGIN     
    
DECLARE @COMMIT_NEW_BUSINESS INT = 25 ,@RENEWAL INT = 5,@RENEWAL_COMMIT INT = 18  ,  
@FOLLOWER INT= 14549,@CO_INSURANCE INT,@LEADER INT= 14548, @sequenceNumber decimal(15,0),  
 @COMPANY_ID INT, @COUNT int, @COUNTER INT =0    
  
----PROCESS_ID - 5 -- Renewal    
-- PROCESS_ID - 25 -- Commit New Business     
---14548  ---LEADER    
--14549   ---FOLLOWER    
---18 ----Commit Renewal    
  
   
  SELECT @CO_INSURANCE = CO_INSURANCE FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND    
  POLICY_ID  = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID   
  --AND CO_INSURANCE <> @FOLLOWER  
  SELECT @sequenceNumber= REIN_SEQUENCE_NUMBER from POL_CO_INSURANCE PCI WITH(NOLOCK)   
 LEFT OUTER JOIN MNT_REIN_COMAPANY_LIST MRCL WITH(NOLOCK) ON PCI.COMPANY_ID=MRCL.REIN_COMAPANY_ID   
WHERE CUSTOMER_ID = @CUSTOMER_ID  AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID  = @POLICY_VERSION_ID  
    
    
IF(@PROCESS_ID = @COMMIT_NEW_BUSINESS)    
  BEGIN     
 UPDATE POL_CUSTOMER_POLICY_LIST SET  POLICY_NUMBER = @POLICY_NUMBER   ,  SUSEP_LOB_CODE = @SUSEP_LOB_CODE
  WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID  = @POLICY_VERSION_ID    
    
  --Modified by lalit as per latest implimentation on feb 18,2011    
   
 -- IF(@CO_INSURANCE = @FOLLOWER)  
 --BEGIN  
 -- IF EXISTS (SELECT LEADER_FOLLOWER FROM POL_CO_INSURANCE  WITH(NOLOCK)  
 -- WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID )       
 -- BEGIN    
 --    UPDATE POL_CO_INSURANCE SET  LEADER_POLICY_NUMBER = @POLICY_NUMBER WHERE CUSTOMER_ID = @CUSTOMER_ID AND    
 --  POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID   
 --  AND LEADER_FOLLOWER <> @LEADER    
 -- END     
 --END  
 --ELSE IF (@CO_INSURANCE = @LEADER)  
 --BEGIN  
 -- IF EXISTS (SELECT LEADER_FOLLOWER FROM POL_CO_INSURANCE  WITH(NOLOCK)  
 -- WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID )       
 -- BEGIN  
 --  UPDATE POL_CO_INSURANCE SET  LEADER_POLICY_NUMBER = @POLICY_NUMBER WHERE CUSTOMER_ID = @CUSTOMER_ID AND    
 --  POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID   
 --  --AND LEADER_FOLLOWER <> @LEADER   
 -- END  
    
--END  
   
   
   --Modified by PRAVEER  as per latest implimentation on feb 24,2011 for itrack no789  
     
    
 -- @COMPANY_ID INT  
    
  
    
  
IF(@CO_INSURANCE=@LEADER)   
BEGIN  
  
 update POL_CO_INSURANCE set LEADER_POLICY_NUMBER= @POLICY_NUMBER--,TRANSACTION_ID=@sequenceNumber  
   WHERE CUSTOMER_ID = @CUSTOMER_ID   
 AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID  = @POLICY_VERSION_ID   
   
  CREATE TABLE #TEMP_TABLE_2    
 (   ID INT IDENTITY(1,1), companyId int, transactionId decimal(15,0)  )    
     
   insert into #TEMP_TABLE_2  
   (  companyId, transactionId )     
   
  SELECT REIN_COMAPANY_ID,REIN_SEQUENCE_NUMBER from POL_CO_INSURANCE PCI WITH(NOLOCK)   
  LEFT OUTER JOIN MNT_REIN_COMAPANY_LIST MRCL WITH(NOLOCK) ON PCI.COMPANY_ID=MRCL.REIN_COMAPANY_ID   
   WHERE   CUSTOMER_ID=@CUSTOMER_ID and POLICY_ID=@POLICY_ID and POLICY_VERSION_ID=@POLICY_VERSION_ID  
    
   
  select @COUNT= COUNT(*) from #TEMP_TABLE_2  
  SELECT @sequenceNumber= REIN_SEQUENCE_NUMBER,@COMPANY_ID= COMPANY_ID from POL_CO_INSURANCE PCI WITH(NOLOCK)   
  LEFT OUTER JOIN MNT_REIN_COMAPANY_LIST MRCL WITH(NOLOCK) ON PCI.COMPANY_ID=MRCL.REIN_COMAPANY_ID   
   WHERE   CUSTOMER_ID=@CUSTOMER_ID and POLICY_ID=@POLICY_ID and POLICY_VERSION_ID=@POLICY_VERSION_ID  
    and LEADER_FOLLOWER=@FOLLOWER  
  
    SET @COUNTER=1  
while( @count>0)  
BEGIN  
 select @COMPANY_ID=companyId,@sequenceNumber=transactionId from #TEMP_TABLE_2 WHERE ID =@COUNTER   
 UPDATE POL_CO_INSURANCE  
 SET TRANSACTION_ID = @sequenceNumber  
 WHERE COMPANY_ID =@COMPANY_ID AND    
  CUSTOMER_ID=@CUSTOMER_ID and POLICY_ID=@POLICY_ID and POLICY_VERSION_ID=@POLICY_VERSION_ID  
   and LEADER_FOLLOWER=@FOLLOWER  
     
 SET @sequenceNumber = @sequenceNumber+1   
 UPDATE MNT_REIN_COMAPANY_LIST   
 SET REIN_SEQUENCE_NUMBER=@sequenceNumber  
 WHERE REIN_COMAPANY_ID=@COMPANY_ID  
 SET @COUNTER = @COUNTER +1    
 SET @COUNT=@COUNT-1            
   END   
 DROP TABLE #TEMP_TABLE_2    
  
END  
     
 END  
ELSE IF(@PROCESS_ID = @RENEWAL) --Added By Lalit March 15,2011,i-track # 946  
 BEGIN  
  UPDATE POL_CUSTOMER_POLICY_LIST SET   
  OLD_POLICY_NUMBER=  POLICY_NUMBER,  
  APP_NUMBER =@POLICY_NUMBER ,
  POLICY_NUMBER = @POLICY_NUMBER   
  WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID  = @POLICY_ID   
  AND POLICY_VERSION_ID = @POLICY_VERSION_ID  
 END  
ELSE IF(@PROCESS_ID = @RENEWAL_COMMIT)    
  BEGIN     
      
 UPDATE POL_CUSTOMER_POLICY_LIST SET    
 --OLD_POLICY_NUMBER = POLICY_NUMBER ,  
 POLICY_NUMBER = @POLICY_NUMBER   , SUSEP_LOB_CODE=  @SUSEP_LOB_CODE 
  WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID  = @POLICY_VERSION_ID    
    
    
  --Modified by lalit as per latest implimentation on feb 18,2011    
   
 --IF(@CO_INSURANCE = @FOLLOWER)  
 --BEGIN  
 -- IF EXISTS (SELECT LEADER_FOLLOWER FROM POL_CO_INSURANCE  WITH(NOLOCK)  
 -- WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID )       
 -- BEGIN    
 --    UPDATE POL_CO_INSURANCE SET  LEADER_POLICY_NUMBER = @POLICY_NUMBER WHERE CUSTOMER_ID = @CUSTOMER_ID AND    
 --  POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID   
 --  AND LEADER_FOLLOWER <> @LEADER    
 -- END     
 --END  
 --ELSE IF (@CO_INSURANCE = @LEADER)  
 --BEGIN  
 -- IF EXISTS (SELECT LEADER_FOLLOWER FROM POL_CO_INSURANCE  WITH(NOLOCK)  
 -- WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID )       
 -- BEGIN  
 --  UPDATE POL_CO_INSURANCE SET  LEADER_POLICY_NUMBER = @POLICY_NUMBER WHERE CUSTOMER_ID = @CUSTOMER_ID AND    
 --  POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID   
 --  --AND LEADER_FOLLOWER <> @LEADER   
 -- END  
    
 --END  
  
 --Modified by PRAVEER  as per latest implimentation on feb 24,2011 for itrack no789  
  
  
  
   
IF(@CO_INSURANCE=@LEADER)   
BEGIN  
  
 update POL_CO_INSURANCE set LEADER_POLICY_NUMBER= @POLICY_NUMBER --,TRANSACTION_ID=@sequenceNumber  
  WHERE CUSTOMER_ID = @CUSTOMER_ID  AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID  = @POLICY_VERSION_ID  
    
     
     
     
  CREATE TABLE #TEMP_TABLE_3    
 (   ID INT IDENTITY(1,1), companyId int, transactionId decimal(15,0)  )    
     
   insert into #TEMP_TABLE_3  
   (  companyId, transactionId )     
   
  SELECT REIN_COMAPANY_ID,REIN_SEQUENCE_NUMBER from POL_CO_INSURANCE PCI WITH(NOLOCK)   
  LEFT OUTER JOIN MNT_REIN_COMAPANY_LIST MRCL WITH(NOLOCK) ON PCI.COMPANY_ID=MRCL.REIN_COMAPANY_ID   
   WHERE   CUSTOMER_ID=@CUSTOMER_ID and POLICY_ID=@POLICY_ID and POLICY_VERSION_ID=@POLICY_VERSION_ID  
    
 --DECLARE @sequenceNumber decimal(15,0), @COMPANY_ID INT, @COUNT int, @COUNTER INT =0    
  select @COUNT= COUNT(*) from #TEMP_TABLE_3  
  SELECT @sequenceNumber= REIN_SEQUENCE_NUMBER,@COMPANY_ID= COMPANY_ID from POL_CO_INSURANCE PCI WITH(NOLOCK)   
  LEFT OUTER JOIN MNT_REIN_COMAPANY_LIST MRCL WITH(NOLOCK) ON PCI.COMPANY_ID=MRCL.REIN_COMAPANY_ID   
   WHERE   CUSTOMER_ID=@CUSTOMER_ID and POLICY_ID=@POLICY_ID and POLICY_VERSION_ID=@POLICY_VERSION_ID  
    and LEADER_FOLLOWER=@FOLLOWER  
    SET @COUNTER=1  
while( @count>0)  
BEGIN  
 select @COMPANY_ID=companyId,@sequenceNumber=transactionId from #TEMP_TABLE_3 WHERE ID =@COUNTER   
 UPDATE POL_CO_INSURANCE  
 SET TRANSACTION_ID = @sequenceNumber  
 WHERE COMPANY_ID =@COMPANY_ID AND    
  CUSTOMER_ID=@CUSTOMER_ID and POLICY_ID=@POLICY_ID and POLICY_VERSION_ID=@POLICY_VERSION_ID   
  and LEADER_FOLLOWER=@FOLLOWER  
   
 SET @sequenceNumber = @sequenceNumber+1   
 UPDATE MNT_REIN_COMAPANY_LIST   
 SET REIN_SEQUENCE_NUMBER=@sequenceNumber  
 WHERE REIN_COMAPANY_ID=@COMPANY_ID  
 SET @COUNTER = @COUNTER +1    
 SET @COUNT=@COUNT-1            
   END   
 DROP TABLE #TEMP_TABLE_3    
END   
   
   
    
  --IF EXISTS (SELECT LEADER_POLICY_NUMBER FROM POL_CO_INSURANCE WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND    
  -- POLICY_ID  = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID)-- AND LEADER_FOLLOWER = 14548)       
  --BEGIN    
  -- UPDATE POL_CO_INSURANCE SET  LEADER_POLICY_NUMBER = @POLICY_NUMBER WHERE CUSTOMER_ID = @CUSTOMER_ID AND    
  --  POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID-- AND LEADER_FOLLOWER = 14548    
          
  --END     
      
    
 END     
ELSE --Update policy No  
BEGIN  
 UPDATE POL_CUSTOMER_POLICY_LIST SET  POLICY_NUMBER=  @POLICY_NUMBER WHERE CUSTOMER_ID = @CUSTOMER_ID   
 AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID  
  
END  
      
END  
GO

