IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_Freeze_1099]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_Freeze_1099]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_Freeze_1099]
(
  @FORM_1099_ID INT
)
AS
BEGIN
 UPDATE FORM_1099 SET IS_COMMITED = 'Y' WHERE FORM_1099_ID = @FORM_1099_ID
END



GO

