IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CADASTRO_Applicant_Insured_Infomation_VFinal]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[CADASTRO_Applicant_Insured_Infomation_VFinal]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROC CADASTRO_Applicant_Insured_Infomation_VFinal
AS
BEGIN
SELECT NULL AS  RECORD_SEQUENCE,
NULL AS SUSEP_INSURER_CODE,
'MON' AS BASE_MONTH,
NULL AS ROLE_TYPE,
 CAL.FIRST_NAME+ ' '
+ CAL.MIDDLE_NAME+ ' '
+ CAL.LAST_NAME AS  PERSON_NAME,
CAL.CPF_CNPJ AS INCOME_TAX_ID,
CAL.ADDRESS1 +''+
CAL.ADDRESS2 AS [ADDRESS],
NULL AS NEIGHBORHOOD,
CAL.CITY AS CITY,
MCSL.STATE_CODE AS [STATE],
CAL.ZIP_CODE AS ZIP_CODE,
CAL.COUNTRY AS COUNTRY


  FROM CLT_APPLICANT_LIST CAL
INNER JOIN POL_APPLICANT_LIST PAL
    ON CAL.CUSTOMER_ID = PAL.CUSTOMER_ID
    AND CAL.APPLICANT_ID = PAL.APPLICANT_ID    
INNER JOIN MNT_COUNTRY_STATE_LIST MCSL --MNT_COUNTRY_LIST MCL
 ON CAL.[STATE] = MCSL.STATE_ID
 --INNER JOIN MNT_ZIP_CODES MZC
	--ON MZC.ZIP_CODE = CAL.ZIP_CODE
	-- AND MZC.STATE = MCSL.STATE_CODE
END
 
 
GO

