IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SP_INSTALLMENTS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SP_INSTALLMENTS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------                                          
 Proc Name       : [dbo].[SP_INSTALLMENTS]                     
 Created by      : praveer panghal 
 Date            : 13 may 2011                         
 Purpose         : Stored procedure that returns the last data of a specific period, information related 
                   to  premium amount, commission and administrative expenses totaled this policy, all
                    these   information broken by Installments                      
 Revison History :                                          
 Used In       : EbixAdvanatge  
 
 DROP PROC [dbo].[SP_INSTALLMENTS] null,null,null,NULL, '88998201180196000730'  
------   ------------       -------------------------*/     

CREATE PROC [dbo].[SP_INSTALLMENTS] 
(
@APP_EFFECTIVE_START_DATE DATETIME=NULL,
@APP_EFFECTIVE_END_DATE DATETIME=NULL,
@DIV_CODE NVARCHAR(6)=NULL,
@SUSEP_LOB_CODE NVARCHAR(20)=NULL,
@POLICY_NUMBER NVARCHAR(75)=NULL,
@ORDER_BY INT=NULL  
)
AS 
BEGIN 
SELECT  cd_division
	 , cd_susepLOB 
	 ,id_policy 
	 ,cd_endorsement 
	 ,cd_installments 
	 ,dt_issuanceInstallments
	 ,dt_paymentInstallments 
	 ,dt_cancelationInstallments 
	 ,vl_premiumInstallment
	  , ISNULL((SELECT ISNULL(CONVERT(DECIMAL(25,2),SUM(ISNULL(PCI.COINSURANCE_PERCENT,0))*
	  TEMP.TRAN_PREMIUM_AMOUNT/100),0) FROM POL_CO_INSURANCE PCI WITH(NOLOCK) 
	   WHERE TEMP.CUSTOMER_ID =  PCI.CUSTOMER_ID AND TEMP.POLICY_ID=PCI.POLICY_ID  AND TEMP.POLICY_VERSION_ID=
	   PCI.POLICY_VERSION_ID AND PCI.LEADER_FOLLOWER= 14548 ),0)AS vl_coinsuranceInstallmentsPremium
		,ISNULL((SELECT  ISNULL(CONVERT(DECIMAL(25,2),SUM(ISNULL(REIN_PREMIUM,0))/TOTAL_INSTALLMENT),0) 
		FROM POL_REINSURANCE_BREAKDOWN_DETAILS PRBD WITH(NOLOCK) WHERE PRBD.CUSTOMER_ID=TEMP.CUSTOMER_ID 
		AND PRBD.POLICY_ID=TEMP.POLICY_ID AND PRBD.POLICY_VERSION_ID=TEMP.POLICY_VERSION_ID GROUP BY 
		PRBD.CUSTOMER_ID,PRBD.POLICY_ID,  PRBD.POLICY_VERSION_ID),0)vl_reinsuranceInstallmentsPremium
		, ISNULL((SELECT  ISNULL(CONVERT(DECIMAL(25,2),SUM(ISNULL(COMM_AMOUNT,0))/TOTAL_INSTALLMENT),0)
		 FROM POL_REINSURANCE_BREAKDOWN_DETAILS PRBD WITH(NOLOCK) WHERE PRBD.CUSTOMER_ID=TEMP.CUSTOMER_ID 
		  AND PRBD.POLICY_ID=TEMP.POLICY_ID AND PRBD.POLICY_VERSION_ID=TEMP.POLICY_VERSION_ID  GROUP BY 
		  PRBD.CUSTOMER_ID,PRBD.POLICY_ID,  PRBD.POLICY_VERSION_ID),0)vl_reinsuranceCommisionInstallments
	 , ISNULL(TEMP.INTEREST_AMOUNT,0)  vl_interestInstallments
	  ,ISNULL(FEE,0)vl_policyCostInstallments 
	  ,ISNULL(TAXES,0)vl_taxes
  	  , ISNULL((SELECT  ISNULL( CASE  WHEN (ISNULL(POLICY_LEVEL_COMISSION,0) >0)  THEN
  	   ISNULL(CONVERT(DECIMAL(25,2),   (POLICY_LEVEL_COMISSION*TRAN_PREMIUM_AMOUNT)/100),0) 
  	    ELSE ISNULL(CONVERT(DECIMAL(25,2), (SUM(isnull(PR.COMMISSION_PERCENT,0))*TRAN_PREMIUM_AMOUNT)/100),0)
  	    END,0) FROM POL_REMUNERATION PR WITH(NOLOCK)  WHERE PR.CUSTOMER_ID=TEMP.CUSTOMER_ID AND 
  	    PR.POLICY_ID=TEMP.POLICY_ID AND PR.POLICY_VERSION_ID=TEMP.POLICY_VERSION_ID 
  	    GROUP BY PR.CUSTOMER_ID,PR.POLICY_ID,  PR.POLICY_VERSION_ID),0)vl_brokerCommissionInstallments
  	  , ISNULL(convert(decimal(25,2),(ADMINISTRATIVE_EXPENSE*vl_premiumInstallment/100)),0)
  	    AS  vl_admExpensesInstallments 
  	 
  	  FROM   
  	  
  	  (SELECT ISNULL(DIV_CODE,'')cd_division 
  	  ,ISNULL(MLM.SUSEP_LOB_CODE,'')cd_susepLOB
  	  ,ISNULL(PCPL.POLICY_NUMBER,'')id_policy 
  	  ,ISNULL(POLICY_DISP_VERSION,'') cd_endorsement
  	  ,  PCPL.CUSTOMER_ID AS CUSTOMER_ID
  	  ,  PCPL.POLICY_ID AS POLICY_ID
  	  ,  PCPL.POLICY_VERSION_ID AS POLICY_VERSION_ID 
  	  ,  PCPL.CO_INSURANCE AS CO_INSURANCE 
  	  ,  ISNULL(APID.INSTALLMENT_NO,0) AS cd_installments   	 
      ,PPP.COMPLETED_DATETIME  as dt_issuanceInstallments
  	  ,RECEIVED_DATE  as dt_paymentInstallments
  	  ,(CASE WHEN RELEASED_STATUS ='C' THEN 
  	   APID.LAST_UPDATED_DATETIME   ELSE null END ) 
     AS  dt_cancelationInstallments 
     ,ISNULL(APID.TOTAL,0) AS vl_premiumInstallment
     ,  APID.TRAN_PREMIUM_AMOUNT AS TRAN_PREMIUM_AMOUNT
     ,   APID.INSTALLMENT_AMOUNT AS INSTALLMENT_AMOUNT
     ,  APID.RELEASED_STATUS AS RELEASED_STATUS
     ,  PCPL.POLICY_STATUS AS POLICY_STATUS
     ,  PPP.PROCESS_STATUS AS PROCESS_STATUS
     ,   APID.INTEREST_AMOUNT AS INTEREST_AMOUNT
     ,  APID.FEE AS FEE
     ,  APID.TAXES AS TAXES
     ,  PCPL.POLICY_LEVEL_COMISSION AS POLICY_LEVEL_COMISSION
     ,  MLM.ADMINISTRATIVE_EXPENSE AS ADMINISTRATIVE_EXPENSE
     ,   PCPL.APP_EFFECTIVE_DATE AS APP_EFFECTIVE_DATE
     ,  ISNULL((SELECT COUNT(*) FROM ACT_POLICY_INSTALLMENT_DETAILS APID2 WITH(NOLOCK)    WHERE APID2.CUSTOMER_ID=
     PCPL.CUSTOMER_ID AND APID2.POLICY_ID=PCPL.POLICY_ID    AND APID2.POLICY_VERSION_ID=PCPL.POLICY_VERSION_ID 
        GROUP BY APID2.CUSTOMER_ID,APID2.POLICY_ID,APID2.POLICY_VERSION_ID),1) AS TOTAL_INSTALLMENT 
  	 FROM   
  	 
  	  POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK)  
  	  JOIN MNT_DIV_LIST MDL WITH(NOLOCK) ON MDL.DIV_ID=PCPL.DIV_ID  
      JOIN MNT_LOB_MASTER MLM WITH(NOLOCK) ON MLM.LOB_ID=PCPL.POLICY_LOB  
      JOIN  POL_POLICY_PROCESS PPP WITH(NOLOCK)ON PPP.CUSTOMER_ID=PCPL.CUSTOMER_ID  AND PPP.POLICY_ID=
      PCPL.POLICY_ID AND PPP.NEW_POLICY_VERSION_ID=PCPL.POLICY_VERSION_ID   
  	  LEFT OUTER JOIN  ACT_POLICY_INSTALLMENT_DETAILS APID WITH(NOLOCK) ON APID.CUSTOMER_ID=PCPL.CUSTOMER_ID 
  	  AND APID.POLICY_ID=PCPL.POLICY_ID AND APID.POLICY_VERSION_ID=PCPL.POLICY_VERSION_ID) AS TEMP 
   WHERE 
   TEMP.POLICY_STATUS NOT IN  ('APPLICATION','NULL','UISSUE','UREWRITE','EXPIRED','Suspended','REJECT','URENEW',
   'UENDRS','UCANCL') AND TEMP.id_policy<>'' AND TEMP.PROCESS_STATUS <> 'ROLLBACK' 
 --  -- AND(@APP_EFFECTIVE_START_DATE IS NULL OR TEMP.APP_EFFECTIVE_DATE>=CONVERT(NVARCHAR(20),
  --  @APP_EFFECTIVE_START_DATE , 101)) 
  --  AND (@APP_EFFECTIVE_END_DATE IS NULL OR TEMP.APP_EFFECTIVE_DATE<=CONVERT(NVARCHAR(20),
  --  @APP_EFFECTIVE_END_DATE,101))
    AND (@DIV_CODE IS NULL OR TEMP.cd_division=@DIV_CODE)
    AND (@SUSEP_LOB_CODE IS NULL OR TEMP.cd_susepLOB= @SUSEP_LOB_CODE)
    AND (@POLICY_NUMBER IS NULL OR TEMP.id_policy=@POLICY_NUMBER)
	and (@APP_EFFECTIVE_START_DATE IS NULL OR @APP_EFFECTIVE_END_DATE IS NULL 
   OR  CONVERT(NVARCHAR(20),dt_issuanceInstallments,101) BETWEEN  CONVERT(NVARCHAR(20),@APP_EFFECTIVE_START_DATE , 101) 
   AND CONVERT(NVARCHAR(20),@APP_EFFECTIVE_END_DATE,101)
   OR  CONVERT(NVARCHAR(20),dt_paymentInstallments,101) BETWEEN  CONVERT(NVARCHAR(20),@APP_EFFECTIVE_START_DATE , 101) 
   AND CONVERT(NVARCHAR(20),@APP_EFFECTIVE_END_DATE,101)
  OR  CONVERT(NVARCHAR(20),dt_cancelationInstallments,101) BETWEEN  CONVERT(NVARCHAR(20),@APP_EFFECTIVE_START_DATE , 101) 
  AND CONVERT(NVARCHAR(20),@APP_EFFECTIVE_END_DATE,101)  ) 
 
 ORDER BY   
   CASE WHEN(@ORDER_BY=14945) THEN cd_division END ,
   CASE WHEN (@ORDER_BY=14947) THEN cd_division +','+ cd_susepLOB END,
   CASE	WHEN (@ORDER_BY=14948) THEN cd_susepLOB END ,
   CASE	WHEN (@ORDER_BY=14950) THEN cd_susepLOB+','+ cd_division END
      
END

GO

