IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_UpdatePostingInterface_Asset]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_UpdatePostingInterface_Asset]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------
Proc Name       : dbo.UpdatePostingInterface_Asset
Created by      : Ajit Singh Chahal
Date            : 5/26/2005
Purpose    	  :To add posting interface - Asset
Revison History :
Used In 	      : Wolverine
------------------------------------------------------------
Date     Review By          Comments
------   ------------       -------------------------*/
--drop proc Proc_UpdatePostingInterface_Asset
CREATE PROC Dbo.Proc_UpdatePostingInterface_Asset
(
@GL_ID     int,
@FISCAL_ID int = null,
@AST_UNCOLL_PRM_CUSTOMER     int,
@AST_UNCOLL_PRM_AGENCY     int,
@AST_UNCOLL_PRM_SUSPENSE_AGENCY_BILL     int,
@AST_PRM_WRIT_SUSPENSE_DIRECT_BILL     int,
@AST_PRM_WRIT_SUSPENSE_AGENCY_BILL     int,
@AST_MCCA_FEE_SUSPENSE_DIRECT_BILL     int,
@AST_MCCA_FEE_SUSPENSE_AGENCY_BILL     int,
@AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_DIRECT_BILL     int,
@AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_AGENCY_BILL     int,
@AST_COMM_RECV_REINS_EXCESS_CONTRACT     int,
@AST_COMM_RECV_REINS_UMBRELLA_CONTRACT     int,
@AST_UNCOLL_PREM_IN_SUSPENSE_DIRECT_BILL     int,
@AST_COMM_EXPENSE_IN_SUSPENSE_DIRECT_BILL     int,
@AST_COMM_PAYABLE_IN_SUSPENSE_DIRECT_BILL     int,
@AST_COMM_EXPENSE_IN_SUSPENSE_AGENCY_BILL     int,
@AST_COMM_PAYABLE_IN_SUSPENSE_AGENCY_BILL     int,

@MODIFIED_BY     int,
@LAST_UPDATED_DATETIME     datetime
)
AS
BEGIN
update ACT_GENERAL_LEDGER
set
	AST_UNCOLL_PRM_CUSTOMER = @AST_UNCOLL_PRM_CUSTOMER,
	AST_UNCOLL_PRM_AGENCY = @AST_UNCOLL_PRM_AGENCY,
	AST_UNCOLL_PRM_SUSPENSE_AGENCY_BILL = @AST_UNCOLL_PRM_SUSPENSE_AGENCY_BILL,
	AST_PRM_WRIT_SUSPENSE_DIRECT_BILL = @AST_PRM_WRIT_SUSPENSE_DIRECT_BILL,
	AST_PRM_WRIT_SUSPENSE_AGENCY_BILL = @AST_PRM_WRIT_SUSPENSE_AGENCY_BILL,
	AST_MCCA_FEE_SUSPENSE_DIRECT_BILL = @AST_MCCA_FEE_SUSPENSE_DIRECT_BILL,
	AST_MCCA_FEE_SUSPENSE_AGENCY_BILL = @AST_MCCA_FEE_SUSPENSE_AGENCY_BILL,
	AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_DIRECT_BILL = @AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_DIRECT_BILL,
	AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_AGENCY_BILL = @AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_AGENCY_BILL,
	AST_COMM_RECV_REINS_EXCESS_CONTRACT = @AST_COMM_RECV_REINS_EXCESS_CONTRACT,
	AST_COMM_RECV_REINS_UMBRELLA_CONTRACT = @AST_COMM_RECV_REINS_UMBRELLA_CONTRACT,
	AST_UNCOLL_PREM_IN_SUSPENSE_DIRECT_BILL =@AST_UNCOLL_PREM_IN_SUSPENSE_DIRECT_BILL,
	AST_COMM_EXPENSE_IN_SUSPENSE_DIRECT_BILL =@AST_COMM_EXPENSE_IN_SUSPENSE_DIRECT_BILL,
	AST_COMM_PAYABLE_IN_SUSPENSE_DIRECT_BILL =@AST_COMM_PAYABLE_IN_SUSPENSE_DIRECT_BILL,
	AST_COMM_EXPENSE_IN_SUSPENSE_AGENCY_BILL =@AST_COMM_EXPENSE_IN_SUSPENSE_AGENCY_BILL,
	AST_COMM_PAYABLE_IN_SUSPENSE_AGENCY_BILL =@AST_COMM_PAYABLE_IN_SUSPENSE_AGENCY_BILL,
	MODIFIED_BY = @MODIFIED_BY,
	LAST_UPDATED_DATETIME = @LAST_UPDATED_DATETIME
where GL_ID = @GL_ID
and 
FISCAL_ID = @FISCAL_ID
end 









GO

