IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetPDFHomeowner_Additional_Interest]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetPDFHomeowner_Additional_Interest]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------            
Proc Name          : Dbo.Proc_GetPDFHomeowner_Additional_Interest            
Created by         : Anurag verma            
Date               : 26-June-2006            
Purpose            :             
Revison History    :            
Used In            : Wolverine              
------------------------------------------------------------            
Date     Review By          Comments            
------   ------------       -------------------------*/            
--DROP PROCEDURE dbo.Proc_GetPDFHomeowner_Additional_Interest   
CREATE     PROCEDURE [dbo].[Proc_GetPDFHomeowner_Additional_Interest]            
(            
 @CUSTOMERID   int,            
 @POLID                int,            
 @VERSIONID   int,            
 @DWELLINGID   int,            
 @CALLEDFROM  VARCHAR(20)            
)            
AS            
BEGIN            
 --IF (@CALLEDFROM='APPLICATION')            
 --BEGIN            
 -- IF(@DWELLINGID > 0)            
 -- BEGIN             
 --     SELECT  ISNULL(AHOAI.RANK,0) RANK ,    
 --   ISNULL((CASE WHEN AHOAI.NATURE_OF_INTEREST=11396 OR AHOAI.NATURE_OF_INTEREST=11397 or AHOAI.NATURE_OF_INTEREST=11867 THEN 1            
 --   WHEN AHOAI.NATURE_OF_INTEREST=11866 THEN 3 else 2   END),0) NATURE_OF_INTEREST,AHOAI.MEMO ,    
 --   ISNULL(AHOAI.HOLDER_NAME,'') + ', ' + RTRIM(ISNULL(AHOAI.HOLDER_ADD1,'')) + ', ' + RTRIM(ISNULL(AHOAI.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + ISNULL(AHOAI.HOLDER_ZIP,'') HOLDER_CITYSTATEZIP,    
 --   ISNULL(AHOAI.LOAN_REF_NUMBER,'') LOAN_REF_NUMBER ,           
 --   ISNULL(MV.LOOKUP_VALUE_DESC,'') LOOKUP_VALUE_DESC,    
 --   ISNULL(MV.LOOKUP_UNIQUE_ID,'')  AS ADD_INT_TYPE,    
 --   RTRIM(ISNULL(AHOAI.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + ISNULL(AHOAI.HOLDER_ZIP,'') HOLDERCITYSTATEZIP,            
 --   ISNULL(AHOAI.HOLDER_NAME,'') +', ' +  
 --   CASE  
 --   WHEN ISNULL(AHOAI.HOLDER_ADD2,'')!=''     
 --   THEN RTRIM(ISNULL(AHOAI.HOLDER_ADD1,'')) +', ' + RTRIM(ISNULL(AHOAI.HOLDER_ADD2,''))    
 --   ELSE RTRIM(ISNULL(AHOAI.HOLDER_ADD1,''))END NAME_ADDRESS,LTRIM(RTRIM(AHOAI.HOLDER_NAME)) HOLDER_NAME,    
 --   --RTRIM(ISNULL(AHOAI.HOLDER_ADD1,'')) + ', ' + RTRIM(isnull(AHOAI.HOLDER_ADD2,'')) ADDRESS,     
 --   -- added by Manoj Rathore Itrack NO. 3243     
 --   CASE     
 --   WHEN ISNULL(AHOAI.HOLDER_ADD2,'')!=''     
 --   THEN RTRIM(ISNULL(AHOAI.HOLDER_ADD1,'')) + ', ' + RTRIM(isnull(AHOAI.HOLDER_ADD2,''))    
 --   ELSE RTRIM(ISNULL(AHOAI.HOLDER_ADD1,'')) END ADDRESS,    
 --   CASE WHEN  AHOAI.NATURE_OF_INTEREST=11395 THEN 'LD CONT HLD' END NATUREOFINT_DESC,    
 --   CAST (AHOAI.DWELLING_ID AS VARCHAR) DWELLING_ID,            
 --   AHOAI.ADD_INT_ID        
 --   FROM APP_DWELLINGS_INFO ADI             
 --   LEFT OUTER  JOIN APP_HOME_OWNER_ADD_INT AHOAI ON ADI.CUSTOMER_ID=AHOAI.CUSTOMER_ID AND ADI.APP_ID=AHOAI.APP_ID AND             
 --   ADI.APP_VERSION_ID=AHOAI.APP_VERSION_ID AND ADI.DWELLING_ID=AHOAI.DWELLING_ID AND AHOAI.IS_ACTIVE='Y'            
 --   --INNER JOIN MNT_HOLDER_INTEREST_LIST MHIL ON AHOAI.HOLDER_ID=MHIL.HOLDER_ID            
 --   INNER JOIN MNT_COUNTRY_STATE_LIST SL1 ON AHOAI.HOLDER_STATE=SL1.STATE_ID            
 --   LEFT OUTER JOIN MNT_LOOKUP_VALUES MV ON AHOAI.NATURE_OF_INTEREST=MV.LOOKUP_UNIQUE_ID AND MV.LOOKUP_ID=1213            
 --   WHERE ADI.CUSTOMER_ID=@CUSTOMERID AND ADI.APP_ID=@POLID AND ADI.APP_VERSION_ID=@VERSIONID             
 --   AND ADI.DWELLING_ID=@DWELLINGID and ADI.IS_ACTIVE='Y' AND (AHOAI.HOLDER_ID IS NULL)                              
  
 --   UNION            
 --   SELECT ISNULL(AHOAI.RANK,0) RANK ,    
 --   ISNULL((CASE WHEN AHOAI.NATURE_OF_INTEREST=11396 OR AHOAI.NATURE_OF_INTEREST=11397 or AHOAI.NATURE_OF_INTEREST=11867     
 --   THEN 1  WHEN AHOAI.NATURE_OF_INTEREST=11866 THEN 3  ELSE 2 END),0) NATURE_OF_INTEREST,AHOAI.MEMO,    
 --   RTRIM(ISNULL(MHIL.HOLDER_NAME,'')) + ', ' + RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) + ', ' + RTRIM(ISNULL(MHIL.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + ISNULL(MHIL.HOLDER_ZIP,'') HOLDER_CITYSTATEZIP,    
 --   ISNULL(AHOAI.LOAN_REF_NUMBER,'') LOAN_REF_NUMBER,    
 --   ISNULL(MV.LOOKUP_VALUE_DESC,'') LOOKUP_VALUE_DESC,  
 --   ISNULL(MV.LOOKUP_UNIQUE_ID,'')  AS ADD_INT_TYPE,    
 --   RTRIM(ISNULL(MHIL.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + ISNULL(MHIL.HOLDER_ZIP,'') HOLDERCITYSTATEZIP,            
 --   ISNULL(MHIL.HOLDER_NAME,'') +', ' +  
 --   CASE  
 --   WHEN ISNULL(MHIL.HOLDER_ADD2,'')!=''  
 --   THEN RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) +', ' + RTRIM(ISNULL(MHIL.HOLDER_ADD2,''))  
 --   ELSE RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) END NAME_ADDRESS,LTRIM(RTRIM(MHIL.HOLDER_NAME)) HOLDER_NAME,    
 --   --RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) +', ' + RTRIM(ISNULL(MHIL.HOLDER_ADD2,'')) ADDRESS,      
 --   -- added by Manoj Rathore Itrack NO. 3243     
 --   CASE     
 --   WHEN ISNULL(MHIL.HOLDER_ADD2,'')!=''     
 --   THEN RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) + ', ' + RTRIM(isnull(MHIL.HOLDER_ADD2,''))    
 --   ELSE RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) END ADDRESS,    
 --   CASE WHEN  AHOAI.NATURE_OF_INTEREST=11395 THEN 'LD CONT HLD' END NATUREOFINT_DESC,    
 --   CAST (AHOAI.DWELLING_ID AS VARCHAR) DWELLING_ID,AHOAI.ADD_INT_ID            
  
 --   FROM APP_DWELLINGS_INFO ADI             
 --   INNER  JOIN APP_HOME_OWNER_ADD_INT AHOAI ON ADI.CUSTOMER_ID=AHOAI.CUSTOMER_ID AND ADI.APP_ID=AHOAI.APP_ID AND             
 --   ADI.APP_VERSION_ID=AHOAI.APP_VERSION_ID AND ADI.DWELLING_ID=AHOAI.DWELLING_ID AND AHOAI.IS_ACTIVE='Y'            
 --   INNER JOIN MNT_HOLDER_INTEREST_LIST MHIL ON AHOAI.HOLDER_ID=MHIL.HOLDER_ID            
 --   INNER JOIN MNT_COUNTRY_STATE_LIST SL1 ON MHIL.HOLDER_STATE=SL1.STATE_ID            
 --   LEFT OUTER JOIN MNT_LOOKUP_VALUES MV ON AHOAI.NATURE_OF_INTEREST=MV.LOOKUP_UNIQUE_ID AND MV.LOOKUP_ID=1213       
 --   WHERE ADI.CUSTOMER_ID=@CUSTOMERID AND ADI.APP_ID=@POLID AND ADI.APP_VERSION_ID=@VERSIONID             
 --   AND ADI.DWELLING_ID=@DWELLINGID AND ADI.IS_ACTIVE='Y' AND AHOAI.HOLDER_ID IS NOT NULL  --AND (AHOAI.HOLDER_ID IS NULL OR (AHOAI.HOLDER_ID IS NOT NULL AND ISNULL(MHIL.IS_ACTIVE,'N') = 'Y'))                               
 --   ORDER BY RANK            
 -- END            
 -- ELSE            
 -- BEGIN            
 --   SELECT ISNULL(AHOAI.RANK,0) RANK ,    
 --   ISNULL((CASE WHEN AHOAI.NATURE_OF_INTEREST=11396 OR AHOAI.NATURE_OF_INTEREST=11397 OR AHOAI.NATURE_OF_INTEREST=11867 THEN 1            
 --   WHEN AHOAI.NATURE_OF_INTEREST=11866 THEN 3 ELSE 2 END),0) NATURE_OF_INTEREST,AHOAI.MEMO ,    
 --   RTRIM(ISNULL(AHOAI.HOLDER_NAME,'')) + ', ' + RTRIM(ISNULL(AHOAI.HOLDER_ADD1,'')) + ', ' + RTRIM(ISNULL(AHOAI.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + ISNULL(AHOAI.HOLDER_ZIP,'') HOLDER_CITYSTATEZIP,    
 --   ISNULL(AHOAI.LOAN_REF_NUMBER,'') LOAN_REF_NUMBER ,    
 --   ISNULL(MV.LOOKUP_VALUE_DESC,'') LOOKUP_VALUE_DESC,    
 --   ISNULL(MV.LOOKUP_UNIQUE_ID,'')  AS ADD_INT_TYPE,    
 --   RTRIM(ISNULL(AHOAI.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + ISNULL(AHOAI.HOLDER_ZIP,'') HOLDERCITYSTATEZIP,            
 --   ISNULL(AHOAI.HOLDER_NAME,'') +', ' +   
 --   CASE  
 --   WHEN ISNULL(AHOAI.HOLDER_ADD2,'')!=''  
 --   THEN RTRIM(ISNULL(AHOAI.HOLDER_ADD1,'')) +', ' + RTRIM(ISNULL(AHOAI.HOLDER_ADD2,''))  
 --   ELSE RTRIM(ISNULL(AHOAI.HOLDER_ADD1,''))END NAME_ADDRESS,LTRIM(RTRIM(AHOAI.HOLDER_NAME)) HOLDER_NAME,    
 --   --RTRIM(ISNULL(AHOAI.HOLDER_ADD1,'')) +', ' + RTRIM(ISNULL(AHOAI.HOLDER_ADD2,'')) ADDRESS,      
 --   -- added by Manoj Rathore Itrack NO. 3243     
 --   CASE     
 --   WHEN ISNULL(AHOAI.HOLDER_ADD2,'')!=''     
 --   THEN RTRIM(ISNULL(AHOAI.HOLDER_ADD1,'')) + ', ' + RTRIM(isnull(AHOAI.HOLDER_ADD2,''))    
 --   ELSE RTRIM(ISNULL(AHOAI.HOLDER_ADD1,'')) END ADDRESS,    
 --   CASE WHEN  AHOAI.NATURE_OF_INTEREST=11395 THEN 'LD CONT HLD' END NATUREOFINT_DESC ,    
 --   CAST (AHOAI.DWELLING_ID AS VARCHAR) DWELLING_ID,AHOAI.ADD_INT_ID        
 --   FROM APP_DWELLINGS_INFO ADI             
 --   LEFT OUTER  JOIN APP_HOME_OWNER_ADD_INT AHOAI ON ADI.CUSTOMER_ID=AHOAI.CUSTOMER_ID AND ADI.APP_ID=AHOAI.APP_ID AND             
 --   ADI.APP_VERSION_ID=AHOAI.APP_VERSION_ID AND ADI.DWELLING_ID=AHOAI.DWELLING_ID AND AHOAI.IS_ACTIVE='Y'            
 --   --INNER JOIN MNT_HOLDER_INTEREST_LIST MHIL ON AHOAI.HOLDER_ID=MHIL.HOLDER_ID            
 --   INNER JOIN MNT_COUNTRY_STATE_LIST SL1 ON AHOAI.HOLDER_STATE=SL1.STATE_ID            
 --   LEFT OUTER JOIN MNT_LOOKUP_VALUES MV ON AHOAI.NATURE_OF_INTEREST=MV.LOOKUP_UNIQUE_ID AND MV.LOOKUP_ID=1213            
 --   WHERE ADI.CUSTOMER_ID=@CUSTOMERID AND ADI.APP_ID=@POLID AND ADI.APP_VERSION_ID=@VERSIONID             
 --   AND ADI.IS_ACTIVE='Y'AND (AHOAI.HOLDER_ID IS NULL)                                         
  
 --   UNION     
              
 --   SELECT ISNULL(AHOAI.RANK,0) RANK ,    
 --   ISNULL((CASE WHEN AHOAI.NATURE_OF_INTEREST=11396 OR AHOAI.NATURE_OF_INTEREST=11397 OR AHOAI.NATURE_OF_INTEREST=11867 THEN 1            
 --   WHEN AHOAI.NATURE_OF_INTEREST=11866 THEN 3  ELSE 2  END),0) NATURE_OF_INTEREST,AHOAI.MEMO,    
 --   RTRIM(ISNULL(MHIL.HOLDER_NAME,'')) + ', ' + RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) + ', ' + RTRIM(ISNULL(MHIL.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + ISNULL(MHIL.HOLDER_ZIP,'') HOLDER_CITYSTATEZIP,    
 --   ISNULL(AHOAI.LOAN_REF_NUMBER,'') LOAN_REF_NUMBER ,    
 --   ISNULL(MV.LOOKUP_VALUE_DESC,'') LOOKUP_VALUE_DESC,    
 --   ISNULL(MV.LOOKUP_UNIQUE_ID,'')  AS ADD_INT_TYPE,    
 --   RTRIM(ISNULL(MHIL.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + ISNULL(MHIL.HOLDER_ZIP,'') HOLDERCITYSTATEZIP,            
 --   ISNULL(MHIL.HOLDER_NAME,'') +', ' +  
 --   CASE  
 --   WHEN ISNULL(MHIL.HOLDER_ADD2,'')!=''  
 --   THEN RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) +', ' + RTRIM(ISNULL(MHIL.HOLDER_ADD2,''))   
 --   ELSE RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) END NAME_ADDRESS, LTRIM(RTRIM(MHIL.HOLDER_NAME)) HOLDER_NAME,    
 --   --RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) +', ' + RTRIM(ISNULL(MHIL.HOLDER_ADD2,'')) ADDRESS,      
 --   -- added by Manoj Rathore Itrack NO. 3243     
 --   CASE     
 --   WHEN ISNULL(MHIL.HOLDER_ADD2,'')!=''     
 --   THEN RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) + ', ' + RTRIM(isnull(MHIL.HOLDER_ADD2,''))    
 --   ELSE RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) END ADDRESS,    
 --   CASE WHEN  AHOAI.NATURE_OF_INTEREST=11395 THEN 'LD CONT HLD' END NATUREOFINT_DESC ,    
 --   CAST (AHOAI.DWELLING_ID AS VARCHAR) DWELLING_ID, AHOAI.ADD_INT_ID            
  
 --   FROM APP_DWELLINGS_INFO ADI             
 --   INNER  JOIN APP_HOME_OWNER_ADD_INT AHOAI ON ADI.CUSTOMER_ID=AHOAI.CUSTOMER_ID AND ADI.APP_ID=AHOAI.APP_ID AND             
 --   ADI.APP_VERSION_ID=AHOAI.APP_VERSION_ID AND ADI.DWELLING_ID=AHOAI.DWELLING_ID AND AHOAI.IS_ACTIVE='Y'            
 --   INNER JOIN MNT_HOLDER_INTEREST_LIST MHIL ON AHOAI.HOLDER_ID=MHIL.HOLDER_ID            
 --   INNER JOIN MNT_COUNTRY_STATE_LIST SL1 ON MHIL.HOLDER_STATE=SL1.STATE_ID            
 --   LEFT OUTER JOIN MNT_LOOKUP_VALUES MV ON AHOAI.NATURE_OF_INTEREST=MV.LOOKUP_UNIQUE_ID AND MV.LOOKUP_ID=1213      
 --   WHERE ADI.CUSTOMER_ID=@CUSTOMERID AND ADI.APP_ID=@POLID AND ADI.APP_VERSION_ID=@VERSIONID             
 --   AND ADI.IS_ACTIVE='Y'AND AHOAI.HOLDER_ID IS NOT NULL --(AHOAI.HOLDER_ID IS NULL OR (AHOAI.HOLDER_ID IS NOT NULL AND ISNULL(MHIL.IS_ACTIVE,'N') = 'Y'))                                          
 --   ORDER BY RANK            
 -- END            
 --END            
 --ELSE IF (@CALLEDFROM='POLICY')
 IF (@CALLEDFROM='POLICY')             
 BEGIN              
  Declare @LOB_ID smallint  
  select @LOB_ID = POLICY_LOB FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK) WHERE  CUSTOMER_ID=@CUSTOMERID AND POLICY_ID=@POLID AND POLICY_VERSION_ID=@VERSIONID  
  -- RENTAL  
  IF(@LOB_ID=6)  
   BEGIN  
    IF(@DWELLINGID > 0)            
     BEGIN             
      --select 'A'            
      SELECT PHOAI.RANK ,CASE WHEN PHOAI.NATURE_OF_INTEREST=11396 OR PHOAI.NATURE_OF_INTEREST=11397 or PHOAI.NATURE_OF_INTEREST=11867 THEN 1            
      WHEN PHOAI.NATURE_OF_INTEREST=11866 THEN 3   else 2 END NATURE_OF_INTEREST,PHOAI.MEMO,    
      RTRIM(ISNULL(PHOAI.HOLDER_NAME,'')) + ', ' + RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) + ', ' + RTRIM(ISNULL(PHOAI.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + PHOAI.HOLDER_ZIP HOLDER_CITYSTATEZIP,PHOAI.LOAN_REF_NUMBER  ,  
      MV.LOOKUP_VALUE_DESC,    
      ISNULL(MV.LOOKUP_UNIQUE_ID,'')  AS ADD_INT_TYPE,    
      RTRIM(ISNULL(PHOAI.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + PHOAI.HOLDER_ZIP HOLDERCITYSTATEZIP,        
      PHOAI.HOLDER_NAME +', ' +  
      CASE  
      WHEN ISNULL(PHOAI.HOLDER_ADD2,'')!=''  
      THEN RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) +', ' + RTRIM(ISNULL(PHOAI.HOLDER_ADD2,''))  
      ELSE RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) END NAME_ADDRESS, LTRIM(RTRIM(PHOAI.HOLDER_NAME)) HOLDER_NAME,    
      --RTRIM(isnull(PHOAI.HOLDER_ADD1,'')) +', ' + RTRIM(isnull(PHOAI.HOLDER_ADD2,'')) ADDRESS ,    
      -- added by Manoj Rathore Itrack NO. 3243     
      CASE     
      WHEN ISNULL(PHOAI.HOLDER_ADD2,'')!=''     
      THEN RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) + ', ' + RTRIM(isnull(PHOAI.HOLDER_ADD2,''))    
      ELSE RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) END ADDRESS,    
      CASE WHEN  PHOAI.NATURE_OF_INTEREST=11395 THEN 'LD CONT HLD' END NATUREOFINT_DESC ,    
      CAST (PHOAI.DWELLING_ID AS VARCHAR) DWELLING_ID,PHOAI.ADD_INT_ID,  
      CASE WHEN @LOB_ID=1 THEN 'HOME' ELSE 'REDW' END    ADD_INT_NAME  
      FROM POL_DWELLINGS_INFO PDI             
      INNER  JOIN POL_HOME_OWNER_ADD_INT PHOAI ON PDI.CUSTOMER_ID=PHOAI.CUSTOMER_ID AND PDI.POLICY_ID=PHOAI.POLICY_ID AND             
      PDI.POLICY_VERSION_ID=PHOAI.POLICY_VERSION_ID AND PDI.DWELLING_ID=PHOAI.DWELLING_ID AND PHOAI.IS_ACTIVE='Y'            
      --INNER JOIN MNT_HOLDER_INTEREST_LIST MHIL ON PHOAI.HOLDER_ID=MHIL.HOLDER_ID            
      INNER JOIN MNT_COUNTRY_STATE_LIST SL1 ON PHOAI.HOLDER_STATE=SL1.STATE_ID            
      LEFT OUTER JOIN MNT_LOOKUP_VALUES MV ON PHOAI.NATURE_OF_INTEREST=MV.LOOKUP_UNIQUE_ID AND MV.LOOKUP_ID=1213            
      WHERE PDI.CUSTOMER_ID=@CUSTOMERID AND PDI.POLICY_ID=@POLID AND PDI.POLICY_VERSION_ID=@VERSIONID             
      AND PDI.DWELLING_ID=@DWELLINGID AND PDI.IS_ACTIVE='Y'AND (PHOAI.HOLDER_ID IS NULL)                                         
  
      UNION            
                   
      SELECT PHOAI.RANK ,CASE WHEN PHOAI.NATURE_OF_INTEREST=11396 OR PHOAI.NATURE_OF_INTEREST=11397 or pHOAI.NATURE_OF_INTEREST=11867 THEN 1            
      WHEN PHOAI.NATURE_OF_INTEREST=11866 THEN 3  ELSE 2 END NATURE_OF_INTEREST,PHOAI.MEMO ,    
      RTRIM(ISNULL(MHIL.HOLDER_NAME,'')) + ', ' + RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) + ', ' + RTRIM(ISNULL(MHIL.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + MHIL.HOLDER_ZIP HOLDER_CITYSTATEZIP,PHOAI.LOAN_REF_NUMBER,  
      MV.LOOKUP_VALUE_DESC,    
      ISNULL(MV.LOOKUP_UNIQUE_ID,'')  AS ADD_INT_TYPE,    
      RTRIM(ISNULL(MHIL.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + MHIL.HOLDER_ZIP HOLDERCITYSTATEZIP,            
      MHIL.HOLDER_NAME +', ' +  
      CASE  
      WHEN ISNULL(MHIL.HOLDER_ADD2,'')!=''  
      THEN RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) +', ' + RTRIM(ISNULL(MHIL.HOLDER_ADD2,''))  
      ELSE RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) END NAME_ADDRESS,LTRIM(RTRIM(MHIL.HOLDER_NAME)) HOLDER_NAME,    
      --RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) +', ' + RTRIM(ISNULL(MHIL.HOLDER_ADD2,'')) ADDRESS,    
      -- added by Manoj Rathore Itrack NO. 3243     
      CASE     
      WHEN ISNULL(MHIL.HOLDER_ADD2,'')!=''     
      THEN RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) + ', ' + RTRIM(isnull(MHIL.HOLDER_ADD2,''))    
      ELSE RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) END ADDRESS,    
      CASE WHEN  PHOAI.NATURE_OF_INTEREST=11395 THEN 'LD CONT HLD' END NATUREOFINT_DESC ,    
      CAST (PHOAI.DWELLING_ID AS VARCHAR) DWELLING_ID, PHOAI.ADD_INT_ID,  
      CASE WHEN @LOB_ID=1 THEN 'HOME' ELSE 'REDW' END    ADD_INT_NAME            
      FROM POL_DWELLINGS_INFO PDI             
      INNER  JOIN POL_HOME_OWNER_ADD_INT PHOAI ON PDI.CUSTOMER_ID=PHOAI.CUSTOMER_ID AND PDI.POLICY_ID=PHOAI.POLICY_ID AND             
      PDI.POLICY_VERSION_ID=PHOAI.POLICY_VERSION_ID AND PDI.DWELLING_ID=PHOAI.DWELLING_ID AND PHOAI.IS_ACTIVE='Y'            
      INNER JOIN MNT_HOLDER_INTEREST_LIST MHIL ON PHOAI.HOLDER_ID=MHIL.HOLDER_ID       
      INNER JOIN MNT_COUNTRY_STATE_LIST SL1 ON MHIL.HOLDER_STATE=SL1.STATE_ID            
      LEFT OUTER JOIN MNT_LOOKUP_VALUES MV ON PHOAI.NATURE_OF_INTEREST=MV.LOOKUP_UNIQUE_ID AND MV.LOOKUP_ID=1213    
      WHERE PDI.CUSTOMER_ID=@CUSTOMERID AND PDI.POLICY_ID=@POLID AND PDI.POLICY_VERSION_ID=@VERSIONID             
      AND PDI.DWELLING_ID=@DWELLINGID AND PDI.IS_ACTIVE='Y'AND PHOAI.HOLDER_ID IS NOT NULL--(PHOAI.HOLDER_ID IS NULL OR (PHOAI.HOLDER_ID IS NOT NULL AND ISNULL(MHIL.IS_ACTIVE,'N') = 'Y'))                                         
      ORDER BY RANK            
     END            
     ELSE            
     BEGIN            
      SELECT PHOAI.RANK ,    
      CASE WHEN PHOAI.NATURE_OF_INTEREST=11396 OR PHOAI.NATURE_OF_INTEREST=11397 or PHOAI.NATURE_OF_INTEREST=11867 THEN 1            
      WHEN PHOAI.NATURE_OF_INTEREST=11866 THEN 3   else 2   END NATURE_OF_INTEREST,PHOAI.MEMO ,    
      RTRIM(ISNULL(PHOAI.HOLDER_NAME,'')) + ', ' + RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) + ', ' + RTRIM(ISNULL(PHOAI.HOLDER_CITY,'')) + ', ' + SL1.STATE_CODE + ' ' + PHOAI.HOLDER_ZIP HOLDER_CITYSTATEZIP,PHOAI.LOAN_REF_NUMBER ,  
      MV.LOOKUP_VALUE_DESC,  ISNULL(MV.LOOKUP_UNIQUE_ID,'')  AS ADD_INT_TYPE,    
      RTRIM(ISNULL(PHOAI.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + PHOAI.HOLDER_ZIP HOLDERCITYSTATEZIP,            
      PHOAI.HOLDER_NAME +', ' +  
      CASE  
      WHEN ISNULL(PHOAI.HOLDER_ADD2,'')!=''  
      THEN RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) +', ' + RTRIM(ISNULL(PHOAI.HOLDER_ADD2,''))  
      ELSE RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) END NAME_ADDRESS,LTRIM(RTRIM(PHOAI.HOLDER_NAME)) HOLDER_NAME,    
      --RTRIM(isnull(PHOAI.HOLDER_ADD1,'')) +', ' + RTRIM(isnull(PHOAI.HOLDER_ADD2,'')) ADDRESS ,    
      -- added by Manoj Rathore Itrack NO. 3243     
      CASE     
      WHEN ISNULL(PHOAI.HOLDER_ADD2,'')!=''     
      THEN RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) + ', ' + RTRIM(isnull(PHOAI.HOLDER_ADD2,''))    
      ELSE RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) END ADDRESS,    
      CASE WHEN  PHOAI.NATURE_OF_INTEREST=11395 THEN 'LD CONT HLD' END NATUREOFINT_DESC ,    
      CAST (PHOAI.DWELLING_ID AS VARCHAR) DWELLING_ID, PHOAI.ADD_INT_ID,  
      CASE WHEN @LOB_ID=1 THEN 'HOME' ELSE 'REDW' END    ADD_INT_NAME             
      FROM POL_DWELLINGS_INFO PDI             
      INNER  JOIN POL_HOME_OWNER_ADD_INT PHOAI ON PDI.CUSTOMER_ID=PHOAI.CUSTOMER_ID AND PDI.POLICY_ID=PHOAI.POLICY_ID AND             
      PDI.POLICY_VERSION_ID=PHOAI.POLICY_VERSION_ID AND PDI.DWELLING_ID=PHOAI.DWELLING_ID AND PHOAI.IS_ACTIVE='Y'            
      --INNER JOIN MNT_HOLDER_INTEREST_LIST MHIL ON PHOAI.HOLDER_ID=MHIL.HOLDER_ID            
      INNER JOIN MNT_COUNTRY_STATE_LIST SL1 ON PHOAI.HOLDER_STATE=SL1.STATE_ID            
      LEFT OUTER JOIN MNT_LOOKUP_VALUES MV ON PHOAI.NATURE_OF_INTEREST=MV.LOOKUP_UNIQUE_ID AND MV.LOOKUP_ID=1213            
      WHERE PDI.CUSTOMER_ID=@CUSTOMERID AND PDI.POLICY_ID=@POLID AND PDI.POLICY_VERSION_ID=@VERSIONID          
      AND PDI.IS_ACTIVE='Y'AND (PHOAI.HOLDER_ID IS NULL)                                         
  
      UNION            
  
      SELECT PHOAI.RANK ,CASE WHEN PHOAI.NATURE_OF_INTEREST=11396 OR PHOAI.NATURE_OF_INTEREST=11397 OR PHOAI.NATURE_OF_INTEREST=11867 THEN 1            
      WHEN PHOAI.NATURE_OF_INTEREST=11866 THEN 3  ELSE 2    END NATURE_OF_INTEREST,PHOAI.MEMO ,    
      RTRIM(ISNULL(MHIL.HOLDER_NAME,'')) + ', ' + RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) + ', ' + RTRIM(ISNULL(MHIL.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + MHIL.HOLDER_ZIP HOLDER_CITYSTATEZIP,PHOAI.LOAN_REF_NUMBER ,    
      MV.LOOKUP_VALUE_DESC,ISNULL(MV.LOOKUP_UNIQUE_ID,'')  AS ADD_INT_TYPE,    
      RTRIM(ISNULL(MHIL.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + MHIL.HOLDER_ZIP HOLDERCITYSTATEZIP,    
      MHIL.HOLDER_NAME +', ' +  
      CASE  
      WHEN ISNULL(MHIL.HOLDER_ADD2,'')!=''  
      THEN RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) +', ' + RTRIM(ISNULL(MHIL.HOLDER_ADD2,''))  
      ELSE RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) END NAME_ADDRESS,LTRIM(RTRIM(MHIL.HOLDER_NAME)) HOLDER_NAME,    
      --RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) +', ' + RTRIM(ISNULL(MHIL.HOLDER_ADD2,'')) ADDRESS ,    
      -- added by Manoj Rathore Itrack NO. 3243     
      CASE     
      WHEN ISNULL(MHIL.HOLDER_ADD2,'')!=''     
      THEN RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) + ', ' + RTRIM(isnull(MHIL.HOLDER_ADD2,''))    
      ELSE RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) END ADDRESS,    
      CASE WHEN  PHOAI.NATURE_OF_INTEREST=11395 THEN 'LD CONT HLD' END NATUREOFINT_DESC ,   
      CAST (PHOAI.DWELLING_ID AS VARCHAR) DWELLING_ID,PHOAI.ADD_INT_ID,  
      CASE WHEN @LOB_ID=1 THEN 'HOME' ELSE 'REDW' END    ADD_INT_NAME            
      FROM POL_DWELLINGS_INFO PDI             
      INNER  JOIN POL_HOME_OWNER_ADD_INT PHOAI ON PDI.CUSTOMER_ID=PHOAI.CUSTOMER_ID AND PDI.POLICY_ID=PHOAI.POLICY_ID AND             
      PDI.POLICY_VERSION_ID=PHOAI.POLICY_VERSION_ID AND PDI.DWELLING_ID=PHOAI.DWELLING_ID AND PHOAI.IS_ACTIVE='Y'            
      INNER JOIN MNT_HOLDER_INTEREST_LIST MHIL ON PHOAI.HOLDER_ID=MHIL.HOLDER_ID            
      INNER JOIN MNT_COUNTRY_STATE_LIST SL1 ON MHIL.HOLDER_STATE=SL1.STATE_ID            
      LEFT OUTER JOIN MNT_LOOKUP_VALUES MV ON PHOAI.NATURE_OF_INTEREST=MV.LOOKUP_UNIQUE_ID AND MV.LOOKUP_ID=1213            
      WHERE PDI.CUSTOMER_ID=@CUSTOMERID AND PDI.POLICY_ID=@POLID AND PDI.POLICY_VERSION_ID=@VERSIONID             
      AND PDI.IS_ACTIVE='Y'AND PHOAI.HOLDER_ID IS NOT NULL--(PHOAI.HOLDER_ID IS NULL OR (PHOAI.HOLDER_ID IS NOT NULL AND ISNULL(MHIL.IS_ACTIVE,'N') = 'Y'))                                         
      ORDER BY RANK            
     END    
  END   
 -- HOMEOWNERS   
 ELSE   
  BEGIN  
   IF(@DWELLINGID > 0)            
   BEGIN             
    --select 'A'            
    SELECT PHOAI.RANK ,CASE WHEN PHOAI.NATURE_OF_INTEREST=11396 OR PHOAI.NATURE_OF_INTEREST=11397 or PHOAI.NATURE_OF_INTEREST=11867 THEN 1            
    WHEN PHOAI.NATURE_OF_INTEREST=11866 THEN 3   else 2 END NATURE_OF_INTEREST,PHOAI.MEMO,    
    RTRIM(ISNULL(PHOAI.HOLDER_NAME,'')) + ', ' + RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) + ', ' + RTRIM(ISNULL(PHOAI.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + PHOAI.HOLDER_ZIP HOLDER_CITYSTATEZIP,PHOAI.LOAN_REF_NUMBER  ,  
    MV.LOOKUP_VALUE_DESC,    
    ISNULL(MV.LOOKUP_UNIQUE_ID,'')  AS ADD_INT_TYPE,    
    RTRIM(ISNULL(PHOAI.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + PHOAI.HOLDER_ZIP HOLDERCITYSTATEZIP,        
    PHOAI.HOLDER_NAME +', ' +  
    CASE  
    WHEN ISNULL(PHOAI.HOLDER_ADD2,'')!=''  
    THEN RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) +', ' + RTRIM(ISNULL(PHOAI.HOLDER_ADD2,''))  
    ELSE RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) END NAME_ADDRESS, LTRIM(RTRIM(PHOAI.HOLDER_NAME)) HOLDER_NAME,    
    --RTRIM(isnull(PHOAI.HOLDER_ADD1,'')) +', ' + RTRIM(isnull(PHOAI.HOLDER_ADD2,'')) ADDRESS ,    
    -- added by Manoj Rathore Itrack NO. 3243     
    CASE     
    WHEN ISNULL(PHOAI.HOLDER_ADD2,'')!=''     
    THEN RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) + ', ' + RTRIM(isnull(PHOAI.HOLDER_ADD2,''))    
    ELSE RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) END ADDRESS,    
    CASE WHEN  PHOAI.NATURE_OF_INTEREST=11395 THEN 'LD CONT HLD' END NATUREOFINT_DESC ,    
    CAST (PHOAI.DWELLING_ID AS VARCHAR) DWELLING_ID,PHOAI.ADD_INT_ID,  
    CASE WHEN @LOB_ID=1 THEN 'HOME' ELSE 'REDW' END    ADD_INT_NAME  
    FROM POL_DWELLINGS_INFO PDI             
    INNER  JOIN POL_HOME_OWNER_ADD_INT PHOAI ON PDI.CUSTOMER_ID=PHOAI.CUSTOMER_ID AND PDI.POLICY_ID=PHOAI.POLICY_ID AND             
    PDI.POLICY_VERSION_ID=PHOAI.POLICY_VERSION_ID AND PDI.DWELLING_ID=PHOAI.DWELLING_ID AND PHOAI.IS_ACTIVE='Y'            
    --INNER JOIN MNT_HOLDER_INTEREST_LIST MHIL ON PHOAI.HOLDER_ID=MHIL.HOLDER_ID            
    INNER JOIN MNT_COUNTRY_STATE_LIST SL1 ON PHOAI.HOLDER_STATE=SL1.STATE_ID            
    LEFT OUTER JOIN MNT_LOOKUP_VALUES MV ON PHOAI.NATURE_OF_INTEREST=MV.LOOKUP_UNIQUE_ID AND MV.LOOKUP_ID=1213            
    WHERE PDI.CUSTOMER_ID=@CUSTOMERID AND PDI.POLICY_ID=@POLID AND PDI.POLICY_VERSION_ID=@VERSIONID             
    AND PDI.DWELLING_ID=@DWELLINGID AND PDI.IS_ACTIVE='Y'AND (PHOAI.HOLDER_ID IS NULL)                                         
  
    UNION            
                 
    SELECT PHOAI.RANK ,CASE WHEN PHOAI.NATURE_OF_INTEREST=11396 OR PHOAI.NATURE_OF_INTEREST=11397 or pHOAI.NATURE_OF_INTEREST=11867 THEN 1            
    WHEN PHOAI.NATURE_OF_INTEREST=11866 THEN 3  ELSE 2 END NATURE_OF_INTEREST,PHOAI.MEMO ,    
    RTRIM(ISNULL(MHIL.HOLDER_NAME,'')) + ', ' + RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) + ', ' + RTRIM(ISNULL(MHIL.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + MHIL.HOLDER_ZIP HOLDER_CITYSTATEZIP,PHOAI.LOAN_REF_NUMBER,  
    MV.LOOKUP_VALUE_DESC,    
    ISNULL(MV.LOOKUP_UNIQUE_ID,'')  AS ADD_INT_TYPE,    
    RTRIM(ISNULL(MHIL.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + MHIL.HOLDER_ZIP HOLDERCITYSTATEZIP,            
    MHIL.HOLDER_NAME +', ' +  
    CASE  
    WHEN ISNULL(MHIL.HOLDER_ADD2,'')!=''  
    THEN RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) +', ' + RTRIM(ISNULL(MHIL.HOLDER_ADD2,''))  
    ELSE RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) END NAME_ADDRESS,LTRIM(RTRIM(MHIL.HOLDER_NAME)) HOLDER_NAME,    
    --RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) +', ' + RTRIM(ISNULL(MHIL.HOLDER_ADD2,'')) ADDRESS,    
    -- added by Manoj Rathore Itrack NO. 3243     
    CASE     
    WHEN ISNULL(MHIL.HOLDER_ADD2,'')!=''     
    THEN RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) + ', ' + RTRIM(isnull(MHIL.HOLDER_ADD2,''))    
    ELSE RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) END ADDRESS,    
    CASE WHEN  PHOAI.NATURE_OF_INTEREST=11395 THEN 'LD CONT HLD' END NATUREOFINT_DESC ,    
    CAST (PHOAI.DWELLING_ID AS VARCHAR) DWELLING_ID, PHOAI.ADD_INT_ID,  
    CASE WHEN @LOB_ID=1 THEN 'HOME' ELSE 'REDW' END    ADD_INT_NAME            
    FROM POL_DWELLINGS_INFO PDI             
    INNER  JOIN POL_HOME_OWNER_ADD_INT PHOAI ON PDI.CUSTOMER_ID=PHOAI.CUSTOMER_ID AND PDI.POLICY_ID=PHOAI.POLICY_ID AND             
    PDI.POLICY_VERSION_ID=PHOAI.POLICY_VERSION_ID AND PDI.DWELLING_ID=PHOAI.DWELLING_ID AND PHOAI.IS_ACTIVE='Y'            
    INNER JOIN MNT_HOLDER_INTEREST_LIST MHIL ON PHOAI.HOLDER_ID=MHIL.HOLDER_ID       
    INNER JOIN MNT_COUNTRY_STATE_LIST SL1 ON MHIL.HOLDER_STATE=SL1.STATE_ID            
    LEFT OUTER JOIN MNT_LOOKUP_VALUES MV ON PHOAI.NATURE_OF_INTEREST=MV.LOOKUP_UNIQUE_ID AND MV.LOOKUP_ID=1213            
    WHERE PDI.CUSTOMER_ID=@CUSTOMERID AND PDI.POLICY_ID=@POLID AND PDI.POLICY_VERSION_ID=@VERSIONID             
    AND PDI.DWELLING_ID=@DWELLINGID AND PDI.IS_ACTIVE='Y'AND PHOAI.HOLDER_ID IS NOT NULL--(PHOAI.HOLDER_ID IS NULL OR (PHOAI.HOLDER_ID IS NOT NULL AND ISNULL(MHIL.IS_ACTIVE,'N') = 'Y'))                                         
      
    UNION  
  
    SELECT PHOAI.RANK ,CASE WHEN PHOAI.NATURE_OF_INTEREST=11396 OR PHOAI.NATURE_OF_INTEREST=11397 or PHOAI.NATURE_OF_INTEREST=11867 THEN 1            
    WHEN PHOAI.NATURE_OF_INTEREST=11866 THEN 3   else 2 END NATURE_OF_INTEREST,PHOAI.MEMO,    
    RTRIM(ISNULL(PHOAI.HOLDER_NAME,'')) + ', ' + RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) + ', ' + RTRIM(ISNULL(PHOAI.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + PHOAI.HOLDER_ZIP HOLDER_CITYSTATEZIP,PHOAI.LOAN_REF_NUMBER  ,  
    MV.LOOKUP_VALUE_DESC,    
    ISNULL(MV.LOOKUP_UNIQUE_ID,'')  AS ADD_INT_TYPE,    
    RTRIM(ISNULL(PHOAI.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + PHOAI.HOLDER_ZIP HOLDERCITYSTATEZIP,        
    PHOAI.HOLDER_NAME +', ' +  
    CASE  
    WHEN ISNULL(PHOAI.HOLDER_ADD2,'')!=''  
    THEN RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) +', ' + RTRIM(ISNULL(PHOAI.HOLDER_ADD2,''))  
    ELSE RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) END NAME_ADDRESS, LTRIM(RTRIM(PHOAI.HOLDER_NAME)) HOLDER_NAME,    
    --RTRIM(isnull(PHOAI.HOLDER_ADD1,'')) +', ' + RTRIM(isnull(PHOAI.HOLDER_ADD2,'')) ADDRESS ,    
    -- added by Manoj Rathore Itrack NO. 3243     
    CASE     
    WHEN ISNULL(PHOAI.HOLDER_ADD2,'')!=''     
    THEN RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) + ', ' + RTRIM(isnull(PHOAI.HOLDER_ADD2,''))    
    ELSE RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) END ADDRESS,    
    CASE WHEN  PHOAI.NATURE_OF_INTEREST=11395 THEN 'LD CONT HLD' END NATUREOFINT_DESC ,    
    CAST (PHOAI.REC_VEH_ID AS VARCHAR) DWELLING_ID,PHOAI.ADD_INT_ID,  
    CASE WHEN @LOB_ID=1 THEN 'REC_VEH' ELSE 'REDW' END    ADD_INT_NAME  
    FROM POL_HOME_OWNER_RECREATIONAL_VEHICLES PDI             
    INNER  JOIN POL_HOMEOWNER_REC_VEH_ADD_INT PHOAI ON PDI.CUSTOMER_ID=PHOAI.CUSTOMER_ID AND PDI.POLICY_ID=PHOAI.POLICY_ID AND             
    PDI.POLICY_VERSION_ID=PHOAI.POLICY_VERSION_ID AND PDI.REC_VEH_ID=PHOAI.REC_VEH_ID AND PHOAI.IS_ACTIVE='Y'            
    --INNER JOIN MNT_HOLDER_INTEREST_LIST MHIL ON PHOAI.HOLDER_ID=MHIL.HOLDER_ID            
    INNER JOIN MNT_COUNTRY_STATE_LIST SL1 ON PHOAI.HOLDER_STATE=SL1.STATE_ID            
    LEFT OUTER JOIN MNT_LOOKUP_VALUES MV ON PHOAI.NATURE_OF_INTEREST=MV.LOOKUP_UNIQUE_ID AND MV.LOOKUP_ID=1213            
    WHERE PDI.CUSTOMER_ID=@CUSTOMERID AND PDI.POLICY_ID=@POLID AND PDI.POLICY_VERSION_ID=@VERSIONID             
    AND PDI.ACTIVE='Y'AND (PHOAI.HOLDER_ID IS NULL)                                         
  
    UNION            
                 
    SELECT PHOAI.RANK ,CASE WHEN PHOAI.NATURE_OF_INTEREST=11396 OR PHOAI.NATURE_OF_INTEREST=11397 or pHOAI.NATURE_OF_INTEREST=11867 THEN 1            
    WHEN PHOAI.NATURE_OF_INTEREST=11866 THEN 3  ELSE 2 END NATURE_OF_INTEREST,PHOAI.MEMO ,    
    RTRIM(ISNULL(MHIL.HOLDER_NAME,'')) + ', ' + RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) + ', ' + RTRIM(ISNULL(MHIL.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + MHIL.HOLDER_ZIP HOLDER_CITYSTATEZIP,PHOAI.LOAN_REF_NUMBER,  
    MV.LOOKUP_VALUE_DESC,    
    ISNULL(MV.LOOKUP_UNIQUE_ID,'')  AS ADD_INT_TYPE,    
    RTRIM(ISNULL(MHIL.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + MHIL.HOLDER_ZIP HOLDERCITYSTATEZIP,            
    MHIL.HOLDER_NAME +', ' +  
    CASE  
    WHEN ISNULL(MHIL.HOLDER_ADD2,'')!=''  
    THEN RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) +', ' + RTRIM(ISNULL(MHIL.HOLDER_ADD2,''))  
    ELSE RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) END NAME_ADDRESS,LTRIM(RTRIM(MHIL.HOLDER_NAME)) HOLDER_NAME,    
    --RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) +', ' + RTRIM(ISNULL(MHIL.HOLDER_ADD2,'')) ADDRESS,    
    -- added by Manoj Rathore Itrack NO. 3243     
    CASE     
    WHEN ISNULL(MHIL.HOLDER_ADD2,'')!=''     
    THEN RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) + ', ' + RTRIM(isnull(MHIL.HOLDER_ADD2,''))    
    ELSE RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) END ADDRESS,    
    CASE WHEN  PHOAI.NATURE_OF_INTEREST=11395 THEN 'LD CONT HLD' END NATUREOFINT_DESC ,    
    CAST (PHOAI.REC_VEH_ID AS VARCHAR) DWELLING_ID, PHOAI.ADD_INT_ID,  
    CASE WHEN @LOB_ID=1 THEN 'REC_VEH' ELSE 'REDW' END    ADD_INT_NAME            
    FROM POL_HOME_OWNER_RECREATIONAL_VEHICLES PDI             
    INNER  JOIN POL_HOMEOWNER_REC_VEH_ADD_INT PHOAI ON PDI.CUSTOMER_ID=PHOAI.CUSTOMER_ID AND PDI.POLICY_ID=PHOAI.POLICY_ID AND             
    PDI.POLICY_VERSION_ID=PHOAI.POLICY_VERSION_ID AND PDI.REC_VEH_ID=PHOAI.REC_VEH_ID AND PHOAI.IS_ACTIVE='Y'            
    INNER JOIN MNT_HOLDER_INTEREST_LIST MHIL ON PHOAI.HOLDER_ID=MHIL.HOLDER_ID       
    INNER JOIN MNT_COUNTRY_STATE_LIST SL1 ON MHIL.HOLDER_STATE=SL1.STATE_ID            
    LEFT OUTER JOIN MNT_LOOKUP_VALUES MV ON PHOAI.NATURE_OF_INTEREST=MV.LOOKUP_UNIQUE_ID AND MV.LOOKUP_ID=1213            
    WHERE PDI.CUSTOMER_ID=@CUSTOMERID AND PDI.POLICY_ID=@POLID AND PDI.POLICY_VERSION_ID=@VERSIONID             
    AND PDI.ACTIVE='Y'AND PHOAI.HOLDER_ID IS NOT NULL--(PHOAI.HOLDER_ID IS NULL OR (PHOAI.HOLDER_ID IS NOT NULL AND ISNULL(MHIL.IS_ACTIVE,'N') = 'Y'))                                         
    ORDER BY RANK            
   END            
   ELSE            
   BEGIN            
    SELECT PHOAI.RANK ,    
    CASE WHEN PHOAI.NATURE_OF_INTEREST=11396 OR PHOAI.NATURE_OF_INTEREST=11397 or PHOAI.NATURE_OF_INTEREST=11867 THEN 1            
    WHEN PHOAI.NATURE_OF_INTEREST=11866 THEN 3   else 2   END NATURE_OF_INTEREST,PHOAI.MEMO ,    
    RTRIM(ISNULL(PHOAI.HOLDER_NAME,'')) + ', ' + RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) + ', ' + RTRIM(ISNULL(PHOAI.HOLDER_CITY,'')) + ', ' + SL1.STATE_CODE + ' ' + PHOAI.HOLDER_ZIP HOLDER_CITYSTATEZIP,PHOAI.LOAN_REF_NUMBER ,  
    MV.LOOKUP_VALUE_DESC,  ISNULL(MV.LOOKUP_UNIQUE_ID,'')  AS ADD_INT_TYPE,    
    RTRIM(ISNULL(PHOAI.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + PHOAI.HOLDER_ZIP HOLDERCITYSTATEZIP,            
    PHOAI.HOLDER_NAME +', ' +  
    CASE  
    WHEN ISNULL(PHOAI.HOLDER_ADD2,'')!=''  
    THEN RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) +', ' + RTRIM(ISNULL(PHOAI.HOLDER_ADD2,''))  
    ELSE RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) END NAME_ADDRESS,LTRIM(RTRIM(PHOAI.HOLDER_NAME)) HOLDER_NAME,    
    --RTRIM(isnull(PHOAI.HOLDER_ADD1,'')) +', ' + RTRIM(isnull(PHOAI.HOLDER_ADD2,'')) ADDRESS ,    
    -- added by Manoj Rathore Itrack NO. 3243     
    CASE     
    WHEN ISNULL(PHOAI.HOLDER_ADD2,'')!=''     
    THEN RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) + ', ' + RTRIM(isnull(PHOAI.HOLDER_ADD2,''))    
    ELSE RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) END ADDRESS,    
    CASE WHEN  PHOAI.NATURE_OF_INTEREST=11395 THEN 'LD CONT HLD' END NATUREOFINT_DESC ,    
    CAST (PHOAI.DWELLING_ID AS VARCHAR) DWELLING_ID, PHOAI.ADD_INT_ID,  
    CASE WHEN @LOB_ID=1 THEN 'HOME' ELSE 'REDW' END    ADD_INT_NAME             
    FROM POL_DWELLINGS_INFO PDI             
    INNER  JOIN POL_HOME_OWNER_ADD_INT PHOAI ON PDI.CUSTOMER_ID=PHOAI.CUSTOMER_ID AND PDI.POLICY_ID=PHOAI.POLICY_ID AND             
    PDI.POLICY_VERSION_ID=PHOAI.POLICY_VERSION_ID AND PDI.DWELLING_ID=PHOAI.DWELLING_ID AND PHOAI.IS_ACTIVE='Y'            
    --INNER JOIN MNT_HOLDER_INTEREST_LIST MHIL ON PHOAI.HOLDER_ID=MHIL.HOLDER_ID            
    INNER JOIN MNT_COUNTRY_STATE_LIST SL1 ON PHOAI.HOLDER_STATE=SL1.STATE_ID            
    LEFT OUTER JOIN MNT_LOOKUP_VALUES MV ON PHOAI.NATURE_OF_INTEREST=MV.LOOKUP_UNIQUE_ID AND MV.LOOKUP_ID=1213            
    WHERE PDI.CUSTOMER_ID=@CUSTOMERID AND PDI.POLICY_ID=@POLID AND PDI.POLICY_VERSION_ID=@VERSIONID          
    AND PDI.IS_ACTIVE='Y'AND (PHOAI.HOLDER_ID IS NULL)                                         
  
    UNION            
  
    SELECT PHOAI.RANK ,CASE WHEN PHOAI.NATURE_OF_INTEREST=11396 OR PHOAI.NATURE_OF_INTEREST=11397 OR PHOAI.NATURE_OF_INTEREST=11867 THEN 1            
    WHEN PHOAI.NATURE_OF_INTEREST=11866 THEN 3  ELSE 2    END NATURE_OF_INTEREST,PHOAI.MEMO ,    
    RTRIM(ISNULL(MHIL.HOLDER_NAME,'')) + ', ' + RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) + ', ' + RTRIM(ISNULL(MHIL.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + MHIL.HOLDER_ZIP HOLDER_CITYSTATEZIP,PHOAI.LOAN_REF_NUMBER ,    
    MV.LOOKUP_VALUE_DESC,ISNULL(MV.LOOKUP_UNIQUE_ID,'')  AS ADD_INT_TYPE,    
    RTRIM(ISNULL(MHIL.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + MHIL.HOLDER_ZIP HOLDERCITYSTATEZIP,    
    MHIL.HOLDER_NAME +', ' +  
    CASE  
    WHEN ISNULL(MHIL.HOLDER_ADD2,'')!=''  
    THEN RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) +', ' + RTRIM(ISNULL(MHIL.HOLDER_ADD2,''))  
    ELSE RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) END NAME_ADDRESS,LTRIM(RTRIM(MHIL.HOLDER_NAME)) HOLDER_NAME,    
    --RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) +', ' + RTRIM(ISNULL(MHIL.HOLDER_ADD2,'')) ADDRESS ,    
    -- added by Manoj Rathore Itrack NO. 3243     
    CASE     
    WHEN ISNULL(MHIL.HOLDER_ADD2,'')!=''     
    THEN RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) + ', ' + RTRIM(isnull(MHIL.HOLDER_ADD2,''))    
    ELSE RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) END ADDRESS,    
    CASE WHEN  PHOAI.NATURE_OF_INTEREST=11395 THEN 'LD CONT HLD' END NATUREOFINT_DESC ,   
    CAST (PHOAI.DWELLING_ID AS VARCHAR) DWELLING_ID,PHOAI.ADD_INT_ID,  
    CASE WHEN @LOB_ID=1 THEN 'HOME' ELSE 'REDW' END    ADD_INT_NAME            
    FROM POL_DWELLINGS_INFO PDI             
    INNER  JOIN POL_HOME_OWNER_ADD_INT PHOAI ON PDI.CUSTOMER_ID=PHOAI.CUSTOMER_ID AND PDI.POLICY_ID=PHOAI.POLICY_ID AND             
    PDI.POLICY_VERSION_ID=PHOAI.POLICY_VERSION_ID AND PDI.DWELLING_ID=PHOAI.DWELLING_ID AND PHOAI.IS_ACTIVE='Y'            
    INNER JOIN MNT_HOLDER_INTEREST_LIST MHIL ON PHOAI.HOLDER_ID=MHIL.HOLDER_ID            
    INNER JOIN MNT_COUNTRY_STATE_LIST SL1 ON MHIL.HOLDER_STATE=SL1.STATE_ID            
    LEFT OUTER JOIN MNT_LOOKUP_VALUES MV ON PHOAI.NATURE_OF_INTEREST=MV.LOOKUP_UNIQUE_ID AND MV.LOOKUP_ID=1213            
    WHERE PDI.CUSTOMER_ID=@CUSTOMERID AND PDI.POLICY_ID=@POLID AND PDI.POLICY_VERSION_ID=@VERSIONID             
    AND PDI.IS_ACTIVE='Y'AND PHOAI.HOLDER_ID IS NOT NULL--(PHOAI.HOLDER_ID IS NULL OR (PHOAI.HOLDER_ID IS NOT NULL AND ISNULL(MHIL.IS_ACTIVE,'N') = 'Y'))                                         
      
    UNION  
  
    SELECT PHOAI.RANK , CASE WHEN PHOAI.NATURE_OF_INTEREST=11396 OR PHOAI.NATURE_OF_INTEREST=11397 or PHOAI.NATURE_OF_INTEREST=11867 THEN 1            
    WHEN PHOAI.NATURE_OF_INTEREST=11866 THEN 3   else 2   END NATURE_OF_INTEREST,PHOAI.MEMO ,    
    RTRIM(ISNULL(PHOAI.HOLDER_NAME,'')) + ', ' + RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) + ', ' + RTRIM(ISNULL(PHOAI.HOLDER_CITY,'')) + ', ' + SL1.STATE_CODE + ' ' + PHOAI.HOLDER_ZIP HOLDER_CITYSTATEZIP,PHOAI.LOAN_REF_NUMBER ,  
    MV.LOOKUP_VALUE_DESC,  ISNULL(MV.LOOKUP_UNIQUE_ID,'')  AS ADD_INT_TYPE,    
    RTRIM(ISNULL(PHOAI.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + PHOAI.HOLDER_ZIP HOLDERCITYSTATEZIP,            
    PHOAI.HOLDER_NAME +', ' +  
    CASE  
    WHEN ISNULL(PHOAI.HOLDER_ADD2,'')!=''  
    THEN RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) +', ' + RTRIM(ISNULL(PHOAI.HOLDER_ADD2,''))  
    ELSE RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) END NAME_ADDRESS,LTRIM(RTRIM(PHOAI.HOLDER_NAME)) HOLDER_NAME,    
    --RTRIM(isnull(PHOAI.HOLDER_ADD1,'')) +', ' + RTRIM(isnull(PHOAI.HOLDER_ADD2,'')) ADDRESS ,    
    -- added by Manoj Rathore Itrack NO. 3243     
    CASE     
    WHEN ISNULL(PHOAI.HOLDER_ADD2,'')!=''     
    THEN RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) + ', ' + RTRIM(isnull(PHOAI.HOLDER_ADD2,''))    
    ELSE RTRIM(ISNULL(PHOAI.HOLDER_ADD1,'')) END ADDRESS,    
    CASE WHEN  PHOAI.NATURE_OF_INTEREST=11395 THEN 'LD CONT HLD' END NATUREOFINT_DESC ,    
    CAST (PHOAI.REC_VEH_ID AS VARCHAR) DWELLING_ID, PHOAI.ADD_INT_ID,  
    CASE WHEN @LOB_ID=1 THEN 'REC_VEH' ELSE 'REDW' END    ADD_INT_NAME             
    FROM POL_HOME_OWNER_RECREATIONAL_VEHICLES PDI             
    INNER  JOIN POL_HOMEOWNER_REC_VEH_ADD_INT PHOAI  ON PDI.CUSTOMER_ID=PHOAI.CUSTOMER_ID AND PDI.POLICY_ID=PHOAI.POLICY_ID AND             
    PDI.POLICY_VERSION_ID=PHOAI.POLICY_VERSION_ID AND PDI.REC_VEH_ID=PHOAI.REC_VEH_ID AND PHOAI.IS_ACTIVE='Y'            
    --INNER JOIN MNT_HOLDER_INTEREST_LIST MHIL ON PHOAI.HOLDER_ID=MHIL.HOLDER_ID            
    INNER JOIN MNT_COUNTRY_STATE_LIST SL1 ON PHOAI.HOLDER_STATE=SL1.STATE_ID            
    LEFT OUTER JOIN MNT_LOOKUP_VALUES MV ON PHOAI.NATURE_OF_INTEREST=MV.LOOKUP_UNIQUE_ID AND MV.LOOKUP_ID=1213            
    WHERE PDI.CUSTOMER_ID=@CUSTOMERID AND PDI.POLICY_ID=@POLID AND PDI.POLICY_VERSION_ID=@VERSIONID          
    AND PDI.ACTIVE='Y'AND (PHOAI.HOLDER_ID IS NULL)                                         
  
    UNION            
  
    SELECT PHOAI.RANK ,CASE WHEN PHOAI.NATURE_OF_INTEREST=11396 OR PHOAI.NATURE_OF_INTEREST=11397 OR PHOAI.NATURE_OF_INTEREST=11867 THEN 1            
    WHEN PHOAI.NATURE_OF_INTEREST=11866 THEN 3  ELSE 2    END NATURE_OF_INTEREST,PHOAI.MEMO ,    
    RTRIM(ISNULL(MHIL.HOLDER_NAME,'')) + ', ' + RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) + ', ' + RTRIM(ISNULL(MHIL.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + MHIL.HOLDER_ZIP HOLDER_CITYSTATEZIP,PHOAI.LOAN_REF_NUMBER ,    
    MV.LOOKUP_VALUE_DESC,ISNULL(MV.LOOKUP_UNIQUE_ID,'')  AS ADD_INT_TYPE,    
    RTRIM(ISNULL(MHIL.HOLDER_CITY,'')) + ', ' +  SL1.STATE_CODE + ' ' + MHIL.HOLDER_ZIP HOLDERCITYSTATEZIP,    
    MHIL.HOLDER_NAME +', ' +  
    CASE  
    WHEN ISNULL(MHIL.HOLDER_ADD2,'')!=''  
    THEN RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) +', ' + RTRIM(ISNULL(MHIL.HOLDER_ADD2,''))  
    ELSE RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) END NAME_ADDRESS,LTRIM(RTRIM(MHIL.HOLDER_NAME)) HOLDER_NAME,    
    --RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) +', ' + RTRIM(ISNULL(MHIL.HOLDER_ADD2,'')) ADDRESS ,    
    -- added by Manoj Rathore Itrack NO. 3243     
    CASE     
    WHEN ISNULL(MHIL.HOLDER_ADD2,'')!=''   
    THEN RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) + ', ' + RTRIM(isnull(MHIL.HOLDER_ADD2,''))    
    ELSE RTRIM(ISNULL(MHIL.HOLDER_ADD1,'')) END ADDRESS,    
    CASE WHEN  PHOAI.NATURE_OF_INTEREST=11395 THEN 'LD CONT HLD' END NATUREOFINT_DESC ,   
    CAST (PHOAI.REC_VEH_ID AS VARCHAR) DWELLING_ID,PHOAI.ADD_INT_ID,  
    CASE WHEN @LOB_ID=1 THEN 'REC_VEH' ELSE 'REDW' END    ADD_INT_NAME            
    FROM POL_HOME_OWNER_RECREATIONAL_VEHICLES PDI             
    INNER  JOIN POL_HOMEOWNER_REC_VEH_ADD_INT PHOAI ON PDI.CUSTOMER_ID=PHOAI.CUSTOMER_ID AND PDI.POLICY_ID=PHOAI.POLICY_ID AND             
    PDI.POLICY_VERSION_ID=PHOAI.POLICY_VERSION_ID AND PDI.REC_VEH_ID=PHOAI.REC_VEH_ID AND PHOAI.IS_ACTIVE='Y'            
    INNER JOIN MNT_HOLDER_INTEREST_LIST MHIL ON PHOAI.HOLDER_ID=MHIL.HOLDER_ID            
    INNER JOIN MNT_COUNTRY_STATE_LIST SL1 ON MHIL.HOLDER_STATE=SL1.STATE_ID            
    LEFT OUTER JOIN MNT_LOOKUP_VALUES MV ON PHOAI.NATURE_OF_INTEREST=MV.LOOKUP_UNIQUE_ID AND MV.LOOKUP_ID=1213            
    WHERE PDI.CUSTOMER_ID=@CUSTOMERID AND PDI.POLICY_ID=@POLID AND PDI.POLICY_VERSION_ID=@VERSIONID             
    AND PDI.ACTIVE='Y'AND PHOAI.HOLDER_ID IS NOT NULL--(PHOAI.HOLDER_ID IS NULL OR (PHOAI.HOLDER_ID IS NOT NULL AND ISNULL(MHIL.IS_ACTIVE,'N') = 'Y'))                                         
  
   ORDER BY RANK            
   END            
  END        
  END            
 END            
  
  
  
GO

