IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_Report_PendingApps]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_Report_PendingApps]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Proc_Report_PendingApps]

AS BEGIN
SET NOCOUNT ON

 SELECT 

CPL.APP_SUBMITTED_DATE,CPL.POLICY_NUMBER,
(CCL.CUSTOMER_FIRST_NAME+' '+isnull(CCL.CUSTOMER_MIDDLE_NAME,'')+' '+isnull(CCL.CUSTOMER_LAST_NAME,'') )AS CUSTOMER_NAME,
DATEDIFF(DD,CPL.APP_SUBMITTED_DATE,GETDATE()) AS  DAYS_ELAPSED

 FROM 
      POL_CUSTOMER_POLICY_LIST CPL 
INNER JOIN 
        CLT_CUSTOMER_LIST CCL ON CPL.CUSTOMER_ID = CCL.CUSTOMER_ID
 WHERE

     POLICY_STATUS = 'SUSPENDED'
     AND POLICY_NUMBER  IS NOT NULL
     AND POLICY_NUMBER != ''
     AND APP_SUBMITTED_DATE IS  NOT NULL
     
     ORDER BY CPL.APP_SUBMITTED_DATE 
 END
GO

