IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_INSERT_POL_PRODUCT_LOCATION_INFO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_INSERT_POL_PRODUCT_LOCATION_INFO]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

    
 /*----------------------------------------------------------              
Proc Name       : dbo.Proc_Insert_Pol_Product_Location_Info      
Created by      : Lalit Chauhan  
Date            : 04/26/2010              
Purpose         : Insert records in POL_PRODUCT_LOCATION_INFO Table.              
Revison History :              
Used In        : Ebix Advantage              
------------------------------------------------------------              
Date     Review By          Comments              
------   ------------       -------------------------*/              
--DROP PROC dbo.PROC_INSERT_POL_PRODUCT_LOCATION_INFO  
/****** Script for POL_PRODUCT_LOCATION_INFO into DATABASE  ******/    
CREATE PROC  [dbo].[PROC_INSERT_POL_PRODUCT_LOCATION_INFO]  
(  
@CUSTOMER_ID INT,  
@POLICY_ID INT,  
@POLICY_VERSION_ID SMALLINT,  
@PRODUCT_RISK_ID INT OUT,  
@LOCATION INT,  
@VALUE_AT_RISK DECIMAL(18,2),  
@MAXIMUM_LIMIT DECIMAL(18,2),   
@MULTIPLE_DEDUCTIBLE INT,  
@REMARKS NVARCHAR(4000),  
@POSSIBLE_MAX_LOSS  DECIMAL(12,2),  
@PARKING_SPACES NVARCHAR(40),  
@CONSTRUCTION NVARCHAR(50),  
@ASSIST24 INT,  
@BUILDING_VALUE  DECIMAL(18,2),  
@CONTENTS_VALUE  DECIMAL(18,2),  
@RAW_MATERIAL_VALUE   DECIMAL(18,2),  
@CONTENTS_RAW_VALUES    DECIMAL(12,2),  
@MRI_VALUE    DECIMAL(18,2),  
@ACTIVITY_TYPE  INT,  
@OCCUPIED_AS  INT,  
@RUBRICA   NVARCHAR(6),   
@IS_ACTIVE NCHAR(1),  
@CREATED_BY INT,  
@CREATED_DATETIME DATETIME, 
@CLAIM_RATIO DECIMAL(12,2),
@BONUS DECIMAL(12,2),
@CO_APPLICANT_ID INT,
@CLASS_FIELD INT=NULL,
@LOCATION_NUMBER INT=NULL,
@ITEM_NUMBER INT =NULL,
@ACTUAL_INSURED_OBJECT NVARCHAR(250)=NULL,
@ORIGINAL_VERSION_ID INT=NULL,
@PORTABLE_EQUIPMENT INT=null,
@EXCEEDED_PREMIUM INT = NULL  
)  
AS 
DECLARE @COUNT INT  
BEGIN  
  
SELECT @PRODUCT_RISK_ID=ISNULL(MAX(PRODUCT_RISK_ID),0)+1 FROM  POL_PRODUCT_LOCATION_INFO  WITH (NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID   

SELECT  @COUNT= COUNT(*) FROM POL_PRODUCT_LOCATION_INFO WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID   and POLICY_VERSION_ID=@POLICY_VERSION_ID AND LOCATION_NUMBER=@LOCATION_NUMBER AND ITEM_NUMBER=@ITEM_NUMBER AND IS_ACTIVE='Y'
  IF(@COUNT>=1)   
  BEGIN
  RETURN -5
  END
 ELSE
 BEGIN 
INSERT INTO POL_PRODUCT_LOCATION_INFO  
(  
CUSTOMER_ID,  
POLICY_ID,  
POLICY_VERSION_ID,  
PRODUCT_RISK_ID,  
LOCATION,  
VALUE_AT_RISK,  
MAXIMUM_LIMIT,   
MULTIPLE_DEDUCTIBLE,  
REMARKS,  
POSSIBLE_MAX_LOSS,  
PARKING_SPACES,  
CONSTRUCTION,  
ASSIST24,  
BUILDING_VALUE,  
CONTENTS_VALUE,  
RAW_MATERIAL_VALUE,  
CONTENTS_RAW_VALUES,  
MRI_VALUE,  
ACTIVITY_TYPE,  
OCCUPIED_AS,  
RUBRICA,   
IS_ACTIVE,  
CREATED_BY,  
CREATED_DATETIME, 
CLAIM_RATIO,
BONUS,
CO_APPLICANT_ID ,
CLASS_FIELD,
LOCATION_NUMBER,
ITEM_NUMBER,
ACTUAL_INSURED_OBJECT,
ORIGINAL_VERSION_ID,
PORTABLE_EQUIPMENT,
EXCEEDED_PREMIUM
)   
VALUES  
(  
@CUSTOMER_ID,  
@POLICY_ID,  
@POLICY_VERSION_ID,  
@PRODUCT_RISK_ID,  
@LOCATION,  
@VALUE_AT_RISK,  
@MAXIMUM_LIMIT,   
@MULTIPLE_DEDUCTIBLE,  
@REMARKS,  
@POSSIBLE_MAX_LOSS,  
@PARKING_SPACES,  
@CONSTRUCTION,  
@ASSIST24,  
@BUILDING_VALUE,  
@CONTENTS_VALUE,  
@RAW_MATERIAL_VALUE,  
@CONTENTS_RAW_VALUES,  
@MRI_VALUE,  
@ACTIVITY_TYPE,  
@OCCUPIED_AS,  
@RUBRICA,   
@IS_ACTIVE,  
@CREATED_BY,  
@CREATED_DATETIME,
@CLAIM_RATIO,
@BONUS,
@CO_APPLICANT_ID,
@CLASS_FIELD,
@LOCATION_NUMBER,
@ITEM_NUMBER,
@ACTUAL_INSURED_OBJECT,
@ORIGINAL_VERSION_ID,
@PORTABLE_EQUIPMENT,
@EXCEEDED_PREMIUM
)  

------ADDED BY PRAVESH SAVE DEFAULT COVERAGES
EXEC Proc_SaveProductDefaultCoverages      
 @CUSTOMER_ID,                        
 @POLICY_ID  ,
 @POLICY_VERSION_ID ,
 @PRODUCT_RISK_ID,
 @CREATED_BY
 
END
RETURN 1
END  
GO

