IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_UPDATE_HOME_ENDORSEMENTS_FROM_LIMITS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_UPDATE_HOME_ENDORSEMENTS_FROM_LIMITS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
/*----------------------------------------------------------                              
Proc Name       : dbo.Proc_UPDATE_HOME_ENDORSEMENTS_FROM_LIMITS                              
Created by      : Praveen Kasana                              
Date            : 05 jan 2005                              
Purpose         :Inserts linked endorsemnts and Deletes  for the Endorsement
Revison History :                              
Used In  : Wolverine                              
------------------------------------------------------------                              
Date     Review By          Comments                              
------   ------------       -------------------------*/                              
CREATE           PROC Dbo.Proc_UPDATE_HOME_ENDORSEMENTS_FROM_LIMITS          
(                              
  @CUSTOMER_ID     int,                              
  @APP_ID     int,                              
  @APP_VERSION_ID     smallint,
  @DWELLING_ID smallint        
)           
          
AS           
          
BEGIN          
           
   DECLARE @STATEID SmallInt                                  
   DECLARE @LOBID NVarCHar(5)               
   DECLARE @PRODUCT Int        
   DECLARE @END_ID Int         
   DECLARE @PERSONAL_LIAB_LIMIT Decimal(18,0)
   DECLARE @MED_PAY_EACH_PERSON Decimal(18,0)
       
 SELECT @STATEID = STATE_ID,                                  
 @LOBID = APP_LOB ,        
 @PRODUCT = POLICY_TYPE                                  
 FROM APP_LIST                                  
 WHERE CUSTOMER_ID = @CUSTOMER_ID AND                                  
 APP_ID = @APP_ID AND                                  
 APP_VERSION_ID = @APP_VERSION_ID             
           
  SELECT @PERSONAL_LIAB_LIMIT = PERSONAL_LIAB_LIMIT,                                  
  @MED_PAY_EACH_PERSON = MED_PAY_EACH_PERSON        
  FROM APP_DWELLING_COVERAGE                               
  WHERE CUSTOMER_ID = @CUSTOMER_ID AND                                  
  APP_ID = @APP_ID AND                                  
  APP_VERSION_ID = @APP_VERSION_ID  AND
  DWELLING_ID = @DWELLING_ID
   

      
	 --Rental dwelling------------------------------------------    
	IF (  @LOBID = 6 )      
	BEGIN      
	
		--Michigan    
		IF ( @STATEID = 22 )      
		BEGIN      
			   
			
			IF (   @PERSONAL_LIAB_LIMIT IS NOT NULL AND @MED_PAY_EACH_PERSON IS NOT NULL )
			BEGIN	
				--- NEW for E and F  
				---273 22 6 B O LP-124 Owners,Landlords & Tenants Liability Insurance  
				EXEC Proc_Insert_HOME_ENDORSEMENT_BY_ID @CUSTOMER_ID, @APP_ID, @APP_VERSION_ID,  273, @DWELLING_ID     
				
				--274 22 6 B O LP-417 Calendar Date or Time Failure Exclusion  
				EXEC Proc_Insert_HOME_ENDORSEMENT_BY_ID @CUSTOMER_ID, @APP_ID, @APP_VERSION_ID,  274, @DWELLING_ID       
				
				--269 22 6 B O DP-392 Limited Lead Liability DP-392 Limited Lead Liability  
				EXEC Proc_Insert_HOME_ENDORSEMENT_BY_ID @CUSTOMER_ID, @APP_ID, @APP_VERSION_ID,  269, @DWELLING_ID       
				
				--268 22 6 B O DP-382 Lead Liability Exclusion  
				--EXEC Proc_Insert_HOME_ENDORSEMENT_BY_ID @CUSTOMER_ID, @APP_ID, @APP_VERSION_ID,  268, @DWELLING_ID    
				--End new    
			END
			ELSE
			BEGIN		
				EXEC Proc_Delete_HOME_ENDORSEMENT_BY_ID   
				@CUSTOMER_ID,--@CUSTOMER_ID     int,                            
				@APP_ID,--@APP_ID     int,                            
				@APP_VERSION_ID,--@APP_VERSION_ID     smallint,   
				273,--@ENDORSEMENT_ID smallint,                         
				@DWELLING_ID--@DWELLING_ID smallint,                            
				---
				EXEC Proc_Delete_HOME_ENDORSEMENT_BY_ID   
				@CUSTOMER_ID,--@CUSTOMER_ID     int,                            
				@APP_ID,--@APP_ID     int,                            
				@APP_VERSION_ID,--@APP_VERSION_ID     smallint,   
				274,--@ENDORSEMENT_ID smallint,                         
				@DWELLING_ID--@DWELLING_ID smallint,                            
				---
				EXEC Proc_Delete_HOME_ENDORSEMENT_BY_ID   
				@CUSTOMER_ID,--@CUSTOMER_ID     int,                            
				@APP_ID,--@APP_ID     int,                            
				@APP_VERSION_ID,--@APP_VERSION_ID     smallint,   
				269,--@ENDORSEMENT_ID smallint,                         
				@DWELLING_ID--@DWELLING_ID smallint,                            
				---
				/*EXEC Proc_Delete_HOME_ENDORSEMENT_BY_ID   
				@CUSTOMER_ID,--@CUSTOMER_ID     int,                            
				@APP_ID,--@APP_ID     int,                            
				@APP_VERSION_ID,--@APP_VERSION_ID     smallint,   
				268,--@ENDORSEMENT_ID smallint,                         
				@DWELLING_ID--@DWELLING_ID smallint,*/
			END
		
	      	END		
		--Indiana    
		IF ( @STATEID = 14 )      
		BEGIN      
			IF ( @PERSONAL_LIAB_LIMIT IS NOT NULL AND @MED_PAY_EACH_PERSON IS NOT NULL )
			BEGIN	
				-----NEW for E nad F  
				--260 14 6 B O LP-124 Owners, Landlords & Tenants Liability Insurance LP-124 Owners  
				EXEC Proc_Insert_HOME_ENDORSEMENT_BY_ID @CUSTOMER_ID, @APP_ID, @APP_VERSION_ID,  260, @DWELLING_ID   
				
				--261 14 6 B O LP-417 Calendar Date or Time Failure Exclusion  
				EXEC Proc_Insert_HOME_ENDORSEMENT_BY_ID @CUSTOMER_ID, @APP_ID, @APP_VERSION_ID,  261, @DWELLING_ID   
				
				--255 14 6 B O DP-382 Lead Liability Exclusion  
				--EXEC Proc_Insert_HOME_ENDORSEMENT_BY_ID @CUSTOMER_ID, @APP_ID, @APP_VERSION_ID,  255, @DWELLING_ID   
				------End new    
			END
			ELSE
			BEGIN
				EXEC Proc_Delete_HOME_ENDORSEMENT_BY_ID   
				@CUSTOMER_ID,--@CUSTOMER_ID     int,                            
				@APP_ID,--@APP_ID     int,                            
				@APP_VERSION_ID,--@APP_VERSION_ID     smallint,   
				260,--@ENDORSEMENT_ID smallint,                         
				@DWELLING_ID--@DWELLING_ID smallint,                            
				---
				EXEC Proc_Delete_HOME_ENDORSEMENT_BY_ID   
				@CUSTOMER_ID,--@CUSTOMER_ID     int,                            
				@APP_ID,--@APP_ID     int,                            
				@APP_VERSION_ID,--@APP_VERSION_ID     smallint,   
				261,--@ENDORSEMENT_ID smallint,                         
				@DWELLING_ID--@DWELLING_ID smallint,                            
				---
				/*EXEC Proc_Delete_HOME_ENDORSEMENT_BY_ID   
				@CUSTOMER_ID,--@CUSTOMER_ID     int,                            
				@APP_ID,--@APP_ID     int,                            
				@APP_VERSION_ID,--@APP_VERSION_ID     smallint,   
				255,--@ENDORSEMENT_ID smallint,                         
				@DWELLING_ID--@DWELLING_ID smallint,          */
			END    
		-----------End of rental   
		END                             
	        
	END
END
    
  





GO

