IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_SUSEP_PREMIUM_RELATED_POLICY_TRAN]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_SUSEP_PREMIUM_RELATED_POLICY_TRAN]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<ATUL KUMAR SINGH>
-- Create date: <2011-03-24>
-- Description:	<Premium related to policy transactions which are received through banks in the reference month.>
-- ===============================================

--  *********************  MODIFICATION HISTORY   *********************
--	MODIFIED BY :
--	MODIFIED DATE :
--	DESCRIPTION :
--   ************************************************************
--  *********************  EXECUTION PATH   *********************
--	exec [PROC_SUSEP_PREMIUM_RELATED_POLICY_TRAN] '2011-02-24 17:27:56.360'
--
--
--   ************************************************************
--select * from MNT_LOB_MASTER

-- =============================================
CREATE PROCEDURE [dbo].[PROC_SUSEP_PREMIUM_RELATED_POLICY_TRAN]
	@DATETIME  DATETIME,
	@POLICY_NUMBER VARCHAR(21)=NULL
	
	
AS
BEGIN
	SET NOCOUNT ON;
	--------------------------- SEPRATE DATE AND TIME
	DECLARE @MONTH VARCHAR(2)
	DECLARE @MONTH1 VARCHAR(2)
	DECLARE @YEAR VARCHAR(4)
	SET @MONTH= DATEPART(MM,@DATETIME)
	SET @MONTH1= RIGHT('00'+convert(varchar,DATEPART(MM,@DATETIME)),2)

	SET @YEAR=(SELECT DATEPART(YY,@DATETIME))
	
	
	--------------------------- CREATE 	TEMPORARY TABLE FOR HOLDING VALUES
CREATE TABLE #TEMPTABLE
(
		SEQUENCE_NO INT identity(1,1)
		,TYPE_OF_TRANSACTION  INT
		,SUSEP_LOB VARCHAR(4)
		,POLICY_NUMBER VARCHAR(21)
		,ENDORSEMENT_NUMBER VARCHAR(21)
		,PROPOSAL_NUMBER VARCHAR(50)
		,PROPOSAL_DATE DATETIME
		,INSTALLMENT_NUMBER VARCHAR(2)
		,RECIEPT_DATE_INSTALLMENT  DATETIME
		,DUE_DATE_INSTALLMENT  DATETIME
		,BANK_NUMBER VARCHAR(50)
		,BANK_CNPJ VARCHAR(15)
		,BOLETO_NUMBER VARCHAR(50)
		,DOCUMNET_NUMBER VARCHAR(30)
		,BRANCH_ASSIGONOR_CODE VARCHAR(30)
		,OUR_NUMBER VARCHAR(30)
		,DOCUMNET_AMOUNT DECIMAL(16,2)
		,DISCOUNT_AMOUNT DECIMAL(16,2)
		,DELAY_AMOUNT DECIMAL(16,2)
		,AMOUNT_CHARGED DECIMAL(16,2)
)

INSERT INTO #TEMPTABLE
	(
		
		
		TYPE_OF_TRANSACTION 
		,SUSEP_LOB 
		,POLICY_NUMBER
		,ENDORSEMENT_NUMBER 
		,PROPOSAL_NUMBER
		,PROPOSAL_DATE 
		,INSTALLMENT_NUMBER 
		,RECIEPT_DATE_INSTALLMENT 
		,DUE_DATE_INSTALLMENT 
		,BANK_NUMBER 
		,BANK_CNPJ 
		,BOLETO_NUMBER 
		,DOCUMNET_NUMBER 
		,BRANCH_ASSIGONOR_CODE
		,OUR_NUMBER 
		,DOCUMNET_AMOUNT 
		,DISCOUNT_AMOUNT 
		,DELAY_AMOUNT 
		,AMOUNT_CHARGED
	)

	SELECT
	
	'' AS [TYPE OF TRANSACTION]
	,MLM.SUSEP_LOB_CODE AS [SUSEP LOB]
	,D.POLICY_NUMBER AS [POLICY_NUMBER]
	,ISNULL(E.ENDORSEMENT_NO,0)
,CASE WHEN  ISNULL(E.ENDORSEMENT_NO,0)=0
	THEN D.APP_NUMBER
  ELSE CONVERT(VARCHAR,ISNULL(E.ENDORSEMENT_NO,0))
 END
 ,CASE WHEN  ISNULL(E.ENDORSEMENT_NO,0)=0
 THEN D.POLICY_EFFECTIVE_DATE
  ELSE
	D.POL_VER_EFFECTIVE_DATE
END
	,RIGHT('00'+CONVERT(VARCHAR,C.INSTALLMENT_NO),2)  AS [INSTALLMENT NO]
	,B.PAYMENT_DATE
	,F.INSTALLMENT_EFFECTIVE_DATE
	,convert(varchar,G.BANK_NUMBER)
	,'' AS [BANK CNPJ]
	,B.BOLETO_NO
	,'' AS [DOCUMENT NUMBER]
	,'000000000000000034290001500791' AS [BRANCH ASSIGONOR CODE]
	,C.OUR_NUMBER
	,A.TOTAL_DEPOSIT_AMOUNT
	,0.00 AS [DISCOUNT AMOUNT]
	,0.00 AS [DELAY FINE AMOUNT]
	,0.00 AS [AMOUNT CHARGED]
from ACT_CURRENT_DEPOSITS (NOLOCK) A
JOIN
ACT_CURRENT_DEPOSIT_LINE_ITEMS (NOLOCK) B
ON A.DEPOSIT_ID=B.DEPOSIT_ID
JOIN 
POL_INSTALLMENT_BOLETO (NOLOCK) C
ON B.BOLETO_NO=C.BOLETO_ID
JOIN
POL_CUSTOMER_POLICY_LIST (NOLOCK) D
ON C.CUSTOMER_ID=D.CUSTOMER_ID and C.POLICY_ID=D.POLICY_ID AND C.POLICY_VERSION_ID=D.POLICY_VERSION_ID
LEFT OUTER JOIN
POL_POLICY_ENDORSEMENTS (NOLOCK) E
On C.CUSTOMER_ID=E.CUSTOMER_ID and C.POLICY_ID=E.POLICY_ID AND C.POLICY_VERSION_ID=E.POLICY_VERSION_ID
JOIN ACT_POLICY_INSTALLMENT_DETAILS (NOLOCK) F
ON  C.CUSTOMER_ID=f.CUSTOMER_ID and C.POLICY_ID=f.POLICY_ID AND C.POLICY_VERSION_ID=f.POLICY_VERSION_ID
LEFT OUTER JOIN
ACT_BANK_INFORMATION (NOLOCK) G
On A.GL_ID=G.GL_ID
LEFT OUTER JOIN
MNT_LOB_MASTER (NOLOCK) AS MLM
ON D.POLICY_LOB=MLM.LOB_ID

WHERE (convert(varchar,(DATEPART(MM,A.DEPOSIT_TRAN_DATE)))=@MONTH AND convert(varchar,DATEPART(YY,A.DEPOSIT_TRAN_DATE))=@YEAR)
AND (@POLICY_NUMBER IS NULL  or B.POLICY_NUMBER=@POLICY_NUMBER )



SELECT 
		RIGHT('0000000000' +CONVERT(VARCHAR,SEQUENCE_NO),10) AS [SEQUENCE NO]
		,'05045' AS [COMPANY SUSEP CODE]
		,@YEAR+@MONTH1 AS [REFRENCE MONTH]
		,TYPE_OF_TRANSACTION 
		,SUSEP_LOB AS [SUSEP LOB]
		,POLICY_NUMBER AS [POLICY NUMBER]
		,RIGHT('000000000000000000000' +CONVERT(VARCHAR,ENDORSEMENT_NUMBER),21) AS [ENDORSEMENT NUMBER]
		,PROPOSAL_NUMBER
		,PROPOSAL_DATE 
		,INSTALLMENT_NUMBER 
		,RECIEPT_DATE_INSTALLMENT 
		,DUE_DATE_INSTALLMENT 
		,BANK_NUMBER 
		,BANK_CNPJ 
		,BOLETO_NUMBER 
		,DOCUMNET_NUMBER 
		,BRANCH_ASSIGONOR_CODE
		,OUR_NUMBER 
		,DOCUMNET_AMOUNT 
		,DISCOUNT_AMOUNT 
		,DELAY_AMOUNT 
		,AMOUNT_CHARGED

 FROM #TEMPTABLE
DROP TABLE #TEMPTABLE
END


GO

