IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_InsertPOL_POLICY_ENDORSEMENTS_DETAILS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_InsertPOL_POLICY_ENDORSEMENTS_DETAILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------
Proc Name       : dbo.Proc_InsertPOL_POLICY_ENDORSEMENTS_DETAILS
Created by      : Vijay Joshi
Date            : 12/22/2005
Purpose    	  	: To insert record into POL_POLICY_ENDORSEMENTS_DETAILS
Revison History :
Used In 	      : Wolverine
------------------------------------------------------------
Date     Review By          Comments
-----------------------------------------------------------*/
CREATE PROC dbo.Proc_InsertPOL_POLICY_ENDORSEMENTS_DETAILS
(
	@POLICY_ID     			INT,
	@POLICY_VERSION_ID     	INT,
	@CUSTOMER_ID     		INT,
	@ENDORSEMENT_NO     	INT,
	@ENDORSEMENT_DETAIL_ID 	INT		OUTPUT,
	@ENDORSEMENT_DATE     	DATETIME,
	@ENDORSEMENT_TYPE     	SMALLINT,
	@ENDORSEMENT_DESC     	VARCHAR(30),
	@REMARKS     			VARCHAR(150),
	@CREATED_BY     		SMALLINT,
	@CREATED_DATETIME     	DATETIME,
	@TRANS_ID     			VARCHAR(100)
)
AS
BEGIN

	SELECT 
		@ENDORSEMENT_DETAIL_ID = ISNULL(MAX(ENDORSEMENT_DETAIL_ID),0)+1 
	FROM 
		POL_POLICY_ENDORSEMENTS_DETAILS
	WHERE POLICY_ID 			= @POLICY_ID
		AND POLICY_VERSION_ID 	= @POLICY_VERSION_ID
		AND CUSTOMER_ID 		= @CUSTOMER_ID
		AND ENDORSEMENT_NO 		= @ENDORSEMENT_NO
	
	INSERT INTO POL_POLICY_ENDORSEMENTS_DETAILS
	(
		POLICY_ID, POLICY_VERSION_ID, CUSTOMER_ID, ENDORSEMENT_NO,
		ENDORSEMENT_DETAIL_ID, ENDORSEMENT_DATE, ENDORSEMENT_TYPE,
		ENDORSEMENT_DESC, REMARKS, 
		IS_ACTIVE, CREATED_BY, CREATED_DATETIME, MODIFIED_BY, LAST_UPDATED_DATETIME, TRANS_ID
	)
	VALUES
	(
		@POLICY_ID, @POLICY_VERSION_ID, @CUSTOMER_ID, @ENDORSEMENT_NO,
		@ENDORSEMENT_DETAIL_ID, @ENDORSEMENT_DATE, @ENDORSEMENT_TYPE,
		@ENDORSEMENT_DESC, @REMARKS,
		'Y', @CREATED_BY, @CREATED_DATETIME, NULL, NULL, @TRANS_ID
	)
END





GO

