IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_GET_PENDING_INVOICES]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_GET_PENDING_INVOICES]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- DROP PROC dbo.PROC_GET_PENDING_INVOICES  
CREATE PROC dbo.PROC_GET_PENDING_INVOICES  
(  
@VENDOR_ID INT  ,
@CHECK_ID INT  
)  
AS  
BEGIN  
  
  
SELECT  VOI.UPDATED_FROM as UPDATED_FROM,
	ISNULL(VI.INVOICE_ID,0) AS INVOICE_ID,VOI.VENDOR_ID AS VENDOR_ID,  
	VOI.IDEN_ROW_ID AS OPEN_ITEM_ID,  
	VOI.UPDATED_FROM,VOI.TOTAL_DUE,  	
	--Case Added and TOTAL_PAID Commented For Itrack Issue #6364.  
	CASE ISNULL(VOI.TOTAL_PAID,0.00) WHEN 0.00 THEN NULL ELSE VOI.TOTAL_PAID END AS TOTAL_PAID   ,
	--VOI.TOTAL_PAID,
    VI.INVOICE_NUM,
    VI.REF_PO_NUM AS REF_NUM,  
	ISNULL(VOI.TOTAL_DUE,0) - ISNULL(VOI.TOTAL_PAID,0) AS BALANCE,DST.IDEN_ROW_ID AS IDEN_ROW_ID,
	DST.AMOUNT_TO_APPLY AS AMOUNT_TO_APPLY,
	ISNULL(DST.IDEN_ROW_ID,0) As SELECTED
FROM ACT_VENDOR_OPEN_ITEMS VOI  
LEFT JOIN ACT_VENDOR_INVOICES VI ON VI.INVOICE_ID = VOI.SOURCE_ROW_ID  
	AND VI.VENDOR_ID = VOI.VENDOR_ID  
LEFT JOIN ACT_VENDOR_CHECK_DISTRIBUTION DST 
ON DST.OPEN_ITEM_ROW_ID = VOI.IDEN_ROW_ID	
	AND DST.CHECK_ID = @CHECK_ID
	AND ISNULL(DST.IS_CHECK_CREATED,'N') <> 'Y'

WHERE VOI.VENDOR_ID = @VENDOR_ID AND UPDATED_FROM <> 'C'  
AND ISNULL(VOI.TOTAL_DUE,0) <> ISNULL(VOI.TOTAL_PAID,0)  
  
END  




GO

