IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetKeysForRental_APP]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetKeysForRental_APP]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*                                    
----------------------------------------------------------                                        
Proc Name       : dbo.Proc_GetKeysForRental_APP                                    
Created by      : Shafi                                      
Date            : 05 July 2006      
Purpose         :         
Revison History :    
modified By  : Pravesh K Chandel                                      
------------------------------------------------------------                                        
Date     Review By          Comments                                        
------   ------------       -------------------------                                       
*/         

-- drop proc dbo.Proc_GetKeysForRental_APP 1350,83,1,1    
create proc dbo.Proc_GetKeysForRental_APP        
(        
 @CUSTOMER_ID INT,        
 @APP_ID INT,        
 @APP_VERSION_ID INT,        
 @BOAT_ID INT        
)        
        
AS        
BEGIN        
SELECT         
APP_INFO.APP_EFFECTIVE_DATE AS APP_EFFECTIVE_DATE,        
APP_INFO.APP_LOB AS LOB_ID,        
APP_INFO.STATE_ID as STATE_ID,        
YEAR(CONVERT(VARCHAR(20),APP_INFO.APP_EFFECTIVE_DATE,109)) AS APP_YEAR,        
ISNULL(DWL_INFO.REPLACEMENT_COST,0) AS REP_COST,        
ISNULL(DWL_INFO.MARKET_VALUE,0) AS MKT_VALUE,        
APP_INFO.POLICY_TYPE AS PKG_TYPE,        
ISNULL(RAT_INFO.IS_UNDER_CONSTRUCTION,0) AS UND_CONS ,    
ISNULL(RAT_INFO.NUM_LOC_ALARMS_APPLIES,0) AS NUM_LOC_ALARMS ,    
    
ISNULL(COV_INFO2.LIMIT_1,0) AS OLD_COV_A,    
(    
 SELECT ISNULL(SUM(ADDITIONAL_AMOUNT_OF_INSURANCE_DESIRED),0)    
 FROM APP_OTHER_STRUCTURE_DWELLING STR4 WITH(NOLOCK)    
 WHERE     
     STR4.PREMISES_LOCATION = 11841 -- On Primises    
 AND STR4.CUSTOMER_ID = @CUSTOMER_ID    
 AND STR4.APP_ID = @APP_ID    
 AND STR4.APP_VERSION_ID=@APP_VERSION_ID    
 AND ISNULL(STR4.SATELLITE_EQUIPMENT,'10964')='10963'    
 AND STR4.DWELLING_ID = @BOAT_ID    
    and STR4.IS_ACTIVE='Y'    
    
) AS INS_VAL_OFF ,    
--added by pravesh on 31 july   
(            
 SELECT COUNT(COVERAGE_BASIS)            
 FROM APP_OTHER_STRUCTURE_DWELLING STR1 WITH(NOLOCK)            
 WHERE  STR1.COVERAGE_BASIS IN (11847, 11846)  --REPLACEMENT AND REPAIR -ITRACK ISSUE #3495
 AND STR1.CUSTOMER_ID = @CUSTOMER_ID            
 AND STR1.APP_ID = @APP_ID            
 AND STR1.APP_VERSION_ID=@APP_VERSION_ID            
 AND STR1.DWELLING_ID = @BOAT_ID            
 AND ISNULL(STR1.IS_ACTIVE,'') = 'Y'  
 AND ISNULL(STR1.SATELLITE_EQUIPMENT,'10964')='10964' 
 and  ISNULL(ADDITIONAL_AMOUNT_OF_INSURANCE_DESIRED,0) + ISNULL(INSURING_VALUE ,0) <>0        
) AS COV_BASE_REPL,  
--added by praveen
(            
 SELECT COUNT(COVERAGE_BASIS)            
 FROM APP_OTHER_STRUCTURE_DWELLING STR1 WITH(NOLOCK)            
 WHERE  STR1.COVERAGE_BASIS IN (114213)  --EXCLUDED -ITRACK ISSUE #3657
 AND STR1.CUSTOMER_ID = @CUSTOMER_ID            
 AND STR1.APP_ID = @APP_ID            
 AND STR1.APP_VERSION_ID=@APP_VERSION_ID            
 AND STR1.DWELLING_ID = @BOAT_ID            
 AND ISNULL(STR1.IS_ACTIVE,'') = 'Y'          
) AS COV_BASE_EXCLUDED,
(    
 SELECT 
-- ISNULL(SUM(ISNULL(ADDITIONAL_AMOUNT_OF_INSURANCE_DESIRED,0)),0) -- Commented by Asfa (30-jan-2008) - iTrack issue #3495, part 4
 ISNULL(SUM(ISNULL(ADDITIONAL_AMOUNT_OF_INSURANCE_DESIRED,INSURING_VALUE)),0)
 FROM APP_OTHER_STRUCTURE_DWELLING STR4 WITH(NOLOCK)
 WHERE     
     STR4.PREMISES_LOCATION = 11841 -- On Primises    
 AND STR4.CUSTOMER_ID = @CUSTOMER_ID    
 AND STR4.APP_ID = @APP_ID    
 AND STR4.APP_VERSION_ID=@APP_VERSION_ID    
 AND ISNULL(STR4.SATELLITE_EQUIPMENT,'10964')='10964'    
 AND STR4.DWELLING_ID = @BOAT_ID    
 and STR4.IS_ACTIVE='Y'    
    
) AS INS_VAL_SET_NO ,    
--end here  
(    
 SELECT COUNT(LOC_COUNTY) FROM APP_LOCATIONS LOC WITH(NOLOCK)    
 WHERE LOC.LOC_COUNTY IN     
 (    
  'CLAY','CRAWFORD','DAVIESS','DUBOIS','FOUNTAIN','GIBSON','GREENE','KNOX','LAWRENCE','MARTIN','MONROE',    
  'MONTGOMERY','ORANGE','OWEN','PARKE','PERRY','PIKE','POSEY','PUTNAM','SPENCER','SULLIVAN','VANDERBURGH',    
  'VERMILLION','VIGO','WARREN','WARRICK'    
 )    
 AND LOC.CUSTOMER_ID = @CUSTOMER_ID    
 AND LOC.APP_ID = @APP_ID    
 AND LOC.APP_VERSION_ID=@APP_VERSION_ID    
 AND LOC.LOCATION_ID = DWL_INFO.LOCATION_ID     
     
)AS VALID_COUNTY,    
    
(    
    
SELECT COUNT(CUSTOMER_ID) FROM APP_DWELLING_SECTION_COVERAGES COV_INFO5 WITH(NOLOCK)    
WHERE     
 COV_INFO5.CUSTOMER_ID = @CUSTOMER_ID    
AND COV_INFO5.APP_ID  = @APP_ID    
AND COV_INFO5.APP_VERSION_ID  = @APP_VERSION_ID    
AND COV_INFO5.DWELLING_ID = @BOAT_ID    
AND COV_INFO5.COVERAGE_CODE_ID  in (777,797) -- Coverage CSL    
AND COV_INFO5.LIMIT_ID  IN(1329,1331)    
) AS LP124 ,

(
SELECT case ISNULL(REPLACEMENTCOST_COVA,'0')
   
 WHEN 10964  
 THEN '0'  
 WHEN 10963  
 THEN '1'
 ELSE
      '0'  
end  
FROM APP_DWELLINGS_INFO  WITH(NOLOCK) 
WHERE 
APP_DWELLINGS_INFO.CUSTOMER_ID=@CUSTOMER_ID
AND APP_DWELLINGS_INFO.APP_ID=@APP_ID
AND APP_DWELLINGS_INFO.APP_VERSION_ID = @APP_VERSION_ID
AND APP_DWELLINGS_INFO.DWELLING_ID = @BOAT_ID

) AS SET_TO_EQUAL ,
dbo.Fun_GetMAX_MINValueForHome (APP_INFO.CUSTOMER_ID,APP_INFO.APP_ID,APP_INFO.APP_VERSION_ID,'APP') as VERIFY_RULE,
(    
SELECT COUNT(CUSTOMER_ID) FROM APP_DWELLING_SECTION_COVERAGES COV_INFO5 WITH(NOLOCK)    
WHERE     
 COV_INFO5.CUSTOMER_ID = @CUSTOMER_ID    
AND COV_INFO5.APP_ID  = @APP_ID    
AND COV_INFO5.APP_VERSION_ID  = @APP_VERSION_ID    
AND COV_INFO5.DWELLING_ID = @BOAT_ID    
AND COV_INFO5.COVERAGE_CODE_ID  in (978) -- Coverage DP392    
) AS IS_DP392 
    
FROM APP_DWELLINGS_INFO DWL_INFO WITH(NOLOCK)        
        
INNER JOIN APP_LIST APP_INFO WITH(NOLOCK)        
 ON APP_INFO.CUSTOMER_ID = DWL_INFO.CUSTOMER_ID        
 AND APP_INFO.APP_ID  = DWL_INFO.APP_ID        
 AND APP_INFO.APP_VERSION_ID  = DWL_INFO.APP_VERSION_ID        
        
LEFT OUTER JOIN APP_HOME_RATING_INFO RAT_INFO  WITH(NOLOCK)        
 ON RAT_INFO.CUSTOMER_ID = DWL_INFO.CUSTOMER_ID        
AND RAT_INFO.APP_ID  = DWL_INFO.APP_ID        
AND RAT_INFO.APP_VERSION_ID  = DWL_INFO.APP_VERSION_ID        
AND RAT_INFO.DWELLING_ID = @BOAT_ID      
    
LEFT OUTER JOIN APP_DWELLING_SECTION_COVERAGES COV_INFO2 WITH(NOLOCK)    
 ON COV_INFO2.CUSTOMER_ID = DWL_INFO.CUSTOMER_ID    
AND COV_INFO2.APP_ID  = DWL_INFO.APP_ID    
AND COV_INFO2.APP_VERSION_ID  = DWL_INFO.APP_VERSION_ID    
AND COV_INFO2.DWELLING_ID = @BOAT_ID    
AND COV_INFO2.COVERAGE_CODE_ID  in (773,793) -- Coverage A    
    
    
LEFT OUTER JOIN APP_LOCATIONS LOC_INFO WITH(NOLOCK)    
 ON LOC_INFO.CUSTOMER_ID = DWL_INFO.CUSTOMER_ID    
AND LOC_INFO.APP_ID  = DWL_INFO.APP_ID    
AND LOC_INFO.APP_VERSION_ID  = DWL_INFO.APP_VERSION_ID    
AND LOC_INFO.LOCATION_ID = DWL_INFO.LOCATION_ID      
    
        
WHERE        
    DWL_INFO.CUSTOMER_ID = @CUSTOMER_ID        
AND DWL_INFO.APP_ID=@APP_ID        
AND DWL_INFO.APP_VERSION_ID  = @APP_VERSION_ID        
AND DWl_INFO.DWELLING_ID = @BOAT_ID        


 SELECT  SATELLITE_EQUIPMENT,PREMISES_LOCATION,ADDITIONAL_AMOUNT_OF_INSURANCE_DESIRED,   * 

 FROM APP_OTHER_STRUCTURE_DWELLING STR4 WITH(NOLOCK)
 WHERE     
     STR4.PREMISES_LOCATION = 11841 -- On Primises    
 AND STR4.CUSTOMER_ID = @CUSTOMER_ID    
 AND STR4.APP_ID = @APP_ID    
 AND STR4.APP_VERSION_ID=@APP_VERSION_ID    
 AND ISNULL(STR4.SATELLITE_EQUIPMENT,'10964')='10964'    
 AND STR4.DWELLING_ID = @BOAT_ID    
 and STR4.IS_ACTIVE='Y'    



END        
        




--select * from mnt_coverage where lob_id=6 and cov_code='dp900'






GO

