IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetGroupName]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetGroupName]
GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO



/*----------------------------------------------------------
Proc Name       : dbo.Proc_GetGroupName
Created by      : Nidhi
Date            : 01/06/2005
Purpose         : To get group name
Revison History :
Used In         :   Wolverine
------------------------------------------------------------
Date     Review By          Comments
------   ------------       -------------------------*/
CREATE PROC Dbo.Proc_GetGroupName
(
@SCREENID 	int,
@CARRIERID int,
@TABID int,
@GROUPID int
)
AS
BEGIN

SELECT GROUPNAME FROM QUESTIONGROUPMASTER WHERE  GROUPID=@GROUPID and TABID = @TABID and  SCREENID = @SCREENID

END


GO

