IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_AddPoliciesToEFTSpool]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_AddPoliciesToEFTSpool]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN
--drop proc dbo.Proc_AddPoliciesToEFTSpool
--go 
/*----------------------------------------------------------  
Proc Name        : dbo.Proc_AddPoliciesToEFTSpool
Created by       : Ravinda Gupta 
Date             : 3-20-2007
Purpose      	 : 
Revison History  :  
Used In   :Wolverine  

Reviewed By	: Anurag Verma
Reviewed On	: 12-07-2007

Modified By	: Ravindra
Modofied On	: 11-01-2007
Purpose		: To Change Due Date logic now for Sweep date of EFT SWWEP_DATE column of ACT_CUSTOMER_OPEN_ITEMS
			need to be considered.

------------------------------------------------------------  
Date     Review By          Comments  
------------------------------------------------------------*/  
-- drop proc dbo.Proc_AddPoliciesToEFTSpool
CREATE PROC [dbo].[Proc_AddPoliciesToEFTSpool]
AS
BEGIN 
DECLARE @EFT Int,
		@EOD_DATE DateTime ,
		@NACHA_DEBIT_ENTRY  Int,
		@TEMP_ERROR_CODE INT              

SET 	@EOD_DATE  = GETDATE()
SET 	@NACHA_DEBIT_ENTRY = 11
SET		@EFT   = 11973

CREATE TABLE #TMP_POLICIES
(
	IDEN_COL		Int identity(1,1) not null,
	CUSTOMER_ID		Int,
	POLICY_ID		Int,
	CURRENT_TERM	Int,
	POLICY_NUMBER	Varchar(20)
)

CREATE TABLE #POLICIES_TO_SWEEP
(
	IDEN_COL		Int identity(1,1) not null,
	CUSTOMER_ID		Int,
	POLICY_ID		Int,
	CURRENT_TERM	Int,
	POLICY_NUMBER	Varchar(20)
)

-- Fetching All Installments which are scheduled for  EFT Today and the tentative day for EFT is today


--IF policy is not cacelled check under payment condition
INSERT INTO #TMP_POLICIES(CUSTOMER_ID, POLICY_ID, CURRENT_TERM , POLICY_NUMBER )

SELECT DISTINCT CUSTOMER_ID,POLICY_ID,CURRENT_TERM , POLICY_NUMBER
FROM 
(
	SELECT OI.IDEN_ROW_ID AS OPEN_ITEM_ID,OI.TOTAL_DUE ,OI.TOTAL_PAID,INSD.CUSTOMER_ID , 
	INSD.POLICY_ID, INSD.CURRENT_TERM,INSD.POLICY_VERSION_ID,
	CPL.POLICY_NUMBER AS POLICY_NUMBER,
	OI.SWEEP_DATE AS DUE_DATE,
	CPL.INSTALL_PLAN_ID,
	OI.INSTALLMENT_ROW_ID AS INSTALLMENT_ROW_ID
	FROM ACT_CUSTOMER_OPEN_ITEMS OI WITH(NOLOCK)
	INNER JOIN POL_CUSTOMER_POLICY_LIST CPL
	ON  OI.CUSTOMER_ID  = CPL.CUSTOMER_ID 
	AND OI.POLICY_ID   = CPL.POLICY_ID 
	AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID
	INNER JOIN ACT_POLICY_INSTALLMENT_DETAILS INSD WITH(NOLOCK)
	ON INSD.ROW_ID = OI.INSTALLMENT_ROW_ID
	INNER JOIN ACT_INSTALL_PLAN_DETAIL INS WITH(NOLOCK)  
	ON CPL.INSTALL_PLAN_ID = INS.IDEN_PLAN_ID
	WHERE ISNULL(INSD.PAYMENT_MODE,0) = @EFT 
	AND ISNULL(OI.SPOOLED_FOR_EFT,'N') <> 'Y'
	AND ISNULL(OI.TOTAL_DUE,0) <> ISNULL(OI.TOTAL_PAID,0)
	AND OI.ITEM_TRAN_CODE_TYPE = 'PREM'
	
	AND dbo.IsCancelledPolicy (CPL.CUSTOMER_ID  , CPL.POLICY_ID ) <> 1 

	--Ravindra(1-12-2010): As per Enhancement 6906, System will only sweep payment against installments which are billed
	AND ISNULL(OI.NOTICE_SEND,'N') = 'Y' 

	AND (
		SELECT  ((  SUM(ISNULL(OI1.TOTAL_DUE,0)) - SUM(ISNULL(OI1.TOTAL_PAID,0)) )
		/
		(SUM(ISNULL(OI1.TOTAL_DUE,0) - ISNULL(OI1.APPLIED_AT_CANCELLATION,0) )))	
		* 100
		FROM ACT_CUSTOMER_OPEN_ITEMS OI1 WITH(NOLOCK)
		LEFT  JOIN ACT_POLICY_INSTALLMENT_DETAILS INSD1 WITH(NOLOCK) 
		ON OI1.INSTALLMENT_ROW_ID  = INSD1.ROW_ID
		WHERE 	OI1.CUSTOMER_ID = CPL.CUSTOMER_ID 
		AND OI1.POLICY_ID = CPL.POLICY_ID
		AND INSD1.CURRENT_TERM  = CPL.CURRENT_TERM
		AND INSD1.INSTALLMENT_NO = INSD.INSTALLMENT_NO
		AND OI1.ITEM_TRAN_CODE_TYPE = 'PREM'
	) > INS.AMTUNDER_PAYMENT
) TEMP
WHERE  CAST(CONVERT(VARCHAR,TEMP.DUE_DATE,101) AS DATETIME)   
 	<= CAST(CONVERT(VARCHAR, @EOD_DATE ,101) AS DATETIME) 


-- If cancelled policy do sweep regardless on underpayment allowed

INSERT INTO #TMP_POLICIES(CUSTOMER_ID, POLICY_ID, CURRENT_TERM , POLICY_NUMBER )
SELECT DISTINCT CUSTOMER_ID,POLICY_ID,CURRENT_TERM , POLICY_NUMBER
FROM 
(
	SELECT OI.IDEN_ROW_ID AS OPEN_ITEM_ID,OI.TOTAL_DUE ,OI.TOTAL_PAID,INSD.CUSTOMER_ID , 
	INSD.POLICY_ID, INSD.CURRENT_TERM,INSD.POLICY_VERSION_ID,
	CPL.POLICY_NUMBER AS POLICY_NUMBER,
	OI.SWEEP_DATE AS DUE_DATE,
	CPL.INSTALL_PLAN_ID,
	OI.INSTALLMENT_ROW_ID AS INSTALLMENT_ROW_ID
	FROM ACT_CUSTOMER_OPEN_ITEMS OI WITH(NOLOCK)
	INNER JOIN POL_CUSTOMER_POLICY_LIST CPL
	ON  OI.CUSTOMER_ID  = CPL.CUSTOMER_ID 
	AND OI.POLICY_ID   = CPL.POLICY_ID 
	AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID
	INNER JOIN ACT_POLICY_INSTALLMENT_DETAILS INSD WITH(NOLOCK)
	ON INSD.ROW_ID = OI.INSTALLMENT_ROW_ID
	INNER JOIN ACT_INSTALL_PLAN_DETAIL INS WITH(NOLOCK)  
	ON CPL.INSTALL_PLAN_ID = INS.IDEN_PLAN_ID
	WHERE ISNULL(INSD.PAYMENT_MODE,0) = @EFT 
	AND ISNULL(OI.SPOOLED_FOR_EFT,'N') <> 'Y'
	AND ISNULL(OI.TOTAL_DUE,0) <> ISNULL(OI.TOTAL_PAID,0)
	AND OI.ITEM_TRAN_CODE_TYPE = 'PREM'
	
	AND dbo.IsCancelledPolicy (CPL.CUSTOMER_ID  , CPL.POLICY_ID ) = 1 

	--Ravindra(1-12-2010): As per Enhancement 6906, System will only sweep payment against installments which are billed
	AND ISNULL(OI.NOTICE_SEND,'N') = 'Y' 

) TEMP
WHERE  CAST(CONVERT(VARCHAR,TEMP.DUE_DATE,101) AS DATETIME)   
 	<= CAST(CONVERT(VARCHAR, @EOD_DATE ,101) AS DATETIME) 


INSERT INTO #POLICIES_TO_SWEEP ( CUSTOMER_ID	,POLICY_ID	,POLICY_NUMBER, CURRENT_TERM)
SELECT CUSTOMER_ID	,POLICY_ID	,POLICY_NUMBER, MAX(CURRENT_TERM)
FROM #TMP_POLICIES 
GROUP BY CUSTOMER_ID	,POLICY_ID	,POLICY_NUMBER 


DECLARE @IDEN_COL			Int,
		@POLICY_NUMBER		VARCHAR(20),
		@CUSTOMER_ID		int , 
		@POLICY_ID			Int, 
		@CURRENT_TERM		Int,
		@SWEEP_AMOUNT		Decimal(18,2)

SET @IDEN_COL = 1

WHILE 1 = 1
BEGIN 
	IF NOT EXISTS(SELECT IDEN_COL FROM #POLICIES_TO_SWEEP WHERE IDEN_COL = @IDEN_COL )
	BEGIN 
		Break
	END
	SELECT  @CUSTOMER_ID	= CUSTOMER_ID,	
			@POLICY_ID		= POLICY_ID ,
			@CURRENT_TERM	= CURRENT_TERM ,
			@POLICY_NUMBER	= POLICY_NUMBER ,
			@SWEEP_AMOUNT	= 0
	FROM #POLICIES_TO_SWEEP WHERE IDEN_COL = @IDEN_COL 

 
	exec Proc_GetDueAmountForSweep @CUSTOMER_ID , @POLICY_ID , @CURRENT_TERM , @EOD_DATE , @SWEEP_AMOUNT Out
	
	IF( ISNULL(@SWEEP_AMOUNT ,0) > 0)
	BEGIN 
		exec Proc_EOD_AddREcordToEFTSpool @CUSTOMER_ID,'CUST',@POLICY_NUMBER,NULL,NULL,
					NULL,NULL,NULL,@SWEEP_AMOUNT,@NACHA_DEBIT_ENTRY , 'Y',1 , 104
	END


	SET @IDEN_COL = @IDEN_COL + 1
END

UPDATE ACT_CUSTOMER_OPEN_ITEMS SET SPOOLED_FOR_EFT = 'Y'
WHERE IDEN_ROW_ID IN 
(
	SELECT OI.IDEN_ROW_ID FROM #TMP_POLICIES T 
	INNER JOIN ACT_POLICY_INSTALLMENT_DETAILS INS  WITH(NOLOCK)
		ON INS.CUSTOMER_ID = T.CUSTOMER_ID 
		AND INS.POLICY_ID  = T.POLICY_ID 
		AND INS.CURRENT_TERM = T.CURRENT_TERM 
	INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OI  WITH(NOLOCK)
		ON OI.INSTALLMENT_ROW_ID  = INS.ROW_ID
	WHERE ISNULL(INS.PAYMENT_MODE,0) = @EFT 
	AND CAST(CONVERT(VARCHAR,OI.SWEEP_DATE,101) AS DATETIME)   
 		<= CAST(CONVERT(VARCHAR, @EOD_DATE ,101) AS DATETIME) 
	AND ISNULL(OI.SPOOLED_FOR_EFT,'N') <> 'Y'
)


DROP TABLE #TMP_POLICIES 
DROP TABLE #POLICIES_TO_SWEEP 

END


--go 
--
--exec Proc_AddPoliciesToEFTSpool
--
--select * from EOD_EFT_SPOOL ORDER BY IDEN_ROW_ID DESC
--rollback tran


GO

