IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[rpt_Acct_AgencyStatement]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[rpt_Acct_AgencyStatement]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE dbo.rpt_Acct_AgencyStatement
	@AGENCY_ID INTEGER,
	@MONTH INTEGER,
	@YEAR INTEGER

AS

BEGIN
	SELECT ISNULL(CUSTOMER_FIRST_NAME,'') AS CUSTOMER_FIRST_NAME, ISNULL(CUSTOMER_MIDDLE_NAME,'') AS CUSTOMER_MIDDLE_NAME, ISNULL(CUSTOMER_LAST_NAME,'') AS CUSTOMER_LAST_NAME,
		PCPL.POLICY_NUMBER, CONVERT(VARCHAR(20), AAS.SOURCE_EFF_DATE, 101) SOURCE_EFF_DATE, 
		AAS.GROSS_PREMIUM AS GROSS_PREMIUM, AAS.FEES AS MCCA_FEES,
		AAS.PREMIUM_AMOUNT PREMIUM, AAS.COMMISSION_RATE,
		AMOUNT_FOR_CALCULATION, PCPL.BILL_TYPE,
		AAS.COMMISSION_AMOUNT, AAS.DUE_AMOUNT, LOB.LOB_CODE AS LOB_CODE, TRAN_TYPE,
		AGNL.AGENCY_DISPLAY_NAME, AGNL.AGENCY_CODE, AGNL.AGENCY_ADD1, AGNL.AGENCY_ADD2, AGNL.AGENCY_CITY,
		(SELECT STATE_CODE FROM MNT_COUNTRY_STATE_LIST WHERE COUNTRY_ID = AGNL.AGENCY_COUNTRY AND STATE_ID = AGNL.AGENCY_STATE) AS AGENCY_STATE,
		AGNL.AGENCY_ZIP
	FROM ACT_AGENCY_STATEMENT AAS
	LEFT JOIN CLT_CUSTOMER_LIST CCL ON CCL.CUSTOMER_ID = AAS.CUSTOMER_ID
	LEFT JOIN POL_CUSTOMER_POLICY_LIST PCPL ON PCPL.POLICY_ID = AAS.POLICY_ID 
		AND PCPL.POLICY_VERSION_ID = AAS.POLICY_VERSION_ID 
		AND PCPL.CUSTOMER_ID = AAS.CUSTOMER_ID
	LEFT JOIN MNT_LOB_MASTER LOB ON LOB.LOB_ID = PCPL.POLICY_LOB
	LEFT JOIN MNT_AGENCY_LIST AGNL ON AGNL.AGENCY_ID = AAS.AGENCY_ID
	LEFT JOIN ACT_CUSTOMER_OPEN_ITEMS ACOI ON ACOI.IDEN_ROW_ID = AAS.CUSTOMER_OPEN_ITEM_ID
	LEFT JOIN ACT_AGENCY_OPEN_ITEMS AGOI ON AGOI.IDEN_ROW_ID = AAS.AGENCY_OPEN_ITEM_ID
	WHERE (AGOI.UPDATED_FROM = 'P' OR AGOI.UPDATED_FROM IS NULL) AND (ACOI.UPDATED_FROM = 'P' OR ACOI.UPDATED_FROM IS NULL)
	AND AAS.AGENCY_ID = @AGENCY_ID 
	AND AAS.MONTH_NUMBER = @MONTH 
	AND AAS.MONTH_YEAR = @YEAR
	ORDER BY PCPL.BILL_TYPE , AAS.ROW_ID


END



GO

