IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_UpdateREINSURANCE_COVERAGE_CATEGORY]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_UpdateREINSURANCE_COVERAGE_CATEGORY]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*  
CREATED BY 		: Swarup 
CREATED DATE		: August 09, 2007
Purpose			: To implement the Update on the MNT_REINSURANCE_COVERAGE_CATEGORY TABLE 
*/  
CREATE PROCEDURE [dbo].[Proc_UpdateREINSURANCE_COVERAGE_CATEGORY]
(  
	 @COVERAGE_CATEGORY_ID INT,  
	 @EFFECTIVE_DATE DATETIME,  
	 @LOB_ID SMALLINT,  
	 @CATEGORY NVARCHAR(50),  
	 @MODIFIED_BY INT,  
	 @LAST_UPDATED_DATETIME DATETIME  
   
  
)  
AS  
BEGIN  
  
UPDATE  MNT_REINSURANCE_COVERAGE_CATEGORY  
SET  
	 COVERAGE_CATEGORY_ID=@COVERAGE_CATEGORY_ID ,  
	 EFFECTIVE_DATE=@EFFECTIVE_DATE,  
	 LOB_ID=@LOB_ID,  
	 CATEGORY=@CATEGORY,  
	 MODIFIED_BY=@MODIFIED_BY,  
	 LAST_UPDATED_DATETIME=@LAST_UPDATED_DATETIME  
WHERE  
	COVERAGE_CATEGORY_ID=@COVERAGE_CATEGORY_ID  
  
END  


GO

