IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_FetchPayPalReference]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_FetchPayPalReference]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROC dbo.Proc_FetchPayPalReference
AS

CREATE TABLE #TEMP
(
	IDEN_ROW_ID INT IDENTITY(1,1) ,
	CUSTOMER_ID INT,
	POLICY_ID INT,
	POLICY_VERSION_ID INT,
	PAY_PAL_REF_ID VARCHAR(500),
	CREATED_DATETIME DATETIME,
	DAYS INT
)

CREATE TABLE #FINAL
(
	CUSTOMER_ID INT,
	POLICY_ID INT,
	POLICY_VERSION_ID INT,
	POLICY_NUMBER VARCHAR(20),
	PAY_PAL_REF_ID VARCHAR(500)	
)





INSERT INTO #TEMP

SELECT ACT.CUSTOMER_ID,ACT.POLICY_ID,ACT.POLICY_VERSION_ID,PAY_PAL_REF_ID,
ACT.CREATED_DATETIME,DATEDIFF(DD,ACT.CREATED_DATETIME,'12/1/2009') Days FROM ACT_POL_CREDIT_CARD_DETAILS ACT
INNER JOIN POL_CUSTOMER_POLICY_LIST POL
ON POL.CUSTOMER_ID = ACT.CUSTOMER_ID
AND POL.POLICY_ID = ACT.POLICY_ID
AND POL.POLICY_VERSION_ID = ACT.POLICY_VERSION_ID
WHERE ACT.CREATED_DATETIME IS NOT NULL
AND ACT.PAY_PAL_REF_ID IS NOT NULL
AND ACT.PAY_PAL_REF_ID <> ''
AND DATEDIFF(DD,ACT.CREATED_DATETIME,'12/1/2009') > 365

UNION

SELECT ACT.CUSTOMER_ID,ACT.POLICY_ID,ACT.POLICY_VERSION_ID,ACT.PAY_PAL_REF_ID,
POL.CREATED_DATETIME,DATEDIFF(DD,POL.CREATED_DATETIME,'12/1/2009') Days
FROM ACT_POL_CREDIT_CARD_DETAILS ACT
INNER JOIN POL_CUSTOMER_POLICY_LIST POL
ON POL.CUSTOMER_ID = ACT.CUSTOMER_ID
AND POL.POLICY_ID = ACT.POLICY_ID
AND POL.POLICY_VERSION_ID = ACT.POLICY_VERSION_ID
WHERE ACT.CREATED_DATETIME IS NULL
AND PAY_PAL_REF_ID IS NOT NULL
AND PAY_PAL_REF_ID <> ''
AND DATEDIFF(DD,POL.CREATED_DATETIME,'12/1/2009') > 365
ORDER BY ACT.CUSTOMER_ID DESC


DECLARE	@CUSTOMER_ID INT,
	@POLICY_ID INT,
	@POLICY_VERSION_ID INT

DECLARE @IDEN_ROW_ID INT
SET @IDEN_ROW_ID = 1

---SELECT IDEN_ROW_ID FROM #TEMP WHERE IDEN_ROW_ID =@IDEN_ROW_ID

WHILE (1=1)
BEGIN 
	IF NOT EXISTS(SELECT IDEN_ROW_ID FROM #TEMP WHERE IDEN_ROW_ID =@IDEN_ROW_ID)
	BEGIN	
		BREAK;		
	END

	SELECT	
		@CUSTOMER_ID =CUSTOMER_ID 
		,@POLICY_ID = POLICY_ID
		,@POLICY_VERSION_ID = POLICY_VERSION_ID
	FROM #TEMP WHERE IDEN_ROW_ID =@IDEN_ROW_ID
		
	IF EXISTS(SELECT * FROM EOD_CREDIT_CARD_SPOOL
	WHERE ENTITY_ID =@CUSTOMER_ID  AND POLICY_ID =@POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID)
	BEGIN
		INSERT INTO #FINAL 
		SELECT TOP 1 ENTITY_ID,POLICY_ID,POLICY_VERSION_ID,POLICY_NUMBER,PAY_PAL_REF_ID FROM EOD_CREDIT_CARD_SPOOL
		WHERE ENTITY_ID =@CUSTOMER_ID  AND POLICY_ID =@POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID
		ORDER BY PROCESSED_DATETIME DESC
	END
	
	

SET @IDEN_ROW_ID = @IDEN_ROW_ID+1

END

SELECT * FROM #FINAL

DROP TABLE #TEMP
DROP TABLE #FINAL

GO

