IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetXML_ACT_CHECK_INFORMATION]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetXML_ACT_CHECK_INFORMATION]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------    
Proc Name       : dbo.ACT_CHECK_INFORMATION    
Created by      : Ajit Singh Chahal    
Date            : 6/30/2005    
Purpose         :To insert records in check information.    
Revison History :    
Used In        : Wolverine    
------------------------------------------------------------    
Date      Review By          Comments    
8 Mar,2006 Vijay Joshi     Add customer in join condition while fetching policy number    
  
Proc_GetXML_ACT_CHECK_INFORMATION 390,2  
  
------   ------------       -------------------------*/    
-- DROP PROC dbo.Proc_GetXML_ACT_CHECK_INFORMATION    
CREATE PROC dbo.Proc_GetXML_ACT_CHECK_INFORMATION    
(    
 @CHECK_ID INT,    
 @ACCOUNT_ID int out    
)    
AS    
BEGIN    
DECLARE @CHK_TYPE INT  
DECLARE @CHK_TYPE_VEN INT  
SET @CHK_TYPE_VEN = 9938  
DECLARE @SQL VARCHAR(8000)  
  
 SELECT @ACCOUNT_ID=ACCOUNT_ID ,@CHK_TYPE = CHECK_TYPE FROM ACT_CHECK_INFORMATION WHERE CHECK_ID = @CHECK_ID    
  
 SELECT @SQL = '  
    SELECT    
    CHK.POLICY_VER_TRACKING_ID AS POLICY_VERSION_ID,    
    CHK.ACCOUNT_ID,CHK.PAYEE_ENTITY_NAME AS PAYEE_ENTITY_ID ,CHK.PAYEE_ENTITY_ID AS PAYEE_ENTITY_ID_HID,    
    CHK.CHECK_MEMO,CHK.CHECKSIGN_1,CHK.CHECKSIGN_2,    
    CHK.CHECK_NOTE,CHK.IS_DISPLAY_ON_STUB,CHK.TRAN_TYPE,    
    (SELECT CUSTOMER_FIRST_NAME+'' ''+CUSTOMER_LAST_NAME FROM CLT_CUSTOMER_LIST WHERE CUSTOMER_ID=CHK.CUSTOMER_ID) AS CUSTOMER_ID ,CHK.CUSTOMER_ID AS CUSTOMER_ID_HID,    
    (SELECT DISTINCT POLICY_NUMBER FROM POL_CUSTOMER_POLICY_LIST WHERE POLICY_ID=CHK.POLICY_ID  AND POLICY_VERSION_ID=CHK.POLICY_VER_TRACKING_ID AND CUSTOMER_ID = CHK.CUSTOMER_ID)AS POLICY_ID,    
    CHK.POLICY_ID AS POLICY_ID_HID, CHK.POLICY_VER_TRACKING_ID,CONVERT(VARCHAR,CHK.CREATED_DATETIME,101) AS CREATED_DATETIME,    
    CONVERT(VARCHAR,CHK.CHECK_DATE,101) AS CHECK_DATE,CHK.CHECK_TYPE,isnull(CHK.CHECK_NUMBER,'''') as CHECK_NUMBER,CHK.PAYEE_ENTITY_NAME,CHK.CHECK_AMOUNT,    
    CHK.CHECK_ID,CHK.PAYMENT_MODE'  
 -- If check type is Vendor then fetch check mailing address  
 IF(@CHK_TYPE = @CHK_TYPE_VEN)  
  BEGIN  
--   SET @SQL = @SQL + ' ,MVL.CHK_MAIL_ADD1 PAYEE_ADD1,MVL.CHK_MAIL_ADD2 PAYEE_ADD2,MVL.CHK_MAIL_CITY PAYEE_CITY,MVL.CHK_MAIL_STATE PAYEE_STATE,MVL.CHK_MAIL_ZIP PAYEE_ZIP  
--     FROM ACT_CHECK_INFORMATION CHK   
--     INNER JOIN MNT_VENDOR_LIST MVL ON MVL.VENDOR_ID = CHK.PAYEE_ENTITY_ID  
--     WHERE CHECK_ID  = ' + CAST(@CHECK_ID AS VARCHAR)  
 	 SET @SQL = @SQL + ' ,PAYEE_ADD1,PAYEE_ADD2,PAYEE_CITY,PAYEE_STATE,PAYEE_ZIP  
	    FROM ACT_CHECK_INFORMATION CHK   
	    WHERE CHECK_ID  = ' + CAST(@CHECK_ID AS VARCHAR)  

  END  
 ELSE  
  BEGIN  
  SET @SQL = @SQL + ' ,PAYEE_ADD1,PAYEE_ADD2,PAYEE_CITY,PAYEE_STATE,PAYEE_ZIP
    FROM ACT_CHECK_INFORMATION CHK   
    WHERE CHECK_ID  = ' + CAST(@CHECK_ID AS VARCHAR)  
  END   
   

END  
EXEC (@SQL)  


-- declare @a int
-- exec Proc_GetXML_ACT_CHECK_INFORMATION 905,  @a out
-- select @a








GO

