IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetACT_JOURNAL_MASTER]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetACT_JOURNAL_MASTER]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------  
Proc Name       : Proc_GetACT_JOURNAL_MASTER  
Created by      : Vijay Joshi  
Date            : 6/9/2005  
Purpose     : Get values in Journal Entry Details table  
Revison History :  
Used In  : Wolverine  
------------------------------------------------------------  
Date     Review By          Comments  
------   ------------       -------------------------*/  
-- Proc_GetACT_JOURNAL_MASTER 262
-- drop proc dbo.Proc_GetACT_JOURNAL_MASTER   
CREATE PROC dbo.Proc_GetACT_JOURNAL_MASTER   
(  
 @JOURNAL_ID      int  
)  
AS  
BEGIN  
 SELECT  
  ACT_JOURNAL_MASTER.JOURNAL_ID, JOURNAL_GROUP_TYPE, Convert(Varchar, TRANS_DATE, 101) As TRANS_DATE , 	 JOURNAL_GROUP_CODE,  
  JOURNAL_ENTRY_NO, [DESCRIPTION], ACT_JOURNAL_MASTER.DIV_ID, ACT_JOURNAL_MASTER.DEPT_ID,
 ACT_JOURNAL_MASTER.PC_ID, ACT_JOURNAL_MASTER.GL_ID,  
  ACT_JOURNAL_MASTER.FISCAL_ID, FREQUENCY, Convert(varchar, START_DATE, 101) START_DATE, Convert(varchar, END_DATE, 101) END_DATE, DAY_OF_THE_WK,  
  Convert(varchar,LAST_PROCESSED_DATE,101) LAST_PROCESSED_DATE, IS_COMMITED, 
  DATE_COMMITED, IMPORTSTATUS,  
  ISNULL(LAST_VALID_POSTING_DATE,'') LAST_VALID_POSTING_DATE, NO_OF_RUN,   
  ACT_JOURNAL_MASTER.IS_ACTIVE, ACT_JOURNAL_MASTER.CREATED_BY, ACT_JOURNAL_MASTER.CREATED_DATETIME ,
  ACT_JOURNAL_MASTER.MODIFIED_BY,
  ACT_JOURNAL_MASTER.LAST_UPDATED_DATETIME,  
  --convert(decimal(18,2),SUM(IsNull(ACT_JOURNAL_LINE_ITEMS.AMOUNT,0))) PROFF,  
  convert(varchar(30),convert(money,isnull(SUM(IsNull(ACT_JOURNAL_LINE_ITEMS.AMOUNT,0)),0)),1)PROFF,
  ACT_GENERAL_LEDGER.LEDGER_NAME + '(' + Convert(Varchar,FISCAL_BEGIN_DATE,101) + '-' + Convert(Varchar,FISCAL_END_DATE,101) + ')' AS LEDGER_NAME  
 FROM  
  ACT_JOURNAL_MASTER  
 LEFT JOIN ACT_JOURNAL_LINE_ITEMS ON ACT_JOURNAL_MASTER.JOURNAL_ID = ACT_JOURNAL_LINE_ITEMS.JOURNAL_ID  
 LEFT JOIN ACT_GENERAL_LEDGER ON ACT_GENERAL_LEDGER.GL_ID = ACT_JOURNAL_MASTER.GL_ID   
  AND ACT_GENERAL_LEDGER.FISCAL_ID = ACT_JOURNAL_MASTER.FISCAL_ID  
 WHERE   
  ACT_JOURNAL_MASTER.JOURNAL_ID = @JOURNAL_ID  
 GROUP BY  
  ACT_JOURNAL_MASTER.JOURNAL_ID, JOURNAL_GROUP_TYPE, TRANS_DATE, JOURNAL_GROUP_CODE,  
  JOURNAL_ENTRY_NO, [DESCRIPTION], ACT_JOURNAL_MASTER.DIV_ID, ACT_JOURNAL_MASTER.DEPT_ID, ACT_JOURNAL_MASTER.PC_ID, ACT_JOURNAL_MASTER.GL_ID,  
  ACT_JOURNAL_MASTER.FISCAL_ID, FREQUENCY, START_DATE, END_DATE, DAY_OF_THE_WK,  
  LAST_PROCESSED_DATE, IS_COMMITED, DATE_COMMITED, IMPORTSTATUS,  
  LAST_VALID_POSTING_DATE, NO_OF_RUN,   
  ACT_JOURNAL_MASTER.IS_ACTIVE, ACT_JOURNAL_MASTER.CREATED_BY, ACT_JOURNAL_MASTER.CREATED_DATETIME ,  
  ACT_JOURNAL_MASTER.MODIFIED_BY, ACT_JOURNAL_MASTER.LAST_UPDATED_DATETIME, ACT_GENERAL_LEDGER.LEDGER_NAME,  
  FISCAL_BEGIN_DATE, FISCAL_END_DATE  
  
  
END  
  
  
  






GO

