IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_DELETECIVILTRANSPORTVEHICLE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_DELETECIVILTRANSPORTVEHICLE]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


  
/*------------------------------------------  
PROC NAME	:	DBO.PROC_DELETECIVILTRANSPORTVEHICLE
                
CREATED BY	:	PRADEEP KUSHWAHA    
DATE		:	23 APRIL 2010    
PURPOSE		:	TO DELETE POL_CIVIL_TRANSPORT_VEHICLES DATA  
--------------------------------------------*/    
--DROP PROC DBO.PROC_DELETECIVILTRANSPORTVEHICLE
  
CREATE PROC [dbo].[PROC_DELETECIVILTRANSPORTVEHICLE]    
(     
 
 @VEHICLE_ID INT,
 @CUSTOMER_ID INT,      
 @POLICY_ID INT,      
 @POLICY_VERSION_ID SMALLINT  
)                
AS                
BEGIN                
    
  DELETE FROM POL_CIVIL_TRANSPORT_VEHICLES  WHERE CUSTOMER_ID =  @CUSTOMER_ID AND  POLICY_ID = @POLICY_ID AND  POLICY_VERSION_ID=@POLICY_VERSION_ID  AND  VEHICLE_ID    = @VEHICLE_ID 
  DELETE FROM POL_DISCOUNT_SURCHARGE  WHERE  CUSTOMER_ID =@CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND  POLICY_VERSION_ID=@POLICY_VERSION_ID AND RISK_ID=@VEHICLE_ID   
  DELETE FROM POL_PRODUCT_COVERAGES  WHERE  CUSTOMER_ID =@CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND  POLICY_VERSION_ID=@POLICY_VERSION_ID  AND RISK_ID=@VEHICLE_ID 
END         
    

GO

