IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_UPDATE_PAGNET_EXPORT_FILES]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_UPDATE_PAGNET_EXPORT_FILES]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


--DROP PROC PROC_UPDATE_PAGNET_EXPORT_FILES
CREATE PROC [dbo].[PROC_UPDATE_PAGNET_EXPORT_FILES] --'ClaimInd190420112028.txt','tt'
@FILE_NAME VARCHAR(500)=NULL,
@STATUS VARCHAR(100)=NULL,
@USER_NAME VARCHAR(100)=NULL
AS
BEGIN
--IF(@FLAG =0)
--BEGIN

 ---INSERT RECORD IN FILE HISTROY TABLE	  

  IF EXISTS (SELECT * FROM PAGNET_EXPORT_FILES WHERE FILE_NAMES = @FILE_NAME  AND [STATUS] <>@STATUS)
  BEGIN
	UPDATE PAGNET_EXPORT_FILES
	SET [STATUS] = @STATUS
	WHERE FILE_NAMES = @FILE_NAME  
	
	
	INSERT INTO PAGNET_EXPORT_FILES_HISTORY
		([FILE_ID] ,
		INTERFACE_CODE ,
		CREATE_DATE ,
		[STATUS] ,
		USER_NAMES )
		
		SELECT 
		
		[ID],
		INTERFACE_CODE,
		GETDATE(),
		[STATUS],
		@USER_NAME
		
		FROM PAGNET_EXPORT_FILES 
		WHERE FILE_NAMES = @FILE_NAME
	END

----IF(@FLAG =1)
--BEGIN
--SELECT ID,
--FILE_NAMES,
--INTERFACE_CODE,
--CREATE_DATE
--[STATUS] FROM  PAGNET_EXPORT_FILES
--END

END


GO

