IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_Update_Pol_DiscountSurchage]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_Update_Pol_DiscountSurchage]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

 
--Drop PROC Proc_Update_Pol_DiscountSurchage
CREATE PROC [dbo].[Proc_Update_Pol_DiscountSurchage]
(

@CUSTOMER_ID INT ,  
@POLICY_ID INT,  
@POLICY_VERSION_ID INT,  
@RISK_ID INT,
@PERCENTAGE DECIMAL(8,4),
@IS_ACTIVE CHAR(1),
@MODIFIED_BY INT,
@LAST_UPDATED_DATETIME DATETIME,
@DISCOUNT_ROW_ID INT
)
AS
BEGIN

UPDATE POL_DISCOUNT_SURCHARGE SET 
RISK_ID=@RISK_ID,
PERCENTAGE=@PERCENTAGE,
IS_ACTIVE=@IS_ACTIVE,
@MODIFIED_BY=MODIFIED_BY,
@LAST_UPDATED_DATETIME=LAST_UPDATED_DATETIME
WHERE 
DISCOUNT_ROW_ID=@DISCOUNT_ROW_ID
AND CUSTOMER_ID=@CUSTOMER_ID
AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID

END


GO

