IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_SUSEP_FORM52_RETENTION_LIMIT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_SUSEP_FORM52_RETENTION_LIMIT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[PROC_SUSEP_FORM52_RETENTION_LIMIT] --'21-MAR-2011'          
@DATETIME DATETIME = NULL,          
@POLICY_NUMBER VARCHAR(22)= NULL          
AS          
BEGIN          
     
DECLARE @MONTH INT,    
@DATE DATETIME    
    
    
SET @MONTH= MONTH(DATEADD(MONTH,-1,@DATETIME))    
--SET @DATE = '01/'+RIGHT('00'+ CAST(@MONTH AS VARCHAR),2) +'/'+ CAST(YEAR(@DATETIME) AS VARCHAR)         
SET @DATE = DATEADD(MONTH, -1, @DATETIME)    
    
--select MONTH(@DATE)    
SELECT           
 CONVERT(VARCHAR, @DATE,103) AS MRFMESANO,   
        
 SUBSTRING(ISNULL(VWS.SUSEP_LOB_CODE,''),1,2) AS [GRUPO DE RAMOS],          
 SUBSTRING(ISNULL(VWS.SUSEP_LOB_CODE,''),3,4) AS [RAMO DE SEGURO],          
 dbo.fun_FormatCurrency(SUM(ISNULL(VWS.TOTAL_INS_VALUE,0)*ISNULL(VWS.RETENTION_PER,0)/100 ),2) AS [LIMITE DE RETENÇÃO]   
 FROM VW_SUSEP_FORM_51_51R_52 VWS         
 --FROM POL_CUSTOMER_POLICY_LIST PCPL          
 --INNER JOIN MNT_LOB_MASTER MLM WITH(NOLOCK)          
 --  ON PCPL.POLICY_LOB = MLM.LOB_ID          
 --INNER JOIN POL_REINSURANCE_BREAKDOWN_DETAILS PRBD WITH(NOLOCK)          
 --  ON PRBD.CUSTOMER_ID = PCPL.CUSTOMER_ID          
 --  AND PRBD.POLICY_ID = PCPL.POLICY_ID          
 --  AND PRBD.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID     
 --INNER JOIN POL_POLICY_PROCESS PPP WITH(NOLOCK)          
 -- ON PPP.PROCESS_ID = PRBD.PROCESS_ID          
 -- AND PPP.CUSTOMER_ID = PRBD.CUSTOMER_ID          
 -- AND PPP.POLICY_ID = PRBD.POLICY_ID          
 -- AND PPP.NEW_POLICY_VERSION_ID = PRBD.POLICY_VERSION_ID          
 WHERE    
 MONTH(VWS.COMPLETED_DATETIME) = MONTH(@DATE) AND    
 YEAR(VWS.COMPLETED_DATETIME) = YEAR(@DATE) AND    
   --CAST(MONTH(PPP.COMPLETED_DATETIME)AS VARCHAR)           
   --  + CAST(YEAR(PPP.COMPLETED_DATETIME)AS VARCHAR)=CAST(@MONTH AS VARCHAR)           
   --            + CAST(YEAR(@DATETIME)AS VARCHAR)          
          (@POLICY_NUMBER IS NULL OR VWS.POLICY_NUMBER = @POLICY_NUMBER)        
  GROUP BY VWS.SUSEP_LOB_CODE--,PPP.COMPLETED_DATETIME          
  ORDER by [GRUPO DE RAMOS],[RAMO DE SEGURO],[LIMITE DE RETENÇÃO] 
  --GROUP_LINE_CODE,INSUSRANCE_LINE_CODE,REFERENCE_MONTH          
           
END            
          
          
GO

