IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_FetchTrailerDed]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_FetchTrailerDed]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*            
PROC NAME       : DBO.Proc_FetchTrailerDed                
CREATED BY      : ASFA PRAVEEN                
DATE            : 13/JUNE/2007                
PURPOSE         : RETRIEVING DATA FROM MNT_COVERAGE_RANGES FOR TRAILER DEDUCTIBLE FIELD                 
REVISON HISTORY :                
USED IN         : WOLVERINE         
          
Reviewed By : Anurag Verma    
Reviewed On : 22-06-2007      
*/              
--DROP PROC dbo.Proc_FetchTrailerDed                
CREATE PROC dbo.Proc_FetchTrailerDed   
 @CUSTOMERID INT,                                                                            
 @APPID    INT,                                                                            
 @APPVERSIONID  INT,  
 @TRAILER_TYPE  INT  
AS                
      
DECLARE @APPEFFECTIVEDATE NVARCHAR(100)      
DECLARE @STATEID           NVARCHAR(100)      
DECLARE @EFFECTIVETODATE NVARCHAR(100)      




  
/*Trailer screen has two types of deductibles :   
All Trailers except jet ski($100,$250,$500,$1000,$2500) a  
nd Jet ski trailers($250,$500) having different deductible options.  
-------------------------------------------------------------------  
LOOKUP_UNIQUE_ID  LOOKUP_VALUE_DESC LOOKUP_VALUE_CODE  
-------------------------------------------------------------------  
11761   Ski Jet Trailer  TRSK  
*/  
SELECT  @APPEFFECTIVEDATE=APP_EFFECTIVE_DATE, @STATEID=STATE_ID  FROM APP_LIST       
 WHERE CUSTOMER_ID=@CUSTOMERID  AND APP_ID=@APPID  AND APP_VERSION_ID=@APPVERSIONID      
  
SELECT TOP 1 @EFFECTIVETODATE = EFFECTIVE_TO_DATE FROM MNT_COVERAGE_RANGES      
 WHERE COV_ID=(SELECT COV_ID FROM MNT_COVERAGE WHERE COV_CODE='BDEDUC' AND STATE_ID=@STATEID)      
 
IF (@STATEID=14)
   BEGIN
	IF (@TRAILER_TYPE = 11761)  
	  BEGIN  
		SELECT LIMIT_DEDUC_ID,LIMIT_DEDUC_AMOUNT      
		FROM MNT_COVERAGE_RANGES       
		WHERE COV_ID=(SELECT COV_ID FROM MNT_COVERAGE WHERE COV_CODE='BDEDUC' AND STATE_ID=@STATEID)  
		AND LIMIT_DEDUC_ID IN (1433,1436)
	  END  
	ELSE  
	  BEGIN  
		IF (DATEDIFF(DAY,@APPEFFECTIVEDATE,@EFFECTIVETODATE)>0)      
		   BEGIN      
			SELECT  LIMIT_DEDUC_ID,CAST(ISNULL(LIMIT_DEDUC_AMOUNT, 0) AS VARCHAR)+      
			CAST(ISNULL(LIMIT_DEDUC_AMOUNT_TEXT, '') AS VARCHAR) AS LIMIT_DEDUC_AMOUNT       
			FROM MNT_COVERAGE_RANGES       
			WHERE COV_ID=(SELECT COV_ID FROM MNT_COVERAGE WHERE COV_CODE='BDEDUC' AND STATE_ID=@STATEID)      
			AND EFFECTIVE_TO_DATE > @APPEFFECTIVEDATE  AND LIMIT_DEDUC_ID NOT IN (1433,1436)    
			ORDER BY 2      
		   END      
		ELSE      
		   BEGIN      
			SELECT LIMIT_DEDUC_ID,LIMIT_DEDUC_AMOUNT      
			FROM MNT_COVERAGE_RANGES       
			WHERE COV_ID=(SELECT COV_ID FROM MNT_COVERAGE WHERE COV_CODE='BDEDUC' AND STATE_ID=@STATEID)      
			AND EFFECTIVE_TO_DATE IS  NULL  AND LIMIT_DEDUC_ID NOT IN (1433,1436)    
			ORDER BY 2      
		   END      
	  END          
   END      
ELSE IF (@STATEID=22)
   BEGIN
	IF (@TRAILER_TYPE = 11761)  
	   BEGIN  
		SELECT LIMIT_DEDUC_ID,LIMIT_DEDUC_AMOUNT      
		FROM MNT_COVERAGE_RANGES       
		WHERE COV_ID=(SELECT COV_ID FROM MNT_COVERAGE WHERE COV_CODE='BDEDUC' AND STATE_ID=@STATEID)  
		AND LIMIT_DEDUC_ID IN (1434,1437)
	   END  
	ELSE  
	   BEGIN  
		IF (DATEDIFF(DAY,@APPEFFECTIVEDATE,@EFFECTIVETODATE)>0)      
		   BEGIN      
			SELECT  LIMIT_DEDUC_ID,CAST(ISNULL(LIMIT_DEDUC_AMOUNT, 0) AS VARCHAR)+      
			CAST(ISNULL(LIMIT_DEDUC_AMOUNT_TEXT, '') AS VARCHAR) AS LIMIT_DEDUC_AMOUNT       
			FROM MNT_COVERAGE_RANGES       
			WHERE COV_ID=(SELECT COV_ID FROM MNT_COVERAGE WHERE COV_CODE='BDEDUC' AND STATE_ID=@STATEID)      
			AND EFFECTIVE_TO_DATE > @APPEFFECTIVEDATE  AND LIMIT_DEDUC_ID NOT IN (1434,1437)    
			ORDER BY 2      
		   END      
		ELSE      
		   BEGIN      
			SELECT LIMIT_DEDUC_ID,LIMIT_DEDUC_AMOUNT      
			FROM MNT_COVERAGE_RANGES       
			WHERE COV_ID=(SELECT COV_ID FROM MNT_COVERAGE WHERE COV_CODE='BDEDUC' AND STATE_ID=@STATEID)      
			AND EFFECTIVE_TO_DATE IS  NULL  AND LIMIT_DEDUC_ID NOT IN (1434,1437)    
			ORDER BY 2      
		   END      
	  END          
   END
ELSE IF (@STATEID=49)
   BEGIN
	IF (@TRAILER_TYPE = 11761)  
	  BEGIN  
		SELECT LIMIT_DEDUC_ID,LIMIT_DEDUC_AMOUNT      
		FROM MNT_COVERAGE_RANGES       
		WHERE COV_ID=(SELECT COV_ID FROM MNT_COVERAGE WHERE COV_CODE='BDEDUC' AND STATE_ID=@STATEID)  
		AND LIMIT_DEDUC_ID IN (1435,1438)
	  END  
	ELSE  
	  BEGIN  
		IF (DATEDIFF(DAY,@APPEFFECTIVEDATE,@EFFECTIVETODATE)>0)      
		  BEGIN      
			SELECT  LIMIT_DEDUC_ID,CAST(ISNULL(LIMIT_DEDUC_AMOUNT, 0) AS VARCHAR)+      
			CAST(ISNULL(LIMIT_DEDUC_AMOUNT_TEXT, '') AS VARCHAR) AS LIMIT_DEDUC_AMOUNT       
			FROM MNT_COVERAGE_RANGES       
			WHERE COV_ID=(SELECT COV_ID FROM MNT_COVERAGE WHERE COV_CODE='BDEDUC' AND STATE_ID=@STATEID)      
			AND EFFECTIVE_TO_DATE > @APPEFFECTIVEDATE  AND LIMIT_DEDUC_ID NOT IN (1435,1438)    
			ORDER BY 2      
		  END      
		ELSE      
		  BEGIN      
			SELECT LIMIT_DEDUC_ID,LIMIT_DEDUC_AMOUNT      
			FROM MNT_COVERAGE_RANGES       
			WHERE COV_ID=(SELECT COV_ID FROM MNT_COVERAGE WHERE COV_CODE='BDEDUC' AND STATE_ID=@STATEID)      
			AND EFFECTIVE_TO_DATE IS  NULL  AND LIMIT_DEDUC_ID NOT IN (1435,1438)    
			ORDER BY 2      
		  END      
	  END          
   END   
  



GO

