IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetCancelledPolicesWithDebitBalanceFromPriorTerm]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetCancelledPolicesWithDebitBalanceFromPriorTerm]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROC dbo.Proc_GetCancelledPolicesWithDebitBalanceFromPriorTerm
(
	@ShowAll	Char(1) = 'N' 
) 
AS 
BEGIN

DECLARE @QUERY Varchar(5000) 

SET @QUERY = 
'WITH 
TERM_BALANCE AS 
(
      SELECT CPL.CUSTOMER_ID , CPL.POLICY_ID , CPL.CURRENT_TERM ,
      SUM( ISNULL(OI.TOTAL_DUE,0) - ISNULL(OI.TOTAL_PAID , 0) ) AS BALANCE 
      FROM ACT_CUSTOMER_OPEN_ITEMS OI
      INNER JOIN POL_CUSTOMER_POLICY_LIST CPL 
            ON OI.CUSTOMER_ID = CPL.CUSTOMER_ID 
            AND OI.POLICY_ID = CPL.POLICY_ID 
            AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID 
      WHERE
      OI.UPDATED_FROM IN (''C'',''D'',''F'',''J'')
      OR    (
                  OI.UPDATED_FROM IN (''P'') AND OI.ITEM_TRAN_CODE_TYPE = ''PREM''
            )
      GROUP BY CPL.CUSTOMER_ID , CPL.POLICY_ID , CPL.CURRENT_TERM
) ,
LATEST_VERSION AS 
(     
      SELECT      PCPL.CUSTOMER_ID, PCPL.POLICY_ID,   MAX(PCPL.POLICY_VERSION_ID) AS POLICY_VERSION_ID
      FROM POL_CUSTOMER_POLICY_LIST AS PCPL
      GROUP BY    PCPL.CUSTOMER_ID, PCPL.POLICY_ID
)
SELECT ISNULL(CCL.CUSTOMER_FIRST_NAME,'''') + '' '' +
	  (CASE WHEN ISNULL(CCL.CUSTOMER_MIDDLE_NAME,'''') = '''' THEN ''''
	  ELSE CCL.CUSTOMER_MIDDLE_NAME + '' '' END ) + ISNULL(CCL.CUSTOMER_LAST_NAME,'''') AS CUSTOMER_NAME, 
	  CPL.POLICY_NUMBER , CPL.APP_EFFECTIVE_DATE AS POLICY_EFFECTIVE_DATE, CPL.APP_EXPIRATION_DATE AS POLICY_EXPIRY_DATE,
	  STATUS.POLICY_DESCRIPTION AS POLICY_CURRENT_STATUS, CURR_BAL.BALANCE AS CURRENT_TERM_BALANCE ,
	  ISNULL(PREV_BAL.BALANCE ,0) AS PREVIOUS_TERM_BALANCE ,
	(
		SELECT MAX(DUE_DATE)  FROM ACT_CUSTOMER_BALANCE_INFORMATION BAL
		WHERE BAL.UPDATED_FROM = ''T'' AND BAL.NOTICE_TYPE = ''PREM_NOTICE''
		AND BAL.CUSTOMER_ID = CPL.CUSTOMER_ID 
		AND BAL.POLICY_ID = CPL.POLICY_ID 
	) AS LAST_PREMIUM_NOTICE 
FROM POL_CUSTOMER_POLICY_LIST CPL 
INNER JOIN LATEST_VERSION CPL2
	  ON CPL.CUSTOMER_ID = CPL2.CUSTOMER_ID 
	  AND CPL.POLICY_ID = CPL2.POLICY_ID 
	  AND CPL.POLICY_VERSION_ID = CPL2.POLICY_VERSION_ID
INNER JOIN TERM_BALANCE CURR_BAL
	  ON CPL.CUSTOMER_ID = CURR_BAL.CUSTOMER_ID 
	  AND CPL.POLICY_ID = CURR_BAL.POLICY_ID 
	  AND CPL.CURRENT_TERM = CURR_BAL.CURRENT_TERM 
LEFT JOIN TERM_BALANCE PREV_BAL
	  ON CPL.CUSTOMER_ID = PREV_BAL.CUSTOMER_ID 
	  AND CPL.POLICY_ID = PREV_BAL.POLICY_ID 
	  AND CPL.CURRENT_TERM - 1  = PREV_BAL.CURRENT_TERM 
INNER JOIN CLT_CUSTOMER_LIST CCL
	  ON CPL.CUSTOMER_ID = CCL.CUSTOMER_ID
INNER JOIN POL_POLICY_STATUS_MASTER  STATUS
	  ON CPL.POLICY_STATUS = STATUS.POLICY_STATUS_CODE'

--show all the cancelled policies with Debit balance either on prior term, or current term or on both.
IF(@ShowAll = 'Y') 
BEGIN 
	SET @QUERY = @QUERY + '  WHERE ( ISNULL(PREV_BAL.BALANCE ,0)  > 0  OR ISNULL(CURR_BAL.BALANCE ,0) > 0 ) 
	AND dbo.ISCancelledPolicy(CPL.CUSTOMER_ID , CPL.POLICY_ID ) = 1'
END
--show all the cancelled policies where Debit balance on prior term is must. 
--Current term may or may not have a balance
ELSE
BEGIN
	SET @QUERY = @QUERY + '  WHERE ISNULL(PREV_BAL.BALANCE ,0)  > 0 
	AND dbo.ISCancelledPolicy(CPL.CUSTOMER_ID , CPL.POLICY_ID ) = 1'
END

SET @QUERY = @QUERY + '  ORDER BY LAST_PREMIUM_NOTICE'

EXECUTE (@QUERY) 

END


GO

