IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_AGENCY_TRANSACTION_REPORT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_AGENCY_TRANSACTION_REPORT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN
--DROP PROCEDURE [DBO].[PROC_AGENCY_TRANSACTION_REPORT]
--GO
/*----------------------------------------------------------                        
       
Proc Name        : dbo.PROC_AGENCY_TRANSACTION_REPORT                        
Created by       : Shikha Dixit                       
Date             : 14/07/2009                        
Purpose          :                       
Revison History  :                        
Used In          : Wolverine                        
        
------------------------------------------------------------                        
Date     Review By          Comments                        
------   ------------       -------------------------*/   
CREATE PROCEDURE [dbo].[PROC_AGENCY_TRANSACTION_REPORT]
(
	@AGENCY_ID			VARCHAR(400)	= NULL,
	@EFFECTIVE_MONTH	INT	= NULL,
	@EFFECTIVE_YEAR		INT	= NULL,
	@FROM_EFF_DATE		DATETIME = NULL,
	@TO_EFF_DATE		DATETIME = NULL,
	@TRAN_MONTH			INT = NULL,
	@TRAN_YEAR			INT	= NULL,
	@FROM_TRAN_DATE		DATETIME = NULL,
	@TO_TRAN_DATE		DATETIME = NULL,
	@POLICY_NUMBER		VARCHAR(20) = NULL,
	@CUSTOMER_ID		int = NULL,
	@ORDER_BY			VARCHAR(800) = NULL
)
AS
BEGIN

	DECLARE @QUERY	VARCHAR(8000)
	SET @QUERY = 'SELECT AL.AGENCY_CODE,AL.AGENCY_DISPLAY_NAME,AL.AGENCY_ADD1,AL.AGENCY_ADD2,AL.AGENCY_CITY,ST.STATE_NAME,AL.AGENCY_ZIP,
					CPL.BILL_TYPE AS BILL_TYPE,
					(ISNULL(CL.CUSTOMER_FIRST_NAME,'''') + '' '' + ISNULL(CL.CUSTOMER_MIDDLE_NAME,'''') + '' '' + ISNULL(CL.CUSTOMER_LAST_NAME,''''))AS CUSTOMER_NAME,
					CPL.POLICY_NUMBER,
					CASE PPD.PROCESS_TYPE   
						  WHEN 25  THEN ''New Business'' 
						  WHEN 14  THEN ''Endorsement''
						  WHEN 12  THEN ''Cancellation''
						  WHEN 16  THEN ''Reinstatement''
						  WHEN 18  THEN ''Renewal''
						  WHEN 29  THEN ''Rescind''
						  WHEN 32  THEN ''Rewrite''
						  WHEN 37  THEN ''Revert back''
						  END AS TRANSACTION_DESCRIPTION ,  
						  SUM(PPDD.GROSS_PREMIUM) AS PREMIUM_WRITTEN ,SUM(PPDD.STATS_FEES) AS STATS_FEES,
						  SUM(PPDD.NET_PREMIUM)AS NET_PREMIUM,
					CAST(CONVERT(VARCHAR,PPD.CREATED_DATETIME,101)AS DATETIME) AS TRANSACTION_DATE , 
					CAST(CONVERT(VARCHAR,CPL.POL_VER_EFFECTIVE_DATE,101)AS DATETIME) AS EFFECTIVE_DATE,
                     PPDD.COMMISSION_RATE,SUM(PPDD.COMMISSION_AMOUNT) AS COMMISSION_AMOUNT 
					FROM ACT_PREMIUM_PROCESS_DETAILS PPD
					INNER JOIN POL_CUSTOMER_POLICY_LIST CPL
						ON PPD.CUSTOMER_ID = CPL.CUSTOMER_ID 
						AND PPD.POLICY_ID = CPL.POLICY_ID 
						AND PPD.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID 
					INNER JOIN ACT_PREMIUM_PROCESS_SUB_DETAILS PPDD
						ON PPD.CUSTOMER_ID = PPDD.CUSTOMER_ID 
						AND PPD.POLICY_ID  = PPDD.POLICY_ID 
						AND PPD.POLICY_VERSION_ID = PPDD.POLICY_VERSION_ID 
						AND PPD.PROCESS_ID			= PPDD.PPD_ROW_ID
					INNER JOIN CLT_CUSTOMER_LIST CL
						ON CPL.CUSTOMER_ID = CL.CUSTOMER_ID
					INNER JOIN MNT_AGENCY_LIST AL
						ON CPL.AGENCY_ID = AL.AGENCY_ID
					INNER JOIN MNT_COUNTRY_STATE_LIST ST
						ON AL.AGENCY_STATE = ST.STATE_ID'

	DECLARE @WHERE VARCHAR(2000)
	SET @WHERE = ''
	DECLARE @GROUP_BY VARCHAR (2000)
	SET @GROUP_BY = ' CPL.POLICY_NUMBER , PPD.CREATED_DATETIME ,  PPD.PROCESS_TYPE,CPL.POL_VER_EFFECTIVE_DATE , 
					ST.STATE_NAME,AL.AGENCY_CODE,AL.AGENCY_DISPLAY_NAME,AL.AGENCY_ADD1,AL.AGENCY_ADD2,AL.AGENCY_CITY,
					AL.AGENCY_ZIP,CPL.BILL_TYPE ,CL.CUSTOMER_FIRST_NAME, CL.CUSTOMER_MIDDLE_NAME ,CL.CUSTOMER_LAST_NAME
					,PPDD.COMMISSION_RATE'

	IF (@AGENCY_ID IS NOT NULL)
		BEGIN
			SET @WHERE = ' CPL.AGENCY_ID IN (' + @AGENCY_ID  + ') '
		END
	--EFF MONTH AND YEAR PASSED
	IF(ISNULL(@WHERE,'') = '')
	BEGIN
		IF(@EFFECTIVE_MONTH IS NOT NULL AND @EFFECTIVE_YEAR IS NOT NULL)
			BEGIN
				SET @WHERE = @WHERE + ' MONTH(CPL.POL_VER_EFFECTIVE_DATE) = ' + CONVERT(VARCHAR, @EFFECTIVE_MONTH) + ' AND ' + 
							' YEAR(CPL.POL_VER_EFFECTIVE_DATE) = ' + CONVERT(VARCHAR, @EFFECTIVE_YEAR)
			END
	END
	
	ELSE 
	BEGIN
		IF(@EFFECTIVE_MONTH IS NOT NULL AND @EFFECTIVE_YEAR IS NOT NULL)
			BEGIN
				SET @WHERE = @WHERE + ' AND ' + ' MONTH(CPL.POL_VER_EFFECTIVE_DATE) = ' + CONVERT(VARCHAR, @EFFECTIVE_MONTH) + ' AND ' + 
							' YEAR(CPL.POL_VER_EFFECTIVE_DATE) = ' + CONVERT(VARCHAR, @EFFECTIVE_YEAR)
			END
	END
	--EFF FROM DATE IS PASSED
	IF(ISNULL(@WHERE,'') = '')
	BEGIN
		IF(@FROM_EFF_DATE IS NOT NULL)
			BEGIN
				SET @WHERE = @WHERE + ' CONVERT(DATETIME,CONVERT(VARCHAR,CPL.POL_VER_EFFECTIVE_DATE,101),101) >=''' + CONVERT(VARCHAR,@FROM_EFF_DATE,101) + ''''
			END
	END
	ELSE
	BEGIN
		IF(@FROM_EFF_DATE IS NOT NULL)
			BEGIN
				SET @WHERE = @WHERE + ' AND ' + ' CONVERT(DATETIME,CONVERT(VARCHAR,CPL.POL_VER_EFFECTIVE_DATE,101),101) >=''' + CONVERT(VARCHAR,@FROM_EFF_DATE,101) + ''''
			END
	END
	--EFF TO DATE IS PASSED
	IF(ISNULL(@WHERE,'') = '')
	BEGIN
		IF(@TO_EFF_DATE IS NOT NULL) 
			BEGIN
				SET @WHERE = @WHERE + ' CONVERT(DATETIME,CONVERT(VARCHAR,CPL.POL_VER_EFFECTIVE_DATE,101),101) <=''' + CONVERT(VARCHAR,@TO_EFF_DATE,101) + ''''
			END
	END
	ELSE
	BEGIN
		IF(@TO_EFF_DATE IS NOT NULL)
			BEGIN
				SET @WHERE = @WHERE + ' AND ' + ' CONVERT(DATETIME,CONVERT(VARCHAR,CPL.POL_VER_EFFECTIVE_DATE,101),101) <=''' + CONVERT(VARCHAR,@TO_EFF_DATE,101) + ''''
			END
	END	
	--TRAN MONTH AND YEAR PASSED
	IF(ISNULL(@WHERE,'') = '')
	BEGIN
		IF (@TRAN_MONTH IS NOT NULL AND @TRAN_YEAR IS NOT NULL)
			BEGIN
				SET @WHERE = @WHERE + ' MONTH(PPD.CREATED_DATETIME) = ' + CONVERT(VARCHAR, @TRAN_MONTH) + ' AND ' + 
							' YEAR(PPD.CREATED_DATETIME) = ' + CONVERT(VARCHAR, @TRAN_YEAR)
			END
	END
	ELSE
	BEGIN
		IF (@TRAN_MONTH IS NOT NULL AND @TRAN_YEAR IS NOT NULL)
			BEGIN
				SET @WHERE = @WHERE + ' AND ' + ' MONTH(PPD.CREATED_DATETIME) = ' + CONVERT(VARCHAR, @TRAN_MONTH) + ' AND ' + 
							' YEAR(PPD.CREATED_DATETIME) = ' + CONVERT(VARCHAR, @TRAN_YEAR)
			END
	END
	-- TRAN FROM DATE IS PASSED
	IF(ISNULL(@WHERE,'') = '')
	BEGIN
		IF(@FROM_TRAN_DATE IS NOT NULL)
			BEGIN
				SET @WHERE = @WHERE + ' CONVERT(DATETIME,CONVERT(VARCHAR,PPD.CREATED_DATETIME,101),101) >=''' + CONVERT(VARCHAR,@FROM_TRAN_DATE,101) + ''''
			END
	END
	ELSE
	BEGIN
		IF(@FROM_TRAN_DATE IS NOT NULL)
			BEGIN
				SET @WHERE = @WHERE + ' AND ' + ' CONVERT(DATETIME,CONVERT(VARCHAR,PPD.CREATED_DATETIME,101),101) >=''' + CONVERT(VARCHAR,@FROM_TRAN_DATE,101) + ''''
			END
	END
	-- TRAN TO DATE IS PASSED
	IF(ISNULL(@WHERE,'') = '')
	BEGIN
		IF(@TO_TRAN_DATE IS NOT NULL)
			BEGIN
				SET @WHERE = @WHERE + ' CONVERT(DATETIME,CONVERT(VARCHAR,PPD.CREATED_DATETIME,101),101) <=''' + CONVERT(VARCHAR,@TO_TRAN_DATE,101) + ''''
			END
	END
	ELSE
	BEGIN
		IF(@TO_TRAN_DATE IS NOT NULL)
			BEGIN
				SET @WHERE = @WHERE + ' AND ' + ' CONVERT(DATETIME,CONVERT(VARCHAR,PPD.CREATED_DATETIME,101),101) <=''' + CONVERT(VARCHAR,@TO_TRAN_DATE,101) + ''''
			END
	END	
	-- POLICY_NUMBER PASSED
	IF(ISNULL(@WHERE,'') = '')
	BEGIN
		IF (@POLICY_NUMBER IS NOT NULL)
			BEGIN
				SET @WHERE = @WHERE + ' CPL.POLICY_NUMBER IN (''' + @POLICY_NUMBER + ''')' 
			END
	END
	ELSE
	BEGIN
		IF (@POLICY_NUMBER IS NOT NULL)
			BEGIN
				SET @WHERE = @WHERE + ' AND ' + ' CPL.POLICY_NUMBER IN (''' + @POLICY_NUMBER + ''')' 
			END
	END
	-- CUSTOMER ID PASSED
	IF(ISNULL(@WHERE,'') = '')
	BEGIN
		IF (@CUSTOMER_ID IS NOT NULL)
			BEGIN
				SET @WHERE = @WHERE + ' PPD.CUSTOMER_ID IN (' + CAST(@CUSTOMER_ID AS VARCHAR)+ ')'
			END
	END
	ELSE
	BEGIN
		IF (@CUSTOMER_ID IS NOT NULL)
			BEGIN
				SET @WHERE = @WHERE + ' AND PPD.CUSTOMER_ID IN (' + CAST(@CUSTOMER_ID as  varchar) + ')'
			END
	END

	IF (@WHERE <> '')
	BEGIN
		SET @QUERY = @QUERY + ' WHERE ' + @WHERE + ' GROUP BY ' + @GROUP_BY
	END
	ELSE
	BEGIN
		SET @QUERY = @QUERY + ' GROUP BY ' + @GROUP_BY
	END	


IF (@ORDER_BY IS NOT NULL)
	BEGIN
		SET @QUERY = @QUERY + ' ORDER BY ' + 'AGENCY_DISPLAY_NAME , ' +  @ORDER_BY
	END
 ELSE
 
 BEGIN
         SET @QUERY = @QUERY + ' ORDER BY AGENCY_DISPLAY_NAME,CUSTOMER_NAME,POLICY_NUMBER ' 
  END


--PRINT @QUERY
	EXECUTE (@QUERY)
END
--GO
--EXEC PROC_AGENCY_TRANSACTION_REPORT NULL,8,2009,null,null,8,2009,null,null,null,null,null
--ROLLBACK TRAN









GO

