IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_DELETE_TEMP_ACT_CHECK_INFORMATION]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_DELETE_TEMP_ACT_CHECK_INFORMATION]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE PROC_DELETE_TEMP_ACT_CHECK_INFORMATION
(
@LOGGED_IN_USER_ID INT
)
AS
BEGIN
delete from TEMP_ACT_CHECK_INFORMATION where CREATED_BY=@LOGGED_IN_USER_ID 

END



GO

