IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_PolicyCancelation_Nopayment]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_PolicyCancelation_Nopayment]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


--[dbo].[Proc_PolicyCancelation_Nopayment] 28070,770,3 2043,569,1  -- 28236,22,2 -- 
  
CREATE PROCEDURE  [dbo].[Proc_PolicyCancelation_Nopayment]  
(  
	@CUSTOMER_ID INT,  
	@POLICY_ID INT,  
	@POLICY_VERSION_ID SMALLINT,
	@LANG_ID INT=2    
)  
AS  
BEGIN  
     DECLARE @PREV_POLICY_VERSION_ID INT
     DECLARE @ENDORSEMENT_NO VARCHAR(6)
     DECLARE @CANCELLEATION_DATE DATETIME 
     
     SELECT  @CANCELLEATION_DATE = EFFECTIVE_DATETIME FROM POL_POLICY_PROCESS WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND 
     NEW_POLICY_VERSION_ID = @POLICY_VERSION_ID AND PROCESS_ID IN(2,12) AND ISNULL(PROCESS_STATUS,'') <> 'ROLLBACK'
     
     --SELECT * FROM POL_PROCESS_MASTER
     
     SELECT 
                  @PREV_POLICY_VERSION_ID = PPP.POLICY_VERSION_ID
            FROM
                  POL_POLICY_PROCESS PPP (NOLOCK)
            WHERE
                  PPP.CUSTOMER_ID = @CUSTOMER_ID AND PPP.POLICY_ID = @POLICY_ID AND PPP.NEW_POLICY_VERSION_ID = @POLICY_VERSION_ID AND PPP.PROCESS_STATUS = 'COMPLETE'
                  
            SELECT 
                  @ENDORSEMENT_NO = RIGHT('000000' + CAST(PPP.ENDORSEMENT_NO AS VARCHAR(6)), 6)
            FROM
                  POL_POLICY_ENDORSEMENTS PPP (NOLOCK)
            WHERE
                  PPP.CUSTOMER_ID = @CUSTOMER_ID AND PPP.POLICY_ID = @POLICY_ID AND PPP.POLICY_VERSION_ID = @POLICY_VERSION_ID
            
            IF @ENDORSEMENT_NO = '000000'
            BEGIN
                  SET @ENDORSEMENT_NO = ''      
            END


	SELECT       
			--CASE LEN(DAY(PPP.COMPLETED_DATETIME))  
			--	WHEN 1 THEN '0' + CAST(DAY(PPP.COMPLETED_DATETIME) AS VARCHAR(2))  
			--	WHEN 2 THEN CAST(DAY(PPP.COMPLETED_DATETIME) AS VARCHAR(2))  
			--END  
			--+ ' de ' +   
			--(dbo.fun_GetMonth_BR(convert(varchar(4),MONTH(PPP.COMPLETED_DATETIME),100)))
			--+ ' de ' + CAST(YEAR(PPP.COMPLETED_DATETIME) AS VARCHAR(4)) As Sao_Paulo ,  
			
           CASE LEN(DAY(PPP.COMPLETED_DATETIME))  
				WHEN 1 THEN '0' + CAST(DAY(PPP.COMPLETED_DATETIME) AS VARCHAR(2))  
				WHEN 2 THEN CAST(DAY(PPP.COMPLETED_DATETIME) AS VARCHAR(2))  
			END  
			+ ' de ' +   
				 UPPER(SUBSTRING((LOWER(dbo.fun_GetMonth_BR(convert(varchar(4),MONTH(PPP.COMPLETED_DATETIME),100)))),1,1))+SUBSTRING((LOWER(dbo.fun_GetMonth_BR(convert(varchar(4),MONTH(PPP.COMPLETED_DATETIME),100)))),2,len((dbo.fun_GetMonth_BR(convert(varchar(10),MONTH(PPP.COMPLETED_DATETIME),100)))))
			+ ' de ' + CAST(YEAR(PPP.COMPLETED_DATETIME) AS VARCHAR(4)) As Sao_Paulo ,  
			MLMM.LOB_DESC AS Product_Name ,  
			PCPL.POLICY_NUMBER,  
			PCPL.APP_NUMBER,  
			ISNULL(MDL.DIV_NAME,'') + ' - ' + ISNULL(DIV_ADD1,'')+', '+ISNULL(MDL.DIV_ADD2,'')+' - '+ISNULL(MDL.DIV_ZIP,'')+' - '+ISNULL(MDL.DIV_CITY,'')+' - Fone '+ISNULL(MDL.DIV_PHONE,'')+' - Fax '+ISNULL(MDL.DIV_FAX,'') AS Branch_Name,
			CAL.FIRST_NAME + CASE ISNULL(CAL.MIDDLE_NAME, '') WHEN '' THEN '' ELSE ' ' + CAL.MIDDLE_NAME END + ' ' + ISNULL(CAL.LAST_NAME, '') AS APPLICANT_NAME,
			@ENDORSEMENT_NO AS ENDORSEMENT_NO
	FROM   
			POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK)  
		LEFT JOIN   
			MNT_DIV_LIST MDL WITH(NOLOCK) ON MDL.DIV_ID = PCPL.DIV_ID    
		INNER JOIN  
			MNT_LOB_MASTER_MULTILINGUAL MLMM WITH(NOLOCK) ON MLMM.LOB_ID = PCPL.POLICY_LOB      
		INNER JOIN  
			POL_POLICY_PROCESS PPP WITH(NOLOCK) ON PPP.CUSTOMER_ID = PCPL.CUSTOMER_ID AND PPP.POLICY_ID = PCPL.POLICY_ID AND PPP.NEW_POLICY_VERSION_ID =PCPL.POLICY_VERSION_ID   
		INNER JOIN
			POL_APPLICANT_LIST PAL WITH(NOLOCK) ON (PAL.CUSTOMER_ID = PCPL.CUSTOMER_ID AND PAL.POLICY_ID = PCPL.POLICY_ID AND PAL.POLICY_VERSION_ID =PCPL.POLICY_VERSION_ID AND PAL.IS_PRIMARY_APPLICANT = 1)   
		INNER JOIN
			CLT_APPLICANT_LIST CAL WITH(NOLOCK) ON (CAL.CUSTOMER_ID = PAL.CUSTOMER_ID AND CAL.APPLICANT_ID = PAL.APPLICANT_ID)
	WHERE  
		PCPL.CUSTOMER_ID = @CUSTOMER_ID AND  
		PCPL.POLICY_ID = @POLICY_ID AND  
		PCPL.POLICY_VERSION_ID = @POLICY_VERSION_ID  
    
  
	SELECT   
			CASE LEN(DAY(INSTALLMENT_EFFECTIVE_DATE))  
				WHEN 1 THEN '0' + CAST(DAY(INSTALLMENT_EFFECTIVE_DATE) AS VARCHAR(2))  
				WHEN 2 THEN CAST(DAY(INSTALLMENT_EFFECTIVE_DATE) AS VARCHAR(2))  
			END  
			+'/'+  
			CASE LEN(MONTH(INSTALLMENT_EFFECTIVE_DATE))  
				WHEN 1 THEN '0'+CAST(MONTH(INSTALLMENT_EFFECTIVE_DATE)AS VARCHAR(2))   
				WHEN 2 THEN CAST(MONTH(INSTALLMENT_EFFECTIVE_DATE)AS VARCHAR(2))  
			END   
			+'/'+  
			CAST(YEAR(INSTALLMENT_EFFECTIVE_DATE) AS VARCHAR(4)) AS Due_Date,   
			INSTALLMENT_NO, 
			dbo.fun_FormatCurrency(ISNULL(TOTAL,0),@LANG_ID) AS Installment_Amount  
			--REPLACE(REPLACE(REPLACE(TOTAL, '.', '@'), ',', '.'), '@', ',') AS Installment_Amount  
	FROM   
			ACT_POLICY_INSTALLMENT_DETAILS WITH(NOLOCK) 
	LEFT JOIN POL_POLICY_PROCESS PPP WITH(NOLOCK) ON (ACT_POLICY_INSTALLMENT_DETAILS.CUSTOMER_ID = PPP.CUSTOMER_ID AND
													  ACT_POLICY_INSTALLMENT_DETAILS.POLICY_ID = PPP.POLICY_ID AND
													  ACT_POLICY_INSTALLMENT_DETAILS.POLICY_VERSION_ID = PPP.NEW_POLICY_VERSION_ID AND
													  PPP.PROCESS_STATUS <> 'ROLLBACK') 
	WHERE	ACT_POLICY_INSTALLMENT_DETAILS.CUSTOMER_ID = @CUSTOMER_ID AND    
			ACT_POLICY_INSTALLMENT_DETAILS.POLICY_ID = @POLICY_ID AND   
			ACT_POLICY_INSTALLMENT_DETAILS.POLICY_VERSION_ID < @POLICY_VERSION_ID AND
			RELEASED_STATUS IN ('N','C') AND 
			ACT_POLICY_INSTALLMENT_DETAILS.INSTALLMENT_EFFECTIVE_DATE < @CANCELLEATION_DATE AND
			PPP.PROCESS_ID = 25 --ITRACK:1104 - NOTE# 24(ONLY NBS OVERDUE INSTALLMENT MUST BE PRINTED)(NBS: PROCESS_ID = 25) 
   
   
END  


GO

