IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_Premium_WriteOffAmount]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_Premium_WriteOffAmount]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran
--drop proc dbo.Proc_Premium_WriteOffAmount
--go

/*----------------------------------------------------------            
Proc Name       		: dbo.Proc_Premium_WriteOffAmount            
Created by      		: Praveen           
Date            		: 
Purpose         		: Premium_WriteOffAmount Posting        
Revison History 		:            
Used In         		: Wolverine         
Modfied and Reviewd		: Praveen 
Date            		: 19 may 2008
Purpose 				: Updating the Write off Amount Column / Commission Posting on Incurred and Payable Accounts

Modfied and Reviewd		: Praveen 
Date            		: 11 June 2008
Purpose 				: Agency Commission Detailed Entry.

Modfied and Reviewd 	: Praveen 
Date            		: 16 June 2008
Purpose 				: Commissions also be written to 43700 instead of 41500  (Credit Entry will be Posted).
							Account "EXP_SMALL_BALANCE_WRITE_OFF" will be used instead of "EXP_COMM_INCURRED"
							(Itrack 4336)		

Modfied and Reviewd 	: Praveen 
Date            		: 25 Nov 2009
Purpose 				: Premium write off should be posted to suspense accounts  (Itrack 6770)
						: FOR UNCOLLECTED PREMIUM : IF PREBILL = 1  AST_UNCOLL_PREM_IN_SUSPENSE_DIRECT_BILL	ELSE AST_UNCOLL_PRM_CUSTOMER
						: FOR COMMISSION PAYBLE : IF PREBILL = 1  AST_COMM_PAYABLE_IN_SUSPENSE_DIRECT_BILL	ELSE LIB_COMM_PAYB_DIRECT_BILL

------------------------------------------------------------            
Date     Review By          Comments            
------   ------------       -------------------------*/     


Create proc [dbo].[Proc_Premium_WriteOffAmount]
(

	@IDEN_ROW_ID int,
	@CUMULATIVE_WRITE_OFF_AMOUNT decimal(18,2),
	@WRITE_OFF_AMOUNT decimal(18,2),
	@PREMIUM_WRITE_OFF_DATE datetime,
	@IS_POSTING int,
	@USER_ID int ,
	@GROUP_ID int OUT ,
	@GROUP_DETAIL_ID int
)

as

--VARIBALES
DECLARE @CUSTOMER_ID INT
DECLARE @POLICY_ID INT
DECLARE @POLICY_VERSION_ID INT
DECLARE @BILL_TYPE VARCHAR(10)
DECLARE @STATE_ID INT
DECLARE @LOB_ID INT
DECLARE @GROSS_AMOUNT	Decimal(18,2)
DECLARE @NET_PREMIUM	Decimal(25,2)

DECLARE @IS_PREBILL NCHAR(4)

SELECT  @CUSTOMER_ID 		= CUSTOMER_ID,
		@POLICY_ID 			= POLICY_ID,
		@POLICY_VERSION_ID 	= POLICY_VERSION_ID ,
		@GROSS_AMOUNT		= GROSS_AMOUNT  ,
		@NET_PREMIUM		= NET_PREMIUM ,
		@IS_PREBILL			= ISNULL(IS_PREBILL,'')
FROM ACT_CUSTOMER_OPEN_ITEMS  WITH(NOLOCK)
WHERE @IDEN_ROW_ID 	= IDEN_ROW_ID



SELECT 
	@BILL_TYPE 		= BILL_TYPE,
	@STATE_ID		= STATE_ID,
	@LOB_ID			= POLICY_LOB		
	FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK)
	WHERE CUSTOMER_ID 	= @CUSTOMER_ID
	and POLICY_ID 		= @POLICY_ID
	and POLICY_VERSION_ID 	= @POLICY_VERSION_ID

	DECLARE @IDENTITY_ID_ROW_ID int --for group Details


--Info For Posting 
	DECLARE @TRAN_ENTITY   VARCHAR(200)    
	DECLARE @TRAN_DESC     VARCHAR(500)    
	DECLARE @FISCAL_ID     INT  
	DECLARE @CURRENT_DATE  DATETIME  
	  
	     
	--GET THE ACCOUNT ID FROM ACT_GENERAL_LEDGER      
	DECLARE @AST_UNCOLL_PRM_CUSTOMER INT       
	DECLARE @EXP_SMALL_BALANCE_WRITE_OFF  INT 
	DECLARE @COMM_EXPENSE_ACCOUNT INT
	DECLARE @COMM_PAYABLE_ACCOUNT INT
	  
	-- Fetch this based on Fiscal   for current date   recon
	  
	  
	SET @CURRENT_DATE = GETDATE()  
	  
	EXEC PROC_GETFISCALIDFORCURRENTDATE @CURRENT_DATE, @FISCAL_ID OUT  

	SELECT   
	--@AST_UNCOLL_PRM_CUSTOMER 	= AST_UNCOLL_PRM_CUSTOMER, ITRACK 6770
	@AST_UNCOLL_PRM_CUSTOMER =
						CASE @IS_PREBILL 
						WHEN '1' THEN AST_UNCOLL_PREM_IN_SUSPENSE_DIRECT_BILL 
							ELSE AST_UNCOLL_PRM_CUSTOMER 
				  		END,
 
	@EXP_SMALL_BALANCE_WRITE_OFF 	= EXP_SMALL_BALANCE_WRITE_OFF ,

	--ITRACK 6770
	@COMM_PAYABLE_ACCOUNT =
						CASE @IS_PREBILL 
						WHEN '1' THEN AST_COMM_PAYABLE_IN_SUSPENSE_DIRECT_BILL 
							ELSE LIB_COMM_PAYB_DIRECT_BILL 
				  		END

-- CASE @BILL_TYPE 
--						WHEN 'AB' THEN LIB_COMM_PAYB_AGENCY_BILL 
--						ELSE LIB_COMM_PAYB_DIRECT_BILL 
--				  		END

	FROM ACT_GENERAL_LEDGER WITH(NOLOCK)  
	WHERE FISCAL_ID =  @FISCAL_ID     

	 --Fetch Customer Info  
	 SELECT @TRAN_ENTITY = ISNULL(CUSTOMER_CODE,'') + ' - ' + ISNULL(CUSTOMER_FIRST_NAME,'') + ISNULL(CUSTOMER_MIDDLE_NAME,'') +  ISNULL(CUSTOMER_LAST_NAME,'')
	 FROM CLT_CUSTOMER_LIST WITH(NOLOCK)     
	 WHERE CUSTOMER_ID = @CUSTOMER_ID    
	 --Fetch Policy Number  
	 SELECT @TRAN_DESC = POLICY_NUMBER FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK) WHERE CUSTOMER_ID= @CUSTOMER_ID 
	 AND POLICY_ID = @POLICY_ID 
	 SET @TRAN_DESC = @TRAN_DESC + ' ' + CAST(@POLICY_VERSION_ID AS VARCHAR) + '.0'  

--End Info Posting


--===Posting
IF (@IS_POSTING = 0)
  
BEGIN
      ---CREATE OPEN_ITEMS
	 INSERT INTO ACT_CUSTOMER_OPEN_ITEMS(      
	 UPDATED_FROM,SOURCE_ROW_ID,      
	 SOURCE_NUM,SOURCE_TRAN_DATE,SOURCE_EFF_DATE,POSTING_DATE,TOTAL_DUE,      
	 TOTAL_PAID,AGENCY_COMM_APPLIES,AGENCY_COMM_PERC,AGENCY_COMM_AMT,      
	 AGENCY_ID,CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,PAYMENT_DATE,      
	 DATE_FULL_PAID,PAYMENT_STATUS,NOT_COUNTED_RECEIVABLE,PAYOR_TYPE,DIV_ID,      
	 DEPT_ID,PC_ID,IS_TEMP_ENTRY,IN_RECON,IS_PREBILL,BILL_CODE,      
	 GROSS_AMOUNT,ITEM_TRAN_CODE,ITEM_TRAN_CODE_TYPE,      
	 TRAN_ID,CASH_ACCOUNTING,RECUR_JOURNAL_VERSION,JE_RECON_COUNTER,      
	 AMT_IN_RECON,OPEN_RECON_CTR,LOB_ID,SUB_LOB_ID,COUNTRY_ID,STATE_ID,      
	 COMMISSION_TYPE,ITEM_STATUS,IS_CHECK_CREATED,ITEM_ORIGINAL_STATUS,      
	 TRANS_DESC,DUE_DATE,PROCESSED_AMOUNT_FOR_AGENCY,INSTALLMENT_ROW_ID,      
	 NET_PREMIUM,RISK_ID,RISK_TYPE      
	 )      
	 SELECT      
	 'W',NULL,      
	 NULL,GETDATE(),GETDATE(),GETDATE(),(@CUMULATIVE_WRITE_OFF_AMOUNT * -1),      
	 (@CUMULATIVE_WRITE_OFF_AMOUNT * -1),NULL,NULL,NULL,      
	 NULL,@CUSTOMER_ID,@POLICY_ID,@POLICY_VERSION_ID,NULL,      
	 NULL,NULL,NULL,NULL,NULL,      
	 NULL,NULL,NULL,NULL,NULL,NULL,      
	 NULL,'SBWF','PREM',      
	 NULL,NULL,NULL,NULL,      
	 NULL,NULL,NULL,NULL,NULL,NULL,      
	 NULL,NULL,NULL,NULL,      
	 'Premium write off',GETDATE(),(@CUMULATIVE_WRITE_OFF_AMOUNT * -1),NULL,      
	 NULL,NULL,NULL     

	 SET @IDENTITY_ID_ROW_ID = @@IDENTITY 
	 DECLARE @SOURCE_ROW_ID		INT
	 SET @SOURCE_ROW_ID  = @IDENTITY_ID_ROW_ID 
	--========================================POSTING=========================================================================
	---CREATE POSTINGS
		   

	  ---ACCOUNT POSTING PER CUSTOMER(FOR UNCOLLECTED PREMIUM)      
	  INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS          
	  (          
	  ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,          
	  SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_COMM_PERC,          
	  AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,          
	  POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,           
	  IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,           
	  SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,           
	  TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,          
	  IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME ,SOURCE_GROUP_ID,  
	  TRAN_ENTITY,TRAN_DESC  
	       
	  )          
	  SELECT           
	  @AST_UNCOLL_PRM_CUSTOMER, 'W', NULL, NULL, NULL,          
	  NULL, GETDATE(), GETDATE(), GETDATE(), (@CUMULATIVE_WRITE_OFF_AMOUNT) * -1, NULL,      
	  NULL, NULL, @CUSTOMER_ID,      
	  @POLICY_ID, @POLICY_VERSION_ID, NULL, NULL, NULL,      
	  NULL, NULL, ( @CUMULATIVE_WRITE_OFF_AMOUNT ) * -1, 'SBWF','PREM', NULL, @LOB_ID,     
	  NULL, NULL, @STATE_ID, NULL,      
	  NULL, NULL, NULL, NULL,      
	  NULL, NULL, NULL, NULL,NULL,NULL,  
	  @TRAN_ENTITY,@TRAN_DESC      
	     
	      
	  ---ACCOUNT POSTING PER CUSTOMER(FOR WRITTEN PREMIUM)      
	  INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS          
	  (          
	  ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,          
	  SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_COMM_PERC,         
	  AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,          
	  POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,           
	  IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,           
	  SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,           
	  TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,          
	  IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME ,SOURCE_GROUP_ID,  
	  TRAN_ENTITY,TRAN_DESC      
	  )          
	  SELECT           
	  @EXP_SMALL_BALANCE_WRITE_OFF, 'W', NULL, NULL, NULL,          
	  NULL, GETDATE(), GETDATE(), GETDATE(), (@CUMULATIVE_WRITE_OFF_AMOUNT), NULL,      
	  NULL, NULL, @CUSTOMER_ID,      
	  @POLICY_ID, @POLICY_VERSION_ID, NULL, NULL, NULL,      
	  NULL, NULL, ( @CUMULATIVE_WRITE_OFF_AMOUNT ), 'SBWF', 'PREM', NULL, @LOB_ID,  
	  NULL, NULL, @STATE_ID, NULL,    
	  NULL, NULL, NULL, NULL,      
	  NULL, NULL, NULL, NULL,NULL,NULL,  
	  @TRAN_ENTITY,@TRAN_DESC 

---CREATE RECOND GROUP

  SELECT @GROUP_ID = ISNULL(MAX(GROUP_ID), 0) + 1 FROM ACT_RECONCILIATION_GROUPS with(nolock)
  
  INSERT INTO ACT_RECONCILIATION_GROUPS    
  (    
   GROUP_ID, RECON_ENTITY_ID, RECON_ENTITY_TYPE, IS_COMMITTED,    
   DATE_COMMITTED, COMMITTED_BY, IS_ACTIVE, CREATED_BY, CREATED_DATETIME,    
   MODIFIED_BY, LAST_UPDATED_DATETIME, CD_LINE_ITEM_ID    
  )    
  VALUES    
  (    
   @GROUP_ID, @CUSTOMER_ID, 'CUST', 'Y',     
   GETDATE(), @USER_ID, 'Y', @USER_ID, GETDATE(),    
   NULL, NULL, NULL    
  )    

--Recon Details 1 Entry . Total Sum
 INSERT INTO ACT_CUSTOMER_RECON_GROUP_DETAILS    
   (    
   GROUP_ID, ITEM_TYPE, ITEM_REFERENCE_ID, SUB_LEDGER_TYPE, RECON_AMOUNT,    
   NOTE, DIV_ID, DEPT_ID, PC_ID    
   )    
   VALUES    
   (    
   @GROUP_ID, 'CUST', @IDENTITY_ID_ROW_ID, 'CUST', @CUMULATIVE_WRITE_OFF_AMOUNT,    
   NULL, NULL, NULL, NULL    
   )    

END


--===========================================UPDATE OPEN_ITEMS===============================


	UPDATE ACT_CUSTOMER_OPEN_ITEMS 
	SET
	TOTAL_PAID = ISNULL(TOTAL_PAID,0) + @WRITE_OFF_AMOUNT,
	PROCESSED_AMOUNT_FOR_AGENCY = ISNULL(PROCESSED_AMOUNT_FOR_AGENCY,0) + @WRITE_OFF_AMOUNT ,
	WRITE_OFF_AMOUNT = @WRITE_OFF_AMOUNT
	WHERE IDEN_ROW_ID = @IDEN_ROW_ID


	DECLARE @HOME_EMP 		CHAR(1) 

	SELECT  @HOME_EMP = CASE ISNULL(IS_HOME_EMP, 0) WHEN 1 THEN 'Y' ELSE 'N' END
	FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK)
	WHERE POLICY_ID = @POLICY_ID 	AND POLICY_VERSION_ID = @POLICY_VERSION_ID AND CUSTOMER_ID = @CUSTOMER_ID

	--Ravindra(12-10-2008): No commission entry required for Home Employee
	IF @HOME_EMP <> 'Y'
	BEGIN 

		--Get Trans Entity of AGency
			DECLARE @AGENCY_ID INT

		SELECT  
			@TRAN_ENTITY = ISNULL(AGENCY_DISPLAY_NAME,''),
			@AGENCY_ID = MNT.AGENCY_ID
			FROM  ACT_CUSTOMER_OPEN_ITEMS OI
			LEFT OUTER JOIN  MNT_AGENCY_LIST MNT ON MNT.AGENCY_ID = OI.AGENCY_ID
			WHERE IDEN_ROW_ID = @IDEN_ROW_ID


		--Calculate Commision Percenrage of Write of Amount:
			DECLARE @AGENCY_COMM_PERC DECIMAL (18,2)
			DECLARE @AGENCY_COMM_AMT DECIMAL (18,2)
--			DECLARE @SOURCE_ROW_ID INT

		SELECT 
			@AGENCY_COMM_PERC  = ISNULL(AGENCY_COMM_PERC,0)
			--@SOURCE_ROW_ID  = SOURCE_ROW_ID		
			FROM ACT_CUSTOMER_OPEN_ITEMS WITH(NOLOCK) 
			WHERE IDEN_ROW_ID = @IDEN_ROW_ID --50741

			SET @AGENCY_COMM_AMT =  ( (@WRITE_OFF_AMOUNT * @NET_PREMIUM/@GROSS_AMOUNT) * @AGENCY_COMM_PERC ) / 100

		--Posting of Commission AMount
			DECLARE @COMMISSION_TYPE_CODE VARCHAR(10)	
			SET @COMMISSION_TYPE_CODE = 'ENDC'
			DECLARE @ITEM_TRAN_CODE_TYPE    VARCHAR(5)
			SET @ITEM_TRAN_CODE_TYPE ='COM'

			
			---ACCOUNT POSTING PER CUSTOMER(FOR COMM_PAYABLE_ACCOUNT)     (+) 
           --Condition added For Itrack Issue #5866.	
           IF(ISNULL(@AGENCY_COMM_AMT,0)  <> 0.00 )     
             BEGIN 
			  INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS          
			  (          
			  ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,          
			  SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_COMM_PERC,          
			  AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,          
			  POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,           
			  IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,           
			  SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,           
			  TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,          
			  IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME ,SOURCE_GROUP_ID,  
			  TRAN_ENTITY,TRAN_DESC  
			       
			  )          
			  SELECT           
			  @COMM_PAYABLE_ACCOUNT, 'W', NULL, NULL, NULL,          
			  NULL, GETDATE(), GETDATE(), GETDATE(), (@AGENCY_COMM_AMT), @AGENCY_COMM_PERC,      
			  @AGENCY_COMM_AMT , @AGENCY_ID, @CUSTOMER_ID,      
			  @POLICY_ID, @POLICY_VERSION_ID, NULL, NULL, NULL,      
			  NULL, NULL, ( @WRITE_OFF_AMOUNT ) * -1, @COMMISSION_TYPE_CODE,@ITEM_TRAN_CODE_TYPE, NULL, @LOB_ID,     
			  NULL, NULL, @STATE_ID, NULL,      
			  NULL, NULL, NULL, NULL,      
			  NULL, NULL, NULL, NULL,NULL,NULL,  
			  @TRAN_ENTITY,@TRAN_DESC     
		     
		       
			 
			  ---ACCOUNT POSTING PER CUSTOMER(FOR COMM_EXPENSE_ACCOUNT) Commission Expense Account   (-)   
			  INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS      
			  (          
			  ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,          
			  SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_COMM_PERC,         
			  AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,          
			  POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,           
			  IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,           
			  SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,           
			  TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,          
			  IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME ,SOURCE_GROUP_ID,  
			  TRAN_ENTITY,TRAN_DESC      
			  )          
			  SELECT     --    @COMM_EXPENSE_ACCOUNT 
			  @EXP_SMALL_BALANCE_WRITE_OFF, 'W', NULL, NULL, NULL,          
			  NULL, GETDATE(), GETDATE(), GETDATE(), @AGENCY_COMM_AMT * -1, @AGENCY_COMM_PERC,      
			  @AGENCY_COMM_AMT * -1 , @AGENCY_ID, @CUSTOMER_ID,      
			  @POLICY_ID, @POLICY_VERSION_ID, NULL, NULL, NULL,      
			  NULL, NULL, @WRITE_OFF_AMOUNT , @COMMISSION_TYPE_CODE, @ITEM_TRAN_CODE_TYPE, NULL, @LOB_ID,  
			  NULL, NULL, @STATE_ID, NULL,      
			  NULL, NULL, NULL, NULL,      
			  NULL, NULL, NULL, NULL,NULL,NULL,  
			  @TRAN_ENTITY,@TRAN_DESC  
           END 
		--end posting of Commission Amount

--Addition by Shikha for 4988.
	  IF EXISTS (SELECT IDEN_ROW_ID FROM ACT_AGENCY_OPEN_ITEMS 
			WHERE ITEM_TRAN_CODE = 'PIC' AND CUSTOMER_ID = @CUSTOMER_ID
			AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID)
		BEGIN
			--Calculate Commission for PIC
			DECLARE @AGENCY_PIC_COMM_PERC DECIMAL (18,2)
			DECLARE @AGENCY_PIC_COMM_AMT DECIMAL (18,2)

			SELECT 
			@AGENCY_PIC_COMM_PERC  = ISNULL(AGENCY_COMM_PERC,0)
			FROM ACT_AGENCY_OPEN_ITEMS WITH(NOLOCK) 
			WHERE ITEM_TRAN_CODE = 'PIC' AND CUSTOMER_ID = @CUSTOMER_ID
			AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID

			SET @AGENCY_PIC_COMM_AMT =  ((@WRITE_OFF_AMOUNT *@NET_PREMIUM/@GROSS_AMOUNT) * @AGENCY_PIC_COMM_PERC ) / 100

			DECLARE @PIC_COMMISSION_TYPE_CODE VARCHAR(10)	
			SET @PIC_COMMISSION_TYPE_CODE = 'PIC'
			DECLARE @PIC_ITEM_TRAN_CODE_TYPE    VARCHAR(5)
			SET @PIC_ITEM_TRAN_CODE_TYPE ='COM'

		  --Condition added For Itrack Issue #5866.	
           IF(ISNULL(@AGENCY_PIC_COMM_AMT,0)  <> 0.00 )	
        BEGIN 	
          INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS          
			  (          
			  ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,          
			  SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_COMM_PERC,          
			  AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,          
			  POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,           
			  IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,           
			  SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,           
			  TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,          
			  IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME ,SOURCE_GROUP_ID,  
			  TRAN_ENTITY,TRAN_DESC  
			       
			  )          
			  SELECT           
			  @COMM_PAYABLE_ACCOUNT, 'W', NULL, NULL, NULL,          
			  NULL, GETDATE(), GETDATE(), GETDATE(), (@AGENCY_PIC_COMM_AMT), @AGENCY_PIC_COMM_PERC,      
			  @AGENCY_PIC_COMM_AMT , @AGENCY_ID, @CUSTOMER_ID,      
			  @POLICY_ID, @POLICY_VERSION_ID, NULL, NULL, NULL,      
			  NULL, NULL, ( @WRITE_OFF_AMOUNT ) * -1, @PIC_COMMISSION_TYPE_CODE,
				@PIC_ITEM_TRAN_CODE_TYPE, NULL, @LOB_ID,     
			  NULL, NULL, @STATE_ID, NULL,      
			  NULL, NULL, NULL, NULL,      
			  NULL, NULL, NULL, NULL,NULL,NULL,  
			  @TRAN_ENTITY,@TRAN_DESC     
		     
		       
			 
			  ---ACCOUNT POSTING PER CUSTOMER(FOR COMM_EXPENSE_ACCOUNT) Commission Expense Account   (-)   
			  INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS      
			  (          
			  ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,          
			  SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_COMM_PERC,         
			  AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,          
			  POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,           
			  IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,           
			  SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,           
			  TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,          
			  IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME ,SOURCE_GROUP_ID,  
			  TRAN_ENTITY,TRAN_DESC      
			  )          
			  SELECT     --    @COMM_EXPENSE_ACCOUNT 
			  @EXP_SMALL_BALANCE_WRITE_OFF, 'W', NULL, NULL, NULL,          
			  NULL, GETDATE(), GETDATE(), GETDATE(), @AGENCY_PIC_COMM_AMT * -1, @AGENCY_PIC_COMM_PERC,      
			  @AGENCY_PIC_COMM_AMT * -1 , @AGENCY_ID, @CUSTOMER_ID,      
			  @POLICY_ID, @POLICY_VERSION_ID, NULL, NULL, NULL,      
			  NULL, NULL, @WRITE_OFF_AMOUNT , @PIC_COMMISSION_TYPE_CODE, @PIC_ITEM_TRAN_CODE_TYPE, NULL, @LOB_ID,  
			  NULL, NULL, @STATE_ID, NULL,      
			  NULL, NULL, NULL, NULL,      
			  NULL, NULL, NULL, NULL,NULL,NULL,  
			  @TRAN_ENTITY,@TRAN_DESC
            END
			 --AGENCY DETAIL ENTRY DETAILED
				DECLARE @NOT_COUNTED_RECEIVABLE INT
				SET @NOT_COUNTED_RECEIVABLE = 1
				
				

				INSERT INTO ACT_AGENCY_STATEMENT_DETAILED
				(
					MONTH_NUMBER,	AGENCY_ID,	POLICY_ID,	POLICY_VERSION_ID,
					CUSTOMER_ID,	SOURCE_EFF_DATE,PREMIUM_AMOUNT,	COMMISSION_RATE,
					SOURCE_ROW_ID ,	MONTH_YEAR,	TRAN_TYPE,	AMOUNT_FOR_CALCULATION,
					COMMISSION_AMOUNT,	DUE_AMOUNT,	CUSTOMER_OPEN_ITEM_ID ,	GROSS_PREMIUM,	TRAN_CODE,	COMM_TYPE,
					BILL_TYPE,	UPDATED_FROM,	NOT_COUNTED_RECEIVABLE
				)
				VALUES 
				(
					MONTH(GETDATE()), @AGENCY_ID, 	@POLICY_ID,	@POLICY_VERSION_ID,
					@CUSTOMER_ID,	 GETDATE(),	@WRITE_OFF_AMOUNT,	@AGENCY_PIC_COMM_PERC,
					@SOURCE_ROW_ID,	YEAR(GETDATE()),	@PIC_ITEM_TRAN_CODE_TYPE,	@WRITE_OFF_AMOUNT,
					@AGENCY_PIC_COMM_AMT * -1 , @AGENCY_PIC_COMM_AMT * -1 , @IDEN_ROW_ID , @WRITE_OFF_AMOUNT, @PIC_COMMISSION_TYPE_CODE,'REG',
	 				@BILL_TYPE, 'W' ,@NOT_COUNTED_RECEIVABLE
				)

		END
--End of Addition by Shikha.

		--AGENCY DETAIL ENTRY DETAILED
		--DECLARE @NOT_COUNTED_RECEIVABLE INT
			SET @NOT_COUNTED_RECEIVABLE = 1
			
			

			INSERT INTO ACT_AGENCY_STATEMENT_DETAILED
			(
				MONTH_NUMBER,	AGENCY_ID,	POLICY_ID,	POLICY_VERSION_ID,
				CUSTOMER_ID,	SOURCE_EFF_DATE,PREMIUM_AMOUNT,	COMMISSION_RATE,
				SOURCE_ROW_ID ,	MONTH_YEAR,	TRAN_TYPE,	AMOUNT_FOR_CALCULATION,
				COMMISSION_AMOUNT,	DUE_AMOUNT,	CUSTOMER_OPEN_ITEM_ID ,	GROSS_PREMIUM,	TRAN_CODE,	COMM_TYPE,
				BILL_TYPE,	UPDATED_FROM,	NOT_COUNTED_RECEIVABLE
			)
			VALUES 
			(
				MONTH(GETDATE()), @AGENCY_ID, 	@POLICY_ID,	@POLICY_VERSION_ID,
				@CUSTOMER_ID,	 GETDATE(),	@WRITE_OFF_AMOUNT,	@AGENCY_COMM_PERC,
				@SOURCE_ROW_ID,	YEAR(GETDATE()),	@ITEM_TRAN_CODE_TYPE,	@WRITE_OFF_AMOUNT,
				@AGENCY_COMM_AMT * -1 , @AGENCY_COMM_AMT * -1 , @IDEN_ROW_ID , @WRITE_OFF_AMOUNT, @COMMISSION_TYPE_CODE,'REG',
	 			@BILL_TYPE, 'W' ,@NOT_COUNTED_RECEIVABLE
			)

		--END AGENCY DETAIL ENTRY DETAILED
	END


--======================================END UPDATE WRITE OFF AMOUNT ============================================
------------------------------------INSERT GROUP DETAILS
IF(@GROUP_DETAIL_ID = 0)
SET @GROUP_DETAIL_ID = @GROUP_ID

SELECT @GROUP_ID = @GROUP_DETAIL_ID

 INSERT INTO ACT_CUSTOMER_RECON_GROUP_DETAILS    
   (    
   GROUP_ID, ITEM_TYPE, ITEM_REFERENCE_ID, SUB_LEDGER_TYPE, RECON_AMOUNT,    
   NOTE, DIV_ID, DEPT_ID, PC_ID    
   )    
   VALUES    
   (    
   @GROUP_DETAIL_ID, 'CUST', @IDEN_ROW_ID, 'CUST', @WRITE_OFF_AMOUNT,    
   NULL, NULL, NULL, NULL    
   )    




--
--go
----
--declare @OUT int  
--exec Proc_Premium_WriteOffAmount 77997,128.0,128.0,'1/11/2010',0,302,  @OUT out , 0
--select @OUT
--rollback tran 
--






GO

