IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_UpdateCustomer_InsuranceScore]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_UpdateCustomer_InsuranceScore]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*
Proc Name    : dbo.Proc_UpdateCustomer_InsuranceScore                      
Created by   : Pravesh K. Chandel                    
Date         : 18 jan 2007               
Purpose     : Updated Insurance Score of Client as well as app and pol with status suspended and process_id in (4,5,19,24)                    
Revison History :                  
Used In  :   Wolverine   
drop proc dbo.Proc_UpdateCustomer_InsuranceScore
*/
create proc [dbo].[Proc_UpdateCustomer_InsuranceScore]
(
 @CUSTOMER_ID     int ,  
 @CUSTOMER_INSURANCE_SCORE int
)
as
BEGIN


DECLARE @CUSTOMER_REASON_CODE NVARCHAR(10)
DECLARE @CUSTOMER_REASON_CODE2 NVARCHAR(10)
DECLARE @CUSTOMER_REASON_CODE3 NVARCHAR(10)
DECLARE @CUSTOMER_REASON_CODE4 NVARCHAR(10)


SELECT @CUSTOMER_REASON_CODE = CUSTOMER_REASON_CODE,
		@CUSTOMER_REASON_CODE2 = CUSTOMER_REASON_CODE2,
		@CUSTOMER_REASON_CODE3 = CUSTOMER_REASON_CODE3,
		@CUSTOMER_REASON_CODE4 = CUSTOMER_REASON_CODE4
FROM CLT_CUSTOMER_LIST with(nolock) WHERE CUSTOMER_ID = @CUSTOMER_ID

---- BY PRAVESH  UPDATE APPLY INSURANCE SCORE IN APP LIST FOR IMCOMPLETE APPLICATION    
IF EXISTS (SELECT APP_ID FROM APP_LIST with(nolock) WHERE CUSTOMER_ID=@CUSTOMER_ID AND UPPER(APP_STATUS)='INCOMPLETE')     
 BEGIN    
	 UPDATE APP_LIST
       SET APPLY_INSURANCE_SCORE = @CUSTOMER_INSURANCE_SCORE ,
        CUSTOMER_REASON_CODE = @CUSTOMER_REASON_CODE,
		CUSTOMER_REASON_CODE2 = @CUSTOMER_REASON_CODE2,
		CUSTOMER_REASON_CODE3 = @CUSTOMER_REASON_CODE3,
		CUSTOMER_REASON_CODE4 = @CUSTOMER_REASON_CODE4   

WHERE CUSTOMER_ID=@CUSTOMER_ID AND UPPER(APP_STATUS)='INCOMPLETE'    
 END    
--FOR POLICY    
IF EXISTS (SELECT POLICY_ID FROM POL_CUSTOMER_POLICY_LIST with(nolock) WHERE CUSTOMER_ID=@CUSTOMER_ID AND UPPER(POLICY_STATUS)='SUSPENDED')    
 BEGIN    
 	UPDATE POL_CUSTOMER_POLICY_LIST 
      SET APPLY_INSURANCE_SCORE = @CUSTOMER_INSURANCE_SCORE,
        CUSTOMER_REASON_CODE  = @CUSTOMER_REASON_CODE,
		CUSTOMER_REASON_CODE2 = @CUSTOMER_REASON_CODE2,
		CUSTOMER_REASON_CODE3 = @CUSTOMER_REASON_CODE3,
		CUSTOMER_REASON_CODE4 = @CUSTOMER_REASON_CODE4  

WHERE CUSTOMER_ID=@CUSTOMER_ID AND UPPER(POLICY_STATUS)='SUSPENDED'    
 END    
IF EXISTS (    
	 SELECT PLL.POLICY_ID FROM POL_CUSTOMER_POLICY_LIST PLL with(nolock)   
	 INNER JOIN POL_POLICY_PROCESS PLP with(nolock) ON PLL.CUSTOMER_ID=PLP.CUSTOMER_ID    
	 AND PLL.POLICY_ID=PLP.POLICY_ID AND PLL.POLICY_VERSION_ID=PLP.NEW_POLICY_VERSION_ID    
	 WHERE PLL.CUSTOMER_ID=@CUSTOMER_ID     
        )    
 BEGIN 
/*   
	 UPDATE POL_CUSTOMER_POLICY_LIST 
       SET APPLY_INSURANCE_SCORE = @CUSTOMER_INSURANCE_SCORE ,
        CUSTOMER_REASON_CODE = @CUSTOMER_REASON_CODE,
		CUSTOMER_REASON_CODE2 = @CUSTOMER_REASON_CODE2,
		CUSTOMER_REASON_CODE3 = @CUSTOMER_REASON_CODE3,
		CUSTOMER_REASON_CODE4 = @CUSTOMER_REASON_CODE4
   
	  WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID IN     
	   (    
	   SELECT PLL.POLICY_ID FROM POL_CUSTOMER_POLICY_LIST PLL with(nolock)   
	   INNER JOIN POL_POLICY_PROCESS PLP with(nolock) ON PLL.CUSTOMER_ID=PLP.CUSTOMER_ID    
	   AND PLL.POLICY_ID=PLP.POLICY_ID AND PLL.POLICY_VERSION_ID=PLP.NEW_POLICY_VERSION_ID    
	   WHERE PLL.CUSTOMER_ID=@CUSTOMER_ID and PLP.PROCESS_ID IN(4,5,19,24)  AND PLP.PROCESS_STATUS='PENDING'     
	   )    
	   AND POLICY_VERSION_ID IN    
	   (    
	   SELECT PLL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST PLL with(nolock)   
	   INNER JOIN POL_POLICY_PROCESS PLP with(nolock) ON PLL.CUSTOMER_ID=PLP.CUSTOMER_ID    
	   AND PLL.POLICY_ID=PLP.POLICY_ID AND PLL.POLICY_VERSION_ID=PLP.NEW_POLICY_VERSION_ID    
	   WHERE PLL.CUSTOMER_ID=@CUSTOMER_ID and PLP.PROCESS_ID IN(4,5,19,24)  AND PLP.PROCESS_STATUS='PENDING'     
	   )    
*/
	 UPDATE PLL 
		   SET PLL.APPLY_INSURANCE_SCORE = @CUSTOMER_INSURANCE_SCORE ,
			PLL.CUSTOMER_REASON_CODE = @CUSTOMER_REASON_CODE,
			PLL.CUSTOMER_REASON_CODE2 = @CUSTOMER_REASON_CODE2,
			PLL.CUSTOMER_REASON_CODE3 = @CUSTOMER_REASON_CODE3,
			PLL.CUSTOMER_REASON_CODE4 = @CUSTOMER_REASON_CODE4
	FROM POL_CUSTOMER_POLICY_LIST PLL with(nolock)
		INNER JOIN POL_POLICY_PROCESS PLP with(nolock) ON PLL.CUSTOMER_ID=PLP.CUSTOMER_ID    
		   AND PLL.POLICY_ID=PLP.POLICY_ID AND PLL.POLICY_VERSION_ID=PLP.NEW_POLICY_VERSION_ID  
			and PLP.PROCESS_ID IN(4,5,19,24)  AND PLP.PROCESS_STATUS='PENDING'  
	 WHERE PLL.CUSTOMER_ID=@CUSTOMER_ID

 

 END      


END




GO

