IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_INSERTAPP_HOME_OWNER_SCH_ITEMS_CVGS_DETAIL]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_INSERTAPP_HOME_OWNER_SCH_ITEMS_CVGS_DETAIL]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


--DROP PROC dbo.PROC_INSERTAPP_HOME_OWNER_SCH_ITEMS_CVGS_DETAIL
CREATE PROC dbo.PROC_INSERTAPP_HOME_OWNER_SCH_ITEMS_CVGS_DETAIL
(
@CUSTOMER_ID     INT,
@APP_ID     INT,
@APP_VERSION_ID     INT,
@ITEM_ID     INT,
@ITEM_DETAIL_ID     INT OUTPUT,
@ITEM_NUMBER     NVARCHAR(20),
@ITEM_DESCRIPTION     NVARCHAR(2000),
@ITEM_SERIAL_NUMBER     NVARCHAR(1000),
@ITEM_INSURING_VALUE     MONEY,
@ITEM_APPRAISAL_BILL     NCHAR(4),
@ITEM_PICTURE_ATTACHED     NCHAR(4)
)
AS
BEGIN

-- Check whether Scheduled Items/ Coverages have been saved or not
if not exists(select item_id from APP_HOME_OWNER_SCH_ITEMS_CVGS where ITEM_ID=@ITEM_ID and CUSTOMER_ID = @CUSTOMER_ID and APP_ID = @APP_ID and APP_VERSION_ID = @APP_VERSION_ID)
Begin
	SET @ITEM_DETAIL_ID = -2
	return 
End


--CHECK THAT ITEM NUMER IS EXISTING OR NOT IN THIS CATEGORY OR NOT
if exists (SELECT * FROM APP_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS WHERE CUSTOMER_ID = @CUSTOMER_ID AND APP_ID = @APP_ID AND APP_VERSION_ID  = @APP_VERSION_ID AND ITEM_ID = @ITEM_ID AND ITEM_NUMBER = @ITEM_NUMBER)
Begin
	SET @ITEM_DETAIL_ID = -1
	return 
End 


SELECT @ITEM_DETAIL_ID=ISNULL(MAX(ITEM_DETAIL_ID),0)+1 FROM APP_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS
WHERE 
CUSTOMER_ID = @CUSTOMER_ID
AND APP_ID = @APP_ID
AND APP_VERSION_ID  = @APP_VERSION_ID
AND ITEM_ID = @ITEM_ID

INSERT INTO APP_HOME_OWNER_SCH_ITEMS_CVGS_DETAILS
(
	CUSTOMER_ID,
	APP_ID,
	APP_VERSION_ID,
	ITEM_ID,
	ITEM_DETAIL_ID,
	ITEM_NUMBER,
	ITEM_DESCRIPTION,
	ITEM_SERIAL_NUMBER,
	ITEM_INSURING_VALUE,
	ITEM_APPRAISAL_BILL,
	ITEM_PICTURE_ATTACHED,
	IS_ACTIVE
)
VALUES
(
	@CUSTOMER_ID,
	@APP_ID,
	@APP_VERSION_ID,
	@ITEM_ID,
	@ITEM_DETAIL_ID,
	@ITEM_NUMBER,
	@ITEM_DESCRIPTION,
	@ITEM_SERIAL_NUMBER,
	@ITEM_INSURING_VALUE,
	@ITEM_APPRAISAL_BILL,
	@ITEM_PICTURE_ATTACHED,
	'Y'
)
END










GO

