IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetAPP_UMBRELLA_GEN_INFOByID]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetAPP_UMBRELLA_GEN_INFOByID]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


--DROP PROC dbo.Proc_GetAPP_UMBRELLA_GEN_INFOByID 
CREATE PROC dbo.Proc_GetAPP_UMBRELLA_GEN_INFOByID          
(          
 @CUSTOMER_ID     int,          
 @APP_ID     int,          
 @APP_VERSION_ID     smallint          
)          
          
AS          
          
BEGIN          
 SELECT          
  ANY_AIRCRAFT_OWNED_LEASED,          
  ANY_OPERATOR_CON_TRAFFIC,          
  ANY_OPERATOR_IMPIRED,          
  ANY_SWIMMING_POOL,          
  REAL_STATE_VEHICLE_USED,          
  REAL_STATE_VEH_OWNED_HIRED,          
  ENGAGED_IN_FARMING,          
  HOLD_NON_COMP_POSITION,          
  ANY_FULL_TIME_EMPLOYEE,          
  NON_OWNED_PROPERTY_CARE,          
  BUSINESS_PROF_ACTIVITY,          
  REDUCED_LIMIT_OF_LIBLITY,          
  ANIMALS_EXO_PETS_HISTORY,          
  ANY_COVERAGE_DECLINED,          
  ANIMALS_EXOTIC_PETS,          
  INSU_TRANSFERED_IN_AGENCY,          
  PENDING_LITIGATIONS,          
  IS_TEMPOLINE,          
  REMARKS,        
  ANY_AIRCRAFT_OWNED_LEASED_DESC,        
  ANY_OPERATOR_CON_TRAFFIC_DESC,        
  ANY_OPERATOR_IMPIRED_DESC,        
  ANY_SWIMMING_POOL_DESC,        
  REAL_STATE_VEHICLE_USED_DESC,        
  REAL_STATE_VEH_OWNED_HIRED_DESC,        
  ENGAGED_IN_FARMING_DESC,      
  HOLD_NON_COMP_POSITION_DESC,      
  ANY_FULL_TIME_EMPLOYEE_DESC,      
  NON_OWNED_PROPERTY_CARE_DESC,      
  BUSINESS_PROF_ACTIVITY_DESC,      
  REDUCED_LIMIT_OF_LIBLITY_DESC,      
  ANIMALS_EXOTIC_PETS_DESC,      
  ANY_COVERAGE_DECLINED_DESC,      
  INSU_TRANSFERED_IN_AGENCY_DESC,      
  PENDING_LITIGATIONS_DESC,      
  IS_TEMPOLINE_DESC,      
  HAVE_NON_OWNED_AUTO_POL_DESC,      
  INS_DOMICILED_OUTSIDE_DESC,      
  HOME_DAY_CARE_DESC,      
  HAVE_NON_OWNED_AUTO_POL,      
  INS_DOMICILED_OUTSIDE,      
  HOME_DAY_CARE,    
  CALCULATIONS,      
  HOME_RENT_DWELL,      
  HOME_RENT_DWELL_DESC,      
  WAT_DWELL,      
  WAT_DWELL_DESC,      
  RECR_VEH,      
  RECR_VEH_DESC,      
  AUTO_CYCL_TRUCKS,      
  AUTO_CYCL_TRUCKS_DESC,      
  APPLI_UNDERSTAND_LIABILITY_EXCLUDED,      
  APPLI_UNDERSTAND_LIABILITY_EXCLUDED_DESC,      
  UND_REMARKS,   
  OFFICE_PREMISES,  
  RENTAL_DWELLINGS_UNIT,
  FAMILIES        
            
 FROM APP_UMBRELLA_GEN_INFO          
 WHERE CUSTOMER_ID = @CUSTOMER_ID AND          
  APP_ID = @APP_ID AND          
  APP_VERSION_ID = @APP_VERSION_ID          
           
END          
          
          
        
      
    
  



GO

