IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetPDFAutoOperatorExpDtls]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetPDFAutoOperatorExpDtls]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO




--DROP PROCEDURE Proc_GetPDFOperatorExpDtls
CREATE  PROCEDURE dbo.Proc_GetPDFAutoOperatorExpDtls
(
	@CUSTOMERID 		int,
	@POLID 	             	int,
	@VERSIONID 		int,
	@CALLEDFROM		VARCHAR(20)
)
AS
BEGIN
	IF (@CALLEDFROM='APPLICATION')
	BEGIN

		SELECT 
			MI.DRIVER_ID,MI.VIOLATION_ID,LTRIM(RTRIM(STR(BOAT_NO))) + '/' + LTRIM(RTRIM(STR(DD.DRIVER_ID))) OPERATORNO,
			MV.VIOLATION_DES + ' (Dated - ' + ISNULL(CONVERT(VARCHAR(11),MVR_DATE,101),'') + ')-' + CASE DD.CERT_COAST_GUARD WHEN '10963' THEN 'Coast Guard or Power Squadron Certificate' ELSE '' END EXPDESCRIPTION
		FROM APP_WATER_MVR_INFORMATION MI
			INNER JOIN APP_WATERCRAFT_DRIVER_DETAILS DD ON MI.CUSTOMER_ID=DD.CUSTOMER_ID AND MI.APP_ID=DD.APP_ID AND MI.APP_VERSION_ID=DD.APP_VERSION_ID AND MI.DRIVER_ID=DD.DRIVER_ID
			INNER JOIN APP_WATERCRAFT_INFO WI ON WI.CUSTOMER_ID=DD.CUSTOMER_ID AND WI.APP_ID=DD.APP_ID AND WI.APP_VERSION_ID=DD.APP_VERSION_ID AND WI.BOAT_ID=DD.VEHICLE_ID
			INNER JOIN MNT_VIOLATIONS MV ON MV.VIOLATION_ID=MI.VIOLATION_ID
		WHERE MI.CUSTOMER_ID=@CUSTOMERID AND MI.APP_ID=@POLID AND MI.APP_VERSION_ID=@VERSIONID and mi.is_active='Y'
		ORDER BY DD.DRIVER_ID,BOAT_NO,DRIVER_FNAME,DRIVER_MNAME,DRIVER_LNAME
	END
	ELSE IF (@CALLEDFROM='POLICY')
	BEGIN
		SELECT 
			MI.DRIVER_ID,MI.VIOLATION_ID,LTRIM(RTRIM(STR(BOAT_NO))) + '/' + LTRIM(RTRIM(STR(DD.DRIVER_ID))) OPERATORNO,
			MV.VIOLATION_DES + ' (Dated - ' + ISNULL(CONVERT(VARCHAR(11),MVR_DATE,101),'') + ')- ' + CASE DD.CERT_COAST_GUARD WHEN '10963' THEN 'Coast Guard or Power Squadron Certificate' ELSE '' END EXPDESCRIPTION
		FROM POL_WATERCRAFT_MVR_INFORMATION MI
			INNER JOIN POL_WATERCRAFT_DRIVER_DETAILS DD ON MI.CUSTOMER_ID=DD.CUSTOMER_ID AND MI.POLICY_ID=DD.POLICY_ID AND MI.POLICY_VERSION_ID=DD.POLICY_VERSION_ID AND MI.DRIVER_ID=DD.DRIVER_ID
			INNER JOIN POL_WATERCRAFT_INFO WI ON WI.CUSTOMER_ID=DD.CUSTOMER_ID AND WI.POLICY_ID=DD.POLICY_ID AND WI.POLICY_VERSION_ID=DD.POLICY_VERSION_ID AND WI.BOAT_ID=DD.VEHICLE_ID
			INNER JOIN MNT_VIOLATIONS MV ON MV.VIOLATION_ID=MI.VIOLATION_ID
		WHERE MI.CUSTOMER_ID=@CUSTOMERID AND MI.POLICY_ID=@POLID AND MI.POLICY_VERSION_ID=@VERSIONID and mi.is_active='Y'
		ORDER BY DD.DRIVER_ID,BOAT_NO,DRIVER_FNAME,DRIVER_MNAME,DRIVER_LNAME
	END
END














GO

