IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_MakeClaimsReport_MOT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_MakeClaimsReport_MOT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN 
--DROP PROC dbo.Proc_MakeClaimsReport_MOT 
--GO 

/*----------------------------------------------------------                                                                            
Proc Name       : dbo.Proc_MakeClaimsReport_MOT                                         
Created by      : Shikha Dixit                                                                     
Date            : 16/07/2009                                                                          
Purpose         : Generates sum of Claims amount :- state, lob, month, year wise                      
Revewed by      :                                                                          
Revison History :                                                                          
Used In         : Wolverine                                                                              
------------------------------------------------------------                                                                            
Date     Review By          Comments                                                                            
------   ------------       -------------------------*/                                                                            
--DROP PROC dbo.Proc_MakeClaimsReport_MOT 7 , 2009 
CREATE PROC [dbo].[Proc_MakeClaimsReport_MOT]                                            
(                                        
	@MONTH int,
	@YEAR int,
	@STATE_ID varchar(50) = NULL
)                      
AS                                                                          
BEGIN        
          
CREATE TABLE #MOT_CLAIM_DETAIL
(
	LOB						VARCHAR(10),
	STATE_ID				INT,
	COVERAGE_ID				INT,
	AMOUNT					DECIMAL(18,2),
	DETAIL_TYPE_DESCRIPTION	VARCHAR(80),
	ACTV_MONTH				INT,
	ACTV_YEAR				INT,
	[LOSS TYPE]				Varchar(100)
)

INSERT INTO #MOT_CLAIM_DETAIL 
SELECT LOB,STATE_ID,
CASE WHEN IS_COLLISION = 'YES' AND COVERAGE_ID IN (203,219,1023,1024) THEN 8000
WHEN IS_COLLISION = 'NO' AND COVERAGE_ID IN (203,219,1023,1024) THEN 8001
ELSE COVERAGE_ID END AS COVERAGE_ID,
AMOUNT,DETAIL_TYPE_DESCRIPTION,ACTV_MONTH,ACTV_YEAR,[LOSS TYPE]
FROM VW_MakeClaimsReport_MOT
WHERE ACTV_MONTH <= @MONTH AND ACTV_YEAR = @YEAR

	CREATE TABLE #TEMP_COVERAGE_DETAILS
	(
		COV_ID		INT,
		COV_CODE	VARCHAR(50),
		COV_DES		VARCHAR(100),
		PERCENTAGE	INT
	)
	
INSERT INTO #TEMP_COVERAGE_DETAILS VALUES (126,'CSL','Single Limits Liability (CSL)',100)
INSERT INTO #TEMP_COVERAGE_DETAILS VALUES (127,'BI','Bodily Injury Liability (Split Limit)',100)
INSERT INTO #TEMP_COVERAGE_DETAILS VALUES (128,'PD','Property Damage Liability',100)
CREATE TABLE #TEMP
(
	LOB							VARCHAR(200),
	STATE						VARCHAR(50),
	LOSS_TYPE					VARCHAR(50),
	AMOUNT						DECIMAL(18,9),
	DETAIL_TYPE_DESCRIPTION		VARCHAR(100),
	ACTV_MONTH					INT,
	ACTV_YEAR					INT
)
DECLARE @MNTH	INT
DECLARE @YR		INT
SET @MNTH = 1
SET @YR = @YEAR
WHILE @MNTH <= @MONTH
BEGIN
	INSERT INTO #TEMP
		SELECT 'Motorcycle', 22,COV_CODE,'0.00','Other Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Motorcycle', 22,COV_CODE,'0.00','Legal Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Motorcycle', 22,COV_CODE,'0.00','Adjustment Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Motorcycle', 22,COV_CODE,'0.00','Salvage Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Motorcycle', 22,COV_CODE,'0.00','Subrogation Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Motorcycle', 22,COV_CODE,'0.00','Paid Loss',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Motorcycle', 22,COV_CODE,'0.00','Salvage',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS  UNION
		SELECT 'Motorcycle', 22,COV_CODE,'0.00','Subrogation',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Motorcycle', 22,COV_CODE,'0.00','Other',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		--********************--
		SELECT 'Motorcycle', 14,COV_CODE,'0.00','Other Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Motorcycle', 14,COV_CODE,'0.00','Legal Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Motorcycle', 14,COV_CODE,'0.00','Adjustment Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Motorcycle', 14,COV_CODE,'0.00','Salvage Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Motorcycle', 14,COV_CODE,'0.00','Subrogation Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Motorcycle', 14,COV_CODE,'0.00','Paid Loss',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Motorcycle', 14,COV_CODE,'0.00','Salvage',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS  UNION
		SELECT 'Motorcycle', 14,COV_CODE,'0.00','Subrogation',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Motorcycle', 14,COV_CODE,'0.00','Other',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		--*************************--
		SELECT 'Motorcycle', 49,COV_CODE,'0.00','Other Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Motorcycle', 49,COV_CODE,'0.00','Legal Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Motorcycle', 49,COV_CODE,'0.00','Adjustment Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Motorcycle', 49,COV_CODE,'0.00','Salvage Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Motorcycle', 49,COV_CODE,'0.00','Subrogation Expense',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Motorcycle', 49,COV_CODE,'0.00','Paid Loss',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Motorcycle', 49,COV_CODE,'0.00','Salvage',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS  UNION
		SELECT 'Motorcycle', 49,COV_CODE,'0.00','Subrogation',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS UNION
		SELECT 'Motorcycle', 49,COV_CODE,'0.00','Other',@MNTH,@YR FROM #TEMP_COVERAGE_DETAILS
		
SET @MNTH = @MNTH + 1
END
--SELECT * FROM #TEMP
IF (@STATE_ID IS NULL OR @STATE_ID = '')
BEGIN 
	SELECT LOB, MS.STATE_NAME, 
	/*CASE WHEN TEMP.COV_ID IN (203,219) THEN CASE WHEN VMM.[LOSS TYPE] = 124 THEN 'COLL' ELSE 'COMP' END
	ELSE TEMP.COV_CODE END AS LOSS_TYPE*/
	TEMP.COV_CODE AS LOSS_TYPE,SUM(AMOUNT)* TEMP.PERCENTAGE / 100 AS AMOUNT,DETAIL_TYPE_DESCRIPTION,ACTV_MONTH, ACTV_YEAR 
	FROM #MOT_CLAIM_DETAIL VMM
	INNER JOIN MNT_COUNTRY_STATE_LIST MS
	ON VMM.STATE_ID = MS.STATE_ID
	INNER JOIN #TEMP_COVERAGE_DETAILS TEMP
	ON VMM.COVERAGE_ID = TEMP.COV_ID
	--WHERE VMM.ACTV_MONTH <= @MONTH AND VMM.ACTV_YEAR = @YEAR
	GROUP BY LOB, MS.STATE_NAME, TEMP.COV_CODE, DETAIL_TYPE_DESCRIPTION,ACTV_MONTH, ACTV_YEAR,[LOSS TYPE],TEMP.COV_ID,
	TEMP.PERCENTAGE
	--ORDER BY ACTV_MONTH, ACTV_YEAR 
	UNION
	SELECT LOB, MS.STATE_NAME, LOSS_TYPE, SUM(AMOUNT)AS AMOUNT,DETAIL_TYPE_DESCRIPTION,
	ACTV_MONTH,ACTV_YEAR 
	FROM #TEMP T
	INNER JOIN MNT_COUNTRY_STATE_LIST MS
	ON T.STATE = MS.STATE_ID
	WHERE T.ACTV_MONTH <= @MONTH AND T.ACTV_YEAR = @YEAR
	GROUP BY LOB, MS.STATE_NAME, LOSS_TYPE, DETAIL_TYPE_DESCRIPTION,ACTV_MONTH, ACTV_YEAR
	ORDER BY ACTV_MONTH, ACTV_YEAR 	
END 
ELSE
BEGIN	
	SELECT LOB, MS.STATE_NAME, 
	/*CASE WHEN TEMP.COV_ID IN (203,219) THEN CASE WHEN VMM.[LOSS TYPE] = 124 THEN 'COLL' ELSE 'COMP' END
	ELSE TEMP.COV_CODE END AS LOSS_TYPE*/
	TEMP.COV_CODE AS LOSS_TYPE, SUM(AMOUNT)* TEMP.PERCENTAGE / 100 AS AMOUNT, DETAIL_TYPE_DESCRIPTION,ACTV_MONTH,ACTV_YEAR 
	FROM #MOT_CLAIM_DETAIL VMM
	INNER JOIN MNT_COUNTRY_STATE_LIST MS
	ON VMM.STATE_ID = MS.STATE_ID
	INNER JOIN #TEMP_COVERAGE_DETAILS TEMP
	ON VMM.COVERAGE_ID = TEMP.COV_ID
	WHERE VMM.STATE_ID = @STATE_ID
	GROUP BY LOB, MS.STATE_NAME, TEMP.COV_CODE, DETAIL_TYPE_DESCRIPTION,ACTV_MONTH, ACTV_YEAR,[LOSS TYPE],TEMP.COV_ID,
	TEMP.PERCENTAGE
	--ORDER BY ACTV_MONTH, ACTV_YEAR 
	UNION
	SELECT LOB, MS.STATE_NAME, LOSS_TYPE, SUM(AMOUNT)AS AMOUNT,DETAIL_TYPE_DESCRIPTION,
	ACTV_MONTH,ACTV_YEAR 
	FROM #TEMP T
	INNER JOIN MNT_COUNTRY_STATE_LIST MS
	ON T.STATE = MS.STATE_ID
	WHERE T.ACTV_MONTH <= @MONTH AND T.ACTV_YEAR = @YEAR
	GROUP BY LOB, MS.STATE_NAME, LOSS_TYPE, DETAIL_TYPE_DESCRIPTION,ACTV_MONTH, ACTV_YEAR
	ORDER BY ACTV_MONTH, ACTV_YEAR 	
END


DROP TABLE #TEMP_COVERAGE_DETAILS
END 
              
--GO 
--exec Proc_MakeClaimsReport_MOT 11 , 2009
--ROLLBACK TRAN













GO

