IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_CommitACT_AGENCY_OPEN_ITEMS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_CommitACT_AGENCY_OPEN_ITEMS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------
Proc Name       : dbo.Proc_CommitACT_AGENCY_OPEN_ITEMS
Created by      : Praveen kasana
Date            : 12/22/2006
Purpose    	: Insert value in AGENCY_OPEN_ITEMS
Revison History :
Used In 	: Wolverine

Modifed         :Uday
Date 		:09/10/2007	
Purpose    	: Update UPDATED_FROM field in ACT_AGENCY_OPEN_ITEMS to 'R'




--DROP PROC dbo.Proc_CommitACT_AGENCY_OPEN_ITEMS
------------------------------------------------------------
Date     Review By          Comments
------   ------------       -------------------------*/
-- drop proc dbo.Proc_CommitACT_AGENCY_OPEN_ITEMS
CREATE PROC dbo.Proc_CommitACT_AGENCY_OPEN_ITEMS
(
	@ENTITY_ID  	 INT, -- AGENCY_ID
	@GROUP_ID  	 INT,
	@COMMITTED_BY    Int	--User ID 
)	
AS
BEGIN

IF NOT EXISTS (SELECT IDEN_ROW_NO FROM  ACT_AGENCY_RECON_GROUP_DETAILS WHERE GROUP_ID = @GROUP_ID)
BEGIN 
	-- No records exists against this group
	return -1 
		
END

--ACCT ID

DECLARE @AST_UNCOLL_PRM_AGENCY INT  
DECLARE @LIB_COMM_PAYB_AGENCY_BILL INT  
DECLARE @LIB_COMM_PAYB_DIRECT_BILL INT  

DECLARE @COMMIT_DATE Datetime
SET @COMMIT_DATE = GETDATE()

--Fetching the accounts details:
SELECT   
	@AST_UNCOLL_PRM_AGENCY = AST_UNCOLL_PRM_AGENCY  ,
	@LIB_COMM_PAYB_AGENCY_BILL = LIB_COMM_PAYB_AGENCY_BILL,
	@LIB_COMM_PAYB_DIRECT_BILL = LIB_COMM_PAYB_DIRECT_BILL
	FROM ACT_GENERAL_LEDGER  
	WHERE @COMMIT_DATE  BETWEEN FISCAL_BEGIN_DATE AND FISCAL_END_DATE

DECLARE @TRAN_DESC VARCHAR(100)
DECLARE @TRAN_ENTITY VARCHAR(50)

-- Fetching Agency Name
SELECT @TRAN_ENTITY = ISNULL(AGENCY_CODE,'') + ' - ' + ISNULL(AGENCY_DISPLAY_NAME,'') 
FROM MNT_AGENCY_LIST WHERE AGENCY_ID = @ENTITY_ID


--TRAN_ENTITY --AGENCY id
--TRAN_DESC  --AB COMM

DECLARE @TOTAL_AB_COMM DECIMAL(18,2)
SET @TOTAL_AB_COMM = 0.0
DECLARE @TOTAL_AB_PREM DECIMAL(18,2)
SET @TOTAL_AB_PREM = 0.0
DECLARE @TOTAL_DB_COMM DECIMAL(18,2)
SET @TOTAL_DB_COMM = 0.0
DECLARE @TOTAL_OP DECIMAL(18,2)
SET @TOTAL_OP = 0.0


--CURSOR
DECLARE curCUSTOMER_ITEMS CURSOR   
LOCAL FORWARD_ONLY STATIC  
FOR
SELECT ITEM_REFERENCE_ID, RECON_AMOUNT
FROM ACT_AGENCY_RECON_GROUP_DETAILS   
WHERE GROUP_ID = @GROUP_ID  
	
		  
	
--Variables for retreiving the values from cursor   
DECLARE @ITEM_REFERENCE_ID INT, @RECON_AMOUNT DECIMAL(18,2)

OPEN curCUSTOMER_ITEMS  

FETCH NEXT FROM curCUSTOMER_ITEMS INTO @ITEM_REFERENCE_ID,@RECON_AMOUNT

WHILE @@FETCH_STATUS = 0
BEGIN
	
	
	--AB COMM 
	IF EXISTS(SELECT AGENCY_ID FROM ACT_AGENCY_STATEMENT  
	WHERE ROW_ID = @ITEM_REFERENCE_ID AND AGENCY_ID = @ENTITY_ID 
	AND TRAN_TYPE = 'COM' AND BILL_TYPE='AB')
	BEGIN	
		SET @TOTAL_AB_COMM = @TOTAL_AB_COMM + @RECON_AMOUNT
	END
	--AB PREM
	IF EXISTS(SELECT AGENCY_ID FROM ACT_AGENCY_STATEMENT  
		WHERE ROW_ID = @ITEM_REFERENCE_ID AND AGENCY_ID = @ENTITY_ID 
		AND TRAN_TYPE = 'PREM' AND BILL_TYPE='AB')
	BEGIN	
		SET @TOTAL_AB_PREM = @TOTAL_AB_PREM + @RECON_AMOUNT
		
	END
	--DB COMM
	IF EXISTS(SELECT AGENCY_ID FROM ACT_AGENCY_STATEMENT  
		WHERE ROW_ID = @ITEM_REFERENCE_ID AND AGENCY_ID = @ENTITY_ID 
		AND TRAN_TYPE = 'COM' AND BILL_TYPE='DB')
	BEGIN	
		SET @TOTAL_DB_COMM = @TOTAL_DB_COMM + @RECON_AMOUNT
		
	END

	--OP
	IF EXISTS(SELECT AGENCY_ID FROM ACT_AGENCY_STATEMENT  
		WHERE ROW_ID = @ITEM_REFERENCE_ID AND AGENCY_ID = @ENTITY_ID 
		AND ITEM_STATUS ='OP')
	BEGIN	
		SET @TOTAL_OP = @TOTAL_OP + @RECON_AMOUNT
		
	END
	
	UPDATE ACT_AGENCY_STATEMENT SET TOTAL_PAID = ISNULL(TOTAL_PAID,0) +  @RECON_AMOUNT
	WHERE ROW_ID = @ITEM_REFERENCE_ID AND AGENCY_ID = @ENTITY_ID
			
	
	FETCH NEXT FROM curCUSTOMER_ITEMS INTO @ITEM_REFERENCE_ID,@RECON_AMOUNT
	IF @@FETCH_STATUS <> 0 
		BREAK
				
END

	
	
 --DETAIL POSTING TABLE --------AB COMMISSION
 IF(@TOTAL_AB_COMM<>0.0)
 BEGIN
 	--Posting AB Commission (Debiting Commission Payable – Direct Bill)
		INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
		(  
		ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,  
		SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,   
		TRANSACTION_AMOUNT,   
		AGENCY_COMM_PERC,  
		AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,  
		POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,   
		IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,   
		SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,   
		TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
		IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME  
		,TRAN_ENTITY,TRAN_DESC
		)  
		SELECT   
		@LIB_COMM_PAYB_AGENCY_BILL, 'R', NULL, @GROUP_ID, NULL,  
		@GROUP_ID, GETDATE(), GETDATE(), Getdate(),   
		@TOTAL_AB_COMM * -1,   
		NULL,  
		NULL, @ENTITY_ID ,   
		NULL, NULL, NULL, NULL, NULL, NULL,  
		NULL, NULL, @TOTAL_AB_COMM * -1, NULL, NULL, NULL, NULL,  
		NULL, NULL, NULL, NULL,   
		NULL, NULL, NULL, NULL,   
		NULL, NULL, NULL, NULL, NULL  
		,@TRAN_ENTITY,@TRAN_DESC
		FROM   
		ACT_AGENCY_STATEMENT WHERE AGENCY_ID = @ENTITY_ID AND ROW_ID = @ITEM_REFERENCE_ID
END

--------------AB PREMIUM
 IF(@TOTAL_AB_PREM<>0.0)
 BEGIN
	--DETAIL POSTING TABLE ------
 	--Posting AB premium (Crediting Uncollected Premium – Agency Bill Admitted)
		INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
		(  
		ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,  
		SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,   
		TRANSACTION_AMOUNT,   
		AGENCY_COMM_PERC,  
		AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,  
		POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,   
		IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,   
		SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,   
		TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
		IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME 
		,TRAN_ENTITY,TRAN_DESC 
		)  
		SELECT   
		@AST_UNCOLL_PRM_AGENCY, 'R', NULL, @GROUP_ID, NULL,  
		@GROUP_ID, GETDATE(), GETDATE(), Getdate(),   
		@TOTAL_AB_PREM * -1,   
		NULL,  
		NULL, @ENTITY_ID ,   
		NULL, NULL, NULL, NULL, NULL, NULL,  
		NULL, NULL, @TOTAL_AB_PREM * -1, NULL, NULL, NULL, NULL,  
		NULL, NULL, NULL, NULL,   
		NULL, NULL, NULL, NULL,   
		NULL, NULL, NULL, NULL, NULL  
		,@TRAN_ENTITY,@TRAN_DESC
		FROM   
		ACT_AGENCY_STATEMENT WHERE AGENCY_ID = @ENTITY_ID AND ROW_ID = @ITEM_REFERENCE_ID


 END

---------------------------DB_COMM
 IF(@TOTAL_DB_COMM<>0.0)
 BEGIN
	
	INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
		(  
		ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,  
		SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,   
		TRANSACTION_AMOUNT,   
		AGENCY_COMM_PERC,  
		AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,  
		POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,   
		IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,   
		SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,   
		TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
		IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME 
		,TRAN_ENTITY,TRAN_DESC 
		)  
		SELECT   
		@LIB_COMM_PAYB_DIRECT_BILL, 'R', NULL, @GROUP_ID, NULL,  
		@GROUP_ID, GETDATE(), GETDATE(), Getdate(),   
		@TOTAL_DB_COMM * -1,   
		NULL,  
		NULL, @ENTITY_ID  ,   
		NULL, NULL, NULL, NULL, NULL, NULL,  
		NULL, NULL, @TOTAL_DB_COMM * -1, NULL, NULL, NULL, NULL,  
		NULL, NULL, NULL, NULL,   
		NULL, NULL, NULL, NULL,   
		NULL, NULL, NULL, NULL, NULL  
		,@TRAN_ENTITY,@TRAN_DESC
		FROM   
		ACT_AGENCY_STATEMENT WHERE AGENCY_ID = @ENTITY_ID AND ROW_ID = @ITEM_REFERENCE_ID	
		
 END

----OVER PAYMENT
 IF(@TOTAL_OP<>0.0)
 BEGIN
	INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
		(  
		ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,  
		SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,   
		TRANSACTION_AMOUNT,   
		AGENCY_COMM_PERC,  
		AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,  
		POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,   
		IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,   
		SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,   
		TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
		IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME 
		,TRAN_ENTITY,TRAN_DESC 
		)  
		SELECT   
		@AST_UNCOLL_PRM_AGENCY, 'R', NULL, @GROUP_ID, NULL,  
		@GROUP_ID, GETDATE(), GETDATE(), Getdate(),   
		@TOTAL_OP * -1,   
		NULL,  
		NULL, @ENTITY_ID ,   
		NULL, NULL, NULL, NULL, NULL, NULL,  
		NULL, NULL, @TOTAL_OP * -1, NULL, NULL, NULL, NULL,  
		NULL, NULL, NULL, NULL,   
		NULL, NULL, NULL, NULL,   
		NULL, NULL, NULL, NULL, NULL  
		,@TRAN_ENTITY,@TRAN_DESC
		FROM   
		ACT_AGENCY_STATEMENT 
		WHERE AGENCY_ID = @ENTITY_ID AND ROW_ID = @ITEM_REFERENCE_ID	
		
	
 END

CLOSE curCUSTOMER_ITEMS
DEALLOCATE curCUSTOMER_ITEMS

UPDATE ACT_RECONCILIATION_GROUPS SET IS_COMMITTED = 'Y' ,
	DATE_COMMITTED = GETDATE(),
	COMMITTED_BY  = @COMMITTED_BY
WHERE GROUP_ID = @GROUP_ID


return 1


END







GO

