IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_ProcessAgencyStatement]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_ProcessAgencyStatement]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran 
--drop proc dbo.Proc_ProcessAgencyStatement 
--go 
CREATE  PROC [dbo].[Proc_ProcessAgencyStatement]        
(        
 @MONTH  INT,        
 @YEAR  INT,      
 @COMM_TYPE VARCHAR(20)  --Regular//Additional//Property Inspection//Complete       
)        
AS        
BEGIN         

SET NOCOUNT ON;

DECLARE @LAST_DAY_OF_MONTH Datetime 
	
IF(@MONTH = 12)
BEGIN 
	SET @LAST_DAY_OF_MONTH = CAST( CONVERT(VARCHAR, @YEAR+1) +'-' + CONVERT(VARCHAR,1) + '-' + '1' AS DATETIME)
	SET @LAST_DAY_OF_MONTH = DATEADD(dd,-1 , @LAST_DAY_OF_MONTH )
END
ELSE
BEGIN 
	SET @LAST_DAY_OF_MONTH = CAST( CONVERT(VARCHAR, @YEAR) +'-' + CONVERT(VARCHAR,@MONTH + 1) + '-' + '1' AS DATETIME)
	SET @LAST_DAY_OF_MONTH = DATEADD(dd, -1 , @LAST_DAY_OF_MONTH)
END

     
----TEMP TABLE TO HOLD AGENCY PROCESSED RECORDS :       
      
CREATE TABLE ##TEMP_ACT_AGENCY_STATEMENT      
(  
 [ROW_ID] [int] 	IDENTITY(1,1) NOT NULL ,        
 MONTH_NUMBER  		SMALLINT,      
 MONTH_YEAR   		INT,      
 AGENCY_ID   		SMALLINT,      
 POLICY_ID  		INT,       
 POLICY_VERSION_ID 	INT,       
 CUSTOMER_ID  		INT,       
 SOURCE_EFF_DATE 	DATETIME,  
 PREMIUM_AMOUNT  	DECIMAL(18,2),       
 COMMISSION_RATE  	DECIMAL(18,2),      
 TOTAL_PAID  		DECIMAL(18,2),      
 SOURCE_ROW_ID 		INT,      
 TRAN_TYPE  		NVARCHAR(5),      
 AMOUNT_FOR_CALCULATION DECIMAL(18,2),   
 STAT_FEES_FOR_CALCULATION Decimal(18,2) ,   
 COMMISSION_AMOUNT 	DECIMAL(18,2),      
 DUE_AMOUNT  		DECIMAL(18,2),       
 PAYMENT_STATUS 	INT,       
 IS_TEMP_ENTRY  	BIT,       
 IN_RECON  			DECIMAL(18,2),       
 AMT_IN_RECON  		DECIMAL(18,2),      
 CUSTOMER_OPEN_ITEM_ID  INT, --CUSTOMER OPEN ITEM ID      
 AGENCY_OPEN_ITEM_ID    INT,  --AGENCY OPEN ITEM ID  
 GROSS_PREMIUM		DECIMAL(18,2), --Added gross premium :    
 FEES 				DECIMAL(18,2), --Added Fees  
 TRAN_CODE 			NVARCHAR(5),  --Added Transaction Code :      
 BILL_TYPE   		NVARCHAR(5),  --Added Bill Code
 COMM_TYPE 			NVARCHAR(5) , --Added to classify the Commission type:
 CSR_ID				Int
)      
    
---TEMP TABLE TO HOLD THE TYPE AND TRANS CODE    
CREATE TABLE #TEMP_CODE    
(    
	TYPE VARCHAR(20),    
	TYPE_CODE VARCHAR(20)    
)    
    
INSERT INTO #TEMP_CODE(TYPE,TYPE_CODE)    
VALUES ('REG','NBSC')    
INSERT INTO #TEMP_CODE(TYPE,TYPE_CODE)    
VALUES ('REG','RENC')    
INSERT INTO #TEMP_CODE(TYPE,TYPE_CODE)    
VALUES ('REG','ENDC')    
INSERT INTO #TEMP_CODE(TYPE,TYPE_CODE)    
VALUES ('REG','RINC')    
INSERT INTO #TEMP_CODE(TYPE,TYPE_CODE)    
VALUES ('REG','CANC')    
INSERT INTO #TEMP_CODE(TYPE,TYPE_CODE)    
VALUES ('REG','PIC')    
INSERT INTO #TEMP_CODE(TYPE,TYPE_CODE)    
VALUES ('ADC','ADC')    

INSERT INTO #TEMP_CODE(TYPE,TYPE_CODE)    
VALUES ('CAC','CAC')    
------END    

IF(@COMM_TYPE = 'REG' )
BEGIN 
	---Calculating premium to be received from agency  (AGENCY BILL AB.)  
	-- To Be included in Regular statement only 
	INSERT INTO ##TEMP_ACT_AGENCY_STATEMENT   
	(      
	MONTH_NUMBER, MONTH_YEAR ,AGENCY_ID,POLICY_ID,        
	POLICY_VERSION_ID,CUSTOMER_ID,SOURCE_EFF_DATE,        
	PREMIUM_AMOUNT, COMMISSION_RATE,TOTAL_PAID,        
	SOURCE_ROW_ID,TRAN_TYPE,AMOUNT_FOR_CALCULATION,   
	STAT_FEES_FOR_CALCULATION ,     
	COMMISSION_AMOUNT,DUE_AMOUNT,PAYMENT_STATUS,        
	IS_TEMP_ENTRY,IN_RECON, AMT_IN_RECON,CUSTOMER_OPEN_ITEM_ID,AGENCY_OPEN_ITEM_ID,  
	GROSS_PREMIUM, FEES,TRAN_CODE,BILL_TYPE,COMM_TYPE  
	)
	SELECT         
	@MONTH, @YEAR --YEAR(AAOI.SOURCE_EFF_DATE)
	, AAOI.AGENCY_ID, AAOI.POLICY_ID,      
	AAOI.POLICY_VERSION_ID, AAOI.CUSTOMER_ID, AAOI.SOURCE_EFF_DATE,         
	AAOI.NET_PREMIUM, AAOI.AGENCY_COMM_PERC,0,      
	AAOI.SOURCE_ROW_ID, AAOI.ITEM_TRAN_CODE_TYPE ,AAOI.NET_PREMIUM , 
	AAOI.GROSS_AMOUNT   -  AAOI.NET_PREMIUM , 
	CASE ITEM_TRAN_CODE_TYPE 
		WHEN 'COM' THEN -AAOI.AGENCY_COMM_AMT 
		ELSE 0 END,
	AAOI.TOTAL_DUE, 0, 0,      
	NULL,NULL,NULL,AAOI.IDEN_ROW_ID,AAOI.GROSS_AMOUNT,NULL,AAOI.ITEM_TRAN_CODE,'AB',@COMM_TYPE      
	FROM ACT_AGENCY_OPEN_ITEMS AAOI   
	WHERE IDEN_ROW_ID NOT IN ( SELECT ISNULL(AGENCY_OPEN_ITEM_ID,0) FROM ACT_AGENCY_STATEMENT_DETAILED)        
--		AND YEAR (AAOI.SOURCE_EFF_DATE) = @YEAR        
--		AND MONTH(AAOI.SOURCE_EFF_DATE) <= @MONTH  
		AND DATEDIFF(DD, AAOI.SOURCE_EFF_DATE , @LAST_DAY_OF_MONTH) >= 0 
		AND ISNULL(AAOI.BILL_CODE, '') = 'AB'     
		--Changed By Ravindra(07-25-2007) : This Condition will consider Additional Commission as well
		--we are fetching Premium records only so should exclude commission records al together
		--AND AAOI.ITEM_TRAN_CODE NOT IN (SELECT TYPE_CODE FROM #TEMP_CODE WHERE TYPE IN(@COMM_TYPE))     
		AND AAOI.ITEM_TRAN_CODE_TYPE <> 'COM'
		AND AAOI.UPDATED_FROM <> 'J'

	
	--Process Agency JE for AB Prem , AB Comm , DB Prem
	INSERT INTO ##TEMP_ACT_AGENCY_STATEMENT   
	(      
	MONTH_NUMBER, MONTH_YEAR ,AGENCY_ID,POLICY_ID,        
	POLICY_VERSION_ID,CUSTOMER_ID,SOURCE_EFF_DATE,        
	PREMIUM_AMOUNT, COMMISSION_RATE,TOTAL_PAID,        
	SOURCE_ROW_ID,TRAN_TYPE,AMOUNT_FOR_CALCULATION,   
	STAT_FEES_FOR_CALCULATION ,     
	COMMISSION_AMOUNT,
	DUE_AMOUNT,PAYMENT_STATUS,        
	IS_TEMP_ENTRY,IN_RECON, AMT_IN_RECON,CUSTOMER_OPEN_ITEM_ID,AGENCY_OPEN_ITEM_ID,  
	GROSS_PREMIUM, FEES,TRAN_CODE,BILL_TYPE,COMM_TYPE  
	)
	SELECT         
	@MONTH, @YEAR -- YEAR(AAOI.SOURCE_EFF_DATE)
	, AAOI.AGENCY_ID, AAOI.POLICY_ID,      
	AAOI.POLICY_VERSION_ID, AAOI.CUSTOMER_ID, AAOI.SOURCE_EFF_DATE,         
	CASE AAOI.ITEM_TRAN_CODE_TYPE WHEN 'PREM' THEN AAOI.TOTAL_DUE ELSE NULL END,
	AAOI.AGENCY_COMM_PERC,0,      
	AAOI.SOURCE_ROW_ID, AAOI.ITEM_TRAN_CODE_TYPE ,CASE AAOI.ITEM_TRAN_CODE_TYPE WHEN 'PREM' THEN AAOI.TOTAL_DUE ELSE NULL END , 
	NULL  , 
	CASE AAOI.ITEM_TRAN_CODE_TYPE WHEN 'COM' THEN AAOI.TOTAL_DUE ELSE 0 END,
	AAOI.TOTAL_DUE, 0, 0,      
	NULL,NULL,NULL,AAOI.IDEN_ROW_ID,AAOI.GROSS_AMOUNT,NULL,AAOI.ITEM_TRAN_CODE,AAOI.BILL_CODE,@COMM_TYPE      
	FROM ACT_AGENCY_OPEN_ITEMS AAOI        
 	WHERE IDEN_ROW_ID NOT IN ( SELECT ISNULL(AGENCY_OPEN_ITEM_ID,0) FROM ACT_AGENCY_STATEMENT_DETAILED)        
--		AND YEAR (AAOI.SOURCE_EFF_DATE) = @YEAR        
--		AND MONTH(AAOI.SOURCE_EFF_DATE) <= @MONTH  
		AND DATEDIFF(DD, AAOI.SOURCE_EFF_DATE , @LAST_DAY_OF_MONTH) >= 0 
		AND AAOI.UPDATED_FROM = 'J'
END
      
---Calculating Commission to be Given to agency  (AGENCY BILL AB.)      
INSERT INTO ##TEMP_ACT_AGENCY_STATEMENT      
(      
MONTH_NUMBER, MONTH_YEAR ,AGENCY_ID,POLICY_ID,        
POLICY_VERSION_ID,CUSTOMER_ID,SOURCE_EFF_DATE,        
PREMIUM_AMOUNT, COMMISSION_RATE,TOTAL_PAID,        
SOURCE_ROW_ID,TRAN_TYPE,AMOUNT_FOR_CALCULATION,     
STAT_FEES_FOR_CALCULATION,  
COMMISSION_AMOUNT,DUE_AMOUNT,PAYMENT_STATUS,        
IS_TEMP_ENTRY,IN_RECON, AMT_IN_RECON,CUSTOMER_OPEN_ITEM_ID,AGENCY_OPEN_ITEM_ID,  
GROSS_PREMIUM,FEES,TRAN_CODE,BILL_TYPE,COMM_TYPE , CSR_ID      
)       
SELECT         
@MONTH, @YEAR -- YEAR(AAOI.SOURCE_EFF_DATE)
, AAOI.AGENCY_ID, AAOI.POLICY_ID,      
AAOI.POLICY_VERSION_ID, AAOI.CUSTOMER_ID, AAOI.SOURCE_EFF_DATE,         
AAOI.NET_PREMIUM , AAOI.AGENCY_COMM_PERC,0,      
AAOI.SOURCE_ROW_ID, AAOI.ITEM_TRAN_CODE_TYPE ,AAOI.NET_PREMIUM,  
AAOI.GROSS_AMOUNT - AAOI.NET_PREMIUM ,
--CASE ITEM_TRAN_CODE_TYPE WHEN 'COM' THEN -AAOI.AGENCY_COMM_AMT ELSE 0 END,
AAOI.TOTAL_DUE,
AAOI.TOTAL_DUE, 0, 0,      
NULL,NULL,NULL,AAOI.IDEN_ROW_ID, AAOI.GROSS_AMOUNT ,NULL,AAOI.ITEM_TRAN_CODE,'AB',@COMM_TYPE    ,
PCPL.CSR 
FROM ACT_AGENCY_OPEN_ITEMS AAOI        
LEFT JOIN POL_CUSTOMER_POLICY_LIST PCPL ON PCPL.POLICY_ID = AAOI.POLICY_ID         
	AND PCPL.POLICY_VERSION_ID = AAOI.POLICY_VERSION_ID         
	AND PCPL.CUSTOMER_ID = AAOI.CUSTOMER_ID         
WHERE IDEN_ROW_ID NOT IN ( SELECT ISNULL(AGENCY_OPEN_ITEM_ID,0) FROM ACT_AGENCY_STATEMENT_DETAILED)        
--	AND YEAR (AAOI.SOURCE_EFF_DATE) = @YEAR   
--	AND MONTH(AAOI.SOURCE_EFF_DATE) <= @MONTH         
	AND DATEDIFF(DD, AAOI.SOURCE_EFF_DATE , @LAST_DAY_OF_MONTH) >= 0      
	AND ISNULL(AAOI.BILL_CODE, '') = 'AB'     
	AND AAOI.ITEM_TRAN_CODE IN (SELECT TYPE_CODE FROM #TEMP_CODE WHERE TYPE = @COMM_TYPE)   
	AND AAOI.UPDATED_FROM <> 'J'  

--Additional Commission (ADC) For DB Policies : 
IF(@COMM_TYPE = 'ADC')     
BEGIN  
  
	--Commented By Ravindra(03-07-2008): Additional Commission to be given regradless of payment recieved

	--Calculating Additional commission to be given to agency  (DB Policies)      
	--Whose payment has been receoved for this month      
	/*INSERT INTO ##TEMP_ACT_AGENCY_STATEMENT      
	(      
	MONTH_NUMBER, MONTH_YEAR ,AGENCY_ID,POLICY_ID,        
	POLICY_VERSION_ID,CUSTOMER_ID,SOURCE_EFF_DATE,        
	PREMIUM_AMOUNT, COMMISSION_RATE,TOTAL_PAID,        
	SOURCE_ROW_ID,TRAN_TYPE,
	AMOUNT_FOR_CALCULATION,      
	COMMISSION_AMOUNT,DUE_AMOUNT,PAYMENT_STATUS,        
	IS_TEMP_ENTRY,IN_RECON, AMT_IN_RECON,CUSTOMER_OPEN_ITEM_ID,AGENCY_OPEN_ITEM_ID,  
	GROSS_PREMIUM,FEES,TRAN_CODE,BILL_TYPE,COMM_TYPE      
	)       
	SELECT          
	@MONTH, @YEAR, AOI.AGENCY_ID, AOI.POLICY_ID,      
	AOI.POLICY_VERSION_ID, AOI.CUSTOMER_ID, AOI.SOURCE_EFF_DATE,        
	AOI.NET_PREMIUM , AOI.AGENCY_COMM_PERC, 0, 
	AOI.SOURCE_ROW_ID, AOI.ITEM_TRAN_CODE_TYPE,  
	SUM(ISNULL(coi.TOTAL_PAID, 0)) - SUM(ISNULL(coi.PROCESSED_AMOUNT_FOR_ADDITIONAL, 0)) ,

	(   
	sum(isnull(Aoi.total_due,0)) *         
	(         
	sum(isnull(coi.total_paid, 0))        
	/         
	sum(isnull(coi.total_due, 0))         
	)         
	) ,  

	(        
	sum(isnull(Aoi.total_due,0)) *         
	(         
	sum(isnull(coi.total_paid, 0))        
	/         
	sum(isnull(coi.total_due, 0))         
	)         
	) , 0, 0, 0, 
	0, NULL, AOI.IDEN_ROW_ID,
	AOI.GROSS_AMOUNT ,NULL, AOI.ITEM_TRAN_CODE, 'DB', @COMM_TYPE        
	FROM ACT_AGENCY_OPEN_ITEMS  AOI        
	INNER JOIN ACT_CUSTOMER_OPEN_ITEMS COI ON AOI.UPDATED_FROM = COI.UPDATED_FROM        
	AND AOI.SOURCE_ROW_ID = COI.SOURCE_ROW_ID        
	AND ISNULL(COI.ITEM_TRAN_CODE_TYPE, '') <> 'FEES' --Taking all open transaction except fees        
	INNER JOIN POL_CUSTOMER_POLICY_LIST PCL ON PCL.CUSTOMER_ID = AOI.CUSTOMER_ID         
	AND PCL.POLICY_ID = AOI.POLICY_ID         
	AND PCL.POLICY_VERSION_ID = AOI.POLICY_VERSION_ID         
	WHERE     
	ISNULL(COI.TOTAL_DUE,0) <> ISNULL(COI.PROCESSED_AMOUNT_FOR_ADDITIONAL,0)        
	AND ISNULL(COI.TOTAL_PAID,0) <> ISNULL(COI.PROCESSED_AMOUNT_FOR_ADDITIONAL,0)        
	AND ISNULL(AOI.ITEM_TRAN_CODE_TYPE, '') = 'COM'        
	AND ISNULL(AOI.BILL_CODE, '') = 'DB'        
	AND (MONTH(PCL.APP_EFFECTIVE_DATE) <= @MONTH AND YEAR(PCL.APP_EFFECTIVE_DATE) <= @YEAR)        
	AND PCL.INSTALL_PLAN_ID = @FULL_PAY_PLAN_ID    
	AND AOI.ITEM_TRAN_CODE IN (SELECT TYPE_CODE FROM #TEMP_CODE WHERE TYPE=@COMM_TYPE) --TYPE CODE CHECK 
	GROUP BY AOI.AGENCY_ID, AOI.POLICY_ID, AOI.POLICY_VERSION_ID, AOI.CUSTOMER_ID, AOI.SOURCE_EFF_DATE,        
	AOI.TOTAL_DUE, AOI.AGENCY_COMM_PERC,AOI.SOURCE_ROW_ID,       
	AOI.ITEM_TRAN_CODE_TYPE, AOI.IDEN_ROW_ID, AOI.GROSS_AMOUNT, AOI.ITEM_TRAN_CODE,AOI.AGENCY_COMM_AMT ,
	AOI.NET_PREMIUM   */

	INSERT INTO ##TEMP_ACT_AGENCY_STATEMENT      
	(      
	MONTH_NUMBER, MONTH_YEAR ,AGENCY_ID,POLICY_ID,        
	POLICY_VERSION_ID,CUSTOMER_ID,SOURCE_EFF_DATE, PREMIUM_AMOUNT, 
	COMMISSION_RATE, TOTAL_PAID, SOURCE_ROW_ID, TRAN_TYPE, 
	AMOUNT_FOR_CALCULATION, STAT_FEES_FOR_CALCULATION , COMMISSION_AMOUNT , DUE_AMOUNT,
	PAYMENT_STATUS,  IS_TEMP_ENTRY,IN_RECON, AMT_IN_RECON,
	CUSTOMER_OPEN_ITEM_ID,AGENCY_OPEN_ITEM_ID,GROSS_PREMIUM, FEES, 
	TRAN_CODE, BILL_TYPE, COMM_TYPE      
	)       
	SELECT         
	@MONTH, @YEAR, AOI.AGENCY_ID, AOI.POLICY_ID,      
	AOI.POLICY_VERSION_ID, AOI.CUSTOMER_ID, AOI.SOURCE_EFF_DATE, AOI.NET_PREMIUM , 
	AOI.AGENCY_COMM_PERC, 0, AOI.SOURCE_ROW_ID, AOI.ITEM_TRAN_CODE_TYPE,  
	AOI.NET_PREMIUM,AOI.GROSS_AMOUNT - AOI.NET_PREMIUM,  AOI.TOTAL_DUE,  AOI.TOTAL_DUE
	, 0, 0, 0,  0, 
	NULL, AOI.IDEN_ROW_ID,AOI.GROSS_AMOUNT ,NULL, 
	AOI.ITEM_TRAN_CODE, 'DB', @COMM_TYPE        
	FROM ACT_AGENCY_OPEN_ITEMS  AOI 
	INNER JOIN POL_CUSTOMER_POLICY_LIST PCL ON PCL.CUSTOMER_ID = AOI.CUSTOMER_ID         
	AND PCL.POLICY_ID = AOI.POLICY_ID     
	AND PCL.POLICY_VERSION_ID = AOI.POLICY_VERSION_ID         
	WHERE  ISNULL(AOI.ITEM_TRAN_CODE_TYPE, '') = 'COM'        
	AND ISNULL(AOI.BILL_CODE, '') = 'DB'        
	AND DATEDIFF(DD,PCL.APP_EFFECTIVE_DATE , @LAST_DAY_OF_MONTH) >= 0 	 
	AND IDEN_ROW_ID NOT IN ( SELECT ISNULL(AGENCY_OPEN_ITEM_ID,0) FROM ACT_AGENCY_STATEMENT_DETAILED) 
	AND AOI.ITEM_TRAN_CODE IN (SELECT TYPE_CODE FROM #TEMP_CODE WHERE TYPE=@COMM_TYPE) 
END  
---Regular commission for DB Policies
ELSE IF(@COMM_TYPE = 'REG') 
BEGIN  
	--Calculating commission to be given to agency  (DB Policies)      
	--For all direct bill policies        
	--Commission will be given for those direct bill agencies      
	--Whose payment has been receoved for this month      
	-- Only Regular Commission   

	INSERT INTO ##TEMP_ACT_AGENCY_STATEMENT      
	(      
	MONTH_NUMBER, MONTH_YEAR ,AGENCY_ID,POLICY_ID,        
	POLICY_VERSION_ID,CUSTOMER_ID,SOURCE_EFF_DATE,        
	PREMIUM_AMOUNT, COMMISSION_RATE,TOTAL_PAID,        
	SOURCE_ROW_ID,TRAN_TYPE,AMOUNT_FOR_CALCULATION,  
	STAT_FEES_FOR_CALCULATION ,      
	COMMISSION_AMOUNT,DUE_AMOUNT,PAYMENT_STATUS,        
	IS_TEMP_ENTRY,IN_RECON, AMT_IN_RECON,CUSTOMER_OPEN_ITEM_ID,AGENCY_OPEN_ITEM_ID,  
	GROSS_PREMIUM,FEES,TRAN_CODE,BILL_TYPE,COMM_TYPE      
	)       
	SELECT  @MONTH, @YEAR, COI.AGENCY_ID, COI.POLICY_ID,       
	COI.POLICY_VERSION_ID, COI.CUSTOMER_ID, COI.SOURCE_EFF_DATE,        
	COI.NET_PREMIUM, COI.AGENCY_COMM_PERC,      
	0, COI.SOURCE_ROW_ID, 'COM',  
	--Ravindra Commission to be granted no Net Premium not gross 
	--From paid amount consider stat fees paid on prorata basis
	CASE WHEN COI.GROSS_AMOUNT <> 0 THEN ROUND(((isnull(coi.total_paid, 0) - isnull(coi.PROCESSED_AMOUNT_FOR_AGENCY, 0))
		 * 	
		( COI.NET_PREMIUM /  COI.GROSS_AMOUNT )
	),2) ELSE 0 END AS AMOUNT_FOR_CALCULATION,   
	CASE WHEN COI.GROSS_AMOUNT <> 0 THEN ROUND(((isnull(coi.total_paid, 0) - isnull(coi.PROCESSED_AMOUNT_FOR_AGENCY, 0))
		 * 	
		( (COI.GROSS_AMOUNT - COI.NET_PREMIUM) /  COI.GROSS_AMOUNT )
	),2)  ELSE 0 END AS STAT_FEES_FOR_CALCULATION,          
	CASE WHEN COI.GROSS_AMOUNT <> 0 THEN ROUND(
	(
		(isnull(coi.total_paid, 0) - isnull(coi.PROCESSED_AMOUNT_FOR_AGENCY, 0))
		 * 	
		( COI.NET_PREMIUM /  COI.GROSS_AMOUNT )
	),2) * agency_comm_perc/100.00 * -1  ELSE 0 END AS COMMISSION_AMOUNT,        
	CASE WHEN COI.GROSS_AMOUNT <> 0 THEN ROUND(
	(
		(isnull(coi.total_paid, 0) - isnull(coi.PROCESSED_AMOUNT_FOR_AGENCY, 0))
		 * 	
		( COI.NET_PREMIUM /  COI.GROSS_AMOUNT )
	),2)  * agency_comm_perc/100.00 * -1 ELSE 0 END AS DUE_AMOUNT,         
	0, 0, 0, 0, COI.IDEN_ROW_ID ,NULL , COI.GROSS_AMOUNT ,NULL,
	CASE COI.ITEM_TRAN_CODE    
		WHEN 'NBSP' THEN 'NBSC'   
		WHEN 'RENP' THEN 'RENC'   
		WHEN 'ENDP' THEN 'ENDC'  
		WHEN 'CANCP' THEN 'CANC'
		WHEN 'RINSP' THEN 'RINC'
	ELSE  COI.ITEM_TRAN_CODE 
	END	AS  ITEM_TRAN_CODE 	 ,'DB',@COMM_TYPE
	FROM ACT_CUSTOMER_OPEN_ITEMS COI       
	INNER JOIN POL_CUSTOMER_POLICY_LIST PCL ON PCL.CUSTOMER_ID = COI.CUSTOMER_ID         
	AND PCL.POLICY_ID = COI.POLICY_ID         
	AND PCL.POLICY_VERSION_ID = COI.POLICY_VERSION_ID  
	AND ISNULL(PCL.IS_HOME_EMP ,0)  <> 1 
	WHERE 
	ISNULL(COI.ITEM_TRAN_CODE_TYPE, '') <> 'FEES' --Taking all open transaction except fees          
	AND UPDATED_FROM = 'P'           
	AND ISNULL(COI.ITEM_TRAN_CODE,'') <> 'DISC'  -- Ravindra(08-28-2008) 
	
	--RAvindra(06-30-2009): This will not reverse commission in case of payment reversal if processed 
	-- amont is equal to total due amount 
	--AND ISNULL(COI.TOTAL_DUE,0) <> ISNULL(COI.PROCESSED_AMOUNT_FOR_AGENCY,0)    
	AND ISNULL(COI.TOTAL_PAID,0) <> ISNULL(COI.PROCESSED_AMOUNT_FOR_AGENCY,0)          
	AND ISNULL(COI.BILL_CODE, '') = 'DB'          
	AND DATEDIFF(DD,PCL.APP_EFFECTIVE_DATE , @LAST_DAY_OF_MONTH) >= 0 	 
	AND COI.ITEM_TRAN_CODE <> 'PIC'
	--Ravindra(04-1-2009): Exclude Auto and Cycle policiles
	AND PCL.POLICY_LOB NOT IN ( 2,3) 
	
	--Ravindra(04-01-2009): Process Auto Commissions
	SELECT * INTO #TEMP_COMM FROM VW_ACT_PREMIUM_COMMISSION_DETAILS
	INSERT INTO ##TEMP_ACT_AGENCY_STATEMENT      
	(      
		MONTH_NUMBER, MONTH_YEAR ,AGENCY_ID,POLICY_ID, POLICY_VERSION_ID,CUSTOMER_ID,SOURCE_EFF_DATE,        
		PREMIUM_AMOUNT, COMMISSION_RATE,TRAN_TYPE,
		AMOUNT_FOR_CALCULATION,  
		STAT_FEES_FOR_CALCULATION ,      
		COMMISSION_AMOUNT,
		DUE_AMOUNT,
		GROSS_PREMIUM,FEES,TRAN_CODE,BILL_TYPE,COMM_TYPE      
	)       
	SELECT 
	@MONTH, @YEAR ,AGENCY_ID , POLICY_ID, POLICY_VERSION_ID, CUSTOMER_ID, POLICY_EFFECTIVE_DATE,        
	NET_PREMIUM, COMMISSION_RATE ,'COM' ,
	THIS_MONTH_PAID - THIS_MONTH_STAT_FFES AS AMOUNT_FOR_CALCULATION , 
	THIS_MONTH_STAT_FFES AS STAT_FEES_FOR_CALCULATION,
--	(THIS_MONTH_PAID - THIS_MONTH_STAT_FFES) * (TOTAL_COMMISSION /NET_PREMIUM)*-1 AS COMMISSION_AMOUNT,
--	(THIS_MONTH_PAID - THIS_MONTH_STAT_FFES) * (TOTAL_COMMISSION /NET_PREMIUM)*-1 AS DUE_AMOUNT,
	THIS_MONTH_COMMISSION , 
	THIS_MONTH_COMMISSION , 
	GROSS_PREMIUM , STATS_FEES , 'NBSC' , 'DB',@COMM_TYPE 
	FROM #TEMP_COMM 
	WHERE DATEDIFF(DD,POLICY_EFFECTIVE_DATE , @LAST_DAY_OF_MONTH) >= 0 	 
	AND LOB_ID IN (2,3) 
--	AND TOTAL_PAID > 0  
--	AND NOT (NET_PREMIUM = 0 OR TOTAL_COMMISSION = 0 ) 
	AND ABS(THIS_MONTH_COMMISSION) <> 0 

	DROP TABLE #TEMP_COMM 

--	Ravindra(03-05-2008)--Commented
--	-- Process Property Inspection Commission 
--	INSERT INTO ##TEMP_ACT_AGENCY_STATEMENT      
--	(      
--	MONTH_NUMBER, MONTH_YEAR ,AGENCY_ID,POLICY_ID,        
--	POLICY_VERSION_ID,CUSTOMER_ID,SOURCE_EFF_DATE,        
--	PREMIUM_AMOUNT, COMMISSION_RATE,TOTAL_PAID,        
--	SOURCE_ROW_ID,TRAN_TYPE,AMOUNT_FOR_CALCULATION,  
--	STAT_FEES_FOR_CALCULATION ,      
--	COMMISSION_AMOUNT,DUE_AMOUNT,PAYMENT_STATUS,        
--	IS_TEMP_ENTRY,IN_RECON, AMT_IN_RECON,CUSTOMER_OPEN_ITEM_ID,AGENCY_OPEN_ITEM_ID,  
--	GROSS_PREMIUM, FEES, TRAN_CODE, BILL_TYPE, COMM_TYPE      
--	)       
--	SELECT         
--	@MONTH, @YEAR, AOI.AGENCY_ID, AOI.POLICY_ID,      
--	AOI.POLICY_VERSION_ID, AOI.CUSTOMER_ID, AOI.SOURCE_EFF_DATE,        
--	AOI.NET_PREMIUM , AOI.AGENCY_COMM_PERC,         
--	0, AOI.SOURCE_ROW_ID, AOI.ITEM_TRAN_CODE_TYPE,  
--	AOI.TOTAL_DUE, 0,  
--	AOI.TOTAL_DUE,  
--	AOI.TOTAL_DUE
--	 , 0, 0, 0,  
--	0, NULL, AOI.IDEN_ROW_ID,
--	AOI.GROSS_AMOUNT ,NULL, AOI.ITEM_TRAN_CODE, 'DB', @COMM_TYPE        
--	FROM ACT_AGENCY_OPEN_ITEMS  AOI 
--	       
--	INNER JOIN POL_CUSTOMER_POLICY_LIST PCL ON PCL.CUSTOMER_ID = AOI.CUSTOMER_ID         
--	AND PCL.POLICY_ID = AOI.POLICY_ID         
--	AND PCL.POLICY_VERSION_ID = AOI.POLICY_VERSION_ID         
--	WHERE  ISNULL(AOI.ITEM_TRAN_CODE_TYPE, '') = 'COM'        
--	AND ISNULL(AOI.BILL_CODE, '') = 'DB'        
--	AND DATEDIFF(DD,PCL.APP_EFFECTIVE_DATE , @LAST_DAY_OF_MONTH) >= 0 	 
--	AND IDEN_ROW_ID NOT IN ( SELECT ISNULL(AGENCY_OPEN_ITEM_ID,0) FROM ACT_AGENCY_STATEMENT_DETAILED) 
--	AND AOI.ITEM_TRAN_CODE = 'PIC'
--	AND AOI.AGENCY_ID = 207 

	 ----Process Property Inspection Commission 
	---- Ravindra(03-05-2008): PIC will be given to DB policies prorated based on payment 
	INSERT INTO ##TEMP_ACT_AGENCY_STATEMENT      
	(      
	MONTH_NUMBER, MONTH_YEAR ,AGENCY_ID,POLICY_ID,        
	POLICY_VERSION_ID,CUSTOMER_ID,SOURCE_EFF_DATE,        
	PREMIUM_AMOUNT, COMMISSION_RATE,TOTAL_PAID,        
	SOURCE_ROW_ID,TRAN_TYPE,AMOUNT_FOR_CALCULATION,  
	STAT_FEES_FOR_CALCULATION ,      
	COMMISSION_AMOUNT,DUE_AMOUNT,PAYMENT_STATUS,        
	IS_TEMP_ENTRY,IN_RECON, AMT_IN_RECON,CUSTOMER_OPEN_ITEM_ID,AGENCY_OPEN_ITEM_ID,  
	GROSS_PREMIUM, FEES, TRAN_CODE, BILL_TYPE, COMM_TYPE      
	)  	
	SELECT         
	@MONTH, @YEAR, AOI.AGENCY_ID, AOI.POLICY_ID,      
	AOI.POLICY_VERSION_ID, AOI.CUSTOMER_ID, AOI.SOURCE_EFF_DATE,        
	AOI.NET_PREMIUM , AOI.AGENCY_COMM_PERC,         
	0, AOI.SOURCE_ROW_ID, AOI.ITEM_TRAN_CODE_TYPE,  
	--SUM(ISNULL(COI.TOTAL_PAID, 0)) - SUM(ISNULL(COI.PROCESSED_AMOUNT_FOR_AGENCY, 0))  AS AMT_FOR_CAL, 
	(
		SELECT SUM(ISNULL(COIIN3.TOTAL_PAID,0) - ISNULL(COIIN3.PROCESSED_AMOUNT_FOR_AGENCY, 0)) 
				FROM ACT_CUSTOMER_OPEN_ITEMS COIIN3
				WHERE COIIN3.AGENCY_ID = AOI.AGENCY_ID  
				AND COIIN3.CUSTOMER_ID = AOI.CUSTOMER_ID 
				AND COIIN3.POLICY_ID	  = AOI.POLICY_ID 
				AND COIIN3.POLICY_VERSION_ID = AOI.POLICY_VERSION_ID 
				AND COIIN3.SOURCE_ROW_ID		= AOI.SOURCE_ROW_ID 
				AND COIIN3.NET_PREMIUM		= AOI.NET_PREMIUM 
				AND COIIN3.ITEM_TRAN_CODE_TYPE = 'PREM'
	) AS AMT_FOR_CAL , 
	0 STAT_FOR_CAL,
	
	(	
		(
		SELECT SUM(ISNULL(AOIIN.TOTAL_DUE,0) ) FROM ACT_AGENCY_OPEN_ITEMS AOIIN
		WHERE AOIIN.AGENCY_ID = AOI.AGENCY_ID  
		AND AOIIN.CUSTOMER_ID = AOI.CUSTOMER_ID 
		AND AOIIN.POLICY_ID	  = AOI.POLICY_ID 
		AND AOIIN.POLICY_VERSION_ID = AOI.POLICY_VERSION_ID 
		AND AOIIN.SOURCE_ROW_ID		= AOI.SOURCE_ROW_ID 
		AND AOIIN.NET_PREMIUM		= AOI.NET_PREMIUM 
		AND ISNULL(AOIIN.BILL_CODE ,'') = 'DB'
		AND AOIIN.ITEM_TRAN_CODE  = AOI.ITEM_TRAN_CODE 
		AND AOIIN.ITEM_TRAN_CODE_TYPE = AOI.ITEM_TRAN_CODE_TYPE
		) 
		* 
		(         
			(
				SELECT SUM(ISNULL(COIIN2.TOTAL_PAID,0) -   ISNULL(COIIN2.PROCESSED_AMOUNT_FOR_AGENCY,0)) 
				FROM ACT_CUSTOMER_OPEN_ITEMS COIIN2
				WHERE COIIN2.AGENCY_ID = AOI.AGENCY_ID  
				AND COIIN2.CUSTOMER_ID = AOI.CUSTOMER_ID 
				AND COIIN2.POLICY_ID	  = AOI.POLICY_ID 
				AND COIIN2.POLICY_VERSION_ID = AOI.POLICY_VERSION_ID 
				AND COIIN2.SOURCE_ROW_ID		= AOI.SOURCE_ROW_ID 
				AND COIIN2.NET_PREMIUM		= AOI.NET_PREMIUM 
				AND COIIN2.ITEM_TRAN_CODE_TYPE = 'PREM'
			)
			/         
			(
				SELECT SUM(ISNULL(COIIN1.TOTAL_DUE, 0) ) FROM ACT_CUSTOMER_OPEN_ITEMS COIIN1
				WHERE COIIN1.AGENCY_ID = AOI.AGENCY_ID  
				AND COIIN1.CUSTOMER_ID = AOI.CUSTOMER_ID 
				AND COIIN1.POLICY_ID	  = AOI.POLICY_ID 
				AND COIIN1.POLICY_VERSION_ID = AOI.POLICY_VERSION_ID 
				AND COIIN1.SOURCE_ROW_ID		= AOI.SOURCE_ROW_ID 
				AND COIIN1.NET_PREMIUM		= AOI.NET_PREMIUM 
				AND COIIN1.ITEM_TRAN_CODE_TYPE = 'PREM'
			)
		)
	)AS COMM_AMT,  
	(	
		(
		SELECT SUM(ISNULL(AOIIN.TOTAL_DUE, 0) ) FROM ACT_AGENCY_OPEN_ITEMS AOIIN
		WHERE AOIIN.AGENCY_ID = AOI.AGENCY_ID  
		AND AOIIN.CUSTOMER_ID = AOI.CUSTOMER_ID 
		AND AOIIN.POLICY_ID	  = AOI.POLICY_ID 
		AND AOIIN.POLICY_VERSION_ID = AOI.POLICY_VERSION_ID 
		AND AOIIN.SOURCE_ROW_ID		= AOI.SOURCE_ROW_ID 
		AND AOIIN.NET_PREMIUM		= AOI.NET_PREMIUM 
		AND ISNULL(AOIIN.BILL_CODE ,'') = 'DB'
		AND AOIIN.ITEM_TRAN_CODE  = AOI.ITEM_TRAN_CODE 
		AND AOIIN.ITEM_TRAN_CODE_TYPE = AOI.ITEM_TRAN_CODE_TYPE
		) 
		* 
		(         
			(
				SELECT SUM(ISNULL(COIIN2.TOTAL_PAID, 0) -  ISNULL(COIIN2.PROCESSED_AMOUNT_FOR_AGENCY, 0)) 
				FROM ACT_CUSTOMER_OPEN_ITEMS COIIN2
				WHERE COIIN2.AGENCY_ID = AOI.AGENCY_ID  
				AND COIIN2.CUSTOMER_ID = AOI.CUSTOMER_ID 
				AND COIIN2.POLICY_ID	  = AOI.POLICY_ID 
				AND COIIN2.POLICY_VERSION_ID = AOI.POLICY_VERSION_ID 
				AND COIIN2.SOURCE_ROW_ID		= AOI.SOURCE_ROW_ID 
				AND COIIN2.NET_PREMIUM		= AOI.NET_PREMIUM 
				AND COIIN2.ITEM_TRAN_CODE_TYPE = 'PREM'
			)
			/         
			(
				SELECT SUM(ISNULL(COIIN1.TOTAL_DUE,0) ) FROM ACT_CUSTOMER_OPEN_ITEMS COIIN1
				WHERE COIIN1.AGENCY_ID = AOI.AGENCY_ID  
				AND COIIN1.CUSTOMER_ID = AOI.CUSTOMER_ID 
				AND COIIN1.POLICY_ID	  = AOI.POLICY_ID 
				AND COIIN1.POLICY_VERSION_ID = AOI.POLICY_VERSION_ID 
				AND COIIN1.SOURCE_ROW_ID		= AOI.SOURCE_ROW_ID 
				AND COIIN1.NET_PREMIUM		= AOI.NET_PREMIUM 
				AND COIIN1.ITEM_TRAN_CODE_TYPE = 'PREM'
			)
		)
	)AS TOTAL_DUE,  
	/*ISNULL(AOI.TOTAL_DUE,0) *         
	(         
		ABS((SUM(ISNULL(COI.TOTAL_PAID, 0))) - SUM(ISNULL(COI.PROCESSED_AMOUNT_FOR_AGENCY, 0)) )
			/         
		ABS(AOI.NET_PREMIUM )        
	)   AS COMM_AMT,  
	ISNULL(AOI.TOTAL_DUE,0) *         
	(         
		ABS((SUM(ISNULL(COI.TOTAL_PAID, 0))) - SUM(ISNULL(COI.PROCESSED_AMOUNT_FOR_AGENCY, 0)) )
			/       
		ABS(AOI.NET_PREMIUM )        
	)   AS TOTAL_DUE, */
	0, 0, 0,  
	0, NULL, AOI.IDEN_ROW_ID,
	AOI.GROSS_AMOUNT ,NULL, AOI.ITEM_TRAN_CODE, 'DB', @COMM_TYPE        
	FROM ACT_AGENCY_OPEN_ITEMS  AOI 
	INNER JOIN ACT_CUSTOMER_OPEN_ITEMS COI
	ON COI.SOURCE_ROW_ID = AOI.SOURCE_ROW_ID 
	--AND COI.NET_PREMIUM = AOI.NET_PREMIUM 
	AND COI.UPDATED_FROM  = AOI.UPDATED_FROM 
	AND ISNULL(COI.ITEM_TRAN_CODE_TYPE, '') <> 'FEES'       
	INNER JOIN POL_CUSTOMER_POLICY_LIST PCL ON PCL.CUSTOMER_ID = AOI.CUSTOMER_ID         
	AND PCL.POLICY_ID = AOI.POLICY_ID         
	AND PCL.POLICY_VERSION_ID = AOI.POLICY_VERSION_ID         
	WHERE  ISNULL(AOI.ITEM_TRAN_CODE_TYPE, '') = 'COM'     
	--AND ISNULL(COI.TOTAL_DUE,0) <> ISNULL(COI.PROCESSED_AMOUNT_FOR_AGENCY,0)          
	AND ISNULL(COI.TOTAL_PAID,0) <> ISNULL(COI.PROCESSED_AMOUNT_FOR_AGENCY,0)          
	AND ISNULL(AOI.BILL_CODE, '') = 'DB'        
	AND DATEDIFF(DD,PCL.APP_EFFECTIVE_DATE , @LAST_DAY_OF_MONTH) >= 0 	 
	AND AOI.ITEM_TRAN_CODE = 'PIC'
	GROUP BY AOI.AGENCY_ID, AOI.POLICY_ID, AOI.POLICY_VERSION_ID, AOI.CUSTOMER_ID, AOI.SOURCE_EFF_DATE,        
	AOI.TOTAL_DUE, AOI.AGENCY_COMM_PERC,AOI.SOURCE_ROW_ID,       
	AOI.ITEM_TRAN_CODE_TYPE, AOI.IDEN_ROW_ID, AOI.GROSS_AMOUNT, AOI.ITEM_TRAN_CODE,AOI.AGENCY_COMM_AMT ,
	AOI.NET_PREMIUM    

END
ELSE 
BEGIN 
	--Calculating Complete app bonus to be given to agency/csr(for DB DIRECT BILL POLICIES)        
	--Commission will be given for those direct bill agencies which are effective in this month     
	--Complete App Commission (CAC)  
	--does NOT depends upon Actual Premium.       
	       
	INSERT INTO ##TEMP_ACT_AGENCY_STATEMENT      
	(      
	MONTH_NUMBER, MONTH_YEAR ,AGENCY_ID,POLICY_ID,        
	POLICY_VERSION_ID,CUSTOMER_ID,SOURCE_EFF_DATE,        
	PREMIUM_AMOUNT, COMMISSION_RATE,TOTAL_PAID,        
	SOURCE_ROW_ID,TRAN_TYPE,AMOUNT_FOR_CALCULATION,       
	COMMISSION_AMOUNT,DUE_AMOUNT,PAYMENT_STATUS,        
	IS_TEMP_ENTRY,IN_RECON, AMT_IN_RECON,CUSTOMER_OPEN_ITEM_ID,AGENCY_OPEN_ITEM_ID,  
	GROSS_PREMIUM,FEES,TRAN_CODE,BILL_TYPE,COMM_TYPE , CSR_ID 
	)       
	SELECT         
	@MONTH, YEAR(AAOI.SOURCE_EFF_DATE), PCPL.AGENCY_ID, PCPL.POLICY_ID,      
	PCPL.POLICY_VERSION_ID, AAOI.CUSTOMER_ID, AAOI.SOURCE_EFF_DATE,         
	AAOI.NET_PREMIUM , AAOI.AGENCY_COMM_PERC,0,      
	AAOI.SOURCE_ROW_ID, AAOI.ITEM_TRAN_CODE_TYPE , AAOI.GROSS_AMOUNT,         
	CASE ITEM_TRAN_CODE_TYPE WHEN 'COM' THEN -AAOI.AGENCY_COMM_AMT ELSE 0 END,AAOI.TOTAL_DUE, 0, 0,      
	NULL,NULL,NULL,AAOI.IDEN_ROW_ID, AAOI.GROSS_AMOUNT ,NULL,AAOI.ITEM_TRAN_CODE,'DB',@COMM_TYPE  ,PCPL.CSR    
	FROM ACT_AGENCY_OPEN_ITEMS AAOI			
	LEFT JOIN POL_CUSTOMER_POLICY_LIST PCPL ON PCPL.POLICY_ID = AAOI.POLICY_ID         
		AND PCPL.POLICY_VERSION_ID = AAOI.POLICY_VERSION_ID  
		AND PCPL.CUSTOMER_ID = AAOI.CUSTOMER_ID         
	WHERE MONTH(AAOI.SOURCE_EFF_DATE) <= @MONTH         
		AND IDEN_ROW_ID NOT IN ( SELECT ISNULL(AGENCY_OPEN_ITEM_ID,0) FROM ACT_AGENCY_STATEMENT_DETAILED)        
		AND YEAR (AAOI.SOURCE_EFF_DATE) = @YEAR        
		AND ISNULL(AAOI.BILL_CODE, '') = 'DB'     
		AND AAOI.ITEM_TRAN_CODE IN (SELECT TYPE_CODE FROM #TEMP_CODE WHERE TYPE = @COMM_TYPE)     
 
END

DROP TABLE #TEMP_CODE      

END     




--go 
--exec Proc_ProcessAgencyStatement 4 ,2009 , 'REG'
--
--select * from ##TEMP_ACT_AGENCY_STATEMENT 
----where agency_id = 207 and customer_id = 1432 and policy_id = 27 
--
--drop table ##TEMP_ACT_AGENCY_STATEMENT
--
--rollback tran 






GO

