IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetLossesOverAmount]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetLossesOverAmount]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--drop proc Proc_GetLossesOverAmount
CREATE PROC Proc_GetLossesOverAmount
(
@MONTH SMALLINT,
@YEAR SMALLINT,
@LOSSE_OVER_AMOUNT NUMERIC(20),
@STATUS char(1),
@LOSS_YEAR SMALLINT = null
)
as

declare @MONTH_END_DATE datetime
set @MONTH_END_DATE = dateadd(dd,-1,dateadd(mm,1,cast(convert(varchar,@MONTH) + '/01/' + convert(varchar,@YEAR) as datetime)));
/*
PASS @STATUS 
A	All
C	Closed
O	Open
and 
pass @LOSS_YEAR null if no condition for Loss year
Example: Use Like this
exec Proc_GetLossesOverAmount 8,2008,25000,'a',2008 --losses over 25000 with loss year 2008
exec Proc_GetLossesOverAmount 8,2008,25000,'a' --losses over 25000 
or 
exec Proc_GetLossesOverAmount 8,2008,25000,'a',null --losses over 25000 

exec Proc_GetLossesOverAmount 8,2008,50000,'o' --Open loses over 50000 
or
exec Proc_GetLossesOverAmount 8,2008,50000,'o',null --Open loses over 50000 

exec Proc_GetLossesOverAmount 8,2008,50000,'a' --loses over 50000 
*/

with 
BASE_TABLE AS
(
SELECT PSP.CLAIM_ID,PSP.AGENCY_ID,PSP.LOB_ID,@MONTH as MONTH_NUMBER,--PSP.MONTH_NUMBER,
	YEAR_NUMBER,
	SUM(PSP.PAID_LOSS) AS PAID_LOSS,
	ISNULL((SELECT TOP 1 sum(ISNULL(END_RESERVE,0)) FROM VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY 
	WHERE CLAIM_ID=PSP.CLAIM_ID AND YEAR_NUMBER=PSP.YEAR_NUMBER and month_number=@MONTH
	group by month_number,YEAR_NUMBER
	ORDER BY YEAR_NUMBER DESC,MONTH_NUMBER DESC
	),0) AS RESERVE
	FROM VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY PSP

	WHERE 
 --  PSP.YEAR_NUMBER=@YEAR
--	AND MONTH_NUMBER<=@MONTH
  dateadd(dd,-1,dateadd(mm,1,cast(convert(varchar,MONTH_NUMBER) + '/01/'  + convert(varchar,PSP.YEAR_NUMBER) as datetime))) <=@MONTH_END_DATE

	GROUP BY PSP.CLAIM_ID,PSP.LOB_ID,PSP.AGENCY_ID,--PSP.MONTH_NUMBER,
	PSP.YEAR_NUMBER
	HAVING 
	(SUM(PSP.PAID_LOSS) +
		ISNULL((SELECT TOP 1 sum(ISNULL(END_RESERVE,0)) FROM VW_LOSS_PAYMENT_SCHEDULE_P_SUMMUARY 
		WHERE CLAIM_ID=PSP.CLAIM_ID AND YEAR_NUMBER=PSP.YEAR_NUMBER AND MONTH_NUMBER=@MONTH --PSP.MONTH_NUMBER
		group by month_number,YEAR_NUMBER
		ORDER BY YEAR_NUMBER DESC,MONTH_NUMBER DESC
		),0) 
	)
	 >@LOSSE_OVER_AMOUNT
),

SECOND_TABLE AS
(
	select TT.CLAIM_ID, TT.AGENCY_ID,TT.LOB_ID,@YEAR as YEAR_NUMBER,SUM(TT.PAID_LOSS) AS PAID_LOSS ,
	ISNULL((select TOP 1 ISNULL(RESERVE,0) from BASE_TABLE where claim_id=tt.claim_id 
		and agency_id=tt.agency_id and lob_id=tt.lob_id 
		and year_number=@YEAR --tt.year_number 
		ORDER BY YEAR_NUMBER DESC,MONTH_NUMBER DESC
	),0)  as RESERVE
	from BASE_TABLE    TT	
	group by TT.CLAIM_ID, TT.AGENCY_ID,TT.LOB_ID --,TT.YEAR_NUMBER
)

SELECT  AG.AGENCY_CODE,AG.AGENCY_DISPLAY_NAME,LOB.LOB_DESC AS LOB,CLM.CLAIM_NUMBER,
ISNULL(PCPL.POLICY_NUMBER,'') AS POLICY_NUMBER,CLM.CLAIMANT_NAME AS [NAME],
 T.* FROM 
 SECOND_TABLE 
  T
INNER JOIN CLM_CLAIM_INFO CLM ON CLM.CLAIM_ID=T.CLAIM_ID
LEFT OUTER JOIN MNT_AGENCY_LIST AG ON AG.AGENCY_ID=T.AGENCY_ID
LEFT OUTER JOIN MNT_LOB_MASTER LOB ON LOB.LOB_ID=T.LOB_ID
LEFT OUTER JOIN POL_CUSTOMER_POLICY_LIST PCPL 
ON PCPL.CUSTOMER_ID=CLM.CUSTOMER_ID
AND PCPL.POLICY_ID=CLM.POLICY_ID
AND PCPL.POLICY_VERSION_ID=CLM.POLICY_VERSION_ID

WHERE 
YEAR(LOSS_DATE)=ISNULL(@LOSS_YEAR,YEAR(LOSS_DATE))
AND ISNULL(CLAIM_STATUS,'0')=
CASE 
	 WHEN @STATUS='C' THEN '11740' --11740 C	Closed
	 WHEN @STATUS='O' THEN '11739' --11739 O	Open
ELSE
	 ISNULL(CLAIM_STATUS,'0')
END





GO

