IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[rpt_ClientInstallmentSchedule]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[rpt_ClientInstallmentSchedule]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran
--drop proc rpt_ClientInstallmentSchedule   
--go
CREATE PROCEDURE [dbo].[rpt_ClientInstallmentSchedule]      
 @intCustomerId VARCHAR(8000),      
 @intPolicyId VARCHAR(8000),      
 @intAgencyId VARCHAR(800)=NULL      
    
AS      
DECLARE @sql VARCHAR(8000)        
    
BEGIN      
CREATE TABLE #TEMP (      
SEQNO INT IDENTITY,      
--TOTAL_DUE DECIMAL(18,2),      
SOURCE_EFF_DATE DATETIME,      
POLICY_NUMBER NVARCHAR(50),      
INSTALLMENT_NO NVARCHAR(50),      
CURRENT_TERM NVARCHAR(2),      
CUSTOMER_FIRST_NAME NVARCHAR(200),      
CUSTOMER_MIDDLE_NAME NVARCHAR(20),      
CUSTOMER_LAST_NAME NVARCHAR(50),      
CUSTOMER_ADDRESS1 NVARCHAR(300),      
CUSTOMER_ADDRESS2 NVARCHAR(300),      
CUSTOMER_CITY NVARCHAR(70),      
STATE_CODE NVARCHAR(20),      
CUSTOMER_ZIP NVARCHAR(11),      
--POLICY_DISP_VERSION NVARCHAR(10),     
PLAN_DESCRIPTION NVARCHAR(35),
--Added For Itrack Issue 6662,6574,6660,6661
INS_NO INT,
PAYMENT_MODE VARCHAR(50),
MIN_INST INT,
BALANCE_AMOUNT decimal(18,2),
FEES decimal(18,2),
INSF_BALANCE_AMOUNT decimal(18,2)
)      
      
--Row Number Case Remove For Itrack Issue Itrack Issue 6662,6574            
-- New Column min_inst , INSF_BALANCE_AMOUNT Added For Itrack Issue 6662,6574  
--Remove  OI.ITEM_TRAN_CODE_TYPE = 'PREM' For Itrack Issue 6662,6574,6660,6661      
--ISNULL(APIPD.IS_ACTIVE_PLAN,''Y'') = ''Y'' Condition added For Itrack Issue # 6573.
--Fees Sub Query Added For Itrack Issue 6662,6574,6660,6661
---- Inner Join Change in to left ACT_POLICY_INSTALL_PLAN_DATA and remove version 
--join For Itrack issue 6662,6574,6660,6661 
--Order By Change INS_NO For Itrack issue 6662,6574,6660,6661 
--Payment_mode added For Itrack Issue #6573
Select @sql= '  
INSERT INTO #TEMP  
(  
  SOURCE_EFF_DATE, POLICY_NUMBER, INSTALLMENT_NO, CURRENT_TERM, CUSTOMER_FIRST_NAME,       
 CUSTOMER_MIDDLE_NAME, CUSTOMER_LAST_NAME, CUSTOMER_ADDRESS1, CUSTOMER_ADDRESS2, CUSTOMER_CITY,       
 STATE_CODE, CUSTOMER_ZIP, PLAN_DESCRIPTION , INS_NO , PAYMENT_MODE ,MIN_INST , BALANCE_AMOUNT , FEES 
  , INSF_BALANCE_AMOUNT
)  
  
  
 SELECT   
	  
    CONVERT(VARCHAR,TMP.DUE_DATE,101) SOURCE_EFF_DATE,  
	PL.POLICY_NUMBER,  
	''Installment - '' + convert(varchar,TMP.INSTALLMENT_NO) INSTALLMENT_NO ,  
	TMP.CURRENT_TERM,  
	CCL.CUSTOMER_FIRST_NAME,CCL.CUSTOMER_MIDDLE_NAME,  
	CCL.CUSTOMER_LAST_NAME,CCL.CUSTOMER_ADDRESS1,CCL.CUSTOMER_ADDRESS2,  
	CCL.CUSTOMER_CITY,MCSL.STATE_CODE AS STATE_CODE,  
	CCL.CUSTOMER_ZIP,TMP.PLAN_DESCRIPTION ,
    TMP.INSTALLMENT_NO AS INS_NO, PAYMENT_MODE , MIN_INST , BALANCE_AMOUNT , FEES , INSF_BALANCE_AMOUNT    
  
  FROM   
  
 ( SELECT     
   INSTALL_DETAILS.CUSTOMER_ID,   
   INSTALL_DETAILS.POLICY_ID,  
   INSTALL_DETAILS.POLICY_VERSION_ID,  
   INSTALL_DETAILS.CURRENT_TERM,  
   CONVERT(CHAR,INSTALLMENT_EFFECTIVE_DATE,101) AS INSTALLMENT_EFFECTIVE_DATE,      
   INSTALL_DETAILS.INSTALLMENT_NO AS INSTALLMENT_NO,  
          APIPD.PLAN_DESCRIPTION AS PLAN_DESCRIPTION,  
   MLV.LOOKUP_VALUE_DESC AS PAYMENT_MODE ,        
   (    
   SELECT ISNULL(OI.TOTAL_DUE,0)    
   FROM ACT_CUSTOMER_OPEN_ITEMS OI    
   WHERE OI.INSTALLMENT_ROW_ID = INSTALL_DETAILS.ROW_ID                  
   AND OI.UPDATED_FROM = ''P'')AS TOTAL_AMOUNT ,  
   (    
    SELECT SUM(ISNULL(OI.TOTAL_DUE,0) - ISNULL(OI.TOTAL_PAID,0))    
    FROM ACT_CUSTOMER_OPEN_ITEMS OI    
    WHERE OI.INSTALLMENT_ROW_ID = INSTALL_DETAILS.ROW_ID               
    AND OI.UPDATED_FROM = ''P''    
   )AS BALANCE_AMOUNT  ,  
   (  
    SELECT TOP 1 ISNULL(OI.SWEEP_DATE,OI.DUE_DATE)   
    FROM ACT_CUSTOMER_OPEN_ITEMS OI    
    WHERE OI.INSTALLMENT_ROW_ID = INSTALL_DETAILS.ROW_ID                   
    AND OI.UPDATED_FROM = ''P''    
   ) AS SWEEP_DATE ,  
   (   
    SELECT TOP 1 OI.DUE_DATE   
    FROM ACT_CUSTOMER_OPEN_ITEMS OI    
    WHERE OI.INSTALLMENT_ROW_ID = INSTALL_DETAILS.ROW_ID           
     
    AND OI.UPDATED_FROM = ''P''    
   ) AS DUE_DATE , 
   (
	SELECT  SUM(ISNULL(OI.TOTAL_DUE,0) - ISNULL(OI.TOTAL_PAID,0))  
	FROM ACT_CUSTOMER_OPEN_ITEMS OI 
    WHERE OI.CUSTOMER_ID = INSTALL_DETAILS.CUSTOMER_ID 
	AND OI.POLICY_ID = INSTALL_DETAILS.POLICY_ID AND 	
	OI.ITEM_TRAN_CODE_TYPE = ''FEES'' 
    AND OI.ITEM_TRAN_CODE != ''INSF''
   ) AS FEES ,

	(	 
	SELECT  MIN(A.INSTALLMENT_NO) FROM ACT_POLICY_INSTALLMENT_DETAILS A
	WHERE INSTALL_DETAILS.CUSTOMER_ID=A.CUSTOMER_ID AND INSTALL_DETAILS.POLICY_ID = A.POLICY_ID 
	GROUP BY A.CUSTOMER_ID , A.POLICY_ID
	)AS MIN_INST ,

	(    
    SELECT SUM(ISNULL(OI.TOTAL_DUE,0) - ISNULL(OI.TOTAL_PAID,0))    
    FROM ACT_CUSTOMER_OPEN_ITEMS OI    
    WHERE OI.INSTALLMENT_ROW_ID = INSTALL_DETAILS.ROW_ID               
    AND OI.UPDATED_FROM = ''P'' and OI.ITEM_TRAN_CODE != ''INSF''   
    )AS INSF_BALANCE_AMOUNT 

   FROM  ACT_POLICY_INSTALLMENT_DETAILS INSTALL_DETAILS   
   INNER JOIN  MNT_LOOKUP_VALUES MLV  ON INSTALL_DETAILS.PAYMENT_MODE = MLV.LOOKUP_UNIQUE_ID 

  
   LEFT JOIN ACT_POLICY_INSTALL_PLAN_DATA APIPD ON INSTALL_DETAILS.CUSTOMER_ID = APIPD.CUSTOMER_ID  
   AND INSTALL_DETAILS.POLICY_ID = APIPD.POLICY_ID AND INSTALL_DETAILS.CURRENT_TERM=APIPD.CURRENT_TERM       
   WHERE ISNULL(APIPD.IS_ACTIVE_PLAN,''Y'') = ''Y''	  
  
 )TMP    
 INNER JOIN POL_CUSTOMER_POLICY_LIST PL  
 ON TMP.CUSTOMER_ID=PL.CUSTOMER_ID AND TMP.POLICY_ID=PL.POLICY_ID AND   
 TMP.POLICY_VERSION_ID=PL.POLICY_VERSION_ID   
   
 INNER JOIN CLT_CUSTOMER_LIST CCL ON TMP.CUSTOMER_ID = CCL.CUSTOMER_ID  
   
 INNER JOIN MNT_COUNTRY_STATE_LIST MCSL ON PL.COUNTRY_ID = MCSL.COUNTRY_ID AND PL.STATE_ID = MCSL.STATE_ID    
 WHERE TMP.CUSTOMER_ID IS NOT NULL   
 '   
      
/*      Commented by Manoj Rathore Itrack # 6115 on 16th July 2009   SELECT   
 SUM( ISNULL(OI.TOTAL_DUE,0)-ISNULL(OI.TOTAL_PAID,0)) TOTAL_DUE,   
 CONVERT(VARCHAR,OI.DUE_DATE,101) SOURCE_EFF_DATE,POLICY_NUMBER,  
 ''Installment - '' + convert(varchar,B.INSTALLMENT_NO) INSTALLMENT_NO , B.CURRENT_TERM ,      
 CUSTOMER_FIRST_NAME,       
 CUSTOMER_MIDDLE_NAME, CUSTOMER_LAST_NAME, CUSTOMER_ADDRESS1, CUSTOMER_ADDRESS2, CUSTOMER_CITY,STATE_CODE,       
 CUSTOMER_ZIP, POLICY_DISP_VERSION, PLAN_DESCRIPTION      
 FROM ACT_CUSTOMER_OPEN_ITEMS OI WITH(NOLOCK)       
 INNER JOIN ACT_POLICY_INSTALLMENT_DETAILS B WITH(NOLOCK) ON OI.INSTALLMENT_ROW_ID = B.ROW_ID       
 INNER JOIN POL_CUSTOMER_POLICY_LIST PCL ON OI.CUSTOMER_ID = PCL.CUSTOMER_ID AND OI.POLICY_ID = PCL.POLICY_ID       
 AND OI.POLICY_VERSION_ID = PCL.POLICY_VERSION_ID       
 INNER JOIN CLT_CUSTOMER_LIST CCL ON OI.CUSTOMER_ID = CCL.CUSTOMER_ID      
 INNER JOIN MNT_COUNTRY_STATE_LIST MCSL ON OI.COUNTRY_ID = MCSL.COUNTRY_ID AND OI.STATE_ID = MCSL.STATE_ID      
 INNER JOIN ACT_POLICY_INSTALL_PLAN_DATA APIPD ON OI.CUSTOMER_ID = APIPD.CUSTOMER_ID AND OI.POLICY_ID = APIPD.POLICY_ID      
      
   WHERE       
    (       
     SELECT SUM(ISNULL(COI.TOTAL_DUE,0))       
     FROM ACT_CUSTOMER_OPEN_ITEMS COI WITH(NOLOCK)       
     WHERE COI.INSTALLMENT_ROW_ID IN       
     (       
     SELECT INSDI.ROW_ID FROM ACT_POLICY_INSTALLMENT_DETAILS INSDI       
     WHERE INSDI.INSTALLMENT_NO = B.INSTALLMENT_NO       
     )       
    )       
    -       
    (       
     SELECT SUM(ISNULL(COI.TOTAL_PAID,0))       
     FROM ACT_CUSTOMER_OPEN_ITEMS COI WITH(NOLOCK)       
     WHERE COI.INSTALLMENT_ROW_ID IN       
     (       
     SELECT INSDI.ROW_ID FROM ACT_POLICY_INSTALLMENT_DETAILS INSDI       
     WHERE INSDI.INSTALLMENT_NO = B.INSTALLMENT_NO       
     )       
    )   
 <> 0       
      
 IF (@intCustomerId <> '0')      
 BEGIN      
  SELECT @sql=@sql + ' AND PCL.CUSTOMER_ID IN (' + @intCustomerId + ')'       
 END      
   
 IF (@intPolicyId <> '0')      
 BEGIN      
  SELECT @sql=@sql + ' AND PCL.POLICY_ID IN (' + @intPolicyId + ')'      
 END      
   
 IF (isnull(@intAgencyId,'0') <> '0')      
 BEGIN         
  SELECT @sql=@sql + ' AND PCL.AGENCY_ID IN (' + @intAgencyId + ')'      
 END     
        
 SELECT @sql=@sql + ' GROUP BY B.INSTALLMENT_NO, OI.DUE_DATE , B.CURRENT_TERM ,CUSTOMER_FIRST_NAME, CUSTOMER_MIDDLE_NAME,       
 CUSTOMER_LAST_NAME, CUSTOMER_ADDRESS1, CUSTOMER_ADDRESS2, CUSTOMER_CITY, STATE_CODE, CUSTOMER_ZIP,       
 POLICY_NUMBER, POLICY_DISP_VERSION, PLAN_DESCRIPTION      
 HAVING SUM((ISNULL(OI.TOTAL_DUE,0))-(ISNULL(OI.TOTAL_PAID,0))) <> 0       
 ORDER BY CUSTOMER_FIRST_NAME, CUSTOMER_MIDDLE_NAME, CUSTOMER_LAST_NAME,CUSTOMER_ADDRESS1, CUSTOMER_ADDRESS2,       
 CUSTOMER_CITY, STATE_CODE, CUSTOMER_ZIP, POLICY_NUMBER , B.INSTALLMENT_NO '      
 */  
 IF (@intCustomerId <> '0')      
 BEGIN      
  --SELECT @sql=@sql + ' AND TMP.CUSTOMER_ID  ' + @intCustomerId        
     SELECT @sql=@sql + ' AND TMP.CUSTOMER_ID IN (' + @intCustomerId + ')' 
 END      
   
 IF (@intPolicyId <> '0')      
 BEGIN      
  --SELECT @sql=@sql + ' AND TMP.POLICY_ID =' + @intPolicyId  
    SELECT @sql=@sql + ' AND TMP.POLICY_ID IN (' + @intPolicyId + ')' 
 END      
 IF (isnull(@intAgencyId,'0') <> '0')      
 BEGIN   
  --SELECT @sql=@sql + ' AND PL.AGENCY_ID =' + @intAgencyId      
    SELECT @sql=@sql + ' AND PL.AGENCY_ID IN (' + @intAgencyId + ')'
 END     
   
  
SELECT @SQL=@SQL +   
 'GROUP BY TMP.DUE_DATE,TMP.INSTALLMENT_NO,TMP.CURRENT_TERM,  
 PL.POLICY_NUMBER,  
 CCL.CUSTOMER_FIRST_NAME,CCL.CUSTOMER_MIDDLE_NAME,  
 CCL.CUSTOMER_LAST_NAME,CCL.CUSTOMER_ADDRESS1,CCL.CUSTOMER_ADDRESS2,  
 CCL.CUSTOMER_CITY,CCL.CUSTOMER_ZIP,MCSL.STATE_CODE,TMP.PLAN_DESCRIPTION , TMP.BALANCE_AMOUNT , TMP.FEES ,TMP.PAYMENT_MODE , TMP.MIN_INST , TMP.INSF_BALANCE_AMOUNT 
 HAVING ABS(SUM(INSF_BALANCE_AMOUNT)) > 0   
 ORDER BY policy_number , INS_NO  '  
  
exec(@sql)
print @sql      
      
--SELECT * FROM #TEMP 
--Select and grouping added For Itrack Issue #6662
--Row number case remove and Case added For Itrack 6662,6574 Attchment.     
select sum(balance_amount)+
(CASE WHEN INS_NO = MIN_INST THEN
	isnull(FEES,0) 
	ELSE 0 END) AS TOTAL_DUE
	,
 
CONVERT(VARCHAR,SOURCE_EFF_DATE,101) SOURCE_EFF_DATE ,    
POLICY_NUMBER ,      
INSTALLMENT_NO ,      
CURRENT_TERM,      
CUSTOMER_FIRST_NAME ,      
CUSTOMER_MIDDLE_NAME ,      
CUSTOMER_LAST_NAME,      
CUSTOMER_ADDRESS1 ,      
CUSTOMER_ADDRESS2 ,      
CUSTOMER_CITY ,      
STATE_CODE,      
CUSTOMER_ZIP ,      
PLAN_DESCRIPTION , PAYMENT_MODE ,  INS_NO , MIN_INST from #TEMP 

group by SOURCE_EFF_DATE , 
POLICY_NUMBER ,      
INSTALLMENT_NO ,      
CURRENT_TERM,      
CUSTOMER_FIRST_NAME ,      
CUSTOMER_MIDDLE_NAME ,      
CUSTOMER_LAST_NAME,      
CUSTOMER_ADDRESS1 ,      
CUSTOMER_ADDRESS2 ,      
CUSTOMER_CITY ,      
STATE_CODE,      
CUSTOMER_ZIP ,      
PLAN_DESCRIPTION , PAYMENT_MODE , INS_NO , MIN_INST,fees

order by  INS_NO 

 drop table #TEMP
      
END      
--go
--exec rpt_ClientInstallmentSchedule '0','0','0'
--rollback tran
  
  

GO

