IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_FETCH_POL_PRODUCT_LOCATION_INFO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_FETCH_POL_PRODUCT_LOCATION_INFO]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

  
 /*----------------------------------------------------------            
Proc Name       : dbo.PROC_FETCH_POL_PRODUCT_LOCATION_INFO    
Created by      : Lalit Chauhan
Date            : 04/26/2010            
Purpose         :Fetch records From POL_PRODUCT_LOCATION_INFO Table.            
Revison History :            
Used In        : Ebix Advantage            
------------------------------------------------------------            
Date     Review By          Comments            
------   ------------       -------------------------*/            
--DROP PROC dbo.PROC_FETCH_POL_PRODUCT_LOCATION_INFO   
/****** Script for PROC_FETCH_POL_PRODUCT_LOCATION_INFO into DATABASE  ******/  


CREATE PROC [dbo].[PROC_FETCH_POL_PRODUCT_LOCATION_INFO] 
(
@PRODUCT_RISK_ID INT,
@CUSTOMER_ID INT,  
@POLICY_ID INT,  
@POLICY_VERSION_ID SMALLINT  
)
AS
BEGIN
SELECT CUSTOMER_ID,
POLICY_ID,
POLICY_VERSION_ID,
PRODUCT_RISK_ID,
LOCATION,
VALUE_AT_RISK,
BUILDING_VALUE,
CONTENTS_VALUE,
RAW_MATERIAL_VALUE,
CONTENTS_RAW_VALUES,
MRI_VALUE,
MAXIMUM_LIMIT,
POSSIBLE_MAX_LOSS,
MULTIPLE_DEDUCTIBLE,
PARKING_SPACES,
ACTIVITY_TYPE,
OCCUPIED_AS,
CONSTRUCTION,
RUBRICA,
ASSIST24,
REMARKS,
IS_ACTIVE,
CREATED_BY,
CREATED_DATETIME,
MODIFIED_BY,
LAST_UPDATED_DATETIME,
CLAIM_RATIO,
BONUS,
CO_APPLICANT_ID,
CLASS_FIELD,
LOCATION_NUMBER,
ITEM_NUMBER,
ACTUAL_INSURED_OBJECT,
ORIGINAL_VERSION_ID,
PORTABLE_EQUIPMENT,
 EXCEEDED_PREMIUM
FROM
POL_PRODUCT_LOCATION_INFO    WITH(NOLOCK)
WHERE 

CUSTOMER_ID=  @CUSTOMER_ID AND  
POLICY_ID= @POLICY_ID AND  
POLICY_VERSION_ID=@POLICY_VERSION_ID  AND

PRODUCT_RISK_ID=@PRODUCT_RISK_ID 
END




GO

