IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_InsertDPVATCivilTransportVehicle]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_InsertDPVATCivilTransportVehicle]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Pradeep Kushwaha>
-- Create date: <14-Dec-2010>
-- Description:	<To Insert records in POL_CIVIL_TRANSPORT_VEHICLES table for DPVAT (Cat. 3 e 4) product>
-- Drop PROC Proc_InsertDPVATCivilTransportVehicle
-- =============================================
CREATE PROC [dbo].[Proc_InsertDPVATCivilTransportVehicle]
	-- Add the parameters for the stored procedure here
	@CUSTOMER_ID INT,        
	@POLICY_ID INT,        
	@POLICY_VERSION_ID SMALLINT,        
	@VEHICLE_ID INT OUT,     
	@CATEGORY INT ,     
	@TICKET_NUMBER INT,
	@STATE_ID INT,
	@IS_ACTIVE NCHAR(1),        
	@CREATED_BY INT,        
	@CREATED_DATETIME DATETIME,
	@ORIGINAL_VERSION_ID INT=NULL,
	@EXCEEDED_PREMIUM INT = NULL 
AS
BEGIN
DECLARE  @RISK_EFFECTIVE_DATE DATETIME , @RISK_EXPIRE_DATE DATETIME ,@CO_APPLICANT_ID INT  --- changes by praveer for TFS# 726

SELECT @CO_APPLICANT_ID = APPLICANT_ID  FROM POL_APPLICANT_LIST  WITH(NOLOCK)       
  WHERE IS_PRIMARY_APPLICANT=1 AND  CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID =@POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID
SELECT  @VEHICLE_ID=ISNULL(MAX(VEHICLE_ID),0)+1 FROM POL_CIVIL_TRANSPORT_VEHICLES WITH (NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID =@POLICY_ID          

SELECT @RISK_EFFECTIVE_DATE=POLICY_EFFECTIVE_DATE,@RISK_EXPIRE_DATE=POLICY_EXPIRATION_DATE  FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID =@POLICY_ID  AND POLICY_VERSION_ID=@POLICY_VERSION_ID


 INSERT INTO POL_CIVIL_TRANSPORT_VEHICLES                 
      ( CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID ,        
        VEHICLE_ID ,TICKET_NUMBER,CATEGORY,STATE_ID ,
        IS_ACTIVE,CREATED_BY, CREATED_DATETIME ,MANUFACTURED_YEAR,FIPE_CODE,RISK_EFFECTIVE_DATE,RISK_EXPIRE_DATE,
        ORIGINAL_VERSION_ID,CO_APPLICANT_ID ,EXCEEDED_PREMIUM --- changes by praveer for TFS# 726
      )                  
      VALUES                  
      ( @CUSTOMER_ID ,@POLICY_ID ,@POLICY_VERSION_ID  ,        
        @VEHICLE_ID  , @TICKET_NUMBER,@CATEGORY  , @STATE_ID,      
         @IS_ACTIVE,@CREATED_BY,@CREATED_DATETIME ,0,'',@RISK_EFFECTIVE_DATE,@RISK_EXPIRE_DATE,
        @ORIGINAL_VERSION_ID,@CO_APPLICANT_ID,@EXCEEDED_PREMIUM  --- changes by praveer for TFS# 726
        
      )    
      
     
    
    RETURN 1  
END
 

GO

