IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetReinsurer_Contract]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetReinsurer_Contract]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Proc_GetReinsurer_Contract]     
(      
 @CUSTOMER_ID INT,          
 @POLICY_ID INT,          
 @POLICY_VERSION_ID INT     
)         
AS          
BEGIN      
    
 Declare @FROMEFFECTIVEDATE datetime    
   Declare  @TOEFFECTIVEDATE datetime    
       
  select @FROMEFFECTIVEDATE=isnull(POLICY_EFFECTIVE_DATE,APP_EFFECTIVE_DATE),    
         @TOEFFECTIVEDATE=isnull(POLICY_EXPIRATION_DATE,APP_EXPIRATION_DATE)    
  from POL_CUSTOMER_POLICY_LIST WITH(NOLOCK)  where CUSTOMER_ID = @CUSTOMER_ID    
  AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID =@POLICY_VERSION_ID    
     
   SELECT CONTRACT_ID as CONTRACTTYPEID,CONTRACT_NUMBER+' '+CONTRACT_TYPE_DESC as CONTRACT_TYPE_DESC FROM MNT_REINSURANCE_CONTRACT MRC  
   inner join MNT_REINSURANCE_CONTRACT_TYPE MCT on MRC.CONTRACT_TYPE=MCT.CONTRACTTYPEID where ISNULL(MCT.IS_ACTIVE,'Y')='Y'   
   AND ISNULL(MRC.IS_ACTIVE,'Y')='Y' AND (MRC.EFFECTIVE_DATE <=@FROMEFFECTIVEDATE AND MRC.EXPIRATION_DATE>=@TOEFFECTIVEDATE)  
   order by CONTRACT_TYPE_DESC     
        
     
END     
GO

