IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_FILLPOL_REACREATIONALVEHICLE_DROPDOWN_BOAT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_FILLPOL_REACREATIONALVEHICLE_DROPDOWN_BOAT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran
--drop proc PROC_FILLPOL_REACREATIONALVEHICLE_DROPDOWN_BOAT
--go

CREATE PROCEDURE [dbo].[PROC_FILLPOL_REACREATIONALVEHICLE_DROPDOWN_BOAT]             
(            
 @CUSTOMER_ID INT,             
 @POLICY_ID INT,             
 @POLICY_VERSION_ID INT,        
 @DRIVER_ID INT = NULL            
)            
AS            
BEGIN            
IF EXISTS(    
     
 SELECT CUSTOMER_ID FROM POL_OPERATOR_ASSIGNED_RECREATIONAL_BOAT        
  WHERE POL_OPERATOR_ASSIGNED_RECREATIONAL_BOAT.CUSTOMER_ID = @CUSTOMER_ID         
  AND POL_OPERATOR_ASSIGNED_RECREATIONAL_BOAT.POLICY_ID = @POLICY_ID         
  AND POL_OPERATOR_ASSIGNED_RECREATIONAL_BOAT.POLICY_VERSION_ID = @POLICY_VERSION_ID        
  AND POL_OPERATOR_ASSIGNED_RECREATIONAL_BOAT.DRIVER_ID = @DRIVER_ID        
 )    
BEGIN      
  SELECT PWI.BOAT_ID,         
  CONVERT(VARCHAR,PWI.BOAT_ID) + ' '  + cast(ISNULL(PWI.[YEAR],'') as varchar)  + ' ' + ISNULL(MAKE,'') AS MODEL_MAKE ,        
  isnull(POARB.RECREATIONAL_VEH_ID, 0) AS RECREATIONAL_VEH_ID,        
  isnull(POARB.POL_REC_VEHICLE_PRIN_OCC_ID, 0) AS POL_REC_VEHICLE_PRIN_OCC_ID   
     
  FROM POL_WATERCRAFT_INFO PWI WITH(NOLOCK)           
  LEFT JOIN POL_OPERATOR_ASSIGNED_RECREATIONAL_BOAT POARB       
  ON PWI.CUSTOMER_ID = POARB.CUSTOMER_ID        
  AND PWI.POLICY_ID = POARB.POLICY_ID        
  AND PWI.POLICY_VERSION_ID = POARB.POLICY_VERSION_ID        
  AND PWI.BOAT_ID = POARB.BOAT_ID        
  AND POARB.DRIVER_ID = @DRIVER_ID        
  WHERE PWI.CUSTOMER_ID = @CUSTOMER_ID         
  AND PWI.POLICY_ID = @POLICY_ID         
  AND PWI.POLICY_VERSION_ID = @POLICY_VERSION_ID        
  AND UPPER(PWI.IS_ACTIVE)='Y'  ORDER BY 2 
END           
--ELSE        
-- BEGIN
--  SELECT PWI.BOAT_ID,         
--  CONVERT(VARCHAR,PWI.BOAT_ID) + ' '  + cast(ISNULL(PWI.[YEAR],'') as varchar)   + ' ' + ISNULL(MAKE,'') AS MODEL_MAKE ,        
--  '0' AS RECREATIONAL_VEH_ID,        
--  '0' AS OPERATOR_TYPE        
--  FROM POL_WATERCRAFT_INFO  PWI WITH(NOLOCK)           
--  WHERE PWI.CUSTOMER_ID = @CUSTOMER_ID         
--  AND PWI.POLICY_ID = @POLICY_ID         
--  AND PWI.POLICY_VERSION_ID = @POLICY_VERSION_ID        
--  AND UPPER(PWI.IS_ACTIVE)='Y'  ORDER BY 2  
-- END          
END            
        
        
-- PROC_FILLAPPVEHICLEDROPDOWN_BAOT 1426,47,1  
        
--  select year,make,* from APP_WATERCRAFT_INFO where customer_id=1426 and app_id=40 and app_version_id=1        
--  delete from APP_DRIVER_ASSIGNED_VEHICLE        
        
--        
-- go
--exec PROC_FILLPOL_REACREATIONALVEHICLE_DROPDOWN_BOAT 547,83,2,1
--rollback tran       
--      
    
  



GO

