IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_InsertACT_INSTALL_PARAMS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_InsertACT_INSTALL_PARAMS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



/*----------------------------------------------------------
Proc Name       : dbo.Proc
Created by      : Ebix
Date            : 6/6/2005
Purpose   :Evaluation
Revison History :
Used In 	      : Wolverine
------------------------------------------------------------
Date     Review By          Comments
------   ------------       -------------------------*/
CREATE PROC Dbo.Proc_InsertACT_INSTALL_PARAMS
(
	@INSTALL_DAYS_IN_ADVANCE     smallint,
	@INSTALL_NOTIFY_ACCOUNTEXE     char(1),
	@INSTALL_NOTIFY_CSR     char(1),
	@INSTALL_NOTIFY_UNDERWRITER     char(1),
	@INSTALL_NOTIFY_OTHER_USERS     varchar(200),
	@IS_ACTIVE     nchar(2),
	@CREATED_BY     int,
	@CREATED_DATETIME     datetime,
	@MODIFIED_BY     int,
	@LAST_UPDATED_DATETIME     datetime
)
AS
BEGIN
	If Exists(SELECT INSTALL_DAYS_IN_ADVANCE FROM ACT_INSTALL_PARAMS)
	BEGIN
		UPDATE ACT_INSTALL_PARAMS
		SET INSTALL_DAYS_IN_ADVANCE = @INSTALL_DAYS_IN_ADVANCE,
		INSTALL_NOTIFY_ACCOUNTEXE = @INSTALL_NOTIFY_ACCOUNTEXE,
		INSTALL_NOTIFY_CSR = @INSTALL_NOTIFY_CSR,
		INSTALL_NOTIFY_UNDERWRITER = @INSTALL_NOTIFY_UNDERWRITER,
		INSTALL_NOTIFY_OTHER_USERS = @INSTALL_NOTIFY_OTHER_USERS,
		IS_ACTIVE = @IS_ACTIVE,
		MODIFIED_BY = @MODIFIED_BY,
		LAST_UPDATED_DATETIME = @LAST_UPDATED_DATETIME
	END
	ELSE
	BEGIN
		INSERT INTO ACT_INSTALL_PARAMS
		(
			INSTALL_DAYS_IN_ADVANCE,
			INSTALL_NOTIFY_ACCOUNTEXE,
			INSTALL_NOTIFY_CSR,
			INSTALL_NOTIFY_UNDERWRITER,
			INSTALL_NOTIFY_OTHER_USERS,
			IS_ACTIVE,
			CREATED_BY,
			CREATED_DATETIME		)
		VALUES
		(
			@INSTALL_DAYS_IN_ADVANCE,
			@INSTALL_NOTIFY_ACCOUNTEXE,
			@INSTALL_NOTIFY_CSR,
			@INSTALL_NOTIFY_UNDERWRITER,
			@INSTALL_NOTIFY_OTHER_USERS,
			'Y',
			@CREATED_BY,
			@CREATED_DATETIME
		)
	END
END




GO

