IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_DELETEMARITIME]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_DELETEMARITIME]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*    
PROC NAME :[DBO].[PROC_DELETEMARITIME] 
                
CREATED BY :PRADEEP KUSHWAHA    
DATE  : 22 MARCH 2010    
PURPOSE  : TO DELETE MARITIME DATA  
*/    
--DROP PROC [DBO].[PROC_DELETEMARITIME]
  
CREATE PROC [dbo].[PROC_DELETEMARITIME]    
(     
 @MARITIME_ID  INT ,  
 @CUSTOMER_ID INT,      
 @POLICY_ID INT,      
 @POLICY_VERSION_ID INT  
      
)                
AS                
BEGIN                
    
  DELETE FROM POL_MARITIME WHERE CUSTOMER_ID=@CUSTOMER_ID AND  POLICY_ID=@POLICY_ID AND    POLICY_VERSION_ID=@POLICY_VERSION_ID  AND MARITIME_ID=@MARITIME_ID    
  DELETE FROM POL_DISCOUNT_SURCHARGE  WHERE  CUSTOMER_ID =@CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND  POLICY_VERSION_ID=@POLICY_VERSION_ID AND RISK_ID=@MARITIME_ID   
  DELETE FROM POL_PRODUCT_COVERAGES  WHERE  CUSTOMER_ID =@CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND  POLICY_VERSION_ID=@POLICY_VERSION_ID  AND RISK_ID=@MARITIME_ID 
END         
    

GO

