IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_CheckMotorist]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_CheckMotorist]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------                    
Proc Name       : dbo.Proc_CheckMotorist           
Modified By : sawrup             
Modified On : 04/05/2006           
             
Purpose     : Get value if Uninsured/Underinsured Motorist Protecion been Rejected or Lower Limits accepted              
------------------------------------------------------------                    
Date     Review By          Comments                    
------   ------------       -------------------------*/             
--drop proc dbo.Proc_CheckMotorist       
CREATE    PROC dbo.Proc_CheckMotorist 
(            
@CUSTOMER_ID INT,                  
@APP_ID INT,                  
@APP_VERSION_ID INT,
@CALLED_FROM VARCHAR(10)=NULL,
--@RESULT INT OUT,                
@RESULT_REJECTED INT OUT,
@RESULT_LOWER INT OUT
)
AS                  
                  
BEGIN 

	declare @BODILY_INJURY_COV_ID int
	declare @UNINSURED_MOTOR_COV_ID int
	
	declare @SINGLE_LIMIT_LIABILITY_COV_ID int
	declare @UNINSURED_MOTOR_CSL_COV_ID int
	declare @UNDERINSURED_MOTOR_CSL_COV_ID int
	
	declare @STATE_ID int
	declare @LOB_ID varchar(10)

	set @RESULT_REJECTED = 2
	set @RESULT_LOWER = 2

	IF (@CALLED_FROM IS NULL OR UPPER(@CALLED_FROM)='APP')
		SELECT @STATE_ID=STATE_ID,@LOB_ID=APP_LOB FROM APP_LIST WHERE CUSTOMER_ID=@CUSTOMER_ID AND APP_ID=@APP_ID AND APP_VERSION_ID=@APP_VERSION_ID
	else
		SELECT @STATE_ID=STATE_ID,@LOB_ID=POLICY_LOB FROM POL_CUSTOMER_POLICY_LIST WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@APP_ID AND POLICY_VERSION_ID=@APP_VERSION_ID
	
	if(@state_id=14)
	begin
		set @BODILY_INJURY_COV_ID = 2
		set @UNINSURED_MOTOR_COV_ID =  12
	
		if(@LOB_ID=2)
		begin
			set @SINGLE_LIMIT_LIABILITY_COV_ID = 1
			set @UNINSURED_MOTOR_CSL_COV_ID = 9
			set @UNDERINSURED_MOTOR_CSL_COV_ID =  14
		end
		else
		begin
			set @UNINSURED_MOTOR_CSL_COV_ID = 131
			set @UNDERINSURED_MOTOR_CSL_COV_ID =  133
		end
		
	end
	else if(@state_id=22)
	begin
		set @BODILY_INJURY_COV_ID = 114
		set @UNINSURED_MOTOR_COV_ID = 120
	
		if(@LOB_ID=2)
		begin
			set @UNINSURED_MOTOR_CSL_COV_ID = 119
			set @UNDERINSURED_MOTOR_CSL_COV_ID =  304
		end
		else
		begin
			set @UNINSURED_MOTOR_CSL_COV_ID = 211		
		end
	
	end

	IF @CALLED_FROM IS NULL OR UPPER(@CALLED_FROM)='APP'
	begin
		IF EXISTS
		(
			SELECT 
				DISTINCT A1.LIMIT_2, A2.LIMIT_2,A1.COVERAGE_CODE_ID,A2.COVERAGE_CODE_ID 
			FROM 
				APP_VEHICLE_COVERAGES A1 with (nolock) JOIN APP_VEHICLE_COVERAGES A2 with (nolock) 
			ON
				A1.CUSTOMER_ID=A2.CUSTOMER_ID AND A1.APP_ID=A2.APP_ID AND A1.APP_VERSION_ID= A2.APP_VERSION_ID
				AND A1.VEHICLE_ID=A2.VEHICLE_ID
			WHERE 
				A2.CUSTOMER_ID=@CUSTOMER_ID AND A2.APP_ID=@APP_ID AND A2.APP_VERSION_ID=@APP_VERSION_ID		
				AND A1.COVERAGE_CODE_ID =@BODILY_INJURY_COV_ID AND A2.COVERAGE_CODE_ID =@UNINSURED_MOTOR_COV_ID 
		)
		BEGIN --BI Split Limit Coverage is taken ..We should now check for reject/lower
			if exists
			(
				SELECT 
					DISTINCT A1.LIMIT_2, A2.LIMIT_2,A1.COVERAGE_CODE_ID,A2.COVERAGE_CODE_ID 
				FROM 
					APP_VEHICLE_COVERAGES A1 with (nolock) JOIN APP_VEHICLE_COVERAGES A2 with (nolock) 
				ON
					A1.CUSTOMER_ID=A2.CUSTOMER_ID AND A1.APP_ID=A2.APP_ID AND A1.APP_VERSION_ID= A2.APP_VERSION_ID
					AND A1.VEHICLE_ID=A2.VEHICLE_ID
				WHERE 
					A2.CUSTOMER_ID=@CUSTOMER_ID AND A2.APP_ID=@APP_ID AND A2.APP_VERSION_ID=@APP_VERSION_ID		
					AND A1.COVERAGE_CODE_ID =@BODILY_INJURY_COV_ID AND A2.COVERAGE_CODE_ID =@UNINSURED_MOTOR_COV_ID 
					AND (A2.LIMIT_2 IS NULL)
			)--Case of Rejection				
				SET @RESULT_REJECTED = 1				
			ELSE
			BEGIN			
				IF EXISTS
				(
					SELECT 
					DISTINCT A1.LIMIT_2, A2.LIMIT_2,A1.COVERAGE_CODE_ID,A2.COVERAGE_CODE_ID 
					FROM 
						APP_VEHICLE_COVERAGES A1 with (nolock) JOIN APP_VEHICLE_COVERAGES A2 with (nolock) 
					ON
						A1.CUSTOMER_ID=A2.CUSTOMER_ID AND A1.APP_ID=A2.APP_ID AND A1.APP_VERSION_ID= A2.APP_VERSION_ID
						AND A1.VEHICLE_ID=A2.VEHICLE_ID
					WHERE 
						A2.CUSTOMER_ID=@CUSTOMER_ID AND A2.APP_ID=@APP_ID AND A2.APP_VERSION_ID=@APP_VERSION_ID		
						AND A1.COVERAGE_CODE_ID =@BODILY_INJURY_COV_ID AND A2.COVERAGE_CODE_ID =@UNINSURED_MOTOR_COV_ID 
						AND ISNULL(A1.LIMIT_2,0)>ISNULL(A2.LIMIT_2,0)
				)
					set @RESULT_LOWER = 1
				else
					set @RESULT_LOWER = 2
			end		
		end	
		else
		begin					
			if exists
			(
				SELECT 
					DISTINCT A1.LIMIT_1, A2.LIMIT_1,A1.COVERAGE_CODE_ID,A2.COVERAGE_CODE_ID 
				FROM 
					APP_VEHICLE_COVERAGES A1 with (nolock) JOIN APP_VEHICLE_COVERAGES A2 with (nolock) 
				ON
					A1.CUSTOMER_ID=A2.CUSTOMER_ID AND A1.APP_ID=A2.APP_ID AND A1.APP_VERSION_ID= A2.APP_VERSION_ID
					AND A1.VEHICLE_ID=A2.VEHICLE_ID
				WHERE 
					A2.CUSTOMER_ID=@CUSTOMER_ID AND A2.APP_ID=@APP_ID AND A2.APP_VERSION_ID=@APP_VERSION_ID		
					AND A1.COVERAGE_CODE_ID =@SINGLE_LIMIT_LIABILITY_COV_ID AND A2.COVERAGE_CODE_ID =@UNINSURED_MOTOR_CSL_COV_ID
					AND (A2.LIMIT_1 IS NULL)
					--AND ISNULL(A1.LIMIT_2,0)>ISNULL(A2.LIMIT_2,0)
			)	
				SET @RESULT_REJECTED = 1
			else
			begin
				
				if exists
				(
					SELECT 
						DISTINCT A1.LIMIT_1, A2.LIMIT_1,A1.COVERAGE_CODE_ID,A2.COVERAGE_CODE_ID 
					FROM 
						APP_VEHICLE_COVERAGES A1 with (nolock) JOIN APP_VEHICLE_COVERAGES A2 with (nolock) 
					ON
						A1.CUSTOMER_ID=A2.CUSTOMER_ID AND A1.APP_ID=A2.APP_ID AND A1.APP_VERSION_ID= A2.APP_VERSION_ID
						AND A1.VEHICLE_ID=A2.VEHICLE_ID
					WHERE 
						A2.CUSTOMER_ID=@CUSTOMER_ID AND A2.APP_ID=@APP_ID AND A2.APP_VERSION_ID=@APP_VERSION_ID		
						AND A1.COVERAGE_CODE_ID =@SINGLE_LIMIT_LIABILITY_COV_ID AND A2.COVERAGE_CODE_ID =@UNINSURED_MOTOR_CSL_COV_ID
					AND ISNULL(A1.LIMIT_1,0)>ISNULL(A2.LIMIT_1,0)
				)
					set @RESULT_LOWER = 1
				else
					set @RESULT_LOWER = 2
			end
		end

	end
	else
	begin
		IF EXISTS
	(
		SELECT 
			DISTINCT A1.LIMIT_2, A2.LIMIT_2,A1.COVERAGE_CODE_ID,A2.COVERAGE_CODE_ID 
		FROM 
			POL_VEHICLE_COVERAGES A1 with (nolock) JOIN POL_VEHICLE_COVERAGES A2 with (nolock) 
		ON
			A1.CUSTOMER_ID=A2.CUSTOMER_ID AND A1.POLICY_ID=A2.POLICY_ID AND A1.POLICY_VERSION_ID= A2.POLICY_VERSION_ID
			AND A1.VEHICLE_ID=A2.VEHICLE_ID
		WHERE 
			A2.CUSTOMER_ID=@CUSTOMER_ID AND A2.POLICY_ID=@APP_ID AND A2.POLICY_VERSION_ID=@APP_VERSION_ID		
			AND A1.COVERAGE_CODE_ID =@BODILY_INJURY_COV_ID AND A2.COVERAGE_CODE_ID =@UNINSURED_MOTOR_COV_ID 
	)
	BEGIN --BI Split Limit Coverage is taken ..We should now check for reject/lower
		if exists
		(
			SELECT 
				DISTINCT A1.LIMIT_2, A2.LIMIT_2,A1.COVERAGE_CODE_ID,A2.COVERAGE_CODE_ID 
			FROM 
				POL_VEHICLE_COVERAGES A1 with (nolock) JOIN POL_VEHICLE_COVERAGES A2 with (nolock) 
			ON
				A1.CUSTOMER_ID=A2.CUSTOMER_ID AND A1.POLICY_ID=A2.POLICY_ID AND A1.POLICY_VERSION_ID= A2.POLICY_VERSION_ID
				AND A1.VEHICLE_ID=A2.VEHICLE_ID
			WHERE 
				A2.CUSTOMER_ID=@CUSTOMER_ID AND A2.POLICY_ID=@APP_ID AND A2.POLICY_VERSION_ID=@APP_VERSION_ID		
				AND A1.COVERAGE_CODE_ID =@BODILY_INJURY_COV_ID AND A2.COVERAGE_CODE_ID =@UNINSURED_MOTOR_COV_ID 
				AND (A2.LIMIT_2 IS NULL)
		)--Case of Rejection				
			SET @RESULT_REJECTED = 1				
		ELSE
		BEGIN			
			IF EXISTS
			(
				SELECT 
				DISTINCT A1.LIMIT_2, A2.LIMIT_2,A1.COVERAGE_CODE_ID,A2.COVERAGE_CODE_ID 
				FROM 
					POL_VEHICLE_COVERAGES A1 with (nolock) JOIN POL_VEHICLE_COVERAGES A2 with (nolock) 
				ON
					A1.CUSTOMER_ID=A2.CUSTOMER_ID AND A1.POLICY_ID=A2.POLICY_ID AND A1.POLICY_VERSION_ID= A2.POLICY_VERSION_ID
					AND A1.VEHICLE_ID=A2.VEHICLE_ID
				WHERE 
					A2.CUSTOMER_ID=@CUSTOMER_ID AND A2.POLICY_ID=@APP_ID AND A2.POLICY_VERSION_ID=@APP_VERSION_ID		
					AND A1.COVERAGE_CODE_ID =@BODILY_INJURY_COV_ID AND A2.COVERAGE_CODE_ID =@UNINSURED_MOTOR_COV_ID 
					AND ISNULL(A1.LIMIT_2,0)>ISNULL(A2.LIMIT_2,0)
			)
				set @RESULT_LOWER = 1
			else
				set @RESULT_LOWER = 2
		end		
	end	
	else
	begin					
		if exists
		(
			SELECT 
				DISTINCT A1.LIMIT_1, A2.LIMIT_1,A1.COVERAGE_CODE_ID,A2.COVERAGE_CODE_ID 
			FROM 
				POL_VEHICLE_COVERAGES A1 with (nolock) JOIN POL_VEHICLE_COVERAGES A2 with (nolock) 
			ON
				A1.CUSTOMER_ID=A2.CUSTOMER_ID AND A1.POLICY_ID=A2.POLICY_ID AND A1.POLICY_VERSION_ID= A2.POLICY_VERSION_ID
				AND A1.VEHICLE_ID=A2.VEHICLE_ID
			WHERE 
				A2.CUSTOMER_ID=@CUSTOMER_ID AND A2.POLICY_ID=@APP_ID AND A2.POLICY_VERSION_ID=@APP_VERSION_ID		
				AND A1.COVERAGE_CODE_ID =@SINGLE_LIMIT_LIABILITY_COV_ID AND A2.COVERAGE_CODE_ID =@UNINSURED_MOTOR_CSL_COV_ID
				AND (A2.LIMIT_1 IS NULL)
				--AND ISNULL(A1.LIMIT_2,0)>ISNULL(A2.LIMIT_2,0)
		)	
			SET @RESULT_REJECTED = 1
		else
		begin
			
			if exists
			(
				SELECT 
					DISTINCT A1.LIMIT_1, A2.LIMIT_1,A1.COVERAGE_CODE_ID,A2.COVERAGE_CODE_ID 
				FROM 
					POL_VEHICLE_COVERAGES A1 with (nolock) JOIN POL_VEHICLE_COVERAGES A2 with (nolock) 
				ON
					A1.CUSTOMER_ID=A2.CUSTOMER_ID AND A1.POLICY_ID=A2.POLICY_ID AND A1.POLICY_VERSION_ID= A2.POLICY_VERSION_ID
					AND A1.VEHICLE_ID=A2.VEHICLE_ID
				WHERE 
					A2.CUSTOMER_ID=@CUSTOMER_ID AND A2.POLICY_ID=@APP_ID AND A2.POLICY_VERSION_ID=@APP_VERSION_ID		
					AND A1.COVERAGE_CODE_ID =@SINGLE_LIMIT_LIABILITY_COV_ID AND A2.COVERAGE_CODE_ID =@UNINSURED_MOTOR_CSL_COV_ID
				AND ISNULL(A1.LIMIT_1,0)>ISNULL(A2.LIMIT_1,0)
			)
				set @RESULT_LOWER = 1
			else
				set @RESULT_LOWER = 2
		end
	end

	end
END 

GO

