IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_PostRevertBackPremium]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_PostRevertBackPremium]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran  
--drop proc [dbo].[Proc_PostRevertBackPremium]    
--go  
  
/**************************************************************  
CREATED BY    :  Ravindra  
CREATED DATE  : 05-07-2008  
PURPOSE    :  To post Revert Back premium   
REVISION HISTORY :  
Revised By   :   
Revised Date    
Purpose  
  
Modified by   : Praveen kasana  
Modified date  : 27 OCT 2009  
Purpose    : Fee Charge (ITRACK 6630)  
Used In    : Wolverine                
                  
  
***************************************************************/  
--drop proc dbo.Proc_PostRevertBackPremium  
CREATE PROCEDURE [dbo].[Proc_PostRevertBackPremium]    
(   
 @CUSTOMER_ID     INT,     
 @POLICY_ID      INT,     
 @NEW_POLICY_VERSION_ID   SMALLINT,  
 @REVET_VERSIONS    Varchar(500),  
 @PROCESS_ID     Int,  
 @USER_ID     Int =NULL ,
 @BASE_VERSION INT = NULL
)   
AS  
BEGIN  
  
 DECLARE @POSTING_DATE Datetime   
   
 SET @POSTING_DATE  = GETDATE()   
   
 CREATE TABLE #VERSIONS_TO_REVERT  
 (  
  IDEN_COL   Int Identity(1,1) ,  
  CUSTOMER_ID   Int,  
  POLICY_ID   Int,  
  POLICY_VERSION_ID Int,  
  CURRENT_TERM  Int,   
  INSTALL_PLAN_ID  Int,   
  PROCESS_TO_REVERT Int  
 )  
  
  
 CREATE TABLE #POLICY_RISKS   
 (  
  IDEN_ROW_ID  INt Identity(1,1),  
  RISK_ID   Int,  
  RISK_TYPE  VArchar(10)   
 )    
  
 CREATE TABLE #TEMP_INSTALLMENTS   
 (  
  IDENT_COL Int Identity(1,1),  
  INS_ROW_ID Int  
 )   
  
 CREATE TABLE #FEE_TEMP  
 (  
    IDEN_COL INT IDENTITY(1,1) ,  
    IDEN_ROW_ID INT,  
    FEES_REVERSE DECIMAL(18,2)     
 )   
  
 DECLARE @VERSIONLIST   varchar(2000),  
   @TEMPTEXT    varchar(50),  
   @POS     int,  
   @VERSION_TO_REVERT  INt,  
   @PROCESS_TO_REVERT  Int,  
   --Lowest Policy version reverted  
   @LOWEST_VERSION_RTEVERTED INT  
 SET @VERSIONLIST = LTRIM(RTRIM(@REVET_VERSIONS))+ ','  
  
 SET @POS = CHARINDEX(',', @VERSIONLIST, 1)  
   SELECT * INTO #tempPLAN_DATA  FROM ACT_POLICY_INSTALL_PLAN_DATA WHERE 1 = 2
 IF REPLACE(@VERSIONLIST, ',', '') <> ''  
 BEGIN  
  WHILE @POS > 0  
  BEGIN  

   SET @PROCESS_TO_REVERT = NULL     

   SET @TEMPTEXT = LTRIM(RTRIM(LEFT(@VERSIONLIST, @Pos - 1)))  

   IF @TEMPTEXT <> ''  
   BEGIN  
    SELECT @VERSION_TO_REVERT = CAST(@TEMPTEXT AS INT)   
  
    SELECT @PROCESS_TO_REVERT = PROCESS_ID FROM POL_POLICY_PROCESS WHERE   
    CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID   
    AND NEW_POLICY_VERSION_ID = @VERSION_TO_REVERT AND PROCESS_STATUS = 'COMPLETE'   
    AND ISNULL(REVERT_BACK,'N') <> 'Y'   
  
    INSERT INTO #VERSIONS_TO_REVERT  (CUSTOMER_ID , POLICY_ID ,  POLICY_VERSION_ID,   
      CURRENT_TERM , INSTALL_PLAN_ID ,PROCESS_TO_REVERT)   
    SELECT CUSTOMER_ID , POLICY_ID ,  POLICY_VERSION_ID,   
      CURRENT_TERM  , INSTALL_PLAN_ID , @PROCESS_TO_REVERT  
    FROM POL_CUSTOMER_POLICY_LIST   
    WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID   
    AND POLICY_VERSION_ID =@VERSION_TO_REVERT   
   END  
     
   SET @VERSIONLIST = RIGHT(@VERSIONLIST, LEN(@VERSIONLIST) - @Pos)  
  
   SET @Pos = CHARINDEX(',', @VERSIONLIST, 1)  
  END  
 END  
  
 SELECT @LOWEST_VERSION_RTEVERTED = MIN(POLICY_VERSION_ID) FROM #VERSIONS_TO_REVERT   
  
 DECLARE @IDEN_COL Int,  
   @CURRENT_TERM Int ,   
   @VERSION_TO_POST Int ,   
   @PPD_ROW_ID Int,  
   @POSTED_PREMIUM_XML VARCHAR(4000)  ,  
   @PREMIUM_XML VARCHAR(4000) ,  
   @IDOC INT  ,  
   @NET_PREMIUM VARCHAR(40) ,           
   @GROSS_PREMIUM VARCHAR(40),            
   @MCCA_FEES  VARCHAR(40)  ,        
   @OTHER_FEES VARCHAR(40)  ,   
   @INSTALL_PLAN_ID Int,   
   @FULL_PAY_PLAN  Int   
  
 SELECT @FULL_PAY_PLAN = IDEN_PLAN_ID FROM ACT_INSTALL_PLAN_DETAIL   
 WHERE ISNULL(SYSTEM_GENERATED_FULL_PAY,0) = 1   
 SET @IDEN_COL = 1  
     
 WHILE(1=1)  
 BEGIN   
  IF NOT EXISTS ( SELECT IDEN_COL FROM #VERSIONS_TO_REVERT WHERE IDEN_COL = @IDEN_COL )   
   BREAK  
  
  SELECT @CURRENT_TERM = CURRENT_TERM , @VERSION_TO_POST = POLICY_VERSION_ID ,  
    @INSTALL_PLAN_ID = INSTALL_PLAN_ID ,  
    @PROCESS_TO_REVERT = PROCESS_TO_REVERT  
  FROM #VERSIONS_TO_REVERT WHERE IDEN_COL = @IDEN_COL  
  
  IF NOT EXISTS (SELECT CUSTOMER_ID FROM ACT_PREMIUM_PROCESS_DETAILS   
      WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID   
      AND POLICY_VERSION_ID = @VERSION_TO_POST )   
  BEGIN   
   SET @IDEN_COL  = @IDEN_COL + 1   
   CONTINUE  
  END  
  
  -- Create a record in Premium Process Details   
  SELECT @POSTED_PREMIUM_XML = POSTED_PREMIUM_XML   , @PREMIUM_XML = PREMIUM_XML   
  FROM ACT_PREMIUM_PROCESS_DETAILS with(nolock)   
  WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID   
  AND POLICY_VERSION_ID = @VERSION_TO_POST     
  
  EXEC SP_XML_PREPAREDOCUMENT @IDOC OUTPUT, @POSTED_PREMIUM_XML    
  -- EXECUTE A SELECT STATEMENT THAT USES THE OPENXML ROWSET PROVIDER.       
    
  SELECT  @NET_PREMIUM = NETPREMIUM ,            
   @GROSS_PREMIUM = GROSSPREMIUM,             
   @MCCA_FEES = MCCAFEES ,            
   @OTHER_FEES = OTHERFEES            
  FROM   OPENXML (@IDOC, '/PREMIUM',2 )            
   WITH(            
   NETPREMIUM   VARCHAR(40),             
   GROSSPREMIUM VARCHAR(40),            
   MCCAFEES     VARCHAR(40),            
   OTHERFEES    VARCHAR(40)            
   )            
  
  SET @POSTED_PREMIUM_XML = '<PREMIUM><GROSSPREMIUM>' + CONVERT(VARCHAR,@GROSS_PREMIUM * -1 ) + '</GROSSPREMIUM><NETPREMIUM>'   
        + CONVERT(VARCHAR,@NET_PREMIUM * -1) + '</NETPREMIUM><MCCAFEES>' + CONVERT(VARCHAR,@MCCA_FEES * -1)  
        + '</MCCAFEES><OTHERFEES>'+ CONVERT(VARCHAR,@OTHER_FEES * -1) +'</OTHERFEES></PREMIUM>'  
  EXEC SP_XML_REMOVEDOCUMENT @IDOC    
  
  
  EXEC SP_XML_PREPAREDOCUMENT @IDOC OUTPUT, @PREMIUM_XML    
  -- EXECUTE A SELECT STATEMENT THAT USES THE OPENXML ROWSET PROVIDER.       
    
  SELECT  @NET_PREMIUM = NETPREMIUM ,            
   @GROSS_PREMIUM = GROSSPREMIUM,             
   @MCCA_FEES = MCCAFEES ,            
   @OTHER_FEES = OTHERFEES            
  FROM   OPENXML (@IDOC, '/PREMIUM',2 )            
   WITH(            
   NETPREMIUM   VARCHAR(40),             
   GROSSPREMIUM VARCHAR(40),            
   MCCAFEES     VARCHAR(40),            
   OTHERFEES    VARCHAR(40)            
   )            

  --select CAST(@GROSS_PREMIUM AS DECIMAL(25,2)) * -1
  SET @PREMIUM_XML = '<PREMIUM><GROSSPREMIUM>' + CONVERT(VARCHAR,CAST(@GROSS_PREMIUM AS DECIMAL(25,2)) * -1) + '</GROSSPREMIUM><NETPREMIUM>'   
        + CONVERT(VARCHAR,CAST(@NET_PREMIUM AS DECIMAL(25,2)) *-1) + '</NETPREMIUM><MCCAFEES>' + CONVERT(VARCHAR,CAST(@MCCA_FEES AS DECIMAL(25,2)) *-1)  
        + '</MCCAFEES><OTHERFEES>'+ CONVERT(VARCHAR,CAST(@OTHER_FEES AS DECIMAL(25,2))*-1) +'</OTHERFEES></PREMIUM>'  

  EXEC SP_XML_REMOVEDOCUMENT @IDOC    
 
  
  SELECT @PPD_ROW_ID = (ISNULL(MAX(PROCESS_ID),0) + 1) FROM ACT_PREMIUM_PROCESS_DETAILS WITH (NOLOCK)   
  
  INSERT INTO ACT_PREMIUM_PROCESS_DETAILS   
     (  
      PROCESS_ID , PROCESS_TYPE , TRANSACTION_TYPE ,TERM_TYPE ,PROCESS_NUM ,PROCESS_DESC ,CUSTOMER_ID ,APP_ID ,APP_VERSION_ID,  
      POLICY_ID ,POLICY_VERSION_ID ,PREMIUM_AMOUNT ,PROCESS_STATUS ,IS_ACTIVE ,  CREATED_BY ,CREATED_DATETIME,  
      MODIFIED_BY , LAST_UPDATED_DATETIME ,PREMIUM_XML ,POSTED_PREMIUM_XML   
     )   
  SELECT   @PPD_ROW_ID , @PROCESS_ID , TRANSACTION_TYPE ,TERM_TYPE ,PROCESS_NUM ,PROCESS_DESC ,CUSTOMER_ID ,APP_ID ,APP_VERSION_ID,  
      POLICY_ID ,POLICY_VERSION_ID ,PREMIUM_AMOUNT *-1  ,PROCESS_STATUS , IS_ACTIVE ,  @USER_ID ,@POSTING_DATE,  
      @USER_ID , @POSTING_DATE ,@PREMIUM_XML ,@POSTED_PREMIUM_XML   
  FROM ACT_PREMIUM_PROCESS_DETAILS  
  WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID   
  AND POLICY_VERSION_ID = @VERSION_TO_POST  
  
  --RAvindra(04-07-09): Change Current Commission Rate   
    
  DECLARE @CURRENT_COMMISSION_RATE Decimal(18,2) ,  
    @RISK_ID    Int,   
    @RISK_TYPE    VArchar(20),  
    @RISK_ITERATOR   Int  
  
  TRUNCATE TABLE #POLICY_RISKS   
    
  INSERT INTO #POLICY_RISKS ( RISK_ID, RISK_TYPE )   
  SELECT DISTINCT PPDD.RISK_ID, PPDD.RISK_TYPE  
  FROM ACT_PREMIUM_PROCESS_SUB_DETAILS PPDD  
  WHERE  PPDD.CUSTOMER_ID = @CUSTOMER_ID  
   AND PPDD.POLICY_ID = @POLICY_ID  
   AND PPDD.POLICY_VERSION_ID = @VERSION_TO_POST  
  
  SET @RISK_ITERATOR = 1   
  WHILE 1=1   
  BEGIN   
    
   IF NOT EXISTS (SELECT IDEN_ROW_ID FROM #POLICY_RISKS WHERE IDEN_ROW_ID = @RISK_ITERATOR)   
   BEGIN   
    BREAK  
   END  
  
     
   SELECT @RISK_ID = RISK_ID , @RISK_TYPE = RISK_TYPE    
   FROM #POLICY_RISKS WHERE  IDEN_ROW_ID = @RISK_ITERATOR  
  
   IF(@PROCESS_TO_REVERT = 14)   
   BEGIN  
    SELECT TOP 1 @CURRENT_COMMISSION_RATE = COMMISSION_RATE  
    FROM ACT_PREMIUM_PROCESS_SUB_DETAILS   
    WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID   
    AND POLICY_VERSION_ID < @VERSION_TO_POST AND RISK_ID = @RISK_ID AND RISK_TYPE = @RISK_TYPE   
    AND ISNULL(NET_PREMIUM,0) <> 0   
    ORDER BY POLICY_VERSION_ID DESC   
   END  
   ELSE  
   BEGIN   
    SELECT TOP 1 @CURRENT_COMMISSION_RATE = COMMISSION_RATE  
    FROM ACT_PREMIUM_PROCESS_SUB_DETAILS   
    WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID   
    AND POLICY_VERSION_ID = @VERSION_TO_POST AND RISK_ID = @RISK_ID AND RISK_TYPE = @RISK_TYPE   
    AND ISNULL(NET_PREMIUM,0) <> 0   
    ORDER BY POLICY_VERSION_ID DESC   
   END  
  
   UPDATE ACT_PREMIUM_PROCESS_SUB_DETAILS SET CURRENT_COMMISSION_RATE = @CURRENT_COMMISSION_RATE  
   WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID   
   AND RISK_ID = @RISK_ID AND RISK_TYPE = @RISK_TYPE   
   AND POLICY_VERSION_ID IN (  
         SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL   
         WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID AND CPL.POLICY_ID = @POLICY_ID   
         AND CPL.CURRENT_TERM = @CURRENT_TERM   
         )    
     
   SET @RISK_ITERATOR = @RISK_ITERATOR + 1   
  END  
  
  -- Create a record in Premium Process Sub Details  
  INSERT INTO ACT_PREMIUM_PROCESS_SUB_DETAILS ( CUSTOMER_ID , POLICY_ID, POLICY_VERSION_ID, PPD_ROW_ID, RISK_ID ,RISK_TYPE,  
     NET_PREMIUM ,STATS_FEES ,GROSS_PREMIUM ,INFORCE_PREMIUM ,INFORCE_FEES ,   
     COMMISSION_RATE ,   
     COMMISSION_AMOUNT ,   
     EFFECTIVE_DATE , CURRENT_COMMISSION_RATE  , AJUSTED_PREMIUM   
     )   
  SELECT CUSTOMER_ID , POLICY_ID, POLICY_VERSION_ID, @PPD_ROW_ID, RISK_ID ,RISK_TYPE,  
     NET_PREMIUM * -1,STATS_FEES * -1,GROSS_PREMIUM * -1,INFORCE_PREMIUM * -1,INFORCE_FEES * -1 ,   
     COMMISSION_RATE ,   
     COMMISSION_AMOUNT * - 1,   
     EFFECTIVE_DATE , CURRENT_COMMISSION_RATE , AJUSTED_PREMIUM   
  FROM ACT_PREMIUM_PROCESS_SUB_DETAILS   
  WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID   
  AND POLICY_VERSION_ID = @VERSION_TO_POST  
    
    --Added By Lalit For entry in plan data table of base varsion with 
    --current policy version
    IF(@BASE_VERSION IS NOT NULL AND  @BASE_VERSION <> 0)
    BEGIN
		IF EXISTS(SELECT CUSTOMER_ID FROM ACT_POLICY_INSTALL_PLAN_DATA WITH(NOLOCK)
		 WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID   
		 AND POLICY_VERSION_ID = @BASE_VERSION)
		 BEGIN
			SELECT * INTO #tempDATA FROM ACT_POLICY_INSTALL_PLAN_DATA WITH(NOLOCK)
			 WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID   
			 AND POLICY_VERSION_ID = @BASE_VERSION
			
			UPDATE	#tempDATA  SET POLICY_VERSION_ID = @NEW_POLICY_VERSION_ID,
			APP_VERSION_ID = @NEW_POLICY_VERSION_ID
			IF NOT EXISTS(SELECT CUSTOMER_ID FROM ACT_POLICY_INSTALL_PLAN_DATA WITH(NOLOCK)
		 WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID   
		 AND POLICY_VERSION_ID = @NEW_POLICY_VERSION_ID)
			INSERT INTO ACT_POLICY_INSTALL_PLAN_DATA SELECT * FROM #tempDATA
			
			
			DROP TABLE #tempDATA
	     
		 END
    END
  
  -- Reverse Istallments Schedule and Customer Open Items   
  IF  EXISTS ( SELECT CUSTOMER_ID FROM ACT_POLICY_INSTALLMENT_DETAILS   
     WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID   
     AND POLICY_VERSION_ID = @VERSION_TO_POST )   
  BEGIN   
	--Added By Lalit For Entry in plan data table March 09,2011
	
	IF(@BASE_VERSION IS NULL)
	BEGIN
		DELETE FROM #tempPLAN_DATA
	  
		INSERT INTO #tempPLAN_DATA
		SELECT * FROM ACT_POLICY_INSTALL_PLAN_DATA A WITH(NOLOCK) wHERE CUSTOMER_ID =@CUSTOMER_ID AND 
		POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID  = ( SELECT MAX(POLICY_VERSION_ID) FROM   ACT_POLICY_INSTALL_PLAN_DATA B WITH(NOLOCK)
		WHERE B.CUSTOMER_ID = A.CUSTOMER_ID AND B.POLICY_ID = A.POLICY_ID AND B.POLICY_VERSION_ID < @VERSION_TO_POST
		 )
		
		UPDATE #tempPLAN_DATA SET POLICY_VERSION_ID = 
		@NEW_POLICY_VERSION_ID,
		APP_VERSION_ID = @NEW_POLICY_VERSION_ID
		
		DELETE FROM ACT_POLICY_INSTALL_PLAN_DATA WHERE CUSTOMER_ID = @CUSTOMER_ID 
		AND POLICY_ID= @POLICY_ID AND POLICY_VERSION_ID =@NEW_POLICY_VERSION_ID
		
		INSERT INTO ACT_POLICY_INSTALL_PLAN_DATA SELECT * FROM #tempPLAN_DATA
	END
	--end code by lalit
  
   DECLARE @INS_ROW_ID Int , @INS_NEW_ROW_ID Int , @IDENT_COL Int   
  
   SET @IDENT_COL = 1  
   TRUNCATE TABLE #TEMP_INSTALLMENTS  
  
   INSERT INTO #TEMP_INSTALLMENTS (INS_ROW_ID )   
   SELECT ROW_ID FROM ACT_POLICY_INSTALLMENT_DETAILS   
   WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID   
   AND POLICY_VERSION_ID = @VERSION_TO_POST   
  
   WHILE(1=1)   
   BEGIN   
    IF NOT EXISTS( SELECT IDENT_COL FROM #TEMP_INSTALLMENTS WHERE  IDENT_COL = @IDENT_COL )   
     BREAK  
  
    SELECT @INS_ROW_ID = INS_ROW_ID FROM #TEMP_INSTALLMENTS WHERE  IDENT_COL = @IDENT_COL  
  
    INSERT INTO ACT_POLICY_INSTALLMENT_DETAILS   
      (   
      POLICY_ID,POLICY_VERSION_ID,CUSTOMER_ID,APP_ID,APP_VERSION_ID,INSTALLMENT_AMOUNT,INSTALLMENT_EFFECTIVE_DATE,  
      RELEASED_STATUS,INSTALLMENT_NO,RISK_ID,RISK_TYPE,
      PAYMENT_MODE,CURRENT_TERM,
      PERCENTAG_OF_PREMIUM ,
      TOTAL,
      FEE,
      TAXES,
      INTEREST_AMOUNT,
      TRAN_PREMIUM_AMOUNT,
      TRAN_INTEREST_AMOUNT,
      TRAN_FEE,
      TRAN_TAXES,
      TRAN_TOTAL ,
      CO_APPLICANT_ID,
      CREATED_BY,
      CREATED_DATETIME
      )   
    SELECT   
      POLICY_ID,POLICY_VERSION_ID,CUSTOMER_ID,APP_ID,APP_VERSION_ID,
      INSTALLMENT_AMOUNT * - 1,INSTALLMENT_EFFECTIVE_DATE,  
      RELEASED_STATUS,INSTALLMENT_NO,RISK_ID,RISK_TYPE,PAYMENT_MODE,
      CURRENT_TERM,
      PERCENTAG_OF_PREMIUM  ,
      TOTAL*-1,
      FEE*-1,
      TAXES*-1,
      INTEREST_AMOUNT*-1,
      TRAN_PREMIUM_AMOUNT*-1,
      TRAN_INTEREST_AMOUNT*-1,
      TRAN_FEE*-1,
      TRAN_TAXES*-1,
      TRAN_TOTAL*-1,
      CO_APPLICANT_ID,
      @USER_ID,
      GETDATE()
    FROM ACT_POLICY_INSTALLMENT_DETAILS WHERE ROW_ID = @INS_ROW_ID   
    AND CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID   
    AND POLICY_VERSION_ID = @VERSION_TO_POST   
  
    SELECT @INS_NEW_ROW_ID = @@IDENTITY   
	/*
	Commented by Lalit chauhan March 09,2011
	comment code of previous implimentation
	
    INSERT INTO ACT_CUSTOMER_OPEN_ITEMS   
      (  
      UPDATED_FROM,SOURCE_ROW_ID,SOURCE_NUM,SOURCE_TRAN_DATE,SOURCE_EFF_DATE,POSTING_DATE,TOTAL_DUE,  
      TOTAL_PAID,AGENCY_COMM_APPLIES,AGENCY_COMM_PERC,AGENCY_COMM_AMT,AGENCY_ID,CUSTOMER_ID,POLICY_ID,  
      POLICY_VERSION_ID,PAYMENT_DATE,DATE_FULL_PAID,PAYMENT_STATUS,NOT_COUNTED_RECEIVABLE,PAYOR_TYPE,  
      DIV_ID,DEPT_ID,PC_ID,IS_TEMP_ENTRY,IN_RECON,IS_PREBILL,BILL_CODE,GROSS_AMOUNT,ITEM_TRAN_CODE,  
      ITEM_TRAN_CODE_TYPE,TRAN_ID,CASH_ACCOUNTING,RECUR_JOURNAL_VERSION,JE_RECON_COUNTER,AMT_IN_RECON,  
      OPEN_RECON_CTR,LOB_ID,SUB_LOB_ID,COUNTRY_ID,STATE_ID,COMMISSION_TYPE,ITEM_STATUS,IS_CHECK_CREATED,  
      ITEM_ORIGINAL_STATUS,TRANS_DESC,DUE_DATE,PROCESSED_AMOUNT_FOR_AGENCY,INSTALLMENT_ROW_ID,NET_PREMIUM,  
      RISK_ID,RISK_TYPE,PROCESSED_AMOUNT_FOR_ADDITIONAL,SWEEP_DATE,APPLIED_AT_CANCELLATION , PRINTED_ON_NOTICE  
      )   
    SELECT  UPDATED_FROM,@PPD_ROW_ID,@PPD_ROW_ID,SOURCE_TRAN_DATE,SOURCE_EFF_DATE,@POSTING_DATE, TOTAL_DUE*-1 ,  
      NULL,AGENCY_COMM_APPLIES,AGENCY_COMM_PERC,AGENCY_COMM_AMT,AGENCY_ID,CUSTOMER_ID,POLICY_ID,  
      POLICY_VERSION_ID,PAYMENT_DATE,DATE_FULL_PAID,PAYMENT_STATUS,NOT_COUNTED_RECEIVABLE,PAYOR_TYPE,  
      DIV_ID,DEPT_ID,PC_ID,IS_TEMP_ENTRY,IN_RECON,IS_PREBILL,BILL_CODE,GROSS_AMOUNT *-1 ,ITEM_TRAN_CODE,  
      ITEM_TRAN_CODE_TYPE,TRAN_ID,CASH_ACCOUNTING,RECUR_JOURNAL_VERSION,JE_RECON_COUNTER,AMT_IN_RECON,  
      OPEN_RECON_CTR,LOB_ID,SUB_LOB_ID,COUNTRY_ID,STATE_ID,COMMISSION_TYPE,ITEM_STATUS,IS_CHECK_CREATED,  
      ITEM_ORIGINAL_STATUS,TRANS_DESC,DUE_DATE,PROCESSED_AMOUNT_FOR_AGENCY,@INS_NEW_ROW_ID,NET_PREMIUM *-1  ,  
      RISK_ID,RISK_TYPE,PROCESSED_AMOUNT_FOR_ADDITIONAL,SWEEP_DATE,APPLIED_AT_CANCELLATION , PRINTED_ON_NOTICE   
    FROM ACT_CUSTOMER_OPEN_ITEMS   
    WHERE  INSTALLMENT_ROW_ID = @INS_ROW_ID   
    AND CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID   
    AND POLICY_VERSION_ID = @VERSION_TO_POST   
    AND ITEM_TRAN_CODE_TYPE <> 'FEES'
    */  
    SET @IDENT_COL = @IDENT_COL + 1  
   END  
   
  --END  
 -- ELSE  
  --BEGIN   
   INSERT INTO ACT_CUSTOMER_OPEN_ITEMS   
      (  
      UPDATED_FROM,SOURCE_ROW_ID,SOURCE_NUM,SOURCE_TRAN_DATE,SOURCE_EFF_DATE,POSTING_DATE,TOTAL_DUE,  
      TOTAL_PAID,AGENCY_COMM_APPLIES,AGENCY_COMM_PERC,AGENCY_COMM_AMT,AGENCY_ID,CUSTOMER_ID,POLICY_ID,  
      POLICY_VERSION_ID,PAYMENT_DATE,DATE_FULL_PAID,PAYMENT_STATUS,NOT_COUNTED_RECEIVABLE,PAYOR_TYPE,  
      DIV_ID,DEPT_ID,PC_ID,IS_TEMP_ENTRY,IN_RECON,IS_PREBILL,BILL_CODE,GROSS_AMOUNT,ITEM_TRAN_CODE,  
      ITEM_TRAN_CODE_TYPE,TRAN_ID,CASH_ACCOUNTING,RECUR_JOURNAL_VERSION,JE_RECON_COUNTER,AMT_IN_RECON,  
      OPEN_RECON_CTR,LOB_ID,SUB_LOB_ID,COUNTRY_ID,STATE_ID,COMMISSION_TYPE,ITEM_STATUS,IS_CHECK_CREATED,  
      ITEM_ORIGINAL_STATUS,TRANS_DESC,DUE_DATE,PROCESSED_AMOUNT_FOR_AGENCY,INSTALLMENT_ROW_ID,NET_PREMIUM,  
      RISK_ID,RISK_TYPE,PROCESSED_AMOUNT_FOR_ADDITIONAL,SWEEP_DATE,APPLIED_AT_CANCELLATION , PRINTED_ON_NOTICE ,
      BASE_CURRENCY  ,TRAN_CURRENCY,RATE_FACTOR,PAYOR_ID
      )   
   SELECT  UPDATED_FROM,0,0,SOURCE_TRAN_DATE,SOURCE_EFF_DATE,POSTING_DATE, TOTAL_DUE*-1 ,  
      0,AGENCY_COMM_APPLIES,AGENCY_COMM_PERC,AGENCY_COMM_AMT*-1,AGENCY_ID,CUSTOMER_ID,POLICY_ID,  
      POLICY_VERSION_ID,PAYMENT_DATE,DATE_FULL_PAID,PAYMENT_STATUS,NOT_COUNTED_RECEIVABLE,PAYOR_TYPE,  
      DIV_ID,DEPT_ID,PC_ID,IS_TEMP_ENTRY,IN_RECON,IS_PREBILL,'RP',GROSS_AMOUNT*-1,ITEM_TRAN_CODE,  
      ITEM_TRAN_CODE_TYPE,TRAN_ID,CASH_ACCOUNTING,RECUR_JOURNAL_VERSION,JE_RECON_COUNTER,AMT_IN_RECON,  
      OPEN_RECON_CTR,LOB_ID,SUB_LOB_ID,COUNTRY_ID,STATE_ID,COMMISSION_TYPE,'RP',IS_CHECK_CREATED,  
      ITEM_ORIGINAL_STATUS,'Revert Back Premium',DUE_DATE,PROCESSED_AMOUNT_FOR_AGENCY,INSTALLMENT_ROW_ID,NET_PREMIUM*-1 ,  
      RISK_ID,RISK_TYPE,PROCESSED_AMOUNT_FOR_ADDITIONAL,SWEEP_DATE,APPLIED_AT_CANCELLATION , PRINTED_ON_NOTICE   ,
      BASE_CURRENCY,TRAN_CURRENCY,RATE_FACTOR,PAYOR_ID
    FROM ACT_CUSTOMER_OPEN_ITEMS   
    WHERE  CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID
    AND POLICY_VERSION_ID = @VERSION_TO_POST 
    --AND ITEM_TRAN_CODE_TYPE <> 'FEES'  
  END  
     
-----------------COMMENTED FEE LOGIC ON 27 OCT 2009  
  --Reverse all unpaid fees  
  /*UPDATE ACT_CUSTOMER_OPEN_ITEMS SET TOTAL_DUE = TOTAL_PAID   
  WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID   
  AND POLICY_VERSION_ID = @VERSION_TO_POST   
  AND ITEM_TRAN_CODE_TYPE = 'FEES' AND ITEM_TRAN_CODE = 'INSF'  
    
  --If there are any paid fees create fee reversal   
    
  DECLARE @PAID_FEES Decimal(18,2)   
  
  SELECT @PAID_FEES = SUM(ISNULL(TOTAL_PAID , 0) )   
  FROM ACT_CUSTOMER_OPEN_ITEMS   
  WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID   
  AND POLICY_VERSION_ID = @VERSION_TO_POST   
  AND ITEM_TRAN_CODE_TYPE = 'FEES' AND ITEM_TRAN_CODE = 'INSF'  
  
  IF( @PAID_FEES > 0)  
  BEGIN   
   INSERT INTO ACT_CUSTOMER_OPEN_ITEMS   
   (  
    UPDATED_FROM , SOURCE_TRAN_DATE  , SOURCE_EFF_DATE ,POSTING_DATE ,  
    TOTAL_DUE ,AGENCY_ID ,CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID,   
    BILL_CODE ,GROSS_AMOUNT ,ITEM_TRAN_CODE ,ITEM_TRAN_CODE_TYPE ,  
    LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, ITEM_STATUS ,  
    TRANS_DESC, DUE_DATE, NET_PREMIUM  
   )  
   SELECT 'F', APP_EFFECTIVE_DATE , APP_EFFECTIVE_DATE , GETDATE() ,   
   @PAID_FEES , AGENCY_ID , @CUSTOMER_ID , @POLICY_ID , @VERSION_TO_POST ,   
   BILL_TYPE , @PAID_FEES , 'INSF' , 'FEES ' ,   
   POLICY_LOB , POLICY_SUBLOB , COUNTRY_ID , STATE_ID , 'OP' ,   
   'Fees Reversed at Revert Back' , APP_EFFECTIVE_DATE , @PAID_FEES   
   FROM POL_CUSTOMER_POLICY_LIST   
   WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID   
   AND POLICY_VERSION_ID = @VERSION_TO_POST   
  END*/  
    
---------------END COMMENTED-----------------------------  
   
---------Calling Fee Reverse Logic------27 OCT 2009 (PRAVEEN)-------------    
  TRUNCATE TABLE #FEE_TEMP  
  
  INSERT #FEE_TEMP  
  SELECT IDEN_ROW_ID, ISNULL(TOTAL_DUE ,0)  FROM ACT_CUSTOMER_OPEN_ITEMS WITH(NOLOCK)  
  WHERE CUSTOMER_ID =@CUSTOMER_ID AND POLICY_ID=@POLICY_ID  
  AND POLICY_VERSION_ID = @VERSION_TO_POST   
  AND ITEM_TRAN_CODE_TYPE = 'FEES' AND ITEM_TRAN_CODE = 'INSF'  
  
  DECLARE @IDEN_ROW_ID INT  
  DECLARE @RETVALUE INT  
  DECLARE @FEES_AMOUNT DECIMAL(18,2)   
  DECLARE @IDEN_ROW_ID_OUT SMALLINT  
  DECLARE @CREATED_DATETIME DATETIME  
  SET @CREATED_DATETIME  = GETDATE()  
  
  DECLARE @FEES_REVERSE DECIMAL(18,2)   
    
  
  DECLARE @FEE_ITERATOR INT  
  SET @FEE_ITERATOR = 1  
  
  WHILE(1=1)  
  BEGIN  
   IF NOT EXISTS(SELECT IDEN_COL FROM #FEE_TEMP WHERE IDEN_COL = @FEE_ITERATOR)  
   BEGIN  
    BREAK  
   END  
   SELECT   
   @IDEN_ROW_ID = IDEN_ROW_ID,   
   @FEES_REVERSE = FEES_REVERSE     
   FROM #FEE_TEMP WHERE IDEN_COL = @FEE_ITERATOR  
  
   ---find fee Amount  
   SELECT  
   @FEES_AMOUNT =   
   CASE   
   WHEN (SELECT SUM(FEES_REVERSE) FROM ACT_FEE_REVERSAL WHERE CUSTOMER_OPEN_ITEM_ID =  @IDEN_ROW_ID AND ISNULL(IS_COMMITTED,0)=1)   
    IS NULL THEN @FEES_REVERSE  
   ELSE (SELECT MAX(FEES_AMOUNT) FROM ACT_FEE_REVERSAL WHERE CUSTOMER_OPEN_ITEM_ID =  @IDEN_ROW_ID      
    AND ISNULL(IS_COMMITTED,0)=1)     
   END   
   FROM ACT_FEE_REVERSAL WITH(NOLOCK)    
   
     
     
   --Insert Fee info  
   EXEC [dbo].[Proc_InsertACT_FEE_REVERSAL]  
    @IDEN_ROW_ID_OUT OUT,  
    @FEE_TYPE = 'INSF',  
    @FEES_AMOUNT = @FEES_AMOUNT,  
    @FEES_REVERSE = @FEES_REVERSE,  
    @IS_ACTIVE = NULL,  
    @CREATED_BY = @USER_ID,  
    @CREATED_DATETIME = @CREATED_DATETIME ,  
    @CUSTOMER_OPEN_ITEM_ID = @IDEN_ROW_ID,  
    @CUSTOMER_ID = @CUSTOMER_ID,  
    @POLICY_ID = @POLICY_ID,  
    @POLICY_VERSION_ID = @VERSION_TO_POST,  
    @IS_COMMITTED = NULL,  
    @MODIFIED_BY = NULL,  
    @LAST_UPDATED_DATETIME = NULL  
     
   --Process Fee Records  
   EXEC [dbo].[PROC_PROCESS_ACT_FEE_REVERSAL] @IDEN_ROW_ID_OUT,@RETVALUE OUT,'REVERT_BACK'    
      
   SET @FEE_ITERATOR = @FEE_ITERATOR + 1  
     
  END  
  
  
  --------------------END Fee Reverse Logic------------------  
  
  -- Reconcile negative items created   
  IF ( @INSTALL_PLAN_ID = @FULL_PAY_PLAN)  
  BEGIN   
   exec Proc_ReconcileInstallments @CUSTOMER_ID , @POLICY_ID , @CURRENT_TERM , 'Y'  
  END  
  ELSE  
  BEGIN   
   exec Proc_ReconcileInstallments @CUSTOMER_ID , @POLICY_ID , @CURRENT_TERM , 'N'  
  END  
  -- Reverse agency open items  
  INSERT INTO ACT_AGENCY_OPEN_ITEMS   
      (   
      UPDATED_FROM ,SOURCE_ROW_ID ,SOURCE_NUM ,SOURCE_TRAN_DATE ,SOURCE_EFF_DATE ,POSTING_DATE,  
      TOTAL_DUE , TOTAL_PAID ,AGENCY_COMM_APPLIES ,AGENCY_COMM_PERC ,AGENCY_COMM_AMT ,AGENCY_ID ,CUSTOMER_ID,  
      POLICY_ID , POLICY_VERSION_ID, PAYMENT_DATE ,DATE_FULL_PAID , PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE,  
      PAYOR_TYPE , DIV_ID , DEPT_ID ,PC_ID,IS_TEMP_ENTRY,IN_RECON,IS_PREBILL,BILL_CODE,GROSS_AMOUNT,  
      ITEM_TRAN_CODE,ITEM_TRAN_CODE_TYPE,TRAN_ID,CASH_ACCOUNTING,RECUR_JOURNAL_VERSION,JE_RECON_COUNTER,  
      AMT_IN_RECON,OPEN_RECON_CTR,LOB_ID,SUB_LOB_ID,COUNTRY_ID,STATE_ID,COMMISSION_TYPE,POLICY_MONTH,  
      TRANS_DESC ,NET_PREMIUM   ,
      RISK_ID,RISK_TYPE,BASE_CURRENCY,TRAN_CURRENCY,RATE_FACTOR,PAYOR_ID,ITEM_STATUS
      
      )   
  SELECT   UPDATED_FROM ,@PPD_ROW_ID ,@PPD_ROW_ID ,SOURCE_TRAN_DATE ,SOURCE_EFF_DATE , @POSTING_DATE ,  
      TOTAL_DUE * -1  , NULL , AGENCY_COMM_APPLIES ,AGENCY_COMM_PERC ,AGENCY_COMM_AMT*-1 ,AGENCY_ID ,CUSTOMER_ID,  
      POLICY_ID , POLICY_VERSION_ID, PAYMENT_DATE ,DATE_FULL_PAID , PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE,  
      PAYOR_TYPE , DIV_ID , DEPT_ID ,PC_ID,IS_TEMP_ENTRY,IN_RECON,IS_PREBILL,BILL_CODE,GROSS_AMOUNT*-1 ,  
      ITEM_TRAN_CODE,ITEM_TRAN_CODE_TYPE,TRAN_ID,CASH_ACCOUNTING,RECUR_JOURNAL_VERSION,JE_RECON_COUNTER,  
      AMT_IN_RECON,OPEN_RECON_CTR,LOB_ID,SUB_LOB_ID,COUNTRY_ID,STATE_ID,COMMISSION_TYPE,POLICY_MONTH,  
      'Revert back Premium' ,NET_PREMIUM *-1,
      RISK_ID,RISK_TYPE,BASE_CURRENCY,TRAN_CURRENCY,RATE_FACTOR,PAYOR_ID,'RP'   
  FROM ACT_AGENCY_OPEN_ITEMS  
  WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID   
  AND POLICY_VERSION_ID = @VERSION_TO_POST  
  AND UPDATED_FROM = 'P'  
  
    
  -- Reverse GL Posting   
  
  INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS  
     (  
     ACCOUNT_ID,UPDATED_FROM,SUBLEDGER_TYPE,SOURCE_ROW_ID,MAPPING_SUBLEDGER_ID,SOURCE_NUM,SOURCE_TRAN_DATE,  
     SOURCE_EFF_DATE,POSTING_DATE,TRANSACTION_AMOUNT,AGENCY_COMM_PERC,AGENCY_COMM_AMT,AGENCY_ID,CUSTOMER_ID,  
     POLICY_ID,POLICY_VERSION_ID,DIV_ID,DEPT_ID,PC_ID,IS_PREBILL,BILL_CODE,GROSS_AMOUNT,ITEM_TRAN_CODE,  
     ITEM_TRAN_CODE_TYPE,TRAN_ID,LOB_ID,SUB_LOB_ID,COUNTRY_ID,STATE_ID,VENDOR_ID,TAX_ID,ADNL_INFO,IS_BANK_RECONCILED,  
     RECUR_JOURNAL_VERSION,IN_BNK_RECON,IS_BALANCE_UPDATED,COMMITED_BY,COMMITED_BY_CODE,COMMITED_BY_NAME,COMMISSION_TYPE,  
     RISK_ID,RISK_TYPE,SOURCE_GROUP_ID,TRAN_ENTITY,TRAN_DESC  
     )   
  SELECT  ACCOUNT_ID,UPDATED_FROM,SUBLEDGER_TYPE, @PPD_ROW_ID ,MAPPING_SUBLEDGER_ID,@PPD_ROW_ID ,SOURCE_TRAN_DATE,  
     SOURCE_EFF_DATE, @POSTING_DATE ,TRANSACTION_AMOUNT * - 1 ,AGENCY_COMM_PERC,AGENCY_COMM_AMT,AGENCY_ID,CUSTOMER_ID,  
     POLICY_ID,POLICY_VERSION_ID,DIV_ID,DEPT_ID,PC_ID,IS_PREBILL,BILL_CODE,GROSS_AMOUNT,ITEM_TRAN_CODE,  
     ITEM_TRAN_CODE_TYPE,TRAN_ID,LOB_ID,SUB_LOB_ID,COUNTRY_ID,STATE_ID,VENDOR_ID,TAX_ID,ADNL_INFO,IS_BANK_RECONCILED,  
     RECUR_JOURNAL_VERSION,IN_BNK_RECON,IS_BALANCE_UPDATED, @USER_ID ,COMMITED_BY_CODE,COMMITED_BY_NAME,COMMISSION_TYPE,  
     RISK_ID,RISK_TYPE,SOURCE_GROUP_ID,TRAN_ENTITY,TRAN_DESC  
  FROM ACT_ACCOUNTS_POSTING_DETAILS  
  WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID   
  AND POLICY_VERSION_ID = @VERSION_TO_POST  
  AND UPDATED_FROM = 'P'  
  
  SET @IDEN_COL  = @IDEN_COL + 1   
 END  
  
 DROP TABLE #POLICY_RISKS   
 DROP TABLE #VERSIONS_TO_REVERT  
 DROP TABLE #TEMP_INSTALLMENTS  
 DROP TABLE #FEE_TEMP  
  
 -- COPY PREMIUM XML TO NEW POLICY VERSION  
 DECLARE @REVERT_POLICY_VERSION_ID INT   
 SELECT @REVERT_POLICY_VERSION_ID = MAX(NEW_POLICY_VERSION_ID) FROM POL_POLICY_PROCESS  with(nolock)   
 WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID    
 AND NEW_POLICY_VERSION_ID < @LOWEST_VERSION_RTEVERTED   
  
 SELECT * INTO #QOT_CUSTOMER_QUOTE_LIST_POL FROM   
 QOT_CUSTOMER_QUOTE_LIST_POL with(nolock) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@REVERT_POLICY_VERSION_ID  
 UPDATE #QOT_CUSTOMER_QUOTE_LIST_POL  
 SET POLICY_VERSION_ID=@NEW_POLICY_VERSION_ID,CREATED_DATETIME=GETDATE()  
 INSERT INTO QOT_CUSTOMER_QUOTE_LIST_POL SELECT * FROM #QOT_CUSTOMER_QUOTE_LIST_POL  
 DROP TABLE #QOT_CUSTOMER_QUOTE_LIST_POL  
  DROP TABLE #tempPLAN_DATA
 END  
  
  
  
-------------------------  
--go  
  
--exec Proc_PostRevertBackPremium  28033,126,3,'2',37,398,1
--SELECT * FROM ACT_POLICY_INSTALL_PLAN_DATA WHERE
--CUSTOMER_ID = 28033 and POLICY_ID = 126
--SELECT * FROM ACT_POLICY_INSTALLMENT_DETAILS WHERE
--CUSTOMER_ID = 28033 and POLICY_ID = 126
--SELECT * FROM ACT_CUSTOMER_OPEN_ITEMS WHERE
--CUSTOMER_ID = 28033 and POLICY_ID = 126 
--SELECT * FROM ACT_AGENCY_OPEN_ITEMS WHERE
--CUSTOMER_ID = 28033 and POLICY_ID = 126 
   
  
--rollback tran  
  
  
  
  
GO

