IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_INSERT_MEL_EVENTOS_POLICY_EXCLUSION]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_INSERT_MEL_EVENTOS_POLICY_EXCLUSION]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[PROC_INSERT_MEL_EVENTOS_POLICY_EXCLUSION]
(
@DATE DATETIME = NULL,
@CUSTOMER_ID INT,
@POLICY_ID INT,
@POLICY_NO VARCHAR(25),
@RETURN_VALUE INT OUT
)
AS
BEGIN
 --DECLARE @RETURN_VALUE INT

		IF NOT EXISTS (SELECT ROW_ID FROM MEL_EVENTOS_POLICY_EXCLUSION WHERE [DATE] = @DATE AND 
					CUSTOMER_ID =@CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_NO = @POLICY_NO)
		BEGIN
			INSERT INTO MEL_EVENTOS_POLICY_EXCLUSION
			(
			[DATE] ,
			CUSTOMER_ID,
			POLICY_ID,
			POLICY_NO,
			IS_ACTIVE 
			)
			VALUES (
			@DATE ,
			@CUSTOMER_ID,
			@POLICY_ID,
			@POLICY_NO,
			'Y' 
			 )
			 SET @RETURN_VALUE = 1
		END
		ELSE
			SET @RETURN_VALUE = -2
		
		
END




GO

