IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GETACT_CURRENT_DEPOSIT_LINE_ITEMS_XML]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GETACT_CURRENT_DEPOSIT_LINE_ITEMS_XML]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*
CREATE BY		:Vijay Joshi
Created Date	: 24 Aug 2005
Porpose			: Get informaton of deposit line items
*/
-- drop proc Dbo.Proc_GETACT_CURRENT_DEPOSIT_LINE_ITEMS_XML
CREATE PROC Dbo.Proc_GETACT_CURRENT_DEPOSIT_LINE_ITEMS_XML
(
	@DEPOSIT_ID int
)
AS
BEGIN
	SELECT  
		CDLI.CD_LINE_ITEM_ID, CDLI.DEPOSIT_ID, CDLI.LINE_ITEM_INTERNAL_NUMBER, CDLI.DIV_ID, CDLI.PC_ID, 
		CDLI.ACCOUNT_ID, CDLI.DEPOSIT_TYPE, CDLI.BANK_NAME, CDLI.CHECK_NUM, CDLI.RECEIPT_NUM, 
		CDLI.RECEIPT_AMOUNT, CDLI.PAYOR_TYPE, CDLI.RECEIPT_FROM_ID AGENCY_ID, CDLI.RECEIPT_FROM_CODE, 
		CDLI.RECEIPT_FROM_NAME, CDLI.BILL_TYPE, CDLI.LINE_ITEM_DESCRIPTION, CDLI.CUSTOMER_ID,
		CDLI.POLICY_ID, CDLI.POLICY_VERSION_ID, CDLI.IN_RECON, CDLI.AVAILABLE_BALANCE, CDLI.REF_CUSTOMER_ID, 
		CDLI.IS_BNK_RECONCILED, CDLI.IS_ACTIVE, CDLI.CREATED_BY, CDLI.CREATED_DATETIME,
		CDLI.MODIFIED_BY, CDLI.LAST_UPDATED_DATETIME, CDLI.DEPT_ID, CDLI.POLICY_NUMBER, CDLI.CLAIM_NUMBER, 
		AGENCY.AGENCY_DISPLAY_NAME AGENCY_NAME, CDLI.POLICY_MONTH, CDLI.MONTH_YEAR [YEAR]
	FROM 
		ACT_CURRENT_DEPOSIT_LINE_ITEMS CDLI
	INNER JOIN ACT_CURRENT_DEPOSITS CD ON CD.DEPOSIT_ID = CDLI.DEPOSIT_ID
	LEFT JOIN MNT_AGENCY_LIST AGENCY ON AGENCY.AGENCY_ID = CDLI.RECEIPT_FROM_ID AND CD.DEPOSIT_TYPE = 'AGN'
	WHERE
		CDLI.DEPOSIT_ID = @DEPOSIT_ID
END





GO

