IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_DistributeReinstatementPremium]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_DistributeReinstatementPremium]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran 
--drop PROC dbo.Proc_DistributeReinstatementPremium 
--go 
/*----------------------------------------------------------          
Proc Name       : dbo.Proc_DistributeReinstatementPremium 
Created by      : Ravindra   
Date            : 07-11-2007 
Purpose         : 
Revison History :          
Used In         :  Wolverine
Modified By 	: Praveen Kasana
Modified On		: 2 Sep 2009
Purpose			: Itrack 6320 :
				When due date of EFT installment is different than effective date of the policy, the 1st EFT installment
				should be set based on the 15 day rule, the next EFT installment should be due on the same date in the following month,
				and the next EFT installment should be due on the same date in the next month, and so forth.  

Modified By 	: Praveen Kasana
Modified On		: 30 Oct 2009
Purpose			: Itrack 6675 :
         

-----------------------------------------------------------          
Date     Review By          Comments          
------   ------------       -------------------------*/          
-- drop PROC dbo.Proc_DistributeReinstatementPremium 
CREATE PROC [dbo].[Proc_DistributeReinstatementPremium] 
(  
	@CUSTOMER_ID 		Int,  
	@POLICY_ID 			Int,  
	@POLICY_VERSION_ID 	Int,  
	@EFFECTIVE_PREMIUM	Decimal(18,2),
	@EFFECTIVE_OSTA_FEES	Decimal(18,2),
	@EFFECTIVE_DATE		Datetime,
	@COMMISSION_CLASS	int  ,			-- Commission Class in which risk Fall
	@SOURCE_ROW_ID		Int  ,			-- Source Row id of Premium Process Table
	@RISK_ID			int ,			-- RiskID of the risk as in risk info table
	@RISK_TYPE			varchar(15),		-- Type Of Risk for which premium is posted
	@IS_SAME_POLICY		varchar(2)=null,	-- Will hold value 'Y' if the SP is called for same
	@USER_ID			Int,
	@INFORCE_PREMIUM	Decimal(18,2) ,
	@INFORCE_FEES		Decimal(18,2) ,
	@RETVAL				Int Out,
	@POLICY_EXPIRATION_DATE	Datetime Out

)  
AS 
BEGIN 



DECLARE @FULL_PAY_PLAN Int,
	@TOTAL_PREMIUM_AMOUNT Decimal(18,2),
	@POLICY_EFFECTIVE_DATE Datetime,
	@INSTALL_PLAN_ID	Int,
	@BILL_TYPE		Char(2),
	@IS_PREBILL		SmallInt,
	@AGENCY_REG_COMM_PRCT 	Decimal(18,2),
	@STATE_ID 		INt,
	@LOB_ID			Int,
	@SUBLOB_ID		Int,
	@PROCESS_TERM		Char(1),
	@IS_HOME_EMP		Char(1),
	@APP_ID			INt, 
	@APP_VERSION_ID 	Int,
	@AGENCY_ID 		Int,
	@TRAN_TYPE		Varchar(10),
	@TRAN_TYPE_CODE		Varchar(10),
	@TRAN_ENTITY 		Varchar(100),
	@TRAN_DESC		Varchar(200),
	@CURRENT_TERM 		INt,
	@EFT_TENTATIVE_DATE 	INt,
	@FISCAL_ID		Int,
	@USER_CODE		VARCHAR(10),
	@USER_NAME		VARCHAR(60),
	@AGENCY_REG_COMM	Decimal(18,2),
	@EFT   			INt,
	@DUE_DATE		Datetime,
	@PROPRTY_INSP_CREDIT	Char(1) ,
	@IS_REWRITE_POLICY		Char(1) 
	
SET 	@EFT   		= 11973
SET 	@FISCAL_ID 	= 1
SET 	@TRAN_TYPE 	= 'PREM'
SET 	@TRAN_TYPE_CODE = 'RINSP'
SET		@IS_PREBILL	= 0

SELECT @USER_CODE = USER_LOGIN_ID, @USER_NAME =  (USER_FNAME + ' ' + USER_LNAME) FROM MNT_USER_LIST 
WHERE USER_ID = @USER_ID 

SET 	@TOTAL_PREMIUM_AMOUNT  = @EFFECTIVE_PREMIUM  + 	@EFFECTIVE_OSTA_FEES	
 
/*Variables for holding various account numbers, to be used in posting*/   
DECLARE @FULLPREMIUM_ACCOUNT  SMALLINT, --Premium account number  
		@MCCA_FEES_ACCOUNT   SMALLINT, --MCCA fee account number  
		@OTHER_FEES_ACCOUNT   SMALLINT, --Other fee account number  
		@PREMIUM_INCOME_ACCOUNT  SMALLINT, --Premium income account number  
		@COMM_EXPENSE_ACCOUNT   SMALLINT, --Comm expense account number  
		@COMM_PAYABLE_ACCOUNT   SMALLINT --Commission payable account number  

SELECT @FULL_PAY_PLAN = IDEN_PLAN_ID 
FROM ACT_INSTALL_PLAN_DETAIL 
WHERE ISNULL(SYSTEM_GENERATED_FULL_PAY,0) = 1 

SELECT  @IS_HOME_EMP = CASE ISNULL(IS_HOME_EMP, 0) WHEN 1 THEN 'Y' ELSE 'N' END,
		@APP_ID = APP_ID ,
		@APP_VERSION_ID = APP_VERSION_ID
FROM POL_CUSTOMER_POLICY_LIST
WHERE POLICY_ID = @POLICY_ID 	AND POLICY_VERSION_ID = @POLICY_VERSION_ID AND CUSTOMER_ID = @CUSTOMER_ID

SELECT 	@BILL_TYPE 			= 	ISNULL(CPL.BILL_TYPE,''), 
		@INSTALL_PLAN_ID		= 	ISNULL(CPL.INSTALL_PLAN_ID, 0),
		@STATE_ID 			= 	CPL.STATE_ID, 
		@LOB_ID 			= 	CPL.POLICY_LOB, 
		@SUBLOB_ID           		= 	CPL.POLICY_SUBLOB, 
		@AGENCY_ID 			= 	CPL.AGENCY_ID,
		@POLICY_EFFECTIVE_DATE 		= 	CPL.APP_EFFECTIVE_DATE,
		@TRAN_DESC 			=	POLICY_NUMBER + ' ' + POLICY_DISP_VERSION,
		@CURRENT_TERM 			= 	CURRENT_TERM	,
		@EFT_TENTATIVE_DATE 		=	ISNULL(EFT_INFO.EFT_TENTATIVE_DATE,0),
		@PROPRTY_INSP_CREDIT = CASE ISNULL(CPL.PROPRTY_INSP_CREDIT, 0) WHEN 10963 THEN 'Y' ELSE 'N' END , 
		@IS_REWRITE_POLICY		= isnull(IS_REWRITE_POLICY,'N' ) ,
		@POLICY_EXPIRATION_DATE	= CPL.APP_EXPIRATION_DATE 
	FROM POL_CUSTOMER_POLICY_LIST CPL
	LEFT JOIN ACT_INSTALL_PLAN_DETAIL IPD 
		ON IPD.IDEN_PLAN_ID = CPL.INSTALL_PLAN_ID
	LEFT JOIN ACT_POL_EFT_CUST_INFO EFT_INFO 
		ON  CPL.CUSTOMER_ID = EFT_INFO.CUSTOMER_ID 
		AND CPL.POLICY_ID =   EFT_INFO.POLICY_ID 
		AND CPL.POLICY_VERSION_ID = EFT_INFO.POLICY_VERSION_ID
	WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID AND CPL.POLICY_ID = @POLICY_ID AND CPL.POLICY_VERSION_ID = @POLICY_VERSION_ID

SELECT @TRAN_ENTITY = ISNULL(CUSTOMER_CODE,'') + ' - ' + ISNULL(CUSTOMER_FIRST_NAME,'') + ' ' +
						ISNULL(CUSTOMER_MIDDLE_NAME,'') + ' ' + 
						ISNULL(CUSTOMER_LAST_NAME,'') 
FROM CLT_CUSTOMER_LIST 
WHERE CUSTOMER_ID = @CUSTOMER_ID 



DECLARE @AGENCY_NAME Varchar(200)
SELECT @AGENCY_NAME = ISNULL(AGENCY_CODE,'') + ' - ' + ISNULL(AGENCY_DISPLAY_NAME,'') 
FROM MNT_AGENCY_LIST 
WHERE AGENCY_ID = @AGENCY_ID 

IF( CAST(CONVERT(VARCHAR, @EFFECTIVE_DATE ,101) AS DATETIME) > 
	CAST(CONVERT(VARCHAR, GETDATE() ,101) AS DATETIME) )
BEGIN
	SELECT @IS_PREBILL = 1
END

IF @IS_PREBILL = 0  -- No prebill  
BEGIN  
	SELECT   @FULLPREMIUM_ACCOUNT = CASE @BILL_TYPE   
		WHEN 'AB' THEN AST_UNCOLL_PRM_AGENCY   
		ELSE AST_UNCOLL_PRM_CUSTOMER   
		END,  
	@OTHER_FEES_ACCOUNT   = INC_PRM_WRTN_OTH_STATE_ASSESS_FEE,  
	@PREMIUM_INCOME_ACCOUNT = INC_PRM_WRTN,  
	@COMM_EXPENSE_ACCOUNT   = EXP_COMM_INCURRED ,  
	@COMM_PAYABLE_ACCOUNT  = CASE @BILL_TYPE   
		WHEN 'AB' THEN LIB_COMM_PAYB_AGENCY_BILL   
		ELSE LIB_COMM_PAYB_DIRECT_BILL   
		END  
	FROM ACT_GENERAL_LEDGER   
	WHERE FISCAL_ID = @FISCAL_ID   
	
	IF @@ERROR <> 0  
		GOTO ERRHANDLER    
	
END   
ELSE  
BEGIN   
	SELECT    
	@FULLPREMIUM_ACCOUNT = CASE @BILL_TYPE   
		WHEN 'AB' THEN AST_UNCOLL_PRM_SUSPENSE_AGENCY_BILL   
		ELSE AST_UNCOLL_PREM_IN_SUSPENSE_DIRECT_BILL   
		END,  
	@OTHER_FEES_ACCOUNT = CASE @BILL_TYPE   
		WHEN 'AB' THEN AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_AGENCY_BILL   
		ELSE AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_DIRECT_BILL   
		END,  
	@PREMIUM_INCOME_ACCOUNT = CASE @BILL_TYPE   
		WHEN 'AB' THEN AST_PRM_WRIT_SUSPENSE_AGENCY_BILL   
		ELSE AST_PRM_WRIT_SUSPENSE_DIRECT_BILL   
		END,   
	@COMM_EXPENSE_ACCOUNT = CASE @BILL_TYPE   
		WHEN 'AB' THEN AST_COMM_EXPENSE_IN_SUSPENSE_AGENCY_BILL   
		ELSE AST_COMM_EXPENSE_IN_SUSPENSE_DIRECT_BILL   
		END,  
	@COMM_PAYABLE_ACCOUNT = CASE @BILL_TYPE   
		WHEN 'AB' THEN AST_COMM_PAYABLE_IN_SUSPENSE_AGENCY_BILL   
		ELSE AST_COMM_PAYABLE_IN_SUSPENSE_DIRECT_BILL   
		END  
	FROM ACT_GENERAL_LEDGER   
	WHERE FISCAL_ID = @FISCAL_ID   
	
	
	IF @@ERROR <> 0  
	GOTO ERRHANDLER  

END  

-- Chk here for the process type
--- Added By Ravindra(09-27-2006)
DECLARE @BASE_PROCESS_ID Int,
		@NBS			Int,
		@RENEWAL		Int,
		@REWRITE		Int

SET	@NBS		= 25
SET	@RENEWAL	= 18
SET @REWRITE	= 32	

SET @BASE_PROCESS_ID = @NBS
SET @PROCESS_TERM = 'F'

IF EXISTS (SELECT PROCESS_ID FROM POL_POLICY_PROCESS 
		WHERE CUSTOMER_ID= @CUSTOMER_ID 
		AND POLICY_ID= @POLICY_ID 
		AND PROCESS_ID = @RENEWAL   -- Renewal Commit 
		AND ISNULL(REVERT_BACK,'N') <> 'Y'
		)
BEGIN
	SET @PROCESS_TERM = 'O'
	SET @BASE_PROCESS_ID = @RENEWAL
END


--Ravindra(06-17-2008): After rewrite other term commissions will be applicable
IF EXISTS (SELECT PROCESS_ID FROM POL_POLICY_PROCESS 
		WHERE CUSTOMER_ID= @CUSTOMER_ID 
		AND POLICY_ID= @POLICY_ID 
		AND PROCESS_ID = @REWRITE   -- Renewal Commit 
		)
BEGIN 
	SET @PROCESS_TERM = 'O'
	SET @BASE_PROCESS_ID = @REWRITE
END	

-- If transfer policy Commission will be processed as if Other Term 
IF (@IS_REWRITE_POLICY = 'Y')
BEGIN 
	SET @PROCESS_TERM = 'O'
	SET @BASE_PROCESS_ID = @REWRITE
END


--Fetching the agency commission from reguler agency commission setup table
SET @AGENCY_REG_COMM_PRCT =0

SELECT  @AGENCY_REG_COMM_PRCT = ISNULL(COMMISSION_PERCENT,0) 
FROM ACT_REG_COMM_SETUP 
	WHERE (STATE_ID = @STATE_ID OR STATE_ID = 0) AND 
		(LOB_ID = @LOB_ID OR LOB_ID = 0) 
		AND (ISNULL(SUB_LOB_ID,0) = ISNULL(@SUBLOB_ID,0)  OR ISNULL(SUB_LOB_ID,0) = 0) 
		AND CLASS_RISK = @COMMISSION_CLASS
		AND @POLICY_EFFECTIVE_DATE BETWEEN EFFECTIVE_FROM_DATE AND EFFECTIVE_TO_DATE
		AND COMMISSION_TYPE = 'R'  
		AND TERM = @PROCESS_TERM
		AND ISNULL(IS_ACTIVE,'Y') = 'Y'
ORDER BY STATE_ID DESC, LOB_ID DESC, SUB_LOB_ID DESC, CLASS_RISK DESC 

IF @AGENCY_REG_COMM_PRCT = 0 
BEGIN 
	-- Commmission Precentage not found terminating the premium process
	SET @RETVAL = -2
	RETURN -2 
END

SELECT @AGENCY_REG_COMM = ROUND(((@EFFECTIVE_PREMIUM * @AGENCY_REG_COMM_PRCT)/100), 2) 

CREATE TABLE #TMP_POST  
 (   
  IDENT_COL    [int] IDENTITY(1,1) NOT NULL ,        
  ACCOUNT_ID    SMALLINT,  
  AMT     DECIMAL(20,8),  
  APP_ID            INT,  
  APP_VERSION_ID    INT,  
  CUSTOMER_ID   INT,  
  AGENCY_ID   INT,  
  SOURCE_EFFECTIVE_DATE  DATETIME,  
  DUE_DATE   DATETIME,  
  TRANS_DESC   VARCHAR(100),  
  POLICY_ID   INT,  
  POLICY_VERSION_ID  INT,  
  TRAN_CODE   VARCHAR(10),  
  TRAN_TYPE   VARCHAR(10),  
  ACCOUNTS   BIT,  
  OPEN_ITEMS   BIT,  
  INSTALLMENT_ROW_ID  INT,  
  TRAN_ENTITY   Varchar(200),  
  TRAN_DESC    Varchar(500) ,
  COMMISSION_PERCENTAGE	Decimal(18,2)    
 )  

--Finding whether bill type is agency bill or direct bill
IF UPPER(@BILL_TYPE) = 'AB'			--FOR AGENCY BILL
BEGIN
		
	--For agency bill, entering the record in act_agency_open_item table
	INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, AGENCY_ID, SOURCE_EFFECTIVE_DATE, 
			TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS,TRAN_TYPE, TRAN_CODE,
			TRAN_ENTITY,TRAN_DESC , COMMISSION_PERCENTAGE )	
	VALUES ( @FULLPREMIUM_ACCOUNT, @TOTAL_PREMIUM_AMOUNT , @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @AGENCY_ID, @EFFECTIVE_DATE , 
			'Premium due.', @POLICY_ID, @POLICY_VERSION_ID, 1, 1,@TRAN_TYPE,@TRAN_TYPE_CODE,
			@TRAN_ENTITY ,	@TRAN_DESC , @AGENCY_REG_COMM_PRCT )

	IF @@ERROR <> 0
		GOTO ERRHANDLER
END
ELSE IF (UPPER(@BILL_TYPE) = 'DB')
BEGIN
	--For direct bill, entering the record in customer open item table
	--If policy is not under any installment plan, (means on ful pay plan)
	-- then entering the consolidated entry in customer open items table

	IF( ISNULL( @INSTALL_PLAN_ID ,0) = @FULL_PAY_PLAN )
	BEGIN

			INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, SOURCE_EFFECTIVE_DATE
				, TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS, TRAN_TYPE,TRAN_CODE,
				TRAN_ENTITY,TRAN_DESC,DUE_DATE , COMMISSION_PERCENTAGE )	
			VALUES (@FULLPREMIUM_ACCOUNT, @TOTAL_PREMIUM_AMOUNT , @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @EFFECTIVE_DATE , 
				'Premium due.', @POLICY_ID, @POLICY_VERSION_ID, 1, 1, @TRAN_TYPE,@TRAN_TYPE_CODE,
				@TRAN_ENTITY ,@TRAN_DESC,
				CASE WHEN @EFFECTIVE_DATE >= GETDATE() THEN @EFFECTIVE_DATE ELSE GETDATE() END, 
				@AGENCY_REG_COMM_PRCT 
				)

			IF @@ERROR <> 0
				GOTO ERRHANDLER
	END
	ELSE
	-- Policy is under installment plan create installments 
	BEGIN 

		-- Fetch Details of Selected Installment plan 
		DECLARE @IDEN_PLAN_ID SMALLINT, @PLAN_DESCRIPTION NVARCHAR(70),  
		 @PLAN_TYPE NCHAR(2), @NO_OF_PAYMENTS SMALLINT, @MONTHS_BETWEEN SMALLINT,   
		 @PERCENT_BREAKDOWN1 DECIMAL(10,4), @PERCENT_BREAKDOWN2 DECIMAL(10,4),   
		 @PERCENT_BREAKDOWN3 DECIMAL(10,4), @PERCENT_BREAKDOWN4 DECIMAL(10,4),  
		 @PERCENT_BREAKDOWN5 DECIMAL(10,4), @PERCENT_BREAKDOWN6 DECIMAL(10,4),  
		 @PERCENT_BREAKDOWN7 DECIMAL(10,4), @PERCENT_BREAKDOWN8 DECIMAL(10,4),  
		 @PERCENT_BREAKDOWN9 DECIMAL(10,4), @PERCENT_BREAKDOWN10 DECIMAL(10,4),   
		 @PERCENT_BREAKDOWN11 DECIMAL(10,4), @PERCENT_BREAKDOWN12 DECIMAL(10,4),  
		 @PLAN_PAYMENT_MODE Int,@NO_INS_DOWNPAY INt,  
		 @INSTALLMENT_FEES  Decimal(18,2)  
		     
		IF(@BASE_PROCESS_ID = @RENEWAL )-- renewal 
		BEGIN
			SELECT @IDEN_PLAN_ID = IDEN_PLAN_ID, @PLAN_DESCRIPTION = PLAN_DESCRIPTION,
			@PLAN_TYPE = PLAN_TYPE, @NO_OF_PAYMENTS = NO_OF_PAYMENTS, @MONTHS_BETWEEN = MONTHS_BETWEEN, 
			@PERCENT_BREAKDOWN1 = PERCENT_BREAKDOWNRP1, @PERCENT_BREAKDOWN2 = PERCENT_BREAKDOWNRP2, 
			@PERCENT_BREAKDOWN3 = PERCENT_BREAKDOWNRP3, @PERCENT_BREAKDOWN4 = PERCENT_BREAKDOWNRP4,
			@PERCENT_BREAKDOWN5 = PERCENT_BREAKDOWNRP5, @PERCENT_BREAKDOWN6 = PERCENT_BREAKDOWNRP6,
			@PERCENT_BREAKDOWN7 = PERCENT_BREAKDOWNRP7, @PERCENT_BREAKDOWN8 = PERCENT_BREAKDOWNRP8, 
			@PERCENT_BREAKDOWN9 = PERCENT_BREAKDOWNRP9, @PERCENT_BREAKDOWN10 = PERCENT_BREAKDOWNRP10, 
			@PERCENT_BREAKDOWN11 = PERCENT_BREAKDOWNRP11, @PERCENT_BREAKDOWN12 = PERCENT_BREAKDOWNRP12,
			@PLAN_PAYMENT_MODE  = PLAN_PAYMENT_MODE,
			@NO_INS_DOWNPAY   = NO_INS_DOWNPAY_RENEW,
			@INSTALLMENT_FEES = ISNULL(INSTALLMENT_FEES, 0)  
			FROM ACT_INSTALL_PLAN_DETAIL  
			WHERE IDEN_PLAN_ID = @INSTALL_PLAN_ID
		END
		ELSE
		BEGIN 
			SELECT  @IDEN_PLAN_ID = IDEN_PLAN_ID, @PLAN_DESCRIPTION = PLAN_DESCRIPTION,  
			@PLAN_TYPE = PLAN_TYPE, @NO_OF_PAYMENTS = NO_OF_PAYMENTS, @MONTHS_BETWEEN = MONTHS_BETWEEN,   
			@PERCENT_BREAKDOWN1 = PERCENT_BREAKDOWN1, @PERCENT_BREAKDOWN2 = PERCENT_BREAKDOWN2,   
			@PERCENT_BREAKDOWN3 = PERCENT_BREAKDOWN3, @PERCENT_BREAKDOWN4 = PERCENT_BREAKDOWN4,  
			@PERCENT_BREAKDOWN5 = PERCENT_BREAKDOWN5, @PERCENT_BREAKDOWN6 = PERCENT_BREAKDOWN6,  
			@PERCENT_BREAKDOWN7 = PERCENT_BREAKDOWN7, @PERCENT_BREAKDOWN8 = PERCENT_BREAKDOWN8,   
			@PERCENT_BREAKDOWN9 = PERCENT_BREAKDOWN9, @PERCENT_BREAKDOWN10 = PERCENT_BREAKDOWN10,   
			@PERCENT_BREAKDOWN11 = PERCENT_BREAKDOWN11, @PERCENT_BREAKDOWN12 = PERCENT_BREAKDOWN12,  
			@PLAN_PAYMENT_MODE  = PLAN_PAYMENT_MODE,  
			@NO_INS_DOWNPAY   = NO_INS_DOWNPAY,  
			@INSTALLMENT_FEES = ISNULL(INSTALLMENT_FEES, 0)  
			FROM ACT_INSTALL_PLAN_DETAIL  
			WHERE IDEN_PLAN_ID = @INSTALL_PLAN_ID
		END

		/****************************************************************/

		-- Temporary Table to Store new plan  
		CREATE TABLE #TMP_INSTALL_PLAN  
		(  
		[IDENT_COL] [int] IDENTITY(1,1) NOT NULL ,                                                                
		[AMOUNT]   DECIMAL(25,2),  
		[INSTALLMENT_EFFECTIVE_DATE] DATETIME,  
		[INSTALLMENT_NO]  Int,  
		[RISK_TYPE]   Varchar(15),  
		[PAYMENT_MODE]   Int,  
		[PERCENTAG_OF_PREMIUM]  Decimal(9,4)  
		)  

		CREATE TABLE #FINAL_INSTALL_PLAN  
		(  
		 [IDENT_COL] [int] IDENTITY(1,1) NOT NULL ,                                                                
		 [AMOUNT]   DECIMAL(25,2),  
		 [INSTALLMENT_EFFECTIVE_DATE] DATETIME,  
		 [INSTALLMENT_NO]  Int,  
		 [RISK_ID]   Int,  
		 [TRAN_TYPE]   Varchar(10),  
		 [RISK_TYPE]   Varchar(15),  
		 [PAYMENT_MODE]   Int,  
		 [PERCENTAG_OF_PREMIUM]  Decimal(9,4)  
		)	  

		DECLARE  @REMAINING_AMOUNT Decimal(18,2)
	 
		DECLARE @INSTALLMENT_EFFECTIVE_DATE DATETIME,   
			@INSTALLMENT_AMOUNT DECIMAL(20,2),  
			@CTR SMALLINT , @PERCENTAG_OF_PREMIUM Decimal (9,4),  
			@DAY_LIMIT INT , --Itrack 6320 
			@EFT_COUNT int --Itrack 6320,
		
		-- Calculate Installment Schedule as per new installment plan considerng whole premium
		-- ( Released + Unreleased) 
		-- Inserting the record in to temp table  
		SET @INSTALLMENT_EFFECTIVE_DATE = @POLICY_EFFECTIVE_DATE  
		
		SET @CTR = 1;  
		SET @EFT_COUNT = 1
   
		WHILE @CTR <= @NO_OF_PAYMENTS  --Looping as number of times as there are installments  
		BEGIN  

			IF @CTR > 1  
			SELECT @INSTALLMENT_EFFECTIVE_DATE = DATEADD(MONTH, @MONTHS_BETWEEN, @INSTALLMENT_EFFECTIVE_DATE )  
	  
			SELECT @PERCENTAG_OF_PREMIUM =  
			CASE @CTR  
				WHEN 1 THEN  
				@PERCENT_BREAKDOWN1  
				WHEN 2 THEN  
				@PERCENT_BREAKDOWN2       
				WHEN 3 THEN  
				@PERCENT_BREAKDOWN3  
				WHEN 4 THEN  
				@PERCENT_BREAKDOWN4  
				WHEN 5 THEN  
				@PERCENT_BREAKDOWN5  
				WHEN 6 THEN  
				@PERCENT_BREAKDOWN6  
				WHEN 7 THEN  
				@PERCENT_BREAKDOWN7  
				WHEN 8 THEN  
				@PERCENT_BREAKDOWN8  
				WHEN 9 THEN  
				@PERCENT_BREAKDOWN9  
				WHEN 10 THEN  
				@PERCENT_BREAKDOWN10  
				WHEN 11 THEN  
				@PERCENT_BREAKDOWN11  
				WHEN 12 THEN  
				@PERCENT_BREAKDOWN12  
		END  

		IF(@PLAN_PAYMENT_MODE = @EFT AND @EFT_TENTATIVE_DATE <> 0)
		BEGIN 
			--Praveen Kasana(2 Sep 2009) Itrack 6320 ,
			IF(@EFT_COUNT = 1)
				SET @DAY_LIMIT = @EFT_TENTATIVE_DATE - DATEPART(DD,@INSTALLMENT_EFFECTIVE_DATE)

			DECLARE @DD Int, @MM Int, @YYYY Int
			--Ravindra(07-07-09): iTrack 6061, Change the 5 day limit to 15 days
			--IF(@EFT_TENTATIVE_DATE - DATEPART(DD,@INSTALLMENT_EFFECTIVE_DATE)  > 15) -- 5 )
			IF(@DAY_LIMIT > 15) ---Praveen Kasana(2 Sep 2009) Itrack 6320 ,
			BEGIN 
				SET @YYYY = DATEPART(YYYY,@INSTALLMENT_EFFECTIVE_DATE)
				SET @MM  =  DATEPART(MM,@INSTALLMENT_EFFECTIVE_DATE)-1 
				SET @DD = @EFT_TENTATIVE_DATE 
			END
			ELSE
			BEGIN 
				SET @YYYY = DATEPART(YYYY,@INSTALLMENT_EFFECTIVE_DATE)
				SET @MM  =  DATEPART(MM,@INSTALLMENT_EFFECTIVE_DATE) 
				SET @DD = @EFT_TENTATIVE_DATE 
			END
		
			IF(@MM = 2 AND @DD >=29)
			BEGIN 
				SET @DD = 28
			END
			IF (@MM = 0) 
			BEGIN 
				SET @MM = 12
				SET @YYYY = @YYYY-1
			END

			IF((@MM = 4 or @MM = 6 or @MM = 9 or @MM = 11) and @DD =31)
			BEGIN 
				SET @DD = 30
			END

			--If month is 13 or greater than 
			IF(@MM >=13)	
			BEGIN
				SET @MM = 1
				SET @YYYY = @YYYY+1	
			END	
  
			SET @DUE_DATE = CAST(
			( 
			CONVERT(VARCHAR,@YYYY)
			+ '-'
			+ CONVERT(VARCHAR,@MM ) 
			+ '-'
			+ CONVERT(VARCHAR, @DD) 
			)
			AS DATETIME)

			--Praveen Kasana(9 Sep 2009) Itrack 6320
			SET @EFT_COUNT = @EFT_COUNT + 1
			
		END
		ELSE
		BEGIN
			SET @DUE_DATE = @INSTALLMENT_EFFECTIVE_DATE
			------Added on 30 Oct 2009 (Praveen) Itrack 6675
			SET @YYYY = DATEPART(YYYY,@INSTALLMENT_EFFECTIVE_DATE)
			SET @MM  =  DATEPART(MM,@INSTALLMENT_EFFECTIVE_DATE) 
			SET @DD = DATEPART(DD,@POLICY_EFFECTIVE_DATE)

			IF(@MM = 2 AND @DD >=29)
			BEGIN 
				SET @DD = 28
			END

			IF (@MM = 0) 
			BEGIN 
				SET @MM = 12
				SET @YYYY = @YYYY-1
			END

			IF((@MM = 4 or @MM = 6 or @MM = 9 or @MM = 11) and @DD =31)
			BEGIN 
				SET @DD = 30
			END

			--If month is 13 or greater than 
			IF(@MM >=13)	
			BEGIN
				SET @MM = 1
				SET @YYYY = @YYYY+1	
			END	
			  
			SET @DUE_DATE = CAST(
			( 
			CONVERT(VARCHAR,@YYYY)
			+ '-'
			+ CONVERT(VARCHAR,@MM ) 
			+ '-'
			+ CONVERT(VARCHAR, @DD) 
			)
			AS DATETIME)
			
			--------End Itrack 6675
		END 

		   
		--SET @INSTALLMENT_AMOUNT = ROUND((@PERCENTAG_OF_PREMIUM/100) * @TOTAL_PREMIUM_AMOUNT, 2)    
		
		SET @INSTALLMENT_AMOUNT = ROUND((@PERCENTAG_OF_PREMIUM/100) * @INFORCE_PREMIUM, 2)    

		--Inserting the installment record in temporary table,   
		INSERT INTO #TMP_INSTALL_PLAN  
		(  
		AMOUNT,  
		INSTALLMENT_EFFECTIVE_DATE,  
		INSTALLMENT_NO,  
		RISK_TYPE , PAYMENT_MODE,  
		PERCENTAG_OF_PREMIUM  
		)  
		VALUES  
		(   
		@INSTALLMENT_AMOUNT,  
		@DUE_DATE,  
		@CTR,  
		@RISK_TYPE , @PLAN_PAYMENT_MODE ,  
		@PERCENTAG_OF_PREMIUM  
		)  
		
		SELECT @CTR = @CTR + 1  
	END  

	DECLARE curTEMP_INSTALLMENTS CURSOR     
	LOCAL FORWARD_ONLY STATIC    
	FOR SELECT AMOUNT,INSTALLMENT_EFFECTIVE_DATE,INSTALLMENT_NO, PERCENTAG_OF_PREMIUM  
	FROM #TMP_INSTALL_PLAN     
	order by INSTALLMENT_NO DESC  
	   
	
	DECLARE @AMT Decimal(18,2),  
		@INSTAL_EFFECTIVE_DATE DateTime,  
		@INSTAL_NO  Int, @COMMISSION_AMOUNT Decimal(18,2)

	SET  @REMAINING_AMOUNT = @TOTAL_PREMIUM_AMOUNT  

	OPEN curTEMP_INSTALLMENTS    
   
	-- Iterate through each installment in reverse order for new plan 
	WHILE 1=1    
	BEGIN     
		--Fetching the values from cursor    
		FETCH NEXT FROM curTEMP_INSTALLMENTS INTO @AMT , @INSTAL_EFFECTIVE_DATE , @INSTAL_NO  ,   
				@PERCENTAG_OF_PREMIUM  
	    
		IF @@FETCH_STATUS <> 0    
			BREAK;    

		-- If Installment Effective Date Less that equal to Reinstatement Effective Date
		-- Create new installment
		IF(@INSTAL_EFFECTIVE_DATE >= @EFFECTIVE_DATE 
				AND @INSTAL_EFFECTIVE_DATE >= CAST( CONVERT(VARCHAR,GETDATE(), 101) AS DATETIME ) ) 
		BEGIN
			-- Else create Installment with calculated Installment Amount  
			INSERT INTO #FINAL_INSTALL_PLAN (AMOUNT ,INSTALLMENT_EFFECTIVE_DATE ,INSTALLMENT_NO , RISK_ID, TRAN_TYPE   
			, RISK_TYPE , PAYMENT_MODE , PERCENTAG_OF_PREMIUM )  
			VALUES(@AMT , @INSTAL_EFFECTIVE_DATE , @INSTAL_NO  , @RISK_ID, 'PREM'   
			, @RISK_TYPE , @PLAN_PAYMENT_MODE , @PERCENTAG_OF_PREMIUM)  

			-- If Home Employee then create discount entry also  
			IF(@IS_HOME_EMP = 'Y' AND  @AGENCY_REG_COMM_PRCT <> 0)  
			BEGIN   
				--Calculate Commission To Be given  
				--SET @COMMISSION_AMOUNT  = (@AMT * @AGENCY_REG_COMM_PRCT ) /100  
				-- Itrack 6033, Commision amount(discount for home policy) should be calculated on the net
				-- premium of the installment amount instead on gross.
				SET @COMMISSION_AMOUNT  = ( (@AMT * @EFFECTIVE_PREMIUM/@TOTAL_PREMIUM_AMOUNT ) * @AGENCY_REG_COMM_PRCT ) /100  
					
				INSERT INTO #FINAL_INSTALL_PLAN (AMOUNT ,INSTALLMENT_EFFECTIVE_DATE ,INSTALLMENT_NO , 
					RISK_ID, TRAN_TYPE , RISK_TYPE , PAYMENT_MODE , 
					 PERCENTAG_OF_PREMIUM )  
				VALUES(@COMMISSION_AMOUNT * -1 , @INSTAL_EFFECTIVE_DATE , @INSTAL_NO  , 
					@RISK_ID, 'DISC' , @RISK_TYPE , @PLAN_PAYMENT_MODE , 
					@PERCENTAG_OF_PREMIUM)  
			END  
			-- Create Fees Entry 
			IF(@IS_HOME_EMP <>  'Y' AND  @IS_SAME_POLICY <> 'Y')  
			BEGIN   
				INSERT INTO #FINAL_INSTALL_PLAN (AMOUNT ,INSTALLMENT_EFFECTIVE_DATE ,INSTALLMENT_NO , 
					RISK_ID, TRAN_TYPE , RISK_TYPE , PAYMENT_MODE , 
					PERCENTAG_OF_PREMIUM )  
				VALUES( @INSTALLMENT_FEES   , @INSTAL_EFFECTIVE_DATE , @INSTAL_NO  , 
					@RISK_ID, 'FEES' , @RISK_TYPE , @PLAN_PAYMENT_MODE , 
					@PERCENTAG_OF_PREMIUM)  
			END  	
    
		END
		-- Else Add to very next due installment
		ELSE
		BEGIN
			IF EXISTS ( SELECT IDENT_COL FROM #FINAL_INSTALL_PLAN )
			BEGIN 
				DECLARE @NEXT_DUE_INS INT,
					@NEXT_DUE_DISC Int
				-- Find Next Due Installment
				SELECT TOP 1 @NEXT_DUE_INS  = IDENT_COL FROM 
				#FINAL_INSTALL_PLAN
				WHERE TRAN_TYPE = 'PREM' 
				ORDER BY INSTALLMENT_NO 
				
				UPDATE #FINAL_INSTALL_PLAN SET AMOUNT = AMOUNT + @AMT
				WHERE IDENT_COL = @NEXT_DUE_INS
				
				-- If Home Employee then create discount entry also  
				IF(@IS_HOME_EMP = 'Y' AND  @AGENCY_REG_COMM_PRCT <> 0)  
				BEGIN   
					--Calculate Commission To Be given  
					--SET @COMMISSION_AMOUNT  = (@AMT * @AGENCY_REG_COMM_PRCT ) /100  
					SET @COMMISSION_AMOUNT  = ( (@AMT * @EFFECTIVE_PREMIUM/@TOTAL_PREMIUM_AMOUNT ) * @AGENCY_REG_COMM_PRCT ) /100  

					-- Find Next Due Installment
					SELECT TOP 1 @NEXT_DUE_DISC  = IDENT_COL FROM 
					#FINAL_INSTALL_PLAN
					WHERE TRAN_TYPE = 'DISC' 
					ORDER BY INSTALLMENT_NO DESC
					
					UPDATE #FINAL_INSTALL_PLAN SET AMOUNT = AMOUNT -  @COMMISSION_AMOUNT
					WHERE IDENT_COL = @NEXT_DUE_DISC				
				END  
			END
			-- Ravnidra (09-11-2007)
			/* If No Installment Exists  After Reinstatement Date  Create New INstallment with due date
				Same as reinstatement date	*/
			ELSE
			BEGIN 
				INSERT INTO #FINAL_INSTALL_PLAN (AMOUNT ,INSTALLMENT_EFFECTIVE_DATE ,INSTALLMENT_NO , RISK_ID, 
								TRAN_TYPE  , RISK_TYPE , PAYMENT_MODE , PERCENTAG_OF_PREMIUM )  
				VALUES(@AMT , @EFFECTIVE_DATE , @INSTAL_NO  , @RISK_ID, 'PREM'  , @RISK_TYPE , 
								@PLAN_PAYMENT_MODE , @PERCENTAG_OF_PREMIUM)  

				-- If Home Employee then create discount entry also  
				IF(@IS_HOME_EMP = 'Y' AND  @AGENCY_REG_COMM_PRCT <> 0)  
				BEGIN   
					--Calculate Commission To Be given  
					--SET @COMMISSION_AMOUNT  = (@AMT * @AGENCY_REG_COMM_PRCT ) /100  
					SET @COMMISSION_AMOUNT  = ( (@AMT * @EFFECTIVE_PREMIUM/@TOTAL_PREMIUM_AMOUNT ) * @AGENCY_REG_COMM_PRCT ) /100  

					INSERT INTO #FINAL_INSTALL_PLAN (AMOUNT ,INSTALLMENT_EFFECTIVE_DATE ,INSTALLMENT_NO , 
						RISK_ID, TRAN_TYPE , RISK_TYPE , PAYMENT_MODE , 
						 PERCENTAG_OF_PREMIUM )  
					VALUES(@COMMISSION_AMOUNT * -1 , @EFFECTIVE_DATE , @INSTAL_NO  , 
						@RISK_ID, 'DISC' , @RISK_TYPE , @PLAN_PAYMENT_MODE , 
						@PERCENTAG_OF_PREMIUM)  
				END  
				-- Create Fees Entry 
				IF(@IS_HOME_EMP <>  'Y' AND  @IS_SAME_POLICY <> 'Y')  
				BEGIN   
					INSERT INTO #FINAL_INSTALL_PLAN (AMOUNT ,INSTALLMENT_EFFECTIVE_DATE ,INSTALLMENT_NO , 
						RISK_ID, TRAN_TYPE , RISK_TYPE , PAYMENT_MODE , 
						PERCENTAG_OF_PREMIUM )  
					VALUES( @INSTALLMENT_FEES   , @EFFECTIVE_DATE , @INSTAL_NO  , 
						@RISK_ID, 'FEES' , @RISK_TYPE , @PLAN_PAYMENT_MODE , 
						@PERCENTAG_OF_PREMIUM)  
				END  	
			END
			/* ENd Creating New INstallment */
		END
		
		SET @REMAINING_AMOUNT = @REMAINING_AMOUNT - @AMT   

	END  
    	IF ( @REMAINING_AMOUNT <> 0)
	BEGIN 
		IF EXISTS ( SELECT IDENT_COL FROM #FINAL_INSTALL_PLAN )
		BEGIN 
			DECLARE @NEXT_DUE_INSTALLMENT INT,
				@NEXT_DUE_DISCCOUNT Int
			-- Find Next Due Installment
			SELECT TOP 1 @NEXT_DUE_INSTALLMENT  = IDENT_COL FROM 
			#FINAL_INSTALL_PLAN
			WHERE TRAN_TYPE = 'PREM' 
			ORDER BY INSTALLMENT_NO 
			
			UPDATE #FINAL_INSTALL_PLAN SET AMOUNT = AMOUNT + @REMAINING_AMOUNT
			WHERE IDENT_COL = @NEXT_DUE_INSTALLMENT
			
			-- If Home Employee then create discount entry also  
			IF(@IS_HOME_EMP = 'Y' AND  @AGENCY_REG_COMM_PRCT <> 0)  
			BEGIN   
				--Calculate Commission To Be given  
				--SET @COMMISSION_AMOUNT  = (@REMAINING_AMOUNT * @AGENCY_REG_COMM_PRCT ) /100  
				SET @COMMISSION_AMOUNT  = ( (@REMAINING_AMOUNT * @EFFECTIVE_PREMIUM/@TOTAL_PREMIUM_AMOUNT ) * @AGENCY_REG_COMM_PRCT ) /100  

				-- Find Next Due Installment
				SELECT TOP 1 @NEXT_DUE_DISCCOUNT  = IDENT_COL FROM 
				#FINAL_INSTALL_PLAN
				WHERE TRAN_TYPE = 'DISC' 
				ORDER BY INSTALLMENT_NO 
				
				UPDATE #FINAL_INSTALL_PLAN SET AMOUNT = AMOUNT -  @COMMISSION_AMOUNT
				WHERE IDENT_COL = @NEXT_DUE_DISCCOUNT				
			END  
		END
	END
	CLOSE curTEMP_INSTALLMENTS    
	DEALLOCATE curTEMP_INSTALLMENTS    

	
	--Calculate total Discount Amount form #FINAL_INSTALL_PLAN
	--If Adjust Difference of this total from @AGENCY_REG_COMM to last/first installment (discount item)
	-- Itrack 6033.
	IF(@IS_HOME_EMP = 'Y')
	BEGIN
		DECLARE @DISC_TOTAL DECIMAL(18,2)
		-- Find Next Due Installment
		SELECT TOP 1 @NEXT_DUE_DISCCOUNT  = IDENT_COL FROM 
		#FINAL_INSTALL_PLAN
		WHERE TRAN_TYPE = 'DISC' 
		ORDER BY INSTALLMENT_NO DESC
		SELECT @DISC_TOTAL = sum(AMOUNT)* -1 FROM #FINAL_INSTALL_PLAN
		WHERE TRAN_TYPE = 'DISC'
	
		IF( @DISC_TOTAL <> @AGENCY_REG_COMM )
		BEGIN
			
			UPDATE #FINAL_INSTALL_PLAN SET AMOUNT = AMOUNT + (@DISC_TOTAL - @AGENCY_REG_COMM)
			WHERE IDENT_COL = @NEXT_DUE_DISCCOUNT
		END
	END

	--Insert new Plan in policy installment details table

	DECLARE curFINAL_INSTALLMENTS CURSOR   
	LOCAL FORWARD_ONLY STATIC 
	FOR SELECT DISTINCT INSTALLMENT_NO 
	FROM #FINAL_INSTALL_PLAN     
	ORDER BY INSTALLMENT_NO  
	   
	DECLARE @INS_ROW_ID Int,
			@INS_NUM	Int
	SET @INS_NUM = 1
	OPEN curFINAL_INSTALLMENTS    

	WHILE 1=1    
	BEGIN     
		--Fetching the values from cursor    
		FETCH NEXT FROM curFINAL_INSTALLMENTS INTO @INS_NUM	
		IF @@FETCH_STATUS <> 0    
			BREAK;    

		IF EXISTS (SELECT IDENT_COL FROM #FINAL_INSTALL_PLAN 
					WHERE INSTALLMENT_NO = @INS_NUM)
		BEGIN 
		
			INSERT INTO ACT_POLICY_INSTALLMENT_DETAILS
				(
					POLICY_ID, POLICY_VERSION_ID, CUSTOMER_ID, APP_ID, 
					APP_VERSION_ID, INSTALLMENT_AMOUNT, INSTALLMENT_EFFECTIVE_DATE, RELEASED_STATUS,
					INSTALLMENT_NO,RISK_ID,PERCENTAG_OF_PREMIUM,PAYMENT_MODE,CURRENT_TERM,RISK_TYPE
				)
			SELECT 	@POLICY_ID, @POLICY_VERSION_ID, @CUSTOMER_ID, @APP_ID,
					@APP_VERSION_ID, TMP.AMOUNT, TMP.INSTALLMENT_EFFECTIVE_DATE, 'N',
					TMP.INSTALLMENT_NO, @RISK_ID , TMP.PERCENTAG_OF_PREMIUM ,TMP.PAYMENT_MODE, 
					@CURRENT_TERM,@RISK_TYPE
			FROM   #FINAL_INSTALL_PLAN TMP 
			WHERE INSTALLMENT_NO = @INS_NUM
			AND TRAN_TYPE = 'PREM'

			SELECT @INS_ROW_ID = @@IDENTITY
	
			-- Ravindra(09-19-2008) : Set status of installments of previous version and same number as this to 
			-- Unrealesed other wise this newely created installment will be treated as released too.

			UPDATE ACT_POLICY_INSTALLMENT_DETAILS SET RELEASED_STATUS = 'N'
			WHERE INSTALLMENT_NO = @INS_NUM AND CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID 
			AND CURRENT_TERM = @CURRENT_TERM 
	
			INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, SOURCE_EFFECTIVE_DATE
					, TRANS_DESC, 
					POLICY_ID, POLICY_VERSION_ID, 
					ACCOUNTS, 
					OPEN_ITEMS, 
					TRAN_TYPE,
					TRAN_CODE,
					TRAN_ENTITY,TRAN_DESC,DUE_DATE , INSTALLMENT_ROW_ID , COMMISSION_PERCENTAGE)	
			SELECT     @FULLPREMIUM_ACCOUNT, AMOUNT , @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, INSTALLMENT_EFFECTIVE_DATE , 
					'Fees due' ,
					@POLICY_ID, @POLICY_VERSION_ID, 
					CASE TRAN_TYPE WHEN 'PREM' THEN 1 ELSE 0 END, 
					1,
					TRAN_TYPE,
					'INSF',
					@TRAN_ENTITY ,@TRAN_DESC, INSTALLMENT_EFFECTIVE_DATE  , @INS_ROW_ID , @AGENCY_REG_COMM_PRCT 
			FROM   #FINAL_INSTALL_PLAN
			WHERE INSTALLMENT_NO = @INS_NUM
			AND TRAN_TYPE = 'FEES'			


			INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, SOURCE_EFFECTIVE_DATE
					, TRANS_DESC, 
					POLICY_ID, POLICY_VERSION_ID, 
					ACCOUNTS, 
					OPEN_ITEMS, 
					TRAN_TYPE,
					TRAN_CODE,
					TRAN_ENTITY,TRAN_DESC,DUE_DATE , INSTALLMENT_ROW_ID ,  COMMISSION_PERCENTAGE   )	
			SELECT     @FULLPREMIUM_ACCOUNT, AMOUNT , @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, INSTALLMENT_EFFECTIVE_DATE , 
					 CONVERT(VARCHAR,INSTALLMENT_NO) + ' Installment due.',
					@POLICY_ID, @POLICY_VERSION_ID, 
					CASE TRAN_TYPE WHEN 'PREM' THEN 1 ELSE 0 END, 
					1,
					TRAN_TYPE,
					'RINSP' ,
					@TRAN_ENTITY ,@TRAN_DESC, INSTALLMENT_EFFECTIVE_DATE  , @INS_ROW_ID , @AGENCY_REG_COMM_PRCT 
			FROM #FINAL_INSTALL_PLAN
			WHERE INSTALLMENT_NO = @INS_NUM
			AND TRAN_TYPE = 'PREM'


			--Ravindra(12-02-2008): Create a record in Install Plan Details for Discount 

			INSERT INTO ACT_POLICY_INSTALLMENT_DETAILS
				(
					POLICY_ID, POLICY_VERSION_ID, CUSTOMER_ID, APP_ID, 
					APP_VERSION_ID, INSTALLMENT_AMOUNT, INSTALLMENT_EFFECTIVE_DATE, RELEASED_STATUS,
					INSTALLMENT_NO,RISK_ID,PERCENTAG_OF_PREMIUM,PAYMENT_MODE,CURRENT_TERM,RISK_TYPE
				)
			SELECT 	@POLICY_ID, @POLICY_VERSION_ID, @CUSTOMER_ID, @APP_ID,
					@APP_VERSION_ID, TMP.AMOUNT, TMP.INSTALLMENT_EFFECTIVE_DATE, 'N',
					TMP.INSTALLMENT_NO, @RISK_ID , TMP.PERCENTAG_OF_PREMIUM ,TMP.PAYMENT_MODE, 
					@CURRENT_TERM,@RISK_TYPE
			FROM   #FINAL_INSTALL_PLAN TMP 
			WHERE INSTALLMENT_NO = @INS_NUM
			AND TRAN_TYPE = 'DISC'

			SELECT @INS_ROW_ID = @@IDENTITY

			INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, SOURCE_EFFECTIVE_DATE
					, TRANS_DESC, 
					POLICY_ID, POLICY_VERSION_ID, 
					ACCOUNTS, 
					OPEN_ITEMS, 
					TRAN_TYPE,
					TRAN_CODE,
					TRAN_ENTITY,TRAN_DESC,DUE_DATE , INSTALLMENT_ROW_ID , COMMISSION_PERCENTAGE )	
			SELECT     @FULLPREMIUM_ACCOUNT, AMOUNT , @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, INSTALLMENT_EFFECTIVE_DATE , 
					 'Discount given', 
					@POLICY_ID, @POLICY_VERSION_ID, 
					1, 
					1,
					'PREM',
					TRAN_TYPE ,
					@TRAN_ENTITY ,@TRAN_DESC, INSTALLMENT_EFFECTIVE_DATE  , @INS_ROW_ID , @AGENCY_REG_COMM_PRCT 
			FROM   #FINAL_INSTALL_PLAN
			WHERE INSTALLMENT_NO = @INS_NUM
			AND TRAN_TYPE = 'DISC'


		END
	END
	CLOSE curFINAL_INSTALLMENTS    
	DEALLOCATE curFINAL_INSTALLMENTS

	DROP TABLE #TMP_INSTALL_PLAN  
	DROP TABLE #FINAL_INSTALL_PLAN

	END
END	

--Inserting the written premium in written premium account
INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, SOURCE_EFFECTIVE_DATE,
	 TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS, TRAN_TYPE, TRAN_CODE
	,TRAN_ENTITY,TRAN_DESC , COMMISSION_PERCENTAGE )
VALUES(@PREMIUM_INCOME_ACCOUNT, @EFFECTIVE_PREMIUM	 * -1, @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @EFFECTIVE_DATE,
	 '', @POLICY_ID, @POLICY_VERSION_ID, 1, 0, @TRAN_TYPE ,@TRAN_TYPE_CODE,
	CASE UPPER(@BILL_TYPE) WHEN 'AB' Then @AGENCY_NAME
	ELSE 	@TRAN_ENTITY END,
	@TRAN_DESC 	, @AGENCY_REG_COMM_PRCT )

--Inserting Other state assesment fees in (Other State Assessment Fees/Premiums Written - Other state assessed fees) account
INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, SOURCE_EFFECTIVE_DATE, TRANS_DESC, 
POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS,TRAN_TYPE, TRAN_CODE,TRAN_ENTITY,TRAN_DESC , COMMISSION_PERCENTAGE )
VALUES(@OTHER_FEES_ACCOUNT, @EFFECTIVE_OSTA_FEES * -1, @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @EFFECTIVE_DATE, '', 
@POLICY_ID, @POLICY_VERSION_ID, 1, 0,'FEES', 'OTSAF',
CASE UPPER(@BILL_TYPE) WHEN 'AB' Then @AGENCY_NAME
ELSE 	@TRAN_ENTITY END, @TRAN_DESC , @AGENCY_REG_COMM_PRCT 
)


	IF @@ERROR <> 0
		GOTO ERRHANDLER

IF ISNULL(@AGENCY_REG_COMM,0) <> 0
BEGIN	/*If there is some commission amount, applying the commission as agency commission or employee discount*/
	IF @IS_HOME_EMP = 'Y'
	BEGIN 

		SET @TRAN_TYPE_CODE = 'DISC'
		IF ISNULL(@INSTALL_PLAN_ID,0) = @FULL_PAY_PLAN 
		BEGIN
			--Giving discount to customer
			--Hence entering an open item in customer
			INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, SOURCE_EFFECTIVE_DATE, 
			TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS, TRAN_TYPE,TRAN_CODE,
			TRAN_ENTITY,TRAN_DESC,DUE_DATE , COMMISSION_PERCENTAGE )
			VALUES(@FULLPREMIUM_ACCOUNT, -@AGENCY_REG_COMM, @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @EFFECTIVE_DATE, 
			'Discount given.', @POLICY_ID, @POLICY_VERSION_ID, 1, 1,@TRAN_TYPE,
			@TRAN_TYPE_CODE, @TRAN_ENTITY ,@TRAN_DESC, @EFFECTIVE_DATE , @AGENCY_REG_COMM_PRCT )
		END 

		IF @@ERROR <> 0
			GOTO ERRHANDLER
		-- Contra Entry fo Discount 	
		-- Discount Given To Home Employee needs To Be Posted in to  Commission Expense Account
		INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID,SOURCE_EFFECTIVE_DATE,
		TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS,TRAN_TYPE,TRAN_CODE,TRAN_ENTITY,TRAN_DESC,
		DUE_DATE , COMMISSION_PERCENTAGE )
		VALUES ( @COMM_EXPENSE_ACCOUNT, @AGENCY_REG_COMM, @APP_ID, @APP_VERSION_ID
		, @CUSTOMER_ID, @EFFECTIVE_DATE, 'Discount given.', @POLICY_ID, @POLICY_VERSION_ID, 1, 0,@TRAN_TYPE,@TRAN_TYPE_CODE,
		@TRAN_ENTITY,@TRAN_DESC , @EFFECTIVE_DATE, @AGENCY_REG_COMM_PRCT  )
--@TRAN_TYPE Replace By @TRAN_ENTITY For Itrack Issue #6269. 
		IF @@ERROR <> 0
			GOTO ERRHANDLER

	END
	ELSE
	BEGIN

		--Giving agency commission to agency
		--Hence entering an open item in agency
		INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, AGENCY_ID,
		 SOURCE_EFFECTIVE_DATE, TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS, 
		TRAN_CODE, TRAN_TYPE ,TRAN_ENTITY,TRAN_DESC , COMMISSION_PERCENTAGE )
		VALUES ( @COMM_PAYABLE_ACCOUNT, -@AGENCY_REG_COMM, @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @AGENCY_ID, 
		@INSTALLMENT_EFFECTIVE_DATE, 'Commission due.', @POLICY_ID, @POLICY_VERSION_ID, 1, 1, 
		'RINC', 'COM',@AGENCY_NAME,@TRAN_DESC , @AGENCY_REG_COMM_PRCT )

		IF @@ERROR <> 0
			GOTO ERRHANDLER			
			
		--Contra entry for agency commission
		INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, 
		CUSTOMER_ID, AGENCY_ID, SOURCE_EFFECTIVE_DATE, TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, 
		ACCOUNTS, OPEN_ITEMS,TRAN_CODE, TRAN_TYPE ,TRAN_ENTITY,TRAN_DESC , COMMISSION_PERCENTAGE )
		VALUES ( @COMM_EXPENSE_ACCOUNT, @AGENCY_REG_COMM, @APP_ID, @APP_VERSION_ID
		, @CUSTOMER_ID, NULL, @EFFECTIVE_DATE, 'Commission due.', @POLICY_ID, @POLICY_VERSION_ID,
		 1, 0, 'RINC' , 'COM',@AGENCY_NAME,@TRAN_DESC , @AGENCY_REG_COMM_PRCT )


		IF @@ERROR <> 0
			GOTO ERRHANDLER
	
	END
END

-- Grant PIC and Additional Commission if First Term 
DECLARE @SYS_PROPERTY_INS_COMM_APPLICABILITY Int,
		@AGENCY_ADDI_COMM_PRCT Decimal(18,2) ,
		@AGENCY_ADDI_COMM Decimal(18,2) , 
		@COMMISSION_AMOUNT_TYPE Char(1) ,
		@GRANT_COMMISSION   SmallINt , 
		@PROPERTY_INS_COMM_PRCT		Decimal(18,2) ,
		@PROPERTY_INS_COMM			Decimal(18,2) 

SET @COMMISSION_AMOUNT_TYPE = ''
SET @GRANT_COMMISSION  = 0


SELECT  @SYS_PROPERTY_INS_COMM_APPLICABILITY = ISNULL(SYS_PROPERTY_INS_COMM_APPLICABILITY,0) 
FROM MNT_SYSTEM_PARAMS WITH(NOLOCK)

SET @AGENCY_ADDI_COMM_PRCT =0
SET @AGENCY_ADDI_COMM = 0 

SELECT @AGENCY_ADDI_COMM_PRCT = ISNULL(COMMISSION_PERCENT,0) 
FROM ACT_REG_COMM_SETUP WITH(NOLOCK)
	WHERE (STATE_ID = @STATE_ID OR STATE_ID = 0) AND 
		(LOB_ID = @LOB_ID OR LOB_ID = 0) 
		AND (ISNULL(SUB_LOB_ID,0) = ISNULL(@SUBLOB_ID,0)  OR ISNULL(SUB_LOB_ID,0) = 0) 
		AND CLASS_RISK = @COMMISSION_CLASS
		AND @POLICY_EFFECTIVE_DATE BETWEEN EFFECTIVE_FROM_DATE AND EFFECTIVE_TO_DATE
		AND COMMISSION_TYPE = 'A'  
		AND TERM = @PROCESS_TERM
		AND ISNULL(IS_ACTIVE,'Y') = 'Y'
		AND AGENCY_ID = @AGENCY_ID
ORDER BY STATE_ID DESC, LOB_ID DESC, SUB_LOB_ID DESC, CLASS_RISK DESC 

IF(convert(INT,@AGENCY_ADDI_COMM_PRCT) <> 0)
BEGIN
	SELECT @AGENCY_ADDI_COMM = ROUND(((@EFFECTIVE_PREMIUM * @AGENCY_ADDI_COMM_PRCT)/100), 2)
END	

IF(@AGENCY_ADDI_COMM <> 0 AND (@BASE_PROCESS_ID =@NBS OR @BASE_PROCESS_ID =@RENEWAL) ) 
BEGIN
		--Giving agency commission to agency
		--Hence entering an open item in agency
		INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, AGENCY_ID,
		SOURCE_EFFECTIVE_DATE, TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS, 
		TRAN_CODE, TRAN_TYPE ,TRAN_ENTITY,TRAN_DESC , COMMISSION_PERCENTAGE )
		VALUES ( @COMM_PAYABLE_ACCOUNT, -@AGENCY_ADDI_COMM, @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @AGENCY_ID, 
		@INSTALLMENT_EFFECTIVE_DATE, 'Commission due.', @POLICY_ID, @POLICY_VERSION_ID, 1, 1, 
		'ADC', 'COM',@AGENCY_NAME,@TRAN_DESC ,@AGENCY_ADDI_COMM_PRCT )

		IF @@ERROR <> 0
			GOTO ERRHANDLER			

		--Contra entry for agency commission
		INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, 
		CUSTOMER_ID, AGENCY_ID, SOURCE_EFFECTIVE_DATE, TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, 
		ACCOUNTS, OPEN_ITEMS,TRAN_CODE, TRAN_TYPE ,TRAN_ENTITY,TRAN_DESC, COMMISSION_PERCENTAGE )
		VALUES ( @COMM_EXPENSE_ACCOUNT, @AGENCY_ADDI_COMM, @APP_ID, @APP_VERSION_ID
		, @CUSTOMER_ID, NULL, @EFFECTIVE_DATE, 'Commission due.', @POLICY_ID, @POLICY_VERSION_ID,
		1, 0, 'ADC' , 'COM',@AGENCY_NAME,@TRAN_DESC , @AGENCY_ADDI_COMM_PRCT )

		IF @@ERROR <> 0
			GOTO ERRHANDLER
END
--Applying the property inspection credit 
IF (@PROPRTY_INSP_CREDIT = 'Y' AND @BASE_PROCESS_ID = @NBS  ) 
BEGIN
	
	SET @PROPERTY_INS_COMM_PRCT = 0
   	SELECT @PROPERTY_INS_COMM_PRCT = ISNULL(COMMISSION_PERCENT, 0),
		@COMMISSION_AMOUNT_TYPE = ISNULL(AMOUNT_TYPE,'P') 
	FROM ACT_REG_COMM_SETUP WITH(NOLOCK)
	WHERE (STATE_ID = @STATE_ID OR STATE_ID = 0) AND
		(LOB_ID = @LOB_ID OR LOB_ID = 0) 
		AND (ISNULL(SUB_LOB_ID,0) = ISNULL(@SUBLOB_ID,0)  OR ISNULL(SUB_LOB_ID,0) = 0) 
		AND TERM = @PROCESS_TERM  
		AND COMMISSION_TYPE = 'P' 
		AND @POLICY_EFFECTIVE_DATE  BETWEEN EFFECTIVE_FROM_DATE AND EFFECTIVE_TO_DATE 

	IF @@ERROR <> 0
		GOTO ERRHANDLER

	IF(@COMMISSION_AMOUNT_TYPE = 'P')
	BEGIN
		SELECT @PROPERTY_INS_COMM = ROUND(((@TOTAL_PREMIUM_AMOUNT * @PROPERTY_INS_COMM_PRCT)/100), 2)
		SET @GRANT_COMMISSION  = 1
	END
	ELSE IF(@COMMISSION_AMOUNT_TYPE = 'F')
	BEGIN
		SET @PROPERTY_INS_COMM = @PROPERTY_INS_COMM_PRCT
		IF ISNULL(@IS_SAME_POLICY,'N') <> 'Y'
			SET @GRANT_COMMISSION = 1
	END

	IF @@ERROR <> 0
		GOTO ERRHANDLER
	
	IF @GRANT_COMMISSION = 1 AND @PROPERTY_INS_COMM <> 0 
	BEGIN
		--Giving agency commission to agency
		--Hence entering an open item in agency
		INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, CUSTOMER_ID, AGENCY_ID,
		SOURCE_EFFECTIVE_DATE, TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, ACCOUNTS, OPEN_ITEMS, 
		TRAN_CODE, TRAN_TYPE ,TRAN_ENTITY,TRAN_DESC , COMMISSION_PERCENTAGE )
		VALUES ( @COMM_PAYABLE_ACCOUNT, -@PROPERTY_INS_COMM, @APP_ID, @APP_VERSION_ID, @CUSTOMER_ID, @AGENCY_ID, 
		@INSTALLMENT_EFFECTIVE_DATE, 'Commission due.', @POLICY_ID, @POLICY_VERSION_ID, 1, 1, 
		'PIC', 'COM',@AGENCY_NAME,@TRAN_DESC ,@PROPERTY_INS_COMM_PRCT )

		IF @@ERROR <> 0
			GOTO ERRHANDLER			

		--Contra entry for agency commission
		INSERT INTO #TMP_POST(ACCOUNT_ID, AMT, APP_ID, APP_VERSION_ID, 
		CUSTOMER_ID, AGENCY_ID, SOURCE_EFFECTIVE_DATE, TRANS_DESC, POLICY_ID, POLICY_VERSION_ID, 
		ACCOUNTS, OPEN_ITEMS,TRAN_CODE, TRAN_TYPE ,TRAN_ENTITY,TRAN_DESC, COMMISSION_PERCENTAGE )
		VALUES ( @COMM_EXPENSE_ACCOUNT, @PROPERTY_INS_COMM, @APP_ID, @APP_VERSION_ID
		, @CUSTOMER_ID, NULL, @EFFECTIVE_DATE, 'Commission due.', @POLICY_ID, @POLICY_VERSION_ID,
		1, 0, 'PIC' , 'COM',@AGENCY_NAME,@TRAN_DESC , @PROPERTY_INS_COMM_PRCT )

		IF @@ERROR <> 0
			GOTO ERRHANDLER
	END
END

-- Additional and PIC processing ends here


--Added By Ravindra(08-08-2007) For creating a record in ACT_PREMIUM_PROCESS_SUB_DETAILS
--for each risk 
IF @@ERROR <> 0
	GOTO ERRHANDLER	
--Added By Ravindra(08-02-2007) End here

--Customer Open Item Posting
INSERT INTO ACT_CUSTOMER_OPEN_ITEMS
(
	UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
	POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_COMM_APPLIES, AGENCY_COMM_PERC, 
	AGENCY_COMM_AMT, AGENCY_ID, 
	CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE, 
	PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL, BILL_CODE, GROSS_AMOUNT, 
	ITEM_TRAN_CODE,
	ITEM_TRAN_CODE_TYPE,
	 TRAN_ID, CASH_ACCOUNTING, RECUR_JOURNAL_VERSION, JE_RECON_COUNTER, 
	AMT_IN_RECON, OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, TRANS_DESC, ITEM_STATUS,
	INSTALLMENT_ROW_ID, NET_PREMIUM,RISK_ID,RISK_TYPE  , DUE_DATE , SWEEP_DATE
)	
SELECT 
	'P', @SOURCE_ROW_ID, @SOURCE_ROW_ID, @EFFECTIVE_DATE , SOURCE_EFFECTIVE_DATE,
	GETDATE(),TP.AMT, 0, CASE @IS_HOME_EMP WHEN 'Y' THEN 'N' ELSE 'Y' END, TP.COMMISSION_PERCENTAGE , 
	@AGENCY_REG_COMM, PCL.AGENCY_ID,
	PCL.CUSTOMER_ID, TP.POLICY_ID, TP.POLICY_VERSION_ID, NULL, NULL, 1, NULL,
	'CUS', PCL.DIV_ID, PCL.DEPT_ID, PCL.PC_ID, NULL, NULL, @IS_PREBILL, @BILL_TYPE, @TOTAL_PREMIUM_AMOUNT,
	TRAN_CODE, 
	TRAN_TYPE,
	NULL, NULL, NULL, NULL, 
	NULL, NULL, PCL.POLICY_LOB, PCL.POLICY_SUBLOB, PCL.COUNTRY_ID, PCL.STATE_ID, TP.TRANS_DESC, 'DP',
	TP.INSTALLMENT_ROW_ID, @EFFECTIVE_PREMIUM ,@RISK_ID,@RISK_TYPE,TP.DUE_DATE , TP.DUE_DATE
FROM 
	#TMP_POST TP WITH (NOLOCK) 
INNER JOIN POL_CUSTOMER_POLICY_LIST PCL WITH (NOLOCK)ON 
	PCL.POLICY_ID = TP.POLICY_ID AND PCL.POLICY_VERSION_ID = TP.POLICY_VERSION_ID AND PCL.CUSTOMER_ID = TP.CUSTOMER_ID
WHERE 
	PCL.POLICY_ID = @POLICY_ID  AND  PCL.POLICY_VERSION_ID = @POLICY_VERSION_ID AND PCL.CUSTOMER_ID = @CUSTOMER_ID 
	AND ISNULL(TP.AGENCY_ID, 0) = 0 AND TP.OPEN_ITEMS = 1 AND ISNULL(TP.AMT,0) <> 0


IF @@ERROR <> 0
	GOTO ERRHANDLER	


--Agency Open Item Posting
INSERT INTO ACT_AGENCY_OPEN_ITEMS
(
	UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
	POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_COMM_APPLIES, AGENCY_COMM_PERC, 
	AGENCY_COMM_AMT, AGENCY_ID, 
	CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE, 
	PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL, BILL_CODE, GROSS_AMOUNT, 
	ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, CASH_ACCOUNTING, RECUR_JOURNAL_VERSION, JE_RECON_COUNTER, 
	AMT_IN_RECON, OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, TRANS_DESC, NET_PREMIUM , 
	RISK_ID , RISK_TYPE
)	
SELECT 
	'P', @SOURCE_ROW_ID, @SOURCE_ROW_ID, @EFFECTIVE_DATE , @EFFECTIVE_DATE ,
	GETDATE(), TP.AMT, 0, CASE @IS_HOME_EMP WHEN 'Y' THEN 'N' ELSE 'Y' END, TP.COMMISSION_PERCENTAGE, 
	@AGENCY_REG_COMM, PCL.AGENCY_ID,
	PCL.CUSTOMER_ID, TP.POLICY_ID, TP.POLICY_VERSION_ID, NULL, NULL, 1, NULL,
	'AGN', PCL.DIV_ID, PCL.DEPT_ID, PCL.PC_ID, NULL, NULL, @IS_PREBILL, @BILL_TYPE, @TOTAL_PREMIUM_AMOUNT,
	TP.TRAN_CODE, TP.TRAN_TYPE, NULL, NULL, NULL, NULL, 
	NULL, NULL, PCL.POLICY_LOB, PCL.POLICY_SUBLOB, PCL.COUNTRY_ID, PCL.STATE_ID, TP.TRANS_DESC, @EFFECTIVE_PREMIUM , 
	@RISK_ID , @RISK_TYPE
FROM #TMP_POST TP WITH(NOLOCK) 
LEFT JOIN POL_CUSTOMER_POLICY_LIST PCL WITH(NOLOCK)ON 
	PCL.POLICY_ID = TP.POLICY_ID AND PCL.POLICY_VERSION_ID = TP.POLICY_VERSION_ID AND PCL.CUSTOMER_ID = TP.CUSTOMER_ID
WHERE 
	PCL.POLICY_ID = @POLICY_ID  AND  PCL.POLICY_VERSION_ID = @POLICY_VERSION_ID AND PCL.CUSTOMER_ID = @CUSTOMER_ID
	AND @IS_HOME_EMP = 'N' AND ISNULL(TP.AGENCY_ID,0) = @AGENCY_ID AND TP.OPEN_ITEMS = 1 
	AND ISNULL(TP.AMT,0) <> 0


IF @@ERROR <> 0
	GOTO ERRHANDLER	


IF(@BILL_TYPE <> 'AB')	
BEGIN 
	IF (ISNULL( @INSTALL_PLAN_ID ,0) = @FULL_PAY_PLAN  	)
	BEGIN 
		EXEC Proc_ReconcileDiscountItems @CUSTOMER_ID , @POLICY_ID , @POLICY_VERSION_ID , @RISK_ID , @RISK_TYPE , 'Y'
		IF @@ERROR <> 0
			GOTO ERRHANDLER
	END
	ELSE
	BEGIN 
		EXEC Proc_ReconcileDiscountItems @CUSTOMER_ID , @POLICY_ID , @POLICY_VERSION_ID , @RISK_ID , @RISK_TYPE , 'N'
		IF @@ERROR <> 0
			GOTO ERRHANDLER
	END
END

--Inserting the record into ACT_ACCOUNTS_POSTING_DETAILS
INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS
(
	ACCOUNT_ID, UPDATED_FROM, 
		SUBLEDGER_TYPE, 
	SOURCE_ROW_ID,
	MAPPING_SUBLEDGER_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, 
	POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_COMM_PERC, AGENCY_COMM_AMT,
	AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID,
	PC_ID, IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE,
	TRAN_ID, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID, TAX_ID, ADNL_INFO,
	IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION, IN_BNK_RECON, IS_BALANCE_UPDATED,
	COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME, COMMISSION_TYPE
	,TRAN_ENTITY,TRAN_DESC

)
SELECT 
	TP.ACCOUNT_ID, 'P', 
		CASE TP.OPEN_ITEMS WHEN '1' THEN
					CASE 
						WHEN ISNULL(TP.AGENCY_ID, 0) = 0  THEN 'CUS'
						WHEN ISNULL(TP.AGENCY_ID, 0) <> 0 THEN 'AGN'
					END 
				ELSE NULL END, 
	@SOURCE_ROW_ID, 
	NULL, @SOURCE_ROW_ID, @EFFECTIVE_DATE, @EFFECTIVE_DATE,
	GETDATE(), SUM(TP.AMT), NULL, NULL, 
	PCL.AGENCY_ID, PCL.CUSTOMER_ID, @POLICY_ID, @POLICY_VERSION_ID, PCL.DIV_ID, PCL.DEPT_ID,
	PCL.PC_ID, @IS_PREBILL, @BILL_TYPE, SUM(TP.AMT), TP.TRAN_CODE, TP.TRAN_TYPE,
	NULL,  PCL.POLICY_LOB, PCL.POLICY_SUBLOB, COUNTRY_ID, STATE_ID, NULL, NULL, NULL,
	NULL, NULL, NULL, NULL,
	@USER_ID, @USER_CODE, @USER_NAME, NULL,
	TP.TRAN_ENTITY ,TP.TRAN_DESC				
FROM #TMP_POST  TP WITH(NOLOCK) 
LEFT JOIN POL_CUSTOMER_POLICY_LIST PCL WITH(NOLOCK)ON 
	PCL.POLICY_ID = TP.POLICY_ID AND PCL.POLICY_VERSION_ID = TP.POLICY_VERSION_ID AND PCL.CUSTOMER_ID = @CUSTOMER_ID
WHERE TP.ACCOUNTS = 1
	AND ISNULL(TP.AMT,0) <> 0
GROUP BY 
	TP.ACCOUNT_ID, PCL.APP_EFFECTIVE_DATE,
	PCL.AGENCY_ID, PCL.CUSTOMER_ID, PCL.DIV_ID, PCL.DEPT_ID,
	PCL.PC_ID, PCL.POLICY_LOB, PCL.POLICY_SUBLOB, COUNTRY_ID, STATE_ID, TP.AGENCY_ID, TP.OPEN_ITEMS
	,TP.TRAN_ENTITY ,TP.TRAN_DESC	, TP.TRAN_CODE, TP.TRAN_TYPE			




IF @@ERROR <> 0
	GOTO ERRHANDLER	

--Ravindra(10-17-2008) : Move to Business layer should be reconcilled after open items for 
-- Reconcile any negative item pending from previous version even if it is due in future
--EXEC Proc_ReconCustomerOpenItem @POLICY_EXPIRATION_DATE, @USER_ID,@CUSTOMER_ID,@POLICY_ID  , 0 , 12 


--Droping the temp table
DROP TABLE #TMP_POST 
SET @RETVAL = 1
RETURN 1
ERRHANDLER:
	SET @RETVAL =-1
	RETURN -1

END

--go 
--DECLARE @R Int , @POLICY_EXPIRATION_DATE Datetime
----
----exec Proc_DistributeReinstatementPremium 1870, 13, 3, 1125 , 73 , '2009-8-12',25,9602,1,'PP','N',3,1312,80 ,
----@R out , @POLICY_EXPIRATION_DATE out 
--
--exec Proc_DistributeReinstatementPremium 1924, 14, 3, 95 , 0.0 , '2009-6-9',14,10000,1,'E','N',58,100.00,0.0 ,
--@R out , @POLICY_EXPIRATION_DATE out 
--
--SELECT D.SOURCE_ROW_ID,M.ACC_DESCRIPTION,D.TRANSACTION_AMOUNT ,D.TRAN_ENTITY,D.TRAN_DESC,
--D.ITEM_TRAN_CODE_TYPE,D.ITEM_TRAN_CODE,D.* 
--FROM ACT_ACCOUNTS_POSTING_DETAILS D WITH(NOLOCK)
--INNER JOIN ACT_GL_ACCOUNTS M ON D.ACCOUNT_ID = M.ACCOUNT_ID 
--WHERE CUSTOMER_ID= 1870
--AND POLICY_ID= 13
----WHERE D.POSTING_DATE > '2007-6-30'
--ORDER BY D.IDENTITY_ROW_ID 
--
--SELECT A.IDEN_ROW_ID, A.POLICY_VERSION_ID AS VER ,A.RISK_ID , A.TRANS_DESC,A.TOTAL_DUE,A.TOTAL_PAID,
--A.PROCESSED_AMOUNT_FOR_AGENCY,A.DUE_DATE,A.ITEM_TRAN_CODE_TYPE,A.ITEM_TRAN_CODE,A.PROCESSED_AMOUNT_FOR_AGENCY, A.NET_PREMIUM, A.GROSS_AMOUNT,
--ISNULL(B.INSTALLMENT_NO,50) INS_NO,B.INSTALLMENT_NO	 AS INS_NO,B.RELEASED_STATUS,A.RISK_ID,A.RISK_TYPE,
--A.* FROM ACT_CUSTOMER_OPEN_ITEMS A WITH(NOLOCK)
--left JOIN ACT_POLICY_INSTALLMENT_DETAILS B WITH(NOLOCK) ON A.INSTALLMENT_ROW_ID  = B.ROW_ID
--LEFT JOIN MNT_LOOKUP_VALUES MNT ON 
--B.PAYMENT_MODE = MNT.LOOKUP_UNIQUE_ID 
--WHERE A.CUSTOMER_ID= 1870 AND A.POLICY_ID = 13 AND ITEM_TRAN_CODE_TYPE = 'PREM' --AND A.SOURCE_ROW_ID = 79
--ORDER BY ISNULL(B.CURRENT_TERM,50),ISNULL(B.INSTALLMENT_NO,50) ,
--A.IDEN_ROW_ID ,A.SOURCE_EFF_DATE,A.UPDATED_FROM
----
--rollback tran

























GO

