IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_ActivateDeactvateUmbrellaFarm]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_ActivateDeactvateUmbrellaFarm]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE Proc_ActivateDeactvateUmbrellaFarm  
(  
 @CUSTOMER_ID  INT,  
 @APP_ID   INT,  
 @APP_VERSION_ID INT,  
 @FARM_ID INT,  
 @STATUS   CHAR(1)  
)  
AS  
BEGIN  
 UPDATE APP_UMBRELLA_FARM_INFO
  
 SET IS_ACTIVE = @STATUS  
 WHERE CUSTOMER_ID = @CUSTOMER_ID AND  
  APP_ID = @APP_ID AND  
  APP_VERSION_ID = @APP_VERSION_ID AND  
  FARM_ID = @FARM_ID   
END  
  



GO

