IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_DELETE_POL_PRODUCT_LOCATION_INFO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_DELETE_POL_PRODUCT_LOCATION_INFO]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


 /*----------------------------------------------------------                
Proc Name       : dbo.PROC_DELETE_POL_PRODUCT_LOCATION_INFO        
Created by      : Lalit Chauhan    
Date            : 04/26/2010                
Purpose         :To Delete records from POL_PRODUCT_LOCATION_INFO Table.                
Revison History :                
Used In        : Ebix Advantage                
------------------------------------------------------------                
Date     Review By          Comments                
------   ------------       -------------------------*/                
--DROP PROC dbo.PROC_DELETE_POL_PRODUCT_LOCATION_INFO   
/****** Script for PROC_DELETE_POL_PRODUCT_LOCATION_INFO into DATABASE  ******/      
  
CREATE PROC [dbo].[PROC_DELETE_POL_PRODUCT_LOCATION_INFO]  
(  
@CUSTOMER_ID INT,  
@POLICY_ID INT,  
@POLICY_VERSION_ID SMALLINT,  
@PRODUCT_RISK_ID INT,  
@LOCATION_ID INT,  
@CONFIRMVALUE INT  
)  
AS  
BEGIN  
IF @CONFIRMVALUE <> '' AND @CONFIRMVALUE =6 --Yes (6) will remove it in both places Policy Location and Risk Location  
 BEGIN  
  DELETE FROM POL_PRODUCT_LOCATION_INFO WHERE PRODUCT_RISK_ID=@PRODUCT_RISK_ID AND CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  
  DELETE FROM POL_LOCATIONS WHERE LOCATION_ID=@LOCATION_ID AND CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  
  
  DELETE FROM POL_PROTECTIVE_DEVICES  WHERE  CUSTOMER_ID =@CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND  POLICY_VERSION_ID=@POLICY_VERSION_ID  AND LOCATION_ID=@LOCATION_ID  
  DELETE FROM POL_DISCOUNT_SURCHARGE  WHERE  CUSTOMER_ID =@CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND  POLICY_VERSION_ID=@POLICY_VERSION_ID AND RISK_ID=@PRODUCT_RISK_ID   
  
  DELETE FROM POL_PRODUCT_COVERAGES  WHERE  CUSTOMER_ID =@CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND  POLICY_VERSION_ID=@POLICY_VERSION_ID  AND RISK_ID=@PRODUCT_RISK_ID 
    
  RETURN 6  
 END  
ELSE IF @CONFIRMVALUE <> '' AND @CONFIRMVALUE =7--No(7) will just remove it from risk level and make it available in the drop down Locations field for a selection again under Location Information tab   
 BEGIN  
  DELETE FROM POL_PRODUCT_LOCATION_INFO WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID AND PRODUCT_RISK_ID=@PRODUCT_RISK_ID
  
  if NOT EXISTS(SELECT LOCATION_ID FROM POL_LOCATIONS WHERE LOCATION_ID=@LOCATION_ID AND CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  )
	BEGIN
	 DELETE FROM POL_PROTECTIVE_DEVICES  WHERE  CUSTOMER_ID =@CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND  POLICY_VERSION_ID=@POLICY_VERSION_ID AND RISK_ID=@PRODUCT_RISK_ID  AND LOCATION_ID=@LOCATION_ID  
    END
  
  DELETE FROM POL_DISCOUNT_SURCHARGE  WHERE  CUSTOMER_ID =@CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND  POLICY_VERSION_ID=@POLICY_VERSION_ID AND RISK_ID=@PRODUCT_RISK_ID   

  DELETE FROM POL_PRODUCT_COVERAGES  WHERE  CUSTOMER_ID =@CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND  POLICY_VERSION_ID=@POLICY_VERSION_ID  AND RISK_ID=@PRODUCT_RISK_ID   
  
  RETURN 7  
 END  
ELSE  
 RETURN-1  
END  
  

GO

