IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetTierForUnderWriterRenewal]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetTierForUnderWriterRenewal]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran
--	DROP PROC dbo.Proc_GetTierForUnderWriterRenewal
--GO
CREATE  PROC dbo.Proc_GetTierForUnderWriterRenewal
(
 @CUSTOMER_ID INT,
 @POLICY_ID INT,
 @POLICY_VERSION_ID INT
)
AS
BEGIN
	--CHECK LAST CALCULATION DATE
	--IF NULL --CALCULATE
	--IF (UW DATE + 36 MONTHS) >= POL EFFECTIVE DATE THEN CALCULATE
	--ELSE DO NOT CALCULATE

	IF EXISTS(SELECT 1 FROM 
		POL_CUSTOMER_POLICY_LIST with(nolock)
		WHERE CUSTOMER_ID = @CUSTOMER_ID 
		AND  POLICY_ID = @POLICY_ID 
		AND POLICY_VERSION_ID = @POLICY_VERSION_ID
		AND POLICY_LOB = '2'
		AND STATE_ID =14)
	BEGIN
	
		DECLARE @UW_DATE DATETIME	
		DECLARE @POL_EFFECTIVE_DATE DATETIME
		DECLARE @CALCULATE_TIER int

		DECLARE @UREWRITE	INT  
		SET @UREWRITE = 31

		DECLARE @URENEW INT
		SET @URENEW = 5


			SELECT @POL_EFFECTIVE_DATE = APP_EFFECTIVE_DATE FROM 
			POL_CUSTOMER_POLICY_LIST WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID 
			AND POLICY_ID = @POLICY_ID 
			AND POLICY_VERSION_ID = @POLICY_VERSION_ID


			IF EXISTS (SELECT 1 FROM POL_UNDERWRITING_TIER WITH (NOLOCK)
			WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID)
			BEGIN
				SELECT @UW_DATE = UNTIER_ASSIGNED_DATE FROM POL_UNDERWRITING_TIER WITH (NOLOCK)
				WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID		
			END	

			--IF LAST CALCULATION DATE + 36 MONTHS > THEN POL EFFECTIVE DATE --CALCULTE TIER
			IF(@UW_DATE IS NULL)
			BEGIN
				SET @CALCULATE_TIER =1
			END
			ELSE
			BEGIN
				SET @UW_DATE  = DATEADD(MONTH, 36, @UW_DATE)
				IF(DATEDIFF(DD,@UW_DATE,@POL_EFFECTIVE_DATE)>=0) ---Update when exceeds 36 months 
				BEGIN
					SET @CALCULATE_TIER =1
				END
				ELSE	
				BEGIN
					SET @CALCULATE_TIER =0		
				END	
			END
	END
	ELSE
	BEGIN
		SET @CALCULATE_TIER =0
	END
		
	RETURN @CALCULATE_TIER

END

--select datediff(dd,'7/5/2013','07/05/2010')
--go
--
--exec Proc_GetTierForUnderWriterRenewal 2030,3,2
--
--rollback tran









GO

