IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_FetchTrailerDedID]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_FetchTrailerDedID]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*                
PROC NAME       : dbo.Proc_FetchTrailerDedID                    
CREATED BY      : ASFA PRAVEEN                    
DATE            : 02/JULY/2007                    
PURPOSE         : RETRIEVING Trailer_Deductible_ID FROM MNT_COVERAGE_RANGES FOR TRAILER DEDUCTIBLE ID FIELD                     
REVISON HISTORY :                    
USED IN         : WOLVERINE             
    
*/                  
--DROP PROC dbo.Proc_FetchTrailerDedID                    
CREATE PROC dbo.Proc_FetchTrailerDedID         
 @EFFECTIVE_DATE DATETIME,                                                                                
 @TRALIER_DED    DECIMAL,    
 @STATE_NAME  NVARCHAR(200),  
 @BOATTYPE_CODE  NVARCHAR(100)  
AS                    
          
DECLARE @STATEID            NVARCHAR(100)          
DECLARE @EFFECTIVETODATE  NVARCHAR(100)     
    
SELECT @STATEID=STATE_ID FROM MNT_COUNTRY_STATE_LIST     
 WHERE STATE_NAME=@STATE_NAME    
  
/*  
LOOKUP_UNIQUE_ID LOOKUP_VALUE_CODE LOOKUP_VALUE_DESC  
11387   PWT   Jetski (w/Lift Bar)  
11390   JS   Jet Ski  
11445   JT   JetSki Trailer  
*/  
IF (@STATEID=14)
BEGIN
IF (@BOATTYPE_CODE = 'PWT' OR @BOATTYPE_CODE = 'JS' OR @BOATTYPE_CODE = 'JT')    
  BEGIN    
 SELECT LIMIT_DEDUC_ID       
 FROM MNT_COVERAGE_RANGES         
 WHERE COV_ID=(SELECT COV_ID FROM MNT_COVERAGE WHERE COV_CODE='BDEDUC' AND STATE_ID=@STATEID)    
 AND LIMIT_DEDUC_AMOUNT= @TRALIER_DED AND LIMIT_DEDUC_ID IN (1433,1436)    
  END    
ELSE    
  BEGIN        
 SELECT TOP 1 @EFFECTIVETODATE = EFFECTIVE_TO_DATE FROM MNT_COVERAGE_RANGES          
 WHERE COV_ID=(SELECT COV_ID FROM MNT_COVERAGE WHERE COV_CODE='BDEDUC' AND STATE_ID=@STATEID)          
    
 IF (DATEDIFF(DAY,@EFFECTIVE_DATE,@EFFECTIVETODATE)>0)          
  BEGIN          
   SELECT  LIMIT_DEDUC_ID FROM MNT_COVERAGE_RANGES           
    WHERE COV_ID=(SELECT COV_ID FROM MNT_COVERAGE WHERE COV_CODE='BDEDUC' AND STATE_ID=@STATEID)          
    AND EFFECTIVE_TO_DATE > @EFFECTIVE_DATE  AND  LIMIT_DEDUC_AMOUNT= @TRALIER_DED   
    AND LIMIT_DEDUC_ID NOT IN (1433,1436)                   
  END          
 ELSE          
  BEGIN          
   SELECT LIMIT_DEDUC_ID FROM MNT_COVERAGE_RANGES           
    WHERE COV_ID=(SELECT COV_ID FROM MNT_COVERAGE WHERE COV_CODE='BDEDUC' AND STATE_ID=@STATEID)          
    AND EFFECTIVE_TO_DATE IS  NULL AND  LIMIT_DEDUC_AMOUNT= @TRALIER_DED 
    AND LIMIT_DEDUC_ID NOT IN (1433,1436)                         
  END          
  END  
END   
ELSE IF (@STATEID=22)
BEGIN
IF (@BOATTYPE_CODE = 'PWT' OR @BOATTYPE_CODE = 'JS' OR @BOATTYPE_CODE = 'JT')    
  BEGIN    
 SELECT LIMIT_DEDUC_ID       
 FROM MNT_COVERAGE_RANGES         
 WHERE COV_ID=(SELECT COV_ID FROM MNT_COVERAGE WHERE COV_CODE='BDEDUC' AND STATE_ID=@STATEID)    
 AND LIMIT_DEDUC_AMOUNT= @TRALIER_DED AND LIMIT_DEDUC_ID IN (1434,1437)    
  END    
ELSE    
  BEGIN        
 SELECT TOP 1 @EFFECTIVETODATE = EFFECTIVE_TO_DATE FROM MNT_COVERAGE_RANGES          
 WHERE COV_ID=(SELECT COV_ID FROM MNT_COVERAGE WHERE COV_CODE='BDEDUC' AND STATE_ID=@STATEID)          
    
 IF (DATEDIFF(DAY,@EFFECTIVE_DATE,@EFFECTIVETODATE)>0)          
  BEGIN          
   SELECT  LIMIT_DEDUC_ID FROM MNT_COVERAGE_RANGES           
    WHERE COV_ID=(SELECT COV_ID FROM MNT_COVERAGE WHERE COV_CODE='BDEDUC' AND STATE_ID=@STATEID)          
    AND EFFECTIVE_TO_DATE > @EFFECTIVE_DATE  AND  LIMIT_DEDUC_AMOUNT= @TRALIER_DED 
    AND LIMIT_DEDUC_ID NOT IN (1434,1437)            
  END          
 ELSE          
  BEGIN          
   SELECT LIMIT_DEDUC_ID FROM MNT_COVERAGE_RANGES           
    WHERE COV_ID=(SELECT COV_ID FROM MNT_COVERAGE WHERE COV_CODE='BDEDUC' AND STATE_ID=@STATEID)          
    AND EFFECTIVE_TO_DATE IS  NULL AND  LIMIT_DEDUC_AMOUNT= @TRALIER_DED  
    AND LIMIT_DEDUC_ID NOT IN (1434,1437)                
  END          
  END  
END          
ELSE IF (@STATEID=49)
BEGIN
IF (@BOATTYPE_CODE = 'PWT' OR @BOATTYPE_CODE = 'JS' OR @BOATTYPE_CODE = 'JT')    
  BEGIN    
 SELECT LIMIT_DEDUC_ID       
 FROM MNT_COVERAGE_RANGES         
 WHERE COV_ID=(SELECT COV_ID FROM MNT_COVERAGE WHERE COV_CODE='BDEDUC' AND STATE_ID=@STATEID)    
 AND LIMIT_DEDUC_AMOUNT= @TRALIER_DED AND LIMIT_DEDUC_ID IN (1435,1438)    
  END    
ELSE    
  BEGIN        
 SELECT TOP 1 @EFFECTIVETODATE = EFFECTIVE_TO_DATE FROM MNT_COVERAGE_RANGES          
 WHERE COV_ID=(SELECT COV_ID FROM MNT_COVERAGE WHERE COV_CODE='BDEDUC' AND STATE_ID=@STATEID)          
    
 IF (DATEDIFF(DAY,@EFFECTIVE_DATE,@EFFECTIVETODATE)>0)          
  BEGIN          
   SELECT  LIMIT_DEDUC_ID FROM MNT_COVERAGE_RANGES           
    WHERE COV_ID=(SELECT COV_ID FROM MNT_COVERAGE WHERE COV_CODE='BDEDUC' AND STATE_ID=@STATEID)          
    AND EFFECTIVE_TO_DATE > @EFFECTIVE_DATE  AND  LIMIT_DEDUC_AMOUNT= @TRALIER_DED  
    AND LIMIT_DEDUC_ID NOT IN (1435,1438)        
  END          
 ELSE          
  BEGIN          
   SELECT LIMIT_DEDUC_ID FROM MNT_COVERAGE_RANGES           
    WHERE COV_ID=(SELECT COV_ID FROM MNT_COVERAGE WHERE COV_CODE='BDEDUC' AND STATE_ID=@STATEID)          
    AND EFFECTIVE_TO_DATE IS  NULL AND  LIMIT_DEDUC_AMOUNT= @TRALIER_DED          
    AND LIMIT_DEDUC_ID NOT IN (1435,1438)        
  END          
  END  
END         
      
    
    
  
  



GO

