IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_getUserforDiary]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_getUserforDiary]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

 --drop proc Proc_getUserforDiary   
create proc [dbo].[Proc_getUserforDiary]   
  
AS BEGIN
    DECLARE
     @CARRIER_CODE nvarchar(10) 
      --Added by praveer panghal on 26-Aug-2010 for Itrack 296 
SELECT  @CARRIER_CODE=ISNULL(REIN.REIN_COMAPANY_CODE,'') FROM MNT_SYSTEM_PARAMS SYSP WITH(NOLOCK)         
INNER JOIN MNT_REIN_COMAPANY_LIST REIN WITH(NOLOCK) ON REIN.REIN_COMAPANY_ID = SYSP.SYS_CARRIER_ID  

SELECT DISTINCT USER_ID,isnull(USER_FNAME,'') + ' ' + isnull(USER_LNAME,'') USER_NAME,  
USER_TYPE_DESC,MUT.USER_TYPE_CODE   
FROM MNT_USER_LIST MUL INNER JOIN MNT_USER_TYPES MUT ON MUL.USER_TYPE_ID=MUT.USER_TYPE_ID  
WHERE MUL.IS_ACTIVE='Y' AND USER_SYSTEM_ID=@CARRIER_CODE  
ORDER BY   
--USER_TYPE_DESC,  
ISNULL(USER_FNAME,'') + ' ' + ISNULL(USER_LNAME,'') ASC   
end  
  
  
GO

