IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_ValidateUTL_RECEIVED_XML_LIST]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_ValidateUTL_RECEIVED_XML_LIST]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



CREATE  PROCEDURE Proc_ValidateUTL_RECEIVED_XML_LIST
(
	@RECEIVING_ID		int
)
AS
BEGIN
	update 	UTL_RECEIVED_XML_LIST 
	set 	IS_VALID = 1
	where	RECEIVING_ID = @RECEIVING_ID

END




GO

