IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetBoletoReprintInstalmentsDetails]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetBoletoReprintInstalmentsDetails]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- =============================================            
-- Author	  : Pradeep Kushwaha
-- Create date: 08-Nov-2010        
-- Description: Get Policy Premium Installment breakup details for Boleto reprint   
-- DROP PROC Proc_GetBoletoReprintInstalmentsDetails  2043,573,2    
-- =============================================   
         
CREATE Proc [dbo].[Proc_GetBoletoReprintInstalmentsDetails]
(          
@CUSTOMER_ID INT,          
@POLICY_ID INT,          
@POLICY_VERSION_ID SMALLINT    
  
)          
AS           
BEGIN  
  
 SELECT    
          INSTALL_DETAILS.CUSTOMER_ID AS CUSTOMER_ID,  
          INSTALL_DETAILS.POLICY_ID AS POLICY_ID,  
          INSTALL_DETAILS.POLICY_VERSION_ID AS POLICY_VERSION_ID,  
     INSTALL_DETAILS.INSTALLMENT_NO AS INSTALLMENT_NO,       
     PLAN_DATA.PLAN_ID AS PLAN_ID,      
     PLAN_DATA.TRAN_TYPE AS TRAN_TYPE,  
      ENDO_NO = CASE    
     WHEN PLAN_DATA.TRAN_TYPE = 'END'  
     THEN   
    (ISNULL(CONVERT(NVARCHAR(5),ENDO.ENDORSEMENT_NO),'')+ '.0')   
    ELSE       
    CONVERT(NVARCHAR(5),ENDO.ENDORSEMENT_NO)  
     END   
     ,
     INSTALL_DETAILS.INSTALLMENT_EFFECTIVE_DATE AS INSTALLMENT_EFFECTIVE_DATE,   
     INSTALL_DETAILS.INSTALLMENT_AMOUNT AS INSTALLMENT_AMOUNT,          
     INSTALL_DETAILS.INTEREST_AMOUNT AS INTEREST_AMOUNT,          
     INSTALL_DETAILS.FEE AS FEE,          
     INSTALL_DETAILS.TAXES AS TAXES,      
     INSTALL_DETAILS.TOTAL AS TOTAL,
     INSTALL_DETAILS.TRAN_INTEREST_AMOUNT AS TRAN_INTEREST_AMOUNT ,
     INSTALL_DETAILS.TRAN_FEE AS TRAN_FEE,
     INSTALL_DETAILS.TRAN_PREMIUM_AMOUNT AS TRAN_PREMIUM_AMOUNT,
     INSTALL_DETAILS.TRAN_TAXES AS TRAN_TAXES,
     INSTALL_DETAILS.TRAN_TOTAL AS TRAN_TOTAL,
     PLAN_DATA.TOTAL_CHANGE_INFORCE_PRM ,     
     PLAN_DATA.TOTAL_INFO_PRM,       
     PLAN_DATA.PRM_DIST_TYPE,  
     PLAN_DATA.TOTAL_PREMIUM AS TOTAL_PREMIUM,               
     PLAN_DATA.TOTAL_TRAN_PREMIUM AS TOTAL_TRAN_PREMIUM,   
     PLAN_DATA.TOTAL_INTEREST_AMOUNT AS TOTAL_INTEREST_AMOUNT,  
     PLAN_DATA.TOTAL_TRAN_INTEREST_AMOUNT AS TOTAL_TRAN_INTEREST_AMOUNT,     
     PLAN_DATA.TOTAL_FEES AS TOTAL_FEES,        
     PLAN_DATA.TOTAL_TRAN_FEES AS TOTAL_TRAN_FEES,       
     PLAN_DATA.TOTAL_TAXES AS TOTAL_TAXES,          
     PLAN_DATA.TOTAL_TRAN_TAXES AS TOTAL_TRAN_TAXES,    
     PLAN_DATA.TOTAL_AMOUNT AS TOTAL_AMOUNT,  
     PLAN_DATA.TOTAL_TRAN_AMOUNT AS TOTAL_TRAN_AMOUNT,    
     PLAN_DATA.TOTAL_STATE_FEES AS TOTAL_STATE_FEES,    
     PLAN_DATA.TOTAL_TRAN_STATE_FEES AS TOTAL_TRAN_STATE_FEES,    
     PLAN_DATA.MODE_OF_PAYMENT AS MODE_OF_PAYMENT ,  
     PLAN_DATA.MODE_OF_DOWN_PAYMENT AS MODE_OF_DOWN_PAYMENT,  
     INSTALL_DETAILS.RELEASED_STATUS AS  RELEASED_STATUS,    
     INSTALL_DETAILS.CURRENT_TERM AS CURRENT_TERM,  
     (CLT_APPLICANT_LIST.FIRST_NAME +' '+ CLT_APPLICANT_LIST.LAST_NAME ) AS CO_APPLICANT_NAME,  
     INSTALL_DETAILS.ROW_ID AS ROW_ID,  
     INSTALL_DETAILS.CO_APPLICANT_ID AS CO_APPLICANT_ID,
     INSTALL_DETAILS.BOLETO_NO AS BOLETO_NO,
     INSTALL_DETAILS.INSTALLMENT_EXPIRE_DATE AS INSTALLMENT_EXPIRE_DATE,
 
     ISNULL(PROCESS.COMPLETED_DATETIME, POL.POLICY_EFFECTIVE_DATE) AS END_EFFECTIVE_DATE,-- Modified by Pradeep on 03-Oct-2011 as per the itrack-1605-
     ISNULL(PROCESS.EXPIRY_DATE,POL.POLICY_EXPIRATION_DATE) AS END_EXPIRY_DATE,
     POL.POLICY_EFFECTIVE_DATE AS POLICY_EFFECTIVE_DATE,
     POL.POLICY_EXPIRATION_DATE AS POLICY_EXPIRATION_DATE
     
     FROM ACT_POLICY_INSTALLMENT_DETAILS AS INSTALL_DETAILS WITH(NOLOCK)      
      
     JOIN POL_CUSTOMER_POLICY_LIST POL WITH(NOLOCK)  ON    
     POL.CUSTOMER_ID = INSTALL_DETAILS.CUSTOMER_ID AND     
     POL.POLICY_ID = INSTALL_DETAILS.POLICY_ID AND     
     POL.POLICY_VERSION_ID = INSTALL_DETAILS.POLICY_VERSION_ID    
      
     LEFT OUTER JOIN  ACT_POLICY_INSTALL_PLAN_DATA AS PLAN_DATA WITH(NOLOCK) ON   
               
     PLAN_DATA.CUSTOMER_ID=INSTALL_DETAILS.CUSTOMER_ID AND           
     PLAN_DATA.POLICY_ID=INSTALL_DETAILS.POLICY_ID AND           
     PLAN_DATA.POLICY_VERSION_ID= INSTALL_DETAILS.POLICY_VERSION_ID  
     
     LEFT OUTER JOIN POL_POLICY_ENDORSEMENTS ENDO WITH(NOLOCK) ON  
     ENDO.CUSTOMER_ID = INSTALL_DETAILS.CUSTOMER_ID AND  
     ENDO.POLICY_ID = INSTALL_DETAILS.POLICY_ID AND  
     ENDO.POLICY_VERSION_ID = INSTALL_DETAILS.POLICY_VERSION_ID  
     
     LEFT OUTER JOIN  CLT_APPLICANT_LIST WITH(NOLOCK) ON   
     INSTALL_DETAILS.CO_APPLICANT_ID = CLT_APPLICANT_LIST.APPLICANT_ID  
     
     INNER JOIN POL_INSTALLMENT_BOLETO BOLETO WITH(NOLOCK) ON
     INSTALL_DETAILS.CUSTOMER_ID=BOLETO.CUSTOMER_ID  AND
     INSTALL_DETAILS.POLICY_ID=BOLETO.POLICY_ID AND 
     INSTALL_DETAILS.POLICY_VERSION_ID=BOLETO.POLICY_VERSION_ID AND
     INSTALL_DETAILS.ROW_ID = BOLETO.INSTALLEMT_ID
     
     LEFT JOIN POL_POLICY_PROCESS PROCESS WITH(NOLOCK) ON 
     PROCESS.CUSTOMER_ID=INSTALL_DETAILS.CUSTOMER_ID AND 
     PROCESS.POLICY_ID=INSTALL_DETAILS.POLICY_ID AND 
     PROCESS.NEW_POLICY_VERSION_ID=INSTALL_DETAILS.POLICY_VERSION_ID AND
	 PROCESS.ENDORSEMENT_NO = ENDO.ENDORSEMENT_NO AND PROCESS.PROCESS_STATUS<>'ROLLBACK'
     
     
     
     WHERE BOLETO.CUSTOMER_ID=@CUSTOMER_ID AND 
     BOLETO.POLICY_ID=@POLICY_ID     AND 
     BOLETO.POLICY_VERSION_ID <= @POLICY_VERSION_ID  
     AND UPPER(INSTALL_DETAILS.RELEASED_STATUS)='N'
      AND UPPER(ISNULL(BOLETO.IS_ACTIVE,'Y'))!='N'
     
     ORDER BY INSTALL_DETAILS.INSTALLMENT_NO,
     INSTALL_DETAILS.INSTALLMENT_EFFECTIVE_DATE,
     ROW_ID ASC,
     TRAN_TYPE  desc  
   
END  
 
GO

