---ITRACK-1067 (15)

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_SUSEP_PREMAC_ISSUED_CANCELLED_INWARD_COINSURANCE_PREMIUMS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_SUSEP_PREMAC_ISSUED_CANCELLED_INWARD_COINSURANCE_PREMIUMS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*****************************************************
Proc Name   : [dbo].[PROC_SUSEP_PREMAC_ISSUED_CANCELLED_INWARD_COINSURANCE_PREMIUMS]    
Created date:
Created By  :
Purpose		: Used for Susep Report for ALBA 
Itrack		: 1067
Modified  On: 26 Aug 2011
Modified by : Pravesh K Chandel
Puprose		: Changed ENDORSEMENT_NO datatype from Int to Nvarchar as it would fetch leader End number as well

-- drop Proc [dbo].[PROC_SUSEP_PREMAC_ISSUED_CANCELLED_INWARD_COINSURANCE_PREMIUMS]    

****************************************************/

CREATE PROCEDURE  [dbo].[PROC_SUSEP_PREMAC_ISSUED_CANCELLED_INWARD_COINSURANCE_PREMIUMS]    
(
 @DATETIME DATETIME,  
 @POLICY_NUMBER VARCHAR(22) = NULL  
)        
AS 

 DECLARE @MONTH VARCHAR(2)  
 DECLARE @YEAR VARCHAR(4) 
 DECLARE @TEMP NVARCHAR(500)
 SET @MONTH= DATEPART(MM, @DATETIME) 
 SET @YEAR=(SELECT DATEPART(YYYY, @DATETIME))  
 BEGIN
	DECLARE @TEMPTABLE TABLE 
	(
		SEQUENCE_NO INT IDENTITY(1,1) , 
		COMPANY_CODE VARCHAR(50),
		SUSEP_PROCESS_NO NVARCHAR(50),
		REFERENCE_MONTH VARCHAR(8),
		TYPE_TRANSACTION VARCHAR(10),
		STATE_CODE NVARCHAR(20),
		UF_RISCO NVARCHAR(20),
		SUSEP_LOB_CODE VARCHAR(5),
		LEADER_POLICY_NUMBER NVARCHAR(50),
		ENDORSEMENT_NO NVARCHAR(100),
		ISSUANCE_DATE VARCHAR(10),
		EFFECTIVE_DATE VARCHAR(10),
		EXPIRED_DATE VARCHAR(10),
		LEADER_CO_SUSEP_CODE NVARCHAR(50),
		ISSUENCE_PREMIUM DECIMAL(14,2),
		LEADER_COINSURANCE_FEE DECIMAL(14,2)
	)
INSERT INTO @TEMPTABLE  
  
  SELECT 
	     --VW.POLICY_NUMBER,
	     --VW.PCPL_POLICY_VERSION_ID,
		  --ALIANÇA DA BAHIA SUSEP CODE.
		 '504-5' AS COMPANY_CODE, 
		 
		 
		 ----PROCESS NUMBER OF PRODUCT PROVIDED BY SUSEP.
		 ISNULL(VW.SUSEP_PROCESS_NO,'') AS SUSEP_PROCESS_NO,--SH
		 
		 
		 -----BASE MONTH: YYYYMM.
		  CASE  
			WHEN @MONTH IN (1,2,3,4,5,6,7,8,9) THEN  @YEAR + '0' + @MONTH 
			WHEN @MONTH IN (10,11,12) THEN  @YEAR + @MONTH
		 END AS REFERENCE_MONTH,  --REFERENCE MONTH OF THE REPORT.
		 
	------------------------------------------------------------------------------------------------------------
			--TYPE OF TRANSACTION.
			--101-POLICY ISSUANCE. 
			--102-ADDITIONAL PREMIUM CHARGE ENDORSEMENT. 
			--103-PREMIUM REFUND ENDORSEMENT. 
			--104-POLICY CANCELLATION WITH PREMIUM REFUND. 
			--105-ENDORSEMENT CANCELLATION WITH PREMIUM REFUND. 
			--106-POLICY CANCELLATION WITHOUT PREMIUM REFUND. 
			--107-ENDORSEMENT CANCELLATION WITHOUT PREMIUM REFUND. 
			--108-ENDORSEMENT WITHOUT PREMIUM TRANSACTION	
	-------------------------------------------------------------------------------------------------------------------		 
		 CASE	
			 WHEN VW.PROCESS_ID = 25 THEN '101'--SH
			 WHEN VW.PROCESS_ID IN (14) AND SUM(ISNULL(APCBD.INSTALLMENT_AMOUNT,0)) >= 0 THEN '102'--SH
			 WHEN VW.PROCESS_ID IN (14) AND SUM(ISNULL(APCBD.INSTALLMENT_AMOUNT,0)) < 0 THEN '103'
			 WHEN VW.PROCESS_ID IN (12) AND VW.RETURN_PREMIUM < 0 THEN '104'--SH
			 WHEN VW.PROCESS_ID IN (37) AND SUM(ISNULL(APCBD.INSTALLMENT_AMOUNT,0)) < 0 THEN '105'
			 --WHEN VW.PROCESS_ID IN (12) AND SUM(ISNULL(APCBD.INSTALLMENT_AMOUNT,0)) >= 0 THEN '106'
			 WHEN VW.PROCESS_ID IN (12) AND VW.RETURN_PREMIUM >= 0 THEN '106'
			 WHEN VW.PROCESS_ID IN (37) AND SUM(ISNULL(APCBD.INSTALLMENT_AMOUNT,0)) >= 0 THEN '107'
			 WHEN VW.PROCESS_ID IN (14) AND SUM(ISNULL(APCBD.INSTALLMENT_AMOUNT,0)) = 0 THEN '108'
		 END AS TYPE_TRANSACTION,
		 
		 --------------BRAZIL STATE ABBREVIATION OF ISSUANCE BRANCH.
		 ISNULL(VW.STATE_CODE,'') AS STATE_CODE,--SH
		 
		 --LOCAL RISK STATE ABBR
		 --ISNULL(MCSL_1.STATE_CODE,'') AS UF_RISCO,
		  (SELECT DISTINCT '' + ISNULL(MCSL_1.STATE_CODE,MCSL_2.STATE_CODE)
		   FROM 
				VW_POL_PRODUCT_RISK_DETAILS VW_RISK WITH(NOLOCK) 
		   LEFT JOIN 
				POL_APPLICANT_LIST PAL WITH(NOLOCK) ON PAL.CUSTOMER_ID = VW_RISK.CUSTOMER_ID 
													   AND PAL.POLICY_ID = VW_RISK.POLICY_ID 
													   AND PAL.POLICY_VERSION_ID = VW_RISK.POLICY_VERSION_ID 
													   AND PAL.APPLICANT_ID = VW_RISK.CO_APPLICANT_ID 

		  LEFT JOIN 
				CLT_APPLICANT_LIST CAL ON PAL.CUSTOMER_ID = CAL.CUSTOMER_ID 
										  AND PAL.APPLICANT_ID = CAL.APPLICANT_ID 

          LEFT OUTER JOIN 
				MNT_COUNTRY_STATE_LIST MCSL_2 (NOLOCK) ON CONVERT(VARCHAR,MCSL_2.STATE_ID) = CAL.STATE 

		  LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST MCSL_1 (NOLOCK) ON MCSL_1.STATE_ID = VW_RISK.STATE_ID 

		  WHERE 
				VW.PCPL_CUSTOMER_ID = VW_RISK.CUSTOMER_ID 
				AND VW.PCPL_POLICY_ID = VW_RISK.POLICY_ID 
				AND VW.PCPL_POLICY_VERSION_ID = VW_RISK.POLICY_VERSION_ID 

		  FOR XML PATH('')) AS UF_RISCO,
		 
		 -----------SUSEP LOB CODE 
		CASE	
			WHEN VW.POLICY_LOB IN (21,22) THEN '0982'
			WHEN VW.POLICY_LOB IN (17,18) THEN '0520'
			ELSE VW.SUSEP_LOB_CODE
		END AS SUSEP_LOB_CODE,
		 
		 ------------NUMBER OF LEADER COINSURER'S POLICY/CERTIFICATE.
		 ISNULL(VW.LEADER_POLICY_NUMBER,'') LEADER_POLICY_NUMBER,
		 
		 
		 --------------------------------------------------------------------------------------------
			--NUMBER OF LEADER COINSURER'S ENDORSEMENT. 
			--IF THE TYPE OF TRANSACTION IS POLICY ISSUANCE,(POLICY ISSUANCE : 25)
			--FILL OUT THIS FIELD WITH ZEROS IN ITS TOTALITY. 

		 --------------------------------------------------------------------------------------------
		 --CASE
			--WHEN VW.PROCESS_ID = 25 THEN 0
			--ELSE ISNULL(VW.ENDORSEMENT_NO,0) --SH
		 --END AS ENDORSEMENT_NO,
		 
		  CASE
				WHEN VW.PROCESS_ID = 25 THEN '0'
				WHEN VW.LEADER_FOLLOWER = 14549 THEN ISNULL(VW.ENDORSEMENT_POLICY_NUMBER,'')
				ELSE CONVERT(VARCHAR(10),ISNULL(VW.ENDORSEMENT_NO,''))
		  END 
		 AS ENDORSEMENT_NO,
		 
		
		
		 
	    -------ISSUANCE DATE OF POLICY OR ENDORSEMENT (DATE OF COMMIT OF POLICY).
	    CONVERT(VARCHAR(10),ISNULL(VW.COMPLETED_DATETIME,VW.CREATED_DATETIME),112) AS ISSUANCE_DATE,
		--VW.COMPLETED_DATETIME AS ISSUANCE_DATE,
		--GETDATE() AS ISSUANCE_DATE,
		
		
		 --------------------------------------------------------------------------------------------
			--IT IS THE EFFECTIVE DATE OF POLICY OR ENDORSEMENT.
			--1.FOR NEW BUSINESS OR RENEWAL, POLICY EFFECTIVE DATE.(NEW BUSINESS:24,25 ; RENEWAL:5)
			--2.FOR ENDORSEMENT, ENDORSEMENT EFFECTIVE DATE.(ENDORSEMENT:3,14)
			--3.FOR ENDORSEMENT CANCELLATION, SAME EFFECTIVE DATE OF CANCELLED ENDORSEMENT(ENDORSEMENT CANCELLATION:37)
			--4. CANCELLATION, EFFECTIVE DATE OF CANCELLATION(CANCELLATION:2).
		 --------------------------------------------------------------------------------------------
		 CASE	
			WHEN VW.PROCESS_ID IN (5,24,25) THEN CONVERT(VARCHAR(10),ISNULL(VW.POLICY_EFFECTIVE_DATE,''),112)--SH
			WHEN VW.PROCESS_ID IN (3,14) THEN CONVERT(VARCHAR(10),ISNULL(VW.EFFECTIVE_DATETIME,''),112) 
			--WHEN VW.PROCESS_ID = 37 THEN CONVERT(VARCHAR(10),ISNULL(VW.COMPLETED_DATETIME,''),112)--SH  
			WHEN VW.PROCESS_ID = 37 THEN		 
			CONVERT(VARCHAR(10), (SELECT 
									isnull(SU_PCPL.EFFECTIVE_DATETIME,'')
								  FROM 
									POL_POLICY_PROCESS SU_PCPL WITH(NOLOCK) 
								  WHERE 
									SU_PCPL.CUSTOMER_ID = VW.CUSTOMER_ID 
									AND SU_PCPL.POLICY_ID = VW.POLICY_ID
									AND CONVERT(VARCHAR,SU_PCPL.NEW_POLICY_VERSION_ID) =  CAST(DBO.Piece(VW.LAST_REVERT_BACK,'^',3) AS VARCHAR)
									AND SU_PCPL.PROCESS_STATUS = 'COMPLETE'
		 ),112)
			WHEN VW.PROCESS_ID IN (2,12) THEN CONVERT(VARCHAR(10),ISNULL(VW.COMPLETED_DATETIME,''),112) 
	     END AS EFFECTIVE_DATE,
	    
	    
	    ----------------------------------------------------------------------------------------------------
			--EXPIRED DATE.
			--1.FOR NEW BUSINESS OR RENEWAL, POLICY EXPIRY DATE.
			--2.FOR ENDORSEMENT, ENDORSEMENT EXPIRY DATE. 
			--3.FOR ENDORSEMENT CANCELLATION, SAME EXPIRY DATE OF CANCELLED ENDORSEMENT
			--4. CANCELLATION, EXPIRY DATE OF CANCELLED TRANSACTION
	    ----------------------------------------------------------------------------------------------------
	    CASE	
			WHEN VW.PROCESS_ID IN (5,24,25) THEN CONVERT(VARCHAR(10),ISNULL(VW.POLICY_EXPIRATION_DATE,''),112)--SH
			WHEN VW.PROCESS_ID IN (3,14) THEN CONVERT(VARCHAR(10),ISNULL(VW.[EXPIRY_DATE],''),112) 
			WHEN VW.PROCESS_ID = 37 THEN CONVERT(VARCHAR(10),ISNULL(VW.[EXPIRY_DATE],VW.POLICY_EXPIRATION_DATE),112)  --SH
			WHEN VW.PROCESS_ID IN (2,12) THEN CONVERT(VARCHAR(10),ISNULL(VW.[EXPIRY_DATE],VW.POLICY_EXPIRATION_DATE),112) 
	    END AS EXPIRED_DATE,
	    
	
	 
		 	-----LEADER COINSURER SUSEP CODE.
		--VW.SUSEP_NUM AS LEADER_CO_SUSEP_CODE,--SH
		-----LEADER COINSURER SUSEP CODE.
		 	(SELECT TOP 1
		 		M.SUSEP_NUM 
		 	 FROM 
		 		MNT_REIN_COMAPANY_LIST M WITH(NOLOCK)
		 	 INNER JOIN
		 		[VW_SUSEP_FORM_ISSUED_CANCELLED_COINSURANCE_PREMIUMS] VW2 WITH(NOLOCK) ON 
		 			M.REIN_COMAPANY_ID = VW2.COMPANY_ID
		 			AND VW2.LEADER_FOLLOWER = 14548
		 	  WHERE 
		 		VW2.PCPL_CUSTOMER_ID = VW.PCPL_CUSTOMER_ID 
		 		AND VW2.PCPL_POLICY_ID  = VW.PCPL_POLICY_ID 
		 		AND VW2.PCPL_POLICY_VERSION_ID = VW.PCPL_POLICY_VERSION_ID 
		 	 ) AS LEADER_CO_SUSEP_CODE,
		
		
		-----ISSUANCE PREMIUM WITHOUT TAXES, FEES AND INTEREST RATE
		--CASE 
		--	WHEN  PPP.PROCESS_ID = 25 THEN APIPID.TOTAL_PREMIUM 
		--END AS ISSUENCE_PREMIUM,
		--ACOI.TOTAL_DUE AS ISSUENCE_PREMIUM,--SH
		CAST(SUM(ISNULL(APCBD.INSTALLMENT_AMOUNT,0)) AS DECIMAL(16,2)) AS ISSUENCE_PREMIUM,
		
		-----LEADER COINSURANCE FEE
		--CASE	
		--	 WHEN VW.PROCESS_ID = 25 THEN '-' + CONVERT(NVARCHAR(200),ABS(ISNULL(ACOI.TOTAL_DUE,0) * ((ISNULL(VW.COINSURANCE_FEE,0))/100)))
		--	 WHEN VW.PROCESS_ID IN (14) AND APCBD.TOTAL_DUE >= 0 THEN '-' + CONVERT(NVARCHAR(200),ABS(ISNULL(ACOI.TOTAL_DUE,0) * ((ISNULL(VW.COINSURANCE_FEE,0))/100)))
		--	 WHEN VW.PROCESS_ID IN (14) AND ACOI.TOTAL_DUE < 0 THEN '+' + CONVERT(NVARCHAR(200),ABS(ISNULL(ACOI.TOTAL_DUE,0) * ((ISNULL(VW.COINSURANCE_FEE,0))/100)))
		--	 WHEN VW.PROCESS_ID IN (12) AND VW.RETURN_PREMIUM < 0 THEN '+' + CONVERT(NVARCHAR(200),ABS(ISNULL(ACOI.TOTAL_DUE,0) * ((ISNULL(VW.COINSURANCE_FEE,0))/100)))
		--	 WHEN VW.PROCESS_ID IN (37) AND ACOI.TOTAL_DUE < 0 THEN '+' + CONVERT(NVARCHAR(200),ABS(ISNULL(ACOI.TOTAL_DUE,0) * ((ISNULL(VW.COINSURANCE_FEE,0))/100)))
		--END AS LEADER_COINSURANCE_FEE
		
		CAST(CASE	
			 WHEN VW.PROCESS_ID = 25 THEN  CONVERT(NVARCHAR(200),ABS(SUM(ISNULL(APCBD.INSTALLMENT_AMOUNT,0)) * ((ISNULL(VW.COINSURANCE_FEE,0))/100)))
			 WHEN VW.PROCESS_ID IN (14) AND SUM(ISNULL(APCBD.INSTALLMENT_AMOUNT,0))  >= 0 THEN  CONVERT(NVARCHAR(200),ABS(SUM(ISNULL(APCBD.INSTALLMENT_AMOUNT,0))) * ((ISNULL(VW.COINSURANCE_FEE,0))/100))
			 WHEN VW.PROCESS_ID IN (14) AND SUM(ISNULL(APCBD.INSTALLMENT_AMOUNT,0)) < 0 THEN CONVERT(NVARCHAR(200),ABS(SUM(ISNULL(APCBD.INSTALLMENT_AMOUNT,0))) * ((ISNULL(VW.COINSURANCE_FEE,0))/100))
			 WHEN VW.PROCESS_ID IN (12) AND VW.RETURN_PREMIUM < 0 THEN  CONVERT(NVARCHAR(200),ABS(SUM(ISNULL(APCBD.INSTALLMENT_AMOUNT,0))) * ((ISNULL(VW.COINSURANCE_FEE,0))/100))
			 WHEN VW.PROCESS_ID IN (37) AND SUM(ISNULL(APCBD.INSTALLMENT_AMOUNT,0)) < 0 THEN  CONVERT(NVARCHAR(200),ABS(SUM(ISNULL(APCBD.INSTALLMENT_AMOUNT,0)) * ((ISNULL(VW.COINSURANCE_FEE,0))/100)))
		END AS DECIMAL(16,2))AS LEADER_COINSURANCE_FEE
		
		
   FROM
		
		--ACT_COI_OPEN_ITEMS ACOI WITH(NOLOCK) 
	
	--INNER JOIN 
		--ACT_POLICY_CO_BILLING_DETAILS APCBD WITH(NOLOCK)  
		ACT_POLICY_INSTALLMENT_DETAILS APCBD WITH(NOLOCK)  
		
	INNER JOIN
		[VW_SUSEP_FORM_ISSUED_CANCELLED_COINSURANCE_PREMIUMS] AS VW WITH(NOLOCK) ON (VW.CUSTOMER_ID = APCBD.CUSTOMER_ID 
												AND VW.POLICY_ID = APCBD.POLICY_ID 
												AND VW.NEW_POLICY_VERSION_ID = APCBD.POLICY_VERSION_ID
												AND VW.PROCESS_STATUS <> 'ROLLBACK'
												--AND RIGHT(ACOI.ITEM_TRAN_CODE,1)='P'
												AND VW.CO_INSURANCE = 14549
												AND VW.LEADER_FOLLOWER = 14549)
												
												
												
	--LEFT OUTER JOIN 
	--	VW_POL_PRODUCT_RISK_DETAILS VW1 WITH(NOLOCK) ON (VW1.CUSTOMER_ID = VW.PCPL_CUSTOMER_ID 
	--													AND VW1.POLICY_ID = VW.PCPL_POLICY_ID 
	--													AND VW1.POLICY_VERSION_ID = VW.PCPL_POLICY_VERSION_ID)
	--LEFT OUTER JOIN 
	--	MNT_COUNTRY_STATE_LIST MCSL_1 (NOLOCK) ON (MCSL_1.STATE_ID = VW1.STATE_ID
	--											   AND MCSL_1.COUNTRY_ID  = VW1.COUNTRY_ID)
												

 
   WHERE
		 --CONVERT(VARCHAR(6),VW.CREATED_DATETIME,112) = CONVERT(VARCHAR(6),@DATETIME ,112) AND
		 YEAR(VW.CREATED_DATETIME)=YEAR(@DATETIME) AND MONTH(VW.CREATED_DATETIME)=MONTH(@DATETIME) AND
		 (@POLICY_NUMBER IS NULL OR VW.POLICY_NUMBER =  @POLICY_NUMBER) 
		 AND VW.CO_INSURANCE = 14549 -- FOR FOLLOWER
		 --AND VW.PROCESS_ID  IN (5,24,25,3,14,37,2,12,15)
		 AND VW.PROCESS_ID NOT IN (2,3,4,5,6,7,8,9,10,13,15,16,17,18,19,20,21,22,23,24,26,27,28,29,30,31,32,33,34,35,36)
		-- AND APCBD.RELEASED_STATUS NOT IN ('C','U')
		AND 
		APCBD.RELEASED_STATUS NOT IN  
			(
				CASE WHEN VW.PROCESS_ID <> 37 THEN   'C'
					 WHEN VW.PROCESS_ID =  12 THEN  'U'
					ELSE '''C'',''U''' 
				END
			)
 GROUP BY 
		 VW.SUSEP_PROCESS_NO,--SH
         VW.PROCESS_ID,
		 VW.STATE_CODE,
		 --MCSL_1.STATE_CODE,
		 VW.SUSEP_LOB_CODE,
		 VW.LEADER_POLICY_NUMBER,
         VW.ENDORSEMENT_NO,
		 VW.COMPLETED_DATETIME,
		 VW.CREATED_DATETIME,
		 VW.POLICY_EFFECTIVE_DATE,
		 VW.EFFECTIVE_DATETIME,
		 VW.COMPLETED_DATETIME,
		 VW.POLICY_EXPIRATION_DATE,
		 VW.[EXPIRY_DATE],
		 VW.POLICY_EXPIRATION_DATE,
		 VW.SUSEP_NUM,
		 VW.RETURN_PREMIUM,
		 VW.COINSURANCE_FEE,
		 VW.POLICY_LOB,
	     VW.LEADER_FOLLOWER,
	     VW.COMPANY_ID,
	     VW.PCPL_CUSTOMER_ID,
	     VW.PCPL_POLICY_ID,
	     --VW.POLICY_NUMBER,
	     VW.PCPL_POLICY_VERSION_ID,
	     VW.ENDORSEMENT_POLICY_NUMBER,
	     VW.CO_INSURANCE,
		 VW.CUSTOMER_ID,
	     VW.POLICY_ID,
	     VW.LAST_REVERT_BACK



  /* SELECT 
	
		  --ALIANÇA DA BAHIA SUSEP CODE.
		 '05045' AS COMPANY_CODE, 
		 
		 
		 ----PROCESS NUMBER OF PRODUCT PROVIDED BY SUSEP.
		 VW.SUSEP_PROCESS_NO,--SH
		 
		 
		 -----BASE MONTH: YYYYMM.
		  CASE  
			WHEN @MONTH IN (1,2,3,4,5,6,7,8,9) THEN  @YEAR + '0' + @MONTH 
			WHEN @MONTH IN (10,11,12) THEN  @YEAR + @MONTH
		 END AS REFERENCE_MONTH,  --REFERENCE MONTH OF THE REPORT.
		 
	------------------------------------------------------------------------------------------------------------
			--TYPE OF TRANSACTION.
			--101-POLICY ISSUANCE. 
			--102-ADDITIONAL PREMIUM CHARGE ENDORSEMENT. 
			--103-PREMIUM REFUND ENDORSEMENT. 
			--104-POLICY CANCELLATION WITH PREMIUM REFUND. 
			--105-ENDORSEMENT CANCELLATION WITH PREMIUM REFUND. 
			--106-POLICY CANCELLATION WITHOUT PREMIUM REFUND. 
			--107-ENDORSEMENT CANCELLATION WITHOUT PREMIUM REFUND. 
			--108-ENDORSEMENT WITHOUT PREMIUM TRANSACTION	
	-------------------------------------------------------------------------------------------------------------------		 
		 CASE	
			 WHEN VW.PROCESS_ID = 25 THEN '101'--SH
			 WHEN VW.PROCESS_ID IN (14) AND ACOI.TOTAL_DUE >= 0 THEN '102'--SH
			 WHEN VW.PROCESS_ID IN (14) AND ACOI.TOTAL_DUE < 0 THEN '103'
			 WHEN VW.PROCESS_ID IN (12) AND VW.RETURN_PREMIUM < 0 THEN '104'--SH
			 WHEN VW.PROCESS_ID IN (37) AND ACOI.TOTAL_DUE < 0 THEN '105'
			 WHEN VW.PROCESS_ID IN (12) AND ISNULL(ACOI.TOTAL_DUE,0) >= 0 THEN '106'
			 WHEN VW.PROCESS_ID IN (37) AND ISNULL(ACOI.TOTAL_DUE,0) >= 0 THEN '107'
			 WHEN VW.PROCESS_ID IN (14) AND ISNULL(ACOI.TOTAL_DUE,0) = 0 THEN '108'
		 END AS TYPE_TRANSACTION,
		 
		 --------------BRAZIL STATE ABBREVIATION OF ISSUANCE BRANCH.
		 VW.STATE_CODE,--SH
		 
		 --LOCAL RISK STATE ABBR
		 MCSL_1.STATE_CODE AS UF_RISCO,
		 
		 -----------SUSEP LOB CODE 
		-- VW.SUSEP_LOB_CODE,--SH
		CASE	
			WHEN VW.POLICY_LOB IN (21,22) THEN '0982'
			WHEN VW.POLICY_LOB IN (17,18) THEN '0520'
			ELSE VW.SUSEP_LOB_CODE
		END AS SUSEP_LOB_CODE,
		 
		 ------------NUMBER OF LEADER COINSURER'S POLICY/CERTIFICATE.
		 VW.LEADER_POLICY_NUMBER,
		 
		 
		 --------------------------------------------------------------------------------------------
			--NUMBER OF LEADER COINSURER'S ENDORSEMENT. 
			--IF THE TYPE OF TRANSACTION IS POLICY ISSUANCE,(POLICY ISSUANCE : 25)
			--FILL OUT THIS FIELD WITH ZEROS IN ITS TOTALITY. 

		 --------------------------------------------------------------------------------------------
		 CASE
			WHEN VW.PROCESS_ID = 25 THEN 0
			ELSE VW.ENDORSEMENT_NO --SH
		 END AS ENDORSEMENT_NO,
		 
		
		
		 
	    -------ISSUANCE DATE OF POLICY OR ENDORSEMENT (DATE OF COMMIT OF POLICY).
	    CONVERT(VARCHAR(10),ISNULL(VW.COMPLETED_DATETIME,VW.CREATED_DATETIME),112) AS ISSUANCE_DATE,
		--VW.COMPLETED_DATETIME AS ISSUANCE_DATE,
		--GETDATE() AS ISSUANCE_DATE,
		
		
		 --------------------------------------------------------------------------------------------
			--IT IS THE EFFECTIVE DATE OF POLICY OR ENDORSEMENT.
			--1.FOR NEW BUSINESS OR RENEWAL, POLICY EFFECTIVE DATE.(NEW BUSINESS:24,25 ; RENEWAL:5)
			--2.FOR ENDORSEMENT, ENDORSEMENT EFFECTIVE DATE.(ENDORSEMENT:3,14)
			--3.FOR ENDORSEMENT CANCELLATION, S
AME EFFECTIVE DATE OF CANCELLED ENDORSEMENT(ENDORSEMENT CANCELLATION:37)
			--4. CANCELLATION, EFFECTIVE DATE OF CANCELLATION(CANCELLATION:2).
		 --------------------------------------------------------------------------------------------
		 CASE	
			WHEN VW.PROCESS_ID IN (5,24,25) THEN CONVERT(VARCHAR(10),VW.POLICY_EFFECTIVE_DATE,112)--SH
			WHEN VW.PROCESS_ID IN (3,14) THEN CONVERT(VARCHAR(10),VW.EFFECTIVE_DATETIME,112) 
			WHEN VW.PROCESS_ID = 37 THEN CONVERT(VARCHAR(10),VW.COMPLETED_DATETIME,112)--SH  
			WHEN VW.PROCESS_ID IN (2,12) THEN CONVERT(VARCHAR(10),VW.COMPLETED_DATETIME,112) 
	     END AS EFFECTIVE_DATE,
	    
	    
	    ----------------------------------------------------------------------------------------------------
			--EXPIRED DATE.
			--1.FOR NEW BUSINESS OR RENEWAL, POLICY EXPIRY DATE.
			--2.FOR ENDORSEMENT, ENDORSEMENT EXPIRY DATE. 
			--3.FOR ENDORSEMENT CANCELLATION, SAME EXPIRY DATE OF CANCELLED ENDORSEMENT
			--4. CANCELLATION, EXPIRY DATE OF CANCELLED TRAN
SACTION
	    ----------------------------------------------------------------------------------------------------
	    CASE	
			WHEN VW.PROCESS_ID IN (5,24,25) THEN CONVERT(VARCHAR(10),VW.POLICY_EXPIRATION_DATE,112)--SH
			WHEN VW.PROCESS_ID IN (3,14) THEN CONVERT(VARCHAR(10),VW.[EXPIRY_DATE],112) 
			WHEN VW.PROCESS_ID = 37 THEN CONVERT(VARCHAR(10),ISNULL(VW.[EXPIRY_DATE],VW.POLICY_EXPIRATION_DATE),112)  --SH
			WHEN VW.PROCESS_ID IN (2,12) THEN CONVERT(VARCHAR(10),ISNULL(VW.[EXPIRY_DATE],VW.POLICY_EXPIRATION_DATE),112) 
	    END AS EXPIRED_DATE,
	    
	
	 
		 	-----LEADER COINSURER SUSEP CODE.
		VW.SUSEP_NUM AS LEADER_CO_SUSEP_CODE,--SH
		
		
		-----ISSUANCE PREMIUM WITHOUT TAXES, FEES AND INTEREST RATE
		--CASE 
		--	WHEN  PPP.PROCESS_ID = 25 THEN APIPID.TOTAL_PREMIUM 
		--END AS ISSUENCE_PREMIUM,
		ACOI.TOTAL_DUE AS ISSUENCE_PREMIUM,--SH
		
		-----LEADER COINSURANCE FEE
		CASE	
			 WHEN VW.PROCESS_ID = 25 THEN '-' + CONVERT(NVARCHAR(200),ABS(ISNULL(ACOI.TOTAL_DUE,0) * ((ISNULL(VW.COINSURANCE_FEE,0))/100)))
			 WHEN VW.PROCESS_ID IN (14) AND ACOI.TOTAL_DUE >= 0 THEN '-' + CONVERT(NVARCHAR(200),ABS(ISNULL(ACOI.TOTAL_DUE,0) * ((ISNULL(VW.COINSURANCE_FEE,0))/100)))
			 WHEN VW.PROCESS_ID IN (14) AND ACOI.TOTAL_DUE < 0 THEN '+' + CONVERT(NVARCHAR(200),ABS(ISNULL(ACOI.TOTAL_DUE,0) * ((ISNULL(VW.COINSURANCE_FEE,0))/100)))
			 WHEN VW.PROCESS_ID IN (12) AND VW.RETURN_PREMIUM < 0 THEN '+' + CONVERT(NVARCHAR(200),ABS(ISNULL(ACOI.TOTAL_DUE,0) * ((ISNULL(VW.COINSURANCE_FEE,0))/100)))
			 WHEN VW.PROCESS_ID IN (37) AND ACOI.TOTAL_DUE < 0 THEN '+' + CONVERT(NVARCHAR(200),ABS(ISNULL(ACOI.TOTAL_DUE,0) * ((ISNULL(VW.COINSURANCE_FEE,0))/100)))
		END AS LEADER_COINSURANCE_FEE
		
		
   FROM
		
		ACT_COI_OPEN_ITEMS ACOI WITH(NOLOCK) 
	INNER JOIN
		[VW_SUSEP_FORM_ISSUED_CANCELLED_COINSURANCE_PREMIUMS] AS VW WITH(NOLOCK) ON (VW.CUSTOMER_ID = ACOI.CUSTOMER_ID 
												AND VW.POLICY_ID = ACOI.POLICY_ID 
												AND VW.NEW_POLICY_VERSION_ID = ACOI.POLICY_VERSION_ID
												AND VW.PROCESS_STATUS <> 'ROLLBACK'
												AND RIGHT(ACOI.ITEM_TRAN_CODE,1)='P'
												AND VW.CO_INSURANCE = 14549)
												
												
												
	LEFT OUTER JOIN 
		VW_POL_PRODUCT_RISK_DETAILS VW1 WITH(NOLOCK) ON (VW1.CUSTOMER_ID = VW.PCPL_CUSTOMER_ID 
																	 AND VW1.POLICY_ID = VW.PCPL_POLICY_ID 
																	 AND VW1.POLICY_VERSION_ID = VW.PCPL_POLICY_VERSION_ID)
	LEFT OUTER JOIN 
		MNT_COUNTRY_STATE_LIST MCSL_1 (NOLOCK) ON MCSL_1.STATE_ID = VW1.STATE_ID 
												

 
   WHERE
		 CONVERT(VARCHAR(6),VW.CREATED_DATETIME,112) = CONVERT(VARCHAR(6),@DATETIME ,112) AND
		 (@POLICY_NUMBER IS NULL OR VW.POLICY_NUMBER =  @POLICY_NUMBER) 
		 AND VW.CO_INSURANCE = 14549 -- FOR FOLLOWER
		 AND VW.PROCESS_ID  IN (5,24,25,3,14,37,2,12)*/
    
SELECT 
		LEFT(CONVERT(VARCHAR,SEQUENCE_NO),10) AS SEQUENCIA, 
		COMPANY_CODE AS COD_CIA,
		--SUSEP_PROCESS_NO,
		LEFT(REPLACE(REPLACE(REPLACE(SUSEP_PROCESS_NO,'.',''),'/',''),'-',''),20) AS NUM_PROC, 
		REFERENCE_MONTH AS DT_BASE,
		ISNULL(TYPE_TRANSACTION,0) AS TIPO_MOV,
		LEFT(STATE_CODE,2) AS UF_DEP,
		LEFT(ISNULL(UF_RISCO,''),54)  AS UF_RISCO,
		LEFT(ISNULL(SUSEP_LOB_CODE,''),4) AS COD_RAMO,
		RIGHT('                    ' + LEADER_POLICY_NUMBER, 20) AS NUM_APOL,
		RIGHT('                    ' + CONVERT(VARCHAR(20),ENDORSEMENT_NO),20) AS NUM_END,
		RIGHT('00000' + ISNULL(LEADER_CO_SUSEP_CODE,''),5) AS COD_COSS,
		ISSUANCE_DATE AS DT_EMIS,
		EFFECTIVE_DATE AS DT_INI_VIG,
		EXPIRED_DATE AS DT_FIM_VIG,
		ABS(ISSUENCE_PREMIUM)AS PR_COSS_AC,
		ABS(ISNULL(LEADER_COINSURANCE_FEE,0))AS COM_COS_AC
		--REPLACE(LEADER_COINSURANCE_FEE,'.',',') AS COM_COS_AC
FROM @TEMPTABLE

END

GO

