IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_RiskCoverage]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_RiskCoverage]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO




 /*----------------------------------------------------            
 Crated By  : Naveen Pujari      
 Created On : 11 May 2011          
 Purpose : Fetch Risk Coverage description      
 Modified by:Lalit          
 --drop proc PROC_RiskCoverage  2885	,507,	2
 ------------------------------------------------------*/  
CREATE PROC [dbo].[PROC_RiskCoverage]                
(                    
@CUSTOMER_ID INT,                    
@POLICY_ID INT,                    
@POLICY_VERSION_ID INT                    
)                    
AS                    
BEGIN                    
                  
DECLARE @COVERAGES TABLE (COVERAGE_CODE_ID INT)                  
DECLARE @RISK TABLE (RISK_ID INT)                  
DECLARE @RISK_COV TABLE (RISK_ID INT, COVERAGE_CODE_ID INT)                  
DECLARE @PREVIOUS_POLICY_VERSION_ID INT            
DECLARE @PROCESS_ID INT      
DECLARE @END_COVERAGES TABLE (COVERAGE_CODE_ID INT,COV_RISK_ID INT)       
                
            
             
  SET  @PREVIOUS_POLICY_VERSION_ID=(SELECT PPP.POLICY_VERSION_ID  FROM    POL_POLICY_PROCESS PPP WITH(NOLOCK)  WHERE  CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID       
  AND NEW_POLICY_VERSION_ID=@POLICY_VERSION_ID AND PROCESS_STATUS <> 'ROLLBACK' )            
             
  SELECT @PROCESS_ID= PROCESS_ID FROM POL_POLICY_PROCESS WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID       
  AND NEW_POLICY_VERSION_ID = @POLICY_VERSION_ID  AND PROCESS_STATUS <> 'ROLLBACK'    
        
  --creating temp Table from coverage table schema  
  SELECT * INTO #tempChangeCoverage FROM POL_PRODUCT_COVERAGES WITH(NOLOCK) WHERE 1 = 2   
    
  --adde new column for coverage prev_Limit   
  ALTER TABLE #tempChangeCoverage  
  ADD PREV_LIMIT DECIMAL(25,2)  
       
 IF (@PROCESS_ID IN (3,14)) --Endorsement      
  BEGIN       
    
      
  INSERT INTO @RISK(RISK_ID)                  
  SELECT DISTINCT RISK_ID FROM POL_PRODUCT_COVERAGES   
  WITH(NOLOCK) where CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID   
  AND POLICY_VERSION_ID =@POLICY_VERSION_ID AND RISK_ID NOT IN (SELECT DISTINCT RISK_ID FROM POL_PRODUCT_COVERAGES SUBQ WITH(NOLOCK) WHERE   
  SUBQ. CUSTOMER_ID = @CUSTOMER_ID  AND SUBQ.POLICY_ID = @POLICY_ID AND SUBQ.POLICY_VERSION_ID < @POLICY_VERSION_ID  
 )                
    
               
   INSERT INTO @END_COVERAGES(COVERAGE_CODE_ID,COV_RISK_ID)     
    SELECT DISTINCT COVERAGE_CODE_ID,RISK_ID FROM POL_PRODUCT_COVERAGES MAIN WITH(NOLOCK)     
    where MAIN.CUSTOMER_ID = @CUSTOMER_ID AND MAIN.POLICY_ID = @POLICY_ID AND MAIN.POLICY_VERSION_ID =@POLICY_VERSION_ID        
    AND COVERAGE_CODE_ID NOT IN     
    (SELECT COVERAGE_CODE_ID FROM POL_PRODUCT_COVERAGES b WITH(NOLOCK)    
    WHERE b.CUSTOMER_ID = @CUSTOMER_ID AND b.POLICY_ID = @POLICY_ID AND b.POLICY_VERSION_ID = @PREVIOUS_POLICY_VERSION_ID    
    AND b.RISK_ID =  MAIN.RISK_ID and b.COVERAGE_CODE_ID= MAIN.COVERAGE_CODE_ID    
    )      
                   
    UNION --ALL --get previous version coverages which have changes in current version      
   SELECT DISTINCT NEW.COVERAGE_CODE_ID,PREV.RISK_ID from  POL_PRODUCT_COVERAGES  NEW WITH(NOLOCK)       
    INNER JOIN    
   (SELECT * FROM POL_PRODUCT_COVERAGES  WITH(NOLOCK)       
   WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @PREVIOUS_POLICY_VERSION_ID) PREV      
   ON       
   NEW.CUSTOMER_ID = PREV.CUSTOMER_ID AND NEW.POLICY_ID = PREV.POLICY_ID AND NEW.RISK_ID =  PREV.RISK_ID and       
   NEW.COVERAGE_CODE_ID = PREV.COVERAGE_CODE_ID and NEW.COVERAGE_ID = PREV.COVERAGE_ID      
   WHERE NEW.CUSTOMER_ID = @CUSTOMER_ID AND NEW.POLICY_ID = @POLICY_ID AND NEW.POLICY_VERSION_ID = @POLICY_VERSION_ID      
   AND (    
   (PREV.LIMIT_1 <> NEW.LIMIT_1 )    
   OR (ISNULL(PREV.DEDUCTIBLE_1,0) <> ISNULL(NEW.DEDUCTIBLE_1,0)) 
   --Modified by Abhishek Goel(Ref iTrack 964) on dated 19/07/2011   
   OR (ISNULL(NEW.WRITTEN_PREMIUM,0) <> CAST(0 as decimal(9,2)))--ISNULL(CASE WHEN  NEW.WRITTEN_PREMIUM = 0 THEN PREV.WRITTEN_PREMIUM ELSE  NEW.WRITTEN_PREMIUM END,0)  )       
   OR (ISNULL(PREV.INDEMNITY_PERIOD,0) <> ISNULL(NEW.INDEMNITY_PERIOD,0))     
   OR (ISNULL(PREV.MINIMUM_DEDUCTIBLE,0) <> ISNULL(NEW.MINIMUM_DEDUCTIBLE,0))    
   OR (ISNULL(PREV.DEDUCTIBLE1_AMOUNT_TEXT,'') <> ISNULL(NEW.DEDUCTIBLE1_AMOUNT_TEXT,''))
   OR (ISNULL(PREV.DEDUCTIBLE2_AMOUNT_TEXT,'') <> ISNULL(NEW.DEDUCTIBLE2_AMOUNT_TEXT,''))
   OR (ISNULL(PREV.DEDUCTIBLE_1_TYPE,'') <> ISNULL(NEW.DEDUCTIBLE_1_TYPE,''))
   )      
   
 INSERT INTO #tempChangeCoverage   
 SELECT MAIN.*,0 FROM POL_PRODUCT_COVERAGES MAIN WITH(NOLOCK)   
  JOIN @END_COVERAGES ChangeCOv   
  ON ChangeCOv.COV_RISK_ID = MAIN.RISK_ID AND   
  ChangeCOv .COVERAGE_CODE_ID = MAIN.COVERAGE_CODE_ID  
  WHERE MAIN.CUSTOMER_ID = @CUSTOMER_ID AND MAIN.POLICY_ID = @POLICY_ID AND   
  MAIN.POLICY_VERSION_ID = @POLICY_VERSION_ID AND MAIN.RISK_ID NOT IN (SELECT a.RISK_ID FROM  @RISK a)  
   
  
   
 UPDATE tempCOv SET tempCOv.PREV_LIMIT  = MAIN.LIMIT_1   
 --SELECT   
 FROM POL_PRODUCT_COVERAGES MAIN ,  
  #tempChangeCoverage tempCOv  WHERE   
   MAIN.CUSTOMER_ID = @CUSTOMER_ID  AND MAIN.POLICY_ID = @POLICY_ID AND MAIN.POLICY_VERSION_ID  = @PREVIOUS_POLICY_VERSION_ID  
    
  AND tempCOv.RISK_ID = MAIN.RISK_ID and tempCOv.COVERAGE_CODE_ID = MAIN.COVERAGE_CODE_ID  
   

--insert coverages which is added on other risk for cartesian 
INSERT  INTO  @END_COVERAGES (COVERAGE_CODE_ID,COV_RISK_ID)     
SELECT COVERAGE_CODE_ID,RISK_ID FROM POL_PRODUCT_COVERAGES WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID
AND RISK_ID NOT IN(SELECT a.RISK_ID FROM @RISK a)
 
 
 INSERT INTO @COVERAGES   
 SELECT DISTINCT COVERAGE_CODE_ID  FROM @END_COVERAGES  
   
   
  END      
       
     
     
ELSE      
 BEGIN           
  INSERT INTO @COVERAGES(COVERAGE_CODE_ID)                  
  SELECT DISTINCT COVERAGE_CODE_ID FROM POL_PRODUCT_COVERAGES WITH(NOLOCK) where CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID =@POLICY_VERSION_ID                  
       
  INSERT INTO @RISK(RISK_ID)                  
  SELECT DISTINCT RISK_ID FROM POL_PRODUCT_COVERAGES WITH(NOLOCK) where CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID =@POLICY_VERSION_ID                  
     
 END        
         
         
         
INSERT INTO @RISK_COV (RISK_ID, COVERAGE_CODE_ID)                  
SELECT RISK_ID, COVERAGE_CODE_ID                
FROM @RISK, @COVERAGES                  
ORDER BY RISK_ID                  
     
    SELECT                   
            @CUSTOMER_ID CUSTOMER_ID, @POLICY_ID POLICY_ID, @POLICY_VERSION_ID POLICY_VERSION_ID,                   
            TEMP.RISK_ID,TEMP2.COVERAGE_ID,TEMP.COVERAGE_CODE_ID,TEMP2.RI_APPLIES,TEMP2.LIMIT_OVERRIDE    
            ,ISNULL(TEMP2.LIMIT_1,0)     
   AS LIMIT_1,TEMP2.LIMIT_1_TYPE,TEMP2.LIMIT_2                  
            ,TEMP2.LIMIT_2_TYPE,TEMP2.LIMIT1_AMOUNT_TEXT,TEMP2.LIMIT2_AMOUNT_TEXT,TEMP2.DEDUCT_OVERRIDE,                  
            ISNULL(TEMP2.DEDUCTIBLE_1,0)DEDUCTIBLE_1,                  
            ISNULL(TEMP2.DEDUCTIBLE_1_TYPE,0)DEDUCTIBLE_1_TYPE                  
            ,TEMP2.DEDUCTIBLE_2,                  
           TEMP2.DEDUCTIBLE_2_TYPE ,                  
           ISNULL(TEMP2.MINIMUM_DEDUCTIBLE,0)MINIMUM_DEDUCTIBLE,                  
           TEMP2.DEDUCTIBLE1_AMOUNT_TEXT,                  
           ISNULL(TEMP2.DEDUCTIBLE2_AMOUNT_TEXT,'')DEDUCTIBLE2_AMOUNT_TEXT                  
           ,TEMP2.DEDUCTIBLE_REDUCES,                  
           TEMP2.INITIAL_RATE,TEMP2.FINAL_RATE,TEMP2.AVERAGE_RATE,                  
           ISNULL(TEMP2.WRITTEN_PREMIUM,0)WRITTEN_PREMIUM                  
           ,ISNULL(TEMP2.FULL_TERM_PREMIUM,0)FULL_TERM_PREMIUM,                  
           TEMP2.IS_SYSTEM_COVERAGE,TEMP2.LIMIT_ID,TEMP2.DEDUC_ID,TEMP2.ADD_INFORMATION,                  
           TEMP2.CREATED_BY,TEMP2.CREATED_DATETIME,TEMP2.MODIFIED_BY,TEMP2.LAST_UPDATED_DATETIME,TEMP2.INDEMNITY_PERIOD,TEMP2.CHANGE_INFORCE_PREM                  
           ,ISNULL(Prev_cov.LIMIT_1,0) AS PREV_LIMIT            
    FROM                  
       @RISK_COV TEMP                   
      LEFT JOIN                   
            POL_PRODUCT_COVERAGES TEMP2   ON TEMP.COVERAGE_CODE_ID = TEMP2.COVERAGE_CODE_ID AND TEMP.RISK_ID = TEMP2.RISK_ID AND                  
            TEMP2.CUSTOMER_ID = @CUSTOMER_ID AND TEMP2.POLICY_ID = @POLICY_ID AND TEMP2.POLICY_VERSION_ID =@POLICY_VERSION_ID                  
     LEFT OUTER JOIN                   
     ( SELECT                   
            @CUSTOMER_ID CUSTOMER_ID, @POLICY_ID POLICY_ID, @POLICY_VERSION_ID POLICY_VERSION_ID,                   
            TEMP.RISK_ID,TEMP2.COVERAGE_ID,TEMP.COVERAGE_CODE_ID,TEMP2.RI_APPLIES,TEMP2.LIMIT_OVERRIDE,ISNULL(TEMP2.LIMIT_1,0)LIMIT_1,                  
            TEMP2.LIMIT_1_TYPE,TEMP2.LIMIT_2                  
            ,TEMP2.LIMIT_2_TYPE,TEMP2.LIMIT1_AMOUNT_TEXT,TEMP2.LIMIT2_AMOUNT_TEXT,TEMP2.DEDUCT_OVERRIDE,                  
            ISNULL(TEMP2.DEDUCTIBLE_1,0)DEDUCTIBLE_1,                  
            ISNULL(TEMP2.DEDUCTIBLE_1_TYPE,0)DEDUCTIBLE_1_TYPE                  
            ,TEMP2.DEDUCTIBLE_2,                  
           TEMP2.DEDUCTIBLE_2_TYPE ,                  
           ISNULL(TEMP2.MINIMUM_DEDUCTIBLE,0)MINIMUM_DEDUCTIBLE,                  
           TEMP2.DEDUCTIBLE1_AMOUNT_TEXT,                  
           ISNULL(TEMP2.DEDUCTIBLE2_AMOUNT_TEXT,'')DEDUCTIBLE2_AMOUNT_TEXT                  
           ,TEMP2.DEDUCTIBLE_REDUCES,                  
           TEMP2.INITIAL_RATE,TEMP2.FINAL_RATE,TEMP2.AVERAGE_RATE,                  
           ISNULL(TEMP2.WRITTEN_PREMIUM,0)WRITTEN_PREMIUM                  
           ,ISNULL(TEMP2.FULL_TERM_PREMIUM,0)FULL_TERM_PREMIUM,                  
           TEMP2.IS_SYSTEM_COVERAGE,TEMP2.LIMIT_ID,TEMP2.DEDUC_ID,TEMP2.ADD_INFORMATION,                  
           TEMP2.CREATED_BY,TEMP2.CREATED_DATETIME,TEMP2.MODIFIED_BY,TEMP2.LAST_UPDATED_DATETIME,TEMP2.INDEMNITY_PERIOD,TEMP2.CHANGE_INFORCE_PREM                  
    FROM                  
       @RISK_COV TEMP                   
      LEFT JOIN                   
            POL_PRODUCT_COVERAGES TEMP2   ON TEMP.COVERAGE_CODE_ID = TEMP2.COVERAGE_CODE_ID AND TEMP.RISK_ID = TEMP2.RISK_ID AND                  
            TEMP2.CUSTOMER_ID = @CUSTOMER_ID AND TEMP2.POLICY_ID = @POLICY_ID AND TEMP2.POLICY_VERSION_ID =@PREVIOUS_POLICY_VERSION_ID                  
       )Prev_cov            
       ON           
       Prev_cov.COVERAGE_CODE_ID = TEMP.COVERAGE_CODE_ID AND          
       Prev_cov.RISK_ID = TEMP.RISK_ID       
      
       UNION ALL---endorsement block  
       SELECT   
        @CUSTOMER_ID, @POLICY_ID , @POLICY_VERSION_ID,                   
            cov.RISK_ID,cov.COVERAGE_ID,cov.COVERAGE_CODE_ID,cov.RI_APPLIES,cov.LIMIT_OVERRIDE    
            ,ISNULL(cov.LIMIT_1,0)     
   AS LIMIT_1,cov.LIMIT_1_TYPE,cov.LIMIT_2                  
            ,cov.LIMIT_2_TYPE,cov.LIMIT1_AMOUNT_TEXT,cov.LIMIT2_AMOUNT_TEXT,cov.DEDUCT_OVERRIDE,                  
            ISNULL(cov.DEDUCTIBLE_1,0)DEDUCTIBLE_1,                  
            ISNULL(cov.DEDUCTIBLE_1_TYPE,0)DEDUCTIBLE_1_TYPE                  
            ,cov.DEDUCTIBLE_2,                  
           cov.DEDUCTIBLE_2_TYPE ,                  
           ISNULL(cov.MINIMUM_DEDUCTIBLE,0)MINIMUM_DEDUCTIBLE,                  
           cov.DEDUCTIBLE1_AMOUNT_TEXT,                  
           ISNULL(cov.DEDUCTIBLE2_AMOUNT_TEXT,'')DEDUCTIBLE2_AMOUNT_TEXT                  
           ,cov.DEDUCTIBLE_REDUCES,                  
           cov.INITIAL_RATE,cov.FINAL_RATE,cov.AVERAGE_RATE,                  
           ISNULL(cov.WRITTEN_PREMIUM,0)WRITTEN_PREMIUM                  
           ,ISNULL(cov.FULL_TERM_PREMIUM,0)FULL_TERM_PREMIUM,                  
           cov.IS_SYSTEM_COVERAGE,cov.LIMIT_ID,cov.DEDUC_ID,cov.ADD_INFORMATION,                  
           cov.CREATED_BY,cov.CREATED_DATETIME,cov.MODIFIED_BY,cov.LAST_UPDATED_DATETIME  
           ,cov.INDEMNITY_PERIOD,cov.CHANGE_INFORCE_PREM                  
           ,PREV_LIMIT    
        
         
        FROM  #tempChangeCoverage cov WITH(NOLOCK)   order by RISK_ID
       --ORDER BY TEMP.RISK_ID ASC, TEMP.COVERAGE_CODE_ID                  
      DROP TABLE #tempChangeCoverage     
             
       
END      
--EXEC PROC_RiskCoverage  28025,170,4  --2629,81,4 


GO

