IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetPolicyCycleInformation]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetPolicyCycleInformation]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--drop proc dbo.Proc_GetPolicyCycleInformation      
CREATE PROC dbo.Proc_GetPolicyCycleInformation          
(          
@CUSTOMERID  int,          
@POLICYID  int,          
@POLICYVERSIONID int,          
@VEHICLEID  int           
)          
AS          
BEGIN     
      
          
SELECT     TOP 100 PERCENT ISNULL(POL_VEHICLES.INSURED_VEH_NUMBER, 0) AS INSURED_VEH_NUMBER,           
                      ISNULL(POL_VEHICLES.VEHICLE_YEAR, 0) AS VEHICLE_YEAR , ISNULL(POL_VEHICLES.MAKE, '') AS MAKE, ISNULL(POL_VEHICLES.MODEL, '')           
                      AS MODEL, ISNULL(POL_VEHICLES.VIN, '') AS VIN, ISNULL(POL_VEHICLES.BODY_TYPE, '') AS BODY_TYPE,           
                      ISNULL(POL_VEHICLES.GRG_ADD1, '') AS GRG_ADD1, ISNULL(POL_VEHICLES.GRG_ADD2, '') AS GRG_ADD2,           
                      ISNULL(POL_VEHICLES.GRG_CITY, '') AS GRG_CITY, ISNULL(POL_VEHICLES.GRG_COUNTRY, '') AS GRG_COUNTRY,           
                      ISNULL(POL_VEHICLES.GRG_STATE, '') AS GRG_STATE, ISNULL(POL_VEHICLES.GRG_ZIP, '') AS GRG_ZIP,           
                      ISNULL(POL_VEHICLES.REGISTERED_STATE, '') AS REGISTERED_STATE, ISNULL(POL_VEHICLES.TERRITORY, '') AS TERRITORY,           
                      ISNULL(POL_VEHICLES.CLASS, '') AS CLASS, ISNULL(POL_VEHICLES.REGN_PLATE_NUMBER, '') AS REGN_PLATE_NUMBER,           
                      POL_VEHICLES.ST_AMT_TYPE, POL_VEHICLES.AMOUNT, POL_VEHICLES.SYMBOL, POL_VEHICLES.VEHICLE_AGE,           
                      ISNULL(POL_VEHICLES.VEHICLE_CC, '') AS VEHICLE_CC, ISNULL(POL_VEHICLES.MOTORCYCLE_TYPE, 0) AS MOTORCYCLE_TYPE,           
                      POL_CUSTOMER_POLICY_LIST.POLICY_LOB, POL_VEHICLES.APP_VEHICLE_CLASS,POL_VEHICLES.IS_ACTIVE AS IS_ACTIVE,ISNULL(CYCL_REGD_ROAD_USE,-1) AS CYCL_REGD_ROAD_USE,POL_VEHICLES.COMPRH_ONLY  
FROM         POL_VEHICLES INNER JOIN          
                      POL_CUSTOMER_POLICY_LIST ON POL_VEHICLES.CUSTOMER_ID = POL_CUSTOMER_POLICY_LIST.CUSTOMER_ID AND POL_VEHICLES.POLICY_ID = POL_CUSTOMER_POLICY_LIST.POLICY_ID AND           
                      POL_VEHICLES.POLICY_VERSION_ID = POL_CUSTOMER_POLICY_LIST.POLICY_VERSION_ID          
WHERE     ( POL_VEHICLES.CUSTOMER_ID = @CUSTOMERID)   and ( POL_VEHICLES.POLICY_ID=@POLICYID) AND ( POL_VEHICLES.POLICY_VERSION_ID=@POLICYVERSIONID) AND ( POL_VEHICLES.VEHICLE_ID= @VEHICLEID);          
END          




GO

