IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetInstallmentDetailBreakup]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetInstallmentDetailBreakup]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


CREATE proc dbo.Proc_GetInstallmentDetailBreakup
(
	@CUSTOMER_ID int,
	@POLICY_ID int,
	@INSTALLMENT_NO int,
	@CURRENT_TERM int
)
as
SELECT @INSTALLMENT_NO as INSTALLMENT_NO,A.POLICY_VERSION_ID AS POLICY_VERSION_ID ,A.RISK_ID , A.TRANS_DESC,
A.TOTAL_DUE - ISNULL( APPLIED_AT_CANCELLATION, 0)  AS TOTAL_DUE,
ISNULL(A.TOTAL_PAID ,0) - ISNULL( APPLIED_AT_CANCELLATION, 0)   AS TOTAL_PAID,A.NET_PREMIUM, A.GROSS_AMOUNT,
A.PROCESSED_AMOUNT_FOR_AGENCY,A.AGENCY_COMM_PERC
FROM ACT_CUSTOMER_OPEN_ITEMS A WITH(NOLOCK)
INNER JOIN ACT_POLICY_INSTALLMENT_DETAILS B WITH(NOLOCK) ON A.INSTALLMENT_ROW_ID  = B.ROW_ID
WHERE A.CUSTOMER_ID= @CUSTOMER_ID 
AND A.POLICY_ID = @POLICY_ID 
AND B.INSTALLMENT_NO = @INSTALLMENT_NO
AND B.CURRENT_TERM = @CURRENT_TERM
order by A.POLICY_VERSION_ID,A.RISK_ID




GO

