IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_ACTIVATEDEACTIVATE_PASSENGERS_PERSONAL_ACCIDENT_INFO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_ACTIVATEDEACTIVATE_PASSENGERS_PERSONAL_ACCIDENT_INFO]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------                
Proc Name       : dbo.[PROC_ACTIVATEDEACTIVATE_PASSENGERS_PERSONAL_ACCIDENT_INFO]                
Created by      : PRADEEP KUSHWAHA       
Date            : 28/05/2010   
Modify by		: 
Date			: 
Purpose			:To Activate and deactivate records in POL_PASSENGERS_PERSONAL_ACCIDENT_INFO table.                
Revison History :                
Used In			: Ebix Advantage                
------------------------------------------------------------                
Date     Review By          Comments                
------   ------------       -------------------------*/                
--DROP PROC DBO.PROC_ACTIVATEDEACTIVATE_PASSENGERS_PERSONAL_ACCIDENT_INFO         
      
      
CREATE  PROC [dbo].[PROC_ACTIVATEDEACTIVATE_PASSENGERS_PERSONAL_ACCIDENT_INFO]      
(              
 @CUSTOMER_ID INT,
 @POLICY_ID INT,
 @POLICY_VERSION_ID SMALLINT,
 @PERSONAL_ACCIDENT_ID INT,                    
 @IS_ACTIVE   NCHAR(1) 
               
)              
AS 

declare @EFFECTIVE_DATETIME datetime,
@POLICY_STATUS NVARCHAR(20)
  
   select @EFFECTIVE_DATETIME =EFFECTIVE_DATETIME from POL_POLICY_PROCESS with(nolock)where CUSTOMER_ID= @CUSTOMER_ID   AND POLICY_ID=@POLICY_ID AND NEW_POLICY_VERSION_ID=@POLICY_VERSION_ID 
   SELECT @POLICY_STATUS= POLICY_STATUS FROM POL_CUSTOMER_POLICY_LIST with(nolock) WHERE CUSTOMER_ID= @CUSTOMER_ID   AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID 

if(@IS_ACTIVE='N' AND @POLICY_STATUS='UENDRS')
BEGIN

UPDATE POL_PASSENGERS_PERSONAL_ACCIDENT_INFO SET END_DATE=@EFFECTIVE_DATETIME WHERE CUSTOMER_ID= @CUSTOMER_ID AND
	POLICY_ID=@POLICY_ID AND
	POLICY_VERSION_ID=@POLICY_VERSION_ID AND
	PERSONAL_ACCIDENT_ID=@PERSONAL_ACCIDENT_ID   
END

           
BEGIN      
UPDATE POL_PASSENGERS_PERSONAL_ACCIDENT_INFO          
 SET               
    IS_ACTIVE  = @IS_ACTIVE ,
      ORIGINAL_VERSION_ID = CASE  WHEN @IS_ACTIVE='Y' THEN 0 ELSE  @POLICY_VERSION_ID END                
 WHERE              
    CUSTOMER_ID= @CUSTOMER_ID AND
	POLICY_ID=@POLICY_ID AND
	POLICY_VERSION_ID=@POLICY_VERSION_ID AND
	PERSONAL_ACCIDENT_ID=@PERSONAL_ACCIDENT_ID           
END 
GO

