IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_GETUNASSIGNEDAGENCY_USER]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_GETUNASSIGNEDAGENCY_USER]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN
--
--DROP PROC PROC_GETUNASSIGNEDAGENCY_USER 
--GO
CREATE PROC dbo.PROC_GETUNASSIGNEDAGENCY_USER    
(    
 @USERID INT    
)    
    
AS    
    
BEGIN     
 SELECT   
AGENCY_ID,  
(RTRIM(LTRIM(CONVERT(VARCHAR(30),ISNULL(AGENCY_DISPLAY_NAME,'')))) +'-'+ RTRIM(LTRIM(CONVERT(VARCHAR(30),ISNULL(NUM_AGENCY_CODE,'')))) +'-'+ RTRIM(LTRIM(CONVERT(VARCHAR(30),ISNULL(AGENCY_CODE,''))))) AS AGENCY_DISPLAY_NAME     
FROM MNT_AGENCY_LIST WHERE AGENCY_ID IN (SELECT AGENCY_ID FROM MNT_USER_AGENCY WHERE USER_ID = @USERID)    
END  

--GO
--
--PROC_GETUNASSIGNEDAGENCY_USER 349
--
--ROLLBACK TRAN  


GO

