IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_UpdatePolPersonalAccidentInfo]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_UpdatePolPersonalAccidentInfo]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------                  
Proc Name       : dbo.Proc_UpdatePolPersonalAccidentInfo               
Created by      : Chetna Agarwal        
Date            : 15/04/2010                  
Purpose   :To Update records in POL_PERSONAL_ACCIDENT_INFO table.                  
Revison History :                  
Used In   : Ebix Advantage                  
------------------------------------------------------------                  
Date     Review By          Comments                  
------   ------------       -------------------------*/                  
--DROP PROC dbo.Proc_UpdatePolPersonalAccidentInfo       
      
CREATE PROC [dbo].[Proc_UpdatePolPersonalAccidentInfo]        
(      
@PERSONAL_INFO_ID INT OUT,    
@POLICY_ID INT,     
@POLICY_VERSION_ID INT,     
@CUSTOMER_ID INT,    
@INDIVIDUAL_NAME NVARCHAR(30)=NULL,    
@CODE NVARCHAR(10)=NULL,    
@POSITION_ID INT =NULL,    
@CPF_NUM NVARCHAR(20)=NULL,    
@STATE_ID INT=NULL,    
@DATE_OF_BIRTH DATE=NULL,    
@GENDER INT=NULL,    
@REG_IDEN NVARCHAR(12)=NULL,    
@REG_ID_ISSUES DATE,    
@REMARKS NVARCHAR(4000),     
@MODIFIED_BY INT=NULL,    
@LAST_UPDATED_DATETIME DATETIME=NULL,    
@COUNTRY_ID INT=NULL,    
@REG_ID_ORG NVARCHAR(50)=NULL , 
@APPLICANT_ID INT=NULL  ,
@IS_SPOUSE_OR_CHILD INT=NULL,
@MAIN_INSURED INT=NULL,
@CITY_OF_BIRTH  NVARCHAR(100)=NULL,
 -- ,@ORIGINAL_VERSION_ID  INT=NULL
 @MARITAL_STATUS NCHAR(2)=NULL,
 @EXCEEDED_PREMIUM INT = NULL 
)    
AS
BEGIN    
  
DECLARE @POLICY_EXPIRATION_DATE DATE  
--Modified by Pradeep Kushwaha on 26-Aug-2011 - Itrack- 1566

SELECT @POLICY_EXPIRATION_DATE=POLICY_EXPIRATION_DATE FROM POL_CUSTOMER_POLICY_LIST (NOLOCK) WHERE CUSTOMER_ID =@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID   

IF((@CPF_NUM in (SELECT CPF_NUM FROM POL_PERSONAL_ACCIDENT_INFO WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND PERSONAL_INFO_ID<> @PERSONAL_INFO_ID AND IS_ACTIVE='Y'))
	AND (@REG_IDEN in (SELECT REG_IDEN FROM POL_PERSONAL_ACCIDENT_INFO WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND PERSONAL_INFO_ID<> @PERSONAL_INFO_ID AND IS_ACTIVE='Y'))
	AND (@CODE in(SELECT CODE FROM POL_PERSONAL_ACCIDENT_INFO WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND PERSONAL_INFO_ID<> @PERSONAL_INFO_ID AND IS_ACTIVE='Y' ) 
	AND @IS_SPOUSE_OR_CHILD=10964)
	)
	RETURN -16	--CPF , RG and code are duplicated - "CPF, RG e Código já cadastrados."
ELSE IF((@CODE in (SELECT CODE FROM POL_PERSONAL_ACCIDENT_INFO WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID and POLICY_ID=@POLICY_ID AND PERSONAL_INFO_ID<> @PERSONAL_INFO_ID AND IS_ACTIVE='Y') 
		AND @IS_SPOUSE_OR_CHILD=10964)
		AND (@REG_IDEN in (SELECT REG_IDEN FROM POL_PERSONAL_ACCIDENT_INFO WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND PERSONAL_INFO_ID<> @PERSONAL_INFO_ID AND IS_ACTIVE='Y'))
		)
	RETURN -15	--CODE and RG are duplicated - "CODE e RG já cadastrados."
ELSE IF((@CPF_NUM in (SELECT CPF_NUM FROM POL_PERSONAL_ACCIDENT_INFO WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND PERSONAL_INFO_ID<> @PERSONAL_INFO_ID AND IS_ACTIVE='Y')) 
		AND (@CODE in (SELECT CODE FROM POL_PERSONAL_ACCIDENT_INFO WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID and POLICY_ID=@POLICY_ID AND PERSONAL_INFO_ID<> @PERSONAL_INFO_ID AND IS_ACTIVE='Y') 
		AND @IS_SPOUSE_OR_CHILD=10964)
		)
	RETURN -14--CPF and CODE are duplicated - "CPF e CODE já cadastrados."
ELSE IF((@CPF_NUM in (SELECT CPF_NUM FROM POL_PERSONAL_ACCIDENT_INFO WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND PERSONAL_INFO_ID<> @PERSONAL_INFO_ID AND IS_ACTIVE='Y'))
		AND (@REG_IDEN in (SELECT REG_IDEN FROM POL_PERSONAL_ACCIDENT_INFO WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND PERSONAL_INFO_ID<> @PERSONAL_INFO_ID AND IS_ACTIVE='Y'))
		)
	RETURN -13--CPF and RG are duplicated - "CPF e RG já cadastrados."
ELSE IF((@CODE in (SELECT CODE FROM POL_PERSONAL_ACCIDENT_INFO WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND PERSONAL_INFO_ID<> @PERSONAL_INFO_ID AND IS_ACTIVE='Y')) 
		AND (@IS_SPOUSE_OR_CHILD=10964) 
		)
	RETURN -12--ONLY CODE is duplicated - "CODE já cadastrado."
ELSE IF(@REG_IDEN in (SELECT REG_IDEN FROM POL_PERSONAL_ACCIDENT_INFO WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND PERSONAL_INFO_ID<> @PERSONAL_INFO_ID AND IS_ACTIVE='Y'))
	RETURN -11--ONLY RG is duplicated - "RG já cadastrado."
ELSE IF(@CPF_NUM in (SELECT CPF_NUM FROM POL_PERSONAL_ACCIDENT_INFO WITH(NOLOCK) WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND PERSONAL_INFO_ID<> @PERSONAL_INFO_ID AND IS_ACTIVE='Y'))
	RETURN -10--ONLY CPF is duplicated - "CPF já cadastrado."
ELSE IF(@DATE_OF_BIRTH>@POLICY_EXPIRATION_DATE)  		
	return -5
ELSE
--Modified till here       
BEGIN      
UPDATE POL_PERSONAL_ACCIDENT_INFO      
SET      
	INDIVIDUAL_NAME=@INDIVIDUAL_NAME,     
	CODE=@CODE,    
	POSITION_ID=@POSITION_ID,    
	CPF_NUM= @CPF_NUM,    
	STATE_ID =@STATE_ID,    
	DATE_OF_BIRTH=@DATE_OF_BIRTH ,    
	GENDER=@GENDER,    
	REG_IDEN= @REG_IDEN,    
	REG_ID_ISSUES=@REG_ID_ISSUES,    
	REMARKS =@REMARKS,      
	MODIFIED_BY=@MODIFIED_BY,    
	LAST_UPDATED_DATETIME=@LAST_UPDATED_DATETIME,    
	COUNTRY_ID =@COUNTRY_ID,    
	REG_ID_ORG =@REG_ID_ORG,
	APPLICANT_ID=@APPLICANT_ID  ,
	IS_SPOUSE_OR_CHILD=@IS_SPOUSE_OR_CHILD,
	MAIN_INSURED =@MAIN_INSURED,  
	CITY_OF_BIRTH=@CITY_OF_BIRTH,
	--,ORIGINAL_VERSION_ID=@ORIGINAL_VERSION_ID
	MARITAL_STATUS=@MARITAL_STATUS,
	EXCEEDED_PREMIUM = @EXCEEDED_PREMIUM
WHERE    
	CUSTOMER_ID=@CUSTOMER_ID and  
	POLICY_ID=@POLICY_ID and 
	POLICY_VERSION_ID=@POLICY_VERSION_ID and 
	PERSONAL_INFO_ID=@PERSONAL_INFO_ID 
	return 1
	END
	
END 
GO

