IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_SAVE_REINSURANCE_BREAKDOWN_DETAILS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_SAVE_REINSURANCE_BREAKDOWN_DETAILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------------
Object			: Proc_SAVE_REINSURANCE_BREAKDOWN_DETAILS  
Created By		: Pravesh K Chandel
Created Date	:20 March 2009
Purpose			: For Reinsurance BreakDown Reoprt for Rental and Home
Used in			:Wolverine
drop proc  Proc_SAVE_REINSURANCE_BREAKDOWN_DETAILS
---------------------------------------------------------*/
CREATE proc [dbo].[Proc_SAVE_REINSURANCE_BREAKDOWN_DETAILS]
(
@MONTH int,
@YEAR int
)
AS

--DELETE EXISTING DATA OF THE MONTH AND YEAR
DELETE FROM POL_REINSURANCE_BREAKDOWN_DETAILS WHERE MONTH_NUMBER=@MONTH AND YEAR_NUMBER=@YEAR AND LOB_ID IN (1,6);

WITH PROCESS_TABLE                       
AS
(
SELECT PCPL.CUSTOMER_ID,PCPL.POLICY_ID,PCPL.POLICY_VERSION_ID,PCPL.POLICY_NUMBER,  
	ISNULL(T2.FIRST_NAME,'') + ' ' + ISNULL(T2.MIDDLE_NAME,'') + ' ' + ISNULL(T2.LAST_NAME,'') INSURED_NAME,
	ISNULL(T2.ADDRESS1,'')  + ' ' + ISNULL(T2.ADDRESS2,'') ADDRESS,T2.CITY,T2.ZIP_CODE,
		MLM.LOB_DESC, MCSL.STATE_NAME as STATE_DESC ,
	 CONVERT(VARCHAR,PCPL.APP_EFFECTIVE_DATE,101) APP_EFFECTIVE_DATE, CONVERT(VARCHAR,PCPL.APP_EXPIRATION_DATE,101) APP_EXPIRATION_DATE,
	case  isnull(PCPL.REINS_SPECIAL_ACPT,10964)
	when 10963 then 'Yes' else 'No' end as REINS_SPECIAL_ACPT,POLICY_LOB as LOB_ID,
	
	CONVERT(VARCHAR,PR.COMPLETED_DATETIME,101) as TRAN_DATE, 
	CONVERT(VARCHAR,PR.EFFECTIVE_DATETIME,101) + 
		CASE WHEN PR.EXPIRY_DATE IS NOT NULL THEN '-' + ISNULL(CONVERT(VARCHAR,PR.EXPIRY_DATE,101),'') 
			ELSE '' END AS TRAN_EFF_DATE,
    PR.PROCESS_ID,
	CASE PR.PROCESS_ID 
			WHEN 25		THEN 'New Business'
			WHEN 14		THEN 'Endorsement'
			WHEN 12     THEN 'Cancellation'
			WHEN 16     THEN 'Reinstatement'
			WHEN 18     THEN 'Renewal'
			WHEN 29     THEN 'Rescind'
			WHEN 32		THEN 'Rewrite'
			WHEN 37		THEN 'Revert back'
		END  AS TRAN_DESC

	FROM POL_CUSTOMER_POLICY_LIST PCPL with(nolock)
	   INNER JOIN POL_APPLICANT_LIST CCL  with(nolock)  ON                                                          
	    CCL.CUSTOMER_ID=PCPL.CUSTOMER_ID   and    CCL.POLICY_ID=PCPL.POLICY_ID  and  CCL.POLICY_VERSION_ID=PCPL.POLICY_VERSION_ID                               
		LEFT OUTER JOIN	CLT_APPLICANT_LIST T2 with(nolock) on  CCL.CUSTOMER_ID=T2.CUSTOMER_ID and CCL.APPLICANT_ID = T2.APPLICANT_ID and T2.IS_ACTIVE='Y'    
		LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST MCSL   with(nolock) ON   PCPL.STATE_ID = MCSL.STATE_ID                                                          
	 	LEFT OUTER JOIN MNT_LOB_MASTER MLM   with(nolock) ON PCPL.POLICY_LOB = MLM.LOB_ID 
		left join  POL_POLICY_PROCESS PR WITH(NOLOCK) on    PR.CUSTOMER_ID=PCPL.CUSTOMER_ID   and    PR.POLICY_ID=PCPL.POLICY_ID  
		and  case PR.NEW_POLICY_VERSION_ID when 0 then PR.POLICY_VERSION_ID else PR.NEW_POLICY_VERSION_ID end =PCPL.POLICY_VERSION_ID 
		and PR.process_status='COMPLETE'                                                                                
	 WHERE CCL.IS_PRIMARY_APPLICANT  =1 
		 AND PCPL.POLICY_LOB IN (1,6)
),

SPLIT_TABLE
AS
(
SELECT SPLIT.REIN_STATE as STATE_ID,REIN_LINE_OF_BUSINESS as LOB_ID ,isnull(SPLIT.POLICY_TYPE,'0') as POLICY_TYPE , REIN_EFFECTIVE_DATE,
REIN_COVERAGE as REIN_SPLIT_COVERAGES,
REIN_IST_SPLIT_COVERAGE as REIN_IST_SPLIT_COVERAGE,
REIN_2ND_SPLIT_COVERAGE as REIN_2ND_SPLIT_COVERAGE,
CAST(REPLACE(REIN_IST_SPLIT,'%','') AS NUMERIC(8,4))as REIN_IST_SPLIT,
CAST(REPLACE(REIN_2ND_SPLIT,'%','') AS NUMERIC(8,4)) as REIN_2ND_SPLIT	
FROM  MNT_REIN_SPLIT SPLIT  WITH (NOLOCK)
WHERE   ISNULL(IS_ACTIVE,'Y')='Y' AND REIN_LINE_OF_BUSINESS IN (1,6)
),

TMP_COV_PREMIUM_DETAILS
AS
(
  SELECT TT.PROCESS_TYPE,TT.cov_id,max(TT.COV_DES) as COV_DES ,sum(TT.POLICY_LIMITS)  POLICY_LIMITS,TT.CUSTOMER_ID,TT.POLICY_ID,
	TT.POLICY_VERSION_ID as POLICY_VERSION_ID,TT.POLICY_NUMBER,TT.LOB_ID,TT.STATE_ID,TT.POLICY_EFFECTIVE_DATE,
    TT.POLICY_TERM,TT.CURRENT_TERM,TT.POLICY_TYPE,
	SUM(TT.COVERAGE_PREMIUM) AS COVERAGE_PREMIUM,TT.COMPONENT_CODE,
	ISNULL(max(TT.REINSURANCE_COV),0) COV_CATEGORY ,max(isnull(TT.REINSURANCE_CALC,0)) REINSURANCE_CALC,
	isnull(sum(isnull(EP.EARNED_PREMIUM,0)),0) as EARNED_PREMIUM,
	isnull(EP.MONTH_NUMBER,0) as MONTH_NUMBER,ISNULL(EP.YEAR_NUMBER,0) YEAR_NUMBER,
	CONVERT(VARCHAR,EP.MONTH_ELAPSED) + '/' + CONVERT(VARCHAR,TT.POLICY_TERM +1) AS COMPLETED
  from 
  (
   SELECT C.PROCESS_TYPE,m.cov_id,C.CUSTOMER_ID,C.POLICY_ID,C.RISK_ID,C.RISK_TYPE,max(M.COV_DES) as COV_DES 
	,sum( CASE WHEN ISNUMERIC(C.LIMIT)=0 THEN 0 ELSE CAST(replace(C.LIMIT,',','') AS NUMERIC) END )  POLICY_LIMITS,
	C.POLICY_VERSION_ID as POLICY_VERSION_ID,PCPL.POLICY_NUMBER,PCPL.POLICY_LOB AS LOB_ID,PCPL.STATE_ID AS STATE_ID,PCPL.APP_EFFECTIVE_DATE AS POLICY_EFFECTIVE_DATE,
	SUM(CASE WHEN ISNUMERIC(C.WRITTEN_PREM) = 0 THEN 0 ELSE cast(C.WRITTEN_PREM as numeric(12,2)) END) AS COVERAGE_PREMIUM,
	 CASE WHEN C.COMPONENT_CODE='INCR_COV_B' THEN 'COV_B'
		  WHEN C.COMPONENT_CODE='INCR_COV_A' THEN 'COV_A'
		  WHEN C.COMPONENT_CODE='INCR_COV_C' THEN 'COV_C'
		  WHEN C.COMPONENT_CODE='INCR_COV_D' THEN 'COV_D'
		ELSE C.COMPONENT_CODE END
		AS COMPONENT_CODE,
	ISNULL(max(M.REINSURANCE_COV),0) REINSURANCE_COV ,max(isnull(M.REINSURANCE_CALC,0)) REINSURANCE_CALC,
    PCPL.APP_TERMS AS POLICY_TERM,
    PCPL.CURRENT_TERM AS CURRENT_TERM,
	ISNULL(PCPL.POLICY_TYPE,'0') AS POLICY_TYPE
	FROM VIEW_CLT_PREMIUM_SPLIT_DETAILS C with(nolock)      
	INNER JOIN POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK) 
			ON PCPL.CUSTOMER_ID		=	C.CUSTOMER_ID 
			AND PCPL.POLICY_ID		=	C.POLICY_ID 
			AND PCPL.POLICY_VERSION_ID=	C.POLICY_VERSION_ID
			AND PCPL.POLICY_LOB IN (1,6)
	LEFT OUTER JOIN POL_DWELLINGS_INFO P  with(nolock)     
	ON C.CUSTOMER_ID = P.CUSTOMER_ID       
	AND C.POLICY_ID = P.POLICY_ID       
	AND C.POLICY_VERSION_ID = P.POLICY_VERSION_ID       
	AND C.RISK_ID = P.DWELLING_ID AND P.IS_ACTIVE = 'Y'       
    LEFT OUTER JOIN MNT_COVERAGE M  with(nolock)
    on  CASE  WHEN C.COMP_EXT IN ('774','779','794','799') then M.COMPONENT_CODE else convert(varchar,M.COV_ID) end
	  = CASE  WHEN C.COMP_EXT IN ('774','779','794','799') then C.COMPONENT_CODE else C.COMP_EXT end
	AND M.STATE_ID=PCPL.STATE_ID AND LOB_ID=PCPL.POLICY_LOB
   AND isnull(M.REINSURANCE_LOB,'0')='10963'
   WHERE M.COV_ID IS NOT NULL
	group by C.CUSTOMER_ID,C.POLICY_ID,C.POLICY_VERSION_ID,PCPL.POLICY_NUMBER,C.RISK_ID,C.RISK_TYPE,C.PROCESS_TYPE,PCPL.POLICY_LOB,PCPL.STATE_ID, PCPL.APP_EFFECTIVE_DATE,
	 PCPL.APP_TERMS,PCPL.CURRENT_TERM ,ISNULL(PCPL.POLICY_TYPE,'0'),
	 CASE WHEN C.COMPONENT_CODE='INCR_COV_B' THEN 'COV_B'
		  WHEN C.COMPONENT_CODE='INCR_COV_A' THEN 'COV_A'
		  WHEN C.COMPONENT_CODE='INCR_COV_C' THEN 'COV_C'
		  WHEN C.COMPONENT_CODE='INCR_COV_D' THEN 'COV_D'
		ELSE C.COMPONENT_CODE END,M.COV_ID
  ) TT
	LEFT OUTER JOIN ACT_EARNED_PREMIUM EP with(nolock)
	on EP.CUSTOMER_ID=TT.CUSTOMER_ID AND EP.POLICY_ID=TT.POLICY_ID 
	AND EP.POLICY_TERM=TT.POLICY_TERM
	AND EP.RISK_ID=TT.RISK_ID 
	AND EP.RISK_TYPE=TT.RISK_TYPE 
	AND EP.CURRENT_TERM=TT.CURRENT_TERM
	AND EP.STATE_ID=TT.STATE_ID
	AND CONVERT(VARCHAR,EP.COVERAGEID)=CONVERT(VARCHAR,TT.COV_ID)
	AND EP.VERSION_FOR_RISK=TT.POLICY_VERSION_ID
	WHERE ISNULL(EP.MONTH_NUMBER,0) <>0 AND ISNULL(EP.YEAR_NUMBER,0)<>0
	AND ISNULL(EP.MONTH_NUMBER,0)=@MONTH AND ISNULL(EP.YEAR_NUMBER,0)=@YEAR
	group by TT.CUSTOMER_ID,TT.POLICY_ID,TT.POLICY_VERSION_ID,TT.POLICY_NUMBER,TT.PROCESS_TYPE,TT.LOB_ID,TT.STATE_ID,TT.POLICY_EFFECTIVE_DATE,
	TT.POLICY_TERM,TT.CURRENT_TERM,TT.POLICY_TYPE,
	TT.COMPONENT_CODE,TT.cov_id,EP.MONTH_NUMBER,EP.YEAR_NUMBER,EP.MONTH_ELAPSED

  UNION 
	SELECT DISTINCT 0 AS PROCESS_TYPE,M.COV_ID,M.COV_DES as COV_DES ,0  POLICY_LIMITS,
	EP.CUSTOMER_ID AS CUSTOMER_ID,
    EP.POLICY_ID AS POLICY_ID,
	PCPL.POLICY_VERSION_ID as POLICY_VERSION_ID,PCPL.POLICY_NUMBER,
    M.LOB_ID,M.STATE_ID,NULL AS POLICY_EFFECTIVE_DATE,
	EP.POLICY_TERM AS POLICY_TERM, 
    EP.CURRENT_TERM AS CURRENT_TERM,
   '0' AS POLICY_TYPE,
	0.00 AS COVERAGE_PREMIUM, 'REINSURANCE' as COMPONENT_CODE,
	ISNULL((M.REINSURANCE_COV),0) REINSURANCE_COV ,(isnull(M.REINSURANCE_CALC,0)) REINSURANCE_CALC,
	0.00  as EARNED_PREMIUM,
	EP.MONTH_NUMBER as MONTH_NUMBER,
	EP.YEAR_NUMBER AS YEAR_NUMBER,
	CONVERT(VARCHAR,ep.month_elapsed) + '/' + CONVERT(VARCHAR,EP.POLICY_TERM +1) AS COMPLETED
		FROM MNT_REINSURANCE_COVERAGE M   with(nolock)
		INNER JOIN POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK) 
			ON PCPL.POLICY_LOB		=	M.LOB_ID 
			AND PCPL.STATE_ID		=	M.STATE_ID 
			AND PCPL.POLICY_LOB IN (1,6)
	LEFT OUTER JOIN ACT_EARNED_PREMIUM EP with(nolock)
	on EP.CUSTOMER_ID=PCPL.CUSTOMER_ID 
		AND EP.POLICY_ID=PCPL.POLICY_ID 
		AND EP.POLICY_TERM=PCPL.APP_TERMS    
		AND EP.CURRENT_TERM=PCPL.CURRENT_TERM
		AND EP.VERSION_FOR_RISK=PCPL.POLICY_VERSION_ID
	AND MONTH_NUMBER IS NOT NULL AND YEAR_NUMBER IS NOT NULL
	 WHERE isnull(M.REINSURANCE_LOB,0)=10963 AND MONTH_NUMBER IS NOT NULL AND YEAR_NUMBER IS NOT NULL
	 AND ISNULL(EP.MONTH_NUMBER,0)=@MONTH AND ISNULL(EP.YEAR_NUMBER,0)=@YEAR

UNION

	SELECT DISTINCT C.PROCESS_TYPE,M.COV_ID,M.COV_DES as COV_DES ,SUM(CASE WHEN ISNUMERIC(C.LIMIT)=0 THEN 0 ELSE CAST(replace(C.LIMIT,',','') AS NUMERIC) END) AS POLICY_LIMITS,
	EP.CUSTOMER_ID AS CUSTOMER_ID,
   	EP.POLICY_ID AS POLICY_ID,PCPL.POLICY_VERSION_ID as POLICY_VERSION_ID,PCPL.POLICY_NUMBER,M.LOB_ID,M.STATE_ID,
	EP.POLICY_EFFECTIVE_DATE AS POLICY_EFFECTIVE_DATE,
    EP.POLICY_TERM AS POLICY_TERM, EP.CURRENT_TERM AS CURRENT_TERM,ISNULL(PCPL.POLICY_TYPE,'0') as POLICY_TYPE,
	SUM(CASE WHEN ISNUMERIC(C.WRITTEN_PREM) = 0 THEN 0 ELSE cast(C.WRITTEN_PREM as numeric(12,2)) END) AS COVERAGE_PREMIUM,
	C.COMPONENT_CODE,ISNULL(MAX(M.REINSURANCE_COV),0) REINSURANCE_COV ,MAX(isnull(M.REINSURANCE_CALC,0)) REINSURANCE_CALC,
	isnull(sum(isnull(EP.EARNED_PREMIUM,0)),0) as EARNED_PREMIUM,
	EP.MONTH_NUMBER as MONTH_NUMBER,
	EP.YEAR_NUMBER  AS YEAR_NUMBER,
	CONVERT(VARCHAR,isnull(EP.MONTH_ELAPSED,0)) + '/' + CONVERT(VARCHAR,isnull(EP.POLICY_TERM,0) +1) AS COMPLETED
	FROM VIEW_CLT_PREMIUM_SPLIT_DETAILS C with(nolock)                
	inner join MNT_COVERAGE_EXTRA M WITH(NOLOCK) 
		ON CONVERT(VARCHAR,M.COV_ID) = C.COMP_EXT
		AND M.COMPONENT_CODE = C.COMPONENT_CODE
	INNER JOIN POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK) 
		ON PCPL.POLICY_LOB		=	M.LOB_ID 
		AND PCPL.STATE_ID		=	M.STATE_ID 
		AND C.CUSTOMER_ID		=	PCPL.CUSTOMER_ID 
		AND C.POLICY_ID			=	PCPL.POLICY_ID 
		AND C.POLICY_VERSION_ID	=	PCPL.POLICY_VERSION_ID
		AND PCPL.POLICY_LOB  IN (1,6)
	LEFT OUTER JOIN ACT_EARNED_PREMIUM EP WITH(NOLOCK) 
		on EP.CUSTOMER_ID	=C.CUSTOMER_ID 
		AND EP.POLICY_ID	=C.POLICY_ID 
		AND EP.POLICY_TERM	=PCPL.APP_TERMS AND EP.CURRENT_TERM=PCPL.CURRENT_TERM
		AND EP.VERSION_FOR_RISK=C.POLICY_VERSION_ID
		AND EP.RISK_ID			=C.RISK_ID 
		AND EP.RISK_TYPE		=C.RISK_TYPE 
		AND CONVERT(VARCHAR,EP.COVERAGEID)=C.COMP_EXT 
		AND EP.MONTH_NUMBER=@MONTH AND EP.YEAR_NUMBER=@YEAR
	WHERE C.COMPONENT_CODE IS NOT NULL 
	GROUP BY EP.CUSTOMER_ID,EP.POLICY_ID,PCPL.POLICY_VERSION_ID,PCPL.POLICY_NUMBER,C.PROCESS_TYPE,M.LOB_ID,M.STATE_ID,
     EP.POLICY_EFFECTIVE_DATE,EP.POLICY_TERM,EP.CURRENT_TERM,ISNULL(PCPL.POLICY_TYPE,'0'),C.COMPONENT_CODE,M.COV_ID,M.COV_DES,
	 EP.MONTH_NUMBER,EP.YEAR_NUMBER,EP.MONTH_ELAPSED
),

TMP_COV_PREMIUM_DETAILS1
as
(
SELECT T.CUSTOMER_ID,T.POLICY_ID,T.POLICY_VERSION_ID,T.POLICY_NUMBER,
CASE WHEN T.COMPONENT_CODE='REINSURANCE' THEN 
	(
	SELECT TOP 1 PROCESS_TYPE FROM TMP_COV_PREMIUM_DETAILS TT
	WHERE ST.REIN_SPLIT_COVERAGES LIKE '%' + CONVERT(VARCHAR,TT.COV_ID) + '%' 
	AND   TT.CUSTOMER_ID=T.CUSTOMER_ID AND TT.POLICY_ID=T.POLICY_ID AND TT.POLICY_VERSION_ID=T.POLICY_VERSION_ID
	AND TT.MONTH_NUMBER=T.MONTH_NUMBER AND TT.YEAR_NUMBER=T.YEAR_NUMBER
	)
ELSE T.PROCESS_TYPE END AS PROCESS_TYPE,
T.LOB_ID,T.STATE_ID,
CASE WHEN T.COMPONENT_CODE='REINSURANCE' THEN 
	(
	SELECT TOP 1 POLICY_EFFECTIVE_DATE FROM TMP_COV_PREMIUM_DETAILS TT
	WHERE ST.REIN_SPLIT_COVERAGES LIKE '%' + CONVERT(VARCHAR,TT.COV_ID) + '%' 
	AND   TT.CUSTOMER_ID=T.CUSTOMER_ID AND TT.POLICY_ID=T.POLICY_ID AND TT.POLICY_VERSION_ID=T.POLICY_VERSION_ID
	AND TT.MONTH_NUMBER=T.MONTH_NUMBER AND TT.YEAR_NUMBER=T.YEAR_NUMBER
	)
ELSE T.POLICY_EFFECTIVE_DATE END AS POLICY_EFFECTIVE_DATE,
CASE WHEN T.COMPONENT_CODE='REINSURANCE' THEN 
	(
	SELECT TOP 1 POLICY_TYPE FROM TMP_COV_PREMIUM_DETAILS TT
	WHERE ST.REIN_SPLIT_COVERAGES LIKE '%' + CONVERT(VARCHAR,TT.COV_ID) + '%' 
	AND   TT.CUSTOMER_ID=T.CUSTOMER_ID AND TT.POLICY_ID=T.POLICY_ID AND TT.POLICY_VERSION_ID=T.POLICY_VERSION_ID
	AND TT.MONTH_NUMBER=T.MONTH_NUMBER AND TT.YEAR_NUMBER=T.YEAR_NUMBER
	)
ELSE T.POLICY_TYPE END AS POLICY_TYPE,
T.COV_ID,
CASE WHEN T.COMPONENT_CODE='REINSURANCE' THEN 
	(
	SELECT ISNULL(SUM(ISNULL(TT.POLICY_LIMITS,0)),0) FROM TMP_COV_PREMIUM_DETAILS TT
	LEFT OUTER JOIN SPLIT_TABLE ST ON ST.STATE_ID=TT.STATE_ID AND ST.LOB_ID=TT.LOB_ID 
	AND (isnull(ST.POLICY_TYPE,'0') LIKE '%' + isnull(T.POLICY_TYPE,'0') + '%' or isnull(T.POLICY_TYPE,'0')='0')
	AND ST.REIN_EFFECTIVE_DATE<=isnull(POLICY_EFFECTIVE_DATE,ST.REIN_EFFECTIVE_DATE)
	WHERE ST.REIN_SPLIT_COVERAGES LIKE '%' + CONVERT(VARCHAR,TT.COV_ID) + '%' 
	AND   TT.REINSURANCE_CALC IN (13048,14243,14242) 
	AND   TT.CUSTOMER_ID=T.CUSTOMER_ID AND TT.POLICY_ID=T.POLICY_ID AND TT.POLICY_VERSION_ID=T.POLICY_VERSION_ID
	AND TT.MONTH_NUMBER=T.MONTH_NUMBER AND TT.YEAR_NUMBER=T.YEAR_NUMBER
	)
	ELSE
	CASE WHEN REINSURANCE_CALC IN (13048,14243,14242) THEN T.POLICY_LIMITS ELSE 0 END
	END AS COV_LIMIT,

CASE WHEN T.COMPONENT_CODE='REINSURANCE' THEN 
	(
	  SELECT SUM(ISNULL(COVERAGE_PREMIUM,0.00))
	FROM TMP_COV_PREMIUM_DETAILS TT
	WHERE  ST.REIN_SPLIT_COVERAGES LIKE '%' + CONVERT(VARCHAR,TT.COV_ID) + '%'  AND
    TT.CUSTOMER_ID=T.CUSTOMER_ID AND TT.POLICY_ID=T.POLICY_ID AND TT.POLICY_VERSION_ID=T.POLICY_VERSION_ID
	AND TT.MONTH_NUMBER=T.MONTH_NUMBER AND TT.YEAR_NUMBER=T.YEAR_NUMBER
	) * CASE WHEN ST.REIN_IST_SPLIT_COVERAGE LIKE '%' + CONVERT(VARCHAR,T.COV_ID)  + '%' THEN ISNULL(ST.REIN_IST_SPLIT,0) *.01
	  		 WHEN ST.REIN_2ND_SPLIT_COVERAGE LIKE '%' + CONVERT(VARCHAR,T.COV_ID)  + '%' THEN ISNULL(ST.REIN_2ND_SPLIT,0) *.01
	  		ELSE 1.00 END
	ELSE
	T.COVERAGE_PREMIUM
	END AS COV_PREMIUM,
T.COV_CATEGORY,T.COMPONENT_CODE,T.REINSURANCE_CALC,
CASE WHEN T.COMPONENT_CODE='REINSURANCE'  THEN
	(SELECT SUM(EARNED_PREMIUM)
		FROM TMP_COV_PREMIUM_DETAILS TT
		WHERE ST.REIN_SPLIT_COVERAGES LIKE '%' + CONVERT(VARCHAR,TT.COV_ID) + '%' AND
		TT.CUSTOMER_ID=T.CUSTOMER_ID AND TT.POLICY_ID=T.POLICY_ID AND TT.POLICY_VERSION_ID=T.POLICY_VERSION_ID
		AND TT.MONTH_NUMBER=T.MONTH_NUMBER AND TT.YEAR_NUMBER=T.YEAR_NUMBER
	)* CASE WHEN ST.REIN_IST_SPLIT_COVERAGE LIKE '%' + CONVERT(VARCHAR,T.COV_ID)  + '%' THEN ISNULL(ST.REIN_IST_SPLIT,0) *.01
	  		 WHEN ST.REIN_2ND_SPLIT_COVERAGE LIKE '%' + CONVERT(VARCHAR,T.COV_ID)  + '%' THEN ISNULL(ST.REIN_2ND_SPLIT,0) *.01
	  		ELSE 1.00 END
ELSE
T.EARNED_PREMIUM
END
AS
EARNED_PREMIUM,
MONTH_NUMBER,YEAR_NUMBER,COMPLETED 
FROM TMP_COV_PREMIUM_DETAILS T
LEFT OUTER JOIN SPLIT_TABLE ST ON ST.STATE_ID=T.STATE_ID AND ST.LOB_ID=T.LOB_ID 
AND (isnull(ST.POLICY_TYPE,'0') LIKE '%' + isnull(T.POLICY_TYPE,'0') + '%' or isnull(T.POLICY_TYPE,'0')='0')
AND ST.REIN_EFFECTIVE_DATE<=ISNULL(T.POLICY_EFFECTIVE_DATE,ST.REIN_EFFECTIVE_DATE)
),
--SELECT * FROM TMP_COV_PREMIUM_DETAILS1 TMP
--WHERE TMP.CUSTOMER_ID=496 AND TMP.POLICY_ID=9 and policy_version_id=1
--AND TMP.COMPONENT_CODE IN ('REINSURANCE','INCI_OFCE','COV_E')

TMP_COV_PREMIUM_DETAILS2
AS
( 
SELECT TMP.CUSTOMER_ID,TMP.POLICY_ID,TMP.POLICY_VERSION_ID,TMP.POLICY_NUMBER,TMP.PROCESS_TYPE,TMP.LOB_ID,TMP.STATE_ID,TMP.POLICY_EFFECTIVE_DATE,TMP.POLICY_TYPE,MAX(COV_ID) AS COV_ID,
   SUM(COV_LIMIT) AS COV_LIMIT,
   SUM(COV_PREMIUM )  AS COV_PREMIUM,
   COV_CATEGORY,
   MAX(COMPONENT_CODE) AS COMPONENT_CODE,
   REINSURANCE_CALC,
  SUM(EARNED_PREMIUM ) EARNED_PREMIUM,
	MONTH_NUMBER ,YEAR_NUMBER,COMPLETED
 FROM  TMP_COV_PREMIUM_DETAILS1  TMP
LEFT OUTER JOIN SPLIT_TABLE ST ON ST.STATE_ID=TMP.STATE_ID AND ST.LOB_ID=TMP.LOB_ID 
		AND (ISNULL(ST.POLICY_TYPE,'0') LIKE '%' + TMP.POLICY_TYPE + '%') 
		AND ST.REIN_EFFECTIVE_DATE<=ISNULL(TMP.POLICY_EFFECTIVE_DATE,ST.REIN_EFFECTIVE_DATE)
WHERE ST.REIN_SPLIT_COVERAGES NOT LIKE   '%' + CONVERT(VARCHAR,COV_ID) + '%'
GROUP BY TMP.CUSTOMER_ID,TMP.POLICY_ID,TMP.POLICY_VERSION_ID,TMP.POLICY_NUMBER,TMP.PROCESS_TYPE,TMP.LOB_ID,TMP.STATE_ID,TMP.POLICY_EFFECTIVE_DATE,TMP.POLICY_TYPE,
COV_CATEGORY,REINSURANCE_CALC,MONTH_NUMBER,YEAR_NUMBER,COMPLETED 
)
--INSERTING DATA OF THE MONTH AND YEAR
INSERT INTO POL_REINSURANCE_BREAKDOWN_DETAILS
(
CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,LOB_ID,STATE_ID,POLICY_NUMBER,INSURED_NAME,ADDRESS,CITY,ZIP_CODE,LOB_DESC,STATE_DESC,APP_EFFECTIVE_DATE,APP_EXPIRATION_DATE,REINS_SPECIAL_ACPT,
PROCESS_TRAN_DATE,TRAN_EFF_DATE,TRAN_DESC,MONTH_NUMBER,YEAR_NUMBER,SEQUENCE_NUMBER,COV_CATEGORY_ID,COMPLETED,STATEMENT_DATE,CONTRACT_NUMBER,PREMIUM_BASE,CONTRACT_YEAR,TOTAL_INS_VALUE,
TIV_GROUP,LAYER,LAYER_AMOUNT,REIN_LIMIT_FAB,COV_CATEGORY,TRAN_PREMIUM,EARNED,WRITTEN,CONSTRACTION,PROTECTION,CENTRAL_ALARM,NEW_HOME,HOME_AGE,DEDUCT_LAYER_1,DEDUCT_LAYER_2,RATE,REIN_PREMIUM,
COMM_PERCENTAGE,COMM_AMOUNT,NET_DUE,MAJOR_PARTICIPANT,RETENTION_PER,REIN_CEDED)
--TABLE2
select TMP.CUSTOMER_ID,TMP.POLICY_ID,TMP.POLICY_VERSION_ID,TMP.LOB_ID,TMP.STATE_ID,	
    TMP.POLICY_NUMBER,PT.INSURED_NAME,PT.ADDRESS,PT.CITY,PT.ZIP_CODE,PT.LOB_DESC, PT.STATE_DESC ,
	PT.APP_EFFECTIVE_DATE,PT.APP_EXPIRATION_DATE,PT.REINS_SPECIAL_ACPT,PT.TRAN_DATE AS PROCESS_TRAN_DATE,PT.TRAN_EFF_DATE,PT.TRAN_DESC,
	TMP.MONTH_NUMBER,TMP.YEAR_NUMBER,CONT.SEQUENCE_NUMBER,TMP.COV_CATEGORY AS COV_CATEGORY_ID,
    TMP.COMPLETED,
	CONVERT(VARCHAR,DATEADD(DD,-1,DATEADD(MM,1,CAST(CONVERT(VARCHAR,CASE WHEN isnull(TMP.MONTH_NUMBER,0)=0 THEN month(TMP.POLICY_EFFECTIVE_DATE) ELSE TMP.MONTH_NUMBER END) 
	+ '/01/' + CONVERT(VARCHAR,CASE WHEN isnull(TMP.YEAR_NUMBER,0)=0 THEN year(TMP.POLICY_EFFECTIVE_DATE) ELSE TMP.YEAR_NUMBER END) AS DATETIME))),101) AS STATEMENT_DATE,
    CONT.CONTRACT_NUMBER AS CONTRACT_NUMBER ,LK.LOOKUP_VALUE_DESC AS PREMIUM_BASE,CONTACT_YEAR as CONTRACT_YEAR,
	cast(TMP.COV_LIMIT as numeric) TOTAL_INS_VALUE,
	ISNULL(TIV.REIN_TIV_GROUP_CODE,'') AS  TIV_GROUP,
	LYR.LAYER LAYER,cast(replace(LYR.LAYER_AMOUNT,',','') as numeric) AS LAYER_AMOUNT,'' REIN_LIMIT_FAB,
	LK1.LOOKUP_VALUE_DESC COV_CATEGORY,
	--@PREMIUM_AMOUNT TRAN_PREMIUM,
	TMP.COV_PREMIUM TRAN_PREMIUM,
	--cast(TMP.COV_PREMIUM as numeric(10,2)) EARNED,
	CASE WHEN LK.LOOKUP_UNIQUE_ID = 11563 THEN TMP.EARNED_PREMIUM ELSE cast(TMP.COV_PREMIUM as numeric(10,2)) END EARNED,
	---14209 ->Reduce Premium by 50%
	---14210->If TIV > $1,000,000 Reduce Premium by 50% 
	---14211->9183A Premium all layers -based on Reinsurance Premium
	--case ISNULL(BLD.OTHER_INST,0) WHEN 14209 THEN  cast(@PREMIUM_AMOUNT/2 as numeric(10,2)) ELSE END   
	--cast(TMP.COV_PREMIUM as numeric(10,2)) WRITTEN,	
	null WRITTEN,
	-- ISNULL(BLD.CONSTRUCTION,0) CONSTRACTION,
	-- ISNULL(BLD.PROTECTION,0) PROTECTION,
	-- CASE ISNULL(BLD.ALARM_CREDIT,0) WHEN 10963 THEN ISNULL(BLD.ALARM_PERCENTAGE,0) ELSE 0 END CENTRAL_ALARM,  
	-- CASE ISNULL(BLD.HOME_CREDIT,0) WHEN 10963 THEN 'Yes' ELSE 'No' END NEW_HOME, 
	-- ISNULL(BLD.HOME_AGE,'') HOME_AGE,'' DEDUCT_LAYER_1,'' DEDUCT_LAYER_2,
	'' CONSTRACTION,
	ISNULL(dbo.func_ReinsuranceProtection(BLD.PREMIUM_BUILDER_ID),0) PROTECTION, --'' PROTECTION,
	'' CENTRAL_ALARM,  
	'' NEW_HOME, 
	'' HOME_AGE,'' DEDUCT_LAYER_1,'' DEDUCT_LAYER_2,
	ISNULL(BLD.RATE_APPLIED,0) RATE,
	--cast(@PREMIUM_AMOUNT/2 as numeric(10,2)) * ISNULL(BLD.RATE_APPLIED,0) * 0.01  REIN_PREMIUM, 
	--cast(cast(TMP.COV_PREMIUM as numeric(10,2)) * ISNULL(BLD.RATE_APPLIED,0) * 0.01 as numeric(10,2)) REIN_PREMIUM, 
       cast(CASE WHEN LK.LOOKUP_UNIQUE_ID = 11563 THEN TMP.EARNED_PREMIUM ELSE cast(TMP.COV_PREMIUM as numeric(10,2)) END * ISNULL(BLD.RATE_APPLIED,0) * 0.01 as numeric(10,2)) REIN_PREMIUM, 

	CONT.COMMISSION COMM_PERCENTAGE, 
	cast((CASE WHEN LK.LOOKUP_UNIQUE_ID = 11563 THEN TMP.EARNED_PREMIUM ELSE cast(TMP.COV_PREMIUM as numeric(10,2)) END * ISNULL(BLD.RATE_APPLIED,0) * 0.01) * CONT.COMMISSION * 0.01 as numeric(10,2) )COMM_AMOUNT,
	cast((CASE WHEN LK.LOOKUP_UNIQUE_ID = 11563 THEN TMP.EARNED_PREMIUM ELSE cast(TMP.COV_PREMIUM as numeric(10,2)) END * ISNULL(BLD.RATE_APPLIED,0) * 0.01) - ((CASE WHEN LK.LOOKUP_UNIQUE_ID = 11563 
	THEN TMP.EARNED_PREMIUM ELSE cast(TMP.COV_PREMIUM as numeric(10,2)) END * ISNULL(BLD.RATE_APPLIED,0) * 0.01) * CONT.COMMISSION * 0.01) as numeric(10,2))NET_DUE, 
	dbo.fun_GetmajorParticipant(CONT.CONTRACT_ID) MAJOR_PARTICIPANT,
	LYR.RETENTION_PERCENTAGE RETENTION_PER,
	LYR.REIN_CEDED REIN_CEDED

	from MNT_REINSURANCE_CONTRACT CONT with(nolock)
	inner join MNT_REIN_CONTRACT_LOB LOB with(nolock) on CONT.CONTRACT_ID=LOB.CONTRACT_ID --AND LOB.CONTRACT_LOB=6
	inner join MNT_REIN_CONTRACT_RISKEXPOSURE RSK with(nolock) on CONT.CONTRACT_ID=RSK.CONTRACT_ID
	inner join MNT_REIN_CONTRACT_STATE ST with(nolock) on CONT.CONTRACT_ID=ST.CONTRACT_ID --AND ST.STATE_ID=14
	INNER JOIN MNT_LOOKUP_VALUES LK with(nolock) ON CONT.CALCULATION_BASE=LK.LOOKUP_UNIQUE_ID

	INNER JOIN MNT_REIN_LOSSLAYER LYR with(nolock) ON LYR.CONTRACT_ID=CONT.CONTRACT_ID
	LEFT OUTER JOIN  MNT_REIN_PREMIUM_BUILDER BLD with(nolock) ON BLD.CONTRACT_ID=CONT.CONTRACT_ID AND BLD.LAYER=LYR.LAYER
	inner join TMP_COV_PREMIUM_DETAILS2 TMP on TMP.COV_CATEGORY=case dbo.instring(replace(BLD.COVERAGE_CATEGORY,',',' '),TMP.COV_CATEGORY) when 0 then 0 else TMP.COV_CATEGORY end
	AND LOB.CONTRACT_LOB=TMP.LOB_ID AND ST.STATE_ID=TMP.STATE_ID
	AND ISNULL(TMP.MONTH_NUMBER,0) <>0  AND ISNULL(TMP.YEAR_NUMBER,0)<>0
	INNER JOIN MNT_LOOKUP_VALUES LK1 with(nolock) ON TMP.COV_CATEGORY=LK1.LOOKUP_UNIQUE_ID
	
	AND TMP.POLICY_EFFECTIVE_DATE between BLD.EFFECTIVE_DATE and BLD.EXPIRY_DATE  

	LEFT OUTER JOIN MNT_REIN_TIV_GROUP TIV with(nolock) ON TIV.REIN_TIV_CONTRACT_NUMBER=CONT.CONTRACT_NUMBER 
	AND TMP.COV_LIMIT BETWEEN CAST(TIV.REIN_TIV_FROM AS MONEY) AND CAST(TIV.REIN_TIV_TO AS MONEY)
	AND TIV.REIN_TIV_EFFECTIVE_DATE <=TMP.POLICY_EFFECTIVE_DATE
	LEFT OUTER JOIN PROCESS_TABLE PT ON 
	PT.CUSTOMER_ID=TMP.CUSTOMER_ID AND PT.POLICY_ID=TMP.POLICY_ID AND PT.POLICY_VERSION_ID=TMP.POLICY_VERSION_ID AND PT.LOB_ID=TMP.LOB_ID
	where TMP.POLICY_EFFECTIVE_DATE between CONT.EFFECTIVE_DATE and CONT.EXPIRATION_DATE 
	AND 
              (TMP.COV_LIMIT >= (CASE CAST(REPLACE(BLD.TOTAL_INSURANCE_FROM,',','') AS NUMERIC) WHEN 0 THEN TMP.COV_LIMIT ELSE CAST(REPLACE(BLD.TOTAL_INSURANCE_FROM,',','') AS NUMERIC) END)
		AND 
		TMP.COV_LIMIT < (CASE CAST(REPLACE(BLD.TOTAL_INSURANCE_TO,',','') AS NUMERIC) WHEN 0 THEN TMP.COV_LIMIT +1  ELSE CAST(REPLACE(BLD.TOTAL_INSURANCE_TO,',','') AS NUMERIC) END) 
	      )	
	and ISNULL(TMP.COV_PREMIUM,0)<>0
  --	order by TMP.MONTH_NUMBER,CONT.SEQUENCE_NUMBER,LYR.LAYER,LK1.LOOKUP_UNIQUE_ID 



GO

