IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_UPDATEMAPPEDQUESTION]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_UPDATEMAPPEDQUESTION]
GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER ON
GO




/*----------------------------------------------------------
Proc Name      		: dbo.Proc_GetMappedQuestion
Created by      	: Manabendra Roy
Date            	: 07/01/2005
Purpose    	  	: Updated Mapped Questions
Revison History :
Used In 	        : Wolverine
------------------------------------------------------------
Date     Review By          Comments
------   ------------       -------------------------*/
CREATE   PROC DBO.PROC_UPDATEMAPPEDQUESTION
@CARRIERID INT,
@SCREENID INT,
@QUESMAPPINGID INT,
@QID INT
AS
BEGIN

DECLARE @FIELDID INT
SELECT @FIELDID = ISNULL(MAX(QUESMAPPING),0) FROM USERQUESTIONS WHERE CARRIERID=@CARRIERID  AND SCREENID=@SCREENID  AND QUESMAPPING=@QUESMAPPINGID  AND TABID IN (SELECT TABID FROM QUESTIONTABMASTER WHERE SCREENID=@SCREENID AND ISACTIVE='Y')

IF (@FIELDID > 0)
BEGIN
	UPDATE USERQUESTIONS SET QUESMAPPING=NULL WHERE QUESMAPPING=@FIELDID  AND SCREENID=@SCREENID  AND CARRIERID=@CARRIERID AND TABID IN (SELECT TABID FROM QUESTIONTABMASTER WHERE SCREENID=@SCREENID AND ISACTIVE='Y')
END

UPDATE USERQUESTIONS SET QUESMAPPING=@QUESMAPPINGID WHERE QID=@QID AND SCREENID=@SCREENID  AND CARRIERID=@CARRIERID AND TABID IN (SELECT TABID FROM QUESTIONTABMASTER WHERE SCREENID=@SCREENID AND ISACTIVE='Y')

END



GO

