IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetCoverages]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetCoverages]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



CREATE       PROCEDURE Proc_GetCoverages
(
	@CUSTOMER_ID Int,
	@APP_ID Int,
	@APP_VERSION_ID smallint
)
AS

DECLARE @STATEID SmallInt
DECLARE @LOBID NVarCHar(5)

SELECT @STATEID = STATE_ID,
	@LOBID = APP_LOB
FROM APP_LIST
WHERE CUSTOMER_ID = @CUSTOMER_ID AND
	APP_ID = @APP_ID AND
	APP_VERSION_ID = @APP_VERSION_ID

SELECT COV_ID,
	COV_REF_CODE,
	COV_CODE,
	COV_DES,
	CONVERT(VarChar(10),COV_ID) + ';' + COV_CODE as DataValueField,
	IS_DEFAULT
FROM MNT_COVERAGE
WHERE STATE_ID = @STATEID AND
	LOB_ID = @LOBID AND
	IS_ACTIVE = 'Y' AND
	PURPOSE IN (1 , 3)	--Purpose should either new business or both
ORDER BY COV_DES



GO

