IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_InsertCustomerVehicleToUmbVehicle]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_InsertCustomerVehicleToUmbVehicle]
GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER OFF
GO



/*----------------------------------------------------------
Proc Name          : Dbo.Proc_InsertCustomerVehicleToUmbVehicle
Created by           : Mohit Gupta
Date                    : 19/05/2005
Purpose               : 
Revison History :
Used In                :   Wolverine  
------------------------------------------------------------
Date     Review By          Comments
------   ------------       -------------------------*/
CREATE   PROCEDURE Proc_InsertCustomerVehicleToUmbVehicle
(
	@FROM_CUSTOMER_ID int,
	@TO_CUSTOMER_ID int,
	@FROM_APP_ID int,
	@TO_APP_ID int,
	@FROM_APP_VERSION_ID int,
	@TO_APP_VERSION_ID int,
	@FROM_VEHICLE_ID int,	
	@COVERAGE_TO_BE_COPY  Char(1) ='N',	 --DEFAULT VALUE 'N' MEANS COVERAGE DETAILS NOT TO BE COPY.  
             @CREATED_BY_USER_ID  int  =14	
	
)
AS
BEGIN
Declare @To_Vehicle_Id int     -- CONTAINS THE RUNING NUMBER FOR VEHICLE_ID
Declare @To_Vehicle_Num int    -- CONTAINS THE RUNING NUMBER FOR VEHICLE number

SELECT  @To_Vehicle_Id = ISNULL(MAX(VEHICLE_ID),0) + 1 ,
@To_Vehicle_Num =  ISNULL(MAX(INSURED_VEH_NUMBER),0) + 1 
                               FROM           APP_VEHICLES 
                                WHERE       CUSTOMER_ID=@TO_CUSTOMER_ID
	                  AND              APP_ID=@TO_APP_ID
                                AND             APP_VERSION_ID=@TO_APP_VERSION_ID   


INSERT INTO APP_UMBRELLA_VEHICLE_INFO
( 
CUSTOMER_ID,APP_ID,APP_VERSION_ID,VEHICLE_ID,
INSURED_VEH_NUMBER,VEHICLE_YEAR,MAKE,MODEL,VIN,BODY_TYPE,GRG_ADD1,GRG_ADD2,GRG_CITY,
GRG_COUNTRY,GRG_STATE,GRG_ZIP,REGISTERED_STATE,TERRITORY,CLASS,REGN_PLATE_NUMBER,
ST_AMT_TYPE,AMOUNT,SYMBOL,VEHICLE_AGE,IS_OWN_LEASE,PURCHASE_DATE,IS_NEW_USED,AMOUNT_COST_NEW,
MILES_TO_WORK,VEHICLE_USE,VEH_PERFORMANCE,MULTI_CAR,ANNUAL_MILEAGE,PASSIVE_SEAT_BELT,
AIR_BAG,ANTI_LOCK_BRAKES,P_SURCHARGES,DEACTIVATE_REACTIVATE_DATE,IS_ACTIVE,CREATED_BY,
CREATED_DATETIME,VEHICLE_CC,MOTORCYCLE_TYPE,REMARKS
)
SELECT
@TO_CUSTOMER_ID,@TO_APP_ID,@TO_APP_VERSION_ID,@To_Vehicle_Id,
@To_Vehicle_Num, VEHICLE_YEAR,MAKE,MODEL,VIN,BODY_TYPE,GRG_ADD1,GRG_ADD2,
GRG_CITY,GRG_COUNTRY,GRG_STATE,GRG_ZIP,REGISTERED_STATE,TERRITORY,CLASS,
REGN_PLATE_NUMBER,ST_AMT_TYPE,AMOUNT,SYMBOL,VEHICLE_AGE,IS_OWN_LEASE,PURCHASE_DATE,
IS_NEW_USED,AMOUNT_COST_NEW,MILES_TO_WORK,VEHICLE_USE,VEH_PERFORMANCE,MULTI_CAR,
ANNUAL_MILEAGE,PASSIVE_SEAT_BELT,AIR_BAG,ANTI_LOCK_BRAKES,P_SURCHARGES,DEACTIVATE_REACTIVATE_DATE,
IS_ACTIVE,@CREATED_BY_USER_ID,GETDATE(),VEHICLE_CC,MOTORCYCLE_TYPE,REMARKS

FROM       APP_UMBRELLA_VEHICLE_INFO
WHERE   CUSTOMER_ID=@FROM_CUSTOMER_ID
AND         APP_ID=@FROM_APP_ID
AND         APP_VERSION_ID=@FROM_APP_VERSION_ID
AND         VEHICLE_ID=@FROM_VEHICLE_ID


	IF ( @COVERAGE_TO_BE_COPY = 'Y')  -- COPY ONLY IF  'Y' IS PASSED AS PARAMETER.
		BEGIN
			INSERT INTO APP_VEHICLE_COVERAGES
			(
			CUSTOMER_ID,APP_ID,APP_VERSION_ID,VEHICLE_ID,COVERAGE_ID,
			COVERAGE_CODE_ID,LIMIT_OVERRIDE,LIMIT_1,LIMIT_1_TYPE,LIMIT_2,LIMIT_2_TYPE,
			DEDUCT_OVERRIDE,DEDUCTIBLE_1,DEDUCTIBLE_1_TYPE,DEDUCTIBLE_2,DEDUCTIBLE_2_TYPE,
			WRITTEN_PREMIUM,FULL_TERM_PREMIUM,IS_SYSTEM_COVERAGE 
			)
			SELECT
			@TO_CUSTOMER_ID,@TO_APP_ID,@TO_APP_VERSION_ID,@To_Vehicle_Id,COVERAGE_ID,
			COVERAGE_CODE_ID,LIMIT_OVERRIDE,LIMIT_1,LIMIT_1_TYPE,LIMIT_2,LIMIT_2_TYPE,
			DEDUCT_OVERRIDE,DEDUCTIBLE_1,DEDUCTIBLE_1_TYPE,DEDUCTIBLE_2,DEDUCTIBLE_2_TYPE,
			WRITTEN_PREMIUM,FULL_TERM_PREMIUM,IS_SYSTEM_COVERAGE 
			FROM       APP_VEHICLE_COVERAGES
			WHERE   CUSTOMER_ID=@FROM_CUSTOMER_ID
			AND         APP_ID=@FROM_APP_ID
			AND         APP_VERSION_ID=@FROM_APP_VERSION_ID
			AND         VEHICLE_ID=@FROM_VEHICLE_ID
		END
END


GO

