IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_PostPolicyRevertBackPremiun]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_PostPolicyRevertBackPremiun]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

  
--BEGIN TRAN     
--DROP PROC Proc_PostPolicyRevertBackPremiun    
--GO    
/*----------------------------------------------------------                                                        
Proc Name       : dbo.Proc_PostPolicyRevertBackPremiun                                                       
            
Modified by   : Lalit Kr Chauhan    
Modified On   : March 18,2011    
Purpose       : To post Revert Back premium     
drop proc Proc_PostPolicyRevertBackPremiun   2764,319,8,6,37,427,'05/12/2011'   
*/    
CREATE Proc [dbo].[Proc_PostPolicyRevertBackPremiun]    
(    
@CUSTOMER_ID INT,    
@POLICY_ID INT,    
@POLICY_VERSION_ID INT,    
@BASE_VERSION_ID INT,    
@PROCESS_ID INT,    
@REVERT_BACK_VERSION NVARCHAR(50) = NULL,    
@CREATED_BY INT= NULL,    
@CREATED_DATETIME  DATETIME= NULL,    
@RET_VAL INT=1 OUT    
)    
AS     
BEGIN     
     
 DECLARE @REVERT_PREMIUM DECIMAL(25,2),@CURRENT_TERM INT,    
 @REVERT_TOTAL DECIMAL(25,2),@REVERT_TRAN_PREMIUM DECIMAL(25,2),    
 @REVERT_TRAN_TOTAL DECIMAL(25,2),@REVERT_TRAN_FEE DECIMAL(25,2),    
 @REVERT_TRAN_TAX DECIMAL(25,2),@REVERT_TRAN_INTER DECIMAL(25,2),    
 @MODE_OF_PAYMENT INT,@NO_OF_PAYMENTS INT,@SUM_PAID_AMOUNT DECIMAL(25,2)    
     
     
 SELECT @CURRENT_TERM = CURRENT_TERM FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK)    
 WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID     
 AND POLICY_VERSION_ID = @POLICY_VERSION_ID    
     
 SELECT @MODE_OF_PAYMENT  = MODE_OF_PAYMENT FROM ACT_POLICY_INSTALL_PLAN_DATA WITH(NOLOCK)    
 WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @BASE_VERSION_ID    


  
     
 SELECT     
 @REVERT_TRAN_PREMIUM = SUM(TOTAL_TRAN_PREMIUM),    
 @REVERT_TRAN_TOTAL = SUM(TOTAL_TRAN_AMOUNT),    
 @REVERT_TRAN_FEE = SUM(TOTAL_TRAN_FEES),    
 @REVERT_TRAN_TAX= SUM(TOTAL_TRAN_TAXES),    
 @REVERT_TRAN_INTER= SUM(TOTAL_TRAN_INTEREST_AMOUNT)     
 FROM  ACT_POLICY_INSTALL_PLAN_DATA PL WITH(NOLOCK) WHERE CUSTOMER_ID =@CUSTOMER_ID    
 AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID IN (SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST PL2 WITH(NOLOCK)    
 WHERE PL2.CUSTOMER_ID = PL.CUSTOMER_ID AND PL2.POLICY_ID = PL.POLICY_ID AND PL2.CURRENT_TERM = @CURRENT_TERM    
 AND PL2.POLICY_VERSION_ID > @BASE_VERSION_ID)    
   
 SELECT @NO_OF_PAYMENTS  = NO_OF_PAYMENTS FROM ACT_POLICY_INSTALL_PLAN_DATA wITH(NOLOCK)
 WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @BASE_VERSION_ID
    -- SELECT @REVERT_TRAN_PREMIUM, @REVERT_TRAN_TAX , @REVERT_TRAN_FEE , @REVERT_TRAN_INTER

     
 IF(ISNULL(@REVERT_TRAN_PREMIUM,0) <> 0 OR ISNULL(@REVERT_TRAN_TAX,0) <> 0 OR ISNULL(@REVERT_TRAN_FEE,0) <> 0 or ISNULL(@REVERT_TRAN_INTER,0)<> 0)    ---if policy any amount to revert
     BEGIN
    

    
    
    --added by Lalit if base version id is not exists in billing table then it consider next less value as BasVersionId.
   IF NOT EXISTS(SELECT * FROM ACT_POLICY_INSTALL_PLAN_DATA WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID 
    AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @BASE_VERSION_ID ) 
    BEGIN
		SELECT  @BASE_VERSION_ID = MAX(POLICY_VERSION_ID) FROM ACT_POLICY_INSTALLMENT_DETAILS WITH(NOLOCK) 
		WHERE CUSTOMER_ID = @CUSTOMER_ID 
		AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID < @BASE_VERSION_ID 
		AND POLICY_VERSION_ID IN (SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK)  WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID 
		 = @POLICY_ID AND CURRENT_TERM = @CURRENT_TERM)
    END
    
   
   
 INSERT INTO ACT_POLICY_INSTALL_PLAN_DATA    
 (POLICY_ID ,POLICY_VERSION_ID,CUSTOMER_ID,PLAN_ID,APP_ID,APP_VERSION_ID,    
PLAN_DESCRIPTION,PLAN_TYPE,NO_OF_PAYMENTS,MONTHS_BETWEEN,PERCENT_BREAKDOWN1,    
PERCENT_BREAKDOWN2,PERCENT_BREAKDOWN3,PERCENT_BREAKDOWN4,PERCENT_BREAKDOWN5,    
PERCENT_BREAKDOWN6,PERCENT_BREAKDOWN7,PERCENT_BREAKDOWN8,PERCENT_BREAKDOWN9,    
PERCENT_BREAKDOWN10,PERCENT_BREAKDOWN11,PERCENT_BREAKDOWN12,MODE_OF_DOWN_PAYMENT,    
INSTALLMENTS_IN_DOWN_PAYMENT,MODE_OF_PAYMENT,CURRENT_TERM,IS_ACTIVE_PLAN,TOTAL_PREMIUM,    
TOTAL_INTEREST_AMOUNT,TOTAL_FEES,TOTAL_TAXES,TOTAL_AMOUNT,TRAN_TYPE,    
TOTAL_TRAN_PREMIUM,    
TOTAL_TRAN_INTEREST_AMOUNT,TOTAL_TRAN_FEES,TOTAL_TRAN_TAXES,TOTAL_TRAN_AMOUNT,    
CREATED_BY,    
CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,TOTAL_CHANGE_INFORCE_PRM,PRM_DIST_TYPE,    
TOTAL_INFO_PRM,TOTAL_STATE_FEES,TOTAL_TRAN_STATE_FEES,CO_APPLICANT_ID)    
 SELECT     
 POLICY_ID ,@POLICY_VERSION_ID,CUSTOMER_ID,PLAN_ID,APP_ID,@POLICY_VERSION_ID,    
PLAN_DESCRIPTION,PLAN_TYPE,NO_OF_PAYMENTS,MONTHS_BETWEEN,PERCENT_BREAKDOWN1,    
PERCENT_BREAKDOWN2,PERCENT_BREAKDOWN3,PERCENT_BREAKDOWN4,PERCENT_BREAKDOWN5,    
PERCENT_BREAKDOWN6,PERCENT_BREAKDOWN7,PERCENT_BREAKDOWN8,PERCENT_BREAKDOWN9,    
PERCENT_BREAKDOWN10,PERCENT_BREAKDOWN11,PERCENT_BREAKDOWN12,MODE_OF_DOWN_PAYMENT,    
INSTALLMENTS_IN_DOWN_PAYMENT,MODE_OF_PAYMENT,CURRENT_TERM,IS_ACTIVE_PLAN,TOTAL_PREMIUM,    
TOTAL_INTEREST_AMOUNT,TOTAL_FEES,TOTAL_TAXES,TOTAL_AMOUNT,'END',    
@REVERT_TRAN_PREMIUM*-1,    
@REVERT_TRAN_INTER*-1,@REVERT_TRAN_FEE*-1,@REVERT_TRAN_TAX*-1,    
ISNULL(@REVERT_TRAN_PREMIUM+@REVERT_TRAN_INTER+@REVERT_TRAN_FEE+@REVERT_TRAN_TAX,0)*-1,    
@CREATED_BY,    
@CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,@REVERT_TRAN_PREMIUM*-1,PRM_DIST_TYPE,    
TOTAL_INFO_PRM,TOTAL_STATE_FEES,TOTAL_TRAN_STATE_FEES,CO_APPLICANT_ID  
  FROM ACT_POLICY_INSTALL_PLAN_DATA WITH(NOLOCK)    
 WHERE CUSTOMER_ID = @CUSTOMER_ID AND     
 POLICY_ID = @POLICY_ID AND     
 POLICY_VERSION_ID  = @BASE_VERSION_ID    
 IF @@ERROR<>0     
  GOTO ERRHANDLER    

-- INSERT INTO ACT_POLICY_INSTALLMENT_DETAILS(    
-- POLICY_ID,POLICY_VERSION_ID,CUSTOMER_ID,APP_ID,APP_VERSION_ID,INSTALLMENT_AMOUNT,    
--INSTALLMENT_EFFECTIVE_DATE,RELEASED_STATUS,INSTALLMENT_NO,RISK_ID,RISK_TYPE,    
--PAYMENT_MODE,CURRENT_TERM,PERCENTAG_OF_PREMIUM,INTEREST_AMOUNT,    
--FEE,TAXES,TOTAL,TRAN_INTEREST_AMOUNT,   A.INSTALLMENT_NO 
--TRAN_FEE,TRAN_TAXES,TRAN_TOTAL,CREATED_BY,CREATED_DATETIME,    
--MODIFIED_BY,LAST_UPDATED_DATETIME,TRAN_PREMIUM_AMOUNT,CO_APPLICANT_ID,INSTALLMENT_EXPIRE_DATE)    
SELECT *  INTO #tempBillingDetails FROM(
  SELECT 1 ROW_ID,@POLICY_ID POLICY_ID,@POLICY_VERSION_ID POLICY_VERSION_ID,@CUSTOMER_ID CUSTOMER_ID,@POLICY_ID APP_ID ,@POLICY_VERSION_ID APP_VERSION_ID,
   A.INSTALLMENT_AMOUNT*-1 as INSTALLMENT_AMOUNT,    
 --A.INSTALLMENT_AMOUNT*-1,    
  GETDATE() INSTALLMENT_EFFECTIVE_DATE,
  CASE WHEN  A.RELEASED_STATUS  = 'Y' THEN 'N' ELSE 'U' END RELEASED_STATUS,  
--for cancel endorsement paid endorsement installment should be refund .so paid endorsement boleto equal premium show on billing info tab for refund or to be billed
--and rest premium of paid/refund should maintainh n table with 'U' status for system balance for information of total transaction.
--Installment of released status 'U' not show on billing info tab
--A.RELEASED_STATUS,
  1 INSTALLMENT_NO,null RISK_ID
,null RISK_TYPE,    
  @MODE_OF_PAYMENT MODE_OF_PAYMENT,@CURRENT_TERM CURRENT_TERM,
  ISNULL((A.INSTALLMENT_AMOUNT/@REVERT_TRAN_TOTAL)*100,0) PERCENTAG_OF_PREMIUM,
   CASE WHEN  A.RELEASED_STATUS  = 'Y' THEN 
   A.INTEREST_AMOUNT*-1 ELSE 
   A.INTEREST_AMOUNT END INTEREST_AMOUNT,    
   A.FEE*-1  as  FEE,  --A.FEE*-1,
   A.TAXES*-1 as TAXES,  --A.TAXES*-1,
   A.TOTAL*-1 as TOTAL,  --A.TOTAL*-1,
   A.TRAN_INTEREST_AMOUNT*-1 as TRAN_INTEREST_AMOUNT,--A.TRAN_INTEREST_AMOUNT*-1,    
   A.TRAN_FEE*-1 as TRAN_FEE,--A.TRAN_FEE*-1,
   A.TRAN_TAXES*-1 as TRAN_TAXES,--A.TRAN_TAXES*-1,
   A.TRAN_TOTAL*-1 as TRAN_TOTAL,--A.TRAN_TOTAL*-1,  
   @CREATED_BY CREATED_BY,
   @CREATED_DATETIME CREATED_DATETIME,    
   NULL MODIFIED_BY ,NULL LAST_UPDATED_DATETIME,
   A.TRAN_PREMIUM_AMOUNT*-1 as TRAN_PREMIUM_AMOUNT,--A.TRAN_PREMIUM_AMOUNT*-1,
   A.CO_APPLICANT_ID CO_APPLICANT_ID, GETDATE()  INSTALLMENT_EXPIRE_DATE   
   FROM     
 (SELECT SUM(INSTALLMENT_AMOUNT)INSTALLMENT_AMOUNT,SUM(INTEREST_AMOUNT) INTEREST_AMOUNT,    
 SUM(FEE)FEE,SUM(TAXES)TAXES, SUM(TOTAL)TOTAL,SUM(TRAN_INTEREST_AMOUNT)TRAN_INTEREST_AMOUNT,    
 SUM(TRAN_FEE)TRAN_FEE,SUM(TRAN_TAXES)TRAN_TAXES,SUM(TRAN_TOTAL)TRAN_TOTAL,    
 SUM(TRAN_PREMIUM_AMOUNT)TRAN_PREMIUM_AMOUNT,     
 CO_APPLICANT_ID,RELEASED_STATUS FROM ACT_POLICY_INSTALLMENT_DETAILS PL WITH(NOLOCK) WHERE CUSTOMER_ID =@CUSTOMER_ID    
 AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID IN (SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST PL2 WITH(NOLOCK)    
 WHERE PL2.CUSTOMER_ID = PL.CUSTOMER_ID AND PL2.POLICY_ID = PL.POLICY_ID AND PL2.CURRENT_TERM = @CURRENT_TERM    
 AND PL2.POLICY_VERSION_ID > @BASE_VERSION_ID)
 GROUP BY RELEASED_STATUS,
 CO_APPLICANT_ID)A) temp  
 

  INSERT INTO ACT_POLICY_INSTALLMENT_DETAILS(    
 POLICY_ID,POLICY_VERSION_ID,CUSTOMER_ID,APP_ID,APP_VERSION_ID,INSTALLMENT_AMOUNT,    
INSTALLMENT_EFFECTIVE_DATE,RELEASED_STATUS,INSTALLMENT_NO,RISK_ID,RISK_TYPE,    
PAYMENT_MODE,CURRENT_TERM,PERCENTAG_OF_PREMIUM,INTEREST_AMOUNT,    
FEE,TAXES,TOTAL,TRAN_INTEREST_AMOUNT,
TRAN_FEE,TRAN_TAXES,TRAN_TOTAL,CREATED_BY,CREATED_DATETIME,    
MODIFIED_BY,LAST_UPDATED_DATETIME,TRAN_PREMIUM_AMOUNT,CO_APPLICANT_ID,INSTALLMENT_EXPIRE_DATE)    
 SELECT  POLICY_ID,POLICY_VERSION_ID,CUSTOMER_ID,APP_ID,APP_VERSION_ID,INSTALLMENT_AMOUNT,    
INSTALLMENT_EFFECTIVE_DATE,RELEASED_STATUS,
--ROW_NUMBER() OVER(ORDER BY ROW_ID) 
1
,RISK_ID,RISK_TYPE,    
MODE_OF_PAYMENT,CURRENT_TERM,PERCENTAG_OF_PREMIUM,INTEREST_AMOUNT,    
FEE,TAXES,TOTAL,TRAN_INTEREST_AMOUNT, 
TRAN_FEE,TRAN_TAXES,TRAN_TOTAL,CREATED_BY,CREATED_DATETIME,    
MODIFIED_BY,LAST_UPDATED_DATETIME,TRAN_PREMIUM_AMOUNT,CO_APPLICANT_ID,INSTALLMENT_EXPIRE_DATE FROM  #tempBillingDetails
-- WHERE RELEASED_STATUS = 'N'
 
 
-- --SELECT @NO_OF_PAYMENTS
--  SELECT @SUM_PAID_AMOUNT = SUM(ISNULL(INSTALLMENT_AMOUNT,0)) FROM  #tempBillingDetails WHERE RELEASED_STATUS = 'N'
--  SELECT * FROM  #tempBillingDetails
 
-- --SELECT * FROM  #tempBillingDetails WHERE RELEASED_STATUS = 'C'
-- --UNION
-- SELECT 
-- POLICY_ID,POLICY_VERSION_ID,CUSTOMER_ID,APP_ID,APP_VERSION_ID,
-- INSTALLMENT_AMOUNT/@NO_OF_PAYMENTS INSTALLMENT_AMOUNT
-- ,    
--INSTALLMENT_EFFECTIVE_DATE,RELEASED_STATUS,INSTALLMENT_NO,RISK_ID,RISK_TYPE,    
--MODE_OF_PAYMENT,CURRENT_TERM,
--ISNULL(((INSTALLMENT_AMOUNT/@NO_OF_PAYMENTS)/@SUM_PAID_AMOUNT)*100,0) PERCENTAG_OF_PREMIUM,

--INTEREST_AMOUNT,    
--FEE,TAXES,TOTAL,TRAN_INTEREST_AMOUNT,  INSTALLMENT_NO 
--TRAN_FEE,TRAN_TAXES,TRAN_TOTAL,CREATED_BY,CREATED_DATETIME,    
--MODIFIED_BY,LAST_UPDATED_DATETIME,TRAN_PREMIUM_AMOUNT,CO_APPLICANT_ID,INSTALLMENT_EXPIRE_DATE 
--FROM  #tempBillingDetails WHERE RELEASED_STATUS = 'N'
 
 
 DROP  TABLE #tempBillingDetails
 
 
 --mark unpaid installment canceled of cancelled endorsement version
 UPDATE ACT_POLICY_INSTALLMENT_DETAILS SET RELEASED_STATUS = 'C' 
 WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID
 AND POLICY_VERSION_ID  > @BASE_VERSION_ID 
 and POLICY_VERSION_ID <> @POLICY_VERSION_ID 
 AND ISNULL(RELEASED_STATUS,'N')<> 'Y' 
 
 --mark unpaid boleto canceled of cancelled endorsement version
 UPDATE POL_INSTALLMENT_BOLETO SET IS_ACTIVE = 'N'WHERE BOLETO_ID IN(
 SELECT BOLETO_ID FROM ACT_POLICY_INSTALLMENT_DETAILS INS WITH(NOLOCK) 
 JOIN
 POL_INSTALLMENT_BOLETO BOLETO WITH(NOLOCK) ON
 INS.CUSTOMER_ID = BOLETO.CUSTOMER_ID and 
 INS.POLICY_ID = BOLETO.POLICY_ID 
 and INS.POLICY_VERSION_ID = BOLETO.POLICY_VERSION_ID
 WHERE INS.CUSTOMER_ID = @CUSTOMER_ID AND INS.POLICY_ID = @POLICY_ID
 AND INS.POLICY_VERSION_ID >@BASE_VERSION_ID  and INS.POLICY_VERSION_ID <> @POLICY_VERSION_ID
 AND ISNULL(INS.RELEASED_STATUS,'N')<> 'Y' 
 )
 
 
 
 
 
 
 IF @@ERROR<>0     
  GOTO ERRHANDLER    
      
   END   
     
  SET @RET_VAL =1       
 RETURN 1     
     
     
 ERRHANDLER:      
  set @RET_VAL =-1       
  RETURN -1      
      
    
     
END    
--GO    
--DECLARE @RET_VAL INT     

----SELECT @RET_VAL    
    
--DECLARE @CUSTOMER_ID INT =28070 ,    
--@POLICY_ID INT =498  ,    
--@POLICY_VERSION_ID INT =  3 ,    
--@BASE_VERSION_ID INT = 1,    
--@PROCESS_ID INT = 37,    
--@REVERT_BACK_VERSION NVARCHAR(50) = null,    
--@CREATED_BY INT =  398,    
--@CREATED_DATETIME  DATETIME= '05/20/2011'    
    
-- EXEC Proc_PostPolicyRevertBackPremiun   @CUSTOMER_ID,@POLICY_ID,@POLICY_VERSION_ID,@BASE_VERSION_ID,@PROCESS_ID,null,@CREATED_BY,'05/12/2011'  ,@RET_VAL OUT    
-- --SELECT @RET_VAL  
----SELECT * FROM ACT_POLICY_INSTALL_PLAN_DATA WHERE CUSTOMER_ID = 28070 AND POLICY_ID = 349 AND POLICY_VERSION_ID = @POLICY_VERSION_ID    
--SELECT * FROM ACT_POLICY_INSTALLMENT_DETAILS  WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID-- AND POLICY_VERSION_ID = 5    
--ROLLBACK TRAN  
GO

