IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetUnderCanc_PoliciesToRollback]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetUnderCanc_PoliciesToRollback]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------                
Proc Name       :  dbo.Proc_GetUnderCanc_PoliciesToRollback
Created by      :  Ravindra
Date            :  4-12-2007
Purpose         :  
Revison History :                
Used In         :  Wolverine                
                
exec Proc_GetUnderCanc_PoliciesToRollback
------------------------------------------------------------                
Date     Review By          Comments                
------   ------------       -------------------------*/                
-- drop proc dbo.Proc_GetUnderCanc_PoliciesToRollback
CREATE PROC [dbo].[Proc_GetUnderCanc_PoliciesToRollback]
AS
BEGIN 

DECLARE @CANCELLATION_PROCESS_ID  Int,
	@NON_PAY		  Int,
	@INSURED_REQUEST	 Int,
	@EOD_DATE DateTime

SET @EOD_DATE = DATEADD(DD,1,GETDATE())
SET @CANCELLATION_PROCESS_ID   	= 2
SET @NON_PAY 			= 11969
SET @INSURED_REQUEST	= 	11989

CREATE TABLE #POLICIES_TO_ROLLBACK
(	IDEN_COL		Int Identity(1,1) not null,
	CUSTOMER_ID 		Int,
	POLICY_ID		Int,
	POLICY_VERSION_ID	Int,
	CURRENT_TERM		Int,
	BILL_TYPE		Char(2),
	CANCELLATION_TYPE	Int,
	PROCESS_ROW_ID		Int,
	EFFECTIVE_DATE		Datetime,
	DUE_DATE 		DateTime,
	LAUNCH_DATE		Datetime,
	CANCELLATION_NOTICE_SENT Char(1),
	UNDER_PAYMENT_ALLOWED	Decimal(18,2),
	LOB_ID			Int
)

CREATE TABLE #TMP_POLICIES_TO_ROLLBACK
(	IDEN_COL		Int Identity(1,1) not null,
	CUSTOMER_ID 		Int,
	POLICY_ID		Int,
	POLICY_VERSION_ID	Int,
	CURRENT_TERM		Int,
	BILL_TYPE		Char(2),
	CANCELLATION_TYPE	Int,
	PROCESS_ROW_ID		Int,
	EFFECTIVE_DATE		Datetime,
	DUE_DATE 		DateTime,
	LAUNCH_DATE		Datetime,
	CANCELLATION_NOTICE_SENT Char(1),
	UNDER_PAYMENT_ALLOWED	Decimal(18,2),
	LOB_ID			Int
)



-- Fetch policies for which cancellation notice has been send 
INSERT INTO #TMP_POLICIES_TO_ROLLBACK ( CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ,CANCELLATION_TYPE ,
			BILL_TYPE , EFFECTIVE_DATE , DUE_DATE , UNDER_PAYMENT_ALLOWED , CURRENT_TERM ,PROCESS_ROW_ID,
			CANCELLATION_NOTICE_SENT , LAUNCH_DATE , LOB_ID	)
SELECT PPP.CUSTOMER_ID , PPP.POLICY_ID , PPP.POLICY_VERSION_ID  , PPP.CANCELLATION_TYPE ,
	CPL.BILL_TYPE , PPP.EFFECTIVE_DATETIME, PPP.DUE_DATE , INS.AMTUNDER_PAYMENT , CPL.CURRENT_TERM ,PPP.ROW_ID,
	ISNULL(PPP.CANCELLATION_NOTICE_SENT,'N') , PPP.CREATED_DATETIME , CPL.POLICY_LOB 
FROM POL_POLICY_PROCESS PPP WITH(NOLOCK)
INNER JOIN POL_CUSTOMER_POLICY_LIST CPL WITH(NOLOCK)
	ON PPP.CUSTOMER_ID = CPL.CUSTOMER_ID 
	AND PPP.POLICY_ID = CPL.POLICY_ID 
	AND PPP.NEW_POLICY_VERSION_ID = CPL.POLICY_VERSION_ID 
INNER JOIN ACT_INSTALL_PLAN_DETAIL INS
ON INS.IDEN_PLAN_ID = CPL.INSTALL_PLAN_ID 
WHERE PPP.PROCESS_ID  = @CANCELLATION_PROCESS_ID  
AND   PPP.PROCESS_STATUS = 'PENDING'
AND CANCELLATION_NOTICE_SENT  = 'Y'
ORDER BY PPP.CUSTOMER_ID , PPP.POLICY_ID , PPP.POLICY_VERSION_ID


--SELECT * FROM #TMP_POLICIES_TO_ROLLBACK 

DECLARE @IDEN_COL Int ,
	@CUSTOMER_ID	Int,
	@POLICY_ID	Int,
	@POLICY_VERSION_ID Int,
	@BILL_TYPE  Char(2),  
	@CANCELLATION_TYPE Int ,
	@UNDER_PAYMENT_ALLOWED Decimal(18,2),
	@ROLLBACK_THIS 	Bit,
	@CURRENT_TERM	Int,
	@PROCESS_ROW_ID  Int,
	@DUE_DATE	Datetime,
	@LAUNCH_DATE Datetime,
	@TOTAL_DUE	Decimal(18,2),
	@TOTAL_PAID     Decimal(18,2)

SET @IDEN_COL = 1

WHILE 1=1 
BEGIN 
	IF NOT EXISTS (SELECT IDEN_COL FROM #TMP_POLICIES_TO_ROLLBACK WHERE IDEN_COL = @IDEN_COL )
	BEGIN 
		BREAK
	END
	SET 	@CUSTOMER_ID	= 0
	SET 	@POLICY_ID	= 0 
	SET		@POLICY_VERSION_ID  = 0 
	SET 	@CANCELLATION_TYPE = 0 
	SET 	@UNDER_PAYMENT_ALLOWED  = 0 
	SET 	@BILL_TYPE = 	''
	SET 	@ROLLBACK_THIS  = 0 
	SET 	@CURRENT_TERM 	= 0 
	SET 	@PROCESS_ROW_ID = 0 
	SET 	@TOTAL_DUE 	= 0
	SET 	@TOTAL_PAID	= 0 

	SELECT  @CUSTOMER_ID  = CUSTOMER_ID ,
		@POLICY_ID = POLICY_ID ,
		@POLICY_VERSION_ID	= POLICY_VERSION_ID ,
		@CURRENT_TERM	= CURRENT_TERM,
		@BILL_TYPE = 	BILL_TYPE,
		@CANCELLATION_TYPE	= CANCELLATION_TYPE ,
		@UNDER_PAYMENT_ALLOWED 	= ISNULL(UNDER_PAYMENT_ALLOWED,0) ,
		@PROCESS_ROW_ID   = PROCESS_ROW_ID	,
		@DUE_DATE 	= DUE_DATE,
		@LAUNCH_DATE = LAUNCH_DATE
	FROM  #TMP_POLICIES_TO_ROLLBACK 
	WHERE IDEN_COL = @IDEN_COL

	
	IF(@CANCELLATION_TYPE = @NON_PAY AND @BILL_TYPE = 'DB')
	BEGIN 
-- 		-- Check if payment had already been recieved for this policy
-- 		-- either past due(due as on cancellation notice date)  was fuly paid 
-- 		-- or paid to the extent of underpayment allowed 
-- 		-- RollBack the policy
-- 	
-- 		SELECT  @TOTAL_DUE  =  ISNULL(SUM(ISNULL(OI.TOTAL_DUE,0)) ,0), 
-- 			@TOTAL_PAID =  ISNULL(SUM(ISNULL(OI.TOTAL_PAID,0)) ,0) 
-- 		FROM ACT_CUSTOMER_OPEN_ITEMS OI  WITH(NOLOCK) 
-- 		WHERE OI.CUSTOMER_ID = @CUSTOMER_ID
-- 		AND  OI.POLICY_ID = @POLICY_ID 
-- 		AND  OI.ITEM_TRAN_CODE_TYPE = 'PREM'
-- 		AND  CAST(CONVERT(VARCHAR,OI.DUE_DATE,101)  AS DATETIME)
-- 			>  CAST(CONVERT(VARCHAR, @LAUNCH_DATE ,101)  AS DATETIME)
-- 		AND  OI.POLICY_VERSION_ID IN (SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST
-- 						WHERE CUSTOMER_ID = @CUSTOMER_ID 
-- 						AND	POLICY_ID = @POLICY_ID
-- 						AND 	CURRENT_TERM = @CURRENT_TERM)

--  	select @total_due as due, @total_paid as paid, ((@TOTAL_DUE- @TOTAL_PAID)/@TOTAL_DUE) * 100 as perpaid,@UNDER_PAYMENT_ALLOWED as allowed,@LAUNCH_DATE,
--  		@CUSTOMER_ID,@POLICY_ID,@CURRENT_TERM

-- 		--if yes then Rollback Cancellation 
-- 		IF(@TOTAL_DUE <= 0 ) 
-- 		BEGIN 
-- 			SET @ROLLBACK_THIS = 1 
-- 		END
-- 		ELSE
-- 		BEGIN 
-- 			IF(((@TOTAL_DUE- @TOTAL_PAID)/@TOTAL_DUE) * 100 <= @UNDER_PAYMENT_ALLOWED )
-- 			BEGIN 
-- 				
-- 				SET @ROLLBACK_THIS = 1
-- 				
-- 			END
-- 		END

	-- If a deposit has been made by insured after the past due cancellation notice has been send then 
	-- Cancellation will be rollbacked regardless of payment amount
	-- it it is less paid than under payment allowed then the other thhread will launch the Cancellaton 
	-- again , a new Past Due notice will be sent in that case (Cancellation type mey differ)
		IF EXISTS(SELECT OI.IDEN_ROW_ID FROM ACT_CUSTOMER_OPEN_ITEMS OI
			WHERE OI.CUSTOMER_ID = @CUSTOMER_ID 
			AND   OI.POLICY_ID = @POLICY_ID 
			AND   OI.POLICY_VERSION_ID IN (SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL
						WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID 
						AND  CPL.POLICY_ID = @POLICY_ID 
						AND  CPL.CURRENT_TERM = @CURRENT_TERM)
			AND UPDATED_FROM = 'D'
			AND DATEDIFF(ss,@LAUNCH_DATE , OI.DUE_DATE ) > 0 
			)
		BEGIN 
			SET @ROLLBACK_THIS = 1
		END
		
		-- Ravindra(07-02-2008): If a negative JE (payment correction is done rollback cancellation)
		-- Ref iTrack 4421
		IF EXISTS(SELECT OI.IDEN_ROW_ID FROM ACT_CUSTOMER_OPEN_ITEMS OI
			WHERE OI.CUSTOMER_ID = @CUSTOMER_ID 
			AND   OI.POLICY_ID = @POLICY_ID 
			AND   OI.POLICY_VERSION_ID IN (SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL
						WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID 
						AND  CPL.POLICY_ID = @POLICY_ID 
						AND  CPL.CURRENT_TERM = @CURRENT_TERM)
			AND OI.UPDATED_FROM = 'J' AND OI.ITEM_TRAN_CODE_TYPE <> 'FEES'
			AND ISNULL(OI.TOTAL_DUE ,0) < 0 
			AND DATEDIFF(ss,@LAUNCH_DATE , OI.POSTING_DATE ) > 0 
			)
		BEGIN 
			SET @ROLLBACK_THIS = 1
		END

	END 


	
	IF ( @ROLLBACK_THIS = 1)
	BEGIN 
		INSERT INTO #POLICIES_TO_ROLLBACK(CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ,CANCELLATION_TYPE ,
			BILL_TYPE , EFFECTIVE_DATE , DUE_DATE , UNDER_PAYMENT_ALLOWED , CURRENT_TERM , PROCESS_ROW_ID ,
			CANCELLATION_NOTICE_SENT , LOB_ID )
		SELECT CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ,CANCELLATION_TYPE ,
			BILL_TYPE , EFFECTIVE_DATE , DUE_DATE , UNDER_PAYMENT_ALLOWED , CURRENT_TERM  ,PROCESS_ROW_ID ,
			CANCELLATION_NOTICE_SENT , LOB_ID 
		FROM  #TMP_POLICIES_TO_ROLLBACK 
		WHERE IDEN_COL = @IDEN_COL
	END 

	SET @IDEN_COL =  @IDEN_COL + 1	
END 

SELECT CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ,CANCELLATION_TYPE ,
	BILL_TYPE , EFFECTIVE_DATE , DUE_DATE , UNDER_PAYMENT_ALLOWED , CURRENT_TERM , PROCESS_ROW_ID  , LOB_ID 
FROM #POLICIES_TO_ROLLBACK

DROP TABLE #TMP_POLICIES_TO_ROLLBACK
DROP TABLE #POLICIES_TO_ROLLBACK


END









GO

