IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_FetchOpenItems]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_FetchOpenItems]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

      
/*----------------------------------------------------------                
PROC NAME       : DBO.Proc_FetchOpenItems                
CREATED BY      : PRADEEP KUSHWAHA       
DATE            : 14/06/2010                
PURPOSE			: To get the Customer and Agency Open items
REVISON HISTORY :  
USED IN			: EBIX ADVANTAGE                
------------------------------------------------------------                
DATE     REVIEW BY          COMMENTS                
------   ------------       -------------------------*/                
--DROP proc dbo.Proc_FetchOpenItems 

--last update by ANURAG GUPTA on 06 Dec 2010. Added COI Open Items, and CO Applicant for Customer and Agency Open Items
  
CREATE PROC [dbo].[Proc_FetchOpenItems]
(  
 @POLICYNO VARCHAR(25) = NULL,
 @LANG_ID INT = 1   
)  
AS  
DECLARE @CUSTOMER_ID INT,  
 @POLICY_ID INT  
SELECT @CUSTOMER_ID=CUSTOMER_ID,@POLICY_ID=POLICY_ID FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK)
WHERE POLICY_NUMBER=@POLICYNO  

----  for the Customer open items  

SELECT 
--CONVERT(VARCHAR,OI.DUE_DATE ,101) AS DUE_DATE,  
OI.DUE_DATE ,  
ISNULL(OI.TOTAL_DUE,0)    AS TOTAL_DUE ,   
CASE WHEN @LANG_ID=2 THEN 'Prêmio Devido' ELSE ISNULL(OI.TRANS_DESC,'') END AS TRANS_DESC,  
ISNULL(OI.TOTAL_PAID,0)    AS TOTAL_PAID ,
CASE WHEN @LANG_ID=2 THEN 'Prêmio' ELSE ISNULL(OI.ITEM_TRAN_CODE_TYPE,'')  END AS TRAN_CODE_TYPE , 
ISNULL(OI.COMMISSION_TYPE,'')    AS COMMISSION_TYPE ,
CASE WHEN @LANG_ID=2 THEN 'Líder' ELSE ISNULL(OI.PAYOR_TYPE,'') END AS PAYOR_TYPE,  
CASE WHEN @LANG_ID=2 THEN 'EMI' ELSE ISNULL(OI.ITEM_TRAN_CODE,'') END AS ITEM_TRAN_CODE ,
AL.FIRST_NAME + ' ' + AL.LAST_NAME AS CO_APPLICANT
FROM           
ACT_CUSTOMER_OPEN_ITEMS  OI WITH(NOLOCK)  
LEFT JOIN  
     ACT_POLICY_INSTALLMENT_DETAILS INSTALL_DETAILS  WITH(NOLOCK)  
  ON OI.CUSTOMER_ID = INSTALL_DETAILS.CUSTOMER_ID  
  AND OI.POLICY_ID = INSTALL_DETAILS.POLICY_ID   
  AND OI.INSTALLMENT_ROW_ID = INSTALL_DETAILS.ROW_ID   
LEFT JOIN
	CLT_APPLICANT_LIST AL WITH(NOLOCK) ON (AL.APPLICANT_ID = OI.PAYOR_ID AND AL.CUSTOMER_ID = OI.CUSTOMER_ID)	
WHERE    
   OI.CUSTOMER_ID=@CUSTOMER_ID AND  OI.POLICY_ID=@POLICY_ID
    
ORDER BY INSTALL_DETAILS.CURRENT_TERM,INSTALLMENT_NO   
  
  
----------  for the Agency Open items
SELECT    
ISNULL(AL.AGENCY_DISPLAY_NAME,'')    AS AGENCY_NAME ,   
--CONVERT(VARCHAR,OI.POSTING_DATE ,101) AS POSTING_DATE,  
OI.POSTING_DATE,

ISNULL(OI.TOTAL_DUE,0)    AS TOTAL_DUE ,   
CASE WHEN @LANG_ID=2 THEN 'Comissão Devida' ELSE ISNULL(OI.TRANS_DESC,'') END AS TRANS_DESC,  
ISNULL(OI.TOTAL_PAID,0)    AS TOTAL_PAID,
ISNULL(OI.AGENCY_COMM_AMT,0)    AS AGENCY_COMM_AMT,   
ISNULL(OI.GROSS_AMOUNT,0)    AS GROSS_AMOUNT,   
ISNULL(OI.NET_PREMIUM,0)    AS NET_PREMIUM ,    
CASE WHEN @LANG_ID=2 THEN 'Comissão' ELSE ISNULL(OI.COMMISSION_TYPE,'') END AS COMMISSION_TYPE,      
CAL.FIRST_NAME + ' ' + CAL.LAST_NAME AS CO_APPLICANT
FROM           
ACT_AGENCY_OPEN_ITEMS  OI WITH(NOLOCK) LEFT JOIN MNT_AGENCY_LIST AL with(nolock) ON OI.AGENCY_ID = AL.AGENCY_ID  
LEFT JOIN
	CLT_APPLICANT_LIST CAL WITH(NOLOCK) ON (CAL.APPLICANT_ID = OI.PAYOR_ID AND CAL.CUSTOMER_ID = OI.CUSTOMER_ID)	 
WHERE   
   OI.CUSTOMER_ID=@CUSTOMER_ID AND OI.POLICY_ID=@POLICY_ID  
ORDER BY OI.IDEN_ROW_ID
    
----------  for the COI Open items    
 SELECT 
CL.REIN_COMAPANY_NAME AS COMPANY_NAME,  
--CONVERT(VARCHAR,OI.POSTING_DATE ,101) AS POSTING_DATE,  
OI.POSTING_DATE,
ISNULL(OI.TOTAL_DUE,0)    AS TOTAL_DUE ,   
CASE WHEN @LANG_ID=2 AND TRANS_DESC='COI Premium' THEN 'Prêmio de Cosseguro' 
     WHEN @LANG_ID=2 AND TRANS_DESC='COI Commission' THEN 'Comissão de Cosseguro' ELSE ISNULL(OI.TRANS_DESC,'') END AS TRANS_DESC,  
ISNULL(OI.TOTAL_PAID,0)    AS TOTAL_PAID,
ISNULL(OI.AGENCY_COMM_AMT,0)    AS AGENCY_COMM_AMT,   
ISNULL(OI.GROSS_AMOUNT,0)    AS GROSS_AMOUNT,   
ISNULL(OI.NET_PREMIUM,0)    AS NET_PREMIUM ,    
ISNULL(OI.COMMISSION_TYPE,'')    AS COMMISSION_TYPE,
AL.FIRST_NAME + ' ' + AL.LAST_NAME AS CO_APPLICANT
FROM           
	ACT_COI_OPEN_ITEMS  OI WITH(NOLOCK)  
LEFT JOIN  
    ACT_POLICY_INSTALLMENT_DETAILS INSTALL_DETAILS  WITH(NOLOCK) ON 
		OI.CUSTOMER_ID = INSTALL_DETAILS.CUSTOMER_ID AND 
		OI.POLICY_ID = INSTALL_DETAILS.POLICY_ID AND 
		OI.INSTALLMENT_ROW_ID = INSTALL_DETAILS.ROW_ID   
LEFT JOIN
	MNT_REIN_COMAPANY_LIST CL WITH(NOLOCK) ON (CL.REIN_COMAPANY_ID = OI.CO_COMPANY_ID )	
LEFT JOIN
	CLT_APPLICANT_LIST AL WITH(NOLOCK) ON (AL.APPLICANT_ID = OI.PAYOR_ID AND AL.CUSTOMER_ID = OI.CUSTOMER_ID)
LEFT JOIN
	ACT_POLICY_CO_BILLING_DETAILS PCBD WITH(NOLOCK) ON (AL.APPLICANT_ID = PCBD.CO_APPLICANT_ID AND AL.CUSTOMER_ID = PCBD.CUSTOMER_ID)	
WHERE    
   OI.CUSTOMER_ID=@CUSTOMER_ID AND  OI.POLICY_ID=@POLICY_ID
    
ORDER BY INSTALL_DETAILS.CURRENT_TERM, INSTALL_DETAILS.INSTALLMENT_NO    
  
  
  
  
  
GO

