IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetNissData_InlandMarine]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetNissData_InlandMarine]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------        
Proc Name        : dbo.Proc_GetNissData_InlandMarine       
Created by       : Arun Dhingra  
Date             : 12/12/2006  
Purpose          : Get Detail Information for NISS Report for Inland LOB  
Revison History  :        
Used In          : Wolverine       
--     Proc_GetNissData_InlandMarine  '','10/14/2006'   
------------------------------------------------------------ */  
-- drop proc DBO.Proc_GetNissData_InlandMarine        
CREATE PROC DBO.Proc_GetNissData_InlandMarine        
(  
@FROMDATE DATETIME = NULL, -- Valid Format mm/dd/yyyy       
@TODATE DATETIME = NULL,    -- Valid Format mm/dd/yyyy  
@CALENDARYEAR varchar(10) = NULL,
@NAMEONPOLICY varchar(15)=NULL,
@POLICYNUMBER varchar(15)=NULL,
@TRANSEFFECTIVEDATE DATETIME=NULL

)  
AS        
BEGIN   
  
  

SELECT   
	'068' AS NISS_COMP_NUM,'0' AS BLANK,   
	SUBSTRING(@CALENDARYEAR,4,1) AS 'CALENDAR_YEAR',
	SUBSTRING(CONVERT(VARCHAR,YEAR (getdate())),4,1) AS 'CALL_YEAR',  
	CSL.NSS_STATE_ID AS STATE,
	'6' AS 'LINE_CODE','00' AS BLANK,'01' AS 'ITEM_CODE',   
	'0000' AS BLANK,'7022' AS 'CLASSIFICATION_CODE','0000000000' AS BLANK,
         
	dbo.APPENDZERO_WRTPREMSYMBOL(SPLT.WRITTEN_PREM) AS 'WRITTEN_PREMIUM',      

	dbo.APPENDZERO_WRTPREMSYMBOL(ISNULL(PDL.LOSS_PAID,0)) AS 'PAID_LOSSES',

	dbo.APPENDZERO_WRTPREMSYMBOL(ISNULL(PDL.END_RESERVE,0)) AS 'OUTSTANDING_LOSSES',

	(
		SELECT dbo.APPENDZERO(COUNT(CCI.PAID_LOSS),5)	
		FROM CLM_CLAIM_INFO CCI	
		INNER JOIN CLM_ACTIVITY CACT ON CCI.CLAIM_ID=CACT.CLAIM_ID	
		INNER JOIN CLM_TYPE_DETAIL CTD ON CTD.DETAIL_TYPE_ID=CACT.ACTION_ON_PAYMENT	
		AND CACT.ACTION_ON_PAYMENT IN(173,174,175,180,181,188)   	
		WHERE (CCI.CREATED_DATETIME BETWEEN CCI.LOSS_DATE AND @TODATE)	
		AND (CCI.PAID_LOSS !='.00' AND CCI.OUTSTANDING_RESERVE != '.00')	
		AND CCI.CUSTOMER_ID=PL.CUSTOMER_ID AND CCI.POLICY_ID=PL.POLICY_ID 	
		AND CCI.POLICY_VERSION_ID=PL.POLICY_VERSION_ID

	) AS NUMBER_OF_PAID_CLAIMS,

	(
		SELECT dbo.APPENDZERO(COUNT(CCI.OUTSTANDING_RESERVE),5)		
		FROM CLM_CLAIM_INFO CCI		
		INNER JOIN CLM_ACTIVITY CACT ON CCI.CLAIM_ID=CACT.CLAIM_ID		
		INNER JOIN CLM_TYPE_DETAIL CTD ON CTD.DETAIL_TYPE_ID=CACT.ACTION_ON_PAYMENT		
		WHERE (CCI.CREATED_DATETIME BETWEEN CCI.LOSS_DATE AND @TODATE)		
		AND (CCI.PAID_LOSS ='.00' AND CCI.OUTSTANDING_RESERVE!='.00')		
		AND CCI.CUSTOMER_ID=PL.CUSTOMER_ID AND CCI.POLICY_ID=PL.POLICY_ID AND
		CCI.POLICY_VERSION_ID=PL.POLICY_VERSION_ID
		
	) AS NUMBER_OF_OUTSTANDING_CLAIMS, 

	'000' AS BLANK,	'1' AS 'TERRORISM_COVERAGE_CODE','00000' AS BLANK,
	CAUSEOF_LOSSCODE = 
	CASE
	WHEN (CTD.DETAIL_TYPE_ID = 32 or CTD.DETAIL_TYPE_ID = 37 or CTD.DETAIL_TYPE_ID = 31 or CTD.DETAIL_TYPE_ID = 42) THEN '001'  
	WHEN (CTD.DETAIL_TYPE_ID = 49 or CTD.DETAIL_TYPE_ID = 36) THEN '002'  
	WHEN (CTD.DETAIL_TYPE_ID = 41) THEN '003'  	
	WHEN (CTD.DETAIL_TYPE_ID = 28) THEN '004'  	
	WHEN (CTD.DETAIL_TYPE_ID = 43 or CTD.DETAIL_TYPE_ID = 44 or CTD.DETAIL_TYPE_ID = 45 or CTD.DETAIL_TYPE_ID = 38 or CTD.DETAIL_TYPE_ID = 39) THEN '005'  	
	WHEN (CTD.DETAIL_TYPE_ID = 27 or CTD.DETAIL_TYPE_ID = 30) THEN '007' 	
	Else '009'  	
	END ,'090' AS 'ANNUAL_STMT_LOB','00' AS BLANK,
	@NAMEONPOLICY AS [NAMEONPOLICY],
	@POLICYNUMBER AS POLICY_NUMBER,
	@TRANSEFFECTIVEDATE AS TRANS_EFFECTIVEDATE

FROM  POL_POLICY_PROCESS PPP with(nolock)  
INNER JOIN POL_CUSTOMER_POLICY_LIST PL with(nolock) ON PPP.CUSTOMER_ID = PL.CUSTOMER_ID AND PPP.POLICY_ID = PL.POLICY_ID AND PPP.NEW_POLICY_VERSION_ID = PL.POLICY_VERSION_ID      
LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST CSL with(nolock) ON PL.STATE_ID = CSL.STATE_ID    
INNER JOIN VIEW_CLT_PREMIUM_SPLIT_DETAILS SPLT with(nolock) ON SPLT.CUSTOMER_ID= PL.CUSTOMER_ID AND SPLT.POLICY_ID=PL.POLICY_ID AND SPLT.POLICY_VERSION_ID = PL.POLICY_VERSION_ID      
AND ISNULL(SPLT.COMP_EXT,'')<>''

LEFT OUTER JOIN MNT_COVERAGE MC with(nolock) ON CONVERT(VARCHAR,MC.COV_ID)=SPLT.COMP_EXT AND MC.ASLOB='14170' --Inland Marine
LEFT OUTER JOIN CLM_CLAIM_INFO CM ON PL.CUSTOMER_ID = CM.CUSTOMER_ID AND PL.POLICY_ID = CM.POLICY_ID AND PL.POLICY_VERSION_ID = CM.POLICY_VERSION_ID      
AND (CM.CREATED_DATETIME BETWEEN @FROMDATE AND @TODATE) 

LEFT OUTER JOIN CLM_OCCURRENCE_DETAIL CCD ON CM.CLAIM_ID = CCD.CLAIM_ID  
LEFT OUTER JOIN CLM_TYPE_DETAIL CTD ON  CCD.LOSS_TYPE like '%' + convert(varchar(6),CTD.DETAIL_TYPE_ID) + '%' 

INNER JOIN VW_PAID_LOSS_INCURRED_BY_COVERAGE PDL with(nolock) ON PDL.CLAIM_ID= CM.CLAIM_ID 
AND PDL.STATE_ID = PL.STATE_ID AND PDL.AGENCY_ID=PL.AGENCY_ID AND PDL.LOB_ID=PL.POLICY_LOB
---and INCURRED_YEAR=2008 

LEFT OUTER JOIN MNT_COVERAGE MCG with(nolock) ON MCG.COV_ID=PDL.COVERAGE_ID AND MCG.ASLOB='14170' --Inland Marine
WHERE PPP.PROCESS_ID IN (3,5,12,14,18,24,25) AND PL.POLICY_LOB in(1,4)   
AND isnull(ppp.REVERT_BACK,'N') <> 'Y'
AND PL.POLICY_EFFECTIVE_DATE >= @FROMDATE AND PL.POLICY_EFFECTIVE_DATE <= @TODATE 
  
UNION  
  

SELECT    

'068' AS NISS_COMP_NUM,'0' AS BLANK,  

SUBSTRING(CONVERT(VARCHAR,YEAR (@CALENDARYEAR)),4,1) AS 'CALENDAR_YEAR',      
SUBSTRING(CONVERT(VARCHAR,YEAR (getdate())),4,1) AS 'CALL_YEAR',  
CSL.NSS_STATE_ID AS STATE,'6' AS 'LINE_CODE','00' AS BLANK,'01' AS 'ITEM_CODE',  
'0000' AS BLANK,'7230' AS 'CLASSIFICATION_CODE','0000000000' AS BLANK, 
         
dbo.APPENDZERO_WRTPREMSYMBOL(SPLT.WRITTEN_PREM) AS 'WRITTEN_PREMIUM',      

dbo.APPENDZERO_WRTPREMSYMBOL(PDL.LOSS_PAID) AS 'PAID_LOSSES',

dbo.APPENDZERO_WRTPREMSYMBOL(PDL.END_RESERVE) AS 'OUTSTANDING_LOSSES',

	(
		SELECT dbo.APPENDZERO(COUNT(CCI.PAID_LOSS),5)	
		FROM CLM_CLAIM_INFO CCI	
		INNER JOIN CLM_ACTIVITY CACT ON CCI.CLAIM_ID=CACT.CLAIM_ID	
		INNER JOIN CLM_TYPE_DETAIL CTD ON CTD.DETAIL_TYPE_ID=CACT.ACTION_ON_PAYMENT	
		AND CACT.ACTION_ON_PAYMENT IN(173,174,175,180,181,188)   	
		WHERE (CCI.CREATED_DATETIME BETWEEN CCI.LOSS_DATE AND @TODATE)	
		AND (CCI.PAID_LOSS !='.00' AND CCI.OUTSTANDING_RESERVE != '.00')	
		AND CCI.CUSTOMER_ID=PL.CUSTOMER_ID AND CCI.POLICY_ID=PL.POLICY_ID 	
		AND CCI.POLICY_VERSION_ID=PL.POLICY_VERSION_ID

	) AS NUMBER_OF_PAID_CLAIMS,

	(
		SELECT dbo.APPENDZERO(COUNT(CCI.OUTSTANDING_RESERVE),5)		
		FROM CLM_CLAIM_INFO CCI		
		INNER JOIN CLM_ACTIVITY CACT ON CCI.CLAIM_ID=CACT.CLAIM_ID		
		INNER JOIN CLM_TYPE_DETAIL CTD ON CTD.DETAIL_TYPE_ID=CACT.ACTION_ON_PAYMENT		
		WHERE (CCI.CREATED_DATETIME BETWEEN CCI.LOSS_DATE AND @TODATE)		
		AND (CCI.PAID_LOSS ='.00' AND CCI.OUTSTANDING_RESERVE!='.00')		
		AND CCI.CUSTOMER_ID=PL.CUSTOMER_ID AND CCI.POLICY_ID=PL.POLICY_ID AND
		CCI.POLICY_VERSION_ID=PL.POLICY_VERSION_ID
		
	) AS NUMBER_OF_OUTSTANDING_CLAIMS, 

'000' AS BLANK,'1' AS 'TERRORISM_COVERAGE_CODE','00000' AS BLANK,   
CAUSEOF_LOSSCODE = 
CASE  
WHEN (CTD.DETAIL_TYPE_ID = 32 or CTD.DETAIL_TYPE_ID = 37 or CTD.DETAIL_TYPE_ID = 31 or CTD.DETAIL_TYPE_ID = 42) THEN '001'  
WHEN (CTD.DETAIL_TYPE_ID = 49 or CTD.DETAIL_TYPE_ID = 36) THEN '002'  
WHEN (CTD.DETAIL_TYPE_ID = 41) THEN '003'  
WHEN (CTD.DETAIL_TYPE_ID = 28) THEN '004'  
WHEN (CTD.DETAIL_TYPE_ID = 43 or CTD.DETAIL_TYPE_ID = 44 or CTD.DETAIL_TYPE_ID = 45 or CTD.DETAIL_TYPE_ID = 38 or CTD.DETAIL_TYPE_ID = 39) THEN '005'  
WHEN (CTD.DETAIL_TYPE_ID = 27) THEN '007'  
Else '009'  
END,  
'090' AS 'ANNUAL_STMT_LOB',
'00' AS BLANK ,
@NAMEONPOLICY AS [NAMEONPOLICY],
@POLICYNUMBER AS POLICY_NUMBER,
@TRANSEFFECTIVEDATE AS TRANS_EFFECTIVEDATE    

FROM POL_POLICY_PROCESS PPP with(nolock)  
INNER JOIN POL_CUSTOMER_POLICY_LIST PL with(nolock) ON PPP.CUSTOMER_ID = PL.CUSTOMER_ID AND PPP.POLICY_ID = PL.POLICY_ID AND PPP.NEW_POLICY_VERSION_ID = PL.POLICY_VERSION_ID      
LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST CSL with(nolock) ON PL.STATE_ID = CSL.STATE_ID       
INNER JOIN POL_HOME_OWNER_SCH_ITEMS_CVGS SI with(nolock) ON PL.CUSTOMER_ID = SI.CUSTOMER_ID AND PL.POLICY_ID = SI.POLICY_ID AND PL.POLICY_VERSION_ID = SI.POLICY_VERSION_ID  

LEFT OUTER JOIN VIEW_CLT_PREMIUM_SPLIT_DETAILS SPLT with(nolock) ON SPLT.CUSTOMER_ID= SI.CUSTOMER_ID AND SPLT.POLICY_ID=SI.POLICY_ID AND SPLT.POLICY_VERSION_ID = SI.POLICY_VERSION_ID      
AND ISNULL(SPLT.COMP_EXT,'')<>''

INNER JOIN MNT_COVERAGE MTC with(nolock) ON CONVERT(VARCHAR,MTC.COV_ID)=SPLT.COMP_EXT AND  SI.ITEM_ID = MTC.COV_ID  
LEFT OUTER JOIN CLM_CLAIM_INFO CM ON PL.CUSTOMER_ID = CM.CUSTOMER_ID AND PL.POLICY_ID = CM.POLICY_ID AND PL.POLICY_VERSION_ID = CM.POLICY_VERSION_ID      
AND (CM.CREATED_DATETIME BETWEEN CM.LOSS_DATE AND @TODATE) 

LEFT OUTER JOIN CLM_OCCURRENCE_DETAIL CCD ON CM.CLAIM_ID = CCD.CLAIM_ID  
LEFT OUTER JOIN CLM_TYPE_DETAIL CTD ON  CCD.LOSS_TYPE like '%' + convert(varchar(6),CTD.DETAIL_TYPE_ID) + '%'

LEFT OUTER JOIN VW_PAID_LOSS_INCURRED_BY_COVERAGE PDL with(nolock) ON 
PDL.CLAIM_ID= CM.CLAIM_ID  AND PDL.STATE_ID = PL.STATE_ID AND PDL.AGENCY_ID=PL.AGENCY_ID AND PDL.LOB_ID=PL.POLICY_LOB

LEFT OUTER JOIN CLM_ACTIVITY CACT ON CM.CLAIM_ID=CACT.CLAIM_ID 

WHERE PPP.PROCESS_ID IN (3,5,12,14,18,24,25) AND PL.POLICY_LOB  = 1   
AND isnull(ppp.REVERT_BACK,'N') <> 'Y'

and MTC.coverage_type='IM' and MTC.is_active='Y' and MTC.lob_id=1   

and PL.POLICY_EFFECTIVE_DATE >= @FROMDATE AND PL.POLICY_EFFECTIVE_DATE <= @TODATE  


END   

  

  
  
  






GO

