IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_BankReconHistory_Details]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_BankReconHistory_Details]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Proc_BankReconHistory_Details] 
(
@ACCOUNT_ID int,
@year int
)
as
BEGIN
SELECT 
ISNULL(MUL.USER_FNAME,'' )+ ' '  + ISNULL(MUL.USER_LNAME, '')  AS CREATED_BY,
ABR.CREATED_DATETIME AS CREATED_DATETIME ,
ISNULL(ABR.FILE_NAME,'') AS  [FILE_NAME],
ISNULL(ABR.FILE_ID,'') AS [FILE_ID]
FROM ACT_BANK_RECON_UPLOAD_FILE ABR
INNER JOIN ACT_BANK_RECONCILIATION AB
ON  ABR.AC_RECONCILIATION_ID = AB.AC_RECONCILIATION_ID
LEFT JOIN MNT_USER_LIST MUL 
ON MUL.USER_ID = ABR.CREATED_BY
WHERE AB.ACCOUNT_ID = @ACCOUNT_ID and year (ABR.CREATED_DATETIME) = @year
END





GO

