IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_SavePolClauses]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_SavePolClauses]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

  
-- =============================================      
-- Author:  Charles Gomes      
-- Create date: 15-April-2010      
-- Description: Save Policy Clauses       
-- DROP PROC Proc_SavePolClauses 2043,112,1,1,'','',353      
-- =============================================      
CREATE PROC [dbo].[Proc_SavePolClauses]       
@CUSTOMER_ID INT,      
@POLICY_ID INT,      
@POLICY_VERSION_ID INT,      
@CLAUSE_ID INT,      
@CLAUSE_TITLE NVARCHAR(100) = NULL,      
@CLAUSE_DESCRIPTION TEXT = NULL,     
@SUSEP_LOB_ID int =null,  
@CREATED_BY INT,      
@POL_CLAUSE_ID INT OUT ,   
@CLAUSE_TYPE int=null,  
@ATTACH_FILE_NAME nvarchar(510)=null ,  
@CLAUSE_CODE NVARCHAR(10)=NULL  ,
@PREVIOUS_VERSION_ID INT=null    
AS    
  
BEGIN     
  
   
 SELECT @POL_CLAUSE_ID = ISNULL(MAX(POL_CLAUSE_ID),0) + 1 FROM POL_CLAUSES WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID        
       
 IF @CLAUSE_ID != 0      
 BEGIN       
			 IF NOT EXISTS(SELECT POL_CLAUSE_ID FROM POL_CLAUSES WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID   
				AND POLICY_ID = @POLICY_ID       
				AND POLICY_VERSION_ID = @POLICY_VERSION_ID AND CLAUSE_ID = @CLAUSE_ID  
				)      
			 BEGIN       
			 INSERT INTO POL_CLAUSES(POL_CLAUSE_ID,CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,CLAUSE_ID,CLAUSE_TITLE,  
			 CLAUSE_DESCRIPTION,IS_ACTIVE,CREATED_BY,      
			 CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,SUSEP_LOB_ID,CLAUSE_TYPE,
			 ATTACH_FILE_NAME,CLAUSE_CODE,PREVIOUS_VERSION_ID)        
			 SELECT @POL_CLAUSE_ID, @CUSTOMER_ID, @POLICY_ID, @POLICY_VERSION_ID, CLAUSE_ID,
			 CLAUSE_TITLE, CLAUSE_DESCRIPTION,   
			 IS_ACTIVE, @CREATED_BY, GETDATE(),      
			 NULL, NULL,@SUSEP_LOB_ID,CLAUSE_TYPE,ATTACH_FILE_NAME ,CLAUSE_CODE ,@PREVIOUS_VERSION_ID
			 FROM MNT_CLAUSES WITH(NOLOCK) WHERE CLAUSE_ID = @CLAUSE_ID      
			   END 
			   
			   
			   
			   ELSE IF EXISTS(SELECT POL_CLAUSE_ID FROM POL_CLAUSES WITH(NOLOCK) WHERE CLAUSE_ID =CLAUSE_ID
 and CUSTOMER_ID=@CUSTOMER_ID and POLICY_ID=@POLICY_ID and POLICY_VERSION_ID=@POLICY_VERSION_ID )    
 BEGIN    
 UPDATE POL_CLAUSES SET IS_ACTIVE='Y',
				CREATED_BY=@CREATED_BY			       
     
   WHERE CLAUSE_ID = @CLAUSE_ID  and CUSTOMER_ID=@CUSTOMER_ID and POLICY_ID=@POLICY_ID and POLICY_VERSION_ID=@POLICY_VERSION_ID 	       
				
     
  
 END        
			   ELSE      
			   BEGIN  		
				SET @POL_CLAUSE_ID = 0      
			   END      
			 END   
	
	
	    		    
 ELSE      
 BEGIN    
   
 IF EXISTS(SELECT CLAUSE_CODE FROM POL_CLAUSES WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID   
    AND POLICY_ID = @POLICY_ID       
    AND POLICY_VERSION_ID = @POLICY_VERSION_ID and CLAUSE_CODE=@CLAUSE_CODE  )  
 BEGIN  
 SET @POL_CLAUSE_ID = -2   
 RETURN   
 END     
  IF NOT EXISTS(SELECT POL_CLAUSE_ID FROM POL_CLAUSES WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID   
   AND POLICY_ID = @POLICY_ID       
   AND POLICY_VERSION_ID = @POLICY_VERSION_ID AND CLAUSE_ID = 0   
   AND CLAUSE_TITLE = @CLAUSE_TITLE  
 )      
  BEGIN      
 INSERT INTO POL_CLAUSES(POL_CLAUSE_ID,CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,CLAUSE_ID,CLAUSE_TITLE,  
 CLAUSE_DESCRIPTION,IS_ACTIVE,CREATED_BY,      
 CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,CLAUSE_TYPE,ATTACH_FILE_NAME ,CLAUSE_CODE,
 PREVIOUS_VERSION_ID,SUSEP_LOB_ID) VALUES       
 (@POL_CLAUSE_ID, @CUSTOMER_ID, @POLICY_ID, @POLICY_VERSION_ID, 0,@CLAUSE_TITLE,   
 @CLAUSE_DESCRIPTION, 'Y', @CREATED_BY, GETDATE(),NULL, NULL,@CLAUSE_TYPE,@ATTACH_FILE_NAME,@CLAUSE_CODE,
 @PREVIOUS_VERSION_ID,@SUSEP_LOB_ID)      
  END       
  ELSE      
  BEGIN      
   SET @POL_CLAUSE_ID = 0      
  END      
 END   
 
  
END
GO

