IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetPolicyProcessInfo]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetPolicyProcessInfo]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------            
Proc Name       : dbo.Proc_GetPolicyProcessInfo      
Created by      : Pravesk K Chandel    
Date            : 29 April 2008   
Purpose       : Return Process inforamtion the policy version      
Revison History :            
Used In    : Wolverine            
------------------------------------------------------------            
Date     Review By          Comments            
------   ------------       -------------------------*/       
--drop proc dbo.Proc_GetPolicyProcessInfo           
create PROC [dbo].[Proc_GetPolicyProcessInfo]  
(            
  @CUSTOMER_ID  int,        
  @POLICY_ID  int,        
  @POLICY_VERSION_ID  int        
)            
AS            
BEGIN         
  SELECT 
	CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,ROW_ID,PROCESS_ID,NEW_POLICY_VERSION_ID,POLICY_PREVIOUS_STATUS,POLICY_CURRENT_STATUS,PROCESS_STATUS,LAST_REVERT_BACK
FROM POL_POLICY_PROCESS WITH (NOLOCK)    
  WHERE CUSTOMER_ID=@CUSTOMER_ID  AND POLICY_ID=@POLICY_ID AND NEW_POLICY_VERSION_ID= @POLICY_VERSION_ID 
	AND PROCESS_STATUS IN ('PENDING','COMPLETE')    

  SELECT 
	POLICY_STATUS ,APP_STATUS
FROM POL_CUSTOMER_POLICY_LIST WITH (NOLOCK)
WHERE CUSTOMER_ID=@CUSTOMER_ID  AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID= @POLICY_VERSION_ID 

-- for conversion policies
SELECT  MAX(NEW_POLICY_VERSION_ID) AS NEW_POLICY_VERSION_ID FROM POL_POLICY_PROCESS PPPS  WITH (NOLOCK) INNER JOIN POL_CUSTOMER_POLICY_LIST PCPLS  WITH (NOLOCK)
				ON PPPS.CUSTOMER_ID=PCPLS.CUSTOMER_ID AND 
				PPPS.POLICY_ID=PCPLS.POLICY_ID AND PPPS.NEW_POLICY_VERSION_ID=PCPLS.POLICY_VERSION_ID 
				AND PPPS.PROCESS_STATUS!='ROLLBACK'
				WHERE PPPS.PROCESS_ID IN (25,18,32) and PPPS.PROCESS_STATUS='COMPLETE'-- MIN OF NBS OR RENEWAL
				AND ISNULL(REVERT_BACK,'N') = 'N' AND PPPS.CUSTOMER_ID=@CUSTOMER_ID AND PPPS.POLICY_ID=@POLICY_ID


-- cOMMENTED ITRACK 6032
/*SELECT  MAX(NEW_POLICY_VERSION_ID) AS ENDO_PRE_POLICY_VERSION_ID FROM POL_POLICY_PROCESS PPPS  WITH (NOLOCK) INNER JOIN POL_CUSTOMER_POLICY_LIST PCPLS  WITH (NOLOCK)
				ON PPPS.CUSTOMER_ID=PCPLS.CUSTOMER_ID AND 
				PPPS.POLICY_ID=PCPLS.POLICY_ID --AND PPPS.NEW_POLICY_VERSION_ID=PCPLS.POLICY_VERSION_ID 
				AND PPPS.PROCESS_STATUS!='ROLLBACK'
				WHERE PPPS.PROCESS_ID NOT IN (3,14) and PPPS.PROCESS_STATUS='COMPLETE'-- MIN OF NBS OR RENEWAL
				AND ISNULL(REVERT_BACK,'N') = 'N' AND PPPS.CUSTOMER_ID=@CUSTOMER_ID AND PPPS.POLICY_ID=@POLICY_ID
				AND PPPS.NEW_POLICY_VERSION_ID<=@POLICY_VERSION_ID 
*/
SELECT MAX(PJ.POLICY_VERSION_ID) AS ENDO_PRE_POLICY_VERSION_ID FROM POL_POLICY_PROCESS PPPS  WITH (NOLOCK) INNER JOIN PRINT_JOBS PJ  WITH (NOLOCK)
			ON PPPS.CUSTOMER_ID=PJ.CUSTOMER_ID
			AND PPPS.POLICY_ID=PJ.POLICY_ID
			WHERE PPPS.PROCESS_STATUS='COMPLETE'-- MIN OF NBS OR RENEWAL 
				AND ISNULL(REVERT_BACK,'N') = 'N' AND PPPS.CUSTOMER_ID=@CUSTOMER_ID AND PPPS.POLICY_ID=@POLICY_ID
				AND PPPS.NEW_POLICY_VERSION_ID<=@POLICY_VERSION_ID AND PJ.POLICY_VERSION_ID<=@POLICY_VERSION_ID AND DOCUMENT_CODE='AUTO_ID_CARD'
END        


GO

