IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_CommitACT_CHECK_INFORMATION]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_CommitACT_CHECK_INFORMATION]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN
--DROP PROC Proc_CommitACT_CHECK_INFORMATION
--GO
/*----------------------------------------------------------    
Proc Name       : dbo.Proc_CommitACT_CHECK_INFORMATION    
Created by      : Ajit Singh Chahal    
Date            : 6/28/2005    
Purpose       :To commit records of check entity.    
Revison History :    
Used In  : Wolverine    
  
Modified By : Ravindra  
Modified On : 11-24-2006  
Reviewed By	:	Ravindra Gupta
Reviewed On	:	09-06-2007

Modified By : Praveen 
Modified On : 03 jan 2007
Purpose : A check can't be committed 
	 if the distribution against any of invoice exceeds 
	 the balance available against that invoice. (Vendor Checks)


Modified By : Raghav/Praveen 
Modified On : 11 12 2008
Purpose : A check can't be committed 
	 if the subjected to special handling (Vendor and Agency Checks)
------------------------------------------------------------    
Date     Review By          Comments    
------   ------------       -------------------------*/    
--DROP PROC dbo.Proc_CommitACT_CHECK_INFORMATION     
CREATE PROC [dbo].[Proc_CommitACT_CHECK_INFORMATION]    
(    
 @CHECK_ID         INT,    
 @IS_COMMITED      NVARCHAR(2),    
 @DATE_COMMITTED      DATETIME ,    
 @MODIFIED_BY       INT,    
 @LAST_UPDATED_DATETIME DATETIME ,    
 @DIV_ID     INT,    
 @DEPT_ID     INT,    
 @PC_ID      INT    
)    
AS    
BEGIN    
  
  
--Declare constants for Check Type  
  
DECLARE @ACC_Check Int  
DECLARE @RPC_Check Int  
DECLARE @ROP_Check Int  
DECLARE @RSC_Check Int  
DECLARE @CC_Check Int  
DECLARE @VC_Check Int  
DECLARE @MOC_Check Int  
DECLARE @REC_Check Int
DECLARE @CHK_AMT DECIMAL(18,2)  ,
		@LOB_ID Int , 
		@STATE_ID Int,
		@BRICSTransactionType Int
 
SET @ACC_Check = 2472  
SET @RPC_Check = 2474  
SET @ROP_Check = 9935  
SET @RSC_Check = 9936  
SET @CC_Check = 9937  
SET @VC_Check = 9938  
SET @MOC_Check = 9940  
SET @REC_Check = 9945  

-- For Payment Mode :EFT
DECLARE @PAY_MODE INT,@EFT INT ,@ACC_TO_USE INT,@EFT_VENDOR INT
SET @ACC_TO_USE = 1 -- Account 1 will be used for Agency Deposit & Checks 
SET @EFT = 11976
SET @EFT_VENDOR = 11788

  
DECLARE @CUSTOMER_ID INT    
  
-- Added For Entity Name & Transaction Description   
DECLARE @TRAN_ENTITY Varchar(200)  
DECLARE @TRAN_DESC Varchar(500)  
  
SELECT @CUSTOMER_ID = CUSTOMER_ID FROM ACT_CHECK_INFORMATION WHERE CHECK_ID = @CHECK_ID    
   
--Checking whether specified check id exists    

IF Not Exists(SELECT CHECK_ID FROM ACT_CHECK_INFORMATION WHERE CHECK_ID = @CHECK_ID)    
BEGIN    
	 --Record not existed, hence exiting     
	 return -1    
END    
--Checking whether already commited    
IF (SELECT Upper(ISNULL(IS_COMMITED,'N')) FROM ACT_CHECK_INFORMATION WHERE CHECK_ID = @CHECK_ID) = 'Y'     
BEGIN    
	 --Record already commited hence exiting    
	 return -2    
END   

--Checking whether check amount is -ve 
SELECT @CHK_AMT = CHECK_AMOUNT FROM ACT_CHECK_INFORMATION WHERE CHECK_ID = @CHECK_ID
IF (@CHK_AMT < 0 OR @CHK_AMT = 0)
BEGIN    
	 --Check amount is -ve hence exiting    
	 return -4    
END 

--Checking whether transaction date is less then lock date  
Declare @CHECK_DATE DATETIME, @LOCK_DATE DATETIME    
SELECT @CHECK_DATE = CHECK_DATE FROM ACT_CHECK_INFORMATION WHERE CHECK_ID = @CHECK_ID    
SELECT @LOCK_DATE = POSTING_LOCK_DATE FROM ACT_GENERAL_LEDGER WHERE FISCAL_ID =     
(SELECT FISCAL_ID FROM ACT_CHECK_INFORMATION WHERE CHECK_ID = @CHECK_ID)    
    
if @CHECK_DATE <= @LOCK_DATE    
BEGIN    
	 --Can not commit    
	 return -5    
END    
    
    
/* Check AMOUNT AS TO BE DISTRIBUTED FULLY BEFORE COMMIT*/ -- in case of other checks only    
IF  EXISTS (SELECT CHECK_ID FROM ACT_CHECK_INFORMATION  WHERE CHECK_ID = @CHECK_ID AND 
--CHECK_TYPE IN  (9940,9941,9942,9943))  --CHECK TYPE IS  OF 'OTHER TYPE'    
--CHECK_TYPE IN  (2472,2474,9935,9936,9937,9938,9940,9945))
CHECK_TYPE IN  (9940,9945))
BEGIN 
	 DECLARE @RemainingAmount decimal(18,2)    
	 select @RemainingAmount=(CHK.CHECK_AMOUNT -     
	 isnull((SELECT SUM(DISTRIBUTION_AMOUNT) FROM ACT_DISTRIBUTION_DETAILS     
	 WHERE      GROUP_TYPE = 'CHQ'     
	 AND GROUP_ID = CHK.CHECK_ID),0))     
	 from ACT_CHECK_INFORMATION CHK where CHECK_ID = @CHECK_ID    
	 IF @RemainingAmount <> 0    
	 	return -3  --Check not distributed fully, therefore exiting    
END    
/******************* end checking***********************************************/      

/*****A check can't be committed if the distribution against any of invoice
 exceeds the balance available against that invoice. *******/
IF (SELECT ISNULL(CHECK_TYPE,'') FROM ACT_CHECK_INFORMATION WHERE CHECK_ID = @CHECK_ID) = @VC_Check  

BEGIN  
	DECLARE @VENDOR_ID INT  
	DECLARE @BALANCE DECIMAL(18,2) , @TOTCHKAMT DECIMAL(18,2), @INVOICE_AMOUNT DECIMAL(18,2)
	
        -- Find Vendor Id corresponding to Check Id  
	SELECT @VENDOR_ID = PAYEE_ENTITY_ID   
	FROM ACT_CHECK_INFORMATION WITH(NOLOCK)
	WHERE CHECK_ID = @CHECK_ID  AND CHECK_TYPE = '9938'  

	IF EXISTS(
		SELECT SUM(ISNULL(OI.TOTAL_DUE,0)) - SUM(ISNULL(OI.TOTAL_PAID,0)) , SUM(ISNULL(CD.AMOUNT_TO_APPLY,0)) FROM ACT_VENDOR_OPEN_ITEMS OI
		INNER JOIN ACT_VENDOR_CHECK_DISTRIBUTION CD
		ON CD.OPEN_ITEM_ROW_ID = OI.IDEN_ROW_ID
		WHERE CHECK_ID=@CHECK_ID 
		AND CD.VENDOR_ID=@VENDOR_ID
		HAVING (SUM(ISNULL(OI.TOTAL_DUE,0)) - SUM(ISNULL(OI.TOTAL_PAID,0))) < SUM(ISNULL(CD.AMOUNT_TO_APPLY,0))
		)
	BEGIN
		RETURN -7 --A check can't be committed if the distribution against any of invoice exceeds the balance available against that invoice. 
	END


END

/*******End Vendor Invoice checking**********/

/**Special handling Checks* Vendor 12 Nov 2008 */
IF (SELECT ISNULL(CHECK_TYPE,'') FROM ACT_CHECK_INFORMATION WHERE CHECK_ID = @CHECK_ID) = @VC_Check  

BEGIN  
	DECLARE @VEN_ID INT  
		
    -- Find Vendor Id corresponding to Check Id  
	SELECT @VEN_ID = PAYEE_ENTITY_ID   
	FROM ACT_CHECK_INFORMATION WITH(NOLOCK)
	WHERE CHECK_ID = @CHECK_ID  AND CHECK_TYPE = '9938'  

	IF EXISTS(SELECT 1 FROM MNT_VENDOR_LIST WITH(NOLOCK) WHERE VENDOR_ID = @VEN_ID AND REQ_SPECIAL_HANDLING =10963)
	BEGIN
		RETURN -10 --A check can't be committed if the SPC_HANDL set to YES. 
	END


END
/**End Specila handling vendor */
/**Special handling Checks* Agency 12 Nov 2008 */
IF (SELECT ISNULL(CHECK_TYPE,'') FROM ACT_CHECK_INFORMATION WHERE CHECK_ID = @CHECK_ID) = @ACC_Check  

BEGIN  
	DECLARE @AGEN_ID INT  
		
    -- Find Vendor Id corresponding to Check Id  
	SELECT @AGEN_ID = PAYEE_ENTITY_ID   
	FROM ACT_CHECK_INFORMATION WITH(NOLOCK)
	WHERE CHECK_ID = @CHECK_ID  AND CHECK_TYPE = '2472'  

	IF EXISTS(SELECT 1 FROM MNT_AGENCY_LIST WITH(NOLOCK) WHERE AGENCY_ID = @AGEN_ID AND REQ_SPECIAL_HANDLING =10963)
	BEGIN
		RETURN -10 --A check can't be committed if the SPC_HANDL set to YES. 
	END


END
    /**End Specila handling agency */
/**Special handling Checks* Agency 12 Nov 2008 */
  
DECLARE @BANKACCOUNTID Int  
DECLARE @CHECK_TRANSACTION_DATE Datetime  
DECLARE @CHECK_TYPE AS Int   
DECLARE @PAYEE_ENTITY_ID AS Int 
DECLARE @CLM_SUSPENCE_ACCT As int  
    
SELECT @CHECK_TRANSACTION_DATE=CHECK_DATE,  
 @BANKACCOUNTID=ACCOUNT_ID ,     
@CHECK_TYPE=CHECK_TYPE  ,  
 @PAYEE_ENTITY_ID = PAYEE_ENTITY_ID   ,
 @CLM_SUSPENCE_ACCT = CLM_SUSPENCE_ACCT
FROM ACT_CHECK_INFORMATION     
WHERE CHECK_ID = @CHECK_ID    
  
declare @updatedFrom  char(1)     
set  @updatedFrom = 'C' -- checks    
 
DECLARE @ITEM_TRAN_CODE Varchar(10)  
DECLARE @ITEM_TRAN_CODE_TYPE Varchar(10)  
  
SET @ITEM_TRAN_CODE_TYPE = 'CHK'  
SET @ITEM_TRAN_CODE  = 'CTRD'  
  
  
/*************************************************************************  
For Agency Commission Checks  
****************************************************************************/    
  
IF(@CHECK_TYPE = @ACC_Check )  
BEGIN   
	DECLARE @CHECK_AMT decimal(18,2),@MONTH_NUMBER Int,@MONTH_YEAR Int, @AGENCY_ID int,   
	@COMM_TYPE Varchar(10), 
	@DIFFERENCE_AMOUNT Decimal(18,2),@ACCOUNT_FOR_ADJUSTMENT Int  
	DECLARE @AB_PREMIUM_AMOUNT Decimal(18,2)  
	DECLARE @AB_COMMISSION_AMOUNT Decimal(18,2)  
	DECLARE @DB_COMMISSION_AMOUNT Decimal(18,2)  
	DECLARE @OP_AMOUNT Decimal(18,2)
	
	SELECT   
	@CHECK_AMT = CHECK_AMOUNT, 
	@AGENCY_ID  =  CASE COMM_TYPE WHEN 'CAC' THEN AGENCY_ID ELSE PAYEE_ENTITY_ID END,
	--@AGENCY_ID  =  PAYEE_ENTITY_ID,  
	@MONTH_NUMBER  = [MONTH],  
	@MONTH_YEAR  = [YEAR],  
	@COMM_TYPE  = COMM_TYPE  
	FROM ACT_CHECK_INFORMATION   
	WHERE CHECK_ID   = @CHECK_ID  
	AND CHECK_TYPE = @ACC_Check  
	
	
	SELECT   
	@DIFFERENCE_AMOUNT  = ISNULL(DIFFERENCE_AMOUNT,0),  
	@AB_PREMIUM_AMOUNT  = ISNULL(AMT_UNCOLLECTED_PREMIUM_AB,0),  
	@AB_COMMISSION_AMOUNT = ISNULL(AMT_COMMISSION_PAYABLE_AB,0),  
	@DB_COMMISSION_AMOUNT = ISNULL(AMT_COMMISSION_PAYABLE_DB,0),  
	@OP_AMOUNT   = ISNULL(AMT_AGAINST_OP,0),  
	
	@ACCOUNT_FOR_ADJUSTMENT = ACCOUNT_FOR_ADJUSTMENT  
	FROM ACT_AGENCY_CHECK_DISTRIBUTION   
	WHERE CHECK_ID   = @CHECK_ID  
	
	-- Fetching Agency Name  
	SELECT @TRAN_ENTITY = ISNULL(AGENCY_CODE,'') + ' - ' + ISNULL(AGENCY_DISPLAY_NAME,'')
	FROM MNT_AGENCY_LIST WHERE AGENCY_ID = @AGENCY_ID  

	SELECT @PAY_MODE = ISNULL(PAYMENT_MODE,0) FROM ACT_CHECK_INFORMATION (NOLOCK) WHERE CHECK_ID = @CHECK_ID
	IF(@PAY_MODE = @EFT)
	BEGIN
		--Setting Transaction Description for EFT 
		SET @TRAN_DESC = 'EFT Against Agency Statement ' + Convert(Varchar,ISNULL(@MONTH_NUMBER,0))   
		+ ' / ' + Convert(Varchar,ISNULL(@MONTH_YEAR,0))   
	END
	ELSE
	BEGIN
		--Setting Transaction Description 
		SET @TRAN_DESC = 'Check Against Agency Statement  ' + Convert(Varchar,ISNULL(@MONTH_NUMBER,0))   
		+ ' / ' + Convert(Varchar,ISNULL(@MONTH_YEAR,0))   
	END
	
	--Inserting the Check Entry  in agency statement    
   
	-- If Check Amount is not equal to Balance Amount   
	-- Create an entry for adjustment  
	IF(ISNULL(@DIFFERENCE_AMOUNT,0) <> 0)  
	BEGIN  
		--Inserting the Check Entry  in agency statement    
		INSERT INTO ACT_AGENCY_STATEMENT    
		(    
		MONTH_NUMBER, MONTH_YEAR, AGENCY_ID, POLICY_ID, POLICY_VERSION_ID, CUSTOMER_ID, SOURCE_EFF_DATE,     
		PREMIUM_AMOUNT, COMMISSION_RATE ,    
		TOTAL_PAID, SOURCE_ROW_ID, AMOUNT_FOR_CALCULATION, COMMISSION_AMOUNT,    
		DUE_AMOUNT, PAYMENT_STATUS, IS_TEMP_ENTRY, IN_RECON, AMT_IN_RECON, AGENCY_OPEN_ITEM_ID ,  
		ITEM_STATUS , TRAN_TYPE,TRAN_CODE,UPDATED_FROM  
		)    
		VALUES  
		(  
		@MONTH_NUMBER , @MONTH_YEAR , @AGENCY_ID, NULL, NULL , NULL , GETDATE(),     
		NULL , NULL ,    
		NULL , @CHECK_ID , @CHECK_AMT , 0,    
		@DIFFERENCE_AMOUNT * - 1  , 0, 0, NULL, NULL, NULL  ,  
		NULL , @ITEM_TRAN_CODE_TYPE , 'ADJ' , 'C'  
		)  
	END  
	-- Creating Reconciliation Group 
	DECLARE @RECON_GROUP_ID INT   
	
	EXEC PROC_INSERTACT_RECONCILIATION_GROUPS @RECON_GROUP_ID OUTPUT,  
	@AGENCY_ID, 'AGN', 'Y', NULL,   
	NULL, NULL, NULL, NULL  
	
	UPDATE ACT_AGENCY_CHECK_DISTRIBUTION SET RECON_GROUP_ID = @RECON_GROUP_ID  
	WHERE CHECK_ID  = @CHECK_ID  
 
	--Inserting in recon details Check & Adjustment Entry     
	INSERT INTO ACT_AGENCY_RECON_GROUP_DETAILS    
	(    
	GROUP_ID,     
	ITEM_TYPE, ITEM_REFERENCE_ID,     
	SUB_LEDGER_TYPE, RECON_AMOUNT, NOTE, DIV_ID, DEPT_ID, PC_ID  
	)    
	SELECT   
	@RECON_GROUP_ID,  
	@ITEM_TRAN_CODE_TYPE,AGS.ROW_ID,  
	NULL,DUE_AMOUNT,NULL, NULL, NULL, NULL  
	FROM ACT_AGENCY_STATEMENT AGS  
	WHERE ISNULL(AGS.SOURCE_ROW_ID,0)    = @CHECK_ID  
	AND AGS.TRAN_TYPE = @ITEM_TRAN_CODE_TYPE  
	AND AGS.UPDATED_FROM = 'C'  
	
	--Ravindra(08-18-2008): For Complete App bonus checks insert record for that CSR only
	-- Inserting Other Records in Recon Details Table   
	IF ( @COMM_TYPE = 'CAC' ) 
	BEGIN 
		INSERT INTO ACT_AGENCY_RECON_GROUP_DETAILS    
		(    
		GROUP_ID,     
		ITEM_TYPE, ITEM_REFERENCE_ID,     
		SUB_LEDGER_TYPE, RECON_AMOUNT, NOTE, DIV_ID, DEPT_ID, PC_ID    
		)    
		SELECT   
		@RECON_GROUP_ID,  
		@ITEM_TRAN_CODE_TYPE,AGS.ROW_ID,  
		NULL, ISNULL(AGS.DUE_AMOUNT,0) - ISNULL(AGS.TOTAL_PAID,0) ,NULL, NULL, NULL, NULL  
		FROM ACT_AGENCY_STATEMENT AGS  
		WHERE   
		AGS.AGENCY_ID = @AGENCY_ID  
		AND AGS.MONTH_NUMBER = @MONTH_NUMBER  
		AND AGS.MONTH_YEAR = @MONTH_YEAR  
		AND (AGS.COMM_TYPE = @COMM_TYPE OR AGS.ITEM_STATUS = @COMM_TYPE )  -- For OP use Item Status  
		AND ISNULL(AGS.SOURCE_ROW_ID,0)  <>  @CHECK_ID  
		AND ISNULL(AGS.TRAN_TYPE,'') <>  @ITEM_TRAN_CODE_TYPE  
		AND ISNULL(AGS.UPDATED_FROM,'') <> 'C'  
		AND CSR_ID  = @PAYEE_ENTITY_ID 
	END
	ELSE
	BEGIN 
		INSERT INTO ACT_AGENCY_RECON_GROUP_DETAILS    
		(    
		GROUP_ID,     
		ITEM_TYPE, ITEM_REFERENCE_ID,     
		SUB_LEDGER_TYPE, RECON_AMOUNT, NOTE, DIV_ID, DEPT_ID, PC_ID    
		)    
		SELECT   
		@RECON_GROUP_ID,  
		@ITEM_TRAN_CODE_TYPE,AGS.ROW_ID,  
		NULL, ISNULL(AGS.DUE_AMOUNT,0) - ISNULL(AGS.TOTAL_PAID,0) ,NULL, NULL, NULL, NULL  
		FROM ACT_AGENCY_STATEMENT AGS  
		WHERE   
		AGS.AGENCY_ID = @AGENCY_ID  
		AND AGS.MONTH_NUMBER = @MONTH_NUMBER  
		AND AGS.MONTH_YEAR = @MONTH_YEAR  
		AND (AGS.COMM_TYPE = @COMM_TYPE OR AGS.ITEM_STATUS = @COMM_TYPE )  -- For OP use Item Status  
		AND ISNULL(AGS.SOURCE_ROW_ID,0)  <>  @CHECK_ID  
		AND ISNULL(AGS.TRAN_TYPE,'') <>  @ITEM_TRAN_CODE_TYPE  
		AND ISNULL(AGS.UPDATED_FROM,'') <> 'C'  
	END

   
	/**********************************************/  
	--- Update Agency Statement Table From the Reconciled Records  
	
	UPDATE ACT_AGENCY_STATEMENT    
	SET TOTAL_PAID = ISNULL(TOTAL_PAID,0) + ISNULL(RECON_AMOUNT,0)    
	FROM ACT_AGENCY_RECON_GROUP_DETAILS ARGD    
	INNER JOIN ACT_RECONCILIATION_GROUPS RG   
	ON RG.GROUP_ID = ARGD.GROUP_ID    
	AND RG.GROUP_ID = @RECON_GROUP_ID  
	WHERE ACT_AGENCY_STATEMENT.ROW_ID = ARGD.ITEM_REFERENCE_ID    
	
	-- Posting In to general Ledger  
	
	DECLARE @AST_UNCOLL_PRM_AGENCY Int    
	DECLARE @LIB_COMM_PAYB_AGENCY_BILL Int    
	DECLARE @LIB_COMM_PAYB_DIRECT_BILL Int  
	DECLARE @COMMIT_DATE DateTime  
	SELECT @COMMIT_DATE  = GETDATE()  
	
	--Fetching the accounts details    
	SELECT     
	@AST_UNCOLL_PRM_AGENCY = AST_UNCOLL_PRM_AGENCY  ,  
	@LIB_COMM_PAYB_AGENCY_BILL = LIB_COMM_PAYB_AGENCY_BILL,  
	@LIB_COMM_PAYB_DIRECT_BILL = LIB_COMM_PAYB_DIRECT_BILL  
	FROM ACT_GENERAL_LEDGER    
	WHERE @COMMIT_DATE BETWEEN FISCAL_BEGIN_DATE AND FISCAL_END_DATE  
   
	IF(@AB_PREMIUM_AMOUNT <> 0)  
	BEGIN  
		--Posting AB premium (Crediting Uncollected Premium - Agency Bill Admitted  )  
		INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS    
		(    
		ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,    
		SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,     
		TRANSACTION_AMOUNT,     
		AGENCY_COMM_PERC,    
		AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,    
		POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,     
		IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,     
		SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,     
		TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,    
		IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME   
		,TRAN_ENTITY,TRAN_DESC   
		)    
		VALUES  
		(   
		@AST_UNCOLL_PRM_AGENCY, 'C', NULL, @CHECK_ID, NULL,    
		NULL, @CHECK_DATE, GETDATE(), Getdate(),     
		@AB_PREMIUM_AMOUNT * -1,     
		NULL,    
		NULL, @AGENCY_ID,     
		NULL, NULL, NULL, NULL, NULL, NULL,    
		NULL, NULL, @AB_PREMIUM_AMOUNT * -1, @ITEM_TRAN_CODE , @ITEM_TRAN_CODE_TYPE  , NULL, NULL,    
		NULL, NULL, NULL, NULL,     
		NULL, NULL, NULL, NULL,     
		NULL, NULL, NULL, NULL ,NULL    
		,@TRAN_ENTITY,@TRAN_DESC  
		) 	END   
	
	IF (@AB_COMMISSION_AMOUNT <> 0)  
	BEGIN   
		--Posting AB Commission (Crediting Commission Payable - Direct Bill)  
		INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS    
		(    
		ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,    
		SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,     
		TRANSACTION_AMOUNT,     
		AGENCY_COMM_PERC,    
		AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,    
		POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,     
		IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,     
		SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,     
		TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,    
		IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME    
		,TRAN_ENTITY,TRAN_DESC  
		)    
		VALUES(  
		@LIB_COMM_PAYB_AGENCY_BILL, 'C', NULL, @CHECK_ID , NULL,    
		NULL , @CHECK_DATE , GETDATE() , Getdate(),     
		@AB_COMMISSION_AMOUNT  * -1 ,     
		NULL,    
		NULL, @AGENCY_ID,     
		NULL, NULL, NULL, NULL, NULL, NULL,    
		NULL, NULL, @AB_COMMISSION_AMOUNT * -1 ,@ITEM_TRAN_CODE , @ITEM_TRAN_CODE_TYPE  , NULL, NULL,    
		NULL, NULL, NULL, NULL,     
		NULL, NULL, NULL, NULL,     
		NULL, NULL, NULL, NULL ,NULL    
		,@TRAN_ENTITY,@TRAN_DESC  
		)   
	END   
	
	IF(@DB_COMMISSION_AMOUNT <> 0)  
	BEGIN  
		--Posting DB  Commission (Crediting Commission Payable - Agency Bill)   
		INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS    
		(    
		ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,    
		SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,     
		TRANSACTION_AMOUNT,     
		AGENCY_COMM_PERC,    
		AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,    
		POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,     
		IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,     
		SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,     
		TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,    
		IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME    
		,TRAN_ENTITY,TRAN_DESC  
		)    
		VALUES(     
		@LIB_COMM_PAYB_DIRECT_BILL, 'C', NULL, @CHECK_ID , NULL,    
		NULL , @CHECK_DATE , GETDATE() , Getdate(),     
		@DB_COMMISSION_AMOUNT * -1 ,     
		NULL,    
		NULL, @AGENCY_ID,     
		NULL, NULL, NULL, NULL, NULL, NULL,    
		NULL, NULL, @DB_COMMISSION_AMOUNT * -1,@ITEM_TRAN_CODE , @ITEM_TRAN_CODE_TYPE  , NULL, NULL,    
		NULL, NULL, NULL, NULL,     
		NULL, NULL, NULL, NULL,     
		NULL, NULL, NULL, NULL ,NULL    
		,@TRAN_ENTITY,@TRAN_DESC  
		)  
	END  
	--For Over Payment  
	
	IF(@OP_AMOUNT <> 0)  
	BEGIN  
		--Posting DB  Commission (Debiting Uncollected Premium  - Agency Bill)   
		INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS    
		(    
		ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,    
		SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE,     
		TRANSACTION_AMOUNT,     
		AGENCY_COMM_PERC,    
		AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,    
		POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,     
		IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,     
		SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,     
		TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,    
		IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME    
		,TRAN_ENTITY,TRAN_DESC  
		)    
		VALUES(     
		@AST_UNCOLL_PRM_AGENCY, 'C', NULL, @CHECK_ID , NULL,    
		NULL , @CHECK_DATE , GETDATE() , Getdate(),     
		@OP_AMOUNT * - 1,     
		NULL,    
		NULL, @AGENCY_ID,     
		NULL, NULL, NULL, NULL, NULL, NULL,    
		NULL, NULL, @OP_AMOUNT ,@ITEM_TRAN_CODE , @ITEM_TRAN_CODE_TYPE  , NULL, NULL,    
		NULL, NULL, NULL, NULL,     
		NULL, NULL, NULL, NULL,     
		NULL, NULL, NULL, NULL ,NULL    
		,@TRAN_ENTITY,@TRAN_DESC 
		)  
	END  
	
	IF(@DIFFERENCE_AMOUNT <> 0)  
	BEGIN  
		--fetching Description form ACT_AGENCY_CHECK_DISTRIBUTION:
		-- Modified by Rajan on 7th March 2008 for iTrack 3823, Worng description was going for bank account.
		DECLARE @TRAN_DESC_AgencyCheckExtraDist Varchar(500)  
		SELECT @TRAN_DESC_AgencyCheckExtraDist = ISNULL([DESCRIPTION],'') FROM ACT_AGENCY_CHECK_DISTRIBUTION 
		WHERE CHECK_ID = @CHECK_ID
		--Debiting Adjustment Account with Difference  amount
	END  

	--***** Fetch PAYMENT_MODE Value for agency check from ACT_CHECK_INFORMATION, for EFT record entry into EOD_EFT_SPOOL table
	--***** If PAYMENT_MODE is EFT :: Insert Record in EOD_EFT_SPOOL
	
	SELECT @PAY_MODE = PAYMENT_MODE FROM ACT_CHECK_INFORMATION WHERE CHECK_ID = @CHECK_ID
	IF(@PAY_MODE = @EFT)
	BEGIN
		IF(@COMM_TYPE = 'ADC') 
		BEGIN 
			SET @BRICSTransactionType = 102
		END
		ELSE 
		BEGIN 
			SET @BRICSTransactionType = 101
		END
		INSERT INTO EOD_EFT_SPOOL (ENTITY_ID,ENTITY_TYPE,REF_CHECK_ID,TRANSACTION_AMOUNT,
		TRANSACTION_CODE,ACC_TRAN_REQUIRED,ACCOUNT_TO_USE,CREATED_DATETIME , BRICS_TRAN_TYPE)
		VALUES(@AGENCY_ID,'AGN',@CHECK_ID,@CHECK_AMT,12,'N',@ACC_TO_USE,GETDATE() , @BRICSTransactionType)
	END
	-- ***** End
  
END  
  
  
--If Check Type is Vendor Insert an entry into ACT_VENDOR_OPEN_ITEMS  
IF (@CHECK_TYPE = @VC_Check)  

BEGIN  
	DECLARE @VENDOR INT  
	DECLARE @BAL DECIMAL(18,2) , @TOTPAYAMT DECIMAL(18,2)
	
         
	
	-- Find Vendor Id corresponding to Check Id  
	SELECT @VENDOR = PAYEE_ENTITY_ID ,@CHECK_AMT = CHECK_AMOUNT,  
	@TRAN_DESC = CHECK_NOTE   
	FROM ACT_CHECK_INFORMATION WHERE CHECK_ID = @CHECK_ID  AND CHECK_TYPE = '9938'  
	
	
--	SELECT @TRAN_ENTITY = ISNULL(VENDOR_CODE,'') + ' - ' + ISNULL(COMPANY_NAME,'')  
	SELECT @TRAN_ENTITY = ISNULL(COMPANY_NAME,'')
	FROM MNT_VENDOR_LIST (NOLOCK) WHERE VENDOR_ID = @VENDOR  
	
	--***** Fetch PAYMENT_MODE Value for vendor check from ACT_CHECK_INFORMATION, for EFT record entry into EOD_EFT_SPOOL table
	--***** If PAYMENT_MODE is EFT :: Insert Record in EOD_EFT_SPOOL
	SELECT @PAY_MODE = PAYMENT_MODE FROM ACT_CHECK_INFORMATION (NOLOCK) WHERE CHECK_ID = @CHECK_ID AND CHECK_TYPE = '9938'
	IF(@PAY_MODE = @EFT_VENDOR)
	BEGIN
	
	
		INSERT INTO EOD_EFT_SPOOL (ENTITY_ID,ENTITY_TYPE,REF_CHECK_ID,TRANSACTION_AMOUNT,
								   TRANSACTION_CODE,ACC_TRAN_REQUIRED,ACCOUNT_TO_USE,CREATED_DATETIME,
									BRICS_TRAN_TYPE)
		VALUES(@VENDOR,'VEN',@CHECK_ID,@CHECK_AMT,12,'N',@ACC_TO_USE,GETDATE(), 105)
	END
	

	 -- ***** End

	
	SELECT @TOTPAYAMT = SUM(AMOUNT_TO_APPLY)      
	FROM ACT_VENDOR_CHECK_DISTRIBUTION WHERE VENDOR_ID = @VENDOR AND CHECK_ID = @CHECK_ID    
	 
	UPDATE ACT_VENDOR_OPEN_ITEMS   
	SET ACT_VENDOR_OPEN_ITEMS.TOTAL_PAID = ISNULL(ACT_VENDOR_OPEN_ITEMS.TOTAL_PAID,0) + ISNULL(AMOUNT_TO_APPLY,0)  
	FROM ACT_VENDOR_CHECK_DISTRIBUTION  
	WHERE ACT_VENDOR_OPEN_ITEMS.IDEN_ROW_ID = ACT_VENDOR_CHECK_DISTRIBUTION.OPEN_ITEM_ROW_ID  
	AND ACT_VENDOR_CHECK_DISTRIBUTION.CHECK_ID = @CHECK_ID  
	-- AND ISNULL(ACT_VENDOR_CHECK_DISTRIBUTION.IS_CHECK_CREATED,'N') <> 'Y'  
	
	
	-- select Balance of latest tran of that vendor  
	SELECT TOP 1 @BAL = BALANCE FROM ACT_VENDOR_OPEN_ITEMS   
	WHERE VENDOR_ID = @VENDOR  
	ORDER BY IDEN_ROW_ID  DESC  
	
	--Inserting into vendor ledger       
	INSERT INTO ACT_VENDOR_OPEN_ITEMS      
	(       
	UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE,       
	POSTING_DATE, TOTAL_DUE, TOTAL_PAID,VENDOR_ID,       
	PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS,       
	NOT_COUNTED_RECEIVABLE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON,       
	AMT_IN_RECON, OPEN_RECON_CTR,BALANCE, ITEM_TRAN_TYPE , ITEM_TRAN_CODE  
	)        
	SELECT  
	@updatedFrom, CHECK_ID, CHECK_NUMBER, CHECK_DATE,GETDATE(),    
	CHECK_DATE,CHECK_AMOUNT * -1, @TOTPAYAMT * -1,PAYEE_ENTITY_ID,       
	NULL, NULL, NULL,      
	NULL, NULL, NULL, @PC_ID, NULL, NULL,       
	NULL, NULL,ISNULL(@BAL,0) - CHECK_AMOUNT , @ITEM_TRAN_CODE_TYPE , @ITEM_TRAN_CODE    
	
	FROM       
	ACT_CHECK_INFORMATION     
	WHERE  
	CHECK_ID = @CHECK_ID  
	
	
	--Inserting the record in ACT_ACCOUNTS_POSTING_DETAILS  
	--DST.REF_INVOICE_ID 
	INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS    
	(    
	ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,    
	SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_COMM_PERC,    
	AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,    
	IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,     
	SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,     
	TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,    
	IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME  ,  
	TRAN_ENTITY, TRAN_DESC  
	)    
	SELECT     
	OFFSET_ACC_ID, @updatedFrom, NULL, @CHECK_ID, null,  
	CHECK_NUMBER , CHECK_DATE, GETDATE(), Getdate(), SUM(ISNULL(DST.AMOUNT_TO_APPLY,0)), NULL,    
	NULL, NULL, null,null, null, @DIV_ID, @DEPT_ID, @PC_ID,    
	NULL, NULL,SUM(ISNULL(DST.AMOUNT_TO_APPLY,0)), @ITEM_TRAN_CODE,@ITEM_TRAN_CODE_TYPE, NULL, NULL,    
	NULL, NULL, NULL,NULL ,     
	null, NULL, NULL, NULL,     
	NULL, NULL, @MODIFIED_BY, NULL, NULL  ,  
	@TRAN_ENTITY ,CASE CHK.PAYMENT_MODE WHEN @EFT_VENDOR THEN 'EFT Against ' + DST.REF_INVOICE_NO + ' / ' + DST.REF_INVOICE_REF_NO ELSE DST.REF_INVOICE_NO + ' / ' + DST.REF_INVOICE_REF_NO END
	FROM     
	ACT_CHECK_INFORMATION   CHK  
	INNER JOIN ACT_VENDOR_CHECK_DISTRIBUTION DST  
	ON DST.CHECK_ID = CHK.CHECK_ID  
	WHERE     
	CHK.CHECK_ID = @CHECK_ID    
	GROUP BY DST.AMOUNT_TO_APPLY ,CHK.CHECK_ID,CHK.CHECK_DATE ,  
	DST.REF_INVOICE_REF_NO,OFFSET_ACC_ID ,CHECK_NUMBER ,DST.REF_INVOICE_NO ,CHK.PAYMENT_MODE
  
END  
    
    
/************************************************************  
For Premium Refund Checks for Return Premium Payment  
Premium Refund Checks for Over Payment  
Premium Refund Checks for Suspense Amount  
***************************************************************/  
IF (@CHECK_TYPE =  @RPC_Check OR @CHECK_TYPE = @ROP_Check OR @CHECK_TYPE  = @RSC_Check)  
BEGIN  
	--Reconciling the check    
	
	DECLARE @CHECK_AMOUNT DECIMAL(18,2), @TOTAL_DUE DECIMAL(18,2), @AMT_RECONCILED DECIMAL(18,2)    
	
	SELECT @CHECK_AMOUNT = ISNULL(CHECK_AMOUNT,0)  ,  
	@TRAN_DESC = CHECK_NOTE   
	FROM ACT_CHECK_INFORMATION    
	WHERE CHECK_ID = @CHECK_ID    

	--#### Modified on 06 Dec 2007
	--GET TRANS DESCRIPTION FOR ROP , RSC , RPC
	DECLARE @POLICY_NUMBER VARCHAR(20)
	IF(@CHECK_TYPE = @ROP_Check)
	BEGIN
		
		SELECT    @POLICY_NUMBER = POL.POLICY_NUMBER ,
				@LOB_ID  = POL.POLICY_LOB , @STATE_ID = POL.STATE_ID
		FROM ACT_CHECK_INFORMATION ACT INNER JOIN POL_CUSTOMER_POLICY_LIST POL 
			ON ACT.CUSTOMER_ID = POL.CUSTOMER_ID 
			AND ACT.POLICY_ID = POL.POLICY_ID 
			AND ACT.POLICY_VER_TRACKING_ID = POL.POLICY_VERSION_ID
			WHERE ACT.CHECK_ID=@CHECK_ID
		SET @TRAN_DESC = 'Over Payment ' + @POLICY_NUMBER
	
	END
	IF(@CHECK_TYPE = @RSC_Check)
	BEGIN
		
		SELECT    @POLICY_NUMBER = POL.POLICY_NUMBER,
			@LOB_ID  = POL.POLICY_LOB , @STATE_ID = POL.STATE_ID
		FROM ACT_CHECK_INFORMATION ACT INNER JOIN POL_CUSTOMER_POLICY_LIST POL 
			ON ACT.CUSTOMER_ID = POL.CUSTOMER_ID 
			AND ACT.POLICY_ID = POL.POLICY_ID 
			AND ACT.POLICY_VER_TRACKING_ID = POL.POLICY_VERSION_ID
			WHERE ACT.CHECK_ID=@CHECK_ID
		SET @TRAN_DESC = 'Refund ' + @POLICY_NUMBER
	
	END
	IF(@CHECK_TYPE = @RPC_Check)
	BEGIN

		SELECT  @POLICY_NUMBER = POL.POLICY_NUMBER , 
			@LOB_ID  = POL.POLICY_LOB , @STATE_ID = POL.STATE_ID
			FROM ACT_CHECK_INFORMATION ACT WITH(NOLOCK)
			INNER JOIN POL_CUSTOMER_POLICY_LIST POL WITH(NOLOCK)
			ON ACT.CUSTOMER_ID = POL.CUSTOMER_ID 
			AND ACT.POLICY_ID = POL.POLICY_ID 
			AND ACT.POLICY_VER_TRACKING_ID = POL.POLICY_VERSION_ID
			WHERE ACT.CHECK_ID=@CHECK_ID

		DECLARE  @ITEM_TRAN_RPC_CODE VARCHAR(20)

			SELECT   @ITEM_TRAN_RPC_CODE = OITM.ITEM_TRAN_CODE
			FROM ACT_CHECK_INFORMATION CHK WITH(NOLOCK)
			INNER JOIN  ACT_CUSTOMER_OPEN_ITEMS OITM WITH(NOLOCK)
			ON OITM.IDEN_ROW_ID = CHK.OPEN_ITEM_ROW_ID
		WHERE CHECK_ID =@CHECK_ID

		IF(@ITEM_TRAN_RPC_CODE = 'ENDP')
		BEGIN
		   SET @TRAN_DESC = 'Change ' + @POLICY_NUMBER
		END

		IF(@ITEM_TRAN_RPC_CODE = 'CANCP')
		BEGIN
		   SET @TRAN_DESC = 'Cancel ' + @POLICY_NUMBER
		END
			
	END


--#### END Modified on 06 Dec 2007

	
	
	--Fetch Insured Name   
	SELECT @TRAN_ENTITY = ISNULL(CUSTOMER_CODE,'') + ' - ' + ISNULL(CUSTOMER_FIRST_NAME,'') 
		+ ' ' + ISNULL(CUSTOMER_MIDDLE_NAME,'') +
		CASE WHEN ISNULL(CUSTOMER_MIDDLE_NAME,'') = '' THEN '' ELSE ' ' END
		+ 
		ISNULL(CUSTOMER_LAST_NAME ,'')
	FROM CLT_CUSTOMER_LIST  WITH(NOLOCK)
	WHERE CUSTOMER_ID = @CUSTOMER_ID    
	
	SELECT @TOTAL_DUE = (ISNULL(ACOI.TOTAL_DUE, 0) - ISNULL(ACOI.TOTAL_PAID, 0)) * -1    
	FROM ACT_CHECK_INFORMATION ACT    
	LEFT JOIN ACT_CUSTOMER_OPEN_ITEMS ACOI ON ACT.OPEN_ITEM_ROW_ID = ACOI.IDEN_ROW_ID    
	WHERE ACT.CHECK_ID = @CHECK_ID    
	
	--Calculating the amount which should be reconciled    
--	SELECT     
--	@AMT_RECONCILED =     
--	CASE     
--	WHEN @CHECK_AMOUNT >= @TOTAL_DUE THEN (ISNULL(TOTAL_DUE,0) - ISNULL(TOTAL_PAID,0)) * -1    
--	ELSE @CHECK_AMOUNT    
--	END    
--	FROM ACT_CUSTOMER_OPEN_ITEMS, ACT_CHECK_INFORMATION    
--	WHERE ACT_CUSTOMER_OPEN_ITEMS.IDEN_ROW_ID = ACT_CHECK_INFORMATION.OPEN_ITEM_ROW_ID     
--	AND ACT_CHECK_INFORMATION.CHECK_ID = @CHECK_ID    
	
	--Reconciling the deposit amount against that check if any    
	/*UPDATE ACT_CUSTOMER_OPEN_ITEMS     
	SET TOTAL_PAID =     
	CASE     
	WHEN @CHECK_AMOUNT >= @TOTAL_DUE THEN TOTAL_DUE     
	ELSE (ISNULL(TOTAL_PAID,0) + (@CHECK_AMOUNT * -1))     
	END,    
	ITEM_STATUS =     
	CASE     
	WHEN @CHECK_AMOUNT >= @TOTAL_DUE THEN 'NP'
	ELSE 'OP'    
	END,    
	IS_CHECK_CREATED =   
	CASE     
	WHEN @CHECK_AMOUNT >= @TOTAL_DUE THEN 'Y'    
	ELSE 'N'    
	END  ,

	ITEM_ORIGINAL_STATUS =   
	CASE     
	WHEN @CHECK_AMOUNT >= @TOTAL_DUE THEN ACT_CUSTOMER_OPEN_ITEMS.ITEM_STATUS 
	ELSE ITEM_ORIGINAL_STATUS    
	END

	FROM ACT_CHECK_INFORMATION    
	WHERE ACT_CUSTOMER_OPEN_ITEMS.IDEN_ROW_ID = ACT_CHECK_INFORMATION.OPEN_ITEM_ROW_ID     
	AND ACT_CHECK_INFORMATION.CHECK_ID = @CHECK_ID    
   */

	--Changes by Shikha for itrack #5615 on 13/11/09
	UPDATE ACT_CUSTOMER_OPEN_ITEMS
	SET TOTAL_PAID = ISNULL(TOTAL_PAID,0) + ACOI.AMOUNT,
	ITEM_STATUS = 'NP', IS_CHECK_CREATED = 'Y',ITEM_ORIGINAL_STATUS = ACT_CUSTOMER_OPEN_ITEMS.ITEM_STATUS
	FROM ACT_CHECK_OPEN_ITEMS ACOI WHERE ACOI.IDEN_ROW_ID = ACT_CUSTOMER_OPEN_ITEMS.IDEN_ROW_ID AND ACOI.CHECK_ID = @CHECK_ID
	--End
     
	--Inserting a new open item, for check    
	INSERT INTO ACT_CUSTOMER_OPEN_ITEMS    
	(    
	UPDATED_FROM, SOURCE_ROW_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE,     
	POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_COMM_APPLIES, AGENCY_COMM_PERC,     
	AGENCY_COMM_AMT, AGENCY_ID,     
	CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, PAYMENT_DATE, DATE_FULL_PAID, PAYMENT_STATUS, NOT_COUNTED_RECEIVABLE,     
	PAYOR_TYPE, DIV_ID, DEPT_ID, PC_ID, IS_TEMP_ENTRY, IN_RECON, IS_PREBILL, BILL_CODE, GROSS_AMOUNT,     
	ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, CASH_ACCOUNTING, RECUR_JOURNAL_VERSION, JE_RECON_COUNTER,     
	AMT_IN_RECON, OPEN_RECON_CTR, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID, TRANS_DESC, ITEM_STATUS,
	DUE_DATE    
	)     
	SELECT     
	'C', @CHECK_ID, CI.CHECK_NUMBER, CI.CHECK_DATE, GETDATE(),    
	GETDATE(), CI.CHECK_AMOUNT, CI.CHECK_AMOUNT, NULL, NULL,     
	NULL, NULL,    
	CI.CUSTOMER_ID, CI.POLICY_ID, CI.POLICY_VER_TRACKING_ID, NULL, NULL, 1, 0,    
	'CUS', CI.DIV_ID, CI.DEPT_ID, CI.PC_ID, NULL, NULL, NULL, NULL, CI.CHECK_AMOUNT,    
	@ITEM_TRAN_CODE, @ITEM_TRAN_CODE_TYPE, NULL, NULL, NULL, NULL,     
	NULL, NULL, AL.APP_LOB, AL.APP_SUBLOB, AL.COUNTRY_ID, AL.STATE_ID,
        CASE CI.PAYMENT_MODE
	WHEN 11974 THEN 'Payment Reversal (Credit Card).'
     	ELSE 'Check Issued.'
	END,   NULL ,
	GETDATE()   
	FROM     
	ACT_CHECK_INFORMATION CI WITH (NOLOCK)     
	LEFT JOIN POL_CUSTOMER_POLICY_LIST PCL WITH (NOLOCK)ON     
	PCL.POLICY_ID = CI.POLICY_ID AND PCL.POLICY_VERSION_ID = CI.POLICY_VER_TRACKING_ID AND PCL.CUSTOMER_ID = CI.CUSTOMER_ID    
	LEFT JOIN APP_LIST AL WITH (NOLOCK)ON     
	AL.APP_ID = PCL.APP_ID AND AL.APP_VERSION_ID = PCL.APP_VERSION_ID AND AL.CUSTOMER_ID = PCL.CUSTOMER_ID    
	WHERE     
	CI.CHECK_ID = @CHECK_ID    
  
    
	--Creating the reconciliation group    
	DECLARE @GROUP_ID INT, @CUR_DATE DATETIME    
	SELECT @CUR_DATE = GETDATE()    
	EXEC Proc_InsertACT_RECONCILIATION_GROUPS     
	@GROUP_ID OUTPUT, @CUSTOMER_ID, 'CUST', 'Y', @CUR_DATE, @MODIFIED_BY, @MODIFIED_BY, @CUR_DATE, NULL    
	
	
	--Creating customer reconciliation group detail   (check entry)   
	INSERT INTO ACT_CUSTOMER_RECON_GROUP_DETAILS    
	(    
	GROUP_ID, ITEM_TYPE, ITEM_REFERENCE_ID, SUB_LEDGER_TYPE,     
	RECON_AMOUNT, NOTE, DIV_ID, DEPT_ID, PC_ID    
	)    
	SELECT     
	@GROUP_ID, @ITEM_TRAN_CODE_TYPE, IDEN_ROW_ID, null,    
	-- Ravindra(10-29-2008)
	--@AMT_RECONCILED * -1, '', AOCI.DIV_ID, AOCI.DEPT_ID, AOCI.PC_ID    
	--@AMT_RECONCILED , '', AOCI.DIV_ID, AOCI.DEPT_ID, AOCI.PC_ID     
	@CHECK_AMOUNT, '', AOCI.DIV_ID, AOCI.DEPT_ID, AOCI.PC_ID     
	FROM ACT_CUSTOMER_OPEN_ITEMS AOCI  
	INNER JOIN ACT_CHECK_INFORMATION CHK  
	ON CHK.CHECK_ID = AOCI.SOURCE_ROW_ID     
	WHERE AOCI.UPDATED_FROM = 'C'    
	AND AOCI.SOURCE_ROW_ID = @CHECK_ID  
	
	--Creating customer reconciliation group detail  
	INSERT INTO ACT_CUSTOMER_RECON_GROUP_DETAILS    
	(    
	GROUP_ID, ITEM_TYPE, ITEM_REFERENCE_ID, SUB_LEDGER_TYPE,     
	RECON_AMOUNT, NOTE, DIV_ID, DEPT_ID, PC_ID    
	)    
	SELECT     
	@GROUP_ID, @ITEM_TRAN_CODE_TYPE, OI.IDEN_ROW_ID, null,    
	-- Ravindra(10-29-2008)
	--@AMT_RECONCILED, '', ACT_CUSTOMER_OPEN_ITEMS.DIV_ID, ACT_CUSTOMER_OPEN_ITEMS.DEPT_ID, ACT_CUSTOMER_OPEN_ITEMS.PC_ID    
--	@AMT_RECONCILED * -1 , '', ACT_CUSTOMER_OPEN_ITEMS.DIV_ID, ACT_CUSTOMER_OPEN_ITEMS.DEPT_ID, ACT_CUSTOMER_OPEN_ITEMS.PC_ID    
--	FROM ACT_CUSTOMER_OPEN_ITEMS, ACT_CHECK_INFORMATION    
--	WHERE ACT_CUSTOMER_OPEN_ITEMS.IDEN_ROW_ID = ACT_CHECK_INFORMATION.OPEN_ITEM_ROW_ID     
--	AND ACT_CHECK_INFORMATION.CHECK_ID = @CHECK_ID     
--  Shikha(13/11/2009)
	ACOI.AMOUNT * -1 , '', OI.DIV_ID, OI.DEPT_ID, OI.PC_ID    
	FROM ACT_CUSTOMER_OPEN_ITEMS OI, ACT_CHECK_OPEN_ITEMS ACOI
	WHERE OI.IDEN_ROW_ID = ACOI.IDEN_ROW_ID AND ACOI.CHECK_ID = @CHECK_ID
	--End reconciling check    
END    
ELSE IF ( @CHECK_TYPE = @REC_Check)  
BEGIN   
  
	--Fetch Insured Name   
	SELECT @TRAN_ENTITY = PAYEE_ENTITY_NAME  
	FROM ACT_CHECK_INFORMATION   
	WHERE CHECK_ID = @CHECK_ID   
	
	SET @TRAN_DESC = 'Reinsurance Check'    
END   
ELSE IF ( @CHECK_TYPE = @MOC_Check)  
BEGIN   
  
	--Fetch Insured Name   
	SELECT @TRAN_ENTITY = PAYEE_ENTITY_NAME,  
	@TRAN_DESC = CHECK_NOTE  
	FROM ACT_CHECK_INFORMATION   
	WHERE CHECK_ID = @CHECK_ID   
END   
    
  

IF ( @CHECK_TYPE <> @CC_Check   )
BEGIN 
	/******************************CREDITING Bank ACCOUNT***********************************/  
	--Inserting the record in ACT_ACCOUNTS_POSTING_DETAILS  
	     
	 INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS    
	 (    
	  ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,    
	  SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_COMM_PERC,    
	  AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID,   
	  DIV_ID, DEPT_ID, PC_ID,     
	  IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,     
	  SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,     
	  TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,    
	  IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME,  
	  TRAN_ENTITY,TRAN_DESC    
	 )    
	 SELECT     
	  @BANKAccountId, @updatedFrom , NULL, @CHECK_ID, NULL,    
	  CHECK_NUMBER, CHECK_DATE, GETDATE(), Getdate(), -CHECK_AMOUNT, NULL,    
	  NULL,  CASE @CHECK_TYPE WHEN @ACC_Check Then @AGENCY_ID ELSE NULL END , CUSTOMER_ID ,POLICY_ID,POLICY_VER_TRACKING_ID,  
	  @DIV_ID, @DEPT_ID, @PC_ID,    
	  NULL, NULL, CHECK_AMOUNT, @ITEM_TRAN_CODE, @ITEM_TRAN_CODE_TYPE, NULL, @LOB_ID,    
	  NULL, NULL, @STATE_ID,NULL ,     
	  null, NULL, NULL, NULL,     
	  NULL, NULL, @MODIFIED_BY, NULL, NULL ,  
	  @TRAN_ENTITY,CASE ACT_CHECK_INFORMATION.PAYMENT_MODE WHEN 11788 THEN @TRAN_DESC + ' (EFT)'  ELSE @TRAN_DESC END
	 FROM     
	    ACT_CHECK_INFORMATION     
	  WHERE     
	    CHECK_ID = @CHECK_ID    
END
ELSE
BEGIN 
	 INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS    
	 (    
	  ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,    
	  SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_COMM_PERC,    
	  AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID,   
	  DIV_ID, DEPT_ID, PC_ID,     
	  IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,     
	  SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,     
	  TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,    
	  IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME,  
	  TRAN_ENTITY,TRAN_DESC    
	 )    
	 SELECT     
	  @CLM_SUSPENCE_ACCT, @updatedFrom , NULL, @CHECK_ID, NULL,    
	  CHECK_NUMBER, CHECK_DATE, GETDATE(), Getdate(), -CHECK_AMOUNT, NULL,    
	  NULL,  CASE @CHECK_TYPE WHEN @ACC_Check Then @PAYEE_ENTITY_ID ELSE NULL END , null,null, null,  
	  @DIV_ID, @DEPT_ID, @PC_ID,    
	  NULL, NULL, CHECK_AMOUNT, @ITEM_TRAN_CODE, @ITEM_TRAN_CODE_TYPE, NULL, NULL,    
	  NULL, NULL, NULL,NULL ,     
	  null, NULL, NULL, NULL,     
	  NULL, NULL, @MODIFIED_BY, NULL, NULL ,  
	 @TRAN_ENTITY,@TRAN_DESC   
	 FROM     
	    ACT_CHECK_INFORMATION     
	  WHERE     
	    CHECK_ID = @CHECK_ID  

END      
  
  
/******************************************************  
DEBITING  ACCOUNTS -   
 For Miscellaneous (Other) Checks  
 Reinsurance Premium Checks  
*******************************************************/    
--IF(@CHECK_TYPE = 9940 OR @CHECK_TYPE = 9941 OR @CHECK_TYPE = 9942 OR @CHECK_TYPE=9943 OR @CHECK_TYPE=9939)    
IF(@CHECK_TYPE = @MOC_Check OR @CHECK_TYPE = @REC_Check)  
BEGIN    
  
 --Inserting the record in ACT_ACCOUNTS_POSTING_DETAILS  
 INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS    
 (    
 ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,    
 SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_COMM_PERC,    
 AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,     
 IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,     
 SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,     
 TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,    
 IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME,  
 TRAN_ENTITY,TRAN_DESC   
 ) 
 SELECT     
 ACT_DISTRIBUTION_DETAILS.ACCOUNT_ID, @updatedFrom, NULL, @CHECK_ID, IDEN_ROW_ID,    
 CHECK_NUMBER, CHECK_DATE, NULL, Getdate(), DISTRIBUTION_AMOUNT, NULL,    
 NULL, NULL, null,null, null, @DIV_ID, @DEPT_ID, @PC_ID,    
 NULL, NULL,CHECK_AMOUNT, @ITEM_TRAN_CODE_TYPE, @ITEM_TRAN_CODE,  NULL, NULL,    
 NULL, NULL, NULL,NULL ,     
 null, NULL, NULL, NULL,     
 NULL, NULL, @MODIFIED_BY, NULL, NULL  ,  
 @TRAN_ENTITY , NOTE  
 FROM     
 ACT_DISTRIBUTION_DETAILS inner join ACT_CHECK_INFORMATION on GROUP_ID = CHECK_ID    
 WHERE     
 GROUP_TYPE='CHQ' AND CHECK_ID = @CHECK_ID    
   
END    
/************************************************************************************  
For all other check type (Other Than Vendor & Agency)  
DEBITING  ACCOUNTS - which are offset through posting interface for the check types  
  
***************************************************************************************/  
ELSE IF (@CHECK_TYPE <>  @VC_Check AND  @CHECK_TYPE <> @ACC_Check)  
BEGIN    

 --Inserting the record in ACT_ACCOUNTS_POSTING_DETAILS  
	 INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS    
	 (    
	 ACCOUNT_ID, UPDATED_FROM, SUBLEDGER_TYPE, SOURCE_ROW_ID, MAPPING_SUBLEDGER_ID,    
	 SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, TRANSACTION_AMOUNT, AGENCY_COMM_PERC,    
	 AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID,    
	 IS_PREBILL, BILL_CODE, GROSS_AMOUNT, ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, TRAN_ID, LOB_ID,     
	 SUB_LOB_ID, COUNTRY_ID, STATE_ID, VENDOR_ID,     
	 TAX_ID, ADNL_INFO, IS_BANK_RECONCILED, RECUR_JOURNAL_VERSION,  
	 IN_BNK_RECON, IS_BALANCE_UPDATED, COMMITED_BY, COMMITED_BY_CODE, COMMITED_BY_NAME  ,  
	 TRAN_ENTITY, TRAN_DESC  
	 )    
	 SELECT     
	 OFFSET_ACC_ID, @updatedFrom, NULL, @CHECK_ID, null,    
	 CHECK_NUMBER, CHECK_DATE, GETDATE(), Getdate(), CHECK_AMOUNT, NULL,    
	 NULL, NULL,CUSTOMER_ID ,POLICY_ID,POLICY_VER_TRACKING_ID, @DIV_ID, @DEPT_ID, @PC_ID,    
	 NULL, NULL,CHECK_AMOUNT, @ITEM_TRAN_CODE,@ITEM_TRAN_CODE_TYPE, NULL, @LOB_ID,    
	 NULL, NULL, @STATE_ID ,NULL ,     
	 null, NULL, NULL, NULL,     
	 NULL, NULL, @MODIFIED_BY, NULL, NULL  ,  
	 @TRAN_ENTITY , @TRAN_DESC  
	 FROM     
	 ACT_CHECK_INFORMATION     
	 WHERE     
	 CHECK_ID = @CHECK_ID    
END    
  
   
--Updating the record in Check table  
UPDATE ACT_CHECK_INFORMATION    
SET IS_COMMITED  =   @IS_COMMITED,    
 DATE_COMMITTED  =   @DATE_COMMITTED ,    
 MODIFIED_BY  =   @MODIFIED_BY  ,    
 LAST_UPDATED_DATETIME =@LAST_UPDATED_DATETIME,    
 GL_UPDATE = 1,    
 DIV_ID =@DIV_ID,    
 DEPT_ID = @DEPT_ID,    
 PC_ID = @PC_ID    
WHERE CHECK_ID = @CHECK_ID    
  
    
  RETURN 1    
  
END 

--GO
--SELECT * FROM ACT_CUSTOMER_OPEN_ITEMS WHERE CUSTOMER_ID = 490 AND POLICY_ID = 2
--EXEC Proc_CommitACT_CHECK_INFORMATION 2904,'','11/13/2009',340,'11/13/2009',0,0,0
--SELECT * FROM ACT_CUSTOMER_OPEN_ITEMS WHERE CUSTOMER_ID = 490 AND POLICY_ID = 2
--ROLLBACK TRAN









GO

