IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_DELETENAMEDPERILS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_DELETENAMEDPERILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*PROC NAME :DBO.PROC_DELETENAMEDPERILS  
 CREATED BY :PRADEEP KUSHWAHA    
DATE  : 22 MARCH 2010    
PURPOSE  : TO DELETE NAMED PERILS DETAILS  
*/    
--DROP PROC DBO.PROC_DELETENAMEDPERILS  
  
CREATE PROC [dbo].[PROC_DELETENAMEDPERILS]    
(     
 @PERIL_ID  SMALLINT ,  
 @CUSTOMER_ID INT,      
 @POLICY_ID INT,      
 @POLICY_VERSION_ID SMALLINT,  
 @LOCATION_ID INT, 
 @CONFIRMVALUE INT       
)                
AS                
BEGIN                
    IF @CONFIRMVALUE <> '' AND @CONFIRMVALUE =6 --Yes (6) will remove it in both places Policy Location and Risk Location  
		BEGIN
			 DELETE FROM POL_PERILS  WHERE  CUSTOMER_ID =@CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND  POLICY_VERSION_ID=@POLICY_VERSION_ID   AND     PERIL_ID=@PERIL_ID 
			 DELETE FROM POL_LOCATIONS WHERE LOCATION_ID=@LOCATION_ID AND CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  
			 
			 DELETE FROM POL_PROTECTIVE_DEVICES  WHERE  CUSTOMER_ID =@CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND  POLICY_VERSION_ID=@POLICY_VERSION_ID  AND LOCATION_ID=@LOCATION_ID  
			 
			 DELETE FROM POL_PRODUCT_COVERAGES  WHERE  CUSTOMER_ID =@CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND  POLICY_VERSION_ID=@POLICY_VERSION_ID  AND RISK_ID=@PERIL_ID 
			 DELETE FROM POL_DISCOUNT_SURCHARGE  WHERE  CUSTOMER_ID =@CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND  POLICY_VERSION_ID=@POLICY_VERSION_ID AND RISK_ID=@PERIL_ID   
			 RETURN 6   
		END
	ELSE IF @CONFIRMVALUE <> '' AND @CONFIRMVALUE =7--No(7) will just remove it from risk level and make it available in the drop down Locations field for a selection again under Location Information tab   
		BEGIN
			DELETE FROM POL_PERILS  WHERE  CUSTOMER_ID =@CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND  POLICY_VERSION_ID=@POLICY_VERSION_ID   AND     PERIL_ID=@PERIL_ID 
			
			if NOT EXISTS(SELECT LOCATION_ID FROM POL_LOCATIONS WHERE LOCATION_ID=@LOCATION_ID AND CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID  )
			BEGIN
				DELETE FROM POL_PROTECTIVE_DEVICES  WHERE  CUSTOMER_ID =@CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND  POLICY_VERSION_ID=@POLICY_VERSION_ID AND RISK_ID=@PERIL_ID  AND LOCATION_ID=@LOCATION_ID  
			END
			 
			DELETE FROM POL_DISCOUNT_SURCHARGE  WHERE  CUSTOMER_ID =@CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND  POLICY_VERSION_ID=@POLICY_VERSION_ID AND RISK_ID=@PERIL_ID   
			
			DELETE FROM POL_PRODUCT_COVERAGES  WHERE  CUSTOMER_ID =@CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND  POLICY_VERSION_ID=@POLICY_VERSION_ID  AND RISK_ID=@PERIL_ID 
			
			
			RETURN 7  
		END
	ELSE  
		RETURN-1  
END    
    
    
 
      
    

GO

