IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_GET_HOMEOWNER_ACTIVE_POLICY_LIST]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_GET_HOMEOWNER_ACTIVE_POLICY_LIST]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--drop PROCEDURE PROC_GET_HOMEOWNER_ACTIVE_POLICY_LIST   

CREATE PROCEDURE PROC_GET_HOMEOWNER_ACTIVE_POLICY_LIST   
(        
 @CUSTOMERID INT        
)        
AS       
DECLARE @ACTPOLLIST VARCHAR(8000)   
BEGIN        
   
 SELECT @ACTPOLLIST = ''  
  
 SELECT @ACTPOLLIST = @ACTPOLLIST  + ', ' + MAX(POLICY_NUMBER)   
 FROM POL_CUSTOMER_POLICY_LIST   
 WHERE  CUSTOMER_ID = @CUSTOMERID   
 AND POLICY_LOB=1   
 AND UPPER(POLICY_STATUS)='NORMAL'      
 GROUP BY POLICY_NUMBER  
   
 IF @ACTPOLLIST <> ''  
  SELECT SUBSTRING (@ACTPOLLIST , 3 , LEN(@ACTPOLLIST)-2 ) AS ACTPOLLIST           
 ELSE  
  SELECT '' AS ACTPOLLIST           
  
   
  
END        
  
  
  
  
  
  


GO

