IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_GETUSERQUESTION]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_GETUSERQUESTION]
GO

SET ANSI_NULLS OFF
GO

SET QUOTED_IDENTIFIER ON
GO





/*----------------------------------------------------------
Proc Name      		: dbo.Proc_GetMappedQuestion
Created by      	: Manabendra Roy
Date            	: 07/01/2005
Purpose    	  	: Updated Mapped Questions
Revison History :
Used In 	        : Wolverine
------------------------------------------------------------
Date     Review By          Comments
------   ------------       -------------------------*/
CREATE    PROC DBO.PROC_GETUSERQUESTION
@CARRIERID INT,
@SCREENID INT,
@TABID INT,
@CLIENTID INT,
@APPID INT,
@APPVERID INT
AS
BEGIN

SELECT QP.QID, QP.HQUESGRIDOPTID, QP.VQUESGRIDOPTID, QP.ANSWER,
 QP.OPTIONVALUE, QU.QUESTIONLISTID , QU.ISREQ, QU.PREFIX,
 QU.SUFFIX, QU.QNOTES, QU.QUESTIONTYPEID, QU.SEQNO, QU.QDESC, QU.GROUPID, QP.OPTIONID, QU.FLGQUESDESC, QU.DESCTEXT, QU.FLGCOMPVALUE, QP.DESCANSWER, QG.GROUPTYPE, QLM.TYPE, QLM.TABLENAME,
ISNULL(TB.REPEATCONTROLS,2) REPEATCONTROLS,QU.STYLE,QU.MAXLENGTH,QU.VALIDATIONTYPE,QU.COLSPAN,
	QU.DEPQUESTIONTEXT,QU.DEPQUESTYPE,QU.DEPANSTYPE,QU.DEPQUESTIONLIST

 FROM QUESTIONPREPARE QP 
 INNER JOIN USERQUESTIONS QU ON QU.QID = QP.QID AND QP.TABID=QU.TABID AND QP.SCREENID=QU.SCREENID
 INNER JOIN QUESTIONGROUPMASTER QG ON QG.GROUPID = QU.GROUPID AND QG.TABID = QU.TABID AND QG.SCREENID=QU.SCREENID
 INNER JOIN QUESTIONTABMASTER TB ON TB.TABID = QU.TABID AND TB.SCREENID=QU.SCREENID
 LEFT OUTER JOIN QUESTIONLISTMASTER QLM ON QLM.LISTID = QU.QUESTIONLISTID 

 WHERE CLIENTID =@CLIENTID AND QU.TABID = @TABID AND TB.SCREENID=@SCREENID AND QU.SCREENID=@SCREENID
 AND QP.APPLICATIONID =@APPID AND QP.APPVERSIONID = @APPVERID AND ISNULL(QU.ISACTIVE,'N')='Y'
 ORDER BY QG.SEQNO,QU.SEQNO

END




GO

