IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetWatercraftMVRViolations]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetWatercraftMVRViolations]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*  ----------------------------------------------------------                      
Proc Name   : dbo.Proc_GetWatercraftMVRViolations            
Created by  : Manoj Rathore            
Date        : 22th Jan.,2008
Purpose     : Get the Watercraft MVR Violations  
MODIFIED BY		:PRAVESH K CHANDEL
MODIFIED DATE	:1 OCT 2008

Revison History  :                            
 ------------------------------------------------------------                                  
Date     Review By          Comments                                
                       
------   ------------       -------------------------*/ 
-- DROP PROC dbo.Proc_GetWatercraftMVRViolations 1074,3,1,1,''                     
CREATE procedure dbo.Proc_GetWatercraftMVRViolations      
(            
 @CUSTOMER_ID int,            
 @APP_ID int,            
 @APP_VERSION_ID int,
 @DRIVER_ID int,
 @CALLED_FROM VARCHAR(10)     
)                
AS                     
BEGIN 
 DECLARE @INTSD_PONITS INT ,
	 @intMAJOR_VIOLATION INT,
	 @TOTAL_VIOLATION_POINT int ,
         @EFFECTIVE_DATE DATETIME

IF(@CALLED_FROM='APP') 
 BEGIN
         SELECT @EFFECTIVE_DATE= APP_EFFECTIVE_DATE FROM APP_LIST WHERE  CUSTOMER_ID=@CUSTOMER_ID AND  APP_ID=@APP_ID  AND  APP_VERSION_ID=@APP_VERSION_ID
	 SELECT @INTSD_PONITS=ISNULL(SUM(ISNULL(POINTS_ASSIGNED,0)) + SUM(ISNULL(ADJUST_VIOLATION_POINTS,0)),0)                                                                               
	 FROM APP_WATER_MVR_INFORMATION  P 
	INNER JOIN MNT_VIOLATIONS M ON P.VIOLATION_TYPE=M.VIOLATION_ID                                  
	 WHERE CUSTOMER_ID=@CUSTOMER_ID AND  APP_ID=@APP_ID  AND  APP_VERSION_ID=@APP_VERSION_ID   AND DRIVER_ID=@DRIVER_ID                                                                  
	 --AND (YEAR(@EFFECTIVE_DATE)- YEAR(OCCURENCE_DATE))<= 3 
	AND DATEDIFF(DAY,ISNULL(P.MVR_DATE,OCCURENCE_DATE),@EFFECTIVE_DATE)<= 3*365.5 
	AND DATEDIFF(DAY,ISNULL(P.MVR_DATE,OCCURENCE_DATE),@EFFECTIVE_DATE)>= 0
	--AND (VIOLATION_TYPE<>2099 AND VIOLATION_TYPE<>1830) 
	AND M.VIOLATION_CODE NOT IN ('40000','10000','SUSPN')
	AND P.IS_ACTIVE='Y'
	
	 SELECT  @intMAJOR_VIOLATION=ISNULL((SUM(ISNULL(POINTS_ASSIGNED,0))+ SUM(ISNULL(ADJUST_VIOLATION_POINTS,0))),0)                               
	 FROM APP_WATER_MVR_INFORMATION  P
	INNER JOIN MNT_VIOLATIONS M ON P.VIOLATION_TYPE=M.VIOLATION_ID                                 
	 WHERE CUSTOMER_ID=@CUSTOMER_ID AND  APP_ID=@APP_ID  AND  APP_VERSION_ID=@APP_VERSION_ID   AND DRIVER_ID=@DRIVER_ID                                                                  
	-- AND (VIOLATION_TYPE=2099 or VIOLATION_TYPE=1830) 
	AND M.VIOLATION_CODE IN ('40000','10000','SUSPN')
	--AND (YEAR(@EFFECTIVE_DATE)- YEAR(OCCURENCE_DATE))<= 5 
	AND DATEDIFF(DAY,P.MVR_DATE,@EFFECTIVE_DATE)<= 5*365.5 
	AND DATEDIFF(DAY,P.MVR_DATE,@EFFECTIVE_DATE)>= 0
	AND P.IS_ACTIVE='Y'
 END 
ELSE 
 BEGIN 
	 SELECT @EFFECTIVE_DATE= POLICY_EFFECTIVE_DATE FROM POL_CUSTOMER_POLICY_LIST WHERE  CUSTOMER_ID=@CUSTOMER_ID AND  POLICY_ID=@APP_ID  AND  POLICY_VERSION_ID=@APP_VERSION_ID
	 SELECT @INTSD_PONITS=ISNULL(SUM(ISNULL(POINTS_ASSIGNED,0)) + SUM(ISNULL(ADJUST_VIOLATION_POINTS,0)),0)                                                                               
	 FROM POL_WATERCRAFT_MVR_INFORMATION  P                               
	INNER JOIN MNT_VIOLATIONS M ON P.VIOLATION_TYPE=M.VIOLATION_ID                   
	 WHERE CUSTOMER_ID=@CUSTOMER_ID AND  POLICY_ID=@APP_ID  AND  POLICY_VERSION_ID=@APP_VERSION_ID   AND DRIVER_ID=@DRIVER_ID                                                                  
	--AND (YEAR(@EFFECTIVE_DATE)- YEAR(OCCURENCE_DATE))<= 3
	AND DATEDIFF(DAY,ISNULL(P.MVR_DATE,OCCURENCE_DATE),@EFFECTIVE_DATE)<= 3*365.5 
	AND DATEDIFF(DAY,ISNULL(P.MVR_DATE,OCCURENCE_DATE),@EFFECTIVE_DATE)>= 0
	 --AND (VIOLATION_TYPE<>2099 AND VIOLATION_TYPE<>1830) 
	AND M.VIOLATION_CODE NOT IN ('40000','10000','SUSPN')
	AND P.IS_ACTIVE='Y'
	
	 SELECT  @intMAJOR_VIOLATION=ISNULL((SUM(ISNULL(POINTS_ASSIGNED,0))+ SUM(ISNULL(ADJUST_VIOLATION_POINTS,0))),0)                               
	 FROM POL_WATERCRAFT_MVR_INFORMATION P
	 INNER JOIN MNT_VIOLATIONS M ON P.VIOLATION_TYPE=M.VIOLATION_ID                   
	 WHERE CUSTOMER_ID=@CUSTOMER_ID AND  POLICY_ID=@APP_ID  AND  POLICY_VERSION_ID=@APP_VERSION_ID   AND DRIVER_ID=@DRIVER_ID                                                                  
	 --AND (VIOLATION_TYPE=2099 or VIOLATION_TYPE=1830) 
	AND M.VIOLATION_CODE IN ('40000','10000','SUSPN')
	--AND (YEAR(@EFFECTIVE_DATE)- YEAR(OCCURENCE_DATE))<= 5 
	AND DATEDIFF(DAY,P.MVR_DATE,@EFFECTIVE_DATE)<= 5*365.5 
	AND DATEDIFF(DAY,P.MVR_DATE,@EFFECTIVE_DATE)>= 0
	 AND P.IS_ACTIVE='Y'
 END 
 
 SELECT  ISNULL((ISNULL(@intMAJOR_VIOLATION,0) + ISNULL(@INTSD_PONITS,0)),0) AS TOTAL_VIOLATION_POINT

END 



GO

