IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_UpdateAggregateStopLoss]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_UpdateAggregateStopLoss]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*
CREATED BY 		: Deepak Batra
CREATED DATE		: 17 Jan 2006
Purpose			: To implement the update on the Aggregate Stop Loss Screen
*/
CREATE PROCEDURE Proc_UpdateAggregateStopLoss
(
	@CONTRACT_ID INT,			
	@REINSURANCE_COMPANY NVARCHAR(150),	
	@REINSURANCE_ACC_NUMBER NVARCHAR(50),
	@EFFECTIVE_DATE DATETIME,		
	@EXPIRATION_DATE DATETIME,		
	@LINE_OF_BUSINESS INT,		
	@COVERAGE_CODE INT,	
	@CLASS_CODE INT,			
	@PERIL INT, 				
	@STATED_AMOUNT DECIMAL,		
	@SPECIFIC_LOSS_RATIO DECIMAL,	
	@MODIFIED_BY INT,
	@LAST_UPDATED_DATETIME	DATETIME  
)
AS
BEGIN
	UPDATE MNT_REIN_AGGREGATE_STOP_LOSS

	SET 	REINSURANCE_COMPANY = @REINSURANCE_COMPANY, REINSURANCE_ACC_NUMBER = @REINSURANCE_ACC_NUMBER, 
		EFFECTIVE_DATE = @EFFECTIVE_DATE, EXPIRATION_DATE = @EXPIRATION_DATE,
		LINE_OF_BUSINESS = @LINE_OF_BUSINESS, COVERAGE_CODE = @COVERAGE_CODE,
		CLASS_CODE = @CLASS_CODE, PERIL = @PERIL, STATED_AMOUNT = @STATED_AMOUNT, SPECIFIC_LOSS_RATIO = @SPECIFIC_LOSS_RATIO,
		MODIFIED_BY = @MODIFIED_BY, LAST_UPDATED_DATETIME = @LAST_UPDATED_DATETIME
	
	WHERE 	CONTRACT_ID = @CONTRACT_ID			
END


GO

