IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_CheckTrailBlazerEligibilityRule]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_CheckTrailBlazerEligibilityRule]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran 
--	drop proc Proc_CheckTrailBlazerEligibilityRule
--go

create proc Proc_CheckTrailBlazerEligibilityRule
(
	@CUSTOMERID int,
	@POLICYID int,
	@POLICYVERSIONID int,
    @VEHICLEID int,
    @CALLED_FROM varchar(22),
	@OUTPUT varchar(5) OUT
)

As
Begin

---------############################# POLICY LEVEL ##############################----------

DECLARE @QUALIFIESTRAIBLAZERPROGRAM nvarchar(10)
DECLARE @QUOTEEFFECTIVEDATE NVARCHAR(100)

DECLARE @PROCCESSID INT    
DECLARE @CACELATION_TYPE INT    
DECLARE @PROCESS_STATUS nvarchar(40)    
DECLARE @POLICYEFFECTIVEDATE   nvarchar(20)   
DECLARE @IDENT_COLS INT

-----				three years previous date(start)
----------------------------------------------------------------------------------------------------  
DECLARE @THREEYEARLESSDATE DATETIME
DECLARE @THREEYEARDAYS INT
DECLARE @NINTEENYEARDATE DATETIME
DECLARE @NINTEENYEARDAYS INT
DECLARE @TWENTYFIVEYEARDATE DATETIME
DECLARE @TWENTYFIVEYEARDAYS INT
DECLARE @MAJORVIOLATIONEFFECTIVEDATE DATETIME
DECLARE @MAJORVIOLATIONEFFECTIVEDAYS INT

IF @CALLED_FROM = 'POL'
BEGIN
	SELECT @QUOTEEFFECTIVEDATE =  APP_EFFECTIVE_DATE FROM POL_CUSTOMER_POLICY_LIST  WITH (NOLOCK)          
	WHERE CUSTOMER_ID=@CUSTOMERID AND POLICY_ID=@POLICYID AND POLICY_VERSION_ID=@POLICYVERSIONID  
END
ELSE
BEGIN
	SELECT @QUOTEEFFECTIVEDATE =  ISNULL(CONVERT(Varchar(20),APP_EFFECTIVE_DATE),'')  FROM APP_LIST WITH (NOLOCK)                      
	WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@POLICYID AND APP_VERSION_ID = @POLICYVERSIONID  
END


SET @NINTEENYEARDAYS=0
SET @THREEYEARDAYS=0
SET @TWENTYFIVEYEARDAYS=0
set @MAJORVIOLATIONEFFECTIVEDAYS=0
SET @THREEYEARLESSDATE = DATEADD(YEAR,-3,@QUOTEEFFECTIVEDATE)
SET @THREEYEARDAYS = DATEDIFF(DAY,@THREEYEARLESSDATE,@QUOTEEFFECTIVEDATE)
SET @NINTEENYEARDATE = DATEADD(YEAR,-19,@QUOTEEFFECTIVEDATE)
SET @NINTEENYEARDAYS = DATEDIFF(DAY,@NINTEENYEARDATE,@QUOTEEFFECTIVEDATE)
SET @TWENTYFIVEYEARDATE = DATEADD(YEAR,-25,@QUOTEEFFECTIVEDATE)
SET @TWENTYFIVEYEARDAYS = DATEDIFF(DAY,@TWENTYFIVEYEARDATE,@QUOTEEFFECTIVEDATE)
SET @MAJORVIOLATIONEFFECTIVEDATE = DATEADD(YEAR,-5,@QUOTEEFFECTIVEDATE)
SET @MAJORVIOLATIONEFFECTIVEDAYS = DATEDIFF(DAY,@MAJORVIOLATIONEFFECTIVEDATE,@QUOTEEFFECTIVEDATE)


-- MAKE TEMP TABLE TO STORE ALL ASSIGNED DRIVER BELOW 25 YEARS AGE
		DECLARE @ASSIGNDRIVERIDSS INT
		CREATE TABLE #ASSIGNDRIVTRAIL                  
		(         
		  [IDEN_ID] INT IDENTITY(1,1) NOT NULL,                    
		  [ASSIGNDRIVERIDS] INT                   
		)    
-- MAKE TEMP TABLE TO STORE ALL MAJOR VIOLATION
		CREATE TABLE #ASSIGNDRIVTRAILVIO                  
		(         
		  [IDEN_ID] INT IDENTITY(1,1) NOT NULL,                    
		  [ASSIGNDRIVERIDS] INT                   
		)    




IF (@CALLED_FROM = 'POL')-----------------------POLICY LEVEL------------------------------
BEGIN



------------------ Insurance Score(Start)    
--------------------------------------------------------------------------------------------
	DECLARE @INSURANCESCORE            nvarchar(20)
	SELECT  @PROCCESSID=PROCESS_ID,    
			@CACELATION_TYPE=CANCELLATION_TYPE,    
			@PROCESS_STATUS=PROCESS_STATUS    
			FROM POL_POLICY_PROCESS WITH (NOLOCK)            
			WHERE CUSTOMER_ID=@CUSTOMERID AND POLICY_ID=@POLICYID AND NEW_POLICY_VERSION_ID=@POLICYVERSIONID     
    

if(@PROCCESSID is null)
begin
set @PROCCESSID=3
end
if(@CACELATION_TYPE is null)
begin
set @CACELATION_TYPE=0
end
if(@PROCESS_STATUS is null)
begin
set @PROCESS_STATUS=''
end
IF((@PROCCESSID=4 OR @PROCCESSID=16) AND  @CACELATION_TYPE=14244 AND @PROCESS_STATUS != 'ROLLBACK')    
	BEGIN    
	 SELECT @INSURANCESCORE =CASE CONVERT(NVARCHAR(20),ISNULL(CUSTOMER_INSURANCE_SCORE,-1))       --BY DEFAULT VALUE FOR SCORE IS 100                                             
							 WHEN -1 THEN '100'            
							 WHEN  -2 THEN 'NOHITNOSCORE'             
					  ELSE CONVERT(NVARCHAR(20),CUSTOMER_INSURANCE_SCORE) END     
			FROM   CLT_CUSTOMER_LIST  WITH (NOLOCK)                                                       
			WHERE  CUSTOMER_ID =@CUSTOMERID    
	END    
ELSE    
	BEGIN              
		SELECT     
			@INSURANCESCORE=CASE CONVERT(NVARCHAR(20),(ISNULL(APPLY_INSURANCE_SCORE,-1)))                         
							WHEN -1 THEN '100'            
							WHEN  -2 THEN 'NOHITNOSCORE'             
							ELSE CONVERT(NVARCHAR(20),APPLY_INSURANCE_SCORE)     
							END            
		FROM POL_CUSTOMER_POLICY_LIST WITH (NOLOCK)                         
		WHERE CUSTOMER_ID =@CUSTOMERID AND POLICY_ID= @POLICYID AND POLICY_VERSION_ID=@POLICYVERSIONID      
	END    

------------------LOGIC ---------------------

	--SET @QUALIFIESTRAIBLAZERPROGRAM = 'N'  




	SELECT     
		@POLICYEFFECTIVEDATE = APP_EFFECTIVE_DATE,                 
        @QUALIFIESTRAIBLAZERPROGRAM = CASE ISNULL(POLICY_SUBLOB,'0')                              
										WHEN '1' THEN 'Y'             
										ELSE 'N'          
										END                        
        
	FROM POL_CUSTOMER_POLICY_LIST  WITH (NOLOCK)      
	WHERE CUSTOMER_ID= @CUSTOMERID AND POLICY_ID= @POLICYID AND POLICY_VERSION_ID=@POLICYVERSIONID    

                


--  IF(@QUALIFIESTRAIBLAZERPROGRAM='Y')
--	BEGIN                    
	  	    
			INSERT INTO #ASSIGNDRIVTRAIL  
			SELECT ADDS.DRIVER_ID FROM  POL_DRIVER_ASSIGNED_VEHICLE ADDS WITH (NOLOCK) INNER JOIN POL_VEHICLES AV WITH (NOLOCK)           
				ON	AV.CUSTOMER_ID=ADDS.CUSTOMER_ID AND                      
					AV.POLICY_ID=ADDS.POLICY_ID AND                      
					AV.POLICY_VERSION_ID = ADDS.POLICY_VERSION_ID AND                       
					AV.VEHICLE_ID=ADDS.VEHICLE_ID AND
					AV.CLASS_DRIVERID = ADDS.DRIVER_ID 
			INNER JOIN POL_DRIVER_DETAILS WITH (NOLOCK)         
				ON	ADDS.CUSTOMER_ID=POL_DRIVER_DETAILS.CUSTOMER_ID AND                      
					ADDS.POLICY_ID=POL_DRIVER_DETAILS.POLICY_ID AND                      
					ADDS.POLICY_VERSION_ID = POL_DRIVER_DETAILS.POLICY_VERSION_ID                 
					AND ADDS.DRIVER_ID=POL_DRIVER_DETAILS.DRIVER_ID                      
			WHERE ADDS.CUSTOMER_ID=@CUSTOMERID AND ADDS.POLICY_ID=@POLICYID AND ADDS.POLICY_VERSION_ID=@POLICYVERSIONID AND ADDS.VEHICLE_ID=@VEHICLEID      
			AND (DATEDIFF(DAY,POL_DRIVER_DETAILS.DRIVER_DOB,@QUOTEEFFECTIVEDATE) < @TWENTYFIVEYEARDAYS) AND ADDS.APP_VEHICLE_PRIN_OCC_ID IN (11927,11928,11929,11930) AND POL_DRIVER_DETAILS.IS_ACTIVE='Y'            

			IF EXISTS( SELECT ASSIGNDRIVERIDS FROM #ASSIGNDRIVTRAIL)
				BEGIN
					SET @QUALIFIESTRAIBLAZERPROGRAM='N'
				END
			DROP TABLE #ASSIGNDRIVTRAIL



		-- CHECK EVERY ASSIGNED DRIVER FOR THIER MAJOR VIOLATION IF ANY HAVE MAJOR VIOLATION THEN DISCARD DISCOUNT ON THAT VEHICLE
					    
		    
			INSERT INTO #ASSIGNDRIVTRAILVIO   
			SELECT PDDS.DRIVER_ID FROM  POL_DRIVER_ASSIGNED_VEHICLE PDDS WITH (NOLOCK) INNER JOIN POL_VEHICLES PV WITH (NOLOCK)                      
					ON	PV.CUSTOMER_ID=PDDS.CUSTOMER_ID AND                      
						PV.POLICY_ID=PDDS.POLICY_ID AND                      
						PV.POLICY_VERSION_ID = PDDS.POLICY_VERSION_ID AND                       
						PV.VEHICLE_ID=PDDS.VEHICLE_ID 
						INNER JOIN POL_DRIVER_DETAILS WITH (NOLOCK)                      
					ON  PDDS.CUSTOMER_ID=POL_DRIVER_DETAILS.CUSTOMER_ID AND                      
						PDDS.POLICY_ID=POL_DRIVER_DETAILS.POLICY_ID AND               
						PDDS.POLICY_VERSION_ID = POL_DRIVER_DETAILS.POLICY_VERSION_ID AND               
						PDDS.DRIVER_ID=POL_DRIVER_DETAILS.DRIVER_ID                      
						WHERE PDDS.CUSTOMER_ID=@CUSTOMERID AND PDDS.POLICY_ID=@POLICYID AND PDDS.POLICY_VERSION_ID=@POLICYVERSIONID AND PDDS.VEHICLE_ID=@VEHICLEID      
						AND PDDS.APP_VEHICLE_PRIN_OCC_ID IN (11398,11399,11925,11926,11927,11928,11929,11930)  


			-- RUN WHILE LOOP TO CHECK VIOLATION POINTS OF ASSIGNED DRIVERS    
				    
				SET @IDENT_COLS = 1        
				WHILE (1= 1)     
					BEGIN     
						IF NOT EXISTS (SELECT IDEN_ID FROM #ASSIGNDRIVTRAILVIO  WITH(NOLOCK) WHERE IDEN_ID = @IDENT_COLS )     
							 BEGIN     
								BREAK    
							 END    
							SELECT  @ASSIGNDRIVERIDSS = ASSIGNDRIVERIDS	FROM #ASSIGNDRIVTRAILVIO  WITH(NOLOCK)    
							WHERE IDEN_ID = @IDENT_COLS     
		        
						IF EXISTS (SELECT CUSTOMER_ID FROM                                             
							POL_MVR_INFORMATION A with(nolock)                                            
							LEFT OUTER JOIN              
							MNT_VIOLATIONS M with(nolock)                                          
							ON  A.VIOLATION_TYPE = M.VIOLATION_ID                                          
							WHERE                                            
							A.CUSTOMER_ID = @CUSTOMERID AND                   
							A.POLICY_ID = @POLICYID AND                                            
							A.POLICY_VERSION_ID = @POLICYVERSIONID AND                                            
							A.DRIVER_ID = @ASSIGNDRIVERIDSS AND                                            
							NOT ISNULL(MVR_POINTS,0)<0 
					   		AND DATEDIFF(DAY,MVR_DATE ,@QUOTEEFFECTIVEDATE) <=@MAJORVIOLATIONEFFECTIVEDAYS        
							AND A.IS_ACTIVE='Y' AND  isnull(M.VIOLATION_CODE,'') IN('10000','40000','SUSPN'))     
					   		BEGIN
								SET @QUALIFIESTRAIBLAZERPROGRAM='N'
							END
						SET @IDENT_COLS = @IDENT_COLS + 1    
					END 	    
			DROP TABLE #ASSIGNDRIVTRAILVIO   


			
			-- CHECK ANY PRIOR LOSS ABOVE $750
			IF EXISTS (SELECT CUSTOMER_ID  FROM CLM_CLAIM_INFO with (NOLOCK) WHERE CUSTOMER_ID=@CUSTOMERID AND LOB_ID=2 and DATEDIFF(DAY,isnull(CLM_CLAIM_INFO.LOSS_DATE,'0'),@QUOTEEFFECTIVEDATE)<=@THREEYEARDAYS    
				AND (ISNULL(PAID_LOSS,0)+ ISNULL(PAID_EXPENSE,0) > 750))
				BEGIN
					SET @QUALIFIESTRAIBLAZERPROGRAM='N'
				END
			IF EXISTS (SELECT CUSTOMER_ID FROM APP_PRIOR_LOSS_INFO with (NOLOCK) WHERE CUSTOMER_ID=@CUSTOMERID AND LOB=2 AND (datediff(day,APP_PRIOR_LOSS_INFO.OCCURENCE_DATE,@QUOTEEFFECTIVEDATE) <= @THREEYEARDAYS) AND AMOUNT_PAID > 750)
				BEGIN
					SET @QUALIFIESTRAIBLAZERPROGRAM='N'
				END



			-- DATE CHECK HAS BEEN APPLIED ON QUALIFIES TRAIBLAZERPROGRAM         
			--Calculate    @QUALIFIESTRAIBLAZERPROGRAM if @INSURANCESCORE is not NOHITNOSCORE : praveen 02/20/2008    
			if(@INSURANCESCORE <> 'NOHITNOSCORE')    
			  BEGIN    
				IF (@QUALIFIESTRAIBLAZERPROGRAM = 'Y')    
					IF ((DATEDIFF(DAY,@POLICYEFFECTIVEDATE,'2007-08-01 00:00:00.000') < 0)AND @INSURANCESCORE > 750 AND (@PROCCESSID<>5 OR @PROCCESSID<>18))     
					  BEGIN    
							SET @QUALIFIESTRAIBLAZERPROGRAM = 'Y'    
					  END  
					ELSE IF((@PROCCESSID=5 OR @PROCCESSID=18) AND @INSURANCESCORE >700)  
						BEGIN  
							SET @QUALIFIESTRAIBLAZERPROGRAM = 'Y'    
						END     
					ELSE IF ((DATEDIFF(DAY,@POLICYEFFECTIVEDATE,'2007-08-01 00:00:00.000') > 0) AND @INSURANCESCORE > 700)     
						BEGIN    
							SET @QUALIFIESTRAIBLAZERPROGRAM = 'Y'    
						END   
					ELSE  
						BEGIN  
							SET @QUALIFIESTRAIBLAZERPROGRAM = 'N'    
						END   
			  END
			ELSE IF   (@INSURANCESCORE = 'NOHITNOSCORE')
				SET @QUALIFIESTRAIBLAZERPROGRAM = 'N'   

  
    
--select @QUALIFIESTRAIBLAZERPROGRAM 

	IF (SELECT  ISNULL(POLICY_SUBLOB,'0') FROM POL_CUSTOMER_POLICY_LIST  WITH (NOLOCK)                                            
		WHERE CUSTOMER_ID=@CUSTOMERID AND POLICY_ID=@POLICYID AND POLICY_VERSION_ID = @POLICYVERSIONID
	) = 1 --Dropdown Selected (TrailBlazer)
	BEGIN

		IF(ISNULL(@QUALIFIESTRAIBLAZERPROGRAM,'N') = 'N') --NOT ELIGIBLE
			SET @OUTPUT = 'Y'
		ELSE
			SET @OUTPUT = 'N'

	END   



END

ELSE IF (@CALLED_FROM = 'APP') --------------------------APP----------------------------------------
BEGIN

SELECT  @QUALIFIESTRAIBLAZERPROGRAM = case (isnull(APP_SUBLOB,'0'))                                                                                
			WHEN '1' THEN 'Y'                                                        
			ELSE 'N'                                                                                
			END   
		  
	FROM APP_LIST  WITH (NOLOCK)                                            
	WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@POLICYID AND APP_VERSION_ID=@POLICYVERSIONID     

--IF(@QUALIFIESTRAIBLAZERPROGRAM='Y')
--	BEGIN
			    
		INSERT INTO #ASSIGNDRIVTRAIL                                   
		SELECT ADDS.DRIVER_ID FROM  APP_DRIVER_ASSIGNED_VEHICLE ADDS WITH (NOLOCK) INNER JOIN APP_VEHICLES AV WITH (NOLOCK)                      
		ON	AV.CUSTOMER_ID=ADDS.CUSTOMER_ID AND                      
			AV.APP_ID=ADDS.APP_ID AND                      
			AV.APP_VERSION_ID = ADDS.APP_VERSION_ID AND                       
			AV.VEHICLE_ID=ADDS.VEHICLE_ID AND
			AV.CLASS_DRIVERID = ADDS.DRIVER_ID                     
			INNER JOIN APP_DRIVER_DETAILS WITH (NOLOCK)                      
		ON ADDS.CUSTOMER_ID=APP_DRIVER_DETAILS.CUSTOMER_ID AND                      
			ADDS.APP_ID=APP_DRIVER_DETAILS.APP_ID AND               
			ADDS.APP_VERSION_ID = APP_DRIVER_DETAILS.APP_VERSION_ID                
		AND ADDS.DRIVER_ID=APP_DRIVER_DETAILS.DRIVER_ID                      
		WHERE ADDS.CUSTOMER_ID=@CUSTOMERID AND ADDS.APP_ID=@POLICYID AND ADDS.APP_VERSION_ID=@POLICYVERSIONID AND ADDS.VEHICLE_ID=@VEHICLEID      
		AND (DATEDIFF(DAY,APP_DRIVER_DETAILS.DRIVER_DOB,@QUOTEEFFECTIVEDATE) < @TWENTYFIVEYEARDAYS) AND ADDS.APP_VEHICLE_PRIN_OCC_ID IN (11927,11928,11929,11930)  

		IF EXISTS( SELECT ASSIGNDRIVERIDS FROM #ASSIGNDRIVTRAIL)
			BEGIN
				SET @QUALIFIESTRAIBLAZERPROGRAM='N'
			END
		DROP TABLE #ASSIGNDRIVTRAIL


		-- CHECK EVERY ASSIGNED DRIVER FOR THIER MAJOR VIOLATION IF ANY HAVE MAJOR VIOLATION THEN DISCARD DISCOUNT ON THAT VEHICLE

		INSERT INTO #ASSIGNDRIVTRAILVIO   
		SELECT ADDS.DRIVER_ID FROM  APP_DRIVER_ASSIGNED_VEHICLE ADDS WITH (NOLOCK) INNER JOIN APP_VEHICLES AV WITH (NOLOCK)                      
		ON	AV.CUSTOMER_ID=ADDS.CUSTOMER_ID AND                      
			AV.APP_ID=ADDS.APP_ID AND                      
			AV.APP_VERSION_ID = ADDS.APP_VERSION_ID AND                       
			AV.VEHICLE_ID=ADDS.VEHICLE_ID 
			INNER JOIN APP_DRIVER_DETAILS WITH (NOLOCK)                      
		ON  ADDS.CUSTOMER_ID=APP_DRIVER_DETAILS.CUSTOMER_ID AND                      
			ADDS.APP_ID=APP_DRIVER_DETAILS.APP_ID AND               
			ADDS.APP_VERSION_ID = APP_DRIVER_DETAILS.APP_VERSION_ID AND               
			ADDS.DRIVER_ID=APP_DRIVER_DETAILS.DRIVER_ID                      
			WHERE ADDS.CUSTOMER_ID=@CUSTOMERID AND ADDS.APP_ID=@POLICYID AND ADDS.APP_VERSION_ID=@POLICYVERSIONID AND ADDS.VEHICLE_ID=@VEHICLEID      
			AND ADDS.APP_VEHICLE_PRIN_OCC_ID IN (11398,11399,11925,11926,11927,11928,11929,11930)  

			-- RUN WHILE LOOP TO CHECK VIOLATION POINTS OF ASSIGNED DRIVERS    
			  
			SET @IDENT_COLS = 1        
			WHILE (1= 1)     
				BEGIN     
					IF NOT EXISTS (SELECT IDEN_ID FROM #ASSIGNDRIVTRAILVIO  WITH(NOLOCK) WHERE IDEN_ID = @IDENT_COLS )     
						 BEGIN     
							BREAK    
						 END    
						SELECT  @ASSIGNDRIVERIDSS = ASSIGNDRIVERIDS	FROM #ASSIGNDRIVTRAILVIO  WITH(NOLOCK)    
						WHERE IDEN_ID = @IDENT_COLS     
	        
					IF EXISTS (SELECT CUSTOMER_ID FROM APP_MVR_INFORMATION A WITH (NOLOCK)                                                  
						LEFT OUTER JOIN MNT_VIOLATIONS M   WITH (NOLOCK)                                                     
						ON A.VIOLATION_TYPE = M.VIOLATION_ID              
						WHERE	A.CUSTOMER_ID = @CUSTOMERID AND                                 
								A.APP_ID = @POLICYID AND                                           
								A.APP_VERSION_ID = @POLICYVERSIONID AND                                    
								A.DRIVER_ID = @ASSIGNDRIVERIDSS AND            
								NOT ISNULL(MVR_POINTS,0)<0 
								AND DATEDIFF(DAY,MVR_DATE ,@QUOTEEFFECTIVEDATE) <=@MAJORVIOLATIONEFFECTIVEDAYS
								AND A.IS_ACTIVE='Y' AND isnull(M.VIOLATION_CODE,'0') IN('10000','40000','SUSPN'))   
						BEGIN
							SET @QUALIFIESTRAIBLAZERPROGRAM='N'
						END
					SET @IDENT_COLS = @IDENT_COLS + 1    
				END      
	    
		DROP TABLE #ASSIGNDRIVTRAILVIO   
 
		-- CHECK ANY PRIOR LOSS ABOVE $750
		IF EXISTS(SELECT LOSS_ID FROM APP_PRIOR_LOSS_INFO with (NOLOCK) WHERE CUSTOMER_ID=@CUSTOMERID AND LOB=2 AND (datediff(day,APP_PRIOR_LOSS_INFO.OCCURENCE_DATE,@QUOTEEFFECTIVEDATE) <= @THREEYEARDAYS) AND AMOUNT_PAID > 750 )
			BEGIN
				SET @QUALIFIESTRAIBLAZERPROGRAM='N'
			END
	
   -- CHECK FOR INSURANCE SCORE

	
   
    DECLARE @APP_EFFECTIVE_DATE varchar(50)    
      
	SELECT  @APP_EFFECTIVE_DATE = APP_EFFECTIVE_DATE    
	FROM APP_LIST WITH (NOLOCK)              
	WHERE CUSTOMER_ID= @CUSTOMERID AND APP_ID= @POLICYID AND APP_VERSION_ID=@POLICYVERSIONID     
     
  
	SELECT @INSURANCESCORE=case CAST(ISNULL(APPLY_INSURANCE_SCORE,-1) AS varchar(20))                               
	WHEN -1 THEN '100'          
	WHEN -2 THEN 'NOHITNOSCORE'           
	ELSE CONVERT(NVARCHAR(20), APPLY_INSURANCE_SCORE) END         
   	FROM APP_LIST  WITH (NOLOCK)                              
	WHERE CUSTOMER_ID =@CUSTOMERID AND APP_ID= @POLICYID AND APP_VERSION_ID=@POLICYVERSIONID     
    
	IF (@QUALIFIESTRAIBLAZERPROGRAM = 'Y' AND @INSURANCESCORE <> 'NOHITNOSCORE')    
		BEGIN    
			IF ((DATEDIFF(DAY,@APP_EFFECTIVE_DATE,'2007-08-01 00:00:00.000') < 0)AND @INSURANCESCORE > 750)     
				SET @QUALIFIESTRAIBLAZERPROGRAM = 'Y'    
     
			ELSE IF ((DATEDIFF(DAY,@APP_EFFECTIVE_DATE,'2007-08-01 00:00:00.000') > 0) AND (@INSURANCESCORE > 700) )     
				SET @QUALIFIESTRAIBLAZERPROGRAM = 'Y'    
  
			ELSE  
				SET @QUALIFIESTRAIBLAZERPROGRAM = 'N'    
  		END 
	ELSE IF   @INSURANCESCORE = 'NOHITNOSCORE'  
		SET @QUALIFIESTRAIBLAZERPROGRAM = 'N'   
	END


---------------------


IF (SELECT  ISNULL(APP_SUBLOB,'0') FROM APP_LIST  WITH (NOLOCK)                                            
	WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@POLICYID AND APP_VERSION_ID = @POLICYVERSIONID
) = 1 --Dropdown Selected (TrailBlazer)
BEGIN

	IF(ISNULL(@QUALIFIESTRAIBLAZERPROGRAM,'N') = 'N') --NOT ELIGIBLE
		SET @OUTPUT = 'Y'
	ELSE
		SET @OUTPUT = 'N'

END   

---------------------------------------------------------------------------------------------------
--- QUALIFIESTRAIBLAZERPROGRAM (end)

End

---------

GO

