IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_ActivateDeactivateAPP_UMBRELLA_DWELLINGS_INFO]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_ActivateDeactivateAPP_UMBRELLA_DWELLINGS_INFO]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO




CREATE   PROC Proc_ActivateDeactivateAPP_UMBRELLA_DWELLINGS_INFO
(      
@CUSTOMER_ID INT,  
@APP_ID INT,  
@APP_VERSION_ID SMALLINT,  
@DWELLING_ID SMALLINT,  
@IS_ACTIVE  CHAR(2),
@LOCATION_ID SMALLINT      
)      
AS      
BEGIN      


if(upper(@is_active)='Y')
begin
if exists(select dwelling_id from APP_UMBRELLA_DWELLINGS_INFO  where
						 CUSTOMER_ID=@CUSTOMER_ID AND   
						 APP_ID=@APP_ID AND  
						 APP_VERSION_ID=@APP_VERSION_ID AND  
						 LOCATION_ID= @LOCATION_ID AND
						 IS_ACTIVE='Y')
RETURN -2
end

UPDATE APP_UMBRELLA_DWELLINGS_INFO      
 SET IS_ACTIVE = @IS_ACTIVE      
 WHERE   
 CUSTOMER_ID=@CUSTOMER_ID AND   
 APP_ID=@APP_ID AND  
 APP_VERSION_ID=@APP_VERSION_ID AND  
 DWELLING_ID= @DWELLING_ID  
END      





GO

