IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_Accepted_Co_Report]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_Accepted_Co_Report]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------                            
Proc Name    : dbo.Proc_Accepted_Co_Report                          
Created by   : Shubhanshu Pandey         
Date         : 10-2-2010                
Purpose      :      
                            
 ------------------------------------------------------------                                        
Date     Review By          Comments                                      
 drop proc dbo.Proc_Accepted_Co_Report 28006,4,2                  
------   ------------       -------------------------*/                           
CREATE PROC dbo.Proc_Accepted_Co_Report
(
	@CUSTOMER_ID INT,
	@POLICY_ID INT,
	@POLICY_VERSION_ID SMALLINT
)  
AS
BEGIN
SELECT 
        CASE PCI.LEADER_FOLLOWER 
			WHEN 14548 THEN MRCL.REIN_COMAPANY_CODE 
		END 
		AS CODE_LAEDER,
		
		CASE PCI.LEADER_FOLLOWER 
			WHEN 14548 THEN MRCL.REIN_COMAPANY_NAME
		END 
		AS NAME_LAEDER,
		CASE LEADER_FOLLOWER 
			WHEN 14548 THEN PCI.TRANSACTION_ID
		END 
		AS TRANSACTION_ID,
		(SELECT COUNT(POLICY_VERSION_ID) FROM POL_REMUNERATION WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID) AS NO_OF_BROKER,
		PCPL.APP_NUMBER,
        CAST(YEAR(PCI.CREATED_DATETIME) AS VARCHAR(4))+'-'+CAST(MONTH(PCI.CREATED_DATETIME) AS VARCHAR(2))+'-'+CAST(DAY(PCI.CREATED_DATETIME) AS VARCHAR(2)) AS GENERATION_DATE,
        PCI.LEADER_POLICY_NUMBER,
        PCI.ENDORSEMENT_POLICY_NUMBER,
        CAST(YEAR(PCPL.POL_VER_EFFECTIVE_DATE) AS VARCHAR(4))+'-'+CAST(MONTH(PCPL.POL_VER_EFFECTIVE_DATE) AS VARCHAR(2))+'-'+CAST(DAY(PCPL.POL_VER_EFFECTIVE_DATE) AS VARCHAR(2)) AS POLICY_ENDORSEMENT_ISSUANCE_DATE,
        PCPL.POLICY_NUMBER,
        PPE.ENDORSEMENT_NO,
        PCI.COINSURANCE_PERCENT,
        PCPL.DIV_ID,
        PCPL.TRANSACTION_TYPE,
        CCL.CUSTOMER_FIRST_NAME+' '+CCL.CUSTOMER_MIDDLE_NAME+' '+CCL.CUSTOMER_LAST_NAME AS CUSTOMER_NAME,
        CCL.CPF_CNPJ,
        APIPD.NO_OF_PAYMENTS,
        PR.BROKER_ID,
        PR.COMMISSION_PERCENT,
        PCPL.CSR,
        (SELECT SUM(TOTAL_DUE) FROM  ACT_COI_OPEN_ITEMS WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID AND 
					RIGHT(ITEM_TRAN_CODE, 1) = 'C' AND IS_COMM_ON_INTEREST = 0) AS TOTAL_DUE,
        (SELECT MIN(INSTALLMENT_NO) FROM ACT_POLICY_INSTALLMENT_DETAILS WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID) AS INSTALLMENT_NO,
        PCPL.POLICY_LEVEL_COMISSION AS PER_COMM,
        PCPL.POLICY_TERMS,
        CAST(YEAR(PCPL.POL_VER_EXPIRATION_DATE) AS VARCHAR(4))+'-'+CAST(MONTH(PCPL.POL_VER_EXPIRATION_DATE) AS VARCHAR(2))+'-'+CAST(DAY(PCPL.POL_VER_EXPIRATION_DATE) AS VARCHAR(2)) AS POL_VER_EXPIRATION_DATE,
        PCPL.POLICY_CURRENCY,
        --SUM(PPC.WRITTEN_PREMIUM) AS WRITTEN_PREMIUM,
        --SUM(CPSD.LIMIT),
        --SUM(CPSD.PREMIUM),
        APIPD.TOTAL_INTEREST_AMOUNT,
        ((SELECT SUM(TOTAL_DUE) FROM  ACT_COI_OPEN_ITEMS WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID AND 
					RIGHT(ITEM_TRAN_CODE, 1) = 'P' AND IS_COMM_ON_INTEREST = 0)
						-
					(SELECT SUM(TOTAL_DUE) FROM  ACT_COI_OPEN_ITEMS WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID AND 
					RIGHT(ITEM_TRAN_CODE, 1) = 'C' AND IS_COMM_ON_INTEREST = 0))AS RISK_PREMIUM

FROM 
		POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK)
INNER JOIN 
		POL_CO_INSURANCE PCI WITH(NOLOCK) ON PCI.CUSTOMER_ID = PCPL.CUSTOMER_ID AND PCI.POLICY_ID = PCPL.POLICY_ID AND PCI.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID AND PCI.LEADER_FOLLOWER = '14548'
INNER JOIN  
		MNT_REIN_COMAPANY_LIST MRCL WITH(NOLOCK) ON MRCL.REIN_COMAPANY_ID = PCI.COMPANY_ID 
INNER JOIN 
		POL_POLICY_ENDORSEMENTS PPE WITH(NOLOCK) ON PPE.CUSTOMER_ID = PCPL.CUSTOMER_ID AND PPE.POLICY_ID = PCPL.POLICY_ID AND PPE.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID  
INNER JOIN 
		CLT_CUSTOMER_LIST CCL WITH(NOLOCK) ON CCL.CUSTOMER_ID = PCPL.CUSTOMER_ID 	
INNER JOIN 
		ACT_POLICY_INSTALL_PLAN_DATA APIPD WITH(NOLOCK) ON APIPD.CUSTOMER_ID = PCPL.CUSTOMER_ID AND APIPD.POLICY_ID = PCPL.POLICY_ID AND APIPD.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID  			
INNER JOIN 
		POL_REMUNERATION PR WITH(NOLOCK) ON PR.CUSTOMER_ID = PCPL.CUSTOMER_ID AND PR.POLICY_ID = PCPL.POLICY_ID AND PR.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID 			
		
		
		
--INNER JOIN 
--		CLT_PREMIUM_SPLIT CPS WITH(NOLOCK) ON CPS.CUSTOMER_ID = PCPL.CUSTOMER_ID AND CPS.POLICY_ID = PCPL.POLICY_ID AND CPS.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID 
--INNER JOIN 
--		CLT_PREMIUM_SPLIT_DETAILS CPSD WITH(NOLOCK) ON CPSD.SPLIT_UNIQUE_ID = CPS.UNIQUE_ID 	

	
		
--INNER JOIN 
--		POL_PRODUCT_COVERAGES PPC WITH(NOLOCK) ON PPC.CUSTOMER_ID = PCPL.CUSTOMER_ID AND PPC.POLICY_ID = PCPL.POLICY_ID AND PPC.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID 		
--INNER JOIN 
--		ACT_POLICY_INSTALLMENT_DETAILS APID WITH(NOLOCK) ON APID.CUSTOMER_ID = PCPL.CUSTOMER_ID AND APID.POLICY_ID = PCPL.POLICY_ID AND APID.POLICY_VERSION_ID = PCPL.POLICY_VERSION_ID  
--	--WHERE PCPL.CUSTOMER_ID = 2727 AND PCPL.POLICY_ID = 389 AND PCPL.POLICY_VERSION_ID = 1  

	
	WHERE PCPL.CUSTOMER_ID = @CUSTOMER_ID AND PCPL.POLICY_ID = @POLICY_ID AND PCPL.POLICY_VERSION_ID = @POLICY_VERSION_ID  
	
	
	
	SELECT 
		APID.INSTALLMENT_NO,
		APID.INSTALLMENT_EXPIRE_DATE,
		SUM(APID.INSTALLMENT_AMOUNT) INSTALLMENT_AMOUNT,
		SUM(APID.INTEREST_AMOUNT) INTEREST_AMOUNT,
		SUM(ACOI.TOTAL_DUE) COMMISSION,
		SUM(APID.INSTALLMENT_AMOUNT) - SUM(ACOI.TOTAL_DUE) RISK_PREMIUM
	FROM 
		ACT_POLICY_INSTALLMENT_DETAILS APID WITH(NOLOCK) 
	INNER JOIN 
		ACT_COI_OPEN_ITEMS ACOI WITH(NOLOCK) ON (ACOI.CUSTOMER_ID = APID.CUSTOMER_ID AND ACOI.POLICY_ID = APID.POLICY_ID AND ACOI.POLICY_VERSION_ID = APID.POLICY_VERSION_ID AND
						RIGHT(ACOI.ITEM_TRAN_CODE, 1) = 'C' AND ISNULL(ACOI.IS_COMM_ON_INTEREST, 0) = 0)
	INNER JOIN 	
			POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK) ON PCPL.CUSTOMER_ID = APID.CUSTOMER_ID AND PCPL.POLICY_ID = APID.POLICY_ID AND PCPL.POLICY_VERSION_ID = APID.POLICY_VERSION_ID 
		WHERE PCPL.CUSTOMER_ID = @CUSTOMER_ID AND PCPL.POLICY_ID = @POLICY_ID AND PCPL.POLICY_VERSION_ID = @POLICY_VERSION_ID  
	GROUP BY
		APID.INSTALLMENT_NO, APID.INSTALLMENT_EXPIRE_DATE
END
GO

