IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_UpdateACT_GENERAL_LEDGER]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_UpdateACT_GENERAL_LEDGER]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------      
Proc Name       : dbo.Proc_UpdateACT_GENERAL_LEDGER      
Created by      : Ajit Singh Chahal      
Date            : 5/16/2005      
Purpose     : To update records of general ledger.      
Revison History :      
Used In  : Wolverine      
------------------------------------------------------------      
Date     Review By          Comments      
------   ------------       -------------------------*/      
-- drop proc dbo.Proc_UpdateACT_GENERAL_LEDGER      
CREATE  PROC dbo.Proc_UpdateACT_GENERAL_LEDGER      
(      
 @GL_ID     int ,      
 @FISCAL_id int,      
 @LEDGER_NAME     nvarchar(50),      
 @FISCAL_BEGIN_DATE     datetime,      
 @FISCAL_END_DATE     datetime,      
 @MONTH_BEGINING     smallint,      
 @FORBID_POSTING     nchar(4),      
 @SMALL_BALANCE     decimal(18,2),      
 @IS_SYSTEM_LOCK     nchar(2),      
 @IS_SYS_OUT_OF_BAL     nchar(2),      
 @LAST_EOD_RUN_DATE_TIME     datetime,      
 @LAST_EOM_RUN_DATE_TIME     datetime,      
 @LAST_EOY_RUN_DATE_TIME     datetime,      
 @ACC_SORT_ORDER     smallint,      
 @MODIFIED_BY     int,      
 @LAST_UPDATED_DATETIME     datetime    
)      
AS      
DECLARE @BEGIN_DATE DATETIME, @END_DATE DATETIME    
DECLARE @CHK_DATE_COUNT INT    
BEGIN      
  
 -- Check whether any transaction already exists in ACT_ACCOUNTS_POSTING_DETAILS for that Fiscal period.
if (SELECT FISCAL_END_DATE FROM ACT_GENERAL_LEDGER    
WHERE GL_ID = @GL_ID AND FISCAL_ID = @FISCAL_ID) <> @FISCAL_END_DATE
begin
	 IF EXISTS (SELECT SOURCE_EFF_DATE
	 	FROM ACT_ACCOUNTS_POSTING_DETAILS (NOLOCK)  
		WHERE SOURCE_EFF_DATE > @FISCAL_END_DATE --OR SOURCE_EFF_DATE < @FISCAL_BEGIN_DATE
		)  
	 BEGIN  
		RETURN -1  
	 END  
END
       
 SELECT @BEGIN_DATE = FISCAL_BEGIN_DATE, @END_DATE = FISCAL_END_DATE FROM ACT_GENERAL_LEDGER    
 WHERE GL_ID = @GL_ID AND FISCAL_ID = @FISCAL_ID      
    
 UPDATE ACT_GENERAL_LEDGER      
 SET      
 LEDGER_NAME = @LEDGER_NAME,      
 FISCAL_BEGIN_DATE = @FISCAL_BEGIN_DATE,      
 FISCAL_END_DATE = @FISCAL_END_DATE,      
 MONTH_BEGINING = @MONTH_BEGINING,      
 FORBID_POSTING = @FORBID_POSTING,      
 SMALL_BALANCE = @SMALL_BALANCE,      
 IS_SYSTEM_LOCK = @IS_SYSTEM_LOCK,      
 IS_SYS_OUT_OF_BAL = @IS_SYS_OUT_OF_BAL,      
 LAST_EOD_RUN_DATE_TIME = @LAST_EOD_RUN_DATE_TIME,      
 LAST_EOM_RUN_DATE_TIME = @LAST_EOM_RUN_DATE_TIME,      
 LAST_EOY_RUN_DATE_TIME = @LAST_EOY_RUN_DATE_TIME,      
 ACC_SORT_ORDER = @ACC_SORT_ORDER,      
 MODIFIED_BY = @MODIFIED_BY,      
 LAST_UPDATED_DATETIME = @LAST_UPDATED_DATETIME      
 WHERE GL_ID = @GL_ID AND FISCAL_ID = @FISCAL_ID      
    
 UPDATE ACT_GENERAL_LEDGER_TOTALS    
 SET FISCAL_END_DATE = @FISCAL_END_DATE     
 WHERE FISCAL_START_DATE = @BEGIN_DATE AND FISCAL_END_DATE = @END_DATE AND GL_ID = @GL_ID    
  
 -- SET MTD, YTD FIELDS TO 0 IN ACT_GENERAL_LEDGER_TOTALS LYING BETWEEN THE GIVEN FISCAL PERIOD  
  
 DECLARE @END_MONTH INT  
 DECLARE @BEG_MONTH INT  
 DECLARE @FIS_BEGIN_DATE DATETIME    
 DECLARE @FIS_END_DATE DATETIME    
 DECLARE @MTD_FIELD NVARCHAR(100)  
 DECLARE @YTD_FIELD NVARCHAR(100)  
 DECLARE @SQL NVARCHAR(1000)  
 DECLARE @CTR INT  
 DECLARE @TEMP_VAR INT  
  
 SET @FIS_BEGIN_DATE = @FISCAL_BEGIN_DATE         --'06/01/2006'  OCT  NOV DEC JAN -- '09/01/2006'  
 SET @FIS_END_DATE  = @FISCAL_END_DATE         --'10/31/2006'  --'02/28/2007'  
 SET @BEG_MONTH = MONTH(@FIS_BEGIN_DATE)  
 SET @END_MONTH = MONTH(@FIS_END_DATE)  
  
 BEGIN   
    
        -- IF YEARS ARE NOT THE SAME THEN SWAP THE MONTH NOS, AS BEG_MONTH SHUD BE LESS THAN END_MONTH  
  IF @BEG_MONTH > @END_MONTH  
   BEGIN  
    SET @TEMP_VAR = @BEG_MONTH  
    SET @BEG_MONTH = @END_MONTH  
   SET @END_MONTH = @TEMP_VAR  
   END  
  SET @CTR = 1  
  WHILE (@CTR <=12)     
  BEGIN  
   IF @CTR = @BEG_MONTH   -- IF CURRENT CTR EQUALS THE BEGINNING FISCAL MONTH, THEN EXCLUDE THE MONTHS B/W THE FISCAL DATES  
     BEGIN    
           SET @CTR = @END_MONTH -- SET CTR TO END MONTH OF FISCAL DATE  
     END   
   ELSE  
     BEGIN  -- GET THE FIELD NAMES OF THE COLUMNS TO BE UPDATED  
       SET @MTD_FIELD = 'YEAR_'+ CAST(UPPER(LEFT(DATENAME(MM,CAST(@CTR  AS VARCHAR)+ '/1/30'),3)) AS VARCHAR) +'_MTD'  
       SET @YTD_FIELD = 'YEAR_'+ CAST(UPPER(LEFT(DATENAME(MM,CAST(@CTR  AS VARCHAR)+ '/1/30'),3)) AS VARCHAR) +'_YTD'   
          SET @SQL = 'UPDATE ACT_GENERAL_LEDGER_TOTALS SET ' + @MTD_FIELD + '= 0,' + @YTD_FIELD +
	 '= 0 WHERE FISCAL_START_DATE = ' + '''' + CONVERT(VARCHAR(20),@FIS_BEGIN_DATE,101) + '''' + 
	' AND FISCAL_END_DATE = ' + '''' + CONVERT(VARCHAR(20),@FIS_END_DATE,101) + ''''  
       EXEC (@SQL)  
     END  
   SET @CTR = @CTR + 1  
   END    
    
  END  
  
END    





--select FISCAL_END_DATE FROM ACT_GENERAL_LEDGER
--SELECT SOURCE_EFF_DATE
--	FROM ACT_ACCOUNTS_POSTING_DETAILS where source_eff_date > '2008-12-31'
--SELECT SOURCE_EFF_DATE FROM ACT_ACCOUNTS_POSTING_DETAILS  ORDER BY SOURCE_EFF_DATE DESC
--SELECT SOURCE_EFF_DATE,*
	--FROM ACT_ACCOUNTS_POSTING_DETAILS where source_eff_date > '2008-12-31' order by source_eff_date desc
--select * from ACT_GENERAL_LEDGER

select FISCAL_ID,year(FISCAL_BEGIN_DATE) as FiscalYearFrom,convert(varchar,FISCAL_BEGIN_DATE,101) as FISCAL_BEGIN_DATE,convert(varchar,FISCAL_END_DATE,101) as FISCAL_END_DATE,GL_ID,LEDGER_NAME,month(FISCAL_BEGIN_DATE) as FISCAL_BEGIN_MONTH,datediff(mm,FISCAL_BEGIN_DATE,FISCAL_END_DATE)+1 as FISCAL_END_MONTH,MONTH_BEGINING,FORBID_POSTING,SMALL_BALANCE,IS_ACTIVE from ACT_GENERAL_LEDGER where  year(FISCAL_BEGIN_DATE)=2008


GO

