IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetEligibleProcess]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetEligibleProcess]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN
--DROP PROC  [dbo].[Proc_GetEligibleProcess]     
--GO
/******************************************************    
CREATED BY   : Ashwani Sharma    
CREATED DATETIME : Dec 29,2005 2:50    
PURPOSE    : To get the list of     
eligible process for the specified policy passed in sp    
    
Review By  Review Date  Purpose    
pravesh K. chandel 18 may 2007  eligibile process on once Cancelled  policy    
modified by  :Pravesh K Chandel    
Date  :6 june 2007    
Purpose  :to Check Policy Status in Applicable_to Column using A Function     
******************************************************    
Modified : Lalit Kr Chauhan
Modified Date: Dec 31,2010
Purpose	: Multilingual Implimentation
***************************
DROP PROC dbo.Proc_GetEligibleProcess    
exec Proc_GetEligibleProcess 237,5,2727 ,2   
*/    
CREATE PROCEDURE [dbo].[Proc_GetEligibleProcess]    
(    
 @POLICY_ID   INT,    
 @POLICY_VERSION_ID INT,    
 @CUSTOMER_ID   INT ,
 @LANG_ID INT = 1 --Added By Lalit for multilingual dec 30,2010   
)    
AS    
BEGIN    
 DECLARE @POLICY_STATUS VARCHAR(50),@IS_FROMAS400 char(1)    
 DECLARE @PREVIOUS_PROCESS_POLICY_STATUS VARCHAR(50)    
 declare @tmpPROCESS_ID int  ,@NEWPROCESS_STATUS NVARCHAR(50)  
  DECLARE @CURRENT_TERM INT  
    
    SELECT @CURRENT_TERM = CURRENT_TERM FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND
    POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID
    
IF EXISTS(SELECT  PROCESS_STATUS  FROM POL_POLICY_PROCESS WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND NEW_POLICY_VERSION_ID = @POLICY_VERSION_ID)  
   BEGIN  
 SELECT @NEWPROCESS_STATUS = PROCESS_STATUS  FROM POL_POLICY_PROCESS WITH(NOLOCK) WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND NEW_POLICY_VERSION_ID = @POLICY_VERSION_ID  
  --IF(@NEWPROCESS_STATUS <>'PENDING')		
   END  
     
 IF ( SELECT MAX(POLICY_VERSION_ID)    
    FROM POL_CUSTOMER_POLICY_LIST    
    WHERE POLICY_ID = @POLICY_ID AND CUSTOMER_ID = @CUSTOMER_ID --AND POLICY_STATUS<>'UNWTRRENEWD'    
    --added by Lalit June 07,2011.process should available on previous version,
	AND CURRENT_TERM = @CURRENT_TERM 
    ) <> @POLICY_VERSION_ID    
 IF(@NEWPROCESS_STATUS <> 'PENDING')  
   RETURN 1 --Can not launch process on previous version    
    
    
 --Retreiving the policy status    
 SELECT @POLICY_STATUS = POLICY_STATUS,@IS_FROMAS400=isnull(FROM_AS400,'') FROM POL_CUSTOMER_POLICY_LIST    
 WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID     
 --by pravesh    
--8           Corrective User Process if it is from AS400 and CUP was not done    
IF (@IS_FROMAS400='Y' AND     
 NOT EXISTS(    
 SELECT PROCESS_ID FROM POL_POLICY_PROCESS WITH(NOLOCK) 
 WHERE   CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND PROCESS_ID IN(9,8)     
 )    
)    
BEGIN    

--modified by lalit dec 31,2010 for multilingual
 SELECT PRS.PROCESS_ID,
 ISNULL(PRO_MULTI.PROCESS_DESC,PRS.PROCESS_DESC) PROCESS_DESC,
 PRS.PROCESS_SHORTNAME,
 PRS.APPLICABLE_TO,PRS.IS_ACTIVE,
 PRS.CREATED_BY,PRS.CREATED_DATETIME,
 PRS.MODIFIED_BY,PRS.LAST_UPDATED_DATETIME,
 PRS.PROCESS_TYPE,
 PRS.POLICY_STATUS,PRS.NSS_VALUE_CODE,
 PRS.PROCESS_CODE 
 FROM POL_PROCESS_MASTER PRS WITH(NOLOCK)
 LEFT OUTER JOIN POL_PROCESS_MASTER_MULTILINGUAL PRO_MULTI ON 
 PRO_MULTI.PROCESS_ID = PRS.PROCESS_ID 
 AND PRO_MULTI.LANG_ID = @LANG_ID    
 WHERE PRS.PROCESS_ID=8 and 
 dbo.Instring(REPLACE(APPLICABLE_TO,',',' '),@POLICY_STATUS) > 0 
 AND PRS.IS_ACTIVE = 'Y'  
 
RETURN    
END    
    
-----BY PRAVESH K CHANDEL IF POLICY FROM CONVERSION AND NO RENEWAL WAS PROCESS TILL NOW    
IF EXISTS    
(    
SELECT POLICY_NUMBER FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK)    
 WHERE CUSTOMER_ID= @CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND ISNULL(FROM_AS400,'')='Y'    
)    
AND NOT EXISTS    
(    
 SELECT PROCESS_ID FROM POL_POLICY_PROCESS 
 WITH(NOLOCK)
 WHERE CUSTOMER_ID= @CUSTOMER_ID
 AND POLICY_ID=@POLICY_ID    
 AND PROCESS_ID IN (5,18) and isnull(REVERT_BACK,'') <>'Y'    
)AND @POLICY_STATUS <> 'UCORUSER'    
BEGIN     
SELECT PRS.PROCESS_ID,
 ISNULL(PRO_MULTI.PROCESS_DESC,PRS.PROCESS_DESC) PROCESS_DESC,
 PRS.PROCESS_SHORTNAME,
 PRS.APPLICABLE_TO,PRS.IS_ACTIVE,
 PRS.CREATED_BY,PRS.CREATED_DATETIME,
 PRS.MODIFIED_BY,PRS.LAST_UPDATED_DATETIME,
 PRS.PROCESS_TYPE,
 PRS.POLICY_STATUS,PRS.NSS_VALUE_CODE,
 PRS.PROCESS_CODE 
 FROM POL_PROCESS_MASTER PRS WITH(NOLOCK)
 LEFT OUTER JOIN POL_PROCESS_MASTER_MULTILINGUAL PRO_MULTI ON 
 PRO_MULTI.PROCESS_ID = PRS.PROCESS_ID 
  AND  PRO_MULTI.LANG_ID = @LANG_ID
 WHERE PRS.PROCESS_ID in (5,6) and dbo.Instring(REPLACE(APPLICABLE_TO,',',' '),@POLICY_STATUS) > 0 AND PRS.IS_ACTIVE = 'Y' 

RETURN    
END    
    
/*    
12 cancellation Process    
14 Commit Endorsement Process    
18 Commit Renewal Process    
20 Commit Non-Renewal Process    
*/    

declare @LastCancelVersion int,@LastRenewVersion int    
select @LastCancelVersion = isnull(max(policy_version_id),0) from POL_POLICY_PROCESS with(nolock) WHERE     
   CUSTOMER_ID=@CUSTOMER_ID    
   and POLICY_ID=@POLICY_ID and process_id=12    
    
 SELECT @LastRenewVersion= isnull(max(policy_version_id),0) FROM POL_POLICY_PROCESS WITH(NOLOCK)     
 WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND PROCESS_ID=18       
    
 SELECT @LastRenewVersion= isnull(max(policy_version_id),0) FROM POL_POLICY_PROCESS WITH(NOLOCK)     
 WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID AND PROCESS_ID=18       
 and policy_version_id < @LastRenewVersion    
       
    
--if exists( select (35) where 35 in(select process_id FROM POL_PROCESS_MASTER WHERE PATINDEX ('%' + @POLICY_STATUS + '%',APPLICABLE_TO) <> 0 AND IS_ACTIVE = 'Y'))    
if exists( select (35) where 35 in(select process_id FROM POL_PROCESS_MASTER WHERE dbo.Instring(REPLACE(APPLICABLE_TO,',',' '),@POLICY_STATUS) > 0 AND IS_ACTIVE = 'Y'))    
 begin    

   if exists(SELECT process_id FROM pol_policy_process  where CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID     
   AND POLICY_VERSION_ID > @LastCancelVersion     
   AND POLICY_VERSION_ID > @LastRenewVersion    
   and process_id in (14,18,20) and process_status='COMPLETE' and isnull(REVERT_BACK,'N')<>'Y')    
 --SELECT * FROM POL_PROCESS_MASTER WHERE PATINDEX ('%' + @POLICY_STATUS + '%',APPLICABLE_TO) <> 0 AND IS_ACTIVE = 'Y'     
 --SELECT * FROM POL_PROCESS_MASTER 
 SELECT PRS.PROCESS_ID,
 ISNULL(PRO_MULTI.PROCESS_DESC,PRS.PROCESS_DESC) PROCESS_DESC,
 PRS.PROCESS_SHORTNAME,
 PRS.APPLICABLE_TO,PRS.IS_ACTIVE,
 PRS.CREATED_BY,PRS.CREATED_DATETIME,
 PRS.MODIFIED_BY,PRS.LAST_UPDATED_DATETIME,
 PRS.PROCESS_TYPE,
 PRS.POLICY_STATUS,PRS.NSS_VALUE_CODE,
 PRS.PROCESS_CODE 
 FROM POL_PROCESS_MASTER PRS WITH(NOLOCK)
 LEFT OUTER JOIN POL_PROCESS_MASTER_MULTILINGUAL PRO_MULTI ON 
 PRO_MULTI.PROCESS_ID = PRS.PROCESS_ID 
  and PRO_MULTI.LANG_ID= @LANG_ID
 WHERE dbo.Instring(REPLACE(APPLICABLE_TO,',',' '),@POLICY_STATUS)> 0 AND PRS.IS_ACTIVE = 'Y'     

 
   else    
   
 --SELECT * FROM POL_PROCESS_MASTER
 SELECT PRS.PROCESS_ID,
 ISNULL(PRO_MULTI.PROCESS_DESC,PRS.PROCESS_DESC) PROCESS_DESC,
 PRS.PROCESS_SHORTNAME,
 PRS.APPLICABLE_TO,PRS.IS_ACTIVE,
 PRS.CREATED_BY,PRS.CREATED_DATETIME,
 PRS.MODIFIED_BY,PRS.LAST_UPDATED_DATETIME,
 PRS.PROCESS_TYPE,
 PRS.POLICY_STATUS,PRS.NSS_VALUE_CODE,
 PRS.PROCESS_CODE 
 FROM POL_PROCESS_MASTER PRS WITH(NOLOCK)
 LEFT OUTER JOIN POL_PROCESS_MASTER_MULTILINGUAL PRO_MULTI ON 
 PRO_MULTI.PROCESS_ID = PRS.PROCESS_ID   
   and PRO_MULTI.LANG_ID= @LANG_ID
  WHERE dbo.Instring(REPLACE(APPLICABLE_TO,',',' '),@POLICY_STATUS)> 0 AND PRS.IS_ACTIVE = 'Y' and PRS.process_id not in (35)  

    
 --SELECT * FROM POL_PROCESS_MASTER WHERE PATINDEX ('%' + @POLICY_STATUS + '%',APPLICABLE_TO) <> 0 AND IS_ACTIVE = 'Y' and process_id not in (35)    
  end     
else    
 --SELECT * FROM POL_PROCESS_MASTER WHERE PATINDEX ('%' + @POLICY_STATUS + '%',APPLICABLE_TO) <> 0 AND IS_ACTIVE = 'Y'     
 --SELECT * FROM POL_PROCESS_MASTER 
 SELECT PRS.PROCESS_ID,
 ISNULL(PRO_MULTI.PROCESS_DESC,PRS.PROCESS_DESC) PROCESS_DESC,
 PRS.PROCESS_SHORTNAME,
 PRS.APPLICABLE_TO,PRS.IS_ACTIVE,
 PRS.CREATED_BY,PRS.CREATED_DATETIME,
 PRS.MODIFIED_BY,PRS.LAST_UPDATED_DATETIME,
 PRS.PROCESS_TYPE,
 PRS.POLICY_STATUS,PRS.NSS_VALUE_CODE,
 PRS.PROCESS_CODE 
 FROM POL_PROCESS_MASTER PRS WITH(NOLOCK)
 LEFT OUTER JOIN POL_PROCESS_MASTER_MULTILINGUAL PRO_MULTI ON 
 PRO_MULTI.PROCESS_ID = PRS.PROCESS_ID 
  and PRO_MULTI.LANG_ID = @LANG_ID   
 WHERE dbo.Instring(REPLACE(APPLICABLE_TO,',',' '),@POLICY_STATUS) > 0 AND PRS.IS_ACTIVE = 'Y'     

    
END    
-- GO
--EXEC [dbo].[Proc_GetEligibleProcess] 43,2,2813,1    
--ROLLBACK TRAN
  
GO

