IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_InsertACT_GENERAL_LEDGER]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_InsertACT_GENERAL_LEDGER]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--sp_helptext Proc_InsertACT_GENERAL_LEDGER
/*----------------------------------------------------------
Proc Name       : dbo.Proc_InsertACT_GENERAL_LEDGER
Created by      : Ajit Singh Chahal
Date            : 5/16/2005
Purpose    	: To insert records in general ledger.
Revison History :
Modifed by      : Praveen kasana
Date            : 08/01/2007
Purpose    	: 	At posting interface add a Drop Down listing General Ledger with Fiscal period. 
			Value should default to current fisacl year. 
			Posting interface will be displayed/updated for selected Fiscal Period in drop down. 
			While creating new fiscal year system should copy default values from previous fiscal year. 
			While adding new account in system FISCAL_ID column should default to current fiscal year

Used In 	: Wolverine
------------------------------------------------------------
Date     Review By          Comments
------   ------------       -------------------------*/
--drop proc Proc_InsertACT_GENERAL_LEDGER
CREATE PROC Dbo.Proc_InsertACT_GENERAL_LEDGER
(
--@GL_ID     int, --output,-- 13-jun-2005 ---- changes made as fiscal id is added to table
@FISCAL_ID int output,-- 13-jun-2005 ---- changes made as fiscal id is added to table
@LEDGER_NAME     nvarchar(50),
@FISCAL_BEGIN_DATE     datetime,
@FISCAL_END_DATE     datetime,
@MONTH_BEGINING     smallint,
@FORBID_POSTING     nchar(4),
@SMALL_BALANCE     decimal(9),
@IS_SYSTEM_LOCK     nchar(2),
@IS_SYS_OUT_OF_BAL     nchar(2),
@LAST_EOD_RUN_DATE_TIME     datetime,
@LAST_EOM_RUN_DATE_TIME     datetime,
@LAST_EOY_RUN_DATE_TIME     datetime,
@ACC_SORT_ORDER     smallint,
@IS_ACTIVE     nchar(2),
@CREATED_BY     int,
@CREATED_DATETIME     datetime,
@MODIFIED_BY     int,
@LAST_UPDATED_DATETIME     datetime
)
AS
BEGIN
declare @GL_ID int
--Start 13-jun-2005 ---- changes made as fiscal id is added to table
select  @GL_ID=1
select  @FISCAL_ID=isnull(Max(FISCAL_ID),0)+1 from ACT_GENERAL_LEDGER where @GL_ID = @GL_ID
--End 13-jun-2005 ---- changes made as fiscal id is added to table
INSERT INTO ACT_GENERAL_LEDGER
(
	GL_ID,
	FISCAL_ID,-- 13-jun-2005 ---- changes made as fiscal id is added to table
	LEDGER_NAME,
	FISCAL_BEGIN_DATE,
	FISCAL_END_DATE,
	MONTH_BEGINING,
	FORBID_POSTING,
	SMALL_BALANCE,
	IS_SYSTEM_LOCK,
	IS_SYS_OUT_OF_BAL,
	LAST_EOD_RUN_DATE_TIME,
	LAST_EOM_RUN_DATE_TIME,
	LAST_EOY_RUN_DATE_TIME,
	ACC_SORT_ORDER,
	IS_ACTIVE,
	CREATED_BY,
	CREATED_DATETIME,
	MODIFIED_BY,
	LAST_UPDATED_DATETIME
)
VALUES
(
	@GL_ID,
	@FISCAL_ID,-- 13-jun-2005 ---- changes made as fiscal id is added to table
	@LEDGER_NAME,
	@FISCAL_BEGIN_DATE,
	@FISCAL_END_DATE,
	@MONTH_BEGINING,
	@FORBID_POSTING,
	@SMALL_BALANCE,
	@IS_SYSTEM_LOCK,
	@IS_SYS_OUT_OF_BAL,
	@LAST_EOD_RUN_DATE_TIME,
	@LAST_EOM_RUN_DATE_TIME,
	@LAST_EOY_RUN_DATE_TIME,
	@ACC_SORT_ORDER,
	@IS_ACTIVE,
	@CREATED_BY,
	@CREATED_DATETIME,
	@MODIFIED_BY,
	@LAST_UPDATED_DATETIME
)

--While creating new fiscal year system should copy default values from previous fiscal year. 
--Get records from Previous fiscal year
DECLARE  
@AST_UNCOLL_PRM_CUSTOMER int,@AST_UNCOLL_PRM_AGENCY int,
@AST_COMM_RECV_REINS_EXCESS_CONTRACT int,@AST_COMM_RECV_REINS_UMBRELLA_CONTRACT int,@LIB_COMM_PAYB_AGENCY_BILL int,
@LIB_COMM_PAYB_DIRECT_BILL int,@LIB_REINS_PAYB_EXCESS_CONTRACT int,
@LIB_REINS_PAYB_CAT_CONTRACT int,@LIB_REINS_PAYB_MCCA int,
@LIB_REINS_PAYB_UMBRELLA int,@LIB_REINS_PAYB_FACULTATIVE int,@LIB_OUT_DRAFTS int,
@LIB_ADVCE_PRM_DEPOSIT int,@LIB_ADVCE_PRM_DEPOSIT_2M int,@LIB_UNEARN_PRM int,
@LIB_UNEARN_PRM_MCCA int,@LIB_UNEARN_PRM_CEDED_UNEARN_MCCA_REINS int,@LIB_UNEARN_PRM_CEDED_UNEARN_UMBRELLA_REINS int,
@LIB_UNEARN_PRM_OTH_STATE_ASSES_FEE int,@LIB_VENDOR_PAYB int,@LIB_COLL_ON_NONISSUED_POLICY int,
@EQU_TRANSFER int,@INC_PRM_WRTN int,@INC_PRM_WRTN_MCCA int,@INC_PRM_WRTN_OTH_STATE_ASSESS_FEE int,
@INC_REINS_CEDED_EXCESS_CON int,@INC_REINS_CEDED_CAT_CON int,@INC_REINS_CEDED_UMBRELLA_CON int,
@INC_REINS_CEDED_FACUL_CON int,@INC_REINS_CEDED_MCCA_CON int,@INC_CHG_UNEARN_PRM int,
@INC_CHG_UNEARN_PRM_MCCA int,@INC_CHG_UNEARN_PRM_OTH_STATE_FEE int,@INC_CHG_CEDED_UNEARN_MCCA int,
@INC_CHG_CEDED_UNEARN_UMBRELLA_REINS int,@EXP_COMM_INCURRED int,@EXP_REINS_COMM_EXCESS_CON int,
@EXP_REINS_COMM_UMBRELLA_CON int,@EXP_ASSIGNED_CLAIMS int,@EXP_REINS_PAID_LOSSES int,
@EXP_REINS_PAID_LOSSES_CAT int,@AST_UNCOLL_PRM_SUSPENSE_AGENCY_BILL int,@AST_MCCA_FEE_SUSPENSE_DIRECT_BILL int,
@AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_AGENCY_BILL int,@AST_MCCA_FEE_SUSPENSE_AGENCY_BILL int,
@AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_DIRECT_BILL int,@AST_PRM_WRIT_SUSPENSE_DIRECT_BILL int,
@AST_PRM_WRIT_SUSPENSE_AGENCY_BILL int,@AST_UNCOLL_PREM_IN_SUSPENSE_DIRECT_BILL int,
@AST_COMM_EXPENSE_IN_SUSPENSE_DIRECT_BILL int,@AST_COMM_PAYABLE_IN_SUSPENSE_DIRECT_BILL int,
@AST_COMM_EXPENSE_IN_SUSPENSE_AGENCY_BILL int,@AST_COMM_PAYABLE_IN_SUSPENSE_AGENCY_BILL int,
@EXP_SMALL_BALANCE_WRITE_OFF int,@INC_INSTALLMENT_FEES int,@INC_RE_INSTATEMENT_FEES int,
@INC_NON_SUFFICIENT_FUND_FEES int,@INC_LATE_FEES int,@INC_SERVICE_CHARGE int,
@INC_CONVENIENCE_FEE int,@POSTING_LOCK_DATE datetime,
---Added on 4 jan 2009
@BNK_OVER_PAYMENT INT,
@BNK_RETURN_PRM_PAYMENT INT,
@BNK_SUSPENSE_AMOUNT INT,
@BNK_CLAIMS_DEFAULT_AC INT,
@BNK_REINSURANCE_DEFAULT_AC INT,
@BNK_DEPOSITS_DEFAULT_AC INT,
@BNK_MISC_CHK_DEFAULT_AC INT,
@EQU_UNASSIGNED_SURPLUS INT,
@CLM_CHECK_DEFAULT_AC INT,
@BNK_CUST_DEP_EFT_CARD INT,
@BNK_AGEN_CHK_DEFAULT_AC INT,
@BNK_VEN_CHK_DEFAULT_AC INT


IF (@FISCAL_ID>0)
BEGIN
	SELECT 
		@AST_UNCOLL_PRM_CUSTOMER 				=		AST_UNCOLL_PRM_CUSTOMER,
		@AST_UNCOLL_PRM_AGENCY					=		AST_UNCOLL_PRM_AGENCY,
		@AST_COMM_RECV_REINS_EXCESS_CONTRACT			=		AST_COMM_RECV_REINS_EXCESS_CONTRACT,
		@AST_COMM_RECV_REINS_UMBRELLA_CONTRACT			=		AST_COMM_RECV_REINS_UMBRELLA_CONTRACT,
		@LIB_COMM_PAYB_AGENCY_BILL				=		LIB_COMM_PAYB_AGENCY_BILL,
		@LIB_COMM_PAYB_DIRECT_BILL				=		LIB_COMM_PAYB_DIRECT_BILL,
		@LIB_REINS_PAYB_EXCESS_CONTRACT				=		LIB_REINS_PAYB_EXCESS_CONTRACT,
		@LIB_REINS_PAYB_CAT_CONTRACT				=		LIB_REINS_PAYB_CAT_CONTRACT,
		@LIB_REINS_PAYB_MCCA					=		LIB_REINS_PAYB_MCCA,
		@LIB_REINS_PAYB_UMBRELLA				=		LIB_REINS_PAYB_UMBRELLA,
		@LIB_REINS_PAYB_FACULTATIVE				=		LIB_REINS_PAYB_FACULTATIVE,
		@LIB_OUT_DRAFTS						=		LIB_OUT_DRAFTS,
		@LIB_ADVCE_PRM_DEPOSIT					=		LIB_ADVCE_PRM_DEPOSIT,
		@LIB_ADVCE_PRM_DEPOSIT_2M				=		LIB_ADVCE_PRM_DEPOSIT_2M,
		@LIB_UNEARN_PRM						=		LIB_UNEARN_PRM,
		@LIB_UNEARN_PRM_MCCA					=		LIB_UNEARN_PRM_MCCA,
		@LIB_UNEARN_PRM_CEDED_UNEARN_MCCA_REINS			=		LIB_UNEARN_PRM_CEDED_UNEARN_MCCA_REINS,
		@LIB_UNEARN_PRM_CEDED_UNEARN_UMBRELLA_REINS		=		LIB_UNEARN_PRM_CEDED_UNEARN_UMBRELLA_REINS,
		@LIB_UNEARN_PRM_OTH_STATE_ASSES_FEE			=		LIB_UNEARN_PRM_OTH_STATE_ASSES_FEE,
		@LIB_VENDOR_PAYB					=		LIB_VENDOR_PAYB,
		@LIB_COLL_ON_NONISSUED_POLICY				=		LIB_COLL_ON_NONISSUED_POLICY,
		@EQU_TRANSFER						=		EQU_TRANSFER,
		@INC_PRM_WRTN						=		INC_PRM_WRTN,
		@INC_PRM_WRTN_MCCA					=		INC_PRM_WRTN_MCCA,
		@INC_PRM_WRTN_OTH_STATE_ASSESS_FEE			=		INC_PRM_WRTN_OTH_STATE_ASSESS_FEE,
		@INC_REINS_CEDED_EXCESS_CON				=		INC_REINS_CEDED_EXCESS_CON,
		@INC_REINS_CEDED_CAT_CON				=		INC_REINS_CEDED_CAT_CON,
		@INC_REINS_CEDED_UMBRELLA_CON				=		INC_REINS_CEDED_UMBRELLA_CON,
		@INC_REINS_CEDED_FACUL_CON				=		INC_REINS_CEDED_FACUL_CON,
		@INC_REINS_CEDED_MCCA_CON				=		INC_REINS_CEDED_MCCA_CON,
		@INC_CHG_UNEARN_PRM					=		INC_CHG_UNEARN_PRM,
		@INC_CHG_UNEARN_PRM_MCCA				=		INC_CHG_UNEARN_PRM_MCCA,
		@INC_CHG_UNEARN_PRM_OTH_STATE_FEE			=		INC_CHG_UNEARN_PRM_OTH_STATE_FEE,
		@INC_CHG_CEDED_UNEARN_MCCA				=		INC_CHG_CEDED_UNEARN_MCCA,
		@INC_CHG_CEDED_UNEARN_UMBRELLA_REINS			=		INC_CHG_CEDED_UNEARN_UMBRELLA_REINS,
		@EXP_COMM_INCURRED					=		EXP_COMM_INCURRED,
		@EXP_REINS_COMM_EXCESS_CON				=		EXP_REINS_COMM_EXCESS_CON,
		@EXP_REINS_COMM_UMBRELLA_CON				=		EXP_REINS_COMM_UMBRELLA_CON,--40
		@EXP_ASSIGNED_CLAIMS					=		EXP_ASSIGNED_CLAIMS,
		@EXP_REINS_PAID_LOSSES					=		EXP_REINS_PAID_LOSSES,
		@EXP_REINS_PAID_LOSSES_CAT				=		EXP_REINS_PAID_LOSSES_CAT,
		@AST_UNCOLL_PRM_SUSPENSE_AGENCY_BILL			=		AST_UNCOLL_PRM_SUSPENSE_AGENCY_BILL,
		@AST_MCCA_FEE_SUSPENSE_DIRECT_BILL			=		AST_MCCA_FEE_SUSPENSE_DIRECT_BILL,
		@AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_AGENCY_BILL		=		AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_AGENCY_BILL,
		@AST_MCCA_FEE_SUSPENSE_AGENCY_BILL			=		AST_MCCA_FEE_SUSPENSE_AGENCY_BILL,
		@AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_DIRECT_BILL		=		AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_DIRECT_BILL,
		@AST_PRM_WRIT_SUSPENSE_DIRECT_BILL			=		AST_PRM_WRIT_SUSPENSE_DIRECT_BILL,
		@AST_PRM_WRIT_SUSPENSE_AGENCY_BILL			=		AST_PRM_WRIT_SUSPENSE_AGENCY_BILL,
		@AST_UNCOLL_PREM_IN_SUSPENSE_DIRECT_BILL		=		AST_UNCOLL_PREM_IN_SUSPENSE_DIRECT_BILL,
		@AST_COMM_EXPENSE_IN_SUSPENSE_DIRECT_BILL		=		AST_COMM_EXPENSE_IN_SUSPENSE_DIRECT_BILL,
		@AST_COMM_PAYABLE_IN_SUSPENSE_DIRECT_BILL		=		AST_COMM_PAYABLE_IN_SUSPENSE_DIRECT_BILL,
		@AST_COMM_EXPENSE_IN_SUSPENSE_AGENCY_BILL		=		AST_COMM_EXPENSE_IN_SUSPENSE_AGENCY_BILL,
		@AST_COMM_PAYABLE_IN_SUSPENSE_AGENCY_BILL		=		AST_COMM_PAYABLE_IN_SUSPENSE_AGENCY_BILL,
		@EXP_SMALL_BALANCE_WRITE_OFF				=		EXP_SMALL_BALANCE_WRITE_OFF,
		@INC_INSTALLMENT_FEES					=		INC_INSTALLMENT_FEES,
		@INC_RE_INSTATEMENT_FEES			 	=	 	INC_RE_INSTATEMENT_FEES,
		@INC_NON_SUFFICIENT_FUND_FEES		 		=		INC_NON_SUFFICIENT_FUND_FEES,
		@INC_LATE_FEES				 		=		INC_LATE_FEES,
		@INC_SERVICE_CHARGE 					=		INC_SERVICE_CHARGE,
		@INC_CONVENIENCE_FEE 					=		INC_CONVENIENCE_FEE,
		@POSTING_LOCK_DATE  					=		POSTING_LOCK_DATE,--63,
		--Added on 4 jan 2009
		@BNK_OVER_PAYMENT								= BNK_OVER_PAYMENT,
		@BNK_RETURN_PRM_PAYMENT							= BNK_RETURN_PRM_PAYMENT,
		@BNK_SUSPENSE_AMOUNT							= BNK_SUSPENSE_AMOUNT,
		@BNK_CLAIMS_DEFAULT_AC							= BNK_CLAIMS_DEFAULT_AC,
		@BNK_REINSURANCE_DEFAULT_AC						= BNK_REINSURANCE_DEFAULT_AC,
		@BNK_DEPOSITS_DEFAULT_AC						= BNK_DEPOSITS_DEFAULT_AC,
		@BNK_MISC_CHK_DEFAULT_AC						= BNK_MISC_CHK_DEFAULT_AC,
		@EQU_UNASSIGNED_SURPLUS							= EQU_UNASSIGNED_SURPLUS,
		@CLM_CHECK_DEFAULT_AC							= CLM_CHECK_DEFAULT_AC,
		@BNK_CUST_DEP_EFT_CARD							= BNK_CUST_DEP_EFT_CARD,
		@BNK_AGEN_CHK_DEFAULT_AC						= BNK_AGEN_CHK_DEFAULT_AC,
		@BNK_VEN_CHK_DEFAULT_AC							= BNK_VEN_CHK_DEFAULT_AC
	FROM 
	ACT_GENERAL_LEDGER WITH(NOLOCK)
	WHERE FISCAL_ID = @FISCAL_ID - 1 --GETING RECORDS OF PREVIOUS FISCAL ID
	
	--UPDATE RECORDS FROM PREVIOUS FISCAL YEAR TO NEW FISCAL YEAR
	UPDATE ACT_GENERAL_LEDGER 
	SET 
		AST_UNCOLL_PRM_CUSTOMER 			=	@AST_UNCOLL_PRM_CUSTOMER,
		AST_UNCOLL_PRM_AGENCY 				=	@AST_UNCOLL_PRM_AGENCY,
		AST_COMM_RECV_REINS_EXCESS_CONTRACT		=	@AST_COMM_RECV_REINS_EXCESS_CONTRACT,
		AST_COMM_RECV_REINS_UMBRELLA_CONTRACT		=	@AST_COMM_RECV_REINS_UMBRELLA_CONTRACT,
		LIB_COMM_PAYB_AGENCY_BILL			=	@LIB_COMM_PAYB_AGENCY_BILL,
		LIB_COMM_PAYB_DIRECT_BILL			=	@LIB_COMM_PAYB_DIRECT_BILL,
		LIB_REINS_PAYB_EXCESS_CONTRACT			=	@LIB_REINS_PAYB_EXCESS_CONTRACT,
		LIB_REINS_PAYB_CAT_CONTRACT			=	@LIB_REINS_PAYB_CAT_CONTRACT,
		LIB_REINS_PAYB_MCCA				=	@LIB_REINS_PAYB_MCCA,
		LIB_REINS_PAYB_UMBRELLA				=	@LIB_REINS_PAYB_UMBRELLA,
		LIB_REINS_PAYB_FACULTATIVE			=	@LIB_REINS_PAYB_FACULTATIVE,
		LIB_OUT_DRAFTS					=	@LIB_OUT_DRAFTS,
		LIB_ADVCE_PRM_DEPOSIT				=	@LIB_ADVCE_PRM_DEPOSIT,
		LIB_ADVCE_PRM_DEPOSIT_2M			=	@LIB_ADVCE_PRM_DEPOSIT_2M,
		LIB_UNEARN_PRM					=	@LIB_UNEARN_PRM,
		LIB_UNEARN_PRM_MCCA				=	@LIB_UNEARN_PRM_MCCA,
		LIB_UNEARN_PRM_CEDED_UNEARN_MCCA_REINS		=	@LIB_UNEARN_PRM_CEDED_UNEARN_MCCA_REINS,
		LIB_UNEARN_PRM_CEDED_UNEARN_UMBRELLA_REINS	=	@LIB_UNEARN_PRM_CEDED_UNEARN_UMBRELLA_REINS,
		LIB_UNEARN_PRM_OTH_STATE_ASSES_FEE		=	@LIB_UNEARN_PRM_OTH_STATE_ASSES_FEE,
		LIB_VENDOR_PAYB					=	@LIB_VENDOR_PAYB,
		LIB_COLL_ON_NONISSUED_POLICY			=	@LIB_COLL_ON_NONISSUED_POLICY,
		EQU_TRANSFER					=	@EQU_TRANSFER,
		INC_PRM_WRTN					=	@INC_PRM_WRTN,
		INC_PRM_WRTN_MCCA				=	@INC_PRM_WRTN_MCCA,
		INC_PRM_WRTN_OTH_STATE_ASSESS_FEE		=	@INC_PRM_WRTN_OTH_STATE_ASSESS_FEE,
		INC_REINS_CEDED_EXCESS_CON			=	@INC_REINS_CEDED_EXCESS_CON,
		INC_REINS_CEDED_CAT_CON				=	@INC_REINS_CEDED_CAT_CON,
		INC_REINS_CEDED_UMBRELLA_CON			=	@INC_REINS_CEDED_UMBRELLA_CON,
		INC_REINS_CEDED_FACUL_CON			=	@INC_REINS_CEDED_FACUL_CON,
		INC_REINS_CEDED_MCCA_CON			=	@INC_REINS_CEDED_MCCA_CON,
		INC_CHG_UNEARN_PRM				=	@INC_CHG_UNEARN_PRM,
		INC_CHG_UNEARN_PRM_MCCA 			=	@INC_CHG_UNEARN_PRM_MCCA,
		INC_CHG_UNEARN_PRM_OTH_STATE_FEE		=	@INC_CHG_UNEARN_PRM_OTH_STATE_FEE,
		INC_CHG_CEDED_UNEARN_MCCA			=	@INC_CHG_CEDED_UNEARN_MCCA,
		INC_CHG_CEDED_UNEARN_UMBRELLA_REINS		=	@INC_CHG_CEDED_UNEARN_UMBRELLA_REINS,
		EXP_COMM_INCURRED				=	@EXP_COMM_INCURRED,
		EXP_REINS_COMM_EXCESS_CON			=	@EXP_REINS_COMM_EXCESS_CON,
		EXP_REINS_COMM_UMBRELLA_CON			=	@EXP_REINS_COMM_UMBRELLA_CON,--40
		EXP_ASSIGNED_CLAIMS				=	@EXP_ASSIGNED_CLAIMS,
		EXP_REINS_PAID_LOSSES				=	@EXP_REINS_PAID_LOSSES,
		EXP_REINS_PAID_LOSSES_CAT			=	@EXP_REINS_PAID_LOSSES_CAT,
		AST_UNCOLL_PRM_SUSPENSE_AGENCY_BILL		=	@AST_UNCOLL_PRM_SUSPENSE_AGENCY_BILL,
		AST_MCCA_FEE_SUSPENSE_DIRECT_BILL		=	@AST_MCCA_FEE_SUSPENSE_DIRECT_BILL,
		AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_AGENCY_BILL	=	@AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_AGENCY_BILL,
		AST_MCCA_FEE_SUSPENSE_AGENCY_BILL		=	@AST_MCCA_FEE_SUSPENSE_AGENCY_BILL,
		AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_DIRECT_BILL	=	@AST_OTHER_STATE_ASSMT_FEE_SUSPENSE_DIRECT_BILL,
		AST_PRM_WRIT_SUSPENSE_DIRECT_BILL		=	@AST_PRM_WRIT_SUSPENSE_DIRECT_BILL,
		AST_PRM_WRIT_SUSPENSE_AGENCY_BILL		=	@AST_PRM_WRIT_SUSPENSE_AGENCY_BILL,
		AST_UNCOLL_PREM_IN_SUSPENSE_DIRECT_BILL		=	@AST_UNCOLL_PREM_IN_SUSPENSE_DIRECT_BILL,
		AST_COMM_EXPENSE_IN_SUSPENSE_DIRECT_BILL	=	@AST_COMM_EXPENSE_IN_SUSPENSE_DIRECT_BILL,
		AST_COMM_PAYABLE_IN_SUSPENSE_DIRECT_BILL	=	@AST_COMM_PAYABLE_IN_SUSPENSE_DIRECT_BILL,
		AST_COMM_EXPENSE_IN_SUSPENSE_AGENCY_BILL	=	@AST_COMM_EXPENSE_IN_SUSPENSE_AGENCY_BILL,
		AST_COMM_PAYABLE_IN_SUSPENSE_AGENCY_BILL	=	@AST_COMM_PAYABLE_IN_SUSPENSE_AGENCY_BILL,
		EXP_SMALL_BALANCE_WRITE_OFF			=	@EXP_SMALL_BALANCE_WRITE_OFF,
		INC_INSTALLMENT_FEES				=	@INC_INSTALLMENT_FEES,
		INC_RE_INSTATEMENT_FEES				= 	@INC_RE_INSTATEMENT_FEES,
		INC_NON_SUFFICIENT_FUND_FEES		 	=	@INC_NON_SUFFICIENT_FUND_FEES,
		INC_LATE_FEES 					=	@INC_LATE_FEES,
		INC_SERVICE_CHARGE 				=	@INC_SERVICE_CHARGE,
		INC_CONVENIENCE_FEE 				=	@INC_CONVENIENCE_FEE,
		POSTING_LOCK_DATE  				=	@POSTING_LOCK_DATE ,
		--Added on 4 jan 2009
		BNK_OVER_PAYMENT								= @BNK_OVER_PAYMENT,
		BNK_RETURN_PRM_PAYMENT							= @BNK_RETURN_PRM_PAYMENT,
		BNK_SUSPENSE_AMOUNT								= @BNK_SUSPENSE_AMOUNT,
		BNK_CLAIMS_DEFAULT_AC							= @BNK_CLAIMS_DEFAULT_AC,
		BNK_REINSURANCE_DEFAULT_AC						= @BNK_REINSURANCE_DEFAULT_AC,
		BNK_DEPOSITS_DEFAULT_AC							= @BNK_DEPOSITS_DEFAULT_AC,
		BNK_MISC_CHK_DEFAULT_AC							= @BNK_MISC_CHK_DEFAULT_AC,
		EQU_UNASSIGNED_SURPLUS							= @EQU_UNASSIGNED_SURPLUS,
		CLM_CHECK_DEFAULT_AC							= @CLM_CHECK_DEFAULT_AC,
		BNK_CUST_DEP_EFT_CARD							= @BNK_CUST_DEP_EFT_CARD,
		BNK_AGEN_CHK_DEFAULT_AC							= @BNK_AGEN_CHK_DEFAULT_AC,
		BNK_VEN_CHK_DEFAULT_AC							= @BNK_VEN_CHK_DEFAULT_AC
	WHERE FISCAL_ID = @FISCAL_ID --UPDATE NEW FISCAL ID 
END


END










GO

