IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetNPT_DB_PoliciesToCancel]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetNPT_DB_PoliciesToCancel]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin tran 
--drop proc dbo.Proc_GetNPT_DB_PoliciesToCancel
--go 
/*----------------------------------------------------------                
Proc Name       :  dbo.Proc_GetNPT_DB_PoliciesToCancel
Created by      :  Ravindra
Date            :  4-9-2007
Purpose         :  Will check for is there any payment with agency is there for concerned policy
			and the Grace period has not elapsed
Revison History :                
Used In         :  Wolverine                
                
exec Proc_GetNPT_DB_PoliciesToCancel
------------------------------------------------------------                
Date     Review By          Comments                
------   ------------       -------------------------*/                
-- drop proc dbo.Proc_GetNPT_DB_PoliciesToCancel
CREATE PROC [dbo].[Proc_GetNPT_DB_PoliciesToCancel]
AS
BEGIN 

DECLARE @EOD_DATE DateTime
SET @EOD_DATE  =  CAST(CONVERT(VARCHAR,GETDATE(),101)  AS DATETIME)


CREATE TABLE #POLICIES_TO_CANCEL
(
	IDEN_COL			Int Identity(1,1) not null,
	CUSTOMER_ID 		Int,
	POLICY_ID			Int,
	POLICY_VERSION_ID	Int,
	BASE_PROCESS		Int,
	CURRENT_TERM		Int,
	DUE_DATE			Datetime,
	INSTALLMENT_NO  	Int,
	DUE_AMOUNT 			Decimal(18,2),
	PAID_AMOUNT 		Decimal(18,2),
	PARTIAL_PAID		Bit,
	UNDER_PAYMENT_ALLOWED	Decimal(18,2),
	POL_EFFECTIVE_DATE	DateTime,
	POL_EXPIRATION_DATE	DateTime,
	CANCEL_GRACE_PERIOD	Int,
	LOB_ID				Int,
	LATE_FEES			Decimal(18,2)
	
)

CREATE TABLE #TMP_PENDING_INSTALLMENTS
(
	IDEN_COL		Int Identity(1,1) not null,
	CUSTOMER_ID 		Int,
	POLICY_ID		Int,
	POLICY_VERSION_ID	Int,
	BASE_PROCESS		Int,
	CURRENT_TERM		Int,
	DUE_DATE		Datetime,
	INSTALLMENT_NO  	Int,
	DUE_AMOUNT 		Decimal(18,2),
	PAID_AMOUNT 		Decimal(18,2),
	PARTIAL_PAID		Bit,
	UNDER_PAYMENT_ALLOWED	Decimal(18,2),
	POL_EFFECTIVE_DATE	DateTime,
	POL_EXPIRATION_DATE	DateTime,
	CANCEL_GRACE_PERIOD	Int,
	LOB_ID			Int,
	LATE_FEES		Decimal(18,2)
)

CREATE TABLE #TMP_CANCELLATION_POLICIES
(
	IDEN_COL		Int Identity(1,1) not null,
	CUSTOMER_ID 		Int,
	POLICY_ID		Int,
	POLICY_VERSION_ID	Int,
	BASE_PROCESS		Int,
	CURRENT_TERM		Int,
	DUE_DATE		Datetime,
	INSTALLMENT_NO  	Int,
	DUE_AMOUNT 		Decimal(18,2),
	PAID_AMOUNT 		Decimal(18,2),
	PARTIAL_PAID		Bit,
	UNDER_PAYMENT_ALLOWED	Decimal(18,2),
	POL_EFFECTIVE_DATE	DateTime,
	POL_EXPIRATION_DATE	DateTime,
	CANCEL_GRACE_PERIOD	Int,
	LOB_ID			Int,
	LATE_FEES		Decimal(18,2)
)

-- Fetch All OPen Items for policies under installment plans 
--and due date + "Minimum number of days from date premium notice is processed until the due date." 
--is less EOD DATE
INSERT INTO #TMP_PENDING_INSTALLMENTS
	(	CUSTOMER_ID ,POLICY_ID,CURRENT_TERM, DUE_DATE ,
	INSTALLMENT_NO ,DUE_AMOUNT , PAID_AMOUNT , UNDER_PAYMENT_ALLOWED ,
	POL_EFFECTIVE_DATE  , POL_EXPIRATION_DATE ,CANCEL_GRACE_PERIOD , LOB_ID , LATE_FEES 	
	)
SELECT DISTINCT CPL.CUSTOMER_ID ,CPL.POLICY_ID,CPL.CURRENT_TERM,
	OI.DUE_DATE,INSD.INSTALLMENT_NO,
	(
		SELECT  ISNULL(SUM(ISNULL(OI1.TOTAL_DUE,0) - ISNULL(OI1.APPLIED_AT_CANCELLATION,0) ) ,0)
		FROM ACT_CUSTOMER_OPEN_ITEMS OI1  WITH(NOLOCK) 
		INNER JOIN ACT_POLICY_INSTALLMENT_DETAILS INSD1 WITH(NOLOCK) 
			ON OI1.INSTALLMENT_ROW_ID  = INSD1.ROW_ID
		WHERE INSD1.CUSTOMER_ID = CPL.CUSTOMER_ID
		AND  INSD1.POLICY_ID = CPL.POLICY_ID 
		AND  INSD1.CURRENT_TERM = CPL.CURRENT_TERM
		AND  INSD1.INSTALLMENT_NO = INSD.INSTALLMENT_NO
		AND  OI1.ITEM_TRAN_CODE_TYPE = 'PREM'
	) TOTAL_INSTALLMENT_DUE ,
	(
		SELECT  ISNULL(SUM(ISNULL(OI1.TOTAL_PAID,0)- ISNULL(OI1.APPLIED_AT_CANCELLATION,0)),0) 
		FROM ACT_CUSTOMER_OPEN_ITEMS OI1  WITH(NOLOCK) 
		INNER JOIN ACT_POLICY_INSTALLMENT_DETAILS INSD1 WITH(NOLOCK) 
			ON OI1.INSTALLMENT_ROW_ID  = INSD1.ROW_ID
		WHERE INSD1.CUSTOMER_ID = CPL.CUSTOMER_ID
		AND  INSD1.POLICY_ID = CPL.POLICY_ID 
		AND  INSD1.CURRENT_TERM = CPL.CURRENT_TERM
		AND  INSD1.INSTALLMENT_NO = INSD.INSTALLMENT_NO
		AND  OI1.ITEM_TRAN_CODE_TYPE = 'PREM'
	) TOTAL_INSTALLMENT_PAID,
	INS.AMTUNDER_PAYMENT , CPL.APP_EFFECTIVE_DATE ,CPL.APP_EXPIRATION_DATE, INS.GRACE_PERIOD ,CPL.POLICY_LOB , INS.LATE_FEES
--,OI.IDEN_ROW_ID,OI.TOTAL_DUE , OI.TOTAL_PAID,OI.INSTALLMENT_ROW_ID 
FROM POL_CUSTOMER_POLICY_LIST CPL WITH(NOLOCK)
INNER JOIN ACT_INSTALL_PLAN_DETAIL INS WITH(NOLOCK)
	ON CPL.INSTALL_PLAN_ID = INS.IDEN_PLAN_ID 

	AND ISNULL(INS.SYSTEM_GENERATED_FULL_PAY,0) <> 1
	AND CPL.POLICY_STATUS <> 'EXPIRED'
INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OI WITH(NOLOCK)
	ON OI.CUSTOMER_ID = CPL.CUSTOMER_ID 
	AND OI.POLICY_ID = CPL.POLICY_ID 
	AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID 
	--AND DATEADD(DD,ISNULL(INS.MINDAYS_CANCEL,0),OI.DUE_DATE) <= @EOD_DATE
	AND DATEDIFF (DD, DATEADD(DD,ISNULL(INS.MINDAYS_CANCEL,0),OI.DUE_DATE) , @EOD_DATE ) >=0
	AND OI.ITEM_TRAN_CODE_TYPE = 'PREM'
	AND ISNULL(OI.TOTAL_DUE,0) <> ISNULL(OI.TOTAL_PAID,0)
INNER JOIN ACT_POLICY_INSTALLMENT_DETAILS INSD WITH(NOLOCK) 
ON OI.INSTALLMENT_ROW_ID  = INSD.ROW_ID
ORDER BY CPL.CUSTOMER_ID,CPL.POLICY_ID,INSTALLMENT_NO
 
-- For Full pay plan DB policies for which 
-- due date + "Minimum number of days from date premium notice is processed until the due date." 
-- is less EOD DATE
INSERT INTO #TMP_PENDING_INSTALLMENTS
	(	CUSTOMER_ID ,POLICY_ID,CURRENT_TERM, DUE_DATE ,
	INSTALLMENT_NO ,DUE_AMOUNT , PAID_AMOUNT , UNDER_PAYMENT_ALLOWED ,
	POL_EFFECTIVE_DATE  ,POL_EXPIRATION_DATE , CANCEL_GRACE_PERIOD ,LOB_ID , LATE_FEES
	)
SELECT DISTINCT CPL.CUSTOMER_ID ,CPL.POLICY_ID,CPL.CURRENT_TERM,
	OI.DUE_DATE,1 AS INSTALLMENT_NO,
	(
		SELECT  ISNULL(SUM(ISNULL(OI1.TOTAL_DUE,0)) ,0)
		FROM ACT_CUSTOMER_OPEN_ITEMS OI1  WITH(NOLOCK) 
		WHERE OI1.CUSTOMER_ID = CPL.CUSTOMER_ID
		AND  OI1.POLICY_ID = CPL.POLICY_ID 
		AND  OI1.POLICY_VERSION_ID IN (SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST P WITH(NOLOCK) 
						WHERE P.CUSTOMER_ID = CPL.CUSTOMER_ID 
						AND P.POLICY_ID = CPL.POLICY_ID 
						AND P.CURRENT_TERM = CPL.CURRENT_TERM)
		AND  OI1.ITEM_TRAN_CODE_TYPE = 'PREM'
	) TOTAL_DUE,
	(
		SELECT  ISNULL(SUM(ISNULL(OI1.TOTAL_PAID,0)) ,0)
		FROM ACT_CUSTOMER_OPEN_ITEMS OI1  WITH(NOLOCK) 
		WHERE OI1.CUSTOMER_ID = CPL.CUSTOMER_ID
		AND  OI1.POLICY_ID = CPL.POLICY_ID 
		AND  OI1.POLICY_VERSION_ID IN (SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST P WITH(NOLOCK) 
						WHERE P.CUSTOMER_ID = CPL.CUSTOMER_ID 
						AND P.POLICY_ID = CPL.POLICY_ID 
						AND P.CURRENT_TERM = CPL.CURRENT_TERM)
		AND  OI1.ITEM_TRAN_CODE_TYPE = 'PREM'
	) TOTAL_PAID , 
	INS.AMTUNDER_PAYMENT , CPL.APP_EFFECTIVE_DATE ,CPL.APP_EXPIRATION_DATE,  INS.GRACE_PERIOD,CPL.POLICY_LOB , INS.LATE_FEES
--,OI.IDEN_ROW_ID,OI.TOTAL_DUE , OI.TOTAL_PAID
FROM 	POL_CUSTOMER_POLICY_LIST CPL WITH(NOLOCK)
INNER 	JOIN ACT_INSTALL_PLAN_DETAIL INS WITH(NOLOCK)
	ON CPL.INSTALL_PLAN_ID = INS.IDEN_PLAN_ID 
	AND ISNULL(INS.SYSTEM_GENERATED_FULL_PAY,0) = 1
	AND CPL.POLICY_STATUS <> 'EXPIRED'
INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OI WITH(NOLOCK)
	ON OI.CUSTOMER_ID = CPL.CUSTOMER_ID 
	AND OI.POLICY_ID = CPL.POLICY_ID 
	AND OI.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID 
	--AND DATEADD(DD,ISNULL(INS.MINDAYS_CANCEL,0),OI.DUE_DATE) <= @EOD_DATE
	AND DATEDIFF (DD, DATEADD(DD,ISNULL(INS.MINDAYS_CANCEL,0),OI.DUE_DATE) , @EOD_DATE ) >=0
	AND OI.ITEM_TRAN_CODE_TYPE = 'PREM'
	AND ISNULL(OI.TOTAL_DUE,0) <> ISNULL(OI.TOTAL_PAID,0)
ORDER BY CPL.CUSTOMER_ID,CPL.POLICY_ID,INSTALLMENT_NO

-- Delete Policies with ZERO due amount 
--(There should not be any such policy after above filteration on live data)
DELETE FROM #TMP_PENDING_INSTALLMENTS WHERE DUE_AMOUNT < = 0 

-- Delete all polcies Partially Paid and balance is less than equal to under payment allowed
DELETE FROM #TMP_PENDING_INSTALLMENTS 
WHERE ((DUE_AMOUNT - PAID_AMOUNT)/DUE_AMOUNT)* 100 <= UNDER_PAYMENT_ALLOWED



INSERT INTO #TMP_CANCELLATION_POLICIES (CUSTOMER_ID ,POLICY_ID,CURRENT_TERM, DUE_DATE ,
	INSTALLMENT_NO ,DUE_AMOUNT , PAID_AMOUNT , UNDER_PAYMENT_ALLOWED ,
	POL_EFFECTIVE_DATE  , POL_EXPIRATION_DATE , CANCEL_GRACE_PERIOD ,LOB_ID, LATE_FEES)
SELECT CUSTOMER_ID ,POLICY_ID,CURRENT_TERM, DUE_DATE ,
	INSTALLMENT_NO ,DUE_AMOUNT , PAID_AMOUNT , UNDER_PAYMENT_ALLOWED,
	POL_EFFECTIVE_DATE  ,POL_EXPIRATION_DATE, CANCEL_GRACE_PERIOD ,LOB_ID , LATE_FEES
FROM #TMP_PENDING_INSTALLMENTS


DECLARE @IDEN_COL 	Int,
		@CUSTOMER_ID	Int,
		@POLICY_ID	Int,
		@CURRENT_TERM	Int,
		@PAID_AMOUNT	Decimal(18,2),
		@AGENCY_HAS_PAYMENT Int,
		@CURRENT_VERSION_ID Int,  
		@BASE_PROCESS_ID  Int  ,
		@IS_VALID		Bit , 
		@IS_ELIGIBLE	Int , 
		@POLICY_BALANCE	Decimal(18,2) 
  
SET @IDEN_COL = 1 

WHILE 1=1 
BEGIN 
	IF NOT EXISTS ( SELECT IDEN_COL FROM #TMP_CANCELLATION_POLICIES WHERE IDEN_COL = @IDEN_COL )
	BEGIN
		BREAK
	END

	SET @CUSTOMER_ID	= 0
	SET @POLICY_ID		= 0
	SET @CURRENT_TERM	= 0
	SET @AGENCY_HAS_PAYMENT = 0
	SET @CURRENT_VERSION_ID = 0 
	SET @BASE_PROCESS_ID  	= 0 
	SET @IS_VALID 		= 1
	SET @PAID_AMOUNT	= 0 
	SET @POLICY_BALANCE = 0 
	-- Check if policy already under cancellation or cancelled
	SELECT  @CUSTOMER_ID  = CUSTOMER_ID ,
		@POLICY_ID = POLICY_ID ,
		@CURRENT_TERM	= CURRENT_TERM ,
		@PAID_AMOUNT	= ISNULL(PAID_AMOUNT,0)
	FROM  #TMP_CANCELLATION_POLICIES 
	WHERE IDEN_COL = @IDEN_COL

	--RAvindra(05-20-2009): IF balance on policy is 0 Do not launch cancellation. This could be a case when there 
	--is balance on postive item due in past and negative item due in future making policy balance as Zero. 
	--In this as policy balance is Zero or less do not start cancellaation

	SELECT @POLICY_BALANCE = SUM( ISNULL(OI.TOTAL_DUE,0) - ISNULL(OI.TOTAL_PAID , 0) ) 
	FROM ACT_CUSTOMER_OPEN_ITEMS OI
	WHERE	OI.CUSTOMER_ID  = @CUSTOMER_ID 
	AND	OI.POLICY_ID	= @POLICY_ID 
	AND	OI.POLICY_VERSION_ID IN 
			( 
				SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL WHERE 	CPL.CUSTOMER_ID = OI.CUSTOMER_ID 
				AND CPL.POLICY_ID = OI.POLICY_ID AND CPL.CURRENT_TERM  = @CURRENT_TERM 
			)
	AND
		(
			OI.UPDATED_FROM IN ('C','D','F','J')
			OR	(
					OI.UPDATED_FROM IN ('P') AND OI.ITEM_TRAN_CODE_TYPE = 'PREM'
				)
		)
		
	IF( @POLICY_BALANCE <= 0 ) 
	BEGIN 
		SET @IDEN_COL = @IDEN_COL + 1 
		CONTINUE
	END

--Ravindra(04-09-2008): Check process eligibility will handle this . if this condition is checked system will not cancell reinstated policies
-- previously Term was changed at reinstatemnt now its same so this code is no longer applicable
--	IF EXISTS ( 
--			SELECT PPP.CUSTOMER_ID FROM POL_POLICY_PROCESS PPP WITH(NOLOCK)
--			INNER JOIN POL_CUSTOMER_POLICY_LIST CPL WITH(NOLOCK)
--			ON PPP.CUSTOMER_ID = CPL.CUSTOMER_ID 
--			AND PPP.POLICY_ID = CPL.POLICY_ID 
--			AND PPP.NEW_POLICY_VERSION_ID = CPL.POLICY_VERSION_ID 
--			AND PPP.PROCESS_ID IN (12,2)
--			AND CPL.CURRENT_TERM = @CURRENT_TERM
--			WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID 
--			AND CPL.POLICY_ID = @POLICY_ID 
--			)
--	BEGIN 
--		-- Already Cancellation is Launched or Committed for this term
--		SET @IS_VALID = 0
--	END

	SELECT @CURRENT_VERSION_ID = MAX(POLICY_VERSION_ID) FROM POL_CUSTOMER_POLICY_LIST 
	WHERE CUSTOMER_ID = @CUSTOMER_ID 
	AND POLICY_ID = @POLICY_ID 
	AND CURRENT_TERM = @CURRENT_TERM 

	exec Proc_CheckProcessEligibility @CUSTOMER_ID ,@POLICY_ID , @CURRENT_VERSION_ID , 2,  @IS_ELIGIBLE out



	IF( @IS_ELIGIBLE <> 1) 
	BEGIN 
		SET @IS_VALID = 0
	END
	ELSE
	BEGIN 
		EXEC @AGENCY_HAS_PAYMENT = Proc_CheckForPaymentWithAgency @CUSTOMER_ID,@POLICY_ID,@CURRENT_TERM,
			'CANCEL_LAUNCH' ,@EOD_DATE

		--SELECT @AGENCY_HAS_PAYMENT
		IF(@AGENCY_HAS_PAYMENT  = 1)
		BEGIN 
			SET @IS_VALID = 0
		END
	END



	IF(@IS_VALID = 1)
	BEGIN	
		SELECT  @BASE_PROCESS_ID  = PROCESS_ID 
		FROM 	POL_POLICY_PROCESS WITH(NOLOCK) 
		WHERE   CUSTOMER_ID= @CUSTOMER_ID   
		AND POLICY_ID=@POLICY_ID   
		AND PROCESS_ID IN (25,18)   -- New Business Commit & Renewal Commit  
		AND PROCESS_STATUS ='COMPLETE' 
		AND ISNULL(REVERT_BACK,'N') <> 'Y' 
		AND NEW_POLICY_VERSION_ID IN   
		(  
		 SELECT MAX(NEW_POLICY_VERSION_ID) FROM POL_POLICY_PROCESS WITH(NOLOCK) 
		 WHERE  CUSTOMER_ID= @CUSTOMER_ID  
		 AND POLICY_ID=@POLICY_ID  
		 AND PROCESS_ID IN (25,18)  
		 AND PROCESS_STATUS ='COMPLETE'  
		 AND ISNULL(REVERT_BACK,'N') <> 'Y'	
		) 
		
	
		DECLARE @PYMT_RECD INt
		SET @PYMT_RECD = 0 
		-- Ravindra(04-03-2008) : Discount is applied to installment 
		-- as soon as process is committed need to exclude discount transactions while checking payment recieved
		-- If premium paid is greater than discount applied 
		-- Ravindra(06-20-2008): Write not be considered as Payments
		IF(
			ISNULL(
				(SELECT ISNULL(SUM(ISNULL(TOTAL_PAID,0) -  ISNULL(WRITE_OFF_AMOUNT,0) ),0) 
				FROM ACT_CUSTOMER_OPEN_ITEMS 
				WHERE CUSTOMER_ID = @CUSTOMER_ID 
				AND POLICY_ID = @POLICY_ID
				AND POLICY_VERSION_ID IN (SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST WHERE 
								CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID 
								AND CURRENT_TERM = @CURRENT_TERM )
				AND ITEM_TRAN_CODE <> 'DISC'
				AND ITEM_TRAN_CODE_TYPE = 'PREM' 
				AND UPDATED_FROM 	= 'P') 
				, 0
				)
			>
			ISNULL(
				(SELECT ISNULL(SUM(ISNULL(TOTAL_PAID,0)),0)  * -1
				FROM ACT_CUSTOMER_OPEN_ITEMS 
				WHERE CUSTOMER_ID = @CUSTOMER_ID 
				AND POLICY_ID = @POLICY_ID
				AND POLICY_VERSION_ID IN (SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST WHERE 
								CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID 
								AND CURRENT_TERM = @CURRENT_TERM )
				AND ITEM_TRAN_CODE = 'DISC') 
				, 0
				) 
			)
		BEGIN   
			SET @PYMT_RECD = 1  
		END  
		ELSE   
		BEGIN   
			SET @PYMT_RECD = 0  
		END  
		
		UPDATE #TMP_CANCELLATION_POLICIES 
		SET POLICY_VERSION_ID  = @CURRENT_VERSION_ID,
		BASE_PROCESS	   = @BASE_PROCESS_ID ,
		PARTIAL_PAID =	 @PYMT_RECD 
		--CASE @PAID_AMOUNT WHEN 0 THEN 0
		--ELSE 1 END
		WHERE IDEN_COL = @IDEN_COL 

	
		--Ravindra(8-18-2008): Find Reinstatement effective date if reinstatement lapse of this term
		--Insert a record in result if not inserted prevoiusly for this policy
		
		DECLARE @REINSTATMENT_TYPE SMALLINT , @LAST_REINSTATE_VERSION int,@REINS_LAPSE INT , @REINS_EFFECTIVE_DATE DATETIME

		SET	@REINSTATMENT_TYPE = NULL 
		SET @LAST_REINSTATE_VERSION = NULL 
		SET @REINS_LAPSE  = NULL
		SET @REINS_EFFECTIVE_DATE = NULL

		SET @REINS_LAPSE=14244
		
		IF EXISTS(
					SELECT CANCELLATION_TYPE FROM POL_POLICY_PROCESS WITH(NOLOCK) 
					WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID	AND PROCESS_ID=16 
					AND POLICY_VERSION_ID IN 
							(
							SELECT POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST WHERE 
							CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND CURRENT_TERM = @CURRENT_TERM 
							)
					AND CANCELLATION_TYPE = @REINS_LAPSE			
				)
		BEGIN
			SELECT @LAST_REINSTATE_VERSION = ISNULL(MAX(POLICY_VERSION_ID),0) FROM POL_POLICY_PROCESS WITH(NOLOCK)
			WHERE CUSTOMER_ID=@CUSTOMER_ID	  AND POLICY_ID=@POLICY_ID AND PROCESS_ID=16  

			SELECT @REINS_EFFECTIVE_DATE=EFFECTIVE_DATETIME FROM POL_POLICY_PROCESS WITH(NOLOCK) 
			WHERE CUSTOMER_ID=@CUSTOMER_ID AND POLICY_ID=@POLICY_ID
			AND PROCESS_ID=16 AND POLICY_VERSION_ID > = @LAST_REINSTATE_VERSION
			AND CANCELLATION_TYPE = @REINS_LAPSE
		END

		IF NOT EXISTS( SELECT CUSTOMER_ID FROM #POLICIES_TO_CANCEL 
					WHERE CUSTOMER_ID = @CUSTOMER_ID 
					AND POLICY_ID = @POLICY_ID 
					AND POLICY_VERSION_ID = @CURRENT_VERSION_ID)
		BEGIN 
			INSERT INTO #POLICIES_TO_CANCEL(CUSTOMER_ID ,POLICY_ID,CURRENT_TERM, DUE_DATE ,
				INSTALLMENT_NO ,DUE_AMOUNT , PAID_AMOUNT , UNDER_PAYMENT_ALLOWED, POLICY_VERSION_ID,
				BASE_PROCESS,PARTIAL_PAID ,POL_EFFECTIVE_DATE  ,POL_EXPIRATION_DATE, CANCEL_GRACE_PERIOD	,LOB_ID, LATE_FEES)
			SELECT CUSTOMER_ID ,POLICY_ID,CURRENT_TERM, DUE_DATE ,
				INSTALLMENT_NO ,DUE_AMOUNT , PAID_AMOUNT , UNDER_PAYMENT_ALLOWED, POLICY_VERSION_ID,
				BASE_PROCESS,PARTIAL_PAID, ISNULL(@REINS_EFFECTIVE_DATE,POL_EFFECTIVE_DATE)  , POL_EXPIRATION_DATE ,CANCEL_GRACE_PERIOD	,
				LOB_ID,LATE_FEES
			FROM #TMP_CANCELLATION_POLICIES
			WHERE IDEN_COL = @IDEN_COL 
		END
	END
	SET @IDEN_COL = @IDEN_COL + 1 

END


SELECT  TMP.CUSTOMER_ID ,TMP.POLICY_ID	, TMP.POLICY_VERSION_ID,TMP.LOB_ID ,TMP.BASE_PROCESS,
	TMP.INSTALLMENT_NO  , TMP.PARTIAL_PAID	, TMP.POL_EFFECTIVE_DATE  , TMP.POL_EXPIRATION_DATE, 
	TMP.CANCEL_GRACE_PERIOD, TMP.LATE_FEES , ISNULL(CPL.FROM_AS400 ,'N')  AS FROM_AS400 
FROM #POLICIES_TO_CANCEL TMP 
INNER JOIN POL_CUSTOMER_POLICY_LIST CPL 
ON TMP.CUSTOMER_ID = CPL.CUSTOMER_ID 
	AND TMP.POLICY_ID = CPL.POLICY_ID 
	AND TMP.POLICY_VERSION_ID = CPL.POLICY_VERSION_ID
ORDER BY TMP.CUSTOMER_ID  , TMP.POLICY_ID , TMP.POLICY_VERSION_ID

DELETE FROM #TMP_PENDING_INSTALLMENTS 
DELETE FROM #TMP_CANCELLATION_POLICIES


DROP TABLE #POLICIES_TO_CANCEL
DROP TABLE #TMP_PENDING_INSTALLMENTS
DROP TABLE #TMP_CANCELLATION_POLICIES

END


--
--go 
--
--exec Proc_GetNPT_DB_PoliciesToCancel
--
--rollback tran
--
--




GO

