IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_Insert_Pol_DiscountSurchage]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_Insert_Pol_DiscountSurchage]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*
Created By		 : 
Created Date	 : 
Purpose			 : 

Modified By		 : Lalit Chauhan
Mofied Date		 : Nov 18,2010

Drop PROC Proc_Insert_Pol_DiscountSurchage
  */
CREATE PROC [dbo].[Proc_Insert_Pol_DiscountSurchage]
(
@CUSTOMER_ID INT ,
@POLICY_ID INT,
@POLICY_VERSION_ID INT,
@RISK_ID INT,
@DISCOUNT_ID INT,
@PERCENTAGE DECIMAL(8,4),
@IS_ACTIVE CHAR(1),
@CREATED_BY INT,
@CREATED_DATETIME  DATETIME,
@DISCOUNT_ROW_ID INT out
)
AS
BEGIN

SELECT @DISCOUNT_ROW_ID= ISNULL(max(DISCOUNT_ROW_ID),0)+1 FROM POL_DISCOUNT_SURCHARGE WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID

INSERT INTO POL_DISCOUNT_SURCHARGE(
CUSTOMER_ID,
POLICY_ID,
POLICY_VERSION_ID,
RISK_ID,
DISCOUNT_ID,
PERCENTAGE,
IS_ACTIVE,
CREATED_BY,
CREATED_DATETIME,
DISCOUNT_ROW_ID
)values(
@CUSTOMER_ID,
@POLICY_ID,
@POLICY_VERSION_ID,
@RISK_ID,
@DISCOUNT_ID,
@PERCENTAGE,
@IS_ACTIVE,
@CREATED_BY,
@CREATED_DATETIME,
@DISCOUNT_ROW_ID

)
END


GO

