IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[rpt_AgentCommissions]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[rpt_AgentCommissions]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE dbo.rpt_AgentCommissions
	@AgencyID varchar(8000)
AS

DECLARE @sql VARCHAR(8000)

		BEGIN
			Select @sql =   'SELECT ACT_AGENCY_STATEMENT.SOURCE_EFF_DATE, ACT_AGENCY_STATEMENT.COMMISSION_RATE, ACT_AGENCY_STATEMENT.COMMISSION_AMOUNT, ACT_AGENCY_STATEMENT.DUE_AMOUNT, ACT_AGENCY_STATEMENT.TOTAL_PAID,
					(SELECT TRANS_TYPE_DESC FROM MNT_TRANSACTION_TYPE_LIST WHERE cast(TRANS_TYPE_ID as varchar(100)) = ACT_AGENCY_STATEMENT.TRAN_TYPE) AS TRAN_TYPE, ACT_AGENCY_STATEMENT.PAYMENT_DATE, 
					LTRIM(RTRIM(MNT_AGENCY_LIST.AGENCY_DISPLAY_NAME)) + '' ('' + LTRIM(RTRIM(MNT_AGENCY_LIST.AGENCY_CODE)) + '')'' AS AGENCY_NAME, POL_CUSTOMER_POLICY_LIST.POLICY_NUMBER,POL_CUSTOMER_POLICY_LIST.APP_EFFECTIVE_DATE, 
					POL_CUSTOMER_POLICY_LIST.POLICY_LOB, CLT_CUSTOMER_LIST.CUSTOMER_FIRST_NAME, CLT_CUSTOMER_LIST.CUSTOMER_MIDDLE_NAME, 
					CLT_CUSTOMER_LIST.CUSTOMER_LAST_NAME, CLT_CUSTOMER_LIST.CUSTOMER_CODE, MNT_LOB_MASTER.LOB_DESC
			FROM		ACT_AGENCY_STATEMENT INNER JOIN
					MNT_AGENCY_LIST ON ACT_AGENCY_STATEMENT.AGENCY_ID = MNT_AGENCY_LIST.AGENCY_ID INNER JOIN
					POL_CUSTOMER_POLICY_LIST ON ACT_AGENCY_STATEMENT.CUSTOMER_ID = POL_CUSTOMER_POLICY_LIST.CUSTOMER_ID AND 
					ACT_AGENCY_STATEMENT.POLICY_ID = POL_CUSTOMER_POLICY_LIST.POLICY_ID AND
					ACT_AGENCY_STATEMENT.POLICY_VERSION_ID = POL_CUSTOMER_POLICY_LIST.POLICY_VERSION_ID  INNER JOIN
					CLT_CUSTOMER_LIST ON POL_CUSTOMER_POLICY_LIST.CUSTOMER_ID = CLT_CUSTOMER_LIST.CUSTOMER_ID INNER JOIN
					MNT_LOB_MASTER ON MNT_LOB_MASTER.LOB_ID = POL_CUSTOMER_POLICY_LIST.POLICY_LOB '
			IF (@AgencyID <> '0')
			BEGIN
				--SELECT @sql=@sql + ' WHERE ACT_AGENCY_STATEMENT.AGENCY_ID = ' + CAST(@AgencyID AS VARCHAR(10))
				SELECT @sql=@sql + ' WHERE ACT_AGENCY_STATEMENT.AGENCY_ID IN (' + @AgencyID + ')'
			END
		END	

--PRINT(@sql) 
EXEC (@sql)




GO

