IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_RPTPriorLossAndPaidClaim]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_RPTPriorLossAndPaidClaim]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[Proc_RPTPriorLossAndPaidClaim]
( 
	@STARTDATE	DATETIME = NULL,
	@ENDDATE	DATETIME = NULL,
	@AGENCYID	NVARCHAR(100)= NULL,
	@LOBID NVARCHAR(50)= NULL,
	@CLAIMENTID NVARCHAR(50)= NULL,
	@SORTBY NVARCHAR(100)
)
AS
BEGIN
DECLARE @SORTBY1 NVARCHAR(20),
		@SORTBY2 NVARCHAR(20),
		@SORTBY3 NVARCHAR(20),
		@SORTBY4 NVARCHAR(20),
        @AGENCYCODE VARCHAR(100) 
SET @SORTBY1=dbo.piece(@SORTBY,',',1)
SET @SORTBY2=dbo.piece(@SORTBY,',',2)
SET @SORTBY3=dbo.piece(@SORTBY,',',3)
SET @SORTBY4=dbo.piece(@SORTBY,',',4) 

SELECT @AGENCYCODE = ISNULL(AGENCY_CODE,'') FROM  MNT_AGENCY_LIST 
WHERE AGENCY_ID = @AGENCYID

CREATE TABLE #TEMP_PRIORCLAIMLOSS
(
[CUSTOMER_TYPE] NVARCHAR(50) ,
[CUSTOMER_NAME] NVARCHAR(400),
[CUSOMER_SUFFIX] NVARCHAR(20),
[CUSTOMER_ADDRESS1] NVARCHAR(400),
[CUSTOMER_ADDRESS2] NVARCHAR(400),
[CUSTOMER_CITY] NVARCHAR(100),
[CUSTOMER_COUNTRY] NVARCHAR(100),
[CUSTOMER_STATE] NVARCHAR(100),
[CUSTOMER_ZIP] NVARCHAR(70),
[CUSTOMER_INSURANCE_SCORE] INT,
[AGENCY_DISPLAY_NAME] NVARCHAR(400),
[NUM_AGENCY_CODE] INT,
[CUSTOMER_ID] INT,
[LOB] NVARCHAR(70),
[LOSS_TYPE] NVARCHAR(1000),
[CLAIM_TYPE] NVARCHAR(1000),
[LOSS_FROM] NVARCHAR(90),
[OCCURENCE_DATE] DATETIME,
[AMOUNT_PAID] decimal(18,2),
[DRIVER_NAME] NVARCHAR(400),
[CHARGEABLE] NVARCHAR(90),
[AT_FAULT] NVARCHAR(50),
[AT_FAULT_NEW] NVARCHAR(50),
[DRIVER_DOB] DATETIME,
[DRIVER_VIOLATION_POINT] NVARCHAR(90),
[YEAR_BUILT] NVARCHAR(90),
[PROT_CLASS] NVARCHAR(90),
[LIMIT_1_COVA] NVARCHAR(90),
[LIMIT_1_COVC] NVARCHAR(90),
[POLICY_TYPE] NVARCHAR(100),
[RESERVE] DECIMAL,
[POLICY_NUMBER] NVARCHAR(100),
[APP_INCEPTION_DATE] DATETIME,
[CLAIMS_TYPE] NVARCHAR(90),
[AGENCY_CODE] NVARCHAR(90),
[VEHICLE_YEAR] NVARCHAR(100),
[VEHICLE_MAKE] NVARCHAR(100),
[VEHICLE_MODEL] NVARCHAR(100) ,
[LOB_ID] VARCHAR(20),
[PRIOR_CARRIERNAME] NVARCHAR(100)
)
 INSERT INTO #TEMP_PRIORCLAIMLOSS
	EXECUTE PROC_FETCHCLAIMPRIORLOSSDETAIL @STARTDATE,@ENDDATE,@AGENCYCODE,@LOBID,@CLAIMENTID


DECLARE @QUERY	VARCHAR(8000)
SET @QUERY='SELECT  
[CUSTOMER_TYPE] ,
[CUSTOMER_NAME] ,
[CUSOMER_SUFFIX],
[CUSTOMER_ADDRESS1] ,
[CUSTOMER_ADDRESS2] ,
[CUSTOMER_CITY] ,
[CUSTOMER_COUNTRY] ,
[CUSTOMER_STATE] ,
[CUSTOMER_ZIP] ,
[CUSTOMER_INSURANCE_SCORE] ,
[AGENCY_DISPLAY_NAME] ,
[NUM_AGENCY_CODE] ,
[CUSTOMER_ID] ,
[LOB] ,
[LOSS_TYPE] ,
[CLAIM_TYPE] ,
[LOSS_FROM] ,
[OCCURENCE_DATE] ,
[AMOUNT_PAID] ,
[DRIVER_NAME] ,
[CHARGEABLE] ,
CASE [AT_FAULT] 
	WHEN '''' THEN [AT_FAULT_NEW]
	ELSE [AT_FAULT] END [AT_FAULT],
[DRIVER_DOB] ,
[DRIVER_VIOLATION_POINT] ,
[YEAR_BUILT] ,
[PROT_CLASS] ,
[LIMIT_1_COVA] ,
[LIMIT_1_COVC] ,
[POLICY_TYPE] ,
[RESERVE] ,
[POLICY_NUMBER] ,
[APP_INCEPTION_DATE] ,
[CLAIMS_TYPE] ,
[AGENCY_CODE] ,
[VEHICLE_YEAR] ,
[VEHICLE_MAKE] ,
[VEHICLE_MODEL],
[PRIOR_CARRIERNAME] 

 FROM #TEMP_PRIORCLAIMLOSS'

DECLARE @WHERE VARCHAR(2000)
	SET @WHERE = ''

IF (@LOBID IS NOT NULL)
		BEGIN
              SET @WHERE = '[LOB_ID] IN (' + @LOBID  + ')'  
		END

IF(ISNULL(@WHERE,'') = '')
	BEGIN
		IF (@CLAIMENTID IS NOT NULL)  
			BEGIN
				SET @WHERE = @WHERE + ' [CUSTOMER_ID] =  '+ @CLAIMENTID 
			END
	END
	ELSE
	BEGIN
		IF (@CLAIMENTID IS NOT NULL)
			BEGIN
				SET @WHERE = @WHERE + ' AND ' + ' [CUSTOMER_ID] = ' + @CLAIMENTID  
			END
	END


IF(ISNULL(@WHERE,'') != '')
BEGIN
      SET  @QUERY = @QUERY + ' where ' + @WHERE
END


	
IF(@SORTBY4 IS NOT NULL)
	BEGIN
		SET @QUERY = @QUERY + ' ORDER BY ' + dbo.piece(@SORTBY,',',1) + ', '+ dbo.piece(@SORTBY,',',2) +', '+ dbo.piece(@SORTBY,',',3) +', '+ dbo.piece(@SORTBY,',',4)
	END

ELSE IF(@SORTBY3 IS NOT NULL)
	BEGIN
		SET @QUERY = @QUERY + ' ORDER BY ' + dbo.piece(@SORTBY,',',1) + ', '+ dbo.piece(@SORTBY,',',2) +', '+ dbo.piece(@SORTBY,',',3) 
	END

ELSE IF(@SORTBY2 IS NOT NULL)
	BEGIN
		SET @QUERY = @QUERY + ' ORDER BY ' + dbo.piece(@SORTBY,',',1) + ', '+ dbo.piece(@SORTBY,',',2) 
	END

ELSE IF(@SORTBY1 IS NOT NULL)
	BEGIN
		SET @QUERY = @QUERY + ' ORDER BY ' + dbo.piece(@SORTBY,',',1) 
	END

EXECUTE (@QUERY)

END
--GO
--EXEC Proc_RPTPriorLossAndPaidClaim NULL,NULL,null,NULL,NULL,'CUSTOMER_NAME'
--ROLLBACK TRAN









GO

