IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetPDFAutoOperatorDtls]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetPDFAutoOperatorDtls]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
--DROP PROCEDURE Proc_GetPDFAutoOperatorDtls              
CREATE  PROCEDURE dbo.Proc_GetPDFAutoOperatorDtls             
(              
 @CUSTOMERID   int,              
 @POLID                int,              
 @VERSIONID   int,              
 @CALLEDFROM  VARCHAR(20),              
 @VEHICLEID  int=0              
)              
AS              
BEGIN    
DECLARE @APP_VEHICLE_PRIN_OCC_ID int            
 IF (@CALLEDFROM='APPLICATION')              
 BEGIN              
  IF (@VEHICLEID=0)              
  BEGIN              
  SELECT @APP_VEHICLE_PRIN_OCC_ID=APP_VEHICLE_PRIN_OCC_ID FROM APP_DRIVER_ASSIGNED_VEHICLE  with(nolock)     
  WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@POLID AND APP_VERSION_ID=@VERSIONID  
   SELECT               
    ISNULL(NO_CYCLE_ENDMT,'') NO_CYCLE_ENDMT,LTRIM(RTRIM(STR(DRIVER_ID))) OPERATORNO,              
    DRIVER_FNAME + ' ' + DRIVER_MNAME + ' ' + DRIVER_LNAME +
	CASE WHEN ISNULL(DRIVER_SUFFIX,'') = '' THEN '' ELSE ' '+DRIVER_SUFFIX  END DRIVER_NAME,
	DRIVER_SEX,CONVERT(VARCHAR(11),DRIVER_DOB,101) DRIVER_DOB,              
    DRIVER_DRIV_LIC,MCSL.STATE_CODE AS DRIVER_LIC_STATE,STATE_NAME,DRIVER_SSN,DRIVER_MART_STAT,MLV_RELATION.LOOKUP_VALUE_DESC RELATION              
    ,MLV_OCC.LOOKUP_VALUE_DESC OCCUPATION,CONVERT(VARCHAR(12),DATE_LICENSED,101) DATE_LICENSED              
    ,DRIVER_GOOD_STUDENT,              
    CASE WHEN (SELECT COUNT(VERIFIED) FROM APP_MVR_INFORMATION  with(nolock)  WHERE               
    CUSTOMER_ID=@CUSTOMERID AND APP_ID=@POLID AND APP_VERSION_ID=@VERSIONID AND IS_ACTIVE='Y' AND VERIFIED=1)>=1 THEN 1 ELSE 0 END ORDERED              
    ,ltrim(rtrim(WAIVER_WORK_LOSS_BENEFITS)) WAIVER_WORK_LOSS_BENEFITS,isnull(DD.DRIVER_VOLUNTEER_POLICE_FIRE,0) DRIVER_VOLUNTEER_POLICE_FIRE,isnull(DD.DRIVER_US_CITIZEN,0) DRIVER_US_CITIZEN              
    ,CASE WHEN @APP_VEHICLE_PRIN_OCC_ID = 11398 THEN 'Principal'               
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11399 THEN 'Principal'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11925 THEN 'Occasional'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11926 THEN 'Occasional'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11927 THEN 'Youthful'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11928 THEN 'Youthful'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11929 THEN 'Youthful'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11930 THEN 'Youthful'              
    END ASSIGNED_ASS,              
    CASE WHEN @APP_VEHICLE_PRIN_OCC_ID = 11398 THEN 'P'               
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11399 THEN 'P'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11925 THEN 'C'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11926 THEN 'C'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11927 THEN 'Y'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11928 THEN 'Y'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11929 THEN 'Y'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11930 THEN 'Y'              
    END ASSIGNED_OCC,              
    CASE DD.DRIVER_OCC_CLASS WHEN 6014 THEN 'UNEMPLOYED'              
        WHEN 6013 THEN 'RETIRED'              
           ELSE 'EMPLOYED'              
    END GEN_OCCUPATION,      
    CASE WHEN DD.IN_MILITARY = 10963 THEN 'Y' WHEN DD.IN_MILITARY = 10964 THEN 'N' ELSE '' END IN_MILITARY      
   FROM  APP_DRIVER_DETAILS DD   with(nolock)              
    --LEFT OUTER JOIN APP_VEHICLES WI ON WI.CUSTOMER_ID=DD.CUSTOMER_ID AND WI.APP_ID=DD.APP_ID AND WI.APP_VERSION_ID=DD.APP_VERSION_ID AND WI.vehicle_ID=DD.VEHICLE_ID              
    LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST MCSL  with(nolock)  ON MCSL.STATE_ID=DRIVER_LIC_STATE              
    LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV_RELATION  with(nolock) on MLV_RELATION.LOOKUP_UNIQUE_ID=DD.RELATIONSHIP AND LOOKUP_ID=605 AND MLV_RELATION.IS_ACTIVE='Y'              
    LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV_OCC  with(nolock) on MLV_OCC.LOOKUP_UNIQUE_ID=DD.DRIVER_OCC_CLASS AND MLV_OCC.LOOKUP_ID=741 AND MLV_OCC.IS_ACTIVE='Y'              
   WHERE DD.CUSTOMER_ID=@CUSTOMERID AND DD.APP_ID=@POLID AND DD.APP_VERSION_ID=@VERSIONID AND DD.IS_ACTIVE='Y'              
   ORDER BY OPERATORNO,DRIVER_FNAME,DRIVER_MNAME,DRIVER_LNAME              
  END              
  ELSE              
  BEGIN              
  SELECT @APP_VEHICLE_PRIN_OCC_ID=APP_VEHICLE_PRIN_OCC_ID FROM APP_DRIVER_ASSIGNED_VEHICLE  with(nolock)     
  WHERE CUSTOMER_ID=@CUSTOMERID AND APP_ID=@POLID AND APP_VERSION_ID=@VERSIONID AND VEHICLE_ID=@VEHICLEID  
   SELECT               
    ISNULL(NO_CYCLE_ENDMT,'') NO_CYCLE_ENDMT,LTRIM(RTRIM(STR(DD.DRIVER_ID))) OPERATORNO,              
   	DRIVER_FNAME + ' ' + DRIVER_MNAME + ' ' + DRIVER_LNAME +
	CASE WHEN ISNULL(DRIVER_SUFFIX,'') = '' THEN '' ELSE ' '+DRIVER_SUFFIX  END 
	DRIVER_NAME,DRIVER_SEX,CONVERT(VARCHAR(11),DRIVER_DOB,101) DRIVER_DOB,              
    DRIVER_DRIV_LIC,MCSL.STATE_CODE AS DRIVER_LIC_STATE,STATE_NAME,DRIVER_SSN,DRIVER_MART_STAT,MLV_RELATION.LOOKUP_VALUE_DESC RELATION              
    ,MLV_OCC.LOOKUP_VALUE_DESC OCCUPATION,CONVERT(VARCHAR(12),DATE_LICENSED,101) DATE_LICENSED              
    ,DRIVER_GOOD_STUDENT,              
    CASE WHEN (SELECT COUNT(VERIFIED) FROM APP_MVR_INFORMATION  with(nolock)  WHERE               
    CUSTOMER_ID=@CUSTOMERID AND APP_ID=@POLID AND APP_VERSION_ID=@VERSIONID AND IS_ACTIVE='Y' AND VERIFIED=1)>=1 THEN 1 ELSE 0 END ORDERED              
    ,ltrim(rtrim(WAIVER_WORK_LOSS_BENEFITS)) WAIVER_WORK_LOSS_BENEFITS,isnull(DD.DRIVER_VOLUNTEER_POLICE_FIRE,0) DRIVER_VOLUNTEER_POLICE_FIRE,isnull(DD.DRIVER_US_CITIZEN,0) DRIVER_US_CITIZEN              
    ,CASE WHEN @APP_VEHICLE_PRIN_OCC_ID = 11398 THEN 'Principal'               
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11399 THEN 'Principal'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11925 THEN 'Occasional'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11926 THEN 'Occasional'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11927 THEN 'Youthful'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11928 THEN 'Youthful'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11929 THEN 'Youthful'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11930 THEN 'Youthful'              
    END ASSIGNED_ASS,              
    CASE WHEN @APP_VEHICLE_PRIN_OCC_ID = 11398 THEN 'P'               
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11399 THEN 'P'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11925 THEN 'C'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11926 THEN 'C'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11927 THEN 'Y'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11928 THEN 'Y'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11929 THEN 'Y'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11930 THEN 'Y'              
    END ASSIGNED_OCC,              
    CASE DD.DRIVER_OCC_CLASS WHEN 6014 THEN 'UNEMPLOYED'              
        WHEN 6013 THEN 'RETIRED'              
           ELSE 'EMPLOYED'              
    END GEN_OCCUPATION,      
   CASE WHEN DD.IN_MILITARY = 10963 THEN 'Y' WHEN DD.IN_MILITARY = 10964 THEN 'N' ELSE '' END IN_MILITARY                
--    ,ADAV.DRIVER_ID            
   FROM  APP_DRIVER_DETAILS DD   with(nolock)              
    --INNER JOIN APP_VEHICLES WI ON WI.CUSTOMER_ID=DD.CUSTOMER_ID AND WI.APP_ID=DD.APP_ID AND WI.APP_VERSION_ID=DD.APP_VERSION_ID AND WI.vehicle_ID=DD.VEHICLE_ID              
    LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST  MCSL ON MCSL.STATE_ID=DRIVER_LIC_STATE              
    LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV_RELATION on MLV_RELATION.LOOKUP_UNIQUE_ID=DD.RELATIONSHIP AND LOOKUP_ID=605 AND MLV_RELATION.IS_ACTIVE='Y'              
    LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV_OCC on MLV_OCC.LOOKUP_UNIQUE_ID=DD.DRIVER_OCC_CLASS AND MLV_OCC.LOOKUP_ID=741 AND MLV_OCC.IS_ACTIVE='Y'              
--    LEFT OUTER JOIN APP_DRIVER_ASSIGNED_VEHICLE ADAV ON ADAV.CUSTOMER_ID=DD.CUSTOMER_ID AND ADAV.APP_ID=DD.APP_ID AND ADAV.APP_VERSION_ID=DD.APP_VERSION_ID AND ADAV.VEHICLE_ID=@VEHICLEID AND ADAV.APP_VEHICLE_PRIN_OCC_ID IN (11398,11399)            
   WHERE DD.CUSTOMER_ID=@CUSTOMERID AND DD.APP_ID=@POLID AND DD.APP_VERSION_ID=@VERSIONID AND DD.IS_ACTIVE='Y' AND dd.VEHICLE_ID=@VEHICLEID              
   ORDER BY OPERATORNO,DRIVER_FNAME,DRIVER_MNAME,DRIVER_LNAME              
  END              
 END              
 ELSE IF (@CALLEDFROM='POLICY')              
 BEGIN              
  IF (@VEHICLEID=0)              
  BEGIN              
  SELECT @APP_VEHICLE_PRIN_OCC_ID=APP_VEHICLE_PRIN_OCC_ID FROM POL_DRIVER_ASSIGNED_VEHICLE   with(nolock)    
  WHERE CUSTOMER_ID=@CUSTOMERID AND POLICY_ID=@POLID AND POLICY_VERSION_ID=@VERSIONID  
  
   SELECT               
     ISNULL(NO_CYCLE_ENDMT,'') NO_CYCLE_ENDMT,LTRIM(RTRIM(STR(DRIVER_ID))) OPERATORNO,              
    DRIVER_FNAME + ' ' + DRIVER_MNAME + ' ' + DRIVER_LNAME +
	CASE WHEN ISNULL(DRIVER_SUFFIX,'') = '' THEN '' ELSE ' '+DRIVER_SUFFIX  END 
	DRIVER_NAME,DRIVER_SEX,Convert(varchar(11),DRIVER_DOB,101) DRIVER_DOB,              
    DRIVER_DRIV_LIC,MCSL.STATE_CODE AS DRIVER_LIC_STATE,STATE_NAME,DRIVER_SSN,DRIVER_MART_STAT,MLV_RELATION.LOOKUP_VALUE_DESC RELATION              
    ,MLV_OCC.LOOKUP_VALUE_DESC OCCUPATION,CONVERT(VARCHAR(12),DATE_LICENSED,101) DATE_LICENSED               
 ,DRIVER_GOOD_STUDENT,              
    CASE WHEN (SELECT COUNT(VERIFIED) FROM POL_MVR_INFORMATION  with(nolock) WHERE               
    CUSTOMER_ID=@CUSTOMERID AND POLICY_ID=@POLID AND POLICY_VERSION_ID=@VERSIONID AND IS_ACTIVE='Y' AND VERIFIED=1)>=1 THEN 1 ELSE 0 END ORDERED              
    ,ltrim(rtrim(WAIVER_WORK_LOSS_BENEFITS)) WAIVER_WORK_LOSS_BENEFITS,isnull(DD.DRIVER_VOLUNTEER_POLICE_FIRE,0) DRIVER_VOLUNTEER_POLICE_FIRE,isnull(DD.DRIVER_US_CITIZEN,0) DRIVER_US_CITIZEN,              
    CASE WHEN @APP_VEHICLE_PRIN_OCC_ID = 11398 THEN 'Principal'               
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11399 THEN 'Principal'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11925 THEN 'Occasional'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11926 THEN 'Occasional'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11927 THEN 'Youthful'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11928 THEN 'Youthful'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11929 THEN 'Youthful'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11930 THEN 'Youthful'              
    END ASSIGNED_ASS,              
    CASE WHEN @APP_VEHICLE_PRIN_OCC_ID = 11398 THEN 'P'               
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11399 THEN 'P'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11925 THEN 'C'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11926 THEN 'C'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11927 THEN 'Y'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11928 THEN 'Y'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11929 THEN 'Y'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11930 THEN 'Y'              
    END ASSIGNED_OCC,              
    CASE DD.DRIVER_OCC_CLASS WHEN 6014 THEN 'UNEMPLOYED'              
        WHEN 6013 THEN 'RETIRED'              
           ELSE 'EMPLOYED'              
    END GEN_OCCUPATION,      
   CASE WHEN DD.IN_MILITARY = 10963 THEN 'Y' WHEN DD.IN_MILITARY = 10964 THEN 'N' ELSE '' END IN_MILITARY              
   FROM  Pol_DRIVER_DETAILS dd  with(nolock)              
    --INNER JOIN Pol_VEHICLES WI ON WI.CUSTOMER_ID=DD.CUSTOMER_ID AND WI.POLICY_ID=DD.POLICY_ID AND WI.POLICY_VERSION_ID=DD.POLICY_VERSION_ID AND WI.vehicle_ID=DD.VEHICLE_ID              
    LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST MCSL  with(nolock)  ON MCSL.STATE_ID=DRIVER_LIC_STATE              
    LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV_RELATION  with(nolock) on MLV_RELATION.LOOKUP_UNIQUE_ID=DD.RELATIONSHIP AND LOOKUP_ID=605 AND MLV_RELATION.IS_ACTIVE='Y'              
    LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV_OCC  with(nolock) on MLV_OCC.LOOKUP_UNIQUE_ID=DD.DRIVER_OCC_CLASS AND MLV_OCC.LOOKUP_ID=741 AND MLV_OCC.IS_ACTIVE='Y'              
    WHERE DD.CUSTOMER_ID=@CUSTOMERID AND DD.POLICY_ID=@POLID AND DD.POLICY_VERSION_ID=@VERSIONID AND DD.IS_ACTIVE='Y'              
   ORDER BY OPERATORNO,DRIVER_FNAME,DRIVER_MNAME,DRIVER_LNAME              
  END      
  ELSE              
  BEGIN     
   SELECT @APP_VEHICLE_PRIN_OCC_ID=APP_VEHICLE_PRIN_OCC_ID FROM POL_DRIVER_ASSIGNED_VEHICLE  with(nolock)     
  WHERE CUSTOMER_ID=@CUSTOMERID AND POLICY_ID=@POLID AND POLICY_VERSION_ID=@VERSIONID AND VEHICLE_ID = @VEHICLEID  
  
  SELECT               
     ISNULL(NO_CYCLE_ENDMT,'') NO_CYCLE_ENDMT,LTRIM(RTRIM(STR(DRIVER_ID))) OPERATORNO,              
    DRIVER_FNAME + ' ' + DRIVER_MNAME + ' ' + DRIVER_LNAME + 
	CASE WHEN ISNULL(DRIVER_SUFFIX,'') = '' THEN '' ELSE ' '+DRIVER_SUFFIX  END 
	DRIVER_NAME, DRIVER_SEX,Convert(varchar(11),DRIVER_DOB,101) DRIVER_DOB,              
    DRIVER_DRIV_LIC,MCSL.STATE_CODE AS DRIVER_LIC_STATE,STATE_NAME,DRIVER_SSN,DRIVER_MART_STAT,MLV_RELATION.LOOKUP_VALUE_DESC RELATION              
    ,MLV_OCC.LOOKUP_VALUE_DESC OCCUPATION,CONVERT(VARCHAR(12),DATE_LICENSED,101) DATE_LICENSED               
    ,DRIVER_GOOD_STUDENT,              
    CASE WHEN (SELECT COUNT(VERIFIED) FROM POL_MVR_INFORMATION  with(nolock) WHERE               
    CUSTOMER_ID=@CUSTOMERID AND dd.POLICY_ID=@POLID AND dd.POLICY_VERSION_ID=@VERSIONID AND IS_ACTIVE='Y' AND VERIFIED=1)>=1 THEN 1 ELSE 0 END ORDERED              
    ,ltrim(rtrim(WAIVER_WORK_LOSS_BENEFITS)) WAIVER_WORK_LOSS_BENEFITS,isnull(DD.DRIVER_VOLUNTEER_POLICE_FIRE,0) DRIVER_VOLUNTEER_POLICE_FIRE,isnull(DD.DRIVER_US_CITIZEN,0) DRIVER_US_CITIZEN,              
    CASE WHEN @APP_VEHICLE_PRIN_OCC_ID = 11398 THEN 'Principal'               
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11399 THEN 'Principal'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11925 THEN 'Occasional'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11926 THEN 'Occasional'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11927 THEN 'Youthful'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11928 THEN 'Youthful'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11929 THEN 'Youthful'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11930 THEN 'Youthful'              
    END ASSIGNED_ASS,              
    CASE WHEN @APP_VEHICLE_PRIN_OCC_ID = 11398 THEN 'P'               
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11399 THEN 'P'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11925 THEN 'C'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11926 THEN 'C'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11927 THEN 'Y'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11928 THEN 'Y'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11929 THEN 'Y'              
 WHEN @APP_VEHICLE_PRIN_OCC_ID = 11930 THEN 'Y'              
    END ASSIGNED_OCC,              
    CASE DD.DRIVER_OCC_CLASS WHEN 6014 THEN 'UNEMPLOYED'              
        WHEN 6013 THEN 'RETIRED'              
           ELSE 'EMPLOYED'              
    END GEN_OCCUPATION,      
   CASE WHEN DD.IN_MILITARY = 10963 THEN 'Y' WHEN DD.IN_MILITARY = 10964 THEN 'N' ELSE '' END IN_MILITARY,dd.vehicle_id              
   FROM  Pol_DRIVER_DETAILS dd  with(nolock)              
    INNER JOIN Pol_VEHICLES WI  with(nolock)  ON WI.CUSTOMER_ID=DD.CUSTOMER_ID AND WI.POLICY_ID=DD.POLICY_ID AND WI.POLICY_VERSION_ID=DD.POLICY_VERSION_ID --AND WI.vehicle_ID=DD.VEHICLE_ID              
    LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST MCSL  with(nolock)  ON MCSL.STATE_ID=DRIVER_LIC_STATE              
    LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV_RELATION  with(nolock)  on MLV_RELATION.LOOKUP_UNIQUE_ID=DD.RELATIONSHIP AND LOOKUP_ID=605 AND MLV_RELATION.IS_ACTIVE='Y'              
    LEFT OUTER JOIN MNT_LOOKUP_VALUES MLV_OCC  with(nolock)  on MLV_OCC.LOOKUP_UNIQUE_ID=DD.DRIVER_OCC_CLASS AND MLV_OCC.LOOKUP_ID=741 AND MLV_OCC.IS_ACTIVE='Y'              
    WHERE DD.CUSTOMER_ID=@CUSTOMERID AND DD.POLICY_ID=@POLID AND DD.POLICY_VERSION_ID=@VERSIONID AND WI.VEHICLE_ID=@VEHICLEID AND DD.IS_ACTIVE='Y'              
   ORDER BY OPERATORNO,DRIVER_FNAME,DRIVER_MNAME,DRIVER_LNAME              
    
  END              
 END              
END     
  



GO

