IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROC_TRANSFER_CONVERSION_POLICY]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[PROC_TRANSFER_CONVERSION_POLICY]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO




/*****************************************************************************************************************************
*	PROCEDURE NAME	:	PROC_TRANSFER_CONVERSION_POLICY
*	CREATED BY		:	ANURAG VERMA
*	CREATED ON		:	MAY 5, 2009
*	PURPOSE			:	THIS PROCEDURE WILL TRANSFER POLICIES OF ONE CUSTOMER TO ANOTHER CUSTOMER WHICH ARE CONVERTED POLICIES
*						AND PROCESS HAS NOT BEEN LAUNCHED ON THIS POLICY. THIS PROCEDURE IS ALSO REVERT THE CONVERTED POLICY 
*						DETAILS BACK TO ORIGINAL CUSTOMER.	
*	MODIFIED ON		:	AUGUST 4, 2009
*	MODIFIED BY		:	ANURAG VERMA
*	PURPOSE			:	ADDING MOTORCYCLE LINE
******************************************************************************************************************************/



CREATE PROC [PROC_TRANSFER_CONVERSION_POLICY]
@CNVR_CUSTOMER_ID INT,
@CNVR_POLICY_ID INT,
@CNVR_POLICY_VERSION_ID INT,
@EXST_CUSTOMER_ID INT,
@POLICY_LOB INT,
@CNVR_NAME VARCHAR(400),
@EXST_NAME VARCHAR(400),
@POLICY_NUMBER VARCHAR(10),
@REVFLAG CHAR(1),
@RETFLAG INT OUTPUT
AS

/*
POLICY_LOB
HOME -- 1
AUTO -- 2
MOTORCYCLE -- 3
BOAT -- 4
RENTAL -- 6
*/

DECLARE @MAXPOLID INT
DECLARE @MAXAPPID INT

DECLARE @CNVRAPPID INT
DECLARE @CNVRAPPVERID INT
DECLARE @CLIENT_ID   int                    
DECLARE @POLICY_ID   int        

DECLARE @TRANS_TYPE_ID  smallint                    
DECLARE @POLICY_VER_TRACKING_ID smallint                    
DECLARE @RECORDED_BY    smallint                    
DECLARE @RECORDED_BY_NAME  nvarchar(75)                    
DECLARE @RECORD_DATE_TIME  datetime                    
DECLARE @TRANS_DESC   NVARCHAR(2000)                    
DECLARE @ENTITY_ID   int                    
DECLARE @ENTITY_TYPE   nvarchar(5)                    
DECLARE @IS_COMPLETED    nchar(1)                    
DECLARE @CHANGE_XML    NVARCHAR(2000)                    
DECLARE @APP_ID    int                    
DECLARE @APP_VERSION_ID  smallint                    
DECLARE @QUOTE_ID   int                    
DECLARE @QUOTE_VERSION_ID  smallint                  
DECLARE @CUSTOM_INFO   varchar(2000)  
DECLARE @USER_ID INT

SET @USER_ID=3

-- PRIOR LOSS VARIABLES 
DECLARE @PRIOR_LOSS_CUSTOMER_ID INT
DECLARE @OCCURENCE_DATE DATETIME
DECLARE @CLAIM_DATE DATETIME
DECLARE @PRIOIR_LOSS_LOB INT
DECLARE @LOSS_TYPE INT
DECLARE @AMOUNT_PAID  DECIMAL(15,2)
DECLARE @AMOUNT_RESERVED  DECIMAL(15,2)
DECLARE @CLAIM_STATUS NVARCHAR(10)
DECLARE @LOSS_DESC VARCHAR(1000)
DECLARE @MOD NVARCHAR(50)
DECLARE @LOSS_RUN NCHAR(2)
DECLARE @CAT_NO NVARCHAR(20)
DECLARE @CLAIMID NVARCHAR(40)
DECLARE @IS_ACTIVE NCHAR(1)
DECLARE @CREATED_BY INT
DECLARE @CREATED_DATETIME DATETIME
DECLARE @MODIFIED_BY INT
DECLARE @LAST_UPDATED_DATETIME DATETIME
DECLARE @REMARKS VARCHAR(50)
DECLARE @APLUS_REPORT_ORDERED INT
DECLARE @DRIVER_ID SMALLINT
DECLARE @DRIVER_NAME NVARCHAR(200)
DECLARE @RELATIONSHIP INT
DECLARE @CLAIMS_TYPE INT
DECLARE @AT_FAULT INT
DECLARE @CHARGEABLE INT
DECLARE @LOSS_LOCATION VARCHAR(70)
DECLARE @CAUSE_OF_LOSS VARCHAR(50)
DECLARE @POLICY_NUM VARCHAR(50)
DECLARE @LOSS_CARRIER VARCHAR(50) 
DECLARE @LOB INT

SET @RETFLAG=0

IF @REVFLAG='Y'
	BEGIN
		IF NOT EXISTS (SELECT 1 FROM CLT_CUSTOMER_LIST WITH (NOLOCK) WHERE CUSTOMER_ID=@EXST_CUSTOMER_ID AND IS_ACTIVE='Y')
		BEGIN
			SET @RETFLAG=-800
			RETURN 
		END
	END



IF NOT EXISTS (SELECT 1 FROM POL_CUSTOMER_POLICY_LIST WITH (NOLOCK) WHERE POLICY_NUMBER=@POLICY_NUMBER AND CUSTOMER_ID=@CNVR_CUSTOMER_ID)
BEGIN
	SET @RETFLAG=-200
	RETURN 
END



-- CHECKING CONVERSION POLICY PROCESS -- 
IF EXISTS (SELECT 1 FROM POL_POLICY_PROCESS WITH (NOLOCK) WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID AND POLICY_VERSION_ID=@CNVR_POLICY_VERSION_ID)
BEGIN
	SET @RETFLAG=-100
	RETURN 
END
ELSE
BEGIN
BEGIN TRAN
---------------------------------------------------------------- APP LIST ------------------------------------------------------------------------ 
SELECT @MAXAPPID=ISNULL(MAX(ISNULL(APP_ID,0)),0)+1 FROM APP_LIST WITH (NOLOCK) WHERE CUSTOMER_ID=@EXST_CUSTOMER_ID
SELECT @CNVRAPPID=APP_ID,@CNVRAPPVERID=APP_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST WITH (NOLOCK) WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID 
AND POLICY_ID=@CNVR_POLICY_ID AND POLICY_VERSION_ID=@CNVR_POLICY_VERSION_ID

INSERT INTO APP_LIST 
(CUSTOMER_ID,APP_ID,APP_VERSION_ID,APP_VERSION,APP_INCEPTION_DATE,APP_EFFECTIVE_DATE,APP_EXPIRATION_DATE,APP_LOB,APP_AGENCY_ID,IS_ACTIVE,APP_STATUS,
CREATED_BY,CREATED_DATETIME,COUNTRY_ID,STATE_ID)
SELECT @EXST_CUSTOMER_ID,@MAXAPPID,APP_VERSION_ID,APP_VERSION,APP_INCEPTION_DATE,APP_EFFECTIVE_DATE,APP_EXPIRATION_DATE,APP_LOB,APP_AGENCY_ID,IS_ACTIVE,APP_STATUS,
CREATED_BY,CREATED_DATETIME,COUNTRY_ID,STATE_ID FROM APP_LIST WITH (NOLOCK) WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND APP_ID=@CNVRAPPID AND APP_VERSION_ID=@CNVRAPPVERID


IF @@ERROR<>0
BEGIN
		SET @RETFLAG=-1
		GOTO LOGERROR
END

---------------------------------------------------------------- APP LIST ------------------------------------------------------------------------ 

---------------------------------------------------------------- POL_CUSTOMER_POLICY_LIST -------------------------------------------------------- 
SELECT @MAXPOLID=ISNULL(MAX(ISNULL(POLICY_ID,0)),0)+1 FROM POL_CUSTOMER_POLICY_LIST WITH (NOLOCK) WHERE CUSTOMER_ID=@EXST_CUSTOMER_ID 


-- INSERTING INTO POL_CUSTOMER_POLICY_LIST
INSERT INTO POL_CUSTOMER_POLICY_LIST 

(CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,APP_ID,APP_VERSION_ID,POLICY_TYPE,POLICY_NUMBER,POLICY_DISP_VERSION,POLICY_STATUS,POLICY_LOB,

POLICY_SUBLOB,POLICY_DESCRIPTION,ACCOUNT_EXEC,CSR,UNDERWRITER,PROCESS_STATUS,IS_UNDER_CONFIRMATION,LAST_PROCESS,LAST_PROCESS_COMPLETED,

IS_ACTIVE,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,POLICY_ACCOUNT_STATUS,AGENCY_ID,PARENT_APP_VERSION_ID,APP_STATUS,

APP_NUMBER,APP_VERSION,APP_TERMS,APP_INCEPTION_DATE,APP_EFFECTIVE_DATE,APP_EXPIRATION_DATE,IS_UNDER_REVIEW,COUNTRY_ID,STATE_ID,DIV_ID,DEPT_ID,

PC_ID,BILL_TYPE,COMPLETE_APP,PROPRTY_INSP_CREDIT,INSTALL_PLAN_ID,CHARGE_OFF_PRMIUM,RECEIVED_PRMIUM,PROXY_SIGN_OBTAINED,SHOW_QUOTE,

APP_VERIFICATION_XML,YEAR_AT_CURR_RESI,YEARS_AT_PREV_ADD,POLICY_TERMS,POLICY_EFFECTIVE_DATE,POLICY_EXPIRATION_DATE,POLICY_STATUS_CODE,

SEND_RENEWAL_DIARY_REM,TO_BE_AUTO_RENEWED,POLICY_PREMIUM_XML,MVR_WIN_SERVICE,ALL_DATA_VALID,PIC_OF_LOC,BILL_TYPE_ID,IS_HOME_EMP,RULE_INPUT_XML,

POL_VER_EFFECTIVE_DATE,POL_VER_EXPIRATION_DATE,APPLY_INSURANCE_SCORE,DWELLING_ID,ADD_INT_ID,PRODUCER,DOWN_PAY_MODE,CURRENT_TERM,NOT_RENEW,

NOT_RENEW_REASON,REFER_UNDERWRITER,REFERAL_INSTRUCTIONS,REINS_SPECIAL_ACPT,FROM_AS400,CUSTOMER_REASON_CODE,CUSTOMER_REASON_CODE2,CUSTOMER_REASON_CODE3,

CUSTOMER_REASON_CODE4,IS_REWRITE_POLICY,IS_YEAR_WITH_WOL_UPDATED
)

SELECT @EXST_CUSTOMER_ID,@MAXPOLID,POLICY_VERSION_ID,@MAXAPPID,APP_VERSION_ID,POLICY_TYPE,POLICY_NUMBER,POLICY_DISP_VERSION,POLICY_STATUS,POLICY_LOB,

POLICY_SUBLOB,POLICY_DESCRIPTION,ACCOUNT_EXEC,CSR,UNDERWRITER,PROCESS_STATUS,IS_UNDER_CONFIRMATION,LAST_PROCESS,LAST_PROCESS_COMPLETED,

IS_ACTIVE,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,POLICY_ACCOUNT_STATUS,AGENCY_ID,PARENT_APP_VERSION_ID,APP_STATUS,

APP_NUMBER,APP_VERSION,APP_TERMS,APP_INCEPTION_DATE,APP_EFFECTIVE_DATE,APP_EXPIRATION_DATE,IS_UNDER_REVIEW,COUNTRY_ID,STATE_ID,DIV_ID,DEPT_ID,

PC_ID,BILL_TYPE,COMPLETE_APP,PROPRTY_INSP_CREDIT,INSTALL_PLAN_ID,CHARGE_OFF_PRMIUM,RECEIVED_PRMIUM,PROXY_SIGN_OBTAINED,SHOW_QUOTE,

APP_VERIFICATION_XML,YEAR_AT_CURR_RESI,YEARS_AT_PREV_ADD,POLICY_TERMS,POLICY_EFFECTIVE_DATE,POLICY_EXPIRATION_DATE,POLICY_STATUS_CODE,

SEND_RENEWAL_DIARY_REM,TO_BE_AUTO_RENEWED,POLICY_PREMIUM_XML,MVR_WIN_SERVICE,ALL_DATA_VALID,PIC_OF_LOC,BILL_TYPE_ID,IS_HOME_EMP,RULE_INPUT_XML,

POL_VER_EFFECTIVE_DATE,POL_VER_EXPIRATION_DATE,APPLY_INSURANCE_SCORE,DWELLING_ID,ADD_INT_ID,PRODUCER,DOWN_PAY_MODE,CURRENT_TERM,NOT_RENEW,

NOT_RENEW_REASON,REFER_UNDERWRITER,REFERAL_INSTRUCTIONS,REINS_SPECIAL_ACPT,FROM_AS400,CUSTOMER_REASON_CODE,CUSTOMER_REASON_CODE2,CUSTOMER_REASON_CODE3,

CUSTOMER_REASON_CODE4,IS_REWRITE_POLICY,IS_YEAR_WITH_WOL_UPDATED FROM POL_CUSTOMER_POLICY_LIST WITH (NOLOCK) WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID AND 

POLICY_VERSION_ID=@CNVR_POLICY_VERSION_ID


IF @@ERROR<>0
BEGIN
		SET @RETFLAG=-2
		GOTO LOGERROR
END

---------------------------------------------------------------- POL_CUSTOMER_POLICY_LIST -------------------------------------------------------- 


---------------------------------------------------------------- APP_PRIOR_LOSS_INFO  ------------------------------------------------------------ 
IF @POLICY_LOB IN (2,4,3) -- FOR AUTO AND BOAT
BEGIN
DECLARE  CUR_PRIOR_LOSS CURSOR  FOR
SELECT     
OCCURENCE_DATE,CLAIM_DATE,LOB,LOSS_TYPE,AMOUNT_PAID,AMOUNT_RESERVED,CLAIM_STATUS,    
LOSS_DESC,MOD,LOSS_RUN,CAT_NO,CLAIMID,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,    
REMARKS,APLUS_REPORT_ORDERED,DRIVER_ID,DRIVER_NAME,RELATIONSHIP,CLAIMS_TYPE,AT_FAULT,CHARGEABLE,    
LOSS_LOCATION,CAUSE_OF_LOSS,POLICY_NUM,LOSS_CARRIER    
FROM  APP_PRIOR_LOSS_INFO WITH (NOLOCK)  WHERE CUSTOMER_ID= @CNVR_CUSTOMER_ID  AND (POLICY_NUM IS NOT NULL OR POLICY_NUM<>'') AND 
ISNULL(POLICY_NUM,'')=@POLICY_NUMBER    
OPEN CUR_PRIOR_LOSS     
    
FETCH NEXT FROM CUR_PRIOR_LOSS INTO 
@OCCURENCE_DATE,@CLAIM_DATE,@PRIOIR_LOSS_LOB,@LOSS_TYPE,@AMOUNT_PAID,@AMOUNT_RESERVED,@CLAIM_STATUS,    
@LOSS_DESC,@MOD,@LOSS_RUN,@CAT_NO,@CLAIMID,@IS_ACTIVE,@CREATED_BY,@CREATED_DATETIME,@MODIFIED_BY,@LAST_UPDATED_DATETIME,    
@REMARKS,@APLUS_REPORT_ORDERED,@DRIVER_ID,@DRIVER_NAME,@RELATIONSHIP,@CLAIMS_TYPE,@AT_FAULT,@CHARGEABLE,    
@LOSS_LOCATION,@CAUSE_OF_LOSS,@POLICY_NUM,@LOSS_CARRIER    
END

ELSE -- FOR RENTAL
BEGIN
DECLARE  CUR_PRIOR_LOSS CURSOR  FOR
SELECT     
OCCURENCE_DATE,CLAIM_DATE,LOB,LOSS_TYPE,AMOUNT_PAID,AMOUNT_RESERVED,CLAIM_STATUS,    
LOSS_DESC,MOD,LOSS_RUN,CAT_NO,CLAIMID,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,    
REMARKS,APLUS_REPORT_ORDERED,DRIVER_ID,DRIVER_NAME,RELATIONSHIP,CLAIMS_TYPE,AT_FAULT,CHARGEABLE,    
LOSS_LOCATION,CAUSE_OF_LOSS,POLICY_NUM,LOSS_CARRIER    
FROM  APP_PRIOR_LOSS_INFO WITH (NOLOCK)  WHERE CUSTOMER_ID= @CNVR_CUSTOMER_ID  AND (REMARKS IS NOT NULL OR REMARKS<>'')
AND ISNULL(REMARKS,'')=@POLICY_NUMBER    
OPEN CUR_PRIOR_LOSS     
    
FETCH NEXT FROM CUR_PRIOR_LOSS INTO 
@OCCURENCE_DATE,@CLAIM_DATE,@PRIOIR_LOSS_LOB,@LOSS_TYPE,@AMOUNT_PAID,@AMOUNT_RESERVED,@CLAIM_STATUS,    
@LOSS_DESC,@MOD,@LOSS_RUN,@CAT_NO,@CLAIMID,@IS_ACTIVE,@CREATED_BY,@CREATED_DATETIME,@MODIFIED_BY,@LAST_UPDATED_DATETIME,    
@REMARKS,@APLUS_REPORT_ORDERED,@DRIVER_ID,@DRIVER_NAME,@RELATIONSHIP,@CLAIMS_TYPE,@AT_FAULT,@CHARGEABLE,    
@LOSS_LOCATION,@CAUSE_OF_LOSS,@POLICY_NUM,@LOSS_CARRIER    
END


WHILE @@FETCH_STATUS = 0                       
BEGIN   

DECLARE @LOSS_ID INT

SELECT @LOSS_ID=ISNULL(MAX(ISNULL(LOSS_ID,0)),0)+1 FROM APP_PRIOR_LOSS_INFO WITH (NOLOCK) WHERE CUSTOMER_ID=@EXST_CUSTOMER_ID

INSERT INTO APP_PRIOR_LOSS_INFO     
   (CUSTOMER_ID,LOSS_ID,OCCURENCE_DATE,CLAIM_DATE,LOB,LOSS_TYPE,AMOUNT_PAID,AMOUNT_RESERVED,CLAIM_STATUS,    
  LOSS_DESC,[MOD],LOSS_RUN,CAT_NO,CLAIMID,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,    
  REMARKS,APLUS_REPORT_ORDERED,DRIVER_ID,DRIVER_NAME,RELATIONSHIP,CLAIMS_TYPE,AT_FAULT,CHARGEABLE,    
  LOSS_LOCATION,CAUSE_OF_LOSS,POLICY_NUM,LOSS_CARRIER)    
    
 VALUES(@EXST_CUSTOMER_ID,@LOSS_ID,@OCCURENCE_DATE,@CLAIM_DATE,@PRIOIR_LOSS_LOB,@LOSS_TYPE,@AMOUNT_PAID,@AMOUNT_RESERVED,@CLAIM_STATUS,    
 @LOSS_DESC,@MOD,@LOSS_RUN,@CAT_NO,@CLAIMID,@IS_ACTIVE,@USER_ID,GETDATE(),NULL,NULL,    
 @REMARKS,@APLUS_REPORT_ORDERED,@DRIVER_ID,@DRIVER_NAME,@RELATIONSHIP,@CLAIMS_TYPE,@AT_FAULT,@CHARGEABLE,    
 @LOSS_LOCATION,@CAUSE_OF_LOSS,@POLICY_NUM,@LOSS_CARRIER )    

 FETCH NEXT FROM CUR_PRIOR_LOSS INTO    
 @OCCURENCE_DATE,@CLAIM_DATE,@LOB,@LOSS_TYPE,@AMOUNT_PAID,@AMOUNT_RESERVED,@CLAIM_STATUS,    
 @LOSS_DESC,@MOD,@LOSS_RUN,@CAT_NO,@CLAIMID,@IS_ACTIVE,@CREATED_BY,@CREATED_DATETIME,@MODIFIED_BY,@LAST_UPDATED_DATETIME,    
 @REMARKS,@APLUS_REPORT_ORDERED,@DRIVER_ID,@DRIVER_NAME,@RELATIONSHIP,@CLAIMS_TYPE,@AT_FAULT,@CHARGEABLE,    
 @LOSS_LOCATION,@CAUSE_OF_LOSS,@POLICY_NUM,@LOSS_CARRIER    
    
END        


CLOSE CUR_PRIOR_LOSS                      
DEALLOCATE CUR_PRIOR_LOSS     
    

IF @@ERROR<>0
BEGIN
		SET @RETFLAG=-3
		GOTO LOGERROR
END
--SELECT 2
---------------------------------------------------------------- APP_PRIOR_LOSS_INFO ------------------------------------------------------------- 


---------------------------------------------------------------- CLT_APPLICANT_LIST  ------------------------------------------------------------ 
DECLARE @MAXAPPLICANTID INT
DECLARE @SUFFIX VARCHAR(5)
DECLARE @FIRST_NAME NVARCHAR(200)
DECLARE @MIDDLE_NAME VARCHAR(10)
DECLARE @LAST_NAME VARCHAR(25)
DECLARE @ADDRESS1 VARCHAR(150)
DECLARE @CITY VARCHAR(70)
DECLARE @COUNTRY VARCHAR(10)
DECLARE @STATE VARCHAR(10)
DECLARE @ZIP_CODE VARCHAR(20)

DECLARE @CO_APPLI_OCCU INT
DECLARE @CO_APPL_MARITAL_STATUS NCHAR(2)
DECLARE @CO_APPL_DOB DATETIME
DECLARE @CO_APPL_SSN_NO NVARCHAR(88)
DECLARE @IS_PRIMARY_APPLICANT INT
DECLARE @DESC_CO_APPLI_OCCU VARCHAR(200)
DECLARE @CO_APPL_GENDER VARCHAR(20)
DECLARE @OLDAPPID INT




DECLARE @TITLE varchar(10)
DECLARE @ADDRESS2 varchar(150)
DECLARE @PHONE VARCHAR(20)
DECLARE @EMAIL VARCHAR(50)

DECLARE @LAST_UPDATED_TIME DATETIME
DECLARE @CO_APPLI_EMPL_NAME NVARCHAR(150)
DECLARE @CO_APPLI_EMPL_ADDRESS NVARCHAR(150)
DECLARE @CO_APPLI_YEARS_WITH_CURR_EMPL DECIMAL(12,4)
DECLARE @CO_APPL_YEAR_CURR_OCCU DECIMAL(12,4)
DECLARE @BUSINESS_PHONE NVARCHAR(40)
DECLARE @MOBILE NVARCHAR(40)
DECLARE @EXT NVARCHAR(10)
DECLARE @CO_APPLI_EMPL_ADDRESS1 NVARCHAR(75)
DECLARE @CO_APPLI_EMPL_CITY NVARCHAR(70)
DECLARE @CO_APPLI_EMPL_COUNTRY VARCHAR(10)
DECLARE @CO_APPLI_EMPL_STATE VARCHAR(10)
DECLARE @CO_APPLI_EMPL_ZIP_CODE VARCHAR(12)
DECLARE @CO_APPLI_EMPL_PHONE VARCHAR(20)
DECLARE @CO_APPLI_EMPL_EMAIL VARCHAR(50)
DECLARE @PER_CUST_MOBILE NVARCHAR(30)
DECLARE @EMP_EXT NVARCHAR(12)
DECLARE @CO_APPL_RELATIONSHIP VARCHAR(25)

DECLARE @NAPPID INT



--PICKING APPLICANTS WHICH ARE ATTACHED TO POLICY
DECLARE  CUR_APPLICANT CURSOR  FOR                    
SELECT ISNULL(SUFFIX,''),ISNULL(FIRST_NAME,''),ISNULL(MIDDLE_NAME,''),ISNULL(LAST_NAME,''),ISNULL(ADDRESS1,''),ISNULL(CITY,''),COUNTRY,STATE,ISNULL(ZIP_CODE,''),
IS_ACTIVE,CREATED_BY,CREATED_DATETIME,CO_APPLI_OCCU,CO_APPL_MARITAL_STATUS,CO_APPL_DOB,CO_APPL_SSN_NO,IS_PRIMARY_APPLICANT,
DESC_CO_APPLI_OCCU,CO_APPL_GENDER,APPLICANT_ID ,TITLE, ADDRESS2, PHONE, EMAIL, MODIFIED_BY, LAST_UPDATED_TIME, CO_APPLI_EMPL_NAME,
CO_APPLI_EMPL_ADDRESS, CO_APPLI_YEARS_WITH_CURR_EMPL, CO_APPL_YEAR_CURR_OCCU, BUSINESS_PHONE, MOBILE, EXT, CO_APPLI_EMPL_ADDRESS1,
CO_APPLI_EMPL_CITY, CO_APPLI_EMPL_COUNTRY, CO_APPLI_EMPL_STATE, CO_APPLI_EMPL_ZIP_CODE, CO_APPLI_EMPL_PHONE, CO_APPLI_EMPL_EMAIL,
PER_CUST_MOBILE, EMP_EXT, CO_APPL_RELATIONSHIP 
FROM  CLT_APPLICANT_LIST WITH (NOLOCK) WHERE APPLICANT_ID IN
(SELECT APPLICANT_ID FROM POL_APPLICANT_LIST WITH (NOLOCK) WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID 
AND POLICY_VERSION_ID=@CNVR_POLICY_VERSION_ID)

OPEN CUR_APPLICANT     
    
FETCH NEXT FROM CUR_APPLICANT INTO    
@SUFFIX,@FIRST_NAME,@MIDDLE_NAME,@LAST_NAME,@ADDRESS1,@CITY,@COUNTRY,@STATE,@ZIP_CODE,
@IS_ACTIVE,@CREATED_BY,@CREATED_DATETIME,@CO_APPLI_OCCU,@CO_APPL_MARITAL_STATUS,@CO_APPL_DOB,@CO_APPL_SSN_NO,@IS_PRIMARY_APPLICANT,
@DESC_CO_APPLI_OCCU,@CO_APPL_GENDER  ,@OLDAPPID,@TITLE, @ADDRESS2, @PHONE, @EMAIL, @MODIFIED_BY, @LAST_UPDATED_TIME, @CO_APPLI_EMPL_NAME,
@CO_APPLI_EMPL_ADDRESS, @CO_APPLI_YEARS_WITH_CURR_EMPL, @CO_APPL_YEAR_CURR_OCCU, @BUSINESS_PHONE, @MOBILE, @EXT, @CO_APPLI_EMPL_ADDRESS1,
@CO_APPLI_EMPL_CITY, @CO_APPLI_EMPL_COUNTRY, @CO_APPLI_EMPL_STATE, @CO_APPLI_EMPL_ZIP_CODE, @CO_APPLI_EMPL_PHONE, @CO_APPLI_EMPL_EMAIL,
@PER_CUST_MOBILE, @EMP_EXT, @CO_APPL_RELATIONSHIP 

    
WHILE @@FETCH_STATUS = 0 
BEGIN   
	IF NOT EXISTS (SELECT 1 FROM CLT_APPLICANT_LIST WITH (NOLOCK) WHERE UPPER(FIRST_NAME)=UPPER(@FIRST_NAME) AND UPPER(ISNULL(MIDDLE_NAME,''))=UPPER(ISNULL(@MIDDLE_NAME,'')) AND
	UPPER(LAST_NAME)=UPPER(@LAST_NAME) AND UPPER(ADDRESS1)=UPPER(@ADDRESS1) AND UPPER(CITY)=UPPER(@CITY) AND UPPER(STATE)=UPPER(@STATE) AND
	UPPER(ZIP_CODE)=UPPER(@ZIP_CODE) AND CUSTOMER_ID=@EXST_CUSTOMER_ID)
	BEGIN
		--IF APPLICANT DOES NOT EXISTS IN EXISTING CUSTOMER THEN INSERT INTO CLIENT AND POLICY APPLICANT LIST TABLE
		SELECT @MAXAPPLICANTID=ISNULL(MAX(ISNULL(APPLICANT_ID,0)),0)+1 FROM CLT_APPLICANT_LIST  WITH (NOLOCK)


		INSERT INTO CLT_APPLICANT_LIST 
			( CUSTOMER_ID,APPLICANT_ID,SUFFIX,FIRST_NAME,MIDDLE_NAME,LAST_NAME,ADDRESS1,CITY,COUNTRY,STATE,ZIP_CODE,
			IS_ACTIVE,CREATED_BY,CREATED_DATETIME,CO_APPLI_OCCU,CO_APPL_MARITAL_STATUS,CO_APPL_DOB,CO_APPL_SSN_NO,IS_PRIMARY_APPLICANT,
			DESC_CO_APPLI_OCCU,CO_APPL_GENDER,TITLE, ADDRESS2, PHONE, EMAIL, MODIFIED_BY, LAST_UPDATED_TIME, CO_APPLI_EMPL_NAME,
			CO_APPLI_EMPL_ADDRESS, CO_APPLI_YEARS_WITH_CURR_EMPL, CO_APPL_YEAR_CURR_OCCU, BUSINESS_PHONE, MOBILE, EXT, CO_APPLI_EMPL_ADDRESS1,
			CO_APPLI_EMPL_CITY, CO_APPLI_EMPL_COUNTRY, CO_APPLI_EMPL_STATE, CO_APPLI_EMPL_ZIP_CODE, CO_APPLI_EMPL_PHONE, CO_APPLI_EMPL_EMAIL,
			PER_CUST_MOBILE, EMP_EXT, CO_APPL_RELATIONSHIP )     
		 VALUES(@EXST_CUSTOMER_ID,@MAXAPPLICANTID,@SUFFIX,@FIRST_NAME,@MIDDLE_NAME,@LAST_NAME,@ADDRESS1,@CITY,@COUNTRY,@STATE,@ZIP_CODE,
		@IS_ACTIVE,@CREATED_BY,@CREATED_DATETIME,@CO_APPLI_OCCU,@CO_APPL_MARITAL_STATUS,@CO_APPL_DOB,@CO_APPL_SSN_NO,@IS_PRIMARY_APPLICANT,
		@DESC_CO_APPLI_OCCU,@CO_APPL_GENDER,@TITLE, @ADDRESS2, @PHONE, @EMAIL, @MODIFIED_BY, @LAST_UPDATED_TIME, @CO_APPLI_EMPL_NAME,
		@CO_APPLI_EMPL_ADDRESS, @CO_APPLI_YEARS_WITH_CURR_EMPL, @CO_APPL_YEAR_CURR_OCCU, @BUSINESS_PHONE, @MOBILE, @EXT, @CO_APPLI_EMPL_ADDRESS1,
		@CO_APPLI_EMPL_CITY, @CO_APPLI_EMPL_COUNTRY, @CO_APPLI_EMPL_STATE, @CO_APPLI_EMPL_ZIP_CODE, @CO_APPLI_EMPL_PHONE, @CO_APPLI_EMPL_EMAIL,
		@PER_CUST_MOBILE, @EMP_EXT, @CO_APPL_RELATIONSHIP    )    

		IF @@ERROR<>0
			BEGIN
				SET @RETFLAG=-39
				GOTO LOGERROR
			END


		INSERT INTO POL_APPLICANT_LIST 
		(POLICY_ID,POLICY_VERSION_ID,CUSTOMER_ID,APPLICANT_ID,CREATED_BY,CREATED_DATETIME,IS_PRIMARY_APPLICANT)     
		VALUES(@MAXPOLID,@CNVR_POLICY_VERSION_ID,@EXST_CUSTOMER_ID,@MAXAPPLICANTID,@CREATED_BY,@CREATED_DATETIME,@IS_PRIMARY_APPLICANT)

		IF @@ERROR<>0
			BEGIN
				SET @RETFLAG=-40
				GOTO LOGERROR
			END

END
ELSE
BEGIN
	--IF APPLICANT DOES EXISTS IN EXISTING CUSTOMER THEN FETCH APPLICANT ID FROM EXISTING APPLICANT LIST BASED ON NAME AND ADDRESS DETAILS OF
	--CONVERTED APPLICANT LIST
	DECLARE @EXSTAPPID INT
	
	SELECT @EXSTAPPID=APPLICANT_ID FROM CLT_APPLICANT_LIST WITH (NOLOCK) WHERE UPPER(FIRST_NAME)=UPPER(@FIRST_NAME) AND UPPER(ISNULL(MIDDLE_NAME,''))=UPPER(ISNULL(@MIDDLE_NAME,'')) AND
	UPPER(LAST_NAME)=UPPER(@LAST_NAME) AND UPPER(ADDRESS1)=UPPER(@ADDRESS1) AND UPPER(CITY)=UPPER(@CITY) AND UPPER(STATE)=UPPER(@STATE) AND
	UPPER(ZIP_CODE)=UPPER(@ZIP_CODE) AND CUSTOMER_ID=@EXST_CUSTOMER_ID

	IF @@ERROR<>0
			BEGIN
				SET @RETFLAG=-41
				GOTO LOGERROR
			END

	
	--INSERT THE FETCHED APPLICANT ID INTO POLICY APPLICANT LIST FOR EXISTING CUSTOMER 
	INSERT INTO POL_APPLICANT_LIST 
	(POLICY_ID,POLICY_VERSION_ID,CUSTOMER_ID,APPLICANT_ID,CREATED_BY,CREATED_DATETIME,IS_PRIMARY_APPLICANT)     
	VALUES(@MAXPOLID,@CNVR_POLICY_VERSION_ID,@EXST_CUSTOMER_ID,@EXSTAPPID,@CREATED_BY,@CREATED_DATETIME,@IS_PRIMARY_APPLICANT)

	IF @@ERROR<>0
			BEGIN
				SET @RETFLAG=-42
				GOTO LOGERROR
			END

	IF @REVFLAG='N'
	BEGIN
		--AND IF THE FETCHED APPLICANT IS NOT A PRIMARY APPLICANT , CHANGE THE PRIMARY APPLICANT FLAG IN CASE OF TRANSFER
		IF NOT EXISTS (SELECT 1 FROM CLT_APPLICANT_LIST WITH (NOLOCK) WHERE APPLICANT_ID=@EXSTAPPID AND CUSTOMER_ID=@EXST_CUSTOMER_ID AND IS_PRIMARY_APPLICANT<>1)
		UPDATE CLT_APPLICANT_LIST SET IS_PRIMARY_APPLICANT=1 WHERE APPLICANT_ID=@EXSTAPPID AND CUSTOMER_ID=@EXST_CUSTOMER_ID

		IF @@ERROR<>0
			BEGIN
				SET @RETFLAG=-43
				GOTO LOGERROR
			END
	END
	ELSE
	BEGIN
		-- IN REVERT PROCESS
		--ACTIVATE THE CONVERTED APPLICANT AS THEY BECOME INACTIVE DURING TRANSFER PROCESS
		UPDATE CLT_APPLICANT_LIST SET IS_ACTIVE='Y' WHERE APPLICANT_ID=@EXSTAPPID AND CUSTOMER_ID=@EXST_CUSTOMER_ID

		IF @@ERROR<>0
			BEGIN
				SET @RETFLAG=-44
				GOTO LOGERROR
			END
	END
END



FETCH NEXT FROM CUR_APPLICANT INTO    
@SUFFIX,@FIRST_NAME,@MIDDLE_NAME,@LAST_NAME,@ADDRESS1,@CITY,@COUNTRY,@STATE,@ZIP_CODE,
@IS_ACTIVE,@CREATED_BY,@CREATED_DATETIME,@CO_APPLI_OCCU,@CO_APPL_MARITAL_STATUS,@CO_APPL_DOB,@CO_APPL_SSN_NO,@IS_PRIMARY_APPLICANT,
@DESC_CO_APPLI_OCCU,@CO_APPL_GENDER  ,@OLDAPPID,@TITLE, @ADDRESS2, @PHONE, @EMAIL, @MODIFIED_BY, @LAST_UPDATED_TIME, @CO_APPLI_EMPL_NAME,
@CO_APPLI_EMPL_ADDRESS, @CO_APPLI_YEARS_WITH_CURR_EMPL, @CO_APPL_YEAR_CURR_OCCU, @BUSINESS_PHONE, @MOBILE, @EXT, @CO_APPLI_EMPL_ADDRESS1,
@CO_APPLI_EMPL_CITY, @CO_APPLI_EMPL_COUNTRY, @CO_APPLI_EMPL_STATE, @CO_APPLI_EMPL_ZIP_CODE, @CO_APPLI_EMPL_PHONE, @CO_APPLI_EMPL_EMAIL,
@PER_CUST_MOBILE, @EMP_EXT, @CO_APPL_RELATIONSHIP 
    
END        


CLOSE CUR_APPLICANT                      
DEALLOCATE CUR_APPLICANT     



IF @@ERROR<>0
BEGIN
		SET @RETFLAG=-35
		GOTO LOGERROR
END

--SELECT 3
---------------------------------------------------------------- CLT_APPLICANT_LIST  ------------------------------------------------------------ 



-- BOAT --
IF @POLICY_LOB=4
BEGIN
	/*
		TABLES IN BOAT LOB
		POL_WATERCRAFT_INFO, POL_WATERCRAFT_ENGINE_INFO	, POL_WATERCRAFT_COVERAGE_INFO, POL_WATERCRAFT_ENDORSEMENTS
		POL_WATERCRAFT_TRAILER_INFO, POL_WATERCRAFT_EQUIP_DETAILLS, POL_WATERCRAFT_DRIVER_DETAILS, POL_OPERATOR_ASSIGNED_BOAT
		POL_WATERCRAFT_GEN_INFO
	*/	

	---------------------------------------------------------------- POL_WATERCRAFT_INFO ------------------------------------------------------------ 
	INSERT INTO POL_WATERCRAFT_INFO 

	( CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,BOAT_ID,BOAT_NO,BOAT_NAME,YEAR,MAKE,MODEL,HULL_ID_NO,STATE_REG,HULL_MATERIAL,FUEL_TYPE,DATE_PURCHASED,

	LENGTH,MAX_SPEED,BERTH_LOC,WATERS_NAVIGATED,TERRITORY,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,TYPE_OF_WATERCRAFT,

	INSURING_VALUE,WATERCRAFT_HORSE_POWER,TWIN_SINGLE,DESC_OTHER_WATERCRAFT,INCHES,LORAN_NAV_SYSTEM,DIESEL_ENGINE,SHORE_STATION,HALON_FIRE_EXT_SYSTEM,

	DUAL_OWNERSHIP,REMOVE_SAILBOAT,COV_TYPE_BASIS,PHOTO_ATTACHED,MARINE_SURVEY,DATE_MARINE_SURVEY,LOCATION_ADDRESS,LOCATION_CITY,LOCATION_STATE,

	LOCATION_ZIP,LAY_UP_PERIOD_FROM_DAY,LAY_UP_PERIOD_FROM_MONTH,LAY_UP_PERIOD_TO_DAY,LAY_UP_PERIOD_TO_MONTH) 

	SELECT  @EXST_CUSTOMER_ID,@MAXPOLID,POLICY_VERSION_ID,BOAT_ID,BOAT_NO,BOAT_NAME,YEAR,MAKE,MODEL,HULL_ID_NO,STATE_REG,HULL_MATERIAL,FUEL_TYPE,DATE_PURCHASED,

	LENGTH,MAX_SPEED,BERTH_LOC,WATERS_NAVIGATED,TERRITORY,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,TYPE_OF_WATERCRAFT,

	INSURING_VALUE,WATERCRAFT_HORSE_POWER,TWIN_SINGLE,DESC_OTHER_WATERCRAFT,INCHES,LORAN_NAV_SYSTEM,DIESEL_ENGINE,SHORE_STATION,HALON_FIRE_EXT_SYSTEM,

	DUAL_OWNERSHIP,REMOVE_SAILBOAT,COV_TYPE_BASIS,PHOTO_ATTACHED,MARINE_SURVEY,DATE_MARINE_SURVEY,LOCATION_ADDRESS,LOCATION_CITY,LOCATION_STATE,

	LOCATION_ZIP,LAY_UP_PERIOD_FROM_DAY,LAY_UP_PERIOD_FROM_MONTH,LAY_UP_PERIOD_TO_DAY,LAY_UP_PERIOD_TO_MONTH FROM POL_WATERCRAFT_INFO WITH (NOLOCK)

	WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID AND POLICY_VERSION_ID=@CNVR_POLICY_VERSION_ID



	IF @@ERROR<>0
	BEGIN
			SET @RETFLAG=-4
			GOTO LOGERROR
	END
	---------------------------------------------------------------- POL_WATERCRAFT_INFO ------------------------------------------------------------


	---------------------------------------------------------------- POL_WATERCRAFT_ENGINE_INFO -----------------------------------------------------
	INSERT INTO POL_WATERCRAFT_ENGINE_INFO 

	( CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,ENGINE_ID,ENGINE_NO,YEAR,MAKE,MODEL,SERIAL_NO,HORSEPOWER,ASSOCIATED_BOAT,OTHER,IS_ACTIVE,CREATED_BY,

	CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,INSURING_VALUE,FUEL_TYPE) 

	SELECT  @EXST_CUSTOMER_ID,@MAXPOLID,POLICY_VERSION_ID,ENGINE_ID,ENGINE_NO,YEAR,MAKE,MODEL,SERIAL_NO,HORSEPOWER,ASSOCIATED_BOAT,OTHER,IS_ACTIVE,CREATED_BY,

	CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,INSURING_VALUE,FUEL_TYPE

	FROM POL_WATERCRAFT_ENGINE_INFO WITH (NOLOCK) WHERE  CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID AND POLICY_VERSION_ID=@CNVR_POLICY_VERSION_ID

	IF @@ERROR<>0
	BEGIN
			SET @RETFLAG=-5
			GOTO LOGERROR
	END

	---------------------------------------------------------------- POL_WATERCRAFT_ENGINE_INFO -----------------------------------------------------


	---------------------------------------------------------------- POL_WATERCRAFT_COVERAGE_INFO ---------------------------------------------------

	INSERT INTO POL_WATERCRAFT_COVERAGE_INFO 

	( CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,BOAT_ID,COVERAGE_ID,WRITTEN_PREMIUM,FULL_TERM_PREMIUM,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,

	LAST_UPDATED_DATETIME,COVERAGE_CODE_ID,LIMIT_1,DEDUCTIBLE_1,LIMIT_OVERRIDE,LIMIT_1_TYPE,LIMIT_2,LIMIT_2_TYPE,DEDUCTIBLE_2,DEDUCTIBLE_2_TYPE,

	DEDUCTIBLE_1_TYPE,IS_SYSTEM_COVERAGE,DEDUCT_OVERRIDE,LIMIT1_AMOUNT_TEXT,LIMIT2_AMOUNT_TEXT,DEDUCTIBLE1_AMOUNT_TEXT,DEDUCTIBLE2_AMOUNT_TEXT,

	SIGNATURE_OBTAINED,LIMIT_ID,DEDUC_ID) 

	SELECT @EXST_CUSTOMER_ID,@MAXPOLID,POLICY_VERSION_ID,BOAT_ID,COVERAGE_ID,WRITTEN_PREMIUM,FULL_TERM_PREMIUM,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,

	LAST_UPDATED_DATETIME,COVERAGE_CODE_ID,LIMIT_1,DEDUCTIBLE_1,LIMIT_OVERRIDE,LIMIT_1_TYPE,LIMIT_2,LIMIT_2_TYPE,DEDUCTIBLE_2,DEDUCTIBLE_2_TYPE,

	DEDUCTIBLE_1_TYPE,IS_SYSTEM_COVERAGE,DEDUCT_OVERRIDE,LIMIT1_AMOUNT_TEXT,LIMIT2_AMOUNT_TEXT,DEDUCTIBLE1_AMOUNT_TEXT,DEDUCTIBLE2_AMOUNT_TEXT,

	SIGNATURE_OBTAINED,LIMIT_ID,DEDUC_ID

	FROM POL_WATERCRAFT_COVERAGE_INFO WITH (NOLOCK) WHERE  CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID AND POLICY_VERSION_ID=@CNVR_POLICY_VERSION_ID

	IF @@ERROR<>0
	BEGIN
			SET @RETFLAG=-6
			GOTO LOGERROR
	END

	---------------------------------------------------------------- POL_WATERCRAFT_COVERAGE_INFO ---------------------------------------------------


	---------------------------------------------------------------- POL_WATERCRAFT_ENDORSEMENTS ----------------------------------------------------
	INSERT INTO POL_WATERCRAFT_ENDORSEMENTS 

	( CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,BOAT_ID,VEHICLE_ENDORSEMENT_ID,ENDORSEMENT_ID,REMARKS,EDITION_DATE)

	SELECT @EXST_CUSTOMER_ID,@MAXPOLID,POLICY_VERSION_ID,BOAT_ID,VEHICLE_ENDORSEMENT_ID,ENDORSEMENT_ID,REMARKS,EDITION_DATE FROM 
	
	POL_WATERCRAFT_ENDORSEMENTS WITH (NOLOCK)

	WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID AND POLICY_VERSION_ID=@CNVR_POLICY_VERSION_ID

	IF @@ERROR<>0
	BEGIN
			SET @RETFLAG=-7
			GOTO LOGERROR
	END
	---------------------------------------------------------------- POL_WATERCRAFT_ENDORSEMENTS ----------------------------------------------------


	---------------------------------------------------------------- POL_WATERCRAFT_TRAILER_INFO ----------------------------------------------------

	INSERT INTO POL_WATERCRAFT_TRAILER_INFO 

	( CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,TRAILER_ID,TRAILER_NO,YEAR,MANUFACTURER,SERIAL_NO,ASSOCIATED_BOAT,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,

	MODIFIED_BY,LAST_UPDATED_DATETIME,INSURED_VALUE,TRAILER_TYPE,MODEL,TRAILER_DED,TRAILER_DED_ID,TRAILER_DED_AMOUNT_TEXT) 

	SELECT @EXST_CUSTOMER_ID,@MAXPOLID,POLICY_VERSION_ID,TRAILER_ID,TRAILER_NO,YEAR,MANUFACTURER,SERIAL_NO,ASSOCIATED_BOAT,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,

	MODIFIED_BY,LAST_UPDATED_DATETIME,INSURED_VALUE,TRAILER_TYPE,MODEL,TRAILER_DED,TRAILER_DED_ID,TRAILER_DED_AMOUNT_TEXT FROM 

	POL_WATERCRAFT_TRAILER_INFO WITH (NOLOCK)

	WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID AND POLICY_VERSION_ID=@CNVR_POLICY_VERSION_ID

	IF @@ERROR<>0
	BEGIN
			SET @RETFLAG=-8
			GOTO LOGERROR
	END

	---------------------------------------------------------------- POL_WATERCRAFT_TRAILER_INFO ----------------------------------------------------


	---------------------------------------------------------------- POL_WATERCRAFT_EQUIP_DETAILLS --------------------------------------------------
	INSERT INTO POL_WATERCRAFT_EQUIP_DETAILLS 

	( CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,EQUIP_ID,EQUIP_NO,EQUIP_TYPE,SHIP_TO_SHORE,YEAR,MAKE,MODEL,SERIAL_NO,ASSOCIATED_BOAT,IS_ACTIVE,

	CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,INSURED_VALUE,EQUIP_AMOUNT,OTHER_DESCRIPTION,EQUIPMENT_TYPE)

	SELECT @EXST_CUSTOMER_ID,@MAXPOLID,POLICY_VERSION_ID,EQUIP_ID,EQUIP_NO,EQUIP_TYPE,SHIP_TO_SHORE,YEAR,MAKE,MODEL,SERIAL_NO,ASSOCIATED_BOAT,IS_ACTIVE,

	CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,INSURED_VALUE,EQUIP_AMOUNT,OTHER_DESCRIPTION,EQUIPMENT_TYPE FROM

	POL_WATERCRAFT_EQUIP_DETAILLS WITH (NOLOCK) WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID AND POLICY_VERSION_ID=@CNVR_POLICY_VERSION_ID

	IF @@ERROR<>0
	BEGIN
			SET @RETFLAG=-9
			GOTO LOGERROR
	END


	---------------------------------------------------------------- POL_WATERCRAFT_EQUIP_DETAILLS --------------------------------------------------



	---------------------------------------------------------------- POL_WATERCRAFT_DRIVER_DETAILS --------------------------------------------------
	INSERT INTO POL_WATERCRAFT_DRIVER_DETAILS 

	( CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,DRIVER_ID,DRIVER_FNAME,DRIVER_MNAME,DRIVER_LNAME,DRIVER_CODE,DRIVER_SUFFIX,DRIVER_ADD1,DRIVER_ADD2,

	DRIVER_CITY,DRIVER_STATE,DRIVER_ZIP,DRIVER_COUNTRY,DRIVER_DOB,DRIVER_SSN,DRIVER_SEX,DRIVER_DRIV_LIC,DRIVER_LIC_STATE,DRIVER_COST_GAURAD_AUX,

	IS_ACTIVE,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,EXPERIENCE_CREDIT,VEHICLE_ID,PERCENT_DRIVEN,APP_VEHICLE_PRIN_OCC_ID,

	YEARS_LICENSED,WAT_SAFETY_COURSE,CERT_COAST_GUARD,REC_VEH_ID,APP_REC_VEHICLE_PRIN_OCC_ID,DATE_ORDERED,MVR_ORDERED,VIOLATIONS,MARITAL_STATUS)

	SELECT @EXST_CUSTOMER_ID,@MAXPOLID,POLICY_VERSION_ID,DRIVER_ID,DRIVER_FNAME,DRIVER_MNAME,DRIVER_LNAME,DRIVER_CODE,DRIVER_SUFFIX,DRIVER_ADD1,DRIVER_ADD2,

	DRIVER_CITY,DRIVER_STATE,DRIVER_ZIP,DRIVER_COUNTRY,DRIVER_DOB,DRIVER_SSN,DRIVER_SEX,DRIVER_DRIV_LIC,DRIVER_LIC_STATE,DRIVER_COST_GAURAD_AUX,

	IS_ACTIVE,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,EXPERIENCE_CREDIT,VEHICLE_ID,PERCENT_DRIVEN,APP_VEHICLE_PRIN_OCC_ID,

	YEARS_LICENSED,WAT_SAFETY_COURSE,CERT_COAST_GUARD,REC_VEH_ID,APP_REC_VEHICLE_PRIN_OCC_ID,DATE_ORDERED,MVR_ORDERED,VIOLATIONS,MARITAL_STATUS

	FROM POL_WATERCRAFT_DRIVER_DETAILS WITH (NOLOCK) WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID AND POLICY_VERSION_ID=@CNVR_POLICY_VERSION_ID

	IF @@ERROR<>0
	BEGIN
			SET @RETFLAG=-10
			GOTO LOGERROR
	END


	---------------------------------------------------------------- POL_WATERCRAFT_DRIVER_DETAILS --------------------------------------------------


	---------------------------------------------------------------- POL_OPERATOR_ASSIGNED_BOAT -----------------------------------------------------
	INSERT INTO POL_OPERATOR_ASSIGNED_BOAT ( CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,DRIVER_ID,BOAT_ID,APP_VEHICLE_PRIN_OCC_ID)

	SELECT @EXST_CUSTOMER_ID,@MAXPOLID,POLICY_VERSION_ID,DRIVER_ID,BOAT_ID,APP_VEHICLE_PRIN_OCC_ID FROM POL_OPERATOR_ASSIGNED_BOAT WITH (NOLOCK)

	WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID AND POLICY_VERSION_ID=@CNVR_POLICY_VERSION_ID

	IF @@ERROR<>0
	BEGIN
			SET @RETFLAG=-11
			GOTO LOGERROR
	END

	---------------------------------------------------------------- POL_OPERATOR_ASSIGNED_BOAT -----------------------------------------------------


	---------------------------------------------------------------- POL_WATERCRAFT_GEN_INFO --------------------------------------------------------
	INSERT INTO POL_WATERCRAFT_GEN_INFO 

	( CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,HAS_CURR_ADD_THREE_YEARS,PHY_MENTL_CHALLENGED,DRIVER_SUS_REVOKED,IS_CONVICTED_ACCIDENT,

	ANY_OTH_INSU_COMP,OTHER_POLICY_NUMBER_LIST,ANY_LOSS_THREE_YEARS,COVERAGE_DECLINED,DEGREE_CONVICTION,IS_CREDIT,CREDIT_DETAILS,IS_RENTED_OTHERS,

	IS_REGISTERED_OTHERS,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,HAS_CURR_ADD_THREE_YEARS_DESC,PHY_MENTL_CHALLENGED_DESC,

	DRIVER_SUS_REVOKED_DESC,IS_CONVICTED_ACCIDENT_DESC,ANY_LOSS_THREE_YEARS_DESC,COVERAGE_DECLINED_DESC,DEGREE_CONVICTION_DESC,IS_RENTED_OTHERS_DESC,

	IS_REGISTERED_OTHERS_DESC,DRINK_DRUG_VOILATION,MINOR_VIOLATION,PARTICIPATE_RACE,CARRY_PASSENGER_FOR_CHARGE,TOT_YRS_OPERATORS_EXP,

	PARTICIPATE_RACE_DESC,CARRY_PASSENGER_FOR_CHARGE_DESC,IS_PRIOR_INSURANCE_CARRIER,PRIOR_INSURANCE_CARRIER_DESC,IS_BOAT_COOWNED,IS_BOAT_COOWNED_DESC,

	BOAT_HOME_DISCOUNT,MULTI_POLICY_DISC_APPLIED,MULTI_POLICY_DISC_APPLIED_PP_DESC,ANY_BOAT_AMPHIBIOUS,ANY_BOAT_AMPHIBIOUS_DESC,ANY_BOAT_RESIDENCE,

	ANY_BOAT_RESIDENCE_DESC)

	SELECT @EXST_CUSTOMER_ID,@MAXPOLID,POLICY_VERSION_ID,HAS_CURR_ADD_THREE_YEARS,PHY_MENTL_CHALLENGED,DRIVER_SUS_REVOKED,IS_CONVICTED_ACCIDENT,

	ANY_OTH_INSU_COMP,OTHER_POLICY_NUMBER_LIST,ANY_LOSS_THREE_YEARS,COVERAGE_DECLINED,DEGREE_CONVICTION,IS_CREDIT,CREDIT_DETAILS,IS_RENTED_OTHERS,

	IS_REGISTERED_OTHERS,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,HAS_CURR_ADD_THREE_YEARS_DESC,PHY_MENTL_CHALLENGED_DESC,

	DRIVER_SUS_REVOKED_DESC,IS_CONVICTED_ACCIDENT_DESC,ANY_LOSS_THREE_YEARS_DESC,COVERAGE_DECLINED_DESC,DEGREE_CONVICTION_DESC,IS_RENTED_OTHERS_DESC,

	IS_REGISTERED_OTHERS_DESC,DRINK_DRUG_VOILATION,MINOR_VIOLATION,PARTICIPATE_RACE,CARRY_PASSENGER_FOR_CHARGE,TOT_YRS_OPERATORS_EXP,

	PARTICIPATE_RACE_DESC,CARRY_PASSENGER_FOR_CHARGE_DESC,IS_PRIOR_INSURANCE_CARRIER,PRIOR_INSURANCE_CARRIER_DESC,IS_BOAT_COOWNED,IS_BOAT_COOWNED_DESC,

	BOAT_HOME_DISCOUNT,MULTI_POLICY_DISC_APPLIED,MULTI_POLICY_DISC_APPLIED_PP_DESC,ANY_BOAT_AMPHIBIOUS,ANY_BOAT_AMPHIBIOUS_DESC,ANY_BOAT_RESIDENCE,

	ANY_BOAT_RESIDENCE_DESC FROM POL_WATERCRAFT_GEN_INFO WITH (NOLOCK) WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID AND POLICY_VERSION_ID=@CNVR_POLICY_VERSION_ID

	IF @@ERROR<>0
	BEGIN
			SET @RETFLAG=-12
			GOTO LOGERROR
	END

	---------------------------------------------------------------- POL_WATERCRAFT_GEN_INFO --------------------------------------------------------

END -- WATERCRAFT TABLES INSERTION END



IF @POLICY_LOB=6
BEGIN
	/*
		TABLES IN RENTAL LOB
		POL_LOCATIONS, POL_DWELLINGS_INFO	, POL_OTHER_STRUCTURE_DWELLING, POL_HOME_RATING_INFO
		POL_DWELLING_SECTION_COVERAGES, POL_DWELLING_ENDORSEMENTS, POL_HOME_OWNER_GEN_INFO
	*/	

	---------------------------------------------------------------- POL_LOCATIONS ----------------------------------------------------------------

	INSERT INTO POL_LOCATIONS 

	( CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,LOCATION_ID,LOC_NUM,IS_PRIMARY,LOC_ADD1,LOC_ADD2,LOC_CITY,LOC_COUNTY,LOC_STATE,LOC_ZIP,LOC_COUNTRY,

	PHONE_NUMBER,FAX_NUMBER,DEDUCTIBLE,NAMED_PERILL,DESCRIPTION,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,LOC_TERRITORY,

	LOCATION_TYPE,RENTED_WEEKLY,WEEKS_RENTED)

	SELECT @EXST_CUSTOMER_ID,@MAXPOLID,POLICY_VERSION_ID,LOCATION_ID,LOC_NUM,IS_PRIMARY,LOC_ADD1,LOC_ADD2,LOC_CITY,LOC_COUNTY,LOC_STATE,LOC_ZIP,LOC_COUNTRY,

	PHONE_NUMBER,FAX_NUMBER,DEDUCTIBLE,NAMED_PERILL,DESCRIPTION,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,LOC_TERRITORY,

	LOCATION_TYPE,RENTED_WEEKLY,WEEKS_RENTED FROM POL_LOCATIONS WITH (NOLOCK) WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID AND POLICY_VERSION_ID=@CNVR_POLICY_VERSION_ID

	IF @@ERROR<>0
	BEGIN
			SET @RETFLAG=-13
			GOTO LOGERROR
	END
		
	---------------------------------------------------------------- POL_LOCATIONS -----------------------------------------------------------------

	---------------------------------------------------------------- POL_DWELLINGS_INFO -------------------------------------------------------------

	INSERT INTO POL_DWELLINGS_INFO 

	( CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,DWELLING_ID,LOCATION_ID,DWELLING_NUMBER,YEAR_BUILT,PURCHASE_YEAR,PURCHASE_PRICE,MARKET_VALUE,

	REPLACEMENT_COST,BUILDING_TYPE,OCCUPANCY,NEED_OF_UNITS,USAGE,NEIGHBOURS_VISIBLE,OCCUPIED_DAILY,NO_WEEKS_RENTED,IS_ACTIVE,CREATED_BY,

	CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,COMMENTDWELLINGOWNED,SUB_LOC_ID,REPAIR_COST,MONTHS_RENTED,DETACHED_OTHER_STRUCTURES,

	PREMISES_LOCATION,PREMISES_DESCRIPTION,PREMISES_USE,PREMISES_CONDITION,PICTURE_ATTACHED,COVERAGE_BASIS,SATELLITE_EQUIPMENT,LOCATION_ADDRESS,

	LOCATION_CITY,LOCATION_STATE,LOCATION_ZIP,ADDITIONAL_AMOUNT_OF_INSURANCE_DESIRED,INSURING_VALUE,INSURING_VALUE_OFF_PREMISES)

	SELECT @EXST_CUSTOMER_ID,@MAXPOLID,POLICY_VERSION_ID,DWELLING_ID,LOCATION_ID,DWELLING_NUMBER,YEAR_BUILT,PURCHASE_YEAR,PURCHASE_PRICE,MARKET_VALUE,

	REPLACEMENT_COST,BUILDING_TYPE,OCCUPANCY,NEED_OF_UNITS,USAGE,NEIGHBOURS_VISIBLE,OCCUPIED_DAILY,NO_WEEKS_RENTED,IS_ACTIVE,CREATED_BY,

	CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,COMMENTDWELLINGOWNED,SUB_LOC_ID,REPAIR_COST,MONTHS_RENTED,DETACHED_OTHER_STRUCTURES,

	PREMISES_LOCATION,PREMISES_DESCRIPTION,PREMISES_USE,PREMISES_CONDITION,PICTURE_ATTACHED,COVERAGE_BASIS,SATELLITE_EQUIPMENT,LOCATION_ADDRESS,

	LOCATION_CITY,LOCATION_STATE,LOCATION_ZIP,ADDITIONAL_AMOUNT_OF_INSURANCE_DESIRED,INSURING_VALUE,INSURING_VALUE_OFF_PREMISES FROM 

	POL_DWELLINGS_INFO WITH (NOLOCK) WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID AND POLICY_VERSION_ID=@CNVR_POLICY_VERSION_ID

	IF @@ERROR<>0
	BEGIN
			SET @RETFLAG=-14
			GOTO LOGERROR
	END

	---------------------------------------------------------------- POL_DWELLINGS_INFO -------------------------------------------------------------


	---------------------------------------------------------------- POL_HOME_RATING_INFO -----------------------------------------------------------

	INSERT INTO POL_HOME_RATING_INFO 

	( CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,DWELLING_ID,HYDRANT_DIST,FIRE_STATION_DIST,IS_UNDER_CONSTRUCTION,EXPERIENCE_CREDIT,

	IS_AUTO_POL_WITH_CARRIER,PERSONAL_LIAB_TER_CODE,PROT_CLASS,RATING_METHOD,NO_OF_FAMILIES,EXTERIOR_CONSTRUCTION,EXTERIOR_OTHER_DESC,FOUNDATION,

	FOUNDATION_OTHER_DESC,ROOF_TYPE,ROOF_OTHER_DESC,PRIMARY_HEAT_TYPE,SECONDARY_HEAT_TYPE,MONTH_OCC_EACH_YEAR,ADD_COVERAGE_INFO,IS_OUTSIDE_STAIR,

	TOT_SQR_FOOTAGE,GARAGE_SQR_FOOTAGE,BREEZE_SQR_FOOTAGE,BASMT_SQR_FOOTAGE,WIRING_RENOVATION,WIRING_UPDATE_YEAR,PLUMBING_RENOVATION,

	PLUMBING_UPDATE_YEAR,HEATING_RENOVATION,HEATING_UPDATE_YEAR,ROOFING_RENOVATION,ROOFING_UPDATE_YEAR,NO_OF_AMPS,CIRCUIT_BREAKERS,PROTECTIVE_DEVICES,

	TEMPERATURE,SMOKE,BURGLAR,FIRE_PLACES,NO_OF_WOOD_STOVES,SWIMMING_POOL,SWIMMING_POOL_TYPE,SECONDARY_HEAT_OTHER_DESC,PRIMARY_HEAT_OTHER_DESC,

	DWELLING_CONST_DATE,CENT_ST_BURG_FIRE,CENT_ST_FIRE,CENT_ST_BURG,DIR_FIRE_AND_POLICE,DIR_FIRE,DIR_POLICE,LOC_FIRE_GAS,TWO_MORE_FIRE,

	CONSTRUCTION_CODE,NUM_LOC_ALARMS_APPLIES,SPRINKER,ALARM_CERT_ATTACHED,IS_SUPERVISED,NEED_OF_UNITS)

	SELECT @EXST_CUSTOMER_ID,@MAXPOLID,POLICY_VERSION_ID,DWELLING_ID,HYDRANT_DIST,FIRE_STATION_DIST,IS_UNDER_CONSTRUCTION,EXPERIENCE_CREDIT,

	IS_AUTO_POL_WITH_CARRIER,PERSONAL_LIAB_TER_CODE,PROT_CLASS,RATING_METHOD,NO_OF_FAMILIES,EXTERIOR_CONSTRUCTION,EXTERIOR_OTHER_DESC,FOUNDATION,

	FOUNDATION_OTHER_DESC,ROOF_TYPE,ROOF_OTHER_DESC,PRIMARY_HEAT_TYPE,SECONDARY_HEAT_TYPE,MONTH_OCC_EACH_YEAR,ADD_COVERAGE_INFO,IS_OUTSIDE_STAIR,

	TOT_SQR_FOOTAGE,GARAGE_SQR_FOOTAGE,BREEZE_SQR_FOOTAGE,BASMT_SQR_FOOTAGE,WIRING_RENOVATION,WIRING_UPDATE_YEAR,PLUMBING_RENOVATION,

	PLUMBING_UPDATE_YEAR,HEATING_RENOVATION,HEATING_UPDATE_YEAR,ROOFING_RENOVATION,ROOFING_UPDATE_YEAR,NO_OF_AMPS,CIRCUIT_BREAKERS,PROTECTIVE_DEVICES,

	TEMPERATURE,SMOKE,BURGLAR,FIRE_PLACES,NO_OF_WOOD_STOVES,SWIMMING_POOL,SWIMMING_POOL_TYPE,SECONDARY_HEAT_OTHER_DESC,PRIMARY_HEAT_OTHER_DESC,

	DWELLING_CONST_DATE,CENT_ST_BURG_FIRE,CENT_ST_FIRE,CENT_ST_BURG,DIR_FIRE_AND_POLICE,DIR_FIRE,DIR_POLICE,LOC_FIRE_GAS,TWO_MORE_FIRE,

	CONSTRUCTION_CODE,NUM_LOC_ALARMS_APPLIES,SPRINKER,ALARM_CERT_ATTACHED,IS_SUPERVISED,NEED_OF_UNITS FROM POL_HOME_RATING_INFO WITH (NOLOCK)

	WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID AND POLICY_VERSION_ID=@CNVR_POLICY_VERSION_ID

	IF @@ERROR<>0
	BEGIN
			SET @RETFLAG=-15
			GOTO LOGERROR
	END

	---------------------------------------------------------------- POL_HOME_RATING_INFO------------------------------------------------------------


	---------------------------------------------------------------- POL_OTHER_STRUCTURE_DWELLING ---------------------------------------------------

	INSERT INTO POL_OTHER_STRUCTURE_DWELLING 

	( CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,DWELLING_ID,OTHER_STRUCTURE_ID,PREMISES_LOCATION,PREMISES_DESCRIPTION,PREMISES_USE,PREMISES_CONDITION,

	PICTURE_ATTACHED,COVERAGE_BASIS,SATELLITE_EQUIPMENT,LOCATION_ADDRESS,LOCATION_CITY,LOCATION_STATE,LOCATION_ZIP,

	ADDITIONAL_AMOUNT_OF_INSURANCE_DESIRED,INSURING_VALUE,INSURING_VALUE_OFF_PREMISES,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,

	LAST_UPDATED_DATETIME,LIABILITY_EXTENDED,COVERAGE_AMOUNT) 

	SELECT @EXST_CUSTOMER_ID,@MAXPOLID,POLICY_VERSION_ID,DWELLING_ID,OTHER_STRUCTURE_ID,PREMISES_LOCATION,PREMISES_DESCRIPTION,PREMISES_USE,PREMISES_CONDITION,

	PICTURE_ATTACHED,COVERAGE_BASIS,SATELLITE_EQUIPMENT,LOCATION_ADDRESS,LOCATION_CITY,LOCATION_STATE,LOCATION_ZIP,

	ADDITIONAL_AMOUNT_OF_INSURANCE_DESIRED,INSURING_VALUE,INSURING_VALUE_OFF_PREMISES,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,

	LAST_UPDATED_DATETIME,LIABILITY_EXTENDED,COVERAGE_AMOUNT FROM POL_OTHER_STRUCTURE_DWELLING WITH (NOLOCK)

	WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID AND POLICY_VERSION_ID=@CNVR_POLICY_VERSION_ID

	IF @@ERROR<>0
	BEGIN
			SET @RETFLAG=-16
			GOTO LOGERROR
	END


	---------------------------------------------------------------- POL_OTHER_STRUCTURE_DWELLING -----------------------------------------------------


	---------------------------------------------------------------- POL_DWELLING_SECTION_COVERAGES ---------------------------------------------------

	INSERT INTO POL_DWELLING_SECTION_COVERAGES 

	( CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,DWELLING_ID,COVERAGE_ID,COVERAGE_CODE_ID,LIMIT_OVERRIDE,LIMIT_1,LIMIT_1_TYPE,LIMIT_2,LIMIT_2_TYPE,

	DEDUCT_OVERRIDE,DEDUCTIBLE_1,DEDUCTIBLE_1_TYPE,DEDUCTIBLE_2,DEDUCTIBLE_2_TYPE,WRITTEN_PREMIUM,FULL_TERM_PREMIUM,IS_SYSTEM_COVERAGE,COVERAGE_TYPE,

	LIMIT1_AMOUNT_TEXT,LIMIT2_AMOUNT_TEXT,DEDUCTIBLE1_AMOUNT_TEXT,DEDUCTIBLE2_AMOUNT_TEXT,LIMIT_ID,DEDUC_ID,DEDUCTIBLE,DEDUCTIBLE_TEXT,ADDDEDUCTIBLE_ID)

	SELECT @EXST_CUSTOMER_ID,@MAXPOLID,POLICY_VERSION_ID,DWELLING_ID,COVERAGE_ID,COVERAGE_CODE_ID,LIMIT_OVERRIDE,LIMIT_1,LIMIT_1_TYPE,LIMIT_2,LIMIT_2_TYPE,

	DEDUCT_OVERRIDE,DEDUCTIBLE_1,DEDUCTIBLE_1_TYPE,DEDUCTIBLE_2,DEDUCTIBLE_2_TYPE,WRITTEN_PREMIUM,FULL_TERM_PREMIUM,IS_SYSTEM_COVERAGE,COVERAGE_TYPE,

	LIMIT1_AMOUNT_TEXT,LIMIT2_AMOUNT_TEXT,DEDUCTIBLE1_AMOUNT_TEXT,DEDUCTIBLE2_AMOUNT_TEXT,LIMIT_ID,DEDUC_ID,DEDUCTIBLE,DEDUCTIBLE_TEXT,ADDDEDUCTIBLE_ID

	FROM POL_DWELLING_SECTION_COVERAGES WITH (NOLOCK) WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID AND POLICY_VERSION_ID=@CNVR_POLICY_VERSION_ID

	IF @@ERROR<>0
	BEGIN
			SET @RETFLAG=-17
			GOTO LOGERROR
	END


	---------------------------------------------------------------- POL_DWELLING_SECTION_COVERAGES ---------------------------------------------------


	---------------------------------------------------------------- POL_DWELLING_ENDORSEMENTS --------------------------------------------------------

	INSERT INTO POL_DWELLING_ENDORSEMENTS ( CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,DWELLING_ID,DWELLING_ENDORSEMENT_ID,ENDORSEMENT_ID,REMARKS)

	SELECT @EXST_CUSTOMER_ID,@MAXPOLID,POLICY_VERSION_ID,DWELLING_ID,DWELLING_ENDORSEMENT_ID,ENDORSEMENT_ID,REMARKS FROM POL_DWELLING_ENDORSEMENTS

	WITH (NOLOCK) WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID AND POLICY_VERSION_ID=@CNVR_POLICY_VERSION_ID

	IF @@ERROR<>0
	BEGIN
			SET @RETFLAG=-18
			GOTO LOGERROR
	END

	---------------------------------------------------------------- POL_DWELLING_ENDORSEMENTS --------------------------------------------------------


	---------------------------------------------------------------- POL_HOME_OWNER_GEN_INFO ----------------------------------------------------------
	INSERT INTO POL_HOME_OWNER_GEN_INFO 

	( CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,ANY_FARMING_BUSINESS_COND,DESC_BUSINESS,ANY_RESIDENCE_EMPLOYEE,DESC_RESIDENCE_EMPLOYEE,

	ANY_OTHER_RESI_OWNED,DESC_OTHER_RESIDENCE,ANY_OTH_INSU_COMP,DESC_OTHER_INSURANCE,HAS_INSU_TRANSFERED_AGENCY,DESC_INSU_TRANSFERED_AGENCY,

	ANY_COV_DECLINED_CANCELED,DESC_COV_DECLINED_CANCELED,ANIMALS_EXO_PETS_HISTORY,BREED,OTHER_DESCRIPTION,CONVICTION_DEGREE_IN_PAST,

	DESC_CONVICTION_DEGREE_IN_PAST,ANY_RENOVATION,DESC_RENOVATION,TRAMPOLINE,DESC_TRAMPOLINE,LEAD_PAINT_HAZARD,DESC_LEAD_PAINT_HAZARD,RENTERS,

	DESC_RENTERS,BUILD_UNDER_CON_GEN_CONT,REMARKS,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,MULTI_POLICY_DISC_APPLIED,

	NO_OF_PETS,IS_SWIMPOLL_HOTTUB,LAST_INSPECTED_DATE,IS_RENTED_IN_PART,IS_VACENT_OCCUPY,IS_DWELLING_OWNED_BY_OTHER,IS_PROP_NEXT_COMMERICAL,

	DESC_PROPERTY,ARE_STAIRWAYS_PRESENT,DESC_STAIRWAYS,IS_OWNERS_DWELLING_CHANGED,DESC_OWNER,DESC_VACENT_OCCUPY,DESC_RENTED_IN_PART,

	DESC_DWELLING_OWNED_BY_OTHER,ANY_HEATING_SOURCE,DESC_ANY_HEATING_SOURCE,NON_SMOKER_CREDIT,SWIMMING_POOL,SWIMMING_POOL_TYPE,location,

	ANY_FORMING,PREMISES,OF_ACRES,ISANY_HORSE,OF_ACRES_P,NO_HORSES,DOG_SURCHARGE,DESC_Location,DESC_FARMING_BUSINESS_COND,YEARS_INSU,

	YEARS_INSU_WOL,DESC_IS_SWIMPOLL_HOTTUB,DESC_MULTI_POLICY_DISC_APPLIED,DESC_BUILD_UNDER_CON_GEN_CONT,APPROVED_FENCE,DIVING_BOARD,SLIDE,

	PROVIDE_HOME_DAY_CARE,MODULAR_MANUFACTURED_HOME,BUILT_ON_CONTINUOUS_FOUNDATION,VALUED_CUSTOMER_DISCOUNT_OVERRIDE,

	VALUED_CUSTOMER_DISCOUNT_OVERRIDE_DESC,PROPERTY_ON_MORE_THAN,PROPERTY_ON_MORE_THAN_DESC,DWELLING_MOBILE_HOME,DWELLING_MOBILE_HOME_DESC,

	PROPERTY_USED_WHOLE_PART,PROPERTY_USED_WHOLE_PART_DESC,ANY_PRIOR_LOSSES)

	SELECT @EXST_CUSTOMER_ID,@MAXPOLID,POLICY_VERSION_ID,ANY_FARMING_BUSINESS_COND,DESC_BUSINESS,ANY_RESIDENCE_EMPLOYEE,DESC_RESIDENCE_EMPLOYEE,

	ANY_OTHER_RESI_OWNED,DESC_OTHER_RESIDENCE,ANY_OTH_INSU_COMP,DESC_OTHER_INSURANCE,HAS_INSU_TRANSFERED_AGENCY,DESC_INSU_TRANSFERED_AGENCY,

	ANY_COV_DECLINED_CANCELED,DESC_COV_DECLINED_CANCELED,ANIMALS_EXO_PETS_HISTORY,BREED,OTHER_DESCRIPTION,CONVICTION_DEGREE_IN_PAST,

	DESC_CONVICTION_DEGREE_IN_PAST,ANY_RENOVATION,DESC_RENOVATION,TRAMPOLINE,DESC_TRAMPOLINE,LEAD_PAINT_HAZARD,DESC_LEAD_PAINT_HAZARD,RENTERS,

	DESC_RENTERS,BUILD_UNDER_CON_GEN_CONT,REMARKS,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,MULTI_POLICY_DISC_APPLIED,

	NO_OF_PETS,IS_SWIMPOLL_HOTTUB,LAST_INSPECTED_DATE,IS_RENTED_IN_PART,IS_VACENT_OCCUPY,IS_DWELLING_OWNED_BY_OTHER,IS_PROP_NEXT_COMMERICAL,

	DESC_PROPERTY,ARE_STAIRWAYS_PRESENT,DESC_STAIRWAYS,IS_OWNERS_DWELLING_CHANGED,DESC_OWNER,DESC_VACENT_OCCUPY,DESC_RENTED_IN_PART,

	DESC_DWELLING_OWNED_BY_OTHER,ANY_HEATING_SOURCE,DESC_ANY_HEATING_SOURCE,NON_SMOKER_CREDIT,SWIMMING_POOL,SWIMMING_POOL_TYPE,location,

	ANY_FORMING,PREMISES,OF_ACRES,ISANY_HORSE,OF_ACRES_P,NO_HORSES,DOG_SURCHARGE,DESC_Location,DESC_FARMING_BUSINESS_COND,YEARS_INSU,

	YEARS_INSU_WOL,DESC_IS_SWIMPOLL_HOTTUB,DESC_MULTI_POLICY_DISC_APPLIED,DESC_BUILD_UNDER_CON_GEN_CONT,APPROVED_FENCE,DIVING_BOARD,SLIDE,

	PROVIDE_HOME_DAY_CARE,MODULAR_MANUFACTURED_HOME,BUILT_ON_CONTINUOUS_FOUNDATION,VALUED_CUSTOMER_DISCOUNT_OVERRIDE,

	VALUED_CUSTOMER_DISCOUNT_OVERRIDE_DESC,PROPERTY_ON_MORE_THAN,PROPERTY_ON_MORE_THAN_DESC,DWELLING_MOBILE_HOME,DWELLING_MOBILE_HOME_DESC,

	PROPERTY_USED_WHOLE_PART,PROPERTY_USED_WHOLE_PART_DESC,ANY_PRIOR_LOSSES FROM POL_HOME_OWNER_GEN_INFO WITH (NOLOCK)

	WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID AND POLICY_VERSION_ID=@CNVR_POLICY_VERSION_ID

	IF @@ERROR<>0
	BEGIN
			SET @RETFLAG=-19
			GOTO LOGERROR
	END

	---------------------------------------------------------------- POL_HOME_OWNER_GEN_INFO ----------------------------------------------------------

END -- RENTAL TABLE INSERTION ENDS




IF @POLICY_LOB=2 OR @POLICY_LOB=3
BEGIN
	/*
		TABLES IN AUTO LOB
		POL_VEHICLES, POL_DRIVER_DETAILS	,  POL_VEHICLE_COVERAGES
		POL_VEHICLE_ENDORSEMENTS, POL_DRIVER_ASSIGNED_VEHICLE, POL_AUTO_GEN_INFO
	*/	

	---------------------------------------------------------------- POL_VEHICLES -----------------------------------------------------------------

	INSERT INTO POL_VEHICLES 

	( POLICY_ID,POLICY_VERSION_ID,CUSTOMER_ID,VEHICLE_ID,INSURED_VEH_NUMBER,VEHICLE_YEAR,MAKE,MODEL,VIN,BODY_TYPE,GRG_ADD1,GRG_ADD2,GRG_CITY,

	GRG_COUNTRY,GRG_STATE,GRG_ZIP,REGISTERED_STATE,TERRITORY,CLASS,REGN_PLATE_NUMBER,ST_AMT_TYPE,AMOUNT,SYMBOL,VEHICLE_AGE,IS_OWN_LEASE,

	PURCHASE_DATE,IS_NEW_USED,MILES_TO_WORK,VEHICLE_USE,VEH_PERFORMANCE,MULTI_CAR,ANNUAL_MILEAGE,PASSIVE_SEAT_BELT,AIR_BAG,ANTI_LOCK_BRAKES,

	DEACTIVATE_REACTIVATE_DATE,VEHICLE_CC,MOTORCYCLE_TYPE,UNINS_MOTOR_INJURY_COVE,UNINS_PROPERTY_DAMAGE_COVE,UNDERINS_MOTOR_INJURY_COVE,

	VEHICLE_TYPE,NATURE_OF_INTEREST,APP_USE_VEHICLE_ID,APP_VEHICLE_PERCLASS_ID,APP_VEHICLE_COMCLASS_ID,APP_VEHICLE_PERTYPE_ID,

	APP_VEHICLE_COMTYPE_ID,APP_VEHICLE_CLASS,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,SAFETY_BELT,

	BUSS_PERM_RESI,SNOWPLOW_CONDS,CAR_POOL,AUTO_POL_NO,CLASS_DESCRIPTION,RADIUS_OF_USE,TRANSPORT_CHEMICAL,COVERED_BY_WC_INSU,CYCL_REGD_ROAD_USE,

	COMPRH_ONLY,IS_SUSPENDED)

	SELECT @MAXPOLID,POLICY_VERSION_ID,@EXST_CUSTOMER_ID,VEHICLE_ID,INSURED_VEH_NUMBER,VEHICLE_YEAR,MAKE,MODEL,VIN,BODY_TYPE,GRG_ADD1,GRG_ADD2,GRG_CITY,

	GRG_COUNTRY,GRG_STATE,GRG_ZIP,REGISTERED_STATE,TERRITORY,CLASS,REGN_PLATE_NUMBER,ST_AMT_TYPE,AMOUNT,SYMBOL,VEHICLE_AGE,IS_OWN_LEASE,

	PURCHASE_DATE,IS_NEW_USED,MILES_TO_WORK,VEHICLE_USE,VEH_PERFORMANCE,MULTI_CAR,ANNUAL_MILEAGE,PASSIVE_SEAT_BELT,AIR_BAG,ANTI_LOCK_BRAKES,

	DEACTIVATE_REACTIVATE_DATE,VEHICLE_CC,MOTORCYCLE_TYPE,UNINS_MOTOR_INJURY_COVE,UNINS_PROPERTY_DAMAGE_COVE,UNDERINS_MOTOR_INJURY_COVE,

	VEHICLE_TYPE,NATURE_OF_INTEREST,APP_USE_VEHICLE_ID,APP_VEHICLE_PERCLASS_ID,APP_VEHICLE_COMCLASS_ID,APP_VEHICLE_PERTYPE_ID,

	APP_VEHICLE_COMTYPE_ID,APP_VEHICLE_CLASS,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,SAFETY_BELT,

	BUSS_PERM_RESI,SNOWPLOW_CONDS,CAR_POOL,AUTO_POL_NO,CLASS_DESCRIPTION,RADIUS_OF_USE,TRANSPORT_CHEMICAL,COVERED_BY_WC_INSU,CYCL_REGD_ROAD_USE,

	COMPRH_ONLY,IS_SUSPENDED FROM POL_VEHICLES WITH (NOLOCK)

	WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID AND POLICY_VERSION_ID=@CNVR_POLICY_VERSION_ID


	IF @@ERROR<>0
	BEGIN
			SET @RETFLAG=-20
			GOTO LOGERROR
	END


	---------------------------------------------------------------- POL_VEHICLES -----------------------------------------------------------------

	---------------------------------------------------------------- POL_VEHICLE_COVERAGES --------------------------------------------------------

	INSERT INTO POL_VEHICLE_COVERAGES 

	( POLICY_ID,POLICY_VERSION_ID,CUSTOMER_ID,VEHICLE_ID,COVERAGE_ID,COVERAGE_CODE_ID,LIMIT_OVERRIDE,LIMIT_1,LIMIT_1_TYPE,LIMIT_2,LIMIT_2_TYPE,

	DEDUCT_OVERRIDE,DEDUCTIBLE_1,DEDUCTIBLE_1_TYPE,DEDUCTIBLE_2,DEDUCTIBLE_2_TYPE,WRITTEN_PREMIUM,FULL_TERM_PREMIUM,IS_SYSTEM_COVERAGE,

	LIMIT1_AMOUNT_TEXT,LIMIT2_AMOUNT_TEXT,DEDUCTIBLE1_AMOUNT_TEXT,DEDUCTIBLE2_AMOUNT_TEXT,SIGNATURE_OBTAINED,DEDUC_ID,LIMIT_ID,ADD_INFORMATION)

	SELECT  @MAXPOLID,POLICY_VERSION_ID,@EXST_CUSTOMER_ID,VEHICLE_ID,COVERAGE_ID,COVERAGE_CODE_ID,LIMIT_OVERRIDE,LIMIT_1,LIMIT_1_TYPE,LIMIT_2,LIMIT_2_TYPE,

	DEDUCT_OVERRIDE,DEDUCTIBLE_1,DEDUCTIBLE_1_TYPE,DEDUCTIBLE_2,DEDUCTIBLE_2_TYPE,WRITTEN_PREMIUM,FULL_TERM_PREMIUM,IS_SYSTEM_COVERAGE,

	LIMIT1_AMOUNT_TEXT,LIMIT2_AMOUNT_TEXT,DEDUCTIBLE1_AMOUNT_TEXT,DEDUCTIBLE2_AMOUNT_TEXT,SIGNATURE_OBTAINED,DEDUC_ID,LIMIT_ID,ADD_INFORMATION

	FROM POL_VEHICLE_COVERAGES WITH (NOLOCK) WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID AND POLICY_VERSION_ID=@CNVR_POLICY_VERSION_ID
	
	IF @@ERROR<>0
	BEGIN
			SET @RETFLAG=-21
			GOTO LOGERROR
	END
	---------------------------------------------------------------- POL_VEHICLE_COVERAGES --------------------------------------------------------

	---------------------------------------------------------------- POL_VEHICLE_ENDORSEMENTS -----------------------------------------------------

	INSERT INTO POL_VEHICLE_ENDORSEMENTS 

	( POLICY_ID,POLICY_VERSION_ID,CUSTOMER_ID,VEHICLE_ID,VEHICLE_ENDORSEMENT_ID,ENDORSEMENT_ID,REMARKS,EDITION_DATE)

	SELECT @MAXPOLID,POLICY_VERSION_ID,@EXST_CUSTOMER_ID,VEHICLE_ID,VEHICLE_ENDORSEMENT_ID,ENDORSEMENT_ID,REMARKS,EDITION_DATE FROM 

	POL_VEHICLE_ENDORSEMENTS WITH (NOLOCK) WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID AND POLICY_VERSION_ID=@CNVR_POLICY_VERSION_ID

	IF @@ERROR<>0
	BEGIN
			SET @RETFLAG=-22
			GOTO LOGERROR
	END

	---------------------------------------------------------------- POL_VEHICLE_ENDORSEMENTS -----------------------------------------------------

	---------------------------------------------------------------- POL_DRIVER_DETAILS -----------------------------------------------------------

	INSERT INTO POL_DRIVER_DETAILS 

	( CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,DRIVER_ID,DRIVER_FNAME,DRIVER_MNAME,DRIVER_LNAME,DRIVER_CODE,DRIVER_SUFFIX,DRIVER_ADD1,DRIVER_ADD2,

	DRIVER_CITY,DRIVER_STATE,DRIVER_ZIP,DRIVER_COUNTRY,DRIVER_HOME_PHONE,DRIVER_BUSINESS_PHONE,DRIVER_EXT,DRIVER_MOBILE,DRIVER_DOB,DRIVER_SSN,

	DRIVER_MART_STAT,DRIVER_SEX,DRIVER_DRIV_LIC,DRIVER_LIC_STATE,DRIVER_LIC_CLASS,DATE_EXP_START,DATE_LICENSED,DRIVER_REL,DRIVER_DRIV_TYPE,

	DRIVER_OCC_CODE,DRIVER_OCC_CLASS,DRIVER_DRIVERLOYER_NAME,DRIVER_DRIVERLOYER_ADD,DRIVER_INCOME,DRIVER_BROADEND_NOFAULT,DRIVER_PHYS_MED_IMPAIRE,

	DRIVER_DRINK_VIOLATION,DRIVER_PREF_RISK,DRIVER_GOOD_STUDENT,DRIVER_STUD_DIST_OVER_HUNDRED,DRIVER_LIC_SUSPENDED,DRIVER_VOLUNTEER_POLICE_FIRE,

	DRIVER_US_CITIZEN,DRIVER_FAX,RELATIONSHIP,DRIVER_TITLE,SAFE_DRIVER,GOOD_DRIVER_STUDENT_DISCOUNT,PREMIER_DRIVER_DISCOUNT,

	SAFE_DRIVER_RENEWAL_DISCOUNT,VEHICLE_ID,PERCENT_DRIVEN,MATURE_DRIVER,MATURE_DRIVER_DISCOUNT,PREFERRED_RISK_DISCOUNT,PREFERRED_RISK,

	TRANSFEREXP_RENEWAL_DISCOUNT,TRANSFEREXPERIENCE_RENEWALCREDIT,APP_VEHICLE_PRIN_OCC_ID,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,

	LAST_UPDATED_DATETIME,NO_DEPENDENTS,Waiver_Work_loss_benefits,NO_CYCLE_ENDMT,FORM_F95,EXT_NON_OWN_COVG_INDIVI,HAVE_CAR,IN_MILITARY,

	STATIONED_IN_US_TERR,FULL_TIME_STUDENT,SUPPORT_DOCUMENT,SIGNED_WAIVER_BENEFITS_FORM,PARENTS_INSURANCE,COLL_STUD_AWAY_HOME,CYCL_WITH_YOU,

	DATE_ORDERED,MVR_ORDERED,VIOLATIONS) 

	SELECT @EXST_CUSTOMER_ID,@MAXPOLID,POLICY_VERSION_ID,DRIVER_ID,DRIVER_FNAME,DRIVER_MNAME,DRIVER_LNAME,DRIVER_CODE,DRIVER_SUFFIX,DRIVER_ADD1,DRIVER_ADD2,

	DRIVER_CITY,DRIVER_STATE,DRIVER_ZIP,DRIVER_COUNTRY,DRIVER_HOME_PHONE,DRIVER_BUSINESS_PHONE,DRIVER_EXT,DRIVER_MOBILE,DRIVER_DOB,DRIVER_SSN,

	DRIVER_MART_STAT,DRIVER_SEX,DRIVER_DRIV_LIC,DRIVER_LIC_STATE,DRIVER_LIC_CLASS,DATE_EXP_START,DATE_LICENSED,DRIVER_REL,DRIVER_DRIV_TYPE,

	DRIVER_OCC_CODE,DRIVER_OCC_CLASS,DRIVER_DRIVERLOYER_NAME,DRIVER_DRIVERLOYER_ADD,DRIVER_INCOME,DRIVER_BROADEND_NOFAULT,DRIVER_PHYS_MED_IMPAIRE,

	DRIVER_DRINK_VIOLATION,DRIVER_PREF_RISK,DRIVER_GOOD_STUDENT,DRIVER_STUD_DIST_OVER_HUNDRED,DRIVER_LIC_SUSPENDED,DRIVER_VOLUNTEER_POLICE_FIRE,

	DRIVER_US_CITIZEN,DRIVER_FAX,RELATIONSHIP,DRIVER_TITLE,SAFE_DRIVER,GOOD_DRIVER_STUDENT_DISCOUNT,PREMIER_DRIVER_DISCOUNT,

	SAFE_DRIVER_RENEWAL_DISCOUNT,VEHICLE_ID,PERCENT_DRIVEN,MATURE_DRIVER,MATURE_DRIVER_DISCOUNT,PREFERRED_RISK_DISCOUNT,PREFERRED_RISK,

	TRANSFEREXP_RENEWAL_DISCOUNT,TRANSFEREXPERIENCE_RENEWALCREDIT,APP_VEHICLE_PRIN_OCC_ID,IS_ACTIVE,CREATED_BY,CREATED_DATETIME,MODIFIED_BY,

	LAST_UPDATED_DATETIME,NO_DEPENDENTS,Waiver_Work_loss_benefits,NO_CYCLE_ENDMT,FORM_F95,EXT_NON_OWN_COVG_INDIVI,HAVE_CAR,IN_MILITARY,

	STATIONED_IN_US_TERR,FULL_TIME_STUDENT,SUPPORT_DOCUMENT,SIGNED_WAIVER_BENEFITS_FORM,PARENTS_INSURANCE,COLL_STUD_AWAY_HOME,CYCL_WITH_YOU,

	DATE_ORDERED,MVR_ORDERED,VIOLATIONS FROM POL_DRIVER_DETAILS WITH (NOLOCK)

	WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID AND POLICY_VERSION_ID=@CNVR_POLICY_VERSION_ID

	IF @@ERROR<>0
	BEGIN
			SET @RETFLAG=-23
			GOTO LOGERROR
	END

	---------------------------------------------------------------- POL_DRIVER_DETAILS -----------------------------------------------------------

	---------------------------------------------------------------- POL_DRIVER_ASSIGNED_VEHICLE --------------------------------------------------

	INSERT INTO POL_DRIVER_ASSIGNED_VEHICLE ( CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,DRIVER_ID,VEHICLE_ID,APP_VEHICLE_PRIN_OCC_ID)

	SELECT  @EXST_CUSTOMER_ID,@MAXPOLID,POLICY_VERSION_ID,DRIVER_ID,VEHICLE_ID,APP_VEHICLE_PRIN_OCC_ID FROM POL_DRIVER_ASSIGNED_VEHICLE

	WITH (NOLOCK) WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID AND POLICY_VERSION_ID=@CNVR_POLICY_VERSION_ID


	IF @@ERROR<>0
	BEGIN
			SET @RETFLAG=-24
			GOTO LOGERROR
	END
	---------------------------------------------------------------- POL_DRIVER_ASSIGNED_VEHICLE --------------------------------------------------

	---------------------------------------------------------------- POL_AUTO_GEN_INFO ------------------------------------------------------------

	INSERT INTO POL_AUTO_GEN_INFO 

	( CUSTOMER_ID,POLICY_ID,POLICY_VERSION_ID,ANY_NON_OWNED_VEH,CAR_MODIFIED,EXISTING_DMG,ANY_CAR_AT_SCH,SCHOOL_CARS_LIST,ANY_OTH_AUTO_INSU,

	ANY_OTH_INSU_COMP,OTHER_POLICY_NUMBER_LIST,H_MEM_IN_MILITARY,H_MEM_IN_MILITARY_LIST,DRIVER_SUS_REVOKED,PHY_MENTL_CHALLENGED,

	ANY_FINANCIAL_RESPONSIBILITY,INS_AGENCY_TRANSFER,COVERAGE_DECLINED,AGENCY_VEH_INSPECTED,USE_AS_TRANSPORT_FEE,SALVAGE_TITLE,ANY_ANTIQUE_AUTO,

	ANTIQUE_AUTO_LIST,REMARKS,IS_COMMERCIAL_USE,IS_USEDFOR_RACING,IS_COST_OVER_DEFINED_LIMIT,IS_MORE_WHEELS,IS_EXTENDED_FORKS,IS_LICENSED_FOR_ROAD,

	IS_MODIFIED_INCREASE_SPEED,IS_MODIFIED_KIT,IS_TAKEN_OUT,IS_CONVICTED_CARELESS_DRIVE,IS_CONVICTED_ACCIDENT,MULTI_POLICY_DISC_APPLIED,

	ANY_NON_OWNED_VEH_PP_DESC,CAR_MODIFIED_DESC,EXISTING_DMG_PP_DESC,ANY_CAR_AT_SCH_DESC,ANY_OTH_AUTO_INSU_DESC,ANY_OTH_INSU_COMP_PP_DESC

	,H_MEM_IN_MILITARY_DESC,DRIVER_SUS_REVOKED_PP_DESC,PHY_MENTL_CHALLENGED_PP_DESC,ANY_FINANCIAL_RESPONSIBILITY_PP_DESC,INS_AGENCY_TRANSFER_PP_DESC,

	COVERAGE_DECLINED_PP_DESC,AGENCY_VEH_INSPECTED_PP_DESC,USE_AS_TRANSPORT_FEE_DESC,SALVAGE_TITLE_PP_DESC,ANY_ANTIQUE_AUTO_DESC,

	MULTI_POLICY_DISC_APPLIED_PP_DESC,ANY_NON_OWNED_VEH_MC_DESC,EXISTING_DMG_MC_DESC,ANY_OTH_INSU_COMP_MC_DESC,DRIVER_SUS_REVOKED_MC_DESC,

	PHY_MENTL_CHALLENGED_MC_DESC,ANY_FINANCIAL_RESPONSIBILITY_MC_DESC,INS_AGENCY_TRANSFER_MC_DESC,COVERAGE_DECLINED_MC_DESC,

	AGENCY_VEH_INSPECTED_MC_DESC,SALVAGE_TITLE_MC_DESC,IS_COMMERCIAL_USE_DESC,IS_USEDFOR_RACING_DESC,IS_COST_OVER_DEFINED_LIMIT_DESC,

	IS_MORE_WHEELS_DESC,IS_EXTENDED_FORKS_DESC,IS_LICENSED_FOR_ROAD_DESC,IS_MODIFIED_INCREASE_SPEED_DESC,IS_MODIFIED_KIT_DESC,IS_TAKEN_OUT_DESC,

	IS_CONVICTED_CARELESS_DRIVE_DESC,IS_CONVICTED_ACCIDENT_DESC,MULTI_POLICY_DISC_APPLIED_MC_DESC,FullName,DATE_OF_BIRTH,DrivingLisence,

	InsuredElseWhere,CompanyName,PolicyNumber,IS_OTHER_THAN_INSURED,CURR_RES_TYPE,WhichCycle,COST_EQUIPMENT_DESC,IS_ACTIVE,CREATED_BY,

	CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,YEARS_INSU_WOL,YEARS_INSU,ANY_PRIOR_LOSSES,ANY_PRIOR_LOSSES_DESC,APPLY_PERS_UMB_POL,

	APPLY_PERS_UMB_POL_DESC,SEAT_BELT_CREDIT) 

	SELECT @EXST_CUSTOMER_ID,@MAXPOLID,POLICY_VERSION_ID,ANY_NON_OWNED_VEH,CAR_MODIFIED,EXISTING_DMG,ANY_CAR_AT_SCH,SCHOOL_CARS_LIST,ANY_OTH_AUTO_INSU,

	ANY_OTH_INSU_COMP,OTHER_POLICY_NUMBER_LIST,H_MEM_IN_MILITARY,H_MEM_IN_MILITARY_LIST,DRIVER_SUS_REVOKED,PHY_MENTL_CHALLENGED,

	ANY_FINANCIAL_RESPONSIBILITY,INS_AGENCY_TRANSFER,COVERAGE_DECLINED,AGENCY_VEH_INSPECTED,USE_AS_TRANSPORT_FEE,SALVAGE_TITLE,ANY_ANTIQUE_AUTO,

	ANTIQUE_AUTO_LIST,REMARKS,IS_COMMERCIAL_USE,IS_USEDFOR_RACING,IS_COST_OVER_DEFINED_LIMIT,IS_MORE_WHEELS,IS_EXTENDED_FORKS,IS_LICENSED_FOR_ROAD,

	IS_MODIFIED_INCREASE_SPEED,IS_MODIFIED_KIT,IS_TAKEN_OUT,IS_CONVICTED_CARELESS_DRIVE,IS_CONVICTED_ACCIDENT,MULTI_POLICY_DISC_APPLIED,

	ANY_NON_OWNED_VEH_PP_DESC,CAR_MODIFIED_DESC,EXISTING_DMG_PP_DESC,ANY_CAR_AT_SCH_DESC,ANY_OTH_AUTO_INSU_DESC,ANY_OTH_INSU_COMP_PP_DESC

	,H_MEM_IN_MILITARY_DESC,DRIVER_SUS_REVOKED_PP_DESC,PHY_MENTL_CHALLENGED_PP_DESC,ANY_FINANCIAL_RESPONSIBILITY_PP_DESC,INS_AGENCY_TRANSFER_PP_DESC,

	COVERAGE_DECLINED_PP_DESC,AGENCY_VEH_INSPECTED_PP_DESC,USE_AS_TRANSPORT_FEE_DESC,SALVAGE_TITLE_PP_DESC,ANY_ANTIQUE_AUTO_DESC,

	MULTI_POLICY_DISC_APPLIED_PP_DESC,ANY_NON_OWNED_VEH_MC_DESC,EXISTING_DMG_MC_DESC,ANY_OTH_INSU_COMP_MC_DESC,DRIVER_SUS_REVOKED_MC_DESC,

	PHY_MENTL_CHALLENGED_MC_DESC,ANY_FINANCIAL_RESPONSIBILITY_MC_DESC,INS_AGENCY_TRANSFER_MC_DESC,COVERAGE_DECLINED_MC_DESC,

	AGENCY_VEH_INSPECTED_MC_DESC,SALVAGE_TITLE_MC_DESC,IS_COMMERCIAL_USE_DESC,IS_USEDFOR_RACING_DESC,IS_COST_OVER_DEFINED_LIMIT_DESC,

	IS_MORE_WHEELS_DESC,IS_EXTENDED_FORKS_DESC,IS_LICENSED_FOR_ROAD_DESC,IS_MODIFIED_INCREASE_SPEED_DESC,IS_MODIFIED_KIT_DESC,IS_TAKEN_OUT_DESC,

	IS_CONVICTED_CARELESS_DRIVE_DESC,IS_CONVICTED_ACCIDENT_DESC,MULTI_POLICY_DISC_APPLIED_MC_DESC,FullName,DATE_OF_BIRTH,DrivingLisence,

	InsuredElseWhere,CompanyName,PolicyNumber,IS_OTHER_THAN_INSURED,CURR_RES_TYPE,WhichCycle,COST_EQUIPMENT_DESC,IS_ACTIVE,CREATED_BY,

	CREATED_DATETIME,MODIFIED_BY,LAST_UPDATED_DATETIME,YEARS_INSU_WOL,YEARS_INSU,ANY_PRIOR_LOSSES,ANY_PRIOR_LOSSES_DESC,APPLY_PERS_UMB_POL,

	APPLY_PERS_UMB_POL_DESC,SEAT_BELT_CREDIT FROM POL_AUTO_GEN_INFO WITH (NOLOCK)

	WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID AND POLICY_VERSION_ID=@CNVR_POLICY_VERSION_ID

	IF @@ERROR<>0
	BEGIN
			SET @RETFLAG=-25
			GOTO LOGERROR
	END
	---------------------------------------------------------------- POL_AUTO_GEN_INFO ------------------------------------------------------------


END -- AUTO TABLES INSERTION ENDS


IF @@ERROR=0
BEGIN
	IF @POLICY_LOB=4
	BEGIN
		DELETE FROM POL_WATERCRAFT_GEN_INFO  WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID
		DELETE FROM POL_OPERATOR_ASSIGNED_BOAT  WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID
		DELETE FROM POL_WATERCRAFT_DRIVER_DETAILS  WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID
		DELETE FROM POL_WATERCRAFT_EQUIP_DETAILLS  WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID
		DELETE FROM POL_WATERCRAFT_TRAILER_INFO  WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID
		DELETE FROM POL_WATERCRAFT_ENDORSEMENTS  WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID
		DELETE FROM POL_WATERCRAFT_COVERAGE_INFO  WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID
		DELETE FROM POL_WATERCRAFT_ENGINE_INFO  WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID
		DELETE FROM POL_WATERCRAFT_INFO	 WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID

		IF @@ERROR<>0
		BEGIN
			SET @RETFLAG=-26
			GOTO LOGERROR
		END
	END	
	IF @POLICY_LOB=6
	BEGIN
		DELETE FROM POL_HOME_OWNER_GEN_INFO  WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID
		DELETE FROM POL_DWELLING_ENDORSEMENTS WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID
		DELETE FROM POL_DWELLING_SECTION_COVERAGES WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID
		DELETE FROM POL_HOME_RATING_INFO WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID
		DELETE FROM POL_OTHER_STRUCTURE_DWELLING WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID
		DELETE FROM POL_DWELLINGS_INFO WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID
		DELETE FROM POL_LOCATIONS WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID		

		IF @@ERROR<>0
		BEGIN
			SET @RETFLAG=-27
			GOTO LOGERROR
		END
	END	
	IF @POLICY_LOB=2 OR @POLICY_LOB=3
	BEGIN
		DELETE FROM POL_AUTO_GEN_INFO WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID
		DELETE FROM POL_DRIVER_ASSIGNED_VEHICLE WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID
		DELETE FROM POL_VEHICLE_ENDORSEMENTS WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID
		DELETE FROM POL_VEHICLE_COVERAGES WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID
		DELETE FROM POL_DRIVER_DETAILS WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID
		DELETE FROM POL_VEHICLES WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID

		IF @@ERROR<>0
		BEGIN
			SET @RETFLAG=-28
			GOTO LOGERROR
		END
	END	
	
	DELETE FROM APP_LIST WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND APP_ID=@CNVRAPPID AND APP_VERSION_ID=@CNVRAPPVERID

	IF @@ERROR<>0
		BEGIN
			SET @RETFLAG=-29
			GOTO LOGERROR
		END

--------------------------------------------------- UPDATE APPLICANT CURSOR ----------------------------------------------------
	--FETCH ALL APPLICANT OF CONVERTED CUSTOMER
	DECLARE  CUR_UPD_APP CURSOR  FOR                    
	SELECT APPLICANT_ID FROM CLT_APPLICANT_LIST WITH (NOLOCK) WHERE 
	CUSTOMER_ID=@CNVR_CUSTOMER_ID 
	OPEN CUR_UPD_APP     
	    
	FETCH NEXT FROM CUR_UPD_APP INTO    
	@APP_ID
	    
	WHILE @@FETCH_STATUS = 0                       
	BEGIN   -- CHECK IF CLIENT APPLICANT IS ATTACHED TO ANY OTHER POLICY 
		IF NOT EXISTS (SELECT 1 FROM POL_APPLICANT_LIST WITH (NOLOCK) WHERE APPLICANT_ID=@APP_ID AND 
					CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID<>@CNVR_POLICY_ID )
		BEGIN 
			IF @REVFLAG='N'
			BEGIN -- IN TRANSFER MAKE THE APPLICANT INACTIVE OF CONVERTED CUSTOMER WHICH ARE NOT ATTACHED TO ANY OTHER POLICY
				UPDATE CLT_APPLICANT_LIST SET IS_ACTIVE='N' WHERE APPLICANT_ID = @APP_ID AND CUSTOMER_ID=@CNVR_CUSTOMER_ID

				IF @@ERROR<>0
				BEGIN
					SET @RETFLAG=-37
					GOTO LOGERROR
				END
			END
			ELSE
			BEGIN -- IN REVERT DELETE THE APPLICANTS FROM EXISTING CUSTOMER WHICH ARE NOT ATTACHED TO ANY OTHER POLICY 
				  -- AND MAKE THE ORIGINAL APPLICANTS OF CUSTOMER ACTIVE
				DELETE FROM CLT_APPLICANT_LIST WHERE APPLICANT_ID = @APP_ID AND CUSTOMER_ID=@CNVR_CUSTOMER_ID

				UPDATE CLT_APPLICANT_LIST SET IS_ACTIVE='Y' WHERE  CUSTOMER_ID=@EXST_CUSTOMER_ID 

				IF @@ERROR<>0
				BEGIN
					SET @RETFLAG=-38
					GOTO LOGERROR
				END
			END
		END
		

		FETCH NEXT FROM CUR_UPD_APP INTO    
		@APP_ID

	END        

	CLOSE CUR_UPD_APP                      
	DEALLOCATE CUR_UPD_APP     

	IF @@ERROR<>0
		BEGIN
			SET @RETFLAG=-31
			GOTO LOGERROR
		END

-------------------------------------------------------------------------------------------------------------------------------------------
	
	DELETE FROM POL_APPLICANT_LIST  WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID AND POLICY_VERSION_ID=@CNVR_POLICY_VERSION_ID

	IF @@ERROR<>0
		BEGIN
			SET @RETFLAG=-30
			GOTO LOGERROR
		END

	IF @POLICY_LOB IN (2,4,3) -- FOR AUTO AND BOAT
	BEGIN
		DELETE FROM APP_PRIOR_LOSS_INFO WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND ISNULL(POLICY_NUM,'')=@POLICY_NUMBER
	END
	ELSE -- RENTAL
	BEGIN
		DELETE FROM APP_PRIOR_LOSS_INFO WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND ISNULL(REMARKS,'')=@POLICY_NUMBER
	END
	IF @@ERROR<>0
		BEGIN
			SET @RETFLAG=-32
			GOTO LOGERROR
		END

	IF NOT EXISTS (SELECT 1 FROM POL_CUSTOMER_POLICY_LIST WITH (NOLOCK) WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID<>@CNVR_POLICY_ID)
	BEGIN
		UPDATE CLT_CUSTOMER_LIST SET IS_ACTIVE='N' WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID	
	END
	
	DECLARE @ISHOMEEMP NVARCHAR(500)
	IF @REVFLAG='N' -- IN NORMAL POLICY TRANSFER
	BEGIN
		
		SELECT @ISHOMEEMP=ISNULL(IS_HOME_EMPLOYEE,'') FROM CLT_CUSTOMER_LIST WITH (NOLOCK) WHERE CUSTOMER_ID=@EXST_CUSTOMER_ID
		-- APPENDING POLICY_NUMBER=CUSTOMER_ID IN IS_HOME_EMPLOYEE FIELD TO KEEP TRACK OF CONVERTED CUSTOMER AND POLICY
		UPDATE CLT_CUSTOMER_LIST SET IS_HOME_EMPLOYEE=@ISHOMEEMP + cast(@POLICY_NUMBER as nvarchar)+ '=' + CAST(@CNVR_CUSTOMER_ID AS NVARCHAR(10))+',' WHERE CUSTOMER_ID=@EXST_CUSTOMER_ID
		
		IF @@ERROR<>0
		BEGIN
			SET @RETFLAG=-34
			GOTO LOGERROR
		END
	END
	ELSE  -- IN REVERT
	BEGIN 
	
		SELECT @ISHOMEEMP=ISNULL(IS_HOME_EMPLOYEE,'') FROM CLT_CUSTOMER_LIST WITH (NOLOCK) WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID
		select @ISHOMEEMP
		IF @ISHOMEEMP<>''
		BEGIN
			
			DECLARE @STARTPOLPOS INT
			DECLARE @ENDPOLPOS INT
			DECLARE @INACTCUSTID VARCHAR(25)

			SET @STARTPOLPOS=CHARINDEX(@POLICY_NUMBER,@ISHOMEEMP,0)
			
			-- WHEN THE POLICY IS REVERTED BACK ,POLICY_NUMBER=CUSTOMER_ID STRING IN THE STORED FIELD HAS TO BE REMOVED
			
			IF @STARTPOLPOS>0
			BEGIN
				SET @ENDPOLPOS=CHARINDEX(',',@ISHOMEEMP,@STARTPOLPOS)
				SET @INACTCUSTID=SUBSTRING(@ISHOMEEMP,@STARTPOLPOS,(@ENDPOLPOS-@STARTPOLPOS)+1)
				SET @ISHOMEEMP=REPLACE(@ISHOMEEMP,@INACTCUSTID,'')

			-- UPDATING FIELD WITH THE REMAINING POLICY_NUMBER=CUSTOMER_ID OR BLANK STRING INTO THE SAME FIELD
				UPDATE CLT_CUSTOMER_LIST SET IS_HOME_EMPLOYEE=@ISHOMEEMP WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID				
			END
		END		
	END

	

	IF @@ERROR<>0
		BEGIN
			SET @RETFLAG=-34
			GOTO LOGERROR
		END

	DELETE FROM  POL_CUSTOMER_POLICY_LIST WHERE CUSTOMER_ID=@CNVR_CUSTOMER_ID AND POLICY_ID=@CNVR_POLICY_ID

	IF @@ERROR<>0
		BEGIN
			SET @RETFLAG=-33
			GOTO LOGERROR
		END	
END


SET @TRANS_TYPE_ID = 1  
SET @CLIENT_ID = @EXST_CUSTOMER_ID                    
SET @POLICY_ID = @MAXPOLID                    
SET @POLICY_VER_TRACKING_ID = 1   
SET @RECORD_DATE_TIME =GETDATE()  
IF @REVFLAG='N'
BEGIN
	SET @TRANS_DESC =@POLICY_NUMBER + ' policy of ' + @CNVR_NAME + ' is successfully transferred to customer:' + @EXST_NAME +'.'
END
ELSE
BEGIN
	SET @TRANS_DESC =@POLICY_NUMBER + ' policy of ' + @CNVR_NAME + ' is successfully transferred back to original customer:' + @EXST_NAME +'.'
END

SET @ENTITY_ID =0  
SET @ENTITY_TYPE = NULL  
SET @IS_COMPLETED = NULL  
SET @CHANGE_XML =NULL  
SET @APP_ID = 0  
SET @APP_VERSION_ID = 0  
SET @QUOTE_ID = 0  
SET @QUOTE_VERSION_ID = 0  
SET @USER_ID=3

IF @REVFLAG='N'
BEGIN
	SET @CUSTOM_INFO = ';Conversion Customer Name = ' + @CNVR_NAME + ';Existing Customer Name = ' + @EXST_NAME + ';Policy Number = ' + @POLICY_NUMBER  
END
ELSE
BEGIN
	SET @CUSTOM_INFO = ';Existing Customer Name = ' + @CNVR_NAME + ';Converted Customer Name = ' + @EXST_NAME + ';Policy Number = ' + @POLICY_NUMBER  
END
  
-- Entry on Tran Log of OLD customer  
SELECT @RECORDED_BY_NAME = USER_FNAME + ' ' + USER_LNAME  FROM MNT_USER_LIST WITH (NOLOCK) WHERE USER_ID=3  

EXEC Proc_InsertTransactionLog  @TRANS_TYPE_ID, @CLIENT_ID, @POLICY_ID, @POLICY_VER_TRACKING_ID, @USER_ID,                    
     @RECORDED_BY_NAME, @RECORD_DATE_TIME, @TRANS_DESC, @ENTITY_ID, @ENTITY_TYPE, @IS_COMPLETED, @CHANGE_XML,                    
     @APP_ID, @APP_VERSION_ID, @QUOTE_ID, @QUOTE_VERSION_ID, @CUSTOM_INFO  


IF @@ERROR<>0
BEGIN
		SET @RETFLAG=-300
		GOTO LOGERROR
END


COMMIT TRAN  
RETURN


LOGERROR:
BEGIN
ROLLBACK TRAN
END

RETURN

END



GO

