IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetAgencyDetails]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetAgencyDetails]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO



create PROCEDURE Proc_GetAgencyDetails   
  
@agency_code nvarchar(50)  
  
AS  
SELECT  
MAL.AGENCY_ADD1,  
MAL.AGENCY_ADD2,MAL.AGENCY_CITY,MAL.AGENCY_STATE,MAL.AGENCY_ZIP,MAL.AGENCY_COUNTRY,MAL.AGENCY_PHONE ,MAL.AGENCY_FAX  
FROM MNT_AGENCY_LIST MAL WHERE AGENCY_CODE=@AGENCY_CODE






GO

