IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetCustomer_Open_Items]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetCustomer_Open_Items]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------    
Proc Name       : Proc_GetCustomer_Open_Items    
Created by      : Vijay Joshi    
Date            : 1/July/2005    
Purpose      : Retreives the open items of specified customer    
Revison History :    
Used In   : Wolverine    
------------------------------------------------------------    
Date     Review By          Comments    
-----------------------------------------------------------*/    
 -- Proc_GetCustomer_Open_Items 1005,null  
-- drop proc dbo.Proc_GetCustomer_Open_Items 1360,9137    
create PROCEDURE dbo.Proc_GetCustomer_Open_Items     
(    
 @ENTITY_ID int,    
 @RECON_GROUP_ID int     
-- ,@PAGE_SIZE int = null,    
-- @CURRENT_PAGE_INDEX int= null    
)    
AS    
BEGIN    
-- DECLARE @STARTINDEX int, @ENDPAGEINDEX int     
    
 --SET @STARTINDEX =  ((@CURRENT_PAGE_INDEX - 1 ) * @PAGE_SIZE) + 1    
 --SET @ENDPAGEINDEX = @STARTINDEX + @PAGE_SIZE    
    
 SELECT Count(1)    
 FROM ACT_CUSTOMER_OPEN_ITEMS    
 WHERE IsNull(TOTAL_DUE,0) > IsNull(TOTAL_PAID,0) AND CUSTOMER_ID = @ENTITY_ID     
     
 CREATE TABLE #ACT_CUSTOMER_OPEN_ITEMS_TEMP    
 (    
  [IDENT_COL]  Int Identity(1,1),    
  UPDATED_FROM   varchar(50),    
  ITEM_REF_ID   int,    
  SOURCE_NUM varchar(50),    
  SOURCE_TRAN_DATE varchar(20),    
  SOURCE_EFF_DATE varchar(20),     
  POSTING_DATE varchar(20),    
  TOTAL_DUE decimal(18,2),    
  TOTAL_PAID decimal(18,2),    
  AGENCY_ID int,    
  CUSTOMER_ID int,    
  POLICY_ID int,    
  POLICY_VERSION_ID int,    
  BALANCE  decimal(18,2),    
  RECON_AMOUNT decimal(18,2),    
  IDEN_ROW_NO int,    
  DISPLAY_UPDATED_FROM varchar(50),    
  POLICY_NUMBER VARCHAR(15),    
  TRANSACTION_TYPE VARCHAR(100),
  DUE_DATE     varchar(20)
 )    
     
-- IF @RECON_GROUP_ID IS NULL    
-- BEGIN    
--  INSERT INTO #ACT_CUSTOMER_OPEN_ITEMS_TEMP    
--  (    
--  DISPLAY_UPDATED_FROM,   
--  ITEM_REF_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE,    
--  POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID,    
--  BALANCE, RECON_AMOUNT,    
--  IDEN_ROW_NO, UPDATED_FROM,   
--  POLICY_NUMBER,    
--  TRANSACTION_TYPE    
--  )    
--  SELECT     
--  CASE UPDATED_FROM WHEN 'J' THEN 'JOURNAL' WHEN 'D' THEN 'DEPOSIT' ELSE '' END, IDEN_ROW_ID,     
--  SOURCE_NUM, CONVERT(VARCHAR(20),SOURCE_TRAN_DATE,101) , CONVERT(VARCHAR(20),SOURCE_EFF_DATE, 101),    
--  POSTING_DATE, TOTAL_DUE, TOTAL_PAID, ACT_CUSTOMER_OPEN_ITEMS.AGENCY_ID, ACT_CUSTOMER_OPEN_ITEMS.CUSTOMER_ID, ACT_CUSTOMER_OPEN_ITEMS.POLICY_ID, ACT_CUSTOMER_OPEN_ITEMS.POLICY_VERSION_ID,    
--  ISNULL(TOTAL_DUE,0) - ISNULL(TOTAL_PAID,0) AS BALANCE, RGD.RECON_AMOUNT,    
--  RGD.IDEN_ROW_NO, UPDATED_FROM, RG.GROUP_ID, PCL.POLICY_NUMBER,    
--  CASE ACT_CUSTOMER_OPEN_ITEMS.ITEM_TRAN_CODE_TYPE     
--  WHEN 'FEES' THEN 'FEES'    
--  WHEN 'Pre' THEN 'Premium'    
--  WHEN 'CHK' THEN 'Check'    
--  WHEN 'DIS' THEN 'Discount'    
--  WHEN 'FEES' THEN 'FEES'    
--  WHEN 'PREM' THEN 'Premium'    
--  END    
--  FROM ACT_CUSTOMER_OPEN_ITEMS    
--  LEFT JOIN ACT_CUSTOMER_RECON_GROUP_DETAILS RGD ON ITEM_TYPE = ACT_CUSTOMER_OPEN_ITEMS.UPDATED_FROM AND     
--  ITEM_REFERENCE_ID = ACT_CUSTOMER_OPEN_ITEMS.IDEN_ROW_ID    
--  LEFT JOIN ACT_RECONCILIATION_GROUPS RG ON RG.GROUP_ID = RGD.GROUP_ID    
--  LEFT JOIN POL_CUSTOMER_POLICY_LIST PCL ON     
--  PCL.CUSTOMER_ID = ACT_CUSTOMER_OPEN_ITEMS.CUSTOMER_ID    
--  AND PCL.POLICY_ID = ACT_CUSTOMER_OPEN_ITEMS.POLICY_ID    
--  AND PCL.POLICY_VERSION_ID = ACT_CUSTOMER_OPEN_ITEMS.POLICY_VERSION_ID    
--  WHERE ISNULL(TOTAL_DUE,0) <> ISNULL(TOTAL_PAID,0) AND ACT_CUSTOMER_OPEN_ITEMS.CUSTOMER_ID = @ENTITY_ID   
--         ORDER BY RGD.RECON_AMOUNT  DESC  
--   
-- END    
-- ELSe    
-- BEGIN    
 INSERT INTO #ACT_CUSTOMER_OPEN_ITEMS_TEMP    
 (    
 DISPLAY_UPDATED_FROM,   
 ITEM_REF_ID, SOURCE_NUM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE,    
 POSTING_DATE, TOTAL_DUE, TOTAL_PAID, AGENCY_ID, CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID,    
 BALANCE, RECON_AMOUNT,    
 IDEN_ROW_NO, UPDATED_FROM,   
 POLICY_NUMBER,    
 TRANSACTION_TYPE ,DUE_DATE   
 )    
 SELECT   
 CASE ACOI.UPDATED_FROM 
  WHEN 'J' THEN 'JOURNAL'   
  WHEN 'D' THEN 'DEPOSIT'   
  WHEN 'C' THEN 'CHECK'  
  WHEN 'P' THEN 'PREMIUM'  
  ELSE '' END,   
 ACOI.IDEN_ROW_ID,ACOI.SOURCE_NUM, CONVERT(VARCHAR,ACOI.SOURCE_TRAN_DATE,101) , CONVERT(VARCHAR(20),ACOI.SOURCE_EFF_DATE, 101),    
 ACOI.POSTING_DATE, ACOI.TOTAL_DUE, ACOI.TOTAL_PAID, ACOI.AGENCY_ID, ACOI.CUSTOMER_ID, ACOI.POLICY_ID, ACOI.POLICY_VERSION_ID,    
 ISNULL(ACOI.TOTAL_DUE,0) - ISNULL(ACOI.TOTAL_PAID,0) AS BALANCE, RGD.RECON_AMOUNT,    
 RGD.IDEN_ROW_NO, 
 CASE ACOI.UPDATED_FROM WHEN 'J' THEN 'Journal Entry'   
  WHEN 'D' THEN 'Deposit'   
  WHEN 'C' THEN 'Check'  
  WHEN 'P' THEN 'Premium'  
  END,   
 PCL.POLICY_NUMBER,    
 CASE ACOI.ITEM_TRAN_CODE_TYPE
 WHEN 'FEES' THEN
	CASE ACOI.ITEM_TRAN_CODE 
	WHEN 'LF' THEN 'Late Fees'
	WHEN 'INSF' THEN 'Installment Fees'
	WHEN 'NSFF' Then 'NSF Fees'
	ELSE 'Fees' END
 WHEN 'PREM' THEN
	CASE  ACOI.ITEM_TRAN_CODE 
	WHEN 'SBWF' Then 'Small Balance WriteOff'
	ELSE 'Premium'    END
 WHEN 'CHK' THEN 'Check'    
 WHEN 'DIS' THEN 'Discount'    
 WHEN 'PREM' THEN 'Premium'    
 WHEN 'DEP' THEN 'Deposit'
 WHEN 'JE'  THEN 'Journal Entry'
 END ,
 
 convert(varchar,isnull(ACOI.DUE_DATE,''),101) as DUE_DATE  
 FROM ACT_CUSTOMER_OPEN_ITEMS  ACOI  
 LEFT JOIN ACT_CUSTOMER_RECON_GROUP_DETAILS RGD ON   
 RGD.ITEM_REFERENCE_ID = ACOI.IDEN_ROW_ID    
 AND RGD.GROUP_ID = @RECON_GROUP_ID  
 LEFT JOIN POL_CUSTOMER_POLICY_LIST PCL ON     
 PCL.CUSTOMER_ID = ACOI.CUSTOMER_ID    
 AND PCL.POLICY_ID = ACOI.POLICY_ID    
 AND PCL.POLICY_VERSION_ID = ACOI.POLICY_VERSION_ID    
 WHERE ISNULL(TOTAL_DUE,0) <> ISNULL(TOTAL_PAID,0) AND     
 ACOI.CUSTOMER_ID = @ENTITY_ID   
 --ORDER BY RGD.IDEN_ROW_NO DESC  
 ORDER BY ISNULL(RGD.IDEN_ROW_NO,2147483647),POLICY_NUMBER ,ACOI.DUE_DATE    
--END    
    
    
    
 SELECT * FROM #ACT_CUSTOMER_OPEN_ITEMS_TEMP    
 --WHERE IDENT_COL >= @STARTINDEX AND    
        --IDENT_COL <  @ENDPAGEINDEX     
    
    
 DROP TABLE #ACT_CUSTOMER_OPEN_ITEMS_TEMP    
END    
    
    
    







GO

