IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_MNT_REIN_UPDATE_SPLIT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_MNT_REIN_UPDATE_SPLIT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*  
CREATED BY   : Harmanjeet Singh  
CREATED DATE : April 27,2007  
Purpose   : To implement the Insert on the SPLIT DEDUCTION TABLE  
modified by  :Pravesh K chandel  
modified date :19 oct 2007  
purpose  : remove % to save innthe column 1stsplit and 2nd split   
*/  
--drop  PROCEDURE dbo.Proc_MNT_REIN_UPDATE_SPLIT  
create PROCEDURE dbo.Proc_MNT_REIN_UPDATE_SPLIT  
(  
 @REIN_SPLIT_DEDUCTION_ID INT,  
 @REIN_EFFECTIVE_DATE DATETIME,  
 @REIN_LINE_OF_BUSINESS NVARCHAR(50),  
 @REIN_STATE NVARCHAR(50),  
 @REIN_COVERAGE NVARCHAR(500),  
 @REIN_IST_SPLIT NCHAR(3),  
 @REIN_IST_SPLIT_COVERAGE NVARCHAR(100),  
 @REIN_2ND_SPLIT NCHAR(3),  
 @REIN_2ND_SPLIT_COVERAGE  NVARCHAR(100), 
 @POLICY_TYPE  NVARCHAR(100),  
 @MODIFIED_BY INT,  
 @LAST_UPDATED_DATETIME DATETIME  
   
  
)  
AS  
BEGIN  

IF EXISTS(SELECT DBO.INSTRING(REPLACE(ISNULL(A.POLICY_TYPE,''),',',' '),B.ITEM)ITEM,REIN_LINE_OF_BUSINESS AS RLOB,REIN_STATE AS RS  FROM MNT_REIN_SPLIT A
	LEFT JOIN DBO.FUNC_SPLIT(@POLICY_TYPE,',') B
	ON   DBO.INSTRING(REPLACE(ISNULL(A.POLICY_TYPE,''),',',' '),B.ITEM)>0
	WHERE  DBO.INSTRING(REPLACE(ISNULL(A.POLICY_TYPE,''),',',' '),B.ITEM)>0 
	AND A.REIN_STATE=@REIN_STATE and A.REIN_LINE_OF_BUSINESS=@REIN_LINE_OF_BUSINESS and REIN_SPLIT_DEDUCTION_ID <>@REIN_SPLIT_DEDUCTION_ID )
	BEGIN
		RETURN -2
	END 
else
begin 
UPDATE  MNT_REIN_SPLIT  
SET  
 REIN_SPLIT_DEDUCTION_ID=@REIN_SPLIT_DEDUCTION_ID,  
 REIN_EFFECTIVE_DATE=@REIN_EFFECTIVE_DATE,  
 REIN_LINE_OF_BUSINESS=@REIN_LINE_OF_BUSINESS,  
 REIN_STATE=@REIN_STATE,  
 REIN_COVERAGE=@REIN_COVERAGE,  
 REIN_IST_SPLIT=@REIN_IST_SPLIT ,--+ '%',  
 REIN_IST_SPLIT_COVERAGE=@REIN_IST_SPLIT_COVERAGE,  
 REIN_2ND_SPLIT=@REIN_2ND_SPLIT ,--+ '%',  
 REIN_2ND_SPLIT_COVERAGE =@REIN_2ND_SPLIT_COVERAGE ,  
 POLICY_TYPE=@POLICY_TYPE,
 MODIFIED_BY=@MODIFIED_BY,  
 LAST_UPDATED_DATETIME=@LAST_UPDATED_DATETIME  
WHERE  
REIN_SPLIT_DEDUCTION_ID=@REIN_SPLIT_DEDUCTION_ID  
   
end  
  
END  
  
  
  
  
  





GO

