IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_FetchAgencyProductionReport]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_FetchAgencyProductionReport]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*  =----------------------------------------------
Proc Name                : dbo.Proc_FetchAgencyProductionReport   
Create by     : Asfa Praveen                                                                     
Date                     : 20 Aug 2008  
Purpose                  : To get the Agency Written Premium Report  
Revison History          :    
Used In                  : Wolverine    
drop proc dbo.Proc_FetchAgencyProductionReport
*/  
create PROC [dbo].[Proc_FetchAgencyProductionReport]  
(  
@MONTH INT,  
@YEAR INT,  
@AGENCY_ID INT =NULL  
)  
AS  
  
BEGIN  
  
WITH   
EARNED_PREM AS  
(  
SELECT AEP.STATE_ID,AEP.AGENCY_ID,AEP.YEAR_NUMBER,AEP.MONTH_NUMBER,  
POLICY_LOB AS LOB_ID,  
--SUM(CASE WHEN AEP.CURRENT_TERM=1 THEN WRITTEN_PREMIUM ELSE 0 END) WRITTEN_PREMIUM_NBS,  
--SUM(CASE WHEN AEP.CURRENT_TERM<>1 THEN WRITTEN_PREMIUM ELSE 0 END) WRITTEN_PREMIUM_RENEW,  
  
SUM(CASE WHEN AEP.YEAR_NUMBER = @YEAR THEN CASE WHEN dbo.IsRenewedPolicy (PCPL.CUSTOMER_ID , PCPL.POLICY_ID , PCPL.POLICY_VERSION_ID ) <> 1  
THEN WRITTEN_PREMIUM ELSE 0 END ELSE 0 END) WRITTEN_PREMIUM_NBS_CURRENT,  

SUM(CASE WHEN AEP.YEAR_NUMBER = @YEAR THEN CASE WHEN 
--AEP.CURRENT_TERM<>1 
dbo.IsRenewedPolicy (PCPL.CUSTOMER_ID , PCPL.POLICY_ID , PCPL.POLICY_VERSION_ID ) = 1 
THEN WRITTEN_PREMIUM ELSE 0 END ELSE 0 END) WRITTEN_PREMIUM_RENEW_CURRENT,  
  
SUM(CASE WHEN AEP.YEAR_NUMBER = @YEAR-1 THEN CASE WHEN dbo.IsRenewedPolicy (PCPL.CUSTOMER_ID , PCPL.POLICY_ID , PCPL.POLICY_VERSION_ID ) <> 1  
THEN WRITTEN_PREMIUM ELSE 0 END ELSE 0 END) WRITTEN_PREMIUM_NBS_PREVIOUS,  

SUM(CASE WHEN AEP.YEAR_NUMBER = @YEAR-1 THEN CASE WHEN 
--AEP.CURRENT_TERM<>1 
dbo.IsRenewedPolicy (PCPL.CUSTOMER_ID , PCPL.POLICY_ID , PCPL.POLICY_VERSION_ID ) = 1 

THEN WRITTEN_PREMIUM ELSE 0 END ELSE 0 END) WRITTEN_PREMIUM_RENEW_PREVIOUS,  
  
SUM(CASE WHEN AEP.YEAR_NUMBER = @YEAR THEN EARNED_PREMIUM ELSE 0 END) EARNED_PREMIUM  
  
  
FROM ACT_EARNED_PREMIUM AEP   
INNER JOIN POL_CUSTOMER_POLICY_LIST PCPL 
ON PCPL.CUSTOMER_ID=AEP.CUSTOMER_ID 
AND PCPL.POLICY_ID=AEP.POLICY_ID 
AND PCPL.POLICY_NUMBER=AEP.POLICY_NUMBER 
AND PCPL.CURRENT_TERM=AEP.CURRENT_TERM
and PCPL.policy_version_id = (SELECT MAX(PCPL1.Policy_version_id) FROM POL_CUSTOMER_POLICY_LIST PCPL1                   
WHERE AEP.CUSTOMER_ID = PCPL1.CUSTOMER_ID AND AEP.POLICY_ID = PCPL1.POLICY_ID
	AND PCPL1.POLICY_NUMBER	= AEP.POLICY_NUMBER 
	AND PCPL1.CURRENT_TERM	= AEP.CURRENT_TERM
)
where COVERAGEID NOT IN (20007,20008,20009,20010,20011) --MCCAF AND MCCACYF  
AND (AEP.YEAR_NUMBER =@YEAR or AEP.YEAR_NUMBER = @YEAR-1)  
  
GROUP BY AEP.STATE_ID,AEP.AGENCY_ID,POLICY_LOB,YEAR_NUMBER,MONTH_NUMBER  
  
),  
ENFORCE_COUNT AS  
(  
SELECT STATE_ID,AGENCY_ID,LOB_ID,YEAR_NUMBER,MONTH_NUMBER,  
SUM(INFORCE_TOTAL)  INFORCE_TOTAL,  
SUM(NBS_COMMITTED)  NBS_COMMITTED,  
SUM(NBS_CANCEL)  NBS_CANCEL,  
SUM(RENEWAL_COMMITTED)  RENEWAL_COMMITTED,  
SUM(RENEWAL_CANCEL)  RENEWAL_CANCEL,  
  
SUM(case when YEAR_NUMBER =@YEAR then INFORCE_TOTAL else 0 end)  INFORCE_TOTAL_CURRENT,  
SUM(case when YEAR_NUMBER =@YEAR then NBS_EFFECTIVE else 0 end)  NBS_EFFECTIVE_CURRENT,  
--SUM(case when YEAR_NUMBER =@YEAR then NBS_EFFECTIVE_CANCEL else 0 end)  NBS_EFFECTIVE_CANCEL_CURRENT,   Modified on 29 jan 09 by Pravesh
SUM(case when YEAR_NUMBER =@YEAR then NBS_CANCEL else 0 end) - SUM(case when YEAR_NUMBER =@YEAR then NBS_REINSTATE else 0 end)  NBS_EFFECTIVE_CANCEL_CURRENT,  
  
SUM(case when YEAR_NUMBER =@YEAR then RENEWAL_EFFECTIVE else 0 end)  RENEWAL_EFFECTIVE_CURRENT,  
--SUM(case when YEAR_NUMBER =@YEAR then RENEWAL_EFFECTIVE_CANCEL else 0 end)  RENEWAL_EFFECTIVE_CANCEL_CURRENT,  Modified on 29 jan 09 by Pravesh
SUM(case when YEAR_NUMBER =@YEAR then RENEWAL_CANCEL else 0 end) -SUM(case when YEAR_NUMBER =@YEAR then  RENEWAL_REINSTATE else 0 end) RENEWAL_EFFECTIVE_CANCEL_CURRENT,  
  
SUM(case when YEAR_NUMBER =@YEAR-1  then INFORCE_TOTAL else 0 end)  INFORCE_TOTAL_PREVIOUS,  
SUM(case when YEAR_NUMBER =@YEAR-1  then NBS_EFFECTIVE else 0 end)  NBS_EFFECTIVE_PREVIOUS  
  
  
FROM ACT_AGENCY_LOB_PREMIUM   
where (YEAR_NUMBER =@YEAR or YEAR_NUMBER = @YEAR-1)  
GROUP BY STATE_ID,AGENCY_ID,LOB_ID,YEAR_NUMBER,MONTH_NUMBER  
),  
  
PAID_LOSS AS  
(  
SELECT VWCLM.STATE_ID,VWCLM.AGENCY_ID,VWCLM.LOB_ID AS LOB_ID,ACTV_YEAR,ACTV_MONTH,  
ISNULL(SUM(CASE WHEN ACTION_ON_PAYMENT IN (180,181,176,177) THEN ISNULL(AMOUNT,0) ELSE 0 END),0) -  
ISNULL(SUM(CASE WHEN ACTION_ON_PAYMENT IN (63,64,70,188,240,242,243,244,245) THEN ISNULL(AMOUNT,0) ELSE 0 END),0)  AS LOSS_PAID  
FROM VW_CLAIM_TRANSACTION_DETAIL VWCLM  
--INNER JOIN POL_CUSTOMER_POLICY_LIST PCPL WITH(NOLOCK) ON PCPL.CUSTOMER_ID=VWCLM.CUSTOMER_ID AND PCPL.POLICY_ID=VWCLM.POLICY_ID   
--AND PCPL.POLICY_NUMBER=VWCLM.POLICY_NUMBER  
WHERE (ACTV_YEAR = @YEAR OR ACTV_YEAR =@YEAR-1 )  
GROUP BY VWCLM.STATE_ID,VWCLM.AGENCY_ID,VWCLM.LOB_ID,ACTV_YEAR,ACTV_MONTH  
)  
,  
PAID_LOSS_INCURRED AS  
(  
SELECT PL.STATE_ID,PL.AGENCY_ID,PL.LOB_ID,BE.YEAR_NUMBER ,BE.MONTH_NUMBER,  
(ISNULL(END_RESERVE,0) + ISNULL(PL.LOSS_PAID ,0))- ISNULL(BEGIN_RESERVE,0) AS LOSSES_INCURRED,  
 PL.LOSS_PAID  
FROM VW_BEGINING_ENDING_RESERVE BE   
INNER JOIN PAID_LOSS PL ON PL.STATE_ID=BE.STATE_ID AND PL.AGENCY_ID=BE.AGENCY_ID  
AND PL.LOB_ID=BE.LOB_ID AND PL.ACTV_YEAR=BE.YEAR_NUMBER AND PL.ACTV_MONTH=BE.MONTH_NUMBER  
WHERE (BE.YEAR_NUMBER =@YEAR OR BE.YEAR_NUMBER=@YEAR-1)  
)  
  
SELECT ST.STATE_NAME,AG.AGENCY_CODE,AG.AGENCY_DISPLAY_NAME,LB.LOB_DESC,FINAL.* FROM  
(  
SELECT EP.STATE_ID,EP.AGENCY_ID,EP.LOB_ID,EP.YEAR_NUMBER,@MONTH as MONTH_NUMBER,  
SUM(CASE WHEN EP.MONTH_NUMBER=@MONTH THEN WRITTEN_PREMIUM_NBS_CURRENT ELSE 0 END) AS WRITTEN_PREMIUM_NBS,  
SUM(CASE WHEN EP.MONTH_NUMBER=@MONTH THEN NBS_EFFECTIVE_CURRENT ELSE 0 END) NBS_EFFECTIVE_CURRENT,  
SUM(CASE WHEN EP.MONTH_NUMBER=@MONTH THEN NBS_EFFECTIVE_CANCEL_CURRENT ELSE 0 END ) NBS_EFFECTIVE_CANCEL,  
  
SUM(CASE WHEN EP.MONTH_NUMBER=@MONTH THEN WRITTEN_PREMIUM_RENEW_CURRENT ELSE 0 END) AS WRITTEN_PREMIUM_RENEW,  
SUM(CASE WHEN EP.MONTH_NUMBER=@MONTH THEN RENEWAL_EFFECTIVE_CURRENT ELSE 0 END) RENEWAL_EFFECTIVE,  
SUM(CASE WHEN EP.MONTH_NUMBER=@MONTH THEN RENEWAL_EFFECTIVE_CANCEL_CURRENT ELSE 0 END) RENEWAL_EFFECTIVE_CANCEL,  
  
SUM(WRITTEN_PREMIUM_NBS_CURRENT) AS WRITTEN_PREMIUM_NBS_YTD,   
SUM(NBS_EFFECTIVE_CURRENT) NBS_EFFECTIVE_YTD,  
--SUM(NBS_EFFECTIVE_CANCEL_CURRENT) NBS_CANCEL_YTD,  
  
SUM(WRITTEN_PREMIUM_RENEW_CURRENT) AS WRITTEN_PREMIUM_RENEW_YTD,  
SUM(RENEWAL_EFFECTIVE_CURRENT) RENEWAL_EFFECTIVE_YTD,  
  
SUM(isnull(NBS_EFFECTIVE_CANCEL_CURRENT,0)) + SUM(isnull(RENEWAL_EFFECTIVE_CANCEL_CURRENT,0)) as TOTAL_CANCEL_YTD,  
  
SUM(WRITTEN_PREMIUM_NBS_CURRENT) + SUM(WRITTEN_PREMIUM_RENEW_CURRENT) AS TOTAL_WRITTEN_PREMIUM_YTD,  
--SUM(INFORCE_TOTAL) AS TOTAL_INFORCE,  
 SUM(CASE WHEN EC.MONTH_NUMBER=@MONTH THEN INFORCE_TOTAL ELSE 0 END) AS TOTAL_INFORCE,  

SUM(CASE WHEN EP.MONTH_NUMBER<=@MONTH THEN WRITTEN_PREMIUM_NBS_PREVIOUS ELSE 0 END) AS WRITTEN_PREMIUM_PREVIOUS_YTD,  
--SUM(CASE WHEN EP.MONTH_NUMBER<=@MONTH THEN NBS_EFFECTIVE_PREVIOUS ELSE 0 END) NBS_EFFECTIVE_PREVIOUS,  
SUM(CASE WHEN EC.MONTH_NUMBER<=@MONTH THEN INFORCE_TOTAL_PREVIOUS ELSE 0 END) INFORCE_TOTAL_PREVIOUS,  
  
sum(EARNED_PREMIUM) EARNED_PREMIUM,  
  
isnull(SUM(isnull(PLI.LOSSES_INCURRED, 0)),0) AS LOSSES_INCURRED,  
isnull(SUM(isnull(PLI.LOSS_PAID, 0)),0) AS LOSS_PAID   
  
FROM EARNED_PREM EP  
INNER JOIN ENFORCE_COUNT EC ON   
EP.STATE_ID=EC.STATE_ID AND EP.AGENCY_ID=EC.AGENCY_ID   
AND EP.LOB_ID=EC.LOB_ID AND EP.MONTH_NUMBER=EC.MONTH_NUMBER AND EP.YEAR_NUMBER=EC.YEAR_NUMBER  
  
FULL OUTER JOIN PAID_LOSS_INCURRED PLI ON PLI.STATE_ID=EP.STATE_ID AND PLI.AGENCY_ID=EP.AGENCY_ID  
AND PLI.LOB_ID=EP.LOB_ID AND PLI.YEAR_NUMBER=EP.YEAR_NUMBER AND PLI.MONTH_NUMBER=EP.MONTH_NUMBER  
   
WHERE (EP.YEAR_NUMBER=@YEAR or EP.YEAR_NUMBER=@YEAR-1)
AND EP.MONTH_NUMBER <= @MONTH  
AND EP.AGENCY_ID=ISNULL(@AGENCY_ID,EP.AGENCY_ID)  
GROUP BY EP.STATE_ID,EP.AGENCY_ID,EP.LOB_ID,EP.YEAR_NUMBER  
) FINAL   
  
LEFT OUTER JOIN MNT_COUNTRY_STATE_LIST ST ON ST.STATE_ID=FINAL.STATE_ID  
LEFT OUTER JOIN MNT_LOB_MASTER LB ON LB.LOB_ID=FINAL.LOB_ID  
LEFT OUTER JOIN MNT_AGENCY_LIST AG ON AG.AGENCY_ID=FINAL.AGENCY_ID  
  
END  
  
  
  









GO

