IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetEFTSweepHistory]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetEFTSweepHistory]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--begin  tran
--drop proc Proc_GetEFTSweepHistory 
--go
/*----------------------------------------------------------                      
Proc Name       :  dbo.Proc_GetEFTSweepHistory      
Created by      :  Ravindra      
Date            :  07-02-2007      
Purpose         :        
Revison History :                      
Used In         :  Wolverine                      
                   
exec       
Proc_GetEFTSweepHistory   '04/23/2007','10/25/2007',null,null,null      
      
------------------------------------------------------------                      
Date     Review By          Comments                      
------   ------------       -------------------------*/                      
-- drop PROC dbo.Proc_GetEFTSweepHistory      
CREATE PROC [dbo].[Proc_GetEFTSweepHistory]      
(      
 @FROM_DATE_SPOOL Datetime = null,      
 @TO_DATE_SPOOL   DateTime = null,      
 @FROM_DATE_SWEEP Datetime = null,      
 @TO_DATE_SWEEP   DateTime = null,      
 @ENTITY_TYPE     Varchar(5) = null,
 @TRANSACTION_AMOUNT decimal(18,2) = null          
)      
AS      
BEGIN       
 --Case Added in Amount For Itrack Issue #6738     
DECLARE @QUERY Varchar(5000)      
      
SET @QUERY =       
'SELECT       
CASE SPOOL.ENTITY_TYPE WHEN ''CUST'' THEN ''Customer''      
 WHEN ''AGN'' THEN ''Agency''      
 WHEN ''VEN'' Then ''Vendor''       
END AS ENTITY_TYPE,      
CASE SPOOL.ENTITY_TYPE       
WHEN ''CUST''      
 THEN ISNULL(CUST.CUSTOMER_FIRST_NAME,'''') + '' ''  +       
  ISNULL(CUST.CUSTOMER_MIDDLE_NAME,'''') + '' '' +       
  ISNULL(CUST.CUSTOMER_LAST_NAME,'''')       
WHEN ''AGN''       
 THEN ISNULL(AGN.AGENCY_CODE,'''') + '' - '' +       
  ISNULL(AGN.AGENCY_DISPLAY_NAME,'''')      
WHEN ''VEN''       
 Then ISNULL(VEN.VENDOR_CODE,'''') + '' - '' +       
  ISNULL(VEN.COMPANY_NAME,'''')       
END AS ENTITY_NAME,      
ISNULL(SPOOL.POLICY_NUMBER,'''') AS POLICY_NUMBER,
CASE TRANSACTION_CODE WHEN 12 THEN CONVERT(MONEY,(ISNULL(SPOOL.TRANSACTION_AMOUNT,0)*-1),1)
ELSE CONVERT(MONEY,ISNULL( SPOOL.TRANSACTION_AMOUNT,0),1) END AS AMOUNT,      
CONVERT(VARCHAR,SPOOL.CREATED_DATETIME) AS SPOOLED_DATETIME ,      
CONVERT(VARCHAR,SPOOL.PROCESSED_DATETIME)AS PROCESSED_DATETIME,      
CASE SPOOL.PROCESSED WHEN ''Y'' THEN ''Done''       
 ELSE ''Failed''       
END AS STATUS,      
ISNULL(SPOOL.ERROR_DESCRIPTION,'''') AS ADDITIONAL_INFO,      
ISNULL(CONVERT(VARCHAR,CHK.CHECK_NUMBER),'''') AS CHECK_NUMBER ,      
ISNULL(CONVERT(VARCHAR,DEP.DEPOSIT_NUMBER),'''') AS DEPOSIT_NUMBER,    
HIS.NACHA_FILE_NAME,  
CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL( HIS.TOTAL_DEBIT,0)),1) AS TOTAL_DEBIT,  
CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL( HIS.TOTAL_CREDIT,0)),1) AS TOTAL_CREDIT,    
convert(varchar,HIS.CREATED_DATE_TIME,109) as CREATED_DATE_TIME,  
ISNULL(SPOOL.BATCH_NUMBER,'''') AS BATCH_NUMBER,  
SPOOL.ENTITY_TYPE AS ENTITY_TYPE_CODE  
FROM EOD_EFT_SPOOL SPOOL      
LEFT JOIN CLT_CUSTOMER_LIST CUST      
ON SPOOL.ENTITY_ID  = CUST.CUSTOMER_ID       
LEFT JOIN MNT_AGENCY_LIST AGN      
ON SPOOL.ENTITY_ID  = AGN.AGENCY_ID       
LEFT JOIN MNT_VENDOR_LIST VEN       
ON SPOOL.ENTITY_ID  = VEN.VENDOR_ID       
LEFT JOIN ACT_CURRENT_DEPOSITS DEP      
ON DEP.DEPOSIT_ID = SPOOL.REF_DEPOSIT_ID      
LEFT JOIN ACT_CHECK_INFORMATION CHK      
ON CHK.CHECK_ID  = SPOOL.REF_CHECK_ID    
LEFT JOIN ACT_NACHA_UPLOAD_HISTORY HIS    
ON   
SPOOL.ENTITY_TYPE=HIS.ENTITY_TYPE and   
SPOOL.BATCH_NUMBER=HIS.BATCH_NUMBER    
WHERE SPOOL.PROCESSED IS NOT NULL '      
      
IF( @FROM_DATE_SPOOL IS NOT NULL)      
BEGIN       
 SET @QUERY   = @QUERY  +  ' AND CAST(CONVERT(VARCHAR,SPOOL.CREATED_DATETIME,101) AS DATETIME) >= '''       
  + CONVERT(VARCHAR,@FROM_DATE_SPOOL) + ''''      
END      
      
IF( @TO_DATE_SPOOL IS NOT NULL)      
BEGIN       
 SET @QUERY   = @QUERY  +  ' AND CAST(CONVERT(VARCHAR,SPOOL.CREATED_DATETIME,101) AS DATETIME) <= '''       
  + CONVERT(VARCHAR,@TO_DATE_SPOOL) + ''''      
END      
      
IF( @FROM_DATE_SWEEP IS NOT NULL)      
BEGIN       
 SET @QUERY   = @QUERY  +  ' AND CAST(CONVERT(VARCHAR,SPOOL.PROCESSED_DATETIME,101) AS DATETIME) >= '''       
  + CONVERT(VARCHAR,@FROM_DATE_SWEEP) + ''''      
END      
      
IF( @TO_DATE_SWEEP IS NOT NULL)      
BEGIN       
 SET @QUERY   = @QUERY  +  ' AND CAST(CONVERT(VARCHAR,SPOOL.PROCESSED_DATETIME,101) AS DATETIME) <= '''       
  + CONVERT(VARCHAR,@TO_DATE_SWEEP) + ''''      
END   
   
IF(@ENTITY_TYPE  IS NOT NULL)      
BEGIN       
 SET @QUERY   = @QUERY  +  ' AND SPOOL.ENTITY_TYPE = '''  + @ENTITY_TYPE + ''''        
      
END     

IF(@TRANSACTION_AMOUNT IS NOT NULL)
BEGIN
	SET @QUERY   = @QUERY  + ' AND SPOOL.TRANSACTION_AMOUNT = ' + CONVERT(VARCHAR,@TRANSACTION_AMOUNT)
END 
      
SET @QUERY   = @QUERY + '  ORDER BY ENTITY_TYPE,SPOOL.BATCH_NUMBER,SPOOL.IDEN_ROW_ID'      
  
--print(@QUERY)  
   
EXEC (@QUERY )     
  
 --TOTAL_DEBIT,TOTAL_CREDIT Formated For Itrack Issue #6445
DECLARE @QUERY_BATCH Varchar(5000)     
set @QUERY_BATCH = '  
select distinct HIS.BATCH_NUMBER ,  
CASE SPOOL.ENTITY_TYPE WHEN ''CUST'' THEN ''Customer''      
 WHEN ''AGN'' THEN ''Agency''      
 WHEN ''VEN'' Then ''Vendor''       
END AS ENTITY_TYPE,   
NACHA_FILE_NAME,  
CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL(TOTAL_DEBIT,0)),1) AS TOTAL_DEBIT, 
CONVERT(VARCHAR(30),CONVERT(MONEY,ISNULL(TOTAL_CREDIT,0)),1) AS TOTAL_CREDIT,
CREATED_DATE_TIME ,  
SPOOL.ENTITY_TYPE AS ENTITY_TYPE_CODE,  
 (SELECT COUNT(TRANSACTION_CODE) FROM EOD_EFT_SPOOL WHERE BATCH_NUMBER = HIS.BATCH_NUMBER AND  
ENTITY_TYPE=HIS.ENTITY_TYPE AND BATCH_NUMBER = HIS.BATCH_NUMBER AND TRANSACTION_CODE =12 AND EOD_EFT_SPOOL.PROCESSED=''Y'')  
AS TRANSACTION_CODE_CREDIT,  
 (SELECT COUNT(TRANSACTION_CODE) FROM EOD_EFT_SPOOL WHERE BATCH_NUMBER = HIS.BATCH_NUMBER AND  
ENTITY_TYPE=HIS.ENTITY_TYPE AND BATCH_NUMBER = HIS.BATCH_NUMBER AND TRANSACTION_CODE =11 AND EOD_EFT_SPOOL.PROCESSED=''Y'')  
AS TRANSACTION_CODE_DEBIT  
  
from ACT_NACHA_UPLOAD_HISTORY HIS  
LEFT join EOD_EFT_SPOOL SPOOL on  
 SPOOL.ENTITY_TYPE=HIS.ENTITY_TYPE and   
SPOOL.BATCH_NUMBER=HIS.BATCH_NUMBER    
WHERE SPOOL.PROCESSED IS NOT NULL '  
  
IF( @FROM_DATE_SPOOL IS NOT NULL)      
BEGIN       
 SET @QUERY_BATCH   = @QUERY_BATCH  +  ' AND CAST(CONVERT(VARCHAR,SPOOL.CREATED_DATETIME,101) AS DATETIME) >= '''       
  + CONVERT(VARCHAR,@FROM_DATE_SPOOL) + ''''      
END      
      
IF( @TO_DATE_SPOOL IS NOT NULL)      
BEGIN       
 SET @QUERY_BATCH   = @QUERY_BATCH  +  ' AND CAST(CONVERT(VARCHAR,SPOOL.CREATED_DATETIME,101) AS DATETIME) <= '''       
  + CONVERT(VARCHAR,@TO_DATE_SPOOL) + ''''      
END      
      
IF( @FROM_DATE_SWEEP IS NOT NULL)      
BEGIN       
 SET @QUERY_BATCH   = @QUERY_BATCH  +  ' AND CAST(CONVERT(VARCHAR,SPOOL.PROCESSED_DATETIME,101) AS DATETIME) >= '''       
  + CONVERT(VARCHAR,@FROM_DATE_SWEEP) + ''''      
END      
      
IF( @TO_DATE_SWEEP IS NOT NULL)      
BEGIN       
 SET @QUERY_BATCH   = @QUERY_BATCH  +  ' AND CAST(CONVERT(VARCHAR,SPOOL.PROCESSED_DATETIME,101) AS DATETIME) <= '''       
  + CONVERT(VARCHAR,@TO_DATE_SWEEP) + ''''      
END   
   
IF(@ENTITY_TYPE  IS NOT NULL)      
BEGIN       
 SET @QUERY_BATCH   = @QUERY_BATCH  +  ' AND SPOOL.ENTITY_TYPE = '''  + @ENTITY_TYPE + ''''        
      
END   

IF(@TRANSACTION_AMOUNT IS NOT NULL)
BEGIN
	SET @QUERY_BATCH   = @QUERY_BATCH  + ' AND SPOOL.TRANSACTION_AMOUNT = ' + CONVERT(VARCHAR,@TRANSACTION_AMOUNT)
END 
  
SET @QUERY_BATCH   = @QUERY_BATCH + '  ORDER BY SPOOL.ENTITY_TYPE'      
  

EXEC (@QUERY_BATCH )   
  
   
END    
--go
--exec Proc_GetEFTSweepHistory null,null,null,null,null,null
--rollback tran










GO

