IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_CopyApplicationAttachment]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_CopyApplicationAttachment]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*----------------------------------------------------------    
Proc Name       : dbo.Proc_CopyAppCoverages    
Created by      : Vijay Arora    
Date            : 06-10-2005    
Purpose     : To Copy the application attachments to new version of the application.    
Revison History :    
Used In  : Wolverine    
------------------------------------------------------------    
Date     Review By          Comments    
------   ------------       -------------------------*/    
--DROP proc dbo.Proc_CopyApplicationAttachment   
CREATE  proc dbo.Proc_CopyApplicationAttachment    
(    
@CUSTOMER_ID INTEGER,    
@APP_ID INTEGER,    
@APP_VERSION_ID INTEGER,    
@NEW_APP_VERSION_ID INTEGER    
)    
AS    
  
BEGIN    
 INSERT INTO MNT_ATTACHMENT_LIST     
 (    
 ATTACH_LOC,ATTACH_ENT_ID, ATTACH_FILE_NAME, ATTACH_DATE_TIME, ATTACH_USER_ID, ATTACH_FILE_DESC,    
 ATTACH_POLICY_ID,ATTACH_POLICY_VER_TRACKING_ID,ATTACH_GEN_FILE_NAME,ATTACH_FILE_TYPE, ATTACH_ENTITY_TYPE,     
 ATTACH_CUSTOMER_ID, ATTACH_APP_ID,ATTACH_APP_VER_ID, SOURCE_ATTACH_ID, IS_ACTIVE,ATTACH_TYPE  
 )    
 SELECT ATTACH_LOC,ATTACH_ENT_ID, ATTACH_FILE_NAME, ATTACH_DATE_TIME, ATTACH_USER_ID, ATTACH_FILE_DESC,    
 ATTACH_POLICY_ID,ATTACH_POLICY_VER_TRACKING_ID,ATTACH_GEN_FILE_NAME,ATTACH_FILE_TYPE, ATTACH_ENTITY_TYPE,     
 ATTACH_CUSTOMER_ID, ATTACH_APP_ID,@NEW_APP_VERSION_ID , SOURCE_ATTACH_ID, IS_ACTIVE,ATTACH_TYPE
--@NEW_APP_VERSION_ID     
 FROM MNT_ATTACHMENT_LIST     
 WHERE ATTACH_CUSTOMER_ID = @CUSTOMER_ID AND ATTACH_APP_ID = @APP_ID AND ATTACH_APP_VER_ID = @APP_VERSION_ID   
 /*   
 INSERT INTO MNT_ATTACHMENT_LIST     
 (    
 ATTACH_LOC,ATTACH_ENT_ID, ATTACH_FILE_NAME, ATTACH_DATE_TIME, ATTACH_USER_ID, ATTACH_FILE_DESC,    
 ATTACH_POLICY_ID,ATTACH_POLICY_VER_TRACKING_ID,ATTACH_GEN_FILE_NAME,ATTACH_FILE_TYPE, ATTACH_ENTITY_TYPE,     
 ATTACH_CUSTOMER_ID, ATTACH_APP_ID, SOURCE_ATTACH_ID, IS_ACTIVE     
 )    
 SELECT ATTACH_LOC,ATTACH_ENT_ID, ATTACH_FILE_NAME, ATTACH_DATE_TIME, ATTACH_USER_ID, ATTACH_FILE_DESC,    
 ATTACH_POLICY_ID,ATTACH_POLICY_VER_TRACKING_ID,ATTACH_GEN_FILE_NAME,ATTACH_FILE_TYPE, ATTACH_ENTITY_TYPE,     
 ATTACH_CUSTOMER_ID, ATTACH_APP_ID, SOURCE_ATTACH_ID, IS_ACTIVE     
 FROM MNT_ATTACHMENT_LIST     
 WHERE ATTACH_CUSTOMER_ID = @CUSTOMER_ID AND ATTACH_APP_ID = @APP_ID AND ATTACH_APP_VER_ID = @APP_VERSION_ID    
    
 UPDATE MNT_ATTACHMENT_LIST SET ATTACH_APP_VER_ID = @NEW_APP_VERSION_ID, ATTACH_DATE_TIME = GETDATE()     
 WHERE ATTACH_CUSTOMER_ID = @CUSTOMER_ID AND ATTACH_APP_ID = @APP_ID    
 AND ATTACH_APP_VER_ID IS NULL    
 */     
END    
    
   


GO

