IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_UpdateSysClauses]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_UpdateSysClauses]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- =============================================  
-- Author:  Charles Gomes  
-- Create date: 10-June-2010  
-- Description: Update System Defined Policy Clauses   
-- DROP PROC Proc_UpdateSysClauses  2171,17,1,2,null,null,248,null,null
-- =============================================  
CREATE PROC [dbo].[Proc_UpdateSysClauses]   
 

@CUSTOMER_ID INT,
@POLICY_ID INT,
@POLICY_VERSION_ID INT,
@CLAUSE_ID INT ,
@CLAUSE_TITLE NVARCHAR(100) = NULL,  
@CLAUSE_DESCRIPTION NVARCHAR(500) =NULL, 
@MODIFIED_BY INT ,
@CLAUSE_TYPE int=null,
@ATTACH_FILE_NAME nvarchar(510)=null 

AS  

BEGIN   
 IF EXISTS(SELECT POL_CLAUSE_ID FROM POL_CLAUSES WITH(NOLOCK) WHERE 
 CUSTOMER_ID=@CUSTOMER_ID
  AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID 
 AND CLAUSE_ID =@CLAUSE_ID)  
 BEGIN  	 
	  UPDATE POL_CLAUSES SET CLAUSE_TITLE = @CLAUSE_TITLE , CLAUSE_DESCRIPTION = @CLAUSE_DESCRIPTION,  LAST_UPDATED_DATETIME = GETDATE(),
	  MODIFIED_BY = @MODIFIED_BY ,CLAUSE_TYPE=@CLAUSE_TYPE,
	  ATTACH_FILE_NAME=@ATTACH_FILE_NAME
	  WHERE CUSTOMER_ID=@CUSTOMER_ID
	   AND POLICY_ID=@POLICY_ID AND POLICY_VERSION_ID=@POLICY_VERSION_ID AND CLAUSE_ID =@CLAUSE_ID  
	 
 END  
END
GO

