IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_ReconcileDiscountItems]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_ReconcileDiscountItems]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

 /*----------------------------------------------------------  
Proc Name       : Proc_ReconcileDiscountItems
Created by      : Ravindra 
Date            : 07-31-2007  
Purpose      	: Reconciles the Discount Amount with corresponding installments
Revison History :  
Modified By		: 
Modified Date 	: 
Purpose			: 
------------------------------------------------------------  
Date     Review By          Comments  
------   ------------       --------------------------------*/  
-- drop proc dbo.Proc_ReconcileDiscountItems
CREATE PROC [dbo].[Proc_ReconcileDiscountItems]
(
		@CUSTOMER_ID		Int,
		@POLICY_ID			Int,
		@POLICY_VERSION_ID	Int,
		@RISK_ID			Int,
		@RISK_TYPE			Char(10),
		@IS_FULLPAY			Char(1)
) 
AS 
BEGIN 


CREATE TABLE #TEMP_RECON 
(
	ITEM_REFRENCE_ID Int,
	RECON_AMOUNT	 Decimal(18,2) 
)

DECLARE @IDEN_COL				Int,
		@INS_NO					Int,
		@DISCOUNT_OPEN_ITEM_ID	Int,
		@DISCOUNT_AMOUNT		Decimal(18,2),
		@INSTALL_OPEN_ITEM_ID	Int

IF(@IS_FULLPAY <> 'Y')
BEGIN 
	CREATE TABLE #DISCOUNT_ITEMS
	(
		IDEN_COL		Int Identity(1,1),
		INSTALLMENT_NO	Int,
		OPEN_ITEM_ID	Int ,
		AMOUNT			DECIMAL(18,2)
	)

	INSERT INTO #DISCOUNT_ITEMS
		(OPEN_ITEM_ID , INSTALLMENT_NO , AMOUNT )
	SELECT OI.IDEN_ROW_ID,INSD.INSTALLMENT_NO , OI.TOTAL_DUE
	FROM ACT_POLICY_INSTALLMENT_DETAILS INSD
	INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OI
	ON OI.INSTALLMENT_ROW_ID = INSD.ROW_ID
		AND OI.ITEM_TRAN_CODE = 'DISC'
		AND OI.ITEM_TRAN_CODE_TYPE = 'PREM'
	WHERE   INSD.CUSTOMER_ID = @CUSTOMER_ID 
		AND INSD.POLICY_ID = @POLICY_ID 
		AND INSD.POLICY_VERSION_ID  = @POLICY_VERSION_ID 
		AND INSD.RISK_ID = @RISK_ID
		AND INSD.RISK_TYPE = @RISK_TYPE 
		AND ISNULL(OI.TOTAL_PAID ,0) = 0 
	ORDER BY INSD.INSTALLMENT_NO

	SET @IDEN_COL = 1
	
	WHILE (1=1) 
	BEGIN 
		IF NOT EXISTS(SELECT IDEN_COL FROM #DISCOUNT_ITEMS WHERE IDEN_COL = @IDEN_COL)
		BEGIN 
			BREAK
		END	
		SELECT @INS_NO					= INSTALLMENT_NO,
				@DISCOUNT_OPEN_ITEM_ID	= OPEN_ITEM_ID ,
				@DISCOUNT_AMOUNT		= AMOUNT
		FROM #DISCOUNT_ITEMS 
		WHERE IDEN_COL = @IDEN_COL
		
		IF (  
				(
				SELECT SUM(ISNULL(TOTAL_DUE,0)) 
				FROM ACT_POLICY_INSTALLMENT_DETAILS INSD
				INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OI
				ON OI.INSTALLMENT_ROW_ID = INSD.ROW_ID
					AND OI.ITEM_TRAN_CODE <> 'DISC'
					AND OI.ITEM_TRAN_CODE_TYPE = 'PREM'
				WHERE   INSD.CUSTOMER_ID = @CUSTOMER_ID 
					AND INSD.POLICY_ID = @POLICY_ID 
					AND INSD.POLICY_VERSION_ID  = @POLICY_VERSION_ID 
					AND INSD.RISK_ID = @RISK_ID
					AND INSD.RISK_TYPE = @RISK_TYPE 
					AND INSD.INSTALLMENT_NO = @INS_NO
				)
				<> 
				(
				SELECT SUM(ISNULL(TOTAL_PAID,0)) 
				FROM ACT_POLICY_INSTALLMENT_DETAILS INSD
				INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OI
				ON OI.INSTALLMENT_ROW_ID = INSD.ROW_ID
					AND OI.ITEM_TRAN_CODE <> 'DISC'
					AND OI.ITEM_TRAN_CODE_TYPE = 'PREM'
				WHERE   INSD.CUSTOMER_ID = @CUSTOMER_ID 
					AND INSD.POLICY_ID = @POLICY_ID 
					AND INSD.POLICY_VERSION_ID  = @POLICY_VERSION_ID 
					AND INSD.RISK_ID = @RISK_ID
					AND INSD.RISK_TYPE = @RISK_TYPE 
					AND INSD.INSTALLMENT_NO = @INS_NO
				)
			) 
		BEGIN 

			SELECT @INSTALL_OPEN_ITEM_ID = OI.IDEN_ROW_ID 
			FROM ACT_POLICY_INSTALLMENT_DETAILS INSD
			INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OI
			ON OI.INSTALLMENT_ROW_ID = INSD.ROW_ID
				AND OI.ITEM_TRAN_CODE <> 'DISC'
				AND OI.ITEM_TRAN_CODE_TYPE = 'PREM'
			WHERE   INSD.CUSTOMER_ID = @CUSTOMER_ID 
				AND INSD.POLICY_ID = @POLICY_ID 
				AND INSD.POLICY_VERSION_ID  = @POLICY_VERSION_ID 
				AND INSD.RISK_ID = @RISK_ID
				AND INSD.RISK_TYPE = @RISK_TYPE 
				AND INSD.INSTALLMENT_NO = @INS_NO

			UPDATE ACT_CUSTOMER_OPEN_ITEMS SET TOTAL_PAID = @DISCOUNT_AMOUNT 
			WHERE IDEN_ROW_ID = @DISCOUNT_OPEN_ITEM_ID  	

			UPDATE ACT_CUSTOMER_OPEN_ITEMS SET TOTAL_PAID = (@DISCOUNT_AMOUNT ) * -1
			WHERE IDEN_ROW_ID = @INSTALL_OPEN_ITEM_ID  	


			--Inserting the entry in customer balance informartion for discount
			INSERT INTO ACT_CUSTOMER_BALANCE_INFORMATION    
			(    
			CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID,    
			OPEN_ITEM_ROW_ID, AMOUNT, AMOUNT_DUE,    
			TRAN_DESC,    
			UPDATED_FROM, CREATED_DATE,    
			IS_PRINTED, PRINT_DATE, SOURCE_ROW_ID ,DUE_DATE    
			)    
			SELECT     
			ACOI.CUSTOMER_ID, ACOI.POLICY_ID, ACOI.POLICY_VERSION_ID,     
			ACOI.IDEN_ROW_ID, ACOI.TOTAL_DUE, ACOI.TOTAL_DUE,    
			ACOI.TRANS_DESC,    
			'P', GETDATE(),    
			0,NULL, ACOI.SOURCE_ROW_ID,ACOI.DUE_DATE    
			FROM     
			ACT_CUSTOMER_OPEN_ITEMS ACOI    
			WHERE IDEN_ROW_ID = @DISCOUNT_OPEN_ITEM_ID
			
			INSERT INTO #TEMP_RECON 
					( ITEM_REFRENCE_ID ,RECON_AMOUNT )
				
			VALUES (@DISCOUNT_OPEN_ITEM_ID , @DISCOUNT_AMOUNT )

			INSERT INTO #TEMP_RECON 
					( ITEM_REFRENCE_ID ,RECON_AMOUNT )
				
			VALUES (@INSTALL_OPEN_ITEM_ID , @DISCOUNT_AMOUNT * -1  )
		END

		SET @IDEN_COL = @IDEN_COL	+ 1 
	END
	DROP TABLE #DISCOUNT_ITEMS
END
ELSE
BEGIN 
	SELECT @DISCOUNT_OPEN_ITEM_ID	= IDEN_ROW_ID ,
			@DISCOUNT_AMOUNT		= TOTAL_DUE  
	FROM ACT_CUSTOMER_OPEN_ITEMS 
	WHERE CUSTOMER_ID = @CUSTOMER_ID 
	AND POLICY_ID = @POLICY_ID 
	AND POLICY_VERSION_ID = @POLICY_VERSION_ID 
	AND RISK_ID = @RISK_ID
	AND RISK_TYPE = @RISK_TYPE
	AND ITEM_TRAN_CODE_TYPE = 'PREM'
	AND ITEM_TRAN_CODE  = 'DISC'
	AND ISNULL(TOTAL_PAID ,0) = 0 

	SELECT @INSTALL_OPEN_ITEM_ID	= IDEN_ROW_ID 
	FROM ACT_CUSTOMER_OPEN_ITEMS 
	WHERE CUSTOMER_ID = @CUSTOMER_ID 
	AND POLICY_ID = @POLICY_ID 
	AND POLICY_VERSION_ID = @POLICY_VERSION_ID 
	AND RISK_ID = @RISK_ID 
	AND RISK_TYPE = @RISK_TYPE
	AND ITEM_TRAN_CODE_TYPE = 'PREM'
	AND ITEM_TRAN_CODE  <> 'DISC'
	AND ISNULL(TOTAL_PAID,0) = 0 

	UPDATE ACT_CUSTOMER_OPEN_ITEMS SET TOTAL_PAID = @DISCOUNT_AMOUNT 
	WHERE IDEN_ROW_ID = @DISCOUNT_OPEN_ITEM_ID  	

	UPDATE ACT_CUSTOMER_OPEN_ITEMS SET TOTAL_PAID = (@DISCOUNT_AMOUNT ) * -1
	WHERE IDEN_ROW_ID = @INSTALL_OPEN_ITEM_ID  	
	
	--Inserting the entry in customer balance informartion for discount
	INSERT INTO ACT_CUSTOMER_BALANCE_INFORMATION    
	(    
	CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID,    
	OPEN_ITEM_ROW_ID, AMOUNT, AMOUNT_DUE,    
	TRAN_DESC,    
	UPDATED_FROM, CREATED_DATE,    
	IS_PRINTED, PRINT_DATE, SOURCE_ROW_ID ,DUE_DATE    
	)    
	SELECT     
	ACOI.CUSTOMER_ID, ACOI.POLICY_ID, ACOI.POLICY_VERSION_ID,     
	ACOI.IDEN_ROW_ID, ACOI.TOTAL_DUE, ACOI.TOTAL_DUE,    
	ACOI.TRANS_DESC,    
	'P', GETDATE(),    
	0,NULL, ACOI.SOURCE_ROW_ID,ACOI.DUE_DATE    
	FROM     
	ACT_CUSTOMER_OPEN_ITEMS ACOI    
	WHERE IDEN_ROW_ID = @DISCOUNT_OPEN_ITEM_ID
	

	INSERT INTO #TEMP_RECON 
			( ITEM_REFRENCE_ID ,RECON_AMOUNT )
	VALUES (@DISCOUNT_OPEN_ITEM_ID , @DISCOUNT_AMOUNT )

	INSERT INTO #TEMP_RECON 
			( ITEM_REFRENCE_ID ,RECON_AMOUNT )
	VALUES (@INSTALL_OPEN_ITEM_ID , @DISCOUNT_AMOUNT * -1  )

END		

IF EXISTS ( SELECT ITEM_REFRENCE_ID FROM #TEMP_RECON )
BEGIN 
	-- Create Reconciliation Details for discount adjustment
	DECLARE @GROUP_ID INT  
	SELECT @GROUP_ID = ISNULL(MAX(GROUP_ID),0) + 1 FROM ACT_RECONCILIATION_GROUPS  
		
	INSERT INTO ACT_RECONCILIATION_GROUPS  
	(  
	GROUP_ID, RECON_ENTITY_ID, RECON_ENTITY_TYPE, IS_COMMITTED,  
	DATE_COMMITTED ,COMMITTED_BY,  
	IS_ACTIVE, CREATED_BY, CREATED_DATETIME, MODIFIED_BY, LAST_UPDATED_DATETIME,  
	CD_LINE_ITEM_ID  
	)  
	VALUES(
	@GROUP_ID, @CUSTOMER_ID, 'CUST', 'Y',  
	GETDATE(), NULL,  
	'Y', NULL, GETDATE(), NULL, NULL,  
	NULL
	)

	INSERT INTO ACT_CUSTOMER_RECON_GROUP_DETAILS  
	(  
	GROUP_ID, ITEM_TYPE, ITEM_REFERENCE_ID,   
	SUB_LEDGER_TYPE, RECON_AMOUNT, NOTE, DIV_ID, DEPT_ID, PC_ID  
	)  
	SELECT   
	@GROUP_ID, 'CUST', ITEM_REFRENCE_ID ,  
	NULL, RECON_AMOUNT , NULL, OI.DIV_ID, OI.DEPT_ID, OI.PC_ID  
	FROM   
	#TEMP_RECON TMP
	INNER JOIN ACT_CUSTOMER_OPEN_ITEMS OI 
	ON TMP.ITEM_REFRENCE_ID = OI.IDEN_ROW_ID
END
DROP TABLE #TEMP_RECON

END




GO

