IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetNonPayCancellationDate]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetNonPayCancellationDate]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN  
--DROP  PROC [dbo].[Proc_GetNonPayCancellationDate]              
--GO
 /**************************************************            
CREATED BY    : Lalit Kr Chauhan         
CREATED DATETIME  : 30 Nov 2010              
PURPOSE     : get policy cancellation effective date for non payment cancellation type        
DROP PROC Proc_GetNonPayCancellationDate        
Proc_GetNonPayCancellationDate 2885,447,9,null,null,null        
***************************************************/             
CREATE PROC [dbo].[Proc_GetNonPayCancellationDate]        
(        
@CUSTOMER_ID INT,        
@POLICY_ID INT,        
@POLICY_VERSION_ID INT = NULL,        
@CANC_DATE DATETIME = NULL OUT,        
@CALLEDFROM NVARCHAR(50)=NULL,        
@INSTALLMENT_NO INT=NULL        
)        
AS        
BEGIN        
DECLARE @POLICY_TERM INT,@DEVIDENT INT,@COUNT_ROW_ID INT,@MAX_ROW_ID INT,@POL_EFF_DATE DATETIME,@SUM_PAID_AMOUNT DECIMAL(25,2)        
DECLARE @TOTAL_AMOUNT DECIMAL(25,2),@LAST_POLICY_VERSION_ID INT, @UNPAID_AMOUNT DECIMAL(25,2),@ONE_DAY_PREMIUM DECIMAL(25,2)        
DECLARE @PAID_AMT_EFE_DAY INT , @CANCELLATION_DATE DATETIME , @PAID_PERCENTAGE DECIMAL(8,4),@NO_OF_DAYS INT        
DECLARE @MIN_CANCELLATION_DAYS INT,@LOB_ID INT,@CURRENT_TERM INT,@MIN_PERCE DECIMAL(12,4)        
,@NON_CAL_PREM DECIMAL(25,2)      
        
 SELECT @POLICY_TERM = ISNULL(POLICY_TERMS,APP_TERMS),         
   @POL_EFF_DATE = POLICY_EFFECTIVE_DATE,        
   @LOB_ID = POLICY_LOB,@CURRENT_TERM = CURRENT_TERM        
  FROM POL_CUSTOMER_POLICY_LIST WITH(NOLOCK) WHERE CUSTOMER_ID  = @CUSTOMER_ID         
  AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID  = @POLICY_VERSION_ID        
         
         
 SELECT @MIN_CANCELLATION_DAYS = MIN_CANCELLATION_DAYS       
 FROM MNT_LOB_MASTER WITH(NOLOCK) WHERE LOB_ID = @LOB_ID        
         
 SELECT @DEVIDENT = ISNULL(365/@POLICY_TERM,0)        
        
 CREATE TABLE #tempSHORT_TERM_RATE(SHORT_TERM_ID       
 SMALLINT,NO_OF_DAYS INT,FULL_TERM_DAYS INT,PERCENTAGE DECIMAL(10,2))          
         
 IF(@DEVIDENT <> NULL  AND  @DEVIDENT IS NOT NULL  AND  @DEVIDENT<> 0 )          
   INSERT INTO #tempSHORT_TERM_RATE(SHORT_TERM_ID,NO_OF_DAYS,FULL_TERM_DAYS,PERCENTAGE) SELECT RATE.SHORT_TERM_ID,RATE.NO_OF_DAYS/@DEVIDENT AS NO_OF_DAYS,RATE.FULL_TERM_DAYS/@DEVIDENT AS FULL_TERM_DAYS,PERCENTAGE       
   FROM MNT_SUSEP_SHORT_TERM_RATE RATE WITH(NOLOCK)          
 ELSE          
   INSERT INTO #tempSHORT_TERM_RATE(SHORT_TERM_ID,NO_OF_DAYS,FULL_TERM_DAYS,PERCENTAGE) SELECT RATE.SHORT_TERM_ID,RATE.NO_OF_DAYS,RATE.FULL_TERM_DAYS,PERCENTAGE FROM MNT_SUSEP_SHORT_TERM_RATE RATE WITH(NOLOCK)          
  
    IF(UPPER(@CALLEDFROM)='BOLETO')--Cancellation Date of boleto payment (Do not receive after <expire date>).        
   BEGIN        
    SELECT @SUM_PAID_AMOUNT = ISNULL(SUM(INSTALLMENT_AMOUNT),0)       
    FROM ACT_POLICY_INSTALLMENT_DETAILS INSTALL WITH(NOLOCK)          
     INNER JOIN           
     POL_CUSTOMER_POLICY_LIST POL WITH(NOLOCK) ON            
     POL.CUSTOMER_ID = INSTALL.CUSTOMER_ID AND           
     POL.POLICY_ID = INSTALL.POLICY_ID AND           
     POL.POLICY_VERSION_ID = INSTALL.POLICY_VERSION_ID          
     WHERE INSTALL.CUSTOMER_ID = @CUSTOMER_ID AND INSTALL.POLICY_ID =       
     @POLICY_ID AND POL.CURRENT_TERM = @CURRENT_TERM --and INSTALL.POLICY_VERSION_ID  =   @POLICY_VERSION_ID
     AND INSTALL.INSTALLMENT_NO < @INSTALLMENT_NO  and RELEASED_STATUS not in ('U','C')  
     SET @MIN_CANCELLATION_DAYS=0       
	  IF(@INSTALLMENT_NO = 1)
		BEGIN 
			SELECT @MIN_CANCELLATION_DAYS = ISNULL(DAYS_FOR_BOLETO_EXPIRATION,0) FROM MNT_SYSTEM_PARAMS
		   IF(ISNULL(@MIN_CANCELLATION_DAYS,0) = 0 AND @INSTALLMENT_NO = 1)---        
			BEGIN 
			SELECT TOP 1 @POL_EFF_DATE = INSTALLMENT_EFFECTIVE_DATE         
			FROM ACT_POLICY_INSTALLMENT_DETAILS INSTALL WITH(NOLOCK)          
			WHERE INSTALL.CUSTOMER_ID = @CUSTOMER_ID AND INSTALL.POLICY_ID =         
			@POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID
			AND INSTALLMENT_NO = @INSTALLMENT_NO					
			END
			SET @NO_OF_DAYS = 0 
	
		END
  
   END        
  ELSE        
   BEGIN           
     SELECT  @SUM_PAID_AMOUNT = ISNULL(SUM(INSTALLMENT_AMOUNT),0)       
     FROM ACT_POLICY_INSTALLMENT_DETAILS INSTALL WITH(NOLOCK)        
  INNER JOIN         
  POL_CUSTOMER_POLICY_LIST POL WITH(NOLOCK) ON          
  POL.CUSTOMER_ID = INSTALL.CUSTOMER_ID AND         
  POL.POLICY_ID = INSTALL.POLICY_ID AND         
  POL.POLICY_VERSION_ID = INSTALL.POLICY_VERSION_ID        
  WHERE INSTALL.CUSTOMER_ID = @CUSTOMER_ID AND INSTALL.POLICY_ID =       
  @POLICY_ID AND INSTALL.RELEASED_STATUS = 'Y'        
  AND POL.CURRENT_TERM = @CURRENT_TERM ---        
  --AND POLICY_VERSION_ID IN (SELECT )        
  END        
    SELECT  @TOTAL_AMOUNT = ISNULL(SUM(INSTALLMENT_AMOUNT),0)       
    FROM ACT_POLICY_INSTALLMENT_DETAILS INSTALL WITH(NOLOCK)        
  INNER JOIN         
  POL_CUSTOMER_POLICY_LIST POL WITH(NOLOCK) ON          
  POL.CUSTOMER_ID = INSTALL.CUSTOMER_ID AND         
  POL.POLICY_ID = INSTALL.POLICY_ID AND         
  POL.POLICY_VERSION_ID = INSTALL.POLICY_VERSION_ID        
  WHERE INSTALL.CUSTOMER_ID = @CUSTOMER_ID       
  AND INSTALL.POLICY_ID = @POLICY_ID-- AND INSTALL.RELEASED_STATUS = 'Y'        
  AND POL.CURRENT_TERM = @CURRENT_TERM  AND RELEASED_STATUS NOT IN ('U','C')     
  
   --  SELECT  @TOTAL_AMOUNT = TOTAL_PREMIUM FROM ACT_POLICY_INSTALL_PLAN_DATA WITH(NOLOCK)        
   --WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND         
   --POLICY_VERSION_ID = (SELECT MAX(POLICY_VERSION_ID) FROM ACT_POLICY_INSTALL_PLAN_DATA         
   --     WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID  = @POLICY_ID)        
                
    DECLARE @RISK_DETAILS TABLE      
 (      
 CUSTOMER_ID INT,      
 POLICY_ID INT,      
 POLICY_VERSION_ID INT,      
 RISK_ID INT,      
 WRITTEN_PREMIUM DECIMAL(25,8),      
 EFFECTIVE_DATETIME DATETIME,      
 EXPIRY_DATETIME DATETIME      
 )      
       
 INSERT INTO @RISK_DETAILS      
 EXEC Poc_GetRiskEffectiveDate @CUSTOMER_ID,@POLICY_ID,@POLICY_VERSION_ID      
       
        
 SELECT  @NON_CAL_PREM = SUM(WRITTEN_PREMIUM) FROM @RISK_DETAILS       
 WHERE EFFECTIVE_DATETIME >       
 DATEADD(DAY,@MIN_CANCELLATION_DAYS,GETDATE())      
        
        
  --If policy have any future effective risk       
  --then risk premium will no consider for calculate cancellation_date      
 --SELECT @TOTAL_AMOUNT , @NON_CAL_PREM      
   
 IF(UPPER(ISNULL(@CALLEDFROM,'')) <> 'BOLETO')      
  SELECT  @TOTAL_AMOUNT = @TOTAL_AMOUNT  - ISNULL(@NON_CAL_PREM,0)      
       
   
 IF (@TOTAL_AMOUNT<>0)    
   SELECT @PAID_PERCENTAGE = (@SUM_PAID_AMOUNT/@TOTAL_AMOUNT)*100            
     
   IF(@PAID_PERCENTAGE > 100) --if paid amount is greater then poicy amount then ,considering paid amount = total amount  
 BEGIN  
    SET @PAID_PERCENTAGE  = 100  
    SET @MIN_CANCELLATION_DAYS = 0 --if 100% policy amount is paid the non pay cancellation date is = policy expiration date  
    END  
      
     -- SELECT  @PAID_PERCENTAGE
    IF(@PAID_PERCENTAGE IS NULL)    
      SET @PAID_PERCENTAGE  =  0    
         
        
     IF (CAST(@PAID_PERCENTAGE AS INT) > 0  )        
        BEGIN        
         
          --if paid percentage is less then min percent from short term table,paid percentage consider min percentage of short term table         
    SELECT TOP 1  @MIN_PERCE = PERCENTAGE FROM  #tempSHORT_TERM_RATE      
     ORDER BY PERCENTAGE ASC        
     IF(@PAID_PERCENTAGE < @MIN_PERCE )        
   SELECT @PAID_PERCENTAGE = @MIN_PERCE        
            
   SELECT TOP 1 @NO_OF_DAYS = NO_OF_DAYS FROM #tempSHORT_TERM_RATE      
   WITH(NOLOCK) WHERE PERCENTAGE >= @PAID_PERCENTAGE ORDER BY PERCENTAGE ASC ---tfs # 465 .get higer percentage from table.if it is not in table.
           
  END        
     ELSE IF (CAST(@PAID_PERCENTAGE AS INT)  = 0  )        
  BEGIN         
   IF(UPPER(ISNULL(@CALLEDFROM,'')) <> 'BOLETO')      
   BEGIN      
      SELECT @NO_OF_DAYS = 0        
      SELECT @MIN_CANCELLATION_DAYS = 0      
   END  /*    
   ELSE      
    BEGIN         
     SELECT @NO_OF_DAYS = 0        
       SELECT TOP 1 @POL_EFF_DATE = INSTALLMENT_EFFECTIVE_DATE       
       FROM ACT_POLICY_INSTALLMENT_DETAILS INSTALL WITH(NOLOCK)        
       INNER JOIN         
       POL_CUSTOMER_POLICY_LIST POL WITH(NOLOCK) ON          
       POL.CUSTOMER_ID = INSTALL.CUSTOMER_ID AND         
       POL.POLICY_ID = INSTALL.POLICY_ID AND         
       POL.POLICY_VERSION_ID = INSTALL.POLICY_VERSION_ID        
       WHERE INSTALL.CUSTOMER_ID = @CUSTOMER_ID AND INSTALL.POLICY_ID =       
       @POLICY_ID-- AND INSTALL.RELEASED_STATUS = 'Y'        
       AND POL.CURRENT_TERM = @CURRENT_TERM         
       ORDER BY INSTALL.POLICY_VERSION_ID ASC , INSTALLMENT_NO ASC        
        
      END */           
  END        
             
   SELECT @CANCELLATION_DATE = DATEADD(DAY,@NO_OF_DAYS+@MIN_CANCELLATION_DAYS,@POL_EFF_DATE)         
             
  SET @CANC_DATE = CAST(@CANCELLATION_DATE AS DATE)             
             
     SELECT @CANCELLATION_DATE as CANCELLATION_DATE        
     DROP TABLE #tempSHORT_TERM_RATE        
            
END        
GO  
--DECLARE @CAN_DATE DATETIME   
--EXEC Proc_GetNonPayCancellationDate 27987,176,1,@CAN_DATE OUT,'BOLETO',1 

--sELECT @CAN_DATE  
--ROLLBACK TRAN


