IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProcDoFinalAgencyStatementAdjustments]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ProcDoFinalAgencyStatementAdjustments]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--BEGIN TRAN 
--drop proc dbo.ProcDoFinalAgencyStatementAdjustments    
--GO 

/*----------------------------------------------------------------------        
Created By		: Ravindra    
Date			: 09-25-2008    
Purpose			: For adjusting commission on Full Paid policy if it less than .05 
					and move it to next month if policy is not fuly paid
-----------------------------------------------------------------------*/     
--drop proc dbo.ProcDoFinalAgencyStatementAdjustments    
CREATE PROC [dbo].[ProcDoFinalAgencyStatementAdjustments] 
(        
	@MONTH  INT,        
	@YEAR   INT,      
	@COMM_TYPE VARCHAR(20)      
)        
AS        
BEGIN         

DECLARE @NEXT_MONTH Int , @NEXT_YEAR Int 

IF ( @MONTH <> 12 ) 
BEGIN
	SET @NEXT_MONTH = @MONTH + 1 
	SET @NEXT_YEAR  = @YEAR 
END
ELSE 
BEGIN 
	SET @NEXT_MONTH = 1 
	SET @NEXT_YEAR  = @YEAR + 1 
END

DECLARE @WRITE_OFF_ACCOUNT	Int,
		@COMM_PAYABLE_ACCOUNT	Int,
		@CURRENT_DATE			Datetime , 
		@FISCAL_ID				Int 

SET @CURRENT_DATE = GETDATE()  

EXEC PROC_GETFISCALIDFORCURRENTDATE @CURRENT_DATE, @FISCAL_ID OUT  

SELECT   
@WRITE_OFF_ACCOUNT  		= EXP_SMALL_BALANCE_WRITE_OFF, 
@COMM_PAYABLE_ACCOUNT 		= LIB_COMM_PAYB_DIRECT_BILL 
FROM ACT_GENERAL_LEDGER WITH(NOLOCK)  
WHERE FISCAL_ID =  @FISCAL_ID  

CREATE TABLE #STATEMENT    
(    
	  CUSTOMER_ID   Int,    
	  POLICY_ID   INt,    
	  POLICY_VERSION_ID Int,    
	  MCCA_FEES   Decimal(18,2),    
	  NET_AMOUNT   Decimal(18,2),    
	  GROSS_AMOUNT  As ISNULL(MCCA_FEES , 0) + ISNULL(NET_AMOUNT , 0),    
	  COMMISSION_RATE  Decimal(18,2),    
	  COMMISSION_AMOUNT Decimal(18,2),    
	  BILL_TYPE   CHAR(4),    
	  TRAN_TYPE   Char(10),    
	  TRAN_CODE		Char(10) ,
	  AGENCY_ID   Int ,    
	  MONTH_NUMBER  Int,    
	  MONTH_YEAR   Int  
)  

INSERT INTO #STATEMENT    
	(    
	CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ,    
	MCCA_FEES , NET_AMOUNT , COMMISSION_RATE ,     
	COMMISSION_AMOUNT ,BILL_TYPE ,  
	TRAN_TYPE ,	TRAN_CODE,    
	AGENCY_ID , MONTH_NUMBER ,  MONTH_YEAR     
	)    
SELECT AAS.CUSTOMER_ID ,AAS.POLICY_ID , 
	(    
		SELECT MAX (NEW_POLICY_VERSION_ID) FROM POL_POLICY_PROCESS   PPP    
		WHERE PPP.CUSTOMER_ID = AAS.CUSTOMER_ID     
		AND   PPP.POLICY_ID =  AAS.POLICY_ID      
		AND   PPP.PROCESS_ID IN (18,25,32)      
		AND   PPP.NEW_POLICY_VERSION_ID <=     
		(    
			SELECT MAX(POLICY_VERSION_ID) FROM ACT_AGENCY_STATEMENT_DETAILED AASIN    
			WHERE AAS.CUSTOMER_ID  = AASIN.CUSTOMER_ID    
			AND AAS.POLICY_ID = AASIN.POLICY_ID    
		)    
	),     
	AAS.STAT_FEES_FOR_CALCULATION ,AAS.AMOUNT_FOR_CALCULATION , AAS.COMMISSION_RATE,    
	AAS.COMMISSION_AMOUNT ,AAS.BILL_TYPE ,   
	TRAN_TYPE  ,
	CASE AAS.TRAN_CODE   WHEN 'NBSP'  Then 'REG' --'NBS'    
	WHEN 'NBSC'  Then 'REG' --'NBS'    
	WHEN 'RENP'  THEN 'REG' --'REN'    
	WHEN 'RENC'  Then 'REG' --'REN'    
	WHEN 'ENDP'  Then 'REG' --'END'    
	WHEN 'ENDC'  THEN 'REG' --'END'      
	WHEN 'CANCP'  Then 'REG' --'CAN'    
	WHEN 'CANC'  THEN 'REG' --'CAN'       
	WHEN 'RINSP'  Then 'REG' --'RIN'    
	WHEN 'RINC' Then  'REG' --'RIN'    
	ELSE TRAN_CODE    
	END ,    
	AAS.AGENCY_ID , AAS.MONTH_NUMBER ,  AAS.MONTH_YEAR     
FROM ACT_AGENCY_STATEMENT_DETAILED AAS     
WHERE AAS.MONTH_NUMBER = @MONTH    
AND AAS.MONTH_YEAR = @YEAR        
AND AAS.COMM_TYPE = @COMM_TYPE      
AND ISNULL(NOT_COUNTED_RECEIVABLE,0) <> 1 

CREATE TABLE #TO_ADJUST 
(
	IDEN_COL	Int Identity(1,1) , 
	MONTH_NUMBER Int ,AGENCY_ID INt ,POLICY_ID Int ,POLICY_VERSION_ID Int ,CUSTOMER_ID Int,
	PREMIUM_AMOUNT Decimal(18,2),	MONTH_YEAR  Int, TRAN_TYPE Varchar(20) , AMOUNT_FOR_CALCULATION Decimal(18,2),
	COMMISSION_RATE Decimal(18,2) ,	COMMISSION_AMOUNT Decimal(18,2) , BILL_TYPE Varchar(2) , TRAN_CODE  Varchar(20) ,
	GROSS_AMOUNT Decimal(18,2) , NET_AMOUNT Decimal(18,2) 
)

INSERT INTO #TO_ADJUST  
(  
	MONTH_NUMBER ,AGENCY_ID,POLICY_ID,POLICY_VERSION_ID,CUSTOMER_ID, PREMIUM_AMOUNT,	MONTH_YEAR , 
	TRAN_TYPE , AMOUNT_FOR_CALCULATION ,COMMISSION_RATE,COMMISSION_AMOUNT, BILL_TYPE, TRAN_CODE ,
	GROSS_AMOUNT , NET_AMOUNT 
)             
SELECT TMP.MONTH_NUMBER ,  TMP.AGENCY_ID ,  TMP.POLICY_ID , TMP.POLICY_VERSION_ID , TMP.CUSTOMER_ID ,TMP.NET_AMOUNT , TMP.MONTH_YEAR , 
	TMP.TRAN_TYPE  , TMP.NET_AMOUNT  ,TMP.COMMISSION_RATE , TMP.COMMISSION_AMOUNT , TMP.BILL_TYPE , TMP.TRAN_CODE ,
	TMP.GROSS_AMOUNT , TMP.NET_AMOUNT 
FROM     
(     
	SELECT     
	CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID ,    
	SUM(ISNULL(GROSS_AMOUNT,0)) AS GROSS_AMOUNT,     
	SUM(ISNULL(MCCA_FEES,0)) AS MCCA_FEES,     
	SUM(ISNULL(NET_AMOUNT,0))  AS NET_AMOUNT,     
	COMMISSION_RATE ,     
	SUM(ISNULL(COMMISSION_AMOUNT,0)) AS COMMISSION_AMOUNT     
	,BILL_TYPE ,  TRAN_TYPE,    TRAN_CODE , 
	AGENCY_ID , MONTH_NUMBER ,  MONTH_YEAR     
	FROM #STATEMENT     
	GROUP BY CUSTOMER_ID , POLICY_ID , POLICY_VERSION_ID  ,    
	COMMISSION_RATE ,BILL_TYPE ,TRAN_TYPE, TRAN_CODE ,    
	AGENCY_ID , MONTH_NUMBER ,  MONTH_YEAR     
) TMP     
WHERE (ABS(ISNULL(TMP.COMMISSION_AMOUNT  ,0)) < 0.5 AND ABS(ISNULL( TMP.NET_AMOUNT ,0) ) < 0.5 AND TRAN_CODE <> 'PIC' )	


CREATE TABLE #FULLY_PAID_POLICIES 
(
	IDEN_COL		Int Identity (1,1) ,
	CUSTOMER_ID		Int, 
	POLICY_ID		Int, 
	CURRENT_TERM	Int
)

INSERT INTO  #FULLY_PAID_POLICIES (CUSTOMER_ID , POLICY_ID , CURRENT_TERM )	
SELECT CPL.CUSTOMER_ID , CPL.POLICY_ID , CPL.CURRENT_TERM 
FROM ACT_CUSTOMER_OPEN_ITEMS COI
INNER JOIN POL_CUSTOMER_POLICY_LIST CPL
ON CPL.CUSTOMER_ID = COI.CUSTOMER_ID 
AND CPL.POLICY_ID = COI.POLICY_ID  
AND CPL.POLICY_VERSION_ID = COI.POLICY_VERSION_ID 
WHERE ISNULL(COI.ITEM_TRAN_CODE_TYPE, '') <> 'FEES' 
AND UPDATED_FROM = 'P'           
AND ISNULL(COI.ITEM_TRAN_CODE,'') <> 'DISC'  
AND COI.SOURCE_ROW_ID <> 0 
AND COI.CUSTOMER_ID IN (
						SELECT AGN1.CUSTOMER_ID FROM ACT_AGENCY_STATEMENT_DETAILED AGN1
						WHERE AGN1.MONTH_NUMBER  = @MONTH AND AGN1.MONTH_YEAR = @YEAR AND AGN1.BILL_TYPE = 'DB'
						)
AND COI.POLICY_ID IN (
						SELECT AGN1.POLICY_ID FROM ACT_AGENCY_STATEMENT_DETAILED AGN1
						WHERE AGN1.MONTH_NUMBER  = @MONTH AND AGN1.MONTH_YEAR = @YEAR AND AGN1.BILL_TYPE = 'DB'
						)

GROUP BY CPL.CUSTOMER_ID , CPL.POLICY_ID , CPL.CURRENT_TERM 
HAVING SUM(ISNULL(COI.TOTAL_DUE , 0) - ISNULL(COI.TOTAL_PAID,0) )  =0 


-- Iterate through Policies to adjust; if policy is paid in full then create a adjustment entry to balance commision payable account 
-- else advance the month -year for policy to next month 

DECLARE @IDEN_COL				Int , 
		@MONTH_NUMBER			Int, 
		@YEAR_NUMBER			Int , 
		@CUSTOMER_ID			Int , 
		@POLICY_ID				Int, 
		@AGENCY_ID				Int,
		@POLICY_VERSION_ID		Int,
		@CURRENT_TERM			Int,
		@AMOUNT_FOR_CALCULATION	Decimal(18,2),
		@COMMISSION_AMOUNT		Decimal(18,2), 
		@BILL_TYPE				Char(2),
		@COMMISSION_RATE		Decimal(18,2),
		@GROSS_AMOUNT			Decimal(18,2) ,		
		@NET_AMOUNT				Decimal(18,2)

SET @IDEN_COL = 1 


WHILE (1= 1) 
BEGIN 
	IF NOT EXISTS ( SELECT IDEN_COL FROM #TO_ADJUST WHERE IDEN_COL = @IDEN_COL ) 
		BREAK 
	
	SELECT  @MONTH_NUMBER			= MONTH_NUMBER , 
			@YEAR_NUMBER			= MONTH_YEAR ,
			@AGENCY_ID				= AGENCY_ID ,
			@POLICY_ID				= POLICY_ID ,
			@CUSTOMER_ID			= CUSTOMER_ID ,
			@POLICY_VERSION_ID		= POLICY_VERSION_ID,
			@AMOUNT_FOR_CALCULATION = AMOUNT_FOR_CALCULATION,
			@COMMISSION_AMOUNT		= COMMISSION_AMOUNT	, 
			@BILL_TYPE				= BILL_TYPE	,
			@COMMISSION_RATE		= COMMISSION_RATE,
			@GROSS_AMOUNT			= GROSS_AMOUNT ,		
			@NET_AMOUNT				= NET_AMOUNT , 
			@CURRENT_TERM			= NULL	
	FROM #TO_ADJUST
	WHERE IDEN_COL = @IDEN_COL

	SELECT @CURRENT_TERM  = CURRENT_TERM 
	FROM POL_CUSTOMER_POLICY_LIST 
	WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID

	--Policy fully paid 
	IF EXISTS ( SELECT CUSTOMER_ID FROM #FULLY_PAID_POLICIES WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID 
				AND CURRENT_TERM = @CURRENT_TERM) 
	BEGIN 

		--Insert a write off type record in AGENCY_STATEMENT_DETAILED 
		INSERT INTO ACT_AGENCY_STATEMENT_DETAILED
		(
			MONTH_NUMBER,	AGENCY_ID,	POLICY_ID,	POLICY_VERSION_ID,
			CUSTOMER_ID,	SOURCE_EFF_DATE, PREMIUM_AMOUNT,	COMMISSION_RATE,
			MONTH_YEAR,	TRAN_TYPE,	AMOUNT_FOR_CALCULATION,
			COMMISSION_AMOUNT, DUE_AMOUNT,
			CUSTOMER_OPEN_ITEM_ID ,	GROSS_PREMIUM,	TRAN_CODE,	COMM_TYPE,
			BILL_TYPE,	UPDATED_FROM , NOT_COUNTED_RECEIVABLE
		)
		SELECT  
		@MONTH_NUMBER,AGENCY_ID, POLICY_ID,	POLICY_VERSION_ID,     
		CUSTOMER_ID,	GETDATE() ,@NET_AMOUNT , @COMMISSION_RATE ,
		@YEAR_NUMBER , 'COM' , @AMOUNT_FOR_CALCULATION ,
		@COMMISSION_AMOUNT * - 1 ,@COMMISSION_AMOUNT * - 1 ,
		NULL  ,@GROSS_AMOUNT   ,'ENDC' ,'REG',
		'DB' , 'W' , 1
		FROM POL_CUSTOMER_POLICY_LIST 
		WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID
	
		-- Debit Commission Payable 24000 (Debit) 

		 INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS          
		(          
			ACCOUNT_ID, UPDATED_FROM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, 
			TRANSACTION_AMOUNT, AGENCY_COMM_PERC, AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,          
			POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID, BILL_CODE, GROSS_AMOUNT, 
			ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID
		)     
		SELECT @COMM_PAYABLE_ACCOUNT, 'W' , GETDATE() , GETDATE() , GETDATE() , 
				@COMMISSION_AMOUNT * - 1 , @COMMISSION_RATE , @COMMISSION_AMOUNT * - 1  , AGENCY_ID , CUSTOMER_ID , 
				POLICY_ID , POLICY_VERSION_ID , DIV_ID , DEPT_ID , PC_ID , BILL_TYPE , @GROSS_AMOUNT,
				'ENDC','COM',POLICY_LOB , POLICY_SUBLOB , COUNTRY_ID , STATE_ID 
		FROM POL_CUSTOMER_POLICY_LIST 
		WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID

		-- Credit Write Off account(Expense)
		INSERT INTO ACT_ACCOUNTS_POSTING_DETAILS          
		(          
			ACCOUNT_ID, UPDATED_FROM, SOURCE_TRAN_DATE, SOURCE_EFF_DATE, POSTING_DATE, 
			TRANSACTION_AMOUNT, AGENCY_COMM_PERC, AGENCY_COMM_AMT, AGENCY_ID, CUSTOMER_ID,          
			POLICY_ID, POLICY_VERSION_ID, DIV_ID, DEPT_ID, PC_ID, BILL_CODE, GROSS_AMOUNT, 
			ITEM_TRAN_CODE, ITEM_TRAN_CODE_TYPE, LOB_ID, SUB_LOB_ID, COUNTRY_ID, STATE_ID
		)     
		SELECT @WRITE_OFF_ACCOUNT, 'W' , GETDATE() , GETDATE() , GETDATE() , 
				@COMMISSION_AMOUNT , @COMMISSION_RATE , @COMMISSION_AMOUNT   , AGENCY_ID , CUSTOMER_ID , 
				POLICY_ID , POLICY_VERSION_ID , DIV_ID , DEPT_ID , PC_ID , BILL_TYPE , @GROSS_AMOUNT,
				'ENDC','COM',POLICY_LOB , POLICY_SUBLOB , COUNTRY_ID , STATE_ID 
		FROM POL_CUSTOMER_POLICY_LIST 
		WHERE CUSTOMER_ID = @CUSTOMER_ID AND POLICY_ID = @POLICY_ID AND POLICY_VERSION_ID = @POLICY_VERSION_ID


	END
	-- Advance to next month
	ELSE 
	BEGIN 
		UPDATE ACT_AGENCY_STATEMENT_DETAILED SET MONTH_NUMBER = @NEXT_MONTH , MONTH_YEAR = @NEXT_YEAR 
		WHERE @CUSTOMER_ID =  CUSTOMER_ID AND @POLICY_ID = POLICY_ID 
		AND MONTH_NUMBER = @MONTH_NUMBER AND MONTH_YEAR = @YEAR_NUMBER 
	END 
	
	SET @IDEN_COL = @IDEN_COL +  1 

END


DROP TABLE #STATEMENT 
DROP TABLE #TO_ADJUST

END
--
--GO 
--
--EXEC ProcDoFinalAgencyStatementAdjustments  8, 2008 , 'REG'
--
--ROLLBACK TRAN 

GO

