IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_ReUnmarkUnpiadItemsForNotice]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_ReUnmarkUnpiadItemsForNotice]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------                
Proc Name       :  dbo.Proc_ReUnmarkUnpiadItemsForNotice
Created by      :  Ravindra
Date            :  4-30-2008
Purpose         :  
Revison History :                
Used In         :  Wolverine                
------------------------------------------------------------                
Date     Review By          Comments                
------   ------------       -------------------------*/   
-- drop PROC dbo.Proc_ReUnmarkUnpiadItemsForNotice
CREATE PROC [dbo].[Proc_ReUnmarkUnpiadItemsForNotice]
(
	@CUSTOMER_ID	Int,
	@POLICY_ID		Int, 
	@CURRENT_TERM	Int , 
	@CHANGE_EFFECTIVE_DATE	Datetime 
)
AS
BEGIN 
	DECLARE @BALANCE Decimal(18,2) ,
			@NEW_DUE_DATE	Datetime

	IF( DATEDIFF ( DD , GETDATE() , @CHANGE_EFFECTIVE_DATE ) < 0) 
	BEGIN 
		SET 	@NEW_DUE_DATE	= GETDATE() 
	END
	ELSE	
	BEGIN 
		SET 	@NEW_DUE_DATE	= @CHANGE_EFFECTIVE_DATE
	END
	
	SELECT @BALANCE = SUM(ISNULL(TOTAL_DUE,0)) - SUM(ISNULL(TOTAL_PAID,0))  
	FROM ACT_CUSTOMER_OPEN_ITEMS 
	WHERE CUSTOMER_ID = @CUSTOMER_ID 
	AND POLICY_ID = @POLICY_ID 
	AND POLICY_VERSION_ID IN (SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID 
								AND CPL.POLICY_ID = @POLICY_ID AND CPL.CURRENT_TERM  = @CURRENT_TERM ) 

	-- If balance on policy after cancellation send notice againt unpaid items
	IF( @BALANCE > 0 ) 
	BEGIN 
		UPDATE ACT_CUSTOMER_OPEN_ITEMS SET NOTICE_SEND = 'N' , DUE_DATE = @NEW_DUE_DATE, SWEEP_DATE = @NEW_DUE_DATE
		WHERE CUSTOMER_ID = @CUSTOMER_ID 
		AND POLICY_ID = @POLICY_ID 
		AND POLICY_VERSION_ID IN (SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID 
									AND CPL.POLICY_ID = @POLICY_ID AND CPL.CURRENT_TERM  = @CURRENT_TERM ) 
		AND ISNULL(TOTAL_DUE,0) <> ISNULL(TOTAL_PAID,0)


		-- For Home Employee discount Items total paid and total due would be same
		UPDATE ACT_CUSTOMER_OPEN_ITEMS SET  NOTICE_SEND = 'N' , DUE_DATE = @NEW_DUE_DATE, SWEEP_DATE = @NEW_DUE_DATE
		WHERE INSTALLMENT_ROW_ID IN 
		(
			
			SELECT A.ROW_ID FROM ACT_POLICY_INSTALLMENT_DETAILS A 
			WHERE A.INSTALLMENT_NO IN 
			(
				SELECT INS.INSTALLMENT_NO FROM ACT_CUSTOMER_OPEN_ITEMS OI
				INNER JOIN ACT_POLICY_INSTALLMENT_DETAILS INS
				ON OI.INSTALLMENT_ROW_ID = INS.ROW_ID 
				WHERE OI.CUSTOMER_ID = @CUSTOMER_ID 
				AND OI.POLICY_ID = @POLICY_ID 
				AND OI.POLICY_VERSION_ID IN (SELECT CPL.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPL 
				WHERE CPL.CUSTOMER_ID = @CUSTOMER_ID
									AND CPL.POLICY_ID = @POLICY_ID AND CPL.CURRENT_TERM  = @CURRENT_TERM ) 
				AND ISNULL(OI.TOTAL_DUE,0) <> ISNULL(OI.TOTAL_PAID,0)
			)
			AND A.CUSTOMER_ID = @CUSTOMER_ID 
			AND A.POLICY_ID = @POLICY_ID 
			AND A.POLICY_VERSION_ID IN (SELECT CPLIN.POLICY_VERSION_ID FROM POL_CUSTOMER_POLICY_LIST CPLIN 
			WHERE CPLIN.CUSTOMER_ID = @CUSTOMER_ID
			AND CPLIN.POLICY_ID = @POLICY_ID AND CPLIN.CURRENT_TERM  = @CURRENT_TERM ) 
		)

	END		
	
END






GO

