IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetModelQuickQuote]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetModelQuickQuote]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE proc dbo.Proc_GetModelQuickQuote
(
@MANUFACTURER VARCHAR(510),
@EFFECTIVE_DATE DATETIME
)
as
--SELECT MODEL MODEL_NAME,REPLACE(CLASS,'O','A') CLASS FROM MNT_VIN_MOTORCYCLE_MASTER WHERE MANUFACTURER='" + Row[0].ToString().Trim().Replace("'","''") + "' FOR XML AUTO

SELECT MODEL AS MODEL_NAME, CLASS FROM MNT_VIN_MOTORCYCLE_MASTER  JOIN MNT_LOOKUP_VALUES  
ON LOOKUP_VALUE_CODE=CLASS
WHERE MANUFACTURER=@MANUFACTURER AND LOOKUP_ID=1188
AND @EFFECTIVE_DATE BETWEEN ISNULL(EFFECTIVE_FROM_DATE,'01/01/1900') AND ISNULL(EFFECTIVE_TO_DATE,'01/01/3000')
FOR XML AUTO





GO

