IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proc_GetACT_RECONCILIATION_GROUPS]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Proc_GetACT_RECONCILIATION_GROUPS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*----------------------------------------------------------  
Proc Name       : Proc_GetACT_RECONCILIATION_GROUPS  
Created by      : Vijay Joshi  
Date            : 6/29/2005  
Purpose     :Update values in ACT_RECONCIAITION_GROUP  
Revison History :  
Used In  : Wolverine  
------------------------------------------------------------  
Date     Review By          Comments  
------   ------------       -------------------------*/  
--DROP PROC dbo.Proc_GetACT_RECONCILIATION_GROUPS  1771
CREATE PROC dbo.Proc_GetACT_RECONCILIATION_GROUPS  
(  
 @GROUP_ID       int  
)  
AS  
BEGIN  
  
	SELECT GROUP_ID, RECON_ENTITY_ID ENTITY_ID, RECON_ENTITY_TYPE,   
	ACT_RECONCILIATION_GROUPS.IS_COMMITTED IS_COMMITTED,  
	ACT_RECONCILIATION_GROUPS.DATE_COMMITTED DATE_COMMITTED,  
	ACT_RECONCILIATION_GROUPS.COMMITTED_BY COMMITTED_BY,   
	Convert(varchar, ACT_RECONCILIATION_GROUPS.CREATED_DATETIME, 101) AS  CREATED_DATETIME,  
	ACT_RECONCILIATION_GROUPS.MODIFIED_BY MODIFIED_BY, ACT_RECONCILIATION_GROUPS.LAST_UPDATED_DATETIME LAST_UPDATED_DATETIME,   
	CASE RECON_ENTITY_TYPE  
	WHEN 'CUST' THEN IsNull(CLT_CUSTOMER_LIST.CUSTOMER_FIRST_NAME,'') + ' ' + IsNull(CLT_CUSTOMER_LIST.CUSTOMER_MIDDLE_NAME,'') + ' ' + IsNull(CLT_CUSTOMER_LIST.CUSTOMER_LAST_NAME,'')  
	WHEN 'AGN' THEN IsNull(MNT_AGENCY_LIST.AGENCY_DISPLAY_NAME, '')  
	WHEN 'VEN' THEN IsNull(MNT_VENDOR_LIST.COMPANY_NAME, '')  
	END RECON_ENTITY_ID  
	FROM ACT_RECONCILIATION_GROUPS  
	LEFT JOIN CLT_CUSTOMER_LIST ON   
	CLT_CUSTOMER_LIST.CUSTOMER_ID = ACT_RECONCILIATION_GROUPS.RECON_ENTITY_ID 
	AND   ACT_RECONCILIATION_GROUPS.RECON_ENTITY_TYPE = 'CUST'
	LEFT JOIN MNT_AGENCY_LIST ON   
	MNT_AGENCY_LIST.AGENCY_ID = ACT_RECONCILIATION_GROUPS.RECON_ENTITY_ID AND   
	ACT_RECONCILIATION_GROUPS.RECON_ENTITY_TYPE = 'AGN'
	LEFT JOIN MNT_VENDOR_LIST ON   
	MNT_VENDOR_LIST.VENDOR_ID = ACT_RECONCILIATION_GROUPS.RECON_ENTITY_ID AND   
	ACT_RECONCILIATION_GROUPS.RECON_ENTITY_TYPE = 'VEN'
	WHERE GROUP_ID = @GROUP_ID  
  
END  












GO

