a {

  font-weight: bold;

  text-decoration: none;

}

.a1:Link {font-weight:normal; text-decoration: none;}
.a1:Hover {font-weight:normal; text-decoration:none; }
.a1:Visited{font-weight:normal; text-decoration: none;}


.bodyBackGround
{
	background-image:url(/cms/cmsweb/images/tile.gif);
}
.BODY
{
    BACKGROUND-COLOR: #ffffff;
    MARGIN: 0px;
 }

BODY
{
	SCROLLBAR-FACE-COLOR: #D3E6FA; 
	SCROLLBAR-HIGHLIGHT-COLOR: #1D4C7D; 
	SCROLLBAR-SHADOW-COLOR: #1D4C7D; 
	SCROLLBAR-3DLIGHT-COLOR: #D3E6FA; 
	SCROLLBAR-ARROW-COLOR: #1D4C7D; 
	SCROLLBAR-TRACK-COLOR: #D3E6FA; 
	SCROLLBAR-DARKSHADOW-COLOR: #1D4C7D
}

SELECT
{
    FONT-SIZE: 7pt;
    FONT-FAMILY: Verdana, Arial, 'MS Sans Serif'
}
INPUT
{
    FONT-SIZE: 7pt;
    FONT-FAMILY: Verdana, Arial, 'MS Sans Serif';    
    
}
.INPUTCURRENCY
{
    FONT-SIZE: 7pt;
    FONT-FAMILY: Verdana, Arial, 'MS Sans Serif';    
	text-align:right;   
}

BUTTON
{
	FONT-SIZE: 15pt;
	FONT-FAMILY: Verdana, Arial, 'MS Sans Serif'
}
TEXTAREA
{
    FONT-SIZE: 7pt;
    FONT-FAMILY: Verdana, Arial, 'MS Sans Serif'
}

.Anchor:link {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #FFFFFF}
.Anchor:visited {  font-family: Verdana, Arial, Helvetica, sans-serif; color: #FFFFFF; font-size: 10px; font-weight: normal}
.Anchor:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #FFCC66}
.Anchor:active {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #FFCC66}

.Anchor.Dark:link {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #1D4C7D}
.Anchor.Dark:visited {  font-family: Verdana, Arial, Helvetica, sans-serif; color: #1D4C7D; font-size: 8pt; font-weight: normal}
.Anchor.Dark:hover {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #FFCC66}
.Anchor.Dark:active {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #FFCC66}

/*classes for print grid*/
.AlternateDataRow2 {	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY:verdana ; BACKGROUND-COLOR: #C3DDF8; CURSOR:default }
.DataRow2 { FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY:verdana; BACKGROUND-COLOR: #D3E6FA; CURSOR:default  }

/* Classes for Database Grid */
.GridLayer { VISIBILITY: visible; OVERFLOW: auto; WIDTH: 100%; BACKGROUND-COLOR: #D3E6FA }
.Selected { FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: verdana, arial; BACKGROUND-COLOR: #698FB6 }
.AlternateDataRow td {	FONT-WEIGHT:lighter; FONT-SIZE: 7pt; FONT-FAMILY:verdana ; BACKGROUND-COLOR: #C3DDF8; CURSOR: hand }
.AlternateDataRow {	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY:verdana ; BACKGROUND-COLOR: #C3DDF8; CURSOR: hand }
.DataRow td { FONT-WEIGHT: normal; FONT-SIZE: 7pt; FONT-FAMILY:verdana; BACKGROUND-COLOR: #D3E6FA; CURSOR: hand }
.DataRow { FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY:verdana; BACKGROUND-COLOR: #D3E6FA; CURSOR: hand }
.DataGridRow { FONT-WEIGHT: normal; FONT-SIZE: 6pt; FONT-FAMILY:verdana; BACKGROUND-COLOR: #D3E6FA; }
.ExcludedDataRow { FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: verdana, arial; COLOR: #999999; BACKGROUND-COLOR: #E2E0E0; CURSOR: hand }
.SystemDataRow { FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: red; FONT-FAMILY: verdana, arial; BACKGROUND-COLOR: #E2E0E0; CURSOR: hand }
.AlternateDataRowDataGrid {	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: verdana, arial; BACKGROUND-COLOR: #CDDCFE; }
.SeparatorRow { BACKGROUND-COLOR: #ffffff }
.AutoCursor { cursor:auto }
.PagingRow { FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: verdana, arial; BACKGROUND-COLOR: #ffffff }
.SearchRow { FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: verdana, arial; BACKGROUND-COLOR: #D3E6FA }
.Anchor.HeadCol { TEXT-DECORATION: none }
.HeadRow { FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: verdana, arial; COLOR: #ffffff; BACKGROUND-COLOR: #1D4C7D; TEXT-ALIGN: left }
.WHeadRow {FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: verdana, arial; COLOR: #ffffff; BACKGROUND-COLOR: #1D4C7D;  }
.WHeadCol {font-family: Verdana, Arial, Helvetica, sans-serif; color: white; font-size: 10px; font-weight: bold; BACKGROUND-COLOR: #1D4C7D   }
.HeadColClicked { FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: verdana, arial; COLOR: #ffffff; BACKGROUND-COLOR: #1D4C7D; TEXT-ALIGN: left }
.SelectedDataRow {	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY:verdana ; BACKGROUND-COLOR: #C3DDF8; CURSOR: hand ;color:#0066CC;}
/* Classes for Tab Control */
.TabRow { FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: verdana, arial; BACKGROUND-COLOR: #fffff4; BORDER-RIGHT: 2px outset; BORDER-TOP: 2px outset; BORDER-LEFT: 2px outset; WIDTH: 100%; CURSOR: hand; BORDER-BOTTOM: 1px outset; height: 20px }
.TabRowSel { FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: verdana, arial;COLOR: white; BACKGROUND-COLOR: #1D4C7D; BORDER-RIGHT: 4px outset; BORDER-TOP: #dbe6ff 4px outset; BORDER-LEFT: #dbe6ff 4px outset; WIDTH: 100%; CURSOR:default; BORDER-BOTTOM: 0px; height: 20px }
.SubTabRow { FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-FAMILY: verdana, arial; BACKGROUND-COLOR: #ECF7FF; BORDER-RIGHT: 2px outset; BORDER-TOP: 2px outset; BORDER-LEFT: 2px outset; BORDER-BOTTOM: 1px outset; WIDTH: 100%; CURSOR: hand; height: 16px }
.SubTabRowSel { FONT-WEIGHT: bold; FONT-SIZE: 8pt; FONT-FAMILY: verdana, arial; BACKGROUND-COLOR: #D3E6FA; BORDER-RIGHT: 2px outset; BORDER-TOP: 3px outset; BORDER-LEFT: 2px outset; BORDER-BOTTOM: 0px; WIDTH: 100%; CURSOR: hand; height: 16px }
.SubTabRowTbl { BACKGROUND-COLOR: #D3E6FA; BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: #dbe6ff 4px outset; BORDER-BOTTOM: 0px }

/* Left Menu and Top Menu Classes */

.Anchor.MenuLink:link {font-size: 11px; font-family: verdana, arial; font-weight: bold; color: #000000; text-decoration: none }
.Anchor.MenuLink:visited {font-size: 11px; font-family: verdana ,arial; font-weight: bold; color: #000000; text-decoration: none }
.Anchor.MenuLink:hover {font-size: 11px; font-family: verdana, arial; font-weight: bold; color: #CC0000; text-decoration: none  }
.Anchor.MenuLink:active {font-size: 11px; font-family: verdana, arial; font-weight: bold; color: #000000; text-decoration: none }

/*
A.MenuLink:link {font-size: 12px; font-family: arial, verdana; font-weight: normal; color: #ffffff; text-decoration: underline }
A.MenuLink:visited {font-size: 12px; font-family: arial, verdana; font-weight: normal; color: #ffffff; text-decoration: underline }
A.MenuLink:hover {font-size: 12px; font-family: arial, verdana; font-weight: normal; color: #FFCC66; text-decoration: underline  }
A.MenuLink:active {font-size: 12px; font-family: arial, verdana; font-weight: normal; color: #FFCC66; text-decoration: underline  }
*/

.Anchor.MainLink:link {font-size: 10px; font-family: verdana, arial; font-weight: normal; color: #ffffff; text-decoration: none }
.Anchor.HgMainLink:link {font-size: 10px; font-family: verdana, arial; font-weight: normal; color: #FFCC66; text-decoration: none }
.Anchor.MainLink:visited {font-size: 10px; font-family: verdana, arial; font-weight: normal; color: #ffffff; text-decoration: none }
.Anchor.HgMainLink:visited {font-size: 10px; font-family: verdana, arial; font-weight: normal; color: #FFCC66; text-decoration: none }

.MenuName {font-size: 16px; font-family: arial, verdana; font-weight: bold; color: #ffcc33; text-decoration: none; background-color: #000000 }
.MenuDate {font-size: 10px; font-family: arial, verdana; font-weight: normal; color: #000000; text-decoration: none; background-color: #D3E6FA }

/* Calendar Classes */
.CalendarBody { Margin-left: 0px; Margin-top: 0px; Background-color: #698FB6 }
.WeekHeads {BACKGROUND-COLOR: #698FB6;COLOR: white; font-size: 10px; font-weight: bold; font-family: Verdana, Arial; width: 28px; height: 24px }
.CurrentDate { Background-color: #ffffff; text-align: center; cursor: hand; width: 28px; height: 24px }
/*.OtherDate { Background-color: #96B6F8; text-align: center; cursor: hand; width: 28px; height: 24px }*/
.OtherDate { Background-color: #D3E6FA; text-align: center; cursor: hand; width: 28px; height: 24px }
.DisabledDate { font-family: verdana, arial; font-size: 11px; COLOR: gray}
.ActiveDate { font-family: verdana, arial; font-size: 11px; COLOR: black}
.Weekend { font-family: verdana, arial; font-size: 11px; COLOR: red}

.Anchor.CalLink:link {font-size: 11px; font-family: verdana, arial; font-weight: normal; color: #000000; text-decoration: none ;text-align:center}
.Anchor.CalLink:visited {font-size: 11px; font-family: verdana ,arial; font-weight: normal; color: #000000; text-decoration: none ;text-align:center}
.Anchor.CalLink:hover {font-size: 11px; font-family: verdana, arial; font-weight: normal; color: #CC0000; text-decoration: none  ;text-align:center}
.Anchor.CalLink:active {font-size: 11px; font-family: verdana, arial; font-weight: normal; color: #000000; text-decoration: none ;text-align:center}

/* Other Classes */

.tabclsWO3D{BORDER-RIGHT: #000000 2px ; BORDER-TOP: #d3d3e7 2px ; MARGIN-TOP: 1px;  FONT-SIZE: 8pt; BORDER-LEFT: #d3d3e7 2px ; COLOR: #ffffff; BORDER-BOTTOM: #000000 2px ; FONT-FAMILY: Verdana, 'MS Sans Serif', Arial; BACKGROUND-COLOR: #698FB6; TEXT-ALIGN: center }
.tabcls{BORDER-RIGHT: #000000 2px groove; BORDER-TOP: #d3d3e7 2px solid; MARGIN-TOP: 1px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: #d3d3e7 2px solid; COLOR: #ffffff; BORDER-BOTTOM: #000000 2px groove; FONT-FAMILY: Verdana, 'MS Sans Serif', Arial; BACKGROUND-COLOR: #1D4C7D; TEXT-ALIGN: center }
.headereffect, .tableeffect {  FONT-WEIGHT: bolder;FONT-SIZE: 10pt;FONT-FAMILY: Verdana, Arial, 'MS Sans Serif';COLOR: white;border-style:outset;border-color: #CEDCFB #FFFFFF #FFFFFF #FFFFFF; border-width:thin; border-bottom:none; border-left:none; border-right:none;text-align:left; width:100%; }
.tableeffectTopHeader {  FONT-WEIGHT: bolder;FONT-SIZE: 10pt;FONT-FAMILY: Verdana, Arial, 'MS Sans Serif';COLOR: white;border-style:outset;border-color: #CEDCFB #CEDCFB #CEDCFB #CEDCFB; border-width:thin; text-align:left; width:100%; }
.headereffectDiary, .tableeffectDiary {  FONT-WEIGHT: bolder;FONT-SIZE: 10pt;FONT-FAMILY: Verdana, Arial, 'MS Sans Serif';COLOR: white;border-style:outset;border-color: #CEDCFB #FFFFFF #FFFFFF #FFFFFF; border-width:thin; border-bottom:none; border-left:none; border-right:none;text-align:left; }

.headereffectSystemParams, .tableeffectSystemParams { FONT-WEIGHT: bolder; FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, 'MS Sans Serif';COLOR: #000000; BACKGROUND-COLOR: #FFFFFF; border-style:none; border-color: #CEDCFB #003399 #003399 #CEDCFB; border-top-width: thin; border-right-width: thin; border-bottom-width: thin; border-left-width: thin; text-align:left; height:25px }

.headereffectWebGrid { FONT-WEIGHT: bolder; FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, 'MS Sans Serif';COLOR: white;  BACKGROUND-COLOR: #1D4C7D;  border-style:none; border-color: #CEDCFB #003399 #003399 #CEDCFB; border-top-width: thin; border-right-width: thin; border-bottom-width: thin; border-left-width: thin; text-align:left }/* Replaced with BACKGROUND-COLOR: #4F7BD8;*/


.headereffectCenter, .tableeffectCenter {  FONT-WEIGHT: bolder; FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, 'MS Sans Serif'; COLOR: white; BACKGROUND-COLOR: #1D4C7D;  border-style: outset; border-color: #CEDCFB #003399 #003399 #CEDCFB; border-top-width: thin; border-right-width: thin; border-bottom-width: thin; border-left-width: thin; text-align:center } /*Replaced with BACKGROUND-COLOR: #4F7BD8;*/
.headereffectCenter, .tableeffectCenter td{  FONT-WEIGHT: bolder; FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, 'MS Sans Serif'; COLOR: white; BACKGROUND-COLOR: #1D4C7D;  border-style: outset; border-color: #CEDCFB #003399 #003399 #CEDCFB; border-top-width: thin; border-right-width: thin; border-bottom-width: thin; border-left-width: thin; text-align:center } /*Replaced with BACKGROUND-COLOR: #4F7BD8;*/
.midcolora{FONT-WEIGHT: normal; FONT-SIZE:8pt;vertical-align:TOP; COLOR: #000000; FONT-FAMILY: Verdana, 'MS Sans Serif', Arial; BACKGROUND-COLOR: #D3E6FA; TEXT-ALIGN: left }

.midcolorclm{FONT-WEIGHT:lighter; FONT-SIZE:7pt;vertical-align:TOP; COLOR: #000000; FONT-FAMILY: Verdana, 'MS Sans Serif', Arial; BACKGROUND-COLOR: #D3E6FA; TEXT-ALIGN: left }

.midcoloraReadOnlyTextBox{FONT-WEIGHT: normal; FONT-SIZE:8pt;vertical-align:TOP; COLOR: #000000; FONT-FAMILY: Verdana, 'MS Sans Serif', Arial; BACKGROUND-COLOR: #D3E6FA; TEXT-ALIGN: right }
.midcolorba{FONT-WEIGHT: normal; FONT-SIZE:7pt;vertical-align:TOP; COLOR: #000000; FONT-FAMILY: Verdana, 'MS Sans Serif', Arial; BACKGROUND-COLOR: #D3E6FA; TEXT-ALIGN: left }
.midcolorc{FONT-WEIGHT: normal; FONT-SIZE: 7pt;vertical-align:TOP; COLOR: #000000; FONT-FAMILY: Verdana, 'MS Sans Serif', Arial; BACKGROUND-COLOR: #D3E6FA; TEXT-ALIGN: center }
.midcolorr{FONT-WEIGHT: normal; FONT-SIZE: 7pt;vertical-align:TOP; COLOR: #000000; FONT-FAMILY: Verdana, 'MS Sans Serif', Arial; BACKGROUND-COLOR: #D3E6FA; TEXT-ALIGN: right }
.midcolorp{FONT-WEIGHT: normal; FONT-SIZE:6pt;vertical-align:TOP; COLOR: green; FONT-FAMILY: Verdana, 'MS Sans Serif', Arial; BACKGROUND-COLOR: #D3E6FA; TEXT-ALIGN: left }
.midcolorq{FONT-WEIGHT: normal; FONT-SIZE:6pt;vertical-align:TOP; COLOR: red; FONT-FAMILY: Verdana, 'MS Sans Serif', Arial; BACKGROUND-COLOR: #D3E6FA; TEXT-ALIGN: left }
.errmsg{ FONT-SIZE: 8pt; font-weight:bold ;  COLOR: red; FONT-FAMILY: Verdana, 'MS Sans Serif', Arial; TEXT-ALIGN: left }
.midcolorforcal{FONT-SIZE: 8pt; vertical-align:TOP; COLOR: #000000; FONT-FAMILY: Verdana, 'MS Sans Serif', Arial; BACKGROUND-COLOR: #D3E6FA; TEXT-ALIGN: center;cursor:hand}
.lookuplayer{FONT-WEIGHT: normal; FONT-SIZE:8pt;vertical-align:TOP; COLOR: #000000; FONT-FAMILY: Verdana, 'MS Sans Serif', Arial; BACKGROUND-COLOR: #ffffcc; TEXT-ALIGN: left }

DIV#div-datagrid { OVERFLOW: auto; WIDTH: 500px; HEIGHT: 400px } 
.lockrow
{ 
	BORDER-RIGHT: silver 1px solid; 
	FONT-WEIGHT: bolder; 
	FONT-SIZE: 8pt;
	FONT-FAMILY: Verdana, Arial, 'MS Sans Serif'; 
	COLOR:White;
	TOP: expression(document.getElementById("div-datagrid").scrollTop-2); 
	POSITION: relative; 
	BACKGROUND-COLOR: #1D4C7D; 
	TEXT-ALIGN: center;height:30 
} 

.clsButton
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial, 'MS Sans Serif';
    BACKGROUND-COLOR: #1D4C7D
}
.HoverButton
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    COLOR: white;
    FONT-FAMILY: Verdana, Arial, 'MS Sans Serif';
    BACKGROUND-COLOR: #2D50B6
}

.tableHeader
{
}
.tableHeader TD
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Verdana, helvetica, sans-serif;
    BACKGROUND-COLOR: #1D4C7D;
    TEXT-ALIGN: center
}
.pageHeader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #1D4C7D;
    FONT-FAMILY: Verdana, helvetica, sans-serif;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: left
}
.calcolora
{
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, 'MS Sans Serif', Arial 
}
.HotSpot 
{
	cursor: hand 
}


/* Useless */
.footer
{
	BACKGROUND-COLOR: #f3f0c5;
    COLOR: #000000;
    FONT-FAMILY: Verdana, 'sans serif', helvetica;
	FONT-SIZE: 8pt;
	FONT-WEIGHT: bold;
}
.boldtxt
{
    FONT-FAMILY: 'Verdana','MS Sans Serif', 'MS Serif';
    FONT-SIZE: xx-small;
    FONT-WEIGHT: bold;
}
.fontcls
{
	font-family:Arial, Verdana; font-size: 2; color:#FFCC66;
}
.tdcls
{
	background-color:#3366CC;
}
.login
{
	FONT-SIZE: 8pt; COLOR: black;FONT-WEIGHT: bold; FONT-FAMILY: Verdana, 'MS Sans Serif', Arial; TEXT-ALIGN: left
}
.bodycls
{
	background-color:#666699;
}
.trcls
{
	background-color:#6699FF;
}
.mandatory
{
    FONT-WEIGHT: bolder;
    COLOR: Red;
    TEXT-ALIGN: center
}
.iframeCls
{
	border-bottom:0px;
	border-left:#D3E6FA 3px solid;
	border-top:#D3E6FA 3px solid;
	border-right:0px;
	width:100%;
	
}
.TextReadonly
{
	background-color:Silver;
	 
	 FONT-SIZE: 7pt;
    FONT-FAMILY: Verdana, Arial, 'MS Sans Serif';     
	
}
.TextReadonlyRight
{
	background-color:Silver;
	 text-align:right;   
	 FONT-SIZE: 7pt;
    FONT-FAMILY: Verdana, Arial, 'MS Sans Serif';     
	
}
.iframsHeightExtraLong
{
	height: 7000px;
}	
.iframsHeightLong
{
	height: 1800px;
}	
.iframsHeightMedium
{
	height: 500px;
}	
.iframsHeightShort
{
	
	height: 300px;
}
.tableWidth
{
	width:88%;
	
}
.tableWidthClaim
{
	width:100%;
	
}
.tableWidthHeader
{
	width:100%;
}
.MandatoryControl
{
	background-color:#FFFFD1;
}	
.LabelFont
{
	font-weight:bold;
	
}

.LabelFontRight
{
	font-weight:bold;
	text-align:right;
}

.ImageBackColor
{
	/*background-color: #54A0EE;*/
	background-image:url(/cms/cmsweb/images1/bg.gif);
}
.GrandFatheredRange
{
	color: maroon;
	background-color: #ccccff;
}
.GrandFatheredCoverage
{
	FONT-WEIGHT: normal;
	FONT-SIZE:8pt;
	vertical-align:TOP; 
	FONT-FAMILY: Verdana, 'MS Sans Serif', Arial; 
	BACKGROUND-COLOR: #D3E6FA; 
	TEXT-ALIGN: left; 
	COLOR:maroon;
}
.DeactivatedInstallmentPlan
{
	color: red;
	background-color: #ccccff;
}
