/******************************************************************************
* Defines styles for the menu.                            *
******************************************************************************/

BODY
{
    MARGIN-TOP: 0px;
    FONT-SIZE: 10pt;
    MARGIN-LEFT: 0px;
    MARGIN-RIGHT: 0px;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.errorMsg
{
    FONT-WEIGHT: bold;
    COLOR: #c00000
}
#main1
{
    MARGIN-TOP: 0px;
    TEXT-ALIGN: left
}
DIV.menu
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: "MS Sans Serif", Arial, sans-serif
}
DIV.menu A.menuItem
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: "MS Sans Serif", Arial, sans-serif
}
DIV.menu A.menuItemDisable
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #F3F3F3;
    FONT-STYLE: normal;
    FONT-FAMILY: "MS Sans Serif", Arial, sans-serif
}
DIV.menuBarTop
{
	background-image: url(\cms\cmsweb\images1\IIndbar.gif);
	background-color: #7dbcfe;
}
DIV.menuBarBottom
{
    PADDING-RIGHT: 2px;
    background-image: url(/cms/cmsweb/images1/bg_links.jpg);
    /*BORDER-TOP: #ffffff 1px solid;*/
    PADDING-LEFT: 2px;
    PADDING-TOP: 2px;
    BACKGROUND-COLOR: #A6D36E;
    TEXT-ALIGN: left;
    WIDTH: 100%;
    HEIGHT: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #58595b; 
	font-weight:bold;
	text-decoration: none
}
DIV.menuBarTop A.menuButton
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    /*FONT-WEIGHT: normal; */
  
    Z-INDEX: 100;
    LEFT: 0px;
    PADDING-BOTTOM: 1px;
    MARGIN: 0px;
    CURSOR: hand;
   
    PADDING-TOP: 1px;
   /* FONT-STYLE: normal;
    FONT-FAMILY: Verdana;*/
    POSITION: relative;
    TOP: 0px;
    
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0089cf; 
	font-weight:bold;
	text-decoration: none
	
}
DIV.menuBarBottom A.menuButton
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    /*FONT-WEIGHT: normal;
    FONT-SIZE: 11px;*/
    Z-INDEX: 100;
    LEFT: 0px;
    PADDING-BOTTOM: 1px;
    MARGIN: 1px;
    CURSOR: hand;
    /*COLOR: #000000;*/
    PADDING-TOP: 1px;
    /*FONT-STYLE: normal;
    FONT-FAMILY: Verdana;*/
    POSITION: relative;
    TOP: 0px;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none;
    
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0089cf; 
	font-weight:bold;
	text-decoration: none;
}
DIV.menuBarTop A.menuButtonDoActive
{
    PADDING-RIGHT: 6px;
    PADDING-LEFT: 6px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    Z-INDEX: 100;
    LEFT: 0px;
    PADDING-BOTTOM: 1px;
    MARGIN: 1px;
    CURSOR: hand;
    COLOR: #000000;
    PADDING-TOP: 1px;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana;
    POSITION: relative;
    TOP: 0px;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
DIV.menuBarBottom A.menuButtonDoActive
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    /*FONT-WEIGHT: normal;
    FONT-SIZE: 11px;*/
    Z-INDEX: 100;
    LEFT: 0px;
    PADDING-BOTTOM: 1px;
    MARGIN: 1px;
    CURSOR: hand;
    /*COLOR: #FF0000;*/
    PADDING-TOP: 1px;
    /*FONT-STYLE: normal;
    FONT-FAMILY: Verdana;*/
    POSITION: relative;
    TOP: 0px;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none;
    
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #c78000; /*#f8a010; */
	font-weight:bold;
	text-decoration: none;
}
DIV.menuBarBottom A.menuButtonDisable
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    /*FONT-WEIGHT: normal;
    FONT-SIZE: 11px;*/
    Z-INDEX: 100;
    LEFT: 0px;
    PADDING-BOTTOM: 1px;
    MARGIN: 1px;
    CURSOR: hand;
    /*COLOR: #F3F3F3;*/
    PADDING-TOP: 1px;
    /*FONT-STYLE: normal;
    FONT-FAMILY: Verdana;*/
    POSITION: relative;
    TOP: 0px;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none;
    
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #7a7a7a ;/*#58595b; /*#614700 ;*/ /*#0089cf; */
	font-weight:bold;
	text-decoration: none;
}
DIV.menuBarBottom A.menuButton:hover
{
   
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #f8a010; /*#c78000; /* #614700 ;/*#f8a010;*/ 
	font-weight:bold;
	text-decoration: none
}
DIV.menu
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    Z-INDEX: 101;
    LEFT: 0px;
    VISIBILITY: hidden;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    POSITION: absolute;
    TOP: 0px;
    BACKGROUND-COLOR: #18459C;
    border-bottom:#333333 thin outset;/*#226fbf thin outset;*/
    border-right:#333333 thin outset;/*#226fbf thin outset;*/
}
DIV.menu A.menuItem
{
    DISPLAY: block;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    CURSOR: hand;
    COLOR: #000000;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana;
    WHITE-SPACE: nowrap;
    TEXT-DECORATION: none;
    
    
}
DIV.menu A.menuItemDisable
{
    DISPLAY: block;
    PADDING-LEFT: 2em;
    CURSOR: hand;
    COLOR: #F3F3F3;
    FONT-STYLE: normal;
    FONT-FAMILY: Verdana;
    WHITE-SPACE: nowrap;
    TEXT-DECORATION: none
}
DIV.menu A.menuItem
{
    PADDING-RIGHT: 2em;
    PADDING-LEFT: 2em;
    PADDING-BOTTOM: 4px;
    PADDING-TOP: 4px;
    background-color:#fefefe ;/*#CEDFFF;*/
	/*border-left:#226fbf 1px solid;
    border-top:#226fbf 1px solid;*/
    border-color: #b3b3b3;
    border:1;
    color:#6b6b6b;
}
DIV.menu A.menuItemDisable
{
    PADDING-RIGHT: 2em;
    PADDING-LEFT: 2em;
    PADDING-BOTTOM: 4px;
    PADDING-TOP: 4px;
    background-color:#fefefe; /*#CEDFFF;*/
    border-left:#226fbf 1px solid;
    border-top:#226fbf 1px solid;
    border-color: #b3b3b3;
    border:1;
    color:#c0c0c0
}
DIV.menu DIV.menuItemHdr
{
    PADDING-RIGHT: 1em;
    PADDING-LEFT: 1em;
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 1px
}
DIV.menu A.menuItem:hover
{
    COLOR: #ffffff; /*#000000;*/
    background-color: #0683c7;/*#A6D36E*//*#FFDF7B*/
    background-image: url(/cms/cmsweb/images1/dropdown_hover.jpg);
}
DIV.menu A.menuItemHighlight
{
    COLOR: #000000;
    background-color:#fefefe; /*#A6D36E*/
    background-image: url(/cms/cmsweb/images1/dropdown_hover.jpg);
}
DIV.menu A.menuItem SPAN.menuItemText
{
}
DIV.menu A.menuItem SPAN.menuItemArrow
{
    MARGIN-RIGHT: -0.75em
}
DIV.menu DIV.menuItemHdr
{
    FONT-WEIGHT: bold
}
DIV.menu DIV.menuItemSep
{
    BORDER-TOP: #f3f3f3 1px solid;
    MARGIN: 4px 2px;
    /*BORDER-BOTTOM: #e0b090 1px solid*/
}
#menuFrame
{
    DISPLAY: none;
    Z-INDEX: 101;
    LEFT: 0px;
    POSITION: absolute;
    TOP: 20px;
    BACKGROUND-COLOR: #000000
}
#menuIFrame
{
    Z-INDEX: 1001;
    FILTER: alpha(opacity=0);
    BACKGROUND-COLOR: #000000
}
#menuFrame2
{
    DISPLAY: none;
    Z-INDEX: 101;
    LEFT: 0px;
    POSITION: absolute;
    TOP: 20px;
    BACKGROUND-COLOR: #000000
}
#menuIFrame2
{
    Z-INDEX: 1001;
    FILTER: alpha(opacity=0);
    BACKGROUND-COLOR: #000000
}
#menuFrame3
{
    DISPLAY: none;
    Z-INDEX: 101;
    LEFT: 0px;
    POSITION: absolute;
    TOP: 20px;
    BACKGROUND-COLOR: #000000
}
#menuIFrame3
{
    Z-INDEX: 1001;
    FILTER: alpha(opacity=0);
    BACKGROUND-COLOR: #000000
}
DIV.menuBarTop
{
    WIDTH: 100%;
    HEIGHT: 15px
}
DIV.menuBarMiddle
{
    WIDTH: 100%;
    HEIGHT: 15px
}
/*DIV.menuBarBottom
{
    WIDTH: 100%;
    HEIGHT: 20px
}*/
.pageContent
{
    /*RIGHT: 5px;
    LEFT: 5px;*/
    /*MARGIN-LEFT: auto;*/
    OVERFLOW: auto;
    WIDTH: auto;
    /*MARGIN-RIGHT: auto;*/
    POSITION: relative;
    TOP: 0px;
    TEXT-ALIGN: center;
    margin: 0 auto
    
}
.menucell
{
	background-color:#CEDFFF
}
.menucellHover
{
	background-color:#FFDF7B
}

