IF  EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[tr_Source2_INSERT]'))
DROP TRIGGER [dbo].[tr_Source2_INSERT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER tr_Source2_INSERT
ON Source2
FOR INSERT
AS
PRINT GETDATE()

GO

