IF  EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[TRG_ACT_CUSTOMER_OPEN_ITEMS_INSERT]'))
DROP TRIGGER [dbo].[TRG_ACT_CUSTOMER_OPEN_ITEMS_INSERT]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER TRG_ACT_CUSTOMER_OPEN_ITEMS_INSERT ON [dbo].[ACT_CUSTOMER_OPEN_ITEMS] 
FOR INSERT
AS
BEGIN

	--Inserting the entry in customer balance informartion
	INSERT INTO ACT_CUSTOMER_BALANCE_INFORMATION
	(
		CUSTOMER_ID, POLICY_ID, POLICY_VERSION_ID,
		OPEN_ITEM_ROW_ID, AMOUNT, AMOUNT_DUE,
		TRAN_DESC,
		UPDATED_FROM, CREATED_DATE,
		IS_PRINTED, PRINT_DATE, SOURCE_ROW_ID 
	)
	SELECT 
		ACOI.CUSTOMER_ID, ACOI.POLICY_ID, ACOI.POLICY_VERSION_ID, 
		IDEN_ROW_ID, ACOI.TOTAL_DUE, ACOI.TOTAL_DUE,
		TRANS_DESC,
		ACOI.UPDATED_FROM, GETDATE(),
		0,NULL, SOURCE_ROW_ID 
	FROM 
		INSERTED ACOI
	WHERE 
		ACOI.NOT_COUNTED_RECEIVABLE = 0 AND 
		ACOI.UPDATED_FROM IN ('J', 'C')


END







GO

