IF  EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[TRG_UPDATE_CLAIM_PARTY_DETAILS]'))
DROP TRIGGER [dbo].[TRG_UPDATE_CLAIM_PARTY_DETAILS]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

--TRIGER TO UPDATE CALIM PARTY DETAILS ON UPDATE OF EXPERT SERVICE PROVIDER FROM MAINTENANCE
--WRIIITEN Y P.K CHANDEL
CREATE TRIGGER dbo.TRG_UPDATE_CLAIM_PARTY_DETAILS
ON  [dbo].[CLM_EXPERT_SERVICE_PROVIDERS]  
 AFTER UPDATE  
AS  
BEGIN
DECLARE @VENDOR_CODE NVARCHAR(20)

SELECT @VENDOR_CODE=EXPERT_SERVICE_VENDOR_CODE FROM DELETED

UPDATE  A SET 
A.ADDRESS1  = B.EXPERT_SERVICE_ADDRESS1,
A.ADDRESS2  =B.EXPERT_SERVICE_ADDRESS2,
A.CITY            =B.EXPERT_SERVICE_CITY,
A.STATE           =B.EXPERT_SERVICE_STATE,
A.ZIP             =B.EXPERT_SERVICE_ZIP,

A.MAIL_1099_ADD1  =B.MAIL_1099_ADD1,
A.MAIL_1099_ADD2  =B.MAIL_1099_ADD2,
A.MAIL_1099_CITY  =B.MAIL_1099_CITY,
A.MAIL_1099_STATE =B.MAIL_1099_STATE,
A.MAIL_1099_COUNTRY     =B.MAIL_1099_COUNTRY,
A.MAIL_1099_ZIP         =B.MAIL_1099_ZIP,
A.MAIL_1099_NAME        =B.MAIL_1099_NAME,
A.W9_FORM               =B.W9_FORM

FROM CLM_PARTIES A
INNER JOIN CLM_EXPERT_SERVICE_PROVIDERS B
ON A.VENDOR_CODE=B.EXPERT_SERVICE_VENDOR_CODE
WHERE B.EXPERT_SERVICE_VENDOR_CODE=@VENDOR_CODE
AND PARTY_TYPE_ID = 11
 
END

GO

