<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="exceptionManagement" type="Cms.ExceptionPublisher.ExceptionManagement.ExceptionManagerSectionHandler, exceptionpublisher"/>
    <section name="IIXSettings" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <exceptionManagement>
    <publisher mode="on" assembly="exceptionpublisher" type="Cms.CustomException.CustomPublisher.ExceptionPublisher"/>
  </exceptionManagement>
  <IIXSettings>
    <add key="URL" value="https://expressnet.iix.com/web-services/Auth"></add>
    <add key="UserName" value="IIX"></add>
    <add key="Password" value="DEMO-WS3"></add>
    <add key="AccountNumber" value="099901"></add>
  </IIXSettings>
  <appSettings>
    <!--<add key="DB_CON_STRING" value="user id=BRICSUser;password=Dowagiac2;initial catalog=BRICS_STAGE2;data source=192.168.200.70;Connect Timeout=300"></add> -->
    <!--	<add key="DB_CON_STRING" value="user id=ebixuser;password=WM1Cbrics;initial catalog=BRICS-DEV-UW;data source=192.168.200.70;Connect Timeout=300"></add> -->
    <!-- <add key="DB_CON_STRING" value="user id=sa;password=atldev8;initial catalog=BRICS;data source=192.168.1.180;Connect Timeout=300"></add>    -->
    <!-- <add key="DB_WEBGRID_CON_STRING" value="user id=sa;password=atldev8;initial catalog=BRICS;data source=192.168.1.180;Connect Timeout=0"></add>    -->
    <add key="DB_CON_STRING" value="user id=sa;password=ebix123;initial catalog=BRICS-COMMON;data source=192.168.91.34\sql2008;Connect Timeout=10"></add>
    <add key="DB_WEBGRID_CON_STRING" value="user id=advuser;password=ebix;initial catalog=EBIX-ADVANTAGE-DEV;data source=192.168.91.34\sql2008;Connect Timeout=0"></add>
    <!--	<add key="DB_CON_STRING" value="user id=sa;password=ebix;initial catalog=PROD-10-01-09;data source=192.168.33.61;Connect Timeout=0"></add> -->
    <!-- 	<add key="DB_WEBGRID_CON_STRING" value="user id=sa;password=ebix;initial catalog=PROD-10-01-09;data source=192.168.33.61;Connect Timeout=0"></add>-->
    <!--To Select New Color Combination Infuture AlternateDataRow,TabRowSel,SubTabRowSel-->
    <add key="ReportViewerUrl" value="Resolver.aspx"></add>
    <!--<add key="ReportServerUrl" value="http://192.168.91.48/EAWReportserver"/>-->
    <add key="ReportServerUrl" value="http://192.168.91.34/EbixAdvReportServer"/>
    <add key="ReportPath" value="/ManagementReports" />
    <add key="UserName" value="pravesh"/>
    <add key="Password" value="pkchandel5"/>
    <add key="Domain" value="INDIA"/>
    <add key="ContentViewerURL" value="/cms/cmsweb/aspx/viewer.aspx"/>
    <!-- Grid Related Keys [START]-->
    <add key="GRID_CACHE_SIZE" value="40"></add>
    <add key="GRID_PAGE_SIZE" value="5"></add>
    <add key="LOOKUP_PAGE_SIZE" value="10"></add>
    <add key="GRID_COLOR1" value="C3DDF8,1D4C7D,D3E6FA"></add>
    <add key="GRID_COLOR2" value="DCB753,E4AD18,FBD672"></add>
    <add key="GRID_COLOR3" value="C6C6C6,8F9194,D8D8D8"></add>
    <add key="GRID_COLOR4" value="E9CFA4,52340A,F8EEDD"></add>
    <add key="GRID_COLOR_SCHEME" value="1"></add>
    <!-- Grid Related Keys [END]-->
    <!-- Validation Keys [START]-->
    <add key="RegExpDoubleZeroToPositive" value="^(\$|)([1-9]\d{0,9}(\,\d{0,9})*|(\d*))(\.\d{0,9})?$"/>
    <add key="RegExpPhone" value="^1?((\(\d{3}\) ?)|(\d{3}-))?\d{3}-\d{4}"/>
    <!-- add key="RegExpExtn" value="^\d{0,4}$" / -->
    <add key="RegExpExtn" value="^\d{0,6}$"/>
    <add key="RegExpZip" value="^[0-9]{5}-[0-9]{4}|[0-9]{5}"/>
    <add key="RegExpMobile" value="^\+?\d{0,3}(\s|-|\s)?(\d{0,4}|\(\d{0,4}\))(\s|-|\s)?\d{1,5}(\s|-|\s)?\d{1,5}$"/>
    <add key="RegExpAlphaNum" value="^.*$"/>
    <add key="RegExpAlphaNumStrict" value="^[a-zA-Z0-9]+$"/>
    <add key="RegExpTextArea150" value="^[\w\W]{0,150}$"/>
    <add key="RegExpTextArea100" value="^[\w\W]{0,100}$"/>
    <add key="RegExpTextArea255" value="^[\w\W]{0,255}$"/>
    <add key="RegExpTextArea500" value="^[\w\W]{0,500}$"/>
    <add key="RegExpTextArea1000" value="^[\w\W]{0,1000}$"/>
    <add key="RegExpPolicyNum" value="^([a-zA-Z0-9]+(\s|\-)*)*[a-zA-Z][a-zA-Z0-9\s\/]*$"/>
    <add key="RegExpAlpha" value="^[a-zA-Z][a-zA-Z\s\-\.'&amp;]*[a-zA-Z\s]*$"/>
    <add key="RegExpClientName" value="^[a-zA-Z0-9\s.\-'&amp;,]+$"/>
    <add key="RegExpAlphaAdd" value="^.*$"/>
    <add key="RegExpEmailList" value="^((([a-zA-Z0-9_\-\.']+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)){1}(\,){0,1}(\s)*)*$"/>
    <add key="RegExpEmail" value="^([a-zA-Z0-9_\-\.']+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"/>
    <add key="RegExpInteger" value="^\d+$"/>
    <add key="RegExpDouble" value="^\d+(\.\d+)?$"/>
    <add key="RegExpCurrency" value="^\-?\d+((\.\d{2})|(\.\d{4}))$"/>
    <add key="RegExpRate" value="^\d{0,3}(\.\d{1,2})?$"/>
    <add key="RegExpDate" value="(0[1-9]|[1-9]|1[012])[- /.](0[1-9]|[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d"/>
    <add key="RegExpSiteUrl" value="http://([\w-]+\.)+[\w-]+(/[\w- ./?%&amp;=]*)?"/>
    <add key="RegExpSiteUrlWoHttp" value="([\w-]+\.)+[\w-]+(/[\w- ./?%&amp;=]*)?"/>
    <add key="RegExpCurrencyFormat" value="^-?(\.\d{0,9})?(\d{1,3},?(\d{3},?)*\d{3}(\.\d{0,9})?|\d{1,3}(\.\d{0,9})?)([kmKM])?$"/>
    <add key="RegExpDoublePositiveNonZeroStartNotZeroNonDollar" value="^([1-9]\d{0,9}(\,\d{0,9})*|([0-9]\d*))\.(\d{0,9})?$|[1-9]\d*$"/>
    <add key="DateFormat" value="MM/dd/yyyy"/>
    <add key="CarrierSystemID" value="w001"></add>
    <add key="RegExpSSN" value="^[0-9]{3}-[0-9]{2}-[0-9]{4}"/>
    <add key="RegExpDoublePositiveNonZero" value="^([1-9]\d{0,9}(\,\d{0,9})*|([1-9]\d*))(\.\d{0,9})?$|[0-9]\.\d{0,9}|\.\d{0,9}"/>
    <add key="RegExpDoublePositiveZero" value="^(\$|)([1-9]\d{0,9}(\,\d{0,9})*|([1-9]\d*))(\.\d{0,9})?$"/>
    <add key="RegExpDoublePositiveWithZero" value="^(\$|)([0-9]\d{0,9}(\,\d{0,9})*|([1-9]\d*))(\.\d{0,9})?$|"/>
    <add key="RegExpAlphaNumWithDash" value="^[0-9]{1}[0-9\-]*$"/>
    <add key="RegExpDoublePositiveNonZeroFourDeci" value="^(\$|)([1-9]\d{0,2}(\,\d{3})*|([1-9]\d*))(\.\d{4})?$"/>
    <add key="RegExpAcNumber" value="^[1-9]{1}[0-9]{4}"/>
    <add key="RegExpSubAcNumber" value="^[0-9]{2}"/>
    <add key="RegExpAlphaNumSpaceStrict" value="^[a-zA-Z0-9\s]+$"/>
    <add key="RegExpDoublePositiveNonZeroStartWithZero" value="^(\$|)([0-9]\d{0,9}(\,\d{0,9})*|([1-9]\d*))(\.\d{0,9})?$"/>
    <add key="RegExpDoublePositiveWithZeroFourDeci" value="^(\$|)([0-9]\d{0,9}(\,\d{0,9})*|([1-9]\d*))(\.\d{0,9})?$|[0-9]\.\d{0,9}|\.\d{0,9}"/>
    <add key="RegExpPasswordOneNumeric" value="^.*(?=.{8,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&amp;+=!~&lt;&gt;{}():;`\*\|\.\-\,\[\]\/\\_\?]).*$"/>
    <add key="RegExpDoublePositiveNonZeroStartWithZeroForFedId" value="^([0-9]\d{0,9}(\d{0,9})*|([1-9]\d*))(\d{0,9})?$"/>
    <add key="RegExpPositiveCurrency" value="^(\.\d{0,9})?(\d{1,3},?(\d{3},?)*\d{3}(\.\d{0,9})?|\d{1,3}(\.\d{0,9})?)([kmKM])?$"/>
    <add key="RegExpDoublePositiveWithZeroNonDollar" value="^([0-9]\d{0,9}(\,\d{0,9})*|([1-9]\d*))(\.\d{0,9})?$|[0-9]\.\d{0,9}|\.\d{0,9}"/>
    <add key="RegExpCpf_Cnpj" value="^([0-9]{3}[.][0-9]{3}[.][0-9]{3}[-][0-9]{2})|([0-9]{2}[.][0-9]{3}[.][0-9]{3}[/][0-9]{4}[-][0-9]{2})$"></add>
    <add key="RegExpZipBrazil" value="(^\d{5}$)|(^\d{5}[-]\d{3}$)"/>
    <add key="RegExpPhoneBrazil" value="^(\d{2}[-]\d{2}[-]\d{4}[-]\d{4})|(\d{4}[-]\d{4})$"/>
    <!-- Validation Keys [END]-->
    <!--Keys for Reports Module-->
    <!--<add key="ReportServer" value = "http://192.168.33.15/reportserver"></add>-->
    <!--New key for Reports Module -->
    <add key="ReportServer" value="http://192.168.91.48/EAWReportserver"></add>
    <!-- Other Keys [START]-->
    <add key="IDomain" value="indiaebix"></add>
    <add key="IUserName" value="kuldeep.saxena"></add>
    <add key="IPassWd" value="Ebix@2011"></add>
    <add key="ServerName" value="seti.ebix.com"/>
    <add key="UploadURL" value="/cms/Upload"/>
    <add key="CoverageRows" value="10"/>
    <add key="MinYear" value="1900"/>
    <add key="FOOTER_TEXT" value="Powered By Ebix"></add>
    <add key="WebServerDateFormat" value="dd/MM/yyyy"/>
    <add key="WebServerDateFormatSeparator" value="/"/>
    <add key="CSS_FILE" value="css3.css"></add>
    <add key="RootURL" value="/cms/cmsweb"/>
    <add key="securityXML" value="&lt;Security&gt;&lt;Read&gt;Y&lt;/Read&gt;&lt;Write&gt;Y&lt;/Write&gt;&lt;Delete&gt;Y&lt;/Delete&gt;&lt;Execute&gt;Y&lt;/Execute&gt;&lt;/Security&gt;"></add>
    <add key="XMLMessagesPath" value="\cms\cmsweb\support\CustomizedMessages.xml"></add>
    <add key="Country" value="0"/>
    <add key="CmsPath" value="/cms/"/>
    <add key="DIV_ID" value="210"></add>
    <add key="DEPT_ID" value="103"></add>
    <add key="PC_ID" value="147"></add>
    <add key="Total_Record" value="8"></add>
    <!-- Other Keys [END]-->
    <!-- RATING AND RULE INFORMATION -->
    <add key="MasterDataXMLPath" value="\cms\cmsweb\XSL\Quote\MasterData\ProductFactorsMaster.xml"></add>
    <add key="MasterDataXSLPath" value="\cms\cmsweb\XSL\Quote\MasterData\ProductFactorsMaster.xsl"></add>
    <add key="CmsWebUrl" value="http://localhost/cms/cmsweb/"></add>
    <!-- CHANGE IT TO YOUR IP -->
    <add key="DefBankAccountId" value="3"></add>
    <!--External Agency Url -->
    <add key="ExtAgnUrl" value="http://www.google.com"></add>
    <!-- For HO START-->
    <add key="FinalQuoteHO3" value="XSL/Quote/PremiumPath/HO/FinalQuote.xsl"></add>
    <add key="CheckPdfPath" value="/cms"></add>
    <!-- For HO END-->
    <!-- Keys for Fax -->
    <add key="FAX_HOSTURL" value="seti.ebix.com"/>
    <add key="FAX_HOSTPORT" value="25"/>
    <add key="FAX_USERID" value="apraveen@ebix.com"/>
    <add key="FAX_USERPWD" value="33apra"/>
    <add key="FAX_NUMBER_SUFFIX" value="wolverine.com"/>
    <!--add key="RegExpIntegerPositiveNonZero" value="^[1-9]\d*$" / -->
    <add key="RegExpIntegerPositiveNonZero" value="^[1-9]\d{0,9}(\,\d{0,9})*$"/>
    <add key="RegExpSiteUrlWeb" value="([\w-]+\.)+[\w-]+(/[\w- ./?%&amp;=]*)?"/>
    <add key="NewBusinessProcess" value="N"></add>
    <add key="NaicCode" value="15407"></add>
    <!--Key for Rule Default Values-->
    <add key="DOCMERGEVERSION" value="1.0.0.6"></add>
    <add key="PriorDaysDiff" value="10"></add>
    <add key="Impersonate" value="1"></add>
    <!-- 0 No Impersonation ,1 Check Impersonation -->
    <add key="RegExpAlphaNumWithDash" value="^[0-9]{1}[0-9\-]*[0-9]+$"/>
    <add key="RegExpFederalID" value="^[0-9]{8,9}"/>
    <add key="WolverineUser1" value="3"></add>
    <add key="WolverineUser2" value="70"></add>
    <!-- <add key="RegExpDecimal" value="^((\$\d*)|(\$\d*\.\d{2})|(\d*)|(\d*\.\d{2}))$"/> -->
    <add key="RegExpDecimal" value="^((\d*)|(\d*\.\d*))$"/>
    <add key="RegExpDoublePositiveNonZeroNotLessThanOne" value="^(\$|)([1-9]\d{0,9}(\,\d{0,9})*|([1-9]\d*))(\.\d{0,9})?$"/>
    <add key="RegExpDrivLicIN" value="^[0-9]{10}$"/>
    <add key="RegExpDrivLicMI" value="^[a-zA-Z]{1}[0-9]{12}$"/>
    <add key="RegExpDrivLicWI" value="^[a-zA-Z]{1}[0-9]{13}$"/>
    <add key="RegExpIntegerSign" value="^(\-){0,1}\d+$"/>
    <add key="RegExpDoublePositiveNonZeroStartNotZero" value="^(\$|)([1-9]\d{0,9}(\,\d{0,9})*|([0-9]\d*))\.(\d{0,9})?$|[1-9]\d*$"/>
    <!--Keys for PayPal-->
    <add key="HostName" value="pilot-payflowpro.paypal.com"></add>
    <add key="PaypalPartner" value="paypal"></add>
    <add key="PayPalUserName" value="ebixasp"></add>
    <add key="PayPalPassword" value="ebixasp1"></add>
    <add key="PayPalVendor" value="ebixasp"></add>
    <!--Keys for PayPal-->
    <add key="CapitalURL_Param" value="GUID"></add>
    <add key="CapitalURL_Acord_Node" value="CapitalURL"></add>
    <add key="RegExpNegativeCurrency" value="^(\-){0,1}[\,\d]+$"/>
    <!--add key="RegExpWebSiteUrl" value="^([w]{3}|[W]{3})\.[a-zA-Z\d\-/?%&amp;_=~'*+/^$#]+\.(co([m]|\.us)|CO([M]|\.US))$" / -->
    <add key="RegExpWebSiteUrl" value="^([w]{3}|[W]{3})\.[a-zA-Z\d\-/?%&amp;_=~'*+/^$#]+\.(co([m]|\.us|\.in|\.uk|\.br)|CO([M]|\.US|\.IN|\.UK|\.BR)|com(.us|\.in|\.uk|\.br)|COM(.US|\.IN|\.UK|\.BR))$"/>
    <add key="RegExpDoublePositiveStartWithDecimal" value="^(\$|)(\.){0,1}([0-9]\d{0,9}(\,\d{0,9})*|([1-9]\d*))(\.\d{0,9})?$"/>
    <add key="RegExpPhoneAll" value="((\(\d{3}\)?)|(\d{3}-))?\d{3}-\d{4}|^\d+$"/>
    <add key="RegExpDoubleZeroToPositive" value="^(\$|)([1-9]\d{0,9}(\,\d{0,9})*|(\d*))(\.\d{0,9})?$"/>
    <add key="RegExpDoublePositiveWithMoreThanOneDecimalAndComma" value="^(\$|)(\.\d{0,9}){0,1}([0-9]\d{0,9}(\,\d{0,9}|\.\d{0,9})*|([1-9]\d*))(\.\d{0,9})?$"/>
    <!-- External Agency URL-->
    <add key="ExtAgnUrl" value="http://www.wolverinemutual.com/agents/?id="></add>
    <add key="FAX_NUMBER_SUFFIX" value="FaxMaker.com"/>
    <add key="RegExpShortDate" value="(0[1-9]|[1-9]|1[012])[-]([0-9][0-9])"/>
    <add key="RegExpHexadecimal" value="^[a-zA-Z0-9&amp;,]+$"/>
    <add key="WebServiceURL" value="/webservices/WSCCmsCommon.asmx?WSDL"></add>
    <add key="CapitalAuthenticationToken" value="21LGI+EC6Bm"></add>
    <add key="AuthenticationToken" value="NnkENmCzaZUlkSvGLDgZwr3Vj1x5kwc9n4S2KT6CvpbW6yed6GXax4xE2KHFbMgn"></add>
    <add key="ConfigFile" value="/cmsweb/support/BRICSConfig.xml"></add>
    <add key="RegExpUnderwritingTier" value="^[a-gA-G]{1}[1]{1}$"></add>
    <add key="RegExpTransactionID" value="^[a-zA-Z0-9\s]{13}"/>
    <add key="RegExpBranchCode" value="^[a-zA-Z0-9\s]{2}"/>
    <add key="RegExpDateBrazil" value="(0[1-9]|[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|[1-9]|1[012])[- /.](19|20)\d\d"/>
    <add key="RegExpSUSEPNUM" value="^[0-9]{5}"/>
    <add key="RegExpClientNameBrazil" value="^[a-zA-Z0-9\s.\-'&amp;,áâãàéêíóôõúÁÂÃÀÇÉÊÍÓÔÕÚ]+$"/>
    <add key="RegExpAppPolicyNum" value="^[a-zA-Z0-9\s.\-'&amp;,]+$"/>
    <add key="RegExpAppPolicyNumBrazil" value="^[a-zA-Z0-9\s.\-'&amp;,áâãàéêíóôõúÁÂÃÀÇÉÊÍÓÔÕÚ]+$"/>
    <add key="RegExpBankofAgency" value="^(\d{0,18}[-]\d{1})|(\d{0,20})$"/>
    <add key="RegExpCurrencyBrazil" value="^\-?\d+((\,\d{2})|(\,\d{4}))$"/>
    <add key="RegExpCurrencyFormatBrazil" value="^-?(\,\d{0,9})?(\d{1,3}.?(\d{3}.?)*\d{3}(\,\d{0,9})?|\d{1,3}(\,\d{0,9})?)$"/>
    <add key="RegExpPositiveCurrencyBrazil" value="^(\,\d{0,9})?(\d{1,3}.?(\d{3}.?)*\d{3}(\,\d{0,9})?|\d{1,3}(\,\d{0,9})?)?$"/>
    <add key="RegExpNegativeCurrencyBrazil" value="^(\-){0,1}[\.\d]+$"/>
    <add key="RegExpDoubleZeroToPositiveBrazil" value="^(\[R$]|)([1-9]\d{0,9}(\.\d{0,9})*|(\d*))(\,\d{0,9})?$"/>
    <add key="RegExpDoubleBrazil" value="^\d+(\,\d+)?$"/>
    <add key="RegExpDoublePositiveNonZeroStartNotZeroNonDollarBrazil" value="^([1-9]\d{0,9}(\.\d{0,9})*|([0-9]\d*))\,(\d{0,9})?$|[1-9]\d*$"/>
    <add key="RegExpDoublePositiveNonZeroBrazil" value="^([1-9]\d{0,9}(\.\d{0,9})*|([1-9]\d*))(\,\d{0,9})?$|[0-9]\,\d{0,9}|\,\d{0,9}"/>
    <add key="RegExpDoublePositiveZeroBrazil" value="^(\[R$]|)([1-9]\d{0,9}(\.\d{0,9})*|([1-9]\d*))(\,\d{0,9})?$"/>
    <add key="RegExpDoublePositiveWithZeroBrazil" value="^(\[R$]|)([0-9]\d{0,9}(\.\d{0,9})*|([1-9]\d*))(\,\d{0,9})?$"/>
    <add key="RegExpDoublePositiveNonZeroFourDeciBrazil" value="^(\[R$]|)([1-9]\d{0,2}(\.\d{3})*|([1-9]\d*))(\,\d{4})?$"/>
    <add key="RegExpDoublePositiveNonZeroStartWithZeroBrazil" value="^(\[R$]|)([0-9]\d{0,9}(\.\d{0,9})*|([1-9]\d*))(\,\d{0,9})?$"/>
    <add key="RegExpDoublePositiveWithZeroFourDeciBrazil" value="^(\[R$]|)([0-9]\d{0,9}(\.\d{0,9})*|([1-9]\d*))(\,\d{0,9})?$|[0-9]\,\d{0,9}|\,\d{0,9}"/>
    <add key="RegExpIntegerPositiveNonZeroBrazil" value="^[1-9]\d{0,9}(\.\d{0,9})*$"/>
    <add key="RegExpDecimalBrazil" value="^((\d*)|(\d*\,\d*))$"/>
    <add key="RegExpDoublePositiveNonZeroNotLessThanOneBrazil" value="^(\[R$]|)([1-9]\d{0,9}(\.\d{0,9})*|([1-9]\d*))(\,\d{0,9})?$"/>
    <add key="RegExpDoublePositiveNonZeroStartNotZeroBrazil" value="^(\[R$]|)([1-9]\d{0,9}(\.\d{0,9})*|([0-9]\d*))\,(\d{0,9})?$|[1-9]\d*$"/>
    <add key="RegExpDoublePositiveStartWithDecimalBrazil" value="^(\[R$]|)(\,){0,1}([0-9]\d{0,9}(\.\d{0,9})*|([1-9]\d*))(\,\d{0,9})?$"/>
    <add key="RegExpDoublePositiveWithMoreThanOneDecimalAndCommaBrazil" value="^(\[R$]|)(\,\d{0,9}){0,1}([0-9]\d{0,9}(\.\d{0,9}|\,\d{0,9})*|([1-9]\d*))(\,\d{0,9})?$"/>
    <add key="RegExpBankAccountNumber" value="^(\d{6}[-]\d{1})|(\d{7})|(\d{6})$"/>
    <add key="RegExpBankBranch" value="^(\d{6}[-]\d{1})|(\d{7})|(\d{5})$"/>
    <add key="PagnetInterfacePath" value="\cms\Upload\PagnetExportFiles\"/>
    <add key="MelEventInterfacePath" value="\cms\Upload\MelEvents\"/>
    <add key="PdfTemplatePath" value="D:\Projects\EBIX-ADVANTAGE-BRAZIL\EbixAdvPDFService\EbixAdvPDFService"/>
    <add key="AcceptedCOIUploadURL" value="/cms/Upload/AcceptedCOILoad"/>
    <add key="AcceptedCOIUploadFilePath" value="/AcceptedCOILoad/"/>
    <!-- Added by Santosh Kr Gautam on 18 Aug 2011-->
    <add key="InitialLoadURL" value="/cms/Upload/InitialLoad"/>
    <add key="InitialLoadFilePath" value="/InitialLoad/"/>
    <add key="PdfPath" value="\\localhost\upload"/>
    <add key="ClausePath" value="\ClausesAttachment\"/>
    <add key="RegExpAgencyPhone" value="^1?((\(\d{2}\) ?)|(\d{2}-))?\d{4}-\d{4}"/>
    <add key="eRateWebServiceURL" value="http://localhost/eRateEngine_SG/eRateEngine.asmx"></add>
    <add key="PdfDocumentPathURL" value="http://localhost/Cms/CmsWeb/XSL/Quote/TempCOI.pdf"></add>
    <add key="RegExpTollFree" value="^\d{0,11}$"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <httpRuntime requestValidationMode="2.0" executionTimeout="240" maxRequestLength="20480"/>
    <compilation debug="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages enableEventValidation="false" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
    </pages>
    <httpHandlers>
      <add path="ajax/*.ashx" verb="POST,GET" type="Ajax.PageHandlerFactory, Ajax"/>
      <add path="ImagemCodigoBarra.ashx" verb="*" type="Cms.BusinessLayer.BlBoleto.ImagesBarCodeHandler" validate="false"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="Cms.CmsWeb.QueryStringModule" type="Cms.CmsWeb.QueryStringModule"/>
      <add name="AjaxRequestModule" type="Coolite.Ext.Web.AjaxRequestModule, Coolite.Ext.Web"/>
    </httpModules>
    <sessionState mode="SQLServer" stateConnectionString="tcpip=192.168.91.34" sqlConnectionString="data source=wolv\sql2008;user id=sa;password=ebix123" cookieless="false" timeout="30" stateNetworkTimeout="15"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="Cms.CmsWeb.QueryStringModule" type="Cms.CmsWeb.QueryStringModule"/>
      <add name="AjaxRequestModule" type="Coolite.Ext.Web.AjaxRequestModule, Coolite.Ext.Web"/>
      <remove name="Session"/>
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="Ajax" verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
  </system.webServer>
</configuration>
