<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>


	<appSettings>
    <!--<add key="conString" value="Data Source=NOIATSHP3090;Initial Catalog=EBIX-ADV-ALBA-PROD-27102011-CC;Persist Security Info=True;User ID=sa;pwd=sa123"/>-->
    <!--<add key="conString" value="user id=sa;password=Eb1x@2010;initial catalog=EBIX-ADV-ALBA;data source=192.168.91.240;Connect Timeout=0"></add>-->


    <!--uat liv-->
    <!--<add key="conString" value="user id=sa;password=sa123;initial catalog=EBIX-ADV-ALBA-UAT-18072011;data source=atul;Connect Timeout=0"></add>-->

    <!--35-->
    <add key="conString" value="user id=sa;password=ebix123;initial catalog=EBIX-ADV-ALBA-UAT;data source=192.168.91.34\sql2008;Connect Timeout=0"></add>

    <!--240-->
    <!--<add key="ConnectionString" value="user id=sa;password=Eb1x@2010;initial catalog=EBIX-ADV-ALBA;data source=192.168.91.240;Connect Timeout=0"></add>-->

    <!--<add key="conString" value="user id=sa;password=sa123;initial catalog=EBIX-ADV-ALBA-UAT-08112011;data source=NOIATSHP3090;Connect Timeout=0"></add>-->
    <add key="FilePathCommission" value="D:\EBIXADVU32\ARQ_TROCA\INTERPAG\COMISSAO\APR\"/>
		<add key="FilePathClaimExp" value="D:\EBIXADVU32\ARQ_TROCA\INTERPAG\DESP_SINISTRO\APR\"/>
		<add key="FilePathClaimInd" value="D:\EBIXADVU32\ARQ_TROCA\INTERPAG\INDE_SINISTRO\APR\"/>
		<add key="FilePathCustRefund" value="D:\EBIXADVU32\ARQ_TROCA\INTERPAG\DEV_PREMIO\APR\"/>
		<add key="FilePathCORI" value="D:\EBIXADVU32\ARQ_TROCA\INTERPAG\COSS_RESSEGURO\APR\"/>
		<add key="PathToImport" value="D:\PagnetReturnFiles\Import"/>
		<add key="FilePathForMelEvents" value="D:\EBIXADVU32\ArqsITG\Arq_Troca\Sun\mel_eventos\"/>
		<add key="EventLogFileName" value="FilePagnetEventLog.txt"/>
		<add key="IntervalMinutes" value="1"/>
		<add key="IntervalMinutesDayFlag" value="60"/>
		<add key="IntervalMinutesMelEvents" value="30"/>
		<add key="UserId" value="npujari"/>
		<add key="Password" value="Ebix@2010"/>
		<add key="Domain" value="India"/>
		<add key="ImpersonateInactive" value="0"/>
		<!--<add key="TimeToExport" value="11" />-->
		<add key="TimeToImport" value="15"/>
		<add key="TimeToExpMelEvents" value="11"/>
		<!--<add key="FolderPermission" value="Lock"/>-->
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
